[2019-05-17 10:40] #5879 closed, assigned to ojw28

[2019-05-17 10:41] ojw28 commented on #5855
It may be that you can work around the problem with Sony devices by setting `multiSession = true` when instantiating `DefaultDrmSessionManager`. I'd suggest you give that a try.

[2019-05-17 10:49] ItsRay opened #5904 "Stop forever after buffering after playing 43 minutes"
[REQUIRED] Content description
After I played my HLS content for 42:59 (minute:second), the player state turned to STATE_BUFFERING and stopped in this state forever.

No matter where the start time is, the player goes to STATE_BUFFERING after playing about 42 minutes and 59 seconds.

[REQUIRED] Link to test content
provided by email.

[REQUIRED] Version of ExoPlayer being used
2.10.
By the way, I

[2019-05-17 11:27] ojw28 commented on #5590
The stream is just giving 403 response codes for me. Please can you make sure it's accessible?

[2019-05-17 11:30] ojw28 commented on #5681
I don't really understand why this issue and #5590 both exist, given the same test stream has been provided for both. The provided stream is not accessible for me. I'm going to duplicate the two issues together until we at least have a working stream for us to look at. Closing this one as duplicate.

[2019-05-17 11:34] sureshcnvidia commented on #5096
We have checked this issue with Exoplayer demo and is fixed in our next upcoming public release for Shield.

[2019-05-17 11:47] FrostByteLXV commented on #5096
Great, thank you sir

[2019-05-17 12:12] tonihei commented on #5725
I investigated this problem a bit and I think it's working as expected.

Each touch event gets forwarded to the lowest-level `View` first. That means `PlayerView` gets the first chance to handle a touch event before the `Activity` gets the event. Because `PlayerView `does indeed handle the touch event (for DOWN and UP), it returns true from `onTouchEvent`. That also means that elements higher up i

[2019-05-17 12:13] #5725 closed, assigned to tonihei

[2019-05-17 12:31] rishabh876 commented on #5867
Thank you so much. I have tested this code. Working as expected.

[2019-05-17 12:31] #5867 closed, assigned to erdemguven

[2019-05-17 12:41] AndroidDeveloperLB commented on #5389
You mean to show an ImageView on top, with this bitmap while hiding the player, and letting it drag&drop ?

[2019-05-17 12:42] ojw28 commented on #5885
It looks from your email that you're seeing ~90% of all frames being dropped. Is that correct, and does that occur consistently? I tried the test video on a Galaxy S8 and see about 65% frame drop on 2.9.6 and 2.10.0, so I don't see a regression. I'll try and get hold of an S9 for some further testing.

Are you sure you haven't done something else to cause you to measure worse performance on 2.10.0

[2019-05-17 12:47] CBers commented on #5096
Closed?

It's not fixed until the release has been made GA and people can confirm it's fixed.

[2019-05-17 12:48] ojw28 commented on #5096
It's not an ExoPlayer issue, so this isn't the right place to be tracking it.

[2019-05-17 13:12] CBers commented on #5096
OK, thanks.

[2019-05-17 13:29] ojw28 commented on #5904
This is similar to #2233. The root cause is that the segment durations listed in the media playlists are rounded to integer precision. The sum of the durations then drifts over time. This means that the further down the media playlist you go, the greater the drift between the media the playlist claims is in a segment, and the media that the segment actually contains. This causes ExoPlayer's buffer

[2019-05-17 13:29] #5904 closed, assigned to nobody

[2019-05-17 13:46] andrewlewis commented on #5902
It would be useful if you could set `ImaAdsLoader.DEBUG` to true then reproduce the issue, take a bug report and send it over. This enables some logging that shows what the IMA API is doing.

You mention that this issue is tied to DRM content. Just to clarify, can you not reproduce it when playing clear content? That sounds strange. If you can share the ad tag via email anyway that would be helpfu

[2019-05-17 14:02] andrewlewis commented on #5875
I couldn't find any more information about this I'm afraid. We haven't heard other reports of the same error. Is Dexguard up to date, and does it handle Java 8 default methods properly? Do you have any other customizations to the build process that might be related, e.g. desugaring? Do you see any issues if you use proguard/D8/R8 instead?

[2019-05-17 15:43] Odysseos commented on #5887
Unfortunately attached stacktrace is only the information which I see in Play Console.

[2019-05-18 02:02] aleeherasimiuk opened #5905 "How to cast to other devices?"
Hello, I would like my application, using Exoplayer, to transmit devices like Roku, Smart TV and other decoders besides chromecast.

Currently, the exoplayer Cast extension supports transmitting only to chromecast. My audience prefers smart tv.

Is there a way to get it?

[2019-05-18 06:24] BROUDING commented on #5896
Confirmed that `durationUs` in `createMediaSource` doesn't affect the run time of any medias..

[2019-05-18 08:21] AlexDundar opened #5906 "How to obtain programmatically video type - Live or DVR"
I use the last version of `ExoPlayer` (2.10.0) in my `Android` app. And I want to play different video types (VOD, LIVE, DVR) with different videoplayer interface. For example, I want to show `DefaultTimeBar` on `ExoPlayer` controlls in VOD and DVR videos and I want to hide this view when video is LIVE.

All videos play well, but I dont know, how to check programmatically the type of video. I was

[2019-05-18 19:20] giladna commented on #5681
@ojw28

There a 2 issues

1. the black screen (This issue) for video and audio is working fine for some Android 9 devices
2. same stream but in that stream the bitrate switching is not possible ( #5590)

I have provided 2 bugreports  for each of the problems where the ( #5590) issue for same stream but on device where video playback is fine so I am not considering it same issue.

Regarding stream

[2019-05-18 19:23] giladna commented on #5681
@ojw28
If we enable UK for the GEO does it work for you?

[2019-05-19 10:08] rehmanmuradali commented on #5097
I want to use seeking forward and backward in radio stream live. the content type is audio/mpeg.  Is this stream is supported for seeking in exoplayer ?
Stream : http://149.56.195.94:8322/bolpunjabiradio

[2019-05-19 10:23] rehmanmuradali opened #5909 "Seeking support in Exoplayer with MPEG"
Hi, I am using live radio stream: http://149.56.195.94:8322/bolpunjabiradio
I am trying to seek backward and forward. Is seeking supported in this stream ?
I found its content type audio/mpeg

[2019-05-19 10:25] rehmanmuradali commented on #5909
Hi, I am using live radio stream: http://149.56.195.94:8322/bolpunjabiradio
I am trying to seek backward and forward. Is seeking supported in this stream ?
I found its content type audio/mpeg

[2019-05-19 15:43] giladna opened #5910 "Nokia 8.1 Android Q DRM Playback Fails"
### [REQUIRED] Issue description
### [REQUIRED] Reproduction steps

Run Ver 2.10 Exo Demo App on Nokia 8.1
Run WideVine Dash Section WebM,VP9  -> run the First secure sample SD&HD
Result: DRM playback fails

### [REQUIRED] Link to test content
DRM content in Demo App

[bugreport-PNX_00WW_FIH-QKQ1.190406.002-2019-05-19-18-11-03.zip](https://github.com/google/ExoPlayer/files/3195258/bugreport-PNX_00

[2019-05-20 01:02] workspace commented on #5885
It is my mistake to think that a version upgrade has affected performance. I also get frame drop on 2.9.6 and 2.10.0 either. I think ExoPlayer has a problem with 2.0 speed playback of 60fps video(maybe buffer release logic?). I will try playback with another 60fps sample.

[2019-05-20 02:28] dbrain commented on #5902
@andrewlewis I've emailed the new bugreport with `ImaAdsLoader.DEBUG = true` and the ad tag in the same thread as the previous bugreport.

Sorry, I didn't word the `Link to test content` section great. I don't believe it's tied to DRM content, I was just mentioning that our content is DRM protected, in case that's related somehow, and that getting test content for you would be a bit of a hassle (b

[2019-05-20 05:07] Marx-Hong opened #5911 "How can I play a link that contains a header?"
### [REQUIRED] Question
How can I play a link that contains a header?
This is my code：
[code]
It does not work.
but it is work with MediaPlayer in android.
[ExoPlayerLib/2.10.0] [platina, MI 8 Lite, Xiaomi, 28]

[2019-05-20 07:36] andrewlewis commented on #5909
I'm afraid we don't support seeking in this stream as it's a live MP3. Please see also #4917.

[2019-05-20 07:36] #5909 closed, assigned to andrewlewis

[2019-05-20 07:40] andrewlewis commented on #5097
@rehmanmuradali This issue relates to MPEG-TS specifically. I've replied to your question on #5909. Please don't cross-post.

[2019-05-20 07:44] zedxer opened #5912 "How to clear playerNotification without using StopForground(true),"
How to clear playerNotification without using StopForground(true),
-----------------------
I needed to clear notification when player is paused or stopped but the problem is that I was unable to do this without using [this](https://github.com/google/ExoPlayer/issues/4256#issuecomment-388936681)
but this cause my app to crash leaving this Fatal exception.

[code]
Here is the notification listener.

[2019-05-20 08:04] andrewlewis commented on #5905
We don't currently have any integrations with other Cast-like SDKs.

[2019-05-20 08:09] GaureeshA opened #5913 "What is the right way to access dash segments, make some changes to it, and replace back the new segments in the buffer?"
### [REQUIRED] Searched documentation and issues
Tried searching a lot on StackOverflow and also the issues under github/exoplayer.

### [REQUIRED] Question
Any tips on how to proceed so that I can access the dash segments in real-time, make some changes(something like Super Resolution) and replace the segments back in the buffer. Which class/method should I focus upon?

[2019-05-20 08:11] giladna commented on #5910
I have filed all data I have
I think it is all that required

[2019-05-20 09:01] marcbaechinger commented on #5912
I'm not sure how the code snippet is related to the stack trace.

The stack trace of the exception seems to be caused by a call to 'startForegroundService()' which then is not followed by a call to 'Service.startForeground()'. From the code above I don't understand how the snippet which calls `stopForeground()` triggers this. I'd watch out for some code which is triggering calling `startForeground

[2019-05-20 09:24] bychkovdmitry opened #5914 "Downloads: add download failure reasons"
### [REQUIRED] Use case description
User has ran out of free space on his/her device. He/she starts download and after several retries gets status update with "unknown" failure reason.

### Proposed solution
Add FAILURE_REASON_INSUFFICIENT_FREE_SPACE to Download.FailureReason IntDef.

### Alternatives considered
If aforementioned solution is hard to implement, could you at least add support for mi

[2019-05-20 09:29] AlexDundar commented on #5906
Nobody knows?

[2019-05-20 09:32] tonihei commented on #5906
That's a duplicate of #2668. We don't have this flag currently and you can only guess based on the other flags. Note though, that our implementation will still include some guesswork because their is often not a clear-cut boundary between live and on-demand (think about an ended live stream for example).

[2019-05-20 09:33] #5906 closed, assigned to tonihei

[2019-05-20 09:39] tfcporciuncula opened #5915 "Allow DownloadManager do automatic track selection"
### Issue description
Whenever I start a download (~by calling `DownloadService.sendAddDownload()`~ see [this comment](https://github.com/google/ExoPlayer/issues/5915#issuecomment-494668591)) while offline, I don't see the download queued when I check the downloads in the `DownloadManager` (either through `currentDownloads` or `downloadIndex`). Calling `isWaitingForRequirements()` returns false, b

[2019-05-20 09:42] tfcporciuncula commented on #5915
Maybe I shouldn't have removed the "[REQUIRED]" from the titles? They're so noisy, though.

[2019-05-20 09:45] fwjavox commented on #5873
As far as I understand, "same content" means samething like same tv show or radio program, not the same binary data. Otherwise it would contradict one of the next points in the list that says: "Content that appears in a Media Playlist of one Variant Stream but not in another MUST appear [...]".

The fix might be a lot simpler than that. In [RFC section 6.3.2](https://tools.ietf.org/html/rfc8216#se

[2019-05-20 09:57] zedxer commented on #5912
Apologies for not posting complete code.  I have update the question now, And thanks this resolves my problem.

[2019-05-20 11:04] randauto commented on #4200
I have same issue.
Link test my rtmp:
http://hlstester.com/new-hls-player/?url=rtmp://5a6872aace0ce.streamlock.net/nghevov1//vov1.stream_aac

rtmp://5a6872aace0ce.streamlock.net/nghevov1//vov1.stream_aac -> can play welll but when playing in Exo player with this extension, it can not play.

[2019-05-20 11:36] alfonsoramosa commented on #4616
@ojw28 Are you planning add support for discontinuities and gaps soon?

[2019-05-20 11:47] juanpef commented on #5855
Thank you.

It hasn't worked...
It is very strange that it is happening just on Live channels, but VOD channels, whose audio and video tracks are encrypted on the same way, and is using the same Licenser, are working properly.

[2019-05-20 12:29] juanpef commented on #5855
Is there some way to play only one video track using ExoPlayerDemo? So, I can test if the problem is totally related with audio encryptiion.

Regards

[2019-05-20 12:31] ojw28 commented on #5855
Yes. Just change the track selection during playback. It should be fairly self explanatory how to select just a single track, disable tracks etc.

Edit: I think you can also do this after playback has failed, and then press the play button to restart playback with the new selection.

[2019-05-20 12:48] ojw28 commented on #5896
ExoPlayer considers the end of the media to be the point at which all media has been played, including subtitles. _Why_ is the subtitle longer than the video? It sounds like the media is kind of broken to me.

I don't think we have any plans to provide an easy mechanism for working around this.

[2019-05-20 12:49] tonihei commented on #5896
You can also try to use a `ClippingMediaSource` to clip the subtitle source to the length of the video. This requires to know that in advance though.

[2019-05-20 12:52] ojw28 commented on #5911
There's not enough context here for us to help you with your problem. The 2 lines of code in particular. It's unclear what `dataSource.headerMap.get("Referer")` is, and what you end up doing with `dataSourceFactory`.

[2019-05-20 13:02] ojw28 commented on #5885
I'm not sure it's entirely reasonable to expect that the device would be able to play back at 120fps. Are you sure you're not just hitting the performance limit of the device? Also, note that dropping 50% of the frames would actually be optimal, rather than 0%, given 120fps is double the display refresh rate.

[2019-05-20 13:04] Marx-Hong commented on #5911
[code]
"Referer" is a request header.I want to know if the request header is set correctly. thank you!

[2019-05-20 13:21] ojw28 commented on #5911
I think the code you have should work fine, for setting the "Referer" header to whatever `dataSource.headerMap.get("Referer")` is giving you.

[2019-05-20 13:44] AndrazP opened #5916 "ExoPlayer.retry(): Return boolean indicating if retry was possible"
### [REQUIRED] Use case description
[ExoPlayer.retry()](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/ExoPlayer.html#retry--) can simply retry a failed or stopped playback **in some cases**, but their is no indication if method was successful.
We would like to know if ExoPlayer.retry() was sufficient or do we need to call ExoPlayer.prepare() again to retry playback.

### Propos

[2019-05-20 15:26] rajeshghosh1978 opened #5917 "Is there any difference between 2.10.0.alpha1 and 2.10.0"
### [REQUIRED] Searched documentation and issues
I have tried in this forum and also tried to compare the versions below. But failed to get the alpha1 codebase.

### [REQUIRED] Question
We are using 2.10.0.alpha1 , and would like to use the same for the production build. But I can see you already release 2.10.0 , which we can't use right now. I have also tried to compare the code changes but faile

[2019-05-20 15:27] Marx-Hong commented on #5911
Thank you for your reply, it may be other issues

[2019-05-20 15:37] ojw28 commented on #5911
Closing for now.

[2019-05-20 15:37] #5911 closed, assigned to ojw28

[2019-05-20 15:40] ojw28 commented on #5917
The changes submitted to https://github.com/google/ExoPlayer/commits/dev-v2-r2.10.0 more recently than April 19th.

You should just switch to 2.10.0.

[2019-05-20 15:40] #5917 closed, assigned to ojw28

[2019-05-20 15:43] #5891 closed, assigned to marcbaechinger

[2019-05-20 15:44] #5735 closed, assigned to andrewlewis

[2019-05-20 16:15] juanpef commented on #5855
If I do it after playback, customData is the same and server considers it as reused...so, I cannot play and then disabled audio track. Could I disabled it by default for the first playback?

[2019-05-20 16:38] ojw28 commented on #5855
There is no easy way to do that in the demo app.

[2019-05-20 16:52] ojw28 commented on #5681
Probably. Although it would be highly preferable, in general, if you could just setup proper non-restricted test streams. Other streaming service providers are able to do this.

[2019-05-20 17:18] ojw28 commented on #5916
It can retry in all cases where playback has failed or stopped, unless the player has been reset. The condition in `retry()` is just checking that the player is actually in that state. So from the application's point of view there shouldn't be any ambiguity here...

Please could you provide more information about what the issue you're facing is? When is it ambiguous as to whether `retry()` will do

[2019-05-20 19:51] yjoo9317 opened #5918 "[Flutter][Video_player_plugin] Using ClippingMediaSource, it always shows the first frame first."
###  Searched documentation and issues
JavaDoc for Exoplayer, ClippingMediaSource and searched for issues related to the subject

### Question
I am developing an app using Flutter and the app involves in playing videos.
I am using video_plugin for flutter and I added a feature to play a specific range.
For that feature, I am using ClippingMediaSource.
The problem I have is that when it plays a spe

[2019-05-20 20:00] erdemguven commented on #5913
What kind of changes you want to do?

[2019-05-20 22:01] jackjohnsonn opened #5919 "Allow ExoPlayer to use MediaPlayer internally"
### [REQUIRED] Searched documentation and issues
I have realized that ExoPlayer does not support flac by default. After searching I have found the extra extension for flac playback. My issue with the extension is that even though it has an APACHE license, the components that it uses have licenses that would require me to release my commercial project's source which I do not want.

### [REQUIRED] Q

[2019-05-20 23:18] jackjohnsonn commented on #5919
I have also realized that the end result of the extension is a 1MB file which is too large.

[2019-05-21 01:20] johnsim commented on #5855
in discussions here at Microsoft - two observations;
1) PlayReady will block returning samples from an SL3000 license in the clear, so if the audio license is SL3000, you won’t be able to get clear samples to your audio renderer – decryption will simply fail. That is required by the compliance rules.

2) The guess here is the most likely root cause of your issue is that you are issuing a single SL

[2019-05-21 01:48] BROUDING commented on #5896
@ojw28 @tonihei
First, I appreciate your reply and time.
It is human error for subtitle makers, but it would have be awesome if media finish playing when video is done playing no matter what, since human error can happen anytime.

Now I'll try to work on `ClippingMediaSource` and see if the subtitle actually clipped as the `duration` I manually set...

[2019-05-21 05:26] GaureeshA commented on #5913
I have a Deep Learning model on the client side. I need to fetch segments while the video is playing from the buffer, perform super resolution, replace these new segments back in the buffer so that new frames are displayed.

[2019-05-21 06:48] mtariquekhan opened #5920 "Detect STATE_ENDED for each track that are in ConcatenatingMediaSource"
I have created a list of tracks using ConcatenatingMediaSource. The track list is playing perfectly but whenever one track gets finished I am not able to get STATE_END event. Although It gets called when all tracks that are in the list gets played completely.
Is it intended behavior? If yes then what is the alternative to listen to the end state whenever each track gets played completely.

[2019-05-21 08:12] andrewlewis commented on #5788
Closing due to inactivity. The commits referenced above mean that we log more useful diagnostic information for some cases where the extension fails to initialize.

[2019-05-21 08:12] #5788 closed, assigned to andrewlewis

[2019-05-21 08:16] AquilesCanta commented on #5633
I'll look into it this week.

[2019-05-21 08:19] giladna commented on #5910
@erdemguven  actually it happen in 3 devices out of 4 we tested running Q with same errors
OnePlus
Realme
Nokia
the only device where we tested and it is working is pixel3

[2019-05-21 08:54] AquilesCanta commented on #5873
That quote omits a very relevant piece (in bold):

   not in another MUST appear either at the beginning or at the end
   of the Media Playlist file and **MUST NOT be longer than the target
   duration**.

If my understanding is correct, then the length difference of both playlists shouldn't be > 10 seconds (i.e. the target duration), while in the provided sample, the difference is considerably bi

[2019-05-21 09:01] AlphaCircle opened #5921 "2.10.0 can't play two players with 60 fps media."
### [REQUIRED] Issue description
I am using LG V30 Android 8.0.0, API 26 and testing 2 players of Exoplayer. There was no issue in running 2 players with 60 fps mp4 file till version 2.9.6, but when the library has been upgraded to 2.10.0, I found an error message from exoplayer listener like this.
[code]
As a try to debug this issue, I tested 2 ways.
1) Looking at this message, I tried to change

[2019-05-21 09:07] marcbaechinger commented on #5912
Cool! I understand this is resolved, so I close this issue. Please re-open in case I misunderstood.

[2019-05-21 09:07] #5912 closed, assigned to marcbaechinger

[2019-05-21 09:09] rk8339811 commented on #5829
@ojw28 Thanks. It is working perfectly now. :)

[2019-05-21 09:09] marcbaechinger commented on #5798
Closing issue due to inactivity.

[2019-05-21 09:09] #5798 closed, assigned to marcbaechinger

[2019-05-21 09:10] marcbaechinger commented on #5792
Closing issue due to inactivity.

[2019-05-21 09:30] szaboa commented on #5633
Thank you!

[2019-05-21 09:35] andrewlewis commented on #5919
We thought about implementing this kind of fallback to MediaPlayer in the context of using audio offload before Android Q, but it's unclear that it's worth the extra complication and it seems infeasible to make the fallback invisible to apps. For example, there is no way to switch between player implementations while keeping the same AudioTrack for playlist use cases, and various ExoPlayer feature

[2019-05-21 10:46] T-10001 opened #5922 "VP9 extension ./generate_libvpx_android_configs.sh: Toolchain is unable to link executables"
### [REQUIRED] Searched documentation and issues
- Google searched the errors
- Looked at the libvpx source code git
- looked at all the issues which had title relevant to VP9 build failing

### [REQUIRED] Question
I get error when running the `cd ${VP9_EXT_PATH}/jni && ./generate_libvpx_android_configs.sh "${NDK_PATH}`

[code]

config.log for armeabi-v7a:
[code]
I may have seen similar errors, re

[2019-05-21 10:47] ojw28 commented on #5919
An in-between option would be to have a wrapper around `MediaPlayer` that implements our `Player` interface. It wouldn't achieve transparent fallback because you'd still have to pick which player to use, but it would let you switch easily between the two at the app layer, and use both with ExoPlayer's standard UI widgets and other components that operate on a `Player`. You could use `ExoPlayer` fo

[2019-05-21 11:20] erdemguven commented on #5918
This sounds like a bug.
Please provide complete information as requested in the bug template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md).

[2019-05-21 11:40] vkgyl2432 opened #5923 "Asus Zenfone: Audio playback stopped abruptly"
Issue description
Player stops playing media at offset - 1:57 for file - (https://d1l07mcd18xic4.cloudfront.net/audio/ef3edb4a-9f65-4ddf-80b8-d33773f0f7a3.m3u8)

Exoplayer version - 2.7.3 (using exoplayer-hls:2.7.3 for hls)
 Below is the stacktrace for the same.
[code]

[2019-05-21 11:46] soygabimoreno opened #5924 "ClippingMediaSource requires isPrepared flag to correctly check clipping assertions"
### Content description
When creating a ClippingMediaSource with an HTTP MediaSource for an AAC format source it fails to play and gives the following error, but if the startPosition=0 and the endPosition is the total duration of the song it works, meaning when it doesn't actually clip anything, but setting these parameters two trimming values will result in this error:

[code]

### Link to test c

[2019-05-21 11:46] erdemguven commented on #5915
I can't reproduce this on the demo app.

One thing to keep in mind is DownloadService and DownloadManager methods are asynchronous. It takes some time for the internal states to change.

[2019-05-21 11:53] ojw28 commented on #5913
I don't really understand what "super resolution" is, but this level of customization is beyond what we can provide detailed guidance on, sorry. Depending on whether "super resolution" is performed on compressed or decompressed samples, you should take a look at the the components under `DashMediaPeriod` or `MediaCodecVideoRenderer` respectively.

[2019-05-21 11:53] #5913 closed, assigned to ojw28

[2019-05-21 11:58] tonihei commented on #5920
That's basically a duplicate of #4728 or #4898.

If you try to detect STATE_ENDED for each track for analytics purposes, please note that we'll also provide a helper class in one of our next releases which allows you to track the state of each playlist item in a playlist independent of the other items. For example, each playlist item will get it's own ENDED state to simplify analytics tasks. I'll

[2019-05-21 12:21] tfcporciuncula commented on #5915
I'm sorry about my assumption that this was easily reproducible! I'll try to reproduce it on the demo app as well. I was aware about them being asynchronous but even after a while I was never able to see the items queued.

[2019-05-21 12:21] #5616 closed, assigned to marcbaechinger

[2019-05-21 12:22] ojw28 commented on #5616
This was in the `2.10.0` release.

[2019-05-21 12:55] tonihei commented on #5779
The commit above adds a DataSource for just-in-time resolution of URIs or DataSpecs to the library.

[2019-05-21 12:55] #5779 closed, assigned to tonihei

[2019-05-21 12:56] tonihei commented on #3661
We now added a `ResolvingDataSource` to the library to achieve the task above in an easier way. See https://github.com/google/ExoPlayer/commit/9aeaf2dbb098e58c9350b6f9014d53ce98b6d6b1 for details.

[2019-05-21 13:11] kaemanspk commented on #5693
Apologies for a somewhat delayed response.

•	What is the expected behavior?
We are playing Satellite TV Broadcast channels HD and SD such as CNN, Fox News, ESPN and so on some 100 channels.
We are trying to use Android EXO Player on an Android STB to achieve this. We also have a non Android STB which has giving perfectly satisfactory results. We want the EXO Player to provide similar results.
The

[2019-05-21 13:16] jackjohnsonn commented on #5919
Thank you so much for the detailed information, @andrewlewis @ojw28

I was actually hoping the newer APIs would have support for FLAC by default and that I would not have to ship the FLAC compiled extension with their APKs. So, I ran my project on an Android Pie emulator, without the FLAC extension. I have received the same error like the one on the other APIs:

UnrecognizedInputFormatException: N

[2019-05-21 14:00] andrewlewis commented on #5919
Regarding Android O and later support for FLAC: I think there is support for decoding FLAC sample data, so it should work without the extension if you can mux your FLAC streams into a Matroska container for example, but for reading .flac files the FLAC extension is still needed.

A MediaExtractor wrapper may be a more feasible option to investigate, as we can control rendering in that case. We use

[2019-05-21 15:09] rs146 opened #5925 "Is there a way to know whether an IMA ad being played is Pre-roll, Mid-roll, Post-roll?"
### Content Description

I would like to find out if there is a way to know if the ad currently being played is Pre-roll, Mid-roll or Post-roll. I can't seem to find a listener that exposes this information.
I am currently using the IMA ads event listener on the `ImaAdsLoader`:

[code]
### ExoPlayer Version
2.9.2

[2019-05-21 15:14] fwjavox commented on #5873
That would probably fix the problem.

It's a bit unclear to me if this statement targets the segments (i.e. each segment separately) or the sum of the segments. I will think about it.

[2019-05-21 17:09] erdemguven commented on #5922
I can reproduce this. I tried a range of NDKs from r10e to r19c.

[2019-05-21 17:25] erdemguven commented on #5923
I can't reproduce this on Nexus 6. Have you tried another device or a newer version of ExoPlayer?

[2019-05-21 17:44] marcbaechinger commented on #5836
Can you narrow down a bit how you transition the player from inline view to fullscreen? I understand you are using two different Activities. How do you transition the player from the first activity to the fullscreen activity?

[2019-05-21 17:48] marcbaechinger commented on #5845
Did you manage to make this work on any devices or is this happening on a specific device only?

[2019-05-21 19:27] tfcporciuncula commented on #5915
@erdemguven I just spent some time with the demo app and I was able to reproduce the issue.

It's a little tricky there for HLS because we show the track selection dialog before actually starting the download, but the issue is still there: if you start a download while offline, no queued download will show up in the `DownloadManager` until you go back online and the download start -- but in this c

[2019-05-21 20:10] janeriksamsonsen commented on #4273
Download speed is much faster now (and CPU load is back to normal). Great work!

Since this is in place, the next logical step would probably be to allow parallelisation of tracks within a download to improve speed even further.

[2019-05-21 20:20] NathanSass commented on #2882
I agree. It would be great to see this scheduled ASAP

[2019-05-21 20:34] #5792 closed, assigned to marcbaechinger

[2019-05-21 20:40] yjoo9317 commented on #5918
The strange thing is that I just created a simple android app to play a video and put the exactly same code there. It didn't happen there.
Underlying code is same, I wonder why video player in Flutter has always (not 100%, but 90%) the first frame in place.
@erdemguven do you still think it could be a ExoPlayer bug?

[2019-05-21 22:15] fredgc commented on #5850
We haven't noticed this.  We'll have our tester do a comparison and see if we can reproduce.

[2019-05-21 22:37] fredgc commented on #5730
You said that this happens on several devices, can you tell us which devices this happens on?

We would like clarification on what you mean by it always happens for a video.  If you download a license and find that it fails to load, can you delete that license and re-download it and play successfully?  Or do you think there is something special about a particular device and a particular content?

[2019-05-21 23:23] aburksdev opened #5926 "Is exoplayer-extension-ima build.gradle missing a dependency for androidx.annotation:annotation:1.0.2 ?"
### [REQUIRED] Searched documentation and issues
Searched the exoplayer issues for the error "cannot find symbol class Nullable" and did not find it.
Searched the exoplayer dev site https://exoplayer.dev/ for "cannot find symbol class Nullable" and did not find it.

### [REQUIRED] Question
I am building an exoplayer app and cloning the repository and depending on the modules locally as described h

[2019-05-22 05:28] ruthwikkk opened #5927 "Exoplayer offline download consumes more data than file size"
**[REQUIRED] Searched documentation and issues**
I am using ExoPlayer version 2.9.6 to stream video content in one of my project. Recently I added download video feature to my app using ExoPlayer's in built download manager. The problem with download is that it consumes more data while downloading. For a 18 MB video (the size is determined by checking the size of ExoPlayer's download folder after

[2019-05-22 06:21] tfcporciuncula commented on #5915
I just realized one of the things in my original description is wrong. I said that I'm starting the download by calling `DownloadService.sendAddDownload()`, but I'm actually doing that within the `onPrepared()` callback. I'm actually starting the download with the `prepare()` call on the `DownloadHelper` that I get by calling `DownloadHelper.forHls()` (just like the [docs](https://exoplayer.dev/do

[2019-05-22 06:29] andrewlewis commented on #5926
Thanks for reporting. It looks like the dependency needs to be added.

[2019-05-22 06:45] BROUDING commented on #5896
@tonihei
`ClippingMediaSource` doesn't work as expected in my use case...

I approached like this >> I got a DASH media source with `DashMediaSource.Factory` and 3 different subtitles by `ClippingMediaSource(Factory.createTextSampleFormat(source), durationUs)` and made them to a single media source via `MergingMediaSource`. And the user can change the subtitle manually with custom subtitle choice

[2019-05-22 08:16] erdemguven commented on #5915
Yes, I can see that behaviour with the demo app. If the device is offline a failure message is displayed. but when it becomes online the track selection dialog comes up. @tonihei can you look at this.

[2019-05-22 08:28] AndrazP commented on #5916
In some rare cases retry will not work. For example if PlaybackPreparer fails to prepare new media.
I was hoping to simplfy logic in [PlayerView.html#setPlaybackPreparer](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/ui/PlayerView.html#setPlaybackPreparer-com.google.android.exoplayer2.PlaybackPreparer-) to something like:
[code]
Currently I have something like:
[code]

[2019-05-22 08:28] erdemguven commented on #5918
Perhaps it's a Flutter bug then, please fill a bug on https://github.com/flutter/flutter/issues

[2019-05-22 08:28] #5918 closed, assigned to erdemguven

[2019-05-22 08:39] BROUDING commented on #5896
I just confirmed that ClippingMediaSource works on `Videos`, but not on `Subtitles`...
Follow up >> [issue#5317](https://github.com/google/ExoPlayer/issues/5317)

@ojw28 I guess it's still a bug..
btw, player in iOS seems focusing on video timeline than other media sources. My college has no problem without any changes...

Feel free to close this issue if there's no updates !

[2019-05-22 08:41] tonihei commented on #5896
Sorry, I forgot about #5317. Clipping text and metadata is not supported yet and implementation is tracked by the linked issue.

[2019-05-22 08:43] tonihei commented on #5896
Looks like you just found that out yourself :)

[2019-05-22 08:49] BROUDING commented on #5896
Nah, I should have searched more- before I raise this issue, but hopped that this would be solved by now- hahah

But...now my issue is that I cannot get event when the video is finished playing........until subtitle makers don't make mistake...

[2019-05-22 10:15] erdemguven commented on #5927
How do you measure the used network data?
Could you share the measurement you did using the ExoPlayer demo app?

[2019-05-22 10:26] bene25 commented on #2014
Hi, could you please mention status of this issue?

[2019-05-22 10:49] foodpoison opened #5928 "IMA extension having issues when loading tags with mid-rolls but no pre-rolls"
### [REQUIRED] Issue description

When loading tags that have mid-rolls but no pre-rolls, playback can get stuck:

  1. Playing video with no pre-roll from the beginning, starts fine, but once we get to and play past the first mid-roll, it can get stuck in what seems like an endless loop and can't get out.
  2. Playing video with no pre-roll from position between first mid-roll and second mid-roll

[2019-05-22 11:49] tonihei commented on #5924
The issue is that the media is not seekable and thus it's not possible to actually start at a non-zero position. We should catch this problem earlier though and throw an IllegalClippingException instead.

[2019-05-22 12:01] tonihei commented on #5924
As it turns out, we can't catch this earlier at the moment because `ClippingMediaSource` doesn't know whether the child source is not seekable because it's actually not seekable or because we don't have enough information yet. At the moment, we only check the clipping conditions if the duration of the child source is known, under the assumption that a known duration means that all information is a

[2019-05-22 12:10] soygabimoreno commented on #5924
Thank you so much, @tonihei!

[2019-05-22 12:21] ojw28 commented on #2014
There is no change in the priority of this issue, and the update in https://github.com/google/ExoPlayer/issues/2014#issuecomment-379015825 still applies. The HLS specification supports multiple tracks as independent streams, which is both more efficient and more consistent with DASH, SmoothStreaming, and the overall direction of the industry.

[2019-05-22 12:43] tonihei commented on #5915
So just to clarify: The download tracking is working as intended because the failed DownloadHelper meant that no download was ever actually started. And the sudden appearance of the download is due to the unexpected DownloadHelper.onPrepared callback.

The reason for the unexpected callback is that no one releases the DownloadHelper after onPrepareError (neither our demo app, nor your app apparent

[2019-05-22 13:18] fpittersacc opened #5929 "IMA Extension video freezes on Huawei: seek to trigger midroll and seek before midroll position"
### [REQUIRED] Issue description
On Huawei devices with 8.1.0, when playing content with midroll, perform a seek operation that triggers the midroll (see steps below) and then return to a position previous to the midroll position. The video gets frozen while audio keeps playing.

We couldn't reproduce the issue on other Samsung or Xiaomi devices.

### [REQUIRED] Reproduction steps
On a Huawei devi

[2019-05-22 13:32] tfcporciuncula commented on #5915
This doesn't seem to be the proper behavior, though. To me the download should be queued and not started because a requirement is missing (network). This doesn't seem to be consistent with how everything else works.

- If a download is in progress and connection drops, it doesn't simply fail, it goes to the queued state.
- If you try to start a download after the limit of parallel downloads have b

[2019-05-22 13:40] tonihei commented on #5915
That suggestion is to integrate DownloadHelper into the DownloadManager state tracking? Good idea, especially given the requirements tracking like waiting for network. Not sure how the state transitions look like in such a case. It seems we would need states like PREPARING and then a notMetRequirement along the lines of "waiting for DownloadHelper configuration".

@erdemguven What do you think abo

[2019-05-22 13:46] annetube opened #5930 "Playback periodically pausing"
### [REQUIRED] Content description
I'm trying to play and M3U link. It works but i got each 20 seconds / minutes it depends a pause, i dont know if its a problem of  codec or not, i would like have some help how to solve these issue because i got absolutely no errors on ffplay on desktop Thanks.

This is the logcat:

and my code (basic):

[code]
Tanks for your help
### [REQUIRED] Link to test cont

[2019-05-22 14:12] tfcporciuncula commented on #5915
I initially saw this as a bug, but I guess I wasn't seeing `DownloadHelper` as a separate thing. But yeah, it'd be great to have that in place. I think the `notMetRequirement` for this case should still be network, though, but I guess the details can be discussed along the way :)

My final goal as a consumer of the library would be to be able to support a queue out of the box with ExoPlayer, so wh

[2019-05-22 14:57] erdemguven commented on #5915
Yes, it's a good idea to use this issue to track this feature request.

Btw, what I see in Netflix and other apps, is they just show an error when user tries to download anything without connection so they don't queue those requests.

[2019-05-22 15:09] Shadkirill opened #5931 "Set custom duration and position in HLS live videostream"
**Searched documentation and issues**
https://github.com/google/ExoPlayer/issues/2560
https://github.com/google/ExoPlayer/issues/2118
https://github.com/google/ExoPlayer/issues/3550

**Question**
I have a live HLS videostream and it contains chunks with metadata, which contains start and end position. When every chunk is loaded, its duration (close to 10 sec) and position are showed in updated tim

[2019-05-22 15:14] ruthwikkk commented on #5927
I noticed this issue only after some of our users started reporting. I measured the network data using GlassWire network monitor app. I have downloaded a 37 MB video using ExoPlayer Demo app and here I am attaching the screenshot from data monitor app

![Screenshot_20190522-203711](https://user-images.githubusercontent.com/25474982/58186234-19d6e180-7cd2-11e9-9155-419989c71878.png)

[2019-05-22 17:40] ojw28 commented on #5915
It behaves the way it does because it's not possible to do track selection without network connectivity, so the alternative approach doesn't work for apps designed like our demo app where user is given the option to select tracks when starting a download. Ditto for any other use cases that require showing the user something about the content to be downloaded, such as its size vs available space on

[2019-05-22 20:55] fredgc commented on #3442
Since KitKat is an older release, it probably won't get an update.  Are you still seeing this issue on a new OS build?

[2019-05-22 21:25] NathanSass opened #5932 "HLS seeking extremely slow"
### Issue description
I have an HLS playlist that has segments that are ~1000s. When seeking to offsets that are near the end of a segment (960s) seeking takes at least a minute. I would expect seeking to take only a few seconds. Especially when no decryption is required.

### Reproduction steps
I have emailed the test app to dev.exoplayer@gmail.com
I have added a new section `HLS SEEK ISSUES`. Cl

[2019-05-23 01:01] foodpoison commented on #5928
Thanks bot. Updated ticket descriptions.

[2019-05-23 01:41] Romantic-LiXuefeng commented on #5932
The player uses exact seeking when playing HLS stream. In details, Firstly the player needs to find the ts segment which the seek point owns to.  Secondly, decode from the start of the ts segment, but drop the decoded frame until the seek point. So the seeking cost more time. Seeking to sync points is typically faster but less accurate than exact seeking. So you need to re_implement the `HlsMediaP

[2019-05-23 02:55] jackjohnsonn commented on #5919
Thanks for the information, andrewlewis. I have realized that ExoPlayer is also missing support for MIDI and some specific files. So, I am going to start a request issue for a MediaPlayer wrapper for ExoPlayer and hope for the best. Maybe you guys will consider it in the future.

[2019-05-23 02:55] #5919 closed, assigned to andrewlewis

[2019-05-23 03:46] tanpuer commented on #5870
So we can not upgrade to version 2.10.0 if our project has not migrated to androidx?

[2019-05-23 06:33] nikunjparadva commented on #5470
I have facing same issue and `player.seekTo(player.getCurrentPosition())` is not worked for me.
issue scenario:

- SimpleExoplayer play in Activity A
- pause playing with `player.setPlayWhenReady(false); ` and intent to Activity B
- backpress on Activity B and back to Activity A
- and resume exoplayer with `player.setPlayWhenReady(true); `

**issue :-  video frame forward more than 3 seconds, audi

[2019-05-23 06:40] tfcporciuncula commented on #5915
Yup! We at Blinkist have always queued downloads, though, so whenever connection is back we start the downloads automatically -- it's definitely a nicer experience. When I first came across ExoPlayer 2.10 new download capabilities I really thought we'd be able to get that behavior by default with it which would be great, and that's my main motivation to try to push for this here.

It's definitely

[2019-05-23 09:42] KelvinJin commented on #5904
@ojw28 Hey, sorry for commenting on a close issue. I'm having some issue very similar to this so just want to double check what it means by `integer precision` segment duration rather than open a duplicated issue.

My stream has the following tag:

[code]

Would you consider the above durations rounded to integer precision?

Thanks!

[2019-05-23 10:07] erdemguven commented on #5915
Btw, what kind of media are you downloading? If it's a progressive stream (mp4, mp3) or an adaptive stream with predefined tracks, you can skip DownloadHelper and create DownloadRequest yourself. Which would be faster and DownloadManager would queue it for you.

[2019-05-23 10:23] ojw28 commented on #5904
Yes (unless each segment really is exactly 10 seconds).

[2019-05-23 10:25] ojw28 commented on #2233
As an additional piece of information, it seems like streams affected by this issue violate Apple's [HLS authoring specifications for Apple devices](https://developer.apple.com/documentation/http_live_streaming/hls_authoring_specification_for_apple_devices):

[2019-05-23 10:27] ojw28 commented on #2014
As an additional piece of information, it seems like Apple mandate that multiple tracks are delivered as independent streams when streaming to Apple devices. As per their [HLS authoring specifications for Apple devices](https://developer.apple.com/documentation/http_live_streaming/hls_authoring_specification_for_apple_devices):

[2019-05-23 10:49] tfcporciuncula commented on #5915
It's an adaptive stream but it's not really predefined tracks. We're using `DefaultTrackSelector.ParametersBuilder().setForceHighestSupportedBitrate(true).build()`, so not sure if that's predefined enough to skip the `DownloadHelper`.

[2019-05-23 11:40] ojw28 commented on #5932
Having ~1000s segments just sounds broken. That's ~166x what Apple recommend, which is ~6s. Segments are supposed to be relatively short.

[2019-05-23 12:37] tonihei commented on #5915
Original bug (onPrepared after onPrepareError) is now fixed. You can workaround it until the next release but calling downloadHelper.release() from onPrepareError.

That definitely sounds like a use case for DownloadHelper because the track selection will take into account device capabilities etc., which is something you can't do with a manual pre-selection. However, that's also the default parame

[2019-05-23 12:48] tfcporciuncula commented on #5915
Thanks for fixing that!

You mean doing automatically that on my end or on ExoPlayer's end?

[2019-05-23 13:01] tonihei commented on #5915
On our end, that's the enhancement tracked by this issue. So that you can add the download to the DownloadManager (or Service) and the automatic track selection using these parameters takes place once the network becomes available.

[2019-05-23 14:45] PaulWoitaschek opened #5933 "Use SupportSQLiteOpenHelper"
Currently the `DatabaseProvider` is hardcoded to use the framework `SQLiteDatabase`.

I want to suggest that ExoPlayer uses `androidx.sqlite.db.SupportSQLiteOpenHelper` instead because one can swap the implementation and also use the same database abstraction room is using - without the need to create a separate sql file just for ExoPlayer.

[2019-05-23 14:49] NathanSass commented on #5932
@ojw28 I wasn't aware of that. We also tested with segments at 60s and found good seeking performance but downloading was very slow - which is why we moved segments to 1000s. I imagine that downloading with 6s segments would take absolutely forever. Is there some way to improve downloading speeds with smaller segments?

[2019-05-23 15:00] ojw28 commented on #5932
60s is still way too long for segment duration. Small segments are required for HLS, because without them you lose all the benefits that HLS actually provides over regular progressive streams (e.g. the ability for the client to quickly adapt to changing network conditions during streaming playback). In which case you may as well just use a regular progressive stream.

There were some performance p

[2019-05-23 15:13] andrewlewis commented on #5922
It looks like this may have been broken by 3169b140fc5cceba848fa1bd6a103645e873c115. The extension builds correctly for me with v1.7.0 and NDK r16.

[2019-05-23 16:45] #5926 closed, assigned to andrewlewis

[2019-05-23 16:52] andrewlewis commented on #5922
Another option that works for me is to switching `generate_libvpx_configs` to configure libvpx to do an external build, using NDK r19c and leaving the libvpx sources in v1.8.0.

[2019-05-23 19:06] buttss opened #5934 "HLS stream starts at wrong position when using AdsMediaSource, after preroll ad has completed playing"
## Issue description
When trying to play an IMA preroll ad by creating a AdsMediaSource and passing an HLS media source, or any other media source, when the preroll ad finishes, the currentPosition of the player is incorrect (not 0:00). I've seen the currentPosition vary from 3 - 20 seconds off from the default starting position

## Reproduction steps
Replace the json in media.exolist.json file in

[2019-05-23 19:28] rajeshghosh1978 opened #5935 "Getting CodecException intermittently"
### [REQUIRED] Content description
We are getting calls from our customer about playback issue with codec exception. Based on our log, we can see the same customer has been playing the same live (dash) channel every day. Whereas some time they are getting codec exception.  Since they are playing a live content, there might be some codec issues while slicing the content but we are stuck when we got

[2019-05-23 20:04] stevendesu opened #5936 "How to extract timed metadata from HLS stream?"
### [REQUIRED] Searched documentation and issues
I've searched through [the ExoPlayer documentation](https://exoplayer.dev) and on StackOverflow, and I've done a significant amount of experimentation to try and guess my way to a proper answer

### [REQUIRED] Question
I have an HLS video (sometimes live, sometimes not) and I wish to extract timed ID3 metadata frames from it.

The content can be vie

[2019-05-23 20:08] rajeshghosh1978 commented on #5935
Another log from a different customer

[code]

[2019-05-23 20:10] rajeshghosh1978 commented on #5935
Here is another one, just to provide more information

[code]

[2019-05-23 20:12] rajeshghosh1978 commented on #5935
So far almost 50,000 playback stopped in last 7 days due to MediaCodec exception. There are more than 40 different types of Devices has this issue.

[2019-05-23 20:49] ojw28 commented on #5936
The problem is that the stream is broken. As per the [specification](https://developer.apple.com/library/archive/documentation/AudioVideo/Conceptual/HTTP_Live_Streaming_Metadata_Spec/2/2.html), `data_alignment_indicator` must be set to `1` if the PES packet contains the start of the ID3 tag. It appears that the indicator is always set to 0 in the stream you've provided. Hence the player correctly

[2019-05-23 20:49] #5936 closed, assigned to ojw28

[2019-05-23 23:48] M-Pixel opened #5937 "How to specify texture resolution when using MSG_SET_SURFACE"
### [REQUIRED] Searched documentation and issues
There are numerous issues about selecting quality/resolution from multi-track streams - none are applicable to this question which is about scaling.  My particular use case is an on-disk file.

#5406 is very similar to my question, however the suggestion to use `SurfaceView` or `TextureView` is not applicable.

I've tried using `SurfaceTexture.setDe

[2019-05-24 02:13] T-10001 commented on #5922
@andrewlewis How do I do that?

[2019-05-24 04:54] gemiren opened #5938 "LG G5: No sound when playing ALAC audio track"
### [REQUIRED] Content description
The m4a file loads in ExoPlayer without any error. The time bar even progresses normally when it plays but no sound comes out.

### [REQUIRED] Link to test content
http://feeds.soundcloud.com/stream/624159534-the-stemma-report-ep05.m4a

### [REQUIRED] Version of ExoPlayer being used
2.10.1

### [REQUIRED] Device(s) and version(s) of Android being used
Pixel 3 And

[2019-05-24 07:43] JayceKing opened #5939 "How to determine whether the player is actually playing media"
public boolean isPlaying() {
        return (simpleExoPlayer != null) && simpleExoPlayer.isPlayingAd() && playerView.getPlayer().getPlayWhenReady();
    }

How to get whether the player is playing, the above code does not correctly get the status of the player.

[2019-05-24 09:19] T-10001 commented on #5922
I checked out branch v1.7.0
[code]
and then tried with NDK r16b, but also didn't work:
[code]
config.log for armeabi-v7a:
[code]

[2019-05-24 09:51] GaureeshA opened #5940 "How to combine dash segments(.m4s) to form a playable .mp4 video chunk? Which class/methods are responsible? Any examples"
### [REQUIRED] Searched documentation and issues
Looked up online both in GitHub/exoplayer issues and other articles. But no clear information is provided?

### [REQUIRED] Question
Where exactly do I get access to dash segments(.m4s)? It is even alright if we can access the .mp4 video chunks which are got by combining .m4s segments with init.mp4

[2019-05-24 10:19] DarioOl opened #5941 "HD content playback not working anymore - Error decrypting data: requested key has not been loaded"
Hello,

### [REQUIRED] Issue description
I'm having an issue while playing newly encrypted HD content on our device.
Depending on the content, it is played only for 6 to 16 seconds and then I get this exception :

The thing is that if I try to play older HD encrypted content ont this same device it works perfectly.
Also, when I play the same content but in SD on another device, it works.
We work o

[2019-05-24 10:20] ojw28 opened #5942 "Plumb MediaCodecRenderer.enableDecoderFallback through DefaultRenderersFactory"
### [REQUIRED] Use case description
Enable decoder fallback without having to subclass DefaultRenderersFactory, as requested
[here](https://github.com/google/ExoPlayer/commit/401e20d9c8caf5f96e4ff2651cd14f46f1c35517#commitcomment-33659440).

@andrewlewis - Is there a reason we didn't expose the possibility of fallback for the audio renderer as well?

[2019-05-24 10:23] ojw28 commented on #5941
It seems unlikely this is an ExoPlayer issue. The underlying platform is saying that the key required for decryption isn't in the license response you received, which points to a content encryption or license configuration issue.

[2019-05-24 10:31] DarioOl commented on #5941
@ojw28 Thanks for the quick answer, what I can't understand is that after comparing the two emitted licenses (old HD content working and new HD content not working) the only difference is in the pssh_data that do not contain any "key_id": [] but we have it in the supported_tracks field :

[code]

[2019-05-24 12:36] AquilesCanta commented on #5633
Hi, I'm getting a 404 now. Can you please make sure the streams are available?

[2019-05-24 13:19] buttss opened #5943 "AdsMediaSource causes the Player.contentPosition to be incorrect when switching to contentMediaSource"
## Content description
When trying to play an IMA preroll ad by creating a AdsMediaSource and passing an HLS media source, or any other media source, when the preroll ad finishes, the currentPosition of the player is incorrect (not 0:00). I've seen the currentPosition vary from 3 - 20 seconds off from the default starting position.

## Link to test content
Replace the json in media.exolist.json fi

[2019-05-24 13:20] #5934 closed, assigned to nobody

[2019-05-24 13:32] szaboa commented on #5633
Hi, will send the new ones via email shortly.
Edit. I will be able to send it only on Monday (27.05).

[2019-05-24 13:38] jackjohnsonn opened #5944 "Making Exoplayer widget"
Never mind.

[2019-05-24 14:51] erdemguven commented on #5927
I can confirm the issue now. Soon a fix will be committed. Thanks for reporting.

[2019-05-24 15:01] AquilesCanta commented on #5633
Ok. Please post below once you do. I suppose I'll get to this on Tuesday.

[2019-05-24 15:07] maxTanquerel commented on #5626
I am also detecting a leak, using leak canary. It seems to be the webview present in adsViewGroup that is not released correctly. Like @ArcherEmiya05, I can confirm that `imaAdsLoader.setPlayer(null)` and `imaAdsLoader.release()` are correctly called.

I am also using exoplayer 2.9.6 with IMA 3.11.2
![Screenshot_20190524-110153](https://user-images.githubusercontent.com/17617426/58337539-00d64980-

[2019-05-24 15:31] marcbaechinger commented on #5939
You can consult our developer website which has a page about player events and a code snippet to this question:
https://exoplayer.dev/listening-to-player-events.html#player-state-changes

[2019-05-24 15:31] #5939 closed, assigned to nobody

[2019-05-24 17:33] szaboa commented on #5633
@AquilesCanta
Ok, so no need for streams actually. I've created a TTML subtitle file:
https://drive.google.com/uc?export=download&id=1Rf7sWPgnDs7Ax7XOcFlNXwu2dNj8s8Pv

Which contains a cue that is full screen (big red rectangle) and it should cover the whole screen, as it has a region 1280px 720px and the root tt value is also 1280px 720px (which gives the window reference).

Please side load this

[2019-05-24 20:02] shaji-Dev commented on #5924
I´m having the same issue, tried multiple AAC files and non of them work, any quick fix for this?

[2019-05-24 21:00] #5944 closed, assigned to nobody

[2019-05-25 19:22] Vitor238 opened #5945 "How to pause and resume Exoplayer in a Recyclerview?"
What are the recommended practices for pausing and resuming exoplayer since there are no onPause and onResume methods in an adapter?

[2019-05-26 00:32] sr1990 opened #5946 "Unable to play 360 dash / tiled content."
Hi,
### [REQUIRED] Content description
I am trying to play 360 video content with equirectangular projection and DASH of the same content. I am not able to play the DASH content and 360 HEVC tiled DASH content.
"spherical_stereo_mode" is set to "mono".

Are there plans to support the mentioned content?

### [REQUIRED] Link to test content

### [REQUIRED] Version of ExoPlayer being used
2.10

### [

[2019-05-26 04:28] Navidhp commented on #5837
@ojw28 thank you , you are save my life :)

[2019-05-26 04:28] Navidhp commented on #5837
@ojw28 thank you , you are save my life :)

[2019-05-26 04:28] #5837 closed, assigned to marcbaechinger

[2019-05-26 06:23] praveenraikar opened #5947 "How to get current playing mediaMetaDataCompat to update the UI while using concatenatingmediasource."
I have using ConcatenatingMediaSource to implement queue. Once media starts playing I will get the current media source index in exoplyer callback using mSimpleExoPlayer.currentWindowIndex and can fetch the corresponding media source.
But in order to update the UI I need mediaMetaDataCompat object which holds all info related to the current playing audio file. How to get the mediaMetaDataCompat ob

[2019-05-26 12:21] Navidhp opened #5948 "Question(Get all qualities with name (480p , 720p , ...)and change them in HLS)"
Dear friend , i look the all of issue about qualities in repository and not found how to get qualities like(720p , 480p , ...) with name and change them , i use trackSelector.getCurrentMappedTrackInfo() and search in property method but not found anything , how to do that ? how to implement in my code ?

[2019-05-26 14:01] Navidhp commented on #5948
i implement now in my code this is my mistake :)

[2019-05-26 14:01] #5948 closed, assigned to nobody

[2019-05-26 16:49] Shadkirill commented on #5931
Up

[2019-05-27 02:36] kyungtae-K opened #5949 "cbcs content playback error using widevine pssh without protection scheme specified."
### [REQUIRED] Searched documentation and issues
not found.

### [REQUIRED] Question
exo player version : release-v2(2.9.6)
device : galaxy note 9(android pie)
test content option :
 - mp4
 - packager : shaka-packager v2.3.0
     - packager option(pssh generate by [widevine integration page](https://integration.widevine.com/diagnostics))
[code]

 -  example output mpd
[code]

Encrypt cbcs without

[2019-05-27 04:57] imalex commented on #5949
protection scheme is not being deprecated.

See https://github.com/google/shaka-packager/blob/master/packager/media/base/widevine_pssh_data.proto

[2019-05-27 07:15] nibaboojit commented on #5949
Hi, @imalex .
The Widevine_DRM_Encryption_API(v1.7).pdf(12pg) document of the cwip portal is as follows.
[code]
Which is right?

[2019-05-27 07:26] kyungtae-K commented on #5949
Hi, @imalex .
The Widevine_DRM_Encryption_API(v1.7).pdf(13pg) document of the cwip portal is as follows.
[code]
Which is right?

[2019-05-27 10:34] Gensoukyou1337 opened #5950 "Should I change the DownloadService from an ordinary service to a JobService for Android O and above?"
### [REQUIRED] Searched documentation and issues
https://github.com/google/ExoPlayer/issues/5539

### [REQUIRED] Question
Before I go on, I'm on Exoplayer v2.9.6.

I got the same error from the above issue, and then I started thinking whether turning the DownloadService into a JobService would solve things, since it depends on work conditions than time (and would probably be canceled or stopped wh

[2019-05-27 14:02] srampur opened #5952 "DASH: Support last segment message (lmsg)"
Hi,
  ExoPlayer does not have implementation for the lmsg to indicate the last segment as per [https://dashif.org/docs/DASH-IF-IOP-v4.3.pdf] _4.4.3.5. Last Segment Message_ .

Reason to go with this approach is that the player to server communication would be more with shorter minimumUpdatePeriod, so will make minimumUpdatePeriod as random number and indicate using lmsg (last segment) to do the mp

[2019-05-27 14:49] patrykcyrzan opened #5953 "Not sure if "decoder reuse" works as expected"
### [REQUIRED] Searched documentation and issues
This article -> https://medium.com/google-exoplayer/improved-decoder-reuse-in-exoplayer-ef4c6d99591d

### [REQUIRED] Question
How can I be 100% sure that decoders are reused? I’m doing everything just like in the article, yet AnalyticsListener is giving me those confusing callbacks like onDecoderDisabled and onDecoderInitialized every time i’m calli

[2019-05-27 18:11] Joaomon7eiro opened #5954 "Allow to dismiss notification with stopforeground(false) destroying service"
### Issue description
I added a listener to the player and inside onPlayerStateChanged() i call stopforeground(false) when playWhenReady is false to allow users to dismiss the notification
` mPlayer.addListener(new Player.EventListener() {

            @Override
            public void onPlayerStateChanged(boolean playWhenReady, int playbackState) {
                if (playWhenReady) {

[2019-05-27 23:14] mkaflowski opened #5955 "getCurrentWindow() for CastPlayer gives always 1"
When I use CastPlayer with multiple sources, seek track and the track finishes for every next track getCurrentWindow() gives 1.

I believe that `remoteMediaClient.getMediaStatus().getIndexById()` gives wrong results.
I can get the right result by:
`Arrays.binarySearch(remoteMediaClient.getMediaQueue().getItemIds(),remoteMediaClient.getMediaStatus().getCurrentItemId() )`

Changing the method fetchC

[2019-05-28 08:02] giladna commented on #5681
@ojw28
Hi
I have sent a mail with the media with new license to exoplayer gmail and geo blocking disabled on it

10x
Gilad.

[2019-05-28 08:13] tonihei commented on #5924
@shaji-Dev  This is not about fixing clipping for AAC. If your file is not seekable, then it's also not clippable. This enhancement is just about catching this problem early on with a good error message instead of an obscure one later on.

[2019-05-28 08:16] marcbaechinger commented on #5954
This behaviour seems to be working as intended to me. If you call `stopForeground(false)` the service is not in foreground anymore. Then you put the app into the background with the back button. From this moment on the service needs to be in the foreground, or the system may terminate the service, which is what happens according to the log statements you added.

Seems like all the resources are ni

[2019-05-28 08:31] marcbaechinger commented on #5947
You need to provide the `MediaMetadataCompat` object yourself by using a [`MediaMetadataCompat.Builder`](https://developer.android.com/reference/android/support/v4/media/MediaMetadataCompat.Builder.html).

You need to do some kind of book keeping in your backing data to be able to match the `currentWindowIndex` with the index in your data and then create a metadata object with a builder.

If you h

[2019-05-28 08:39] marcbaechinger commented on #5945
The precise behaviour when to start playback is probably up to the app. Personally I would not auto-play in a recycler view but let the user scroll the player view into the visible area and then manually start playback via controls.

If the user does not pause again and starts scrolling, I'd make sure you pause the player when the player view leaves the visible area.

Finally, you should release t

[2019-05-28 09:00] marcbaechinger commented on #5938
The m4a stream you posted does contain an ALAC file. The device doesn't have a decoder for this so the track can't be played with the default renderer. When I add the uri to the demo app it gives me the following output:

[code]

If you want to play files of that format with ExoPlayer you need to use the [ffmpeg extension](https://github.com/google/ExoPlayer/tree/release-v2/extensions/ffmpeg).

[2019-05-28 09:18] ojw28 commented on #5953
As in blog post:

Currently decoders are not re-used for DRM protected content. As per the TODO, we need to improve this case. It was not one of the initial targeted cases because (a) it's complicated to get right, and (b) most of the use cases where fast switching between videos is a requirement do not also involve DRM.

[2019-05-28 09:45] ojw28 commented on #5950
Why don't you just start the service in the foreground to avoid this problem?

[2019-05-28 09:52] ojw28 commented on #5952
Marking as an enhancement.

[2019-05-28 11:57] Joaomon7eiro commented on #5954
Thank you so much for answering. I wanted to keep the notification when user presses the back button and still allow it to dismiss the notification outside of my app. Is it possible? The behavior that i wanted is to allow the users to pause the playback and move to other apps, and the notification persists so the user can resume playback using the notification.

[2019-05-28 12:57] ojw28 commented on #5681
The streams are still inaccessible, as per my email response.

[2019-05-28 13:14] andresdiez opened #5956 "onVideoInputFormatChanged vs onDownstreamFormatChanged"
Just wanted to know the difference between onDownstreamFormatChanged and onVideoInputFormatChanged. On my project Im trying to get bitrate from format but bitrate on format from onVideoInputFormatChanged is always -1 but the one from onDownstreamFormatChanged contains a valid bitrate.

[2019-05-28 14:00] AquilesCanta commented on #5633
We will be pushing a fix soon. Please try it out once a commit appears referenced below so that you can make sure it works before it reaches a release version.

[2019-05-28 14:26] ojw28 commented on #5956
I think the bitrate should be set correctly in most cases, as of 2.9.0. What version are you using?

The difference is the reporting component. Data flows from a `MediaSource` to `Renderer`s in ExoPlayer. `onDownstreamFormatChanged` is reported by the `MediaSource`. `onVideoInputFormatChanged` is reported by the video `Renderer`. There is also `onAudioInputFormatChanged` which is reported by the a

[2019-05-28 14:31] #5932 closed, assigned to ojw28

[2019-05-28 14:33] ojw28 commented on #5941
The obvious question is whether everything just works if you revert back to however you used to be generating the content. Perhaps the CDM (or the specification itself) requires `key_id` to be set.

[2019-05-28 14:36] ojw28 commented on #5916
This doesn't seem particularly important. I've no particular objection though. Re-assigning to @tonihei to consider in the context of the `Player` interface.

[2019-05-28 14:36] szaboa commented on #5633
Alright, thanks.

[2019-05-28 14:40] tonihei commented on #5916
`PlayerView` only invokes the `PlaybackPreparer` interface if the playback state is PLAYER_IDLE. How did you get into a situation where the playback can't be retried?

[2019-05-28 14:45] andrewlewis commented on #5942
As discussed I don't think there's a reason not to expose fallback for audio (I was going on the assumption that audio decoders are generally not hardware-accelerated so are much less likely to fail to initialize transiently). I will do that as part of this enhancement.

[2019-05-28 16:03] AfanasievAnton commented on #5956
Isn`t it more safe to extract current bitrate from onTrackChanged() by getting the selected format from the renderer that we are interested?
And if no, what is the main difference, between this two approaches?

Thanks

[2019-05-28 16:05] andresdiez commented on #5956
ojw28 we are using r2.4.1

[2019-05-28 17:02] marcbaechinger commented on #5954
I think you already implemented it according to best practices.

The service is kept in foreground, if the app goes to background when the player is playing (playWhenReady = true), then your service is in foreground still. The user can then

1) Pause with the button in the notification. This would remove the service from foreground and the system kills the service and remove the notification after

[2019-05-28 17:08] Joaomon7eiro commented on #5954
Okay, I will leave the way it is implemented right now. Thanks again!

[2019-05-28 19:08] gemiren commented on #5938
Well, the android.media.MediaPlayer can play that m4a file without any issue. I'd expect ExoPlayer to play it without the ffmpeg extension since android.media.MediaPlayer can play it.

[2019-05-28 19:09] CreeschYT opened #5957 "Urls are played in wrong sequence exoplayer 2.9.1"
###  Content Description
Hi, umm it's me again...
soo, I'm currently developing a LiveStream m3u player which uses exoplayer 2.9.1. When the App starts you need to click on the 'open' button which gives a MaterialFilePicker (Openfiledialog).

Now you need to choose a m3u file. All of this works. Because exoplayer can't play m3u files I used a BufferedReader to read all the lines. To actually play

[2019-05-28 19:18] erdemguven commented on #5930
The link looks like expired. Could you share another link? Ideally, a link that doesn't expire for a long time.

Please try to play on of the HLS streams from [here](https://github.com/google/ExoPlayer/blob/release-v2/demos/main/src/main/assets/media.exolist.json#L343) and let us know if the same thing happens.

[2019-05-28 19:37] erdemguven commented on #5937
As mentioned in #5406 ExoPlayer will decode video in its original resolution. You need to scale it after it's drawn to the texture.

[2019-05-28 19:38] erdemguven commented on #5940
ExoPlayer doesn't support this.

[2019-05-28 19:44] erdemguven commented on #5946
Please share a link to test content so we can investigate the issue.

[2019-05-28 20:15] erdemguven commented on #5729
@Rupeshc91 sorry for late response, do you still see the issue? It sounds like the action file is corrupted. In the latest version of ExoPlayer, we did major changes on how we store download requests. Upgrading your ExoPlayer library may help to see what is wrong.

[2019-05-28 20:21] erdemguven commented on #5569
As far as I can see it looks OK.

[2019-05-28 20:21] #5569 closed, assigned to erdemguven

[2019-05-28 20:29] stevemayhew commented on #474
Oliver's comment seems the best path forward, to treat the track as "special" and use trackselection to activate it.

Other players that implement trickplay with the iFrame playlist treat it basically as a level down, switching to it when the bandwidth required exceeds the matching current spacial resolution's lowest bitrate * the playback rate, for practical purposes this is less then 5-8x.

We w

[2019-05-28 20:33] AndroidDeveloperLB commented on #5569
@erdemguven I see. Thank you!

[2019-05-28 20:33] VOstopolets commented on #3375
@ycinfinity @dustinkerstein
Actually, do you have any snippets/branch of correct async implementation? The syncing audio/video streams in async mode is still a problem for me. I can't use MediaSync class because should support Android 21+ and I don't want to go back to the sync mode.

[2019-05-28 20:36] AndroidDeveloperLB commented on #5569
I suggest to offer a similar sample here too.

[2019-05-28 20:46] #5937 closed, assigned to erdemguven

[2019-05-28 22:50] bjitivo commented on #4352
We experience this too, and I have nothing to add except to say that  ojw28's comment on Aug 28, 2018 is a GREAT explanation of why you do not paper over bugs with false workarounds like running actions in background threads -- you fix them, or you don't.  There is no try :)

[2019-05-29 02:07] longtengyiyu opened #5958 "same format,one support and another one one not support"
not supported
ID                                       : 1
文件格式                                     : AVC
文件格式/信息                                  : Advanced Video Codec
格式简介                                     : Main@L5.1
格式设置, CABAC                              : 是
格式设置, ReFrames                           : 2 frames
格式设置, GOP                                : M=2, N=60
编码设置ID

[2019-05-29 02:07] longtengyiyu opened #5959 "same format,"
unsupported
ID                                       : 1
文件格式                                     : AVC
文件格式/信息                                  : Advanced Video Codec
格式简介                                     : Main@L5.1
格式设置, CABAC                              : 是
格式设置, ReFrames                           : 2 frames
格式设置, GOP                                : M=2, N=60
编码设置ID

[2019-05-29 02:08] #5959 closed, assigned to nobody

[2019-05-29 02:09] jaychou2012 opened #5960 "how can i get the current playing video url？"
when i was playing video, which method i will listen to get the current video url？

And how can i get the current playing video url？

Thanks very much

[2019-05-29 07:19] getyoteamsolutions commented on #4519
I found the same issue, network mp3 file is not properly finished, just played twice when I used 2.9.6 exo library. I tested in two different devices.
1. Moto G Play
2. Mi Phone
3. Emulator also having same issue Nexus s/Nexus 9/Pixal 3

[2019-05-29 07:48] tonihei commented on #5957
My comment in https://github.com/google/ExoPlayer/issues/5820#issuecomment-492132623 still applies. You create the MediaSources in a loop and add them repeatedly to the same playlist. So this is working as intended.

[2019-05-29 07:48] #5957 closed, assigned to tonihei

[2019-05-29 08:26] sr1990 commented on #5946
@erdemguven Have sent H.264 DASH 360 content at dev.exoplayer@gmail.com

[2019-05-29 08:46] sr1990 opened #5961 "Trying to access downloaded segment data of a dash stream before it is plays."
Exoplayer question:
Trying to access downloaded segment data

### [REQUIRED] Searched documentation and issues
Github issues

### [REQUIRED] Question
I need to access data  for DASH stream that resembles the entire segment after it is downloaded but before it is played.
In onChunkLoadCompleted, I am able to get the uri and bytes read but not the data.
So tried to expose the buffer from read() meth

[2019-05-29 08:59] annetube opened #5962 "HLS/DASH not playing with cast receiver"
### [REQUIRED] Issue description
Hello, I made an array mediaItem, the problem is some of these links doesnt work (MediaControlChannel: received unexpected error: Invalid Request/ Error fetching queue item ids, statusCode=2100, statusMessage=null) on cast and it go to the next mediaitem  who can be handle by chromecast

Media sources are working perfectly on the exoplayer, just the cast isnt worki

[2019-05-29 09:08] rkachach commented on #55
@portizb please, can you provide any hints on the low latency issue? .. I'm also working to reduce the latency as much as I can. Currently I'm getting values around 1sec and below (I have to do some measurements to get the exact value). First I tried using a default allocator with minimum values such as following:

[code]
but I couldn't get times below 1sec with this approach. Now I'm trying to us

[2019-05-29 09:10] annetube commented on #5930
Thanks for your answer, i already tried and i got same errors on demo, the new link :

https://stream-09.dc3.dailymotion.com/sec(3ftLdWES0pUbXTKGx4u-k_dLu_fNvX0AKB1qK5ttS-c)/dm/3/xkxbzc/d/live-0.m3u8
--

if its expired you can get a new one with streamlink doing on command streamlink -j https://www.dailymotion.com/video/xkxbzc

[2019-05-29 09:32] ojw28 commented on #4519
@getyoteamsolutions - Please provide complete information about the devices. The informal names aren't sufficient for us to be able to apply the workaround. Can you capture a bugreport with `adb bugreport` from each device, in each case captured shortly after the start of an MP3 playback? Thanks.

[2019-05-29 09:40] erdemguven commented on #5946
I can't access to the file, permission denied.

[2019-05-29 10:50] RiccardoForniz commented on #5700
Same device (Nvidia shield) same problem.
Any update?

[2019-05-29 10:51] GaureeshA commented on #5940
On my last question @ojw28 had replied the following,
"Depending on whether "super resolution" is performed on compressed or decompressed samples, you should take a look at the the components under DashMediaPeriod or MediaCodecVideoRenderer respectively."
Can you please explain what he means by compressed or decompressed samples?

[2019-05-29 11:14] #5954 closed, assigned to marcbaechinger

[2019-05-29 12:04] ojw28 commented on #5961
ExoPlayer starts playing the segment before it's fully downloaded, so this is not possible.

It's unclear what you're trying to do here. Please could you phrase it more in terms of what feature you're trying to implement, and why accessing the data in this way is necessary to support that feature.

[2019-05-29 12:39] voghDev commented on #5884
I'm having the same error. As @ixfd64 said, I could workaround it by downgrading Gradle Android plugin from `3.4.0` to `3.2.0` and gradle-wrapper.properties from `5.1.1` to `4.10.1`. This is the last configuration that worked

*build.gradle*
[code]

*gradle-wrapper.properties*
`distributionUrl=https\://services.gradle.org/distributions/gradle-4.10.1-all.zip`

*app/build.gradle*
`implementation 'co

[2019-05-29 13:27] sviety opened #5963 "DPAD ui navigation - dispatchKeyEvent doesn't reset the timer for hiding player controller"
### [REQUIRED] Issue description
I'm updating exoplayer version in my TV application from 2.6 to the newer version (2.9+) and i noticed that during navigation using DPAD PlaybackControlView auto hide timer is not being reset on key events.
Older version (2.6) was working properly - PlaybackControlView was being hiden after few moments since last KeyEvent. I'm using simmilar implementation as demo

[2019-05-29 13:38] maxTanquerel commented on #5626
@andrewlewis : It seems that the leak occurred only when the adsLoader is release when playing an ad. No leak detected when the content is playing.

I tried to :
- Change the context used to create the adsLoader from AppContext to ActivityContext
- Call stopAds from ImaAdsLoader
- Call contentComplete from AdsLoader in IMA library.

Nothing release the WebView properly. Do you know what can I test

[2019-05-29 14:30] praneethkumar16 opened #5964 "java.lang.NoSuchMethodError: No direct method <init>(...) in HlsMediaSource"
I'm getting following error when ever I try to play the video using exoplayer in android device. I have updated the exoplayer to latest version 2.9.6 but still I'm getting following error.

java.lang.NoSuchMethodError: No direct method <init>(Landroid/net/Uri;Lcom/google/android/exoplayer2/upstream/DataSource$Factory;Landroid/os/Handler;Lcom/google/android/exoplayer2/source/AdaptiveMediaSourceEven

[2019-05-29 14:53] andrewlewis commented on #5180
@anhlevfx Sorry for the delay looking at this. I tried to reproduce using the content and ad tag provided via email. The ad tag loads but eventually IMA arrives at an empty ad for the preroll so there is nothing to play. To see this please set `ImaAdsLoader.DEBUG` to true and look at the logging from the IMA SDK.

Regarding the behavior when reaching the end of the stream, I think the problem is t

[2019-05-29 14:53] #5180 closed, assigned to andrewlewis

[2019-05-29 14:57] yogesh37 opened #5965 "Midroll ad freezes Exoplayer"
### [REQUIRED] Content description
ExoPlayer freezes at the starting of the midroll ad. This problem occurs only for some Vast id.

Steps:
1. Loading VAST response in exoplayer latest IMA SDK.
2. Playing starts with Pre Roll ad then Video content.
3. After reaching Ad point at 2 minutes, AdEvent happen as Ad loaded but after that nothing happens.

Point noted:
1.Same Scenario with same Ad id work

[2019-05-29 15:02] yogesh37 opened #5966 "Midroll ad freezes Exoplayer"
### [REQUIRED] Content description
ExoPlayer freezes at the starting of the midroll ad. This problem occurs only for some Vast id.
Steps:
1. Loading VAST response in exoplayer latest IMA SDK.
2. Playing starts with Pre Roll ad then Video content.
3. After reaching Ad point at 2 minutes, AdEvent happen as Ad loaded but after that nothing happens.

Point noted:
1.Same Scenario with same Ad id work f

[2019-05-29 15:02] yogesh37 commented on #5965
duplicate #5966

[2019-05-29 15:11] andresdiez opened #5967 "Track selections"
I Looked every where but the is not concrete answer

Exoplayer 2.4
In a master.m3u8 with 7 renditions available will exoplayer select renditions based on device capabilities, is so how do I get this list? I know exoplayer has onTracksChanged which provide a TrackGroupArray of the renditions available on the master.m3u8 but i'm actually looking for the list of renditions that a device is capable of

[2019-05-29 15:36] ojw28 commented on #5940
If you want to ask a question about a comment on a particular issue, please could you ask it on the same issue rather than somewhere unrelated? Thanks.

[2019-05-29 15:36] erdemguven commented on #5573
It looks like only a reporting problem. Already cached data is recounted when caching resumes. A fix will be committed soon.

[2019-05-29 15:37] ojw28 commented on #5913
Clarification on terminology:
* compressed sample == a media sample before it's fed through the decoder (i.e. as it's stored in the container)
* decompressed sample == a sample after it's been fed through the decoder (i.e. a video frame ready for display, or a PCM audio sample)

[2019-05-29 16:04] AquilesCanta commented on #5756
Brief comment on this: Wouldn't it be possible for custom encryption methods to use the fields available in EXT-X-KEY to decrypt segments as necessary?

For instance, let's say verimatrix use their own encryption method, so samples are tagged as follows:

#EXT-X-KEY:METHOD=VERIMATRIX-AES-128,URI="https://path.to.data/necessary/for/decryption"

And then we pass the EXT-X-KEY data to the [HlsDataSou

[2019-05-29 17:05] andrewlewis commented on #4806
@rishun-fsi Sorry for the delay. I couldn't reproduce this using the demo app modified to start at a non-zero position and use video tunneling, testing on BRAVIA_ATV3_4K_EU/NRD91N.S133 and SVP4KDTV15_UC/LMY48E.S226. Once you have access to a test device please try to reproduce this again, and if it's still reproducible file a new issue, including a full bug report. Thanks.

[2019-05-29 17:05] #4806 closed, assigned to andrewlewis

[2019-05-29 17:16] bjitivo commented on #5756
Custom DRM solutions are inflexible as they are created by third parties not particularly interested in working with open source projects (unfortunately).  In this case, the Verimatrix solution does not emit custom METHOD tag, so what are suggesting would require changes on their part, which is unlikely.  Furthermore, that METHOD is not defined in the HLS spec and so would be nonstandard, so you'd

[2019-05-29 17:24] GaureeshA commented on #5940
Sure @ojw28, but the last issue was closed immediately. So could not reply there.
Anyway, your reply about compressed vs decompressed was very helpful. Thanks a lot.

[2019-05-29 17:25] AquilesCanta commented on #5756
So who would implement the decryption components?

So what are they using for signalling encrypted segments?

Can you please provide an example of what media would look like?

[2019-05-29 17:29] ojw28 commented on #5940
There is nothing stopping you from replying on a closed issue (unless it's been subsequently locked, but we don't tend to do that unless an issue has been untouched for a relatively long period of time)

[2019-05-29 17:37] ojw28 commented on #5958
This issue is being closed because it doesn't contain sufficient information. Please fill out the issue template in full when filing an issue.

[2019-05-29 17:37] #5958 closed, assigned to ojw28

[2019-05-29 17:40] bjitivo commented on #5756
The DRM library implements the decryption.  An application implements a DataSource.Factory instance (sorry I neglected to mention this in my previous comment) which supplies DataSource instances which implement a new interface "HlsDecryptingDataSource".

When the HlsChunkSource detects that a segment is encrypted, it checks to see if the data source it has been provided is an instance of HlsDecryp

[2019-05-29 17:44] VincentBilodeauFP commented on #5860
Tested with the the TimedValueQueue, I'll just add that pollFloor worked better in this case for me :) (sorry it took some time for me to close this, I had to properly update the exoplayer from a rather old version, and had some trouble doing it)

[2019-05-29 17:44] #5860 closed, assigned to andrewlewis

[2019-05-29 18:03] Kamil-H opened #5968 "Rating Action not appearing in player"
### Searched documentation and issues
I checked source code of the `MediaSessionConnector`. Also I was looking for similar issue on the Internet and checked other apps that are using this class.

### Question
I'm building Android Auto Media app. I'm using `MediaBrowserServiceCompat` combined with `ExoPlayer2` and `MediaSessionConnector` to expose list of media and play it in Android Auto interface

[2019-05-29 18:08] ojw28 commented on #5964
Please properly fill out the issue template (including attaching a full bug report - there is possibly useful information either side of the small log snippet you've included here).

[2019-05-29 18:26] buttss commented on #5943
After investigating the issue a little more. It seems like the currentPosition increments while the ad is loading. I'm basing this off the fact that the starting offset greatly increases when stepping through the code in a debugger, essentially delaying callbacks to the player

[2019-05-29 18:26] ojw28 commented on #5960
You pass the URL to the player (indirectly, by building a `MediaSource`). So you should already know what it is. If the question is specifically in the context of playlists, please see [this documentation](https://exoplayer.dev/playlists.html#identifying-playlist-items).

[2019-05-29 18:30] catbaxter commented on #5960
Ok, the following situation - there is a redirect and I would like to know the redirected url

[2019-05-29 18:54] marcbaechinger commented on #5968
I think this works as intended. Android Auto chooses not to show the rating action.

The `MediaSessionConnector` uses the `PlaybackStateCompat.Builder` to build the `PlaybackStateCompat` which is then published to the media session. Part of this playback state is a `long` value which is a bitmask to indicate the actions which are supported by the app. Icon bitmaps are not published to the media se

[2019-05-29 19:09] AquilesCanta commented on #5756
If the provided data is the Initialization Vector plus whatever is obtained from the EXT-X-KEY's URI, then I don't see why these cant be just provided to HlsDataSourceFactory, for implementations to do whatever they need.

[2019-05-29 19:17] Kamil-H commented on #5968
@marcbaechinger Thank you for very detailed answer.
I would agree and accept fact that it's not possible to display Rating action in Android Auto, but I can see other apps are doing this. For example Spotify or even Google Play Music app lets to do it. Of course I have no idea if they are using `MediaSessionConnector `, but still they shows it's possible.
![image](https://user-images.githubusercon

[2019-05-29 19:19] bjitivo commented on #5756
Obtaining the key from the EXT-X-KEY's URI is a custom operation that only the DRM library can perform, which is why the standard HlsChunkSource/HlsDataSourceFactory cannot do it.

[2019-05-29 19:21] AquilesCanta commented on #5756
What does the URI attribute contain?

[2019-05-29 19:23] bjitivo commented on #5756
It contains a url, but the communication mechanism between the client and the key server is somehow custom and requires the DRM library to utilize the url to fetch the key.   I do not know what exactly Verimatrix does to prevent the key from being downloaded by anyone who knows the url of the key, but it's their whole business model to protect that key so I can assume it's something pretty tricky.

[2019-05-29 19:28] AquilesCanta commented on #5756
Isn't it something they can do with the URL?

ExoPlayer delegates the loading of URI to a DataSource implementation created by the HlsDataSourceFactory as well, so I don't see the issue just yet.

[2019-05-29 19:32] marcbaechinger commented on #5938
I did not manage to play the file on a Pixel 3 with P. Can you give me some details how you did this?

[2019-05-29 19:36] bjitivo commented on #5756
ExoPlayer does not delegate the loading of the key data to the DataSource, though, and that's what the custom HlsDecryptingDataSource allows.

ExoPlayer tries to download the key data itself, which always fails, because the key URI is something that only the Verimatrix library can use to get the key data.

[2019-05-29 19:57] AquilesCanta commented on #5756
We create the data source we use for keys from the HlsDataSourceFactory [here](https://github.com/google/ExoPlayer/blob/ecb7b8758cd6a700b72275a56d22b3dc56959764/library/hls/src/main/java/com/google/android/exoplayer2/source/hls/HlsChunkSource.java#L154).

Can you clarify?

[2019-05-29 20:15] bjitivo commented on #5756
The code you link to is significantly different from what I have; we are using exo player r2.9.6.  Our version of HlsChunkSource is significantly different so the description I gave previously is accurate only for that version.

Reading the version you have, though, the basic problem is still the same -- the HlsChunkSource has a key cache that it internally manages that fetches the keys directly,

[2019-05-29 20:39] ojw28 commented on #5962
@anjaneesh - Could you take a look and see if these streams play correctly using the default cast receiver?

[2019-05-29 20:49] enaamr commented on #5786
I have the same problem any help?

[2019-05-29 21:49] ojw28 commented on #5931
I'm assuming you get information about the TV shows out of band (i.e. not in the HLS playlists themselves, but through some separate requests). Is that correct? Is the idea that if you're 10 minutes into a 30 minute TV show:

* You want to show a 30 minute seek bar
* Only the portion of the seek bar for which media is actually available in the HLS media playlists would be seekable

Does that sound

[2019-05-29 21:59] tprochazka opened #5969 "Why method for getting information needs to be called on main thread"
Why methods like these:

  @Override
  public long getDuration() {
    verifyApplicationThread();
    return player.getDuration();
  }

  @Override
  public long getCurrentPosition() {
    verifyApplicationThread();
    return player.getCurrentPosition();
  }

needs to be called on main thread?
It doesn't touch ani view, it just returns a variable value?

I'm calling this from WebVia via @Javascri

[2019-05-29 22:05] ojw28 commented on #5956
I'm not really sure exactly what you mean by this, but it seems preferable get everything you need through a single event (which I think is what `onDownstreamFormatChanged` will give you), rather than having to query the tracks and the renderers and tie the data back together.

[2019-05-29 22:06] gemiren commented on #5938
I'm sorry. I should clarify that I was able to play that file using MediaPlayer on my LG G5 phone. However, ExoPlayer still fails to paly it on LG G5.

And you are right that it failed to play with both MediaPlayer and ExoPlayer on Pixel 3.

[2019-05-29 22:37] ojw28 commented on #5969
If you look into what `player.getDuration()` and `player.getCurrentPosition()` do, they do a lot more than just returning variable values. They are not safe to call on arbitrary threads. ExoPlayer's threading model is described [here](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/ExoPlayer.html). Note that it's not a hard requirement that the main thread is used. Although it is

[2019-05-29 22:49] portizb commented on #55
@rkachach Are you testing with the latest changes on the dev-v2-rtsp branch? Please, you keep follow the pull request #3854

Your doubts are answered on:
https://github.com/google/ExoPlayer/pull/3854#issuecomment-485966021
https://github.com/google/ExoPlayer/pull/3854#issuecomment-487037671

[2019-05-30 06:27] sr1990 commented on #5946
@erdemguven Can you access now? I changed the drive permissions.

[2019-05-30 08:28] praneethkumar16 commented on #5964
**Here is the full stack trace:**

  --------- beginning of crash
[code]
I'm using this way to initialise the media source
`MediaSource videoSource = new HlsMediaSource(mp4VideoUri, dataSourceFactory, 1, null, null);`

[2019-05-30 09:01] GouravSna opened #5971 "Playback fails in demo app after selecting all the tracks from the same audio track group"
**Issue:** Playback fails when we try to select all the tracks available in an audio group.

**Media:** https://bitdash-a.akamaihd.net/content/sintel/hls/playlist.m3u8

**Crash Log:**

[code]

**My Assumption:** I am assuming that when I select all the tracks available from an audio group it will behave like adaptive (track Index = -1).

**Question:**
If I check the stream it has the following aud

[2019-05-30 09:03] ojw28 commented on #5964
`com.ooyala.android.player.exoplayer` is a fork of ExoPlayer. You need to report your issue to Ooyala.

[2019-05-30 09:03] #5964 closed, assigned to ojw28

[2019-05-30 09:05] GaureeshA commented on #5913
Thank you! We are most probably looking for the compressed form. As you mentioned about "DashMediaPeriod", where can I find the bytes of the compressed sample so that I can save it locally and make some changes to it. I can find the class called "Chunk", but how do I access the bytes? Thanks again.

[2019-05-30 09:05] praneethkumar16 commented on #5964
Why did you close the issue with out solving it?

[2019-05-30 09:09] ojw28 commented on #5964
It's not an ExoPlayer issue. It's an issue in Ooyala's fork of ExoPlayer, as per my response above.

[2019-05-30 09:15] giladna commented on #5971
@ojw28
in previous version we were able to set adaptiveness in each of the groups since each audio group is working on its own language.

as for now the auto possibility is not available any more for each group
the questions is actually how adaptiveness for now is working across languages on latest version

[2019-05-30 09:33] ojw28 commented on #5967
Yes, and also based on any constraints that you've specified on `DefaultTrackSelector`. Please see the [Track selection page](https://exoplayer.dev/track-selection.html) of our developer site for more information about setting constraints.

`MappedTrackInfo` is a good source of this information. Take a look at `EventLogger.onTracksChanged` to see how you can query it. If you use the demo app you c

[2019-05-30 09:36] #5969 closed, assigned to ojw28

[2019-05-30 09:37] #5953 closed, assigned to ojw28

[2019-05-30 09:48] ojw28 commented on #5875
Closing because this appears to be a Dexguard issue rather than a bug in ExoPlayer.

[2019-05-30 09:48] #5875 closed, assigned to andrewlewis

[2019-05-30 10:45] tprochazka commented on #5969
Thanks. So it means that I can directly use the thread used by WebView. I just need to create Player itself on the same thread and this thread must have a looper. I will try to go this way.

[2019-05-30 10:54] CreeschYT commented on #5957
Oh ok now it's fixed thanks !

[2019-05-30 11:09] AquilesCanta commented on #5955
This is another manifestation of #4964. A fix will be referenced below this comment soon.

[2019-05-30 11:24] anandsingh2903 opened #5972 "Exoplayer v2 playerView.hideController() not hiding controllers"
Exoplayer v2 playerView.hideController() not hiding controllers.

[code]

[2019-05-30 12:10] ojw28 commented on #5972
I tried changing `PlayerActivity.onClick` to hide the controller when the track selection button gets pressed, as an experiment, and the controller is hidden correctly.

I think this is probably an issue with your application code. If you can create a small patch to the ExoPlayer demo app illustrating that it really is an ExoPlayer issue, please do so and share it here.

[2019-05-30 12:10] tonihei commented on #5971
The reasons for this bug is that all the audio formats have no bitrate specified. We can and should make our algorithm more robust to gracefully handle this case, but I'm unsure what you are actually trying to achieve? There is no sensible way in which we can switch dynamically between two formats if they don't have bitrate information to guide the decision.

[2019-05-30 12:18] tonihei commented on #5971
@giladna I don't understand how your comment is related to the issue above. Can you rephrase it or open a new issue/question if unrelated?

[2019-05-30 12:54] giladna commented on #5971
@tonihei
I was asking regarding auto bitrate selection in such case that 2 different languages are defined in 2 different groups

would it be possible to set auto bitrate selection for each group or auto bitrate selection is single option for a all audio tracks

[2019-05-30 13:10] #5967 closed, assigned to ojw28

[2019-05-30 13:25] giladna commented on #5971
@ojw28 @tonihei

I am not sure in 100% but in m3u8 it is not expected to expose the audio bitrate  compare to dash where adaptation set expose it.
so I guess stream is fine

[2019-05-30 13:39] #5956 closed, assigned to ojw28

[2019-05-30 13:42] giladna commented on #5971
@ojw28  @tonihei

one more question is if auto bitrate selection in m3u8  is relevant at all in multi language case?
since it is not straight forward compare to dash

[2019-05-30 13:49] giladna commented on #5971
![Screen Shot 2019-05-30 at 4 47 24 PM](https://user-images.githubusercontent.com/16818804/58637215-b44eaa80-82fa-11e9-8f92-bb978d01822b.png)
![Screen Shot 2019-05-30 at 4 45 47 PM](https://user-images.githubusercontent.com/16818804/58637216-b4e74100-82fa-11e9-82c4-485025e79324.png)

Attached formats for same stream but once in m3u8 and once in dash formats
it can be noticed that the bitrates are

[2019-05-30 14:00] tonihei commented on #5971
Yes, HLS streams mostly don't have specific audio bitrates as the provided bitrates are only for combined  video+audio.

[2019-05-30 14:30] tonihei commented on #5971
Fixed by commit above.

[2019-05-30 14:30] #5971 closed, assigned to tonihei

[2019-05-30 14:44] giladna commented on #5971
@tonihei  thanks!

Regarding selecting auto bitrate for specific language in dash
how would it be applicable using ParametersBuilder because changing to auto bitrate selection in multiple languages is done by sending empty selection overrride which can be used only for one language in that form

![Screen Shot 2019-05-30 at 5 41 04 PM](https://user-images.githubusercontent.com/16818804/58640642-313

[2019-05-30 15:00] CreeschYT opened #5973 "Report progressive live streams as dynamic/live to improve UI interactions"
### Content description
I'm developing an `m3u` player which asks the user to choose an `m3u` file. The `m3u` urls are put in a `ConcatenatingMediaSource` the urls work fine. When the user presses 'Next' the next url should play which works. There are two timers one on the left and on the right. The one on the left counts. The one on the right stays at zero (because of `m3u livestreaming`). The pr

[2019-05-30 15:07] rajeshghosh1978 commented on #5935
Any update on this

[2019-05-30 16:35] marcbaechinger commented on #5968
In this case I think these apps are using custom actions. You can do this with the `MediaSessionConnector` by using `setCustomActionProviders` to set your `CustomActionProvider`.

The media session connector will call `customActionProvider.getCustomAction(player)` so you can return a `PlaybackStateCompat.CustomAction` which includes the resources required by Android Auto to do the UI with your ico

[2019-05-30 16:47] ojw28 commented on #5973
This is working as intended for on-demand streams and for live streams that are seekable. In these cases pressing back will seek back to the start of the current stream, unless playback is already near the start.

You're right that this doesn't make sense for non-seekable live streams, which is what you're dealing with here. We should adjust the logic for that case.

[2019-05-30 16:54] NathanSass commented on #5932
@ojw28 Our team decided to use 60s segments because our app is audio only & they deduced that 60s of audio only was equal to 6s of audio + video. Do you think this design decision would cause an issue with exoplayer?

I've tried downloading some content using exoplayer `2.10`. I downloaded a 25min long audiofile that had 6s segments. It took almost 2 minutes to download. Our app deals with audiobo

[2019-05-30 18:11] KarlGallagher opened #5974 "Allow OfflineLicenseHelper to be configured in Widevine L3 mode"
### [REQUIRED] Use case description
Some applications force use of Widevine L3 for protected playback.
In offline use-cases, persistent keys must therefore also be acquired via a L3 DRM session given that L1 keys cannot be restored to L3 session and vice-versa

### Proposed solution
Extend the static constructor(s) to accept configuration param related to the desired DRM robustness setting.

### A

[2019-05-30 21:54] ojw28 commented on #5932
HLS doesn't really seem like the right tool for what you're trying to achieve, vs something much simpler like regular MP4. Is there a reason you're trying to use HLS?

[2019-05-30 22:05] stufan opened #5975 "Cronet extension: Support cookie storage"
I am trying to switch streaming from HttpDataSource to CronetDataSource. The way I am doing it by adding official ExoPlayer cronet extension: https://github.com/google/ExoPlayer/tree/release-v2/extensions/cronet

Then in code just change:
`DataSource.Factory mDataSourceFactory = new DefaultDataSourceFactory(mContext, RemoteGateway.getUserAgent(), bandwidthMeter);`

to:
[code]

What happens is that

[2019-05-30 22:09] ojw28 commented on #5974
I think this is already possible. To force use of L3 for playback, you are probably calling something like:
[code]
On `OfflineLicenseHelper` you can do the [same thing](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/drm/OfflineLicenseHelper.html#setPropertyString-java.lang.String-java.lang.String-). Please clarify if this doesn't work for you.

[2019-05-30 22:33] ojw28 commented on #5975
Cronet doesn't store cookies, as per [this issue](https://bugs.chromium.org/p/chromium/issues/detail?id=428936). I think the best approach here would be to:

1. Define a simple `CookieStore` interface in the Cronet extension, and allow an implementation to be injected from app code.
1. App code would be responsible for injecting an implementation. We'd design `CookieStore` to trivially map onto `O

[2019-05-30 22:36] ssenanayake opened #5976 "Multi-Period DASH - No Captions after Period transition or seek past a Period boundary."
**Issue description:**

Captions not working after a Period transition (or seeking past a period boundary) in Multi-Period DASH.

**Reproduction steps**

1) Play the Test Content indicated below & Enabled Captions Track.
2) Seek to around 16:30 position and let it play through. The Period transition will be around 17:00
3) Observe that after the period transition, there's no Captions. The Captions

[2019-05-30 23:17] ojw28 commented on #5976
Please see [this Javadoc](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/trackselection/DefaultTrackSelector.html). In particular, see the second benefit of using constraint based track selection rather than a specific selection override:

The problem with using a specific selection override in this case is that the format of the subtitle representation in the second period isn'

[2019-05-31 00:35] ssenanayake commented on #5976
Thanks :)   Implemented the suggestion and verified as working.

[2019-05-31 00:47] NathanSass commented on #5932
The reasons for using HLS were:
 - audiobooks are divided up into chapters & multiple audio files. The HLS playlist seemed to work well with this design.
 - it seemed like a better choice for handling encryption & decryption
 - It works with DRM solutions (We may want to implement in the future)
 - We thought HLS would provide smoother transition from one audio file to another audio file. Somethin

[2019-05-31 03:58] Romantic-LiXuefeng commented on #5573
Thanks!  I'll close this issue.

[2019-05-31 03:58] #5573 closed, assigned to erdemguven

[2019-05-31 08:30] #5960 closed, assigned to ojw28

[2019-05-31 09:32] GaureeshA commented on #5940
We are most probably looking for the compressed samples(i.e. along with container). As you mentioned about "DashMediaPeriod", where can I find the bytes of the compressed sample so that I can save it locally and make some changes to it. I can find the class called "Chunk", but how do I access the bytes? Thanks again.

[2019-05-31 10:13] rahulpsingh123 opened #5977 "Not able to get the duration/progress of the video, in playing HEVC. The total duration seems to come negative."
Not able to get the duration/progress of the video, in playing HEVC. The total duration seems to come negative. Any help in this regard would be highly appreciated.

That's the URL that I've been trying to play:
https://d3sko9ovoyz71z.cloudfront.net/video/hevc-0/BAC78AB8-330B-4696-86A1-6CD22D776BF3.mp4

the video plays, but, I cannot show the proper progress bar, as it doesn't return the current d

[2019-05-31 11:48] szaboa commented on #5633
@AquilesCanta
The fix seems to be working fine, thank you 👍

[2019-05-31 11:50] AquilesCanta commented on #5633
Glad to hear that. Let me know if you run into any other issues.

[2019-05-31 13:02] ojw28 commented on #5977
The duration looks fine to me in the ExoPlayer demo app. The file isn't seekable because for some reason it's an FMP4 file that doesn't contain a sidx atom. It should probably have one, which would allow seeking.

[2019-05-31 13:02] #5976 closed, assigned to ojw28

[2019-05-31 13:12] ojw28 commented on #4721
`DefaultDrmSessionManager` and `OfflineLicenseHelper` both have this problem. @AquilesCanta - How would you feel about adding a `release()` method to both, which does nothing if the application injected the `mediaDrm` itself, but releases the `mediaDrm` if it was constructed internally?

[2019-05-31 13:32] KarlGallagher commented on #5974
@ojw28

My bad, just noticed this.

[2019-05-31 13:32] #5974 closed, assigned to ojw28

[2019-05-31 15:55] #5965 closed, assigned to nobody

[2019-05-31 18:16] ojw28 commented on #5932
I'll try and provide a high level summary of where we are with this, and hopefully in doing so answer your questions. I've not responded as clearly as I might have done so far!

**Seeking**

The response from @Romantic-LiXuefeng is basically the correct answer to this. Individual TS segments (i.e. the files that are listed in your HLS playlist) are not prefixed with any indexing information that l

[2019-05-31 18:30] ojw28 opened #5978 "DASH/HLS/SS downloads: Parallelize & merge requests to improve download speed"
ExoPlayer currently requests segments one at a time when downloading segmented media. This means that the network is not fully utilized, particularly in cases where there's significant latency between client and server. There are two approaches for improving this:

1. Parallelize segment downloads so that the network can remain more fully utilized.
1. Where consecutive segments have the same URL a

[2019-05-31 18:31] ojw28 commented on #4273
I filed https://github.com/google/ExoPlayer/issues/5978 for exploring parallelization, and also merging segments into fewer HTTP requests when they have the same URL and adjacent byte ranges.

[2019-05-31 18:32] ojw28 commented on #5932
For the first conclusion, I've filed https://github.com/google/ExoPlayer/issues/5978. I think that's the only actionable thing on the ExoPlayer side, so I'll leave this issue closed.

[2019-05-31 19:35] oseparovic opened #5979 "Segments failing to load when phone time out of sync"
I've been using Exoplayer for a while for Dash broadcasts. Recently I noticed that my personal device stopped loading streams. When I looked through logs I noticed that I was getting a 410 from the server because the segments that were being loaded had already been removed. On other devices I didn't have this problem.

As I dug deeper into the issue I noticed that my personal device's System time

[2019-05-31 21:10] ojw28 commented on #5979
DASH manifests that require the client to have an accurate clock should include a `UTCTiming` element, so that the client can synchronize itself with the server. If a `UTCTiming` element is included then ExoPlayer will not rely on the device clock.

Marking as "bad content" on the assumption that there is no `UTCTiming` element. You should request that the third party fix this. The only other opti

[2019-05-31 21:10] #5979 closed, assigned to ojw28

[2019-05-31 21:18] ojw28 commented on #5963
Fixed by https://github.com/google/ExoPlayer/commit/6e7012413bf0f6ae7f3885caa1001988cc5d5f89.

[2019-05-31 21:18] #5963 closed, assigned to ojw28

[2019-05-31 21:21] #5927 closed, assigned to erdemguven

[2019-05-31 21:22] #5922 closed, assigned to andrewlewis

[2019-05-31 21:22] #5633 closed, assigned to AquilesCanta

[2019-05-31 21:31] #5765 closed, assigned to ojw28

[2019-05-31 21:38] #5942 closed, assigned to andrewlewis

[2019-05-31 23:48] oseparovic commented on #5979
Ah that makes sense. Thank you for the suggestion!

[2019-06-01 10:03] T-10001 commented on #5922
@andrewlewis @tonihei @ojw28 I changed the `Application.mk` and `generate_libvpx_android_configs.sh` file contents to the contents in the [c495a3f](https://github.com/google/ExoPlayer/commit/c495a3f55e7a6ee1bfe653068967d7300d07acc0) commit. But then I get this problem when running `./generate_libvpx_android_configs.sh "${NDK_PATH}"` with ndk r19c:
[code]

[2019-06-01 11:23] sneltyn opened #5980 "Decoder init failed after long time playing"
### Searched documentation and issues
I did not find a similar problem related to long-term playback. Documentation not found this problem description.

### Question
After a long continuous operation of the player (5 days), the decoder stops initialization with the following exception:

[code]

It is worth noting that the same content was played without any problems. But after 5 days, he no longer

[2019-06-02 07:10] GaureeshA opened #5981 "How do we access the playback buffer in exoplayer? I want to access small chunks of playable video (container format) from the buffer, make some changes and replace them back in the buffer?"
Before filing a question:
-----------------------
- This issue tracker is intended ExoPlayer specific questions. If you're asking
  a general Android development question, please do so on Stack Overflow.
- Search existing issues, including issues that are closed. It’s often the
  quickest way to get an answer!
  https://github.com/google/ExoPlayer/issues?q=is%3Aissue
- Consult our developer websit

[2019-06-02 07:13] cr1944 opened #5982 "seekTo and duration of mp3 is incorrect with exoplayer2.9.6"
### [REQUIRED] Issue description
When I use exoplayer 2.5.4 for play mp3, everything works correct. However, after I upgrade exoplayer to 2.9.6, seekTo always slower for about 1 second, and the duration is not correct too.(compared to playing in Chrome)
### [REQUIRED] Reproduction steps
1) Use ExoPlayer Demo and Chrome to play the mp3 below.
The duration in Chrome is "4:53", but is "4:55" in ExoPl

[2019-06-02 08:42] amjadmasri commented on #5831
@tonihei
hello and sorry it took us this long to get back to you
after upgrading to the Exoplayer version 2.10.0 and three days of the new release we stopped getting the assertion error
but the second bug is still affecting some users

[code]

thank you!

[2019-06-02 10:57] 1604020 opened #5983 "Exoplayer not working for Android 6.0 and below"
I am using Exoplayer to play videos from a URL. It works like a charm for Android 7.0 and above but the player freezes and gives error 400 while playing in Android 6.0. Please help

[2019-06-02 12:26] ShahoBashoki opened #5984 "can't play live video with huawei mate 10 lite"
2019-06-02 16:45:30.281 31933-31933/land.pod.play E/BufferQueueProducer: [] Can not get hwsched service
2019-06-02 16:45:30.290 759-759/? E/Thermal-daemon: [battery] temp_new :33  temp_old :32
2019-06-02 16:45:30.291 2041-31132/? I/ThermalService: Receive temperature change, type: 9, temp: 33 from thermald
2019-06-02 16:45:30.291 2041-31132/? I/ThermalTrace_ThermalRaise: Battery:33
2019-06-02 16:4

[2019-06-03 06:54] shailesh9898 opened #5985 "Getting the current track: getCurrentWindowIndex() returns wrong index"
Getting the current track: getCurrentWindowIndex() returns wrong index

[2019-06-03 08:27] tonihei commented on #5831
Glad to hear that!

Yes, the potential fix hasn't been released yet because we were still testing various scenarios to see that it actually works.

[2019-06-03 09:25] yogesh37 commented on #5966
@andrewlewis Any updates???

[2019-06-03 09:36] #5940 closed, assigned to erdemguven

[2019-06-03 09:37] ojw28 commented on #5940
Duplicate of https://github.com/google/ExoPlayer/issues/5913

[2019-06-03 09:37] ojw28 commented on #5981
Duplicate of https://github.com/google/ExoPlayer/issues/5913. Please don't repeatedly file new issues about the same thing.

[2019-06-03 09:37] #5981 closed, assigned to ojw28

[2019-06-03 09:39] ojw28 commented on #5913
This level of customization is not something we provide an API for, and goes beyond what we're reasonably able to provide advice on through this issue tracker. You should probably take a look at `SampleQueue` as a starting point.

[2019-06-03 09:49] AquilesCanta commented on #5980
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md).

If this issue is device specific, it may be worth contacting the device manufacturer, since there is not much we can do on our side to help with this.

[2019-06-03 09:50] AquilesCanta commented on #5983
Can you please provide the URL for us to look? We will, at least, need to reproduce the issue in order to help.

[2019-06-03 09:51] AquilesCanta commented on #5983
You can send it to dev.exoplayer@gmail.com if you don't want to post it here.

[2019-06-03 09:53] AquilesCanta commented on #5985
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md).

If this refers to the cast extension, please track #5955.

[2019-06-03 10:00] sneltyn commented on #5980
@AquilesCanta sorry, i selected questions template. Change to bug?

[2019-06-03 10:12] sneltyn commented on #5980
Well, I'll find out how this problem manifests itself on other devices. I will open the task if there is a problem on different devices.

[2019-06-03 10:12] #5980 closed, assigned to AquilesCanta

[2019-06-03 10:17] Programmer-Jared opened #5987 "When I play the HTTP URL, I find a bug"
Hello, I have a problem using EXOplayer! When I play the url, play until the last few seconds, occasional error: "com. Google. Android. Exoplayer2. Upstream. FileDataSource $FileDataSourceException: Java. IO. FileNotFoundException: : open failed: ENOENT (No to the file or directory)"

Test environment: android6.0, android 5.0;

I need your help. Thank you.

[2019-06-03 11:46] lo1tuma commented on #5681
We are facing the same issue on devices with the Qualcomm Snapdragon 845 chipset with stock android or LineageOS.
Only streams which are encoded with `BT.601` color space are affected, other streams with `BT.709` work fine. That’s why we assume this is the same problem as in #3596.

[2019-06-03 17:45] KnIfER opened #5988 "Cannot play incomplete mp4 files : not robust"
# Content description
video apps can produce incomplete mp4 file caches, and they can be palyed by ffplayer, MediaPlayer, mxplayer and libvlc player and potplayer. They are seekable and have complete metadata, but their timelines are incomplete.
[code]
the app won't crash, but displays no image.
# Link to test content
[incomplete mp4 file sample (4/15 sec).zip](https://github.com/google/ExoPlayer/

[2019-06-03 19:55] kvillnv opened #5989 "Exoplayer 2.10.1 - Download retro-compatibility and performance"
**EDIT**: Initially, I opened this thread for a question about retro-compatibility. Since then I found a solution, and wrote it in my **2nd** message, and still would like to have your feedback, as I found that retro-compatibility with ActionFileUpgradeUtil does not seem to be optimum.
And now, there are new questions about critical issues in my **3rd** message.

Hello,
I would like to know if the

[2019-06-04 02:40] marcochin opened #5990 "Video at 0:00 plays audio that is supposed to be at 0:08 mark. Video speeds up to try to sync with the audio."
### [REQUIRED] Content description
The video starts with audio that is supposed to play at the 0:08 second mark so it almost feels like it skips a sound segment. The video for the first few seconds speeds up so that it tries to sync up with the audio. Since timing is off, the video freezes prematurely at the end. Tried it with the demo app and behavior is seen there as well. This behavior is not e

[2019-06-04 02:48] annetube commented on #5930
Any news ? I got same problems with this Dash link https://vosgestv.hdr-tv.com/live/vosgestv/livestream/manifest.mpd

[2019-06-04 06:13] GouravSna opened #5991 "Redmi Note-4 is under-reporting video playback capabilities"
**Question:** On Redmi Note-4, `getTrackSupport` in `TrackSelectionView` class does not return the device capability result properly.

I added all the tracks available for the following media, then I could see that device is capable enough to play the 10.29 Mbps(4k) media.

**Issue:** `getTrackSupport` should return the proper device capable tracks. Is there some issue in this method or should i u

[2019-06-04 07:32] GouravSna commented on #5991
One more question:

Can we achieve this by checking the track codec with the deviceSupported codec types ?

Ex:

`MediaCodecList.getCodecCount()` // Total codec count

Then by looping over all the codec counts,
[code]
then if codec is supported then shall we decide that the device is capable to play the video/audio ?

[2019-06-04 07:34] GouravSna commented on #5991
@ojw28 , please suggest.

[2019-06-04 08:29] Navidhp opened #5992 "How To Wait Player Until Load MetaData ?"
i use HlsMedia in exoplayer , some time metaData not loaded completely It causes controller have a problem (duration movie not completely show , pause and play hide when touched) , i guess unloading metadata causes problems , how to wait player until meta data load completely ? thanks

[2019-06-04 09:15] giladna commented on #5681
@ojw28

Seems like GEO block is removed now sending the mpd and license.
10x

[2019-06-04 13:18] tfcporciuncula opened #5993 "Support moving download location (e.g., between internal and external storage)"
### [REQUIRED] Use case description
I'm trying to implement a way for users to switch from internal storage to external storage (e.g. SD card), and I want to preserve all downloads when doing that. I'm releasing the current cache, copying all the files, and creating a new cache pointing to the new directory (I'm using `SimpleCache`). I'm also creating a new `DownloadManager` with the new cache, bu

[2019-06-04 14:06] yogesh37 commented on #5797
Hi @AquilesCanta  ,  is there any player support for VPAID ads?

[2019-06-04 15:15] #5977 closed, assigned to ojw28

[2019-06-04 15:16] ojw28 commented on #5972
Closing due to lack of information.

[2019-06-04 15:16] #5972 closed, assigned to ojw28

[2019-06-04 15:18] #5903 closed, assigned to ojw28

[2019-06-04 17:45] MicahSphelele opened #5994 "DialogFragement"
**ExoPlayer does not display video when playing from DialogFragment (FullScreen Dialog) on my P20 Lite**

[2019-06-04 22:39] kvillnv commented on #5989
I think I've got my solution: I don't want to take the risk of losing data because of missing indexation, and I am thinking about compatibility with next versions as well.
**Your feedback would be appreciated**. Here is what I did:

I was able to create `DownloadRequests` and `Downloads` from the data of the old downloads I saved in my app and add them in the `DownloadIndex,` but my data is not re

[2019-06-05 07:42] thibseisel commented on #5686
@tonihei I tried your suggestion and it doesn't seem to work, I may have missed something.
Here is the attempted code:
[code]

Pre-specified shuffle order seems to be ignored in this case too.
Maybe that's because it is not immediately applied when calling `ConcatenatingMediaSource.setShuffleOrder(ShuffleOrder)` ?

[2019-06-05 07:56] kgrevehagen commented on #5619
@AquilesCanta I'm very interested in this as well. Any status update or ETA? Are there workarounds you can think of that we can do in the meantime?

[2019-06-05 08:14] arcgate-git commented on #5988
I am also facing same issue when I am trimming video using mp4 parser. Trimmed video is not played by exoplayer giving above exception. Please let me know if you find any solution.

[2019-06-05 08:15] kgrevehagen commented on #2394
@AquilesCanta Any update on this issue or ETA? I guess the final solution also will resolve #5619? Any ideas on workarounds I can do in the meantime?

[2019-06-05 08:16] AshishPsaini commented on #2092
We are getting 1 star from users for these videos formats. Please provide the support for avi, flv, wmv and mpg formats.

[2019-06-05 08:46] Leeyoungryun opened #5995 "How can I check my android device to support 4K video?"
Before filing a question:
-----------------------
- This issue tracker is intended ExoPlayer specific questions. If you're asking
  a general Android development question, please do so on Stack Overflow.
- Search existing issues, including issues that are closed. It’s often the
  quickest way to get an answer!
  https://github.com/google/ExoPlayer/issues?q=is%3Aissue
- Consult our developer websit

[2019-06-05 08:50] ClarkKryptonite commented on #4725
May I ask how you merge .ass to mediasource. I use the same video and .ass file in the issue, however ,the subtitle doesn't displayed.
here is my code.
`DataSource.Factory factory = createFactory(context);

        MediaSource mediaSource = createRegularMS(factory, localUrl2);
        Format subtitleFormat = Format.createTextSampleFormat(
                null,
                MimeTypes.TEXT_SSA,

[2019-06-05 09:00] arcgate-git opened #5996 "Mp4 Video not played"
I am using Exoplayer version 2.10.1 and i have trimmed the video using mp4 parser. Particular trimmed videos play well on device using other players. But in exoplayer I am facing the issue below:

com.google.android.exoplayer2.source.UnrecognizedInputFormatException: None of the available extractors (MatroskaExtractor, FragmentedMp4Extractor, Mp4Extractor, Mp3Extractor, AdtsExtractor, Ac3Extractor

[2019-06-05 09:15] ojw28 commented on #5996
Duplicate of https://github.com/google/ExoPlayer/issues/5988

[2019-06-05 09:15] #5996 closed, assigned to ojw28

[2019-06-05 09:18] AquilesCanta commented on #5619
Working on it.

[2019-06-05 09:22] AquilesCanta commented on #2394
Yes.

Sorry I can't provide a short guidance on this, changes are pretty big. Thanks for your patience.

[2019-06-05 09:49] arcgate-git commented on #5988
Trimmed video gets played on device using ES media player. And works well on desktop and IOS devices

[2019-06-05 10:40] ItsRay commented on #5904
thanks!

[2019-06-05 11:17] tonihei commented on #5686
It's applied almost immediately by sending a message to the playback thread. I tested your code in demo app and it works perfectly fine.

[2019-06-05 11:17] AquilesCanta commented on #5982
Regarding 1. Not much we can do, since the file doesn't contain any metadata that ExoPlayer can use for seeking and knowing the duration. I can only suggest you either remux the content into a more seeking-friendly container format, or you add seeking metadata to the file.

Regarding 2, could you please try the dev-branch (and possibly the latest release branch) and let me know if you can reproduc

[2019-06-05 11:20] AquilesCanta commented on #5984
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/content_not_playing.md).

[2019-06-05 11:22] AquilesCanta commented on #5987
That would mean that the file you are trying to play is not there.

Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/content_not_playing.md).

I will reopen the issue once the missing information is provided.

[2019-06-05 11:23] AquilesCanta commented on #5988
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/content_not_playing.md).

[2019-06-05 11:24] AquilesCanta commented on #5989
Please @erdemguven have a look.

[2019-06-05 14:12] baole opened #5997 "Proximity sensor and audio mode"
### [REQUIRED] Searched documentation and issues
I'm looking for our specific use case but not sure how to handle it

### [REQUIRED] Question
Our app plays audio files with C.USAGE_MEDIA (probably equivalent to AudioManager.MODE_NORMAL). The sound is playing in the loud speaker (bottom speaker on many device)

[code]

When the user raises the phone to ear, we are using proximity sensor to detect t

[2019-06-05 14:40] foodpoison commented on #5928
Fix to this issue PR #5998 , please review :)

[2019-06-05 14:46] Shadkirill commented on #5931
Yes, that's how it is.

[2019-06-05 17:07] AquilesCanta commented on #5990
Playlists are not aligned, at least two of them have different program-date-times. You'll have to fix the content:

#EXT-X-PROGRAM-DATE-TIME:2019-05-22T14:28:26.068000+00:00
#EXT-X-PROGRAM-DATE-TIME:2019-05-22T14:28:33.477000+00:00

[2019-06-05 17:07] #5990 closed, assigned to AquilesCanta

[2019-06-05 17:31] AquilesCanta commented on #5991
I am assuming the track is reported as "NO_EXCEEDS_CAPABILITIES". If that's the case it's possible that the device is under-reporting capabilities. I don't think we work around these issues on the ExoPlayer side. You can implement a custom Track Selector that does overrides this selection for you. You can also contact the device manufacturer about this issue. Any input on this @ojw28?

[2019-06-05 17:36] AquilesCanta commented on #5992
I don't know what the issue is here. Please fill this [template](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md) including precise reproduction steps, expected and actual behavior.

[2019-06-05 17:37] AquilesCanta commented on #5993
@erdemguven Could you please take a look?

[2019-06-05 17:37] AquilesCanta commented on #5994
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/content_not_playing.md).

[2019-06-05 17:46] AquilesCanta commented on #5995
The [DefaultTrackSelector](https://github.com/google/ExoPlayer/blob/release-v2/library/core/src/main/java/com/google/android/exoplayer2/trackselection/DefaultTrackSelector.java) does a lot of things around track selection, like checking for the device resolution (assuming [you are letting the track selector know](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/trackselection/Defa

[2019-06-05 17:46] #5995 closed, assigned to AquilesCanta

[2019-06-05 17:56] AquilesCanta commented on #5997
@andrewlewis could you take a look at this?

[2019-06-05 22:07] nametable opened #5999 "Requirements for being able to use ProgressiveMediaSource"
### [REQUIRED] Searched documentation and issues
I have looked at a question on stackoverflow related to my problem I'm having: https://stackoverflow.com/questions/56118614/why-cant-i-locate-progressivemediasource. On github I don't see any issues directly related to the problem I'm having.

### [REQUIRED] Question
My [question](https://stackoverflow.com/questions/56463793/how-to-make-progressivem

[2019-06-05 22:38] ojw28 commented on #5991
Without proper, complete and precise reproduction steps, there's nothing we can do to efficiently look at this issue. Please provide some.

[2019-06-06 02:17] Programmer-Jared opened #6000 "Exoplayer play one url until the last few seconds,this url doesn't play anymore"
### [REQUIRED] when play one url until the last few seconds by exoplayer,this url doesn't play anymore
Hello,I have a problem using EXOplayer!
When I play the url, play until the last few seconds,occasional error:
Detail log information：
=====================
 "com. Google. Android. Exoplayer2. Upstream. FileDataSource $FileDataSourceException: Java. IO. FileNotFoundException: : open failed: ENOEN

[2019-06-06 02:36] #6000 closed, assigned to nobody

[2019-06-06 02:37] Programmer-Jared opened #6001 "Exoplayer play one url until the last few seconds,this url doesn't play anymore"
[REQUIRED] Searched documentation and issues
I have looked at a question on stackoverflow related to my problem .On github I don't see any issues directly related to the problem I'm having.
[REQUIRED] Question
Hello,I have a problem using EXOplayer!
When I play the url, play until the last few seconds,occasional error:
Detail log information：
"com. Google. Android. Exoplayer2. Upstream. FileDataSo

[2019-06-06 03:47] tanpuer opened #6002 "custom MediaSource related"
I use concatenatingMediaSource to play my video list seamlessly. But recently I need to pause video when current video reaches to end before playing next video. I paused the video in the onPositionDiscontinuity callback, but the first frame of next video occurred. I also tryed to stop decode thread in the method "canKeepCodec" in MediaCodecVideoRenderer, but still didn't satisfy my need.
Should I

[2019-06-06 04:01] GouravSna commented on #5991
**Steps to reproduce:**
**Media Stream URL:** https://bitdash-a.akamaihd.net/content/sintel/hls/playlist.m3u8
**Branch:** dev-v2

**Steps:**

1. In `TrackSelectionView` class, line ~274

_Replace:_
`if (mappedTrackInfo.getTrackSupport(rendererIndex, groupIndex, trackIndex)
            == RendererCapabilities.FORMAT_HANDLED) {
          trackView.setFocusable(true);
          trackView.setTag(Pair.

[2019-06-06 05:47] web30india opened #6003 "removeListener not wokring in android 5.1 and 6.1"
### [REQUIRED] Issue description
I am using Exo Player for Url Video play. its working fine in higher version of Android, but when I am trying to play video with Android version 5.1 and 6.1, once video play in my activity and I go to back activity then video sound not stop its playing continues and when I open other video and again go to back activity then multiple video sound play in my current a

[2019-06-06 08:02] tonihei commented on #6002
That's a duplicate of #5660. In short, you need to send a message which pauses the player at the end of the playback. But sending messages is not precise enough by default to do that in the right moment. So the linked enhancement is to allow sending precise messages for cases where playback needs to be interrupted at a precise playback position.

[2019-06-06 08:02] #6002 closed, assigned to tonihei

[2019-06-06 08:13] tanpuer commented on #6002
Thanks @tonihei
when will exoplayer allow precise messages? Right now, I should add next mediasource and seek to it instead when STATE_EDN?

[2019-06-06 08:22] Navidhp commented on #5992
@AquilesCanta this is my mistake i solved

[2019-06-06 08:22] #5992 closed, assigned to AquilesCanta

[2019-06-06 08:26] tonihei commented on #6002
Yes, that's one way to work around that. Unfortunately, you won't get the automatic prebuffering in this case and buffering will only start when you seek.

[2019-06-06 10:04] AquilesCanta commented on #5999
What kind of error are you getting? I can't assist much with the provided information.

I doubt it. I wouldn't expect an issue in ProgressiveMediaSource, which is pretty much stand-alone.

Importing ExoPlayer from gradle should be enough. I suggest you start a fresh project and depend on ExoPlayer from there, so you can see how it's supposed to work. Then you can add dependencies until you narrow

[2019-06-06 10:06] AquilesCanta commented on #6001
Please don't file duplicate issues. Follow the instructions provided in #5987.

[2019-06-06 10:06] #6001 closed, assigned to AquilesCanta

[2019-06-06 10:07] AquilesCanta commented on #5987
Please fill the [issue template](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/content_not_playing.md) by updating the original post and commenting below, or directly filing in a new comment.

[2019-06-06 10:12] AquilesCanta commented on #6003
Sounds like you are not correctly releasing the player when you are transitioning out of the activity. It is not in the scope of the issue tracker to debug apps. Make sure you are cleaning up resources, like illustrated in the DemoApp's [PlayerActivity](https://github.com/google/ExoPlayer/blob/release-v2/demos/main/src/main/java/com/google/android/exoplayer2/demo/PlayerActivity.java).

[2019-06-06 10:12] #6003 closed, assigned to nobody

[2019-06-06 12:03] sabinsathian opened #6004 "Internal track renderer error."
### [REQUIRED] Issue description
Exoplayer crashes when playing audio content not supported by TV
### [REQUIRED] Reproduction steps
Though the issue has been reported they have not been specific to Android version and hence opening a new issue to provide more insight to the issue.  Can Exoplayer gracefully handle this error irrespective of the cause?

Install Exoplayer in Android N device and play

[2019-06-06 12:42] MelvinKellner opened #6005 "ExoPlayer misreporting position of mp3"
### [REQUIRED] Issue description
ExoPlayer seems to return the incorrect position during playback.

### [REQUIRED] Reproduction steps
1: Start audio playback
2: Seek to a certain time. (it gets more noticeable the further you seek)
3: Compare audio at that position with another audio player.

### [REQUIRED] Link to test content
https://downloads.sensotec.be/OnlineDaisy/9bfb_0005.mp3

### [REQUIRED

[2019-06-06 16:10] ghost commented on #5693
Hello,
any updates on this issue ? I have the same problem.

[2019-06-06 16:35] sr1990 commented on #5961
I wanted to access the entire segments (compressed sample) to do something similar to bug #5913. I will take a look at SampleQueue and get back to you if I have any questions.
Thanks for your time. Closing for now.

[2019-06-06 16:35] #5961 closed, assigned to ojw28

[2019-06-06 18:52] marcochin commented on #5990
We understand the problem now, but based on the spec here (https://tools.ietf.org/html/draft-pantos-http-live-streaming-13), "The client MUST NOT depend upon the correctness or the consistency of the value of the EXT-X-PROGRAM-DATE-TIME tag." Is that the correct guidelines for hls? For us, unfortunately the encoding of these files is being done by someone else and we have no control.

[2019-06-06 18:57] ojw28 commented on #5990
That part of the spec seems to have been dropped from version 19 onward. In my opinion it didn't make much sense to begin with, since if a client can't rely on it being correct then its existence isn't particularly useful.

[2019-06-06 19:20] nametable commented on #5999
Error was due to human transcription error. I had typed progessive instead
of progressive and never noticed until much later 😫

Lesson: if a symbol can't be found, make sure you spelled it correctly.

[2019-06-06 19:23] #5999 closed, assigned to AquilesCanta

[2019-06-06 20:03] ojw28 commented on #5896
Changed this to a feature request. I think it should probably be an option, possibly passed via the track `Format`.

[2019-06-06 20:44] ojw28 commented on #2213
Reopening this as a feature request to support different modes with our default UI components.

[2019-06-06 20:46] ojw28 commented on #5931
For now, you need to implement your own player control UI to do this. I've reopened https://github.com/google/ExoPlayer/issues/2213 to track adding support in our default UI components.

[2019-06-06 20:46] #5931 closed, assigned to ojw28

[2019-06-06 20:55] ojw28 commented on #5681
@fredgc @jt64 - Could you take a look at this? A working stream has been provided to ExoPlayer's dev email address. Thanks!

[2019-06-06 21:41] Shadkirill commented on #2213
Can i expect on fix? On what date i can expect ?

[2019-06-06 21:48] ojw28 commented on #2213
There is currently no ETA for this.

[2019-06-07 01:54] adam-hurwitz commented on #5798
In addition to `playerNotificationManager.setPlayer(null)` in `onStartCommand(...)` the  `SimpleExoPlayer` instance needs to be set to false `player.playWhenReady = false` in order to stop playing.

    override fun onStartCommand(intent: Intent?, flags: Int, startId: Int): Int {
        intent?.let {
            when (it.getStringExtra(PLAYER_KEY)) {
                PAUSE.name -> player.playWhenR

[2019-06-07 02:29] Leeyoungryun commented on #5995
Thank you for answering. You're right DefaultTrackSelector has a lot of function. But I want to know. my user's device can play 4k videos. but your saying is that one user should play once, and exoplayer's track selector check phone's status and decide it can be possible to play or not. but **I want to know that before playing, it can be possible to play or not..?**
and I want to do this action. "

[2019-06-07 08:25] jakoss opened #6006 "HLS MaxAudioBitrate limit not working"
### Content description
I'm trying to stream audio only files (AAC and MP3, both codecs have the same issue). I generated 3 different bitrates playlists (256k, 192k and 128k) and then master playlist.
I need to be able to limit max bitrate (if users want to limit their data usage) to set values. So i have code:
[code]
And i setup hls media source like that (just static test streams):
[code]
It's p

[2019-06-07 08:32] AquilesCanta commented on #5990
@marcochin, you may consider injecting your own playlist parser and dropping the EXT-X-PROGRAM-DATE-TIME tags. For VOD content, it shouldn't affect playback.

[2019-06-07 08:41] jakoss commented on #5313
I think i have similar issue with strange set of tracks for my content here: https://github.com/google/ExoPlayer/issues/6006

Not sure if the issue have the same cause

[2019-06-07 09:18] AquilesCanta commented on #5995
If you want a method like "is4kSupported" there is no such thing in ExoPlayer. The capabilities depend on the decoder, so you need to pick a decoder and then ask the platform whether the decoder is able to play a specific format (like 4k). The entry point for this decision in ExoPlayer is [MediaCodecVideoRenderer.supportsFormat](https://github.com/google/ExoPlayer/blob/ecb7b8758cd6a700b72275a56d22

[2019-06-07 09:25] tfcporciuncula commented on #5993
Another alternative is to use reflection to clear the `downloadManagerListeners` whenever I need to reinitialize things. I've tested it and it works pretty well, so I guess a quick fix for this would be to just expose a method to clear that.

[2019-06-07 09:34] akanksha-hegde opened #6007 "onTracksChanged firing after postroll ad android"
I'm creating an analytics sdk which requires to collect stream details using exoplayer listeners. We have IMA ads integrated with streams. Is there a way to identify if there are postroll ads in the video?

[2019-06-07 09:39] akanksha-hegde opened #6008 "Identify IMA postroll ads in stream"
I'm creating an analytics sdk which requires to collect stream details using exoplayer listeners. We have IMA ads integrated with streams. Is there a way to identify if there are postroll ads in the video?

[2019-06-07 09:39] #6007 closed, assigned to tonihei

[2019-06-07 09:43] meenukrishnamurthy opened #6009 "Midroll ads freeze frame after playing"
### [REQUIRED] Content description
Play a video with midroll ad,seek beyond the point of midroll ad,then the midroll ad is played and the video playing resumes after ad.If we seek backward the frame freezes.

### [REQUIRED] Link to test content
Video Url : http://184.72.239.149/vod/smil:BigBuckBunny.smil/playlist.m3u8
Ads url : https://pubads.g.doubleclick.net/gampad/ads?sz=640x480&iu=/124319096/e

[2019-06-07 09:44] AquilesCanta commented on #6004
Which is the issue number?

[2019-06-07 09:46] AquilesCanta commented on #6008
Is the information in [Timeline.Period](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/Timeline.Period.html) sufficient? Also see [Timeline](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/Timeline.html) for more useful info.

[2019-06-07 09:56] akanksha-hegde commented on #6008
With the Timeline we can get the periods but is there way to identify it has postroll or not?

[2019-06-07 10:28] jakoss commented on #6006
Strange thing (but maybe not related) - every time i call player.currentManifest i got null. Same with onTimelineChanged event - i get 3 events (as expected), but manifest is null in all of them

[2019-06-07 11:24] Leondev7 opened #6010 "ExoPlayer stalling when playing 4K H265 files"
### Searched documentation and issues
I have searched the ExoPlayer docs as well as all issues i've found here related with H265 and 4K formats, but I'm not able to find the solution.

### Question
Hi I'm currently working in a multi player project and we are using ExoPlayer for video and audio playing purposes.
Right now I'm working in the prototype and testing how far the player can go.
The prob

[2019-06-07 13:15] AquilesCanta commented on #6008
Apologies. I've just realized that I was looking at a non-released version of the javadoc.

See [getAdGroupTimeUs](https://github.com/google/ExoPlayer/blob/624bb6b8d1709852e8cffc5c67eb7d5debd9e848/library/core/src/main/java/com/google/android/exoplayer2/Timeline.java#L402)'s javadoc in the dev branch:

This javadoc will be available in the next release, but the behavior of the method is already th

[2019-06-07 13:15] #6008 closed, assigned to AquilesCanta

[2019-06-07 17:54] Kelmatou opened #6011 "DefaultTimeBar with rounded corners"
### [REQUIRED] Searched documentation and issues
I've search in Github issues, Exoplayer documentation, googled my question and looked on stackoverflow

### [REQUIRED] Question
I'm looking for a way to get rounded corners on DefaultTimeBar. I couldn't find how to create my custom DefaultTimeBar.
Maybe there is already a way to achieve it so for now I'm just asking you the question.

[2019-06-08 01:11] marcochin commented on #5990
Yea, we're gonna remove the EXT-X-PROGRAM-DATE-TIME tags server side. Thanks!

[2019-06-08 03:55] annetube commented on #5930
@erdemguven

[2019-06-08 17:41] ChetanTayal138 commented on #5961
Hello , have you been able to make any sort of progress on this? I am trying to achieve something similar and it would be really helpful if you could send me in the right direction. Thanks

[2019-06-09 07:30] Navidhp opened #6012 "is X-TIMESTAMP-MAP necessary for sync caption with video ? (HLS)"
in hls video when change seek or progress video , caption not sync video and 2 second latter video , is X-TIMESTAMP-MAP necessary for sync caption with video ? or another way to fix this ? thanks

exoplayer-version : 2.9.6

[2019-06-09 18:54] AquilesCanta commented on #6012
Depends. In general, yes. As per [spec](https://tools.ietf.org/html/rfc8216#section-3.5):

`If a WebVTT segment does not have the X-TIMESTAMP-MAP, the client
   MUST assume that the WebVTT cue time of 0 maps to an MPEG-2 timestamp
   of 0.`

[2019-06-09 18:54] #6012 closed, assigned to AquilesCanta

[2019-06-10 04:55] BROUDING opened #6013 "How to set default video quality to higher one?"
I've searched many places, but I couldn't really get the right answer for me..

So my player have a custom button to "set High quality bitrate", and when the user click that button, I find the highest bitrate within the `currentMappedTrackInfo` and override that index via `setSelectionOverride(RENDERER_TYPE_VIDEO, trackGroups, override)`. (As I understood, default value is "Auto" and video plays a

[2019-06-10 07:20] Navidhp opened #6014 "How To Sync Caption With Player (HLS) When User Change Progress Or Seek"
I Asked Question About This In (#6012 ) And Also I Read All Of Them (#4003 , #4758 , https://support.brightcove.com/synchronizing-webvtt-captions) , If User Don't Change Seek Or Progress Everything Is Ok But User Change That Caption Not Sync With Video , I Set X-TIMESTAMP-MAP In My VVT File (Exoplayer Suggestion) And Not See Nothing Happened (Set PTS And Calculate With FFPMEG), How To Sync That ?

[2019-06-10 07:30] Navidhp commented on #6013
@BROUDING i have problem like you but i solved like this , when run this your player ready and manifest has been loaded :

`MappingTrackSelector.MappedTrackInfo` `mappedTrackInfo=trackSelector.getCurrentMappedTrackInfo();`
        `if (mappedTrackInfo != null) {`
            `TrackGroupArray trackGroupArray;`
           ` for (int i = 0; i < mappedTrackInfo.getTrackGroups(indexVideoRendered).lengt

[2019-06-10 13:55] akash1223 commented on #5870
Use below dependencies

implementation 'com.google.android.exoplayer:exoplayer-core:2.10.1'
implementation 'com.google.android.exoplayer:exoplayer-dash:2.10.1'
implementation 'com.google.android.exoplayer:exoplayer-ui:2.9.6'
implementation 'com.google.android.exoplayer:exoplayer-smoothstreaming:2.10.1'

[2019-06-10 13:55] akash1223 commented on #5870
Only ui lib should be 2.9.6

[2019-06-10 17:26] arasan81 opened #6015 "DASH MPD stream: ShouldStartPlayback of DefaultLoadControl returns false due to bufferedDurationUS become negative"
### [REQUIRED] Content description
We are using Exoplayer for streaming ATSC 3.0 standard DASH live contents using Dektek. But we face a random issue with initial playback, that is a glitch for few seconds ( around 1 or 2 seconds) exists before playback after the first frame is rendered. This is a random issue, happens for 5/10 times, and the playback starts after the hiccup.

When I debug , I obs

[2019-06-10 18:57] Siletskiy opened #6016 "API 'variantOutput.getPackageLibrary()' is obsolete and has been replaced with 'variant.getPackageLibraryProvider()"

[2019-06-11 07:18] Hemube opened #6017 "DASH Widevine CBCS encrypted content not playing on Android 8"
### [REQUIRED] Issue description
DASH stream with Widevine CBCS encryption is not playing on a device with Android 8

### [REQUIRED] Reproduction steps
try to play the CMAF CBC encrypted Dash stream

### [REQUIRED] Link to test content
URL and DRM info will be sent to dev.exoplayer@gmail.com

### [REQUIRED] A full bug report captured from the device
[code]

### [REQUIRED] Version of ExoPlayer bein

[2019-06-11 07:54] Siletskiy commented on #6016
WARNING: API 'variantOutput.getPackageLibrary()' is obsolete and has been replaced with 'variant.getPackageLibraryProvider()'.
It will be removed at the end of 2019.
For more information, see https://d.android.com/r/tools/task-configuration-avoidance.
To determine what is calling variantOutput.getPackageLibrary(), use -Pandroid.debug.obsoleteApi=true on the command line to display more information

[2019-06-11 09:32] mehdirouhandeh opened #6018 "playback aes 128 ctr MinuteTimer.mp4 stream"
Hi team..I want to play an encrypted stream(aes 128 ctr).
one time I try to use AesCipherDataSource class to do that but I got an error
how can I decrypt and play that..?

[2019-06-11 11:26] Marx-Hong commented on #5911
Hi,  It does not work but it is work with MediaPlayer in android.
this is the video link:https://upos-hz-mirrorcosu.acgvideo.com/upgcxcode/66/36/93613666/93613666-1-30032.m4s?e=ig8euxZM2rNcNbUgnwdVhoMBhb4VhwdEto8g5X10ugNcXBlqNxHxNEVE5XREto8KqJZHUa6m5J0SqE85tZvEuENvNC8xNEVE9EKE9IMvXBvE2ENvNCImNEVEK9GVqJIwqa80WXIekXRE9IMvXBvEuENvNCImNEVEua6m2jIxux0CkF6s2JZv5x0DQJZY2F8SkXKE9IB5QK==&deadline=156077358

[2019-06-11 12:00] tibbi opened #6019 "ACCESS_NETWORK_STATE permission being mandatory since 2.10.0"
### [REQUIRED] Issue description
The library requires the `android.permission.ACCESS_NETWORK_STATE` permission since version 2.10.0, it crashes at initialization via `ExoPlayerFactory.newSimpleInstance(context)`, if not granted. I'm using the library only for playing locally stored offline videos, so is there any way I can tell ExoPlayer to just ignore everything internet related and work offline?

[2019-06-11 12:01] westlakestudent commented on #5889
is this solved？why are u so caring template， is it important？ the bug is exist，can u help？？？？？

[2019-06-11 15:50] Navidhp commented on #6014
i solved this problem with moving hls to dash system

[2019-06-11 15:50] #6014 closed, assigned to ojw28

[2019-06-11 17:57] AleksandarKovachev opened #6020 "Player currentPosition is 0 on PlayerNotificationManager.onNotificationCancelled"
### [REQUIRED] Issue description

The currentPosition is 0 on dismissing the player from the PlayerNotificationManager with method onNotificationCancelled. Also in the EventListener.onPlayerStateChanged the currentPosition is 0.

### [REQUIRED] Reproduction steps

1. Start the ExoPlayer with PlayerNotificationManager
2. Release the player from the notification
3. Check the currentPosition of the p

[2019-06-12 03:21] rantianhua commented on #5696
@marcbaechinger I reproduced the problem eventually. The real cause is that the video file is not been downloaded completely. If an incomplete file is prepared by ExoPlayer, the player will stuck in buffering state.

To reproduce this problem, just play this file:

[bad_video.mp4.zip](https://github.com/google/ExoPlayer/files/3279395/bad_video.mp4.zip)

You can use UltraEdit to see that the latter

[2019-06-12 04:50] mahdi302 commented on #6018
is there anyone to help me..please.

[2019-06-12 09:38] Marx-Hong opened #6021 "Trouble when trying to play some video link with a header"
### [REQUIRED] Content description
hi , i am trying to play some video link with a header in exoPlayer ,but is always wrong. like this:

[code]
this is my code:

[code]

but the android.media.MediaPlayer can play this without any issue.I don't know where the issue is.

### [REQUIRED] Link to test content
link: https://cn-hbyc2-dx-v-18.acgvideo.com/upgcxcode/81/83/92558381/92558381-1-30032.m4s?expi

[2019-06-12 10:20] michalliu opened #6022 "Does exoplayer supports http flv livestream?"
I have a live stream which url is
[code]
It's playable using ffplay but not exoplayer. What i can do if i want to play such stream using exoplayer.

[2019-06-12 11:41] waakobrian opened #6023 "Adaptive streams not working in Android Pie"
### [REQUIRED] Content description
When testing adaptive streams on versions lower than API 28, adaptive streams work perfectly well. But when testing on API level 28, i get a playback error in the onPlayerError callback and nothing plays.
Tested on Samsung A30

### [REQUIRED] Link to test content
http://qthttp.apple.com.edgesuite.net/1010qwoeiuryfg/sl.m3u8

### [REQUIRED] Version of ExoPlayer bei

[2019-06-12 13:05] bhaskarraj commented on #5515
Hello, @marcbaechinger I am trying to getPayload using the PlayerMessage class but the problem that I am facing is in the constructor part.

`new PlayerMessage()` there are sender, target, timeline, defaultWindowIndex and handler.  What are the sender and target in this case? Could you please tell me how it can be passed in the constructor. I have gone through the above docs that you have listed b

[2019-06-12 13:05] mvenkat3272 opened #6024 "Add a way to set proxy for the individual media streams"
my content is delivered from the gateway at a particular port and not on HTTP port. I need to configure the player to contact a proxy server running in the gw . my understanding is that currently there is no mechanism to do that. Can this be added ?

[2019-06-12 15:50] michalliu commented on #6022
It turns out it's playable using vanilla exoplayer. issue resolved.

[2019-06-12 15:50] #6022 closed, assigned to nobody

[2019-06-12 20:27] marcbaechinger commented on #6020
The `PlayerNotificationManager` uses roughly `Player.add/removeEventListener` and setters methods of the player which is passed to `PlayerNotificationManager.setPlayer(player)`. These do not affect the playback position. Besides this no other methods are called, which potentially could affect the position of the player.

I added the `PlayerNotificationManager` to `PlayerActivity` of the demo app.

[2019-06-12 20:36] marcbaechinger commented on #6023
This plays for me on a Pixel and the emulator with API 28.

Can you please provide a bug report taken on the Samsung A30, which includes the playback error which you mention? Please add your uri above to the demo app of the most recent version and provide the bug report for playing it in the [demo app](https://exoplayer.dev/demo-application.html) so we can rule out other isssues.

[2019-06-12 21:09] AndrazP commented on #5887
Hi @andrewlewis,
We see an increase of this ANRs in our application and I found a way how to reproduce it.

We have a custom MediaSource extending CompositeMediaSource and an activity with PlayerView. ExoPlayer.prepare(mediaSource) is called on Activity create. Our application works also in background.

If work in [prepareSourceInternal()](https://exoplayer.dev/doc/reference/com/google/android/exo

[2019-06-12 21:11] marcbaechinger commented on #6021
The logs you provide show, that you are receiving a HTTP response code: 462  :)

When I try this myself, it gives me a 403, Forbidden.
Can you check and make sure there is no server issue involved and try again?

[2019-06-12 21:11] letianxu opened #6025 "Questions on implementation of https://github.com/google/ExoPlayer/issues/4780"
### [REQUIRED] Searched documentation and issues
I have looked the forum issues list.

### [REQUIRED] Question
The question is about #2 implementation in issue: https://github.com/google/ExoPlayer/issues/4780

2. Have DefaultDashChunkSource set endOfStream based on whether the period duration is known. It shouldn't be necessary to look at manifest.dynamic, manifest.durationMs or whether it's the l

[2019-06-12 22:39] gramound opened #6026 "Add tunneling option in demo app"
### [REQUIRED] Use case description
Give access to enabling/disabling tunneling from the demo app UI.

### Proposed solution
Add it to the corner options menu of SampleChooserActivity.

### Alternatives considered
Calling setTunnelingAudioSessionId unconditionally (use it if available). Would that be simpler or cause trouble?

[2019-06-13 06:24] mdtuyen commented on #2092
@AshishPsaini Don't use exoplayer, there are too many errors in this library, even worse than the videoview

[2019-06-13 06:54] AshishPsaini commented on #2092
Please help me which player I should use in my app.

[2019-06-13 08:08] mdtuyen commented on #2092
@AdityaAnand1 ijkplayer is better

[2019-06-13 10:07] AshishPsaini commented on #2092
Thanks. Please share your email id or connect with me on ashishpsaini@gmail.com on hangout.

[2019-06-13 12:01] tonihei commented on #5910
Sounds like a duplicate of a known issue in some of the Q builds [internal: b/133481571], which is apparently fixed already. Closing under this assumption, but feel free to reopen if the issue still occurs on upcoming Q beta releases.

[2019-06-13 12:01] #5910 closed, assigned to tonihei

[2019-06-13 12:06] tonihei commented on #6005
See https://exoplayer.dev/troubleshooting.html#why-are-some-media-files-not-seekable and similar issues, e.g. https://github.com/google/ExoPlayer/issues/328#issuecomment-168532148 .

[2019-06-13 12:06] #6005 closed, assigned to tonihei

[2019-06-13 12:30] ThomasCZ opened #6027 "Mixing content from two stream urls"
### Content description
I have two dash streams with different languages. I am using MergingMediaSource for these two DashMediaSource. ExoPlayer provides me two languages and many video resolutions. Lets say, ExoPlayer will start with language A, I will change language to B, but ExoPlayer is still streaming video from A stream and audio from B stream.

### Link to test content
Sent to email

### V

[2019-06-13 12:44] tonihei commented on #6027
Can you describe what the expected behaviour is? You can freely select any video or audio stream from the merged sources and if both have the same content, it shouldn't be a problem to mix the video from one with the audio of the other?

As a more general point, if you control the content creation, it would make much more sense to put both audio languages in one manifest to avoid the merging proce

[2019-06-13 12:48] tonihei commented on #6009
I can reproduce a slightly different problem using the same reproduction steps, but  I think they both have the same underlying reason.

Under the given setup, we end up with negative renderer timestamps and not all platform decoders handle negative timestamps well. In my case, the decoder made rounding errors, changing the frame timestamps by 1 microsecond each, which results in a lot of dropped

[2019-06-13 14:38] tonihei commented on #6011
You can customize all elements of our UI module to your needs. Please have a look at https://exoplayer.dev/ui-components.html#overriding-layout-files.

[2019-06-13 15:57] LukasRoper opened #6028 "Does Exoplayer work out the best hardware supported stream?"
Hi,

I'm using an external plugin for a Unity project (AvPro) and we're using HLS streaming to play 360 video. The stream contains a 4k version, 1080p version, etc.

Probably a bit of a beginner question but on older devices that can't decode 4k video, does the exoplayer manage to exclude that quality of stream from being used and revert instead to a lower quality version? Finding it difficult to

[2019-06-13 16:07] gemiren opened #6029 "Can not play mp3 file"
### [REQUIRED] Issue description
The ExoPlayer demo app fails to play this mp3 file: http://traffic.libsyn.com/bigbrains/Bobby_Kasthuri_9.10.18.mp3.

The same file plays fine with Android MediaPlayer class on Pixel 3.

### [REQUIRED] Link to test content
http://traffic.libsyn.com/bigbrains/Bobby_Kasthuri_9.10.18.mp3

### [REQUIRED] A full bug report captured from the device
[code]

### [REQUIRED]

[2019-06-13 16:31] maxTanquerel opened #6030 "Pause and resume Ad will cut off ads"
### [REQUIRED] Issue description
When an ad is paused, then resumed, we can see the "Learn more" disappear, then the countdown will jump, second ad will not be playing entirely (sometime entire ad is skip to third one)

Video of issue : https://drive.google.com/open?id=1mvmjUpsvU57IXo4Duht4NHOLYhkjo0QF

### [REQUIRED] Reproduction steps
I am able to reproduce this issue in the exoplayer - demo ima

[2019-06-13 16:33] tonihei commented on #6016
I can't find this call anywhere in our gradle files nor can I see this warning when syncing or building our code. Could you please provide more detailed reproduction steps and information about which versions of gradle, ExoPlayer etc are used?

[2019-06-13 18:40] nishantkp commented on #5323
Hi @ojw28,

It's been quite a while.

**ExoPlayer Version : 2.10.1**

I have proper reproduction steps now,

I am able to reproduce it with demo-app too.

**Steps to reproduce,**

Use AndroidTV or something which can be controlled via remote control.
I am also able to produce the same thing in phones/tablets as well.

1. Install the app
2. Open the demo app
3. Go to **IMA sample ad tags**
4. Play

[2019-06-13 21:53] navluis opened #6031 "Playing 5.1 PCM audio with tunneling mode."
### [REQUIRED] Use case description
Some audio streams contain 5.1 channel-masks. When those audio streams are decoded (instead of played as passthrough) and tunneling is enabled, ExoPlayer is unable to play audio because it is using the version 1 of the av-sync header.

### Proposed solution
The only thing that is required for that feature to work is to enable the lines corresponding to this comm

[2019-06-14 07:14] NayaneshGupte opened #6033 "when does audio underrun occur ?"
Documentation for [onAudioUnderrun](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/analytics/AnalyticsListener.html#onAudioUnderrun-com.google.android.exoplayer2.analytics.AnalyticsListener.EventTime-int-long-long-) isn't enough to understand when does it occur.

I'm analysing buffering and failure issues in my app and noticed that many times before player gets into buffering st

[2019-06-14 07:25] dingzuhua opened #6034 "Some phones don't work"
Video address: http://video.izhaohu.com/884be706abe14da48496e4702287cf48/6b75eb9f73ac4fbcb16f9f2357b72a50-c2cf48d3fc654c9052c5d5aadbe43d62-ld.mp4

The BUG log:

[code]

[2019-06-14 08:15] ardinh opened #6035 "NullPointerException when invoking method on player view"
[code]

[2019-06-14 08:26] tonihei commented on #5323
Thanks for the extra information and reproduction steps! It's now pretty clear that it's a duplicate of #6009 and it will be fixed soon.

[2019-06-14 08:35] marcbaechinger commented on #6035
Seems like you are having a `NullPointerException` when calling `setPlayer` on the player view.

You can fix this yourself by making sure you found the ui component by id and then assign it to the variable before calling the method. Also make sure the player view is included in the layout file you are using.

[2019-06-14 08:35] #6035 closed, assigned to marcbaechinger

[2019-06-14 08:41] ardinh commented on #6035
private void initializePlayer() {
        if (player == null) {
            // 1. Create a default TrackSelector
            LoadControl loadControl = new DefaultLoadControl(
                    new DefaultAllocator(true, 16),
                    VideoPlayerConfig.MIN_BUFFER_DURATION,
                    VideoPlayerConfig.MAX_BUFFER_DURATION,
                    VideoPlayerConfig.MIN_PLAYBACK_STAR

[2019-06-14 09:33] tonihei commented on #6013
We have a parameter in the `DefaultTrackSelector` called `forceHighestSupportedBitrate` which selects the highest supported bitrate for audio and video in all cases. Is that what you are looking for? Note that it will then always play the highest supported bitrate independent of the bandwidth; that is, it won't switch down automatically if the network isn't fast enough.

[2019-06-14 09:59] tonihei commented on #6015
Could you please provide us with an example stream to test with? Also, it would be good to know whether this issue is specific to the NVidea Shield TV or does it happen on other devices as well?

Finally, it's slightly unclear what the expectation is. The default configuration requires at least 2.5 seconds of buffered media anyway before starting playback. With this configuration it wouldn't make

[2019-06-14 10:22] tonihei commented on #6018
Please fill out the issue template and provide all the requested information when filing an issue.

[2019-06-14 10:22] #6018 closed, assigned to tonihei

[2019-06-14 10:26] tonihei commented on #6025
@ojw28 Can you take a look and check whether the request makes sense in the context of the DASH specs?

[2019-06-14 11:22] arasan81 commented on #6015
I used DefaultLoadControl in our PlayerActivity as shown below.
DefaultLoadControl loadControl = new DefaultLoadControl.Builder().setBufferDurationsMs(32* 1024, 64* 1024, 512, 512).createDefaultLoadControl().

Initially it takes around 4 to 5 seconds for buffering( the delay is little more than what we expected, we would like to have max 3 seconds delay) and after playback starts we can observe th

[2019-06-14 12:02] Kamil-H opened #6037 "mp3 file is playing only first few seconds instead of full file"
### Content description
Audio plays only for about 2 seconds. In other apps like Google Play Music or Samsung's default player it's working as expected, so whole audio is being played. It should play about 11 minutes.

### Link to test content
https://wetransfer.com/downloads/40a45c5d7590e2cca8072cf76690079f20190614115726/d426d6
(I'm not using this URL to play this audi in the app. I'm using API u

[2019-06-14 12:14] tonihei commented on #6015
You can share information to dev.exoplayer@gmail.com using "Issue #6015" in the subject.

Not sure if we are able to reproduce the negative timestamps, but it sounds in general as if starting with a very low buffer of 512 ms may mean that you start playback quickly, but will rebuffer soon after starting playback because the player hasn't loaded enough new data to continue playback. Could it just b

[2019-06-14 12:31] tonihei commented on #6010
I think both mentioned player apps use their own bundled decoders and not the system decoders as ExoPlayer. I can also observe the same performance problems on an older device (Nexus 6P), but it plays smoothly on a new device (Pixel 3). So I would conclude that the platform decoders on the tested device are just not performant enough to cope with the stream whereas more recent devices should be ab

[2019-06-14 12:35] jukkagrao opened #6038 "With PlayerNotificationManager not able to dynamically define CustomActions"
### Use case description
Actually if you check the code of `getActions` in `PlayerNotificationManager` you'll see that actions play/pause are dynamically selected to display, but if you want to do the same with yours CustomActions it will not work, because `getCustomActions` calls only once and result of the function assigned to `private final Map<String, NotificationCompat.Action> customActions;`

[2019-06-14 13:11] nishantkp commented on #5323
@tonihei Thanks 👍

[2019-06-14 13:27] tonihei commented on #6019
That's an interesting use case. Our assumption was that this permission is a [normal (i.e not dangerous) permission](https://developer.android.com/guide/topics/permissions/overview#normal_permissions) and thus is automatically granted without user interaction and cannot be revoked by the user. We didn't expect that someone would remove the permission via the manifest as done here. Can you explain

[2019-06-14 13:38] tibbi commented on #6019
Well, I have a suite of apps used by millions of people. Some of the most important properties are apps being offline and having no unnecessary permissions, so I obviously want to avoid that redundant permission. I think that keeping it in your manifest file and catching all related exceptions would be a perfectly acceptable solution. Thanks

[2019-06-14 15:17] tonihei commented on #6024
It's slightly unclear from your question what the requirements are exactly, but ExoPlayer already handles all URIs including HTTP ports and also follows server redirects. This is happening by default without any further configuration required.

In case you need to change the URI for each request dynamically (e.g. to insert to port into an existing URI), you can use a `ResolvingDataSource` which wi

[2019-06-14 15:24] tonihei commented on #6026
Unfortunately, we can't include all possible features in our demo app, as this would make it harder to follow the most important bits. Note that we are planning to provide more specialist demo apps for different use cases in the future and we should consider adding a tunneling option to at least one of them (see #5854).

If you want to try out the tunneling feature yourself, you can just set the `

[2019-06-14 15:24] #6026 closed, assigned to tonihei

[2019-06-14 16:01] tonihei commented on #6028
Yes, that's handled automatically. If you are using HLS (or any other adaptive streaming format), the player selects the quality based on device capabilities and measured network speed (if applicable).

[2019-06-14 16:06] tonihei commented on #6034
Please provide all the requested information in the issue template. For example, we need a list of devices where this happens to reproduce and diagnose the problem. Ideally, please also capture a bugreport with ExoPlayer's EventLogger attached or in our demo app as this provides extra information.

[2019-06-14 16:10] darrinps opened #6039 "Playing non-raw asset local file giving EACCESS (Permission denied) even though it exists"
This is similar to https://github.com/google/ExoPlayer/issues/1321 but I have verified that both read and write external permissions have been granted and the issue still persists. I can play from the raw-assets folder fine as well as stream a video but I cannot get ExoPlayer to play any local .mp4 video. I downloaded the standard "bunny" video to verify it was a valid video and played it outside

[2019-06-14 16:12] darrinps commented on #6039
Here is a sample output from a run of the code

[code]

[2019-06-14 16:19] tonihei commented on #6033
For an explanation of the general effect, you could read the Wikipedia article: https://en.wikipedia.org/wiki/Buffer_underrun

And more specifically for ExoPlayer, it's the problem when the AudioSink needs new audio samples to continue playing continuously, but no new buffer has been read yet. You can hear this as a kind of audio stutter. This callback is meant to indicate audio underrun issues du

[2019-06-14 16:34] tonihei commented on #6039
It sounds as if it is related to https://developer.android.com/preview/privacy/scoped-storage#filtered-view .
Can you check if changing the target sdk version back down solves the issue?

[2019-06-14 16:39] darrinps commented on #6039
This is what I had:

[code]

I changed the targetSdkVersion to 26. That didn't help though. Same thing as before exactly.

[2019-06-14 16:48] tonihei commented on #6039
Might be that changing the target version doesn't help. Can you try this as well: https://developer.android.com/preview/privacy/scoped-storage#opt-out-of-filtered-view ?

[2019-06-14 17:06] darrinps commented on #6039
I tried this:

[code]

Doing that didn't help, but I am going to go through the entire article and try other things next

[2019-06-14 18:51] kvillnv commented on #5989
Hi,
The new issues mentioned below are critical, for now I will not use the download feature from exoplayer's 2.10.x.
Please let me know if 2.10.2 is has fixes for these:

**1.**
Have you noticed that now the SimpleCache seems to trigger a lot of GC, and OOMs/hard reboots?
To reproduce it, try to have more than 300GB of downloaded assets on an external storage.

(copy from my last message:
It seem

[2019-06-15 00:10] darrinps commented on #6039
So I've got good news, and I have bad news. The good news is that when I used an emulator targeting SDK 25, it works (2019-06-14 19:07:14.688 13963-13963/com.android.myapp D/ViewTutorialActivity: Path is file:///storage/emulated/0/Download/SampleVideo_1280x720_5mb.mp4 and that file exists = true can read =true size = 5253880.....notice the can read = TRUE!)

The bad news of course is that what you

[2019-06-15 00:13] darrinps commented on #6039
Here is the setup for the record that works for me running on an emulator of a Nexus with Android version 7.

[code]

[2019-06-15 07:24] Rupeshc9 commented on #5729
Hi @erdemguven @andrewlewis  thanks for reply but i already fixed this issue.

[2019-06-15 12:40] jukkagrao opened #6041 "PlayerNotificationManager should keep creating notifications after calling stop(false)"
### Issue description
Please take a look on this lines:

https://github.com/google/ExoPlayer/blob/ecb7b8758cd6a700b72275a56d22b3dc56959764/library/ui/src/main/java/com/google/android/exoplayer2/ui/PlayerNotificationManager.java#L918-L922

and then to this:
https://github.com/google/ExoPlayer/blob/ecb7b8758cd6a700b72275a56d22b3dc56959764/library/ui/src/main/java/com/google/android/exoplayer2/ui/Pla

[2019-06-15 13:51] poloolop commented on #6037
There is a warning thrown by Exoplayer -

Default player detects the duration as ~2 seconds, however continues playback till end of file. It doesn't allow one to seek though.

FFProbe gives following warning -

For this warning, if we disable seek in XingSeeker, Exoplayer will calculate duration from bitrate and play entire file. This is not a solution for this issue though.

[code]

The solution

[2019-06-16 06:01] huynhtanloc2612 commented on #4994
Hi @AquilesCanta, I had the same error when using cast extension of version 2.9.0
"java.lang.IllegalArgumentException: Invalid mime type: mp4a.40.2"

And I also applied your suggestion with the version 2.10.1 of cast extension.
implementation 'com.google.android.exoplayer:exoplayer:2.10.1'
compile 'com.google.android.exoplayer:extension-cast:2.10.1'

 but I got errors in Java compiler
"error: cann

[2019-06-16 14:10] Xigong93 commented on #3535
It's there any solution?

[2019-06-16 19:38] ojw28 commented on #5870
You should not mix different versions of ExoPlayer modules. Doing so may result in incompatibility issues. Stick with 2.9.6 for everything, or update everything.

[2019-06-16 21:46] ojw28 commented on #6037
As you've observed with other players, the experience is always likely to be suboptimal one way or another when trying to play this type of broken content. The solution is to fix the broken media.

I don't think it's a good idea for us to try and patch things up when dealing with this kind of content, particularly since it's fairly likely that doing so would break playback of other malformed media

[2019-06-16 21:46] #6037 closed, assigned to ojw28

[2019-06-16 22:23] ojw28 commented on #6025
I don't think so, because it wont work for the multi-period manifest case.

Can you provide more detail about the use case. When would the period duration be known for a period prior to it ending? Is this a live event use case where you know the duration in advance, or similar?

[2019-06-16 22:31] #5729 closed, assigned to erdemguven

[2019-06-16 23:19] ojw28 commented on #5911
The provided link doesn't work for me using MediaPlayer either (with the Referer request header set). Although this could be because the link has expired?

[2019-06-17 02:50] potatoker commented on #5729
@Rupeshc9 hi, could you please tell me how you fixed it?

[2019-06-17 03:50] ArtisanM opened #6043 "can not play audio hls"
### [REQUIRED] Content description
I have an audio hls(with 16*16 h264 stream which no need to play). But exoplayer can not play this hls correctly unless I disable the video renderer.
I try to play it in exoplayer demo, it can not play too.When I select video track to none, it will play

### [REQUIRED] Link to test content
[https://pili-live-hls-staging.zhibo.qingting.fm/qingting-zhibo-staging/de

[2019-06-17 06:18] ardinh opened #6044 "i got this error when merge video source and subtitle"
[code]

[2019-06-17 06:20] ardinh commented on #6044
[code]
and here the code

[2019-06-17 06:34] arasan81 commented on #6015
@tonihei ,
You are right. It re-buffers soon after starting the playback, it seems it is due to buffer depletion. Also, for initial playback, the exo-player takes around 4 to 5 seconds. I have shared the stream using google drive and sent an email with the details of shared path and titled 'Issue #6015' to dev.exoplayer@gmail.com. Please check and let me know.
Thanks

[2019-06-17 06:40] Rupeshc9 commented on #5729
I added array of deserialiser and it fixed.Earlier i was using deserialiser depend on media type.

[2019-06-17 07:26] NayaneshGupte commented on #6033
Thanks @tonihei !
Will dig into more details and will get back to you.

[2019-06-17 09:59] ojw28 commented on #6041
I think you'd normally use pause rather than stop if you want the notification to stay visible. @marcbaechinger - What do you think?

[2019-06-17 10:07] ojw28 commented on #6021
This is a duplicate of https://github.com/google/ExoPlayer/issues/5911. Please don't file duplicate issues; it wastes valuable resources on our side. Please reply to the existing issue.

[2019-06-17 10:07] #6021 closed, assigned to marcbaechinger

[2019-06-17 10:16] Marx-Hong commented on #5911
yes, I just updated the link, thanks

[2019-06-17 10:16] AquilesCanta commented on #4994
It's possible that it [got moved](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/ext/cast/SessionAvailabilityListener.html).

[2019-06-17 10:21] tonihei commented on #2029
UdpDataSource will be supported out-of-the-box in our next release, similar to the solution proposed in https://github.com/google/ExoPlayer/issues/2029#issuecomment-261480961.

[2019-06-17 10:30] marcbaechinger commented on #6044
Your code looks ok at a first sight. Seems like the `ProgressiveMediaSource` does not find an extractor for the given media file though.

Can you provide uris to the media and subtitle files? If you don't wish to post it publicly, please submit the issue, then email the the uris to dev.exoplayer@gmail.com using a subject in the format "Issue #6044".

[2019-06-17 10:41] tonihei commented on #6031
@andrewlewis  Can you take a look at this issue?

[2019-06-17 10:45] marcbaechinger commented on #6041
If an app expects that the user resumes playback soon, set `playWhenReady` should be set to `false` instead of calling `stop`. Calling `stop` does release resources and transitions the player into `STATE_IDLE`. In this state the player notification manager can not normally provide the data for a media styled notification unless you've called stop(false).

The `PlayerNotificationManager` behaves li

[2019-06-17 10:49] tonihei commented on #6039
I just tried it out myself and `android:requestLegacyExternalStorage="true"` seems to fix the issue. Note that you need to uninstall the app first for this parameter to take effect. Also note that this parameter is only temporary to ease the transition and will likely stop working in the future

Closing as this is a generic Android development problem and access to storage needs to be fixed for ta

[2019-06-17 10:49] #6039 closed, assigned to tonihei

[2019-06-17 11:08] marcbaechinger commented on #6038
The `CustomActionReceiver` has two methods: `createCustomAction` and `getCustomActions`. The first one is called once as you describe, it gets all actions a `CustomActionReceiver` may include when the `PlayerNotificationManager` is created. The second method `getCustomActions` is called each time invalidate is called.

At this moment `getCustomActions` is called from [getActions()](https://github.

[2019-06-17 11:29] ojw28 commented on #6029
Playback works if we increase `Mp3Extractor.MAX_SNIFF_BYTES` to `128 * 1024`. We should figure out why though. @gemiren - Are you aware of any non-mp3 data prefixed onto the front of the file?

[2019-06-17 11:31] ojw28 commented on #6017
@fredgc - Please take a look; thanks.

[2019-06-17 11:32] ojw28 commented on #5994
Closing due to lack of required information.

[2019-06-17 11:32] #5994 closed, assigned to AquilesCanta

[2019-06-17 11:38] tonihei opened #6045 "Use Storage Access Framework in demo app to access local files."
### Use case description
Starting with Android Q, access to random local files is forbidden unless the Storage Access Framework is used (see e.g. #6039). To simplify debugging of local files with our demo app, we should add an option to open a file this way. On the other hand, we no longer need to request permission to read files.

See https://developer.android.com/preview/privacy/scoped-storage a

[2019-06-17 11:39] tonihei commented on #6039
Filed #6045 to address this problem in our demo app.

[2019-06-17 11:41] ojw28 commented on #5887
You should ensure that `prepareSourceInternal` doesn't take a long time. Spin up a background thread if you need to do anything that might block.

[2019-06-17 12:20] ojw28 commented on #5911
I still see an HTTP 403 response, which is also what @marcbaechinger saw in #6021. I think your stream might be geo-restricted or something, which is stopping us from getting as far as the issue you're actually seeing.

You'll need to provide a stream that's not geo (or otherwise) restricted for us to help with this.

[2019-06-17 12:56] mathemandy opened #6046 "How does Exoplayer identify cached Item?"
When filing a question:
-----------------------
Fill out the sections below, leaving the headers but replacing the content. If
you're unable to provide certain information, please explain why in the relevant
section. We may close issues if they do not include sufficient information.

### [REQUIRED] Searched documentation and issues
Not Sure if one exists.

### [REQUIRED] Question
How do i make exo

[2019-06-17 13:02] ojw28 opened #6047 "MediaSessionConnector: Document how to provide metadata asynchronously"
To provide metadata asynchronously, you can:

1. Return placeholder metadata from `MediaMetadataProvider.getMetadata`
1. Kick off the async operation, which will to place the metadata into some kind of cache
1. Call `invalidateMediaSessionMetadata` when the async operation completes
1. Return real metadata from `MediaMetadataProvider.getMetadata`, assuming the player is still playing the same medi

[2019-06-17 13:07] jukkagrao commented on #6041
Hi Marc, and thank you for answering.
It's not a question because I've already solve my problem with workaround and of course using pause instead stop didn't solve that, otherwise there is no issue... With pause it's works as expected, but with stop I met this unexpected behavior.

Why stop button shouldn't remove notification? Because there is some cases with streaming media when you might want s

[2019-06-17 13:15] andrewlewis commented on #5922
@s3433557 After that commit the script doesn't expect the NDK path to be passed any more (see the change to the readme in the same commit).

[2019-06-17 13:17] Marx-Hong commented on #5911
it maybe expired. Actually, i don't know how long it will expire. i can‘t control

[2019-06-17 13:19] jukkagrao commented on #6038
Yes you are right, it's behaives like you discribe.
Unfortunatly I have no code sample anymore, probably there wasn't `createCustomActions` implemented.

[2019-06-17 13:19] #6038 closed, assigned to marcbaechinger

[2019-06-17 13:23] ojw28 commented on #5930
Please could you describe the problem more clearly. I don't think the"codec does not support config priority" warnings in the logs are relevant to your issue.

So I think your issue is that you're seeing periodic pauses in playback. It's unclear whether you're seeing them every 20 seconds or 20 minutes from your description. It's also unclear whether this is happening only on the specific device y

[2019-06-17 13:24] marcbaechinger commented on #6046
The `CacheDataSourceFactory` has a constructor which takes a `CacheKeyFactory` as one of its arguments. You can provide your own implementation of `CacheKeyFactory` which maps a URI to a key. So if you map all the uris pointing to the same piece of media to the the same key.

So given you have to uris:

https://example.com/media/1234/hash-dsaodsodi09
https://example.com/media/1234/hash-asdasdasds

[2019-06-17 13:31] Sosh671 opened #6048 "Play video and audio from different urls"
found an answer

[2019-06-17 13:33] ojw28 commented on #5515
`PlayerMessage` already does what you want. The position you pass to `PlayerMessage.setPosition` is the position in the media at which the `Target` will be called. There's no need to re-evaluate this position when a seek occurs, as far as I can see. You just need to do something like:

[code]

[2019-06-17 13:49] arasan81 opened #6049 "Support MMTP/MPU (Multimedia Multiplexing Transport Protocol)"
Does Exoplayer support MMTP / MPU (Multimedia Multiplexing Transport Protocol) format files?
This is one of the ATSC 3.0 standards ISO/IEC International Standard 23008-1, developed by  MPEG as a replacement of MPEG-2 TS. I am unable to ensure the support for MMTP though the Exo-player source code.  Could anyone please help here.

[2019-06-17 14:04] huynhtanloc2612 commented on #4994
Thanks @AquilesCanta
I removed "CastPlayer" class from below sentence and it worked in the version of 2.10.1
Before: CastPlayer.SessionAvailabilityListener()
After: SessionAvailabilityListener()
Thanks a lot!

[2019-06-17 14:06] marcbaechinger commented on #5836
Closing due to inactivity. Please reopen if you add more info.

[2019-06-17 14:06] #5836 closed, assigned to marcbaechinger

[2019-06-17 14:09] marcbaechinger commented on #5835
Closing due to inactivity. Please reopen if you have provided more info.

[2019-06-17 14:09] #5835 closed, assigned to marcbaechinger

[2019-06-17 14:12] marcbaechinger commented on #5843
Closing due to inactivity. Please reopen if needed.

[2019-06-17 14:12] #5843 closed, assigned to marcbaechinger

[2019-06-17 14:12] marcbaechinger commented on #5687
Closing due to inactitvity. Please reopen if you provided additional information.

[2019-06-17 14:12] #5687 closed, assigned to marcbaechinger

[2019-06-17 14:15] marcbaechinger commented on #6049
Have you tried playing such a stream? Can you provide us with a test stream?

[2019-06-17 14:16] #6048 closed, assigned to nobody

[2019-06-17 14:20] AleksandarKovachev commented on #6020
I am running the player in foreground service. In the foreground service, I have EventListener and in the EventListener.onPlayerStateChanged I am saving the currentPosition in shared preferences. When I am dismissing the PlayerNotification (clicking the stop button) while still playing, the method EventListener.onPlayerStateChanged is called with 0 currentPosition.

[2019-06-17 14:25] ojw28 commented on #5681
@fredgc - Please could someone from Widevine take a look at this whilst the stream is available? Thanks!

[2019-06-17 14:33] marcbaechinger commented on #6043
Can you please check whether that URL works when accessing the stream? I wasn't able to get some data back from the server.

When trying to play that stream with the demo app I get a network timeout.

[code]

When I do it with curl I get:

[code]

[2019-06-17 15:05] andrewlewis commented on #5534
@raunakyadav You could ask about this request on the [IMA SDK technical forum](https://groups.google.com/forum/#!forum/ima-sdk).

As a tangential side note: to get the best user experience with client-side video ad insertion it's necessary to ensure that there are keyframes in the content at ad insertion cue points (otherwise, transitions from midroll ads back to content can't generally be seamles

[2019-06-17 16:36] hyunsang123 opened #6050 "Multi-Period Dash MPD with alternating video codecs (avc3, avc1)"
Does ExoPlayer support live multi-period DASH manifests with alternating video codecs?

Specifically, the first period is avc3, second is avc1, and so on.

Our live stream breaks at the period boundaries, and we are trying to determine if the breakage is due to the changing video codecs.

[2019-06-17 16:40] mathemandy commented on #6046
Hi , thanks for the quick response, please does the `key` have a specific requirement as i tried to use the trackID as the key by splitting the URI and Extracting the trackID , but the player does not play song.
On the contrary if i return the `uri.toString()` , this works fine and thats the default implementation.

here is my sample code.

[code]

The track id is just a string character e.g `nf4O

[2019-06-17 20:30] jukkagrao opened #6051 "Notification chronometer doesn't work with HLS"
###  Searched documentation and issues
Probably related to https://github.com/google/ExoPlayer/issues/2118

### Question

PlayerNotificationManager has Chronometer and on API 21 and more it's enabled by default, a problem is it doesn't not work with HLS streams (probably with all chunked streams), just not displaying, but perfectly works with normal unchunked sreams. So how to fix it?

[2019-06-18 02:44] ArtisanM commented on #6043
Sorry, something went wrong yesterday, you can try again now.

[2019-06-18 03:06] ardinh commented on #6044
ok thanks

[2019-06-18 03:07] ardinh commented on #6044
but now i have new error when read the subtitle file

 com.google.android.exoplayer2.ParserException: org.xmlpull.v1.XmlPullParserException: Unexpected token (position:TEXT

    00:00:00.020 -...@4783:28 in java.io.InputStreamReader@4c109b6)
        at com.google.android.exoplayer2.source.dash.manifest.DashManifestParser.parse(DashManifestParser.java:105)
        at com.google.android.exoplayer2.s

[2019-06-18 03:59] nlgtuankiet opened #6052 "Deleted"
Deleted (wrong format)

[2019-06-18 04:02] #6052 closed, assigned to nobody

[2019-06-18 04:02] nlgtuankiet opened #6053 "Slow playback speed on Xiaomi Device"
### [REQUIRED] Content description
Slow playback (about 0.3x speed) on some source like Apple 3x4, Youtube Dash but not with Screen 1080p, 480p. Log just say Init and that's it, nothing useful

### [REQUIRED] Link to test content
Demo app

### [REQUIRED] Version of ExoPlayer being used
2.9.6

### [REQUIRED] Device(s) and version(s) of Android being used
Xiaomi Redmi Note 6 Pro, Android 8.1.0
CPU:

[2019-06-18 05:11] arasan81 commented on #6049
Sure. More inforation about the MMTP format is available on https://www.thebroadcastbridge.com/content/entry/6229/atsc-3.0-details-explained-part-4
and
https://www.sis.se/api/document/preview/922278/
I will share the stream shortly.

Thanks.

[2019-06-18 05:43] jakoss commented on #6006
Further information. I had to change HttpDataSource to OkHttp like that:
[code]
to bypass SSL problems with our internal certs. It seems like on OkHttp the exact same code is working fine, just after playback start i get log `downstreamFormatChanged [0.38, 0.00, window=0, period=0, id=2, mimeType=null, bitrate=140800, codecs=mp4a.40.34]` and player does take right quality. So the problem seems to

[2019-06-18 05:48] Hemube commented on #6017
Found the problem. Problem with pssh data, it was not having the information about "protection scheme". Created the pssh data using the tool then passed that while packaging.

I assume it was working on android-9 because it can read the pssh data and "protection scheme" from the mpd.

./pssh-box.py --widevine-system-id --protection-scheme cbcs --content-id value --key-id value --hex

[2019-06-18 05:48] #6017 closed, assigned to fredgc

[2019-06-18 07:29] ArtisanM commented on #6043
I found that if I change the video width & height from 16 * 16 to 20*20 (or bigger than 20) then exoplayer can play correctly...that's weird

[2019-06-18 07:39] marcbaechinger commented on #6051
When I add the `PlayerNotificationManager` to the demo app and play the HLS streams included in the demo app, the notification seems to show properly including the chronometer which displays the current position correctly.

The position is set when the notification is updated and the player is not paused. This works as intended for all HLS streams in the demo app. I also tested with HLS live strea

[2019-06-18 07:46] marcbaechinger commented on #6049
adding @AquilesCanta who is best to answer on this

[2019-06-18 07:48] marcbaechinger commented on #6050
This should work AFAIK.
Can you provide us with a test stream so we can reproduce?

[2019-06-18 07:53] marcbaechinger commented on #6046
The key is an arbitrary string with no special requirements. Make sure that each uri pointing to the same piece of media resolves to the same key, and if the uri is pointing to different media it should produce a different key.

[2019-06-18 08:11] marcbaechinger commented on #6043
When adding the uri to the demo app of ExoPlayer, the audio plays well while there is no video as you report.

I think that's a restriction coming from the framework media codec on top of which ExoPlayer is running. In the logs I find the following line:

[code]
Together with what you report in your last comment I guess the easiest fix would be to increase the resolution accordingly.

[2019-06-18 08:23] ArtisanM commented on #6043
Thanks:)

[2019-06-18 08:23] #6043 closed, assigned to marcbaechinger

[2019-06-18 08:27] marcbaechinger commented on #6053
Can you please take a bug report just a couple of seconds after you started playback and upload here? That would be useful for us, specifically because it seems to be a device specific issue. Many thanks.

[2019-06-18 08:35] marcbaechinger commented on #6044
Seems like the XML parser does not like your XML of the DASH manifest. Are you sure it's DASH and that the manifest is valid and well-formed XML?

As mentioned above you can send me uris to the media/subtitle in case you want me to look into this more closely.

[2019-06-18 08:46] KarlGallagher opened #6054 "Support I-frame only tracks for DASH trick play"
Similar to https://github.com/google/ExoPlayer/issues/474
But for DASH presentations.

This would be great for AndroidTV in which typical user interaction is via remote control.

[2019-06-18 09:02] marcbaechinger commented on #6041
I see your point and I think that's a valid use case. I changed the issue type to enhancement.

I quickly looked into this. I changed `createNotification` to return `null` only when `IDLE` and the timeline is empty:

[code]

This leaves the notification as it is when `stop(false)` is called. Ffwd, rewind and the skip buttons still work as expected. However, the app needs a `PlaybackPreparer` set t

[2019-06-18 09:17] AquilesCanta commented on #6006
Hi, sorry for the delay on this. I got confused thinking it was a duplicate of a different issue in the current HLS implementation. I'll have a look soon and reach back.

[2019-06-18 09:34] arasan81 commented on #6049
I have shared the files to dev.exoplayer@gmail.com with title 'Issue#6049'. Please check.
MMTP format was published as BMFF spec (ISO 23008-1).

[2019-06-18 09:43] jakoss commented on #6006
No worries. Let me know if i can help you more

[2019-06-18 09:54] AquilesCanta commented on #6006
There is a bug in the default track selector, due to which it ignores the maximum audio bitrate when creating the adaptive audio group. A fix for this will be referred in this issue soon.

As a side note, you should not select both a maximum bitrate and `forceLowestBitrate`, since the latter overrides the former. From what I understand about your usecase, you should stick to `maxAudioBitrate`.

Fi

[2019-06-18 10:05] jakoss commented on #6006
I was experimenting with `forceLowestBitrate` just to check what it does in this issue.

As of the logs - `It's playing very well` was just about music. It was playing.

Now, when using OkHttpDataSource, Renderer ` gets right track selected, so no problem here :)

[2019-06-18 10:07] ojw28 commented on #6044
Note: It's unclear how or why `DashManifestParser` is involved, because the code snippet above isn't using `DashMediaSource`.

[2019-06-18 11:03] AquilesCanta commented on #5955
This should be fixed in the dev branch. Please try it out, and let me know if you encounter any issues.

[2019-06-18 11:03] #5955 closed, assigned to AquilesCanta

[2019-06-18 11:11] AquilesCanta commented on #5866
Hi @anjaneesh, mind providing some assistance here?

[2019-06-18 11:19] johnshazhu commented on #5550
After use FfmpegAudioRenderer replace default audio render, i found the method readSource in class BaseRenderer return C.RESULT_NOTHING_READ when the problem occured, the return value will be used in method feedInputBuffer in class SimpleDecoderAudioRenderer. Is it correct to change the call sequence `if (inputBuffer.isEndOfStream())` before `if (result == C.RESULT_NOTHING_READ) `, i resolve the p

[2019-06-18 11:51] asadmukhtar28 commented on #5422
@ojw28 i`m using youtube url and extract the data from url and make it like hls url but exoplayer didn`t able to play that url, it gives me the same error 403.

[2019-06-18 11:54] ojw28 commented on #5422
YouTube do not allow direct playback of YouTube streams outside of YouTube, except via their [own SDKs](https://developers.google.com/youtube/android/player/).

[2019-06-18 12:13] jukkagrao commented on #6051
For example this one https://yleuni-f.akamaihd.net/i/yleliveradiohd_2@113879/master.m3u8
When I start `PlayerNotificationManager` with icecast stream it shows chronometer with hls I can't see it.
I use latest version of exoplayer `2.10.1`.

[2019-06-18 12:21] jukkagrao commented on #6051
I've tested hls stream from demo app, yes it works, but not my examples.

[2019-06-18 12:22] ojw28 commented on #6031
It looks like we can do the TODO for Oreo and above (`SDK_INT >= 26`). Note however that the V2 header was only implemented at some point after that, however (possibly only Pie and above).

[2019-06-18 12:22] mathemandy commented on #6046
So after much iterations as to what went wrong for me. It turns out Exoplayer was refusing to accept the key i used unless it contained `"/"`. I am yet to try with other characters.

[code]

so in essence i return something like this
`"nf4OY2xQtsSY4cKgDBLy"` + "/"

otherwise i get

[code]
I tried using the same id without the "/" symbol in the exoplayer app but i am not able to reproduce the `bug`

[2019-06-18 12:27] tonihei commented on #6015
I can't reproduce the negative buffered duration values, but I think they may happen because the buffered duration is calculated as `bufferedPosition - rendererPosition` and `rendererPosition` is set by the audio renderer only, whereas the `bufferedPosition` is the minimum of the buffered position of audio and video. So if the video samples deplete first, then the audio renderer may have read slig

[2019-06-18 12:40] Kamil-H commented on #6037
Thank you for information.

[2019-06-18 12:58] Kamil-H opened #6057 "Getting informed about user actions"
### Searched documentation and issues
Official ExoPlayer documentation and source code of `MediaControllerCompat`, `MediaSessionConnector`, `MediaSession` classes.

### Question
Is it possible to get notified about user actions? I'm using `ExoPlayer` and `MediaSessionConnector` for handling MediaSession, so I'm not able to register `MediaSession.Callback`, that would have solved my problem, becaus