[2022-01-12 15:56] #9855 closed, assigned to icbaker

[2022-01-12 16:08] icbaker commented on #9854
I played the provided video on a OnePlus AC2003 and a Pixel 5 using the [ExoPlayer demo app](https://exoplayer.dev/demo-application.html) at version 2.16.1. In both cases the playback seems smooth.

What devices are you seeing not-smooth playback on? Please also provide an `adb bugreport` taken after observing the non-smooth playback with the demo app. Please either upload it here or send to dev.e

[2022-01-12 16:44] petruseldiana commented on #9854
I have played it within the ExoPlayer demo app and has the same behavior, the video is not being rendered smooth, has interruptions. So you can find the adb bugreport below.
The device is: Tablet TDS10192T, android version 9.
[ExoPlayer.zip](https://github.com/google/ExoPlayer/files/7856242/ExoPlayer.zip)

[2022-01-12 16:48] jarhoax opened #9856 "BaseURL failover not working with relative network-path URLs (?)"
Hi folks,

I've recently checked on baseURL failover for DASH manifests that was added with ExoPlayer version `2.15.0` and found an asset not working as expected.

I cannot share the content url however it should be easily reproducible with the following snippet:

[code]

I'm not sure if those relative network-path are considered to be valid and/or supported, so thought I'll bring this to your att

[2022-01-12 16:48] petruseldiana commented on #9854
I have played the same video within the ExoPlayer demo app on an OnePlus2 device, Android Version 6.0.1, Model number ONE A2003 and the video is not being played at all. The following error is being thrown:

E/EventLogger: playerFailed [eventTime=3.84, mediaPos=0.00, window=0, period=0, errorCode=ERROR_CODE_DECODING_FAILED
      com.google.android.exoplayer2.ExoPlaybackException: MediaCodecVideoRe

[2022-01-12 16:57] icbaker commented on #9854
The bug report provided seems to be using the [ExoPlayer GL Demo App](https://github.com/google/ExoPlayer/tree/release-v2/demos/gl) - is that deliberate? It would probably be more representative of a 'normal' playback to use the [main demo app](https://github.com/google/ExoPlayer/tree/release-v2/demos/main).

The error from the OnePlus2 looks expected - the device states the video is beyond its ca

[2022-01-12 17:14] petruseldiana commented on #9854
I have generated the report using the main demo app, the behavior is the same, there are interruptions on the tablet device. Please check the attached zip.
[ExoPlayer-main-demo-app.zip](https://github.com/google/ExoPlayer/files/7856470/ExoPlayer-main-demo-app.zip)

[2022-01-12 17:31] antoniovm commented on #9855
Thank you very much @icbaker. May I ask you an estimation on when could it be released?

[2022-01-12 17:41] icbaker commented on #9854
I'm not sure why, but both bug reports seem to be missing some lines I'd expect to see, in particular a line like this (probably with a different codec name):

[code]

And another like this (obviously with different resolution/codec details):
[code]

In particular I'm interested to see:
* Whether the playback is using a hardware or software decoder
* Whether the chosen video decoder claims to supp

[2022-01-12 17:47] ojw28 commented on #9856
@marcbaechinger - I seem to remember that we implemented BaseURL exclusion according to the DASH DVB spec, which also groups BaseURL elements by `dvb:priority`. In the current implementation, do all BaseURL elements get excluded together unless they specify different `dvb:priority` values? If so then:

1. I wonder if that's what's happening here, because BaseURL elements that don't specify `dvb:pr

[2022-01-12 18:06] adamvernier commented on #9806
We use exo player heavily for a digital sign product that plays videos in loops. We have seen this problem on multiple devices that we work with. It seems to happen more frequently the more the videos are started/stopped.
In particular we see logs like this in onPlayerError() when trying to start a video:
Video Error errorCodeName=ERROR_CODE_TIMEOUT message=Unexpected runtime error
and sometimes..

[2022-01-12 18:43] christosts commented on #9806
@denis-bezrukov I will look at your code sample in more detail, but looking quickly on the anr trace example you sent us, I see player is blocked trying to create `DummySurfaces`. You mentioned that your device is not part of the device list hard-coded in the library, and in general your custom device does not work well with the workaround. May I ask if the submitted trace is taken with or without

[2022-01-12 18:51] denis-bezrukov commented on #9806
@christosts iirc traces were taken without surface workaround

[2022-01-12 18:54] christosts commented on #9806
@adamvernier can you please file a separate issue, considering adding the information requested in the[ issue template](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md)? So far, this issue seems to be related to a custom device with Android 6 and running ExoPlayer 2.15.1 whereas your setup is likely to be different, and I'd like to not mix the conversations* other

[2022-01-12 18:58] christosts commented on #9806
Quick check: the anr traces show the players are blocked in this [line](https://github.com/google/ExoPlayer/blob/r2.15.1/library/core/src/main/java/com/google/android/exoplayer2/video/MediaCodecVideoRenderer.java#L546) (link taken from 2.15.1), which is where the DummySurface instance is created. Can you check in your device if the line is reached or not?

[2022-01-12 19:33] denis-bezrukov commented on #9806
@christosts I can check it tomorrow when I'll be in our lab, but most likely yes, because I just checked one more trace from that day (but from the main app) and it doesn't block on this line, but on `android.media.MediaCodec.native_flush`. I sent that trace to the same email thread in case if it helps

[2022-01-12 20:51] marcbaechinger commented on #9856
I think both theories are correct and both are a result of the implementation following the DVB spec (`ETSI TS 103 285 V1.2.1 (2018-03)`) - 10.8.2.1. The DASH spec itself does not define a specific handling what to use or how to exclude: `The DASH Client may use base URLs provided in the BaseURL element as “base URI” and may implement any suitable algorithm to determine which URLs it uses for requ

[2022-01-12 21:19] jarhoax commented on #9856
Thanks for the details!

Thanks! I played around while investigating and ended up applying exactly what you just suggested as a workaround to make this particular stream working. Nonetheless I wanted to let you know that the original manifest wasn't working as expected. :) And reading your proposed change seems like my assumption was correct.

[2022-01-12 21:40] petruseldiana commented on #9854
You can find the missing lines from the report below:

D/EventLogger: videoDecoderInitialized [eventTime=1.86, mediaPos=0.00, window=0, period=0, OMX.MTK.VIDEO.DECODER.AVC]

D/EventLogger: tracks [eventTime=1.71, mediaPos=0.00, window=0, period=0
D/EventLogger:   MediaCodecVideoRenderer [
D/EventLogger:     Group:0, adaptive_supported=N/A [
D/EventLogger:       [X] Track:0, id=2, mimeType=video/av

[2022-01-13 01:30] AnthonyMarkD opened #9857 "Custom MediaDescriptionAdapter ContentTitle being Overloaded elsewhere"
Hello, While working with Exoplayer for media playing I have come across a weird behaviour where the MediaDescriptionAdapter method of getCurrentContentTitle() seems to be overloaded elsewhere in the code.

When creating a notification I create my own Description adapter like so, and I can observe it working as it overloads the Large Icon the description and the content Intent. However, the conten

[2022-01-13 02:31] Rubarius commented on #9794
Exactly the same problem on iFFalcon 55k61 and TCL v615 only the image turns green or purple. In Vimu in the settings there is a switch that disables Dolby Vision and all movies show normally in HDR, in MX Player I turn on HW, at the top when watching a movie, instead of HW+ and movies get HDR instead of Dolby Vision. I believe that in our case, the switch in the settings that forcibly disables Do

[2022-01-13 09:50] SrRapero720 opened #9858 "FFMPEG EXTENSION USAGE"
I just installed the FFmpeg extension and it seems to fit but I don't know how to use it and the information in the README.md doesn't help me much.

If someone can help me? I already looked elsewhere for its use and I only find how to compile it but not how to use it

[2022-01-13 10:02] icbaker commented on #9858
The README page has a section on 'Using the module': https://github.com/google/ExoPlayer/blob/release-v2/extensions/ffmpeg/README.md#using-the-module

In order to help you further we need much more information about what you've tried and what happened.

[2022-01-13 10:10] SrRapero720 commented on #9858
I am trying to play a MKV video with AC3 audio format. but it always threw this error
`E / ACodec: [OMX.google.h264.decoder] setPortMode on output to DynamicANWBuffer failed w / err -1010`

then I checked the list of supported codecs and saw that AC3 and EAC3 were not supported. so install the FFMPEG EXTENSION to support the. but in
https://github.com/google/ExoPlayer/blob/release-v2/extensions/ff

[2022-01-13 10:25] icbaker commented on #9854
Thanks - it looks like my theory was half-correct: The decoder selected looks like a hardware decoder (`OMX.MTK.VIDEO.DECODER.AVC`) but it is reporting the video is beyond its capabilities (`supported=NO_EXCEEDS_CAPABILITIES`), so it's understandable that the playback is not smooth.

The conclusion is the same: This device's decoder is not performant enough to play this video in real-time without

[2022-01-13 10:25] #9854 closed, assigned to icbaker

[2022-01-13 11:30] SrRapero720 commented on #9858
i found an example

[2022-01-13 11:30] #9858 closed, assigned to icbaker

[2022-01-13 12:28] christosts commented on #9806
In high-level, issues like this tend to be (a combination of) device-specific, codec-specific and use case-specific. In both traces we received, the player is blocked on API calls to the platform. In the second trace, as you mentioned,  a few player instances are blocked on calling MediaCodec.flush(), which is a platform API. It's not easy for the player - if not impossible - to recover from cases

[2022-01-13 13:38] apptrash opened #9859 "ExoPlayer can't play mpeg-ts dump"
Hello! There is a dump that cannot be played by ExoPlayer (even with demo application). But VLC for Android, VLC for Linux and ffplay are able to play it. MediaPlayer can play at least video track.

ExoPlayer stops with following exception:
[code]

I know for sure that after transmuxing via ffmpeg, ExoPlayer starts playing the dump normally.

* ExoPlayer version number: 2.16.1
* URI to test conten

[2022-01-13 14:06] krocard commented on #8970
I looked at you code, and the conversion seems correct. What kind of noise are you hearing?

I would implement it as such:
[code]

But it should be equivalent to your solution.

[2022-01-13 15:26] petruseldiana commented on #9854
Thank you very much for your time and for your explanations.

[2022-01-13 15:41] Stinger2198 opened #9860 "How to use exoplayer:extension-ima:2.16.0 with vmap tags?"
I used this library on android app, earlier all working fine, but after update version i cant find how to use vmap with new version. When i tried use like describe on documentation I always get error -
[code]

[2022-01-13 16:13] icbaker commented on #9860
This error looks like it's coming from inside the IMA SDK (rather than from ExoPlayer). You might want to try getting help from the IMA folks directly: https://groups.google.com/g/ima-sdk

For us to take a closer look we will need an ad tag URI we can use to reproduce the problem.
Please either post it here or send it to dev.exoplayer@gmail.com using a subject in the format `Issue #1234` (where `#

[2022-01-13 16:25] icbaker commented on #9859
I can reproduce the problem using the provided TS file. I also see this logged repeatedly before the failure exception:
[code]

@kim-vde could you take a look at this TS file to understand why ExoPlayer is not able to start playback?

[2022-01-13 17:38] ivk1800 opened #9861 "PlayerView click handling if finger is lifted outside view"
If drag finger started on player view and end on outside view, triggered MotionEvent.ACTION_UP event and triggered toggle player controls. also if begin drag finger on playerview and end on it, player controls same triggered.

Reproduction steps:
-------------------------

open demo app, modify player_activity.xml set some fixed hegiht for playerview, example 100dp
run on device or emulator. play

[2022-01-13 17:52] icbaker commented on #9861
I can reproduce the described behaviour (using `StyledPlayerView` for completeness) - over to Olly to decide whether both of these are bugs and how to handle them:
* drag finger starting on player view and end outside view: player controls are shown
* drag finger starting on player view and elsewhere inside the view: player controls are shown

I note that touching outside the player view and dragg

[2022-01-13 18:07] Koster35 commented on #9726
Thank you for the explanation!

[2022-01-13 18:29] Stinger2198 commented on #9860
@icbaker I sent mail for address which you give. Thank you a lot for help with figure out this problem.

[2022-01-14 09:59] icbaker commented on #9860
Thanks for the ad tag provided over email. Since you sent it as an attachment (rather than a link to a hosted tag), I hosted it myself and reproduced the same stack trace you're seeing.

I then enabled additional IMA debugging using [`ImaAdsLoader.Builder#setDebugModeEnabled(boolean)`](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/ext/ima/ImaAdsLoader.Builder.html#setDebugModeE

[2022-01-14 10:27] icbaker commented on #9852
I made the same change in the ExoPlayer 2.16.1 demo app, and I also saw failures, but my 'DRM Plugin' log was different to yours and made it clear that the problem is that renewal is not allowed by the license policy [1].

I took another look at #8554 and realised that when answering that and looking at the license policies I was reading the wrong policy for the `media.exolist.json` entries like "

[2022-01-14 10:27] #9852 closed, assigned to icbaker

[2022-01-14 11:09] Stinger2198 commented on #9860
Ok, thank you, I will try to do this and let you know result.

[2022-01-14 11:18] Stinger2198 commented on #9860
@icbaker Which URI you need? I gave you all i have by mail. I create this VMAP in android app and pass it to adsLoader for load ads. Ads provider give ads by url address which contains in vmap tag.

[2022-01-14 11:22] icbaker commented on #9860
How are you accessing the `VAST_tag_xml.txt` file that you attached to the email? Concretely: What value does the `Uri uriVastData` local variable in your code snippet have at runtime? (you can share this over email if it's hosted in a location you don't want to share publicly - but please also reply here if you send us an email as we don't routinely monitor that inbox)

What additional logs do yo

[2022-01-14 11:23] Stinger2198 commented on #9860
You can use my vmap in your app with my links? Can you provide right code for use vmap tags in android?

[2022-01-14 11:25] Stinger2198 commented on #9860
I create this vmap in my android app (calling specific method) and create URI from String and pass it to adsLoader (maybe thats wrong?)

[2022-01-14 11:26] Stinger2198 commented on #9860
2022-01-14 13:18:44.406 15306-15306/com.hideouttv D/AdTagLoader: onAdError
      AdError [errorType: LOAD, errorCode: AdErrorCode [name: FAILED_TO_REQUEST_ADS, number: 1005], message: There was a problem requesting ads from the server. Caused by: 6]
        at com.google.ads.interactivemedia.v3.internal.co.a(IMASDK:5)
        at com.google.ads.interactivemedia.v3.internal.ed.k(IMASDK:66)
        a

[2022-01-14 11:27] Stinger2198 commented on #9860
Error log

[2022-01-14 11:36] Stinger2198 commented on #9860
@icbaker This VAST_tag_xml create dynamically in code my app with specific url and return like a String after that i create URI from this string. I cant find information how pass vmap tags to adsLoader in programm code. Can you help me or show code how i can do that in android?

[2022-01-14 11:36] icbaker commented on #9860
Yes, looking at your code snippet again, it looks like you're passing a `String` containing XML data directly to `Uri.parse`, which doesn't seem correct (and I'm a little surprised that `Uri.parse` doesn't complain). The code snippet is incomplete (missing a definition of `createXMLVastTag(...)`), so it's hard to tell for sure.

To use the IMA SDK and the ExoPlayer IMA extension, you need to host

[2022-01-14 11:49] NicolasGodfather commented on #9775
The same. I am waiting this update too. How soon you plan to fix it in new release?

[2022-01-14 11:50] Stinger2198 commented on #9860
public static String createXMLVastTag(Context context, HTVVideo selectedVideo) {

    String start = "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n" +
            "<vmap:VMAP
xmlns:vmap=\"http://www.iab.net/videosuite/vmap\" version=\"1.0\">";

    String preRoll = "<vmap:AdBreak timeOffset=\"start\"
breakType=\"linear\" breakId=\"preroll\">" +
            "  <vmap:AdSource id=\"preroll-1-ad-1\"
al

[2022-01-14 11:50] Stinger2198 commented on #9860
createXMLVastTag(...) this i can show by mail (sended)
Early this method working fine (old version ima sdk exoplayer)

[2022-01-14 11:51] Stinger2198 commented on #9860
@icbaker

[2022-01-14 12:00] Stinger2198 commented on #9860
in explayer 2.11.1 that worked like -
[code]

[2022-01-14 12:09] icbaker commented on #9860
[`ImaAdsLoader.buildForAdsResponse`](https://github.com/google/ExoPlayer/blob/r2.11.1/extensions/ima/src/main/java/com/google/android/exoplayer2/ext/ima/ImaAdsLoader.java#L256) (the method you used in your 2.11.1 snippet) expects a `String` containing XML data - which is what you're passing, so it makes sense that it succeeds. [`Uri.parse`](https://developer.android.com/reference/android/net/Uri#p

[2022-01-14 12:14] Stinger2198 commented on #9860
Thanks for the tip, I'll try it and let you know @icbaker

[2022-01-14 12:45] Stinger2198 commented on #9860
@icbaker Thank you a LOT!!!!! You really save my life!!! It is WORKING!!! Thank you for help!!! You are very smart!!! Big thank you again!!!

[2022-01-14 12:45] #9860 closed, assigned to icbaker

[2022-01-14 12:56] billyjoker commented on #5993
UPDATE: the name field `downloadManagerListeners` seems it has been replaced by a new one named `downloadManagerHelpers`. So if you do not update it, maybe this hack stopped working well.

[2022-01-14 13:09] Stinger2198 commented on #9860
Thank you a LOT!!!!! You really save my life!!! It is WORKING!!! Thank you
for help!!! You are very smart!!! Big thank you again!!!

пт, 14 янв. 2022 г. в 14:10, Ian Baker ***@***.***>:

[2022-01-14 14:49] icbaker commented on #9857
Please provide a [minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-example) that demonstrates the problem in a way that we can build locally.

This could be an Android Studio project on GitHub, or zipped up and sent to dev.exoplayer@gmail.com using a subject in the format "Issue #1234", where "#1234" should be replaced with your issue number. Please also update thi

[2022-01-14 16:25] christosts commented on #9794
@Rubarius as mentioned above, we'd appreciate a link to the content and a [bug-report](https://developer.android.com/studio/debug/bug-report#bugreportadb) taken from the device so that we can inspect how content is being decoded when the issue happens.

[2022-01-14 17:05] kim-vde commented on #9803
Creating a new TS ElementaryStreamReader for Opus seems right. I am afraid I cannot help more because we don’t have the resources to debug and correct user’s code. We can answer precise questions, but this is too vague.

When you get your code to work, feel free to submit a pull request if you want the new reader to be integrated to ExoPlayer.

[2022-01-14 18:05] kim-vde commented on #9859
You need to set Flag [`FLAG_DETECT_ACCESS_UNITS`](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/extractor/ts/DefaultTsPayloadReaderFactory.html#FLAG_DETECT_ACCESS_UNITS) in the extractors factory. See https://exoplayer.dev/troubleshooting.html#why-do-some-mpeg-ts-files-fail-to-play for details.

We have an improvement tracked by #7560 to avoid the need for this flag.

[2022-01-14 23:22] lpv-1902 opened #9863 "This stream does not play"
Hello, may we know why this stream does not work on ExoPlayer but works on VLC. Thank you!

http://hdstreamzz.xyz:9981/Joe_joe/XTj5JLv4PW/16

[2022-01-16 08:30] MBakhshi96 commented on #9848
To add some more information, it seems that the last call to `onBandwidthEstimate` in `PlaybackStatsListener` is executed **after** `onPlaybackStatsReady` callback, so when I read bandwidth data from `PlaybackStats`, it does not include the last bandwidth estimate. In some cases where no seek has been carried out by the user, the last call is actually the only call containing bandwidth estimation

[2022-01-16 13:00] firsthubgit commented on #6744
I have the same problem， but the  android.media.MediaPlayer  has no problem，also can seekto the correct position

ExoPlayer version: 2.16.1

[2022-01-16 15:05] Orenbk commented on #9773
@tonihei  - Appreciate if you can provide an update over this **critical** issue. According to your previous recommendations (sent to @giladna) we were able overcome the live and catch-up scenarios but left with "Seek" been unresolved.
Thank you, Oren.

[2022-01-16 15:46] markkog commented on #9773
I would like to understand how you seek accross the media, by looking for the timestamps or based on the IDR frames (sort of trick mode). If according to what you are saying the setting should not be changed when seeking, so we are getting a degrading expirience, someting is not keeping the optimized settings... Woild like to understand the mechanism and why we are having a different experince whe

[2022-01-17 02:04] #9791 closed, assigned to christosts

[2022-01-17 04:59] niuyaweiqq opened #9866 "com.google.android.exoplayer2.ExoPlaybackException: Source error"
I get this error when I play the link, but the play URL works fine in the browser.
com.google.android.exoplayer2.ExoPlaybackException: Source error,

The following is my playback address, but this address is time-effective. I am not sure that this address is still within the validity period when you see it. Therefore, if you need a new address to reply to me, I will give you the latest address eve

[2022-01-17 05:39] sandeepReddyG opened #9867 "Talkback gets interrupted while exoplayer starts playback"
I am currently working on exoplayer and I come across this issue while testing a simple application with exoplayer. I was testing Talkback with my application and when exoplayer initially starts playback , the contentDescription for the current selected button view gets interrupted in between.

Here is my application code:
-------------------------------
[code]

Here is my Layout:
----------------

[2022-01-17 07:50] niuyaweiqq commented on #9866
The problem has been solved, I can use it by deleting the custom useragent parameter

[2022-01-17 07:53] flavian-anselmo commented on #6168
thank you very much

On Tue, Jan 11, 2022 at 8:48 AM Suraj Singh ***@***.***>
wrote:

[2022-01-17 09:49] tonihei commented on #9773
I haven't got around to test this on another TV again due to office access restrictions.

Please note that this seems to be a device-specific issue and it's quite likely that there is no good solution to this problem, only potential workarounds that could avoid the issue.
My understanding so far is that these devices have some logic in either the `MediaCodec` implementation or somewhere deeper in

[2022-01-17 10:29] asinel commented on #9804
Hi, I've tested it on the newest Android emulator - Android 12.0, and another computer as well.

[2022-01-17 13:22] christosts commented on #9863
The video played fine on a Pixel 4 device with ExoPlayer 2.16.1. Can you please provide more information on the behavior you are observing? Consider providing us with the information requested in the [issue template](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md), such as the version of the player used, the device and OS version, and a [bug report](https://devel

[2022-01-17 13:23] #9866 closed, assigned to christosts

[2022-01-17 16:23] #9856 closed, assigned to marcbaechinger

[2022-01-17 16:24] #9519 closed, assigned to tonihei

[2022-01-17 16:24] #4835 closed, assigned to ojw28

[2022-01-17 16:25] #9565 closed, assigned to ojw28

[2022-01-17 16:32] apptrash commented on #9859
Thank you!

[2022-01-17 16:32] #9859 closed, assigned to kim-vde

[2022-01-17 17:24] hafizMDM commented on #5246
Is there a plan to migrate previous version 2.11.4 as well ?

[2022-01-17 21:12] giladna commented on #9773
@tonihei
Thanks for your reply completely understood.

I am not sure it is device specific since I could not see it working perfectly on any box and I also have the feeling it is some how related to the TV or the hdmi cable as well but I do  not evidence for that

this issue is mainly observed in this stream with the scrolling text but it can also be observed if there are fast movements in the str

[2022-01-18 02:04] #9799 closed, assigned to marcbaechinger

[2022-01-18 04:06] ogawa-ma opened #9868 "Unable to play streaming on certain devices"
## ExoPlayer Version
*  2.16.1

## Device
* HUAWEI P9 lite(Android7.0)
* Pixel3(Android12)

## Bugreport
Attached by email to dev.exoplayer@gmail.com

---

## Question

When I edited assets / media.exolist.json of the demo app and played my content (Widevine H264), some devices can play streaming and some cannot, and ExoPlaybackException and CryptoException occur on the devices that cannot.

■ Ter

[2022-01-18 08:50] NagarjunaVeeramalla opened #9869 "Imaads not playing with mediasource"
I'm implementing IMA-ads with exoplayer, I have different kinds of feeds like hls, dash etc. When I'm trying to build the media source with any of the feed like HLS or Dash, ads are not getting initiated. Please find my code below for better understanding. I'm not getting any kind of error in logs also.

    private var adsLoader: ImaAdsLoader? = null
    private var dataSourceFactory: DataSource.

[2022-01-18 11:24] satishkumar-tudip opened #9870 "Unable to fetch the Chunk Size and Latency during playing the video"
Hi Team,

Currently, I am using the 2.12.1 version and trying to fetch the Chunk Size and Latency by calling the MediaSourceEventListener but I didn't get a call inside the onLoadCompleted Override method.

Please find the onLoadCompleted method logic

@Override
    public void onLoadCompleted(int windowIndex, @Nullable MediaSource.MediaPeriodId mediaPeriodId, LoadEventInfo loadEventInfo, MediaLoa

[2022-01-18 12:26] denis-bezrukov commented on #9806
@christosts thank you for the update,

Yep, all these are good questions, and as you said currently sample app contains a lot of random stuff, so it's hard to give the answers. Currently, in my test setup I played a mixed H264/HEVC, so it's even hard to say which codec causes this (or maybe both). I remember sometimes I was able to repro this playing a single video at a time (but keeping reinitial

[2022-01-18 12:39] icbaker commented on #9868
The "Widevine DASH (MP4, H264)" sample in the demo app only requires Widevine L3. Is it possible that your content requires Widevine L1 and the Huawei P9 Lite device you're testing with is unable to provide that?

You can test this theory by trying to play the "Widevine DASH (policy tests) > HW secure crypto" sample in the demo app on the P9 Lite because that does require Widevine L1 (i think it h

[2022-01-18 13:51] christosts commented on #9867
As far as I understand, this is currently working as intended. When the player gains audio focus, this interrupts on-going text-to-speech. Have you observed a different behavior on this, or do you have a link to a document suggesting otherwise?

[2022-01-18 16:03] dburckh commented on #7312
I need something similar for AVI support.  A common format for older cameras is MJPEG/PCM.  My AviExtractor can already packetize the JPEGs.  I'm thinking the Renderer this isn't too bad on the Surface.  (Pun intended)  Just use BitmapFactory to decode the JPEG to Bitmap, create a Canvas from the Surface and draw it.

So, where this gets messy is integrating with Exo.  I'm thinking it would be a s

[2022-01-18 16:07] giovannyvelezalt commented on #8039
We have the same issue and stacktrace from:

- OnePlus AC2001 (Android 11)
- OnePlus HD1901 (Android 11)
- LG LM-G850 (Android 11)
- Xiaomi tablet MiTV-AXSO0  (Android 9)
- Xiaomi Redmi Note 8  (Android 10)
- Vivo 1917  (Android 11)
- Vivo 1938 (Android 10)

[2022-01-18 18:38] marcbaechinger commented on #9869
Please also consult the [Developer Guide that covers playing ads](https://exoplayer.dev/ad-insertion.html).

The easiest way to play ads is by only using a `MediaItem` and then let the player build the `MediaSource` for it:

#### 1. Add the dependency to the IMA extension
See the [README](https://github.com/google/ExoPlayer/tree/release-v2/extensions/ima) for that.

#### 2. Set up the `DefaultMedi

[2022-01-19 02:04] #9793 closed, assigned to marcbaechinger

[2022-01-19 02:58] saravanans-github opened #9871 "Playback of Video Crashes on Selected Android Phones"
### Overview
1. the below (and similar) content CRASHES w/ NO playback on the Android device
2. HOWEVER other WV encrypted VOD play OK on the same device
3. the same content in `#1` play OK on other Android devices e.g `Huawei LYA-L29`
4. We isolated the crash in `#1` to be due to the Video by
     a. removing the audio in the manifest and noticing VIDEO-ONLY crashed
     b. removing the video in

[2022-01-19 06:32] ogawa-ma commented on #9868
@icbaker
The security level of the Huawei P9 Lite device was L3.
<img src="https://user-images.githubusercontent.com/54785318/150076372-e2c5c6fe-7424-410f-a2f7-544a6fba4a08.png" width="320px">

I tested the demo app and got the following results.
* "Widevine DASH (MP4, H264)" -> Playable
* "Widevine DASH (policy tests) > HW secure crypto" -> Playable
* "Widevine DASH (policy tests) > HW secure cry

[2022-01-19 07:00] Lohit-Huddar opened #9872 "AV freeze indefinitely in HLS stream having multiple #EXT-X-PROGRAM-DATE-TIME with jump in segments with discontinuity."
EXOPLAYER_VERSION = com.amazon.android:exoplayer:2.11.3
exoplayer source code: https://github.com/amzn/exoplayer-amazon-port/tree/amazon/r2.11.3
Tested on demo app from "exoplayer amazon port".

I see AV freeze and no player errors thrown when i stream windowed live HLS manifest with variant having multiple #EXT-X-PROGRAM-DATE-TIME with jump in timestamp, below bolded text is the snippet of varian

[2022-01-19 10:20] louiewh opened #9873 "bytesSkipped() and bytesRead() DefaultHttpDataSource"
Before filing a feature request:
-----------------------
- Search existing open issues, specifically with the label ‘enhancement’:
  https://github.com/google/ExoPlayer/labels/enhancement
- Search existing pull requests: https://github.com/google/ExoPlayer/pulls

When filing a feature request:
-----------------------
Replace the content in the sections below.

### [REQUIRED]
DefaultHttpDataSource

[2022-01-19 10:39] wishygupta opened #9874 "Detecting ad slate from Dash Manifest"
I am developing a solution to detect ad slate in live content over SSAI. So far we have been able to detect the ad slate in HLSManifest.
However I don't see any relevant object or information when it comes for DashManifest.
I see `EventStream` which is responsible for ad display
I am using the `onTimelineChanged` to read the manifest changes

[code]

Not able to figure what I can use for ad slate

[2022-01-19 10:45] apptrash opened #9875 "ExoPlayer can't play video file"
Hello! Can you help me with .ts file that can't be played by exoplayer? (FLAG_DETECT_ACCESS_UNITS is enabled)

[code]
I can't see any exceptions or something that can help to identify problem.
It looks like everything fine but it just shows black screen:
<img src="https://user-images.githubusercontent.com/35434788/150114389-31515d81-9e24-48bb-8e5f-32156cb6a9cc.png" height="300">

ExoPlayer version

[2022-01-19 11:48] louiewh opened #9876 "Merging audio and video together using MergingMediaSource"
Unfortunately we can't answer all questions. Unclear questions or questions with
insufficient information may not get attention.

Before filing a question:
-------------------------

- Ask general Android development questions on Stack Overflow
- Search existing issues, including issues that are closed
  https://github.com/google/ExoPlayer/issues?q=is%3Aissue
- Consult our developer website (https

[2022-01-19 12:00] louiewh commented on #9876
EventLogger:
show Audio switch succes
2022-01-19 19:59:42.931 21074-21074/com.example.karaoke D/EventLogger:     Group:1, adaptive_supported=N/A [
2022-01-19 19:59:42.931 21074-21074/com.example.karaoke D/EventLogger:       [X] Track:0, id=1, mimeType=audio/mp4a-latm, codecs=mp4a.40.2, channels=2, sample_rate=44100, language=und, supported=YES
2022-01-19 19:59:42.931 21074-21074/com.example.karaok

[2022-01-19 12:38] louiewh commented on #9876
I overrid
public class KaraokeRenderersFactory extends DefaultRenderersFactory {
    public KaraokeRenderersFactory(Context context) {
        super(context);
    }

    @Override
    protected AudioSink buildAudioSink(
            Context context,
            boolean enableFloatOutput,
            boolean enableAudioTrackPlaybackParams,
            boolean enableOffload) {
        DefaultAudioSin

[2022-01-19 14:39] pwiniars opened #9877 "Playback of DASH streams sometimes fails on Xiaomi Mi TV P1"
Hi,

I've found a problem with playback of some H264 DASH streams on certain new Xiaomi devices with Android 10. For example Xiaomi Mi TV P1 43" (L43M6-6AEU). It's very likely that the whole P1 group behaves this way. Playback immediately fails with exception.

**Steps to reproduce:**
Can be reproduced using any version of ExoPlayer Demo app, for ex. the newest 2.16.1, with following params:

[cod

[2022-01-19 16:09] TacoTheDank commented on #5246
Tbh I wouldn't bet on it. Your best choice would probably be to migrate apps over to 2.13.3 or newer.

[2022-01-19 16:23] hafizMDM commented on #5246
Yes. You are right, I was using another library that has that dependency.

[2022-01-19 16:58] ojw28 commented on #9873
It's unclear what problem you're trying to solve. Please could you more clearly describe your use case.

[2022-01-19 18:24] christosts commented on #9875
The file failed to play on a Pixel 4 but it played fine on a Pixel 6. On the Pixel 4, the error came from the decoder (`MediaCodec.queueInputBuffer()` raised a `CodecException` with error code `0x1`). Inspecting the file, I see that its scan type is interlaced. Interlaced scan type is not required to be supported on an Android device (though decoders on some devices do decode interlaced videos) an

[2022-01-19 18:30] StewardH opened #9878 "Playing RTSP over TCP freezes ExoPlayer permanently before end of stream is reached"
Hi,

While trying to play a RTSP stream over TCP after a while the player freezes before the stream reaches its end. This occurs after a few buffering events and always after the onIsLoadingChanged  is called while  isLoading changes to  false. The player never recovers from this state however it sometimes transitions to player STATE_ENDED .  Sometimes the freeze happens as soon as after 5 minutes

[2022-01-20 02:47] findyourexit opened #9879 "Codec Error Shortly After Video Prepared"
I've run into an issue with playback of video content on some handsets and have spent a bunch of time isolating the issue in an attempt to ascertain the root cause (I feel like I got close!).

The issue occurs moments (approximately 3 seconds) after preparing a particular media file (`.mp4` format), if the user does not commence video playback almost immediately. During that window of approximatel

[2022-01-20 03:02] brucechou1983 commented on #9672
@fredells
I'm facing the same issue. Did you managed to solve it?

[2022-01-20 03:17] iqiluwxy opened #9880 "Does ExoPlayer have a way to play encrypted videos? Video files are encrypted using XOR algorithm."
Unfortunately we can't answer all questions. Unclear questions or questions with
insufficient information may not get attention.

Before filing a question:
-------------------------

- Ask general Android development questions on Stack Overflow
- Search existing issues, including issues that are closed
  https://github.com/google/ExoPlayer/issues?q=is%3Aissue
- Consult our developer website (https

[2022-01-20 05:24] louiewh commented on #9873
DefaultHttpDataSource  has bytesSkipped() and bytesRead() function at old version . bytesSkipped() and bytesRead() function has remove at new version.  I need bytesSkipped() and bytesRead()  function to solve some problem. Thanks.

[2022-01-20 05:28] louiewh commented on #9876
-
[AudioSlink.pcm.zip](https://github.com/google/ExoPlayer/files/7902542/AudioSlink.pcm.zip)
pcm is 16bits  2 channel and 44100HZ

I save audio pcm at handbuffer  function to AudioSlink.pcm
I switch audio Track at 20s position. And audio  is silent after 20s

[2022-01-20 07:08] beka-discovery commented on #8699
Any updates on CMCD support?

[2022-01-20 07:59] apptrash commented on #9875
We will try this solution.

Can you help with one more question? We have rockchip-based android tv box and MediaPlayer is able to play it, and ExoPlayer stops after ~3 seconds. I can see in logs following message:

[code]

Can I make the video play on this device?

[2022-01-20 08:40] apptrash commented on #9875
And this box can play other interlaced videos with ExoPlayer

[2022-01-20 09:12] Nickeluli commented on #3752
We would also like to see this working

[2022-01-20 09:39] porcelijn commented on #3752
For reference (and interop testing), here are some sample streams that work with [dash js](https://demo.unified-streaming.com/k8s/features/stable/#!/mpd/dashjs:3.0.3/path=video.mpd.tiled_thumbnails_static/url=https%3A%2F%2Fdemo.unified-streaming.com%2Fk8s%2Ffeatures%2Fstable%2Fno-handler-origin%2Ftears-of-steel%2Ftears-of-steel-tiled-thumbnails-static.mpd):
- OnDeman profile:
   https://demo.unifi

[2022-01-20 09:47] esiek commented on #9877
we have the same problem

[2022-01-20 10:43] lpv-1902 commented on #9863
Thank you for replying. I've been getting a "com.google.android.exoplayer2.source.UnrecognizedInputFormatException: Input does not start with the #EXTM3U header." error.

Device: Android TV on Android 10
Exoplayer version: 2.11.7

It's quite difficult to upgrade as we are using a Xamarin fork of the player. Might there be a workaround for this?

[2022-01-20 11:46] christosts commented on #9879
Thank you for sharing detailed information. Will you also be able to share a link to the mp4 file so that we test/reproduce too?

If you're unable to share it publicly, please send them to dev.exoplayer@gmail.com with subject "Issue #9879". Please also update this issue to indicate you've done this.

[2022-01-20 11:56] claincly commented on #9878
Can you confirm if you are using repeat mode, like playing back the same bigbuckbunny stream after one is done? It doesn't seem so from your code, I guess "freeze after a long time" refers to when testing with other streams?

As for the transition to the ended state, the current player implementation transitions into the ended state if no data is received for more than eight seconds, this coincide

[2022-01-20 11:57] christosts commented on #9880
You need to implement your own custom `DataSource` that decrypts the data. Your implementation can wrap existing `DataSource` implementations so you don't have to implement the I/O logic yourself, but focus only the decryption part.

You can see an example implementation in [Aes128DataSource](https://github.com/google/ExoPlayer/blob/dev-v2/library/hls/src/main/java/com/google/android/exoplayer2/so

[2022-01-20 11:57] #9880 closed, assigned to christosts

[2022-01-20 12:12] divyanshupundir commented on #9619
Has there been any development in this?

I am facing the same issue where I cannot play an RTSP stream from an IP camera using ExoPlayer, whereas libvlc for android is able to play it.

[2022-01-20 13:09] ojw28 commented on #9873
My request is for you to please describe "some problem" that you're solving. It doesn't make sense for us to blindly add and maintain API surface when we don't understand the corresponding use case.

[2022-01-20 13:57] claincly commented on #9619
The cause is the server included invalid RTP-Info header values in the RTSP PLAY response.

We are working on a fix internally to ignore RTP-Info, please see #9775.

[2022-01-20 15:22] fredells commented on #9672
@brucechou1983
no i have not. as mentioned above you may be able to create the video at a higher frame rate. but for me this is not an option

[2022-01-20 15:38] StewardH commented on #9878
Clancy you are right. The bigbuckbunny stream was tested without repeat ( Player.REPEAT_MODE_ONE ). If you set it for repeat it will still freeze after  isLoading changes to false but will never go to STATE_ENDED. I have also tested it on a live stream/never ending stream, and it does the same even when there is no network congestion: the stream source, the server, the network router and the clien

[2022-01-20 15:49] tonihei commented on #9876
By default, ExoPlayer only selects one track for playback. This means the other two tracks are not just silent, they are not processed at all.

If you want to let them play together, you need to make two changes:
 1. Modify the `RenderersFactory` set at the player to have multiple audio renderers.
 2. Modify the `TrackSelector` set at the player to assign each audio track to a different audio rend

[2022-01-20 15:49] #9876 closed, assigned to tonihei

[2022-01-20 15:55] tonihei commented on #9874
There is no universal detection mechanism to identify ads or ad periods in a DASH manifest (nor in an HLS manifest for that matter). This all depends on how the SSAI stream is generated and which stream guarantees or metadata the stream creator provides.

In case this is a stream created by IMA, you can wait until the next ExoPlayer release which will contain direct support for SSAI streams and co

[2022-01-20 15:58] Qhashan commented on #9859
Sir, please help i have zero knowledge but I'm trying to understand, sir can you give step by step tutorial to understand where I have to set FLAG_DETECT_ACCESS_UNITS and FLAG_ALLOW_NON_IDR_KEYFRAMES
set on a DefaultExtractorsFactory (where I can find).

[2022-01-20 16:50] icbaker commented on #9868
Ah my bad - I pointed you at the wrong sample. The "HW secure crypto" samples implies the [`MediaDrm#SECURITY_LEVEL_HW_SECURE_CRYPTO`](https://developer.android.com/reference/android/media/MediaDrm#SECURITY_LEVEL_HW_SECURE_CRYPTO) level, which [can be handled by a Widevine L3 CDM](https://websites.fraunhofer.de/video-dev/enabling-hardware-drm-on-android-chrome-using-the-encrypted-media-extensions/

[2022-01-21 07:17] skyswitzerland commented on #3752
Hi Olly @ojw28,

It seems there is an industry wide interest to make this feature happening, we would be ready to assign Java developer if we have a chance to make as a core exoplayer feature.  What would be your guidelines to succeed ?
Thanks for your guidance.
Nicolas STEFANI

[2022-01-21 08:27] wishygupta opened #9881 "Dash stream freezing - need more logs"
I have a Dash Stream which has ads inserted via SSAI. Near ad completion the stream freezes sometimes and then switches to content stream still frozen though the audio is still coming. And then it starts playing after 2-3 seconds.
During the freeze I don't see any logs which can give me an idea what could be causing this issue.
I was wondering if there could be any place or logs which could help m

[2022-01-21 08:50] kgrevehagen commented on #8452
@yoobi Sorry for the late answer, but great to hear it worked for you!
Regarding the `DownloadService`: I'm using my own `Service` for this, but after having a quick look now, I can't see the need for that for this scenario. It all depends on how you implemented it, but the `DataSource` I create for each download decides the storage.

[2022-01-21 08:55] narasimharao11 opened #9882 "android.media.MediaCodec$CryptoException: Crypto key not available"
we are updated the exoplayer version 2.16.0 , unable to play the DRM content in Redmi6 in Exoplayer demo Application as well.

before update exoplayer we are using 2.11.2, in this version Drm content is playing fine without any issue.

[code]

- ExoPlayer version number : **2.16.0**
- Android version: **9**
- Android device: **Redmi 6**

[2022-01-21 09:21] apptrash commented on #9859
@Qhashan, for example

[code]

[2022-01-21 10:19] souissihaythem commented on #3752
Hello
this feature is very interesting, I will be happy (as an android developer) to help here.

But first, is Exoplayer team motivated to do such a feature or to help do it by providing all necessary support?

Can any developer describe the process to validate a merge request in ExoPlayer project?
are there any rules to respect?
Do we need to implement unit tests?

thanks

[2022-01-21 10:52] tonihei commented on #9773
It would be great if you could test the same device with another TV (ideally a different manufacturer) to verify this.

Thanks for providing the reports. Unfortunately, the bug reports don't show anything helpful to debug the issue.

It's interesting that it only seems to occur after a seek. This points to either a performance issue where the seek causes something to constantly lag behind or to a

[2022-01-21 11:14] hamid97m commented on #2213
Have you any estimates on it? it's really needed.

[2022-01-21 11:23] markkog commented on #9773
Hi

As I can see from the the video https://drive.google.com/file/d/1Esuwv8MQJQ6zZdrKisEQ6Q6hhMDHtdbB/view?usp=sharing the seeking function drag the curssor to a specific time code on the line where the video starts from that point. It is not like a key frame jugger (trick mode) where the timestamps are know in advance and accurate where you actually skip between the keyframes. in this scenario yo

[2022-01-21 13:46] icbaker commented on #9871
From the logcat provided I see `android.media.MediaCodec$CodecException: Error 0xffffffe0`. `0xffffffe0` is `-32`, which I believe is `DEAD_OBJECT` defined in [Errors.h](https://cs.android.com/android/platform/superproject/+/master:system/core/libutils/include/utils/Errors.h;l=57;drc=591cab8cee16407bd7a8946ce96dd92d19db72d9).

Directly before the Java exception I also see a native crash from the `

[2022-01-21 13:53] christosts commented on #9872
Thank you for sending us the additional information on email.

Quick check: have you tried playing the stream on the latest ExoPlayer version, which at the moment is 2.16.1? You are using the amazon fork but I see that it is updated with 2.16.1.

I quickly tried the stream with vanilla ExoPlayer 2.16.1 and it plays fine until I got a 403 (I have not investigated on the 403s more yet).

[2022-01-21 14:02] christosts commented on #9877
This is likely a device-specific problem that needs fixing on the vendor side. In case we can assist/debug/understand the error better, can you please grab a [bug-report](https://developer.android.com/studio/debug/bug-report) from the device **after the error occurs** and share it with us? If you cannot share it publicly, send it via email dev.exoplayer@gmail.com with subject "Issue #9877" and upd

[2022-01-21 14:12] christosts commented on #9870
I don't know how you are creating MediaSources and attaching listeners to them in your app, however can you try attaching an `AnalyticsListener` to the player and override its `onLoadCompleted()`?

Let me know if that worked.

[2022-01-21 14:15] satishkumar-tudip commented on #9870
Hi @christosts
Thank you for the reply, I have already attached the AnalyticsListener and it's working now.

[2022-01-21 14:21] #9870 closed, assigned to christosts

[2022-01-21 14:23] BrettyWhite opened #9883 "Fatal Exception Neither user nor current process has android.permission.WAKE_LOCK"
Hello, I am experiencing an odd error with Exoplayer and specifically Galaxy S20 and S21 devices running Android 12.

I have been getting crashlytics reports that the user / process don't have wake lock permissions:

![Screen Shot 2022-01-21 at 9 10 24 AM](https://user-images.githubusercontent.com/3911458/150541743-c7f163fa-8702-4056-b9f3-8616a22190eb.png)

I have `WAKE_LOCK` in my permissions:

[

[2022-01-21 14:40] christosts commented on #9863
The error indicates that you are using an `HlsMediaSource`, expecting the media to be `HLS`. However the link you provided is not HLS and it is progressive type for which you should use the `ProgressiveMediaSource`

[2022-01-21 14:40] #9863 closed, assigned to christosts

[2022-01-21 14:44] zgzong commented on #9867
Thanks @christosts for your reply.
After player gain the audio focus, talkback can speak while player is playing audio together.
Even set player start with audio focus type AUDIOFOCUS_GAIN_TRANSIENT_MAY_DUCK, the talkback speech still be interrupted when player starts playback.

[2022-01-21 14:55] icbaker commented on #9882
We need more information to investigate this.

Please list precisely what DRM samples you tried from the demo app and which ones worked and which ones failed. Do any of them work?

Please also provide the zip file produced by `adb bugreport`. Please either upload it here or send to dev.exoplayer@gmail.com using a subject in the format `Issue #1234` (where `#1234` should be replaced with this issue

[2022-01-21 15:07] christosts commented on #9867
Thank you for testing with a different audio focus type.

As mentioned above, this seems to be working as expected: when the player starts playing audio and requests audio focus, that interrupts any on-going text-to-speech. It is expected that text-to-speech will be interrupted in this use-case.

You previously wrote that you expect `the content description to continue while playback starting` whi

[2022-01-21 15:43] pwiniars commented on #9877
@christosts Thank's for the reply. Here's bug report: https://drive.google.com/file/d/1c75NY4b06VdG6FVM7Pwqs0_6CbHrH6Ny/view?usp=sharing

[2022-01-21 15:48] christosts commented on #9684
Your override of `evaluateQueueSize()` returns 0 always. This has an implication to the bitrate adaptation logic which decides to not step-up because it thinks there is not enough buffer which increases risk of rebuffer. In your patch, I removed the override to `evaluateQueueSize()` and things started working. There is some delay in the algorithm response though:
- when limiting to SD resolution,

[2022-01-21 19:55] AnthonyMarkD commented on #9857
Here is a [minimal reproducible sample](https://github.com/AnthonyMarkD/AudioPlayerSampleTest) Which plays an audio file off the internet. As seen, the Description Adapter does not overload the content title and text with strings, instead choosing to use the media title and artist like the default one does, but it does overload the image.

[2022-01-21 22:38] beroso opened #9884 "Does not work with aler9/rtsp-simple-server"
I followed the [Publish to the server > From a webcam](https://github.com/aler9/rtsp-simple-server#from-a-webcam) example and was able to play the stream successfully on VLC and ffplay.

But i could not run the stream on my app using [Exoplayer](https://github.com/google/ExoPlayer).
I followed the https://github.com/google/ExoPlayer/pull/3854#issuecomment-841167938 to test the stream. Below is the

[2022-01-21 23:59] beroso commented on #9884
Update: I enabled debug mode on the server, and it produced the following output when try to play using Exoplayer:

[code]

[2022-01-22 06:00] Lohit-Huddar commented on #9872
Thanks @christosts for quick check and reply :)
As you suggested, i tried on latest exoplayer version 2.16.1, no luck, issue exists (Source code: https://github.com/google/ExoPlayer/releases/tag/r2.16.1)
Also, i tried on amazon port exoplayer version 2.16.1, no luck there as well ( Source code:  https://github.com/amzn/exoplayer-amazon-port/blob/amazon/r2.16.1)
Device i tried: Amazon Fire stick 3r

[2022-01-22 06:46] tmi111 opened #9885 "Why are there no subtitles?"
[code]

Here I am. Why are there no subtitles, thank you

[2022-01-22 07:12] NanyangTaiji commented on #1488
In case that any one interested in MTS file, I provide two examples
https://we.tl/t-RM6TKf1JN2
https://we.tl/t-0FrOmwzgXe

It seems that there are some differences between MTS video and M2TS video, as indicated in the following links
https://repairit.wondershare.com/video-repair/mts-vs-m2ts.html

[2022-01-22 07:18] NanyangTaiji commented on #1488
I applied this patch to r1.5.7, the video can be played smoothly, but there is no sound.

[2022-01-22 10:39] icbaker commented on #9885
The subtitle fields of `MediaItem` are only supported by `DefaultMediaSourceFactory`, so you should try using that instead of `HlsMediaSource.Factory`. `DefaultMediaSourceFactory` will delegate to `HlsMediaSource.Factory` for content URIs that end in `.m3u8` or if the `MediaItem.Builder#setMimeType` is `MimeTypes.APPLICATION_M3U8`.

[2022-01-22 12:54] beroso commented on #9884
I opened a discussion [here](https://github.com/aler9/rtsp-simple-server/discussions/783) and it was answered.
The player was trying to use the UDP transport and it was disabled on the server. It worked after enabling UDP transport on server.

[2022-01-22 12:54] #9884 closed, assigned to nobody

[2022-01-22 15:43] dburckh commented on #2092
My repo with support AVI is available to clone and test out.  I've added an option to Misc in the demo to pick any user file off the device.

What is working:
- Video: H264, MJPEG, XVID (MPEG-4) - Note: MPEG-4 is supported on all devices, but on my Pixel 3a it's only supported at low resolution.
- Audio: MP3, PCM, AAC.  AC3 and DTS should work, are not generally supported by Android.  Might work o

[2022-01-22 16:03] brucechou1983 commented on #9672
@fredells Sad to hear that. As a workaround, I would try to increase fps first. Maybe implementing a custom image renderer could solve our problem thoroughly, but I haven't figured out the correct way to do it.

[2022-01-22 21:29] dburckh commented on #2092
Just added MJPEG support updated prior comment.  Going to start writing tests!

[2022-01-22 21:58] moneytoo commented on #2092
@dburckh Amazing work! Could you please enable _Issues_ section in your GitHub fork so we can discuss issues there? I still need to verify some exception I got but I don't want to spam this thread. Thank you once again!

[2022-01-22 22:14] dburckh commented on #2092
Done.  Make sure you get me a link to a sample.

[2022-01-22 22:40] kurthuwig commented on #2092
Great work! I know two guys that work on an AVI extractor, too. I've sent them a link to your repo. They have some issues but got a very good understanding of the AVI format, so I assume working together would speed things up a lot.

[2022-01-23 00:06] dburckh commented on #2092
So, the only things I have left on my TODO list are tests and maybe openDML.  If there are feature requests or bugs, let me know.  I suspect there will be some FourCC variants that I don't have, but those are a quick fix (@moneytoo already found one).

[2022-01-23 12:58] moneytoo opened #9886 "Support VTT in Matroska"
I'm looking into adding support for WebVTT embedded in Matroska (MKV).

I managed to get basic support in this patch: https://github.com/moneytoo/ExoPlayer/commit/09b07da83fb9cf6a0a6e511e7c0f6282c963e1da and it seems to be working with the sample provided to me in here: https://github.com/moneytoo/Player/issues/249

The patch still lacks support for styles as described in [Matroska specs](https://

[2022-01-23 14:15] marcbaechinger commented on #9881
Can you provide us with a sample stream so we can look into this? Hard to say what is happening without knowing the stream and how the SSAI is done.

Are you already using a [`EventLogger`](https://exoplayer.dev/debug-logging.html) for logging? With this you can follow the behaviour of the player quite closely and you should see whether there is a problem some of the periods that have ads inserted

[2022-01-24 01:53] tmi111 commented on #9885
Thanks for your reply

[2022-01-24 02:04] #9808 closed, assigned to marcbaechinger

[2022-01-24 04:03] ogawa-ma commented on #9868
@icbaker
Sorry for the late reply.
The problem of not being able to play has been resolved.

The cause was that the license had been issued with an expiration date of 2052, which caused the playback error.
I changed the license expiration date to 1 week and it played.

Thank you for investigating.

[2022-01-24 04:03] #9868 closed, assigned to icbaker

[2022-01-24 04:06] findyourexit commented on #9879
Thanks for picking this up @christosts! I've just sent through an email to the appropriate address with the provided subject, with the reproduction media file attached. Fortunately it's a nice small ~20mb file with little/no sensitive content.

Please let me know if you haven't received that, and I'll host it/send through a link.

[2022-01-24 06:00] waqasyousafy opened #9887 "Video not seekable video is mkv ."
Video not seekable am playing the video format mkv 3840x2160 4k hdr(ultra hd) 60fps.
 I have tested in other players like xplayer and mx player it is seekable but in exo that i am using not seekable .
Using exo 2.14.2
android version: 5 to 11

[2022-01-24 06:45] Kaaveh opened #9888 "Change Subtitle Font Style"
Is there any way to change subtitle font style with font file in `asset` folder?

[2022-01-24 06:47] tmi111 commented on #9885
[code]

Like this?

[2022-01-24 06:54] tmi111 commented on #9885
DataSource.Factory dataSourceFactory = new DefaultDataSource.Factory(mContext);
 MediaItem.SubtitleConfiguration subtitle =
         new MediaItem.SubtitleConfiguration.Builder(Uri.parse(subtitleSrt))
                 .setMimeType(MimeTypes.APPLICATION_SUBRIP)
                 .setLanguage("en")
                 .build();
 MediaItem mediaItem = new MediaItem.Builder()
         .setUri(Uri.parse(pr

[2022-01-24 08:12] mag0716 opened #9889 "How to support reordering during the shuffle"
## Things I want to do

* The app shows currently playing items
* The app allows reordering during the shuffle
* The result of reordering during the shuffle does not affect the song order before the shuffle

## Current approach

* Get currently playing items from [MediaControllerCompat.Callback#onQueueChanged](https://developer.android.com/reference/kotlin/android/support/v4/media/session/MediaCon

[2022-01-24 09:37] tonihei commented on #9684
I don't think there is any other solution besides changing the parameters.

The main relevant parameter to determine whether switching up to a higher resolution is `minDurationForQualityIncreaseMs`. If there is less buffered data than this, the player will not switch up for the next *loaded* segment. If there is more buffer available than this threshold, the player will switch up (assuming enough

[2022-01-24 09:41] wishygupta commented on #9881
@marcbaechinger thanks for the suggestion of using EventLogger. I used it and here are logs from it. I will share the stream if logs aren't helpful

`2022-01-24 15:08:14.880 15650-15650/com.qa1.test D/EventLogger: timeline [eventTime=168.54, mediaPos=171.29, window=0, period=1, periodCount=2, windowCount=1, reason=SOURCE_UPDATE
2022-01-24 15:08:14.880 15650-15650/com.qa1.test D/EventLogger:   peri

[2022-01-24 09:48] icbaker commented on #9888
If you're using ExoPlayer's UI components:

It looks like you can create a `Typeface` from an asset using [`Typeface#createFromAsset`](https://developer.android.com/reference/android/graphics/Typeface#createFromAsset(android.content.res.AssetManager,%20java.lang.String)) (I haven't tested this bit).

You can then construct an ExoPlayer [`CaptionStyleCompat`](https://exoplayer.dev/doc/reference/com

[2022-01-24 09:48] wishygupta commented on #9881
@marcbaechinger thanks for the suggestion of using EventLogger. The logs are here on gist [Dash logs freeze](https://gist.github.com/wishygupta/fda34859a1c7e8f2695dc2e868a3d852)
If these aren't helpful I will share the content stream over mail.

[2022-01-24 09:58] icbaker commented on #9885
That looks like it should work, yes. You can actually simplify it a bit by:
* Knowing that `DefaultMediaSourceFactory` will create a `DefaultDataSource.Factory` internally if you just pass a `Context` to its constructor.
* Using the `Player#setMediaItem` methods, as detailed here: https://exoplayer.dev/media-items.html
   * And since you're not customising `DefaultMediaSourceFactory`, you don't ne

[2022-01-24 10:27] tmi111 commented on #9885
This amazing,  I added SubtitleConfiguration.Builder#setSelectionFlags，subtitles finally appeared, thank you very much

**In case I don't see you,good afternoon,good evening and good night**

[2022-01-24 10:28] #9885 closed, assigned to icbaker

[2022-01-24 11:23] Sagar0-0 opened #9890 "Can't find SimpleExoPlayer, ExoPlayerFactory, ExtractorMediaSource"
I was following an udacity's application development course and cloned one of their old project and after updating everything to newer compatible versions of libs and dependencies, I am having errors like some classes or features of this library is missing. In that project, they used SimpleExoPlayer, ExoPlayerFactory, ExtractorMediaSource but doesn't seems to be there anymore. Are they removed or

[2022-01-24 13:28] JessHolle opened #9891 "Detaching and reattaching ExoPlayer at end state does not show last frame"
If you let ExoPlayer play to the last frame of the video that frame will remain shown -- which is what we want.

While in that state if you detach the player view from the view hierarchy and re-attach it, however, you get a blank/black screen area rather than the last frame.

It seems that the "showing last frame" state should be retained/restored in this case.

(This issue is reproducible with 2.

[2022-01-24 13:48] dani3l3 commented on #9663
DId you actually solve this?

I am kind of stuck with having to do the same migration due to the deprecation.... I managed to rewire the basics:
 changed the loadItems() into setMediaItems() with a bunch of related changes including the MediaItemConverter along the lines of what is described here https://github.com/google/ExoPlayer/issues/7915)....I  got the actual stream to play BUT the whole con

[2022-01-24 13:49] tafinho opened #9892 "Support for DASH-IF section 4.6. Provisioning of Live Content in On-Demand Mode"
### [REQUIRED] Use case description
Support DASH-IF section 4.6, by supporting period@start for live and on demand manifests.

This is the only solution that allows seamless transition between live, restart, catchup and recording playback, by maintaining a consistent clock.

### Proposed solution
Support period@start on line and on-demand manifests

### Alternatives considered
Any other alternativ

[2022-01-24 14:20] marcbaechinger commented on #9663
From the perspective of the `CastPlayer` you get the same functionality by using the `castPlayer.setMediaItems` method instead of the `loadItems` method. The `MediaItems` are then converted by the `MediaItemConverter` to the cast media items. So if you have specific requirements you can create your custom `MediaItemConverter` that adds more metadata fields than the default according to your requir

[2022-01-24 14:32] BrettyWhite commented on #9890
Some of that stuff was recently deprecated. look at the release notes: https://github.com/google/ExoPlayer/releases/tag/r2.16.0

[2022-01-24 14:42] marcbaechinger commented on #9891
The last frame after playback remains shown on the surface after it has been rendered. When you attach the player to another surface (or re-attach and attach again) this frame would have to be rendered again. I think this is something else than keeping the last frame. So I don't share your expectation.

I can make the player render that frame again by seeking to the duration of the stream after ha

[2022-01-24 14:48] Avetri commented on #1488
I suppose You should use something like an FFmpeg extension. Or device with AC3/DTS hardware support.

Please look for audio-related messages in the Logcat: audio tracks list, track switching, decoder errors, etc.

[2022-01-24 14:50] dani3l3 commented on #9663
Hi, thanks for the quick reply.
I don't know if I need more fields... it was over a year ago and I relied on a bunch of out of the box/default stuff; I wasn't actually doing a lot of custom work.... which seems to be now required to be built by hand to keep the same functionality?

I can find things like MediaRouteControllerDialog styling (along the lines of
https://stackoverflow.com/questions/389

[2022-01-24 14:54] marcbaechinger commented on #9890
We usually keep deprecated methods and classes for at least two major releases before we remove it.

The course above is based on `ExoPlayer 2.2.2` which is quite old in the sense of about 14 major releases behind the current version. I think this is not really helpful for the audience of a course about starting with ExoPlayer, because migrating from 2.2.2 to 2.16.2 isn't really straight forward I

[2022-01-24 14:54] #9890 closed, assigned to nobody

[2022-01-24 15:07] JessHolle commented on #9891
If one considers the technical details underlying the player, then, yes, I can see how the black screen might be expected.

As a someone just using the API and reparenting a branch of the view hierarchy containing a movie player, however, the behavior is rather unexpected and unhelpful.

Note that if you pause mid-video then this issue does not occur.  It is specific to the last frame.  I believe

[2022-01-24 15:31] ojw28 commented on #9891
Note: This is basically the "last frame special case" of https://github.com/google/ExoPlayer/issues/5428.

[2022-01-24 16:07] marcbaechinger commented on #9889
I would expect that setting a different shuffle order changes the  timeline which [triggers a queue update in the session](https://github.com/google/ExoPlayer/blob/release-v2/extensions/mediasession/src/main/java/com/google/android/exoplayer2/ext/mediasession/MediaSessionConnector.java#L1124).

So if the `ShuffleOrder` that you set is different to what has been set before, it should trigger a queu

[2022-01-24 16:08] marcbaechinger commented on #9887
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md). If you're unable to share bug reports or test content publicly, please send them to dev.exoplayer@gmail.com using a subject in the format "Issue #9887". Please also update this issue to indicate you’ve don

[2022-01-24 16:24] Sagar0-0 commented on #9890
Got what I wanted, Thanks! Here's the [solution](https://github.com/Sagar0-0/AdvancedAndroid_ClassicalMusicQuiz) if anyone got stuck in similar project.

[2022-01-24 16:26] icbaker commented on #9886
I think sending a PR with what you've got so far makes sense.

**Heads up:** We have some work planned that will change how subtitle data flows from muxed formats like MKV to the `TextRenderer` - and that will likely affect this issue too.

**Some background:** Currently we put samples in the `SampleQueue` containing data in the 'original' subtitle format, and then parse/decode it inside the `Text

[2022-01-24 16:27] JessHolle commented on #9891
Yes, seems like somewhat of a duplicate.

I would note that in the case at hand here the PlayerView is part of a whole view hierarchy that is being reparented.  The high-level expectation would be that this just "works", i.e. reproduces the state from prior to reparenting the view hierarchy -- not that one has to delve into surfaceview details.  (Also for other reasons texture_view mode is being u

[2022-01-24 16:28] icbaker commented on #9886
I'm going to mark this as low priority to indicate that we (exoplayer-team) have no immediate plans to directly work on implementing this - but we will of course prioritise reviewing and merging any PRs you send us!

[2022-01-24 17:12] icbaker commented on #9857
Thanks for the project. I ran it, but I'm not sure if I'm seeing the same behaviour as you.

I've attached a screenshot showing the mini-player I see on Android 11 on a OnePlus AC2003. It seems to show all the information that your app hard-codes into `MediaMetadata` in `onStartCommand` (not just the image, like your description suggests).

Could you please provide precise details about exactly wh

[2022-01-24 17:36] marcbaechinger commented on #9881
Thanks!

Looks like it falls into a `STATE_BUFFERING` at mediaPos=187.87. That media position is just after the first period of duration 186 is played out it seems. Then it takes about ten seconds until the timeline is updated with a new manifest (3 periods now) and the period (presumably the ad period) gets a duration of 30 seconds assigned and the player transitions to this period. Now the playe

[2022-01-24 17:47] AnthonyMarkD commented on #9857
This might be due to me misunderstanding what each component does in the library, but to my understanding, you can provide a custom MediaDescriptionAdapter to help supplement media content to the PlayerNotificationManager. In my code, I have the description adapter return a hardcoded string "tested" for the content title, and "hello" for the content text. Why does the notification not show these 2

[2022-01-24 18:01] christosts commented on #9806
Are these errors comparable to what the ANRs used to be before you upgraded to 2.13? That is, are the following two quantities close or equal: `ANRs before upgrading to 2.13` vs `current ANRs + release timeouts`? It's likely that the app continues to show the same overall behavior with the difference that the app is now reporting these errors in place of what it used to be ANRs

[2022-01-24 18:21] marcbaechinger commented on #9663
In the code before you have built `MediaQueueItem`s and passed them to `loadItems()`. Now after the deprecated method has been removed, you need to add the fields to the `MediaItem` when building it with the `MediaItem.Builder`. This is the same `MediaItem` that you use with ExoPlayer. So you need to do this only once and you can use the same `MediaItem` for both players.

When you want to transit

[2022-01-24 18:29] icbaker commented on #9857
Ah I understand - thanks for clarifying.

I think what's happening here is related to the changes to media notification/players in Android 11: https://developer.android.com/guide/topics/media/media-controls

The mini-player in Android 11+ uses metadata directly from the media session, and is therefore unaffected by the 'overrides' in your `DescriptionAdapter`. I tried your app on an Android 10 dev

[2022-01-25 06:08] drayan85 opened #9894 "Playing encrypted WIDEVINE on ONEPLUS A3010(L3) video and audio is stuttering or lagging"
When I try to play the ExoPlayer Demo app `Widevine DASH (MP4, H264) > HD (cenc)` at the beginning audio and video is synced but along the way, video is lagging.

I have noticed in the ADB logs frames are dropping as below But Not sure the root cause.
`01-25 13:18:45.987  5038  5038 D EventLogger: droppedFrames [eventTime=159.25, mediaPos=156.46, window=0, period=0, 50]`

Device Info
-----------

[2022-01-25 06:23] dani3l3 commented on #9663
Thanks, I appreciate the detailed explanation.

Yes I have done this part.

Yes, I conceptually understand the back and forth that needs to happen.

I do accept the apologies but yes it does cause more effort. It is something Google keeps doing.... for the same reason I am waiting to update billing library because it also has breaking changes. But I digress.

Here I tried following the example you

[2022-01-25 07:38] waqasyousafy commented on #9887
Video not seekable am playing the video format mkv 3840x2160 4k hdr(ultra hd) 60fps.
I have tested in other players like xplayer and mx player it is seekable but in exo not seekable .
Using exo 2.14.2
android version: 5 to 11
not seekable in all devices

this is the video link
https://drive.google.com/file/d/1OY9ZFJuCGc-CUBm4k9ANanDsAgkgE4hq/view

[2022-01-25 08:36] tmi111 opened #9895 "How to deal with garbled subtitles？"
How to deal with garbled subtitles？

[2022-01-25 08:42] #9895 closed, assigned to nobody

[2022-01-25 13:34] saeedata opened #9896 "Sample Implementation of canSelectFormat in AdaptitveTrackSelection"
Thanks Tonihei for your kindness.
In the end I succeeded in implementing something working fine for my use case

_Originally posted by @guidofranceschini in https://github.com/google/ExoPlayer/issues/6630#issuecomment-554633117_

Hi, I guess I have a same usecase and I couldn't resolve that. could you please share you implementation? the canSelectFormat method is called just for the first track, h

[2022-01-25 14:21] insinfo commented on #9879
I'm developing an app with Flutter and I'm using the video_player plugin which uses ExoPlayer internally, I'm also facing this issue of seeing a very large amount of log messages, this bunch of log messages get in the way of debugging my code, it would be nice if ExoPlayer removes these log messages, and leaves the log clean.

https://www.experimenteriodasostras.com.br/storage/turismo/midias/ffec8

[2022-01-25 14:49] marekkondracki opened #9897 "Using ForwardingPlayer in MusicService"
I'm tried to set new ForwardingPlayer with custom callbacks in my project, but it didn't work. So I tried with [UAMP project](https://github.com/android/uamp). It also didn't work.

I swapped code, according to 2.16.0 release notes, in this file: [MusicService.kt](https://github.com/android/uamp/blob/main/common/src/main/java/com/example/android/uamp/media/MusicService.kt)
[code]

with:
[code]
No

[2022-01-25 15:00] marcbaechinger commented on #9897
The `ForwardingPlayer`as a class is working fine, if it gets called. I used it various times. It may be that it is not called if you create an anonymous inner class as above for the `MediaSessionConnector` exclusively.

Are you sure that the commands arrive through the `MediaSession`? In UAMP for example it could be that a command comes from a `PendingIntent` of the notification manager. If this i

[2022-01-25 15:09] tonihei commented on #9848
I can't reproduce this issue. The bandwidth measurements I get for various media types are all sensible and include most of the media even without seeking. Could you provide the example file you are using and the reproduction steps (that is, which player interactions I need to make to reproduce the issue)?

Note that an ongoing load that is still actively loading data while you release the player

[2022-01-25 15:46] ojw28 commented on #3752
We would welcome a high quality contribution in this area. That said, we see this feature as a pretty difficult one. It's not immediately clear to us (the core dev team) what the best way of implementing it is, and so someone would need to spend some time coming up with a detailed proposal (or proposals) for review. In terms of maximizing the probability that a contribution would be useful, I'd th

[2022-01-25 16:39] marekkondracki commented on #9897
So I pass ForwardingPlayer by:
[code]
After click seek forward on notification, callback `seekForward()` in ForwardingPlayer was fired, but `getSeekForwardIncrement()` did not. I checked ExoPlayer sources and assumed that only external calls on ForwardingPlayer, from `mediaSessionConnector` or `notificationManager` will work cause they pass through ForwardingPlayer.

I assumed that ExoPlayer.Build

[2022-01-25 16:41] StewardH commented on #9878
Let me know if you need anything else to address this issue

[2022-01-25 17:25] marcbaechinger commented on #9897
No, you don't need to build ExoPlayer each time when you change the increment.

But you are right this is confusing and we need at least to document this properly on the `ForwardingPlayer` because I think it is quite likely that other people make the same assumption. You actually hit a special case where two methods depend on each other and this is not ideal for the delegation that `ForwardingPlay

[2022-01-25 17:38] marekkondracki commented on #9897
Thank you for clear explanation and fast response!

[2022-01-25 17:38] #9897 closed, assigned to marcbaechinger

[2022-01-25 19:18] rrfrias commented on #9871
This seems to have the same problem as https://github.com/google/ExoPlayer/issues/8691. Qualcomm thinks this has been fixed by a TEE update, but maybe that has not made its way to the Oppo device. Will follow up with Oppo. Until it is fixed, you might want to consider reencoding your content (https://github.com/google/ExoPlayer/issues/8691#issuecomment-907094185)

Internal ref: 182495765

[2022-01-25 21:26] NanyangTaiji commented on #1488
Dear Avetri

Thanks for you quick reply, which I did not wish to have one.
r.1.5.7 does not come with an FFMpeg extension, so I applied the patch to r.2.0.4, and use the demo directly, which iitself includes the FFMpeg extension.
It turned out, for the m2ts clips, video is played without sound, with a prompted message: "Media includes video tracks, but none are playable by this device".
For mts cl

[2022-01-25 21:27] NanyangTaiji commented on #1488
[ExoPlayer-r2.0.4.zip](https://github.com/google/ExoPlayer/files/7937279/ExoPlayer-r2.0.4.zip)

[2022-01-26 02:00] mag0716 commented on #9889
@marcbaechinger
Thanks for the reply.

sorry.
`reordering during the shuffle` means that to reorder the songs when shuffle mode is enabled.

I will try to call `mediaSessionConnector.invalidateMediaSessionQueue()` then comment on the results.

[2022-01-26 08:50] mag0716 commented on #9889
@marcbaechinger
I try to call `mediaSessionConnector.invalidateMediaSessionQueue()` after set a new `ShuffleOrder`.
Sample code is [here](https://github.com/mag0716/SamplePlayer/tree/topic/try_invalidateMediaSessionQueue).

### Results

* `MediaControllerCompat.Callback#onQueueChanged` is called every time
* But, the song order given in `onQueueChanged` is different from the song order in a new `S

[2022-01-26 09:05] BucherTomas commented on #4825
The ticket is still open, I assume that you plan to automate filtering of usable tracks in ExoPlayer itself for API 23 and newer, so is there any progress please since the last activity in this thread?

We are in similar situation, our case is an L3 device attempting to play adaptive stream where HD tracks are L1 only and the license provider detecting the requesting device as L3 does not even ret

[2022-01-26 09:43] mikescamell opened #9899 "Why does the CastPlayer never send a 'STATE_ENDED' playerState?"
Hello!

I was wondering why the CastPlayer never sends a `STATE_ENDED` when listening via `onPlaybackStateChanged`?, we only ever get `STATE_IDLE`, is there a reason for this?

We use the `STATE_ENDED` message to do some things when we know we've finished playback of something, which works great with `ExoPlayer`, but digging into the `CastPlayer` source code I can't find any reference to `STATE_EN

[2022-01-26 09:51] Kaaveh opened #9900 "Load srt file from local"
I want to load `.srt` file from local device. I read [this](https://github.com/google/ExoPlayer/issues/3869#issuecomment-367067013) and rewrite it like this:

[code]

but it's not working. What's my mistake? I use `2.16.1` version.

[2022-01-26 10:16] waqasyousafy commented on #9887
any help sir?

[2022-01-26 10:16] #9887 closed, assigned to marcbaechinger

[2022-01-26 10:17] waqasyousafy opened #9901 "mkv video not seekable"
Video not seekable am playing the video format mkv 3840x2160 4k hdr(ultra hd) 60fps.
I have tested in other players like xplayer and mx player it is seekable but in exo not seekable .
Using exo 2.14.2
android version: 5 to 11
not seekable in all devices

this is the video link
https://drive.google.com/file/d/1OY9ZFJuCGc-CUBm4k9ANanDsAgkgE4hq/view

[2022-01-26 10:26] icbaker commented on #9900
The issue you've linked to is about ExoPlayer 2.6.1, which is >4 years old. The code you've pasted looks broadly correct, but needlessly complicated if you're using 2.16.1. Our website has up-to-date information about using subtitle files on the latest version of the library: https://exoplayer.dev/media-items.html#sideloading-subtitle-tracks

Please try using just the `MediaItem` API and see if th

[2022-01-26 11:03] Kaaveh commented on #9900
Thanks @icbaker , As I mentioned, I'm using `2.16.1` not `2.6.1`.
I used `MediaItem` API and worked correctly. For those who seek solution in future, I used this code:

[code]

[2022-01-26 11:03] #9900 closed, assigned to icbaker

[2022-01-26 11:40] marcbaechinger commented on #9899
This is a duplicate of #3969.

Roughly the `STATE_ENDED` wasn't implemented because the default cast receiver empties the queue when the end of the queue is reached.

May I ask you to add your interesting note about `IDLE_REASON_FINISHED` in a comment in #3969? I can obviously do this myself but I think it would be great to have the original author doing it in case we look into this.

[2022-01-26 11:41] #9899 closed, assigned to marcbaechinger

[2022-01-26 11:54] mikescamell commented on #9899
Thank you and sorry for the duplicate! 🙏 I will add a comment to the issue 👍

[2022-01-26 11:58] marcbaechinger commented on #9892
Thanks for your suggestion. I looked into `Guidelines for Implementation: DASH-IF Interoperability Points. Version 4.3 (November 15, 2018, https://dashif.org/docs/DASH-IF-IOP-v4.3.pdf)`.

Honestly, I don't know how ExoPlayer currently behaves in such cases specifically for the moment when it transitions from live to VOD with the same manifest URI and the player is currently playing that stream. It

[2022-01-26 11:59] mikescamell commented on #3969
As mentioned in issue #9899, I wonder if it's possible to check the `MediaStatus` for `IDLE_REASON_FINISHED` ([docs](https://developers.google.com/android/reference/com/google/android/gms/cast/MediaStatus#public-static-final-int-idle_reason_finished)) in the `fetchPlaybackState` function in CastPlayer and send back a STATE_ENDED if it is?

[code]

[2022-01-26 12:34] marcbaechinger commented on #9857
That's right, you need to make sure that you return the same values with `PlayerNotificationManager.MediaDescriptionAdapter` and what is passed to `MediaSession.setMetadata(MediaMetadataCompat)`. That's the only way to get a consistent picture on all API levels for notifications as well as mini player (also for lock screen notifications and clients like Android Auto/Wear OS to be consistent with w

[2022-01-26 12:39] #9792 closed, assigned to marcbaechinger

[2022-01-26 16:40] lourokuph commented on #9863
tried testing. your stream does not load at all.

[2022-01-26 17:16] lourokuph commented on #9863
stream wont load.

[2022-01-26 17:16] christosts commented on #9872
When I try to play the content you have provided us, after loading the first minute  of content, a request to a specific segment is failing with HTTP 403. While this error is logged in the demo app, I do not see it in the logs that you provided to us, so I assume that's not the problem you are facing. It's likely a restriction in how I can play this content. Do you know if the content is geo-prote

[2022-01-27 05:40] Kaaveh commented on #9888
Thanks @icbaker it worked. For those who seek solution in future, I used this code:

[code]

[2022-01-27 05:40] #9888 closed, assigned to icbaker

[2022-01-27 06:54] Kaaveh opened #9902 "General delay for subtitle timing"
I followed [this solution(#854)](https://github.com/google/ExoPlayer/issues/854#issuecomment-599237344) to apply delay to subtitle, but not working. As my customer want, I must implement most closely this feature. What is simplest and easiest way to set offset timing to subtitle?

[2022-01-27 08:23] FunnyDevs opened #9903 "Mp4 file no sound playing"
Hi,
i have recorded an mp4 file on Android muxing it with jcodec. The file is played well by Windows media player, VLC, ffmpeg but, when I use it on Exoplayer, the sound is not played. I haven't any error code message.

The file is this one: https://we.tl/t-AMpWNlZnuD

Any suggestions?

I need to encode it with Jcodec and not Android MediaMuxer

Thank you

[2022-01-27 08:41] AquilesCanta commented on #3969
Assigning to the owner of [Internal ref: b/184443293].

[2022-01-27 09:00] tonihei commented on #9896
I'll reply on #6630 with the example to keep it all in one place.

This method is called every time the player needs to make a new selection for a media chunk. But note that the [calling loop](https://github.com/google/ExoPlayer/blob/029a2b27cbdc27cf9d51d4a73ebeb503968849f6/library/core/src/main/java/com/google/android/exoplayer2/trackselection/AdaptiveTrackSelection.java#L592) returns early as so

[2022-01-27 09:00] #9896 closed, assigned to tonihei

[2022-01-27 09:24] tonihei commented on #6630
#9896 requested an example for the usage of `canSelectFormat` to dynamically update the eligible formats.

You need a custom track selection class overriding `AdaptiveTrackSelection`, which allows setting a custom logic. To do this effectively, you also need to store the enabled selections and synchronize access because the track selection methods are called on the playback thread.

[code]

In ord

[2022-01-27 09:47] Lohit-Huddar commented on #9872
@christosts Correct, i am able to play till 3mins and its AV freeze after that, we need to be in US network for this stream to work.

[2022-01-27 09:48] icbaker commented on #9902
I'm afraid we can't offer detailed support for workarounds provided in comments by other developers. If you can't get the workaround described in the linked comment to work, I'm afraid we can't really help.

ExoPlayer currently doesn't support modifying the offset of subtitles, #854 tracks adding this support.

[2022-01-27 09:48] #9902 closed, assigned to icbaker

[2022-01-27 10:41] #8452 closed, assigned to marcbaechinger

[2022-01-27 13:30] rohitsingh2410 commented on #8334
Any update on this?
`{
error: {
errorException: com.google.android.exoplayer2.mediacodec.MediaCodecRenderer$DecoderInitializationException: Decoder init failed: OMX.amlogic.avc.decoder.awesome2, Format(1, null, null, video/avc, null, -1, null, [1920, 1080, -1.0], [-1, -1]),
errorString: Unable to instantiate decoder OMX.amlogic.avc.decoder.awesome2
}
}`

[2022-01-27 14:11] icbaker commented on #4825
There's been no progress since the last update, and we haven't currently scheduled any time to work on this.

Any commits associated with this issue will show up in this thread, so when we start committing code you will be able to see it here.

[2022-01-27 17:19] christosts commented on #9872
The stream is now returning HTTP 502, including using a US-based IP address. Can you please provide a fresh link and is it possible to let it alive for longer?

Thanks

[2022-01-27 17:23] christosts commented on #9875
Please provide a link to the video so we can test.

[2022-01-27 18:56] christosts commented on #9879
@findyourexit does this happen in your app only or where you able to reproduce with the [ExoPlayer demo app](https://exoplayer.dev/demo-application.html) too? In the attached bug-report, I see logs from your app and also from the `EventLogger`, a utility listener that logs player activity used by default in the demo app, but I think you may have attached an `EventLogger` in your app too to get deb

[2022-01-27 19:07] christosts commented on #9879
@insinfo your stack trace shows a different error, please open a new issue to avoid having multiple discussions that might create confusion. Please consider providing the information described in the [issue template](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md).

I see from the logs Flutter is using ExoPlayer 2.14.1 and the stack trace is taken from an emulato

[2022-01-27 19:35] harismexis opened #9904 "Should the DefaultBandwidthMeter get notified (TransferListener methods to be called) about mpd file transfers ?"
Hi. I would like to ask you a question please.

We develop & maintain a video player sdk which wraps ExoPlayer. We also have a reference app for testing our sdk. The sdk is used by our clients in their video streaming apps.

We have an issue since quite a long time and we believe we may have found the cause and also applied a potential solution,
but we are unsure if we correctly detected the cause

[2022-01-28 04:45] Lohit-Huddar commented on #9872
@christosts Its DRM protected short lived content in production env, we cant change validity since it impacts field users, can we have google meet call at your convenient time? That will help to easy repro and helps in understanding problem i am facing.

[2022-01-28 05:53] findyourexit commented on #9879
Hi @christosts, yes I've managed to reproduce the issue in my own app, as well as a second app I created for the sole purpose of reproduction of this issue, and finally in the demo app (below quote from my original post).

The only changes I needed to make in order to reproduce the issue with the demo app was to add my `example_video.MP4` file to the `assets` folder, replace [this line](https://gi

[2022-01-28 09:05] christosts commented on #9879
Thanks, sorry for missing this information from the first post.

[2022-01-28 09:11] findyourexit commented on #9879
Hey no stress @christosts! It was a bit of behemoth of a post 😅

[2022-01-28 10:46] tonihei commented on #9773
This issue is also likely to be a duplicate of #7683 and it's also worth trying the suggestion in https://github.com/google/ExoPlayer/issues/7683#issuecomment-699036483 (in addition to the suggestions above).

[2022-01-28 11:32] christosts commented on #9879
This appears to be a duplicate of #9256 for which we are waiting on a fix. I will close this issue as a dup of #9256. Please follow updates on the other issue which will update as soon as we have more news.

[2022-01-28 11:32] #9879 closed, assigned to christosts

[2022-01-28 13:03] lazarflorian opened #9905 "Image gets broken after seeking into a segment with ad-insertion"
**Steps to reproduce:**

1. Start playing the PLAY ME video (first 26 seconds contain the ad-insertion segment, the rest is the regular video content)
2. Wait for the playback to reach the end of the ad segment (00:26)
3. Press the Jump back 5s from the player UI
4. Wait for the ad segment to finish playing

**Expected:** the video continues playing

**Actual:** the ad segment finishes playing, bu

[2022-01-28 13:05] lazarflorian commented on #9317
This issue is no longer reproducible using ExoPlayer 2.16.1. However, on 2.16.1 there is currently another issue logged as (https://github.com/google/ExoPlayer/issues/9905) regardless of the tunneling setting.

[2022-01-28 22:45] AnthonyMarkD commented on #9857
Ahh that makes sense, thank you very much for the clarification!

[2022-01-28 23:14] javaboboApp opened #9906 "Bug Crypto key not available"
Our analytics team has found a strange error. This seems to be related to the fact that the user is viewing content for more than 26 hours in a row. Once this happens (according to the logs) we get the following error:

**Crypto key not available**

Steps to reproduce it:

- User watch content for more than 24 hours.
- No new DRM license request is sent before Exoplayer fails
- Observe that Exopla

[2022-01-29 15:33] sajjadshahbazi opened #9910 "i can't change visibility of exo_ffwd and exo_rew button in PlayerView"
I've overridden the controller layout of the player view. I've added another layout for controller view and overridden all of the widgets.

I can change the visibility of all of then the buttons, but I can't change the visibility of the exo_ffwd and exo_rew buttons.

    <com.google.android.exoplayer2.ui.PlayerView
        android:id="@+id/playerView"
        android:layout_width="0dp"
        and

[2022-01-30 07:59] MBakhshi96 commented on #9848
It's exactly the case as I'm playing progressive streams. The measurement does not include the last load which is the only load started by the player, and then the `totalBandwidthBytes` is nearly zero. I was expecting `totalBandwidthBytes` in `PlaybackStats` to include the last load, but it seems that the timing of `onPlaybackStatsReady` callback is not right.

[2022-01-30 08:01] sajjadshahbazi commented on #9910
also, I define a style that visibility is gone , but does not work

[2022-01-30 08:59] sajjadshahbazi commented on #9910
I Set playerView.setShowFastForwardButton(false), but Doesn't work.

[2022-01-30 20:28] marcbaechinger commented on #9905
When I try to play this I get a HTTP 400 from the license server when the ad is over. I can not really reproduce. Seems there is a georestriction or something in place that prevents me to get the license. Let me know how I can make this work if you want me to look into this.

At the first glace it looks like a bug in the DRM codec of that device that is triggered by this stream. That would match t

[2022-01-30 20:48] marcbaechinger commented on #9903
Yes, I can confirm the audio track is missing in ExoPlayer while I can see the track with ffprobe.

[code]

@kim-vde May I ask you to have a look?

[2022-01-30 21:18] marcbaechinger commented on #9889
You correctly do

[code]

It looks to me like you are hitting a bug with the masked timeline. With the above code the `MediaSessionConnector` invalidates the queue which triggers `queueNavigator.onTimelineChanged(player)`. The `TimelineQueueNavigator` then calls `player.getCurrentTimeline()` and receives the masked timeline that is created just at the beginning of [`ExoPlayerImpl.setShuffleOrder(s

[2022-01-31 05:41] mag0716 commented on #9889
@marcbaechinger
Thanks for the reply.

As you described, I have confirmed that onQueueChanged is called with the correct song order when I wait for the playback to continue after reorder the songs.

[code]

I try this workaround at https://github.com/mag0716/SamplePlayer/commit/d0d85e50eb5b66bacc36ea160d16dd4554e179cf.
More often than not, onQueueChanged is called with the correct song order, but

[2022-01-31 06:24] maven-y opened #9911 "Video plays after 4-5 seconds of delay"
Issue description
I am using stream URLs to play in my app,  It skips the video for 4-5 seconds and after that starts playing.

Reproduction steps
Sample app of exoplayer added media source in json file

Version Exoplayer
2.16.1
oneplus nord 2
android version 11

Url Streaming
https://d2wuvg8krwnvon.cloudfront.net/media/user_space/23d8c1d802e8/posts/video/scvideo_1642005885_3232_new.mp4

Stream de

[2022-01-31 06:46] hannesa2 opened #9912 "Authorisation needed"
Hi, when I use own urls which needs authorization I run into an 401 error
https://github.com/google/ExoPlayer/blob/029a2b27cbdc27cf9d51d4a73ebeb503968849f6/demos/cast/src/main/java/com/google/android/exoplayer2/castdemo/MainActivity.java#L181

1. How to add such a header anyhow to the `MediaItem` ?
2. How to log the url access with header ?

Thank you !

[2022-01-31 06:56] Kaaveh commented on #9902
I've confused about @ojw28's solution code. Now a day, all of method's solution code not exist any more. Could you please help me to rewrite solution code with most recent methods of `Exoplayer` version?

[code]

[2022-01-31 08:23] lazarflorian commented on #9905
I've updated the URLs for the stream and DRM license as the session has likely expired.

I've tested on a mobile (Android 10) and wasn't able to reproduce the issue. However, on the 2 STB's that I manage to reproduce the issue, using the previous version of ExoPlayer that we had integrated (2.12.1) the issue didn't reproduce.

[2022-01-31 08:24] DoctorDooom opened #9913 "Using androidx.media2.session.SessionToken with PlayerNotificationManager"
### Using androidx.media2.session.SessionToken with PlayerNotificationManager
I want to get the legacy Media Session Token out of my Code and I started to refactor my code to the Release 2.16.1 and started to use the New Android Media Session androidx.media2.session.SessionToken and while I let Exoplayer manage my Notification, I want away to give the Exoplayer PlayerNotificationManager the new Se

[2022-01-31 08:56] lazarflorian commented on #9905
I updated the URIs for the stream and DRM license as they are expiring after a certain amount of time.

I tested on a mobile (Android 10) and the issue was't reproducible.

I also tested with the previous ExoPlayer we had integrated (2.12.1) on the STBs and the issue was also reproducible on that version as well.

[2022-01-31 10:34] GouravSna commented on #9823
Hi @ojw28 , Please let us know if there is any progress on this ticket.

[2022-01-31 10:40] tonihei commented on #9848
The timing is right for what it wants to achieve and I think the problem is that `totalBandwidthBytes` does not measure what you are looking for:
 - `totalBandwidthBytes` indicates the number of bytes used for bandwidth measurement. Hence, the 'bandwidth' in the name. The purpose is that it can be used together with `totalBandwidthTimeMs` to retrieve the average estimated network speed during play

[2022-01-31 10:49] lazarflorian commented on #9905
We've applied the workaround from https://github.com/google/ExoPlayer/issues/9476 to set the `"drm_session_for_clear_content" : true ` for the stream and this fixes the issue.

[2022-01-31 10:49] #9905 closed, assigned to marcbaechinger

[2022-01-31 11:09] christosts commented on #8334
@rohitsingh2410 these errors are usually specific to the device & content combination and we need more information than just the error itself. I suggest you file a new issue with the information requested on the [issue template](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md) so we can look at it separately.

[2022-01-31 11:09] #8334 closed, assigned to christosts

[2022-01-31 11:28] icbaker commented on #9906
Is your DRM license configured to expire after 24 hours? If so, do you have a refresh period configured in the license too?

ExoPlayer should refresh DRM licenses when the underlying platform `MediaDrm` instance requests this - which is configured by the DRM license.

If you have a refresh time configured in the license but you don't see this being honoured by ExoPlayer, please provide info I can

[2022-01-31 11:45] icbaker commented on #9902
Just to check: The code snippet you've copied won't do anything on its own, you will also need to implement the handling of `MSG_SET_SAMPLE_TIME` (which never existed as a constant in ExoPlayer) in `SingleSampleMediaSource` (by making it implement `PlayerMessage.Target`). The details of how to do this are not covered in #854. The code snippet is from ExoPlayer v1 which is why it doesn't really mat

[2022-01-31 11:51] pwiniars commented on #9877
@christosts Could you provide any new info based on provided bug report?

[2022-01-31 13:20] #9317 closed, assigned to krocard

[2022-01-31 13:56] tonihei commented on #9684
Closing as the question was probably answered.

[2022-01-31 13:56] #9684 closed, assigned to tonihei, christosts

[2022-01-31 13:57] tonihei commented on #9768
Closing issue as the question was answered.

[2022-01-31 13:57] #9768 closed, assigned to tonihei

[2022-01-31 13:57] tonihei commented on #9772
Closing issue as the question was answered.

[2022-01-31 13:57] #9772 closed, assigned to tonihei

[2022-01-31 13:57] tonihei commented on #9784
Implemented by the commit above.

[2022-01-31 13:59] tonihei commented on #9820
Closing issue because the question was probably answered.

[2022-01-31 13:59] #9820 closed, assigned to tonihei

[2022-01-31 13:59] tonihei commented on #9824
Closing issue as the question was answered.

[2022-01-31 13:59] #9824 closed, assigned to tonihei

[2022-01-31 13:59] tonihei commented on #9874
Closing issue as the question was answered.

[2022-01-31 13:59] #9874 closed, assigned to tonihei

[2022-01-31 14:52] BrettyWhite commented on #9883
I can help debug if needed, just trying to see if there will be any movement on this?

[2022-01-31 15:03] christosts commented on #9872
Can you please create some content that stays alive for 48-72 hours, and if yes, please create early in the week  (=> Monday-Tuesday)? Now that we sorted out that the content is geo-restricted, there shouldn't be other delays in testing.

[2022-01-31 15:20] narasimharao11 commented on #9882
we have mailed all the information, we are completely blocked with this issue, please help us ASAP.

[2022-01-31 15:58] marcbaechinger commented on #9883
Sorry for my late reply.

It's currently unclear how this can happen. We checked on a Samsung phone to see whether the user can reject the WAKELOCK permission manually but it doesn't seem to be. So it's unclear how the process or user can not have this granted.

For how many percentage of the user on these devices is such an exception logged?

[2022-01-31 16:07] BrettyWhite commented on #9883
We had a total of 17 instances of this specific crash - all on Samsung devices on Android 12. I also saw some odd errors regarding Foreground Service exceptions (starting from the background, unrelated to this - even though its not possible in our app).

We have since set our Target API to 30 from 31 and these errors have stopped. We have chalked them up to API 31 having quite a few unresolved bug

[2022-01-31 17:16] tonihei commented on #9904
Yes, that all sounds reasonable. The manifest loads are usually very small compared to the media loads and the small transfer size exacerbates measurement inaccuracies a lot. We published a bandwidth measurement analysis a while ago where we identified loads with very small transfer sizes as one issue that causes problems when estimating bandwidth: https://docs.google.com/document/d/1e3jVkZ6nxNWgC

[2022-01-31 17:22] icbaker commented on #9882
I played the provided media URI for 1 minute. It played successfully on both a OnePlus AC2003 (Android 11) and a Pixel 5 (Android 12).

Do you observe this issue on all devices you tried or just the Redmi 6?

The txt file provided is a logcat snippet and **not** a full bug report. Please provide the full output of `adb bugreport`, as it often contains additional `MediaCodec` or `MediaDrm` error in

[2022-01-31 17:32] tonihei commented on #9913
Sounds like this method might be missing. @marcbaechinger  probably knows better if this is something that should theoretically be there.

Please note though that we are currently working on publishing Media3 (see [blog post](https://android-developers.googleblog.com/2021/10/jetpack-media3.html)) which will supersede both Media and Media2 libraries and it's unlikely we will spend a lot of addition

[2022-01-31 17:35] tonihei commented on #9911
This file contains an edit list that causes this offset. See https://exoplayer.dev/troubleshooting.html#why-do-some-mp4fmp4-files-play-incorrectly

[2022-01-31 17:35] #9911 closed, assigned to nobody

[2022-01-31 17:46] StewardH commented on #9878
Did you manage to replicate the issue?

[2022-01-31 17:52] rajputmukesh748 opened #9914 "Exo Player Codec Issue"
Hi Team, Greetings
Hope you all are well.
I am facing one issue in EXO PLAYER 2.16.
Unable to load mp4 HD Video. It returns a Codec Error

Issue Code:- ERROR_CODE_DECODER_INIT_FAILED      MediaCodecVideoRenderer: Video codec error
Mp4 low version and 3gp videos play correctly

Video Link:- https://williamfitness.s3.us-east-2.amazonaws.com/3f014b2d3576c65b4223af12ef058025.mp4

Please Help me what I

[2022-01-31 18:15] javaboboApp commented on #9906
Thanks for the answer @icbaker, I will try to get more information about it in order to reproduce the problem.

[2022-01-31 19:09] dburckh commented on #2092
There is a PR up for the ExoPlayer team now.  I assume they will request some changes, but hopefully they will accept it in one form or another.

FYI:  I changed the branch to "avi"

[2022-02-01 06:02] kosmich87 opened #9916 "FLV live stream"
Hi!
I have a problem with play flv live stream. I have URL like "http://{ip}/live/item.flv". Create media item with this url and prepare exoplayer, add listener for playback state changed, state always STATE_BUFFERING and not playing video. Why it's happened?

If i use url for archive video it's play normal, but for live stream strange behavior. Please help. Vlc play live stream normal and don't w

[2022-02-01 09:04] DoctorDooom commented on #9913
Sounds good but is there any Plan to make the PlayerNotificationManager manage the new Session media 3 with Sessiontoken? otherwise, I will wait till the publishing finished .

[2022-02-01 10:52] tonihei commented on #9912
I'm not sure I fully understand the question or request. But it sounds as if you'd like to add a custom request headers for the network request done by the cast receiver?

`CastPlayer` uses a `MediaItemConverter` to convert `MediaItem`s to cast `MediaInfo` objects. You can set to your custom converter in the `CastPlayer` constructor if you want. The `DefaultMediaItemConverter` will already [set re

[2022-02-01 11:18] Kaaveh commented on #9902
Thanks for your response @icbaker . Let me recap what I see. I move further and complete code like below. but one question:
What should I do with `offset` value when `messageType == MSG_SET_SAMPLE_TIME` ?

[code]

[2022-02-01 11:48] tonihei commented on #9910
I just tested a minimal example where I added `app:controller_layout_id="@layout/exo_playback_control_view"` to the `PlayerView`, referring to a custom layout file `layout/exo_playback_control_view` (which is just a plain copy of the original without modifications). In this minimal example, the buttons are shown by default and I can hide them by calling `playerView.setShowFastForwardButton(false)`

[2022-02-01 11:55] tonihei commented on #9914
The file plays just fine for me on a Pixel 5 running Android 12. If you see codec errors then the device in question most likely doesn't support the codec.

[2022-02-01 12:00] tonihei commented on #9916
Please provide us with example media if you want us to take a closer look. Based on the problem description it sounds as if something in the media or the ExoPlayer parsing code might be wrong, and it's impossible to say that without testing it out.

[2022-02-01 12:29] rajputmukesh748 commented on #9914
Hi Tonihei

I am using Redmi-8 (Android-10), Redmi Note10 Pro Max (Android-11)
It's not playing. But is working in Redmi Note7 (Android-10), Micromax InOne (Android-11)

There is any other solution for playing this video on those devices whose not support Codec. Casuse MX player and Youtube also play this type of video so need to play this video. Can you please help me how to play this video?

Tha

[2022-02-01 13:38] Lohit-Huddar commented on #9872
Hi @christosts,
I have dropped mail with details for content which lasts for 48 to 72 hours, please quickly retry and let me know if it works, Thanks!

[2022-02-01 13:40] tonihei commented on #9914
If the device codec doesn't support it, then there is not much you can do about it I'm afraid. If you control the content, you could make sure to use more compatible formats or you could use software decoding if really needed, but both topics go beyond what I can explain here. Note that I'm also guessing that the format is unsupported based on the type of error. You could try to add an `EventLogge

[2022-02-01 14:22] BrettyWhite commented on #9883
Actually just got another instance of this last night, from a version that was targeting API 30, not 31. The device was still a Samsung running Android 12.

![Screen Shot 2022-02-01 at 9 20 28 AM](https://user-images.githubusercontent.com/3911458/151985670-12e7eab8-4ddb-4bea-8b52-6345b3d4191a.png)

![Screen Shot 2022-02-01 at 9 20 52 AM](https://user-images.githubusercontent.com/3911458/151985705-

[2022-02-01 14:58] narasimharao11 commented on #9882
Hi Icbaker,

- We are using Redmi6 (Android 9) , Redmi 5A (Android 8) after 9 seconds throwing an error
  android.media.MediaCodec$CryptoException: Crypto key not available.
-  But its working fine in Oneplus 8T (Android 11), Redmi Note 7S (Android 10) .

Before updating exoplayer version to 2.16.0, we were using 2.11.2,  in this version DRM content is playing fine in same device(Redmi 6) without

[2022-02-01 15:14] waseefakhtar opened #9917 "ANR related to Exoplayer and WebView"
I notice plenty of the following ANRs occurring on plenty of devices and I wonder if you have any idea why that could be and how we can solve it:

[code]

- ExoPlayer version number: 2.12.0, 2.13.0
- Android version: Android 11, Android 12
- Android device: OPPO, Realme, Xiaomi, OnePlus, etc.

<img src="https://user-images.githubusercontent.com/4093820/151995006-60541637-430a-48a0-8980-b8f25749c0d

[2022-02-01 15:49] billyjoker opened #9918 "Can not read metadata since a change of server of streams (metadata is dismissed by Exoplayer)"
Hi, I was reading metadata well done with Exoplayer, so I could read fine and I could listen properly from onMetadata(Metadata metadata).

The problem is that we had a change of the server of streams and I can not read metadata nevermore. iOS devices still can read metaddata, so I think is an Exoplayer issue.

I have tested on `Exoplayer 2.14` this behaviour. The only sure is that with the old ser

[2022-02-01 16:27] jsw-zorro opened #9919 "Question about how exoplayer implement the download buffer control."
Hi all, I am currently trying to customized the DataSource to implement my own way of buffering the videos ahead.

What I basically did is to use most structure in `DefaultHttpDataSource.java` and modified the `open` part in it. In my implementation of `open` part, I initialize a download client and implement my customized video buffering function there. And the client will return an inputstream b

[2022-02-01 16:29] icbaker commented on #9882
The bug report requested has not been provided. Given this is a device-specific issue, and I don't have the specific device available, the only way I will be able to investigate further is to look for information in a bug report.

[2022-02-01 16:44] tonihei commented on #9917
This looks the same as an internal reported bug (internal ref: b/211641759). We don't directly control this code as it's part of a Play Services fork of ExoPlayer (note the "exoplayer3" in the stack trace). But most likely, this is caused by ANRs caused when switching surfaces or releasing a player, which may happen in some cases if the underlying MediaCodec is stuck in a faulty state. ExoPlayer a

[2022-02-01 16:49] tonihei commented on #9918
Do I understand correctly, that getting metadata stopped working with the **same** ExoPlayer version 2.14 after you switched servers? If so, there must be some difference in the media stream itself to cause this problem. In order to further debug this, we'd need access to the actual media. You can also send a link to dev.exoplayer@gmail.com with "Issue #9918" in the subject if you don't want to sh

[2022-02-01 17:08] icbaker commented on #9882
I also played the provided content on an original Pixel running Android 8 and it played successfully (so this looks like a device-specific, rather than OS-specific, issue).

[2022-02-01 17:08] tonihei commented on #9919
To better understand your use case and to suggest a good solution it would be helpful to understand what you are doing inside `open`. It sounds like you are trying to reimplement existing ExoPlayer functionality that already exists at other layers in the player, but that all depends on what "customized video buffering function" means.

Some more pointers on how things usually work with the default

[2022-02-01 18:38] jsw-zorro commented on #9919
Hi, Thanks a lot for your clarification and help!
Right now, what I did in my `open` is to initiate a client to pre-buffer chunks from a groups of devices, and then merge the chunks in order to form a stream. And in my customized datasource, I will just use such stream to read.
Thus, the current problem I am facing is that in my `client` part, I am not quite sure how to set the proper download ran

[2022-02-01 21:53] jpujol opened #9920 "Player does not play audio when the PMT is updated"
## Description of the issue

### Description of the media used
Please find the stream attached
[UpdatePmtHls.zip](https://github.com/google/ExoPlayer/files/7982136/UpdatePmtHls.zip)

I have a HLS stream with TS files. Each segment is ~2 seconds long. The first segment has only video during the first second, and afterwards both audio and video are in present, for the reminder of the video.

The int

[2022-02-01 21:59] y20k opened #9921 "PlayerNotificationManager: Notification is not cancelled"
I am maintaining two media apps that use very similar `MediaBrowserService` implementations. A radio app and a podcast app. Both apps use `PlayerNotificationManager` to manage their playback notifications. Both use `setUseStopAction(true)` to display a stop button. The `stop()` action triggered by the button is intercepted by a `ForwardingPlayer`.

The `ForwardingPlayer` issues `playerNotification

[2022-02-01 22:30] newtestpage opened #9922 "hls 4k video is not playing"
Hi .

I tried to play an hls url with demo app but id didn't play the video at all and it didn't show any error on console also  , however it showed by browser properly .
I added the url link here .

`https://livelist01.yowi.tv/lista/a8a88df9a27c5adb08c931429a6eb7041ced7336/master.m3u8`

Could you please check it? Thanks .

[2022-02-02 02:04] #9812 closed, assigned to krocard

[2022-02-02 04:10] narasimharao11 commented on #9882
We have sent an email bug report.

[2022-02-02 07:42] sandeepReddyG commented on #9867
@christosts  thanks for your support. Closing the issue as this is the expected behaviour.

[2022-02-02 07:42] #9867 closed, assigned to christosts

[2022-02-02 08:43] tonihei commented on #9919
I'm assuming this is a 'pull' process, that is, your client request these chunks from the remote devices. Would it be possible to only pull the next chunk, or whatever minimal version is needed to create the stream? And then you only continue pulling in other chunks once the `read` method is called and needs more data. This idea would try to minimize the buffer you need in the DataSource because t

[2022-02-02 09:03] hannesa2 commented on #9912
When I set request header

        Map<String, String> requestHeaders = new HashMap<>();
        requestHeaders.put("Authorization", "Bearer Fyabcdefghijklmnopxx");
        requestHeaders.put(HttpConstants.USER_AGENT_HEADER, SingleSessionManager.getUserAgent());
        requestHeaders.put(HttpConstants.ACCEPT_ENCODING_HEADER, HttpConstants.ACCEPT_ENCODING_IDENTITY);

        MediaItem mediaItemX =

[2022-02-02 09:14] billyjoker commented on #9918
Yes @tonihei, that's the point. So I will reach you with the email contact as you proposed, thanks!!

Also I have tested on Exoplayer demo 2.16.1 with the same behaviour.

One interesting point with the last tests is that if they send with key TXXX neither Android neither iOS receive data, but if they send under other key, indeed an invented key like 'ID3T', they iOS receive data, so that reforces

[2022-02-02 09:45] tonihei commented on #9912
Based on the error in the screenshot, this isn't about `CastPlayer`, but about `ExoPlayer` playbacks?

If you need to set custom headers for HTTP connections in ExoPlayer, you have multiple options depending on whether you want to set the same headers for every request or need more dynamic access to the headers. Please refer to https://exoplayer.dev/customization.html#customizing-server-interactio

[2022-02-02 09:56] sajjadshahbazi commented on #9910
thank you

[2022-02-02 10:02] kishan-js opened #9923 "Mid-roll ad playback fails with Video codec error"
We are trying to play mid-roll ads with ExoPlayer ima extension, but it's failing with Video codec error. Mostly it's happening for DRM enabled content. In this case content is playing properly, but when mid-roll ads coming it's failing. pre-roll ads are playing properly.
Shared bug report via email.

- ExoPlayer version: 2.15.1
- IMA SDK version: 3.24.0
- Android version: 11
- Android device: Opp

[2022-02-02 10:13] icbaker commented on #9923
Thanks for the bug report. From these log lines this looks like a duplicate of #8696:
[code]

[2022-02-02 10:13] #9923 closed, assigned to icbaker

[2022-02-02 10:28] icbaker commented on #9882
Thanks, looking in the BR I see an HTTP 401 exception being logged from inside `DefaultDrmSession`. Later, when it gets propagated out as a 'source error' it's tagged with [`ERROR_CODE_DRM_LICENSE_ACQUISITION_FAILED`](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/PlaybackException.html#ERROR_CODE_DRM_LICENSE_ACQUISITION_FAILED), meaning it was the license server that returned 4

[2022-02-02 10:43] maven-y commented on #9911
@tonihei  Thanks, let me try the solution provided in the troubleshooting tips.

[2022-02-02 11:41] lars18th commented on #5566
Hi @AquilesCanta ,

Any improvement in supporting broadcast TV streams? With the current implementation when the stream has some errors (CC counter, error flag in TS packet, some small gaps of missing packets, etc.) then the player has some troubles. You have interested on improve this?

[2022-02-02 11:57] christosts commented on #9872
Thanks, I can repro now. It's somewhat similar to #8312 and maybe related to #8959.

Let me write up the what's happening for visibility. This is a live playlist. As the player refreshes the playlist, at some point the latest playlist snapshot starts with an `EXT-X-PROGRAM-DATE-TIME` that has a gap compared to the previous playlist snapshot. In the example snippet on the issue description, this ha

[2022-02-02 12:07] Waleedasim commented on #4066
Still not supported?

[2022-02-02 13:08] re-ovo commented on #9654
Strongly agree, it should be supported to call it declaratively instead of via `AndroidView{} `

[2022-02-02 14:45] christosts commented on #9872
Update: @Lohit-Huddar will you be able to apply the attached patch on r2.16.1 and try with your streams? It's working with the test link you provided us but maybe better to test on your side too

[candidate-fix-9872.patch.zip](https://github.com/google/ExoPlayer/files/7987424/candidate-fix-9872.patch.zip)

[2022-02-02 14:48] apptrash commented on #9875
you can get it from task description: http://stand.netup.tv/downloads/T7608.ts

[2022-02-02 14:52] kosmich87 commented on #9916
Sorry, but i can't provide example media, live stream works only in VPN. Video stream works on frontend using videojs. I'll try to get package structure.

[2022-02-02 14:57] tonihei commented on #9922
It seems ExoPlayer is unable to find any track data in the TS files and only adds the ID3 track. Playback then continues with just playing metadata, that's why you can't see any video and there is also no error.

@kim-vde Do you know what could have happened here? I tested the two flags we recommend for similar problems (https://exoplayer.dev/troubleshooting.html#why-do-some-mpeg-ts-files-fail-to-

[2022-02-02 16:14] victor-munoz commented on #5854
Any update about this?

[2022-02-02 16:29] jsw-zorro commented on #9919
Hi, tonihei:
Thanks a lot for your detailed answering. I got it.

[2022-02-02 16:29] #9919 closed, assigned to tonihei

[2022-02-02 17:23] cdongieux opened #9925 "Add support for HTTP headers in MediaItem.AdsConfiguration and DefaultMediaSourceFactory"
ExoPlayer does not allow to pass HTTP headers for Ads requests, only [adTagUri](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/MediaItem.AdsConfiguration.html#adTagUri) parameter is available.

`MediaItem.AdsConfiguration` should add a map of header name to header value, like for exemple being able to set a User-Agent in ads requests.

Then, in `DefaultMediaSourceFactory`, the `

[2022-02-02 17:36] cdongieux opened #9926 "Add support for Ads payload in MediaItem.AdsConfiguration and IMA extension"
ExoPlayer does not allow to pass Ads payload for Ads, only [adTagUri](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/MediaItem.AdsConfiguration.html#adTagUri) parameter is available.

`MediaItem.AdsConfiguration` should add a String property to be able to store Ads payload instead of Ads tag URI (see [VastAdsRequest.Builder](https://developers.google.com/android/reference/com/go

[2022-02-02 17:58] neeluagrawal04 opened #9927 "Unable to renew license while using OfflineLicenseHelper"
Hi Team,

Using `OfflineLicenseHelper` class I am able to generate the license via `downloadLicense()` function but when passing the `byte[]` generated via `downloadLicense()` in `renewLicense(byte[])` I am getting the exception as: "Failed to get key request"

[code]

Kindly check this issue as unable to renew the current license key.

Thanks!

[2022-02-02 18:13] icbaker commented on #9927
We need more info:
* What device(s) do you observe this problem with?
   * Does the operation succeed on any of the devices you've tried with?
   * If you try with a device on Android 12 (API 31) you may find that the DRM stack trace contains a lot more detailed login from the DRM plug-in.
* Does your DRM license policy explicitly allow renewal? [1]

Please also provide the output of `adb bugrepor

[2022-02-02 19:22] kqureshi14 commented on #8473
any fix here, i am also facing same problem if i want to run more than 4 videos in PageViewBuilder

W/MediaCodecRenderer(18803): Failed to initialize decoder: OMX.Exynos.avc.dec
W/MediaCodecRenderer(18803):   android.media.MediaCodec$CodecException: Failed to initialize OMX.Exynos.avc.dec, error 0xfffffff4
W/MediaCodecRenderer(18803):       at android.media.MediaCodec.native_setup(Native Method)
W

[2022-02-02 23:50] CySlider commented on #4021
Hi, I have a suspicion that I would like to clear.

We currently use Standard AES for HLS and there we do full chunk encryption**. In some cases we use .ts files in other fMP4. But also in the case of fMP4 we do full chunk encryption and it works fine in Exo as well as iOS.

We now want to migrate to Widevine and we thought that this would still be full chunk encryption, but with the keys being en

[2022-02-03 02:04] #9826 closed, assigned to stillping

[2022-02-03 03:34] imherrera commented on #9654
I made an implementation which is very flexible and declarative, though only the basic features are implemented so far. Mind to take a look? [compose-video-player](https://github.com/imherrera/compose-video-player)

[2022-02-03 05:01] Lohit-Huddar commented on #9872
Thanks @christosts for quick fix, i tried patch on 2.16.1 tag (https://github.com/google/ExoPlayer/releases/tag/r2.16.1) and still see AV freeze for sample stream i had shared.
Below is the code patch and AV freeze frame screenshots.
Attached is the adb logs, have printed playlist starttime and durations with tag "Mylog"
![image](https://user-images.githubusercontent.com/98005513/152286619-b7e74a8

[2022-02-03 07:48] dev-platong opened #9929 "Position discontinuity behavior is different between last mid ad point and others. ( This behavior causes audio lag in some devices )"
I have a problem of audio lag at specific device. So I investigated, finally I found position discontinuity behavior is different between final mid ad point and others.

This behavior is always replicated when vast is empty and IMA SDK cannot insert an ad.

1. Final mid ad point

Position Discontinuity reason is always `AUTO_TRANSITION`. This cause an audio lag issue in some devices.

2. Others (e

[2022-02-03 07:59] dev-platong commented on #9929
related changes: https://github.com/google/ExoPlayer/releases/tag/r2.14.0

[2022-02-03 09:23] tonihei commented on #9920
You can probably play the TS file with `ProgressiveMediaSource` and setting `DefaultExtractorsFactory.setTsExtractorMode(TsExtractor.MODE_MULTI_PMT)`.  (This turns on support for multiple PMTs as you described above).

However HLS specifically demands TS files with a single PMT, and that's why this isn't supported when playing an HLS playlist. See https://datatracker.ietf.org/doc/html/rfc8216#sect

[2022-02-03 10:30] tonihei commented on #9926
Could you clarify what you mean by 'payload'? The [VastAdsRequest.Builder](https://developers.google.com/android/reference/com/google/android/gms/cast/VastAdsRequest.Builder) only allows to set the `URI` or the preloaded ads response and I can't see another method to add payload data.

In case you mean the preloaded ads response: You can already set that by providing the data as a data URI. See th

[2022-02-03 11:54] christosts commented on #9872
Yep,I saw similar freezes too in tests after I posted the patch. Unfortunately, a proper fix requires more changes (should be addressed together with #8312 and #8959). We'll keep this issue open to track the fix, but I'm afraid I can't provide a timeline of when we'll work on this.

In the meantime, my advice is to try to eliminate these timestamp jumps in the playlist. It could be (note: **not te

[2022-02-03 12:21] cdongieux commented on #9926
Hi,

By "payload" I mean "preloaded ads response", yes. Something like
[code]

Providing the data as a data URI is not what I need, I need to be able to create a `MediaItem.AdsConfiguration` with a preloaded ads response (see above) as a String.

[2022-02-03 12:29] tonihei commented on #9926
The `AdsConfiguration` contains the URI, so you can set it like this:
[code]

[2022-02-03 13:25] tonihei commented on #9918
I seems none of your ID3 tags sets the `data_alignment_indicator` bit to `1`, which is required to detect that a new ID3 is starting (compared to a previous one just continuing). ExoPlayer sees the ID3 tags but ignores them all because it thinks they are the continuation of a previous one. If I change our code to just assume that every ID3 tag has this bit set, I can see all the metadata being ext

[2022-02-03 13:33] tonihei commented on #9925
ExoPlayer's IMA extension eventually needs to map all data in the `MediaItem` to an [IMA AdsRequest](https://developers.google.com/interactive-media-ads/docs/sdks/android/client-side/api/reference/com/google/ads/interactivemedia/v3/api/AdsRequest.html). As far as I can see there is no option in the IMA class to set HTTP request headers for this request. So I don't think this is possible unless you

[2022-02-03 13:52] mbertini opened #9930 "Add custom filter before rendering DRM content"
Hi, I'm trying to understand the feasibility of a computer vision application.

The use case is that of a company that would like to improve the user experience of its DRM protected content without changing the encoding of the streamed media but instead improving the visual quality on the device of the end user

I'd like to know if it is possible to add a custom filter, think a deblocking filter t

[2022-02-03 14:01] cdongieux commented on #9925
You seem to be right, I thought the HTTP request was executed on the ExoPlayer side but after reading again `ImaUtil` I'm wrong.

[2022-02-03 14:07] tonihei commented on #9925
I'll close the issue then :)

[2022-02-03 14:07] #9925 closed, assigned to tonihei

[2022-02-03 14:12] cdongieux commented on #9926
Oh great! Thanks a lot :+1:

[2022-02-03 14:12] #9926 closed, assigned to tonihei

[2022-02-03 14:32] tonihei commented on #9930
Generally, the point of having DRM is that any modification or access to the decoded video frames is not possible. Because as soon as you get access to the frames, you could for example copy it to another file and redistribute it. Having said that, this only strictly applies if playback uses a secure output path (often referred to as Level 1), and modifications may be possible when using (or forci

[2022-02-03 15:08] mbertini commented on #9930
Thanks for the answer !
I hoped it was possible to provide some sort of callback for a standard decoder or customized decoder within a trusted application, I mean the organization that has the license can customize its own secure path e.g. providing its own version of VP9/AV1/HEVC decoder with its own improved deb locking filter.

[2022-02-03 15:51] tonihei commented on #9930
The "secure path" can only be provided by the device manufacturer because it's usually implemented in its own hardware (the [trusted execution environment](https://en.wikipedia.org/wiki/Trusted_execution_environment)).

There are probably still some ways in which this can be made to work:
 - If the content allows it, you can avoid using the secure path (e.g. by forcing the Widevine Level 3) and th

[2022-02-03 17:38] LeandroVanolli opened #9931 "App does not stream RTSP - missing line on RTSP Server response - how to suppress"
I'm working with a non-compliant RTSP server, but I really want to use Exo libs. I want to know a way to suppress the following issue on my camera response:

App will try to play:
[code]
And here is the incomplete response:
[code]

This missing line causes the app to raise an exception: "Server did not provide timing for track".

As the issue #9664 suggests, I commented the lines 515-520 from `Rts

[2022-02-03 17:44] tonihei commented on #9931
@claincly Could you take a look?

[2022-02-03 19:02] jsw-zorro opened #9932 "Question about splitting a video chunks to images in ExoPlayer"
Hi, Currently, I am trying to use exoplayer to display the video. However, I need some additional processing to the videos after the video is downloaded. For example, when using the DASH format, I need to convert a video chunk to mulitple images, and after some processing to images, I need to merge these back to a DASH chunk.
Is there any potential ways, I can use some function inside ExoPlayer to

[2022-02-03 20:47] marcbaechinger commented on #9913
I think you can use `androidx.media2.MediaSession.getSessionTokenCompat()` to get the legacy token from a media2 session. [There is some documentation](https://developer.android.com/reference/androidx/media2/session/MediaSession#CompatibilitySession) around handling backwards compatibility with APIs that are still using the legacy session .

The reason for this is that the `PlayerNotificationManag

[2022-02-03 22:14] dburckh commented on #2092
Google asked me to just put the AVI changes in my first PR, so moved the MJPEG and Demo changes into a branch called "everything" and made it default.

[2022-02-03 22:19] goffioul opened #9933 "Unable to compile ffmpeg extension with NDK 23 + CMake-3.22"
My setup:
- ExoPlayer 2.15.1
- Android NDK 23.1.7779620
- CMake 3.22.2 (using system package from Fedora)

In order to build with this setup, I'm using the following patch:
[code]

I compile ffmpeg code according to build instructions:
[code]

Finally I try to compile the demo app:
[code]

Build fails at task `:extension-ffmpeg:externalNativeBuildDebug`. The output log at the failure is the follow

[2022-02-04 02:04] #9796 closed, assigned to Samrobbo

[2022-02-04 06:39] neeluagrawal04 commented on #9927
Hi Icbaker,

It happens in each and every device but checked in Android 9 and Android 10 OS version.
I am not sure about whether the DRM license policy explicitly allow renewal. But if it does not allows the renewal of license then is there any other way for the downloaded videos to continue playing when license is expired but without downloading of those videos?

Looking forward to hear from you.

[2022-02-04 08:58] goffioul commented on #9933
After some research, I found these useful references:
- https://github.com/briansmith/ring/issues/1443
- https://chromium.googlesource.com/chromium/src.git/+/1ff8654cb2647b511cb32dae4ffea9f7929b1ed9

I added the following to `extensions/ffmpeg/build.gradle` and that fixed the link error:
[code]

[2022-02-04 09:00] icbaker commented on #9927
You should find this information out - if the license doesn't allow renewal then what you're seeing is expected, and not a bug.

This is a question for your DRM provider (but I suspect the answer is no). If you're a Widevine partner you can also get support directly from them: https://www.widevine.com/contact.

[2022-02-04 09:02] harismexis commented on #9904
Thank you so much. This information is very helpful.

[2022-02-04 09:04] billyjoker commented on #9918
@tonihei firstly many thanks for your time testing this issue, I have reported to the people who manage the servers, it seems that you are right about the missing flag.

For testing I applied your workaround and it works like a charm!!

[2022-02-04 10:14] dexter2019 opened #9936 "Exoplayer not reading from cache"
In my app, I have been trying to cache the first 100KB of the videos (MP4 format),  when the videos are getting downloaded, and then play the video from the cache so that there is no buffering when a user tries to watch the video.

However, though videos are getting cached, as shown in the screenshot below
![image](https://user-images.githubusercontent.com/43119278/152509757-f74a6d9d-8c16-4072-842

[2022-02-04 11:17] niuyaweiqq opened #9937 "hls Source error"
When playing the video stream of m3u8, if there is an invalid ts file in the middle, it cannot continue to play the uninvalidated ts file, it will return me Source error

Here is my playing address:
https: //b-g-eu-11.betterstream.co: 2222 / v3-hls-playback / a4476380e3be179e47fdbc9af42b05bf3be52d32dd19844cdb91209b976c199562f24d9024e54ca27d57befdd65a33182de349ddf3c45a1ba0839ecc07e3b095c71a9f95f090

[2022-02-04 11:41] GouravSna opened #9938 "Dash thumbnail parsing error if SegmentTemplate duration is in Float"
ExoPlayer version: 2.16.1

It's nice to see that ExoPlayer had released the thumbnail parsing in v2.16.0 against this issue https://github.com/google/ExoPlayer/issues/9500

But I am facing an issue where it is not able to parsing if the `SegmentTemplate` has the `duration` in float.
I can see in the Unit test case of the commit in ExoPlayer, there also duration is integer not the float value. http

[2022-02-04 12:29] zgzong opened #9939 "MPD.Location uri in relative format can't be resolved."
We have a DASH live stream, it's MPD manifest Location url is a relative url.
 <Location>../another_path/manifest.mpd?device_profile=DASH_STB_NGRSSP_LIVE_SD</Location>

When using 2.16.1 demo application to play this stream, the following error has been throw by exoplayer.
2022-02-04 11:52:53.239 17085-17085/com.google.android.exoplayer2.demo E/EventLogger: internalError [eventTime=2.02, mediaPos=

[2022-02-04 12:50] ojw28 commented on #9938
`@duration` is defined in the DASH specification to be an unsigned integer, so it seems to me that the content is malformed.

[2022-02-04 12:53] ojw28 commented on #9938
@wilaw - Do you know who's responsible for this test content? Could it be updated to be spec compliant?

[2022-02-04 13:00] GouravSna commented on #9938
@ojw28 , I do agree because as per compliance,

timescale provided by the value of the @timescale attribute, if present, otherwise in
seconds. The value is referred to as tduration in the following.

And in this content, timeScale is not given so it should be in second. I got it from dash reference player so thought, it will be correct. Player [link](https://reference.dashif.org/dash.js/nightly/sa

[2022-02-04 13:01] #9918 closed, assigned to tonihei

[2022-02-04 14:07] neeluagrawal04 commented on #9927
Hi Icbaker,

Thank you for the quick response!

Yes you are right, the DRM license policy does not have any renewal mechanism right now configured. So want to ask is there any other way to continue playing the downloaded DRM videos if the license is expired after 30 days?

Thanks!

[2022-02-04 14:09] icbaker commented on #9927
See above - this is a question specific to your DRM mechanism, not really related to ExoPlayer:

[2022-02-04 14:09] #9927 closed, assigned to icbaker

[2022-02-04 14:41] kim-vde commented on #9901
This is because the file doesn't contain any seek map ("Cues" element in Matroska). A seek map maps timestamps to byte positions in the file, to avoid having to parse the file up to the seeking point when seeking. ExoPlayer doesn't support seeking when the cues element is not present because:
1. The [Matroska specification](https://www.matroska.org/technical/elements.html) indicates the cues eleme

[2022-02-04 14:43] kim-vde commented on #9903
The WeTransfer linked has expired. Could you please re-transfer the file? I will try to have a look more quickly this time.

[2022-02-04 15:30] kim-vde commented on #9922
The media provided contains 3 tracks:
1. A track with stream_type 0x15: this is the ID3 track.
2. A track with stream_typ 0xCF: this is a "ISO/IEC 13818-7 ADTS AAC with AES-128-CBC frame encryption" according to [1].
3. A track with stream_typ 0xDB: this is a "ITU-T Rec. H.264 and ISO/IEC 14496-10 with AES-128-CBC slice encryption" track according to [1].

The `TsExtractor` parses these 3 tracks b

[2022-02-04 16:21] FunnyDevs commented on #9903
I have recorded a new video.

https://we.tl/t-eIqQVqdhDg

[2022-02-04 22:47] nmr8acme commented on #9020
@ojw28 If you know, it would be helpful if you could describe what the log message "FMQ: grantorIdx must be less than 3" means, and if it's just a red herring. (I'm trying to debug a failure in c2.android.avc.encoder, likely unrelated, but this is a top hit for the logged error.)

[2022-02-05 02:05] comdigi opened #9940 "Support downloading live content"
Hi!
I downloaded live content(m3u8) but got an error message saying "This demo app does not support downloading live content"
Is it impossible to download live content?

Thanks

[2022-02-05 09:24] hannesa2 commented on #9912
It wotks now. Thanks a lot !

[2022-02-05 09:24] #9912 closed, assigned to tonihei

[2022-02-05 09:29] hannesa2 opened #9941 "Cast doesn't work"
When I [add an own video](https://github.com/hannesa2/ExoPlayer/commit/5c9bc056100660ff88961f95c7b5277a2b05d90b) in cast sample here [DemoUtil.java#L54-L59](https://github.com/google/ExoPlayer/blob/release-v2/demos/cast/src/main/java/com/google/android/exoplayer2/castdemo/DemoUtil.java#L54-L59)

I can see movie local on my device 👍, but when I cast this item, the player keeps black and I see this

[2022-02-05 12:56] tingyu995 opened #9942 "ChannelMappingProcessor loses its effect after calling player.nextMediaItem()"
I added ``ChannelMappingProcessor`` to the player by subclassing ``DefaultRenderersFactory`` and override ``buildAudioSink()`` in order to make both speakers play the same channel (left or right).

Having multiple ``MediaItem``s in the playlist, the ``ChannelMappingProcessor`` works across different ``MediaItem``s, but if I call ``player.nextMediaItem()`` or click "next media" icon in the UI contr

[2022-02-05 14:04] arunsinghrana opened #9943 "How to update cookies after every 1 mints in exoplayer android.Resolving data source is not working?"
Unfortunately we can't answer all questions. Unclear questions or questions with
insufficient information may not get attention.

Before filing a question:
-------------------------

- Ask general Android development questions on Stack Overflow
- Search existing issues, including issues that are closed
  https://github.com/google/ExoPlayer/issues?q=is%3Aissue
- Consult our developer website (https

[2022-02-05 21:36] Blatzar opened #9944 "ProgressiveMediaSource is resolving all subtitles unlike SingleSampleMediaSource"
TL;DR ProgressiveMediaSource consumes a lot of RAM and lags with many subtitles as all subtitles are downloaded unlike SingleSampleMediaSource. How to make it load on demand?

I want to use a specific subtitle decoder based on the contents of the subtitle file. To achieve this I used ProgressiveMediaSource and a custom SubtitleDecoder but when loading ~50 subtitles the memory usage is ~200mb highe

[2022-02-06 07:36] cineplex-projects commented on #9873
I also need this.  I have added some string before the video file and know the actual byte position from where the video will play so I need that I can read the string that added before the video using bytesread first then if validate then skip string bytes to play the video.

[2022-02-06 10:56] #9430 closed, assigned to claincly

[2022-02-06 11:02] claincly commented on #9931
It's working as intended, you see after the first TEARDOWN there were SETUP/PLAY being sent. This is to stream RTP over TCP instead.
[code]

The newest version of ExoPlayer supports playing back a stream that does not send RTP-Info.

That said, for debugging, I would suggest you try building `RtspMediaSource` with `forceUseRtpTcp` and check. It'll be most useful if you can share with us the link t

[2022-02-06 11:07] claincly commented on #9878
No I didn't manage to reproduce this issue on our end. We don't have the bandwidth right now to look at this issue (and given there's no other issues opened for it), we'll take another look when we have time.

[2022-02-06 11:07] #9775 closed, assigned to claincly

[2022-02-06 11:08] #9744 closed, assigned to claincly

[2022-02-06 11:08] #9619 closed, assigned to claincly

[2022-02-06 11:10] #9484 closed, assigned to claincly

[2022-02-06 20:12] marcbaechinger commented on #9940
The library does not support downloading live content out-of-the-box. There are no plans to provide this in the near future I'm afraid.

There is a tracking bug about this feature. Closing as a duplicate of #3877

[2022-02-06 20:12] #9940 closed, assigned to marcbaechinger

[2022-02-06 20:35] marcbaechinger commented on #9941
I think the problem is that the cast device does not support that MP4 file. I tested with your URL on an Chromecast Ultra and a Nest Hub. The Ultra does not play the media at all, while the Hub plays audio only. The controls in the demo app work when the audio is playing. Locally, the media plays well with ExoPlayer on Android as well for me (very interesting content btw :)). I don't think there i

[2022-02-06 21:43] marcbaechinger commented on #9936
I think the code looks good and I can't really find something that is odd when looking at it.

Points that come to mind where I would look to to find information around the problem:

As an initial test I would cache the entire file and the try the same again. If you only cache `102400` ms, then switch wifi and the player for any reason want to request more than `102400` ms it would use the upstrea

[2022-02-07 02:04] #9837 closed, assigned to ojw28

[2022-02-07 02:04] #9801 closed, assigned to icbaker

[2022-02-07 05:30] mag0716 commented on #9889
I have investigated the cause of this Issue and identified the following as the cause.

* The [`newPlaybackInfo.timeline`](https://github.com/google/ExoPlayer/blob/dev-v2/library/core/src/main/java/com/google/android/exoplayer2/ExoPlayerImpl.java#L1774) of [`ExoPlayerImpl#updatePlaybackInfo`](https://github.com/google/ExoPlayer/blob/dev-v2/library/core/src/main/java/com/google/android/exoplayer2/E

[2022-02-07 07:10] neeluagrawal04 commented on #9927
Hi Icbaker,

Thank you for your quick response!

Since our license partner does not provide the support for renewal of license and we are not in state to switch for DRM license partner.

For now I can generate a new license for that downloaded videos. So is there any way to attach a new license for that downloaded videos because we can't provide a functionality to re-download a video once the lice

[2022-02-07 07:16] dexter2019 commented on #9936
@marcbaechinger Thank you so much for your response to my issue. As you suggested, when I cached the entire file instead of caching the first 100KB, it worked fine.  So points 1, 2, and 3 you mentioned should not be the issue.

But caching the entire file would be an expensive solution I believe. I will try to add logs, as you suggested, and cache the first 100KB again. And update you.

[2022-02-07 08:03] dexter2019 commented on #9936
@marcbaechinger Hi Marc,

So I tried to cache the first 100 KB, I added logs to the CacheDataSource used while building the player,

here are the logs, **when I switched off the internet and tried to play the same video again**, it shows the "onCacheIgnored" reason as "source error".

Just to add, if it helps you, I am using the single-player instance, so, so the cacheDataSourceFactory is being re

[2022-02-07 09:43] hannesa2 commented on #9941
I use such a device , no clue what type it is
<img width="407" alt="image" src="https://user-images.githubusercontent.com/3314607/152762718-e76f68c8-b03f-45f0-b4db-47690a04ecd2.png">
and a Nest hub (2nd gen)
<img width="633" alt="image" src="https://user-images.githubusercontent.com/3314607/152762947-1cae698f-3344-49de-b44a-40a1897cbbf2.png">

both neither play audio nor play video.

So I tried sa

[2022-02-07 10:10] zgzong commented on #9939
@ojw28
here below is a way to resolve this issue. What's your opinion?
`manifestUri = resolveManifestLocation(loadable.getUri(), manifest.location);`

  /**
   \* Resolve Manifest location.
   \*
   \* @param baseUri this is the uri after 302 redirection.
   \* @param location this is uri parsed from the MPD.Location
   \* @return the resolved uri for manifest.
   */
  private Uri resolveManifestL

[2022-02-07 10:11] kim-vde commented on #9903
Thanks. The file provided is invalid because it doesn't contain an `esds` box under `moov`>`trak`>`mdia`>`minf`>`stbl`>`stsd`>`mp4a`, which is required (see ISO/IEC 14496-14).

[2022-02-07 10:50] ojw28 commented on #9939
Our plan is to solve the problem in `DashManifestParser`. Will will update this issue with a commit shortly.

[2022-02-07 10:53] tonihei commented on #9929
Thanks for reporting! We can provide a fix for this.

[2022-02-07 11:21] icbaker commented on #9927
Assuming two things:
* You've already acquired the new license, and you know `newOfflineKeySetId`
* The content you've already downloaded can be decrypted with the new license

Then you can set `newOfflineKeySetId` on the `MediaItem` you derive from `DownloadRequest` before passing it to the Player, either by using `DownloadRequest.copyWithKeySetId` or `MediaItem.DrmConfiguration.Builder#setKeySet

[2022-02-07 12:10] zgzong commented on #9939
Thanks that's even better. Resolve the location immediately after it has been parsed.

[2022-02-07 12:35] GouravSna commented on #9938
Hi @ojw28 , As this crash is only for the image tracks, we suggest that Exoplayer should at least play the media except the images. For Images, you can log the warning.

[2022-02-07 12:45] ojw28 commented on #9938
Without a compelling reason to _need_ to fix this, I'm not convinced that we should do so. Replacing an obvious failure mode (e.g., a stack trace that makes it clear exactly what the issue is) with a more obscure one (e.g., playback works but silently discards the malformed part of the manifest) is likely to lead to confusion in the future as the problem that occurs will be more subtle.

We don't

[2022-02-07 12:49] #9938 closed, assigned to ojw28

[2022-02-07 13:00] wkarl opened #9945 "Allow LoadControl to prevent loading indefinitely"
My use case here is that I would like to prevent loading by overriding DefaultLoadControl if the user switches to a mobile data connection. Due to data caps not everybody wants to use their data towards video streaming. I would like to offer a setting to opt in using mobile data (just like you need to explicitly allow automatic app updates when not on wifi).

You can easily reproduce this by overr

[2022-02-07 16:27] frontyard opened #9946 "Start HLS live stream with a time offset"
I have live HLS stream that I want to start with 60 minute delay (start at the point that happened 1 hour ago). Manual rewinding of this stream works using seekTo.

Using media fragments, or adding #t=3600 to the URL works on other platforms that support HLS natively (LG, Samsung), but ExoPlayer seems to be ignoring it.

What is a preferred way of starting a stream with a time offset?

[2022-02-07 16:52] coveroid opened #9947 "How can I unsync / delay video audio (hls) in Exo Player"
Hello,

I would like delay video and sound by 500ms in exoplayer (unsync them) on hls stream.

If anyone of you have any idea please show me right direction to do it.

Thanks in Advance

[2022-02-07 21:10] luckygoyal-bitmovin commented on #9784
Hi @tonihei , I encountered same issue and tested the above fix commit. It improves the behaviour but I can still reproduce this for some cases where I have 4 seconds segments and 4 seconds as MPD update period. Below is my observation. Each MPD update contains 4 segments with a new segment added and oldest segment removed every MPD update(4 seconds).

- The available duration is constantly > 12 s

[2022-02-07 21:35] #9939 closed, assigned to ojw28

[2022-02-07 21:36] #9811 closed, assigned to ojw28

[2022-02-07 21:37] #9782 closed, assigned to andrewlewis

[2022-02-07 23:19] ojw28 commented on #9943
Please can you properly fill out the issue template? It should be possible to use `ResolvingDataSource` for this, but you've provided no information on how you're using it, so it's not really possible for us to help.

[2022-02-07 23:27] ojw28 commented on #9942
That doesn't sound expected, no. Please could you provide a small patch that we can apply to our demo app to reproduce this issue? Alternatively, it works well if you fork the project and then make a commit to your fork. Thanks!

[2022-02-07 23:28] ojw28 commented on #9937
If the TS file is invalid, then isn's that the cause of failure? I suggest fixing the media to not contain invalid segments.

[2022-02-08 07:10] neeluagrawal04 commented on #9927
Hi Icbaker,

Thank you for your reply!

Well it works after generating a new license say newOfflineKeySetId  and updating it to downloadRequest object via DownloadRequest.copyWithKeySetId or passing the newOfflineKeySetId to MediaItem.DrmConfiguration.Builder#setKeySetId(). But this will not updating the existing exoplayer database value keySetId. Hence I need to generate a new license every time

[2022-02-08 08:26] tmi111 opened #9948 "the subtitle cannot be displayed on the network ？"
// String subtitleSrt = getFilesDir() + "/how.srt";
       String subtitleSrt = "http://128.199.91.128:8280/output/xxx.srt";
        MediaItem.SubtitleConfiguration subtitle =
                    new MediaItem.SubtitleConfiguration.Builder(Uri.parse(subtitleSrt))
                        .setMimeType(MimeTypes.APPLICATION_SUBRIP)
                        .setLanguage("en")
                        .s

[2022-02-08 08:28] FunnyDevs commented on #9903
ok, thank you for your feedback :)

[2022-02-08 09:40] jamesdavidholding commented on #9784
Hi @tonihei  with the above insight provided against this issue still being present for 4 Second segments with a 4 second update period can I ask would you be able to reopen this ticket to handle this permutation also?

Can I also ask in the interim of this issue not being merged and the above 4sec segment issue observed what would recommend for segment update and segment length to not encounter t

[2022-02-08 09:48] sunhb opened #9949 "How to play video media on child process"
I have a player service on a child process named ":player", and the UI components is in main process.
I want to know how to render video from child process to VideoView in main process.
Thanks!

[2022-02-08 09:52] #9903 closed, assigned to kim-vde

[2022-02-08 10:05] drayan85 commented on #9894
@marcbaechinger, @rrfrias Do you have any updates on this issue?

[2022-02-08 10:05] Kaaveh opened #9950 "Load subtitle file without any noticeable affect on user experience"
For loading a subtitle file, I used this code:

[code]
This is well but have a small problem. When user browse a `srt` file, It's start play video from beginning. Is there any way to load `srt` in middle of playing video without any noticeable affect on user experience?

[2022-02-08 10:20] icbaker commented on #9853
Closing due to inactivity

[2022-02-08 10:20] #9853 closed, assigned to icbaker

[2022-02-08 10:20] icbaker commented on #9846
Closing due to inactivity

[2022-02-08 10:20] #9846 closed, assigned to icbaker

[2022-02-08 10:21] icbaker commented on #9882
Closing as the root cause of the issue seems to be a 401 response from the DRM license server, suggesting this isn't an ExoPlayer issue.

[2022-02-08 10:21] #9882 closed, assigned to icbaker

[2022-02-08 10:43] icbaker commented on #9944
If you see issues with `ProgressiveMediaSource` but everything works with `SingleSampleMediaSource`, why not just use `SingleSampleMediaSource`? `SingleSampleMediaSource` is currently the standard way to handle side-loaded subtitles in ExoPlayer. We are working towards using `ProgressiveMediaSource` for this (as part of a much larger project), but this functionality is currently gated behind the (

[2022-02-08 10:47] Xlcghs opened #9951 "Thumbnails/Image from DashManifest"
Hello,

Can we display thumbnails in the progress bar using the adaptationSet image in a DASH manifest?
if so, is there a specific config to activate on the Player side in this case?

Through an adaptation-set Image in a DASH manifest, can we display a full-screen image in the Player view ?

Thank you

[2022-02-08 11:24] giladna commented on #9773
@tonihei

I have forked the code as you have request and combined both
experimentalSetAsynchronousBufferQueueingEnabled(true)
+
Try disabling the frame output timing by passing 0 to releaseOutputBuffer

I could see that there is some improvement when seeking (it will have the issue for several seconds and then it becomes fine)

that is better than it was but still not perfect

10x
Gilad

[2022-02-08 13:56] ojw28 commented on #9950
Unfortunately adding subtitles mid-playback in a seamless way is a pending feature request. Closing as a duplicate of https://github.com/google/ExoPlayer/issues/1649.

[2022-02-08 13:56] #9950 closed, assigned to ojw28

[2022-02-08 14:01] narasimharao11 opened #9952 "Video Codec Error"
Hi Team,
   We have updated exoplayer version from 2.11.2 to 2.16.0 . After updating the player when we try to change the bitrate multiple times, we are facing the Video codec error in android OS 12 (iQOO Z3 5G).
 We hardcoded the stream url and drm license url in demo app. We reproduced the same issue in exoplayer demo app 2.16.0 and attached the logs and complete bug report.

Adb Logs

[code]

-

[2022-02-08 14:04] ojw28 commented on #9951
This is a duplicate of https://github.com/google/ExoPlayer/issues/3752.

[2022-02-08 14:04] #9951 closed, assigned to ojw28

[2022-02-08 14:14] petersamokhin opened #9953 "preferredTextLanguage does not affect selection flags for text tracks"
## TL;DR
Now there is no way to get the actual text track which is not playing when the preferred language set.
Instead, the default track is marked as selected.
ExoPlayer version: `2.16.0`

## Reproduce
### Media
Have an HLS video with more than one language.
One of the languages is marked as default in the manifest.
Example: https://bitdash-a.akamaihd.net/content/sintel/hls/playlist.m3u8

### Se

[2022-02-08 14:36] ojw28 commented on #9948
It's not possible for us to help you from the very limited information provided. Please see our [documentation](https://exoplayer.dev/media-items.html#sideloading-subtitle-tracks) for instructions on sideloading subtitles.

If you're following these instructions and finding that things are not working, you'll need to provide clear reproduction steps for us to take a look at, ideally in the form of

[2022-02-08 14:36] Blatzar commented on #9944
Thank you for your reply! Using a custom `RenderersFactory` with `SingleSampleMediaSource` worked without issues! :people_hugging:

I didn't know about `RenderersFactory` and thought a `ProgressiveMediaSource` was required for a custom SubtitleDecoder :(

Issue solved, but I can create a minimal reproducible example to debug the `ProgressiveMediaSource` if you'd want :+1:

[2022-02-08 14:36] #9944 closed, assigned to icbaker

[2022-02-08 14:36] ojw28 commented on #9947
This is not something we support, sorry! It would likely be possible to achieve by forking ExoPlayer and modifying the internals, but this is not something we can provide support on.

[2022-02-08 14:36] #9947 closed, assigned to ojw28

[2022-02-08 15:53] icbaker commented on #9927
You can update the info stored in ExoPlayer's download database using `WritableDownloadIndex#putDownload` (on the `WritableDownloadIndex` instance that you provided when you constructed your `DownloadManager`), and passing in a `Download` you just retrieved with only the `keySetId` changed - just make sure that you leave all the other properties untouched.

[2022-02-08 17:54] ehsan9295 opened #9954 "onPositionDiscontinuity callback"
Hi ExoPlayer team,

we are using the version 2.15.1 of ExoPlayer in out android app and have the following use case. We have a live stream which consists of multiple periods (content and ad). We have to track whenever we move to the next period of the current live stream. For this we use the onPositionDiscontinuity method but somehow it doesn't work properly. onPositionDiscontinuity sometimes will

[2022-02-09 00:18] jpujol commented on #9920
Thanks for looking into this.

The stream has only one PMT: it's PID `0x1000`, as declared in the PAT. The streams inside the program do change.

[2022-02-09 01:46] tmi111 commented on #9948
I have this subtitle address in the network, how do I display this subtitle

[2022-02-09 02:04] #9847 closed, assigned to icbaker

[2022-02-09 02:04] #9526 closed, assigned to abhishekpatil26

[2022-02-09 02:44] tmi111 commented on #9948
Can I fill in a network URI address for this subtitle URI

[2022-02-09 06:17] #9948 closed, assigned to ojw28

[2022-02-09 06:17] tmi111 commented on #9948
solved

[2022-02-09 06:19] smkhurramkhan opened #9955 "How to load multiple subtitles before preparing player and switch subtitles on runtime dynamically without preparing the player again? i am using exo player version 2.16.1"
this is how i am loading subttiles. it's working fine for one but i want to pass list of subtitles before preparing media player and than switch subtitles from the list

     private fun preparePlayer(videoUrl: String) {
            videoWatchedTime = simpleExoplayer.currentPosition
            val uri = Uri.parse(videoUrl)

            val mediaItemBuilder = MediaItem.Builder()
                .s

[2022-02-09 07:44] raghav2945 opened #9956 "[Crash] Getting crash with the creation of Exoplayer through builder method"
We started receiving crash over firebase for Exoplayer. And the error message is as below :

- ExoPlayer version number : 2.13.3
- Android version : 9/10/11/12
- Android device : Samsumg/Google/LGE/Motorola

We just made some changes to the creation of Exoplayer because the construction with builder reported ANR. So we try to avoid this by using a kotlin coroutine, and the code looks like as below

[2022-02-09 10:31] sergju opened #9957 "Click in right audio channel on simple media restart."
Click in right audio channel on simple media restart.
Reproduced on some streams
[test_stream.zip](https://github.com/google/ExoPlayer/files/8031742/test_stream.zip)

I use this code.

 Remember url on start to restart later the same url with bit other paramenters

- ExoPlayer version number: 2.16.1
- Android version: 7
- Android device: H96 Pro 4K

Also reproduced on other device with android 7

[2022-02-09 11:08] md84419 commented on #8473
This issue has reappeared in Android 12.

PlatformException(VideoError, Video player had error com.google.android.exoplayer2.ExoPlaybackException: MediaCodecVideoRenderer error, index=0, format=Format(1, null, null, video/avc, avc1.64001F, -1, null, [1280, 720, 29.973475], [-1, -1]), format_supported=YES, null, null)

A minimal reproducible flutter testcase is provided in https://github.com/flutte

[2022-02-09 12:24] ojw28 commented on #9953
The information in the format indicates what the media specifies, not what the application or user has selected during playback.

If you take a look at the logging output by our demo app, you'll see an `[X]` marking selected tracks, and that this is correctly updated to indicate the selected track. So the information is definitely available.

I think you should take a look at the information you c

[2022-02-09 12:26] ojw28 commented on #9932
This sounds sufficiently custom that it's not going to be something we're able to provide support on; sorry! It's not something that ExoPlayer is designed to support.

[2022-02-09 12:26] #9932 closed, assigned to ojw28

[2022-02-09 12:36] neeluagrawal04 commented on #9927
Thank you it worked!

[2022-02-09 12:49] giovannyvelezalt opened #9958 "DRM Exception in some devices"
We have been getting this stack trace reported in NewRelic:

[code]

We extracted a list of devices affected by the issue
[DevicesWithError.xlsx](https://github.com/google/ExoPlayer/files/8032789/DevicesWithError.xlsx)

and we have requested one user with a OnePlus 6T to extract a log report

[bugreport-OnePlus6T-RKQ1.201217.002-2022-02-06-10-20-51.zip](https://github.com/google/ExoPlayer/files/80

[2022-02-09 12:53] ojw28 commented on #9956
It looks like `SimpleExoPlayer.getApplicationLooper` is being called before `player` has been set. @tonihei - Do your recent changes to merge logic into `ExoPlayerImpl` resolve this?

[2022-02-09 12:55] tonihei commented on #9956
This was fixed by https://github.com/google/ExoPlayer/commit/f31894616c02d0c947790c3228f48c1a28833854, first published in 2.14.0.

[2022-02-09 12:55] #9956 closed, assigned to tonihei

[2022-02-09 12:56] ojw28 commented on #9958
@rrfrias - Please take a look. Thanks!

[2022-02-09 12:59] ojw28 commented on #9954
@tonihei or @marcbaechinger - Could you take a look. Thanks!

[2022-02-09 13:30] marcbaechinger commented on #9954
The use case you are having should be covered by `onPositionDiscontinuity` with a reason of `AUTO_TRANSITION`.

When I play such a stream I get the expected events and it seems to be on time. From the perspective of the implementation, the event is emitted at the moment when playback transitions from one to the other period. I see these logs that go from period 0 to 3:

[code]

I can't think how t

[2022-02-09 15:25] #9904 closed, assigned to tonihei

[2022-02-09 18:01] GouravSna opened #9959 "Meaning of `SelectionFlags` on `MediaItem`"
**ExoPlayer version: v2.16.1**

I am building `MediaItem.SubtitleConfiguration` on my end and passing some external subtitles to 'ExoPlayer'. On builder object, there is an api `setSelectionFlags` (https://github.com/google/ExoPlayer/blob/029a2b27cbdc27cf9d51d4a73ebeb503968849f6/library/common/src/main/java/com/google/android/exoplayer2/MediaItem.java#L1279) where it needs the values from which ar

[2022-02-09 18:58] ojw28 commented on #9959
I do not understand where `DEFAULT_TRACK_SELECTION_FLAG_HLS` and `DEFAULT_TRACK_SELECTION_FLAG_DASH` are coming from. I don't think these constants are defined by ExoPlayer. You should be using the flags defined by `C.SelectionFlags`, which you've already located.

Note that, as with flags in general, multiple flags can be combined together. For example `SELECTION_FLAG_AUTOSELECT | SELECTION_FLAG_

[2022-02-09 19:02] AquilesCanta commented on #4592
This will be looked at this year.

[2022-02-09 22:44] ziad-halabi9 opened #9960 "Can ExoPlayer Transformer handle any audio input format?"
I am testing out the ExoPlayer `Transformer` (2.13.0) and followed the tutorial described here: https://exoplayer.dev/transforming-media.html

When I input an m4a file as an input MediaItem, it works fine. But if I input any mp3 or wav file, the transformer fails with the following stacktrace:

[code]

This is thrown from the `Transformer's` `onTracksChanged` where the `muxerWrapper` has 0 track c

[2022-02-09 23:58] drashad88 opened #9961 "hls Streaming suddenly stopped giving E/ExoPlayerImplInternal: Source error UnrecognizedInputFormatException: Input does not start with the #EXTM3U header."
All the videos in my app suddenly stopped working and i tried many of the suggested solutions here but none worked. Please advise

---------------CODE USED---------------

String userAgent = Util.getUserAgent(getActivity().getApplicationContext(), "app-name");
            // Create a data source factory.
DataSource.Factory dataSourceFactory = new DefaultHttpDataSourceFactory(userAgent);

String vi

[2022-02-10 02:04] #9795 closed, assigned to icbaker

[2022-02-10 02:36] madlyyouitv opened #9962 "Android 11 Unable to instantiate codec"
I'm seeing the same issue for Android 11 reported in https://github.com/google/ExoPlayer/issues/8696  but this time for Audio decoder

[code]

I know that a fix for it was added to version `2.16.1` but what if we're using an older version, is it possible to have a similar workaround for Audio codec release similar to the one mentioned in https://github.com/google/ExoPlayer/issues/8696 for `MediaCo

[2022-02-10 05:47] rrfrias commented on #9958
The stack trace indicates an error when requesting a license, but there is not enough information in this stack trace to tell more. We added more information to stack traces in android 12 devices, so if you have one from those devices, it would help.

A bugreport would be even more helpful. The one attached unfortunately does not contain any errors or Exceptions.

Why do you think it is related to

[2022-02-10 07:37] GouravSna commented on #9959
Thanks @ojw28 , Got your point. Those were our internal constants but yes, I missed this point that those were the combination of C.SelectionFlags only :)

[2022-02-10 07:37] #9959 closed, assigned to ojw28

[2022-02-10 08:19] tonihei commented on #9920
In this case, please disregard my initial reply! I think I was slightly misguided by `the TS file has multiple Program Map Tables (PMT)` :)

Updating the same PMT with additional tracks is currently not supported in ExoPlayer, but we have an open feature request to handle such files. See #7873.

[2022-02-10 08:40] comdigi commented on #9940
Thanks!

[2022-02-10 09:53] rrfrias commented on #9894
@drayan85 are you seeing this on other devices or just OnePlus A3010? Are you seeing this with lower resolution content (SD)?

It is surprising that AudioTrackUnderrun errors see and the problem is video is lagging rather than audio glitches.

Will try and see if i can find a device to reproduce this problem.

Internal ref: 218802310

[2022-02-10 10:05] christosts commented on #9894
Can you please try enabling _asynchronous buffer queueing_? Instantiate the player with a `RenderersFactory` and pass a `DefaultRenderersFactory` after enabling the feature calling [DefaultRenderersFactory.forceEnableMediaCodecAsynchronousQueueing()](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/DefaultRenderersFactory.html#forceEnableMediaCodecAsynchronousQueueing()).

Example

[2022-02-10 10:32] drayan85 commented on #9894
These devices are reported from user the app I am working where we are using ExoPlayer

SM-T825[Android 9], Motorola G Play, Samsung Galaxy Tab S5e, Moto G(9) Play,  Oppo A74[Android 8.1],
Moto G Play (2021) [Android 10], OnePlus 3T (A3010) [Android 9], Moto G30[Android 11], Mi A3[Android 11],
CPH1941 [Android 11], Moto g(10)

[2022-02-10 10:36] drayan85 commented on #9894
Let me try and update you soon

[2022-02-10 10:37] LiuDongCai opened #9963 "How to know the callback of each video playback completion"
player.setRepeatMode(Player.REPEAT_MODE_ALL)

How to know the callback of each video playback completion？

[2022-02-10 11:26] githubashutoshsoni opened #9964 "ParserException: Searched too many bytes."
one of the files is not playing when I play using the below code. The file I'm using is this please download this or upload to some server as [this link]() let me know what to do to fix this? thanks! I have read the guidelines and sent the mail. There's nothing like DRM content protection for the time being.

[code]

The error logs are as follows:
[code]

The device I have tested is on Samsung M7.

[2022-02-10 11:29] tonihei commented on #9773
Thanks for checking!

The fact that `experimentalSetAsynchronousBufferQueueingEnabled(true)` helps very likely indicates a performance problem with the high frame rate streams on these devices (as already suggested above). Using the async mode makes the rendering process a but more performant, but there's generally not much we can do if the device just isn't capably of decoding the video fast enou

[2022-02-10 11:42] tonihei commented on #9784
@luckygoyal-bitmovin

What you describe above is exactly the problem we solved I believe.

In this scenario, we have `bufferedDuration=8 sec, availableDuration= 11 sec, chunkDuration = 4 sec`, so the calculated threshold will be `minDurationForQualityIncrease = (11 - 4) * 0.75 = 5.25 sec` and because `bufferedDuration > minDurationForQualityIncrease`, the player will be allowed to switch up.

If t

[2022-02-10 11:52] lpv-1902 opened #9965 "Getting IllegalStateException on specific stream"
I am getting an IllegalStateException on this stream: https://serve-first.folxplay.tv/folx/ch-6/1080-X9PRFHOWUW.m3u8. The stream works fine on safari and Google Chrome with M3U8 player extensions.

[code]

[2022-02-10 11:55] luckygoyal-bitmovin commented on #9784
thanks @tonihei for your reply.

Above does not happen as `availableDuration = 11 seconds` is greater than default `minDurationForQualityIncreaseUs` which is 10 seconds. Due to this  `isAvailableDurationTooShort` is calculated as `false` and the method `minDurationForQualityIncreaseUs` returns default value(10 seconds) as as the minimum required duration which is greater than buffered duration(8 s

[2022-02-10 12:02] tonihei commented on #9784
I see, thanks for pointing this out! This edge case only applies if `availableDurationUs > configured configured minDurationForQualityIncreaseUs`, but the `adjusted minDurationForQualityIncreaseUs < configured minDurationForQualityIncreaseUs`. Will update the condition to always choose the minimum of adjusted and configured `minDurationForQualityIncreaseUs`.

[2022-02-10 12:12] christosts commented on #9894
If you're using the demo app, you can quickly enable it by calling `forceEnableMediaCodecAsynchronousQueueing ` on the `DefaultRenderersFactory ` instance [here](https://github.com/google/ExoPlayer/blob/r2.16.1/demos/main/src/main/java/com/google/android/exoplayer2/demo/DemoUtil.java#L91).

To verify, MediaCodec should output logs saying it operate in "asynchronous mode".

[2022-02-10 14:47] GlebPBanuba opened #9966 "Custom rendered causes playback and performance issue"
Hi,
we found performance and playback issue after adding custom renderer in playback process.

Here is the repo that demonstrates the issue
 https://github.com/ve-sdk-android/ExoPlayer-sample

Our custom renderer is https://github.com/ve-sdk-android/ExoPlayer-sample/blob/master/app/src/main/java/com/banuba/exoplayer/sample/VideoFrameDrawer.kt that should add blur

Please take a look this issue.
Lo

[2022-02-10 15:53] ojw28 commented on #9963
I think `Player.Listener.onMediaItemTransition` is what you want. Note that the `reason` parameter will tell you why the transition is occurring. You're probably interested in `reason=MEDIA_ITEM_TRANSITION_REASON_AUTO`, which is the reason used when playback naturally advances to the next video. You may be interested in traisions with `reason=MEDIA_ITEM_TRANSITION_REASON_REPEAT` as well.

[2022-02-10 15:53] #9963 closed, assigned to ojw28

[2022-02-10 15:56] ojw28 commented on #9965
The media is malformed. If the stream provider intends these streams to be playable by applications that they don't control, then I would suggest you contact the stream provider and ask them to fix it. This is a duplicate of https://github.com/google/ExoPlayer/issues/9843.

[2022-02-10 15:56] #9965 closed, assigned to ojw28

[2022-02-10 15:58] ojw28 commented on #9966
This sounds like a performance problem with the customizations you're adding, in which case this isn't an ExoPlayer issue. If you believe there's an ExoPlayer issue here then please could be more precise about what it is. We're unable to provide assistance on issues relating to your own code. Thanks!

[2022-02-10 16:16] ojw28 commented on #9964
I do not see the same error that you see, using the link you've provided. I'm also using 2.16.1. That said, the file still doesn't play because it's using `audio/mpeg-L1`, which is not supported on all Android devices.
[code]
As a first step, I suggest you encode your content in a more widely supported format.

[2022-02-10 16:33] ojw28 commented on #9961
It looks like the server is rejecting your user agent. If you're the streaming provider, you should follow up with the team that's providing the streams to establish what the user agent should be set to. If you're not the streaming provider, then is it possible that they've made a change to deliberately stop these streams from playing in your app?

Closing in any case, since this does not appear t

[2022-02-10 16:33] #9961 closed, assigned to ojw28

[2022-02-10 19:22] rrfrias commented on #9894
Internal ref: 218797733

[2022-02-10 20:16] jpujol commented on #9920
Ah, great! thanks for the pointer. And apologies for the poorly chosen words. I guess I meant "multiple PMT packets" :)

[2022-02-10 22:01] GlebPBanuba commented on #9966
The repo https://github.com/ve-sdk-android/ExoPlayer-sample is just a sample that should ONLY help you to reproduce the issue.

Our custom Player does not have such performance and playback issues
but ExoPlayer posts bunch of errors in LogCat.

Below are errors from my Pixel 2 XL

//1
[code]

// 2
[code]

//3
[code]

//4
[code]

Since our project highly depends on ExoPlayer we really need your ass

[2022-02-11 04:18] #9881 closed, assigned to marcbaechinger

[2022-02-11 07:34] rohitninawe commented on #9519
is there any fix for [#9463 ] ?

[2022-02-11 07:35] rohitninawe commented on #9463
@ojw28 is there any update on this issue?

[2022-02-11 08:48] drayan85 commented on #9894
We have tried and still, we are facing the same issue

We could not see `asynchronous mode` confirmation but we can see this inside the logs
`ExtendedACodec: Decoder will be in frame by frame mode`

[code]

[2022-02-11 09:28] githubashutoshsoni commented on #9964
Okay, so currently the only solution is to change the source audio to raw or other format.

[2022-02-11 09:28] #9964 closed, assigned to ojw28

[2022-02-11 09:52] christosts commented on #9894
I don't think the feature was enabled. I don't see related logs printed too. When the feature is enabled, there should be logs from ExoPlayer
[code]

and from the platform
[code]

It could be that the platform log may not be printed in the specific OS version of the device, but the ExoPlayer log should appear.

Just it case, I'm attaching a patch to enable the feature on the demo app in 2.16.1. Ca

[2022-02-11 10:15] tonihei commented on #9929
Fixed by the commit above.

[2022-02-11 10:15] #9929 closed, assigned to tonihei

[2022-02-11 11:25] kim-vde commented on #9960
Hi,

The supported output formats are the same as in [MediaMuxer](https://developer.android.com/reference/android/media/MediaMuxer#addTrack(android.media.MediaFormat)). For MP4, the supported audio formats are AAC, AMR NB and AMR WB. The version of the Transformer in 2.13.0 will output the same sample MIME type as the input. So, if you feed it MP3/WAV, it will try to output MP3/WAV and will fail.

[2022-02-11 12:50] dino-saurabh opened #9968 "Response code 400 on device certificate provisioning request."
**Describe your question in detail.**
--------------------------------
We are observing a small % of users getting 400 response codes for device provisioning requests from Feb 3, we reached out to our widevine partners for this Issue but they found nothing was off on their side.
Unfortunately, the error is not reproducible on our side but we do have the request and response of the API call. just w

[2022-02-11 13:54] danielgliga3ss opened #9969 "Playback freeze at the end of the first period on multi-period Dash streams"
Based on my debugging analysis the freeze happens at the end of the first period.
I have observed that when BufferInfo->presentationTimeUs reach 1000008704000 value (first period duration="PT8.72S") **android.media.MediaCodec#dequeueOutputBuffer() returns -1** for an indefinite period of time and the playback gets stuck at this position.
com/google/android/exoplayer2/mediacodec/SynchronousMediaCod

[2022-02-11 14:08] ktmf01 opened #9970 "Unreachable code found in FLAC parser"
I've been looking at a [oss-fuzz fuzzer based on some Exoplayer code](https://github.com/google/oss-fuzz/pull/4073), but I can't seem to figure out what it does, where it is used and how it works.

Anyway, I found quite a bit of unreachable code. I hoped perhaps comments on this could help me understand it.

https://github.com/google/ExoPlayer/blob/86afae9c3e01506fd51adb892010a771a055d579/extensio

[2022-02-11 14:37] ludoven commented on #9939
I also encountered this problem, have you solved it?

[2022-02-11 14:42] #9941 closed, assigned to marcbaechinger

[2022-02-11 14:55] BrettyWhite commented on #9883
Still seeing this, now on additional devices like the Samsung Galaxy A42 5G running Android 12.

Only seems to be Samsung specific

[2022-02-11 15:26] ojw28 commented on #9970
Does it? Note that `mWriteCompleted` is not a local variable. I would assume L368 can cause `FLACParser::writeCallback` to be called, which will set `mWriteCompleted = true`.

[2022-02-11 16:00] denis-bezrukov commented on #9806
It's hard to say, we don't collect historical data for ANRs that can be aggregated quickly

Don't close it 🙏 My plan to return to this issue next two weeks

[2022-02-11 16:17] ktmf01 commented on #9970
Ah, I completely missed that part. You are right, this is probably not an issue at all then.

[2022-02-11 16:18] #9970 closed, assigned to ojw28

[2022-02-11 16:27] adamvernier commented on #9806
I also hope that you don't close this. I believe this issue is very similar or the same to what we've been seeing. We have hundreds of devices deployed for a digital sign product that often plays many videos. Our Android 6 devices are particularly prone to these "codec lockups" and need to be rebooted, sometimes many times a day. I very much appreciate the support on this and hope to soon provide

[2022-02-11 18:18] wahdatjan opened #9971 "Exoplayer Next button not clickable when Repeat Mode is REPEAT_MODE_ONE at the last video"
I am using exoplayer 2.12 and when i reach the last video in the timeline and player.repeatMode = Player.REPEAT_MODE_ONE then Next button is not clickable . What i want is to make some action at that point of time to make next button clickable.

[2022-02-11 20:17] LeandroVanolli commented on #9931
Hello @claincly ! Thanks for your reply.

Yes, I can see that the app is trying to stream over TCP, however, the server side is designed to stream over UDP. I have tried to stream with other apps, and they all successfully streamed over UDP.  When I try to manually switch to TCP, no application works.

You may ask me why I'm trying to use this lib while I have many others that worked. I need to de

[2022-02-12 10:34] chladto1 commented on #4825
Our content provider introduces new DRM content policies. Some streams require the L1 DRM security level, some require the L3. We obtain a URL for content that contains all streams and a DRM license for each one separately. The user should only see the resolutions that can be played, and we would like to prevent the adaptive stream from selecting a stream that cannot be played on his device. Can y

[2022-02-12 13:22] tirumala007 opened #9972 "Decrypt and play .Exo files using key"
I have downloaded a course on udemy. Those are .exo files. And there is a  .uid file. Is it possible to decrypt those files with exoplayer ?

[2022-02-12 17:47] ojw28 commented on #9972
Generally speaking, the app that performs the download is the app that knows how to either export or play the content. If the Udemy app doesn't have export functionality, presumably that means they intend for you to play the downloaded content within their app.

[2022-02-12 17:47] #9972 closed, assigned to ojw28

[2022-02-12 17:48] ojw28 commented on #9968
I think Widevine are really the right people to help with this. @rrfrias - Could you take a look?

[2022-02-12 17:50] ojw28 commented on #9949
There's no need to file duplicate issues across the `media3` and `ExoPlayer` issue trackers. I'll close this as a duplicate of https://github.com/androidx/media/issues/37, and we'll address your question there.

[2022-02-12 17:50] #9949 closed, assigned to ojw28

[2022-02-12 17:52] #9937 closed, assigned to ojw28

[2022-02-12 18:00] ojw28 commented on #9955
I think you're creating the source correctly, except that generally you'd expect each subtitle to differ somehow other than just the `Uri`. For example, are all of the subtitles really in English? If not you should be specifying a different language when you create each `MediaItem.Subtitle`. Also, normally only one of the subtitles will use `C.SELECTION_FLAG_DEFAULT`, since this flag is indicating

[2022-02-12 18:32] ojw28 commented on #9969
The issue occurs because the manifest contains incorrect event presentation timestamps. For example, the first period in your manifest contains this:

[code]

As per the DASH specification `Event` `@presentationTime` values are relative to the start of their containing period. This means the event occurs at `295958438769600/180000 = 1644213548s` after the start of the period, however the period is

[2022-02-12 18:34] ojw28 commented on #9971
It's working as intended that the next button is not clickable when using `REPEAT_MODE_ONE` and positioned on the last video in the timeline. You will likely need to implement your own UI components instead if you want different behavior (you're obviously able to fork the ones provided by the ExoPlayer UI module as a starting point).

[2022-02-12 18:34] #9971 closed, assigned to ojw28

[2022-02-12 18:49] ojw28 commented on #9971
Actually, if you were to use ExoPlayer 2.16 or newer, you'd be able to achieve this using `ForwardingPlayer`:

[code]

[2022-02-12 18:51] wahdatjan commented on #9971
@ojw28 I cant move to latest version instantly . I use an interface to listen to the click on last video and make REPEAT_MODE_ALL

[2022-02-12 18:54] ojw28 commented on #9962
I don't think this is the same as #8696 (or the audio equivalent of it). #8696 is related to switching between secure and non-secure video decoders. There's no such thing as a secure audio decoder as of today, and so switching between secure and non-secure audio decoders isn't something that ever happens.

It feels more likely to me that `OMX.Berlin.audio_decoder.ac3` is just a buggy decoder imple

[2022-02-12 18:54] #9962 closed, assigned to ojw28

[2022-02-12 19:02] ojw28 commented on #9966
It seems relatively likely to me that a 5 year old phone just isn't powerful enough to play 4K 60FPS HEVC content, and also apply custom GL rendering steps to it at the same time. Have you tried using lower resolution content?

[2022-02-12 19:12] ojw28 commented on #9946
The HLS specification defines a way for the content to specify a desired start time:
[code]
If a service providing the HLS playlists wished to support it, they would be able to parse a query parameter such as `t=3600` in the URL and use it to insert the correct `EXT-X-START` tag into the returned playlists. ExoPlayer would then start from the specified time.

I think what you're saying is that `t=

[2022-02-12 19:14] smkhurramkhan commented on #9955
yes the subtitles are of different language i.e Arabic and English but the thing is i can only parse one uri of subtitle before preparing the player. all i need to know is how to load list of subtitles  and than prepare media player than i can change them dynamically without preparing the media player again.

[2022-02-12 19:18] ojw28 commented on #9955
You need all of the subtitle URIs available in advance to build the `MediaItem.Subtitle` list. If you don't have the list of URIs in advance then this is a duplicate of https://github.com/google/ExoPlayer/issues/1649, which is a feature request (i.e., it's not yet supported).

[2022-02-12 19:23] smkhurramkhan commented on #9955
No i have list of subtitles before preparing the media player. All i want to do is load that list of subtitles before preparing the player and than i want to change the subtitles on button click. i have two button in the  app one for english and one for arabic when i click on arabic it should show arabic subtitles and when click on english should show english subtitles. i want to load both subtitl

[2022-02-12 19:33] ojw28 commented on #9955
I think I've already answered the question.

1. Pass a list of `MediaItem.Subtitle` elements to `setSubtitles` when building the `MediaItem`, rather than just a single subtitle. I'd expect each of the `Subtitle` objects to have a different `Uri` and a different language, and at most one of them should use `C.SELECTION_FLAG_DEFAULT`.
2. Use ExoPlayer's track selection APIs to switch between them du

[2022-02-12 19:41] smkhurramkhan commented on #9955
val subtitle = subTiltesList?.let {
            listOf(
                MediaItem.Subtitle(
                    Uri.parse(it[i]),
                    MimeTypes.TEXT_VTT,  // The correct MIME type.
                    "en",
                    C.SELECTION_FLAG_DEFAULT
                ) )
        }
    val mediaItem = mediaItemBuilder
            .setSubtitles(subtitle)
            .build()

see thi

[2022-02-12 19:44] smkhurramkhan commented on #9955
can you provide me a sample code to load subtitles list that will be really helpful

[2022-02-12 19:46] ojw28 commented on #9955
`MediaItem.Builder.setSubtitles` takes a list, as per our documentation here:

https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/MediaItem.Builder.html#setSubtitles(java.util.List)

and the actual source code here:

https://github.com/google/ExoPlayer/blob/r2.16.0/library/common/src/main/java/com/google/android/exoplayer2/MediaItem.java#L369

If you need help on creating a list in

[2022-02-12 19:46] #9955 closed, assigned to ojw28

[2022-02-12 19:55] ojw28 commented on #9957
To clarify, is this device specific. Does it reproduce only on H96 Pro 4K and one other device you have? Do you have devices on which the issue does not reproduce? I was unable to reproduce the problem locally on a couple of devices.

[2022-02-12 20:20] smkhurramkhan commented on #9955
Thanks that's what i needed

[2022-02-13 01:26] setmind commented on #4571
I am experiencing a similar problem with Chromecast with Google TV which uses Amlogic S905D3. I need to play a live TS stream with a sub-second latency, and trying to achieve that by regulating the average value of getTotalBufferedDuration() to 300 ms slowly adjusting the playback speed.  This works fine with Qualcomm and Mediatek SOCs but not with Amlogic which keeps switching between BUFFERING a

[2022-02-13 12:50] Imphzlse opened #9973 "Expoplayer issue resulting in bugged out Anime app"
This bug only affects my Android tablet running android 7.0 it is also a Samsung and experiences this issue in saikous player which is gotten from exoplayer. The bug is that whenever I try to adjust my tablets quality to 1080l even tho the screen cap is 720p it loads up a black screen that loads infinitely. This bug is very frustrating because it literally won't let me play 1080p on the device. Th

[2022-02-13 13:33] sergju commented on #9957
Yes, I reproduced on other device - hisilicon platform, but also android 7
It wasn't reproduce on other device with android 9

[2022-02-13 17:32] kosmich87 commented on #9916
I clone repo and play with FlvExtractor.  In readFlvHeader method hasVideo always value is false for live stream, i change it to true and video start playing.
headerBuffer for live stream have bytes: [70,76,86,1,0,0,0,0,9] - hasVideo = false
headerBuffer for flv files with fix length bytes: [70,76,86,1,1,0,0,0,9] - hasVideo = true

[2022-02-13 22:09] jonfabris opened #9974 "Sound plays but no video unless you drag the scrub bar"
Sound plays normally.
Video does not show but if you drag the scrubber to any part of the video it will draw the one frame you dragged to but video will freeze there (sound continues to play normally)
I tried streaming several different videos, same thing.
This happens on two different emulators I tried.

`        player = ExoPlayer.Builder(this).build()
        // Bind the player to the view.

[2022-02-13 22:20] jonfabris commented on #9974
Tried on motorola moto G6 play device and it works fine.

[2022-02-13 22:39] rrfrias commented on #9968
An issue with the provisioning service caused it to reject provisioning requests for some system IDs on that date for about an hour and a half. We have taken steps to better handle failures so that they do not affect classes of devices.

Provisioning failures with system IDs 10335, 8542, 8968 are unrelated. Can you please reach out to Widevine support for more information.

Let us know if you are

[2022-02-14 05:18] dino-saurabh commented on #9968
Thank you for digging in this @rrfrias

Yes, we will reach out to the widevine support for this. :+1:

No, we are not seeing any spikes in the system-id 11190 now, and overall the spike of these errors has come down but still, there are users facing this error which was almost 0 before Feb 5th.

Sure here is one such request which failed with response code 400
[code]

[2022-02-14 07:53] ziad-halabi9 commented on #9960
Thank you @kim-vde for your response. I understand now and I am glad that more work has been done on the Transformer and looking forward to the 2.17 version.

My use case here is that I have a player with some `AudioProcessors` that the user can control. I want a way to output the song along with those changes to a file. I modified the Transformer to include the `AudioProcessors` and it worked out

[2022-02-14 10:56] claincly commented on #9931
Yes there's a hack that you can use to use UDP, but it's not guaranteed to work. Whether it works depends on your specific network setup.

Please take a look at https://github.com/google/ExoPlayer/issues/9151, where the hack is explained in more detail.

[2022-02-14 11:20] kim-vde commented on #9960
Note that we plan to integrate the Transformer with AudioProcessors as well so what you want to do should become much easier in the future!

If your media file contains video frames and these video frames are not encoded in order, muxing will fail because out-of-order frames are not supported by the [MediaMuxer](https://developer.android.com/reference/android/media/MediaMuxer). We are planning to

[2022-02-14 12:45] petersamokhin commented on #9953
@ojw28 thanks for your reply. I see that we can retrieve this info asynchronously but we need then to have a reference to the player, just having the track selector won't be enough.
Maybe it will make sense to treat the predefined selection based on the preferred languages as the selection override (which seems logical) as the track selector seems to be the entity responsible for the tracks select

[2022-02-14 12:45] #9953 closed, assigned to ojw28

[2022-02-14 13:53] #9329 closed, assigned to christosts

[2022-02-14 14:01] tonihei commented on #9946
Instead of `seekTo`, you may prefer to set `MediaItem.LiveConfiguration.targetOffsetMs` to 3600, which instructs the player to play at a time offset of 3600ms to the live edge.

Aside, not sure if relevant: We also have the open feature request #9122 to seek to an absolute time (e.g., start of program in live stream)

Worth pointing out that anchor timestamps are part of the DASH standard and othe

[2022-02-14 14:36] lpv-1902 opened #9975 "This particular stream does not play"
I keep getting an error on this particular stream but it works on browsers with HLS M3u8 extensions and on Safari on Mac.

Stream: https://d1pdqnzctoj5f8.cloudfront.net/clients_live/tv3/vr-hd1/playlist.m3u8

[code]

[2022-02-14 15:00] giladgotman commented on #8594
I am having the same issue, gapless is not working. there is a short gap between tracks.
Tested on :
- Samsung s10 , android 11
- OnePlus 5, android 10

Is there any update on this?

Did anyone find a workaround?

[2022-02-14 16:39] ojw28 commented on #9953
The story with ExoPlayer's track selection APIs has been a little confusing, but the direction of travel is that you should be able to query available tracks and select the ones you want via the `Player` API, unless you have some particularly unusual/niche use case. The `TrackSelector` is intended to be an internal component used by the player (similar to `Renderer` instances, which you'd not gene

[2022-02-14 16:57] ridanasif commented on #6265
Any updates on this issue?

[2022-02-14 17:41] christosts commented on #9877
Sorry for the late response. In the bugreport logs, there is an error raised by the device's decoder `MS_OMX_H264DEC`, which is propagated to by platform to the player

[code]

I'm afraid I cannot offer better help, I did not find anything specific to this error. Please try reaching out to the device manufacturer.

[2022-02-14 17:41] #9877 closed, assigned to christosts

[2022-02-15 02:04] #9869 closed, assigned to marcbaechinger

[2022-02-15 07:37] nchungdev opened #9976 "Cache content is sometimes wrong"
I've been using ExoPlayer to play and pre-caching audio, I got an issue (rarely): play song A, the first part is from another song, the second part is from song A (sometimes, all content is from another song). I only got this error a few times and can't reproduce it.
My flow pre-caching:
- Play a song playlist, while the song was playing (about to mid position) I started another thread to preload

[2022-02-15 10:25] lars18th opened #9977 "Question: DTV realtime mode operation"
Hi,

This question is because I'm not sure if the Exoplayer has the correct behaviour with _realtime_ streams from Digital TV tuner sources.

First I explain the problem:

- When playing sources from DTV sources, the MPEG-TS bitstram _may_ have errors. This is because the transport medium used to provide the signal. And unlike with network sources, some TS packets may be missing or may have some e

[2022-02-15 12:11] icbaker commented on #9973
I'm afraid we can't provide direct support to users of apps that incorporate ExoPlayer. You should report your issue to the app developer, and if they believe it's a problem with our library they should report the issue to us, with all the information requested in the [issue template](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md) that we need to understand and

[2022-02-15 12:11] #9973 closed, assigned to icbaker

[2022-02-15 12:14] icbaker commented on #9974
Please provide precise information about what emulator images you were using.

Does this issue reproduce in the [demo app](https://exoplayer.dev/demo-application.html)? If so, please provide media we can use to reproduce the issue.

[2022-02-15 12:23] icbaker commented on #9975
The provided link works fine for me in the [demo app](https://exoplayer.dev/demo-application.html) at 2.16.1 using `CronetDataSource` (the default), `OkHttpDataSource` and `DefaultHttpDataSource` (I edited [the source](https://github.com/google/ExoPlayer/blob/r2.16.1/demos/main/src/main/java/com/google/android/exoplayer2/demo/DemoUtil.java#L94) to use these other two).

From the stack trace, is it

[2022-02-15 12:25] icbaker commented on #9976
There isn't enough information here to reproduce and understand your problem. Please provide a [minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-example) that demonstrates the problem in a way that we can build locally.

This could be an Android Studio project on GitHub, or zipped up and sent to dev.exoplayer@gmail.com using a subject in the format "Issue #1234", w

[2022-02-15 15:57] NikSatyr opened #9978 "Change metadata for a MediaItem during playback"
I'm having a hard time figuring out how to supply custom metadata for the ExoPlayer (or maybe it's better to say side-load). We support some sort of radio functionality, which is delivered via `ProgressiveMediaSource`. The problem is that the radio stream may contain malformed metadata due to the human factor (e.g. incorrect title, missing artwork). However, we have a dedicated "now playing" endpo

[2022-02-15 16:17] GlebPBanuba commented on #9966
Our custom player based on ffmpeg + Media Codec API does not have such issue on Pixel 2 XL.

[2022-02-15 17:36] icbaker commented on #9978
I believe [`Player#setPlaylistMetadata(MediaMetadata)`](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/Player.html#setPlaylistMetadata(com.google.android.exoplayer2.MediaMetadata)) should work for this use-case. Can you give that a try?

If that doesn't work, please provide a [minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-example) that demonst

[2022-02-15 17:37] icbaker commented on #9906
Closing due to inactivity.

[2022-02-15 17:37] #9906 closed, assigned to icbaker

[2022-02-15 20:31] schnaps1981 opened #9979 "NPE when download manifest with DashUtil.loadManifest"
Hi Team!
i want to download offline license key, ant then save it to local database.
i created such helper-class

[code]

after start application, first call of licenseDownloader.downloadLicense(manifestUrl, licenseUrl) ends success, but second call throws NPE with **message java.lang.NullPointerException: wrapped.getHeaderField(key) must not be null**

[code]

Exception thrown in the line **DashU

[2022-02-15 20:33] zozo11299 opened #9980 "Video caching not working as intended?"
Hello team so this is a semi question semi report for the feature video caching

I was using exoplayer to watch a 300 mb online video, I purposely paused the video for around 10 minutes so it can cache the video, I have the cache limit to 500 mb so it was clearly enough for all sorts of caching within the video, problem is after I came back 10 minutes, only around half a minute of a 23 minute vide

[2022-02-15 21:01] NikSatyr commented on #9978
yep, I've already tried `Player.setPlaylistMetadata()` and it did not work. As far as I can see in the ExoPlayer source code, it does not actually affect anything important.

you can find a reproducible example here: https://github.com/NikSatyr/media2-radio. please see `RadioMetadataUpdater` class as it's responsible for fetching the radio metadata. I've grabbed the BBC radio stream URL as it does

[2022-02-16 01:40] drayan85 commented on #9894
Hi @christosts,

Thanks for the async queuing guidelines and It help us to fix the lagging/underruns issue.

One more question related to this, From the following Medium article:
[Improving ExoPlayer rendering performance](https://medium.com/google-exoplayer/improved-rendering-performance-operating-mediacodec-in-asynchronous-mode-and-asynchronous-buffer-3026207850b2)

I can see a concern regarding

[2022-02-16 09:42] nchungdev commented on #9976
I'm so sorry, this issue was reported from the user, it just occurs randomly, I can't give more information, so will close this issue. Tks for the support.

[2022-02-16 09:42] #9976 closed, assigned to icbaker

[2022-02-16 10:37] christosts commented on #9894
Since the blog post was written, we've added [a workaround](https://github.com/google/ExoPlayer/blob/r2.16.1/library/core/src/main/java/com/google/android/exoplayer2/mediacodec/AsynchronousMediaCodecBufferEnqueuer.java#L234-L238) and we have not observed the issue of garbled video again. Theoretically, the workaround is limiting the performance improvements (you could get even smoother video), but