[2017-08-06 15:22] ojw28 commented on #2648
Closing because this is not an ExoPlayer issue. From @jefftinker's response above the SoC vendor is providing Motorola with a fix.

[2017-08-06 15:22] #2648 closed, assigned to wvpaf

[2017-08-06 15:23] ojw28 commented on #2648
@ram992 - Please file the Le-Max issue as a separate issue, with a full bug report and detailed information included as requested in the issue template.

[2017-08-06 17:27] brAzzi64 commented on #3142
I found a workaround that doesn't require re-compiling, but is definitely a bit hacky.

I pass my own MyAudioProcessor instance (that does pitch shifting & time stretching) when I construct the MediaCodecAudioRenderer. I make the setPitch/setSpeed calls to that object myself when I want to change the parameters, but I also have the draining logic kick-in by calling MediaCodecAudioRenderer::setPlay

[2017-08-07 00:45] eneim commented on #867
Thank @ArtworkAD for mentioning my library :D. FYI @Gericop I have been struggling a long time with the same idea with you. I finally end up with the belief that ExoPlayer instance will not consume your CPU and much of your network as long as you don't ask it to (= calling player.setPlayWhenReady(true)). It may start fetching some meta data at preparing, but it should be fine with just that.

Havi

[2017-08-07 02:16] uyjulius commented on #2583
Hi ojw28,

We didn't check further with them. We simply fell back to native on phones which have shown evidences of not being able to support ExoPlayer.

[2017-08-07 02:22] uyjulius commented on #2583
Just a follow up,

Sony Bravia updated to Android 7.0.0 have started exhibiting the same behavior so we disabled DASH playback on them as well. We haven't checked if 2.x releases work.

[2017-08-07 05:20] ram992 opened #3143 "Failed to get provision request: DRM vendor-defined error: -2990"
Getting this exception : **Failed to get provision request: DRM vendor-defined error: -2990** when any DRM enabled video is tried to play on a **_Le-Max Le X507 device_**.

I am attaching a LogCat Snippet here. If needed I will send the full bug report.

  android.media.MediaDrm$MediaDrmStateException: Failed to get provision request: DRM vendor-defined error: -2990

[2017-08-07 05:31] ram992 commented on #3143
Also @ojw28,  is there any way that I can check whether a device has a secure decoder, before I pass it a Modular DRM enabled url, cause I was able to reproduce this issue with demoPlayer if I select any option from "Widevine DASH policy tests(GTS)" and select any content which says secure videopath required.

I got this Idea, when I tried to run NetFlix app on the same device, and it throws me an

[2017-08-07 06:01] mansoorahmed084 commented on #3122
Okay let me explain the strategy again and then you can comment whether that is a good idea or not.

I'm using ExoPlayer in broadcast usecase to play AV streams. In current implementation, audio is free run and video follows audio using PositionUs but this is not suitable for broadcast. We want both audio & video to follow a common PCR clock [you can consider a system clock as reference for time b

[2017-08-07 07:30] ram992 commented on #3143
Also I just got my Hands on a **_Huawei Honor CHE1-L04_**. I face a different issue with it.
The problem is Player is not requesting for a License but returning this:
[Huawei Honor CHE1-L04_Error.txt](https://github.com/google/ExoPlayer/files/1204132/Huawei.Honor.CHE1-L04_Error.txt).

I checked it with charles proxy and even asked our API guys to check the logs. I have compared it with a Lenovo de

[2017-08-07 07:53] andrewlewis commented on #3142
This is on our roadmap.

[2017-08-07 08:18] michalliu opened #3144 "Choreographer.getInstance may throw NullPointerException"
We've got some crash reports indicate that `Choreographer.getInstance()` may throw a NullPointerException inside framework. The stack as follows:

I attempted to fix the problem by the following patch https://github.com/michalliu/ExoPlayer/commit/b11f7fa9d87f16eb8abff6f1e53b496d0fa2dc87

Kindly please review the patch, Thanks

[2017-08-07 08:36] ojw28 commented on #3144
Please provide details of the devices on which you're seeing this, and in particular the build fingerprint (or similar) identifying what version of Android is being run on the device.

[2017-08-07 08:42] ojw28 commented on #2583
This is pretty strange. There must be _something_ different about the affected streams, given major providers (YouTube, Play Movies, Facebook, Netflix etc) appear to be unaffected. To the best of my knowledge in any case; I'm pretty sure we'd have heard from these providers if there were problems on the S7. Have you managed to reproduce the issue locally yet? If so, could you please provide a full

[2017-08-07 09:15] uyjulius commented on #2583
No unfortunately. In Singapore where I live, the S7 Android 7.0 variant works just fine and the Sony Bravia Android 7.0 update is not yet available. In our logs, only the US variants of the S7 are running into this issue. I believe these companies should have a mechanism to fall back to MP4 if DASH streams don't work.

Also, the test comes from r1.5 version of ExoPlayer. We haven't been able to te

[2017-08-07 09:20] michalliu commented on #3144
We found the crash on various devices and android versions as follows
![android-version](https://user-images.githubusercontent.com/1010851/29020224-de708830-7b93-11e7-91dc-a279b7c549a1.png)
![models](https://user-images.githubusercontent.com/1010851/29020235-e765c2c0-7b93-11e7-9ba6-11fffbaa3882.png)

The ROMS list:
1. `vivo/FUNTOUCH/Funtouch OS_3.0 Lite`
2. `OnePlus/OnePlus2/OnePlus2:5.1.1/LMY47V/

[2017-08-07 09:34] michalliu commented on #3144
This is crash stack happens on android 5.1.1

ROM is `OnePlus/OnePlus2/OnePlus2:5.1.1/LMY47V/1436865039:user/release-keys/fail`
Which matches the code http://androidxref.com/5.1.1_r6/xref/frameworks/base/core/java/android/view/Choreographer.java

`DisplayManagerGlobal.getInstance().getDisplayInfo` may returns null  under some circumstance indeed

http://androidxref.com/5.1.1_r6/xref/frameworks/bas

[2017-08-07 09:40] michalliu commented on #3144
The crash rate is very low, It's better to handle the problem though.

[2017-08-07 11:49] dhanapal20 commented on #3139
Hi
Thank you very much for your analysis feedback and timely response

[2017-08-07 11:49] #3139 closed, assigned to nobody

[2017-08-07 12:14] skyshine999 opened #3145 "How to send custom header in exoplayer while playing mpd widevine"
I wanted to send headers to server for authentication purpose,i read previous issues for setting custom header i tried with httpdatasource adding headers to it but from server side they are not able to receive is there any other process to send custom headers

[2017-08-07 12:35] ojw28 commented on #3145
Without describing what you've tried in any detail, it's not possible for us to offer any guidance as to what you might be doing wrong.

[2017-08-07 12:38] ojw28 commented on #3144
It's likely that the second issue is handled by https://github.com/google/ExoPlayer/commit/dbfbcd63125fbb34bfc98ac4786393617c3c16e1.

[2017-08-07 12:40] ojw28 commented on #3144
Actually, it's likely that this issue is fully handled already by https://github.com/google/ExoPlayer/commit/dbfbcd63125fbb34bfc98ac4786393617c3c16e1. Please report this again if you still observe the issue after the 2.5.0 release.

[2017-08-07 12:40] #3144 closed, assigned to nobody

[2017-08-07 12:44] #1157 closed

[2017-08-07 12:52] dbedev commented on #3130
Thank you for the information, will look what we can implement in our app part by adding some logic to the listener.

"Control the content" still has many intermediate steps in our case so not sure if it does not fall in the side load category. In my experience so far a corrupt/ miss formed stream somehow seem to slip through eventually.  So would not consider it to be completely avoidable.

In th

[2017-08-07 12:53] ojw28 commented on #3122
If you've made audio follow PCR somehow, then the audio renderer should be reporting the position correctly, and video should be following that correct position. You shouldn't need to make any changes to the video renderer. If the audio renderer is mis-reporting its position then you should fix that, after which you'd have `PCR <-- [follows] -- Audio <-- [follows] -- Video`.

[2017-08-07 13:00] ojw28 commented on #3130
It's not particularly feasible for the client to detect whether a stream is corrupt (and how) in the general case. It would be quite expensive and involve adding loads of sanity checks throughout the code base. This isn't a good trade-off. This is particularly true if the developer controls the serving-side. Running these kind of checks all of the time on every client just in case someone misconfi

[2017-08-07 13:00] #3130 closed, assigned to nobody

[2017-08-07 13:30] dbedev commented on #3040
Just my 2 cents:

A -30 .. 11ms window for  frame dropping is rather a tight for 24/25fps content as every drop would cause a 41.6/40 ms jump in time by dropping the frame.  Not sure though if increasing this would have noticeable negative effect on things like av sync.

Besides that another thing we have observed with this control loop is that some media codec implementations do use quite some cp

[2017-08-07 13:39] ojw28 commented on #3040
- Yeah, it might be a little tight. I think it would be fine to increase it to 40ms to match NuPlayer.
- Having a minimum service level (i.e. not dropping everything) is tracked by  https://github.com/google/ExoPlayer/issues/2777 (phrased there specifically in the context of variable speed playback, where the issue is much more likely to occur).
- We still use `getOutputBuffers()` because it's sim

[2017-08-07 13:53] andrewlewis commented on #3137
See #2159.

[2017-08-07 13:57] michalliu commented on #3144
emm, not exactly same issue. The crash is at different location,  the fix https://github.com/google/ExoPlayer/commit/dbfbcd63125fbb34bfc98ac4786393617c3c16e1 resolves the problem partially. I will send another PR for this issue

[2017-08-07 14:03] ojw28 commented on #3144
I know it's in a different location, but if `getDefaultDisplayRefreshRate` returns 0 then the code that you're seeing crash wont ever execute (and I suspect that `getDefaultDisplayRefreshRate` will always return 0 in the cases where the crash you're seeing occurs).

[2017-08-07 15:45] mansoorahmed084 commented on #3122
yea after making audio follow PCR, it reports correct positionUs. I have tested on many streams and current implementation is working fine (where video is using PositionUs from audio track). I would like to know whether it is even possible to make video also independent (not following audio but PCR).

I get stuck here, when i try to remove dependency of video on positionUs (audio), it goes out of

[2017-08-07 16:00] ojw28 commented on #3040
@zhanghuicuc - Could you clarify the measured frame drops when, all other things kept equal and using the latest `dev-v2`, loader thread priority is set to (a) what it is now, (b) `THREAD_PRIORITY_LESS_FAVORABLE`, (c) `THREAD_PRIORITY_BACKGROUND`, (d) `THREAD_PRIORITY_LOWEST`. I'm having a somewhat hard time figuring it out from the thread above. It's unclear which values are directly comparable.

[2017-08-07 16:03] ojw28 commented on #3103
My guess is this is similar (or the same as) https://github.com/google/ExoPlayer/issues/816, despite the fact that slightly different builds are involved. In which case there's not a lot we can do about it, unfortunately. The device OEM/carrier would need to provide a platform software update to resolve the issue.

[2017-08-07 16:30] ojw28 commented on #3122
If audio is following PCR, and video is following audio, then video is already following PCR. What is the benefit of trying to have video follow PCR directly? You could probably inject a custom Renderer whose sole purpose is to act as a clock and have both audio and video renderers follow that (you'd need to make the audio renderer no longer implement MediaClock). It's unclear what the benefit is

[2017-08-07 16:30] #3122 closed, assigned to nobody

[2017-08-07 18:47] mansoorahmed084 commented on #3122
Thanks for the help. Much appreciate that.

[2017-08-07 18:53] baq commented on #2666
Awesome, thank you!  We got ours working a long way back through other forums and trial and error, but having a formal guide will make it much easier for future developers.

[2017-08-08 01:49] zhanghuicuc commented on #3040
(a) what it is now : 204 dropped frames per hour
(b) THREAD_PRIORITY_LESS_FAVORABLE : 225 dropped frames per hour
(c) THREAD_PRIORITY_BACKGROUND : 175 dropped frames per hour
(d) THREAD_PRIORITY_LOWEST : 146 dropped frames per hour

For case (a), (c) and (d), the same video played 3 times. For case (b), the same video played 2 times. So there may be some deviation here.

[2017-08-08 04:27] xdestiny110 opened #3148 "Question: Playing video with partial cache?"
I have cache a part of video from plain http by using simplecache. When I try to play cache video without internet connection it says "source error".
My question is that does exoplayer support that playing cache video without internet connection?
If not, would you please give me some advices?

[2017-08-08 08:57] andrewlewis commented on #2416
I don't think we found a viable workaround. No response yet so I've pinged the internal bug 35233870.

[2017-08-08 08:58] AquilesCanta opened #3149 "HLS - Implement playlist-only preparation"
This issue tracks the implementation of playlist only preparation. Probably a toggable mode to avoid any segment downloads while preparing the media source.

[2017-08-08 09:27] bluesneed opened #3150 "Offline License LicenseDurationRemaining is 0 in Samsung GT-N7105"
### Issue description

Offline License acquired success
but return LicenseDurationRemaining is 0 and  PlaybackDurationRemaining is 00
In Samsung GT-N7105, Android API 19,
Which causing the download playback failed (KeysExpiredException)
Same device if Streaming, it works.

Kindly see the detail of license information.
LicenseType>>>>>Offline
PersistAllowed>>>>>True
RenewalServerUrl>>>>>
LicenseDur

[2017-08-08 10:19] hishamMuneer commented on #3138
@ojw28 As per the above conversation, can I deduce that you made the Clear Key working? If yes, please add the sample in the exolist.json or provide the steps you did in the chat below.

[2017-08-08 14:30] ojw28 commented on #3148
You would expect playback to fail upon reaching a non-cached part of the video. If playback is failing at the start then it's possible the media is structured in a way that requires the player to read the end of the file before it can start playback (this is relatively common for Matroska/WebM streams).

[2017-08-08 14:44] alex-schwartzman commented on #3103
Is it possible to add "surface compatibility check" into maximum-bitrate estimation algorithm?

[2017-08-08 17:13] fougere-mike opened #3152 "Allow extending TimestampAdjuster"
I am implementing exoplayer components to allow playback of mpeg-ts video recorded from over the air broadcasts (including the ability to seek).

Since these broadcasts are continuous, the timestamps can grow very large. When a 'recording' is made by saving a window of the broadcast to disk, the first timestamp in the recorded video will often be many days, or weeks.

This appears to break the int

[2017-08-08 19:01] Novanic opened #3154 "TS with h264 (MPEG-4 AVC) isn't starting"
Hi,

I try to stream from my Panasonic DMR BST-950 (I think all hard disk recorder models of Panasonic are affected). ExoPlayer throws an com.google.android.exoplayer2.source.UnrecognizedInputFormatException when I try to use the demo with the URL of the TS. The URL is for example "http://192.168.178.57:60001/0003-0001-0421-EF15-143B_BDY". I thought the codec is already supported by ExoPlayer. I h

[2017-08-08 21:04] stellabei opened #3155 "[Request] Support crop mode in AspectRatioFrameLayout (solution pull request)"
### Issue description
How to make movie playing in full screen on devices that has different aspect ratio than the encrypted video content?
Real life example: use a Samsung S8 or LG G6 (aspect ratio 18:9) to play a movie (usually 16:9).

### Reproduction steps
Try to play a encrypted movie on Samsung S8 or LG G6. You will see vertical black bars  on the sides. Or playing any movie that has differe

[2017-08-08 21:41] needz opened #3156 "App crashes (SIGABRT) on fast RTMP stream restart"
### Issue description
App crashes if RTMP streams are changed quickly (release player/initialize player). If I make a delay before initializing a player with RTMP stream (1000ms) it doesn't crash. It has something to do with improper thread handling of RTMP extension. It doesn't happen if non-RTMP streams are used. It also doesn't happen if you switch between non-RTMP and RTMP streams.

Please sug

[2017-08-08 21:45] ojw28 commented on #3156
You should report this to the https://github.com/ant-media/LibRtmp-Client-for-Android/ project, since that's where the crash is occurring.

[2017-08-08 21:48] needz commented on #3156
@ojw28, maybe you could suggest a way to introduce a delay inside ExoPlayer's extractor if rtmp:// source is detected? I don't think this problem will be solved quickly by LibRtmp client devs.

[2017-08-09 02:36] xdestiny110 commented on #3148
@ojw28 Thanks to your answer! I move meta file header to head in mp4 file by using [faststart](https://github.com/FFmpeg/FFmpeg/blob/master/tools/qt-faststart.c) . Now I can play video without internet.

[2017-08-09 02:36] #3148 closed, assigned to nobody

[2017-08-09 07:26] maven-y opened #3158 "Could not play .m3u8 media"
Issue description
-----------------------
the issue is best described this way, when I am using my app for playing .m3u8 files

Reproduction steps
-----------------------
Start the player and try to play the video.

Link to test content
-----------------------
http://node1.twisted-symmetry.space:2000/HLS/capribb/capribb.m3u8

Version of ExoPlayer being used
-----------------------
im using exoplay

[2017-08-09 07:54] andrewlewis commented on #3154
It would be useful to have a sample of the stream. Please could you attach or email it to dev.exoplayer@gmail.com? If that's not possible, you'd need to step through `TsExtractor.sniff` and find out why this stream is being rejected.

[2017-08-09 09:11] AquilesCanta commented on #3158
I was testing this but the playlist suddenly became unavailable (giving me 404). Can you fix it?

[2017-08-09 09:51] maven-y commented on #3158
@AquilesCanta  I have checked this URL with external player like VLC & that is working fine. Also tested on device webview it plays video there  as well.

[2017-08-09 10:13] AquilesCanta commented on #3158
So the issue here is that the TS declares an ADTS PES but does not include any packets for said stream, so the player never ends up preparing. The stream will play if you modify `HlsMediaChunk` so that it enables  `DefaultTsPayloadReaderFactory.FLAG_IGNORE_AAC_STREAM` when constructing the TsExtractor.

The correct solution is to remove the ADTS entry from the stream's PMT.
There is also a pending

[2017-08-09 10:13] #3158 closed, assigned to nobody

[2017-08-09 16:07] ghost opened #3159 "How to stream encrypted file using exoplayer (sample)?"
I am trying to stream encrypted audio file (.mp3),but I do not know how to achieve this. I am requesting a sample, or some form of direction to do that?. There is an issue here https://github.com/google/ExoPlayer/issues/2467 but it is discussing play local encrypted file. Thanks for help.

[2017-08-09 19:13] vishnuganta22 opened #3160 "Last Frame of first video is overlapping on second video"
[***]() ISSUES THAT IGNORE THIS TEMPLATE WILL BE CLOSED WITHOUT INVESTIGATION ***

Before filing an issue:
-----------------------
- Search existing issues, including issues that are closed.
- Consult our FAQs, supported devices and supported formats pages. These can be
  found at https://google.github.io/ExoPlayer/.
- Rule out issues in your own code. A good way to do this is to try and
  reprodu

[2017-08-09 19:16] vishnuganta22 commented on #3160
please test it on my exoplayer demo application (https://github.com/vishnuganta22/exoPlayerDemo)
while testing using my application please place two video with name's 1.mp4 and 2.mp4 in Download directory

Please let me know if you find any work around this issue

[2017-08-09 19:33] q-litzler commented on #2643
Ahah, I wish I saw this thread before taking 2 full weeks to implement HLS download !

[2017-08-09 19:47] ojw28 commented on #3160
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

If you’re able to provide complete information as requested in the issue template,

[2017-08-09 19:55] bnussey commented on #2643
Would love to see your implementation @q-litzler

[2017-08-09 20:23] q-litzler commented on #2643
@bnussey

There are three kinds of files to consider when downloading HLS:

- The master playlist
- The media playlists
- Binaries

1) Download the master playlist and write its content to a local file.
2) Download the media playlists referenced in the master playlist, write its content to a local file.

Before writing said content into local files, don't forget to replace remote urls by local uri

[2017-08-09 23:40] Ryder68 commented on #3126
@ojw28 Hi.
The above error was not called in <b>onPlayerError(ExoPlaybackException e)</b> function.
How can I know when that error occurred ?
Please!

[2017-08-10 05:27] rohit5ram commented on #3160
@ojw28 @andrewlewis We have faced the same issue. We have a player application which needs to loop a slideshow of videos. The views are dynamically constructed based on the dimension config and then attached. The first video may need to play in a full screen and the second one might play in 500 * 500 square.
For every file playback, a new SimpleExoPlayerView and new Player instances are created. T

[2017-08-10 05:53] vishnuganta22 commented on #3160
@ojw28 and @andrewlewis

### Issue description

While playing multiple videos in SimpleExoplayerView using different dimension configs, the last frame of the first video is overlapping on the second video, But Still, we are able to hear the audio of the second video.

### Reproduction steps

1.Play a video in SimpleExoplayerView [Width: 100% and Height: 100 %] and after the video is completed rele

[2017-08-10 06:07] vishnuganta22 commented on #3160
@ojw28 Can you please reopen the issue?

[2017-08-10 06:36] Novanic commented on #3154
I already tried to force to process the stream by the TsExtractor by overridding the sniff method with just returning true. That "solved" the exception but it still doesn't start, so there seem to be at least one more problem.Therefore it should be more useful to provide an example of the stream. Is it possible to record a TS stream without convertion? Otherwise I have to try to host the original

[2017-08-10 06:57] rustyshelf commented on #3116
Updated to v2.5.1 and confirmed this now works. It's fixed quite a few other shows we've had issues reported with as well. As always, great work :)

[2017-08-10 08:24] andrewlewis commented on #3160
The description is quite hard to follow and we don't really have time to debug your application's code for managing views/players. It sounds like something is getting reused in the second playback (a view or player).

Please could you provide a minimal patch to the ExoPlayer demo app that reproduces the issue?

[2017-08-10 08:29] andrewlewis commented on #3154
Can you just download and attach a portion of the stream? Or the quickest approach may just be for you to set a breakpoint in the sniff method and step through to find out which part of the data is not consistent with what the extractor's expecting.

[2017-08-10 08:53] vishnuganta22 commented on #3160
@andrewlewis Thanks for reopening the issue. I will try to send a patch on your demo app

Here is the clear problem description,

The application needs to play a slideshow of items. The item types are video and a custom designed view template which can have a slideshow within.
This is how it's implemented -
The layout has a dedicated main SimpleExoPlayerView which can play videos.
The template is

[2017-08-10 09:08] rohit5ram commented on #3160
@andrewlewis  @vishnuganta22 Adding this line to resetSimplExoPlayerView() method have solved the issue.

`videoView.getVideoSurfaceView().setVisibility(GONE)`

But at the start of playback the video region flickers in black colour on every transition which is a little noise for the user.

[2017-08-10 10:48] hishamMuneer commented on #3138
@ojw28 any possibility of adding a working sample of Clear Key in exolist.json?

[2017-08-10 10:49] ojw28 commented on #3138
If this issue is still open, that means it's still being worked on. Repeatedly posting comments on the issue will not make us work any faster. Thanks.

[2017-08-10 11:02] hishamMuneer commented on #3138
Apology my friend. You added a commit after my comment, that's why i got confused. I ll try not to be unnecessary disturbance.

[2017-08-10 11:29] ojw28 commented on #3154
Is it possible the content is BDAV rather than regular MPEG-TS (https://github.com/google/ExoPlayer/issues/1488, https://en.wikipedia.org/wiki/.m2ts)?

[2017-08-10 12:32] ojw28 commented on #3037
@mangui - Please give the above change a look and verify that it's sufficient for you. Please close this issue if so. Thanks!

[2017-08-10 13:38] tedKim5178 commented on #3128
Thank you so much for your reply! ExoPlayer is really helpful to study media Player!! Thank you for making this great media player ! Best player ever!

[2017-08-10 13:41] andersonkxiass opened #3162 "Ffmpeg extension support"
I've seen some relations issue about ffmpeg extension support, but no one help me to understanding how to ffmpeg extension work in exoplayer.

I've sent a email to dev.exoplayer@gmail.com

How to use **Ffmpeg** extension?

Does the Flac extension have a `FlacExtractor` as each stand-alone supported format, **ffmpeg** must have an Extractor for each item in the supported list?

[code]
So i need to

[2017-08-10 13:54] #1782 closed, assigned to AquilesCanta

[2017-08-10 17:37] Novanic commented on #3154
I have now sent an example to dev.exoplayer@gmail.com

The buffer array within the sniff method of TsExtractor has these values:
[0] = 25
[1] = -44
[2] = 81
[3] = -77
[4] = 71
[5] = 0
[6] = 30
[7] = 32
[8] = -73
[9] = -128
... = -1

[2017-08-10 21:29] AquilesCanta commented on #3154
I cannot access to the stream right now, but considering there are 4 bytes preceding the first sync byte (71), this is surely a BDAV TS, as @ojw28 points out.

You can confirm this yourself, if you find a byte with value 71 every 192 bytes, starting from the byte at position 4. Comment down here if this is not the case, please, and we will reopen.

This is not currently supported. Track  #1488 for

[2017-08-10 21:29] #3154 closed, assigned to nobody

[2017-08-11 05:33] Novanic commented on #3154
Ok, maybe my example helps to add the support. In the discussion of #1488 it seems that a good example ist missing.

There are some patches in the discussion of #1488. Are these not working?

[2017-08-11 09:10] AquilesCanta commented on #3154
We need a proper pull request to take any patches into consideration. You are more than welcome to make this contribution!

[2017-08-11 11:41] b0g8 opened #3163 "Allow end user to trim media in playlist"
### Issue description
I have a requirement where the user should be able to trim the media in a playlist. I first investigated ClippingMediaSource, but from my understanding, this does not read from source beyond the clipping limits. The user should be able to set trim in/out within full media duration during playback.

Basically I need a ClippingMediaPeriod, where the start / end of playback are

[2017-08-11 13:14] psedoykin opened #3164 "Buffering radio stream"
### Issue description

I use exoplayer for playing radio stream. And I have question related to buffering:
 How to increase it?

I found the following issue (https://github.com/google/ExoPlayer/issues/2438) but increase DEFAULT_MIN_BUFFER_MS and DEFAULT_MAX_BUFFER_MS doesn't help me.

Now I have about 20-30 sec buffering when Internet off. I want to increase it to 3 min.
It is not server issue bec

[2017-08-12 13:17] regatton opened #3165 "Automatically identify any stream type"
I'm making a radio app for Android, and I'm looking into ExoPlayer as an alternative to the standard MediaPlayer because it has some limitations (eg. can't play AAC streams). Basically I have a list of radio URLs, and when the user selects a radio I feed the corresponding URL to ExoPlayer.

Unfortunately it doesn't seem to work on all streams... Some are `.pls` for which I guess I have to extract

[2017-08-13 17:53] brAzzi64 commented on #3142
Thanks for getting back to me. Any hints on the timeline for this?

As an update, with the approach above the sound was just fine but the reported positions where indeed wrong (because of applySpeedup not doing what it was supposed to) so it wasn't a good workaround.

In the end I forked and applied the generalization I mentioned originally, and I'm currently depending on this on my app. Here's th

[2017-08-13 17:58] brAzzi64 commented on #3142
That said, I think that a better way to abstract this would be to just add the getInputByteCount / getOutputByteCount methods to the AudioProcessor interface, and try to apply this position compensation generically, taking into account every AudioProcessor; the implementation would probably not be super straightforward though.

[2017-08-13 19:08] AOrobator opened #3167 "Release played mediasources?"
When using a DynamicConcatenatingMediaSource, should I always remove/release played child MediaSources from the DynamicConcatenatingMediaSource? The reason for removing would be to make sure that I'm conserving memory. I'm working with an application that can effectively add infinite items to the DynamicConcatenatingMediaSource and I'm worried about it consuming too much memory. This is why I'm tr

[2017-08-14 03:03] bluesneed commented on #3150
Hi,
Is there any update, or do you need more information?
Thanks!

[2017-08-14 08:30] ojw28 commented on #3167
There's obviously some overhead, because they are objects in memory, but I don't think there's any special overhead incurred beyond that. They're not going to be holding onto big chunks of memory for buffering media or anything like that.

So you probably wouldn't want thousands and thousands of them. A hundred is probably fine. If you're concerned, why not just measure the overhead yourself and s

[2017-08-14 08:30] #3167 closed, assigned to nobody

[2017-08-14 08:30] ojw28 commented on #3167
Note - I'm pretty sure removing a child from `DyanamicConcatenatingMediaSource` releases it for you. You shouldn't have to release it yourself.

[2017-08-14 09:08] or-dvir commented on #2699
@ojw28 hi. just wondering if this feature has been added, and if so, as of which version and what the names of the new functions are

thanks

[2017-08-14 09:30] AquilesCanta commented on #3165
This is possibly because an `ExtractorMediaSource` is being used instead of an `HlsMediaSource`.

If you don't have control over the media to be played, it will be necessary to sniff at `MediaSource` level. Otherwise the file extension could be checked (like in the demo app).

A preliminary solution could be having a pre-preparation sniff step that will read the first few byes to define the conten

[2017-08-14 09:56] ojw28 commented on #3164
We need more complete information to help with issues like this. For example information about the type of stream you're trying to play (and preferable a link to an example).

[2017-08-14 10:36] or-dvir opened #3168 "failed to resolve "support-core-utils" and "support-annotations" when upgrading to 2.5.X"
hi.
currently i am using version 2.4.4 and everything works fine. however when trying to upgrade to 2.5.0 or 2.5.1 i get the following errors:
Failed to resolve: com.android.support:support-core-utils:25.4.0
Failed to resolve: com.android.support:support-annotations:25.4.0

any ideas?

[2017-08-14 10:41] ojw28 commented on #3168
The support libraries have moved. You need to add the Google maven repository to your project, like [this](https://github.com/google/ExoPlayer/blob/release-v2/build.gradle#L34).

[2017-08-14 10:51] or-dvir commented on #3168
@ojw28 thank you it worked :)

[2017-08-14 15:50] ojw28 commented on #3156
Seems there's a fix in LibRtmp. We need to update the version we depend on once a non-RC version is provided with the fix.

[2017-08-14 18:43] AOrobator commented on #3167
@ojw28 When watching the memory monitor after a song finishes, I always see a large dip in memory usage, maybe a GC? This is without me removing `MediaSource`s from the `DynamicConcatenatingMediaSource`. Looks like memory isn't a concern.

<img width="1379" alt="screen shot 2017-08-14 at 2 37 59 pm" src="https://user-images.githubusercontent.com/4106884/29286009-8032bb2e-80fe-11e7-9dfd-0deef457cb1

[2017-08-14 23:15] regatton commented on #3165
Could this function be embedded into ExoPlayer? Something like `GuessMediaSource` that will try to select the most appropriate function to call?

[2017-08-15 01:57] pheart opened #3171 "xiaomi can not play"
#######
exoplayer can not play in xiaomi device.
-----------------------
08-15 09:53:43.503 13653-14608/com.karaoke.singplus.test E/ACodec: [OMX.MTK.AUDIO.DECODER.AAC] ERROR(0x80001005) \
08-15 09:53:43.504 135-14610/? E/MtkOmxAudioDecBase: Decoder Component Dec Error!
08-15 09:53:43.504 13653-14608/com.karaoke.singplus.test E/MediaCodec: Codec reported an error. (omx error 0x80001005, internalErr

[2017-08-15 08:19] or-dvir opened #3172 "Support setting SimpleExoPlayerView background/shutter color"
**- Search existing issues, including issues that are closed.**
i only found this thread: https://github.com/google/ExoPlayer/issues/2821
but the question there is regarding surface view, and not exoPlayer components.
**- Consult our FAQs, supported devices and supported formats pages.
did not find my answer there

### Issue description
i would like to change the background of SimpleExoPlayerView.

[2017-08-15 09:10] AquilesCanta commented on #3165
Ideally yes, it should be part of ExoPlayer. My suggestion was aimed towards working around this problem.  We will update this issue once we get to it.

[2017-08-15 10:17] ram992 commented on #2643
@erdemguven or @ojw28 Why is the OfflineLicenseHelper class got changed. Previously I was using ExoPlayer v2.2.0, and I just had to pass the httpStream object and the DashManifestUrl that I want to download the license for, now in the latest ExoPlayer v2.5.1 the class is changed and now the method **downloadFile()**( previously in 2.2.0 it was just **download()** ) is asking for DrmInitData.
Where

[2017-08-15 11:04] PavelGP opened #3173 "Can't play encrypted with Widevine DASH stream on Nexus Player"
### Issue description
Encrypted with Widevine DRM Dash stream can't play on Nexus Player. But on Nexus 9, Nexus 6 it plays good.

### Reproduction steps
Just start to play stream. But stream is under VPN. So you can't to reproduce this issue yourself.

### Link to test content
Stream is under VPN. I can provide you manifest.
[manifest.txt](https://github.com/google/ExoPlayer/files/1224828/manifest

[2017-08-15 11:06] ojw28 commented on #3173
Seg fault in liboemcrypto.

[2017-08-15 11:25] PavelGP commented on #3173
And how can I fix it?

[2017-08-15 12:20] erdemguven commented on #2643
@ram992 you can use com.google.android.exoplayer2.source.dash.DashUtil#loadDrmInitData(DataSource dataSource, Period period)
Don't use loadDrmInitData(DataSource dataSource, DashManifest dashManifest) as it's about to be removed.

[2017-08-15 12:49] Teviz commented on #3072
Any updates?
It seems not to be the i/o limit. Because I preload a video into memory and read the stream from memory is not better.

[2017-08-15 12:51] ojw28 commented on #3072
No update; this is not particularly high priority for us to look at, as it is not a widely reported issue. We'll try and get to it at some point.

[2017-08-15 14:19] IbrahimDisouki opened #3174 "QUESTION: Pause video streaming in onPause and resume in onResume without reinitialize the player"
Initialize player method:
[code]
Life cycle callbacks:
[code]

[2017-08-15 17:27] Teviz commented on #3072
Alright, in fact, I have some different opinion because start instantly is a comfortable experience.
We want to improve that, so file cache is an acceptable way, when there are some cache files, the local file prepare time will not be ignored.
Preparing local file is slower than MediaPlayer is perceptible, the phenomenon is easy to reproduce. There must be some optimization for the start time when

[2017-08-16 01:32] linyongsheng commented on #3141
@ojw28

[2017-08-16 05:58] psedoykin commented on #3164
Mp3 stream from Internet (for example http://79.174.68.63:7999/luxury).
I have added file with code related to exoplayer from my project.
[LocalPlayback.java.zip](https://github.com/google/ExoPlayer/files/1227176/LocalPlayback.java.zip)

Please look at function createMediaPlayerIfNeeded. (But it default init for exoplayer)

[2017-08-16 06:07] vishnuganta22 opened #3175 "Video frame lag for 1080p videos after 12 hours of non-stop playback"
### Issue description
We have a 1080p video to be played constantly on device more than 15hours. Initial playback will be fine. After 10 or 12 hours of playback 1080p videos are getting slow or freezing. I am not sure whether it's a slow frame issue or not. But audio playback is fine, we never observed any disturbance with audio in that player state

### Reproduction steps
- Play a video with belo

[2017-08-16 06:19] ram992 commented on #2643
Thanks @erdemguven for the info. If you say that  **loadDrmInitData(DataSource dataSource, DashManifest dashManifest)** this method is to be removed, are you going to make any more releases to v2.5.x or will be a new v2.x.x one, cause I will wait if it is 2.5.x

[2017-08-16 07:41] soadri opened #3176 "Rendering freeze when video quality changes due to bandwidth throttling"
### Issue description
When video quality changes due to bandwidth throttling, video rendering freeze occurs but audio does not

### Reproduction steps
Testing in the 2 android devices, the problem is occurred on both devices

### Link to test content
Attaching mpd file that I used for test below
and test content is a 4K video downloading in YouTube site 'LG Jazz HDR'

### Version of ExoPlayer bein

[2017-08-16 07:55] lazarvgd opened #3177 "skipping 10 sec forward of backward"
First of all I want to say sorry if this is duplicate question, I couldn't find the same or similar question.

Question:
Is there an option in exoplayer that allows skipping 10 seconds forward or backward? This feature is something like on YouTube when you press right or left arrow( J or L keys).

Thanks

[2017-08-16 08:00] ojw28 commented on #3177
`player.seekTo(player.getCurrentPosition() + 10000)` would seek forward 10 seconds (similar to seek backward)?

[2017-08-16 08:02] ojw28 commented on #3174
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

[2017-08-16 08:02] #3174 closed, assigned to nobody

[2017-08-16 08:08] ojw28 commented on #3172
Yes, the shutter is the problem and your suggested approach of relying on exo_shutter will work for now. It is actually a documented id (see [here](https://google.github.io/ExoPlayer/doc/reference/com/google/android/exoplayer2/ui/SimpleExoPlayerView.html)), so it's not quite has hacky as you might think, although I agree it's definitely not ideal.

Question: Are you attempting to change the color

[2017-08-16 08:36] soadri commented on #3176
https://www.youtube.com/watch?v=0YQZGRHWShg&t=20s
https://www.youtube.com/watch?v=I7CycuMpQ3w

I tested more using these videos, the same problem is occurred again that referred in this issue

[2017-08-16 09:15] ojw28 commented on #3141
Wouldn't the proposed change about cause the format to be output repeatedly, over and over again?

Aside: This is very low priority for us. FLV is very much legacy at this point.

[2017-08-16 09:21] ojw28 commented on #3162
The extension provides a `Renderer` only. You can see the classes that it provides in our [Javadoc](http://google.github.io/ExoPlayer/doc/reference/com/google/android/exoplayer2/ext/ffmpeg/package-summary.html). The extension does not provide any extractors.

[2017-08-16 09:22] ojw28 commented on #3162
Let's provide some brief instructions for using the extension.

[2017-08-16 09:29] lazarvgd commented on #3177
Thank you very much sir! :+1:

[2017-08-16 09:29] #3177 closed, assigned to nobody

[2017-08-16 10:32] yqritc commented on #2924
Forcing security level L3 may be also the workaround for this issue.
I have not confirmed with Nexus 5X and 9, but I've checked other 2 devices having the crash when switching content.

@ojw28
I'm not familiar with widevine security levels, so could you please tell me the followings?
1. The issue is fixed because both the clear and protected contents are played by non-secure decoder? (The name of

[2017-08-16 10:40] or-dvir commented on #3172
thanks! that link you provided pretty much answers my question. at least i think it does... before i try it i want to make sure i understood correctly.
right now i am overriding the controllers and i made a file called `exo_playback_control_view.xml`,
and that file is the **entire** layout that is being inflated as my video controllers.
if i understood correctly from the docs you sent (please corr

[2017-08-16 11:54] mhassanist opened #3178 "Offline clear key drm"
Is there a clear simple way now to implement Clear Key DRM in ExoPlayer 2 ?
I have the keyID and KeyValue and the video URL is **online**  however the keys are stored offline. I just want to set the keys by hand instead of getting them from license server.

[2017-08-16 12:24] ojw28 commented on #3178
Clarification around ClearKey support is tracked by https://github.com/google/ExoPlayer/issues/3138.

[2017-08-16 12:24] #3178 closed, assigned to nobody

[2017-08-16 12:25] ojw28 commented on #3073
Closing due to lack of required information.

[2017-08-16 12:25] #3073 closed, assigned to nobody

[2017-08-16 12:29] ojw28 commented on #3172
Overriding `exo_simple_player_view.xml` is similar to overriding `exo_playback_control_view.xml` (you need to provide the entire layout in both cases). Both are described in this [blog post](https://medium.com/google-exoplayer/customizing-exoplayers-ui-components-728cf55ee07a) (although note that some of the information may be a little out of date, since the library has evolved a little since then

[2017-08-16 12:33] mhassanist commented on #3178
I'm able to get the clear key to work if I put the response on the server.
http://ec2-52-42-32-95.us-west-2.compute.amazonaws.com/shaka/shaka_final/request.php

My question is how to set those values on the player without requesting it from online server.

[2017-08-16 12:35] ojw28 commented on #3178
You will have to implement a `MediaDrmCallback` that provides a local response.

[2017-08-16 12:39] ojw28 commented on #2924
1. It's likely that the issue only occurs when switching between secure and non-secure output, yes.
1. The side effect is that L3 is less secure than L1. Content providers may require you to use L1 for their content. If you're producing your own content, you'll need to decide for yourself what level of protection is acceptable to you.

[2017-08-16 12:45] mhassanist commented on #3178
Thanks a lot for your replay.

Do you have or can provide any example or sample code for this ?

[2017-08-16 12:47] mhassanist commented on #3178
I made this. But not sure how to return the key value from these methods.

[code]

[2017-08-16 13:09] mehulTank opened #3179 "how to implement tap to play in exoplayer"
This library very fine helpful to me but i want try from many time to implement tap top play in recycle view but not get proper output is it possible to implement to tap to play here in recycle view ?

[2017-08-16 13:10] ojw28 commented on #3178
I don't think provisioning is relevant. For the key request you'll need to respond with whatever the server response would be.

[2017-08-16 13:11] ojw28 commented on #3179
ExoPlayer provides a method to play (e.g. `setPlayWhenReady(true)`. How you wire that up to UI is not really an ExoPlayer question, so I'd suggest you ask on StackOverflow.

[2017-08-16 13:11] #3179 closed, assigned to nobody

[2017-08-16 13:22] ojw28 commented on #3164
If you have a three minute buffer, does that imply three minutes of latency (e.g. the audio the user hears is three minutes behind "live")?

[2017-08-16 13:33] mhassanist commented on #3178
It worked thank yo very much for your support.
Here is the final class is some one needs it.
[code]

[2017-08-16 13:42] soadri commented on #3176
.

[2017-08-16 16:21] ojw28 commented on #3178
Glad you got it working! You can probably throw `UnsupportedOperationException` from `executeProvisionRequest`, since you're basically not supporting it :). The ClearKey CDM should never request provisioning from the callback, as far as I'm aware.

[2017-08-16 16:21] ojw28 commented on #3178
By the way, how would you feel about making a pull request to contribute this back to the `dev-v2` branch, in the `drm` package, called something like `LocalClearKeyMediaDrmCallback`? Please feel free to send a pull request if you're able.

[2017-08-16 19:52] ojw28 commented on #3171
Thanks for reporting!
- Can you confirm the check you added fixed the issue and still allowed media to play? It's not necessarily the case that there's another AAC decoder to fall back on, although on most devices there does seem to be.
- The `startsWith("HM")` check is too broad, since it incorrectly captures unrelated devices (e.g. the [Haier G21](http://www.devicespecifications.com/en/model/bdd

[2017-08-16 20:53] djerom commented on #3164
I don't see the point to increase so much your buffer size.
Anyway you can customize buffer settings as below:
[code]

[2017-08-16 21:14] chadvonburgess opened #3180 "Ad Load Error"
### Issue description
so I am trying to get the new version of exoplayer's demo to load and correctly play a preroll ad and a hls stream from an m3u8 file. The problem is that I get a vast timeout error such as this :
Caused by: AdError [errorType: PLAY, errorCode: AdErrorCode [name: VAST_MEDIA_LOAD_TIMEOUT, number: 402], message: VAST media file loading reached a timeout of 8 seconds.]

After I r

[2017-08-17 00:32] soadri commented on #3176
I also found same problem when using dash.js reference player in same situation

[2017-08-17 01:40] bluesneed commented on #3150
Hi,

I managed to find the root cause and fixed it. It's likely to be platform/firmware issue.

This is caused by the very large PlaybackDurationRemaining & LicenseDurationRemaining 9223372036854775807, which is the maximum positive value for a 64-bit integer.

After we downloaded the license and use the method
mediaDrm.queryKeyStatus(sessionId)
to query the PlaybackDurationRemaining & LicenseDura

[2017-08-17 02:59] WeiChungChang opened #3181 "Cannot playback H262 after wrapping it in MP4 by FFMpeg"
### Issue description
Cannot playback H262 after wrapping it in MP4 by FFMpeg.

### Reproduction steps
https://drive.google.com/open?id=0B7H5vJR3qWj0NjJEb0JLb3pvc28

[code]

### Link to test content
https://drive.google.com/open?id=0B7H5vJR3qWj0NjJEb0JLb3pvc28

### Version of ExoPlayer being used
r2.5.0-beta1

### Device(s) and version(s) of Android being used
HTC-X9

### A full bug report capture

[2017-08-17 07:07] or-dvir commented on #3172
thanks a lot for your help.
i did it and it worked

[2017-08-17 07:19] JacksonFoo opened #3183 "Playback stops at when quality reach 1080p in Amlogic S905X"
**Issue description**

This is an error that regard "Caused by: android.media.MediaCodec$CryptoException: Unknown Error" occurred when playing 1080p bitrate for Widevine in the Amlogic Chipset
If this error occurs, playback can not be resumed unless you press the retry button and exit.
It occurs in X96 STB

**Link to test content**
none

**Version of ExoPlayer being used**
r2.4.4

**Device(s) and

[2017-08-17 07:40] pheart commented on #3171
@ojw28
thank u very much!   i have try that i added fixed the issue and will allowed media to play. My device is come from china.
Util.MODEL     2013022
Util.DEVICE      HM2013022
Util. MANUFACTURER   Xiaomi

[2017-08-17 08:29] ojw28 commented on #3176
That kind of suggests the source media is broken, doesn't it? In which case there's nothing we can do to help here unless you're able to host some content that reproduces the problem and provide a working link to it.

I can't see anything obvious in the logs. It looks like playback starts at 2160p and is working fine. It then successfully switches to 720p. It then switches back to 2160p and at thi

[2017-08-17 08:54] tonihuotari opened #3184 "Support app specified ad markers in player UI"
### Issue description
I can't get visible ad markers after upgrading from 2.4.4. I've tried both 2.5.0 and 2.5.1

### Reproduction steps

In exoplayer 2.4.4 you could add the following lines to get visible ad markers:

`TimeBar timeBar = (TimeBar) findViewById(R.id.exo_progress);
long[] adGroupTimesMs = {40000, 60000, 80000};
timeBar.setAdBreakTimesMs(adGroupTimesMs, 3);`

In exoplayer 2.5.0 chang

[2017-08-17 09:22] soadri commented on #3176
@ojw28

It successfully switches to other quality, but player screen freezes after quality switching

Freezing means here that the picture on player screen is stop and never change to the next picture, no motion

Player timeline bar still progress but screen is stopped when video quality is changed

Sorry, I didn't refer the more detail situation

1) Playback starts at 2160p

2) At this point, I t

[2017-08-17 09:31] psedoykin commented on #3164
@ojw28  I want to implement the following behavior:
If the Internet should turn off on the phone, then the app should play 3 more minutes.

[2017-08-17 09:32] psedoykin commented on #3164
@djerom  I have customized the settings but it didn't help me.

[2017-08-17 10:04] andrewlewis commented on #3180
8 seconds already seems like a long wait before playback can start. Can you somehow reduce the latency of loading the ad tag?

If you don't want the content to play in this case, you can handle the ad loading error via [`ImaAdsMediaSource.onAdLoadError`](https://google.github.io/ExoPlayer/doc/reference/com/google/android/exoplayer2/ext/ima/ImaAdsMediaSource.AdsListener.html#onAdLoadError-java.io.I

[2017-08-17 10:53] andrewlewis commented on #3184
Are you using `PlaybackControlView`? Please could you set a breakpoint in `setAdGroupTimesMs` and check if your ad markers are being overwritten by the player?

[2017-08-17 11:05] tonihuotari commented on #3184
Yes there seems to be values overwritten when setAdGroupTimesMs gets called in PlaybackControlView.updateProgress

[2017-08-17 11:20] andrewlewis commented on #3184
Probably this only worked before because we only set the ad group times if the view was showing a multi-window time bar. As of r2.5.0 we always set the ad markers (and ad timelines aren't multi-window any more).

Marking this as an enhancement to let apps specify ad markers that override whatever the player provides. As a workaround for now, you could subclass `DefaultTimeBar` and override `setAdG

[2017-08-17 11:36] ojw28 commented on #3164
As already asked above, does that imply three minutes of latency (e.g. the audio the user hears is three minutes behind "live")?

[2017-08-17 11:43] tonihuotari commented on #3184
Your suggested workaround works, I'll use it until it is fixed. Thanks @andrewlewis

[2017-08-17 14:16] danha306 opened #3186 "Performance issues with BT.709 color space"
### Issue description
We have a performance problem that arises with high bitrate H.264 Widevine-protected DASH content in combination with color space BT.709. On some phones this combination results in very choppy, borderline unwatchable videos. Converting the video to YUV420, while keeping the bitrate and other settings, provides smooth playback on the affected phones.

Our hope is that there is

[2017-08-17 15:25] ojw28 commented on #3186
It seems unlikely we'd be able to do anything about this. The performance is probably in the decoder or underlying graphics pipeline in the platform.

[2017-08-17 15:31] danha306 commented on #3186
That's pretty much in line with what we thought, but we figured we might as well ask in case there was something obvious that we had missed. Thank you for a quick response.

[2017-08-17 18:14] chadvonburgess commented on #3180
that just bubbles up the exception, I want the player to ignore this error and continue playing the ad until it finishes and then play the underlying content, right now it just calls this error and finishes the ad and plays the content, if I switch out the content stream for another one it finishes correctly. I am kind of looking for a way to ignore this 8 second time out

[2017-08-17 19:08] andrewlewis commented on #3180
Not sure I understand "if I switch out the content stream for another one it finishes correctly" -- please could you clarify this?

For the Android IMA SDK it looks like the default timeout is five seconds and can be overridden via [`AdsRequest.setVastLoadTimeout`](https://developers.google.com/interactive-media-ads/docs/sdks/android/v3/api/reference/com/google/ads/interactivemedia/v3/api/AdsReque

[2017-08-17 21:16] tylerjroach opened #3188 "RTMP Playback Delayed On Tracks Without Audio"
### Issue description
If an rtmp stream does not have an audio track, the video will take x amount of time to display a video frame, where x is the amount of time the stream has been running.
Ex. if the rtmp stream was started 100 seconds ago, it will take Exoplayer 100 seconds to show a video frame.

The reason this occurs is because MediaCodecVideoRenderer does not extend MediaClock. With the la

[2017-08-17 21:21] stari4ek opened #3189 "Fails to start TS playback due unexpected start code prefix"
* stream: https://drive.google.com/file/d/0Bww3WxdHUiM1Y0EzaXAtZWJ6RTQ/view?usp=drivesdk
* checked in demo: 1829d71d29435ca1eb4240d4aed7cb1315e2b606 (2.5.1)
* there're warnings in log:
[code]
As warning states "Packet start code prefix" does not match expected `0x000001`
From ISO:

I'm not sure if stream is incorrectly prepared or exoplayer reads pes header from wrong position for this specific st

[2017-08-17 22:05] chadvonburgess commented on #3180
So if I take the "uri" field for a different content uri such as https://storage.googleapis.com/exoplayer-test-media-1/mkv/android-screens-lavf-56.36.100-aac-avc-main-1280x720.mkv , it works. let me check the vastLoadTimeout, hard to find this attribute in terms of documentation let me find out if setting this manually works

[2017-08-17 22:14] chadvonburgess commented on #3180
adding request.setVastLoadTimeout(35000); directly in the requestAds() method in ImaAdsLoader didn't seem to help the situation. Is there a different place one would set this?

[2017-08-17 22:41] itspbj opened #3191 "Mp4Extractor should interpret atomSize==0 as "extends to end""
### Issue description
I'm attempting to play a video file thats from the Xbox API. Specifically, the first video in this list: https://streamable.com/search/xbox?query=TechGuruGJ titled "Forza Horizon 3" plays on the web but doesn't seem to work in ExoPlayer.

I've looked through other issues, and it seems like there may be some sort of fix listed here: https://github.com/google/ExoPlayer/issues/1

[2017-08-18 00:53] andersonkxiass commented on #3162
@ojw28  I'll try to apply according instructions in the readme. Thank you for reply.

[2017-08-18 09:32] WeiChungChang commented on #3189
**Tools**
https://sourceforge.net/projects/dvbinspector/

http://www.pjdaniel.org.uk/mpeg/

![image](https://user-images.githubusercontent.com/14846473/29445441-65fd733e-8419-11e7-8db4-a37062ae60ee.png)

we can find there are 4 streams there; one for video & the other 3 for audio.
The audio streams PIDs are : 5634, 5635 & 5636 respectively.

![image](https://user-images.githubusercontent.com/14846

[2017-08-18 10:57] #3162 closed, assigned to andrewlewis

[2017-08-18 10:59] ojw28 commented on #3181
Pull request was merged. Thanks!

[2017-08-18 10:59] #3181 closed, assigned to nobody

[2017-08-18 11:04] ojw28 commented on #3191
This is actually a bug in our MP4 extractor, where we don't handle atomSize==0 correctly. I'm assuming this is a rarely used feature in the MP4 spec, seeing as we haven't seen this before.

[2017-08-18 12:49] lazarvgd opened #3192 "ExoPlayer.EventListener() is depricated"
Hi after updating ExoPlayer to version r2.5.1 I got the problem that  **ExoPlayer.EventListener()** is depricated. What can I use instead of this event listener in order to get **onPlayerError** so I can detect **[BLWE](https://github.com/google/ExoPlayer/issues/1074)**?

thanks :)

[2017-08-18 12:52] ojw28 commented on #3192
Please look at the Javadoc:
http://google.github.io/ExoPlayer/doc/reference/com/google/android/exoplayer2/ExoPlayer.EventListener.html

[2017-08-18 12:52] #3192 closed, assigned to nobody

[2017-08-18 13:05] lazarvgd commented on #3192
@ojw28 I have looked at that doc but still didn't get the information about what can I use instead of this listener. Please help me with this. thanks

[2017-08-18 13:09] ojw28 commented on #3192
The only thing written there is "Use Player.EventListener instead.". Which presumably answers your question.

[2017-08-18 13:15] lazarvgd commented on #3192
Thank you and sorry. I did not understand the doc. It is my fault, please sorry :)

[2017-08-18 13:17] ojw28 commented on #3192
Heh, no problem :)!

[2017-08-18 14:11] itspbj commented on #3191
Anything I can change to avoid it or does it just require a bug fix?

[2017-08-18 14:52] Jiekai commented on #3064
Hi Gian84, would you mind sharing what security level settings you set to make this work? We've been encountering the same problem.

[2017-08-18 15:33] sshurick opened #3193 "Huawei Honor PE-TL10 - SIGSEGV with dlfree(libc) when playing DASH video"
### Issue description
Hi, guys!

I run into a problem: my App crashes very often when playing DASH video on Youtube:

Here is the top of the stack trace.
08-18 16:34:39.855  2449  2449 I DEBUG   :     #00  pc 00011978  /system/lib/libc.so (dlfree+1191)
08-18 16:34:39.855  2449  2449 I DEBUG   :     #01  pc 0000dec7  /system/lib/libc.so (free+10)
08-18 16:34:39.855  2449  2449 I DEBUG   :     #02

[2017-08-18 15:38] sshurick commented on #3193
I have also caught one more crash with this DASH content on Meizu MX4  running android 4.4.2

Stack trace of the crash is pretty much the same:

08-18 18:52:44.322 6003-6003/? I/DEBUG:     #00  pc 00026690  /system/lib/libc.so (tgkill+12)
08-18 18:52:44.322 6003-6003/? I/DEBUG:     #01  pc 00017c95  /system/lib/libc.so (pthread_kill+64)
08-18 18:52:44.322 6003-6003/? I/DEBUG:     #02  pc 00017e8d

[2017-08-19 06:05] rohit5ram commented on #3175
Even I face the same issue @ojw28 @andrewlewis

[2017-08-19 06:24] kedarnath9 commented on #3175
We have been facing the same. In our use case, we have to play 1080p videos for more than 18 hours. After 10 + hours of playback 1080p videos started shuttering or lag between frames is observed.

[2017-08-19 09:48] asadullahrao opened #3194 "Exoplayer hide PlaybackControlView onClick (not onTouch)"
![screenshot_20170819-145051 1](https://user-images.githubusercontent.com/429518/29485614-fe59b29e-84ed-11e7-880e-48131b7c2d43.png)

![screenshot_20170819-145045 1](https://user-images.githubusercontent.com/429518/29485609-ee5eef58-84ed-11e7-9156-6a31b6b3b431.png)
My Player hides when i click on player, controls show but player hides. After that when i again click on player it hides controls and s

[2017-08-19 11:24] psedoykin commented on #3164
No, I want to play "live" and buffering some next time of stream. Is it possible ?

[2017-08-19 15:37] b0g8 opened #3195 "Add option to insert Media at specific index in DynamicConcatenatingMediaSource"
### Issue description
Currently, if adding with addMediaSource(int index, MediaSource mediaSource), it replaces the item in a DynamicConcatenatingMediaSource. Also,  if one chooses to move an item, the item is removed from current position(ok) and replacing the destination(nok).

This is not consistent with the behavior of ArrayList, for example, where moving an item means that it is inserted at d

[2017-08-20 21:20] ojw28 commented on #3195
Are you certain that's what happens? Internally `DyanamicConcatenatingMediaSource` looks like it's calling through to `ArrayList.add`, so it's difficult to see how the behavior you're observing can occur. How are you determining that items are being removed/replaced (i.e. what's the exact sequence of calls you're making)? Thanks.

[2017-08-20 21:22] ojw28 commented on #3194
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

If you’re able to provide complete information as requested in the issue template,

[2017-08-20 21:22] #3194 closed, assigned to nobody

[2017-08-20 21:27] ojw28 commented on #3191
I think there are actually two stray zero bytes at the end of the media, although since they're factored into sizes specified elsewhere in the media just clipping the file by two bytes doesn't fix the problem. If you're generating this content yourself then you could investigate what the last two bytes of the file actually are, and why they're being added. The bug fix we'll be making fixes the pro

[2017-08-20 21:32] ojw28 commented on #3164
It's fundamentally impossible to be both "live" and have three minutes of media buffered, since that would require you to have buffered three minutes of content from the future. Please clarify the question. Thanks.

[2017-08-20 21:50] itspbj commented on #3191
Unfortunately I don't own the content so I won't be able to fix it. Thanks for adding the fix! Looking forward to the update.

[2017-08-21 03:50] rush0825 opened #3196 "Widevine L1 audio cannot be played."
Hi All,
   White we test Exoplayer with customer asset, we found the Exoplayer cannot play L1 audio stream.
The logcat will show below. Could you show up what kind of this error and possible root cause ?

08-17 15:25:15.915  5122 18201 E ExoPlayerImplInternal: Renderer error.
08-17 15:25:15.915  5122 18201 E ExoPlayerImplInternal: com.google.android.exoplayer2.ExoPlaybackException
08-17 15:25:15.9

[2017-08-21 06:53] b0g8 commented on #3195
I can confirm that now it works properly, without any changes in code regarding MediaSource. Previously, I got an exception from DyanamicConcatenatingMediaSource related to index out of range. Maybe it was due to some other stuff that was in work on my side. Anyway, I'll keep an eye on
it. Thanks.

On Mon, Aug 21, 2017 at 12:21 AM, ojw28 <notifications@github.com> wrote:

[2017-08-21 07:17] #3195 closed, assigned to nobody

[2017-08-21 08:26] ojw28 commented on #3196
I don't think any Android devices support "L1 audio" at this point in time. So I don't think you should be requiring a secure output path in your license policy for audio.

[2017-08-21 08:26] #3196 closed, assigned to nobody

[2017-08-21 11:40] fboldog opened #3197 "RTMP Extension depends on GNU LGPL code"
### Issue description
ExoPlayer RTMP extension depends on a project which contains GNU Lesser General Public License code.
Is this compatible with the ExoPlayer license?

### Link to test content
https://github.com/ant-media/LibRtmp-Client-for-Android/blob/master/rtmp-client/src/main/cpp/librtmp/rtmp.c

### Version of ExoPlayer being used
2.5.1

[2017-08-21 11:50] ojw28 commented on #3197
I'm not really sure what you mean by "compatible". To use an extension you need to abide by the licenses of both the extension code in this repository (licensed under Apache 2.0) and any libraries that the extension you're using depends on (which may have their own, different licenses).

[2017-08-21 12:02] fboldog commented on #3197
Thanks, I thinking in the same way.
Neither page mention about the copied librtmp source license and original source.
Without digging into the source no one notified about this "problem".
It might be a good idea to include a statement somewhere in the documentation that extensions may have different licenses than ExoPlayer.

[2017-08-21 12:41] ojw28 commented on #3197
Gradle seems to make it easy, in general, for you to pull in transient dependencies without knowing much about it. Librtmp could itself add a dependency of its own to some third library that also has a different license, for example. I think that as an app developer, you'll probably always need to check the whole dependency tree to see exactly what you're pulling in (and it seems people have writt

[2017-08-21 16:10] fougere-mike opened #3198 "[Question] Are CEA-608 captions supported via HLS?"
Does the ExoPlayer v2 HLS stack currently support cea-608 captions embedded in the video stream?

I've added a `TextRenderer.Output` using `mExoPlayer.setTextOutput(this)`, and haven't seen any calls to `TextRenderer.Output.onCues(List<Cue>)`.

Am I missing a config step, or is this just not supported?

[2017-08-21 16:22] AquilesCanta commented on #3198
It is supported. The "Apple 4x3 basic stream" sample in the demo app has CEA608. But you will have to select them manually. What you can do is:

1. Add your sample to the demo app.
2. First try the HLS basic stream to see what the expected behavior is.
3. Run and select manually using the "Text" button. Once you press "Ok", CC will start showing at the bottom of the screen.
4. Try your stream and

[2017-08-21 16:22] #3198 closed, assigned to nobody

[2017-08-21 18:29] emdash-ie opened #3199 "Why shouldn't AdaptiveMediaSourceEventListener be used to cutomise player behaviour, and what alternatives are there?"
In [this issue](https://github.com/google/ExoPlayer/issues/2909), @ojw28 says that the AdaptiveMediaSourceEventListener shouldn't be implemented in order to change the behaviour of the player.

Why is that? Is there an alternative way to get the same information and then use it? I need to implement video adaptation algorithms that depend on the media duration, size, bitrate, and load duration of r

[2017-08-22 03:27] SopMar opened #3200 "ExoPlayer2 disables Next button but does not disable Previous button"
I am using _ConcatenatingMediaSource_ to play Videos in a Sequence

I found a bug, Like I have three items in an ArrayList and currently playing first one, then it does not disables previous button (this is really bad thing).

Other hand, If I am playing 3rd one, then it disables next button (that is really good thing)

So how can I disable previous button, if I am playing first video item

Depend

[2017-08-22 05:49] psedoykin commented on #3164
So for what DEFAULT_MIN_BUFFER_MS, DEFAULT_MAX_BUFFER_MS used in DefaultLoadControl ? I think that for buffering media.

[2017-08-22 07:37] nitinarv commented on #2508
Hi, I have been facing this exact same problem. I have been able to implement play and pause in a different button . But when I scroll up and down it flickers a lot. Is there any solution to it? I had thought it was because of the ExoPlayer was impemented using the surface view. I had come across this ' tools:surface_type="texture_view" ' . And it still persisted.

@djmalkar  , Were you able to fi

[2017-08-22 07:44] androidsoni opened #3201 "How to play ClearKey encrypted DASH"
I have a Widevine DRM based encrypted video. The video is encrypted using bento4 ,

mp4dash --widevine-header provider:widevine_test#content_id:2a --encryption-key 90351951686b5e1ba222439ecec1f12a:0a237b0752cbf1a827e2fecfb87479a2 video-source.mp4 Check this link for more info

Now I am trying to play this video on Android using Exoplayer and I am getting an error

"android.media.MediaCodec$CryptoE

[2017-08-22 07:49] andrewlewis commented on #3200
The previous button is also enabled if the user can seek back to the start of the current item (window), so I think this is working as intended. See the code in [`PlaybackControlView`](https://github.com/google/ExoPlayer/blob/b2da61f/library/ui/src/main/java/com/google/android/exoplayer2/ui/PlaybackControlView.java#L830).

If you need to implement previous/next buttons that only jump between playl

[2017-08-22 07:49] #3200 closed, assigned to nobody

[2017-08-22 09:23] rush0825 commented on #3196
Could it possible to post the right L1 policy to reference ?
Below is our customer policy, is it right ?
[code]

[2017-08-22 09:58] PaulWoitaschek commented on #1434
It would be really really great if you could give this a larger priority.

It massively complicates the build process for open source projects. I'm also hosting on Fdroid which means I can not ship any binaries and have to automate the whole process.
Also it slows down the whole build process.

And developers have to setup the ndk stuff etc which makes it more complicated as regular devs don't eve

[2017-08-22 11:42] zegnus commented on #2812
I'm also interested in implementing thumbnails while scrolling for Dash DRM protected content.

If the content has to be protected, is the images approach still valid?
If is valid, does the ExoPlayer v2 support vtt as a thumbnails track?

[code]

of with coordiantes
[code]

If because of DRM reasons we have to use a separate video track, what would be the recommended implementation and or limitati

[2017-08-22 11:49] ojw28 commented on #3197
Marking as an enhancement to add generic "dependencies may have different licenses" comment into the README of each extension.

[2017-08-22 11:52] ojw28 commented on #3196
If you are a Widevine partner or have any contacts at Widevine you should reach out to them directly. If not, ping this again and I'll ask someone from Widevine to take a look.

[2017-08-22 12:06] fboldog commented on #3197
👍  Thanks.

[2017-08-22 12:23] djmalkar commented on #2508
No, not got the solution so i just maintain the image in listviee and on
click of that image a new activity will play that video... No playing of
video in listview was achieved

On 22 Aug 2017 1:08 p.m., "Nitin" <notifications@github.com> wrote:

[2017-08-22 12:50] ojw28 commented on #3201
If you're encrypting with Widevine you must have a license server of some kind. That error indicates the license response did not include the keys required for decryption.

[2017-08-22 14:29] androidsoni commented on #3201
Thank you for the response . Currently I am using license url https://proxy.uat.widevine.com/proxy?provider=widevine_test .
I have the mpd file  and the encryption key string on local sd card ...is there any way I can manually pass the encryption key to the player and video will play. Please suggest

[2017-08-22 14:32] ojw28 commented on #3164
They're used [as documented](https://google.github.io/ExoPlayer/doc/reference/com/google/android/exoplayer2/DefaultLoadControl.html). Note that the "will attempt" part of the documentation is important. If the serving side doesn't allow the client to buffer that much media, then the client wont be able to do so.

I took a look at the stream mentioned earlier in this thread (http://79.174.68.63:799

[2017-08-22 14:32] #3164 closed, assigned to nobody

[2017-08-22 14:36] ojw28 commented on #3201
I don't think that's how Widevine works. The server is responsible for issuing a license that contains the necessary keys for decryption. If you're using someone else's license server and the response contains different keys than you've encrypted your content with, that's not going to work.

[2017-08-22 14:44] androidsoni commented on #3201
ok ..I have gone through the demo app of exoplayer .It has a Widevine secure example. But there is no example which uses MPEG DASH encryption key...can you suggest how I can pass MPEG-DASH encryption key to the player.

[2017-08-22 14:49] Stane1983 commented on #3183
Can you give more details on issue? Which Android 6 SDK release (from Amlogic)? Which sample? There is issue with newer SDKs from Amlogic (including Nougat) where ExoPlayer crashes even before playback starts but that is debugged and fixed today actually in cooperation with Amlogic engineer. Fix is simple:
Add:
`-keep class com.google.android.exoplayer2.ext.vp9.LibvpxVideoRenderer{*;}`
to proguard

[2017-08-22 14:54] ojw28 commented on #3201
The demo app plays Widevine content that was encrypted using the same keys that the Widevine test server provides. If you want to protect content with Widevine then I'm pretty sure you have to have a proper license server. I'm not sure what "pass MPEG-DASH encryption key to the player" means, or what encryption scheme you're referring to when you say this (are you sure it's Widevine)?

[2017-08-22 15:30] fougere-mike commented on #3198
Got it, thanks!

[2017-08-23 06:00] androidsoni commented on #3201
yes it is Widevine DRM.
If our video is MPEG-DASH encrypted(No Widevine).It has encryption key.Now I want to run this video in exoplayer which requires encryption key at run time .How I can provide  the encryption key to the player,so that the file will run. ?

[2017-08-23 07:35] psedoykin commented on #3164
Ok, Thanks for your help.

[2017-08-23 10:42] ram992 commented on #3143
@wvpaf  any update on the questions

[2017-08-23 11:59] ojw28 commented on #3201
What does "MPEG-DASH encrypted(No Widevine)" mean, exactly? You need to be more precise about the encryption scheme for us to help. Thanks!

[2017-08-23 14:24] ojw28 commented on #3191
Fixed in `dev-v2`.

[2017-08-23 14:24] #3191 closed, assigned to nobody

[2017-08-23 14:29] #3184 closed, assigned to andrewlewis

[2017-08-23 15:18] ojw28 commented on #3189
@ybai001 - The "special track" with PID 5635 looks to be Dolby related. Is this something you're familiar with? Or do you think the type is just incorrect (i.e. should be PES)?

[2017-08-23 21:51] bolder5 opened #3202 "Stream pauses when moving from wifi to data and vice-versa"
### Issue description
When running a stream in the exoplayer demo, when I switch from WiFi to data, the stream always pauses for a second or so.  An example stream I've been using is: https://cms.stream.publicradio.org/cms.mp3
When I use just the Android MediaPlayer to run the stream, switching between WiFi and data causes no pause in playback.  Is there anyway to stop exoplayer from causing this

[2017-08-23 23:44] marcbaechinger commented on #2666
We published this blog post about how to use the media session extension to connect ExoPlayer with a MediaSession:

https://medium.com/google-exoplayer/the-mediasession-extension-for-exoplayer-82b9619deb2d

[2017-08-24 01:27] moises-orduno opened #3203 "Caching content"
### Issue description
I'm trying to download the mp4 content from the mpd url with the caching option

//creating a tempo folder

            tempFolder = Util.createTempDirectory(mView.getActivityContext(), "ExoPlayerTest");

//using the cache option

               DataSpec dataSpec = new DataSpec(Uri.parse("http://yt-dash-mse-test.commondatastorage.googleapis.com/media/car-20120827-manifest.mpd

[2017-08-24 02:36] keyboardr commented on #1706
It looks like ExoPlayer.getDuration() doesn't work with DynamicConcatenatingMediaSource, even after calling prepare(). Is there a way to get a queued MediaSource's duration (and seek to a position) before setPlayWhenReady(true) is called?

[2017-08-24 03:27] ybai001 commented on #3189
@ojw28 - Conclusion: this stream is NOT correct. The details are:
First of all, from above PMT info, we know the stream_type is 0x6, which means this stream is Dolby AC-3. (BTW, if stream_type is 0x87, the stream is Dolby E-AC-3.)
Secondly, since this is Dolby AC-3 stream, **the type should be PES**. But from above screenshot, that stream's type is PSI. This is NOT correct.
Thirdly, I created a TS

[2017-08-24 06:33] soadri commented on #3176
@ojw28

The problem of this issue may be caused by scarce processing power of client device or server

It is not because of ExoPlayer internal features

So this issue is closed

[2017-08-24 06:33] #3176 closed, assigned to nobody

[2017-08-24 06:36] soadri commented on #3202
Have you checked the buffer of player? (Both ExoPlayer and Android MediaPlayer)

[2017-08-24 07:35] HungamaSurat opened #3204 "Offline Widevine DRM Play issue"
Issue description:
-----------------------
- We are trying to play Offline DRM Video(.mpd formated) Encoded with Widevine(Secure Expressplay URL). Here, We are able to download all files encoded with Widevine URL And We are able to play offline movie-files with having internet active. We already reviewed "ExoPlayer question 949" but it's not working for us. Here we are facing issues when trying to

[2017-08-24 07:59] tonihei commented on #1706
Please create a new issue using the issue template if you think something is wrong. Thank you!

[2017-08-24 08:18] keyboardr commented on #1706
I don't necessarily think there is anything wrong. It might just be my own lack of understanding how DeferredTimeline is expected to work. I'll file a bug just in case.

[2017-08-24 08:21] keyboardr opened #3205 "ExoPlayer.getDuration() doesn't work after preparing a DynamicConcatenatedMediaSource"
getDuration() returns TIME_UNSET until setPlayWhenReady(true) is called even when the first window is a fixed size. The various seekTo() methods similarly don't work even when the first window should be seekable. Suspect this is related to the use of DeferredTimeline.

[2017-08-24 08:42] androidsoni commented on #3201
I have MPEG-DASH encrypted video .Video have a encryption key .
How can I play this video in Exoplayer ?

[2017-08-24 09:03] ojw28 commented on #3202
I think you'll always get a slight discontinuity in playback at some point (possibly up to several minutes after the network switch), since there's no way that I'm aware of for a player to seamlessly reconnect to a live mp3 URL.

The reason the discontinuity occurs at the time of the network switch, and is more severe than MediaPlayer, is tracked by https://github.com/google/ExoPlayer/issues/1606.

[2017-08-24 09:03] #3202 closed, assigned to nobody

[2017-08-24 09:17] mirandole opened #3206 "Improve gapless between two tracks"
Hello everyone,

I use Exoplayer-dev-v2.5.0

Following this thread: https://github.com/google/ExoPlayer/issues/1706, I was hoping to obtain gapless audio playing with the new `DynamicConcatenatingMediaSource` but there is still a small gap between two tracks.

I'm looking at the ExoPlayer code to find a way to avoid the gap between two different tracks. The best will be to avoid discontinuity betw

[2017-08-24 09:34] ojw28 commented on #3206
Depending on exactly what type of content you're trying to play, the streams themselves may need to contain gapless metadata for them to be played without gaps. We do not manually detect and clip silence from the start and end of each file; if it's present then it needs to be properly specified by in the metadata. I'm pretty sure use of `DynamicConcatenatingMediaSource` will get you fully gapless

[2017-08-24 09:35] ojw28 commented on #3201
As above, "MPEG-DASH encrypted video" is not precise enough. There are multiple schemes that you can use to encrypt DASH content. Are you able to play this content successfully in any other player, in particular any web player? We're just not able to help without precise information, sorry.

[2017-08-24 09:38] ojw28 commented on #3189
Thanks for the confirmation. Closing as bad media.

[2017-08-24 09:38] #3189 closed, assigned to nobody

[2017-08-24 09:42] androidsoni commented on #3201
Its a .MPD file having encryption key .It is working in shaka player implemented in our desktop app.
We  have used  below code to configure the shaka player .PLease check
[code]

[2017-08-24 09:50] ojw28 commented on #3201
Got it. This is ClearKey encrypted content (not Widevine encrypted). You need to initialize the `DefaultDrmSessionManager` instance using `C.CLEARKEY_UUID`. To provide your locally stored key you'll need to implement a `MediaDrmCallback` that provides it as the key response. Someone got this working and provided sample code in https://github.com/google/ExoPlayer/issues/3178, so please take a look

[2017-08-24 09:59] mirandole commented on #3206
Indeed `DynamicConcatenatingMediaSource` is close to gapless but when I try to prepare the next track of my `DynamicConcatenatingMediaSource` it makes a reading gap so I don't know how can I add the next Track in the `DynamicConcatenatingMediaSource` and prepare it without getting a gap.
In this case there is a gap when I ask to ExoPlayer to prepare the next mediaSource of my DynamicConcatenatingM

[2017-08-24 10:37] tonihei commented on #3205
Thanks for using a new issue :)

You're right that getDuration() will return TIME_UNSET first when the actual duration is not available yet. However, I suspect you get a second timeline update (listener.onTimelineChanged) soon after where everything is set correctly. setPlayWhenReady(true) shouldn't have any influence on this. Maybe that's just a coincidence because you call it soon after player.p

[2017-08-24 10:43] tonihei commented on #3206
You don't have to add the entire playlist upfront. That's why it's dynamic - allowing you to add and remove things later on. However, it sounds as if you add the next media source after the first one has already fully played to its end? To be able to pre-buffer the next item without noticeable gaps, you should ensure that you add it at least some time before playback reaches the end of the previou

[2017-08-24 10:52] androidsoni commented on #3201
Thank you ..I just tried the link you provided .Now the screen is black ...no audio or video is displayed but the video time is visible. It shows a message```

[code]

[2017-08-24 10:53] androidsoni commented on #3201
the custom `MediaDRMCallback``s callback `executeKeyRequest `is also not called

[2017-08-24 11:30] janeriksamsonsen commented on #3112
Any progress? Problem still present on final release of Android O on Nexus 6p. The remaining LicenseDurationRemaining is always reported as zero seconds. Strange thing is that the DRM-protected content is playable despite of that.

0 = {HashMap$Node@8066} "PersistAllowed" -> "True"
1 = {HashMap$Node@8067} "PlayAllowed" -> "True"
2 = {HashMap$Node@8068} "PlaybackDurationRemaining" -> "9223372036854

[2017-08-24 13:47] androidsoni commented on #3201
you can see this log for more detail

[code]

[2017-08-24 15:11] ojw28 commented on #3201
Are you sure that you're initializing the `DefaultDrmSessionManager` instance using `C.CLEARKEY_UUID`?

[2017-08-24 16:44] idroji5 opened #3207 "Is video seeking working in Exoplayer v1 with live smoothstreaming ?"
Hello,

Is Exoplayer v1 live video seeking working or do I have to upgrade to Exoplayer latest version?
I've tested Exoplayer latest version demo and seeking in live video streams is working, but i would like to know if there is option to make Exoplayer v1 working, because migration is hard at this point.

I am using PlayerControl.seekTo method but is not working in live streams, it is only workin

[2017-08-24 16:54] AquilesCanta commented on #3207
At this point we are only backporting bugfixes to V1, so unfortunately migration to V2 is the only option to get live seeking.

[2017-08-24 16:54] #3207 closed, assigned to nobody

[2017-08-24 16:59] idroji5 commented on #3207
Thanks, for your quick feedback

[2017-08-24 21:47] TvstartupConsultant opened #3208 "Exoplayer skips so reluctantly switched to VideoView player for smooth playback"
### Issue description

Deployed Amazon's Fire TV Builder app, but discovered ExoPlayer would not provide smooth playback on full HD.  Tested another application that uses VideoView and playback is smooth.  Reluctantly switch to other application.  Downlink speed is 12mbps and bitrate of video is 4mbps so smooth playback is expected.

### Reproduction steps
Build Amazon's Fire TV Builder app; and t

[2017-08-24 21:58] TvstartupConsultant commented on #3208
Issue occurs using a live stream, but not using VODs.  Also concerned about possible issue at CDN, two CDNs were tested, but result was the same.  The variable is ExoPlayer vs. VideoView.  The goal is smooth playback.

[2017-08-24 22:13] ojw28 commented on #3208
You should report this issue to Amazon rather than here. It's hard to tell what version is being included in the Fire TV Builder app, but a search of their repository suggests it's ExoPlayer V1, which is really quite old at this point. They may also have added their own changes to the library. See also the note [here](https://google.github.io/ExoPlayer/supported-devices.html) about Amazon devices.

[2017-08-24 22:13] #3208 closed, assigned to nobody

[2017-08-24 22:16] #3171 closed, assigned to nobody

[2017-08-25 01:50] sunry2ntkh opened #3209 "error playlist"
I have problem playlist with set seekTo method
the first I have 5 items for playlist
and current play is position play index 3 of 5 items
and then I want to new items that have 3 items after click and  clear old playlist and add new 3 items to playlist
when I click back back to in old items 3 of 5 items can't not duplicate position play
================Code============================
    private

[2017-08-25 08:10] tonihei commented on #3209
I'm not exactly sure if I understand your question correctly.

What I think you are doing is to use a ConcatenatingMediaSource with 5 items. Then, you play this playlist up to item 3. And then, you like to set up a new playlist with 3 items.
Your method to set up the player looks fine (and I think it's a copy of our demo app code).
I'm not sure what you mean by "can't duplicate position play". Cou

[2017-08-25 08:15] sunry2ntkh commented on #3209
@tonihei Thank you for your answer! now I am already find the solution with that problem, It is error with the exoplayer initailize singleton pattern after that it not create new initialize it

[2017-08-25 08:20] #3209 closed, assigned to nobody

[2017-08-25 09:13] jasonchuang commented on #2477
Try the ExoPlayer demo app with the following test content for adaptive switching experiment:

1. VOD with 10s segment, [url](https://vod.straas.net/companyId/100592/1496984341rl74rdlvsh/playlist.m3u8), init with 360p and switch to 720p in few seconds
2. VOD with 30s segment, [url](https://vod.straas.net/clax/bdaswoL5/149569465170q11x9uyj/playlist.m3u8), init with 360p and defer to switching up in

[2017-08-25 11:23] alfonsoramosa commented on #2643
@erdemguven I'm planning to use this functionality soon. Download DASH DRM protected content and store it for some time.
The downloaders that you are implementing seems the right choice to do it, just a few questions:
- Are the downloaders also going to store the content on flash memory?
- Is it possible to select bitrates, languages (audio and subs)...?
- If so, is it possible to specify where? A

[2017-08-25 11:50] androidsoni commented on #3201
Yes, This is how I created `DRMSessionManager`

[code]

And this MyDrmCallback class
[code]

Player shows an error

in logcat it shows message like

[2017-08-25 14:49] ojw28 commented on #3201
I think you're probably quite close to having it working, but the logging you're seeing indicates that the player thinks the content is encrypted with a different DRM scheme than the one for which you've initialized the DrmSessionManager.

If the DrmSessionManager is being initialized correctly (as appears to be the case), then that would indicate that the player doesn't think the content is Clear

[2017-08-25 19:56] imarenco opened #3210 "Ad - Error vast empty"
### Issue description(IMA Extension)
I'm trying to use VAST files, but when it's empty, the player doesn't do content playback.

### Link to test content(Example empty vast)
- https://pubads.g.doubleclick.net/gampad/ads?slotname=/62955556/foxplay-qp-operadores-app/series/the-walking-dead/video/pre&sz=640x480&ciu_szs=&cmsid=3636&vid=1902841960&cust_params=auth_level%3Dbasic%26videoid%3D1902841960%2

[2017-08-25 23:28] james12695 commented on #2477
@AquilesCanta I've tried the ExoPlayer demo app with the following test content for adaptive switching experiment:

1. VOD with 30s segment, init with 360p and defer to switching up indefinitely due to `zero` bufferedDurationUs
2. VOD with 10s segment, init with 360p and switch to 720p in few seconds
3. LIVE with 3s segment, bufferedDurationUs is about 5 seconds in average and less than [min value

[2017-08-26 12:01] androidsoni commented on #3201
I have mpd file (inside zip) on dropbox .Please download it from here https://www.dropbox.com/s/y20s6a2mm4rfu45/Constitution.zip?dl=0

KID :  91341951696b5e1ba232439ecec1f12a
KEY ; 0a247b0751cbf1a827e2fedfb87479a2

Exoplayer java file is here :
https://www.dropbox.com/s/eb883ajhk2nxk2b/PlayerActivity.java?dl=0

Actually I download the zip file on android sdcard .Than extract the zip which contains

[2017-08-26 18:43] to-jbm opened #3211 "Can't play playready protected stream on Samsung S4 ("this device does not support the required DRM scheme")"
**Issue description**
Can't play playready protected stream on Samsung S4, and got "this device does not support the required DRM scheme" message

**Reproduction steps**
Just tried to play stream super speed (PlayReady) on the demo application on samsung S4

**Link to test content**
super speed (PlayReady) from the Exoplayer demo app

**Version of ExoPlayer being used**
2.5.1

**Device(s) and vers

[2017-08-27 02:14] LauraTBX commented on #3210
Any news about the issue?
I have the same problem!!!

[2017-08-27 08:17] ojw28 commented on #3211
The error message is correct. Only AndroidTV devices are required to support PlayReady. For Android mobile devices support is optional, and most do not support it.

[2017-08-27 08:17] #3211 closed, assigned to nobody

[2017-08-27 11:33] to-jbm commented on #3211
thank you for your  replay
but there is many android apps like "bein connect" that use playready protected streams and works on samsung s4 and all devices with android API +18

[2017-08-27 11:37] Doolali commented on #3211
ExoPlayer relies on native DRM support which for Android phone devices will be Widevine.
There are SDKs for PlayReady out there but they will also come with the hefty PlayReady licensing fees.

[2017-08-27 12:00] ojw28 commented on #3211
It should also be noted that software SDKs may be significantly less secure than native DRM solutions.

[2017-08-27 12:23] to-jbm commented on #3211
@Doolali So all those SDKs are paid ? there is no free SDK ?
@ojw28 thank you but unfortunately native solution  doesn't support playready for most of android devices

[2017-08-28 09:41] pakerfeldt opened #3212 "Support Renderers that don't consume tracks"
Previously with ExoPlayer 1 we were using two custom `Renderers`. One for showing debug information overlaid on top of the surface and another one to periodically report back to a listener when 15s of media was played. Both of them, well at least the latter, not really a `Renderer` per se but it felt pretty clean, we didn't need to periodically poll the position and we didn't need to manage any ad

[2017-08-28 10:22] ojw28 commented on #3212
We've been meaning to add support back into V2 for this for a while. Marking as an enhancement.

[2017-08-28 11:01] pakerfeldt commented on #3212
I take it as the approach is not all that crazy. Is there any reason to believe a custom `DefaultTrackSelector` wouldn't work in the meantime?

[2017-08-28 11:15] ojw28 commented on #3212
I don't really understand what your approach is. What does it mean for a track selector to return a renderer? A track selector returns track selections, and (I think?) the problem in this case is that there aren't any tracks to actually select for the renderers to consume.

I don't think it would work to invent some dummy tracks in the selector. You'd probably need to have your `MediaSource` actua

[2017-08-28 11:59] pakerfeldt commented on #3212
Sorry, maybe I was not thinking straight. The idea was to create a sort of dummy `TrackSelection` for these renderers but perhaps that's not possible. All these concepts are still new to me.

[2017-08-28 12:08] ojw28 commented on #3212
You would probably need to create dummy tracks in the `MediaSource`, and then have the `TrackSelector` select them. The `TrackSelector` can't invent dummy tracks directly. The approach is certainly possible, but it's pretty convoluted. We should add proper support for this.

[2017-08-28 17:55] sherafatpour opened #3213 "How To Easily Implement Subtitles And Sound Channels؟؟"
How To Easily Implement Subtitles And Sound Channels؟؟

[2017-08-28 18:08] MateusZitelli opened #3214 "High memory use when playing MP4 files from removable storage."
### Issue description
High memory use when playing MP4 files from removable storage.

### Reproduction steps
Add to demo app `media.exolist.json` the an entry like that:

[code]

Then launch the sample in the demo app.

### Link to test content
It worked with all videos big enough to fill the RAM.

### Version of ExoPlayer being used
r2.5.1

### Device(s) and version(s) of Android being used
Teste

[2017-08-29 05:58] dbrain opened #3215 "libstagefright.so SIGSEGV on various Android 7/7.1 devices after upgrading to 2.5.1"
### Issue description
After upgrading ExoPlayer to 2.5.1 (from 2.4.4) we are seeing a lot of user reports of a `libstagefright.so` SIGSEGV. Playback starts, but a crash occurs when the player is released. This may be specific to `Widevine+DASH`, as the demo app will not crash using the `Youtube DASH` demos, while it crashes the same as our application on `Widevine+DASH` demos.

I have a feeling th

[2017-08-29 06:54] james12695 commented on #3017
@tonihei Is there any updates for this enhancement ?

I got the same `switching up failed` issue for my LIVE HLS with 3s segment
using `AdaptiveTrackSelection` due to insufficient bufferedDurationUs.
Thanks

[2017-08-29 07:47] pakerfeldt commented on #3212
So, we tried to go this route and indeed we need to do some hacks to get it right. One thing we ran into was that `DefaultLoadControl` is not handling `Renderers` of custom type, i.e. who's track type is based on `C.TRACK_TYPE_CUSTOM_BASE`. We end up in an `IllegalStateException` in `Util.getDefaultBufferSize()` and would have to implement our own `LoadControl` to get around this. Would you say th

[2017-08-29 08:04] ojw28 commented on #3212
If that's the only issue, can you just have your renderer say that it's type `TRACK_TYPE_METADATA` (you must be using a custom type of some kind to be triggering that `IllegalStateException`)?

[2017-08-29 08:06] ojw28 commented on #3201
This will be duplicated to #3138 after a few changes have been submitted.

[2017-08-29 08:33] ojw28 commented on #3215
How are you setting the `Surface` on the player, and is it possible that the `Surface` is being cleared before the player is released? Note that if you're passing the `SurfaceView`, `TextureView` or `SurfaceHolder` to the player, this may be happening internally.

If so then I'd suggest `DummySurface` is the most likely cause. To verify this suggestion, could you please try locally modifying `Dumm

[2017-08-29 08:55] ojw28 commented on #3214
I cannot reproduce this issue on an S8. I tried with a ~100MB video and memory usage was capped at ~16MB throughout. Please provide concrete reproduction steps.

[2017-08-29 08:56] ojw28 commented on #3213
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

If you’re able to provide complete information as requested in the issue template,

[2017-08-29 08:56] #3213 closed, assigned to nobody

[2017-08-29 09:28] ojw28 commented on #3211
I do not know of any free SDKs that support PlayReady (that's not to say there definitely isn't one!). Widevine is very much the recommended route for targeting Android devices.

Note that common encryption means it's possible to have the same content support multiple DRM schemes simultaneously; it's not the case that you'd need to generate two copies of the content to support both PlayReady and W

[2017-08-29 09:54] dbrain commented on #3215
@ojw28 The app is using `SimpleExoPlayerView` and `SimpleExoPlayer` and leaving it up to `SimpleExoPlayerView` to handle the `Surface` side of things. There's nothing specific in our codebase touching the `Surface`, and `SimpleExoPlayer.release()` is called `onStop()`.

Which is pretty much exactly how the demo app is set up looking at it, and is also crashing at the same point.

I'll get a build

[2017-08-29 10:23] andrewlewis commented on #3206
ExoPlayer supports gapless playback of MP3 files that contain gapless metadata in Xing and ID3 headers, and MP4 files that have udta boxes or edit lists with gapless metadata. If you provide the media you're trying to play, we can check that the required metadata is present.

As Toni points out, it's also necessary to make sure the player has the next MediaSource sufficiently far in advance of pla

[2017-08-29 10:41] dbrain commented on #3215
@ojw28 Looks like that change resolved the crash. How do we go about getting a fix in for a future release?
Happy to create a PR myself if you can give me some guidance on the best solution.

Seems there's a `deviceNeedsSecureDummySurfaceWorkaround` method that returns true for specific devices, but there's over 20 affected devices that I know about in this scenario.

For now we'll be dropping the

[2017-08-29 10:42] andrewlewis commented on #3210
I couldn't reproduce this error using the ad tag provided above. I see an AdError VAST_EMPTY_RESPONSE 1009, but this is handled in ImaAdsLoader by resuming content. Please could you check the steps to reproduce? Thanks.

[2017-08-29 11:05] andrewlewis commented on #3175
Please could you provide specific steps to reproduce in the ExoPlayer demo app? Do you see this behavior if you loop one of the samples in the ExoPlayer demo app for example? Is it device-specific?

Do you see anything suspicious if you attach the [Android monitor](https://developer.android.com/studio/profile/am-basics.html) in Android Studio? It would be interesting to look at a method trace, hea

[2017-08-29 11:12] andrewlewis commented on #3058
Did you find a workaround for this? As suggested above, I wonder whether you can just prepare the player in the paused state, at which point you should get an audio session ID, then unpause the player only once the equalizer is set up.

[2017-08-29 11:17] MateusZitelli commented on #3214
Ok, [here is](https://drive.google.com/file/d/0B22nLuGDIyWSSDJGTGpYRlB3Rms/view?usp=sharing) the clip that triggers the event.

[2017-08-29 11:36] mkaflowski commented on #3058
Not yet. I have beed waiting for a release with DynamicConcatenatingMediaSource and will try do something with that.

[2017-08-29 13:25] ojw28 commented on #3215
That's unfortunate. I think we'll need to restrict the feature and roll it out more cautiously, due to the number of devices that are affected. I suspect all (or nearly all) of the affected devices return false from `packageManager.hasSystemFeature(PackageManager.FEATURE_VR_MODE_HIGH_PERFORMANCE);`, so we could try requiring that to be true if `SDK_INT < 26` for use of secure DummySurface to be en

[2017-08-29 13:40] ojw28 commented on #3214
The file isn't interleaved properly (it doesn't contain any audio at all until nearly 2GB into the end of the file (i.e. right at the end). Audio and video should really be interleaved approximately evenly throughout the file.

I don't think we have any particular need or intention to support this type of media. Whatever's producing this type of media should do a better job of it ;).

[2017-08-29 13:40] #3214 closed, assigned to nobody

[2017-08-29 14:13] andrewlewis commented on #3180
Actually, this error is caused by timing out loading the media URL in the VAST response, not loading the VAST response itself, so I think `setVastLoadTimeout` won't help. It appears that there is no way to customize the media loading timeout on Android (though it is apparently possible with the HTML5 SDK).

I tried playing the URIs provided via email several times and didn't see this error. The ad

[2017-08-29 14:28] ojw28 commented on #3203
The issue description isn't particularly clear. I don't really understand what the two code blocks referenced are for (why are there two blocks?). The second one doesn't seem to properly close either input or output streams, and so appears to be incomplete. Please provide complete information if you want us to take a look.

[2017-08-29 15:09] andrewlewis commented on #3160
Are you saying that `simpleExoPlayerView.setVisibility(View.GONE);` doesn't hide the first player, but `simpleExoPlayerView.getVideoSurfaceView().setVisibility(View.GONE)` does hide it?

For the flickering issue, I wonder whether this is due to the shutter background color (see #3172).

[2017-08-29 15:24] andrewlewis commented on #3159
There's not really enough information here to give specific advice, and it's probably beyond the scope of the issue tracker anyway. If the server is just providing an encrypted file, you could decrypt in a custom `DataSource` (possibly like `AesCipherDataSource`).

[2017-08-29 15:24] #3159 closed, assigned to nobody

[2017-08-29 15:47] moises-orduno commented on #3203
@ojw28 Hi, I'm just trying to know if the new cache option can be used to download the video chunks as mp4 from the .mpd url

[2017-08-29 16:55] blennerSilva commented on #3104
Guys im sorry to keep pounding on this issue but i ran out of aways to try to fix it...and i dont quite understand de concept of foreground service so here is my service code plz give a hint on how to fix it

[PlayerBackgroundService.java.zip](https://github.com/google/ExoPlayer/files/1261048/PlayerBackgroundService.java.zip)

[2017-08-29 17:23] ojw28 commented on #3104
From the link I posted above:

Which you're not doing anywhere in your code, so it's unsurprising that your app is being killed. In any case, I'd suggest you ask somewhere like StackOverflow (and read the link I already posted above) to learn about foreground services, since it isn't an ExoPlayer specific topic.

[2017-08-29 17:23] #3104 closed, assigned to nobody

[2017-08-29 17:46] kevinwang5658 opened #3216 "Seeking local mp3 file causes Source Error"
Using seekTo() on a ExtractorMediaSource with a local mp3 file will cause a Source Error at the end of the file if a seek was ever preformed that went outside of the buffered region. If all seeks are done within a region that has already been buffered then this exception won't occur. If the ExtractorMediaSource is used within a ConcatenatingMediaSource, this error will cause the ConcatenatingMedia

[2017-08-29 19:58] chadvonburgess commented on #3180
I do see this error when I modify the ExoPlayer's first ad sample. it appears that in the method onAdEvent() gets called and we get a resume content requested which causes the ad to stop playing, even though it has clearly not reached the end of playing. We want the ad to play all the way through and then move to play the content I will send more updated logs

[2017-08-29 20:49] JerCodeWhisperer commented on #1583
Hi, we are looking to use this feature.  At the present time is it being worked on or is it planned?

[2017-08-29 21:46] wvpaf commented on #2334
Looks like Samsung pushed updates back in Mar/Apr. Not sure if the carrier involved picked up the fixes.

[2017-08-29 21:46] #2334 closed, assigned to wvpaf

[2017-08-29 22:01] wvpaf commented on #3121
This seems to be working as intended. From this site : https://developer.amazon.com/public/solutions/devices/fire-tv/docs/device-and-platform-specifications
gen 1 fire stick only supports hdcp v1.4.

[2017-08-29 22:01] #3121 closed, assigned to wvpaf

[2017-08-29 22:06] wvpaf commented on #3086
To answer your question you are always able to play what content you desire on a device, it is up to the content provider to make the determination off of the device's profile at the time of playback.,
Glad you are able to work around the exception.

[2017-08-29 22:06] #3086 closed, assigned to wvpaf

[2017-08-29 22:11] wvpaf commented on #2622
quick update there is ongoing work to investigate and address this issue. Thank you for you patience.

[2017-08-29 22:18] ojw28 commented on #3201
Good news: I was able to get the sample content working. You need to use the very latest `dev-v2` branch, since there are some changes that are required to successfully play this kind of content that haven't made it into a stable release yet. On that branch, you can initialize your `DrmSessionManager` as follows to play the content:

[code]

Note that `CiR7B1HL8agn4v7fuHR5og`and `kTQZUWlrXhuiMkOez

[2017-08-29 22:19] ojw28 commented on #3201
Closing, since this is now working in the `dev-v2` branch, and the one piece of remaining work is tracked in #3138.

[2017-08-29 22:19] #3201 closed, assigned to nobody

[2017-08-29 22:21] ojw28 commented on #3138
Playback should now work in the `dev-v2` branch, unless the key request/response happens to include a character that differs between base64 and base64url encodings. We need to put a workaround in place to account for the fact the platform's ClearKey CDM (incorrectly) uses base64 rather than base64url. This will be fixed in a future platform release, but of course we want playback to work on older

[2017-08-29 22:23] wvpaf commented on #3150
Kevin, thank you for your detailed update.

as a note here is similar report; https://github.com/google/ExoPlayer/issues/3112

[2017-08-29 22:23] #3150 closed, assigned to wvpaf

[2017-08-29 22:23] wvpaf commented on #3112
Looks like another user has determined a 'fix' work around for this.  https://github.com/google/ExoPlayer/issues/3150

[2017-08-29 22:29] wvpaf commented on #3204
@HungamaSurat  can you please provide a full ADB bugreport and logcat. the snippet does not provide enough context.

[2017-08-29 22:47] ojw28 opened #3218 "dev-v2 does not compile"
Sorry for the inconvenience. This is caused by an incorrect merge configuration. We'll get it fixed asap.

[2017-08-29 22:59] ojw28 commented on #3218
Fixed.

[2017-08-29 22:59] #3218 closed, assigned to nobody

[2017-08-30 05:00] sherafatpour opened #3219 "track selector style(dialog)"
how to change trackplayer style(change dialog style) or use custom trackselector

[2017-08-30 05:12] vishnuganta22 commented on #3160
@andrewlewis setting `simpleExoPlayerView.getVideoSurfaceView().setVisibility(View.GONE)` fixed our issue

[2017-08-30 05:18] rranjithk opened #3220 "android.media.MediaDrm$MediaDrmStateException: Failed to get provision request: DRM vendor-defined error: -2990"
Issue description

This issue happen when we are trying to play widevine Dash:Mp4,H264(WV:Secure HD) format video does not play.
We'd like to know what this error code.

Note: exoplayer demo app(Github)  itself this issue is there

Version of ExoPlayer
2.0

Device:
 MI 4A

Android Version:
6.0.1

A full bug report captured from the device

[code]

[2017-08-30 05:28] rohit5ram commented on #3160
@andrewlewis may be setVisibility() of SimpleExoPlayerView should be overridden such that `simpleExoPlayerView.setVisibility(View.GONE);` will setVisibility to the whole viewgroup

[2017-08-30 05:33] rohit5ram commented on #3175
@andrewlewis  Android monitor didn't show any thing suspicious. The CPU and Memory profile was very stable. @vishnuganta22 can help you with the steps to reproduce. It's not device specific as we tried with AndroidMediaPlayer and everything worked brilliantly.

[2017-08-30 07:11] androidsoni commented on #3138
ok sure ...Thank you :)

[2017-08-30 07:16] JacksonFoo commented on #3183
@Stane1983 Hi Stane, Sure.
This issues is happening only h264 1080p not vp9 format, in additional I don't use vp9 software decoder provided by exoplayer. For vp9 I able to play any video quality up to 4k UHD, but h264 only able to play up to 720p not even 4k UHD.

My temporary solution is cap the resolution or quality to 720p.

Here are the details of X96 full details of firmware info.
https://www

[2017-08-30 08:02] coolavdhesh commented on #2789
how to implement setVolume method for IJkExoplayer?

[2017-08-30 08:30] andrewlewis commented on #2789
@coolavdesh This issue tracker is only for ExoPlayer issues. I suggest asking the maintainers of that project.

[2017-08-30 08:40] andrewlewis commented on #3219
Pass a `TrackSelector` implementation when creating the player via one of the factory methods in `ExoPlayerFactory`. As a starting point for understanding track selection, I suggest reading the class-level documentation for [`DefaultTrackSelector`](https://google.github.io/ExoPlayer/doc/reference/com/google/android/exoplayer2/trackselection/DefaultTrackSelector.html) and the other documentation it

[2017-08-30 08:40] #3219 closed, assigned to nobody

[2017-08-30 09:21] andrewlewis commented on #3160
`simpleExoPlayerView` is a parent of the `SurfaceView`, so the `SurfaceView` should be hidden when you hide its parent player view (hiding a view group hides its children). This is the behavior I see in the demo app if I hide the player view, but it's not consistent with the behavior you've described.

If you snapshot the view hierarchy after hiding the player view do you see its child `SurfaceVie

[2017-08-30 09:36] jrocharodrigues commented on #2603
Hi,
Thanks for the answer.
No, i'm not a CWIP partner so i guess there's nothing i can do...

Just one question, since you say no playback is expected (due to the device only supports L3), shouldn't the player exit or throw an exception instead of only playing audio?

[2017-08-30 10:41] andrewlewis commented on #3216
I think this is caused by incorrectly calculating the number of bytes remaining when using `ContentDataSource`, which means that reaching the end of the stream is not detected.

[2017-08-30 11:02] jayachandrak opened #3221 "Ad frame removal"
![image](https://user-images.githubusercontent.com/1639425/29869321-242cb6e6-8da0-11e7-9acc-8dd403d5f208.png)

Ad frame is still visible even after ad completion and content is in loading state so i would like to show either black screen or artwork in background

Please suggest what can be done this also applicable for both pre roll and mid roll

Thanks

[2017-08-30 11:54] rofeifei opened #3222 "The temporary keys authenticated .m3u8 vod using exoplayer"
Hi,
I want to play the authenticated .m3u8 vod using exoplayer,to authenticate we append our secure token then the server generated temporary keys(timestamp,and client id) as parameters to the query requested in exoplayer ,the url looks like the follow:
ex:https://xxxxxxxxxxxxxx/video/accounts?timestamp={timestamp}&clientId={clientId}&token={token} ,so i can play it&it works fine.but,once the secu

[2017-08-30 13:24] ojw28 commented on #3220
Please try reproducing with a more recent ExoPlayer release (2.5.x). Thanks.

[2017-08-30 13:27] ojw28 commented on #3220
I think this was fixed in 2.0.3 (the corresponding entry in the release notes is: "Fixed L3 Widevine provisioning"). I'd strongly advise upgrading to 2.5.x.

[2017-08-30 14:09] AleksanderLevadniy commented on #2014
Hi! Any progress on this issue?

[2017-08-30 14:58] Stane1983 commented on #3183
@JacksonFoo are you building firmware yourself? What I'm interested in if you have installed ReadLog Amlogic application to grab all logs to USB and send it to me so I can forward it to Amlogic engineer for further inspection.

[2017-08-31 01:38] james12695 opened #3224 "AdaptiveTrackSelection failed to switch up for live hls"
I've tried the ExoPlayer demo app with my LIVE HLS with 3s segment and failed to switch up high quality track due to insufficient bufferedDurationUs in `AdaptiveTrackSelection`,  and found the similar issues #2477 and #3017 but both are marked as enhancement. So can we mark this issue as `bug` instead of `enhancement` and have a rough plan for this fix?
Thanks

[2017-08-31 04:08] dbrain commented on #3215
Does `(Util.SDK_INT >= 24 && Util.SDK_INT < 26 && !hasVrModeHighPerformanceSystemFeatureV24(context.getPackageManager()));` look sane enough?

I brought back the `hasVrModeHighPerformanceSystemFeatureV24` method which seems to have been removed in `dev-v2`. So I'm checking that device is `>= 24` i.e. has `FEATURE_VR_MODE_HIGH_PERFORMANCE` at all, `< 26` because presumably the issue is fixed after

[2017-08-31 04:23] dbrain commented on #3215
The above solved the issue on the `Moto G5 Plus` at least.

[2017-08-31 09:01] ojw28 commented on #2477
- Why would you have 30 second segments? That's way longer than is recommended, and feels like it would be a bad choice for pretty much any possible scenario. I think Apple now recommend a 6s segment duration (having previously recommended 10s). In short, I don't think this is a case we need to worry about, since streaming providers really shouldn't be using segment durations anywhere near this lo

[2017-08-31 09:03] ojw28 commented on #3224
Duplicate of #3017. Please avoid filing duplicate issues.

[2017-08-31 09:03] #3224 closed, assigned to nobody

[2017-08-31 09:20] ojw28 commented on #3017
@james12695 - Agree this should be classed as a bug rather than an enhancement. Reclassifying accordingly, and we'll take a look over the next week or two. It's possible for you to work around this issue in application code in the meantime (see my "In the short term" further up this post). Thanks!

[2017-08-31 10:52] ojw28 commented on #2603
Whether you'd expect playback to succeed depends on how your license is configured (e.g. whether the license policy requires a secure output path, which L3 is unable to provide).

If the license requires a secure output path and the device only has L3, then I'd expect playback to fail with a `CryptoException`. If the license does not require a secure output path then I'd expect playback to succeed

[2017-08-31 16:30] #3216 closed, assigned to andrewlewis

[2017-08-31 16:30] #3197 closed, assigned to nobody

[2017-08-31 17:03] q-litzler opened #3228 "WebVTTCueParser Matcher and NullPointerException"
### Issue description
It is possible to encounter a NPE [here](https://github.com/google/ExoPlayer/blob/release-v2/library/core/src/main/java/com/google/android/exoplayer2/text/webvtt/WebvttCueParser.java#L102), when `secondLine` is null.

`secondLine` can be null when the subtitle file is not well formatted.

Here is a [link](http://bugs.java.com/bugdatabase/view_bug.do?bug_id=6178785) to the Reg

[2017-08-31 21:48] chadvonburgess commented on #3180
I have sent additional information Via email to dev.exoplay@gmail.com. If you use the information provided the error is repeatable directly from the demo

[2017-09-01 01:44] james12695 commented on #3017
Thank you for your kind help 😃

[2017-09-01 05:59] coffeeforyou opened #3229 "Different speed of audio playback on different devices"
At first, thanks a lot for such an amazing and flexible library! I'm writing because of an oddity, which I don't know how to explain or resolve.

**When I play back audio on my HTC One, I noticed that it runs slightly faster than the video (with the same audio) on my laptop (= 1s faster after roughly one hour of playback).** At the start of the playback, the audio on the laptop and the phone is pe

[2017-09-01 07:09] HungamaSurat commented on #3204
Hi,

Nice to hear you.
We already attach Log.txt file.
Please check logs in this link.
https://github.com/google/ExoPlayer/files/1248045/Log.txt

Thanks

[2017-09-01 13:14] nahojkap opened #3230 "SmoothStreaming URLs that uses parenthesis "(...)" as part of the URL causes server side errors"
### Issue description
SmoothStreaming URLs that uses parenthesis "(...)" as part of the URL are not correctly preserved.  This kind of format has been seen when Microsoft MediaServices are used.

For example, http://host/content.ism/manifest(filter=x) is changed by SsMediaSource.java into http://host/content.ism/manifest(filter=x)/Manifest which may produce an invalid URL towards the server side.

[2017-09-01 14:50] #2974 closed, assigned to nobody

[2017-09-01 17:13] mahmoud-bahaa opened #3232 "Playing .h264 content fails"
I get the following error when I try to play the file: java.lang.IllegalStateException: Top bit not zero: -7615023332543036719. These files are playable by VLC.
Is there another extractor I should be using?

### Issue description
I'm using ExtractorMediaSource to play .h264, however the exact mp4 content plays fine. This might be a missuse from my side.

### Reproduction steps
Playing any .h264 (r

[2017-09-01 19:36] AquilesCanta commented on #3232
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

If you’re able to provide complete information as requested in the issue template,

[2017-09-01 19:36] #3232 closed, assigned to nobody

[2017-09-02 04:22] JacksonFoo commented on #3183
@Stane1983 Nope, the box are using original firmware. Alright sure I will install the [readlog](https://www.dropbox.com/s/rnt8j86g8ebgmcu/ReadLog.apk?dl=0) and grab the log for you.

Thanks for helping out.

[2017-09-02 13:37] Ufosek opened #3233 "getCurrentPosition(), after seekTo - accuracy problem."
Hi,

We are trying to develop a Karaoke app. We already developed a version on iOS with _AVPlayer_ and everything works great but on Android we have an issue we cannot solve for a long time.

App consists of animation layer (JS/WebView animation) and music. Animation is embedded in WebView and it has method _update(songCurrentTime)_ which has to be invoked periodically to synchronize animation wit

[2017-09-02 17:14] #3037 closed, assigned to ojw28

[2017-09-03 00:15] ojw28 commented on #3233
If you're playing mp3 files, that's your problem. You should use a container format that's better suited for exact seeking, since that's a core requirement for your use case. MP4, MKV and WebM would all be appropriate choices. There's some additional context regarding exact seeking in mp3 files [here](https://github.com/google/ExoPlayer/issues/328#issuecomment-168532148).

[2017-09-03 14:22] kinhdang opened #3235 "Please help to fix this case issue with IMA extension."
Hello all !

We use Exoplayer 2.5.1 with IMA extension in demo app, play live streaming m3u8, Everything works properly, but sometime we see two issue:
- Ads counter show wrong, it show 30-29-28-27 then repeat 30-29-28-27....
- If buffering occurent in video ads playing, then when exoplayer ready, video ads bypass. player continue with main streaming.

@foreach repear counter ads we only see log :

[2017-09-04 10:45] Ufosek commented on #3233
That was exactly that! Thx!

[2017-09-04 10:45] #3233 closed, assigned to nobody

[2017-09-04 12:09] jarnova opened #3236 "Video not rendering properly on Nexus 7(2nd gen) when switching from one SimpleExoPlayerView to another one within a couple seconds of playback starting"
### Issue description
After upgrading from ExoPlayer 2.4.4 to 2.5.1 we are having an issue with Nexus 7 devices not switching properly from one SimpleExoPlayerView to another one. What we get is basically a gray screen with a couple old frames on top of the screen partly visible.

### Reproduction steps
This behavior occurs if the user rotates the screen during the first few seconds from starting

[2017-09-04 12:44] mohammad6411 opened #3237 "i m perfectly using ExoPlayer with english subtitles but when it comes to Persian Language Subtitles it just shows erroneous characters like <?> instead of actual subtitle . how can i fix it ?"
*** ISSUES THAT IGNORE THIS TEMPLATE WILL BE CLOSED WITHOUT INVESTIGATION ***

Before filing an issue:
-----------------------
- Search existing issues, including issues that are closed.
- Consult our FAQs, supported devices and supported formats pages. These can be
  found at https://google.github.io/ExoPlayer/.
- Rule out issues in your own code. A good way to do this is to try and
  reproduce t

[2017-09-04 13:37] elsparro opened #3238 "Framedrops playing TS file"
### Issue description
Lots of frame drops when playing a TS file with exoplayer demo, works fine with basicmediadecoder example.
It plays correctly a few seconds and then start to drop frames (50 frames in 3-6s)

### Reproduction steps
Just put the file on a web server, add a link in media.exolist.json and play it.

### Link to test content
Emailing a link to sprend

### Version of ExoPlayer being

[2017-09-04 13:41] andrewlewis commented on #3235
Please could you provide links to the media and ad tag you're playing so we can reproduce the issue? If you don't want to share them on GitHub please email them to dev.exoplayer@gmail.com.

[2017-09-04 13:52] tonihei commented on #3237
It would help if you could fill out the issue template instead of just copying it.
Most importantly, you should tell us what kind of format your media and subtitles are in and give an example media file to reproduce the problem.

[2017-09-04 14:28] #3215 closed, assigned to nobody

[2017-09-04 14:59] ojw28 commented on #3233
Great :). For added context: It is theoretically possible to seek accurately in mp3 files. In the worst case the player could just download the whole stream, parse it and build its own sample accurate time to byte-offset index.

It's more the case that it's not possible to seek accurately in an efficient way. Where this is the case we opt to do an approximate seek instead, because for most use cas

[2017-09-04 15:11] ojw28 commented on #3229
The underlying platform is responsible for playing the audio we feed to it, and for playing it at the correct rate. So it's likely that the HTC One platform implementation is just playing the audio very slightly faster than 1x speed. This wouldn't necessarily be related to any publicly accessible clock, although it is true that clocks on mobile devices tend to have some variance in them.

It's qui

[2017-09-04 15:57] ojw28 commented on #3236
I doubt this worked particularly well prior to 2.5.1 either (there would have likely been a noticeable delay before video started again after the rotation)?

If at all possible, you'll likely find the experience is much better if you can handle the orientation change yourself and avoid recreating the activity. How feasible that is depends on how complex your UI is, and how much of it you need to s

[2017-09-04 16:35] #3145 closed, assigned to nobody

[2017-09-04 16:35] ojw28 commented on #3145
Closing due to lack of information.

[2017-09-04 16:44] #3186 closed, assigned to nobody

[2017-09-04 16:44] #3168 closed, assigned to nobody

[2017-09-04 19:14] ojw28 commented on #3222
Does your authentication mechanism work correctly with other players or platforms? If so, please could you clarify what they do differently that you think ExoPlayer isn't doing?

It sounds a bit like an application or configuration issue to me. You can presumably obtain a fresh URL before starting playback, to handle the case where the app has been in the background for a long period of time since

[2017-09-04 23:03] ojw28 commented on #3111
Closing due to lack of information.

[2017-09-04 23:03] #3111 closed, assigned to nobody

[2017-09-04 23:03] dbrain commented on #3228
This looks similar to https://github.com/google/ExoPlayer/pull/3185 which was an NPE when parsing the timing line of a subrip subtitle. Presumably also due to a corrupted subtitle file, but I could not reproduce myself (just saw Crashlytics issues).

Might be worth reviewing how all of the sub parsers handle corrupt subs / EOF in unexpected places.

[2017-09-04 23:05] ojw28 commented on #1748
Closing because one of the issues described here was determined to be an application issue, and we don't have reproduction steps for the other.

[2017-09-04 23:05] #1748 closed, assigned to nobody

[2017-09-05 02:49] kinhdang commented on #3235
Thanks, and we had provided links in email.

[2017-09-05 06:37] jarnova commented on #3236
Yeah it's true that on previous versions the change wasn't as seamless as it is in the newer versions and the user experience is much better on most devices that we have tested but unfortunately it seems to introduce a new issue at least on this device.

I think we should re-evaluate if we can have a common layout for landscape and portrait orientation in the future to make it more compatible with

[2017-09-05 07:45] jayachandrak commented on #3221
@andrewlewis You want me to write down reproducible steps. i am waiting for your suggestion on the same

[2017-09-05 08:10] andrewlewis commented on #3221
Yes, please provide steps to reproduce in the demo app, including the media and ad tag URIs.

[2017-09-05 12:22] guness commented on #1576
I don't know if it is related but here what I notice with 1080p 60fps video on a low spec device:

When I run the video fullscreen it plays flawless, however when screen has some toolbar, status bar or FAB, player drops some frames noticeable with bare eye.

[2017-09-05 12:38] ojw28 commented on #1576
That implies you're just hitting the limit of what the device is capable of. The graphics pipeline has more work to do when there are toolbars etc visible, because it has additional layers that need to be composited. Depending on how the device implements this the overhead may be negligible (because it's able to do it in hardware) or large (because the limit on the number of layers that can be com

[2017-09-05 12:43] ecorengia commented on #3160
Able to replicate the same issue on Android 7.0 using a Moto G5 plus. Same version of Exoplayer.

[2017-09-05 12:51] ojw28 commented on #3236
Reproduced. It's really quite bad :(. Will blacklist use of `DummySurface` for this device. Thanks for reporting!

[2017-09-05 12:51] guness opened #3239 "Looping breaks after several runs"
### Issue description
I am trying to loop a single video from sdcard. (Big Buck Bunny 1080p 60fps)
It runs several turns with my current setup and fails to start a new one, freezes on last frame of the video.
I have used SurfaceView, TextureView and SimpleExoPlayerView, result is same for all, loop breaks after some time.
I am not seeing any log cat logs from ExoPlayer, also `onPlayerError` is not

[2017-09-05 12:58] ojw28 commented on #3236
It's actually not `DummySurface` causing the issue, since the same problem happens switching directly between two real `Surface` instances. We probably need to disable use of `MediaCodec.setOutputSurface` on this device.

[2017-09-05 13:42] marcelomourasouza commented on #2277
I solve this problem (in Kotlin):

        simpleExoPlayerView.setControllerVisibilityListener { visibility ->
            val layout = activity.findViewById<LinearLayout>(R.id.ll_customPlayBackControlView)

            if (layout.tag != "IN_ANIMATION") {
                when (visibility) {
                    View.GONE -> {
                        layout.tag = "IN_ANIMATION"

[2017-09-05 15:54] ojw28 commented on #3236
Should be fixed in `dev-v2`. Please verify!

[2017-09-05 15:54] #3236 closed, assigned to nobody

[2017-09-05 15:54] #3228 closed, assigned to nobody

[2017-09-05 16:53] ojw28 commented on #1049
We can do better than failing gracefully. It should be fairly straightforward to allow playback, but not allow adaptation, for this type of DASH content. Issue remains low priority, however, since this type of stream is not common in practice as it violates common DASH profile requirements and the DASH IF guidelines.

[2017-09-05 18:32] ojw28 commented on #3160
Please could someone provide a simple patch to our demo app that makes it possible to reproduce the problem (without us spending a lot of effort)? It definitely shouldn't be necessary to manually set the visibility of the child video surface.

[2017-09-05 18:40] Droppers commented on #2277
@marcelomourasouza this only works partially, if you want the controls visible again you need to tap the view 2 times.

[2017-09-05 20:05] coffeeforyou commented on #3229
Thanks a lot for the comprehensive answer! Actually, I don't know to which extent this could be an issue - it will depend on the number of devices which behave similarly to my HTC One, once I publish my app. I only have three devices to test on.
Maybe, if you have any other ideas where I could search or what I could try out, I'd be happy to hear them. My latest unsuccessful attempt was to find the

[2017-09-05 20:09] ojw28 commented on #3229
When I ask whether it's a real issue, I guess what I'm really asking is whether your app really needs audio to play out at _exactly_ 1x speed (e.g. because you're synchronizing audio playback across multiple devices, or similar). If you're just doing media playback, a slightly off playback speed doesn't seem like a problem your users would notice.

If you are synchronizing audio across multiple de

[2017-09-05 20:09] #3229 closed, assigned to nobody

[2017-09-05 22:12] chadvonburgess commented on #3180
Is there any additional information than can be delivered on your side of things? or do we need to provide more information?

[2017-09-05 22:16] chadvonburgess commented on #3180
Also talked to the IMA people over here at their boards : https://groups.google.com/forum/#!topic/ima-sdk/3FFR55HyN6g

they are suggesting that it might be something wrong with the implementation. Also I tested these tags in their player implementation and it would appear to work there.

[2017-09-05 22:22] wvpaf commented on #3143
@ram992  having full ADB bugreports and logcats is preferred as snippets do not provide full context of the errors.

[2017-09-05 22:30] wvpaf commented on #3204
@HungamaSurat, please provide a full ADB bugreport and logcat as partial reports do not give enough context to troubleshoot.

[2017-09-06 02:51] xdestiny110 opened #3240 "[Question]How to adjust volume separately in channel 7.1?"
I want to adjust volume of single audio channel such as LF or RF. Is there some API available? If not, could you give me a suggestion?

[2017-09-06 04:51] rustyshelf opened #3241 "Add support for building a SeekMap based on ID3 MLLT tag"
### Issue description
When playing back the file linked to below ExoPlayer determines the duration to be 1 hour and 18 seconds. Every other playback framework I could find (Chrome Browser, iOS AVPlayer, Quicktime, VLC, Logic) all report the length of 29 minutes, 20 seconds. Interestingly VLC shows 1:00:18 before you hit play on the file, then changes it to 29 minutes.

Oddly ExoPlayer seems to pla

[2017-09-06 05:08] Kovartthan commented on #91
@Saqrag  your code makes correct rotation for the video in pre- lollipop versions ?

[2017-09-06 07:47] MuhammadFarooq opened #3242 "GroupTrack issue regarding subtitle"
In the example the class ExoPlayerImp.java TrackGroups are show the values but when i integrate the library in my project TrackGroup is showing null value , i am just stuck can you please guide out of this issue ?

[2017-09-06 07:50] andrewlewis commented on #3240
We don't have a way to do this at the moment. #2659 tracks the enhancement.

[2017-09-06 07:50] #3240 closed, assigned to nobody

[2017-09-06 08:51] vishnuganta22 commented on #3160
@ojw28 @andrewlewis
 Made a simple patch on your demo App [link](https://github.com/vishnuganta22/ExoPlayer/tree/Issue3160)

Steps to Reproduce on DemoApp
1.Just play the Custom Playlist

[2017-09-06 09:29] tonihei commented on #3239
I can reproduce your problem on another device and it's also independent of the view you use.

The reason behind this is that the media file is broken because the audio track is slightly shorter than the video track. As a result the player switches to buffering in order to wait for audio that will never come. When playing this media on its own without looping, this is not a problem, because all st

[2017-09-06 09:30] #3239 closed, assigned to tonihei

[2017-09-06 09:39] ojw28 commented on #3180
This is a bug in ExoPlayer, where we incorrectly apply a position offset related to the content to the position during the ad playback. This causes us to report incorrect ad playback positions to the IMA library, which causes the IMA library to think that the ad isn't playing, which triggers the error.

The issue only occurs for HLS content that uses PROGRAM-DATE-TIME tags, since it's these that m

[2017-09-06 10:14] jarnova commented on #3236
Works great in dev-v2 now. Thanks for the quick fix.

[2017-09-06 10:44] ojw28 commented on #3160
I can reproduce this, thanks. This looks like a platform bug related to `SurfaceView`, since it doesn't reproduce using `TextureView`. It also doesn't reproduce on a device I have running Oreo, so I'm guessing it's been fixed. was fixed in the platform.

We'll add a workaround that explicitly propagates the visibility set on `SimpleExoPlayerView` to its child `surfaceView` (which is identical to w

[2017-09-06 11:01] ojw28 commented on #3235
The repeating ad counter and the ad possibly ending prematurely are due to the same issue as https://github.com/google/ExoPlayer/issues/3180, and will be fixed shortly. I think this will most likely fully resolve your problem, so marking as a duplicate. Thanks!

[2017-09-06 11:01] #3235 closed, assigned to andrewlewis

[2017-09-06 12:21] vishnuganta22 commented on #3175
@ojw28 and @andrewlewis
Any update on this

[2017-09-06 12:37] yubaolinfish opened #3243 "Hello: how can I change the code rate when playing HLS streaming?"
Hello: how can I change the code rate when playing HLS streaming?

[2017-09-06 14:22] guness commented on #1874
Just checked several examples; on most of the media, audio and video durations do no match exactly.
Actually, they are always different by at most half a second.

As a result, most of the videos loop nice for a long time, but some of those hit this issue.

[2017-09-06 14:59] #3156 closed, assigned to nobody

[2017-09-06 14:59] #3160 closed, assigned to nobody

[2017-09-06 15:00] ojw28 commented on #3180
Should be fixed by the change ref'd above.

[2017-09-06 15:00] #3180 closed, assigned to andrewlewis

[2017-09-06 15:21] ojw28 commented on #3210
I'm able to reproduce this, but it looks like everything is working as intended to me. The server isn't providing us with an ad in the VAST response, so we're not playing one. Playback of the content continues successfully. Please let us know if you disagree :).

[2017-09-06 15:21] #3210 closed, assigned to andrewlewis

[2017-09-06 15:24] ojw28 commented on #3243
Please provide more detailed information. I don't understand what this means; sorry!

[2017-09-06 15:45] ojw28 commented on #3210
Correction: I'm not able to reproduce the "player doesn't do content playback" part of this issue. I see VAST_EMPTY_RESPONSE but the content then plays correctly, which is the same as what @andrewlewis observed.

If you're still seeing this issue please provide complete information including a full bug report. The log snippet at the top of this issue doesn't contain any information about the conte

[2017-09-06 18:35] fathallah1990 opened #3247 "add SimpleExoPlayerView Controls on Lock Screen and Notifications"
how to add SimpleExoPlayerView Controls on Lock Screen and Notifications. I want to create notification player control when start play music on activity.

[2017-09-06 18:41] ojw28 commented on #3247
I'd suggest you give [this blog post](https://medium.com/google-exoplayer/the-mediasession-extension-for-exoplayer-82b9619deb2d) a read, as a starting point!

[2017-09-06 18:41] ojw28 commented on #3242
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

If you’re able to provide complete information as requested in the issue template,

[2017-09-06 18:41] #3242 closed, assigned to nobody

[2017-09-07 09:20] yubaolinfish commented on #3243
We have a multi bit rate stream, and how do we use exoplayer for seamless handover?

[2017-09-07 09:23] yubaolinfish commented on #3243
We have a multi bit rate stream, and how do we use exoplayer for seamless handover?
Is it controlled by the parameters of MediaFormat?

[2017-09-07 09:23] xdestiny110 opened #3248 "[Question]Is exoplayer support 7.1 AAC?"
I know exoplayer support 7.1 in EAC from issue #3161 . I wonder is exoplayer support 7.1 AAC?
If not, is that in road map?

[2017-09-07 09:29] ojw28 commented on #3243
We adapt between the different variant streams automatically based on current network conditions. If you want to customize the adaptation logic, you should look in the `trackselection` package as a starting point.

[2017-09-07 09:39] andrewlewis commented on #3248
Yes, it should just work. For example, if you're playing this stream on an Android TV device the device will decode all eight channels and send them as PCM data over the HDMI connection. Or on a phone with stereo speakers the audio channels should be downmixed to stereo. Let us know if you have any problems.

[2017-09-07 09:39] #3248 closed, assigned to nobody

[2017-09-07 10:25] JacksonFoo commented on #3183
@Stane1983 Here are the logs that you have requested [https://www.dropbox.com/s/vx7lk095smep1ts/logcat_and_device_info.zip?dl=0](url) , please let me know whether this sufficient for you.

[2017-09-07 10:52] rranjithk commented on #3220
I tried with 2.5.x but I am facing the same issue

A full bug report captured from the device:

[code]

[2017-09-07 11:00] xdestiny110 opened #3249 "Exoplayer can not play mp4 file with 7.1 AAC"
### Issue description
When play back mp4 file with 7.1 AAC, Exoplayer does not work. However it works with 5.1 AAC. According to #3248, Exoplayer is able to play 7.1 AAC.

### Reproduction steps
Player [this file](http://101.201.155.94:8080/movie/test_aac_7d1.mp4) in exoplayer demo app

### Link to test content
[http://101.201.155.94:8080/movie/test_aac_7d1.mp4](http://101.201.155.94:8080/movie/te

[2017-09-07 14:34] ojw28 commented on #3220
In that case this is quite likely (although not definitely) a device specific issue. Marking as such for now. We'll need to find a device to reproduce the issue to know for sure.

[2017-09-07 20:51] sergiomartinez4 opened #3250 "608 captions will not appear without seeking back"
### Issue description
After I load the video with 608 captions and select the right text track, the captions will not show. I need to seek back (before completing the video playback) in order for the captions to appear.

The expected behavior is that the 608 captions must always appear when they're enabled.

### Reproduction steps
I added the below HLS video to the Demo Samples using the latest Ex

[2017-09-08 02:46] yubaolinfish commented on #3243
![image](https://user-images.githubusercontent.com/10411717/30193937-d0e97d90-9482-11e7-8ede-698718885867.png)
Is this? If it is, every time will create a player, will not have the interface Caton? Thank you

[2017-09-08 04:27] jayachandrak commented on #3221
### Reproduction steps
Create ImaMediasource with below data and check after finishing of ad we can still see the ad frame

### Link to test content
sample ad tag:
missing url after comment use any of ad url
content url:
http://www.sample-videos.com/video/mp4/720/big_buck_bunny_72p_1mb.mp4

### Version of ExoPlayer being used
2.5.1

### Device(s) and version(s) of Android being used
nexus 9 androi

[2017-09-08 07:35] DemindoO opened #3251 "Support seeking in FLV (including if delivered using rtmp)"
I added extension of rtmp in Gradle

compile 'com.google.android.exoplayer:extension-rtmp:r2.5.1'

Rtmp videos are **playing but progress bar and exo_duration are not working** .

[2017-09-08 09:51] ojw28 commented on #3251
What type of stream are you trying to play, exactly? Please provide an example. Thanks.

[2017-09-08 10:04] DemindoO commented on #3251
I am trying to play below link

rtmp://pkpipe.com:1935/vod2/\_definst\_/pkpipe/S14CkLSdW/VID-20170908-WA0023.mp4 app=vod2 playpath=/pkpipe/S14CkLSdW/VID-20170908-WA0023.mp4

[2017-09-08 14:39] rofeifei commented on #3222
Thanks for your response.The hls url(https://xxxxx/video/accounts.m3u8?timestamp={timestamp}&clientId={clientId}&token={token}) token is valid for 4 minutes, Actually we try to use  backend application to generate and update this url every 4 minutes in exoplayer url.

[2017-09-08 14:40] ojw28 commented on #3251
We don't currently support seeking into FLV streamed via RTMP, sorry.

Marking this issue (i.e. supporting seeking in FLV, including if delivered via RTMP) as an enhancement, but this really isn't a use case we're prioritizing, so if this does get implemented it's likely to be by an external contributor. It's not prioritized because the vast majority of on-demand streams are played via http and us

[2017-09-08 14:42] ojw28 commented on #3222
As above, does this approach work seamlessly with other players or platforms? It just doesn't sound like a good idea to me...

[2017-09-08 15:09] AquilesCanta commented on #3222
@rofeifei, could you please provide a full example of how the authentication works? I mean, detailing every server request and response.

I don't think this is something the spec seems to contemplate.

That being said, what could potentially work is injecting your custom DataSource for playlists that wraps around a default one. And when open is called for a data spec with an outdated url token, yo

[2017-09-08 18:00] Brahmasmi commented on #1857
@kul3r4 any luck/progress with the better solution? It would help to have a public download location for the cronet release jars. I may be wrong here, but automated builds might benefit from public download locations.

[2017-09-08 18:27] hooked82 commented on #3180
@ojw28 Is there a planned release date so that we can coordinate our internal release that will include this fix?

[2017-09-09 00:25] AOrobator opened #3252 "Determine whether seeking or repeating"
Does Exoplayer have any plans to distinguish between seeking to the beginning of a period and repeating once? Using the repeat modes and a `DynamicConcatenatingMediaSource`, if I check that `player.getCurrentPosition() == 0` in `onPositionDiscontinuity()`,  I'm not able to tell whether the song has just repeated or the user has seeked to the beginning of the song. Some sort of callback in Player.E

[2017-09-09 00:28] AOrobator commented on #3252
Conversation started on Medium: https://medium.com/@andreworobator/whats-the-best-way-to-be-notified-of-when-a-repeating-track-ends-so-i-can-count-how-many-time-a-e01f7a0024a

with @tonihei

[2017-09-09 10:46] ojw28 commented on #3180
We'll be pushing a bugfix release (2.5.2) early next week, so keep an eye out for that. Thanks!

[2017-09-10 08:30] boswelja commented on #3247
To add to this, I'm currently using the MediaSessionConnector and handling play / pause with my own BroadcastReceiver.. Is there any way I can use MediaButtonReceiver or something similar with the player?

[2017-09-10 12:25] hemb commented on #2643
@erdemguven Do you have any updates? Is there a chance that downloading of HLS streams will be released during September?

Thanks!

[2017-09-10 15:44] elsparro commented on #3238
This was fixed with new firmware from manufacturer.

[2017-09-10 15:44] #3238 closed, assigned to AquilesCanta

[2017-09-10 20:11] #3095 closed, assigned to nobody

[2017-09-10 20:12] ojw28 commented on #2448
Duplicating to #2677.

[2017-09-10 20:12] #2448 closed, assigned to nobody

[2017-09-10 20:14] ojw28 commented on #2849
Closing due to lack of required information.

[2017-09-10 20:14] #2849 closed, assigned to nobody

[2017-09-10 20:19] ojw28 commented on #2587
Fixed in the Pixel Oreo update.

[2017-09-10 20:19] #2587 closed, assigned to nobody

[2017-09-10 20:19] ojw28 commented on #2935
Fixed in Pixel Oreo update.

[2017-09-10 20:19] #2935 closed, assigned to nobody

[2017-09-10 23:38] to-jbm commented on #3211
I made severals searchs
It seems that there is no public free SDK. (I found just one but unfortunately it throws a drm exception)

[2017-09-11 08:30] ojw28 commented on #2643
There are already `DashDownloader`, `HlsDownloader`, `SsDownloader` and `ProgressiveDownloader` components in the `dev-v2` branch, which can be used to perform the required downloads for each stream type. You can use these directly on a background thread.

Our next steps are to (a) introduce a `DownloadManager` for managing the downloads, and (b) wrapping that in a `DownloadService` that can accep

[2017-09-11 09:06] tonihei commented on #3252
We thought about different ways of providing a clear way to notify the listener of what caused a position discontinuity. Our preferred method is to add a parameter to the `onPositionContinuity(@PositionContinuityReason int reason)` callback. It would provide one of three possible reasons: 1. automatic transition to next period (might be repeating the current one), 2. seeking within the current to

[2017-09-11 10:17] Shyri opened #3254 "DASH WEBB-VP9 with ShakaPackager and Encrypting through a 3rd party Widevine vendor not playing in Exoplayer"
Hi,
We are currently trying to use WEBM-VP9 using ShakaPackager and 3rd party WideVine vendor.
For some reason it's not playing properly in Exoplayer. It is throwing this exception when trying to build the key request:
[bugreport-2017-09-11-12-14-55.txt](https://github.com/google/ExoPlayer/files/1292176/bugreport-2017-09-11-12-14-55.txt)

Also, we are seeing this other log:

WVCdm   : CdmEngine::Q

[2017-09-11 10:46] ojw28 commented on #3254
I think the PSSH data in your manifest is not what the Widevine CDM expects. The PSSH data is:
[code]
I think `CdmSession::GenerateKeyRequest: init data absent` suggests that the Widevine CDM expects some scheme specific data at the end of the box. You should follow up with Widevine to work out exactly what the PSSH box should look like.

[2017-09-11 11:02] ojw28 commented on #3254
It looks the the expected format for the scheme specific data is a serialized protocol buffer, as defined on page 10 of [this doc](https://storage.googleapis.com/wvdocs/Widevine_DRM_Encryption_API.pdf). If you set the scheme specific data correctly then it's likely this will resolve your issue. It may or may not also be the case that you need to use version 0 pssh atoms, although I'd hope both ver

[2017-09-11 11:02] #3254 closed, assigned to nobody

[2017-09-11 13:15] AOrobator commented on #3252
Having a parameter in `onPositionDiscontinuity()` would be a great solution. I think we should separate the first reason into 2 different `int reason`s. One if it's repeating, another if it isn't.

[2017-09-11 13:33] tonihei commented on #3252
I think you can easily check if it is repeating the same item by comparing the period or window index to the previous one. Alternatively, you can also check the current repeat mode (`player.getRepeatMode()`) to determine whether playback is in a repeat loop or not.

It wouldn't make much sense to add it here given how easy it is to get this information from the player. Besides, it would add unnece

[2017-09-11 13:57] neowinston opened #3255 "Samsung Note 8 dropping the connection"
I now have a Samsung Note 8 and the our app using HLS is dropping the connection.
It will play for a few minutes then just stop and it does not matter if it
is streaming through the data 4g or WiFi same results. At Home the app just
stops playing and I have to shutdown the app and restart it for the audio
to return. The Note 8 will play the BBN app on WIFI but the
audio stops after a few minutes a

[2017-09-11 13:57] #3255 closed, assigned to nobody

[2017-09-11 13:59] neowinston opened #3256 "Samsung Note 8 dropping the connection"
I now have a Samsung Note 8 and the our app using HLS is dropping the connection. It will play for a few minutes then just stop and it does not matter if itis streaming through the data 4g or WiFi same results.

Using Wifi the app just stops playing and I have to shutdown the app and restart it for the audio to return. The Note 8 will play the BBN app on WIFI but the audio stops after a few minute

[2017-09-11 14:02] sergiomartinez4 commented on #3250
are there any news about possible causes?

[2017-09-11 14:03] AquilesCanta commented on #3250
I'll have a look.

[2017-09-11 14:27] marcinOz opened #3257 "Samsung SM-T585 crashes and turns off or restart."
### Issue description
Device turns off or restarts after playback of a stream (stream with DRM license provided by mail).
It's probably related to auto quality change because sometimes it could play very long till I enable random adaptation and sometimes it just crashes few seconds after start.

### Reproduction steps
1. Added stream with DRM license to ExoPlayer demo "media.exolist.json" file,
2.

[2017-09-11 14:58] kinhdang opened #3258 "Hello : How to set focus and handle on Skip Button in IMA extensions of exoplayer."
Hello All !

Updated version 2.5.2 for IMA play ads working very good, but we have a little troubles build app in android box (setopbox), when ads have Skip Button, How to set focus on Skip Button ? and handle Button Skip to ignore ads.
anyone knows, please give idea to resolve this problems.

Thanks,

[2017-09-11 16:00] andrewlewis commented on #3258
Unfortunately, this is a known issue with the Android IMA SDK. Please see [this thread](https://groups.google.com/forum/#!topic/ima-sdk/e7aJ2sn7BvQ) for details.

The recommendation for now seems to be to customize your serving settings to exclude skippable ads. I've also heard about a workaround where you hide the ad overlay UI (passed to the ImaAdsMediaSource) on Android TV devices, though this

[2017-09-11 16:39] kinhdang commented on #3258
Thanks your reply.

[2017-09-11 18:09] glad opened #3259 "Using the remote's Play/Pause button when player controls are visible cause repeated plays/pauses"
When the player controls are visible and holding down the Play/Pause button on the remote (e.g. an Amazon FireTV remote) causes the player to play/pause repeatedly.

You can see the behaviour here: http://imgur.com/a/y8sNI

Steps to reproduce:

1. When video player is open, give focus to the player controls's Play/Pause button
2. On your remote hold down the Play/Pause button (see: https://goo.gl/

[2017-09-11 18:18] ojw28 commented on #3243
I do not understand the question, sorry. Please attempt to rephrase if you can.

[2017-09-11 18:52] ojw28 commented on #3259
I think you're right. We should be checking `event.getRepeatCount()` so that we can ignore subsequent events. The exceptions to this rule are `KEYCODE_MEDIA_FAST_FORWARD` and `KEYCODE_MEDIA_REWIND`, for which we it is correct that we take action for each repeated event.

[2017-09-11 20:48] kul3r4 commented on #1857
@Brahmasmi there is a planned integration on Google Play Services but it's not available yet.

[2017-09-11 21:32] takn commented on #3006
What should the proper way to access bitrate be?

[2017-09-12 01:23] xdestiny110 commented on #3249
Is there any news?

[2017-09-12 03:27] GeoffLedak commented on #1845
You can use a custom PlaybackControlView to add a fullscreen button to the Exoplayer controls.

To toggle the video to fullscreen, you can programmatically remove the SimpleExoPlayerView from your activity and add it to a new fullscreen dialog.

A walk-through is available here: https://geoffledak.com/blog/2017/09/11/how-to-add-a-fullscreen-toggle-button-to-exoplayer-in-android/

Cheers!

[2017-09-12 05:42] janeriksamsonsen commented on #3112
This is still a problem on Nexus 6p and Nexus 5x on final version of Android O. Changing rental-duration and playback-duration to small values like 84600 and 10000, does not help as the workaround suggests.

[2017-09-12 07:22] voltan commented on #1845
Thank you very much @GeoffLedak , I will test it on this week

[2017-09-12 08:51] andrewlewis commented on #3249
I get a timeout when trying to access `http://101.201.155.94:8080/movie/test_aac_7d1.mp4`. Please could you share the file again?

[2017-09-12 10:32] ojw28 commented on #3112
@wvpaf - Can you please take another look at this?

[2017-09-12 11:42] mattsff commented on #3156
Could you fix it? I have de same problem. Thanks!

[2017-09-12 11:44] ojw28 commented on #3156
This is fixed already in 2.5.2.

[2017-09-12 11:51] mattsff commented on #3156
@ojw28 It works like a charm. Thanks!

[2017-09-12 12:24] mraj0045 commented on #2643
@ojw28 I have Downloaded the Dash stream to the local file using the `DashDownloader `as mentioned in the above comment. But I don't know how to use the cached data to play content.

I have tried using ExtractorMediaSource like below:
[code]

and also DashMediaSource:

[code]

Neither of the implementation is playing and also don't know whether above implementation is correct or not.
It would be h

[2017-09-12 16:14] m-scheepers commented on #3257
As this issue is considered to be device specific, would there be a way to address this to Samsung? On our side we do not appear to have direct access to any support channel.

I have requested our customer to indicate if more devices appear to be impacted with this issue.

[2017-09-12 16:19] ojw28 commented on #3221
Does this issue only occur if there's buffering between the ad and the content? Which is not normally what happens, since we start to pre-buffer the content prior to the ad finishing. I think it's working as intended that the last frame of the ad remains visible in this case.

[2017-09-12 16:20] GeoffLedak commented on #1745
To toggle a video to fullscreen, you can programmatically remove the SimpleExoPlayerView from your recyclerview and add it to a new fullscreen dialog after the device has been rotated.

A walk-through is available here: https://geoffledak.com/blog/2017/09/11/how-to-add-a-fullscreen-toggle-button-to-exoplayer-in-android/

You'd basically implement what is described in the above tutorial, except rat

[2017-09-12 16:21] ojw28 commented on #3256
Is this for background audio playback, and if so are you running a foreground service and holding both WiFi and Wake locks (see [here](https://google.github.io/ExoPlayer/faqs.html#how-do-i-keep-audio-playing-when-my-app-is-backgrounded))?

[2017-09-12 20:57] sergiomartinez4 commented on #2600
is there a way to achieve that in ExoPlayer r2.5.2?

[2017-09-12 21:30] wvpaf commented on #3204
@HungamaSurat, please do provide a full logcat and ADB bugreport. Without the full files providing support will not be possible.

[2017-09-12 21:49] bnussey commented on #2643
Hey @mraj0045 have you tried using instructions from @q-litzler above

[2017-09-12 22:23] wvpaf commented on #2622
potential fix in test now. will provide update on availability soon.

[2017-09-12 22:32] wvpaf commented on #3143
@ram992 to answer your question fro 8/6 : please see https://developer.android.com/reference/android/media/MediaCodecInfo.CodecCapabilities.html

and please provide full logs of the failing case..

[2017-09-13 01:34] xdestiny110 commented on #3249
@andrewlewis sorry... I have send mp4 file to dev.exoplayer@gmail.com

[2017-09-13 04:40] mraj0045 commented on #2643
Hi @bnussey , Thank your for the reply. I tried but I don't know how to get the file path from `SimpleCache`. Cached Files looks liked this,
![capture](https://user-images.githubusercontent.com/12872183/30359658-e9475d90-9869-11e7-9708-f8a3c65b6703.PNG)

How to use these cached files to play video in offline?

[2017-09-13 05:37] davidliu opened #3260 "LRUCacheEvictor spins, causing it to lock the SimpleCache"
### Issue description
LeastRecentlyUsedCacheEvictor.java:evictCache() spins forever, because it tries to remove an item that's no longer contained inside the cache. That is, the LRUCacheEvictor has spans that it tries to evict, but those spans are not inside CachedContent.

Since the eviction happens from within a synchronized thread, any other threads also block until this evict completes (never)

[2017-09-13 05:40] davidliu commented on #3260
What should happen is that there should be some sort of error fall back for the LeastRecentlyUsedCacheEvictor, and if removal fails, then it should move onto the next piece to remove instead of constantly trying the same span.

I believe that what happens is that during the cache eviction process, if there's a IOException in index.store(), then that prevents the CacheEvictor from getting notified

[2017-09-13 06:53] rrfrias commented on #3112
@janeriksamsonsen can you share content + license server URL so that we can investigate. If you need to share it privately and have a Widevine Technical Account Manager contact, share it with them and mention this issue.

[2017-09-13 06:55] ingenieursaurav opened #3261 "player.getCurrentWindowIndex()"
Hi player.getCurrentWindowIndex() is giving  the wrong index number while u are seeking  the seekbar in the playlist.
For Example : For First video it is showing index 0 and for second video it is showing index 0 and third onwards it is incrementing. Means it is giving wrong index id by one less.
But while u are changing the track on clicking on next button.It is giving the correct result as expec

[2017-09-13 08:24] mraj0045 commented on #2643
@bnussey, @erdemguven I tried using the instructions you pointed out for the Sample URL: ` http://yt-dash-mse-test.commondatastorage.googleapis.com/media/feelings_vp9-20130806-manifest.mpd`. It is working perfectly.

But in my application, it is not working. It is throwing,

[code]

The difference with the Sample URLand my URL is,
Sample URL not DRM protected and mine is DRM protected.
Sample URL

[2017-09-13 08:37] tonihei commented on #3261
It would help if you could provide some more details to reproduce your problem.
Especially, when (in which method/callback) do you call player.getCurrentWindowIndex()? And what does it mean when you say you do it "while you are seeking"?

[2017-09-13 11:33] barhom opened #3262 "Question about ExoPlayer & deinterlacing"
Does Exoplayer have any setting for turning on or off deinterlacing ?
I am playing back a few videos using exoplayer that would (imo) be better if deinterlacing would be on.

I am comparing when playing back the same video using "VLC" and turning on or off de-interlacing (blend, via the D-shortcut on VLC).

[2017-09-13 11:48] ojw28 commented on #3260
@erdemguven - I guess `notifySpanRemoved` should be called in a finally block in `SimpleCache.removeSpan`, to ensure it's called even if the `index.store` call fails?

[2017-09-13 12:26] andrewlewis commented on #3262
Please see [issue #2013](https://github.com/google/ExoPlayer/issues/2013#issuecomment-257634155).

[2017-09-13 12:26] #3262 closed, assigned to nobody

[2017-09-13 17:52] hooked82 opened #3263 "Error: This Gradle plugin requires Studio 3.0 minimum"
### Issue description
After pulling down the latest code from the release-v2 branch (r2.5.2), you will receive a gradle error stating the Gradle plugin requires Studio 3.0 minimum.  This may only be an issue if you are on anything lower than Android Studio 3.0.0-Alpha 4, which I am on Android Studio 2.3.3.

I found this was also happening in the Firebase project, which they have resolved:
https://

[2017-09-14 06:33] ram992 commented on #2622
@wvpaf  can you comment on the time frame of the availability of the fix, and is it compatible with exoPlayer v2.2.0, as I am not in a position to update to the latest one now.

[2017-09-14 06:45] ram992 commented on #3143
@wvpaf Sorry for the delay, but which issue you are pointing to that requires complete logs,
I have two issues : 1) As the title says DRM vendor-defined error: -2990 happening on some mobiles,
and                        2) In Some devices player doesn't request for License but throws error which I have
                                  shared and happens on **_Huawei Honor CHE1-L04_**
I will try t

[2017-09-14 07:02] Z1W3 opened #3264 "How to use multicast - UdpDataSource？"
I read about issues#2029, but still did not solve.
This url(udp://@224.0.0.0:1234) can be played on the VLC player.
My device(Nexus9 android 7.1.1) supports udp.
### My Code

    @Override
    protected void onCreate(@Nullable Bundle savedInstanceState) {
        LOGGER.e("onCreate");
        super.onCreate(savedInstanceState);
        setContentView(R.layout.activity_exoplayer);
        initView(

[2017-09-14 07:29] andrewlewis commented on #3264
It looks like you're passing an instance of `DefaultDataSourceFactory`, not a custom factory that returns a `UdpDataSource`. Please try implementing `DataSource.Factory` and returning an instance of your `DefaultDataSource2` from its `createDataSource` method.

[2017-09-14 07:29] #3264 closed, assigned to nobody

[2017-09-14 08:14] ojw28 commented on #3258
We're going to try and add a workaround for this issue.

[2017-09-14 08:15] ojw28 commented on #3263
This is intentional. Sorry, you will just have to use a newer version of Android Studio.

[2017-09-14 08:15] #3263 closed, assigned to nobody

[2017-09-14 08:21] ojw28 commented on #3143
It would be far more efficient if you just provided full bug reports for every issue you file, as is requested in the issue template. The issue template also includes an email address to which you can send them. Thanks.

[2017-09-14 10:02] hooked82 commented on #3263
Wait, what!?  You're saying it is intentional to force us to use a product that is not released and currently in Alpha!?  Please reopen and fix this, I can not use unstable alpha builds and should not be forced to by this project

[2017-09-14 10:09] andrewlewis commented on #3263
I think this change was necessary because one of the our build variants depends on a library that needs to be desugared. The build was broken without the update.

[2017-09-14 10:14] hooked82 commented on #3263
As mentioned above, changing it to 2.3.3 resolves the issue though.

[2017-09-14 10:37] ojw28 commented on #3263
I'm not sure we're forcing you to do anything. You can make a local change until AS3 is stable. Or just checkout a slightly older release. There are fairly easy ways for you to get around this issue.

The reason we did this relates to de-sugaring Cronet when using the Cronet extension, and some additional modules that we have internally. I agree it's somewhat unfortunate, particularly since the re

[2017-09-14 11:39] bnap00 commented on #3260
facing simillar issue.
[code]

[2017-09-14 13:00] ojw28 commented on #2283
This is now implemented in `dev-v2`. Please give it a try and let us know what you think!

[2017-09-14 13:05] janeriksamsonsen commented on #3112
Will share links with you, but need to clarify with legal department first. We don't have a Widevine account manager. Can I send it to the email-address which I submitted the bug-report to?

[2017-09-14 13:40] andrewlewis commented on #3249
This device has three AAC decoders, but only `OMX.google.aac.decoder` appears to work with this stream. We can implement a workaround in `MediaCodecUtil` that prevents use of the broken decoders.

Does the device have a pending system update to Nougat available? It would be useful to know if the issue is fixed in the latest system image so we can restrict the workaround to particular API levels, i

[2017-09-14 16:45] roticv commented on #1807
What's the current state of getting the github version up to date with the 708 changes?

[2017-09-14 16:50] rrfrias commented on #3112
Yes, you can send it to that address.

[2017-09-14 17:53] MateusZitelli opened #3265 "UHD videos fails in Oppo A1601"
### Issue description
Fail to play UHD videos on Oppo A1601, while it plays flawlessly on the native player app. Moreover, I think this is relevant seeing that this phone have more the 7 million units sold and is the 8th most popular device in my user base.

### Reproduction steps
All UHD examples on the demo app fails with the same error.

### Link to test content
Not applicable.

### Version of

[2017-09-14 18:04] ojw28 commented on #3265
Out of interest is this side-loaded content, or content you're serving from your own servers? I doubt there's much we'll be able to do about this, since the failure appears to be in the platform underneath us, but we can take a look.

[2017-09-14 18:27] MateusZitelli commented on #3265
The issue seems to be independent from the media source, in my application the video is loaded from the device storage itself.

[2017-09-14 18:57] neowinston commented on #3256
Thanks for your answer, I'm verifying if that solves the problem.

[2017-09-15 04:32] xdestiny110 commented on #3249
@andrewlewis Playing well on Android 7.0. Thank you for your response.
BTW, I want to know how to modify `MediaCodecUtil` in order to play this file on Android 6.0.1.

[2017-09-15 07:11] janeriksamsonsen commented on #3112
@rrfrias - our license server URLs are only valid for a certain amount of time. What would be a good day and time for you to test?

[2017-09-15 07:15] JacksonFoo commented on #3220
@ojw28
I found out Samsung S7 is having this same issues.

Issue description
Facing same error as above mentioned, where this issues is happening in Exo player V1
"com.google.android.exoplayer.ExoPlaybackException: android.media.MediaDrm$MediaDrmStateException: Failed to handle key response: DRM vendor-defined error: -2902", where I try to switching quality from Auto to lower resolution. Once I hi

[2017-09-15 07:47] yvlad commented on #2755
Using BouncyCastle provider for ```AES/CBC/PKCS5PADDING``` cipher totally fixed issue.
I am using this code snippet to create ```Cipher``` in ```CachedContentIndex ``` now:
[code]

[2017-09-15 08:02] andrewlewis commented on #3249
We'll push the workaround to `dev-v2` soon.

[2017-09-15 12:08] janeriksamsonsen commented on #3112
URLs for content and license sent in email.

Problem is also reproducible in DashWidevineOfflineTest.testWidevineOfflineExpiredLicense(). Reporting is correct for Xperia z1 compact with Android 6.0.1, but fails on Nexus 6p with Android O.

[2017-09-15 12:17] ojw28 commented on #2755
That's a great find; thanks. @erdemguven - Let's merge an equivalent change?

[2017-09-15 13:49] HungamaSurat commented on #3204
Hi,
I already sent you log from logcat in Log.txt file.
Which logs are missing from my side. Let me know so i can update you.

Thanks,

[2017-09-15 13:50] ojw28 commented on #3204
You need to capture a proper bugreport using `adb bugreport`. This is explained in the issue template.

[2017-09-15 20:13] stari4ek opened #3266 "Philips: OMX.MTK.AUDIO.DECODER.DSPMP1 fails to initialize for audio/mpeg-L2"
* checked with demo player from dev-v2, 340d0be40a6a1d744c79245289075b97db26f78e (2.5.2)
* fails to initialize decoder when _prefer_extension_decoders = false_, plays well with ffmpeg
* log from demo app playing both streams: https://drive.google.com/file/d/0Bww3WxdHUiM1dW1HNUR5aHU0QWc/view?usp=drivesdk
* apk with demo app configured for both streams: https://drive.google.com/file/d/0Bww3WxdHUiM1N

[2017-09-16 10:40] DavidNguyen2017 opened #3267 "Video 4K render black on the surface texture"
- I had tested source code from "release-v2-surfacetexture-experiment" branch, it is work well with video 2k, but with video 4k it can not play, show shake black screen.

- I am testing on Amlogic setup box, Android 6.0.1 API 23

- Can you help check this problem?

Thanks,

[2017-09-16 14:53] jiafei1986 opened #3268 "NullPointer occur int the method DashManifest.getPeriod(int)"
*** ISSUES THAT IGNORE THIS TEMPLATE WILL BE CLOSED WITHOUT INVESTIGATION ***

### Issue description
We are using exoplayer to play dash with DRM.  We checked the firebase and found some null pointer from the internal exoplayer

### Reproduction steps
We just get feedback from our customer and checked firebase log, we can find some null pointer errors.

This error happened when our customer playin

[2017-09-17 08:44] hawkiq opened #3269 "HLS multiple streaming playing"
I know this this not Exoplayer fault but am confused,
I have two mp4 files with two URLs I've implement simple app to play them and two buttons to select between them its working perfectly,
But when switching to HLS streaming every time I try to change source it give me an error
my function to do this
[code]

button to change source

[code]

error log

[code]

[2017-09-17 17:22] Palethorn opened #3270 "DefaultDrmSessionManager in MODE_DOWNLOAD repeatedly requests a license even though it's already loaded"
### Issue description
I wish to use DefaultDrmSessionManager in MODE_DOWNLOAD for live streaming contents that are crypted with the same content keys. Cannot help but notice that the license has been retrieved every time even for the same content. Is this an OK behaviour? I want for license to be downloaded once, and reused for future DRM sessions without additional load on a license proxy.

### R

[2017-09-17 18:04] #3259 closed, assigned to nobody

[2017-09-17 18:23] ojw28 commented on #3269
If you look at `AdaptiveMediaSourceEventListener.java:183`, you should be able to deduce this failure is because you're passing a null handler and non-null eventListener when building the `HlsMediaSource`. If you're passing a non-null eventListener, the handler is not allowed to be null.

[2017-09-17 18:23] #3269 closed, assigned to nobody

[2017-09-17 18:25] ojw28 commented on #3268
Please provide a proper de-obfuscated stack trace showing the failure.

[2017-09-18 02:41] jiafei1986 commented on #3268
@ojw28  Thank you for your reply, we found now only one line string sent to the firebase, we will send the whole stack trace to firebase and post here. As this error only happened on our customer side, we cannot replicate it.  so will post stack trace once get from firebase.

[2017-09-18 05:44] HungamaSurat commented on #3204
Hi,

I just run below command.
adb bugreport '/home/Desktop/Bugreport'
I got below zip file. Please check and let me know if you want anything else.
[bugreport-N6F27I-2017-09-18-11-10-17.zip](https://github.com/google/ExoPlayer/files/1309802/bugreport-N6F27I-2017-09-18-11-10-17.zip)

Thanks

[2017-09-18 08:48] m-scheepers commented on #3257
We have received an update from our customer:

Is there any way to highlight this issue to Samsung via Exoplayer team? Afterwards this does not appear to require a fix on Exoplayer side.

[2017-09-18 09:05] jiafei1986 commented on #3268
@ojw28  here is the stack trace:
[code]

[2017-09-18 09:06] ojw28 commented on #3257
Please can you provide a list of tablets actually tested and confirmed to have the issue? Thanks.

[2017-09-18 09:14] ojw28 commented on #3268
The only way I can see that happening is if your application code is re-using the same `DashMediaSource` instance more than once. As per the [guide](https://google.github.io/ExoPlayer/guide.html#mediasource), if you want to prepare the player to play a particular piece of media more than once, you need to instantiate a fresh `MediaSource` instance each time. Please take a look at your code and see

[2017-09-18 09:29] jiafei1986 commented on #3268
@ojw28  thank you for your reply, I checked the code, there is a logic that our app will retry to play when it gets some error,  we implemented the retry function in the EventListener.onPlayerError(), the logic is that release the player, and prepare the player again.  the code of release and prepare the player same as the demo player. i will check the code and let you know whether we create a new

[2017-09-18 10:01] ojw28 commented on #3270
There are two reasons why you might like to renew an offline license:

1. Most license servers issue offline licenses that are only valid for a limited window of time. Renewal will extend the license validity in this case (or cause the license to become invalid, if the server believes the user should no longer have access).
1. To report usage metrics associated with the offline license.

We opport

[2017-09-18 10:02] ojw28 commented on #3267
That's an experiment, as opposed to being an officially supported branch. Do you have any issues using the proper release branch?

[2017-09-18 10:04] ojw28 commented on #3258
There is a workaround that enables the skip button in `dev-v2`. We'll push a bug-fix only release including this change this week.

[2017-09-18 10:04] #3258 closed, assigned to nobody

[2017-09-18 10:10] ojw28 commented on #3017
We've pushed a change to `dev-v2` that should resolve this issue. There's a lot of room for further improvement, but playbacks should now adapt up even if close to the live edge. If you could verify the fix, that would be great.

[2017-09-18 10:15] DavidNguyen2017 commented on #3267
Dear ojw28,

Thank you for your supporting,

On the release branch player work well with video 4k, but in the my project i want to use Exoplayer to play video 4k with gl surface view. So i want work around on this problem, but i do not have any ideas how to fix it. do you have any advise for me?

Thanks,

[2017-09-18 10:20] ojw28 commented on #3266
I doubt there's much we can do about this, beyond blacklisting the affected decoder on the affected API level(s) in `MediaCodecUtil.isCodecUsableDecoder`.

Please could you try doing that? How much it helps depends on whether there's a secondary decoder that works. If there is, you'd be in luck. If there isn't, you can still get playback to work when using `EXTENSION_RENDERER_MODE_ON` and an exten

[2017-09-18 10:25] jaganca opened #3271 "Offline Widevine DRM licenses"
Does Exo player have the provision to bulk fetch licenses for the resources stored offline and save them when the app is set up? Can a license request be made without trying to play a resource? Please note that I am already storing the manifest files and resources offline.

[2017-09-18 10:33] pawaom opened #3272 "How to use exo_playback_control_view separately below the player and not over it"
How to use exo_playback_control_view separately below the player and not over it

I have a Relative layout where I am showing the video using SimpleExoPlayerView and SimpleExoPlayer ,

I want to show the controls which are in the layout file of exo_playback_control_view separately  below the ExoPlayerView   and not over it as is the case in most players

is there any way this can   achieved

[2017-09-18 11:03] ojw28 commented on #3212
We've added support for this in `dev-v2` (extend `NoSampleRenderer`). Please give it a try and let us know if this is sufficient for your needs. Thanks!

[2017-09-18 11:03] #3212 closed, assigned to botaydotcom

[2017-09-18 11:13] crossle commented on #91
plz support display matrix rotation, like
[code]

[2017-09-18 13:31] psedoykin opened #3273 "Question about equalizer for exoplayer."
Hello,
Do you plan to implement equalizer for exoplayer?

Now I am using standard equalizer (https://developer.android.com/reference/android/media/audiofx/Equalizer.html)  but it is not good because it has only 5 bands for mostly devices.

[2017-09-18 15:55] ojw28 commented on #3273
I don't think we have plans for our own equalizer support. It's something you could add yourself, if you require it, however.

[2017-09-18 15:57] ojw28 commented on #3267
Unfortunately this falls beyond the scope of this issue tracker, as it's not something we're currently supporting. I suspect you're hitting a platform limitation. It might also be worth patching the changes in the experimental branch on top of the latest `release-v2` branch, in case some fixes made to V2 since the experimental branch was forked resolve the problem. Good luck!

[2017-09-18 16:01] ojw28 commented on #3272
You should be able to:
1. Disable playback controls in `SimpleExoPlayerView` by calling `simpleExoPlayerView.setUseController(false)`.
1. Add a `com.google.android.exoplayer2.ui.PlaybackControlView` somewhere else in your layout, bind it to the player using `playbackControlView.setPlayer(player)`, and unbind it (if you need to) by calling `playbackControlView.setPlayer(null)`.

[2017-09-18 16:48] fabiobazurto opened #3274 "ADs no finish countdown in Live Stream"
### Issue description
I'm working with Exoplayer ima support. I've shown Ads in VOD playback succesfully but no Live PLayback. Live Playback Ads begins countdown (10 seconds) and stop at 3 seconds, freeze app a little and show live stream. No show skip option.

**Library version:**
 'com.google.android.exoplayer:exoplayer:r2.5.0'
 'compile 'com.google.android.exoplayer:extension-ima:r2.5.0'

**Vid

[2017-09-18 16:51] ojw28 commented on #3274
This is fixed in 2.5.2. Please see the [release notes](https://github.com/google/ExoPlayer/blob/release-v2/RELEASENOTES.md).

[2017-09-18 16:51] #3274 closed, assigned to nobody

[2017-09-18 17:37] #3272 closed, assigned to nobody

[2017-09-18 17:37] #3273 closed, assigned to nobody

[2017-09-18 17:38] ojw28 commented on #3261
Closing due to lack of required information. If you're able to provide detailed reproduction steps, please do so and we'll re-open the issue. Thanks!

[2017-09-18 17:38] #3261 closed, assigned to nobody

[2017-09-18 17:38] #3267 closed, assigned to nobody

[2017-09-18 17:39] ojw28 commented on #3249
A workaround has been pushed to the `dev-v2` branch.

[2017-09-18 17:39] #3249 closed, assigned to andrewlewis

[2017-09-18 17:44] ojw28 commented on #3247
I can't see a reason why you wouldn't be able to register a `MediaButtonReceiver` directly on the `MediaSessionCompat` that you're passing into the extension, although it's somewhat unclear what you're asking.

@marcbaechinger - Could/should we be adding any direct support for `MediaButtonReceiver` to the extension?

[2017-09-18 17:45] ojw28 commented on #3237
Closing due to lack of required information. If you're able to provide sufficient information, please do so here and we'll reopen the issue. Thanks!

[2017-09-18 17:45] #3237 closed, assigned to nobody

[2017-09-18 17:45] #3221 closed, assigned to andrewlewis

[2017-09-18 17:46] ojw28 commented on #3221
Closing because I think this is working as intended, as because no further information has been provided.

[2017-09-19 07:54] Palethorn commented on #3270
From what I've noticed, the load is not that noticeable on a proxy, and zap time is not that much improved. If the renewal is an intentional behaviour then we can close this issue. Thank you for the information.

[2017-09-19 07:54] #3270 closed, assigned to nobody

[2017-09-19 09:58] ojw28 commented on #3268
Closing to now, on the assumption the above diagnosis is correct. If not please let us know, and provide concrete and simple reproduction steps (preferably based on the ExoPlayer demo app).

[2017-09-19 09:58] #3268 closed, assigned to nobody

[2017-09-19 10:05] ojw28 commented on #3203
Right, but the sample code attached is extremely unclear, which makes it hard to understand what you're doing (or trying to do). That aside, for downloading DASH content, you should look at `DashDownloader` in the `dev-v2` branch.

[2017-09-19 10:06] #3203 closed, assigned to nobody

[2017-09-19 10:06] #3205 closed, assigned to tonihei

[2017-09-19 10:06] ojw28 commented on #3243
Closing due to lack of information.

[2017-09-19 10:06] #3243 closed, assigned to nobody

[2017-09-19 10:06] #3256 closed, assigned to nobody

[2017-09-19 11:08] AquilesCanta commented on #2928
A fix will be available in the next push. Thanks for reporting and your patience!

[2017-09-19 11:19] DavidMihola commented on #3017
Unfortunately, I am currently unable to even reproduce the original undesired behavior (we had, in the meantime, used `seekTo` to start at 30 seconds before the live edge).

I still get 4 second chunks but for some reason I now always get over 10 seconds of buffer very quickly and the quality is switched up accordingly where it previously stayed low. I suspect there were some subtle changes in the

[2017-09-19 14:53] ojw28 commented on #3257
Please could you also provide some kind of reference to the issue Samsung is aware of? I think we have a candidate workaround at the application layer, but without knowing what that issue was or a list of affected devices, it's pretty hard for us to validate that we're doing the right thing. Thanks.

[2017-09-19 18:01] ojw28 commented on #2928
This is fixed in `dev-v2`, and will be in `r2.5.3`, which will be released some time this week.

[2017-09-19 18:01] #2928 closed, assigned to AquilesCanta

[2017-09-19 18:02] ojw28 commented on #3260
This is fixed in `dev-v2`, and will be in `r2.5.3`, which will be released some time this week.

[2017-09-19 18:02] #3260 closed, assigned to erdemguven

[2017-09-19 18:02] ojw28 commented on #3250
This is fixed in `dev-v2`, and will be in `r2.5.3`, which will be released some time this week.

[2017-09-19 18:02] #3250 closed, assigned to AquilesCanta

[2017-09-19 18:03] ojw28 commented on #3257
https://github.com/google/ExoPlayer/commit/d346266dc9631a985c662c6c1e444f47bbb12caa should work around this issue on SM-T585. Expanding the workaround to more devices is pending receipt of more information, as requested above. Thanks.

[2017-09-19 18:04] ojw28 commented on #2755
This is fixed in `dev-v2`, and will be in `r2.5.3`, which will be released some time this week.

[2017-09-19 18:04] #2755 closed, assigned to erdemguven

[2017-09-19 18:07] sergiomartinez4 commented on #3250
Awesome, thanks!

[2017-09-19 18:19] m-scheepers commented on #3257
Thanks for the effort for a possible workaround.

I have again requested our customer an update with regards to tested devices on their side. I hope to provide an update soon.

We have retested this on our side again with the device which was shipped to us. The issue does not appear to occur for all streams which are used in the app (originating from multiple streaming platforms).

[2017-09-19 20:03] ojw28 commented on #3017
I think we need to tweak this a little more to get it working just right.

[2017-09-19 23:45] jkellysbgtv commented on #3180
Hi there, this issue or one very similar to it seems to still be occurring with a small subset of devices and ads. On a galaxy S3 mini on Android 4.4.2 certain ads still seem to play audio only and no video and when this occurs the same error earlier in this thread is showing.

AdError [errorType: PLAY, errorCode: AdErrorCode [name: VAST_MEDIA_LOAD_TIMEOUT, number: 402], message: VAST media file l

[2017-09-20 09:23] bbagland commented on #2928
Thanks.
I no longer have access to the environnent to replicate, but I will see if I can check nonetheless.

[2017-09-20 09:52] hzulla opened #3275 "How to force rotation of video playback?"
Hello,

For our app, we want to play a landscape video on a portrait UI phone with 90° rotation on purpose. The phone's user interface will not be rotated during playback, so the 90° rotation is intended behaviour. But ExoPlayer will rotate the video based on the phone's orientation and the video's metadata automatically. There is no parameter that allows me to override the video rotation for play

[2017-09-20 10:19] ojw28 commented on #3180
Please file a separate issue if there's still a problem from 2.5.2 or later, together with all of the information requested in the issue template. Thanks!

[2017-09-20 18:25] ojw28 commented on #3155
Closing since the pull request was merged. Thanks!

[2017-09-20 18:25] #3155 closed, assigned to nobody

[2017-09-20 18:30] #3230 closed, assigned to nobody

[2017-09-20 18:50] ojw28 commented on #605
I think we can close this. I've filed https://github.com/Dash-Industry-Forum/Test-Vectors/issues/66 for the test vectors to be updated to something that better reflects what clients will actually need to handle.

[2017-09-20 18:50] #605 closed

[2017-09-20 19:03] ojw28 commented on #1298
Key rotation should work in `dev-v2` as of https://github.com/google/ExoPlayer/commit/b62eab63a4d13945d07431be3d30628392646260. You'll need to set `multiSession=true` when instantiating your `DefaultDrmSessionManager`. If you're trying to test streams in the ExoPlayer demo app and wish to add one to `media.exolist.json`, you can specify `"drm_multi_session": true,` for the sample to enable multiSe

[2017-09-20 19:24] ojw28 commented on #2403
You can do this fairly easily by wrapping your second source in a class similar to the one below. So you'd have:

[code]

Class:

[code]

It's unclear to me whether this feature is really important enough to make it into the library proper. What's the use case? Do you think other people are likely to need it?

[2017-09-20 19:26] ojw28 commented on #3222
Closing due to actionable information. If you're able to provide full answers to the two posts above, please do so here and we'll re-open the issue.

[2017-09-20 19:26] #3222 closed, assigned to nobody

[2017-09-20 19:27] m-scheepers commented on #3257
Our customer plans to provide feedback about impacted devices by the end of this week. Once available I will forward these.

[2017-09-20 19:29] ojw28 commented on #3088
Forcing a specific license URL is supported as of `2.5.2`.
@jeoliva @ChrisPuissant - Can this issue be closed now?

[2017-09-20 19:31] ojw28 commented on #1661
Further changes in: https://github.com/google/ExoPlayer/commit/6314a0ec82343ee79075e7f8794a69471599b019

[2017-09-20 20:17] mateuspiresl opened #3278 "mp2 audio is not played on Android Nougat"
### Issue description
Could not play mp2 audio on Android 7 using the ExoPlayer demo application.
I tested on many devices of Android version 6 and 7 but **only devices of version 6 played**.
Using **VLC**, **both** versions played.

Every device tested supports the codecs.

The log from the Asus Zenfone 3 MAX (**Android 7**), on which does not work:
[code]

The log from the Asus Zenfone 3 MAX (**

[2017-09-20 20:21] stari4ek commented on #3266
Sadly I do not have Philips TV device to test it properly, so all tests are done by users.

Stream has 3 audio tracks: two _mpeg/L2_ and one _ac3_
Blacklisting `OMX.MTK.AUDIO.DECODER.DSPMP1` brings another issue with playback: player selects AC3 track by default and there is no video when playing it. Disabling all tracks - brings video back.

[code]
with `EXTENSION_RENDERER_MODE_PREFER`:
[code]

S

[2017-09-20 21:41] jkellysbgtv opened #3279 "Ad Load Error"
### Issue description
Ad audio plays but video does not.  Both should play. Seems similar to the issue fixed in #3180

### Reproduction steps
Use emailed links with "ima sample ad tags" in demo app. Occurs on a galaxy S3 mini on Android 4.4.2, possibly other devices.

### Link to test content
sent via email

### Version of ExoPlayer being used
2.5.3

### Device(s) and version(s) of Android being u

[2017-09-21 07:28] #3252 closed, assigned to tonihei

[2017-09-21 08:18] Merseyside opened #3281 "Work with frequences"
Any API for low, middle, high frequences?

[2017-09-21 09:31] nahojkap commented on #3230
Thanks @ojw28 for wrapping this up - Irma came along and messed with all our plans & I got somewhat behind.  Will let you know if we have any issues with this when we get around to integrating it.

[2017-09-21 09:38] mraj0045 opened #3282 "Decoder init failed: OMX.qcom.video.decoder.avc"
Device MotoE2, Android 5.1.
I'm playing this video from the asset folder.
I will email the video.

[code]

[2017-09-21 09:41] ojw28 commented on #3230
Sorry to hear you were caught up in that. Thanks for your help on this, and yes, let us know if there are any remaining issues when you get back up and running.

[2017-09-21 09:48] ojw28 commented on #3282
Please provide a full bug report, as requested in the issue template.

[2017-09-21 09:48] ojw28 commented on #3281
Please can you try and more clearly define this question? It's unclear what you actually want, or what you're trying to do. Thanks.

[2017-09-21 09:59] Merseyside commented on #3281
I work with audio tracks. I wanna change frequences like in traktor, raise/omit frequences. For examle omit low frequences = no bass

[2017-09-21 10:01] ojw28 commented on #3281
In that case, please see https://github.com/google/ExoPlayer/issues/3273 and https://github.com/google/ExoPlayer/issues/3058. Thanks.

[2017-09-21 10:01] #3281 closed, assigned to nobody

[2017-09-21 10:26] andrewlewis commented on #3279
The bug report doesn't contain a full stack trace for the load error. Please could you add some logging for this in, e.g., the EventLogger, reproduce the error and paste the full stack trace?

I wasn't able to reproduce the error on a Pixel device, but when I tried on a Samsung Galaxy S3 Mini I initially saw a load error due to the device clock being wrong, which breaks the SSL handshake.

After s

[2017-09-21 12:38] BMarton commented on #1606
Any progress on this issue?

[2017-09-21 13:19] ojw28 commented on #3278
It looks like either `OMX.MTK.AUDIO.DECODER.MP3` stopped supporting mp2 in the Nougat update, or stopped advertising support. Note that Android devices are not required to support mp2. If it turns out that `OMX.MTK.AUDIO.DECODER.MP3` does still support mp2 and that it stopped advertising the fact, we could probably work around this pretty easily in ExoPlayer. If it actually stopped providing suppo

[2017-09-21 13:24] ojw28 commented on #3278
You should be able to verify whether VLC is using a platform codec (and which one) by looking for logging similar to `D/ACodec: [OMX.MTK.AUDIO.DECODER.MP3]  Now Loaded` at the start of playback. Do you see this type of logging on ZenFone 3 running Android 7? If so, what codec is being used? If the logging is not present then VLC is likely using a software codec instead.

Please check this. Thanks!

[2017-09-21 16:18] AquilesCanta opened #3283 "Enable HlsPlaylistTracker behavior customization"
This is a tracking issue for adding ways to customize playlist tracking.

[2017-09-21 17:04] #2283 closed, assigned to marcbaechinger, AquilesCanta

[2017-09-21 20:10] jkellysbgtv commented on #3279
Ok, I emailed in the logcat output when the error is occurring.

[2017-09-22 02:48] kinhdang commented on #3279
Hello all !

I have the same issue, occurpation in Android Box, sometime after play ads, to play audio only and no video.

Thanks.

[2017-09-22 06:12] mraj0045 commented on #3282
[bugreport.txt](https://github.com/google/ExoPlayer/files/1323581/bugreport.txt)
While Playing video from asset folder `Decoder init failed: OMX.qcom.video.decoder.avc`  the issue occurs and video is not playing.

Reproduction Steps:
Play the video from the asset folder using the Exoplayer Demo App.
Exoplayer version used: r2.5.3
Device MotoE2, Android 5.1

[2017-09-22 06:54] janeriksamsonsen commented on #1606
Yeah, is this a prioritized feature? It should be...

[2017-09-22 07:26] lulululbj opened #3284 "Support seeking in FLV"
In  `FlvExtractor.java` ，we can't seek  the progress when we play the flv video in default.

[code]
Is it necessary to make FLV unseakable ?

[2017-09-22 08:43] ojw28 commented on #3282
The bug report provided does not capture the issue described. Please capture a bug report shortly after reproducing the problem. Thanks.

[2017-09-22 12:34] ManojJangra opened #3285 "Bitrate issue"
Hi,
We are using ExoPlayer version2. In my application we are using data saving mode, in this functionality when we are select data saving mode on, in that case we are show low bit rate selected and if off , set high bit rate.
when bit rates more than 4 in this case data saving mode showing wrong selection. for ex. we are getting 5 bit rates, in data saving mode on, 4th index are selected.
bit rat

[2017-09-22 12:49] ojw28 commented on #3285
It's unclear what the question is here. The snippet of code doesn't include any calls to ExoPlayer components. It would be the app's responsibility to select the tracks that it wants to use. Please clarify.

[2017-09-22 13:58] janeriksamsonsen commented on #3271
Yes, that can be done. Check out OfflineLicenseHelper and DashUtil. No playback required to fetch the license.

[2017-09-22 14:12] zhoushuqiang opened #3286 "how can i use Gaussian Blur with video (surfaceview or TextureView)"
how can i use Gaussian Blur  with video (surfaceview or TextureView)
thanks

[2017-09-22 15:03] mateuspiresl commented on #3278
Thanks for the answer, @ojw28.

I searched for this kind of log message running VLC with a mp2 sample but I didn't find any.
Then, I tested with other formats and nothing was logged too. I guess it's just not logged, not because it doesn't have the platform coded, so I did the following.

Making tests with mp4 video, aac audio, mp4a audio, wav audio, mp3 audio and mp2 audio samples...

## With mp4

[2017-09-22 15:05] ojw28 commented on #3278
Looks like VLC are using software codecs to me. Which means VLC cannot be used to determine whether or not the underlying platform contains decoder support.

[2017-09-22 15:24] natez0r commented on #3252
is this planned for 2.5.4?

[2017-09-22 15:41] VCone commented on #3284
to ExoPlayer, see this post for context :
https://stackoverflow.com/questions/46359518/seekable-of-flv-with-exoplayer

Where  asker took **_return false;_** and it was changed to  **_return true;_** .
Seeking within an FLV timeline now worked.

[2017-09-22 15:44] ojw28 commented on #3284
I'm pretty sure that StackOverflow post is incorrect. Changing false to true doesn't enable anything (other than resetting the position to the start of the file).

[2017-09-22 16:56] mateuspiresl commented on #3278
Thanks again, @ojw28.

I'm trying to gather more information to figure out what type of codec is been used on VLC.

[2017-09-22 17:01] ojw28 commented on #3252
It will land in 2.6.0. We don't have an ETA.

[2017-09-22 17:55] OkoyaUsman opened #3287 "Hide all video control tools except loading progress bar"
Ok!
Not a bug, not an issue, just an individual request.
I needed a hint on how to generally disable or hide the SEEKBAR and the Play/Pause controls.. I followed an already solved method here to disable the default control with:

`app:useDefaultControls="false"`

but using that also disable the buffering gif or is it called progressive "loading" gif? :)
All I need is like a code to disable the see

[2017-09-22 19:59] Jogan commented on #3155
@ojw28 Not sure if this is related but do you know how to enable the floating "crop to fit/fit to screen" button that so many Video apps have (Amazon/Youtube/Hulu). It might just be something baked in by Samsung on the S8 (I dont have other phones to test) when it sees that the phone is a higher aspect ratio.

[2017-09-22 21:51] stellabei commented on #3155
@Jogan, it is not baked in by Samsung, each video streaming app need to implement it. The PR that was merged is to provide a way to do that if you use exoplayer and the AspectRatioFrameLayout.

[2017-09-23 00:03] ojw28 commented on #3155
The floating button on the Galaxy S8 (and possibly other recent Samsung devices) is a platform feature provided by Samsung, as far as I know. I think they added it because the S8 has a screen that's wider than 16:9, so the ability to crop the top and bottom slightly to remove bars down the side becomes useful for 16:9 content, which of course is very common. I'm not sure what logic they're using t

[2017-09-23 00:32] Jogan commented on #3155
Thanks for the help. I've already implemented this feature using this PR as
reference. I was more curious if anyone knew how they were determining when
to show that floating button. It definitely seems like a platform feature.
Hulu/YouTube/Amazon all use the same button so there must be some way to
enable it. I was thinking it was something to do with max aspect ratio set
in the manifest in combin

[2017-09-23 21:52] hoanganh2020 opened #3288 "Is there any demo Ima Ads?"
Hi,

Is there any demo Ima Ads with the same code?

How to implement getContentMediaSource(),  simpleExoPlayer.prepare(mediaSource)...

Link: https://medium.com/google-exoplayer/playing-ads-with-exoplayer-and-ima-868dfd767ea

[code]

Thanks!

[2017-09-24 12:06] ojw28 commented on #3287
I don't think this is an ExoPlayer question. If you're using ExoMedia, you'll need to ask the maintainers of that project.

[2017-09-24 12:06] #3287 closed, assigned to nobody

[2017-09-24 12:09] ojw28 commented on #3288
How would you play your content without ads? You'd need to make a `MediaSource` to do that. `getContentMediaSource()` should just build whatever that `MediaSource` is.

[2017-09-24 12:11] ojw28 commented on #3284
Marking as a duplicate of https://github.com/google/ExoPlayer/issues/3251.

[2017-09-24 12:11] #3284 closed, assigned to nobody

[2017-09-24 12:16] hoanganh2020 opened #3289 "Ima Ads error with Video Adsense"
Hi,

I have error with IMA video Adsense.

Link: https://ima3vpaid.appspot.com/?adTagUrl=

` Caused by: AdError [errorType: LOAD, errorCode: AdErrorCode [name: ADS_REQUEST_NETWORK_ERROR, number: 1012], message: Unable to request ads from server due to network error.]`

`No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'https://imasdk.googleapis.com' is therefore

[2017-09-24 19:44] longquangpham90 opened #3290 "Not found Sample AES-128 Encrypt"
Dear all!
We deploy application with Exoplayer 2.5.3, but not found **document** or **sample** HLS AES-128 Encrypt
Can you support

[2017-09-25 06:44] ManojJangra commented on #3285
Hi,
We are using ExoPlayer version2.
When we getting different bit rates (5)

0) 1280x720
1) 640x360
2) 320x180
3) 265x144
4) 160x90

we want to show selected
if data saving mode is on ( 4th index selected)
if data saving mode is off (0 index selected)

if(Data saving mode on){
  pass  position-1 index
}else{
 pass 0 index
}

when we get 4 bit rates.
Data saving mode working fine.

kindly suggest

[2017-09-25 07:36] Anilugale opened #3291 "Resize mode not working properly with multiple video"
[code]

![screenshot_2017-09-25-12-39-04](https://user-images.githubusercontent.com/9414411/30797049-353e5d66-a1f2-11e7-80a3-acdeca1339a0.png)

[2017-09-25 07:45] andrewlewis commented on #3279
The logcat contains `E/ACodec: dequeueBuffer failed.` and some logging about dropped frames.

To make progress on this, it would be useful to have a full bug report captured using `adb bugreport`, attached here or emailed, then we can investigate further. Thanks.

[2017-09-25 08:12] andrewlewis commented on #3289
Does the VAST ad server's response (from `https://ima3vpaid.appspot.com`) have an CORS header? See the [IMA documentation](https://developers.google.com/interactive-media-ads/docs/sdks/html5/cors), or the [VAST 3.0 specification](https://www.iab.com/wp-content/uploads/2015/06/VASTv3_0.pdf) subsection 2.1.5.2.