[2017-07-05 10:14] ojw28 commented on #3027
The device simply isn't able to decode the video stream quickly enough. Handling this case better (e.g. by only showing key-frames) is tracked by https://github.com/google/ExoPlayer/issues/1948.

[2017-07-05 10:14] #3027 closed, assigned to nobody

[2017-07-05 10:26] NtcWai commented on #3025
Thank for your explain, @tonihei
Instead of using` player.prepare(source);`  and ConcatenatingMediaSource , which method & class should I use to make player continue playing when internet be re-connected ?

[2017-07-05 10:42] ghost commented on #3011
I have solve this problem by installing the libc6-dev-i386 package.

I don't know why the old OS do not allow me to install that package. So that I have to install the new one and everything were solved.

Please close this topic.

[2017-07-05 10:44] #3011 closed, assigned to nobody

[2017-07-05 10:53] ojw28 commented on #3020
I cannot reproduce this. The player makes a couple of attempts (in rapid succession) and then gives up retrying. Even if I configure the source manually to retry forever, retries stop as expected when quitting the player activity.

Please provide proper reproduction steps and all of the information requested in the issue template, else there's nothing actionable here and we will close the issue. T

[2017-07-05 10:56] tonihei commented on #3025
When the player lost connection to its data source for some time, it will issue a player error (EventListener.onPlayerError). In this case you need to use `player.prepare(newSource); ` as you already did. If there only was a short connection outage (without a player error), the player should just continue playing on its own without any intervention.

[2017-07-05 11:08] mkaflowski opened #3028 "Memory Leak in SimpleExoPlayerView"
I use SimpleExoPlayerView in Fragment connected to Service ang get memory leaks after dispatching fragment and NOT killing service which has working player:

![screenshot_1499252767](https://user-images.githubusercontent.com/10148175/27861909-1b73d0f0-6183-11e7-9294-a1caef4da9cf.png)

Should I relese SimpleExoPlayerView somehow?

[2017-07-05 11:14] ojw28 commented on #3028
I'm assuming it's intentional that the player's lifespan is longer than that of the activity, and that it's in a service. In this case yes, you need to detach the view from the player when the activity goes away, else you will leak it in this way. You probably want to do `SimpleExoPlayerView.setPlayer(null)` on the view when the activity is stopped (or some other appropriate point in the activity

[2017-07-05 11:14] #3028 closed, assigned to nobody

[2017-07-05 11:24] iponkan commented on #1948
@ojw28 Can i set less quality output to achive 4x palyback spped? If can,what i suppose to do? #3027

[2017-07-05 12:08] goffioul commented on #2891
The patch is intended to fix the segmentation of ExoPlayer, which is not suited to decoders from ffmpeg or Google. By not segmenting data into logical entities, the decoders miss important decoding parameters leading to pixellation and artefacts.

[2017-07-05 12:17] iponkan commented on #3027
@ojw28 when i click the fastforward button it can paly the frame，so i think it is still have problem in
setPlaybackParameters not work when play 4x high-quality video

[2017-07-05 14:01] ojw28 commented on #3019
The issue as it stands kind of implies this happens on all devices, but none of the devices I've tested reproduce the issue. Could you please provide the list of devices that you actually did test on?

[2017-07-05 14:13] imarenco opened #3029 "External Subtitles VTT"
Hello,
I've been using 2.4.3 version but I'm needing some examples to use multiple vtt external files in order to switch these subtitles. Are there some examples available to keep an eye on them?

I tried to use MergingMediaSource but this only Works with 1 subtitle file.

thnks!

[2017-07-05 14:35] ojw28 commented on #3029
You can merge as many subtitle files as you want using `MergingMediaSource`. Just pass an extra child `SingleSampleMediaSource` for each additional subtitle file. The `MergingMediaSource` constructor takes an arbitrarily large array...

[2017-07-05 14:35] #3029 closed, assigned to nobody

[2017-07-05 14:37] imarenco commented on #3029
Ok, but how I can switch the subtitles? @ojw28

[2017-07-05 14:41] ojw28 commented on #2891
That doesn't answer the question. The "correct" segmentation is that each input buffer to the decoder should correspond to a single output frame. The question I'm asking is whether your change achieves this, or whether this is already the case in the current version of your code, and your change is moving away from this. Which one of these is true?

If the segmentation is already correct and the d

[2017-07-05 14:43] ojw28 commented on #3029
Through the normal track selection APIs (e.g. `DefaultTrackSelector`). If you create this kind of source in the demo app then there will be a button that allows you to select the subtitle, so that should serve as a pretty good starting point for you to work out how it's done.

[2017-07-05 14:47] ojw28 commented on #1948
If the media contains video at multiple resolutions (e.g. because it's adaptive DASH, HLS or SmoothStreaming content) then this is something we intend to look into. If the media is non-adaptive (e.g. a regular MP4 file) then no; that's just not how video codecs/decoders work.

This issue is open because we're still looking into various options for better handling this case. We do not have a recomm

[2017-07-05 15:09] iponkan commented on #1948
@ojw28 Thanks a lot.hope you guys have good solution on it.look forword for it.

[2017-07-05 15:24] drhill commented on #3008
I had submitted code awhile back for PGS that was rejected because I translated the ffmpeg implementation into java.

Afterwards I started an implementation from scratch using other sources as documentation.  I implemented it in my video app which can be viewed here:

https://github.com/drhill/homeview/tree/master/app/src/main/java/com/monsterbutt/homeview/player/text/pgs

Anyone who wants to take

[2017-07-05 16:17] oukb commented on #2572
Hi
I have the same problem with old and new ams.

First file from old ams
./bcdb52266de34f1e8aa5474d17b0850c_portal_MQ.mp4Frag1Num0work.ts
It's ok

[code]

Second file from new ams - didn't work.
./bcdb52266de34f1e8aa5474d17b0850c_portal_MQ.mp4Frag1Num0dontwork.ts

[code]

[chunks.zip](https://github.com/google/ExoPlayer/files/1125302/chunks.zip)

[2017-07-05 16:22] ojw28 commented on #3007
I merged a fix into `dev-v2`. I wasn't able to reproduce (because I couldn't find a suitable device to test on), so fixed it blind. Please verify if possible.

[2017-07-05 16:22] #3007 closed, assigned to ojw28

[2017-07-05 16:23] ojw28 commented on #2985
We've merged a fix into `dev-v2`. Please verify if possible.

[2017-07-05 16:23] #2985 closed, assigned to andrewlewis

[2017-07-05 18:34] goffioul commented on #2891
My patch was a deviation from the rule "1 sample -> 1 output buffer", which lead to the exception in case of discontinuities. Nevertheless, the segmentation in H262Reader is incorrect and I finally found the correct way that prevents the pixellation problem and does not break the above rule. Thanks.

[2017-07-05 18:38] ojw28 commented on #2891
Ah, that's good news! Please let us know if/when you have an updated patch.

[2017-07-06 00:02] ChernyshovYuriy opened #3030 "Handle connection loss"
Hello team,

This is a suggestion for improvements, correct me if I am wrong in my request.
The issue is that when connection interrupts for a short period (few seconds) the Player throws playback exception even though there is buffered data available. Quick example is turn WiFi off and on.
Real use case is when live stream consumes, for instance Internet radio station and vehicle drives via dead

[2017-07-06 01:46] NtcWai commented on #3025
I got it, thank you very much (bow)

[2017-07-06 01:58] linyongsheng opened #3031 "the input format and output format 's height and width are different"
Hi team:
I use ExoPlayer to play live stream in Tmall TV Box S1。The live stream is HTTP-FLV。I find some live stream the input format's width and height are different to output format's width and height。
I change the code in class 'MediaCodecVideoRenderer' follow:
[code]
is OK?

[2017-07-06 02:02] Dusam opened #3032 "ExoPlayerImplInternal: Internal runtime error. java.lang.IllegalStateException at android.media.MediaCodec.native_dequeueInputBuffer(Native Method)"
ExoPlayer version: release-v2
Device:ASUS_Z017DA  Android version:6.0.1
Device:HTC_M8x  Android version:6.0

I am using Android JobScheduler and WindowManager to do background test with ExoPlayer, I set the test duration is 30 sec, but if it start background test, it was failed in 4-10 sec.

Here is the error code:

07-06 09:07:25.131 25657-26229/ E/ACodec: queueBuffer failed in onOutputBufferDrai

[2017-07-06 06:51] #3016 closed, assigned to nobody

[2017-07-06 07:37] ojw28 commented on #3030
For DASH, HLS and SmoothStreaming we continue to play the buffered media and recover seamlessly when it's possible to do so.

For other (typically older/legacy) types of live stream, this type of seamless recovery isn't possible. There will necessarily be some kind of discontinuity even if we're able to recover. It is true that we halt playback unnecessarily quickly for these types of streams, rat

[2017-07-06 07:37] #3030 closed, assigned to nobody

[2017-07-06 07:55] andrewlewis commented on #3032
We need the information requested in the issue template, especially a full bug report (`adb bugreport`) and preferably also instructions/code to reproduce this. Did you find it was not reproducible on other devices?

[2017-07-06 08:36] Dusam commented on #3032
It have the same problem on my partner device.
I use JobScheduler to play in background with close the screen.
I use handler to count 30 sec, then call `player.stop()` and `player.release()` to stop playing video.
but it always just only play 4-10 sec and then stop play video.
because if not set view to player, it can't use `player.getCurrentPosition()` to get the video current duration, so I use

[2017-07-06 09:10] ojw28 commented on #3032
It's really unclear what you're doing (and why), but that failure is indicative of you having told the player to render into an invalid `Surface`. How are you setting the surface on the player, and why are you setting one if you're playing in the background?

[2017-07-06 09:11] ojw28 commented on #3032
As @andrewlewis noted, we really need you to fill in the issue template properly. The issue template *explicitly* states that copy/pasting logcat is not sufficient logging to attach when filing an issue. We also provide clear reproduction steps; the ones provided here are far to vague to allow us to easily reproduce what you're doing.

[2017-07-06 09:40] gergely-sallai commented on #3007
Tested it on an LG G2 (Android 4.2.2, Qualcomm Snapdragon 800), no more negative values reported. Fixed, thanks.

[2017-07-06 10:18] yueyueniao2012 commented on #2872
I'm really expecting!Thank you very much for your excellent work！

[2017-07-06 10:21] AquilesCanta commented on #2872
The new approach will just propagate an exception when the reset condition is met. You will then have to re-prepare the player. In the future we might consider supporting seamless continuation. Please let us know if you run into any problems.

[2017-07-06 10:21] #2872 closed, assigned to AquilesCanta

[2017-07-06 10:25] yueyueniao2012 commented on #2872
OK！I will if I meet some new issue.Really thank you!

[2017-07-06 11:33] TarifHatoum commented on #2872
hi AquilesCanta i have implemented this but the player tooks a lot of time to play the hls. Is there a way to make to popup an error message to decrease the time of reinitializing the url such as onPlayerError function?

[2017-07-06 12:07] AquilesCanta commented on #2872
I don't understand very well. Could you elaborate a bit more on what the issue is?

[2017-07-06 12:12] TarifHatoum commented on #2872
hi AquilesCanta the implementation of the handling issue works greatly but it took a time around 2 minutes or more buffering before continuing playing. So is there a way to detect when server is restarted such as OnplayerError function?

[2017-07-06 12:44] AquilesCanta commented on #2872
2 minutes is way too long, so something is not going well. A few notes that might be helpful:

- ExoPlayer will not propagate the error until it reaches the live edge (i.e. the buffered media is played in its entirety). So, if there are b seconds of buffered media, and the reset happens at time t, the exception is not going to be propagated before t+b. But this means that the player will be in rea

[2017-07-06 14:30] Dusam commented on #3032
I seem to find out where the problem is, I first close issue, if there are new problems to ask you again.
Thanks.

[2017-07-06 14:30] #3032 closed, assigned to nobody

[2017-07-07 01:45] ursusursus commented on #1706
Hi, do you provide some snapshot builds of dev branch or do I have to checkout sources / wait for stable release?

[2017-07-07 08:49] gergely-sallai opened #3033 "Closed Caption (CEA-608) tracks do not respect track definition of HLS Master Playlist."
### Issue description
Closed Caption (CEA-608) tracks do not respect track definition of HLS Master Playlist.
CEA-608 tracks are parsed correctly from the Master Playlist, but SeiExtractor does not seem to use the extracted ID, rather it generates new ones for the Closed Caption tracks extracted from the chunks.
This results in `ExoPlayer.EventListener.onTracksChanged` reporting back a CC track wi

[2017-07-07 09:50] vikingmedia commented on #2996
hi @ojw28, I have to admit you're probably right from a technical perspective. I still think though, that successfully playing a slightly malformed manifest is of more value to the users than us being right :-). I can't think of any situation in which not trimming line feeds and white spaces in the BaseURL would make sense or add to the robustness of the player. The manifest that @alex-hryzak post

[2017-07-07 09:58] ojw28 commented on #2996
I'd suggest you report the issue to Bitmovin; who I suspect will be happy to make a quick fix on their side.

[2017-07-07 10:14] tonihei commented on #1706
Yes, you're right. Until we merge this change into our release branch, you would either need to check out the sources or wait for the release.

[2017-07-07 10:27] Patelchir opened #3034 "Seekbar"
I want to change seekbar whenever i swipe the seekbar and whenever i use getduration() method the value of my audio file is negative.. so what can i do for get for total duration of my audio file?

[2017-07-07 11:27] vikingmedia commented on #2996
already did that, thanks. Just wanted to contribute my opinion, that's all.

[2017-07-07 11:46] ojw28 commented on #3031
Is this an issue report, or is it a question? It's a little unclear what you're asking. If it's a question, can you try and phrase it more precisely, and provide a concrete example that we can use to reproduce what you're seeing? Thanks.

[2017-07-07 12:17] Kmphitech opened #3035 "Update update Play Pause Button"
play and pause button not updating when video finished...

[2017-07-07 12:26] Fullhazard opened #3036 "Prebuffering"
Hi! This is my first post to Github. Is it possible to get pre-buffering percentage with Exoplayer?

`

                        int estimatedBufferDuration = (int) C.TIME_UNSET;
                        int estimatedBufferPosition = (int) player.getBufferedPosition();
                        if (estimatedBufferPosition != C.TIME_UNSET) {
                            estimatedBufferDuration = (int) (

[2017-07-07 15:07] ojw28 opened #3037 "Make segment indexes visible to subclasses of DefaultDashChunkSource"
This is to enable customizations to the source that require access to the segment indices (i.e. the parsed SIDX boxes).

We may also want to expose more of the RepresentationHolder. It currently has protected visibility, which suggests it was intended to be accessed by subclasses at some point in time.

[2017-07-07 15:39] ojw28 commented on #3035
This is working as intended. It doesn't really make sense to change to the "play" icon either, since playing something from the end doesn't do anything. The icon used reflects whether seeking back to a previous position in the media will cause playback to start or not. Note that you can toggle the icon whilst in the ended state and then seek backward, and the behavior you get is different to the b

[2017-07-07 15:39] #3035 closed, assigned to nobody

[2017-07-07 17:20] ojw28 commented on #3034
I'm not sure what this question means. Please try rephrasing. Thanks!

[2017-07-07 18:25] imarenco commented on #3029
Hello I use DefaultTrackSelector but when I use getTrackGroup(C.TRACK_TYPE_TEXT) the size of group is 0. When I use the equal method with C.TRACK_TYPE_AUDIO the size of audio it's right.

MappedTrackInfo mappedTrackInfo = trackSelector.getCurrentMappedTrackInfo();
TrackGroupArray group =  mappedTrackInfo.getTrackGroups(C.TRACK_TYPE_TEXT);

Do you know why that happens?
@ojw28  @andrewlewis

[2017-07-07 21:25] Fullhazard commented on #3036
First of all I wanna apologize for my english. I just realized that prebuffering/preloading is wrong word for this.  I  Wanna try to explain my problem as well as possible.. When I start to play stream buffering percentages jumps instantly from 0 to 100%..  Otherwise buffering percentage goes smoothly from 0 to 100% after swiping SeekBar  After swiping SeekBar stream stops for second  at this poin

[2017-07-07 22:17] goffioul opened #3038 "RTMP extension's buid.gradle does not use modulePrefix for dependency on :library-core"
(Title should be explicit enough).

[2017-07-08 04:48] Patelchir commented on #3034
I want to say that i am streaming audio in exo player.. so how can i get streaming song total duration??? is it any method available in exoplayer?

[2017-07-08 06:09] ICommandMachinesObey commented on #3024
I added the logcat output.

[2017-07-09 01:23] malleshamdasari opened #3039 "Can we tweak hardware/software decoding in Exoplayer?"
I have searched a lot on hardware acceleration of video decoding in Exoplayer but I couldn't find any information. I have looked at Mediacodec folder of explayer code to tweak but couldn't get success. Is exoplayer using hardware decoders? If so, how can I tweak?

[2017-07-10 08:37] andrewlewis commented on #3039
Android provides a list of codecs in priority order, and ExoPlayer picks the first usable decoder that supports playback of input media format. This is generally a hardware accelerated decoder if the device has one for the format. Please read [`MediaCodecUtil`](https://github.com/google/ExoPlayer/blob/79f7db7/library/core/src/main/java/com/google/android/exoplayer2/mediacodec/MediaCodecUtil.java)

[2017-07-10 08:47] ojw28 commented on #3029
`getTrackGroups` doens't expect a C.TRACK_TYPE constant as its argument, so that's definitely wrong. The Javadoc clearly indicates that you need to pass a renderer index. As per my previous response, you should spend some time looking at the demo app and use that as a starting point.

[2017-07-10 08:58] AquilesCanta commented on #3034
This is most likely a duplicate of #3004. If not, please update this thread with the file you are trying to play and explain exactly the expected and actual behavior.

[2017-07-10 08:58] #3034 closed, assigned to nobody

[2017-07-10 09:40] ojw28 commented on #3036
`getBufferedPercentage` is what you should be using. If that's not working for you then please provide clear reproduction steps that let us reproduce the problem you're seeing.

[2017-07-10 09:50] zhanghuicuc opened #3040 "Possible solutions to optimize cpu load for HLS"
Hi,
As mentioned in  [#1227](https://github.com/google/ExoPlayer/issues/1227) and [#1412](https://github.com/google/ExoPlayer/issues/1412), Loader:HLS thread cosumes a lot of CPU resources. We have used ARM Streamline to analyze the CPU activity and got the result as follows:
![ori2](https://user-images.githubusercontent.com/11029233/28012882-d067a13e-6599-11e7-8de8-759804d3e0e1.JPG)
We can see th

[2017-07-10 10:19] AquilesCanta commented on #3040
Would you kindly provide us with the streams you are using to test resource consumption? It would be good for us to know the characteristics of the streams.

[2017-07-10 10:33] zhanghuicuc commented on #3040
I simply used Bento4 mp42hls to convert tears_h264_high_uhd_30000.mp4 in https://storage.googleapis.com/wvmedia/clear/h264/tears/tears_uhd.mpd to a HLS-TS stream. The m3u8s are as follows:
[master.m3u8](https://github.com/google/ExoPlayer/files/1135164/master.txt)
[stream.m3u8](https://github.com/google/ExoPlayer/files/1135167/stream.txt)

The stream is on our internal server right now and I'm afr

[2017-07-10 11:12] #3038 closed, assigned to nobody

[2017-07-10 11:13] ojw28 commented on #3038
Actually, something else has gone wrong with our merging script that has caused the extension to largely disappear. Investigating, and will fix shortly.

[2017-07-10 11:18] ojw28 commented on #3038
Fixed.

[2017-07-10 12:08] m35w commented on #2763
@ojw28 Could you please give us some estimates about release date of this feature?
I'm especially interested in offline HLS content (with DRM), but also DASH one (I understand it's the higher priority for you).

I'm about to start implementing similar functionality but, as it happens that ExoPlayer team is working to add this functionality internally, maybe it's worth to wait for it, but I would n

[2017-07-10 12:33] ojw28 commented on #889
Simple SSA/ASS subtitles (not yet including styling) are now supported in `dev-v2`.

[2017-07-10 12:34] ojw28 commented on #3024
This issue still does not provide information requested in the issue template.

[2017-07-10 12:37] emdash-ie opened #3042 "Why don't DefaultBandwidthMeter's reported elapsedMs and EventLogger's reported loadDurationMs match?"
Working in the demo application, I registered an event listener on the bandwidth meter, and then logged the provided elapsedMs values. I also logged the value of loadDurationMs provided to the event logger in onLoadCompleted.

Why don't these values match? The bandwidth listener's reported values seem to always be lower than those reported to the event logger, varying from about 50–100ms lower.

H

[2017-07-10 12:38] ojw28 commented on #3042
What type of media are you playing?

[2017-07-10 12:39] emdash-ie commented on #3042
I'm playing the Google Play video in the YouTube DASH category in the demo app.

[2017-07-10 12:45] Fullhazard commented on #3036
Maybe most easiest way to explain my "problem" is... Jumping from segment to another segment(seeking)., buffer percentage stays 0% until jumping is happened(and buffering starts. Most of times jumping from segment to another segment takes more time than buffering upcoming segment.

I have tested hls live and vod streams..

Here is the methods i am using if it is any help..

`

    public void buff

[2017-07-10 12:45] ojw28 commented on #3042
For DASH streams audio and video are demuxed into separate streams, whose segments are downloaded in parallel. So if time is going from left to right in the diagram below, you might end up with loads overlapping as follows:
[code]
The bandwidth estimate is updated whenever any load ends, so you'll get an updated estimate at the end of a1, then another at the end of v1 and so on. The period of time

[2017-07-10 12:45] #3042 closed, assigned to nobody

[2017-07-10 12:47] ojw28 commented on #3036
The above response doesn't describe any actual problem. It just seems to describe doing a seek. What is the actual problem?

[2017-07-10 12:49] emdash-ie commented on #3042
I see, thanks for the explanation – I appreciate it.

I also have a DASH stream that only contains video tracks, and for that stream the times still differ by 10–40 ms. What's happening there?

[2017-07-10 12:53] ojw28 commented on #3042
I think that's a result of the thread that the timing is done on in the two cases. To start a load, the playback thread posts a message to a background thread that then does the load. When the load completes, the background thread posts a message back to the playback thread to say that it's finished. The timing for the bandwidth events is done directly on the background thread, where-as the timing

[2017-07-10 12:53] Prawez commented on #2353
Hi There,

I am using latest version of exoplayer and it is working perfectly fine at our end. However I have faced issue to show different bit rates from HLS video file. I am always getting current bit rate profile. I want to show all bit rates profile and allow user to chose any one of them.

Please assist me how I could achieve this? Any help really appricated.

[2017-07-10 12:55] emdash-ie commented on #3042
I understand – thanks for your help.

[2017-07-10 12:56] Fullhazard commented on #3036
"Most of times jumping from segment to another segment takes more time than buffering upcoming segment." Is it possible to get estimated percentage already in previous segment?

[2017-07-10 12:56] ojw28 commented on #3036
I just don't understand what that means, sorry...

[2017-07-10 12:58] Fullhazard commented on #3036
Should buffering starts immediately after seeking?

[2017-07-10 13:34] dim4ikhot opened #3043 "Frequent playing interrupts via HSCSD connection"
Hi. I'm using Exoplayer version 2.4.3. I searched a lot, but did not find any solution. So, the issue is next: I have next implementation of exoPlayer(audio only) with okHttp3, which plays live audio streams:

[code]
where buildMediaSource id:
[code]
and buildHttpDataSourceFactory is:

[code]

It works well with WiFi. The player plays smoothly and without any interrupts. But the users are complain

[2017-07-10 14:19] ojw28 commented on #3043
Most likely the type of stream you're playing just isn't robust against the connection being interrupted, and in the HSCSD case the network is being periodically interrupted. Streaming standards such as DASH, HLS and SmoothStreaming are robust against interruptions. Something like streaming an indefinite MP3 stream is not, since there's no way for the client to indicate to the server where it shou

[2017-07-10 14:21] ojw28 commented on #3036
Yes

[2017-07-10 15:29] ojw28 commented on #2718
Addressed in https://github.com/google/ExoPlayer/commit/06b3b3ca8d8ee807008e1cbd5d94c6de5cf96df0 in `dev-v2`.

[2017-07-10 15:29] #2718 closed, assigned to ojw28

[2017-07-10 19:25] kamomil opened #3044 "How do I implement a custom video renderer/decoder extension?"
### Issue description
Hi, I have a video decoder code that has a constructor and a function that receive an encoded frame and returns a decoded frame of yuv 420p format. I have a tester that runs my decoder on ubuntu and produces a raw video file using the decoder.

I want to add my decoder as a custom decoder to Exoplayer. I understood that I have to write a class that implements the Renderer int

[2017-07-10 19:55] SvyatoslavLynda opened #3045 "I can't set cookies for HLS stream, and server response 451 status code."
Hello, I work with api which used cookies for auth to stream content, but I can't put this cookies to HLS stream, I found one method how I can do it, but it doesn't work for me.
I added cookies to CookieStore.

Can you help me handle this flow?

[2017-07-10 21:39] ojw28 commented on #3045
You may just need to set a default cookie manager. PlayerActivity in the demo app has code that does this, so I'd suggest taking a look at that.

Beyond that, there isn't sufficient information in this question for us to help. You'll have to properly describe how your authentication flow works if you require further assistance.

[2017-07-10 21:51] ojw28 commented on #3044
Implementing a custom renderer is a hard thing to do. Looking at the VP9 extension is a good starting point. I'd suggest you start by taking a copy of the whole extension. Leave `LibvpxVideoRenderer` as it is, at least to start with, and see if you can replace just `VpxDecoder` and `VpxLibrary` with code that bridges onto the custom decoder you're trying to use. Provided you can do this, you shoul

[2017-07-10 22:35] ojw28 commented on #3021
The media is broken. Specifically, the text media playlist (e.g. 09.m3u8) contain discontinuities where-as the variant media playlists (e.g. 01.m3u8) do not. More worryingly, if you look at the snippet of 09.m3u8 below, it's listing the exact same segment twice around the discontinuity, with two different durations. A segment can only have one duration, and should only be listed once.
[code]
If yo

[2017-07-10 22:35] #3021 closed, assigned to nobody

[2017-07-11 05:13] dim4ikhot commented on #3043
Thanks for the fast reply. So the main issue is not with Exoplayer, but related with two things:
1) From stream type.
2) From Internet connection type.
I correct understood? And if this is the case, we cannot fix, correct?

[2017-07-11 05:58] ICommandMachinesObey commented on #3024
Streaming link :

#EXTM3U
#EXTINF:-1,TV
#EXTVLCOPT:http-user-agent=FreeIPTV(1) LibVLC/3.0.0-git
http://tv.primatv.club:8899/live/prima10simo2/freetv2/499.ts

Itried TS and M3U with no success.

On Mon, Jul 10, 2017 at 12:35 PM, ojw28 <notifications@github.com> wrote:

[2017-07-11 06:12] SvyatoslavLynda commented on #3045
Sorry my English is bad, but i try to describe my problem.

Yes I used default cookie manager for put my own cookies, but when I had try to play stream I had next
[code]

[2017-07-11 11:12] ojw28 commented on #3045
It looks like you're using the okhttp extension. If you don't use that (i.e. use DefaultHttpDataSource), does it work in that case? I suspect okhttp uses a different cookie store somewhere else?

It's not possible to provide further guidance without a clear description of how your authentication flow works, how you're setting the cookies and so on. Saying you put your own cookies, without describi

[2017-07-11 11:13] ojw28 commented on #3043
It's not possible to say because you haven't provided a stream (and so we do not know what type of stream you're playing) or a way for us to reproduce the issue (which would allow us to look further). That would be my assumption though, yes.

[2017-07-11 11:18] ojw28 commented on #3024
Trying to request the provided URL results in a 0 byte text/html response, and I can't play it in VLC either. It's possible the stream is geo-restricted. If that's the case, what country do I need to proxy into to be able to play it?
[code]

[2017-07-11 11:37] ojw28 commented on #3033
Thanks for the detailed report. We'll push a fix for this shortly.

[2017-07-11 11:50] dim4ikhot commented on #3043
Here is the stream:

http://glzwizzlv.bynetcdn.com/glz_mp3?awCollectionId=misc&awEpisodeId=glz

I do not know, how exactly to reproduce the issue. Users say, that they just press play and listen the stream via mobile network and they get interruptions in playing. And unfortunately, I can't tell how exactly often does it happen
P.S I forgot to mention that users also say, that this stream works wel

[2017-07-11 12:53] Parseus opened #3046 "DecoderInitializationException on Asus Zenpad S 8.0"
### Issue description
Loading some videos on Asus Zenpad S 8.0 (e.g. videos recorded from the device's camera) cause ExoPlayer to throw DecoderInitializationException while trying to initialize ExoPlayer the OMX.Intel.VideoDecoder.AVC video codec:

[code]
Android's MediaPlayer works fine with those videos.

### Reproduction steps
Add the attached sample file (made by recording from the device's ca

[2017-07-11 13:20] Frydac opened #3047 "How to request drm decryption key with key-id from decoder extension?"
### Issue description

We implemented our own audio decoder as an extension to exoplayer, and created a demo of it using the exoplayer demo application. That works as intended for local files and HLS/DASH streaming.
One of our clients now wants us to support their widevine drm encryption. They already use it on content with other codecs that are part of exoplayer/android and work as intended using

[2017-07-11 13:26] ojw28 commented on #3047
I don't think it's possible to write your own Widevine implementation, and as far as I know the implementation in the platform is tied to using the platform decoders. I think you'd need a software implementation of Widevine that has your decoder baked into it for such an approach to be feasible, and I don't think Widevine distributes the pieces that you'd need to build such a thing.

@wvpaf - Is t

[2017-07-11 13:51] dbedev commented on #3040
Think these are some valid points by zhanghuicu on exoplayer's HLS capabillity. Also the proposed enhancements to the exoplayer way of (HLS) operating look very interesting.

Do think that at the root of these HLS cpu peaks there is a more generic choice in the way the default  exoplayer data loading operates. It works in a peak pattern that tries to fetch data as quickly as possible with reltativ

[2017-07-11 16:28] ojw28 commented on #3040
Agreed there are some valid points of investigation, and thanks a lot for the analyses. A few thoughts/comments:

- It's worth noting that the rendering thread already has a higher priority than the loading threads (aside: this was broken until 2.4.0, where it was fixed in https://github.com/google/ExoPlayer/commit/ecb62cccd50d891338253faf768d400df0ecfa66, so if you're using an older version then

[2017-07-11 16:36] mangui commented on #3037
thanks @ojw28
it will definitively be useful to be able to access segment indices

[2017-07-11 17:02] ojw28 commented on #3040
It would also be a good idea to profile the extractor to see if there are any hotspots that we can optimize. If we're able to make it cheaper, that's going to be a better solution than spreading the cost (e.g. by lowering thread priority) :).

[2017-07-11 18:37] sainer opened #3048 "Videos in viewflipper"
I have ViewFlipper (inflated manually form XML in activity on start) with programatically added two SimpleExoPlayerView views. I want to play two videos (about 5 sec) in these views. First video working fine but the second freezes on last frame of the first video, but sounds playing and after 5 seconds first wideo work again fine.

I use r2.4.3 Exo player.

It is my code for playing videos;

[code

[2017-07-11 19:38] ojw28 commented on #3040
For looking at increasing `BUFFER_PACKET_COUNT`, it would be good to measure performance with the current value of 5 compared to a proposed new value of 100, with no other changes. It looks like reads stop being satisfied in full when you get over about 80, at least using the default network stack, so there's little to be gained from going beyond 100 I think. If we get confirmation it makes a sign

[2017-07-11 20:55] stari4ek opened #3049 "No playback for TS/AVC/AC-3"
### Issue description
Demo player stays in buffering state while playing provided sample (no video/audio)

### Reproduction steps
* demo app with problematic sample (based on 2bebd526e1ece801ef53e6daeaaee76b0255ec6d): https://github.com/stari4ek/ExoPlayer/tree/tvirl/issues/568_no_playback
* checked with/without `FLAG_ALLOW_NON_IDR_KEYFRAMES`, `FLAG_DETECT_ACCESS_UNITS`

### Link to test content
*

[2017-07-11 23:48] hzdi commented on #3024
I can play it from Egypt, It can be played in Morocco but only in VLC (Windows 10).

[2017-07-12 07:50] langxuelang opened #3050 "Special video cannot seek to the position ,always play from position 0"
I use the exoplayer version1.5.16,when I use "seekto" method to seek,I have found that whatever the seekto position is,the video will play from 0 position.

added:
the version exoplayer v2 is also have this problem

This is the video link:
https://drive.google.com/open?id=0BwneL-jNaOWGbjc0SlFqMVB3aDQ

[2017-07-12 09:23] MizzleDK opened #3051 "Secure video decoding issues on Xiaomi Mi Box 3 (PlayReady and SmoothStreaming)"
### Issue description
Attempting to play PlayReady-protected content on a Xiaomi Mi Box using SmoothStreaming. It decodes and shows the initial frame, but nothing more than that. I'd expect it to play with no issues.

Looking at the logs, I get a lot of TEEC_InvokeCommand errors every second, as you can see below. I'm not exactly sure what they mean, other than it's a Trusted Execution Environment

[2017-07-12 09:24] MizzleDK commented on #3051
I'm not sure this is an ExoPlayer issue, but I figured I'd create it anyway, and maybe you guys can point me in the right direction.

[2017-07-12 09:27] ojw28 commented on #3050
Please see the note on [this page](https://google.github.io/ExoPlayer/supported-formats.html) about seeking support.

[2017-07-12 09:27] #3050 closed, assigned to nobody

[2017-07-12 12:03] zhanghuicuc commented on #3040
a)
Simply increasing BUFFER_PACKET_COUNT to 100 (and not doing anything else) can not make a significant improvement. The test result is as follows, and the first image in my initial post is the test result when BUFFER_PACKET_COUNT = 5:
![read100withoudmultithread](https://user-images.githubusercontent.com/11029233/28115707-94c9aadc-6738-11e7-948a-e518aaf22ddb.png)

However, if we set BUFFER_PACKE

[2017-07-12 12:29] TarifHatoum commented on #1975
hi AquilesCanta, is there a way to press default for example to make the player adaptive like the old exoplayer without selecting any bitrates manually ?

[2017-07-12 13:17] michalliu opened #3052 "Question: How to change loopcount using LoopMediaSource on the fly"
I'm currently using LoopingDataSource, Can I change the loop count while video is playing?
For example:
The initial loop count is set to 3, while the player is playing at the 2nd loop, I want to stop **looping play the video** , not stop the video immediately. That means after the 2nd loop, the player shouldn't proceed to the 3nd loop.

[2017-07-12 14:15] ojw28 commented on #3040
- Could you explain how we're supposed to be interpreting the images you've attached. I'm not really sure what I'm looking at :). Ideally, if you could provide numbers instead (e.g. dropped frames per minute), that would be a lot easier to interpret/compare.
- To answer the question about "reads being satisfied in full": The `input.read` calls are not guaranteed to read the full amount of data req

[2017-07-12 14:43] AquilesCanta commented on #1975
@Tarif-Hatoum, could you explain a bit better?

ExoPlayer is, in most cases, adaptive by default. Are you speaking about the demo app? What does the media you are playing look like? If the media is HLS/DASH/SS, and provides multiple variants, it should be adaptive by default.

[2017-07-12 14:44] AOrobator commented on #1706
@ursusursus I've built an aar off the develop branch that I've been playing around with that has `DynamicConcatenatingMediaSource` merged in. You can include it in your project by putting the aar file in your libs folder then adding the following line to your app level build.gradle file

[code]

[library-core-release.aar.zip](https://github.com/google/ExoPlayer/files/1142325/library-core-release.a

[2017-07-12 14:49] TarifHatoum commented on #1975
Yes i mean the demo app if i need to put a butten named adaptive to make it adaptive when it is default how can i make it without any selection of any bitrate for example making it adaptive between all bitrates?

Sent from my iPhone

On Jul 12, 2017, at 17:44, Santiago Seifert <notifications@github.com<mailto:notifications@github.com>> wrote:

@Tarif-Hatoum<https://github.com/tarif-hatoum>, could

[2017-07-12 14:59] AquilesCanta commented on #1975
The demo app should be adaptive between all supported "bitrates" by default. Unless there are some video/audio bitrates, along with audio only ones, in which case it will only be adaptive between the ones that contain video.

[2017-07-12 15:07] TarifHatoum commented on #1975
The demo app is not adaptive unless we enable the  adaptive checkbox so is there a way to implement a button named adaptive in order to be selected when changing from specified bitrate to adaptive ?

Sent from my iPhone

On Jul 12, 2017, at 18:00, Santiago Seifert <notifications@github.com<mailto:notifications@github.com>> wrote:

The demo app should be adaptive between all supported "bitrates" by

[2017-07-12 16:13] emdash-ie opened #3053 "How can I implement adaptation algorithms that have access to information about the last downloaded (DASH) segment/chunk?"
I would like to implement custom (DASH) video adaptation algorithms in ExoPlayer, where the algorithms have access to information about each segment downloaded (mainly the size, the position in the stream, and the time duration of the segments), on which they can base their choice.

Starting from the demo application, I have tried to implement a new `TrackSelection` (and Factory) following the exa

[2017-07-12 16:44] wvpaf commented on #3047
Hi @Frydac, you and/or your partner should be WV partners and can get access to documentation that should make your path clearer. Please refer to http://www.widevine.com/.  If you and/or your company have already signed an agreement with WV then please reach out to your WV rep.
thanks, Paul

[2017-07-12 16:44] #3047 closed, assigned to wvpaf

[2017-07-12 17:02] dbedev commented on #3040
Not sure if I managed to get the message across properly before.

The current exoplayer implementation requires a single cpu core to parse up to 15 seconds of container data around ~15s intervals.  It will do this at the "maximum" speed at which the data source can provide it and it assumes this will not cause a task scheduling conflict with other related systems tasks on the system.

If there is

[2017-07-12 17:30] ojw28 commented on #3040
- We're on the same page; I understand your points :). And yes, we'll take a look at the thread priorities.
- The point of my first bullet above is that it's really hard for us to look at screenshots of two graphs and derive meaningful data from them. So it would be much better if you could provide numerical data instead. For example "we see 5 dropped frames per minute with priority X vs 50 droppe

[2017-07-12 17:35] #3033 closed, assigned to nobody

[2017-07-12 18:27] JhoangSS opened #3054 "Ooyala SDK for Exoplayer— NoClassDefFoundError: com.ooyala.android.player.exoplayer.ExoStreamPlayer"
Question

**Situation:** Updating my Android Project from the old Ooyala SDK with VisualOn to the newest Ooyala SDK with Exoplyer. Plays a video through the Amazon Fire Stick.

**Problem:** After Updating the SDK, the project no longer works. We receive this error message:

.

**_"E/AndroidRuntime: FATAL EXCEPTION: main Process: com.ISN.firetv_isn, PID: 19650 java.lang.NoClassDefFoundError: com.oo

[2017-07-12 18:43] ojw28 commented on #3054
This is a question relating to Ooyala, not Exoplayer. You'll need to ask somewhere Ooyala appropriate, rather than here.

[2017-07-12 18:43] #3054 closed, assigned to nobody

[2017-07-13 02:26] zhanghuicuc commented on #3040
OK, I'll do some tests and let you know once I've got any result.

[2017-07-13 02:52] zhanghuicuc commented on #3053
maybe using selectionData
see https://github.com/zhanghuicuc/SimplePlayer/blob/dev-exo/library/src/main/java/com/google/android/exoplayer2/trackselection/QAdaptTrackSelection.java

[2017-07-13 02:55] weichaoIO opened #3055 "Video plays twice (Broken edit list)"
### Issue description
Video plays twice.

### Reproduction steps
(1) open project `ExoPlayer-release-v2`
(2) modify
`ExoPlayer-release-v2\demo\src\main\assets\media.exolist.json`
change `https://storage.googleapis.com/exoplayer-test-media-1/gen-3/screens/dash-vod-single-segment/video-avc-baseline-480.mp4`
to
`http://cdn-qn.jsxfedu.com/143316ce15c308005b66787AA8DFDF5758CBC5385CEF3A6F94B.mp4?downloa

[2017-07-13 06:09] jiafei1986 opened #3056 "Question: how to switch on/off live edge in exoplayer v2"
I am doing a video app, There is a live stream for dash, and there is an option let the user watch live video or start over. for example, there is a match, the user can watch live or from the beginning.  in the exoplayer v1, there is parameter 'startAtLiveEdge' in class DashRendererBuilder that i can set.
where can i set in exoplayer v2?

Thanks in advance!

[2017-07-13 06:31] Frydac commented on #3047
Thanks for the information!

[2017-07-13 09:32] emdash-ie commented on #3053
Thank you for your reply. I see that you had to modify some of the existing ExoPlayer library to achieve what you wanted – I was hoping to avoid this. Do you know if that's possible?

I'm also not sure if selectionData really helps me here, as I'm looking to pass information into the TrackSelection, rather than get information from it – am I missing something?

[2017-07-13 10:28] TarifHatoum commented on #1975
hi @AquilesCanta  is there any update concerning how to make a button to make the stream adaptive ?

Best Regards

________________________________
From: TARIF .. <tarif-hatoum@hotmail.com>
Sent: Wednesday, July 12, 2017 6:06:55 PM
To: google/ExoPlayer
Subject: Re: [google/ExoPlayer] Audio only HLS/DASH/SS playbacks are not adaptive by default (#1975)

The demo app is not adaptive unless we enable

[2017-07-13 10:48] AquilesCanta commented on #1975
This should not be the case. But according to what you describe, it is most likely not. If this is happening, please report an issue as this is a bug (don't forget to include all the information required in the issue template).

I guess that with "adaptive checkbox" you mean "default checkbox". The default checkbox provides the default behavior, which means it is what you'll get if you don't manua

[2017-07-13 10:56] SvyatoslavLynda commented on #3045
Sorry, problem has happened with server communicate.

[2017-07-13 10:56] #3045 closed, assigned to nobody

[2017-07-13 11:05] jiafei1986 opened #3057 "NullPointer when play exoplayer v2 demo app"
When i test our dash stream in the demo app, I found sometimes the app crashed, the log shows nullpointer exception. i checked the source code and find the 2 below lines.
Class Name: **DashMediaSource**
Line 553:  handler.postDelayed(refreshManifestRunnable, delayUntilNextLoad);
Line 526:  handler.removeCallbacks(simulateManifestRefreshRunnable);
is it necessnary to add checking null logic for han

[2017-07-13 11:20] ojw28 commented on #3057
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

If you’re able to provide complete information as requested in the issue template,

[2017-07-13 11:20] #3057 closed, assigned to nobody

[2017-07-13 11:21] TarifHatoum commented on #1975
Hi again i just need to implement a button that when clicked the stream became adaptive. So how cam implement it in such a way when clicked the stream will be adaptive ?

Best regards

Sent from my iPhone

On Jul 13, 2017, at 13:49, Santiago Seifert <notifications@github.com<mailto:notifications@github.com>> wrote:

The demo app is not adaptive unless we enable the adaptive checkbox

This should n

[2017-07-13 11:29] soadri commented on #3053
If you want to pass the information, I think that using listener is best

[2017-07-13 11:33] ojw28 commented on #1975
@Tarif-Hatoum - For audio only streams, the demo app *is* adaptive by default, without you having to select any kind of check box. It should be clear from the logging that multiple audio streams are being selected as part of an adaptive selection (look for [X] marks next to multiple audio tracks in the logs, as can be seen in examples further up in this issue thread). You do not have to do anythin

[2017-07-13 12:30] emdash-ie commented on #3053
Thanks for the suggestion – is there a particular listener you'd recommend?

[2017-07-13 13:12] ojw28 commented on #3055
The mp4 file actually contains an edit list in just the video track that requests it be played twice. The audio track doesn't contain such an edit list, which is why the second playback doesn't have any audio.

Seems like the media is at fault to me, since it should not contain the edit list in the video track. @andrewlewis might have further insight.

[2017-07-13 13:17] ojw28 commented on #3056
The player will default to the live edge, so I think you're only concerned with the case where the user wants to watch from the beginning. It should work to simply call `player.seekTo(0)` before preparing the player. Similarly, `player.seekToDefaultPosition()` will seek to the live edge. Both can be used before and during playback.

[2017-07-13 13:26] ojw28 commented on #3043
Right, that type of stream can't be seamlessly rejoined if the connection breaks (as far as I know). This limitation would apply to any type of network. So the remaining question is: Why does this particular type of connection appear to break frequently, and what is breaking it. I doubt it's the player if the stream is working well over WiFi, so it's more likely to be the network provider or the s

[2017-07-13 13:30] mkaflowski opened #3058 "Integrating ExoPlayer with system equalizer"
What is the best way to integrate ExoPlayer with system equalizer? I do it in onAudioSessionId but I get effects delayed.

[code]

Is there any way to set my own onAudioSessionId (it could be workaround for me)?

[2017-07-13 14:07] oukb opened #3059 "HLS Stream doesn't play"
Hi
I have the same problem with old and new ams.
First file from old ams
./bcdb52266de34f1e8aa5474d17b0850c_portal_MQ.mp4Frag1Num0work.ts
It's ok
[code]
Second file from new ams - didn't work.
./bcdb52266de34f1e8aa5474d17b0850c_portal_MQ.mp4Frag1Num0dontwork.ts
[code]
ExoPlayer requested only playlist and first chunk.
[code]
[chunks.zip](https://github.com/google/ExoPlayer/files/1125302/chunks.zip

[2017-07-13 15:37] brandoncodes commented on #3049
Hey I'm not in the project team, but I'm using a SD TS stream that is Mpeg-2/AC3 to build an app with Exoplayer.

For me the audio was a hardware specific issue. You might want to include the ffmpeg extension and compile ffmpeg into the application (Disclaimer: Software decoders are slower, but this could be a sanity check to see if it is a hardware issue or an issue getting the audio stream).

I

[2017-07-13 15:40] aipok opened #3060 "High resolution long video not working correctly after seeking"

[2017-07-13 15:42] #3060 closed, assigned to nobody

[2017-07-13 15:52] jiafei1986 opened #3061 "Question:How to set max bit rate in exoplayer v2"
I am now doing the video app of dash, there is a requirement to let the user choose video quality
there are 4 types (auto, high, medium,low),  the high, medium,low will be configed in the backend.

I know there is a method in v1 DashRendererBuilder.setMaxBitrate(maxBitrate); but is there an easy way to set it in v2?
Thanks.

[2017-07-13 16:17] Gian84 commented on #3006
So, it is not a bug.
I had this doubt because other formats (DASH or SS) have this information in the same callback or in EventLogger.

Thank you for your answer.

[2017-07-13 16:17] #3006 closed, assigned to nobody

[2017-07-13 16:22] brandoncodes commented on #3039
Hey I'm not sure if this will help you. From what I understand with Exoplayer it will attempt to choose the best codec for you, it checks to see what hardware acceleration is available on the device. You'll see this in the debug logs; it'll tell you what is unsupported, and then in a video/audio debug listener you can see which codec was chosen.

As a side note, if you need software decoders you c

[2017-07-13 16:36] ojw28 commented on #3061
We centralized everything to do with track selection in V2. Assuming you have a `DefaultTrackSelector` somewhere, you can set the maximum bitrate with:

[code]

You should do this before calling `player.prepare` if you want this to affect the initial track selection.

[2017-07-13 16:43] ojw28 commented on #3058
@andrewlewis - Could/should we should generate the first audio session ID up front (possibly as soon as the player is instantiated), so it can be queried by the app before playback is started?

[2017-07-13 16:46] ojw28 commented on #3052
What's the actual use case? If you want repeat mode functionality that can be toggled on and off during playback, this is resolved in the `dev-v2` branch where there's a new `ExoPlayer.setRepeatMode` method. This will be the recommended way to control looping, except for fairly niche use cases, and will remove the need for you to use `LoopingMediaSource` if that's what you're trying to achieve.

[2017-07-13 17:01] ojw28 commented on #3059
I don't know what "ams" is. Please clarify. I'm also confused. In the debugging above there's a clear indication that the source content is not correct (where-as the "old" file is). Shouldn't you be reporting this to whoever is generating the content, rather than here?

[2017-07-13 17:10] oukb commented on #3059
Sorry, ams - adobe media server 5.
VOD content from apache module mod_hlshttp.so

[2017-07-13 17:25] ojw28 commented on #3059
You should probably report this to the AMS developers, given you're claiming it used to produce content that passed validation, and no longer does so.

[2017-07-13 17:26] michalliu commented on #3052
Thanks, setRepeatMode is exactly what I need. Hope the new version releasing soon.

[2017-07-13 17:26] #3052 closed, assigned to nobody

[2017-07-14 00:32] jiafei1986 commented on #3061
@ojw28 Thanks for your answer. so you mean it will not affect when the user changes the quality during the playback? is it a way to change it during playback?

[2017-07-14 00:56] weichaoIO commented on #3055
@ojw28 Thanks for you reply. I think you are right. I didn't even realize that "the second playback doesn't have any audio".

Does my modified code has any bad effects?

[2017-07-14 02:19] JacksonFoo opened #3062 "Question:How to exceed capabilites if event logger show "supported=NO_EXCEEDS_CAPABILITIES""
I tested my app with exoplayer library v2.4.3 with LG G2 phone it able to play until 540 quality. I already set
trackSelector.getParameters().withExceedRendererCapabilitiesIfNecessary(true)) also unable to exceed. Is able to play when it's been forced the bitrate or select the high quality track.

I attached below logs from event logger.
[https://drive.google.com/file/d/0B74K6PAhBA7UWUVnN3Q3LUdmS1

[2017-07-14 02:24] jiafei1986 commented on #3061
@ojw28  I tested this method,  it also affects during playback, thank you very much. Great work!!!

[2017-07-14 02:24] #3061 closed, assigned to nobody

[2017-07-14 06:54] gimbutas opened #3063 "Galaxy Tab S2 - Drm protetected video does not work properly after seeking"
### Issue description
If long protected video (longer than 1 hour) has video tracks with resolution higher than device resolution (for example 4K), then after starting playback and seeking, the video playback does not resume correctly. Video seems to continue playing (audio keeps playing and elapsed time counter at the bottom left corner of the screen is also updated properly) but screen itself is

[2017-07-14 09:49] mcart666 commented on #1298
Any updates? Can you provide an approximate date when keys rotation may be available in Exo2?

[2017-07-14 09:55] AquilesCanta commented on #3062
Please refer to `exceedRendererCapabilitiesIfNecessary`'s javadoc. Note that it does not apply if it is possible to make a selection without it.

As an example, if your stream has 3 tracks: 1, 2 and 3; 1 and 2 are advertised as supported by the renderer, but 3 exceeds its capabilities. In that case, the selection is going to be 1 and 2 independently of `exceedRendererCapabilitiesIfNecessary`'s val

[2017-07-14 09:55] #3062 closed, assigned to nobody

[2017-07-14 10:17] ojw28 commented on #3055
As far as I can see, the change you've made causes playback to end as soon as the shortest track ends, where-as currently playback ends as soon as the longest track ends.

In the general case the existing behavior is correct. Your change may cause media to finish playback prematurely in the case that the tracks are of uneven duration. If you only want to play this particular file then your change

[2017-07-14 10:17] #3055 closed, assigned to nobody

[2017-07-14 10:19] ojw28 commented on #1298
Does anyone have test streams available, that we can easily make use of (i.e. they should not be geo-restricted or require authentication, and the license server should always issue licenses)?

[2017-07-14 10:28] mkaflowski commented on #3058
Does setting my own session Id generated before could do the job?

[2017-07-14 10:52] Gian84 opened #3064 "MediaCodec$CryptoException: Unknown Error"
### Issue description
When I try to play a Widevine protected content I get a CryptoException only when EME is greater  than L2.
Devices I have used are indicated as L1, so contents should start correctly.
I know Nexus bug about securityLevel on Qualcom processor but Nexus 6P and skipper should work.
mErrorCode: -2998
detailMessage: Unknown Error
mErrorCode I get it is  not appears in docs, what d

[2017-07-14 12:01] mcart666 commented on #1298
What about streams from Axinom? See: https://github.com/Axinom/dash-test-vectors

I've checked the current version of Exo2 on "v7-MultiDRM-MultiKey" and "v7-MultiDRM-MultiKey-MultiPeriod", in particular:
https://media.axprod.net/TestVectors/v7-MultiDRM-MultiKey/Manifest_1080p.mpd
https://media.axprod.net/TestVectors/v7-MultiDRM-MultiKey-MultiPeriod/Manifest_1080p.mpd
https://media.axprod.net/TestV

[2017-07-14 12:49] ojw28 commented on #1298
That's not key rotation (which would be within a single period). Although that does separately sound like a problem.

[2017-07-14 13:17] ojw28 commented on #3063
A few follow-up questions:

- Are you only seeing this issue on Galaxy Tab S2? Does it reproduce on e.g. Pixel, or one of the recent Galaxy S devices? I cannot reproduce on a Galaxy S8.
- Is the video being long relevant? I somewhat doubt it. Does the issue reproduce with the shorter Widevine protected content in the demo app?

Thanks!

[2017-07-14 13:19] hawkiq opened #3065 "Change Subtitles Style"
am developing simple video player with vtt subtitles
I want to change styles for captions by

      private void configureSubtitleView() {
        int defaultSubtitleColor = Color.argb(255, 218, 218, 218);
        int outlineColor = Color.argb(255, 43, 43, 43);
        Typeface subtitleTypeface = Typeface.createFromAsset(getAssets(), "fonts/droid.ttf");
        CaptionStyleCompat style =

[2017-07-14 13:25] adrianrdzv commented on #1298
@ojw28 We have key rotation in our streams, we can provide them to you for testing in a private message.

[2017-07-14 14:36] gimbutas commented on #3063
Thank you for the reply.

1. Yes, I am seeing the issue only on Galaxy Tab S2. I tried it also on Galaxy S5 (Android version 6.0.1) and Nexus 9 (Android version 7.0) and just noticed that selection of higher video tracks are disabled (2560x1440 and 3840x2160) on these devices. On Galaxy Tab S2 these video tracks are available and I see same issue when selecting one of them manually.

2. I must hav

[2017-07-14 15:02] mcart666 commented on #1298
@ojw28 So you're saying that this particular case (each period encrypted with a different key) is expected to work in Exo2?

[2017-07-14 15:24] ojw28 commented on #3063
Would it be possible for you to try forcing `codecNeedsFlushWorkaround` to return `true` on this device, here:

https://github.com/google/ExoPlayer/blob/r2.4.3/library/core/src/main/java/com/google/android/exoplayer2/mediacodec/MediaCodecRenderer.java#L1069

If the issue goes away, we probably just need to enable that workaround on this device. If you are able to try this, please do so by getting

[2017-07-14 16:30] starlord0233 commented on #2959
Link to the test content and reproduction steps are sent in the email. Full bugreport is attached here.
[fullBugreport.txt](https://github.com/google/ExoPlayer/files/1148997/fullBugreport.txt)

[2017-07-14 20:23] jmso1921 opened #3066 "Nimble Streamer WMSAUTH issue on IPV6 devices"
### Issue description
I use nimblestreamer.com and they have a protection called WMSAUTH, sort of like Akamai Auth Token based.  WMSPanel provides a token-based authorization to check each incoming connection signature against original published signature. The following Wowza entities may be protected: entire server, virtual host, application, application instance, separate stream. The protection

[2017-07-15 03:53] malleshamdasari commented on #3039
Hi brandon, Thank you very much for the response. This is exactly what I was looking for. I will try with EXTENSION_RENDERER_MODE_PREFER. Thanks

[2017-07-15 05:16] jmso1921 commented on #3066
I was able to fix this by disabling Cloudflare on my server.

[2017-07-15 05:16] #3066 closed, assigned to nobody

[2017-07-15 07:17] saket opened #3067 "What is the recommended way of getting a video's first frame"
I'm trying to tint the status bar as per the video's colors. Will anyone be able to point me to the correct method to use for extracting the video's first frame once it's ready?

Update: To add more details, I'm using `Exoplayer` with a `TextureView`. From my limited experiments, `TextureView#getBitmap()` seems like a good candidate, but I don't know how to wait for the video to be ready. I tried

[2017-07-15 10:49] ManojJangra opened #3068 "Auto Adaptive bit-rate in Exoplayer v2"
I have update ExoPlayer v2 and facing some issue.
In older version, When i play video HLS file, It was start playing with low bit-rate (low quality) and After 4 or 5 sec It was automatically playing with high bit-rate (high quality).
But in new version, It's never start playing with high bit-rate automatically.

Please provide me solution for same.

[2017-07-15 16:35] ojw28 commented on #551
In-buffer seeking is now optimized to the same extent as DASH.

[2017-07-15 16:35] #551 closed

[2017-07-15 16:36] #2655 closed, assigned to nobody

[2017-07-15 17:17] jmso1921 opened #3069 "Video reloads when phone is rotated"
Video reloads when you rotate phone from portrait to landscape or vice-versa. Fix around it?

[2017-07-15 18:36] kiall commented on #2565
@goffioul if you get a chance to submit a pull request, it would be much appreciated! I would do it myself, but the project wouldn't accept it as I didn't actually write the code :)

[2017-07-15 21:10] ojw28 commented on #3068
It should auto switch up to high quality as in V1. Please provide proper reproduction steps and the other information requested in the issue template (e.g. a full bug report) if you want us to look at your issue. Thanks.

[2017-07-15 21:13] ojw28 commented on #3065
Does it help if you call `subtitleLayout.setApplyEmbeddedStyles(false)`?

[2017-07-16 00:13] ojw28 commented on #2891
@goffioul - Could you provide a pull request or explanation describing the correct segmentation? Thanks.

[2017-07-16 00:32] #3069 closed, assigned to nobody

[2017-07-16 07:01] hawkiq commented on #3065
I've tried it to call `subtitleLayout.setApplyEmbeddedStyles(false);` before `subtitleLayout.setStyle(style);`
but nothing changed.
implemented new method to test font size also nothing changed.

        private void incrementFontSize() {
        float fontScale = 2f;
        fontScale = Math.min(fontScale * 1.05f, 3f);
        subtitleLayout.setFractionalTextSize(SubtitleView.DEFAULT_TEXT_SIZE_FR

[2017-07-16 07:11] hawkiq commented on #3065
@ojw28 thanks for pointing me to disable default style which results to know that I have used SimpleExoPlayerView so to make changes to subtitles I must call

     simpleExoPlayerView = (SimpleExoPlayerView) findViewById(R.id.PlayerView);
     simpleExoPlayerView.getSubtitleView().setStyle(style);

thanks.

[2017-07-16 07:11] #3065 closed, assigned to nobody

[2017-07-16 11:01] #3067 closed, assigned to nobody

[2017-07-16 15:24] psedoykin opened #3071 "App crashed when I use exoplayer"
Hello,
I use  exoplayer for playing radio from some internet stream.
I have implemented that user can change radio from app. (using viewpager)
For it I use the following code:

1) Create and init exoplayer

[code]
2) Start playing:
[code]
When I change the radio very quickly from applications, it crashes and the application falls.
I cannot find why.
Could you help me with the issue ?
How can I enb

[2017-07-16 16:09] ojw28 commented on #1989
We've added the necessary support in ExoPlayer. Note that the platform only provides the underlying support from API level 24+. We've also found quite a few API level 24+ devices that appear to not work correctly with the new crypto modes. We're following up with the device manufacturers, and also trying to get some better platform level testing in place.

[2017-07-16 16:09] #1989 closed, assigned to nobody

[2017-07-17 00:16] Teviz opened #3072 "Local video prepare more time"
When preparing an online video, ExoPlayer is much better than MediaPlayer obviously.
But as for a local video, MediaPlayer seems faster than ExoPlayer with hundreds of milliseconds. I test on some different devices and get the same result.
What factors may lead to this outcome and is there a way to reduce the preparing time when playing a local video?

Thanks for your time.

[2017-07-17 02:55] zhanghuicuc commented on #3040
Hi,
I've done some tests on a Mstar6A938 device, the network bandwidth was set to 10MBps. The same 4K video (duration=1 hour) was played for 3 times. The test results are as follows:

1. Using r2.2.0, we see 354 dropped frames per hour.
2. Using the latest dev-v2 with ojw28's commits, we see 204 dropped frames per hour.
3. Using the latest dev-v2 with ojw28's commits, and set the Loader thread pri

[2017-07-17 05:27] ManojJangra commented on #3068
In older exo version1 gave **public final boolean adaptive**  under MediaFormat Class that provide adaptive bit-rate(Low to high quality) but in Exo version2 like that no any functionality for adaptive bit-rate.
for ex.  exo older version1 to check adaptive bit-rate
private static String buildTrackName(MediaFormat format) {
        if (format.adaptive) {
            return "Auto";
        }
.....

[2017-07-17 07:23] gimbutas commented on #3063
I tried the solution you suggested (forcing `codecNeedsFlushWorkaround` to return `true`) but unfortunately it did not work.

[2017-07-17 07:25] mhassanist opened #3073 "IllegalArgumentException when playing clearkey encrypted video"
### Issue description
Trying to play Clearkey encrypted media using expo player and I get the below error. Please see this issue here https://github.com/videojs/videojs-contrib-eme/issues/20 shows the steps I took to encrypt the video and how it is currently working smoothly in firefox. It should give you full details about the content.

No I made this json file
[code]

and tried it also in base64

[2017-07-17 08:10] ojw28 commented on #3068
In V2 an adaptive track is represented by a group of formats, so there's no need for an individual format to have an adaptive boolean. There are lots of things that are different in V2.

In order for us to help with whatever the problem is your facing, please provide proper reproduction steps and other information requested in the issue template (e.g. a full bug report) if you want us to look at y

[2017-07-17 08:15] ojw28 commented on #3071
Please provide all of the information requested in the issue template if you want us to help with this. In particular a full bugreport (details on how to capture one of these can also be found in the issue template) and information about the device on which you see the issue. It looks like it's device specific to me.

[2017-07-17 08:16] ojw28 commented on #3072
It's very hard to understand what you're actually measuring. What are you timing from, and until, for example? How are you doing the timing? There's no reason why ExoPlayer should be any slower.

[2017-07-17 08:43] mhassanist opened #3074 "Media Codec Exception when playing Widevine encrypted content .. stops working after 9 seconds"
### Issue description
Using your demo Application, trying to play my own Dash mpd stream. It plays only for 9 seconds ( the non-encrypted part) then it stops playing. It is encrypted using Widevine test provider.

### Reproduction steps
in the demo application, replace any mpd dash video link with this one
http://ec2-52-42-32-95.us-west-2.compute.amazonaws.com/play/v10mpd/live.mpd  and try to play

[2017-07-17 08:52] psedoykin commented on #3071
Please look at info:
### Issue description
Some crash is occured when I quickly change mediaSource for exoplayer.
I cannot find why.
Looks like SimpleExoPlayer incorrect work when I stop it and change mediaSource and start again.

### Reproduction steps
1) init exoplayer
[code]
2)
    Start playing:
[code]
3) Quickly change mediaSource for exoplayer

Actual result:
    app is crashed

### Version

[2017-07-17 08:59] ojw28 commented on #3071
You have not provided a full bug report. The issue template explicitly states:

[2017-07-17 09:04] ojw28 commented on #3074
That error indicates that the license response did not include the keys the content is encrypted with:
[code]
I don't know what "It is encrypted using Widevine test provider" means, or which license server you're using, but it sounds like a license server/content mismatch to me.

[2017-07-17 09:12] ojw28 commented on #3040
Thanks; this is excellent data! One additional data point I'd be interested in is what happens in case (3) if you drop the thread priority to `THREAD_PRIORITY_LESS_FAVORABLE` rather than `THREAD_PRIORITY_LOWEST`.

[2017-07-17 09:21] psedoykin commented on #3071
[bugreport2.txt.zip](https://github.com/google/ExoPlayer/files/1152082/bugreport2.txt.zip)

attached bugreport

[2017-07-17 09:54] andrewlewis commented on #3058
@mkaflowski Does the delay go away if you call `setPlayWhenReady(true)` only once you have the audio session and the equalizer is active? The player should get an audio session while buffering if audio is enabled.

We can generate a session ID up front but only from API 21 using `AudioManager.generateAudioSessionId()` (maybe it should happen lazily in a getter on `SimpleExoPlayer`). Before API 21

[2017-07-17 11:06] mkaflowski commented on #3058
I think thant delay is the system issue. It takes a while from sending AudioEffect.ACTION_OPEN_AUDIO_EFFECT_CONTROL_SESSION to activating it for my session (I test on Sony phones). Sometimes it is couple senconds, most likely about 0.5s but it is hearable when you choose some track from the list and start playing right after initializing player.
I have done some research on github project and some

[2017-07-17 11:18] dim4ikhot commented on #3043
I tried the solution, you offered, but it did not take any effect to solve the problem. Here is what I did:

[code]
where `BUFFER_SEGMENT_SIZE = 64 * 1024`.
As I correct understood, the 2-nd argument of the `DefaultLoadControl` should be the same as 3-d argument, but I still got the interruptions.
Then I tried to play with all arguments: I changed 2-nd and 3-d arguments to  `DEFAULT_MIN_BUFFER_MS`

[2017-07-17 14:08] Teviz commented on #3072
Sorry for my ambiguous expression.
What I'm timing is the preparing time when playing a video.
The reason I measure it is because the speed of rendering first frame is important to users.
Here is the MediaPlayer code:

[code]

And Here is the ExoPlayer code
[code]
onRenderedFirstFrame callback works too but still spends more time than MediaPlayer.
I don't think ExoPlayer is slower than MediaPlayer

[2017-07-17 14:14] ojw28 commented on #3072
What values are you seeing in each case? I'm not sure that `MediaPlayer` guarantees to have rendered a frame before it invokes its `OnPreparedListener` callback. And if it doesn't guarantee that, you're effectively timing different things. It's somewhat unclear why you're measuring this, also. Do you actually perceive that ExoPlayer is slower to start when using your app? If the difference is not

[2017-07-17 14:51] Teviz commented on #3072
I think it's perceptible and then I do the test.
The first time I found that is when using cache, MediaPlayer seems to be faster.
I'm also confused too. This only happens when preparing a local video.You could also code a demo with MediaPlayer to verify.

[2017-07-17 15:53] harikautilya opened #3075 "Cache dataSource implementation"
Hey here is an example which i implemented for cache datasource . I searched a lot for examples but couldn't find any . Figured it out-Some-How. Please test it and integrate if it correct.

[code]

[2017-07-17 15:58] dbedev commented on #3040
Nice to see some good progress on this, these already look like promising improvements.

zhanghuicuc  are you using a different 4k video as the uploaded one or are you using a 100mbit link?

The BUFFER_PACKET_COUNT result when using 100 is more or less what we experienced on our armv7 android 4.3 based platform. Unfortunately we do not have an Mstar based system to test on, if this could be provid

[2017-07-17 16:55] ojw28 commented on #3075
This is neither an issue or a question. Closing as duplicate of https://github.com/google/ExoPlayer/issues/2808.

[2017-07-17 16:55] #3075 closed, assigned to nobody

[2017-07-17 17:03] zhanghuicuc commented on #3040
@dbedev  I'm using a different 4k video with a bitrate of 15Mbps. Actually, it was just transcoded from the uploaded one using ffmpeg and converted to a HLS stream using Bento4. The network link is about 10MBps.

I've just done some tests with the Loader thread priority of  THREAD_PRIORITY_LESS_FAVORABLE. The video (duration = 1 hour) was played twice. We saw 225 dropped frames per hour.

It seems

[2017-07-17 20:50] stari4ek commented on #3049
@brandoncodes
Issue I'm talking about isn't device specific and most probably is related to TS extractor.

Your case is pretty common, since Android CTS does not require AC3 support from device manufacturers (https://developer.android.com/guide/topics/media/media-formats.html#audio-formats) so sometime there are no native codecs.

Checked with S8+ (SM-G955F): never leaves buffering state

[2017-07-17 21:44] ojw28 commented on #3049
The stream's PMT appears to declare an entry with PID 5663 which is an English language MPEG audio track. However there are no subsequent TS packets with this PID. We therefore get stuck because we're unable to determine the format of the corresponding track that we generate.

I'm not sure if we're missing something that we should be using to filter this entry out, of if there's some other issue i

[2017-07-17 21:46] ojw28 commented on #3049
Note that `mediainfo` does not list this entry. VLC does list it, and selecting it results in no audio.

[2017-07-17 21:54] stari4ek commented on #3049
in my case only 3rd audio track is playable by desktop VLC.
I can ask user to record bigger slice of stream if it can help to dive into.

[2017-07-17 21:59] ojw28 commented on #3049
I'm going to close this under the assumption that the media is bad. We can't make a track selection (and start playback) until we know the format of every track, since without the track formats we can't determine which tracks are playable. For TS streams there's no quick way to determine which tracks are missing formats so that we can discard them, because there's no cutoff point in the container

[2017-07-17 21:59] #3049 closed, assigned to nobody

[2017-07-17 22:07] stari4ek commented on #3049
Got it.

Wanted to add another stream (from same provider) with different tracks layout but the same problem (one of audio track is broken: pl): https://drive.google.com/file/d/0Bww3WxdHUiM1ZkRFa1Z3bW5scG8/view?usp=drivesdk

[2017-07-18 08:40] mrjerometw opened #3076 "Can't play MPEG-TS (video: AVC, audio:MPEG)"
Hi all,
The ExoPlayer is very wonderful and excellent and the app can play many different video fomat.
The most important is that the app writed by JAVA Code : )

### Issue description
But now .. I have one problem when play MPEG-TS video.
You can download the video in here
https://drive.google.com/open?id=0B4C7mA1uPAIaemZRa01Hdk12VFU

The TS video file can play in VLC player of android.
But I don

[2017-07-18 09:27] sshurick opened #3077 "Incorrect playing of Coub video"
Hi all!

### Issue description

I've tried to embed playing of Coub's videos in my app with ExoPlayer and I'm faced with the problem that ExoPlayer incorrectly reports length of those videos and as a consequence fails to loop/replay them.
Coub's videos have video steam only (no audio) coded with H264 and packet into mp4 container.

### Reproduction steps
    Add the following to the demo App:

[2017-07-18 10:29] andrewlewis commented on #3077
I had a quick look at the second stream provided above. It has a sidx box that declares a 1.92 second long chunk, while the trak box declares a duration of about 8 seconds. So I suspect the media is not valid.

[2017-07-18 11:31] soadri commented on #3053
What is your adaptation concept?

If the concept is based on the bandwidth, the listener in the BandwidthMeter is good

[2017-07-18 11:35] soadri commented on #3048
I think your code is so heavy, the object is created in every time when flip occurs and set again

[2017-07-18 11:48] ojw28 commented on #3077
The media appears to have 6 sidx boxes interleaved through the file. Each contains only a single entry, that presumably corresponds to the following chunk of media.

It's unclear how you're really supposed to seek in such a file, since there doesn't seem to be anything akin to a top level index. It's also unclear what purpose the single entry sidx boxes actually serve.

This might not be an actual

[2017-07-18 12:19] ojw28 commented on #3076
Have you read [this](https://google.github.io/ExoPlayer/faqs.html#why-do-some-mpeg-ts-files-fail-to-play)?

[2017-07-18 12:25] ojw28 commented on #2666
An easy to use MediaSession integration was added as an extension in the `dev-v2` branch in https://github.com/google/ExoPlayer/commit/5be79d4f42848d40491d97c33a044eedaaa79f92. We'll be following up with further improvements and documentation.

[2017-07-18 12:27] c3stream opened #3078 "r2.4.3 Error converting bytecode to dex"
compileSdkVersion 26
buildToolsVersion "26.0.0"
exoPlayerVerion = 'r2.4.3'

[2017-07-18 12:36] mrjerometw commented on #3076
@ojw28
Thank you your reply
I modify some source codes according the [article](https://google.github.io/ExoPlayer/faqs.html#why-do-some-mpeg-ts-files-fail-to-play)
Now the ExoPlayer can play TS Video ..
Although the video drop some frames when playing : (
But I still appreciate your help !

[2017-07-18 12:46] #3078 closed, assigned to nobody

[2017-07-18 13:44] davibe opened #3079 "HlsChunkSource starts with wrong track, despite resolution/bitrate constraints"
### Issue description
As a user/integrator of exoplayer i want to be able to set max bandwidth and/or resolution for the exoplayer HLS adaptation logic. I would expect the player to never download and try to playback segments that do not satisfy the constraints I have set.
However, when the HLS manifest is written with inner playlists sorted from the highest to the lowest quality ExoPlayer will tr

[2017-07-18 13:52] ojw28 commented on #3079
I'm really struggling to understand this issue. Primarily due to the lack of a bug report, as is explicitly requested in the issue template. If you take a bug report shortly after playing your test stream using the demo app, it'll include detailed debugging information showing us what actually happened during the playback, including the track selections and adaptations that took place. Please play

[2017-07-18 14:09] davibe commented on #3079
I know a proper bug report would be better but I am not able to provide a publicly available example manifest at the moment.

Despite what you said I can guarantee that with a manifest file as the one described above (sorted from the highest to the lowest quality) the first segments downloaded are the ones with very high resolution and they are used to initialize the decoder resulting in a failure

[2017-07-18 14:12] ojw28 commented on #3079
You do not need to provide a publicly available manifest to provide a bug report captured as described in the issue template.

[2017-07-18 14:13] ojw28 commented on #3079
Also, what branch is "exoplayer v2 branch as of today". There are two branches for v2 (dev and release).

[2017-07-18 14:35] ojw28 commented on #3079
Figured it out; ignore me :). This is an interesting bug. We do correctly discard and re-buffer a different format if the track selector indicates that a different stream should be selected after preparation completes, and the decoder doesn't ever receive an input buffer in the discarded format.

There is however a separate optimization that's supposed to allow the format to be delivered to the de

[2017-07-18 14:40] ojw28 commented on #3079
As an aside for producing your streams: HLS players typically download a segment of the first variant listed in the master playlist at the start of playback. So you shouldn't put the highest quality variant first. [Apple's best practices](https://developer.apple.com/library/content/technotes/tn2224/_index.html#//apple_ref/doc/uid/DTS40009745-CH1-BITRATERECOMMENDATIONS) state:

[2017-07-18 14:49] davibe commented on #3079
You are right, I am sorry I was not very precise while addressing this. I have updated the description to specify that I am using `release-v2`.
This is the output of `adb bugreport` taken right after opening the media reproducing the issue.
[bugreport-1.txt](https://github.com/google/ExoPlayer/files/1156241/bugreport-1.txt)

Despite Apple guidelines the server generating that manifest is not direc

[2017-07-18 17:16] nerd-sj opened #3080 "MKV file with Opus Audio and VP9 video plays like a distorted one"
### Issue description
MKV video file plays like a slow moving file and audio is shrill

### Reproduction steps
1. Get a MKV container format file with x-vnd.on2.VP9 as Video format and Opus as Audio format and  1920 * 1080p resolution.
2. Build the demo app with extensions or no extensions.
3. Edit the demo app PlayerActivity manifest to accept video/* mimetype and
    "android.intent.action.VIEW"

[2017-07-18 22:15] wvpaf commented on #3051
Hi I am not sure this is an exoplayer or Android stack issue. Looks like the Xiaomi TEE has crashed.
We will attempt to reach out to the OEM but that avenue has not been fruitful.

[2017-07-18 22:25] wvpaf commented on #3064
Unfortunately the N5 has release with an HDCP issue, from the OEM.
This is not slated to be addressed. Recommendation is not to require HDCP on N5

[2017-07-18 22:25] #3064 closed, assigned to wvpaf

[2017-07-18 22:32] wvpaf commented on #2776
Suggestion, if you set the HDCP version to 1 playback should work on some of the mentioned devices.

[2017-07-18 22:32] #2776 closed, assigned to wvpaf

[2017-07-19 01:57] ICommandMachinesObey commented on #3024
Could you test for Egypt or Morocco? I don't know why it only works on VLC
Desktop when I make a M3U file with that content :

#EXTM3U #EXTINF:-1,TV #EXTVLCOPT:http-user-agent=FreeIPTV(1)
LibVLC/3.0.0-git
http://tv.primatv.club:8899/live/prima10simo2/freetv2/499.ts The link does
not work on VLC,but M3U file do.

On Tue, Jul 11, 2017 at 11:18 AM, ojw28 <notifications@github.com> wrote:

[2017-07-19 08:15] MizzleDK commented on #3051
Thanks, that's what I feared. Appreciate you guys trying to reach out to them!

[2017-07-19 08:19] davibe commented on #3079
Finally. This is the test video to reproduce the issue (using Samsung S4 Mini) http://dmvideo.deltatre.it/VR/TEST_MBR/main.m3u

[2017-07-19 10:12] sshurick commented on #3077
Guys, thank you for the quick reply! Glad to see that Exo is alive and kicking!

Not sure if Coub team will tackle this issue soon since they have all the media in this format.
One more thing that I've noticed about Coub's mpegs is that VLC for Android & all my desktop players play them like a charm

[2017-07-19 10:44] ojw28 commented on #3077
We could probably just use the trak box duration when it's longer, since the sidx box can legitimately index only part of the stream. And then probably ignore all but the first sidx box as well.

Seeking wont work properly in that case. I doubt seeking works quite right in other players either, since there's no actual top level index for the stream as far as I can see. Perhaps it doesn't matter th

[2017-07-19 10:53] hawkiq opened #3081 "issues while playing video on different android OS"
hello guys am having issue playing some type of videos on devices below Android Nougat, I was testing playing video on my phone **Galaxy S7 Nougat** so I didn't face any problem, then transferred app to my friend's phone and he cannot play all videos I have, here is video info if it can help to solve my issue.

**this info for file works in Nougat and not work in other devices**

    General
    C

[2017-07-19 11:12] ojw28 commented on #3081
What type of phone is your friend's phone, given that's the one where the media isn't playable ;)...?

[2017-07-19 11:18] hrvach opened #3082 "How to properly disregard PTS timestamps when playing MPEG TS streams?"
### 1. How to properly disregard PTS timestamps when playing MPEG TS streams?

I am trying to implement trick play from a RTSP streamer, which is basically an i-frame only stream. As it's generated on the fly, presentation timestamps and faulty continuity counters need to be ignored and images displayed upon arrival. What would be the way to go in implementing this?

### 2. How to disable audio tr

[2017-07-19 11:47] hawkiq commented on #3081
@ojw28 I've tested on two phones right now and problem still exist , my friend's phone is **Galaxy Note 5** running lollipop 5.1  and  **huawei**

[2017-07-19 12:12] ojw28 commented on #3081
Please provide complete information about the problematic devices, as requested in the issue template (e.g. a bug report captured from that device). What actually happens when you try to play the content?

It's quite likely the problematic phones just don't support decoding of AVC High@L3 video streams.

[2017-07-19 13:34] ojw28 commented on #3079
- This should be fixed on the `dev-v2` branch now. Please verify. Not that you shouldn't need to do anything explicit in application code to restrict the formats being used to those that the device can play, since ExoPlayer's `DefaultTrackSelector` should be doing that for you already (unless you're overriding it).
- It's worth reporting the issue with the ordering in the master playlist to whoeve

[2017-07-19 14:27] emdash-ie commented on #3053
Sorry for the delay in getting back to you!

I want to be able to provide the algorithms with the following information for each chunk:

* Chunk index (or chunk start/end time)
* Chunk arrival time (the time the chunk finished downloading)
* Chunk download duration
* Total stall duration (how much time the player has spent stalled)
* Track bitrate
* Chunk size (in bits)
* Chunk length (in seconds)

[2017-07-19 15:26] #3053 closed, assigned to nobody

[2017-07-19 15:44] zegnus commented on #2776
Hi @wvpaf thank you for the feedback.

Do you know if the Nexus 5 is going to be fixed?

Thanks

[2017-07-19 18:24] aaronpatel93 commented on #2900
It isn't resolved with upgrading the GT-I9082 to 4.2.2. It appears to also occur in other devices including GT-I9152 (4.2.2), GT-I9063T(4.2.2), GT-I8552, GT-S7582L(4.2.2), GT-S5310(4.1.2), GT-S6293T(4.1.2), GT-I8552B(4.1.2), GT-I9060L(4.2.2).  In all cases, it appears the buffer is just smaller by 10 bytes or so than what is required as shown in the following stack trace.

### begin stack trace
co

[2017-07-19 18:58] hawkiq commented on #3081
@ojw28  this log captured by android monitor for device Samsung SM-G903M using android 6.0
[code]

[2017-07-19 19:02] ojw28 commented on #3080
The bug report seems to have been captured whilst using the Opus extension. Please can you capture a bug report when not using it? Thanks.

[2017-07-19 19:09] ojw28 commented on #3081
`InvalidResponseCodeException: Response code: 404` is just an HTTP 404. This isn't player error.

[2017-07-19 19:28] hawkiq commented on #3081
@ojw28 but the file is found and works on my phone Galaxy S7 Nougat, I saw the error and thought link for file is invalid but when its worked on my phone I sent log here.

[2017-07-19 20:05] ojw28 commented on #3080
I think the media file broken. In the Matroska container the Opus track has its SamplingFrequency element set to 24000, when it should be 48000. If it were set to 48000 playback would work successfully.

[2017-07-19 20:17] ojw28 commented on #3005
Closing due to lack of information.

[2017-07-19 20:17] #3005 closed, assigned to nobody

[2017-07-19 20:18] #3036 closed

[2017-07-19 20:18] ojw28 commented on #3020
Closing due to lack of information and being unable to reproduce.

[2017-07-19 20:18] #3020 closed, assigned to nobody

[2017-07-19 20:20] ojw28 commented on #2984
Closing due to lack of updates. Regardless of whether there's still a question here, it seems beyond the scope of this issue tracker.

[2017-07-19 20:20] #2984 closed, assigned to nobody

[2017-07-19 20:20] ojw28 commented on #3031
Closing due to lack of information.

[2017-07-19 20:20] #3031 closed, assigned to nobody

[2017-07-19 20:20] #2533 closed, assigned to nobody

[2017-07-20 00:26] soadri commented on #3053
Thank you for your explanation

In above the information you mentioned, Chunk download duration and Total stall duration can be estimated in the player app (i.e. PlayerActivity)

[2017-07-20 05:20] hawkiq commented on #3081
@ojw28 I've managed to know what was the problem and it was like you said its not player's fault 👍
it was because of **subtitle file** not video, it was contain a **space** in link so it wasn't readable in devices pre Nougat, i think I've missed to handle the error. I've fixed links for subtitles and it was fine to play all videos in all devices .

[2017-07-20 05:55] #3081 closed, assigned to nobody

[2017-07-20 08:35] nickcarterney commented on #3076
The same issue with HLS:
http://35.186.151.37/stream/vtvcab15/playlist.m3u8 (this one works fine with HLS.js in web)
[code]

I added this FLAG but still does not work :(

[code]

[2017-07-20 09:27] mrjerometw commented on #3076
Hi, all , I get another problem that the play audio is failed in the same ts file but on the different android devices.
One devices is Asus Nexus 5  antoher is HTC Nexus 9.
The ExoPlayer can play very well in Asus Nexus 5.
In HTC Nexus 9, there is  getting output of video , cannot get the output of audio.
It's means that I can see video but I can't hear any voice.... : (

This is the logcat messag

[2017-07-20 09:41] AquilesCanta commented on #3076
@mrjerometw, the [link](https://google.github.io/ExoPlayer/supported-formats.html) included by @ojw28 explains why audio is not rendered. Please see the section "Sample Formats". The provided logcat shows that the device does not include an audio/mpeg-L2 decoder.

[2017-07-20 12:30] davibe commented on #3079
I can confirm your fix in `dev-v2` works fine with the incriminated video.

Could you please tell me when this gets released in a version I can use directly from gradle ? I tried to make it work from the git branch (using jitpack) but it fails while building and I was not able to make it work.

[2017-07-20 13:55] ojw28 commented on #3079
If you're happy to depend directly on the `dev-v2` branch then you can follow the "Locally" instructions in its [README](https://github.com/google/ExoPlayer/blob/dev-v2/README.md). Else you will need to wait for the 2.5 release. It's proving quite a tricky one to get finalized because it's so big. Hopefully in a couple of weeks.

[2017-07-20 13:55] #3079 closed, assigned to nobody

[2017-07-20 15:37] mirandole commented on #1706
Hello @tonihei,

Do you know when the DynamicConcatenatingMediaSource class will be merged on master ? And when will it be available on Gradle ?

Thank you very much for your work !

[2017-07-20 15:43] ojw28 commented on #1706
Probably a couple of weeks. It'll be available in the 2.5 release. Thanks.

[2017-07-20 16:58] mirandole commented on #1706
Hello @AOrobator !

Thank you for your .aar file.
I've added your aar to my app. Gradle sync well. But I can't find any DynamicConcatenatingMediaSource class in my app.

Do you know how I could get it ?

[2017-07-20 22:15] ojw28 commented on #2572
(deleting cross-post)

[2017-07-21 03:25] AOrobator commented on #1706
@mirandole try a clean build? Make sure you're spelling it correctly? It's in the aar and I'm using it in a project of mine, so I know it works

[2017-07-21 08:29] mirandole commented on #1706
@AOrobator I've extrat .aar and add the classes .jar file to my build.gradle app with this line :

`compile files('libs/exoplayer-dev-v2-snapshot')`

Now everything works well.

Thank you

[2017-07-21 08:49] nerd-sj commented on #3080
I can play the file properly in Samsung S8 Edge with the default video player itself. If this can play file properly why not ExoPlayer?

[2017-07-21 09:04] ojw28 commented on #3080
The sample rate is specified both in the container (SamplingFrequency element) and in the OpusHeader

[2017-07-21 09:05] michalliu commented on #3032
This problems happens when you are trying to draw video on a surface already destroyed.

[2017-07-21 09:11] ojw28 commented on #3080
I think I may have misunderstood how Opus decoders work. From reading around a little, it sounds like Opus decoders may always decode at 48000Hz regardless of the sample rate in which the media was encoded. When using a platform decoder this should be handled at the decoder level (and ExoPlayer does play this content successfully on an S8 when using the platform decoder rather than the Opus extens

[2017-07-21 13:24] sergejsha opened #3086 "MediaDrmStateException: Failed to get property: Unsupported scheme or data format"
ExoPlayer r1.5.12

We check "securityLevel" as shown below to identify whether HD content filter shall be applied in the a DashTrackSelector or not. We use Widevine DRM.

When calling
[code]
we receive
[code]
on some devices like
[code]

Is there any advices on how to handle this kind of exceptions? What I mean, if a device does not support "securityLevel" property, can it still play L1 protected

[2017-07-21 14:00] mirandole commented on #1706
Hello @tonihei @ojw28 @AOrobator !

My app crash when I prepare Exoplayer with a `DynamicConcatenatingMediaSource`.
But everything works fine using `ConcatenatingMediaSource`.

Source Code :
[code]

Log

[code]

[2017-07-21 14:07] ojw28 commented on #1706
That looks like an issue with the way you're building and including the code. If you want to depend on the `dev-v2` branch you should really do so properly by following the instructions under "Locally" in the [README](https://github.com/google/ExoPlayer/blob/dev-v2/README.md).

[2017-07-21 14:56] blennerSilva opened #3087 "Exoplayer dying and closing app on its own"
Hey guys

Im having an weird issue with my app, whenever im playing a track and then go to my phone to look at other apps such as facebook or instagram or whatever, exoplayer stops on its own with no logs no nothing, It just stops, so i have to go back into my back and start playback all over again.

can you guys give some insight about this issue?

[2017-07-21 14:57] mirandole commented on #1706
Thank you that solved my problem.

[2017-07-21 16:14] ChrisPuissant opened #3088 "SmoothStreaming Playready LicenseNonce failed"
### Issue description
**Context:**
Device is AndroidTV.
Using the ExoPlayer demo app, SmoothStreaming Playready demo video is working correctly so Playready support is implemented on the device.

**My case:**
Now with my test video, I use same demo app.
Test video is Playready encrypted SmoothStreaming and working on other non Android device.
License server I use does not send LicenseNOnce as serv

[2017-07-21 16:17] ojw28 commented on #3088
I don't think this is an ExoPlayer issue. You're effectively communicating directly with the underlying PlayReady CDM on the device. ExoPlayer is only an intermediary that's passing your communication through.

The PlayReady CDM does not like the format of your license response, and there is nothing we can do to fix that. You'll need to figure out how the license server can send a response that th

[2017-07-21 16:24] AquilesCanta commented on #3087
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

If you’re able to provide complete information as requested in the issue template,

[2017-07-21 16:24] #3087 closed, assigned to nobody

[2017-07-21 16:40] ojw28 commented on #3080
Fixed for real in `dev-v2`. Thanks for re-pinging!

[2017-07-21 16:40] #3080 closed, assigned to nobody

[2017-07-21 18:43] nerd-sj commented on #3080
Now the audio plays fine but file is still not seekable. I checked playing the file in One Plus 3T from Gallery app and also with MX Player (both SW and HW decoders in that) . Its seeking fine there. Also it works with MX Player (HW+ decoder) on One Plus One.

[2017-07-22 10:23] soadri commented on #3072
What means the 'local video' ?

[2017-07-22 16:18] zhanghuicuc commented on #3040
Hi,
Sorry for delayed response. I've just done some tests with THREAD_PRIORITY_BACKGROUND (without ojw28's commit 009369b). The same video is played for 3 times. We saw 175 dropped frames per hour. The result is acceptable for me considering that THREAD_PRIORITY_LOWEST maybe too aggressive.
BTW, I saw the following code in C.java
` public static final int PRIORITY_DOWNLOAD = PRIORITY_PLAYBACK - 10

[2017-07-23 02:07] ICommandMachinesObey commented on #3024
@ojw28 Did you test the M3U file? I only need that to work to finish the android application!

[2017-07-23 06:47] tedKim5178 opened #3089 "Ts file size in HLS (need help)"
Hello! I am trying to develop a new adaptive streaming in HLS. To do so, I have to know the size of ts files  before the files actually start downloading. But as long as I searched it in the code, it seemed that there was no information about the size of ts files in m3u8 files.... Is there any way I can get file size in HLS ?

Thanks

[2017-07-23 09:41] mirandole commented on #1706
Hello @ojw28

DynamicConcatenatingMediaSource works well to play several tracks with gapless.
But I need to refresh metadatas of the current track playing on Exoplayer. To do that I need to know when exoplayer has completed the current playing track and started the next one.

It seems that I can't use playbackstate listener because STATE_ENDED with DynamicConcatenatingMediaSource until i've played

[2017-07-23 19:12] ursusursus commented on #1706
@mirandole onPositionDiscontinuity (from memory) is the callback you want

[2017-07-23 19:18] minaEweida opened #3090 "Video frames moves forward when player is paused and its position changes in the layout"
I am using Exoplayer 2.4.3 in a Fragment playing Mp4 videos, but I can't use android:configChanges="orientation|keyboardHidden", at the same time I don't want restart buffering again each time device's orientation changes. So what I am doing is keeping a static instance of the SimpleExoPlayer, and I just create a new SimpleExoPlayerView and the set the player to it. However, if I change orientatio

[2017-07-24 00:25] JerCodeWhisperer opened #3091 "audioTrackUnderrun on nougat"
*** ISSUES THAT IGNORE THIS TEMPLATE WILL BE CLOSED WITHOUT INVESTIGATION ***

Before filing an issue:
-----------------------
- Search existing issues, including issues that are closed.
- Consult our FAQs, supported devices and supported formats pages. These can be
  found at https://google.github.io/ExoPlayer/.
- Rule out issues in your own code. A good way to do this is to try and
  reproduce t

[2017-07-24 00:54] mirandole commented on #1706
Thanks @ursusursus but it could be a seekTo discontinuity, right ? Could discontinuity come from other things that a track change ? Because I can only verify if discontinuity comes from a seek, I can't verify for other event that produce onPositionDiscontinuity. I don't know them.

[2017-07-24 05:15] ManojJangra commented on #3068
Hi,
We want to  implement Pre-Roll  IMA Ads  with exo player V2.4.4. Please guide me, way of implementation  in my application.

[2017-07-24 06:44] #3089 closed, assigned to nobody

[2017-07-24 08:02] jasonchuang commented on #2930
Hi @AquilesCanta , the commit [fill missing window information...](https://github.com/google/ExoPlayer/commit/e344e9cbb756a384c437850028c3fb09e145a386
) doesn't modify `HlsPlaylistParser` and seems only support  to retrieve **single** `EXT-X-PROGRAM-DATE-TIME` from timeline for  the player. Any ideas or plans to extend the support for retrieving the **multiple** program date time tag? Thanks

[2017-07-24 08:10] andrewlewis commented on #1706
To detect advancing from window (playlist item) to the next, handle `onPositionDiscontinuity` and check for the current window index returned by `player.getCurrentWindowIndex()` having changed since the last call.

Several things can cause a discontinuity: (1) advancing from one window (playlist item) to the next, (2) advancing from one period to the next (which is different from (1) for multi-per

[2017-07-24 08:13] andrewlewis commented on #3091
Can you reproduce this using streams from the demo app? If not, please could you provide a clip of content from the 1.2 GB stream?

[2017-07-24 08:52] wwdn opened #3092 "com.google.android.exoplayer.upstream.HttpDataSource$InvalidResponseCodeException: Response code: 416"
E/ExoPlayerImplInternal: Internal track renderer error.
                                                                                 com.google.android.exoplayer.ExoPlaybackException: com.google.android.exoplayer.upstream.HttpDataSource$InvalidResponseCodeException: Response code: 416
                                                                                     at com.google.android.exo

[2017-07-24 08:52] andrewlewis commented on #3090
This is a known issue but there were recently some changes to keep data buffered in the sample queue until it's rendered, which may help address this (for example, 1b71e3b4). I'm not sure whether all the required changes have landed yet, but please could you try switching to the `dev-v2` branch and seeing if it's reproducible?

[2017-07-24 08:58] ChrisPuissant commented on #3088
Hi,

No solution found but just for information in case anyone encounters the problem in the future.

Seems we encounter the same issue with recent Microsoft Playready test server:

````http://test.playready.microsoft.com/service/````

````(not old one: http://playready.directtaps.net/pr/svc/)````

See: http://test.playready.microsoft.com/ for documentation.

Looks like when calling : ````http://t

[2017-07-24 09:03] zhanghuicuc commented on #3040
Hi
Similar to 4cb5b34, we can avoid using ParsableBitArray to parse PAT and PMT. As the following diff file shows:
[dontUseParsableBitArrayForPATandPMT.txt](https://github.com/google/ExoPlayer/files/1169287/dontUseParsableBitArrayForPATandPMT.diff)

[2017-07-24 09:17] andrewlewis commented on #3092
The server is returning HTTP status code 416 Range Not Satisfiable. The most probable cause is bad media, but there's not enough information here for us to diagnose it. If you find that this is an ExoPlayer bug please reopen the issue and provide all the information requested in the issue template.

[2017-07-24 09:17] #3092 closed, assigned to nobody

[2017-07-24 09:27] AquilesCanta commented on #3072
@soadri, from the context, I'd say it's stored on the device, as opposed to

[2017-07-24 09:31] wwdn commented on #3092
Thank you

[2017-07-24 09:42] AquilesCanta commented on #3024
@hzdi I think the fastest way for us to diagnose the issue is that you send all media files to dev.exoplayer@gmail.com.

[2017-07-24 09:51] AquilesCanta commented on #3040
@zhanghuicuc, PRIORITY_DOWNLOAD is used in a component that is under development, and will be released soon.

Have you profiled the provided patch? I wouldn't expect a great difference there, considering the sparsity of PSI data in comparison with 4k PES data.

[2017-07-24 10:08] andrewlewis commented on #2659
The platform doesn't provide support for this [internal bug 37200638]. We could implement it as an AudioProcessor that allows the application to set a volume multiplier for each channel, but it likely won't happen for a while. Feel free to send a pull request.

We have an existing audio processor called [`ChannelMappingAudioProcessor`](https://github.com/google/ExoPlayer/blob/e87e231/library/core/

[2017-07-24 10:11] andrewlewis commented on #3068
@ManojJangra Please don't reuse an existing issue for an unrelated question, and post the same question multiple times. (#2617 tracks this already.)

[2017-07-24 10:14] andrewlewis commented on #2900
Is this reproducible in the demo app if you add code to wrap the media source with a `LoopingMediaSource` and play one of the samples that uses ExtractorMediaSource? If not, please provide a link to the stream you're playing and steps to reproduce. Thanks.

[2017-07-24 10:24] andrewlewis commented on #3071
The attached bug report doesn't seem to include the segmentation fault above. Please could you provide a bug report taken just after reproducing the issue?

[2017-07-24 11:26] psedoykin commented on #3071
The issue is very hard reproduce. I will share bug report when reproduce the issue.

[2017-07-24 13:25] gvidda commented on #3086
Iv'e had this issue since "always" (1.5.x).
Had theories that there were something like timing issues on some devices (with MediaDrm that wasn't "finished" setting up or something), but nothing conclusive.

Solved it by wrapping the call in try/catch.

[2017-07-24 17:21] psedoykin commented on #3071
@andrewlewis  please see the bugreport

[2017-07-24 17:43] AOrobator commented on #1706
@mirandole I've been using onTracksChanged() with success as it's a bit more specific to our use case. You just have to keep track of how many tracks have played because the first time it's called, it's with the first track.

@andrewlewis @ojw28 curious to get your thoughts on my approach

[2017-07-24 18:03] malachid opened #3093 "Incorrect pom dependency for extension-ima"
### Issue description
In https://github.com/google/ExoPlayer/blob/dev-v2-r2.5.0/library/core/build.gradle,
it says `releaseArtifact = 'exoplayer-core'`

https://jcenter.bintray.com/com/google/android/exoplayer/exoplayer-hls/r2.5.0-beta1/:exoplayer-hls-r2.5.0-beta1.pom correctly shows the dependency as
[code]

https://jcenter.bintray.com/com/google/android/exoplayer/extension-ima/r2.5.0-beta1/:exte

[2017-07-24 18:07] malachid commented on #3093
Of course, it's a low priority as you can work around it:
[code]

[2017-07-24 18:29] psedoykin commented on #3071
@andrewlewis please look at the report:
[log2.txt](https://github.com/google/ExoPlayer/files/1170821/log2.txt)

[2017-07-24 19:45] aaronpatel93 commented on #2900
This issue is reproducible after wrapping with LoopingMediaSource.   It doesn't happen with the sample video, but if i change the uri to use the attached video, the error occurs.
[gif.zip](https://github.com/google/ExoPlayer/files/1170999/gif.zip)

I get the same same message:
07-24 12:39:14.126 7107-7129/com.google.android.exoplayer2.demo E/ExoPlayerImplInternal: Internal runtime error.

[2017-07-25 02:03] jiafei1986 opened #3094 "Question:How to check DVR window for live dash stream."
I am doing a video app with exoplayer v2 libs, there is a requirement that user can pause the player.
i need to seek to live edge if the user pauses for a long time, for example if the live stream duration is 10 mins(duration may be dynamic), then the user pauses for 15 mins, so i need to seek to live edge if resume.
is there a way to check whether the current play position out of the duration?

T

[2017-07-25 06:14] jiafei1986 opened #3095 "Question: Disable the secure codec in exoplayer v2"
we are upgrading our app from exoplayer v1 to v2, we need to disable secure codec function in v1 for some device.  we can use the below code in v1.
MediaCodecVideoTrackRenderer.setDisableSecureCodec();

Is there a way that disables the secure codec in exoplayer v2.
Thanks.

[2017-07-25 08:49] tonihei commented on #1706
`onTracksChanged` is only triggered when the available or selected tracks change. For example, this could be a switch between different video resolutions in an adaptive media source, activating or deactivating audio or video, or similar things. When playback advances to the next playlist item this method might or might not be called depending on the available tracks in the both items.

We recommen

[2017-07-25 09:02] andrewlewis commented on #3094
`player.getCurrentPosition()` will return the position relative to the start of the current window, which has duration `player.getDuration()`. If you need more information about the live window, get the current window index using `player.getCurrentWindowIndex()` and then look this up in the `Timeline` returned by `player.getCurrentTimeline()`. Read the documentation on [`Timeline`](https://github.

[2017-07-25 09:10] Gian84 commented on #3064
Thank you for the info.
Maybe I understood the problem, it was the audio stream security level.
So probably it is my error on Widevine side and not Exoplayer side, sorry and thanks again.

[2017-07-25 11:35] pgrov commented on #2962
Will reach out and request additional log data via the provided WV Group post.

[2017-07-25 12:40] AquilesCanta commented on #2930
@jasonchuang Can you clarify precisely what the usecase is? Most likely, the information you need is already available.

[2017-07-25 13:04] sheaam30 opened #3096 "Notify when LoopingMediaSource is looped"
### Issue description
When playing a LoopingMediaSource, it would be useful to get notified when the source is looping.

### Reproduction steps
Prepare a LoopingMediaSource and play it, at the end of the source it restarts from the beginning but the player doesn't notify us.

### Version of ExoPlayer being used
r2.3.1

[2017-07-25 13:30] tonihei commented on #3096
You can listen to [EventListener.onPositionDiscontinuity](https://github.com/google/ExoPlayer/blob/release-v2/library/core/src/main/java/com/google/android/exoplayer2/ExoPlayer.java#L174) to get notified of a position discontinuity. A position discontinuity occurs every time the playback transitions from one period to another (even if it is the beginning of the same period), if a seek occurred, or

[2017-07-25 14:27] SteUK opened #3097 "DASH: cross-AdaptationSet seamless switching and groupings"
Version: dev-v2-r2.5.0

Great to see an implementation for seamless switching.  However, is it correct that the notion of grouping has been lost with the manifest changes to achieve this?  In my use case I have a notion of 'cameras' (basically a camera is defined by an adaptation set, which contains a number of representations).  I would like to use the seamless switching to swap between adaptatio

[2017-07-25 15:47] minaEweida commented on #3090
I tested it on dev-v2 branch and it worked just fine, Thank you. I was wondering, is there a planned release soon to include this fix?

[2017-07-25 16:05] andrewlewis commented on #3090
There will likely be a release over the next couple of weeks.

[2017-07-25 16:05] #3090 closed, assigned to nobody

[2017-07-25 17:24] mkiisoft commented on #2643
I'll keep tracking this issue. Once implemented, I'll create a demo and full "doc" so everyone can use it with full offline mode and cache using DASH or similar.

[2017-07-25 18:16] ghost commented on #3078
Have you clean your project ??
Seems like you have 2 different versions ....

[2017-07-26 00:44] dbrain commented on #2277
Are their any plans to support this?

Would a solution like allowing a `R.id.exo_controller` element to override the controller be valid?
That way you could switch out `R.id.exo_controller_placeholder` with the default `PlaybackControlView` if the element is available, use the user `PlaybackControlView` extending class if `R.id.exo_controller` exists, or just render no controls if neither element

[2017-07-26 02:51] jiafei1986 commented on #3094
@andrewlewis  Thanks for your reply. i will try it.

[2017-07-26 06:30] AbhiHearty opened #3099 "Shoppable video"
Can any one tell me is Shoppable video possible in Exoplayer ??

[2017-07-26 06:34] ICommandMachinesObey commented on #3024
@AquilesCanta I sent an email with the required details.

[2017-07-26 07:06] alfonsoramosa opened #3100 "Tunneling: Support selection of non-primary tunneling video codecs"
I'm trying to enable tunneling on an Android Tv device.

As i know enabling it should be just setting the audio session id with: `trackSelector.setTunnelingAudioSessionId(C.generateAudioSessionIdV21(this));`
but unfortunately, it won't start the tunneling just by setting this id in this device.

I can find the video_decoder.tunnel.secure decoder when debugging the MediaCodecUtil class. But when re

[2017-07-26 07:14] jasonchuang commented on #2930
@AquilesCanta, thanks for your response, for the example m3u8 from [the begging of this post](https://github.com/google/ExoPlayer/issues/2930#issue-234786541), it contains `three` different PROGRAM-DATE-TIME tags, and what I want to do here is to get the current `epoch unix timestamp` according to different current position, e.g., position 1 ~ 30 started from **1496984341**(2017-06-09T04:59:01.797

[2017-07-26 07:42] andrewlewis commented on #3100
As a workaround, you can implement a custom `MediaCodecSelector` that picks the codec you want to use and pass that to the video renderer's constructor.

Please could you attach the media_codecs.xml file so we can take a look? I think normally the tunneling codec is most preferred (and the MediaCodec list should be sorted with the best decoder first). We might want to follow up with the OEM if the

[2017-07-26 08:15] alfonsoramosa commented on #3100
Here you have the media_codecs.xml

We are trying to play secure avc, so you can see that there are 2 different codecs that support it. Only the second one supports tunneling.

That's the order required by the OEM because it seems that the tunneled codec don't support non tinneling playback. Then if they move it to the first position, the apps that don't use tunneling are not going to work
[media_

[2017-07-26 10:04] andrewlewis commented on #3099
ExoPlayer can play video. Whatever UI you provide in addition to that is up to your app.

[2017-07-26 10:04] #3099 closed, assigned to nobody

[2017-07-26 10:04] zhaocheng19940105 opened #3101 "void com.google.android.exoplayer2.source.MediaSource.releaseSource()"
uncaughtException:Attempt to invoke interface method 'void com.google.android.exoplayer2.source.MediaSource.releaseSource()' on a null object reference
07-26 18:03:21.132 8041-8574/com.abc.agency.teacher E/Tinker.UncaughtHandler: catch exception when loading tinker:java.lang.NullPointerException: Attempt to invoke interface method 'void com.google.android.exoplayer2.source.MediaSource.releaseSourc

[2017-07-26 10:06] andrewlewis commented on #3101
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

If you’re able to provide complete information as requested in the issue template,

[2017-07-26 10:06] #3101 closed, assigned to nobody

[2017-07-26 10:08] AbhiHearty commented on #3099
I think you dont get me properly shoppable in the sense interactive video technology which is based on video player . https://www.wirewax.com/examples/ Refer to this link and play some videos out there..

[2017-07-26 10:14] zhaocheng19940105 opened #3102 "MediaSource.releaseSource NPE"
*** ISSUES THAT IGNORE THIS TEMPLATE WILL BE CLOSED WITHOUT INVESTIGATION ***

Before filing an issue:
-----------------------
1. I closed the wifi and release this player  2.Then open the wifi init player

When reporting a bug:
-----------------------
Attempt to invoke interface method 'void com.google.android.exoplayer2.source.MediaSource.releaseSource()' on a null object reference
07-26 18:03:2

[2017-07-26 10:22] andrewlewis commented on #3099
ExoPlayer provides building blocks for this kind of thing but you're going to need to implement the interaction as part of your app.

For "hotspots": #2189 tracks allowing the app to listen for playback reaching a particular position. Without that enhancement, you can still poll the player position or inspect video frame presentation timestamps using a custom video renderer. Then you can show some

[2017-07-26 10:29] AbhiHearty commented on #3099
I can Take the relevant position from the player but the question is how can i sense the pixels in the video ? and the hotspots are from the api . So how can i or how the hotspots are made to look common for both app and web ?

[2017-07-26 10:36] andrewlewis commented on #3099
If by "sense the pixels in the video" you mean inspect the output of the video decoder, there is no efficient way to do that in general. It seems like you should instead be delivering timed metadata that tells your app what to show on top of the player at what time. It's up to your application what you show on top of the video and how you render it. For example, you could try putting a WebView wit

[2017-07-26 10:36] alex-schwartzman opened #3103 "Widevine/MPEG-DASH: Video freezes, Audio goes on."
### Issue description
After 10-15 seconds of playback, the player stops rendering the frames. Audio continues.

### Reproduction steps
* Add Manifest+la_url to the demo app
* Start playback in the demo app
* Wait 15 seconds

### Link to test content
Sent the link to dev.exoplayer@gmail.com . There is a trick, however, license acquisition challenge is comcast-specific (base64-encoded binary license

[2017-07-26 10:39] zhaocheng19940105 commented on #3102
I think release player Need time to do synchronization problems

[2017-07-26 10:40] zhaocheng19940105 commented on #3102
for (int i = 0; i < mediaSources.length; i++) {
      if (!duplicateFlags[i]) {
        mediaSources[i].releaseSource();
      }
    }
 this a npe in ConcatenatingMediaSource release

[2017-07-26 10:40] AquilesCanta commented on #3024
Content plays correctly if you set the user agent to "FreeIPTV(1) LibVLC/3.0.0-git". The issue is unrelated to ExoPlayer.

[2017-07-26 10:43] zhaocheng19940105 commented on #3102
ClippingMediaSource npe

[2017-07-26 10:48] AbhiHearty commented on #3099
No i have only the inspecting part to be done by player itself . However i ll try with the timed meta data. Thanks for the time . :)

[2017-07-26 11:01] jeoliva commented on #3088
Hi @ChrisPuissant,

In fact, the problem is in the manifest of the stream you are testing that is "declaring" a license url that is not valid any more. In other words, the license url declared in the ProtectionHeader element of the stream manifest is "http://playready.directtaps.net/pr/svc/rightsmanager.asmx".

Exoplayer gets the license url directly from your manifest and then you get the error.

[2017-07-26 11:36] ChrisPuissant commented on #3088
Hi @jeoliva

Yes I modified Exoplayer source for testing :) (HttpMediaDrmCallback.executeKeyRequest(UUID uuid, KeyRequest request) to be precise)

I just wanted to use recommended action from Microsoft as described on this page [http://test.playready.microsoft.com/](url) assuming the ProtectionHeader was correct :
[code]

[2017-07-26 11:36] Fed93 commented on #2984
Hi, sorry but i was away and without internet connection.
I've solved without using Flac Extension but using an external java flac decoder.
When app analyze a music file ExoPlayer isn't instantiated because i don't need it.

[2017-07-26 12:32] jeoliva commented on #3088
Makes sense :).

@ojw28, what should be the right way to proceed in case you need to force a specific license server url? That's not weird, I have faced that kind of requirement many times when working with PlayReady protected streams and Silverlight based players.

For example, I have seen many cases in which player forces a specific license server url when working in testing environment so it us

[2017-07-26 13:07] ChrisPuissant commented on #3088
@jeoliva

I have opted for a custom MediaDrmCallback implementation at app level too.
However, as protection header has dummy server url, the dummy url stays in the generated KeyRequest

[2017-07-26 14:14] blennerSilva opened #3104 "Exoplayer stops on its own when in background"
### Issue description
the issue is best described this way, when im using my app in background mode and using other apps at the same time such as facebook or instagram, exoplayer kills my app instantly.

### Reproduction steps
Start the player and leave app, open facebook(for example, is the app the reproduces de most times the error) use for a few minutes, 1 minute or less is enough, press the ho

[2017-07-26 14:21] andrewlewis commented on #3104
Please attach the output of `adb bugreport` taken just after reproducing the issue.

[2017-07-26 14:31] blennerSilva commented on #3104
[bugreport-NPJS25.93-14-4-2017-07-26-11-25-54.zip](https://github.com/google/ExoPlayer/files/1176902/bugreport-NPJS25.93-14-4-2017-07-26-11-25-54.zip)

here is the full bugreport

[2017-07-26 14:47] andrewlewis commented on #3104
Are you using a foreground service to continue playback while your app is in the background? If not, please read #2276.

[2017-07-26 14:56] blennerSilva commented on #3104
yes i use a service for that

![screen shot 2017-07-26 at 11 55 59](https://user-images.githubusercontent.com/10924301/28627892-6fa45a38-71f9-11e7-9a1b-cdfc773d097c.png)

[2017-07-26 15:06] blennerSilva commented on #3104
i could send you my service code on private if you'd like

[2017-07-26 17:00] ephemer opened #3105 "Render Audio normally but Video to ByteBuffer only?"
Hi, it seems like this should be *easier* than rendering the video output to a surface but I haven't figured it out yet.

What I'd really like is to render the video directly to an OpenGLES texture and have the Audio output handled by ExoPlayer. This would be equivalent to using the `AVPlayer` class on iOS / mac OS with a custom `AVPlayerItemVideoOutput`.

The data stream would look like this:

An

[2017-07-26 17:10] hzdi commented on #3024
How can I set the user agent when I use ExoPlayer and which DataSource should I use?

[2017-07-26 17:15] ephemer commented on #3105
It seems like `DummySurface` would be useful, but I can't see how it fits in to the rest of the the ExoPlayer ecosystem.

[2017-07-26 17:19] malachid opened #3106 "Add ImaAdsMediaSource.AdsListener callback triggered when the user taps an ad"
### Issue description
The use case is tracking ad start/stop.

https://github.com/google/ExoPlayer/blob/dev-v2-r2.5.0/extensions/ima/src/main/java/com/google/android/exoplayer2/ext/ima/ImaAdsLoader.java
is public and contains `public interface EventListener`
which further contains `void onAdPlaybackState(AdPlaybackState adPlaybackState)`
https://github.com/google/ExoPlayer/blob/dev-v2-r2.5.0/exten

[2017-07-26 17:55] fabiobazurto opened #3107 "How could I Play Dash DRM widevine stream without license url?"
### Issue description
I'm trying to play a DASH DRM WV video but i need to set license manually. My client cant publish his license server however he gave me String License. I got this error
Failed to handle key response: General DRM error (-2000)

### Reproduction steps
Edit DefaultDrmSessionManager line 578, add this code:
  String license = "CAIS3wIKSgogMkE4MDc3MDlDQUY1NjM0NjAyMDAwMDAwMDAwMDAwM

[2017-07-26 18:28] hzdi commented on #3024
I set user agent like this : dataSourceFactory = new
DefaultDataSourceFactory(ExoPlayerActivity.this, Util.getUserAgent
(ExoPlayerActivity.this, "FreeIPTV(1) LibVLC/3.0.0-git"),
(TransferListener<? super DataSource>) bandwidthMeter);

I tried with two urls :
http://tv.primatv.club:8899/live/prima10simo2/freetv2/294.ts and
http://www.mywebsite/iptv.m3u where iptv.m3u is the file I sent in
previous

[2017-07-26 21:04] fabiobazurto commented on #3107
[bugreport-ryu-OPR1.170406.004-2017-07-26-10-53-02.zip](https://github.com/google/ExoPlayer/files/1178045/bugreport-ryu-OPR1.170406.004-2017-07-26-10-53-02.zip)

[2017-07-26 22:17] Norhan-El-Ashry opened #3108 "Some decoders advertise audio/mpeg-L2 support but do not correctly implement it"
Hii

When I tried to play .ts live streams e.x.

http://avatar-iptv.net:1795/live/az5130/PPYnz6ewcVb1/213.ts

It works in some devices but with no audio track

in other devices it gives me that error

[code]

I guess that there is a problem with audio track. Is there a way to fix it or download an alternative track?
and how can I get the track and merge it with video.

Thank you

[2017-07-27 05:20] ram992 commented on #2622
Hello @ojw28,
Any update on this issue, cause this is haunting my Downloaded content being valid for a particular time.

[2017-07-27 05:32] ram992 commented on #2648
Hello,
Can you give some info on how to handle this issue,
like when this error occurs, I want to take the control and give the player a classic widevine url, till Android 6.0, cause some popular devices are throwing this error in android 5.0 and 6.0 platforms.

[2017-07-27 05:56] andrewlewis commented on #3106
To track when ads start/stop playing, call [`player.isPlayingAd`](https://github.com/google/ExoPlayer/blob/dev-v2-r2.5.0/library/core/src/main/java/com/google/android/exoplayer2/Player.java#L389) in [`Player.EventListener.onPositionDiscontinuity`](https://github.com/google/ExoPlayer/blob/dev-v2-r2.5.0/library/core/src/main/java/com/google/android/exoplayer2/Player.java#L116). There are also method

[2017-07-27 06:34] Sailiy opened #3109 "Fast forward first, and then retreat quickly, repeated several times will be unable to play, but you can see the progress bar buffer."
Fast forward first, and then retreat quickly, repeated several times will be unable to play, but you can see the progress bar buffer.I just modify the example of the play Url

[2017-07-27 06:34] jasonchuang commented on #2930
@AquilesCanta, just found [Expose all tags](https://github.com/google/ExoPlayer/commit/26728142eea52f16f8ce98734e915f0b92f54ca4) commit in `branch dev-v2-r2.5.0`, and seems works for my usecase 👍!!  But will it be better to notify the current `epoch unix timestamp base` has been changed from **EXT-X-DISCONTINUITY and EXT-X-PROGRAM-DATE-TIME** tags  via `onTimelineChanged` or `onPositionDiscontinui

[2017-07-27 08:23] MizzleDK commented on #3051
Xiaomi recently updated the firmware on the device (July 1 security update) and that seems to have fixed all playback issues as well. Closing this, as it quite clearly isn't an ExoPlayer issue.

[2017-07-27 08:23] #3051 closed, assigned to wvpaf

[2017-07-27 09:13] AquilesCanta commented on #3109
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

If you’re able to provide complete information as requested in the issue template,

[2017-07-27 09:13] #3109 closed, assigned to nobody

[2017-07-27 09:18] andrewlewis commented on #3105
At a high level, to render to a GL texture: get a GL context and generate the texture, then use it to construct a `SurfaceTexture`, then use that to construct a `Surface` which you pass to the decoder. For more details, including how to update the texture with the latest decoder output, read [this documentation on SurfaceTexture](https://source.android.com/devices/graphics/arch-st) and the [Surfac

[2017-07-27 09:20] AquilesCanta commented on #3108
See [supported sample formats](https://google.github.io/ExoPlayer/supported-formats.html#sample-formats). Since mpeg-L2 is not part of the CDD, not many devices include decoders for this format. You can always bundle your own, for example using the ffmpeg extension.

However, please do provide a list of devices where an exception is thrown. If this is reproducible in the DemoApp, then this is some

[2017-07-27 10:18] or-dvir opened #3110 "unable to play video (Decoder init failed exception)"
**- Search existing issues, including issues that are closed.**
i have looked through current open and closed issues and did not find anything that was useful to me.
**- Consult our FAQs, supported devices and supported formats pages. These can be
  found at https://google.github.io/ExoPlayer/.**
done
**- Rule out issues in your own code. A good way to do this is to try and
  reproduce the issue i

[2017-07-27 10:20] Norhan-El-Ashry commented on #3108
Thank you for for your reply.
Could you please tell me more information about bundling my own decoder and
how to use it with exoplayer.
any tutorials or examples will very helpful.

about devices list.
until now the error occurred in two devices

samsung GT-I9060I 4.4.4 KITKAT

HUAWEI T1-701u 4.4.2 KITKAT

and the video plays with no voice in

HUAWEI CAM-L21 6.0 LOLLIPOP_MR1

On Thu, Jul 27, 2017

[2017-07-27 10:26] andrewlewis commented on #3110
The LG device H.264/AVC decoder doesn't support the resolution 1240 * 1842, and playback fails when we attempt to decode the video anyway:

07-27 13:06:20.998 19347-19617/com.google.android.exoplayer2.demo D/MediaCodecInfo: NoSupport [sizeAndRate.support, 1240x1842x-1.0] [OMX.MTK.VIDEO.DECODER.AVC, video/avc] [m253, LG-K430, LGE, 23]
07-27 13:06:20.998 19347-19617/com.google.android.exoplayer2.dem

[2017-07-27 10:26] #3110 closed, assigned to nobody

[2017-07-27 10:30] andrewlewis commented on #3110
If those standard resolutions are not suitable, you could also try a resolution where both width and height are multiples of 16.

[2017-07-27 10:38] or-dvir commented on #3110
@andrewlewis wow, thank you for your **lightning quick** reply!

i forgot to mention this in the original post:
while the video fails on exoPlayer, it plays fine **directly** from both phones. that is, i place the video in some path of the phone storage, go to that path using a file explorer, and playing the file using various media player apps. if the problem was the resolution wouldn't it also f

[2017-07-27 11:34] ephemer commented on #3105
@andrewlewis thanks, I'll give that a shot

[2017-07-27 11:49] ram992 commented on #2622
Hey I got one more issue, If the device time is set in future and the license is requested, and if the device time is set to the current one, the license is valid till the end of future time+ it's expiry time period.
Like if for example my license is valid for 1 week, and I fast-forward the device time to one week, then downloaded the license whose validity is one week ,then the validity of the li

[2017-07-27 12:35] #3105 closed, assigned to nobody

[2017-07-27 12:49] gvidda commented on #3107
Create a custom MediaDrmCallback that returns what you want for for executeProvisionRequest() and executeKeyRequest() (look at HttpMediaDrmCallback for reference).
Then give this to a DrmSessionManager on instantiation.

[2017-07-27 13:12] dulmandakh opened #3111 "Offline playback problem (not reliable)"
### Issue description
I'm trying to implement offline playback in ExoPlayer, with OfflineLicenseHelper and DefaultDrmSessionManager. Online playback just works fine and sometimes offline playback works, but sometimes I get below error.

[code]

### Reproduction steps
Here is what I did
1. Download manifest file
2. Download media file (packaged using shaka-packager)
3. Download license with Offline

[2017-07-27 13:22] janeriksamsonsen opened #3112 "Offline Widevine DRM reporting (0,0) when calling getLicenseDurationRemainingSec on Android O"
### Issue description
We're using the offline DRM functionality of ExoPlayer to allow offline playback of downloaded Dash-content in our app. This is working fine on all Android versions from 4.3 and up to 7.1.2. I updated my Nexus 6P to Android O beta (OPP4.170623.014), and the functionality for querying license-duration seems to be broken. Calling the function OfflineLicenseHelper.getLicenseDura

[2017-07-27 14:01] malachid commented on #3106
Hi Andrew - thank you for the feedback.
For anyone else reading this and looking for instructions, here's some details during a PreRoll->Video:

When starting the PreRoll, onTimelineChanged is called with isPlayingAd=true 8 times

If you click Learn More, neither onTimelineChanged or onPositionDiscontinuity is called.

When you hit the back arrow, onPositionDiscontinuity is called with isPlayAd=fa

[2017-07-27 14:10] malachid commented on #3106
Andrew - I wonder if `imaAdsLoader.addCallback` might be a better approach?  While there is some bouncing/duplication of events, it does capture transition to Learn More.  Do you see any problems with using that callback?

[2017-07-27 14:30] andrewlewis commented on #3106
In case it's useful, here some more information about what's going on:

The timeline is updated each time we get more information about the structure of the media: when the times of ad groups becomes known, when the number of ads in the first ad break is updated, when the ad media URI and the duration of the ad become known, etc..

The player is released when the application goes into the backgrou

[2017-07-27 14:45] malachid commented on #3106
Hi Andrew - thanks for the quick response.

When this is completed, the suggested pattern would be (correct me if I'm wrong):
1. track ad starts via onTimelineChanged w/ isAdPlaying=true (an optionally debounce, depending on our own use case)
2. track ad clicks via AdsListener new method
3. track ad playback resumed via onTimelineChanged w/ isAdPlaying=true
4. track ad ended via onTimelineChanged

[2017-07-27 20:51] JerCodeWhisperer commented on #3091
Hi, thanks for your reply.  I am investigating the server/player interworking.  The url from the demo app works OK, and as stated the S5 works so I am thinking it is a wifi issue with the S7 Edge going to the local network.

[2017-07-28 02:28] rustyshelf opened #3116 "ID3 Metadata crash causes MP3 to be unplayable"
### Issue description
When playing this particular MP3 through ExoPlayer the following exception occurs, causing playback to fail:

The MP3 in question is [this one](https://media.blubrry.com/tricodepais/content.blubrry.com/tricodepais/tricodepais_ep028.mp3)

### Reproduction steps
- Attempt to play MP3 linked in this issue, playback fails with ID3 exception.

### Link to test content
https://medi

[2017-07-28 03:59] fabiobazurto commented on #3107
Thank you for your response, i will give a try to ur recommendation. Then i'll send you a feedback.

[2017-07-28 04:49] mrjerometw opened #3117 "How to add libmp3lame of ffmpeg in ExoPlayer?"
*** ISSUES THAT IGNORE THIS TEMPLATE WILL BE CLOSED WITHOUT INVESTIGATION ***
### Issue description
I want to add "libmp3lame" of FFMpeg in ExoPlayer .
But it's happened that "ERROR: libmp3lame >= 3.98.3 not found"

I already add mp3lame-dev package, refer this article
http://ask.xmodulo.com/fatal-error-lame-no-such-file-or-directory.html

### Reproduction steps
According to "ffmpeg/README.md" , I

[2017-07-28 05:00] linyongsheng opened #3118 "how to use vp9 extension?"
What is best way to use vp9 extension。As we know the `SimpleExoPlayerView` class only can manage `TextureView` and `SurfaceView`.But vp9 use `VpxVideoSurfaceView `.

[2017-07-28 07:48] andrewlewis commented on #3117
Does it work if you add `--enable-decoder=mp3` instead?

[2017-07-28 08:03] andrewlewis commented on #3106
You could store whether ads are currently playing in a field. In `onPositionDiscontinuity` call `isPlayingAd()` and if the returned value is not equal to the value in the field, update the field and handle the ads started/stopped event as appropriate. The other thing necessary to make this work is to handle `onTimelineChanged` to set the initial value of the field (when the timeline first updates

[2017-07-28 08:22] mrjerometw commented on #3117
@andrewlewis
Oh my God !
You are right !!
It's successful
Thank you very much !

[2017-07-28 08:24] mrjerometw commented on #3076
@AquilesCanta
You are right !
I found some android devices don't support the audio/mepg-l2 in android media codec.

[2017-07-28 08:25] andrewlewis commented on #3117
Glad it worked :)

[2017-07-28 08:25] #3117 closed, assigned to nobody

[2017-07-28 08:29] zhanghuicuc commented on #3040
@AquilesCanta
i agree with you. it doesn't make a great improvement.

[2017-07-28 09:22] mirandole commented on #1706
Thank you @AOrobator @tonihei .
It works well with `onPositionDiscontinuity`

Unfortunately, it seems that `DynamicConcatenatingMediaSource` mp3 track transition isn't truly gapless.
I still hear a very small gap between tracks of albums. Superpoze artist Opening album is a good one to gapless test. I probably did something wrong.

Did someone succeed in playing mp3 or FLAC tracks album gapless?

[2017-07-28 11:44] andrewlewis commented on #3118
The vp9 extension can be used with a plain `SurfaceView` but it's likely to be less efficient than configuring it with a `VpxVideoSurfaceView`, as the color space conversion is done in software rather than using a GL shader. After following the instructions to compile the vp9 extension in its readme, rendering to a `SurfaceView` from `LibvpxVideoRenderer` should just work in the demo app (for samp

[2017-07-28 11:44] #3118 closed, assigned to nobody

[2017-07-28 16:40] AOrobator commented on #1706
I'm also confirming that I hear a small gap between tracks when using DynamicConcatenatingMediaSource. I guess it's probably best to create another issue, then link it here. @mirandole

[2017-07-28 16:47] tonihei commented on #1706
Yes, please create a new issue with steps to reproduce your problem. Thanks!

[2017-07-28 16:49] fabiobazurto commented on #3107
Hello @gvidda , " returns what you want for for executeProvisionRequest() and executeKeyRequest()" you mean byte[] return? I don't understand how to make String readeable to drm. could u help me with a reference to learn how to?

[2017-07-28 16:55] sandeshlasnapure commented on #2694
How you have resolved this issue? can you share code snippet please.

[2017-07-29 00:32] fabiobazurto commented on #3016
How did you get this behavior?

[2017-07-29 01:13] jiafei1986 commented on #3061
@ojw28 when user select auto, what value should i set to this method?  is it 0?

[2017-07-29 02:06] linyongsheng opened #3120 "Reduce memory consumption of decoder extension input/output buffers"
I find that  `LibvpxVideoRenderer` has hold 16 inputbuffer and 16 outputbuffer. All these buffer are allocated in java layout. For example , a 720p video:
**InputBuffer:** 16\*INITIAL_INPUT_BUFFER_SIZE = 16\*768 \* 1024=12M
**Outputbuffer:**: 16\*1280\*720\*3/2 = 21M
Allocate 33M memory in java layout is very easy to oom. I suggest that:
1. reduce the buffer size to 4
2. allocate and free the buff

[2017-07-29 13:03] nerd-sj commented on #3080
Any plans to fix this?

[2017-07-30 00:54] Dusam commented on #2694
I'm write it in onTracksChanged()
`
trackGroups = trackSelector.getCurrentMappedTrackInfo().getTrackGroups(0);

                    for (int i = 0; i < trackGroups.get(0).length; i++) {
                        int currentQuality= trackGroups.get(0).getFormat(i).height;

                        Quality = currentQuality;
                        QualityIndex = i;

                        if (Quality

[2017-07-30 09:10] sandeshlasnapure commented on #2694
@Dusam  Thanks, its working. But when application comes from background to foreground it again follows the Adaptive nature.
Can we restrict mediasource to play specific index track while preparing?

[2017-07-30 10:24] sandeshlasnapure commented on #2869
Can you share implementation sample, how to use AdaptiveTrackSelection?

[2017-07-30 13:00] Dusam commented on #2694
If you want to play in the background, you need to set the layout view or view for ExoPlayer and make view Invisible.
if not set view, it will Adaptive to choose the format

[2017-07-31 01:35] zhanghuicuc commented on #2869
Here is my implementation : https://github.com/zhanghuicuc/SimplePlayer/blob/dev-exo/library/src/main/java/com/google/android/exoplayer2/trackselection/QAdaptTrackSelection.java
Hope this helps.

[2017-07-31 08:14] ueno-yuhei opened #3121 "Playback stops at playback of Widevine HDCP Capabilities tests on Fire TV stick (1st generation)"
### Issue description
This is an error that occurred when confirming Widevine playback in the demo application.
With HDCP content of widevine, an error is displayed after 8~9 seconds from playback start and playback stops.
If this error occurs, playback can not be resumed unless you press the retry button and exit.
It occurs in FireTVStick (1st generation).

Paste the contents of logcat at the tim

[2017-07-31 09:39] ojw28 commented on #3080
I didn't spend much time looking at this, but the extractor isn't finding what it needs to seek within the file. Specifically, there doesn't seem to be an entry in the Meta Seek Information specifying the position of the Cues element (i.e. the index that enables efficient seeking). It looks like there is a Cues element at the end of the file, but because there's no corresponding entry in the Meta

[2017-07-31 10:14] mansoorahmed084 opened #3122 "sync audio & video to common PCR clock"
I'm using ExoPlayer v1.5.11 and in current implementation of av sync, video follows audio and audio is free flow.
I want to implement an avsync logic in ExoPlayer for broadcast usecase in which both audio & video follows a common PCR clock
(say system clock). I have a restriction that i cannot drop audio frames as it would create audible artifacts.

Here's what i have understood from code so far.

[2017-07-31 10:33] #3076 closed, assigned to nobody

[2017-07-31 11:18] ojw28 commented on #3040
Agreed. I briefly considered this also, but profiling suggested it wasn't really worth it.

[2017-07-31 11:19] ojw28 commented on #3120
@vigneshvg - Could you comment on this? Thanks

[2017-07-31 11:24] ojw28 commented on #3112
@jefftinker - Sounds like offline DRM reporting might be broken in O on Nexus 6P. Any idea if this has been fixed, and/or if there are covering GTS tests? Thanks.

[2017-07-31 12:32] ojw28 commented on #3097
I don't think `urn:mpeg:dash:adaptation-set-switching:2016` is suitable for your use case. The DASH-IF guidelines indicate it's suitable for use where the adaptation sets provide the same content and the segments are time-aligned. In your use case the segments are time-aligned but the content is not the same (because they're different cameras). The relevant part of the guidelines is:

I think what

[2017-07-31 12:32] #3097 closed, assigned to nobody

[2017-07-31 12:34] #3094 closed, assigned to nobody

[2017-07-31 12:48] hishamMuneer commented on #2643
@mkiisoft @ojw28
I need this feature in my app, can you guys provide us some info by when can we get the offline mode?

[2017-07-31 12:55] ojw28 commented on #2277
Do you also want this specifically for fade in/out, or something more advanced? As per above, it feels like we should just add fade in/out support directly to the library view. We're not likely to get around to this any time soon, but would accept a good quality pull request that adds support! Thanks.

[2017-07-31 12:55] ram992 commented on #2643
@hishamMuneer I think you can do this yourself if you need it for DASH content, as in the latest exoplayer there is a class OfflineLicenseHelper to handle license issues

[2017-07-31 13:05] ojw28 commented on #3093
I've fixed this manually. I think this happened because we published the module separately to the other modules for r2.5.0-beta1. In subsequent release it'll be published at the same time as the others, so hopefully this wont happen again. If it does, please let us know!

[2017-07-31 13:05] #3093 closed, assigned to nobody

[2017-07-31 13:08] ojw28 commented on #2277
@dbrain - The PR you sent also looks like a good addition. I'll get that merged. We should still support fade in/out directly though!

[2017-07-31 13:13] #3096 closed, assigned to nobody

[2017-07-31 13:40] ojw28 commented on #3102
I think this can only happen if you've passed null entries in the array of `MediaSource`s that you need to pass to the `ConcatenatingMediaSource` constructor. It's invalid to pass null entries, so you'll need to fix that in your code.

[2017-07-31 13:40] #3102 closed, assigned to nobody

[2017-07-31 13:59] ojw28 commented on #2622
This is not an ExoPlayer issue. You need to get a response from Widevine (@wvpaf, @jefftinker, or by communicating directly with Widevine if you have a relationship with them).

[2017-07-31 14:26] andrewlewis commented on #2891
@goffioul Thanks for the pull request. We'll review this and get it merged soon.

As an aside, do you happen to know whether there is a guarantee that sequence header start codes always occur at the exact start of a packet, or whether it's ever possible for the start codes to straddle a packet boundary? I think our current implementation doesn't handle this case correctly, but I wanted to check if

[2017-07-31 14:40] malachid commented on #3093
Confirmed that it has been resolved; although, since the version was not rev'd and it is not a snapshot, anyone who had previously referenced it will need to add `--refresh-dependencies` to their gradle command once.

[2017-07-31 14:54] ojw28 commented on #3093
Yes. It should be fixed in the next rev'd version also, we just haven't gotten around to pushing one yet ;). Thanks!

[2017-07-31 14:59] ojw28 commented on #3068
[Deleting unrelated responses to this thread]

[2017-07-31 15:00] ojw28 commented on #3068
Also closing this issue because it doesn't contain sufficient information for us to help.

[2017-07-31 15:00] #3068 closed, assigned to nobody

[2017-07-31 15:25] ojw28 commented on #3072
Please can you provide a test file that reproduces this? There are lots of potential variables here, some of which may be content specific, so we'd really like exact and specific reproduction steps before we spend any time trying to reproduce. Thanks.

[2017-07-31 15:37] noammazuz opened #3123 "exoplayer - 416 http response code"
i saw this link.
https://github.com/google/ExoPlayer/issues/2259
and i think the problem is similar.

when i try to play this url https://xmediadownloadservice.hunterhrms.com/api/video?ContentPath=XEFwcGxpY2FudFxiYWFkMzA3NS1mNTU4LTQ4NzctYTM2YS0xY2RjOWNhMzk1MTdcYmFhZDMwNzUtZjU1OC00ODc3LWEzNmEtMWNkYzljYTM5NTE3Lm1wNA==&UserNameToken=VkpPQlNBUFBcMTAxNTUxMjYxOTE0NzczNzBeXl5eNC84LzIwMTcgMTM6MDM6NTg=&Pas

[2017-07-31 15:39] hishamMuneer commented on #2643
@ram992 I dont have licence issues, for now I am trying to download the video for offline viewing, even if it  is not protected by licence. A single mp4 file can be downloaded easily but what about a segmented dashed file. https://stackoverflow.com/questions/45418817/saving-a-video-offline-while-playing-in-exoplayer

[2017-07-31 15:39] ojw28 commented on #3088
My interpretation of this issue is that the AndroidTV on which you're testing falls into the category of "older Silverlight clients", as in the documentation included in the first post. Support for whatever the old license format was may be deprecated on the serving side, but if you wish to continue targeting such devices I don't see any alternative but to ensure that you continue to serve them wi

[2017-07-31 15:58] ojw28 commented on #3104
Is it a *foreground* service (see [here](https://developer.android.com/guide/components/services.html#Foreground))?

ExoPlayer doesn't have any app killing functionality, so something else is going on here (most likely in your own code) ;).

[2017-07-31 16:05] ojw28 commented on #3123
This doesn't appear to be a valid media file. The `mediainfo` tool doesn't seem to be able to tell much about it. Playback doesn't work for me in VLC or Chrome on Linux either.

[2017-07-31 16:05] #3123 closed, assigned to nobody

[2017-07-31 16:14] jeoliva commented on #3088
I think the problem in this case was the license server url declared in the manifest was not valid anymore. Pointing to a new and valid license server requires modifying HttpMediaDrmCallback class (current implementation allows you to set a default license server but that is only used in case no one is declared in the manifest).

Forcing a specific license server url is not a weird requirement and

[2017-07-31 16:20] ojw28 commented on #3107
I don't understand this question, primarily because my understanding of how Widevine works is that a license response is tied to a specific device. If it were possible to take a license response provided to one device and then use that to make content playable locally on any other device, then wouldn't the DRM system be fundamentally quite broken?

To conclude: I don't think there's a way to play

[2017-07-31 16:21] ojw28 commented on #3107
If you think the above is incorrect, please let us know. Else we'll close this issue.

[2017-07-31 16:30] ojw28 commented on #3121
Do you actually expect this to work? Maybe first generation FireTV stick just doesn't support the HDCP levels that are required for this content, in which case failure is expected.

[2017-07-31 16:35] ojw28 commented on #3110
That really depends on the specifics of what the other player you're using is doing. If that player is bundling its own software decoder then it may be possible for it to play the content successfully. If it's using the platform provided decoder (OMX.qcom.video.decoder.avc) then I would expect it to fail in a similar way,

[2017-07-31 17:14] ojw28 commented on #3095
I don't think there was ever a setDisableSecureCodec method in ExoPlayer V1. Are you sure you didn't add it yourself (or alternatively, are you sure you're not using a non-official branch of ExoPlayer in which it was added)?

It's probably possible for you to achieve this functionality by implementing your own `MediaCodecSelector` and passing it to `MediaCodecVideoRenderer` via the constructor. Yo

[2017-07-31 17:32] ojw28 commented on #3088
- Could you clarify how the license server URL is declared in the manifest? Is it part of the Base64 data inside of the ProtectionHeader element? Just checking, since I don't think we explicitly parse a license URL anywhere in the manifest parser.
- Is it possible that passing a license response to the DRM session can change the default URL in the KeyRequest for subsequent KeyRequest instances obt

[2017-07-31 17:35] ojw28 commented on #3061
Use `Integer.MAX_VALUE` :).

[2017-07-31 17:48] ojw28 commented on #2648
@ram992 - You should be able to determine when this error occurs in the `EventListener.onPlayerError` method of an event listener registered to the player. It's unclear exactly what the exception looks like for this case (the log snippet provided above is insufficient to determine this), but it should be possible for you to inspect the exception and determine if playback failed for this reason. Yo

[2017-07-31 17:49] ojw28 commented on #2962
Closing this as further discussion should be on the WV group post. Thanks.

[2017-07-31 17:49] #2962 closed, assigned to wvpaf, pgrov

[2017-07-31 18:08] ojw28 commented on #3111
Please attach or mail a full bug report as requested at the bottom of the issue template (if you mail, please update this issue to prompt us to take another look). Thanks!

By the way, are you certain the offline license hasn't expired when you encounter this issue?

[2017-07-31 18:26] fabiobazurto commented on #3107
Could i send you my parameters to test dash in exoplayer? i didnt get to play dash. i can play all exoplayer examples.

[2017-07-31 18:27] ojw28 commented on #3091
I don't think there's anything actionable for us to do here at the moment, so closing. Please let us know if you believe there's a library issue here and are able to provide concrete reproduction steps. Thanks.

[2017-07-31 18:27] #3091 closed, assigned to nobody

[2017-07-31 18:29] ojw28 commented on #3107
I don't understand what that means, sorry? As per above, I don't think it's valid to hard code a license response, which is what your original posts suggests you're doing.

[2017-07-31 18:38] fabiobazurto commented on #3107
ok I know. We have local license server. Dash media content works with dash.js player. Now we want to use Exoplayer but we generate license indirectly, i mean, I got my challenge value in keyRequest variable from postKeyRequest(...) method. This value is injected in a CAllback parameter called "challenge" to get license string but i dont know how to inject this license to my device in order to pla

[2017-07-31 18:39] goffioul commented on #2891
@andrewlewis I'm not sure what you mean with "packet". Are you referring to the MPEG-TS packets? If yes, I think any start code could straddle across packet boundaries, and that's not the point of the proposed patch. The H262Reader class handles straddling start codes fine, I believe.

The problem is how H262Reader segments the mpeg2video elementary stream into data chunk to be sent to the decoder

[2017-07-31 18:40] ojw28 commented on #3107
You would also need to insert the license into the exact same DRM session for it to be valid (i.e. you couldn't use it for a subsequent playback attempt). Why don't you just use the license server?

[2017-07-31 18:59] ojw28 commented on #3107
To put it another way, there is no alternative to implementing `MediaDrmCallback.executeKeyRequest` in a way that provides a response specific to the request that's passed to it. It is not possible to generate a response prior to receiving the request. Generating a response based on a previous request from the same device will not work; the response needs to be generated for the particular request

[2017-07-31 19:43] ojw28 commented on #3122
It's difficult to see how you can both not drop any audio and perform a re-synchronization at the same time. The only way I could see that working is by changing the playback speed temporarily to achieve re-synchronization (which is something you could look at doing).

How accurate does the synchronization really need to be?

[2017-07-31 19:45] ojw28 commented on #3103
Is the implication that this is content specific (i.e. does not reproduce with any of the Widevine protected content provided by default in the demo app)? Please try in particular all streams under "Widevine DASH Policy Tests" to see if any/all of those reproduce the problem. Thanks.

[2017-07-31 19:46] ojw28 commented on #3103
Is it also device specific, or not?

[2017-07-31 19:53] #3059 closed, assigned to nobody

[2017-07-31 20:29] ojw28 commented on #3116
Please verify this is fixed on the `dev-v2` branch. Thanks!

[2017-07-31 20:29] #3116 closed, assigned to nobody

[2017-07-31 20:30] #3106 closed, assigned to nobody

[2017-07-31 20:31] fabiobazurto commented on #3107
I got it. I've published my license server, could i sent you the url and manifest to test it? maybe i'm doing something wrong.

[2017-07-31 20:41] ChrisPuissant commented on #3088
I don't think the issue came from Playready client, after checking, the client version used in the device is 2.5.0.1788, SimpleNonPersistentLicense class was already deprecated.

But manually replacing the URL in the KeyRequest doesn't work in my case. In fact it was worst...

I agree with jeoliva on adding a way to force licence server URL.
Doesn't work for me neither with non-persistent licences

[2017-07-31 22:07] jeoliva commented on #3088
@ojw28, regarding point 1, yes, license server url is part of the base64 data inside of the protectionHeader element. Because it was quite common using a different one Silverlight provided a way to override it.

Regarding point 2, honestly I am not sure about it. I haven't seen that behavior before but I can't 100% confirm that kind of "license server redirect" is not supported by PlayReady. Anywa

[2017-07-31 23:44] #3056 closed, assigned to nobody

[2017-07-31 23:45] #3044 closed, assigned to nobody

[2017-07-31 23:46] #2851 closed, assigned to nobody

[2017-07-31 23:47] #3039 closed, assigned to nobody

[2017-08-01 01:04] fabiobazurto commented on #3107
I got it, i forgot my license service needs custom HTTP Header setup to request license. I wrote a CustomDrmCallback with custom executePOST. Thank you @ojw28 , your explanation was exactly I needed.

[2017-08-01 01:04] #3107 closed, assigned to nobody

[2017-08-01 01:14] fabiobazurto commented on #3107
My code:

[code]

[2017-08-01 03:08] jiafei1986 opened #3124 "Question: Is there a same function in v2 for onDownstreamFormatChanged(v1)"
I am upgrading a video app from v1 to v2,  there is a third party logic added in the method onDownstreamFormatChanged as below
for example in the DemoPlayer in v1:
[code]
as you can see there is a piece of code  AnalyticsManager.onBitrateChange(((audioBitrate + videoBitrate) / 1000));   is there function that i can add this code in the exoplayer v2?

Thanks in advance.

[2017-08-01 04:12] mansoorahmed084 commented on #3122
thanks for the prompt reply.
I was also thinking on similar lines, when none of audio or video is master, we will have to drop frames to resync. I would consider changing playback speed, that sounds good.

Also can you confirm whether going with two internal clocks, one for audio & one for video is the right approach? Regarding accuracy, i should be able to play DVB TS streams or live TV without a

[2017-08-01 04:32] dbrain commented on #2277
@ojw28 Thanks. We were going to fiddle with a slide/fade in or just a fade, depending on how it felt in the app. So the overridable `PlaybackControlView` suits our needs better.

I'll have a fiddle with adding fade support to the `PlaybackControlView` itself in the next few days. Would be a good addition. Most of the time that would be enough to make everyone happy.

[2017-08-01 05:00] ram992 commented on #2622
Hello @ojw28 how do we communicate with Widevine, any info would be great.
And does this communication needs to done at the time of license fetching ??

[2017-08-01 05:10] or-dvir commented on #3110
@ojw28 sure, this is possible but i tried multiple players... anyways if i recall correctly it also crashes on standard resolutions such as 1920x1080. i'll email another bug report using that resolution tomorrow

### edit
apperantly the person who has the video files will only be in the office on sunday. i'll send the bug reports then

[2017-08-01 05:44] andrewlewis commented on #2891
@goffioul Yes, I mean MPEG-TS packets. The issue is with how the `CsdBuffer` fills. If the start code for a sequence header begins either at the final byte of a packet or the one before, `isFilling` is set in `onStartCode` after the first byte or two of the relevant header has been passed to `onData` already, which means that the bitstream parsed in `parseCsdBuffer` can be offset by one or two byt

[2017-08-01 05:47] ram992 commented on #2643
@hishamMuneer One question : why do you want to use a segmented DASH for offline use,
This stuff is for online and to switch bitrate dynamically (depending on the network speed).
And a single mp4 video file is enough for offline case as there will be any network calls.
Any way the problem with DASH formatt (as I know) is that it will have all the audio and video files with in the manifest and if y

[2017-08-01 06:24] ram992 commented on #2648
@ojw28 - as you said, the log shared by @stellabei is not enough, I was able to reproduce the same issue with the demoPlayer and with the same content you have provided in the main screen for testing.
In the options if you go to "Widevine DASH policy tests(GTS)" and select any content which says secure videopath required, this exception occurs.
MeanWhile I will try the method you just suggested.
T

[2017-08-01 07:23] zhanghuicuc commented on #3040
I've noticed that in `MediaCodecVideoRenderer.shouldDropOutputBuffer`, the frame drop threshold is set to 30ms. Is this just an arbitary value? May be this threshold is too strict for 24fps and 25fps streams.
In NuPlayer, the frame drop threshold is set to 40ms. In mstplayer (from mstar) and ffplay, the frame drop threshold is set to 1/fps. IMO, this threshold should be set according to framerate.

[2017-08-01 07:31] andrewlewis commented on #3104
In case it's useful: you can dump information about your service(s) using `adb shell dumpsys activity services -p [packagename]`. Foreground services show `isForeground=true` under their service record.

[2017-08-01 07:48] alex-schwartzman commented on #3103
Yes, it's device specific. Only mentioned devices are affected.

In the meanwhile, I figured out following details:
1. Using _top_, I compared CPU load, required to play my streams on the Japanese XPeria Z3 versus European XPeria Z3. On that Japanese device CPU load is twice as high.
2. As well, Japanese devices cause the following message printed to the logcat: 07-13 17:47:33.296 W/ACodec  ( 9173

[2017-08-01 08:02] hishamMuneer commented on #2643
@ram992 But that will double my server size as I have to store both full mp4 and segmented files of the same video. Right now i have segmented files (along with mpd) stored on server which i am able to play without any problem.

[2017-08-01 09:27] ram992 commented on #2643
I know, I faced that problem, but I don't know any other way. That is how the DASH formatt works.
I hope someone from google can help us in this matter I guess. And I think all other famous stream apps does the same thing.

[2017-08-01 09:44] hishamMuneer commented on #2643
@mkiisoft @ojw28 Please guide how should I proceed? "Right now i have segmented files (along with mpd) stored on server which i am able to play without any problem. But how segmented videos running through mpd files can be saved offline for later use. Videos are unencrypted for now and no DRM is being used."

[2017-08-01 10:03] erdemguven commented on #2643
@hishamMuneer We're planning to release some of the downloaders in August. We'll update this thread when it's done. You'll be able to download your DASH streams.

[2017-08-01 10:12] ram992 commented on #2643
Hello @erdemguven, can I know how it is possible to download a segmented DASH file (Multiple ones) for offline use.
And am I assuming correctly for a Single mp4 file we get the DASH manifest give it to a parser extract all the video url's and pic what is best for us and leave the rest

[2017-08-01 10:14] matclayton commented on #2643
Any chance HLS is also in that list?

[2017-08-01 10:22] erdemguven commented on #2643
@ram992 Using DASH downloader you'll be able to select the representations you want and download them.
@matclayton HLS is WIP, it might be released as well.

[2017-08-01 10:25] hishamMuneer commented on #2643
@erdemguven Thanks for the update.

[2017-08-01 10:31] ram992 commented on #2643
@hishamMuneer  I think you got your answer, I'll wait for the release

[2017-08-01 11:13] AbdullahAyman opened #3125 "How to open youtube Vide URL in ExpPlayer2!!!"
*** ISSUES THAT IGNORE THIS TEMPLATE WILL BE CLOSED WITHOUT INVESTIGATION ***

Before filing an issue:
-----------------------
- Search existing issues, including issues that are closed.
- Consult our FAQs, supported devices and supported formats pages. These can be
  found at https://google.github.io/ExoPlayer/.
- Rule out issues in your own code. A good way to do this is to try and
  reproduce t

[2017-08-01 11:19] andrewlewis commented on #3125
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

If you’re able to provide complete information as requested in the issue template,

[2017-08-01 11:19] #3125 closed, assigned to nobody

[2017-08-01 11:22] ojw28 commented on #889
Closing this as simple subtitles are now supported, and it's unclear whether there's demand for lots of styling support for this subtitle type. Please file a new enhancement specifically about styling if it's a requirement. Thanks!

[2017-08-01 11:22] #889 closed

[2017-08-01 11:26] ojw28 commented on #3125
Please also see #2160.

[2017-08-01 11:28] ojw28 commented on #3124
There is still an `onDownstreamFormatChanged` in V2 (and it's used in `EventLogger` in the demo app).

[2017-08-01 11:32] goffioul commented on #2891
@andrewlewis Got it, thanks. It's indeed a separate issue. I don't know whether there's a guarantee to have the sequence headers at the start of a packet. I have several sample clips that you may find useful:
https://drive.google.com/open?id=0BwljeX6541LubXprdmEtTFdBT00
https://drive.google.com/open?id=0BwljeX6541LuQVM3d0NPcUduSWs
https://drive.google.com/open?id=0BwljeX6541LualNuV0VTSXFWSlk
https

[2017-08-01 11:36] Ryder68 opened #3126 "Can't play hls stream: Unexpected exception loading stream java.lang.IllegalArgumentException"
I'm using ExoPlayer Lib r2.5.0-beta1 & r2.4.4. But it's can't play this hls url: http://42.112.37.42/hls/4545780bfa790819/5/3/a7c6b7d36c0e01c57d6a6eb393de4b90fefc4af91b17b88a4673356e1ac70c6c/dnR2MQ==.m3u8

Log:
[code]

That stream url working on Android default player, Vitamio Lib or VLC (on PC) but not work in ExoPlayer.
Please help me.

[2017-08-01 13:17] matclayton commented on #2643
@erdemguven amazing thanks!

[2017-08-01 13:23] Aditya94A opened #3127 "Add instructions for building extensions on Windows"

[2017-08-01 13:48] ojw28 commented on #3127
None of our dev team use Windows, so it's somewhat difficult for us to do this. It might be a case of someone figuring it out and then sending a pull request that adds the necessary instructions.

@andrewlewis suggests you give [Windows Subsystem for Linux](https://msdn.microsoft.com/en-gb/commandline/wsl/about) a try, which is provided by Microsoft for running Linux environments directly on Windo

[2017-08-01 14:48] ojw28 commented on #3126
I'm not sure "working" is quite accurate. I tried to play this stream on VLC, and whilst it does play, there are repeated freezes and a lot of errors in the logs. Less than 30s of playback yielded all of the following, which corresponded to visible jank:

[code]

Which looks pretty broken to me.

[2017-08-01 14:55] ojw28 commented on #3126
Using Apple's `mediastreamvalidator` tool also yields a "MUST fix" issues for every segment:

[code]

Closing the issue because the media is bad.

[2017-08-01 14:55] #3126 closed, assigned to nobody

[2017-08-01 15:23] ojw28 commented on #3040
It's arbitrary. I'm not convinced allowing frames to be "more late" is necessarily better than dropping them though, from a visual point of view. Does the result actually look smoother when you increase the value, or does it just decrease the dropped frame count and look just as janky? In any case, it's clear that "minimizing dropped frames" isn't in isolation the goal to be aiming for. It's trivi

[2017-08-01 16:13] Ryder68 commented on #3126
Oh.
It can only works well on Vietnam country.
I just test that stream and it still working.

![image](https://user-images.githubusercontent.com/30622400/28835176-ba8b184c-770e-11e7-83da-e45f8af73b70.png)

You can get stream url from this site:
http://vtv.vn/truyen-hinh-truc-tuyen/vtv1.htm

I don't thinks that stream is bad media.

note:
Update new stream:
http://42.112.37.42/hls/4545780bfa790819/

[2017-08-01 22:24] wvpaf commented on #2603
The logcat does not indicate any widevine issues/error either. Other than what @ojw28  mentioned the device is only reporting it supports non secure playback, L3, so no playback is expected.

Are you a CWIP partner? If so please reach out to your widevine contact.

[2017-08-01 22:24] #2603 closed, assigned to wvpaf

[2017-08-01 22:40] wvpaf commented on #2622
Hi if you are a Widevine partner you should have access to our CWIP/partner site. If not this is the next best method of communication.
Investigation continues.

[2017-08-02 02:46] jiafei1986 commented on #3124
@ojw28 thank you, just found out it .

[2017-08-02 02:46] #3124 closed, assigned to nobody

[2017-08-02 03:10] Ryder68 commented on #3126
@ojw28 Please help me :-(

[2017-08-02 05:40] tedKim5178 opened #3128 "Need a help in HLS customizing"
Hello! I am trying to change a bit of code of ExoPlayer. But I have a problem.
In HLS, I found out that ExoPlayer re-download the chunk in specific situation to get better performance. (I guess when it has enough buffer and nice network so that it has enough time to re-download chunk which has better bitrates) But I don't want to re-download the chunk. So I changed little bit of code.

before

if

[2017-08-02 05:45] tedKim5178 commented on #3128
For more information, this is an original code
![2017-08-02 2 44 54](https://user-images.githubusercontent.com/24425221/28859247-39e3e376-7791-11e7-9754-058f47861e7a.png)

[2017-08-02 09:11] yyyuuu777 opened #3129 "how to play dash video if server only clice video AdaptationSet"
hi , My server mpd file only have video AdaptationSet , not have audio AdaptationSet , exoplayer will parse mpd file fail , i want to know how to play dash video if server only slice video AdaptationSet , Thank you !

here is my mpd file:
`<MPD minBufferTime="PT1.500S" type="static" mediaPresentationDuration="PT0H8M48.384S" maxSegmentDuration="PT0H0M10.000S" profiles="urn:mpeg:dash:profile:isoff-o

[2017-08-02 09:13] ojw28 commented on #3129
Please provide all of the information requested in the issue template. What does "fail" mean. There's probably a stack trace in the logs that would save a lot of time...

[2017-08-02 09:23] ojw28 commented on #3128
HLS doesn't make guarantees about the location of keyframes in segments, so it's always necessary to download overlapping segments when switching between variants. Else you may see delays if the segments do not start with keyframes, because you'll have no overlap and the player will be unable to decode the part of the first segment in the new variant before the first keyframe. You may also see del

[2017-08-02 09:23] #3128 closed, assigned to nobody

[2017-08-02 09:26] yyyuuu777 commented on #3129
Sorry , this is the log error :
`
E/LoadTask: Unexpected exception loading stream
            java.lang.IllegalStateException
                at com.google.android.exoplayer2.util.Assertions.checkState(Assertions.java:79)
                at com.google.android.exoplayer2.source.dash.manifest.DashManifestParser.checkContentTypeConsistency(DashManifestParser.java:806)
                at com.google.an

[2017-08-02 09:28] ojw28 commented on #3129
Ah. We do not support muxed audio+video content in DASH, and have no plans to do so. Sorry.

[2017-08-02 09:28] #3129 closed, assigned to nobody

[2017-08-02 09:30] ojw28 commented on #3088
Adding a `forceDefaultUrl` flag sounds good to me. Feel free to send a pull request to the `dev-v2` branch.

[2017-08-02 09:37] yyyuuu777 commented on #3129
Sorry, what do you mean by dash play, mp4 file video and audio must be separated before it?

[2017-08-02 09:39] ojw28 commented on #3129
We only support DASH manifests where audio and video are split out into separate adaptation sets (and underlying that, yes, separate mp4 files).

[2017-08-02 09:53] yyyuuu777 commented on #3129
ok , if  audio and video are not split out into separate adaptation sets ,the dash manifests only have video adaptation set  , Can  play it?

[2017-08-02 10:14] ojw28 commented on #3126
As per above, Apple's `mediastreamvalidator` indicates multiple "MUST fix" issues with the stream. If you can find a stream that passes Apple's validator and still fails in this way, please let us know and we'll take a look. You can read about the tool [here](https://developer.apple.com/library/content/technotes/tn2235/_index.html#//apple_ref/doc/uid/DTS40010221-CH1-VALIDATORTOOL).

[2017-08-02 10:35] Ryder68 commented on #3126
@ojw28 Okie.
But why Android default player or Vitamio Lib can play that stream (i tested), and ExoPlayer can not play ?

[2017-08-02 11:35] rajat70 commented on #2827
### ClearKey Not Working

I'm trying to DASH stream an encrypted file using ClearKey DRM. Details of entry added in `media.exolist.json` are given below:

[code]

This is the error that I'm getting
`Caused by: com.google.android.exoplayer2.drm.DrmSession$DrmSessionException: java.lang.IllegalStateException: Media does not support uuid: 1077efec-c0b2-4d02-ace3-3c1e52e2fb4b`

Can you help me out wit

[2017-08-02 12:34] ojw28 commented on #2891
I made some further fixes to this. Please check everything is still working as you expect. Thanks!

[2017-08-02 12:34] #2891 closed, assigned to andrewlewis

[2017-08-02 12:42] ojw28 commented on #3129
As above, this is not something we support or plan to support. We only support demuxed (i.e. audio and video split into separate adaptations sets).

[2017-08-02 12:46] ojw28 commented on #3126
I'm not sure. There are many reasons why this kind of thing can happen (e.g. because we rely on different parts of the media stream, or are less robust to some issue with this particular stream). It's not something we're going to spend time investigating though. Our priority is to play properly formatted media really well, not to play malformed media less badly :).

[2017-08-02 12:52] Ryder68 commented on #3126
Thank you :-)

[2017-08-02 13:24] erdemguven commented on #2808
We just published a blog post: [Pre-caching/Downloading progressive streams in ExoPlayer](https://medium.com/google-exoplayer/pre-caching-downloading-progressive-streams-in-exoplayer-3a816c75e8f6)

I hope you'll find it useful.

[2017-08-02 13:24] #2808 closed, assigned to erdemguven

[2017-08-02 14:20] dbedev opened #3130 "Exception when playing a corrupted Mp4 stream"
### Issue description
Expolayer generated an exception on trying to play a corrupt mp4 stream.

What we managed to find out before we lost the corrupted stream is that the corrupted stream somehow generates a state in which the mp4 extractor readAtomPayload method will call  input.skipFully with an atomPayloadSize of -8.  This in the end causes an exeception on the systemArrayCopy as it's source i

[2017-08-02 14:24] ojw28 commented on #3130
What's wrong with the existing failure mode?

[2017-08-02 15:30] goffioul opened #3131 "library/hls/build.gradle does not use modulePrefix for project :testutils"

[2017-08-02 15:50] andrewlewis commented on #3071
The segmentation fault in log2.txt is in MediaCodec, so you may be able to work around this by returning `false` from `MediaCodecUtil.isCodecUsableDecoder` when the codec name is "OMX.MTK.AUDIO.DECODER.MP3", assuming the device has another working MP3 decoder. If that avoids the crashes let us know so we can submit a device-specific workaround. The other crashes pasted above are in AudioTrack not

[2017-08-02 15:50] #3071 closed, assigned to andrewlewis

[2017-08-02 16:07] andrewlewis commented on #2900
I couldn't reproduce this on a Nexus device so trying to get hold of a Samsung Galaxy Mega GT-I9152.

[2017-08-02 23:30] paceraudio opened #3132 "ExoPlayer video freeze followed by rapid memory spike resulting in OOM"
### Issue description
I've been repeatedly experiencing an issue while playing a live stream.  I am able to reproduce the issue, though it happens roughly 1X per hour.  The memory usage during normal playback is stable until ExoPlayer freezes (audio and video), and then ExoPlayer's memory usage spikes, with DefaultTrackOutput holding many references to byte arrays.  The issue happens with or witho

[2017-08-03 01:40] tedKim5178 opened #3133 "Make the player transparent issue"
Hello :-)
I am trying to make the player transparent and add some information on top of it.
But whenever I set alpha to ExoPlayerView or the layout contains ExoPlayerView it shows nothing but the view behind of it. For example, I overlay textview with a exoplayer with alpha it shows noting but the textview. Is there any way to make it transparent so that I can show other information on top of exop

[2017-08-03 04:44] #3133 closed, assigned to nobody

[2017-08-03 07:31] shoyu666 opened #3134 "ConcatenatingMediaSource seek lost"
dear author:
                    i use ConcatenatingMediaSource (a.mp4,b.mp4),we need record position that user has reach
for example
a.mp4  10s
b.mp4   20s
15s mean  at window 1,pisition 5

we use seekto(window,position) after prepare
but it case  only play b.mp4 ,a.mp4 lost,user can not seek to a.mp4,it only can seek to begin of b.mp4, a.mp4 can not find.

before  -------10s(a.mp4)----------,---

[2017-08-03 07:35] andrewlewis commented on #3134
What do you mean by "a.mp4 lost"? Could you describe the steps to reproduce the problem, what happens and what you expect to happen?

[2017-08-03 07:48] shoyu666 commented on #3134
ConcatenatingMediaSource  mean i can connect a.mp4 b.mp4
if do nothing after prepare ,it play a.mp4 and b.mp4 as a single file,play a first then play b,and user can seek
if use seekto(window,position) after prepare
it play b.mp4 only,seek at begin use seekbar  == b.mp4 0 pisiton

I am sorry for my poor english

a.mp4  lost mean missing/can not find a

[2017-08-03 07:54] andrewlewis commented on #3134
Does https://github.com/google/ExoPlayer/issues/2122#issuecomment-291202163 help? If not, please could you phrase the question differently?

[2017-08-03 08:32] shoyu666 commented on #3134
dear auth
               thanks for you reply.
 i have read #2122
 my problem is
 url    http://xxxxxx/a.mp4    t1=10s   window 0
 url    http://xxxxxx/b.mp4    t2=20s   window 1
 use **ConcatenatingMediaSource(a.mp4,b.mp4)**  and DefaultPlaybackControlView.setShowMultiWindowTimeBar(true)
 it work fine,and seekbar is t1+t2 , everything was fine
 but when i use seekto(1,15000) api after prepare() a

[2017-08-03 08:57] andrewlewis commented on #3134
We can only show the multi-window time bar if we know the duration of every item in the concatenation. I think what's happening is that when you immediately seek to the second item, we never load the first one, so its duration is unknown, so the time bar reverts to showing a single window. If you know the durations of the two clips you may be able to work around this by wrapping the sources in Cli

[2017-08-03 09:15] shoyu666 commented on #3134
dear auth
 thanks,you are so kind, I understand
 by the way
 how to use ClippingMediaSource?
 public ConcatenatingMediaSource(MediaSource... mediaSources) support mutil mediaSources

 public ClippingMediaSource(MediaSource mediaSource, long startPositionUs, long endPositionUs) not support

should i use
ClippingMediaSource(ConcatenatingMediaSource(a.mp4,b.mp4)) ?

[2017-08-03 09:18] andrewlewis commented on #3134
ConcatenatingMediaSource(ClippingMediaSource(a.mp4, 0, aDurationMicroseconds), ClippingMediaSource(b.mp4, 0, bDurationMicroseconds)) should work.

[2017-08-03 09:18] #3134 closed, assigned to nobody

[2017-08-03 09:37] dbedev commented on #3130
Not sure what would be considered right/wrong on this topic. I just started reading up on the failure handling for Exoplayer. What is the intended behavior ? Which kind of issues does the libary expect the app/ player level  to handle and which kind of issues will the library handle by itself ? And what level of information does exoplayer intend to give about encountered failures ?

If I read the

[2017-08-03 10:15] ojw28 commented on #3130
The intended behavior is that playback fails and an error is propagated to the application (by the player invoking `EventListener.onPlayerError` on any registered listeners). The error will be an `ExoPlaybackException` and the `type` field will be set to `TYPE_SOURCE`, I think. This tells you the error was in loading/parsing as opposed to anything when rendering the media.

Calling `getSourceExcep

[2017-08-03 10:16] ojw28 commented on #3130
As a more fundamental question: How does you end up trying to play a corrupt MP4 in the first place? In any case where you control the content, you should never end up in such a position. If the user is sideloading content then you can't guarantee avoidance, but in this case showing a generic error for failures such as this seems adequate.

[2017-08-03 10:36] andrewlewis commented on #2900
This issue is triggered by adaptive reconfigurations, where we queue reconfiguration data into the decoder input buffer but the buffer was only created to store the maximum input sample size in the container.

[2017-08-03 10:58] #3131 closed, assigned to nobody

[2017-08-03 14:03] #2900 closed, assigned to nobody

[2017-08-03 14:03] ojw28 commented on #2900
Fixed in `dev-v2`, and will be cherry picked into `r2.5.0`.

[2017-08-03 14:42] ojw28 commented on #2827
@rajat70 - It doesn't look like the media is encrypted with ClearKey DRM. The only PSSH box in the actual stream has UUID set to `67706163-6365-6e63-6472-6d746f6f6c31`, which is apparently a UUID for "GPAC Player". I'd expect to see a PSSH box with UUID `1077efec-c0b2-4d02-ace3-3c1e52e2fb4b` for ClearKey encrypted content. Alternatively, that box should be specified in the DASH manifest.

[2017-08-03 14:59] hishamMuneer opened #3135 "ClearKey DASH url provided in media.exolist.json returns 404"
*** ISSUES THAT IGNORE THIS TEMPLATE WILL BE CLOSED WITHOUT INVESTIGATION ***

### Issue description
ClearKey DASH url provided in media.exolist.json returns 404. The file doesn't exist on server. That is the only example present in the section. Please provide a working sample of Clear Key.

### Reproduction steps
Hit the link

### Link to test content
http://html5.cablelabs.com:8100/cenc/ck/dash.

[2017-08-03 15:00] ojw28 commented on #3135
Yeah. I don't see much option but to remove it, unless someone has other sample content we can use.

[2017-08-03 15:18] hishamMuneer commented on #3135
@ojw28 I have been trying to run "cenc" on exoplayer from last 3 days. Do you have any example to help me out? Any reference would be appreciated too.

Please open the links given below and help me if have time. I think my key.json file is incorrect. I reused the one given in the sample but I after days of searching i am not able to find it anywhere.

This is what i have been trying till now:

##

[2017-08-03 15:23] ojw28 commented on #3135
Sorry, but debugging other people's media is outside the scope of this issue tracker. We will remove the 404'ing sample stream though.

[2017-08-03 15:28] hishamMuneer commented on #3135
Thanks.

[2017-08-03 17:15] zsmatyas commented on #3132
Callstack of the allocations:
[code]

Without being able to debug the code, it seems that the loop is in FragmentedMp4Extractor::readSample()
`while (sampleBytesWritten < sampleSize) {`
I would love to be able to check on these 2 values with a repro :)

[2017-08-03 17:42] mansoorahmed084 commented on #3122
Hi,

I have been able to sync audio to PCR clock but i am not sure when should i render the first video frame. When video is using audio media positionUs, which is updated from android.media.audioTrack it's syncing well. But when i try to decouple this, even after considering audio track latency of 79ms, video is ahead of audio by few milli seconds.
Can you please tell me how to render 1st video f

[2017-08-03 20:49] stari4ek commented on #2748
this is the only way to bypass `FLAG_ALLOW_NON_IDR_KEYFRAMES`, `FLAG_DETECT_ACCESS_UNITS` which can be required for some HLS streams.
`HlsMediaChunk` does not provide any other easy way to extend. It's final and pretty complex to provide own variant

[2017-08-04 07:17] ojw28 commented on #3122
I really don't understand enough about what your use case is to provide sensible guidance. What exactly are you trying to play (is there one stream, or two), how many players are you using (one or two), why do you need to sync against PCR, and what is the clock "common" with? It's quite unclear from the current description. Thanks.

[2017-08-04 07:25] hishamMuneer commented on #2827
@ojw28 "I'd expect to see a PSSH box with UUID 1077efec-c0b2-4d02-ace3-3c1e52e2fb4b for ClearKey encrypted content." - How can we create pssh box?

[2017-08-04 07:35] ojw28 commented on #2827
The right UUID might also be e2719d58-a985-b3c9-781a-b030af78d30e, I'm not sure. I'm really not the right person to ask. I've never prepared any ClearKey content, and ClearKey support in ExoPlayer was added by an external contributor (https://github.com/google/ExoPlayer/pull/2372).

[2017-08-04 07:36] hishamMuneer commented on #2827
@ojw28 :

## DRM File
[code]

## MPD File

[code]

[2017-08-04 07:36] ojw28 commented on #2827
It's not within the scope of this issue tracker for us to assist with your media, sorry.

[2017-08-04 07:40] hishamMuneer commented on #2827
@ojw28  OK. Forget my media. I am getting the following error, what does this error mean?

## Error
`Illegal state exception: Failed to get key request: Unsupported scheme or data format (-2006)`

[2017-08-04 07:42] hishamMuneer commented on #2827
@ojw28 Or if you can tell where is the implemention of the getKeyRequest() method written specified in com.google.android.exoplayer2.drm.FrameworkMediaDrm class.

[code]

[2017-08-04 07:43] ojw28 commented on #2827
It means the media only contains a PSSH box with an unsupported UUID, as already described above. It looks like the stream is encrypted with some kind of GPAC specific DRM scheme, rather than ClearKey. It is not a DRM scheme that we support.

[2017-08-04 11:09] richardissuperman opened #3137 "Ffmpeg extension's FfmpegDecoder doesnt work"
### Issue description
I follow the exact same steps listed here to configure all the libs :
https://github.com/google/ExoPlayer/tree/dev-v2/extensions/ffmpeg
When i run the demo project(include the FFmpeg extension) all native libraries have been loaded already,  FfmpegLibrary.java's isAvailable() method is returning true in runtime.

However, when i try to play a mp4 container with audio track mi

[2017-08-04 11:11] andrewlewis commented on #3137
The instructions in the README only enable a subset of possible decoders. You'd need to change the arguments to configure to use others. See also the [supported formats page](https://google.github.io/ExoPlayer/supported-formats.html#ffmpeg-extension).

[2017-08-04 11:11] #3137 closed, assigned to nobody

[2017-08-04 11:13] andrewlewis commented on #3137
Out of interest, is there any reason you want to bundle a decoder for AAC rather than using the one provided by the device? If you've found a device/build with a broken decoder it would be useful to know about it. Thanks!

[2017-08-04 11:36] ojw28 commented on #3073
What's the actual link to the content? The link provided above is to an html page, not a piece of media.

[2017-08-04 11:50] ojw28 opened #3138 "Clarify/correct handling of ClearKey protected content"
I'm not convinced our handling of ClearKey content is correct. We currently define the clear-key UUID as:
[code]
But there's also a ClearKey UUID:
[code]
We should probably be doing something with that.

I'm also pretty unclear what would be necessary to get content like https://media.axprod.net/TestVectors/v7-MultiDRM-SingleKey/Manifest_ClearKey.mpd working.

@sandersaares, have you ever managed

[2017-08-04 11:51] ojw28 commented on #3135
We'll push a change removing the

[2017-08-04 11:51] #3135 closed, assigned to nobody

[2017-08-04 11:55] dhanapal20 opened #3139 "Exo Player 2.3 droppedOutputBufferCount get increased during dash playbck"
### Issue description
While playing dash vod/live content using ExoPlayer 2.3, we observd "droppedOutputBufferCount" keeps incrementing (this is seen only for video and not for audio). Because of the incrementing value induces video stuttering.

### Reproduction steps
This is seen always with ExoPlayer 2.3 on all devices [android mobile (all major vendors) and android STB/TV ].

### Link to test c

[2017-08-04 12:20] sandersaares commented on #3138
Historically, there were some "clear key" labelled test videos floating around some years ago which used the [W3C Common PSSH and systemID](https://w3c.github.io/encrypted-media/format-registry/initdata/cenc.html). Some players therefore started to interpret this as "Common PSSH means clear key", which is not intended by the W3C specifications as far as I can tell - the Common PSSH is just an abst

[2017-08-04 12:40] hishamMuneer commented on #2827
@wasabeef Can you help me by providing a working clear key example and by guiding how to create a pssh box? Your Clear Key example provided in exolist.json is returning 404.  Dead Link: http://html5.cablelabs.com:8100/cenc/ck/dash.mpd

## Sample
[code]

[2017-08-04 12:56] ojw28 commented on #3139
It looks like the presentation timestamps of the frames in the video file are incorrect. They should be increasingly smoothly by 40000us each frame. The actual values (after decoder re-ordering) are:
[code]
Note there are 8 frames (indicated above) where the presentation timestamp appears to jump backward in time by a significant amount. These frames are deemed as being late and so are dropped. Th

[2017-08-04 13:20] ojw28 commented on #3138
Thanks for the detailed response! So to paraphrase (mainly to make sure I understand the above correctly), we should expect your Clear Key test stream to work if we:

1. Parse `<ContentProtection value="ClearKey1.0" schemeIdUri="urn:uuid:e2719d58-a985-b3c9-781a-b030af78d30e">` from the manifest and therefore recognize that Clear Key is used.
2. Parse `<ContentProtection schemeIdUri="urn:mpeg:dash:

[2017-08-04 13:35] sandersaares commented on #3138
That sounds about right, assuming that the CDMs you target require a PSSH here - this would likely be CDM-implementation-dependent. The JSON "keyids" initialization data might also be suitable depending on the CDM, for example. At least, EME has a "should" for that one - the strongest (and only) wording I could find in any spec for activating the Clear Key CDM.

The DASH manifest may also contain

[2017-08-04 14:21] ojw28 commented on #3138
I had a try synthesizing a V1 pssh box, and was able to successfully pass it to the ClearKey CDM to generate a key request. However when I try and make the request to the license server, I get an http status code 500 back.

The request is a post request and looks like:
[code]
where the body is the key request data obtained from the CDM.

Can you spot anything obvious in the request that would caus

[2017-08-04 14:53] sandersaares commented on #3138
That request appears to be for a key with the ID `1077efec-c0b2-4d02-ace3-3c1e52e2fb4b` which is not among the Axinom test vectors, as far as I know. I assume the error the server is encountering is one of a key not being found (though the error message could be improved for sure). Where is this ID from?

You can see the set of loaded keys at https://drm-clearkey-testvectors.axtest.net/Diagnostics

[2017-08-04 15:00] ojw28 commented on #3138
Oops. That's the system id for the common PSSH box. I'm probably building my PSSH box wrong, and putting the UUID where I'm supposed to be putting the KID. I'll take a look.

[2017-08-04 15:13] ojw28 commented on #3138
I fixed that and managed to get a response from the server:
[code]
It looks like the CDM is unhappy with it though:
[code]

[2017-08-04 15:42] ojw28 commented on #3138
Looks like the CDM expects base64 encoding, where-as the response uses base64url encoding. Replacing the "-" with a "+" allows playback to proceed. I'm guessing this is a bug in the CDM (although not too hard to work around at the application layer).

[2017-08-04 15:50] minaEweida opened #3140 "Ignore load errors in subtitle tracks sideloaded using SingleSampleMediaSource"
I am using MergingMediaSource in order to display Video and subtitles. For some reason the text source file might be removed from the server so the url will return 404, giving the following exception com.google.android.exoplayer2.upstream.HttpDataSource$InvalidResponseCodeException: Response code: 404

At this point it makes sense, the problem is I can't play the video if this happens although I e

[2017-08-04 17:55] ojw28 commented on #3120
We've provided an obviously safe improvement to start with that will save 6MB. It's likely possible to reduce the size of the remaining input buffers a lot more, but we need to spend a bit of time figuring out the best way to come up with a suitable initial size for a given format.

[2017-08-04 17:57] ojw28 commented on #3120
Re-framing the issue to track this in general for all decoder extensions. Internal ref [b/64338954]. We should look at how our different extensions allocate input/output buffers. In particular:

1. They should all use format.maxInputSize to set the input buffer size if it's set.
1. If format.maxInputSize is not set, we should come up with sensible initial input buffer sizes. Currently the VP9 exte

[2017-08-04 17:58] ojw28 commented on #2583
What's the current status of this issue? Have Samsung fixed it via a software update?

[2017-08-04 22:51] ojw28 commented on #2833
Already tracked by https://github.com/google/ExoPlayer/issues/2748

[2017-08-04 22:51] #2833 closed, assigned to AquilesCanta

[2017-08-04 22:53] ojw28 commented on #2666
This will land in the `r2.5.0` release. There will also be a blog post available soon that explains how to make use of it, in case it's not self explanatory.

[2017-08-04 22:53] #2666 closed, assigned to marcbaechinger

[2017-08-04 22:57] ojw28 commented on #3019
Closing due to inactivity.

[2017-08-04 22:57] #3019 closed, assigned to nobody

[2017-08-04 22:59] ojw28 commented on #2934
It's unclear what's being asked here. Closing due to lack of clarity.

[2017-08-04 22:59] #2934 closed, assigned to nobody

[2017-08-04 23:06] ojw28 commented on #3043
As above, the proper solution (and the only way to seamlessly handle connection breaks/re-connects) is to move to something like DASH or HLS.

The question as to why this type of connection appears to break frequently is still unanswered. Given the suggestions above didn't help, I think your best option if you still want to answer this question would be to dig around using Wireshark to figure out

[2017-08-04 23:06] #3043 closed, assigned to nobody

[2017-08-04 23:16] ojw28 commented on #2658
Feeding multiple video streams into a single decoder isn't a valid thing to do. Video decoders are stateful, since decoding a frame often depends on the result of having decoded the frames that come before it. Decoders also re-order frames from decode order into presentation order. Hence there needs to be a 1:1 relationship between video streams and decoders.

Hence if you want to decode multiple

[2017-08-04 23:16] #2658 closed, assigned to nobody

[2017-08-04 23:19] ojw28 commented on #2992
Significant improvements were made to the HLS implementation in ExoPlayer V2. It's quite a lot more robust than the V1 implementation. Please test with a recent V2 build instead, and let us know if there's still an issue.

[2017-08-04 23:19] #2992 closed, assigned to nobody

[2017-08-04 23:19] ojw28 commented on #2992
Marking wontfix (obsolete) as this is about ExoPlayer V1.

[2017-08-04 23:21] ojw28 commented on #2049
Closing due to inactivity (and because it sounds like the issue was solved by taking a software update on the device).

[2017-08-04 23:21] #2049 closed, assigned to nobody

[2017-08-04 23:42] ojw28 commented on #2416
@AquilesCanta @andrewlewis - Did we ever figure out a sensible way to target a workaround for this in ExoPlayer code? Is there an internal thread or bug about this with QC?

[2017-08-04 23:43] ojw28 commented on #2681
Does the lack of traces imply the update helped? Thanks.

[2017-08-05 00:06] ojw28 commented on #2727
There are examples of playing Widevine protected content in the demo app, so that should be a good starting point.

It's a little unclear what this question is about, however. There's not really enough information or context (e.g. a link to the content you're trying to play) for us to assist.

[2017-08-05 00:06] #2727 closed, assigned to nobody

[2017-08-05 00:11] ojw28 commented on #2539
We haven't ever been able to reproduce this. Closing, since there's nothing actionable we can do (and other users do not seem to be reporting similar issues).

[2017-08-05 00:11] #2539 closed, assigned to AquilesCanta

[2017-08-05 01:38] linyongsheng commented on #3120
@ojw28 thanks. To find a suitable initial size for a given format  is one way to avoid OOM. Allocate buffer in native layout may be another way. For example:
[code]

[code]

[code]

[2017-08-05 02:40] richardissuperman commented on #3137
@andrewlewis oh thanks, i dont know the aac is not included in the default supported settings, will try and configure again then.
No i dont have a broken device, the reason i want to use the ffmpeg one is i wanted to study how you build the ffmpeg decoder and build a ffmpeg **video renderer**,because we have some **HUAWEI** devices which doesnt work well with MediaCodec api, wanted to try the soft

[2017-08-05 04:12] linyongsheng opened #3141 "FLV extractor don't support format change"
At most time, a FLV stream don't change it's  format once request.But in my app, the live stream will change it's input format without resend http request.The new format don't tell the codec, lead to the video or audio play error.

change ``VideoTagPayloadReader`` class line 85:
``if (packetType == AVC_PACKET_TYPE_SEQUENCE_HEADER && !hasOutputFormat) ``
to
``if (packetType == AVC_PACKET_TYPE_SEQUE

[2017-08-05 19:47] dhanapal20 commented on #3139
Hi
Thanks for your detailed analysis and timely response
But we have cross verified the media content and its presentation timestamp seems correct. (verified with MPEG2 TS format source content PES and its converted into iso bmff (mp4) video format with respect to monotonic clock resolution of 100 nano ticks time scale (10000000))

We upscaling 90 KHz PTS/DTS time reference to 100 nano ticks (1000

[2017-08-05 21:29] ojw28 commented on #3139
Oops! Took another look at this and it seems we overflow when parsing sample composition time offsets from the trun, [here](https://github.com/google/ExoPlayer/blob/r2.4.4/library/core/src/main/java/com/google/android/exoplayer2/extractor/mp4/FragmentedMp4Extractor.java#L814), which is why the presentation timestamps end up looking incorrect. Changing `1000` to `1000L` on that line fixes the probl

[2017-08-06 11:45] Teviz commented on #3072
@soadri @AquilesCanta
Sorry for my ambiguous expression. The 'local video' I referred is the video file stored on the device.

[2017-08-06 12:04] Teviz commented on #3072
@ojw28
Of course, I have sent one of the test files to dev.exoplayer@gmail.com.
Firstly, I doubt the class FileDataSource which uses RandomAccessFile to read file is the reason why prepare is slow. So I try to use class MappedByteBuffer which import from NIO to improve the performance, but it seems to behave nearly. I'm not sure is there something I did wrong.
And then I hook the every method in E

[2017-08-06 13:32] brAzzi64 opened #3142 "Replacing SonicAudioProcessor for an interface"
Hi,

I'm migrating my app from ExoPlayer r1.5.10 the the latest 2.X, and I'm excited to see that pitch-shifting and time-stretching has been incorporated to the library formally, and in the AudioTrack wrapper object, with logic to enable draining of current transformed data when changing playback parameters and such.

According to its author, Sonic however is mostly aimed at time-stretching and pi