[2018-03-30 06:28] tangmingscau opened #4057 "Playback of high bitrate FLAC streams may fail (pre Android-N)"
I pulled the latest 2.7.2 code, which restored the bug of #3514, but it caused a more serious crash. When I played the FLAC music with larger rate, APP native crash occurred.
[code]

[demo-withExtensions-debug.apk.zip](https://github.com/google/ExoPlayer/files/1862825/demo-withExtensions-debug.apk.zip)

[2018-03-30 06:32] tangmingscau commented on #4057
I've been sending you the music on the #4055 question.

[2018-03-30 06:59] pals-ric commented on #4036
can you tell what is override?

[2018-03-30 07:24] ram992 commented on #3708
@ojw28, can you also give an answer on how to solve this with exoplayer v2.2.0 as I am not in a position to upgrade the player yet.

[2018-03-30 07:41] pals-ric opened #4058 "getcurrentposition() issue"
hi
 In my app we have live channels in which we are using player.getCurrentposition() to get the current played duraion but its returning unexpected values, for example we played video for 40 seconds but its returning 1 seconds or some random values.

[2018-03-30 08:12] griygagns opened #4059 "Unable to (1) add okhttp as a gradle dependency to the demo application, and (2) build exoplayer modules locally in r2.7.2"
(1) Unlike r2.7.0, I am not allowed to import any okhttp3 classes in the demo application after adding `implementation project(modulePrefix + 'extension-okhttp')` to demo's build.gradle. Then, I proceed to directly add `implementation 'com.squareup.okhttp3:okhttp:3.10.0'` instead. Unfortunately, I am still unable to build the apk in the release mode successfully even though the proguard options su

[2018-03-30 08:26] vishal105 commented on #2777
I can still reproduce this bug on version 2.7.2:

In PlayerActivity::initializePlayer(), add
player.setPlaybackParameters(new PlaybackParameters(2.0f, 1.0f));
Then build and install the demo app on a Google Pixel Phone with Android 7.1, run the demo app, and play a 1080p video, for example, Misc -> Screens 1080p (FMP4, H264, No Audio)

please help.

[2018-03-30 10:12] mahesh2015 opened #4060 "File Type checking is wrong for some files (Makes a best guess to infer the type from a file name.)"
[code]

Method unable to get file type and always return C.TYPE_OTHER.
I have follow to fix this By
`uri.toString().toLowerCase(Locale.getDefault()).contains("m3u8")`
is this correct ?

I am will send a mail for the same with my uri value.

[2018-03-30 10:31] vishal105 opened #4061 "VIDEO FRAME PAUSE on 2.0x speed"
I am using  2.7.2 exoplayer library.

In PlayerActivity::initializePlayer(), add
player.setPlaybackParameters(new PlaybackParameters(2.0f, 1.0f));

Then build and install the demo app on a Google Pixel Phone with Android 7.1 and some other device also, run the demo app, and play a 1080p video, for example, Misc -> Screens 1080p (FMP4, H264, No Audio)

please help.

[2018-03-30 11:51] FD- opened #4062 "SimpleCache for parallel download and playback"
I'm using the `Downloader`s to download media into a `SimpleCache`. At the moment (using ExoPlayer 2.7.1), this allows to start playback of the media while it is still being downloaded.

However, I noticed commit [371f3acea87f6685ee65173ae30cbba5f2b6dd6b](https://github.com/google/ExoPlayer/commit/371f3acea87f6685ee65173ae30cbba5f2b6dd6b#diff-712fc451bc94c196ac662379ea2f71a3) will change `SimpleCa

[2018-03-30 12:23] mkaflowski opened #4063 "Cast Extension: Errors after loadItems() when isCastSessionAvailable() is true"
Cast player doesn't work correct when I load create it and load items when I was connected to Chromecast before:
- When I try to set another with seekTo(window, msec) item from playlist I get: java.lang.ArrayIndexOutOfBoundsException: length=0; index=1
- When I disconnect I get wrong currentPosition
- getDuration() = -9223372036854775807

How to reporoduce:
1. Add some button to demo app
2. Move m

[2018-03-30 13:49] Realerik commented on #3962
I am not sure. I can only say, that this is the exception, that i regulary see and as i said before it seems to happen only on android 7 devices, if the app is in the background.

[2018-03-30 14:02] komissarovdenis opened #4064 "Setting PlaybackParameters when paused"
If set a new params via setPlaybackParameters() when player on pause and try to get them back via getPlaybackParameters() you will receive a previous one until playing.

In my case it all considering about playback speed.

lib version 2.7.2

[2018-03-30 14:07] #4064 closed, assigned to nobody

[2018-03-30 16:03] mkaflowski commented on #4063
Ok, in this case status listener and some others are not set. You can fix that by changing method but I am not sure if it will work every time:
[code]
Any chances to fix that in update?

[2018-03-30 19:22] kelmer44 commented on #4042
I just loaded the tag uri I posted and it returns XAML VAST info --- If you refresh it will not though, to prevent showing the same ad continuously to the same ip address

[2018-03-30 19:22] kelmer44 commented on #4042
![image](https://user-images.githubusercontent.com/3629100/38150680-71ef4fee-3460-11e8-92a4-b2ea08d184db.png)

[2018-03-30 19:59] PaulWoitaschek commented on #3670
Any news on this? Still present in 2.7.2.

[2018-03-31 10:45] DMKKCT opened #4065 "Could not find dependency "com.google.android.exoplayer:exoplayer:2.X.X"
Dependency not download

[2018-03-31 11:51] Peter59403 commented on #4027
@giladna Thank you for your answer. I will look for a factory reset, but it is quite a lot work because I have to reconfigure most apps on my device.

Meanwhile, this is the output from Kaltura Device Info:

[code]

[2018-03-31 18:43] stari4ek commented on #3266
Same for
[code]

[2018-04-01 03:18] hassanhe opened #4066 "Support m3u playlists"
👋 hi, i have the following .m3u playlist file

[code]
when i try to stream it with the following

[code]

i get the following error which mean the failing happened on the streams with `#EXTINF:-1` (aka. the live stream ones which don't specify a duration time but -1 instead)

[code]

how can i support an m3u live streams list if `HlsPlaylistParser` dont allow `-1` as duration then

am using versio

[2018-04-01 05:36] SystemRestored opened #4067 "ExoPlayer Widevine Drm Need Help"
0
down vote
favorite
Hello I am developing an application where I will be available to play dash stream with widevine drm protection. I have read the sample of exoplayer but my need is different, I will on my website, and when click the dash url it will start playing the stream in exoplayer. I have succeeded in doing first part for opening the exoplayer activity, however I dont know how I can run

[2018-04-01 12:48] #4052 closed, assigned to nobody

[2018-04-01 12:49] Elyasin commented on #4052
Closed. This seems to work as designed.

I wish documentation was better and design would be more intuitive.

[2018-04-01 16:02] OrenMe commented on #3918
Hi @erdemguven have you gotten a chance to understand the issue? any possible fix?

[2018-04-02 02:54] 1431326613 opened #4068 "DynamicConcatenatingMediaSource removeMediaSource"
hi:
  when I call  removeMediaSource of  DynamicConcatenatingMediaSource , second I call   setPlayWhenReady of  SimpleExoPlayer, it can not play, please help
                                                                                       Thanks
                                                                                       Jacky

[2018-04-02 07:37] lion4509 opened #4069 "Exoplayer is stuck after playing once even though setting to loop"
### Issue description
Exoplayer is stuck after playing once even though setting to loop

### Reproduction steps
[code]
### Link to test content
I uploaded stream file, IPStreamer, setting screenshot.
https://drive.google.com/open?id=1atVzsUmnVXDwLNZnUNcjgqdlMev-Voyg

### Version of ExoPlayer being used
implementation 'com.google.android.exoplayer:exoplayer:2.7.1'

### Device(s) and version(s) of A

[2018-04-02 09:36] FD- opened #4070 "Make Cache more extensible"
I'm trying to extend ExoPlayer's caching mechanism so that content for multiple keys can be stored in a single file. The goal is to be able to download HLS in a way that I obtain a result that can be played (and seeked through) in ExoPlayer and other players. In order to reach that goal, I'm hoping to modify ExoPlayer's cache so that all ts chunks of the HLS stream are stored sequentially in one f

[2018-04-02 12:17] 0c6a183d commented on #4050
Thank you for your reply. I have not used DashDownloader yet so I will try that in the future to implement your method. Based on your reply, I have used a similar approach by using the components I am familiar with. I have used two simpleExoplayer instances, one builds without a cache, the other with. They both share a BandwidthMeter instance. Exo instance one plays 2 seconds of muted audio and pr

[2018-04-02 12:59] axet opened #4071 "Correct GetDuration/Seeking for VBR Mp3 files without seek headers (XING/VBRI)."
Hello!

ExoPlayer 2.7.2

With following file, ExoPlayer detect current playing position (getCurrentPosition()) incorrectly for about 2 times. As result it create silence about track length and does not triggers end of playing event (nor onPlayerStateChanged or onPlayerError).

Track length is 10:04, after about 6:23 it starts playing silence. If I move current position by calling seekTo() works fi

[2018-04-02 14:22] ojw28 commented on #4057
What device does this occur on? It looks likely that this is a device specific issue. Please capture and attach a full bug report, as is clearly requested in the issue template.

[2018-04-02 14:25] ojw28 commented on #4055
The content provided doesn't download for me. When I click the link I get a spinner indefinitely. Please can you attach a sample directly to your email, or else use a file sharing service that works reliably (e.g. DropBox / Google Drive).

Note that ID3 tags at the start of FLAC files is not really a thing. As per the [FLAC FAQs](https://xiph.org/flac/faq.html#general__tagging):

We'll take a look

[2018-04-02 14:28] ojw28 commented on #4058
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

[2018-04-02 14:28] #4058 closed, assigned to ojw28

[2018-04-02 14:29] ojw28 commented on #4065
You need to replace "2.X.X" with the actual version you want. For example the latest version is "2.7.2".

[2018-04-02 14:29] #4065 closed, assigned to ojw28

[2018-04-02 14:34] ojw28 commented on #4060
We cannot use a "contains" check as proposed because non-HLS urls have also been known to contain that string. Note that `inferContentType` is never called directly by any library components. It's only called from the demo applications. If you wish to use different logic to infer the content type for your application, you can define your own method and use that one instead.

Ideally the library wo

[2018-04-02 14:34] #4060 closed, assigned to ojw28

[2018-04-02 14:53] ojw28 commented on #4062
It's fundamentally unsafe to have two instances using the same directory at the same time (e.g. you can end up with cache corruption). You should use a single instance. This has always been the case, and the only change is we're now enforcing it.

It's unclear why you need to consider more than one path. If you're using a different path for each piece of content, you should consider not doing that

[2018-04-02 14:53] #4062 closed, assigned to ojw28

[2018-04-02 14:56] ojw28 commented on #4062
You may also want to look at `CacheDataSource.FLAG_BLOCK_ON_CACHE`, which can be used to get blocking behavior rather than ignoring the cache in the case that the part of the media being read is locked.

[2018-04-02 14:59] ojw28 commented on #4070
I think this would require some fairly in depth changes. It's probably easier just to implement some other downloading component from scratch, to be honest, since I can't think of any easy way to adapt the existing caching mechanism for this use case. Due to the in depth nature of the changes that would be needed, it's unfortunately not something we can provide guidance on at this point. Sorry!

[2018-04-02 14:59] #4070 closed, assigned to ojw28

[2018-04-02 15:02] ojw28 commented on #4066
We do not support m3u playlists (which are not the same as m3u8 HLS playlists). Marking as an enhancement.

[2018-04-02 15:30] ojw28 commented on #4059
The correct thing to add to the demo app's build file would be:
[code]
Which works fine for me. Having said that:
* We should consider using `api` rather than `implementation` for the dependency our OkHttp extension has on the OkHttp library, given using the extension requires application code using OkHttp library classes directly.
* The `javadoc_util.gradle` thing is an oversight, and is somethin

[2018-04-02 15:36] ojw28 commented on #3708
@ram992, unless you're building ExoPlayer from source I don't think this should affect earlier versions. If you are building from source then you could not do that. If you need to build from source because you've forked the library and have custom code in it, then maintaining that branch is your responsibility. You'd need to look at back-porting the fix reference above into your fork.

[2018-04-02 15:40] ojw28 commented on #3971
I'm not sure, to be honest. All I can say is we've never done anything "special" to handle that use case, so either it "just works" for mixes being used for other content, or other content does not mix.

[2018-04-02 15:52] ojw28 commented on #4036
Closing because this falls beyond the scope of this issue tracker. There's only so much help we can provide on what are effectively application development issues, unfortunately. It also looks like you're still using ExoPlayer V1, which was replaced by V2 a long time ago now. When filing issues, please consider whether they are actual issues relating to ExoPlayer, or more general questions that ar

[2018-04-02 15:52] #4036 closed, assigned to tonihei

[2018-04-02 16:32] griygagns commented on #4059
Thank you for your reply. It is true that everything works fine if using "debug" build type. However, I still fail to generate signed APK when the build type is chosen as "release" (i.e. both shrinkResources and minifyEnabled in demo's build.gradle are true). For details, please see the error messages below:

![untitled](https://user-images.githubusercontent.com/37923459/38204380-5321c070-36d5-11e

[2018-04-02 16:36] griygagns commented on #4059
Apart from the above build issue, I also wonder why the issue of okhttp dependency is not found before r2.7.0.

EDITED: I understand the difference between api and implementation now. My problem remaining is the  build failure issue mentioned above. Thank you.

[2018-04-02 17:10] directable commented on #3997
Sony updated the OS on this. We are still seeing the problem but now it  can take a couple days to see the problem. This morning the TV was locked up so hard i had to pull the power on it. I was curious if you had a timeline on [#3948](https://github.com/google/ExoPlayer/issues/3948) regarding keeping system codecs etc, as that may solve our problem?

thanks

[2018-04-02 18:35] ojw28 commented on #4059
* The dependency change is a result of https://github.com/google/ExoPlayer/commit/f91e6349fdd464db6902e66a672667a601abe797#diff-c6b1b36d417beffe802401b73f6b0bf0. We should probably use `api` rather than `implementation` for OkHttp, as noted above, which will undo this change of behavior.

* Adding consumer proguard rules directly to the okhttp extension, rather than to the demo app, resolves the w

[2018-04-02 21:37] brAzzi64 commented on #3142
Hi guys. I wanted to know if there's any chance this could be considered soon, since my patch has been quite time consuming to maintain. Updated here:

https://github.com/brAzzi64/ExoPlayer/commit/019095fd0192c0293dee8496f5db2e27f975ac31

It's pretty straightforward; you'd probably just have to figure out a better name for PSTSAudioProcessor (pitch-shifting, time-stretching) and come up with maybe

[2018-04-02 22:00] linhai326 commented on #4067
you can find the sample code from the exoplayer demo's playActivity.java. Basically all you need to do is:
- create the drmSessionManager using the get license url.
- pass drmSessionManager to ExoPlayerFactory.newSimpleInstance
- and the rest will be handled by exoplayer.

[2018-04-03 01:03] derekw0311 commented on #4014
@AquilesCanta I have sent the content & sample project to dev.exoplayer@gmail.com

Thanks

[2018-04-03 01:52] tangmingscau commented on #4055
ok,there is link here.
[https://note.youdao.com/share/?id=65c4866029e36626bd7b0f9e542fdcd7&type=note#/](url)

[2018-04-03 02:25] tangmingscau commented on #4057
there is a complete Log
[logcat.txt](https://github.com/google/ExoPlayer/files/1869973/logcat.txt)

[2018-04-03 02:28] SystemRestored commented on #4067
@linhai326  thanks for your kind reply. I am a noob in this. Kindly help me. I have read the demo, and tried to do so.. I can use the demo application, however when I am copying the demo code in my application, some errors are coming like could not find ParcelableArray and etc. Can you give me additional code needed with the code shared above. I will be very helpful to you. Sorry for my english..

[2018-04-03 07:34] griygagns commented on #4059
I got the same error.

By the way, there is a minor issue in demo app [(here)](https://github.com/google/ExoPlayer/blob/release-v2/demos/main/src/main/java/com/google/android/exoplayer2/demo/PlayerActivity.java#L553), where " - 1" should be removed after [4828f27](https://github.com/google/ExoPlayer/commit/4828f275c7177a486fa1518b6242ac962741cb87). That's why after r2.7.0 the "video" button is alw

[2018-04-03 07:41] ojw28 commented on #4059
Are you using "Build > Generate Signed APK" in Android Studio? It looks to me like it might be broken (i.e. not an ExoPlayer issue). I see the error when using that feature, but if I instead make a release configuration, that works fine.

[2018-04-03 07:51] ojw28 commented on #4059
It's interesting that when configuring signing for a release configuration, Android Studio goes and removes nearly all of the dependencies from the app's `build.gradle` file, which then need to be re-added manually. I suspect "Build > Generate Signed APK" makes this transformation every time, which is why it doesn't end up working.

[2018-04-03 08:17] tonihei commented on #4058
Please also take a look at this [documentation](https://google.github.io/ExoPlayer/doc/reference/com/google/android/exoplayer2/Timeline.html). You are most likely seeing the position in the current live window, which will update from time to time.

[2018-04-03 08:18] DavidMihola opened #4073 "Which HLS version does ExoPlayer (currently) support?"
I am sorry if I am missing something obvious but: Is there any information about which version of HLS is supported by current ExoPlayer versions? Does the supported HLS version depend in any way on the Android version the app is running on? Or does ExoPlayer support the same HLS feature set regardless of the Android version, as long it is 4.1 or higher?

Thanks for any help!

David

[2018-04-03 08:21] ojw28 commented on #4057
I'm fairly sure this is a device specific issue. You should report it to the device manufacturer. Do you know if the device also has `OMX.google.raw.decoder`? If so it may be possible to work around the issue by blacklisting `gle.raw.decoder`.

[2018-04-03 08:36] andrewlewis commented on #4042
There's an open bug about ad tags being requested twice (#3323) so maybe this is the cause of the problem.

[2018-04-03 08:43] tonihei commented on #4052
Not sure if and how you solved your problem. But there are the properties `repeat_toggle_modes` and `show_shuffle_button` [here](http://google.github.io/ExoPlayer/doc/reference/com/google/android/exoplayer2/ui/PlayerControlView.html). As well as the methods `setRepeatToggleModes` and `setShowShuffleButton` to configure which buttons should be shown.

[2018-04-03 08:43] andrewlewis commented on #4073
- ExoPlayer doesn't rely on the HLS support in the platform, so behavior should be consistent on different versions. However, it does rely on platform content protection support and `MediaCodec` for decoding extracted data. See [supported formats](https://google.github.io/ExoPlayer/supported-formats.html#hls) for more information.
- I think the implementation doesn't target a particular draft/spec

[2018-04-03 08:47] tonihei commented on #3670
Unfortunately not. We pushed a fix for the general problem of badly aligned streams. However, your problem is special because it has this strange one-sample video stream with a sample time of zero.

This problem is not really high-priority as it is somewhat unusual. Have you tried the workaround I posted above which at least lets you disable the video stream to play the files?

[2018-04-03 08:49] tonihei commented on #3327
No, sorry, this is still something we are planning to do but haven't got around to do it.

[2018-04-03 08:55] tonihei commented on #4067
As @linhai326 already pointed out, you need to setup a DrmSessionManager which is passed to the player. The demo app is a good point to get started. Not that the demo app parses the drm scheme from the intent, that's why it tries to read from a ParcelableArray. No need to do this in your app.

[2018-04-03 08:57] griygagns commented on #4059
Yes. I am used to using "Build > Generate Signed APK" in Android Studio.

However, now it is very strange that I am suffering from the same "empty output jar" error permanently even if I only try to generate signed apk from a new project that uses a clean ExoPlayer-r2.7.2.zip. I am wondering if Android Studio has some previous project caches that prevent me from generating signed apk sucessfully.

[2018-04-03 08:58] tonihei commented on #4068
It's a bit unclear what your actual issue is. Could please fill out the [issue template ](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE) and especially provide example media and reproduction steps.

[2018-04-03 09:15] PaulWoitaschek commented on #3670
If I understand correctly that would mean I had to pull the whole library in? Also I have extensions building /https://github.com/PaulWoitaschek/ExoPlayer-Extensions) for an open source project so I rather wait.

[2018-04-03 09:28] tonihei commented on #3670
You could also fork just `ExtractorMediaSource` and `ExtractorMediaPeriod` and then use your own version to prepare the player instead of the library one.

[2018-04-03 09:30] ojw28 commented on #4059
Yes, the issue is unrelated to any changes you may have made. I'll open a couple of issues against Android Studio to get their input on the problem. Until the underlying issue is fixed, I think you just need to generate the apk some other way. Hopefully command line tools are not affected.

[2018-04-03 09:34] ojw28 commented on #3327
To clarify:
* It is true that we already start to pre-buffer the next item(s) once the current item has been fully buffered.
* The enhancement being tracked here is to consider pre-buffering the start of the next item(s) in a playlist _before_ we've buffered all the way to the end of the current item. The reasoning being that users are more likely to skip to the start of the next item than seek to

[2018-04-03 09:46] kelmer44 commented on #4042
Yea that sounds like a possible cause for this bug.

[2018-04-03 09:55] andrewlewis commented on #4042
I'll close this issue as #3323 tracks the double request bug already.

[2018-04-03 09:55] #4042 closed, assigned to andrewlewis

[2018-04-03 10:01] ojw28 commented on #4059
Bugs filed on Android Studio:
- https://issuetracker.google.com/issues/77507254
- https://issuetracker.google.com/issues/77509617

[2018-04-03 10:07] prat-z commented on #3850
This issue has also come up with me. In my case, the time between the initial onPlayerStateChanged(buffering state) to onRenderedFirstFrame takes 2.1 seconds, and from onRenderedFirstFrame to onPlayerStateChanged(ready state) takes another 800ms and then only the video starts to show up.

Below is the detailed log:
`04-03 15:29:42.540 1866-1866/com.example.video.test V/simple_exo_test: onPlayerSta

[2018-04-03 10:54] griygagns commented on #4059
Thanks. Hopefully, android studio can fix the issue asap.

I can confirm that when shrinkResources and minifyEnabled are set to true, "Build > Generate Signed APK" also works fine with local ExoPlayer modules, including okhttp extension with appropriate modifications as discussed above .

[2018-04-03 12:28] peyoh commented on #2014
Hi! Any progress ?

[2018-04-03 13:53] jboisjo commented on #4015
thank you :)

Also, i've been testing this issue on other device, and it looks worse on less performant device. If we try this on the MiBox or any other device, it will be longer...

[2018-04-03 14:00] izderadicka opened #4074 "How to resolve DataSource length in the the middle of the playback to enable seek"
Hello I do have specific question on how implement this behavior in exoplayer.

I do have an application which is playing transcoded audio files - chapters of an audiobook ( live transcoding from any format to ogg+opus - so stream length is not know in advance - stream is chunk encoded HTTP response).
To enable best experience I use progressive download - I start to read transcoded file from serve

[2018-04-03 14:18] Peter59403 commented on #4027
Have not tested a factory reset yet, but tried the ExoPlayer demo application. Every demo with Widevine Secure fails. Is there anything else I can paste here from the demo application to help?

I also contacted LG last week, their technical department will look into the issue (but no updates yet).

[2018-04-03 14:18] adamhewitt627 opened #4075 "ClearKey Decryption Error"
### Issue description
When attempting to play a protected file with DRM encryption, I get the a decryption error. I am able to play successfully **except** when the base64 key contains a `/`. I have tried all of the following in my offline key:

- `"...\"k\":\"sqvlkIJdgicc/AYGBjyBmQ\"..."`
- `"...\"k\":\"sqvlkIJdgicc\\/AYGBjyBmQ\"..."`
- `"...\"k\":\"sqvlkIJdgicc_AYGBjyBmQ\"..."`

All three produc

[2018-04-03 14:25] keerthikorrapati commented on #3327
Thank you for clarifying @ojw28 and @tonihei . While we are at it, I am building a DynamicConcatenatingMediaSource which can take up to 30 videos. I built a demo and saw that exoplayer pre-buffers only one or two next items. So is it okay to add this kind of load or should we code up a wrapper logic to keep up to only k videos at a time.

[2018-04-03 14:28] tonihei commented on #3327
ExoPlayer buffers as much media as configured in your LoadControl. That's independent of the length of the playlist. So, in short, it's fine to keep as many items in the playlist as you like.

[2018-04-03 14:30] ojw28 commented on #4075
I don't think `/` is valid in the key. Keys are supposed to be base64url encoded, which is not quite the same as regular base64 encoding. In particular, see: https://www.w3.org/TR/encrypted-media/#using-base64url

Does that answer your question? Thanks.

[2018-04-03 14:30] keerthikorrapati commented on #3327
Thank you :)

[2018-04-03 14:35] adamhewitt627 commented on #4075
Yes, I recognize that. Note that the 3rd of my shown attempts would be the base64url encoding of that slash. (Though I do see that the "reproduction" I copied over was an attempt to maintain the slash.) Of note, however, is that having a `+` in the key does _not_ break the decryption.

[2018-04-03 14:43] andrewlewis commented on #4048
It sounds like `MediaCodecAudioRenderer` is still being used in preference to `FfmpegAudioRenderer` on the TV box even though`EXTENSION_RENDERER_MODE_PREFER` is set. If that's correct, the next step is to figure out why the extension isn't being loaded properly.

Is it possible that FFmpeg wasn't compiled for the for the device's [ABI](https://developer.android.com/ndk/guides/abis.html)? You can r

[2018-04-03 14:48] ojw28 commented on #4059
Fixes on ExoPlayer side are merged into `dev-v2` (see above), and will be included in the next release. Closing this, since the remaining issue is to the best of our knowledge an Android Studio problem.

[2018-04-03 14:48] #4059 closed, assigned to ojw28

[2018-04-03 14:56] oleksandr-yefremov commented on #4027
We tested factory reset and unfortunately there is no difference: installing ExoPlayer demo right after reset gives the same results. Here is the `adb bugreport` from reset device -
[bugreport-bullhead-OPM2.171019.029-2018-04-03-16-14-03.zip](https://github.com/google/ExoPlayer/files/1872032/bugreport-bullhead-OPM2.171019.029-2018-04-03-16-14-03.zip)
We also acquired another Nexus 5X with Android

[2018-04-03 15:10] andrewlewis commented on #2659
The index calculation `(position + 2 * i) * channelIndex)` looks wrong, as it doesn't make much sense to multiply the position in the buffer by the channel index.

Could try taking `ChannelMappingAudioProcessor` verbatim and replacing the copying loop with the following (warning: untested)?

[code]

Some more care probably needs to be taken with scaling the sample but hopefully this is enough to g

[2018-04-03 15:36] giladna commented on #3918
@erdemguven
@ojw28

not sure exactly why renderersEnded is blocking here or if it has some wrong behaviour but...
The fix for this ENDED issue is just replacing && in ||

if (renderersEnded
        || (playingPeriodDurationUs == C.TIME_UNSET
            || playingPeriodDurationUs <= playbackInfo.positionUs)
        && playingPeriodHolder.info.isFinal) {
      setState(Player.STATE_ENDED);
      st

[2018-04-03 15:47] ojw28 commented on #4029
Discussed this with @joeyparrish. It looks like the DASH-IF discussion is headed in the direction of recommending padding segments to avoid short representations. However, given the time that will be required to update packagers, and that there's existing content with short representations, will will endeavor to support this case in ExoPlayer assuming a relatively low cost and side-effect free cha

[2018-04-03 16:29] SystemRestored commented on #4067
I have already tried that and got one part in stuck: buildDrmSessionManagerV18( drmSchemeUuid, drmLicenseUrl, keyRequestPropertiesArray, multiSession); I get error that buildDrmSessionManagerV18 the method cannot be resolved my license url and drm scheme is same so I dont need and intent, can you help me with the additional code to the above needed

[2018-04-03 16:50] ojw28 commented on #4075
Ah, got it! I'm not sure we should spend much time wondering about the behavior when using `+`. It's probably valid for the underlying CDM to handle or not handle incorrect encoding :).

Focusing on the `/` issue, what's the original unencoded key? Does the content play successfully on other devices, when using correct base64url encoding? If it's just the Visual Studio emulator that has the issue,

[2018-04-03 17:38] ojw28 commented on #4055
@botaydotcom - This fits nicely under the "extractor stuff" umbrella. `Mp3Extractor` has code for sniffing/parsing id3 metadata, so it's probably a case of copying/sharing that with `FlacExtractor`. We should probably actually parse the metadata and put it into the `Format`, add a `FLAG_DISABLE_ID3_METADATA` flag as in `Mp3Extractor`, and plumb that through `DefaultExtractorsFactory`.

Implementat

[2018-04-03 17:48] Qingkui9 opened #4077 "CdmEngine::OpenSession failed after long time stress testing"
### Issue description
We are doing stress testing to the playback functionality of an Application which is using ExoPlayer.
During the stress testing, all the android devices(200 same android 7.1 tablets)  would lose the ability of drm playback.  Re-installing the application didn't help. But the drm functionality will recover after a device reboot. The issue is about he Session Opening of the CDM

[2018-04-03 17:54] ojw28 commented on #4077
@wvpaf - please take a look

[2018-04-03 18:09] natez0r opened #4078 "Seeking ExoPlayer Rapidly with OkHttp with http2 connection causes sockettimeoutexception"
### Issue description
When using the OkHttp extension and playing media over http/2, if you seek the player rapidly the OkHttp connection pool eventually will contain a connection that is hung and will never work. This is much easier to get to reproduce in our own application, but it's definitely possible to get to happen in a demo app.

I suspect that a connection isn't being closed properly and

[2018-04-03 18:16] ojw28 commented on #4078
If the issue is unique to the OkHttp extension then do you think it's likely that the issue is in OkHttp rather than ExoPlayer? Would it be possible for you to validate whether we're forgetting to close connections in the ExoPlayer layer? If we're not, that points to an issue in OkHttp.

By the way, we've just updated the OkHttp extension to point to the latest release of OkHttp (3.10.0, whereas p

[2018-04-03 18:17] peacechen opened #4079 "Automated building of extensions"
### Issue description
`react-native-video` uses ExoPlayer for the Android implementation.  Video format support is all over the place (e.g. some files play on the Nexus 5 / Android 6, but not Nexus 6 / Android 7).  I believe that this may be resolved by using the software extension decoders.

The docs for the extensions have a [manual build requirement](https://google.github.io/ExoPlayer/demo-appl

[2018-04-03 18:39] roundsmapp commented on #2659
@andrewlewis , I made the changes. It is working great! Thanks again for the help.

[2018-04-03 20:25] adamhewitt627 commented on #4075
As reported, the same failure occurs on a Nexus 6 running 7.1.1. The original key is:
[code]

[2018-04-03 20:55] natez0r commented on #4078
We are using 3.10 locally and are still seeing the issue.

It appears to correlate with the underlying Http2 stream getting InterruptedIoException, it may be an okhttp issue with how it handles Interrupts (https://github.com/square/okhttp/issues/1903). I noticed that ExoPlayer is using ExecutorService to do the downloads and calling shutdown on them interrupts the thread doing the OKHttp operation

[2018-04-03 21:09] BetweenTwoBits opened #4080 "System caption style background being used when cue style is provided."
### Issue description
When using a CaptionManager defined caption style, SubtitleView will show the system style background behind the caption style data that is part of the cue. This can lead to blue bars showing next to the captions.
Ex:
![elephants_dream_captions](https://user-images.githubusercontent.com/3139045/38275959-c97ac1b0-3750-11e8-9877-7079fb9ecab5.png)

### Reproduction steps
Set sys

[2018-04-03 21:27] BetweenTwoBits commented on #4080
Seems like setting backgroundColor in SubtitlePainter.java to the cue's windowColor (when windowColorSet) gives the expected result, but I'm not sure thats the right fix. I'm assuming the better option would be to add a backgroundColor field to the Cue class would be a better solution.

[2018-04-03 22:00] wvpaf commented on #4077
please attach a full ADBBugreport.
thanks.

[2018-04-04 02:03] tangmingscau commented on #4055
Is it possible for me to understand that there will be a new version to solve this problem?
Thanks

[2018-04-04 03:43] tangmingscau commented on #4057
I saw the flow of FLAC playing, and finally FLAC music was broadcast to Android system in audio_raw mode, and the Android system had a soft solution OMX.google.raw.decoder. Or the FLAC bitstream is too high to cause the Android system to fail to play, causing the internal error of the Android system. But I don't have the source code of Android system, so I can't provide more information to you. Ca

[2018-04-04 05:38] tangmingscau commented on #4057
there is a flac music。
https://note.youdao.com/share/?id=65c4866029e36626bd7b0f9e542fdcd7&type=note#/

[2018-04-04 05:57] tangmingscau opened #4081 "maybe ffmpeg not work reasonable?"
first use the EXTENSION_RENDERER_MODE_PREFER mode.
          I try to play FLAC music through ffmpeg, and ffmpeg has a FLAC decoder,
      and if I don't compile the extension/flac library, exoplayer will report a mistake without a suitable extractor.
      If I compile the extension/flac library, but I delete the libFlac.so file, there is an error as well,
      because flacDecoderJni is not work

[2018-04-04 07:31] andrewlewis commented on #4079
#1434 tracks distributing some extensions via jCenter.

I can't think of any particularly useful guidance regarding programmatically building the extensions. The extension READMEs include instructions that could be used as reference for writing some build scripts. Perhaps someone else who has experience with this can offer some suggestions.

The linked stream has H.264/AVC video and AAC audio. Doe

[2018-04-04 08:31] ojw28 commented on #4057
The decoder that's failing is `gle.raw.decoder`, not `OMX.google.raw.decoder`. I'm asking whether `OMX.google.raw.decoder` is also present on the device, in which case we could probably use that decoder instead.

I think this issue is likely device specific. The device you're using looks pretty obscure to me. Is that accurate?

[2018-04-04 08:56] loredana2314 commented on #4048
After I run the command, I get armeabi-v7a. I tested also with tablet and other boxes (android 4.4.2 and 6). The audio plays in these other devices. Is there anything else that I have to check in my device?

[2018-04-04 09:08] andrewlewis commented on #4048
Assuming the problematic device has the same ABI as one of the devices that works, I think the next step is to find the place where the extension fails to load.

There isn't much information to go on here so you'll need to debug it yourself. Please try setting a breakpoint in `FfmpegLibrary.isAvailable` and stepping through. Is an exception thrown, so the library is unavailable? For completeness,

[2018-04-04 09:09] botaydotcom commented on #4055
Yes, there will be a new version to solve this problem. However, this will not be worked on very soon because I'm working some other tasks on hand (expect ~1 month).

[2018-04-04 10:33] andrewlewis commented on #4069
I tried playing the provided TS stream in the demo app with `REPEAT_MODE_ALL` and it played back and looped fine on Nexus Player. This setup doesn't use `UdpDataSource`.

Please could you try playing the stream on another released device (not one that's in development) and also separately without `UdpDataSource`, so we can try to narrow down what's causing the failure? Please also provide a full b

[2018-04-04 10:48] andrewlewis commented on #4061
This is probably just a case of the decoder not being able to keep up. By setting the speedup to 2 you're doubling the frame rate of the video. You can verify this by looking at the counters at the top of the screen in the demo app. The number labeled 'db' shows the number of buffers that were dropped due to being late.

If you find that something else is going on please provide more information a

[2018-04-04 10:48] #4061 closed, assigned to andrewlewis

[2018-04-04 11:13] ojw28 commented on #4075
It looks like you're not encoding the key correctly. Isn't the base64url encoding of that key `kTQZUWlrXhuiMkOezsHxKg`? Which seems to work for me for the test stream provided.

[2018-04-04 11:25] Peter59403 commented on #4027
@oleksandr-yefremov Really nice! I wonder what the upgrade and downgrade will result in.

LG has contacted me by phone, and they want me to return my device so they can investigate. I will wait until oleksandr-yefremov has upgraded/downgraded his devices to see if this is an software issue.

[2018-04-04 11:45] ram992 commented on #3708
Thanks @ojw28, I was able to fix it. Posting the change here, so that some one else can use, as this is the first link that pops in google
1) Increase your com.novoda:bintray-release:x.y.z  to 0.8.0
2) Add this code as given by the above reference **Fixed in 13592df**
    doFirst{
            classpath = files(variant.javaCompile.files,
                    project.android.getBootClasspath())

[2018-04-04 11:49] ghost commented on #4064
@komissarovdenis how did you overcome this problem ?

[2018-04-04 12:27] #3843 closed

[2018-04-04 12:47] griygagns opened #4083 "Subtitle of a dash stream not shown properly"
### Issue description
I have a live dash stream with multiple subtitle tracks. While they can be correctly recognized as TTML, nothing is shown during playback. Also, it is worth noting that shaka player is able to display them properly.

I wonder if it is a bug of exoplayer or something else currently not supported by exoplayer.

### Reproduction steps
Sent to dev.exoplayer@gmail.com

### Link to

[2018-04-04 12:48] a-alexeev-incrdbl commented on #4013
I had the same issue, I was able to decrease latency to 2,5 seconds by passing a 'buffer=1000' parameter with stream url.

`MediaSource mediaSource = new ExtractorMediaSource.Factory(mediaDataSourceFactory)
                .createMediaSource(
                        Uri.parse(url + " live=1 buffer=1000"),
                        mainHandler,
                        eventLogger
                );`

[2018-04-04 12:51] AquilesCanta commented on #4022
Will update this next week. We need to figure out if flaky support is the case on all devices. It is rather ambitious to try building a supported format list that takes into account specific device issues. Thanks for your patience!

[2018-04-04 13:31] nicusorflorin opened #4084 "SwitchTargetView results in E/ExoPlayerImplInternal: Stop failed. java.lang.IllegalStateException"
### Issue description
When switching the target PlayerView the player stops playing with an IllegalStateException

### Reproduction steps
1. Create a layout with 2 playerviews
2. Instantiate a simpleexoplayer and have it run a video on one of them
3. Switch between the two views, might take a couple of switches, doesn't occur always

### Version of ExoPlayer being used
2.7.1

### Device(s) and ver

[2018-04-04 14:01] adamhewitt627 commented on #4075
[code]

While the encryption error _does_ go away using your key, I also don't get any audio. Using `00000000000000000000` as the key has the same effect.

[2018-04-04 14:28] peacechen commented on #4079
I haven't had time to test it with the extensions.  In the meantime, would anyone with a working build of ExoPlayer + extensions try the video link?  The issue could be Android 7 (or the Nexus 6 hardware, but unlikely since the video plays in Chrome on the Nexus 6).

[2018-04-04 14:51] nicusorflorin commented on #4084
Update: can confirm that if this device is added to that condition, the issue is resolved, please either add support for custom developer conditions to be added or add this device as well it (might turn out to be a general issue with Huawei devices)
Condition:
 ``` ("OMX.IMG.MSVDX.Decoder.AVC".equals(name) && "HUAWEI VNS-L21".equals(Util.MODEL) // Huawei P9 Lite ```

[2018-04-04 15:00] marcinOz opened #4086 ""XmlPullParserException: unterminated entity ref" for "DashManifestParser.parse(..)""
### Issue description
When starting to play the stream on devices with Android 4.4.4 (probably 4.x, with higher versions everything works) it starts playing and after a second or two player error is thrown.

EventLogger: internalError [5.09, loadError]
...
Caused by: org.xmlpull.v1.XmlPullParserException: unterminated entity ref (position:TEXT @1:62 in java.io.InputStreamReader@42226f88)

### Repr

[2018-04-04 15:23] ojw28 commented on #4075
Thanks for your patience! I was able to get the content to play successfully. The correct key to use is `sqvlkIJdgicc_AYGBjyBmQ` (i.e. base64url encoding, as per spec).

I think the problem is in `ClearKeyUtil.adjustResponseData`, which re-writes the response to accommodate the fact that the underlying CDM incorrectly expected base64 rather than base64url prior to O-MR1. It converts `_` into `/`,

[2018-04-04 15:32] adamhewitt627 commented on #4075
My sense was that there was an issue in that escaping, but I wasn't able to debug/bypass it myself. I hadn't heard of that requirement in JSON, and searching online suggests it's optional. PowerShell, for one, doesn't include it:
[code]

[2018-04-04 16:24] ojw28 commented on #4075
Heh, yeah, it appears the only non-optional escaping is of `\` or `"`. `adjustResponseData` using `JSONObject`, which does escape `/`. Which is fine except that the underlying CDM doesn't handle it.

[2018-04-04 16:32] Qingkui9 commented on #4077
@wvpaf Hi, ADB log is attached. Please let me know if you need more info.
[192.100.9.1.logcat.zip](https://github.com/google/ExoPlayer/files/1876674/192.100.9.1.logcat.zip)

I will get and attach the ADBBugreport.

[2018-04-04 18:07] #2635 closed, assigned to andrewlewis

[2018-04-04 19:44] ojw28 commented on #4083
It appears that `track_ID` is set incorrectly in the subtitle track initialization segments. The `track_ID` in `moov -> trak -> tkhd` (in the initialization segments) and `moof -> traf -> tfhd` (in the media segments) should match, however are `0` and `1` respectively.

Note also that `0` is an invalid value. As per 14496-12:

So I think your packager is probably forgetting to set `track_ID` to `1

[2018-04-04 20:01] priyakar opened #4087 "Share a video that is streaming from API"
I have tried searching and I cannot find the answer anywhere and I really need to know whether or not ExoPlayer has the following functionality:
I am making an API call which has HLS stream that the exo player is loading and playing. I need to implement a feature to share this video. I need to know whether I can get access to these files exoplayer has downloaded so that I can convert it to a .mp4

[2018-04-04 21:25] ojw28 commented on #4087
This is not something we support, sorry!

[2018-04-04 21:25] #4087 closed, assigned to ojw28

[2018-04-05 01:54] lion4509 commented on #4069
Please fine attached bugreport.
Thanks,
-----Original Message-----
From: "Andrew Lewis"<notifications@github.com>
To: "google/ExoPlayer"<ExoPlayer@noreply.github.com>;
Cc: "lion4509"<lion4509@naver.com>; "Author"<author@noreply.github.com>;
Sent: 2018-04-04 (수) 19:33:26
Subject: Re: [google/ExoPlayer] Exoplayer is stuck after playing once even though setting to loop (#4069)

I tried playing the pr

[2018-04-05 02:01] lion4509 commented on #4069
It is in the buffering state after playing once. I sent the bug report to `dev.exoplayer@gmail.com`.

If using `VLC player` with `UdpDataSource`, it played back and looped fine but not `IPStreamer` tool.
It is necessary to use `IPStreamer` for manufacturing.

Do I need to edit my code or something else?

[2018-04-05 04:32] griygagns commented on #4083
Thank you for your detailed analysis. I wrongly guessed that it may be a problem of exoplayer, when I found that shaka player works fine with those subtitle tracks. Anyway, it would be better to close this issue,
which seems to be not related to exoplayer. Thanks again.

[2018-04-05 04:32] #4083 closed, assigned to ojw28

[2018-04-05 04:35] vishal105 commented on #4061
but Its happen in some devices not all devices. If any other method to set a speed playing in exoplayer  then suggest me.
Thanking You.

[2018-04-05 08:10] aarondib opened #4088 "Measure currently playing content frame rate"
Hi!

Is it possible (or a feature for the future updates) to measure currently playing content frame rate?
This can be done by measuring time between several consequent rendered frames.
Possibly, by allowing access to `onFrameRendered(...)` in `OnFrameRenderedListenerV23`.
This seems to be more precise method, then mentioned in https://github.com/google/ExoPlayer/issues/2563 by counting amount of

[2018-04-05 10:37] andrewlewis commented on #4061
Some devices can play video a higher frame rates. For example, this plays smoothly for me on a Pixel 2 but not on a Nexus 6P. You could try playing a lower resolution video, which should be less computationally expensive.

[2018-04-05 11:59] oleksandr-yefremov commented on #4027
Updates.
The second device we bought, which did not have an issue on Android 6.0, does not have it on Android 8.0/8.1 too.
The first device (initially affected) was already on Android 8.0 by the time we got it. Downgrading requires unlocking bootloader (as per official guide https://developers.google.com/android/images). Now the interesting part: running `fastboot flashing unlock` or `fastboot oem

[2018-04-05 12:02] arazabishov commented on #3438
@ojw28 and @andrewlewis, if it is possible to implement it in the context of the current architecture, where would you start?

[2018-04-05 12:43] komissarovdenis commented on #4064
@kadymuhammad I just read method's comment where they told about applying new params. And you should subscribe to listen changes

So, as a result I just keep params what I want to set and return them before applied

There's a java doc:

[2018-04-05 13:14] molocco commented on #3955
@erdemguven Did you manage to do any progress in that post to use the download manager? If, so, would you mind providing the link for it? (I looked around and couldn't find anything).

[2018-04-05 14:03] YukihiroMori-Bascule opened #4089 "DefaultTimeBar is not reacted on rotated view"
I use PlayerView on rotated FrameLayout by setRotation.
Other component (ex. play/pause button) are reacted by touch event. But DefaultTimeBar is not working.

How to work it on the rotated View ?

[2018-04-05 14:21] AquilesCanta commented on #4073
This is correct. We basically support the latest version, but also do out best to be backwards compatible. An example of this is `EXT-X-MEDIA-SEQUENCE`, which used to be optional, but later versions made it mandatory (if absent, 0 must be assumed). A best effort approach is used to support playlist without the tag.

Hopefully this confirms @andrewlewis's second point.

[2018-04-05 15:09] andrewlewis commented on #3438
@tonihei and I discussed this a bit. I think the conclusion was that it would be quite a lot of work and involve at least minor modifications in the player (or major modifications to do it in an elegant way). It would probably be possible to hack something together by adding support for multiple concurrent audio renderers, a custom `AudioProcessor` that can mix audio from two sources, a custom aud

[2018-04-05 16:19] DavidMihola commented on #4073
Great, thanks a lot for your replies! I think we'll just experiment with all the features that our current streaming server is supporting (which is only HLS version 3 or 4 anyway) and check back with you if we run into any troubles!

Thanks again!

[2018-04-05 16:35] #4073 closed, assigned to andrewlewis

[2018-04-05 17:27] AquilesCanta commented on #3435
As things are now, I think overriding MediaCodecVideoRenderer#supportsFormat is the most straightforward way.

Yes. The codec check should be more accurate than the previous (resolution+framerate) approach. Nonetheless, it's been reported in the past that devices under-report format support. While this is inconvenient, it is usually more desirable than trying to play an unsupported format, which m

[2018-04-05 17:33] AquilesCanta commented on #2014
Hi, as labeled, this is low priority for us. There are technical complications of having this implemented in the library (due to the variety of streams we need to support). Have you had a look at #2976? You could try implementing your own HlsExtractorFactory which builds a TsExtractor using MODE_SINGLE_PMT. As stated there, this is not officially supported, and you might run into issues if your st

[2018-04-05 18:35] andrewlewis commented on #4088
To get an accurate estimate of the rate at which frames are being rendered, you could subclass `MediaCodecVideoRenderer` and override `renderOutputBuffer` (used before API 21) and `renderOutputBufferV21` (used from API 21) and use the information passed in to do the calculation. If you want to take into account dropped frames you'd also need to override `dropOutputBuffer`.

[2018-04-05 18:41] andrewlewis commented on #4081
It looks like `FlacExtractor` decodes the stream to PCM audio, so it's not possible to use this in conjunction with the ffmpeg extension.

Do you have the option to put the FLAC audio stream in a Matroska container (for example) instead of a .flac file? Then you could remove the dependency on the flac extension and just depend on the ffmpeg extension.

[2018-04-05 18:43] andrewlewis commented on #2777
Addressed in #4061.

[2018-04-05 18:51] andrewlewis commented on #3962
Do you have steps to reproduce the issue or any other information that might help diagnosing it? There isn't much to go on (and the provided bug report doesn't seem to include the exception stack trace above).

[2018-04-06 00:15] derekw0311 commented on #4014
@AquilesCanta, just wanted to follow up with you on this issue, thanks!

[2018-04-06 03:22] AquilesCanta commented on #4014
I will do my best to look at this late next week. There are a few things I need to do with some urgency, first. Thanks for your patience!

[2018-04-06 11:17] RadhikaBalla opened #4090 "Recording live stream in mobile app using exoplayer"
Hello,

 Can I record live stream, store it in mobile sdcard and play it back afterwards when ever I want to play using exoplayer? If it is not possible with exoplayer, can you please suggest me the ways to accomplish that task.

[2018-04-06 11:22] andrewlewis commented on #4090
Seems to be the same request as #3877. We don't support this at the moment and I don't have any recommendations for alternatives I'm afraid. Please subscribe to that issue if you want to receive updates.

[2018-04-06 11:22] #4090 closed, assigned to andrewlewis

[2018-04-06 11:46] zarkooroz opened #4091 "Click event on SimpleExoPlayerView gets propagated trough [Chromebook]"
We are using ExoPlayer in Android app and it works as expected. The issue occurs when app is installed on Chromebook.
When clicking on video, event is propagated and in our case new video is started. Expected behaviour would be to show video controls as on standard Android devices.

SimpleExoPlayerView holder also has clickable parameter but that does not help either.
Did anyone had similar experi

[2018-04-06 13:44] Yadunath opened #4092 "Exoplayer ANR for m3u8 content which is not live"
I am facing ANR issue for m3u8 content (live).For live content it's playing properly,but if the video is not live then it's taking time and anr is happening.on video state is changing but video is not playing .
Attaching the log below.

"main" prio=5 tid=1 Waiting
  | group="main" sCount=1 dsCount=0 obj=0x755ba5c8 self=0xe7985400
  | sysTid=1430 nice=-10 cgrp=default sched=0/0 handle=0xea67f534

[2018-04-06 13:50] AquilesCanta commented on #4092
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

If you’re able to provide complete information as requested in the issue template,

[2018-04-06 13:50] #4092 closed, assigned to AquilesCanta

[2018-04-06 14:24] Royalone94 opened #4093 "Can't play 1920 * 1080 stream"
Before filing an issue:
-----------------------
- Search existing issues, including issues that are closed.
- Consult our FAQs, supported devices and supported formats pages. These can be
  found at https://google.github.io/ExoPlayer/.
- Rule out issues in your own code. A good way to do this is to try and
  reproduce the issue in the ExoPlayer demo app.
- This issue tracker is intended for bugs,

[2018-04-06 14:25] Royalone94 commented on #4093
http://ndasat.pro:8000/live/884199991/1593574628/122.ts

I can play this stream with VLC Player,IJK Player but can't play in Exo.
It took almost 5 minute to load and it don't play video(only sound can be heard).
I want urgent solution.

[2018-04-06 14:36] AquilesCanta commented on #4093
Please check the provided url is correct. At the moment, it is not retrieving a valid transport stream.

[2018-04-06 15:20] Gian84 opened #4094 "MediaDrmStateException in mediaDrm.openSession()"
### Issue description
I get a MediaDrmStateException in mediaDrm.openSession() when I try to reproduce a Playready content after to kill the power in Android TV box.
This issue happens not often, so it is not easy reproduce it.
For this reason, I would like just to know where can I find a documentation about the errors returned from getDiagnosticInfo() (https://developer.android.com/reference/andr

[2018-04-06 15:31] andrewlewis commented on #4069
Are you saying that the stream plays fine when it's served via VLC?

[2018-04-06 15:34] andrewlewis commented on #4094
Please could you provide a bug report captured with `adb bugreport` after reproducing the error?

Assigning to @wvpaf for now in case he can provide information on MediaCas exceptions. Thanks!

[2018-04-06 15:42] andrewlewis commented on #4074
#4062 probably addresses most of this: you should be able to use `CacheDataSource` for playback and a `Downloader` for downloading the media at the same time, as long the content gets split up into multiple files when cached. Please try that first and let us know if anything else comes up. Thanks!

[2018-04-06 15:42] #4074 closed, assigned to andrewlewis

[2018-04-06 16:04] andrewlewis commented on #3825
I couldn't diagnose this further based on the bug report. There aren't any obvious signs of a leak caused by the application.

As it seems to be device-specific, please report the issue to the device manufacturer. Thanks!

[2018-04-06 16:04] #3825 closed, assigned to AquilesCanta

[2018-04-06 16:15] andrewlewis commented on #4005
It looks like you're not using `ImaAdsLoader` (where IMA dictates exactly what ad should play when) but instead implementing your own `AdsLoader`, so:
- (1) should be possible. Although `ImaAdsLoader` marks ads before a resume position as played, custom implementations don't need to do that, and I think it would work just to leave them unplayed. You could just mark the one ad group before the init

[2018-04-06 16:26] derekw0311 commented on #4014
Not a problem, thanks for looking into this.

[2018-04-06 16:52] andrewlewis commented on #4086
It sounds like this was fixed in Lollipop, but it would be useful to see the manifest being parsed when the error is thrown, in case there's a stray "&" or something else that should be escaped. I guess "1:62" indicates character 62 on line one but that doesn't include anything suspicious in the given manifest, so could you double check that the provided manifest corresponds to the one being loade

[2018-04-06 17:20] Royalone94 commented on #4093
You can check with VLC windows player.

[2018-04-06 17:37] RamyaNag opened #4095 "ANR with exoplayer"
Before filing an issue:
-----------------------
- Search existing issues, including issues that are closed.
- Consult our FAQs, supported devices and supported formats pages. These can be
  found at https://google.github.io/ExoPlayer/.
- Rule out issues in your own code. A good way to do this is to try and
  reproduce the issue in the ExoPlayer demo app.
- This issue tracker is intended for bugs,

[2018-04-06 21:01] wemped opened #4096 "IndexOutOfBounds on setPlayWhenReady using IMA Extension"
### Issue description
I am receiving a significant amount of crash reports when doing `setPlayWhenReady(true)`. From the stacktrace it looks like it might have to do with the IMA Extension, but I've yet to be able to reproduce it locally.
I'm seeing this issue on all devices and android versions 5-8.

### Reproduction steps
Unable to reproduce it locally, but I can give my setup (Kotlin).
[code]

[2018-04-07 02:53] lion4509 commented on #4069
Yes, it’s fine via VLC.

[2018-04-07 07:45] png6 opened #4097 "PlaybackControlView visibility from PlayerView"
I tried to set my own ad markers via `DefaultTimebar.setAdGroupTimesMs()` and none were visible until I found this issue [3184](https://github.com/google/ExoPlayer/issues/3184). I was able to workaround the the issue by subclassing as recommended but I see commits where added to make `PlaybackControlView.setExtraAdGroupMarkers` available.

As of version 2.7.4 of the player, I've confirmed that tha

[2018-04-07 09:43] AlisaHevic opened #4098 "Low deinterlacing quality on Sony Bravia Android TV and Mi Box Android TV"
Application: TVirl (https://play.google.com/store/apps/details?id=by.stari4ek.tvirl)
Sony Bravia Android TV:
![sonyandroidtv](https://user-images.githubusercontent.com/30731697/38453451-9b8fde78-3a5e-11e8-9c7f-ec51a3c5dfee.png)
Xiaomi Mi Box 2016 [Android TV]:
![mibox](https://user-images.githubusercontent.com/30731697/38453441-7a2030da-3a5e-11e8-8bb5-eae5396165db.png)
With Nvidia Shield TV it's o

[2018-04-07 12:46] ojw28 commented on #4096
There have been a lot of robustness fixes to the IMA extension since `2.5.2`. It's pretty likely the issue is fixed in the latest release. Please update and file an issue if the problem persists. Thanks!

[2018-04-07 12:46] #4096 closed, assigned to andrewlewis

[2018-04-07 20:07] andrewlewis commented on #4096
This is similar to #3334 and was likely fixed in 2c10e6f1c3fd1692d8db3d16355648aab92e66f7.

[2018-04-07 22:40] aldocano opened #4099 "Audio goes in background when the exoplayer view is closed."
I am playing a list of videos in exoplayer and when i close the view the playlist audio still plays until the whole playlist is finished. The problem doesnt happen when i only play a single video.

What i have tried  till now is

                player.setPlayWhenReady(false);
                player.stop();
                player.seekTo(0);
                player.release();

[2018-04-08 02:34] tangmingscau commented on #4081
Finally, I confirmed that the problem was that the APK installation of the ffmpeg so library failed, so that ffmpeg did not work properly, but it was true that a FLAC music file could not be played through ffmpeg, but an ordinary AAC music could be played through ffmpeg.

[2018-04-08 07:36] #4081 closed, assigned to andrewlewis

[2018-04-08 15:42] #4075 closed, assigned to ojw28

[2018-04-08 15:42] ojw28 commented on #4075
Should be fixed in `dev-v2`.

[2018-04-08 15:43] #4084 closed, assigned to ojw28

[2018-04-08 19:03] andrewlewis commented on #4097
I don't think there's an easy way to get the controller at the moment. We should probably add a getter, or it may be preferable to add the equivalent methods to `PlayerView`. @marcbaechinger describes how to work around this limitation with a custom player view layout in a [Stack Overflow answer](https://stackoverflow.com/questions/49314638/how-to-show-ad-markers-in-exoplayer).

[2018-04-08 20:18] aldocano commented on #4099
Nevermind i solved it by adding

                player.clearVideoSurface();

Thank you.

[2018-04-08 21:51] aldocano commented on #4099
Still the issue exists i was wrong, when i tried in another device.

[2018-04-09 06:58] erdemguven commented on #4095
I can't find the link to test content in your email. Please send it again.

[2018-04-09 07:03] rajeshshetty opened #4100 "Documentation on DRM offline playback"

[2018-04-09 08:00] giladna opened #4101 "CryptoException: Operation not supported - DRM is not playable on Android GO device 8.1.0"
Hi,

In ExoPlayer Demo app we try to play WV: Secure SD content and we get the following exception:

One thing that I need to mention that this device finger print is as following:
[code]
What could  be the reason for this exception?

10x
Gilad
-------
[code]

[2018-04-09 09:18] AquilesCanta commented on #4093
I did get a TS now. Please see #1894 and related issues.

[2018-04-09 09:18] #4093 closed, assigned to AquilesCanta

[2018-04-09 09:30] andrewlewis commented on #4098
Please see #2013. ExoPlayer relies on the platform (and the device) for any postprocessing like deinterlacing.

[2018-04-09 09:30] #4098 closed, assigned to andrewlewis

[2018-04-09 10:28] #4088 closed, assigned to andrewlewis

[2018-04-09 10:30] andrewlewis commented on #3845
This should be fixed on `dev-v2`. Please try it out and let us know if you still have problems.

[2018-04-09 10:30] #3845 closed, assigned to andrewlewis

[2018-04-09 10:35] andrewlewis commented on #3841
The player position now advances more smoothly on various devices we've tested on. The large position jump after about 500 ms should be fixed, so I'll close this issue for now.

There may still be further opportunities to make the position advance more smoothly, especially at the point where we switch from `getPlaybackHeadPosition` to `getTimestamp`.

[2018-04-09 10:35] #3841 closed, assigned to andrewlewis

[2018-04-09 10:38] andrewlewis commented on #3911
It looks like some issues came up while preparing the release with the fix for this, unfortunately. It's still being worked on actively.

[2018-04-09 11:11] mmbahaa opened #4102 "Is BUFFER_FLAG_DECODE_ONLY officially supported by AndroidTV"
Hello,
In ExoPlayer this decoder flag BUFFER_FLAG_DECODE_ONLY is defined as (0x80000000).
1. Is this flag officially supported by Google?
2. Is there any policy to ensure that device manufacturers (especially AndroidTV) supports it?
3. Is it tested in any test suite (e.g. CTS, GTS)?

[2018-04-09 12:30] ojw28 commented on #3457
DASH IF guidelines v4.2 has been amended to prevent the type of manifest update described here. In 4.4.3.3:

Closing this. Thanks!

[2018-04-09 12:30] #3457 closed, assigned to ojw28

[2018-04-09 12:58] ojw28 commented on #4102
`BUFFER_FLAG_DECODE_ONLY` is specific to ExoPlayer and handled within the library. It's not fed to the underlying platform, and so there are no platform requirements.

[2018-04-09 12:58] #4102 closed, assigned to ojw28

[2018-04-09 13:09] Gian84 commented on #4094
[bugreport-NTK15-2018-04-06-17-04-41.zip](https://github.com/google/ExoPlayer/files/1889991/bugreport-NTK15-2018-04-06-17-04-41.zip)
I hope this is ok.

Thank so much!

[2018-04-09 13:11] ojw28 commented on #4078
It would be good if you could spend some more time root causing the issue. ExoPlayer calls into OkHttp are isolated to a single class, so it should be pretty easy for you to work out whether we're misusing the OkHttp API. If we're not misusing the API, which I suspect is the case, then it should be possible for you to create a simple reproduction case that calls OkHttp directly and does not depend

[2018-04-09 13:19] erseno commented on #3477
Hi Jedashford

The third party SDK I used recently updated to Exo Player 2.6.1 which resolved the issue for me. Check if that is the case for you is well?

Cheers

[2018-04-09 14:29] barhom opened #4103 "ExoPlayer - H264 file does not play"
### Version of ExoPlayer being used
2.7.1

Hello,

I tried the following mpegts file in ExoPlayer with no luck of playing it back:
https://myfile.org/h8E6c3ecbc/h264.ts

Please note that I have stripped the audio from the file to be sure that the problem is not related to audio.

I have tried two different decoders;

OMX.amlogic.avc.decoder.awesome
OMX.google.h264.decoder

I have also tried the fi

[2018-04-09 15:04] AquilesCanta commented on #4103
Please see #1894. Seems you need to enable FLAG_ALLOW_NON_IDR_KEYFRAMES in DefaultTsPayloadReaderFactory.

[2018-04-09 15:04] #4103 closed, assigned to AquilesCanta

[2018-04-09 15:28] bwalter opened #4104 "Philips TV (QM163E) crashes when switching surface"
We are using in our app multiple players and dynamically switch the surface. This behaviour makes ExoPlayer crash or produce an ANR on one specific Philips TV model (QM163E). We could not reproduce this behaviour on other Android devices (mobile and TVs), even not on other Philips TV models (MT5593FHT_EU, PH7M_EU_5596).

This has been confirmed using ExoPlayer versions 2.7.1, 2.7.0, 2.6.x, 2.5.x.

[2018-04-09 15:36] aarondib commented on #4088
@andrewlewis it's worked quite well. Thanks!

[2018-04-09 15:39] Qingkui9 commented on #4077
[bugreport-118.05.01.00-2018-04-09-11-17-11.zip](https://github.com/google/ExoPlayer/files/1890573/bugreport-118.05.01.00-2018-04-09-11-17-11.zip)

@wvpaf Hi, bug report is attached. Please take a look and let me know if you need anything else.

[2018-04-09 17:43] png6 commented on #4097
@andrewlewis Okay great, I wanted to make sure I wasn't missing something. Would you consider subclassing the `Timebar` suggesting in [3184](https://github.com/google/ExoPlayer/issues/3184) a sufficient workaround? It seems to be working and may be better than copying the layout.

[2018-04-09 19:40] ebr11 commented on #3845
Yes!  Appears fixed.

Thanks very much.

[2018-04-09 21:22] natez0r commented on #4078
[ExoplayerPlayground.zip](https://github.com/google/ExoPlayer/files/1891894/ExoplayerPlayground.zip)

I have attached a VERY rough test project that illustrates the issue. I was able to reproduce 100% by using a genymotion emulator and turning the network connection to GPRS so the timing of the `loader.cancelLoading` call would be while the OKHTTP client was performing a read from the network.

Th

[2018-04-10 07:50] andrewlewis commented on #4097
Sounds fine if you can get it to work. This issue will be updated automatically when the method is pushed to `dev-v2`, at which point it would probably preferable to switch to the use that (to avoid needing to maintain your subclass).

[2018-04-10 08:28] erdemguven commented on #4100
Unfortunately we don't have any tutorial for DRM offline playback. Please check OfflineLicenseHelper class. You can use it to download license. Once downloaded you should use:
`drmSessionManager.setMode(DefaultDrmSessionManager.MODE_PLAYBACK,              offlineLicenseKeySetId);`
to use the offlined license.

I'll update this issue, when there is a proper tutorial.

[2018-04-10 09:01] AquilesCanta commented on #4022
Hi @jhughes, did you manually flash the device to 7.0 (build = NDE63L)? Or did it only receive OTA updates?

[2018-04-10 09:20] YukihiroMori-Bascule commented on #4089
I tried to resume DefaultTimeBar.
Maybe, DefaultTimeBar#resolveRelativeTouchPosition has to consider view rotation.

Because, DefaultTimeBar#onTouchEvent is called by Touch Event. And, then I change some output value, DefaultTimeBar worked on rotated View.

But, it is very restrictive deal.
[code]

[2018-04-10 12:30] gevariya-ajit opened #4105 "Video renderer not getting called."
### Issue description
We build the datasource which provide buffer frames to draw into surface, but seems like our default `MediaCodecVideoRenderer` isn't working so had build our own to draw buffer on surface. but somehow our renderer isn't getting called or enabled by `ExoPlayerImplInternal`. My renderer is extending `BaseRenderer` and and trying to read buffer from `readSource` base renderer me

[2018-04-10 12:37] giladna commented on #3632
@ojw28
@erdemguven

Having a AES128 m3u8 stream where I get this exception on Exo 2.7.0 Demo app
(sending in mail with issue id)

This stream playes just fine in Exo 2.6.0  demo and in Safari
if I try to play the same stream not Encrypted it plays fine.
what do we miss?

Exception:
-----------

04-10 15:14:48.331 22911-23157/com.google.android.exoplayer2.demo I/ACodec: [OMX.google.aac.decoder] Now

[2018-04-10 13:20] KnIfER commented on #2677
I guess it's android's fault.
same issue on vlc-android when sdk=android5.6
https://trac.videolan.org/vlc/ticket/20253

[2018-04-10 13:28] erdemguven commented on #4099
Could you try the same playlist with the latest version of ExoPlayer Demo app, on different devices and let us know the result.

[2018-04-10 16:21] erdemguven commented on #4101
What's the model of the device? Does it play any other WV content?

[2018-04-10 16:25] jhughes commented on #4022
@AquilesCanta It's a phone from our device lab so I don't know its history. To the best of my knowledge it's only received OTA updates. I've reached out to my device lab manager, I'll update this with what he says.

[2018-04-10 16:41] gvidda opened #4106 "Last Cue in subtitle not considered when playing segmented subtitles"
### Issue description
When playing DASH with segmented TTML and the last Cue overlaps the subtitle segment, subtitles are "cleared" and doesn't show any new until the next subtitle segments first Cue occurs. This is very visible when TTML segments have the same length as video segments.

### Link to test content
Emailed test media link to dev.exoplayer@gmail.com.

### Version of ExoPlayer being us

[2018-04-10 17:20] kunaljathal opened #4107 "Grabbing synchronized audio samples"
Is it possible to grab _synchronized_ audio samples from a running ExoPlayer instance, without having to modify the source code?

Currently I'm getting the decoded audio samples inside of `processOutputBuffer` in `MediaCodecAudioRenderer`, but these don't seem to be in sync with the video.  Also this has required me to essentially write my own renderer (and subsequently my own `AudioSink`, since `

[2018-04-10 17:50] png6 commented on #4097
Yeah It seems to be working fine but I'd be nicer to work with `PlayerControlView.setExtraAdGroupMarkers` at some point. Are ad markers supposed to be automatically added or consumed thru the `TimeBar`? Seems off that we'd have to workaround to set ad markers.

[2018-04-10 17:56] andrewlewis commented on #4097
If the player's timeline contains periods with ads, those will be shown automatically in the `TimeBar`. `setExtraAdGroupMarkers` is intended for apps that want to handle showing ads separately from the player (e.g., by overlaying a banner). That method will be added to `PlayerView` soon to resolve the issue with visibility reported here, at which point it shouldn't be necessary to have a workaroun

[2018-04-10 18:11] ojw28 commented on #4106
If you have 5s segments and a subtitle is to be displayed from 3s -> 6s, my understanding is that the first segment should include the subtitle with start/end timestamps 3s -> 5s, and that the second segment should also include the same subtitle with start/end timestamps 5s -> 6s. In this case I don't think the subtitle will disappear.

Please clarify whether your content does this. Thanks!

[2018-04-10 19:08] png6 commented on #4097
Hmmm perhaps I'm missing something here with the ad markers. I'm requesting a DAI m3u8 stream (ads included in the stream) from the IMA SDK and am setting the markers afterwards. Based on what you're saying it should already be displaying ad markers? If so, are there specific steps in order for that to be enabled? Further, if ads are included in the stream is it possible to display only the conten

[2018-04-10 19:21] TheJohnBowers opened #4108 "Playback may pause on key rotation if license server returns 307 redirect."
### Issue description
Our license servers will almost always return a 307 redirect when a wv license is requested.  This seems to be handled appropriately at least some of the time or I suspect playback would not start at all, but after going through a  license changes / key rotation or two I see the following exception thrown:

04-10 12:22:04.813 15318 15318 E EventLogger: internalError [427.07,

[2018-04-10 20:09] jhughes commented on #4022
The device has not been flashed. To the best of our knowledge, it is stock and OTA updates only.

[2018-04-10 20:36] ojw28 commented on #4108
Please see [this FAQ](https://google.github.io/ExoPlayer/faqs.html#why-do-some-streams-fail-with-http-response-code-301-or-302). Your license servers appear to be specifying cross-protocol redirects, which aren't followed by default. With `allowCrossProtocolRedirects` set to true I was able to play through the whole test content.

[2018-04-10 21:48] gvidda commented on #4106
I'll have to investigate if it's possible to duplicate the last Cue/sample into the next segment when encoding our media.
Right now it doesn't do that. In your above example the first segment have 3s -> 6s and the next segment nothing in that timespan.

[2018-04-10 21:56] ojw28 commented on #4106
I'm pretty sure that's not the correct way to prepare media. Seeking cannot work properly when content is prepared as you describe, for example, because the player has no of knowing which previous segments might contain subtitles that are still supposed to be visible at the seek position. The player would have to download all segments up to the seek position to figure this out.

[2018-04-10 21:56] #4106 closed, assigned to ojw28

[2018-04-10 22:11] jt64 commented on #4094
Hi Gian84,

I think the error "error_neg_2003" maps to -2003 which is ERROR_DRM_SESSION_NOT_OPENED

Can you check if the bugreport you attached actually was taken immediately after the error occurred?  I only see one openSession call and it appears to have been successful.

04-06 17:04:36.344   227  2552 V PlayReadySessionManager: openSession << sessionID = PR0
04-06 17:04:36.346   227   227 V Pla

[2018-04-10 22:36] jt64 commented on #4027
There was an issue discovered on Nexus 5x where the eMMC could become corrupted which caused key loading to fail on those devices. Unfortunately this is not a recoverable situation and the only option as an app developer would be to force running in level 3 using MediaDrm.setsecurityLevel("L3"), this will allow playback but will typically not support HD, depending on the license policy settings.

[2018-04-10 22:40] fredgc commented on #4077
Unfortunately, there is a resource leak in the privacy mode code that results in the error "d2i_PKCS8_PRIV_KEY_INFO_bio returned NULL" when we try to load the service certificate.  The leak is related to thread local variables being created each time the plugin is loaded, and never released.

This has been fixed by using the new HAL interface for the plugin introduced inj Android Oreo,

The only w

[2018-04-10 22:40] #4077 closed, assigned to nobody

[2018-04-10 22:54] ojw28 commented on #4078
This looks a lot like https://github.com/square/okhttp/issues/3146 to me. Which is apparently fixed in 3.10.0, but given this issue, I'm not so sure. I'd suggest you try and further cut down and clean up your test project, then file an issue on OkHttp.

A few notes:
* I tried removing the interrupt in `Loader`, and I don't think your sample app is shutting down the executors, but the issue is stil

[2018-04-10 23:05] Qingkui9 commented on #4077
@fredgc Thank you for the response. Is it possible to restart the mediadrm service without rebooting the device?

[2018-04-10 23:15] fredgc commented on #4077
If the device is rooted, you can use adb to restart the service.  I don't know of another way.

[2018-04-10 23:34] #4055 closed, assigned to botaydotcom

[2018-04-10 23:34] #3820 closed, assigned to andrewlewis

[2018-04-11 00:35] TheJohnBowers commented on #4108
That is certainly not happening.  We are redirecting from an HTTPS URL to an HTTPS URL.  I was almost 100% certain of that, but to make sure I wasn't wrong I put a proxy between my android device and the world at large and captured all the widevine license requests.  I am attaching the capture from my proxy.  All the requests were from https://content.uplynk.com/wv to https://content-auso2.uplynk.

[2018-04-11 00:36] TheJohnBowers commented on #4108
[AllWVRequests.har.zip](https://github.com/google/ExoPlayer/files/1896854/AllWVRequests.har.zip)

[2018-04-11 00:39] TheJohnBowers commented on #4108
And the way we do redirects doesn't change ever.  We are always redirecting the same way.  Sometimes it works, and sometimes I get the com.google.android.exoplayer2.upstream.HttpDataSource$InvalidResponseCodeException: Response code: 307 error.  There is definitely something going on here.

[2018-04-11 00:59] ojw28 commented on #4108
It doesn't look like the redirect ever works.

[2018-04-11 01:11] ojw28 commented on #4108
It doesn't look like the redirect ever works, when there is one. Not every request is redirected though. I think I just got lucky in my previous test.

You're right that it's not a cross protocol redirect issue; sorry about that. It looks like the redirect isn't followed due to using 307 for a POST request. Some network stacks opt not to redirect in this case. For example in OkHttp3 [here](https:/

[2018-04-11 02:46] tangmingscau commented on #3751
I'm trying to support ape, and now I have a weird problem, naming ffmpeg has included ape format (the value of true at FfmpegLibrary.ffmpegHasDecoder ("ape"), but when executing ffmpegInitialize, the initialization fails, there is a failed Log, you can give some Do you give me an opinion?

[code]

[2018-04-11 05:52] andrewlewis commented on #3751
The relevant log line is `E/ffmpeg_jni: Error in avcodec_open2: Invalid argument`. I suggest looking through the code for that function in `libavcodec/utils.c` and perhaps adding some more logging to diagnose the cause of the failure.

[2018-04-11 06:30] tangmingscau commented on #4057
The source code location to the problem is the 181 line of http://androidxref.com/4.4.4_r1/xref/frameworks/av/media/libstagefright/codecs/raw/SoftRaw.cpp, because the maximum length of inputBuffer allowed by the system is 37268, while the music one frame data is 49152, and how I allow the system to allow the maximum length inputBuffer is 64K, then the music is It can be played normally. So when Ex

[2018-04-11 07:05] Marzookv opened #4109 "In new version exoplayer 2.7.3 error coming in ExtractorMediaSource.Factory"
[code]

[2018-04-11 07:07] giladna commented on #4101
@erdemguven

The model is Hewawi Android go new device which cant play WV modular
[code]

[code]

[2018-04-11 07:58] drayan85 opened #4110 "Cast Extension: HLS master.m3u8 not playing on ChromeCast"
### Issue description
When we try to cast the HLS streaming using 'master.m3u8' file not playing on ChromeCast Device

[code]

### Reproduction steps
In Cast demo app: DemoUtil.java
//App sample static block
``samples.add(new Sample("will provide the url via email", "Testing (HLS)", MIME_TYPE_HLS));``

### Link to test content
HLS file link has been sent via email

### Version of ExoPlayer being u

[2018-04-11 08:09] erdemguven commented on #4101
Is it Huawei Y5 Lite?

[2018-04-11 08:16] andrewlewis commented on #4107
During normal playback we synchronize video to the audio playout position, so I think the request here is to get a stream of PCM audio data that's synchronized with playout position of the underlying `AudioTrack` (but please correct me if I've misunderstood).

The platform `AudioTrack` keeps a buffer of data internally, which introduces latency, so it's not sufficient to output data at the moment

[2018-04-11 08:29] andrewlewis commented on #4097
Ad markers are shown automatically for playbacks using the [IMA extension](https://github.com/google/ExoPlayer/tree/release-v2/extensions/ima) for client-side ad insertion, but it sounds like you are playing an HLS stream that includes ads with the content. In that case the player won't distinguish between ads and content.

If you know where the ads are in the stream and how long they are you can

[2018-04-11 08:29] #4097 closed, assigned to andrewlewis

[2018-04-11 09:18] oleksandr-yefremov commented on #4027
Thanks for information. In our case relaxing L1 to L3 seems to be not possible from content contracts point of view.
Since this is obviously a flaw on manufacturer's side, are those device eligible for replacement/refund after guarantee expired? It seems to be the same as "bootloop" issue which got refunded. From what we have seen, every second device is affected (2 out of 4 we had in testing).

[2018-04-11 09:19] erdemguven commented on #4109
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

[2018-04-11 09:23] AquilesCanta commented on #4022
Hi @jhughes, we have tightened the check for CBC support to be API 25+. However, your phone will be a false positive case for this check, since it is not running a post MR1 version, which included the fix for this widevine bug. We have not agreed on how to prevent these devices from reporting support for AES-CBC, so the only suggestion I have for the time being is to update the device (anything 7.

[2018-04-11 09:23] #4022 closed, assigned to ojw28, AquilesCanta

[2018-04-11 09:37] oleksandr-yefremov commented on #3596
Our streaming team found out that we can work around this issue by changing color schemes and matrix.

Stream with following config did not work (`bt470bg` scheme, DRM):
[code]

Same stream but with scheme `bt709` works without issues (DRM)
[code]

We are transferring all our streams now, hopefully this change will not break on other devices.
Since there is no information about limitations on colo

[2018-04-11 09:37] AquilesCanta commented on #4110
Thanks for your report! [internal ref: b/64523754].

[2018-04-11 09:39] ojw28 commented on #4057
This issue is really confusing. The decoder with the issue in the initial report does not appear to be the decoder you're now referring to. Are there two issues that are being conflated here?

The issue you refer to in your most recent post is fixed in more recent versions of Android (definitely by Nougat, I'm less sure about Marshmallow).

[2018-04-11 09:43] erdemguven commented on #4109
Your code looks like have a mistake, please replace mediaSource line with:
`mediaSource = new ExtractorMediaSource.Factory(dataSourceFactory).setExtractorsFactory(extractorsFactory).createMediaSource(Uri.parse(streamurl));`

[2018-04-11 09:43] #4109 closed, assigned to erdemguven

[2018-04-11 11:29] prat-z commented on #3498
@tonihei @ojw28 Will the reuse of MediaSource enable a MediaSource object to be shared between more than one players, like one player in a list and one full screen, playing the same media  ?
And, when will this change be available on the release branch?

[2018-04-11 11:55] nenjack opened #4111 "ExoPlayer 2.7.0 doesnt allow volume change on surround playback source"
### Issue description
ExoPlayer 2.7.0 doesnt allow volume change on surround playback source

### Reproduction steps
1. Download Demo App
2. Replace `media.exolist.json` contents with
[code]

### Link to test content
http://distribution.bbb3d.renderfarming.net/video/mp4/bbb_sunflower_2160p_60fps_normal.mp4

### Version of ExoPlayer being used
2.7.0

### Device(s) and version(s) of Android being us

[2018-04-11 12:18] tonihei commented on #3498
@prat-z Sorry, this will be the only restriction. Using the same media source simultaneously from multiple players would require us to synchronize the access to the source which we currently avoid by using it from one player at a time only. However, creating a media source isn't that cost-intensive and this is really mostly a convenience feature. So you wouldn't save much by avoiding to create a n

[2018-04-11 13:58] ojw28 commented on #4071
I suspect the media is bad -> @botaydotcom to take a look, since this is likely under extractors.

[2018-04-11 15:41] ojw28 commented on #3769
@botaydotcom - This looks extractor related (probably just need to add support for the extra sample rate).

[2018-04-11 17:03] zsmatyas commented on #4111
Did this work with any other exoplayer versions?

I would expect any encoded content not having the notion of volume unless it is decoded. So for example, if you play Dolby audio, your device is set to pass-through and the sink is decoding it only, then you have no way to influence the volume on the device. Only the sink is interpreting the audio data.

There are a few platforms that can decode, c

[2018-04-11 17:23] TheJohnBowers commented on #4108
So I am slightly confused..... Is returning a 302 required and handled differently for post?  According to rfc 2616 " If the 302 status code is received in response to a request other
   than GET or HEAD, the user agent MUST NOT automatically redirect the
   request unless it can be confirmed by the user, since this might
   change the conditions under which the request was issued."  -- So on face

[2018-04-11 18:04] andrewlewis commented on #4111
Closing on the assumption this is using passthrough, given the logging from `AudioSPDIF` in the provided bug report.

[2018-04-11 18:04] #4111 closed, assigned to andrewlewis

[2018-04-11 18:26] natez0r commented on #4078
I think this is actually caused by: https://github.com/square/okhttp/issues/3915

[2018-04-11 18:34] TheJohnBowers commented on #4108
Testing locally changing our redirect to a 302 doesn't fix ExoPlayer, but it does break every other client I have tested.  The 302 redirect changes the operation from a POST to a GET on the wv license request.  This happens with ExoPlayer and shaka player.  The verb cannot be changed obviously or it won't work.  Testing with shaka a 307 doesn't change the verb and we get a good re-direct.  This st

[2018-04-11 19:48] kunaljathal commented on #4107
Okay, gotcha. A couple of preliminary clarifications:

I'm creating an instance of `SimpleExoPlayer` via `ExoPlayerFactory.newSimpleInstance`, so I'm assuming I can do what you're describing by simply overriding `DefaultRenderersFactory.buildAudioProcessors` (in the renderers factory that I pass to the constructor of `ExoPlayerFactory.newSimpleInstance`) with my custom `AudioProcessor`, right? Bec

[2018-04-11 19:53] andrewlewis commented on #4107
You need to instantiate the `DefaultAudioSink` yourself so that you can provide a reference to it to your custom audio processor. This means you need to instantiate the `MediaCodecAudioRenderer` yourself, passing in the sink. Overriding `buildAudioRenderers` from `DefaultRenderersFactory` is a good way to do that.

[2018-04-11 22:55] ojw28 commented on #4108
In theory yes. However in practice most implementations treat 302 as 303, which doesn't have the "MUST NOT automatically redirect" clause.

It's probably correct that a network stack doesn't automatically redirect the request, as per the RFC. However our code probably counts as "the user", and so we should probably confirm the redirect and follow it. So I think you're right, and am marking this is

[2018-04-12 01:51] anon-48372 opened #4112 "Android build failing at aapt2 step."
### Issue description
When building `Exoplayer` using the downloaded `.aar`, there isn't a `res` file `exoplayer-dash-2.7.3.aar`,  `exoplayer-hls-2.7.3.aar`, `exoplayer-core-2.7.3.aar`. Other files are missing too (`public.txt`), but bottom line is I don't see it match up with https://developer.android.com/studio/projects/android-library.html#aar-contents .
This is causing
[code]

### Reproduction

[2018-04-12 01:59] tangmingscau commented on #4057
The first thing to confirm is to use OMX.google.raw.decoder, because flacExtractor is to output a PCM flow to play the Android system. Maybe this native crash error Log output is problematic, showing gle.raw.decoder. This is not related to the Android version of the system. I checked the data. It looks like the latest version of Android system inputbuffer is also 32K. So in this case, either do no

[2018-04-12 02:02] tangmingscau commented on #4057
But the occurrence of crash is a disastrous consequence for app, so I suggest Exoplayer to judge the system inputbuffer.

[2018-04-12 03:02] YukihiroMori-Bascule commented on #4089
I resolved it!
So, we have to consider rotation, and resume position.
[code]

[2018-04-12 03:03] YukihiroMori-Bascule commented on #4089
I resolved it!
So, we have to consider rotation, and resume position.
[code]

[2018-04-12 03:03] #4089 closed, assigned to andrewlewis

[2018-04-12 04:52] mvescovo commented on #55
@tresvecesseis
I tried RTSP from the "tresvecesseis:dev-v2-rtsp" branch. It works but I'm experiencing a 2-3 second delay. Is this normal or is there a way to eliminate this? Thanks.

FYI, using VXG only has about 1 second delay or less for the same IP cameras. Is this possible? We have issues with VXG and want to move to Exoplayer.

[2018-04-12 05:09] prat-z commented on #3498
@tonihei The problem with creating a new media source is that I am using HLSMediaSource, and creating a new data source means loosing out on the downloaded bytes of the same video, and a buffering state while switching to and from full screen mode.

[2018-04-12 05:37] abhi1995soni opened #4113 "Device get hangs after playing few videos in exoplayer. It is an android device."
Before filing an issue:
-----------------------
- Search existing issues, including issues that are closed.
- Consult our FAQs, supported devices and supported formats pages. These can be
  found at https://google.github.io/ExoPlayer/.
- Rule out issues in your own code. A good way to do this is to try and
  reproduce the issue in the ExoPlayer demo app.
- This issue tracker is intended for bugs,

[2018-04-12 06:58] tresvecesseis commented on #55
It could be the buffer size, exoplayer uses a 2500ms buffer by default that
in case of isochronous live sources makes the video not start until 2500 ms
has passed but you could adjust this buffer to your liking

On Thu, Apr 12, 2018 at 6:53 AM, Michael Vescovo <notifications@github.com>
wrote:

[2018-04-12 07:28] lion4509 commented on #4069
Is there any updates?

[2018-04-12 07:37] andrewlewis commented on #4069
It seems likely that the problem is with IPStreamer, not ExoPlayer.

[2018-04-12 08:04] ojw28 commented on #4112
It looks like the Android Gradle Plugin version 3.1.0 does not include these files, and so you're going to see this issue for many libraries being released from this point onward. Either the Android Gradle Plugin needs fixing, or Buck needs fixing to handle the possibility that the files might not be present, or both. The issue is being tracked on both sides already:

issuetracker.google.com/issue

[2018-04-12 08:34] tonihei commented on #3498
@prat-z Reusing media source wouldn't solve that I'm afraid. To keep the buffered video data when switching to and from full screen mode, you need to make sure to keep the same player instance. Please have a look around our issue tracker for fullscreen related issues. There are also various suggestions on the web how to implement fullscreen switching with ExoPlayer. Because of the different behavi

[2018-04-12 08:51] lion4509 commented on #4069
Even with VLC player, buffering state is frequent. There are also occasions that only audio works but not video. (renderedOutputBufferCount for video is stopped / renderedOutputBufferCount for audio is increasing)

What about the source code that I wrote before? Is there any point to edit for playing UDP stream?

[2018-04-12 09:50] MajDroid opened #4114 "IMA Extension Memory Leak"
### Issue description
Using IMA Extension and in the sample main demo app, a memory leak happens when you serve a VMAP and quit the player activity during content playback and after ad/pods playback.

In my opinion, it's an IMA problem and managed to reproduce the issue even without an IMA Extension and following exactly their integration guide but according to them they're claiming it's an IMA-Ex

[2018-04-12 11:40] mvescovo commented on #55
Great thanks! Hopefully I'll get a chance to try this tomorrow.

[2018-04-12 12:30] jschamburger opened #4115 "DecoderInitializationException for DRM content if SurfaceView is GONE"
### Issue description
We updated ExoPlayer from 2.4.2 to 2.7.3 and had a lot of trouble on several devices since the ExoPlayer crashed when trying to start a DRM-protected MPEG-Dash stream.

The issue is related to changing the player's SurfaceView visibility - you might recall another issue we had related to that: https://github.com/google/ExoPlayer/issues/3724

We are aware that it is not a grea

[2018-04-12 13:49] giladna commented on #4101
@erdemguven
@wvpaf

this device can play drm on ExoPlayer 2.6.0 so seems some logic is broken now.

Sending the device details in mail
this is new device.

[2018-04-12 13:52] Sybergoth opened #4116 "Play a part of MediaSource"
### Description
In our application we have a heavy usage of video files (Local) which need to be played from a certain start point to a certain end point that are known in advance.

The way we achieve it now with Media Player is by preparing each video file when it should be played, seek to the start point and run an handler which is set to run for a duration of (endTime - startTime).

We're migra

[2018-04-12 14:01] giladna commented on #3846
@alexkombo

try installing Kaltura Device Info from play store

you can do there provisioning action that may fix it (else need to do factory reset :( )

and you can also see in the report if it helped or you still getting Exception

[2018-04-12 15:40] TheJohnBowers commented on #4108
I wouldn't be surprised if many implementations didn't use a redirect on an initial license request.  Our architecture requires use to be able to redirect to one of many load balancing zones however, and the best way for us to do this is to return a redirect the zone where our internal session data was created when the manifest requested.   We have tried a few different ways to handle this, but a

[2018-04-12 16:11] SergiiGudym opened #4117 "question youtube"
i have similar question like https://stackoverflow.com/questions/48543667/how-to-generate-or-obtain-youtube-dash-link-for-exoplayer

In sample you use dash. And now I can't found any solution how get dash link.

Do you have any versions, which use direct link "...get_video_info?&video_id=..." ?

[2018-04-12 17:45] anon-48372 commented on #4112
It definitely looks like Android Gradle Plugin is the root cause here, given that a lot of libraries use it to create their .aars and they changed the behavior such that it now doesn't follow the spec.
Is there a precedent where an ad hoc build is generated with an empty `/res` directory (and following the rest of the `.aar` format) that could instantly solve this situation?

[2018-04-12 19:16] ojw28 commented on #4108
Yes.

The good news is that I think it's easy for you to work around this in app code, until an official fix lands. I think you're probably instantiating an `HttpMediaDrmCallback` instance in app code, which is used to make the post requests. Replace that with an instance of your own `MediaDrmCallback` class that follows the redirects, and that should solve your issue. To create such a class you c

[2018-04-12 19:20] Joseph82 opened #4118 "Slow down video playback (x0.5)"
I have seen that recently has been introduced the speed-up feature for speeding up the playback of the media.

As remarked [here](https://github.com/google/ExoPlayer/blob/release-v2/library/core/src/main/java/com/google/android/exoplayer2/PlaybackParameters.java#L48) it is only possible to increase the playback speed, and not to change arbitrary the speed.

I  was wondering if there is still a way

[2018-04-12 19:51] andrewlewis commented on #4118
Passing a speed between zero and one gives slowed down playback. One is realtime playback.

[2018-04-12 19:51] #4118 closed, assigned to andrewlewis

[2018-04-12 19:55] Joseph82 commented on #4118
You cannot pass a value between 0 and 1.

as per the speed parameter passed in the constructor [`PlaybackParameter` ](https://github.com/google/ExoPlayer/blob/release-v2/library/core/src/main/java/com/google/android/exoplayer2/PlaybackParameters.java#L48):

[2018-04-12 20:13] andrewlewis commented on #4118
You can pass 0.5 (which is greater than zero) to play at half speed, for example.

[2018-04-12 20:18] Joseph82 commented on #4118
oh God, sorry! I was probably drunk!

[2018-04-12 20:46] ojw28 commented on #4112
I do not understand what this means. Please clarify. Thanks!

[2018-04-12 20:52] anon-48372 commented on #4112
Could you give me a build of exoplayer 2.7.3 that is valid `.aar` format (now)?

[2018-04-12 21:36] ojw28 commented on #4112
You could do this yourself, I think. From https://github.com/google/ExoPlayer/tree/r2.7.3, or possibly by obtaining the current `.aar`s and modifying them.

[2018-04-12 21:46] giladna opened #4119 "demo-ima - video will restart after resuming from background"
Hi @andrewlewis,

in v2.7.3
Using the following adtag which contains midroll/postroll

  <string name="ad_tag_url"><![CDATA[https://pubads.g.doubleclick.net/gampad/ads?sz=640x480&iu=/124319096/external/ad_rule_samples&ciu_szs=300x250&ad_rule=1&impl=s&gdfp_req=1&env=vp&output=vmap&unviewed_position_start=1&cust_params=deployment%3Ddevsite%26sample_ar%3Dpremidpostpodbumper&cmsid=496&vid=short_onecue

[2018-04-12 23:14] mvescovo commented on #55
It works! only ~2ms difference between VXG which is negligible. As far as I can tell looking at it it's the same. For anyone else new to Exoplayer I had to create a LoadControl and pass it in when the "SimpleExoPlayer" is created. I set all the values to 0.

[2018-04-13 00:05] lion4509 commented on #4069
And I tested this code on Nexus player.
The result is the same as before.

[2018-04-13 00:11] eneim commented on #4116
@Sybergoth have not actually tried yet, but there is ``ClippingMediaSource`` where you feed it with an actual ``MediaSource``, along with ``startUs``, ``endUs`` so it sounds to fit your requirement. I'm seeing it in 2.7.3, but it was there in 2.6.1 I guess.

[2018-04-13 00:23] mvescovo commented on #55
@tresvecesseis one other quick one. If I run the demo app and leave it running the feed eventually freezes. It seems like it's paused but I can't press play. Only pressing back and going into the activity again will make it work. To give an estimate of how long I'm running it, I just did it twice and the first time it took around 8 minutes to freeze and the second time around 12 minutes. Is this a

[2018-04-13 03:32] guptamitesh commented on #55
@tresvecesseis Does the code support "TCP interleaved playback" I tries using the your dev branch to play rtsp I had to modify some code to make it work, but was getting socket timeout exception.
My setup call looked something like this:
SETUP rtsp://example.com/media.mp4 RTSP/1.0
CSeq: 3
Transport: RTP/AVP/TCP;interleaved=0-1

[2018-04-13 05:42] Veeyikpong opened #4120 "IMA Ad Load error when no connectivity"
Hi,
i've tried to implement ExoPlayer and it worked fine in every aspect. Very good player.
However, when i try to turn off my internet connection (while playing content), and when it try to load the next IMA ad, i can't catch the ad load error. I've tried using IMAAdsLoader.getAdsloader method to override the adsloader but still unable to catch the error and resume my content.

Below are some of

[2018-04-13 08:06] portizb commented on #55
@mvescovo At the moment the rtsp library does not support retries when it detects failure in the communication.

[2018-04-13 08:24] portizb commented on #55
@guptamitesh "TCP interleaved playback" is not supported. The current design only supports TCP for the control channel and UDP for each data channel. In RTSP interleaved mode the control and data channel is the same. So the RTSP client is waiting to receive the data through the UDP channel and for this reason the timeout exception occurs.

[2018-04-13 08:44] pokuri3 opened #4121 "ExoplayerImpl.java getDuration() returing differnt value but not the mediaPresentationDuration value incase of SegmentTmeline mpds."
I am trying to test the clear DASH content in the exoplayer2 sample app and corresponding mpd file url is http://demo.unified-streaming.com/video/ateam/ateam.ism/ateam.mpd .

As per the above mpd file, the content duration is (mediaPresentationDuration="PT1M41.568367S") 101568000 micro sec. So when ever i request for the get exoplayerImpl.getDuration() i am expecting the same to show progress seek

[2018-04-13 08:48] luckylook opened #4122 "exoPlayer how can i use for encrypted url widevine dash"
i have licesnce and url manifest mpd video
I do not understand where I should insert the url to get streaming dcrypted key
please help
thx

[2018-04-13 09:40] jarrodoxical opened #4123 "MIBOX3 only displays first frame of video playback."
MIBOX3 (OMX.AMLOGIC.AVC.DECODER.AWESOME) only displays first frame of video playback.

### Issue description
On MIBOX3 using hardware codec OMX.AMLOGIC.AVC.DECODER.AWESOME fails to play ts video properly.

### Reproduction steps
Initialise SimpleExoPlayer
Prepare MediaSource
playing audio with first video frame remaining still or black screen (with no indication of errors in console)

### Link to

[2018-04-13 09:59] FirdousNath commented on #3953
[code]

[2018-04-13 10:01] FirdousNath commented on #3953
It seems its not a device specific problem but a bug somewhere in Exoplayer, other device also encounter such similar problem and not a single video is being played whereas all the videos are working fine in other device and emulator as well

[2018-04-13 10:11] FirdousNath opened #4124 "Cannot play .mp4 videos"
[this is same as #3953 ](https://github.com/google/ExoPlayer/issues/3953)

[code]

[2018-04-13 10:26] miseri commented on #55
Hi @portizb

Just looking through the code and just want to confirm that RTCP is not implemented?

[2018-04-13 10:38] mvescovo commented on #55
@portizb as long as I can detect a failure and restart myself that's fine (I haven't tried yet but I'm assuming I can). That's what we're doing with our current implementation. Thanks. By the way great job guys. It seems to work well for what I've tested so far. I'm so appreciative that you have made this contribution. A lot of people will benefit now.

[2018-04-13 10:47] portizb commented on #55
@miseri It is true. RTCP isn't implemented but the RTP module that we have created could have RTCP in the future and in that way, RTSP could support it.

[2018-04-13 10:50] Sybergoth commented on #4116
@eneim  Thanks, exactly what I was looking for.

[2018-04-13 10:50] #4116 closed, assigned to nobody

[2018-04-13 11:08] portizb commented on #55
@mvescovo In principle, your application or activity can be notified through the Player.EventListener interface when an playback error occurs. Thanks for your feedback, we are happy to have been able to contribute with our grain of sand. ;)

[2018-04-13 18:40] ojw28 commented on #4057
The problem isn't that the input buffer is only 32K. I took a more detailed look at `logcat.txt` attached further up, and it indicates the input buffer is sized correctly at 49K. The problem is that the output buffer is only 32K, where-as it needs to be the same size as the input buffer:

[code]

This issue was fixed in Android N, in [this change](https://android.googlesource.com/platform/framewor

[2018-04-13 20:07] erdemguven commented on #4105
Please provide a full bug report using "adb bugreport".

[2018-04-13 20:09] erdemguven commented on #4113
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

If you’re able to provide complete information as requested in the issue template,

[2018-04-13 20:09] #4113 closed, assigned to erdemguven

[2018-04-13 22:57] anon-48372 commented on #4112
Cool. Thanks!

[2018-04-14 00:46] kunaljathal commented on #4107
Okay, gotcha. I think my final clarification is the following:

Does this imply that the buffer of data I'm getting in the `queueInput` call contains audio data, _a portion of which has already been played out_? Because, if I'm understanding correctly, what you're saying is that I can discard this portion, and collect the samples after it, which are representative of the samples that are about to

[2018-04-14 15:21] mkaflowski commented on #4049
Ok, I found the culprit:
[code]
When I connect to chroemcast I get current window index 0. If you change 0 in this method to -1 you can see if it is real window index or no media session info. I have been thinking that player skip to tack 0 all the time.

[2018-04-15 08:27] luckylook opened #4125 "can't play dash protected widevine video in exoplayer get Error"
hi
i am trying to play protected video and i get exoPlaybackException idunno why
i have the license i passed it HttpMediaDrmCallback to my DefaultDrmSessionManager

[code]
use 2.7.3 exoplayer version
one plus 5t  - O

[2018-04-15 18:43] Peter59403 commented on #4027
I finally went for a full factory reset, but as @oleksandr-yefremov mentioned this does not fix the issue. But I found out the cause is indeed the repair of the phone by LG. If the motherboard has been replaced, the bootloader says 'Secure boot (NO RPMB)'. The 'NO RPMB' means the Replay Protected Memory Block does not exists, which is needed to replay DRM content on the Nexus 5X.

I will send my d

[2018-04-15 20:39] erdemguven commented on #4117
Sorry, ExoPlayer doesn't provide this functionality.

[2018-04-15 20:39] #4117 closed, assigned to erdemguven

[2018-04-15 20:49] erdemguven commented on #4122
Please loot at https://github.com/google/ExoPlayer/blob/release-v2/demos/main/src/main/java/com/google/android/exoplayer2/demo/PlayerActivity.java
and see how the value passed by DRM_LICENSE_URL is used.

[2018-04-15 20:49] #4122 closed, assigned to erdemguven

[2018-04-15 20:58] mhr78 commented on #3750
+1 to have it. I'm also a dev of a major media corporation and we really need this asap.
This is impacting our side

[2018-04-15 20:59] mhr78 commented on #3750
@andrewlewis any updates from your team on this?

[2018-04-15 21:01] erdemguven commented on #4124
Please add any new information to the original issue instead of opening new issues.

[2018-04-15 21:01] #4124 closed, assigned to erdemguven

[2018-04-16 05:15] drayan85 commented on #4110
Any updates @AquilesCanta ?

[2018-04-16 06:10] Nuynuy opened #4126 "Nuynuy"
Before filing an issue:
-----------------------
- Search existing issues, including issues that are closed.
- Consult our FAQs, supported devices and supported formats pages. These can be
  found at https://google.github.io/ExoPlayer/.
- Rule out issues in your own code. A good way to do this is to try and
  reproduce the issue in the ExoPlayer demo app.
- This issue tracker is intended for bugs,

[2018-04-16 08:36] onecoders opened #4127 "Do not work on Meizu(Android 7.1),the log info is shown below"
Do not work on Meizu(Android 7.1),the log info is shown below
![99e227075ff366b7da1bdda15934cc43](https://user-images.githubusercontent.com/3477738/38798454-3c96e168-4194-11e8-8d03-bdc8b8c52b37.png)

[2018-04-16 08:55] botaydotcom commented on #4126
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

[2018-04-16 08:55] #4126 closed

[2018-04-16 09:00] botaydotcom commented on #4127
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

[2018-04-16 09:00] #4127 closed, assigned to nobody

[2018-04-16 09:24] Nuynuy opened #4128 "Nuynuy"
Before filing an issue:
-----------------------
- Search existing issues, including issues that are closed.
- Consult our FAQs, supported devices and supported formats pages. These can be
  found at https://google.github.io/ExoPlayer/.
- Rule out issues in your own code. A good way to do this is to try and
  reproduce the issue in the ExoPlayer demo app.
- This issue tracker is intended for bugs,

[2018-04-16 09:41] Nuynuy commented on #4128
https://github.com/google/ExoPlayer/issues/4128

[2018-04-16 09:56] erdemguven commented on #4105
It sounds like an implementation bug on your side. Sorry, we can't say much without seeing your code.

[2018-04-16 09:56] #4105 closed, assigned to erdemguven

[2018-04-16 09:57] luckylook commented on #4122
i did it because of that i ask what wrong i have my license and my video
uri

"name": "zion 2",
"uri": "my video manifest dash file",
"drm_license_url": "my license",
"drm_scheme": "widevine",

in this situation i get this error

 playerFailed [5.89]

        com.google.android.exoplayer2.ExoPlaybackException

            at com.google.android.exoplayer2.mediacodec.MediaCodecRenderer.shouldWaitFor

[2018-04-16 10:00] ojw28 commented on #4122
This is tracked by #4125

[2018-04-16 10:06] luckylook commented on #4122
what info do u need?

[2018-04-16 10:10] ojw28 commented on #4108
This is fixed in `dev-v2`. You can also work around it using existing versions, as described above.

[2018-04-16 10:10] #4108 closed, assigned to ojw28

[2018-04-16 10:10] #4104 closed, assigned to erdemguven

[2018-04-16 10:17] AquilesCanta commented on #4110
Hi @drayan85, sorry for the delay. Just now have I received an update from the cast team. Mp4 segment support is under development on their side, so there is not much we cannot do about it. I just wanted to confirm the format of the segments, but seems that the segments have been removed from the server.

[2018-04-16 10:38] luckylook commented on #4122
dear ojw28,

i am having an issue playing my encrypted url widevine stream.
right now i am getting only the time length of the video and able to play
it without any view or sound, and no exceptions.
can you please tell me what else do i need to build in order to play it
properly? or for that matter, have you encountered with this problem in the
past?

thank you for all your help

liri or
head of o

[2018-04-16 10:40] ojw28 commented on #4122
Please wait for an update on #4125. Thanks.

[2018-04-16 10:43] #4128 closed

[2018-04-16 10:48] drayan85 commented on #4110
@AquilesCanta Thanks, Still the link which I have sent via email is working on my end (On Safari Browser I can play the HLS file using their inbuilt HLS player). I have resent the email again with One more our hosted HLS file URL and hosted URL has h264 segment which is also not working in ChromeCast.

[2018-04-16 10:58] AquilesCanta commented on #4110
Thanks for the streams. They are indeed transport streams. I will post any findings here. Thanks for your patience.

[2018-04-16 11:02] andrewlewis commented on #4107
The audio data just passed to `queueInput` has not been played out yet, as the `AudioTrack` is 'downstream' from the chain of audio processors. The audio data you've already buffered on previous invocations of `queueInput` may have been played out, though. The idea is to use `getCurrentPositionUs` to determine how many bytes of the input have been played out so far, which corresponds to a position

[2018-04-16 11:12] ojw28 commented on #4125
The license server is responding with an [http 415 error](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/415). You'll need to work out why your license server is doing this, and resolve it.

[2018-04-16 11:23] luckylook commented on #4125
thank you for your quick respond :)
just to make sure, we do see the cleared url from the server. just the
encrypted widevine url is playing but is not showing the view or sound.
do you still think the problem is in the server?

2018-04-16 14:12 GMT+03:00 ojw28 <notifications@github.com>:

[2018-04-16 11:27] Milananas commented on #4110
We are experiencing the same issues on our platform with HLS packaged mp4 streams with JWPlayer, as described in [this](https://github.com/jwplayer/jwplayer/issues/2815) issue. Strangely casting to Chromecast does work with Shaka-Player.

[2018-04-16 12:06] AquilesCanta commented on #4110
With HLS+mp4 segments? According to the cast team, this is under development.

[2018-04-16 12:26] ojw28 commented on #4125
I don't understand what this means. The log above indicates a http 415 error. You haven't provided any reproduction steps or a clear description of the problem, beyond what's in the log, and so we are unable to assist further.

[2018-04-16 12:33] andrewlewis commented on #3750
We don't have any updates yet I'm afraid. The recommended approach for now is for apps to change the player's source each time a playlist items finishes playing. #3636 describes how to pre-load ads, which may help reduce the delay when starting to play a new playlist item.

[2018-04-16 12:35] DutchChannels commented on #4110
Yes, hghazzi mentioned in that thread that it works because the Shaka-Player uses a custom receiver.

[2018-04-16 12:36] Milananas commented on #4110
Yes, hghazzi mentioned in that thread that it works because the Shaka-Player uses a custom receiver.

[2018-04-16 12:39] ojw28 commented on #4121
We calculate the actual duration for which media is provided, for all representations. Which in this case is shorter than the duration specified at the top level in the DASH manifest. For nicely produced content we'd expect the actual durations to match the top level duration in the manifest.

Note that there's a proposal to advise against "short representations" in DASH IOP. See https://github.co

[2018-04-16 12:40] AquilesCanta commented on #4110
We might see if casting to the shaka receiver app is an option for our own demo app.

[2018-04-16 12:54] Airforce327 opened #4129 "How to a delete a offline license ?"
I use OfflineLicenseHelper to download the offline license, I store the offlineKeySetId in a local file . it works fine.  Now i want to delete the offline video  , I delete my local file which stores the keySetId.   Should  I have to do anything else to remove the license ?   And how can I do it ?

[2018-04-16 13:01] mkaflowski opened #4130 "[CastPlayer] Detecting media source ended"
How to detect that media has finished for CastPlayer? For Exoplayer there is state STATE_ENDED but CastPlayer goes into STATE_IDLE. The STATE_IDLE occurs when I connect to Chromecast device so I cannot use it as well.

[2018-04-16 13:07] AquilesCanta commented on #4130
Would it be not possible for you to track changes from READY to IDLE? Session state needs to be tracked separately, though.

[2018-04-16 13:17] roundsmapp commented on #2659
@andrewlewis , good morning! What's the maximum number of outputChannels allowed? 8?

[2018-04-16 13:21] andrewlewis commented on #2659
Yes. See [DefaultAudioSink](https://github.com/google/ExoPlayer/blob/91c4490/library/core/src/main/java/com/google/android/exoplayer2/audio/DefaultAudioSink.java#L396).

[2018-04-16 13:33] roundsmapp commented on #2659
OK, Thank you.

[2018-04-16 13:37] giladna commented on #4101
@erdemguven
any update about this?

10x

[2018-04-16 13:42] mkaflowski commented on #4130
The player is READY when I cast, when I stop casting and return to casting it goes to IDLE and then to READY so I would get the recognize it as complete then as well. Is that normal behaviour that it goes to IDLE during connecting to Chromecast or I messed up something?

[2018-04-16 13:44] giladna commented on #3632
@ojw28
Could you please give a look why this fixed broke the HLS AES behaviour?

10x
Gilad.

[2018-04-16 13:47] luckylook commented on #4125
forget about the log above
Our ExoPlayer plays cleared url stream perfectly. but if it is with
widevine encrypted then it shows a black screen and no sound.

we have already tried the ExoPlayer example, and bunch of other tries with
no luck.

have you encounter with this problem?

2018-04-16 15:26 GMT+03:00 ojw28 <notifications@github.com>:

[2018-04-16 14:00] ojw28 commented on #4125
Nope!

[2018-04-16 14:18] AquilesCanta commented on #4130
It is normal. This has generated internal discussions, actually. When Cast ends playing a media queue, it empties it. In Player terms, this means the timeline gets emptied. Now, transitioning to ENDED state makes sense. It is documented as follows:

`The player has finished playing the media.`

However, transitioning to IDLE state also makes sense due to the behavior described above:

`The player

[2018-04-16 14:32] mkaflowski commented on #4130
By stoping casting I mean tapping MediaRouteButton and tap the button "Stop Casting". The CastPlayer is in the READY state and when I want to reconnect to Chromecast by tapping MediaRouteButton and selecting device I get IDLE (current state is still READY) and READY then.

[Edit] The use-case video: [Video](https://drive.google.com/open?id=1G88Nih4G89IbDuTbTtWkZ7oboJ5brlCD)

[2018-04-16 15:08] botaydotcom commented on #4127
Another thing is this seems highly likely that this issue is a device specific one. It would be more appropriately reported to the device manufacturer than to ExoPlayer. Thank you very much.

[2018-04-16 15:09] moacir69 opened #4131 "Incorrect duration reported when playing an MPEG-DASH Widevine content"
When playing a Widevine MPEG-DASH content in ExoPlayer 2.7.2 demo application, the calculated duration is incorrect. Instead of using the duration in:

`<Period duration="PT12M14.250S">`

it seems to use the SegmentTimeline of one of the content subtitles:

`<AdaptationSet codecs="stpp" contentType="text" group="3" lang="en" maxBandwidth="1000" mimeType="application/mp4" minBandwidth="1000">

[2018-04-16 15:12] ojw28 commented on #4131
Dupe of https://github.com/google/ExoPlayer/issues/4029. Note that content with "short" representations, as is probably the case for your content, is likely to be forbidden by DASH IOP going forward.

[2018-04-16 15:12] #4131 closed, assigned to ojw28

[2018-04-16 15:14] moacir69 commented on #4131
Thank you for the quick reply. Will check issue #4029.
Warm regards,

Moacir

[2018-04-16 15:19] ojw28 commented on #3632
Please file a new issue, rather than tacking something onto a possibly unrelated issue from months ago. Deleting posts so this issue remains easy to read. Thanks!

[2018-04-16 17:32] chrisfillmore opened #4132 "Does ExoPlayer use presentationTimeOffset to calculate start times for segmented text tracks?"
Hello,

I'm troubleshooting an issue with Shaka player in which segmented WebVTT subtitles aren't showing:
https://github.com/google/shaka-player/issues/1405

I believe the problem is that the cue start times are relative to the segment, and Shaka applies `presentationTimeOffset`, as explained here: https://github.com/google/shaka-player/issues/1405#issuecomment-380622695, so as a result, the segm

[2018-04-16 17:34] ojw28 opened #4133 "DRM - Fetch keys ahead of the playback position"
Spun out from #3780. The issue is as described in the title.

[2018-04-16 17:34] ojw28 commented on #3780
The remaining work here is now tracked by #4133.

[2018-04-16 17:34] #3780 closed, assigned to AquilesCanta

[2018-04-16 17:36] kunaljathal commented on #4107
OK, I see. In the case of speed/pitch/trim etc applied _after_ the custom `AudioProcessor` -- is this factored into the position returned by `getCurrentPositionUs` ? To be clear, I'll be using ExoPlayer for streaming video most of the time i.e. the use case that's most relevant to me is interruptions in streaming -- in the case of network issues etc., if the video ends up momentarily lagging / pau

[2018-04-16 17:43] PedroMT opened #4134 "ExoPlaybackException when switching/releasing surfaceView"
### Issue description
ExoPlayer stop reproducing videos (fall into UNEXPECTED exception) when it tries to dynamically switch between surfaces and/or release/capture a new surface on Moto E (4) devices.
Most probably related to the issues: #3835, #4104, #3535.

I cloned the ExoPlayer locally (as per the README instructions) and tried to add the device to the workaround method "codecNeedsSetOutputSu

[2018-04-16 18:03] ojw28 commented on #4132
I'm reasonably confident that we apply `presentationTimeOffset` correctly. If your WebVTT subtitles are packaged in FMP4 as per ISO/IEC 14496-30, then I think our application of `presentationTimeOffset` is the same as for audio, video etc.

I think we'd need a working test stream to get a clean understanding of exactly what your streams do. I can't even access the manifest links provided (I get: "

[2018-04-16 18:13] chrisfillmore commented on #4132
Thanks @ojw28. Are you outside the U.S.? Content will be geo-blocked if so, but if you could access a U.S. VPN, it should work.

There is another developer on my team who may be able to assist with getting a working stream, let me see if I can bring him in.

[2018-04-16 18:19] ojw28 commented on #4132
I'm in the UK. I did try proxying into the US, but it didn't resolve my issue (perhaps you make some efforts to detect and block well known proxy services?).

[2018-04-16 18:22] chrisfillmore commented on #4132
Hmm, as far as I know we don't because we regularly require support from international industry partners (I am also not based in US).

I just remembered that the segments are not packaged in fmp4 -- they are plain text WebVTT files. Does that change anything?

[2018-04-16 19:00] ojw28 commented on #4132
It looks like [DASH IF IOP](http://dashif.org/wp-content/uploads/2016/12/DASH-IF-IOP-v4.0-clean.pdf) 6.4.5 clarifies expected behavior for the plain WebVTT files:

So according to DASH IF IOP:

* You shouldn't be using plain WebVTT, since your content is (I'm assuming) live.
* For on-demand cases `presentationTimeOffset` is not expected to be present. If it is present it's expected that clients wi

[2018-04-16 19:11] giladna opened #4135 "HLS AES is not playable in 2.7.3 but working on 2.6.0"
Hi,
Sending in mail url that is not playable in 2.7.3 but working on 2.6.0

this is HLS AES media where we receive the following exception in the Demo App
"Cannot find sync byte. Most likely not a Transport Stream"
This stream (sending in mail) working fine on 2.6.0

Please look int to the regression.
Using VPN to india required  you can connect via expressVpn app to Mumbai (it is 30days free)

 0

[2018-04-16 19:25] chrisfillmore commented on #4132
@ojw28 Thank you for that analysis; I appreciate the help!

[2018-04-16 19:44] #4132 closed, assigned to ojw28

[2018-04-16 19:53] ojw28 commented on #4132
By the way, if this were ever clarified, I think the most likely clarification would be that timestamps should be as in the ISOBMFF packaged case. It doesn't seem sensible to define them differently. I think that would mean (a) absolute timestamps (i.e. not relative to the start of the segment), and (b) `presentationTimeOffset` being applied. ExoPlayer currently does the opposite in both cases :).

[2018-04-16 20:29] aanhurets opened #4136 "ExoPlaybackException IllegalStateException on newest version (2.7.3)"
Hello
I have the issue in the library. I have been using the newest version 2.7.3. I have found some similar questions, but these are very old. Below my log:

[code]

[2018-04-16 21:20] adamhewitt627 opened #4137 "DASH/ClearKey: Skipping atom with length > 2147483647 (unsupported)"
### Issue description
When playing a ClearKey DASH file, throws `com.google.android.exoplayer2.ParserException: Skipping atom with length > 2147483647 (unsupported).` The same URL will play in Edge, Safari, Chrome and Firefox at http://ampdemo.azureedge.net/azuremediaplayer.html

### Reproduction steps
1. Add sample playlist data to `media.exolist.json`
2. Optionally hard-code a local DRM callback

[2018-04-16 21:48] ojw28 commented on #4137
It seems this is not really ClearKey content, at least not according to our definition of what ClearKey content is. I found this related thread (for a different player). I think the same answer basically holds true here as well:

https://github.com/google/shaka-player/issues/358#issuecomment-217452882

We do not support the type of encryption Microsoft are using for these streams. Closing as unsup

[2018-04-16 21:48] #4137 closed, assigned to ojw28

[2018-04-16 21:54] adamhewitt627 commented on #4137
Ahhh, I was aware of that distinction but didn't realize that Azure was only serving up the CBC encryption. Thank you for the quick response.

[2018-04-17 01:00] lion4509 commented on #4069
Any updates?

[2018-04-17 07:30] ghost opened #4138 "Player speeding playback after few hours of playing or issue high-pitched sounds"
### Issue description
I am using Exoplayer in app which allow users to listen online radios (shoutcast). Now user report this:

### Link to test content
There is app: https://play.google.com/store/apps/details?id=com.dev.franek.pavol.ceskoslovenskeradia
but I think this is not important.

### Version of ExoPlayer being used
2.7.0

### Device(s) and version(s) of Android being used
Device Galaxy S8

[2018-04-17 08:14] andrewlewis commented on #4107
The position returned by `getCurrentPositionUs` will take into account playback parameters, buffering, pausing etc.. If you're not overriding the default playback speed it should work fine.

[2018-04-17 09:33] botaydotcom commented on #4136
Hi @aangurets,
I think this is probably a device specific issue. Please try to reproduce the issue with our demo app, and provide us with more info so we can analyse this issue, including:
- Reproduction steps
- Link to test content
- Device(s) and version(s) of Android being used
- A full bug report captured from the device

We will look into this once we get the information. Thank you very much.

[2018-04-17 10:40] aanhurets commented on #4136
Hi, @botaydotcom
I have only Fabric's bug report from my users (Which I've shared already)
This issue affects many devices and versions (please, see screenshot https://prnt.sc/j6d2fz)

[2018-04-17 10:47] andrewlewis commented on #4138
The code looks fine. If you're not calling `player.setPlaybackParameters` anywhere then there isn't really a way for ExoPlayer to speed up the audio.

I don't think we've had reports mentioning high pitched sounds and changes in speed before. Have you been able to reproduce the problem on any devices? Any idea if it's device-specific? Could the problem be on the content serving side? To diagnose w

[2018-04-17 11:40] andrewlewis commented on #4114
I'd expect the ads loader to be destroyed and free all its resources when the player activity is destroyed, but not when it's just backgrounded. We need to keep state for the IMA SDK in memory while in the background so that it's possible to resume ad playback. Are you seeing that IMA objects have leaked after the player activity's `onDestroy` lifecycle method has been called?

I understand that y

[2018-04-17 11:44] andrewlewis commented on #4069
If I understand correctly, you've tried two options for serving the content: VLC and IPStreamer. With VLC the content plays fine with ExoPlayer but with IPStreamer it doesn't. I don't think we can offer much help here beyond suggesting that you figure out what's different in the behavior of IPStreamer vs VLC.

If you have evidence that there's a bug on the ExoPlayer side please provide information

[2018-04-17 11:44] #4069 closed, assigned to andrewlewis

[2018-04-17 11:57] andrewlewis commented on #4119
Backgrounding/resuming seems to work fine in the demo app using the sample ad tags.

Please could you provide your ad tag?

[2018-04-17 12:03] botaydotcom commented on #4136
Unfortunately we can't help in this case, because the issue doesn't have enough information for us to work on.
Please check out some [similar issues](https://github.com/google/ExoPlayer/search?q=at+android.media.MediaCodec.native_dequeueOutputBuffer%28MediaCodec.java%29&type=Issues), although I have briefly looked at them and they seemed mostly device-specific.

[2018-04-17 12:03] #4136 closed, assigned to botaydotcom

[2018-04-17 12:58] andrewlewis commented on #4089
To do this in general-purpose way, wouldn't we need to take into account the transform matrix of the `DefaultTimeBar` and the parent view matrices all the way up the view hierarchy? I'm not sure if there's a convenient way to do that.

[2018-04-17 13:11] nicklasl opened #4139 "DASH Widevine - First frame freeze"
### Issue description
When playing a linear/live stream the player will render the first frame (and go to STATE_READY) but it takes 1-2 seconds before the video starts. This happens for encrypted live/linear video streams only. We don't see the issue in (encrypted) VOD content and not for unencrypted live/linear streams.

### Reproduction steps
Demo app: Added the test content in the assets struct

[2018-04-17 13:42] #3769 closed, assigned to botaydotcom

[2018-04-17 13:44] botaydotcom commented on #3769
This issue is fixed in the referenced commit. Please help us to check whether it works for you using the dev-v2 branch.

[2018-04-17 13:58] giladna commented on #4119
@andrewlewis

in 2.7.3: ima-demo

You can use
https://pubads.g.doubleclick.net/gampad/ads?sz=640x480&iu=/124319096/external/ad_rule_samples&ciu_szs=300x250&ad_rule=1&impl=s&gdfp_req=1&env=vp&output=vmap&unviewed_position_start=1&cust_params=deployment%3Ddevsite%26sample_ar%3Dpremidpost&cmsid=496&vid=short_onecue&correlator=

just go to bg in midroll you will see on resume content starts from pos 0

[2018-04-17 14:09] erdemguven commented on #2643
Please see my [Downloading Streams](https://medium.com/google-exoplayer/downloading-streams-6d259eec7f95) blog post on Medium.

[2018-04-17 14:16] erdemguven commented on #3955
Please see my [Downloading Streams](https://medium.com/google-exoplayer/downloading-streams-6d259eec7f95) blog post on Medium.

[2018-04-17 15:34] AquilesCanta commented on #4135
Could you provide a bugreport, please?

[2018-04-17 16:26] victorraft opened #4140 "IMA Extension behaving weird when backgrounding midrolls with multiple ads"
I noticed some weird behavior in the streams that have multiple sequential ads in the midroll (those sample tags with `mid-roll standard/optimized pod with 3 ads` for example).
When I minimize the demo app right when the midroll starts playing and then put the app back in foreground the player doesn't seem to recover correctly.
Sometimes it waits for midroll 1/3 to finish, then skips 2/3 and go st

[2018-04-17 16:28] andrewlewis commented on #4140
We've seen issues with IMA unexpectedly skipping ads in a midroll before, so this may be related.

[2018-04-17 16:31] victorraft commented on #4140
Is this a priority at the moment? Do you have some sort of idea of when this issue is going to be addressed?
Thanks, @andrewlewis

[2018-04-17 16:37] andrewlewis commented on #4140
It's possible the issue was addressed in IMA 3.8.5. It would help speed things up if you try to reproduce this on `dev-v2` having set `ImaAdsLoader.DEBUG` to true, and post the logcat captured during a problematic playback.

[2018-04-17 16:39] giladna commented on #4135
@AquilesCanta

Sending now link to drive with issue#4135

contains logs from Nexus 6p 8.1  and nexus 5 - 6.0

[2018-04-17 17:14] victorraft commented on #4140
The issue still happens in `dev-v2`. Here are the logs, starting right before the seek is done and stopping when the last midroll piece is finished: https://gist.github.com/victorraft/1d807593a89a7d51c5195b017d66b058

[2018-04-17 21:45] giladna commented on #4140
@andrewlewis

See this thread
https://groups.google.com/forum/#!searchin/ima-sdk/gilad%7Csort:date/ima-sdk/TR2cQQzxCZQ/kV8oEQTWAgAJ

[2018-04-17 22:29] anasAJ opened #4141 "Exoplayer2: UnrecognizedInputFormatException: Input does not start with the #EXTM3U header."
Please i'm Developping an App based on Android tv Activity And i've created a Class getting me m3u8 links from a file to play it as URI the HLS player .
When i try to play the link i get the following error:

    E/ExoPlayerImplInternal: Source error.
                         com.google.android.exoplayer2.source.UnrecognizedInputFormatException: Input does not start with the #EXTM3U header.

[2018-04-18 01:19] martinpodkrivacky opened #4142 "Cast extension module missing from jcenter (2.7.1+)"
Not able to implement extension-cast, any help? I have all updated AS 3.1, etc so it won't be any problem here by my opinion

Failed to resolve: com.google.android.exoplayer:extension-cast:2.7.3
Install Repository and sync project
Show in File
Show in Project Structure dialog

Thanks

[2018-04-18 01:50] Veeyikpong opened #4143 "Pause player while playing VMAP"
Hi,
I am implementing ExoPlayer and its ImaAdsLoader to play VMAP.
There are 4 ads in my playlist, 3 are 10 seconds and one is 15 seconds.

When the ads are playing the 10 seconds ads, we pause and resume the player, everything works fine.

However, when playing the 15 seconds ad, if we pause BEFORE 10 seconds remaining, and resume the ad, after this ad has completed, the remaining ads will be ski

[2018-04-18 03:21] YukihiroMori-Bascule commented on #4089
Thank you commented, andrewlewis.
I don't understand how to deal transform matrix, but I calculated rotation of this view considering all of the parent view.

It is my way of calculate rotation.
But, it might be not best practice.
[code]

[2018-04-18 05:39] wifiteamab opened #4144 "Can't seek mp4 file in Nexus 6 device"
### Issue description
Playing a mp4 file with ExoPlayer demo app, the video stopped and get "ExoPlayerImplInternal: Internal runtime error." when press the seek bar to seek video.

### Reproduction steps
1. Add the mp4 file local path uri into media.exolist.json and Run demo APP.
2. Start APP and press the video to play
3. When video playing, press the seek bar to seek video to any position.
4. Th

[2018-04-18 08:12] portizb commented on #55
We have a very good news to announce. In a very short time we will support RTSP interleaved. ;)

[2018-04-18 08:51] luckylook commented on #4125
dear ojw28

i am using the demo app
create a new sample in the json file

{

"name": "zion 2",
"uri": "http://37.142.44.5:5554/sdash/PL141004/5.mpd/Manifest?device=NAGRA-WV-BASE-VOD",
"drm_license_url":
"https://ssolab1.nagra.com/netssp/NETKIM2T/wvls/contentlicenseservice/v1/licenses",
"extension": "mpd"}

and i get this error

04-18 11:50:12.141 11598-11643/com.google.android.exoplayer2.demo
W/Vi

[2018-04-18 09:17] hahafamilia opened #4146 "matroska video only support audio track. video track not supported."
Before filing an issue:
-----------------------

When reporting a bug:
-----------------------

### Issue description
matroska video only support audio track. video track not supported.

### Reproduction steps
Describe how the issue can be reproduced, ideally using the ExoPlayer demo app.

### Link to test content
mail to dev.exoplayer@gmail.com

### Version of ExoPlayer being used
2.7.3

### Devi

[2018-04-18 09:18] AquilesCanta commented on #4141
Please see #3722 and #4066 in case they are relevant.

Can you provide the contents referred by the uri? If you don't want to disclose them, please send them to dev.exoplayer@gmail.com following the instructions of the issue template. The listed contents are not valid. Even if `#EXTINF:-1` was supported, the URI should point to a media file (I am assuming it is not the case due to the extension, i

[2018-04-18 09:24] botaydotcom commented on #4142
For some reasons the extension-cast artifacts for new versions (2.7.1, 2.7.2, 2.7.3) are missing from [jcenter.bintray](https://jcenter.bintray.com/com/google/android/exoplayer/extension-cast/), although they are available [here](https://bintray.com/google/exoplayer/extension-cast#files/com/google/android/exoplayer/extension-cast).

[2018-04-18 09:59] hahafamilia opened #4147 "When video begins to play, how can you reduce buffering time and play faster?"
Before filing an issue:
-----------------------

When reporting a bug:
-----------------------

### Issue description
It takes more than 15 seconds for mp4 video to start playing.
I have tested it with a sample app that someone else has created.
The app plays faster.
https://play.google.com/store/apps/details?id=me.infimate.exoplayersample

### Reproduction steps

### Link to test content
mail to

[2018-04-18 10:17] KarlGallagher opened #4148 "[Question] MediaCodecVideoRenderer - on what basis is the late frame threshold determined"
Hi,

We are looking into some of the ExoPlayer implementation around the MediaCodec API.  I have noticed that the threshold for when a decoded frame is considered to have 'late' availability is 30ms ('earlyUs' variable)

So I have two questions:

1.)How was the 30ms threshold derived
2.)What would the likely impact be if it was increased - lets say, to 90ms.

The context to this question is that w

[2018-04-18 10:26] anasAJ commented on #4141
Thank you @AquilesCanta , in my uri i have a simple well working link ending by m3u8 lik :  http://test.co:8080/live/eglS9qxjAgeglS9qxjAg/eglS9qxjAg.m3u8

[2018-04-18 10:28] miseri commented on #55
@portizb  That's great news, just to confirm the interleaving will be without RTCP?

If I can find the time, I might be able to contribute towards it (I've implemented RTP/RTCP/RTSP in a c++ library before but I am unfamiliar with your/exoplayer architecture...)

[2018-04-18 10:31] botaydotcom commented on #4148
Hi @karlg-arris,

@ojw28 maybe able to answer this question better, but I believe the answers are:
1) It's arbitrarily decided.
2) It may reduce the number of frame drops, but the video quality is not improved (and maybe much worse). More video frames are shown but frames will be shown at non-constant rate. Moreover, increasing this threshold will also force the MediaCodec to render more frames wh

[2018-04-18 10:33] AquilesCanta commented on #4141
Have you tried passing that uri to the HlsMediaSource? Without the contents, I cannot assist any further.

[2018-04-18 10:40] KarlGallagher commented on #4148
Hi @botaydotcom

I read that thread previously.  It seems the concern there was around generally slow codecs or those that used significant system resources.

The example I am providing is based around a very specific stall immediately subsequent to a decoder reconfiguration on devices that otherwise do not exhibit decoder performance issues - e.g. dropped frames even at low bitrates (400kbps).

G

[2018-04-18 11:10] MajDroid commented on #4114
The issue is easily reproducible in the [main demo sample app](https://github.com/google/ExoPlayer/tree/release-v2/demos/main) which uses IMA Extension; PlayerActivity leaks and remains in memory once you serve an ad as explained in my original post.

However, the good news is that it seems an IMA issue and not IMA-extension, you can find a response from IMA team confirming it:
https://groups.goog

[2018-04-18 11:40] anasAJ commented on #4141
Uri myUri = Uri.parse("http://test.co:8080/live/eglS9qxjAgeglS9qxjAg/eglS9qxjAg.m3u8");
        MediaSource videoSource = new HlsMediaSource(myUri,dataSourceFactory,mainHandler, new MediaSourceEventListener() {...
thats simply my code and all my params are correct and running with no errors.
So this code are giving this error:

     E/ExoPlayerImplInternal: Source error.
                     com.g

[2018-04-18 11:52] portizb commented on #55
@miseri I can confirm that we already support RTP (in alpha phase) in interleaving but our goal is also to support RTCP because we had detected that a large number of RTSP servers that support interleaving close the connection because they do not receive RTCP packets.

[2018-04-18 12:46] #4141 closed, assigned to AquilesCanta

[2018-04-18 12:47] miseri commented on #55
Ok, sounds good. FYI, you probably know about it already, but the live555 RTSP server (http://www.live555.com/) implements the interleaved mode and has been tested and debugged over many years. It is really solid. I found it  to be really useful to test my RTP over RTSP implementation against it.

[2018-04-18 13:00] petersamokhin opened #4149 "Build MediaSource from InputStream (without any Uri)"
I'm working with own binary format. Some parts of this file contains bytes of media files. I can't "extract" them and provide `Uri` to `ExoPlayer` (it works, but it impractical).
Also I can't read all these parts to memory and provide byte array to `ExoPlayer` (and there no ability to do this too, because I saw `ByteArrayDataSource`, but can't create any `MediaSource` from this).

I created my `In

[2018-04-18 14:28] ojw28 commented on #4148
Am I right in saying that we're talking about comparing (a) rendering some frames late (possibly in rapid succession as we catch up to the audio),  vs (b) dropping the late frames (which likely allows the catch up to occur more quickly). Presumably "help" in this case means "looks nicer to the user". So I think to answer that question, you'd probably need to give it a try and see what it looks lik

[2018-04-18 14:47] anasAJ opened #4150 "UnrecognizedInputFormatException: Input does not start with the #EXTM3U header."
I have a probleme while trying to open an existing and tested .m3u8 link with HLSMediaSource here is my code :
PS:i'm on Android Tv App Activity
    public class PlaybackVideoFragment extends VideoSupportFragment{

    PlayerView playerView;

    @Override
    public void onCreate(Bundle savedInstanceState) {
        final Movie movie =(Movie) getActivity().getIntent().getSerializableExtra(Details

[2018-04-18 15:15] ojw28 commented on #4142
I'm following up with Bintray to get this module correctly mirrored into jcenter. Thanks!

[2018-04-18 15:49] ojw28 commented on #4125
The sample is playing without audio and video because you haven't specified the DRM scheme in the JSON you've added to the demo app. Add `"drm_scheme": "widevine"` to fix this:

[code]

Once you do this you'll see your license server is responding with 415 status codes, as in your original report. My original advice for that problem still applied:

[2018-04-18 15:53] #3911 closed, assigned to andrewlewis

[2018-04-18 15:54] #3691 closed, assigned to andrewlewis

[2018-04-18 16:16] AquilesCanta commented on #4150
@anasAJ, I cannot resolve the provided URL:

[code]

Is it possible that the DNS resolution for the domain is geo-restricted?

[2018-04-18 16:25] anasAJ commented on #4150
here is a correcte one:
http://xtrastv.pointto.us:8000/live/greek/eglS9qxjAg/1493.m3u8
i've been doing som tests and i've found that the problem was from the m3u files syntax so i provide to URI a list link that contains only this :

    #EXTM3U
    #EXT-X-PLAYLIST-TYPE:VOD
    #EXT-X-TARGETDURATION:-1
    #EXT-X-VERSION:3
    #EXT-X-MEDIA-SEQUENCE:0
    #EXTINF:-1,TV5 MONDE
    http://xtrastv.poi

[2018-04-18 16:32] AquilesCanta commented on #4150
Please see #3722 and #4066.

http://xtrastv.pointto.us:8000/live/greek/eglS9qxjAg/1493.m3u8

is giving me an empty response.

[2018-04-18 16:48] andrewlewis commented on #4089
I haven't tried it, but the best approach may be to iterate through the hierarchy like you're doing but to use `Matrix.mapPoints` with each `View`'s matrix. That should take into account all transformations, not just rotation. This is a bit like the code in `transformFromViewToWindowSpace` in [View.java](https://android.googlesource.com/platform/frameworks/base/+/oreo-mr1-release/core/java/android

[2018-04-18 16:49] ojw28 commented on #4066
@botaydotcom - It's probably fairly trivial to make an m3u MediaSource (I think in all cases I've actually seen, the file has only contained a single URL, in which case it's a bit like a glorified redirect). Although it's usefulness would probably only be realized once we solve the "sniff all media types" problem, so they kinda belong together.

[2018-04-18 17:26] andrewlewis commented on #4143
Please could you provide your ad tag here or via email to `dev.exoplayer@gmail.com` (with subject line "Issue #4143")? Thanks.

[2018-04-18 18:04] derekw0311 commented on #4014
Hi @AquilesCanta, I just sent another email to dev.exoplayer@gmail.com with an updated project and streaming url; however the session with the url might expire, please let me know if it is and I will provide a new one.

Thanks

[2018-04-18 19:35] ojw28 commented on #4027
This sounds unfortunate. I'm not sure there's much we can do in this issue tracker though. It sounds like a device problem rather than a problem with ExoPlayer, and there's not going to be anything we can do to work around it. I propose closing this issue unless there's something we can actually do on the ExoPlayer side. If you have any suggestions, please let us know!

[2018-04-18 19:46] sofifather opened #4151 "Why PlayerView returns false from onTouchEvent(MotionEvent) instead super.onTouchEvent(MotionEvent) while MotionEvent.ACTION_UP"

[2018-04-18 19:49] sofifather commented on #4151
Curious to know what if i want add PlayerView to custom ViewGroup and handle there onInterceptTouchEvent(MotionEvent) in purpose to have ability add additional long press event action to it.Returned false while MotionEvent.ACTION_UP fires in onTouchEvent block my parent's child touch interception.

[2018-04-18 20:03] #4151 closed, assigned to nobody

[2018-04-18 21:01] martinpodkrivacky commented on #4142
Thanks

[2018-04-19 00:48] ragotiteb commented on #3375
Hi @ycinfinity ,  quite interesting results. I'm working on similar type of high-end devices, and see this approach as having some very promising potential. Is there a possibility of you to open source your solution? Or, as an alternative, to provide any tip you can provide regarding how to implement?

[2018-04-19 05:46] hahafamilia commented on #4147
I found it.
I do not know why, but building the APK file in release mode makes the video play faster.
debug build : 15 seconds or more
release build : About 3 to 4 seconds
The issue has been resolved.
But I am curious. Can you tell me why?

[2018-04-19 05:52] hahafamilia commented on #3026
I am interested in this issue.
I also have the same problem.
The version I am using now is 2.7.3.
Is there a release version that updates this issue?

[2018-04-19 06:47] KarlGallagher commented on #4148
@ojw28 Yes your assertion is correct.  I get your point, so this really depends on observable impact rather than simply reducing the amount of log traces about dropped frames.

On a final note - is it worth raising a bug against the apparent underlying cause (decoder stalls post reconfiguration) here? or is that something that is expected / well understood already?

Thanks,
Karl.

[2018-04-19 06:57] ghost commented on #3375
Hi @ragotiteb, I can't open source it for now. The async mediacodec give us a new information, the specific time when the buffer is available for queuing. In sync mode we don't know this information, what we can do is keep trying until it's available. We should take advantage of this new information in async mode, queuing the buffer as soon as possible.

[2018-04-19 07:07] Veeyikpong commented on #4143
Hi @andrewlewis
I might have found the fix. I noticed that in ImaAdsLoader, when we pause the ad, the state is set to  IMA_AD_STATE_PAUSED;

` imaAdState = IMA_AD_STATE_PAUSED;`

and when RESUMED is triggered, we need to set the state back to IMA_AD_STATE_PLAYING to ensure the pause and resume works correctly for VMAP ads.

In handleAdEvent(AdEvent adEvent) function,
[code]
Please help to verify t

[2018-04-19 07:41] andrewlewis commented on #3026
No. We're still treating this as a low priority feature request.

[2018-04-19 08:26] andrewlewis commented on #4143
Thanks for providing the ad tag via email. I can reproduce the issue. If I background the demo app two seconds into the first ad I find that the remaining ads in the group are skipped even with the proposed fix in #4153. Is that consistent with what you're seeing, or did this fix work for you?

After background/resume we get an unexpected PAUSED event from IMA when there are still five seconds of

[2018-04-19 08:57] botaydotcom commented on #4147
Cool, glad that you have found out the issue. Normally debug build will enable a lot of debug-related stuffs, such as enable tracing (for using Systrace), more logging, and generally disable code optimization. Before you upload your app to PlayStore, you will have to build it in release mode, so this is intentional.

[2018-04-19 08:57] #4147 closed, assigned to nobody

[2018-04-19 09:14] Peter59403 commented on #4027
@ojw28 Is it possible to keep this issue open until LG has confirmed the issue is hardware/repair related (my phone is at their repair center right now)? This issue is/was one of the first search results when searching for a DRM issue on the Nexus 5X.

[2018-04-19 09:38] AquilesCanta commented on #4149
Hi, could you clarify why implementing your own Extractor is not enough? If your _binary format_ is just a stream of bytes, then I am inclined to think that's the way to go. Implementing a media source is an overkill. On the other hand, the DataSource allows you to implement a custom way to fetch the bytes, so it should work with any media format: custom or not.

Could you clarify what this means?

[2018-04-19 09:46] aldocano commented on #3175
Can you please provide help on playing that type of vimeo url?
Like this https://vimeo.com/229807293 you mentioned above?

[2018-04-19 10:37] RadhikaBalla opened #4154 "Live video is getting struck in the middle"
Hello,

   While I am playing video it is showing below errors. Could you please help me out. I am trying to play hls stream using exoplayer in android mobile.

# **E/ACodec: cannot find aac bit rate
Surface: getSlotFromBufferLocked: unknown buffer: 0x7f2804ffa0**

[2018-04-19 11:02] ojw28 commented on #4148
It really depends on how big the pause is, why the pause occurs, and (pragmatically) whether it's a device that the OEM is still delivering significant software updates to. The issue would need to be reported to the device manufacturer, but if you provide details here, including a full bugreport captured with "adb bugreport", we could take a quick look for anything unusual.

[2018-04-19 11:35] KarlGallagher commented on #4148
Thank you.

My questions have been answered. Thanks for taking the time out on this one.

[2018-04-19 11:36] #4148 closed, assigned to ojw28

[2018-04-19 12:54] AquilesCanta commented on #4154
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

If you’re able to provide complete information as requested in the issue template,

[2018-04-19 12:54] #4154 closed, assigned to nobody

[2018-04-19 14:46] ragotiteb commented on #3375
@ycinfinity ,  ok, understood, i'll give it a shot at implementing on my side then. Thanks for info!
@botaydotcom  , is there any update regarding whether you would implement/release something like this on the "main" exoplayer branch?

[2018-04-19 16:37] AlinaVoronkovaEpam opened #4155 "DRM onDrmSessionManagerError JSON body response"
### Issue description
I'm trying to get JSON body responce in `onDrmSessionManagerError` but there is no such info in `HttpDataSource.InvalidResponseCodeException` error. Could you please provide me info how can I get JSON body inside `DefaultDrmSessionManager.EventListener` `onDrmSessionManagerError` callback.

### Version of ExoPlayer being used
com.google.android.exoplayer:exoplayer:2.6.1

I'll

[2018-04-19 17:00] botaydotcom commented on #4155
Hi @AlinaVoronkovaEpam,
I'm not sure about your specific situation (are you using `DefaultHttpDataSource`, `CronetDataSource`, or `OkHttpDataSource` for the DRM callback?), but I don't think this is supported by default.

One thing you may try is to debug and step into the place where the `InvalidResponseCodeException` was thrown - probably from the `open(DataSpec)` method of one of these data sou

[2018-04-20 00:53] brol1dev commented on #4155
@botaydotcom I'm working with @AlinaVoronkovaEpam on this one. I was able to read the JSON by subclassing `DefaultHttpDataSource`. but I see that `InvalidResponseCodeException` doesn't accept a body as part of its arguments, so what do you think is the right approach? I'm thinking we should subclass `InvalidResponseCodeException` (in reality its parent since `InvalidResponseCodeException` is final

[2018-04-20 01:57] brol1dev commented on #4155
BTW I was able to finish the whole workflow. I ended up extending `HttpDataSourceException` and adding a new field which contains the JSON response body and we can read that right when the error happens.

Thanks for the help @botaydotcom 👍

[2018-04-20 01:59] brol1dev commented on #4155
To add more details if anyone else has the same problem. We extended `OoyalaDrmHttpDataSource` and on the `open(DataSpec dataSpec)` method when we identify there's an error, we just parse the `connection.getErrorStream()` object which contains the response body that for our case it's a JSON text.

[2018-04-20 02:47] hahafamilia opened #4157 "Is there a way to know if video is playable on ExoPlayer before I call ExoPlayer's prepare function?"
Before filing an issue:
-----------------------

When reporting a bug:
-----------------------

### Issue description
Hello.
I'm reviewing ExoPlayer, and maybe what I know

### Question 1
I want to play various video codecs, audio codecs, and containers on ExoPlayer.
Some videos are videos not supported by ExoPlayer.
I would like to know in advance whether the video you are trying to play is a vid

[2018-04-20 03:40] drayan85 commented on #4110
I have found some more information.

In the `PlayerManger.java` modified the method to catch the actual error as follows.
[code]

After that when I tired the same URL which I have sent via email, I am getting following logs.

[code]

[2018-04-20 06:14] RadhikaBalla opened #4158 "Live video is strucking in the middle"
Hello,

I am using exoplayer-realase-v2 , and trying to play "http://my2.videodb.in:8081/medilifetv/golive/playlist.m3u8" this hls stream  in android marshmallow mobile. But While I am playing video it is getting struck in the middle and showing below errors. Could you please help me out.

Following is the errors that I am getting in android logcat.

**E/ACodec: cannot find aac bit rate
Surface: g

[2018-04-20 08:31] botaydotcom commented on #4155
Cool, glad that you can resolve your problem!

[2018-04-20 08:31] #4155 closed, assigned to nobody

[2018-04-20 08:36] botaydotcom commented on #4158
Hi @RadhikaBalla,
I think the short error message you provided is not enough to analyse your issue. Can you please provide more information, including:
- What Android device you are using (which you mentioned that it run M)?
- A bug report captured after you encountered the error.

We will look into this once we receive more info. Thank you.

[2018-04-20 08:51] AquilesCanta commented on #4110
Is your app crashing when you try to play HLS streams? If addItems was actually throwing, and you removed that try, the app would crash as things are right now. Are you sure the origin of the logging is not the Cast framework internals?

[2018-04-20 09:06] drayan85 commented on #4110
No App is not crashing.

Even if I remove the try catch block, it will not crash the app or either it will not print any error logs( Logs will look like as I posted in the first place).

I guess the error is from exoplayer itself since I can see error logs starting from  `MediaControlChannel ` &`MediaNotificationServiceImpl`
[code]
So I couldn't find what went wrong. So I was trying to understand

[2018-04-20 09:42] AquilesCanta commented on #4110
(sorry for the if/try confusion, I have edited the comments by replacing if with try, as you correctly interpreted). Both MediaControlChannel and MediaNotificationServiceImpl are cast classes, they are not part of ExoPlayer.

Have you by chance tried playing using shaka? We are considering moving away from the default receiver app towards either the shaka receiver app (if possible) or an end-to-en

[2018-04-20 10:05] ArchOrn opened #4159 "Cannot manage to read a DASH video from cache after downloading it"
### Issue description
I am currently building a streaming application which uses the `ExoPlayer` DASH capabilities as my videos are using MPD manifests.
As the download management system offered by the `ExoPlayer` is still in development, I tried out myself to recreate one with less functionnalities using the `DashDownloader` provided in the library.
After downloading a DASH video in a specific `S

[2018-04-20 10:23] liushaofang opened #4160 "castdemo get crash in xiaomi settop box 4 android 6.0.1"
After I build and launch exoplayer2.castdemo  on xiaomi settop box 4, which got crash with following error:
`04-20 17:58:56.830 11186-11186/? E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.google.android.exoplayer2.castdemo, PID: 11186
    java.lang.RuntimeException: Unable to start activity ComponentInfo{com.google.android.exoplayer2.castdemo/com.google.android.exoplayer2.castdemo.MainA

[2018-04-20 10:26] drayan85 commented on #4110
Sorry my bad I couldn't reproduce error logs now.  I think I was wrong. Now I am only getting below log.

[code]

[2018-04-20 10:27] liushaofang commented on #4160
maybe extension-cast.gradle dependencies is the problem,
dependencies {
    // These dependencies are necessary to force the supportLibraryVersion of
    // com.android.support:support-v4, com.android.support:appcompat-v7 and
    // com.android.support:mediarouter-v7 to be used. Else older versions are
    // used, for example:
    // com.google.android.gms:play-services-cast-framework:11.4.2

[2018-04-20 11:12] AquilesCanta commented on #4160
The first thing i'd try would be updating google play services on the device (what version are you running, by the way?).

[2018-04-20 12:11] Gian84 commented on #4094
Thank you jy64!
Sorry for may late, I got it the same error using the last demo app: ExoPlayer 2.7.3.
**ExoPlayer 2.7.3**
**Content url:**
_"name": "Super speed (PlayReady)",
        "uri": "http://playready.directtaps.net/smoothstreaming/SSWSS720H264PR/SuperSpeedway_720.ism",
        "drm_scheme": "playready"_

bug report attached:
[bugreport-NTK15-2018-04-20-14-03-49.zip](https://github.com/goog

[2018-04-20 13:06] marcinOz opened #4161 "A subset of Samsung devices crashes when changing between streams"
### Issue description
We add our streams and swipe to change functionality to ExoPlayer demo app.
A subset of Samsung devices crashes when changing between those streams.

### Reproduction steps
1. Open our version of ExoPlayer demo app (provided by mail).
2. Start any stream
3. Start swiping left and right through streams
4. after a long period of time ~ 10 min app crashes

### Link to test conte

[2018-04-20 13:06] marcinOz opened #4162 "A subset of Samsung devices crashes when changing between streams."
### Issue description
We add our streams and swipe to change functionality to ExoPlayer demo app.
A subset of Samsung devices crashes when changing between those streams.

### Reproduction steps
1. Open our version of ExoPlayer demo app (provided by mail).
2. Start any stream
3. Start swiping left and right through streams
4. after a long period of time ~ 10 min app crashes

### Link to test conte

[2018-04-20 13:10] botaydotcom commented on #4162
Duplicate of #4161.

[2018-04-20 13:11] botaydotcom commented on #4162
I will close the other duplicated issue instead.

[2018-04-20 13:11] botaydotcom commented on #4161
Duplicate of #4162.

[2018-04-20 13:11] #4161 closed, assigned to nobody

[2018-04-20 13:14] ojw28 commented on #4142
This doesn't appear to be fixed yet?

[2018-04-20 13:15] martinpodkrivacky commented on #4142
implementation files('src/com/google/android/exoplayer/extension-cast/2.7.3/extension-cast-2.7.3-sources.jar')

[2018-04-20 13:16] martinpodkrivacky commented on #4142
I fixed it, I just closed issue as I solved it

[2018-04-20 13:17] ojw28 commented on #4142
The more general problem is still there though. You shouldn't need to work around it in the way described. Let's leave it open until the recent versions are correctly included in jcenter.

[2018-04-20 13:18] martinpodkrivacky commented on #4142
I mean you are right.

[2018-04-20 17:46] rraallvv commented on #3757
I have a similar use case, I have the file contents (only MP3 and MP4) in a non-seekable InputStream extracted on-the-fly from a compressed container. Has anyone managed to create a custom AssetDataSource-like wrapper for the InputStream?

[2018-04-21 05:34] rajeshshetty opened #4163 "DefaultDrmSessionManager request new license for every Video Playback. Is there a way to handle this?"

[2018-04-21 08:05] ojw28 commented on #4163
I do not understand what the question is.  What does "handle this" mean? It would help if you could properly describe (a) your use case, (b) what you see happening, (c) what you want to see happening. Thanks!

[2018-04-21 08:07] ojw28 commented on #4150
Agree this is a duplicate of #4066.

[2018-04-21 08:07] #4150 closed, assigned to AquilesCanta

[2018-04-21 08:09] #4121 closed, assigned to ojw28

[2018-04-21 08:21] ojw28 commented on #4129
It depends a bit on your security requirements and license policies. Deleting your local file doesn't remove the underlying license, so if someone had somehow gotten hold of the keySetId, they could still use it to access the license. It also doesn't communicate to your server that the offline license is no longer held, which may be required if you're trying to enforce policies such as "content ca

[2018-04-21 08:21] #4129 closed, assigned to erdemguven

[2018-04-21 08:38] ojw28 commented on #4050
That sounds like a pretty hacky way of initializing the bandwidth estimate. It probably adds significant startup latency to your playbacks, and consumes bandwidth unnecessarily. Instead, you can just specify a higher bandwidth estimate directly. In the _next_ release you'll be able to do this when building the `BandwidthMeter` instance. See here:

https://github.com/google/ExoPlayer/blob/6e5ae87ca

[2018-04-21 08:38] #4050 closed, assigned to erdemguven

[2018-04-21 08:42] ojw28 commented on #3962
Closing due to lack of information.

[2018-04-21 08:42] #3962 closed, assigned to andrewlewis

[2018-04-22 06:26] giladna commented on #4162
@botaydotcom

I think it is related to this issue
https://issuetracker.google.com/issues/77891433

We also have J7 device that restarts in change when switching between sources with protected content

[2018-04-22 08:01] luckylook commented on #4125
hi ojw28

my boss said that iget 415 beacuse i need to insert a token
where should i put it on the demo?
this is the token...

*Content URL:*

http://37.142.44.5:5554/sdash/PL141004/5.mpd/Manifest?
device=NAGRA-WV-BASE-VOD

*nv-authorizations (http header):*

"eyJraWQiOiI2Nzc3NTkiLCJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.
eyJ2ZXIiOiIxLjAiLCJ0eXAiOiJDb250ZW50QXV0aFoiLCJjb250ZW50Umln
aHRzIjpbeyJkZWZhdWx0

[2018-04-22 09:36] saschpe commented on #3735
Sorry for the delay. I'll look into it.

[2018-04-22 21:33] ojw28 commented on #4146
Given your response to https://github.com/google/ExoPlayer/issues/3026, I'm guessing this is a duplicate of that issue. Closing as a duplicate. Please let us know if this is something different. Thanks!

[2018-04-22 21:52] ojw28 commented on #4146
Ah, this is a different issue. @botaydotcom - Looks like we need to be handling `compression == 0x34363248` in MatroskaExtractor.parseFourCcPrivate for this stream?

[2018-04-22 21:57] #4107 closed, assigned to andrewlewis

[2018-04-22 21:59] ojw28 commented on #3763
Closing as answered.

[2018-04-22 21:59] #3763 closed, assigned to ojw28

[2018-04-22 22:17] ojw28 commented on #4125
If the token is supposed to be specified as a HTTP header on the key request, you can set it using `drm_key_request_properties` in the demo app, as described [here](https://google.github.io/ExoPlayer/demo-application.html). For example:

[code]
Further debugging authorization issues to your license server is something you'll need to investigate yourselves, unless you can identify an actual bug in

[2018-04-22 22:17] #4125 closed, assigned to ojw28

[2018-04-22 22:22] #3720 closed, assigned to ojw28

[2018-04-22 22:23] #4048 closed, assigned to tonihei

[2018-04-22 22:26] ojw28 commented on #4123
If playback works (albeit choppily) when using OMX.google.h264.decoder, then this sounds like a device specific issue related to OMX.AMLOGIC.AVC.DECODER.AWESOME. You should report this issue to Xiaomi.

[2018-04-22 22:29] ojw28 commented on #4095
Closing due to lack of required information.

[2018-04-22 22:29] #4095 closed, assigned to erdemguven

[2018-04-22 22:32] ojw28 commented on #4099
In past cases where people have reported similar issues, it's transpired they actually had multiple player instances at once, and were either releasing the wrong one or incorrectly playing the content using multiple instances.

So it seems most likely this is an application issue, rather than an ExoPlayer bug. I'd suggest debugging your app with the above in mind. If you've ruled out these possibi

[2018-04-22 22:32] #4099 closed, assigned to erdemguven

[2018-04-22 22:34] ojw28 commented on #4043
Closing due to lack of required information.

[2018-04-22 22:34] #4043 closed, assigned to tonihei

[2018-04-22 22:39] ojw28 commented on #3923
Please can you provide some more concrete reproduction steps, or ideally source code for a simple demo app that reproduces the issue? It's difficult to know what's actually happening from the description provided.

[2018-04-22 22:43] ojw28 commented on #3525
Closing on the assumption this is fixed, due to lack of follow up. If this is still an issue with 2.7.0 or later, please let us know. Thanks!

[2018-04-22 22:43] #3525 closed, assigned to andrewlewis

[2018-04-23 01:55] hahafamilia commented on #4146
I am not familiar with video encoding and decoding techniques.
I do not know what compression == 0x34363248 is.
I read other issues here.
mastroska format will fail to play in some cases.
I wonder if playback fails in some cases.
Because when ExoPlayer can not play, I have to let the users know.
I am sorry that I can not answer your question properly.
What more should I tell you?

[2018-04-23 05:53] unext-wendong opened #4165 "Question about the Dolby Atmos support in 2.6.1"
This is one question about the change to support Dolby Atmos in release 2.6.1.
https://github.com/google/ExoPlayer/commit/c3b92f84562aa55dc79d764f6fa4cd2e827f39e7

One of changed places is in file `MediaCodecUtil.java` when querying for the decoders available for the mime type, `audio/eac3-joc` is tried first then `audio/eac3`.

From the change itself and the comment there, it seems to be for deco

[2018-04-23 07:50] andrewlewis commented on #4165
This sounds like a bug. Please could you confirm that changing the MIME type of the format used to configure the codec to `audio/eac3` fixes this? Thanks.

[2018-04-23 08:03] unext-wendong commented on #4165
Yes, with this change the issue is not reproduced.

[2018-04-23 10:59] tuesda opened #4166 "Video block when switch between two textureViews on Redmi Note 4"
### Issue description
Video block when switch between two texture views on Redmi Note 4

### Reproduction steps

1. Setup two texture views in a activity
2. Start play a video with first texture view
3. Set second texture view as video display view when click second texture view
4. You will find that audio is normal but frame block for a few seconds

### Link to test content
This issue is not rela

[2018-04-23 11:02] ojw28 commented on #4142
This issue has been resolved by Bintray, and all expected versions are now present in jcenter:
https://jcenter.bintray.com/com/google/android/exoplayer/extension-cast/

[2018-04-23 11:02] #4142 closed, assigned to ojw28

[2018-04-23 11:25] fpittersacc commented on #3879
Hi @ojw28 , @andrewlewis

It seems this is happening due to a race condition when releasing a "paused" IMA and player/media source being prepared.

We are not able to reproduce it on our current tapplication or the IMA demo without forcing it, but NPEs are still being reported on our trackers after we have upgraded to Exo 2.7.x

One easy way to force it on the IMA demo is:
1. Force release on seco

[2018-04-23 12:59] ojw28 commented on #4166
We disabled seamless surface switching on Redmi Note 4 because others were reporting that it caused ANR issues. See https://github.com/google/ExoPlayer/issues/4006 for details. Did surface switching always work reliably for you, on this device?

It may be that we need to target the workaround more specifically to cases where `DummySurface` is being used, since perhaps that's the only case to which

[2018-04-23 13:49] asos-pengjiang opened #4167 "Can't play audio for m3u8 play list (EXT-X-VERSION 2)"
### Issue description
Can't play/detect audio for m3u8 play list for ```#EXT-X-VERSION:2```

If the video is segmented by the HLS tool version 3 ( like the one in the demo app https://devstreaming-cdn.apple.com/videos/streaming/examples/bipbop_4x3/gear1/prog_index.m3u8), it works.

### Reproduction steps
Using ExoPlayer demo app, play the m3u8 playlist I sent to the dev.exoplayer@gmail.com

### Li

[2018-04-23 15:40] mkaflowski opened #4168 "All CastPlayer bugs I found and possiblie solutions"
I work for some chromecast-ready apps and CastPlayer make it a lot of easier but I found a lot of troubles with it too:

**1. Wrong getCurrentWindowIndex after setting media sources when CastPlayer is connected to Chromecast device.**

There is use case where you connect to your chromecast device and after that you select media source.

How to recreate:
- connect to Chromecast device by tapping Me

[2018-04-23 17:52] andrewlewis commented on #3879
@fpittersacc Thanks for the information! Is it possible that the application is releasing the player immediately after initializing (as you say), but then the app is also calling `ImaAdsLoader.release` as part of the same cycle of the main looper? The attach/detach runnables are queued and there will be a crash in `ImaAdsLoader.attachPlayer`.

I think this is the same as what you said but it's the

[2018-04-23 19:01] AquilesCanta commented on #4168
Hi @mkaflowski, thanks for this great report. I still have to look into the issues, I keep them in mind but there are other things that require attention with higher priority right now. Sorry about it. We have been considering writing our own receiver app using shaka player to control casting end-to-end, which would provide a more definitive solutions to the issues we have run into.

Regarding 2,

[2018-04-23 19:31] mkaflowski commented on #4168
Thank you for the answer. Some things could be confusing for new devs but I quite understand that.
Regarding 3, the problem is that after loadNewItems we get old current window index. For example when I play 3rd source, load 2 sources by loadNewItems and playing index 1 when I invoke getDuration() the CastPlayer try to return me duration for index 3 which doesn't exist and the 3 is out of bounds (

[2018-04-23 22:07] cool-benson opened #4171 "Surface Texture Size different than expected."
First of all, big thumbs up for ExoPlayer. It's really easy to fiddle with when you consider the things need to be done.
Here goes the problem. I'm playing DASH video(with multiple resolutions)  with ExoPlayer into video surface(GL_TEXTURE_EXTERNAL_OES), then used for OpenGL draws. And I assume, I can use one SurfaceTexture to hold different resolution(i.e. Only call `surfaceTexture.setDefaultBuff

[2018-04-23 23:43] kanthicn1 opened #4172 "getBufferedPosition() return value for live dash stream"
I am using getBufferedPosition( ) - getCurrentPosition( ) to get an estimate of the remaining playback buffer at any point of time, as suggested in https://github.com/google/ExoPlayer/issues/4023.

I am using a DASH test stream with fixed segmentDuration of 6 seconds to test this. When I observe the value returned by getBufferedPosition( ) alone, I expect it to increase in jumps of segmentDuration

[2018-04-24 00:14] goffioul opened #4173 "Allow Cue to specify monospace font, size of character grid etc"
I'm implementing a teletext decoder in ExoPlayer and I'm looking for advises about font/line sizing. Teletext uses a matrix of characters, 24 lines, 40 columns. But it doesn't seem that this size information can be conveyed through Cue objects for correct rendering. SubtitleView uses a default font size of 5.33% of the viewport height, but the actual line height (including font ascent and descent)

[2018-04-24 01:24] roundsmapp commented on #2659
Hello, @andrewlewis , everything was going fine until I started testing using the 8 channels. I've found a very similar problem as issue #3335 (which is closed, therefore I couldn't place a comment there). For most of the channels, I can clearly control volume and thus have only left or right. But, for some reason, I can't do this for channels 2 and 3 (3rd and 4th).

Is it a bug?

[2018-04-24 08:40] andrewlewis commented on #2659
Could you elaborate a bit on what you're seeing? Specifically: what is the input channel count, what processing are you doing (e.g., multiplying each channel's PCM samples by 0.5), what is the output channel count and how many channels is the platform downmixing to? What is the expected and observed behavior?

It sounds like the platform downmixer is not working as expected.

[2018-04-24 09:35] luckylook commented on #4125
thx
i am still trying to figure it out
u know something about widevine key or widevine challenge?
i talk with are service that supply the license URL and they succeeded to
play this video with their own Player but its not support AndroidTV so it
doesn't help me :/
any idea?

2018-04-23 1:17 GMT+03:00 ojw28 <notifications@github.com>:

[2018-04-24 12:55] MohiniKatara opened #4174 "Cannot Play Video from an External Url"
04-24 18:16:35.684 729-17643/? E/OMX-VDEC-1080P: Extension: OMX.google.android.index.storeANWBufferInMetadata not implemented
04-24 18:16:35.686 729-17643/? E/OMX-VDEC-1080P: Extension: OMX.google.android.index.storeANWBufferInMetadata not implemented
04-24 18:16:35.692 729-729/? E/OMX-VDEC-1080P: Extension: OMX.google.android.index.storeANWBufferInMetadata not implemented
    Extension: OMX.googl

[2018-04-24 13:02] kanthicn1 commented on #4172
I answered my question by following the code more closely. So, I will close this issue.
getBufferedPosition() doesn't always return the presentation time of the last chunk. The extractor "commits" decoded bits as and when they are decoded. So, the non-segment-duration increments in the buffer value makes sense.

[2018-04-24 13:02] #4172 closed, assigned to nobody

[2018-04-24 13:03] roundsmapp commented on #2659
The audio file was recorded with 8 channels. So, using ChannelMappingAudioProcessor, I have parameters outputChannels = int[8] and outputChannelVolumes = float[8].
I also have outputChannels[1...8] = 1

By changing the value of outputChannelVolumes, I can control left and right speakers. The intention is to have each pair of channels, 0 and 1; 2 and 3; 4 and 5; 6 and 7 work like "4 channels" in a

[2018-04-24 13:33] jboisjo commented on #4015
One issue i have with leanback-exoplayer, is this library consume way more than just basic exo?

My cpu usage always go from 10-15% and before using this lib i was getting 3-5%.

And also, why is the player consuming that much?

[2018-04-24 14:01] AlinaVoronkovaEpam commented on #4155
Thanks!

[2018-04-24 14:30] ojw28 commented on #4015
What `updatePeriodMs` are you specifying via the` LeanbackPlayerAdapter` constructor?

[2018-04-24 14:35] andrewlewis commented on #2659
Do you need to output eight channels, or can you mix down to stereo yourself? The two output channels would each have the sum of contributions from four other channels. I think this was the conclusion on #3335, and seems more reliable than relying on the platform to mix down to stereo in a particular way.

[2018-04-24 14:44] abhishekredspace opened #4176 "How to instruct exoplayer to stop at a certain position in advance?"
Hi Exoplayer team,
I am using Exoplayer 2 in my video player for playback and I am looking for a mechanism through which I can instruct exoplayer to stop at certain position in advance. Let me explain what exactly I am looking here.
We get a seamless HLS stream which has video content and ads content. Along with stream as a response from the server, we also get ads position for playing the  ads i.

[2018-04-24 15:13] starchey opened #4177 "Solve track selection for downloads/offline"
Following steps outlined in the blog post here, https://medium.com/google-exoplayer/downloading-streams-6d259eec7f95, we're successfully downloading and playing downloaded HLS streams in our app. We want to offer users download quality preferences, and based on this select the appropriate streams to download. Using HlsDownloadAction, is it possible to set a minimum BPS and have the DownloadService

[2018-04-24 15:33] roundsmapp commented on #2659
I have four different audios being played simulteneously and the user needs to be able to control the left/right speaker for each one of those four, while the audio is being played.

So, the only option I could envision so far is to create the audio file with the 8 channels, as I explained above.

Do you have any other suggestion?

[2018-04-24 17:46] jboisjo commented on #4015
using the same delay as the sample which is 16.

https://github.com/googlesamples/androidtv-Leanback/blob/master/app/src/main/java/com/example/android/tvleanback/ui/PlaybackFragment.java

`private static final int UPDATE_DELAY = 16;`

[2018-04-24 18:15] ojw28 commented on #4015
That value is, in my opinion, way too small, and likely to cause significant CPU overhead. I'd suggest something more in the region of 1000, which is what we use for our non-leanback player controls. If you set it to a larger value, do you see the CPU usage drop back down to expected levels?

[2018-04-24 19:04] jmann3 commented on #3750
I'm a dev working for a major media corporation... this would be a great feature for us as well.

[2018-04-24 19:23] jboisjo commented on #4015
Yes it's now at 3-5% :)

[2018-04-24 19:25] ojw28 commented on #4015
@susnata1981 - Is it possible to set the delay in the sample to something more sensible? I remember expressing concerns at the time about CPU usage, and this now seems to be playing out for developers.

[2018-04-24 19:58] jboisjo opened #4179 "Get the actual playing mp4 file from DashPlaylist?"
### Issue description
Question,

Where i can get the actual mp4 file playing in the player from my DashPlaylist?

I can get all files that they are loaded from the MediaSourceEventListener

[code]

and also those who are completed (downloaded)

[code]

but i need the actual one that the player is playing. How could i get that?

Thank you!

[2018-04-24 22:16] jt64 commented on #4101
Devices that are security level L3, as is confirmed in your drm device info, are not able to play content that requires a secure data path.

   "drm": {
        "modular": {
            "widevine": {
                "properties": {
                    "securityLevel": "L3",  <----------------- This shows device security level

The ExoPlayer test case "WV: Secure SD content" requires a secure data

[2018-04-24 22:17] #4101 closed, assigned to nobody

[2018-04-24 22:29] jt64 commented on #4094
Thank you for the bug report and additional repro steps.

We see that PlayReady is failing to initialize its context with the error DRM_E_INVALIDARG

04-20 14:03:29.246   227   356 V PlayReadyContext: initialize >>
04-20 14:03:29.248   227   356 V PlayReadyContext: initialize Drm_Initialize called
04-20 14:03:29.678   227   356 E PlayReadyContext: initialize was failed with DRM_E_INVALIDARG(800700

[2018-04-24 22:43] jt64 commented on #3775
Based on the log message you have attached this appears to be a problem with video memory allocation, possibly due to a memory leak or fragmentation.  We have opened an issue report with the manufacturer and will keep you updated as we learn more.

[2018-04-25 07:14] RaphaelJenni commented on #3896
Got the same error. Any updates?

[2018-04-25 07:47] Sybergoth opened #4181 "Dummy Media Source"
### Issue description
I am creating a certain audio player which combines a number of tracks to play using exo player.
In the project I have a requirement that there can be a certain "blank" period between tracks.

For example:
Playing track no. 1 and then a 10 second pause and then playing track no. 2

I was wondering if there is any "blank" media source which I can configure with time and it wil

[2018-04-25 09:57] ojw28 commented on #4174
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

If you’re able to provide complete information as requested in the issue template,

[2018-04-25 09:57] #4174 closed, assigned to ojw28

[2018-04-25 10:00] ojw28 commented on #4179
I don't really understand the question. A few questions that might help to clarify things:

* Are you playing on-demand DASH streams where each representation is a single segment, or do the DASH manifests define multiple segments (with different URLs) per representation?
* It would be good to pose the question in terms of what you're trying to do and why, from a feature perspective. What are you a

[2018-04-25 10:25] AquilesCanta opened #4182 "Add support for multiple EXT-X-MAP tags in an HLS media playlist"

[2018-04-25 10:30] ojw28 commented on #4176
I understand the problem. I don't think we have a frame accurate solution to this currently, although it should be possible to do better than your polling approach. You can use an event based approach as follows:

1. Define a component that will be called whenever a boundary between content and ad is reached:

[code]

2. Ask the player to call your component whenever a boundary between content and

[2018-04-25 10:48] ojw28 commented on #4177
When creating the `HlsDownloadAction` you can specify the renditions that you want to be downloaded (the varargs argument at the end of the constructor). Although this is quite complicated, since you need to (a) know what the renditions are, and (b) implement logic for choosing which ones you want.

(a) can be solved by instantiating a `HlsDownloader` directly from app code, and calling `getManife

[2018-04-25 10:56] andrewlewis commented on #2659
Can you try outputting only two channels from your custom audio processor? It takes eight channels as input then outputs two channels by mixing (summing) samples from the input channels. With this approach you won't be relying on the platform to downmix in a particular way.

[2018-04-25 12:12] roundsmapp commented on #2659
I'll try and I'll be back with the results

[2018-04-25 12:16] 82367825 opened #4183 "MediaCodec_looper(1454) SIGSEGV(SEGV_ACCERR) Crash in Android 5.1"
### Crash Report

[code]

### Issue description
Sometimes i using it to play audio in Android 5.1, there will be a crash.

My model is Meizu note3, and android version is 5.1.

[2018-04-25 13:10] AquilesCanta commented on #4014
I am getting a 401 from the server for both URLs. I must insist that it might be faster if you try to diagnose this issue yourself. I am pretty confident that the issue will be easy to identify.

[2018-04-25 13:13] jboisjo commented on #4179
Once i load initially the playlist, it downloads 3-4 chunks of 6 seconds like this.

[code]

and then, after 20-25 seconds, it gets the other next 3 chunks.

I want to know what chunk is currently display after it has been downloaded.
We're trying to fix an issue that sometimes, i'm getting a source error and need to know if the player can't find the chunk or the chunk hasn't been created from the

[2018-04-25 13:26] ojw28 commented on #4179
I don't understand what the difference between "player can't find" and "hasn't been created" is. Under what circumstances does the chunk exist but the player can't find it?

I'm also confused about why the currently playing chunk is going to help you. If the player is failing it should give you an error that's descriptive enough to allow you to figure out what went wrong. Are you seeing an error,

[2018-04-25 13:31] mr-thierry commented on #3923
Hi 'ojw28'
I have created a GitHub project to show the issue. See https://github.com/thierryd/ExoPlayerSoundBug

I hope this help! Keep me informed if you have any question / issue / stuff I need to change. :)

[2018-04-25 14:41] jboisjo commented on #4179
Well maybe the chunk exist but it's corrupt for x reason so the player can't access it. That's what i'm trying to figure.

The error i'm getting it's always a 503 which is the segment doesn't exist but it's pretty random.

[2018-04-25 14:58] magillus commented on #3896
I just saw the same error on my application.
Is there a way to catch such crash error and let application deal with it, not forcing process to die?

[2018-04-25 15:00] jboisjo commented on #4015
Also the delay introduced in this Leanback Library cause a long delay when we setup a DrmSessionManager. It takes way longer on less performance devices.

[2018-04-25 15:03] roundsmapp commented on #2659
It is working. There is just a small delay between the time I touch the control (on the screen) and the change in the audio response. But this doesn't bother much. It's just that we get used to light speed responses.

Once again, thank you!

[2018-04-25 15:08] magillus commented on #3896
In my case it was audio codec issue in media with 96kHz track.

[2018-04-25 15:11] RaphaelJenni commented on #3896
For me the problem was solved when I started my notification via `startForeground(...)`. Maybe this helps. (I only use audio)

[2018-04-25 15:27] starchey commented on #4177
Yeah, that sounds right. Thanks for the thorough response.

[2018-04-25 15:53] jboisjo commented on #4015
also we can't change the value outside the package, so don't have any access :(

<img width="765" alt="screen shot 2018-04-25 at 11 52 39 am" src="https://user-images.githubusercontent.com/18666345/39257332-430cb2f6-487f-11e8-8cae-0be15e1a7052.png">

[2018-04-25 16:58] derekw0311 commented on #4014
@AquilesCanta I have just send the updated content url to dev.exoplayer@gmail.com. There is an expiration with the urls, it usually last ~20-24 hours. Please give it another try, I have been looking into this for weeks. If you could take a quick look at this would be greatly appreciated. Sorry for all the back and forth on this.

[2018-04-25 20:19] jboisjo commented on #4015
I think i found a way to the problem, whenever i remove the DrmSessionManager in the buildAudioRenderers (DefaultRendersFactory) everything works perfectly, but i got no sound of course.

[2018-04-26 02:37] dannyZhou opened #4184 "HLS - Play successfully but frozen when press forward button in demo"
### Issue description
Play successfully when start from 00:00,
but when I press forward button, frozen occurred.

### Reproduction steps
1. Clone project.
2. Change branch to `dev-v2`.
3. Import project to Android Studio.
4. add these codes to `media.exolist.json`.
[code]
5. Connect phone and run demo project.
6. Play demo, waiting play successfully and press forward button.
7. Frozen will occurre

[2018-04-26 06:05] kevleyski opened #4185 "DASH - Clip playback at period end times (i.e. once period duration is reached)"
### Issue description
A static MPD with multiple Periods can play out differently between Shaka (e.g. PC/Chromecast) vs Android and AndroidTV devices.

Looking further it seems that the logic in library/core/src/main/java/com/google/android/exoplayer2/ExoPlayerImplInternal.java::updatePeriods() is the reason for this because Periods will not advance to the next Period when there might still be som

[2018-04-26 08:46] andrewlewis commented on #3175
@aldocano For help on playing videos from a particular provider, I suggest searching their documentation or contacting them directly. This isn't really a question for the ExoPlayer team.

Regarding the original issue: I think we don't have enough information to investigate effectively, so I'll close this. If you can provide steps to reproduce in the ExoPlayer demo app, please file a new issue. If

[2018-04-26 08:46] #3175 closed, assigned to andrewlewis

[2018-04-26 09:35] ojw28 commented on #4185
I think this needs fixing somewhere in the DASH module, rather than in `ExoPlayerImplInternal` as in the pull request. In particular this is because:

* I don't think we want this kind of clipping for other media types (e.g. a playlist of mp3 files, where durations may be inaccurate but we really don't want to start clipping before moving on to the next one).
* From DASH IF discussions, my underst

[2018-04-26 09:36] ojw28 commented on #4183
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

If you’re able to provide complete information as requested in the issue template,

[2018-04-26 09:36] #4183 closed, assigned to ojw28

[2018-04-26 09:37] ojw28 commented on #4181
We don't provide such a component, however it would probably not be too difficult for you to implement one yourself.

[2018-04-26 09:43] Sybergoth commented on #4181
Hey, thanks for the reply.

Before I dive in to learn how a media source is structured and implement it, do you have any references about how to write a custom media source and how should I tackle this problem?

[2018-04-26 10:09] jaranflaath opened #4187 "Backward seek issue with HLS live stream"
### Issue description
Working on the radio app for Denmark Radio, we discovered an issue with seeking in live HLS stream. We start playing a stream, then jump to about midways into the stream, then start skipping backwards. ExoPlayer will then have trouble skipping more than a second or two, perhaps managing to skip 15 seconds one time, before it gives up and start skipping _forward_ instead - eve

[2018-04-26 10:51] ojw28 commented on #4171
It's probably relevant that video decoders typically operate using output buffers that are a whole number of blocks (vertically and horizontally). I'm guessing that in this case the block size is 16, which would explain why 1080x540 is rounded up to 1088x544. The decoder will also output cropping information that tells you how to crop the buffer back to the proper video resolution.

If you look in

[2018-04-26 11:04] ojw28 commented on #4173
To check I've understood the problem: Am I correct to summarize your issue as being that `Cue` does not have a way to specify line height? I think you're right for text cues (i.e. there is no way of doing this). I'm not particularly keen on allowing sources to be very prescriptive about exactly how text cues should be rendered. It conflicts with other requirements such as allowing the user to spec

[2018-04-26 11:40] goffioul commented on #4173
Yes, the problem is about Cue's line height. I don't particularly like the second option, as it moves the problem at the application level: the app now needs to be aware of the specifications for the selected subtitle track (teletext = 24 lines, CEA608 = 15 lines, ...) and size the font accordingly. I don't think that's something the application should be doing.

As you said, the only other option

[2018-04-26 13:34] kevleyski commented on #4185
Let me know if I can help further, happy to try/test

[2018-04-26 13:49] ArchOrn commented on #4159
After some more investigations with a different DASH manifest (see: http://yt-dash-mse-test.commondatastorage.googleapis.com/media/feelings_vp9-20130806-manifest.mpd), it does exactly the same.
However, with this smaller example, I tried to download every representations instead of only the "smaller" ones and it works.

Now I am wondering what could be wrong with the representation keys I selected

[2018-04-26 14:01] ojw28 commented on #4159
I think the problem is that during playback the selector is trying to use tracks that were not downloaded.

Try using [FilteringDashManifestParser](https://github.com/google/ExoPlayer/blob/r2.7.3/library/dash/src/main/java/com/google/android/exoplayer2/source/dash/manifest/FilteringDashManifestParser.java) for playback, specifying only the representations that you've downloaded. You can do this by

[2018-04-26 14:03] ArchOrn commented on #4159
Thank you for your quick answer. I will try that right away! 😃

[2018-04-26 15:02] AquilesCanta commented on #4014
Please try the following and let me know if this fixes your issue:

- First, increase the `DefaultLoadControl`'s maxBufferMs. The value it had is way too low and may mean you cannot fit an entire GOP, which could trigger endless stalling. I don't think this is affecting you, but as a general rule it's better to leave the default values, unless you have a good reason not to.
- When you instantiate

[2018-04-26 18:50] jboisjo commented on #4015
And it's only with leanback-exoplayer, same drmManager class and only with exoplayer, works fine, but i really don't know what cause that with leanback-exoplayer.

There's no example in the sample about a DRM included. I don't know if you have tried a DRM playlist with leanback-exoplayer but it really doesn't work that well.

[2018-04-26 20:46] derekw0311 commented on #4014
Adjusting max buffer and set a smaller value for **continueLoadingCheckIntervalBytes** works!
It solved my problem with the endless stalling and re-buffering issue but it seems like I lost the ability to control minimum buffer. The player will start the playback at an arbitrary amount of buffer. (Set minBuffer = 1.5 seconds but it'll start the playback when it buffer up to 4-5 or sometimes 6-7 sec

[2018-04-26 23:41] starchey opened #4188 "Don't cache if caching not allowed in Cache-Control HTTP header"
### Issue description
Playing live HLS stream causes audioTrackUnderrun error, playback stops, and throws PlaylistStuckException (source error).

### Reproduction steps
Launch video. Playback will proceed normally for ~10 seconds and then start to stutter and eventually stop.

### Link to test content
Emailed.

### Version of ExoPlayer being used
dev-v2 branch, commit #d4eb2e5b8571f57169126a155c98

[2018-04-27 08:08] na-in-lee opened #4189 "Not played VMAP ima ads with hls list + Subtitles in ExoPlayer2.6.1"
### Issue description
create hls playlist with subtitles and create adsmediasource.
but can not play ima ads.
Video and subtitles play well.

### Reproduction steps
in exoplayer 2.6.1 demo-ima

file : PlayerManager.java
fuction: private void init()

////// added code

    Uri[] uris= new Uri[2];
    MediaSource[] mediaSources = new MediaSource[2];
    for (int i = 0; i < 2; i++) {

      uris[i] =

[2018-04-27 08:28] kmoza commented on #4158
How do media info like audio bit rate is fetched for live streams or streams hosted on url

[2018-04-27 08:53] ojw28 commented on #4189
Are you enabling the text track? If you follow your approach in the demo app, you should see a button that allows selection. Alternatively, if you want it to be selected by default, you can use the following when creating the format for your track:

[code]

Does that help?

[2018-04-27 08:59] na-in-lee commented on #4189
no..
VAST IMA play well.

VMAP Midroll can not play.

<vmap:VMAP xmlns:vmap="http://www.iab.net/videosuite/vmap" version="1.0">
    <vmap:AdBreak timeOffset="start" breakType="linear" breakId="preroll">
        <vmap:AdSource id="preroll-ad" allowMultipleAds="false" followRedirects="true">
            <vmap:AdTagURI templateType="vast3"><![CDATA[https://video-dev.netinsight.co.kr/NetInsight/vast/j