[2021-11-29 03:37] Jaydipnathani commented on #9230
I do not use this line. @wahdatjan

My XML code

[2021-11-29 04:41] wahdatjan commented on #9230
@Jaydipnathani If you are using two instances of exoplayer then make sure release one properly

[2021-11-29 06:18] Jaydipnathani commented on #9230
#9396 please review this issue, sir. @wahdatjan

[2021-11-29 07:16] wahdatjan commented on #9396
The thing is that you are trying to run on surfaceView which i was doing as well , try to remove surface view , run without surfaceview

[2021-11-29 08:24] tonihei commented on #9402
Added support for preferred video role flags now and update existing role flag logic as described above (=prefer perfect matches over partial matches). Note that preferred video flags are only applied for fixed video track selections and will not be used for adaptive playbacks. This is due to the same problem as #9519 and we will use #9519 to track fixing this for both cases.

[2021-11-29 08:24] #9402 closed, assigned to tonihei

[2021-11-29 08:25] tonihei commented on #9519
Note: The problem occurs for preferred video role flags, which are also only applied when making a fixed video track selection at the moment.

[2021-11-29 08:31] bhavikjethava commented on #9597
Thanks for the quick replay.

I have attached 2 demos named

1. ExoPlayer.zip (in this demo I'm using the latest version of Exoplayer 2.16.1)
2. ExoPlayer-release-v2.zip (In this example I have used a demo app from https://github.com/google/ExoPlayer added a video and animated overlay. The same problem occurred.

Thanks in advance.

[2021-11-29 08:54] tdc-w commented on #2600
@WassimErriha
I'm also trying to realize seamless switching so that buffering does not occur when switching camera angle.

I would like to try this implementation. Would you please share the specific sample code?

[2021-11-29 12:53] adnan94 opened #9738 "Caching All Videos But Playing Only single video when there is no network."
**Here is Caching Code**

private fun preCacheVideo(videosList: ArrayList<String>?) {
        var videoUrl: String? = null
        if (!videosList.isNullOrEmpty()) {
            videoUrl = videosList[0]
            videosList.removeAt(0)
        } else {
            stopSelf()
        }
        if (!videoUrl.isNullOrBlank()) {
            val videoUri = Uri.parse(videoUrl)
            val dataSpec

[2021-11-29 13:01] adnan94 commented on #9738
https://github.com/iambaljeet/VideoPreLoading here is code which i am following

[2021-11-29 13:02] adnan94 commented on #9738
val dataSpec = DataSpec(videoUri,0,200*1024)

after this line only one video playing but caching both 2 videos

[2021-11-29 14:44] christosts commented on #9684
There may be a few parameters involved why the player doesn't step up. For example, the bitrate adaptation algorithm might decide to stay at low res because it thinks the available network throughput is not enough to switch from SD to HD.

Let's two do things:
1. Can you please share a patch with your recent changes? To make sure the code is set correctly.
2. Can you provide more context on your u

[2021-11-29 15:08] christosts commented on #9396
It sounds like you're using ExoPlayer and Admob in your app, and possibly hit the same error as #5856 and #5582. You need to make sure that you release your ExoPlayer instance before playing an ad and also you might need to do the workaround described in this [comment on #5582](https://github.com/google/ExoPlayer/issues/5582#issuecomment-469331547) when the app is resuming.

[2021-11-29 15:28] cabhara commented on #9726
I set the minCompileSdk to 31. Now I get the error:

Task :app:mergeDebugJavaResource FAILED

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':app:mergeDebugJavaResource'.

[2021-11-29 15:41] tonihei commented on #9726
This sounds like a generic gradle dependency problem where two of your app dependencies include the same file. Unfortunately we can't help you with that unless it's related to ExoPlayer and you are probably better off asking on StackOverflow or similar sites.

[2021-11-29 15:44] cabhara commented on #9726
I guess I will use exoplayer 2.15.1 for now, with that it compiles ok. Hope the google IMA example code will work with that. Thanks.

[2021-11-29 16:51] ojw28 commented on #9737
I would have thought you could implement this with application level logic on top of the player. Once you've made your API call to determine what the next media item is, you can add it to the player using [playlist functionality](https://exoplayer.dev/playlists.html).

It's unclear to me whether a deeper integration would be necessary, but if that's what you're trying to do then you could take a l

[2021-11-29 16:56] ojw28 commented on #9738
Please could you properly fill out the issue template when filing issues. In particular, please ensure you provide some concrete reproduction steps (e.g., a small sample project that we can check out as source code, which reproduces the issue). Just pasting a bunch of code into an issue tracker doesn't help us to efficiently investigate or answer any questions.

Please also avoid filing four issue

[2021-11-29 16:57] ojw28 commented on #9736
Closing as duplicate of https://github.com/google/ExoPlayer/issues/9738

[2021-11-29 16:57] #9736 closed, assigned to ojw28

[2021-11-29 16:57] ojw28 commented on #9735
Closing as duplicate of https://github.com/google/ExoPlayer/issues/9738

[2021-11-29 16:57] #9735 closed, assigned to ojw28

[2021-11-29 17:21] icbaker commented on #9597
I looked at the latest `ExoPlayer.zip` you sent, it seems to contain exactly the same files as the previous `ExoPlayer.zip` that you sent (i.e. based on an unknown commit on the dev-v2 branch between 2.15.1 and 2.16.0).

I also looked at `ExoPlayer-release-v2.zip`. It seems to have no changes when compared to r2.16.1 of ExoPlayer (i.e. the latest version).

I'm closing this because, as above, it s

[2021-11-29 17:21] #9597 closed, assigned to icbaker

[2021-11-29 19:08] christosts commented on #9672
While I'm investigating the issue with the low frame-rate:

I created a video out of a single image using ffmpeg: `ffmpeg -loop 1 -i image.jpg -r 30 -t 20 output.mp4`

where `-r 30` is for 30fps and `-t 20` is for 20 seconds duration and the playlist played fine. Creating the video with ffmpeg at 0.2fps exhibits the same problem. I'm adding this for two reasons:

1. Can you please share your 30fps

[2021-11-29 22:27] sriram-mohan commented on #9715
@tonihei - let me try to reproduce it on a real device and get back to you...thank you!

[2021-11-30 01:07] re-ovo commented on #9737
It seems that ResolvingDataSource can only be used to dynamically load the MediaItem URL(?), I need to dynamically load the entire MediaItem

[2021-11-30 02:04] #9633 closed, assigned to icbaker

[2021-11-30 02:04] #9630 closed, assigned to icbaker

[2021-11-30 02:04] #9620 closed, assigned to icbaker

[2021-11-30 06:13] NitinSharma639 commented on #9734
@icbaker Can I send you bug report so that you reiterate over it. It is very strange behaviour by exoplayer.  I think
CacheDataSourceFactory is causing issues. Do you have any alternative for this or any better way to implement offline playback. Please if you can guide us.

[2021-11-30 07:27] iuhni opened #9739 "How to skip error TS to play m3u8 files"
The m3u8 file is as follows, but **https://www.xxx.cim/2.ts** has  404 not found

[code]

Now playing this m3u8 file will fail to play in https://www.xxx.cim/2.ts. I want to be able to skip https://www.xxx.cim/2.ts and continue playing https://www.xxx.cim/3.ts. What to do

[2021-11-30 07:43] iuhni commented on #9739
demo link like this

https://raw.githubusercontent.com/iuhni/m3u8testfile/main/playlist.m3u8

source code
-----------------------------------------------------------------------------------

[code]

[2021-11-30 10:20] ojw28 commented on #9737
Ah. You should probably just do that with application level logic on top of the player, in that case.

[2021-11-30 10:22] ShkurtiA opened #9740 "Exoplayer can't play video (with mp3 audio), while VideoView can play it"
I have created a sample with both exoPlayer and android videoView. In exoPlayer it fails to play video on some specific devices (from crashlytics) and I have one device where I can reproduce it.

One of them is (here VideoView works fine):

Build: BAH-W09C100B257
Build fingerprint: 'HUAWEI/BAH/HWBAH-Q:7.0/HUAWEIBAH-W09/C100B257:user/release-keys'

The log message is:

[code]

Sample:
[code]

ExoPl

[2021-11-30 10:24] ojw28 commented on #9739
This is not something we support currently, I'm afraid.

[2021-11-30 12:50] tonihei commented on #9672
It seems the underlying issue is a known problem that newly enabled renderers at period transitions are started immediately (and marked as "joining"). We saw this problem before for text renderers where subtitles of the main content are rendered on top of an ad break video. In this case here, the problem manifests itself as audio of the next item starting to play immediately and skipping the time

[2021-11-30 13:48] PoojanEnv commented on #9715
here is an example of this issue with my device
https://user-images.githubusercontent.com/90393073/144058499-88a032de-dd79-4364-ba4d-90f08a7816a4.mp4

here is a bug report which should help with diagnosing the issue
[dumpstate-2021-11-30-13-40-37.zip](https://github.com/google/ExoPlayer/files/7626145/dumpstate-2021-11-30-13-40-37.zip)

[2021-11-30 14:03] tonihei commented on #9553
The problem is even easier to reproduce when the buffer durations are set to a really low value (e.g. `setBufferDurationsMs(2000, 2000, 1500, 2000)`). I can reproduce after ~1 minute of playback with these values.

The underlying problem seems to be that the HLS source reports a buffered duration that doesn't match the actually loaded samples. So the player thinks the source has sufficient buffers

[2021-11-30 14:17] #9737 closed, assigned to ojw28

[2021-11-30 14:31] tonihei commented on #9553
The reason this is happening as described above is that the declared segment durations of **some** segments in the HLS playlist don't really match the actual duration of the media. Over time we accumulate an error between the calculated position of a chunk and the actual media timestamps. Once the accumulated error is above the maximum buffer configured in the `LoadControl`, the player gets stuck.

[2021-11-30 14:32] fkaduch commented on #9730
Yesm it does the same, so the combination of cast of DASH + Widevine DRM content work, just my code not.

[2021-11-30 14:34] icbaker commented on #9730
In that case I think you're best off working out what's different between your app and the cast demo app - or changing the cast demo app to be more like your app until it stops working :)

There's not much more we can do to help in general terms - but please open a new issue if you have any specific questions we can answer.

[2021-11-30 14:34] #9730 closed, assigned to icbaker

[2021-11-30 14:34] tonihei commented on #9571
Closing due to inactivity.

[2021-11-30 14:34] #9571 closed, assigned to tonihei

[2021-11-30 14:35] tonihei commented on #9585
Closing due to inactivity.

[2021-11-30 14:35] #9585 closed, assigned to tonihei

[2021-11-30 14:35] tonihei commented on #9628
Closing due to inactivity.

[2021-11-30 14:35] #9628 closed, assigned to tonihei

[2021-11-30 14:35] tonihei commented on #9643
Closing due to inactivity ( and the question was likely already answered above)

[2021-11-30 14:35] #9643 closed, assigned to tonihei

[2021-11-30 14:36] #9710 closed, assigned to tonihei

[2021-11-30 14:36] tonihei commented on #9720
Closing because the question was answered.

[2021-11-30 14:36] #9720 closed, assigned to tonihei

[2021-11-30 14:37] tonihei commented on #9723
Closing because the question was answered.

[2021-11-30 14:37] #9723 closed, assigned to tonihei

[2021-11-30 14:38] tonihei commented on #9726
Closing the issue for now as this seems to be an app specific gradle issue.

[2021-11-30 14:38] #9726 closed, assigned to tonihei

[2021-11-30 15:24] fkaduch commented on #9730
ok, I'll do this.

Thanks for your help.

On 30. 11. 2021 15:34, Ian Baker wrote:

--
---------------------------------------------------------
Frantisek Kaduch
Satro s.r.o.
Hodoninska 25
841 03 Bratislava
Slovak republic
Phone: +421-233006414
www.satro.sk

[2021-11-30 19:42] ojw28 commented on #9740
This is not the case for this issue. It looks like the standard mp3 software decoder is unable to decode the audio stream in the sample file you've provided. There's not much we can do to work around that on devices that don't also ship with additional mp3 decoders. You will likely find that many devices are affected by the issue.

Whenever I try and re-encode the sample, the resulting output file

[2021-11-30 23:20] rrfrias commented on #9622
Try requesting the offline license before downloading the asset. That will let you know if the L1 security level for that device has been revoked. If so fallback to L3 and download L3 asset.

A service side verification of revocation status is recommended over any possible client side checks.

[2021-11-30 23:40] rrfrias commented on #8039
Missed this earlier. @PawKanarek can you let us know which devices these are. If you can share a bugreport with  dev.exoplayer@gmail.com we can analyze the failure and follow up, possibly with OEMs.

[2021-12-01 01:53] rrfrias commented on #9493
This behavior depends on the license policy. Can you save a license response (base64 encoded or hex) received at the client and email it to dev.exoplayer@gmail.com with subject "Issue #9493". One for the working devices and another for the devices experiencing failure. If the device is running android 12.0, a bugreport will capture the license so no need to send it separately. A bugreport for the

[2021-12-01 02:04] #9642 closed, assigned to icbaker

[2021-12-01 08:14] iqiluwxy opened #9742 "Want to achieve the same page, play multiple videos at the same time"
Requirements describe

Play multiple videos simultaneously on the same page

scenario

monitoring

Whether other apps are implemented

Yes.
Screenshot or video description
[https://pointshow.oss-cn-hangzhou.aliyuncs.com/20-08-05-18-04-07.mp4]
[https://user-images.githubusercontent.com/26036692/89399776-80181a80-d745-11ea-947d-6e47b186b88a.png](url)

[2021-12-01 10:10] SudoDios opened #9743 "Audio Secure"
Hello.
how to secure play an audio.
That is, how do we stop the audio record while it is being recorded (from **mic** source or **device system sound**) ?

[2021-12-01 10:18] ghotik opened #9744 "exception that can't be caught"
Hi, this is my first post here, so please forgive me if I perhaps break the guidelines a little.

I'm developing a security cams viewer that should show up to 4 rtsp live streams on the same surface.
The environment where this Android App runs is far from clean, there are etherogeneous cameras, bad configurations, network (WLan) errors and so forth, so I would expect that not all cameras may work

[2021-12-01 10:22] ojw28 commented on #9744
@claincly - Please take a look. I'm not sure if this indicates the stream is malformed, but even if it does, we should make sure the error is propagated as a playback failure rather than causing process death.

[2021-12-01 10:29] ojw28 commented on #9743
To prevent system capture, you can use the can configure the audio capture policy [as documented here](https://developer.android.com/guide/topics/media/av-capture). For example, by adding `android:allowAudioPlaybackCapture=false to your `AndroidManifest.xml` file. You can also prevent capture on a single ExoPlayer instance:

[code]

I don't think there's a way to disable the microphone to prevent

[2021-12-01 10:29] #9743 closed, assigned to ojw28

[2021-12-01 10:50] sanojlawrence opened #9745 "Retrieving metadata from video without playback"
As mentioned here https://exoplayer.dev/retrieving-metadata.html#without-playback how can i retrieve metadata without playback ?

here is what i tried:

[code]

I coudn't get any data ?. Is there any documentation, i looked at demo app and there is no example for that so kindly help me through  this.

[2021-12-01 11:25] claincly commented on #9744
Looking at `exo2exception.txt`, the check at `RtspMediaTrack.java:129` failed. The check is for "whether the RTSP payload type is smaller than 96". I'll change it on our side to handle this error better. If you are in a time sensitive situation, I suggest removing `RtspMediaTrack.java:129` yourself.

In the meantime, it might be helpful to post the RTSP messages for further investigation.

The eas

[2021-12-01 11:49] ghotik commented on #9744
Thanks for the really fast answer.
Today I'm on smart work with no direct access to the cameras, but luckily I saved a few logs grabbed with the Packet Capture App.
Tomorrow I could do more tests and publish mode data, if needed.

the attached files camera100crash.txt and  camera100crash(2).txt show the packet flow between the App and the camera at final ip 100 that crashed the App. As far as I co

[2021-12-01 11:57] ShkurtiA commented on #9740
Thanks for the investigation, its very helpful

[2021-12-01 12:01] vovan888 commented on #9553
I agree that the bad media should be fixed but IMHO exoplayer should at least report an error in bad media case.

[2021-12-01 12:28] tonihei commented on #9553
Yes, that's true, we usually try to fail with some error so that the app can at least show a UI indication that playback isn't possible. We also have a stuck-buffering detection for this reason, but it only works if the calculated buffered duration is empty to avoid triggering for other reasons (like initializing DRM playback). See https://github.com/google/ExoPlayer/blob/029a2b27cbdc27cf9d51d4a73

[2021-12-01 12:51] kurthuwig commented on #2092
Regarding: "AVI will go away and be replaced by MP4": the MP4 container is from the MPEG consortium and only supports MPEG streams. This means that you cannot get other streams in it without conversion. E.g. H.263 video + PCM audio does not work. But that's what most network cameras offer.

[2021-12-01 14:33] gregni2 commented on #9565
This is a huge help/relief. Great explanation. Now with mediastreamvalidator and your comments I see what you mean by the miss matched levels.
After putting in some debugging it does look like the Exoplayer is parsing all the levels correctly (at least to my eyes). And that the example does not actually need at level 5 profile as its later marked as. Since the Amazon Fire Lite's initial codec hand

[2021-12-01 15:34] ojw28 commented on #9565
Correct.

In more detail, what happens is:

1. The `TrackSelector` asks the `Renderer` whether it supports each of the available track individually. Because the renderer will now consider both decoders, it replies "yes" for all tracks. The `TrackSelector` doesn't know (because the renderer doesn't tell it) that the "yes" for the 1080p track was on the basis that the software decoder (`OMX.google.h

[2021-12-01 15:53] rickzw commented on #9719
When is the next minor release with this fix?

[2021-12-01 16:20] katerynapeikova opened #9746 "Decrypt HLS AES stream with external key"
HLS file
[code]
Stream is encrypted with AES-128. There is no DRM server. (The stream engine is wowza).

I have to retrieve decryption key from separate end-point from our BE.

How can I manually set decryption key in ExoPlayer? Should there be additional keys in HLS file (i.e. encryption method)?

[2021-12-01 17:39] claincly commented on #9744
From your logs, the failed case has line in the SDP (in DESCRIBE response)
[code]

where the successful case has line
[code]

The only difference is the number 35 and 96. This number is used for an RTP receiver to determine what payload is being received. Please find the mapping table [here](https://www.iana.org/assignments/rtp-parameters/rtp-parameters.xhtml#rtp-parameters-1). In short, if a clie

[2021-12-01 19:05] akardas16 opened #9747 "Playback error com.google.android.exoplayer2.ExoPlaybackException: Source error"
When trying to use exoplayer in recyclerview it doesn't work

[code]

[2021-12-01 21:09] SudoDios commented on #9743
Thanks. 👌👌🌹

[2021-12-02 02:52] Pavel87 opened #9748 "How to use contentId as a key when using cacheDataSourceFactory"
Hi team,

I am trying to load offline content via **cacheDataSourceFactory** but not sure how to use the contentId from downloads table to load correct content.
![Screen Shot 2021-12-01 at 6 42 32 PM](https://user-images.githubusercontent.com/5558923/144347886-0145b7a8-b992-4ff4-a54d-65ae310456f3.png)

With my setup the player is rather trying to match the **URI** field in the table rather than co

[2021-12-02 02:53] iuhni commented on #9739
ok

[2021-12-02 02:53] #9739 closed, assigned to ojw28

[2021-12-02 08:12] hot1sp opened #9750 "Low latency stream dropframes"
Hi

We're observing playout issue on DASH Low Latency Live stream with ExoPlayer version 2.13.2, while noticed a frequent freeze frames on playing the Live stream and ExoPlayer reports on Buffer of zero and dropped Frames (please find attached the log from ExoPlayer)
On the attached MPD file you can see the following LLC Parameters published on the manifest of that Live LLC channel:

minimumUpdate

[2021-12-02 08:32] kim-vde commented on #9719
The next major release is planned for February or March 2022. We don't know yet if we are going to do a minor release before.

[2021-12-02 08:46] tonihei commented on #9750
Could you provide a link to the live version of the manifest instead of a snapshot? If you don't want to post it here, please send the link to dev.exoplayer@gmail.com with subject "Issue #9750".

Sounds as if something in the timing is not quite as expected, because I would expect playback to have exactly this 8 second latency. How did you determine the latency is 4-5 seconds? Is that the value re

[2021-12-02 10:18] lizebinbin opened #9751 "seekToPrevious() in PlayerControlView can't change to the previous mediaItem"
I'm used PlayeControlView in the xml layout, when I clicked previous button, it's just seek to the start of current mediaItem.

I find that there is a method `seekToPreviousMediaItem()` , but in PlayeControlView, it's called `seekToPrevious()`, then it's will get the current playing position and judge is change to previous or seek to 0 of current item.

I just want to change the previous item, but

[2021-12-02 11:08] Anatolf commented on #9686
PixelCopy gives me the ability to save a picture from a surface.
Its resolution is equal to the width and height of the area on the screen.
If my video stream has a resolution of 1920x1080р, then a screenshot using PixelCopy can be much lower (for example 640x360p).

Is it possible to get a screenshot with the original resolution of the video stream?

Bitmap bitmap = Bitmap.createBitmap(

[2021-12-02 11:22] He12345678901 commented on #9750
I had shared with a link to the live version of manifest, just sent it to dev.exoplayer@gmail.com with subject "Issue #9750"
please provide your response on that link Only via the email, thanks.
I had determined the latency is 4-5 seconds as per manual observation comparing to the original broadcast feed.
our custom UTC Timing element has No offset
about max Latency parameter, I cannot remove it ,

[2021-12-02 11:38] tonihei commented on #9750
Thanks, I'll have a look.

The `minBufferTime` is a property of the content: it describes how much bustiness or jitter is in the content encoding, usually the max GOP size in your encoding. It has only little to do with how the player behaves when playing the stream. The only influence is that ExoPlayer won't get closer than `minBufferTime` to the live edge to avoid dropped frames or underruns due

[2021-12-02 12:25] ojw28 commented on #9751
You can achieve this by wrapping the player in a `ForwardingPlayer`, and overriding the `seekToPrevious()` behavior:

[code]

[2021-12-02 12:25] #9751 closed, assigned to ojw28

[2021-12-02 12:55] He12345678901 commented on #9750
about yours statement,
The only influence is that ExoPlayer won't get closer than minBufferTime to the live edge to avoid dropped frames or underruns due to this content encoding jitter - We're observing that issue shown on the player logs with droppedFrames and then Remaining Buffer = 0, so is there a better relation need to be set on those parameters' values, meaning the minBufferTime=8sec and t

[2021-12-02 13:49] He12345678901 commented on #9750
also to add that at the time of dropped frames and remaining Buffer = 0, we're getting CurrentLiveOffset 12573.
are there with another set of values advised to those parameters (or other Buffer ones) to avoid buffer going down to 0 and dropped frames in low latency stream ?
DEFAULT_BUFFER_FOR_PLAYBACK_AFTER_REBUFFER_MS = 5000
DEFAULT_BUFFER_FOR_PLAYBACK_MS = 2500
DEFAULT_MAX_BUFFER_MS = 50_000
DEF

[2021-12-02 14:03] tonihei commented on #9750
I tested the stream and the best achievable live offset I can get is around 13-15 seconds. This is because chunks needed to play closer to the live edge haven't been published yet. For example in the static snapshot linked in your first post above, the video segments in the first `AdaptationSet` end at UNIX time `(16382968148104240+1799*20000000)/10000000=1638300412` = `2021-11-30 19:26:52 UTC`, w

[2021-12-02 14:09] gregni2 commented on #9565
Wow. Great details. Your fix sounds perfect for us at least.  Those steps would fix our current issue very well.

One more question though. I was impressed to see the adaptive algorithm (TrackSelection I think?)  measure the bitrate and basically say 'we can handle more' and then to go to the higher resolution/bitrate/profile level. The player seems great about going up. But when the stuttering oc

[2021-12-02 14:24] ojw28 commented on #9565
Adaptive bitrate is based on available network bandwidth. In this case there is sufficient network bandwidth, and it's CPU that's the limiting factor, so the logic to step down wont be triggered.

We've discussed looking at additional metrics such as how frequently frames are being dropped (many frame drops is indicative of being CPU bound), and even things like the thermal state of the device, an

[2021-12-02 15:19] He12345678901 commented on #9750
ok thanks, what is the ideal (as per DASH LLC standard) time difference between publishTime of the Manifest to the publish time of chunks (most closer to live edge) under AdaptationSet in order to make sure that playing is fine without rebuffers ? I guess that for Latency target of 8 sec and Latency max of 10 sec , that difference should be not more than few 6 seconds..isn't it ?

[2021-12-02 15:25] tonihei commented on #9750
There is no ideal time as this depends on the capabilities of your media pipeline and your required latency level. But generally, you are right, the target latency should be in the range of the available chunks to make it possible to reach it.

[2021-12-02 16:02] He12345678901 commented on #9750
ok thanks, and do you see a point to adjust the following Buffering parameters' values (or another buffer parameters) to improve and stabilize the low latency playout so that it'd be playing just fine ?
DEFAULT_BUFFER_FOR_PLAYBACK_AFTER_REBUFFER_MS = 2000
DEFAULT_BUFFER_FOR_PLAYBACK_MS = 1500
DEFAULT_MAX_BUFFER_MS = 50000
DEFAULT_MIN_BUFFER_MS = 15000

[2021-12-02 17:12] JorgeNPAW commented on #9453
Hello, I work for a company who tracks ad behavior and we are facing the same problem.

It looks like since the last updates, when you try to access ImaAdsLoader.getAdsLoader(), it usually returns null. And so to check when it stops being null, we need to create a timer/loop since there is no callback/listener notifying this.

But also, when it stops being null and we try to addAdsLoadedListener t

[2021-12-02 17:13] neeluagrawal04 commented on #9602
Hi, I am getting this exception when I am re-downloading a non-drm enabled videos via drm enabling configuration. And I am getting the below as the exception:

DownloadManager: Task failed: application/x-mpegURL:hmedia_url, false
      com.google.android.exoplayer2.source.UnrecognizedInputFormatException: Input does not start with the #EXTM3U header.
        at com.google.android.exoplayer2.source

[2021-12-02 17:16] Narsuf commented on #9453
Hello, I work for a company who tracks ad behavior and we are facing the same problem.

It looks like since the last updates, when you try to access ImaAdsLoader.getAdsLoader(), it usually returns null. And so to check when it stops being null, we need to create a timer/loop since there is no callback/listener notifying this.

But also, when it stops being null and we try to addAdsLoadedListener t

[2021-12-02 17:40] He12345678901 commented on #9750
one more point regarding: chunks needed to play closer to the live edge haven't been published yet - in addition to playout issues and when they occur, the Latency compared to Live point is being reduced from the proposed target of 8 seconds to 5 seconds (by manual observation check) - is it normal in this case considering the point you had noted about the manifest ? could it be because of the dro

[2021-12-02 17:53] andrewlewis commented on #9453
What specifically do you need the `AdsManager` for? For tracking ad behavior I'd have thought just the ad event listener would be enough -- see also #8158 which has instructions for listening for ad events.

[2021-12-03 03:29] lizebinbin commented on #9751
than

Thanks～

[2021-12-03 06:53] adroitandroid opened #9752 "Support for custom logger"
### Use case description
Have logs available on crashlytics or other such places for diagnostic purposes.

### Proposed solution
Have a `com.google.android.exoplayer2.util.Log.setCustomLogger()` that routes logs if a custom logger is provided

[2021-12-03 09:59] tonihei commented on #9750
No, there is no point in adjusting these values.

I'm not sure where the 5 seconds are coming from, the effective latency is increased to at least 12-13 due to the technical limitations of not having all segments available yet.

[2021-12-03 10:20] DorisGM opened #9753 ""Multiple renderer media clocks enabled" when use ffmpeg-extensions with all audio format"
When I found our app occur "Multiple renderer media clocks enabled"  bug. I update to the lastest version exoplayer (2.16.1) as #9675 . But i found it still occur when i use ffmpeg-extensions  with all audio format.
[code]
Enviorment:
- ExoPlayer version number  : 2.16.1
- Android version: 9.0
- Android device Amlogic S905X

[2021-12-03 10:34] DorisGM commented on #9753
By the way , I already send the ts file to dev.exoplayer@gmail.com. Please check it. Thanks.

[2021-12-03 11:00] Narsuf commented on #9453
I would be lossing access to adCuePoints/cuePoints from AdsManager/StreamManager with that approach.

[2021-12-03 11:12] andrewlewis commented on #9453
They are accessible in the player's timeline: see https://github.com/google/ExoPlayer/issues/8070#issuecomment-712249284.

[2021-12-03 11:12] #9453 closed, assigned to andrewlewis

[2021-12-03 12:07] icbaker commented on #9734
For a BR to be useful in this case you will need to ensure that you're [using an `EventLogger` to provide additional debug logcat logging](https://exoplayer.dev/debug-logging.html). If you have a BR with `EventLogger` output in it then I'm happy to have a look - but I can't guarantee I'll be able to identify the source of the problem from it.

Could you go into more detail about why you believe th

[2021-12-03 13:22] He12345678901 commented on #9750
ok, about the current manifest constraint you noted that target latency is not in the range of the available chunks to make it possible to reach it - when trying to play the same low latency link provided with DashIf player we can see that it's more stable, much less Rebuffering
how can you explain that, given the current manifest limitation of not having all segments available yet (at least at th

[2021-12-03 13:28] tonihei commented on #9750
The DASH-IF player likely added similar correctness checks we are in the process of adding too. After adding these checks ExoPlayer will also correct the target latency to be strictly inside the available live window even if the manifest itself defines it to be outside the live window as in this case.

[2021-12-03 13:40] He12345678901 commented on #9750
ok fine, But in the DashIf , although having those additional correctness, still it's maintaining the Latency (relative to live broadcast feed) of around 8 seconds and not more - I'd expect it to correct/increase Latency as per manifest live window, isn't it ? how can you explain it ?

[2021-12-03 13:51] He12345678901 commented on #9750
and about similar correctness checks you are in the process of adding too - in which ExoPlayer version and when it should be released with such a correctness for target latency ?
thanks

[2021-12-03 13:53] yoobi opened #9754 "Android 12 (Targeting S+) missing FLAG_IMMUTABLE for downloadService"
Hello!

My dependencies:
[code]

When using the ExoplayerDownloadService I'm getting this exception, this is reproducible on devices running on Android 12 only, it seems that a mutability flag is missing.

[code]

[2021-12-03 14:12] yoobi commented on #9754
Nevermind, after checking around it was because of `androidx.navigation:navigation-fragment-ktx` `createPendingIntent()`

https://developer.android.com/jetpack/androidx/releases/navigation#2.4.0-alpha04

[2021-12-03 14:12] #9754 closed, assigned to nobody

[2021-12-03 14:21] ojw28 commented on #9753
Are you specifying any track selection overrides to `DefaultTrackSelector`, or does this happen just by trying to play the content without doing this? Can you reproduce it in the ExoPlayer demo app?

[2021-12-03 14:28] ojw28 commented on #9748
It's unclear to me what you're trying to do, or why. What's actually wrong with matching the URI? That said, if you want to use custom cache keys to identify progressive content, then you just need to:

1. Specify it when building the `DownloadRequest` that you use to make the download (i.e., `DownloadRequest.Builder.setCustomCacheKey`). If you're using `DownloadHelper`, then pass a `MediaItem` th

[2021-12-03 14:35] vanniktech opened #9755 "Potential Memory Leak"
Here's the trace from LeakCanary:

[code]

I'm currently using:

[code]

----

Briefly, - without any knowledge - looking at the code it seems to me like inside:

https://github.com/google/ExoPlayer/blob/release-v2/library/core/src/main/java/com/google/android/exoplayer2/ExoPlayerImplInternal.java#L419

`queue` is missing a some kind of releasing call.

[2021-12-03 14:49] ojw28 commented on #9755
* The fact that `Thread name: 'ExoPlayer:Playback'` is a GC root implies that the player hasn't been released, so if you're intending to have released the player, it looks like that hasn't happened.
* If you're intending to keep the player alive but disconnect it from the UI components so they can be GC'd (e.g., to continue playback in the background), then you should be calling `setPlayer(null)`

[2021-12-03 14:53] ojw28 commented on #9747
The first error (`Response code: 402`) is from the server, so that's not something we have any control over. It seems to be a non-standard response code indicating that payment is required (https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/402).

I suspect that the error you're more interested in is the second one. "It doesn't work" is not sufficient information for us to help you. Please p

[2021-12-03 14:58] ojw28 commented on #9746
In HLS you're supposed to specify the key(s) within the media playlist files, as per the [HLS RFC](https://datatracker.ietf.org/doc/html/rfc8216#section-4.3.2.4). The media playlist file in your case is the one located at `chunklist_w1971464514_tkd293emF0b2tlbnN0YXJ0dGltZT0xNjM4MzcxNjAzJndvd3phdG9rZW5lbmR0aW1lPTE2MzgzODk2MDMmd293emF0b2tlbmhhc2g9ZHhhUjMxSExLNFA1ZlZraGdoU0lQSDNwWE80TFFhQnRmREtSZXQ3Q

[2021-12-03 15:00] vanniktech commented on #9755
Interesting. I'm having a Foreground service which creates and holds the player instance. When the service is destroyed, I release the player.

In my activity, I bind to the service, get the `player` instance and forward it to the `StyledPlayerView`.

So calling `setPlayer(null)` on `StyledPlayerView` inside `Activity#onDestroy` should do the trick, right? I'll try that and report back.

[2021-12-03 15:12] ojw28 commented on #9745
I copy/pasted your code and it worked fine for me. Maybe the piece of content you're testing with just doesn't define a format `lang` for its audio tracks. Or format `id`. Your code only prints a line if both of these fields are non-null.

If you have a piece of content where you know both of these fields should be non-null, and no log line is being printed, then please share it with us and we'll

[2021-12-03 15:16] ojw28 commented on #9742
If the streams are coming from separate sources, you'll need 4 instances of the player. You'll probably have to customize the UI components for your use case as well, but it should be possible to do this yourself (possibly forking the UI components provided in ExoPlayer's UI module as a starting point).

Note that some Android devices may only be able to provide a limited number of simultaneous vi

[2021-12-03 15:22] ojw28 commented on #9755
There are very loose guarantees on when `Activity.onDestroy` gets called. You should probably be attaching the player to the view in `onStart` (or possibly later), and detaching it in `onStop` (or possibly earlier). If you're not sure, you can see the order in which various Activity lifecycle methods are called here:

https://developer.android.com/reference/android/app/Activity#activity-lifecycle

[2021-12-03 15:37] Pavel87 commented on #9748
In my use case I have 2 or more users on device who should be able to
access the downloaded ABR content however each user is using a slightly
different URI so we can identify which user can access the content online.

When I download the content with one user it will store the URI in
exoplayer DB but then I want to access it from another user which is using
slightly different URI and that is my is

[2021-12-03 16:01] vanniktech commented on #9755
Alright, thanks!

[2021-12-03 16:01] #9755 closed, assigned to ojw28

[2021-12-03 16:59] sanojlawrence commented on #9745
Am not sure what mistake I did, can you kindly please provide a small gist https://gist.github.com/
For retrieve metadata that would be so great full.
And thanks for your guidance.

[2021-12-03 18:05] Pavel87 commented on #9748
accidentally closed... @ojw28 please see my comment above.

[2021-12-03 18:18] ojw28 commented on #9745
As above, I copy/pasted your code and it worked fine. If you'd like us to investigate then you need to provide clearer reproduction steps, including the piece of media that you're using when you reproduce the problem.

[2021-12-03 18:49] greyski opened #9756 "Why 2.16.1 Removed ControlDispatcher and DefaultControlDispatcher"
We've just upgraded ExoPlayer from `2.14.2` to `2.16.1` and were using the `DefaultControlDispatcher` to listen for callbacks made from the "play"/"pause" buttons found in the `PlayerControlView` (for example, we have context logging and a few other state related changes we want to make off of those callbacks).

Now in `2.16.1` we no longer have those callbacks as the `DefaultControlDispatcher` wa

[2021-12-03 20:10] marcbaechinger commented on #9756
You can wrap the player in a [`ForwardingPlayer`](https://github.com/google/ExoPlayer/blob/7fe9ecc1c592b758e76f6b458e0dc43cce282e5f/library/common/src/main/java/com/google/android/exoplayer2/ForwardingPlayer.java) and set the `ForwardingPlayer` to the `PlayerControlView` instead. You can then intercept any call to the forwarding player by overriding the methods of `ForwardingPlayer`

[2021-12-03 20:24] greyski commented on #9756
@marcbaechinger `ForwardingPlayer` doesn't provide the `onPlaystateToggled(boolean)` method (the callback we listened to in `DefaultControlDispatcher`) which is effectively called from inside `PlayerControlView` when the UI buttons were clicked and conveniently invoked the expected state changes to the `ExoPlayer`.

We want to grab the click event from the play/pause button in `PlayerControlView`

[2021-12-03 22:45] marcbaechinger commented on #9756
Hmmm, accept my apologies, I don't know of a `onPlaystateToggled` method. I looked into the [`DefaultControlDispatcher` of 2.14.2.](https://github.com/google/ExoPlayer/blob/r2.14.2/library/common/src/main/java/com/google/android/exoplayer2/DefaultControlDispatcher.java) and couldn't find it. Also not in `PlayerView` or `PlayerControlView` of 2.14.2.

I'm trying to understand. So please bear with m

[2021-12-03 23:23] greyski commented on #9756
Oh shoot, I'm sorry I referenced one of my own wrapping methods. I apologize. Let me clarify a few things:

So looking at `2.14.2` we have this method in `PlayerControlView` (added comments are my own)

[code]

In `2.16.1` the `DefaultControlDispatcher` class is gone so we no longer get this convenient callback for when the play/pause is clicked on the control view. So yes `ForwardingPlayer` has `

[2021-12-03 23:34] marcbaechinger commented on #9756
If you use a `ForwardingPlayer` exclusively for being used to `playerView.setPlayer(yourForwardingPlayer)` then you know that it is called from the control view only. All your other call sites do not need to go through the forwarding player but just use the plain player. So you would know in the forwarding player these calls come from the player view. I think this could work if I understand correc

[2021-12-03 23:48] greyski commented on #9756
Oh, I think I understand now. Haha I like how it took like 2+ times for this `ForwardingPlayer` concept to finally hit home. Ok, I see.

I guess the weird part is that we get ALL these callbacks that we won't use, but that's not a huge deal. Ok, so for future readers, I'll do something _like_ this inside my class extending `PlayerControlView`
[code]
Thanks for your help @marcbaechinger!

Edit: I s

[2021-12-04 03:08] nickliwei1624 opened #9757 "CacheDataSink raise NullPointerException"
Hi,

Reproduce Steps:
    a. Android 10 system
    b. Install third party netease apk(such as: https://www.appsdrop.com/netease/)
    c. Play any video in the netease apk. The video will play failed. From the logcat, the exoplayer(2.7.0) raise a NullPointerException like below:

[code]

As I have no source code of netease apk, I just download the source code of exoplayer 2.7.0. After check the sou

[2021-12-04 03:31] ajay9889 commented on #9571
<img width="922" alt="Screenshot 2021-12-03 at 10 49 58 PM" src="https://user-images.githubusercontent.com/9216373/144695301-097ae1ff-acef-4052-abe8-2715cbbf3abb.png">
<img width="857" alt="Screenshot 2021-12-03 at 10 50 32 PM" src="https://user-images.githubusercontent.com/9216373/144695302-986474bc-2238-4777-8fcc-c52b0c86acc4.png">

All version look like the same 2.15.1 there is not conflict in

[2021-12-04 04:59] mateng3399 opened #9758 "ExoPlayerImplInternal: Playback error"
E/ExoPlayerImplInternal: Playback error
      com.google.android.exoplayer2.ExoPlaybackException: Source error
        at com.google.android.exoplayer2.ExoPlayerImplInternal.handleMessage(ExoPlayerImplInternal.java:580)

     Caused by: com.google.android.exoplayer2.upstream.HttpDataSource$InvalidResponseCodeException: Response code: 404
        at com.google.android.exoplayer2.upstream.DefaultHtt

[2021-12-04 11:29] #9756 closed, assigned to marcbaechinger

[2021-12-04 11:32] marcbaechinger commented on #9758
An HTTP response code 404 indicates that the resource is not found on the server side. ExoPlayer is correctly showing the reason why this URI you want to play is not working. Please  verify whether the URI is correct or contact the server administrator if you think the URI should work. There is nothing we can do about it.

[2021-12-04 11:32] #9758 closed, assigned to marcbaechinger

[2021-12-04 11:42] marcbaechinger commented on #9757
The reason why you can find this only in the `DashDownloadTest` is probably because it is the app that sets up caching as part of the app. So this looks like to be an app issue rather than an ExoPlayer issue. Version 2.7.0 is from 2018 so even if that app doesn't seem to be reasonably maintained, the only thing that would help is contacting the people from netease. I can't help you any further I'm

[2021-12-04 11:42] #9757 closed, assigned to marcbaechinger

[2021-12-04 13:02] marcbaechinger commented on #9725
I think the best would be to have the player instance only in your service and then connect to the service from the fragment. This approach is documented [on this page](https://developer.android.com/guide/topics/media-apps/media-apps-overview). You then connect to the service to get a `MediaController` which allows to send transport control commands to the client. [UAMP](https://github.com/android

[2021-12-04 13:17] marcbaechinger commented on #9685
I'm not sure I understand what you mean with `I want to play sources to start also from different timestamps`. I thought that is why you wrap the source with a `ClippingMediaSource`. Once they are merged in a `MergingMediaSource` the source is played from position 0 of the merging media source. Position 0 of the merging media source is then mapped to position 0 of the clipped media sources that ar

[2021-12-04 13:31] marcbaechinger commented on #9640
Please accept my apologies for my late response.

You could create your own [`CompositeMediaSource`](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/source/CompositeMediaSource.html) implementation that acts as a delegator in front of the child source. Then when the composite source is prepared by the player you can take the decision to either prepare a `HlsMediaSource` or a `Pro

[2021-12-04 18:05] SudoDios commented on #9743
I tested this samples and working.
But in screen recorder on xiaomi devices not work.
You have a solution ?

[2021-12-04 18:16] SudoDios opened #9759 "Prevent Audio Capture not wokring on xiaomi devices"
Hi again.
I am using `android:allowAudioPlaybackCapture=false` &
[code]
and wokring it.
#9743
But in screen recorder on xiaomi devices **not work**. (tested on Xiaomi Poco x3 pro, System screen recorder)
You have a solution ?

[2021-12-04 18:16] SudoDios commented on #9759
#9743

[2021-12-05 18:02] badmannersteam opened #9760 "Exceptions other than IOExceptions, that occurred in the CacheWriter, block CachedContent forever"
Hello and thanks for the great library :)

I've faced an issue when using `ProgressiveDownloader` and `HlsDownloader` from ExoPlayer 2.16.1.
If they failed to perform downloading due to not `IOException`, `CacheWriter` in them never calls `dataSource.close()` (sources: [1](https://github.com/google/ExoPlayer/blob/release-v2/library/datasource/src/main/java/com/google/android/exoplayer2/upstream/ca

[2021-12-06 02:04] #9651 closed, assigned to icbaker

[2021-12-06 02:04] #9650 closed, assigned to icbaker

[2021-12-06 02:50] DorisGM commented on #9753
We don't specifying any track selection overrides to DefaultTrackSelector.    I can't reproduce by the exoplayer demo app with decoderwithExtensionsDebug (build variant).  But i want to know when i build app with withdecoderwithExtensionsDebug ,does it include all video format by ffmepg extensions?   Because of  I found only when our app include ffmpeg extensions with all video format, the video c

[2021-12-06 08:09] DorisGM commented on #9753
Thanks for you tips.  I found us set track multiple. I'll close this issue

[2021-12-06 08:09] #9753 closed, assigned to ojw28

[2021-12-06 09:10] NitinSharma639 commented on #9734
Hi @icbaker

I have sent the bug report. Please check. In the meantime we are checking https://exoplayer.dev/downloading-media.html.

Thanks

[2021-12-06 09:36] Yahui-Li commented on #9319
And I tried that if I cut a resource at an exact pcm frame(I use atds as audio format), there will produce a glitch either. so I guess the reason why produce a glitch is not because ExoPlayer can not cut audio resource at an exact pcm frame but there has no pre-cache of next period when the active period is playing. But I'm not sure about that. I will read source code more deeply when I have time。

[2021-12-06 10:45] broscr commented on #9456
@marcbaechinger I'm waiting....

[2021-12-06 11:12] ojw28 commented on #9759
Duplicate of #9743. Please don't file duplicate issues.

[2021-12-06 11:12] #9759 closed, assigned to nobody

[2021-12-06 11:15] ojw28 commented on #9743
Are you sure the Xiaomi app isn't capturing audio using the microphone? It should be easy for you to test this by making additional noise whilst recording. If it is, then there's nothing that can be done to prevent this, as already noted above.

If you're sure that the Xiaomi app is capturing audio internally, without using the microphone, then that's an issue with the underlying platform and you

[2021-12-06 11:16] ghotik commented on #9744
Thank you again. With no forecast of a next release I tried to make the change by myself, following your instructions and those in the project pages. I git-pulled a copy of the project in a folder on my project, located the RtspMediaTrack.java:129 and commented it, then I tried to link my project with this forked version of EXOPlayer.
Sadly, I couldn't get a result despite many attempts.
Linking t

[2021-12-06 11:23] Gheri commented on #1574
Hey Team,
Is MPD Chaining supported in exo player ??
Generally what we have been doing to implement Static Pre roll in exo player for DASH ??
Any examples / references ??
Thanks,
Gheri.

[2021-12-06 11:36] icbaker commented on #9744
@ghotik Please file a new issue about your problems when depending on a local copy of the ExoPlayer library (it's probably not related to RTSP, so better to keep it separate). You will need to include a [minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-example) that demonstrates the problem in a way that we can build locally.

This could be an Android Studio projec

[2021-12-06 11:39] ojw28 commented on #9748
For ABR content, this is just not something that we currently support.

[2021-12-06 12:04] marcbaechinger commented on #9456
This works for me on Android 10 with `setColor/setColorized` being set without using an artwork and [having a media session set](https://developer.android.com/reference/android/app/Notification.Builder#setColorized(boolean)).

When you are using an artwork, the color of the notification is derived from the color of the artwork used for the given media that is currently playing. It looks like for y

[2021-12-06 12:33] abhishekpatil26 commented on #9526
Hi @rrfrias  @icbaker @andrewlewis,

Any update on above mentioned issue?

[2021-12-06 13:05] marcbaechinger commented on #9456
To refine the comment from above a bit:

I assume `playerNotificationmanager.setColor(color)` and `playerNotificationManager.setColorized(true)` is always set.

**Using the `PlayerNotificationManager` without a media session token:**

The notification is colorized when used as a notification for a foreground service. If not, only the buttons of the actions of the notifcation are colorized. When us

[2021-12-06 13:26] ojw28 commented on #9528
You can now workaround this issue just by including `api 'com.google.android.gms:play-services-cast-framework:20.1.0'` as an explicit dependency in your application. We have updated ExoPlayer's Cast extension to also use this newer version, and this change will be included in the next release.

[2021-12-06 13:26] #9528 closed, assigned to ojw28

[2021-12-06 15:26] icbaker commented on #9734
Thanks for the bug report, I see several lines like the following:
[code]
[code]

The final number in the `droppedFrames` indicate how many frames were dropped. This is usually `50` because these frame drops are accumulated and only logged when >= 50 have happened.

The final 3 numbers in the `audioTrackUnderrun` message are `bufferSize` (in bytes), `bufferSizeMs` and `elapsedSinceLastFeedMs`.

I

[2021-12-06 16:36] tonihei commented on #9319
The reason is that ExoPlayer flushes the `MediaCodec` between the different audio resources. If you disable the flushing manually and keep the same codec instance, everything works smoothly without any audible glitches.

We have to flush the codec in the general case because we can't know whether feeding data from two audio sources to the same decoder consecutively is save (=doesn't result in some

[2021-12-06 20:20] vip5912 commented on #9671
I made a little modified Exoplayer (dev-v2, modified library-core/audio/AudioCapabilities.java).
It is working fine. I have DD 5.1 on my AVR.

- add AudioFormat.ENCODING_DTS to EXTERNAL_SURROUND_SOUND_CAPABILITIES
- change return from DEFAULT_AUDIO_CAPABILITIES to EXTERNAL_SURROUND_SOUND_CAPABILITIES

If ExoPlayer can't define passthrough automatically may be you can insert Passthrough check box i

[2021-12-07 01:16] Clement-Jean commented on #9640
The composite media source sounds like an elegant solution, I'll try that, thank you

[2021-12-07 03:19] ahhsfj1991 commented on #8951
do you have demo code for use custom MediaCodecVideoRenderer?

[2021-12-07 03:20] ahhsfj1991 commented on #8951
do you have demo code for use custom MediaCodecVideoRenderer?

[2021-12-07 04:38] Yahui-Li commented on #9319
Wow，thank you for your timely and clearly response. I'm appreciate it very much and it's very useful to me. I try to reuse the codec and It's seems perfect! Thanks, my friend.

[2021-12-07 05:56] NitinSharma639 commented on #9734
Hi @icbaker

Do you have any suggestion so that we can improve the performance? We can reproduce this on sample app provide by the exoplayer as well from [here](https://github.com/google/ExoPlayer). Please guide us.

Thanks

[2021-12-07 10:02] ghotik opened #9761 "Depend on a local copy of ExoPlayer"
Hi, thank you again for your wonderful support.

Following the bug #9744 I tried to follow your advice and fix the rtsp module as you suggested in a local branch of ExoPlayer, this up to when the fix will be merged in the mainstream release.
I found a guide [here](https://medium.com/google-exoplayer/howto-2-depend-on-a-local-checkout-of-exoplayer-bcd7f8531720) and started to follow the steps.
I cl

[2021-12-07 10:03] zhoujielun111 commented on #9761
谢谢啦！邮件我已经收到了！！

[2021-12-07 10:31] icbaker commented on #9761
As requested in https://github.com/google/ExoPlayer/issues/9744#issuecomment-986693988, please provide a [minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-example) that demonstrates the problem in a way that we can build locally.

This could be an Android Studio project on GitHub, or zipped up and sent to dev.exoplayer@gmail.com using a subject in the format "Issue

[2021-12-07 10:32] He12345678901 opened #9762 "DNS Query for playing chunks on ExoPlayer"
Hi
I'd like to clarify please, when the ExoPlayer is playing the DASH video chunks calling the CDN Caches' domains (FQDN):
1. in every chunk request (every few seconds) the ExoPlayer is making DNS Query to resolve the FQDN of the chunks ?
2. Or the ExoPlayer keeps the DNS resolved IP address as per a limited TTL (till the Next DNS query) ? if so, what's that TTL value of that resolved FQDN saved i

[2021-12-07 10:39] icbaker commented on #9734
I'm afraid there's not much I can suggest - you're trying to play encrypted content at 2x speed and it seems that the device just isn't performant enough to support this.

I don't know why you're seeing a difference between offline and streaming playback - if this is a DASH asset with different tracks with different bitrates available, is it possible that while streaming you're playing lower bitra

[2021-12-07 12:07] icbaker commented on #9762
The answer to this question depends on the network stack that ExoPlayer is using, and any configuration/customisation that may be done to that stack. ExoPlayer itself has no explicit customisation for this, and no explicit caching of IP addresses.

By default ExoPlayer uses its [`DefaultHttpDataSource`](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/upstream/DefaultHttpDataSourc

[2021-12-07 12:07] #9762 closed, assigned to icbaker

[2021-12-07 12:22] broscr commented on #9456
Thank you i try.

[2021-12-07 12:22] #9456 closed, assigned to marcbaechinger

[2021-12-07 13:03] kunapuligayathri opened #9763 "issue with Closed Caption for DRM(WIDEVINE) content"
the issue is that we are not getting closed captions for a DRM (widevine) media  item
I have tried using the the license URl and the Stream url inside the demo application.. was not able to get the closed captions over there too
but the same streams are showing cc in bitmovin(https://bitmovin.com/demos/drm)
you can enable subtitles from settings button in bitmovin

since it is protected content:

[2021-12-07 13:20] yzhon opened #9764 "Question about I-Frame only track playing"
Hi, Dear Developers:

I have some questions about I-Frame track playing. Any help information may be grateful.
What if an I-Frame-Only track contains same content just like original content, can this kind of track be played normally, just like normal track( #EXT-X-STREAM-INF track).

[2021-12-07 13:44] He12345678901 commented on #9762
Hi
I do not find any record of DNS on that HTTP stack
do you have some more explicit answer ?  Exoplayer will query the DNS per each video chunk request ? (when all chunks are coming from same FQDN), meaning every 4-5 seconds ?
thanks

[2021-12-07 13:45] icbaker commented on #9764
An "i-frame only" track with exactly the same content as a conventional video track would surely have a prohibitively high bitrate? Because you're not able to leverage any of the efficiency gains from interleaving much smaller p- or b-frames in between the i-frames. So it's not completely obvious why you would want to do this.

That said, you can [forcibly select such a track](https://exoplayer.de

[2021-12-07 13:45] #9764 closed, assigned to icbaker

[2021-12-07 13:48] icbaker commented on #9762
ExoPlayer doesn't explicitly make DNS requests - it just opens a connection to a URI. If this URI includes a domain name that needs resolving to an IP then DNS resolution is done inside whichever HTTP stack is being used. Questions about the implementation details of these HTTP stacks are off-topic for this issue tracker - I suggest you ask elsewhere: Either on project page for the HTTP stack in q

[2021-12-07 14:22] icbaker commented on #9763
I can reproduce that no text track is detected by ExoPlayer (2.16.1) when playing the provided content, while the bitmovin player does allow selection of a CC1 track:
[code]

When I look at the manifest I don't see any explicit text tracks, nor any `<Accessibility ...>` nodes on any of the video tracks. @ojw28 can comment further on whether this content is in-line with the DASH spec or not.

[2021-12-07 14:40] ojw28 commented on #9763
If the captions are embedded 608, then DASH-IF interoperability points require that corresponding `Accessibility` elements are specified in the manifest. See section 6.4.3 of https://dashif.org/docs/DASH-IF-IOP-v4.3.pdf. See in particular 6.4.3.3 and the examples in 6.4.3.5. ExoPlayer requires such `Accessibility` elements to detect the existence of captions in the stream.

I think the fix here is

[2021-12-07 16:08] tobiasKaminsky opened #9765 "Numbers in rew / fwd button not visible in dark mode"
On Exoplayer 2.16.1:

Light mode:
![image](https://user-images.githubusercontent.com/5836855/145064258-45a2132a-53fa-47e0-a1d9-79d24334fd48.png)

Dark mode:
![image](https://user-images.githubusercontent.com/5836855/145064217-448adbc5-0528-45c6-9215-804f1aec759a.png)

It seems that the numbers are adapted to black/white depending on light/dark mode.

(ref: https://github.com/google/ExoPlayer/blob/

[2021-12-07 16:41] MBakhshi96 commented on #1649
Preparing the player again, has also a side effect when using `PlaybackStatsListener`. This causes the `onSessionFinished` callback to be called twice even though the playback has not finished, leading to erroneous analytics data.

[2021-12-07 17:20] ojw28 commented on #9765
Could you provide complete steps explaining how to reproduce this? E.g., what device are you using, how are you enabling night mode, and anything else relevant.

[2021-12-07 17:42] ojw28 commented on #9765
I can reproduce this when using:
[code]
It doesn't reproduce when using:
[code]
Nevertheless, please confirm your exact use case.

[2021-12-08 00:31] harini113 opened #9766 "getMetrics usage for MediaCodecAdapter"
is the api getMetrics() supported with the new MediaCodecAdapter  in exoplayer library 2.15.1 or newer

I have been using the getMetrics() api to retrieve information like Encoder/Decoder/Ht/Width and other information for the codec created. But in the new library, we migrated to using MediaCodecAdapter instead of MediaCodec. I do not see the getMetrics api supported for this? Is this something th

[2021-12-08 08:19] chinmaymujumdar opened #9768 "Can Exoplayer IMA extension only play ads without providing content url ?"
We have an OTT platform app, where we manage content playback via custom player(not exoplayer) also we serve DFP video ads in between the content. Previously we were using IMA sdk 3.22.0 where this sdk was handling the ads playback with there own in built player. But with latest sdk version they have deprecated those methods and expect app to handle ads playback via VideoAdPlayer interface, which

[2021-12-08 10:03] icbaker commented on #8696
The commit above works around this issue by retrying a failed decoder creation after a short delay.

[2021-12-08 10:03] #8696 closed, assigned to icbaker

[2021-12-08 10:03] #9673 closed, assigned to icbaker

[2021-12-08 13:55] denis-bezrukov opened #9769 "[exoplayer-ui] Allow PlayerView customization without providing separate layouts"
Existing open issue
-----------------------
The closest feature request seems to be https://github.com/google/ExoPlayer/issues/5417

### [REQUIRED] Use case description
We want to defer a player control logic to exoplayer-ui, but currently we met multiple issues:
1. It complicates work with ViewBinding as mentioned in #5417
2. We need to maintain multiple layouts (fragment, player, controls, overl

[2021-12-08 15:31] christosts commented on #9547
Hi and apologies for the delay. In case it helps, here is some guidance on how to write a custom track selection that adjusts its audio track selection based on group(s) of the selected video track, using the existing APIs available on the player. The following is for version 2.16. I tried to keep the text below thorough, yet short :)

Group info is already appended in the `Format` associated with

[2021-12-08 23:46] behroozAlborzi opened #9770 "Not found Attribute PlayerView"
two Attribute xml Not found :
[code]

- app:fastforward_increment="5000"
- app:rewind_increment="5000"

Don't set xml why ?

[2021-12-09 07:09] NitinSharma639 commented on #9734
Hi @icbaker

We can see lagging while playing on 360p in offline. We can reproduce this issue on multiple devices. Your following comment shows it is decoding issue.

"An underrun occurs when the AudioTrack runs out of audio data, which suggests decoding isn't happening fast enough."

But some other apps are working fine on the same device. Can you provide us the some decoding technique? What area

[2021-12-09 07:28] wahdatjan opened #9771 "DISCONTINUITY_REASON_PERIOD_TRANSITION not triggering when i am playing DASH videos"
I am using exoplayer 2.12 where i am using DRM for dash videos , I use onPositionDiscontinuity event listener for automatic transition and clickable transition to next or previous  every thing works fine but for dash DRM protected videos `onpositiondiscontuinity's Player.DISCONTINUITY_REASON_PERIOD_TRANSITION` does not getting triggered for DASH drm protected videos but works for others. while as

[2021-12-09 08:27] #9718 closed, assigned to tonihei

[2021-12-09 11:05] hemant1109 opened #9772 "ParametersBuilder class have some deprecated functions."
I am using exoplayer 2.16.1 and I found some functions are deprecated in TrackSelectionDialog class as mention below:

1. `setSelectionOverride(rendererIndex, trackGroupArray, override)`
2. `clearSelectionOverrides(rendererIndex)`
3. `getSelectionOverride(rendererIndex, trackGroupArray)`

Please share demo for updated functions for them respectively.
Thanks in advance.

[2021-12-09 11:12] ghotik commented on #9761
The sample project was dropped on GitHub here: https://github.com/ghotik/RtspPlayerX4
Note: because the Android Studio project includes many files automatically generated, I could not push the single files, so I created the project with a single .rar archive holding everything.
I Git-cloned the EXOPlayer project in the C:\exoplayer folder of my system and tried to build the project in attach, rece

[2021-12-09 11:25] icbaker commented on #9761
I don't have the ability to open .rar files - it's a proprietary format with very limited support on the OSes that I'm using.

It's unclear to me why you need to create an archive before you can push to GitHub, git & GitHub can generally handle quite a high number of individual files in a repository.

Please either use a more open archive format (zip, tarball/gzip) or upload the project files dire

[2021-12-09 11:28] icbaker commented on #9734
To confirm: When you play exactly the same (DRM'd) content in these other apps, at 2x speed, from an offline source, you don't see any performance issues?

Are these apps using `MediaCodec` or some other decoder (maybe one bundled in the app)?

[2021-12-09 12:22] NitinSharma639 commented on #9734
@icbaker

We are suspecting the same. We know that they are using exoplayer with some customisation. We are not sure about what exactly they are using. I can send you the names of the apps in email. I do not want to share it here.

Also looking for guidance from you.

Thanks

[2021-12-09 12:34] ghotik commented on #9761
I apologize for the mess caused by my poor knowledge of the git protocol.
I just now committed the zipped archive to the project (file SC2RtspX4EXO.zip). Please, ignore the other file SC2RtspX4EXO.rar. Just use this project on GitHub as a simple way to transfer the file. I'm going to delete it as soon as no longer needed.
The changes that made a working project linking EXOPlayer from GitHub into a

[2021-12-09 13:44] Romantic-LiXuefeng commented on #8970
@krocard @dturner  As your suggest, I have implement an `AudioProcessor` to sink the audio data to `Oboe`.    I found that the logic of getting the current audio playback position from `AudioTrack` is too complex， So I do like a `tee` audio processor to sink the audio data to the oboe player, and at the same time, sink the silence PCM data to AudioTrack, so that the a/v sync module could  do as be

[2021-12-09 14:02] giladna opened #9773 "Live Media with RunnigText in the bottom - text is moving from side to side"
Hi,

We have live media where there is running text from right to left at the bottom of the video

While using this media in Exo Player on Android TV box(especially) we can see video looks ok but the running text is moving from side to side (shaking - that makes you dizzy )or getting stuck for fraction of second

Our media experts says that it is ingested correctly and the media is just fine

I am

[2021-12-09 14:10] tobiasKaminsky commented on #9765
This is happening in https://github.com/nextcloud/android
and we use
https://github.com/nextcloud/android/blob/bcafbbbd5ba7606dcd658f573500921b504aca76/src/main/res/values/styles.xml#L23

[2021-12-09 14:47] icbaker commented on #9761
You haven't correctly followed the instructions that you and I both linked (I suggest you follow mine though, they're likely to be more up-to-date than a blog post from 2017).

You've added this snippet to the app-level `build.gradle` file. As both guides say, you need to add it to the project's `settings.gradle` file instead:
[code]

Please try that.

[2021-12-09 14:53] icbaker commented on #9770
From the [2.15.0 release notes](https://github.com/google/ExoPlayer/blob/release-v2/RELEASENOTES.md#2150-2021-08-10):

[2021-12-09 14:53] #9770 closed, assigned to icbaker

[2021-12-09 14:54] icbaker commented on #9771
Are you able to reproduce the issue in the latest [ExoPlayer demo app](https://exoplayer.dev/demo-application.html) (2.16.1)?

If so, please provide media we can use to reproduce the issue. Please either upload it here or send to dev.exoplayer@gmail.com using a subject in the format `Issue #1234` (where `#1234` should be replaced with this issue number.) Please also update this issue to indicate y

[2021-12-09 15:42] icbaker commented on #9773
I played the provided TS file using the ExoPlayer demo app on a Pixel 5 and a Chromecast with Google TV. On both devices the text didn't seem to be shaking significantly. On the larger screen of the Chromecast I did see some compression artefacts in the video just above the moving text - I suspect this is due to the way the video is encoded and the poor interaction between scrolling text and conve

[2021-12-09 15:46] icbaker commented on #9773
I also see exactly the same compression artefacts when playing the video on VLC on MacOS (on the same screen).

[2021-12-09 15:49] icbaker commented on #9734
I'm afraid we can't really help you guess how other apps might be customising our library - the quickest way to get an answer is probably to ask them directly.

I'm going to close this issue as I don't think there's anything actionable for the ExoPlayer library here.

[2021-12-09 15:49] #9734 closed, assigned to icbaker

[2021-12-09 16:31] tonihei commented on #9772
2.16.0 replaced the mentioned method in the `DefaultTrackSelector` by new methods directly in the `Player` interface that lets you modify track selections. Please see https://exoplayer.dev/track-selection.html#selecting-specific-tracks for the high-level documentation.

  - `TrackSelectionParameters.Builder.setOverrideForType` replaces the `DefaultTrackSelector.ParametersBuilder.setSelectionOverri

[2021-12-09 16:39] enginegl commented on #9436
We have the same issue, but I'm mot sure if this is related to ExoPlayer

[2021-12-09 16:54] tonihei commented on #9768
ExoPlayer's IMA integration was written to work well with ExoPlayer playbacks, in particular since you need to send IMA events corresponding to playback positions, making sure the content is paused at the right time and the right ad metadata is received before needing to play the ad. Looking at it in this way, the player you are using would need its own IMA integration that does all that for you (

[2021-12-09 20:04] krocard commented on #8970
The easiest way to solve this issue would be to enable float playback in `DefaultAudioSink` using `enableFloatOutput`. **Nevertheless**, currently custom processing is only used  on the int path:
https://github.com/google/ExoPlayer/blob/029a2b27cbdc27cf9d51d4a73ebeb503968849f6/library/core/src/main/java/com/google/android/exoplayer2/audio/DefaultAudioSink.java#L449
I don't know why we have such re

[2021-12-09 20:12] krocard commented on #8970
Would you mind giving us more detail about this? I'm not sure I understand the issue you faced. Thanks.

The video will sync with the AudioTrack, which has a much bigger latency than Oboe. I'm afraid the audio will be in advance compared to video.

Fully replace `DefaultAudioSink` by an Oboe `AudioSink` would avoid this issue, but your smart worakround of using an `AudioProcessor` diversion might

[2021-12-10 00:56] DorisGM opened #9774 "Can‘t play channel with CronetDataSource when port is 80"
When  play url is http://xxxxx:80//xxxxx   , CronetUrlRequest throw Error_unsaft_port.  I guess because of CronetUrlRequst base on chrome http . Chrome http think 80 is unsaft port.  But  I want to know. Is there have some way to ingore this restrictions?  I want to use CronetDataSource as well as can play channel which url contain 80 port. What can i do ?
![exoplayer80](https://user-images.github

[2021-12-10 01:31] Romantic-LiXuefeng commented on #8970
The easiest way to solve your issue is to surround your Oboeprocessor by a FloatResamplingAudioProcessor before and ResamplingAudioProcessor (which resamples to int16 as its name doesn't indicate:) after.

As your said,  The `FloatResamplingAudioProcessor` is only used for high quality input formats (>24bit).   Now for my contents, the decoder output format always `ENCODING_PCM_16BIT`, So this's n

[2021-12-10 06:33] saravanans-github commented on #8176
We are also facing the same issue on OPPO phone using `ExoPlayerLib/2.12.0`.

FULL adb log of the crash here -  [oppo-crash.log](https://github.com/google/ExoPlayer/files/7690490/oppo-crash.log)

from our debugging we think -
1. from the log it seems the crash was in the `WVCdm` process.
2. the same stream works on other Android devices
3. removing the audio streams i.e video only STILL crashes

@

[2021-12-10 09:44] enginegl commented on #9436
After some investigation we found out that the cause of this issue is an internal Android MediaSessions limit (100 sessions).
And as I wrote before, this issue is not related to ExoPlayer and can be closed.

**How to reproduce**
Just create 100 instances of MediaSession:
[code]

**How to fix**
You should release MediaSession instances that you don't need anymore.
[code]

Thanks to the article http

[2021-12-10 10:38] hemant1109 commented on #9772
Thank you @tonihei and @icbaker for quick response on this.

[2021-12-10 10:46] icbaker commented on #8176
@TaruiTakashi the bug report provided over email does not contain `CodecException` anywhere in its logcat output. I also don't see any references to ExoPlayer, not even the line that's logged every time a player is instantiated:
https://github.com/google/ExoPlayer/blob/029a2b27cbdc27cf9d51d4a73ebeb503968849f6/library/core/src/main/java/com/google/android/exoplayer2/ExoPlayerImpl.java#L172-L180

Pl

[2021-12-10 10:56] icbaker commented on #9774
I don't think port 80 is considered unsafe by cronet by default. There's a full list of 'unsafe' ports here and I don't see 80 listed:
https://chromium.googlesource.com/chromium/src.git/+/refs/heads/main/net/base/port_util.cc

It would seem strange for an HTTP library to block connections to port 80, given it's the standard HTTP port: https://en.wikipedia.org/wiki/List_of_TCP_and_UDP_port_numbers

[2021-12-10 10:56] #9774 closed, assigned to icbaker

[2021-12-10 11:03] giladna commented on #9773
Thanks @icbaker  for looking at this

[2021-12-10 13:00] chinmaymujumdar commented on #9768
So in that case we cannot use Exoplayer IMA extension as we need to play vmap ads(adrule) which has pre-roll, multiple midrolls and post-roll.

Also old IMA sdk had their own in built player which was accessible using below method.

AdDisplayContainer adDisplayContainer = mSdkFactory.createAdDisplayContainer();
adDisplayContainer.setAdContainer(videoAdContainer);

But this seems to be deprecated n

[2021-12-10 13:11] NitinSharma639 commented on #9734
Hi @icbaker

Can you give us some way we can improve on the player. It is just not about asking other apps. They will not give us there business logic. If there is some way we can improve our player. Please guide us.

Thanks

[2021-12-10 15:00] gheriRupchandani commented on #1574
@kevleyski

[2021-12-10 15:12] ghotik commented on #9761
Wow, thank you, it finally worked!!
Now I will be able to make my own patches to the sources, and of course whenever I'll find anything worth mentioning from my troublesome testbed I'll keep in touch and let you know, EXOPlayer deserves first class improvements.
Also, I'll try to polish my test project and pull it to GitHub, just in case anyone could be interested (display of 4 rtsp live streams c

[2021-12-10 15:30] icbaker commented on #9761
Glad you got it working!

[2021-12-10 15:30] #9761 closed, assigned to icbaker

[2021-12-10 15:36] ghotik opened #9775 "tolerance for rtsp track timing"
### [REQUIRED] Use case description
In my app, when developing disconnected from the cameras vpn, I find it handy to steal some frames from public rtsp streams, and this one is my favourite one:

rtsp://31.0.225.93/cam/realmonitor?channel=3&subtype=00&authbasic=YWRtaW46MTIzOTg3

but EXOPlayer doesn't show frames from this public camera because of the following error:

Server did not provide timing

[2021-12-10 16:46] christosts commented on #9686
In your code snippet, you're setting the bitmap's size to the view size. Have you tried setting the size based on the video size? See [Player.getVideoSize()](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/Player.html#getVideoSize()).

[2021-12-10 16:54] #9697 closed, assigned to claincly

[2021-12-10 17:17] christosts commented on #8951
If you are **not** using any extensions for video decoding, then try this
[code]

[2021-12-10 17:19] #9436 closed, assigned to SungsooLim

[2021-12-10 18:27] claincly commented on #9775
We have received a few similar issues now. Will include an option to ignore the timing info.

[2021-12-10 18:40] OrenMe commented on #9773
Do you see any meaningful errors from decoder that we can maybe try to take to the encoding provider to tweak their configuration?

[2021-12-10 21:28] NathanSass opened #9776 "Re: SecurityException caused by ConnectivityManager.registerDefaultNetworkCallback"
This issue is a continuation of [9002](https://github.com/google/ExoPlayer/issues/9002). We are still getting the original crash posted in the issue, because the solution shipped is modification to `Requirements.isInternetConnectivityValidated` which is not in the [original stack trace](https://github.com/google/ExoPlayer/issues/9002#issue-908201236).

The fix in 9002 is for `ConnectivityManager.g

[2021-12-11 15:55] traxformania opened #9778 "Stuttering and abnormally fast playing radio streams"
Sometimes i hear very bad audio quality(sometimes it fixes byself after some seconds), sometimes it plays abnormally fast radio streams.

Sample radio stream :   https://23603.live.streamtheworld.com/SC010_SO1AAC.aac

When I play this stream with VLC, I didn't encounter these problems a single time.

I'm using default settings.

What can I try?

[2021-12-13 02:04] #9680 closed, assigned to christosts

[2021-12-13 06:37] FTW-Khushal opened #9779 "onTracksInfoChanged called multiple times"
What I want:
-----------------------

- I want to listen for track changed so I make other methods in class aware which track is currently playing and prepare thing for the same
-  To do above function I found this listener #Player.onTracksInfoChanged which called when track is changed

What I did:
------------------------
- i implemented #Player.onTracksInfoChanged and use #player.seekToNext(); o

[2021-12-13 09:56] ghotik commented on #9775
Thanks a lot!

[2021-12-13 10:23] tonihei commented on #9768
If you were using the built-in IMA player, you'd have to same problem that your player and the IMA player need to be kept in sync (e.g. to pause playback while an ad is playing). So with a custom player, it's really the best option to handle the interaction with IMA directly as shown in their "Advanced sample app".

Since ExoPlayer supports simple and straight-forward integration with IMA, there i

[2021-12-13 14:42] emveepee opened #9780 "Enabling vnd.dvb.ait"
How can I enable vnd.dvb.ait from an mpeg-ts.  I am able to enable dvbsubs and closed captioning  but the teletext sub's don't show

[code]

For the other type I simply had to enable text so I simply added metadata.  Perhaps more is required?  I didn't change PlayerView

[code]

[2021-12-13 15:09] emveepee commented on #9780
A user provided this sample file https://drive.protonmail.com/urls/1CBRBEGEXR#lSYOoGtzu2TL  I am not sure how long it will be active.

[2021-12-13 15:52] christosts commented on #9778
I quickly tested the radio stream and did not notice any issue on a Pixel 4 with ExoPlayer 2.16.

To assist you we need more information such as the ExoPlayer version you're using and details about the device (including the Android version) you're experiencing problems with, and a bugreport grabbed just after the problem occurs. For more information you can refer to the issue template [here](https

[2021-12-13 15:52] icbaker commented on #9780
I think you might be asking about two separate things?

ExoPlayer has minimal support for Application Information Table (AIT) data (added in https://github.com/google/ExoPlayer/pull/6922) and it exposes this information as a metadata (not text) track, as you've shown in the logcat snippet. The AIT is defined in section 5.3.4 of [TS 102 809](https://www.etsi.org/deliver/etsi_ts/102800_102899/102809

[2021-12-13 16:08] christosts commented on #9779
Please refer to the documentation page [Detecting when playback transitions to another media item](https://exoplayer.dev/playlists.html#detecting-when-playback-transitions-to-another-media-item). It sounds like `Listener.onMediaItemTransition()` is the callback you need.

Thanks

[2021-12-13 16:08] #9779 closed, assigned to christosts

[2021-12-13 22:39] cabhara opened #9781 "Help with MediaSourceFactory for java.lang.NoClassDefFoundError: Failed resolution of: Lcom/google/android/exoplayer2/source/ads/AdsMediaSource$MediaSourceFactory;"
I'm implementing the IMA AdLoader into an existing project. I'm using the sample code on https://developers.google.com/interactive-media-ads/docs/sdks/android/client-side

Unfortunately I have to use version 2.15.1, as my project does not compile with exoPlayer 2.16.0+ (gradle version issues)
implementation 'com.google.android.exoplayer:exoplayer-core:2.15.1'
implementation 'com.google.android.exo

[2021-12-14 02:04] #9583 closed, assigned to tonihei

[2021-12-14 02:04] #9274 closed, assigned to tonihei

[2021-12-14 02:15] w3woody opened #9782 "SphericalGLSurfaceView appears to break on v2.16.1; same code works on v2.15.1"
When attempting to play a [360° video](https://relocity.sfo2.digitaloceanspaces.com/videos/deloitte/sf-360-trolly/playlist.m3u8) using the version 2.16.1 of the ExoPlayer, only a gray screen is displayed. Reverting to 2.15.1 of the ExoPlayer successfully plays the same video using the same code.

----

The source code for our view activity is largely cobbled together from the sample source kit, an

[2021-12-14 08:37] JiannaiJ opened #9783 "Execution failed for task ':extension-ffmpeg:configureCMakeRelWithDebInfo'."
when i assembleRelease extension-ffmpeg

extensions/ffmpeg/src/main/jni/ffmpeg/android-libs/ -->>
armeabi-v7a/libavcodec.a
armeabi-v7a/libavutil.a
armeabi-v7a/libswresample.a

Execution failed for task ':extension-ffmpeg:configureCMakeRelWithDebInfo'.

[2021-12-14 09:21] cdongieux opened #9784 "Improve default live quality increase settings to work with live streams playing at ~3 segments live offset."
I'm reproducing an issue with all versions of ExoPlayer from 2.13.0 to 2.16.1 where ExoPlayer does not switch to a higher resolution on a Live DASH stream with AVC video tracks.

ExoPlayer starts playing the 896x504 track then never chooses 1280x720 or 1920x1080 even if there is enough network bandwidth.

Here is the list of available video tracks:
[code]

As stream URL and DRM info are sensitive,

[2021-12-14 09:27] #9783 closed, assigned to nobody

[2021-12-14 10:34] christosts commented on #9782
@andrewlewis can you please take a look?

[2021-12-14 11:04] ghotik opened #9785 "Resource leakage after repeated usage"
Hello.
I got in my testbed a situation where EXOPLayer initially works very well but rapidly degrades and stops to show rtsp streams. I will describe the scenario here:

A security & surveillance App is using EXOPlayer to show up to 4 live rtsp streams on the same screen. This App will be used in complex contexts where the many cams will be grouped in groups of 4 cams each, hence the necessity to

[2021-12-14 11:11] tonihei commented on #9784
The short answer is that there is not enough buffered data to safely switch up to a higher quality.

The manifest is configured with a suggested presentation delay of 9.6 seconds, which is exactly 3 segments (as one segment duration is 3.2 seconds). So at the point where the player needs to select a newly available segment, it has at most 6.4 seconds (=2 segments) of media buffered. The actual val

[2021-12-14 11:27] cdongieux commented on #9784
Thanks a lot for your detailed answer!

[2021-12-14 13:04] christosts commented on #9785
Looking at the logs, it looks like the device runs out of decoder instances. From your description, I guess acquired decoders are not released properly. You mention you are releasing the players in `onDestroy`. I'm not sure how your app is structured, but can you try releasing the  players in your activity's `onPaused` or `onStop`? See the player's demo app [PlayerActivity](https://github.com/goog

[2021-12-14 14:00] ghotik commented on #9785
Thank you, the trick mostly worked.

I tried to apply your suggestion and the demo app example to my context, where there are some major differences:
1) the players are 4 instead on just one
2) I'm using a ExoPlayer in a SurfaceView instead of the StyledPlayerView of the example
3) the app is not supposed to pause or stop, it just terminates on the back button pressure.

If you wish to get more de

[2021-12-14 14:15] kim-vde commented on #9729
There are two reasons ParsableByteArray doesn't throw any ParserException:

1. ParserException is generally used for errors that come from invalid media files (in container, manifest, ...). We don't know in ParsableByteArray what is causing the error when we throw.
2. If we were to throw a ParserException in ParsableByteArray, we would have to propagate the exception declaration in many methods be

[2021-12-14 14:29] christosts commented on #9785
The stack trace attached on err_stopping.txt is because the MainActivity is calling `super.onDestroy()` from `onStop()`. Also, `onPause` is calling `super.onStop()`. I recommend that the MainActivity overrides call only their overriden lifecycle method. Please refer to the [Activity Lifecycle](https://developer.android.com/reference/android/app/Activity#activity-lifecycle).

Overall  we can assist

[2021-12-14 14:38] tonihei commented on #9781
This class was deleted in ExoPlayer 2.11.0.

As already pointed out in [#9726](https://github.com/google/ExoPlayer/issues/9726#issuecomment-981755572), it looks as if your gradle setup includes multiple versions of the same file, and in particular it seems that there are multiple versions of ExoPlayer's IMA extension (yours in 2.15.1 and another one with a version < 2.11.0). These clash at build t

[2021-12-14 14:45] ghotik commented on #9785
Oh, my ... something interesting happened.

I made a quick & dirty fix to my code including your suggestions (see MainActivity.java.txt) and this mostly worked very well, but the app often crashed on termination with Android reporting that the app "keeps terminating". See also the crash log in err_stopping.txt. Fearing that this could be my fault, I revised the code and found some bugs that caused

[2021-12-14 15:41] ghotik opened #9786 "Resource leakage after repeated usage #9785"
Please, reopen the issue bug request  #9785, I think my last post could be worth reading after some mistake I made.
Please, delete this issue afterwards.

[2021-12-14 16:07] cabhara commented on #9781
thanks for the tip!

[2021-12-14 16:39] christosts commented on #9786
I'll reply on #9785.

For future reference, you can still add comments on closed issues, no need to open new issues.

[2021-12-14 16:39] #9786 closed, assigned to christosts

[2021-12-14 17:11] christosts commented on #9785
In MainActivity.java the code is still buggy, `onStop` calls `super.onDestroy()` and `onPause()` calls `super.onStop()`.

- `onStop` should call `super.onStop()` only and no other lifecycle methods.
- `onPause` should call `super.onPause()` only and no other lifecycle methods.

As said above, these questions seems to be generic Android development issues and not about ExoPlayer.

[2021-12-14 17:11] #9785 closed, assigned to christosts

[2021-12-14 18:29] harini113 commented on #9766
hi christosts, Any update on the usage?

[2021-12-15 01:59] pwuamlogic commented on #9773
Hi,

This is Paul WU from Amlogic looking at this issue from decoder side. Here are some findings from a log captured yesterday in lab.

1. We add a patch (attached) onto framework/av to dump all the rendering or dropping of frames:
[frameworks_av_MediaCodec_ACodec_render.zip](https://github.com/google/ExoPlayer/files/7715818/frameworks_av_MediaCodec_ACodec_render.zip)

2. With it, we got this log

[2021-12-15 02:04] #9539 closed, assigned to marcbaechinger

[2021-12-15 08:48] tonihei commented on #9773
The release timestamps are adjusted to match with the display's vsync times. That's why it's jumping by a full additional 20ms instead of increasing gradually.

We are aware of some device-specific issues on some TVs where live speed adjustment causes visible dropped frame effects every 2 seconds. Could you try setting:
`MediaItem.Builder.setLiveMaxPlaybackSpeed(1f)` in your `MediaItem`?  Just to

[2021-12-15 09:15] giladna commented on #9773
@tonihei
@icbaker

Thanks,
I will check this suggestion and update

10x
Gilad

[2021-12-15 09:19] MBakhshi96 opened #9788 "Huge increase in number of dropped frames after upgrading from v2.11.8 to v2.16.1"
After upgrading from exoplayer v2.11.8 to the latest version, I am experiencing a huge increase in dropped frames on my device. To better understand the problem, I tried to test with versions in between, but it didn't help. Actually, v2.12.3 was the highest version that frame drops were negligible, and the problem persisted in later versions. It seems that there has been some changes that have cha

[2021-12-15 10:12] christosts commented on #9766
We will add getMetric() on MediaCodecAdapter - I will post an update once the commit is submitted.

[2021-12-15 12:13] eddardsnarf opened #9789 "Cannot find a recommended way or moment for releasing the simple-cache instance, in the ExoPlayer Android documentation."
I've tried searching everywhere in the documentation or the github issues page for my current use-case, but couldn't find anything. Apologies if I missed anything.
Current use-case on Android:
- I have a backstack of 2 similar activities on "top" of each-other.
- both activities have a ExoPlayer which uses a CacheDataSource factory as the DataSource factory. (in this factory I'm plugging in a simp

[2021-12-15 12:36] christosts commented on #9766
Please see the commit linked above - the API will be available on the next release

[2021-12-15 12:36] #9766 closed, assigned to christosts

[2021-12-15 13:44] MBakhshi96 commented on #9788
I have edited the comment with some more lines from the logcat.

[2021-12-15 14:31] christosts commented on #9788
I assume that your tests are with the ExoPlayer demo app. Please correct me if that'n not true.

According to the log, the device's decoder (`OMX.allwinner.video.decoder.avc` - which I assume is a hardware one) cannot decode the stream and the player uses the software decoder `OMX.google.h264.decoder`. It wouldn't be surprising if the frames are dropped because the software decoder is used, althoo

[2021-12-15 14:36] tonihei commented on #9750
The checks have been added by the commit above and will be part of the next release.

[2021-12-15 14:36] #9750 closed, assigned to tonihei

[2021-12-15 14:37] tonihei commented on #9579
Added support by the commit above.

[2021-12-15 14:37] #9579 closed, assigned to tonihei

[2021-12-15 16:26] MBakhshi96 commented on #9788
No, I'm not using the demo app. I can test the url with the demo app, if it's necessary, but I think the problem will persist.

I can confirm that the problem is a caused by not using the hardware decoder (`OMX.allwinner.video.decoder.avc`) in newer versions. I suspect that it might be a consequence of a change in decoder selection. Here you can find the same part of logcat using v2.12.3 (which is

[2021-12-15 17:03] christosts commented on #9788
First, here's a workaround to make ExoPlayer pick the hardware decoder: pass a custom `MediaCodecSelector` to the player

[code]

Let us know if that fixed codec selection on your device.

Second, we have already submitted an improvement to prefer the hardware-accelerated codec. The code is in the dev-v2 branch and will be part of the next release. I'd appreciate if you could checkout the code fro

[2021-12-15 18:18] harini113 commented on #9766
thank you

[2021-12-16 07:18] chowg1762 commented on #9742
Hello, I don't 100% understand the multiple videos simultaneously in the same view but if you mean one ExoPlayer supports multiple videos, I think that you would be better to follow the @ojw28 's suggestion.

Making multiple videos to play on the one player has a lot of things to be considered.  For example, if you want to play two videos in the single player, and each video has different framerat

[2021-12-16 09:20] Gnzlt commented on #9783
I'm having the same issue, any update on this?

[2021-12-16 11:03] fkaduch opened #9790 "Continue casting with a new MediaItem"
Hello,

I try to continue casting using CastPlayer with a new MediaItem, but unsuccessfully. What I am trying to do, is similar in Youtube: I start casting some video, then hit another video on the screen and the cast continues with a new video, This is not possible with cast demo app, when I select a new video link, cast dialog show just blue cast icon and cast dialog shows message "No media sele

[2021-12-16 11:35] giladna commented on #9773
@tonihei
Hi,

It seems that setLiveMaxPlaybackSpeed(1f) fixes this behaviour for live media thanks!

This live stream has catchup and this flag is not helping for this case since it is not live anymore
how can we handle this behaviour in live streams that were recorded for future use?
10x

[2021-12-16 12:06] marcbaechinger commented on #9667
You shouldn't use the files in the cache directory or the database table directly. Instead you should use the Cache API for accessing cached content by a `CacheMediaSource` as described in our [docs](https://exoplayer.dev/downloading-media.html#playing-downloaded-content). There is no direct file access to cached files. If you are reverse-engineering what is done under the hood you may run into pr

[2021-12-16 12:28] marcbaechinger commented on #9789
As you say you need to release the cache before another client tries to access it.

The `onDestroy()` lifecycle method of the activity gives you not much guarantees on when it is called, so you should use `onStop()` instead. Actually I think for your use case you need to initialize/release the cache when you initialize/release the player, So this would mean moving it from `onCreate/onDestroy` to '

[2021-12-16 13:58] tonihei commented on #9773
Thanks for testing!

Could you let us know exactly on which devices you observed this to be a problem? So far we know of two TV types that have this problem (Nvidia Shield Pro 2019 Android 9 and a Sony Bravia 4K), other devices like ChromeCast and all phones we tested with don't exhibit the problem. We will disable speed adjustment automatically (independent of content) on devices known to have pr

[2021-12-16 14:23] eddardsnarf commented on #9789
I understand what you mean.
I just thought that doing the init/release of the SimpleCache in the `onStart/onStop` methods would make it init/release even when the app goes in the background (pressing home-button), which I'm not sure if it's a desired effect . We would be recreating the SimpleCache unnecessarily,right?

But if there is no other way, currently to do it. I'm gonna try and do it `onSt

[2021-12-16 14:30] marcbaechinger commented on #9776
Thanks for reporting.

I think the fix we provided is probably much easier than what it needs here. There, we catch the `SecurityException` that is thrown by the system when we call `getNetworkCapabilities()` and then we assume that the internet connectivity is successfully validated. So on devices with this bug that causes throwing the `SecurityException`, this makes it work approximately the sam

[2021-12-16 15:24] marcbaechinger commented on #9789
Yeah, I agree with your point.

You other approach may work too in my opinion, but I was hesitant to recommend it because I'm not totally sure what happens if `SimpleCache.release()` is not called.

I'm not worried about the file lock actually, because this file lock is just a list of paths hold by the app. So once the app has finished and is restarted these locks are gone. It was more about the c

[2021-12-16 16:18] giladna commented on #9773
@tonihei  I assumed that I should not set this flag if media is not live media (setLiveMaxPlaybackSpeed)

should I?

[2021-12-16 16:19] tonihei commented on #9773
It shouldn't make a difference at all, the value is only applied if the content is live.

[2021-12-16 16:23] giladna commented on #9773
@tonihei

OK,
So i did not set it al all for none live media in my code
but the issue is there since  the recorded media has same pattern as live media the only thing is that we cannot influance on the behaviour

I am also wondering how I can be sure if the problem is on player side or media side
as Ian wrote it was observed on VLC for him

[2021-12-16 16:32] tonihei commented on #9773
I think we might be talking about different issues here:
 1. A video decoding artefact that is related to the media (and is visible in VLC as well).
 2. A device-specific rendering problem related to speeding up the media during live playback.

Issue (2) should only affect live playbacks and if setting the max speed to 1f helps to solve it, it would be great if you could let us know which devices

[2021-12-16 20:33] VuzzyM commented on #4066
@google ?

[2021-12-17 02:04] #9657 closed, assigned to christosts

[2021-12-17 02:04] #9636 closed, assigned to christosts

[2021-12-17 07:17] AnkitKumarMaurya opened #9791 "Failed to initialize OMX.MTK.VIDEO.DECODER.AVC, error 0xfffffff4"
[code]

I am getting this error for some devices only and also for some specific videos . After getting this exception Exo player showing black screen for every. It is working when reopen app. I am using 2.10.0 version

[2021-12-17 07:28] eddardsnarf commented on #9789
Alright. Thank you for the explanation. In my honest opinion, the last paragraph that you wrote is a nice explanation which would be nice to have in the official documentation or in the demo app as a comment.

Thanks again 👍
Closing the issue

[2021-12-17 07:28] #9789 closed, assigned to marcbaechinger

[2021-12-17 11:45] mikescamell opened #9792 "onIsPlayingChanged not called when casting"
Hi I'm trying to implement the cast extension in our app but I'm having some issues with callbacks.

When casting using the ExoPlayer cast extension, pausing and playing the `onIsPlayingChanged()` callback does not called.

To reproduce

- Add this block of code to the `PlayerManager`
[code]
- Load the demo and play some content
- Cast
- Play/Pause content repeatedly

Expected: The `onIsPlayingCha

[2021-12-17 14:36] zoomGitS commented on #7982
Any new suggestion about this problem?

[2021-12-18 09:08] MBakhshi96 commented on #9788
Seems that your provided solution by using a custom `MediaCodecSelector` has fixed the problem. The hardware codec was present in the list of the available codecs but the sorting logic used inside `MediaCodecVideoRenderer` seems to have prioritized the software codec.

[2021-12-18 12:06] Shantanu-tec opened #9793 "Can I play YouTube videos with ExoPlayer?"
I just simply dont want to use Any kind of Services provided by AWS..
I want my running app to able to play Video such as .m3u8 or extracted youtube urls seamlessly.

But it wont play like that even though i have tried to change my Exoplayer Library from 2.7.4 to 2.15.1.
In every upgrade in Library there are some problems like loading issues which is there to download all the available chunks at o

[2021-12-18 18:04] Nioh8 opened #9794 "Dolby Vision/HDR10 video file defaults to dolby vision"
- ExoPlayer version number: 2.16.1
- Android version: 9
- Android device: Nvidia Shield Pro 2019

Also referenced in issue #8944

So i am using justplayer (which is using exoplayer) on the nvidia shield to play my blu ray rips. blu ray rips which contain both the dolby vision and hdr10/10+ metadata.

My tv only supports hdr10 but instead of exoplayer recognising both metadata and switching over to

[2021-12-18 20:51] emveepee commented on #9780
Thanks yes there are two questions and you answered them both, I incorrectly assumption ExoPlayer supported teletext and it was in the AIT metadata.  I forgot only enabled the metadata listener in audio.

[2021-12-19 17:53] xhbadxx opened #9795 "Error when change subtitle track"
Case i'm using ExoPlayer v2.16.1:
1. Change subtitle from video.
2. Change bitrate or new video url..
--> Error and player can't play the video.

[code]

Please help me to check this problem.

[2021-12-20 06:25] #9622 closed, assigned to dino-saurabh

[2021-12-20 08:39] christosts commented on #9788
I'll close this issue for now.

I'd appreciate if you have the time to revisit this when 2.17 is released. The player should pick the hardware decoder without any customization needed. If you test this, there's no need to re-open the issue, a simple comment would work.

Thanks!

[2021-12-20 08:40] #9788 closed, assigned to christosts

[2021-12-20 08:43] blonsky95 commented on #7982
@zoomGitS Not sure if you need audio or not, but if you dont, the speed changes work without clunkiness or delay, by setting `setEnableAudioTrackPlaybackParams(true)` and this other change which is explained better above by Andrew:

[2021-12-20 09:12] #9780 closed, assigned to icbaker

[2021-12-20 09:24] christosts commented on #9791
From the stack trace, it looks like the AVC decoder instance is leaked; likely it has been acquired and not released properly by another playback attempt. I can't provide more info from this stack trace, it could be that your app is not releasing player instances properly, or some other app is holding the decoders. To better assist we would need more information about your use-case, and ideally bu

[2021-12-20 10:17] SaurabhOfficial commented on #9432
@ojw28 when no text tracks are selected shouldn't the `forced-subtitle` track for the audio language being played in the player, be forced in the playback, since I tried to test a stream with forced subtitle option and it shows multiple text tracks with the same language and doesn't force the subtitle tracks when no subtitle tracks are selected.
e.g if I am playing with audio track of lang_code =

[2021-12-20 10:20] icbaker commented on #9432
@SaurabhOfficial Please file a new issue with the info requested in the template (media we can use to reproduce the issue, and a bug report taken after reproducing in the demo app).

[2021-12-20 11:15] emilieroberts commented on #5428
Hello, I was wondering if there have been any updates with this for Q/R/S ?

[2021-12-20 11:18] marcbaechinger commented on #9795
Assigning to @icbaker for subtitle expertise.

@xhbadxx I think we need some more info from your side though. I think it would be helpful to have the stream URL that you are playing. Also it would be helpful to tell us a bit on how you expect that the subtitle track is going to be enabled and if you did this in code please send us a snippet that tells what you did.

The standard answer for referen

[2021-12-20 11:29] marcbaechinger commented on #9793
Sorry, I didn't understand what your issue is I'm afraid. If you have difficulties playing an HLS stream please include the URI to the stream or send it by email as described below. If your issue is different please elaborate on it. We need a bit of actionable info. Rest assured we won't ask you to use AWS (you have my word!).

Please provide complete information as requested in the issue template

[2021-12-20 11:36] christosts commented on #9794
Yes, a link to test content, reproduction steps and a [bug report](https://developer.android.com/studio/debug/bug-report) obtained from the device right after the issue occurs help us debug issues like this.

If you're unable to share [bug reports](https://developer.android.com/studio/debug/bug-report) or test content publicly, please send them to dev.exoplayer@gmail.com with subject "Issue #9794"

[2021-12-20 11:46] breversa opened #9796 "[Feature Request] Add support for ReplayGain"
Hi !
Dozens of Android audio players, but only a handful of them actually support [ReplayGain](https://en.wikipedia.org/wiki/ReplayGain), and none of them are ExoPlayer-based AFAIK.

So would implementing ReplayGain support in ExoPlayer allow the batch of ExoPlayer-based players (such as https://github.com/OxygenCobalt/Auxio/issues/7 ?) to natively honor ReplayGain tags (especially R128 for FLAC)

[2021-12-20 11:53] SaurabhOfficial opened #9797 "A default text track in language X is preferred over a forced text track in language Y when audio language Y is selected"
When filing a question:
-------------------------
1. What is the default behavior for `forced-subtitle` text tracks in exo-player, if no text track is selected then is it expected that the `forced-subtitle` track, appropriate for that particular audio track will be selected?
2. At present with the demo application, I am able to see repeated text tracks (As mentioned in Issue #9432), and selecting

[2021-12-20 12:13] marcbaechinger commented on #9796
I actually don't really know what  your request is asking for in detail I'm afraid. :)

If you let me know what tags this is refering too in which media format, the I can probably tell how you can access these tags so you can implement support for ReplayGain yourself. You probably also want to clarify what you mean by 'natively honor`. If this would be adjusting the volume according to the tags fo

[2021-12-20 12:14] icbaker commented on #9797
The MPD provided over email uses relative URLs, so I can't use it to play back the content (since I don't know where the content is hosted).

Can you please provide a link to a hosted MPD file that will allow me to play back the content so that I can reproduce the issue?

[2021-12-20 12:23] schnaps1981 opened #9798 "Provide custom data in MediaQueueItem to be used by the Cast API"
some time i used Exoplayer v2.14

This version had method addItems(MediaQueueItem... items) in CastPlayer class
And I was able to add custom data for items (for example boolean) like this

`mediaQueueItem.media.customData?.put(KEY, true)`

my cast receiver get this boolean and show some icon if value is true

but in one of last version of Exoplayer method **addItems** was removed and now i can't s

[2021-12-20 12:36] marcbaechinger commented on #9798
When you create an instance of the `CastPlayer` you can pass a custom [`MediaItemConverter`](https://github.com/google/ExoPlayer/blob/7fe9ecc1c592b758e76f6b458e0dc43cce282e5f/extensions/cast/src/main/java/com/google/android/exoplayer2/ext/cast/MediaItemConverter.java) to the [constructor](https://github.com/google/ExoPlayer/blob/7fe9ecc1c592b758e76f6b458e0dc43cce282e5f/extensions/cast/src/main/jav

[2021-12-20 12:55] unDEFER opened #9799 "Memory leak in r2.16.1"
Hello!
I have detected memory leak in exoplayer 2.16.1 with speed ~50 Mb per minute in the next point:
![Allocation_Call_Stack](https://user-images.githubusercontent.com/6921745/146769925-53609493-966a-42eb-8574-7835ed7b7a0a.png)
Which info must be provided more to be fixed?

[2021-12-20 13:18] marcbaechinger commented on #9799
Please describe the memory leak that you have detected in more detail. The screenshot you provide shows that there is memory allocated when reading for extracting media data for HLS. This is something that happens very often when playing media as it is part of the process. There is no indication that this is a memory leak from the information provided.

How did you find the leak? If you have a sta

[2021-12-20 13:26] SaurabhOfficial commented on #9797
Sure will share some public stream after reproducing this scenario, and notify here.

[2021-12-20 15:07] SaurabhOfficial commented on #9797
I was able to get multiple English subtitle texts with this stream https://devstreaming-cdn.apple.com/videos/streaming/examples/bipbop_16x9/bipbop_16x9_variant.m3u8

[2021-12-20 16:10] icbaker commented on #9797
I've played with the bipbop stream and the `StyledPlayerView` subtitle selector. I think everything is working as expected, given that https://github.com/google/ExoPlayer/issues/9432 is not implemented. I observed:

* When starting playback with no explicit track selection preferences, the 'first' english subtitle track is selected. This is because it has the `default` selection flag (which is der

[2021-12-20 16:16] schnaps1981 commented on #9798
thank you so much!
i'll try it

[2021-12-20 16:28] SaurabhOfficial commented on #9797
Yes, I saw that fix for #9727 was made in the dev-v2 branch so I used that branch for testing the .mpd file shared over mail. I was able to see multiple entries in the text selection dialog since that fix worked.

It turns out, when I start the playback without specifically selecting any text track, no subtitle is being displayed but I was expecting that `forced-subtitle` for `en` language tag be

[2021-12-20 16:30] icbaker commented on #9797
From what you've described that sounds unexpected. Please provide media I can use to reproduce this behaviour.

[2021-12-20 16:38] SaurabhOfficial commented on #9797
Sure I will try and get the same stream for reproduction of this Issue and notify here again.

And one more question which might help me in understanding this better, how do we make sure that no text track is selected while playing a content so that forced subtitle for that particular audio language takes over? since If I select `None` renderers get disabled, and if I select a particular text trac

[2021-12-20 16:56] icbaker commented on #9797
Using an `ExoPlayer` instance with no explicit track selection customisations should have the expected behaviour of selecting the `forced` track.

In the demo app you should be able to achieve this by starting playback and not interacting with either of the subtitle selection controls.

[2021-12-20 17:08] giladna commented on #9773
@tonihei yes this observation is correct
though I have no clue how to provide proof that there is media issue there.

we have a concern regarding this fix, if we start play with the speed config issue resolved but, we could see that if we seek back in the live stream then issue is there again.
could you tell why this happens or how to force it back to 1.0 after seek?

10x
Gilad.

We could see that

[2021-12-20 17:15] SaurabhOfficial commented on #9797
The Auto option doesn't render the forced subtitle for me even in the bipbop stream that I shared above. When I select none in the bottom `cc` image button and auto in the `select tracks` dialog, I am not sure if It's expected to render the `forced-subtitle` or track marked with `DEFAULT=YES`, but I was not able to see any subtitle track while playing it.

Similarly, I am not able to get any force

[2021-12-20 17:27] tonihei commented on #9773
This sounds as if the underlying device issue comes up in more ways than just live speed adjustment. Setting the value to 1f once always keeps it that way. The fact that you are still seeing the issue after seeking and also for VOD streams suggests that this is generally happening on these devices.

Our initial investigation came to a similar conclusion that it depends on some internal device scre

[2021-12-20 18:03] icbaker commented on #9797
I just played around some more, and I think my second bullet was incorrect - I've removed it now. The best way to get 'automatic' behaviour is just to start playback from scratch. The two track selectors in the demo app interact in quite a confusing way.

I observe:
* Selecting a specific track or 'None' (i.e. not 'Auto') in the top (demo-app only) selector will cause the same track to be selected

[2021-12-20 18:55] Nioh8 commented on #9794
I have sent an email with a link to media that contains the dolby vision/hdr 10 metadata.

as for testing the demo application. the only android enviroment i have is the nvidia shield, i have a windows pc
so i am not sure how i would test that on my end.

also not sure what i would have to do to send a bug report from the shield device.

my best help is the media file i have emailed with a link to

[2021-12-20 19:29] tidoemanuele commented on #9565
Same problem here with LENOVO TB-X306X running the latest exoplayer version (2.16.1).
Here how I'm temporary solving it:

- For all devices running Android 10 or above I use the VideoCapabilities to understand if the device is able to play the highest quality track. If not I limit the track list by framerate or bitrate for all the play sessions.

- For all devices running Android 9 and below I'm l

[2021-12-20 22:27] marcbaechinger commented on #9792
I can confirm this behaviour. We will provide a fix for this. Thanks for reporting!

[2021-12-20 23:38] marcbaechinger commented on #9790
The `CastPlayer` implements the `Player` interface. So everything available on the `Player` interface can be done with the `CastPlayer` in the same way as with other implementations of the `Player` interface (for instance `SimpleExoPlayer`).

So for your use case this would be something like this for setting a single media item that should replace everything what was in the playlist before

[code]

[2021-12-21 01:34] guoen21 commented on #9547
Thanks very much for your reply.

[2021-12-21 05:33] schnaps1981 commented on #9798
thank you so much! it's works

[2021-12-21 06:08] SaurabhOfficial commented on #9797
True once I uninstall the application and then start the .mpd stream again without fiddling with the controls, forced English subtitles to start playing since I started the playback with English audio, `StyledPlayerView` at the bottom says English and `select tracks` at the top says `Auto`.
One more question before I close the Issue, is there a way to change the audio track and see the correspondi

[2021-12-21 07:48] unDEFER commented on #9799
OK, I agree that from the screenshot is not clear that it is memory leak. Here more full:
![Memory_Leak](https://user-images.githubusercontent.com/6921745/146889904-45b1cbc3-9105-429c-8308-2a988610a083.png)
From this you can see how many GC times worked, but this memory still not deallocated.
I found this leak on device with small amount of RAM, I have out of memory stack, but out of memory except

[2021-12-21 09:12] #9798 closed, assigned to marcbaechinger

[2021-12-21 09:28] ajkiosd commented on #9541
I had same issue and i fixed it like this:
[code]

[2021-12-21 09:39] ojw28 commented on #9799
There's an issue with the emulator that can cause this behavior (see https://github.com/google/ExoPlayer/issues/8801), which might be what you're seeing above since it looks like you were using an emulator when profiling. Please try profiling on a physical device instead, and you will likely not see this leak behavior.

[2021-12-21 10:28] icbaker commented on #9797
I hacked the demo app to 'manually' add some subtitle tracks with various languages and selection flags to a playback using `MediaItem.Builder#setSubtitleConfigurations`. I replaced this line with the following code:
https://github.com/google/ExoPlayer/blob/46ab94bd4152b0addc2253585435186fc9e75582/demos/main/src/main/java/com/google/android/exoplayer2/demo/PlayerActivity.java#L255

[code]

The res

[2021-12-21 11:22] DanijelBojcic opened #9800 "RTSP DESCRIBE 401 when both BASIC and DIGEST auth is offered."
When trying to play a HikVision IP Camera I get `DESCRIBE 401` error.
The URL looks like this: `rtsp://USER:PASS@172.30.34.12:554/Streaming/channels/102`

Formats ( based on VLC's media information ) : `H264 - MPEG-4 AVC (part 10) (h264)`

Changing `WWW_AUTHENTICATION_HEADER_BASIC_PATTERN` to match `WWW-Authenticate: Basic realm="IP Camera(C1214)"` ( mentioned [here](https://github.com/google/ExoP

[2021-12-21 11:47] SaurabhOfficial commented on #9797
Yes it should play the Hindi track I think its because of the UI Issues, The forced text track is not getting changed Thanks for all the help, will try to fiddle with the `StyledPlayerControlView` to fix the Issue of filtering the available tracks using the flag `C.SELECTION_FLAG_FORCED` also will try and make the behavior of `None` in the bottom selector similar to the `Auto` option in the top `s

[2021-12-21 11:50] icbaker commented on #9432
@ojw28 Do we want to show the name even if it's a 'forced' track? It seems perhaps a user shouldn't even 'know' that a forced track is selected, since it's assumed to be required to understand the content of a given audio track.

[2021-12-21 11:57] icbaker commented on #9797
I added a comment to #9432 about whether the UI should expose that a forced track is selected at all.

While looking into this issue I also spotted what I think is a bug in `DefaultTrackSelector` when the content has both default and forced tracks in a variety of languages. Something like:
[code]

Current behaviour:
* When the english audio track is selected the default english text track is selec

[2021-12-21 12:18] breversa commented on #9796
Thank you @marcbaechinger for your reply, and sorry for not being clear enough, so here's some more info:

First of all, I'm no Android developer, but just a music app user.

I thought I understood that many Android music apps are basically some kind of front-end to ExoPlayer that handle the media loading/playing/etc.

And I thought that tag-reading was part of that too, and that if ExoPlayer does

[2021-12-21 12:50] marcbaechinger commented on #9796
According to the [Wikipedia article you linked](https://en.wikipedia.org/wiki/ReplayGain#Metadata), the tag is an 8-byte field that is delivered with a tag of the given format. Different audio formats have different ways of including these tags in the binary file. The article mentions FLAC, Vorbis and MP3. I think we deliver tags for these formats already via `MetadataOutput`. So regarding native

[2021-12-21 13:51] claincly commented on #9800
The error happened because the server doesn't recognize the provided authentication info (`YWRtaW46ZGlnaXRhTGhpdkUh`). To isolate the issue, can you try
`base64_encode("<username>:<password>")`

and see if it matches `YWRtaW46ZGlnaXRhTGhpdkUh`?

As an aside, the current regex does match `Basic realm="IP Camera(C1214)"`

[2021-12-21 13:58] claincly commented on #9800
My guess is, although your server provides BASIC auth scheme, it does not actually supports it. The server supports digest auth only.

[2021-12-21 14:12] ojw28 commented on #5428
If you swap the `Surface` to which the player (or at a lower level, the `MediaCodec`) is rendering to, then the limitation that it's necessary to advance to the next frame still exists.

However, `SurfaceControl` was added in Q, and effectively avoids the need to swap the `Surface` by allowing a `Surface` to be reparented to a different view (and exist in a detached state). Hence `SurfaceControl`

[2021-12-21 14:48] sixones commented on #9795
@marcbaechinger Seeing this as well with subtitles enabled when switching to an IMA ad pod, looks like Exo v2.16.1 is attempting to apply the track selection to the new content (in my case an advert) when the same tracks don't exist.

[2021-12-21 16:06] cabhara commented on #9781
I removed expo-av from my react native project (now have to replace all video and audio playing by expo-av with exoplayer) as expo-av was using exoplayer 2.9.2 under the hood. project is compiling and working now.

[2021-12-21 16:06] #9781 closed, assigned to tonihei

[2021-12-21 16:12] OxygenCobalt commented on #9796
@marcbaechinger Hey, I'm a developer of a music app that would benefit from this support, so I'm trying to implement this feature. What you said about `MetadataOutput` is interesting. I tried to attach a `MetadataRenderer` to my player instance and then add an instance of `MetadataOutput`, like below:

[code]

But this doesn't seem to call the `MetadataOutput` instance at all, even with media that

[2021-12-21 16:26] icbaker commented on #9795
@sixones I'm unable to reproduce a crash using version 2.16.1 when entering an IMA ad pod - but I did reproduce a crash with the same stack trace as this issue. I did the following:

1. Modified the demo app JSON to create an item with both both `ad_tag_uri` and `subtitle_uri`, `subtitle_mime_tye` and `subtitle_language`:
[code]
2. Played the modified media item.
3. Watched the pre-roll, content a

[2021-12-21 19:43] DanijelBojcic commented on #9800
I can confirm that it matches `YWRtaW46ZGlnaXRhTGhpdkUh`

If the problem is on the server how can VLC play it?

[2021-12-21 20:26] ojw28 commented on #9797
I'm pretty sure this is expected, because the track has the "default" flag specified. I'd expect this track to be a superset of what's in the forced track of the same language. As a concrete example, suppose you're providing a Star Trek streaming service to a primarily non-English speaking region (without dubbed audio). You might provide two text tracks:

1. A default track in the primary language

[2021-12-21 20:28] fkaduch commented on #9790
Hi Marc,

thanks for your reply, it works this way.

best regards

Frantisek

On 21. 12. 2021 0:38, Marc Baechinger wrote:

--
--------------------------------------------------------------
Ing. František Kadúch
Satro s.r.o.
Hodoninska 25,
841 0 Bratislava
Slovak republic
Office: +421-2-33006414

[2021-12-21 21:52] giladna commented on #9773
@tonihei

I came across this guide:
https://developer.android.com/guide/topics/media/frame-rate

do you think that there is a possibility that this has to be configured by the app?
Is it something  exo player config will manage?
Will it be relevant for Android 12 only?

[2021-12-21 22:01] ojw28 commented on #9432
That sounds right. I think the UI should show CC as "off" or "none", but the forced track should still be selected.

[2021-12-21 23:25] #9746 closed, assigned to ojw28

[2021-12-21 23:59] ojw28 commented on #9602
Please provide a minimal patch for the demo app that reproduces this problem. It's impossible to provide any guidance from the information provided. The media links provided are also not accessible; they both return HTTP 503.

[2021-12-22 02:56] KazukiSugiyama107 opened #9801 "I get a MediaDrmStateException on SHARP devices with Android 11."
An error may occur during playback of streaming or download.
The device that occurs is a SHARP terminal, and the OS is Android 11.
System update and security update will be after May 1st.

Do you know the relevance of system update and security update?

We will submit a bug report, so please check it.

- Streaming playback
[code]

- Download playback
[code]

- Android version：Android 11
- Android

[2021-12-22 05:01] spuday90 opened #9802 "MergingMediaSource is not supported by DownloadHelper"
Hi,
Im unable to download a drm stream if external cc is added to it. I have tried the same stream in the exoplayer sample also and faced same issue. Getting streamKeys from downloadrequest empty. Please help.

[2021-12-22 09:06] LinChengChun opened #9803 "How to develop a OpusReader for TsExtractor & Extractor module?"
I want to play a online file, names "http://ip:port/group1/M00/00/40/rBAiH2Ggj8eAJR2rAA14oPgeNEQ2638.ts". This is a video & audio record file. The SimpleExoPlayer is normal, we can see the video, but silence.
I found the reason,maybe ts contianer have a opus codec for audio. It is not normal ts file audio codec. TsExtractor skip the audio pid who 257,so i want to develop a  OpusReader for decode o

[2021-12-22 09:13] Pavel87 commented on #9748
It would be nice to have. For now, I work around it by doing a lookup into downloads and pulling the URIs, and feeding them into the player.

[2021-12-22 09:13] #9748 closed, assigned to ojw28

[2021-12-22 09:25] icbaker commented on #9797
Yes this reasoning makes sense - the commit I've sent to you for review retains this behaviour (when audioLanguage=X then a default text track in language X is preferred over a forced track in language X) - I changed it after writing the comment above (and added a test case to confirm the behaviour).

-------

Hmmm, maybe you're right. I started writing this example as a counter-argument, but it's

[2021-12-22 10:23] icbaker commented on #9801
The bug report provided over email does not contain `MediaDrmStateException` anywhere in the logcat. Please reproduce the issue immediately before capturing the bug report (ideally in the [ExoPlayer demo app](https://exoplayer.dev/demo-application.html), or [with an `EventLogger` attached](https://exoplayer.dev/debug-logging.html), as it will include more detailed logging that may help to diagnose

[2021-12-22 10:25] tonihei commented on #9773
ExoPlayer is already using this method, but only on API 30+, so it can't affect the devices showing this problem.

[2021-12-22 10:27] Shantanu-tec commented on #9793
I dont have any problem with hls stream. The problem is when i play youtube videos with exoplayer , so for that i have to use youtube extractor and then the extracted url will pass to exoplayer to play, but it doesnot play it smoothly, buffering keeps on occurring.

[2021-12-22 10:28] Shantanu-tec commented on #9793
is there any way where i can resolve this without using any kind of service

[2021-12-22 10:30] marcbaechinger commented on #9796
Can you add your media to the demo app and then see if the metadata is reported? You would see this in the logs of the demo app or when placing a breakpoint in the `EventLogger`.

Alternatively you can post a link to the media here, explain what tags you expect so I can have a look.  If you're unable to share test content publicly, please send them to dev.exoplayer@gmail.com using a subject in the

[2021-12-22 10:37] marcbaechinger commented on #9802
Can you describe in a bit more detail what you are trying to do and how? Are you creating a `MergingMediaSource` to sideload subtitles? How do you attempt to download the stream?  Please give us some more details to make your issue actionable.

[2021-12-22 12:17] marcbaechinger commented on #9793
Please accept my apologies but I'm still not totally clear what the problem is.

Firstly, I'm afraid but if you are asking me to support you to play YouTube videos that have been extracted in some ways, then I think you understand that I don't provide you support for this. Let me know if you want me to explain this in more detail.

You also may want to see [the section about playing YouTube videos

[2021-12-22 12:22] spuday90 commented on #9802
Hi @marcbaechinger ,
I'm loading subtitles using MediaItem.AdsConfiguration to MediaItem.
We have followed the sample code to initiate the download.
After selecting the Video quality when we call getDownloadRequest
In the below method Stream keys from mediapreparer are getting empty.

[code]

  Note: We are using Widevine  url.
  Please let me know if u need any other information

[2021-12-22 14:32] claincly commented on #9800
It would be helpful if you wireshark VLC and confirm if it uses digest instead. If it is, it's a sign for us to add "force using digest auth"

[2021-12-22 16:33] asinel opened #9804 "Artifacts when Colour profile is HD(1-1-1)"
Videos with colour profile HD(1-1-1) are playing with a lot of blur and artifacts, while the same video without this color profile is playing correctly.
<img width="258" alt="Screenshot 2021-12-22 at 17 29 29" src="https://user-images.githubusercontent.com/11772185/147124490-516e03e1-6f82-478b-ab0f-39802c5b3a45.png">

The bug can be reproduced with the Exoplayer Demo app.
`
adb shell am start -a c

[2021-12-22 18:23] kapodamy opened #9805 "What is the replacement of simpleExoPlayer.addTextOutput(textOutput)?"
it was deprecated on commit https://github.com/google/ExoPlayer/commit/38e5864f87b8e24e69db7144be3bc792a02650cd but ¿what is the replace?. Also the RELEASENOTES.md does not mention anything (only describes SubtitlteView)

[2021-12-22 18:57] OxygenCobalt commented on #9796
Metadata is not reported on the demo app either, but any audio/video `Renderer` instance reports it just fine. I've decided just to override `onTracksInfoChanged` and just get the metadata from the currently selected track, as that seems to work.

[2021-12-22 20:13] denis-bezrukov opened #9806 "Exoplayer fails to initialize after multiple release timeouts"
Background:
We heavily use exoplayer in our app - we have 10+ various screens that play a video inside. We do not use shared instance of exoplayer, so each screen may init its own player for the playback thus we very often release them (as well as underlying MediaCodecs). To catch any missed `player.release` and avoid perf regressions (e.g. playing a video in invisible fragment), we have a global

[2021-12-23 05:44] DanijelBojcic commented on #9800
I was able to debug it. Here is the flow:
1. VLC initiates the connection
2. The server sends response 200
3. VLC initiates the connection again
4. The server sends 401 and asks for an auth
[code]
5. VLC sends DIGEST by default, it doesn't even try it with basic auth.
[code]

It seems you've guessed rigth. How can I force exoplayer to use DIGEST auth instead until you fix it?

[2021-12-23 08:54] marcbaechinger commented on #9805
The change in the release notes of the commit that you linked says "`SubtitleView` implements `Player.Listener`, so can be registered to a player with `Player.addListener`."

This means for my understanding that you can now use a `Player.Listener` instead of the `TextOutput`. The `TextOutput` interface had a single method `onCues(List<Cue> cues)` which now is available in `Player.Listener`. So if

[2021-12-23 08:54] #9805 closed, assigned to nobody

[2021-12-23 09:00] marcbaechinger commented on #9796
Can you please send us a sample URI to a stream and let me know what metadata you expect?

I would expect that `onMediaMetadataChanged(MediaMetadata mediaMetadata)` is called when it arrives. I marked this as a bug so we investigate this more closely as soon as we have your link to the content.

If you're unable to share bug reports or test content publicly, please send them to dev.exoplayer@gmail

[2021-12-23 09:17] icbaker commented on #9796
Note that `MetadataOutput` will **not** receive the same info as `Player.ListeneronMediaMetadataChanged`. Specifically, `MetadataOutput` will only received dynamic/timed metadata that's decoded during playback (e.g. [MP4 event messages](https://www.w3.org/TR/media-timed-events/)). `onMediaMetadataChanged` will receive this dynamic metadata, as well as static metadata which stays constant for the l

[2021-12-23 09:46] christosts commented on #9804
To my knowledge, HD(1-1-1) is the standard BT-709 for HD videos. I did not see any issues playing the linked video on  Pixel phones. Are you seeing this problem on specific devices? If so, can you please grab a [bug report](https://developer.android.com/studio/debug/bug-report) from the devices after playback and attach it to this issue?

Thanks

[2021-12-23 11:44] claincly commented on #9800
You can patch `RtspClient` with the following code to prefer DIGEST:

[code]

[2021-12-23 12:01] icbaker commented on #9797
After further discussion we've agreed that my example star trek content above is slightly 'broken' - because if the content provider is going to mark the german text track (1) as default, then they should also be marking the equivalent english track as default (3) too. And in that case the user experience is less surprising with the existing code: when the user switches to the english audio (2) th

[2021-12-23 12:01] #9797 closed, assigned to icbaker

[2021-12-23 13:14] etabackman commented on #9062
Any update on progress?

I see this also, on all videos, compared to MediaPlayer.

[2021-12-23 13:39] asinel commented on #9804
Hi, thank you for the quick response.
I've checked in on a real device (Pixel 3) and it does not reproduce.
It reproduces on Android emulator (tested on phones and TV).
Attaching AVD details, screenshot,and bug report data.
![screenshot](https://user-images.githubusercontent.com/11772185/147248092-4d940edc-d5bd-4fa9-8765-b5ffe7774ad8.png)
[repro_steps.txt](https://github.com/google/ExoPlayer/files

[2021-12-23 14:29] OxygenCobalt commented on #9796
Oh. I assumed `MetadataRetriever` and `MetadataOutput` read static metadata due to their names and documentation. However, I don't think I can use `Listener.onMediaMetadataChanged` since `MediaMetadata` does not provide raw metadata entries, which is required for ReplayGain as it relies on custom tags such as ID3v2's `TXXX`. Still, I can just use `onTracksInfoChanged` and do my static metadata par

[2021-12-23 15:38] laruedavid commented on #9493
@rrfrias we sent more details about our licenses using the process described above

[2021-12-23 17:44] ponthamaya opened #9807 "Uri FileNotFoundException"
• ExoPlayer 2.16.1 Demo project
• Android 10
• Android OnePlus 6T

I got this error when I play video from gallery. Even I gave storage permission i it's throwing this.

[code]

[2021-12-23 18:30] kapodamy commented on #9805
thanks

[2021-12-24 07:22] skyswitzerland commented on #3752
Also interested to get a status update and to evaluate how we can make it happen together as a community.
Maybe @marcbaechinger or @ojw28  would have a suggestion too.

[2021-12-24 11:02] sajjadshahbazi opened #9808 "video quality does not change"
I use hls to play movies.
I implemented the quality change in version 2.12.0 exoplayer, which works fine for all of them users. but when version 2.14.1 exoplayer is released, I updated the exoplayer version to 2.14.1.
**In version 2.14.1 some users can not change the quality and the movie is played only on one low quality.** when can't change the quality, this message is printed in logcat:
D/Media

[2021-12-24 14:20] marcbaechinger commented on #9808
It looks like these devices do not support the track to which the code you posted tries to force the player to use. It's unclear which code path the users with problems are taking. This corresponds to yuou saying that the log line is emitted when it doesn't work, because the log reports just that.

The log message from above is only for informational purpose. The player still continues to work and

[2021-12-24 14:38] marcbaechinger commented on #9807
If this is on Android 10 only, then you can try to set

`android:requestLegacyExternalStorage="true"`

in the manifest. Can you try this out and respond here if that works? I see we have set this attribute in the [demo app](https://github.com/google/ExoPlayer/blob/release-v2/demos/main/src/main/AndroidManifest.xml#L37), so it is worth trying.

It would be also helpful to know if you see this on ot

[2021-12-24 14:41] #9790 closed, assigned to marcbaechinger

[2021-12-24 14:48] marcbaechinger commented on #9554
If you do a `ForwardingPlayer` and set this player to the `PlayerNotificationManager`, then the forwarding player is called. I have done this several times and it is working.

Closing this issue due to lack of information (minimalistic answers) and lack of activity. Please feel free to reopen if you still have problems and you have investigated this a bit more closely yourself.

[2021-12-24 14:48] #9554 closed, assigned to marcbaechinger

[2021-12-24 14:57] marcbaechinger commented on #9806
Seems to me like after a couple of failed releases, the number of available codecs the device has is used and no further player can be created because of lack of available codecs.

@christosts May I ask you to look into this. Any ideas how Denis could find an approach that helps?

[2021-12-24 15:14] marcbaechinger commented on #9802
If the `streamKeys` are empty at the end of this code something is odd indeed. From the information available, it could be that there are no tracks selected and hence the `streamKeys` list is empty. How do you create the `DownloadHelper` to which the above `getDownloadRequest` method belongs to? Can you please post the code that creates the `DownloadHelper`?

Further, can you provide us with a URI

[2021-12-24 15:20] marcbaechinger commented on #9796
Can you provide me with a media file I can try with?

[2021-12-25 06:14] ponthamaya commented on #9807
I just added some video receiving intent in AndroidManifast.xml and receive intent Value in Demo PlayActivity.

Demo app is working fine on API 28, 31, 32 without adding requestLegacyExternalStorage.

This issue only occurred in API 30. If i added android:requestLegacyExternalStorage="true then there is no issue.

[2021-12-25 06:26] ponthamaya opened #9810 "StyledPlayerView - Automatically Playback speed resets on onResume"
Exoplayer : v2.16.1 (Demo project)
Device : OnePlus 6T

Reproduce:

When we resume back to the player the old playback speed resets back to normal.

[2021-12-25 12:02] moneytoo opened #9811 "Use appropriate decimal separator in playback speeds"
The [exo_playback_speeds array](https://github.com/google/ExoPlayer/blob/r2.16.1/library/ui/src/main/res/values/arrays.xml#L28-L36) contains values with hardcoded [decimal separator](https://en.wikipedia.org/wiki/Decimal_separator) (`.`).

When I have my device set to Czech language (and therefore to Czech locale), I would expect to see values like `1,5x` (instead of `1.5x`).

While it's probably

[2021-12-26 07:43] JiannaiJ opened #9812 "How to direct audio without Dolby certified chip?"
The chip of the device does not have Dolby certification, so AudioCapabilities.supportsEncoding() does not include Dolby, but HDMI supports direct Dolby to audio amplifier. How can I modify this support?

[2021-12-26 13:59] moneytoo commented on #9588
@krocard Did you intend to reopen this specific issue? It's still closed.

[2021-12-26 19:26] moneytoo opened #9813 "Add horizontal padding to subtitle background"
Please consider adding horizontal padding of (text) subtitle background. (As also previously discussed here: https://github.com/google/ExoPlayer/issues/7516#issuecomment-646066696)

This is how it currently looks like:
<img src="https://user-images.githubusercontent.com/1071643/147417637-16b62f8b-5e18-413d-a08e-bc4b50314cf5.jpg" height="240px"/>

The style preview in system captioning manager does

[2021-12-27 07:21] Kanchan3265 opened #9814 "Slow Seeking problem"
We can only process bug reports that are actionable. Unclear bug reports or
reports with insufficient information may not get attention.

Before filing a bug:
-------------------------

- Search existing issues, including issues that are closed:
  https://github.com/google/ExoPlayer/issues?q=is%3Aissue
- Consult our developer website: https://exoplayer.dev/
- Check the supported formats: https://e

[2021-12-27 07:23] Kanchan3265 commented on #9814
Exoplayer does not seek to a position instantly if i try to seek to different. It just present the last frame but i want it to show all the frames while seeking through video like a normal player does. This problem also occur when I play a downloaded video from device where there is not  any buffering even then this problem occur. Please tell me how should I overcome this problem.

[2021-12-27 07:41] #9814 closed, assigned to ojw28

[2021-12-27 07:42] Kanchan3265 commented on #9814
Working fine in 2.14.0 version

[2021-12-27 07:47] DanijelBojcic commented on #9800
I have tried the patch, it forces the digest auth, but after the authentication I get the same error as before.

**EDIT: I've just realized that it's not the same error, it's now SETUP 401. Should I open another issue for this?**

These are the logs I get:
[code]

[2021-12-27 08:25] spuday90 commented on #9802
Hi @marcbaechinger ,
We are creating the DownloadHelper as
`DownloadHelper.forMediaItem(context, mediaItem, renderersFactory, httpDataSourceFactory),`.

You can reproduce the same issue in the exoplayer sample code. Just add some Subtitles uri to the WIdevine Dash content and try to download the video and observe. You'll see a Toast message as "Stream keys error".

This is how we are creating Medi

[2021-12-27 10:43] marcbaechinger commented on #9810
The value in the `StyledPlayerControlView` corresponds to the speed of the player.

The `StyledPlayerControlView` displays [the speed of the player or the closest matching value in the list of available speeds](https://github.com/google/ExoPlayer/blob/7fe9ecc1c592b758e76f6b458e0dc43cce282e5f/library/ui/src/main/java/com/google/android/exoplayer2/ui/StyledPlayerControlView.java#L1888). In this rega

[2021-12-27 12:59] marcbaechinger commented on #9802
Ah, ok, I see. Thanks for the details.

This is something which is not supported. The complex media item that is augmenting a content media source with ads and subtitles, is not supported by the `DownloadHelper`. Actually, it's more like that the `MergingMediaSource` that sideloads the subtitles and is created by the `DefaultMediaSourceFactory` is not supporting downloading. I'm not quite sure how

[2021-12-27 13:04] marcbaechinger commented on #9807
Ok, cool. I'm closing this issue then as I understand this is solved by adding the legacy attribute for API 30.
Please reopen if you think this is needed.

[2021-12-27 13:04] #9807 closed, assigned to marcbaechinger

[2021-12-27 16:01] #9810 closed, assigned to marcbaechinger

[2021-12-27 18:20] OxygenCobalt commented on #9796
As in media with replaygain tags, or media with `TXXX` tags? The former is pretty hard, as ReplayGain tags are super diverse, but I could give some files with `TXXX` and others if you want to implement support for that.

[2021-12-27 23:05] xeinebiu opened #9815 "StyledPlayerView: onVisibilityChange always 0"
On the class `com.google.android.exoplayer2.ui.StyledPlayerView`, when registering the listener `    playerView.setControllerVisibilityListener(this@VideoPlayerFragment)`, the callback always receives 0 as result even when the Controls are no longer visible.

Layout
[code]

Callback

[code]

Version
`    implementation 'com.google.android.exoplayer:exoplayer:2.16.1'`

[2021-12-27 23:33] xeinebiu commented on #9815
The following fixes the issue
https://stackoverflow.com/a/57216827

[2021-12-27 23:33] #9815 closed, assigned to nobody

[2021-12-27 23:47] kar10s opened #9816 "Specific DataSource for key requests with HLS (AES-128)"
I have a problem trying to play HLS-AES 128 encrypted video.

[code]

**The problem is that the encryptionKey obtained from the server is 17 bytes long. The last byte contains a newline character that needs to be removed to play correctly the video.**

It is also necessary to send two sets of headers, one for the m3u8 server and others for the key server

For this, I am using a customHttpDatasourc

[2021-12-28 02:04] #9738 closed, assigned to ojw28

[2021-12-28 02:04] #9715 closed, assigned to tonihei

[2021-12-28 07:45] lucfier-90 opened #9817 "Timebar/Seek Buttons are disabled in Exoplayer for some .mkv files and hevc video files"
It works for some mkv files perfectly but for some mkv files it does not show scrubber on time bar and when i try to seek video programmatically it starts from beginning
here is my code
[code]

[2021-12-28 11:49] marcbaechinger commented on #9817
This sounds like these media files are not seekable. If a file is not seekable then the scrubber is hidden. The behavior you observe when seeking programmatically matches to this as well.

[2021-12-28 12:16] marcbaechinger commented on #9816
There is another constructor of the `HlsMediaSource.Factory` that takes an `HlsDataSourceFactory` as an argument. You can create a custom `HlsDataSourceFactory` and implement the `createDataSource(int dataType)` method accordingly to which a `dataType` is passed. This way you can return different data sources for either `C.DATA_TYPE_MEDIA` and `C.DATA_TYPE_MANIFEST` or `C.DATA_TYPE_DRM`. These dat

[2021-12-28 12:23] marcbaechinger commented on #9550
Closing this issue as the need for an existing channel has been documented and there wasn't any more activity. Please reopen if this is still an issue.

[2021-12-28 12:23] #9550 closed, assigned to marcbaechinger

[2021-12-28 12:24] marcbaechinger commented on #9640
Closing this issue. Please re-open if you have some more questions.

[2021-12-28 12:24] #9640 closed, assigned to marcbaechinger

[2021-12-28 12:24] marcbaechinger commented on #9725
Closing due to inactivity.

[2021-12-28 12:24] #9725 closed, assigned to marcbaechinger

[2021-12-28 12:26] marcbaechinger commented on #9426
Closing due to inactivity.

[2021-12-28 12:26] #9426 closed, assigned to marcbaechinger

[2021-12-28 12:27] marcbaechinger commented on #9372
Closing due to inactivity. Please reopen if you think it is required.

[2021-12-28 12:27] #9372 closed, assigned to marcbaechinger

[2021-12-28 12:28] marcbaechinger commented on #9516
Closing due to inactivity.

[2021-12-28 12:28] #9516 closed, assigned to marcbaechinger

[2021-12-28 12:28] marcbaechinger commented on #9363
Closing due to inactivity.

[2021-12-28 12:28] #9363 closed, assigned to marcbaechinger

[2021-12-28 12:29] marcbaechinger commented on #9268
Closing due to inactivity.

[2021-12-28 12:29] #9268 closed, assigned to marcbaechinger

[2021-12-28 12:31] marcbaechinger commented on #7620
Closing due to inactivity.

[2021-12-28 12:31] #7620 closed, assigned to marcbaechinger

[2021-12-28 12:32] marcbaechinger commented on #8514
Closing due to inactivity.

[2021-12-28 12:32] #8514 closed, assigned to marcbaechinger

[2021-12-28 12:33] marcbaechinger commented on #8802
Closing due to inactivity.

[2021-12-28 12:33] #8802 closed, assigned to marcbaechinger

[2021-12-28 12:34] wishygupta opened #9818 "Get ad information from DASH manifest where ad is SSAI."
From my dash manifest I need to get some advt information which is part of event stream objects.
The ads are being inserted on server side via SSAI.
I am using the function `onTimelineChanged` but it gets called multiple times. And I am unable to get when the ad is being started or completed.
Is there any other method or callback for SSAI ads on DASH?

[2021-12-28 12:34] marcbaechinger commented on #8324
Closing due to inactivity. Please re-open if you think this is required.

[2021-12-28 12:34] #8324 closed, assigned to marcbaechinger

[2021-12-28 12:36] marcbaechinger commented on #7951
Closing due to inactivity.

[2021-12-28 12:36] #7951 closed, assigned to marcbaechinger

[2021-12-28 12:52] marcbaechinger commented on #9818
There is a list of `EventStream` objects in the `Period` of the `DashManifest`. You can access the manifest as soon as you receive a timeline update for a reason of `TIMELINE_CHANGE_REASON_SOURCE_UPDATE`. If the dash stream is the only media item that is in the playlist, the code below show how you can access the manifest with `player.getCurrentManifest()` and the `EventStream` information that is

[2021-12-28 13:09] marcbaechinger commented on #9796
I would be interested to see specific ReplayGain streams.

`TXXX`  ID3v2 tags are delivered to `onMetadata(MetaData)`. I've used the code below for accessing it:

[code]

Does this work for you?

[2021-12-28 13:21] lucfier-90 commented on #9817
but in other video players it is seekable

[2021-12-28 13:26] marcbaechinger commented on #9817
Can you share a URI to the content that behaves like you describe with us? If you're unable to share test content publicly, please send them to dev.exoplayer@gmail.com using a subject in the format "Issue #9817". Please also update this issue to indicate you’ve done this.

[2021-12-28 13:55] wishygupta commented on #9818
Thank you for the response. I can get started with this.

[2021-12-28 13:55] #9818 closed, assigned to marcbaechinger

[2021-12-28 14:25] lucfier-90 commented on #9817
actually its a movie
i am sharing my google drive link
[https://drive.google.com/file/d/1rKEv97j3kGEXkhvtz2Vt05KXzuSvJuvH/view?usp=sharing](url)

[2021-12-28 14:37] lucfier-90 commented on #9817
![Screenshot_20211228-150204_Chrome 1](https://user-images.githubusercontent.com/96766955/147577020-25280277-c1f4-4866-b2d3-94e9ca4c4adf.jpg)
This is what happening

[2021-12-28 15:39] kar10s commented on #9816
@marcbaechinger ,thx for your prompt reply.
I have not posibility to remove the last byte from server side.

Could you give me a sample to understand how what you indicate above should be implemented?
I'm sorry to ask for this, but I've been trying to solve this problem for several days without success.

[2021-12-28 15:43] OxygenCobalt commented on #9796
Huh. I'd expect `TXXX` to be static metadata. I know the most common ReplayGain tags in ID3v2 are based on `TXXX`, so I'll try to create a file that contains such and post it here, alongside testing if `TXXX` is indexed by onMetadata.

[2021-12-28 16:04] thrive-diego commented on #9725
Just making sure in case anyone else encounters a similar issue, as @marcbaechinger stated before, the key here to successfully sync the notification and the ExoPlayer is the [bound services ](https://proandroiddev.com/deep-dive-into-android-services-4830b8c9a09) and initializing correctly the same ExoPlayer for the notification and the UI on service connected

[2021-12-28 17:20] marcbaechinger commented on #9816
I don't have a sample I'm afraid. Basically, you need to create an `HlsDataSourceFactory`. If the factory is asked to create a `DataSource` for DRM then you would usually use a `DefaulttHttpDataSource` for this. Now your server adds a new line to the key that we want to remove.

So you can probably as a first step create your own implementation of `DataSource`, that delegates all calls to a `Defau

[2021-12-29 12:53] KazukiSugiyama107 commented on #9801
We will ask the user to provide the bug report again, so we will send it to the email address as soon as it is provided.
I will comment here as soon as it is sent to the e-mail address, so thank you.

[2021-12-29 13:30] TheSikh opened #9819 "Downloads: Support per-download requirements"
I am trying to download dash content from a network storage device to client device using ExoPlayer's DownloadManager, However When I submit the downloadrequest and their is no internet connection. Downloadmanager simply put the download in Stop state and wait for internet connection requirement to be met.

I am downloading from local network so internet is not needed but current DownloadManager a

[2021-12-29 13:53] marcbaechinger commented on #9796
You and icbaker are probably right. That's why I wanted to have a media piece for testing. I don't have much experience with static metadata to be honest. The ID3 tags I have worked with have been delivered as in-band metadata that was received as timed metadata in HLS and I mean to remember this was similar for artworks in audio files. However, I'm probably wrong as I said. :) Lets check as soon

[2021-12-29 15:15] claincly commented on #9800
Can you try building `RtspMediaSource` with `forceUseRtpTcp` set to true?

[2021-12-29 17:30] Koster35 commented on #9726
@cabhara I encountered this same build error with two separate projects of mine, even though we don't use the IMA extension (we use the IMA SDK standalone). I think the source of the issue is actually the new IMA sdk v3.25.1, which the ExoPlayer IMA extension library just internally upgraded to in ExoPlayer v2.16.0.

Because of that, I can trigger this error in three different ways:
- Upgrading to

[2021-12-29 17:43] denis-bezrukov opened #9820 "How to preload an HLS stream ahead of memory buffer"
### Background
We have a screen when we play long videos (up to 90 minutes) and we can't preload them in advance (e.g. Using HlsDownloader) because we don't know what user will pick from the library (we have more than a thousand videos). At the same time, we want to provide an immersive experience, so if the user has a good network condition on start, we want to preload it asap without playback in

[2021-12-29 17:46] Koster35 commented on #9726
@tonihei Although its not explicitly stated, Java 11 compilation seems to be required for IMA v3.25.1 -- see the sample build.gradle file here https://developers.google.com/interactive-media-ads/docs/sdks/android/client-side.

I think the ExoPlayer docs need to be updated to reflect that in one of these two places:
- https://exoplayer.dev/hello-world.html
- https://exoplayer.dev/ad-insertion.html

[2021-12-29 18:04] ojw28 commented on #9802
Duplicate of https://github.com/google/ExoPlayer/issues/5615

[2021-12-29 18:04] #9802 closed, assigned to marcbaechinger

[2021-12-29 18:13] OxygenCobalt commented on #9796
Sounds good. Let me source an actual ReplayGain file from one of my users.

[2021-12-30 03:25] GouravSna opened #9823 "ExoTimeoutException: Player release timed out, predominantly on AndroidTV"
**ExoPlayerVersion:** 2.15.1 & 2.14.0

**Issue:** We are getting these Timeout Exception from production users,
https://github.com/google/ExoPlayer/blob/029a2b27cbdc27cf9d51d4a73ebeb503968849f6/library/core/src/main/java/com/google/android/exoplayer2/ExoTimeoutException.java#L64

When we tried reproducing this issue on FireStick (details are below) with  the following steps using ExoPlayerDemo app

[2021-12-30 15:01] augustinePepul commented on #9738
Im getting little slow when i load my list of videos in viewpager and I'm getting the Black screen for each videos.

[2021-12-30 15:53] mkocus opened #9824 "Large native memory consumption when playing 4K HEVC 50/60fps content"
We are using ExoPlayer on our products and observe large native memory usage after starting video with params: 4k, 50/60fps, HEVC, DASH, Widevine DRM. The used native memory does not revert to baseline after leaving the player. But it also does not increase further after launching another videos.

### Details

It looks like that on Android Studio Profiler:

Android 9:
![memory usage](https://user-

[2021-12-31 11:18] karamgharam opened #9825 "drm with textureView not working"
I have sliding view with player View inside it and not work expect put surface type texture View
but when chose this type the drm content not work .

so drm with texture View  not work and cant load video

ExoPlayer versions 2.15.1
all android devices and versions

[2021-12-31 11:48] stillping opened #9826 "HSS + Playready + Dolby Bug in Android 10"
Playback fails in Android TV device due to `NullPointerException` when trying to play `VOD HSS asset` with `Playready` protection that contains an `audio track Dolby Surround 5.1/EAC3.` The issue is reproducible only when the device has `Android 10`

<img width="1000" alt="Screenshot 2021-12-31 at 11 46 59" src="https://user-images.githubusercontent.com/1597488/147821806-c7253d15-97d3-4abe-8532-2d

[2021-12-31 13:06] marcbaechinger commented on #9825
`TextureView` does not support DRM content. For protected content you need to use a `SurfaceView`.

https://source.android.com/devices/graphics/arch-tv#surface_or_texture

[2021-12-31 13:06] #9825 closed, assigned to marcbaechinger

[2022-01-02 06:35] Khang-NT opened #9827 "Provide an API to get list media items instantly"
### [REQUIRED] Use case description
Currently, `Player` interface is lacking a method that returns the list of media items, I know it can workaround by using `getMediaItemCount` and `getMediaItemAt(index)`, but the method `getMediaItemAt(index)` is abstract and the implementation seems complicated, if its complexity greater than O(1) then to build list media items it would cost > O(n):
[code]

###

[2022-01-03 02:04] #9747 closed, assigned to ojw28

[2022-01-03 02:04] #9745 closed, assigned to ojw28

[2022-01-03 08:03] DanijelBojcic commented on #9800
Thanks @claincly
It's working with the patch and the `forceUseRtpTcp` set to true.

[2022-01-03 08:28] #9800 closed, assigned to claincly

[2022-01-03 08:31] karamgharam commented on #9825
thanks but how can play drm content with sliding view or recycle view because player not work if not TextureView

[2022-01-03 08:46] giladna commented on #9773
@tonihei if you have any update regarding this we will much appreciate.

[2022-01-03 09:29] hanlareum opened #9828 "Ts File playback issue."
at some TS stream, video is not shown... but audio works fine.
please check below stream.

Test Stream : https://drive.google.com/file/d/1FRz3UC7Q4v4TUPeTNKAymcVsoe_7Xt2-/view?usp=sharing

- ExoPlayer 2.16.1
- Android 10.X
- Galaxy Tab A7

test codes is below,

-----
        trackSelector = DefaultTrackSelector(applicationContext)
        trackSelector?.setParameters(DefaultTrackSelector.Parameter

[2022-01-03 11:49] airtel121 opened #9829 "Stereoscopic(Left-Right) video to single frame(Left or Right)"
###  Use case description

We are working on building 2d-3d video player, which basically playing stereoscopic(left-right) view in Exoplayer. Now we wanted an ability to switch from left-right(side by side) to single frame view(left or right only) and vise versa in same video content.

### Proposed solution
As seen in exoplayer support, **SimpleExoPlayerView** has ablity to define **surface_type="

[2022-01-04 04:09] #9828 closed, assigned to ojw28

[2022-01-04 04:11] hanlareum commented on #9828
it was stream.. without an IDR keyframe.

[2022-01-04 09:56] ojw28 commented on #9811
We should make sure these strings are translated. Thanks for reporting!

[2022-01-04 10:16] tonihei commented on #9773
I had a closer look at what happens on my one testing device that reproduces this issue (an Amazon Fire TV Stick) and at least on this device it seems that the decoder is always limiting its output to exactly 50 fps for all videos. That means that videos with higher frame rates and/or increased playback speeds will cause issues because the decoder can't keep up with the required decoding speed. In

[2022-01-04 10:22] ojw28 commented on #9811
We will fix this across a few of commits:

1. Add translatable strings
2. Add translations for the strings
3. Update the UI components to use the translatable strings

[2022-01-04 11:00] hafiz013 opened #9830 "OutOfMemoryError when load file uri and looping the video inside viewpager"
below here my sample code in viewpager adapter:

[code]

where mistake did i do.

[2022-01-04 11:05] krocard commented on #9812
The supported formats are retrieved from the HDMI intent:

https://github.com/google/ExoPlayer/blob/7fe9ecc1c592b758e76f6b458e0dc43cce282e5f/library/core/src/main/java/com/google/android/exoplayer2/audio/AudioCapabilities.java#L102-L105

If the format desired is not present, this means Android has not detected its support by the HDMI remote device. There is nothing ExoPlayer can do.

You can run `

[2022-01-04 12:26] giladna commented on #9773
@tonihei  thanks
trying that and will get back with my results

10x

[2022-01-04 14:54] claincly commented on #9800
A note on why `forceUseRtpTcp` worked:

When ExoPlayer retries for using TCP, the flow is like

[code]

The server does not accept initiating authentication when performing SETUP, but ExoPlayer's TCP retrying logic starts with SETUP. `forceUseRtpTcp` though, eliminated the need to retry and thus will work.

In VLC's case, the retry logic starts the entire RTSP exchange (from OPTIONS, to DESCRIBE,

[2022-01-04 15:33] ojw28 commented on #9819
You can tell `DownloadManager` not to require network simply by passing it a `Requirements` object that doesn't specify any requirements:
[code]
See also [the documentation here](https://exoplayer.dev/downloading-media.html#setting-the-requirements-for-downloads-to-progress).

[2022-01-04 15:38] ojw28 commented on #9829
This is not something we support out of the box, so you would need to build your own UI components to do this rather than relying on `PlayerView`/`StyledPlayerView`.

[2022-01-04 15:38] #9829 closed, assigned to ojw28

[2022-01-04 15:45] ojw28 commented on #9827
I'm not convinced your proposed API is a good idea, in particular because it wouldn't scale for `Player` implementations that want to represent having a very large playlist. For such cases it only really makes sense to query smaller subsets of the playlist at any one point in time, and any possible implementation of `getMediaItems` would require a large (possibly unavailable) amount of memory. I t

[2022-01-04 15:48] ojw28 commented on #9830
Given your code is instantiating players and not releasing them anywhere (at least in the snippet you've provided), I think you're probably just running out of memory by ending up with more and more player instances instantiated over time.

Either way, this sounds like an application issue, and debugging it is beyond the scope of this issue tracker unless you can point to a specific problem with E

[2022-01-04 15:48] #9830 closed, assigned to ojw28

[2022-01-04 15:50] #9765 closed, assigned to ojw28

[2022-01-04 15:51] #9763 closed, assigned to ojw28

[2022-01-04 15:51] #9742 closed, assigned to ojw28

[2022-01-04 15:51] #9670 closed, assigned to ojw28

[2022-01-04 15:52] #9740 closed, assigned to ojw28

[2022-01-04 16:05] ojw28 commented on #9825
There is also some ExoPlayer specific guidance on the available surface types here:

https://exoplayer.dev/ui-components.html#choosing-a-surface-type

One way or another you will need to design your app within the constraints and limitations described there and on the page linked above.

[2022-01-04 17:16] arianaa30 opened #9831 "Issues in migrating older ExoPlayer API code to version 2.16.1"
I have the following code using ExoPlayer `2.4.0` API that simply plays a video. I was trying to migrate it to the latest API version (`2.16.1`), but many of the APIs and my used code don't work there anymore. For instance, `newSimpleInstance` isn't recognized anymore, etc.

How can I update my code to the latest API?

Here is my code so far using ExoPlayer `2.4.0`:

[code]

[2022-01-04 17:25] tonihei commented on #8353
The commit above will work around the issue in future releases.

[2022-01-04 17:25] #8353 closed, assigned to andrewlewis

[2022-01-04 18:41] ojw28 commented on #9823
This sounds like a stability issue that's likely specific your content, and possibly to certain chipsets or devices. If you could provide a snippet of JSON that we could add to `media.exolist.json` in our demo app to play your content there and reproduce the problem, that would help us to route it toward a team that would be best placed to take a look.

Please feel free to send this information to

[2022-01-04 19:38] TheJohnBowers opened #9832 "Exoplayer supports lowercase hex numbering in segment template but not upper case hex numbering"
Before filing a bug:
-------------------------
I do not see any existing bugs that describ this issue.

When reporting a bug:
-------------------------
Using the exoplayer demo app try to play this back:

      {
        "name": "Dash CBCS uppercase Hex numbering segment template",
        "uri": "https://content-ause2-dt-drm1.downlynk.com/42e9b05315164dd89dda60464acadd6c.mpd?m4fenctype=cbcs&show_

[2022-01-04 19:51] TheJohnBowers commented on #9832
I am trying to push a PR off of dev-v2, but I don't appear to have access.  I have a signed corporate contribution agreement from contributing to a few small changes to shaka, but I suspect I probably would need to be granted rights to push a PR?

[2022-01-05 02:43] CleverSJX opened #9835 "Last frame of video jumps when switching to new video with setKeepContentOnPlayerReset(true)"
The 16:9 video played in portrait mode is displayed in the center by default. In order to prevent the video from switching to a black screen, I called ```playerView.setKeepContentOnPlayerReset(true);```, but when switching the video, the last frame of the video appears at the top, or is pulled up by the full screen

[Recorded video](https://s.pointshow.net/transcode/normal/QPnNC1641350941063.mp4)

[2022-01-05 04:03] Khang-NT commented on #9827
I intend to use `getMediaItems` to build queue UI, or to implement a function like checking duplicate media item before inserting. But looking into `CastPlayer` implementation, I see it's not reliable to get the `MediaItem` object back from `Player`, so I guess I need to do it another way.

[2022-01-05 05:16] GouravSna commented on #9823
Hi @ojw28 , we have sent the media to email id.
Please let us know if it does not work. It's Widevine L1 only content.

[2022-01-05 07:10] hafiz013 opened #9836 "Exoplayer error rendering uri local phone"
-why when 1 time load local video work properly but i want to reupload again get this error

[code]
and get this error from rendering :

[code]

So how to solve this rendering error? because sometimes it work and sometime is not work.

Below here sample mycode:

[code]

i using this player  version

[code]

[2022-01-05 07:33] duycong998 opened #9837 "Exo Not play video profile high"
I can't not play video in exoplayer

This is video info :
![image](https://user-images.githubusercontent.com/54490794/148177101-555fbe44-b785-4b62-bba3-c58860906200.png)

I've looked into maybe the problem lies in profile of video . Because it Profile High
https://developer.android.com/guide/topics/media/media-formats#video-formats

Here my code :  I added many attributes but it still doesn't work

[2022-01-05 09:00] jreicher opened #9838 "Disney+ incorrectly autodetecting 5.1 audio"
From what I can tell Disney+ uses exoplayer2, and on a Changhong TV with builtin stereo speakers it is incorrectly attempting to play more than two channels.

I suspect the problem is that Changong's audio policy is incorrect, but is there an easy way you can help me confirm this so I can ask them to update?

Excerpt of "adb shell dumpsys media.audio_policy" (please tell me if a different excerpt

[2022-01-05 10:52] denis-bezrukov commented on #9823
@ojw28 this issue looks pretty similar to the one I reported recently as well - https://github.com/google/ExoPlayer/issues/9806. There is a link to the sample that may help to repro this issue using @GouravSna content

[2022-01-05 10:54] #9827 closed, assigned to ojw28

[2022-01-05 10:55] ojw28 commented on #9827
Similar to the `Adapter` case mentioned, a scalable queue UI implementation should only need to query the part of the queue that's actually visible. Querying the entire queue, which might be huge, is inefficient if the display is only showing a small part of it.

[2022-01-05 11:09] ojw28 commented on #9836
If you'd like us to spend time investigating your issue, please properly fill out the issue template. Thanks.

[2022-01-05 11:12] ojw28 commented on #9837
Hi! Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md). If you're unable to share [bug reports](https://developer.android.com/studio/debug/bug-report) or test content publicly, please send them to dev.exoplayer@gmail.com using a subject in the format "Issue

[2022-01-05 11:13] ojw28 commented on #9838
Disney+ most likely have their own logic for choosing when to use surround audio, so I think you'd have to reach out to them about it. Thanks!

[2022-01-05 11:13] #9838 closed, assigned to ojw28

[2022-01-05 11:33] takahirom opened #9839 "IMA: Support manual ad break timing"
I saw in the following document that I can control the ad break playback timings, but I don't have access to the adsManager in the IMA extension, so I can't control it?
If there is a way to do this, I would like to know about it.
https://developers.google.com/interactive-media-ads/docs/sdks/android/client-side/manual_ad_playback

[code]

[2022-01-05 11:38] TheSikh commented on #9819
Requirements Assume to be either Network_Unmetered or it adds Network to requirement flags by itself.

https://github.com/google/ExoPlayer/blob/029a2b27cbdc27cf9d51d4a73ebeb503968849f6/library/core/src/main/java/com/google/android/exoplayer2/scheduler/Requirements.java#L67-L75

[2022-01-05 11:43] ojw28 commented on #9819
That's not what that code does. It adds `NETWORK` if `NETWORK_UNMETERED` **is set**, not if it's unset. This is because a requirement for an unmetered network implies that there must also be a requirement for a network. If you pass 0 to the `Requirements` constructor, you should get a `Requirements` object that does not require anything.

[2022-01-05 12:00] ChetanPatelSS opened #9840 "IMA pre-rolls do not load (VAST_LINEAR_ASSET_MISMATCH)"
**Our problem as we have also a WEB frontend, and ad server serves both for Android and Web (and website successfully plays all the ads types). So we’ll appreciate for this error handling bug to fixed ASAP or any recommendation/link how to separate Android&Web front ends in the ad server settings.**

There is a lack of information, we have really have searched through the Internet for the solution

[2022-01-05 12:07] TheSikh commented on #9819
@ojw28  I understand that but Requirement imposes restriction on all downloads not on a single download. Suppose I am migrating X downloads from local and Y downloads from internet. the Y downloads will fail because there is no internet.

[2022-01-05 12:53] ojw28 commented on #9819
In that case, I think we'd need to add support with a generalized version of https://github.com/google/ExoPlayer/pull/9822, as per the comment I left there: https://github.com/google/ExoPlayer/pull/9822#issuecomment-1005587716.

This feels like a pretty niche feature, so marking as a low priority enhancement. It may be easier for you to fork the relevant pieces of ExoPlayer into your own codebase

[2022-01-05 13:57] tonihei commented on #9726
I don't think Java 11 is needed by either IMA or ExoPlayer's IMA extension. IMA only added this configuration to their demo app (and the linked guide) because Android Studio's Gradle plugin version 7.0.0 and above requires Gradle to run with Java 11 for compilation (which is also the default in Android Studio since Arctic Fox). They don't actually have to declare this in their gradle file with `ta

[2022-01-05 14:12] Khang-NT commented on #9827
@ojw28 thanks for clarify. But I still don't really get it, says if I have 10000 media items to play, I also have to create `List<MediaItem>(10000)` and set it to `Player`, there's no way to set `Adapter<MediaItem>` to `Player`?

[2022-01-05 14:45] ojw28 commented on #9827
That's true, and is also somewhat a scalability issue. I think that it is theoretically possible for a custom player to not support modifying the media items, and to expose its own internally maintained list, however.

[2022-01-05 15:49] ojw28 commented on #9831
In its simplest form, you probably want something like:
[code]
Your use case is simple enough that it shouldn't be too tricky to work out what to do based on the [developer guide](https://exoplayer.dev/hello-world.html), which describes how to implement simple playback use cases.

[2022-01-05 15:49] #9831 closed, assigned to ojw28

[2022-01-05 16:02] duycong998 commented on #9837
I have provided all the information, what do you want to know more? .
I just want to play video(h264-high) with exoplayer , but it not working
And information  video above . Please check help me?

[2022-01-05 16:43] ojw28 commented on #9826
Thanks for the clear reproduction steps. The issue seems to be caused by the existence of `CodecPrivateData` in the EC-3 stream, as declared in the SmoothStreaming manifest:
[code]
Ignoring it allows playback to succeed. What I'm unclear on is whether:
1. It's a content issue, because `CodecPrivateData` should not be specified for this track
2. It's an ExoPlayer issue, because ExoPlayer should ign

[2022-01-05 18:06] ojw28 commented on #9839
This is not something we support currently, and it's unlikely we'll get round to adding support in the near future. Marking as a feature request nevertheless.

[2022-01-05 18:36] ojw28 commented on #9840
I'm a bit unclear on exactly what you're asking here. It looks like you're dealing with pre-rolls rather than mid-rolls, and I also think the the ad is skipped automatically if it can't be played (due to https://github.com/google/ExoPlayer/commit/5bd744000cde6dd6a9521f75d4824a00be046280), so it's unclear exactly what your question about skipping is about. Could you clarify?

I think your main prob

[2022-01-05 18:54] ojw28 commented on #9835
There is no need to release the player and instantiate a new one whenever you want to play something else. Just call `stop()` on the existing player, then pass the new item to play via `setMediaItem(...)` and call `prepare(...)`.

Doing it this way is more efficient, and avoids needing to reconnect the view to a different player instance. Please try this and let us know whether this resolves your

[2022-01-06 00:53] HyowonHwang opened #9841 "setPreferredVideoMimeType does not work with HLS content."
Hi, I've tried to set preferred video mime type  like below and Test sample are consist of avc and hevc variants.

[code]
But it doesn't seem to work. I've got logs by `EventLogger`

[code]

Is there any point that I should try or bug?

- URI to test content for reproduction
  https://devstreaming-cdn.apple.com/videos/streaming/examples/bipbop_adv_example_hevc/master.m3u8

- ExoPlayer version numb

[2022-01-06 02:04] #9771 closed, assigned to icbaker

[2022-01-06 07:23] ChetanPatelSS commented on #9840
@ojw28 Thanks for quick replay.
My issue is IMA sample tags URL are working fine Android app , but Live/Production tags URL didn't load ads

Work fine in sample tag URL  :https://pubads.g.doubleclick.net/gampad/ads?sz=640x480&iu=/124319096/external/single_ad_samples&ciu_szs=300x250&impl=s&gdfp_req=1&env=vp&output=vast&unviewed_position_start=1&cust_params=deployment%3Ddevsite%26sample_ct%3Dskippab

[2022-01-06 09:58] ojw28 commented on #9840
My response above already explained why that might be the case, and what you need to look at or provide for us to investigate further. Linking to a tag that works fine isn't useful for helping us to reproduce the issue.

[2022-01-06 10:22] stillping commented on #9826
Exoplayer have replied with this:

Thanks for the clear reproduction steps. The issue seems to be caused by the existence of CodecPrivateData in the EC-3 stream, as declared in the SmoothStreaming manifest:

[code]

Ignoring it allows playback to succeed. What I'm unclear on is whether:

- It's a content issue, because CodecPrivateData should not be specified for this track
- It's an ExoPlayer iss

[2022-01-06 10:35] ojw28 commented on #9841
Duplicate of https://github.com/google/ExoPlayer/issues/9519

[2022-01-06 10:35] #9841 closed, assigned to ojw28

[2022-01-06 11:31] ChetanPatelSS commented on #9840
Yes issue is  AdError 403: Linear assets were found in the VAST ad response, but none of them matched the video player's capabilities

face issue in bellow ads tag URL. let me know what was the issue?

[2022-01-06 11:46] ojw28 commented on #9840
What type of ad are you expecting to be displayed? The only ad defined in the ad tag seems to be `type="application/javascript"`, which is not a video ad. ExoPlayer's IMA extension only supports video ads.

[2022-01-06 11:49] ChetanPatelSS commented on #9840
@ojw28 thanks for the quick replay
Also please check below ads tag URL -> same error we got  AdError 403: Linear assets were found in the VAST ad response, but none of them matched the video player's capabilities

[2022-01-06 11:53] ojw28 commented on #9840
Yes, that's the same. Note you can easily look at this yourself simply by opening the file and looking at the `type`: `type="application/javascript"`.

[2022-01-06 11:54] ChetanPatelSS commented on #9840
we want to play video ads in our exoplayer Android.

can you please give me a Live video tag URL?

[2022-01-06 12:05] ojw28 commented on #9840
As above, the type of ads included in these ad tags are not video ads compatible with ExoPlayer, so from ExoPlayer's perspective this is working as intended. Please see the following site for more information about which ad types are compatible with different platforms. I suspect these ads may be using VPAID 2, which is only supported on web as per the table:

https://developers.google.com/interac

[2022-01-06 12:05] #9840 closed, assigned to ojw28

[2022-01-06 13:14] wahdatjan commented on #9771
@icbaker i have not tried it in the latest version, i will do that but how can we fix it in the 2.12

[2022-01-06 13:59] ghost opened #9842 "How does ExoPlayer access Subtitles files on Android 11?"
Hello. I have noticed that when I provide ExoPlayer with the subtitles file real path it is able to display it (without issues) on video without the app having `MANAGE_EXTERNAL_STORAGE` permission and without asking the user to select a path or file using APIs. How is this possible? Thank you.

[2022-01-06 14:31] giladna commented on #9773
@tonihei
after applying the code you have suggested on our SDK (and removed the max speed to 1f)
we could not see any improvements at all
having both solutions you have suggested takes us back to to point where live and catchup works
but in case we trigger seek back in the live media dvr window few min back
the scrolling text will start having this scroll and stuck scroll and stuck behaviour

why/

[2022-01-06 15:00] Ste-RH commented on #9684
@christosts Apologies for the super slow response!  Rushed out to Dubai for three weeks and then the holidays rampaged all over my time!

Here is the patch.  I have left the code I was working on in LimitedAdaptiveTrackSelection:evaluateQueueSize, but commented out and it just returns zero.  I assume this is correct for 'throw away all queued data please' ?  I have removed the load controller buff

[2022-01-06 15:40] OxygenCobalt commented on #9796
Heres some sample files. Sorry for taking so long, I was busy with other projects. I did test these files, and `onMetadata` is not called. I'm still trying my hand at creating an implementation.

[replaygain.zip](https://github.com/google/ExoPlayer/files/7822933/replaygain.zip)

[2022-01-06 17:15] OxygenCobalt commented on #9796
Okay, I've created a ReplayGain implementation that works with both ID3v2 and FLAC [In the form of R128], largely derived from [Vanilla Music](https://github.com/vanilla-music/vanilla/). The overall code is below:

[code]

It doesn't handle *every* case, notably OPUS files have a volume gain adjustment in their header that should also be handled, but ExoPlayer doesn't parse that metadata. Feel fre

[2022-01-06 17:43] tonihei commented on #9773
we could not see any improvements at all

Thanks for testing! It's a shame it doesn't work for other devices as well, because it fixes what I think is the same problem on the Amazon Fire TV Stick. I'll try to reproduce on another TV we have in our office once I get to be there again.

This is definitely unrelated to seeking because the setting is only updated when loading the media. I also just te

[2022-01-06 19:42] Nioh8 commented on #9794
just a small update, i managed to build the demo for my nvidia shield and assign the media that i was having the HDR issues with, same media as the email link. Same results with the washed out hdr. letting you know if it helps.

[2022-01-06 20:37] giladna commented on #9773
thanks
Also tried to update the media low latency config directly after seek and it did not have impact.

[2022-01-06 21:46] OxygenCobalt commented on #9796
Also, a quick request: It would be quite helpful to access metadata from files other than ID3v2 or FLAC. OGG is pretty widely used and contains effectively the same metadata as FLAC, but ExoPlayer doesn't seem to parse it.

**Edit:** I just enabled OGG support. Turns out ExoPlayer already parses it but doesn't expose it. You can find it in my [fork](https://github.com/OxygenCobalt/ExoPlayer).

[2022-01-07 02:21] hafiz013 commented on #9836
@ojw28 can share the template please

[2022-01-07 04:31] CleverSJX commented on #9835
Thank you very much, according to the usage method you said, the problem is solved, and the position of the last frame is normal when the video is switched.

[2022-01-07 04:35] CleverSJX commented on #9835
Thank you very much, according to the usage method you said, the problem is solved, and the position of the last frame is normal when the video is switched.
[code]

[2022-01-07 07:52] hafiz013 commented on #9836
but i wonder if using videoview (native android) working properly. below here is my code:

`class VideoFragment : Fragment() {
    private lateinit var mContext: Context
    private var uri: Uri? = null
    private var mediaPlayer:MediaPlayer? = null
    var imgVolumeController:ImageView? = null
    var videoView:VideoView? = null
    var currentVideoVolume = 30f
    var v:View? =  null
    var is

[2022-01-07 12:02] lpv-1902 opened #9843 "This specific stream does not play"
This stream does not play (https://serve-first.folxplay.tv/folx/ch-4/master.m3u8) but plays on Chrome using Native MPEG-Dash + HLS Playback extension on Chrome.

[2022-01-07 13:42] ojw28 commented on #9843
The media is invalid, because the `EXT-X-MAP` URIs point to segments that contain media samples. As per the HLS specification:

You can see this by:

1. Opening the file you link to in a text editor, and pulling out one of the media playlist URIs. For example `https://serve-first.folxplay.tv/folx/ch-4/1080-HAQ2FT2U88.m3u8`.
2. Opening that file and pulling out the `EXT-X-MAP` URI: `https://serve-f

[2022-01-07 13:42] #9843 closed, assigned to ojw28

[2022-01-07 13:46] ojw28 commented on #9842
ExoPlayer doesn't do anything special to access files. We use `RandomAccessFile` to read `file:///` URIs, which is a standard API. So either you're mistaken that the permission is required for the specific case, or you're mistaken that the app doesn't have the permission, or there's something wrong with the platform permission enforcement. The final one seems fairly unlikely to me.

Closing this,

[2022-01-07 13:46] #9842 closed, assigned to ojw28

[2022-01-07 14:59] ojw28 commented on #9837
The issue template requests useful information like:

then email the link/bug report to dev.exoplayer@gmail.com using a subject in the
format "Issue #1234", where #1234 is your issue number (we don't reply to
emails).

[2022-01-07 16:04] ojw28 commented on #9801
Thanks. Marking as "needs more info" pending that.

[2022-01-07 17:22] tomgnapster commented on #9782
You need to add:
 `program.use();`
to `ProjectionRenderer.java` l125 (so after `program = new GlUtil.Program(VERTEX_SHADER_CODE, FRAGMENT_SHADER_CODE);`)

This change sorts everything out for me on a branch created from tag r2.16.1.
I tried submitting a PR against dev-v2, but that branch contains a ton more changes (and also doesn't work for me).

[2022-01-07 17:23] #9832 closed, assigned to ojw28

[2022-01-07 17:24] ojw28 commented on #9832
Merged https://github.com/google/ExoPlayer/pull/9834. Thanks!

[2022-01-07 18:27] andrewlewis commented on #9782
On the dev branch it appears spherical rendering is broken since 14b42a4ed1a3d0375605f579609a257f39d3e4c1 because that change removed the call `glEnableVertexAttribArray` per draw call, yet there is still a call to `glDisableVertexAttribArray` at the end of each draw call, and (also on the dev branch) from what I can tell there is no need to add back the `use` call because the program is used when

[2022-01-07 22:33] OxygenCobalt opened #9845 "How to get Android Studio to recognize symbols from a locally built ExoPlayer?"
I'm trying to build a local copy of exoplayer to enable some extensions. I was successfully able to get the app built with the required libraries, but Android Studio does not recognize any ExoPlayer symbols. It still builds, but it makes development much harder since I have no access to any of the fields and no auto-import either.

I cloned ExoPlayer into a directory in my project called `deps`. I

[2022-01-08 22:54] ghost opened #9846 "Same video with different url and resolution"
I have same video with different url and resolution. How can I change video quality ?. I'm sorry my question may seem unclear and you ask me to use mu38 manifest but that's not posible since I have created the web app using html5 and html5 support creating source with different url and different resolution , but exoplayer only support dash and mu38 for quality change which is bad for me and my par

[2022-01-09 10:13] davepotts opened #9847 "Subtitle Track not detected in HLS Manifest"
Hello,

Firstly thank you for providing this library. I really appreciate your work

I'm encountering an issue where Exoplayer does not detect the subtitle text track in our streams. using event logger I can see that audio and video are detected correctly however the `TextRenderer [] ` is empty.  The text track is correctly rendered when loading the stream in both VLC and Shaka player.

I will ema

[2022-01-09 15:34] MBakhshi96 opened #9848 "Add totalBytesLoaded to PlaybackStats"
Using `PlaybackStatsListener` to collect analytics data, it seems that the total data bytes transferred is hugely under-reported. For most video items, comparing `totalBandwidthBytes` field in `PlaybackStats` with the file size and the actual donwload size, shows a significant  variation. The issue is not related to a video, since even for a fixed video in different playbacks, several distinct val

[2022-01-09 17:45] OxygenCobalt commented on #9845
Issue stopped appearing suddenly. Not sure why. Sorry for wasting any time.

[2022-01-09 17:45] #9845 closed, assigned to nobody

[2022-01-10 02:04] #9778 closed, assigned to christosts

[2022-01-10 02:04] #8176 closed, assigned to icbaker

[2022-01-10 02:28] nisecap12 opened #9849 "Player jumps video when seek or repeat again track."
I have a problem when playing the file below.
https://drive.google.com/file/d/10invVkxpKGd4Lms8ybVH73H-ipuNi3-X/view

The first playback is normal. but try to seek or repeat again the file, ExoPlayer jump video with
UnexpectedDiscontinuityException.

============== discontinuos Error====================
01-10 11:04:53.861 E 22494    22550    MediaCodecAudioRenderer:

[2022-01-10 04:50] #9602 closed, assigned to ojw28

[2022-01-10 09:38] giladna commented on #9773
@tonihei  I would much appreciate if you could check the above on your other TV since we got into dead end with this for now.

Is there a chance it might be related to such problem?
https://github.com/google/ExoPlayer/issues/2575

thanks
Gilad.

[2022-01-10 09:50] PawKanarek commented on #8039
@rrfrias Thats the stacktrace from our case
<details>

[code]

</details>

Devices:
![image](https://user-images.githubusercontent.com/15096514/148745036-41dab5e8-2a23-488b-8d2e-dc1a4e2a7e0e.png)

And this bug happens only on Android 11.

[2022-01-10 13:16] Kanchan3265 opened #9850 "Slow scrubbing issue in exoplayer."
I am having problem when I am trying to seek through the video in exoplayer. It does not update immediately in the player view. It takes some time to decode the current frame. So when I am seeking the video I can't see the frames in between. Any help or suggestion is appreciated.

[2022-01-10 13:35] icbaker commented on #9846
If you don't want to use a spec designed to provide seamless adaption between different resolution variants (e.g. DASH or HLS) then one way to switch to playing a new URL is simply to call `Player.setMediaItem` with a new `MediaItem` pointing at the new URL. You can pass in the `startPositionMs`, which will allow playback to start at the current position in the new URL. Note that this will **not**

[2022-01-10 15:05] alarochelle commented on #9018
Will this get fixed soon?
That's pretty major in our case. We can manually set the playback speed back to 1 whenever an ad starts playing, but it's honestly not perfect. Would probably be a lot better if it was handled on your side.

[2022-01-10 16:18] icbaker commented on #9847
The playlist provided over email does not play on my device - I get HTTP 403 errors and then a `SocketTimeoutException`:
[code]

Is this content geo-blocked? Please provide media that is globally accessible to allow us to reproduce the problem.

[2022-01-10 16:33] icbaker commented on #9850
Please provide more information about exactly what you're doing and what you expect to see.

When you call [`Player.seekTo(long)`](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/Player.html#seekTo(long)) the player will not render any frames between the previous playback position and the seek position, so this sounds expected (unless I'm misunderstanding what you're doing here -

[2022-01-10 17:02] christosts commented on #9794
Thanks for trying it out on the ExoPlayer demo app. I will need some additional assistance: please play the content with the ExoPlayer demo app (a few seconds will suffice), then grab a [bug report](https://developer.android.com/studio/debug/bug-report#bugreportadb) from the Shield and send it to us (or attach it on this issue).

I'm interested to see which decoder ExoPlayer picked on your specifi

[2022-01-10 21:05] davepotts commented on #9847
Hi Ian,. Unfortunately our streaming platform provider is having an issue where the stream throws not found for a few seconds while it provisions the chunks to the CDN,

If you run the stream initially for c.10 seconds it will eventually start. Subsequent recurring plays will not experience the issue while the content is accessed. The CDN cache files are cleared after 1 hour of non-vewership

Get

[2022-01-11 02:20] colorgold opened #9851 "Unable to play https streams"
I tried playing the following stream URL:
`https://centova.hostingtico.com:7006/stream`
I am able to play it on a browser, but I can't play it on Android using ExoPlayer. The error I get is:
`Source error`
and nothing more. There have been other streams that cannot play because they start with `https`, so I would remove the `s` and it would play successfully. However, this one does not exist witho

[2022-01-11 05:48] surajgju commented on #6168
In flutter same problem...
i was using this code with flick video player when error occured
[code]
  then i changed this code to like below and problem resolved
[code]

[2022-01-11 05:51] Kanchan3265 commented on #9850
Hey Thanks for replying
I am trying to update the currently visible frame while the user is dragging the time bar around and it is not updating the frames in the player immediately. The video file I am using is a simple downloaded mp4 file.

[2022-01-11 09:59] icbaker commented on #9850
You can try calling [`ExoPlayer#setSeekParameters(SeekParameters)`](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/ExoPlayer.html#setSeekParameters(com.google.android.exoplayer2.SeekParameters)) to change the seek behaviour away from  the default of [`EXACT`](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/SeekParameters.html#EXACT). This will make the thumbnai

[2022-01-11 10:28] icbaker commented on #9851
I tried the provided URL in the [ExoPlayer demo app](https://exoplayer.dev/demo-application.html). The stacktrace logged to logcat shows it fails due to a TLS certificate problem:

[code]

Switching the demo app to use the built-in network stack instead of Cronet gives a similar stack trace:

[code]

You can find more info about this problem here (and the Android docs linked from there): https://e

[2022-01-11 10:28] #9851 closed, assigned to icbaker

[2022-01-11 10:40] icbaker commented on #9847
I tried playing the stream 4 times in a row (over a period of a few minutes) and every time playback failed to start due to timeout exceptions.

[2022-01-11 11:31] christosts commented on #9804
The bug-report indicates your emulator is on Android Q. I tried with the emulator on Android Q and R and also on a Pixel device using the software codec and could not reproduce.

Can you please try with a more recent Android version, and perhaps on another computer too? I'm inclined to close this issue as it does not appear to be ExoPlayer specific and I cannot reproduce either (in case I could fo

[2022-01-11 12:13] christosts commented on #9849
I do see something is going wrong in 2.14.2 but it appears to be working on 2.16.2. Can you please use/upgrade to the latest ExoPlayer version (currently 2.16.2) and try?

[2022-01-11 12:18] icbaker commented on #9813
Thanks for raising this, I agree that the final screenshot in your post looks better - and more closely aligns with what the Android captions settings preview promises.

I'll admit I'm not super-enthusiastic about adopting the approach from the medium post you linked - it does seem pretty hacky...

I took a quick look at how the [caption settings manager](https://cs.android.com/android/platform/su

[2022-01-11 12:34] Kanchan3265 commented on #9850
Actually even after trying all the seekparameters I am not getting the required output.It is not smooth enough the frames still take time to reflect.So can you suggest any different approach for acheiving this frame by frame kind of thing.

[2022-01-11 13:13] tonihei commented on #9850
There is also some guidance for the same issue in https://github.com/google/ExoPlayer/issues/6794#issuecomment-573068211. (Replace the part about `onSeekProcessed` with `onPlaybackStateChanged to STATE_READY` when using the latest ExoPlayer version).

And we have an open feature request to automatically adapt the player logic to scrubbing/trick play: https://github.com/google/ExoPlayer/issues/7171

[2022-01-11 13:32] tonihei commented on #9824
This sounds as if it's working as intended. The native memory is most likely used by the Android platform to allocate buffers for decoding the video and some buffers may also be allocated by the ExoPlayer library during the buffering process. The fact that it doesn't increase any further is a good sign that there is no leak and this is just working as intended. Note that playing 4K, 60fps videos n

[2022-01-11 14:07] tonihei commented on #9820
Thanks for the detailed explanation of your issue!

The general approach of using a Downloader (or manually triggering a `CacheWriter`) is definitely the right one to solve requirement `#1` (because the data is stored on disk):
 - To make this work nicely, both playback and download should access the same `Cache` via a `CacheDataSource`
 - If you don't want the player to cache while playing, you c

[2022-01-11 14:21] icbaker commented on #9850
I'm going to close this because I don't think there's anything further to add beyond the references that Toni has linked to.

[2022-01-11 14:21] #9850 closed, assigned to icbaker

[2022-01-11 18:46] mattahorton commented on #5246
It's 2022 and exoplayer can't be found on MavenCentral. What's up?

[2022-01-11 19:18] rrfrias commented on #9526
Hi @abhishekpatil26, the failure cause for a Qualcomm based device will differ from MediaTek or Exynos based devices. The bugreport you shared on October 5th helped us root cause the Qualcomm failure. MediaTek and Samsung will need similar information to investigate and root cause. If analytics captures stack traces of the failure, can you share that with  dev.exoplayer@gmail.com . Add "Issue 9526

[2022-01-11 20:15] colorgold commented on #9851
Thank you for the information! I was able to acquire a different URL that would work because as you mentioned, the TLS certificate was the problem.

[2022-01-11 23:24] rrfrias commented on #8039
@PawKanarek  Is it possible to get a bugreport for the failure? There is not enough information in the stacktrace above to determine a specific failure.

[2022-01-12 08:49] ogawa-ma opened #9852 "MediaDrmStateException throws OfflineLicenseHelper.renewLicense()"
■ environment
ExoPlayer : 2.16.1
Device : Pixel3
OS : Android12

I get the following error when trying to renew my Widevine license using OfflineLicenseHelper.renewLicense.

[code]

To test this, I changed the ExoPlayer sample app to the following and ran it, and it also occurred in the sample app.
[code]

There were similar issues with https://github.com/google/ExoPlayer/issues/8554, but this tim

[2022-01-12 08:53] nisecap12 commented on #9849
I checked the file plays well on latest ExoPlayer version (2.16.1).
Thank you for your help!

[2022-01-12 08:53] #9849 closed, assigned to christosts

[2022-01-12 10:09] ogawa-ma commented on #9852
I'm sorry. The first error log I posted was not the log generated by the sample app, so I updated it to the error log generated by the sample app.

[2022-01-12 11:08] menscikov opened #9853 "MPEG-4 video stream is not opening, while other players can open it without problems."
**Issue description**
ExoPlayer can't open MPEG-4 AVC video stream. No errors, just constant loading.
VLC player opens without problems.

**Link to test content**
Link to the media e-mailed to ExoPlayer development team.

**Version of ExoPlayer being used**
2.16.1

**Device(s) and version(s) of Android being used**
Xiaomi Mi 9T, Android 11

[2022-01-12 11:32] petruseldiana opened #9854 "Video recorded with an IOS device(iphone 8) is not beeing smooth rendered within the player"
Here is the link to the video: https://storage.googleapis.com/ring4all-stg/cdL9sx3OvLzf1WY.mp4
Even if it is jerkily rendered within the browser too, it is being played smoothly on an IOS device.

Android version: 9
ExoPlayer version number: 2.16.1

[2022-01-12 12:54] PawKanarek commented on #8039
@rrfrias Sorry, we don't have access to these devices. This exception occurs on our customers' devices, and what we get is anonymized error report with exception stacktrace, so we cannot directly ask them about full bugreport.

On our devices bug never occurred, but we could observe it sometimes on AppCenter Test Cloud https://appcenter.ms/, but again what we get is only stacktrace from the except

[2022-01-12 14:00] icbaker commented on #9853
I can reproduce the problem as described. The stream provided over email plays in VLC on MacOS but not in the ExoPlayer demo app (2.16.1).

I see the following in the logs, which indicates the server is returning a HTTP 404 response.  To understand why that's happening I suggest you look in the server logs or talk to the hosting provider - it doesn't seem like an exoplayer problem.

[code]

[2022-01-12 14:05] menscikov commented on #9853
Hello, thank you for testing the video stream. One of my users reported about this issue.
I will send him this information.

[2022-01-12 14:53] dgelormini commented on #9795
I'm running into this issue as well with the 2.16.1; easiest way to repro on my end is to just select a different CC option then pause/resume the app. Tested on the `dev-v2` branch and it appears to be working there.

[2022-01-12 15:22] antoniovm opened #9855 "VMAP Midrolls raise a decoder exception on some devices (more details below) when main content is Widevine protected"
- [X] Search existing issues, including issues that are closed:
  https://github.com/google/ExoPlayer/issues?q=is%3Aissue
- [X] Consult our developer website: https://exoplayer.dev/
- [X] Check the supported formats: https://exoplayer.dev/supported-formats.html
- [X] Try playing problematic media in the demo app:
  http://exoplayer.dev/demo-application.html

## Description
VMAP Midrolls raise a de

[2022-01-12 15:56] icbaker commented on #9855
This is a duplicate of #8696 (see snippet from bug report below). The root cause is device-specific (and it only started occurring on Android 11), but we've submitted a workaround to the library (linked at the bottom of that issue) that mitigates the issue. The workaround is available on the dev-v2 branch but not yet part of a maven-distributed release.

[code]