[2022-10-11 09:17] 247az commented on #10661
@icbaker @christosts
Looks like the QPR1 b2 version has just been released.
https://developer.android.com/about/versions/13/release-notes#beta2
I checked again on this version, it seems that this error is gone.
Is it fixed on this version ? Or was I wrong?

[2022-10-11 09:59] asos-edgeorge opened #10684 "Android 12L - AbstractMethodError calling onSpatializerAvailableChanged"
### ExoPlayer Version

2.18.0

### Devices that reproduce the issue

All devices that have this issue are Samsung devices within the Galaxy Z Fold/Flip series, running Android 12 (presumably 12L)

For example, the three most popular devices experiencing this issue are:

* Galaxy Z Flip3 5G
* Galaxy Z Flip4
* Galaxy Z Fold3 5G

### Devices that do not reproduce the issue

Non-Galaxy Z Flip/Fold ser

[2022-10-11 11:37] christosts commented on #10684
Thank you for reporting the issue, we will investigate. I'd like to ask some additional information. You mention this occurs only on "Galaxy Z Fold/Flip series, running Android 12 (presumably 12L)". Just to confirm, do you have data if your app is running on other devices with Android 12L/13? For example, Pixel devices have started receiving Android 13. Any errors there?

[added]
To avoid the erro

[2022-10-11 12:00] christosts commented on #10684
[internal ref b/252738423]

[2022-10-11 12:29] icbaker commented on #10683
Please provide clear & complete steps we can use to reproduce this - and also please provide a clear explanation of how you are measuring/observing "the player continues to load the manifest of the old mediaitem".

[2022-10-11 12:31] icbaker commented on #10682
It looks like in your example app you're continuing to decrypt and decode the video in tha background (at least, i didn't spot any logic to disable the video track when going into the background). Is it possible this is too much load for the device? Does the problem still reproduce if you disable the video track when you're playing in the background? This will save all the computation resources cu

[2022-10-11 14:33] microkatz commented on #10604
@lmartin You noted in your bug that the issue is reproducible with the demo app. Can you direct us to the content you used to reproduce this issue?

[2022-10-11 14:42] asos-edgeorge commented on #10684
Thanks @christosts for your response

Based on our crash reports, we are not seeing this for any other device family or Android version. We support all devices running Android 5.0+, so based on that it's a reasonable assumption to say it doesn't look to affect anything else at this time. 

However, should we see any additional devices or OS' in the report, I will update this ticket. 

Going forwar

[2022-10-11 15:33] ericharlow commented on #10682
@icbaker Thanks for the response. I disabled the video track and I am still able to reproduce the issue.

What else should I try?

[2022-10-11 16:50] tonihei commented on #10662
The audio stream is marked as a private stream in the PS container. The only format we currently assume to be in a private stream is AC3 (see this [note here](https://github.com/google/ExoPlayer/blob/ab4d37f499ba49bb3cac7938eb03ebf7133ccfe6/library/extractor/src/main/java/com/google/android/exoplayer2/extractor/ts/PsExtractor.java#L238)). I can mark it as a low-priority enhancement to support more

[2022-10-11 18:34] PaulCombal commented on #10537
This is probably the best answer. Thank you for your time and contribution to open source ❤️
Would some light about `LoadControl`'s usage and use cases in the documentation be a good addition?

Feel free to close the issue if nothing needs to be added.

[2022-10-12 06:44] thucngv commented on #10683
I play a mediaitem playlist .
when next mediaitem, old mediaitem still loading manifest.
You can check by logging http request

[2022-10-12 11:03] grapevine23 commented on #10651
Thanks for explaining.

[2022-10-12 13:07] icbaker commented on #10537
`LoadControl` is briefly mentioned here as controlling buffering behaviour: https://exoplayer.dev/customization.html

There's more details in the [`LoadControl`](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/LoadControl.html) and [`DefaultLoadControl`](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/DefaultLoadControl.html) javadoc pages.

[2022-10-12 13:07] #10537 closed, assigned to icbaker

[2022-10-13 06:34] vishnuchilakala opened #10685 "Skipped midrolls do not play when skipped to the very end of the video duration"
### Use case description
When a user skips to the very end of the video, the [IMA sample application ](https://github.com/googleads/googleads-ima-android) plays the last of all the skipped mid rolls by default before considering the playback as ended. The Exoplayer IMA Extension ends the playback instantly, not playing any of the skipped mid rolls.

### Proposed solution
On position discontinuity,

[2022-10-13 06:34] vishnuchilakala commented on #10685
PR raised for this issue: https://github.com/google/ExoPlayer/pull/10618

[2022-10-13 06:38] angelolloqui commented on #10409
Same issue here, not happening very often but for a few users (~0.1%, with different device manufacturers and OS versions, no apparent pattern there)
[code]

however, in my case compared to the one above, the video player is embeded into some other component of mine, so the XML looks like:

[code]

and the `PlaytomicVideoView` instantiated the Exo player inside a `FrameLayout` with:
[code]

[2022-10-13 06:52] punxoi commented on #10684
I'm facing the same issue.
See additional information below.
Thanks.

### ExoPlayer Version
2.18.1

### Devices that reproduce the issue
**100%Android 12**
**100% samsung**

- 58% Galaxy Z Flip3 5G
- 24% Galaxy Z Flip4
- 5% Galaxy Z Fold4
- 5% Galaxy Z Fold3 5G
- 3% Galaxy Z Flip
- 2% Galaxy Z Flip 5G
- 2% Galaxy Z Fold2 5G
- <1% Galaxy Fold 5G
- <1% Galaxy Tab S7
- <1% Galaxy Tab S6 Lite
- <1% Ga

[2022-10-13 08:54] icbaker commented on #10634
I'm un-duping this because the stack traces in #10409 refer to real resource IDs that our library does define, they just can't be found for some reason - whereas this one refers to a wrong/invalid (?) resource ID (`0x0`), so I think we should probably keep this separate.

[2022-10-13 09:01] christosts commented on #10684
@punxoi thank you for the information. May I ask, you mention this occurs 100% on Android 12. Is that Android 12 (API 31) or Android 12L (API 32)? Everything should be on 12L (API 32), but if you've seen any reports in API 31, that would be an interesting data point.

It's unclear yet why this error happens.

[2022-10-13 09:23] 0xera opened #10686 "Reopen: Certain Devices are crashing with SQLiteException when using DownloadManager"
clone for https://github.com/google/ExoPlayer/issues/9221

I have absolutely same problem on these devices with android 9/10/11

Honor/Huawei:
8.63% HONOR 10 LITE (ANDROID 10)
6.98% HONOR 20S (ANDROID 10)
6.07% HONOR 9X LITE (ANDROID 10)
5.48% HUAWEI NOVA 5T (ANDROID 10)
5.36% HUAWEI P SMART Z (ANDROID 10)

83.34% ANDROID 10
14.13% ANDROID 9

Xiaomi:
7% Redmi Note 9 (ANDROID 11)
5% Redmi Note 8T (

[2022-10-13 09:28] 0xera commented on #10686
#9221

[2022-10-13 09:29] 0xera commented on #10686
#9221

[2022-10-13 09:54] icbaker commented on #9221
Re-opening with extra info from #10686 from @0xera:

[2022-10-13 09:55] icbaker commented on #10686
I've re-opened #9221, closing this as a duplicate.

[2022-10-13 09:55] #10686 closed, assigned to marcbaechinger

[2022-10-13 10:45] pradeepvernekarzee commented on #10652
We are also facing a similar issue. Any updates?

[2022-10-13 10:48] farkasadam commented on #10652
@icbaker can you please update us? When I created the ticket I sent an email about the next steps how we can provide you a sample asset

[2022-10-13 11:09] icbaker commented on #10652
I looked in the bug report provided over email, I don't see the stack trace you posted in the original comment. Please could you take a look and check the BR covers the time that the error was thrown?

I'm afraid we're not able to provide the information requested for a reproducible stream - if you want us to try and reproduce the problem you would need to make the stream globally available. That

[2022-10-13 11:38] danielgliga3ss opened #10687 "ExoPlayer decoder buffer doesn't release - playback freeze"
### ExoPlayer Version

2.17.1

### Devices that reproduce the issue

SEI Robotics SEI700TE device (https://www.androidtv-guide.com/pay-tv-provider/tele2-tv-hub-mini/) -> Android 11
The bug was reported by the SEI Robotics team.

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Not tested

### Reproduction steps

No steps to reproduce the problem.

###

[2022-10-13 12:14] 0xera commented on #10686
I cant write any comment in original issue(

So I think this maybe happen because some vendor do something with sqlite for optimization. Maybe for fix add to exoplayer opportunity to use other databases?

[2022-10-13 13:01] icbaker commented on #10686
Sorry, I unlocked https://github.com/google/ExoPlayer/issues/9221 - you should be able to comment now.

[2022-10-13 13:08] 0xera commented on #9221
So I think this maybe happen because some vendor do something with sqlite for optimization. Maybe for fix add to exoplayer opportunity to use other databases or sqlite from Jetpack?

[2022-10-13 16:56] icbaker commented on #10687
There isn't really enough info here to be actionable. You haven't provided any steps to reproduce the problem, nor an analysis of the source code to point out what you believe to be wrong. Is it possible that ExoPlayer not releasing the buffer (as you claim) is a symptom of the wider freezing problem you observe, rather than a cause?

If this is a general problem with the ExoPlayer library (which

[2022-10-13 18:59] christosts commented on #10684
@asos-edgeorge also on

what is the behavior of your app when it's sent to the background? For example, does it continue to play media, does it release the player, anything in between?

[2022-10-14 01:04] #10599 closed, assigned to tonihei

[2022-10-14 02:51] yzcslam commented on #10661
Has the problem been solved?

[2022-10-14 11:55] shripaljadhav opened #10689 "Configuration information"
Hi everyone ,

1. Would like to know is there any method through which we can get DEFAULT_BUFFER_FOR_PLAYBACK_MS and DEFAULT_BUFFER_FOR_PLAYBACK_AFTER_REBUFFER_MS programmatically.
2. Is there any algorithm which will decide depending on our network strength what will be the DEFAULT_BUFFER_FOR_PLAYBACK_MS and DEFAULT_BUFFER_FOR_PLAYBACK_AFTER_REBUFFER_MS .
3. Can we modify DEFAULT_BUFFER_FOR_PLAYB

[2022-10-14 13:31] icbaker commented on #10661
@yzcslam: The Android 13 QPR1 Beta 2 release linked above contains the fix.

[2022-10-14 13:32] #10661 closed, assigned to christosts

[2022-10-14 15:07] icbaker commented on #10689
These are public fields, so you can read them programmatically from `DefaultLoadControl`.

These values are compile-time constants, they will not change based on your "network strength".

No, see above - these are compile-time constants.

[2022-10-14 15:07] #10689 closed, assigned to icbaker

[2022-10-14 16:48] GouravSna commented on #9823
Hi @christosts , Can you please take a look on this issue ?

[2022-10-14 17:17] ahmedaa6122 opened #10690 "Play video with user agent or referr"
How i can play videos with user agent or referr in exoplayer 2.18.1? I need full code please. Thanks

[2022-10-14 17:30] icbaker commented on #10666
Ah - my suggestion has a typo, sorry! It should have a `!` here (edited):

[code]

However, even with that change I still see the same behaviour you describe - the subtitles aren't cleared correctly.

Looking more closely at the stream it seems to have 4 checksum packets sent at the end of each subtitle line. The checksum is always 15. The first two packets have valid parity bits, the third one do

[2022-10-14 17:33] icbaker commented on #10690
* https://exoplayer.dev/network-stacks.html
* https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/upstream/DefaultHttpDataSource.Factory.html#setUserAgent(java.lang.String)
* https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/upstream/DefaultHttpDataSource.Factory.html#setDefaultRequestProperties(java.util.Map)

[2022-10-14 17:33] #10690 closed, assigned to icbaker

[2022-10-14 21:22] asos-edgeorge commented on #10684
@christosts 

So as far as I can tell, we are calling `player.stop(true)` which looks to be deprecated

**Edit:** Should you wish to see a video of this behaviour I would be happy to email it to the address within the Exoplayer Bug Report template

[2022-10-15 13:33] ahmedaa6122 opened #10691 "Play all video format"
How i can play all video format in exoplayer ?

[2022-10-17 00:21] jrw95 commented on #10591
I'm experiencing this problem, but I'm seeing this issue only when adding items to a queue, and with r2.17.1. (Same outcome, same failure in `DefaultMediaItemConverter.getMediaItem` parsing the JSONObject at line 145 of the 2.17.1 version of that class).  Considering the difference in ExoPlayer versions, I'm not sure whether I've come across a different issue entirely, or a different way to make t

[2022-10-17 01:19] punxoi commented on #10684
@christosts

Firebase Crashlytics seems to show both 12 and 12L as 12.
![image](https://user-images.githubusercontent.com/8148046/196069498-7e1eb8dd-1456-4e1d-9f44-960fcf12f19c.png)
![image](https://user-images.githubusercontent.com/8148046/196069538-bd4db34a-8763-4196-93cc-68537ec933e0.png)

[2022-10-17 07:39] lmartin commented on #10604
Sorry but I can't share this private content. I fixed the issue by re-encoding the video with ffmpeg, I used this command :
`./ffmpeg -i input.mp4 -c:v libx264 -x264opts keyint=25 -c:a copy output.mp4`

[2022-10-17 08:58] He12345678901 commented on #10646
ok, fine
But just to make sure, from your side the ExoPlayer 2.13.2 (regardless the device playing that audio) should support playing the Dolby Atmos signalized within this DASH manifest shared ? ExoPlayer needs some more specific identifiers in the manifest in order to play Dolby Atmos ? or what we have with this manifest is sufficient and OK ?
thanks

[2022-10-17 09:27] tonihei commented on #10685
I can reproduce the problem, thanks for reporting! Will have a look at the PR and continue the discussion there.

[2022-10-17 09:49] evgenyuliganets commented on #8473
have you solve this?

[2022-10-17 09:49] evgenyuliganets commented on #8473
have you solve this?

[2022-10-17 11:45] christosts commented on #10691
Please read the [supported formats](https://exoplayer.dev/supported-formats.html) page.  You can also try the [demo app](https://exoplayer.dev/demo-application.html) if you want to test with specific format. Let us know if you have a question for a specific format not covered by the documentation or not playable by the demo app.

Thanks.

[2022-10-17 11:45] #10691 closed, assigned to christosts

[2022-10-17 12:24] sergju opened #10692 "Playback freeze on chunk discontinuity"
Playback freeze and no any error about discontinuity

### ExoPlayer Version

2.18.1

### Devices that reproduce the issue

Samsung Galaxy A30s

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Yes

### Reproduction steps

Start play stream

### Expected result

Playing stream until the end

### Actual result

Playing freeze after 6sec

### Media

[disc

[2022-10-17 13:08] milan-fabian opened #10693 "Video rotation with SurfaceView"
Hello,

I am looking for a way to display video portrait video on a portrait TV in native (not UI) resolution using an Android box:

- The Android box has UI layer resolution 1080p and output resolution of 4K, so according to https://exoplayer.dev/ui-components.html#choosing-a-surface-type only SurfaceView can be used for actual 4K rendering. TextureView will render the video only in 1080p (UI lay

[2022-10-17 13:41] kueselj opened #10694 "How to achieve as low-latency as possible with ExoPlayer rtsp"
I'm wondering what the best way to achieve as low-latency as possible is regardless of quality. Currently, I'm trying to play a stream over RTSP but seem to be getting around a second or more of delay. My current ~rough~ setup looks like

[code]

I'm setting a load control with pretty low buffers (100ms) and an ExoPlayer with live target offset of 0ms. Am I doing something wrong or missing somethi

[2022-10-17 15:11] mbolaris opened #10695 "codec.queueSecureInputBuffer() calls taking too long for Widevine 60fps on some platforms"
In our testing with ExoPlayer on 60fps Widevine encrypted content we've observed calls to codec.queueSecureInputBuffer() are taking ~8-12ms on the Fire TV Omni and FireTV Insignia. On other platforms, we've checked the time is around ~4-6ms. These long queueSecureInputBuffer() times combined with needsSynchronizationWorkaround being set in doQueueSecureInputBuffer() prevent ExoPlayer from processi

[2022-10-17 16:41] christosts commented on #10695
`needsSynchronizationWorkaround` is there to solve the corrupted video issue you observed. There is no error raised when that happens, so the player or any app don't have a way to detect that at runtime. It was originally seen on some Samsung and Motorola phones and later on then it was detected on a Pixel 3. The fact that the video corruption cannot be detected led us to enable it for all devices

[2022-10-17 16:42] christosts commented on #10695
Leaving the issue open for anyone else who may want to add some information.

[2022-10-17 17:04] claincly commented on #10694
Setting `liveTarget` is irrelevant for RTSP streams.

Due to ExoPlayer's RTSP implementation, it's likely you are streaming RTP packets over TCP. However using UDP may lower the latency. To confirm that's the case, can you turn on logging and see if RTSP SETUP is logged four times? (please paste all RTSP related loggings here if possible).

To enable logging, use `RtspMediaSource.Factory.setDebugL

[2022-10-17 17:12] ahmedaa6122 opened #10696 "Ts url not play"
When i play ts url in exoplayer its show me black screen and not play video . ?

I use exoplayer 2.17.1

And this my code

`

String videoUri = getIntent().getStringExtra("url");
		 String userg = "REDLINECLIENT";

		ExoPlayer player = new ExoPlayer.Builder(this).setTrackSelector(trackSelector).build();

		DefaultHttpDataSource.Factory dataSourceFactor = new DefaultHttpDataSource.Factory().setUser

[2022-10-17 21:56] needz commented on #10659
@lazycatsoft, just checked FLAG_ALLOW_NON_IDR_KEYFRAMES with your code and it worked fine for me using the test sample TS I have in demo app version 2.18.1.

I don't have any sample to test the FLAG_DETECT_ACCESS_UNITS though. I can if you give the sample and tell what to look for.

[2022-10-18 07:59] mancuk opened #10697 "black screen when waiting load ads"
for the first time playing the first video, the ad is shown successfully. but when i try to play the second video, the ad loading runs for a long time and just a black screen

[2022-10-18 08:12] ahmedaa6122 commented on #10697
Can i contact with you in telegram or whattsapp please

[2022-10-18 08:24] mancuk commented on #10697
did you experience the same?

[2022-10-18 10:57] ahmedaa6122 commented on #10697
I can help you send me WhatsApp or telegram

[2022-10-18 11:16] rrfrias commented on #10567
`DefaultDrmSession` in ExoPlayer has a method `provision` that retrieves the `ProvisioningRequest` . Might it be possible to save and share the `data` portion of the `ProvisioningRequest`?

[2022-10-18 12:08] AnonymousWebHacker commented on #9424
@Samrobbo you know about support for H265 HEVC 10 bit?

[2022-10-18 13:25] Aazu07 opened #10698 "how to reset PlayerMessage on Page Reload"
I am creating a custom view by extending `StyledPlayerView` and adding that view to the xml. Also my PlayerView  have callbacks on different timestamp that I am creating using `createMessage()`.

[code]

Now everything works fine for normal app function but on Page reload, I need to update all the data but I am not getting the events from `createMessage()`
I even tried re-initializing the whole pl

[2022-10-18 15:27] fpitters opened #10699 "Playback corrupted after midrolls (Device specific)"
We have a device, LGE STB with Android 9, that fails to continue playing protected content after a midroll.
The decoder seems to enter a corrupted state when content is resumed.
See the attached video:
https://user-images.githubusercontent.com/1129222/196462328-82d4d036-ca16-456d-a53e-7eda0ed8e9b6.mp4

We only reproduce this when using some particular profile/levels, so it wasn't reproducible with

[2022-10-18 15:34] kueselj commented on #10694
Hi Claincly,

Thanks for helping out. I enabled Debug logging and saved the logs. I think the best way to share might just be a link? I included all the logs from the app's launch.  I pasted the logs below but also included a link if thats easier.

I saw SETUP only once (In what I think is the correct context). I also couldn't find anything for discerning whether I was using TCP or UDP but I do se

[2022-10-18 15:53] claincly commented on #10694
It seems you are indeed using the UDP mode. (you can verify by not seeing `Transport: RTP/AVP/TCP` in RTSP SETUP.

I'm afraid there's nothing more to do on the RTSP side.

@christosts can you take a look if the `LoadControl` parameter makes sense to you?

[2022-10-18 16:18] christosts commented on #10698
What exactly happens when you say `on Page reload`? For example, re-initializing the player will drop the messages. In the code snippet, you set a position on the messages. When the page reloads, do you restart playback from the beginning?

[2022-10-18 16:33] christosts commented on #10699
@icbaker do you think this falls into any of our existing cases transitioning between secure and non-secure decoders?

[2022-10-18 17:01] icbaker commented on #10699
@fpitters What happens if you use `drm_session_for_clear_content` in your clear sample?

Concretely (note you also need to specify a DRM scheme):

[code]

[2022-10-18 17:15] christosts commented on #10693
You could have the decoder rotate the video during decoding. Ultimately, the MediaCodec needs to be configured with a `MediaFormat` that contains the key `MediaFormat.KEY_ROTATION` and the rotation degrees for a value.

There are several methods in `MediaCodecVideoRenderer` you can override to achieve this, possibly just start with overriding [`MediaCodecVideoRenderer.getMediaFormat()`](https://gi

[2022-10-18 20:29] #10699 closed, assigned to icbaker

[2022-10-18 20:31] fpitters commented on #10699
And yes!
That solves the issue with the playlist and discovers a bug on my code on which `DefaultDrmSessionManager.setUseDrmSessionsForClearContent` wasn't being applied :disappointed:
Sorry I've missed it and thank you very much for the help!

[2022-10-18 22:33] fredgc commented on #10158
It looks like you are trying to cast to an emulator. Cast requires L1 support, and L1 support requires real hardware.

[2022-10-19 01:04] #10304 closed, assigned to rrfrias

[2022-10-19 02:24] 247az opened #10700 "Call method OfflineLicenseHelper.getLicenseDurationRemainingSec while playback is playing will cause the player to drop FPS or lags"
## Issue
We have an episode screen, and below playback there's a list of content lists, which show which content has downloaded or not.
When we scroll that list, we have a license request to check if the content's license has expired.
But when scroll up or down, it will cause lag or FPS drop while the video is playing.

This error you can reproduce very easily. As long as you call method `OfflineL

[2022-10-19 03:11] zyfeng413 opened #10701 "Does ExoPlayer can support Dolby ATMOS video playback?"
I need to play a Dolby video in my project, but the playback fails.
ExoPlayer Version:v2.18.0
Environment: Xiaomi Mi 10T
logcat:
EventLogger: tracks [eventTime=0.36, mediaPos=0.00, window=0, period=0
EventLogger: group
EventLogger: [
EventLogger: [X] Track:0, id=1, mimeType=video/avc, codecs=avc1.640032, res=2400x1200, fps=25.0, supported=YES
EventLogger: ]
EventLogger: group
EventLogger: [
EventL

[2022-10-19 04:31] Aazu07 commented on #10698
On re-initializing player I am releasing earlier instance of Exoplayer and then calling
[code]
which recreates a new Exoplayer and sets the media again and plays it from the start.

Thats why I am not getting why its not working as the whole Exoplayer is a new instance.

[2022-10-19 06:07] icbaker commented on #10158
@fredgc I don't think there's any casting happening here, this is just local playback. It works on the API 30 emulator, but not the API 31 one. See b/228424439#comment3 and comment4 for some more diagnosis details.

[2022-10-19 06:32] aareeph opened #10702 "Playing Audio with Fade In/Out effect"
Previously I was using the Timer() thread to create a Volume Fade In and Fade Out effects while playing the audio and setting up the volume in it. After upgrading to the latest version of ExoPlayer now I am getting the following error message:

I understand that ExoPlayer needs to accessed via same thread, but is there a way to create the Volume Fade In/Fade Out effect?

Thanks

[2022-10-19 07:33] milan-fabian commented on #10693
Thank you for the tip, I am getting promising first results after changing:
[code]
to
[code]

[2022-10-19 07:56] DevinDuricka commented on #10172
I've also noticed that when using `MediaSessionService` the notification will only include the artwork if the `MediaItem` sets the Artwork data, but not the `playlistMetadata` (this may be by design).

It is a little problematic for me. I have an Audiobook player, and I prepare all my mediaitems at launch of the book. Adding the `ArtworkData` to each MediaItem's metadata slows the app down conside

[2022-10-19 08:31] Kaviya-M opened #10703 "Disabling complete access of software rendering mode in exoplayer"
I am developing a media player application. In that, audio/video player are developed using exoplayer API's.
My requirement is like I need to disable the complete use of software codecs for rendering.
As per the documentation, it seems like exoplayer in default uses hardware acceleration first, and if hardware acceleration is not available it works on software codec for that particular file.
My ex

[2022-10-19 08:34] Malobash opened #10704 "Startup delay not fixed when changing load control parameters"
### ExoPlayer Version

2.18.1

### Devices that reproduce the issue

android mbox android 11.1

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Not tested

### Reproduction steps

1. add 2 media items:  udp://@192.x.x.x:1234 and udp://@192.x.x.y:1234  exoplayer demo app
2. try to switch between them by calling seekTo(2)
3. check the delay on startup,

[2022-10-19 08:44] Kaviya-M opened #10705 "Software codec supported in Exoplayer"
In exoplayer documentation [https://exoplayer.dev/supported-formats.html] only able to view exoplayer supported media formats.
Any idea/ API's  that we can use to list out the software codec that is supported in Exoplayer?

[2022-10-19 09:54] He12345678901 commented on #10646
Hi
important to understand whether ExoPlayer 2.13.2 supports and needs this additional tag in manifest of "JOC" (Joint Object Coding) in order to decode the necessary meta data of Dolby Atmos ?

        <SupplementalProperty schemeIdUri="tag:dolby.com,2018:dash:EC3_ExtensionType:2018" value="JOC"/>
        <SupplementalProperty schemeIdUri="tag:dolby.com,2018:dash:EC3_ExtensionComplexityIndex:2018

[2022-10-19 10:02] christosts commented on #10172
@DevinDuricka this is a different issue as it affects the `MediaSessionService`. Can you please file on the [media3 tracker](https://github.com/androidx/media/issues/) so we can track/handle this separately?

[2022-10-19 10:51] christosts commented on #10694
They are quite low, I don't know if there's room for further improvement if you lower them further.

@kueselj: ExoPlayer was not designed for use-cases that require sub-second latency, such as real-time streaming (webcam viewing, video conferencing, etc). Therefore, several components are not tuned to work as-fast-as possible to achieve the best latency. The player aims to achieve smooth playback

[2022-10-19 12:30] tonihei commented on #10697
Please provide more detailed reproduction steps and explanations of what's happening. Otherwise we can't really address the issue if we can't understand what you are seeing and how it occurs.

[2022-10-19 16:45] #10693 closed, assigned to christosts

[2022-10-19 16:48] christosts commented on #10701
The log pasted says that the audio format is not supported on this device

A quick search shows that the Xiaomi Mi 10T does not support playing Dolby Atmos.

[2022-10-19 16:51] christosts commented on #10705
Closing, I assume this is a duplicate of #10703

[2022-10-19 16:51] #10705 closed, assigned to christosts

[2022-10-19 16:59] icbaker commented on #10666
I looked into this further. It seems when selecting field 1 with the provided stream we receive many more 'erase displayed memory' commands (`0x2C`) compared to when field 2 is selected. With field 2 selected this erase command only arrives immediately before the next subtitle is due to be shown, hence the screen is not cleared. At this point, I suspect this is a problem with this stream, and I do

[2022-10-19 17:01] christosts commented on #10703
If you want to not use software decoders at all, you can provide a custom `MediaCodecSelector` by calling `DefaultRenderersFactory.setMediaCodecSelector()`. Your custom `MediaCodecSelector` can forward the `getDecoderInfos()` call to `MediaCodecSelector.DEFAULT` and then filter out any `MediaCodecInfo` that is not `hardwareAccelerated `.

Enabling decoder fallback or the extension renderers serve

[2022-10-19 17:01] #10703 closed, assigned to christosts

[2022-10-19 18:11] christosts commented on #10646
I can confirm that ExoPlayer 2.13.1 will parse the tag `tag:dolby.com,2018:dash:EC3_ExtensionType:2018` and will detect that this stream is an Atmos stream (MIME type audio/eac3-joc) and not a Dolby Digital+ stream (MIME type audio/eac3).

Please see #6636.

The manifest that was attached above does **not** contain those tags, therefore it was detected as audio/eac3, but if the manifest has the ta

[2022-10-19 21:47] xeinebiu opened #10706 "Parse duration with MetadataRetriever"
After some search on Google and Github issues, I cannot find a way how to retrieve the duration of a stream via `MetadataRetriever`.

I am trying to avoid the `android.media.MediaMetadataRetriever` as it is extremly slow on parsing Metadata comparing to

[code]

[2022-10-19 21:58] rrfrias commented on #10162
Sorry I gave you bad advice. Since the bundle is still parceled `toString()` will just print the size but not data. One option is to use MediaDrm.getMetrics().writeToStream() but that is rather verbose.

A preferable change is to use [MediaDrm.getPropertyByteArray](https://developer.android.com/reference/android/media/MediaDrm#getPropertyByteArray(java.lang.String))("metrics") . This returns a byt

[2022-10-20 01:17] zyfeng413 commented on #10701
But I can use MediaPlayer to play it, so it's not that the device doesn't support it.

[2022-10-20 03:31] how8570 opened #10708 "Chromecast with Google TV update to Android 12, play 4k 60fps get format_supported=NO_EXCEEDS_CAPABILITIES"
### ExoPlayer Version

2.18.1

### Devices that reproduce the issue

Device: Chromecast with Google TV (4k ver)
Android version: 12

probably relevant system info:
![image](https://user-images.githubusercontent.com/16633155/196842167-0ed4595d-508f-4fba-893f-894c7b9848b2.png)

### Devices that do not reproduce the issue

NVIDIA SHIELD
Chromecast with Google TV on Android 10

### Reproducible in the

[2022-10-20 04:54] vijayairtel commented on #10285
Play the video for few seconds and then pause it. Within few seconds this error occurs and we have to retry to play back again.

[code]

[2022-10-20 06:35] mancuk commented on #10697
first,
when about to start the video, an ad appears.
but when we play another video the ad doesn't appear.
the ad only appears once when we open the app and play the video. but after that the ad no longer appears when playing another video. only black screen appears

[2022-10-20 09:52] tonihei commented on #10697
This doesn't really help I'm afraid. Please provide specific steps we need to take to reproduce the problem (e.g. describing changes to the demo app )

[2022-10-20 11:15] christosts commented on #10684
@asos-edgeorge @punxoi what is the compileSdkVersion you are are using to build your apk? Specifically, are you using a version before 32 (e.g. 30 or 31)?

[2022-10-20 13:00] Mavamaarten commented on #10684
@christosts I haven't chimed in before, but I see the same crash in our Crashlytics. We currently use compileSdk 31 and targetSdk 30.

[2022-10-20 14:05] christosts commented on #10701
Can you please share the following:
- a link to the media you're playing for us to inspect it
- a [bug report](https://developer.android.com/studio/debug/bug-report)  obtained from the device after that media is played by MediaPlayer.

If you're unable to share those publicly, please send them to dev.exoplayer@gmail.com subject "Issue #10701". Please also update this issue to indicate you've done

[2022-10-20 14:46] sridhard commented on #10285
we are also facing this issue

[2022-10-20 14:48] sridhard commented on #9256
yes. same issue

[2022-10-20 16:33] christosts commented on #10708
I'm testing the content (H264, 4K, 60fps) on the same device on Android 10 (build `QTS1.220504.008.8726984`) and the video format is reported to exceed the device capabilities too.

Video playback starts, there are many dropped frames, but no error [1]. The device cannot decode 4K at 60fps.

I upgraded the device to Android 12 and I can see the error. The codec still reports that H264 4K@60fps is

[2022-10-20 18:13] christosts commented on #10708
[internal ref 254670010]

[2022-10-20 21:19] ahmedaa6122 opened #10710 "Ts url not work in android 9 and higher"
Im use exoplayer 2.18.1 and when run my project in androi 8 and try ts url its work but when try my project in android 9 and higher ts url not work and this is my simple code who i use to play url

[code]

And this is my Ts url :

http://77.247.109.140:2095/AYATV/AYAVIP/23958?token=GhoNVBVaEA4WWwMNBgtTWQJTBlQAVAECVQoGUwENUlcEDFAAU1AHAwZBHBpHRhBdAA9oDQdACQMBDFEJABgWERJdF2oPVhAOFlcACAUAUBpNQEMNDgcRC

[2022-10-20 21:51] asos-edgeorge commented on #10684
@christosts Same as the above. Compile SDK is 31 and target is 30

[2022-10-20 23:38] punxoi commented on #10684
@christosts Both compile and target SDK versions are 31.

[2022-10-21 03:37] ogawa-ma commented on #10567
@rrfrias
Sorry,
I don't have a device where the error occurs, and I can't distribute an app with the code to get the `ProvisioningRequest` `data` to the general user who is experiencing the error, so I can't share it with you.

[2022-10-21 05:29] 390057892 commented on #10684
![image](https://user-images.githubusercontent.com/23398269/197119491-23ce9554-f2e7-4f7b-809b-3c0d7e7720ee.png)
I encountered the same problem. The devices that reported errors in the statistical information on the bugly platform are all Samsung version and Android 12

[2022-10-21 05:30] 390057892 commented on #10684
This is my dependent version
`
    def exoplayer_version = '2.18.1'
    implementation "com.google.android.exoplayer:exoplayer-core:$exoplayer_version"
    implementation "com.google.android.exoplayer:extension-okhttp:$exoplayer_version"
`

[2022-10-21 06:51] mancuk commented on #10697
I have 2 videos: Video A and Video B
when i start video A an ad appears before the video,
but when I start video B the ad doesn't appear at all and the video doesn't exist, there's only a black screen

[2022-10-21 06:52] mancuk commented on #10697
private fun initializePlayer() {

        val mediaSourceFactory: MediaSource.Factory = DefaultMediaSourceFactory( /* context= */this)
            .setLocalAdInsertionComponents(
                 { adtags: MediaItem.AdsConfiguration? -> clientSideAdsLoader },  /* adViewProvider= */
                playerView!!
            )

        playerView.let {
//            it!!.requestFocus()
            pl

[2022-10-21 07:20] shripaljadhav opened #10711 "Values of SBL and RBL"
how to change 'start-up buffer length' and 'rebuffering buffer length (SET) these default parameters programmatically, and how to read (GET) values of 'bitrate', 'start-up buffer length' and 'rebuffering buffer length' from exo-player instance, at any time when video is playing.

[2022-10-21 07:23] tonihei commented on #10684
To solve this issue you need to upgrade your `compileSdkVersion` to at least 32. This is necessary when you depend on libraries like ExoPlayer that are already compiled against 32. Upgrading the compile SDK should have no influence on the app behaviour, it just makes the latest Android SDK available during compilation and code shrinking.

[2022-10-21 07:23] #10684 closed, assigned to christosts

[2022-10-21 08:42] tonihei commented on #10702
Yes, that's right, your need to access the player from a single thread at all times (usually the main thread). If you get signals on another thread, you can usually send a Handler message/post to the player thread to handle them there. This has always been the case, we just didn't enforce it.

We also don't support fading effects out of the box at the moment. I can mark this as an enhancement to s

[2022-10-21 09:17] christosts commented on #10711
I see you also filed #10689 so I'll answer with that issue in context too

This information is in [`DefaultLoadControl`](https://github.com/google/ExoPlayer/blob/r2.18.1/library/core/src/main/java/com/google/android/exoplayer2/DefaultLoadControl.java) and it cannot be changed after the instance is created. If you want to dynamically change these values, you'd have to create a custom `LoadControl`

[2022-10-21 09:18] icbaker commented on #10706
I'm afraid this is currently not possible, I'll mark this as an enhancement.

If we add support for this it will likely only work for files where the duration can be 'cheaply' determined, generally by reading some metadata at the top of the file - we probably won't implement it for files where the duration can only be determined by reading the whole file (e.g. variable bitrate MP3 with no xing hea

[2022-10-21 09:33] icbaker commented on #10700
I suspect there's some detail missing from your reproduction instructions. Please can you clarify the following points before I spend time trying to reproduce this:

Does the content need to be DRM protected? What scheme?

Does it matter what parameters I pass to `validateOfflineLicense`? e.g. does the problem still reproduce if I pass `licenseUrl = ""` or `keySetId = null`?

[2022-10-21 09:33] icbaker commented on #10700
It might be easiest to fork our demo app and make some small modifications then share a link to the fork here.

[2022-10-21 10:01] 247az commented on #10700
@icbaker
Thank you for your reply.

I've tested it even on content without DRM, and when I call `offlineLicenseHelper.getLicenseDurationRemainingSec(keySetId)` this error still occurs. I'm using `Widevine` scheme.

I have checked that if licenseUrl or keySetId = null it will return false, so it won't call `offlineLicenseHelper.getLicenseDurationRemainingSec(keySetId)`. I also don't think we can pa

[2022-10-21 10:28] AGasztold opened #10712 "Glitches on Chromecast 4 with Android 12 on multiple streams, after updating Android from 10 to12"
### ExoPlayer Version

2.18.1

### Devices that reproduce the issue

Hello,
We have issued a lot of glitches on multiple streams from our CDN after updating Android (from 10 to 12) on Chromecast 4.
For example:
https://r.dcs.redcdn.pl/dash/o2/portal/prod/vod/tears_of_steel/movie/dash/Manifest.ism
https://ls-proxy.redlabs.pl/license/wvpl?key=4328A83659094C4B79C8215075BF85D6
There was no problem wit

[2022-10-21 10:46] 247az commented on #10700
@icbaker

Sorry for keeping you waiting so long. I made an example for you to see.
Please download the content below, then open it, then press the `SELECT TRACKS` button to see what happens.

Below is the content that I used in the demo app. As for the code, I encapsulate it in the file below. Can you check for me.
![Screenshot_20221021_193756](https://user-images.githubusercontent.com/114720380/1

[2022-10-21 10:50] 247az commented on #10700
@icbaker
Here is the video (Sorry because its a DRM content)
https://user-images.githubusercontent.com/114720380/197181546-42a6f2e6-67e3-40f9-ad07-2d9a4027f11c.mp4

[2022-10-21 12:52] christosts commented on #10710
It would help if you mentioned the error raised. I noticed the content url is HTTP and not HTTPS, so I think your app may not be able to resolve HTTP urls. If that is so, please read the [Fixing “Cleartext HTTP traffic not permitted” errors](https://exoplayer.dev/troubleshooting.html#fixing-cleartext-http-traffic-not-permitted-errors) advice.

If that's not the problem, I suggest you try playing t

[2022-10-21 12:52] #10710 closed, assigned to christosts

[2022-10-21 13:43] christosts commented on #10712
I can verify the glitches. The are batches for frames dropped, but they are not coming (or detected) from ExoPlayer. [vfpo](https://medium.com/google-exoplayer/improved-rendering-performance-operating-mediacodec-in-asynchronous-mode-and-asynchronous-buffer-3026207850b2) is high at arounf 44ms, so the player's rendering loop seems to be working fine. I think the frames are dropped by the components

[2022-10-21 13:50] AGasztold commented on #10712
Please share the logs and content links with Chromecast team. Is it possible to have any feedback from further investigation in this thread?

[2022-10-21 13:50] He12345678901 commented on #10646
thanks for your response,
1. I guess that ExoPlayer 2.13.2 will also know how to parse this tag for Atmos stream "tag:dolby.com,2018:dash:EC3_ExtensionType:2018" , correct ?
2. about MIME Type - is it mandatory that dash manifest contains mimeType="audio/eac3-joc" ?
or to have manifest with mimeType="audio/mp4" , codecs="ec-3"  and those tag "tag:dolby.com,2018:dash:EC3_ExtensionType:2018" should

[2022-10-21 13:51] christosts commented on #10712
Yes

[2022-10-21 14:14] christosts commented on #10712
[internal ref 254842727]

[2022-10-21 14:47] He12345678901 commented on #10646
hi
indication that I have now is that MIME type in manifest should Not change, but remain "audio/mp4", with codecs="ec-3" and those tag contained, "tag:dolby.com,2018💨EC3_ExtensionType:2018"
would it be OK for ExoPlayer to parse the Atmos stream ?
thanks

[2022-10-21 15:19] atkGit opened #10713 "EOF exception comes while running DASH stream with TTML track"
### ExoPlayer Version

2.17.1

### Devices that reproduce the issue

NVDIA shield with Android 11

### Devices that do not reproduce the issue

Not tested any other

### Reproducible in the demo app?

No

### Reproduction steps

Play the mpd , enable track selection parameters to select the text for eng and also enable the undefined language too

### Expected result

Media should play successfully

[2022-10-21 15:21] christosts commented on #10646
yes

The second option

[2022-10-21 15:59] ericharlow commented on #10682
@icbaker Do you need any more info from me on this?

[2022-10-21 16:07] icbaker commented on #10682
Given this is device-specific, and I don't have access to either of the mentioned devices, I'm afraid there's very little additional support I can offer.

Do I understand correctly that it only happens when changing playback speed? Does it happen when playing slower than 1x as well as faster?

Is the audio track encrypted as well? It's possible that calls to `MediaCodec.queueSecureInputBuffer` are

[2022-10-21 19:45] ericharlow commented on #10682
That is correct. It happens when playback speed has been set to a value greater than 1.0x and it does not happen when playing at slower speeds like 0.5x or 1.0x.

The audio track is encrypted. I just added a call to forceEnableMediaCodecAsynchronousQueueing() on DefaultRenderersFactory, but that didn't stop the stuttering.

[2022-10-22 08:56] asos-edgeorge commented on #10684
Thanks @tonihei - could you perhaps update the documentation to reflect this? I cannot find a reference to this requirement

[2022-10-22 09:26] tonihei commented on #10684
Well, we weren't fully aware of this either until yesterday. :)

But it definitely seems expected that an app uses at least the compile SDK that all of its dependencies are using. Some dependencies like AndroidX appcompat seem to be able to enforce this automatically, so we'll try to do the same in the future to avoid the additional documentation need.

[2022-10-22 11:49] asos-edgeorge commented on #10684
Amazing. Thank you for investigating this, in hindsight it seems fairly obvious this is the issue 😅 If you can enforce the version going forwards then that'd certainly help

[2022-10-23 05:21] renesotolira opened #10714 "Hello, how can i show button forward and backward at mini controller for chromecast function?"
Hello, how can i show button forward and backward at mini controller for chromecast function?

[2022-10-24 00:53] zyfeng413 commented on #10701
The email has been sent.

[2022-10-24 05:35] donny9095 opened #10715 "How to set large icon for download notification ?"
Hi developers and everyone here,

This is just a question, and I hope you can help me answer it.
I'm wondering How to set large icon for download notification, when ExoPlayer library doesn't support it anymore.
I also want to know why the set large icon feature is gone.
Can you please detail How I can show the large icon when downloading ?

Thank you very much.

[2022-10-24 09:01] zgzong commented on #10684
@tonihei
I think Samsung have a bug that they are reporting the device with api level 32 as android os 12 as well. They didn't distinct the android 12 and 12L.

We are facing the same problem here, but both the application compileSdkVersion and targetSdkVersion are 33.
At moment, the dev team has not be able to reproduce the issue. We will update this thread when we find more.

[2022-10-24 09:58] icbaker commented on #10700
Similar symptoms were reported in https://github.com/google/ExoPlayer/issues/9265

I proposed a hacky approach that would keep the same `MediaDrm` instance for each call, which I found did speed things up a bit: https://github.com/google/ExoPlayer/issues/9265#issuecomment-894366296

The ultimate conclusion on that issue is that this call will likely always be slow - and you may want to cache the v

[2022-10-24 09:58] #10700 closed, assigned to icbaker

[2022-10-24 10:05] goffioul opened #10716 "Does H264Reader handle midstream SPS/PPS (from TV broadcast) correctly?"
I'm using ExoPlayer 2.18.1, and I noticed an oddity when playing a TV broadcast capture (h264/ac3) related to the way the h264 stream is segmented by H264Reader to be fed to the platform codec.

(I will send a link to the sample stream by email to devs. Note that the sample stream requires `FLAG_ALLOW_NON_IDR_KEYFRAMES`.)

The sample stream has the particularity to have midstream SPS/PPS at regula

[2022-10-24 10:15] pacman899 commented on #5660
Hi,

Is this planned to be implemented?

There is a design doc from 2020-01-15 by @tonihei , and I found a few other issues that were closed because of similarity\duplicate with this.

Just saying, there is a demand for this feature

[2022-10-24 10:36] icbaker commented on #10410
You may find it easier to use media3 rather than ExoPlayer (media3 is a superset of ExoPlayer), because it has much cleaner integration with media sessions, which is what controls the metadata used by Google Assistant and bluetooth connections.

https://developer.android.com/jetpack/androidx/releases/media3

https://android-developers.googleblog.com/2021/10/jetpack-media3.html

https://medium.com/

[2022-10-24 10:57] marcbaechinger commented on #10714
The general answer is that you can use `CastPlayer` like any other `Player` implementation with UI or other components that take a `Player`. So the anwser to the question is more or less that you can do that in the same way as for `ExoPlayer`.

If you have problems with this approach please narrow down your question a bit to make it actionable for us. We can't give you support for general app deve

[2022-10-24 11:09] marcbaechinger commented on #10715
If you are asking about the notification that is created by the `DownloadService` then you can override `DownloadService.getForegroundNotification()` to provide whatever notification you wish to show. The demo app uses the `DownloadNotificationHelper` for creating this notification but this can be customized with whatever notification you want to show for you app.

[2022-10-24 12:32] 247az commented on #10700
@icbaker
Thank you for your reply.
I know someone has asked about this before: https://github.com/google/ExoPlayer/issues/9265
But even though I followed your suggestion, while playback is playing and calling method `getLicenseDurationRemainingSec(keySetId)` only once, video playback still lags.
It doesn't solve the problem I'm having.
Is there no way to fix it?

[2022-10-24 12:49] donny9095 commented on #10715
@marcbaechinger
Thank you so much for your reply.

Yes, This is exactly what I wanted to ask.

But Can you tell more details for your suggestion ?
Because in the demo app, https://github.com/google/ExoPlayer/blob/release-v2/demos/main/src/main/java/com/google/android/exoplayer2/demo/DemoDownloadService.java
I can not set large icon for `buildProgressNotification()` or `buildDownloadCompletedNotifi

[2022-10-24 13:08] torv opened #10717 "Is there a way to clear ads for AdPlaybackState?"
Here is the case, I planned some ads as below.
[code]
After the ads play through, if user seek backward, I wanna clear the old data and re-plan new ads at the same point.

[2022-10-24 16:09] joseandroidengineer commented on #10675
I'll have to make my own Socket Factory within the exoplayer itself?

[2022-10-24 20:08] marcbaechinger commented on #10717
If you want to replan with more or the same number of ads you should be able to change them accordingly. The released version does not have a way to remove ads. A hacky way would be to mark them as skipped or failed and/or set the duration to 0.

This [commit](https://github.com/google/ExoPlayer/commit/a8e6894ad63271293a831d13419b1372fe0f387a) ads a method `AdPlaybackState.withLastAdRemoved(adGrou

[2022-10-24 20:12] marcbaechinger commented on #10715
You would have to create your own helper class or method that [builds a notification](https://developer.android.com/develop/ui/views/notifications). Then override the method `DownloadService.getForegroundNotification()` and return the notification you have built yourself.

Sample code for this is in the `DownloadNotificationHelper`.

[2022-10-24 21:18] fourofspades commented on #10471
Migration script doesn't seem to do very much on MINGW64 on Windows11

[2022-10-24 23:49] donny9095 commented on #10715
@marcbaechinger
Thank you for your reply.
Can you tell me why the set large icon feature is removed ? Because I see previous versions were able to set large icon, but it has been removed in recent versions.

[2022-10-25 01:04] #10644 closed, assigned to marcbaechinger

[2022-10-25 02:39] donny9095 commented on #10715
@marcbaechinger
Thank you for your reply !
Do you have any plans to add set large icon option for `DownloadNotificationHelper` in the future ? Because I don't want to create a custom class, that will make it harder for me to update the version of ExoPlayer.

[2022-10-25 05:38] Hari-414 opened #10718 "Issue with Subtitles"
HI Team,

   We have recently updated the Exoplayer version to 2.18.1 from 2.14.0. We are unable to show subtitles on the player. The subtitle configurations is attached to the mediaitem and then to player but the subtitles are missing on the player while the content is playing. The same content is showing subtitles on the player in version 2.14.0. Can you please look into this issue and also ment

[2022-10-25 06:05] vishnuchilakala opened #10719 "[IMA] Content is loaded before ad for DASH content"
### ExoPlayer Version

2.18.1

### Devices that reproduce the issue

All devices

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Yes

### Reproduction steps

Play any content using the Exoplayer IMA Extension for ad supported playback.

### Expected result

Ad manifest should first be downloaded and playback should start, while concurrently / sequent

[2022-10-25 06:36] nisecap12 opened #10720 "Exoplayer can't plays HLS video."
### ExoPlayer Version

2.18.1

### Devices that reproduce the issue

Android TV 8.0

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Yes

### Reproduction steps

1. plays attached media
2. seek to 104s (last HLS chunk) when media starts playback.

### Expected result

The media is plays successfully.

### Actual result

Playback crashes error log with

[2022-10-25 06:41] Shivamdhuria commented on #7789
any update on this?

[2022-10-25 07:58] pulapulapin opened #10721 "ExoPlayer can't play pipeline source"
ExoPlayer Version
2.18.1

Devices that reproduce the issue
Android TV 9.0

Expected result
The media is plays successfully.

Actual result
onPlayerError :com.google.android.exoplayer2.upstream.FileDataSource$FileDataSourceException: java.io.IOException: lseek failed: ESPIPE (Illegal seek)

_**Q: maybe FileDataSource can't read pipeline source ? its there any ohter DataSourceFactory can read pipeli

[2022-10-25 08:52] icbaker commented on #10721
Please describe exactly what you mean by 'pipeline source' - ideally with an example we can use to reproduce the problem.

[2022-10-25 08:55] rohitjoins commented on #10718
Hi! Please provide the test content which can be used to reproduce this issue.
If you're unable to share test content publicly, please send them to dev.exoplayer@gmail.com using a subject in the format
"Issue #1234" ("#1234" is replaced with your issue number). Please also update this issue to
indicate you've done this.

[2022-10-25 09:16] Hari-414 commented on #10718
Hi!, We have shared the test content to dev.exoplayer@gmail.com. Please look into this issue as early as possible as the stream url expires within one hour.

[2022-10-25 09:39] daber commented on #10303
For what it's worth we were getting similar stack, in our case this is caused by the release technique

[code]

  That causes issues in case of rapid exoplayer creation / release ( viewpager2 ) as there is not warranty when this release is going to happen.  So in case of rapid scrolling or reinitializaiton in case of error this can happen.

[2022-10-25 09:46] pft-BohoWu commented on #10684
I got this problem too.
Is upgrade compileSdkVersion the only way to solve?
Won't you do some change to fix?

Thanks.

[2022-10-25 10:01] christosts commented on #10684
So far, we've identified the issue is caused by proguard stripping out the listener methods. The change we plan to do is to force apps to set their compileSDKversion to at least match the library. Changing the compileSDKversion should not have a functional impact to the app (the target SDK version does not need to change alongside by the way).

[2022-10-25 10:21] rohitjoins commented on #10718
On playing the test content in our demo app, I could see the subtitle when configured correctly. You can find information about using subtitles files: https://exoplayer.dev/media-items.html#sideloading-subtitle-tracks

Please try using just the MediaItem API and see if that works.

Note that the subtitle track will not be selected by default, unless you've customised the [track selection behaviour

[2022-10-25 10:32] marcbaechinger commented on #10715
We don't have plans to add this in the future yet. I can mark this issue as an low-priority enhancement, but the chances that this is being added is fairly small I'm afraid. If you want to have this any time soon, then I think you need to look into this yourself. Sorry for not having a better answer.

[2022-10-25 10:47] BucherTomas commented on #10162
Thanks, this is an example of what we are getting now after the conversion to Base64. Is this correct?

`CvgEChBSCRkAAAAAAAAAAIIBAhAPGgIQAzoOHQBC8EYoATIFCAKIAQFCCCIGMTUuMC4wUgYQsozc
mgZaIA0AABhCFQDAB0QdRkTuQiG8u30gQ7PRQCgPMgQIACgEWiENAAC4QRUAIJhEHQ9/KkIheEHj
Y2q5r0AosQUyBAgAKAhaIQ0AAKBBFQCAg0MdaZMdQiE8/gJwOPpWQCilDzIECAAoEFogDQAAGEIV
AACSQh0AAF5CIQAAAAAAJHNAKAIyBAgAKCBaIQ0AAKhCFQAAukIdAACxQiEAAAAA

[2022-10-25 11:34] marcbaechinger commented on #10719
I think you are right that the `AdsMediaSource` first starts preparing the content source and then starts the ads loader that makes the SDK download the ad tag. This is [done at the very same moment](https://github.com/google/ExoPlayer/blob/release-v2/library/core/src/main/java/com/google/android/exoplayer2/source/ads/AdsMediaSource.java#L189) though and I don't think that switching these lines ma

[2022-10-25 11:57] vishnuchilakala commented on #10719
Thanks for the quick reply @marcbaechinger !

I looked at the sequence of network events happening on the Demo app.

**For DASH content:**
1. Actual content manifest is downloaded. (MPD)
2. Ads are loaded and then the ad manifest is downloaded.
3. Ad chunks start downloading and the playback starts.

**For `.mkv` content:**
1. Ads are loaded and then the ad manifest is downloaded.
2. Ad chunks sta

[2022-10-26 02:09] how8570 commented on #10708
Dose there any update? (*´･д･)?

I understand that hardware issue probably hard to be fix.
I am curious about that will be fix or not? Or maybe a due date that can represent this issue won't be fix?

thx <(_ _)>

[2022-10-26 04:49] atkGit commented on #10713
Shared the bugreport by mail

[2022-10-26 07:01] pulapulapin commented on #10721
Oh sorry about the bewildered title ,We have a Server write ts format in Android Paht eg:/data/data/com.xxxx.xxxx/cache/00:28:f8:c0:16:ed,  **cause the pipe feature(Signal in process), its likes ring buffer FIFO**. I have no idea how to use the default DataSource Factory
distinguish the source

[2022-10-26 09:15] nozuonodienobb opened #10722 "Some problems about playing H264 (Annex-B) byte [] data"
iDear developer, I want to use Exoplayer to play real-time video blocks received in the form of byte arrays. The format is described in the title. What should I do?

[2022-10-26 09:49] christosts commented on #10708
There is no update yet, and I will update this issue once we get one from the Chromecast team.

For clarity, even before the upgrade to Android 12, the device did not report it could play 4K@60fps and playback was stuttering. Regardless of a potential fix, I think that your app should avoid playing such streams anyway, it you want to ensure smooth playback (my hypothesis is that even if there is a

[2022-10-26 09:53] rohitjoins commented on #10722
Please provide complete information as requested in the question template. The template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/question.md).

Unfortunately we can't answer unclear questions or those with insufficient information. In particular, it would be useful to know what the error is, whether the stream plays in the ExoPlayer demo app an

[2022-10-26 10:50] Hari-414 commented on #10718
Even after doing the changes you have mentioned. We are unable to show the subtitles on the player.

[2022-10-26 10:52] nozuonodienobb commented on #10722
Thank you for your quick reply，First, let me describe my problem。Our app project is to implement the receiver of AirPlay2 protocol, The image data we get is H264 (Annex-B) byte [] data section by section. I looked up the Issue of Exo and copied # 8051 to rewrite the dataSource and Extractor. But it doesn't work properly

[2022-10-26 10:52] nozuonodienobb commented on #10722
Thank you for your quick reply，First, let me describe my problem。Our app project is to implement the receiver of AirPlay2 protocol, The image data we get is H264 (Annex-B) byte [] data section by section. I looked up the Issue of Exo and copied # 8051 to rewrite the dataSource and Extractor. But it doesn't work properly

[2022-10-26 11:08] rohitjoins commented on #10718
@Hari-414 You can try playing the content in our demo app by editing the `media.exolist.json` and replacing one of the urls with your content's parameters. You can see subtitle being enabled in playback when configured correctly.

This looks like an app specific integration issue. Unfortunately we can't give 1:1 support for solving app specific
issues. We'll leave this issue open for ~2 weeks in c

[2022-10-26 11:15] nozuonodienobb commented on #10722
That's what I did

1 this is my mirrorDatas
`000000012764002ad41314503403f9c26e020202040000000128923cd0

0000000125c800400081a2089dba81fa7cc73a3ce015637f8fedf4fe4004c193e1774e67b0f8094d5fcbf3802d9d9eafd2819c667944738e1f1ca9834e3dedf1d41a76997484acaba8e5690c50a9e5085039d3a08ec2fd87d3499fd78d84aed5a2470f4c5f35ba802d2178466c55c0d45b6c1121a404d7467cca70081458b50a6a7e3392f8a84f48b7796ff171202b66d1dd078

[2022-10-26 11:20] nozuonodienobb commented on #10722
This is my way to use exo
`package com.byd.bydiosmirrorjava;

import android.content.Intent;
import android.os.Bundle;
import android.util.Log;

import androidx.annotation.Nullable;
import androidx.appcompat.app.AppCompatActivity;

import com.byd.airplaylib.rtsp.AudioStreamInfo;
import com.byd.airplaylib.rtsp.VideoStreamInfo;
import com.byd.airplaylib.utils.ByteToHex;
import com.byd.airplaylib.uti

[2022-10-26 11:20] nozuonodienobb commented on #10722
this is my errorLog
`2022-01-01 13:25:31.428 18357-18446/com.byd.airplaylib E/ExoPlayerImplInternal: Playback error
      com.google.android.exoplayer2.ExoPlaybackException: Source error
        at com.google.android.exoplayer2.ExoPlayerImplInternal.handleMessage(ExoPlayerImplInternal.java:554)
        at android.os.Handler.dispatchMessage(Handler.java:102)
        at android.os.Looper.loop(Looper

[2022-10-26 11:31] nozuonodienobb commented on #10722
this is my datasource

  private List<Byte> data;
  @Nullable
  private Uri uri;
  private int readPosition;
  private int bytesRemaining;
  private boolean opened;

  public APMirroringDataSource() {
    super(/* isNetwork= */ false);
    data = new ArrayList<>();
  }

  public void addByte(byte [] bytes) {
    if (data == null) return;
    for (byte b : bytes) {
       data.add(Byte.valueOf(b));

[2022-10-26 11:35] nozuonodienobb commented on #10722
this is my Extractor
``package com.byd.bydiosmirrorjava.mediasource;

import com.google.android.exoplayer2.C;
import com.google.android.exoplayer2.extractor.Extractor;
import com.google.android.exoplayer2.extractor.ExtractorInput;
import com.google.android.exoplayer2.extractor.ExtractorOutput;
import com.google.android.exoplayer2.extractor.PositionHolder;
import com.google.android.exoplayer2.extra

[2022-10-26 11:37] nozuonodienobb commented on #10722
I think my idea may be wrong, but I want to ask you how to play my H264 data source？ thanks

[2022-10-26 11:40] nozuonodienobb commented on #10722
[APMirroringH264Reader.txt](https://github.com/google/ExoPlayer/files/9869048/APMirroringH264Reader.txt)
[APMirroringNalUnitTargetBuffer.txt](https://github.com/google/ExoPlayer/files/9869050/APMirroringNalUnitTargetBuffer.txt)
[mirrorDataSource.txt](https://github.com/google/ExoPlayer/files/9869051/mirrorDataSource.txt)
[mirrorExtractor.txt](https://github.com/google/ExoPlayer/files/9869052/mirro

[2022-10-26 11:41] nozuonodienobb commented on #10722
this is my useplace
[useActvityDemo.txt](https://github.com/google/ExoPlayer/files/9869060/useActvityDemo.txt)

[2022-10-26 12:16] donny9095 commented on #10715
@marcbaechinger
Thank you for your reply.
Your answer helped me a lot ! Thank you again !

[2022-10-26 13:42] zilinx opened #10723 "Signal media period id is an ad"
Hi, I have a DAI system (not Google) for VOD and Live (DVR). It serves multiperiod DASH and matching ad metadata. Each period will either contain content or one ad. There can be multiple ads in one ad break.
I would like to try integrating it with ExoPlayer rather than "slapping" the listeners etc. on top, for better experience and to be able to use other nice source-manipulation features ExoPlaye

[2022-10-26 14:32] leventyayla opened #10724 "Widevine DRM Dash Stream Key Rotation Play Error"
We use Widevine DRM with Dash streams and recently we enabled Key Rotation but i have tested these streams with exoplayer it gives me following error:

                                                                                                      com.google.android.exoplayer2.ExoPlaybackException: MediaCodecVideoRenderer error, index=0, format=Format(1, null, null, video/avc, avc1.4d401e, 1

[2022-10-26 15:17] yuroyami commented on #10718
If you need assistance solving the issue, you can email me the contents at: `evongintoki@gmail.com` and I will look into it. Also, attaching a snippet of ExoPlayer initialization code and track loading would be preferable too

EDIT: Who marked this as spam lol ?

[2022-10-26 18:57] arctouch-ianribas opened #10725 "Player freezing when seeking HLS content almost to the end when there are dub cards"
### ExoPlayer Version

2.15.1

### Devices that reproduce the issue

Happens on all devices, apparently.

Detected on:

* LG K12 running Android 8.1.0
* Emulator Android 12

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Yes

### Reproduction steps

This issue happens only on content that has "dub cards" (small separate content showing dubbing credit

[2022-10-26 19:01] arctouch-ianribas commented on #10725
Email with additional information, including content URLs, sent. Please let me know if more information is helpful.

[2022-10-27 03:33] #10715 closed, assigned to marcbaechinger

[2022-10-27 03:56] Luosoha commented on #10409
Are there any solutions or workarounds yet?
I'm getting this crash from 2 different apps's crashlytics already.

[2022-10-27 10:09] AGasztold commented on #10712
Hi, do you have any feedback from this issue? Maybe is it something specific related to our streams?

[2022-10-27 10:48] christosts commented on #10698
If you are creating a new ExoPlayer instance, and you have released the previous instance, then any messages that were sent on the previous instance will not be delivered. I can see two options:
1. You can keep the same ExoPlayer instance always, but you need to be careful how you set the `positionMs` on the messages (does reloading the page start playback from scratch?)
2. Store the messages some

[2022-10-27 11:58] christosts commented on #10701
I have received your email, thank you. I see that you have linked this issue with https://github.com/RenderHeads/UnityPlugin-AVProVideo/issues/1302 in the AVProVideo project.

In the top of the current issue you mention that your device is Xiaomi Mi 10T. However on the AVProVideo issue you mention a different device, Car machine SO. Also, on the AVProVideo issue  you posted code snippets with chan

[2022-10-27 12:03] zyfeng413 commented on #10701
The device that really needs to be solved is Car machine SO, the system is Android10, but I can't provide this device. Besides, they can also reappear on Xiaomi Mi 10T, but I'm not sure if it's for the same reason.

[2022-10-27 12:43] vishnuchilakala commented on #10719
@marcbaechinger Can you please check the above comment and let me know if this indeed is expected behaviour? If not, can you please direct me on how I can change this behaviour?

[2022-10-27 12:56] christosts commented on #10701
By the data provided in the two issues, the reasons can be unrelated.

On the Xiaomi Mi 10T, the audio is clearly reported as NO_UNSUPPORTED_TYPE and ExoPlayer does not even attempt to play it. However, the code snippet that's [shared in the AVProVideo issue](https://github.com/RenderHeads/UnityPlugin-AVProVideo/issues/1302#issuecomment-1256860337) touches code that is executed **after** ExoPlayer

[2022-10-27 18:07] ericharlow commented on #10682
I have discovered if I hold onto a FULL_WAKE_LOCK, SCREEN_DIM_WAKE_LOCK, or a SCREEN_BRIGHT_WAKE_LOCK that the stuttering doesn't occur. This isn't a fix as it drains the devices battery and can be circumvented by the user tapping the power button on the device. But does this shed any light on where the issue might be?

[2022-10-28 08:48] FongMi opened #10726 "The m3u8 url link can't play"
Exoplayer version : 2.18.1

Test url : http://223.151.51.27:85/tsfile/live/1013_1.m3u8?key=txiptv&playlive=1&authid=0

Nothing happen and no error showing

[2022-10-28 10:16] DraganVojvodic opened #10727 "Pre-cache only 10-20% of audio file, and continue when media item is played."
Hi I'm using exoplayer for playing audio files.
I'm using 2 data sources as suggested in the documentation.
First is remote data source, and the second is local data source, this works just fine when the audio files are relatively small.
Is is possible to cache only a portion of a file, so when the user clicks play button, the audio starts without delay, and then the caching should continue alongs

[2022-10-28 11:42] vishnuchilakala opened #10728 "Network type in DefaultBandwidthMeter is always unknown on first playback"
### ExoPlayer Version

2.18.1

### Devices that reproduce the issue

All devices

### Devices that do not reproduce the issue

None

### Reproducible in the demo app?

Yes

### Reproduction steps

1. Create a DefaultBandwidthMeter and override the initial bandwidth estimate for your network type. Since I am working on a WiFi network, I have overridden the estimate as below.
2. Hook it to the playe

[2022-10-28 14:23] DraganVojvodic commented on #10727
I'll describe my use case, and the current solution I've come up to.
I have a list of audio files inside a recycler view, these files are hosted on a backend server. Inside a RecyclerView I'm previewing these items, and each of them should be able to start a playback.

Currently I'm pre caching these files using DataSpec and CacheWriter. Here is the code:

[code]

remoteDataSourceFactory is httpDa

[2022-10-28 14:24] #10727 closed, assigned to nobody

[2022-10-28 14:36] vishnuchilakala commented on #10728
PR raised to fix this issue: https://github.com/google/ExoPlayer/pull/10729

[2022-10-28 17:55] sailesha opened #10730 "IllegalStateException thrown from MediaCodec.setOutputSurface on Android 12"
### ExoPlayer Version

2.18.1

### Devices that reproduce the issue

Moto G60 run Android 12

### Devices that do not reproduce the issue

Emulator running Android API level 33

### Reproducible in the demo app?

Not tested

### Reproduction steps

1. Checkout https://github.com/sailesha/set-surface
2. Run on device
3. Let app play until it stops switching videos

### Expected result

No errors

#

[2022-10-29 21:55] shubhamvashisht commented on #4193
Any hope for this to be considered?

[2022-10-31 04:34] Hari-414 commented on #10718
Thanks @rohitjoins , after configuring the player is now showing subtitles as well. We have a query about version 2.14.0. Does the version 2.14.0 support the subtitles of file type vtt. Because we are updating the player only because of this issue.

[2022-10-31 04:37] Vic23M opened #10731 "Required"
Before filing a feature request:
-----------------------
- Search existing open issues, specifically with the label ‘enhancement’:
  https://github.com/google/ExoPlayer/labels/enhancement
- Search existing pull requests: https://github.com/google/ExoPlayer/pulls

When filing a feature request:
-----------------------
Replace the content in the sections below.

### [REQUIRED] Use case description
D

[2022-10-31 09:15] ogawa-ma opened #10732 "ERROR_DRM_GENERIC_PLUGIN occurs when playing video"
■ Question
When I try to play Widevine DASH (L1) on OnePlus 10T 5G, I get `ERROR_DRM_GENERIC_PLUGIN`.
I believe that this is caused by the fact that L1 is not available on the OnePlus 10T 5G. Is my understanding correct?
[code]

ExoPlayer version used：2.16.1
Device：OnePlus 10T 5G
Android version：12

[2022-10-31 10:52] christosts commented on #10684
A note on repro steps (fyi @zgzong)

The issue occurs when the platform triggers a callback on the [`Spatializer.OnSpatializerStateChangedListener`](https://developer.android.com/reference/android/media/Spatializer.OnSpatializerStateChangedListener), which can happen only on Android 12L+ devices that support Spatial Audio (check `Settings -> Sound -> Spatial Audio`).  The player's default behavior

[2022-10-31 11:55] rohitjoins commented on #10718
@Hari-414 Yes, 2.14.0 supports subtitles of file type VTT. Based on the [release notes](https://github.com/google/ExoPlayer/releases/tag/r2.17.0), we have added support for VTT for MKV container in later release i.e. 2.17.0.

We generally try to keep issues focused on one topic. Please [open a new issue](https://github.com/google/ExoPlayer/issues/new/choose). This way we can assign someone that ca

[2022-10-31 11:55] #10718 closed, assigned to rohitjoins

[2022-10-31 12:43] Aazu07 commented on #10698
when page reloads we want the previous messages to cancel and restart the whole experience again. But in my case even with re-initializing Exoplayer I am not getting new messages callback.

[2022-10-31 14:49] marcbaechinger commented on #10471
Thanks for reporting.  I think we should make sure this is working on Windows somehow. I don't think we specifically look into various environments on which this is possible. The Windows Subsystem for Linux is what we should make it run.

Did you have a chance to check whether is works on the Windows Subsystem for Linux (https://learn.microsoft.com/en-us/windows/wsl/)?

[2022-10-31 14:56] LiuDeng opened #10733 "Skip playback of TS clips with errors"
### ExoPlayer Version

2.18.1

### Devices that reproduce the issue

If one of the ts in hls m3u8 list get error，then ExoPlayer stop to play. But Chrome browser, iOS AVPlayer and IJKPlayer by bilibili can jump the error ts and play next ts.
ExoPlayer can set an error TS upper limit, for example, if the error exceeds 3 times, it will stop playing.

### Devices that do not reproduce the issue

Any A

[2022-10-31 16:58] tonihei commented on #10627
This is a duplicate of #3428. Please see https://github.com/google/ExoPlayer/issues/3438#issuecomment-970557233 in particular for the most likely way to implement this.

[2022-10-31 16:58] #10627 closed, assigned to tonihei

[2022-10-31 16:59] marcbaechinger commented on #10731
Closing as this is only the template without any reports about an issue, question or enhancement. Please file a new issue if you intended to file one.

[2022-10-31 16:59] #10731 closed, assigned to marcbaechinger

[2022-10-31 18:50] marcbaechinger commented on #10733
If there is an error reading a TS file I actually don't see why trying again should give a different result.

ExoPlayer handles this in the same way as any other bad media and exits with a playback exception.

I don't think we will introduce a retry from within thelibrary. An app can do such a retry mechanism on it's own when the [playback error callback](https://github.com/google/ExoPlayer/blob/r

[2022-11-01 10:29] tonihei commented on #10697
It's expected that the same Ad tag doesn't play again if it was already played. I tried this scenario with an HLS stream in our demo app and everything works as expected. If you think something doesn't work as expected, please make sure to provide steps someone can follow to reproduce the problem.

[2022-11-01 10:49] mancuk commented on #10697
I will try again with existing documents, if there are still errors I will record

[2022-11-01 11:14] Ste-RH commented on #10701
Hi.  Just thought I would jump in to hopefully clear up a few points.

The Xiaomi Mi 10T is my device I was investigating the initially reported issue with in AVPro Video.  So it should be disregarded due to, as you rightly say, it appears unsupported.

AVPro Video should be completely disregarded as the OP is saying their Dolby based audio stream is not working as they expect in the ExoPlayer dem

[2022-11-01 13:46] tonihei commented on #10713
Are you saying the attached `ttmlDump_org.txt` is exactly the same as `d1-1.m4s`? The TTML data should be contained inside a fMP4 container according to your manifest. If it's just the raw TTML file, the player likely fails trying to parse it as fMP4 (that's what the error above may be).

If you want to load a standalone TTML file, the MIME type needs to be `application/ttml+xml` (with no codec st

[2022-11-01 14:41] ipnet-me opened #10734 "Jerking video with addMediaItem"
Hello there.

ExoPlayer Version: 2.16.1

Devices that reproduce the issue: Xiaomi Mi A2

I am doing a demo player that can play TS segments files from local directory or from URL
I this demo project I have 8 TS files, each video have 4 seconds duration. But every 4 seconds, I can see tiny jerking, in most cases you are not seeing it, but in case very dynamic video it is notable. I have very simple

[2022-11-01 15:37] tonihei commented on #10728
How did you test this? I just checked in our demo with the default config and with an explicit override for the initial estimate and it all worked as expected.

Note that the network type is determined asynchronously (it requires a single message sent to the main handler to be precise) and if you immediately query the bitrate estimate in the method that creates the BandwidthMeter, it is still on t

[2022-11-01 15:42] #10728 closed, assigned to tonihei

[2022-11-01 15:53] tonihei commented on #10032
I tested the stream you provided (sorry for the delay!), but can't see any frame freezes on the device I tested. As indicated above, this may likely be device specific and it would help if you can specify on which device you observed the issue.

[2022-11-01 17:09] icbaker commented on #10666
I'm closing this beause, as above, i believe the remaining issues here are related to this stream. If you have some more insights about other concrete bugs in exoplayer please comment here and I can re-open it, or file a new issue.

[2022-11-01 17:09] #10666 closed, assigned to icbaker

[2022-11-01 19:01] ofcbujin opened #10735 "[exoplayer][media3][HLS] hlsmanifest on timeline changed returns always null"
Hello, I'm trying to get some HLS tag from the playlist (#EXT-X-PROGRAM-DATE-TIME). Looking out into the documentation I know that to achieve this I need to get the currentmanifest from the onTimelineChanged event, the problem is that it always returns null.

For context I'm using the MediaLibraryService. Here I initialize the Exoplayer as follow:

[code]

In the main Activity I create a SessionTo

[2022-11-01 20:51] rrfrias commented on #10567
We have a few reports about this issue but have had difficulty tracking it down. We will follow up with other partners and will let you know if we can get to the bottom of this and if have a resolution.

[2022-11-01 22:36] pastafarianGit opened #10736 "How to use IMA extension with Leanback on Android TV?"
I am trying to add local ads implementation with leanback exoplayer.
I am following https://developers.google.com/interactive-media-ads/docs/sdks/android/client-side

But I am unsure on what to set  adViewProvider since I am using PlaybackTransportControlGlue and not player view.
https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/source/DefaultMediaSourceFactory.html#setLocalAdInser

[2022-11-01 22:39] rrfrias commented on #10162
Thanks, this is helpful. What is the model of this Xiaomi device? I am not seeing any errors similar to MediaDrmStateException (ERROR_DRM_UNKNOWN). Can you share a few more if you have access to them? You can email them to dev.exoplayer@gmail.com referencing Issue #10162 in the subject line.

Internal ref: 256929910

[2022-11-02 00:35] theBlbDan commented on #5417
View binding please. Another five months gone.

[2022-11-02 06:33] atkGit commented on #10713
Yes That was issue ..Thanks for the comment. The mp4 container was removed before giving to Exo player by our modules . Now with this container , this exception is gone and we are able to get the successive segment requests .

Now the segment parsing is happening properly itseems but no text is being displayed which we suspect is due to the time . The ttmlDump_org.txt uploaded above is manually ed

[2022-11-02 06:35] atkGit commented on #10713
[ttmlDump_org.txt](https://github.com/google/ExoPlayer/files/9916929/ttmlDump_org.txt)

[2022-11-02 06:36] Timo1993 opened #10737 "Exoplayer does not play H264 AVC1 file on Galaxy Tab A7"
I would like to play an MP4 file on the Galaxy Tab A7. It is downloaded from a webserver and stored on the device in the movies folder. When I open the MP4 video file with Android applications, it works well. But I have problems to open it with the Exoplayer. It throws the following error:

2022-11-02 07:26:57.571 7111-7770/xxx.xxx.xxxx D/MediaCodecInfo: NoSupport [codec.profileLevel, avc1.420029,

[2022-11-02 07:49] liuguangsen opened #10738 "ExoPlayer plays local ac4 audio files, unable to seek and getDuration"
Unfortunately we can't answer all questions. Unclear questions or questions with
insufficient information may not get attention.

Before filing a question:
-------------------------

- Ask general Android development questions on Stack Overflow
- Search existing issues, including issues that are closed
  https://github.com/google/ExoPlayer/issues?q=is%3Aissue
- Consult our developer website (https

[2022-11-02 08:29] susantasweng opened #10739 "API to set the length of the media to play (start and end)"
### [REQUIRED] Use case description
There is a video file which has pre + main + post video contents in a single video file. Now rather than trimming the main part of the video, as a library user I want to set the entire file as a source but also want to set the start and end to the player.
So that, player will show the total time, seek bar and seeking options according to this custom start and en

[2022-11-02 09:23] tonihei commented on #10713
I can't see any attachment? In any case, it's worth reading through the specs again to verify the timestamps you set in the fMP4 container and in TTML are as required. If you think they are and we parse them wrongly, please reply here and we can investigate further.

[2022-11-02 09:32] atkGit commented on #10713
Hi Tonhei,

I was not able to attach the file . I will paste the contents below .  Please note that the video plays in this case but no text is displayed . When I changed the high lighted content to 00 and tried sideloading this xml I could see the text displayed . This was done just to make sure that the ttml content is correct and is able to display. But when we are setting using the MPD  and st

[2022-11-02 10:09] marcbaechinger commented on #10739
Take a look at the DevGuide page about the `MediaItem` that has a [section about clipping a media stream](https://exoplayer.dev/media-items.html#clipping-a-media-stream). As described there you can do this with `MediaItem` properties or by using a `ClippingMediaSource`.

I'm closing this issue. Please reopen if you think this doesn't do what you want to achieve.

[2022-11-02 10:09] #10739 closed, assigned to marcbaechinger

[2022-11-02 10:31] marcbaechinger commented on #10735
You are doing nothing wrong. I think this is working as intended. [`MediaController.getCurrentManifest()` is documented to return null](https://github.com/androidx/media/blob/release/libraries/session/src/main/java/androidx/media3/session/MediaController.java#L889). Methods that return an `Object` can't really be remoted in an easy way as they are neither `Bundleable` not `Parceable` and its type

[2022-11-02 11:08] marcbaechinger commented on #10738
Closing this issue as it is not actionable. At least I couldn't find more information as the title. I assume this has been submitted unintentionally. If you want to add more info please do and re-open, or file a new issue.

[2022-11-02 11:08] #10738 closed, assigned to marcbaechinger

[2022-11-02 11:34] marcbaechinger commented on #10736
If you are not using `PlayerView` then your app UI needs to provide an `ViewGroup` rather than using the player view. The `ViewGroup` needs to be an overlay of the surface that plays the ad, so that the ad SDK can insert UI elements that appear on top of the ad while the ad is playing (like the skip button or the `more info` link and the like). Add such a `ViewGroup` to your UI and pass it as retu

[2022-11-02 14:05] ofcbujin commented on #10735
Thank you Marc for the response. I could access the manifest calling the onTimelineChanged on the service side as you mentioned changed my code for working from there. Thanks again!

[2022-11-02 14:05] #10735 closed, assigned to marcbaechinger

[2022-11-02 14:24] tonihei commented on #10713
@icbaker  I couldn't quickly find a source for this, but do you happen to know if timestamps in chunked TTML files are relative to the chunk start time or absolute in the stream? Based on the observation here I'd guess they have to be relative to the chunk?

[2022-11-02 14:46] icbaker commented on #10713
Not sure I agree, if I understand what's been tested and reported in https://github.com/google/ExoPlayer/issues/10713#issuecomment-1299937553:

By sideloading I assume you mean using `MediaItem.setSubtitleConfigurations` as described here and then playing against an MP4 file or similar: https://exoplayer.dev/media-items.html#sideloading-subtitle-tracks

In that case what was observed sounds expect

[2022-11-02 15:13] octavianionel-flyability opened #10740 "Reduce latency for RTSP live streaming"
Hi,

How to reduce the latency for RTSP live streaming? I am not interested to keep the quality, the latency is the most important
I am currently using. The result are ok, but not great, it still has a bit of latency:

[code]
where:

[code]

and:

[code]

[2022-11-02 15:20] marcbaechinger commented on #10740
This looks like a duplicate of #10694 I'm closing this issue. Please continue in the other thread so everyone interested in latency with RTSP can look into the same issue. Please re-open if you think your question is different from the other.

[2022-11-02 15:20] #10740 closed, assigned to marcbaechinger

[2022-11-02 16:20] pastafarianGit commented on #10736
jup that was it. Thanks alot for help ! You are my hero. <3
I just implemented AdViewProvider on my VideoSupportFragment and it worked.
[code]

[2022-11-02 16:21] #10736 closed, assigned to marcbaechinger

[2022-11-02 17:02] rrfrias commented on #10124
We have Qualcomm involved and investigating. Can you share a new WV license?

[2022-11-02 17:09] rrfrias commented on #9968
@bicycleprince That is good to hear, but based on https://github.com/google/ExoPlayer/issues/9968#issuecomment-1252003466 your issue is different from the one that @LuGO0 @SaurabhOfficial are facing.

@LuGO0 as mentioned earlier, the provisioning URLs were truncated at 1024 bytes. It is hard to make sense of them without the complete URL. Can you share the complete URLs when you have them? Can you

[2022-11-02 17:31] marcbaechinger commented on #10723
The `ServerSideAdInsertionMediaSource` has a method `setAdPlaybackStates` that expects a map of `AdPlaybackState`s. The map contains an `AdPlaybackState` for each period of the stream with the period UID as the key in the map. So for multi-period DASH you have to create an `AdPlaybackState` for each period and then set this map accordingly.

For the case you are describing you'd have an empty `new

[2022-11-02 17:39] wbonnefond opened #10741 "AbstractMethodError crash and enableDexingArtifactTransform removal in AGP 8.0"
### ExoPlayer Version

2.18.1

### Devices that reproduce the issue

All devices

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Not tested

### Reproduction steps

Application fails with the following error:
[code]

The solution from other closed issues(#8254, #8224, #7927, #7349) is to use `android.enableDexingArtifactTransform=false` but this will

[2022-11-02 18:36] rrfrias commented on #10732
The device loads L1 OEMCrypto successfully. It just has a failure when trying to provision. Will follow up with LGE as to why this is happening.

How reproducible is this? Can you quantify (as a %) how many LG 10T 5G devices experience this failure? On those devices, is it always reproducible or occasionally(Can you quantify as a %)? Also do let us know if you are able to repro on a local device.

[2022-11-02 21:27] rrfrias commented on #10483
Sorry, i lost track of this. @tonihei based on the last two responses is this something that you can handle? Let us know if you need assistance from us.

[2022-11-03 01:01] bicycleprince commented on #9968
Dear rrfrias,

Thanks for reply.
I'm working for an OEM base on Soc.

--

Best Regards.

Ken Wei

At 2022-11-03 01:09:45, "rrfrias" ***@***.***> wrote:

@bicycleprince this sounds like a device side fix. Are you working on an app or for an OEM/SoC?

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you were mentioned.Message ID: ***@***.***>

[2022-11-03 01:04] #10635 closed, assigned to icbaker

[2022-11-03 02:33] LiuDeng commented on #10733
For a ts file error in the m3u8, Chome and iOS AVPlayer will automatically skip the error ts and play the next correct ts instead of reporting an error and quitting.

[2022-11-03 07:23] parthivmistri opened #10742 "TrackSelector label field is always null for HLS"
Attaching HLS Manifest File below,

[code]

I want to show `NAME` filed from `#EXT-X-MEDIA` on my bitrate ladder selection dialog code I'm using below,

[code]

[2022-11-03 07:41] AnonymousWebHacker opened #10743 "H.265 HEVC High 10 profile support"
H.265 HEVC  High 10 profile support

[2022-11-03 08:09] BucherTomas commented on #10162
@rrfrias The shared data was just to confirm that we are now getting what you need. It was not from a Xiaomi device and it was not captured during the issue we are discussing here. For that we need to publish the app again and wait for the logs to be collected from our users. Then I will share them with you.

[2022-11-03 08:28] tonihei commented on #10483
That's unfortunately not that easy because it may cause additional work in some scenarios. https://github.com/google/ExoPlayer/issues/8367 has some good explanations for these cases. If you know how your media is produced, you can likely choose the most appropriate setting for your media.

[2022-11-03 10:02] marcbaechinger commented on #10743
ExoPlayer support the sample formats that are supported by the underlying Android Media framework. That's not something which we can add on the player side because for efficient decoding a hardware decoder is required.

You can find the supported video sample formats [on this Android page](https://developer.android.com/guide/topics/media/media-formats#video-codecs).

[2022-11-03 10:52] Lilsax opened #10744 "how many attempts does the player have in case the player failed to request in the first time?"
How many attempts does the player have to request the manifest in case the player failed to request in the first time?

And is there anyway to insecure that if it exits ?

Like the player will attempt up to 3 times to request the manifest if it failed

[2022-11-03 11:12] jruesga commented on #10124
@rrfrias I've just sent to the mailing list a new WV license valid for the next 28 days. Please let me know if you need any additional information. Thanks.

[2022-11-03 11:46] vidicunt opened #10745 "Compose crash when player is no longer visible"
### ExoPlayer Version

2.18.1

### Devices that reproduce the issue

Android emulator (tried on API 33)

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Not tested

### Reproduction steps

This is the compose code:

[code]

### Expected result

App should not crash

### Actual result

App crashes

### Media

Not applicable

### Bug Report

- [ ] You w

[2022-11-03 12:10] tonihei commented on #10745
This is likely a similar problem as https://github.com/google/ExoPlayer/issues/10480. The player needs to be released when the Activity goes into the background (`onStop`/`onPause`) to avoid leaking resources or other unintended side effects.

[2022-11-03 12:10] #10745 closed, assigned to tonihei

[2022-11-03 12:46] marcbaechinger commented on #10742
I can see in the code that the `NAME` field is parsed by the `HlsPlaylistParser` and added as label to the `Format` when parsing.

Your code snippet calls `mappedTrackInfo.getTrackGroups(0)` with renderer index 0. If you iterate over all renderers, do you see the same null value on each format?

[code]

I think another approach to see the label is adding an `EventLogger` with `player.addAnalyticsL

[2022-11-03 13:06] parthivmistri commented on #10742
Hi, @marcbaechinger Thanks for the prompt reply

Exactly I have also checked this, only issue is it gets `NULL` while accessing from `TrackSelector`

Yes reason behind hardcoding index 0 is I want to check on only type `VIDEO` formats and yes all the formats are showing `NULL` as a label

Attaching the sample Manifest here -> (https://dymhpa1uwk0ow.cloudfront.net/CHETAN_DEBUG_1/video.m3u8)

Attach

[2022-11-03 13:09] marcbaechinger commented on #10744
There is a [section in the DeveloperGuide](https://exoplayer.dev/customization.html#customizing-error-handling) that explains how an app can customize the load error behavior by using an custom `LoadErrorHandlingPolicy` or by configuring the `DefaultLoadErrorHandlingPolicy`. The `DefaultLoadErrorHandlingPolicy` has a constructor that lets you define the `minimumLoadableRetryCount` which is set to

[2022-11-03 13:15] marcbaechinger commented on #10742
Thanks. I'm getting a 403 when trying to access the playlist with the URI above.

[2022-11-03 13:28] parthivmistri commented on #10742
Strange, It’s working for me without any authentication required. Are you checking on Android or the web you might get a Cors issue on the web.

[2022-11-03 13:32] marcbaechinger commented on #10742
I tried with Android and curl that both shouldn't have CORS issues.

[2022-11-03 13:40] zilinx commented on #10723
Thank you very much for taking time to explain how to use this SSAI media source! It put some of the assumptions I made in a new light. It also clarified a good deal of things I wasn't sure of. Probably most importantly it gave me the confidence I needed :). I hope you don't mind if I ask some follow up questions:

You suggested I should use `AdPlaybackState.NONE` for content, but the assertions i

[2022-11-03 13:58] parthivmistri commented on #10742
Hi, @marcbaechinger try again should work now.

[2022-11-03 14:34] marcbaechinger commented on #10723
Yes, sorry. My advice was wrong. I forgot about the check of `adsId`. `AdPlaybackState(adsId)` is the right thing to do, not using `AdPlaybackState.NONE`.

EDIT: I corrected the comment above to use `new AdPlaybackState(adsId)` instead of `AdPlaybackState.EMPTY`

It just identifies the ad, I think you are right that it is probably coming from the IMA implementation. For IMA it makes sure that the

[2022-11-03 14:52] AnonymousWebHacker commented on #10743
My device does not support decode at the hardware level, but it does support software

If I use mpv-android, mx player ..etc, with software level decoding, I can play H265 HEVC videos, no problem

[2022-11-03 15:29] rrfrias commented on #10162
Understood. Thanks!

[2022-11-03 15:44] javaboboApp opened #10746 "Player got stuck after receiving EventStream object"
When we are injecting in the manifest:

[code]

In the manifest the player gets stuck in BUFFERING state.

**Exoplayer version**: 2.17.1
**Protocol used**: DASH

Additional information: I am getting this in the event logs:

` metadata [eventTime=0.48, mediaPos=17994.24, window=0, period=0
D/EventLogger:   EMSG: scheme=urn:scte:scte35:2014:xml+bin, id=66885518, durationMs=0, value=
 D/EventLogger:

[2022-11-03 16:07] microkatz commented on #10737
Reopening.

[2022-11-03 16:07] microkatz commented on #10737
@Timo1993
That error code conveys one of two possible issues. One would be that the device does not contain a decoder that has codec profiles matching the one needed to decode the video file. The other would be that the decoder does indeed have a matching profile, but does not contain levels that can handle the codec level required by the video file.

Would you be able to provide a link to the mp4

[2022-11-03 16:08] microkatz commented on #10737
@Timo1993
That error code conveys one of two possible issues. One would be that the device does not contain a decoder that has codec profiles matching the one needed to decode the video file. The other would be that the decoder does indeed have a matching profile, but does not contain levels that can handle the codec level required by the video file.

Would you be able to provide a link to the mp4

[2022-11-03 17:16] jrw95 commented on #10591
Turns out that our Cast receiver app does not have support for queueing, however I was able to try @koshisinthehouse 's approach, and it worked, as far as sending a mediaItem to the receiver (which ultimately ignored it).

[2022-11-03 18:31] atkGit commented on #10713
Not able to attach the files here

[2022-11-03 18:48] atkGit commented on #10713
[DashSamples.zip](https://github.com/google/ExoPlayer/files/9932154/DashSamples.zip)

[2022-11-03 18:55] atkGit commented on #10713
Dash sample files are added above. Please use the Sample.mpd file (same as the MPD attached above) for starting the play. These samples are from a captured file . the media time is 09 JUN 2021 21:05:52. With this time set in PC , we could see the video with ttml text using a gstreamer .  Please help if some setting needs to be done in exo player to make playback with subtitles.  Is there any way w

[2022-11-04 00:09] marcbaechinger commented on #10743
I don't think ExoPLayer supports this I'm afraid. There is the [ffmpeg extension](https://github.com/google/ExoPlayer/tree/release-v2/extensions/ffmpeg) that uses software decoders but this only supports audio.

[2022-11-04 02:36] ogawa-ma commented on #10732
@rrfrias
Thanks for the confirmation.
First, as a premise, we have published an application that uses ExoPlayer.
A user using that application inquired about an error and could not play the video, so we checked the logs and found the error described in this issue.
<br>

Reproducibility was 100% and no improvement was made after trying to restart the device.
We do not know if this occurs on all One

[2022-11-04 07:12] rrfrias commented on #10732
Thanks. Will follow up with OnePlus. Might it be possible to get bugreport from the user? This is in case they are unable to reproduce.

[2022-11-04 07:34] ogawa-ma commented on #10732
@rrfrias
I have contacted you to get bug reports from users, so please be patient.

[2022-11-04 12:39] 0xera commented on #9221
@vaibhav-sharechat did you fix this?

[2022-11-04 18:39] techker opened #10747 "Set Max Bitrate still possible?"
If version 2.10.1 from this tutorial
https://takusemba.medium.com/set-max-bitrate-on-exoplayer-e9cd4cc77445

Were can set the Max bit rate to a stream.

Is this still possible with latest version?

I need to reduce the bitrate in the preview player in EPG

[2022-11-04 20:11] marcbaechinger commented on #10747
It's possible to limit the max bitrate when selecting tracks of an adaptive stream. The dev guide has a page about [track selection](https://exoplayer.dev/track-selection.html) that tells about the API in the latest version.

[2022-11-04 20:11] #10747 closed, assigned to marcbaechinger

[2022-11-04 21:02] marcbaechinger commented on #10746
Thanks for the manifest and the bug report!

For my education: what is the expected behaviour of this event in a live stream that gets a new manifest every 2 seconds? When looking into `DashManifestParser` I see that this gets parsed and the event gets a default `presentationTime` of 0. So I would expect this event is sent once when the stream starts or each time when the manifest is refreshed.

I

[2022-11-05 04:24] yuroyami opened #10748 "Issue when playing raw H265"
I have a raw H265 file (Annex.B, dumped from a stream). I was able to get it to work by implementing a custom `Ac3Reader`(with sniff changed to true, and the reader being `H265Reader`). However, it seems like the stream has no timecode (or framerate readings, idk), so the result was that ExoPlayer played all frames at once.

The video should be about 1 minute long (924 frames in total, MediaInfo o

[2022-11-05 04:29] yuroyami opened #10749 "How to inject/use a custom DataSource ?"
I have searching the net for hours now on how to implement a custom DataSource (I already extended the class, and overrode the necessary methods), but there is no docs whatsoever on how to inject the data source or create a MediaSource from it.

What I wanna do is read from a remote bitstream (bytes, streamed over a network protocol), and read the incoming packets (each packet corresponding to a f

[2022-11-06 01:11] yuroyami commented on #10749
Found a way to do it. If you want to inject a custom DataSource of your own choice, then you need an instance of DataSource.Factory. I couldn't use DataSource.Factory directly so I implemented it (not extended, it's an interface).

Here's the code for it :

[code]

Now, to use this factory, you gotta inject it while you're initializing ExoPlayer, this is how I did it along with a custom extractor

[2022-11-06 01:11] #10749 closed, assigned to nobody

[2022-11-06 09:12] dijey099 opened #10751 "Adaptive Streaming with ExoPlayer 2.18.1"
I was searching a way to implement an Adaptive Streaming with ExoPlayer 2.18.1
Exoplayer Docs (https://exoplayer.dev/track-selection.html) doesn't satisfy my attempt.

Can anyone give an idea on how to proceed?

EDIT: I already found many docs on how to proceed with 2.8.1 and tried to do the same but not working on 2.18.1

[2022-11-06 12:16] marcbaechinger commented on #10751
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/question.md).

[2022-11-06 17:01] zilinx commented on #10723
Thank you for sharing the sample on how to mark the ads as completed! This was one of those features of `ServerSideAdInsertionMediaSource` which attracted me in the first place :). The `period.uid` was a bit problematic to reference because it seems to change for `oldPosition` in the discontinuity callback - it was a pair of <object, number> or <object, object> instead of a number like it was when

[2022-11-06 19:23] Zimbelstern opened #10752 "Media controls missing in notification on Android 13"
Player notifications look very different on different API levels:

8: ![](https://zimbelstern.eu/8_resized.png)

12: ![](https://zimbelstern.eu/12_resized.png)

13: ![](https://zimbelstern.eu/13_resized.png)

Colors and layout doesn't mean much to me but what I've been trying to achieve for several days now is to **include rewind and fast-forward controls** as well as my **custom stop button** on

[2022-11-07 02:04] #10680 closed, assigned to tonihei

[2022-11-07 02:35] zyfeng413 commented on #10701
[ExoPlayer Demo.txt](https://github.com/google/ExoPlayer/files/9947680/ExoPlayer.Demo.txt)
[ExoPlayer Demo with custom changes.txt](https://github.com/google/ExoPlayer/files/9947681/ExoPlayer.Demo.with.custom.changes.txt)
Sorry for replying you so late. This is a log that cannot be played without modification, and another log that can be played with modification

[2022-11-07 03:52] DorisGM opened #10753 "Can‘t playback some m3u8 source"
### ExoPlayer Version

2.18.1

### Devices that reproduce the issue

Amlogic andorid 10.0

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Yes

### Reproduction steps

1. playback  http://duper.selfip.link:8081/eps/67006.mp4/tracks-v1a1/mono.m3u8 with exoplayer
2.  can't play normally

### Expected result

The media can play successfully

### Actual r

[2022-11-07 08:23] lailai0715 commented on #8473
Still not working in Snapdragon processor

Tested on 8G1(S22 Ultra) and 865(One Plus)

[2022-11-07 10:24] AsitDixit opened #10754 "Save ExoPlayer Cache video in device Gallery"
I'm playing video from URL in ExoPlayer and caching it using SimpleCache.

My app has a feature that the user can save video if he/she wants.

My video playing layout has a save button if the user click on that I want to save that video in his/her mobile gallery.

How can I achieve that? & what is the most effective way? Is there any way to save the cache video in gallery? One thing if user click

[2022-11-07 10:45] guoxiaolongonly opened #10755 "LoopingMediaSource Deprecated"
I need to merge two videos, the first video plays once and the second video loops infinitely.

but the LoopingMediaSource  deprecated in 2.18.1.Is there any way to achieve this function in 2.18.1.

code like this.

    public static MediaSource buildMergeMediaSource(Context context, String firstUrl, String nextUrl) {
        DefaultDataSource.Factory defaultDataSourceFactory = new DefaultDataSourc

[2022-11-07 11:16] javaboboApp commented on #10746
Hi @marcbaechinger  thanks for replying. I already sent more information via email. We are using EventStream to get a sign and finish playback once we got this sign but not for rendering purposes.  So idea is:

1. User is watching content for 2 hours.
2. We send a sign (EventStream) unparse it and check that we should finish playback.
3. We end the playback

So the problem that I observed is that

[2022-11-07 12:00] marcbaechinger commented on #10752
Media controls [changed in Android 13](https://developer.android.com/about/versions/13/behavior-changes-13#playback-controls). You can do this with `MediaSessionConnector/PlayerNotificationManager` but then you need to serve the media session for Android 13 and the notification for API levels before 13.

Alternatively you can try the [Media3 session module](https://github.com/androidx/media/tree/r

[2022-11-07 12:06] marcbaechinger commented on #10746
Before I start trying to repro this. Did you have any success with your experiment of injecting that event stream into the Dash manifest with any other player that play that as expected?

[2022-11-07 13:10] jrocharodrigues opened #10756 "Lack of "STATE_ENDED" when playing video in tunneling mode"
Hi,

I've come across this bug, https://github.com/google/ExoPlayer/issues/7647 , in an SAGEM AndroidTV box with Android 10.
I've changed the [codecNeedsEosPropagationWorkaround](https://github.com/google/ExoPlayer/blob/release-v2/library/core/src/main/java/com/google/android/exoplayer2/mediacodec/MediaCodecRenderer.java#L2397) function to return true for the decoders used and the workaround worke

[2022-11-07 13:30] javaboboApp commented on #10746
I have used explayer demo app, but I am still seeing how the player stops after x seconds of getting EventStream injected with the signal.

[2022-11-07 14:16] windseamless opened #10757 "Cannot play video without audio"
It is impossible to play video without audio using HLS (whether there is audio data in the m3u8 is unpredictable).
How to make it work in compatibility mode (if there is audio data in the m3u8, audio and video will be played at the same time; if there is no audio data, only video will be played).

Is there any good plan?
Thank you in advance.

[2022-11-07 14:54] andrewlewis commented on #10568
Sorry for the delay. When configuring the HDR color space on the `EGLSurface` did you also scale the output values to match the PQ transfer function? Also, side note, it's necessary to use a `SurfaceView` (not `TextureView`) to get HDR output.

[2022-11-07 14:57] Shrihari1428 commented on #10568
Hi Lewis, could I get a sample code on how we scale the output values?

[2022-11-07 17:24] Zimbelstern commented on #10752
Thanks. After trying again with `MediaSessionConnector` I've found the method I was looking for:
**`setCustomActionProviders`**

A `PlaybackStateCompat.CustomAction` for each button (similar and in addition to `PlayerNotificationManager.CustomActionReceiver`) seems to fix my problems with Android 13.

[2022-11-07 17:24] #10752 closed, assigned to marcbaechinger

[2022-11-07 18:02] andrewlewis commented on #10568
We don't have sample code for this yet, but we will almost certainly add similar code using that GL extension probably in early 2023 (we are planning to support applying GL-based effects to MediaCodec output, initially for SDR and then HDR).

[2022-11-07 19:46] malbanese opened #10758 "VolumeChangeReceiver triggers an IllegalStateException"
### ExoPlayer Version

2.18.1

### Devices that reproduce the issue

Devices: Moto, Samsung, Pixel
Android Versions: 12, 13

### Devices that do not reproduce the issue

Has not been observed on any android versions under 12

### Reproducible in the demo app?

Trying, haven't been able to reproduce

### Reproduction steps

I've been able to reproduce it locally by triggering rapid volume changes w

[2022-11-08 02:04] #10681 closed, assigned to microkatz

[2022-11-08 04:50] lenhatquang97 opened #10759 "How to reuse an ExoPlayer inside a recyclerview that each item has multiple videos"
Hi, I am doing video autoplaying app. In this recyclerview, each item has a grid with multiple videos. Everytime a video plays, a video creates new ExoPlayer.Builder(context).build(). After the video plays to the end or the video is not visible when user scrolls, this player is released, and other video continues to play. I want to know how to reuse ExoPlayer.Builder because I have searched soluti

[2022-11-08 06:58] efrop12 commented on #10674
Hello, as tonihei suggested, several days ago I sent the requested information by email. Thanks

[2022-11-08 08:54] Tolriq opened #10760 "FFMpeg error with some flac files"
### ExoPlayer Version

2.18.1

### Devices that reproduce the issue

All

### Devices that do not reproduce the issue

None

### Reproducible in the demo app?

Not tested

### Reproduction steps

Play the file send by mail with the ffmpeg extension enabled.
Skip or wait until near the end of the file and see an error.

### Expected result

No error (And no error with default Android mediacodec)

#

[2022-11-08 09:29] tonihei commented on #10674
Thanks!  Found the email :)

@rrfrias Could you take a look to see where the exception is coming from? Bug report is attached to the email.

[2022-11-08 10:26] Tolriq commented on #10760
Doing some tests ffmpeg returns -1094995529 -> AVERROR_INVALIDDATA

If would be nice if the library detected those negative values and at least throw a better error message.

Now about the root issue, since those files does not give errors via other decoders would is make sense to handle invalid data at the end of the file and ignore it like some cases handled for mp3 ?

[2022-11-08 12:31] techker opened #10761 "Manifest creation"
Hey guys , I'm digging in to an issue with our app. The issue we have is that some streams with live content that when you select audio/caption in the seek bar we odd selections.

Noticed on HLS

Multi language
French
essti
und ..

we only need the Language selection.And not Multi language..

First I would like to know how this manifest is created?is it during the encoding process?

this is part o

[2022-11-08 12:35] Tolriq commented on #10760
@rohitjoins I've checked again and it's actually already there : https://github.com/google/ExoPlayer/blob/dev-v2/extensions/ffmpeg/src/main/java/com/google/android/exoplayer2/ext/ffmpeg/FfmpegAudioDecoder.java#L114

The issue is at https://github.com/google/ExoPlayer/blob/dev-v2/extensions/ffmpeg/src/main/jni/ffmpeg_jni.cc#L286 the result is returned as raw ffmpeg value and not properly converted

[2022-11-08 13:06] Tolriq commented on #10760
Fix confirmed made a PR

https://github.com/google/ExoPlayer/pull/10762

[2022-11-08 13:09] rohitjoins commented on #10760
@Tolriq Thank you for sending the PR. I agree with the fix in the error message and will accept the PR soon. Overriding behaviour of ffmpeg to handle invalid data seems tricky and hard to maintain in the future. I believe we should mirror the ffmpeg extension when enabled.

[2022-11-08 13:11] Tolriq commented on #10760
@rohitjoins actually there's nothing more to do, the fix does return the proper code that is supported by the decoder and in the case of that file properly ignore the invalid data at the end of it.

So simple fix to greatly improve resilience of the ffmpeg extension.

[2022-11-08 13:15] #10760 closed, assigned to rohitjoins

[2022-11-08 13:35] Asseel-Naji commented on #9823
We are having the same issue, could you please update?

[2022-11-08 13:56] javaboboApp commented on #10746
Hi @marcbaechinger ,  after doing some tests, I have realised that the problem is that I was using Map Local in order to inject EventStream object. I started to use rewrite (charles proxy option) and the player is working as expected.

Other things if we have a Event with presentationTime = 1000 , timeScale =1 , PeriodStartInSeconds = windows.defaultPositionInMs/1000.

The event start time should

[2022-11-09 03:50] hushhw commented on #10661
The Pixel4 XL has not been released a beta version, and the problem still exists.

[2022-11-09 09:40] christosts commented on #10701
Thank you for the logs - they confirm my hypothesis, the decoder is outputting 12-channel PCM  audio, which ExoPlayer does not expect from a pre-Android 12L device. I don't see a way of overriding this check, e.g. by changing some configuration or overriding a method. Here are some options as I can think of:

1. On existing pre-Android 12L devices with Dolby Atmos, the decoder outputs less than 12

[2022-11-09 09:58] javaboboApp opened #10763 "Use position predicate for PlayerMessage"
When using Message object in order to deliver a message in a particular position we usually have to do the next

[code]

Problem is that in some cases we want to deliver the message given a condition for example.

When mPlayer.currentPosition >= positionInMs , so if the user is seeking beyond this positionInMs, the message should be delivered.

Actually we can not set a predicate that meet a parti

[2022-11-09 10:05] icbaker commented on #10713
Thanks for the content, I was able to play it in our demo app by doing two things:
1. Change the device time to 2021-06-09 21:06 UTC
2. Hack `DashMediaSource` to stop it from using an NTP-based time source and use local device time by changing this line:
https://github.com/google/ExoPlayer/blob/ab4d37f499ba49bb3cac7938eb03ebf7133ccfe6/library/dash/src/main/java/com/google/android/exoplayer2/source

[2022-11-09 16:09] zgzong commented on #10684
@christosts  Thanks for sharing the detail about how to test spatial audio.

On the other side, we met same lint error in the android studio which has been reported to google issuetracker already here https://issuetracker.google.com/issues/234009300

[2022-11-09 17:21] parthivmistri commented on #10742
Hi, @marcbaechinger have you got a chance to look into it?

[2022-11-10 00:20] 247az opened #10764 "Cannot get duration or seek from an SSAI live content"
### ExoPlayer Version

2.17.1

### Devices that reproduce the issue

Any devices

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Yes

### Reproduction steps

1. Open the demo app
2. Open the SSAI content below (HLS format)
![Screenshot_20221109_165515](https://user-images.githubusercontent.com/114720380/200969333-31a5ae64-1f16-4171-b6bd-4ebad84ee214.

[2022-11-10 02:04] #10687 closed, assigned to icbaker

[2022-11-10 03:45] dijey099 commented on #10751
Le dim. 6 nov. 2022 à 15:16, Marc Baechinger ***@***.***> a
écrit :

Goog morning Sir
Thanks for your answer but I already resolve my problem by importing some
class form you demo app 🙏🏽

[2022-11-10 05:37] fengwq117 opened #10765 "Quit VSyncSampler thread after a timeout"
### ExoPlayer Version

2.18.1

### Devices that reproduce the issue

Pixel 3 Android 10

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Yes

### Reproduction steps

New a player and play a video

then check the thread, the ExoPlayer:Frame thread is always running

choreographerOwnerThread = new HandlerThread("ExoPlayer:FrameReleaseChoreographer");

"

[2022-11-10 08:06] #10744 closed, assigned to marcbaechinger

[2022-11-10 10:02] icbaker commented on #10721
Closing because the information requested wasn't clearly provided.

[2022-11-10 10:02] #10721 closed, assigned to icbaker

[2022-11-10 10:04] icbaker commented on #10410
I'm going to close this because it looks like you're getting media3 help in e.g. https://github.com/androidx/media/issues/197

[2022-11-10 10:04] #10410 closed, assigned to icbaker

[2022-11-10 10:04] icbaker commented on #10683
Closing because the clear repro steps requested weren't provided.

[2022-11-10 10:04] #10683 closed, assigned to icbaker

[2022-11-10 10:10] romeor opened #10766 "ExoPlayer, mobile technology (5G) connection and high bitrate IPTV live streams"
Hello,

Background:
I'm using TiviMate app which uses ExoPlayer to play content. Recently I got myself 5G Internet connection which runs 500 mbps down and 50 mbps up. My external router looks directly to the mast which is located like 1-1,5 km from my place, so my connection signal is strong and I get my 500 mbps. Also I've got a fibre connection on 300/300 mbps.

Issue:
When I watch high quality

[2022-11-10 10:55] tonihei commented on #10764
As the title of the stream indicates, this is a live stream and ExoPlayer's SSAI media source currently removes the duration for live streams. I'm not entirely sure, but this may have been accidental and I can look into adding it back.

[2022-11-10 11:45] ajayhack opened #10767 "Exoplayer Not Able to Show Embedded Video Subtitle for Some HLS(M3U8) Stream."
### ExoPlayer Version

2.17.1

### Devices that reproduce the issue

Issue Reproduce on:-
1.Samsung Galaxy F62 (Android Version 12)

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Yes

### Reproduction steps

Issue HLS Stream shared on mail:- dev.exoplayer@gmail.com

### Expected result

ExoPlayer should able to show Embedded Subtitle.

### Actual re

[2022-11-10 11:49] wasmedia96 opened #10768 "Android Auto rejected because of audio not ducking"
### ExoPlayer Version

2.18.1

### Devices that reproduce the issue

I have no idea which device google is using for testing Android Auto.

Here is my code.

[code]

### Devices that do not reproduce the issue

Android auto Head unit with Android 9

### Reproducible in the demo app?

No

### Reproduction steps

Eligibility issues
--

Eligibility Issue 1: Driver distraction features -> Your app inc

[2022-11-10 12:01] donny9095 commented on #10764
I have the same problem

[2022-11-10 12:39] #10751 closed, assigned to marcbaechinger

[2022-11-10 13:20] Tolriq commented on #10768
I guess you are new to Play Store and supporting Android Auto.

You will get plenty of such random rejections from that team validation over the life of your app. This will test your patience more than once.

Most of the time they will be false issues generated by wrong usage or device issue by the tester that will not make any attempt to understand and will reject.

Update version code push again

[2022-11-10 13:36] tonihei commented on #10768
I'd also suggest to test this yourself, e.g. triggering navigation instructions while you app is playing to see if it actually works. Your setup looks correct and I would assume that ducking works automatically.

[2022-11-10 13:37] wasmedia96 commented on #10768
Yes i did and its working for me.

[2022-11-10 13:39] icbaker commented on #10767
We didn't receive the email mentioned above, please ensure you used the subject `Issue #10767` and try re-sending it.

[2022-11-10 13:44] ajayhack commented on #10767
@icbaker , Please check again We have send again on dev.exoplayer@gmail.com.

[2022-11-10 13:49] tonihei commented on #10768
Then there is probably not much we can do in this issue tracker because the player is doing the right thing. If you think the certification isn't testing their requirements correctly, you probably need to get in touch with them to clarify that.

[2022-11-10 13:49] #10768 closed, assigned to tonihei

[2022-11-10 14:14] Tolriq commented on #10768
@wasmedia96 just to reassure you a little, it's frustrating as hell, it makes everybody loose time but you get used to it, because you have no choice :)

![image](https://user-images.githubusercontent.com/932609/201113795-afe29620-fbf5-468f-8cb7-06e2b5a20391.png)

Same exact random rejection the 28th September, updated version code and it passed as with now nearly 30 times happened in the last 7 y

[2022-11-10 16:06] icbaker commented on #10767
The provided link returns me an HTTP 403 error when trying to play it from my device and also from `curl`.

Please let me know how to access the stream (is it geo-blocked?).

[2022-11-10 16:31] tonihei commented on #10765
This is working as expected since this is a static background thread and there will be at most one of this thread across all playbacks you do. Note that this thread isn't doing anything while no playback is ongoing. The thread will then be killed automatically once your app is stopped.

For some background: This needs to be run in a static class because of [#1066](https://github.com/google/ExoPlay

[2022-11-10 16:47] tonihei commented on #10763
The idea of using a Predicate wouldn't easily fit in the current message system because the player has no way of knowing when it needs to check the Predicate. Having a concrete timestamp allows the player to keep an ordered list of messages so we only need to check the position of a single message every time the playback position is advanced. This is to avoid iterating through a large list of item

[2022-11-10 17:31] ajayhack commented on #10767
@icbaker , Please check the same mail thread , We have replied on it and shared API Url , Request to get the latest Stream Url as it is session based expired so if previous one expired then please use the API Url , Request to get the latest Live HLS Stream Url.

[2022-11-10 17:33] tonihei commented on #10758
Do you create or use the player on a background thread that isn't the application main thread by any chance? Or is there anything else noteworthy about how you release the player?

It certainly looks like a bug that this particular IllegalStateException is thrown and I'm trying to understand under which circumstances it can happen.

[2022-11-10 17:37] icbaker commented on #10767
I requested a new URL as described and played it immediately (within 2 mins). It also returned me a 403 error.

[2022-11-10 17:40] ajayhack commented on #10767
@icbaker , Can you please let me know your location from where you requested I will check whether this stream is GEO-Blocked for that location.

[2022-11-10 17:43] icbaker commented on #10767
I'd rather not share that information. If the stream is geo-blocked (which presumably you know?) I can try VPNing to an allowed geo. Otherwise if you'd like me to investigate please make a stream globally available that reproduces the problem.

[2022-11-10 17:44] tonihei commented on #10766
ExoPlayer has no or little influence on the behavior of the underlying network stack I'm afraid. We just open a HTTP connection and let the network stack handle the actual data transfer. As you say, there might be some difference depending on which network stack you are using and you can choose between the Android default, OkHttp and Cronet. See https://exoplayer.dev/network-stacks.html for more d

[2022-11-10 17:47] romeor commented on #10766
Okay, thank you for the answer.

[2022-11-10 17:47] ajayhack commented on #10767
Yes Please if you can use VPN for INDIA Location and then get the stream from API, that would be great.

[2022-11-10 17:55] icbaker commented on #10767
Requested a new URL, VPN'd to India from my device and played the new URL: 403 error again.

[2022-11-10 17:58] ajayhack commented on #10767
Maybe you can try first connect to VPN INDIA then request url and then try to play and all the time VPN should be connected to INDIA location.

[2022-11-10 18:00] icbaker commented on #10767
I'm afraid it's not easy to do that under my current VPN setup, and chasing your auth problems is unfortunately not a good use of my time. I'll look into this issue when a globally available stream is provided that reproduces the problem.

[2022-11-10 19:57] malbanese commented on #10758
@tonihei We're not creating the player from a background thread, to be 100% sure I reproduced it while asserting that it was the main thread. As far as releasing the player, it does happen inside of a fragment's onDestroy method, but when double checking - there's nothing noteworthy happening at the same time.

I verified that our release method does only get called a single time, and to be extra

[2022-11-10 22:01] Koster35 opened #10769 "Fire TV Stick - 2nd Gen (AFTT) gets stuck in buffering state after seeking"
### ExoPlayer Version

2.17.1

### Devices that reproduce the issue

- Fire TV Stick - 2nd Gen (AFTT), Fire OS 5

### Devices that do not reproduce the issue

- Chromecast with Google TV, Android 10
- Fire TV Stick Lite - 1st Gen (AFTSS), Fire OS 7
- Fire TV Stick - 3rd Gen (AFTSSS), Fire OS 7

### Reproducible in the demo app?

No

### Reproduction steps

First, it's important to describe how our

[2022-11-10 22:08] chladto1 opened #10770 "Error after many content seeks"
### ExoPlayer Version

2.15.1

### Devices that reproduce the issue

Pixel 4a running Android 13

### Devices that do not reproduce the issue

Samsung Galaxy S9 running Android 10

### Reproducible in the demo app?

Not tested

### Reproduction steps

- Do 10 - 20 seeks in content
- The error is thrown

The issue was reported by a client, I have no Pixel 4a to test.

### Expected result

The media

[2022-11-11 00:15] 247az commented on #10770
I have the same issue.
https://github.com/google/ExoPlayer/issues/10661
And you should update your OS 13 version to QPR1 Beta 2 or Beta 3 to resolve the issue.

[2022-11-11 00:16] 247az commented on #10764
@tonihei
Thank you, Tonihei.
I hope you can look into it and fix it soon !

[2022-11-11 02:05] fengwq117 commented on #10765
Thanks for your feedback.    Because our app is a persistent app, so I want to free this thread.

[2022-11-11 02:55] zyfeng413 commented on #10701
1、Our video and hardware are custom made, using 26 speaker outputs
2、I may not be able to change it directly because we are using the Exoplayer API of the AVPro plugin and they have internally changed the package name of the exoplayer
3、Maybe you don't have to change DefaultAudioSink

[2022-11-11 05:38] ajayhack commented on #10767
@icbaker , Please check the same email thread , we have shared a video please reference it and get the stream url same way and then try to use it in browsers to check (Safari , Brave , Chrome).

Note:- Stream is Globally Available Now.

[2022-11-11 08:04] xiaoshu101 opened #10771 "Android 13 Support?"
From the release notes, there is no Android 13 compatibility for the latest version#2.18.1.
We are wondering when you'll be supporting Android 13. Thanks

[2022-11-11 09:04] Ygowell commented on #8987
Maybe you can try to call **setEnableDecoderFallback(true)** while creating the ExoPlayer object, it will try to find the available media codec from all the available codec list. If you don't call **setEnableDecoderFallback(true)**, the **_enableDecoderFallback_** is false, it will only use the first availabel codec, and it is fail to init in some devices.

[code]

[code]

[2022-11-11 09:29] christosts commented on #10701
Alright, we can change [Util.getAudioTrackChannelConfig()](https://github.com/google/ExoPlayer/blob/03569f9e6536e6c60cb585115d6d7352a4deab71/library/common/src/main/java/com/google/android/exoplayer2/util/Util.java#L1619) to allow 12 channels without OS version check, however this means that you'll need to wait until the change is released and the AVPro plugin updates to that version of ExoPlayer.

[2022-11-11 09:30] tonihei commented on #10770
Yes, that's a duplicate of #10661 and should be fixed once devices update to QPR1

[2022-11-11 09:30] #10770 closed, assigned to tonihei

[2022-11-11 09:34] #10766 closed, assigned to tonihei

[2022-11-11 09:38] tonihei commented on #10771
Could you let us know which feature/change you are interested in?

[2022-11-11 09:45] tonihei commented on #10755
As explained in the [deprecation notes](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/source/LoopingMediaSource.html), you can just use `player.setRepeatMode(Player.REPEAT_MODE_ONE)` once you reach the second item in the playlist.

[2022-11-11 09:46] #10755 closed, assigned to tonihei

[2022-11-11 09:55] zyfeng413 commented on #10701
One thing to note though, although I didn't modify DefaultAudioSink in my tests it was able to play, but the logs were displayed
tracks [eventTime=3.22, mediaPos=0.00, window=0, period=0
  group [
    [X] Track:0, id=1, mimeType=video/avc, codecs=avc1.640032, res=2400x1200, fps=25.0, supported=YES
  ]
  group [
    [ ] Track:0, id=2, mimeType=audio/eac3-joc, channels=6, sample_rate=48000, language

[2022-11-11 09:58] Ste-RH commented on #10701
I can apply changes to the ExoPlayer we build for AVPro. Just let me know the details when the changes are committed. Then going forward they will be part of the ExoPlayer releases so in our product as standard.

[2022-11-11 13:25] SudoDios opened #10772 "Edit mode BG color"
Hi developers.
how to change edit mode background color ?
[code]
can change to dark color 😅 ?

sudodios.

[2022-11-11 14:34] xiaoshu101 commented on #10771
We are workong on the Android 12 with exoplayer r2.17. And our target shall update the Android version to Android 13.
So we want to know whether there is a new release version to support the Android 13 or not. Thanks

[2022-11-11 14:46] icbaker commented on #10772
This value is not customisable without forking the UI module or [depending on ExoPlayer as source](https://github.com/google/ExoPlayer#locally) and modifying `constants.xml`. This value is only used when displaying the `PlayerView` and `StyledPlayerView` in Android Studio and other developer tools, it is not used in production: https://developer.android.com/reference/android/view/View#isInEditMode

[2022-11-11 14:46] #10772 closed, assigned to icbaker

[2022-11-11 15:05] christosts commented on #10701
Are you sure this is correct? This is logged from the Car device and not the  Xiaomi device, right? If the stream is unsupported, the demo app would not have played audio at all in this case. And, the changes in `DefaultAudioSink` are irrespective of whether the Atmos track is supported.

To avoid confusion, can I ask you to do the following:
- share a patch of your changes on `Util.getAudioTrackC

[2022-11-12 09:16] Tolriq opened #10773 "SimpleCache corruption debugging and cleanup"
So this is a question with multiple points around ExoPlayer simple cache.

I don't have a repro and a way to trigger the source cause of cache corruption but when it happens the player then gives:

[code]

The first line is details from `onCachedBytesRead` listener.
So the cache read 36k and stops instead of returning more or switching to the upstream. But there's no other information about what i

[2022-11-13 07:35] ThreeMinutesFix opened #10774 "Exoplayer FFMPEG Extention throws error"
Good days team and dev,
i am developing android app and implementing 5.1 DD support so using FFMPEG extention i got it worked with exo 2.18.1 but when  i try to do that on my app which use 2.15 version  it thorws error
`My exo version   implementation 'com.google.android.exoplayer:exoplayer:2.15.1'`
Current implementation
[code]
If extention work only after v18  please tell me the change version o

[2022-11-13 07:38] neckaros commented on #8260
@AliZgheib did you get time to work on this ?

[2022-11-13 07:40] ThreeMinutesFix commented on #10774
Forgot to mention the error

`E/AndroidRuntime: FATAL EXCEPTION: ExoPlayer:Playback
    Process: com.gospel.kids, PID: 25765
    java.lang.VerifyError: Superclass com.google.android.exoplayer2.util.LibraryLoader of com.google.android.exoplayer2.ext.ffmpeg.FfmpegLibrary$1 is declared final (declaration of 'com.google.android.exoplayer2.ext.ffmpeg.FfmpegLibrary$1' appears in /data/app/com.gospel.kid

[2022-11-13 11:58] ThreeMinutesFix commented on #10774
actually i solved the problem now i can play 5.1 and 7.1 audio too. reason is because of older version player thrown error

[2022-11-13 11:58] #10774 closed, assigned to nobody

[2022-11-13 13:14] Karthik-0 opened #10775 "How to get currently playing video track?"
Hi, I am trying to display the current resolution in which the video is playing as youtube does.
As far as I have checked TrackIndex is required for this. But how to get a track index for current playing tracks?

![image](https://user-images.githubusercontent.com/41418580/201523321-5d30f0b9-259d-47cd-8d17-3427681cd048.png)

[2022-11-13 16:18] yuroyami commented on #10771
What is exactly is not working on Android 13?

[2022-11-13 21:46] ArsalImam commented on #6168
+1

[2022-11-13 23:39] linmx0130 commented on #6168
@XiaoLongTX's method does help especially when we have to play multiple medias at the same time with multiple Exoplayer instances.

[2022-11-14 00:30] wazerstar commented on #5491
There's finally a pull request on this, I hope we will soon see this implemented, if any can help sort out the issues remaining to get it committed please do so.

https://github.com/google/ExoPlayer/pull/10588

[2022-11-14 03:29] zyfeng413 commented on #10701
Yes, This is logged from the Car device
[Change DefaultAudioSink.txt](https://github.com/google/ExoPlayer/files/9999264/Change.DefaultAudioSink.txt)
[Change DefaultAudioSink and Util.getAudioTrackChannelConfig.txt](https://github.com/google/ExoPlayer/files/9999265/Change.DefaultAudioSink.and.Util.getAudioTrackChannelConfig.txt)

[2022-11-14 07:42] ridanasif commented on #7887
Did you solve the issue?

[2022-11-14 10:22] christosts commented on #10701
Thank you for the logs, can you also share a git patch of your change?

[2022-11-14 10:27] zyfeng413 commented on #10701
[Exoplayer Change.zip](https://github.com/google/ExoPlayer/files/10002031/Exoplayer.Change.zip)

[2022-11-14 10:44] icbaker commented on #10773
Some initial questions:
* What upstream `DataSource` implementation(s) are you using with `CacheDataSource`? (is it an ExoPlayer-provided implementation, or one you've written yourself?)
* What version of ExoPlayer are you using?

I'm wondering if the upstream `DataSource` implementation is perhaps incorrectly handling an edge-case of the `DataSource` API contract. We semi-recently tightened up `C

[2022-11-14 10:56] icbaker commented on #10775
To get the resolution of the currently playing track you can call [`Player.getVideoSize()`](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/Player.html#getVideoSize()) (or use the [listener callback](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/Player.Listener.html#onVideoSizeChanged(com.google.android.exoplayer2.video.VideoSize))).

If you want more format i

[2022-11-14 11:19] Tolriq commented on #10773
It's Exoplayer 2.18.1. In this case, the upstream datasource is a pseudo custom one as it's just a wrapper over a `OkHttpDataSource` allowing me more control over the okhttp instance used. That is wrapped over another simple datasource that allows to handle some very specific cases in the `open` function but without any impact in this case.

What I know from that user is that previously he had iss

[2022-11-14 11:33] icbaker commented on #10773
Is `START_CACHE_SIZE` here equal to 36k (i.e. the threshold where the problem appears)?

[2022-11-14 11:38] Tolriq commented on #10773
Nope it's 256Kb or 512Kb. For the moment I only get one user with this particular issue. But I guess more could happen. The problem is that until the user fill the cache to evict I currently do not have a solution to offer to him.

I'll probably add a temporary button in the advanced settings to fully clear the cache to recover, but not very satisfying.

[2022-11-14 12:56] alekssunsss opened #10777 "Get the real video rendering FPS"
Hi, we need to profile video rendering performance on devices, so is there any way to get real FPS the exoplayer renders at? Or maybe how much time player spends to render each frame?

[2022-11-14 13:32] #10483 closed, assigned to tonihei

[2022-11-14 13:35] #10651 closed, assigned to tonihei

[2022-11-14 13:36] tonihei commented on #10664
Fixed by the commit above.

[2022-11-14 13:36] #10664 closed, assigned to tonihei

[2022-11-14 13:38] tonihei commented on #10667
Fixed by the commit above.

[2022-11-14 13:38] #10667 closed, assigned to tonihei

[2022-11-14 13:38] tonihei commented on #10668
I'll close the issue assuming the question was answered.

[2022-11-14 13:38] #10668 closed, assigned to tonihei

[2022-11-14 13:39] tonihei commented on #10675
You can pass a `SocketFactory` to `RtspMediaSource.Factory` from your app.

[2022-11-14 13:41] tonihei commented on #10676
I'll close the issue assuming there is nothing left we can do here.

[2022-11-14 13:41] #10676 closed, assigned to tonihei

[2022-11-14 13:42] tonihei commented on #10685
This is now fixed by the PR in https://github.com/google/ExoPlayer/pull/10618

[2022-11-14 13:42] #10685 closed, assigned to tonihei

[2022-11-14 13:43] tonihei commented on #10697
Closing again, because there is nothing actionable for us at the moment. If you can reproduce a problem and think there is something we need to change, please reopen or file a new issue.

[2022-11-14 13:43] #10697 closed, assigned to tonihei

[2022-11-14 13:47] tonihei commented on #10734
I don't have access to the files anymore, but I assume that your individual TS files may not start at a keyframe or require the player to reinitialize the codec. If you play them individually, the player assumes they come from independent streams and only if you create an HLS playlist does the player assume these TS files represent continuous content and can be played without additional setup. Giv

[2022-11-14 13:47] #10734 closed, assigned to tonihei

[2022-11-14 13:52] christosts commented on #10701
I think there may be some confusion here. [Change DefaultAudioSink.txt](https://github.com/google/ExoPlayer/files/9999264/Change.DefaultAudioSink.txt) says `supported=NO_UNSUPPORTED_TYPE`, whereas [Change DefaultAudioSink and Util.getAudioTrackChannelConfig.txt](https://github.com/google/ExoPlayer/files/9999265/Change.DefaultAudioSink.and.Util.getAudioTrackChannelConfig.txt) says `supported=YES`.

[2022-11-14 16:15] tonihei commented on #10753
I get socket timeout exceptions when trying to open the TS files linked from the m3u8. I don't know what problem you were seeing, but if you want us to investigate further, please include a working stream and a more detailed problem description.

[2022-11-14 16:19] tonihei commented on #10754
I would recommend downloading the file directly (e.g. using `HttpURLConnection`) if you want it to be playable by the gallery app. ExoPlayer's caching mechanism is optimized for caching byte ranges whenever we load them, and to reuse those ranges if possible. But it's not a generic downloader that just saves the entire file to disk.

[2022-11-14 16:47] tonihei commented on #10756
Not easily unless you depend on a local copy of ExoPlayer to be able to edit the code directly. I think we should just add these devices to the list if you can confirm it fixes the problem. We also already have "OMX.broadcom.video_decoder.tunnel" on the list, which sounds like the same codec? At least they are both from Broadcom if "bcm" means "Broadcom".

May be a problem of our workaround. I fea

[2022-11-14 16:57] tonihei commented on #10757
It definitely possible to play a stream without audio unless the player has been told by some metadata to expect audio and then gets stuck when trying to find audio data in the stream. That's impossible to say without having access to the stream.

[2022-11-14 17:00] tonihei commented on #10759
You can reuse the `ExoPlayer` object itself instead of reusing the `Builder`. Just call `setMediaItem` again to set new media. `PlayerView` has a method called [`switchTargetView`](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/ui/PlayerView.html#switchTargetView(com.google.android.exoplayer2.Player,com.google.android.exoplayer2.ui.PlayerView,com.google.android.exoplayer2.ui.Pla

[2022-11-14 17:07] tonihei commented on #10761
The manifest is created by the content producer (it's the M3U8 file you likely provided as a URI) and its them who should fix the content if needed. "mul" is and allowed RFC5646 language tag for "content in multiple languages" and it seems correct to offer this choice to the user if that's what the stream contains?

You can manually enforce certain language preferences by track selection options,

[2022-11-14 17:19] tonihei commented on #10769
This sounds like a device specific bug you should report to Amazon. As this device is quite old and unlikely to receive further updates, it's a bit unclear if we can do anything about it.

Your bugreport contains a lot of `CodecNameUnknown-MediaCodecVideoRenderer: skipOutputBuffer: bufferIndex = 5, PTS = 183049800`. I assume that's your own logging? They also look not concerning because they indic

[2022-11-14 18:19] jrocharodrigues commented on #10756
I confirm the workaround fixes the problem for this codec.
I don't know if their the same as "OMX.broadcom.video_decoder.tunnel", but the ones i listed are also from broadcom.

Ok, i'll take a look around and see if i can find any obvious problem.

[2022-11-14 18:22] stevemayhew commented on #9553
This is exactly correct, and very common with origin servers for audio segments.

Long running live makes this difficult for the origin servers to achieve, but not impossible.  In tunneled playback (where platform code performs A/V sync) the issues caused this are far worse, even a few seconds duration difference will cause stalls.

This is possibly a related issue: https://github.com/google/ExoPl

[2022-11-15 02:56] zyfeng413 commented on #10701
2022-11-15 10:54:20.327 28425-28425/com.google.android.exoplayer2.demo W/ActivityThread: handleWindowVisibility: no activity for token android.os.BinderProxy@928ce62
2022-11-15 10:54:20.401 28425-28425/com.google.android.exoplayer2.demo E/exoplayer2.dem: Invalid ID 0x00000000.
2022-11-15 10:54:20.451 28425-28425/com.google.android.exoplayer2.demo E/exoplayer2.dem: Invalid ID 0x00000000.
2022-11-15

[2022-11-15 02:59] zyfeng413 commented on #10701
If only change the Util. GetAudioTrackChannelConfig ， it will also says supported=NO_UNSUPPORTED_TYP

[2022-11-15 07:28] Tolriq opened #10778 "Detect / Handle device faulty codecs"
In my app I changed the renderer order by default to have ffmpeg loaded after mediacodec to simplify things for users who want to enable offloading.

Turns out that there's a lot lot more devices with broken codecs implementations than I thought, and I was wondering if by luck there was some database of known broken devices codecs somewhere that could be used to handle this properly instead of jus

[2022-11-15 08:52] Karthik-0 commented on #10775
Thanks, @icbaker. It works.

[2022-11-15 08:52] #10775 closed, assigned to icbaker

[2022-11-15 09:20] tonihei commented on #9553
It's definitely desirable to have matching media times as required by all the specs. And I believe it's fine for a player to throw an exception if it's stuck because of that and the only thing that really needs to be taken care of is to avoid stuck states in the player that get never reported.

`EXT-X-GAP` tags are slightly different because they are a spec-compliant way of signalling a gap and we

[2022-11-15 09:54] icbaker commented on #10773
Reading the stack trace more carefully, I'm not sure that's necessarily what's happening here. It might be that the Ogg file is invalid (indicating a length that's longer than the actual file), and so when the extractor is trying to skip to the end of the file in `DefaultOggSeeker.readGranuleOfLastPage` it tries to read beyond the end of the file (even what's available from upstream) and receives

[2022-11-15 10:06] tonihei commented on #10758
I tried to reproduce this in the ExoPlayer demo app by manually changing the volume and by programmatically inundating the listener with continuous artificial volume change events. This didn't trigger the problem, so I believe there is something in your setup that make this happen. Can you try to reproduce in the demo app to see what you changes to make this problem appear?

I also tried to analyz

[2022-11-15 10:19] Tolriq commented on #10773
That file worked without the cache and the users cleared the full app data without waiting and now it of course works with the cache :(

Let's hope either no one else report or someone with more patience or a repro, but in all cases my second question is still here.

Is there anyway to remove a dataspec / cachekey from cache without clearing the full cache?

Even if I warn users that that cache is

[2022-11-15 10:31] christosts commented on #10712
The Chromecast team has verified the problem and is working on a fix. I don't have any news on when the fix will be completed or rolled out to devices.

[2022-11-15 10:35] tonihei commented on #10758
Update: I can reproduce in a unit test that removes a listener from within the `onEvents` callback (you can probably use any other callback triggered at the same time, like `AnalyticsCollector.onReleased`). I assume this is what's happening in your app as well. We'll provide a fix for this!

[2022-11-15 10:44] #10711 closed, assigned to christosts

[2022-11-15 10:54] icbaker commented on #10777
ExoPlayer aims to render at video 'real time', i.e. the FPS defined in the media (multipled by the [playback speed](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/Player.html#setPlaybackSpeed(float))).

If the device is unable to decode fast enough to achieve this then we will start dropping frames if they are 'ready' more than 30ms late:
https://github.com/google/ExoPlayer/blob

[2022-11-15 10:56] christosts commented on #10708
I'm sharing an update from the Chromecast team: the decoder does fail, however this is in line with the spec since the stream is exceeding the decoder capabilities.

On the player side, ExoPlayer knows that playing this stream might cause errors (see documentation of [FORMAT_EXCEEDS_CAPABILITIES](https://github.com/google/ExoPlayer/blob/ab4d37f499ba49bb3cac7938eb03ebf7133ccfe6/library/common/src/m

[2022-11-15 10:56] #10708 closed, assigned to christosts

[2022-11-15 13:54] icbaker commented on #10773
@marcbaechinger - can you answer this bit?

[2022-11-15 14:04] icbaker commented on #10778
We're not aware of any such database beyond the workarounds for various codec-specific quirks already encoded in various places in this library, e.g. [`MediaCodecVideoRenderer.evaluateDeviceNeedsSetOutputSurfaceWorkaround`](https://github.com/google/ExoPlayer/blob/r2.18.1/library/core/src/main/java/com/google/android/exoplayer2/video/MediaCodecVideoRenderer.java#L1736).

I'll leave this issue open

[2022-11-15 16:54] stevemayhew commented on #9553
It would seem a must, to within whatever threshold will produce a stall.   The Apple stream validator reports drift over some threshold (which they don't spec unfortunately) as an error.  We most often see this with how different transcoders produced the demuxed audio stream, the segments vary in duration and the PTS offset between the audio segments and the video segments drifts.

We agree, now n

[2022-11-15 18:53] FranEspino opened #10779 "Clear keys not working Drm Sesion"
### ExoPlayer Version

2.18.1

### Devices that reproduce the issue

.

### Devices that do not reproduce the issue

.

### Reproducible in the demo app?

No

### Reproduction steps

[code]

### Expected result

/

### Actual result

[code]

### Media

/

### Bug Report

- [ ] You will email the zip file produced by `adb bugreport` to dev.exoplayer@gmail.com after filing this issue.

[2022-11-15 19:41] malbanese commented on #10758
Aha, thanks for the thorough explanation on how it might be happening! I can definitely double check the cases you've outlined, just for some peace of mind.

[2022-11-15 22:28] rrfrias commented on #10732
Might it be possible to share your app with us so that OnePlus can test/reproduce? Mail `dev.exoplayer@gmail.com` with `Issue #10732` in the subject line, with repro steps and a test URL if appropriate.

Also device build information will be helpful.

Internal ref: [257073407](http://go/b/257073407), [259303911](http://go/b/259303911)

[2022-11-15 22:43] freeboub commented on #10333
I confirm @sixones analysis and can confirm this is reproduced on 2.18.1 release.
Here is my callstack, but I don't think it brings additionnal informations.
I tryed to disable analyticsCollector with: setAnalyticsCollector(null) or with player.getAnalyticsCollector().setPlayer(null, null);
but unfortunately it doesn't seem possible.

[code]

[2022-11-16 00:16] rrfrias commented on #10162
I managed to get a Xiaomi device running Android OS 12. I can try to repro, if you can share repro steps, test URL etc by mailing `dev.exoplayer@gmail.com` with `Issue #10162` in the subject line.

[2022-11-16 00:26] rrfrias commented on #9968
@LuGO0, @SaurabhOfficial , appreciate if you can get the information requested earlier https://github.com/google/ExoPlayer/issues/9968#issuecomment-1300935608 for us to investigate.

[2022-11-16 03:57] SaurabhOfficial commented on #9968
@rrfrias I have shared the system-Ids earlier @rrfrias
also I don't think I will have access to the full URLs since it's most probably the analytics lib truncating the values.
let me know if you want me to send over the system ids once again?

[2022-11-16 08:55] BucherTomas commented on #10162
@rrfrias Thank you, the email has been sent with some additional details.

[2022-11-16 08:56] #10759 closed, assigned to tonihei

[2022-11-16 10:55] efrop12 opened #10780 "Unexpected audio track timestamp discontinuity"
We understand that the player is waiting for a timestamp and receives another, but from what we have seen, both the absolute time it is waiting for and the one it receives are far from being current values ​​since in this case it gives us a date of 2012.

This is an example that we have taken by tracing a specific user and we see that these errors (for any channel) never have a correct timestamp,

[2022-11-16 11:37] rodrigo-queiroz-deltatre opened #10781 "Dash low latency keep throwing 404s"
Hi, I am testing ExoPlayer 2.18.1 for low latency live dash streaming and keep getting 404s for some fragments quite frequently which causes the player to stop after a while.

We use Dash/Low latency, AdInsertion and video provider uses Amazon Cloud.

The video provider has `availabilityTimeOffset="1.800" availabilityTimeComplete="false"` set in their manifest and my understanding is that exoPlaye

[2022-11-16 11:49] Jitesh1720 opened #10782 "Subtitles are not showing after lib version updated"
### ExoPlayer Version

2.18.1

### Devices that reproduce the issue

Pixel 4

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

No

### Reproduction steps

I have updated the library version to the latest and the subtitles are not showing, But the same subtitles are working in the older version. I have done R&D for this bug for more than 2 days and sear

[2022-11-16 11:52] Jitesh1720 commented on #10782
Also have initialized the player like below

[code]

[2022-11-16 11:52] icbaker commented on #10779
Your manifest doesn't have a `ContentProtection` node with the [`Clear Key DASH-IF`](https://dashif.org/identifiers/content_protection/) UUID.

The `kid` value in your JSON string doesn't match the `default_KID` value in your manifest (converting the hex `default_KID` to base64 gives `z7XitzvvTzyHjyWrhqdFHw`).

Take a look at the example here, where the clearkey `ContentProtection` nodes are prese

[2022-11-16 11:52] #10779 closed, assigned to icbaker

[2022-11-16 11:56] icbaker commented on #10780
These timestamps are not in unix time (or in any time base that can be compared to a wall clock) - the time base is just used in the context of a particular media playback.

----

The most likely cause is that the media contains discontinuities or the audio is encoded in a way that's inconsistent with the metadata (so there's more/fewer audio bytes passed per second than `AudioTrack` is expecting)

[2022-11-16 12:04] icbaker commented on #10782
Which version?

---

What happens if you try using your media and subtitle URIs in the [demo app](https://exoplayer.dev/demo-application.html#playing-your-own-content)? See existing subtitle examples here (which are working for me, I just tried them): https://github.com/google/ExoPlayer/blob/r2.18.1/demos/main/src/main/assets/media.exolist.json#L577

[2022-11-16 12:19] Jitesh1720 commented on #10782
2.10.4

Working properly in the demo.

The videos and subtitle files are okay, I guess I'm missing something in the code and I'm not able to find what. I have gone through each and every issue related to subtitles but am still not able to figure out what is wrong with my code.

[2022-11-16 12:25] icbaker commented on #10782
I can't see anything obviously wrong with the code you've posted, but I'm afraid we're not able to offer 1:1 support for individual apps - I'll leave this open for a couple of weeks in case anyone else wants to chime in to help. You are probably best off comparing your app with the demo app in more detail, to try and understand where the differences are.

What happens if you remove the `simpleExoP

[2022-11-16 12:36] Jitesh1720 commented on #10782
I have used a custom button to show/hide subtitles and every time I click to show subtitle, the above code executes and player will be prepared again with the selected subtitle (based on the selection from the list). And for that reason, the video is playing from start (due to prepare), that's why I have set the current duration.
If I remove the line, the video is playing from the start.

Yup, Tha

[2022-11-16 12:51] ThibaultBee opened #10783 "onPlaybackStateChanged with PlaybackState STATE_ENDED is not called when seeking on a paused video"
### ExoPlayer Version

2.18.1

### Devices that reproduce the issue

Pixel 4 running on Android 13

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Yes.
Reproduced with `demo` application and one of the HLS stream.
I added breakpoint in `EventLogger` `onPlaybackStateChanged` and watch logcat but it displays:
[code]

### Reproduction steps

1. Load an

[2022-11-16 14:18] FranEspino commented on #10779
I need some guidance, I have only worked with mpd or m3u8 files without encryption and exoplayer plays it without problems, I have been using the following tool
https://developer-tools.jwplayer.com/stream-tester
Doing a test with the following url: https://dce-fs-live-dazn-cdn.dazn.com/dashdrm/dazn-linear-017/stream.mpd
ClearKey Key:
0d6712bf2a84edcc93d001a9613f6fec
ClearKey Key ID:
cfb5e2b73bef4f

[2022-11-16 14:26] icbaker commented on #10779
It looks like you've converted `0d6712bf2a84edcc93d001a9613f6fec` and `cfb5e2b73bef4f3c878f25ab86a7451f` into base64 by interpreting them as ASCII strings, not hex strings (maybe using a converter like https://www.base64encode.org/). I suspect this isn't correct, and that they should be considered to be hex strings.

Try a converter that will interpret the input as a hex string, e.g. https://base6

[2022-11-16 14:31] rohitjoins commented on #10522
@hyoromo Sorry, this is not something we support. It may be possible to achieve this by forking ExoPlayer and modifying the internals. You can also look into the conversations we had around this in #1073.

[2022-11-16 14:31] #10522 closed, assigned to rohitjoins

[2022-11-16 14:57] FranEspino commented on #10779
Thanks, It work!!

[2022-11-16 15:36] Koster35 commented on #10769
Those logs were added by Amazon. This bug occurs in ExoPlayer 2.17.1 and the ExoPlayer Amazon port 2.17.1, so I must have mistakenly submitted the bug report I took using the Amazon port.

Thanks for looking into this. I will try to reach out to Amazon about this again.

[2022-11-16 15:54] tonihei commented on #10781
Without having the actual live manifest for testing, I need to guess a bit here. If you want further insides, please send the real mpd link to dev.exoplayer@gmail.com with "Issue #10781" in the subject or share it here.

Generally, yes, the availabilityTimeOffset tells the player when a chunk should be available without getting a 404. If the value is `1.800` it means the player should be able to r

[2022-11-16 15:55] christosts commented on #10701
We pushed a commit that changes `Util.getAudioTrackChannelConfig()`. It's available on the dev-v2 branch. The commit is already linked on this issue. Will you be able to checkout the dev-v2 branch and try the demo app with your content?

[2022-11-16 22:37] warren-bank opened #10784 "[question] Is there a Listener that is notified when all downloads have been removed?"
When making a call [to](https://github.com/google/ExoPlayer/blob/r2.18.1/library/core/src/main/java/com/google/android/exoplayer2/offline/DownloadService.java#L479):
[code]
which is delegated [to](https://github.com/google/ExoPlayer/blob/r2.18.1/library/core/src/main/java/com/google/android/exoplayer2/offline/DownloadManager.java#L506):
[code]
which is delegated [to](https://github.com/google/ExoP

[2022-11-16 23:16] psharma676 opened #10785 "Ensuring bitstream compatibility with ISO/IEC 14496-3 1.6.2.1"
### [REQUIRED] Use case description
ISO/IEC 14496-3:2009 section 1.6.2.1  (AudioSpecificConfig) allows an audio stream set to a custom/arbitrary sampling frequency. Sampling frequency is a custom number when "samplingFrequencyIndex" == 0xf . When that is the case, there should be no less than 24 bits of "samplingFrequency" in the bitstream else it is an error/exception.

### Proposed solution
1) E

[2022-11-17 02:51] nozuonodienobb opened #10787 "How to play H264 byte [] raw stream obtained from the network"
Unfortunately we can't answer all questions. Unclear questions or questions with
insufficient information may not get attention.

Before filing a question:
-------------------------

- Ask general Android development questions on Stack Overflow
- Search existing issues, including issues that are closed
  https://github.com/google/ExoPlayer/issues?q=is%3Aissue
- Consult our developer website (https

[2022-11-17 02:53] nozuonodienobb commented on #10787
i write dataSource and they facotry, run the app, the log is  Always reading byte status, but not playing

[2022-11-17 09:29] dev-sharma-deltatre opened #10788 "Update IMA SDK"
Exoplayer latest version is using IMA SDK: 3.26.0

3.26.0 will deprecate on March 1, 2023, and is only a few months away: https://developers.google.com/interactive-media-ads/docs/sdks/android/client-side/deprecation

Can we please update it to the latest version?
Thank you

[2022-11-17 09:43] qianzhang613 commented on #10661
Hi ,

I have the same issue when runing cts test for flush case.

11-17 14:52:19.844 10097  7881  7930 W CCodecBufferChannel: [c2.v4l2.avc.decoder#626] start: cannot allocate memory at all
11-17 14:52:19.844 10097  7881  7930 E CCodec  : Resume request for Input Buffers failed
11-17 14:52:19.844 10097  7881  7930 E MediaCodec: Codec reported err 0xfffffff4/NO_MEMORY, actionCode 0, while in state 6

[2022-11-17 10:05] christosts commented on #10661
The fix included in [Android 13 QPR1 Beta 2](https://developer.android.com/about/versions/13/release-notes#beta2) build, [here](https://issuetracker.google.com/issues/237538712#comment6) is the issue that tracked the platform bug.

[2022-11-17 10:43] tonihei commented on #10788
The IMA version is already updated since https://github.com/google/ExoPlayer/commit/60a3ea48b8abf3949a87a2b3bc930ce83cf4ce3f

[2022-11-17 10:43] #10788 closed, assigned to tonihei

[2022-11-17 10:46] dev-sharma-deltatre commented on #10788
@tonihei  Is it updated on 2.18.1? I am using this version. I believe this is the latest one.

[2022-11-17 10:47] tonihei commented on #10788
No, the commit will be part of the next upcoming release only

[2022-11-17 10:48] dev-sharma-deltatre commented on #10788
Okay.  Can you please update me on the time frame when we are expecting that release?

[2022-11-17 10:49] tonihei commented on #10788
We don't give precise release dates, but it shouldn't be far away (a few days most likely)

[2022-11-17 10:51] dev-sharma-deltatre commented on #10788
Thank you so much for the prompt response. I really appreciate it.

[2022-11-17 10:51] Tolriq commented on #10780
Jumping on this as I hesitated to open an issue about those errors.
When switching from ffmpeg to mediacodec by default I got tons of those logged, but no user complains.

Are those something that I should try to investigate and get users to send the media or can they be most of the case ignored?

[2022-11-17 11:00] icbaker commented on #10787
This looks like a duplicate of the previous issue you filed: #10722

Please don't file additional issues with the same question, especially without linking back to the previous issue.

[2022-11-17 11:00] #10787 closed, assigned to icbaker

[2022-11-17 11:46] zyfeng413 commented on #10701
I have updated the latest code of the dev-v2 branch, it can play, but the log shows supported=NO_UNSUPPORTED_TYP
[log.txt](https://github.com/google/ExoPlayer/files/10031126/log.txt)

[2022-11-17 12:17] vishnuchilakala opened #10790 "Initial Bitrate Estimates do not follow suit for India"
### ExoPlayer Version

2.18.1

### Devices that reproduce the issue

All

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Yes

### Reproduction steps

Play from / Hardcode India as the country and check the initial bitrate estimates.

### Expected result

5G_NSA > 5G_SA > 4G > 3G > 2G

### Actual result

5G_NSA >  4G > 5G_SA > 2G > 3G

### Media

Any

[2022-11-17 12:17] vishnuchilakala commented on #10790
PR raised with the fix: #10789

[2022-11-17 14:55] tonihei commented on #10785
Thanks for the report and the PR!

As this is adding an additional correctness check without any new handling for these cases, I wonder why you want to add this check? Did you see media files where this condition is not fulfilled and that failed in other unexpected ways? Or is there another reason to introduce this check outside of "the spec says this isn't allowed"?

[2022-11-17 15:08] lucianogrippa commented on #2885
Any new about this issue ? is low priority from  Dec 22, 2019!!  when do you plan to implements this?

[2022-11-17 21:48] carrinhoff opened #10791 "Eac3 audio in video"
I have a video that has "eac3 audio codec" , the video works perfectly but with no audio.
I've tried to use ffmpeg , i did built .aar successfully and added to the libs of my project, but when I call "Ffmpeg.isAvailable" , I always get "false" as response, so I assume is not working.

My .aar has 13kb of size and I added eac3 to the decoders.

What should I do now ? I really need to use exoplayer

[2022-11-18 00:56] psharma676 commented on #10785
It is a media error/violation seen in the field, but unfortunately we do not have a stream capture as it is not easy to reproduce. To instrument this change, we walked backwards from an out of bounds exception in bitArray.readBits(24). This change allows us to detect these media errors and gives the caller an option to handle them by retrying with the next segment and/or logging errors.

[2022-11-18 01:19] natrubin24 opened #10792 "Video content freezes for 1-5sec before playing when postroll is present via IMA"
### ExoPlayer Version

Older (unsupported)

### Devices that reproduce the issue

Any FireTV device

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Not tested

### Reproduction steps

1. Download and open the IMDb What to Watch app on any FireTV device (sign in not required)
2. Navigate to the This or That or Time Machine game
3. Play through either

[2022-11-18 09:40] tonihei commented on #10785
Thanks for the clarification! The part about not getting a helpful error if it's just an IndexOutBoundsException is the purpose of your addition I didn't see initially. We'll merge the change soon.

[2022-11-18 10:14] icbaker commented on #10791
This sounds like a problem with the way you're building or depending on the ffmpeg extension, rather than anything specific about eac3. Have you made sure to follow the full instructions for building the extension? https://github.com/google/ExoPlayer/blob/release-v2/extensions/ffmpeg/README.md

It's unlikely we can offer much detailed support with the specifics of your build setup I'm afraid.

[2022-11-18 10:19] icbaker commented on #10792
Are you using the FireTV fork of ExoPlayer and this only reproduces on FireTV devices? If so, I would suggest reporting it to the maintainers of that project: https://github.com/amzn/exoplayer-amazon-port

If this reproduces on other devices and you'd like us to look into it then we need source-based repro instructions - ideally using our demo app. We can't investigate how our library is used with

[2022-11-18 11:40] gorkemg commented on #3752
Hi, we created a [Pull Request](https://github.com/google/ExoPlayer/pull/10793) for this feature.
Thanks.

[2022-11-18 11:50] christosts commented on #10701
I find this puzzling. This log line  from [log.txt](https://github.com/google/ExoPlayer/files/10031126/log.txt)

[code]

says that the the device does not have an Atmos decoder (`NO_UNSUPPORTED_TYPE`), hence the audio track is not selected for playback (an `X` is missing in `[]`). There should be no audio playback when this log is printed. In addition, in [log.txt](https://github.com/google/ExoPla

[2022-11-18 12:17] romeor commented on #10766
Hello,

have to open this one. It comes out it is not related to bursts.  it is something with ExoPlayer. When I use VLC/Clouddy it is ok. Is there any way I could as a user debug this issue for you?

[2022-11-18 12:50] icbaker commented on #10640
I'm unable to repro this failure on a Nexus 4 running Android 4.2.2, I tried adding `app:animation_enabled="true"` here in the demo app:
https://github.com/google/ExoPlayer/blob/ab4d37f499ba49bb3cac7938eb03ebf7133ccfe6/demos/main/src/main/res/layout/player_activity.xml#L24-L28

Playing media worked without crashing.

Are there any additional steps needed?

[2022-11-18 12:59] tonihei commented on #10766
As indicated above, I would suggest to try out different network stacks and look into configuration options offered by Cronet and OkHttp to optimize this case. If you see certain options you think should always be set for ExoPlayer, please let us know, otherwise the behavior of the network stack is outside of our control.

[2022-11-18 15:22] icbaker commented on #10505
I can see subtitles with the provided file if I manually specify that the file contains a CEA-608 as described here: https://github.com/google/ExoPlayer/issues/10175#issuecomment-1098206520

[2022-11-18 15:22] #10505 closed, assigned to icbaker

[2022-11-18 15:45] carrinhoff commented on #10791
I did, i have placed Exoplayer locally and have imported every library I needed like this

`    implementation project(':exoplayer-library-core')
    implementation project(':exoplayer-extension-cast')
    implementation project(':exoplayer-library-hls')
    implementation project(':exoplayer-library-ui')`

After that i followed the guides, I have used ndk 21 , and now i have a FFMPEG folder insid

[2022-11-18 15:50] carrinhoff commented on #10791
If I try to do this step -> `./gradlew extension-ffmpeg:assembleRelease`  that i found on another tutorial, i go the follow error

`

C/C++: ninja: error: 'C:/Users/Fabio/ExoPlayer/extensions/ffmpeg/src/main/jni/ffmpeg/android-libs/arm64-v8a/libswresample.a', needed by 'C:/Users/Fabio/ExoPlayer/extensions/ffmpeg/buildout/intermediates/cxx/RelWithDebInfo/6p3re6p1
/obj/arm64-v8a/libffmpegJNI.so', mi

[2022-11-18 16:56] tonihei commented on #10790
This is working as expected because these number are based on real-world data and we update them in regular intervals. Even though 5G-SA aims to be faster than 4G, this is not necessarily the case in practice yet when averaged across an entire country.

[2022-11-18 16:58] tonihei commented on #10790
It's also worth highlighting that you can amend all of these values and group assignments in the `DefaultBandwidthMeter.Builder` if required.

[2022-11-18 17:27] atkGit commented on #10713
Yes with the above change I am able to see the subtitle on screen.  One disadvantage is for playing captured content , we need to set the system time to exact time at which the dash stream playback is captured. Is there any way we can set the a reference time (say MPD AST ) instead of taking the system time . We tried changing the Util getNowUnixTimeMs based on an externally set reference time .In

[2022-11-18 17:33] icbaker commented on #10713
If you're trying to play live content long after it's aired it should probably be served as VOD content instead? The intricacies of content preparation is out of scope for this issue tracker, but that is generally how I would expect 'no longer live' content to be served.

(I thought you were only trying to override the time in order to test some live behaviour to reliably repro this issue - using

[2022-11-18 18:55] theBlbDan opened #10794 "AOD (Always on Display) shows "No Title" when using MediaSessionConnector(mediaSession)"
I am using a foreground service to manage my player and so far everything seems to be working as expected except for one thing.

When the player is playing a media item, the Always on Display shows our icon with "No Title". Am I missing something, or doing  things out of order? This is on Android 13 on a Pixel 7 Pro.

[code]

[2022-11-18 19:09] psharma676 commented on #10785
Yes, that is entirely correct, a helpful error is, well, more helpful :-) . Thanks for your review and glad I could help!

[2022-11-18 19:10] #10785 closed, assigned to tonihei

[2022-11-18 19:18] carrinhoff commented on #10791
**Found the problem**

It's impossible to do this correctly:

`cd "${FFMPEG_MODULE_PATH}/jni" && \
./build_ffmpeg.sh \
  "${FFMPEG_MODULE_PATH}" "${NDK_PATH}" "${HOST_PLATFORM}" "${ENABLED_DECODERS[@]}"`

because we get the following error :

`/android-ndk-r21e/toolchains/llvm/prebuilt/windows-x86_64/bin/x86_64-linux-android21-pkg-config not found, library detection may fail.
`

There isn't any pk

[2022-11-18 23:35] Gurwar opened #10795 "Playing video from byte array through AVPro"
Complete noobie to Exoplayer here.

I am working on a project that is using AV Pro in Unity. AV Pro is a multiplatform video player that is using the ExoPlayer library for Android video playback.

The feature I want to develop is for video encryption. I don't want to have to save a decrypted file to the device before being able to playback. Instead I want to use the decrypted bytes of the video an

[2022-11-19 00:21] carrinhoff commented on #10791
So I found the solution and I will post here to help anothers with the same problem.
The exoplayer guide : https://github.com/google/ExoPlayer/blob/release-v2/extensions/ffmpeg/README.md
is incomplete for windows.

Inside build_ffmpeg.sh we have a command called "make" (used in linux) but windows doesn't know it , so you have to install chocolatey on power shell , and then "choco install make", af

[2022-11-19 21:35] yuroyami opened #10796 "Player unpauses media after preparing it even with playWhenReady set to false"
### ExoPlayer Version

2.18.1

### Devices that reproduce the issue

All devices I have

### Devices that do not reproduce the issue

-

### Reproducible in the demo app?

Not tested

### Reproduction steps

I have an app that loads media every 10 seconds (prepares it from storage using a DocumentFile Uri).

When ExoPlayer is initialized, I set the playWhenReady to false, to make sure it doesn't r

[2022-11-21 00:44] pineapplevine opened #10797 "Value of getDuration at CONTENT_RESUME_REQUEST when ads are skipped"
Hello.
We want to get the duration of the content by getDuration.
If we do not skip the ad, we can call getDuration on the CONTENT_RESUME_REQUESTED event of AdEventListener to get the duration of the content.
However, if the ad is skipped, calling getDuration on the CONTENT_RESUME_REQUESTED event of AdEventListener will get the duration of the ad.
Please confirm this issue as we believe it is an i

[2022-11-21 01:32] adrianbartyczak opened #10798 "How do you get SSL to work with ExoPlayer?"
I have been trying to add an SSL Socket Factory to ExoPlayer for 2 days now. All the tutorials on the internet do not work.

This is the closest I got, but it doesn't work.

[code]

Can someone please help? Thanks.

[2022-11-21 03:00] how8570 commented on #10708
hum...? I am little confuse about this. 🤔

So on the player side, player know that both version (Android 10, 12) of Chromecast are exceed the decoder capabilities.
But on the 12, device strongly refuse to decode media witch cause video won't be play?

---

I am not sure how much effort to workaround this, i need take some time to survey this.
If necessary, I will contact again, THX

Thanks the inf

[2022-11-21 06:57] windseamless commented on #10757
Thanks for answering!
However, I encountered a problem: when HLS started playing, there was audio data, and when there was no audio data during the playing, the playing stopped and could not continue.

[2022-11-21 07:51] hokar commented on #10162
I'm facing a similar error.
In my case, the following stack trace is displayed on Galaxy S10 and playback fails.

[code]

[Additional info]

- ExoPlayer: v2.17.1
- DRM: Widevine
- Streaming Server: Azure Media Service
- Android: 12
- Vender: Samsung
- Model: Galaxy 10, Galaxy Note10+

[2022-11-21 08:34] ogawa-ma commented on #10732
@rrfrias
Sorry for the late reply.
Please wait a little while as we prepare the application and video.

Also, we requested a bug report from the user who inquired about it, but since we have not received a response, we may not be able to provide a bug report.

[2022-11-21 08:46] tonihei commented on #10757
This sounds like expected behavior. If the stream has audio data at some point, the player can reasonably assume that all the segments have audio data. And for this reason, it tries to load more data until it finds the audio data.

If your stream set up changes, I'd suggest to create a separate m3u8 playlist that reflects the changes and add it as a new item to the player.

[2022-11-21 10:24] tonihei commented on #10783
This is a bit of an edge case where it depends on the exact interpretation of these state to know which one is "correct". We concluded that everything is working as intended because the seek itself end up just *before* the end of the video to display the last frame. So while the player is paused, you haven't technically reached the end yet because the player is in a state where it rendered the las

[2022-11-21 10:25] #10783 closed, assigned to tonihei

[2022-11-21 10:33] maven-y commented on #10546
@marcbaechinger Any update on the above issue?

[2022-11-21 11:33] ajayhack commented on #10767
@icbaker , Can you please provide update on this , please let me know if you required any more stuff from our end.
Please let me know as this is most priority for us.

[2022-11-21 11:47] javaboboApp opened #10800 "Refresh token during license request"
Hi there I got this question.
In the scenario that we are using dash + drm license.
We know that the license indicates the playback refreshment period. So for example, if the user is watching a content for 24 hours and the refreshment period is 5 hours, so every 5 hours playback should refresh the license, making a request to the license server provider. Many times this license provider requires a

[2022-11-21 12:16] christosts commented on #10798
This doesn't look like a question specific to ExoPlayer, but more about configuring the OkHttp client. You will need to refer to the OkHttp documentation or redirect the question to more generic forum like stack overflow. For example, a quick search brought me [this](https://square.github.io/okhttp/4.x/okhttp/okhttp3/-ok-http-client/-builder/ssl-socket-factory/) and [this](https://stackoverflow.co

[2022-11-21 12:16] #10798 closed, assigned to christosts

[2022-11-21 12:30] cstar-99 opened #10801 "How to load HD video from server in 360p or 144p quality in app"
I am working on a project where I load videos from a server, but the videos on my server are HD quality. So, how can I load this HD video in the low-quality video to save internet data? I tried trackselector.setparameter but it didn't change, videos are still loading in high quality.

[2022-11-21 13:10] Lilsax opened #10802 "Is there a way to update the subtitle in exo?"
is there a way to update the subtitle in exo player? Since im working with multi period manifest and the subtitle always come inside the 2nd period since the first period is an ad period

and as i can see exo player tries to read the subtitle from the first period and in case it didnt find it, it will consider there is no subtitle or sub audio.

is there anything u can help me with this ??

regard

[2022-11-21 14:24] tonihei commented on #9553
They do spec this actually: `Durations SHOULD be decimal-floating-point, with enough accuracy to avoid perceptible error when segment durations are accumulated.` (from https://datatracker.ietf.org/doc/html/draft-pantos-hls-rfc8216bis#section-4.4.4.1)

I slightly lost track of this discussion to be honest since it happened a while back. But it generally makes sense to handle problems automatically

[2022-11-21 14:33] icbaker commented on #10800
I'm afraid we're not experts on the design of your content protection - it's really up to you to decide how to implement the level of protection you need.

-----

I'm not sure exactly how you're implementing this at the moment, but I would probably try and do it using a `ResolvingDataSource` subclass that knows how to determine the correct token, and you can pass a factory for this to `HttpMediaDr

[2022-11-21 14:46] icbaker commented on #10767
I'm able to play the stream in hlsplayer.net on Chrome on MacOS, but not from my device running the demo app (where I still get a 403). Are you able to play these streams using the ExoPlayer demo app on your device?

[2022-11-21 14:47] ThibaultBee commented on #10783
Ok, thank you for your answer.
I am trying to add a specific icon for replay when the player is at the end of the video (even when the user seek while the player is in pause state). Is there a way to detect that we are at the end of the video or at the last frame in `onPositionDiscontinuity`?

[2022-11-21 14:58] himanshuthakkar2781 opened #10803 "Exoplayer can't play audio for HLS"
ExoPlayer Version
2.18.1

Devices that reproduce the issue
All android devices

Devices that do not reproduce the issue
none

Reproducible in the demo app?
No
Downloaded file plays(as am using progressive media source).
But Hls file does not play.

Reproduction steps
After changing version to 2.18.1 from 2.11.3.
playing hls media source produces error below

E/LoadTask: Unexpected exception loadin

[2022-11-21 15:05] tonihei commented on #10783
You can probably compare the position and the duration in the `onPositionDiscontinuity` callback. Just curious: did you receive user feedback that they expect to see the replay button when they seek to the end while paused? It's non-obvious to me what the expected UI behavior is in such a case and as a user I wouldn't be surprised to only see the replay button once I actually played the last bit o

[2022-11-21 15:13] ThibaultBee commented on #10783
It is not easy to compare the new position and the duration in the `onPositionDiscontinuity` because there are not equals. I notice that there are a small time difference between both.
It is a behavior that we have on our other players and we wish to implement it on our Android player as well.

[2022-11-21 16:11] tonihei commented on #10783
Yes, this is the time difference indicating you haven't actually reached the end of playback on a technical level. For the user-facing UI, I think you'd need some form of threshold between position and duration to show this button. If I think of a full-length movie, I would expect the UI changes for the end of playback to happen as soon as I reach the credits (e.g. a long time before reaching the

[2022-11-21 17:17] icbaker commented on #10791
Glad you got it resolved!

The instructions currently make clear they're not tested on Windows. I will take a look at adding `set -e` to the `build_ffmpeg.sh` script so that any errors cause it to exit immediately - I think that should make it exit when it can't find the `make` command, and the resulting error should be fairly clear (that you need to install `make`). We don't have an opnion on whe

[2022-11-21 17:17] #10791 closed, assigned to icbaker

[2022-11-22 02:04] #10714 closed, assigned to marcbaechinger

[2022-11-22 03:42] windseamless commented on #10757
Yes, I can dynamically modify whether my audio and video streams are packaged at the same time when recording.

This is a good suggestion. I'll try it.

[2022-11-22 03:53] ogawa-ma commented on #10732
@rrfrias
Sorry I made you wait.
I have sent the app to `dev.exoplayer@gmail.com.`

[2022-11-22 06:01] ajayhack commented on #10767
@icbaker , Yes we have tested our Live Stream on ExoPlayer Demo App on real device also and it's been playing.
Please check the mail , We have shared a video on playing our stream in exoplayer demo app on real device.

[2022-11-22 06:22] Tolriq commented on #10502
Can someone please take 1 min to answer my questions about extractors and multi tracks so I can do the PR and stop getting those kind of reviews?

![image](https://user-images.githubusercontent.com/932609/203239903-c9515465-a179-435f-b84d-83d56166c2a5.png)

[2022-11-22 06:42] fenjuly commented on #9541
I had faced the same issue.
Have you solved the issue? @mike-targetr

[2022-11-22 07:11] donny9095 commented on #10764
@tonihei
Sorry to bother you, but do you have any new information on this issue ? Can you fix and release it to the next version ?

[2022-11-22 10:59] icbaker commented on #10767
I'm able to play the stream now. I can see that subtitles are not visible. I tried disabling HLS chunkless preparation as suggested in https://github.com/google/ExoPlayer/issues/10352 and I can now enable subtitles and they show up.

Marking as a duplicate of https://github.com/google/ExoPlayer/issues/10352

[2022-11-22 10:59] #10767 closed, assigned to icbaker

[2022-11-22 11:11] icbaker commented on #10767
I also notice that the stream provided here doesn't meets the [HLS authoring guidelines](https://developer.apple.com/documentation/http_live_streaming/http_live_streaming_hls_authoring_specification_for_apple_devices) regarding subtitles:

I can't see an EXT-X-MEDIA tag in the manifest.

The stream provided originally in #10352 does include this info, so it's not clear if adding this would be enou

[2022-11-22 11:18] ricardomorarey opened #10804 "RTSP: Support absolute timing"
### ExoPlayer Version

2.18.1

### Devices that reproduce the issue

Motorola Moto g30 Android 12

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Yes

### Reproduction steps

When I reproduce this uri of a hikvision ip camera, the reproduction does not give me any problem:
rtsp://xxx:xxx@host:port/ISAPI/Streaming/Channels/301

but if i try to play wi

[2022-11-22 11:19] shubhamvashisht opened #10805 "Files encrypted using AesCipherDataSink takes a lot of time (for playback to start)."
### ExoPlayer Version

2.18.1

### Devices that reproduce the issue

Oneplus Nord 2
Samsung f62

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Not tested

### Reproduction steps

1. Encrypt and write a file to disk using AesCipherDataSink
2. try to play it.
playback will take good 10-15 secs to start, based on the device performance.

please note th

[2022-11-22 11:27] shubhamvashisht commented on #10801
@cstar-99 To achieve this, you need to look into Adaptive bitrate streaming. Exo player provides built-in support for HLS, DASH etc. In simpler words, You need to have your media in multiple bitrates/resolution to achieve something like this.

[2022-11-22 12:01] christosts commented on #10795
ExoPlayer loads data through `DataSource` components. There are various `DataSource` implementations that know how to read data from local files to remote HTTP endpoints. Your starting point is probably the `ByteArrayDataSource` that reads data directly from a byte array. To specify what `DataSource` to use, you'll need to pass a `DataSource.Factory` You can also read similar discussion on #9558.

[2022-11-22 12:01] #10795 closed, assigned to christosts

[2022-11-22 12:17] christosts commented on #10796
Can you provide a minimal piece of code that demonstrates the problem? Ideally either modify the demo app and share a patch, or share a minimal project that we can download and reproduce the issue.

Thanks

[2022-11-22 12:28] christosts commented on #10801
As mentioned, you need to package and serve video content in a format that supports [Adaptive Bitrate Streaming](https://en.wikipedia.org/wiki/Adaptive_bitrate_streaming), which  ExoPlayer supports. You can find information the [Supported formats](https://exoplayer.dev/supported-formats.html) page, and specifically support for [DASH](https://exoplayer.dev/dash.html), [HLS](https://exoplayer.dev/hl

[2022-11-22 12:28] #10801 closed, assigned to christosts

[2022-11-22 13:16] christosts commented on #10804
@claincly can you take a look?

[2022-11-22 13:26] claincly commented on #10804
Please provide a log of RTSP messages.

The easiest way is to use the `RtspMediaSource.Factory` method `setDebugLoggingEnabled()`

That is, set the media source factory when building the ExoPlayer instance, like this:

[code]

[2022-11-22 13:48] AGasztold commented on #10712
Hi, thank you for the feedback. Does Chromecast team have any details about that fix? Did they notice something specific in our streams which is problematic? From our side: we have noticed that we are seeing glitches on streams encoded with nvenc (h264).

[2022-11-22 14:51] tonihei commented on #10797
Adding a listener directly on the ads SDK (=adding a custom `AdEventListener`) means you get events at the same time as the player and thus the updates triggered by these events haven't happened yet in the player itself. That's why the player state is still `isPlayingAd()` true and `getDuration()` correctly returns the ad duration. You can also always get the content duration even while an ad is p

[2022-11-22 14:52] #10797 closed, assigned to tonihei

[2022-11-22 16:01] ricardomorarey commented on #10804
Yes, of course. Here you have:

D/RtspClient: OPTIONS rtsp://xxxxxxxxxxxxxxxxxxxxxxx:554/ISAPI/Streaming/tracks/301?starttime=20221121T000000Z RTSP/1.0
    User-Agent: ExoPlayerLib/2.18.1
    CSeq: 0
D/RtspClient: RTSP/1.0 401 Unauthorized
    CSeq: 0
    WWW-Authenticate: Digest realm="89ecc56c2badadaa4d82682d", nonce="024f9cfe5", algorithm="MD5"
D/RtspClient: OPTIONS rtsp://xxxxxxxxxxxxxxxxxxxxx

[2022-11-22 18:13] claincly commented on #10804
The issue is in the SDP message, specifically `a=range:clock=20221121T000000Z-20221122T165233Z`

RTSP standards defined three timing schemes: SMPTE timestamp, Normal Play Time (NPT) and absolute time (the one you have). Our RTSP currently only supports NPT.

I filed a bug about supporting it internally, but I am afraid we don't have an estimate of when we can get around to this.

[2022-11-22 19:46] ricardomorarey commented on #10804
OK. thank you very much!

[2022-11-22 20:41] Tolriq commented on #10502
So I decided to leave the track numbering and attribution to the one who will implement Theora support.

Opened that properly ignore invalid track and allow playing of the first valid one.
https://github.com/google/ExoPlayer/pull/10807

[2022-11-23 12:12] mike-targetr commented on #9541
Unfortunately not. The only workarounds we found were:

1. Put the device into standby and wake up at least once every 24 hours
2. Disable the audio renderer completely

Thankfully most of our customers use our player for muted digital signage. But we no longer recommend Nvidia Shield due to this audio problem.

[2022-11-23 12:14] tianyif commented on #10803
Hi @himanshuthakkar2781,

In the attached implementation `StreamDataSource`, we noticed that you are returning a `null` object in method `getResponseHeaders()`, and when [`FileTypes`](https://github.com/google/ExoPlayer/blob/03569f9e6536e6c60cb585115d6d7352a4deab71/library/common/src/main/java/com/google/android/exoplayer2/util/FileTypes.java#L126) tries to access the value from a "null" map, the

[2022-11-23 12:37] christosts commented on #10712
I'm afraid the team did not mention anything about the specific stream, all I know is that it is fixed.

[2022-11-23 13:19] menscikov opened #10808 "Video is freezing after few seconds in the new 2.18.2 version"
### ExoPlayer Version

2.18.2

### Devices that reproduce the issue

Xiaomi Redmi Note 11 Pro+ 5G

### Reproduction steps

1. You have to set cookie ("Cookie" for `HttpDataSource.Factory` -> `.setDefaultRequestProperties()`) for this video to be able to play it in ExoPlayer;
2. Open video.

### Expected result

Video must work without any issues.

### Actual result

Video is freezing.
It was worki

[2022-11-23 13:21] ajayhack opened #10809 "M3U8(HLS) Streams are getting skipped when trying to play it on Android TV from Android Mobile by connecting Android TV Chromecast."
### ExoPlayer Version

2.17.1

### Devices that reproduce the issue

We Have used Samsung M32 Android Mobile (Android version 12) Chromecast Feature.

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Yes

### Reproduction steps

We have shared issue HLS Streams on mail - dev.exoplayer@gmail.com

### Expected result

M3U8(HLS) Streams should play fine w

[2022-11-23 13:29] FortunaRegem opened #10810 "Multiple exoplayers in list view not rendering correctly on android 13"
### ExoPlayer Version

2.18.1

### Devices that reproduce the issue

Any device running android 13
Tested on Samsung Galaxy S20 and Google Pixel 6 pro

### Devices that do not reproduce the issue

Haven't found a device that doesn't reproduce this issue

### Reproducible in the demo app?

Yes

### Reproduction steps

Hi, I'm farely new to exoPlayer and I've encountered a bug while trying to run my

[2022-11-23 13:42] ajayhack commented on #10767
@icbaker , We are not using HLSMediaSource.Fatory we are using DefaultMediaSourceFactory and in this We did not have option to disable chunkless prepration through code , Can you suggest how can we disable chunkless prepration through code while using DefaultMediaSourceFactory.

For Reference Code Snippet we are ussing:-
MediaSource.Factory mediaSourceFactory =
                    new DefaultMedia

[2022-11-23 14:52] christosts commented on #10808
The stream is working fine, I tried two different Pixel devices (4 & 6), and played for ~1 minute on each device. Are you seeing this only on the Xiaomi device? Does it reproduce all the time? If yes, can you also send a bugreport?

Thanks

[2022-11-23 14:57] christosts commented on #10809
@marcbaechinger is this possibly a duplicate of #7891?

[2022-11-23 15:30] menscikov commented on #10808
Hello, thanks for testing.

I opened this video on Amazon Fire Stick, Android 9. It's working fine.
Xiaomi Redmi Note 11 Pro+ 5G, Android 12 device, video is freezing after 2-3 seconds but sound is playing. After 5 seconds it starts buffering forever.

[2022-11-23 15:43] menscikov commented on #10808
Actually you don't need the bugreport from me.

I just tried to open this video in Android Studio on Android Emulator:
1. Pixel 2 **(API 28, Android 9), ABI X86** - video is working fine;
2. Pixel 2 **(API 31, Android 12), ABI X86_64** - video is freezing after 2-3 seconds.
3. Pixel 6 **(API 33, Android 13), ABI X86_64** - video if working fine;

It looks like it's something with Android 12. Maybe

[2022-11-23 16:19] icbaker commented on #10767
Currently it's quite tricky to customise the `HlsMediaSource.Factory` used inside `DefaultMediaSourceFactory` - and I see you're using ad playback config, so even if you only want to play HLS streams you can't use `HlsMediaSource.Factory` directly because it doesn't implement the ads integration. Moving things like ads integration into 'leaf' `MediaSource.Factory` implementations is tracked by htt

[2022-11-23 16:21] icbaker commented on #10802
Please can you provide complete reproduction steps so we can understand your exact setup and see how the player handles it.

Without that it's going to be very hard to understand your problem.

Please either post media links here or send them dev.exoplayer@gmail.com using the subject `Issue #10802`. Please also update this issue to indicate you’ve done this.

Thanks!

[2022-11-24 00:43] neutric opened #10811 "Typo in r2.18.2 release notes"
Both source and target of the rename are identical.

[2022-11-24 03:16] vegedb commented on #9794
@microkatz

It still doesn't fallback to HDR. Problem of black screen still persists.
https://github.com/moneytoo/Player/issues/392

[2022-11-24 09:51] ajayhack commented on #10809
@christosts @marcbaechinger Can you please provide some possible solution for this issue.

[2022-11-24 10:44] christosts commented on #10811
Thanks for spotting this. This is an unfortunate miss, a result of publishing ExoPlayer in two different repositories.

For context, in [androidx/media3 ](https://github.com/androidx/media), the code is under `androidx.media3` and we have some automation in place to translate the code to the `com.google.android.exoplayer2` when publishing on this repository. The file did get moved in the [androidx

[2022-11-24 10:44] #10811 closed, assigned to christosts

[2022-11-24 12:43] christosts commented on #10808
I have not been able to repro this, at least not with the demo app. I used the emulator with Pixel 2 at API 31 with both x64_64 and arm ABIs. The stream has an H264 video track and aac audio, so I don't think the extensions are needed. Can you please attach a bug report after the issue occurs on your side?

[2022-11-24 13:40] himanshuthakkar2781 commented on #10803
Thanks a ton.....This has fixed my issue.

[2022-11-24 13:40] #10803 closed, assigned to tianyif

[2022-11-24 14:34] tartalex2000 commented on #10516
If I will use ExoPlayer with enableFloatOutput=true and _without_ attaching any audio processors -
will ExoPlayer still resample any 24 or 32 bit audio files (flac for example) to lower format? Or it will play original file with hi-res quality without resampling?

[2022-11-24 15:10] Lilsax commented on #10802
this is a question not a problem

im asking if there is a way to update the subtitle and manifest during the stream

[2022-11-24 15:11] dimitradg opened #10812 "Track a player's audio track progress"
As I understand, there is no progress event listener implementation within ExoPlayer, and that is because it would need multiple API calls.

What I would like to ask is if there is a workaround to capture an audio's progress. What I would like to implement is the following:

I have player A which constantly plays a background music, and I have player B which plays a playlist of tracks. When the pl

[2022-11-24 15:16] icbaker commented on #10802
If you're asking about subtitles configured within a standard streaming protocol (e.g. DASH / HLS) (it's unclear from the minimal information provided so far) then your question is probably better targeted at the authors/maintainers of that spec - since any way to update the stream during playback will be defined in that spec, it wouldn't make sense for ExoPlayer to implement a custom solution for

[2022-11-24 15:27] chladto1 commented on #9230
We are getting `Error 0xffffec77` too. Samsung Galaxy J4 with Android 9.

[error.txt](https://github.com/google/ExoPlayer/files/10085760/error.txt)

[2022-11-24 16:36] OxygenCobalt commented on #10516
@tartalex2000 If `enableFloatOutput` is true, you *cannot* add audio processors. It will always play HD audio.

[2022-11-24 16:59] christosts commented on #10540
I just ran the script on 2.18.2 which worked fine. Is this is an issue?

[2022-11-24 17:01] menscikov commented on #10808
Hello,

I've sent bugreport few minutes ago.
I've used clean ExoPlayer demo version on my phone.

I've changed `initializePlayer()` inside `PlayerActivity` class, because it's trying to use `DefaultExtractorsFactory` for this video, but it's a HLS video.
[code]

[2022-11-24 17:10] christosts commented on #10629
I believe this is overlapping with #9933 and should be fixed in 2.18.2. Let me know if the issue still persists for you.

[2022-11-24 17:10] #10629 closed, assigned to christosts

[2022-11-24 17:12] christosts commented on #10636
Is the video you are trying to play at UHD resolution? Can you share the video here?

[2022-11-24 17:21] christosts commented on #10808
thanks for the bug report, will take a look. Meanwhile,

on the json, just add `"extension": "m3u8"` to tell the demo app it's an HLS playlist. Or, use `mpd` for DASH.

[2022-11-24 17:42] menscikov commented on #10808
I've added extension `"extension": "m3u8"` and video is working now on Android 12!

But it's not working with:
[code]

So it looks like that something is broken when i manually select `Factory` or maybe setting `setMediaSource()`.
I don't use `setMediaItems()` in my app.

Despite the fact that the video is working, it plays very slowly, as if the FPS is very low.
In version 2.18.1, the video plays

[2022-11-24 18:00] menscikov commented on #10808
**I've added extension `"extension": "m3u8"` and video is working now on Android 12!**

But it's not working with this code. Something is broken in the new version here:
[code]

It looks like that something is broken when i manually select `Factory` or maybe setting `setMediaSource()`.
I don't use `setMediaItems()` in my app. I use `setMediaSource()` and i always select `Factory` for each video ma

[2022-11-24 18:45] svyatoslavpavlov opened #10813 "HLS m3u8 still loads after seekToPrevious/seekToNext"
### ExoPlayer Version

2.18.2

### Devices that reproduce the issue

Samsung Galaxy s10e / Android 12

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Not tested

### Reproduction steps

1. We have playlist of hls stations
2. Play first
3. Call seekToPrevious/seekToNext
4. Check network calls

### Expected result

After switching to next radio we shou