[2022-08-16 07:29] hussein-yassine commented on #10285
Hello I'm facing the same isse on Samsung A01 Core, and WiWo Extreme

Stacktrace:

com.google.android.exoplayer2.video.MediaCodecVideoDecoderException
Decoder failed: c2.android.avc.decoder
com.google.android.exoplayer2.video.MediaCodecVideoRenderer.createDecoderException (MediaCodecVideoRenderer.java:1410)
com.google.android.exoplayer2.mediacodec.MediaCodecRenderer.render (MediaCodecRenderer.java

[2022-08-16 07:30] hussein-yassine commented on #9230
Hello I'm facing the same isse on Samsung A01 Core, and WiWo Extreme

Stacktrace:

com.google.android.exoplayer2.video.MediaCodecVideoDecoderException
Decoder failed: c2.android.avc.decoder
com.google.android.exoplayer2.video.MediaCodecVideoRenderer.createDecoderException (MediaCodecVideoRenderer.java:1410)
com.google.android.exoplayer2.mediacodec.MediaCodecRenderer.render (MediaCodecRenderer.java

[2022-08-16 07:38] icbaker commented on #9361
Feedback from the internal bug: Device rotation is not supported on Android TV (there's no UI controls for it). So I'm closing this as intended behaviour.

[2022-08-16 07:38] #9361 closed, assigned to andrewlewis

[2022-08-16 08:07] #10492 closed

[2022-08-16 09:02] suraneau commented on #3752
Hi @tonihei, i would like to get in touch with you regarding CLA. We do have a signed CLA from a previous/older project with Google/non ExoPlayer and would like to check if this can be used for this project. How can i contact you?

[2022-08-16 09:24] adamheinrich-oke commented on #10519
I edited the question. I do not own any of these devices so emulator was used for reproduction purposes. We never had any issues with playing drm protected content on emulator as well. Before the edit I attached logs from emulated device with  UnsupportedSchemeException/UnsupportedDrmException thrown.

[2022-08-16 09:24] andrewlewis commented on #10525
`TransformationRequest.experimental_setEnableHdrEditing` is an experimental feature and isn't supported on most devices. For the case you describe it definitely won't be supported because it requires Android 13.

[2022-08-16 09:25] #10525 closed, assigned to andrewlewis

[2022-08-16 10:15] PeOS-China opened #10526 "Use ExoPlay to play a web video URL and open the camera at the same time, the player fails to play"
### ExoPlayer Version

2.15.1

### Devices that reproduce the issue

Android9 SDK28 device

### Devices that do not reproduce the issue

Android9 SDK28 device

### Reproducible in the demo app?

No

### Reproduction steps

1、Open Camera
2、play video by exoplayer

### Expected result

Playback failed,
player code：
`
        val mediaSourceFactory: MediaSourceFactory = DefaultMediaSourceFactory(cont

[2022-08-16 10:20] rohitjoins commented on #10521
@Kunalrsk5 You need to encode the URI to the media. Encoding it will escape any special characters like $ in the name of the media file.

[2022-08-16 10:32] InfinityLoop1308 commented on #10402
Hi,
I know it is a torture to debug with such long codes. To process it, I would like to debug myself and provide you the result, and you can just tell me how to do it.
Best regards.

[2022-08-16 10:43] codingct commented on #10021
Same problem on Samsung Note10 (Android 12), and it was solved by @icbaker solution. Thanks.

[2022-08-16 11:10] jruesga commented on #10124
Thank you for your reply @rrfrias

I've send a new WV license (valid for 28 days) to the mailing list.

Yes, it is ok to share the bugreports with Qualcomm.

<br/>
Please, let me know if you received the license or if you any more information.

[2022-08-16 11:16] NaveenMobileProgramming opened #10527 "Dpad issue -"
I have a Question.
if I press any button from the tv remote, the controller is visible.
I want to make the functionality like
if the controller is not visible and the user clicks the KEYCODE_DPAD_UP then should change/next the channel or movie instead of showing the control.

On the other way,
I want to handle all the Dpad events itself,
so how to disable the dispatch event of StyledPlayerView ?

[2022-08-16 12:25] nagarrorohit opened #10528 "Disabled forward seeking but should enable previous seek"
Hi
I am facing some problem in exoplayer when I upgrade exoplayer dependency so basically while upgrading I see that **ControlDispatcher** and **DefaultControlDispatcher** have been removed from library and It's also mentioned that we should use Forwarding player for the same but I am not able to achieve proper result. I want to disable forward seek and enable previous seek.
This question has also

[2022-08-16 13:31] kshailes opened #10529 "is there any difference between addMediasource and setMediasource method as in case of setMediaSource method we always need to call player.prepare method? will it affect start time of video?"

[2022-08-16 17:39] vanniktech commented on #10172
Also interested in this. Can't we somehow use `SimpleBitmapLoader` from `androidx.media3.session`?

[2022-08-16 17:53] DinhLap96 commented on #10527
At Activity override :

    override fun onKeyDown(keyCode: Int, event: KeyEvent?): Boolean {

        when(keyCode) {
            KeyEvent.KEYCODE_DPAD_UP -> nextChannel()
            KeyEvent.KEYCODE_DPAD_DOWN -> previousChannel()
            KeyEvent.KEYCODE_DPAD_CENTER -> showHiddenController()
            KeyEvent.KEYCODE_0 -> setOptionChannel("0")
            KeyEvent.KEYCODE_1 -> setOptionC

[2022-08-16 18:43] rohitjoins commented on #10521
Hi! Please provide complete information as requested in the question template. The template can be
found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/question.md).

Unfortunately we can't answer unclear questions or those with insufficient information.

[2022-08-16 18:43] #10521 closed, assigned to rohitjoins

[2022-08-16 19:46] alaegin commented on #10480
@DonnyRozendal Hello! Have you succeeded in solution finding?

[2022-08-16 22:47] cncb-gh commented on #6225
Any progress here?

[2022-08-16 23:37] javierjim opened #10530 "Corrupt rendering when seeking to end segment and back on some streaming media"
### ExoPlayer Version

2.15.1

### Devices that reproduce the issue

Pixel 6 Pro
Samsung Galaxy s10
LG G5

### Devices that do not reproduce the issue

Android Emulator (macOS)

### Reproducible in the demo app?

Yes

### Reproduction steps

1. Update the ExoPlayer demo app with the media URL under Media section
2. Play the media
3. Seek using the scrubbing bar to the end, and back to 1-2 seconds

[2022-08-17 05:56] kshailes commented on #9553
@tonihei how can I check the error becoming more than max buffer size ? basically, how to calculate (or get) the error between calculated position of chunk and actual media timestamps ?

[2022-08-17 07:48] tonihei commented on #9553
There is no easy way to access this information from the outside of the player I believe.

[2022-08-17 08:29] harismexis commented on #10488
The HSS streams hss-linear-24 & hss-linear-477 are expected to output metadata, sorry for not clarifying this.
I include the manifests and some logs in the zips.

Also this is a url of another hss linear stream with metadata:
http://hd-hsslive-nowtv-pcdn2.skycdn.it/21519/FHD/tg24.isml/Manifest
I was told that the id3 is in the sub_qpc and also I attach the id3 file for this channel
https://user-im

[2022-08-17 08:49] dawidwisniewski19992 opened #10531 "Wrong audio length"
Hi, I've implemented my own BaseDataSource implementation but I have some troubles with the total length displayed on the audio. I have some long audios in my app (over 1h) and when I'm playing it the total length of the audio is changing for example when I go to the next audio and get back. Is there any possibility to disable it and display the proper length from the beginning? I'm guessing that

[2022-08-17 10:57] BucherTomas commented on #10513
I understand the challenge, but you are not always able to replicate the same conditions being reported (issue on a specific device that you do not have in your labs, etc.] and that is why I believed you ask for adb bugreport to get a closer insight as to what happened. Didn't it prove useful in this case?

I can share via email with you apk of internal app we test new features with that can repro

[2022-08-17 12:21] EkaterinaT89 opened #10532 "Do not get a preview, prepare and play do not work properly. Cautch exceptopns until press a play button"
### ExoPlayer Version

2.18.1

### Devices that reproduce the issue

Pisel 3 running Android 9 - emulyator

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Not tested

### Reproduction steps

1. Open camera by cameraX
2. Record some video
3. Play stop button
4. Open videopreviewfragment
5. Init player

### Expected result

We do can see preview of our

[2022-08-17 12:44] rohitjoins commented on #10528
@nagarrorohit You can achieve the same result using `ForwardingPlayer` by wrapping your player instance inside it and overriding `seekTo()` method as shown below:

[code]
You should also take care of other `seekTo()` operations in the `Player` interface.

[2022-08-17 12:44] #10528 closed, assigned to rohitjoins

[2022-08-17 16:56] XIZZW opened #10533 "Do not Deprecate Player.Listener.onPlayerStateChanged()"
### [REQUIRED] Use case description

I need to listen for a state where the video is playing. The only way to do that right now is using `Player.Listener.onPlayerStateChanged()`.

[code]

However, this method is marked as deprecated. `onPlaybackStateChanged(int)` and `onPlayWhenReadyChanged(boolean, int)` are being recommended. However, none of them provides the state that the video is actually pl

[2022-08-17 17:21] javierjim commented on #10530
@rohitjoins, It seems the link has expired. I will reply with instructions on how to get a new one through email.

[2022-08-17 17:36] rohitjoins commented on #10533
@GC-Xi You can use either of the options below to know if the video is playing:

1.  `onEvents(Player player, Events events)` callback which has a reference to player and check
[code]
2. `Player.isPlaying()` which returns whether the player is playing.

[2022-08-17 17:36] #10533 closed, assigned to rohitjoins

[2022-08-17 18:36] rohitjoins commented on #10529
@kshailes Based on the documentation for these methods:

- `setMediaSource` : Clears the playlist and adds the specified MediaSource
- `addMediaSource` : Adds a media source to the end of the playlist.

So that is basically the difference between these methods. Both these methods have multiple overridden methods to reset position or start playing from a particular index in the playlist.

`player.p

[2022-08-17 18:36] #10529 closed, assigned to rohitjoins

[2022-08-17 19:39] kshailes commented on #10529
thanks @rohitjoins

[2022-08-18 06:28] lsgfly opened #10535 "It will be stuck, When playing video https://v4.cdtlas.com/20220518/kkY4bcNJ/index.m3u8"
### ExoPlayer Version

2.17.1

### Devices that reproduce the issue

Pixel 3  in Android 12.
vivo iqoo NEO in Android  11.

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Yes

### Reproduction steps

1. in DefaultLoadControl, set   minBufferMs = 5000, maxBufferMs = 10000
2. play the video   https://v4.cdtlas.com/20220518/kkY4bcNJ/index.m3u8
3.It will

[2022-08-18 07:28] nagarrorohit commented on #10528
Thanks @rohitjoins. It's working.

[2022-08-18 10:22] XIZZW commented on #10533
@rohitjoins That worked. Thanks!

[2022-08-18 13:38] rohitjoins commented on #10530
@javierjim I can confirm that this issue is reproducible with the media URL provided via email. Although this doesn't happen for the HLS videos we have in our demo player. Also reproducible in ExoPlayer version 2.18.1.

@christosts Can you please take a look.

[2022-08-18 14:04] rohitjoins commented on #10535
@lsgfly Unable to access the media via the URL provided above. Getting this error:
[code]

[2022-08-18 15:17] rohitjoins commented on #10393
@akrulec I tried reproducing this issue in the same way you did i.e. turn off the network on the device, try to play a video from internet and then turn on the network to see if the video plays. In my case it did play once the network was turned on based on the configuration I set for retrying.
[code]

Please provide complete information as requested in the question template. The template can be
f

[2022-08-18 18:00] rohitjoins commented on #10397
@onikaii `PlayerView` has only function named `setControllerVisibilityListener` whereas `StyledPlayerView` has two such functions(out of which one is deprecated in favour of another). Based on the error I think compiler cannot uniquely identify which of these two functions to use. You can try extracting a variable and explicitly specify its type as explained [here](https://stackoverflow.com/questi

[2022-08-18 18:00] #10397 closed, assigned to rohitjoins

[2022-08-18 21:36] haydenkaizeta opened #10536 "Garbled Slow Audio"
### ExoPlayer Version

2.17.1

### Devices that reproduce the issue

- Pixel 6 running Android 12
- Pixel 4 XL running Android 12

### Devices that do not reproduce the issue

None

### Reproducible in the demo app?

Yes

### Reproduction steps

1. Play attached media in the demo app
2. Slow to 0.5x

### Expected result

1. Audio quality matches other available players, such as youtube, or Elmedia

[2022-08-18 21:37] haydenkaizeta commented on #10536
Github does not allow mp3 uploads and I have not yet tried to reproduce after transforming the file. The above url will work for a short time or I can share the mp3 through another method

[2022-08-18 22:56] PaulCombal opened #10537 "Support for media served over partial content (HTTP 206)"
### Use case description

I want to serve my content over HTTP 206 partial content. Because the audio content I want to stream can be fairly long (audio books, hour long music sets..), it is impractical to serve the content over HTTP 200 since it means the client needs to download the whole file contents before playing (high data usage, not the best performance-wise).
It would be a great feature t

[2022-08-18 23:18] marcbaechinger commented on #10418
This has been [fixed in R8](https://r8.googlesource.com/r8/+/92e9516cbe1aed9698d8f02075a2ad4f7b8199ae) and is contained in R8 3.3.75.

Using the Android Gradle Plugin `7.2.2` fixed the problem for me with Android Studio Dolphin, and Android Gradle Plugin `7.4.0-alpha09` with Android Studio Electric Eel | 2022.1.1 Canary 9.

Can you please verify and re-open the issue if you are still having proble

[2022-08-18 23:18] #10418 closed, assigned to marcbaechinger

[2022-08-19 02:41] lsgfly commented on #10535
I find the reason.
The duration of TS is smaller than the value of EXTINF.

The player getBufferedPositionUs from the  lastCompletedMediaChunk.endTimeUs.
So the buffereredPositionUs is bigger than the real time that the player can play.
The data will no longer be loaded ， when buffereredPositionUs - rendererPositionUs > 10 * 1000 *1000.
So can we calcaulate bufferedPositionUs only by
bufferedPosit

[2022-08-19 08:56] icbaker commented on #10537
ExoPlayer's 3 HTTP `DataSource` implementations (`DefaultHttpDataSource`, `CronetDataSource` and `OkHttpDataSource`) all support making range requests and handling 206 and 416 HTTP response codes.

Please provide more information about what further enhancement you're proposing here.

[2022-08-19 09:05] moneytoo commented on #10536
Github will accept that mp3 if you put it in a zip archive. ;-)

[2022-08-19 09:34] icbaker commented on #10391
I could be misunderstanding, but there seems to be an implicit assumption here that when an app rotates into landscape the video will **always** be made fullscreen. I don't think that's a reasonable assumption in the general case.

I understand that **some** apps will have this behaviour. More generally, it seems reasonable that an app will want to enter fullscreen mode without the user hitting th

[2022-08-19 09:45] icbaker commented on #10531
There isn't enough information here to help you.

Can you reproduce the problem without using your `DataSource` implementation? That would help narrow down the potential cause of the error. It's also unclear to me why you seem to have partially re-implemented `FileDataSource` - it looks like you could instead have implemented this as a [`ResolvingDataSource`](https://exoplayer.dev/doc/reference/co

[2022-08-19 11:46] a-sarollahi opened #10538 "Unresolved reference: addTextOutput"
I am updating Exoplayer from 2.15.0 to 2.18.1.

I used `addTextOutput { playerSubtitleView.onCues(it) }` to show the subtitl, but know in the new version I get error `Unresolved reference: addTextOutput`

I also tried to create a class that implements TextRendere.Output and set it to the player with a listener but I can’t get access to the output function in that class.

I appreciate it if you hel

[2022-08-19 13:17] sebastiangansca commented on #9823
It is also happening for us on 2.18.1 when player is running and we but an Android box to standby and we stop & release Exo.

[2022-08-19 13:26] #10538 closed, assigned to nobody

[2022-08-19 14:30] PaulCombal commented on #10537
If I'm not mistaken, in the following example:

[code]

if the `videoURI` is an address that returns partial content, this example will not work. I thought this would be a neat feature to have a default behavior in this situation.

I know there are lots of ways to customize Exoplayer, only many packages use it as a "backend", and do not offer the same customization capabilities.

[2022-08-19 14:55] rohitjoins commented on #10536
[lit.mp3.zip](https://github.com/google/ExoPlayer/files/9383090/lit.mp3.zip)
Attached mp3 audio file.

[2022-08-19 17:11] icbaker commented on #10537
I would expect that to work without any customization - would you be able to provide a link to some content where it doesn't work, so we can investigate what's going on?

[2022-08-19 20:15] cogier opened #10539 "Bug with video playback in Android API 33"
I'm using ExoPlayer inside of a Flutter app. When I run my app on a device with the latest Android API (33 at this time) I'm having an issue with the video playback. The first time I navigate to a view and stream a video, it works correctly for ~30sec, then the video zooms in to display just the top left corner.
This problem is NOT present just one version back in Android API 32. Is there an impor

[2022-08-19 21:03] PaulCombal commented on #10537
I made a Proof Of Concept repository with React Native here: https://github.com/PaulCombal/react-native-test-exoplayer

It is essentially trying to play audio from this URL: https://youtubue-server.fly.dev/test

You can add any extension to "test" if desired, even though content-type is included in the response header. By the way, Chrome can't play the content out of the box but Firefox can, it's

[2022-08-19 21:32] samfundev commented on #10391
I agree that the video will not **always** be fullscreen, but that I'm assuming this is a common use case. So this would be a feature developers would opt into.

Yes, that would.

[2022-08-21 22:05] VuzzyM commented on #4066
???

[2022-08-22 01:04] #8961 closed, assigned to tonihei

[2022-08-22 01:09] ChenglongMa commented on #4066
Hi @Waleedasim, may I know why I got a thumbs down? Thanks.

[2022-08-22 02:19] NaveenDevrani opened #10540 "FFmpeg complie issue"
I try to add an FFMPEG extension to my project. rest of all extensions I have successfully added with your all instructions.
but I am facing issues with the FFMPEG extension.

I follow your instructions

1) cd "<path to project checkout>"
FFMPEG_MODULE_PATH="$(pwd)/extensions/ffmpeg/src/main"

2) NDK_PATH="<path to Android NDK>"

3) HOST_PLATFORM="darwin-x86_64"
4) cd "<preferred location for ffmp

[2022-08-22 10:50] claincly commented on #10067
Hey Luiz - could you try streaming an H264 video with the HIK server?

Or maybe share your test stream? if you're unable to share it publicly, please send them to dev.exoplayer@gmail.com using a subject in the format "Issue #10067". Please also update this issue to indicate you've done this.

[2022-08-22 11:05] marcbaechinger commented on #10539
Difficult to tell with the information available. I actually do not think this is related to ExoPlayer as it can't be reproduced ion the demo app. According to your report it also doesn't seem to be a media related problem, as it happens with different streams. We haven't heard similar reports from users with API 33 devices.

So, I would actually look into what event is causing a change after 30 s

[2022-08-22 11:36] ferhatparmak opened #10541 "RequirementsWatcher is not stopped when DownloadManager is released"
When `DownloadManager.release()` is called, it doesn't seem stopping `RequirementsWatcher` which keeps some receivers registered and that would hold `DownloadManager` instance.
Isn't this a memory leak?

Memory profiler after `release()` is called on `DownloadManager`:
![Screenshot 2022-08-22 at 14 02 20](https://user-images.githubusercontent.com/6843349/185916682-5251b7f0-c741-4821-8463-568f7219f

[2022-08-22 12:01] Lilsax opened #10542 "Is there a way to read some tags values in dash manifest?"
is there anyone in Exo player to read the below data images ?
thank you
![image](https://user-images.githubusercontent.com/70263901/185916386-d9949bb5-fcd6-478e-82c2-ca391b0b9738.png)

[2022-08-22 14:57] marcbaechinger commented on #10542
ExoPlayer is parsing the `SegmentTimeline` element and makes it part of the `DashManifest` (see [`DashManifestParser`](https://github.com/google/ExoPlayer/blob/release-v2/library/dash/src/main/java/com/google/android/exoplayer2/source/dash/manifest/DashManifestParser.java#L1246)).

After the DASH stream is prepared, you can find a field `Window.manifest` in the window of the given DASH stream whic

[2022-08-22 15:15] marcbaechinger commented on #10532
The exception is originated by the `open` method of the `FileDataSource` that [reports that the remaining bytes to read is smaller than 0](https://github.com/google/ExoPlayer/blob/release-v2/library/datasource/src/main/java/com/google/android/exoplayer2/upstream/FileDataSource.java#L121).

The report says, that this is happening on an emulator. To be honest, I don't know what CamaraX is recording

[2022-08-22 15:41] marcbaechinger commented on #10541
Thanks for reporting! This looks like a bug to me indeed!

`DownloadManager.release()` documents that the `manager must not be accessed after this method has been called`. Hence we must make sure that `release` cleans up the resources once acquired which includes the `RequirementsWatcher` that is created in the constructor (or on `setRequirements(Requirements requirements)` being called).

I think

[2022-08-22 15:52] marcbaechinger commented on #10509
To answer the question in short: do not setup the cache in case of a live stream.

ExoPlayer doesn't support downloading live streams. Because of this you have to make sure that you are not using a `CacheDataSource` with a live stream. Without this, the behaviour is kind of undefined which may result in the behaviour that you report above.

I can't give you a really useful advise I'm afraid. I thi

[2022-08-22 18:02] mpivchev opened #10543 "Intercepting notification events"
I would like to intercept the notification events, so I can implement custom functionality when they are fired. Currently, they are being handled in this `NotificationBroadcastReceiver`:

[code]

Sadly, I can't replace the receiver with my own, since it's private:

`  private final NotificationBroadcastReceiver notificationBroadcastReceiver;`

I was thinking of maybe overriding `getActions` and `g

[2022-08-22 20:56] mattrob33 opened #10544 "`Player.Listener.onEvents` not called when crossing track boundaries"
I am constructing an `.m3u8` playlist of mp3 files server-side to be played by my ExoPlayer client. The below code plays my `.m3u8` file successfully, however, I also need to know when the player crosses from one mp3 to the next, and I am not seeing _any_ events in my `Player.Listener`, even in `onEvents()`.

This is my Kotlin code

[code]

and my .m3u8 file
[code]

Shouldn't I be seeing events in

[2022-08-22 22:12] marcbaechinger commented on #10543
You can use a `ForwardingPlayer` to intercept the method calls done in `onReceive`. Issue #10212 has some more detail. Please let me know if this helps for your use case.

[2022-08-22 22:26] marcbaechinger commented on #10544
Yes, this is working as intended.

Such a `m3u8` playlist makes each of the MP3 file a segment of the HLS stream that is created with it. There are no events that are emitted because these segments are wrapped by a single period.

You can add each of these MP3 as a single progressive media item. In this case you get an event `onMediaItemTransition` that tells you when the playback transitions from

[2022-08-23 03:27] wonkyoungChoi opened #10545 "what happened when exoplayer cache is larger than device storage?"
I used cache in my project.

I want to know what happened when exoplayer cache is bigger than device storage.

ex) device remain storage = 1GB && exoplayer makes 2GB of cache

if it happens, exoplayer delete before cache? or don't make cache?

[2022-08-23 08:30] maven-y opened #10546 "Continous frame drops"
### ExoPlayer Version

2.18.1

### Devices that reproduce the issue

OnePlus 8 android 12 Oxygen OS 10.5.10.IN21DA
realme narzo 50 5G -  Build number RMX3571_11_A.06

### Devices that do not reproduce the issue

Don't find any device which is playing this url URL

### Reproducible in the demo app?

Yes

### Reproduction steps

Just use the below stream url and play

### Expected result

Media Play

[2022-08-23 09:04] sebastiangansca commented on #10327
Hi, we also have a request from our customer to set a different user-agent for ima request, maybe you can raise the priority for this.
Thanks!

[2022-08-23 09:16] Andre-JFerreira commented on #10505
Any update on this?

The captions are in DirecTV format. Does this info help in any case?

Thanks

[2022-08-23 10:44] icbaker commented on #10327
@sebastiangansca I think this isn't possible for IMA in general (and therefore not relevant for this issue), because IMA requests are made by the IMA SDK, not ExoPlayer directly, see https://github.com/google/ExoPlayer/issues/9925#issuecomment-1028995796.

[2022-08-23 10:50] sebastiangansca commented on #10327
ok!

[2022-08-23 10:53] icbaker commented on #10327
Ah I misread the issue title and didn't realise it was already specific to IMA, sorry for my slightly confusing reply! I thought this was https://github.com/google/ExoPlayer/issues/6166 (more general support for customising the request headers of a `MediaItem`). I'll hide this comment and the one above as off-topic.

[2022-08-23 11:01] lukaszreszetow commented on #8473
Same issue on Android 11.

This does not work if you need to store more than a single controller in the app (for buffering next videos etc.)

[2022-08-23 13:25] #10544 closed, assigned to marcbaechinger

[2022-08-23 13:26] tgpsantos commented on #8473
Exactly. And this is a common use case, for instance:
- page view of several videos
- video feed

[2022-08-23 15:28] 1mean opened #10547 "Recreating player instance when transitioning from one activity to another"
from one activity to another activity. Whether I need to create a new Exoplayer
[code]
If I switch activities frequently. I need stop the video and release Exoplayer. then create a new ExoPlayer in new Activity.
in my app. I can't use multiple fragments to share one ExoPlayer. so I have to create new ExoPlayer all the time.
Am I doing the right thing with the Exoplayer?
Thank you very much！！！

[2022-08-23 20:37] chladto1 opened #10550 "Stuck Surface"
We have player in embedded (player in layout with details) and fullscreen mode. Embedded and fullscreen mode are two `Activity`. When a user tap on fullscreen button, `ViewGroup` that contains controls and `SurfaceView`, `GLSurfaceView` or `TextureView` is removed from "embedded" `Activity` and added into "fullscreen" `Activity` that is started. This method works on all Androids from 5 to 11 and 1

[2022-08-23 21:33] marcbaechinger commented on #10547
Yes, the scenario you are describing is generally the recommended way. When an activity is paused/stopped, the player should release all resources. You are good citizen on your user's device. :)

I would think that creating a new media source and downloading media for playback is the most time-consuming part. Once class-loading is done, creating a new player instance is comparably cheap and render

[2022-08-23 21:42] cogier commented on #10539
I tested this on an actual Android device and wasn't able to reproduce the issue. It appears that this my just be an issue with my emulator. Still not sure what's causing it.

[2022-08-23 21:43] #10539 closed, assigned to marcbaechinger

[2022-08-24 07:21] 1mean commented on #10547
Thank you very much @marcbaechinger

[2022-08-24 08:10] Lilsax commented on #10542
@marcbaechinger  another question is there a way to get the manifest in string format ??? thank you
because i had a solution where i can get the manifest in string and extract the values i want from that value

[2022-08-24 09:22] #10547 closed, assigned to marcbaechinger

[2022-08-24 10:01] m-scheepers commented on #10519
@icbaker to clarify this further, the HD profile is Widevine L1. For devices which do not support Widevine L1 I would expect the client plays the L3 renditions which are available within the manifest.

[2022-08-24 10:20] icbaker commented on #10519
ExoPlayer currently does not check key status before adapting to a rendition, this is tracked by https://github.com/google/ExoPlayer/issues/4825.

The current recommendation is to ensure on your side that you don't try and play an unplayable stream: https://github.com/google/ExoPlayer/issues/4825#issuecomment-422116376

It sounds like this should probably be closed as a duplicate of https://github

[2022-08-24 10:22] BucherTomas commented on #10162
We have started gathering some logs from end-users based on the provided instructions in https://github.com/google/ExoPlayer/issues/10162#issuecomment-1127218050 but it does not appear to provide anything meaningful. It simply returns the bundle size as in `"PersistableBundle[mParcelledData.dataSize=18828]"`.

When consulting with our devs, they think that @rrfrias may have meant to get the result

[2022-08-24 11:30] marcbaechinger commented on #10542
ExoPlayer does not download the manifest as a string but parses it with an pull parser and translates it directly into the `DashManifest` structure. You can create your `DashMediaSource` by using the `DashMediaSource.Factory` and then use `setManifestParser` to set a custom parser. Most of the methods of the `DashManifestParser` are protected so you can override and intercept them.

I don't know y

[2022-08-24 11:35] Lilsax commented on #10542
im just trying to get those values i mentioned in the images above
i tried everything and nothing worked

so im just thinking of reading the manifest as string and extract those values using regular expression

[2022-08-24 11:45] marcbaechinger commented on #10542
I can't help you any further with this I'm afraid. I don't think that regex is an easy way to parse the values out of an XML file specifically with multiple adaption sets as in this case, but my regex skills are limited indeed.

If the `DashManifest` or `DashManifestParser` isn't of any help for you then you need to download the manifest yourself to get a string I think.

I'm leaving this issue op

[2022-08-24 11:48] Lilsax commented on #10542
Alright lemme tell you what im  trying to do maybe u can come up wth better soluation

so basically im working on SSAI project and for the dashed live stream the there is no current Time value so what im doing im calculating it by getting the period start time and adding second to it every second
so im calculating the start time of the period by using this equation
`PeriodStartTime + (T start valu

[2022-08-24 17:14] GouravSna opened #10552 "Subtitle default position is changed in ExoPlayer v2.17.1 as compare to v2.11.4"
I am seeing one inconsistency in the subtitle positioning. In v2.11.4, I can see there is padding in the subtitle placement on the screen.

<img src="https://user-images.githubusercontent.com/38206744/186480030-f6dff7a9-18e9-4706-b797-c429b0013ecc.png" width="200" height="400" />

But in v2.17.1, you can check the subtitle placement does not have any bottom padding.
<img src="https://user-images.g

[2022-08-24 17:24] icbaker commented on #10552
Is this WebVTT subtitles? If so, this is likely a duplicate of #7934. See https://github.com/google/ExoPlayer/issues/7934#issuecomment-694063859 for more details.

[2022-08-25 08:08] felixyangtw opened #10553 "How to keep playing live in low latency hls?"
Hi:
   I use Exoplayer 2.18.1's demo app to test low latency hls live stream. I met a problem. Normally, it always play the latest segment and the latency is short. However, the latency will
increase in some situations. I don't understand what happend?(for example: networks problems and the video freeze temporarily and continue later). I need to use seek bar to seek to the last position to keep pl

[2022-08-25 08:56] pineapplevine opened #10554 "An error occur at the end of H.265 video playback"
Hello,
I have a problem playing H.265 video.
When playing content converted from H264 to H265 using ffmpeg, throws an exception at the end of playback.

I'm guessing it's a codec issue, but I don't know what's wrong.
Could you tell me know, if you know why the error occurs in that H.265 video？

**ExoPlayer Version**
2.18.1

**FFmpeg Version**
n5.2-dev

**Devices that reproduce the issue**
I confir

[2022-08-25 10:28] sixones commented on #10333
@marcbaechinger This is very much an ExoPlayer issue rather than an app issue, ExoPlayer subscribes to the events from the `SurfaceHolder` inside of `ExoPlayerImpl` and the `SurfaceHolder` subscribes to the `SurfaceView`, the events that are triggered from the `SurfaceView` / `SurfaceHolder` are always on the main thread (as it's an Android view). If ExoPlayer is running on a different thread / lo

[2022-08-25 13:27] #10552 closed, assigned to icbaker

[2022-08-25 13:27] GouravSna commented on #10552
thanks @icbaker

[2022-08-25 13:32] benderzgreat commented on #10147
After troubleshooting the issue with AWS MediaTailor engineering we were able to figure out the cause of the issue was that the manifests and segments coming from the ADS did not have the PDT included.

* message from AWS follows for anyone with the same issue

[2022-08-25 13:34] #10147 closed, assigned to christosts

[2022-08-25 14:02] XIZZW opened #10555 "HLS Trick-Play downloaded in demo doesn't play"
Hi, I am learning HLS Trick Play. I am able to see trick play under the following demo

- branch: `release v2`
- Demo example: Apple multivariant playlist advanced (TS)
- Track: `Video: 480 x 270, 0.04 Mbps`, `Audio: None`, `Text: None`

I am able to see trick play. However, it take 1-2 seconds for the frame to load after I click fast forward or backward, which isn't very smooth.

The next thing I

[2022-08-25 15:15] Xlcghs opened #10556 "TTML subtitles not disappeared even if there is no audio"
Hello

I have a problem with the TTML subtitles (Png image) with the version of Exo 2.17.
The subtitles are m4s segments with a duration between 2s and 4s presented in the manifest as follows:

[code]

In fact, the subtitle remains displayed even if there is no audio in the video (Exceeds the segment duration > 4s).
I have the impression that as long as there is a subtitle that follows, it replace

[2022-08-25 23:36] halizton commented on #10057
Which release contains this fix, @tonihei ?

[2022-08-26 08:01] andrewlewis commented on #10057
[Edited to correct my previous reply as only part of this made it into 2.18.1, thanks to @icbaker for the heads up]

It's unreleased and will most likely go into 2.19.0 (as not all the referenced commits are marked for inclusion in a minor release).

[2022-08-26 08:54] DonnyRozendal commented on #10480
No still haven't found a solution...

[2022-08-26 09:43] changxiangzhong commented on #9823
@sebastiangansca, can you be more specific? Are you implying that we should top it before **release it**?

[2022-08-26 10:35] StephenVinouze opened #10557 "Cast a MediaSource instead of a MediaItem"
I'm looking into casting functionality and after looking into samples and the `CastPlayer` code source, it seems the cast player only allows media items as an entry point. My local player plays a `MediaSource` that merges two `MediaItem`s (video mp4 and audio mp3). Is there a way to stream such a source with the cast player? Or I am limited to stream either one of them (video or audio)? Or maybe a

[2022-08-26 16:35] bdezso opened #10558 "Almost frame accurate pause (HLS Stream)"
Is there any **frame accurate** pause solution for **HLS** streamed video?

Our use case is stop a video at a specific position.
Currently we're using PlayerMessage, but it's not as accurate as our requirements.

Same happen on the iOS side with AVPlayer:
https://stackoverflow.com/questions/73500374/avplayer-currenttime-not-match-with-the-displayed-frame-after-many-seeking-hls

If we can't do this

[2022-08-26 16:41] icbaker commented on #10558
This looks like a duplicate of https://github.com/google/ExoPlayer/issues/5660.

[2022-08-26 16:41] #10558 closed, assigned to icbaker

[2022-08-26 16:52] bdezso commented on #5660
Is there any update? @ojw28 @tonihei

[2022-08-26 17:51] vishnu20037 opened #10559 "hide scrubber of seekbar in exoplayer"
how to hide scrubber of seekbar in exoplayer. I want to hide the scrubber after playing the video 3 seconds

[2022-08-26 19:15] AkshatTailang opened #10560 "ExoPlayer version 2.11.7 - class com.google.android.exoplayer2.upstream.cache.Cache$CacheException|Failed to list cache directory files"
### ExoPlayer Version

Older (unsupported)

### Devices that reproduce the issue

Xiaomi Mi A3 running on Android version 11

### Devices that do not reproduce the issue

Oneplus 7T running on Android 11

### Reproducible in the demo app?

No

### Reproduction steps

While downloading the song through Exo Player 2.11.7

### Expected result

The file gets downloaded.

### Actual result

The file do

[2022-08-27 06:34] xiaoluluxian opened #10561 "isEncodingLinearPcm return false for FireOS 5 device (AFTT)"
### ExoPlayer Version

2.13.3

### Devices that reproduce the issue

FireTV Tank FOS 5 device running Android API 22

### Devices that do not reproduce the issue

FireTV Mantis FOS 6 device running Android API 23

### Reproducible in the demo app?

Not tested

### Reproduction steps

Play the media in app causing the error below.
[code]
DefaultAudioSink.configure actually checking isEncodingLinear

[2022-08-27 17:48] irvine5k opened #10562 "How can I get the camera angle from SphericalGLSurfaceView?"
I'm trying to build a camera angle indicator for a 360º video, in other words, showing the direction a user is looking at when panning.

<img width="80" alt="image" src="https://user-images.githubusercontent.com/32758755/187041928-173aa598-1350-46e6-bf75-98c5bbc4220a.png">

In Swifty360Player for iOS, I have the [compassAngle], does ExoPlayer has something similar?(https://github.com/abdullahselek

[2022-08-27 17:53] irvine5k opened #10563 "Can I block vertical scroll on a 360º video?"
Can I block vertical scroll in a 360º video?

[2022-08-27 20:23] Ivan54321345 opened #10564 "PlayerNotificationListener onNotificationCancelled never called and notification not binding to foregroundService"
### ExoPlayer Version

2.18.1

### Devices that reproduce the issue

s22+

### Devices that do not reproduce the issue

-

### Reproducible in the demo app?

Not tested

### Reproduction steps

load one mp3
run app https://github.com/Ivan54321345/bug
swipe notification
bug

### Expected result

binding to foregroundService and
onNotificationCancelled called swipe notification or notification canno

[2022-08-28 19:41] OxygenCobalt commented on #10516
Okay, I've tried to start work on converting `AudioProcessor` to unify the audio processor chain @tonihei. This my current idea on how to convert `DefaultAudioSink` based on the code:

1. Unify `toIntPcmAvailableAudioProcessors` and `toFloatAvailableAudioProcessors` into a new array just called `availableAudioProcessors` that consists of the entire audio processor chain.
2. Convert the built-in au

[2022-08-29 03:53] SamirG commented on #10462
thanks @rrfrias , As you mentioned.issue seems to be with  license delivered.

[2022-08-29 03:53] #10462 closed, assigned to rrfrias

[2022-08-29 05:49] DinhLap96 opened #10566 "Play jerky video"
I am using v2.18.1

I'm still having issues with some laggy videos like the one at the link below :
https://drive.google.com/file/d/1HxVlcPIZXDNYjnA5Jp0VfvGWiq2VdhnO/view?usp=sharing
I don't know if there is a way to solve this problem.
I play videos on other apps without the same problem.

Can someone help me to solve it?

Code:

        val renderersFactory = DefaultRenderersFactory(activity.app

[2022-08-29 07:53] ogawa-ma opened #10567 "ExoPlaybackException occurs on some terminals"
■ Question
I'm publishing an app that uses ExoPlayer, but some users are experiencing errors and cannot play videos.
two weeks ago, we had logs that showed normal playback, but starting last week, the following error occurred and playback failed.
The playback method is Widevine DASH streaming playback.
[code]
Do you know the cause of the error?
Also, are you using the player correctly?
As a supple

[2022-08-29 12:41] deniscoman commented on #10538
What's the solution here? I saw "not planed" but what should we do?

[2022-08-29 12:46] a-sarollahi commented on #10538
Hi, I closed it as it was duplicated.

the solution is instead of using
`addTextOutput { playerSubtitleView.onCues(it) }`
we must use
[code]

[2022-08-29 12:46] deniscoman commented on #10538
Nvm, I found the answer here:
https://github.com/google/ExoPlayer/issues/9805

[2022-08-29 18:11] Shrihari1428 opened #10568 "Max brightness is not achieved in Sony Xperia 1 IV"
Hi All,

Currently I render the video frames using extensions(OpenGL to render the frames) with exoplayer. I have noticed that when playing videos natively the max brightness achieved is around 1000 nits. But when I render the frames using extensions I get only around 600 nits.  Any help is appreciated

Thanking you in prior!

[2022-08-30 08:26] jenlai1345 commented on #10439
Any update on this issue?

[2022-08-30 08:52] tonihei commented on #10439
As you pointed out, this is working as intended because usually ads are only meant to be played once within a specific content. Imagine you play your media item almost to the end and then seek back - would you also expect the ads to be played again?

I can see your use case though and there are some potential workarounds:
 1. Instead of looping, you could add the same item multiple times to the pl

[2022-08-30 09:37] icbaker commented on #10567
The screenshots indicate your app received an HTTP 400 response from the Widevine provisioning (not license) request. @rrfrias would you be able to take a look?

[2022-08-30 09:50] icbaker commented on #10561
`com.google.android.exoplayer2.audio.DefaultAudioSink.configure(DefaultAudioSink.java:525)` This line does not call `Assertions.checkArgument` in version 2.13.3 of this library:

https://github.com/google/ExoPlayer/blob/03263db378392385e290c40505d80e990c85a5cb/library/core/src/main/java/com/google/android/exoplayer2/audio/DefaultAudioSink.java#L525

The `isEncodingLinearPcm` check is on L511 in 2.

[2022-08-30 09:50] #10561 closed, assigned to icbaker

[2022-08-30 10:53] Artur512 opened #10569 "Video resize mode depends on video format"
Hello everyone,
I would ask you about possibility to dynamically change sizeMode StyledPlayerView depends on video orientation.  Is possible to get know that video is in landscape or portrait?

[code]

Zoom is icon to change resize mode, I want to show or hide it in depends on video orientation because zooming in landscape is useless.
This is how it looks like in RESIZE_MODE_FIT.
![Zrzut ekranu 20

[2022-08-30 16:00] #10363 closed, assigned to icbaker

[2022-08-30 16:01] #10038 closed, assigned to icbaker

[2022-08-30 16:03] icbaker commented on #8957
The `MediaItem.Builder` class structure has now been changed to make it harder/impossible to create 'impossible' configurations - because most required fields are now passed into the constructor of the relevant sub-builder. I don't think there's any additional work to do here.

[2022-08-30 16:03] #8957 closed, assigned to icbaker

[2022-08-31 02:23] truesA opened #10571 "Video gets stuck or skipped from first to next frame when playing Dash stream"
Hello everyone,
When I use Exoplayer 2.16.0 to play a static Dash stream, the first frame to the next frame is stuck, and the subsequent 2nd and 3rd frames are smooth.

The effect is that if someone passes by in the video screen, the person jumps to the next position like a flash, instead of moving smoothly, he only appears in the first 2 or 3 frames of the video. When I download and change the Da

[2022-08-31 03:41] Hiwensen opened #10572 "MediaCodecVideoRenderer when reuse player decoder"
Hi,
I was following this [blog](https://medium.com/google-exoplayer/improved-decoder-reuse-in-exoplayer-ef4c6d99591d), trying to reuse the decoder for the playback. Skip call ExoPlayer.release() after each playback, just call ExoPlayer.prepare() when playing a new title.
But I met an error when starting to play a new video(set a new video URL), didn't repro the error when playing the same video,
a

[2022-08-31 07:00] FongMi opened #10573 "Is there a way to bypass "Cannot find sync byte. Most likely not a Transport Stream" ?"
Exo Version 2.18.1

HlsMediaSource
https://cokemv.org/webm3u8/42f5bc39f2cc8c199d5e62e463b02d63/47457548784461637a352d2d6f3671443245336e35482533442d6b354f3177457059724d70366c344c2d713261576e36514c77364d766248333738/1661929022?name=1.m3u8

Error
![image](https://user-images.githubusercontent.com/3471963/187613772-31b59a4c-c6f9-497d-87b0-c796f6cf1780.png)

Other player can play this url, like ijk or

[2022-08-31 07:07] FongMi commented on #10523
Any news of a fix please?

[2022-08-31 10:07] marcbaechinger commented on #10557
I'm not aware that we can send something else than a single URI to the cast device (`RemoteMediaClient`) for playback. `MergingMediaSource` is a convenient feature of ExoPlayer but I don't think there is something like this available for a standard cast receiver application. This may (I'm totally not sure) be possible if you do your own receiver with a custom player like ShakaPlayer, but with `Rem

[2022-08-31 10:12] marcbaechinger commented on #10557
Adding another comment: You may be able to turn your merging media source into a DASH or HLS manifest/playlist that references video and audio streams. Then you can create a DASH or HLS media item and pass it to the cast player's playlist API.

[2022-08-31 10:30] marcbaechinger commented on #10564
This issue is not really actionable for us I'm afraid.

The behaviour of Android regarding the notification is for instance very much depending on the API level. In higher API levels dismissing the notification does not remove the notification and hence it does never call `onNotificaitionCancelled`.

It's also unclear to me why you expect and what it means to `bind the notitification to foreground

[2022-08-31 13:15] ahadEW commented on #5786
@drayan85 Not working, I implemented the same way you suggested.

[2022-08-31 13:16] ahadEW commented on #8669
Any update? I implemented the EnhancedItemConverter still not able to see subtitles on castplayer.

[2022-08-31 14:07] andrewlewis commented on #10568
I'm assuming the input media is HDR (probably HLG given this is a Sony device), but please let me know if that's wrong. I think what's going on is:
- When rendering from `MediaCodec` to a `SurfaceView` the data space (color space, transfer function and range) gets propagated to the surface flinger automatically, so the media gets displayed in high dynamic range.
- When rendering via OpenGL using t

[2022-08-31 15:09] rohitsingh2410 commented on #6168
have you find any solutoin to this, i am using react-native-video ?

[2022-08-31 18:42] haydenkaizeta commented on #10536
Hello, what's the expected timeline to get this checked out? Any additional information needed?

[2022-09-01 02:36] OxygenCobalt commented on #10516
Okay, I was actually capable of hacking in support for float audio processors and 24/32-bit audio, but not the other things we discussed. I think I'll keep this stuff in my fork for now until I can:

- Convert Sonic, trimming, and silence skipping audio processors to handle, or at least resample, PCM audio.
- Figure out how to coherently handle version-specific audio processing (Like channel mappi

[2022-09-01 04:08] rohitsingh2410 commented on #6168
have you find any solutoin to this, i am using react-native-video ?

[2022-09-01 10:03] truesA commented on #10571
mpd

<?xml version='1.0' encoding='UTF-8'?>
<MPD xmlns="urn:mpeg:dash:schema:mpd:2011" xmlns:kvs="urn:aws:kinesisvideo:mpd:2019" profiles="urn:mpeg:dash:profile:isoff-on-demand:2011" type="static" availabilityStartTime="2022-08-30T03:11:39.199Z" mediaPresentationDuration="PT11.994S" minBufferTime="PT1S">
  <Period id="0" start="PT0S" duration="PT11.994S">
    <AdaptationSet segmentAlignment="true"

[2022-09-01 10:03] truesA commented on #10571
mpd
`<?xml version='1.0' encoding='UTF-8'?>
<MPD xmlns="urn:mpeg:dash:schema:mpd:2011" xmlns:kvs="urn:aws:kinesisvideo:mpd:2019" profiles="urn:mpeg:dash:profile:isoff-on-demand:2011" type="static" availabilityStartTime="2022-08-30T03:11:39.199Z" mediaPresentationDuration="PT11.994S" minBufferTime="PT1S">
  <Period id="0" start="PT0S" duration="PT11.994S">
    <AdaptationSet segmentAlignment="true"

[2022-09-01 12:15] chladto1 commented on #10550
Any idea?

[2022-09-01 13:34] vishnuchilakala commented on #10304
Hello @rrfrias !
Do we have any updates on the issue? Please do let me know.
If you need any additional information to analyse further, please do let us know.

P.S. Our issue looks suspiciously similar to #9968 . If you have had any new key insights on that issue, that might also help in our case.

[2022-09-01 15:31] mpivchev commented on #10543
`ForwardingPlayer` did the trick, thank you.

[2022-09-01 15:31] #10543 closed, assigned to marcbaechinger

[2022-09-01 19:49] TacoTheDank commented on #10363
Thanks!

[2022-09-02 00:50] ybai001 commented on #10464
@tonihei , the patch (to support this schemeIdUri) is in internal review phase. After that, we will submit it as pull request.

[2022-09-02 04:30] ritchieg9 opened #10574 "ServerCertificate and ServerUrl"
Hello,

I'm trying to understand how my current Shaka player code can be somehow translated to the way exoplayer works.
Most accurate question: the way a servercertificate is set in exoplayer and how licenseUrl need payload values to be send (POST Call).

[This is my Shaka player](https://mxlivechannelsvosdash.clarovideo.com/Content/DASH_DASH_FK/Live/Channel(CLARO_SPORTS_MX_HD)/manifest.mpd)

[2022-09-02 05:30] truesA commented on #10571
solved thanks

[2022-09-02 05:30] #10571 closed, assigned to nobody

[2022-09-02 07:49] giladna opened #10575 "HLS Manifest structure question"
Hi,

We have HLS clear manifest with the following structure - variats bitrates and keyframes bitrates are not matching excactly.

The issue is that Exo Player demo app exposes all the bitrates that are in the streams but actually the bitrates related to the keyframe are different then the ones for the video tracks so we get all of them but actually when trying to switch to the keyframe bitrates w

[2022-09-02 08:42] DragonSpirit opened #10576 "Decoder failed: c2.android.avc.decoder"
### ExoPlayer Version

2.18.1

### Devices that reproduce the issue

Android emulator, sdk 30, arm64-v8a, Mac m1

### Devices that do not reproduce the issue

Android emulator, sdk 31, arm64-v8a, Mac m1

### Reproducible in the demo app?

Yes

### Reproduction steps

- Open main demo app
- Pick video
- Pause video
- Wait few seconds (up to 5)

### Expected result

Pause works properly, remaining p

[2022-09-02 08:59] icbaker commented on #10576
This looks like a duplicate of https://github.com/google/ExoPlayer/issues/10485 - I believe it's an emulator problem, though I was unable to reproduce it on an x86-based emulator, so I suspect it might be related to the arm-based emulator.

Do you have an x86 environment available where you could try and reproduce? That would add strength to this theory.

[2022-09-02 09:00] icbaker commented on #10485
@Joadar OOI, did you file a bug against Android Studio? If so, would you be able to share the link here? Thanks!

[2022-09-02 09:19] PeaceAllen opened #10577 "Is there any api to clear the cache of one media item by id?"
Hi All,

Is there any API to clear the cache of one media item by id?

ExoPlayer play one media file with cache, later the media file is replaced by another one on server, but the url is not changed. it will report an error, code is ERROR_CODE_IO_READ_POSITION_OUT_OF_RANGE or 416 ?

[2022-09-02 09:34] icbaker commented on #10574
It sounds like you're asking about customising the request headers sent with a DRM license request. You can do this when configuring the DRM parts of your `MediaItem`: https://exoplayer.dev/media-items.html#protected-content

[2022-09-02 09:51] marcbaechinger commented on #10577
From the JavaDoc I'd say [`Cache.removeResource(String key)`](https://github.com/google/ExoPlayer/blob/release-v2/library/datasource/src/main/java/com/google/android/exoplayer2/upstream/cache/Cache.java#L248) would be a candidate to try.

If you haven't declared a custom key, then the URI of the resource is the key.

[2022-09-02 10:20] DragonSpirit commented on #10576
Yep, I do.
I tried to reproduce it on x86_64 image on intel based mac and can't reproduce this issue

[2022-09-02 13:09] ritchieg9 commented on #10574
Some of the values are actually not being sent by the headers, they are part of the payload. Maybe only the response of the servercertificate can be attached to the headers somehow

[2022-09-02 13:25] icbaker commented on #10574
I don't completely understand what "the response of the servercertificate" means in the context of Android's DRM steps of 'provisioning request' and 'license request' as described in the `MediaDrm` docs: https://developer.android.com/reference/android/media/MediaDrm

It might be helpful to provide more detail about what you're trying to do in general terms (rather than Shaka-specific terminology).

[2022-09-02 16:47] #10165 closed, assigned to claincly

[2022-09-02 19:11] Exeu commented on #9794
@christosts , needed now to switch back to a previous version of exoplayer... the workaround was not working anymore for some videos since **getDecoderInfos** only returns **one** entry and that is dolby/vision.. so throwing out dolby vision ends up in returning an empty list of decoder infos.

[2022-09-02 20:19] PaulWoitaschek commented on #10471
Thanks for the detailed response. For my current use case that would be great. However that would probably also mean, that I would lose the option to interact with other players seamlessly - like for example the cast player.

Another big topic that I'm struggeling is the model how the playback is set up. From my understanding, the clients control, which media items they set and what they prepare.

[2022-09-03 07:31] alaegin commented on #10480
@DonnyRozendal I've tried to replace SurfaceView with TextureView and it helped me to prevent the last frame from getting black. But, there are several artifacts when I use it in LazyColumn

[2022-09-04 09:19] gb103 commented on #10285
any update on this ?

[2022-09-04 17:04] buliaoyin commented on #8435
Re-implement SSA/ASS render would be a pure way, but takes much more time to get full feature support, I think import libass with JNI would be the easiest way to make things done.

[2022-09-04 17:15] giladna commented on #10575
I was wondering if some how the end result is related to that?
https://github.com/google/ExoPlayer/blob/release-v2/docs/troubleshooting.md#why-do-some-mpeg-ts-files-fail-to-play

thanks

[2022-09-04 19:20] giladna commented on #10576
@icbaker  we had such issue some time ago on Pixel3 Android 11 and we had some thoughts implementing the below code for specific devices

we got such errors

11-30 13:48:03.421 3378 21485 E OMXNodeInstance: getConfig(0xf03685d0:amlogic.avc.decoder.awesome2.secure, ??(0x7f00000c)) ERROR: UnsupportedSetting(0x80001019)

11-30 14:12:30.116 3378 21485 E OMXNodeInstance: setConfig(0xf03685d0:amlogic.av

[2022-09-05 03:44] PeaceAllen commented on #10577
Yes, it works well, thank you very much.

[2022-09-05 03:53] FongMi commented on #10523
I have edit code to bypass this issue

[2022-09-05 03:53] #10523 closed, assigned to christosts

[2022-09-05 04:00] XiaoChongxc opened #10579 "I failed to play the RTMP audio file with exo player. It cannot be played normally"
I play an RTMP audio file. There is no video content. Only "onplaywhenreadychanged" is triggered. There is no error and no automatic playback. Please help me see what the problem is. Thank you.
version：2.12.1
playUrl:rtmp://pili-live-rtmp.midaochat.net/michat-live/1293027
If the playback address fails, please contact me.

[2022-09-05 06:47] FongMi commented on #10573
I have edit code to bypass this issue

[2022-09-05 06:47] #10573 closed, assigned to nobody

[2022-09-05 09:43] vimal1695 opened #10580 "Attempt to invoke virtual method 'java.lang.Object java.lang.ref.WeakReference.get()' on a null object reference"
### ExoPlayer Version

2.18.1

### Devices that reproduce the issue

Galaxy A20s
Lenovo Tab P10

### Devices that do not reproduce the issue

Unable to reproduce the issue

### Reproducible in the demo app?

No

### Reproduction steps

Example
Unable to reproduce the crash

### Expected result

Media Play Successful without crash

### Actual result

Fatal Exception: java.lang.IllegalArgumentExcept

[2022-09-05 09:46] vimal1695 opened #10581 "Attempt to invoke virtual method 'java.lang.Object java.lang.ref.WeakReference.get()' on onTimelineChanged"
### ExoPlayer Version

2.18.1

### Devices that reproduce the issue

Galaxy A20s
Lenovo Tab P10

### Devices that do not reproduce the issue

Example
Unable to reproduce the crash

### Reproducible in the demo app?

No

### Reproduction steps

Unable to reproduce

### Expected result

The media play successfully

### Actual result

Fatal Exception: java.lang.NullPointerException: Attempt to invoke

[2022-09-05 09:46] #10580 closed, assigned to nobody

[2022-09-05 09:46] vimal1695 commented on #10580
Wrong crash report

[2022-09-05 11:11] GouravSna opened #10582 "Player is downloading segments less than the given `minimumUpdatePeriod` in the Dash manifest"
For the _Live_ media where `minimumUpdatePeriod` is 2 seconds, i can see the Player is trying to download the segments less than 2 seconds. Sometimes, it tries to download multiple segments with in a second. Sometimes, it does not download in 2 seconds, that is clear for me after looking at [this](https://github.com/google/ExoPlayer/issues/3344#issuecomment-356015681) comment (#issue-2)
I am using

[2022-09-05 11:16] #10577 closed, assigned to marcbaechinger

[2022-09-05 11:22] mayursancheti opened #10583 "I am using exoplayer in viewpager2 but multiple sound mixing and not pausing player"
### ExoPlayer Version

2.15.1

### Devices that reproduce the issue

All android devices from 8  onwards,  i test in moto, nokia, narzo but still same issue

### Devices that do not reproduce the issue

-

### Reproducible in the demo app?

No

### Reproduction steps

i tried below code
`package com.example.splashscreen;

import static androidx.viewpager2.widget.ViewPager2.OFFSCREEN_PAGE_LIMIT_DEF

[2022-09-05 16:56] icbaker commented on #10581
Please can you provide an unobfuscated stack trace so we can understand exactly what line is throwing the NPE? I couldn't spot [any `WeakReference` usages near to `DefaultAnalyticsCollector` in the ExoPlayer code](https://github.com/google/ExoPlayer/search?q=weakreference) - so I wonder if this could be coming from an implementation of `AnalyticsListener.onTimelineChanged` in your app?

[2022-09-05 17:27] icbaker commented on #10583
I'm afraid we're unable to review such an enormous amount of code for correctness - we simply don't have the resources.

Please make your question more focussed in order for us to help you.

[2022-09-05 17:34] icbaker commented on #10579
I tried the link with the demo app at version 2.18.1 ExoPlayer. It failed with the following stack trace. That suggests to me that the server is behaving in a way this RTMP client (which we don't write) didn't expect.

[code]

I suggest you take a look into what `RTMP error: -14` means - I'm afraid we can't help with those details, because it's coming from a layer beneath ExoPlayer.

[2022-09-06 03:45] hugbio opened #10584 "ANR on calling setVideoSurfaceInternal in SimpleExoplayer class"
### ExoPlayer Version

Older (unsupported)

2.7.3

### Devices that reproduce the issue

Oppo/COLOROS runing android 11
XiaoMi/MIUI runing Android 10
...

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

No

### Reproduction steps

Not able to reproduce as getting traces for market users.

### Expected result

anr does not appear

### Actual result

AN

[2022-09-06 03:46] hugbio commented on #10584
main

ANR_EXCEPTION

Find process anr, but unable to get anr message.

java.lang.Object.wait(Native Method)

java.lang.Object.wait(Object.java:442)

java.lang.Object.wait(Object.java:568)

com.google.android.exoplayer2.PlayerMessage.blockUntilDelivered(PlayerMessage.java:4)

com.google.android.exoplayer2.SimpleExoPlayer.setVideoSurfaceInternal(SimpleExoPlayer.java:9)

com.google.android.exoplayer2

[2022-09-06 03:49] hugbio commented on #10584
#8823 ExoPlayerImplInternal:Handler

com.google.android.exoplayer2.mediacodec.MediaCodecUtil.getDecoderInfos(Unknown Source:2)

com.google.android.exoplayer2.mediacodec.MediaCodecUtil.getDecoderInfo(MediaCodecUtil.java:1)

com.google.android.exoplayer2.mediacodec.MediaCodecSelector$1.getDecoderInfo(MediaCodecSelector.java:1)

com.google.android.exoplayer2.audio.MediaCodecAudioRenderer.supportsForm

[2022-09-06 03:51] hugbio commented on #10584
I'm wondering if there is a minimum version that will fix this.

[2022-09-06 05:11] RahulSOpenXcell opened #10585 "Audio file not seekable"
### ExoPlayer Version

2.18.1

### Devices that reproduce the issue

All Device found that issue.

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Not tested

### Reproduction steps

Play the attached media file. some audio file is working fine. maybe some issue in the media file.
[MeeraBai-Kaain Laage Gopal Meera Tharo.zip](https://github.com/google/

[2022-09-06 05:15] RahulSOpenXcell commented on #10585
I have checked by using FLAG_ENABLE_INDEX_SEEKING, which can be set on a DefaultExtractorsFactory using setMp3ExtractorFlags. it is working fine for that audio but any other audio file gets the duration value wrong when I have used mp3ExtractorFlag.

[2022-09-06 09:27] TheSikh opened #10586 "How to capture Ads Requested event from ImaAdsLoader"
I want to capture the event when ImaAdsLoader makes the request to the ad server to make sure that the number of ads requested and the number of ads that failed or succeeded are in correlation with GAM. I have checked the existing issues and does not found an answer.

[2022-09-06 09:29] tonihei commented on #9241
I'll update this to a feature request. Are you aware of an example stream for testing where the events have a duration? We likely won't get around this implement this soon I'm afraid and it also needs some thought how the integration should work because the current `Metadata` class doesn't have a duration.

[2022-09-06 09:31] tonihei commented on #9933
The fix should appear here soon and will be part of the next release.

[2022-09-06 09:31] #9933 closed, assigned to tonihei

[2022-09-06 09:31] tonihei commented on #10370
Closing due to inactivity.

[2022-09-06 09:31] #10370 closed, assigned to tonihei

[2022-09-06 09:31] tonihei commented on #10380
Closing due to inactivity.

[2022-09-06 09:31] #10380 closed, assigned to tonihei

[2022-09-06 09:32] #10458 closed, assigned to tonihei

[2022-09-06 09:32] tonihei commented on #10469
Closing due to inactivity.

[2022-09-06 09:32] #10469 closed, assigned to tonihei

[2022-09-06 09:32] tonihei commented on #10470
Closing due to inactivity.

[2022-09-06 09:32] #10470 closed, assigned to tonihei

[2022-09-06 09:33] tonihei commented on #10472
Closing because the question was answered and we won't be able to provide more detailed guidance.

[2022-09-06 09:33] #10472 closed, assigned to tonihei

[2022-09-06 09:33] tonihei commented on #10473
Closing because I don't think there is anything else we can do here.

[2022-09-06 09:33] #10473 closed, assigned to tonihei

[2022-09-06 09:34] tonihei commented on #10474
Closing because we can't fix this as it's caused by a platform limitation as explained above.

[2022-09-06 09:34] #10474 closed, assigned to tonihei

[2022-09-06 09:34] tonihei commented on #10476
Closing due to inactivity.

[2022-09-06 09:34] #10476 closed, assigned to tonihei

[2022-09-06 09:39] tonihei commented on #10480
The UAMP demo app has recently been converted to Compose in this branch: https://github.com/android/uamp/tree/compose. This demo app isn't build for video playback, but maybe it helps for inspiration around how to integrate a player into a Compose view.

[2022-09-06 09:39] tonihei commented on #10481
Closing for now as no new questions came up. Please reopen if needed or file a new issue, thanks!

[2022-09-06 09:39] #10481 closed, assigned to tonihei

[2022-09-06 09:41] tonihei commented on #10503
I'll close this issue because I assume the question has been answered and you found a path forward.

[2022-09-06 09:41] #10503 closed, assigned to tonihei

[2022-09-06 09:42] rohitjoins commented on #10393
Closing due to inactivity.

[2022-09-06 09:42] #10393 closed, assigned to rohitjoins

[2022-09-06 10:02] SaurabhOfficial commented on #10512
[code]
@christosts I was able to blacklist a particular track group but did not find anything in the docs which would help me blacklist any particular adaptive layer.

[2022-09-06 10:23] tonihei commented on #10510
The workaround will appear here soon and will be part of the next release.

[2022-09-06 10:23] #10510 closed, assigned to tonihei

[2022-09-06 10:57] tonihei commented on #10536
I just tested the attached mp3 file (from @rohitjoins's comment above) and it plays perfectly fine without any problems on a Pixel 4 on the latest code state. Is this the same file you uploaded and have problems with?

[2022-09-06 11:05] tonihei commented on #10560
It sounds like something is not working with the cache directory you are using. The error is logged if `cacheDir.listFiles()` fails, which is a normal file operation. Specifically, it only returns null if "this pathname does not denote a directory, or if an I/O error occurs." I'm afraid we can't really do something about this unless you have a reproducible problem somehow.

[2022-09-06 11:05] #10560 closed, assigned to tonihei

[2022-09-06 11:16] tonihei commented on #10562
Not entirely sure which value you'd need, but it's likely the `deviceRoll` value here: https://github.com/google/ExoPlayer/blob/ab4d37f499ba49bb3cac7938eb03ebf7133ccfe6/library/core/src/main/java/com/google/android/exoplayer2/video/spherical/SphericalGLSurfaceView.java#L279

There isn't a way to retrieve this value at the moment, but happy to accept PRs if you like to send one.

[2022-09-06 12:28] XiaoChongxc commented on #10579
Sorry, this link has failed, so it can't be connected normally. Can you make an appointment? I'll provide a link again to test it.

[2022-09-06 13:04] tonihei commented on #10563
That's not implemented in SphericalGLSurfaceView at the moment. If you want, you could send a PR adding a setter for this to the class. I'll keep this issue open as an enhancement in the meantime.

[2022-09-06 13:06] tonihei commented on #10566
I'm afraid this isn't very useful for debugging because we don't know about the device, the media you are playing, etc. Please use the issue template when filing bugs and fill out the requested information as much as possible.

[2022-09-06 14:28] 1mean opened #10587 "How to reduce the buffer time when using SeekTo(positionMs) method"
1. play a video from the beginning. it only takes 70-110 ms from state_buffering to state_ready. The video plays after a short buffer
2. after add `seekTo(positionMs)` method. from buffering to ready. sometimes it takes 300ms. sometimes 700ms. even 900ms. Its a long buffer time before the video starts to play

code like this
[code]
play a video with last position in a activity. Can I make the buff

[2022-09-06 14:40] icbaker commented on #10587
It's likely that the seek is slow because we have to decode (and throw away) every frame from the previous keyframe until the seek point - before we can start playback. This is an unavoidable side-effect of the way most video compression algorithms work - every frame can only be decoded if all previous frames have also been decoded, back to the previous keyframe.

So some questions:

1. How freque

[2022-09-06 15:25] tonihei commented on #10572
I just did a very simple test to call `player.setMediaItem(mediaItemWithDRM)` after some delay during playback of DRM-protected content and didn't see a problem:
[code]

Does your issue reproduce in the demo app? Based on your description it should be easy to make a small modification similar to the one above to reproduce it. Could you try this and describe the changes needed to trigger the issue?

[2022-09-06 15:54] christosts commented on #10512
The issue description says

So I'm assuming you want to set a threshold on the maximum resolution. You can do that with

[code]
Where `width` and `height` define the maximum resolution you want the player to select. If you don't know the adaptive layer resolutions, you can read the [Querying the available tracks](https://exoplayer.dev/track-selection.html#querying-the-available-tracks) documentati

[2022-09-06 16:34] tonihei commented on #10575
This part is expected. ExoPlayer parses these `#EXT-X-I-FRAME-STREAM-INF` tags and adds them as formats to the same `TrackGroup` as the normal variants. See some reasoning for this in https://github.com/google/ExoPlayer/issues/474#issuecomment-514307811.
You can distinguish the tracks by looking at the role flags. See https://github.com/google/ExoPlayer/issues/8313 where a similar question has bee

[2022-09-06 16:56] tonihei commented on #10582
I'm not sure I fully understand your proposal or question. I think there might be some confusion around loading, playing and manifest updates, which are all related, but also work independently:
 - The **manifest** is loaded once and then loaded again every `minimumUpdatePeriod` seconds (=every 2 seconds in your case) to get an up-to-date list of available media segments. There shouldn't be any ma

[2022-09-07 02:39] yangpengliao opened #10589 "How to play a live RTSP video stream"
[code]

I can play it on VLC, but I can't play it on  ExoPlayer

[2022-09-07 02:49] Hiwensen commented on #10572
Thanks for your response!
Will try and get back to you later.

[2022-09-07 03:30] 1mean commented on #10587
Thank you very much for your reply.

[2022-09-07 03:30] #10587 closed, assigned to icbaker

[2022-09-07 05:04] GouravSna commented on #10582
Thanks a lot for the detailed clarification @tonihei . I was looking at this point and was thinking that this should also happen on 2 seconds of interval. But after your point, it is clear that it can happen fast in the fast network.

[2022-09-07 07:44] #10582 closed, assigned to tonihei

[2022-09-07 08:10] BobbyJWhjr opened #10590 "Video subtitles not displaying correctly (overlapping) if there are overlapping time codes"
### ExoPlayer Version

2.18.1

### Devices that reproduce the issue

All android devices. Tested on Samsung S22 Ultra, Oneplus 7 Pro

### Devices that do not reproduce the issue

NA

### Reproducible in the demo app?

Not tested

### Reproduction steps

Play any media with overlapping media codes like some narrator speaking with background music then subtitles overlap with each other as depicted i

[2022-09-07 09:03] nigelmegitt commented on #10590
Correct presentation in this case depends on the subtitle format and data. Can you provide the source subtitle file?

[2022-09-07 10:27] ameerprpt opened #10591 "Caused by org.json.JSONException: No value for mediaItem when casting (Chromecast)"
### ExoPlayer Version

2.18.1

### Devices that reproduce the issue

All Android devices

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Not tested

### Reproduction steps

When casting the video to Chromecast, `mediaitem` is getting null and getting JSONException. It is working fine in 2.15.1 version. I am using exoplayer with exoplayer:extension-ca

[2022-09-07 10:57] FongMi opened #10592 "The flv url can't play but potplayer can play"
Exo version 2.18.1

Test Url
https://upos-hz-mirrorakam.akamaized.net/upgcxcode/32/70/18667032/18667032-1-64.flv?e=ig8euxZM2rNcNbRBhwdVhwdlhWUVhwdVhoNvNC8BqJIzNbfqXBvEqxTEto8BTrNvN0GvT90W5JZMkX_YN0MvXg8gNEV4NC8xNEV4N03eN0B5tZlqNxTEto8BTrNvNeZVuJ10Kj_g2UB02J0mN0B5tZlqNCNEto8BTrNvNC7MTX502C8f2jmMQJ6mqF2fka1mqx6gqj0eN0B599M=&uipk=5&nbs=1&deadline=1662555298&gen=playurlv2&os=akam&oi=3544964488&trid=85

[2022-09-07 12:02] marcbaechinger commented on #10591
If the `DefaultMediaItemConverter` is sending a `MediaItemQueueItem` to the cast device it includes the data of the `MediaItem` in a JSON document that is stored as the custom data.

In the case that generated the stack trace from above the `mediaItem` in the map is null like you mention. So it tries to read from the custom JSON data that is not available.

I wonder a) why the media item is null i

[2022-09-07 12:15] ameerprpt commented on #10591
I am not overriding `DefaultMediaItemConverter.toMediaQueueItem`.
Just passing `castContext` to `CastPlayer`
The Chromecast was already connected and just trying to play the video in the Casting device. The video is playing in the TV and the app got crashed with this Exception.

I have checked `remoteMediaClient` for the `CastSession` `mediaInfo` and `currentItem` are null here. Our video format i

[2022-09-07 12:34] marcbaechinger commented on #10586
In general, ExoPlayer only can report what it knows about and ExoPlayer is not aware of the internal workings of the IMA SDK which is a black box for ExoPlayer as much as for the app.

If you are looking for the requests made to download media for an ad, then this should be reported by the `AnalyticsListener.onLoadStarted(...)/onLoadCompleted(...)/onLoadCanceled(...)/onLoadError(...)` methods like

[2022-09-07 12:39] giladna commented on #10575
@tonihei I was checking the same media with disabling the audio and it will play images one after another when I select sine bitrate from the keyframes

so first I have filtered out all those tracks so I will expose for track selection only the valid tracks with audio.

now I was wondering how do you think the trick play stand alone will be managed I guess ABR will not be working on these tracks r

[2022-09-07 12:39] marcbaechinger commented on #10589
I think the reason is what the stack trace says: `RTP H264 packetization mode [0] not supported`

[2022-09-07 12:52] tonihei commented on #10575
This happens automatically in `DefaultTrackSelector` unless you specifically set a `TrackSelectionOverride` including the trick play tracks.

If you include them in a selection, ABR should theoretically work, but I wonder what you expect to happen? A user with a very slow network would suddenly see a trick-play tracks with a small number of key frames and not the expected smooth playback. One coul

[2022-09-07 13:07] tonihei commented on #10575
Based on this, I'll close this issue as a duplicate of https://github.com/google/ExoPlayer/issues/8938.

[2022-09-07 13:07] #10575 closed, assigned to tonihei

[2022-09-07 20:00] sailesha opened #10593 "Support gradle composite builds for local checkouts"
For local ExoPlayer checkouts, the current approach is to include the relevant projects directly. For example:
`apply from: file("path/to/exoplayer/core_settings.gradle")`
and then
`implementation project(':exoplayer-library-core')`

The downside of this approach is that it makes it tricky to swap between the prebuilt binary dependency and the local checkout.

A better solution would be to support

[2022-09-08 01:18] yangpengliao commented on #10589
I see, does this mean I can't play videos in this format?

[2022-09-08 05:22] bhaskarraj commented on #6760
Was there any response? I am also facing the same

[2022-09-08 06:40] mayursancheti commented on #10583
ok i understand you are confusing code,

step 1) i have declare exoplayer in viewpager

[code]

my code is 1) mixing multiple videos sound is playing when i swipe viewpager or change activity
and  2) exoplayer loading very slow for url based video .

[2022-09-08 07:34] thucngv commented on #10592
can't access the media url
<img width="629" alt="image" src="https://user-images.githubusercontent.com/23202870/189062722-1684a9f3-fcb2-422b-8613-6fdb975ab457.png">

[2022-09-08 07:36] FongMi commented on #10592
Sorry, here is new link

https://upos-sz-mirrorcosov.bilivideo.com/upgcxcode/32/70/18667032/18667032-1-64.flv?e=ig8euxZM2rNcNbRBhwdVhwdlhWUVhwdVhoNvNC8BqJIzNbfqXBvEqxTEto8BTrNvN0GvT90W5JZMkX_YN0MvXg8gNEV4NC8xNEV4N03eN0B5tZlqNxTEto8BTrNvNeZVuJ10Kj_g2UB02J0mN0B5tZlqNCNEto8BTrNvNC7MTX502C8f2jmMQJ6mqF2fka1mqx6gqj0eN0B599M=&uipk=5&nbs=1&deadline=1662629798&gen=playurlv2&os=cosovbv&oi=3544964488&trid=c9

[2022-09-08 08:03] syg4806 opened #10597 "How to pre-load the data"
- Prefetch/Precache: Download the media to local storage as a cache before preparing to play
- Preload: Load the data from upstream(Cache or Http) into the Player buffer.

We use the list of players with recycler view like youtube shorts.
To improve the performance we use prefetch, and we trying to do preload as well.

If we do preload, we need to use at least two players.
One is now showing, and

[2022-09-08 10:48] jrocharodrigues opened #10598 "Video playback freezes and then fails with Unexpected runtime error ERROR_CODE_FAILED_RUNTIME_CHECK"
### ExoPlayer Version

2.18.1

### Devices that reproduce the issue

Android TV SDMC 905x2 Android 10

### Reproducible in the demo app?

Yes

### Reproduction steps

To reproduce the issue i needed to make sure the the playback started with the highest quality track. To do it in  the demo app i changed to change the TrackSelectionFactory **bandwidthFraction** value  to 1f by adding this lines on

[2022-09-08 12:02] D-EXOPLAYER opened #10599 "message":"Source error","errorCode":3002,"name":"ExoPlaybackException"className":"ParserException"
### ExoPlayer Version

2.15.1

### Devices that reproduce the issue

- ANDROIDTV - TIMVISION BOX (Android 10 - DTIW3930-10.0.0.19)
- ANDROIDTV - TIMBOX (Android 8.0.0 - uzw4010tim-5.6.2-2.20.0)
- FireTv Stick HD (Device Model AFTT - Fire OS 5.2.8.9 (678752620))
- FireTv Stick 4K (Device Model AFTMM - Fire OS 6.2.9.0 (NS6290/4022))

### Devices that do not reproduce the issue

_No response_

### Re

[2022-09-08 12:35] a-blekot opened #10600 "When Support AggregationPacket mode will be added for H.265?"
Hi! We recently wanted to try H265 format for our RTSP camera streaming

But I have found out that it is not fully supported yet.

[code]

Do you have plans to add it in nearest future? If yes - when approximately?

[2022-09-08 15:41] icbaker commented on #10599
This error indicates the DASH manifest is malformed. If you want us to investigate further please provide a link to the DASH manifest. Installing your app from the play store doesn't give us enough insight into what's going on to be useful I'm afraid.

https://github.com/google/ExoPlayer/blob/2a88f0fb295ff5b56e6fbcbe7e91bdf922cbae13/library/dash/src/main/java/com/google/android/exoplayer2/source/d

[2022-09-08 15:47] icbaker commented on #10598
The media link provided over email returns a 403 for me when I try and fetch it with curl.

[2022-09-08 15:47] icbaker commented on #10598
The media link provided over email returns a 403 for me when I try and fetch it with curl.

[2022-09-08 15:50] claincly commented on #10600
We don't have immediate plans to support aggregation packet mode in H.265 I'm afraid!

Can you configure the camera not to use this mode OOI?

[2022-09-08 15:50] icbaker commented on #10590
For SSA/ASS subtitles sideloaded from a file this should work.

For SSA/ASS subtitles in MKV this is known not to work, implementing it is tracked by https://github.com/google/ExoPlayer/issues/10295.

For Subrip subtitles this is known not to work, implementing it is tracked by https://github.com/google/ExoPlayer/issues/4794.

I believe this should work for both WebVTT and TTML subtitles (though I

[2022-09-08 15:53] nigelmegitt commented on #10590
Related data point: Overlapping regions and therefore text is permitted by the specification in generic TTML, but not in the IMSC or EBU-TT-D profiles that are commonly used for subtitles and captions. (this is not a comment on the implementation in ExoPlayer)

[2022-09-08 15:54] StephenVinouze commented on #10557
Thanks for those highlights, that's source for thoughts :) I'll look into it. Feel free to close the ticket if no one else jumps in anytime soon ;)

[2022-09-08 15:58] icbaker commented on #10593
This does sound good - would you be interested in sending a PR switching to it? (it would actually be great to send it to the `main` branch of the [androidx/media](https://github.com/androidx/media/pulls) GitHub project instead of this one, it will be easier for us to merge (and it will get pushed back out to here, the two repos are kept roughly in sync with each other)).

[2022-09-08 16:10] icbaker commented on #10597
Your current approach of using two independent players is likely required if you ever want both videos to play simultaneously (e.g. while transitioning between the two). The only way to achieve this is with two decoder instances. If the device you're running on doesn't allow two decoders to be instantiated then this isn't possible.

If you want to smoothly transition with a single player instance

[2022-09-08 16:11] jose-a-rodrigues-alb commented on #10598
@icbaker it's because of the $ in the url, if you replace it with %24, or use single quotes instead of double quotes it will work
Sorry for not warned you about it.

[2022-09-08 16:12] icbaker commented on #10585
This looks like it's probably a duplicate of https://github.com/google/ExoPlayer/issues/9408 (i.e. you're seeing issues due to using `FLAG_ENABLE_INDEX_SEEKING` when playing a file where it's not appropriate).

[2022-09-08 16:22] icbaker commented on #10592
I get a 403 from this one.

Walking back up the stack trace a bit, the real problem is that `audioSpecificConfig` is empty here, which implies the packet is a 'sequence header' but has no content beyond the type `byte`. This likely implies the file is malformed. Some players are more permissive than others when playing malformed files - showing that a file plays with another player doesn't demonst

[2022-09-08 16:22] icbaker commented on #10592
I get a 403 from this one.

Walking back up the stack trace a bit, the real problem is that `audioSpecificConfig` here, which implies the packet is a 'sequence header' but has no content beyond the type `byte`. This likely implies the file is malformed. Some players are more permissive than others when playing malformed files - showing that a file plays with another player doesn't demonstrate the

[2022-09-08 16:26] icbaker commented on #10391
Thanks for confirming my proposal would work. I'm afraid I don't know when we'll implement this, but we would accept a high quality PR for this.

[2022-09-08 16:26] icbaker commented on #10519
Duplicate of https://github.com/google/ExoPlayer/issues/4825.

[2022-09-08 16:26] #10519 closed, assigned to icbaker

[2022-09-08 16:29] FongMi commented on #10592
Here is new link
https://upos-sz-mirrorcosov.bilivideo.com/upgcxcode/32/70/18667032/18667032-1-64.flv?e=ig8euxZM2rNcNbRBhwdVhwdlhWUVhwdVhoNvNC8BqJIzNbfqXBvEqxTEto8BTrNvN0GvT90W5JZMkX_YN0MvXg8gNEV4NC8xNEV4N03eN0B5tZlqNxTEto8BTrNvNeZVuJ10Kj_g2UB02J0mN0B5tZlqNCNEto8BTrNvNC7MTX502C8f2jmMQJ6mqF2fka1mqx6gqj0eN0B599M=&uipk=5&nbs=1&deadline=1662661714&gen=playurlv2&os=cosovbv&oi=3544964488&trid=57afd057fd

[2022-09-08 16:31] FongMi commented on #10592
Is there any way to bypass the error packet ?
I have clone source and ready to edit

[2022-09-08 16:36] icbaker commented on #10592
The latest link also returns 403 for me.

I haven't tested this, but you could try returning `false` from inside the `if` block I quoted above if the packet seems empty, something like:

[code]

[2022-09-08 16:41] FongMi commented on #10592
Ok, I will try it, thanks.

[2022-09-08 16:41] #10592 closed, assigned to icbaker

[2022-09-08 16:49] icbaker commented on #10569
The video in the screenshot looks like it was originally a portrait video that's been encoded into a landscape format by 'burning in' some ['pillarbox' masking](https://en.wikipedia.org/wiki/Pillarbox).

A player has no way to detect these pillarbox bars, so there's no general way to make the original content full-screen when playing this encoding - you would need to tell the player where the bars

[2022-09-08 16:49] #10569 closed, assigned to icbaker

[2022-09-08 18:31] marcbaechinger commented on #6760
We can't help with that I'm afraid. This issue is on the Cast device which is not related to the ExoPlayer library.

[2022-09-08 21:10] praxder opened #10601 "Provide DRM Key Content Directly?"
Is there a way to play DRM protected content with ExoPlayer, given that you have manually fetched the body of the DRM key?

As far as I can tell, ExoPlayer only supports passing the license key url, and ExoPlayer then fetches the key. Is there a way to manually input the key data, given that it's been manually fetched?

Thanks.

[2022-09-09 02:07] viyarda opened #10602 "Target=31，Android 5.x java.lang.NoClassDefFoundError: com.google.android.exoplayer2.ExoPlayer$Builder$$ExternalSyntheticLambda17"
### ExoPlayer Version

2.16.0

### Devices that reproduce the issue

Oppo a37f Android 5.1.1

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Not tested

### Reproduction steps

     compileSdkVersion 31
    buildToolsVersion '31.0.0'

    compileOptions {
        sourceCompatibility JavaVersion.VERSION_11
        targetCompatibility JavaVersion.VERSI

[2022-09-09 05:32] RahulSOpenXcell opened #10603 "Audio duration get wrong compare to other player."
### ExoPlayer Version

2.18.1

### Devices that reproduce the issue

All Devices

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Not tested

### Reproduction steps

Please check with attachment audio.
[pm-2009-12-28-Govind Sakha.zip](https://github.com/google/ExoPlayer/files/9532557/pm-2009-12-28-Govind.Sakha.zip)

### Expected result

Other Player d

[2022-09-09 09:18] jsravn commented on #8435
Plex has now side stepped this by bundling libass in their android client, presumably using ffmpeg or something to mux on the client side before passing to exoplayer.

[2022-09-09 13:41] lmartin opened #10604 "Codec regression when updating from 2.9.5 to 2.18.1"
### ExoPlayer Version

2.18.1

### Devices that reproduce the issue

Motorola Moto E (2nd gen) 4G LTE - Android 6.0 API 23

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Yes

### Reproduction steps

Play mp4 video 1920x960@30fps

### Expected result

Playback is smooth, hardware decoder is selected, log trace:
I MediaCodec: name=OMX.qcom.video.decod

[2022-09-09 15:26] vikaspAlgoworks opened #10605 "Exoplayer having playback issues with certain url having mime-type: audio/mp4a-latm"
### ExoPlayer Version

2.17.1

### Devices that reproduce the issue

* Oneplus 8T Android 12
* Android 12 Arm Emulator

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Reproducible in 2.17.1 as well as in the latest 2.18.1

### Reproduction steps

1. Try to play the media with these urls:

Urls can be shared upon the request

### Expected result

The

[2022-09-09 15:35] icbaker commented on #10602
Similar issues which turned out to be related to various dependency/build problems:

https://github.com/google/ExoPlayer/issues/10060

https://github.com/google/ExoPlayer/issues/9704

Based on https://github.com/google/ExoPlayer/issues/9704#issuecomment-975390727 I would suggest checking that you're depending only on the Android Guava variant (and not the general JRE one).

I don't believe this is

[2022-09-09 18:20] haydenkaizeta commented on #10536
It is. Did you play it in a slowed state (0.5x) on the code available in the (2.17.1) sample app? A side by side with another audio player shows that it is clearly worse and my team has repro'd on a few devices

[2022-09-10 06:35] Programmingtimes opened #10606 "How to create single trackselection dialog"
I want to create single trackselection dialog from defaulttrackselection dialog. a seperate button for subtitle which onclick popup available subtitle.

[2022-09-10 06:36] #10606 closed, assigned to nobody

[2022-09-10 14:20] Shrihari1428 commented on #10568
Hi andrew,

Thanks for the reply. I tried wrapping up the EGL Surface with the `EGL_EXT_gl_colorspace_bt2020_pq` colorspace. But the brightness still seems to be low. Is there any other fix for this?

[2022-09-10 23:49] VuzzyM commented on #4066
Any update?

[2022-09-11 00:52] Hiwensen commented on #10572
@tonihei This issue is not reproduced in the demo app, I added the code you posted, and neither repro it.
I was trying to reuse the SurfaceView when met the error, which is to use the same SurfaceView for multiple playback sessions.
Do you know under what circumstances does the error I posted happen?

[2022-09-11 03:38] syg4806 commented on #10597
Thanks for the kind explanation!

We don't want to play both at the same time, we want to preload the next video(2) into the next player(2) buffer while video(1) is playing on the player(1). Are you saying that just preloading the next video(2) into another player(2) instance requires a decoder?

ExoPlayer needs a decoder when rendering the buffered media. Isn't it?
We expect the decoder to be use

[2022-09-11 12:27] xeinebiu opened #10607 "Setting HTTP Headers to MediaItem"
## Use Case

While migrating from `MediaSource` to `MediaItem`, I cannot find a way how to inject HTTP Headers for individual `MediaItem`.

[code]

Is there any way to use `MediaItem` with individual `HTTP Headers` ?

[2022-09-11 16:59] ivan12312312 opened #10608 "PlayerNotificationManager creted 2 notifications after restart device"
### ExoPlayer Version

2.18.1

### Devices that reproduce the issue

sumsung s22+ android 12

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Not tested

### Reproduction steps

build this app https://github.com/ivan12312312/test
grand permisions
start app
play any music in app
restart app
after restart device viewed 2 notificationis(bug)

### Expecte

[2022-09-12 03:51] Debayudh opened #10609 "How can we extract custom data being sent in SCTE35 marker in a livestream?"
We are being sent custom key-values in a scte35 marker in a livestream periodically, on the basis of which we need to do some ui operations.
We are receiving the periodic events in onMetadata(Metadata metadata).
However, the object we are receiving is a PrivFrame, and we are not able to extract the data from it. (Data is definitely coming, as the web player using videojs player is gtting the data.

[2022-09-12 06:30] icbaker commented on #10597
ExoPlayer's default behaviour when you call `Player.prepare()` is to prepare all the resources required for playback. That includes both buffering the media and acquiring all decoders required. So although not **required**, it is what I would expect to happen based on what you describe.

Not quite - calling `setMediaSource()` will do either:
1. Neither buffer media nor acquire decoders if the play

[2022-09-12 06:31] icbaker commented on #10607
Duplicate of https://github.com/google/ExoPlayer/issues/6166

[2022-09-12 06:31] #10607 closed, assigned to icbaker

[2022-09-12 06:43] icbaker commented on #10601
ExoPlayer uses a [`MediaDrmCallback`](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/drm/MediaDrmCallback.html) instance to handle DRM license key request and responses. The default implementation is [`HttpMediaDrmCallback`](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/drm/HttpMediaDrmCallback.html), which makes HTTP requests to the license URI. You can prov

[2022-09-12 06:58] icbaker commented on #10559
`StyledPlayerView` uses `DefaultTimeBar` (via `StyledPlayerControlView`). `DefaultTimeBar` has `hideScrubber()` methods. However, it's not currently very easy to get a reference to this instance if you're using `StyledPlayerView`. Our old recommendation was to override the layout XML file, and set the `exo_progress` to your custom `TimeBar` instance. We've found that layout overriding like this is

[2022-09-12 07:34] icbaker commented on #10609
`PrivFrame` has a `privateData` field which may contain what you need?

Otherwise please provide a stream we can use to reproduce the problem in order for us to investigate further.
Please either upload it here or send to dev.exoplayer@gmail.com using the subject `Issue #10609`. Please also update this issue to indicate you’ve done this.

[2022-09-12 07:47] Debayudh commented on #10609
Hi @icbaker

In the privateData, we are getting an array of bytes, which when converted to String, gives just the timestamp.
The stream is client-provided, so I'm not sure I will be able to share it.

[2022-09-13 01:04] #9062 closed, assigned to tonihei

[2022-09-13 01:47] syg4806 commented on #10597
Ok I got it.

I want to make sure one thing.
Even if the playWhenReady is false though, it will acquire a decoder, right?

[2022-09-13 06:24] ogawa-ma opened #10610 "Error when playing H.264 video"
■ Question
I'm publishing an app that uses ExoPlayer, but some users are experiencing errors and cannot play videos.
Format is H.264, The playback method is Widevine DASH streaming playback.
Can you tell the cause from the logs?

ExoPlayer version used：2.16.1
Device：Google Pixel4XL, Google Pixel5
Android version：13

![スクリーンショット 2022-09-13 15 11 53](https://user-images.githubusercontent.com/5478531

[2022-09-13 08:00] xyhui83 opened #10611 "Trying switchTargetView multiple on Android TV 11 cause screen freeze up"
### ExoPlayer Version

2.17.1

### Devices that reproduce the issue

MXV-4K at Android TV 11

### Devices that do not reproduce the issue

Huawei P50 at android 11

### Reproducible in the demo app?

No

### Reproduction steps

1、Play a video source url "http://img.ggwz.0760.com/data/saas_test/202208/31/16619107205872183.mp4"  use PlayerView
2、try call PlayerView.switchTargetView mutiple to change

[2022-09-13 09:32] mancuk opened #10612 "is there a fullscreen feature in the latest version?"
is there a fullscreen feature in the latest version?

[2022-09-13 11:24] xeinebiu commented on #10608
On Android 13, It does crash the app.

android.app.RemoteServiceException: Bad notification for startForeground: java.lang.RuntimeException: invalid channel for service notification: Notification(channel=AN Me...

[2022-09-13 11:39] skfaisal93 commented on #10605
Please share your full code so that I can look into it

[2022-09-13 12:32] vikaspAlgoworks commented on #10605
Hi @skfaisal93, The issue is reproducible in the Exoplayer demo [2.18.1](https://github.com/google/ExoPlayer/tree/r2.18.1) as well. You can try out with this media files mentioned with the same.

[2022-09-13 14:13] lmartin commented on #10604
I updated the description.
Is there a way to restore the behaviour of Exoplayer 2.9.5, I mean accepting to use hw decoder for video codec avc1.4D0029?

[2022-09-13 16:54] xeinebiu commented on #10608
I found out that, now we need to register/create a notification channel manually instead of using the notification from ExoPlayer to start the service.

[2022-09-14 00:47] carl opened #10614 "Unable to package for distribution with cronet-embedded due to proguard error"
### ExoPlayer Version

2.18.1

### Devices that reproduce the issue

It's a build issue not a device issue

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Not tested

### Reproduction steps

We're getting this error when building:

[code]

and here are the proguard rules:

[code]

### Expected result

expect it to build successfully

### Actual resul

[2022-09-14 00:49] sneelavara opened #10615 "Audio stalling is not reported as "playback failure" in Tunneling mode"
### ExoPlayer Version

2.18.1

### Devices that reproduce the issue

AndroidTV devices with Broadcom SoC requiring tunneling mode. Issue is mostly not specific to Android version. We reproduced on Android 10.
Example:
- VIP6102W (CommScope built AndroidTV device with Broadcom 7271)
- UIW4054 (TechniColor built AndroidTV device with Broadcom 72180)

### Devices that do not reproduce the issue

N/A

[2022-09-14 01:01] sneelavara commented on #10615
Proposed solution is in pull request #10613. Please suggest if there is a better solution. Thank you.

[2022-09-14 01:57] onikaii opened #10616 ".ass subtitles not displaying"
Hi, I am trying to use subtitles in my videos.
When I display an .srt subtitle on a .mp4 video it works fine.
But when I try to use an .ass subtitle on a .mp4 video it does not display the subtitles.

it seems to be a problem with the MimeType

[code]
the caption icon is enabled and let choose the subtitle, but the video it does not display the subtitles.

I have tried to use all the mimeTypes but

[2022-09-14 02:00] Luosoha opened #10617 "InflateException: Error inflating class StyledPlayerView"
### ExoPlayer Version

2.18.1

### Devices that reproduce the issue

Samsung Galaxy J6+ Android 10
Samsung Galaxy A02 Android 11
Samsung Galaxy S22 Ultra Android 12
Redmi 7A Android 9
Redmi Note 9 Android 10

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Not tested

### Reproduction steps

I can't reproduce the issue yet. This issue is reported in m

[2022-09-14 03:58] Debayudh commented on #10609
Hi @icbaker

We were able to get the data from scte markers using the onEvents() method of AnalyticsListener
{
if (event == EVENT_METADATA){

                        Object manifest = player.getCurrentManifest();
                        if (manifest != null) {
                            HlsManifest hlsManifest = (HlsManifest) manifest;
                            HlsMediaPlaylist hlsMediaPlaylist

[2022-09-14 08:58] ayushi-sk opened #10619 "Caused by android.content.res.Resources$NotFoundException Unable to find resource ID #0x7f08010f"
### ExoPlayer Version

2.18.0

### Devices that reproduce the issue

- Samsung Galaxy A13
- Samsung Galaxy A50
- Samsung Galaxy A22
- Xiomi Redmi 10 Prime
- Xiomi Redmi Note 9 Pro Max
- Xiomi Redmi Note 11

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

No

### Reproduction steps

It crashed on app open

### Expected result

It should not crash

###

[2022-09-14 10:36] rohitjoins commented on #10619
Duplicate of #10409

[2022-09-14 10:37] #10619 closed, assigned to rohitjoins

[2022-09-14 11:32] ogawa-ma opened #10620 "Widevine DASH streaming does not start"
■ Question
I have publishing an application using ExoPlayer, but streaming playback does not start for some users.
Playback does not start even after 1 minute after setMediaItem and player.prepare().
When this event occurs, if the user can't wait and ends playback, player.release() is called in onPause of the playback screen class, but an error occurs there.
Can you tell from the log why playback

[2022-09-14 12:02] ogawa-ma opened #10621 "CodecException occurs during playback"
■ Question
We have published an application that uses ExoPlayer, but some users are experiencing CodecException during streaming playback.
Since the error is occurring in MediaCodec, it seems like there is a problem with the video file, but I can't figure out the cause.
Can you find the cause from the logs or video files?

■ ExoPlayer version used
* 2.16.1

■ Some of the devices that are occurring

[2022-09-14 13:52] smelfungus commented on #10409
Something similar is rarely happening for us too:

[code]

[code]

[code]

[code]

[code]

[code]

[2022-09-14 14:26] lmartin opened #10622 "What is goldfish decoder?"
When testing on Android emulators from Android Studio, I notice that I have some videos that are playing jerky when running on Android 11 and later. When running on Android 9 or 10, the same videos are playing smooth.

Regarding video decoder used by Exoplayer, I notice that there are some differences when playing the same video:
- on Android 9 or 10 : OMX.google.h264.decoder
- on Android 11 : OMX

[2022-09-14 14:37] Hiwensen commented on #10572
@tonihei
I reproduced the error on ExoPlayer demo app with tag `r2.16.1` after adding the code below to `PlayerActivity.initializePlayer()`, can't repro the error on version `2.17.0` and later.
Could you help confirm whether the error is fixed at https://github.com/google/ExoPlayer/issues/8696?

[code]

[2022-09-14 15:15] tonihei commented on #10572
Yes, #8696 could be the same issue or the fix of #8696 could just address this problem as well.

@icbaker Assigning to you in case you want to follow/up or investigate further. But I assume we don't need to do anything if the issue is already fixed in the latest release.

[2022-09-14 15:42] rohitjoins commented on #10616
@onikaii MimeTypes.TEXT_SSA should be used for .ass subtitles. If that doesn't work for you, I would request you to provide complete information as requested in the issue template. The issue template can
be found [here](https://github.com/google/ExoPlayer/issues/new?assignees=&labels=bug%2Cneeds+triage&template=bug.yml).

[2022-09-14 16:02] VuzzyM commented on #4066
@rohitjoins ???

[2022-09-14 16:15] rohitjoins commented on #10617
Duplicate of #10409

[2022-09-14 16:16] #10617 closed, assigned to rohitjoins

[2022-09-14 17:21] rohitjoins commented on #10610
Duplicate of #10621

[2022-09-14 17:21] #10610 closed, assigned to rohitjoins

[2022-09-14 17:23] rohitjoins commented on #10621
@ogawa-ma I tried playing the media file sent via email and was able to play it successfully on the mentioned OS version and device.

Without being able to reproduce I'm afraid there's not much more help we can offer.

[2022-09-14 17:27] rohitjoins commented on #10620
@ogawa-ma I tried playing the media file sent via email and was able to play it successfully on Pixel 4a (5G) running Android 12.

This exception occurs when one of the renderers times out releasing its resources.

Without being able to reproduce I'm afraid there's not much more help we can offer.

[2022-09-14 18:10] daio opened #10623 "Get current MediaItem associated with frame before it's rendered"
I have a custom OpenGL pipeline working in a separate thread with SurfaceTexture as input and ExoPlayer outputting into a Surface associated with the SurfaceTexture. When using ConcatenatingMediaSource I'd like to know which MediaItem is currently playing when the OpenGL pipeline receives the frame.

I've found that onMediaItemTransition lags behind actual frames rendered by several frames(due to

[2022-09-14 18:46] cncb-gh opened #10624 "Detecting and playing AC-4 audio?"
Is it possible to detect and play AC-4 audio?  I have the FFMpeg extension built with a version of FFMpeg that should be able to decode AC-4 but when I try to play the (.ts) file ExoPlayer reports there is no audio track.  I can get audio from other players with the same files.  I sure am cursing the ATSC folks for choosing a new proprietary audio format...

[2022-09-15 00:44] Hiwensen commented on #10572
@tonihei @icbaker Thanks!
Close this issue for now since the error after switching from DRM content to clear content is fixed and I can't repro the error when playing DRM content with reusing decoder.

[2022-09-15 00:44] #10572 closed, assigned to icbaker

[2022-09-15 01:51] ogawa-ma commented on #10620
@rohitjoins

In what cases does the renderer time out on releasing resources?

[2022-09-15 06:57] a-blekot commented on #10600
I will ask guys if they could configure our cameras. Thank you!

[2022-09-15 08:05] a-blekot commented on #10600
@claincly Hi !

could you please clarify what means OOI? =)
and maybe you have some links where I can read about how not to use packet aggregation?

[2022-09-15 09:33] claincly commented on #10600
OOI = out of interest :)

Packet aggregation is a mode that RTSP server uses to split up H265 byte stream into RTP packet. It means one RTP packet could carry multiple H265 NAL units. It's not very widely used afaik. Thus you have to configure the RTSP server (in the camera) not to use this mode.

[2022-09-15 12:47] vishnuchilakala commented on #10304
Hello @rrfrias

Please let us know of any updates. Do you need any further information from our side to debug the issue?

[2022-09-15 13:10] vikaspAlgoworks commented on #10605
@christosts ,I have shared the media urls on email [dev.exoplayer@gmail.com](mailto:dev.exoplayer@gmail.com). Please check the email.

[2022-09-15 13:26] christosts commented on #8944
Note for anyone following updates on this issue: we have a similar request in #9794 and we plan to address this in an upcoming release. Please follow #9794 for updates.

[2022-09-15 14:25] icbaker commented on #10612
[yes](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/ui/StyledPlayerView.html#setFullscreenButtonClickListener(com.google.android.exoplayer2.ui.StyledPlayerView.FullscreenButtonClickListener))

[2022-09-15 14:25] #10612 closed, assigned to icbaker

[2022-09-15 14:55] D-EXOPLAYER commented on #10599
Hi @icbaker
Is there any repository where there are exoplayers's errors?
Example: https://shaka-player-demo.appspot.com/docs/api/shaka.util.Error.html#.Code
br

[2022-09-15 14:57] icbaker commented on #10599
The error codes (in this case `3002`) are documented here: https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/PlaybackException.html

[2022-09-15 15:00] icbaker commented on #10597
That's correct. The value of `playWhenReady` has no effect on the ['state'](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/Player.State.html) of the player (idle, buffering, ready or ended) - it simply means that when the player enters the 'ready' state then playback will start.

[2022-09-15 15:33] icbaker commented on #10609
It looks like you're manually pulling tags out of the playlist. I think it's up to you to determine which ones are relevant for the current playback time.

[2022-09-15 15:52] #10609 closed, assigned to icbaker

[2022-09-16 01:55] FongMi opened #10625 "How to play the mkv url"
Exoplayer 2.18.1

## Test case 1 can't play
### The video don't have ID_EBML 0x1A45DFA3

https://bj29-enet.cn-beijing.data.alicloudccp.com/rAb0Dory%2F116468%2F61c422395c3fc77fd60d422eac7ec1987da968b2%2F61c4223991183b0b9f4b4888bfdcd60d0d4f0bcf?di=bj29&dr=181925&f=62fa623a42ee5e3d22b34d52b3cd101fbf4caa7a&response-content-disposition=attachment%3B%20filename%2A%3DUTF-8%27%27Farewell.My.Concubine.1993

[2022-09-16 05:01] tonihei commented on #10536
Sorry, I didn't fully realize that changing the playback speed was part of the reproduction steps.

The reason is simply that the library we are using for time-stretching (Sonic) was written for spoken content like podcasts and may not perform very well for music. If you know or have another speed adjustment library for audio data that works well for music, please let us know and we can see if it'

[2022-09-16 05:01] #10536 closed, assigned to tonihei

[2022-09-16 05:19] thucngv opened #10626 "How to add http request header into MediaItem?"
I tried to play url through ExoPlayer.setMediaItem  method.
I don't find an option to add request header to MediaItem.Builder.

[2022-09-16 05:24] a-blekot commented on #10600
Thank you for the explanation!
Hope we could manage to configure the camera.
I'm afraid to write this function myself ))

[2022-09-16 05:56] NaveenMobileProgramming commented on #10527
The above solution is not working for me even i override the onKeyDown and onKeyUp methods in my player activity.

(When i tapped DPAD center first, the controls are shown and any further tap with send the event for the currently selected button)
even i use
 playerView.controllerAutoShow = false

is there any method  to disable the auto controller shown when the user click the  below events
KeyEve

[2022-09-16 09:13] rohitjoins commented on #10626
Duplicate of https://github.com/google/ExoPlayer/issues/6166

[2022-09-16 09:13] #10626 closed, assigned to nobody

[2022-09-16 12:45] iamrwa opened #10627 "Cross Fade between music tracks within a playlist"
Before filing a feature request:
-----------------------
- Search existing open issues, specifically with the label ‘enhancement’:
  https://github.com/google/ExoPlayer/labels/enhancement
- Search existing pull requests: https://github.com/google/ExoPlayer/pulls

When filing a feature request:
-----------------------
Replace the content in the sections below.

### [REQUIRED] Use case description

[2022-09-16 12:52] laole918 opened #10628 "unable play video after proguard assumenosideeffects {*;}"
exoplayer:2.18.1
The following configuration cannot play video
[code]
But there is no problem with the following configuration
[code]
Is it because some code of exoplayer has been deleted by assumenodeeffects {\*;}? Will this problem be fixed?

[2022-09-16 14:51] rohitjoins commented on #10622
@lmartin Goldfish decoder is a `MediaCodec` which is part of the emulator system change. It is android software decoder which runs on emulator. I think the difference is because of change in package name used for different android OS version.

If you want to report an issue please provide more information using our issue template found [here](https://github.com/google/ExoPlayer/issues/new?assignee

[2022-09-16 18:39] rohitjoins commented on #10615
@sneelavara Thanks for the PR. The test stream sent over email does not work for me. Can you check if the link is correct?

[2022-09-16 18:46] rohitjoins commented on #10625
@FongMi I could retrieve the url for the media file by visiting the URL mentioned in `THIS IS SOURCE TO GET REAL URL`. For the second video it looks something like [this](https://pan.ichuguang.com/d/%E5%BD%B1%E9%9F%B3%E8%B5%84%E6%BA%9033T/%E8%B1%86%E7%93%A3TOP250%20REMUX/001-050/001%20%E8%82%96%E7%94%B3%E5%85%8B%E7%9A%84%E6%95%91%E8%B5%8E%204K%20REMUX%EF%BC%881994%EF%BC%89%E3%80%901030%E3%80%91/Th

[2022-09-16 18:46] #10625 closed, assigned to nobody

[2022-09-16 18:49] rohitjoins commented on #10624
May be related to #10464, @tonihei can you please take a look.

[2022-09-16 20:42] sneelavara commented on #10615
Hi @rohitjoins , the link is made public now. I also replied to dev.exoplayer@gmail.com with access to the Google drive which contains the zipped version of the stream. Please try again and let me know if that works.

Thanks.

[2022-09-17 21:09] emveepee commented on #10624
The issue, is the extension isn't aware that unofficial ffmpeg versions can decode AC-4 so unofficial ExoPlayer builds also need to update FFmpegLibrary.java
[code]

[2022-09-18 08:22] cyberdreamandroid opened #10629 "FFMpeg not compiling with Gradle 7.4"
### ExoPlayer Version

2.18.1

### Devices that reproduce the issue

All

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Not tested

### Reproduction steps

Upgrade to latest Gradle 7.4 coming with Dolphin IDE.
FFMPEG compilation fails because NDK 23 Side-by-Side is used by default.

### Expected result

Compilation works

### Actual result

Solution

[2022-09-18 15:29] shummakom opened #10630 "LL DASH with ABR"
Is there any way to play CMAF LL DASH with ABR using Exoplayer?
I have tested test stream from akamai and it works perfect on Theoplayer and Dash.js player.
there seems to be an issue with exoplayer bandwidth estimation mechanism which makes the player to never recover to the highest profile.
Is there any workaround?

tried 2.18.1 and 2.17.0

Thx

[2022-09-18 15:34] cncb-gh commented on #10624
Thanks very much for this.  Do you know if there is a minimum ExoPlayer version required?  I added that and rebuilt but it still does not seem to be working with 2.14.0.

[2022-09-18 19:16] SaurabhOfficial commented on #9968
we are seeing an uptick in issues lately @rrfrias ~ 25th of august, let me know if you need any more info.

[2022-09-18 22:06] moneytoo commented on #10624
Does the FFmpeg decoding AC-4 works well for you? I tried few video samples with AC-4 but the audio synced badly with video. Not sure if it had anything to do with the fact that I took the changes (from https://github.com/makrsmark/FFmpeg/tree/ac4) and applied them in the FFmpeg 4.2 branch.
Anyway, seems like some devices include system AC-4 decoder (like Samsung Galaxy S21 serie).

[2022-09-19 01:04] #10531 closed, assigned to icbaker

[2022-09-19 03:11] onikaii opened #10631 "multiple subtitles with same language code"
I have a .mkv video, this video has multiple subtitles, 7 in total.

getTrackFormat(i).language -> getTrackFormat(i).label
 en -> English
 pt -> Portuguese(Brazil)
 es -> Spanish(Latin_America)
 es -> Spanish(Spain)
 fr -> French
 it -> Italian
 ru ->Russian

 as you can see the language code  is repeated in Spanish(Latin_America) and Spanish(Spain), they have the same value "es".

The problem com

[2022-09-19 07:01] Aryan-dvlp2 opened #10632 "How to pre-cache HLS adaptive stream in ExoPlayer?"
I am trying to pre-cache/pre-buffer HLS videos to my app. I used CacheWriter to cache the (.mp4) file, But it was not able to cache segments of HLS video. Basically, I have only URL of the master playlist file which has media playlists of different qualities, and that each media playlist has segments (.ts).

So, I have to cache the **master playlist** and any one **media playlist** and then some *

[2022-09-19 11:22] kshailes commented on #9553
@tonihei  this same issue can happen for DASH also right ? and keeping bigger maxbuffer is also failing for me. I kept maxbuffer as 2 minutes, still facing same issue. Any suggestion ?

[2022-09-19 13:25] halilozel1903 opened #10633 "How can I use Italic type in Subtitle?"
Helloooo,

I want to change Subtitle settings but I don't find `ITALIC` type.

[code]

There is no parameter to use directly in `Typeface`.

You can help me?

[2022-09-19 19:03] haydenkaizeta commented on #10536
Ok good to know, I assume not many are slowing down music so this should be fine for now

[2022-09-19 20:40] cncb-gh commented on #10624
Thanks for this.  I added that to FFmpegLibrary.java and "ac4" to the enabled decoders array and rebuilt but still cannot get it to decode.  Should ExoPlayer identify the audio track even if it cannot decode?  That is, when playing it shows no audio track instead of AC4 with no sound.  I am using 2.14.0 so maybe this version is too old?

[2022-09-20 01:04] #10067 closed, assigned to claincly

[2022-09-20 02:27] nuclearmagneton opened #10634 "TrackSelectionDialog : androidx.appcompat.app.AppCompatDialog.setTitle"
### ExoPlayer Version

2.18.1

### Devices that reproduce the issue

Android: 10
Android Build: QP1A.190711.020
Manufacturer: vivo
Model: V2027

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Yes

### Reproduction steps

I have received this in crashlytics

### Expected result

show the dialog

### Actual result

android.content.res.Resources$NotFoun

[2022-09-20 02:39] nuclearmagneton opened #10635 "StyledPlayerControlView : java.lang.RuntimeException: Could not read input channel file descriptors from parcel"
### ExoPlayer Version

2.18.1

### Devices that reproduce the issue

OnePlus5
Android 7.1.1

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Yes

### Reproduction steps

received from crash report

### Expected result

without crash

### Actual result

android.view.InputChannel.nativeReadFromParcel InputChannel.java
android.view.InputChannel.readFromP

[2022-09-20 05:35] Shrihari1428 opened #10636 "How to play videos in UHD in Sony Xperia 1 IV"
The Sony Xperia 1 IV should be able to play videos in UHD (1644 x 3840), but in exoplayer the videos play at QHD (1096 x 2560). Is there way to make it play at UHD since the phone and even the native gallery player supports it.

Display.Mode[] modes = disp.getSupportedModes() gives me the following :

Mode 1: 1096x2560/60.0fps
Mode 2: 1096x2560/120.0fps
Mode 3: 1644x3840/60.0fps
Mode 4: 1644x3840/

[2022-09-20 08:18] bicycleprince commented on #9968
We have encountered a same problem on our platform testting for widevine "widevine_ce_cdm_unittest".
While on test "CdmTest.OpenSessionWithoutServiceCertificate", the platform sends a certificate provisioning request to "https://staging-www.sandbox.googleapis.com/certificateprovisioning/v1/devicecertificates/create?key=AIzaSyB-5OLKTx2iU5mko18DfdwK5611JIjbUhE" with data "&signedRequest=CqUYEgQT..."

[2022-09-20 09:39] tonihei commented on #10624
There are two steps needed to get this to work: Extract the AC4 track from the container (TS) + Decode the samples.
Only the decoding step is done by the FFmpeg extension, ExoPlayer still needs to detect the track itself inside the TS stream. If you want to debug this further, you can add an `EventLogger` to ExoPlayer to see which tracks it detects and if that doesn't work provide example media to

[2022-09-20 10:39] rohitjoins commented on #10615
@sneelavara I tried reproducing the issue as mentioned but I do get `Playback Failed` for both the streams sent by you. The error I see is same for both the streams i.e.

[code]

[2022-09-20 12:54] #10622 closed, assigned to rohitjoins

[2022-09-20 16:50] sneelavara commented on #10615
Hi @rohitjoins , this bug shows up only when **Tunneling mode** is enabled. As mentioned in the "Reproduction steps", please construct -
`trackSelectionParameters = new DefaultTrackSelector.ParametersBuilder(/* context= */ this).setTunnelingEnabled(true).build(); `
in PlayerActivity.java.

I tried enabling tunneling on Broadcom SoCs. Will give it a try on AmLogic SoCs and update.

As mentioned in

[2022-09-20 17:18] rohitjoins commented on #10615
@sneelavara I enabled tunneling before trying to reproduce this error. I think it is not reproducible on NVIDIA shield I was running the demo app on.

@tonihei is going to take a look on the PR.

[2022-09-20 18:29] Tolriq commented on #10502
Bump on this one I got more and more report about this :(

[2022-09-20 18:32] rrfrias commented on #10567
@ogawa-ma, i agree with icbaker that the DrmSessionException appears to be from the Widevine provisioning service. Can you
1. Is it possible to capture/share a provisioning URL/request from the device?
2. Include a logcat/bugreport if possible
3. Are you seeing this across devices or only on Lenovo YT-K606F? Does it fail all the time or intermittently?
4. If you are not able to get a bugreport, mi

[2022-09-20 18:43] rohitjoins commented on #10614
Although something like this works without any error:

[code]

This issue looks like a general question about Android development. We'll leave this issue open for ~2 weeks in case anyone wishes to answer it here, however we recommend asking such questions on [Stack Overflow](https://stackoverflow.com/questions/ask).

[2022-09-20 18:52] rohitjoins commented on #10628
@laole918 This proguard rule doesn't seem to effect Exoplayer library code in anyway as the rule is specific to the logging library class you are using.

Unfortunately we can't give 1:1 support for solving app specific issues. We'll leave this issue open for ~2 weeks in case anyone wishes to answer it here. If you think this is a problem with ExoPlayer, please narrow down your issue to describe th

[2022-09-20 19:15] rohitjoins commented on #10502
@Tolriq I'll take a look on this issue in this week. Thank you for your patience.

[2022-09-20 19:18] rohitjoins commented on #10621
Duplicate of #10620

[2022-09-20 19:18] #10621 closed, assigned to rohitjoins

[2022-09-20 19:20] rohitjoins commented on #10620
@ogawa-ma I believe #10621 and #10610 is related to this issue. I have closed the other two issues in favour of this.

So the main issue seems to be the `MediaCodec` exception that you get on the device, which in turns doesn't allow the player to release its resources properly as it is not in a defined / known state.

I'll try to find a way to recover from such exceptions and update you on this ti

[2022-09-21 01:26] rohitjoins commented on #10502
It seems we have an issue for this enhancement. I will close this one, so that we can track it in one place. Will check if we can pick this up for our next release.

Duplicate of #4970

[2022-09-21 03:54] Choengboy opened #10637 "Code"
Before filing a feature request:
-----------------------
- Search existing open issues, specifically with the label ‘enhancement’:
  https://github.com/google/ExoPlayer/labels/enhancement
- Search existing pull requests: https://github.com/google/ExoPlayer/pulls

When filing a feature request:
-----------------------
Replace the content in the sections below.

### [REQUIRED] Use case description
D

[2022-09-21 05:49] rrfrias commented on #9968
@weizk1984, your issue is not an ExoPlayer issue. If you are a Widevine certified partner, can you contact Widevine Partner Engineering or https://www.widevine.com/contact?

[2022-09-21 05:56] Tolriq commented on #10502
@rohitjoins This is not the same issue.

This one is a music only file with an unwanted theora track that is unluckily first .
The goal is not to support the still image theora track, it's to be able to play the valid vorbis track. This is a much simpler need to do what you do on other multi track containers.

[2022-09-21 06:21] bicycleprince commented on #9968
Thanks for you reply!
I thought we've runned into the same issue.
I've sent support request through that link, while accept no response yet, so I come here for help first.
@rrfrias  So have you got the final rootcause or solution for this issue you putted forward? I noticed it has passed about half a year since you first raised it up.

[2022-09-21 06:37] rrfrias commented on #9968
@SaurabhOfficial, the provisioning URLs were truncated at 1024 bytes. It is hard to make sense of them without the complete URL. Can you share the complete URLs when you have them? Can you also log the systemId using getPropertyString. This is usually common to all devices for a given device make+model.

It is possible that there are multiple root causes, so the systemId is important so that we kn

[2022-09-21 07:14] sravan1213 opened #10638 "How to use Custom Manifest parser with MediaItem"
With MediaItem I am not able to find a method to set custom parser. Where as setting custom parser is available in MediaSource object.

Is there any way to do this without using MediaSource or overriding DefaultMediaSourceFactory ?

[2022-09-21 07:50] rrfrias commented on #9968
@weizk1984 can you send another email, mention https://github.com/google/ExoPlayer/issues/9968. Let me know when you have done that and I can follow up internally.

[2022-09-21 08:07] rrfrias commented on #10304
The issue is similar to #9968. Since the failed provisioning requests contain garbled data we cannot tell which devices are sending in these requests. Might it be possible to log the failed provisioning request URL and the systemId (use getPropertyString).

[2022-09-21 08:51] bicycleprince commented on #9968
@rrfrias Thanks very much!  I've done for this second support request,  mentionning #9968 in title.
![image](https://user-images.githubusercontent.com/113974703/191460145-0e91312d-f990-4786-b556-0c595c6c60f3.png)

[2022-09-21 09:47] icbaker commented on #10638
Are you talking about a custom parser for a DASH or HLS manifest? Given each of these only relates to a single type of `MediaSource`, providing your own `MediaSourceFactory` is the expected way to do this level of customization: https://exoplayer.dev/media-sources.html#customizing-media-source-creation

[2022-09-21 10:14] ogawa-ma commented on #10567
@rrfrias
Due to machine translation, we are not sure if some parts have been conveyed correctly.
We apologize for that.
If you have any questions, please ask.

How do I get this information?
<br>

Sorry, we did not get a bug report.
<br>

We have confirmed that this error is occurring on more devices than when the issue was created.
Even with the same Lenovo YT-K606F, there are devices that have t

[2022-09-21 10:39] christosts commented on #10630
ExoPlayer can play ULL-CMAF DASH streams but its ABR algorithm is not finely tuned for this use-case. When you download segments close to the live edge, the bandwidth estimation is not updated because these segments are likely not downloaded at full speed from the server, hence they are not representative of the download throughput.

Can you please read [this comment](https://github.com/google/Exo

[2022-09-21 10:49] heddii opened #10639 "Unable to cast m3u8 media using exoplayer cast"
### ExoPlayer Version

2.18.1

### Devices that reproduce the issue

OnePlus 8
Google nexus 4

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Yes

### Reproduction steps

-Click on floating add button
-Choose "Clear Hls: Angel One"
-Press ok
-Press the remote media button
-Select the remote device

### Expected result

Display controllers and the vid

[2022-09-21 10:56] sravan1213 commented on #10638
@icbaker Thanks for the quick revert.
_Are you talking about a custom parser for a DASH or HLS manifest?_  - **Yes**

I figured it out using MediaSourceFactory, but the only problem is I have to copy entire DefaultMediaSourceFactory to achieve this.

I am just checking if there is any other simple way to do this.. like provide a factory for CustomParser ?

[2022-09-21 11:03] #10637 closed, assigned to christosts

[2022-09-21 11:13] icbaker commented on #10638
Can you give a bit more detail about why you need to copy all of `DefaultMediaSourceFactory`?

If you know your content is always HLS or always DASH then you can just use `HlsMediaSource.Factory` or `DashMediaSource.Factory` directly - with the caveat that ad insertion, sideloaded subtitles and clipping will not work (because these are implemented by `DefaultMediaSourceFactory`).

If you need to s

[2022-09-21 11:28] sravan1213 commented on #10638
Yes, we have mix of both HLS, DASH stream, SSAI streams.

**I am trying to solve following use case.**

We have a stream which can dolby, 4k and other formats. We also maintain config where we maintain list of models and devices which can get 4k, Dolby.

Now based on the list I can either whitelist or blacklist some of the tracks. This can be done from Backend side as well, but this is not in the

[2022-09-21 11:31] icbaker commented on #10638
It sounds like you'd be better off using ExoPlayer's track selection logic: https://exoplayer.dev/track-selection.html

This will operate on ExoPlayer's model of the tracks **after** it's been parsed, so no need to set HLS and DASH specific parsers.

[`FilterableManifest`](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/offline/FilterableManifest.html) (if this is what you're ref

[2022-09-21 11:44] kirkaDev opened #10640 "Unable set animation_enabled="true" for StyledPlayerView (crashing on Android 4)"
### ExoPlayer Version

2.18.1

### Devices that reproduce the issue

Devices that reproduce the issue:
Samsung SM-T110 Android 4.2.2
Sony C2305 Android 4.2.2

App is crashing when I use StyledPlayerView attributes by default.

with
`app:animation_enabled="false"` animation is disabled and bug is going away

### Devices that do not reproduce the issue

Real devices on Android 8+

### Reproducible i

[2022-09-21 12:06] koshisinthehouse commented on #10591
i have same Problem, when i create json object by myself and add to media item it works:

[code]

[2022-09-21 13:39] rohitjoins commented on #10502
@Tolriq It seems we are not able to able to parse a file which contains theora track and hence cannot play this media. I understand that ignoring theora track and only playing vorbis track should be simpler than supporting theora track but still requires us to find a way to do so.

If you feel this is urgent, please feel free to send a PR as I couldn't find an easy way to ignore theora tracks from

[2022-09-21 14:14] Tolriq commented on #10502
@rohitjoins I tried to look quickly into it, but I lack documentation about the extractors handling of multiple tracks in files.

I asked earlier in this issue but got no answer. Javadoc is hard to follow about how and when track information is passed in / out.

Current ogg extractor only support single track but ogg container can have multiple tracks.

According to https://xiph.org/vorbis/doc/ogg

[2022-09-21 15:24] icbaker commented on #10633
`CaptionStyleCompat` is simply a wrapper around the framework [`CaptionStyle`](https://developer.android.com/reference/android/view/accessibility/CaptioningManager.CaptionStyle), which doesn't support making the content italic.

In order to make your subtitles italicized you either need to:
1. Use source media with italic subtitles. Many of the formats the ExoPlayer supports allow the subtitle aut

[2022-09-21 15:51] laruedavid opened #10641 "Add track exclusion logic to exclude tracks from multi-key manifest based on DRM level in case of issue"
### Use case description
Multi-key DRM manifest are used to apply a different level of DRM protection depending on the quality level of the representation.
In my tests I have 240p and 540p tracks with L3 (software) DRM level and a 720p and 1080p tracks with L1 (hardware) DRM level.
On some devices I encounter an issue when the device switch to a track protected with L1 DRM Level.
The device starts

[2022-09-21 15:59] icbaker commented on #10641
This looks like a duplicate of https://github.com/google/ExoPlayer/issues/4825

[2022-09-21 15:59] #10641 closed, assigned to icbaker

[2022-09-21 16:28] shummakom commented on #10630
Thank you very much!
can you please suggest parameters to be set when using LAN connection to Android TV set top box?

[2022-09-21 16:31] laruedavid commented on #10641
@icbaker it looks this is not excatly the same issue. In their case they tried to play a manifest with multi-key receiving only the first key.
In my case I have both SW and HW keys and my device has a L1 HDCP 2.2 configuration.
I'm not able to filter tracks regarding the licence  requierements because the device match all these requierements but I encounter an issue during playback may be caused b

[2022-09-21 16:32] icbaker commented on #10574
Closing due to inactivity

[2022-09-21 16:32] #10574 closed, assigned to icbaker

[2022-09-21 16:37] icbaker commented on #10513
It's very unlikely that linked commit is related to this issue. The symptoms of that problem are:
* It occurs when switching from encrypted content to encrypted or clear content.
  * Whereas you report this problem occurs when startomg to play encrypted content from scratch.
* The logs contain a line like `E/SurfaceUtils: Failed to connect to surface 0x71e621ca70, err -22`

[2022-09-21 16:40] icbaker commented on #10641
Does `OnKeyStatusChangeListener` report that the device is able to play the stream that subsequently fails? I would expect that to be aware the stream is unplayable due to HDCP restrictions, and therefore the track would not be selected for playback if #4825 were implemented - so I think it would solve your use-case too?

[2022-09-21 16:47] icbaker commented on #10576
Given that this only reproduces on the arm emulator, I recommend you file a bug against the emulator as described: https://developer.android.com/studio/report-bugs#emulator-bugs

I'm going to close this, because I don't think there's any change expected/needed in the library here.

[2022-09-21 16:47] #10576 closed, assigned to icbaker

[2022-09-21 16:51] icbaker commented on #10631
If the tracks have an ID you can use that to distinguish between them and set an override using [`TrackSelectionParameters.Builder.setOverrideForType](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/trackselection/TrackSelectionParameters.Builder.html#setOverrideForType(com.google.android.exoplayer2.trackselection.TrackSelectionOverride)).

Otherwise it sounds like you're asking

[2022-09-21 16:52] #10601 closed, assigned to icbaker

[2022-09-21 22:29] onikaii commented on #10631
Thanks, using "setOverrideForType" worked.

[2022-09-21 22:29] #10631 closed, assigned to icbaker

[2022-09-22 04:53] sravan1213 commented on #10638
@icbaker thanks for the suggestion.

I've explored `TrackSelection`, the problem is I've to handle them from showing in UI also. Also I believe `TrackSelection` works only after player is Initialised
I want to filter them during the parsing tracks itself so that all extra handling can be avoided.

[2022-09-22 06:38] KazukiSugiyama107 opened #10642 "Widevine DASH Streaming causes errors during playback"
■ Question
We have released an application using ExoPlayer, but some devices may encounter an error while streaming.
I checked the playback of the same mp4 file here and could not see any errors.
Can you tell from the log what caused the error?

■ ExoPlayer version used
- 2.16.1

■ Some of the devices that are occurring

- Qua phone PX (OS version 6)
- Pixel 5 (OS version 13)
- Xperia 10 II (OS ve

[2022-09-22 06:40] laruedavid commented on #10641
@icbaker I added a OnKeyStatusChangeListener on the ExoMediaDrm and we had the following result

E/setOnKeyStatusChangeListener: onKeyStatusChange
E/setOnKeyStatusChangeListener: statusCode 0 -> STATUS_USABLE
E/setOnKeyStatusChangeListener: statusCode 0 -> STATUS_USABLE
E/setOnKeyStatusChangeListener: hasNewUsableKey true

Regarding this result it looks like both keys should work but this is not t

[2022-09-22 07:13] yoobi commented on #9654
Hello,

Could you give us some details on how/when you're planning to support Compose ?

Thank you

[2022-09-22 09:31] XiaoLongTX commented on #6168
我的app在一台三星手机上，每次启动播放就会遇到这个问题。我通过查看Exoplayer的代码发现，当我们不设置解码器出错切换到软解码器的情况下，就直接抛异常给业务了。如果我们在初始化播放器的时候调用了renderersFactory.setEnableDecoderFallback(true)，播放器内部会将软解码器和硬解码器作为列表，一般是优先使用硬解码器，如果硬解码器出错了，软解码器就会生效。至少通过这个方法，解决了我的问题。

My app is on a Samsung phone and I have this problem every time I start playback. By looking at the code of Exoplayer, I found that when we switch to the soft decoder without settin

[2022-09-22 09:52] jmvillagra commented on #10510
Any updates on this issue? Thank you.

[2022-09-22 13:40] jowunnal opened #10643 "If I create Exoplayer instance in the thread which is not main thread , I can't get duration and current position from Exoplayer instance ( stuck in STATE_BUFFERING)"
Hello team, I'm making a audio app using Exoplayer with waveForm library.

What I am making is when waveForm's progress has changed that Exoplayer's current position is changed by waveForm's progress.

I don't know my code is bad or not anyways, if both tasks are performed in the main thread, then audio is stuttering.

So I made Exoplayer instance at other thread which is newsingleThread in Corout

[2022-09-22 13:55] yury-dmitrienko-deltatre commented on #10390
Hi guys. We are also faced that issue on  TCL devices. @icbaker  Do you have any news or updates on this issue?

[2022-09-22 13:57] marcbaechinger commented on #10639
This is a duplicate of #7891 and not an ExoPlayer problem. Some cast devices are not able to play that media.

[2022-09-22 13:57] #10639 closed, assigned to marcbaechinger

[2022-09-22 15:27] microkatz commented on #8944
@ssenanayake We are looking at fixing this. Would you be able to provide a link to the DASH or HLS sample that you were using/mentioned above?

If you're unable to share the test content publicly, please send it to [dev.exoplayer@gmail.com](mailto:dev.exoplayer@gmail.com) with subject "Issue https://github.com/google/ExoPlayer/issues/8944" . Please also update this issue to indicate you've done th

[2022-09-22 16:30] christosts commented on #10634
Possibly duplicate of #10409

[2022-09-22 18:29] halilozel1903 commented on #10633
I see. Thanks for your comments.

[2022-09-22 18:29] #10633 closed, assigned to icbaker

[2022-09-22 19:36] JCarlosR commented on #10473
@tonihei I am using an exact alarm but starting the `DownloadService` is not allowed there since it's occuring on the background.

Would you recommend creating a "DownloadWorker" class to mimic the `DownloadService`?

Because starting the service (even with `FOREGROUND_NOTIFICATION_ID_NONE`) implies invoking `startForegroundService` or `startService` and both crash with a `ForegroundServiceStartNo

[2022-09-22 21:38] onikaii opened #10644 "StyledPlayerView: onVisibilityChange 0 (erratic behavior)"
Hi, I am trying to implement setControllerVisibilityListener with StyledPlayerView , the callback always receives 0  even when the controls are no longer visible.

Or when I touch close the controls the visibility listener receives "0" 2 times and after a second receives  "8"(status GONE), please check the log section

Layout

[code]

Callback
[code]

Log
[code]

[code]

I have checked this link,

[2022-09-22 23:24] nuwins-purdue opened #10645 "ExoPlayer not able to achieve Target Latency"
Hi, We are testing ExoPlayer with our hosted low latency stream. We are also comparing it with the industry-standard Dash.Js player. We observe that ExoPlayer cannot catch the target latency and always stays behind for 2-3 seconds. At the same time, the Dash player is able to catch up with the target latency. I am attaching the snapshot of the hosted stream. The stream can also be shared through e

[2022-09-22 23:27] imranbuet63 commented on #10645
We wanted to know what can be tweaked on the player side/stream for the player to achieve better latency. Also some explanation of what is going wrong with the current setup will be very helpful.

[2022-09-23 06:53] He12345678901 opened #10646 "clarification about Dolby Atmos support in exoplayer DASH playout"
Unfortunately we can't answer all questions. Unclear questions or questions with
insufficient information may not get attention.

Before filing a question:
-------------------------

- Ask general Android development questions on Stack Overflow
- Search existing issues, including issues that are closed
  https://github.com/google/ExoPlayer/issues?q=is%3Aissue
- Consult our developer website (https

[2022-09-23 07:16] He12345678901 commented on #10646
Hi,
I'd like to clarify please whether ExoPlayer (version 2.13.2) requires some specific Tags in the mpd manifest in order to play an asset/content with Dolby Atmos Audio (5.1) ? I have content encoded with the Atmos Identification Verified: EAC3 ATSC descriptor (tag 0xCC) and its mpd manifest containing the following adaptation set, tag value and codec - please review :
  </AdaptationSet>

[2022-09-23 07:19] He12345678901 commented on #10646
those are the manifest parameters to be reviewed:

 </AdaptationSet>
        <AdaptationSet id="3" group="2" bitstreamSwitching="true" segmentAlignment="true" contentType="audio" mimeType="audio/mp4" lang="und">
            <AudioChannelConfiguration schemeIdUri="tag:dolby.com,2014:dash:audio_channel_configuration:2011" value="f801"/>
            <ContentProtection schemeIdUri="urn:mpeg:dash:mp4pr

[2022-09-23 07:23] He12345678901 commented on #10646
[Dolby_Atmos_Manifest_parameters.txt](https://github.com/google/ExoPlayer/files/9631481/Dolby_Atmos_Manifest_parameters.txt)

please find in attached
are those manifest parameters sufficient for exoplayer to play and support Dolby Atmos (5.1) in DASH ? or there're any missing identifications in the manifest ?

[2022-09-23 07:26] He12345678901 commented on #10646
[UHD_Dolby_Atmos_MPD.txt](https://github.com/google/ExoPlayer/files/9631499/UHD_Dolby_Atmos_MPD.txt)

and here's with the full manifest file
please update
thanks

[2022-09-23 08:42] BucherTomas commented on #10513
Thank you for the feedback. Are the surface error messages somehow actionable from the app itself and do you think we can even affect the outcome from app layer? If it is a bug in the Pixel 2's platform, is there a workaround we can apply?

I did check already that it is not the L1 (HW_SECURE_ALL) license restriction itself for HD tracks as if I provide all video tracks encrypted in the stream wit

[2022-09-23 09:44] 326406750 commented on #10285
we meet exactly the same problem
top1 error is "com.google.android.exoplayer2.mediacodec.MediaCodecDecoderException: Decoder failed: c2.android.aac.decoder"
top2 error is "com.google.android.exoplayer2.video.MediaCodecVideoDecoderException: Decoder failed: OMX.MTK.VIDEO.DECODER.AVC"

We cannot reproduce locally, but from the some user's log, We found that after a few seconds of the error, the user

[2022-09-23 13:09] sravan1213 opened #10647 "Exoplayer crashing when DefaultAudioSink$AudioTrackBufferSizeProvider is used"
### ExoPlayer Version

2.18.0

### Devices that reproduce the issue

ALL

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Yes

### Reproduction steps

Set `setAudioTrackBufferSizeProvider` of `DefaultAudioSink` with `DefaultAudioTrackBufferSizeProvider`

### Expected result

`setAudioTrackBufferSizeProvider` should function as expected `AudioTrackBuff

[2022-09-24 01:58] nuclearmagneton commented on #10310
Any update on this?

[2022-09-24 13:47] ivan12312312 opened #10648 "Not hide seekbar on locksreen notification after set METADATA_KEY_DURATION equal -1"
### ExoPlayer Version

2.18.1

### Devices that reproduce the issue

samsung s22 android 12

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Not tested

### Reproduction steps

insert code
[code]

### Expected result

seekbar not view on lockscreen

### Actual result

![lockscreen](https://i.ibb.co/C5MqWFH/photo-2022-09-24-21-43-36.jpg)
![after locksc

[2022-09-25 00:50] Usman-Click commented on #10476
Hello @tonihei sorry about my inactivity

As i said... i updated the code but still its not playing

These are my implementations
![Screenshot 2022-09-25 013837](https://user-images.githubusercontent.com/47116342/192123453-852a3745-9574-4b52-8799-3f94189f0580.jpg)

Player instance
![Screenshot 2022-09-25 015253](https://user-images.githubusercontent.com/47116342/192123661-e2fae7b9-2b26-45d9-ba28-f

[2022-09-25 13:22] He12345678901 commented on #10646
Hi
Any update please ?

[2022-09-25 13:53] marcbaechinger commented on #10310
Sorry, I haven't reference the commit in this issue. This landed on dev-v2 with this change:
https://github.com/google/ExoPlayer/commit/759de7d6120b5cfd4f5198122c1217ab05c0aade

I'm closing this issue. Please let me know if you think there is something missing. Thanks.

[2022-09-25 13:53] #10310 closed, assigned to marcbaechinger

[2022-09-26 07:54] okycelt opened #10649 "ExoPlayer fails to play MPD served by a PHP web app"
### ExoPlayer Version

2.18.1

### Devices that reproduce the issue

* Pixel 3a (Android 12L)
* Pixel 6 emulator (Android 12L)

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Yes

### Reproduction steps

We have the same content (MPD) which is served from two endpoints. From the first endpoint the content plays as expected, but from the second endpoi

[2022-09-26 08:48] tonihei commented on #10476
It's still working for me, also using code similar to yours. I suspect you are somehow not loading the same file you've sent us (`Sample-AVI-Video-File-for-Testing.avi`) or you are using an old version of ExoPlayer before AVI support was added. If you copy the file from the email to your device and use a local Uri (something like `/sdcard/Download/Sample-AVI-Video-File-for-Testing.avi`), then you

[2022-09-26 08:59] WildOrangutan opened #10650 "Notification "large icon" low quality"
Hey,

I'm trying to use "large icon" for notification image with media session extension. When I image is set to notification, it has very low quality.

My image resolution is good enough ([4k](https://images5.alphacoders.com/912/912442.jpg)) and above notification size limit (320x320 dp).

I thought this was due to notification size limit, but it seems like there's a way, since other apps can do

[2022-09-26 10:20] marcbaechinger commented on #10650
This is a duplicate of  https://github.com/androidx/media/issues/168

[2022-09-26 10:20] #10650 closed, assigned to marcbaechinger

[2022-09-26 10:30] marcbaechinger commented on #10649
If a DASH URL does not end with the `mpd` file extension, you need to set the mime-type of the media item:

[code]

I'm closing this issue. Please re-open if you think this is required.

[2022-09-26 10:30] #10649 closed, assigned to marcbaechinger

[2022-09-26 10:50] pineapplevine opened #10651 "TimeOut by setting the setAdPreloadTimeoutMs method."
Hello.
I don't understand the behavior when TimeOut is set with the setAdPreloadTimeoutMs method of the ImaAdsLoader.Builder class.

- When the parameter (adPreloadTimeoutMs) specified in the setAdPreloadTimeoutMs method is a small value (100 or 200).

  When the network is unstable preloadTimeoutMs judgment is executed just before ad playback in rare cases (no ads play).
  However there is no "Ad

[2022-09-26 11:07] marcbaechinger commented on #10648
The `MediaDescriptionCompat` that you return with the `TimelineQueueNavigator` is used for the queue item in the queue only. The `extrasa` that you passed there with the duration is not used as you intend it.

You can instead use a `MediaMetadataProvider` and set it with `MediaSessionConnector.setMetadataProvider(provider)`. You may want to look into the [default implementation](https://github.com

[2022-09-26 11:07] #10648 closed, assigned to marcbaechinger

[2022-09-26 14:20] farkasadam opened #10652 "MediaCodecVideoDecoderException"
### ExoPlayer Version

2.17.1

### Devices that reproduce the issue

Example:
* OnePlus 7T running Android 11

### Devices that do not reproduce the issue

Example:
* Samsung S20+ running Android 12

### Reproducible in the demo app?

Not tested

### Reproduction steps

1. Play the asset
2. Player stops with error code 4003

(On most of the devices we don't have this issue. We have 3 environments,

[2022-09-26 14:36] marcbaechinger commented on #10645
I assume @nuwins-purdue and @imranbuet63 are both reporting separate issues.

For looking into any of your issues, we would need more information to understand the issue and making it actionable for us. So  when asking about what is going wrong with the current setup, we would need to know what current setup.

a) Best would be a test stream so we can look into the behaviour of the player for these

[2022-09-26 14:54] imranbuet63 commented on #10645
@marcbaechinger  I shared the stream over email. It can be accessed from any network. You can tag my account @imranbuet63 for further communications. We noticed two behaviors:

1. We are logging the targetOffsetMs on the player and noticed that it never reaches 3s latency which is configured on the mpd.
2. We also noticed that the player starts with the highest resolution 1920x1080 and immediately

[2022-09-26 14:57] marcbaechinger commented on #10647
Thanks for reporting!

Can you please elaborate on your reproduction steps?

When I add the following line in `DefaultRenderersFactory:L668` as you describe and I then start the demo app, I can't see any issues:

[code]

If I understand correctly that's the reproduction scenario you are describing above. With this I can not repro.

The stack trace that you pasted actually ends where it gets intere

[2022-09-26 15:52] marcbaechinger commented on #10645
@imranbuet63 Thanks!

I think from the manifest that you sent to our mailbox, it looks like that you are having the  `ServiceDescription` element in the manfiest set to something like this:

[code]

This makes the max and min playback speed set to `C.RATE_UNSET`. With this the playback speed is always set to 1 which is unit speed. When we join a live stream we can not start at the position that wo

[2022-09-26 16:33] imranbuet63 commented on #10645
@marcbaechinger  We tried this:

`MediaSourceFactory mediaSourceFactory =
          new DefaultMediaSourceFactory(dataSourceFactory)
              .setLiveMinSpeed(0.99f)
              .setLiveMaxSpeed(1.09f)
              .setAdsLoaderProvider(this::getAdsLoader)
              .setAdViewProvider(playerView);`

The results are still not satisfactory. The targetMsOffsetMs starts with ~5 sec and tak

[2022-09-26 17:06] marcbaechinger commented on #10644
I don't see the timings in your log, but from what you report and from what I see in the demo app, I think this is working as intended.

I think the listener is called multiple times with `0` (VISIBLE) while the animation is running and then finally sends an `8` for `GONE` or `0` (VISIBLE) at the end of the animation.

Can you clarify how the log lines in your example correlates to actual user int

[2022-09-26 17:32] marcbaechinger commented on #10632
You can cache playlists in the same way as media files. The player will later try to access it and reads from the cache if the playlist is in the cache.

If you want to download the entire stream, you can use [`HlsDownloader`](https://github.com/google/ExoPlayer/blob/f1b37bc547e7194354fe31e240afa8a8fb0b5c6c/library/hls/src/main/java/com/google/android/exoplayer2/source/hls/offline/HlsDownloader.ja

[2022-09-26 22:52] whyvas opened #10653 "How to get the actual video's view vice the playerView?"
I am trying to setup a view to overlay boxes that tensorflow returns in the form of bounding boxes. The problem is it's returning the bounding box positions based on a the playerview's size which includes grey bars if the aspect ratio of the video doesn't match the view's aspect ratio exactly so everything is a little offset. Is there a way to get a view of the actual video surface vice the player

[2022-09-27 02:12] ogawa-ma commented on #10567
@rrfrias
The same error is occurring on the XQ-BT44(Android 12) and SO-52B(Android 12), and a user provided me with the information on the DRM info app, which we will share.
<img src="https://user-images.githubusercontent.com/54785318/192415130-1a330ef9-8ba5-4c30-8da9-1e1763d6fa12.png" width="40%" /> <img src="https://user-images.githubusercontent.com/54785318/192416685-ca39e446-001c-44ee-9f68-294

[2022-09-27 02:43] Aryan-dvlp2 commented on #10632
Thanks For your reply.
But now I am successful able to PreCache the video with HlsDownloader for
some seconds.

On Mon, 26 Sep, 2022, 11:02 pm Marc Baechinger, ***@***.***>
wrote:

[2022-09-27 11:26] karamgharam opened #10654 "cardborad button (VR)"
I have 360 video and its work using Spherical View type
but how  I can add button to make my video as cardboard like YouTube  or like image that attached below
exoPlayer v 2.15.1
thanks

![Screenshot_20161226-121837 - Copy](https://user-images.githubusercontent.com/5176909/192513238-f0a7f374-2483-4f11-9424-e3794c1ad801.png)

[2022-09-27 15:04] mattrob33 opened #10655 "CastPlayer metadata"
In my `ExoPlayer` instance I am parsing some custom timings data embedded in the MP3's ID3 tags, which I extract upon receiving a call to `Player.Listener.onTracksChanged`. I am not seeing any way at this for a `CastPlayer` instance though. Is there any way to get this data from a `CastPlayer`?

For context, I am extracting this with my `ExoPlayer` via `tracks.groups[0].getTrackFormat(0).metadata`

[2022-09-27 23:04] marcbaechinger commented on #10655
When you play locally, ExoPlayer extracts the metadata from the media and makes them available in the `Format` of the track like you say. With `CastPlayer`, playback happens in the web receiver app that is running on the cast device.

The Cast SDK for Android has a [`MediaTrack`](https://developers.google.com/android/reference/com/google/android/gms/cast/MediaTrack)s. We transfer these into the Me

[2022-09-28 06:57] manoj-telxsi opened #10656 "Does Exoplayer supports Source-specific multicast (SSM) for UDP playback"
Right now we are using Exoplayer for UDP playback using Progressive Media. We wanted to know if the Exoplayer supports SSM for this.
 @marcbaechinger

[2022-09-28 07:36] sravan1213 commented on #10647
@marcbaechinger thanks for the revert.

I have checked this issue again. it is not reproducible when I use JAVA custom MediaRendersFactory. When I use Kotlin it is reproducible. I have sent bugreport via email. plz check

[2022-09-28 07:44] jose-a-rodrigues-alb commented on #10598
@icbaker it's because of the $ in the url, if you replace it with %24, or use single quotes instead of double quotes it will work
Sorry for not warned you about it.

If you need more help please ask.

[2022-09-28 07:50] He12345678901 commented on #10646
Hi
Any update please ?

[2022-09-28 09:00] ayushkumarofficework commented on #10285
Hello everyone,

I have devised a way to reproduce this issue everytime. Suppose we have two OTT platforms in our device A and B.
Device Used One Plus Nord 2

Steps to reproduce -
1. Play something in OTT A.
2. move the OTT A to Picture and picture mode.
3. Now open OTT B while OTT A is playing in PIP mode.
4. Play something in OTT B .
5. PIP MODE of OTT A will pause playing.
6. We will face this

[2022-09-28 09:23] danielgliga3ss opened #10657 "Playback buffering on live ad insertion streams"
### ExoPlayer Version

2.17.1

### Devices that reproduce the issue

We often see buffering while playing ads on Live streams. Usually the buffering happens at the advert start or the end of the ad break.
In some cases, the BUFFERING is very short, only a few hundred milliseconds.

### Devices that do not reproduce the issue

The bug report is from an SEI Robotics SEI700TE device (https://www.andr

[2022-09-28 10:04] icbaker commented on #10598
The provided URL still returns 403 when I manually switch the `$` with `%24`. Please provide a working repro URL (ideally one I don't need to manually adjust before using it :)).

[2022-09-28 10:09] fmatosqg opened #10658 "What's the name of the tool to split the mono repo into YouTube and exoplayer?"
On Adb podcast episode 189 with @marcbaechinger and Tony, at 23 min, they mention an open source tool called ( copy barrel ???) used to split a mono repository into 2 repositories.

I'd like to know the proper name/link of such tool, since it seems I got the name wrong.

Also keen to hear about any other similar tools.

* Episode link (115 MB): https://traffic.libsyn.com/secure/adbackstage/ADB189_

[2022-09-28 10:14] jose-a-rodrigues-alb commented on #10598
Hi,
Sorry the old one expired.
I've sent a new one by email.

[2022-09-28 10:34] marcbaechinger commented on #10658
The tool we are using internally to do source transformations is called Copybara.

Here is the GitHub repo:
https://github.com/google/copybara

[2022-09-28 10:44] icbaker commented on #10598
The new media link resolves.

I introduced the described track selections using `RandomTrackSelection.Factory` by adding the `setTrackSelector` line below in `PlayerActivity.initializePlayer`:

[code]

I started the sample a few times until it started on the 1920x1080 track, then I waited for it to switch resolution. I didn't see any video hang or playback errors. I was doing this on a Pixel 5 run

[2022-09-28 11:13] marcbaechinger commented on #10657
The URIs sent give me a HTTP/400 for the media and a HTTP/500 for the license with curl and with the player I'm afraid.  Can you check whether I'm doing something wrong?

So I wasn't able to look into your stream, but you have send a license URI as well. As a long shot I wonder whether the inserted ads are not encrypted while the content probably is. This would require the player to change codecs

[2022-09-28 12:23] shummakom commented on #10630
Hello,

I have tried to follow your advice and added default bitrate of 20M which is higher than my largest profile.
downswitching works ok but upswitching does not work at all

[2022-09-28 13:10] danielgliga3ss commented on #10657
Thank you for the quick response.
I will check with my team if it is possible to setup some test streams. Currently, it is hard to provide you test URIs, because these expire after a while and you also need to set a custom user-agent and to create a playback session (on the server side).

We have indeed unencrypted ads and encrypted content, but we have tried to set forceSessionsForAudioAndVideoTr

[2022-09-28 14:47] 0x41rtur commented on #7789
ping

[2022-09-29 01:04] #10564 closed, assigned to marcbaechinger

[2022-09-29 04:45] kshailes commented on #10535
@lsgfly I am facing similar issue in DASH where video get stuck after 1-2 minutes always? Any suggestion?

[2022-09-29 08:24] marcbaechinger commented on #10656
I don't think so. To be honest I don't know the details.

ExoPlayer has a `UdpDataSource` that is using a `MulticastSocket`. I don't think that this socket supports SSM. If you can point us to how this can be implemented in Java, then I can make this issue an enhancement. I can't give you promises when we would do something like this though. because I think this would be rather low-prio.

You can

[2022-09-29 09:53] marcbaechinger commented on #10658
I'm closing this issue. Please re-open if you have further questions.

[2022-09-29 09:53] #10658 closed, assigned to marcbaechinger

[2022-09-29 10:31] lazycatsoft opened #10659 "Ignoring flags FLAG_DETECT_ACCESS_UNITS, FLAG_ALLOW_NON_IDR_KEYFRAME"
Hi,
In 2.18.1 when trying to turn on the flags FLAG_DETECT_ACCESS_UNITS, FLAG_ALLOW_NON_IDR_KEYFRAMES they are ignored by the creation of H264Reader (I see it in debugging mode)

DefaultTsPayloadReaderFactory.java
line 172:
[code]

Use option:

[code]

In this regard, the question, are FLAG_DETECT_ACCESS_UNITS, FLAG_ALLOW_NON_IDR_KEYFRAMES flags are now not supported?

[2022-09-29 11:16] Usman-Click commented on #10476
okay @tonihei

As you said it may be do to two reasons

1- Not loading the same file I've sent to you (Sample-AVI-Video-File-for-Testing.avi).
     Well for that reason I'm loading the same file that I've sent to you (Sample-AVI-Video-File-for-Testing.avi)

2- I'm using an old version of ExoPlayer before AVI support was added.
     For that one:

These are the instructions that i used ( I cloned i

[2022-09-29 11:17] victor-munoz opened #10660 "IMA | How to intercept the ad request?"
Hello Team,

I found that the IMA extension fails to reproduce some ads because of problems with the VAST XML...Is there a way to intercept the ad request? I am thinking of something like an `addNetworkInterceptor.`

That would be very helpful to make corrections on knowing errors in the VAST XML so the IMA extension can reproduce them successfully.

Best,

Victor

[2022-09-29 11:47] tonihei commented on #10476
Given we can't really reproduce it and the provided file seems to play fine, I will keep this issue closed. If you can think of something else that may make a difference, feel free to reopen.

[2022-09-29 15:17] marcbaechinger commented on #10660
The IMA extension is using the IMA SDK under the hood that requests the VAST file. The ExoPlayer extension only gets the ad events emitted by the SDK.

So if there was such an option to intercept the request, that would be part of the IMA SDK and the interceptor would be in JavaScript. I doubt that the ExoPlayer IMA extension will/should expose such an API if there is one (which I do not know to b

[2022-09-29 15:30] marcbaechinger commented on #10653
I'm not aware of an API that would give you this information. But you can probably calculate this yourself.

There is an event that you can receive with a `AnalyticsListener.onVideoInputFormatChanged` that gives you the dimensions of the video that is currently playing:

[code]

When you have the dimension of the `View` you should be able to calculate the actual dimension on the surface.
Would tha

[2022-09-29 15:34] whyvas commented on #10653
Hmmm, so figure out the aspect ratio of the view compared to that of the
video and then adjust whichever axis isn't maximized? I think that'll work,
thanks!

Yves

On Thu, Sept 29, 2022, 11:30 Marc Baechinger ***@***.***>
wrote:

[2022-09-29 20:52] victor-munoz commented on #10660
Thanks very much for your answer

[2022-09-30 05:55] 247az opened #10661 "[Bug] MediaCodec: Codec reported err 0xfffffff4/NO_MEMORY on Android 13 devices"
### ExoPlayer Version

2.17.1
2.18.1

### Devices that reproduce the issue

* Pixel 4
* Pixel 4XL
* Pixel 4a
* Pixel 4a (5G)
* Pixel 5
* Pixel 5a

### Devices that do not reproduce the issue

Pixel 6
Pixel 6 Pro

### Reproducible in the demo app?

Yes

### Reproduction steps

1. Use the demo example of ExoPlayer: https://github.com/google/ExoPlayer/releases/tag/r2.18.1

3. Build the Demo and play

[2022-09-30 08:55] icbaker commented on #10661
This is a known issue in the Android 13 `MediaCodec` implementation [internal b/237656746]. It should be fixed in Android 13 QPR1, can you try installing or flashing a QPR1 beta build and see if you can still reproduce? https://developer.android.com/about/versions/13/get-qpr

[2022-09-30 08:56] icbaker commented on #10661
Ah it looks like the fix isn't included in QPR 1 Beta 1, which is the only one available publicly so far. It should be fixed in a subsequent QPR1 Beta release.

[2022-09-30 09:58] liangqiujuan opened #10662 "Enhance PS container parsing to detect more formats in private streams (e.g. PCM / DTS)"
### ExoPlayer Version

2.18.0

### Devices that reproduce the issue

Amlogic T982 running Android R

### Devices that do not reproduce the issue

none

### Reproducible in the demo app?

Yes

### Reproduction steps

1.adb install demo apk
2. push file to sdcard/Music/test.mpg
3. play with cmd:
adb shell am start -a com.google.android.exoplayer.demo.action.VIEW  -d  file:///storage/emulated/0/Music

[2022-09-30 10:01] liangqiujuan commented on #10662
The test file is 757M. I will find a way to upload it.

[2022-09-30 10:17] liangqiujuan commented on #10662
the download addr:  https://cowtransfer.com/s/2eccb975bdcd4c
after enter the net,  you can click "下载“，then the file will be download.  The picture is a screenshot.
![download](https://user-images.githubusercontent.com/80817127/193248844-29dd359e-1beb-4fd1-b493-7ee8d37e13c1.png)

[2022-09-30 12:08] karamgharam commented on #10654
@marcbaechinger please can help

[2022-09-30 15:22] Ascii91 opened #10663 "HLS/CBCS Widevine DRM Playback problem"
We have a problem playing HLS/CBCS Widevine DRM on Android using the ExoPlayer library.
It works fine with Android 11 and above but we are seeing the issues with random Android devices Android OS <= 10. Also we can reproduce this issue on Android emulators.

We’ve tried forcing software decoding and selecting different stream profiles but it didn’t help. It looks like the problem is related to the

[2022-10-01 22:12] sruditsky opened #10664 "Potential bug in calculation of trackBitrates in AdaptiveTrackSelection"
### ExoPlayer Version

2.17.1

### Devices that reproduce the issue

A proprietary device running Android 10

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Not tested

### Reproduction steps

This is not a user facing bug and it was noticed during debugging.
While an HLS playback is being established check (with a debugger or log) what is being summ

[2022-10-03 07:53] BucherTomas commented on #10162
May I please get a response to my previous question? Thank you.

[2022-10-03 08:50] He12345678901 commented on #10646
hi
any update please ?
thanks

[2022-10-03 10:38] #10614 closed, assigned to rohitjoins

[2022-10-03 10:39] #10628 closed, assigned to rohitjoins

[2022-10-03 10:39] #10616 closed, assigned to rohitjoins

[2022-10-03 12:41] christosts commented on #10630
What is your highest bitrate profile? The player will try to go up to approximately 75% of the reported bandwidth

[2022-10-03 13:26] alekssunsss opened #10665 "Failed to initialize decoder: OMX.TI.DUCATI1.VIDEO.DECODER"
### ExoPlayer Version

2.18.1

### Devices that reproduce the issue

Kindle Fire HD (3rd Generation)

### Devices that do not reproduce the issue

Samsung galaxy Tab E (Android 4.4),
Samsung Galaxy A5 (Android 8),
Amazon Fire HD 8 (10th Generation),
Amazon Fire HD 10 (11th Generation),
Samsung Galaxy Tab A7 Lite (Android 11)

### Reproducible in the demo app?

Not tested

### Reproduction steps

T

[2022-10-03 14:56] emveepee opened #10666 "CEA-608 with multiple tracks"
I have been able to force  CEA608 subtitles on mpegts streams and it is working as expected, but I have not found a way to force anything but the first  CC.  In the US there is often a Spanish stream and VLC is reporting these on CC-3 but I have tried setAccessibilityChannel(3) but there no subtitles, forcing  "sp" etc without success.

CCExtractor finds them with field 2 caption one which should

[2022-10-03 23:41] emveepee commented on #10666
I have been using the code with the debugger and it turns out the data is there when I force it but it isn't being displayed correctly.  It seems there is a conflict with the xds handling also on field 2, so this is more an issue then question.

I can get it almost working by not ignoring the xds data with

      if (!isCaptionValid  && isInCaptionService ) {

here https://github.com/google/ExoPla

[2022-10-03 23:46] 247az commented on #10661
@icbaker
I apologize for replying you late.
Thank you very much for confirming and responding to my problem.

But I have a question, so this problem is not related to the version of ExoPlayer ? It will probably be fixed after I update to the new version of the operating system ?

[2022-10-04 01:04] #10581 closed, assigned to icbaker

[2022-10-04 08:12] hungntv commented on #10418
@marcbaechinger thanks. You're my life saver!

=================================
Need to downgrade to 7.2.2??

`classpath 'com.android.tools.build:gradle:7.3.0'`

`Unused argument with users in com.google.android.exoplayer2.source.dash.manifest.DashManifest com.google.android.exoplayer2.source.dash.manifest.DashManifestParser.parseMediaPresentationDescription(org.xmlpull.v1.XmlPullParser, android.

[2022-10-04 09:03] icbaker commented on #10661
That's correct, you shouldn't see the problem on Android 12 and you shouldn't see it on Android 13 QPR1 either (when that's released). The only affected version is the original Android 13 release.

[2022-10-04 12:42] mpivchev opened #10667 "onMediaItemTransition not called when having a single media item with REPEAT_MODE_ALL"
Sometimes there are cases where even if we set to repeat a queue (`REPEAT_MODE_ALL`), we only have one track in the timeline. In that case I would assume that `Player.MEDIA_ITEM_TRANSITION_REASON_REPEAT` would trigger, since technically we are repeating the same track, but it doesn't seem like this is the case.

Here are the steps:
1. Have one track in a queue with `REPEAT_MODE_ALL` set.
2. Press

[2022-10-04 19:32] tonyv opened #10668 "Analytics: Getting time to video metric using getTotalJoinTimeMs or getTotatWaitTimeMs"
I'm trying to understand the amount of time it takes to start playing a live stream once playback has been initated in ExoPlayer. This is commonly referred to as Time to video (TTV).

I'm using the playbackStatsListener within the ExoPlayer Demo App to get this metric. My understanding is that [getTotalJoinTimeMs() ](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/analytics/Playb

[2022-10-04 20:17] Ascii91 commented on #10663
Same issue : https://github.com/google/ExoPlayer/issues/10462
Problem resolved by updating licence configuration.

[2022-10-04 20:17] #10663 closed, assigned to nobody

[2022-10-04 22:17] marcbaechinger commented on #10653
I'm closing this issue. Please re-open if needed.

[2022-10-04 22:17] #10653 closed, assigned to marcbaechinger

[2022-10-04 22:18] marcbaechinger commented on #10660
I'm closing this issue. Please re-open if needed.

[2022-10-04 22:18] #10660 closed, assigned to marcbaechinger

[2022-10-05 00:17] emveepee commented on #10666
I found another issue in the code on the test for the control byte https://github.com/google/ExoPlayer/blob/ab4d37f499ba49bb3cac7938eb03ebf7133ccfe6/library/extractor/src/main/java/com/google/android/exoplayer2/text/cea/Cea608Decoder.java#L876 doesn't meet spec.  On field 2 the control byte is 0x15

[2022-10-05 01:04] #10566 closed, assigned to tonihei

[2022-10-05 09:17] efrop12 opened #10674 "MediaCodecAudioRenderer error when play live SmoothStreaming content"
When we play live content in Smooth Streaming, sometimes we are having problems with the audio media codec. The error we get is the following:

android.media.MediaCodec$CryptoException
MediaCodecAudioRenderer error, index=1, format=Format(0, audio101_spa, audio/mp4, audio/mp4a-latm, null, 96000, es, [-1, -1, -1.0], [2, 48000]), format_supported=YES | 11 | 1127 | 1138
MediaCodecAudioRenderer error,

[2022-10-05 13:12] tonihei commented on #10668
I think you are very likely looking for the "join time", which only includes the time until the playback starts for the first time. "Wait time" includes all times where playback was blocked, for example it also includes rebuffers.

The difference between `getTotalJoinTimeMs` and `totalValidJoinTimeMs` is that the "valid" time is filtered by cases where playback was joining in the background (=it w

[2022-10-05 16:57] malbanese commented on #8039
We also faced problems with users not being able to playback widevine / drm protected content on our app. We've only been able to observe it happening via issues raised through our customer care team, and haven't seen it on any dev devices.

The symptoms were the same - not being able to playback protected content in our app, other apps work fine, and all of the usual steps like reinstalling didn'

[2022-10-05 17:04] icbaker commented on #10585
Duplicate of #9408

[2022-10-05 17:04] #10585 closed, assigned to icbaker

[2022-10-05 17:05] icbaker commented on #10597
Closing due to inactivity

[2022-10-05 17:05] #10597 closed, assigned to icbaker

[2022-10-05 17:05] icbaker commented on #10559
Closing due to inactivity.

[2022-10-05 17:05] #10559 closed, assigned to icbaker

[2022-10-05 17:11] icbaker commented on #10635
This looks like an issue in the OS, rather than the library. Are you able to reproduce it locally with the demo app? Does it reproduce on any recent Pixel devices?

[2022-10-05 17:46] icbaker commented on #10537
Sorry it's taken me a while to look into this. I agree that the URL you've provided doesn't play successfully.

I was looking a bit further into it and the URL started completely timing out - would you be able to see if the server is still up and healthy?

It's **really** helpful having a repro example like this, and again sorry for not getting round to using it until just now.

[2022-10-05 18:50] gb103 commented on #10576
I can reproduce this issue on Realme C11 2021 device easily, whenever I pause the video, in next 5 seconds Decoder failed error comes. it is similar to https://github.com/google/ExoPlayer/issues/10485

Here are the logs attached.

[live_issue.txt](https://github.com/google/ExoPlayer/files/9718218/live_issue.txt)

[2022-10-05 20:41] joseandroidengineer opened #10675 "RTSP Over HTTP Tunneling"
Hi all,

Been using ExoPlayer for a while now and I'm experimenting with the idea of RTSP over Http Tunneling. Does Exoplayer support this?

If so, how can I configure the player so that its properly handled.
Thank you

[2022-10-05 22:39] imranbuet63 commented on #10645
@marcbaechinger  We tried a couple of things and we have the questions below:

1. We tried to observe the player behavior with one of the publicly hosted streams on Akamai server. We noticed that the player always starts playback with the player.getCurrentLiveOffset() == 4+ seconds. Even though the manifest sets the target latency == 3 sec. The player then takes around a minute to catch up to the

[2022-10-06 01:05] #10590 closed, assigned to icbaker

[2022-10-06 07:23] menscikov opened #10676 "Unable to open TS video stream"
### ExoPlayer Version

2.18.1

### Devices that reproduce the issue

Redmi Note 12 running Android 12

### Reproduction steps

Please open the attached video stream.

### Expected result

The video stream must open immediately.

### Actual result

Video sometimes is loading, but in 90% it won't open, will load indefinitely without any errors.

### Media

https://www.mediafire.com/file/nezv45mp1m3o

[2022-10-06 09:08] icbaker commented on #10576
@gb103 Looks like a duplicate of #9256.

[2022-10-06 09:26] icbaker commented on #10537
I've done a bit more digging through ExoPlayer's HTTP-handling code and concluded roughly:
* ExoPlayer supports partial-content responses only in response to explicit range requests. This is useful for e.g. seeking halfway along a 10GB file, because we can ask the server to only send us the second 5GB.
* In the repro case here, we're trying to play a file from the beginning, and we don't make a ra

[2022-10-06 09:31] icbaker commented on #10556
I'm afraid we need media we can use to reproduce the problem in order to investigate this, probably a link to a stream hosted somewhere. Please either upload it here or send to dev.exoplayer@gmail.com using the subject `Issue #10556`. Please also update this issue to indicate you’ve done this.

[2022-10-06 09:31] icbaker commented on #10602
Closing due to inactivity.

[2022-10-06 09:31] #10602 closed, assigned to icbaker

[2022-10-06 09:38] Xlcghs commented on #10556
I have investigated the problem, in fact it is a problem in the stream.
I will close the ticket

[2022-10-06 09:39] #10556 closed, assigned to icbaker

[2022-10-06 10:27] kotucz opened #10677 "onAdPlaybackState: The number of AdPlaybackState#adGroupCount ad groups may not change after the first call"
The above is stated in the documentation of `AdsLoader.EventListener.onAdPlaybackState`.
Implementing new loading of ads as follows:
- Prerolls are loaded from VAST and set `AdPlaybackState` with single preroll ad group, before the playback starts.
- Later, midrolls are loaded from VMAP and added to `AdPlaybackState` using `withNewAdGroup`.
- Then updating `AdsMediaSource.onAdPlaybackState` crashe

[2022-10-06 13:11] tonihei commented on #10666
Thanks for investigating this. As you noted, the different accessibility channels should be supported, but it sounds like there might be bug. Can you share the stream you are using with us? Otherwise it's hard to reproduce and to fix. You can also send a link to dev.exoplayer@gmail.com with "Issue #10666" in the subject if you don't want to post here.

[2022-10-06 13:14] tonihei commented on #10676
I tried to play this link 5 times in a row and it always started playing for me. If this reproduces in the ExoPlayer demo app for you, please note any changes you may have done.

Aside: the actual video has lots of green decoding artefacts on the Pixel 4 I tested with.

[2022-10-06 13:17] tonihei commented on #10674
This seems to be related to the DRM content protection. We'd need a full bugreport and ideally test media to investigate further. You can send links to dev.exoplayer@gmail.com with "Issue #10674" in the subject if you don't want to post here.

As a first step, I would also suggest looking at the reported errors in logcat in case the error already contains enough information to tell you what's wron

[2022-10-06 13:22] tonihei commented on #10665
According the logs you provided, the MediaCodec on the device should support the media format you are trying to play (`format_supported=YES`). If codec initialization still fails, then this is a device-specific issue you'd need to report to Amazon.

[2022-10-06 13:22] #10665 closed, assigned to tonihei

[2022-10-06 13:32] tonihei commented on #10664
The HLS spec requires every #EXT-X-STREAM-INF tag to have the BANDWIDTH tag defined. See https://datatracker.ietf.org/doc/html/draft-pantos-hls-rfc8216bis#section-4.4.6.2:  _Every EXT-X-STREAM-INF tag MUST include the BANDWIDTH attribute._

This value eventually ends up in the track bitrates. In addition, ExoPlayer has safeguards to only include tracks with a defined bitrate in adaptive track sele

[2022-10-06 13:38] icbaker commented on #10500
Closing this because all the streams provided failed to load. If you're still experiencing this please re-open with a non-time-limited stream that is globally accessible that we can use to reproduce..

[2022-10-06 13:38] #10500 closed, assigned to icbaker

[2022-10-06 13:41] icbaker commented on #10488
I think this is just not implemented for SmoothStreaming streams. I'm switching this to an enhancement, but as noted above we have no plans to implement this support.

[2022-10-06 13:43] icbaker commented on #10638
Closing due to inactivity.

[2022-10-06 13:43] #10638 closed, assigned to icbaker

[2022-10-06 13:43] tonihei commented on #10677
There is nothing wrong with adding new ad groups to the list in theory. `AdsMediaSource` just doesn't support it yet because it was written with the IMA-specific ads loader in mind that always loads all ads upfront.

To support adding new ad groups, we need to update some state tracking in `AdsMediaSource` that currently doesn't handle this case. If you are sufficiently motivated to have this feat

[2022-10-06 13:43] #10677 closed, assigned to tonihei

[2022-10-06 13:57] emveepee commented on #10666
@tonihei I sent the link.  This file has CC's in field 1 and field2 also with xds data.   Here is the spec

[code]

[2022-10-06 14:10] menscikov commented on #10676
@tonihei thank you for testing.
I tried demo app, i can confirm that it's working there, but sound is missing. So the problem is with the audio codec.
In my app I'm using `DefaultRenderersFactory.EXTENSION_RENDERER_MODE_PREFER` or `DefaultRenderersFactory.EXTENSION_RENDERER_MODE_ON`. And with this setting turned on the video won't load.

[2022-10-06 14:17] menscikov commented on #10676
@tonihei, the user who sent me this video, attached this screenshot with media data (audio codec).
He said that audio codec with PID 257 can't be played in ExoPlayer.

![audio_codec](https://user-images.githubusercontent.com/45258003/194336915-34966578-d106-4e9b-b941-cf9520fc9e89.png)

[2022-10-06 14:32] icbaker commented on #10410
It's not clear from your report how you're currently building the notification. I played the stream provided in the demo app and I saw the title emitted via an `IcyInfo` entry in `Player.Listener.onMetadata` - so you could subscribe to that to update your notification.

I was also able to get the `IcyInfo` to come out of `Player.Listener.onMediaMetadata` (which is easier to consume because you don

[2022-10-06 14:32] dbaelz opened #10678 "Argument check in ImaUtil#updateAdDurationInAdGroup infrequently fails when using IMA extension"
### ExoPlayer Version

2.18.1

### Devices that reproduce the issue

The issue occurs infrequent on some devices based on Crashlytics logs. We were able to trigger it on two devices (marked with an asterisk). All other test devices played the same stream with the same ad insertion without any issues. Also, the crash doesn't happen on every ad insertion and right now we can't identify a pattern or

[2022-10-06 14:38] tonihei commented on #10667
Thanks for reporting! This is not expected and it should send `onMediaItemTransition`. The reason should probably be `MEDIA_ITEM_TRANSITION_REASON_SEEK` though.

[2022-10-06 15:20] marcbaechinger commented on #10678
Thanks for reporting. We are aware of this issue in case this is a live stream with prefetch enabled. For such stream it can happen that the number of ads in an adPod is increasing. Can you confirm this is the case for the stream with which you are seeing this?

[2022-10-06 16:36] jose-a-rodrigues-alb commented on #10598
@icbaker so far i could only reproduce the issue on that device. If i'm able to reproduce it in another device i'll let you now.
Thank you

[2022-10-06 17:22] fourofspades commented on #10410
Perhaps I'm missing something here.  The Demo app doesn't seem to implement notifications.  And it's the wiring of exoplayer to android subsystem that is causing me the main.

I'm implementing PlayerNotificationManager.MediaDescriptionAdapter to handle my notifications, and my code looks like this:

https://pastebin.com/fzkkEKNJ

I can't find any code that correctly maps Android notifications to a

[2022-10-06 18:37] emveepee commented on #10676
Works ok here

10-06 14:33:03.044 18619 18619 D EventLogger:     [X] Track:0, id=2040/2042, mimeType=audio/mpeg-L2, channels=2, sample_rate=48000, supported=YES

Maybe that player needs ffmpeg?

[2022-10-06 18:58] menscikov commented on #10676
It's strange, maybe your Pixel 4 device has better compatibility.
I have ffmpeg. Using version 4.4 at this moment in my app. Maybe i have to try with older ffmpeg version.

Is it opening without any issues? For example 5 times in a row? Or you have to wait long time before it will load?
On my phone it's opening 1 time from 5. And i have to wait about 30 seconds before it will load.
Without sound i

[2022-10-06 19:46] emveepee commented on #10676
I was testing from an Android box with my ExoPlayer client but a/v seems good  https://imgur.com/a/MvHnAeF (audio needs to be turned on with the speaker icon)

[2022-10-07 08:58] maanich opened #10679 "we need support for ac3 audio codec"
i am looking for support for the audio codec in our android app can't find a solution for exoplayer to work with ac3 codec with no sound in android devices.

[2022-10-07 09:15] icbaker commented on #10410
Your implementation of `MediaDescriptionAdapter.getCurrentTItle` looks roughly right, and when I try this it shows the song title in the notification:

[code]

This only works because I'm not setting `MediaMetadata.title` when configuring the `MediaItem` (as described above). If this value is set at this point, then the title from the stream is ignored.

[2022-10-07 09:20] tonihei commented on #10679
Some devices support ac3, but it depends on the available codecs on the device. You can also have a look at the Ffmpeg extension for a software codec solution that can be added to devices that support it by default.

[2022-10-07 09:20] #10679 closed, assigned to tonihei

[2022-10-07 09:23] maanich commented on #10679
Thanks for quick reply  is it possible to get ac3 support from your side in exoplayer .Most Chinese boxes don’t have ac3 support and you need to do it by your self. we are happy to pay if you will support us in making ac3 audible in our app. Sent from Mail for Windows From: toniheiSent: 07 October 2022 10:20To: google/ExoPlayerCc: maanich; AuthorSubject: Re: [google/ExoPlayer] we need support for

[2022-10-07 09:45] tonihei commented on #10679
Please have a look at the Ffmpeg extension as suggested above. We unfortunately can't help you to debug/build your app directly.

[2022-10-07 09:54] tonihei commented on #10676
I'm assuming you are both using the Ffmpeg extension for the audio. If it's working for @emveepee, maybe something is misconfigured in your Ffmpeg build (@menscikov)?  If it's down to configuring Ffmpeg, that's not really part of our expertise. We are happy to help if you think something in our integration layer isn't working as it should.

[2022-10-07 10:00] menscikov commented on #10676
@tonihei i will try to compile ffmpeg 4.2 version, because it's recommended here [ffmpeg extension](https://github.com/google/ExoPlayer/tree/release-v2/extensions/ffmpeg). Will see if it helps.
Is there any plans to update ExoPlayer ffmpeg extension version to 5+? It's already released by ffmpeg.

[2022-10-07 10:04] tonihei commented on #10675
I don't think this is supported by default, but you may be able to set this up yourself by passing our own `SocketFactory` to `RtspMediaSource`.

[2022-10-07 10:07] maanich commented on #10679
If you please guide me any link regarding ac3 n ffmoeg pleaseSent from IphoneOn 7 Oct 2022, at 10:46 am, tonihei ***@***.***> wrote:﻿
Please have a look at the Ffmpeg extension as suggested above. We unfortunately can't help you to debug/build your app directly.

—Reply to this email directly, view it on GitHub, or unsubscribe.You are receiving this because you authored the thread.Message ID: ***@

[2022-10-07 10:12] tonihei commented on #10662
The format isn't supported by the device you are trying to play it with. There is not much we can do about it I'm afraid. The video is MPEG2 and the audio AC3, both are not widely available on mobile devices.

[2022-10-07 10:19] tonihei commented on #10651
The timeout starts when ExoPlayer triggers an ad load and times out if the IMA SDK doesn't reply with the required ad information. This is just a safeguard for cases where the SDK misbehaves (because it should just send us an error in all cases where the ad load fails), and i's there to ensure that playback doesn't get stuck due a misbehaving SDK.

If you set this timeout to a very low value (100/

[2022-10-07 12:04] tonihei commented on #10676
No immediate plans to update the extension. If you have insights into required changes when upgrading to version 5, feel free to send a PR.

[2022-10-07 12:46] emveepee commented on #10676
Yes I am using ffmpeg 4.2 it is trivial to install on linux follow the instructions.   Out of curiosity, I remember EventLogger displaying whether or not ffmpeg was being used but I don't see that anymore.  Is that option still available?

[2022-10-07 13:20] tonihei commented on #10676
@emveepee There should be `audioDecoderInitialized` logs with the name of the decoder. The ffmpeg ones look like `ffmpeg-<ffmpegVersionNumber>-<ffmpegCodecName>`.

[2022-10-07 13:55] emveepee commented on #10676
Thanks, it was easier see it before on the main selection but this lets me know too.  And yes it is using ffmpeg on this sample.
[code]

[2022-10-07 14:27] dbaelz commented on #10678
Yes, I can confirm that. It's a live stream and in the Google Ad Manager the ad break setting `Prefetch ad breaks` (as mentioned [here](https://support.google.com/admanager/answer/7294289?hl=en)) is activated.

Is there a workaround or timeline for a fix for this issue?

[2022-10-07 15:04] marcbaechinger commented on #10678
I can't give a more concrete timeline than soon, but we will update this issue when a fix lands on dev-v2.

The only workaround for now is disable pre-fetch I think.

[2022-10-07 15:11] tonihei commented on #10480
I think I close this issue as it seems more related to general Android developement. Built-in support for Compose is tracked by https://github.com/google/ExoPlayer/issues/9654.

[2022-10-07 15:11] #10480 closed, assigned to tonihei

[2022-10-07 15:12] tonihei commented on #10624
Closing because the question has been answered.

[2022-10-07 15:12] #10624 closed, assigned to tonihei

[2022-10-07 15:25] ThreeMinutesFix opened #10680 "Ffmpeg extention thorws error on running in my app"
I have build my arr file for FFMPEG extention support to support 5.1 audio on my app.
I use windows poweshell to generate  ffmepg files
but when i run the app it thows some error

Error Logs

[code]

my player initilization code:

[code]

extention integration as arr file :    `implementation files('libs/extentions.aar')`
Thankyou

[2022-10-07 15:46] tonihei commented on #10680
That doesn't seem to make sense because `LibraryLoader` is (and never was) final. It's an abstract class in fact.

Could it be that something in your build environment is going wrong? I'd suggest cleaning everything (caches in Android Studio, output files etc) and then rebuilding from scratch to see if it helps. If you think something is wrong in the library, please try to describe the reproductio

[2022-10-07 15:51] ThreeMinutesFix commented on #10680
ok i am currently installing Linux ubuntu(virtual machine)   for this purpose. i want more info like i need to install android studio and gits etc in my vmachine ubuntu?

[2022-10-07 15:53] ThreeMinutesFix commented on #10680
yes i try this also in mean time of linux downloading.  i following this guide  [guide1](https://github.com/google/ExoPlayer/blob/release-v2/extensions/ffmpeg/README.md)
[guide2](https://captaindroid.com/how-to-integrate-exoplayer-ffmpeg-extension/)

[2022-10-07 17:25] icbaker commented on #10666
Thanks for the test media and all the pointers - I've looked into this and think I've found two different issues:

1. As you pointed out, we're too strict in `isServiceSwitchCommand()`. I've fixed this by relaxing the check a little by ANDing with `0xF6` instead of `0xF7` so it works for both `0x14` and `0x15`. You can see this is already done in `isMiscCode` above.
2. Some of the packets in the f

[2022-10-07 17:33] emveepee commented on #10666
I agree that is why I made the two comments, the first got most of the subtitles with errors, the second and the CC-3 subtitles were cleaned up.

That comment wouldn't apply to xds pseudo channels though so if it isn't writing cc's then perhaps it is not a valid generalization for a "clear".  When it isn't xds data there is not different.  Certainly it works well with the change.

[2022-10-07 17:45] icbaker commented on #10666
It seems that every packet with invalid parity is the same, it's always `[0x8F, 0xD8]`. After we remove the parity bit, that's `[0x0F, 0x58]`. I think `0x0F` indicates this is a checksum packet (from CEA-608-E section 8.6.2):

It seems a) wrong that the sum would always be `0x58` (?) and b) wrong that this byte always has incorrect parity. Where did you get this file from? It seems like maybe the

[2022-10-07 17:50] icbaker commented on #10666
I added a more targeted workaround for this particular problem (checksum with invalid parity) and the file now shows subtitles. This is less risky than the larger parity change. I will send it for review internally and see what the team says.

The change adds this block before the `isCaptionValid` assignment near the top of `decode()`:

[code]

[2022-10-07 18:06] emveepee commented on #10666
I got the file from a user in the US, it would be CableCard cable data.  I know when I ran the file through CCExtractor all the checksums validated.  I will see if I can pinpoint the difference, it might be related to situations where two xds buffers are being used.  In the meantime I will change to your code to see what the users think.

[2022-10-08 03:10] liangqiujuan commented on #10662
Hi tonihei,
I think the fail reason is exoplayer parse the lpcm audio mime to ac3 or eac3.
please check it, thanks.

[2022-10-08 15:19] PaulCombal commented on #10537
It does for me. If this doesn't work out of the box in Chrome, it's normal, [there is a bug](https://bugs.chromium.org/p/chromium/issues/detail?id=1352179). Try opening it in VLC or Firefox and on my side it works just fine.

You are right, I was thinking of the data usage only; even if the  playback can start after the first milliseconds are loaded, the data will still be fetched. My apologies if

[2022-10-08 17:03] emveepee commented on #10666
I tried this  change and it doesn't clear the screen on silence the way it should.

[2022-10-08 18:37] sruditsky commented on #10664
![ExoPlayerIssue10664](https://user-images.githubusercontent.com/8403167/194722376-5e0acf99-2b24-41f7-8bd0-f1fa404c0356.png)

@tonihei
I just took an unmodified ExoPlayer 2.18.1 and ran the demo app with "Apple multivariant playlist advanced (FMP4)" sample.
As you can see on the attached image most of the checkpointBitrates values (other than the video one) are -1s.

[2022-10-08 20:01] alaegin commented on #9654
This is great example on how to implement ExoPlayer in Compose way
https://github.com/fengdai/compose-media

[2022-10-09 19:42] gb103 commented on #10285
On Realme RMX3231, I am able to produce this issue 100% time.
when I Pause the video, in next 5-6 seconds it causes Decoder failed exception but as soon as I change the quality from AUTO to HIGH and then again HIGH to AUTO and pause the video this time, then this issue does not happen..

[2022-10-09 20:53] kevdliu commented on #10661
Do you know of any workarounds we can implement on the application side to alleviate this bug (besides disabling seeking)?

[2022-10-10 04:25] gb103 commented on #10219
I am able to reproduce this issue with ABRSelctionFactory too on Realme RMX3231 100% time. is there any solution yet for this ?

[2022-10-10 07:45] alekssunsss commented on #10665
I`m sorry for additional question, but the same video plays well on the same device (Kindle Fire HD (3rd Generation) using another players (Prime photos and TotalCmd (Queue)). But when we try to play video using ExoPlayer sometimes we get error (Failed to initialize decoder: OMX.TI.DUCATI1.VIDEO.DECODER) or sometimes the video starts to play but FPS is very low (one frame per one second or maybe l

[2022-10-10 09:25] icbaker commented on #10661
I believe the problem occurs when seeks are too frequent. You may be able to implement logic in your app to mitigate this by intercepting calls to seek on your player and delaying consecutive seek calls for a short while.

You could do this with `ForwardingPlayer` (you need to ensure you override all `seek`-related methods). See more info: https://exoplayer.dev/customization.html#intercepting-meth

[2022-10-10 09:46] tonihei commented on #10664
Thanks, I see what you mean now. The tracks with NO_VALUE bitrate are not actually used for the selection, but they are used to calculate the total required bitrate. We'll update the code to fix this, but as you say, there shouldn't be any measurable impact on the algorithm itself.

[2022-10-10 12:22] 247az commented on #10661
@icbaker
Thank you for your reply,
But sometimes this error occurs when you do nothing (not only in case seeks are too frequent). When you play any content, and after playing for a while, it will happen.
There are cases when you change the bitrate it will happen as well.

[2022-10-10 14:55] sruditsky commented on #10664
@tonihei
Thanks!

Yes, this is not an issue for the performance of the algorithm in the field, but if somebody tries to predict the outcome of this algorithm based on a specific input, for example, for test purposes, this might be an issue.

[2022-10-10 15:00] christosts commented on #10661
@raku10dev
We are not aware of this issue happening on regular playback, i.e. with no seeking involved. Can you confirm that is exactly the same error (`0xfffffff4/NO_MEMORY`)? If the error is raised on regular playback, can you give us detailed information to reproduce, for example is this also reproducible on the demo app, and can you attach a bug report obtained from the device after the error

[2022-10-10 15:06] fourofspades commented on #10410
Hi, does this work in Google Assistant when you ask it's what's playing?  Does it show the correct track information on a bluetooth connection?  Does it show the correct track information on a Google Pixel lock screen?

I have spent another day running around in circles on this, and getting absolutely nowhere.  I can get a notification showing track and stream name, but I can't get it to propagate

[2022-10-10 15:53] christosts commented on #10646
ExoPlayer 2.13.2 can load the DASH manifest shared. Whether the audio is played depends on the device. You can test the manifest parsing with the [demo app](https://exoplayer.dev/demo-application.html) on your own, just make sure to checkout version 2.13.1 from the github repo, or whatever version your app is using. We always recommend using the latest version if possible.

When it comes to actual

[2022-10-10 15:53] #10646 closed, assigned to christosts

[2022-10-10 17:11] alekssunsss opened #10681 "Video plays at very low FPS on Amazon device"
### ExoPlayer Version

2.18.1

### Devices that reproduce the issue

Kindle Fire HD (3rd Generation)

### Devices that do not reproduce the issue

Samsung galaxy Tab E (Android 4.4),
Samsung Galaxy A5 (Android 8),
Amazon Fire HD 8 (10th Generation),
Amazon Fire HD 10 (11th Generation),
Samsung Galaxy Tab A7 Lite (Android 11)

### Reproducible in the demo app?

Yes

### Reproduction steps

This iss

[2022-10-10 17:36] jrw95 commented on #10591
@marcbaechinger we're seeing this same behavior, but with ExoPlayer 2.17.1. Is possible that this regressed earlier than 2.18.1? (or perhaps I'm seeing a variant of the behavior reported here, in which case I'll keep digging for a root cause to my problem)

In our case, we:
1. Make a connection to a receiver (the receiver is not currently playing any media)
2. Load a video into the player on the s

[2022-10-10 18:02] ericharlow opened #10682 "Stuttering audio when playing downloaded, encrypted dash content"
### ExoPlayer Version

2.18.1

### Devices that reproduce the issue

Samsung S7 edge running Android 8
Moto g power running Android 11

### Devices that do not reproduce the issue

Samsung s9 running Android 10
Samsung s10+ running Android 11
Pixel 4a running Android 13

### Reproducible in the demo app?

Not tested

### Reproduction steps

When playing downloaded audio at a speed greater than 1.0

[2022-10-11 02:14] bicycleprince commented on #9968
@rrfrias Finally we found that the oem private key we were using was wrong and corrected it and solved my issue, thanks!

[2022-10-11 06:55] icbaker commented on #10537
ExoPlayer will not necessarily load the whole audiobook in this example. It will generally try and buffer a certain distance ahead of the playback position. If the audiobook is 2hr long and 200MB, it will not load all 200MB if you only play the first 5 minutes of the book. The exact buffering behaviour depends on the `LoadControl` instance used when instantiating the player. Just because an HTTP s

[2022-10-11 07:09] 247az commented on #10661
@christosts
Yes, it has the same error as error `0xfffffff4/NO_MEMORY`.
To reproduce when you don't use seeking is very unlikely, it happens randomly, and there is no specific step to reproduce it. Currently, I haven't been able to reproduce it, it's probably very low occurrence rate.

[2022-10-11 07:47] thucngv opened #10683 "How to stop buffering old mediaItem manifest when play other mediaitem?"
I have a mediaitem list, when I switch to another mediaitem, the player continues to load the manifest of the old mediaitem

[2022-10-11 09:04] icbaker commented on #10681
Are these players using the same `OMX.TI.DUCATI1.VIDEO.DECODER` decoder? You can probably see what decoder they're using by taking a bug report while they're playing.

Is this a software decoder? Software decoder performance is basically completely undefined, because it depends on the other CPU load of the device at the time.

I don't have the problematic device to hand to confirm, but it's possib