[2019-11-16 18:33] #6662 closed, assigned to nobody

[2019-11-16 18:35] kayamy commented on #6662
Nevermind, I realized I can just work it out by checking in the exist keyset of SimpleCache first before generating a new key. Sorry!

[2019-11-17 00:31] ojw28 commented on #6653
[Removed incorrect diagnosis. Please see the correct one below!]

[2019-11-17 00:44] ojw28 commented on #5693
@AquilesCanta - What is the status of this issue? Is it correct that it's marked as a bug?

[2019-11-17 00:45] ojw28 commented on #6116
@AquilesCanta - Please take a look at this. Thanks!

[2019-11-17 00:46] ojw28 commented on #6516
@avalanchas - Please could you take a look at the request above? Thanks!

[2019-11-17 00:49] ojw28 commented on #6659
I agree with @marcbaechinger - It looks like the behavior you're asking for is already what ExoPlayer does. If the playback actually fails then it's because the minimum number of retries (3 by default) have been attempted, and the buffer has been exhausted.

[2019-11-17 00:51] #6490 closed, assigned to andrewlewis

[2019-11-17 00:52] #6579 closed, assigned to tonihei

[2019-11-17 00:54] #6558 closed, assigned to Samrobbo

[2019-11-17 00:55] #6469 closed, assigned to tonihei

[2019-11-17 00:55] #6453 closed, assigned to tonihei

[2019-11-17 00:56] #6428 closed, assigned to tonihei

[2019-11-17 00:56] #6585 closed, assigned to tonihei

[2019-11-17 09:02] safdarkowda opened #6663 "issue regarding restoring key"
i am currently working to decrypt exoplayer encrypted widevine videos, but i am facing some challenges .
[code]
Can you please provide any demo code for reference to play encrypted widevine videos

Thanks,

Safdar

[2019-11-17 09:57] giladna commented on #5935
@rajeshghosh1978 @erdemguven

I am also facing this random exception on my Pixel3 Android 10

could it be as a result of android lifecycle when destroying the app onDestroy VS. onStop
while onDestroy might not be called and is onStop does not contain player destroy code then decoders are not released so next time app is launched then playback fails?

[code]

[2019-11-17 13:20] marcbaechinger commented on #6660
Can you please shed some more light on what you mean with "pressing the home screen and returning to the home page"? Does this mean you are putting the app into background and return to the Android launcher?

If this is the case you need to store the current position and then recreate the ExoPlayer instance when the app comes to foreground again. Then you start the player at the stored position.

[2019-11-17 13:21] marcbaechinger commented on #6661
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/question.md).

[2019-11-17 13:27] marcbaechinger commented on #6661
In general you should check whether you are releasing resources properly when you destroy a fragment. If you don't release resources the device will run out of codec instances once the limit is reached. It's up to the vendor of the device how many instances of a given codec are available. So the behaviour may vary between different devices.

So please provide a bug report as requested above. We ca

[2019-11-17 13:32] marcbaechinger commented on #6645
I'm closing this issue for now. Feel free to re-open or create a new one if required.

[2019-11-17 13:32] #6645 closed, assigned to marcbaechinger

[2019-11-17 13:42] giladna commented on #5935
@erdemguven @ojw28

is there a possibility that the decoders resources are not released by the OS once app is destroyed. for example  the player.release was not executed in the onDestroy event since was not triggered?

[2019-11-18 04:25] amitks2015 commented on #6640
@icbaker Thanks for the workaround, I'll try and update here if it fixes the issue. But I would be nice if this issue can be contained within the library itself.

[2019-11-18 06:23] eneim commented on #6647
@master255 Just a comment, you can use tool like ffmpeg to cut the MKV and just send a part of a few minute for them to test. Loading the whole file doesn't make sense ...

[2019-11-18 08:05] ojw28 commented on #6612
Actually, (1) is not particularly important because the track selector will attempt to play the stream anyway. We should prioritize fixing (2).

[2019-11-18 09:14] andrewlewis commented on #6645
I agree with Marc on "If you are not creating your own AdsLoader but you are using the ImaAdsLoader instead, then you are probably bound to the logic of the ImaAdsLoader.". In particular the IMA SDK tracks the playback position and expects VMAP midrolls to be played at the cue points specified in the ad tag, which is probably why your custom implementation isn't working.

However, I don't think th

[2019-11-18 09:40] ojw28 commented on #6647
The fact that your 70GB file can be compressed by 97% using ZIP is pretty good evidence that the file isn't sensible. It means you can compress the video down to 3% of its size in a completely lossless way. Except in weird edge cases, I'd expect ZIP to achieve roughly 0% additional compression on a media file.

The file is also unwatchable using VLC on my Linux development workstation, which has 2

[2019-11-18 09:47] master255 commented on #6647
@ojw28 , This file is trimmed inside. Therefore, it compresses well. VLC on Android does not have a memory leak and plays the file normally.
**I repeat again - the problem appears on the network.** **You must place the file on the local network, and not on the drive to the device.**

[2019-11-18 09:51] ojw28 commented on #6647
Ah, thanks!

ExoPlayer doesn't really do anything that would cause a significant difference in memory consumption between local playback and playback over the network, so I'd expect to see the same behavior in both cases. Have you tried local playback and explicitly not observed the issue in that case, or have you just not tried?

[2019-11-18 09:55] master255 commented on #6647
@ojw28 I did not check it locally. Only over the network.

[2019-11-18 10:07] master255 commented on #6647
@ojw28 , Yes! I just tested the file locally. There is a problem with local playback too.

[2019-11-18 10:32] ojw28 commented on #6647
There isn't a memory leak here. The player is just running out of memory trying to reach its target buffer duration of 50 seconds of media. The simplest way for you to fix this in your app is to configure the `DefaultLoadControl` in your app to enforce a total buffer size in bytes as part of the policy. Calling `DefaultLoadControl.Builder.setPrioritizeTimeOverSizeThresholds(false)` when building y

[2019-11-18 10:34] marcbaechinger commented on #6663
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md).

[2019-11-18 10:41] master255 commented on #6647
@ojw28 , Very good answer! I will try to configure a local buffer. Glad it's not a memory leak!
I hope you will deal with the automation of setting the maximum buffer.
Many thanks!

[2019-11-18 10:47] andrewlewis commented on #6649
There was some related discussion in #3419. There is no built-in support for this at the moment so I've marked this as an enhancement (I'm not sure when we'll get round to it, though, so you may want to implement a workaround from that issue if you need this soon).

[2019-11-18 12:21] AndrazP opened #6665 "Disabling autoplay in ConcatenatingMediaSource"
### [REQUIRED] Searched documentation and issues
Checked ConcatenatingMediaSource, TimelineQueueNavigator, Player.EventListener documentation and source code.

### [REQUIRED] Question
Is it possible to disable Disable autoplay in ConcatenatingMediaSource?
I tried to pause the player in onPositionDiscontinuity (if the reason of discontinuity is DISCONTINUITY_REASON_PERIOD_TRANSITION), but the playe

[2019-11-18 13:21] krackjack234 commented on #6661
Hi,

Is there a way to find out max decoder supported using exoplayer?

[2019-11-18 13:43] tipoc123 opened #6666 "Slowly switching between hls variants"
### [REQUIRED] Issue description
Exoplayer slowly switches between HLS variants.

### [REQUIRED] Reproduction steps
Try to switch between variants (for example, from auto to high resolution variant) in your Demo application

### [REQUIRED] Link to test content
http://80.77.52.234:21011/hls/relay/adaptive/MhfuF58/index.m3u8
http://80.77.52.234:21011/hls/relay/adaptive/MgrlQUw/index.m3u8

### [REQUI

[2019-11-18 14:02] AquilesCanta commented on #6665
@tonihei mind having a look?

[2019-11-18 14:15] tonihei commented on #6665
That's a duplicate of #5660.

[2019-11-18 14:15] #6665 closed, assigned to tonihei

[2019-11-18 14:19] tonihei commented on #5660
Pausing at a frame-accurate position is a subset of setting the playback speed from a frame-accurate position (pausing := speed=0.0). Or at least both share a similar set-up.

@Samrobbo, assigning to you as you may look into the playback speed setting issue anyway.

[2019-11-18 14:20] Samrobbo commented on #6538
Closing as question answered.

[2019-11-18 14:20] #6538 closed, assigned to Samrobbo

[2019-11-18 17:03] sammaes opened #6667 "Dolby AC-4 Playback"
### Searched documentation and issues
I looked on the website and searched for AC-4/AC4 in the issues list.

### [REQUIRED] Question
Using the demo app I'm trying to play one of the DASH reference streams with Dolby AC-4 audio (see link below).

On all of the following Android Virtual Devices I get "media includes audio tracks but none are playable by this device":
Android TV (Android 9.0)
Pixel 3

[2019-11-18 17:22] ojw28 commented on #6648
There will be a small 2.10.8 release this week (probably tomorrow) that includes this change.

@JJSarrasin - We don't communicate release dates for major releases simply because we don't know exactly when they'll be. We'd rather release something when it's ready than communicate a release date and end up either missing it, or having to cut corners to hit it.

[2019-11-18 17:57] ojw28 commented on #6612
The first part of this is done. @tonihei is probably going to look at the second part.

[2019-11-18 18:10] JJSarrasin commented on #6648
@ojw28 I understand your point of view. On my side if I knew the 2.11.0 would take "so long", I would have done differently by waiting on the master branch with a hack instead of importing the dev-v2 branch.
If the switch between dev-v2 and master could be easily done in gradle without needing to import the whole project, it wouldn't be a "problem". Thanks for your commitment

[2019-11-18 18:53] avalanchas commented on #6516
Yes sorry I absolutely did that, there was just nothing of substance to add here, sorry I didn't answer! When I debug the code with these lines in mind then yeah, the `downloads` and the `states` are set as expected. I mean... if that wasn't the case then I would have a nice, reproducible crash, that I could pinpoint much more precisely :(
All I can say at the moment is that it happened again rece

[2019-11-18 20:27] chrisfillmore opened #6668 "How could I append to an existing manifest in a live stream?"
### [REQUIRED] Searched documentation and issues
I'm new to ExoPlayer. So far I've been reading the [DASH](https://exoplayer.dev/dash.html) docs and the section on [MediaSources](https://exoplayer.dev/media-sources.html). I'm also just reading the code.

### [REQUIRED] Question
I want to know if I can build a model of a live DASH manifest which is appended to with each manifest update. This may in

[2019-11-18 21:07] ojw28 commented on #6668
If you append to a DASH manifest then yes, ExoPlayer will do the right thing. How to update the DASH manifest isn't an ExoPlayer specific question.

It's unclear what this means, but it doesn't sound like a valid way of updating a DASH manifest.

[2019-11-19 03:48] Rvldo opened #6669 "What it means $(pwd) in FFMPEG_EXT_PATH"
Hello, ExoPlayer Team.

is $(pwd) required for FFMPEG_EXT_PATH or i just use /var/www/file/ffmpeg/ ?
and what it means to cd "<path to exoplayer checkout>"
checkout to where ? dev or where ?

from ffmpeg for NDK r20
https://github.com/google/ExoPlayer/tree/dev-v2/extensions/ffmpeg

[2019-11-19 04:45] #6669 closed, assigned to nobody

[2019-11-19 04:47] NanyangTaiji opened #6670 "Can make exoplayer play mts, m2ts format videos?"
Before filing a feature request:
-----------------------
- Search existing open issues, specifically with the label ‘enhancement’:
  https://github.com/google/ExoPlayer/labels/enhancement
- Search existing pull requests: https://github.com/google/ExoPlayer/pulls

When filing a feature request:
-----------------------
Fill out the sections below, leaving the headers but replacing the content. If
yo

[2019-11-19 10:31] AndrazP commented on #6665
Hi @tonihei,
thanks for linking to the similar question, it didn't show up in my search results.

So if I **summarise** the linked thread, **it's not possible to disable/stop** autoplay in ConcatenatingMediaSource before proceeding to next video.

**I kindly ask you to consider supporting this case.**
My application is similar to YouTube Premium. Video playback in foreground, audio in background.

[2019-11-19 10:50] AquilesCanta commented on #6482
Providing an update from @mjmancuso: The audio rendition includes audio packed in TS, which is not currently supported by the default Cast receiver. I'll post more updates on a fix later this week. Note that this is pretty much out of ExoPlayer's control, so you will need to be extra-patient for this issue. Thanks!

[2019-11-19 11:16] ojw28 commented on #6653
I tried this from a different network and was able to diagnose what's wrong. It's essentially the same problem as described [here](https://github.com/ant-media/LibRtmp-Client-for-Android/issues/70#issuecomment-555025362). The stream signals that both audio and video tracks are available, when in fact only video is available. The player is then waiting to receive some audio data to start playback.

[2019-11-19 13:13] khat33b commented on #6645
Thanks for all the explanations. It helped a lot. In the end, I created my own AdsLoader and it is working fine.

[2019-11-19 13:57] roundsmapp commented on #4924
I'm making another test. It took me a while to find a smartphone of the model that was having the issue (Samsung Galaxy S9). I just found a friend who has it. I'm waiting for him to conclude the tests (he lives far from me).

Therefore, I ask you to please give me some extra time to send the results.

[2019-11-19 15:02] AquilesCanta commented on #6666
Can you explain a bit better the issue you are observing? Specifically, can you provide more evidence suggesting this is an ExoPlayer bug?

[2019-11-19 15:18] master255 commented on #6647
I just tested this setting. Everything works perfectly! There are no memory problems. Thanks.

[2019-11-19 16:02] AquilesCanta commented on #6667
I'm sorry, but I'd say it's correct that none of the devices listed provides an AC-4 decoder. By doing a quick search you can find new devices that provide support for AC-4 through MediaCodec. Also, you may be able to use a bundled decoder.

Note: AC-4 support was added in https://github.com/google/ExoPlayer/pull/5303. Perhaps it's worth asking the contributor directly?

[2019-11-19 16:02] #6667 closed, assigned to AquilesCanta

[2019-11-19 16:04] AquilesCanta commented on #6670
Yes. Please provide a sample if you have any issues playing one. May be worth looking at #1488.

[2019-11-19 16:04] #6670 closed, assigned to AquilesCanta

[2019-11-19 16:34] sammaes commented on #6667
@ybai001 could you help me with this issue please?

[2019-11-19 16:41] phhusson commented on #5921
You have the two players running at the same time?

LG V30's Snapdragon 835 isn't capable of decoding two 4K 60fps videos at the same time, hence my question.
I'm seeing two possibilities:
- you're not running 2 players at the same time, and the problem is that because of "Improved decoder reuse" in exoplayer 2.10's changelog, players might not free their mediacodec instantly.
- the streams you're

[2019-11-19 19:52] chrisfillmore commented on #6668
Hi @ojw28 thanks for replying. I think I may have been unclear. Let me try again:

Given that I tune into the live edge of a stream with `timeShiftBufferDepth="PT3M"` and watch for 15 minutes, when I attempt to seek back 15 minutes in time, then ExoPlayer will seek to that point and playback will continue.

In general I know that this process can work. My team has an internal DASH player which sup

[2019-11-19 20:38] chrisfillmore commented on #6668
My latest thought is that I could do this using HttpDataSource, by intercepting manifest responses. By maintaining my own model of manifest state, and updating it with each response, and then returning the updated manifest to ExoPlayer, then the player would allow the behaviour I want.

Do you suppose this would be the best way?

[2019-11-19 21:36] avsbrowncoats opened #6671 "Slowplayback due to Audio discontinuity"
### [REQUIRED] Issue description
The issue causes slow playback when the user tries to pause and play music a couple of times. It is consistently reproducible on Android Q devices.

### [REQUIRED] Reproduction steps
Playing and pausing a couple of times causes the issue. It is recoverable as soon as you hit pause again or next/previous etc.

### [REQUIRED] A full bug report captured from the devic

[2019-11-19 21:59] tipoc123 commented on #6666
Is it possible to switch between HLS variants without extra delay (almost instantly)?

[2019-11-19 22:20] chrisfillmore commented on #6668
Newer idea...
When I call `new DashMediaSource.Factory(...)` I provide a DataSource.Factory (as manifestDataSourceFactory). It seems I could provide a custom implementation here which would handle the "merging" of manifests that I want to do.

[2019-11-20 02:15] wu162 opened #6672 "controller_layout_id attribute don't work..."
### [REQUIRED] Searched documentation and issues
I'm new to exoplayer.I read [related tutorial](https://codelabs.developers.google.com/codelabs/exoplayer-intro/index.html?index=..%2F..index#6) and want to custom the control UI.And other tutorials just give code snippets without complete example,or override exo_playback_control_view layout.

### [REQUIRED] Question
I wan to use controller_layout_id

[2019-11-20 02:45] wu162 commented on #6672
Well,someone tell me the reason

[2019-11-20 02:45] #6672 closed, assigned to nobody

[2019-11-20 05:32] ybai001 commented on #6667
@sammaes Following mobile phones support Dolby AC-4: Samsung Galaxy S9, S10, Note9, Note10, Huawei P20 series/P30 series/Mate 20 series, OnePlus 7 & 7 Pro, OPPO Reno.
Google Pixel series have not integrated AC-4 decoder.

[2019-11-20 05:43] ybai001 commented on #6636
Thanks @ojw28 and @andrewlewis  , I'll close this issue.

[2019-11-20 07:09] swastik52 commented on #6652
Hi Developer,

I use the bellow command to merge two videos:
ffmpeg -i video1.mp4 -i video2.mp4 -map 0 -map 1 -codec copy -f mp4 Result.mp4

 The Result.mp4 basically contains two videos in it so I have to play the video side by side in two instances of SimpleExoplayer.

Now I extract the video by ffmpeg and create two new video file by:
ffmpeg -i Result.mp4-map 0:v:0 -c copy newvideo1.mp4 -map 0:

[2019-11-20 07:42] itssivashankar opened #6673 "Problem in Converting Interlaced stream to progressive stream"
I tried to build ffmpeg library into Exoplayer.
Build process is completed But de-interlaced is  not working for me

Kindly Guide me to Implement the de-interlaced option in Exoplayer

[2019-11-20 07:59] stari4ek opened #6674 "NPE in MediaCodecAudioRenderer"
### [REQUIRED] Issue description
I'm seeing small amount of NullPointerException in crashlytics related to ExoPlayer.

### [REQUIRED] Reproduction steps
it's reported automatically, I do not own stream source or device to reproduce

### [REQUIRED] Link to test content
it's reported automatically, I do not own stream source or device to reproduce

### [REQUIRED] A full bug report captured from the

[2019-11-20 08:32] XanderSan opened #6675 "Exoplayer for 360 videos"
[REQUIRED] Searched documentation and issues
https://medium.com/google-exoplayer/playing-360-degree-videos-with-exoplayer-f3b48f8ea390

[REQUIRED] Question
I'm using an exoplayer in an android app and I want to play 360 videos.
I used a player with surface_type = spherical_view
To explore video in any direction I tryed draggind the finger across the screen and it works but if I move the device aro

[2019-11-20 09:03] sammaes commented on #6667
Thanks for your feedback! Do you happen to know if there is a player for desktop PCs, I don't own any of these devices I'm afraid.

[2019-11-20 09:08] ybai001 commented on #6667
Unfortunately, there is no this kind of player for desktop PCs.

[2019-11-20 09:14] andrewlewis commented on #6674
The stack trace doesn't make sense (e.g., `MediaCodecAudioRenderer.onAudioTrackUnderrun` doesn't call anything). Please check you're using the right map for deobfuscation.

[2019-11-20 09:16] sammaes commented on #6667
Is there a Dolby AC-4 player in the pipeline for desktop PCs?
I'm trying to verify a packaged AC-4 stream but it looks like this is not possible at the moment?

[2019-11-20 09:25] ybai001 commented on #6667
Sorry, I can't provide this info since it is company confidential. Currently, you had better verify your packaged AC-4 stream on above mobile devices with ExoPlayer based application. Some TV modules support AC-4 decoding. Do you plan to verify it on TV?

[2019-11-20 09:30] sammaes commented on #6667
I just want to make sure that what we have is actually playable, doesn't really matter if we play it on a phone, tv or pc at this moment.

[2019-11-20 09:38] tonihei commented on #6652
You can also use multiple video renderers and a custom track selection to assign tracks to these renderers. See this [issue comment](https://github.com/google/ExoPlayer/issues/6589#issuecomment-549864783) for a similar question for multiple audio tracks. No need to do use special overrides without clocks for video renderers though.

[2019-11-20 09:39] #6652 closed, assigned to marcbaechinger

[2019-11-20 09:42] ybai001 commented on #6667
OK, I see. Currently, AC-4 is playable on some mobile devices and TVs. Here are more info: https://dolbyac4.com/uk/ and https://www.dolby.com/us/en/technologies/ac-4.html

[2019-11-20 09:54] ojw28 commented on #6668
So, you have a DASH live stream that has a fixed size window of 3 minutes, and what you want is for the client to treat it as a DASH live stream whose window grows over time. Why don't you just serve the DASH manifest that you want in the first place, rather than serving a different one and then relying on client side hacks to reconstruct what you actually wanted?

[2019-11-20 10:02] stari4ek commented on #6674
I'm using the proper mapping file. When there are multiple mappings for same name (but with different arguments resolution) it produces this kind of deobfuscated stack trace with variants.

Here is manually unrolled callstack going from top-to-bottom, checking who-calls-who:

[code]

btw, If you enable lint on `MediaCodecAudioRenderer.java` - there're bunch of Null-warnings related to `getPassthro

[2019-11-20 10:14] andrewlewis commented on #6674
Ah I see. Thanks for the clarification. I think the `NullPointerException` is already fixed in `dev-v2` by aeefb79a86519a1539f503fb5ac2b3f0c7760ba7, but I wonder if there's something else going wrong here that causes the MIME type to be null. On the development branch you may just end up getting `DecoderInitializationException` instead.

[2019-11-20 10:19] stari4ek commented on #6674
Yeah, this commit looks like the better way to handle it.
Will bump to current HEAD from dev-v2.

Thank you

[2019-11-20 10:22] phhusson opened #6676 "Improve support for multiple metadata tracks"
### [REQUIRED] Searched documentation and issues
I've browsed https://github.com/google/exoplayer/issues?utf8=%E2%9C%93&q=is%3Aissue+metadata

### [REQUIRED] Question
As far as I understand, ExoPlayer currently supports only one metadata track at the same time.
My usecase is to have EIT and TDT DVB tracks (respectively EPG and current time) reported back to the application through `onMetadata`. So

[2019-11-20 10:26] AquilesCanta commented on #6666
By using track selection overrides you can achieve that. Naturally the player will buffer to do that, but I suppose that's what you'd expect?

If you look in the demo app and play an adaptive stream, you'll find one button per track type available. If you tap on video, you'll get track selection options which are implemented using overrides. Please see if that works for you, and if it does, have a

[2019-11-20 10:53] AquilesCanta commented on #6676
As things are now you'll need one Metadata renderer per metadata track you want to handle. The number of renderers depends on the formats you want to handle. For example, if you need to handle ID3 and SCTE35, you'll need to inject two renderers. You will also need to implement track selection so that each of the tracks gets mapped to a different metadata renderer.

In the case of PSI and TS tables

[2019-11-20 11:19] tonihei commented on #6676
For the point of using multiple renderers and making it simpler to set them up: There is also #6589 where this question has been asked for audio renderers and #6652 for video renderers (duped to the other one).

[2019-11-20 11:56] chrisfillmore commented on #6668
Yeah you're preaching to the choir on this point. This is not something I can control. My team is pursuing this option because it is the _least bad_ hack available to us. And, unfortunately, I can't go into a lot of detail about our implementation. Please forgive me for any vagueness as a result. But as you can likely infer, there are multiple services available to a client for a given stream, and

[2019-11-20 12:13] ojw28 commented on #6668
The problem with doing it at the `DataSource` level is that those components are dealing with bytes rather than structured data. So you'd have to deserialize the manifest, merge it and reserialize it again.

A more direct route is probably to use `DashMediaSource.Factory.setManifestParser` to pass a custom manifest parser, which would look something like this:

[code]

You'd have to be careful not

[2019-11-20 13:01] chrisfillmore commented on #6668
Thank you for the tip! I will look at that.

I'll close for now.

[2019-11-20 13:01] #6668 closed, assigned to ojw28

[2019-11-20 13:16] NanyangTaiji commented on #6670
https://archive.org/download/scm-10794-mtstestfile/00007.mts

Santiago Seifert <notifications@github.com> 于2019年11月20日周三 上午12:05写道：

[2019-11-20 13:19] NanyangTaiji commented on #6670
It can be played by VLC android

Taiji Doctor <ooyellow58@gmail.com> 于2019年11月20日周三 下午9:16写道：

[2019-11-20 13:32] AquilesCanta commented on #6670
As per #1488, this type of files is not yet supported. Forking TS extractor to support them should be relatively easy. Please track #1488 for support.

[2019-11-20 13:52] luna-vulpo commented on #6659
thanks, it helps a lot.

[2019-11-20 13:52] #6659 closed, assigned to marcbaechinger

[2019-11-20 13:57] luna-vulpo opened #6677 "How to disable subtitles?"
I change using text language:
[code]
it works fine for most streams. But I have stream which contains default text language, so above code force default text.
if language is null it means that no subtitle at all.

How to disable subtitles?

I try to add:
[code]
but it not help.

[2019-11-20 14:06] learnyst commented on #6605
@ojw28 We have fragmented mp4 files with are encrypted using bento4 mp4encrypt(CENC encryption). I used FragmentedMp4Extractor and provided drmInitData. With this I am able to play the fragmented mp4 files.

But the fragmented mp4 files dont have sidx. So I am not able to seek. FragmentedMp4Extractor is creating SeekMap.Unseekable streams. If I modify the exoplayer code in seekmap and return true

[2019-11-20 15:14] AquilesCanta commented on #6677
Not really sure about what you want to achieve, but if you want to disable the DEFAULT selection flag, then you should be doing

`newParams.setDisabledTextTrackSelectionFlags(C.SELECTION_FLAG_DEFAULT)`.

Can you explain in more detail what you need? Ideally, please include a sample stream.

[2019-11-20 16:27] krackjack234 commented on #6661
hi @marcbaechinger  this looks to be same issue as https://github.com/google/ExoPlayer/issues/6168

[2019-11-20 16:43] krackjack234 opened #6679 "How to cleanup exoplayer instance"
[REQUIRED] Searched documentation and issues
Searched documentation but could not find any explicit anser

### [REQUIRED] Question
How can we remove all the media sources added to SimpleExoPlayer

We are adding different media sources like Ads, subtitles etc. Is there a requirement to remove them explicitly when we release the player? Do we need to cleanup anything in PlayerUI & MediaSourceEventLi

[2019-11-20 17:24] ramim94 commented on #6492
I'm using the PlayerView from `com.google.android.exoplayer2.ui` package,  still i get this crash when i use playerView.getOverlayFrameLayout() and cast it to AdsLoader.AdViewProvider. Any idea why?

my xml:
[code]
Java:
[code]

I'm using exoplayer 2.10

[2019-11-20 20:45] ojw28 commented on #6605
The seek bar may appear to be enabled, but you're not able to seek. Where-ever you move the seek bar, you'll find that it simply seeks back to the start of the stream.

The `sidx` box is what defines the time-to-byte mapping that we need to seek within the stream. If this is not provided, we have no efficient way of determining what byte offset to start from for a given seek position. Hence seekin

[2019-11-20 20:45] #6605 closed, assigned to ojw28

[2019-11-21 01:41] nixoncode commented on #5854
Still!

[2019-11-21 02:55] robbywh opened #6680 "android exoplayer with ima extension can't automatically show ad's countdown"
[REQUIRED] Searched documentation and issues
Searched documentation but could not find any explicit answer

[REQUIRED] Question

I have made video player using android exoplayer, to show ads on video i use ima extension. But i face a problem, the ad cannot automatically show ad's countdown. To make video player show ad's countdown, i must play video, and rotate the screen.

The ad cannot automatic

[2019-11-21 06:10] HQLIE2018 commented on #6591
When I play AAC audio, the total duration always returns -9223372036854775807, and I tried several AAC audios.

[2019-11-21 09:27] tonihei commented on #6591
This value is `C.TIME_UNSET`, the placeholder value that tells you that the duration is (still) unknown. As said above, please provide us with example media if you want us to check if it's media related. Otherwise it sounds as if the duration is just not known yet at the point where you call `getDuration()`. Please listen to `EventListener.onTimelineChanged` to get informed about any updates to th

[2019-11-21 11:16] soldierinwhite opened #6681 "Util.normalizeLanguageCode behaves differently based on OS version"
I have a stream that has an audio stream with a language tag equal to "sv-tal", which we use to identify a certain accessibility feature (this stream is sent to many platforms which do not necessarily have videoplayers that parse accessibility or supplementary label tags, which makes it impractical to change the tag currently).

However, the new ExoPlayer doesn't just parse the manifest tag and tr

[2019-11-21 12:30] tonihei commented on #6681
I think the issue here is "sv-tal" is not a valid [language tag](https://en.wikipedia.org/wiki/IETF_language_tag). Our language tag normalization requires valid tags according to IETF BCP 47 to work consistently across API versions.

Note that this is also a requirement for DASH manifests, see ISO/IEC 23009-1, clause 5.3.3.2 Table 5: "@lang: Declares the language code for this Adaptation Set. The

[2019-11-21 12:48] tipoc123 commented on #6534
We solved the problem by changing the UDP start buffer size from 2500 to 1000 ms. Code:
[code]

[2019-11-21 12:48] #6534 closed, assigned to marcbaechinger

[2019-11-21 12:57] balflear commented on #3738
Hi guys,
I'm having the same issue with playing FLAC with Exo-Player.
Currently i'm using the Exo-Player demo and device Galaxy S9 with Android 9.

The error is `None of the available extractors (MatroskaExtractor, FragmentedMp4Extractor, Mp4Extractor, Mp3Extractor, AdtsExtractor, Ac3Extractor, TsExtractor, FlvExtractor, OggExtractor, PsExtractor, WavExtractor, AmrExtractor, Ac4Extractor, FlacExtr

[2019-11-21 12:58] soldierinwhite commented on #6681
Yeah, I get it and we have flagged it to our video packaging team to move towards tagging accessibility features in another way, but the normalization is not done consistently even so. It depends on which Android API version is on the device what the output of the manifest parser becomes. Surely a parser's responsibility is firstly to transcribe what is in the manifest to a model object, not to cl

[2019-11-21 13:34] tonihei commented on #6681
I can see your issue and the reasons to leave the input tag untouched. However, doing that also means that all users of the language tag need to normalize it themselves because they can't rely on a certain format. So this is a trade-off between normalizing at one point at the input side, or at many points on the output side.

The parser's responsibility is to transcribe the manifest contents into

[2019-11-21 13:43] soldierinwhite commented on #6681
This would be a great trade-off actually. If you are reliant on a stream that doesn't follow guidelines in its manifest, then you can be expected to dig in strange places for your data, but at least the original is accessible. Could we request this change?

[2019-11-21 14:21] kvolkers opened #6682 "WebVTT vertical positioning"
### [REQUIRED] Issue description
Given the following WebVTT: [webvtt.txt](https://github.com/google/ExoPlayer/files/3874850/webvtt.txt) (extension renamed to be uploadable)

The subtitles contain position information. ExoPlayer does seem to take this information as the subtitles are displayed at different heights. But, overall, they seem to be lower than expected. Reproduced it in both my own app

[2019-11-21 14:37] Viacom18-India commented on #5935
I have a similar issue with my pixel 2 xl device. Putting down the logs. Once playback stops playing it continuously stops playing until the device is restarted.

2019-11-21 19:58:32.183 I/DEBUG Enabled: true
2019-11-21 19:58:32.183 D/preview: Extracting frame : 19
2019-11-21 19:58:32.192 D/CCodecBufferChannel: [c2.android.aac.decoder#614] Created input block pool with allocatorID 16 => poolID 17

[2019-11-21 14:42] glenfordshadowfernandes commented on #5935
I have a similar issue with the pixel 2 xl device. Once the playback stops it continuously stops for all successive media playback. Putting down the logs.

E/MediaCodec: queueCSDInputBuffer failed w/ error -2147483648
2019-11-21 19:47:00.800 E/ExoPlayerImplInternal: Internal runtime error.
    android.media.MediaCodec$CodecException: Error 0x80000000
        at android.media.MediaCodec.native_dequ

[2019-11-21 16:14] AquilesCanta commented on #6671
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md). If you're unable to share bug reports or test content publicly, please send them to dev.exoplayer@gmail.com using a subject in the format "Issue #1234", where "#1234" should be replaced with your issue num

[2019-11-21 16:21] AquilesCanta commented on #6673
I am guessing this is a duplicate of #2013. If it's not, please explain why, and provide all items required in the [issue template](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md).

[2019-11-21 16:21] #6673 closed, assigned to AquilesCanta

[2019-11-21 16:25] AquilesCanta commented on #6675
You should start by using the demo app to play your video, and go from there (for starters, does your video work in the demo app?). When you hit a more specific issue, please post the items required in the [issue template](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md) and we can try assisting you.

[2019-11-21 16:33] AquilesCanta commented on #6679
Just call `Player.release()`. You shouldn't need to do anything else. If you think there's a bug, file a fresh issue including all the information requested by the issue template in the form.

There's no way to do that: The application is the owner of the player instances, so the app should take care of their life-cycle. This includes releasing any created players.

[2019-11-21 16:33] #6679 closed, assigned to AquilesCanta

[2019-11-21 16:34] AquilesCanta commented on #6680
@andrewlewis, would you kindly take a look?

[2019-11-21 16:35] AquilesCanta commented on #6682
@icbaker, mind taking a look?

[2019-11-21 16:40] krackjack234 commented on #6679
Hi @AquilesCanta , we already see similar issues are reported for different devices (https://github.com/google/ExoPlayer/issues/6168)

Is this a known problem in exoplayer?

Since many have reported same issue, just wondering if its really a memory leak issue.

[2019-11-21 18:49] ojw28 commented on #6357
I tried playing `mpd.mpd`, and reproduced your observation that the video is frozen on the first frame. The reason for this is that the sample timestamps in the media segments aren't properly aligned with the DASH timeline. The first sample should have a timestamp of 0 (or thereabouts), whereas its actual timestamp is 676709000 (in microseconds).

It's possible to indicate the offset in the DASH m

[2019-11-21 19:10] andrea157 opened #6683 "BehindLiveWindowException"
Hi I have problems with playing a live stream. With a poor connection at some point ExoPlayer throws a "BehindLiveWindowException" exception. I tried to edit the "HlsChunkSource" class on line 292 in the library

[code]
with

[code]
it is a very stupid test I know, but in this way the player does not freeze anymore but goes on until it retrieves a valid chunk.

I wanted to know what problems this

[2019-11-21 19:12] ojw28 commented on #6638
I took a look at the DASH specification, and it appears to mandate that you encode spaces as `%20` in URLs specified within the manifest. In particular, it refers to RFC 3986 and its definition of `<absolute-URI>` and `<relative-ref>`. If you dig far enough down into that RFC, the URL segments are sequences of `pchar`, where `pchar` is defined as:

[code]

So I think it's reasonable to say this is

[2019-11-21 19:12] #6638 closed, assigned to ojw28

[2019-11-21 21:07] brAzzi64 commented on #6649
Hi @andrewlewis!

It's funny to see that that issue + workaround are actually my own, but from a couple of years back... Totally forgot about it. It was actually a different problem then, was mostly using ConcatenatingMediaSource to build a playlist of audio-only files, while here I'm trying trying to play videos at different speeds, but... should've rung a bell :)

Unfortunately that workaround w

[2019-11-21 21:22] ebr11 commented on #6602
Hi.  Were you able to reproduce with the material I provided?

[2019-11-22 08:08] viralpump opened #6684 "Freezes when playing a specific DASH stream"
### [REQUIRED] Issue description
1) Freezes when playing a specific DASH stream encoded by h265 codec (using ExoPlayer 2.7.3).
When playing other similar streams (4k, h265), there are no problems.
2) When using the ExoPlayer version 2.10.3, the DASH from point 1 does not play at all - a codec error
3) BUT vlc player (v 3.1.7) on this device plays this DASH (from point 1) perfectly and without free

[2019-11-22 08:47] tonihei commented on #6103
Reopened as requested in #6649.

[2019-11-22 10:00] deepakkumardk commented on #6573
I am facing the same issue with this video url [https://streamable.com/ju6gs](https://streamable.com/ju6gs)

[2019-11-22 10:09] ojw28 commented on #6573
@deepakkumardk - That's not a video URL. It's a web page URL. In this particular case, if you load the web page in Chrome, then right click and do "View page source", you'll be able to find the actual video URL in the source code, which plays fine in ExoPlayer. It appears the video URLs are deliberately designed to expire though, probably because this website doesn't want you to play its videos el

[2019-11-22 10:24] AquilesCanta commented on #6683
It's a design decision that falling behind the live window has to be handed by the application.

The proposed approach is not ideal, because:
- The Renderer will perceive a discontinuity.
- It doesn't handle the case where one track is falling behind, but another one isn't. In which case you'll perceive a bit of a disruption in playback.

I'd suggest you try preventing the BLWE instead of reacting

[2019-11-22 10:24] #6683 closed, assigned to AquilesCanta

[2019-11-22 10:28] AquilesCanta commented on #6677
After reading again the issue I realized I probably misunderstood what you want. If you just want to have no subtitles at all, you can disable the Text renderer. Look for _Disabling Renderers_ in the [DefaultTrackSelector](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/trackselection/DefaultTrackSelector.html) docs:

`Renderers can be disabled using DefaultTrackSelector.Paramete

[2019-11-22 10:28] #6677 closed, assigned to AquilesCanta

[2019-11-22 10:29] AquilesCanta commented on #6684
@ojw28 Mind having a look?

[2019-11-22 10:41] deepakkumardk commented on #6573
Is this url is okay? [https://filebin.net/6mireu9gkmhdmlpc/video_file.mp4?t=hy31w9yp](https://filebin.net/6mireu9gkmhdmlpc/video_file.mp4?t=hy31w9yp)

[2019-11-22 10:47] deepakkumardk commented on #6573
Is this url okay? [https://filebin.net/6mireu9gkmhdmlpc/video_file.mp4?t=hyz3ldd1](https://filebin.net/6mireu9gkmhdmlpc/video_file.mp4?t=hyz3ldd1)

[2019-11-22 11:09] ojw28 commented on #6573
That file doesn't play for me, but it's also missing the last 11794 bytes, which explains why. The size of the file is 1364435 bytes. If I download the video from the original link it's 1376229 bytes and plays correctly.

[2019-11-22 14:37] ybai001 commented on #6636
Sorry, I have to reopen this issue. After regression test on v2.10.8, we find your modification is not correct. Please refer our fix in problem statement part. It should be "tag:dolby.com,2018:dash:EC3_ExtensionType:2018", (spec D2.2.1) but you used "tag:dolby.com,2018:dash:EC3_ExtensionComplexityIndex:2018". (spec D2.2.2)

[2019-11-22 15:15] icbaker commented on #6682
Thanks for the report and clear reproduction steps - I see the same behaviour.

I believe ExoPlayer is actually following the WebVTT spec here. Specifically we assume that if the 'line alignment' isn't set then it defaults to 'start' (i.e. top for horizontal text):

https://www.w3.org/TR/webvtt1/#webvtt-line-cue-setting

So in your screenshot of the demo app, we're trying to put the **top** of the

[2019-11-22 15:15] #6682 closed, assigned to icbaker

[2019-11-22 15:20] andrewlewis commented on #6636
Fix on the way. Sorry for getting this wrong.

[2019-11-22 16:20] tipoc123 commented on #6666
Do I need to add CODECS attribute to every EXT-X-STREAM-INF in the master playlist? Does it improve the switching speed of HLS variants?

[2019-11-22 17:10] curlyfrie opened #6685 "DefaultTimeBar Android 10 - back gesture handling"
### Use case description
Android 10 with navigation gestures

Timebar is edge to edge, user wants to move the thumb from the begin to the middle => back gesture triggered. wanted => seek

### Proposed solution
implement `setSystemGestureExclusionRects()`
https://developer.android.com/guide/navigation/gesturenav#back-gestures

Since the "_SeekBar components support automatic opt-out behavior out of

[2019-11-22 17:35] AquilesCanta commented on #6666
Not really.

Can you explain exactly what the observed and expected behaviors are?

[2019-11-22 17:48] ojw28 commented on #6684
The test stream (https://media.axprod.net/TestVectors/v7-Clear/Manifest.mpd) contains both H264 and H265 video representations. By default, I think ExoPlayer's `DefaultTrackSelector` will choose the H264 ones. The only reason this isn't happening in this case is that the underlying platform is claiming to be incapable of playing H264 at any resolution. You can see where this is happening in the bu

[2019-11-22 21:15] hkim2013 commented on #6429
Is Exoplayer (2.10.6) compatible with IMA (3.16.1) ?

[2019-11-23 02:06] #6592 closed, assigned to tonihei

[2019-11-23 02:06] #6590 closed, assigned to tonihei

[2019-11-23 17:13] goldy1992 commented on #6651
@marcbaechinger I had that same issue and I can confirm four solution **fixes the issue**.

[2019-11-24 08:47] a4x4kiwi opened #6686 "Can not play UDP multicast."
**Issue description,**
We are struggling to use the demo 'sample chooser activity' to play a UDP TS multicast stream. We get a black screen and timeout.

**Reproduction steps**
We also tried the demo-ima by modifying the url in the strings.xml file. udp://@239.1.1.1:1234

This occurs on a Sony Android TV, Moto Z2 and in the emulator.
The emulator plays http samples OK. The PC please the multicast

[2019-11-24 15:02] harshmittal29 commented on #6651
@marcbaechinger This fixes the issue. Thanks a lot.

[2019-11-24 15:02] #6651 closed, assigned to marcbaechinger

[2019-11-24 17:16] nihk opened #6687 "ImaAdsLoader leaks AdEventListener within its AdsManager"
Not sure if this is intentional or not, or whether I'm just using the API incorrectly, but I noticed that the value given to `ImaAdsLoader.Builder.setAdEventListener(AdEventListener)` never gets removed from the `AdsManager` instance it owns. The consequence of this in my app is where if I'm playing an ad, then call `ImaAdsLoader.release()` the `ImaAdsLoader`'s `AdsManager` still holds onto my `Ad

[2019-11-24 19:01] ojw28 commented on #6687
We call `adsManager.destroy()` from `ImaAdsLoader.release()`. It's possible we assumed that this would be sufficient to stop the `AdsManager` from subsequently calling its listeners.

If that's not the case then we should probably remove the listeners in addition to calling `destroy()` (i.e. `adEventListener`, and probably `this` x2 as well)?

[2019-11-24 21:08] a4x4kiwi commented on #6686
OK, looks like Multicast can not work in the emulator.

" Currently, the emulator does not support IGMP or multicast. "
from [https://developer.android.com/studio/run/emulator-networking](https://developer.android.com/studio/run/emulator-networking)

Not to get back to testing on the TV.

[2019-11-25 00:06] #6686 closed, assigned to nobody

[2019-11-25 00:58] ybai001 commented on #6636
No worries. Thanks for your quick fix. Close this ticket.

[2019-11-25 00:58] #6636 closed, assigned to andrewlewis

[2019-11-25 09:31] androideveloper opened #6688 "Video frames moves forward when player is paused (API > 26)"
We are using exoplayer 2.10.6 and have an issue with playback. When going onPause(lock) and come back onResume(unlock), player seek a bit forward (~1 frame) on each lock/unlock. I have similar issue https://github.com/google/ExoPlayer/issues/3090 but seems to be resolved now. Any suggestions?

Exoplayer: 2.10.6
Devices: Pixel 2, Xiaomi MI A1 (most of them have android > 8.0)

Logs on lock/unlock:

[2019-11-25 09:34] vengateshvengi opened #6689 "Deinterlacing issue in exoplayer"
As now,I am using exo-player for hls live streaming purpose.Input hls feed is interlaced format so i want to convert the feed into progressive format without any loss and same quality.
So,kindly guide me to implement the de-interlacing feature in exo-player to get progressive output video format.

[2019-11-25 09:42] andrewlewis commented on #6688
I think this is similar to part of #6408. `MediaCodec` doesn't let you re-render the last output frame, so when we resume from the background we need to advance one frame to render something to the new surface. (Aside: on Android 10 I think it's possible to avoid this by rendering to a [`SurfaceControl`](https://developer.android.com/reference/android/view/SurfaceControl) but we don't have any fun

[2019-11-25 09:42] #6688 closed, assigned to andrewlewis

[2019-11-25 09:55] elvirturan commented on #3438
Yes i know, but it is my temporary solution until will Exo support cross-fade

[2019-11-25 10:54] icbaker commented on #6689
ExoPlayer doesn't support de-interlacing in the general case, but it's possible on some devices to set device-specific MediaFormat keys which trigger de-interlacing after the decoding. There's some more info in https://github.com/google/ExoPlayer/issues/2013#issuecomment-257634155.

[2019-11-25 10:54] #6689 closed, assigned to icbaker

[2019-11-25 11:09] icbaker commented on #6685
Thanks for the suggestion! I'll take a look.

[2019-11-25 11:25] XanderSan commented on #6675
Hi.
I downloaded the demo app and I tried to use it with my video.
The behavior is the same: dragging finger across the screen the 360 video change direction, moving the device no.
I tried to play a 360 video in HLS format.
Is it correct or 360 video needs to be in a specific format?
I'm using a XiaoMi device Mi8 with android 9 and I run demo-ima from demo source (I changed the surface_type in sph

[2019-11-25 12:28] Arthas19 opened #6690 "Specific use-case of HLS streaming"
### [REQUIRED] Searched documentation and issues
I have searched almost every medium blog I could find on the topic of HLS streaming and downloading.
I also went through the issues.

### [REQUIRED] Question
I want to stream HLS content, by loading content into the cache and from the cache into the buffer.
By manually setting the load controller's max buffer to 10min I'll allocate too much (RAM) me

[2019-11-25 14:21] androideveloper commented on #6688
Thanks!

[2019-11-25 15:43] tipoc123 commented on #6666
I recorded a video https://yadi.sk/i/cS6354sc75japQ

Switching time more than 3 seconds (00:15-00:19 on video). Is it OK? I watch the video via the local network.

Logcat (between tracksChanged and STATE_READY):
[code]

[2019-11-25 15:57] shan-mustafa opened #6691 "Can't play locally saved 4k or high resolution videos smoothly"
I want to play video files that are stored on local storage. Exoplayer play videos with Good Resolution
 perfectly without any buffering but when i try you play 4k or high resolution videos Exo Player start buffering alot (start buffering within more or less 10 seconds then start playing again). But when i played same file with MXPlayer or Android Video Player ( a selection dialog pop up when clic

[2019-11-25 16:01] GentianB opened #6692 "Exoplayer has higher latency when starting Multicast/UDP videos compared to MediaPlayer"
We have been trying to convert a video application from using internal MediaPlayer/Videoplayer to Exoplayer library so we can benefit from its advantages,

we are using exoplayer r2.10.5.

one of the issues we came across during the adaptation,  is when playing Multicast/UDP videos,

it has a higher latency (higher zapping time) when you change the video streams on exoplayer, because  it keeps sta

[2019-11-25 18:16] brAzzi64 commented on #6649
@tonihei thanks for reopening ticket! After your comment however, #6103 still shows up as locked for me ["This conversation has been locked and limited to collaborators."]. Let me know if I should create a new one instead.

[2019-11-25 18:33] BrendanParks commented on #6657
It's possible the notification updates are being [rate limited.](https://developer.android.com/guide/topics/ui/notifiers/notifications#limits) I ran into similar issues myself -- when I spam updates, they stop being applied and I see this in the logs:
[code]

[2019-11-25 20:52] jakoss commented on #6657
I checked logcat and i don't see any logs about notifications. Also - when i do exactly the same in spotify - notification is perfectly synchronized with player (proving that it can be done)

[2019-11-25 21:53] AquilesCanta commented on #6666
I don't think there's enough evidence pointing at this being an ExoPlayer issue.

You are choosing a high bitrate variant, so I think it's expectable that it will take some time to download the media files. It's worth checking:
- Whether you are using independent segments.
- And the duration of the segments are precisely stated in the playlists.

Which I cannot check because the playlists are now

[2019-11-25 21:53] #6666 closed, assigned to AquilesCanta

[2019-11-26 07:39] Al-Rasel commented on #5804
any update on this issue?

[2019-11-26 07:49] harshmittal29 opened #6693 "Using the PlayerNotificationManager in a foreground service"
I am using PlayerNotificationManager notification manager of exoplayer to manage the foreground notifications.
I am adding/removing the notification service from my activity.
 Adding notification service :

[code]

Removing notification service :
`mActivity.stopService(Intent(mActivity, MediaConsumptionService::class.java))`

When I remove the notification service, onDestroy of service is called w

[2019-11-26 08:38] Magntcrs opened #6694 "Matroska file and Extension Renderer ffmpeg"
Hello Exoplayer team.

i used Exoplayer in my app.
i have a problem.
when i play video format .mkv or Matroska on mobile device and android box
video can't support Audio ac3 some device

i used Ffmpeg extension in my project, for decode audio renderer
video can play and audio support, but i have a problem

some device android box, CPU usage allwinner h6. example Android box Tx6, Android box X96H
w

[2019-11-26 08:56] #6586 closed, assigned to andrewlewis

[2019-11-26 09:23] vengateshvengi commented on #6689
Thanks for your support @icbaker

[2019-11-26 09:40] tonihei commented on #6649
@brAzzi64  Done. Forgot to unlock as well.

[2019-11-26 10:12] SakthivelMuruganS opened #6695 "Display ad markers when using the Leanback UI via ExoPlayer's Leanback extension"
I want to display markers for ads in Exoplayer using the Leanback Adapter and Glue.
I've used Player Adapter & PlaybackTransportControlGlue (androidx.leanback.media) to stream the content. I'm able to load ads using Ima ads Loader in the video but I want to show the ad marker in lean-back seek bar like Exo player default time bar for different types of ad roll (pre-roll, mid-roll & post-roll).

[2019-11-26 10:27] icbaker commented on #6694
Please follow the issue template:
https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md

Specifically, can you tell us:

1. What version of ExoPlayer are you using?
1. Did you build the FFmpeg extension with ac3 support enabled? https://exoplayer.dev/supported-formats.html#ffmpeg-extension
1. Does the issue reproduce in the ExoPlayer demo app? If so please attach a bug

[2019-11-26 10:33] icbaker commented on #6691
Please follow the issue template:
https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/question.md

Specifically:

1. Are you talking about the ExoPlayer demo app here, or your own app built using the ExoPlayer library?
   * If it's your own app, what version of ExoPlayer are you using?
1. If you're reproducing this in the ExoPlayer demo app, can you attach a bug report here

[2019-11-26 14:47] shan-mustafa commented on #6691
No , I integrated Exoplayer in my App. Also there is no sound only video play with buffering though everything work fine on MX-Player and Android Media player so it shouldn't be the hardware problem,  Please check below details:
- ExoPlayer version : 2.10.7
- File extension : mpg
- File resolution: (1920 x 1080)
- Hardware : Rockchip Processor TV device
- Android version : 7.1.2

- I couldn't repr

[2019-11-26 15:01] icbaker commented on #6691
I'm afraid this isn't really enough information to diagnose the problem.

You can add a local file to the demo app by editing [media.exolist.json]( https://github.com/google/ExoPlayer/blob/release-v2/demos/main/src/main/assets/media.exolist.json) using a `file:///` URI, then deploying to your device. e.g.:

[code]

To confirm you're seeing 2 separate symptoms:

1. There is no audible sound.
1. The

[2019-11-26 15:31] shan-mustafa commented on #6691
Thanks i able to set my file URI....
Yes i am facing two issues:
1- There is no audible sound.
2- The video doesn't play smoothly - it appears to be buffering.

Now i figured out that demo App and Exo-Player integration in my App both behaving exactly the same. In other words yes i able to replicate these issues on Demo App.
Here is the video link:
https://we.tl/t-41GR45m4pR

Please check at your

[2019-11-26 16:14] BrendanParks commented on #6657
It could very well be a red herring/separate issue, but I can effectively replicate on the latest Spotify version by relentlessly spamming the next button on the notification:

<img width="250" alt="image" src="https://user-images.githubusercontent.com/4257201/69651072-86de8180-103d-11ea-89cc-b239e92ef58f.png">

And I got quite a few of these in the logs after:

[code]

I remember doing this in th

[2019-11-26 16:18] icbaker commented on #6691
Thanks for the media sample - it looks like it's mpeg2 video & ac3 audio. Note that neither of these formats are supported on all android devices:
https://developer.android.com/guide/topics/media/media-formats#core

More information on supported formats:
https://exoplayer.dev/supported-formats.html#sample-formats

When I play that media on my device (Pixel 3A XL w/ Android 10) it shows a blank vid

[2019-11-26 17:00] jakoss commented on #6657
@marcbaechinger were you able to replicate this? Maybe ExoPlayer should have some rate limiting

[2019-11-26 18:12] vengateshvengi commented on #6689
Extremely Sorry.I dont have any idea about it.so,give me some example or guide-ens   to set  device-specific MediaFormat keys for deinterlacing in exoplayer.@icbaker

[2019-11-26 18:40] tobint commented on #6671
@AquilesCanta  How can I help improve the actionability of this bug? I want to make sure you have all you need to make this bug useful for you.

[2019-11-26 19:04] krackjack234 opened #6697 "How to set minimum amount of data/chunks to be buffered before start of playback"
### [REQUIRED] Searched documentation but could not find direct answer

### [REQUIRED] Question
We want to control the minimum number of chunks/data that the player should load before it should start playback

We changed the below values in CustomLoadControl and added it to exoplayer overriding default load control

[code]

For us, our HLS chunk duration is 5s.

When we set the `DEFAULT_MAX_BUFFER

[2019-11-26 19:51] avsbrowncoats commented on #6671
@AquilesCanta The logs have already been provided to you by email. Let me know what else are you looking for.

[2019-11-26 19:59] AquilesCanta commented on #6671
The things we need are actually available in your own post. In this specific case I can't do anything without the media sample.

[2019-11-26 23:25] tobint commented on #6671
I'm working with our team to get you access to media. Due to licensing, I'm wondering how we can safely share this media. Is there a standard form / method you use for this?

[2019-11-27 02:06] #6555 closed, assigned to andrewlewis

[2019-11-27 03:15] LouisLin0706 commented on #6405
Hey guys
Question here, this is ExoPlayer version 2.10.7 `ImaAdsLoader `
Do we have any plan to handle else case in`LOG` event ?

<img width="503" alt="螢幕快照 2019-11-26 下午4 13 15" src="https://user-images.githubusercontent.com/11386794/69690447-cd4be300-1106-11ea-8666-b9e8bb9617a3.png">

[2019-11-27 05:24] tonggang1308 opened #6698 "exoPlayer.duration get a wrong time with 240k bitrate mp3."
Export mp3 files with different bitrates from the same wav file. Mp3 files with 192k, 320k bitrate can get the correct duration. But the duration for mp3 with 240k is problematic.  If you get 240k bitrate MP3 duration through ffmpeg, you can get it correctly.

we are using exoplayer r2.10.8.

[mp3.zip](https://github.com/google/ExoPlayer/files/3895240/mp3.zip)

[2019-11-27 06:13] dummy-amit opened #6699 "Lot of 'DecoderInitializationException' in some specific decodes"
### [REQUIRED] Issue description
We are using exo player in our application for playing 720*1280 (vertical videos)
We have 2 links, hevc and avc, if somehow we face some issue in playback in hevc, we fallback to avc link.
I have logged non-fatal issue to firebase whenever playback exception is thrown in PlayerEventListener and noticed that for couple of decoders, exo player is unable to play video

[2019-11-27 10:05] SFocus commented on #6495
@tonihei, unfortunately, I can not help anything, we gave up RTMP and moved to HLS. Thanks for the help! Sorry for the long answer.

[2019-11-27 10:26] AquilesCanta commented on #6671
I'll paste from above:

[2019-11-27 10:33] icbaker commented on #6698
Thanks for the report. I can reproduce this in the demo app - the 192k and 320k files show a duration of 3:49 and the 240k file shows a duration of 3:35.

[2019-11-27 10:34] #6495 closed, assigned to tonihei

[2019-11-27 11:04] patrick131313 opened #6700 "java.io.EOFException: ExoPlayer does not play short AAC File"
When I try to play an AAC File under 30 seconds ExoPlayer throws java.io.EOFException if "FLAG_ENABLE_CONSTANT_BITRATE_SEEKING" is set.

Currently I use version 2.9.3. I tried also with 2.10.8 and it still reproduces

Device(s) and version(s) of Android being used
Samsung Galaxy s8+ Android 8
Lg Q6 Android 8.1

I sent the report and AAC File on email at dev.exoplayer@gmail.com

[2019-11-27 12:12] ArunJO opened #6701 "Exoplayer not playing Video only playing audio."
I am using Exoplayer. where input is HLS Stream it playing in many mobile but still its getting video i s not paying in some Devices but  audio is playing.(Example Devices: Samsung s series)

kindly help me to resolve this issue

[2019-11-27 12:38] icbaker commented on #6701
Please fill in the issue template:
https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/question.md

It's going to be impossible to diagnose the issue without more information, such as:

* The stream you're seeing this behaviour with
  * What codecs are used for the audio & video?
* Does it reproduce in the demo app? If so, please provide a bug report after the reproduction.

[2019-11-27 12:53] shan-mustafa commented on #6691
I convert this file to MP4 then tried it and its working no buffering with perfect audio but it shall be so kind of you if you can explain how i can use ffmpeg and VP9 extension (Decoders) so i can achieve this without manually converting file to mp4 first...
I don't know how to add the environmental variables and all these stuff to setup ffmpeg extension in my project to make it work. Really appr

[2019-11-27 13:17] icbaker commented on #6691
There are instructions for building the ffmpeg and vp9 extensions in their respective READMEs:
https://github.com/google/ExoPlayer/tree/release-v2/extensions/ffmpeg
https://github.com/google/ExoPlayer/tree/release-v2/extensions/vp9

This seems more like a general unix/shell question rather than ExoPlayer specific - probably best to get more information from somewhere like Stack Overflow.

[2019-11-27 13:18] #6691 closed, assigned to icbaker

[2019-11-27 13:21] Kamil-H commented on #6516
I would like to just inform that I'm also facing this problem. Occasionally I'm getting exactly the same crash.

[2019-11-27 13:21] maven-y opened #6702 "ExoPlayer .mp4 extension’s not working"
### Issue description
I am using mp4 video URLs to play in my app,  I have checked Video is not playing it is just loading and taking much time. And GREEN screen over top of the videos.

###  Reproduction steps

Sample app of exoplayer added media source in  json file

Version Exoplayer:2.7.3

Url Streaming: https://sapphireblessings.s3.amazonaws.com/video/strategiesfordeliverance/02-The-Big-Book.

[2019-11-27 14:51] gchouhan-systango opened #6703 "Want to get accurate current position? Right now it always giving 10 millisecond interval position."
Hi team, I have requirement to get current position in every 1 millisecond. When I am getting current position in every milliseconds it is giving in interval of 10 milliseconds from the player. not exact millisecond. There is any way to set default interval of position to 1 millisecond. Please suggest any solution if available.
thanks

[2019-11-27 15:19] icbaker commented on #6703
Is this playing a video? What frame rate is your source video at?

'position' doesn't really make sense at any higher resolution than frame rate, which if you're looking at a 60fps video is 1000 / 60 = 16.66ms - so 10ms of resolution seems reasonable.

[2019-11-27 15:53] skalyani-systango commented on #6703
@icbaker
Let me elaborate a bit on this.

**What We Want to Achieve**
We are working with HLS stream served by AWS CloudFront. We have a pre-defined list of `long` numbers that represent elapsed time in milliseconds. So we run an infinite `Handler` with 1ms delay and we continuously query for Exoplayer's current time during video playback in that `Handler`'s Runnable. As soon as the player's curre

[2019-11-27 16:16] icbaker commented on #6703
Stupid question: Can you just trigger if the currentPosition is within a certain range of target time (e.g. 200ms). i.e. `if (targetTimeMs <= currentPosition && currentPosition <= targetTimeMs + 200)`

It's unlikely we're going to make any additional guarantees about the resolution of the time returned from `getCurrentPosition()`.

And generally making millisecond-precision equality comparisons ac

[2019-11-27 16:57] itstamil commented on #6701
Hi @icbaker

I'm also facing the same issue while testing on samsung j7

Video Codec : H262
Audio Codec : mp2

In samsung mobiles, video is not playing but i able to decode and play the audio
please help me to sort this out

Regrads,
Tamilvalavan Shanmugam

[2019-11-27 17:00] ArunJO commented on #6701
Hi @itstamil,
My setup also similar to this, but i'm testing with samsung s8

[2019-11-27 17:02] milos-pesic-zattoo opened #6704 "Support seeking into downloaded fMP4 file without top level sidx box"
### [REQUIRED] Use case description
The main use case is seeking support for already downloaded fMP4 files which don't have top level `sidx` box. According to ISOBMFF spec `sidx` box isn't required. An example of such a file could be found at:
https://drive.google.com/drive/folders/1kFDugORTMhPWq5fZZMPXjrB7E7oZSe5x?usp=sharing
ExoPlayer isn't able to seek into these kind of files as they don't hav

[2019-11-27 17:04] icbaker commented on #6701
Neither H262 video nor MP2 audio are required to be supported by all Android devices:
https://developer.android.com/guide/topics/media/media-formats#core

More information on supported formats:
https://exoplayer.dev/supported-formats.html#sample-formats

Do the devices you're using support these formats? If not, you might be able to decode in software using the FFmpeg extension:
https://exoplayer.

[2019-11-27 17:04] #6701 closed, assigned to icbaker

[2019-11-27 17:35] ojw28 commented on #6703
Executing something every millisecond sounds very inefficient. If you want to "do something" at a certain `eventPosition`, you can ask the player to tell you when that position is encountered:
[code]
Where `eventTarget.handleMessage` will be called at `eventPosition`. You should set `deleteAfterDelivery` to `false` if you want the event to be triggered again if the event position is encountered ag

[2019-11-27 19:24] yak27 opened #6705 "Expose properties for skipSilence"
#5165 # [REQUIRED] Use case description
I was using an app that had a "skip silence" feature and while using it I thought to myself "This is very useful but I would like to adjust the replacement silence as it's a bit too abrupt. This seems like a simple fix and if it were open source I just might do it myself." Turns out it is open source and uses ExoPlayer.
So this feature request is if those pr

[2019-11-27 22:47] ojw28 commented on #6601
This should be fixed in the `dev-v2` and `dev-v2-r2.11.0` branches.

[2019-11-27 22:47] #6601 closed, assigned to andrewlewis

[2019-11-28 02:05] #6618 closed, assigned to andrewlewis

[2019-11-28 02:05] #6616 closed, assigned to andrewlewis

[2019-11-28 03:24] droidmonktutorials opened #6707 "Library source does not match the bytecode for class ImaAdsLoader"
While displaying ads with IMA extension and the ProgressiveMediaSource, I am getting the following error. The app crashed just after the preroll ad completes.
On navigating to the class ImaAdsLoader I get the error "Library source does not match the bytecode for class ImaAdsLoader"
`
java.lang.NoSuchMethodError: No virtual method getAdGroupIndexAfterPositionUs(J)I in class Lcom/google/android/exop

[2019-11-28 07:11] khyatiChitroda opened #6708 "Does Exoplayer support rtsp now?"
Before filing a question:
-----------------------
- This issue tracker is intended ExoPlayer specific questions. If you're asking
  a general Android development question, please do so on Stack Overflow.
- Search existing issues, including issues that are closed. It’s often the
  quickest way to get an answer!
  https://github.com/google/ExoPlayer/issues?q=is%3Aissue
- Consult our developer websit

[2019-11-28 08:29] krackjack234 commented on #6697
Hi, Anyone has any thought on this?

[2019-11-28 08:41] andrewlewis commented on #6707
Does the error go away if you use the same version number for all the modules?

[2019-11-28 11:11] marcbaechinger commented on #6693
onNotificationPosted is called each time a notification is created and posted by the manager. This happens if the notification manager has a player set and a state change of this player occurs.

To avoid this you can set the player to `null` as you do in `onDestroy`. As soon as you call setPlayer(null) the listener is removed and the manager is not aware of player changes anymore.

Looking at that

[2019-11-28 12:32] shan-mustafa commented on #6691
May be you are right this part is not specific to ExoPlayer. But i've read below documentation....
https://github.com/google/ExoPlayer/tree/release-v2/extensions/ffmpeg
https://github.com/google/ExoPlayer/tree/release-v2/extensions/vp9

and these doc don't make sense and i think the method mentioned here is not for Windows. So if could please answer how i can setup my project with these extensions

[2019-11-28 13:19] icbaker commented on #6691
I'm afraid I don't have any experience developing on Windows, so I can't be of much help.

We don't really have the bandwidth to offer support for all the different environments people might be using - our instructions are unix-centric because that's what we use to develop ExoPlayer.

Looks like there's some info in closed issues:
https://github.com/google/ExoPlayer/issues?utf8=%E2%9C%93&q=+ffmpeg

[2019-11-28 13:30] shan-mustafa commented on #6691
Ok no problem Thank you no much, really appreciate your help.

[2019-11-28 15:03] andrewlewis commented on #6646
Note: e26a61b appears to cause unexpected changes to the ordering of video renderer events so will be rolled back. We plan to investigate and hopefully submit a fixed version soon.

[2019-11-28 15:44] droidmonktutorials commented on #6707
Yes it works, and I have realized that if I want to use _exoplayer-core:2.10.7_ then I can clone the ExoPlayer repository and depend on the module locally.
But it would have been great if we could use the latest version of exoplayer_core with extension_ima without cloning the repository. Is that not possible?

[2019-11-29 04:53] #6699 closed, assigned to nobody

[2019-11-29 08:00] andrewlewis commented on #6707
It shouldn't be necessary to clone the sources. It looks like the maven repository has both exoplayer-core:2.10.7 and extension-ima:2.10.7. Could you give some more details on what goes wrong if you try to depend on those?

[2019-11-29 08:05] andrewlewis commented on #3738
The FLAC extension should work from API level 16 onwards. The only reasons reasons I can think of for getting noise output are (1) the device's raw decoder `MediaCodec` (passing through data output by the FLAC extension's extractor) may be broken or (2) you may be hitting bug #6601 which relates to bit depth changes in playlists.

@balflear If the FLAC extension is set up correctly and you're play

[2019-11-29 08:06] RowlandOti opened #6709 "Unable to override the Shuffle and Repeat Drawables"
### [REQUIRED] Issue description
This is an attempt to override the toggle on, off for both shufle and repeat drawables. It seems to not be working since I still see the default drawables for the two items above,.

### [REQUIRED] Reproduction steps
Tried overriding the drawables using:
In styles.xml
[code]

### [REQUIRED] Link to test content
N/A

### [REQUIRED] A full bug report captured from the

[2019-11-29 08:10] andrewlewis commented on #6429
My previous comment applies to the newer version too I'm afraid. New ETA for JavaScript changes is January, but we can't provide any guarantees.

[2019-11-29 08:24] laurafuente commented on #6654
Hi, Is there any news about this issue?
Thanks

[2019-11-29 09:05] andrewlewis commented on #6620
@Rvldo Using NDK r20 and following the steps in the README on Linux/Mac should work. If you get errors while following the steps in the README, please provide the error message here. If building the extension works but the stream doesn't play, make sure you have enabled the right decoder and look at logcat to see whether the extension is actually loading.

[2019-11-29 09:55] Cosminnv opened #6710 "Exoplayer releases itself when in background"
#6386 # [REQUIRED] Searched documentation and issues

Tried searching on Google but didn't find anything relevant.

### [REQUIRED] Question
I have an app that can play videos. I use a single instance of exoplayer that i initialize in a service so that the user can listen and control the video in background. The problem is that when a video is playing, the user goes into background and then pauses

[2019-11-29 11:43] olivier-yospace opened #6711 "Motorola G5: Multi-period DASH - corruption when new period is from different encoder with no level switch"
### Reproduction steps
Play the Live Streams and watch when there is a new Period (on Android 8)

### Link to test content
Test URL (provided by Email )

### A full bug report captured from the device
Full Bug Capture report from device (provided by Email)

### Version of ExoPlayer being used
We are using Exo Player v2.10.8 on Android 8

### Device(s) and version(s) of Android being used
We have t

[2019-11-29 14:19] Sicarius4u commented on #2213
Hi Duna!

You know, I'm facing the same issue for a requirement at work, were you able to achieve this? any hint you can provide?

Thanks in advance!

[2019-11-29 15:05] ojw28 commented on #6709
Thanks for reporting this. We should add a layer of indirection to these drawables via [drawables.xml](https://github.com/google/ExoPlayer/blob/r2.10.8/library/ui/src/main/res/values/drawables.xml#L17), like we do for other icons, to make them easier to override.

[2019-11-29 15:59] droidmonktutorials commented on #6707
My bad, it works. I am extremely sorry.

[2019-11-29 16:35] Duna commented on #2213
It's been 3 years and Google doesn't move his a.s to fix the BUG

[2019-11-29 16:45] #6707 closed, assigned to andrewlewis

[2019-11-29 17:33] icbaker commented on #6708
No. Discussion and more info in https://github.com/google/ExoPlayer/issues/55.

[2019-11-29 17:33] #6708 closed, assigned to icbaker

[2019-11-29 18:11] icbaker commented on #6702
I can reproduce this, thanks for the report. I'll take a closer look next week and see if I can work out what's going on.

[2019-11-29 18:28] icbaker commented on #6700
Thanks for the report - I'm able to repro in the demo app at 2.10.8 with the media you provided.

I'll dig deeper into what's going on here next week.

[2019-11-30 03:43] chenjiancan opened #6712 "How can I find which media in the ConcatenatingMediaSource causes the load error?"
I use ConcatenatingMediaSource to hold my play list, and I add a set of  ExtractorMediaSource items into it.

The media files with which ExtractorMediaSource create are all .mp4-s, but some files may brocken and they cause OnPlayerError callback with ExoPlaybackException.TYPE_SOURCE.

[code]

My question is how could I log the file name(or uri) and remove it from the ConcatenatingMediaSource, and

[2019-11-30 03:50] chenjiancan commented on #6712
I also found that ExtractorMediaSource.factory has a tag field, should I set the file uri to "tag", and get it when needed.

[2019-11-30 04:25] chenjiancan commented on #4343
@tonihei  I just post #6712 and found that this issue is relative.
by use:
 concatenatingMediaSource.removeMediaSource(player.getCurrentWindowIndex())
Sometimes it remove wrong mediaSource.

[code]

I have 5 file, one of them is broken, after playing looped for a while, all media got removed.

I would like to log which file cause the error, I maintain a List (mediaList) of file uri on back of conc

[2019-11-30 05:38] itstamil opened #6713 "Error : Vaapi Not found on FFMPEG Cross-compile"
Hi,
I was trying to build FFMPEG by following these steps,
Step 1: cloned Exo-player
Step 2: cd Exo-player && FFMPEG_EXT_PATH="$(pwd)/extensions/ffmpeg/src/main/jni"
Step 3: Downloaded NDK
Step 4: cd NDK && NDK_PATH=$(pwd)
Step 5: HOST_PLATFORM="linux-x86_64"
Step 6: An complete Command run for build process

COMMON_OPTIONS="\
    --target-os=android \
     --disable-everything \
     --disable-st

[2019-11-30 13:13] tuxxon opened #6714 "When showing subtitles, can you fire startPositionMillis and endPostionMillis on onCues() event or any other event?"
### Problem.
  I want to receive the subtitle and time position info whenever showing subtitles in the player.
 But, I think there is no event for firing those,
As you know the listener method ***onCues(List\<Cue\> cues)*** doesn't have the time position info.
I mean exactly "Cue class".

### How to solve.
If you look at the TtmlNode class, you can know TtmlNode has ***startTimeUs*** and ***endTim

[2019-11-30 15:10] marcbaechinger commented on #6710
I don't think ExoPlayer does release itself automatically after a given time. But probably the service does release the player when it is destroyed, which would be the correct behaviour of the service.

With the available information that sounds like you may call stopForeground(boolean) when the user pauses the player. With this the service is not running in the foreground anymore and the system m

[2019-11-30 15:26] Cosminnv commented on #6710
Hi, thanks for the reply.

You're right, i do call stopForeground when the player is paused ,but i only do that because i want the user to be able to swipe the notification away without killing the video ( kinda like spotify does). I'll try to do it like you recommended.

Also, i kinda need the player to be in a service because i have video of a guy talking. So you can watch him while he is speaki

[2019-11-30 15:26] #6710 closed, assigned to marcbaechinger

[2019-11-30 15:30] marcbaechinger commented on #6654
It appears that this is a device specific problem with the DRM implementation or a bug in the platform DRM of the Android version used on this device.

Searching for the given device on the net, tells me that it can be upgraded to Android 7.

Did you test with this the device with the most recent OS available for that device? If you tested, can you confirm this does fix the problem?

[2019-11-30 17:36] master255 opened #6715 "Сan not compile flac extension according to the instructions"
Many errors:
/android-ndk-r17c/build//../sources/cxx-stl/gnu-libstdc++/4.9/include\bits/c++0x_warning.h:32:2: error:
      This file requires compiler and library support for the ISO C++ 2011 standard. This support is currently
      experimental, and must be enabled with the -std=c++11 or -std=gnu++11 compiler options.
#error This file requires compiler and library support for the \
 ^

[2019-12-01 04:03] markproxy opened #6716 "AdEventListener.onAdEvent() is never called after the video has looped"
### [REQUIRED] Issue description
When using LoopingMediaSource, I expect AdEventListener.onAdEvent() to be called throughout playback -- even when video playback has looped one or more times. This way, onAdEvent() can be used to record ad-related analytics, including the number of times an ad was watched due to looping. However, after the first time through an HLS video, onAdEvent() in not longer

[2019-12-01 08:13] ozshabat opened #6717 "Streaming a video from chunks of incoming Byte arrays"
Hi team,
I looked in the web for an answer to this question and found only this:
[in stack overflow](https://stackoverflow.com/questions/35688810/exoplayer-to-play-live-video-chunks-received-as-byte-arrays-one-after-another-ma).
I also searched in the the issues here but couldn't find anybody who faced the same issue (I'm probably missing something).

### Question:
I'm currently having a UDP datag

[2019-12-01 13:01] tuxxon commented on #6714
resolved by myself.

[2019-12-01 13:01] #6714 closed, assigned to icbaker

[2019-12-01 20:02] ArshakManukyan commented on #6617
@andrewlewis I tried [this](https://github.com/google/ExoPlayer/issues/5076#issuecomment-437305462) demo application, and faced with an error while trying to use it in my app. I'll provide stacktrace below, and seems renderer calls reset() -> .... -> mediacodec.stop()
and there  throws IllegalStateException. Is this is a bug or am doing something wrong ?

please see above for more details ))

[cod

[2019-12-01 20:03] shahen94 commented on #6617
@ArshakManukyan having the same issue

[2019-12-02 09:27] andrewlewis commented on #6713
Please take a look at the [README](https://github.com/google/ExoPlayer/blob/90b5212/extensions/ffmpeg/README.md) for the extension to see how we expect ffmpeg to be configured. For using the extension there is no point configuring with anything video-related as the extension only supports audio decoding.

[2019-12-02 09:27] #6713 closed, assigned to andrewlewis

[2019-12-02 10:04] marcbaechinger commented on #6661
Did you try with `MediaCodecUtil`? It allows you to get a `MediaCodecInfo` for a given codec. The `MediaCodecInfo` provides devices specific information about its capabilities. It requires API 23 though so it is not much help for all API levels supported by ExoPlayer.

[2019-12-02 10:15] tonihei commented on #6712
`player.currentWindowIndex` should be the index of the media source that caused the error.

There was a bug previously (#5407) where the index wasn't reported correctly, but this has been fixed in 2.11.0. So I assumes this is a duplicate of this issue.

[2019-12-02 10:15] #6712 closed, assigned to tonihei

[2019-12-02 11:28] kim-vde commented on #6715
Can you try to follow the extension [build instructions of the dev-2 branch](https://github.com/google/ExoPlayer/blob/dev-v2/extensions/flac/README.md) using NDK r20? It this does not work, can you provide the whole stack trace?

[2019-12-02 13:05] andrewlewis commented on #6716
If I understand correctly, this is not related to the ExoPlayer IMA extension, but instead is about behavior of IMA's sample app after applying a patch to loop playback. The sample app uses ExoPlayer for playback, but it has its own integration with the IMA SDK.

Please could you provide a link to the discussion with the IMA SDK team? Thanks.

[2019-12-02 13:09] icbaker commented on #6689
You'll need specific knowledge of the devices you're targeting, and access to their documentation, to know what keys their codecs will accept. And this will only work on those specific devices.

Once you have the key (usually a string name & value, either a string or numeric), you'll need to create a custom sub-class of [`MediaCodecVideoRenderer`](https://github.com/google/ExoPlayer/blob/release-v

[2019-12-02 13:11] andrewlewis commented on #6405
@LouisLin0706 Your question is not directly related to this issue (as far as I can tell), so I will mark it as off-topic. If you want to add your own ad event listener, please see #6316. If that is not sufficient for your use case, please file a separate issue.

[2019-12-02 13:11] #6503 closed, assigned to kim-vde

[2019-12-02 13:15] andrewlewis commented on #6680
Could you check whether the ad overlay frame layout is visible on top of the player output surface view before rotation, and its dimensions are correct? It should be possible to verify this using Android Studio's layout inspector. The ad overlay view passed to the IMA SDK must be on top of all non-essential player-related controls.

[2019-12-02 13:32] ojw28 commented on #6704
Can you provide a bit more information about the use case. In particular, what's the real life scenario where it would make sense to end up in the state of having thousands of individual fragments corresponding to a movie, without also having any corresponding indexing information, on the server side?

The only case I can really think of is that you've previously live-streamed the content using HL

[2019-12-02 13:42] icbaker commented on #6697
Can you be a bit more specific here? Did you create a subclass of [`DefaultLoadControl`](https://github.com/google/ExoPlayer/blob/release-v2/library/core/src/main/java/com/google/android/exoplayer2/DefaultLoadControl.java)? How did you then change those values such that they were read by your subclass? If you just redefined the same static constants, they won't be used by the superclass implementa

[2019-12-02 13:51] ojw28 commented on #6695
I don't think the leanback library supports ad markers (else there would be a way to expose them [here](https://developer.android.com/reference/android/support/v17/leanback/media/PlayerAdapter)). So I think your options are to file a feature request [here](http://issuetracker.google.com/issues?q=componentid:460758%20status:open), or build your own player controls UI instead.

If you do file a feat

[2019-12-02 13:58] andrewlewis commented on #6105
@imliujun Sorry for the delay looking at this again. Is there a Java exception thrown in this case that we can catch and convert into a renderer exception? I think that would be the best we can do because it's unclear what might be causing the underlying problem (I don't think we've received any other reports of this error).

[2019-12-02 14:23] gchouhan-systango commented on #6703
@ojw28 Thank you so much for providing this solution. this solved my problem. Thanks again.

[2019-12-02 14:23] #6703 closed, assigned to icbaker

[2019-12-02 14:23] andrewlewis commented on #3058
Sorry for the delay. Yes, I think we are currently clearing the `audioSessionId` when renderers are disabled, even when it was set by the app.

I think we can use this bug for tracking these related tasks:
- Providing a convenience method to generate an audio session ID. TBD how we deal with the fact that it's only possible to generate an audio session ID from API 21 onwards.
- Retaining the audio

[2019-12-02 14:23] master255 commented on #6715
Nothing worked!
~/flac/src/main/jni$ cd "${FLAC_EXT_PATH}"/jni && ${NDK_PATH}/ndk-build APP_ABI=all -j4
Android NDK: Could not find platform files (headers and libraries)
/home/oleg/android-ndk-r20b/build/core/init.mk:427: *** Android NDK: Aborting    .  Stop.

And I want to compile a release, not a version for developers.

[2019-12-02 14:37] master255 commented on #6715
And place the label "bug". This is a bug on the release. Let's not fool each other.

[2019-12-02 14:41] tuxxon opened #6718 "Where is the code that hide a subtitle since being elapsed a given time?"
### Problem.
  I have searched Cue.java, Subtitle.java, SimpleExoPlayer.java and so on  for the codes that hide a subtitle since being elapsed a given time. But I couldn't at this moment.

Please Let me know where the codes are.

[2019-12-02 14:42] ojw28 commented on #6715
@master255 - If you wish to get help from our team, please consider changing your tone to be a bit more polite. Thank you.

[2019-12-02 15:06] markproxy commented on #6716
Within the IMA SDK BasicExample app, see `SampleAdsWrapper.onAdsManagerLoaded()`. Within this method, a call is made to `mStreamManager.addAdEventListener(this)`, which hooks the `SampleAdsWrapper` up to receive calls to `onAdEvent()`. The first time through video playback, this works as expected. On subsequent loops, `onAdEvent()` is no longer called. Are you saying that this is due to a bug in t

[2019-12-02 16:00] kim-vde commented on #6717
You should use a specific `DataSource` that is able to handle your use case. I would first have a look to the `UdpDataSource` and `ByteArrayDataSource` classes to see if they would work. If not, an alternative is to implement your own `DataSource`.

[2019-12-02 16:33] kim-vde commented on #6718
The display of cues is based on events, as you can see in class `Subtitle`. A cue disappears when a new event (containing an empty cue or another cue to display) starts.

The display of subtitles is handled in `SubtitleView`. If you want to implement your own display, you will need to write a new class that implements interface `TextOutput`.

Does that answer your question? If not, could you be mo

[2019-12-02 16:51] andrewlewis commented on #6698
These three MP3s all appear to be constant bitrate and they don't have Xing, VBRI or MLLT seeking metadata. The 192k stream has a constant MPEG audio frame size of 626 bytes, while the 240k stream alternates between 835 and 731 bytes per MPEG audio frame. ExoPlayer is using the bitrate of the first MPEG audio frame, which is 256 kbit/s (the even-numbered frames have a bitrate of 224 kbit/s, presum

[2019-12-02 16:59] tonihei commented on #6697
Actually no. This buffer is the maximum the player attempts to load in total. This unrelated to the start of the playback. The buffer needed to start playback is called `bufferForPlaybackMs` and the buffer needed to restart after playback stalled is called `bufferForPlaybackAfterRebufferMs`.

Looks like this is why it downloads more chunks than you expect.

Could you explain why you can`t define t

[2019-12-02 17:17] icbaker commented on #6698
This thread suggests that a constant bitrate (CBR) MP3 must have all frames at the same bitrate:
https://hydrogenaud.io/index.php?topic=52216.0

So by that definition, this file isn't valid (because to be variable bitrate it needs an Xing header as flagged by Andrew).

You're probably best off either using an explicitly VBR file or picking a supported CBR bitrate (list here: https://en.wikipedia.o

[2019-12-02 17:17] #6698 closed, assigned to icbaker

[2019-12-02 17:18] hkim2013 commented on #6429
Ah okay, thank you

[2019-12-02 17:30] icbaker commented on #6700
I think this is happening because the file contains an incomplete ADTS frame at the end - so during the scan to setup the seeking, we're expecting to read 326 bytes but only 236 are available. How was this file produced? It seems it might have been sliced from a larger file using e.g. Unix `split`?

We probably shouldn't completely fail playback in this case though (given we successfully play the

[2019-12-02 17:43] andrewlewis commented on #6716
There is potential for confusion here because ExoPlayer does have its own integration with IMA (the [IMA extension](https://github.com/google/ExoPlayer/tree/release-v2/extensions/ima), where we wrap the IMA SDK and take care of handling events for you), but this issue instead relates to the IMA sample app, in which ExoPlayer is being used to play individual pieces of content and ads and has no kno

[2019-12-02 17:43] #6716 closed, assigned to andrewlewis

[2019-12-02 18:01] marcbaechinger commented on #6657
I was able to reproduce this with Google Play Music, Spotify and the ExoPlayer demo app using the PlayerNotificationManager:

[code]

For the case when I just hit the play/pause button repeatedly the notification is updated once for each status update (in this case playWhenReady true/false). When hitting very quickly I can still go over the enqueue rate threshold which causes the notification to b

[2019-12-02 18:02] master255 commented on #6715
@ojw28 Ok. Sorry if I was rude. I will try to be more kind.

[2019-12-02 18:11] markproxy commented on #6716
Thanks for the quick response on this. I was surprised by the assertion from the IMA team that ExoPlayer  would be responsible for calling onAdEvent(). I'll dig deeper on what it would take for onAdEvent() to continue to be called each time the video loops. It it indeed challenging to understand where responsibility lies here.

[2019-12-02 20:06] brAzzi64 commented on #6103
Hi @tonihei, thanks for reopening. I finally got around to give this idea a try, but it seems like the approach of "re-assembling the audio track from its pieces" to then merge with the actual videos does not seem to be working.

I tried reducing this to a more basic, single-segment:

[code]

but the clipping (of the same length for both tracks) does not seem to be working as expected. I'm thinkin

[2019-12-03 00:44] #6653 closed, assigned to ojw28

[2019-12-03 01:54] tuxxon commented on #6718
Thank you for your commenting.

With your comment when I have checked out ***onCues()*** including ***cues.size(), player.getCurrentPostion()***, I got an empty cue and current position.

I am really appreciated for this.

[2019-12-03 01:54] #6718 closed, assigned to kim-vde

[2019-12-03 02:27] pokercc commented on #6105
Medecodc had some cannot duplicate error on some devices.I found a lot releative logs from bugly.
It will trigger exoplayer exception  ExoPlaybackException.TYPE_RENDERER or ExoPlaybackException.TYPE_UNEXPECTED. I had a solution.
[code]
How to use?
- set the MediaCodecSelectorCompat into ExoplayerFactory
- when exoplayer report an exception  and it's type in ExoPlaybackException.TYPE_RENDERER or Ex

[2019-12-03 03:49] RowlandOti commented on #6709
Hoping this will make it in the next release, right?

[2019-12-03 06:38] patrick131313 commented on #6700
I record files from online streams, I slice the file when I stop the recording. I don't check if the frame is complete or not.

[2019-12-03 07:04] khyatiChitroda opened #6719 "How to play rtmp stream without audio in Exoplayer?"
I am integrating Exoplayer into my application and into this I am getting problem when I am trying to play video without audio it can not play, but if I am enabling the audio it will play the video properly, my code :
[code]

[2019-12-03 08:43] user968532 opened #6720 "Video playback, which is inside the file"
Hello. I have a .mp5 file whose structure is: general data, video (.mp4) and preview image. I know the offset (348) and length(341258941) of the video (.mp4), can I play it using the exoplayer?

[2019-12-03 09:58] kim-vde commented on #6715
The FLAC extension build is currently broken. This has already been fixed in a4e7274cca0ab57f0b23bfa0251a06fae243bf94 but has not been merged to the release branch yet.

I see two options:
1) You wait a few weeks until the fix is merged to the release branch.
2) You apply the necessary changes from the commit mentioned above to fix your current version.

Note that, when I try to build the release

[2019-12-03 10:07] kim-vde commented on #6719
Please provide the video path (with and without audio) as described [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/question.md#link-to-test-content).

[2019-12-03 10:14] khyatiChitroda commented on #6719
rtmp://media1.ambicam.com:1938/dvr30/5ebeca06-910d-4eb8-8032-75cec2824f37

rightnow it is without audio once you check let me know I will add audio into this

[2019-12-03 10:17] khyatiChitroda commented on #6719
Please check my comment, and please help me as I want to update this issue
today as I have to upload my app

On Tue, 3 Dec 2019 at 3:37 PM, kim-vde <notifications@github.com> wrote:

[2019-12-03 10:25] khyatiChitroda commented on #6719
PLease check mail, I had sent you url, once you check let me know I will add audio into that

[2019-12-03 10:51] AquilesCanta commented on #6116
Hi, sorry for the delay on this. Could you check the stream? It's timing out for me.

[2019-12-03 11:21] JiannaiJ opened #6721 "How to play "xxx.h264" file?"
file name is "xxx.h264", exoplayer cant play.

[2019-12-03 11:21] master255 commented on #6715
Thank you very much for the clarification. I will wait for the release.

[2019-12-03 11:21] #6715 closed, assigned to kim-vde

[2019-12-03 11:31] AquilesCanta commented on #5693
I'll try to summarize, please correct me if i'm wrong:
**Expected behavior**: Stream plays (possibly with slight pixelation due to stream errors).
**Observed behavior**: Playback stops and does not resume.

Tested on Amlogic 905X2.

I'm playing AudioDiscontinuityIssue.ts on a Pixel3a running Q (exoplayer dev branch), and the behavior seems to me as the one you are expecting. There is a slight pixe

[2019-12-03 11:34] kim-vde commented on #6720
You can try using a `ResolvingDataSource` with a `Resolver` resolving the datasource by copying every field except the `position` and the `absoluteStreamPosition`. Something like this for example:

[code]

[2019-12-03 11:49] kim-vde commented on #6721
Please provide the video path (with and without audio) as described [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/question.md#link-to-test-content).

[2019-12-03 12:27] alexeyr15 commented on #6116
I can't reproduce this issue at the moment. I will recreate the issue if I will be able to reproduce it again.

[2019-12-03 12:27] #6116 closed, assigned to AquilesCanta

[2019-12-03 13:27] icbaker commented on #6702
Looks like your video is interlaced, which isn't supported officially on Android: https://github.com/google/ExoPlayer/issues/3468#issuecomment-441324948

[code]

It may work on some devices, but as you've seen doesn't work on many.

I suspect if you re-encode without interlacing you'll see a better result.

[2019-12-03 13:27] #6702 closed, assigned to icbaker

[2019-12-03 13:38] milos-pesic-zattoo commented on #6704
Sure - your guess is good - it's about reusing the data which is already live streamed. To be streaming protocol agnostic the encoded media data might be stored in a common container which is not necessarily mp4. So each x seconds of media data is encoded and muxed to this container - in further text media fragment. Each of these fragments in case of live streaming will become individual e.g hls s

[2019-12-03 13:46] kim-vde commented on #6719
ExoPlayer fails with the following stack trace when trying to open the rtmp url:
[code]

There is probably something wrong with the url or with the file because it also fails to play with ffplay.

[2019-12-03 13:51] AlbertKobyakov commented on #6720
forgot to mention, .mp5 is local file

[2019-12-03 13:52] user968532 commented on #6720
forgot to mention, .mp5 is local file

[2019-12-03 14:01] user968532 commented on #6720
I did so:
Uri uri = Uri.fromFile(new File(Environment.getExternalStorageDirectory() + "/test.mp5"));

long offset = 348;
DataSpec dataSpec1 = new DataSpec(
dataSpec.uri,
dataSpec.httpMethod,
dataSpec.httpBody,
dataSpec.absoluteStreamPosition + offset,
dataSpec.position + offset,
dataSpec.length,
dataSpec.key,
dataSpec.flags);

ResolvingDataSource.Resolver resolver = dataSpec2 -> dataSpec1;
dataSou

[2019-12-03 15:28] kim-vde commented on #6720
Can you try replacing the length of dataSpec1 by the actual length of the file?

If this does not work, can you provide the file as described [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/question.md#link-to-test-content)?

[2019-12-03 15:40] #5523 closed, assigned to icbaker

[2019-12-03 16:21] user968532 commented on #6720
File test.mp5: [here](http://s000.tinyupload.com/index.php?file_id=61561695956973229307)
videoStart: 16
videoLength: 1692377

[2019-12-03 17:02] tonihei commented on #6103
Thanks for the great reproduction steps!

I can see the same issues that seem to be caused by combining multiple clipping media sources together with different time offsets. Each clipping media source publishes media samples in the specified time range (e.g. audio from 3 to 6 seconds and video from 15 to 18 seconds). The player only "sees" the media structure of the first item in the list. So if t

[2019-12-03 18:42] kim-vde commented on #6720
I tried to use a resolver as described in [this](https://github.com/google/ExoPlayer/issues/6720#issuecomment-561128479) comment (i.e. without updating the length) and it worked for me.

I did the following:
- In PlayerActivity.java, update method `createLeafMediaSource(Uri, String, DrmSessionManager<ExoMediaCrypto>)` to
[code]
- Add your file in `media.exolist.json` (the uri can be a path in your

[2019-12-03 18:46] user968532 commented on #6720
I found a problem, in the original file the video is encrypted (XOR). Please tell me at what stage do I need to decrypt the data?

2.10.3

[2019-12-03 20:27] ojw28 commented on #6339
All of our documentation assumes Groovy. Admittedly other parts are easier to convert (e.g. `implementation 'dependency:version'` to `implementation("dependency:version")`), but it would seem a bit strange to document both just for this specific case. To document both everywhere would be quite noisy. As of writing, [Android Studio's documentation](https://developer.android.com/studio/build#build-f

[2019-12-03 23:28] jt64 commented on #6654
Can you please attach a full bugreport from boot until after failed playback?

[2019-12-04 02:06] #6480 closed, assigned to andrewlewis

[2019-12-04 04:33] RowlandOti opened #6722 "Get Title of the currently playing song."
### [REQUIRED] Searched documentation and issues
Tell us where you’ve already looked for an answer to your question. It’s
important for us to know this so that we can improve our documentation.

### [REQUIRED] Question
Currently attempting to read some metadata i.e the title of the currently playing song alongside the artist. I used the following code:

[code]

which I call in

[code]

### A full

[2019-12-04 04:50] khyatiChitroda commented on #6719
if you will try with VLC it will work properly, and even if I will add audio into this url then also it will working properly, you just try now I had enabled audio.

[2019-12-04 07:06] Rvldo commented on #6620
Hi @andrewlewis its working now..
im using NDK 15rc and i think the readme need to add some information about installation with ffmpeg.
in common_options

COMMON_OPTIONS="\
    --target-os=android \
    --disable-static \
    --enable-shared \
    --disable-doc \
    --disable-programs \
    --disable-everything \
    --disable-avdevice \
    --disable-avformat \
    --disable-swscale \
    --disa

[2019-12-04 07:15] giladna commented on #5935
hi
any update for this?

[2019-12-04 08:06] JiannaiJ commented on #6721
@kim-vde      I've already sent an email with test video file.

com.google.android.exoplayer2.source.UnrecognizedInputFormatException: None of the available extractors could read the stream.

[2019-12-04 09:04] andrewlewis commented on #6620
On the development branch we've moved these instructions into a script which should make this slightly easier (see [build_ffmpeg.sh](https://github.com/google/ExoPlayer/blob/a4e7274/extensions/ffmpeg/src/main/jni/build_ffmpeg.sh)). If the configuration commands there don't work for you (setting aside which decoders are enabled, which may vary between different users) please reply here with some mo

[2019-12-04 10:01] imbichitra opened #6723 "How to play second video of my own file?"
Hi all ,
I have a file xxx.ulx which contain 2 mp4 video and when i play the video using `new ExtractorMediaSource.Factory(dataSourceFactory).createMediaSource(uri);` it alway play the first video not the second video , so how to play the second video direct form xxx.ulx file.

[2019-12-04 11:39] kim-vde commented on #6719
I still get the same error with ExoPlayer and with ffplay.

Note that, when trying to play the file with ExoPlayer, the error is not thrown by ExoPlayer but by net.butterflytv.rtmp_client.RtmpClient, which indicates that there is probably something wrong with the url.

I also tried with VLC (version 3.0.8) and got the following error: "Your input can't be opened:
VLC is unable to open the MRL '<ur

[2019-12-04 11:43] khyatiChitroda commented on #6719
try this,

actually everyday we expired our links for security purpose,

please try this one

rtmp://media1.ambicam.com:1938/dvr30/f9cf7e97-3fcf-4a9d-a7be-dd9ddbaa73f4

Sorry for inconvenience

On Wed, Dec 4, 2019 at 5:09 PM kim-vde <notifications@github.com> wrote:

[2019-12-04 11:51] kim-vde commented on #6720
I could play the file you sent with version 2.10.3 of ExoPlayer. I didn't need to decrypt anything. I just applied the steps described in [this](https://github.com/google/ExoPlayer/issues/6720#issuecomment-561301719) comment.

Did you manage to do the same? Is the file you are trying to play the same as the one you sent?

[2019-12-04 11:56] user968532 commented on #6720
Yes, unencrypted video opens well. But, the original file contains the encrypted video using xor, at what stage should I decrypt it?

[2019-12-04 11:57] kim-vde commented on #6721
I tried to download the file you sent but I don't have sufficient rights. Can you send it directly instead of putting it on Google Drive?

Can FFMPEG or VLC play the file?

[2019-12-04 12:19] kim-vde commented on #6722
Your file seems to be using ID3 v2 tags to contain the metadata. According to the ID3 v2 specifications, the title is provided in the TIT2 frame. I would therefore seach for this frame instead of searching for instances of `TextInformationFrame`. You can do that by checking the `id` of the `Id3Frame`s.

[2019-12-04 12:40] #6717 closed, assigned to kim-vde

[2019-12-04 12:43] user968532 commented on #6720
[New file ](http://s000.tinyupload.com/index.php?file_id=04783523281189680469)
encryptedVideoStart: 16
encryptedVideoLength: 1692377
key: byte[] key = {1, 2, 3, 4};

    public byte[] XOR(byte[] incomeByteArray, byte[] key) {
        byte[] result = new byte[incomeByteArray.length];
        int j = 0;

        for (int i = 0; i < incomeByteArray.length; i++) {
            result[i] = (byte) (incom

[2019-12-04 13:17] ivan2311 commented on #6643
I'm reopening this issue with new info:

As it turns out, issue on my side was because of the [Equalizer](https://developer.android.com/reference/android/media/audiofx/Equalizer). If Equalizer is attached to the player, output always gets downsampled. So, removing Equalizer completely, solved problem but only on some devices...

Audio signal is OK (not downsampled):
- Sony XZ (over 3.5mm stereo ja

[2019-12-04 13:53] krocard commented on #6643
Are those test done with Exoplayer or Mediaplayer?

To be able to tell if the issue has something to do with Exoplayer, or those phone just do not support 96kHz on their USB output, we need a bug report.

Could you please play your 96kHz test sound on USB and generate a bug report, please try to not change the audio state (aka do not pause, reach the EOF...) during the bug report generation (~3min

[2019-12-04 14:04] ivan2311 commented on #6643
With ExoPlayer.

I'll generate bug report...

[2019-12-04 14:07] krocard commented on #6643
Note that outputting audio at 96kHz on an analog jack is probably not very compatible with cheap earphones.
Speakers (especially cheap ones) are not design to handle such high frequencies (>24kHz) and they might produce unwanted non linearities in the audible frequency range (<20kHz).
As a result playing > 24kHz on an analog output may diminish the sound quality instead of improving it.
That is on

[2019-12-04 14:18] kim-vde commented on #6720
You should implement your own `DataSource` and do the decryption there.

[2019-12-04 14:32] kim-vde commented on #6723
If possible, you should split the ulx file into 2 mp4 files and use a `ConcateningMediaSource` to play those files one after the other.

If not, an alternative would be to get the index where the second mp4 is starting and use a resolving datasource as in #6720.

[2019-12-04 14:44] kim-vde commented on #6719
I can play this URL with ExoPlayer without problem.

Can you do it as well? Did you build you app with the ExoPlayer RTMP extension?

[2019-12-04 15:05] robbywh commented on #6680
@andrewlewis i have checked my layout using android studio's layout inspector

This is my layout before rotate :
<img width="1004" alt="Screen Shot 2019-12-04 at 21 33 17" src="https://user-images.githubusercontent.com/11469477/70153528-acc0f180-16e1-11ea-9aaf-5cdd33526c8a.png">

This is my layout after rotate :
<img width="1013" alt="Screen Shot 2019-12-04 at 21 33 07" src="https://user-images.gi

[2019-12-04 15:48] sergiomartinez4 opened #6725 "Avoid repeated license requests when seeking between DASH periods"
Hi ExoPlayer team,

I'm currently playing a Multi-Period Live DASH with Widevine, and I'm noticing that when seeking across periods, a license request is made every time. When letting the stream play and cross period by normal playback, it does not request the license. It also does not request a license when seeking within the same period.
Are multiple requests expected when seeking across periods

[2019-12-04 16:46] RowlandOti commented on #6722
Which methods or objects are these that have the method properties that is that `id`? Actually that is my problem. It is not documented anywhere at all.

[2019-12-04 16:47] RowlandOti commented on #6722
Which methods or objects are these that have the method properties that is that id? Actually that is my problem. It is not documented anywhere at all. Therefore I don't even know what you mean  by ` checking the id of the Id3Frame`. Is `id == TIT2` the check that would work?

[2019-12-04 17:17] umangsaini commented on #6719
Multiple RTMP issues were resolved with the release of v2.10.5. Older versions may have the issue described. Latest ExoPlayer uses the fixed version of RTMP library - net.butterflytv.utils:rtmp-client:3.1.0.

Regarding audio, in the Demo application, I am able to disable audio track from the "Select Tracks" menu, and video-only playback continues as expected.

Which version of Exoplayer are you wo

[2019-12-04 20:16] kim-vde commented on #6722
The object `Id3Frame` has a public property `id`. The ID3 tags are documented [here](http://id3.org/id3v2.3.0#ID3v2_frame_overview). The check would be something like `metadataEntry is id3Frame && metadataEntry.id == "TIT2"`.

[2019-12-05 02:59] harshmittal29 opened #6726 "Getting frequent HttpDataSource$HttpDataSourceException errors"
I am getting very frequent errors when I try to play a video (m3u8) or audi (mp3
) file.

My code to get media source :

[code]

Also I could see logs displayed in logcat for a signed build too.

1. How can I avoid HttpDataSourceException ?
2. How can I disable logs from release build?

[2019-12-05 03:00] harshmittal29 commented on #6693
Thanks @marcbaechinger . It works.

[2019-12-05 03:48] JiannaiJ commented on #6721
@kim-vde  Sorry, I resend the mail and test files. The test video can be played normally in ffmpeg and VLC, and also in the open source project ijkplayer.

[2019-12-05 04:37] RowlandOti commented on #6722
This worked, well, but I had to do:

[code]

since `Id3Frame` is an abstract class with only one property i.e id.

[2019-12-05 04:37] #6722 closed, assigned to kim-vde

[2019-12-05 05:28] umangsaini commented on #6721
Raw encoded bit-stream without container is not supported by the player out-of-the box. There are two options -

1. Write a custom MediaSource to play the same. Refer to the documentation on this [link](https://exoplayer.dev/customization.html)
2. Add the h264 bitstream to any of the supported container formats and play the resulting file

[2019-12-05 07:09] khyatiChitroda commented on #6719
I am using extension rtmp and  library -
net.butterflytv.utils:rtmp-client:3.1.0. same as you said,

PFA, for my demo

https://drive.google.com/file/d/1WSbIJgTY9b3As-W1NM3F_WP11seP5PXR/view?usp=sharing

On Wed, Dec 4, 2019 at 10:47 PM Umang Saini <notifications@github.com>
wrote:

[2019-12-05 07:52] tuxxon opened #6727 "How to show the subtitles at the beginning?"
@kim-vde

Hello.

Once I try to show the subtitles at the beginning, I got some problems in the following code,

My code is
[code]

In this code, the problem is where getCurrentMappedTrackInfo() is ***null***.

I want to receive events on onCues(List\<Cue\> cues) as soon as the player begins.
Please let me know how to show the subtitles at the beginning.

[2019-12-05 08:40] aldirenaldigunawan opened #6728 "ImaAdsLoader getting stuck when AdsManager trigger event CONTENT_RESUME_REQUESTED"
I'm trying to play ads using ImaAdsLoader with this url of ad
[code]

but exo player getting stuck when try to play it.

Issue :
AdEventListener from `ImaAdsLoader` event emitted order :

but seems like the content does not playing after event triggers

after doing some debugging, found that inside
https://github.com/google/ExoPlayer/blob/33938c05b5050057f4bf865cf8e1f76207f56232/extensions/ima/src

[2019-12-05 09:21] umangsaini commented on #6719
The RTMP content URL your demo app is trying to play is not video-only. It's FLV header is advertising both audio and video tracks, which is why ExoPlayer will not play the same.

Refer to this [link](https://github.com/ant-media/LibRtmp-Client-for-Android/issues/70#issuecomment-555025362) and its solution.

Your FLV header should say only video track present for Exoplayer to play the same. Below

[2019-12-05 09:47] robbywh commented on #6680
@andrewlewis finally i found the problem, the problem is Google IMA Webview is not showing when used inside react native on android : https://groups.google.com/forum/#!topic/ima-sdk/UUJ7du52lxY

I use this solution : https://stackoverflow.com/questions/40291150/react-native-custom-component-doesnt-set-components-size-dynamically, to solve the problem

thank you

[2019-12-05 09:47] #6680 closed, assigned to andrewlewis

[2019-12-05 10:08] khyatiChitroda commented on #6719
okay Thank you for your response, I need to talk with my team member for this, as we have to done changes into our URL side.

[2019-12-05 10:21] icbaker commented on #6700
This should be fixed on the dev-v2 branch now.

[2019-12-05 10:21] #6700 closed, assigned to icbaker

[2019-12-05 10:57] icbaker commented on #6320
PR is merged

[2019-12-05 10:57] #6320 closed, assigned to icbaker

[2019-12-05 11:26] ojw28 opened #6729 "Provide metadata in a normalized way"
### [REQUIRED] Use case description
Make it easier for applications to find and use metadata contained in media files.

Audio file metadata (like artist-name, album-name, song-title, etc.) is generally stored at the start of the file. This is then made available to the application via Format.metadata. Currently each Metadata.Entry contains a single, format-specific, frame (e.g. ID3 TextInformation

[2019-12-05 11:27] ojw28 commented on #6722
We have a plan to expose metadata in a normalized way, to avoid the need to step through the individual metadata entries (and understand the specifics of ID3 etc). I've filed a tracking issue here: https://github.com/google/ExoPlayer/issues/6729.

[2019-12-05 14:07] user968532 commented on #6720
I created my DataSource ([link](https://pastebin.com/g0yBkHNp)), but the error remained
UnrecognizedInputFormatException: None of the available extractors

[2019-12-05 14:15] kim-vde commented on #6726
Can you send the test content producing errors as described [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/question.md#link-to-test-content)?

Regarding the logs, would setting the log level in class [`Log`](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/util/Log.html) to LOG_LEVEL_OFF fix your issue?

[2019-12-05 15:44] kim-vde commented on #6727
The mapped track info is only available after the player has been prepared. Even in this case, the information is not directly available and you need to use `Player.EventListener.onTracksChanged()` to make sure `getCurrentMappedTrackInfo()` is not null.

Also, the preferred language should ideally be selected before the player is prepared.

Therefore, you should:
1) select the preferred language,

[2019-12-05 16:00] user968532 commented on #6720
What am I doing wrong?

[2019-12-05 16:55] kim-vde commented on #6720
Why are you passing the `lastSize` and the `lastOffset` to the `XOR()` method instead of the current ones?

Wouldn't it be simpler if your data source contained another data source (e.g. `DefaultHttpDataSource`, `FileDataSource`, `DefaultDataSource`, ...) and would delegate all the logic to this upstream data source except for the decoding? A bit like in `ResolvingDataSource`.

[2019-12-05 17:50] andrewlewis commented on #6680
Thanks for the information!

[2019-12-05 17:52] user968532 commented on #6720
Did as you said. Now the error: ParserException: Invalid NAL length

[2019-12-05 17:52] andrewlewis commented on #6721
Just one thing to add: if this is an H.264/AVC Annex B stream you may find the information in #5175 helpful.

[2019-12-05 17:52] #6721 closed, assigned to kim-vde

[2019-12-05 18:17] user968532 commented on #6720
Video plays with friezes
Data:
MyDataSource : https://pastebin.com/JGZgU3kV
CreateMediaSource: https://pastebin.com/U9V1J3gK
[localFile:](http://s000.tinyupload.com/index.php?file_id=04783523281189680469)

[2019-12-05 19:35] ojw28 commented on #6704
How do you handle this when constructing the FMP4 file to be downloaded, given you can't change the tracks (either the number of tracks or their properties), as far as I can tell from ISO 14496-12? Are you re-encoding on the fly into a fixed number of tracks with fixed properties?

Have you considered generating a DASH manifest for the download stream, which would presumably avoid the issue you're

[2019-12-06 00:46] tuxxon commented on #6727
I am appreciated for your comment and gonna try this.

[2019-12-06 00:46] #6727 closed, assigned to kim-vde

[2019-12-06 02:23] kaemanspk commented on #5693
Yes right,  specific to Amlogic 905X2 devices.
tried in Amlogic 905x and Amlogic 805x devices and normally played after < 2 seconds of visual artifacts

[2019-12-06 03:28] thmatuza commented on #6728
We are also experiencing the same issue now.
We actually didn't have this issue until the day before yesterday.

I found it happens when ad tag url return VMAP and the preroll link returns the empty VAST.
It doesn't happens when ad tag url return the empty VAST directly.

It doesn't happen if I modify native_bridge_en.js version by using a local proxy.
https://imasdk.googleapis.com/native/core/3.1

[2019-12-06 04:40] GouravSna opened #6730 "Sporadic ANR in MediaDrm.openSession()"
### [REQUIRED] Issue description
We are seeing potential ANR in the application. It is coming when we are calling `openSession()`

### [REQUIRED] Reproduction steps
When we are calling mediaDrm.openSession() then in `FrameworkMediaDrm` class, following method looks like waiting for the response from jni.

[code]

### [REQUIRED] A full bug report captured from the device
[code]

### [REQUIRED] Vers

[2019-12-06 06:38] PhanSon95 opened #6731 "Play video at offline mode error"
Hey guys. I faced a problem when playing video `DRM` downloaded at offline mode:
- I've downloaded video to downloads directory
- Play video at offline mode( no wifi, no 3g,4g..)
On LogCat bellow
[code]
Has 1 error print : `E/ExoPlayerImplInternal: Playback error.`
I don't know why. On project demo of ExoPlayer project, video downloaded still can play good.
Somebody help me. Thanks all <3

[2019-12-06 07:46] thmatuza commented on #6728
By the way, I couldn't reproduce it using IMA SDK for Android [advance sample app](https://github.com/googleads/googleads-ima-android/tree/master/AdvancedExample).
https://groups.google.com/forum/?hl=en-gb#!topic/ima-sdk/O6WgADh_GAE

[2019-12-06 08:24] TakuSemba commented on #6728
Hi, I had the same issue.

We have been using vmap with empty vast tags and it had been working fine. However, tomorrow morning suddenly player got stuck in buffering when vmap has an empty pre-roll vast tag.

I'm so confused because I did not change either the version of Ima-SDK or ExoPlayer.

I believe that the IMA-SDK changed the behavior of js that would be loaded in WebView in a way that it a

[2019-12-06 09:38] thmatuza commented on #6728
Here is differences of behavior between 3.181.0 and 3.182.0(and above).
+ 3.181.0
 1. ImaAdsLoader receives AdEvent(LOG)
AdEvent: {type=adLoadError, errorCode=1009, errorMessage=The response does not contain any valid ads.}
   [This line](https://github.com/google/ExoPlayer/blob/r2.10.8/extensions/ima/src/main/java/com/google/android/exoplayer2/ext/ima/ImaAdsLoader.java#L1168) seems to resume cont

[2019-12-06 09:57] andrewlewis commented on #6728
Thanks for reporting this.

I have filed an internal issue for the IMA SDK team to investigate and hopefully roll back the behavior change [Internal: b/145784163]. I am also going to see if there are any workarounds we can do on the ExoPlayer side.

[2019-12-06 10:09] thmatuza commented on #6728
Thank you! That will be very helpful to us.

I also found that it doesn't receive any AdEvents but a AdError when the ad tag url returns the empty VAST directly.

[2019-12-06 10:30] aldirenaldigunawan commented on #6728
Thank you @andrewlewis ,

also @thmatuza for providing detail information about the js files

looking forward for the updates if any.

[2019-12-06 11:06] kim-vde commented on #6730
Can you provide the media file and the necessary information to play it as described [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/question.md#link-to-test-content)?

[2019-12-06 11:37] AquilesCanta commented on #6731
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md). If you're unable to share bug reports or test content publicly, please send them to dev.exoplayer@gmail.com using a subject in the format "Issue #1234", where "#1234" should be replaced with your issue num

[2019-12-06 11:53] matheusbrandao commented on #6544
Thank you so much for your answer.

I solved my problem like this (for now):
`mediaSession.isActive = Build.VERSION.SDK_INT < Build.VERSION_CODES.O`

This is because in versions above 8.0 mediaSession is automatically activated. In the versions below it is necessary to activate. With this the lock screen problem does not happen.

[2019-12-06 11:57] HarshithaVKadam opened #6732 "LoadUsage table in oemcrypto : Signature did not match on Android 9.0"
The signature generated by OEMcrypto to load Usage table is Invalid.
Please find the adb  logcat below

EDIT: Removed the logcat paste to ease navigation. The logcat is included in the bugreport requested in the issue template.

[2019-12-06 12:20] HarshithaVKadam commented on #6732
Please find one more adb logcat:

2-06 08:25:13.006  2144  3903 D WVCdm   : Instantiating CDM.
12-06 08:25:13.008  2146  3904 D WVCdm   : Instantiating CDM.
12-06 08:25:13.020  2146  3904 I WVCdm   : [cdm_engine.cpp(481):QueryStatus] CdmEngine::QueryStatus
12-06 08:25:13.021  2146  3909 I WVCdm   : [(0):] Level3 Library 4445 Apr 20 2019 10:13:27
12-06 08:25:13.046  2146  3904 I WVCdm   : [oemcrypt

[2019-12-06 13:13] nitinjain12 commented on #6728
**In **3.181.0** [what happens before yesterday]**
AdEvent -> Loaded is trigger when VMAP response is received by IMA SDK where adGroupIndex is updated.
**3.182.0(and above)** [what happens from yesterday]
No Ad Loaded event is called It directly call CONTENT_RESUME_REQUESTED when VAST blank response is received so adGroupIndex is unset thats why exo-ima extenstion not playing the content.

If IMA

[2019-12-06 13:42] ivan2311 commented on #6643
### Bug reports

With ExoPlayer: [exoplayer_report_06122019.zip](https://github.com/google/ExoPlayer/files/3932352/exoplayer_report_06122019.zip)

With MediaPlayer: [mediaplayer_repory_06122019.zip](https://github.com/google/ExoPlayer/files/3932357/mediaplayer_repory_06122019.zip)

This bug reports were generated while playing .flac test file via simple sample app. Sample app can play that test fi

[2019-12-06 14:22] krocard commented on #6643
Thanks for the bug reports, I will take a look later today.

Why use the USB-C to 3.5mm adapter and not your Steinberg UR28 USB input?

[2019-12-06 14:48] ivan2311 commented on #6643
@krocard sorry I forgot to mention that this new tests were all done using **Scarlett Focuscrite 2i2** which doesn't have USB input, so I need to use USB-C to 3.5mm adapter.

But, also as I remember, Steinberg UR28 also didn't have USB input, so whenever I was testing output from the devices that only have USB-C, I had to use USB-C to 3.5mm adapter. Sorry if there was some misunderstanding.

[2019-12-06 14:59] szaboa opened #6733 "Download RequirementWatcher misses network transition"
### [REQUIRED] Issue description
The `RequirementWatcher` of downloads sometimes misses to detect that a network is available and because of this the download will go back to queue incorrectly.

### [REQUIRED] Reproduction steps
The issue can be reproduced with ExoPlayer's demo app. The default requirement of downloads in the demo app is `com.google.android.exoplayer2.scheduler.Requirements#NETWOR

[2019-12-06 15:05] user968532 commented on #6720
I solved the problem. Thanks for the help.

[2019-12-06 15:05] #6720 closed, assigned to kim-vde

[2019-12-06 15:19] Mehdi-android opened #6734 "Can I cast my RTMP link to android TV?"
# Searched documentation and issues
https://developers.google.com/cast/docs/android_sender/exoplayer

#Question
Hello, I have created an app where I am using exoplayer library to play a live video streaming from RTMP link. Now I want to cast that video to my android TV. I am able to see the casting icon on my TV but not able to see any video playing.
So, I am using following 2 libraries.

Followin

[2019-12-06 16:10] #6647 closed, assigned to tonihei

[2019-12-06 19:04] ojw28 commented on #6709
This will be included in 2.11

[2019-12-06 19:04] #6709 closed, assigned to ojw28

[2019-12-06 19:06] ojw28 commented on #6657
This has now been done in Marc's change ref'd above. @marcbaechinger - Should we either close this or reclassify it as a platform bug at this point?

[2019-12-06 22:38] #6687 closed, assigned to andrewlewis

[2019-12-06 23:54] ojw28 commented on #6728
**3.183.2** has been deployed to production, which should resolve this issue.

[2019-12-07 08:26] RezaMortazavi opened #6735 "Does IMA Sdk Supports VMAP extensions?"
Does exo Ima sdk supports companion or extensions in VMAP?
I need to show some custom view above my ads , VMAP document suggest to do this by extensions:
Extensions : Container for Extensions that provide
ability to express information not
supported by VMAP.

[2019-12-07 09:49] AshpakSk opened #6736 "why exoplayer takes 30 to 40 seconds to stream video from url (firebase)....?"
//Minimum Video you want to buffer while Playing
    public static final int MIN_BUFFER_DURATION = 1000;
    //Max Video you want to buffer during PlayBack
    public static final int MAX_BUFFER_DURATION = 2000;
    //Min Video you want to buffer before start Playing it
    public static final int MIN_PLAYBACK_START_BUFFER = 1000;
    //Min video You want to buffer when user resumes video
    publ

[2019-12-07 12:13] RezaMortazavi commented on #6735
@andrewlewis any suggestions?

[2019-12-08 06:55] imbichitra commented on #6723
Hi developer,
i currently using first method which work fine form me but i want to implement the alternative  method and i implement as it is given in the link but it not working it shows following error **UnrecognizedInputFormatException: None of the available extractors**
i override method and give offset as 1.
[code]
in my video file if i use **ffprobe -i xxx.ulx-v quiet -print_format json -sho

[2019-12-08 09:58] andrewlewis commented on #6735
Regarding extensions, please see [this IMA SDK forum thread](https://groups.google.com/d/msg/ima-sdk/QnxlFhtoIMg/ZvpLFf-ZAwAJ). It sounds like this is not supported.

Companion ads should work. #6432 has some information on how to use them that may be useful (though primarily that issue is tracking an IMA SDK issue with targetSdkVersion and companion ads).

[2019-12-08 09:58] #6735 closed, assigned to andrewlewis

[2019-12-08 10:18] eledri opened #6737 "Exo player 2.8.4 request same audio segments (same SEQ)"
We see that the player is requesting a playlist (http)  from streaming server and  receives a playlist and eventually played duplicate audio segments.
The audio segment should keep always gap of 48128 in the segments (from manifest   d="48128").

please see attach images from wireshark , you can see that the same SEQ is shown twice and eventually cause to see audio repeat.
why this behavior occurs

[2019-12-08 19:05] kim-vde commented on #6723
The index returned by the `ffprobe` command has a different meaning than the offset in the resolving data source.
- In the result returned by `ffprobe`, the index indicates the index of a stream in the array containing all the streams. Those indexes will therefore always be consecutive numbers.
- In the resolving media source, the offset indicates the byte offset in the file at which the media sta

[2019-12-09 00:40] AquilesCanta commented on #6732
We can't assist you without the bugreport and sample media requested in the issue template:

The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md). If you're unable to share bug reports or test content publicly, please send them to dev.exoplayer@gmail.com using a subject in the format "Issue #1234", where "#1234" should be replace

[2019-12-09 02:07] thmatuza commented on #6728
It looks fine to me now. Thank you for your prompt action!

[2019-12-09 05:04] imbichitra commented on #6723
But when i set offset= 0 it play the first video , please correct me what to pass as an offset so that it play the second video.

[2019-12-09 05:40] harshmittal29 commented on #6726
Log.setLogLevel(LOG_LEVEL_OFF) works.
The content I sometimes get, so I am guessing it might be related to network?

[2019-12-09 08:00] ranjan000 opened #6738 "Getting java.lang.AbstractMethodError: abstract method "void com.google.android.exoplayer2.analytics.AnalyticsListener.onLoadStarted"
I am using exoplayer version 2.10.4 with androidX and gradle version 3.5.3.

I am getting runtime crash

java.lang.AbstractMethodError: abstract method "void com.google.android.exoplayer2.analytics.AnalyticsListener.onLoadStarted(com.google.android.exoplayer2.analytics.AnalyticsListener$EventTime, com.google.android.exoplayer2.source.MediaSourceEventListener$LoadEventInfo, com.google.android.exopl

[2019-12-09 08:58] #6728 closed, assigned to andrewlewis

[2019-12-09 09:06] ojw28 commented on #6681
Maybe not a big problem, but it's still preferable to have consistent behaviour across API levels. If it's easy for us to make it so that's the case, then it's a good idea to do so.

Adding the original tag to the `AdaptationSet` sounds very specific (to this particular use case). If we add it anywhere*, shouldn't it be in the `Format` and be filled in for all other media types as well?

\* I'm on

[2019-12-09 09:29] ChinhQT opened #6739 "The problem with playing FLAC file"
I've just updated the lastest Exo and extension/flac libs. But I met the problem with Android 5.1. Sometimes, Player can't play the flac file. Sometimes, noise when playing FLAC content.

Do you any suggestion to fix these issues ? Thank you so much.

[2019-12-09 09:38] krocard commented on #6643
From the bug report section (`adb shell`) `dumpsys media.audio_policy`:

  - tag name: USB-Audio - USB-C to 3.5mm-Headphone Adapte
  - type: AUDIO_DEVICE_OUT_USB_DEVICE
  - address: card=0;device=0;
  - name: USB-Audio - USB-C to 3.5mm-Headphone Adapte
  - Profiles:
      Profile 0:[dynamic format]
          - format: AUDIO_FORMAT_PCM_24_BIT_PACKED
          - sampling rates: **48000**
          -

[2019-12-09 09:47] soldierinwhite commented on #6681
The issue for me here is more that Util.normalizeLanguageTag is a problematic function. If, as you say, the manifest complies to standards, then the function doesn't do anything, it just returns the same value, which means it doesn't exist for that scenario. It only normalizes the tag if it is not compliant, but in that case, it doesn't do it in a consistent manner. It generates a new tag that is

[2019-12-09 10:42] AquilesCanta commented on #6734
Hi @Mehdi-android, after reading the cast [supported formats page](https://developers.google.com/cast/docs/media), I strongly suspect that RTMP is not supported. Adding @mjmancuso and @anjaneesh for confirmation.

[2019-12-09 10:46] #6731 closed, assigned to AquilesCanta

[2019-12-09 10:49] PhanSon95 opened #6740 "Can't play video from Dash source on device SamSung SM-J601F/DS"
I faced error when play drm video on Samsung device with model number SM-J601F/DS
However, on other device player still play video perfect
[code]

[2019-12-09 10:55] ranjan000 commented on #6738
Got it.
-keep class com.google.android.exoplayer2.analytics.AnalyticsListener$EventTime { *; }
-keepclassmembers class com.google.android.exoplayer2.analytics.AnalyticsListener$EventTime { *; }
-keepnames class com.google.android.exoplayer2.analytics.AnalyticsListener$EventTime { *; }
-keepclassmembernames class com.google.android.exoplayer2.analytics.AnalyticsListener$EventTime { *; }

Issue solv

[2019-12-09 10:55] #6738 closed, assigned to nobody

[2019-12-09 11:17] kim-vde commented on #6726
I need more information to investigate the issue you are having as I cannot reproduce.

What is the version of ExoPlayer you are using? How do you build the data source? Can you provide a bug report following [these instructions](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/question.md#a-full-bug-report-captured-from-the-device)?

[2019-12-09 11:47] AquilesCanta commented on #6675
By demo app, I mean the main demo app.

Please provide the media you are trying to play, as requested in the [issue template](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md). I can try it and see what the issue may be.

[2019-12-09 13:17] hlkcode opened #6741 "how to get the duration of each video in a playlist ??"
Hello, am new to exoplayer. Through online resources, i was able to get started with it , and am trying to make a video playlist using ConcatenatingMediaSource which works fine. i am trying to get the duration of each video in the list, using player.getDuration() or player.getContentDuration() , but these  give me the duration of the full playlist, while i actually want the duration of each video

[2019-12-09 14:01] giladna opened #6742 "Expose API to override system locale for audio track selection"
Hi,

In dash we are using selection flag to decide the default lang and  if all audio tracks have the same value we take the first adaptation set as default.

It seems like the behaviour has changed Exo-Player will set the default as the language that the device is configured on if such language exist.

1) Is there a way to disable this behaviour?
2) Is it the same behaviour for text tracks as wel

[2019-12-09 14:40] christosts commented on #6741
Hi @hlkcode

`Player.getDuration()` and `Player.getContentDuration()` return the duration of the currently played item and not the entire list.

As answered in [this issue](https://github.com/google/ExoPlayer/issues/2122#issuecomment-270009553)

There is a code snippet on how to iterate over the timeline windows available [here](https://github.com/google/ExoPlayer/issues/2122#issuecomment-27953126

[2019-12-09 14:47] giladna commented on #6736
@AshpakSk

you should check in charles  what is the bottleneck
1) dns
2) handshake
3) ssl
4) latency

once you have the input you can try fix the problematic component
A proven solution that can speed up the playback is using okhttp as http layer and not Connection URL
this will allow you to open a connection to the server where urls are hosted before the playback starts
so the network overhead wi

[2019-12-09 14:49] giladna commented on #6740
@PhanSon95 did you try restart the device?

[2019-12-09 14:59] christosts commented on #6736
Hi @AshpakSk ,

As @giladna points, inspecting the network/transport delays will help understanding where the possible cause of delay is.

To help you further, can you please share a link to your content, the ExoPlayer version and the device you are working on (if it is a specific device)? If you cannot share any of this information in public, you can send it over email to dev.exoplayer@gmail.com

[2019-12-09 15:17] christosts commented on #6737
Hi,

can you please share a link to the content so I can test locally and also your wireshark logs to compare? If you cannot share these publicly on the ticket, you can email them to dev.exoplayer@gmail.com with subject "Issue #6737".

Thanks

[2019-12-09 15:26] christosts commented on #6739
Can you please share your content so that we can test locally? You can send it via email to dev.exoplayer@gmail.com with subject "Issue #6739". Also, is this happening on a specific device?

[2019-12-09 15:34] christosts commented on #6740
Hi,

We would need more information for this crash. There is an issue template you can follow [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md) on what is needed.

For this problem specifically, it'd be essential to have a link to the DASH content and a bugreport from the device when the crash occurs. If you're unable to share bug reports or test content pub

[2019-12-09 15:38] ChinhQT commented on #6739
Issue #6739 <https://github.com/google/ExoPlayer/issues/6739>

 TuTam-NguyenTranTrungQuan-6131334.flac
<https://drive.google.com/file/d/101DXS8GNQzx2VO5Kk20H-95OwjzeYM8q/view?usp=drive_web>
 XieuLong-PhamQuynhAnh-6132140.flac
<https://drive.google.com/file/d/1W6CfPFj-Bvih1CedM3nVJ6ueIbDDE4Aw/view?usp=drive_web>

On Mon, Dec 9, 2019 at 10:26 PM christosts <notifications@github.com> wrote:

[2019-12-09 16:08] AshpakSk commented on #6736
thanks for your response @giladna i will try.

[2019-12-09 16:31] christosts commented on #6742
Hi,

Can you please point what version of the ExoPlayer you were using before and what version are using now? Also, can you please provide us with a link to DASH manifest parser and an example how you set the flags to see what's happening.

If cannot share those publicly, please send them to dev.exoplayer@gmail.com using the subject "Issue #6742"

[2019-12-09 16:38] #6631 closed, assigned to ojw28

[2019-12-09 16:40] ojw28 commented on #3026
This is supported in `dev-v2`.

[2019-12-09 16:40] #3026 closed, assigned to ojw28

[2019-12-09 16:48] #6209 closed, assigned to ojw28

[2019-12-09 16:53] #6674 closed, assigned to andrewlewis

[2019-12-09 16:54] andrewlewis commented on #6432
This is also tracked by [Internal: b/142852592].

[2019-12-09 16:59] #6644 closed, assigned to marcbaechinger

[2019-12-09 17:01] #6719 closed, assigned to kim-vde

[2019-12-09 17:10] ojw28 commented on #6737
Note: This is normally caused by incorrect manifest updates on the serving side, rather than an issue with the player.

[2019-12-09 19:14] christosts commented on #6739
Hi @ChinhQT ,

I tried the test files on a Nexus 5 (Android 4.4) and a Sony Xperia (Android 5.1.1) with the release-v2 branch and the files played fine.

To further assist you with this issue, can you please clarify:
- You mentioned  you just updated the lastest Exo. Which exactly version do you use? Just to make sure, are you including ExoPlayer as a dependency or are you building from sources (a

[2019-12-09 19:18] hlkcode commented on #6741
Thank you very much for the info, your input was very useful. but unfortunately am working with mp4.  i wish there could be a way to do this (before the player starts reading the file) even for mp4

[2019-12-09 19:32] hlkcode commented on #6741
So, am thinking of something but i dont if this a good way to do things and if there would be any downside , so i need you point of view on this please. So what if i create another instance of SimpleExoPlayer and then try to mock the whole process of reading each one these mp4 file, maybe on another thread or something, do you think this would work... what could be the pros and cons of this . than

[2019-12-09 20:26] giladna commented on #6742
Hi,
This behaviour is there after moving to 2.10.0 and up
in 2.9.6 it is still using the first adaptation set in the manifest.

basically I just not have api to ask which audio language track is now selected
in demo app it is called auto but actually no way to get its name

it can only be taken from the LoggerEvent from getTrackStatusString

is there any other way to find it?

sending the stream i

[2019-12-09 21:12] brAzzi64 commented on #6103
Thanks for looking into it @tonihei!

It's a bit unfortunate though, because it would prevent us from using ExoPlayer altogether for our current feature :( is the fix you mention something that we could address without forking ExoPlayer? Maybe by forking MergingMediaPeriod alone, on the app-side?

Or even if forking ExoPlayer, would you be able to share some more detailed hints on how to achieve t

[2019-12-09 21:28] ojw28 commented on #6531
Both of the `ts` files in the zip file play fine for me. Unfortunately, there's nothing we can do without proper reproduction steps. Marking as `need more info` in case you can provide us with a working test stream that reproduces the problem. Otherwise we'll have to close this because there's nothing actionable for us to do here.

@tipoc123 - I don't think your issue is the same. Please file a se

[2019-12-09 21:51] giladna commented on #6742
@christosts

I could do it this way
not sure it is the optimal one though

[code]

[2019-12-09 22:13] mjmancuso commented on #6734
Hi @Mehdi-android, @AquilesCanta is correct. RTMP is not currently supported by the player on Chromecast, which focuses on HTTP streaming protocols(Dash, Smooth, HLS).

[2019-12-09 22:13] #6734 closed, assigned to anjaneesh, mjmancuso

[2019-12-09 22:46] giladna commented on #6742
@christosts

Only wondering how to disable the auto track selection by device Locale.

10x

[2019-12-10 00:58] ChinhQT commented on #6739
Hi Exo,

I used release-V2 lib. I used the Oppo phone ( Model : A33w, Android
version 5.1, Oppo Neo 7 A33W )

Thank you for your help.

On Tue, Dec 10, 2019 at 2:14 AM christosts <notifications@github.com> wrote:

[2019-12-10 02:05] #6660 closed, assigned to marcbaechinger

[2019-12-10 04:26] ChinhQT commented on #6739
The error log :
12-10 11:24:07.429 E/ExoPlayerImplInternal: Internal runtime error.
    java.lang.IndexOutOfBoundsException: index=17920, limit=17920
        at java.nio.Buffer.checkIndex(Buffer.java:150)
        at java.nio.DirectByteBuffer.get(DirectByteBuffer.java:171)
        at com.google.android.exoplayer2.audio.ResamplingAudioProcessor.queueInput(:88)
        at com.google.android.exoplayer

[2019-12-10 07:12] GouravSna commented on #6730
Hi @kim-vde , I have replied you privately over the email.

[2019-12-10 08:15] saleh-gholamian opened #6743 "Error when compile Flac and other extensions"
Hi. I get this error while trying to follow your instructions:

`/flactest/ExoPlayer/extensions/flac/src/main/jni$ ${NDK_PATH}/ndk-build APP_ABI=all -j4
Android NDK: WARNING: APP_PLATFORM android-14 is higher than android:minSdkVersion 1 in /home/philip/flactest/ExoPlayer/extensions/flac/src/main/AndroidManifest.xml. NDK binaries will *not* be compatible with devices older than android-14. See htt

[2019-12-10 08:28] andrewlewis commented on #6739
@ChinhQT Can you reproduce this error on the `dev-v2-r2.11.0` branch? It may be the same as #6601.

[2019-12-10 09:34] patrick131313 opened #6744 "Estimate duration of AAC file based on file length and bit rate"
When I play an AAC File ExoPlayer getDuration() method returns -9223372036854775807

ExoPlayer version: 2.10.8

Device(s) and version(s) of Android being used
Samsung Galaxy s8+ Android 8
Lg Q6 Android 8.1

I sent the AAC File on email at dev.exoplayer@gmail.com

[2019-12-10 09:36] tonihei commented on #6103
Haven't tried to implement it yet, but it should be fixable by forking `MergingMediaSource` and `MergingMediaPeriod` only.

Each `Timeline.window` will have an offset in the respective `period` and we need to ensure this offset is the same for all cases. The first `MediaSource` in the list is the master source, so the offsets of all other sources need to be adjusted. To adjust these offsets, the `

[2019-12-10 09:49] ojw28 commented on #6621
Yes, this is a small bug. `WHERE 0 = ?` should be `WHERE name = ?`. We'll get that fixed.

[2019-12-10 10:14] saleh-gholamian commented on #6744
You should use getDuration after loaded file, Better time is after called "onTracksChanged"

[2019-12-10 10:50] imbichitra commented on #6723
How to play the second video?

[2019-12-10 11:31] kim-vde commented on #6723
You need to pass the **byte offset** of the second mp4 inside your file.

[2019-12-10 11:34] christosts commented on #6743
Hi,

unfortunately, the build scripts and instructions for the flac extension in the release-v2 branch are currently broken. We have fixed those and pushed the commit to the dev-v2 branch, which will be merged and released soon. You can see detailed information in issue #6715, and specifically [this comment](https://github.com/google/ExoPlayer/issues/6715#issuecomment-561091074) offers two solutio

[2019-12-10 11:36] #6743 closed, assigned to christosts

[2019-12-10 12:39] #6685 closed, assigned to ojw28

[2019-12-10 12:39] #6621 closed, assigned to ojw28

[2019-12-10 12:41] curlyfrie commented on #6685
Nice, thx :)

[2019-12-10 13:31] ivan2311 commented on #6643
@krocard thank you for checking. I can see that this USB-C to 3.5mm adapter supports only 48kHz.

Further more, I've created bug report with one device that is working (Sony Xperia XZ) and one that isn't working with ExoPlayer, but works with MediaPlayer:

**Sony Xperia XZ**
- OS version: 8
- device 3.5mm output directly connected to the Scarlett Focuscrite 2i2
- working correctly on ExoPlayer and

[2019-12-10 13:46] charlie-captain opened #6745 "Playback cache file offline not working"
### Question
when I use cache data source to read cache incompletely, and write data to another file, playing cache partial dataSource would not success in offline.

copy cache to another file, code like below:
[code]

after that, the cache directory will generate cache file, but I can't play cache from cache file, not the copy file.

[2019-12-10 13:51] krocard commented on #6643
I'm sorry but those dumpsys extract are not enough for me to understand the LG V30 audio configuration. I'm critically missing the Audio Policy dumpsys.

Could you please post 2 full bug reports (zip file like you did in https://github.com/google/ExoPlayer/issues/6643#issuecomment-562575964):
 1) generated while playing with media player at >48kHz
 2) generated while playing with Exoplayer at the

[2019-12-10 14:14] tonihei commented on #6681
We decided to replace our API level dependent normalization code with a non-API-level dependent normalization. This should avoid any problems with different behaviour on different API levels.

While doing this, we also needed to remove some checks that were previously performed, including the one that removed the invalid subtag "tal" for your specific example. That means it shouldn't be necessary

[2019-12-10 14:21] #6332 closed, assigned to tonihei

[2019-12-10 14:21] #6597 closed, assigned to tonihei

[2019-12-10 14:21] #6607 closed, assigned to tonihei

[2019-12-10 15:23] ivan2311 commented on #6643
@krocard here are 2 full bug reports:
1. [v30_mediaplayer_report.zip](https://github.com/google/ExoPlayer/files/3945598/v30_mediaplayer_report.zip)
2. [v30_exoplayer_report.zip](https://github.com/google/ExoPlayer/files/3945597/v30_exoplayer_report.zip)

[2019-12-10 15:37] christosts commented on #6744
`getDuration()` returns `-9223372036854775807` which is C#TIME_UNSET because the duration is unknown.

For `.aac` containers, ExoPlayer needs to download the entire file to be able to determine the duration of the audio because the container does not have such metadata in a header located in the beginning of the file. The player restricts how much data it downloads to preserve resources (memory, n

[2019-12-10 15:42] christosts commented on #6744
I am leaving the `bug` tag in case we add some additional logic for `.aac` files to make an estimation of the duration based on the file length and bit rate, but it is going to be low on priority.

[2019-12-10 16:40] christosts commented on #6741
We recommend avoiding multiple players because devices many times support only 1 instance of a decoder - see [this thread](https://github.com/google/ExoPlayer/issues/6430#issuecomment-531699053) for example.

There are couple of options listed in [this comment](https://github.com/google/ExoPlayer/issues/4727#issuecomment-416497405) of issue #4727.

Alternatively, may I suggest you try [MediaMetada

[2019-12-10 17:09] krocard commented on #6643
Thanks for the dumpsys @ivan2311, it let me figure out what is going on.

Without entering into too much details, MediaPlayer uses a special way of playing audio called "offload". It consists of not decoding the audio in the app and instead have the platform DSP decode it. It is a completely different audio path then the regular PCM playback.
It has many restriction and is not suitable for most pl

[2019-12-10 17:09] #6643 closed, assigned to krocard

[2019-12-10 17:15] krocard commented on #6643
To summarize:
 - LG's PCM path is limited to 48kHz (contrary to Sony's) when the Offload path is not.
 - Only the media player can use the offload path until Android 10.
 - Exoplayer do not support offload using the new Android 10 APIs but we are working on it!

[2019-12-10 21:49] tobint commented on #6671
A member from our team is working on getting you access to a stream.

I believe others are reporting similar issues. Looks like https://github.com/google/ExoPlayer/issues/6475 is the same or similar.

[2019-12-10 22:09] ivan2311 commented on #6643
@krocard thank you for resolving this issue and the explanation!

Just one more quick question: if I'm playing HiRes 24bit track, should I [enable conversion from HiRes int pcm to float inside DefaultAudioSink](https://github.com/google/ExoPlayer/blob/bef130ad17f11ab3997548653f2466e50bd6eb27/library/core/src/main/java/com/google/android/exoplayer2/audio/DefaultAudioSink.java#L318), since when it's

[2019-12-11 02:06] #6663 closed, assigned to marcbaechinger

[2019-12-11 04:43] hsahnv opened #6746 "Player error after changing parameters of player's track selector - Attempt to read from null array"
### [REQUIRED] Issue description
Player error occurs when trying to change parameters of player's track selector.
(About 80% error)

**Parameter changing codes:**
[code]

**Player error:**

[code]

### [REQUIRED] Reproduction steps
Change parameters of player's track selector immediately after initializing player.
**(I temporarily delay(500ms) parameter changing codes to avoid this issue and it's

[2019-12-11 05:51] #6105 closed, assigned to andrewlewis

[2019-12-11 07:08] Shubham1209mathur opened #6747 "Exo Player Flac Extension issue"
Flac Extension is not working in my android app.When i am configuring flac extension it giving error in my Ubuntu PC please tell me how i can integrate this and use flac extension in my app

[2019-12-11 07:20] giladna commented on #6742
@christosts  any update on this

1. Is there a way to disable this behaviour?
2. Is the Locale behaviour same for text tracks as well?

[2019-12-11 08:45] patrick131313 commented on #6744
I checked again with the file that I've sent on email, the duration like you said is available from about 60-30 seconds before the end of the file.  Even when duration is known the file is not seekable (FLAG_ENABLE_CONSTANT_BITRATE_SEEKING is enabled), it starts again from beginning.
I tried also with larger files (about 30 minutes length) and the duration is known from beginning.
I will send the

[2019-12-11 09:26] saleh-gholamian commented on #6747
I asked the same question yesterday.
See the answer here: https://github.com/google/ExoPlayer/issues/6743#issuecomment-563993365

[2019-12-11 09:54] Shubham1209mathur commented on #6747
ok @saleh-gholamian thanku

[2019-12-11 10:04] saleh-gholamian opened #6748 "How to read Pcm Data when playing audio file?"
I'm developing a visualizer for music player. I need to read (Listen) PCM Data When playing audio file.
Please help me with sample code if possible.
This is my code for playing the audio file:

ExoPlayer mp = ExoPlayerFactory.newSimpleInstance(context, new AudioOnlyRenderersFactory(context), new DefaultTrackSelector());
DataSource.Factory dataSourceFactory = new DefaultDataSourceFactory(context, U

[2019-12-11 10:11] andrewlewis commented on #6748
Please have a look at `TeeAudioProcessor` and #5268/#6063.

[2019-12-11 10:11] #6748 closed, assigned to andrewlewis

[2019-12-11 11:11] krocard opened #6749 "Support MediaCodec audio Float output"
## Use case description
Exoplayer (using MediaCodec) always play compressed audio with a 16bit encoding, when it should play float if available
This has the following drawbacks:
 - the audio framework native mode is float since P and has has been supporting float since API 21
 - quality is unnecessarily decreased (https://github.com/google/ExoPlayer/issues/6643#issuecomment-564281724)

And no adva

[2019-12-11 11:17] krocard commented on #6643
This question is unrelated to the main issue. Next time please open a new issue.
Quick answer: playing high res samples is not currently supported by Exoplayer with MediaCodec. I juste open a feature request for it: https://github.com/google/ExoPlayer/issues/6749. Refer to its `Alternatives considered` section for workarounds.

[2019-12-11 11:33] LinTaoAndroid opened #6750 "ExoPlayerImplInternal: Internal runtime error"
Playing video with exoplayer(exoplayer:2.9.2) has a high probability of black screen. How can I crack it?Thank you very much

[code]

[2019-12-11 11:36] christosts commented on #6742
Hi @giladna

1. Reading the language from the system's locale cannot be turned off. Note, however, that it is only applied after other parameters and everything else being equal. So, if you have a preferred language, you should set it in the DefaultTrackSelector parameters (if you are using the DefaultTrackSelector). If you don't specify a preferred language, and the manifest has multiple language

[2019-12-11 11:42] christosts commented on #6747
Closing as duplicate of #6743.

[2019-12-11 11:42] #6747 closed, assigned to nobody

[2019-12-11 11:50] ivan2311 commented on #6643
Thanks again @krocard !

[2019-12-11 11:54] kim-vde commented on #6730
I can't play the content you provided but I get a different stack trace:

<details><summary>Stack trace</summary>

[code]

</details>

Can you play the Widevine [contents](https://github.com/google/ExoPlayer/blob/release-v2/demos/main/src/main/assets/media.exolist.json) from the ExoPlayer demo app?

[2019-12-11 12:09] kgrevehagen opened #6751 "DRM and clear lead causes glitch"
### [REQUIRED] Searched documentation and issues
ExoPlayer Javadoc and code, exoplayer.dev, issue tracker, stack overflow.

### [REQUIRED] Question
When using DRM(we have tested audio only with CMAF/CENCCENC/Widevine) and 20 seconds clear lead, we are noticing an audible glitch on some older devices(like the LG G3, Samsung S7, Huawei P10 Lite etc) when the native `MediaDrm::provideKeyResponse`(htt

[2019-12-11 12:20] AquilesCanta commented on #6746
Hi, I am not able to reproduce the issue. Please provide precise steps to reproduce the issue. Please:
- Include the stream which you are using to reproduce the issue.
- Provide the precise minimum sequence of steps you can take in the demo app to reproduce the issue.
- Frame the provided steps in the dev branch.

Things I've tried:
Added

[code]
to DefaultTrackSelector. In the demo app's player a

[2019-12-11 13:54] GouravSna commented on #6730
From which location you are trying to play the media ? May be it is geo blocked.
Yes, I can play the widevine content on demo app.

[2019-12-11 14:16] AquilesCanta commented on #6746
I suspect this may be fixed in the dev-branch. Please confirm.

EDIT: I haven't been able to reproduce, but I think I know which code path could cause this. Are you using chunkless preparation?

[2019-12-11 14:27] tsaezmirada commented on #6654
After updating the OS Android, the affected device can playback drm content without issues.

Attached the captures with all the information before and after the upgrade.
![before_upgrade_1](https://user-images.githubusercontent.com/58779383/70629462-55170e80-1c2a-11ea-80ef-84d681d7de63.jpg)
![before_upgrade_2](https://user-images.githubusercontent.com/58779383/70629464-55170e80-1c2a-11ea-9432-bdbd

[2019-12-11 14:29] christosts commented on #6744
All .aac files sent are variable bitrate HE-AAC  audio put inside .aac. They should be packaged in a different container such as MP4. I also think they are not packaged properly: (i) several players have issue detecting the duration accurately, (ii) I tried to transcode them with ffmpeg and it raised parsing errors.

The recommendation is to switch to another container.

[2019-12-11 14:33] giladna commented on #6742
@christosts
thanks,
that exactly was my solution to find the default selected tough it is not an easy api :)
not sure I need a fix for it but maybe adding option to disable this Locale decision since it sounds bit like application logic to call.

thanks a lot for your time!

[2019-12-11 14:52] tfcporciuncula commented on #6332
@tonihei are you still looking into adding this to your web page at some point? I'd just like to know if this is still in your plans.

[2019-12-11 15:01] tonihei commented on #6332
Yes, no worries, it's just that we usually close issues if the only remaining task is the "documentation candidate" label. That's because there is no immediate pressing action for us.

[2019-12-11 15:30] sergiomartinez4 commented on #6725
Hello team,
is there an update about this question?
Any info will be much appreciated
Thanks

[2019-12-11 16:30] ojw28 commented on #3026
This is also supported in our `2.11.0` release.

[2019-12-11 16:31] nilskassube commented on #3327
A different use case to consider: sometimes customers explicitly do not want to start buffering before a previous item has been fully played. This is useful for radio stations to ensure that streams do not have too much delay, i.e. for alarm clock intros or audio ads.

[2019-12-11 16:48] ojw28 commented on #6267
This has been requested (for `2.11.0`). It's pending approval, and will hopefully be available soon.

[2019-12-11 17:36] kim-vde commented on #6730
I am trying to play the media from the UK.

Did you try to
- play a content from the demo app in your app, or
- play your content in the demo app?

[2019-12-11 21:45] yattoz opened #6753 "Support non-UTF-8 ICY metadata"
### [REQUIRED] Issue description
I read an audio stream from a URL (it's a webradio) with ICY metadata. The source is a bit old, it uses Airtime, and it sends its metadata in a non-UTF-8 format. In our case, it's mostly French songs.
###### Current behaviour:
- When retrieving metadata, ExoPlayer replaces all accentuated characters (like é, à, ë, â, ç...) with a single replacement character � (cod

[2019-12-12 01:22] hsahnv commented on #6746
@AquilesCanta Thanks for your comments.
In this case, because of the app-dependent code, it seems difficult to reproduce this problem in a demo app.

I'm using chunkless preparation. And this issue disappeared after disallowing chunkless preparaion.
I will test again with dev-branch version exoplayer and let you know the result.

[2019-12-12 03:49] hsahnv commented on #6746
It seems to be fixed in the dev-branch.
I tested dev-v2 (5bbabbc14de07ab40e337ba37f6622a3ec59950f) and this issue isn't reproduced anymore. ->  I have found the commit included in 2.11.0 and released.
Thanks.

[2019-12-12 03:49] #6746 closed, assigned to AquilesCanta

[2019-12-12 08:08] jakoss commented on #6657
I think this might be ommited in release notes for 2.11.0

[2019-12-12 08:28] GouravSna commented on #6730
I have shared another media set. I tested on Exo-Demo as well. It works fine there.

[2019-12-12 09:12] EddieMeng opened #6754 "Exoplayer IllegalStateException On TV Sony"
### Issue Description
 Hello, i have an issue with exoplayer when playing video in Sony tv. I will descripbe the reproduce procudure and the softaware and hardware condition below, can you guys help me to solve this issue or  give me some clues about it, Thanks a lot.

          12-10 15:13:15.722: E/ExoPlayerImplInternal(9505): Internal runtime error.
          12-10 15:13:15.722: E/ExoPlayerImpl

[2019-12-12 09:46] #6694 closed, assigned to icbaker

[2019-12-12 09:49] imbichitra commented on #6723
How to get the byte offset, as ffmpeg is not give any byte offset please help me to solve this problem.

[2019-12-12 09:58] Stonos opened #6755 "Is it possible to retry a STATE_FAILED download?"
### [REQUIRED] Searched documentation and issues
ExoPlayer's [Downloading Media](https://exoplayer.dev/downloading-media.html) documentation, and the available methods in the `DownloadService` class.

### [REQUIRED] Question
Is it possible to retry a download whose state is `STATE_FAILED`, ideally without losing progress?

I've tried to set the download's stop reason to `STOP_REASON_NONE`, but tha

[2019-12-12 11:56] #6267 closed, assigned to ojw28

[2019-12-12 12:28] krackjack234 opened #6756 "How to ensure exoplayer starts with a specific bitrate"
### [REQUIRED] Searched documentation, implemented solution but still see the issue

### [REQUIRED] How to start exoplayer with a predefined bitrate?

We are trying to start exoplayer with a predefined bitrate say 900k . We are using v 2.9.6

We implemented the below code

[code]

However we still see that exoplayer is downloading segments of lower bitrate and then switch to the actual bitrate. We

[2019-12-12 12:58] lukwin91 commented on #4970
Hi, are there any chances to add Theora support?

[2019-12-12 13:06] hlkcode commented on #6741
Sorry for the late response. I went through the listed options in [this comment of issue #4727](https://github.com/google/ExoPlayer/issues/4727#issuecomment-416497405). I will try the seeking option proposed at the number #2 as well as the " MediaMetadataRetriever" altenative you suggested and get back to you. Thank you for the help, really appreciate it

[2019-12-12 13:28] cle-bo opened #6757 "Is it possible to skip an element inside a ConcatenatingMediaSource if the source is not availiable?"
Hello and thanks for your support.
I want to execute the following code:

![image](https://user-images.githubusercontent.com/50229987/70716928-9cb29e80-1ced-11ea-9445-65a5c9a230ad.png)

- three filepaths with one filepath leading to a file that doesnt exist (DOESNOTEXIST.mp4)
- create a ConcatenatingMediaSource with three ProgressiveMediaSources representing those three filepaths (pms1, pms2 and p

[2019-12-12 13:57] Shubham1209mathur opened #6758 "FLAC_EXT_PATH Failed"
Hello I am using exo player and my flac format is not running.When i am following flac extension tutorial at last i am getting error in

 ****Build the JNI native libraries from the command line:****
cd "${FLAC_EXT_PATH}"/jni && \
${NDK_PATH}/ndk-build APP_ABI=all -j4

Getting this error

No command '<path' found, did you mean:
 Command 'mpath' from package 'libmodule-path-perl' (universe)
 Comman

[2019-12-12 14:27] saleh-gholamian opened #6759 "How to get BufferInfo in ExoPlayer 2?"
Hi,
**BufferInfo** was available in ExoPlayer 1 in the **processOutputBuffer** method, But in curently veresion bufferInfo not exist in **processOutputBuffer**
In version 1 I had access to **BufferInfo** by extending **MediaCodecAudioRenderer** Class and implementing **processOutputBuffer**
As you can see below

Version 1:
[code]
Last Version:
[code]
As you can see there is no **BufferInfo** insid

[2019-12-12 15:05] christosts commented on #6750
This is an error from MediaCodec.setOutputSurface; we need more information to assist on an issue like this. Please take a look at the [bug template](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md).

For such an error it would be best to grab a bug-report. If you can't share bug reports publicly, please send them to dev.exoplayer@gmail.com with subject "Issue #67

[2019-12-12 15:09] kim-vde commented on #6730
I can indeed play the media you provided with the ExoPlayer demo app. This means that the issue does not come from the media.

You should compare the code of your app with the one of the demo app to see what are the differences and what causes the ANR.

[2019-12-12 15:10] andrewlewis commented on #6751
Is this related to #6459 or a separate issue? Thanks.

[2019-12-12 15:18] christosts commented on #6754
Is it possible to verify you are releasing the player correctly when you app goes to background? Please check the [demo app](https://github.com/google/ExoPlayer/blob/r2.11.0/demos/main/src/main/java/com/google/android/exoplayer2/demo/PlayerActivity.java) on how to release the player properly.

[2019-12-12 15:56] kgrevehagen commented on #6751
This is a separate issue. It is very closely related to #6344. I think the underlying issue is the same, just the use case is a bit different.
This is 100% reproducible on the affected devices.

I think what @ojw28 mentions here (https://github.com/google/ExoPlayer/issues/6344#issuecomment-531517852) is very interesting, regarding single threaded trusted execution environment.

There has to be a w

[2019-12-12 16:37] icbaker commented on #6753
Thanks for the report! I wasn't able to reproduce after watching the provided stream for ~1 hour - but I can see how we're assuming a UTF-8 character encoding without any concrete evidence, and it looks like it's not strictly defined for ICY.

I'll have a look into how we can best handle this.

I'm going to mark this as an enhancement, since the ICY spec is pretty under-defined it's hard to really

[2019-12-12 17:27] kim-vde commented on #6723
Is it acceptable to hard-code the byte offset? If yes, you can obtain this value by
- retrieving the number of bytes in the first mp4 file obtained by splitting the ulx files into 2 mp4 files (option 1 of [this](https://github.com/google/ExoPlayer/issues/6723#issuecomment-561671619) comment), or by
- adding a break point on the line where the `mp4Extractor` returns `RESULT_END_OF_INPUT`, play the

[2019-12-12 18:05] christosts commented on #6755
What kind of media are you downloading? For example, segmented (DASH, HLS etc) or a remote MP4.  Can you share the link to your content (if not in public, email to dev.exoplayer@gmail.com with subject "Issue #6755") to test?

Also please specify the version of the player or you are using.

[2019-12-12 18:48] Stonos commented on #6755
I'm using ExoPlayer v2.11.0, and I'm downloading Widevine encrypted DASH content.

Just to be clear: downloading works perfectly.

My question is this: If the device's storage gets full while downloading something, then that download will enter a failed state. Is it possible to give the user the option to resume that failed download after they've freed some space?

[2019-12-12 19:01] ojw28 commented on #6759
All the information is still there. It's just in slightly different places:
* `bufferFlags` in V2 is the same as `bufferInfo.flags` in V1
* `bufferPresentationTimeUs` in V2 is the same as `bufferInfo.presentationTimeUs` in V1
* `buffer.position()` in V2 is the same as `bufferInfo.offset` in V1
* `buffer.limit() - buffer.position()` in V2 is the same as `bufferInfo.size` in V1

[2019-12-12 19:01] #6759 closed, assigned to ojw28

[2019-12-12 19:05] christosts commented on #6756
The player will be try to pick up a bitrate that is close to a fraction of the estimated bandwidth (by default this is 75% (see [here](https://github.com/google/ExoPlayer/blob/r2.9.6/library/core/src/main/java/com/google/android/exoplayer2/trackselection/AdaptiveTrackSelection.java#L227)). You can try to set the initial bitrate by  `initialBitrate * 1.5`.

Note that this will affect the next segme

[2019-12-12 19:23] ojw28 commented on #6756
HLS doesn't require that segments start with key-frames, so in the general case it's necessary to download overlapping segments when switching quality. If you know that your segments do start with key-frames then you should make sure this is indicated using the HLS `EXT-X-INDEPENDENT-SEGMENTS` tag. See the [HLS RFC](https://datatracker.ietf.org/doc/rfc8216/) for details.

[2019-12-12 23:14] yattoz commented on #6753
If this can help, I noticed the following when listening to this stream using Foobar2000 on Windows.

- If I explicitly set in Regional Settings that non-Unicode text should be interpreted with the French locale, Foobar2000 displays these characters correctly.
- If I set up in Regional Settings another language, say for example Japanese, Foobar2000 interprets the special characters the way they ar

[2019-12-13 02:06] #6591 closed, assigned to tonihei

[2019-12-13 05:02] GouravSna commented on #6730
But I have shared you the adb logs. if you can possibly drill down and see. Because this error is intermittent.

[2019-12-13 06:04] krackjack234 commented on #6697
Hi,

We are using the CustomLoadControl code (explained here https://github.com/Sriharia/ExoPlayer-StatsForNerds/blob/master/demo/src/main/java/com/google/android/exoplayer2/demo/CustomLoadControl.java) to configure the buffer durations

Below is our code

[code]
We have defined the buffer durations in the custom load control.

So as I understand from the above comments, downloading of same chunks

[2019-12-13 06:17] krackjack234 commented on #6756
Hi @ojw28, @christosts,  in our app, we have different bitrate settings, ABR, High, Data Saver and Good. Each of these bitrate settings (except ABR) is mapped to a specific bitrate. When the user has selected, say High, which is mapped to 900k, we want the player to start with 900k bitrate chunk directly instead of starting with a different bitrate.

How can we ensure that?

Also we see the player

[2019-12-13 06:57] JiannaiJ commented on #6721
@andrewlewis  I follow the instructions in the #5175 and #3503.  I created an Extractor that is modeled after the Ac3Extractor but uses an H264Reader, as suggested by the previously mentioned issue. My Extractor is receiving the bytes from the DataSource and passing them to H264Reader.consume(ParsableByteArray). But there's only one frame to play, and then the app is carsh, which should be OOM. I

[2019-12-13 08:31] bishiboosh opened #6760 "Unable to play HLS stream on Chromecast"
### [REQUIRED] Issue description
I'm unable to cast the following HLS stream https://lelive.akamaized.net/hls/live/2006512/MBR/playlist.m3u8 on Chromecast v2 or below. It works in Exoplayer perfectly, also works on Chromecast v3, Ultra, or on the Nvidia Shield in cast mode.

The error I get is the following one :
[code]

### [REQUIRED] Reproduction steps
Using the demo cast app, replace the HLS li

[2019-12-13 08:51] tonihei commented on #6756
If you want to choose the highest video resolution up to a given maximum (e.g. 900), then you should configure that in the `DefaultTrackSelector` by setting two parameters:
1. `setMaxVideoSize(width, height)` to limit the resolution to your parameters.
2. `setForceHighestSupportedBitrate(true)` to force-select the highest bitrate that is still within your size constraints.

[2019-12-13 08:53] tonihei commented on #6756
This is most likely because ExoPlayer downloads the first media playlist in the list to determine the available formats and unrelated to any bitrate or ABR algorithm. If your master playlist declares all information, you can enable "chunk-less" preperation, by calling `setAllowChunklessPreparation(true)` on the `HlsMediaSource.Factory`.

[2019-12-13 08:54] saleh-gholamian commented on #6759
bufferFlags in V2 is the same as bufferInfo.flags in V1
    bufferPresentationTimeUs in V2 is the same as bufferInfo.presentationTimeUs in V1
    buffer.position() in V2 is the same as bufferInfo.offset in V1
    buffer.limit() - buffer.position() in V2 is the same as bufferInfo.size in V1

Very Thanks

[2019-12-13 08:57] tonihei commented on #6697
That's not expected and only happens in certain cases where HLS media playlist don't contain independent segments.

Yes, if you set the bufferForPlaybackMs to 5 seconds, playback starts as soon as 5 seconds of media has been buffered (which may be one chunk in your case).

[2019-12-13 09:25] krackjack234 commented on #6756
Hi @tonihei , for setting the max video bitrate we are using the below code

[code]

Is it not the right way to force explayer to remain within this limit?

Our problem is making exoplayer to start with a specific bitrate.

What I understand from the explanation above is unless we select chunkless preparation, exoplayer will always dowloand 1-2 segments of the first bitrate mentioned in the master

[2019-12-13 09:36] nikunjpalsana opened #6761 "Provide option to disable gyroscope/sensor movement in 360 playbacks"
[No information provided]

[2019-12-13 09:40] AlbertKobyakov opened #6762 "Is it possible to buffer the individual parts of the video?"
Is it possible to buffer the individual parts of the video? For example, I have a video that lasts 50 seconds. Can I buffer 0-2, 10-12 and 20-22 seconds? If the current position position has changed by 3 seconds, then 3-5, 13-15 and 23-25 and so on.

[2019-12-13 09:41] nikunjpalsana opened #6763 "Provide option to zoom in 360 playbacks"
[No information provided]

[2019-12-13 09:42] tonihei commented on #6756
Yes, that's right. I thought you wanted to use a video size. But using a video bitrate is equally possible.

That happens if you are *NOT* using chunkless preparation or your master playlist doesn't contain all the information needed to do chunkless preperation.

It's always preferable to set parameter in `DefaultTrackSelector` instead of overwriting the initial bitrate estimate. Setting the `maxV

[2019-12-13 09:52] kim-vde commented on #6730
The error is thrown by the Android Framework, when calling `new MediaDrm(adjustUuid(uuid))` in class `FrameworkMediaDrm`.

What is the `UUID` passed to this constructor? Does it correspond to C.WIDEVINE_UUID or to C.CLEARKEY_UUID? What is the API level in your test device?

[2019-12-13 09:58] GouravSna commented on #6730
Yes C.WIDEVINE_UUID

API level 28

[2019-12-13 10:21] andrewlewis commented on #6721
There isn't enough information here for us to help, as is the case for the referenced bug. I'm afraid we generally don't have resources to give detailed guidance on implementing custom components, so you'll need to put some time into debugging this yourself. For example, you could set a breakpoint in the extractor to check that it's outputting samples as expected.

[2019-12-13 10:23] kim-vde commented on #6730
I'm afraid we don't have the resources to help on this issue as there isn't enough information to reproduce, so you'll need to put some time into debugging this yourself.

You said you could play the media wihout issue in the ExoPlayer demo app. You should compare the code of your app with the one of the demo app to see what are the differences and what causes the ANR.

[2019-12-13 11:30] moacir69 opened #6764 "Non-european closed captions support"
### [REQUIRED] Searched documentation and issues
I have searched in https://github.com/google/ExoPlayer/issues.

### [REQUIRED] Question
Does ExoPlayer support Arabic, Chinese and Japanese closed captions (embedded subtitles) in HLS and MPEG-DASH streams?

Thank you,

Moacir

[2019-12-13 12:16] icbaker commented on #6697
Thanks for the link to `CustomLoadControl`.

Since that's not owned or maintained by ExoPlayer Team, we can't really answer questions about its behaviour (including the meaning of `bufferForPlaybackMs`). I suspect those questions are best directed at the maintainers of ExoPlayer-StatsForNerds.

We can help you with questions about the behaviour of `DefaultLoadControl` and the expectations of the `

[2019-12-13 12:32] ojw28 commented on #6742
Here's a slightly simpler approach for getting the audio language that doesn't use `trackSelector.getCurrentMappedTrackInfo()`:

[code]

As @christosts mentioned, the application already has control over which audio language gets selected via the `DefaultTrackSelector` parameters.

"Picking the first adaptation set as the default" was (and still is) arbitrary, since I don't think an adaptation set

[2019-12-13 12:32] #6742 closed, assigned to christosts

[2019-12-13 13:16] krackjack234 commented on #6756
Thanks @tonihei. Our requirement is to start with a predefined bitrate if user is not selecting ABR. But if user selects ABR, we should limit the max video bitrate used.

Hence we used setInitialBitrateEstimate for start of playback and maxVideoBitrate to limit ABR switch.

We are seeing one issue where the player is reporting READY state and then immediately going to BUFFERING state before coming

[2019-12-13 13:53] icbaker commented on #6764
We support WebVTT and CEA-608 in HLS & DASH, and also TTML in DASH:
https://exoplayer.dev/supported-formats.html#dash
https://exoplayer.dev/supported-formats.html#hls

WebVTT requires UTF-8:
https://www.w3.org/TR/webvtt1/#file-structure

TTML recommends UTF-8:
https://www.w3.org/TR/2018/REC-ttml1-20181108/#ttml-content-doctype
And we decode using XmlPullParser, which reads the encoding from the XM

[2019-12-13 13:53] #6764 closed, assigned to icbaker

[2019-12-13 14:08] msilva-verimatrix commented on #6764
OK, thanks for the quick reply.
Warm regards,

Moacir

[2019-12-13 14:45] krackjack234 commented on #6697
Thanks for the replies.

[2019-12-13 15:27] icbaker commented on #6753
It seems your stream metadata is encoded in ISO-8859-1.

It looks like this is the default for at least one ICY server:
https://github.com/savonet/liquidsoap/issues/411#issuecomment-288759200

I've updated IcyDecoder to fall-back to ISO-8859-1 if UTF-8 decoding fails - now accents in your stream are rendered correctly in LogCat by the demo app.

[2019-12-13 15:27] #6753 closed, assigned to icbaker

[2019-12-13 15:55] christosts commented on #6755
The player will not do that automatically, you have to implement it on your app. You can retrieve which downloads have failed by querying the DownloadIndex and then re-try to download them. For example:

[code]

Re-adding the download will use any content that was downloaded prior to failing as long as the download hasn't been removed.

[2019-12-13 16:16] SharanKumarReddyKambham commented on #6686
@a4x4kiwi hey bro am facing the same issue ,can you guide us where we are going wrong,that would be helpful.

[2019-12-13 16:16] icbaker commented on #3644
Another option to enable heuristic-based charset detection (beyond taking a direct dependency on ICU or re-implementing it) would be to add an ExoPlayer `CharsetDetector` interface:

[code]

Developers could provide their own implementation of this, depending on whatever libraries they choose (ExoPlayer could maybe provide an ICU-based one in an extension). They could then plumb it in via `Subtitl

[2019-12-13 19:33] a4x4kiwi commented on #6686
Initially we were using the wrong release. Make sure you use release-v2

Per my solution, the emulator can't play multicast. You need to use a real
device. We have successfully tested the demo on an NVIDIA shield and a Sony
TV. Both on wired ethernet.

Mal

Sent from my Apple ][ e

On Sat., 14 Dec. 2019, 03:16 SharanKumarReddy, <notifications@github.com>
wrote:

[2019-12-13 20:07] Stonos commented on #6755
Thank you, this seems to be working!

[2019-12-13 20:07] #6755 closed, assigned to christosts

[2019-12-14 02:06] #6684 closed, assigned to ojw28

[2019-12-14 08:28] krackjack234 commented on #6756
hi @ojw28  our master m3u8 do mention the key EXT-X-INDEPENDENT but still we see 3 different bitrate switch before playback start. First, player starts with 224k then to 664k and ultimately to 990k which is the desired one.

[2019-12-15 07:56] YasirNabeel commented on #6587
hey, can you please tell me the way to override the lb_playback_fragment.xml

[2019-12-15 08:51] arpanbag001 commented on #5417
Voting for High Priority, as it is required for use cases where we need to programmatically create PlayerView based on some conditions, and need to attach different controllers on them.

[2019-12-15 16:02] saurabharora90 opened #6765 "ExoPlayer 2.11.0 update breaks DRM Callbacks sent in AnalyticsListener via DefaultDrmSessionEventListener"
### [REQUIRED] Issue Description.

Drm Callback is broken after upgrading to ExoPlayer 2.11.0:

Since `DrmSessionManager` is now injected into `MediaSources` instead of `Renderers` (a very welcome change), the `DefaultDrmSessionManager` no longer has a listener to send callbacks to. Till ExoPlayer 2.10.8, `SimpleExoPlayer` would check if the `drmSessionManager` was a `DefaultDrmSessionManager` and

[2019-12-16 01:51] leemoxx opened #6766 "Need information about Player.isPlaying()"
### [REQUIRED] Question
I am trying to understand why Player.isPlaying() was introduced in v2.10.5. I mean getPlayWhenReady() served the same purpose on the interface. From what I remember (I could be wrong), the method was called to keep the current time on the player widget up to date. Comparing both .5 and .4, I have noticed that isPlaying() is now called to perform that (I think).

The reason

[2019-12-16 06:16] harshmittal29 commented on #6693
I am now getting

I changed my code to
[code]

Can you suggest what changes to make to avoid the exception

[2019-12-16 06:21] harshmittal29 commented on #6726
Exoplayer : 2.10.8
Lately I have stopped encountering the issue so will close this for now. I will follow the steps in the instructions link if the issue reoccurs.

[2019-12-16 06:21] #6726 closed, assigned to kim-vde

[2019-12-16 06:46] imbichitra commented on #6723
Still i am unable to play the second video, i got 3 scenario which describe below.

I extract the video from ulx and right click on the first video and go to property and get the no of byte as 927889 and i set  **long offset =927889**  but it not work.

I simple play the first video and set a break point in **mp4Extracter** and get the position as  7777993 by using **input.position()** but when i

[2019-12-16 08:13] PhanSon95 opened #6767 "Handle percent downloaded"
### [REQUIRED] Searched documentation and issues
I've refered to document at [https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/SimpleExoPlayer.Builder.html](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/SimpleExoPlayer.Builder.html)

### [REQUIRED] Question
Hi guys! I want checking percent of video which downloading
I've used DownloadManger Listener to handle t

[2019-12-16 09:53] Samrobbo commented on #6763
Hi,

Can you please fill out the template, rather than just copying it here.

Thanks

[2019-12-16 10:04] Samrobbo commented on #6766
Hi, #6203 was the catalyst for introducing these changes, and the discussion in the comments covers the key reasons for `Player.isPlaying()`. @tonihei was responsible for the change, so I'll let him answer your question regarding whether that is the right approach.

[2019-12-16 10:18] icbaker commented on #6693
Honestly there's too much code there to easily see where the problem might be.

Can you reduce it to a [minimal, reproducible example](https://stackoverflow.com/help/minimal-reproducible-example)?

[2019-12-16 10:31] tonihei commented on #6766
It's slightly unclear to me what you are trying to do and where the problem is exactly. Could you specify what the issue is more clearly in terms of what (a) I need to do to reproduce the problem, (b) what you expect to happen, (c) what actually happens?

Besides that please note that `isPlaying` is a super-set of `playWhenReady` as documented in the javadoc link you already provided yourself. So

[2019-12-16 10:35] imcloud opened #6768 "The audio sounds terrible at 1.5 speed or 0.5 speed"
### [REQUIRED] Issue description
When I play mp3 at 0.5x speed, the sound sounds weird, maybe it's tone shifting, and there is a little noise. I don't want to change tone or noise.
Compared to mac, the quality is much worse,you really should try it with the following file

### [REQUIRED] Reproduction steps
play a mp3 file at 0.5 speed

### [REQUIRED] Link to test content
[demo.mp3.zip](https://git

[2019-12-16 10:55] Samrobbo commented on #6761
Hi,

Can you please fill out the template, answering each section, rather than just copying it here.

Thanks

[2019-12-16 11:40] rd-wang opened #6769 "当我使用extension-opus运行时发生crash"
When reporting a bug:
-----------------------
[code]
### [REQUIRED] Issue description
按照opus的文档 ，本地引入exoplayer 编译opus 并且仿照TestPlaybackRunnable中的
[code]

### [REQUIRED] Version of ExoPlayer being used
latest

### [REQUIRED] Device(s) and version(s) of Android being used
android 9.0 小米MIX2

[2019-12-16 12:37] leemoxx commented on #6766
@Samrobbo Hello and thanks for the help.
@tonihei Hi. I am using the `ExoPlayer` playback widget to support multiple players. I do this by creating my own `Player` implementation and forwarding calls from this implementation to my instance of `SimpleExoPlayer` (when ExoPlayer is selected).

For example, inside `public boolean getPlayWhenReady()` of  my`Player` implementation, I do `mExoPlayer.getP

[2019-12-16 12:46] christosts commented on #6758
Can you please copy/paste the output of the following variables when you get the error? (I'm assuming you are working on a Linux machine with a bash shell)

- What is the content of the `EXOPLAYER_ROOT` variable? Run `echo $EXOPLAYER_ROOT`
- What is the content of the `FLAC_EXT_PATH` variable? Run `echo $FLAC_EXT_PATH`
- What is the content of the `NDK_PATH` variable? Run `echo $NDK_PATH`

All thr

[2019-12-16 13:09] tonihei commented on #6766
That's not definitely not correct and you should be able to forward `mExoPlayer.isPlaying()`.

Which seekbar are you talking about exactly?  None of our UI components is using `isPlaying()` in a way that should influence the seekbar position.

[2019-12-16 13:10] christosts commented on #6757
Hi @cle-bo,

unfortunately this is not possible at the moment.  [This comment](https://github.com/google/ExoPlayer/issues/4343#issuecomment-394273056) from issue #4343 provides a workaround.

[2019-12-16 13:26] Samrobbo commented on #6769
Hi,

I could not replicate this, please can I get some more information, such as:

- The exact version of ExoPlayer used, is it 2.11.0? is it 2.10.7?
- A full bug report. You can capture a full bug report using "adb bugreport". Output from "adb logcat" or a log snippet is NOT sufficient.
- A link or copy of the media you used.

If you're unable to share bug reports or test content publicly, please

[2019-12-16 13:28] leemoxx commented on #6766
Thanks for taking the time to help me, tonihei. I am using `PlayerControlView`

[2019-12-16 13:32] Samrobbo commented on #6762
Hi, trying to get some context here.

What is it you're trying to achieve? Why should the player not buffer all of the upcoming media?

[2019-12-16 13:44] tonihei commented on #6766
I can't reproduce that with in our demo app with a random example stream and doing some seeking. Note that `SimpleExoPlayer` is also forwarding the calls to another `Player` implementation, so it's conceptually the same as in your setup.

Could you please try to provide complete reproduction steps including example media  that would allow us to reproduce the problem? Otherwise it's not possible to

[2019-12-16 14:09] leemoxx commented on #6766
I am currently testing this on a Lollipop device. I will see if this happens on Android Q (currently acquiring the emulator). My app is an **audio player**. I have used a lot of tracks with the same issue. I will report back with further information after testing my app on Android Q.

Regards and thanks.

[2019-12-16 14:24] Samrobbo commented on #6768
Hi,

Is it possible to get some clearer reproduction steps? What methods are you calling to adjust the playback speed, when are they being called etc? Code snippets would be very helpful.

In case it is related, what device and version of android are you using? (I saw 3.4.2, but there is no version 3.4.2 for android)

[2019-12-16 14:59] Samrobbo commented on #6768
I have noticed the issues that you have described, and this problem is already being tracked by #6575. Please refer there for more information on our plans with this.

[2019-12-16 14:59] #6768 closed, assigned to Samrobbo

[2019-12-16 15:12] leemoxx commented on #6766
The same thing happens on Android Q. This is a bit frustrating. Does the ExoPlayer demo use `PlayerControlView` Also, does it load audio files?

My `Player` implementation currently (after simplification) has the following methods implementation:

[code]

[2019-12-16 15:17] tonihei commented on #6766
ExoPlayer's demo app uses both. Could you just try to play your file in our demo app or send us your file so that we can check where the problem is coming from?

[2019-12-16 16:03] ilpelatodijavascript opened #6770 "FragmentTransaction No view found for id"
Hello, I'm trying to put a fragment in a FrameView of my custom controller but I'm getting this error:
"No view found for id 0x7f0a00e8 (com.example.myapp:id/frame_detail) for fragment detailFragment"
Custom controller:
[code]
Here's the code:
[code]
This code is on the visibility change of the controller.
Thanks for the help!

[2019-12-16 16:09] Samrobbo commented on #6767
Hi,

My understanding is that this is WAI (Working As Intended). `onDownloadChanged` and `onDownloadRemoved` are only called when there is a change of state for the download. This means they are not called as the download is in progress, so the listener does not get called every time 1% more is downloaded.

Please look at [listening to downloads](https://exoplayer.dev/downloading-media.html#listen

[2019-12-16 16:18] ilpelatodijavascript commented on #6770
Also, this should be marked as a question, I don't know how to change it

[2019-12-16 16:20] Samrobbo commented on #6770
This issue looks like a general question about Android development. We’ll leave this issue open for ~2 weeks in case anyone wishes to answer it here, however we recommend asking such questions on Stack Overflow.

[2019-12-16 17:27] Samrobbo commented on #6765
Looking into this.

[2019-12-16 18:17] christosts commented on #6745
It is not 100% clear what you are trying to achieve and what is failing exactly.

From the snippet of code, I understand you wish to store the data to the filsystem separately from the CacheDataSource and the cache. If that is the case, may I point you to the [TeeDataSource](https://github.com/google/ExoPlayer/blob/r2.11.0/library/core/src/main/java/com/google/android/exoplayer2/upstream/TeeDataSo

[2019-12-16 19:21] brAzzi64 commented on #6103
After digging a bit deeper, it's going to make more sense for us to use a workaround for now instead, so we can hit our feature deadline.

We're reducing our problem to a case where we only have a single (audio, video) pair (vs a series of pairs, using ConcatenatingMediaSource). We'll use MergingMediaSource, pre-trim the audio file to the right segment, and use ClippingMediaSource to clip the vide

[2019-12-16 21:42] kim-vde commented on #6723
This probably means that the offset is wrong.
Can you send the ulx file, together with the 2 files obtained using option 1 of [this](https://github.com/google/ExoPlayer/issues/6723#issuecomment-561671619)  comment, following [these](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/question.md#link-to-test-content) instructions?

[2019-12-17 02:06] #6530 closed, assigned to christosts

[2019-12-17 03:15] PhanSon95 commented on #6767
@Samrobbo Thank you. I did it :D

[2019-12-17 03:42] rd-wang commented on #6769
使用的是release-v2的最新的提交r2.11.0

[code]
测试工程已经上传   https://github.com/rd-wang/testOpus

按照如下方式导入
[code]
如下方式调用
[code]
捕获到的错误如下
[code]
但是这个错误和上面的好像不是一个

[2019-12-17 04:08] rd-wang commented on #6769
当我使用r2.10.7
[code]
我获得如下错误
[code]

[2019-12-17 06:20] leemoxx commented on #6766
OK, I have examined my code once again. After a lot of debugging, I believe I have found what caused this. I had a check on `public long getContentPosition() {` I have checked if the player was playing and I have returned `mPlayer.getContentPosition();` when it was playing, and 0 if it did not. I have done this to combat an issue from one of the previous releases.

I will make sure that everything

[2019-12-17 06:56] leemoxx opened #6771 "can't find referenced class com.google.android.exoplayer2.text.ssa.SsaStyle$SsaAlignment on release"
### [REQUIRED] Issue description
I cannot generate signed apk/bundle. Whenever I do it, I get the following messages on failure:

`com.google.android.exoplayer2.text.ssa.SsaDecoder: can't find referenced class com.google.android.exoplayer2.text.ssa.SsaStyle$SsaAlignment`

`com.google.android.exoplayer2.text.ssa.SsaStyle$Overrides: can't find referenced class com.google.android.exoplayer2.text.ssa.

[2019-12-17 08:29] tsaezmirada commented on #6654
Hello Exoplayer team,

How is going the investigation?

We would need to provide an explanation of the problem to our client and a solution different from upgrade the OS from the final customer's devices.

Please, let us know if you need more test or any other evidence.

BR,
Tania

[2019-12-17 09:05] tonihei commented on #6766
Glad you found the issue :)

[2019-12-17 09:05] #6766 closed, assigned to tonihei

[2019-12-17 09:06] KarlGallagher commented on #5804
Hello all,

It would be good to know what the immediate plans are from the dev team here.
This feature would be quite useful / important in enabling operators to switch from legacy systems to AndroidTV

[2019-12-17 09:15] tonihei commented on #6103
I think so, yes. Please note that you need to set the clipping points carefully and disable the discontinuities if you want perfectly smooth audio playback (see https://github.com/google/ExoPlayer/issues/6103#issuecomment-507236485), but otherwise that shouldn't be a problem.

[2019-12-17 09:32] jakoss opened #6772 "Identify playlist item in PlaybackStats"
### [REQUIRED] Searched documentation and issues
I looked up the code and documentation on webpage

### [REQUIRED] Question
I'm looking to use `PlaybackStatsListener` and `PlaybackStats` for playback reporting.
On callback call i got 2 parameters - `EventTime` and `PlaybackStats`. Now - i can get total time spent listening to particular playlist item from `PlaybackStats`, but i'm not sure how to i

[2019-12-17 09:51] JiannaiJ commented on #6570
@imbichitra  I am also doing the same function, but playing H264 can only play one frame, can you give me a little help?

[2019-12-17 09:54] tonihei commented on #6772
The `EventTime` argument contains the event time at which the playback session started. So you can just use the information provided in there to retrieve the tag of the window for example:
[code]

[2019-12-17 09:55] jakoss commented on #6772
Great, that's what i needed. Thanks!

[2019-12-17 09:55] #6772 closed, assigned to tonihei

[2019-12-17 11:15] master255 opened #6773 "proguard rules for av1"
You need to add proguard rules for new av1 extension:
`-keep class com.google.android.exoplayer2.ext.av1.** { *; }`

Otherwise, an error occurs:
Error instantiating AV1 extension
Caused by java.lang.NoSuchMethodException
<init> [long, class android.os.Handler, interface c.b.a.a.e1.s, int]...

[2019-12-17 11:19] Samrobbo commented on #6767
Brilliant to hear! If you run into future problems, feel free to file a new issue, we're always happy to help.

[2019-12-17 11:19] #6767 closed, assigned to Samrobbo

[2019-12-17 13:40] icbaker commented on #6771
I'm not able to reproduce this building a release/proguarded APK of the demo app at 2.11.

Can you provide more detailed repro instructions, including information about how you're depending on the ExoPlayer library?

[2019-12-17 14:32] mkaflowski commented on #4168
Update for release r2.11.0:
Ad 1: I think it is fixed.
Ad 2: Not fixed - the same solution: just update pendingSeekWindowIndex and currentWindowIndex.
Additionally edit updateInternalStateAndNotifyIfChanged to not return 0 because it glitches when you try to change tracks very quickly (for example next->next->next):
[code]
Ad 3: I think it is fixed.

[2019-12-17 14:41] leemoxx commented on #6771
Hello @icbaker and thanks for the help. I am upgrading from 2.10.4 -> 2.11.0. I did not have any issues creating signed APKs before, so those messages are new to me. I am only adding the ui and core to my project:

`implementation 'com.google.android.exoplayer:exoplayer-core:2.11.0'`
`implementation 'com.google.android.exoplayer:exoplayer-ui:2.11.0'`

I have just tried enabling R8 instead of ProGu

[2019-12-17 15:02] tonihei commented on #6765
Thanks for reporting this bug, this was an oversight when adding the per-MediaSource DRM configuration and we should fix this.

In the meantime, you can try to wire it up yourself like this:
[code]

That probably works as least as good as the previous version for now.

It probably won't work in the long run though because as soon as we continue the DRM rework to load keys before they are actually

[2019-12-17 15:02] tonihei commented on #6765
@AquilesCanta  Could you have a look at this issue?

[2019-12-17 16:18] ojw28 commented on #6773
Could you confirm that it's sufficient to add the following:
[code]

[2019-12-17 16:30] bokach-stanislav opened #6774 "Mp4Extractor sniffer does not recognize a file"
### [REQUIRED] Issue description
com.google.android.exoplayer2.extractor.mp4.Sniffer cannot recognize the stream (see a link to torrent containing m4b files below).
ExoPlayer can play a file when media source is created with Mp4Extractor factory:
`MediaSource mediaSource = new ProgressiveMediaSource.Factory(dataSourceFactory, Mp4Extractor.FACTORY)`

However, exception is thrown when media source s

[2019-12-17 16:45] icbaker commented on #6771
Thanks for the details - I'm able to reproduce by setting `android.enableR8=false` in `gradle.properties` and switching the demo app to pull the dependency in from jcenter instead of local sources.

I actually see 4 warnings - the 2 you've mentioned here & 2 javax-related ones:

[code]

The javax ones should be suppressed in the same way we suppress the other compile-time annotation classes:
https

[2019-12-17 16:48] ojw28 commented on #6772
Marking as a documentation candidate.

[2019-12-17 16:53] ojw28 commented on #6757
Closing this as a duplicate of https://github.com/google/ExoPlayer/issues/4343.

[2019-12-17 16:53] #6757 closed, assigned to christosts

[2019-12-17 17:17] ojw28 commented on #6756
It's somewhat unclear whether you're using `EXT-X-INDEPENDENT-SEGMENTS` (there was a response here that has subsequently disappeared).

It would probably be easier to discuss this if you could provide concrete reproduction steps, with a piece of media we can access. We can then tell you exactly why each segment is being requested.