[2020-12-25 21:37] DeeptiMota commented on #8250
Hi There,
I am finding similar issue in my app. It might be possible there is no issue in Exoplayer library but we might not using it correctly. So, could you please help us to solve our problem?

I have a grid of videos in my app and have to play random video in the grid, either on scroll or on item-click.
Have created a single Exoplayer and PlayerView instance, which is being used for playing th

[2020-12-25 21:50] DeeptiMota commented on #8250
Do you have any demo app which shows usage of exoplayer in recycler view or view-pager or any similar structure?

Otherwise, how can I show you my code, without making it public?

[2020-12-27 09:43] iamkdblue opened #8400 "How to get duration of playlist ?"
Thanks, dev for this great library.

I am trying to get a duration of the playlist, but I am not getting the correct duration of the playlist, sometimes it's showing a negative number. am I doing something wrong?

I am using this version of exoplayer

[code]

I am using ConcatenatingMediaSource for making a playlist

[code]

[code]

![Screenshot 2020-12-27 at 3 11 15 PM](https://user-images.github

[2020-12-27 20:11] mthera opened #8402 "MT Tayza Entertainment"
Before filing a feature request:
-----------------------
- Search existing open issues, specifically with the label ‘enhancement’:
  https://github.com/google/ExoPlayer/labels/enhancement
- Search existing pull requests: https://github.com/google/ExoPlayer/pulls

When filing a feature request:
-----------------------
Replace the content in the sections below.

### [REQUIRED] Use case description
D

[2020-12-27 20:15] mthera opened #8403 "MT Tayza Entertainment"
Before filing a feature request:
-----------------------
- Search existing open issues, specifically with the label ‘enhancement’:
  https://github.com/google/ExoPlayer/labels/enhancement
- Search existing pull requests: https://github.com/google/ExoPlayer/pulls

When filing a feature request:
-----------------------
Replace the content in the sections below.

### [REQUIRED] Use case description
D

[2020-12-27 20:34] mthera opened #8404 "MT Tayza Entertainment"
MT Tayza Entertainment

[2020-12-28 02:04] #8288 closed, assigned to AquilesCanta

[2020-12-28 02:04] #8282 closed, assigned to AquilesCanta

[2020-12-28 02:04] #8093 closed, assigned to andrewlewis

[2020-12-28 05:31] sravan1213 opened #8405 "How to distinguish between i-frame and video tracks in HLS streams."
In new version of exoplayer we are getting i-frame list in Format under video track. We don't have any way differentiate between actual video tracks and i-frame tracks.

This will help us in resolving right track for download.

[2020-12-28 10:03] xiaoxiaoliu6 opened #8406 "player always stay buffer when network signal instability，how to solve it"
When the network is unstable, for example, when the weak network is restored to the normal network, the player will always be in the buffer state. How to solve this problem? Look at the log and find no exception

exo version 2.9.6  &verison 2.12.2

[2020-12-28 13:02] #8399 closed, assigned to ojw28

[2020-12-28 13:05] giangpham2811 opened #8407 "Playing v3.exo file after download it by exoplayer download??"
After downloading .m3u8 file I got many folder of v3.exo files. Is there any way to compile to .mp3 file and run it?
It would be great if you have some example

[2020-12-28 14:07] StasKorol commented on #7733
@marcbaechinger I did so now it works. However expandable mode is now absent (down arrow disapeared)

[2020-12-28 17:03] StasKorol commented on #7733
@marcbaechinger, to be precise. My aim is that there would be rewind and fast-forward buttons in compact mode and expandable mode available.

[2020-12-28 17:06] needz commented on #2014
Hi, any chance you could implement these changes for version 2.12.2? Thanks!

[2020-12-28 19:35] Rafayelpoghosyan-wmg commented on #6348
Hi All, I  have one issue, In my case, I need to show the video player rotated for example 45 degrees, for rotation I found that needed to use `app:surface_type="texture_view` so for using TextureView there is a low performance of the video. Can you please say how can I solve the performance issue?  I checked the comments and understood that the `MediaCodecOperation` configuration will solve my is

[2020-12-28 22:57] mengli1986 opened #8408 "Chunk end time in playeremsghandler should respect trackformat"
https://github.com/google/ExoPlayer/blob/107fed9b2afc1e1edce95eee4a1fbc952377efd2/library/dash/src/main/java/com/google/android/exoplayer2/source/dash/PlayerEmsgHandler.java#L183

As shown here, the lastLoadedChunkEndTimeUs is updated when chunk load is completed. However, there are both audio and media chunks loading simultaneously, and they both update this lastLoadedChunkEndTimeUs when they fin

[2020-12-29 08:05] Romantic-LiXuefeng commented on #8362
@andrewlewis Do you have time to look at this? Hope give the reasons for this output. Thanks!

[2020-12-29 10:25] andrewlewis commented on #8362
The default audio sink queries the audio track's position in two different ways: via [`AudioTrack.getTimestamp`](https://developer.android.com/reference/android/media/AudioTrack#getTimestamp(android.media.AudioTimestamp)) and [`AudioTrack.getPlaybackHeadPosition`](https://developer.android.com/reference/android/media/AudioTrack#getPlaybackHeadPosition()). The former method is supposed to be more a

[2020-12-29 10:29] marcbaechinger commented on #7733
If you only override the method  `getActionIndiciesForCompactView()` then you only change the array of actions for the compact view. This does not have an effect on the total actions of the notification. Please review your code and set some breakpoints in the code where you can figure out the the two arrays of actions:

[1] actions in expanded view mode: return value of `List<String> getActions(Pl

[2020-12-29 10:34] marcbaechinger commented on #8407
What you see is the internal format to store cached media files. It is not intended to be concatenated back to to the original file but stored in a way that the cache can provide parts of the file as requested by the player.

If the media is completely cached, you can use a `CacheDataSource` to read the file via the `DataSource` API which gives you the original file.

[2020-12-29 10:47] marcbaechinger commented on #8406
I would expect that the state of the player transitions to `STATE_BUFFERING` when there is not enough data to continue playback. When further data is available the player goes back to `STATE_READY`. This should be unrelated to the type of network the device is currently connected to.

Can you elaborate a bit on what the behavior is that you are seeing and that you think is not behaving as expected

[2020-12-29 11:08] marcbaechinger commented on #8398
You can choose the directory where the downloaded media files are stored. If you choose that in a way that the directory is included to the Auto Backup of Android, I don't see a reason why this should not work - these are normal files as any other files that can be backed up. (Auto Backup: https://developer.android.com/guide/topics/data/autobackup). When using the Downloader there is also an index

[2020-12-29 12:43] developerzjy opened #8409 "How to preload a part of the video into the memory before the video start play."
When playing a video in the video list, if I want to play the next video, how to play the next video immediately(play immediately instead of loading->player). I know this requires a preload method, but I can not find a suitable method in ExoPlayer.I have found some ways to use CacheUtil, but it is Deprecated in the latest EXO version.On the other hand, CacheUtil is cached to the disk, I think it i

[2020-12-29 13:24] #8275 closed, assigned to AquilesCanta

[2020-12-29 13:28] AquilesCanta commented on #8405
Duplicate of #8313.

[2020-12-29 13:28] #8405 closed, assigned to AquilesCanta

[2020-12-29 14:02] marcbaechinger commented on #8409
You are right you could do that with caching. A cache that is saving data to the disk is part of the library. See issue #7887 for some more details. You could choose to write your `Cache` implementation that does only store data in memory instead of disk, but I'm not sure what the performance gain would be and if it's worth doing your own implementation.

The solution you are actually looking for

[2020-12-29 14:02] #8409 closed, assigned to marcbaechinger

[2020-12-29 14:58] marcbaechinger commented on #8400
I don't think you are doing something wrong. With progressive media, the duration is available only when the period of the source is created. For this the player needs to download parts of the media which is deferred until the data is really needed. This is even true [if you set `lazyPreparation` to `false`](https://github.com/google/ExoPlayer/blob/8a0d52be4b5402af0987fc7d009bc49977c72b67/library/

[2020-12-29 14:58] #8400 closed, assigned to marcbaechinger

[2020-12-29 16:12] andrewlewis commented on #8377
Please could you provide some steps to reproduce the issue (including the ad tag you are using)? If you don't want to share it here you can email the information to `dev.exoplayer@gmail.com` with subject "Issue #8377". Thanks.

[2020-12-29 16:37] marcbaechinger commented on #8394
It's a bit difficult to understand what is going on from the forum thread you referenced (there are 81 comments :). When skimming over it I understand that the issue is seen with the Plex app. It seems to be present for Sony TVs only and only for content with 800 pixels height. There are some comments saying it was fixed or reproducible after an update of the Plex app.

I actually don't really wan

[2020-12-29 16:51] marcbaechinger commented on #8396
Thanks! Can you provide us with a sample stream? I know you said it's in the thread you are referencing, but besides the thread being huge, I seem to not have access to the [sample.zip](https://emby.media/community/applications/core/interface/file/attachment.php?id=53321) that might be what you say is the sample stream.

[2020-12-29 16:55] nandovelazquez commented on #8333
Thanks for your help @marcbaechinger.
Is this going to be addressed to the Google Assistant team? If so, can I get a reference to follow the status of the new ticket?

[2020-12-29 17:01] marcbaechinger commented on #8375
I think I understand you want to get the duration of each item in the `ConcatenatingMediaSource`. With this you can calculate the total position of the start of any media source in the playlist to display the current position in the entire playlist. If this is what you are trying to achieve, and if you are using progressive media, please refer to #4727.

The duration of progressive media items is

[2020-12-29 17:01] #8375 closed, assigned to marcbaechinger

[2020-12-29 20:16] Ivozn commented on #7295
Hello, there is any update on this issue? Anything from the cast team? I'm having the same problem.

[2020-12-29 20:30] marcbaechinger commented on #8376
I tested with the demo app. I changed layout element of the `PlayerView` 200x200dp like this:

[code]

Without setting a specific `resize_mode` it gives me the video scaled to the size of the player view which gives the typical letter box view with some areas left out at the top and bottom. As expected it fits the whole video into the available space by maintaining aspect ratio. When I switch the

[2020-12-29 20:37] marcbaechinger commented on #8333
The bug is filed internally and can be tracked internally only I'm afraid. We will update this issue if there is some news.

[2020-12-29 23:28] Tupsi commented on #8396
Yeah sorry, just now realized I password protected that file because of the overzealous german laws when it comes to copyright stuff. Does github offer any form of private upload?

[2020-12-30 01:14] Romantic-LiXuefeng commented on #8362
@andrewlewis Thanks for your answer.  I will add the logs as you said and provide as you request . I'm trying to reproduce this problem again!

[2020-12-30 04:03] giangpham2811 commented on #8407
Yes but I want to store it like .mp3 on a folder then I can show it on a recycle view for the user to select and play. Is there any way to do it with ExoPlayer or any way to convert it back to originals forms?

[2020-12-30 06:25] h6ah4i opened #8410 "Adding media2 SessionPlayer.movePlaylistItem() support"
The current media2 extension ([`SessionPlayerConnector`](https://github.com/google/ExoPlayer/blob/release-v2/extensions/media2/src/main/java/com/google/android/exoplayer2/ext/media2/SessionPlayerConnector.java)) does not provide [`SessionPlayer.movePlaylistItem()`](https://developer.android.com/reference/androidx/media2/common/SessionPlayer?hl=ja#movePlaylistItem(int,%20int)) method. I think it's

[2020-12-30 08:24] ArunkarthickNallasamy opened #8411 "Error inflating class com.google.android.exoplayer2.ui.PlayerView"
I have seen this issue being similar to #5138 and #8309 but there are no solutions that seems to solving it

[code]

Device:
Nexus 4 and Redmi note 3

OS version:
6.0.1

Customisation:
 I have created a custom controller layout and used a custom timebar in it

<details>
  <summary>CustomTimeBar.java</summary>
`package com.mitron.tv.util;

/*
 * Copyright (C) 2017 The Android Open Source Project
 *

[2020-12-30 11:00] marcbaechinger commented on #8411
I'm afraid but I can't review all your code you sent here.

I'd recommend to add customization of the layout file step by step and then see what change makes it fail. Make sure you have the java 8 support switched on[ like suggested in the issue you referenced](https://github.com/google/ExoPlayer/issues/5138#issuecomment-445560112).

It's possible that inflating fails when it comes to the `CustomT

[2020-12-30 11:30] marcbaechinger commented on #8407
After downloading you can use a `CacheDataSource` for playing the downloaded content. Please see the [Developer Guide page](https://exoplayer.dev/downloading-media.html#playing-downloaded-content) about downloading and playing downloaded content.

[2020-12-30 11:34] marcbaechinger commented on #8396
Please send an email to dev.exoplayer@gmail.com using a subject in the format "Issue #8396". Please also update this issue to indicate you’ve done this.

Many thanks!

[2020-12-30 11:44] Tupsi commented on #8396
done.

[2020-12-30 12:37] tamanna-seg opened #8413 "Is there any way to speed up more than 8x?"

[2020-12-30 13:15] marcbaechinger commented on #8413
To change the playback speed you pass a `PlaybackParameters` object to `player.setPlaybackParameters(PlaybackParameters)`.

This snippet sets the playback speed to 32f and it seems to work.

[code]

Why do you think that 8x is the limit?

Aside: If you are using the playback speed for fast forward, I don't think that's the intended use case of setting a playback speed. It's probably inefficient an

[2020-12-30 13:29] tamanna-seg commented on #8413
But when i am setting it to 10f or 12f and after that when i get player.getPlaybackParameters().speed it always returns 8.0

[2020-12-30 13:46] marcbaechinger commented on #8413
Upps, yes, you are right. The values are limited by the [`DefaultAudioSink`](https://github.com/google/ExoPlayer/blob/ffea2a64b30f40bb298a6f97b9a0ec828312c138/library/core/src/main/java/com/google/android/exoplayer2/audio/DefaultAudioSink.java#L1044).

[code]

Seem like the code kind of confirms my comments about having the playback speed above a certain speed does not make sense for the use case

[2020-12-30 13:52] andrewlewis commented on #8290
Thanks for the information. From the next release both errors should be handled by skipping ad playback. Hopefully this is okay for the time being given these are occurring at a low volume.

Longer term it would be good to try to figure out why the unexpected cases are happening. I will plan to discuss with the IMA SDK team what the possible cause could be, and whether we have options for reportin

[2020-12-30 13:52] #8290 closed, assigned to andrewlewis

[2020-12-30 14:17] marcbaechinger commented on #8335
I need to add some clarifications for your use case with SSAI that I did not realize and cover in my previous comment.

In case you are using eg. a multi-period DASH stream to insert ads, the player is not aware whether a given period is content or ad. So my comment regarding `DISCONTINUITY_REASON_AD_INSERTION` is misleading.  You also will not find any ad properties in the `MediaPeriodId` in such

[2020-12-30 22:49] ojw28 commented on #8387
I think your `DataSource` is implemented incorrectly. The `dataSpec` argument is _not_ defining the entire media. It's defining the _part_ of the media that the caller wants to read for this particular call to `open`. In particular:

* `dataSpec.position` is the position _within the media_ that the caller wants to start reading from.
* `dataSpec.length` is the length of data that the caller wants

[2020-12-30 22:52] ojw28 commented on #8388
I didn't use any tools. I just used the ExoPlayer demo app to play the files, and added some break points and log lines directly into the ExoPlayer source code to figure out what was happening.

[2020-12-31 01:04] ArunkarthickNallasamy commented on #8411
Java 8 is enabled, CustomTimebar is needed because there is No option to hide secondary buffered progress bar other than stopping it from drawing in DefaultTimeBar by making a custom clone of it.

[2020-12-31 02:04] #8310 closed, assigned to christosts

[2020-12-31 02:04] #8307 closed, assigned to christosts

[2020-12-31 02:04] #8306 closed, assigned to christosts

[2020-12-31 03:22] sunhb commented on #8387
It looks work for me, the difference for me is `readPosition = mediaPosition + dataSpec.position` and `newDataSpec = dataSpec.buildUpon()...`. But I dont understand what difference they made?

[2020-12-31 03:43] tamanna-seg commented on #8413
So there is any way to customize this class or any other way for more speeds?

[2020-12-31 05:17] gowthamkrishnabj opened #8416 "DRM download example required."
Required some information/sample project regarding DRM download, with offline playback. The current demo project download feature doesn't support a download of  DRM content.

[2020-12-31 08:07] kuailedeadai opened #8417 "Subtitles display error"
Hello, I have a mkv file. The subtitles are in S_HDMV/PGS format, but the content information decoded by the subtitles is empty, causing the subtitles to not be displayed. The file address is as follows:
https://w4files.ws/c3087ddae5d47b08?pt=RwHf%2FqA0fzsKx%2Fe4xgrs9AAX5Dur7nXUEC7Spy7aI7c%3D

[2020-12-31 09:28] vrayv commented on #8394
I temporarily fixed it by adding 2 black lines with height of 1 pixel to bottom and top of the video view.

    <View
        android:layout_gravity="top"
        android:gravity="top"
        android:layout_width="match_parent"
        android:layout_height="1px"
        android:background="@android:color/black"
        />
    <View
        android:layout_gravity="bottom"
        android:gravity=

[2020-12-31 10:06] Ashwin-Sqt opened #8418 "Video Not Playing"
Hi,

Im a beginner in this library .. im Getting a playback error when trying to play this URL "**http://40.112.184.97:8080/saada-staging/admin/documents/broadcast-media/5555551609332108932/SampleVideo_720x480_1mb.mp4**"
I have used one of your tutorial code

public class MainActivity extends AppCompatActivity {
//    private PlayerView playerView;
    ProgressBar loading;

//    SimpleExoPlayer p

[2020-12-31 11:06] logituitrel opened #8419 "Fatal Crash in DownloadManager.java"
We are facing a crash captured in crashlytics.
We are not sure about the steps to replicate this.
Are there any steps to tackle these crashes/ are they fixed in any upcoming exoplayer release?
Exoplayer version: 2.11.8

Logs:
[code]

[2020-12-31 11:06] andrewlewis commented on #8418
Please fill in the issue template [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md) next time. In particular, you've said there's a playback error but not what it is!

When I request the provided URL I get data that doesn't look like a valid stream, and I see an `UnrecognizedInputFormatException`. It looks like the server is not providing a valid MP4. Also,

[2020-12-31 11:06] #8418 closed, assigned to andrewlewis

[2020-12-31 11:57] andrewlewis commented on #8411
If you remove the custom time bar, do you see the same error?

Can you use the default time bar but set the 'buffered' color to match the 'unplayed' color so they look exactly the same, effectively hiding the buffered progress?

[2020-12-31 12:38] Ashwin-Sqt commented on #8418
But this same url works for ios . I guess its adaptive stream url

[2020-12-31 12:51] andrewlewis commented on #8418
I think your server requires that the player makes a range request. Currently ExoPlayer only adds the Range header if the request is from a non-zero position (or has a bounded length), so when starting to load the MP4 we don't make a range request by default and the server isn't returning any data.

If I edit `CronetDataSource` so it always sets a Range header (`"Range: bytes=0-"`) the provided UR

[2020-12-31 14:02] Jenjen1324 commented on #2014
@needz I've updated my repo: https://github.com/Jenjen1324/ExoPlayer with a version for 2.12.2.

I've blindly copied over parts of our own modification and just pushed it. Please test if it's even working. If not, open an issue in my repository.

[2020-12-31 14:42] vrayv commented on #8394
I sent you 4 files for testing. The behavior is slightly different when playing with different devices using same exo player / library.

1. When played directly on sony tv android, Demo1.mkv will experience flickering line on the bottom of the screen. It's visible in the phone recorded video Demo1_flickering_sonytv.mp4.

Demo1.mkv has vertical pixel size of exactly 800 pixels.

The Demo2.mkv does

[2020-12-31 14:52] needz commented on #2014
@Jenjen1324 thanks, it is working indeed, since I could figure the solution out myself based on your previous modifications (thanks a lot for them!), it turned out there are not too many changes to make in this specific version. Kindest regards!

[2020-12-31 15:25] vrayv commented on #854
Links are down for this example. Can you repost the changed classes and the example?

[2020-12-31 18:41] warren-bank commented on #854
Hi @vrayv . Links are now fixed. Sorry for that; project directories must've been reorganized at some point.

[2021-01-01 04:18] Ashwin-Sqt commented on #8418
Thanks alot sir.
Can I know  how did u edit in demo app in detail ..

[2021-01-01 12:07] noman87 opened #8420 "no such column: title exception"
Firebase crashlytics  showing crashes on different users devices, however it is not reproducing during development

Version:**com.google.android.exoplayer:exoplayer-core:2.12.0**

**Exception:**
[code]

[2021-01-02 01:04] inat-tv opened #8421 "Api 19 (Android 4) Binary XML file Error ?"
**Hello to everyone. It gave the following error on Android 4. I just couldn't figure it out. Has Android 4 support been lost?**

[code]

[2021-01-02 02:24] joel1st opened #8422 "Add option to align durations of MergingMediaSource elements"
I want to set up a default audio clip to play for video playback when there is no audio track present. I want this default audio source to play for the same duration as the video (downloaded mp4 file) MediaSource. My first thought was to use a ClippingMediaSource + MergingMediaSource, but the nature of this application means I do not know what the precise video duration is (unless there is a perfo

[2021-01-02 13:18] iamkdblue commented on #8400
@marcbaechinger Thanks for your response,
I tried to implement the given link but those are related to when you play audios from server or online!
My playlist will play audios from local storage not from online. so it is possible to get all audios duration in starting?

[2021-01-02 13:24] vrayv commented on #8394
I seem to have resolve the issue. Problem happens if you share the player activity with a webview. Creating a new activity just for the player seem to fixes the issue. The flickering borders could be something from the webview code trying to outline the video elements and its probably some part of a webview buggy implementation because outline was turned off.

[2021-01-02 15:53] md84419 commented on #7789
+1 for chromakey support please

[2021-01-02 16:08] md84419 commented on #7789
See http://test.bsl.nrw/obv-client-demo/boy-test.html

The webpage uses the seriously.js JavaScript library from https://github.com/brianchirls/Seriously.js/ which in turn uses WebGL. The code is distributed under the MIT Open Source license. The chromakey implementation is at https://github.com/brianchirls/Seriously.js/blob/master/effects/seriously.chroma.js

Both videos are Copyright 3rd parties

[2021-01-03 15:57] swifityG opened #8423 "Weird bug when playing with surfaceview on some devices"
There is weird bug when playing using surfaceview in one specific media, I not sure what causing it because I cant reproduce it because I don't have those devices.

I know it's probably the devices/media fault but I didn't see anyone reported this bug so I just wanted to inform you guys.

This is a pic of how the media shows when using surfaceview
https://gofile.io/d/zCQ6pv

this is the link to th

[2021-01-03 17:33] DeeptiMota commented on #8250
@icbaker Could you please help?

[2021-01-03 18:48] ojw28 commented on #8421
We still support API level 19. I tried modifying the demo app to use `PlayerView` rather than `StyledPlayerView`, and it worked fine for me on an API level 19 device. Without complete information as requested in the issue template, it's not possible for us to assist further.

[2021-01-03 18:56] ojw28 commented on #8416
Duplicate of https://github.com/google/ExoPlayer/issues/7347. Please search for existing issues before filing new ones; Thanks!

[2021-01-03 18:56] #8416 closed, assigned to ojw28

[2021-01-03 19:16] ojw28 commented on #8419
It looks like this crash can occur when you remove a download and _immediately_ re-add it (by calling `DownloadManager.addDownload` or `DownloadService.sendAddDownload`) with a _non-zero_ stop reason.

We will work on a fix. Thanks for reporting!

[2021-01-04 01:35] ojw28 commented on #8387
It should hopefully be clear that if `dataSpec.position` is non-zero, `readPosition = mediaPosition + dataSpec.position` (correct) is going to end up reading from a different position than `readPosition = mediaPosition` (incorrect). The reason why `dataSpec.position` needs to be included is already explained as clearly as I'm able to explain it in my response above.

[2021-01-04 01:35] #8387 closed, assigned to ojw28

[2021-01-04 01:37] ojw28 commented on #7839
The root cause of the crash reported here has also been reported in https://github.com/google/ExoPlayer/issues/8419. Please follow that issue for a fix.

[2021-01-04 02:04] #8311 closed, assigned to christosts

[2021-01-04 02:34] wazerstar commented on #5491
I found and tested other projects that can extract teletext succesful.

Is there anything here that can be used.

https://github.com/CCExtractor/ccextractor

https://github.com/kanongil/telxcc

[2021-01-04 04:40] SharanKumarReddyKambham commented on #8372
Hi Team, We observed that playback is happening with 720p CMAF content, but unable to play with 1080p.

[2021-01-04 06:24] ArunkarthickNallasamy commented on #8411
Its not happening on all devices. Also even if i set custom color(i.e. Transparent) for unplayed it still shows a bar and thats the reason i had to customise the Timebar and on ondraw method i stopped secondary bar from added into the view.

[2021-01-04 09:01] JJJoonngg opened #8424 "How to know about MediaCodecVideoRenderer in EventLogger"
I wanna know about Media codec, fps, resoultion etc..
So I use `addAnalyticsListener` and can read MediaCodecVideoRenderer but
I don't get these informations.
Plz Help me

[2021-01-04 11:48] tonihei commented on #8378
Closing as I assume the question was answered.

[2021-01-04 11:48] #8378 closed, assigned to tonihei

[2021-01-04 11:50] tonihei commented on #4904
Closing this feature request as it's fully implemented and will be released in 2.13.0.

[2021-01-04 11:50] #4904 closed, assigned to tonihei

[2021-01-04 15:35] manang opened #8425 "transport part"
Hi,
I'm trying to implement a new version of this application that does not use tcp to download the manifest and the chunks of the videos, but I want to use another technology.

could you point me where is the donwload part of the contents?
thank you very much.

Angelo

[2021-01-05 02:57] tiaragizka commented on #8350
@ojw28 Even if we use 1 license for all playback, we still have to supply multi-key?

[2021-01-05 03:40] xuzh2017 opened #8426 "The first few seconds of falling frames video will be black and cannot be skipped, but there's noise"
The first few seconds of falling frames video will be black and cannot be skipped, but
there's noise

[2021-01-05 05:35] fgl27 commented on #7998
The problem persist, there will be any update on this?

I have made the APK share all that was asked, but didn't received any feedback.

[2021-01-05 05:36] fgl27 commented on #8041
The problem persist, there will be any update on this?

[2021-01-05 05:41] fgl27 opened #8427 "MIBOX4 aka MIBOX S exoplayer error when change view visibility"
I have open this issue https://github.com/google/ExoPlayer/issues/7996 the problem persist, I can't update it anymore.

Share the apk as was asked, but didn't receive any feedback, was the problem reported to the manufacturer of the device?

I update the source and the apk to test the problem here is it.

The apk

https://drive.google.com/file/d/1eoy3c_TPDxfxwBw6Q4_qsxkJgQOkVZT_/view?usp=sharing

[2021-01-05 06:48] z423821123 opened #8428 "Can not play midroll"
[REQUIRED] Issue description
-------------------------

- When I first initialize the player and jump to the position behind of the midroll, I can't play the midroll. I confirm that it works fine with Exoplayer 2.11.0. However when I upgrade Exoplayer to 2.12.2 and this issue was happened. It is easy to reproduce in demo app.

[REQUIRED] Reproduction steps
-------------------------

1. Call seekto

[2021-01-05 09:08] tonihei commented on #8413
Do you need the audio to play at more than 8x speed? If not, you could disable the audio in the `DefaultTrackSelector` as video-only playback should be fine with speeds of more than 8x.

[2021-01-05 09:21] kaweesi commented on #3626
And is there a way to to broadcast or go live with any protocol or a work around?

[2021-01-05 09:51] kim-vde commented on #8361
Indeed, I need an example file and some reproduction steps using our [demo app](https://github.com/google/ExoPlayer/tree/release-v2/demos/main). Thanks.

[2021-01-05 09:52] icbaker commented on #5491
Please see my comments on https://github.com/google/ExoPlayer/issues/7746 and https://github.com/google/ExoPlayer/pull/7749 regarding using native dependencies (both those projects look like they're written in C). It's very unlikely we'd accept a PR for this functionality that requires a native/JNI dep.

[2021-01-05 10:03] andrewlewis commented on #3859
The jitpack dependency is not working for me at the moment. There are some errors in their build logs about malformed XML test data, which might be related (or there may be something else going on). I'll fix the XML files and we can see whether that happens to unblock building the dev-v2 snapshot.

[2021-01-05 10:13] andrewlewis commented on #8418
If you take a look at `CronetDataSource.buildRequestBuilder` it should be clear where you can hack the code to add the range header. I think the right fix is to make the server respond with data when requests don't have a range header, though.

[2021-01-05 10:31] andrewlewis commented on #8352
As you've already noted, non-linear ads aren't supported. I agree it would be good to handle this more gracefully. The difficulty is that there doesn't seem to be a positive signal from the IMA SDK that the cue points for these non-linear ads won't load. I have filed a feature request to be able to omit non-linear ad cue points [internal: b/176789309].

On `dev-v2` it's possible that ad loading wi

[2021-01-05 10:31] #8352 closed, assigned to andrewlewis

[2021-01-05 10:39] xiaoxiaoliu6 commented on #8406
sorry  ,qa tell me  stay buffer for a white,then exo throw timeout exception

[2021-01-05 10:39] #8406 closed, assigned to marcbaechinger

[2021-01-05 10:47] andrewlewis commented on #3626
ExoPlayer doesn't have any DLNA support whatsoever as far as I'm aware. It does support playing some types of live streams (for example DASH live streams) but I think you probably mean something different by 'go live' (if you want to ask about something not related to DLNA, please file a separate issue so we can keep this one on-topic).

[2021-01-05 10:55] andrewlewis commented on #7653
Sorry for the delay. I'm afraid I can't think of any reasons that extracting DTS from a Matroska file and playing it via passthrough would be slower than doing the same for other formats (and I don't think ExoPlayer does a lot more computation for DTS compared to other formats). Perhaps the stream is a much higher bitrate. Another possibility is that the device's code to packetize DTS for sending

[2021-01-05 10:55] #7653 closed, assigned to andrewlewis

[2021-01-05 10:58] andrewlewis commented on #7274
Sorry for the delay.

It should be possible for you to implement retrying at the application level in case you want to disable tunneling and/or switch to on-device decoding.

On `dev-v2` we now retry audio track initialization (see #7042) which may help with this. Without a bug report I don't think we will be able to make more progress diagnosing this.

[2021-01-05 10:58] #7274 closed, assigned to andrewlewis

[2021-01-05 11:02] andrewlewis commented on #7602
I couldn't find anything in the bug report to help track down the cause of freezing video. With video tunneling the implementation is mostly in control of the device manufacturer so I suggest filing a bug with Amazon (if you haven't done so already).

If you find evidence of an ExoPlayer bug related to use of tunneling APIs or otherwise, or if you have a reference number for a bug with Amazon it w

[2021-01-05 11:02] #7602 closed, assigned to andrewlewis

[2021-01-05 11:07] andrewlewis commented on #6874
Sorry for the year-long delay! I had a quick look at the sources and wanted to suggest the problem might be related to the lifecycle of the surface from the surface texture: it looks like there is no blocking player call to set the surface when it's destroyed, and I guess that might cause the codec to be retained for slightly longer.

One final thing to note is that the kernel log in a bug report

[2021-01-05 11:23] andrewlewis commented on #8426
Hi! Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md). If you're unable to share [bug reports](https://developer.android.com/studio/debug/bug-report) or test content publicly, please send them to dev.exoplayer@gmail.com using a subject in the format "Issue

[2021-01-05 11:36] andrewlewis commented on #8420
@marcbaechinger @ojw28 Please could you take a look?

[2021-01-05 11:48] andrewlewis commented on #8422
If the media is downloaded, loading it to find its duration is not going to be excessively inefficient so that might be fine for now. Whether it's performant enough will depend on your specific requirements I guess.

#3163 tracks having a way to update the clipping start/end points dynamically.

@tonihei Please could you take a look and add or correct anything? Thanks.

[2021-01-05 11:49] icbaker commented on #8425
You should implement a [`DataSource`](https://github.com/google/ExoPlayer/blob/release-v2/library/common/src/main/java/com/google/android/exoplayer2/upstream/DataSource.java). For example there's a [`UdpDataSource`](https://github.com/google/ExoPlayer/blob/release-v2/library/core/src/main/java/com/google/android/exoplayer2/upstream/UdpDataSource.java).

For playback you can register your `DataSour

[2021-01-05 11:49] #8425 closed, assigned to icbaker

[2021-01-05 11:56] andrewlewis commented on #8424
To find out which `MediaCodec`s are being used, you can handle `onVideoDecoderInitialized` and `onAudioDecoderInitialized`, which receive the decoder name. `Format` instances passed to listener methods and in the `TrackGroupArray` `TrackGroup`s contain information about resolution, frame rate and so on (if parsed from the container). More generally it may be worth having a look at the [`EventLogge

[2021-01-05 12:07] manang commented on #8425
thank you very much

[2021-01-05 13:09] vimal1695 opened #8429 "Download state is changing into complete before content is fully downloaded"
Good evening ,

I'm trying to download a content for offline playback but sometimes download will get stuck at 99% because state of the download item gets complete even though there is few more bytes to download.
This issue occur when trying to download multiple items.
Content length : 76169163
Content downloaded :  76167168
Progress: 99.3%

![Image4](https://user-images.githubusercontent.com/1174

[2021-01-05 13:18] ojw28 commented on #8420
I think @christosts might have implemented the relevant changes, so is probably the best person to take a look.

[2021-01-05 13:23] andrewlewis commented on #8429
@marcbaechinger Please could you take a look?

[2021-01-05 13:35] noman87 commented on #8420
i m getting continues crashes on firebase

[2021-01-05 13:36] JJJoonngg commented on #8424
@andrewlewis Thanks a lot!!! I appreciate your comments, a big help for me! Thanks

[2021-01-05 13:36] #8424 closed, assigned to andrewlewis

[2021-01-05 13:57] GouravSna opened #8430 "Default SingleSampleMediaSource.treatLoadErrorsAsEndOfStream to true"
- ExoPlayer version number : 2.12.2 and 2.12.1
- Android version : Android 10 (not OS specific)
- Android device : Not device specific

**Steps to reproduce:**

1. Pass the external subtitle url to media item. Can replace this [method](https://github.com/google/ExoPlayer/blob/107fed9b2afc1e1edce95eee4a1fbc952377efd2/demos/main/src/main/java/com/google/android/exoplayer2/demo/IntentUtil.java#L127)

[2021-01-05 14:49] icbaker commented on #8430
Can you provide the info about specifically how you tried to use this in 2.12.1?

[2021-01-05 15:06] GouravSna commented on #8430
It was working in v2.11.7 and we started facing this issue after `MediaItem` introduction in v2.12.x.

In 2.11.7, we were using [SingleSampleMediaSource](https://github.com/kaltura/playkit-android/blob/bc24c6c170fd592df97c6123af6ae26c215c9694/playkit/src/main/java/com/kaltura/playkit/player/ExoPlayerWrapper.java#L443) to set the external subtitles and then apply the error policy on it using  [Exte

[2021-01-05 15:06] ojw28 commented on #8350
If you're asking whether you need to call `setMultiSession(true)` in the case that all keys are contained within one license response, then the answer is no as per my response above.

If you're asking something else, then I'm afraid I don't understand the question.

[2021-01-05 15:25] ojw28 commented on #8411
There's no evidence here that this is an ExoPlayer issue. Since it appears to be a problem with your customization, it falls outside the scope of this issue tracker.

Note that the stack trace you've posted above probably has one or more "Caused by" exceptions (not included above) that provide a better indication of where the issue is in your customization. Looking at those would be a good idea fo

[2021-01-05 15:25] #8411 closed, assigned to marcbaechinger

[2021-01-05 15:27] #8394 closed, assigned to marcbaechinger

[2021-01-05 15:39] #8269 closed, assigned to AquilesCanta

[2021-01-05 15:50] ojw28 commented on #8283
I think this was implemented by the change ref'd above. Since we don't have a test stream, I don't think there's much more to do here.

[2021-01-05 15:50] #8283 closed, assigned to krocard

[2021-01-05 15:56] kcrg commented on #8039
Pls fix

[2021-01-05 15:59] PawKanarek commented on #8039
One of my custome have exact the same problem.
Google Pixel 3, Android 11,

ExoPlayer for Xamarin 2.8.8.0
[code]

[2021-01-05 16:05] ojw28 commented on #8419
This is fixed by the change ref'd above. It will be included in `2.12.3`. We don't have a set release date, but I would expect it to be toward the end of this month.

[2021-01-05 16:05] #8419 closed, assigned to ojw28

[2021-01-05 17:01] christosts commented on #8420
In ExoPlayer version 2.12.0, there's a change in the downloads database table schema. The codepath indicated by the stack trace is executed when the player is upgrading the database to the latest version ([TABLE_VERSION = 3](https://github.com/google/ExoPlayer/blob/r2.12.0/library/core/src/main/java/com/google/android/exoplayer2/offline/DefaultDownloadIndex.java#L42)). The upgrade is executed only

[2021-01-05 17:27] tonihei commented on #8422
That's pretty much it:

 - Loading a downloaded or local file to find its duration is not super inefficient and a good workaround if required:
[code]

- Updating the clipped duration is tracked by #3163, but there are no immediate plans to finish this feature.

-  Clipping elements in a `MergingMediaSource` to match the duration of the shortest merged source is a sensible feature request. We alrea

[2021-01-05 17:35] ojw28 commented on #8395
It looks like it's not actually that easy to change the user agent when using Cronet (we should fix that!). If you change [this piece of the demo app](https://github.com/google/ExoPlayer/blob/r2.12.2/demos/main/src/main/java/com/google/android/exoplayer2/demo/DemoUtil.java#L84) to use `DefaultHttpDataSourceFactory` instead then it does become trivial, since there are constructors for that factory

[2021-01-05 17:56] christosts commented on #6348
@Rafayel93 the optimizations described in this thread were made with respect to the performance of Android's `MediaCodec` and I'm not sure if they can address your use case. Nevertheless, if you want to try them, they are still in experimental mode in v2.12.2.

If you use the player's default renderers, you need to create a `DefaultRenderersFactory` instance and call `experimentalSetAudioMediaCode

[2021-01-05 21:38] davydovvladimir commented on #5804
Hi @ojw28
Do you have any updates for this issue?

[2021-01-06 02:04] #8325 closed, assigned to krocard

[2021-01-06 02:40] tiaragizka commented on #8350
@ojw28 Thank you for your response,
my stream have adaptive bitrate https://serverurl/main.mpd (720p,480p,320p), we encrypt the stream, using only one key (same key) for each stream

we have successfuly download this one key from license server, store it and use it to play each stream individually using direct stream url
https://serverurl/main_720p.mpd (can play)
https://serverurl/main_480p.mpd (c

[2021-01-06 07:00] krackjack234 opened #8431 "Exoplayer does not complete playback when postroll ad tag is returning empty vast"
We are seeing a problem with Exoplayer 2.12.0 where the player is getting stuck and not reporting STATE_ENDED event when the postroll ad tag returns empty vast

We haved shared the sample Exoplayer test app with client ad tag privately to dev.exoplayer@gmail.com

In the Exoplayer demo app we can see the problem by using the following steps:

_Try the option IMA sample ad tags- > Single inline line

[2021-01-06 09:39] icbaker commented on #8430
Everything you describe in the original comment is expected until you get to the part about the `LoadErrorHandlingPolicy` registration not working correctly in 2.12.1, so that's what I'd like to dig into.

Please can you provide enough info to reproduce this part of the problem? You haven't made it clear **exactly** how you're registering this policy in using 2.12.1.

Please provide a [minimal rep

[2021-01-06 09:41] krocard commented on #8329
The fix should be present in the next minor release 2.12.3.

[2021-01-06 09:41] #8329 closed, assigned to krocard

[2021-01-06 09:56] icbaker commented on #8417
The link provided doesn't seem to let me download the content - it just opens spam links.

Please host the file somewhere we can access it.

[2021-01-06 10:50] icbaker commented on #8250
@DeeptiMota you're probably best off filing a new issue. You'll need to provide enough info for us to be able to help you.

We ideally need to be able to reproduce the problematic behaviour you're seeing so that we can help. If that's not possible then a heap dump showing the problematic memory usage might be enough.

Please provide a [minimal reproducible example](https://stackoverflow.com/help/m

[2021-01-06 11:25] GouravSna commented on #8430
Please check [Sample for Subtitle Not Working](https://github.com/GouravSna/ExoPlayer/tree/PlaybackFailsWithBrokenVTT) branch and [Sample for LoadErrorPolicy](https://github.com/GouravSna/ExoPlayer/tree/LoadErrorHandlingPolicy) branch.

You can see [this is how](https://github.com/GouravSna/ExoPlayer/commit/33765f102cd88dbbb32accf99802d9dec5a2c926) we are adding load error policy.

But we are not

[2021-01-06 11:25] icbaker commented on #8254
There still isn't enough info here for us to investigate.

[2021-01-06 14:02] noman87 commented on #8420
**Question**
 Did you update the ExoPlayer version recently to v2.12? If yes, from what version?

**Answer**
yes, from 2.10.4 to 2.12.0

**Question**
Is your app using any custom components for downloads, e.g. a custom DownloadIndex, or have you modified the database directly?

**Answer**
i check the download status before making the download request like this and this is the line where i am facin

[2021-01-06 14:39] olivergibson opened #8432 "Get soundtrack tags or metadata"
Unfortunately we can't answer all questions. Unclear questions or questions with
insufficient information may not get attention.

Before filing a question:
-------------------------

- Ask general Android development questions on Stack Overflow
- Search existing issues, including issues that are closed
  https://github.com/google/ExoPlayer/issues?q=is%3Aissue
- Consult our developer website (https

[2021-01-06 14:51] milan-fabian commented on #7668
Hi,

I have been playing a little bit with UDP streams in Exoplayer and I would like to add some insights from the testing, which will maybe help with this issue.

The current implementation with `socket = new DatagramSocket(socketAddress);` actually works in following case:

- Streaming from computer (IP 192.168.1.10): `ffmpeg -re -i "video.mp4" -c copy -f mpegts "udp://192.168.1.11:1234"`
- Rece

[2021-01-06 14:58] christosts commented on #8347
I believe this is happening due to #2014: audio tracks of the same type are multiplexed in the TS files and ExoPlayer does not support that. If you follow the comments thread on #2014 you'll see that the suggested way is to split the playlist the content in a master playlist with alternate audio renditions (eg [here](https://github.com/google/ExoPlayer/issues/2014#issuecomment-257166914) and [here

[2021-01-06 14:58] #8347 closed, assigned to AquilesCanta

[2021-01-06 15:27] SepidehAkbarinezhad opened #8433 "how to set a selected subtitle from the list which is sideloaded to mediaItem"
hello
I'm using the last version of exoPlayer (2.12.2) . According to documents ,a list of subtitles can be added when building a media item . In my case user can see the sideloaded subtitles in a dialog and choose from them . how can I switch to the selected one as the video is playing. In past we can use MergingMediaSource . But now ,how can we perform this ,when  MergingMediaSource is used by D

[2021-01-06 15:46] icbaker commented on #8433
Sideloading subtitle files using `MediaItem` should work, and they should show up in the track selector (which I think is what you're asking?).

We need more information to understand your exact problem - please describe clearly what you're trying to do, what you expect to see, and what you actually see. Ideally this would done by making changes to our [demo app](https://exoplayer.dev/demo-applica

[2021-01-06 16:16] needz opened #8434 "HDR Live content not detected automatically"
When streaming Live HLG HDR content in the TS or HLS containers, the HDR format is not detected by device automatically and thus not triggered on TV. When you open the same Live stream in VLC or MX Player, it is detected automatically.

Interestingly, when you play a saved TS recording with specific length, it is detected automatically.

The issue can be easily reproduced in ExoPlayer demo player

[2021-01-06 17:32] nishantkp commented on #8037
@tonihei Its been quite a while, do you have any updates on this one?

[2021-01-06 19:32] christosts commented on #8420
Please ensure that your app creates a single instance of `DownloadManager`, it is something that has come up again in the past, sometimes there are bugs in the app configuration (for example [issue 6516](https://github.com/google/ExoPlayer/issues/6516#issuecomment-648663819)).

The database upgrade is kicked-off by the constructor of the `DownloadManager` but it is executed in the `DownloadManager

[2021-01-06 22:22] linhai326 commented on #8367
@AquilesCanta
Thank you so much for your reply.
My original question is if there is any side-effect if we always turn on multi-session flag.

If i understand it correctly, what you are saying is: we should turn on multi-session even for non-key-rotation media in the case that audio and video have different license info.
So it sounds there is not much side-effect if we keep this flag as true (turn

[2021-01-06 22:32] wazerstar commented on #5491
Seen it now :)

Further information if it has not been mentioned before.

https://pdc.ro.nu/teletext.html

[2021-01-06 23:19] ojw28 commented on #8350
No, this is not required. It sounds like there's something wrong with the way the content is prepared, but it's unclear what that is. Without working test content (including an accessible license server), I don't think there's much we can do to assist. Please provide some if you'd like us to investigate further. Thanks!

[2021-01-07 03:25] Lua12138 commented on #8342
I tried it, and `TeeAudioProcessor` really met the demand.

Now I have some other questions. Can I specify the specific format of PCM data obtained by this method, such as 8-bit or 16-bit or float, sample rate,  little-endian or big-endian?

[2021-01-07 09:07] jakobkukla opened #8435 "Support SSA/ASS styling"
Add support for SSA/ASS styling. Currently there is only "minimal" support for ASS subtitles since styling was removed from the initial PR. (See https://github.com/google/ExoPlayer/pull/2281)

It would be great to have full support of the spec. Many subtitles use these styling features to work directly with the video (e.g. to substitute text in a video). SSA/ASS styling is also very common in cert

[2021-01-07 09:48] andrewlewis commented on #8435
@icbaker Tentatively marking as an enhancement, but please dupe or close as needed. Thanks!

[2021-01-07 09:57] ojw28 commented on #8367
If you turn `multiSession` on for non-key-rotated media:

1. If your content has identical PSSH boxes (this is what contains the "license request information") for all streams, there will be no side effects at all.
2. If your content has different PSSH boxes for audio and video, the side effect is that there will be two DRM sessions, each making their own key requests, rather than just one. This i

[2021-01-07 09:57] #8367 closed, assigned to AquilesCanta

[2021-01-07 10:47] icbaker commented on #8435
Thanks for the request.

Unfortunately we don't currently have any capacity to improve ExoPlayer's SSA/ASS styling support. However we would welcome high quality PRs in this area.

I'm also happy to discuss various approaches with PR authors if a new feature doesn't fit easily into the existing code structure (either before the PR, or in the review, whichever is easier).

[2021-01-07 11:09] nbasbous commented on #8377
I sent needed info to dev.exoplayer@gmail.com with subject "Issue #8377"

[2021-01-07 14:38] christosts commented on #8420
Update: I can verify there is a race condition triggered if the app tries to access the database through `DownloadManager.downloadIndex` while the `DownloadManager` is still initialising. This should happen on first time the app updates from a version prior to 2.12 to a version after 2.12 and ExoPlayer had downloads in its database already. If the race condition is triggered, the player crashes wi

[2021-01-07 14:44] noman-noor commented on #8420
Thank you so much for your quick support and assistance, i m trying to handle initialization issue, approx how much time it will take to fix from your side?

[2021-01-07 14:52] christosts commented on #8420
The commit should be in the dev-v2 branch within the week and we plan a minor release (2.12.3) within January.

[2021-01-07 16:51] shlomivman commented on #8395
I have got everything to work,
thank you very much, I really appreciate your help/work!

[2021-01-07 17:08] marcbaechinger commented on #8429
It's hard to say what the reason for this behavior is from the information available. When trying with the demo app I can not repro this. Assuming you are downloading progressive media I would expect that the `CacheWriter` reads from the upstream data source either until the given content length has been downloaded or until the resource the data source is reading from reaches the end of the stream

[2021-01-07 19:11] ChernyshovYuriy opened #8436 "Handle format changes in Ogg Vorbis streams"
Dear developers,
There are some streams that has into jingle and the main stream. It turned out bitrates of these two streams are not the same and it noticeable when the main stream started to play after the jingle.
Example URL is ```https://tcpower.eu:8443/getradio```
I tested on ExoPlayer, no need additional set up, just to feed this stream to it.
I wouldn't bother with question if VLC, for inst

[2021-01-07 19:33] ojw28 commented on #8395
No worries! We will also be making it easier to set the user agent when using Cronet in a future release (probably `2.13.0`).

[2021-01-07 20:55] rossinho2001 commented on #8037
I hve also observed this error on an Samsung S20+ on Android 11 with the demo Exo-player. On this specific device - the issue was not occurring on Android 10 - only observed after update to 11. Happening frequently now for no reason I can fathom.

[2021-01-07 23:13] jjustman commented on #6049
Please see https://github.com/jjustman/ExoPlayer_MMT_Plugin for an ad-hoc fork baseline MMT plugin for ExoPlayer (using libatsc3)

[2021-01-08 05:32] 13steinj commented on #8435
Could we determine a basic checklist of what isn't supported, to determine what features of the spec can be focused on in order of size and/or ease of implementation?

(I'm not familiar with what exactly even *is* supported currently).

[2021-01-08 08:13] manluo-MTK commented on #7881
hi
thank  for your help.
I catch a new bugreport again. form the report, it seem not  hang in the ExoPlayer:Playback or media components.

[code]

[code]

  it is hard to figure out what is root cause. pleas help. the new bugreport had mailed to dev.exoplayer@gmail.com

[2021-01-08 08:52] manluo-MTK commented on #7881
https://user-images.githubusercontent.com/70946784/103994299-c29cc200-51d1-11eb-9c6f-00af3f44508f.mp4

exoplayer version:2.12.0

[2021-01-08 09:30] icbaker commented on #8435
That sounds like a good idea - the best way to do that is probably to compare the [`SsaDecoder`](https://github.com/google/ExoPlayer/blob/dev-v2/library/core/src/main/java/com/google/android/exoplayer2/text/ssa/SsaDecoder.java) to a copy of the spec. I've found the SSA/ASS spec to be fairly loose, and I'm not sure there's a canonical definition, but I've generally referred to this when working wit

[2021-01-08 09:33] kuailedeadai commented on #8417
The file link is as follows：
https://drive.google.com/file/d/1dqK22uK-EoeOeSVeUEYqge_vpVp8mZ2Y/view?usp=sharing
thanks

[2021-01-08 10:57] logituitrel opened #8438 "Playback failing on Xiaomi AOSP box"
Playback is reported as constantly failing on xiaomi aosp boxes.
Observed in logs:
[code]

[2021-01-08 11:25] icbaker commented on #8417
Thanks for the report - can I ask what version of ExoPlayer you're using?

I can reproduce the behaviour you're seeing on the dev-v2 branch, but not in 2.12.2 (the latest release).

On the dev-v2 branch the problem comes from a mistake in this commit (the change in `PgsDecoder` shouldn't have been made):
https://github.com/google/ExoPlayer/commit/46598a46fd3c13a9be906abd6c673b9487ba5d50#diff-39c6b

[2021-01-08 12:53] purvagevaria opened #8439 "h265 file format support"
Hi team I want to achieve two things using exo player.

1. h265 file format support. : File is there in my internal storage I just want to play it using exo player. I tried different examples to load the same but I am getting a supported format error .
2.  I want to achieve live streaming into the app: I am connecting my device as a hotspot and loading the URL and trying to achieve live streaming.

[2021-01-08 13:44] andrewlewis commented on #8439
Please provide complete information as requested in the question template. The template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/question.md).

Unfortunately we can't answer unclear questions or those with insufficient information. In particular, for the first point, it would be useful to know what the error is, whether the stream plays in the

[2021-01-08 13:47] andrewlewis commented on #8438
Hi! Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md). If you're unable to share [bug reports](https://developer.android.com/studio/debug/bug-report) or test content publicly, please send them to dev.exoplayer@gmail.com using a subject in the format "Issue

[2021-01-08 14:18] andrewlewis commented on #8436
For the record, when playing this stream in the demo app there is an intro that sounds fine, but after a few seconds the audio becomes garbled. I didn't spot any errors from the decoder.

I noticed VLC is doing some reconfiguration around the time when the intro finishes: in verbose mode there is logging like this near the time of the transition:

[code]

I'm not sure exactly what would be needed

[2021-01-08 14:21] purvagevaria commented on #8439
@andrewlewis
Issue description :  I am having file let's assume file name is **abc.h265** file with h265 extention. Now my question am I able to load this file using exo ? I tried but I am getting file format error .
Reproduction steps
Load any h265 file

[2021-01-08 14:24] purvagevaria commented on #8439
@andrewlewis My simple question to the dev team is am I able to load file with extension h265. Suppose I am having file **abc.h265** and I want  load this file in exoplayer view. Is it achievable ? If yes then how ?

I checked Exo player supported format but as mentioned in the above link I found h265 reader in exo class so I am curious to know if I could achieve this?

https://exoplayer.dev/doc/r

[2021-01-08 14:28] ChernyshovYuriy commented on #8436
Thanks a lot, I was about the same opinion but decided to ask in case you can provide some additional info that I am not aware of.

[2021-01-08 14:49] andrewlewis commented on #8432
Please read through the [issue template](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/question.md) and provide the requested information so we can help you. I'd guess we are just not extracting metadata in Matroska files, but it would be useful to have the media you are trying to play so we can check.

[2021-01-08 14:53] andrewlewis commented on #8439
I'm not sure exactly what the file format is, but you could try remuxing it into a container like MP4 or put it in an MPEG-TS stream. `H265Reader` is used by `TsExtractor`. If the file is a 'raw' H.265/HEVC Annex B stream, I don't think we support it directly.

[2021-01-08 15:04] icbaker commented on #8430
Thanks for the branch - using that I'm able to reproduce what you're seeing, and using the debugger I pinned down the problem - you're right that basically your policy is being accidentally dropped internally. Specifically here, it needs to be propagated down to the `SingleSampleMediaSource.Factory`:
https://github.com/google/ExoPlayer/blob/107fed9b2afc1e1edce95eee4a1fbc952377efd2/library/core/src

[2021-01-08 15:41] andrewlewis commented on #8434
Just to clarify, does this case (where it works correctly with ExoPlayer) correspond to one of the three provided streams? If so, which one? If not, could you share that stream too?

I think it's unlikely we will be able to make much progress on this issue currently, partly because I don't think we have access to test equipment that supports this format. If you can share any information (e.g., ref

[2021-01-08 15:55] christosts commented on #8420
Just an update that the a fix has been pushed to the dev-v2 branch. I will update this issue again when the commit is part of a released version.

[2021-01-08 15:57] noman-noor commented on #8420
Thank you so much @christosts let me implement it and update you

[2021-01-08 16:09] needz commented on #8434
@andrewlewis On Sony Android TV (XG series, 2019) it works correctly in case 1 and 2 only.

I did some additional test on the following devices:

1) nVIdia Shield TV - works in all 3 cases
2) Amazon Fire Stick 4K - works in case 1 only
3) Google Chromecast - works in case 1 and 3

It can be tested on any 4k HDR capable device and if your TV supports HDR, it will switch to HDR mode automatically. I

[2021-01-08 17:02] andrewlewis commented on #8434
The fact that Nvidia Shield works in all cases suggests that the application layer (and ExoPlayer) is passing required information to the system, so I think we should treat this as a device-specific issue for now.

Could you report this to Amazon so they can investigate the FireTV issue?

I can follow up for Chromecast, but it would be helpful if you could share a bug report taken just after playi

[2021-01-08 17:07] andrewlewis commented on #8434
Please could you also share some more details on what the difference is between streams 1 and 2? Thanks!

[2021-01-08 17:09] needz commented on #8434
**Case 1:**

[code]

**Case 2:**

[code]

**Case 3 (TS Chunk):**

[code]

[2021-01-08 17:11] needz commented on #8434
@andrewlewis Could you maybe hint me on what changes I can make to ExoPlayer (like skip some checks), so it does not strip any color information from the stream, so I can test it on specific device? It seems there is definitively something in the ExoPlayer library, since other apps can detect HDR information on the same device.

[2021-01-08 17:15] andrewlewis commented on #8434
We don't intentionally strip color information from the stream as far as I know, and the fact that it works on Shield means that the extraction code is providing the required information (unless Shield is doing something clever to reconstruct missing information!).

I expect the exact same information is being passed down to the `MediaCodec` on every device because the extractors are part of ExoPl

[2021-01-08 18:52] ojw28 commented on #8408
@mengli1986 - I've submitted the commit referenced above to address this issue. However, I did not have a suitable stream to test with, so I essentially fixed it blind. Please could you test the fix and report back whether it resolves the issue? We would like to get this into `2.13.0`, but reserve the right to not do so unless we have confirmation that it solved the problem :). Thanks!

[2021-01-08 19:20] AquilesCanta commented on #8372
I suspect the issue is caused by the lack of discontinuity alignment. The discontinuity in the video variant happens at t=16s and in audio at t=6s. The audio loading cannot continue because it waits for timestamp adjustment initialization by the video variant, but the video variant does not load because the CompositeSequenceableLoader sees the video's next load position is further ahead in time.

[2021-01-08 19:49] mengli1986 commented on #8408
Awesome. Thanks for the quick fix!

[2021-01-09 06:40] noman-noor commented on #8420
@christosts  do i need to handle initialize check now or library handling it internally ?
does dependency works like this `com.google.android.exoplayer:exoplayer-core:dev-v2` ?

[2021-01-10 07:44] ajaasazeez commented on #8093
can you please explain a bit more how you solved the issue?

[2021-01-10 09:38] SetareMaghari opened #8440 "Ima ads not working with mediaItem"
hi there
I'm using mediaItem for exo following the document.
I wanna set an IMA ad, but its just not showing and i get the following error in

[errorType: LOAD, errorCode: AdErrorCode [name: FAILED_TO_REQUEST_ADS, number: 1005], message: There was a problem requesting ads from the server.]

this is my code:

`MediaItem.Builder().setUri(url).setAdTagUri("https://pubads.g.doubleclick.net/gampad/ads?

[2021-01-10 12:52] yachana1 opened #8441 "Mp2 Audio Not playing using Exoplayer in Android version 9 .. please help me to do this ."
Mp2 Audio Not playing using Exoplayer in Android version 9 .. please help me to do this .

[2021-01-11 06:12] GouravSna commented on #8430
Hi @icbaker , now the code is reaching to `getRetryDelayMsFor` of my custom class and there I am getting the uri from `dataSpec` and checking if the error is for `vtt` or `srt` and if yes then we are returning `C.TIME_UNSET`.

But there is issue that still the media is failing to play because `treatLoadErrorsAsEndOfStream` is not set to true, it is false and [here](https://github.com/google/ExoPla

[2021-01-11 08:16] krackjack234 opened #8442 "How to use multiple exoplayer 2.x versions in single app"
[REQUIRED] Searched documentation and issues
[REQUIRED] How to bundle multiple exoplayer 2.x versions based players in single app

One of our client is having a requirement to have multiple exoplayer based players in the same app. The app will be playing syndicated contents and hence will have different players from different partners.

Our question is what is the best way to support different exo

[2021-01-11 09:21] tonihei commented on #5011
Closing this feature request as it's fully implemented and will be released in 2.13.0.

[2021-01-11 09:21] #5011 closed, assigned to tonihei

[2021-01-11 10:35] icbaker commented on #8430
Ah I see - yeah that isn't currently possible using only the `MediaItem` API.

I will add this as a configuration option to `MediaItem.Subtitle`.

Until that's done you'll need to either implement your own `MediaSource.Factory` or skip using `MediaItem` and use the `MediaSource` APIs:
https://exoplayer.dev/media-sources.html#media-source-based-playlist-api

[2021-01-11 10:51] sravan1213 opened #8443 "setBottomPaddingFraction for WebVtt subtitles is not working."
For following subtitle bottom padding fraction is not getting applied. This used to work fine before 2.12 exoplayer versions.

[webvtt-subtitles.zip](https://github.com/google/ExoPlayer/files/5795277/webvtt-subtitles.zip)

[2021-01-11 11:04] icbaker commented on #8443
Duplicate of https://github.com/google/ExoPlayer/issues/7934

[2021-01-11 11:04] #8443 closed, assigned to icbaker

[2021-01-11 11:20] christosts commented on #8420
The library will synchronize initialization internally and you should not have to wait for the DownloadManager to be initlaized. However, depending on how you are structuring your app, it might be better to wait for DownloadManager to be initiliazed anyway. If you access the database through `DownloadManager.downloadIndex` while the DownloadManager is still initliazing, this will block your thread

[2021-01-11 11:27] icbaker commented on #8420
FYI there's instructions for that here:
https://github.com/google/ExoPlayer/blob/release-v2/README.md#locally

[2021-01-11 12:02] andrewlewis commented on #3750
This is implemented on the development branch and should be in the next major release 2.13.

[2021-01-11 12:02] #3750 closed, assigned to andrewlewis

[2021-01-11 12:18] #8386 closed, assigned to marcbaechinger

[2021-01-11 13:35] khushank9 commented on #8365
@icbaker Apologies for replying late, Can you please check now if you are able to playback the content. We have added the countries and removed the proxy detection too for this content.

[2021-01-11 14:40] AndresECG opened #8444 "DASH + DRM Error"
Hi, I'm playing a DASH live stream with DRM Widevine... the code works fine, but on certain devices (emulators and some tv boxes) it doesn't seem to read the license and plays a black video. Is there a solution to this? Can I detect when it doesn't read the license and run another function?

- Dash code + drm: [here](https://github.com/halilozel1903/ExoPlayerDrm) (Java)
- Url: https://cdn.cvattv.c

[2021-01-11 15:59] andrewlewis commented on #8377
@nbasbous Based on the error message, it looks like you are actually using IMA SDK-owned ad playback, as defined at the start of [this page](https://developers.google.com/interactive-media-ads/docs/sdks/android/client-side/custom_ad_playback). The implementation is outside the ExoPlayer codebase, so we can't provide support, but I filed an internal bug to ask the IMA SDK team for help anyway [inte

[2021-01-11 16:22] andrewlewis commented on #8423
I had a look at the provided sample but couldn't find anything obviously wrong with the stream using a few different tools. Based on the provided screenshot, I agree it's likely that the media is invalid and the error is not concealed as well by this device, or it could be a bug with the specific device's decoder. Your best bet is probably to report this the device/chipset makers so they can root

[2021-01-11 16:22] #8423 closed, assigned to andrewlewis

[2021-01-11 16:35] krackjack234 commented on #8431
Hi @andrewlewis, did you get a chance to look into this?

[2021-01-11 17:05] zilinx commented on #8108
Hi @icbaker or @ojw28 , the long term initiative you were talking about - is there any more concrete info you could share about your plans in that regard? Will it come with 2.13? I am still on 2.11.18 because of issues with 2.12.x related to Widevine L3 support, but 2.13 promises to introduce some changes which really make it attractive and I wouldn't want to postpone upgrading any further.
For me

[2021-01-11 17:14] icbaker commented on #8108
We don't plan to add any additional support for Widevine fallback in 2.13.

It's likely many of the future changes that make this experience better will be made on the Widevine side rather than inside ExoPlayer.

[2021-01-11 17:17] icbaker commented on #8365
Thanks for unblocking the content - I can play it.

I tried it at 2.8.2, 2.11.1 and dev-v2 (latest). At 2.8.2 I see the exception as you've posted in the original comment above. I also see a very similar exception at dev-v2 (the URL has been removed: https://github.com/google/ExoPlayer/commit/429bdfb974c67279137543b78aa333c483460c70).

At 2.11.1 there's no DRM event logging. This is because DRM ev

[2021-01-11 17:38] Stonos commented on #8108
Does this mean that it will be part of a future platform upgrade? Devices with revoked L1 licenses are usually old, which makes them highly unlikely to receive a new Android version.

Is there a list of devices that have had their L1 license revoked? It would help to implement the fallback on the app's side.

[2021-01-11 18:08] lcf87 commented on #8444
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/question.md).

[2021-01-11 18:09] icbaker commented on #8108
The Widevine system has logic both on-device and server-side. If you want more information about Widevine's future plans, and you're a Widevine partner, I suggest you reach out to them directly: https://www.widevine.com/contact.

That list is not published I'm afraid.

[2021-01-11 18:09] lcf87 commented on #8441
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/question.md).

[2021-01-11 18:48] andrewlewis commented on #8442
I'm not sure about the details of the first suggestion (if you depend on multiple versions without any repackaging I'd expect there will be collisions, or possibly the dependency will just get resolved to the newest version). Repackaging either the sources or classes to avoid collisions should work though.

[2021-01-11 18:48] #8442 closed, assigned to andrewlewis

[2021-01-11 18:51] yachana1 commented on #8441
hi .. android version greater than 8 mp2 audio not playing and also android tvbox not playing mp2 audio .... here is my logs

[code]

![Picture1](https://user-images.githubusercontent.com/42667031/104225223-2215fe80-546c-11eb-9dd6-df2d799a22e6.jpg)
![Picture2](https://user-images.githubusercontent.com/42667031/104225231-23472b80-546c-11eb-96c0-1e3b81c72140.jpg)

[2021-01-11 19:04] #8151 closed, assigned to lcf87

[2021-01-11 19:16] lcf87 commented on #8441
In your log lines,

[code]
The flag `NO_UNSOPPORTED_TYPE` means,[ quote from `C.java`,](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/RendererCapabilities.html#FORMAT_UNSUPPORTED_SUBTYPE)

Also, #7662 May be of help.

[2021-01-11 19:35] andrewlewis commented on #8431
In the ExoPlayer demo app on `dev-v2` the ad tag provided via email plays to the end and the player transitions to `STATE_ENDED`, but the postroll ad was not empty.

Please could you check whether this issue reproduces for you using `dev-v2` preferably in the ExoPlayer demo app, and, if so, supply the logs output when reproducing the error, with debug logs enabled via`ImaAdsLoader.Builder.setDebug

[2021-01-11 19:48] andrewlewis commented on #8440
That ad tag loads fine for me, and I didn't spot any issues with the code snippets provided. Please could you try enabling debug logging via `ImaAdsLoader.Builder.setDebugModeEnabled` (on the latest version) then capturing the logcat output when trying to play the stream so we can see if there are any informative error messages?

[2021-01-11 20:09] andrewlewis commented on #8431
For what it's worth, I also tested with [this test ad tag](https://vastsynthesizer.appspot.com/full-midroll-empty-postroll), which has a midroll and an empty postroll, and playback ended as expected.

[2021-01-11 21:01] swifityG commented on #8423
Thank for the help even tho I dont think reporting this issue to Xiaomi/amlogic is worth even trying 😔

[2021-01-11 22:11] moneytoo opened #8446 "Unable to play video containing HE AAC"
I'm trying to play a video from http://download.tsi.telecom-paristech.fr/gpac/dataset/dash/uhd/
like this one: http://download.tsi.telecom-paristech.fr/gpac/dataset/dash/uhd/mux_sources/hevcds_720p30_2M.mp4

ExoPlayer reports this error:

[code]

I see the same result on two different devices.

If I force the use of FFmpeg extension using `DefaultRenderersFactory.EXTENSION_RENDERER_MODE_PREFER`, i

[2021-01-12 00:43] dbrain opened #8447 "IMA shouldOverrideUrlLoading NPEs"
## Issue description

We are seeing a lot of NullPointerException's in Firebase coming from IMA in our latest release, containing ExoPlayer 2.12.0 and IMA 3.21.4 (Note: ExoPlayer specifies 3.21.0, so we've bumped it slightly).

GIven it's IMA and obfuscated it's hard to work out exactly what is going wrong from our perspective. It seems like at some point the WebView is triggering a URL load, whic

[2021-01-12 00:53] a4x4kiwi commented on #5491
Hi Wazerstar, Source code that uses CCExtractor is available in native code. BUT there is a memory leak in it! If anyone has the experience, I could use some help to locate and fix it. Unfortunately I have lost contact with the dev.

https://github.com/a4x4kiwi/Exo-CC

[2021-01-12 01:00] wazerstar commented on #5491
Thanks for getting back in here, so wait this mean we are on the right track to get this implemented into exoplayer without implementing  ccextractor, the actually code which will need an commit at some time? Perhaps @icbaker @AquilesCanta @marcbaechinger  could look into this

[2021-01-12 01:10] a4x4kiwi commented on #5491
This CCExtractor code is in C++ so no, it wont get accepted. It needs to be translated into Java to be accepted.

[2021-01-12 01:32] inat-tv commented on #8421
I am using PlayerView. I made a special design. Could it be due to drawable resource?

[2021-01-12 02:21] nicktz118 commented on #8384
Hi @ojw28, Thanks for the help and the suggestion. Finally, I found the issue occurs when I print the message in the AudioProcessor.

[2021-01-12 02:21] #8384 closed, assigned to ojw28

[2021-01-12 05:11] purvagevaria commented on #8439
Hi @andrewlewis I am using this below sample file. File is added in raw folder.
https://drive.google.com/file/d/1NJHbSVgMS4veLqtVLLNLOfXg6MOgvL9O/view?usp=sharing
Below is the exception when I try to load the file.
ExoPlayerImplInternal: Source error
      com.google.android.exoplayer2.source.UnrecognizedInputFormatException: None of the available extractors (MatroskaExtractor, FragmentedMp4Extrac

[2021-01-12 06:56] zilinx commented on #8108
@icbaker how about allowing developers to create their own implementation of `mediaSourceDrmHelper.create(mediaItem)) ` as I talked about before? You can pretend it's not for Widewine, if that helps ;). Quote from my previous post:

It's not really asking for anything new here - it was possible to provide own implementation for this functionality in 2.11.18 (by implementing `ExoMediaDrm.Provider<F

[2021-01-12 07:56] klob opened #8448 "HDR movie color is wrong when "surface_type" attribute set "texture_view""
## Issue description
HDR movie color is wrong when surface_type set texture_view. Will ExoPlayer support TextureView mode HDR?
Related issue #7334, I provide  screenshots and test content.

## Reproduction steps
Using the ExoPlayer demo app, add an hdr moive to the Clear DASH list.
Then  set different surface_type to the StyledPlayerView.
[code]

Here is two screenshots.

1、surface_type set textur

[2021-01-12 08:54] #8410 closed, assigned to jaewan-github

[2021-01-12 09:03] andrewlewis commented on #8447
The mention of `StreamRequest.getUserRequestContext()` suggests that the use case is server-side ad insertion/DAI. Could you confirm whether that's expected?

If so I think this needs to be investigated by the IMA SDK team, so you could post a description of the problem [here](https://groups.google.com/g/ima-sdk).

[2021-01-12 09:06] fonebinary opened #8449 "HttpDataSourceException:SocketTimeoutException"
Hi,
I am getting SocketTimeoutException on a very good network. I am not able to understand this is an exoplayer/okhttp issue or issue with my network.

**Error**
[code]

[2021-01-12 09:09] dbrain commented on #8447
@andrewlewis Sorry, I should have clarified in the description. We do not use DAI, just plain old IMA via VAST/VMAP.

Given the IMA SDK is trying to hit a null `StreamRequest`, maybe it's some backup flow? Hard to tell with the obfuscated IMA code.

[2021-01-12 09:19] andrewlewis commented on #8447
I've asked the IMA SDK team to take a look in [internal: b/177294971] and will plan to keep this issue updated if we learn more. Thanks.

[2021-01-12 09:30] ojw28 commented on #8421
Yes, it's almost certainly due to your customisation. Note that the stack trace tells you the exact line in the layout file being inflated that causes the problem:
[code]
If you turned obfuscation off, the stack trace would also tell you the exact line in code where the layout file is inflated, which would allow you to know which layout file to look at. This, together with some investigation, shou

[2021-01-12 09:30] #8421 closed

[2021-01-12 09:39] icbaker commented on #8108
Thanks for repeating that suggestion - I think it did get lost when we duped the issues together - I'll discuss it with the team.

To be clear, I don't think anything was 'taken away' in 2.12.x - the "old" MediaSource-based APIs [are still all available](https://exoplayer.dev/media-sources.html#media-source-based-playlist-api), so anything you could do with them in 2.11.x should still be possible

[2021-01-12 09:56] andrewlewis commented on #8439
That sample does look like an Annex B stream (there are start codes (0, 0, 0, 1) followed by H.265/HEVC NAL unit headers).

As I mentioned above, we don't support this format directly at the moment and I don't think we have plans to add support. To play media with ExoPlayer you are better off using a more common format like MP4, Matroska or similar. You could also take a look at #3503 which is an

[2021-01-12 09:56] #8439 closed, assigned to andrewlewis

[2021-01-12 10:34] khushank9 commented on #8365
@icbaker I have sent charles logs to debug the issue further to <dev.exoplayer@gmail.com>

As per your comments :

Caused by: java.io.EOFException: \n not found: size=0 content=...

We couldn't see in the charles logs that the server responded with an empty response. Can you please help in understanding this further. Do you suspect that Keep-Alive connection is causing the client to disconnect wit

[2021-01-12 10:49] AngelikaSahakyan opened #8450 "Android TV/ Exo player issue"
[No info provided]

[2021-01-12 10:50] AngelikaSahakyan commented on #8450
Hi,
I would like to know what can cause this problem.(Please watch the attached video)
Is this rgb bgr problem ?
It occurs when I run the app on TV box(Android version 9),but I'm not getting this on emulator TV.
Thanks in advance.

[2021-01-12 10:57] krocard commented on #7668
Thanks for your explanation and testing @milan-fabian, I understand how it works now.
So the `DataSpec` passed to `UdpDataSource.open` is _not_ the uri of the server streaming the media, it is instead the local port and interface that should be opened to receive the data.
Additionally, no UDP filtering occurs, meaning that any udp packet sent to the device port will be played, regardless of it sou

[2021-01-12 10:57] AngelikaSahakyan commented on #8450
https://user-images.githubusercontent.com/49554711/104305707-71007a00-54e6-11eb-9f23-6b7f9fbf5174.mp4

[2021-01-12 11:10] zilinx commented on #8108
@icbaker Thank you! Please feel free to reach out if I can provide you with any more details.

That's a good point, I guess I was really hung up on the idea that 2.12 = MediaItem-based approach. My apologies for the confusion.

[2021-01-12 12:10] lcf87 commented on #8450
I don't see what the problem is. Please fill out the issue template properly.

[2021-01-12 12:11] lcf87 commented on #8449
It's a bit surprising this happens, could you try playing the media using another player (vlc) or if you could provide a link to the media?

[2021-01-12 12:12] lcf87 commented on #8448
@andrewlewis could you take a closer look?

[2021-01-12 12:18] andrewlewis commented on #8448
I think this is probably due to platform limitations with how texture views work, rather than anything that ExoPlayer is doing. Please use `SurfaceView` instead. If there is a reason you can't use `SurfaceView` please give some more details.

[2021-01-12 12:33] FrankdeBoers opened #8451 "use setVolume(0F) to mute, after phone call, the video playing with audio"
i  use exoplayer version 2.12.2, and `player.setVolume(0F)` to mute video, it worked.
then phone call coming, after i hang up, the demo plays with audio.

i debug, found exoplayer use `AudioFocusListener`, when audioFocus loss and gain again, whether the volume is 0 or 1, exoplayer will `setVolume(manager.getStreamVolume(AudioManager.STREAM_MUSIC).toFloat())`

exoplayer should keep volume 0F wheth

[2021-01-12 12:34] AngelikaSahakyan commented on #8450
![download](https://user-images.githubusercontent.com/49554711/104315211-0a825880-54f4-11eb-8b26-b84f17e82227.png)

[2021-01-12 13:22] lcf87 commented on #8446
It seems the AAC decoder does not particularly enjoy the original AAC audio encoded in the file. I.e. if I try recode the content, by
[code]
The video would play just fine.

[2021-01-12 13:24] lcf87 commented on #8451
@krocard Kevin could you take a look at this?

[2021-01-12 14:05] Daphne-CoffeeIT commented on #8319
I have the same issue on a Samsung Galaxy A40 (SM-A405FN) which runs on Android 10. The first time after I restarted the phone, I am able to play the Widevine DASH asset, but after the first time it gives me the "Crypto key not available" error. Are there any updates on this issue?

[2021-01-12 14:15] yoobi opened #8452 "Changing Download Location in application"
### [REQUIRED] Use case description
I think it's more and more common nowadays to have an SD card inserted in the phone, and thus a neat feature would be to be able to change the download location of Exoplayer between the local Storage and the External Storage while keeping the application running (not being forced to restart it). Just like in the image below

<img width="256" alt="Screenshot 2021

[2021-01-12 14:40] krocard commented on #8451
Agreed, the volume should be restored identically when the audio focus is regained. I believe though that it is the current behaviour of ExoPlayer.

I'm sorry but I can't reproduce in our demo app, nor find any interaction in the code between  ExoPlayer's [AudioFocus handling code](https://github.com/google/ExoPlayer/blob/r2.12.2/library/core/src/main/java/com/google/android/exoplayer2/AudioFocusM

[2021-01-12 14:45] chladto1 opened #8453 "The ad will not play"
Scenario. There are 5 midrolls on the timeline. I played the third one and jumped in front of the second unplayed. If I jump anywhere behind the second midroll, the ad should start playing. The ad will not play if I jump between the third and fourth midroll.

Android version and device independent.
ExoPlayer version 2.11.8

![not playing ad](https://user-images.githubusercontent.com/62881052/10432

[2021-01-12 14:48] krocard commented on #7668
@msilucifer To be clair, you should use `localhost` as the IP in your `udp://@IP:PORT` URI. It should fix the `Exception: bind failed: EADDRNOTAVAIL (Cannot assign requested address)` BindException. Please report if this does not fixes your issue.

I'm keeping this issue open to have a discussion with @milan-fabian,  @lcf87 and @AquilesCanta about `UdpDataSource`'s current `udp://` URI semantic pa

[2021-01-12 15:14] ojw28 commented on #8451
This is probably a duplicate of https://github.com/google/ExoPlayer/issues/3923. Note that it was a platform issue, not an issue with ExoPlayer. The issue was fixed in [this platform commit](https://android.googlesource.com/platform/frameworks/base/+/8ba7d406025afc6a993845c5b953a51c9a5c86d7).

This would explain why @krocard cannot find any corresponding code in ExoPlayer. There is not a known wor

[2021-01-12 15:15] msilucifer commented on #7668
Thanks for your guide.
But I don't want to use localhost as the IP.
For instance, if "192.168.1.10" is my target address, how should I set the ip addresss?

[2021-01-12 15:44] EchedelleLR commented on #4970
I am also interested in Ogg Theora support.

[2021-01-12 16:00] lcf87 commented on #8452
I see what you mean, but the picture is missing.
Assigning to master of download @marcbaechinger

[2021-01-12 16:01] lcf87 commented on #8453
Hi! Please provide complete information as requested in the issue template. The issue template can
be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md).
If you're unable to share [bug reports](https://developer.android.com/studio/debug/bug-report) or
test content publicly, please send them to dev.exoplayer@gmail.com using a subject in the format
"Issue

[2021-01-12 16:06] yoobi commented on #8452
I've updated to add the picture :)

[2021-01-12 16:10] andrewlewis commented on #8453
Currently, our implementation assumes that each ad gates access to the following piece of content. This means that for your screenshot if the user seeks between 2 and 3 or between 4 and the end they will see an ad, but if they seek before the 2 or between 3 and 4 they will not see an ad. The expectation that "If I jump anywhere behind the second midroll, the ad should start playing." is not consis

[2021-01-12 16:10] #8453 closed, assigned to lcf87

[2021-01-12 17:44] Kristijan1001 opened #8454 "How can I Use ExoPlayer with KODI & Get Subtitles Loaded ?"
I have successfully loaded Exo player by using the guide below and loaded Dolby Vision with the player using KODI. Only problem is the person that complied and made the apk the player is super basic, and there is no way to add subtitles. Is there a more uptodate version where we can simply install the apk and be good to go ?

Here is the guide i used to make it work, except this was on an Android

[2021-01-12 17:51] krocard commented on #7668
Contrary to the other `DataSource`, IP and PORT in the URI passed to `UdpDataSource.open` are that of the _local_ socket to open to receive the stream.

Though you are right that `localhost` might restrict you to the loopback interface. I did not think of that in my previous comment.
Instead a wildcard address should be used. `0.0.0.0` for ipv4, `::` on ipv6.

When you setup the stream on the serv

[2021-01-12 18:01] icbaker commented on #8365
Thanks for the Charles logs, it looks like there are 2 requests where Charles says:

This seems to match exactly with the stack trace from Android.

Closing because this seems more like a license server/network issue than an ExoPlayer issue.

[2021-01-12 18:01] #8365 closed, assigned to icbaker

[2021-01-12 18:23] krocard commented on #7668
From [my earlier comment](https://github.com/google/ExoPlayer/issues/7668#issuecomment-758577643)

I had _not_ understood correctly the specification. The destination address is the address of the current device. So the code is currently correct!

The only thing I would change is to interpret a missing URI host as the wildcard address as VLC does. This would allow to specify the URI as `udp://@:12

[2021-01-12 18:25] krocard commented on #7668
@msilucifer to summarize use `udp://0.0.0.0:1234` as URI.

[2021-01-12 19:07] krocard commented on #7668
While digging a bit deeper to make a change making the host optional, I discovered that on Linux (and thus Android), binding to `::` binds to _both_ ipv6 and ipv4. But this is a configurable option and while currently enabled on my Pixel 4, might not be something we want to rely on.

[2021-01-12 23:19] rrfrias commented on #8373
The content-type is provided either by the app or Exoplayer. There are no errors in the bugreport related to this failures and there is not much more we can tell from the logs. Can you work with the license service to identify why the request is being rejected with a HTTP 422 error?

[2021-01-13 00:04] ronak2121 opened #8455 "DASH: Support for SegmentBase with external RepresentationIndex"
### [REQUIRED] Use case description
We use dynamic manifest/sidx creation on the server side to support dynamic clear lead injection, custom clipping scenarios (where users can select sections of streams to play), and other dynamic stream creation. Due to this, and our desire to use SegmentBase, we end up having to dynamically generate sidx atoms instead of having them pre-baked into the assets.

[2021-01-13 00:05] ronak2121 commented on #8455
We are currently on Exoplayer 2.12.1 and would like this enhancement made to Exoplayer so we can go out the gate with SegmentBase support, instead of having to worry about backwards compatibility later.

We would have to have this change ready for consumption by the end of January so we can launch with this.

[2021-01-13 00:06] ojw28 commented on #8190
Handling of audio session IDs is much improved in https://github.com/google/ExoPlayer/commit/a95b2ebb1d3125a4899c0dfe4a830077271ebca0, which will be in `2.13.0`.

[2021-01-13 00:06] #8190 closed, assigned to ojw28

[2021-01-13 07:48] cosmo321 commented on #8435
I'm not a developer, so I can't exactly contribute a lot, but proper support of ass/ssa in Exoplayer is something I'd very much would like to have, as Plex for Android currently makes me sad...
I don't know if this makes sense in the context of Exoplayer, but it seems to me that the closest thing we have to a "standard" for ass/ssa is with libass, as a lot of notable players have implemented it an

[2021-01-13 09:08] sravan1213 opened #8456 "onPositionDiscontinuity is not getting called when AdGroup is reached."
onPositionDiscontinuity is not getting called when AdGroup. This is happening for content where subtitles are side loaded.

1. Side load subtitle for a media with midroll ads
2. Wait for the midroll position to hit
3. Observe player state remains unchanged. Ad UI wont appear and even trackers are not fired. The entire ad behavior get messed up.

used following assets to test.
content - _https://bi

[2021-01-13 09:26] andrewlewis commented on #8447
There's a fix for the `NullPointerException` which will hopefully go into the next IMA SDK release (I'd guess this will be 3.22.1 as it just missed the 3.22.0 release -- here's [the repository](https://maven.google.com/web/index.html?q=interactive#com.google.ads.interactivemedia.v3:interactivemedia)). Although this will fix the NPE, without details about how the error was triggered, it's hard to s

[2021-01-13 09:36] icbaker commented on #8435
Thanks for the pointer to libass, I took a quick look. I think you're possibly suggesting two alternative things:
* ExoPlayer could depend on libass and use it's logic for all the SSA rendering.
* People working on improving ExoPlayer's existing SSA rendering logic could use libass as a reference implementation to see how different pieces of content **should** be rendered, as an augmentation to th

[2021-01-13 09:48] krocard commented on #8451
I had forgotten this old issue. I agree with @ojw28 that it would be quite difficult to know when to re-apply the volume.
I think the only case where this could be safely done, would be if the player is paused after the loss of audio focus due to the phone call. When audio focus is re-aquired after the call, the volume could be re-set before resuming playback.

[2021-01-13 09:48] cosmo321 commented on #8435
I leave that up to actual developers to decide. I just thought I'd point out that libass exists and is probably the best reference we have, and that rendering subs differently from libass could potentially make people like me wonder why the subs behave differently in ExoPlayer. The second alternative is probably the better option for ExoPlayer. :)

[2021-01-13 10:57] ojw28 commented on #4872
Closing because this sounds like a device specific issue, and it's unlikely we'll be able to dedicate further investigation to it at this stage.

[2021-01-13 10:57] #4872 closed, assigned to ojw28

[2021-01-13 10:58] ojw28 commented on #8408
As per my previous response, please test the fix and report back whether it resolves the issue. We reserve the right to remove it from the `2.13.0` unless we have verification that it did indeed fix the issue. Thanks!

[2021-01-13 10:58] #8408 closed, assigned to ojw28

[2021-01-13 11:24] #8417 closed, assigned to icbaker

[2021-01-13 12:09] GouravSna commented on #8430
Hi @icbaker
In v2.12.3, only `setLoadErrorHandlingPolicy` is being handled. Please let me know if there is any plan to add `treatLoadErrorsAsEndOfStream`.
Because I think this fix will not help us.

[2021-01-13 12:27] icbaker commented on #8430
We plan to handle `treatLoadErrorsAsEndOfStream` in some way (possibly by adding it to `MediaItem.Subtitle`, possibly by defaulting to it to true, or possibly by other means).

We haven't made this change yet (hence this issue is still open), so yes it's not included in 2.12.3 released today.

[2021-01-13 12:47] krocard commented on #7668
Closing this as the solution was found (using `udp://0.0.0.0:1234` or `udp://:::1234` as URI).

[2021-01-13 12:47] #7668 closed, assigned to krocard

[2021-01-13 13:46] lcf87 commented on #8454
It does not seem like an ExoPlayer problem to me, it's probably better to post the question on KODI, we don't have control over their decision on which ExoPlayer version to use. And because ExoPlayer is a library, it won't compile into an APK.

[2021-01-13 14:21] #8339 closed, assigned to andrewlewis

[2021-01-13 14:27] lcf87 commented on #8450
Please fill out the issue template properly.

[2021-01-13 14:27] lcf87 commented on #8450
Hi! Please provide complete information as requested in the question template. The template can be
found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/question.md).

Unfortunately we can't answer unclear questions or those with insufficient information.

[2021-01-13 14:40] christosts commented on #8420
ExoPlayer release 2.12.3 is out, including the fix for synchronizing the database initialization. I'm closing this issu, feel free to re-open if the problem persists.

[2021-01-13 14:40] #8420 closed, assigned to christosts

[2021-01-13 14:41] krackjack234 commented on #8431
hi @andrewlewis  we have shared a new ad tag over mail where we could reproduce the issue. The issue seems to happen when we seek over midroll cue points and both the midroll and postroll return empty vast. Issue is seen after IMAAdsLoader reports a LOG and then an AD_BREAK_FETCH error event.

We have also shared IMA logs for this scenario.

Do let us know if you want us to check in any of the dev

[2021-01-13 14:44] ojw28 commented on #8455
There's quite a bit here that I'm unclear on. In general, I don't think you need to generate `sidx` boxes for the features you're trying to implement, and your approach sounds very unusual.

1. How does being able to specify a different `sidx` help with clear lead injection? Please could you outline in more detail how this works? Assuming the feature here is to prefix an additional piece of conten

[2021-01-13 15:28] andrewlewis commented on #4837
According to the internal bug Qualcomm merged a fix for this issue though it's not clear exactly which devices were included. So this may be fixed for devices that are still receiving updates.

[2021-01-13 15:28] #4837 closed, assigned to andrewlewis

[2021-01-13 16:07] ronak2121 commented on #8455
Hey Ollie,

Answering your questions:

1. Clear Lead is dynamically injected when we generate the manifest, by injecting the lead and offsetting the sidx to start at the end of the lead. I learned yesterday about the presentationTimeOffset attribute on SegmentBase. I imagine we can use this to offset the start of when lead ends and sidx segments begin.

2. We do not trust clients to use a start/en

[2021-01-13 16:17] ojw28 commented on #8455
You might be able to prove me wrong, but my guess is that you'll find client support for external `RepresentationIndex` in ISO BMFF DASH to be non-existent. As per my previous response, the DASH Industry Forum appears to have concluded that it doesn't have a well defined behaviour, which was also the conclusion I came to through reading the specification.

I still don't understand why you don't us

[2021-01-13 16:33] ronak2121 commented on #8455
For (1) We do use two Periods for clear, but it was our bad in not fully researching presentationTimeOffset, and how we can use it to offset where in the sidx the player reads from. So I think this part of the argument is superfluous now.

As for (2), we use clips for various purposes and generate samples prior to purchase (which is a clip), and while we do control the clients, we do not trust sin

[2021-01-13 18:38] Kusand opened #8457 "NuEyes device does not return true for Widevine on isCryptoSchemeSupported"
I am attempting to work with ExoPlayer on a device known as the NuEyes e2 (https://www.nueyes.com/nueyes-e2), which is based on the Pico VR devices. The About section of the device indicates it is running Android 8.1, which meets the requirements for all types of playback according to the supported devices list. However, when I use the demo app from this project to test playback, `FrameworkMediaDr

[2021-01-13 20:00] krocard commented on #8396
I though at first that your channels where in a different order than what Android was expected. It does not seem to be the case as [ffmpeg](https://ffmpeg.org/doxygen/4.0/channel__layout_8h_source.html#l00049) and [android](https://cs.android.com/android/platform/superproject/+/master:frameworks/base/media/java/android/media/AudioFormat.java;l=356?q=HANNEL_OUT_7POINT1_SURROUND) have the same chann

[2021-01-13 21:43] Tupsi commented on #8396
Sorry, but I am not enough of a programmer to get that DemoApplication running. While I could try to install Android Studio there is talk about "connecting a physical device" and I have no clue how to do that and what is actually ment by that.

At least I can give some more information to convince you that the bug is actually in the exoplayer code and not somewhere else.
I installed the Kodi app (

[2021-01-13 21:51] Tupsi commented on #8396
ah wth, I will give it a try, but its to late for today, so I will try tomorrow. Can you give me some pointers please in how to connect that compiled app to my shield and how I would have to edit that playlist I seem to need?

[2021-01-13 22:40] iozozturk commented on #5935
Same here with Pixel 4XL.

[2021-01-13 22:49] dbrain commented on #8447
Great, thanks @andrewlewis. I will update this issue when we've had a chance to roll out after the next IMA release.

[2021-01-13 23:29] ojw28 commented on #8362
Marking `needs-more-info` pending reproducing the problem again.

[2021-01-13 23:55] dbrain commented on #8447
Sorry, @andrewlewis, one thing I forgot to ask. Will it be safe to update IMA without waiting for an ExoPlayer release? Specially will ExoPlayer 2.12.2 support 3.22.0 (and 3.22.1, assuming minor fixes) without changes?

[2021-01-14 07:13] krocard commented on #8396
I will take a look if we have a prebuilt DemoApp for you to install direcly instead of building your own.

I had a quick look to the [Kodi](https://github.com/xbmc/xbmc) and it seems to be using ffmpeg, not the platform decoders.

ExoPlayer does not decode itself media, it uses the platform decoders (aka the Opus decoder bundled by Amazon in the FireTV os), and optionally ffmpeg if bundled.

If th

[2021-01-14 07:33] krocard commented on #8396
Can you try playing your sample with VLC for Android and compare that to playing the sample with the galerie app of your FireTV?
If the galerie app reproduces the issue, it will definitely be a platform issue.

[2021-01-14 08:05] Tupsi commented on #8396
Just installed VLC on the Shield and it plays all files I have in 5.1 or 7.1 opus as it should be (aka fine), not just the sample I send you.
I could plug in the FireTV again as well, but as both devices show the same outcome, I see no point atm.

What exactly do you mean by "galerie app of your FireTV"?

From what you last replied it seemed that in both Amazon FireTV and Nvidia Shield your mentio

[2021-01-14 08:12] krocard commented on #8396
Platform decoders are more power efficient, can handle higher bitrate/resolution and do not impact app size.

I'm surprised Nvidia Shield has the same issue.
Could you try to play your file with the built-in media player? I'm not sure how to do it with the shield, but you should be able to download the file and then play it from the android file manager at least.

[2021-01-14 08:13] krocard commented on #8396
That would confirm it is indeed a platform decoder and not a software one.

[2021-01-14 08:35] Tupsi commented on #8396
confirmed. Playback with a file manager has the symptoms with switched channels.

[2021-01-14 08:51] FrankdeBoers commented on #8451
@ojw28 Thanks, i think my problem is same with #3923.

i add OnAudioFocusChangeListener, after audiofocus regain, i do this:
[code]
this is violent but effective, and 500 times is the result after my try, different devices might has different re-apply times.

[2021-01-14 09:00] #8362 closed, assigned to andrewlewis

[2021-01-14 09:23] Tupsi commented on #8396
and that would mean my pilgrimage has to move on to where exactly? Nvidia Shield uses AndroidTV so I would assume google somewhere?

[2021-01-14 10:31] krocard commented on #8451
I don't think you would need to set it to 0.001F before setting it to 0.
Additionally, are you sure you need this loop at all? Is the volume really set to 1 by the system after your app receive the audiofocus GAIN?

Of course this is a workaround that ExoPlayer can use itself, but if it works for your app use-case, I think it is good enough.

[2021-01-14 10:50] icbaker commented on #8457
@rrfrias could you take a look?

[2021-01-14 10:53] krocard commented on #8451
Closing issue as duplicate of #3923 as ExoPlayer cannot workaround the problem which is fixed in Android 10.

[2021-01-14 10:53] #8451 closed, assigned to krocard

[2021-01-14 10:54] andrewlewis commented on #8447
Forcing the later version should be fine (I think there won't be any API incompatibilities, so it should only require the gradle change). I'd probably do a bit of manual testing anyway just to be safe.

[2021-01-14 10:55] ekremcet commented on #8385
Bringing this up again because I couldn't solve the problem. #6920 was about adding an overlay which is not what I wanted to do. What I want to do is :

1. Get the decoded frame
2. Modify the frame (i.e. change pixel values)
3. Send it to display

Is it possible to do this with ExoPlayer ?

Thanks

[2021-01-14 11:01] andrewlewis commented on #8385
GL shaders are quite flexible so you may be able to do the modifications needed in the shader. Showing an overlay is just an example.

If you really need to do modifications on the CPU then using MediaCodec in byte buffer mode (rather than surface mode) may help, but ExoPlayer doesn't use this mode because it's likely to be very inefficient. You could also try reading bitmap data back from the out

[2021-01-14 12:51] krocard commented on #8396
Thanks for testing @Tupsi. Now that we know it is a platform decoder issue, we need to know which decoder is used by the Nvidia Shield and which company is providing it. If it is a Google decoder, we will report it to the appropriate Google team to be fixed in the next Android release.

For that, we are going to need need a bug report that you should generate during a playback of the problematic m

[2021-01-14 13:58] krocard commented on #8396
@Tupsi I was able to reproduce on my phone tip of tree (dumping the 6 channels before they were downmixed to stereo). No need for you to provide a bug report. So it is indeed an AOSP issue, all android devices are probably affected. I will report it to the Google internal team in charge. Thanks for your persistence in reporting this issue.
Internal issue: b/177524746.

[2021-01-14 14:00] krocard commented on #8396
As far as workaround, we already have a class that remaps channels, so we could imagine remaping the channels when this decoder is used with a multichannel output. Though it will depend if this channel issue is always present or just for some specifically constructed Opus file.

[2021-01-14 14:07] AChep commented on #8253
This actually does happen for me every time on the first installation. Looking through the code
[code]
I found out that when I run `cacheDir.exists()` in the block it returns `true`. We should probably change the condition check to be
[code]
And according to https://commons.apache.org/proper/commons-io/javadocs/api-2.5/src-html/org/apache/commons/io/FileUtils.html#line.2455 this is widely used.

[2021-01-14 17:11] icbaker commented on #8328
I think i've worked out the sequence of operations that causes this exception to be logged:

When dealing with DRM playback using the [`DefaultDrmSession`](https://github.com/google/ExoPlayer/blob/dev-v2/library/core/src/main/java/com/google/android/exoplayer2/drm/DefaultDrmSession.java) there are 2 looper threads used: The playback thread and the DRM request thread.

Roughly this happens when ope

[2021-01-14 17:27] GouravSna commented on #8328
Thanks @icbaker for the in depth explanation. I can understand that it could be on a low priority due to bit unusual scenario but I will curiously wait for the solution.
I hope it is not harmful anyways !

[2021-01-14 17:48] ronak2121 commented on #8455
Closing this as we figured out an alternative without requiring changes to Exoplayer. Thanks for the help Ollie!

[2021-01-14 17:48] #8455 closed, assigned to ojw28

[2021-01-14 19:29] ojw28 commented on #8253
Reopening just to keep track of @AChep 's proposed solution to this issue. It's somewhat unclear why it would help, but it doesn't look like it can do any harm, so if it does help then we should merge it!

[2021-01-14 21:48] szaboa commented on #8435
hey @icbaker , I'll check what the current `SsaDecoder` supports and what is missing in regards of styling, based on the specs you linked above, then I could probably start and implement those step by step (with my limited time).

@jakobkukla did you have anything specific in mind? I mean is there a specific styling option which you would like to see first?

[2021-01-14 22:45] Tupsi commented on #8396
well I do not know if my way of getting myself opus into my mkv is specific or rather general, but I will just post you my usual ffmpeg audio part here for reference:

5.1
 -c:a libopus -b:a 192000 -mapping_family 1 -af aformat=channel_layouts=5.1
7.1
 -c:a libopus -b:a 450000 -mapping_family 1 -af aformat=channel_layouts=7.1

so I do not think, that is anything special.

[2021-01-14 22:47] Tupsi commented on #8396
nice to see that we are getting somewhere and thanks for helping out!

Will you update this when there are changes to the base or is there some other place I could try to keep track, so I can revisit this once there is progress?

[2021-01-15 01:35] lcf87 commented on #8147
Sorry for the inactivity.

It seems to me that creating a player every time you hit a button isn't the best choice, I was suggesting something that moves the audio processor, render factory and player creation out of the `onClickLIstener`, something like

[code]

[2021-01-15 03:55] luohaohaha opened #8460 "Cannot play rtmp stream without audio"
If there is no audio in the rtmp stream, exoplayer can't play it all the time, and an error will occur at the end
I tried to remove MediaCodecAudioRenderer but it didn’t solve the problem. Is there any other solution?
version: 2.12.1
device: Google Pixel2 Android 11
[code]

[2021-01-15 03:55] luohaohaha opened #8461 "Cannot play rtmp stream without audio"
If there is no audio in the rtmp stream, exoplayer can't play it all the time, and an error will occur at the end
I tried to remove MediaCodecAudioRenderer but it didn’t solve the problem. Is there any other solution?
version: 2.12.1
device: Google Pixel2 Android 11
[code]

[2021-01-15 07:03] #8461 closed, assigned to ojw28

[2021-01-15 07:03] luohaohaha commented on #8461
flv header error

[2021-01-15 07:25] z423821123 commented on #8428
Hi @andrewlewis , could you take a look？

[2021-01-15 08:37] sravan1213 commented on #8428
looks like duplicate of https://github.com/google/ExoPlayer/issues/8349

[2021-01-15 08:40] sravan1213 commented on #8456
@andrewlewis can you please check this or provide some pointers to where to look at ?

Thanks in advance.

[2021-01-15 09:04] FrankdeBoers commented on #8451
@krocard

in SDK's source code (SimpleExoPlayer.java)

[code]

[code]

if setting the same volume value, it returns.
So i have to set set it to 0.001F before setting it to 0.  And 0.001F is low enough to avoid crackle.

[2021-01-15 09:18] z423821123 commented on #8428
It's still happened with exoplayer 2.12.3

[2021-01-15 09:19] z423821123 commented on #8428
It's still happened with exoplayer 2.12.3 @sravan1213

[2021-01-15 09:36] z423821123 commented on #8428
I tested with Exoplayer 2.12.3, but it didn't go well.
1st pre-roll is in 00:00:00, 2st mid-roll in 00:05:00, 3st mid-roll in 00:10:00
The 1st pre-roll was played successfully  when I skip to 3 minutes(00:03:00).
The 2st mid-roll still cannot played when I skip to 7 minutes(00:07:00).
@sravan1213

[2021-01-15 09:59] giangpham2811 opened #8463 "How can I get the duration of HLS Stream of .m3u8 playlist ?"
I have used SimpleExoPlayer to play this Stream but I have seen some application can get position and duration to manage player.
I have used getDuration() but it is return null or sometimes is minus interger

[2021-01-15 10:07] icbaker commented on #8460
Duplicate of https://github.com/google/ExoPlayer/issues/8461

[2021-01-15 10:07] #8460 closed, assigned to nobody

[2021-01-15 10:31] purvagevaria opened #8464 "Unable to load/play file with h264 or h265 extention"
**Goal to be achieved**
There is two sample files which are having extension h265 and h265. Links of sample files.
I want to load both or any of this in Exo player.
https://drive.google.com/drive/folders/188E8HOMXnBRsE_dLGEYBinLgPK651k24?usp=sharing

**Issue description**
I am trying to load the file please download both the sample and load this file in Exo.
Below is my code sample

 simpleExoPlay

[2021-01-15 10:39] andrewlewis commented on #8464
This looks related to your previous issue #8439, except that it includes H.264. Please read the start of https://exoplayer.dev/supported-formats.html especially about the distinction between container formats and sample formats. Just because H.264/AVC samples are supported it doesn't imply that the container you are using is supported. I am assuming that your H.264/AVC stream is an Annex B stream

[2021-01-15 10:39] #8464 closed, assigned to andrewlewis

[2021-01-15 10:53] krocard commented on #8451
Indeed setting alternating values is needed.

[2021-01-15 11:03] #8430 closed, assigned to icbaker

[2021-01-15 11:03] #7847 closed, assigned to ojw28

[2021-01-15 11:26] icbaker commented on #8435
Thanks for taking a look! Breaking down the work into small PRs definitely sounds good.

[2021-01-15 11:50] purvagevaria commented on #8439
@andrewlewis  Is there any way to convert the container format from Exo or any suggestion or utility class which is available for us to convert our container format?

[2021-01-15 12:04] andrewlewis commented on #8439
ExoPlayer doesn't remux (and even if it did, it doesn't currently read this input container format!).

I'd probably use ffmpeg (see for example https://stackoverflow.com/questions/15049829/remux-to-mkv-but-add-all-streams-using-ffmpeg). Giving further help with this is beyond the scope of this issue tracker I'm afraid.

[2021-01-15 12:05] purvagevaria commented on #8464
@andrewlewis streaming is in our hands so any suggestions to change the format from the streaming side only? I will receive h264/h265 streams and I will load them into my exo.

[2021-01-15 12:07] purvagevaria commented on #8439
No worries @andrewlewis thanks for the prompt update I will look into other library.

[2021-01-15 12:09] lcf87 commented on #8463
I'm not exactly sure what are you trying to achieve here, please elaborate on that.

I invite you to take a look at class `StyledPlayerControlView`, in which the duration of the media is gathered, specifically here:

https://github.com/google/ExoPlayer/blob/16b51d689c6a1a5ec327d1977a5fe8de9fefe41e/library/ui/src/main/java/com/google/android/exoplayer2/ui/StyledPlayerControlView.java#L1356-L1383

[2021-01-15 12:28] andrewlewis commented on #8396
With the ExoPlayer opus extension (not depending on the platform opus decoder) the same issue is reproducible.

I noticed in the ffmpeg sources that a different channel mapping is shown for 'vorbis' and 'libopus': https://github.com/FFmpeg/FFmpeg/blob/f4bdedd/libavcodec/libopusenc.c#L62-L84 If I step through the ExoPlayer opus decoder, we read a mapping for this file of `0 4 1 2 3 5`, which appear

[2021-01-15 13:18] krocard commented on #8396
I will update this issue when significant progress is made internally (b/177524746). In case I forget, you may request an update in a couple of month if nothing is posted here.

[2021-01-15 13:33] masensio commented on #8366
Hi @tonihei,

Sorry for the delay.
I´ll send you the media.exolist.json and the bug report to the email you provide me.

[2021-01-15 13:38] ojw28 commented on #8457
I think that error simply indicates that the device does not support Widevine. You would need to ask the device manufacturer why this is the case. From ExoPlayer's point of view I think everything is working as intended, in that we're querying the underlying device for Widevine support, and finding that there isn't any.

[2021-01-15 13:38] #8457 closed, assigned to rrfrias

[2021-01-15 13:56] jakobkukla commented on #8435
@szaboa To be honest I'm not really aware what is currently supported and what not. But the ability to display fonts and colors properly would be nice!

[2021-01-15 14:20] tonihei commented on #8366
I can't see the email unfortunately. Did you include "Issue #8366" in the subject line?

[2021-01-15 16:17] marekkondracki opened #8465 "Custom Actions appears on Android Auto, but not on Android Wear."
I'm developing Audiobook app. In this app more important is seeking than changing items on playlist.

I disabled actions `ACTION_SKIP_TO_NEXT` and `ACTION_SKIP_TO_PREVIOUS` in `TimelineQueueNavigator`. Then I provided custom actions to `MediaSessionConnector` by method `setCustomActionProviders()`.

It works great on Android Auto, but on Android Wear, custom actions does not appear.

I have tried

[2021-01-15 16:56] Kusand commented on #8457
Thanks. I'll follow up with them.

[2021-01-15 17:14] icbaker opened #8466 "Allow custom DrmSessionManager construction inside MediaSourceFactory"
As suggested by @zilinx in https://github.com/google/ExoPlayer/issues/8108#issuecomment-758449222:

As part of this we will likely remove/deprecate `MediaSourceFactory.setDrmUserAgent()` and `MediaSourceFactory.setDrmHttpDataSourceFactory()` since these customisations can be done directly by providing a `DrmSessionManagerProvider` (the new name for `MediaSourceDrmHelper`).

We will also probably r

[2021-01-15 17:15] icbaker commented on #8108
I'm tracking the work to allow specifying a custom `MediaSourceDrmHelper` in #8466.

[2021-01-15 18:22] Tupsi commented on #8396
Thanks!

I found a DTS 7.1 Testaudio file today in my lib which nicely shows which speaker is currently suppose todo something in the test (in the video).
So as expected this works as it should, my reciever gets the DTS Signal and decodes all channels properly, Then I put a 2nd audio stream in the mkv as 7.1 opus and now I get a better idea which channels are switched and to where, so I though I w

[2021-01-15 18:30] lcf87 commented on #8465
@ojw28 Could you take a look?

[2021-01-15 23:10] inat-tv commented on #8421
The problem was fixed when I removed the items I marked as "android:visibility="gone"" in the image below :)

![Adsız](https://user-images.githubusercontent.com/31779629/104787113-cc10c600-579f-11eb-9b76-ca78071f0f85.png)

[2021-01-16 04:11] parthkalavadia opened #8467 "Support PCM WAV RF64 format"
Does EXOPlayer supports PCM containerized in WAV with type - RF64?

[2021-01-16 06:48] Lua12138 opened #8468 "How to get NV21 data of video"
## expectant
[code]

## the usage scenarios

I want to make a simple video editing tool. There are two `Surface` on the interface, the one on the left shows the original video content and the one on the right shows the content that I have processed. I hope users can see the effects before and after editing synchronously.

For the pre-editing effect, it is only necessary to simply let ExoPlayer pla

[2021-01-16 12:22] ojw28 commented on #8467
I don't think so, although it's probably not too difficult to add support. We would likely accept a high quality pull request that does so. Marking as an enhancement. A couple of useful resources:

1. [Wikipedia page](https://en.wikipedia.org/wiki/RF64)
2. [Specification](https://tech.ebu.ch/docs/tech/tech3306v1_0.pdf)
3. https://github.com/iluvcapra/wavinfo/issues/3#issuecomment-505129130 might b

[2021-01-16 12:24] ojw28 commented on #8465
I think @marcbaechinger is the right person to look at this.

[2021-01-16 12:25] ojw28 commented on #8454
Agreed that this is not an ExoPlayer question.

[2021-01-16 12:25] #8454 closed, assigned to lcf87

[2021-01-16 13:03] cdongieux opened #8469 "Advice for adding support for playing scrambled TS stream"
Hi,

I'm trying to deal with playing a scrambled TS stream with CENC. I'm just starting the project so I don't have all the information, but it seems to me to be Widevine CAS related (#5804 ).

So in the received TS, each Elementary Stream has a conditional access descriptor giving:
- CA system ID (Widevine here)
- ECM PID
- Scheme (CENC here)
- PSSH PIDs

I implemented this parsing but now I need

[2021-01-16 13:27] Pentaphon commented on #2092
.avi has been largely replaced by .mp4, webm, and even more-so mkv so it makes sense that the devs don't really care about that container anymore. It's up to the community to submit a PR and it has to happen sooner than later because the more time passes, the less people are interested in working on it.

[2021-01-17 00:56] T-10001 opened #8470 "cannot git clone https://git.xiph.org/opus.git libopus"
Tried to follow steps on https://github.com/google/ExoPlayer/tree/release-v2/extensions/opus to build the opus extension

`git clone https://git.xiph.org/opus.git libopus` causes error `fatal: unable to access 'https://git.xiph.org/opus.git/': gnutls_handshake() failed: Error in the pull function.` on WSL Ubuntu 20.04.

[2021-01-17 10:43] giladna commented on #8399
@ojw28
I think this is more general question also for online

previously (before 2.12) Data source was given a parameter to DashMediaSource.Factory or HlsDataSource
but now with MediaItem approach there is no possibility to change DefaultDataSourceFactory headers in the MediaSourceFactoy after player was set
and the issue that in our case we might need to update the headers for each media playback

[2021-01-17 10:44] giladna commented on #8399
@ojw28
headers are configurable only for the DRM request I think that it might be needed for the media playback as well

[2021-01-17 13:23] punitagoel2403 commented on #8093
I moved the addview method from onScrollStateChanged  to onPlayerStateChanged method of exoplayer. By adding view in onscrollstatechanged it was trying to add the view at every fraction of second.

Second, I added handler, which keeps checking state of a variable if the view is not added then add the view, this way, the view gets added most of the times either via onPlayerStateChanged method, or b

[2021-01-17 21:53] ojw28 commented on #8470
This is because the opus repository seems to have moved. You need to use `https://gitlab.xiph.org/xiph/opus.git` rather than `https://git.xiph.org/opus.git`. We have updated our instructions in the `dev-v2` branch, in https://github.com/google/ExoPlayer/commit/d2950c2e973293d040abde7a76aca346789447d0.

[2021-01-17 21:53] #8470 closed, assigned to andrewlewis

[2021-01-17 21:58] ojw28 commented on #8399
This issue was about setting headers for download requests, which is tracked by https://github.com/google/ExoPlayer/issues/6166.

For playback, you still have the option of using the `MediaSource` based APIs rather than those based on `MediaItem`, if you need fine-grained control over request headers for playback.

[2021-01-17 23:18] ojw28 commented on #8400
This is not something we currently support. As per @marcbaechinger 's response above, supporting this is essentially a duplicate of #4727. Please follow that issue to see when support is added.

[2021-01-17 23:21] ojw28 commented on #7710
This is a duplicate of https://github.com/google/ExoPlayer/issues/4727.

[2021-01-17 23:21] #7710 closed, assigned to ojw28

[2021-01-18 00:01] ojw28 commented on #8350
It doesn't look like you're using the same key for all of the streams. Looking at the channel 1150 links provided, the 480p and 720p streams are not using the same key. To see which keys are used in the content for each buffer being queued to the decoder, you can add logging [here](https://github.com/google/ExoPlayer/blob/r2.12.3/library/core/src/main/java/com/google/android/exoplayer2/mediacodec/

[2021-01-18 00:01] #8350 closed, assigned to ojw28

[2021-01-18 02:05] #8355 closed, assigned to tonihei

[2021-01-18 08:35] lsgfly commented on #7873
When will this be fixed?

[2021-01-18 08:48] lsgfly opened #8471 "Cannot find sync byte. Most likely not a Transport Stream"
Issue description
I have an M3U8 file.
There will be a problem when it's played to 2:30

Link to test content
Can reproduce with this link
I will provide the m3u8 file.

Version of ExoPlayer being used
2.8.2
I also tested in the latest version

Device(s) and version(s) of Android being used
Vivo x50

A full bug report captured from the device
[code]

[2021-01-18 08:49] giladna commented on #8399
@ojw28  thanks

thanks for the response
I would expect that MediaItem will give me ability to change the headers for the URL of the same as it is for DRM license URL

I also noticed that all the external subtitles that are defined inside the media Item will not be available for use if I give the

mediaItem to the  MediaSourceFactory

So I have two code path for this now

It is on purpose?

Once th

[2021-01-18 08:50] lsgfly commented on #8471
[m3u8.txt](https://github.com/google/ExoPlayer/files/5828908/m3u8.txt)

[2021-01-18 08:51] lsgfly commented on #8471
This is the m3u8 file.
In order to play it, you need  set the  userAgent "Mozilla/5.0 (Linux; Android 10; V1936A; wv) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/62.0.3202.84 Mobile Safari/537.36"

[2021-01-18 08:52] masensio commented on #8366
Hi @tonihei,
The Subject mail is: Issue #8366
I hope you can see that. 🙏

[2021-01-18 08:54] giladna commented on #8399
@ojw28
I saw that you consider adding this behaviour
" I think a good first step would be to add requestHeaders to MediaItem.PlaybackProperties"

it is on work? I think this is exactly what we need for this.

[2021-01-18 08:59] SharanKumarReddyKambham commented on #8372
Hi,

@AquilesCanta any update on this,we are struck at this issue.

[2021-01-18 09:11] BucherTomas commented on #8373
Not sure if we are seeing the same issue, but we also have a couple of Xiaomi Redmi 9 devices (also their Note variant) that are unable to decrypt and play media, while others from the same device group work fine.

We asked our license provider and they said that the license request is using invalid signature, so possibly it is the same reason for OP's DRM provider. I sent the payload to dev.exopl

[2021-01-18 09:28] z423821123 commented on #8428
@andrewlewis can you have a look?

[2021-01-18 09:32] T-10001 opened #8472 "AC-3 and E-AC-3, DTS, TrueHD, ALAC, etc. exact seek not working or not playable even with FFmpeg extension"
I am playing an mkv file with 2 audio tracks: AC-3 and E-AC-3.

When the file is playing, I use the seek buttons with increment of 1000ms. The seek is not exact. It seems to jump. For example, if I seek forwards 1000ms from current playback position of 10 seconds, it jumps to new position of 11 seconds and then jumps back 1000ms again to position of 10 seconds.

It occurs for both audio tracks wit

[2021-01-18 12:23] knixer opened #8473 "Video player had error com.google.android.exoplayer2.ExoPlaybackException: MediaCodecVideoRenderer error"
The error message comes up sometimes when I try to access a video displayed in my Flutter application. I am using Chewie (https://pub.dev/packages/chewie) when rendering my videos. The video is an mp4 file and works most of the time.

Full error message:
`Video player had error com.google.android.exoplayer2.ExoPlaybackException: MediaCodecVideoRenderer error, index=0, format=Format(1, null, null,

[2021-01-18 12:31] RamilGabdrakhmanov commented on #4904
Hi! I tested and received latency around 3-4 sec! That is good! But, i tested with high speed connection.

I'm interesting in ABR manager and LL playback. Did you develop "Trial-and-error approaches" or "Falling back using the playback speed control to get a new bandwidth estimate in regular intervals" technics mentioned in [design doc](https://docs.google.com/document/d/1z9qwuP7ff9sf3DZboXnhEF9hz

[2021-01-18 12:33] RamilGabdrakhmanov commented on #5011
Could you add samples in demo app?

[2021-01-18 12:41] andrewlewis commented on #8377
@nbasbous The ad tag provided via email seems not to be returning any valid ads. Could you provide a new ad tag? Also, have you seen any changes of behavior with the latest (or recent) versions of the IMA SDK?

[2021-01-18 13:02] happysingh23828 opened #8474 "Playback error : Response code: 416"
There are some s3 video URLs that are opening fine on the web and mobile chrome. but on ExoPlayer it keeps retrying to connect with the server and in last it throws 416 response code.

It is happening only for 20 min + duration videos. URL starts with HTTPS and there is no redirection to HTTP. although I have added HTTP clearing traffic.

Logs
[code]

![Screenshot from 2021-01-18 18-22-55](https:/

[2021-01-18 13:06] Prateek-Kapoor opened #8475 "Observing black screen while switching ExoPlayer controls inside MotionLayout"
As per my requirement is I have to dock/move the Exo Player view from the top and the bottom right (not ribbon, but what youtube used to do a few years back). And once the player is docked we would have limited UI components only a play/pause button.

For achieving the scenario I am using MotionLayout providing the required dragDown animation and in the process, we translate and scale the player t

[2021-01-18 13:26] tonihei commented on #4904
@RamilGabdrakhmanov None of the two approaches actually. Playback will automatically fall back if the network speed isn't sufficient, so we will get new bandwidth estimates for slower networks and the player can switch down to a lower quality. But there is currently no mechanism to check whether switching up to a better quality is possible. We just rely on the bandwidth measurements we get from no

[2021-01-18 14:18] giladna commented on #8399
@ojw28
should I open an issue for that
1. missing headers modification support in MediaItem PlaybackProperties
2. if MediaItem is filled with external subtitles this data is not being used in case we give MediaItem to build the MediaSource

[2021-01-18 14:51] KarlGallagher commented on #8335
@marcbaechinger Thank you have the detailed explanation.

Closing this

[2021-01-18 14:51] #8335 closed, assigned to marcbaechinger

[2021-01-18 14:52] karlg-arris commented on #8335
Closed as answered

[2021-01-18 15:41] icbaker commented on #8399
Please open an issue for this - I'm not sure exactly what you mean from this description so you'll need to provide clear reproduction steps, possibly including sample media.

(I'll leave @ojw28 to comment on the other one)

[2021-01-18 15:51] ojw28 commented on #8399
We don't have any plans to deprecate the `MediaSource` based API. They're different APIs for different use cases (`MediaItem` for simpler use cases, `MediaSource` for cases where a greater degree of customization is required). We are considering adding request headers into `MediaItem`, but it's complicated for adaptive streaming because there are different types of requests being made, in some cas

[2021-01-18 16:47] ojw28 commented on #8474
Most likely the media is invalid, but without reproduction steps it's impossible to be sure. Please provide a link to test content that reproduces the issue, if you'd like for us to investigate further. You can do so by emailing `dev.exoplayer@gmail.com` if you'd prefer not to post publicly, although if you do this please also respond on this GitHub issue so that we know you've done so. Thanks!

[2021-01-18 17:39] ojw28 commented on #8471
@AquilesCanta - I can reproduce this easily with the demo app (tip of tree), but I can't work out what's going wrong. It looks like the failure occurs on different segments each time, which might suggest that the server is sporadically returning incorrect data. However, I tried repeatedly requesting one of the segments that I saw the failure occur on using my desktop machine, and the downloaded da

[2021-01-18 17:47] ojw28 commented on #8469
As you probably figured out, this is not something that ExoPlayer supports directly. The feature request that tracks adding support is https://github.com/google/ExoPlayer/issues/4021, however it's unlikely to be prioritized because the industry as a whole has shifted toward FMP4/CMAF.

We are unable to provide detailed implementation guidance. The research required to do so would probably be the m

[2021-01-18 17:47] #8469 closed, assigned to ojw28

[2021-01-18 17:49] ojw28 commented on #8469
It's also possible that your use case is a duplicate of https://github.com/google/ExoPlayer/issues/5804, rather than https://github.com/google/ExoPlayer/issues/4021. It was somewhat unclear to me, based on the description provided.

[2021-01-18 17:51] ojw28 commented on #8472
Hi! Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md). If you're unable to share [bug reports](https://developer.android.com/studio/debug/bug-report) or test content publicly, please send them to dev.exoplayer@gmail.com using a subject in the format "Issue

[2021-01-18 17:54] ojw28 commented on #8473
Please provide a complete bug report captured with `adb bugreport` shortly after reproducing the issue, as requested in the issue template. Thanks!

[2021-01-18 17:57] ojw28 commented on #8373
@rrfrias - Is the payload that @BucherTomas sent to `dev.exoplayer@gmail.com` useful for root causing this?

[2021-01-18 19:33] knixer commented on #8473
Hi, you can see the error in line 4 from the bug report I submitted.

[2021-01-18 19:48] Kamil-H opened #8476 "Make a call just before the playback"
What is the best way to make a call just before the playback starts?
I've got a use case where I need to make a call to the API for a content `mediaUrl` that contains stitched advertisement just before the playback (ad provider requirement).
Recently I'm migrating from the `ConcatenatingMediaSource` to new Playlist API. Before I was passing url that I wanted to call as a `MediaSource`'s url and th

[2021-01-18 19:57] ojw28 commented on #8473
If that's all Chewie is logging then I think you'll need to either:

1. Report the issue to whoever maintains Chewie, since they're not logging sufficient information for us to diagnose what happened (e.g., the full stack trace of the error). It's likely you'll need to ask them to turn on some more detailed logging.
2. Reproduce the issue using our [demo app](https://exoplayer.dev/demo-application

[2021-01-18 20:08] szaboa commented on #8435
@icbaker
I've checked out and it seems that only the v4+ "alignment" is supported. Here is the list of all the style attributes of v4 and v4+ from the specs. Do you see specific styles that would be very cumbersome to implement at first sight? E.g. thinking of "fontname", and "encoding"..

Style name | v4 | v4+ | Note | Format line support | Override support | PR
-- | -- | -- | -- | -- | -- | --
N

[2021-01-18 20:10] giladna opened #8477 "When creating MediaSource using createMediaSource(mediaItem) and it was populated with subtitles the player will not consider them as text tracks"
Hi,

Given MediaItem.Subtitle  list  is missing in playback text tracks  if the MediaSource is built from given MediaItem having the subtitles

When I was trying to explore the usage MediaSource instead of MediaItem for the Playback URL headers modifications

I have  populated the MediaItem playback params with the external subtitles.
I could not see that external subtitle in the tracks dialog whe

[2021-01-18 20:22] SetareMaghari commented on #8440
so is my code correct?

this are some logs that i get while playing, hope it helps you find the problem

V/StudioTransport: Handling agent command 1200 for pid: 4277.
V/StudioTransport: Handling agent command 1200 for pid: 4277.
V/StudioTransport: Handling agent command 1200 for pid: 4277.
I/OMXClient: IOmx service obtained
D/SurfaceUtils: connecting to surface 0x76c57fd010, reason connectToSurfac

[2021-01-18 21:30] ojw28 commented on #8477
`MediaItem` is immutable, so the line `mediaItems.get(0).buildUpon().setSubtitles(subtitleList)` isn't actually doing anything. If you're trying to replace the first item in the list with an item that has subtitles, you'd need to do something more like:
[code]
To check that the subtitles have been attached correctly, you can try attaching a debugger on the `player.setMediaItems` line and inspectin

[2021-01-18 21:30] #8477 closed, assigned to ojw28

[2021-01-18 21:39] ojw28 commented on #8476
An `Extractor` is a component that parses loaded data. It's not responsible for actually loading the data, and the `uri` argument that's passed to `DefaultExtractorsFactory.createExtractors` has no effect on where the data is loaded from.

The right place to be intercepting and modifying the URL is in `DataSource` components. We have documentation that I think covers your exact use case, [here](ht

[2021-01-19 01:28] ghost opened #8478 "Correct resolution but wrong rotation with API 29 x86 AVD"
Tested the same video in different devices, simply using `com.google.android.exoplayer2.ui.PlayerView` to display the video.

![a](https://user-images.githubusercontent.com/12015910/104977102-15804000-5a42-11eb-830b-4c377e9c2acc.png)
[code]

[2021-01-19 02:05] #8358 closed, assigned to christosts

[2021-01-19 02:42] grovertb commented on #8444
@AndresECG  Following the example of exoplayer I managed to reproduce the video dash with the links you attached and it works correctly for me.

[2021-01-19 03:10] AndresECG commented on #8444
The transmission is reproduced perfectly on mobile phones, the problem is in the emulators and some TV boxes... have you tried any of them?

[2021-01-19 05:45] happysingh23828 commented on #8474
@ojw28  I have downloaded the media and played from the local, it is playing. I guess it's more related to s3 links. as it throwing 416 status code,

as it is working in mobile chrome as well as in all browsers on the web and mobile,
![image (1)](https://user-images.githubusercontent.com/26920113/104992603-6c3c4880-5a47-11eb-9873-f0fd8c065a86.png)

[2021-01-19 06:35] giladna commented on #8477
@ojw28
I am afraid this is not the root cause I first tried updating it in the IntentUtil class  in the builder
then moved it to main activity for the readability
please check this

Even if we pass the the subs in the time the mediaItem it is not working

from IntentUtil
[code]
<img width="1231" alt="Screen Shot 2021-01-19 at 8 34 53" src="https://user-images.githubusercontent.com/16818804/1049968

[2021-01-19 06:40] giladna commented on #8477
@ojw28
I see but the issue is still there.
actually I first tried this on the IntentUtli.java where it is building the subs and moved it to the PlayerActivity for the explanation simplicity.

please check this:

[code]
I have changed the createSubtitlesFromIntent to build my subtitle

and this is the only code change in the PlayerActivtiy

[code]

<img width="1231" alt="Screen Shot 2021-01-19 at 8

[2021-01-19 08:03] RamilGabdrakhmanov commented on #4904
Thank you! That is clear
Do you have plans to develop something like [L2A](https://github.com/unifiedstreaming/Learn2Adapt-LowLatency) ?

[2021-01-19 08:20] knixer commented on #8473
Thanks, but I found some new debug information when the phone is directly attached to the computer:

[code]
Is this information helpful?

[2021-01-19 09:02] tonihei commented on #4904
We have no immediate plans to develop or implement a more advanced algorithm for this. It's also worth noting that we need to be careful to not over-specialize our approach here as it needs to work for all kinds of live streams with unknown combinations of bitrates etc.

[2021-01-19 09:46] ojw28 commented on #8477
Once you have a correctly built `MediaItem`, you should pass it to the player using `player.setMediaItem` and let the player build the `MediaSource` directly.

You don't need to build the `DashMediaSource` from the `MediaItem` directly, and this approach will not work with side-loaded subtitles because that use case needs more than just a `DashMediaSource`. If you let the player build the `MediaSo

[2021-01-19 09:52] ojw28 commented on #8474
As per my previous response, please provide a link to test content that reproduces the issue, if you'd like for us to investigate further. You can do so by emailing dev.exoplayer@gmail.com if you'd prefer not to post publicly, although if you do this please also respond on this GitHub issue so that we know you've done so. Thanks!

[2021-01-19 10:16] giladna commented on #8477
@ojw28
I am not sure what you find confusing in my sample.
I have replaced createSubtitlesFromIntent with my Subtitle  in The intentUtil
And was using the mediaItem to build the MediaSource and populate the player with the mediaSourece instead of the mediaItem

I cannot use MediaItem Directly.

I have to go through this MediaSource creation since I have to set my own headers.
I would love to have

[2021-01-19 10:36] Kamil-H commented on #8476
Thank you @ojw28 for your response. It definitely helps me understand the way it should be implemented.

I implemented a custom `Resolver` that is running my logic to get correct `mediaUrl` and I'm passing it like that:
[code]
I'm creating my `MediaSourceFactory` in a following way:
[code]
and I'm passing it to `SimpleExoPlayer`. When I'm adding some logs, I can clearly see that my logic is gettin

[2021-01-19 11:08] happysingh23828 commented on #8474
As URL contains very sensitive information we will be not able to share the data, I have observed that link which not working is getting redirected to the raw s3 path, but when we use raw path it is working fine, but when you put the masked layer, it is getting failed.

2nd thing is the range in request headers is setting out of range, our file size is 158 MB but the range in bytes going for 3.3GB

[2021-01-19 11:18] ojw28 commented on #8477
It's confusing because you don't ever provide a single code block that fully demonstrates the problem you're describing. The snippets provided are always partial and it's unclear what code is actually being executed in what order. Commented out lines of code add to this lack of clarity. Code samples are much simpler for us to understand if they're just a single block of contiguous code that reprod

[2021-01-19 11:18] andrewlewis commented on #8468
`getOutputImage` is documented to return `null` if you are rendering to a `Surface`. You'd need to use [`ByteBuffer` mode](https://developer.android.com/reference/android/media/MediaCodec#raw-video-buffers) to be able to use that (see the [javadoc](https://developer.android.com/reference/android/media/MediaCodec#getOutputImage(int)) on the return value), but we don't have any plans to support this

[2021-01-19 11:18] #8468 closed, assigned to andrewlewis

[2021-01-19 11:26] giladna commented on #8477
@ojw28
Got it,
The I am wondering  what is the benefit that we  need to give the mediaItem itself  to the createMediaSource and not using url in the deprecated api which build the media source?
the API actually forces to use MediaItem even if it is not a must.

What do I miss.

[2021-01-19 11:28] ojw28 commented on #8474
The player does appear to be requesting an invalid range, however it's not possible to say why this is happening without having a way to reproduce the problem. One possibility is that there was a previous request that returned invalid content, for example. Given you say that everything works fine without redirection, I would guess that the issue is most likely to be a server issue rather than an i

[2021-01-19 11:28] #8474 closed, assigned to ojw28

[2021-01-19 11:39] ojw28 commented on #8477
Ah right, yes, you do need a `MediaItem` to give to the non-deprecated `createMediaSource` methods, even when building a `MediaSource` instances outside of the player. So point (2) of my previous response wasn't really correct.

Point (1) still is correct though: If you need side-loaded subtitle support then you should use `DefaultMediaSourceFactory` rather than `DashMediaSource.Factory`. `Default

[2021-01-19 12:12] #8328 closed, assigned to icbaker

[2021-01-19 12:32] natario1 commented on #5011
Does this include support for both community and Apple LL HLS? It's not very clear from the design doc - it mentions both but then says that Apple implementation is going to take more work. Thanks!

[2021-01-19 14:00] tonihei commented on #5011
@natario1  Just Apple's version of LL HLS. If you specifically need support for the community variant, you might want to open a new issue to ensure it's tracked as a feature request. Happy to receive PRs for this as well :)

[2021-01-19 14:37] icbaker commented on #8435
The spec I linked above (https://github.com/google/ExoPlayer/issues/8435#issuecomment-756651245) seems to think that Underline, Strikeout, ScaleX, ScaleY, Spacing and Angle **are** supported in v4+. In fact are possibly only supported there and not in v4. Maybe those rows in your table are accidentally flipped? Or maybe I'm misreading the spec...

The `SsaDecoder` currently ignores v4 styling comp

[2021-01-19 15:10] szaboa commented on #8435
Yep, you are right, the Underline, Strikeout, ScaleX, ScaleY, Spacing and Angle are supported in v4+ only, and not in v4. I will correct the table.

Thanks for the tips, will definitely start with the easy ones.

[2021-01-19 15:29] Jack29913 opened #8479 "When will ANR on release solution be released?"
My app experiences ANR caused by release function. Discussed here: https://github.com/google/ExoPlayer/issues/4352
This commit which solves this issue hasn't been released yet. When can we except this commit be included?

[2021-01-19 17:59] andrewlewis commented on #8440
The provided log snippet doesn't have anything ad-related in it (some relevant tags: `IMASDK`, `ImaAdsLoader`, `AdTagLoader` and `EventLogger`). Please try what I suggested in my previous message and share all the relevant logging.

If you are worried about whether your app code might be causing the issue, I think the easiest way to check would be to load the ad tag in the ExoPlayer demo app. If t

[2021-01-19 17:59] #8440 closed, assigned to andrewlewis

[2021-01-19 20:59] AndresECG opened #8480 "Can't play a specific hls link"
### Code
[code]
The code works fine for all the links I've tried, but this one just doesn't want to work

- ExoPlayer 2.10.1

### Error showing when trying to reproduce the link

[code]

[2021-01-20 01:16] T-10001 commented on #8472
I have sent email to the dev.exoplayer@gmail.com with more details and test file.

[2021-01-20 03:14] zengqiang24 commented on #3751
@tangmingscau   Hi,  Have you find solution for ape format yet?

[2021-01-20 08:27] happysingh23828 commented on #8474
@ojw28  The issue is fixed by **increasing the read and connect timeout to 30 sec**, the default timeout is 8 sec.

[2021-01-20 09:06] ojw28 commented on #8474
I find it hard to understand how that could have an effect on 416 errors, but I'm happy you've solved your problem!

[2021-01-20 10:35] luohaohaha opened #8481 "How to reduce the playback latency of rtmp stream?"
When I play the rtmp stream, the latency takes about 6 seconds, I want to adjust it to about 2 seconds, so I modified the DefaultLoadControl, but it seems to have no effect。

But I found a very interesting problem during the test. If I push the stream first, and then ExoPlayer pulls the stream, the latency is about 4~6 seconds. If I use ExoPlayer to pull the stream and wait, and then push the stre

[2021-01-20 12:01] andrewlewis commented on #8431
I tried using the new ad tag provided via email but I didn't see any empty ad breaks and couldn't reproduce the issue.

I suspect you may be seeing the same bug as #8205, which was fixed in 2.12.3. Please could you try that release?

[2021-01-20 12:51] logituitrel opened #8482 "How to add Custom Headers in DRM key Request"
We have a requirement to pass headers into the drm key request for additional security.
Already tried with HttpMediaDrmCallback.setKeyRequestProperty as well as DefaultDrmSessionManager.Builder().setKeyRequestParameters, but the headers don't show up when we check the key request in charles.
Is this the correct api to use or are we missing something?

[2021-01-20 13:35] AquilesCanta commented on #7873
Thanks for your patience. I cannot provide any timelines, as there are other high priority tasks that need attention. I'm sorry for the delay.

[2021-01-20 13:51] vinodkputta commented on #8456
@ojw28  @andrewlewis We are facing this issue on the production app. Can someone please help us to fix this issue?

Thanks.

[2021-01-20 13:54] #8482 closed, assigned to ojw28

[2021-01-20 13:55] logituitrel commented on #8482
Done

[2021-01-20 14:58] nebyan opened #8483 "ExoPlayer Ima SDK Extension Offline Usage Stuck!!"
Hi ExoPlayer Team.
I have lived a problem when try to play ima url within exoplayer ima sdk extension

The case happens like that.
-I turn off the internet of the device
-I open the application that I want to play ima url.
-The app waits for response from Ima extensions for exoplayer. But it just stucks and never sends any logs.
-I turn on the internet and it plays ima urls in success
-Then I clos

[2021-01-20 16:34] devnullpointer opened #8484 "Initial buffering video progressbar still visible even when show buffering set to never"
When using a custom player layout with custom controller layout that removes the exo_buffering progress bar, and loading a video, the default "Buffering video" progress dialog is still visible on the initial loading of the video. after which it is no longer visible. I'm using a custom dialog in the onPlayerStateChanged method which shows up fine, only on initial loading you can see the default pro

[2021-01-20 16:52] ojw28 commented on #8483
Hi! Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md). If you're unable to share [bug reports](https://developer.android.com/studio/debug/bug-report) or test content publicly, please send them to dev.exoplayer@gmail.com using a subject in the format "Issue

[2021-01-20 17:43] ojw28 commented on #8480
This is not an ExoPlayer issue, but rather is a problem with the server's SSL certificate. There is a [specific FAQ about this on our troubleshooting page](https://exoplayer.dev/troubleshooting.html#fixing-sslhandshakeexception-and-certpathvalidatorexception-errors).

[2021-01-20 17:43] #8480 closed, assigned to ojw28

[2021-01-20 17:51] #8205 closed, assigned to andrewlewis

[2021-01-20 22:25] aedgar777 opened #8485 "No static method getLooper()Landroid/os/Looper; in class Lcom/google/android/exoplayer2/z1/k0"
Using the latest version of exoplayer:

[code]

The DefaultExoCreator class calls Util.getLooper() in createPlayer():

[code]

However, the UTIL class doesn't have that method, only

[code]

When I call play() on an ExoPlayable it crashes gives me the above error:

`java.lang.NoSuchMethodError: No static method getLooper()Landroid/os/Looper; in class Lcom/google/android/exoplayer2/z1/k0; or its su

[2021-01-21 01:03] J6ey commented on #8039
The inability to re-provision is especially an issue in different regions of the world like China. Phones made by their vendors are unable to access the correct provisioning URL for DRMs e.g., Widevine, hence the exception.

[2021-01-21 03:56] Prateek-Kapoor commented on #8475
Hello team, I request you to pls help me with this.

[2021-01-21 04:38] giangpham2811 commented on #8463
@ojw28 so instead of UI lib from Exo player, I implemented with my own custom exoPlayer and extend from simpleExoPlay, and now I want to get the duration and position of HLS stream while playing but it usually returns null or sometimes is minus.
![Screenshot from 2021-01-21 11-37-22](https://user-images.githubusercontent.com/47731369/105280740-11d4f080-5bdd-11eb-9f8e-d325a0d9d84c.png)
I got some s

[2021-01-21 05:13] MrLizhiguang opened #8486 "Exoplayer : Playback errorThanks. This seems to be a codec issue on these devices with the Exynos codecs."
[code]

[2021-01-21 06:07] anirudhramanan commented on #3327
Any update here ? We are also trying to solve for a similar use-case i.e to pre-fetch some segments of all the media items in the playlist

[2021-01-21 06:38] krackjack234 commented on #8431
Hi @andrewlewis , we checked the same ad tag with Exoplayer v2.12.3 but we still see the issue.
We have shared the attached logs over mail. We dont see any STATE_ENDED event coming if we scrub across multiple cuepoints where all cuepoints returns empty vast.

[2021-01-21 08:58] icbaker commented on #8039
I don't think the enhancement being discussed here would help in this case.

What we're discussing here is a way to force re-provisioning even after provisioning seems to have completed successfully (because the app is seeing DRM playback failures, despite apparently being provisioned, and it seems that in some cases re-provisioning can resolve them).

If the provisioning URL isn't reachable (as i

[2021-01-21 09:47] T-10001 commented on #8472
The FFmpeg extension appears to work (audio formats are playable and seek is exact although possibly slow) if I use Exoplayer version 2.12.2

[2021-01-21 10:06] andrewlewis commented on #8428
Thanks for reporting. Just after we report the seek position to the IMA SDK we get `CONTENT_RESUME_REQUESTED` then `CONTENT_PAUSE_REQUESTED` for the ad. The problem is that the first `CONTENT_RESUME_REQUESTED` is interpreted as a request to skip the ad by IMA extension, due to the workaround added to skip VPAID ads in #7832. I will revert that workaround and replace it with a more robust workaroun

[2021-01-21 10:09] andrewlewis commented on #7832
I need to revert this workaround as it caused the regression reported in #8428 but I plan to replace it with a different workaround that allows loading the VPAID ad to time out.

[2021-01-21 13:34] ojw28 commented on #8472
Are you saying that this no longer reproduces with new versions of ExoPlayer?

[2021-01-21 14:34] ojw28 commented on #8463
`Player.getDuration()` returns a primitive type, so it's not possible for it to be returning null. It can return `C.TIME_UNSET == Long.MIN_VALUE + 1` if the duration is unknown, as per the documentation. You can listen to `EventListener.onTimelineChanged` to be notified of changes in the player's view of the media, which may include the duration becoming known.

[2021-01-21 15:16] Kamil-H opened #8487 "UnrecognizedInputFormatException when DataSpec resolving to m3u8 format in ResolvingDataSource.Resolver"
I've got custom `ResolvingDataSource.Resolver` that is resolving URI to the stream (m3u8) media file. Unfortunately returning stream file from `resolveDataSpec` function results in the following exception:
[code]

Sample app that reproduces an error:
https://github.com/Kamil-H/ExoPlayer-Crash/tree/resolver_problem

`ResolvingDataSource.Resolver` implementation:
https://github.com/Kamil-H/ExoPlayer

[2021-01-21 15:16] Kamil-H commented on #8476
Closing as I opened a new issue here: https://github.com/google/ExoPlayer/issues/8487

[2021-01-21 15:18] ojw28 commented on #8485
`DefaultExoCreator` is not part of ExoPlayer. It sounds like it is not compatible with ExoPlayer version 2.12.3.

We do not guarantee API stability between versions, so `DefaultExoCreator` will need updating to work properly with the version of ExoPlayer that you're trying to use.

[2021-01-21 15:18] #8485 closed, assigned to ojw28

[2021-01-21 15:20] ojw28 commented on #8487
Duplicate of https://github.com/google/ExoPlayer/issues/8476. Please avoid fragmenting the discussion across multiple issues. Thanks.

[2021-01-21 15:20] #8487 closed, assigned to ojw28

[2021-01-21 15:23] Kamil-H commented on #8487
Previous thread was about "making a call just before playback", since this one contains an issue description and reproducible sample project, that's why I thought it makes sense to create a new ticket 🙂

[2021-01-21 15:30] ojw28 commented on #8476
`DataSpec` contains more information than just the URL. Your implementation is throwing away any other information in the `DataSpec`. In particular, I think this line is problematic:

[code]

Use `dataSpec.withUri(Uri.parse(advertisementUrl))` instead, to retain any other information in the original `DataSpec`.

Regarding replacing a progressive link with an HLS link, I don't think that's ever goi

[2021-01-21 16:30] ojw28 commented on #8484
The dialog in the screenshot is not part of ExoPlayer. We simply don't have any UI components that look like this. So whatever it is, it's coming from somewhere else, either in your application code or another dependency that you have.

Closing since this appears to be an application issue.

[2021-01-21 16:30] #8484 closed, assigned to ojw28

[2021-01-21 16:33] devnullpointer commented on #8484
@ojw28  The dialog in the foreground is my custom dialog. The dialog behind it with the circular progress indicator is YOUR dialog that is still visible even though the settings are set to NEVER and even the exo_buffering progressbar is not present (see the attached code for the styled player layout).

As stated in the ticket, that dialog with the circular progress indicator shows up on the INITIA

[2021-01-21 16:45] devnullpointer commented on #8484
@ojw28 I removed my dialog.
[Screenshot](https://ibb.co/X4sBzdy)

[2021-01-21 16:49] ojw28 commented on #8484
Where do you think this dialog comes from in the ExoPlayer code? I don't think we have any UI components that look like this. The string "Buffering Video" also does not appear to be present anywhere in our source tree.

[2021-01-21 16:55] devnullpointer commented on #8484
@ojw28 my apologies, seems like a rogue code that was not cleaned up. I had to track the string in the path to see where it was being applied. It was put in there by a colleague. You are correct.

[2021-01-21 17:00] ojw28 commented on #8484
No worries. By the way, there's no need for you to override the `StyledPlayerView` layout to remove the buffering spinner. The default behaviour of `StyledPlayerView` is that it never shows its buffering spinner. The buffering spinner will only be shown if you explicitly set `app:show_buffering` to something other than `never`).

I suspect you tried this because you thought that the dialog was par

[2021-01-21 18:59] devnullpointer commented on #8484
@ojw28 exactly. I wasn't sure where it was coming from so I overrode it. Thanks.

[2021-01-21 20:03] #8253 closed, assigned to ojw28

[2021-01-21 20:05] ojw28 commented on #8438
It's possible that the workaround submitted at the bottom of https://github.com/google/ExoPlayer/issues/8253 will fix this issue. Closing as a duplicate in any case, since additional information has not been provided.

[2021-01-21 20:05] #8438 closed, assigned to andrewlewis

[2021-01-21 20:07] ojw28 commented on #8427
Thanks for sharing the project! I am able to reproduce the issue. It actually looks like the same underlying problem causes these devices to fail ExoPlayer's test suite, as [documented here](https://exoplayer.dev/oems.html), so this is probably an easier thing to report to the manufacturer of the device. I will do that internally.

[2021-01-21 20:42] ojw28 commented on #8427
@icbaker - We have a bit of a problem, in that these devices don't fail ExoPlayer's test suite any more. This is because they've been added to `MediaCodecVideoRenderer.evaluateDeviceNeedsSetOutputSurfaceWorkaround`. I can't remember if we discussed this already, but I think we need a way of disabling workarounds for the GTS tests. Perhaps we should use it with caution initially, but disabling the

[2021-01-21 20:46] adaleydev opened #8488 "Seeking causes playback stuck buffering and not loading"
[Issue description]
When streaming using DASH, audio plays fine without seeking, but if seek occurs, then buffering fails and indicates "Target buffer size reached with less than 500ms of buffered media data." The audio will play again if you seek back to beginning.

[Reproduction steps]
Using Exoplayer Sample app, load the following url:
https://d274s1rljlgioj.cloudfront.net/test.mpd
It will play

[2021-01-21 21:33] Kamil-H commented on #8476
First of all, thank you for your time and response, I really appreciate that.
Is there any way to "instruct" `MediaType` that the passed `mediaUri` will resolve to `Hls` instead of `Progressive`? I would guess that maybe `setMimeType` should help, but I'm not sure what should I pass there.

[2021-01-21 21:47] tcudev opened #8489 "How to make complete Player clickable for VAST Ads"
Is there any option to get the click through link of the "learn more" button and somehow make the complete Player clickable?

I just want that the behaviour is the same as in a normal browser. If i click anywhere on the video it should open a browser with the url link and not only when i click on that tiny learn more label

I tried to use MadManPlayer which allows to customize the ad ui but it doe

[2021-01-21 21:56] ojw28 commented on #8476
If you know that your URL is going to resolve to an HLS stream, you should use `setMimeType(MimeTypes.APPLICATION_M3U8)`.

[2021-01-21 22:11] szaboa commented on #8435
Initial PR for "Primary Colour" is here #8490.

[2021-01-21 23:07] T-10001 commented on #8472
Don't know about all new versions of ExoPlayer. Have only tested with 2.11.4 where it doesn't work and 2.12.2 where it does work.

[2021-01-22 04:12] MrLizhiguang opened #8491 "Obtaining video duration is abnormal"
Personal guess is that the decoder reads the video duration (milliseconds) and decimals
Test address：https://ops-aiops.oss-cn-hongkong.aliyuncs.com/vod/311_620_Venom20184K_play.ts

[2021-01-22 05:17] MrLizhiguang commented on #8491
If the length is not available, all return -9223372036854775807

[2021-01-22 08:08] Kamil-H commented on #8476
It's working. Thank you for your advices and time.

[2021-01-22 08:47] Prateek-Kapoor commented on #8475
Hello team, Any help in this issue pls.

[2021-01-22 10:50] andrewlewis commented on #8489
The IMA SDK controls the behavior of the UI overlay on top of the player and would need to implement the behavior you're asking for, or provide a way for the app to trigger showing more info programmatically (I don't think this exists already), so please ask on their support forum: https://groups.google.com/g/ima-sdk/. If there's an API to enable this behavior then let us know here and we can add

[2021-01-22 10:52] #8476 closed, assigned to ojw28

[2021-01-22 11:48] ojw28 commented on #8491
Yes. This is [clearly documented in the Javadoc](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/Player.html#getDuration--):

[2021-01-22 11:55] MrLizhiguang commented on #8491
Yes, I see that this suspicion is caused by this reason. Is there a way to solve this? Mediaplay is normal

[2021-01-22 12:00] ojw28 commented on #8491
https://github.com/google/ExoPlayer/issues/5097 is tracking an improvement that would make ExoPlayer better at inferring the duration of MPEG-TS streams, so this issue is effectively a duplicate of that one.

That aside, if you have any control over the media itself, the best solution is to use a modern container format such as MP4 or MKV, which are better designed to support efficiently determini

[2021-01-22 12:00] #8491 closed, assigned to ojw28

[2021-01-22 12:06] MrLizhiguang commented on #8491
It is difficult to replace the container because the video is 4K, which is not conducive to network transmission

[2021-01-22 12:25] ojw28 commented on #8491
I do not understand what this means. The higher the resolution, the _worse_ MPEG-TS is as a choice of container (and the better MP4/MKV are, relative to MPEG-TS).

[2021-01-22 12:26] MrLizhiguang commented on #8491
Video needs to be sliced

[2021-01-22 12:29] ppodgorski opened #8492 "Every first ad in AdGroup is getting timeout"
### Issue description
With our adTagUrl (VMAP) every first ad in AdGroup is getting timeout. When I revert this commit: https://github.com/google/ExoPlayer/commit/fe754f313e8ddba5a77f149ee23f0082c1c2fea6 everything is working fine. I've emailed our adTagUrl to dev.exoplayer@gmail.com.

### Reproduction steps
Just switch "ad_tag_uri" in media.exolist.json to our custom adTagUrl and play.

### Link

[2021-01-22 12:44] ojw28 commented on #8491
Sorry, I do not understand what that means. MP4 and MKV are well suited to streaming of 4K content.

[2021-01-22 13:32] andrewlewis commented on #8492
The first ad in the ad group is 2 seconds long (it looks like an intro logo) and the player is stuck buffering presumably because the next media period can now be created (after fe754f3) but we don't get a URL to actually prepare it, and load control is not allowing playback to start with only two seconds of media buffered.

[2021-01-22 15:29] AquilesCanta commented on #8372
Hi, we won't be able to look into this until mid-February unfortunately. A few actionable items you can take on to push this forward:
- We would like to know a bit more how the content was generated. That is, could you provide us with instructions on how to generate similar content using shaka packager?
- I would also suggest generating equivalent content with a MacOS-supported DRM scheme, so as t

[2021-01-22 17:03] andrewlewis commented on #8492
Fix in review and this bug will be updated when it's on the development branch. Thanks for reporting the issue!

[2021-01-22 19:48] ronak2121 commented on #8488
This was an issue with our media. Closing.

[2021-01-22 19:49] #8488 closed, assigned to nobody

[2021-01-23 08:57] SetareMaghari commented on #8440
using these two links(from https://developers.google.com/interactive-media-ads/docs/sdks/html5/client-side/tags)  as an example, I get following logs below:

https://pubads.g.doubleclick.net/gampad/ads?iu=/21775744923/external/simid&description_url=https%3A%2F%2Fdevelopers.google.com%2Finteractive-media-ads&tfcd=0&npa=0&sz=640x480&gdfp_req=1&output=vast&unviewed_position_start=1&env=vp&impl=s&corr

[2021-01-23 11:52] needz opened #8493 "HLS Live stream not opening in ExoPlayer"
Stream not opening on any device in ExoPlayer, not tracks detected, hard to track issue, while works in VLC.

http://18.194.188.118/haramain3/haramain.smil/master.m3u8

- ExoPlayer 2.12.2
- Android 11
- Android ADT-3

Any possible workarounds?

[code]

[2021-01-23 15:44] tfrysinger opened #8494 "Not able to implement caching using 2.12.3"
Using exoplayer2 2.12.13
Using Android Studio 4.1.2
Using Samsung S7, Android 8.0.0

I have documented this issue in depth in a stack overflow entry here: https://stackoverflow.com/questions/64949205

I have also used the instructions here in my app: https://exoplayer.dev/customization.html to cache video streamed from Dropbox, and I get the same result - a 0 byte file created in the designated ca

[2021-01-23 18:19] ojw28 commented on #8494
I can't see anything obviously wrong with your code. Have you tried building against ExoPlayer as source code, and attaching a debugger (e.g., to step through `CacheDataSource` in order to understand what's going on)? I think that would be the best next step.

If you'd like further assistance with this then you'll probably have to provide a small sample app, as source code, that reproduces the iss

[2021-01-23 18:22] ojw28 commented on #8479
The change you're referring to will be released in `2.13.0`, which is targeted to some point in February.

[2021-01-23 18:22] #8479 closed, assigned to ojw28

[2021-01-23 18:28] ojw28 commented on #8493
This is a problem with the stream, where it declares an audio track that it does not actually contain. The media should be fixed to not declare this track.

Please see https://github.com/google/ExoPlayer/issues/6112 for an identical case, and for a workaround that allows this stream type to be played.

[2021-01-23 18:28] #8493 closed, assigned to ojw28

[2021-01-23 20:23] tanhan opened #8495 "Use actual chunk bitrate instead of average in ABR decisions to improve performance for VBR streams."
Hi,

In our experience ExoPlayer does not use lower bitrate even there is latency in downloading big chunks and this causes freezing and buffering. However the bandwith is 6 Mbit, because of VBR sometimes the size of one 2 second chunk differs from 1.5 MegeByte to 15 MegaByte. In our experience when there is increase in bitrate the player still tries to download next chunk using same bitrate inste

[2021-01-23 20:26] moneytoo opened #8496 "Specific mkv video fails with "ParserException: Error parsing vorbis codec private""
Trying to play this video http://streams.videolan.org/samples/Matroska/haruhi.mkv with ExoPlayer, it fails with following exception:

[code]

The same video plays just fine (both picture and sound) in system `VideoView`.

- ExoPlayer version number: 2.12.3
- Android version: 10
- Android device: OnePlus 7

[2021-01-24 11:05] mihirmodiofficial opened #8497 "External_CONTENT_URI not playing video (ver:2.10.6)"
[code]

[2021-01-24 13:04] tanhan commented on #8495
We are using default values of buffer sizes and track selection durations.

`private const val ADAPTIVE_MIN_DURATION_FOR_QUALITY_INCREASE_MS = 10000
  private const val ADAPTIVE_MAX_DURATION_FOR_QUALITY_DECREASE_MS = 25000
        private const val ADAPTIVE_MIN_DURATION_TO_RETAIN_AFTER_DISCARD_MS = 25000
        private const val ADAPTIVE_BANDWIDTH_FRACTION = 0.70f
        private const val ADAPTI

[2021-01-24 13:16] tiaragizka commented on #8350
@ojw28 Thank you for your support, we will retrace how we prepared our sources.

[2021-01-24 14:21] simline opened #8498 "Can't repeat when using MergingMediaSource for 2+ MediaSource"
code in Application class:

[code]

SRT time ~ 39 sec
MP3 time ~ 27 sec
MP4 time ~ 42 sec

when there is only a `videoUri` item, exoplayer repeat func works well, but when I add subtitle item or audio item and played after 1 time:

- with audio and subtitle: will got black screen, no sound, subtitle, video
- with audio: will got black screen, only sound
- both siutation: `onIsPlayingChanged` and `

[2021-01-24 14:23] tfrysinger commented on #8494
I pulled the code and started to do what you say - but it is so intertwined with other classes that it is a bit hard for me to know where to set breakpoints to walk through things.

Can you offer any guidance? Maybe ensure that the TeeDataSource in the constructor is getting initialized, then put breakpoints within that class on its read method (where the dataSink.write() occurs)?

[2021-01-24 15:16] ojw28 commented on #8494
A good place to start would be [`CacheDataSource.openNextSource`](https://github.com/google/ExoPlayer/blob/r2.12.3/library/core/src/main/java/com/google/android/exoplayer2/upstream/cache/CacheDataSource.java#L675).

Each call to that method decides whether to ignore the cache, read from the cache, or write to the cache. There are some inline comments that to some extent explain what each code path

[2021-01-24 15:22] ojw28 commented on #8497
Hi! Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md). If you're unable to share [bug reports](https://developer.android.com/studio/debug/bug-report) or test content publicly, please send them to dev.exoplayer@gmail.com using a subject in the format "Issue

[2021-01-24 18:08] SteveCrichton commented on #474
@stevemayhew

First of all, thanks for your work on this issue.  I thought I was going to have to generate mp4 files which contain only a single I-Frame and then manually load those into the player at intervals in order to enable scrubbing when fast forwarding and rewinding.  Doable but tedious to keep everything synchronized with my actual stream.  This is much cleaner.

Your suggestion for rever

[2021-01-25 04:22] SharanKumarReddyKambham commented on #8372
Hi @AquilesCanta ,

We are using the following command to generate the content  using shaka packager

[2021-01-25 05:32] mihirmodiofficial commented on #8497
As i updated my code make targetSdkVersion 30 i am getting External_CONTENT_URI from scoped storage that i am passing in mediasource  Pre targetsdkversion 30 its working and playing the video from local device storage. I am using exoplayer version(Please see below)  and also Previously i was using ExtractorMediaSource which is deprecated now whats the reason?

com.google.android.exoplayer:exoplaye

[2021-01-25 06:17] xuzh2017 commented on #8426
OK.thank you

[2021-01-25 06:17] #8426 closed, assigned to andrewlewis

[2021-01-25 06:34] zjamshidi commented on #8361
Sorry for my late reply. Since it imposes a long delay, we decided to ignore this exact seeking for now. If it becomes critical, we will check it later.
Thanks by the way

[2021-01-25 08:38] docwei2050 opened #8499 "huawei M3 crash"
hi, huawei M3 crash!!!
device:Huawei M3
android:6.0
version:2.12.0
log as follows:
[code]

I found the previous advices about this device, but I cannot do like this.
""
You can use a custom MediaCodecSelector and set it when you create the DefaultRenderersFactory:

[code]

So for your case the CustomMediaCodecSelector has to then select a software decoder if on the device in question. You could in

[2021-01-25 09:03] andrewlewis commented on #8440
I did some searching around and couldn't find any reports with the error `[ima.loader.AdXmlFetcher] Failed to load ad request URL. Error: Assertion failed: Expected instanceof Document but got Object.`. Those ad tags load fine for me in the ExoPlayer demo app, so I suggest you check they play for you in the demo app, and, if so, try to figure out what's different about how you are configuring play

[2021-01-25 09:08] andrewlewis commented on #8431
It looks like the ad tag has cue points after the duration of the content (there is a cue point at one hour, but the emailed logs show a duration of about 20 minutes). I'm afraid this is currently not supported. See #5534 for more information.

[2021-01-25 09:08] #8431 closed, assigned to andrewlewis

[2021-01-25 09:08] andrewlewis commented on #8431
Duplicate of #5534

[2021-01-25 09:24] ppodgorski commented on #8492
@andrewlewis Thanks a lot for the quick action!

[2021-01-25 09:42] #8361 closed, assigned to kim-vde

[2021-01-25 09:50] andrewlewis commented on #8456
Sorry for the delay getting to this. I added this sample to the demo app samples list:

[code]

... replicating the "MIDROLL test" item from the patch in the linked archive, but it played correctly in the demo app using the latest `dev-v2` version. Please could you try doing the same and checking whether the ad UI shows for you? Note: I didn't apply the cookie-related parts of the patch but I'm no

[2021-01-25 10:17] deepanshu-hh opened #8500 "Notification not visible after notify on Notification Tray (Android 11)"
I am using ExoPlayer in My application and using PlayerNotificationManager for notification building

Notification Player is not Showing on Notification Tray (Android 11):
-------------------------

When I am playing a media resource, the notification builder creates a Notification using notify() internally using a specific Notification Id and Notification Channel.

- But after notify the Notifica

[2021-01-25 10:28] sravan1213 commented on #8456
Thanks for the reply @andrewlewis

Have you checked the video I attached to repro the issue ?
We have to select side loaded subtitles from text tracks. I was able to reproduce 100% on 2.12.2 & 2.12.3

Cookie is not related to this issue :)

I'll check on dev branch and let you know. Thanks.

[2021-01-25 10:58] SepidehAkbarinezhad opened #8501 "how to add multi language audios in latest version of exoplayer"
hi
as I found in previous versions , to add language audio , we must create a format by calling "createAudioSampleFormat" and then making a mediasource by passing the foramt to createMediaSource() . finally call MergingMediaSource() to merge the mediasources . now ,I would like to know how to do this as I am using the last version of exoplayer , the createMediaSource() and createAudioSampleFormat(

[2021-01-25 12:00] ekamsoftwares-india opened #8502 "HLS live stream not playing"
Hi, I am trying to play various m3u8 streaming, but I am stuck with one URL:
https://radios-gt.cdn.nedmedia.io/radios/gt/galaxia.m3u8

Here is the error: /SimpleExoPlayer: Player is accessed on the wrong thread.

Please advise.

Thank you,
Bikram Sekhon

[2021-01-25 14:25] devnullpointer opened #8503 "Exoplayer 2.12, does not load local subtitle file."
Similar to issue #8057 When using a local file, it appears that the SRT or WebVTT is loaded because I get the options as indicated in this [screenshot](https://ibb.co/0q97RD9), unfortunately there are no subtitles displayed. If I provide a http:// protocol for a provided SRT or WebVTT file instead of a file:// protocol the subtitles options only display the language I've set, the "Unknown" is not

[2021-01-25 14:34] devnullpointer opened #8504 "Missing gzip decompression from subtitle parser"
When using OpenSubtitles as a provider for subtitles, they provide srt files in gzip format, unfortunately due to #8503 downloading and uncompressing them for local usage is not available and onlyt http:// based subtitles are only working.

Ideally checking the headers and using a GZIPInputStream to decompress the file would solve the issue.

The end result is as follows:
[code]

- ExoPlayer 2.12.

[2021-01-25 14:45] ojw28 commented on #8472
Given it works in the newer version, I think we can close this as being fixed already. Please let us know if the issue still reproduces on the latest version. Thanks!

[2021-01-25 14:45] #8472 closed, assigned to ojw28

[2021-01-25 14:49] icbaker commented on #8504
gzip compression should be handled fairly transparently either by the [Android platform](https://developer.android.com/reference/java/net/HttpURLConnection#performance) and/or by [DefaultHttpDataSource](https://github.com/google/ExoPlayer/blob/03263db378392385e290c40505d80e990c85a5cb/library/core/src/main/java/com/google/android/exoplayer2/upstream/DefaultHttpDataSource.java#L364-L384).

Can you p

[2021-01-25 14:54] devnullpointer commented on #8504
I logged into opensubtitles site and grabbed the link I just emailed, hardcoded it and got the following in the debug log:

[code]

[2021-01-25 14:56] icbaker commented on #8503
Are you able to reproduce the problem in the demo app? You can add subtitle URIs to the JSON sample format:
https://exoplayer.dev/demo-application.html#1-editing-assetsmediaexolistjson

I've often used sideloaded subtitle files stored in `/sdcard/` for testing and haven't seen any problems with accessing it from the demo app.

How is the video you're playing hosted (simple progressive container, D

[2021-01-25 15:03] devnullpointer commented on #8503
The video is loaded using a progressive container `mediaSource = new ProgressiveMediaSource.Factory(mediaDataSourceFactory).createMediaSource(MediaItem.fromUri(streamUri));`

Subs are loaded as
[code]

In the logs I don't see any mention about subs as I would if i was using a http one.

When I'm downloading the subs from OpenSubtitle I'm saving them as such:
[code]

and then passing `subtitleFile.

[2021-01-25 15:15] icbaker commented on #8504
Thanks for the link.

This file isn't being gzipped at the HTTP layer, so the HTTP response [1] doesn't contain a `Content-Encoding: gzip` header. This makes sense since the file is stored already gzipped, so its compressed before it reaches the HTTP serving layer, the server doesn't attempt to double-compress it (and even if it did, Android/ExoPlayer would only unzip one of the layers).

There's

[2021-01-25 15:15] #8504 closed, assigned to icbaker

[2021-01-25 15:19] devnullpointer commented on #8504
Thanks for the info, and I completely and fully understand the position taken. I will try to implement a datasource as you suggested to see if that helps, ideally if I could guarantee all the opensubtitles subrips are gzip'd that would make things a lot easier.

Thanks @icbaker

[2021-01-25 15:22] icbaker commented on #8503
What happens if before you pass it to ExoPlayer you just log the entire contents (or the first few lines) of the file to logcat? Just to check the file really is present and contains the textual content you expect.

Thanks! If you're able to reproduce and can share a plaintext subtitle file that I can put on my device to try and repro that would be helpful. It would probably also be helpful to gra

[2021-01-25 15:25] devnullpointer commented on #8503
I can dump the contents of the srt file into logcat and send you the output. Unfortunately I wont be able to get to it until later this evening.

[2021-01-25 15:39] #8450 closed, assigned to lcf87

[2021-01-25 15:40] AngelikaSahakyan commented on #8450
thanks for quick response
Solved

[2021-01-25 17:04] tanhan commented on #8495
ExoPlayer Version: 2.12.2

[2021-01-25 17:24] SetareMaghari commented on #8440
Thanks, ok i will check it with demo app and let you know the root of the issue.

[2021-01-25 18:10] shiv-u commented on #8254
Hi @icbaker , I'm also facing the similar issue if I use the aar file from my private maven repo but it won't occur if I use local AAR file (implementation file("/path/to/aar").
Gradle files :
[app_gradlefile.txt](https://github.com/google/ExoPlayer/files/5868638/app_gradlefile.txt)
[library_gradlefile.txt](https://github.com/google/ExoPlayer/files/5868640/library_gradlefile.txt)
[project_gradlefi

[2021-01-25 18:18] icbaker commented on #8254
@shiv-u that sounds to me like the same situation addressed in this comment: https://github.com/google/ExoPlayer/issues/6801#issuecomment-579164194

If you believe it's different to that issue, please file a new issue including a **complete** [minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-example) that demonstrates the problem in a way that we can build locally

[2021-01-25 18:20] shiv-u commented on #8254
Thanks for such a quick response @icbaker , so including dependencies in the pom file will resolve this issue ?

[2021-01-25 18:31] matheusccarvalho opened #8505 "Does anyone have an IPTV project focused on multicast udp?"
I am developing an IPTV application for android TV for my college project, in which the channels are reproduced by udp links, example: "udp: //224.2.2.2: 1234". Live channels must be .ts. I'm using android studio.

[2021-01-25 18:54] shiv-u commented on #8254
Thanks, it worked !!! This is the groovy block I used

[code]

[2021-01-25 19:53] maverick-sahil opened #8506 "com.google.android.exoplayer2.source.UnrecognizedInputFormatException with MP4 stream"
Trying to play mp4 stream from url
https://stage.example.com/api/media/play/med-cf7e41bf-4698-1234-xxxx-9b2f1?type=video/mp4 using media using `ProgressiveMediaSource` but getting

com.google.android.exoplayer2.source.UnrecognizedInputFormatException: None of the available extractors (MatroskaExtractor, FragmentedMp4Extractor, Mp4Extractor, Mp3Extractor, AdtsExtractor, Ac3Extractor, TsExtractor, F

[2021-01-25 20:19] keco1249 opened #8507 "Frame rendered incorrectly when switching to lower resolution on one of our devices."
This issue can be reproduced on `2.12.3` on android api level 24 with the demo app. To reproduce, you'll need to be able to slow down your network connection speed. From the demo app menu select `HLS` -> `Apple 4x3 basic stream (TS)` to start the video stream. Start with a fast network connection and then slow it down. After a bit the app should switch a lower video resolution. As it switches reso

[2021-01-25 22:04] devnullpointer commented on #8503
@icbaker  I put a breakpoint in my code to show you the location of the srt file after it was decompressed. [Here it is](https://ibb.co/hKmmPzg), and below is the logcat showing the first 10 lines of the srt file from the exoplayer activity. You can also see in the logcat that the subrip track was also loaded.

uri sent to the media source is "file:/storage/emulated/0/subtitles/\<filename\>.srt

a

[2021-01-25 22:14] devnullpointer commented on #8503
@icbaker I've also noticed a few times that I get an additional subtitle entry marked "Unknown" even though I only load 1 subrip track with one video stream. In Renderer 2 theres an cea-608 entry that shows up mysteriously, i presume its the progressive stream adding it?

example logcat:
[code]

[2021-01-26 01:49] arlimm318 commented on #8091
I found a way to solve the problem，I use C code to receive UDP streams and it adds a buffer，Caton's problems have improved markedly。

[2021-01-26 03:18] xifengyekai opened #8508 "A NullPointerException occurred in com.google.android.exoplayer2.ExoPlayerImpl$PlaybackInfoUpdate.timelineOrManifestChanged."
A NullPointerException occurred in com.google.android.exoplayer2.ExoPlayerImpl$PlaybackInfoUpdate.timelineOrManifestChanged.

logcat:
[code]

Confusion part：
[code]

[2021-01-26 03:29] tfrysinger commented on #8494
OK so I walked through openNextSource(). I verified it is using the cacheWriteDataSource (TeeDataSource). I also see that the "resolvedLength" is -1, what ramifications might this have?

isWritingToCache() returns true throughout.

nextSpan is being set via this:

 } else if (blockOnCache) {
            try {
                nextSpan = cache.startReadWrite(key, readPosition, bytesRemaining);

[2021-01-26 04:52] linhai326 commented on #8495
It seems your issue is more about network latency, not about bandwidth:
You can check how much time you spent on on making http connection.

The bandwidth meter calculate the estimated bandwidth based on the downloading/read speed. It doesn't include the time on connection.

[2021-01-26 08:51] Kimiar opened #8509 "MediaCodecVideoRenderer error, index=0, format=Format(1, null, null, video/avc, null, -1, null, [720, 1280, 29.969316], [-1, -1]), format_supported=YES"
To be honest, it is the first I use the ExoPlayer. And, a problem happened!
when the SimpleExoPlayer.stop() invoked, I want the screen(the SurfaceView) is pur black color, So, I did this.

      stopBtn.setOnClickListener(new View.OnClickListener() {
            @Override
            public void onClick(View v) {
                simpleExoPlayer.stop(true);
                simpleExoPlayer.clearVide

[2021-01-26 10:00] maverick-sahil commented on #8506
I was able to successfully test my stream on https://www.radiantmediaplayer.com/test-your-streaming-url.html but its not working in exoplayer

![Screen Shot 2021-01-26 at 3 27 35 PM](https://user-images.githubusercontent.com/3336776/105830226-41279b00-5feb-11eb-8e55-6f126ce7a510.png)

[2021-01-26 10:58] algrid commented on #7520
We also have this problem for videos from here https://podcasts.apple.com/us/podcast/ted-talks-daily-sd-video/id160892972

But it's device-specific, the crash report comes from a Moto g8 user.

[2021-01-26 10:59] andrewlewis commented on #8509
I think there's an Android platform limitation that once you've used a `Surface` for drawing from the CPU like this it can't be used as the output surface for a video decoder. See also #6454.

Your best bet is have a separate view with the background color. This can go on top of the surface view to obscure it until you want to show the video output (when the player triggers the `onRenderedFirstFra

[2021-01-26 10:59] #8509 closed, assigned to andrewlewis

[2021-01-26 12:25] kim-vde commented on #8496
This is indeed a bug. I will implement a fix.

[2021-01-26 13:34] devnullpointer commented on #8504
@icbaker thanks for the input, I wrote a custom DataSource Factory implementing OkHttpDataSource and wrote a GzipInterceptor for it. Works like a charm.

[2021-01-26 13:36] devnullpointer commented on #8503
@icbaker Also please not that when I select the language form the CC selector in the logs the Renderer:2 group shows an X on the subrip, but no subs are shown. Also as mentioned in #8504 the same subtitle shows fine when its provided via http.

[2021-01-26 13:54] gstepniewski commented on #8108
While this is happening, is there a workaround we can use for Pixel C, Nexus 7, and other affected devices? Is it possible to manually override the Widevine security level based on device model?

[2021-01-26 14:11] tanhan commented on #8495
I am not sure latency is the problem. Because making the connections is fast however downloading the big chunks takes some time. How is the download speed is calculated in this case?

I am trying to understand why is the player insisting on downloading big chunks on same high profile instead of lowering bitrate on this experience which causes an empty buffer as a result. Can high VBR cause this pr

[2021-01-26 14:25] marcbaechinger commented on #8502
You need to call methods on the player from the same thread that created the player. Please see the entry on the troubleshooting page of the DevGuide:

https://exoplayer.dev/troubleshooting.html#what-do-player-is-accessed-on-the-wrong-thread-warnings-mean

[2021-01-26 15:14] icbaker commented on #8503
I don't know what could be causing the problem - but it seems likely to me that it's related either to the way you're writing the file out or to storage permissions.

If you're able to reproduce the problem by hard-coding a local file URI in the demo app JSON (i.e. generate the output once and leave it, rather than generating it just-in-time), then please provide the **exact** file you used (fetch

[2021-01-26 15:20] devnullpointer commented on #8503
That is what is being returned when I do a .toURI().toString() from a File object. That actually might be the cause as the protocol is incorrect as you stated. I'll attempt run 2 tests on the app with the same srt file, one using the uri mentioned in the ticket (file:/) and the same file with a corrected uri protocol (file:///)

[2021-01-26 15:25] icbaker commented on #8108
You can force the device to use L3 by setting the "securityLevel" property to "L3" on the underlying MediaDrm object (like [this](https://github.com/google/ExoPlayer/blob/03263db378392385e290c40505d80e990c85a5cb/library/core/src/main/java/com/google/android/exoplayer2/drm/FrameworkMediaDrm.java#L419)).

You can achieve this from ExoPlayer by writing a custom `ExoMediaDrm.Provider` (you can probabl

[2021-01-26 15:26] marcbaechinger commented on #8505
There is a `UdpDataSource` available that is created by the `DefaultDataSource` automatically if you use a url with the `udp://` scheme like your example.

If you are asking for multicast udp streams in the ts format for testing, we can not provide these I'm afraid, but I leave the issue open in case someone else can help you some further.

Please let me know and add some details if I didn't under

[2021-01-26 15:34] marcbaechinger commented on #8501
You can not sideload an audio track to a video media source with a media item. But the old way of creating a `MergingMediaSource` programmatically is still possible and not deprecated. Something like the following snippet should do the trick:

[code]

[2021-01-26 15:38] marcbaechinger commented on #8506
Is the url `https://stage.example.com/api/media/play/med-cf7e41bf-4698-1234-xxxx-9b2f1?type=video/mp4` what you wanted to post? stage.example.com doesn't seem to be a resolvable host name.

Please provide us with a url to the stream you are trying to play, so we can test with your content.

[2021-01-26 15:43] marcbaechinger commented on #8507
What is the device on which you are seeing this? Are you seeing this on HLS/TS only or also with other adaptive format samples of the demo app?

[2021-01-26 15:49] marcbaechinger commented on #8508
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md). If you're unable to share bug reports or test content publicly, please send them to dev.exoplayer@gmail.com using a subject in the format "Issue #1234", where "#1234" should be replaced with your issue num

[2021-01-26 15:50] emilieroberts commented on #6045
This would be very helpful for verifying the correctness of exoplayer implementations in apps. For example, I am seeing decoding weirdness and it would be nice if I could quickly verify the behaviour between the demo app and my implementation.

[2021-01-26 16:05] kim-vde commented on #8496
I added the fix to the [dev-v2](https://github.com/google/ExoPlayer/tree/dev-v2) branch. It will be added to the [release-v2](https://github.com/google/ExoPlayer/tree/release-v2)  branch in a few weeks, when ExoPlayer 2.13 is released.

[2021-01-26 16:06] #8496 closed, assigned to kim-vde

[2021-01-26 16:10] marcbaechinger commented on #8499
If you tried the workaround you are posting above and it works, that sounds like great! :)

For more ideas I think we need a bit more information. Is there a full stack trace that reports in detail what is going wrong? The two lines with an E/ in the logcat may not be enough to evaluate the problem and guessing whether there is a workaround. Agreed that it may be a problem with the device codec.

[2021-01-26 16:21] tfrysinger commented on #8494
OK so here is a little more info:

I put a breakpoint in CacheDataSource.open(). At that point, this.ignoreCacheForUnsetLengthRequests returns false, however the dataSpec passed in returns true from dataSpec.isFlagSet(FLAG_DONT_CACHE_IF_LENGTH_UNKNOWN), and this ultimately is the problem I think.

It looks like that CacheDataSource.open() is called from StatsDataSource.open(), which in turn was ca

[2021-01-26 16:42] avhetman opened #8510 "AudioChannelConfiguration metadata is not parsed from the manifest correctly."
According to the DASH specification 4.3 the `AudioChannelConfiguration` could either be a sibling of Representation or a child of it. In the DashManifestParser.java it is properly parsed from the manifest when it is a child of Representation or when the `AudioChannelConfiguration` element appears in the adaptation set before the Representation element, otherwise, when the Representation is before

[2021-01-26 17:33] marcbaechinger commented on #8498
This works for me with the code below. Please make sure that you pass the video source is passed as the first source argument of the `MergingMediaSource`. Internally the `MerginMediaSource` uses the timeline of the first source passed to the constructor as the main timeline that is used. I recommend to use the video source as the main source (first source argument) to avoin unintended behaviour.

[2021-01-26 18:02] marcbaechinger commented on #8510
Yeah, that's probably correct by spec, practically a bit cumbersome to parse. I haven't found 4.3 and the expression `sibling` but I found something like:

[code]

Arguably, for an event-based parser that does not load the entire DOM into memory, the term `if not present in AdaptationSet element` could mean `present in AdaptationSet at the moment when the Representation element appears`. If that i

[2021-01-26 21:22] avhetman commented on #8510
In case it helps, here is the link to the AudioChannelConfiguration guidelines/constraints: https://dashif-documents.azurewebsites.net/DASH-IF-IOP/master/DASH-IF-IOP.html#audio-constraints

`The AudioChannelConfiguration element SHALL be present either on the adaptation set or representation level (but not both).`

Looks like they use "levels" instead of "child/sibling" as I had mentioned, however

[2021-01-26 21:24] rrfrias commented on #8373
Thanks for this information. We are tracking this issue (internal ref: 151266089). The license request is incorrectly signed by the TEE (Trusted Execution Environment). We have had reports of this on other Xiaomi devices as well (Redmi Note 8 and Note 8 pro).

We are working with Xiaomi, but one part that has been hindering progress is being able to reproduce this internally. We understand that re

[2021-01-26 21:55] ojw28 commented on #8494
What type of content are you streaming? If these are just regular media files, then it's unusual for the server to not be including a `Content-Length` response header, which is what would normally prevent the length from being resolved. Note that this omission would also prevent client features such as calculating the percentage of a large file that's been downloaded (unless the file size were pro

[2021-01-26 22:02] Stonos commented on #8373
Unfortunately the DRM provider wasn't able to provide us with any additional information.

We've also had reports with some Redmi Note 8 Pros not working, but we didn't manage to receive a bugreport to confirm if it's the same issue. Sounds like it is.

This is interesting! Does provisioning take place after you login with a Google account? Could affected users solve this issue by logging out and

[2021-01-26 22:54] tfrysinger commented on #8494
Oliver - 

I'm streaming a standard mp4 file.

I think the issue may be that I'm using a custom Storage Access Framework DocumentsProvider to handle the content Uri being given to Exoplayer. This SAF provider uses a Dropbox token with the Dropbox APIs to stream content back when the SAF API openDocument() gets called within Android's content provider/resolver framework. Here is the relevant code f

[2021-01-26 23:05] ojw28 commented on #8494
Oh right. I found https://github.com/google/ExoPlayer/issues/4551#, and it seems like this is the same problem, and that my response there still applies.

* https://github.com/google/ExoPlayer/issues/4551#issuecomment-480438438 sets out what ExoPlayer requires when reading data.
* https://github.com/google/ExoPlayer/issues/4551#issuecomment-487784460 suggests an approach that you could probably us

[2021-01-26 23:10] tfrysinger commented on #8494
Can you confirm that if I remove that flag and the cache fills up, that Exoplayer will switch to just streaming and won't cause a problem with the cache (other than it would be full)?

[2021-01-26 23:13] tfrysinger commented on #8494
I just made the changes in my InTouchCacheDataSourceFactory class that you suggested (at least - I think I did) and it worked well - is this how I should be doing it? Or is there a more streamlined way to "chain" DataSources?```

    @Override
    public DataSource createDataSource() {
        CacheDataSource dataSource = new CacheDataSource(InTouchUtils.getMediaCache(),
                defaultDat

[2021-01-26 23:19] ojw28 commented on #8494
ExoPlayer allows caching of unknown length requests in some other use cases, since the reasoning for disabling this in `ProgressiveMediaPeriod` is specific to `ProgressiveMediaPeriod`. So the caching components (e.g., `CacheDataSource` / `SimpleCache`) do support this, and you should find that it works fine if you simply remove the flag. The approach you've posted above looks like the right way to

[2021-01-26 23:19] #8494 closed, assigned to ojw28

[2021-01-26 23:25] tfrysinger commented on #8494
Vis a vis 4551 - which comment (I totally forgot we previously had this conversation!) are you referring to? I notice you did say this:

"I don't really follow the logic here. You have the content:// URI from SAF, and you also have FileMetadata including the content length. There are options for exposing the content to ExoPlayer other than just directly passing the content:// URI. For example, you