[2017-01-30 21:17] ojw28 commented on #281
Fixing the initial selection is now tracked by https://github.com/google/ExoPlayer/issues/2353. Let's use that issue for tracking. Closing this one.

[2017-01-30 21:17] #281 closed

[2017-01-30 21:17] Duna commented on #2390
Thanks for the clarification

[2017-01-30 21:42] Jogan opened #2394 "Support playlists of DRM Protected Content with different DRM License Urls?"
Is there any documentation for how to handle playing a list of drm protected content each with a dynamic license url (i.e. https://www.somewidevineurl.com/videos/{{video-id}}/)?

Playlist:
- Video1 :  https://www.somewidevineurl.com/videos/1/
- Video2 :  https://www.somewidevineurl.com/videos/2/
- Video3 :  https://www.somewidevineurl.com/videos/3/

I am using the StreamingDrmSessionManager and th

[2017-01-30 21:49] ojw28 commented on #2394
This is on our todo list, but is not something we currently support. Isn't the video id normally retrievable from the body of the key request? In which case one option would be to have a single license URL and have the server get the video id from the request body.

[2017-01-30 21:53] Jogan commented on #2394
I'll look into the server option, otherwise is the only way to release the player and then re-initialize it with the next item in the playlist? I guess I'll have to manually handle the playback for the playlist as well rather than using the ConcatenatingMediaSource.

[2017-01-30 21:55] #1542 closed

[2017-01-30 21:58] ojw28 commented on #591
We've never been able to reproduce this issue. It's most likely something has put the device into a bad state, and the mediaserver isn't robust enough to recover.

If you're able to provide reliable reproduction steps using the ExoPlayer demo app then please update this issue, including a full bug report (captured with `adb bugreport`, *not* just `adb logcat` log output). Else I think we'll have t

[2017-01-30 21:58] #591 closed

[2017-01-30 21:58] b77x opened #2395 "Controls events and timeout"
Issue 1:
Just run the demo application, and hold the finger on the pause button and wait for it to hide. Now release. The event will be fired and the video will pause, even though the button was not visible.

My solution and issue 2.
I tried to fix on my custom view by trying to extend the timeout time to a long time and set it back to 5 second when tapup, so it would not hide while the user has n

[2017-01-30 21:59] ojw28 commented on #1468
@wvpaf - Did we ever hear back from the OEM? If not, please add the "wont fix" label and close, since I don't think there's anything we can do to fix this in ExoPlayer.

[2017-01-30 22:05] ojw28 commented on #2395
Seems like a very minor issue. @marcbaechinger - We should probably prevent the controls from hiding whilst the user is interacting with them, and time the hiding of the controls from the point at which the touch ends.

[2017-01-30 22:06] ojw28 commented on #2394
That's correct until we add support (we don't have an ETA, but we're aware of the fact we're not adequately supporting this use case).

[2017-01-30 22:09] ojw28 commented on #1782
@AquilesCanta - Can we close this as fixed in 2.2.0?
@adnanutayim - Any JWPlayer issues should be reported to JWPlayer. We have no control over what version of ExoPlayer they're using and of any local modifications they make, so cannot provide direct support.

[2017-01-30 22:12] ojw28 commented on #1657
In ExoPlayer V2 you can implement your own `TrackSelection` and use it in place of `AdaptiveVideoTrackSelection`. In your implementation you can choose to switch quality faster if you wish to do so. You can configure ExoPlayer V2 to use your custom implementation by passing a `TrackSelection.Factory` to the `DefaultTrackSelector` constructor that instantiates instances of it.

[2017-01-30 22:12] #1657 closed, assigned to nobody

[2017-01-30 23:39] farshid1 opened #2396 "Merged media in a playlist randomly stops playing unless manually seek"
[bugreport.txt](https://github.com/google/ExoPlayer/files/740784/bugreport.txt)
So in my application, user can select different languages. Based on user preference I use different audio files to be merged with video files. Now, once the playlist starts playing the merged tracks, it randomly stops playing if the seekbar stops "buffering". I then have to manually touch the seekbar so it starts playi

[2017-01-31 00:57] ojw28 commented on #2396
The most important piece of information we need here is exactly how you're building the MediaSource from the 9 files you provided via email (there's no MergingMediaSource anywhere in the sample code provided above). Can you please provide exact code for constructing a MediaSource out of the 9 files provided that will reproduce the issue?

[2017-01-31 04:33] rustyshelf commented on #2316
@ojw28 awesome!

[2017-01-31 06:58] shailesh2208 opened #2397 "Change style display of closed caption during runtime"
I need requirement to change the following property of closed caption during runtime:-
            FontColor
            FontSizeScale
            FontBackgroundColor
            FontBackgroundOpacity
            FontOpacity
            FontEdgeType
            Typeface
How can we change above property during runtime and can it possible to meet my all above requirement?

[2017-01-31 07:23] farshid1 commented on #2396
Yeah sorry about that. You're absolutely right. here's the method that builds the MergingMediaSource:
[code]
Hope it helps

[2017-01-31 07:24] michaelstrigy commented on #2392
@ojw28 the video shown is needed to be displayed on a different shape and rotation, so unity should change them exactly when the video is changed.
if the change of video shown on surface and shape are not at the exact same time you will see a glitch in the video..

[2017-01-31 09:23] andrewlewis commented on #2300
I'm not sure I have enough information about what sort of streams are being played to address this properly, but maybe this will be useful anyway:

I assume you're not trying to play audio. Here are some (untested) suggestions on what to try: you probably want to make sure the players buffer for as little time as possible, so you could try setting the player's buffer size to zero ([minBufferMs/min

[2017-01-31 09:23] #2300 closed, assigned to andrewlewis

[2017-01-31 09:47] MizzleDK commented on #2265
I can confirm that it's fixed with the Android TV 7.0 update.

[2017-01-31 10:18] AquilesCanta commented on #2358
No e-mail was received. Are you sure you sent it? Make sure you include the issue number in the subject.

[2017-01-31 10:25] jayachandrak commented on #2358
Sent e-mail again

[2017-01-31 10:29] ojw28 commented on #2396
I think this is an issue with MergingMediaSource/MergingMediaPeriod, where the following sequence happens:

1. Child A stops loading and calls onContinueLoadingRequested. This request is bubbled up to ExoPlayerImplInternal.
1. ExoPlayerImplInternal calls continueLoading on the MergingMediaPeriod. Child B is furthest behind, so the load is routed to Child B.
1. Child B finishes loading.

Step (1) a

[2017-01-31 10:37] AquilesCanta commented on #2358
I'd say "actually sent e-mail this time". I will have a look.

Edit: Nope, you had actually sent it. Since it didn't include the information requested information in the issue template it got archived. Thanks for the patience!

[2017-01-31 10:44] replystreamingwidevine commented on #2380
Full bug report sent via mail to dev.exoplayer@gmail.com. Apk to reproduce already shared for ticket #2334

[2017-01-31 10:46] ojw28 commented on #2397
If you're using `SimpleExoPlayerView` you can get the `SubtitleView` by calling `simpleExoPlayerView.getSubtitleView()`. Once you have that view, there are a bunch of methods you can call on it to change the font and style. See the [documentation here](https://google.github.io/ExoPlayer/doc/reference/com/google/android/exoplayer2/ui/SubtitleView.html), in particular methods like `setStyle`.

[2017-01-31 10:46] #2397 closed, assigned to nobody

[2017-01-31 11:16] AquilesCanta commented on #1782
This issue should remain open to track a default player behavior on BLWE.

An update: We have done some work to fix spurious errors actually caused by falling behind the live window. I am not sure those were affecting you guys, but still. The demoplayer now reinitializes the media source when a BLWE is thrown(d303db975ed770528e5b51a243c5023a54c8ec6e). For now, this is what you should do when you g

[2017-01-31 12:01] aka-awasthi opened #2398 "Play subclip of video from url in android exoplayer"
Hi, i want to play  subclip of particular video by providing starttime and endtime (I am Using MPEG DASH streaming)  ,how can i achieve this functionality in exoplayer ,android.Is there any api provided by exoplayer library (Any example or piece of code).I stuck at this problem for 2 days ,I didnt find any resources of references related to this problem.

[2017-01-31 12:03] ojw28 commented on #1988
It will be available in 2.2.0.

[2017-01-31 12:03] ojw28 commented on #2398
See https://github.com/google/ExoPlayer/issues/1988.

[2017-01-31 12:03] #2398 closed, assigned to nobody

[2017-01-31 12:09] AquilesCanta commented on #2358
Can you please provide a bugreport? Looks like device specific.

[2017-01-31 12:10] jayachandrak commented on #2358
here is the log file
https://github.com/google/ExoPlayer/files/723047/exoplayer.txt

[2017-01-31 12:14] AquilesCanta commented on #2358
That is the logcat output. What I need is a bugreport: [Look here.](http://stackoverflow.com/questions/26789107/how-to-write-an-android-bug-report-to-a-file-via-adb)

[2017-01-31 12:51] jayachandrak commented on #2358
Here is the bugreport
[bugreport.txt](https://github.com/google/ExoPlayer/files/741964/bugreport.txt)

[2017-01-31 13:47] AquilesCanta commented on #2358
Could you please clarify a bit what the issue is? I have been able to reproduce the stream in three different devices turning on random adaptation seemingly without issues. How noticeable is the frame drop and what does

mean? I don't have access to the mentioned device. Have you been able to reproduce in another device? Also, considering

Have you made sure that, when playing with the default pla

[2017-01-31 14:15] jayachandrak commented on #2358
Sent video file to the email

[2017-01-31 14:35] Oleur commented on #2383
I sent you an email with a link where you will be able to download the sample app with our plugin. You will be able to reproduce the issue by running the sample app (steps are described in the mail).

If you need anything else, please let me know!

Thanks!

[2017-01-31 14:42] AquilesCanta commented on #2033
This is most likely a duplicate of #1978. Shouldn't be reproducible in the last version of Exoplayer. Please reply to this issue if this is not the case. Confirmation would also be appreciated.

[2017-01-31 14:42] #2033 closed, assigned to AquilesCanta

[2017-01-31 15:11] AquilesCanta commented on #2358
I noticed through the provided bug report that you don't seem to be using exoplayer but rather a wrapper. Have you tried reproducing in the exoplayer demo app? It would be good if you tried the last release version: 2.2.0 at the time of writing. Kindly provide the bugreport for this as well, please.

[2017-01-31 15:18] jayachandrak commented on #2358
I have tried with demo app as well with version 2.1.1

On 31-Jan-2017 8:42 PM, "Santiago Seifert" <notifications@github.com> wrote:

[2017-01-31 15:37] ojw28 commented on #2383
I couldn't see anything obviously wrong, but the app you've provided is pretty complicated and it's not realistic to expect us to fully understand and debug it. I did a quick test modifying the ExoPlayer demo app to use `setVideoSurface(new Surface(surfaceTexture))` and it appears to work fine, so I still think this is an issue with your application code. You can find my test modification [here](h

[2017-01-31 15:37] #2383 closed, assigned to nobody

[2017-01-31 15:43] ojw28 commented on #2383
By the way, the surface definitely appears to be passed to the video renderer. The renderer appears to initialize the codec and the logs don't indicate any failures. So if I had to guess I'd say it's more likely than not that the video frames are being rendered to the surface provided, and that it's either the wrong surface, that it's not being rendered properly in the 3D scene, or that it's someh

[2017-01-31 15:47] Oleur commented on #2383
Thanks for your answer and hints! I will keep you up to date if I find anything new.

[2017-01-31 15:50] AquilesCanta commented on #2358
Please read the issue threads #678, #488, and related. One of them explains how to blacklist decoders. Try blacklisting OMX.amlogic.avc.decoder.awesome, and see what happens. An alternative is checking what decoder MediaPlayer is using. It's likely that a software decoder is also available.
In any case, I would also suggest you follow up with the manufacturer of the device. I cannot reproduce the

[2017-01-31 16:25] aleian84 commented on #2265
Thank you guys.

I use exoplayer r1.5.14 and I have the following exception when I try to play any encrypted playready content :

01-31 17:16:43.720 4037-6217/it.infinity_atv E/MediaDrm-JNI: Illegal state exception: Failed to get key request (-2147483648)
01-31 17:16:43.721 4037-6217/it.infinity_atv E/ExoPlayerImplInternal: Internal track renderer error.

[2017-01-31 16:42] boulaycote commented on #2300
Precision: Stream is MPEG-TS over UDP.

I have achieved near perfect synchronization by lowering the buffer size to the bare minimum. Rebuffering, following your advice, happens very infrequently. I could not go around making every frame a keyframe as out of order packets is too frequent and blocking is too apparent.

Question: Devices are connected through ethernet to the video source, is 10 Mbit

[2017-01-31 16:56] andrewlewis commented on #2300
Glad to hear you were able to get the devices synchronized.

Regarding the bitrate: 10 Mbit/s sounds like a relatively high bitrate for a mobile application, but if this is a kiosk-style use case where you can choose the device(s) and test them then it probably doesn't matter. If you increase the bitrate to get better quality, playback as a whole will gradually get more computationally expensive (

[2017-01-31 19:04] Jogan opened #2403 "Allow the app to override the start position when playback transitions to another source"
I have two sources in a concatenating source and would like to seek to a specific position once the first source has finished playing. Should I make use of onTracksChanged()? or is there a better solution?

[2017-01-31 21:07] ojw28 commented on #2396
An easy way to fix this is to modify the ExtractorMediaPeriod.onLoadCompleted method [here](https://github.com/google/ExoPlayer/blob/r2.2.0/library/src/main/java/com/google/android/exoplayer2/source/ExtractorMediaPeriod.java#L340) to be:

[code]

Which is just adding the last line to the end of the method.

[2017-01-31 22:11] wvpaf commented on #1468
We have not. Sorry.

[2017-01-31 22:11] #1468 closed

[2017-01-31 23:17] wvpaf commented on #2373
@erenbakac, the error indicates the license request is too large for this device.
Can you try a license request with fewer optional parameters in getKeyRequest for this device?
Starting in Android N this should not be an issue.

[2017-01-31 23:31] wvpaf commented on #2009
There does seem to be a few issues with the Exynos chip based devices. The OEM has investigated and believes they have a fix. however we do not have any details on the fix, what the defect/solution is, nor what version of the software with the fix.

Do you observe the macroblocking with the widevine exoplayer test content?

[2017-02-01 04:03] farshid1 commented on #2396
While I am trying to wrap my head around your previous comment, I tried your solution and it worked perfectly.

[2017-02-01 07:03] bbincybbaby opened #2404 "Playing local mp3 using Exoplayer causing this error"
Source error.

[code]

Playing local mp3 using Exoplayer causing this error

[code]

[2017-02-01 07:57] satohu20xx opened #2405 "Playback failed to return message "AudioTrack write failed : -32""
An error code of -32 is returned with playback failure. I confirmed the error code but there is no number of -32, what is the cause?

[code]

[2017-02-01 09:00] gabbimark opened #2406 "Neither surfaceView nor Texture View works 100 percent with exoplayer"
Hi i have done a lot of research on this by going through the forums and trying different approaches in my code.
- If i use surfaceview, then videos are rotated 90 or 270 degrees on preLollipop devices  See: https://github.com/google/ExoPlayer/issues/91
- If i use textureview i am experiencing where video playback as not as smooth as texture view and choppy on many older devices. Also there is no

[2017-02-01 09:08] andrewlewis commented on #2404
Looks like the other issue you filed (#2359). We need the problematic media to investigate, as requested in the issue template.

[2017-02-01 09:11] andrewlewis commented on #2403
Wrapping the second source in a ClippingMediaSource should work for this. See #1988 for more info.

[2017-02-01 09:22] aleian84 commented on #2265
Hi guys,
only to give an update to you.

My problem is in the manifest. Now I have produced a new manifest an all work correctly.

Thank you for the support.

[2017-02-01 10:46] shailesh2208 opened #2407 "Font color of subtitle is not changing using CaptionStyleCompat"
My requirement is to change the font color of Closed caption sub title text. For fulfill requirement I am using
[code]
As per above method my subtitle font color should be black. but still it is default color that is white where as background color has been changed from black to blue.
Why font color is not changed to black from its default color? I am also changing different color of first and sec

[2017-02-01 11:25] ojw28 commented on #2407
It depends a bit on the source media. If the media doesn't say anything about the caption style, then what you've done should work fine. If the media explicitly indicates a caption style, then anything it indicates takes priority by default. Given what you're seeing, I suspect the media has an explicit embedded caption style that specifies white text.

You can disable application of embedded capti

[2017-02-01 12:15] shailesh2208 commented on #2407
Hi ojw28,
Using `simpleExoPlayerView.getSubtitleView().setApplyEmbeddedStyles(false)` It is working now. Thank u so much for suggestion.

[2017-02-01 12:19] #2407 closed, assigned to nobody

[2017-02-01 13:01] Jogan commented on #2403
I still want to be able to seek back to a previous position in the second
source. The initial position is just where the user left off last time.

On Wed, Feb 1, 2017, 4:11 AM Andrew Lewis <notifications@github.com> wrote:

[2017-02-01 16:09] andrewlewis commented on #2403
We have a way to do this with [Timeline.getDefaultPositionUs](https://github.com/google/ExoPlayer/blob/f276eb2/library/src/main/java/com/google/android/exoplayer2/Timeline.java#L319) but it's not convenient to use at the moment unless you have a custom MediaSource where you can update the Timeline when the desired start position changes.

I'll mark this as an enhancement to track providing an easy

[2017-02-01 16:12] Jogan commented on #2403
Thank you. For now I've just separated out the sources from the ConcatenatingMediaSource.

[2017-02-01 19:00] brabeler opened #2408 "Last subtitle sample being dropped by MP4 extractor"
This issue is present in ExoPlayer 1.5.13.  I imagine it would apply to v2 as well.

I have a couple MP4 videos using TX3G subtitles where the last subtitle ended well before the video ended.  For example, the video has a duration of 100 seconds but the last subtitle should only display starting from position 70 seconds and ending at position 80 seconds.  I noticed a problem in that I was never ge

[2017-02-01 19:09] ptran-gpfw opened #2409 "How to play only video key frames in exoplayer-v2"
I have a use case where I only want to play video key-frames.
My plan is to sub-class `DefaultTrackOutput` and override `readData()`.
So something like this:

    public class KeyFrameTrackOutput extends DefaulTrackOutput {
        @Override
        public int readData(FormatHolder formatHolder, DecoderInputBuffer buffer, boolean loadingFinished,
                long decodeOnlyUntilUs) {

[2017-02-01 19:15] ptran-gpfw commented on #2409
Hmm... it seems [ExtractorMediaPeriod](https://github.com/google/ExoPlayer/blob/25a966dc2300161448fa74dee5ee98322ff65604/library/src/main/java/com/google/android/exoplayer2/source/ExtractorMediaPeriod.java#L387) is coupled to `DefaultTrackOutput`.

It seems I would have to maintain a copy-pasted version of `ExtractorMediaPeriod` that used my new `KeyFrameTrackOutput `.

What do you think?

[2017-02-01 19:48] ChernyshovYuriy opened #2410 "MediaDrm getKeyRequest throws NotProvisionedException"
Dear colleagues,

This is a question, a request for advise.
Our reporting system provide us with statistics about NotProvisionedException when getKeyRequest invoked. Based on the java documentation from the method:
[code]
But what does "reprovisioning" means? Is provision data something that receive only once for device? How to do reprovisioning (other way then factory reset)?

Thanks in advance.

[2017-02-01 22:31] Rohit-Varma1 commented on #2176
Doesn't seem to work. Tested with 2 DASH streams using the DEMO app provided.  Doesn't prints out the EMSG in the EventLogger. The same streams work in SHAKA player when tested on web.

[2017-02-01 23:13] wvpaf commented on #2334
@replystreamingwidevine I have reviewed a bugreport with 'Dumpstate : 2017-01-31 11:40:01" heading. If this is indeed a Bugreport that you sent in email, I do not think it captures the behavior for this issue, I am not finding and CTR decryption errors.

[2017-02-01 23:44] replystreamingwidevine commented on #2334
Please check this line in the bugreport

01-31 11:39:37.273  8229  9943 E ExoPlayerImplInternal: com.google.android.exoplayer.ExoPlaybackException: com.google.android.exoplayer.MediaCodecTrackRenderer$DecoderInitializationException: Decoder init failed: OMX.rk.video_decoder.avc.secure, MediaFormat(1, video/avc, -1, -1, 640, 360, 0, 1.0, -1, -1, null, -1, false, 854, 480, -1, -1, -1)

This is the r

[2017-02-01 23:47] replystreamingwidevine commented on #2334
You are checking bug report for ticket 2380. You should check my mail sent to dev.exoplayer@gmail.com on Monday around 10:48 UTC time

[2017-02-02 00:32] ojw28 commented on #2176
The work is not finished (which is why the issue hasn't been closed). It's not expected to work at this point.

[2017-02-02 00:41] ChernyshovYuriy commented on #2176
@rohitvarma1986 , there is dedicated branch that works fine:
https://github.com/google/ExoPlayer/tree/dev-v2-emsg-experimental

[2017-02-02 02:56] SoroushDMA commented on #2058
I have a question, I need more flexibility on the `Role` tag, as in I need to read the `value` of the tag. In order to get that, I added a `roleValue` field to the `Format` class and made the proper changes. I can do a pull request for that, but just wanted to double check with you and make sure it is the right way of doing it.

[2017-02-02 08:40] Fed93 opened #2411 "SeekTo Position of cutted song not working"
Hi,
I just made the transition from the Android Media Player to ExoPlayer and I noticed a bug in SeekTo Method.

If i try to seek to a position using seekbar while reproducing a cutted song (i removed the end of the song for example), ExoPlayer re-start reproducing from the Default Position (from the beginning) instead of the position i choosed.
While if i try to seek to a position of a song not c

[2017-02-02 08:45] andrewlewis commented on #2411
Please provide the information requested in the issue template. We need a link to the problematic media to reproduce and investigate the issue.

[2017-02-02 09:15] Fed93 commented on #2411
I've uploaded to google drive last media added to my library.
I've cutted this song and i can't seek to position
https://drive.google.com/open?id=0B4IKkuWtSFhkTzI3OUdCSEtzRUE

[2017-02-02 09:26] andrewlewis commented on #2411
How are you cutting the stream? The linked file has a Xing header but it doesn't have a table of contents so we treat the file as being unseekable.

[2017-02-02 09:38] Fed93 commented on #2411
I'm using Mp3DirectCut for Windows
I cut the part and save changes with "Save audio file" button

[2017-02-02 09:41] dobrusev commented on #2345
Thank's for the hint.
I will try it but it looks like we can't reproduce this issue any more.

[2017-02-02 09:50] andrewlewis commented on #2411
The tool you're using does not seem to be configured to rewrite a valid Xing table of contents. There may be an option to do this, or you may need to use a different program. You could try FFmpeg which rewrote the Xing header correctly when i tried it ([see instructions here](http://stackoverflow.com/questions/43890/crop-mp3-to-first-30-seconds)).

[2017-02-02 09:50] #2411 closed, assigned to nobody

[2017-02-02 09:54] Fed93 commented on #2411
Thanks!

[2017-02-02 10:10] ojw28 commented on #2345
Closing for now, in that case.

[2017-02-02 10:10] #2345 closed, assigned to nobody

[2017-02-02 10:14] ojw28 commented on #2058
It would be helpful if you could explain exactly what it is you're trying to do from a functionality perspective (reading the value of the tag is the means by which you're trying to do it, but does not explain what it is you're trying to do or why). What are the possible values of the tag for your use case?

[2017-02-02 13:35] yanivlankry commented on #2313
Hi,
i'd like to go back to my initial question How can i "Pre-Fetch viewing
license for Widevine using sessionShare ?"
your guidance lead me to handle OFF-LINE assets, how do you recommend me to
handle , pre-fetch  viewing license for streaming assets Widevine ?
P.S.
the new dev project you provided has better streaming session manager - i
recommend to migrate it to the trunk.

thank you for you t

[2017-02-02 13:37] AndreiGorelov commented on #2352
I had the same problem. There are 2 ways:
1. Use an older version of the Android NDK with GCC compiler, instead of Clang.
2. Find macros.h file (....extensions/flac/src/main/jni/flac/src/libFLAC/include/private/)and comment out two lines of code:
- #35 - #if defined (__GNUC __) ....
- #62 - #endif

But, unfortunately, this extension does not work properly on all devices (on the Sony Xperia XA I he

[2017-02-02 14:14] ojw28 commented on #2313
The dev branch was migrated to trunk a couple of days ago.

I don't think we really recommend pre-fetching of licenses for streaming. Lots of streaming services have restrictions on simultaneous streaming sessions, so if the user has multiple devices pre-fetching has a tendency to incorrectly stop playbacks on other devices. Maybe that doesn't affect your case, but it's an example of the kind of t

[2017-02-02 14:52] yanivlankry commented on #2313
one of the scenarios i'm trying to solve is the key expiration. i know that
Exo-player ask for keys only once. so in case of live streaming asset that
its key will be expire - i would like to be able to re-fetch the key.
basically we are using rotating keys and we provide long duration, but i
want to prevent the replay in case of license expiration, and be able to
add more keys during playback is

[2017-02-02 14:54] andrewlewis commented on #2408
Thanks for the thorough issue description.

Reading the specification, I think that last sample should be 'sliced' to duration zero. Unfortunately our handling of edit lists is incomplete (see the comment in parseStbl) and it looks like making your suggested change would mean that we could include a whole audio sample that should be completely removed. Why does this track have an edit list at all?

[2017-02-02 15:13] erdemguven commented on #1557
@pantos27, it looks like getBufferedPercentage and getDuration work fine with the latest version of ExoPlayer. Please update the issue if you still have the problem.

[2017-02-02 15:13] #1557 closed

[2017-02-02 16:42] gazzer82 commented on #1741
Is their any update on this, seems to still be an issue on the latest N release on the Nvidia Shield and is a pretty frustrating limitation?

[2017-02-02 17:02] Rohit-Varma1 commented on #2176
@ojw28 : Thank you for the prompt reply. Is there any estimate at this point , regarding when it would be done ?

[2017-02-02 17:06] andrewlewis commented on #1741
No updates at the moment but it's on our radar to look at it soon.

[2017-02-02 17:18] brabeler commented on #2408
I used ffmpeg to add a subtitle track to an existing MP4 file.  So I don't know why the edit list is there, but it seems that ffmpeg always creates an edit list for each track.

In my video there is an edit list for every track.  The edit list for the audio and video tracks indicate a duration equal to the length of the video.  But the edit list for the TX3G track indicates a duration equal to the

[2017-02-02 17:25] andrewlewis commented on #2408
Does it work if you just pass `-use_editlist false` to FFmpeg, or are you relying on edit lists for something else?

[2017-02-02 17:45] brabeler commented on #2408
Yes it works, that option removes the edit list from the MP4 and now the last TX3G sample is no longer dropped.

Since ffmpeg is a popular tool to create MP4 files, I need a way to fix this problem without telling users to re-generate their MP4 file with that command-line option.  I can provide a fix in my code for my project, but I much prefer it fixed in ExoPlayer source so I don't have to propa

[2017-02-02 17:54] AquilesCanta commented on #2161
I am working on adding multiple CC support now. However, the stream you provided doesn't seem to include 608, but rather DVB subtitles. I am speaking about the file provided [here](https://github.com/google/ExoPlayer/issues/2056#issuecomment-263528470). If you have a TS with multiple 608 channels, or even better, an HLS stream, please send a link to dev.exoplayer@gmail.com. This should speed up th

[2017-02-02 18:50] tprochazka commented on #1942
I'm not waiting on any fail. I'm just calling .stop(), then .prepare() and .setPlayWhenReady().
And after prepare() I still see last frame from old video.

[2017-02-02 18:54] ojw28 commented on #1942
I don't think it's relevant. The above is just a way to trigger the same behavior. If you still have an issue then please provide as source a way for us to reproduce the issue, ideally as a small patch to the demo app.

[2017-02-02 19:05] andrewlewis commented on #2408
I'll submit a fix that includes the sample for edits in non-audio tracks. This issue will be updated once it's merged. Thanks.

[2017-02-02 19:18] SoroushDMA commented on #2058
`main`, `alternate` or `forced` are some values we might put into it. The reason we need to read it is because what if a video content has more than one forced subtitle and more than one audio, so based on the changes on audio we need to change the forced subtitle. Some text tracks might not even have the `Role` tag.

[2017-02-02 19:39] ojw28 commented on #2058
Why isn't `Format.selectionFlags` sufficient for this? Presumably "main" is SELECTION_FLAG_DEFAULT and "forced" is SELECTION_FLAG_FORCED. What does "alternate" mean, and is it just no flags (i.e. 0)?

[2017-02-02 20:18] huytman commented on #1741
have this page on a 'changes check' status and saw this pop up today.  Glad to see it's at least being looked at.  I was hoping the N update would somehow fix this - it didn't.  Presently using the SPMC with the Plex addon.  Works as expected - 5.1 output through USB and HDMI - but nothing with the standalone Plex app.

[2017-02-02 20:19] tprochazka commented on #1942
I found workaround. I set the visibility gone for whole view and display it again in the AbstractExoPlayerListener. onPlayerStateChanged() if the state is ExoPlayer.STATE_READY.

I will try the demo app, there should happen to same when you switch to the different item from the playlist on the same instance of player simply by calling .stop() and prepare() with new one video.

[2017-02-02 21:18] SoroushDMA commented on #2058
We already have some contents that the `Role` field might not be one of the ones I just mentioned. I'm trying to expose the `value` to have more flexibility, since there is no standard for the `value` yet.

[2017-02-02 22:43] wvpaf commented on #2334
Oh i see, apologies there is a bit of a file shuffle on this side.
Let me go review that log.

[2017-02-03 01:05] Yonezpt opened #2412 "[Question] Proper progressbar implementation for one way live streams (non-seekable)"

[2017-02-03 02:03] yangwuan55 commented on #1539
@nzala [https://github.com/yangwuan55/ExoPlayer/tree/playbackSpeed/demo_speed](url)

[2017-02-03 06:45] shirensong opened #2413 "4k Video get stuck"
The video get stuck while playing.
Video info: 3840 * 2160 AAC, H.264, duration 01:47, size 1.19G
The sample 4k video is uploaded at https://pan.baidu.com/s/1cu0vjo
Exoplayer version: 2.2.0
device version: Android 6.0
Behavior: the video get stuck from the beginning.
But with system video player, everything is Ok.

below are logs:

02-03 06:51:26.258 2549-2568/? D/mali_winsys: EGLint new_window_su

[2017-02-03 06:53] shirensong commented on #2413
add some log:
02-03 06:51:26.258 2549-2568/? D/mali_winsys: EGLint new_window_surface(egl_winsys_display*, void*, EGLSurface, EGLConfig, egl_winsys_surface**, egl_color_buffer_format*, EGLBoolean) returns 0x3000
02-03 06:51:37.800 2549-2549/com.google.android.exoplayer2.demo I/ExoPlayerImpl: Init 2.2.0 [kylin32, FM_PRO2, realtek, 23]
02-03 06:51:37.807 2549-2549/com.google.android.exoplayer2.demo

[2017-02-03 10:29] wendong-li opened #2414 "QA: How to access system DRM plugin when using software decoder extension"
This is a question not a bug report.

If we are using audio software decoder extension like opus and flac in the existing code, can we still use MediaCrypto to access the system DRM plugin, like Widevine?

If it's possible, are we supposed to use the ICrypto interface on the native side of the software decoder in the way how the native MediaCodec is implemented?

If this is not recommended, could

[2017-02-03 12:21] laurencedawson opened #2415 "MP4 freezes for the first 4 seconds"
- When opening the following URL, ExoPlayer draws the first frame and then doesn't update for 4 seconds
  https://thumbs.gfycat.com/HugeAdeptFrigatebird-mobile.mp4

- ExoPlayer r2.2.0
- Android 6P 7.1.1 (but seems to happen on all tested devices)

[2017-02-03 14:33] Ambroos opened #2416 "HLS with discontinuities - decoding errors (blocking)"
We have a set of streams where I work (Belgian broadcaster) where we dynamically insert advertising server-side. We use HLS streams, where the content is encrypted with AES, the ads are not encrypted. Between every content/ad/other ad switch there is a discontinuity.

Sample stream: https://medialaan.ambroos.io/hls/2/discontinuity-decoding-error.m3u8

Playing this stream in ExoPlayer (we've seen i

[2017-02-03 14:36] ojw28 commented on #2414
I don't think it's possible to use MediaCrypto/MediaDrm in conjunction with software decoder extensions (i.e. decoders that aren't in the platform). @wvpaf can confirm.

[2017-02-03 14:44] b0g8 commented on #2290
I can confirm that the original issue was solved by the fix, now merged to release-v2. Thanks.

[2017-02-03 14:56] ojw28 commented on #2415
It looks to me like this is working as intended. The video track in this mp4 file includes an edit list (edts box) that appears to specify this behaviour during playback. If we simply ignore the edit list then playback works fine, and it's likely that other players appear to be playing the content correctly because they don't suppoert edit lists (where-as in fact ExoPlayer is doing what the media

[2017-02-03 15:03] ojw28 commented on #2412
[This blog post](https://medium.com/google-exoplayer/customizing-exoplayers-ui-components-728cf55ee07a) describes various ways in which you can customize ExoPlayer's UI components. The easiest way to do what you want is to copy `exo_playback_control_view.xml` in the res/layout directory of your application and then customize it to meet your needs (e.g. by deleting the SeekBar element, or replacing

[2017-02-03 15:03] #2412 closed, assigned to nobody

[2017-02-03 15:15] ojw28 commented on #2410
Widevine L1 is typically factory provisioned, meaning provisioning wont ever need to happen. When using L3 (either because you've forced an L1 device to L3 or because the device only has L3) provisioning typically happens once. A factory reset should cause re-provisioning. If the device is rooted then you can also cause re-provisioning by doing:
[code]
which will reset Widevine modular DRM back to

[2017-02-03 15:15] #2410 closed, assigned to nobody

[2017-02-03 17:15] Ambroos commented on #2416
Just a quick note: the ad segments by themselves work correctly, or if you start the stream in an ad position.

I suspect there's something in the decoder that doesn't get reset on discontinuity and then fails to decode the possibly slightly different ad segments correctly.

(We did not observe this issue on any other platform so far.)

[2017-02-03 20:05] ojw28 commented on #2058
I think you need to justify the need for flexibility with specific examples. If we were to just add extra flexibility everywhere in case it's useful, without understanding why, then everything would become very bloated and we'd have no way of knowing that we really made the right choices.

Without specific examples it remains unclear why selection flags are not sufficient. If there are a few speci

[2017-02-03 20:28] SoroushDMA commented on #2058
I think my problem stems from the fact that `Role` `value`s are not a standard yet, and that would result in contents to have different `value`s for `Role`.

I wanted to give the flexibility of handling different cases to the user (developer) by exposing the `Role` value, but making use of selection flags and adding extra flags seem like a better solution.
Thank you

[2017-02-03 20:43] laurencedawson commented on #2415
Is there a way to always ignore edit lists? Thanks

[2017-02-03 21:18] ChernyshovYuriy commented on #1033
Hi colleagues,

I understand that this is closed issue but in case someone could still answer.
Android functionality of screenshot (Power + Volume Down) does work on Clear content but does not on Widevine protected. Is this something dictates by the Widevine License (or DRM system) on the native layer?

Also, it is impossible to use TextureView with Widevine protected content, getting "MediaCodecR

[2017-02-03 21:32] AhmedZahraz opened #2418 "PlayReady HLS using Viaccess-Orca (Discretix)"
Hi,

I was just wondering if ExoPlayer supports PlayReady HLS using Viaccess-Orca (Discretix)?

See USP site for more info:
http://docs.unified-streaming.com/documentation/drm/hls.html#viaccess-orca-discretix-playready

Thanks

[2017-02-03 22:16] paulocoutinhox commented on #26
+1 for audio and video playback speed

[2017-02-03 23:29] needz commented on #1894
How is it possible to apply this FLAG_ALLOW_NON_IDR_KEYFRAMES workaround in ExoPlayer 2 (preferably during player preparation)? I found H264Reader parameter, but is it possible to do without modifying the library code? Thanks!

[2017-02-04 05:45] WeiChungChang opened #2419 "[Question] What are the difference among loadingPeriodHolder, readingPeriodHolder & playingPeriodHolder?"
Is there any document to explain them in detail?

I am curious about the timing to update them as well as the design concept about them.

Why we need such three MediaPeriodHolders? what's the difference between loadingPeriodHolder & readingPeriodHolder?

Is the fast way to know the flow by running a movie containing multiple periods (such as MPEG DASH)? Or it is designed for sources such as Concat

[2017-02-04 09:02] bbincybbaby opened #2420 "Guidelines to use custom encrypted data source ?"
Guidelines to use custom encrypted data source ?

http://stackoverflow.com/q/42038671/4639479

[2017-02-04 12:32] sandeshlasnapure opened #2421 "Exoplayer crash"
### Logcat
[code]
### Tested on - API level 16(EMU)
### Used Exoplayer version - r2.1.1
Another issue I am facing is Exoplayer is not able to load custom layout below 5.0
app:controller_layout_id resource is not found.

Caused by: android.view.InflateException: Binary XML file line #24: Error inflating class com.google.android.exoplayer2.ui.SimpleExoPlayerView

[code]

Please need help.
Thanks.

[2017-02-04 13:28] Yonezpt opened #2422 "DASH: Issues playing DVR live streams"
I have been trying to make MPD DVR live streams work with Exoplayer 2.1.1, but the behavior is abnormal. When loading the stream with that manifest format, the player shows (on first load) the duration and progress in negative values, then the progress values change to positive values, but the duration remains negative and since the time is negative, the hours mark gets lost as per https://github.

[2017-02-04 23:00] satohu20xx commented on #2405
more informations.

- ExoPlayer version is r1.5.9
- It occurs when playing with Bluetooth
- It occurs from Kitkat
- The error code may be -12

[2017-02-05 04:21] Yonezpt opened #2423 "[Question] How to disable the video track programmatically"
I have been searching for this solution for Exoplayer 2.1.1, but the only few I found were related to version 1.X.X with the `player.setSelectedTrack(type, index);` no longer being available in the most recent version.

All I want is to programmatically disable the video track and restore whichever selection the user had, but this information is proving hard to find and the `TrackSelectionHelper`

[2017-02-05 05:05] Yonezpt commented on #2423
Think I got this figured out with a lot of help from here https://github.com/google/ExoPlayer/issues/2343. First I need to get the index of the track I intend to disable/restore, this can be done via the `getRendererCount` + `getRendererType`

[code]

Then  proceed to disable the track at that index with the help of `trackSelector`

[code]

To restore it simply run the above method with `false` in

[2017-02-05 05:05] #2423 closed, assigned to nobody

[2017-02-05 08:25] PaulWoitaschek commented on #2352
What I dont get is that android supports flac itself.

There is even the `MediaCodecAudioRenderer` in ExoPlayer; why can't ExoPlayer just play flac if it's supported by the platform?

[2017-02-06 01:34] wendong-li commented on #2414
@ojw28
Thanks for the comment. Yes, using ICrypto doesn't seem to be an official solution since it's not part of the NDK APIs. But, the existing opus decoder seems to be using the Widevine DRM somehow, I was making a guess from the parameter name `wvCrypto`.
[code]

The NDK does provide the AMediaDrm API for native apps, but it's not clear whether it's possible to associate it with the DRM session

[2017-02-06 09:46] cre8ivejp commented on #2405
For people who still doesn't know how to fix this, please downgrade your support library to 25.0.1 or older.

This issue only happens on version 4.x.x and it is connected to some speaker or earphone device using bluetooth.

[2017-02-06 10:06] AquilesCanta commented on #1894
Have a look at DefaultTsPayloadReaderFactory. The constructor's `flags` argument allows you to set the flag. No library code needs modification.

[2017-02-06 10:38] andrei1990 opened #2424 "Exo Player 2.1.1 stuck in buffering state after enabling webVTT closed captions"
When trying to enable closed captions for Apple master playlist advanced or other HLS test streams the video is buffering and sometimes it stuck in this state. In order to make the video play again you should go and disable captions and enable them again and video resumes then.

Version used: 2.1.1
Devices: Samsung Galaxy S3 , OS 4.3, Nexus 5, OS 6.0

Also this is happening with ours hls streams t

[2017-02-06 10:43] needz commented on #1894
Thanks, I found it, but it seems to be buried deep inside TsExtractor and I can't figure out where exactly I should override it during player preparation. Could you point me in the right direction? Should I override it in buildMediaSource somehow?

case C.TYPE_OTHER: return new **ExtractorMediaSource**(uri, mediaDataSourceFactory, new DefaultExtractorsFactory(), mainHandler, eventLogger);

[2017-02-06 10:56] AquilesCanta commented on #1894
You will need to provide your own ExtractorsFactory(instead of the default one), replacing the default TsExtractor constructor for the one that takes a PayloadReaderFactory. If you know you are going to play only Ts files, you can just provide that one.

[2017-02-06 10:58] AquilesCanta commented on #2419
Please have a look at [our medium blog](https://medium.com/google-exoplayer/exoplayer-2-x-mediasource-composition-6c285fcbca1f)(have a look around, you'll find some useful information) and this [Timeline documentation](http://google.github.io/ExoPlayer/doc/reference/com/google/android/exoplayer2/Timeline.html).

The three media period holders are:
**playing**: Holds a reference to the period which

[2017-02-06 10:58] #2419 closed, assigned to nobody

[2017-02-06 11:21] AquilesCanta commented on #2422
Would you kindly provide a stream that reproduces the described issue to dev.exoplayer@gmail.com?

Regarding device compatibility in Exoplayer: it only applies to codecs. e.g: A device might not have decoders for VP9 or support a particular H265 profile, but container formats or streaming protocols are not affected. You can find [here](https://source.android.com/compatibility/cdd.html) useful info

[2017-02-06 11:32] Yonezpt commented on #2422
I understand, so having HLS as fallback and DASH as primary will be the ideal scenario if they contain streams with different codecs, in that case solving this takes priority (for me, not for the ExoPlayer team).

I cannot send any stream, they are generated locally (LAN based) and I do not have the authorization for sharing them, but I can do what I mentioned near the end, I can explain (in the e

[2017-02-06 11:36] AquilesCanta commented on #2422
Yes, the streams don't need to be yours. I just need to reproduce the issue myself.

[2017-02-06 11:53] Yonezpt commented on #2422
@AquilesCanta I have sent an email detailing the process for replicating this problem, the subject reads `ExoPlayer issue #2422`

[2017-02-06 12:00] Yonezpt commented on #2422
@AquilesCanta In the email I incorrectly said at the end that the `dashmpd manifest url the ExoPlayer behaves correctly` , it should be the other way around, the `dashmpd` is the one that does not work correctly, the `hls` is the one that does work correctly.

[2017-02-06 12:05] erdemguven commented on #2352
There is a fix on the way which adds "-DHAVE_SYS_PARAM_H" to LOCAL_CFLAGS in extensions/flac/src/main/jni/Android.mk file.Until it arrives to github repository you can try to add it to your local copy manually.

@PaulWoitaschek, because of issues with FLAC format and the way android platform handles it we can't use native support.

[2017-02-06 12:05] AquilesCanta commented on #2422
Thank you for the e-mail. I will have a look as soon as I have some free time. I'll let you know when I have anything interesting to share.

[2017-02-06 14:54] michaelstrigy commented on #2392
some new things: I saw that the video is only shown on screen when a new segment starts, that is if video is of 2 seconds segments the change is shown only in a time where a new 2 seconds segment starts.
when trying to tell unity this time, the action in unity is really close but not always perfect (causing common video glitches when sync is not at the same frame between video shown and unity acti

[2017-02-06 15:00] Yonezpt opened #2425 "ExopPlayer 2.1.1 and 2.2.0 keep using network after player.release()"
Is there any way to completely stop the ExoPlayer? Currently using `release()`, even coupled with `stop()`, does not stop the player from exercising network communications. This is what the console looks like after releasing the player, just that, there is no activity being closed here or any user action after releasing the player. It stays like this forever:

![ss](https://cloud.githubusercontent

[2017-02-06 18:28] AquilesCanta commented on #2418
Currently, the only encryption method supported is AES-128. I doubt we will be adding any non-spec defined methods in the near future. Am I correct to say this encryption method escapes the spec?

[2017-02-06 19:11] Fed93 commented on #2411
Hi, only a question, also FLAC file (not cutted) is unseekable?

[2017-02-06 19:22] SoroushDMA commented on #2058
I was looking at the DASH documentation and Media presentation description and segment formats which is in ISO/IEC 23009-1:2014 that you can find in the following link:
[ISO/IEC 23009](http://standards.iso.org/ittf/PubliclyAvailableStandards/index.html
)
In page 69 section 5.8.4.2, it defines the`Role` tag and in page 73 section 5.8.5.5, DASH `Role` scheme is defined along with 7 `Role` value in t

[2017-02-07 04:52] nguyenxvn commented on #2010
Thanks @andrewlewis I get and build ffmpeg extension from github with the guild to build but i get some error. This guild is use for Linux. Do you have any guild to build this entension on Window OS?

[2017-02-07 09:14] moacir69 opened #2426 "Question about multi-audio HLS audio variant data request"
With ExoPlayer 2.0.4, the array of HlsSampleStreamWrapper created in HlsMediaPeriod.buildAndPrepareSampleStreamWrappers() includes all the media variants, leading to a data request in DataChunk.load() for all media playlists, even if only one of them is in use during playback.
Can you please provide information about why this behaviour has changed since ExoPlayer 1.5.8? In this case, a  media play

[2017-02-07 10:05] AquilesCanta commented on #2426
There are a few reasons:

* There used to be only 3 sample stream wrappers. Each of them(if present) would download one chunk to prepare, and assume the others tracks had the same shape. Sometimes this is ok, if the only changing aspect is the language, for audio and text. This leads me to:
* The codecs attribute is optional, and other information is not available in EXT-X-STREAM-INF or EXT-X-MEDI

[2017-02-07 10:05] #2426 closed, assigned to nobody

[2017-02-07 10:26] moacir69 commented on #2426
Thank you for the quick reply!

Moacir

[2017-02-07 10:28] AquilesCanta commented on #2426
We might do something about this in the not-so-remote future.

[2017-02-07 12:56] aliasgarlabs commented on #26
Excited for the audio playback speed feature. My project completely depends on it and it's stuck. It's mid Q1 2017 already! Looking forward to it!

[2017-02-07 12:57] PaulWoitaschek commented on #26
It would be great to be notified rather two weeks before than two weeks after the due date about schedule changes.

[2017-02-07 13:13] Fed93 opened #2427 "Flac extension cause crash of released app"
I've compiled and added the flac extension successful.
I've added the extension as a module in my app!

If i install app on my phone in debug it works great but if i compile to release it to the playstore, app crash when i try to reproduce flac song.

I use proguard provided with extension and proguard for main app (attached)
I'm using latest version of the extension adding -DHAVE_SYS_PARAM_H to L

[2017-02-07 13:36] henorek commented on #26
Please update on this issue - we’re talking about this particular Exoplayer’s feature on our teams daily meetings every few days now, it is really crucial for us even to know if you already see any problems in shipping successfully till the end of March.

[2017-02-07 13:44] paulocoutinhox commented on #26
If anyone need it now for API version 23 or later, it is working on our app and i make a branch using last exoplayer version changing only the speed function based on community code:

https://github.com/prsolucoes/ExoPlayer/tree/release-v2-playback-speed

You can compare to see that nothing was changed instead of player speed:

https://github.com/google/ExoPlayer/compare/release-v2...prsolucoes:re

[2017-02-07 13:51] AquilesCanta commented on #26
So that you know guys, there are not going to be progress updates for this for at least two weeks. As @ojw28 said above,

This **does not mean** it's going to be ready in two weeks. It means it's not going to be ready in two weeks.

[2017-02-07 14:01] mseroczynski commented on #26
@prsolucoes Thank you for your suggestion. In my case 70%+ customers would have a serious reason to leave negative feedback on store so it's not acceptable solution.

@AquilesCanta To be honest I don't understand why you mentioned 'two weeks' - I already assumed that if there were any work in progress (that could guarantee release in two weeks) we would already know about it (?). Our intention - a

[2017-02-07 17:15] AquilesCanta commented on #2416
I think I have rootcaused the issue. The solution might have to wait a bit, though.

Note to self: Codec reconfiguration without reinstantiation is attemped, but it is not working well. When not, playback works well.

[2017-02-07 17:31] Ambroos commented on #2416
@AquilesCanta Thanks! Do you know if there's any way we can work around this issue temporarily (by changing the encoding configuration of either the content or ad segments, for example)?

[2017-02-07 17:42] AquilesCanta commented on #2416
What I could observe is that the PSP and PPS differ between content and ads, I imagine that using the same parameters would fix the issue. I am not 100% sure, though. I need to research a bit more. I think this should definitely be fixed in exoplayer.

An ignorable note is that you change any value(like width, for instance) that would make MediaCodecVideoRenderer#canReconfigureCodec() return false

[2017-02-07 17:56] Ambroos commented on #2416
Hm. Considering our content comes from a hardware encoder (limited configurability), and the advertisements are processed by a third party using ffmpeg, I don't think we're ever going to get the PPS and SPS to match exactly (but my knowledge of H264 is very limited).

I'll keep my test stream available. Thanks for looking at our issue!

[2017-02-07 18:42] andrewlewis commented on #2010
@nguyenxvn I'm afraid I don't have any information on building FFmpeg on Windows. Maybe [FFmpeg's compilation guide](https://trac.ffmpeg.org/wiki/CompilationGuide) will help.

[2017-02-07 19:26] AquilesCanta commented on #2421
These are two completely different issues, aren't they? Please, create one new issue per topic and most important of all:

Read the issue template and provide **all the required information**. Logcats alone are almost always insufficient.

[2017-02-07 19:26] #2421 closed, assigned to nobody

[2017-02-07 19:28] brAzzi64 opened #2428 "HLS - new RollingSampleBuffer NullPointerException in 1.5.12 (Not present in 1.5.6)"
We recently upgraded from ExoPlayer r1.5.6 to r1.5.12, and have been seeing NullPointerExceptions from ExoPlayer.

We were also able to reproduce it with the Demo App, by just adding a Sample pointing to our media file (an HLS playlist).

The NPE always happens when dereferencing an instance of DefaultTrackOutput, but when calling various methods of that instance. It happens with several media fil

[2017-02-07 19:57] nguyenxvn commented on #2010
@andrewlewis I Switch my computer os to Linux and build successfully. Thanks alot!

[2017-02-07 20:23] needz opened #2429 "Audio codec not recognised, although plays fine in MediaPlayer"
There are some issues with audio not being played in some movies/streams, although the same movies/streams play fine when using MediaPlayer framework on the same device.

I tried to force any of the tracks, but got exoplayer **the device does not provide a decoder for audio audio/vnd.dts** error (and also audio/mpeg-L2 for TS streams).  Is there a chance to tweak something in the library or try to

[2017-02-07 22:35] jlacivita commented on #2176
Hi @ojw28. For context, this feature is very important for ExoPlayer/DASH adoption in North America, particularly for OTT apps streaming content originally aired on TV. Nielsen provides a critical viewership measurement SDK that requires access to eMSG data during playback. Any OTT app considers Nielsen integration to be a requirement at some point, and they're all waiting for this.

Until we have

[2017-02-07 23:14] wvpaf commented on #2334
I noted that you have opened a case with the WV CWIP Team.
We should continue the troubleshooting there.
I will post a follow up with findings.

[2017-02-07 23:28] wvpaf commented on #1764
@KiminRyu - thank you for the update. Yes Samsung will need to issue updates to those devices too.

[2017-02-07 23:28] #1764 closed, assigned to wvpaf

[2017-02-07 23:57] #2429 closed, assigned to nobody

[2017-02-08 00:36] eneim opened #2430 "Make SimpleExoPlayerView non-final?"
I'm on r2.2.0, is there any special reason to make this View final? If not, can you make it non-final so when one (like me, for example) wants to have some customize on it, he/she doesn't need to add one more View layer to include it in.

Here is what I'm trying to do to wrap the MediaSource/SimpleExoPlayer creation logic into a ViewGroup to help my users' life easier: [link](https://github.com/en

[2017-02-08 09:22] botondbutuza commented on #2430
I, too, had to clone to class just to add extra functionality to it. Being able to extend it would be great.

[2017-02-08 14:43] erdemguven commented on #2427
@Fed93 please add this to the flac extension proguard file (extensions/flac/src/main/proguard-rules.txt):
[code]
and try again.

[2017-02-08 15:31] AquilesCanta commented on #2424
A fix for this will be available in the next push.

[2017-02-08 16:18] AquilesCanta commented on #2428
It's giving me 403. Can you send another one?

[2017-02-08 16:26] brAzzi64 commented on #2428
Sent to dev.exoplayer@gmail.com.

Thanks!

[2017-02-08 17:44] AquilesCanta commented on #2428
Hello, I was not able to reproduce. I have tried version 2.2.0, 1.5.14 and 1.5.12, so I assume this particular stream does not cause the failure. Could you provide a link that reproduces the issue in the DemoApp in either version 2.2.0 or 1.5.14? I don't remember whether there's a bugfix for this particular issue in between, but there might be, in which case the only solution would be to update or

[2017-02-08 18:01] brAzzi64 commented on #2428
I tried this again just now, and I can confirm that this happens on the demo app form r1.5.12, with the media that I sent (URLs might be different, but the media I'm sending is always be the same, which causes the issue at time 0:09 seconds). Please note however that it took me 8 runs to actually hit the issue.

This is how I reproduced it:

1) Tap on the right video under the HLS menu
2) Wait for

[2017-02-08 18:18] moacir69 commented on #2426
OK, thanks.

Moacir

[2017-02-08 19:33] skuppa commented on #2342
Thanks for the suggestion.  Here is my use case, please advise me to the right direction..  I have video files that was shot in multiple angles and all video files have same timings.   I need to play video by switching the different angled's video file without any gaps.  My example as follows (I use second instead of microsecond):

 Assume, I have two video files.
Clip1_Angle1.mp4 (120 seconds)
Cl

[2017-02-08 19:39] Fed93 commented on #2427
Yes, works great adding it to Proguard!
Thank you very much!

Only a question it's normal that FLAC song it's not seekable?

[2017-02-08 20:54] AquilesCanta commented on #2428
Heck, it has just expired. I think I know what the issue is. You can check this yourself. It might be the case that some of the variants include audio only? If this is the case, there is no more need for debugging, I think.

Adapting to audio only variants is not supported currently. I need to discuss with my team whether it's going to be added to the roadmap. In any case, it's most likely going t

[2017-02-08 21:22] Yonezpt commented on #2425
Forgot to include the Exoplayer version, it's 2.1.1 and the issue is still present in 2.2.0

[2017-02-08 23:53] kqyang opened #2431 "DASH: Support cross-AdaptationSet seamless switching"
http://dashif.org/wp-content/uploads/2016/12/DASH-IF-IOP-v4.0-clean.pdf

[code]

This technology is expected to be available in ISO/IEC 23009-1:2014/Amd.4:2016, section 5.3.3.5.

Here is a sample content you can use for testing:
[code]

[2017-02-09 02:01] yangwuan55 commented on #26
@mseroczynski You can see https://github.com/yangwuan55/ExoPlayer/tree/playbackSpeed/demo_speed

[2017-02-09 08:31] WeiChungChang commented on #2336
Hi @SteUK :
How about your test result?
I gave it a try as per @ojw28 ’s kind suggestion.

Please refer to the patch named “Implement-Slow-start-to-accelerate-adaptationset-switch.zip”; where I tried to customize AdaptiveVideoTrackSelection accordingly.
[Implement-Slow-start-to-accelerate-adaptationset-switch.zip](https://github.com/google/ExoPlayer/files/762958/Implement-Slow-start-to-accelerate-

[2017-02-09 09:06] khs8727 opened #2432 "onPlayerStateChanged is never called when SimpleExoPlayerView is gone."
Hi,
I'm using ExoPlayer (r2.1.1) to develop a music video application for Android.
I'm a beginner in android development.

I want to play video in background mode as well, so I made "VideoPlayerService" static class for foreground service. It has all variables and methods which handle a video player.
Also I made "VideoPlayerEventListener" which inherits "ExoPlayer.EventListener".
I attach this ins

[2017-02-09 11:03] b95505017 opened #2433 "Cant' execute generateReleaseJavadoc"
I clone the repo and execute `./gradlew generateReleaseJavadoc`, task will fail.
Checkout back to `r2.1.0` works OK.

[2017-02-09 11:34] erdemguven commented on #2427
Good, soon a fix for it will be committed.

Unfortunately we don't support seeking if the flac file doesn't contain an seek table. See #1808

[2017-02-09 11:38] Fed93 commented on #2427
Thank you very much!

[2017-02-09 13:39] AquilesCanta commented on #2433
What, specifically, is the failure? Works well for me.

[2017-02-09 13:45] nahojkap opened #2434 "MPEG DASH and MPEG-LA licensing"
Hi,

Not an issue per se but are there any plans on allowing to build MPEG-DASH support as an extension rather than always including it by default?

As we understand it, with the MPEG-LA licensing restrictions coming into (more) force, simply including ExoPlayer in an application would incur possible royalty obligations, even if you do not use DASH.

Thanks,

Johan

[2017-02-09 13:50] brAzzi64 commented on #2428
I did some digging through the .m3u file references, and didn't land on a playable video, so I couldn't figure it out myself; I'll read up a bit on the HLS spec. I'll also reach out to the appropriate team on my side and ask if that could be the case.

On the meantime, I'm sending you an updated URL in case you can find out about this before me.

Thanks!

[2017-02-09 14:03] AquilesCanta commented on #2434
Please see #2139.

[2017-02-09 14:03] #2434 closed, assigned to nobody

[2017-02-09 14:13] b95505017 commented on #2433
Not sure
[code]

[2017-02-09 14:48] manishmips28 commented on #471
I am getting same exception while playing video using DASH url .Scenario is while I pressed home button between playing content some time its resume video but some time I am getting java.io.EOFException
following is exception log please help .

`EventLogger: internalError [3.97, loadError]
                                                                   java.io.EOFException

[2017-02-09 15:03] AquilesCanta commented on #2428
After looking into the transport streams I can confirm that there are at least two audio-only variants. So [my comment](https://github.com/google/ExoPlayer/issues/2428#issuecomment-278458411) still applies. Adding the codecs information is the best you can do right now. You can track #545 if you are interested in this feature.

[2017-02-09 15:22] brAzzi64 commented on #2428
Awesome, thanks!

[2017-02-09 17:25] AquilesCanta commented on #2416
It does not reproduce on Sony Bravia 4k, I wonder if we could apply a codecNeedsAdaptationWorkaround here, @andrewlewis? Either that or codec reconfiguration is not working properly and the TV's decoder is somehow managing to work around it.

[2017-02-09 17:40] Ambroos commented on #2416
@AquilesCanta We've only managed to reproduce it on some of our test devices. I have only seen it on non-Samsung devices with a Qualcomm GPU. I have never seen it happen on any device with another GPU vendor. Since Bravia's have MediaTek GPU's, I guess that makes a weird kind of sense.

It's a very, very strange thing.

[2017-02-09 18:01] manishmips opened #2435 "java.io.EOFException Playing DASH url from Background after player release and reinitialize"
I am using r2.2.0 and getting exception while playing video using DASH url .Scenario is while I pressed home button between playing content some time its resume video but some time I am getting java.io.EOFException following is exception log please help .

[code]

[2017-02-09 18:11] AquilesCanta commented on #2435
Please provide all the information required in the issue template.

[2017-02-09 22:25] BorislavKamenov commented on #2228
Hello folks. I've experienced the same problem, actually two problems.

**To reproduce the bug you can use the follow link:**
http://box.tivi.bg/c/cnn

**That is the problem**

- on Samsung Galaxy S4 Lollipop 5.0.1 when I play the link only audio runs and shows a toast:
_Media includes video tracks, but none are playable by this device_

- on AndroidTV Emulator Marshmallow when I play the link onl

[2017-02-09 22:30] BorislavKamenov commented on #2228
Hello folks! I've experienced the same problem, actually two similar problems.

**To reproduce use this link (MPEG-4):**
http://box.tivi.bg/c/cnn

**What is the problem:**

- on AndroidTV Emulator Marshmallow the video start to play but audio missing and shows this message:
_Media includes audio tracks, but none are playable by this device_

- on Samsung Galaxy S4 Lollipop 5.0.1 the audio start to

[2017-02-09 22:50] Yonezpt commented on #2422
@AquilesCanta Just want to add that I have recently tested this in ExoPlayer r2.2.0 and the same problem persists.

[2017-02-09 22:59] Yonezpt commented on #2432
I am not certain about this, but usually background applications must make use of service or asynctask so they can continue normal operations while in the background, otherwise most operations are suspended: https://developer.android.com/training/best-background.html

Disregard any of this if you are already using any of those methods.

[2017-02-10 02:02] yshrsmz commented on #2405
downgrading support library v25.0.1 may resolve some cases, but we still have this error after downgrading support library.

[2017-02-10 02:31] Jermyhewitt commented on #2432
I have the same issue, I found a thread and I think the accepted answer is:
`To solve this, you should be disabling the video renderer when the app moves to the background and enabling it again when the app moves back to the foreground. The demo app does this here. Note that since the isEnded checks are only performed on enabled renderers, the video renderer is not then taken into account to deter

[2017-02-10 04:19] kartdroid opened #2436 "java.lang.IllegalStateExceptionat at android.media.MediaCodec.native_dequeueOutputBuffer - 0x80001000 (OMX_ErrorInsufficientResources)"
- Video Decoder fails and we see no video when playing DASH + Widevine Content (Device Specific Issue)
- Play any DASH +DRM protected  (that is encoded using codecs="avc1.42C028") content  on ASUS_T00J device .
-  [Sample.txt](https://github.com/google/ExoPlayer/files/765647/Sample.txt) - MPD File
-[AsusZenfone_Bigbangtheory_updated_trimmed.txt](https://github.com/google/ExoPlayer/files/765667/Asu

[2017-02-10 05:24] manishmips commented on #2435
Thanks for response can you explain which type of information you required from my side
Steps to reproduce issue
gradel dependecy
`compile 'com.google.android.exoplayer:exoplayer:r2.2.0'`
` compileSdkVersion 24
        buildToolsVersion '24.0.2'
        minSdkVersion 16
        targetSdkVersion 24`
Android version 4.4.4 api 19
and lollipop

1. Playing DASH url from exoplayer
2. In between video pl

[2017-02-10 08:38] andrewlewis commented on #2405
@yshrsmz Please could you provide the output of `adb bugreport` taken just after seeing the error?

@cre8ivejp Do you know how this is related to the support library? Is it somehow related to the MediaRouter bug mentioned on the [support library revisions page](https://developer.android.com/topic/libraries/support-library/revisions.html#25-1-1), or is it a different issue? Thanks.

[2017-02-10 09:19] andrewlewis commented on #2436
1. I doubt this is related to the output Surface, unless you are doing something non-standard. You could check that the error is reproducible in the ExoPlayer demo app to eliminate this possibility.
2. `E VideoDecoder: Invalid parameter: nalu_data = NULL for naluType 0x7` looks suspicious, as if the decoder is not getting SPS. Can you reproduce the error on other devices playing the same content?

[2017-02-10 09:26] kartdroid commented on #2436
@andrewlewis  no we are not able to reproduce in other devices . Only in the mentioned device we see this error that too for all the contents only audio is rendered . Video decoder fails and goes back to idle state.

[2017-02-10 09:33] andrewlewis commented on #2228
Decoding the video stream requires an MPEG-2 decoder. It seems the Samsung Galaxy S4 does not declare support for this format (hence the `supported=NO_UNSUPPORTED_TYPE` logging).

See the [supported media formats page](https://developer.android.com/guide/topics/media/media-formats.html) and the [CDD](https://source.android.com/compatibility/cdd.html) for information on the minimum video decoding c

[2017-02-10 10:00] kartdroid commented on #2436
i am getting adb bugreport meanwhile

[2017-02-10 10:06] andrewlewis commented on #2436
Can you reproduce this error when playing the Widevine samples in the demo app? If so, please take the bug report after playing one of those. Thanks!

[2017-02-10 10:11] wasabeef opened #2437 "emsg box does not work."
It's not working on `release-v2` and `dev-v2-emsg-experimental`.
Is it unsupported?

DASH Sample
http://se-mashup.fokus.fraunhofer.de:8080/dash/assets/adinsertion-samples/events/inband/dash.mpd

[2017-02-10 10:36] kartdroid commented on #2436
ok iam on it :+1:

[2017-02-10 10:47] AquilesCanta commented on #2422
Just as a heads up: I have been giving it a look, but the streams I've generated so far don't play in other players (vlc, for instance. Oddly, with similar behaviors) and don't pass validation. I'll try to figure out the cause, though.

[2017-02-10 11:35] Yonezpt commented on #2422
But the HLS streams do play correctly, right? It's just the MPD streams that are giving problems.

[2017-02-10 11:38] trulex commented on #2116
Where did you change that?

[2017-02-10 11:47] AquilesCanta commented on #2422
Honestly, I haven't checked the HLS streams. Will do later.

[2017-02-10 13:01] kartdroid commented on #2436
Attaching ADB Device Logs + ADB Bugreport from our application

[our_app_adb_bugreport1.txt](https://github.com/google/ExoPlayer/files/766711/our_app_adb_bugreport1.txt)
[our_app_adb_device_log1.txt](https://github.com/google/ExoPlayer/files/766712/our_app_adb_device_log1.txt)

[2017-02-10 13:04] kartdroid commented on #2436
Attaching Demo App ADB Device Logs + ADB Bug report

[demo_app_adb_bugreport.txt](https://github.com/google/ExoPlayer/files/766716/demo_app_adb_bugreport.txt)
[demo_app_adb_device_logs.txt](https://github.com/google/ExoPlayer/files/766717/demo_app_adb_device_logs.txt)

@andrewlewis  I have attached both the logs for reference .

However the Stack Trace looks different when playing our content vs D

[2017-02-10 13:09] kartdroid commented on #2436
Observations so far :
1) The Demo app fails because of a crypto exception whereas , our app fails because of a Decoder exception (failing to find NAL unit)
2) Our app is able to render audio (which means there was no problem in descrambling ? )
Are we missing any step in our application that could identify a DRM error ?

Kindly help us to identify the difference . Thanks !

[2017-02-10 13:41] petitTrung opened #2438 "Buffer configuration for live streams"
Hello,

I've encountered an buffering issue with ExoPlayer 2 :

- On my radio application, i would like to have a bigger buffer so that when the network is loss, i could continue listening for example 30s. Actually there some constants in the DefaultLoadControl class :

[code]

Actually, i have 5s of buffers, I did increase these parameters by 3x, 4x, 5x, .... together or separately but i found no

[2017-02-10 13:53] andrewlewis commented on #2342
@skuppa Can you use a ConcatenatingMediaSource joining several ClippingMediaSources, where each of those has the required start/end position and wraps an ExtractorMediaSource with the required URI? Note that for seamless video playback you'll need to ensure that the start time of every ClippingMediaSource is a keyframe (see #1988). It's fine to load the same URI more than once in different sources

[2017-02-10 14:35] ypresto commented on #1157
I tried `compile 'com.google.android.exoplayer:extension-okhttp:r1.5.14'` because I'm relying on library which still uses ExoPlayer v1, but I found there is no such version of extension.
Is there any plans to release it for v1?

[2017-02-10 14:54] needz commented on #906
In ExoPlayer 2, is there a correlation between the following items: **DEFAULT_MIN_BUFFER_MS, DEFAULT_MAX_BUFFER_MS, DEFAULT_BUFFER_FOR_PLAYBACK_MS, DEFAULT_BUFFER_FOR_PLAYBACK_AFTER_REBUFFER_MS** ?

That is, if I change the **DEFAULT_BUFFER_FOR_PLAYBACK_MS** and **DEFAULT_BUFFER_FOR_PLAYBACK_AFTER_REBUFFER_MS** values in app settings, should I change the **DEFAULT_MIN_BUFFER_MS** and **DEFAULT_MAX

[2017-02-10 15:40] carloshwa commented on #545
Any update on this, or is it possible with ExoPlayer 2 now?

[2017-02-10 15:50] AquilesCanta commented on #545
Not yet, guys, sorry.

[2017-02-10 15:54] Ambroos commented on #2416
Another interesting thing, we experimented with the resolution switch (to make canReconfigureCodec return false), but this did not help, decoding errors are still visible.

Sample stream: https://medialaan.ambroos.io/hls/diff-res/manifest.m3u8 (ads start at 0:40).

Is there any way we could sponsor development of a fix for this? MEDIALAAN would be more than happy to do something like that. Feel fr

[2017-02-10 16:08] AquilesCanta commented on #2416
That is indeed strange! We have already contacted the media codec team to see what's their view on this. We will post updates here.

[2017-02-10 20:09] RamIndani commented on #2321
@anup1245 You closed this issue, I would like to know if you found a solution to this problem as I am also facing the same issue. Thanks (I am not asking for code, I am asking if you did any lifecycle changes).

[2017-02-10 20:12] PaulWoitaschek opened #2439 "Seeking to end position when paused causes transition to next period"
ExoPlayer 2.2.0
Nexus 5x
Android 7.1.1

I use a `ConcatenatingMediaSource`. When I call `seekTo` with the current `windowIndex` and the duration of the file as `positionMs` in state `STATE_PAUSED` and `playWhenReady=false` I receive two events: `onPositionDisconunity`with that frame and `onPositionDisconity`with 0 but with the `windowIndex` increased.

This is problematic as when a user seeks with

[2017-02-10 21:10] khs8727 commented on #2432
Thanks for reply.

I found an alternative solution after further investigation.

[code]

The problem was that videoRenderer is not ended forever when player goes in background mode. which means "allRenderersEnded" is never set to true.
Instead of making status of VideoRenderer to "ended", I check ended status from audioRenderer.

As Contributor mentioned in #1407,

I override MediaCodecAudioTrackR

[2017-02-10 21:34] skuppa commented on #2342
Thank you Andrew.  This is really helps.

[2017-02-11 00:13] WeiChungChang commented on #2438
Dear @petitTrung:

I think the problem is similar to #2083; please refer to the logics below.

[code]

[code]

[code]

There are four parameters within DefaultLoadControl; two of them control the load timing; the other twos control when the playback starts by having sufficient buffering. Please refer to the figure below.
The maxBufferUs & minBufferUs are about the load timing but bufferForPlayback

[2017-02-11 01:42] RamIndani commented on #2435
I am facing similar issue on Android 5.1 - please update if found solution.

[2017-02-11 16:18] vince090416 opened #2440 "HLS AAC output:application/id3，application/cea-608"
codecName:null hasDecoder:false
 mimeType:application/id3 supportsFormat:0
 ######UNSUPPORTED_TYPE#######
 codecName:null hasDecoder:false
 mimeType:application/cea-608 supportsFormat:0
 ######UNSUPPORTED_TYPE#######
 Tracks [
   Renderer:0 [
     Group:0, adaptive_supported=N/A [
       [X] Track:0, id=0, mimeType=video/avc, supported=YES
     ]
   ]
   Renderer:1 [
     Group:0, adaptive_support

[2017-02-11 18:34] AquilesCanta commented on #2440
I don't understand the question. Could you please clarify exactly what you are trying to do?

HLS is an adaptive streaming protocol, not a compression format (like H264, for example). In other words, HLS is not something you decode. In exoplayer, FFmpeg can be used as an extension to decode, for example, a video stream in a certain compression format. This is particularly useful when the device do

[2017-02-12 10:33] ojw28 commented on #2437
Duplicate of #2176.

[2017-02-12 10:33] #2437 closed, assigned to nobody

[2017-02-12 10:34] ojw28 commented on #2176
Note from ref'd issue: An additional test stream is available at http://se-mashup.fokus.fraunhofer.de:8080/dash/assets/adinsertion-samples/events/inband/dash.mpd

[2017-02-12 14:25] ojw28 commented on #2430
Will it really? Can you provide some data that backs up this claim? Allowing extension looks like it would let you to remove one FrameLayout from the view hierarchy, but I doubt this has much of a measurable performance impact. It might also be possible for your users to eliminate the additional view by including yours using the <merge> tag.

We make things final where we don't think there's a goo

[2017-02-12 14:35] ojw28 commented on #2433
I think whether this fails depends on which version of javadoc is being used. If I remember correctly java8 versions are stricter, and treat this kind of HTML issue as an error where previous versions didn't. You can probably use an earlier version to generate javadoc correctly. That said, we should obviously correct the errors. Thanks for reporting!

[2017-02-12 15:06] ojw28 commented on #2438
For radio or any other live stream, depending on the exact type of the stream, it might not be possible to build up a large buffer in a sensible way. For example if the stream/server only allows you to request the past 5s of the stream, then the only way a player could build up a 30s buffer would be for it to sit around buffering for 25s after opening the connection, prior to starting playback. Th

[2017-02-12 15:17] ojw28 commented on #1157
The OkHttp extension can be built from [source](https://github.com/google/ExoPlayer/tree/156381b938559ecb4d7533fb82fd3f29be22cdd7/extensions/okhttp) for V1, but we will not be distributing it via Bintray/JCenter. We do distribute it for V2.

[2017-02-12 16:36] walksin opened #2441 "Change SimpleExoPlayerView and not display smooth"
When I use demo, I add some code at onConfigurationChanged to switch play in different SimpleExoPlayerView, the code is

    if(newConfig.orientation == ORIENTATION_LANDSCAPE){
      simpleExoPlayerView.setPlayer(null);
      player_view_full.setVisibility(View.VISIBLE);
      player_view_full.setPlayer(player);
    }else{
      player_view_full.setVisibility(View.GONE);
      player_view_full.set

[2017-02-13 00:38] ojw28 commented on #1033
You can use TextureView if you force Widevine into L3 mode. This will only work if the content license doesn't require a secure output path, since L3 cannot provide one. It *might* also be possible to use TextureView with L1 if the license doesn't mandate a secure output path, but I'm not sure about that. You'd have to give it a try.

It's working as intended that video displayed using the secure

[2017-02-13 00:42] ojw28 commented on #2415
Not without modifying the ExoPlayer library and then building from source. It's unclear that's really what you'd want to do anyway, given it would result in incorrect playback of all media that *does* have an (intentional) edit list?

[2017-02-13 03:00] ojw28 commented on #2414
That parameter name isn't accurate, so don't read anything into it. If you look at what happens on the JNI side of the opus extension, you'll see that `opusSecureDecode` is hardcoded to fail (see [here](https://github.com/google/ExoPlayer/blob/r2.2.0/extensions/opus/src/main/jni/opus_jni.cc#L128)).

It is theoretically possible to:
- Implement your own native library that implements DRM and an opu

[2017-02-13 03:03] #2414 closed, assigned to wvpaf

[2017-02-13 04:09] ojw28 commented on #2425
That definitely shouldn't happen, but I cannot reproduce the issue either. Please provide proper reproduction steps, preferably using the ExoPlayer demo app or some minor modification of it.

[2017-02-13 04:11] ojw28 commented on #2441
I think this is fixed in r2.2.0. If you believe otherwise, please file a new issue including *all* of the information clearly requested in the issue template, since there is not enough information provided here for us to assist.

[2017-02-13 04:11] #2441 closed, assigned to nobody

[2017-02-13 04:30] ojw28 commented on #2058
You can OR multiple flags together to represent that. That's why they're flags rather than consecutive numbers ;).

[2017-02-13 04:41] ojw28 commented on #2418
You can see what formats (and content protection) we support [here](https://google.github.io/ExoPlayer/supported-formats.html).

[2017-02-13 04:41] #2418 closed, assigned to AquilesCanta

[2017-02-13 04:42] Yonezpt commented on #2425
I am very ashamed, there is no problem. When I started porting the ExoPlayer to my custom Activity I temporarily commented the state changes (`onResume` `onStop` `onPause` etc.) to see how the background playback was working. After doing that and pressing "Run demo" while still playing a video, the previous "player ghost" kept playing on the background of the new updated activity and so on, this w

[2017-02-13 04:42] #2425 closed, assigned to nobody

[2017-02-13 05:07] rustyshelf opened #2445 "Rethink handling of "unseekable" mp3 files"
Using ExoPlayer v2.2.0 and trying to play this file: [sample.mp3](http://omnystudio.com/d/clips/3ea926be-9be7-482a-8ac3-a44f016e43d1/fb1f46f6-b3d6-4068-8ab5-a44f016e5066/f58994ce-4213-41a4-af2e-a714006ce1b2/audio.mp3?utm_source=Podcast&in_playlist=7f09e143-5892-47cc-a7e2-a4e4015c8eee) it reports as un-seekable. However this same file seeks fine in the Android MediaPlayer and various other players

[2017-02-13 06:22] wendong-li commented on #2414
Thanks for the clarification.

[2017-02-13 07:13] walksin commented on #2441
Thank you for your fast reply :)

I try it on r2.2.0 and image won't be fuzzy, it's great!

But there is a video render problem. When I switch, Image keeps still about seconds then start move，from the debug info, it tells that the video's renderedOutputBufferCount stop rising about seconds while audio's renderedOutputBufferCount keep rising.

How can I get a smooth switch SimpleExoPlayerView and w

[2017-02-13 07:17] babinoclock opened #2446 "Audio is truncated while using ConcatenatingMediaSource"
Hi. I am working on an Android app that plays remote mp3 files continuously. I have used **ConcatenatingMediaSource** to to input the player. Some songs are started before previous one completed. Here the audio is truncated at end for 1-3 seconds. How can i overcome that?

[2017-02-13 09:48] AquilesCanta commented on #2445
Have you seen #1299?

[2017-02-13 09:57] botondbutuza commented on #2430
I had to add an extra button (go live), and extra listeners on the view level, for our internal logging procedures. If there's a better way than making a copy of the class, I'm all ears - obviously we can edit the xml, but manipulating the controls programmatically is still impossible from what I can see.

[2017-02-13 11:41] rustyshelf commented on #2445
@AquilesCanta I have now (I did try and search for similar issues but didn't find any), my vote @ojw28 would be to assume constant bit rate and allow seeking, or at the very least have this as a configuration parameter. We're working on a new version of our app at the moment and not being able to seek (or even resume from the middle of) files like this would be a deal breaker :(

[2017-02-13 11:45] ojw28 commented on #2445
Are you in control of the media being played? If not then where is it typically coming from?

We're unlikely to add support for this case. As per #1299 it's unlikely MediaPlayer is doing a particularly good job of allowing seeking (there's likely a significant trade-off of one kind or another involved).

[2017-02-13 11:47] rustyshelf commented on #2445
@ojw28 we make a podcasting app, so we have 0 control over the media. Also this file seeks just fine on both iOS (using AVPlayer or AVAudioEngine) as well as on Android using MediaPlayer or just an Extractor. I understand the reasoning, but I have yet to see any of the previous solutions get seeking wrong in a CBR file. Pretty much all podcasts are CBR, VBR is extremely rare (< 1%). I get this cou

[2017-02-13 11:56] ojw28 commented on #2425
No worries; thanks for the update :).

[2017-02-13 12:06] ojw28 commented on #2352
Right. Android doesn't currently expose a FLAC decoder through MediaCodec by default (individual OEMs may choose to add one). It instead extracts+decodes FLAC to PCM as a single step under MediaExtractor, which ExoPlayer doesn't use. It's the only format for which this unusual setup is used in the platform, as far as I know :(.

The "proper" fix would be for the platform to expose a FLAC decoder t

[2017-02-13 12:16] ojw28 commented on #2430
Adding an extra button could be pretty easily done without extension. Replacing the layout using one of the approaches described [here](https://medium.com/google-exoplayer/customizing-exoplayers-ui-components-728cf55ee07a#.elkgs273q) would let you add an additional button, and you could find that button in a wrapping class using `findViewById` as normal.

I'm less sure about logging. It looks like

[2017-02-13 12:30] ojw28 commented on #2436
@wvpaf - Could you take a look at the second bug report / device logs provided above. Specifically, this:

[code]

[2017-02-13 12:45] ojw28 commented on #2392
How does each video frame actually get from ExoPlayer to Unity? Presumably you've provided a `Surface` of some kind to `ExoPlayer`, which was provided by Unity, and `ExoPlayer` is calling `releaseOutputBuffer` to release each video frame to the `Surface`. Is that correct? I wouldn't be surprised if there's some async step somewhere buried in the `Surface` implementation though, because the actual

[2017-02-13 13:28] botondbutuza commented on #2430
Regarding the extra button - I could do that, but separation of concerns would then be violated. My view would have to deal with some player control logic, instead of the view that was specifically made to encapsulate all of that logic, which seems backwards.

[2017-02-13 13:50] alfonsoramosa opened #2447 "Smooth Streaming {start_time} placeholder not supported"
Exoplayer 2.2.0
Device: Nexus player
Android 7.1.1

Exoplayer is not working with some Smooth Streaming manifests.

That's happening when the `Url `for a `StreamIndex` has a placeholder for the start time with the format: `"start_time"` instead of `"start time"`  (with an underscore between start and time).

**Example:**

`<StreamIndex Type="audio" QualityLevels="3" TimeScale="10000000" Language="

[2017-02-13 13:58] ojw28 commented on #2447
We should also match both {bitrate} and {Bitrate} according to the spec, rather than just {bitrate} as we do currently. We'll push a fix shortly.

[2017-02-13 14:36] ojw28 commented on #2441
You can read a bit about why it's (unfortunately) difficult to do what you're trying to do in https://github.com/google/ExoPlayer/issues/2093, https://github.com/google/ExoPlayer/issues/1084 and https://github.com/google/ExoPlayer/issues/318. If possible you should handle the configuration change yourself as the demo app does, to avoid the problem. It's more work and you might have to do a bit of

[2017-02-13 14:42] ojw28 commented on #2430
Yeah. I'm not really convinced extension is really the right way to do it though. If the base class doesn't know about the views you're adding, it's not necessarily going to just "do the right thing" (e.g. show and hide the button at the correct times). It might work right now for your use case, but I suspect there are lots of other use cases where it wont work quite right. The logging part is als

[2017-02-13 15:01] nshutov opened #2448 "Incorrect zoom 3x2 video on some TV devices. SurfaceView cant be outside screen bounds, cant be lager then screen"
Hello!
I use exoplayer:r2.2.0 on Sony BRAVIA 2015 (Android 5.1.1, API 22) android tv device. I try watch 360x240 video with set flag AspectRatioFrameLayout.RESIZE_MODE_FIXED_WIDTH
video: http://www.sample-videos.com/video/mkv/240/big_buck_bunny_240p_1mb.mkv
I have wrond aspect result, Bunny is soo fat) and top and bottom datk rectangles not clipped:
![20170213_174551](https://cloud.githubuserconte

[2017-02-13 15:05] walksin commented on #2441
Thank you so much 👍

[2017-02-13 16:27] michaelstrigy commented on #2392
Hi, thanks for your reply!

as you said, the surface is sent to exoplayer from unity.
using onVideoSizeChanged isn't possible since the video streams used are the same size.
Is there any way to see when a frame is of different stream in the output buffer? maybe a correlation between input/output buffers timings? that way it will be possible to have more accurate timing.

Any ideas maybe?

Thanks,

[2017-02-13 16:38] ojw28 commented on #2392
Is `MediaCodecVideoRenderer.onOutputFormatChanged` invoked at all on the format change, or is the format identical as far as the output side of the decoder is concerned, in which case it wont be invoked?

If it's not invoked then I think we'd need to record the presentation timestamp of the first input buffer to be queued after each change of input format. Probably as some kind of map from timesta

[2017-02-13 16:51] ojw28 commented on #2448
I'm unsure about sizing a `SurfaceView` larger than the display, but it isn't something I'd necessarily expect to work. Have you tried using `SimpleExoPlayer.setVideoScalingMode(C.VIDEO_SCALING_MODE_SCALE_TO_FIT_WITH_CROPPING)` together with `RESIZE_MODE_FILL`? I think that probably achieves what you're trying to do whilst sizing the `SurfaceView` to have the dimensions of the display rather than

[2017-02-13 17:06] ojw28 commented on #2435
Can you explain how to reproduce this using the ExoPlayer demo app, or some minimal variant of it? Does it only reproduce for certain streams? If so, please provide one that reproduces the issue.

[2017-02-13 21:21] ChernyshovYuriy opened #2449 "HLS renderer type confuse"
Hi colleagues,

I have a doubt related type of the renderer that ExoPlayer provide for the given url:
[code]
Here is log trace:
[code]

The confusion is - why "mimeType=application/cea-608" and "mimeType=application/id3" are sits in different renderer types? Are those two should be in the same renderer that relates to Metadata tendering? As consequence, I am seeing "Text" button on top of the vide

[2017-02-13 21:23] ojw28 commented on #2449
608 is text. ID3 is metadata. So this looks like it's working as intended to me?

[2017-02-13 21:26] ChernyshovYuriy commented on #2449
https://en.wikipedia.org/wiki/EIA-608

I was of the opinion that Closed Caption belongs to metadata renderer, am I wrong?

[2017-02-13 21:29] ChernyshovYuriy commented on #2449
Also, using ExoPlayer framework:
[code]
for "mimeType=application/cea-608" returns True, which makes me feel confused now.

[2017-02-13 21:31] ojw28 commented on #2449
Yes ;). This has never been the case. Closed captions have always been considered text.

This is just returning whether the mime type starts with "application". Which it does.

[2017-02-13 21:35] ChernyshovYuriy commented on #2449
Ok, thanks for clarification :-)

[2017-02-13 21:35] #2449 closed, assigned to nobody

[2017-02-13 21:40] japplin commented on #2122
@PunitD did you get this working? I've written my own implementation of summing up the parts
[code]
The issue I'm having is that the second data source I have in the list has a negative duration I believe this is because it hasn't been prepared yet. Also, @ojw28 any insight would be appreciated.

[2017-02-14 07:01] michalliu commented on #2159
It would be great to have a ffmpeg video render

[2017-02-14 07:08] EE-GSlomin commented on #2159
I ended up not pursuing this on my end because of the licensing issues with FFMPEG.

[2017-02-14 08:24] michaelstrigy commented on #2392
yep, that is the exact scenario, onOutputFormatChanged isn't invoked because the decoded frame are not different by any property.

I will try implementing this and update on the result, thanks!

[2017-02-14 08:47] bernhardpflug commented on #1865
+1

[2017-02-14 08:58] YounMario opened #2450 "How to change brightness"
How to change brightness without change system brightness ?

[2017-02-14 09:37] Panzenbaby commented on #472
I solved this by using
`mPlayer.seekTo(C.TIME_UNSET)`

[2017-02-14 09:50] thomas-le-bihan opened #2451 "Grab a frame of the video"
I want to grab a frame of the played video. I tried to work with `TextureView `(that have a `getBitmap()` method) making :

`player.setVideoTextureView(textureView);`

or

[code]

But video is not anymore crop but fit `VideoView` and video is deformed.

How can I properly work with `TextureView` ?

[2017-02-14 10:46] erenbakac commented on #2373
@wvpaf Sorry for late reply. I sorted it out by passing null value to create OfflineLicenseHelper instance. Thank you..

[2017-02-14 10:46] #2373 closed, assigned to wvpaf

[2017-02-14 10:51] bnhc commented on #605
Hello  ! May I play the H265 video  using  Exoplayer ? I haved tried to do it once failed,the resource was saved on the sdcard(transitioned by FFmpeg from MP4) And i get "Widevine DASH: MP4,H265" from  the demo (F:\ExoPlayer-release-v2\demo\src\main\assets\media.exolist.json), it can play on the Exoplayer Demo. What the differents from the "demo Resource" and "my Resource" ?  I need your help! And

[2017-02-14 11:03] erenbakac opened #2452 "how to access <Role> tag"
Hello,

[code]

According to lines above i can play subtitle file which has "main" value in the line starts with  `<Role>` tag  as default. This is ok.

I need to have those values from `<Role>` tag for some reasons .  But i can't reach them when i parse .mpd file with DashManifestParser. Is there any way of having them? Thank you.

[2017-02-14 12:32] gvader commented on #2099
I've checked commits referenced in #805 but was unable to determine a correct way to check content type. Unable to access Playlist object from HlsMediaSource in none of high level component APIs. Could you provide any example how to do that?

[2017-02-14 12:37] AquilesCanta commented on #2099
Have a look at the `onTimelineChanged` callback (`Exoplayer.EventListener`). The second argument recieved should be an instance of HlsMediaPlaylist. There you can look at the `playlistType`.

[2017-02-14 14:28] u2gilles opened #2454 "add audiofocus to SimpleExoPlayer - Play button listener?"
I am using SimpleExoPlayer and I am trying to add audiofocus. Requesting the audiofocus at launch is easy. But I have problem requesting it when the user presses the play button,  which is encapsulated by the PlaybackControlView I recall.

Is other words, how can I capture the play button click event when using SimpleExoPlayer and SimpleExoPlayerView (PlaybackControlView)? There is no listener for

[2017-02-14 17:15] samoylenkodmitry commented on #2441
Similar problem with r2.2.0.
After surface destroy->create with the same surface view and when called setPlayWhenReady(false) -> setPlayWhenReady(true) ExoPlayer just render next keyframe (in our source it is after 10 seconds). All that time sound plays, but video freezed on that keyframe.

On version r2.1.0 video was with artefacts however.

Note: workaround to this problem is call seekTo just be

[2017-02-14 19:29] ojw28 commented on #2454
You can do this by adding a listener to the ExoPlayer instance (`ExoPlayer.addListener`) and implementing the listener's `onPlayerStateChanged` to obtain or release audio focus as necessary. Note that `onPlayerStateChanged` will be called whenever `playWhenReady` is changed.

[2017-02-14 19:51] ojw28 commented on #2450
This is not something we support directly. If you render to a `SurfaceView` then I'm not sure whether it's possible. If you render to a `TextureView` or via GL then it should be possible, but the implementation will not be ExoPlayer (or video) specific. You should probably seek help around applying effects to TextureView on StackOverflow or similar.

[2017-02-14 19:51] #2450 closed, assigned to nobody

[2017-02-14 19:55] ojw28 commented on #2451
The question seems quite confused (what does VideoView have to do with anything; isn't it unrelated to ExoPlayer?), so I'm not sure what you're asking. If you're trying to use TextureView shouldn't you have: `app:surface_type="texture_view"`? You can then get the TextureView from the SimpleExoPlayerView and retrieve the Bitmap using:
[code]

[2017-02-14 19:59] ojw28 commented on #2452
Please could you expand on what "some reasons" are? The "main" role is represented in the track's `Format.selectionFlags` as `C.SELECTION_FLAG_DEFAULT`.

[2017-02-14 23:13] petitTrung commented on #2438
Thank both of you @WeiChungChang & @ojw28 for your help !

[2017-02-14 23:14] wvpaf commented on #2009
If no reply i will close next week.

[2017-02-14 23:24] wvpaf commented on #1303
The logs do not provide a lot of information, but things look to be working as intended.
There is a timing issue, in both the logs for 'G4' and in the 'Note 4'. There is a decrypt call as keys are being loaded. This can/will cause decrypt errors.

There are methods to determine when keys are available for decrypt, these are include in API #23 and newer.  Register for MediaDRM.OnKeyStatusChangeList

[2017-02-15 00:09] #2438 closed, assigned to nobody

[2017-02-15 00:15] ojw28 commented on #1303
@wvpaf - After ExoPlayer calls MediaDrm.provideKeyResponse, it assumes that the keys provided will be available straight away. Are you saying that's not the case (i.e. that MediaDrm.provideKeyResponse is asynchronous and we need to wait for a callback)? Where is that documented if so, and how can we know when the keys become available prior to API level 23? If not, then I'm not quite sure what "be

[2017-02-15 04:47] u2gilles commented on #2454
Thanks for your prompt answer but the problem with this solution, that I already tested with the debugger without fully implementing it, is that the onPlayerStateChanged() is called after the audio/video starts playing not before. I guess I can always stop playing if the audiofocus is denied but I wonder if SimpleExoPlayer/SimpleExoPlayerView provides a more elegant solution. How to capture the PL

[2017-02-15 05:57] djmalkar opened #2455 "Exoplayer in recycler view"
I have integrated exoplayer in my recycler view. So far i am able to integrate it successfully. Now i want to increase its performance. How to reuse SimpleEXoPlayer when use click other video in list item of recycler view. When new video is about to be played how to pass new video url and hot to efficiently implement simpleExoPlayer. Right now i am creating new instance when new list video item is

[2017-02-15 06:39] rustyshelf commented on #2445
@ojw28 curious to know if this is something you'd consider, or whether your intention is to keep it as is. If we were to make this change ourselves I'd be curious on your opinion as to the best place to make it, and whether you'd consider a pull request for it or not?

[2017-02-15 07:48] gvader commented on #2099
I found `isCurrentWindowDynamic()` in `SimpleExoPlayer` class. It did the job for me, but the documentation was little unclear. Would be good to add some reference with better description about this Window/Period convention. And whole description of relation window and period size/number with playback type would be nice too.

[2017-02-15 07:54] ghost opened #2456 "Check video object when playing"
I have questions about _ConcatenatingMediaSource_. I want to play multiple videos and every time when one video ends, to check one method. But in the case _ConcatenatingMediaSource_, he gives me to know about the latest after the end of the video, that is, at the end of the list of videos.

[code]
Q: How do I get **STATE_ENDED** after every video or how to understand in ConcatenatingMediaSource, w

[2017-02-15 09:31] manishmips commented on #2435
This issue occurs when I press home and then resume again and again
I have observed a case when I hit retry its not resume but when I drag seek bar it to start position  Player resume from start correctly .

This scenario occurs in Demo also but player set to start position automatically

[2017-02-15 13:29] CotunaAurelian commented on #2049
Any update on how to fix this?
I'm getting the same error on low end devices

internalError [1371.79, audioTrackUnderrun [65536, 371, 590]]
 E/EventLogger: internalError [1371.98, audioTrackUnderrun [65536, 371, 1202]]
 E/EventLogger: internalError [1374.77, audioTrackUnderrun [65536, 371, 935]]
 E/EventLogger: internalError [1377.00, audioTrackUnderrun [65536, 371, 438]]
E/EventLogger: internalEr

[2017-02-15 14:00] andrewlewis commented on #2456
Please see #2053.

[2017-02-15 14:00] #2456 closed, assigned to nobody

[2017-02-15 15:11] ptran-gpfw commented on #2409
Hi @ojw28, any chance you could take a look at this?

[2017-02-15 15:15] yhd4711499 opened #2458 "missing a progurad rule for FlacStreamInfo in flac extension"
branch: release-v2

`FlacStreamInfo` is obfuscated, which causes a native crash:
[code]

Maybe this should be added to `proguard_rules.txt`:
[code]

[2017-02-15 15:33] ojw28 commented on #2445
I think it's quite problematic to turn it on blindly, particularly with respect to playlist support. We could probably have it as an option that you can enable on the extractor. You'd need to pass your own ExtractorsFactory to ExtractorMediaSource that sets the option, if we were to go down that route.

[2017-02-15 15:34] ojw28 commented on #2435
Please can you provide precise reproduction steps for the demo app (i.e. exactly which stream you're playing, exactly what steps you're following, and how often the issue reproduces)? There's really not enough information here for us to reproduce the issue.

[2017-02-15 15:36] ojw28 commented on #2454
Ah, I see the issue. We should take a look at supporting this case. Thanks!

[2017-02-15 15:37] ojw28 commented on #2458
This is tracked by #2427, thanks!

[2017-02-15 15:37] #2458 closed, assigned to nobody

[2017-02-15 15:37] ojw28 commented on #2427
Reopening until fix is merged.

[2017-02-15 18:08] #2447 closed, assigned to nobody

[2017-02-15 18:08] #2433 closed, assigned to nobody

[2017-02-15 18:08] #2352 closed, assigned to erdemguven

[2017-02-15 18:09] #2408 closed, assigned to andrewlewis

[2017-02-15 19:11] ojw28 commented on #1865
I think this should be fixed in `dev-v2` now, but please give it a try and verify. Thanks!

[2017-02-15 19:11] #1865 closed, assigned to nobody

[2017-02-15 19:17] ojw28 commented on #2440
Closing due to lack of clarity. There doesn't appear to be a description of a problem or a question in this issue.

[2017-02-15 19:17] #2440 closed, assigned to nobody

[2017-02-15 19:42] andrewlewis commented on #2413
The download link on that page doesn't seem to work. Please could you share some instructions describing how to download the file? If the player is stuck buffering, I'd guess this might be the same as #1386 but we'd need to look at the media to know for sure.

[2017-02-15 19:48] ojw28 commented on #2404
Closing due to lack of information.

[2017-02-15 19:48] #2404 closed, assigned to nobody

[2017-02-15 19:49] #2211 closed, assigned to nobody

[2017-02-15 19:50] #1974 closed, assigned to nobody

[2017-02-15 19:51] ojw28 commented on #2026
Closing due to lack of clarification.

[2017-02-15 19:51] #2026 closed, assigned to nobody

[2017-02-15 19:57] ojw28 commented on #631
The tests that still fail are appear to be hypothetical cases that shouldn't occur for correctly formed media. We've not seen any actual issues with real content as a result of these tests not passing, therefore I'm going to close this issue.

[2017-02-15 19:57] #631 closed

[2017-02-15 21:14] rustyshelf commented on #2445
@ojw28 completely agree that it shouldn't be on by default. I guess my question was around where to add the API. For example the player could have a seekToApproximatePosition() was my thinking. You'd call this if isSeekable is false and you don't mind imprecise seeking. I also feel that seek should be changed to not attempt to seek unseekable files, since it just resets the position. That could be

[2017-02-16 01:34] ghost opened #2459 "Concatenate parts to form one unique video"
Hello.
I need to create a video concatenating it's parts, considering that the parts can come from different providers.
I'm working with each part as a different video file, so currently, I'm passing an URI list (one for each part) and displaying the parts as a playlist (with the "action view list" stuff). In the first moment, it was preety satisfying, but now I have two issues:

1) by what I chec

[2017-02-16 04:02] ghost opened #2460 "How to hide all control components?"
How to hide all controllers  (start button, pause, and so on) that they did not exist, and the screen will always full.

I looked, there is simpleExoPlayerView.setUseController(true) method;

But it deactivate the player ...

[code]
How to hide or delete these components?

[2017-02-16 04:17] directable commented on #2460
Have you tried just doing
simpleExoPlayerView.setUseController(false);
simpleExoPlayerView.hideController();

simpleExoPlayerView.setPlayer(playeryoucreated);

[2017-02-16 04:20] ghost commented on #2460
this method is not - hideController()
But it works for me. Thank you!
[code]

[2017-02-16 05:47] keima opened #2461 "Not stop playback when SimpleExoPlayerView.setPlayer(null)"
Thanks for developing very useful library.

## A description of the issue.

Not catching STATE_ENDED and not stop and keep moving position (player.getCurrentPosition()'s value) when position is exceeded to MediaSource's duration at specific condition.
(Sorry I'm just trying HlsMediaSource so I don't know other MediaSource)

I doubt that my project has two SimpleExoPlayerView and switch active view

[2017-02-16 05:52] rustyshelf commented on #2445
Ok after looking at this a bit more, it seems like the simplest change is to alter the `Mp3Extractor` to use the `ConstantBitrateSeeker` if no other seeker can be set up (eg seeker == null). We made this change and tested it and now all our test MP3's seek great (including the one referenced above).

The only minor downside is that this involves making our own `ExtractorFactory` and also copying t

[2017-02-16 07:16] devesh2605 commented on #1307
I am trying to integrate the Google Exoplayer with Unity and I am a newbie in Unity. How did you export the exoplayer as a plugin, by exporting it as a library in the form of *.jar or using some other techniques. Any help would be appreciated.

[2017-02-16 09:50] AquilesCanta commented on #1307
There is some content [here](https://medium.com/@cinemur/exoplayer-for-building-powerful-vr-players-for-cardboard-and-gearvr-73ec7e83dd5c#.52ou4a6su) that might be useful. I'd also suggest trying Stack Overflow or similar. This tracker is reserved for feature requests and bug reporting.

[2017-02-16 11:19] luckcoolla opened #2462 "Demo app: Remove unnecessary null check"
Subj has been added in the merge-commit:
https://github.com/google/ExoPlayer/commit/08256eee325bc6839da36235986c58354ae20a9d#diff-2d7c90094a38af7c958587933f774846

[2017-02-16 11:24] u2gilles commented on #2454
Thanks. In the meanwhile I already implemented your first solution. The very short overlapping when both audios play at the same time is not noticeable from the ear of course.
But still, android doc recommends about Audio Focus at [https://developer.android.com/guide/topics/media-apps/audio-app/mediasession-callbacks.html](url) :

[2017-02-16 11:35] manishmips commented on #2435
@ojw28
Just talking about Exoplayer demo application I am sharing a video with reproduction steps on youtube
`Device version -kitkat 4.4.4
Model number -HM NOTE 1LTE`

**Video url -https://www.youtube.com/watch?v=pRi7bJJcACE**
In video I am playing from demo video list  **Widevine DASH :MP4,H264** ->first video

1. Open video and select above video for playing
2. seek video to a particular positio

[2017-02-16 11:57] replystreamingwidevine commented on #2380
We have additional information on this topic:

1) The issue occurs when we switch from a channel DRM free to a channel with DRM. Does not happe if we start from a DRM'ed channel and we switch several time on DRM'ed channel
2) The issue occurs also on the ExoPlayer Demo (1.5.9 but on 2.2.0 as well). We have modified the application to replicate this case

[2017-02-16 12:34] andrewlewis commented on #2459
1. #2122 tracks showing all concatenated periods in the seek bar.
2. Please could you provide URLs to the streams you're concatenating so we can reproduce the issue? Thanks.

[2017-02-16 14:24] ghost commented on #2459
Hello, Andrew.
Thanks for your answer! :)
About the videos, they're available at coliseu.inf.ufrgs.br/verona. I'm using 16 files of 10 seconds each. The files are named like bbb_sunflowerX.mp4, with X going from 1 to 16 (bbb_sunflower1.mp4, bbb_sunflower2.mp4, ...). They all have a resolution of 3840x2160 and I'm using a mobile phone capable of streaming a video of this quality.
Basically, I'm pas

[2017-02-16 14:27] ghost commented on #2459
Also, more two things to point.
When I pass this video, the player informs that the audio of the stream cannot be reproduced. Could this frames lost be related to this?
And the last thing, how can I get the index of the video showed at the moment (considering I passed a list)?

Thanks.

[2017-02-16 15:44] IA-Ben commented on #2336
Hi @WeiChungChang
Thank you very much for this. @SteUK is away for the next week but will look at this once he's back.
Best, Ben

[2017-02-16 16:18] toanvc commented on #676
@ojw28 : is there any ways in v2 to implement this on HLS? I didn't see FormatEvaluator anymore.

[2017-02-16 16:39] ojw28 commented on #2445
If you look at `FragmentedMp4Extractor` you'll see there are some flags that can be passed to the constructor to enable different non-standard behaviors. The no-arg constructor passes 0 (i.e. no flags). You could do something similar in `Mp3Extractor` to allow using `ConstantBitrateSeeker` if no other seeker can be configured (`FLAG_ENABLE_CONSTANT_BITRATE_SEEKING` or something). Initially there w

[2017-02-16 16:50] jschamburger commented on #1865
Working great for me! The player shows a black screen (state buffering) until segments are available and then it starts playing. 👍

[2017-02-16 16:51] ojw28 commented on #1865
Great; thanks for verifying!

[2017-02-16 17:23] ojw28 commented on #2386
The change ref'd above adds support for the `mspr:pro` element in V2, although I agree they should be including `cenc:pssh` as well regardless. We have no plans to backport.

[2017-02-16 17:23] #2386 closed, assigned to nobody

[2017-02-16 17:42] ojw28 commented on #2462
Sure; can do. Thanks!

[2017-02-16 17:43] #2460 closed, assigned to nobody

[2017-02-16 17:51] ojw28 commented on #2435
There's no EOFException in the latest attached log. Neither is there any visible failure in the attached video. It's very unclear what the issue is you're trying to report.

[2017-02-16 17:51] ojw28 commented on #2435
I see the playback starting from the beginning rather than the previous position, but this seems to be completely unrelated to the rest of this issue, which is about EOFException?

[2017-02-16 17:53] nshutov commented on #2448
I try `setVideoScalingMode(C.VIDEO_SCALING_MODE_SCALE_TO_FIT_WITH_CROPPING)` in many places in code(player init, after set data source, player state changed) with `AspectRatioFrameLayout.RESIZE_MODE_FILL` - no effect(((
After chage `AspectRatioFrameLayout` to `FrameLayout `- no effect(((

MediaCodecVideoRenderer.java:
`private static void setVideoScalingMode(MediaCodec codec, int scalingMode) {

[2017-02-16 17:57] andrewlewis commented on #2459
I don't have a diagnosis about why the transitions between the clips are not seamless yet but I wanted to note a few things:

- Call `ExoPlayer.getCurrentWindowIndex()` to get the index of the currently-playing stream. `ExoPlayer.EventListener.onPositionDiscontinuity()` is called when the value changes.
- To show a complete timeline for a sequence of files like this, in general we'd need to prepar

[2017-02-16 18:18] AquilesCanta commented on #2461
Please, see #2432. Thank you for the thorough report!

[2017-02-16 18:18] #2461 closed, assigned to AquilesCanta

[2017-02-16 18:20] AquilesCanta commented on #2432
Disabling the unused renderers through the TrackSelector should fix your issue.

[2017-02-16 18:55] #2462 closed, assigned to ojw28

[2017-02-16 19:43] #2451 closed, assigned to nobody

[2017-02-16 19:43] andrewlewis commented on #2459
I had a look at the first two files. Each file has an edit list that offsets its sample timestamps -- 1.6 seconds for the first file and 3.9 seconds for the second. This explains the pause at the start of each stream's playback. Do you know why these edit lists are present, and/or how the files were produced?

[2017-02-16 19:53] ghost commented on #2459
Well, I used ffmpeg to make the video parts through "split" command.
I didnt really know about these edit lists, I dont know why the command created it and to be honest, I don't really know what they are. Do you know any way to remove then? PS.: removing them would avoid the pauses, right?

Thanks.

[2017-02-16 20:00] andrewlewis commented on #2459
Could you try passing `-use_editlist false` to see if that fixes it?

[2017-02-16 20:10] ghost commented on #2459
I used this command:
sudo ffmpeg -v quiet -y -i video.mp4 -vcodec copy -acodec mp3 -ss 00:00:00 -t 00:00:10 -use_editlist false -sn video1.mkv
And I'm still getting the pauses.

Thanks.

[2017-02-16 20:18] andrewlewis commented on #2459
I suspect this either an issue with FFmpeg or with the original content. You'll probably get better advice on an FFmpeg-specific mailing list or a general site like Stack Overflow.

Please reopen this issue if you discover that we are interpreting the edit lists incorrectly. Also, playing a sequence of MP4 clips in this way may be suboptimal depending on what you're trying to do, so I repeat my su

[2017-02-16 20:18] #2459 closed, assigned to nobody

[2017-02-16 22:10] ghost commented on #2459
@andrewlewis that's a good feedback.
But just a doubt, how did you check the duration of the edit lists?

A massive thank you again.

[2017-02-17 00:09] andrewlewis commented on #2459
I'm not sure what you mean by 'duration of the edit lists', but to see the contents of the edit lists you could (for example) add some logging to `AtomParsers.parseEdts`, or set a breakpoint there. In case it helps, the sample tables get updated based on the edit list in `AtomParers.parseStbl`. Thanks!

[2017-02-17 00:52] ojw28 commented on #676
All track selection is converged into TrackSelector and TrackSelection in V2, and works in the same way for DASH, SmoothStreaming and HLS. The demo app allows you to select from the available streams in all cases. I suggest you take a look at the trackselection package if you're interested in the internal details.

[2017-02-17 03:57] keima commented on #2461
Thanks suggestion! I fixed this issue.

I write below commit for fix this issue.
Please someone who to have same trouble may check below commit.
https://github.com/keima/ExoPlayerExample/commit/392c748e29f89d07e6bdf2e3e0dc1d23539e72fc

[2017-02-17 04:17] toanvc commented on #676
@ojw28 : Thanks for response! I saw `AdaptiveVideoTrackSelection` and I did it successfully.
I have questions: when I used

in my setting as the same value in `AdaptiveVideoTrackSelection`, but it seems always choose the low bitrate from my stream (my stream support the lowest is `2000000` and the highest is `4000000`).
After I changed that value to

my player run with adaptive bitrate and played

[2017-02-17 04:21] ojw28 commented on #676
You're doing the right thing. There's a known issue specifically for HLS where the initial selection isn't being applied correctly. This is tracked by https://github.com/google/ExoPlayer/issues/2353.

[2017-02-17 04:31] ram992 commented on #2049
is this stopping you from playing audio

if yes you need to do a software update of your mobile

else you can ignore it, I too get this error, but every thing plays fine

[2017-02-17 04:42] toanvc commented on #676
@ojw28 Thank you so much! You guys are doing great ExoPlayer.
Look forward for the next version with fixing that bug.

[2017-02-17 06:59] keima commented on #2461
@AquilesCanta
Could you answer a few question?

After investigating my implement above, I realized stream is stop little bit like buffering when `setRendererDisabled(index, false)` after `setRendererDisabled(index, true)`.
(Not happened when `setRendererDisabled(index, true)` after false.)

I watching logcat during above situation, `AdaptiveMediaSourceEventListener#onLoadStarted()` and `onLoadComp

[2017-02-17 06:59] manishmips commented on #2435
Yes its completely unrelated but with my streaming url for same scenario I
am getting EOFException .I just wanted to know particular problem arise
with me only .I am using amazon DASH url .Should I handle EOFException
onPlayerError()?

[2017-02-17 14:13] jmgirven opened #2465 "Supported audio codecs -- Especially ATMOS"
Does ExoPlayer support whatever audio codecs the device does? Or does it have a list of supported codecs? Presumably the same applies for video?

I was asked if our app (using ExoPlayer) supports videos with "Dolby TrueHD 7.1 ATMOS" audio tracks, e.g: http://thedigitaltheater.com/index.php/dolby-trailers/. Unfortunately I don't have a device that supports ATMOS, so can't really test it for myself.

[2017-02-17 14:14] jmgirven commented on #2465
I see ExoPlayer mentions the mime type "audio/true-hd", but I actually don't if that is the same as ATMOS.

https://github.com/google/ExoPlayer/blob/25a966dc2300161448fa74dee5ee98322ff65604/library/src/main/java/com/google/android/exoplayer2/util/MimeTypes.java#L54

[2017-02-17 14:36] tanmaybaranwal opened #2466 "ExoPlayer not able to play DASH media on Android 4.2.2"
- ExoPlayer not able to play DASH media on Samsung Galaxy Duos 4.2.1, while it is mentioned that minimum requirement for DASH is API 16. I've tried with ExoPlayer's Demo App and [other written code](https://gist.github.com/tanmaybaranwal/718e3993d32bb501f04015c72104f7e4). Both aren't working.
- I am using ExoPlayer 2.2.0
- The media is being played on 6.0.1 but not on 4.1.2 and 4.2.2
- On the ExoP

[2017-02-17 14:42] ojw28 commented on #2435
Despite multiple requests, you've yet to provide proper reproduction steps for the issue being reported. I'm going to close this. If you want to file a new issue that includes all of the information that's clearly requested in the issue template, please feel free to do so!

[2017-02-17 14:42] #2435 closed, assigned to nobody

[2017-02-17 15:51] moagrius opened #2467 "Offlining video with encryption"
*I'm not using the template because I'm not filing a bug report or reporting an issue, bur rather requesting a wiki, sample, documentation, or some form of direction*

First, thanks to all the contributors for the time and work they'v invested, this is a great product and I appreciate what's involved in maintaining it.

This isn't a bug report so much of a request for direction.  The question seem

[2017-02-17 16:05] andrewlewis commented on #2465
On the rendering side, `MediaCodecAudioRenderer` and `MediaCodecVideoRenderer` support whatever codecs the device has, but on the extraction side we have to add support for each format individually (which can be non-trivial). See also [Supported formats](https://google.github.io/ExoPlayer/supported-formats.html) for more information.

Note that for surround playback it is common to output encoded

[2017-02-17 16:05] #2465 closed, assigned to nobody

[2017-02-17 20:18] Jermyhewitt commented on #2432
As keima mentioned in issue #2461 there is a very noticeable delay when the the renderer is enabled. So when the activity is resumed and the surface is recreated and the renderer is re-enabled the audio playback stops for about 3 seconds. Is there a fix for that? khs8727 could you please provide a more complete example of your solution?

[2017-02-17 21:38] stari4ek opened #2469 "Frame drops and stalled video while playing MPEG-TS/AVC on Sony Bravia 4K GB"
* checked with demo player based on v1 and v2 (65d4b1cf5c75bf6416acb4836564745f5f57048e)
* video is mpeg-ts/AVC High@L4/mpeg-L2 48kHz (https://drive.google.com/file/d/0Bww3WxdHUiM1WmlZVGZYelB5QjQ/view?usp=drivesdk)
* checked without extensions (logcat: [exoplayer_demo_log-noext.txt](https://github.com/google/ExoPlayer/files/784379/exoplayer_demo_log-noext.txt))
* checked with ffmpeg ([exoplayer_de

[2017-02-18 06:43] tapankumar opened #2470 "HLS 302 Issue"
I am using Wowza Dyanamic Load Balancer and unable to play below HLS urls which gives 302.

It works well with VLC, Native Android and older version of EXO 1.5.7.

http://digilb.nexg.tv/redirect/live/aajtak.smil?scheme=m3u8&sf=net
and
http://digilb.nexg.tv/redirect/live/amlst:aajtak?scheme=m3u8&sf=net&network=wifi

It throws below error in latest version of EXO.

02-18 11:38:25.878 29680-29680/com

[2017-02-18 10:56] andrewlewis commented on #2470
Prepare the player with an `HlsMediaSource` to play an HLS stream. It looks like you're using `ExtractorMediaSource` at the moment.

[2017-02-18 10:56] #2470 closed, assigned to nobody

[2017-02-18 15:42] eseffair opened #2471 "Subtitle usage sample"
Can anyone provide a complete and functional example of how to load subtitles, and srt subtitles are supported?

[2017-02-19 04:13] WeiChungChang commented on #26
Dear all:

Besides setting speed, **I think we should inform the track selection (AdaptiveVideoTrackSelection) also for adaptive streaming case.** **Otherwise, it may lead to rebuffering by wrongly (over) estimated bit-rate.**

You could compare the result below to understand why we should do so.
1. Without the patch, several re-buffering happened:
https://youtu.be/snDOuQ2yG5E
2. With the patch, N

[2017-02-19 09:39] tapankumar commented on #2470
Thanks.
I saw the code and you were right.

Here is my entry in media.exolist.json now

{
        "name": "Digivive LB with AMLST",
        "uri": "http://digilb.nexg.tv/redirect/live/amlst:aajtak?scheme=m3u8&sf=net&network=wifi",
        "extension": "m3u8"
      }

Here is the code from PlayerActivity which leads me to the right directions.

private MediaSource buildMediaSource(Uri uri, String o

[2017-02-19 12:12] aliasgarlabs commented on #999
@ojw28 I'm having trouble playing mp3 from obb.

I read this comment of yours. Do you care to explain after mounting, how did you **use it**? Thanks :)

[2017-02-19 17:07] redgetan opened #2472 "How to export ConcatenatingMediaSource into single mp4"
Im using ConcatenatingMediaSource to playback multiple short mp4 in sequence (some of them coming from different sources). Is there a way to export the result into a single mp4 in sdcard for instance. I've tried to look for this information in the docs and issues but couldn't find anything.

[2017-02-19 20:05] bigexxx opened #2473 "Please change all methods and fields from private to protected"
It will be very useful if all methods and fields would be of type protected.
Now i need very small modification for proper handling dpad controlling of seekbar (with proper delay, small steps with linear increase etc..), and for that i should copy all classes which used for that (SimpleExoPlayerView and PlaybackControlView) for small modification... it is not so good for later updates ((

[2017-02-19 20:51] ojw28 commented on #2473
Whilst it might be convenient for you in the short term if we were we to do this, it would effectively add *every* field and method to the public API, meaning that changing literally anything could potentially break developers when they go to upgrade from one version of ExoPlayer to the next. This is not a good idea, and is not something we'll be doing.

It sounds like you're fixing something that

[2017-02-19 20:51] #2473 closed, assigned to nobody

[2017-02-19 20:52] ojw28 commented on #2472
ExoPlayer is a library for media playback, not media generation, and hence this is not a supported feature.

[2017-02-19 20:52] #2472 closed, assigned to nobody

[2017-02-19 20:59] bigexxx opened #2474 "How to get currently playing video and audio bitrate"
How we can get video and audio bitrate (estimated) from currently playing chunk? Not the downloading bitrate, not the bitrate specified at manifest file (in case of hls), but real bitrate of video and audio streams in .ts chunk? Is it possible?

This data needed for debug window for enduser

[2017-02-20 04:06] WeiChungChang commented on #2474
I think for getting real bit-rate, you may need to know two parameters.
1. Real size of a particular media chunk.
2. Media chunk's duration.

For 1, The actual size of a particular media chunk could be known by **sampleBytesTransferred** within **DefaultBandwidthMeter**.
In order to get it, I tried to implement the EventListener of BandwidthMeter and create a new API = onTransferEnd() to inform th

[2017-02-20 07:15] bigexxx commented on #2474
Good, but slightly not what i want. sampleBytesTransferred / chunk duration give us a total bitrate of the chunk = video bitrate + audio 1 bitrate + audio 2 bitrate + maybe some additional data. I want it separate to display on information popup like that:

Video bitrate: 1234 Kbit/s
Audio bitrate: 123 Kbit/s

I think unpaking media stream doing by media codec ?

[2017-02-20 10:25] ghost commented on #2441
i had the same problem.
After surfaceview destroy->create with the same surfaceview .. sometimes, the SurfaceView will keep the frame when destory.

[2017-02-20 10:38] ojw28 commented on #2474
We don't expose this information. It doesn't sound particularly important, so I suspect you'll just have to manage without ;).

[2017-02-20 10:38] #2474 closed, assigned to nobody

[2017-02-20 10:46] andrewlewis commented on #2471
Does #2017 help?

[2017-02-20 11:24] #2445 closed, assigned to andrewlewis

[2017-02-20 12:26] lazarvgd opened #2476 "ExoPlayer hls stream freezes after a few minutes of playing"
Hi,

I have an issue with ExoPlayer. I can play HLS stream for a few minutes, but after a few minutes it freezes, no output warnings in logcat, no errors.
The only message I got is this `E/ACodec: [OMX.google.h264.decoder] storeMetaDataInBuffers failed w/ err -1010` , but player is able to play the stream.

Also I am able to "refresh" the player by recreating the player with the same url. This is

[2017-02-20 12:37] AquilesCanta commented on #2476
Have you managed to reproduce with a physical device?

[2017-02-20 12:37] AquilesCanta commented on #2476
Please provide all the information in the issue template, as well.

[2017-02-20 12:41] eseffair commented on #2471
Hi @andrewlewis, I'm doing exactly that way, but I always get this exception...

[code]

[2017-02-20 12:42] lazarvgd commented on #2476
Please tell me if I need to provide source code?
Thanks

[2017-02-20 12:52] DavidMihola opened #2477 "Ways to tune adaptive switching for HLS?"
After migrating our app from ExoPlayer 1 to ExoPlayer 2 it seems that the adaptive switching behavior when playing HLS streams is slightly different now. Particularly, it seems that switching up to a better stream quality now takes noticably longer that before. (Did ExoPlayer 1 switch up mid-chunk when possible?)

Are there any ways to influence the adaptive switching behavior for HLS streams in E

[2017-02-20 13:05] AquilesCanta commented on #2476
No, assuming you can reproduce this using the DemoApp, please send a link to the stream, as requested in the issue template.

[2017-02-20 13:38] lazarvgd commented on #2476
Unfortunately I am not able to provide you stream URLs because there are network restrictions - I am accessing these streams over VPN. Any other suggestions?

[2017-02-20 14:11] AquilesCanta commented on #2476
There is not enough information for me to know what the issue is. For starters, I will need the media sample you are using. Try reproducing with a few concatenated chunks instead of an HLS manifest. If it reproduces, send me the chunks. Also send the bugreport from the physical device, please.

[2017-02-20 14:23] alfonsoramosa opened #2478 "Smooth Streaming {CustomAttributes} placeholder not supported"
Exoplayer 2.2.0
Device: Nexus player
Android 7.1.1

Exoplayer is not working with some Smooth Streaming manifests.
That's happening when the Url for a StreamIndex has a **CustomAttributes** placeholder.
This placeholder is not replaced with a value.

Manifest example:
[code]

[2017-02-20 14:44] ojw28 commented on #2478
Please feel free to send a pull request to `dev-v2` to fix this.

[2017-02-20 15:02] AquilesCanta commented on #2358
Closing due to lack of updates.

[2017-02-20 15:02] #2358 closed, assigned to AquilesCanta

[2017-02-20 15:03] AquilesCanta commented on #2041
Closing due to lack of information.

[2017-02-20 15:03] #2041 closed, assigned to AquilesCanta

[2017-02-20 15:04] AquilesCanta commented on #1470
Have you managed to reproduce this issue recently? It should be fixed by now, I think.

[2017-02-20 15:07] AquilesCanta commented on #1470
Do you still have HLS streams with multiple CC services? If so, please send us a link. We are currently working on support for this.

[2017-02-20 15:10] AquilesCanta commented on #2477
Yes, but that aspect has not changed. That is, neither version can cancel a chunk download to start downloading a different variant, though we might do something about this in the future.

Something that might be worth checking is whether your streams contain multiple audio renditions. Ideally, please send a stream that reproduces the longer preparation time to dev.exoplayer@gmail.com, so I can ru

[2017-02-20 15:21] ojw28 commented on #2469
Are you using `FLAG_ALLOW_NON_IDR_KEYFRAMES` when building the `TsExtractor`? It plays fine for me with the flag set. Without it I just see a black screen. Please clarify. Thanks!

[2017-02-20 15:25] ojw28 commented on #2469
Note: I was testing on a model running L (API level 22) rather than M (API level 23).

[2017-02-20 16:13] ojw28 commented on #2467
I think this is relatively straightforward to achieve in V2. First, create a `SimpleCache` into which you'll offline media. In this example we'll use `NoOpCacheEvictor` to ensure nothing's evicted from the cache. Note that in a full solution you should pass an evictor implementation that's smart enough to evict media that the user no longer wants to be offlined.
[code]
You'll already have a `DataS

[2017-02-20 16:17] jercul79 commented on #2105
What about live content where the proxy server does not know beforehand what keyids/keys will be requested in the future?

[2017-02-20 16:48] stari4ek commented on #2469
This issue was reported by user, so I can not reproduce by myself (don't have Sony TV).
But here it is what I have:

- it's reproducible with my app (exoplayer v1, _WORKAROUND_ALLOW_NON_IDR_KEYFRAMES |                                       WORKAROUND_DETECT_ACCESS_UNITS_)

- it was reproduced by user with ExoPlayer demo based on v2:
- branch: https://github.com/stari4ek/ExoPlayer/tree/tvirl/exopla

[2017-02-20 17:12] #2427 closed, assigned to erdemguven

[2017-02-20 17:12] #2415 closed, assigned to nobody

[2017-02-20 17:43] moagrius commented on #2467
Thank you very much for the response.  I think I misidentified some of the requirements (e.g., we won't be able to cache due to space considerations, and I'll need to be able to directly encrypt the download stream - there will never be a clear file on the device), but I should be able to figure it out from what you've posted.  Assuming I can get something working, I'll post back for future search

[2017-02-20 17:53] ojw28 commented on #2467
You can disable caching by passing null as the sink for the `DataSource.Factory` used during playback. The code above already directly encrypts the stream prior to it being written to disk, so I think it does what you want.

[2017-02-20 18:00] moagrius commented on #2467
it won't be downloaded during playback - it's a download "operation" - the user has to explicitly request a download (which does not result in playback - e.g., they can select multiple downloads from a list, and have multiple downloads running in parallel.

in theory, shouldn't i be able to create an `AesFlusingCipher` in decrypt mode, read from a download stream, call `updateInPlace` on the `File

[2017-02-20 18:01] ojw28 commented on #2467
The code sample provided above (`offlineMediaUri`) is exactly code for a download operation that is not part of playback.

[2017-02-20 18:04] moagrius commented on #2467
right, i'm just wondering if we actually need the `CacheDataSource` at all - could we not skip a lot of the extra plumbing by using an `AesCipherDataSource` directly?

[2017-02-20 18:11] ojw28 commented on #2467
Probably, but it's unclear why you're trying to avoid it. It's not a significant amount of extra code for you. Note also that the approach described does nice things like:

- Support resumption of a partially completed download. If `offlineMediaUri` fails part way through, calling it again will do this. The already downloaded portion will just be read from the offline cache (which is a no-op), and

[2017-02-20 18:16] moagrius commented on #2467
our download mechanic has a great deal of existing infrastructure, saving offline content using a chunked, resumable download api in it's own service, we supply the file name and location based on user prefs, it's download lists of assets in addition to video files, not all content gets encrypted, downloaded content is tracked in a database and might be moved en masse when settings change, many of

[2017-02-20 18:30] ojw28 commented on #2467
Most of this feels pretty unrelated to the actual mechanism for downloading the media. There's no reason why you can't take the `offlineMediaUri` snippet and incorporate it into your service instead of your current code for offlining the media. I doubt there's anything stopping you from moving the directory, either. The problem with going for a simple approach is it'll either lack basic functional

[2017-02-20 18:33] moagrius commented on #2467
got it, thanks for your help

[2017-02-20 18:56] laurencedawson commented on #2415
Sorry I didn't see your reply.

In this use-case it's for user submitted videos that have been incorrectly bundled with an edit list.

[2017-02-20 21:09] tprochazka commented on #1748
I have the some problem after migrate to version 2.2.0.
It was working correctly on 2.0.2.
But I have another app, when 2.2.0 works correctly on the same stream.
Only difference I found is that "SurfaceUtils: set up nativeWindow" is displayed twice in the app when screen remain black. I not found any difference yet

[2017-02-20 21:47] tprochazka commented on #1942
I tried it now on released version r2.2.0 and it looks that it works! Thanks.

[2017-02-20 21:54] tprochazka opened #2479 "Black video if playing started on hidden view."
In version 2.0.2 I was SimpleExoPlayerView with visibility = GONE.
And when I reach the ExoPlayer.STATE_READY I changed visibility to VISIBLE.
But after update to 2.2.0 video remain still black after change to VISIBLE, just audio was working.
If I will keep SimpleExoPlayerView visible for whole time it is working correctly.
I don't know if it is bug or feature.

[2017-02-21 02:49] kinhdang opened #2480 "DASH live stream crashes player the same this issue : https://github.com/google/ExoPlayer/issues/1364"
Dear all !

We use ExoPlayer 1.5 with Dash stream, and sometime crash player with follow message:
[code]

This issue already opened in https://github.com/google/ExoPlayer/issues/1364, but we do not seen any idea fix, so we re-open.
Anybody knows, please give idea solution how to fix this issue.

Thanks.

[2017-02-21 02:50] shirensong commented on #2413
Thanks, @andrewlewis, I have uploaded this video to dropbox. please help to have a check.

https://www.dropbox.com/s/5esxj1f24977lt8/%5B2160p%5D%204K-HD.Club-2013-Taipei%20101%20Fireworks%20Trailer%20%284ksamples.com%29.mp4?dl=0

[2017-02-21 05:53] WeiChungChang opened #2481 "Response to call-for-feature about set playback speed (so called trick playback)"
Dear all:

I would like to see if anyone works on this topic and if so, to see if we could provide this feature in a general way.
I also comment it at #26 but it may be a too old post so nobody may pay attention to it...
Hence I post it here again.

# Root cause:
**It provides my way to response the call-for-feature of trick playback here** (an ‘acceptable’ way).
It includes:
**1.	_Locally reverse

[2017-02-21 05:58] WeiChungChang commented on #26
Dear all:

I would like to see if anyone works on this topic and if so, to see if we could provide this feature in a general way.
I also comment it at #26 but it may be a too old post so nobody may pay attention to it...
Hence I post it here again.

# Root cause:
**It provides my way to response the call-for-feature of trick playback here** (an ‘acceptable’ way).
It includes:
**1.	_Locally reverse

[2017-02-21 06:50] kartdroid commented on #2436
@ojw28 @wvpaf any updates for this issue ?  we are planning to have a fallback logic (to another software drm/decoder combo) based  on your inputs.  kindly advice

[2017-02-21 10:18] ojw28 commented on #2480
Most likely you're playing a multi-period DASH stream where the formats change going from one period to the next. You need to use V2 or above to play this type of stream.

It's not possible for us to diagnose further, since you've not provided most of the information we request in the issue template.

[2017-02-21 10:18] #2480 closed, assigned to nobody

[2017-02-21 10:18] ojw28 commented on #2481
Tracked in #26.

[2017-02-21 10:18] #2481 closed, assigned to nobody

[2017-02-21 12:57] AquilesCanta commented on #2469
Note: I have also made sure that FLAG_DETECT_ACCESS_UNITS was enabled as well. Still not reproducible.

Regarding the Android version being 22 instead of 23, I am inclined to discard the possibility of a regression issue if it plays well using other apps:

I also doubt it is the lack of flags, as this does not cause dropped frames. I can only think of a device model variation from what we have (co

[2017-02-21 12:58] AquilesCanta commented on #2416
There are still no news about this, guys, but it's still being tracked.

[2017-02-21 13:07] bratislavdamnjanovic opened #2482 "ExoPlayer 2.2.0 - Audio streaming stops after ~5 minutes Nexus 5x 7.1.1"
Hi everyone.

I saw discussions earlier on this subject, but couldn't find the solution.
The problem is similar - audio streaming stops after ~5 minutes when the device is in the sleep mode. The mobile device is not used in those 5 minutes.
Everything is working fine with Samsung Alpha, Samsung S5, LG G4, Alcatel One Touch Pop.
It looks like the problem is device specific - Nexus 5x?

The main rea

[2017-02-21 13:08] stari4ek commented on #2469
Since I don't own device I can not perform adb against it by myself.
But, here is some additional info from MXPlayer's report (in initial comment):
[code]

BTW, Can you reproduce issue using provided APK from my previous comment? Cause it's **exact** demo APK user used on it's device and got problem. There is link to branch with exact sources it was built from. I can prepare diff/patch to see diff

[2017-02-21 13:14] AquilesCanta commented on #2469
I tried the debug APK without extensions. Didn't reproduce.

[2017-02-21 14:20] andrewlewis commented on #2469
This seems to be device-specific. We're looking into getting the problematic device but it may take a while.

[2017-02-21 15:57] moagrius commented on #2467
Here's a follow up for future searchers:

It's absolutely possible to get reliable playback _with seeking_ from an encrypted file, if the algorithm used to encrypt the file does not pad.  (You can get playback and seek with a padded algorithm, but it can be very slow (I've seen over 10 seconds lag between a tap and a completed seek) - not recommended.)

The key component is the `CipherInputStream`

[2017-02-21 15:58] #2467 closed, assigned to nobody

[2017-02-21 16:42] waldheinz opened #2483 "MediaSource for on-demand transcoded streams"
I have a HTTP server which can transcode video files to h264+aac / Matroska streams and deliver them live to the client. Using an `ExtractorMediaSource` I can play those streams just fine, but as expected the duration is unknown and seeking is not available.

Said server can also be queried for, amongst other stuff, the duration of the video files. For the transcoding, a query parameter accepting

[2017-02-21 17:04] stari4ek commented on #2469
just in case, this is how issue looks like:
* exoplayer-demo (issue): https://drive.google.com/file/d/0Bww3WxdHUiM1YW1nVEZMc0pHWTQ/view?usp=drivesdk
* mxplayer (no issue): https://drive.google.com/file/d/0Bww3WxdHUiM1ZFgtRVNZbnZrVU0/view?usp=drivesdk

[2017-02-21 17:42] andrewlewis commented on #2469
@stari4ek If possible, please could you provide a photo of the label on the back panel of the TV with readable text? Apparently the build fingerprint does not provide enough information to know exactly what the device is.

[2017-02-21 18:17] nshutov opened #2484 "setVideoScalingMode(...) not work"
`setVideoScalingMode(C.VIDEO_SCALING_MODE_SCALE_TO_FIT_WITH_CROPPING)`
`setVideoScalingMode(C.VIDEO_SCALING_MODE_SCALE_TO_FIT)` has no effect

I fork ExoPlayer and modify(https://github.com/nshutov/ExoPlayer):
1 - surfaceView move to FrameLayout. Now surfaceView is fullscreen
2 - I switch setVideoScalingMode each 5 sec
3 - I print ScreenAspect, VideoAspect and VideoScalingMode on screen

I open pl

[2017-02-21 20:34] stari4ek commented on #2469
@andrewlewis, Here it is: https://drive.google.com/file/d/0Bww3WxdHUiM1cWl0M0lGMzJEYkU/view?usp=drivesdk

[2017-02-22 01:49] rburnham52 opened #2485 "DRM protected content on rooted device"
We are currently looking at implementing ExoPlayer 2.x to play MPEG -DASH with Widevine protected content. One requirement we have though is that the user should not be able to play DRM protected content on rooted devices.

What protection does exoplayer have when it comes to DRM content on rooted devices? If this is possible is there anything we need to do to enable this?

[2017-02-22 05:40] akarekal-coursera commented on #2321
@RamIndani I was trying it on the emulator, but then saw that its advised to play on physical device.
On physical device it does not happen.

[2017-02-22 05:59] Merseyside opened #2486 "LoadTask: Unexpected exception loading stream"
Hello! I trying to play a mp3 file and it throws an exception below. I checked it with mp3 validator, its ok. AudioTrack class plays it well! Send mp3 file on your mail dev.exoplayer@gmail.com

[code]

[2017-02-22 07:24] robin2046 commented on #26
@yangwuan55 I tried your work and it is impressive. However, when I try to play some video clip without audio track, I always get following error:

02-22 15:08:05.833 31708 31747 E ExoPlayerImplInternal: Internal runtime error.
02-22 15:08:05.833 31708 31747 E ExoPlayerImplInternal: java.lang.NullPointerException: Attempt to invoke interface method 'long com.google.android.exoplayer2.util.MediaClo

[2017-02-22 09:27] wcsiu commented on #1470
@AquilesCanta Thanks. I will verify the fix as soon as possible. For the test streams, I don't have them with me right now.

[2017-02-22 09:29] sough opened #2487 "How to track player position updates to fire ad events or count actual time, user watched content"

[2017-02-22 09:42] lazarvgd commented on #1782
Hi, I have tried this solution, but for me this doesn't solve the issue. For simple use cases this error still occurs even if I reinitialize player. Is there any better workaround or solution for this issue?
Please bare with me, I am junior, so maybe I am omitting something.
Thanks

[2017-02-22 09:57] binhbt commented on #1782
I fixed this bug by retry play hls streaming at onError. This issue will be never closed because it will occur when network not stable. Problem is streaming source not on player. BR

[2017-02-22 10:13] lazarvgd commented on #1782
Correct me if I am wrong, you have implemented `ExoPlayer.EventListener` and override method `onPlayerError`?
Thanks

EDIT:
@binhbt
Here you can find the code where I have tried this [workaround](http://pastebin.com/xzRt7LpX).
Please help

[2017-02-22 10:14] andrewlewis commented on #2471
It looks like the `DataSourceFactory` you're passing to `SingleSampleMediaSource` is null. Please share the code you're using to construct the `MediaSource`s.

[2017-02-22 10:21] ghost commented on #1599
@Ood-Tsen  i get the same problem.  does u fixed it?

[2017-02-22 10:57] alexeymasliakov opened #2488 "No sound"
No sound, test with https://www.hlsplayer.net/
http://vod-i.uefa-france.beinsports.com/074350cb-690e-4697-9280-333a02868321/ea3e99d5-c3ee-41c7-8edd-2446049023c6.ism/manifest(format=m3u8-aapl).m3u8?hdnea=st=1487760901~exp=1487762101~acl=*~hmac=4b533869ea193c2d44ac94fb19415ad29ba8ce9b0ce42635ddcb556d19cd18f8

[2017-02-22 11:07] tmho commented on #2017
How do you list/select subtitle tracks in 2.2.0?  I'm using the `SimpleExoPlayer`.  When I supply the tracks they load, and I can see the renderers array in the debugger, but I can't seem to see how to change or list the available tracks for a track type.

[2017-02-22 11:13] eseffair commented on #2471
Hi @andrewlewis, thank you, I realized my mistake.

[2017-02-22 11:13] #2471 closed, assigned to nobody

[2017-02-22 11:44] tmho commented on #2017
How do you list/select subtitle tracks in 2.2.0?  I'm using the `SimpleExoPlayer`.  When I supply multiple tracks, the first one will load and be active, but I'm not sure what happens to the second now how I can access it, I can't seem to see how to change or list the available tracks for a track type.

In exo 1.x I'm used to `player.setSelectedTrack(TYPE, INDEX)`

[2017-02-22 11:47] mostafaHamed commented on #2467
Hi moagrius,

I appreciate if you can share your complete example to overcome the problems you have faced

[2017-02-22 11:51] AquilesCanta commented on #2488
It gives me a 403. Can you fix it?

[2017-02-22 12:05] andrewlewis commented on #2483
`ExtractorMediaPeriod` normally maps a timestamp onto a byte offset in `ExtractorMediaPeriod.seekToUs` using its `seekMap`. I guess your Matroska stream will be missing a cues element, so this seek map will be unseekable. You can verify this by breakpointing in that method and seeing what happens when you try to seek.

As a next step I'd probably try making a wrapper `Extractor` around `MatroskaEx

[2017-02-22 12:35] tmho opened #2489 "How do add multiple subtitle tracks and list/select them"
How do you list/select subtitle tracks in 2.2.0?  I'm using the `SimpleExoPlayer`.  When I supply multiple tracks, the first one will load and be active, but I'm not sure what happens to the second now how I can access it, I can't seem to see how to change or list the available tracks for a track type.

In exo 1.x I'm used to `player.setSelectedTrack(TYPE, INDEX)`

I'm trying to sideload 2 subtitl

[2017-02-22 12:53] alexeymasliakov commented on #2488
just copy/paste url

[2017-02-22 13:46] ojw28 commented on #2489
If you modify the demo app to build your source, do you see both options listed under the "Text" button? If so, I suggest you try answering your own question by taking a look at how the demo app is doing it.

[2017-02-22 13:59] ojw28 commented on #2485
I don't think this is a sensible requirement to have. It's your responsibility to specify the level of output protection you require when issuing keys to play the content. It's the responsibility of the underlying platform to only decrypt and play the content if the specified level of output protection is available, which may or may not depend on whether the device is rooted. If the device is root

[2017-02-22 14:01] ojw28 commented on #2487
_No description provided._

[2017-02-22 14:01] #2487 closed, assigned to nobody

[2017-02-22 14:17] ojw28 commented on #2486
The mp3 file contains malformed ID3 data. Uploading it to http://tagmp3.net, making no changes and downloading the result removes the malformed ID3 data and results in a playable file.

That said, we'll make a change to handle (by ignoring) this type of malformed data, since it's trivial for us to do so.

[2017-02-22 14:29] ojw28 commented on #2488
The link doesn't work for me either. It's either geo-restricted or no longer available. If it's geo-restricted then ideally provide a non-restricted test stream. If that's not possible, at least let us know to which country it's geo-restricted. I tried proxying via France, US and GB, and see a 403 response code in all cases.

[2017-02-22 14:31] andrewlewis commented on #2482
Please see #930 and #2276.

[2017-02-22 14:31] #2482 closed, assigned to nobody

[2017-02-22 19:06] MateusZitelli commented on #26
@yangwuan55 I'm using your fork and it worked perfectly in some of my devices. However, I had a problem to play a 2K video on a S6 with 2X playback speed, where the video was freezing. Do you have any idea of the cause or solution for such issue. Thanks!

[2017-02-23 01:02] moagrius commented on #2467
sure.  here's the DataSource:

[code]

if you're in the demo, just make a Factory to produce `EncryptedFileDataSource` instances, and update the json with some entries that have `uri` members that point to encrypted files.

Make sure it gets the correct `Cipher` instance and you're good to go.

HTH, GL

[2017-02-23 02:47] yangwuan55 commented on #26
@robin2046 I didn't play without audio track,I will try it.Is it possible that exoplayer self bug?

[2017-02-23 02:52] yangwuan55 commented on #26
@MateusZitelli I don't have so many devices to test.But I've met some low version of the devices didn't work.

[2017-02-23 10:35] vkhodonovych opened #2490 "exo_progress customization problems"
I have the problem to customize SeekBar `exo_progress ` for video progress. I'm trying to change a color of the SeekBar using approach described in the article(Customizing ExoPlayer’s UI components) ` app:controller_layout_id` but the issue with thumb color. I guess the problem inside `PlaybackControlView` but I don't know exactly where.  Here is my code:
xml file

       <LinearLayout

[2017-02-23 14:03] newandroidboy88 opened #2491 "NullPointerException when playing source of HLS in R2.0.4"
When playing akamihd hls live video  in Exoplayer 2.0.4
Internal runtime error.
[code]

[2017-02-23 14:10] AquilesCanta commented on #2491
Please, read the issue template and provide all the required information.

[2017-02-23 14:10] newandroidboy88 opened #2492 "While Playing video from internal storage in Exoplayer 2.0.4 it throws $FileDataSourceException: java.io.EOFException`"
While playing the internal Storage Video in Exoplayer 2.0.4
Video File was present in the InternalStorage but it throws error
[code]

[2017-02-23 14:12] AquilesCanta commented on #2492
See #2491.

[2017-02-23 14:55] kanagalingam opened #2493 "Exoplayer throws NullPointer Exception on streaming HLS sources in some devices!"
**Description:**
.m3u8 files (HLS) are not being played in some devices. Can't able to figure out the reason on why the video is not streamed on some devices! Logcat registers `NULLPOINTER EXCEPTION`
**VERSION OF EXOPLAYER USED:**
Exoplayer version 2.0.4
**DEVICE ON WHICH ISSUE HAPPENS:**
Nexus7(Android 6), Samsung Note III.

**LOGCAT DURING THE ISSUE:**

[code]

[2017-02-23 15:06] AquilesCanta commented on #2491
I am going to assume this is a duplicate of #2493. If not, please file a new issue including all the information requested in the issue template.

[2017-02-23 15:06] #2491 closed, assigned to nobody

[2017-02-23 15:27] bene25 opened #2495 "Error HLS video playing"
HLS video doesn't play on ExoPlayer version r2.2.0. On the same device with ExoPlayer 2.1.0 everything works well.
Reproduced on Lenovo Vibe P1 API 23 and Emulator Nexus 5 API 22
Logs and M3U8 file sample in attachments.
[log_and_file_sample.zip](https://github.com/google/ExoPlayer/files/796886/log_and_file_sample.zip)

[2017-02-23 15:32] AquilesCanta commented on #2495
A fix will be available in the next push. Next time, please provide a link to the problematic media.

[2017-02-23 15:53] waldheinz commented on #2483
@andrewlewis Thanks a bunch for your input, I actually got this to work. In addition to what you've said, there were two things to take care of:

  * The `MatroskaExtractor` doesn't like it very much when it's `DataSource` is swapped out, throwing `ArrayIndexOutOfBounds` exceptions and all kind of other scary stuff while choking on the "new" bytes it did not expect to see. So I'm lazily creating a

[2017-02-23 16:09] yqritc commented on #2361
The implementation of clear key seems to be merged!! thanks!!

[2017-02-23 16:09] #2361 closed, assigned to nobody

[2017-02-23 16:22] toanvc opened #2497 "Crash: java.lang.IllegalArgumentException: Layout: -317 < 0"
Yesterday I used ExoPlayer to play a live stream, I also turned Closed caption ON.
My app is using ExoPlayer r2.2.0.
Device: Android Samsung Note 4 6.0.1
After a while, I got a crash. This is my crash log from Hockey App:

java.lang.IllegalArgumentException: Layout: -317 < 0
Layout.java, line 199
1 	android.text.Layout.<init> 	Layout.java, line 199
2 	android.text.StaticLayout.<init> 	StaticLayout

[2017-02-23 17:45] ifucolo commented on #2490
Hello
Try change your seekBar on xml for this:

[code]

and change thumbTint and progressTint for a color you prefer

[2017-02-23 20:52] hellofishy commented on #1010
^ bump

[2017-02-24 03:51] WeiChungChang commented on #26
Dear all:

_**In fact, the patch posted within**_ #https://github.com/WeiChungChang/ExoPlayer/commit/922529fd1d80ea51dc7bf0938a4960eb2708068c

 **_could also serve as an approximate solution to reverse playback; with a little modification._**

Please see the demo below; I tested it on my smart phone.
1. https://youtu.be/47slacQbMug (diving, reverse from 2:07 to the beginning)
2. https://youtu.be/b

[2017-02-24 05:03] WeiChungChang commented on #2481
_**In fact, the patch posted within**_ #https://github.com/WeiChungChang/ExoPlayer/commit/922529fd1d80ea51dc7bf0938a4960eb2708068c

 **_could also serve as an approximate solution to reverse playback; with a little modification._**

Please see the demo below; I tested it on my smart phone.
1. https://youtu.be/47slacQbMug (diving, reverse from 2:07 to the beginning)
2. https://youtu.be/b-nNe6eNR4U

[2017-02-24 05:59] tmho commented on #2489
Is this on the right track?  I am able to changed the selected track with the following:

rendererIndex = index of the tracks you want to select from
indexOfTrackSelected = index which you'd like to chose

[code]

I'm still not clear what `0` value in the `MappingTrackSelector.SelectionOverride(new FixedTrackSelection.Factory(), indexOfTrackSelected, 0)` represents

[2017-02-24 08:03] wromaniuk opened #2498 "DefaultTrackSelector : selectTextTrack skips the only closed caption track"
I am trying to display closed captions using different streams than included in exoplayer demo, but found some issue.
I have debugged function selectTextTrack in DefaultTrackSelector.java and example stream (to be precise https://tungsten.aaplimg.com/VOD/bipbop_adv_example_v2/master.m3u8) is including few tracks and choosen to set in that function has selectionFlags value 5.
Other stream I am tryi

[2017-02-24 09:04] manishvwynk opened #2499 "Exoplayer not able play .flv"
Exoplayer  not able  to play the the following .flv file  url :

 https://gcdn.2mdn.net/videoplayback/id/47e425d42c663115/itag/5/source/doubleclick_dmm/ratebypass/yes/ip/0.0.0.0/ipbits/0/expire/3630481824/sparams/id,itag,source,ratebypass,ip,ipbits,expire/signature/7C35723E638C5DBAD852C182970BD4E4FDE6E577.1EF904C82963E11E62A5881E3B381B6C868D32D4/key/ck2/file/file.flv

version of Exoplayer :2.0

vi

[2017-02-24 10:24] andrewlewis commented on #2483
Regarding recreating the `MatroskaExtractor` on every seek: is your wrapper correctly passing through the call to `seek(long, long)` before the new `DataSource` is read? That method resets some state in preparation for reading data from a different position, so it's important to call it. If you are calling that method but it's still failing I'd probably spend a while trying to debug what's going o

[2017-02-24 13:25] dmota-systango commented on #490
You can use LoopingMediaSource as source instead.

MediaSource source = new ExtractorMediaSource(videoUri, ...);
// Loops the video indefinitely.
LoopingMediaSource loopingSource = new LoopingMediaSource(source);

Ref: https://google.github.io/ExoPlayer/guide.html#seamlessly-looping-a-video

[2017-02-24 13:26] dmota-systango commented on #920
You can use LoopingMediaSource as source instead.

MediaSource source = new ExtractorMediaSource(videoUri, ...);
// Loops the video indefinitely.
LoopingMediaSource loopingSource = new LoopingMediaSource(source);

Ref: https://google.github.io/ExoPlayer/guide.html#seamlessly-looping-a-video

[2017-02-24 13:28] dmota-systango commented on #371
You can use LoopingMediaSource as source instead.

MediaSource source = new ExtractorMediaSource(videoUri, ...);
// Loops the video indefinitely.
LoopingMediaSource loopingSource = new LoopingMediaSource(source);

Ref: https://google.github.io/ExoPlayer/guide.html#seamlessly-looping-a-video

[2017-02-24 13:33] waldheinz commented on #2483
@andrewlewis You are right, I did not pass through the `seek` call, and doing so eliminates the need to re-create the `MatroskaExtractor`. Very nice!

But I just noticed something worse: Pausing the playback for too long (or re-starting the server, whatever causes the HTTP request to die) causes the playback to get stuck: The `DataSource` gets a `close` / `open` pair, which makes sense, but I don'

[2017-02-24 13:49] andrewlewis commented on #2483
If an error occurs while loading data, `ExtractorMediaSource` will try to resume from the last read byte offset. Can you make your server support range requests and just reopen using whatever query parameter you used the last time?

If that's not feasible then you could just stop and restart the player at the current playback position (just seeking won't work as seeking to the current position is

[2017-02-24 14:59] ojw28 commented on #2489
Yes. Pretty much! Tracks are arranged into groups. The `trackGroups` variable is an array of `TrackGroup` instances. Each `TrackGroup` may contain multiple individual tracks, each with its own format. A `TrackGroup` contains multiple individual tracks when it's possible to adapt between different quality streams of the same content. So for an adaptive video playback you'll typically see a `TrackGr

[2017-02-24 14:59] #2489 closed, assigned to nobody

[2017-02-24 15:49] ojw28 commented on #2498
We don't enable text tracks by default unless the media indicates that they should be enabled by default. If you try playing that stream in the demo app, you'll see that it's possible to manually enable the tracks through the UI by clicking the text button. So you should look at what the demo app does and do something similar in your app. Some of the responses in this issue may be helpful for you

[2017-02-24 15:49] #2498 closed, assigned to nobody

[2017-02-24 15:57] ojw28 commented on #2499
We only support aac audio and h264 video in the flv container. We have no plan on expanding this support, since there's very little demand for it. We would accept high quality pull requests adding support for additional formats within flv, but will not be able to spend time providing guidance on how to implement it; you'd have to be sufficiently motivated to figure it out for yourself ;). Sorry!

[2017-02-24 15:57] #2499 closed, assigned to ojw28

[2017-02-24 17:13] ojw28 commented on #2497
Hm. We're attempting to render a caption with a negative width. It's unclear whether the subtitle itself contained invalid positioning data to cause this. Is it possible for you to provide the media that reproduces the crash so that we can determine the root cause, or is the media gone now, given it was a live stream?

Either way, we should just not render anything rather than crash if we do end u

[2017-02-24 17:18] toanvc commented on #2497
@ojw28 : Cause that was a live stream so I don't know how to take the data back. Yes we should ignore any invalid data from subtitle than a crash.
Thanks for response my issue.

[2017-02-24 17:38] ojw28 commented on #2497
I do think the subtitle data must have been invalid, since the only case I can see this happening is where the subtitle specifies it should be positioned entirely to the right of the display area. As above, we'll provide a fix that discards the subtitle and logs a warning for this case, rather than crashing.

[2017-02-24 19:32] linhai326 commented on #2497
we saw the same issue on our DASH encrypted stream. Unfortunately it is encrypted and we can't share the url. I agree that the subtitle painter should discard any invlide cue rather than crash. What we did was to catch the exception in subtitleView.java:
    for (int i = 0; i < cueCount; i++) {
      try {
        painters.get(i).draw(cues.get(i), applyEmbeddedStyles, style, textSizePx,

[2017-02-24 19:59] toanvc commented on #2497
@linhai326 : good catch! I'm simply using SubtitleView from library, but your idea is good for us at this time. Thank you!

[2017-02-24 23:10] brAzzi64 commented on #2428
Hi Aquiles. After some more digging on our side, we discarded the presence of audio-only streams being the issue. In the provided playlist in particular, there's no audio only streams. They're all audio+video.

Ran several tests for a new, single video, by only querying a single resolution at a time (generating playlists of a single stream) and found that for any variant of the video, scrubbing an

[2017-02-25 01:01] WeiChungChang commented on #26
Dears:

**We have made a demo UI to facilitate operation.**
The patch will be updated soon (after upload complete) at:
https://github.com/WeiChungChang/ExoPlayer

The demo can bee seen at:
1.  https://youtu.be/s-ODHJjpCBg
2.  https://youtu.be/leKRR93qFec

**_You could check the rewind functionality (-1X, -2X, -4X, -8X, -16X, -32X) also._**

Thanks a lot for @monkey-who's help for UI.

Thanks.

[2017-02-25 02:10] monkey-who commented on #26
😀今天睡了个懒觉 ～ 不知为什么特别困
一会儿去游泳，中午回来～
有需要做的发邮件就好，我回来看

On Sat, Feb 25, 2017 at 9:01 AM, WeiChungChang <notifications@github.com>
wrote:

[2017-02-25 07:24] Naveen898989 opened #2500 "Unexpected IllegalStateException: Top bit not zero When playing live dash stream"
- We have a DASH test stream that we are trying to play but its not working. Player gives "Top bit not zero" error. It seems to be thrown when retrieving the NAL length. The first few NAL values seem to be fine. Suddenly, an incorrect NAL value comes in and after that it all goes down hill.
[log.txt](https://github.com/google/ExoPlayer/files/801003/log.txt)
- I am using r2.2.0
- Tested on Nexus 5x

[2017-02-25 08:54] yasaman93 opened #2501 "Support forcing playback controls to remain visible"
ExoPlayer view hides after some times. how can I prevent it from hiding?

[2017-02-25 16:14] ojw28 commented on #2501
Call [setControllerShowTimeoutMs(0)](https://google.github.io/ExoPlayer/doc/reference/com/google/android/exoplayer2/ui/SimpleExoPlayerView.html#setControllerShowTimeoutMs-int-)

[2017-02-25 16:51] ojw28 commented on #2500
Given we're able to play DASH content provided by many providers successfully, I think it's likely this is a content issue. Please validate the correctness of the video segments. If you can point to a specific thing in the media that's valid but we're not handling correctly, please let us know.

[2017-02-25 20:52] waldheinz commented on #2483
The server does not cache the transcoded video and stops the transcoding process when the request dies. So I don't see how I could implement range requests. :-/

In the end I dropped the custom `MediaSource` approach. Now I'm simply providing the player with a fresh `ExtractorMediaSource` on seek and added the relevant state tracking to my UI code. It's not exactly elegant, but so much simpler, I

[2017-02-25 20:52] #2483 closed, assigned to nobody

[2017-02-26 04:57] Naveen898989 commented on #2500
The streams seems to be working on a couple of other players. Unfortunately, I do not know why it is failing. Is there a way for me to check the stream itself for correctness?

[2017-02-26 05:15] beakman opened #2502 "Select track from ADB"
I want to force certain video resolution from the adb.

For example: `adb shell am start -a com.google.android.exoplayer.demo.action.VIEW \ -d https://yourdomain.com/sample.mp4 --es vid_resolution "300x200"`

Any ideas on how can I do this?

Thank you all.

[2017-02-26 05:57] toanvc commented on #2490
Use this in your java code:
[code]

or you can also use them in your `xml` to customize your `SeekBar`. This issue doesn't belong to `ExoPlayer`, belongs to your code and your view.

Refer to this link to see how custom it:
http://stackoverflow.com/questions/34932963/android-seekbar-with-custom-drawable

[2017-02-26 06:02] from-unknown commented on #2386
Sorry for not replying soon.

First of all, thank you for supporting `mspr:pro` element.
As far as I read bento4's code, they do not support `cenc:pssh`.
I'll keep watching bento4.

If you don't mind, would you answer these questions?

+ why do not backport `mspr:pro` element support?
+ if any suggestions for code which I shared code for exo 1.X, I would like to know

[2017-02-26 07:00] yasaman93 commented on #2501
I want my ExoPlayer view always be visible, even on clicks. how can I do that?
This method not set exoplayer view always visible!

[2017-02-26 12:42] thesiamak opened #2504 "Media Metadata tags"
First thanks to this awesome library .

Second simply : **how can i get** loaded media(MP3/OGG/..) **meta data**(Artist , name,track no ,year and .. ) ?
What about audio file artwork graphic ?

[2017-02-26 16:19] ojw28 commented on #2501
Ah, understood. There's no built in way to do this currently. Marking this issue as an enhancement. In the meantime, it shouldn't be too hard for you to build your own UI component, or modify `SimpleExoPlayerView` to support this yourself.

[2017-02-26 16:21] ojw28 commented on #2502
This is not a supported feature of our demo app. It would be possible for you to do this kind of thing with your own application, but doing so fall outside the scope of this issue tracker.

[2017-02-26 16:21] #2502 closed, assigned to nobody

[2017-02-26 16:22] ojw28 commented on #2492
Closing due to lack of required information. Please provide proper reproduction steps and test media if you want us to take a look.

[2017-02-26 16:22] #2492 closed, assigned to nobody

[2017-02-26 16:23] ojw28 commented on #2490
Agreed this question is outside the scope of this issue tracker; it seems like a general question about Android view/ui customization.

[2017-02-26 16:23] #2490 closed, assigned to nobody

[2017-02-26 20:12] gh-darvishani opened #2505 "play without sound and just for mpd format"
Hi
this is my code for create video player into dialog
but this video player don't load mp4 format
what is wrong on my code ?
`
public class VideoPlayer
{

    //            private static final String VIDEO_URI =
//                    "http://hadafapp.com/up/1487449143video_2017-01-29_23-54-45.mov";
    private     String VIDEO_URI =
            "http://www-itec.uni-klu.ac.at/ftp/datasets/DASHDat

[2017-02-26 20:38] ojw28 commented on #2505
The stream you link to doesn't contain any audio, so this is working as intended.

[2017-02-26 20:38] #2505 closed, assigned to nobody

[2017-02-26 20:55] gh-darvishani commented on #2505
this link is a sample link and i use this file
`clips.vorwaerts-gmbh.de/big_buck_bunny.mp4`
when i open this link by my code just show a black page without time
![photo_2017-02-27_00-24-48](https://cloud.githubusercontent.com/assets/5849044/23343587/3312e418-fc83-11e6-8dd0-42f5e2bc172e.jpg)

[2017-02-26 20:55] ojw28 commented on #2386
We're pretty much back-porting bug fixes only to V1. This is not a bug fix. There's also not much demand (this is the only issue requesting support for the element), should be fixed on the serving side anyway (by including a `cenc:pssh` element), and can be resolved by moving to V2.

[2017-02-26 21:04] ojw28 commented on #2505
That's a completely separate issue than the one originally reported here. The most recent link you've provided works fine for me. Note that you need a `http://` prefix (i.e. you should be using `http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4`, not just `clips.vorwaerts-gmbh.de/big_buck_bunny.mp4`).

If you're still having issues, please file an issue that includes all of the information request

[2017-02-27 00:53] tmho commented on #2489
great! thanks for the info :+1:

[2017-02-27 03:35] Witype opened #2506 "how can I made the format background transparent!"
*** PLEASE DO NOT IGNORE THIS ISSUE TEMPLATE ***

Please search the existing issues before filing a new one, including issues that
are closed. When filing a new issue please include ALL of the following, unless
you're certain that they're not useful for the particular issue being reported.

- A description of the issue.
- Steps describing how the issue can be reproduced, ideally in the ExoPlayer

[2017-02-27 04:57] workspace commented on #26
@WeiChungChang I tried to run your demo on my old devices(such as Galaxy note 2, Galaxy s4 < API 23 which don't support PlaybackParams), however, any changes were not appeared in speed. Actually, all people commented in this article are interested in changing speed in old devices(not rewind or fast forward things). Do you have any plan for supporting old devices? or these things are unexpected bug

[2017-02-27 05:54] ashwanijanghu commented on #2340
@Abilashinamdar Can you present any sample to play offline stored videos, I am able to download license offline and stored-retrieve it from native media drm. Need a sample to play video from local storage. Thanks in advance.

[2017-02-27 07:23] venkataramanab commented on #2436
This crash appeared in demo app too
Device: Google Nexus 4
Android version: 4.2.2
Android api version: 17
This crash appears on clicking Big Buck Bunny video in MISC section
[code]

[2017-02-27 07:28] WeiChungChang commented on #26
Dear @KiminRyu:

1. What's kind of file you tested upon? The so called  'trick play' depends on the kind of files played much.

2. It should be unrelated to API; at least, for slow speed x2 I demo, it is the same as the work of @yangwuan55  or @prsolucoes.

 **_In fact, the most advantage of the scheme to implement trick play by seek is: it does NOT need the_** **_support of_**  `setPlaybackRate `

[2017-02-27 07:45] wromaniuk commented on #2498
Thanks for really quick response.
I have checked and I can confirm that after change text in UI demo app closed captions are now visible also for my stream.
Thanks again, Best Regards

[2017-02-27 10:18] AquilesCanta commented on #2428
Both links give me 403.  Can you fix this?

[2017-02-27 10:24] ojw28 commented on #2506
Closing due to lack of clarity.

[2017-02-27 10:24] #2506 closed, assigned to nobody

[2017-02-27 10:28] ojw28 commented on #2504
If you're using the ExoPlayer V2 demo app then you should see metadata output to logcat with the log tag "EventLogger". It should be pretty easy for you to find where that happens in the demo app code, and then go from there.

We currently parse metadata for MP3 and MP4. I don't think we parse metadata for OGG yet. Please file a separate feature request if you're able to confirm that this is the c

[2017-02-27 10:28] #2504 closed, assigned to nobody

[2017-02-27 10:44] ojw28 commented on #2500
At a high level it looks like the NAL unit lengths aren't specified correctly. The parsing logic ends up out of sync with the NAL unit headers and starts reading clearly incorrect lengths, leading to the failure. I think you'll need to spend some time debugging this yourself.

You may have to resort to manually inspecting and understanding the bitstream to see what's wrong, unfortunately. This is

[2017-02-27 10:44] #2500 closed, assigned to nobody

[2017-02-27 10:45] ojw28 commented on #2488
Closing because a working test stream has not been provided.

[2017-02-27 10:45] #2488 closed, assigned to nobody

[2017-02-27 11:06] Naveen898989 commented on #2500
Thanks for the reply. You are right, in fact the sample sizes and the NAL lengths do not align. When a NAL length comes in that goes beyond the current sample size it skips reading all the data. Next time it reads the NAL it reads in a wrong position. I am not sure if this is a valid case or not, I just wanted you to know.

[2017-02-27 12:11] thesiamak commented on #2504
At this time i just need MP3 metadatas .
I was be able to get metadata via the method that demo app uses to(EventLogger) but obviously developers need a simpler way to get this information.

Thanks a lot for your help

[2017-02-27 12:43] ojw28 commented on #2504
I'm not sure developers do need a simpler way. It's pretty simple already, once you remove the parts that you don't need:

[code]

I'm not convinced that it's possible to make it simpler without introducing assumptions that might be true in your simple use case, but that may not be true in the general case (e.g. the assumption that there's only one set of metadata in the media, rather than potenti

[2017-02-27 13:02] from-unknown commented on #2386
Ok, I understand.
Thank you for your answer.

[2017-02-27 13:07] thesiamak commented on #2504
Now it's more clear! I was using a wrong and complicated method(Passing an interface to Logger) . I appreciate that.
Could you please let me know how to get MP3 artwork graphic too ? Since i couldn't find appropriate field for that in meta data(It's displaying an empty field in Logcat) i was looking for a way to get selected tracks artwork(cover) url . The goal is to load image in an ImageView.

[2017-02-27 13:10] ojw28 commented on #2504
`SimpleExoPlayerView` pulls the artwork out of the `Metadata` object to display it, so take a look at what that class does (specifically, look at `SimpleExoPlayerView.setArtworkFromMetadata`).

[2017-02-27 13:20] will-work opened #2507 "EXT-X-START:TIME-OFFSET regEx implemented incorrectly"
https://github.com/google/ExoPlayer/issues/1544 implements support for the `EXT-X-START:TIME-OFFSET` tag, however the regular expression defined in `HlsPlaylistParser` is incorrect because it does not recognise negative offsets. However, the code in `HlsMediaPlaylist` that sets the offset is correctly implemented because it does take into account negative numbers.

The fix is therefore a simple on

[2017-02-27 14:08] AquilesCanta commented on #2507
This is a duplicate of #2495. A fix will be available soon.

[2017-02-27 14:08] #2507 closed, assigned to nobody

[2017-02-27 16:36] rafaeladel commented on #2467
Thanks for sharing your solution.
But I got a problem with seeking through a large file (~600MB), It takes around 30 seconds to seek to the middle of the file. Have you found any solution or work around to minimize this problem ?
I tried AES/CBC/NoPadding, AES/CTR/NoPadding, AES/ECB/NoPadding. And also all their with padding variants.

[2017-02-27 17:22] brAzzi64 commented on #2428
Yes, sent you updated links to dev.exoplayer@gmail.com. Thanks!

[2017-02-27 19:46] gh-darvishani commented on #2505
this is logcat
` D/AwWebContentsDelegateAdapter: onUploadBlockedAds num = 0
02-27 23:12:36.404 30152-30152/hadafapp.chalaksoft.com.hadaf V/AudioManager: playSoundEffect   effectType: 0
02-27 23:12:36.404 30152-30152/hadafapp.chalaksoft.com.hadaf V/AudioManager: querySoundEffectsEnabled...
02-27 23:12:36.404 30152-30152/hadafapp.chalaksoft.com.hadaf I/log: played:http://clips.vorwaerts-gmbh.de/big_

[2017-02-27 20:08] moagrius commented on #2467
@rafaeladel i tested mostly with smaller videos and seemed to get really snappy playback, but after reading your post, i downloaded a larger video (26 mins; I don't know the file size without firing up AS) and I'm getting seek delays of 5 or 6 seconds near the end of the video - and this is on a new Pixel so i can imagine older phones with larger files could easily see the 30 second seek.  The fac

[2017-02-27 20:11] rafaeladel commented on #2467
I've read here and there that seeking **re-decrypts** everything from the beginning till the seek point. I wonder if there's a way to make it starts decryption at the very point of seeking and so forth. If you know what class is responsible for this, maybe it can be achieved.

Waiting for @ojw28  input too.

[2017-02-27 20:30] Yonezpt commented on #2422
I don't have urgency on this for now, but are there any news about this?

[2017-02-27 21:12] moagrius commented on #2467
i just tried an alternate approach that i'd abandoned in favor of a direct data source, which involved a streaming HTTP server in-app, providing the decrypted content via byte ranges (the approach that the commercial product libeasy http://libeasy.alwaysdata.net/ uses with MediaPlayer), and it's basically the same result (in fact maybe even a tiny bit worse).

using a 26 minute, 160MB mp4 for test

[2017-02-27 22:14] ojw28 commented on #2467
@rafaeladel - You'd be much better off just following the official advice in my first response to this issue, including use of the library provided `AesCipherDataSource` and `AesCipherDataSink` components. There's really no need to reinvent the wheel.

[2017-02-27 23:45] moagrius commented on #2467
@ojw28 what if someone has content coming in encrypted, or is otherwise unable to encrypt in-app?

[2017-02-27 23:59] ojw28 commented on #2467
- If you're serving content using https then it seems unnecessary for it to be further encrypted for transmission. If you're not serving content using https then I would strongly urge you to do so.
- If you're serving content encrypted despite the above using AES/CTR/NoPadding then I think the advice in my first response still more or less applies. You just need to tweak the `DataSource` chains a

[2017-02-28 00:43] moagrius commented on #2467
e.g., downloading content from an http server, but not streaming it.  e.g., provided by a third-party api, or several encrypted videos in a gzip, or a video delivered from another source (e.g., a publisher), etc

fwiw i have tried to modify the `DataSource` chains, and work with the `AesFlusingCipher` class as well, but no luck (definitely because of my lack of knowledge around this domain).

[2017-02-28 02:34] workspace commented on #26
@WeiChungChang Thnak you for response. I just played 'Youtube Dash - Google Play, Google Glass' samples. Rewind seems to work well, however, fast-forward doesn't. Here are some attachments to show my tests. Thank you!

Galaxy S4 (There are some discontinuities)
https://youtu.be/0sN5hn_Hl2k
Nexus 5 (what I expected)
[device-2017-02-28-112449.zip](https://github.com/google/ExoPlayer/files/805592/dev

[2017-02-28 04:15] robin2046 commented on #26
@WeiChungChang , this should not be ExoPlayer's issue. Those 'muted' video can be played by ExoPlayer without any problem. However, it cannot be rendered by your forked version. You can try to play any video clip downloaded from https://www.reddit.com/r/gifs/. This kind of video clip is very popular this days as a substitution for GIF files. And I believe the ability to for trick playing of "no-au

[2017-02-28 06:29] djmalkar opened #2508 "SimpleExoplayerView inside recycler view consumes touch event"
I have a recycler view inside which i have embedded SimpleExoplayerView in each list row now when the video is playing and if user needs to scroll by toching SimpleExoplayerView, this view consumes the event and the user can't scroll. For this currently I am using workaround like this-

`mSimpleExoplayerView.setOnTouchListener
(new View.OnTouchListener()
{              @Override
                pu

[2017-02-28 07:19] Witype commented on #2506
I playback the .webm file,how can I make the black area transparent,
![image](https://cloud.githubusercontent.com/assets/6899329/23395396/51e99908-fdc9-11e6-87b7-1145a2e4f08f.png)
The origin webm file background is transparent(in chrome),
![image](https://cloud.githubusercontent.com/assets/6899329/23395446/9ace65a4-fdc9-11e6-9be7-b0282f41015e.png)

[2017-02-28 07:26] Witype opened #2509 "how can I make .webm black background to transparent"
**background color is transparent in chrome,**
![image](https://cloud.githubusercontent.com/assets/6899329/23395518/01b89e56-fdca-11e6-964e-41f21dd405ed.png)
 **background color is black when playback webm in exoplayer,**
![image](https://cloud.githubusercontent.com/assets/6899329/23395527/146819aa-fdca-11e6-9150-b648c60b8002.png)
thanks!!!

[2017-02-28 08:02] mustafasevgi opened #2510 "Exoplayer2 can not play local mp3 file"
Hello,

I can not play this mp3 file with Exoplayer2 demo code.
Mp3 file: https://drive.google.com/file/d/0B94LXw9lUxoxNHpYU1F6YUFVems/view?usp=sharing

Error: Caused by: com.google.android.exoplayer2.source.ExtractorMediaSource$UnrecognizedInputFormatException: None of the available extractors (MatroskaExtractor, FragmentedMp4Extractor, Mp4Extractor, Mp3Extractor, AdtsExtractor, Ac3Extractor, TsE

[2017-02-28 09:02] kinhdang opened #2511 "How can i scale video in ExoPlayer-V2 ?"
Dear all !
How can i scale video in ExoPlayer-V2 ?
We use com.google.android.exoplayer2.ui.SimpleExoPlayerView From ExoPlayer Example.

![20170228_155540](https://cloud.githubusercontent.com/assets/9839084/23398450/34354366-fdcf-11e6-8bbe-fd56918d166a.jpg)
![20170228_155552](https://cloud.githubusercontent.com/assets/9839084/23398466/435905d0-fdcf-11e6-8f57-de3dd22c5784.jpg)

THanks.

[2017-02-28 09:09] marva2013 opened #2512 "Problem reading video stream flv"
Hi , i have problem to reading video streaming using HTTPS
 Caused by: javax.net.ssl.SSLHandshakeException: javax.net.ssl.SSLProtocolException: SSL handshake aborted: ssl=0x763c2128: Failure in SSL library, usually a protocol error
                                                                                 error:1407742E:SSL routines:SSL23_GET_SERVER_HELLO:tlsv1 alert protocol version (extern

[2017-02-28 09:23] alfonsoramosa opened #2513 "Improve smartness of Util.inferContentType"
Exoplayer 2.2.0
Device: Nexus player
Android 7.1.1

Hi,

I have been playing Smooth Streaming clips with ExoPlayer,  without problem, with an url like:
http://myserver.com/video/example1.isml

But now I need to play a stream that is a "virtual subclip", with an url like
http://myserver.com/video/example1.isml/manifest?t=2017-02-22T17:30:00-2017-02-22T17:55:00

ExoPlayer can't identify the content

[2017-02-28 09:25] andrewlewis commented on #2512
There's not much information to go on in your report (e.g., what Android build the device is running and what URL you are trying to access), but it looks unrelated to ExoPlayer.

This is likely a problem with how your HTTP server or client is configured. A search for that error message turned up some results that may be relevant so I suggest you look for help on Stack Overflow or similar.

[2017-02-28 09:25] #2512 closed, assigned to nobody

[2017-02-28 09:39] rburnham52 commented on #2485
@ojw28 Thanks for the info, while this might not seem like a sensible requirement its not something within our control, these requirements come from studio agreements.  I guess their concern is that it could be easier to rip drm protected content on a rooted devices.

What your saying makes sense from a DRM point, i'm not sure how that will sit with the studios though. Sounds like i need to unders

[2017-02-28 10:34] otefhg opened #2514 "Incomplete Audio Object Type Parsing"
exoPlayer 2.2.0
Not a device related bug
Not an SDK related bug

The parsing of the audioObjectType is incomplete in relation to the standard document ISO/IEC 14496-3,
Table 1.16 – Syntax of GetAudioObjectType(), page 41.

In the file ExoPlayer-release-v2\library\src\main\java\com\google\android\exoplayer2\util\CodecSpecificDataUtil.java,
function parseAacAudioSpecificConfig(), line 89, the audio

[2017-02-28 10:42] ojw28 commented on #2485
@nitro52 - I suggest you look at clarifying the requirement with the studios. For non-Android devices it may be that it makes sense. For Android devices I think playback should be allowed based on whether the device satisfies a certain Widevine security level (e.g. L1 or L3), not on some other arbitrary piece of information. It's possibly just an oversight.
@wvpaf - Do you know if this kind of req

[2017-02-28 10:49] ojw28 commented on #2513
If the problem is that `inferContentType` cannot infer the type correctly, but you already know the type, then the simple solution is just to not call `inferContentType` in the first place? The ExoPlayer demo app also supports hinting of the type to help with cases where it cannot be inferred. For example you can add a sample with hint to the samples json file like:

[code]

where `extension` is t

[2017-02-28 10:51] AquilesCanta commented on #2428
Every second chunk of the variants does not declare video (but does contain the actual payload, which explains why it works when the player can reuse the extractor).

[2017-02-28 10:51] #2428 closed, assigned to AquilesCanta

[2017-02-28 11:00] alfonsoramosa commented on #2513
Hi,

The problem here is that I don't know the type, just the url.
The type should be inferred using the url.

So, the question is if it's possible to use this kind of SS url's, with start and ent time with ExoPlayer and in the same time use Exoplayer's type inference feature.

[2017-02-28 11:42] andrewlewis commented on #2510
The file starts with 426 bytes of XML. The format is detected and the stream plays fine if you trim that from the start of the file, e.g. with `tail -c +426 file.mp3`.

The XML looks like some kind of metadata, but I don't think the stream is valid (you can't prepend arbitrary stuff to an MP3 stream). If this is an official part of MP3 please provide a link to the specification and we can look int

[2017-02-28 11:42] #2510 closed, assigned to andrewlewis

[2017-02-28 12:03] ojw28 commented on #2513
You could also just implement your own `inferContentType` method that's smart enough to work for this use case. It should be pretty trivial to do so? There's no reason why you have to use the implementation provided by the library.

Re-opening this to track making the library version a bit smarter for this case, but we'll handle it as low priority.

[2017-02-28 12:04] ojw28 commented on #2506
Tracked in https://github.com/google/ExoPlayer/issues/2509

[2017-02-28 12:06] #2486 closed, assigned to nobody

[2017-02-28 12:09] rafaeladel commented on #2467
@ojw28  I've tried implementing the first response code. For playing a large file (~600MB) It takes time in decryption for the first time if I seek to the middle of the file for example. Also it stops in the middle of the playback for no reason with no errors.

Is there a way that I can tell it to start the decryption from where I specified the seek ?

[2017-02-28 13:41] ojw28 commented on #2467
I'm unsure what the problem is that you're seeing, but I don't think it's decrypting the entire file up to the seek position. That's just not what the code does. If you look at the implementation you should be able to verify that it starts decryption from the specified position offset.

[2017-02-28 13:46] rafaeladel commented on #2467
@ojw28  Would you mind pointing which file you're talking about ? because I've been searching for that part in the entire library.
Thanks.

[2017-02-28 13:49] ojw28 commented on #2497
Fixed in the dev-v2 branch.

[2017-02-28 13:49] #2497 closed, assigned to nobody

[2017-02-28 13:50] ojw28 commented on #2495
Fixed in the dev-v2 branch.

[2017-02-28 13:50] #2495 closed, assigned to AquilesCanta

[2017-02-28 14:41] michaelstrigy commented on #2392
Hi, just update were we are at.
I did an attempt to implement your suggested logic, in a similar way to your suggestion.
The result was it worked and we got a onOutputFormatChanged for output rendered frames.
Problem was it still did not give us the right accuracy for the presentation on screen, even when calculating with the difference between current position and onOutputFormatChanged presentati

[2017-02-28 14:58] mariom86 opened #2515 "Exo 2.1.1 can not play HLS if initial link before redirect does not end with .m3u8"
**** Scenario 1 ****
In the first step our application instructs exo player to playout the link of the following form:
http://x.y.z.w/_SR_VFY4Lm0zdTgjMjAxNzAyMjhUMTI0NTAwIzIwMTcwMjI4VDEzMjkwMCNNalkzTXpCa1pXWmhkV3gwTVRRNE9ESTRNekU0Tnk0d01q (Please note that there is no .m3u8 extension at the end)

The server responds with redirect and the following link:  http://x.y.z.w/kqrkgcei5qcmusvaartsd1qivrne

[2017-02-28 15:02] ojw28 commented on #2515
You just need to provide a hint to the player to tell it that it's an HLS stream. The sample should work fine in the demo app if you add it to `media.exolist.json` as:
[code]
This ensures that a `HlsMediaSource` is instantiated, rather than a `ExtractorMediaSource`. Note that in ExoPlayer V1 you were always required to explicitly indicate the type (HLS/DASH/SS/OTHER).

[2017-02-28 15:02] #2515 closed, assigned to nobody

[2017-02-28 15:05] toanvc commented on #2511
Ask your content media person give you another video with aspect ratio 16:9, you will get your proper video on the screen.
If you forced scale your video with the screen size, your video would be deformed.

[2017-02-28 15:43] AquilesCanta commented on #2422
The HLS version seems fine, from what I have played around. @ojw28 will probably be able to tell you more about the DASH one. But its certainly broken.

[2017-02-28 15:56] #2161 closed, assigned to AquilesCanta

[2017-02-28 15:59] ojw28 commented on #2422
The YouTube DASH manifests that you're attempting to play are invalid, and are not what YouTube serve to ExoPlayer themselves.

The first version of DASH live that YouTube developed for web (i.e. streams + support in their html5 player) was not spec compliant. In particular, there were some issues with the way the manifests were being generated and updated. This is understandable, since the spec i

[2017-02-28 15:59] #2422 closed, assigned to AquilesCanta

[2017-02-28 15:59] AquilesCanta commented on #2493
Are there devices where this issue does not reproduce? This would be strange for a NPE.

Please provide a stream to reproduce the issue.

[2017-02-28 16:05] brAzzi64 commented on #2428
Hi Aquiles, thanks for looking into this again. I'll pass this comment to the video-encoding people here, and see what we can do about it.

The thing is that we have several videos in production causing this issue, videos that used to play fine in with earlier ExoPlayer versions. I tried all the version from 1.5.6 to 1.5.12, and pinpointed it to 1.5.11; from this version on, failures in these vide

[2017-02-28 16:06] Yonezpt commented on #2422
So that's why no matter how careful I was when replicating their spec it would never work on ExoPlayer. I assumed in error that they were compliant, I think it was a normal mistake to make when considering which platform we are talking about.
I will then research the correct manifest spec for this very specific case and follow it through from now on. Annoying that the web version is still using on

[2017-02-28 16:11] ojw28 commented on #2509
@vigneshvg - Apparently you know about this ;) ([source](https://developers.google.com/web/updates/2013/07/Alpha-transparency-in-Chrome-video)). My guess would be there's no support for this on Android as I doubt the platform decoder will even output an alpha channel? Just a guess though - please clarify what your expectations would be!

[2017-02-28 16:26] ojw28 commented on #2422
Yeah. More fundamentally, you should consider whether you really want/need to be generating manifests that look anything like the one you were looking at, which appears to be ~2MB. That's going to be fairly horrendous if you're having to re-load it every few seconds. It'll probably gzip very well for transfer over the wire, but that's still a lot of data the player will need to repeatedly process.

[2017-02-28 16:40] mustafasevgi commented on #2510
thank you @andrewlewis

[2017-02-28 16:44] aaronelasticmedia opened #2516 "Update OkHttp Extension to version 3.6.0 in Gradle"
The Gradle file in the OkHttp Extension found at
https://github.com/google/ExoPlayer/tree/release-v2/extensions/okhttp
is pointing to an older version of OkHttp.

Suggestion is to update it to OkHttp 3.6.0

[2017-02-28 16:47] kinhdang commented on #2511
hello toanvc !

yes we know that, but in v1 ExoPlayer can be scaled video with ascpect ratio in event   onVideoSizeChanged.

Any idea how to do this in v2, please help ?

[2017-02-28 17:52] hannunehg commented on #1985
This happened with us after a while of playing one video. Here are the logs: ( all at the same time happened, I mean at the same milli second)

`Source error.
                                                                    java.io.EOFException
                                                                        at com.google.android.exoplayer2.extractor.DefaultTrackOutput.sampleData(Default

[2017-02-28 18:06] gh-darvishani commented on #2210
mmmm are you sure this code work fine !!!!
are you test mp4 or other format
in my issue https://github.com/google/ExoPlayer/issues/2505 i use similar code but when i want to play mp4 format i just see a black page
can you help me !?

[2017-02-28 19:57] MateusZitelli commented on #26
@WeiChungChang In fact I had the same issues that @KiminRyu related. Playing a 2k mp4 video in < API 23 results in a freezing playback and sometimes freezes the player completely.

I have a whole branch of my application replacing another player by the ExoPlayer, however I can't release it due to this issue.

[2017-02-28 20:28] moagrius commented on #2467
@rafaeladel hopefully @ojw28 and you can get your issue resolved, but in case it helps, i was able to get really nice playback on large videos using exoplayer in conjunction with another third party library called "libeasy", which is an in-app streaming server (http://libeasy.alwaysdata.net/), although i'm confident the fact that's it's a server is irrelevant (you can get roughly the same results

[2017-02-28 22:55] timusus commented on #2511
You can set the `app:resize_mode="..."` in xml, or from code, use `simpleExoPlayerView.setResizeMode(...)`

See https://google.github.io/ExoPlayer/doc/reference/com/google/android/exoplayer2/ui/SimpleExoPlayerView.html#setResizeMode-int-

[2017-02-28 23:52] directable opened #2518 "Provide callback that's invoked when video tunneling is enabled/disabled"
Was curious if there is a mechanism to determine if tunneling was succesfully enabled when setting via setTunnelingAudioSessionId(int tunnelingAudioSessionId)

Also are there any plans to add to demo ?

[2017-03-01 01:53] brAzzi64 commented on #2428
After some more testing, found that this happens consistently only for r1.5.11 & r1.5.12; however, it still happens 1 out of 5 times on the latest, r1.5.14.

In particular, these two Exceptions happen often in that version, always when seeking to anywhere in the range of 10-20 secs of that video:

[code]

I'll be sending additional links (they only last 4hs and then expire) at 0:00am PST, in case

[2017-03-01 01:55] WeiChungChang commented on #26
Thanks a lot for your comments in advance~

## @KiminRyu:
_**As agreed, only when >= API 23 it is able to use `setPlaybackRate` API.
Please try the patch to use seek when < API 23.
https://github.com/WeiChungChang/ExoPlayer/commit/9b879e73a42c553c14873445ac1175764c3feaed
It is provided by @monkey-who.**_

Galaxy S4 (There are some discontinuities)
https://youtu.be/0sN5hn_Hl2k
Nexus 5 (what I expec

[2017-03-01 02:34] kinhdang commented on #2511
hi timusus !

we use exoplayer2 with compile 'com.google.android.exoplayer:exoplayer:r2.0.0' , but can not found method simpleExoPlayerView.setResizeMode or Attribute app:resize_mode in xml file,

Thanks.

[2017-03-01 02:53] kinhdang commented on #2511
hi timusus !

maybe wrong version.

Thanks.

[2017-03-01 02:54] timusus commented on #2511
Yeah, I'm using v2.2.2 I believe.

[2017-03-01 03:36] workspace commented on #26
@WeiChungChang Nexus 5 (API 23) works well when I try to play with 2x speed, no discontinuities, with **sound**. I applied your latest patch(WeiChungChang@9b879e7).  I think Galaxy S4(API 21) fails again. I expected same result as Nexus 5(without discontinuity, with sound), however, your demo seems to seek media with 2x speed not play with 2x speed. Is it intended result? and streaming / local sou

[2017-03-01 03:57] kinhdang commented on #2511
thanks,

[2017-03-01 03:57] #2511 closed, assigned to nobody

[2017-03-01 05:11] monkey-who commented on #26
@KiminRyu the latest patch [WeiChungChang@9b879e7](https://github.com/WeiChungChang/ExoPlayer/commit/9b879e7) works as following description:
- sdk >=23
ff mode and the speed < high_speed_threshold, it plays with audio and in right pitch;
rewind mode or ( ff mode and speed >= high_speed_threshold ), it plays with no audio;
- sdk < 23
ff and rewind mode are playing with no audio;

And I think ExoPl

[2017-03-01 06:02] workspace commented on #26
@monkey-who A year ago, I integrated third-party native library with ExoPlayer-v1.
My goal was to implement speed control without having to modify the low API framework.
I have written to make it compatible with PlaybackParams in API version 23, but there are two limitations. First, V2 is released. I was not able to proceed because it seems to be difficult to maintain because development is underw

[2017-03-01 07:02] monkey-who commented on #26
@KiminRyu Well, sure we all seek for a solution that can handle trick play in app level. If '**fix it in low level**' means modifying framework, then you could refer aosp's code. My leader used to migrate code from later version into previous ones to solve some problems. And it definitely not works on general devices.

And your concerning of media compatibility, I think you could run CTS to verify