[2022-07-05 12:50] #819 closed

[2022-07-05 13:28] christosts commented on #10405
The fastest way is in `PlayerActivity.initializePlayer()` as you suggest, you can set it with

[code]

`DefaultTrackSelector.Parameters` is a subclass of `TrackSelectionParameters`.

Note that by doing the above, the demo app will always use these parameters when playback starts. Persisting/loading parameters, e.g. `PlayerActivity.onSaveInstanceState()`, will no longer function.

[2022-07-05 13:28] #10405 closed, assigned to nobody

[2022-07-05 14:29] tonihei commented on #10400
In order to normalize the volume, the player would need to read and analyze the entire streams to figure out the relative volume and adjust accordingly. This is usually better done by re-encoding if at all possible. Please also see #3349 where a similar question has been asked.

[2022-07-05 14:29] #10400 closed, assigned to tonihei

[2022-07-05 15:26] objectiveCarlo commented on #9504
@sebastiangansca sorry for the later reply, here I wrote an article: https://medium.com/@reCL/exoplayer-customised-advertisement-ui-98afd346c47c

[2022-07-05 15:43] #10160 closed, assigned to ojw28

[2022-07-05 16:03] tonihei commented on #10389
I tested the newly provided streams with VPN to both India and Israel, but I still only get 404s. If you want, you can also send a manifest snapshot instead, because I suspect the question can be answered with a single snapshot of the manifest.

[2022-07-05 16:23] GouravSna commented on #10389
I apologize that the media is short living. I have shared you the complete manifest with the latest media/license as well.

-Thanks

[2022-07-05 16:56] MolchanovDmitry opened #10406 "Smooth quality switching"
I am using `setTrackSelectionParameters` to set the required tracks to play:
[code]
But after calling `setTrackSelectionParameters` there is a delay before the new tracks start playing.

Is there a way to smoothly switch tracks as they are ready?

[2022-07-06 05:13] LeifDong commented on #10399
thanks for your suggestion

[2022-07-06 05:13] #10399 closed, assigned to marcbaechinger

[2022-07-06 06:17] androidGhost opened #10408 "Can ConcatenatingMediaSource connect multiple video sources to achieve smooth transition at the connection?"
I use ConcatenatingMediaSource to play multiple videos continuously, but sometimes it will pause for a while when playing the next video, is there a good solution to solve this problem, thank you

[2022-07-06 07:02] Bhupesh71 commented on #10304
@rrfrias any updates on the issue?  If you need any more information to analyse further please let us know.

[2022-07-06 08:28] MrYeLiang opened #10409 "Caused by android.content.res.Resources$NotFoundException Drawable (missing name) with resource ID #0x7f08009c"
### ExoPlayer Version

2.16.1

### Devices that reproduce the issue

![image](https://user-images.githubusercontent.com/28720680/177503745-2affe09c-2e93-4478-b12e-14448758bcae.png)

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

No

### Reproduction steps

1 in PlayerView Construct(), will create PlayerControlView
`public PlayerView(Context context,

[2022-07-06 08:35] fourofspades opened #10410 "How to correctly map internet radio stream metadata to Android notifications and now playing (Assistant, Bluetooth A2DP)?"
Been struggling with this problem for a very long time.

My Android app uses the Exoplayer (always latest build), to stream internet radio.   I'm having real problems trying to get the audio metadata to map correctly to the Android notification correctly.  This also causes issues with things like Google Assistant ("OK google, what's playing" will tell me the station name, not the track info".  Als

[2022-07-06 08:58] tonihei commented on #10389
Thanks for the manifest. As you already pointed out yourself, it doesn't have the `suggestedPresentationDelay` value defined and thus ExoPlayer falls back to a default value of 30 seconds.  ExoPlayer has to choose some value and because many live streams can't support low latency values, 30 seconds is a sensible default that should work for most streams.

That leaves you with multiple ways to fix

[2022-07-06 09:01] GouravSna commented on #10389
Thanks a lot @tonihei

[2022-07-06 09:01] #10389 closed, assigned to tonihei

[2022-07-06 12:00] XuQK opened #10411 "Loader$UnexpectedLoaderException: Unexpected IllegalStateException: Top bit not zero: -198252936"
### ExoPlayer Version

2.18.0

### Devices that reproduce the issue

Samsung galaxy note 10 5G running Android 11

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Not tested

### Reproduction steps

Play the video attached.

### Expected result

successfully played.

PS: they are successfully played in 2.17.1, but failed in 2.18.0 !

### Actual result

[2022-07-06 12:46] icbaker commented on #10411
Duplicate of #10381

[2022-07-06 12:46] #10411 closed, assigned to icbaker

[2022-07-06 13:16] icbaker commented on #10401
Thanks for the detailed explanation and repro media!

ExoPlayer's `DefaultTrackSelector` should select a `forced`, non-`default` subtitle track if the subtitle track's language matches the selected audio track's language:
https://github.com/google/ExoPlayer/blob/03569f9e6536e6c60cb585115d6d7352a4deab71/library/core/src/main/java/com/google/android/exoplayer2/trackselection/DefaultTrackSelector.jav

[2022-07-06 13:58] ojw28 commented on #6152
I believe this is fully implemented now. @tonihei can provide some details (or links).

[2022-07-06 14:02] tonihei commented on #6152
Yes, that's fully implemented and enabled by default for low-latency streams. See https://exoplayer.dev/live-streaming.html#customizing-the-playback-speed-adjustment-algorithm for explanations and configuration options.

[2022-07-06 14:02] #6152 closed, assigned to tonihei

[2022-07-06 14:14] christosts commented on #10406
By delay, I understand you mean that playback pauses and rebuffers. If the new parameters cause a change in a track, the player will drop any buffered data and start buffering the newly selected track.

You probably need to tune the adaptive track selection logic for what you are trying to achieve, please see #6630 and likely [this comment](https://github.com/google/ExoPlayer/issues/6630#issuecomm

[2022-07-06 14:14] #10406 closed, assigned to christosts

[2022-07-06 14:16] christosts commented on #10408
Have you tried to use the `MediaItem` API and add multiple media items to the player, one for each video? The player should make transitions seamlessly (no pausing).

The demo app demonstrates this under "Playlists".

[2022-07-06 15:36] sergju opened #10412 "Set redirected URL in LoadEventInfo when error occurs during HttpDataSource.open()"
It is possible to get real url (after redirections) if error occured?
Class LoadEventInfo contains url and if no error (event onLoadCompleted) in this field I have real url.
But on event onLoadError LoadEventInfo.url equal to LoadEventInfo.DataSpec.url
To test this case I prepared environment with download error after second redirection.

[2022-07-06 21:03] BrettyWhite opened #10413 "Question: Is it possible to use multiple CastPlayers at once?"
Hello,

I have seen very little info on this on the internet so I thought I'd ask the experts.

I have an audio only application that can have multiple instances of exoplayer instantiated at a given time to overlap the audio output. (think of an audiobook with a soundtrack played over it) I manage all of these instances via a manager in a MediaBrowserService.

I am interested in integrated Google

[2022-07-06 22:01] marcbaechinger commented on #10413
Technically, the `CastPlayer` uses almost a standard [cast web receiver](https://developers.google.com/cast/docs/web_receiver#styled_media_web_receiver) for playing media on a cast device. That's a JavaScript/HTML app that houses a player on the device. The `CastPlayer` then uses a standard playback and queue management API provided by the SDK. This way developers can create their own [custom web

[2022-07-07 01:04] #10321 closed, assigned to ojw28

[2022-07-07 01:40] androidGhost commented on #10408
Thank you for your answer.
My requirement is to crop the video and then splicing it together for playback, so I use ClippingMediaSource and ConcatenatingMediaSource for processing, but sometimes the two video connections can be played smoothly, sometimes it will stop for a while, what I need is how to solve it Can't play smoothly.

[2022-07-07 01:56] ronak2121 commented on #8595
My use case is VOD so supporting DASH Patch Manifests is outside of my scope, but you will have to support that if you truly wish to support the entirety of the DASG SGAI speecification.

[2022-07-07 01:57] ronak2121 commented on #1574
@tonihei is there any timeline on your end when this would be delivered? This is the first update in close to a year...if not, do you have any pointers on how we could implement it on our own and contribute it back to Exoplayer?

[2022-07-07 01:57] androidGhost commented on #10408
The version I'm currently relying on is 'com.google.android.exoplayer:exoplayer-core:2.11.4'

[2022-07-07 07:49] tonihei commented on #8595
The SGAI proposal you linked above is mainly talking about xlink patch manifests as the way to implement this. Could you clarify what feature you are asking for exactly if it's not that?

[2022-07-07 07:52] tonihei commented on #1574
No immediate plan to implement this I'm afraid. We were just reassigning issues.

[2022-07-07 08:31] PaulKulinenko opened #10414 "HlsDownloader - the downloaded bytes size is different during multiple downloads of the same file"
I am using HlsDownloader for download hls file, but detected that file has not been downloaded completly(not all the time), howewer i see that callback returns 100% dowloaded status. When I do not pass the executors into constructor of HlsDownloader then it is ok, file donwloading completly, but when I am passing the Executors  for speed up the download then I see that some times file doesnt downl

[2022-07-07 08:37] ehsan9295 commented on #10390
Hi @christosts ,
do you have any suggestions how we could solve our problem?

[2022-07-07 08:40] christosts commented on #10408
@marcbaechinger do you have any insights of the behavior of `ConcatenatingMediaSource` in 2.11.4?

[2022-07-07 10:00] icbaker commented on #10409
I'm not able to reproduce the problem. I checked out the demo app at 2.16.1 and modified `PlayerActivity` (and its layout file) to use `PlayerView` instead of `StyledPlayerView`. The app launches and plays videos without a problem.

The drawable ID that your exception says is missing is defined here in 2.16.1: https://github.com/google/ExoPlayer/blob/r2.16.1/library/ui/src/main/res/values/drawable

[2022-07-07 11:11] ronak2121 commented on #1574
@tonihei Do you have any pointers on implementing this ourselves? I’ll be more than happy with contributing that support back to you guys.

[2022-07-07 11:12] ronak2121 commented on #1574
Getting off of IMA SDK is one of our main goals this year. It’s causing lots of issues.

[2022-07-07 11:13] ronak2121 commented on #8595
This ticket is asking for the entirety of SGAI. Which includes delayed xlink resolution for VOD and patch manifests to cover the live use case.

[2022-07-07 11:16] javaboboApp opened #10415 "Testing DefaultBandwidthMeter.initialBitrateEstimates"
I've done changes to initial bitrate setting (**initialBitrateEstimates**), and I'd like to do some testing in order to verify that this value has an effect on the algorithm that makes the player choose a lower or higher resolution.

For example we got for a set of countries next initial bitrates depending on network type:

Default values in (bits per second)

   | DE (Germany) | AT (Austria)
   W

[2022-07-07 11:18] marcbaechinger commented on #10408
I think this is difficult to achieve because of #9319, #2347 and #5501.

Roughly, #9319 is about the codecs being flushed in between timeline items which results in the problem you are observing.

The other two issues are about the requirement that a media item is clipped at exactly a key frame boundary. If you have this clipping set at a key frame boundary, you may be able to disable flushing the

[2022-07-07 11:30] mirwisek opened #10416 "sending message to a Handler on a dead thread #426"
### ExoPlayer Version

2.18.0

### Devices that reproduce the issue

* Xiaomi Pocco F3 (Android 12)

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Not tested

### Reproduction steps

1. Create a `ViewPager2` with viewpager's `offscreenPageLimit >= 2`
2. The ViewPager adapter fragments should contain a single `StyledPlayerView`
3. For each ViewPager

[2022-07-07 13:03] SaurabhOfficial opened #10417 "Ideal delay in between calling release of Exoplayer and building it again with different asset."
When filing a question:
-------------------------
What would be the ideal duration to delay between building a new player with a new media asset and releasing the previous player instance? would it help with the failure rate with devices with restricted resources giving enough time to reclaim its resources?
cc @LuGO0

[2022-07-07 13:29] tonihei commented on #8595
I think this should be covered by #1574 once we implement it, because it's about when and how to load xlinks. So I'll leave this issue closed.

[2022-07-07 14:29] BrettyWhite commented on #10413
Thanks for the response. We will definitely take a look at the custom web receivers, though it seems like that's a rough road to go down.

Are you aware of how Google Home accomplishes the task of mirroring the device audio for casting?
![Screenshot_20220707-102403](https://user-images.githubusercontent.com/3911458/177798645-304cee83-0d59-49ef-8896-b0497f90917b.png)

This would accomplish the task

[2022-07-07 14:35] LloydBlv opened #10418 "Random failure while signing for an APK"
While the tasks for signing the APK are going on a specific task fails with the following feedback:

[code]

Tried to bump to recent exo, etc, but still it fails, the wrapper version used is "7.5-rc-2" and the gradle version is : "7.4.0-alpha07"

Can someone please pointout what is going on?

[2022-07-07 14:47] ojw28 commented on #7664
I don't think we were ever able to root cause this. We've also not seen any reports from other app developers, which somewhat suggests it might be a content or app specific problem.

@Pavel87 - Could you confirm whether this is still an active problem for you?

[2022-07-07 14:53] icbaker commented on #5896
`ClippingMediaSource` **does** now work on subtitles (#5317). Given that allows 'broken' media with different length tracks to be 'fixed' by truncating all the tracks to the same length, I'm not sure we also need a text-specific option to allow playback to finish 'early' - so I suggest we close this 'won't fix: intended behavior'.

[2022-07-07 15:06] ojw28 commented on #2766
I don't think we have any plans to support this more than we do today.

[2022-07-07 15:06] #2766 closed, assigned to ojw28

[2022-07-07 15:10] ojw28 commented on #5795
I'm fairly sure it's possible for an app developer to pre-warm codecs now, if they have the necessary information. This can be done by injecting a custom `MediaCodecAdapter.Factory` into the `MediaCodec`-based renderers at construction time, where the factory can provide a pre-initialized decoder the first time it's asked for one.

@christosts may be able to provide further information.

[2022-07-07 15:10] #5795 closed, assigned to christosts

[2022-07-07 15:11] #6916 closed, assigned to ojw28

[2022-07-07 15:12] ojw28 commented on #4716
We don't have any near-term plans to support this functionality.

[2022-07-07 15:12] #4716 closed, assigned to ojw28

[2022-07-07 15:14] ojw28 commented on #1482
It appears this was fixed at the platform level in Android 11. For earlier versions of Android, I think the only workaround is to use `TextureView` and handle the transformation yourself.

[2022-07-07 15:14] #1482 closed

[2022-07-07 15:17] christosts commented on #10415
The initial estimates should affect the first playback after an app cold start. The DefaultBandwidthMeter uses a static singleton instance so that the bandwidth measurements are re-used. Only after a cold start the initial estimate will be used.

Decreasing the initial estimates means that for the first few downloads the player might select a lower bitrate video (and audio, if you're using adaptiv

[2022-07-07 15:17] ojw28 commented on #6955
Closing because this is not an ExoPlayer bug, as noted above.

[2022-07-07 15:17] #6955 closed, assigned to ojw28

[2022-07-07 15:21] christosts commented on #10416
Can you please share a minimal project that reproduces this error so that we can test?

[2022-07-07 15:32] christosts commented on #10417
`Player.release()` is blocking until all underlying resources are free, therefore the API intention is to be able to create a new player instance immediately after another instance is released.

That said, we've seen errors  coming from lower-level components not being released immediately, either due to bugs in the platform or the OEM-implemented parts. Are you're seeing issues with resources  no

[2022-07-07 15:33] zgzong opened #10419 "parseEsdsFromParent throw exception with "Top bit not zero: -1""
### ExoPlayer Version

2.18.0

### Devices that reproduce the issue

This is not device related issue. Any device can reproduce this issue.

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Yes

### Reproduction steps

This is dashif test vector stream, add it into exoplayer demo app media.exolist.json
      {
        "name": "DASH TestVector Testcase

[2022-07-07 15:46] christosts commented on #10402
Please share a playlist and a bug-report obtained after the issue occurs, otherwise it's very hard to assist.

Thanks

[2022-07-07 15:55] icbaker commented on #10419
Duplicate of #10381

[2022-07-07 15:55] #10419 closed, assigned to icbaker

[2022-07-07 16:21] christosts commented on #10390
I'd like to clarify that you're describing two problems: First, the `DecoderInitializationException` and second the "slow motion with frame drops".

For the second problem, ("slow motion with frame drops"), as of 2.13.0, the player may adjust the playback speed on live streams (from x0.97 to x1.03), to ensure live offset remains stable. We have seen that this may cause dropped frames on some devic

[2022-07-07 18:17] christosts commented on #10196
Apologies for the delayed response.  Your playlist has 1 audio track and it is muxed with video. As described in the blog post

The playlist you supplied to us does not fall in this category, so the benefits are not great. If you use playlists with multiple audio renditions, you will see bigger improvements.

Other than that, your playlist contains the CODEC attribute correctly and chunkles prepar

[2022-07-07 18:19] #10196 closed, assigned to christosts

[2022-07-07 19:05] rohitjoins commented on #10381
A [fix](https://github.com/google/ExoPlayer/commit/9e10286b5ea624b8a7533e5fc452b19476589764) for this bug has been released in the dev-v2 branch.

[2022-07-07 19:05] #10381 closed, assigned to rohitjoins

[2022-07-07 19:06] #10384 closed, assigned to rohitjoins

[2022-07-07 19:36] yuroyami commented on #10295
[ExampleFiles.zip](https://github.com/google/ExoPlayer/files/9066829/ExampleFiles.zip)

Regardless to MimeTypes such as ASS and SRT. There are ***two*** categories of subtitles I am talking about: **_Externally_**-loaded ones (manually loaded) and **_internal_** ones (coming in a MKV container).

The issue does ***NOT*** exist with manually-loaded SSA/ASS subtitle files. Here's where the problem i

[2022-07-07 20:33] dino-saurabh commented on #10417
Yes exactly, we are facing AudioTrackInitExceptions(<=28 API level) and IllegalStateExceptions(>=29 API level) while creating AudioTracks specifically in some devices, primarily Android Boxes.
In addition, we were also facing some `MediaCodec.CodecException.ERROR_INSUFFICIENT_RESOURCE` on some mobile devices as well. I can dig up the exact CPU models if that would be helpful @christosts

[2022-07-07 21:30] yuroyami commented on #10418
- Have you tried including the classes in question to proguard rules ?

Also, are you using ExoPlayer all-around dependency or declaring each part of ExoPlayer independently ? This may perhaps happen due to a conflict of versions between ExoPlayer parts.

[2022-07-07 21:46] Tolriq commented on #10381
@rohitjoins thanks. Do you have an eta for next release? I'm in beta with current version and just need to know if I should revert or wait for fix before release. No need for precise date.

[2022-07-07 22:34] InfinityLoop1308 commented on #10402
Hi, thanks for help.

The problem is, as I mentioned, the video will expire in about 2 minutes, and is geo-restricted to Japan.

This is the crash log

Crash log

[code]

Hope this helped. If you need any additional information, please reply me.

[2022-07-08 05:11] TheBeastLT opened #10420 "MediaSession play/pause events not propagated to LeanbackPlayerAdapter"
### ExoPlayer Version

2.18.0

### Devices that reproduce the issue

Any Android TV

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Yes

### Reproduction steps

Connect player with a MediaSession and try to play/pause the video using mobile.

### Expected result

When clicking play/pause the controls overlay should be triggered and their state update

[2022-07-08 10:47] christosts commented on #10417
I don't think there is a single delay value that you can use in your app and which will solve all these problems.
It could be that on a specific device a delay of 100-200ms works, but this delay is subject to the device and likely to be tuned with a try-and-error approach. Let me repeat that by design, no such delay is needed.

If it's not a big burden for you, I would consider adding this delay o

[2022-07-08 10:54] SaurabhOfficial commented on #10417
Yes, I have already done that but I thought we might need to have some discussion on delay as I feel all these errors are in one way or the other related to resource crunch on the device.
We will try and experiment with a few delay values for specific devices and update any positive results here.

[2022-07-08 10:59] christosts commented on #10417
Thank you.

I'm closing this issue for now, please feel free to update it with any data that comes up after experimentation.

[2022-07-08 10:59] #10417 closed, assigned to christosts

[2022-07-08 12:08] javaboboApp commented on #10415
Thanks @christosts  for the answer is clear to me.
What I try to archive is a decrease in the VST(video start time) using lower resolution when video starts.

I have done some test and I can see that that player selects the lowest resolution when I reduce the values.

I have also noticed that this happens during a small period of time.

I guess it is related with **DefaultLoadControl.bufferForPlay

[2022-07-08 12:09] christosts commented on #10402
In the issue description you mention `Aes128dataSource`, so I assume HLS segments are encrypted with AES-128. My starting point of investigation would be to see if the HLS playlist is formed correctly and that the player parses the encryption information correctly to decrypt the segments. So we need to start at least with the playlist.

We cannot assist further without having some testing data. We

[2022-07-08 12:33] christosts commented on #10415
There are different parameters you can tune on the player, but I believe what you are trying to achieve is functionally best suited to go into `AdaptiveTrackSelection`. At the moment, the player's algorithm tries to download the best possible resolution without risking a rebuffering. You want to tune it to start playback sooner by lowering the downloaded content's bitrate.

By changing the Default

[2022-07-08 12:33] #10415 closed, assigned to christosts

[2022-07-08 12:35] InfinityLoop1308 commented on #10402
Hi.
It is a relatively complicated procedure, so I will post my code. Jsoup and nanoJson are used.
First you need to get the download url. The function is provided below, and the input url should be `https://www.nicovideo.jp/watch/so35380413`
[code]
After obtain the download url, you need to configure the header to avoid being blocked.
[code]

Hope these help.

[2022-07-08 13:49] RamilGabdrakhmanov opened #10421 "Support splicing in DASH and SS to better support adaptive quality changes after load cancellation in the middle of the segment"
ExoPlayer can change video track  during DASH adaptive playback. How i know ExoPlayer can change video track only on segments edges. So, can ExoPlayer change video track the middle of the segment?

Example:
1) Each segment is 10 seconds long
2) 4 second of the segment was played
3) I have only 0,5 sec buffer
4) Bandwidth is very low
5) I recognize that it is necessary to change video track to lowe

[2022-07-08 14:13] christosts commented on #10421
The short answer is you should avoid doing that. It is highly unlikely that playback will remain smooth and (my understanding is that) changing quality mid-segment goes against the adaptive specs design.

To change to a different segment while playing the same segment in a different quality, we'd have to start downloading the new segment from its start and, for video segments, we'd have to start d

[2022-07-08 15:14] RamilGabdrakhmanov commented on #10421
We are developing low latency live dash playback.  Our target latency is 7 seconds. So, usually we will have 3-4 sec buffer. 3-4 sec will spend to transcode video and deliver it to CDNs. And we have 4-second segments.

In stable network situation we will change video quality just between segments. But sometimes network can get worse very quickly. In this cases much better to re-download and decode

[2022-07-09 03:51] darren5231 opened #10422 "Issues with performing cleaning Exoplayer or hiding it and then switching views."
Hi there I've been looking all around to solve the issue as described in the title. I have a single instance of the Exoplayer and been trying to either overlap a view to not show the last frame when I clean the Exoplayer instance with the release method or trying to get the player to hide everything when I don't need it but both approaches are failing me. What I have right now is this layout in my

[2022-07-09 08:29] david2tm commented on #8435
@icbaker I looked into what SSA/ASS supports and what is implemented and what not. So what I think about it.
Currently there are two "subtitle" renderers. CanvasSubtitleOutput (the default) and WebViewSubtitleOutput (which I'm not sure how it's launched, I guess it's done by the app which uses ExoPlayer).
Anyway - to play with it I forced the WebViewSubtitleOutput, just because doing some styling

[2022-07-09 15:35] gb103 commented on #10369
Any resolution on this, am also facing the same issue. My exoplayer version is 2.15.1

[2022-07-10 01:23] #10383 closed, assigned to tonihei

[2022-07-10 01:23] yuzhidi commented on #10383
thx

[2022-07-10 11:46] #7966 closed, assigned to AquilesCanta

[2022-07-10 16:50] gb103 commented on #10285
@christosts more info to this, While playing a DAI media for live stream, when ad starts then first ad audio played but video frame got freeze then below error is encountered.

2022-07-10 22:12:37.456 3658-3658/com.sonyliv D/EventLogger: videoInputFormat [eventTime=1189.22, mediaPos=71.69, window=0, period=0, id=7, mimeType=video/avc, bitrate=3289416, codecs=avc1.64001F, res=1280x720, fps=25.0]
20

[2022-07-10 23:14] sajjadshahbazi opened #10424 "can't set elevation when use two StyledPlayerView in android 7"
### ExoPlayer Version

2.17.1

### Devices that reproduce the issue

* any devices of android 7

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Yes

### Reproduction steps

I have two StyledPlayerView, which one of them for the main video and another for the playback advertisement.
while playing the main movie we want to play an advertisement over th

[2022-07-11 01:04] #10293 closed, assigned to christosts

[2022-07-11 06:33] LloydBlv commented on #10418
The mentioned classes are added to the proguard rules file. A unified version is being used for all the exo dependencies actually 2.17.1. Also tried to use recent version, 2.18.0 and still same issue.

[2022-07-11 08:07] laxmansinghlead opened #10425 "Decoder error with Lenovo Tablet"
### ExoPlayer Version

2.18.0

### Devices that reproduce the issue

Device Name:- Lenovo TB-7305X
Android Version:- 9
Android security patch level:- 5 January 2022
Hardware version:- Lenovo Tablet TB-7305X
Software version:- TB-7305X_S000125_220209
Ram Size:- 2.00 GB
Rom Size:- 32.00 GB
CPU:- MediaTek MT8765B 4 Core 1.3 GHz
Display:- 1024x600

### Devices that do not reproduce the issue

_No resp

[2022-07-11 09:37] jambestwick commented on #8261
07-09 09:50:35.299   452   520 I OMXClient: IOmx service obtained
07-09 09:50:35.299   458   458 I OMXMaster: makeComponentInstance(OMX.google.amrnb.decoder) in omx@1.0-service process
07-09 09:50:35.303   713   713 I Zygote  : seccomp disabled by setenforce 0
07-09 09:50:35.306   548   565 W ActivityManager: Slow operation: 133ms so far, now at startProcess: returned from zygote!
07-09 09:50:35.3

[2022-07-11 10:23] tonihei commented on #10421
As @christosts pointed out, the preferred way for adaptive quality adjustment is to make changes at segment boundaries as intended by the specs. However, cancelling an ongoing load if the chosen quality was too high is a valid use case we want to support as well.

ExoPlayer already supports canceling an ongoing chunk load to allow reloading it in another quality. This was implemented as part of #7

[2022-07-11 10:32] marcbaechinger commented on #10418
Thanks for reporting! I can repro this with a new project in Android Studio that plays a DASH sample. I can't repros with the demo app. Marking as bug. We need to investigate this.

[code]

[2022-07-11 10:58] LloydBlv commented on #10418
Testing on the new media3 dependencies produces the same result, fails on :app:minifyReleaseWithR8 task

[2022-07-11 11:06] christosts commented on #10285
The errors reported are coming from the platform/device decoders.

In the issue description:
- crash 1 is raised from the device H264 video decoder (MKT chipset)
- crash 2 is raised from the Android AAC audio decoder
- crash 3 is similar to crash 1
- the stack trace for the comment above is coming from the AVC video decoder of device with a Qualcom chipset

For us to assist, please share the infor

[2022-07-11 11:21] marcbaechinger commented on #10418
Looks like a bug in the tooling to me - probably in the Android Gradle Plugin.

When downgrading for instance to `7.2.1` (Android Gradle Plugin version) it works for me with Gradle version `7.3.3` and `7.4`. With an Android Gradle Plugin above `7.2.1` it fails for me. Can you confirm this?

[2022-07-11 11:26] tonihei commented on #10401
I think the proposed logic change makes sense.  The HLS spec for example only says

Having one of the languages undefined constitutes a "match with the playback environment" I'd say.

This means the evaluation for `selectedAudioLanguageScore` in `TextTrackInfo` needs to have decreasing scores for these cases:
 - A match or partial match of the audio and text track languages (using the existing log

[2022-07-11 11:52] marcbaechinger commented on #10425
I assume you are using `CastPlayer` from the ExoPlayer library and you have reproduced this with the `Cast demo app`.

It looks to me as if the Cast receiver app crashes because of the media. I'm not sure about this with the information available, but this would match to what you are describing and the fact that the bug report that you sent does not contain any evidence that something is going wro

[2022-07-11 12:24] marcbaechinger commented on #10424
This looks like a general Android UI challenge on various API levels for me that you need to solve in your app.

Can you narrow down the bug report in what you think is broken on the `StyledPlayerView`?

[2022-07-11 12:28] LloydBlv commented on #10418
I can confirm that 7.2.1 worked fine but any version above fails

[2022-07-11 12:35] marcbaechinger commented on #10422
I thought be default the last frame is not retained. What is your setting for [keepContentOnPlayerReset](https://github.com/google/ExoPlayer/blob/release-v2/library/ui/src/main/java/com/google/android/exoplayer2/ui/StyledPlayerView.java#L151)?

[2022-07-11 12:50] amiantoch commented on #10396
Hi,

are there any updates on this issue?
Is any additional information required from our side to further clarify?

Thanks

[2022-07-11 14:09] tonihei commented on #10412
As you already pointed out, `LoadEventInfo.uri` should contain the redirected url if one exists. If this isn't the case, then the redirection either didn't happen yet (or the error was thrown before it happened), or there is bug in forwarding the redirected url somewhere. If you have a concrete way to reproduce the problem, please provide more details and we can take a look.

[2022-07-11 14:12] vijayviswas opened #10426 "Exoplayer Dash parser Accessibility field"
I am working on Dash player. There are two audio tracks in Dash with same lang "en" First audio track has Accessibility field as it is audio descriptive track

<Accessibility schemeIdUri="urn:tva:metadata:cs:AudioPurposeCS:2007" value="1"/>
So how should I get this Accessibility field info in exoplayer?

[2022-07-11 14:21] laxmansinghlead commented on #10425
**I am using System's Miracast for casting.** Please find attached screenshot for reference.

![Screenshot_2022-07-11-19-24-51-522](https://user-images.githubusercontent.com/109063378/178286174-652cb597-b04f-40ae-9c05-d6914a6465ac.jpeg)

![Screenshot_2022-07-11-19-25-01-462](https://user-images.githubusercontent.com/109063378/178286220-c7cbf885-de25-49a6-86f9-80a8e7290cad.jpeg)

###  Below are the

[2022-07-11 15:48] darren5231 commented on #10422
@marcbaechinger thanks for the response. Seems playing around the translationZ property of the player view helped get the behaviour I'd like. I don't set keepContentOnPlayerReset to anything but what I noticed is when I try to hide the player view with the View.GONE or View.INVISIBLE property while it's stopped or playing, is that briefly the player view would turn transparent showing the underlyi

[2022-07-11 15:48] #10422 closed, assigned to marcbaechinger

[2022-07-11 16:10] christosts commented on #10420
Thank you for reporting this. We submitted a fix (this issue will be updated once the commit is pushed the dev-v2 branch) which will be included in the next release (2.18.1 or 2.19.0, which ever comes first).

[2022-07-11 16:10] #10420 closed, assigned to christosts

[2022-07-11 16:21] marcbaechinger commented on #10425
In this case this has nothing to do with Cast. It looks like this device has an issue with that file. When I play the file you sent by email on a Pixel phone then it plays fine.

The stack trace tells that there is a playback error caused by some audio codec issues on that device:

[code]

Can you confirm you are seeing this on only this device?

[2022-07-11 16:59] christosts commented on #10369
This sounds like a device-specific problem but let's try to strike out some other possibilities first.

On the email we received, the test content is protected with Widevine and the bug-report has some CDM errors logged by the platform as soon as playback starts (not after an adaptive switch). You also mentioned that the issue reproduces with clear content, so it's not related to DRM. Can you plea

[2022-07-11 18:04] marcbaechinger commented on #10396
I'm not quite sure whether I understand all your requirements and what manipulations you want to do at what moment in time of the SDK/Player interaction. But I think there are some hooks that are useful for you to know about.

The `ImaServerSideAdInsertionMediaSource.Factory` allows app to set their `MediaSourceFactory` by passing it to the constructor. By default apps want this to be the `Default

[2022-07-11 19:42] #10426 closed, assigned to nobody

[2022-07-11 19:42] vijayviswas commented on #10426
I found the solution

[2022-07-11 23:00] sajjadshahbazi commented on #10424
I don't know what more information you need?

I have two StyledPlayerView, one of them for the main video (id: playerView) and another for the play advertisement(id: playerAdView). before starting the main video I played an advertisement after that I init exoplayer of the main video and start playing the main video, After 10 seconds, I play the ad again, but in this situation playerAdView (for adv

[2022-07-12 00:43] sajjadshahbazi commented on #10424
I need to control elevations of StyledPlayerViews or prevent changing bottom margin of defaulttimebar.

[2022-07-12 00:53] sajjadshahbazi commented on #10424
I even put StyledPlayerView of advertisement at the new fragment but still displaying behind of playerView (the main video) !!

[2022-07-12 01:04] #10325 closed, assigned to ojw28

[2022-07-12 01:04] #10312 closed, assigned to marcbaechinger

[2022-07-12 02:14] blvckcoded opened #10427 "Shouldn't WifiLockManager check if a lock is already held?"
Hey there,

I wasn't sure what was the right issue type to use here, so I thought I'd ask here first.

I recently came upon a crash in firebase: `java.lang.UnsupportedOperationException: Exceeded maximum number of wifi locks`. After following the breadcrumbs, I found it came when calling `ExoPlayer.prepare()` which eventually leads to acquiring a wifi/wake lock, depending on player configurations

[2022-07-12 09:52] TheBeastLT opened #10428 "Subtitle bottomPaddingFraction not applied for VTT subtitles"
### ExoPlayer Version

2.18.0

### Devices that reproduce the issue

Android TV API 29

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Not tested

### Reproduction steps

Set `bottomPaddingFraction` in `SubtitleView` and try to play sideloaded `VTT` type subtitles, they will be positioned at the bottom.

### Expected result

`VTT` sideloaded subtitle

[2022-07-12 10:06] TheBeastLT opened #10429 "Overrides not populated by default in TrackSelectionDialogBuilder"
### ExoPlayer Version

2.18.0

### Devices that reproduce the issue

Any

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Yes

### Reproduction steps

When building `TrackSelectionDialogBuilder` using constructor with the `Player` argument, builder does not take into account existing overrides and by default the dialog will always select `Auto` option

[2022-07-12 10:28] icbaker commented on #10428
Duplicate of #7934 (this is working as intended, not a bug)

[2022-07-12 10:28] #10428 closed, assigned to icbaker

[2022-07-12 10:54] ojw28 commented on #7030
I'm a little unclear where this ended up, since the pull request ref'd at the top of the issue was merged. Given this hasn't received updates for quite some time, I'll go ahead and close this. If there's still remaining work to be tracked, it's probably going to be clearer to file a fresh issue.

[2022-07-12 10:54] #7030 closed, assigned to tonihei

[2022-07-12 10:59] ojw28 commented on #5046
We do not see any significant demand for this feature, and have no plans to add support.

[2022-07-12 10:59] #5046 closed, assigned to ojw28

[2022-07-12 11:01] ojw28 commented on #6692
I suspect that solving https://github.com/google/ExoPlayer/issues/5024 would also fix this problem, so closing as a duplicate of that.

[2022-07-12 11:01] #6692 closed, assigned to ojw28

[2022-07-12 11:05] luckygoyal-bitmovin commented on #10369
Hi @christosts , thanks for checking this issue. We have made some progress on analysis of this issue since reporting it and have a hypothesis. I am sharing it below to get a feedback and hopefully any further direction from Exo team.

- This indeed seems like a device specific issue but is not specific to device but rather a combination of device and stream.
- With further tests we identified tha

[2022-07-12 11:06] ojw28 commented on #9966
This isn't something we have capacity to provide support on, I'm afraid. It seems highly specific to your individual app setup.

[2022-07-12 11:06] #9966 closed, assigned to ojw28

[2022-07-12 11:16] ojw28 commented on #9063
* `MediaCodec.setVideoScalingMode` doesn't do anything when using `TextureView` (it applies to `SurfaceView` only). Unfortunately this is not clearly documented (as far as I can tell), but that aside, it's not useful for what you're trying to do, so you can discard this option.
* I would also advise against using `Format.rotationDegrees` as a way to get the codec to perform rotation. There's no ne

[2022-07-12 11:16] #9063 closed, assigned to ojw28

[2022-07-12 11:57] rabinansal opened #10430 "ExoPlayer in Android not load with M3U8 + QueryParameter(auth)"
I am using com.google.android.exoplayer2 and I had to load / streaming videos like

http://raax.xyz/SportsCornerGroup/playlist.m3u8?ch=star1in|User-Agent=SportsCornerGroup&Referer=https://noob4cast.com&cookie=SportsCornerGroup

 player is not loading this videos.

[2022-07-12 11:59] ojw28 commented on #9062
Could you confirm whether this is device specific? We do receive occasional reports indicating that `MediaPlayer` performance is better, but not in large volume and not where there's such a large claimed difference.

[2022-07-12 12:01] ojw28 commented on #7547
Let's treat this as a duplicate of https://github.com/google/ExoPlayer/issues/9062.

[2022-07-12 12:01] #7547 closed, assigned to ojw28

[2022-07-12 12:08] #10316 closed, assigned to ojw28

[2022-07-12 12:24] ehsan9295 commented on #10390
Hi @christosts ,
thanks for your answer. I just wanted to add that the "second problem" occurs only in cases where we have `DecoderInitializationExceptions`. I.e. whenever we switch from a DRM-protected channel to a non-DRM protected channel **and** have a `DecoderInitializationException`. As I mentioned above we don't have the exception always but  from time to time. So in generall we don't have

[2022-07-12 12:58] marcbaechinger commented on #10430
You need to provide a bit more info so we know what is going wrong exactly.

In the case of the URL above I do a

[code]

That gives a redirect that goes from http to https which ExoPlayer does not allow. See [DevGuide](https://exoplayer.dev/troubleshooting.html#why-do-some-streams-fail-with-http-response-code-301-or-302) also.

When I then copy the redirect URL manually and I do

[code]

i get a

[2022-07-12 13:06] rabinansal commented on #10430
This url work in mx player

[2022-07-12 14:12] stevemayhew commented on #7030
That’s fine Oliver, with the `TimestampAdjuster` changes the design for
this needs revisiting

On Tue, Jul 12, 2022 at 3:55 AM Oliver Woodman ***@***.***>
wrote:

[2022-07-12 15:37] marcbaechinger commented on #10430
Without more information from your side I can't really help you I'm afraid.

I'm happy to help you towards solving this if this is possible (see comment above also). You could on your side, for instance, provide a stack track, or tell us what network stack you are using in your app. You could also relate your comment to the answer I was giving  to confirm/reject the hypothesis made there in absenc

[2022-07-12 15:57] rabinansal commented on #10430
The question is how to use URL with M3U8 + Query Parameter. Above link has no problem it working in mx player
For detailed question see this below links
https://stackoverflow.com/questions/67412832/exoplayer-in-android-not-load-with-m3u8-queryparameterauth

[2022-07-12 16:18] rohitjoins commented on #10367
@rcombs  `parseH265SpsNalUnitPayload` uses `ParsableNalUnitBitArray` which unescapes the data and as such there is no requirement to call `unescapeStream` again.

https://github.com/google/ExoPlayer/blob/03569f9e6536e6c60cb585115d6d7352a4deab71/library/extractor/src/main/java/com/google/android/exoplayer2/util/NalUnitUtil.java#L484

I tried playing the attached mp4 file using our demo app and it r

[2022-07-12 19:15] rcombs commented on #10367
Ah, I see, I'd misinterpreted what was going on with the original sample file (it was actually #10316, which wasn't yet fixed in the version in the report I'd looked at). This does seem to be behaving fine now; apologies for the confusion!

[2022-07-12 19:15] #10367 closed, assigned to rohitjoins

[2022-07-12 21:47] rrfrias commented on #10314
From the bugreport, it does appear to be an issue with the device. I would like to share the bugreport with Huawei to investigate furthur. Can you let me know if i have your permission? Also can you share repro steps include the specific video you tried to playback. I do not have a Huawei Nova 9 to test with and Huawei might not be very familiar with Exoplayer so precise steps will be helpful.

[c

[2022-07-12 22:36] rrfrias commented on #10304
We tried to look at logs at our service to see errors but given the volume were not able to find anything related. Might it be possible for you to share timestamps(and timezone) for HTTP 400 errors for one day to help us narrow down our search for errors. If you can include device make/model, that would help. We also keep logs for a short period of time, so it will be helpful if you share data fro

[2022-07-13 02:12] kingfisherphuoc commented on #9062
@ojw28 no, this is not a device-specific issue. I tested the issue on 5 devices. 3 of them which were low-end devices ($150 or $250 / device) got huge frame-drop.

[2022-07-13 04:23] tpuserhp opened #10431 "H.264 video stream freezes after loading on Amazon fire tv 4K stick"
Unfortunately we can't answer all questions. Unclear questions or questions with
insufficient information may not get attention.

Before filing a question:
-------------------------

- Ask general Android development questions on Stack Overflow
- Search existing issues, including issues that are closed
  https://github.com/google/ExoPlayer/issues?q=is%3Aissue
- Consult our developer website (https

[2022-07-13 04:32] tpuserhp commented on #10431
The url for the stream has been sent.

[2022-07-13 06:07] matamegger commented on #10305
Hey, sorry I missed that notification.

I have seen such HLS streams several times already. This seems like a common practice, or at least not uncommon practice. On DASH a similar practice can be observers, where live streams have an `availabilityStartTime` at epoch 0. I can only speculate on why to set the `EXT-X-PROGRAM-DATE-TIME` to `1970-01-01T00:00:00.000Z`.

The tag is mandatory if `EXT-X-DA

[2022-07-13 06:46] vishnuchilakala commented on #10304
[DRM_Provisioning_Error_Device_List.csv](https://github.com/google/ExoPlayer/files/9099461/table.csv)

**@rrfrias Above is a CSV with the device names and timestamps that encountered the error. All the timestamps are in GMT +0 timezone.**

One more peculiar observation we found recently was that all the errors are bound with changes in app versions i.e. a user either starts getting the error on ev

[2022-07-13 08:31] amiantoch commented on #10396
Very useful tips!:)
The second solution seems to be working perfectly for our needs.

Thank you!

[2022-07-13 08:31] #10396 closed, assigned to marcbaechinger

[2022-07-13 09:18] christosts commented on #10305
We'll try to fix this, it looks like it won't take too much effort.

PS I'm adding the `enhancement` label rather than `bug` because I'm not sure if the player existing behavior  was intended on not

[2022-07-13 09:22] matamegger commented on #10305
Yes, agree.

Thank you! Makes sense 🙂

[2022-07-13 10:07] marcbaechinger commented on #10430
[code]

In case the URL parameters above are not URL parameters but HTTP header, you may want to read [this section of the DevGuide on how you can set HTTP headers](https://exoplayer.dev/customization.html#customizing-server-interactions).

It looks like when setting the above URI parameters as HTTP headers with curl

[code]

then response is not an empty page but a HLS manifest.

[2022-07-13 16:02] RybakovSemyon opened #10432 "Ability to disable the default error alert dialog"
Hello!
We have a need not to receive a default alert dialog when a video playback error occurs.
This alert dialog appears in the `Mediacontrolsview.PlayerCallback` class in the `public void onPlayerStateChanged(@NonNull PlayerWrapper player, int state)` method when state case into switch block = `Session Player.PLAYER_STATE_ERROR`
Is it possible to add a custom setting to skip this alert dialog?
W

[2022-07-13 16:58] marcbaechinger commented on #10429
Thanks for reporting!

To achieve what you want I think you can do

[code]

I'm not sure about whether not setting the overrides in the constructor is the intended behaviour. It's meant to present the dialog without a pre-selection. The selection then can be done by using the setter `TrackSelectionDialogBuilder.setOverrides(Map)`.

Agreed that it could be the other way around and then to prevent a

[2022-07-13 17:32] marcbaechinger commented on #10432
This is a `androidx.media2` component. `androidx.media2` is superseded by the `androidx.media3` [session module](https://github.com/androidx/media/tree/release/libraries/session) that we have released in beta recently. Said this, this enhancement will probably be of low priority I'm afraid. While this is probably not what you wanted to hear, I recommend migrating to media3.

However, in general I

[2022-07-13 17:43] christosts commented on #10369
It sounds like this is a device-specific problem.

Yes. If a MediaCodec instance stops producing input/output buffers, the player will get stuck. This is aligned with your observation of video freeze (the last decoded frame remains on screen). Unfortunately, we do not detect such cases as it is very difficult to reliably detect a decoder is stuck.

The renderer expects the initialization data to b

[2022-07-13 17:43] #10369 closed, assigned to christosts

[2022-07-13 18:19] christosts commented on #10390
@icbaker are you aware of any change in the DRM component or how switching between DRM and clear content is performed, between ExoPlayer versions 2.11.3 and 2.15.1 that would exhibit the above behavior?

[2022-07-13 18:54] #10366 closed, assigned to rohitjoins

[2022-07-13 21:21] marcbaechinger commented on #10427
The JavaDoc of [`WifiManager.WifiLock.acquire()`](https://developer.android.com/reference/android/net/wifi/WifiManager.WifiLock#acquire()) says that any call to `acquire` after the first call is ignored if `WifiLock.setReferenceCounting(false)` is called.

ExoPlayer is doing this right [after the creation of the `WifiLock`](https://github.com/google/ExoPlayer/blob/release-v2/library/core/src/main/

[2022-07-13 21:46] AleSoHe opened #10433 "MPEG-TS over RTSP Stream"
I've been searching in both the documentation and the source code to check if the RTSP Media Source can handle the stream contained in MPEG-TS.

* RTSP works fine.
* MPEG-TS through UDP works fine.
* But when sending MPEG-TS with RTSP, the player doesn't work. It's not the case for many players such as VLC, GStreamer, Totem, MPlayer, etc.

Can ExoPlayer play video contained in MPEG-TS through RTSP

[2022-07-13 21:50] blvckcoded commented on #10427
Interesting.... I followed through on all the links, commits and documentation you shared, and indeed if you disable referencing counting then repetitive calls to `acquire` should be ignored. However, I am seeing these crashes with my app in production using v2.18.0. I checked source and looks like the file `WifiLockManager` has changes since the commit you shared, with how [the wifiLock is create

[2022-07-13 21:59] rrfrias commented on #10314
I have learned that we are limited in the assistance we can provide for Huawei devices. Sorry. You might want to contact Huawei directly if you need to investigate this furthur.

https://support.google.com/android/thread/29434011/answering-your-questions-on-huawei-devices-and-google-services?hl=en

[2022-07-13 21:59] #10314 closed, assigned to rrfrias

[2022-07-14 00:00] rrfrias commented on #10304
A device only needs to provision once for a given app. This is unless the app forces it to reprovision. If it stops working after an app upgrade, do you know what fails? a license request? or perhaps an app failure? It should not be a provisioning error. Is provisioning being forced after this error?

Do you see these problems on a small percentage of devices after an app upgrade? And do you see s

[2022-07-14 00:47] NanyangTaiji opened #10434 "Custom data source reading from zip file not working"
I tried to write a ZipDataSource,  and used both inputstream = zipFile.getInputStream(videoEntry) fromjava.util.zip.ZipFile package
and inputstream = zipFile.getInputStream(videoFileHeader) from net.lingala.zip4j.ZipFile package, but none of them worked due to "UnrecognizedInputFormatException".

[2022-07-14 01:04] #10338 closed, assigned to icbaker

[2022-07-14 03:01] tpuserhp commented on #10431
Also, logcat from the fire tv 4k stick has been sent. I noticed some decoder error messages Not sure they are related to the freezing of the video (audio was still going). I hope I did not stop the logging too soon. Thanks.

[2022-07-14 04:29] #10430 closed, assigned to marcbaechinger

[2022-07-14 09:25] marcbaechinger commented on #10434
Difficult to say what isn't right here. I think I would first unzip that file manually and stream it this way. Once this works,  you can do the same with the ZIP source like you suggested above and compare the bytes you get from the zip stream as compared to the working unzipped stream.

[2022-07-14 09:30] claincly commented on #10433
ExoPlayer does not support TS at the moment and we don't have plan to support it any time soon.

For a list of supported formats, please see [this folder](https://github.com/google/ExoPlayer/tree/release-v2/library/rtsp/src/main/java/com/google/android/exoplayer2/source/rtsp/reader)

[2022-07-14 09:30] #10433 closed, assigned to claincly

[2022-07-14 09:46] alizahid1996 opened #10435 "MKV Video with VC1 Codec not supported"
I have downloaded an mkv file online. The file plays correctly but it shows a black screen. Audio from the video is playing but the video not showing, instead, a black screen is displayed.

I have also tried to play the same video on other players like Vlc Media Player and Mx Player, they play it perfectly with video and audio.

I have tested this on many devices like (Xiaomi Redmi Note 9 Pro, Opp

[2022-07-14 10:40] marcbaechinger commented on #10435
By default ExoPlayer is using the hardware decoders of the Android platform. The formats supported by these can be found [here](https://developer.android.com/guide/topics/media/media-formats?authuser=1#core). Like you already noticed the VC-1 is not supported.

You could in theory use a software codec for decoding but this is not trivial because you would need to have a specific renderer for this.

[2022-07-14 10:54] alizahid1996 commented on #10435
So VC-1 codec is not supported by ExoPlayer, can I download the codec externally and somehow attach or integrate the codec with ExoPlayer? Because I have seen it in Playit, they show a dialog for downloading the codec, and the video plays

[2022-07-14 10:57] marcbaechinger commented on #10435
That's not possible with ExoPlayer I'm afraid.

[2022-07-14 10:59] alizahid1996 commented on #10435
Okay then, thanks for the information.

[2022-07-14 11:10] Tolriq commented on #10244
@marcbaechinger Bump on this one to be able to progress.
Now that https://github.com/google/ExoPlayer/commit/60437397f4984b5a5c64490fe88aa210d6547ce6 is merged I can use a custom build that does not throw and log something to analytics to be able to gather some data.

Can you please tell me exactly what I should gather from evaluateMediaItemTransitionReason when reaching the issue so you may have

[2022-07-14 11:18] icbaker commented on #10295
Thanks for clarifying that this specifically affects SSA inside MKV - that would explain why the commit I was referencing above isn't 'working'.

And thanks for providing example media, that will help to check any fix made for this works as expected.

The timestamps for SSA subtitles inside Matroska containers are extracted from the Matroska `TimeStamp` and `BlockDuration` elements. The `MatroskaE

[2022-07-14 11:19] TheBeastLT commented on #10429
Yes, that's what I do now, just that I had to dig into code a bit to understand why the previous selection was not saved and would always reset.  So that waa a bit confusing and unexpected, if you have to use this dialog.

Sure, that's fine.

[2022-07-14 13:02] vishnuchilakala commented on #10304
Thanks for the quick reply @rrfrias !

After random app upgrades for random devices, we are observing a ERROR_CODE_DRM_PROVISIONING_FAILED at the start of every playback from Exoplayer.

We have just the client side logs, which is why we are unable to confirm this. We are definitely getting a ERROR_CODE_DRM_PROVISIONING_FAILED from Exoplayer.  I was hoping that the timestamp / device model info th

[2022-07-14 14:04] SharyRajpoot opened #10436 "How to select an audio track by index"
Issue:
There are some streams available online which have multiple audio tracks some are with proper information and metadata and some are black but they still have multiple audio tracks.

e.g:
**Movie XYZ** has 2 audio tracks...like this
[code]
`This has almost complete info required to change audio tracks.. e.g en, hi`

Now there's another **Movie ABC** which has audio tracks like this...
[code]

[2022-07-14 14:37] icbaker commented on #10390
We made various DRM changes between those releases. Some that spring to mind as potentially relevant (but I don't have any concrete hypotheses, so these are all a bit of a stab in the dark) - snippets from the [release notes](https://github.com/google/ExoPlayer/blob/release-v2/RELEASENOTES.md):

You can disable each of these, to see their the root cause of your problem, as follows:

* *Prepare DRM

[2022-07-14 16:36] #7971 closed, assigned to marcbaechinger

[2022-07-14 16:37] marcbaechinger commented on #8189
Closing due to inactivity.

[2022-07-14 16:37] #8189 closed, assigned to marcbaechinger

[2022-07-14 18:13] marcbaechinger commented on #10436
The DevGuide has a page about track selection that includes a section [`Selecting specific tracks`](https://exoplayer.dev/track-selection.html#selecting-specific-tracks) that cover this case I think.

You need to find the audio track group you are interested in and then you can select by index:

[code]

[2022-07-14 18:41] Waldmann375 commented on #10373
When I set mediaitems to a MediaController, in the callback `onAddMediaItems()` of  `MediaSession.Callback`  Im getting `localConfiguration?.uri` returns null.
`mediaMetadata?.mediaUri` worked fine back then and did provide a proper uri.

[2022-07-14 20:30] rrfrias commented on #10304
If the app was provisioned before the update, there should be no reason to provision after. It is surprising that it is happening. And that an attempt is failing. We will look into the latter with the information you share with us. If you can get a bugreport from a device that is experiencing the problem, that might help us with the former.

[2022-07-14 20:53] rrfrias commented on #9968
Might it be possible to list of timestamp of HTTP 400 provisioning errors, make and model and share that with us? Possibly for the last two or three days. Thanks!

[2022-07-14 20:53] davinci26 opened #10437 "DefaultMediaSourceFactory ignores custom Cronet data source"
Hey folks,

### Core Problem

I am trying to enabled QUIC for ExoPlayer and I am running into issues that I believe are specific (in a way that is not clear to me) to ExoPlayer.

For start I have following piece of code:

[code]
That connection is going over the wire with HTTP3 (validated both via `MyUrlRequestCallback` and a packetdump)

Now when I use the same `cronetEngine` on ExoPlayer it neve

[2022-07-14 21:20] marcbaechinger commented on #10437
This is possibly a duplicate of androidx/media#116 which is a bug in the `DefaultMediaSourceFactory`.

The demo app does

[code]

which internally creates a `DefaultHttpDataSource` in  the constructor and the `dataSourceFactory` passed to the setter is ignored. This would in a very trivial way explain why you are seeing HTTP.

The quick fix would be to do

[code]

We have fixed this already and th

[2022-07-14 21:26] icbaker commented on #10373
@Waldmann375 Are you referring to `androidx.media3.session.MediaController`? Please file media3 issues & questions in the AndroidX Media GitHub project: https://github.com/androidx/media/issues

(It's going to be much clearer to discuss your question in a separate issue rather than try and explain it here, because there are differences when sending `MediaItem` data between the controller and the s

[2022-07-14 21:34] #10435 closed, assigned to marcbaechinger

[2022-07-14 22:03] davinci26 commented on #10437
Thank you so much! Verified that it works correctly now.

[2022-07-14 22:03] #10437 closed, assigned to marcbaechinger

[2022-07-14 23:42] NanyangTaiji commented on #10434
Yes, the unzip files work fine. I don't know how to compare bytes from different streams.

[2022-07-15 00:54] AhmedHumk opened #10438 "Why exoplayer cant play rtmp live videos that doesn't contain audio?"
I use this library to stream audio from Android

https://github.com/pedroSG94/rtmp-rtsp-stream-client-java/issues/1157

The above issue were related to exoplayer that doesn't play rtmp live video without audio included..

How can i play rtmp stream even if it doesn't have audio?

[2022-07-15 02:30] jenlai1345 opened #10439 "Play ads repeatedly for media items that are repeated"
Base on [https://exoplayer.dev/ad-insertion.html](url), " If a media item is repeated, the user will see the corresponding ads only once (the ad playback state stores whether ads have been played, so they are skipped after their first occurrence)."

Problem:
I have a playlist of 5 videos that are looped forever. I want to play ad (using ad_tag) after every video is played.
Due to exoplayer's desig

[2022-07-15 04:38] ryanhe4 opened #10440 "exoplayer cant play rtsp video that password include "@" string"
I have rtsp uri
rtsp://admin:@admin@169.254.2.100:554/0/onvif/profile2/media.smp

and get below messages
[code]

i think player determines "admin@169.254.2.100:554" as host

is there any method to authenticate with username and pass ?

[2022-07-15 05:28] tpuserhp commented on #10431
From the fire tv 4k and mobile devices logcats, I found the mediapos value is negative. Not sure this plays a part of the issue. But I don't know  why  this issue does not happen on my 5 other mobile devcies running Android 7 to 12. It just happens on the fire tv 4K stick.  I also got a logcat when using Mx Player on the fire tv 4K stick to play the same stream OK. It is using the same video hardw

[2022-07-15 05:28] dino-saurabh commented on #9968
Sure, will mail the information @rrfrias and update here once done.

[2022-07-15 05:31] vishnuchilakala commented on #10304
Sent two bugreports from the affected devices to dev.exoplayer@gmail.com.

Please let us know about your analysis on the server side. Thanks for the help @rrfrias !

[2022-07-15 06:08] yuroyami commented on #10436
In case you don't know how to obtain track indexes, use the following code to analyze audio tracks of a certain media item :

[code]

And this is the custom Track class I used above to save information about a track (format):

[code]

[2022-07-15 06:57] Lohit-Huddar opened #10441 "How to change the DNS server used by ExoPlayer"
### ExoPlayer Version

2.16.1

### Devices that reproduce the issue

Any android device

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Not tested

### Reproduction steps

Sometimes, ISP does fail to resolve hostname to IP and player ends up in below error,

   **Exception caught : HttpDataSourceException: Unable to connect to** myhostname.com, **Una

[2022-07-15 07:47] BucherTomas commented on #10162
We are just about to release app version with enhanced logging that should provide the required info for you. Once we have something, it will be shared here.

[2022-07-15 08:24] tonihei commented on #2518
We added a method `ExoPlayer.isTunnelingEnabled` to query the tunneling state of the currently selected tracks. You can listen to `Player.Listener.onTracksChanged` to get notified when tracks (and potentially this value) change.

[2022-07-15 08:24] #2518 closed, assigned to tonihei

[2022-07-15 08:25] tonihei commented on #10057
This should be fixed now by automatically using a single thread executor for releases that happen at the same time.

[2022-07-15 08:25] #10057 closed, assigned to tonihei

[2022-07-15 08:25] tonihei commented on #9889
Fixed by the commit above.

[2022-07-15 08:25] #9889 closed, assigned to marcbaechinger

[2022-07-15 08:26] tonihei commented on #10361
The issue outlined in the comment above is fixed now.

[2022-07-15 08:26] #10361 closed, assigned to tonihei

[2022-07-15 08:26] tonihei commented on #9752
The PR #10185 is merged now, so this feature is supported.

[2022-07-15 08:26] #9752 closed, assigned to tonihei

[2022-07-15 08:28] tonihei commented on #10246
This is now supported after merging a modified version of  #10260.

[2022-07-15 08:28] #10246 closed, assigned to tonihei

[2022-07-15 08:28] tonihei commented on #10298
Fixed by the commit above.

[2022-07-15 08:28] #10298 closed, assigned to icbaker

[2022-07-15 08:29] tonihei commented on #8212
Fixed by the commits above.

[2022-07-15 10:02] marcbaechinger commented on #8212
I think we need google/ExoPlayer#9078 also to have this properly working.

[2022-07-15 11:33] louiewh opened #10442 "VideoRender sync force use StandaloneMediaClock"
Unfortunately we can't answer all questions. Unclear questions or questions with
insufficient information may not get attention.

Before filing a question:
-------------------------

- Ask general Android development questions on Stack Overflow
- Search existing issues, including issues that are closed
  https://github.com/google/ExoPlayer/issues?q=is%3Aissue
- Consult our developer website (https

[2022-07-15 11:34] louiewh commented on #10442
Is a way that VideoRender sync force use StandaloneMediaClock ? thanks

[2022-07-15 12:00] marcbaechinger commented on #10441
I'm not aware that there is an Android API that lets an app set the DNS server. I don't think that resolving the host name is part of the HTTP stack but is provided to the HTTP stack by the OS. A user can change the DNS server in the settings and I actually think this shouldn't be overridden by an app. But that's my opinion which doesn't count as an argument whether there is such an API or not. :)

[2022-07-15 12:13] marcbaechinger commented on #10434
You would need to dump this to a file or similar. It's actually not about doing an analysis of the diff, but more to make sure that unzipping the file programmatically results in the same data as unzipping it with a tool.

If you see this works from the unzipped file but not from what you get when using the ZIP library of your choice, then the logic of programmatically unzipping needs to be change

[2022-07-15 12:17] christosts commented on #10441
@Lohit-Huddar is the error message that you posted accurate or have you modified it before copying here? That is

indicates the player tried to download from the hostname `.com`. Did you reduct the hostname? If not, and this is the actual hostname, I'd assume there's an error/bug elsewhere and not the device's DNS server settings.

[2022-07-15 12:36] Lohit-Huddar commented on #10441
Firstly, thanks @marcbaechinger and @christosts for quick check and reply.

Looks like its github editor issue, I modified the original hostname to myhostname.com in description where i had kept myhostname.com within <>, but github editor removed myhostname and retained only .com.

I edited my original description, please consider myhostname.com as proper domain name, cant paste original hostname

[2022-07-15 12:54] SaurabhOfficial commented on #9968
@rrfrias I sent an email with the details but we don't add the timestamp as a property so that information was not available, let me know if anything else can help you track those requests.

[2022-07-15 13:06] icbaker commented on #10410
Please provide an example of an internet radio stream that I can use to reproduce the problem.

[2022-07-15 13:08] claincly commented on #10440
The URI syntax (RFC3986) specifies the user info in a URI to be:

[code]

which means the password cannot include `@`. Also it's probably a bad idea to include `username:password` in your URI.

FWIW we rely on Android's `Uri.getUserInfo()` to parse the URI.

[2022-07-15 13:08] #10440 closed, assigned to claincly

[2022-07-15 13:16] fourofspades commented on #10410
Sure, here is an example audio stream;.

http://cast1.asurahosting.com:8621/med

[2022-07-15 14:19] marcbaechinger commented on #10438
There is a user in that thread saying that it works on `2.18.0` as opposed to `2.13.1` that you are using. Has it been fixed since then or is it still an issue with a recent version?

[2022-07-15 14:27] AhmedHumk commented on #10438
as i mentioned in the same issue
https://github.com/pedroSG94/rtmp-rtsp-stream-client-java/issues/1157#issuecomment-1184962747

i have migrated to the latest exoplayer 2.18.0

and the problems still persist if the stream has no audio exoplayer unable to play it , if the stream has audio exoplayer playing it .

in vlc vitamio stream playing normaly even if the audio disabled

i still couldnt figure

[2022-07-15 15:07] Ste-RH commented on #10351
After some head scratching I have _something_ that works.  Though I have to remove a 'final' keywords within the ExoPlayer library code to allow the solution to work :/

Here is what I am doing:

- My own `AESHlsPlaylistParser` class that implements `ParsingLoadable.Parser<HlsPlaylist>`.  It contains an instantiated `HlsPlaylistParser` member that does the main parse and creates the `HlsPlaylist`

[2022-07-15 15:21] marcbaechinger commented on #10438
Can you provide us with a way how we can repro that? Like how can we test this with such a stream with disabled audio that still sends the audio headers (if I understand correctly).

[2022-07-15 15:23] AhmedHumk commented on #10438
@marcbaechinger ok give me a moment

[2022-07-15 16:00] AhmedHumk commented on #10438
i have found the issue it was in the bitrate on the fly within the library itself

https://github.com/pedroSG94/rtmp-rtsp-stream-client-java/wiki/Real-time-filters

when disabling the audio the bitrate were is still have the audio bitrate in the stream header which makes exoplayer unable to read it . i am glad to found solution that took me 18 hours to solve . this is not related to exoplayer now

[2022-07-15 16:05] marcbaechinger commented on #10438
Well done! Thanks for confirming!

[2022-07-15 17:11] stevemayhew commented on #10441
@marcbaechinger is correct, there is no API in Android to set the DNS resolution the system will use, that would be a pretty big security whole.

@Lohit-Huddar If you use the OkHTTP extension with ExoPlayer (https://exoplayer.dev/network-stacks.html) then that client (OkHttp3) allows you to specify a `Dns` interface (https://square.github.io/okhttp/4.x/okhttp/okhttp3/-dns/) maybe not perfectly wha

[2022-07-15 17:57] stevemayhew opened #10445 "Burst of invalid frame renders on seek with Android 10 AmLogic"
### ExoPlayer Version

2.18.0

### Devices that reproduce the issue

Google ChormeCast With Google TV running Android 10, many other AmLogic based devices.

### Devices that do not reproduce the issue

AmLogic based devices running Android 9.

### Reproducible in the demo app?

Yes

### Reproduction steps

1. Play the content (`adb shell am start -n com.google.android.exoplayer2.demo/.PlayerActivi

[2022-07-15 18:15] stevemayhew commented on #10445
@tonihei  Here's some note and comments from our internal bug with Evolution for this...

I believe this issue is:

1.  A platform (AmLogic firmware) issue
2.  Triggered by 1080p resolution
3.  Related to the frame rate up-conversion performed by the CODEC

### Comment 1

We are not re-producing this on our headend I believe because the highest resolution track is 1280x720:

[code]

But the custom

[2022-07-15 18:26] AhmedHumk commented on #10438
after i fix that issue that were related to the streaming library that were destroy the whole stream, i face an issue with other rtmp streamer that has no sound and exoplayer fail to play it .

this is a compiled rtmp streamer that will give you a choice to stream with sound or without sound.
its connected to my test server..
try to stream with sound checked. and play the RTMP With  exoplayer it w

[2022-07-15 21:00] rrfrias commented on #10304
I took a look at the bugreports. I could not find any encrypted playback related logs in either bugreport. Did you by any chance capture any of the provisioning requests? That might be helpful.

[2022-07-16 01:15] sr1990 commented on #10246
Thanks @tonihei !

[2022-07-16 04:20] SharyRajpoot commented on #10436
@Reddnek I've done all the things already regarding changing audio/video tracks at runtime. It's just I noticed something [above](https://github.com/google/ExoPlayer/issues/10436#issue-1304837361) and wonder how we are gonna change track like this type of data and @marcbaechinger sure will try your solution as well and let you know about its results.

[2022-07-16 05:30] SharyRajpoot commented on #10436
Well, buddies above code and documentation need to be updated for the new and current releases of ExoPlayer. The things you told me is different in the latest version of ExoPlayer.

[2022-07-16 05:35] SharyRajpoot commented on #10436
Remove...

[2022-07-16 15:08] SharyRajpoot commented on #10436
This worked out for me and I have managed to change the audio track by index and group instead of language code.
Also one thing more I was using old lib. 2.17.1 and not able to find these fun. Now I upgraded to the latest 2.18 and implement the required features. I guess you should mention in your doc. that we are currently viewing the doc. for 2.xx version e.g: 2.18.
On each page of ExoPlayer [do

[2022-07-16 15:08] #10436 closed, assigned to marcbaechinger

[2022-07-16 15:42] AhmedHumk commented on #10438
Cant seems to find any solve around this i tried obs studio and streamed camera without audio exoplayer failed to play it, seems something wrong with exoplayer when decoding a stream that does not have audio

[2022-07-17 06:37] sajjadshahbazi opened #10447 "I can't Invalidate StyledPlayerView Widget"
### ExoPlayer Version

2.17.1

### Devices that reproduce the issue

all devices

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Yes

### Reproduction steps

I want to play an mp4 link and after playing that, I want to clear the StyledPlayerView view. but StyledPlayerView keeps the last frame of the mp4 link. I can't invalidate the StyledPlayerView w

[2022-07-17 11:37] chladto1 opened #10448 "Filter playable tracks for offline playback"
We are filtering playable DRM tracks for online playback and we want to do the same for offline playback. The issue was discussed in #10341, #4825 and #10114. DRM tracks have different requirements and some one can not be played on the device. We want to filter unplayable tracks before we download them, but we can not find a proper solution. Could you please help us?

[2022-07-18 01:04] #10337 closed, assigned to tonihei

[2022-07-18 01:04] #10335 closed, assigned to tonihei

[2022-07-18 01:04] #10331 closed, assigned to tonihei

[2022-07-18 01:55] AhmedHumk commented on #10438
I spent couple of days to discover the issue without luck. But found a similar issue on this issues section.

https://github.com/google/ExoPlayer/issues/6719

I guess that something needed to be taking in consideration when decoding streams that doesn't has audio

[2022-07-18 05:35] Lohit-Huddar commented on #10441
Thanks @stevemayhew for more details, this is really helpful.
Was surprised to know that few ISP do send bogus IP(ad serving honey pot) if it's not able to resolve hostname.
If ISP blocks client control of using external DNS servers for resolving hostname and ISP are not able to resolve hostnames for some reason, we end up in irrecoverable error where host is not accessible where its neither clien

[2022-07-18 06:39] vishnuchilakala commented on #10304
Sorry, we do not capture any provisioning URLs on our side. This is where I was hoping that the data I gave you regarding the device model & their timestamps might help us in understanding why these requests are returning a 400.

Were you able to track any particular request with the timestamp data? Any clues from the server side?

[2022-07-18 07:59] jeronimomunoz opened #10449 "IllegalStateException when releasing DefaultDrmSession"
### ExoPlayer Version

2.14.2

### Devices that reproduce the issue

The incidence is low and no device specific, affecting Android tablets and phones from Android 7 to Android 12

Exoplayer version is 2.14.2

Same issue as reported here: https://github.com/google/ExoPlayer/issues/9392

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Not tested

### R

[2022-07-18 08:58] icbaker commented on #10449
As you've noted, this is a duplicate of https://github.com/google/ExoPlayer/issues/9392. If you upgrade to 2.16.0 or cherrypick https://github.com/google/ExoPlayer/commit/bcaadf434f9824433135e6ba693670a482a2d098 into a [local checkout of the library](https://github.com/google/ExoPlayer/blob/release-v2/README.md#locally) then these exceptions will be dowgraded to a warning log.

I'm closing this as

[2022-07-18 08:58] #10449 closed, assigned to icbaker

[2022-07-18 09:24] jeronimomunoz commented on #10449
Thanks for the information @icbaker

[2022-07-18 09:38] ojw28 commented on #10447
If you want to reset the view back to how it was before the player was assigned, you should either:

1. Detach the player from the view by calling `playerView.setPlayer(null)`;

or

2. Reset the player by calling `player.stop();` followed by `player.clearMediaItems();`

[2022-07-18 09:38] #10447 closed, assigned to ojw28

[2022-07-18 10:02] ojw28 commented on #9020
I'm not sure what the FMQ error means in this context (or whether it's a red herring). It seems to come from [here](https://android.googlesource.com/platform/system/libfmq/+/master/include/fmq/MessageQueueBase.h#1244), but it's unclear what the message queue in question is being used for.

Looking into the bug report attached above, the only concrete problems I can see are outside of ExoPlayer's c

[2022-07-18 10:52] tonihei commented on #10445
In https://github.com/google/ExoPlayer/commit/ee1ec8d3d6c89dfa11ca5504fd4eae919fcd83ac#commitcomment-78605657 you mentioned that you have a pending investigation with AmLogic about this. Does it make sense to wait for this investigation? Ideally, we can disable this behavior directly instead of working around it.

[2022-07-18 11:22] tonihei commented on #10436
One further comment:

If you tracks look like in the example above, you can select them based on channel count preferences
[code]
The 6 channel track should be selected by default (if supported by the device) and you can use `setMaxAudioChannelCount(2)` to select the Stereo track.

[2022-07-18 12:25] tonihei commented on #10351
I think it looks like the right approach if your goal is to override all `fullSegmentEncryptionKeyUri` values of all segments and parts. (Aside: You only need to override the parts if you expect to use low-latency streams that define parts)

The playlist objects are meant to be fully immutable so that they can be used across threads and classes can rely on values staying the same forever. The best

[2022-07-18 13:48] Ste-RH commented on #10351
Thanks for the response @tonihei.

I can make the changes you suggest happen, and will be great to not have any changes to the core library!  Couple of questions...

1. Will I have to create new `initializationSegment` (if they are not null) on each segment, part, and trailingPart ?
2. What do I do for the new trailingPart list passed in when creating the new `HlsMediaPlaylist` ?  Are these just t

[2022-07-18 16:42] stevemayhew commented on #10445
Somewhat, would greatly appreciate any investigation your team can do as well with SEI / AmLogic, as they supply you for Chromecast (and the Google device has the same issue).  Suspect Google might have a bit more leverage with the vendor.

Also, if you could check with the MediaCodec team about `auto-frc`, this is how the issue was fixed for NVIDIA Shield but it looks like this is a temporary fea

[2022-07-18 17:04] icbaker commented on #9020
There was a [change in Android last year](r.android.com/1656646) in response to an internal bug about `grantorIdx must be less than` log spam. That change is in Android 12, so if you're seeing this error on Android 11 or earlier (as the repro steps above mention) then I wouldn't put much weight on it, but if you're still seeing it on Android 12 or later it might indicate a real issue.

Other than

[2022-07-18 17:13] icbaker commented on #10448
It's not obvious to me if you're asking how to change what tracks are chosen when downloading: https://exoplayer.dev/downloading-media.html#downloading-and-playing-adaptive-streams

Or whether you're asking, when selecting tracks, how to identify which are playable on a given device.

Given that it sounds like you already know how to identify which tracks are playable:

I think your question shoul

[2022-07-18 17:35] benderzgreat commented on #10147
@christosts
Thank you,
I understand this is low priority bug, however I would like to give a quick update on my half to hopefully save you some time if you do have the chance to look at this issue.

I have tried testing with the 2.18.0 demo app and still got the same results.

After looking at the stream pretty thoroughly via ffprobe it seems to me like the issue that I am seeing is happening duri

[2022-07-18 19:06] raghav2945 commented on #10392
Is there any new update on this?

[2022-07-18 19:15] ssenanayake commented on #10330
Just wanted to provide an update....

We changed the RegEx in "WebvttExtractor" in Exo.

From:

  private static final Pattern MEDIA_TIMESTAMP = Pattern.compile("MPEGTS:(\\d+)");

To:

  private static final Pattern MEDIA_TIMESTAMP = Pattern.compile("MPEGTS:(-?\\d+)");

And did thorough testing with Google DAI Live streams with PTS rollover resulting in vtt captions having a negative MPEGTS value.

[2022-07-19 00:50] rrfrias commented on #9968
Thanks for that information. We are looking at our logs but it is a little hard to narrow it down given the volume of provisioning requests from those devices on a given day. Some other devices on that list have been revoked and it is expected that they will fail. You will need to contact Widevine support (https://www.widevine.com/contact) or Widevine partner engineering if you are a CWIP partner.

[2022-07-19 06:41] chladto1 commented on #10448
When playback, we set limit resolution to the lowest one, start playback, wait for `onKeyStatusChange` and limit playback to only tracks that comes with `STATUS_USABLE`. We know how to filter tracks for downloading in general. The problem is, how to check which tracks will be playable on the device without start playback and waiting for `onKeyStatusChange`.

[2022-07-19 06:58] birukovjury opened #10450 "How to mirrow"
Unfortunately we can't answer all questions. Unclear questions or questions with
insufficient information may not get attention.

Before filing a question:
-------------------------

- Ask general Android development questions on Stack Overflow
- Search existing issues, including issues that are closed
  https://github.com/google/ExoPlayer/issues?q=is%3Aissue
- Consult our developer website (https

[2022-07-19 06:58] birukovjury opened #10451 "How to mirror video by X scale?"
Unfortunately we can't answer all questions. Unclear questions or questions with
insufficient information may not get attention.

Before filing a question:
-------------------------

- Ask general Android development questions on Stack Overflow
- Search existing issues, including issues that are closed
  https://github.com/google/ExoPlayer/issues?q=is%3Aissue
- Consult our developer website (https

[2022-07-19 09:08] icbaker commented on #10392
The NPE is ultimately happening because `DefaultRenderersFactory.context` is null. There isn't enough information provided to know exactly where that value is coming from (i.e. which `DefaultRenderersFactory` constructor is used in your app), but I believe in all cases this `Context` value is provided from your app (e.g. via one of the `SimpleExoPlayer.Builder` constructors if you don't construct

[2022-07-19 09:08] #10392 closed, assigned to icbaker

[2022-07-19 09:20] louiewh commented on #10442
I overide  write the DefaultAudioSink using some private audio api, then vide always dropframes.

exoplayer usiing DefaultMediaClock to do AV sync。

I use two way to force using StandaloneMediaClock
I  overide DefaultRenderersFactory

First Way

![image](https://user-images.githubusercontent.com/7629135/179716143-f77d303c-6214-468a-b07b-4bd7b545f7a7.png)

Video play work good, no dropFrame happen

[2022-07-19 09:31] shaiksalam9182 opened #10452 "How to configure forward and rewind time values for player notification manager?"
By default rewind button in the notification seeking player time by 5 seconds but forward button seeking player by 15 seconds. Can't find any direct functions in the player notification manager javadoc.

[2022-07-19 10:02] marcbaechinger commented on #10452
When you build your player you can set the `seekBackIncrements` or the `seekForwardIncrement` by using the setters of the `ExoPlayer.Builder`. This sets the seek increments generally for all `Player.seekBack()` and `Player.seekForward()` calls on that player instance.

If you want to have the behaviour specific for commands coming from the notification, you can use a `ForwardingPlayer` with which

[2022-07-19 10:07] sajjadshahbazi commented on #10447
thank you

[2022-07-19 10:49] shaiksalam9182 commented on #10452
Thanks @marcbaechinger . It's working now

[2022-07-19 10:49] #10452 closed, assigned to marcbaechinger

[2022-07-19 10:56] ojw28 commented on #10450
Closing because the template is completely un-filled and it's not clear what the question is.

[2022-07-19 10:56] #10450 closed, assigned to ojw28

[2022-07-19 10:56] ojw28 commented on #10451
Closing because the template is completely un-filled and it's not clear what the question is.

[2022-07-19 10:56] #10451 closed, assigned to ojw28

[2022-07-19 13:59] tonihei commented on #10351
The answer is likely yes. I think you don't necessarily have to create a new one for each segment and part as you can reference the same initialization segment from all of them (assuming they use the same).

These are the parts of the yet unfinished final segment in a low-latency live stream. We have to keep them separate as the other properties of the full segment (like `durationUs`) are not yet

[2022-07-19 16:07] icbaker commented on #10448
Gotcha, thanks for explaining.

Are you using [`OfflineLicenseHelper`](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/drm/OfflineLicenseHelper.html) for managing the offline DRM licenses for your content? If so, you should be able to register the same [`OnKeyStatusChangeListener`](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/drm/ExoMediaDrm.OnKeyStatusChange

[2022-07-19 16:21] icbaker commented on #10330
Just to clarify (for anyone else reading this thread), ExoPlayer has had the second of these regexes (with the optional `-`) since https://github.com/google/ExoPlayer/commit/dd4a732303dafc9b5fb8a3bb3e6c67bd6a6b403b (as mentioned above in https://github.com/google/ExoPlayer/issues/10330#issuecomment-1154015503) which has been present since version 2.11.4 of the library. So the change described here

[2022-07-19 18:16] baiqindotfubotv opened #10454 "Why amazon port of ExoPlayer fixes are not adopted?"
Amazon has an official port of ExoPlayer: https://github.com/amzn/exoplayer-amazon-port. They fixed some playback issues on amazon specific devices (Like this one: https://github.com/amzn/exoplayer-amazon-port/commit/dfe65fdd636adfbc61aae31bbdf8a20758d56ec1). Considering amazon fire tv devices is one major target where ExoPlayer runs, so why fixes like these were not merged into main ExoPlayer cod

[2022-07-19 19:08] rrfrias commented on #10304
If you are able to log a few problematic provisioning requests, that would be most helpful.

It is proving a bit difficult to map the device name provided to that specified by the device maker. I have managed to resolve a few and have passed it to my colleagues for furthur analysis. They are looking at it now but even with this information, i have been informed that there is no guarantee that they

[2022-07-20 05:43] jianlin00000 opened #10455 "Use small screen to play HEVC video screen distortion, full screen normal"
I use the official demo of exoplayer (v2.17.1) to play a **HEVC** video on a TV device, and set the size of StyledPlayerView to 480dp x 270dp, the picture of video is distorted and split into two parts. But if I set the size of StyledPlayerView to full screen, the video is normal.The test resources are as follows:
[http://vod2.lemmovie.com/vod/6f2bc675-bad5-942c-59c1-ffe7fbec05bc.m3u8](url)

I don

[2022-07-20 07:42] sagarNapps10x opened #10456 "Unable to play video with video codec format MPEG-H part2/HEVC (H.265)"

[2022-07-20 09:45] VeiZhang commented on #10361
@tonihei Hello, I want to ask whether it need to set config to enable? Because I try the latest version code still not work.

[2022-07-20 10:20] tonihei commented on #10361
The fix is only in the `dev-v2` branch and not in any proper release yet. It will be part of 2.18.1 that is likely to be released this week.

[2022-07-20 10:59] #10438 closed, assigned to marcbaechinger

[2022-07-20 11:26] louiewh commented on #10442
@marcbaechinger @christosts  I want audio and video both work and video sync by StandaloneMediaClock,  so that video don't dropFrame.

[2022-07-20 11:36] ehsan9295 commented on #10390
@icbaker

following method will be called each time we switch between channels:
[code]

Where we have:
[code]
and `SingletonDrmSessionManager` implements `com.google.android.exoplayer2.drm.DrmSessionManager`

[2022-07-20 12:01] Usman-Click opened #10457 "set max duration to exo_progress"
Hi,

I just want to ask if there is anyway I can set max duration to exo_progress (defaultTimeBar) programmatically (like to overide its setMax value) because there are some videos that I want to stop before they reach their Duration

Thanks

[2022-07-20 13:42] stoyicker opened #10458 "DownloadManager task sync creates too many concurrently-running threads for moderate amounts of STATE_RESTARTING or STATE_REMOVING downloads in index"
### ExoPlayer Version

2.18.0

### Devices that reproduce the issue

Pixel 2 emulator API 31
TCL 10 SE TCL UI 3.0.7.K2V (API 30)

### Devices that do not reproduce the issue

None found

### Reproducible in the demo app?

Yes

### Reproduction steps

Simple setup:

1. Check out https://github.com/stoyicker/mwe-exoplayer-downloadmanager-oom/tree/7d36b7c2e3cff7956b70de9700d192ca5874acec It is an emp

[2022-07-20 13:56] ojw28 commented on #10454
If Amazon had sent that change as a pull request with a signed CLA as per our [contributing guidelines](https://github.com/google/ExoPlayer/blob/release-v2/CONTRIBUTING.md), then I think we'd have happily merged it. So I think your question is one that you should pose to Amazon (i.e., why do they submit this type of change into their own fork rather than sending it as a pull request to the origina

[2022-07-20 14:10] ojw28 commented on #10454
I made a quick skim through the current set of commits that Amazon maintain in their fork (on top of 2.18.0). I think most of them do fall into the "invasive and/or FireOS specific feature" category. The specific commit you reference is an exception to this; I'll take a look at whether we can get something equivalent merged into the main project.

[2022-07-20 14:11] ojw28 commented on #10457
If you want to clip a piece of media so that it stops at a certain position that's earlier than its duration, then you can use clipping as documented [here](https://exoplayer.dev/media-items.html#clipping-a-media-stream). Does that answer your question?

[2022-07-20 14:20] ojw28 commented on #10458
Thanks for the detailed bug report!

That sounds likely, and yes, capping it is probably a good idea. I don't think there needs to be a setter to configure the value; we probably just need to pick a suitable value internally (which might be `1`).

[2022-07-20 14:26] ojw28 commented on #10458
I would suggest you solve the problem in the simplest way possible, which is probably to keep `Task` how it is and to introduce a limit analogous to `maxParallelDownloads` (except that there's no need for a setter). Would you be able to put together a pull request for this?

Switching `DownloadManager` to use executors (which would ideally be injectable) is also a good idea, but I think that shoul

[2022-07-20 14:28] ojw28 commented on #10455
Please fill out the bug report template for this kind of issue. You can find it [here](https://github.com/google/ExoPlayer/issues/new?assignees=&labels=bug%2Cneeds+triage&template=bug.yml). I will close this one, since most of the information necessary to make it actionable is omitted. Thanks!

[2022-07-20 14:28] #10455 closed, assigned to ojw28

[2022-07-20 14:29] ojw28 commented on #10456
Closing due to lack of any useful information.

[2022-07-20 14:29] #10456 closed, assigned to ojw28

[2022-07-20 14:35] stoyicker commented on #10458
sure thing

[2022-07-20 15:14] Usman-Click commented on #10457
Well... to the straight point No,

What I want to do is set a max duration to exo_progress

I tried
exo_progress.setDuration(duration) but it's not working

What am I missing ?
How do I suppose to do it ?

[2022-07-20 15:46] ojw28 commented on #10457
Sorry, I don't really understand what you're trying to do, or why. Perhaps you could describe your use case, rather than the specific way you're trying to solve it that isn't working. If your use case is to not allow the piece of media to play past a certain duration, then my link above is the correct way of doing that.

[2022-07-20 16:02] Usman-Click commented on #10457
Okay

I tried the link above it works but the time timeBar is showing the full duration

What should I do now 🙃

[2022-07-20 16:05] icbaker commented on #10390
Thanks for that extra context (I was initially confused because you have a local called `currentStreamDataSourceFactory` but it's of type `MediaSource.Factory` and **not** `DataSource.Factory`).

Nothing from that code snippet looks untoward. Does the problem reproduce if you use `DefaultDrmSessionManager`? My first suspicion is that the problem lies in your implementation of `SingletonDrmSessionM

[2022-07-21 00:35] VeiZhang commented on #10361
@tonihei Got it, thanks a lot.

[2022-07-21 02:34] ArcherEmiya05 commented on #10418
Any other update on this or downgrading is the only way to fix this?

[2022-07-21 06:39] jianlin00000 opened #10459 "Use small screen to play HEVC video screen distortion, full screen normal on tv devices"
### ExoPlayer Version

2.17.1

### Devices that reproduce the issue

*Longtv box   Android 7.0

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Yes

### Reproduction steps

1. Edit the "media.exolist.json" file of the demo,replace one  test url of the HLS modue with my test url.
2. Edit  the "player_activity.xml" ,set the size of StyledPlayerView to 4

[2022-07-21 08:52] ojw28 commented on #10459
This sounds like an issue specific to LongTV Box devices.

[2022-07-21 09:01] ojw28 commented on #10457
I tried this and the time bar was updated to show the clipped duration. It's also easy to demonstrate that this works correctly using our [demo app](https://exoplayer.dev/demo-application.html). With the app installed, you can have it play a video clip with the following ADB command:

[code]

You can clip it, which applies clipping just like in the link I've referenced above, with the following AD

[2022-07-21 10:37] vkoehler opened #10460 "ExoPlayer doesn't apply presentationTimeOffset of the DASH EventStream"
### ExoPlayer Version

2.18.0

### Devices that reproduce the issue

device independent

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Yes

### Reproduction steps

1. Play the attached media in the demo apply
2. Seek to the position shortly before the end of the media
3. Wait until the end of the media

### Expected result

Player changes the playba

[2022-07-21 11:44] louiewh opened #10461 "support multi audio track playback"
I  using MergeDataSource which have a videoUrl 3 three audoUrl to play .
and I want to two audioUrl play at the same time .
Refer to those link
[How to Controls multi-track playback](https://github.com/google/ExoPlayer/issues/9190 )
[Synchronizing Playing Multiple Audio](https://github.com/google/ExoPlayer/issues/4261)

I find that can't overide   DefaultTrackSelector some function, there more fun

[2022-07-21 11:51] vishnuchilakala commented on #10304
We are trying to get bugreports from the customers again. Will let you know when we have any update.
@rrfrias any updates on the server side analysis? Were you able to figure out why the requests are failing?

[2022-07-21 11:55] louiewh commented on #10461
[code]
here only one AudioRender will be enable.

[2022-07-21 13:49] ehsan9295 commented on #10390
@icbaker thanks for your answer. I changed the implementation of our `SingletonDrmSessionManager` (see below). It's now basically just a wrapper for the `DefaultDrmSessionManager` and we have still the same problem

[code]

[2022-07-21 14:08] icbaker commented on #10390
The provided code has a small problem - I don't know if it's responsible for your errors.

*  You never release the `FrameworkMediaDrm` instance you instantiate and pass to `ExoMediaDrm.AppManagedProvider`. From [the javadoc](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/drm/ExoMediaDrm.AppManagedProvider.html):

    * This likely means your app repeatedly instantiates `MediaDr

[2022-07-21 14:12] ojw28 commented on #10460
The DASH specification doesn't define `presentationTimeOffset` on `EventStream` [*], so I think it's correct that the player is ignoring it. The `Event` elements should just have the correct timestamps specified on them directly. You indicate that if you change the manifest to make this the case then the issue goes away, so I think this is a content problem.

As a related note, when an `Event` has

[2022-07-21 15:08] ojw28 commented on #10454
I merged a change that should be equivalent to https://github.com/amzn/exoplayer-amazon-port/commit/dfe65fdd636adfbc61aae31bbdf8a20758d56ec1. I think we can close this.

[2022-07-21 15:08] #10454 closed, assigned to ojw28

[2022-07-21 15:37] #10429 closed, assigned to marcbaechinger

[2022-07-21 16:53] icbaker commented on #10445
I'm able to reproduce the problem on a Chromecast with Google TV using the instructions provided.

However I haven't been able to completely validate this theory yet. I did the following:

1. At the top of `MediaCodecRenderer.isDecodeOnlyBuffer`, I logged the current (decode-side) timestamps, as well as the contents of `decodeOnlyPresentationTimestamps` for the first 100 frames after `onPositionRe

[2022-07-21 17:29] icbaker commented on #10445
One thing I did notice (not sure if this is obvious or expected): `MediaCodecRenderer.resetCodecStateForFlush` is called during the stuttering/frame dropping.

This clears the list of `decodeOnlyPresentationTimestamps` (which is why I spotted it, because initially my 'append only' list was being cleared here too). Clearing this list seems correct to me (naively) because we've already flushed the c

[2022-07-21 19:25] stevemayhew commented on #10445
@icbaker The decoder is producing 2 for 1 output frames (each input buffer produces **two** decoded frames.  So the timestamps don't exists for half of the frames (as there was no input to match).

We are working our channels (would appreciate your channels too!) to AmLogic to find out if they have implemented something like [NVIDIA Shield FRC](https://www.nvidia.com/en-us/shield/support/shield-tv

[2022-07-21 19:50] Usman-Click commented on #10457
Thank you, it works

[2022-07-21 19:51] #10457 closed, assigned to ojw28

[2022-07-22 10:09] ehsan9295 commented on #10390
@icbaker : I have tried all of your suggestions. Unfortunately, we still have the same problem. As I said, the problem only appears on certain devices. Could this perhaps help in analysing the issue?

[2022-07-22 10:11] rohitjoins commented on #10381
@Tolriq [release](https://github.com/google/ExoPlayer/releases/tag/r2.18.1) is done with the fix.

[2022-07-22 10:11] mpBee commented on #5804
Hello @ojw28

Are there any plans to support CAS in ExoPlayer in 2022/2023?

[2022-07-22 10:44] hammar83 commented on #10390
We experience the same problem, also only on certain devices.

[2022-07-22 11:47] #10308 closed, assigned to marcbaechinger

[2022-07-22 13:03] vkoehler commented on #10460
@ojw28 There are two editions of ISO/IEC 23009-1:2019(E)
3rd edition 2019-08
4th edition 2019-12
presentationTimeOffset on EventStream has been introduced in the 4th edition. Would you check it again please? https://standards.iso.org/ittf/PubliclyAvailableStandards/c079329_ISO_IEC_23009-1_2019(E).zip

[2022-07-22 13:40] AquilesCanta commented on #5804
@tonihei CAS v1 is probably no longer relevant, but it might be worth asking the TV team what we can do on our side. You can find points of contact in [internal ref: b/239731089].

[2022-07-22 14:03] SamirG opened #10462 "CMAF Widevine CBCS feed issue not playing with Android 9"
We are trying to play CMAF stream+CBCS+Widevine DRM with exoplayer sample app. it works fine with android 11 and above. We are seeing the issues with android 9 devices and emulator.

Not sure if that is player issue or device specific issue. have provided the sample stream and bug report over email. One thing to note here , in same device google sample exoplayer feed with CBCS works fine.

### Exo

[2022-07-22 15:45] sruditsky opened #10463 "Provide a way to access information from all the EXT-X-PROGRAM-DATE-TIME tags in a playlist"
### Use case description
Currently ExoPlayer ignores all the EXT-X-PROGRAM-DATE-TIME (PDT) tags save for the very first one in a media playlist. When such a playlist has no gaps between the segments no information is lost. However, in some cases playlists do have gaps and for such playlists the PDT information is lost during the playlist parsing.

Let's say an application wants to detect playlists

[2022-07-22 16:51] Usman-Click commented on #10360
HI,

As you said in the above comment that I should depend on the exoplayer-dev-2 branch locally for AVI formats to be supported, well I depend on the exoplayer-dev-2 branch locally but the AVI formats are still not playing,

what am i missing ?

is there anything else that I will have to do ?

thanks.

[2022-07-22 22:02] RicFlinn opened #10464 "Add Dolby AC-4 audio channel configuration to DASH manifest parser"
Dolby AC-4 audio, used in ATSC-3 broadcasts, includes an alternate AudioChannelConfiguration schemeIdUri that is currently not parsed, for example:

[code]

This is defined (sort of) in DASH-IF IOP for ATSC-3 section 5.4.4.2.1, which references [TS 103 190-2 - V1.2.1 - Digital Audio Compression (AC-4) Standard](https://www.etsi.org/deliver/etsi_ts/103100_103199/10319002/01.02.01_60/ts_10319002v010

[2022-07-23 06:10] InfinityLoop1308 commented on #10402
Hi.
Any updates here? If more info is needed, please feel free to ask me.

[2022-07-24 08:16] sahujaunpuri opened #10465 "how to play google drive mp3 files when using exoplayer in android app"
how to play google drive mp3 files when using exoplayer in android app?

[2022-07-24 15:20] DeWolfRobin opened #10466 "KEYCODE_DPAD_CENTER not working on ExoPlayer controller"
### ExoPlayer Version

2.18.0

### Devices that reproduce the issue

 * Android TVs

### Devices that do not reproduce the issue

 * Touch based devices

### Reproducible in the demo app?

Not tested

### Reproduction steps

### Required:
 * Normal ExoPlayer setup
 * Android TV VM
 * following code:
[code]

### To reproduce:
 * Open the app on the Android TV VM
 * Start the video on ExoPlayer
 * O

[2022-07-24 15:26] DeWolfRobin commented on #10466
Apparently, KeyEvent.KEYCODE_DPAD_CENTER only works on KeyEvent.ACTION_UP, this resolved my issue, but is this still a bug? as other keyevents work fine, such as KeyEvent.KEYCODE_DPAD_UP

[2022-07-25 03:21] SaurabhOfficial commented on #9968
will share it over the mail @rrfrias

[2022-07-25 08:36] tonihei commented on #8495
I think we should turn this into a low-priority enhancement. If I understand the issue correctly, our ABR algorithm works with the average bitrate when making decisions and may run into problems if the actual chunk bitrate is much higher.

Note that all the information about the actual bitrate of potential future and past chunks is already available in the `queue` and `mediaChunkIterators` paramet

[2022-07-25 09:00] ojw28 commented on #10464
@ybai001 - If this is Dolby defined, is it something you'd be able to send a pull request to address?

[2022-07-25 09:01] ojw28 commented on #10464
@ybai001 - If this is Dolby defined, is it something you'd be able to send a pull request to address?

[2022-07-25 09:12] ojw28 commented on #10458
@stoyicker - Thanks! We will await a pull request. Reassigning to @marcbaechinger who will probably be the person to review it once it's available.

[2022-07-25 09:15] tonihei commented on #8961
@artursahakar I tried to test this using the following setup:
 - A playlist with 2 items, both are the video you provided above, stored locally on the device.
 - Both playlist items are clipped between arbitrary positions (from 2123ms to 6435ms in my case)
 - The `DefaultLoadControl` was changed as posted above.

I tested on a Pixel 5 and playback works as expected.

 - Could you check if the prob

[2022-07-25 09:29] tonihei commented on #9463
This looks similar to the issue in https://github.com/google/ExoPlayer/issues/3537 where the Pixel 1 incorrectly claimed to support 10-bit HEVC although it doesn't. (The logs above indicate this is also a 10bit stream I believe).

If this is true, then we can probably make a similar change as in https://github.com/google/ExoPlayer/commit/036a48dcf9d567290afdc895f968969e5c08ad46 for this device.

[2022-07-25 09:31] #10343 closed, assigned to tonihei

[2022-07-25 09:31] #10345 closed, assigned to tonihei

[2022-07-25 09:32] tonihei commented on #10351
Closing for now because it seems the question was answered.

[2022-07-25 09:32] #10351 closed, assigned to tonihei

[2022-07-25 09:38] ojw28 commented on #10462
@rrfrias - Would you be able to take a look at this? It's easy to reproduce using a `Pixel 5 API 28` emulator in Android Studio (I'd normally suggest not using an emulator, but given it plays Widevine's sample CBCS content fine it seems as good as anything for working out what the difference is).

Note that the failing media was provided via email (subject: `Issue #10462`).

[2022-07-25 09:49] ybai001 commented on #10464
@ojw28 - This is actually Dolby defined. I need to check with related content creation team at first. Then decide whether/how to solve it. Stay tuned.

[2022-07-25 09:54] ojw28 commented on #10460
Thanks for the pointer. We will update `DashManifestParser` to parse and apply `EventStream@presentationTimeOffset `.

[2022-07-25 10:04] stoyicker commented on #10458
@ojw28 [The PR is open already, but it's on the media3 repo](https://github.com/androidx/media/pull/126), as I opened [another (unrelated) one here a few days ago was asked to take it there instead](https://github.com/google/ExoPlayer/pull/10446#issuecomment-1187116519), so I assumed the same would apply for this one. Do you want me to open it here instead?

[2022-07-25 10:25] ojw28 commented on #10458
Ah, that's fine, thanks! Reassigning to @tonihei in that case, since the PR is assigned to him.

[2022-07-25 12:06] GouravSna opened #10469 "How to remove the black horizontal bars from the video"
I have a media where the black horizontal bars are visible. I want to remove those bars and want the media to cover the full screen without loosing any visible video pixel or by stretching the video.

I can see there are multiple Aspect ratios which can be used but in that case, either i will loose any visible pixel (like Zoom) or the video will get stretched which does not give good viewing exper

[2022-07-25 12:13] sergju commented on #10412
[hls_redirection.zip](https://github.com/google/ExoPlayer/files/9180913/hls_redirection.zip)

I prepared python3 script to emulate server. It does one redirection and returns error 500 after redirection.
After running this script and trying to use links like http://<ip>:8001/hls/master.m3u8 I expect links like http://<ip>:8001/hls80/master.m3u8 in loadEventInfo.uri, but have the original link.
Als

[2022-07-25 15:19] ghost opened #10470 "how to manipulate data of SimpleBlock in mkv"
i have a mkv file which is encrypted  only SimpleBlock part  (AES-128-ECB)

i want to decrypt it how to do..??

[2022-07-25 16:28] marcbaechinger opened #10471 "Migration guide: How to migrate to AndroidX Media3?"
We have recently released AndroidX Media3 `1.0.0-beta02` which corresponds to ExoPlayer `2.18.1`. The [AndroidX Media3 library is published on GitHub](https://github.com/androidx/media) just as ExoPlayer and the [release artifacts are available over maven](https://developer.android.com/jetpack/androidx/releases/media3) just as the artifacts of the ExoPlayer library.

The AndroidX Media3 library is

[2022-07-25 18:55] displayDev-spec opened #10472 "Refreshing the Timeline when using FileDataSource"
I have a very specific case in my app where I download a live stream into a local file, then I am playing the local file using ExoPlayer while the file/stream is being downloaded, ExoPlayer loads and play the file just fine, the issue is the timeline is not updating as the file is being downloaded and decoded and it's not possible to seek after the initial loaded timeline.
For example, loading the

[2022-07-25 22:30] #10460 closed, assigned to ojw28

[2022-07-26 05:13] ghost opened #10473 "Error while trying to use Downloadservice for background download on android 12"
### ExoPlayer Version

2.16.1

### Devices that reproduce the issue

Pixel 4A

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Not tested

### Reproduction steps

Tried to use the DownloadService for downloading content while the app is in the background using push.

### Expected result

It works in all the android versions except android 12

### Actu

[2022-07-26 07:59] tonihei commented on #10472
This question is similar to #7070 (where an EOFException was seen when reading the partially downloaded file). To support partially loaded files, the player needs to know which data is available and that it needs to wait until more is coming. Ideally, you can use ExoPlayer's download/cache functionality that tells the player how much data is loaded already. Alternatively, you can write your own ve

[2022-07-26 08:08] tonihei commented on #10469
I'm not sure if I understand correctly, but both requirements together are not possible unless the video aspect ratio exactly matches the screen aspect ratio. Otherwise you always have to add black bars, crop the video or apply some stretching to fill the screen.

The video you've sent over email also has baked-in black bars, which makes the process more complicated because the player doesn't know

[2022-07-26 08:23] tonihei commented on #10466
ExoPlayer's `PlayerView` and `StylesPlayerView` handle these actions automatically without any app code needed. When you tap DPAD center first, the controls are shown and any further tap with send the event for the currently selected button. I verified this in the demo app and everything is working fine.

This indicates the problem is somewhere in your custom app code and I would advise you to jus

[2022-07-26 08:23] #10466 closed, assigned to tonihei

[2022-07-26 08:29] tonihei commented on #10465
You have to generate a direct download link instead of using the URL that points to the Google Drive website. Drive provides this tool to convert sharable links to your file to direct download URLs: https://sites.google.com/site/gdocs2direct/.

[2022-07-26 08:29] #10465 closed, assigned to tonihei

[2022-07-26 08:43] tonihei commented on #10473
Android 12 introduces [new restrictions](https://developer.android.com/guide/components/foreground-services#background-start-restrictions) on starting a foreground service from the background.

ExoPlayer's `DownloadService` keeps itself in the foreground while waiting for requirement to be met (e.g. internet connection), but you can't start it from the background from Android 12 onwards.

[2022-07-26 08:48] tonihei commented on #10470
This is similar to existing questions like #662. You essentially need to provide your own `DataSource` that reads encrypted bytes and decrypts them in the `read` method. There are some existing (untested) implementations you can [find on the internet](https://stackoverflow.com/questions/38729220/reproducing-encrypted-video-using-exoplayer/64799650#64799650).

[2022-07-26 08:55] ghost commented on #10470
i'm talking about a section of file not whole file

[2022-07-26 08:56] ghost commented on #10470
com.google.android.exoplayer2.extractor.mkv.MatroskaExtractor.java

<img width="758" alt="image" src="https://user-images.githubusercontent.com/109886364/180966630-1a264d50-f23e-453f-8a8d-c0edbeaa5cd4.png">

[2022-07-26 08:59] jhnaiem commented on #10473
So, what would be your suggestion in case I want to use ExoPlayer for background download?

[2022-07-26 09:00] ghost commented on #10473
@tonihei, Thank you for the reply. So, what would be your suggestion in case I want to use ExoPlayer for background download?

[2022-07-26 09:26] SeungwonLee opened #10474 "When playing a HDR10 video, colors are washed out"
### ExoPlayer Version

2.18.1

### Devices that reproduce the issue

Pixel6 Android 13
S10 Android 11

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Yes

### Reproduction steps

1. Playing the attached HDR10 video with `SurfaceView` is ok.

[code]

---

But,
1. Playing the attached HDR10 video with `TextureView` isn't ok. (Colors are washed out.)

[

[2022-07-26 14:35] displayDev-spec commented on #10472
Unfortunately using ExoPlayer download/cache functionality is not an option as some of the streams are live streams (and some are not), so I need a solution that would work for both.
I will start playing with `DataSource` and see if I can manage it by writing a custom `DataSource`, if you have any more guidance it would be much appreciated.

[2022-07-26 15:45] jamesonwilliams opened #10475 "Ensuring that Cronet is available before use with ExoPlayer?"
Hi all! To experiment with HTTP/2 and HTTP/3, we've been onboarding the Cronet network stack, as in [the documentation](https://exoplayer.dev/network-stacks.html#cronet). Specifically, I am using the [`CronetDataSource.Factory`](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/ext/cronet/CronetDataSource.Factory.html) to bind a CronetEngine into ExoPlayer:

[code]

The [Google doc

[2022-07-26 16:01] marcbaechinger commented on #10431
I can't really find something significant in the logs you sent.

From the logs it looks like this is playing normally. The first frame is rendered

[code]

and starting from then, there is a playlist update every 3 second which looks fine for a live stream.

Where did you find some evidence regarding codec errors in the logs?
If the problem still exists can you provide me with a bug report so I ca

[2022-07-26 16:40] marcbaechinger commented on #10418
I don't think that is a library issue that we can fix on the library side. Fixing this would probably need a fix in R8/plugin or you need to work around that the minimizer wants to do it's work. I think downgrading to a Gradle Plugin that does not exhibit the problem is currently the easiest fix.

I would guess when this is fixed it would need to upgrade to a Gradle Plugin that is not affected, bu

[2022-07-26 18:00] tpuserhp commented on #10431
Hi support, begreport from demo app running on fire tv4K stick using another url with the same video freeze issue has been sent.
The decoder error  might not be the cause of the issue because they also in  in the logrec of MX Player. The error entries are:
***
07-13 20:23:43.913   308   308 E OMXNodeInstance: setParameter(13400a4:MTK.DECODER.AVC, ParamPortDefinition(0x2000001)) ERROR: BadParameter

[2022-07-26 19:14] Usman-Click opened #10476 "AVI ISSUE"
Refer to this issue #10360

HI,

As you said in the above issue that I should depend on the exoplayer-dev-2 branch locally for AVI formats to be supported, well I depend on the exoplayer-dev-2 branch locally but the AVI formats are still not playing,

what am i missing ?

is there anything else that I will have to do ?

thanks.

[2022-07-26 20:35] ShahyarTaheri commented on #10408
@marcbaechinger Would you be able to provide a sample on how to manually disable codec flushing? I have been struggling with this issue for a while and could not find a solution. Thank you

[2022-07-26 20:36] ShahyarTaheri commented on #9319
@YouheiLee @tonihei Would you be able to provide a sample on how to manually disable codec flushing? I have been struggling with this issue for a while and could not find a solution. Thank you

[2022-07-26 22:29] marcbaechinger commented on #10244
Interesting would be the values of the arguments of the method specifically `positionDiscontinuity` and `positionDiscontinuityReason`. Also the `playbackState`, `positionUs`, `playbackError!=null` of the arguments `playbackInfo` and `oldPlaybackInfo`. That would help to understand what kind of API call or playback event has originated the change of the window UID.

Further the `oldWindowIndex` and

[2022-07-27 03:26] jianlin00000 commented on #10459
But full screen is normal. On Longtv box, all other HEVC video sources play fine in small and large screen, but only this video does not play fine in small screen. I'm confused, do you have any guesses or suggestions?

[2022-07-27 06:14] Tolriq commented on #10244
Thanks.

For the moment I've only logged
positionDiscontinuity  = false
positionDiscontinuityReason = 0
And the oldWindowUid / newWindowUid = java.lang.Object@8d4a4fb/java.lang.Object@102901d that are different.

I'll try to add the others.

As a test I also return ```transitionReason = MEDIA_ITEM_TRANSITION_REASON_PLAYLIST_CHANGED;```

And it leads to new crash that may help understand? (Those ca

[2022-07-27 06:50] SeungwonLee commented on #10474
I wrote the issue also in the android issue tracker https://issuetracker.google.com/issues/240311505.

[2022-07-27 06:50] vishnuchilakala commented on #10304
Hi @rrfrias Any new developments / clues on the issue?
If you need any more information, please let us know and we will try to procure it.

[2022-07-27 08:04] tonihei commented on #10470
ExoPlayer already supports the `ContentEncryption` and `ContentEncoding` blocks to tell the decoder that the sample data needs to be decrypted.  It's a bit unclear to me what exactly is not working and if this is something that should be supported according to the Matroska specification.

If you have a non-spec-compliant way to encrypt individual blocks, you probably need to inject your own copy o

[2022-07-27 08:19] tonihei commented on #10412
I'm afraid I don't know how you set this up exactly, but I suspect the redirection isn't detected by the data source because the open operation failed. If you want to debug this yourself, you can check `DefaultHttpDataSource.getUri()`, which is called from `StatsDataSource` right after *successfully* opening the HTTP connection. As you can see, it just calls through to `URLConnection.getURI()`, wh

[2022-07-27 08:26] menscikov opened #10478 "App UI is lagging when E/BufferQueueProducer is appearing"
### ExoPlayer Version

2.18.1

### Devices that reproduce the issue

Xiaomi Redmi Note 11 Pro running Android 12

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Not tested

### Reproduction steps

For some videos my log is spamming with these errors.
I could ignore it, but when these errors occur, the application's UI is lagging.
If i pause the video

[2022-07-27 08:26] tonihei commented on #10472
This is getting too customized to provide detailed guidance, but have a look at existing `DataSources` like `FileDataSource` or `ByteArrayDataSource` to see how implementations should look like general. The important bits for your case are:
 - Return `C.LENGHT_UNSET` from `open()` to indicate that the overall length is not known yet.
 - Block `read()` operations until you can return at least one b

[2022-07-27 08:43] tonihei commented on #10475
`CronetDataSource.Factory` just uses the provided `CronetEngine`. You can use `CronetUtil.buildCronetEngine(context)` to build an engine. This util method will automatically use the Google Play Services dependency if available on the device or a bundled version in your app if available.

There are two noteworthy things here:
 - The Util method does roughly the same thing as `CronetEngine.Builder(c

[2022-07-27 08:54] tonihei commented on #9319
I hackily changed [this line](https://github.com/google/ExoPlayer/blob/ab4d37f499ba49bb3cac7938eb03ebf7133ccfe6/library/core/src/main/java/com/google/android/exoplayer2/mediacodec/MediaCodecInfo.java#L473) to return `REUSE_RESULT_YES_WITHOUT_RECONFIGURATION`. This is only safe for this particular use case though and no other audio transition as pointed out above.

[2022-07-27 09:22] tonihei commented on #10476
If you have a stream that isn't working on the dev-v2 branch version of AVI, please provide the stream for testing. Otherwise it's impossible to say what may be going wrong.

[2022-07-27 09:32] tonihei commented on #10474
`TextureView` doesn't support HDR output due to underlying platform limitations and always needs to apply tone-mapping to SDR. The tone-mapping also only exists on devices running Android 13 and above and isn't as good in quality as using a `SurfaceView`. So if you can, please use `SurfaceView` when playing HDR streams.

(This has also been asked before in #8448)

[2022-07-27 09:46] tonihei commented on #10478
`E/BufferQueueProducer` logs are usually ignorable and more log spam than anything else. In this case it sounds as if they are related to the performance problems you are seeing. This is not exactly easy to debug and I think there is likely nothing we can do about it. What type of video are you trying to play? If you think it should be supported and has consistent performance problems on this devi

[2022-07-27 12:16] jeronimomunoz opened #10479 "Player reaches the ENDED state during a MPEG-DASH live streaming."
### ExoPlayer Version

2.14.2

### Devices that reproduce the issue

No device dependent

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Not tested

### Reproduction steps

Reproductions steps:

1. Start the live streaming playback
2. Keep playing the live streaming until the player reaches the ENDED state. Something it takes a few minutes and someth

[2022-07-27 12:26] Usman-Click commented on #10476
Okay
How should I send it to you ?

[2022-07-27 13:35] DonnyRozendal opened #10480 "ExoPlayer in Jetpack Compose shows black screen when app is resumed after video is done playing"
### ExoPlayer Version

2.18.0

### Devices that reproduce the issue

Samsung Galaxy S21 Ultra

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Not tested

### Reproduction steps

Jetpack Compose implementation:
[code]
1. Play any video to the end (after which the last frame is kept on screen)
2. Turn off the screen of the device
3. Turn on the screen

[2022-07-27 14:16] menscikov commented on #10478
It's a H264 - MPEG-4 AVC (part 10) 1920x1080, HLS video stream with 5 audio tracks.
I will check it later on different brand device.

[2022-07-27 15:11] Damax72 opened #10481 "Instruct Exoplayer to start download/playback with first segment of a m3u8 manifest not the last one"
Upfront, I googled a lot and could not find any answer. Maybe I have gooled with wrong string, but Itried various search strings nothing. We use Exoplayer as general player, Browser+Android, works pretty well, thanks to all devs! In some scenarios with bad internet, playback is stuttering. While tracing in background we have recognized, that Exoplayer - when having downloaded the manifest m3u8, it

[2022-07-27 19:09] menscikov commented on #10478
I've tested this stream on different brand Android 9 device and there is no lags. Looks like it's a Xiaomi issue.

[2022-07-28 08:12] tonihei commented on #10412
I'll mark it as an enhancement to retrieve the redirected URL even if `HttpDataSource.open()` fails. The redirected URL is available in the actual implementations and should be forwarded to the `LoadEventInfo` generated for `onLoadError`.

[2022-07-28 08:17] tonihei commented on #10478
Thanks for verifying, I'll mark it as a device-specific bug. As said above, I don't think we can do much about it because it's either a performance issue or a device bug. If you can, please feel free to report to Xiaomi with reproduction steps in case they can address it.

[2022-07-28 08:17] #10478 closed, assigned to tonihei

[2022-07-28 08:18] tonihei commented on #10476
Either post it here or send it to dev.exoplayer@gmail.com with "Issue #10476" in the subject. If the file is large, you may want to upload it somewhere and only send a link.

[2022-07-28 11:14] Tolriq commented on #10244
Ok so was able to catch another error that confirm some issues with shuffle order.

The stack trace is large due to the coroutines withContext without context switch to ensure the main thread access so only the last 5 lines are important.

@marcbaechinger and ping @tonihei as he helped me build the customShuffle order.

This error is mostly expected and possible due to
[code]
`getFirstIndex()` can

[2022-07-28 12:18] tonihei commented on #10480
We can't really advise you on Compose details, but the important things that your code should ensure are:
 - The player needs to be released when the Activity goes into background (=when the screen is turned off). In a normal activity this should happen in `onStop` on API >= 24 and `onPause` on API <= 23.
 - When the activity comes back into foreground (`onStart` on API 24+, `onResume` on API <=23

[2022-07-28 12:40] tonihei commented on #10481
There are 4 inputs deciding where to start playback (in decreasing order of priority):
 - The value of #EXT-X-START in the playlist (if available).
 - App-provided overrides set in `MediaItem.LiveConfiguration.targetOffsetMs` (if set)
 - Playlist-provided targets set in `HOLD-BACK` of `#EXT-X-SERVER-CONTROL` (if available)
 - A default value of 3 times `#EXT-X-TARGETDURATION`.

Based on that, I'd

[2022-07-28 13:33] slaroquetf1 opened #10483 "Issue playing HLS CMAF with Widevine"
### ExoPlayer Version

2.18.1

### Devices that reproduce the issue

OnePlus 6 A6003 -  Android 11
Samsung SM-A405FN - Android 10

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Yes

### Reproduction steps

In the demo app I added an HLS CMAF stream and the correct DRM License URI. (info sent by mail)
(I also added a dash stream with the same configu

[2022-07-28 13:33] tonihei commented on #10479
I think this MPD update is not really spec-conformant because periods are meant to be continuous from one another. So usually you'd get Period A in one manifest, at some point Period B is added in addition (so that both periods are listed) and then Period A is removed once it's no longer relevant.

In particular, see [this section](https://dashif-documents.azurewebsites.net/DASH-IF-IOP/master/DASH

[2022-07-28 13:33] Damax72 commented on #10481
Thank you very much Tonihei, I will forward this to our team. Maybe I will comeback with "questions"

[2022-07-28 13:44] jeronimomunoz commented on #10479
Thanks a lot for this information @tonihei. I was checking an old version of the DASH-IF IOP document. Now it is clear, I'll transmit this information to the packager provider in order to fix the MPD generation.

[2022-07-28 13:53] #10479 closed, assigned to tonihei

[2022-07-28 14:13] tonihei commented on #10483
I can reproduce the issue. @rrfrias Would you mind taking a look to see where the DRM error is coming from? The stream link and license server setup has been sent via email.

[2022-07-28 14:32] tonihei commented on #10244
`getFirstIndex()` is only allowed to return `C.INDEX_UNSET` if the shuffle order (and the corresponding `Timeline`) is empty. Do you have empty `Timelines` somewhere? I think an empty `Timeline` created by one of the `MediaSources` could trigger this error.

[2022-07-28 14:47] Tolriq commented on #10244
It's possible to reach this state when clearing playlist yes.

[2022-07-28 15:00] tonihei commented on #10244
A completely empty playlist shouldn't cause problems because `AbstractConcatenatedTimeline.getFirstWindowIndex` checks `childCount == 0` right at the beginning. I can only imagine having a `MediaSource` set that publishes an empty `Timeline` (e.g. Do you use `ConcatenatingMediaSource`?)

[2022-07-28 15:17] Tolriq commented on #10244
No I no more use that. It's possible that this is a side effect then of my change https://github.com/Tolriq/ExoPlayer/commit/e6156fd5f68b39cbcfc06d493cbcbb39e943d18c to try to identify the root cause of the first issue and not a cause then :(

I hoped that the side crash would give enough clue, but I'm still pretty sure there's something wrong (or I do something wrong) with the customshuffle reaso

[2022-07-28 15:47] tonihei commented on #10244
I can't explain how exactly, but this could potentially fix it because it ensures `Timelines` with different `ShuffleOrder` values are not equal and thus can't trigger the `IllegalStateException`. Worth giving it a try (and keep the additional logging, just in case).

[2022-07-28 15:50] Tolriq commented on #10244
Thanks it's blocked by Play Store review team because of the new Android 13 form to fill let's hope they don't take 15 days.

[2022-07-28 17:28] Tolriq commented on #10244
@tonihei Actually the last crash from `setShuffleOrder` was from an internal alpha tester with a recent build based on 2.18.1 already.
There's no Invalid transaction log in the analytics but the user may have disabled analytics :(

Any other possible reason that I should try to log to analytics?

The related code:
[code]

Edit1:
Could it actually be the opposite and the user somehow manage to clea

[2022-07-28 22:26] DonnyRozendal commented on #10480
Thanks for the great reply! I'll try some stuff out

[2022-07-28 23:28] stevemayhew commented on #10445
@tonihei I reviewed the pull request #10468 and tested the code, while it is sort of on a possible correct path... It has issues so it does not fix this bug.

[2022-07-29 01:14] Usman-Click commented on #10476
I sent it to your Email

[2022-07-29 04:00] Joadar opened #10485 "Pausing the video trigger an error"
### ExoPlayer Version

2.16.1

### Devices that reproduce the issue

* Emulator Pixel 2 API 30 (We can always repeat this error in ExoPlayer 2.14.1, 2.16.1 and 2.18.1)
* Emulator Pixel 2XL API 30
* Emulator Nexus 6P API 30

We got a lot of errors reported on Mux with different devices/Android version since we migrate from 2.14.1 to 2.16.1.
On our side we can always repeat it on emulator with API 3

[2022-07-29 07:44] ybai001 commented on #10464
@ojw28 The internal discussion is still on-going.

[2022-07-29 10:54] martinmidtsund commented on #6373
@tonihei Hi, is the current status on this the same as in september '21, regarding your suggested new implementation from '19? :)

[2022-07-29 14:15] sruditsky opened #10486 "It is impossible to perform key-frame accurate initial (before prepare) seek"
### Use case description
While playing an HLS stream it is possible to seekTo before the player is in Player.STATE_READY state and it is also possible to perform a key-frame accurate seeking (https://github.com/google/ExoPlayer/issues/2882).

However, it is not possible to perform a key-frame accurate seeking when the seekTo is called before the player is in Player.STATE_READY state.

The reason i

[2022-07-29 18:59] tpuserhp commented on #10431
The links are no longer  avaialble. Unless the bugreport gives us the cause of the issue, please close the issue for now. I will open a new issue if a similar issue happens on the fire stick 4K TV in the future. Thanks.

[2022-07-29 21:06] PaulWoitaschek opened #10487 "Determine duration of possibly-VBR MP3 by reading end of file (without needing to load whole file into SampleQueue)"
### ExoPlayer Version

2.18.1

### Devices that reproduce the issue

Pixel 4 on Android 11, Android 12 Emulator

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Yes

### Reproduction steps

Play the attached media file and seek.

### Expected result

Seeking works like if FLAG_ENABLE_INDEX_SEEKING was disbaled

### Actual result

Instead of seeking, e

[2022-07-30 02:30] #10475 closed, assigned to tonihei

[2022-07-30 10:11] Tolriq commented on #10244
Ok so the app was published and the original issue is effectively fixed, allowing to figure out the real issue.

https://github.com/google/ExoPlayer/issues/10244#issuecomment-1198004718

Was triggered because of a well hidden launch in my code that trigged a small possible race between the update of the shuffle and the next addition to the playlist.

Basically it sometimes reached `setShuffleOrder

[2022-08-01 07:44] Usman-Click commented on #10476
Hello!
Are you there ?????

[2022-08-01 07:55] harismexis opened #10488 "No Timed Metadata on HSS streams"
Hi,
I am Haris from Sky
We have an sdk (video player library) which wraps helio which wraps exoPlayer. Also we have a ref app to test our sdk.

We have the following issue:
When playing HSS streams in our ref app they do not give us metadata during playback.
We know those streams have metadata, so we expect our onTimedMetadata(...) to be called every x seconds.

We receive the metadata events from

[2022-08-01 10:00] icbaker commented on #10485
I'm unable to reproduce the problem. I did the following:

1. Installed ExoPlayer 2.18.1 demo app on an Pixel 2 API 30 emulator created inside Android Studio 2021.3.1 Beta 4.
2. Played Misc -> Dizzy (MP4)
3. Paused playback after a few seconds
4. Waited 5 seconds

I saw no errors in logcat, and resuming playback worked as expected.

Is there something you're doing differently to this in order to b

[2022-08-01 15:54] icbaker commented on #10487
I did the following to reproduce this:
1. Modify the 2.18.1 demo app to enable index seeking for MP3 files by passing the following to the `DefaultMediaSourceFactory` constructor in `PlayerActivity.createMediaSourceFactory()`:
[code]
2. Play the provided file

I observed:

The demo app seek bar is disabled, and the total duration is shown as 00:00, but the seek-forward-15s and seek-back-5s buttons

[2022-08-01 15:59] icbaker commented on #10488
When you say HSS, do you mean [HLS](https://en.wikipedia.org/wiki/HTTP_Live_Streaming)?

ExoPlayer added support for in-stream timed ID3 metadata wrapped in `emsg` boxes in HLS in 2.10.6 ([release notes](https://github.com/google/ExoPlayer/blob/release-v2/RELEASENOTES.md#2106-2019-10-17)).

There isn't enough information to help you further. Please provide:
* The version of ExoPlayer you're using

[2022-08-01 16:12] PaulWoitaschek commented on #10487
First of, sorry - my bug report not really detailed and I did not investigate that deep.

Yes.

I am using that flag in the context of an audiobook player where I do not control the media that is being played.
When users are playing audiobooks, an offset while seeking is disturbing. Therefore I would be fine with a longer playback buffering time with the effect of an accurate seeking.
However as I

[2022-08-01 18:38] teletcl commented on #9671
I've got TCL AndroidTV and have the same problem.

I've found on internet that this is well-known bug of Exoplayer (in Sony TV and many others AndroidTV): the issue is that the passthough capabilities are not detected, especially for SPDIF.
Probably it recognizes the capabilities wrong and probably skips the passthrough and uses ffmpeg extension to downgrade to stereo.
Many apps that based on not

[2022-08-01 19:38] teletcl opened #10489 "Some type of subtitles are not visible"
### ExoPlayer Version

2.18.1

### Devices that reproduce the issue

TCL AndroidTV 8 (tested on some apps that based on ExoPlayer)

### Devices that do not reproduce the issue

KODI application

### Reproducible in the demo app?

Not tested

### Reproduction steps

On some videos subtitle are not displaying.
If play that file in KODI or Vimu, subtitles are visible.
Maybe because subtitles in this

[2022-08-01 21:50] chladto1 commented on #10448
Thanks, looks promising.

[2022-08-02 02:10] Joadar commented on #10485
Here are my steps:
- Open demo app (release-v2 branch)
- Clear Dash -> HD (MP4, H264)
- I have the following result (see video)
- Configuration:
-- Android Studio 2021.2.1 Patch 1
-- Emulator: Pixel 2 API 30, Android 11 Google Play | arm64

And yes, with this specific emulator (API 30), I can always reproduce the error, but not in other API. The configuration doesn't change with other API.

https:

[2022-08-02 02:56] y4n9b0 commented on #9695
same here

[code]

ExoPlayer version number: 2.16.0
Android version: Android 9
Android device: XiaoMi Note 3

https://www.sqlite.org/rescode.html#ioerr_shmsize

[2022-08-02 05:01] VeraUvads opened #10490 "HLS preloading"
My task is to pre-load 2-3 seconds of the video, and after the Internet is turned off it should work.

Format video: like in tik tok.  I reuse one istance of exo player in every Recycler.ViewHolder.

My first solution:

[code]

But if I turn off the internet, I will have an error:
2022-08-02 07:51:12.345 16693-16900/com.umbrella.player.sample E/ExoPlayerImplInternal: Playback error
      UnknownHo

[2022-08-02 07:08] ishaileshmishra commented on #9230
**Getting below error:**

`com.google.android. exoplayer2. ExoPlaybackException: com.google.android.exoplayer2.mediacodec.MediaCodecRenderer$DecoderInitializationException: Decoder init failed: OMX.Exynos.avc.dec,`

In my case, I have a list of videos using recyclerview like Instagram. When the feed of the video list gets scrolled very frequently it throws the above error and stops playing other i

[2022-08-02 07:24] ehsan9295 commented on #10390
@icbaker go you have any further suggestion or any update on this issue?

[2022-08-02 07:43] tonihei commented on #6373
I'm afraid the current status is still the same. Note that we will soon merge #10446 (solving https://github.com/google/ExoPlayer/issues/7279), which should simplify the implementation of the workaround I suggested above.

[2022-08-02 07:47] muhammed122 commented on #10490
Hello,
I have same task but I need some help to achieve your result
could I get GitHub link of your app ?

[2022-08-02 07:52] tonihei commented on #10476
We only received an empty email without attachments I afraid. I assume the files were too big to be sent via email? Please try to send a link to the file instead.

[2022-08-02 07:56] tonihei commented on #10244
Did you reach this state purely by using `ExoPlayer` API calls to `setShuffleOrder` and other playlist manipulation methods like `addMediaSource/Item`? Or is the problem somewhere in your own custom code? Because if it's in ExoPlayer code, we definitely want fix the issue if there is a race condition that can trigger exceptions.

[2022-08-02 08:04] Tolriq commented on #10244
It's my code that had the small race, but before 2.18.1 fix impossible to debug.
And still hard to diagnose due to the complexity of timelines and everything in playlist and gapless.

So was hoping for some easy test that could be added on ExoPlayer side to help detecting such things if possible, if not then now I know a little more how to debug those :)

[2022-08-02 08:14] tonihei commented on #10244
I think throwing the exception already solves this issue by failing-fast as soon as we detect something doesn't match. It's unfortunately never easy to detect the root cause of threading race conditions, so I don't see what else we could provide in this case. I'll close the issue under this assumption. If you have a concrete documentation proposal for something you would have liked to read when wr

[2022-08-02 08:14] #10244 closed, assigned to marcbaechinger

[2022-08-02 08:50] icbaker commented on #10390
No I'm afraid not - since this is device specific I suggest you follow up with the device manufacturer(s).

[2022-08-02 08:59] sdmc-tan opened #10491 "Drop audio before first IDR video frame when starting MPEG-TS playback"
I modified the exoplayer demo to make it play multicast, but found a problem.
After exoplayer renders the first frame, it will be still for 1-2 seconds, then it will be normal, but the audio will be normal during this time.
I found that after adding log to the MediaCodecVideoRenderer the video kept waiting for the correct time to render.

Modifying the DefaultLoadControl can adjust the display tim

[2022-08-02 09:23] icbaker commented on #10487
I understand. The caveat here is that toggling this flag doesn't change ExoPlayer's loading/buffering behaviour - and the duration can't be determined until we've read the whole file. Note this doesn't affect 'seeking' in the sense of using the `Player.seek...()` methods, it only affects use-cases that require the duration like the progress bar.

So if you want to fully prioritise accuracy over sp

[2022-08-02 09:27] Drizkox opened #10492 "disable ad or lock on player"
Hello , im using exoplayer for playing hosted embed video , but popup make me quit the app , how can i lock the user on or disable action with ad ? ive seen someone doing this and its work perfectly now but idk how to do , im beginner ^^

[2022-08-02 09:28] icbaker commented on #10492
I'm afraid I don't really understand what you're asking. Please provide complete information as requested in the question template. The template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/question.md).

Unfortunately we can't answer unclear questions or those with insufficient information.

[2022-08-02 09:36] harismexis commented on #10488
Thank you,

HSS I mean Http Smooth Streaming

I am looking to collect more information.

Cheers

[2022-08-02 09:37] Drizkox commented on #10492
My english is rly bad sorry , then , i make easy explication x) , im playing external video with exoplayer , like youtube videos etc.... , but i have many popup , and clicking anywhere make me quit the app and open the ad popup , how i can "lock" the user on app and make popup not quit the app

[2022-08-02 09:47] icbaker commented on #10488
Oh I see - I'm not aware of any work to implement in-band metadata for SmoothStreaming specifically. It may 'just work' as a by-product of our implementation for DASH and HLS, but if there's SmoothStreaming-specific work required then it may not.

If you can provide a sample stream we can take a closer look. That said, it's unlikely we will spend significant effort on improving our SmoothStreaming

[2022-08-02 10:08] icbaker commented on #10485
Thanks - the only difference I see (apart from the asset used, and I was also unable to repro with the DASH asset) is that I'm using an x86-based emulator and yours is ARM-based. From your screencast it looks like you're on MacOS, is that an ARM-powered machine? When I instantiate an ARM emulator on my x86 machine it warns me about performance impact. Unfortunately it then completely fails to star

[2022-08-02 10:19] julian-gargicevich commented on #9230
Try rendering fewer videos at a time

[2022-08-02 10:23] icbaker commented on #10489
I'm able to reproduce the issue in the demo app at 2.18.1. I played the attached TS file, enabled the Polish text track (DVB subtitles) and didn't see any subtitles on screen.

However I then played the same file in VLC on my computer, and enabled the same subtitle track, and also saw no subtitles.

Given two independent players both show no subtitles, I think that points to this being a media iss

[2022-08-02 10:23] #10489 closed, assigned to icbaker

[2022-08-02 10:23] VeraUvads commented on #10490
Sorry, I wish I could, but it's private.
But I can share projects I used for research.

https://github.com/thanductaimgt/exo-player-pre-cache-sample
https://github.com/AndroidDeveloperLB/ExoPlayerCacheSample
https://github.com/andriiginting/instagram-preloading

Hope it helps.

[2022-08-02 10:29] icbaker commented on #10491
There isn't enough information provided here to help you. It sounds like you might have made some pretty deep customisations to ExoPlayer (I don't know what you mean by 'multicast') and it's unlikely we will be able to offer a high level of support for such customisations.

If you're able to phrase your questions more specifically about the behaviour of the ExoPlayer APIs, and give a lot more deta

[2022-08-02 10:51] JerryLutor opened #10493 "Please explain what the errors mean and why they may occur"
Please explain what the errors mean and why they may occur:
1) 4001
2) 1002

[2022-08-02 11:30] icbaker commented on #10445
@stevemayhew Ah right, thanks for clarifying and sorry I was looking in slightly the wrong place before. I'm now able to clearly log what you're seeing. After a seek I logged the first 100 (decoded) buffers being evaluated by `MediaCodecRenderer.isDecodeOnlyBuffer` and I see that it alternates true/false while passing through the 'decode only' section of content - which is explained by the codec i

[2022-08-02 11:52] sdmc-tan commented on #10491
I am playing a UDP MPEG-TS stream in ExoPlayer, and I have not done deep customization, but just added some logs to confirm whether it is a problem of audio and video synchronization.

This is my custom DefaultLoadControl:
[code]

Here is my modified MediaCodecVideoRenderer：
[code]

Question
When you start playing, you can see the first frame rendered very quickly, but then the frame will be still

[2022-08-02 11:56] Joadar commented on #10485
Okay thank you for your answer. It's running on a MacBook Pro M1.

It's just users reported to us the same issue on their side (different API and devices) and we were surprised that we could reproduce exactly the same thing.

We will report to Android Studio.

Thank you for your help!

[2022-08-02 11:56] #10485 closed, assigned to icbaker

[2022-08-02 13:10] muhammed122 commented on #10490
thanks for response,
could i get any contact for you , to ask something ?

[2022-08-02 14:14] shubhamvashisht opened #10494 "Player doesn't switch to play media if vast ad media timeout occurs."
### ExoPlayer Version

2.15.1

### Devices that reproduce the issue

OnePlus Nord

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Not tested

### Reproduction steps

1. Set Any AD tag URI with an ad break
2. wait for media timeout to happen. (you will get LOG event with error code 402)
3. Player will stuck ( wont switch back to media)

### Expected r

[2022-08-02 14:46] icbaker commented on #10490
Partial downloads is not supported. It's tracked by https://github.com/google/ExoPlayer/issues/1497 so I'm going to mark this as a duplicate of that issue.

[2022-08-02 14:46] #10490 closed, assigned to icbaker

[2022-08-02 14:53] mosjwarris opened #10495 "Am I able to play a local video file alongside streamed audio? or is it one or the other"
I have local looping video files i want to play whilst streaming an audio file. Can i combine the two on the player? or do I have to pick one or the other and have 2 separate instances?

Thanks

[2022-08-02 14:54] Usman-Click commented on #10476
I sent the first one by mistake

![Screenshot_20220802-155030_Gmail.jpg](https://user-images.githubusercontent.com/47116342/182405036-52fbf81e-81d6-4d8d-bc96-6da8796a1f9d.jpg)

As you can see in the above picture, I resent another one with the files.

Thanks

[2022-08-02 15:04] farzadno opened #10496 "Change MediaSourceFactory after initialize"
Hi, i use `ExoPlayer` for playing mp3 from **network by URLs** and playing mp3  from **local files by URI**.

For playing network i need to use `setCache()`  by `CacheDataSource`:

[code]

and, for playing local file i use `DataSource` by `FileDataSource`:

[code]

I initialize `ExoPlayer` default for network (online stream by URL) mode:

`.setMediaSourceFactory(new DefaultMediaSourceFactory(cache

[2022-08-02 15:47] farzadno commented on #10496
Resolved by:

[code]

thank exo

[2022-08-02 15:47] #10496 closed, assigned to nobody

[2022-08-02 15:57] icbaker commented on #10493
These are both documented in `PlaybackException`: https://github.com/google/ExoPlayer/blob/release-v2/library/common/src/main/java/com/google/android/exoplayer2/PlaybackException.java

[2022-08-02 15:57] #10493 closed, assigned to icbaker

[2022-08-02 16:07] icbaker commented on #10495
You may be able to do this with `MergingMediaSource`, and do the video looping with `ConcatenatingMediaSource`.

Something like:

[code]

[2022-08-02 16:10] icbaker commented on #10445
I think that a decoder is not allowed to create additional output buffers. The [`MediaCodec` javadoc](https://developer.android.com/reference/android/media/MediaCodec) seems to make it pretty clear there's a 1:1 correspondence between input and output buffers (emphasis mine):

We have GTS tests that enforce this [1], but I suspect that the GTS environment doesn't trigger this interpolation on this

[2022-08-02 16:23] mosjwarris commented on #10495
thanks, sorry to be difficult but any chance of this example in kotlin? im new to android and not great on java syntax / conversion

[2022-08-02 16:25] icbaker commented on #10495
If you paste Java into a Kotlin file in Android Studio it will do a pretty good job of converting it.

[2022-08-02 16:26] mosjwarris commented on #10495
i did give that a crack but android studio didnt seem to want to do it! ill persist

[2022-08-02 17:22] icbaker commented on #10445
I've hacked together a test using the stream provided (don't worry, I won't submit this anywhere or make it run in any automated way!) - and the same decoder counter assertions I've mentioned above. I haven't made it fail yet, it seems the number of 'rendered' output buffers matches the number of input buffers - so I need to do some more digging to understand what's going on. I wasn't seeking in m

[2022-08-02 17:25] ggabdol opened #10497 "Does ExoPlayer support keyframe accurate seeking before an HLS media item is prepared?"
Does ExoPlayer support keyframe accurate seeking before an HLS media item is prepared?

[2022-08-02 17:39] stevemayhew commented on #10445
I can check with the content owner if you can use the MPEG-TS, seems less the an few seconds of it is all that is needed.

Only the 1080p30 highest variant that triggers the frame rate doubling.  **Not all encodings do**, which is probably why the GTS tests pass.   We have 1080p30 content that is similar but does not trigger the auto-FRC (a NASA channel variant that is 30 FPS).   One thing I notic

[2022-08-02 19:00] axelbau24 opened #10498 "DRM error trying to play DRM protected content on Android TV with Android 12"
### ExoPlayer Version

2.18.1

### Devices that reproduce the issue

- Any emulator with Android TV API 31 (Android 12)

### Devices that do not reproduce the issue

- Regular phone devices/emulators with Android 12

### Reproducible in the demo app?

Yes

### Reproduction steps

- Launch demo app
- Choose any DRM Widevine content (e.g Widevine DASH (MP4, H265) )
- Choose any quality
- Playback fa

[2022-08-03 02:33] louiewh commented on #10442
3Q.  I resolve the problem

[2022-08-03 02:33] #10356 closed, assigned to icbaker

[2022-08-03 03:05] #10442 closed, assigned to christosts

[2022-08-03 03:06] louiewh commented on #10442
Resolve the problem

[2022-08-03 03:42] gb103 opened #10500 "During DAI live stream, frame freeze happens during content to ad switch or ad to content switch"
### ExoPlayer Version

2.15.1

### Devices that reproduce the issue

Redmi Note 9 Pro

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Not tested

### Reproduction steps

Used a DAI enabled live stream, of which manifest is like as in the attached file, dai_hls_manifest.txt
[dai_hls_manifest.txt](https://github.com/google/ExoPlayer/files/9247756/dai_h

[2022-08-03 03:50] visla-yewang opened #10501 "Black Screen when Player in STATE_END and activity back to home and resume."
### ExoPlayer Version

2.18.1

### Devices that reproduce the issue

Samsung Galaxy P20, Google Nexus 4

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Not tested

### Reproduction steps

1. when video is loaded, play the video to end.(make sure the player status is STATE_END)
2. in end status, back the app to Home Screen.
3. back to app from Home Sc

[2022-08-03 04:18] VeraUvads commented on #10490
@icbaker ok, but could you tell me why it doesn't work correctly in the first cases?

[2022-08-03 04:20] VeraUvads commented on #10490
@muhammed122 you can find me on telegram as @ uvads

[2022-08-03 04:35] VeraUvads commented on #1497
Hello
The thread is 4 years old, is there any chance that someday this task will be implemented? Cause it really necessary feature

[2022-08-03 07:44] ybai001 commented on #10464
@ojw28 , @RicFlinn We have some updates for you today.
1. For the provided example in original question, `<AudioChannelConfiguration schemeIdUri="tag:dolby.com,2015:dash:audio_channel_configuration:2015" value="800000"/>`, this schemeIdUri "tag:dolby.com,2015:dash:audio_channel_configuration:2015" is used for AC-4 content. We (Dolby) will provide a pull request to support this schemeIdUri.
2. For

[2022-08-03 08:06] tonihei commented on #10464
@ybai001  Thanks for looking into this!

Sounds good, thanks!

I'm not entirely sure this works because ExoPlayer will still see this as an audio track and will assume it can be played even if the number of channels is unknown. To avoid that this track is selected for playback, we need to make sure the audio renderer knows that this track is unsupported.

[2022-08-03 08:39] Tolriq opened #10502 "Some vorbis files does not play in ogg container"
### ExoPlayer Version

2.18.1

### Devices that reproduce the issue

All

### Devices that do not reproduce the issue

None

### Reproducible in the demo app?

Yes

### Reproduction steps

Play the attached file

### Expected result

The media should play.

From my understanding after some research, it seems that this file also embed a "fake" Theora track that stream the cover.
But the file have a

[2022-08-03 08:52] ybai001 opened #10503 "'elst' box and timestamp handling in gapless playback"
The test file is https://www2.iis.fraunhofer.de/AAC/gapless-sweep_part1_iis.m4a (Download it. The downloaded file suffix is .mp3 and you need to  rename the suffix to .m4a manually.) This file includes one 'elst' box with media_time = 1600. Timescale of this AAC track is 44100.

If I use ExoPlayer to play this media file, I'll get input timestamp from Google AAC software decoder (C2SoftAacDec) as

[2022-08-03 08:55] icbaker commented on #10497
This looks like a duplicate of https://github.com/google/ExoPlayer/issues/10486

[2022-08-03 08:55] #10497 closed, assigned to icbaker

[2022-08-03 08:56] icbaker commented on #10498
Duplicate of https://github.com/google/ExoPlayer/issues/10158

[2022-08-03 09:09] icbaker commented on #10500
The codecs are also different, which might be a bigger deal. From [RFC 8216 section 6.2.4](https://datatracker.ietf.org/doc/html/rfc8216#section-6.2.4):

----

If you fix the manifest to have the correct resolution and codec is the issue resolved?

[2022-08-03 09:17] icbaker commented on #10501
I performed the repro steps in the demo app at version 2.18.1 on a Pixel 5 running Android 13, and observed that when bringing the app back to the foreground a black screen is shown briefly, and then the final frame of the video is shown. I suspect this delay is related to re-preparing the player and decoders (which are released when the demo app is put in the background).

Given this doesn't repr

[2022-08-03 09:17] #10501 closed, assigned to icbaker

[2022-08-03 09:21] ybai001 commented on #10464
Object-based audio is an ecosystem topic. There are lots of things to be done. As far as track selection, Dolby's plan is to define a new mimetype for AC-4 object audio so that ExoPlayer can't find matched codec for this track then this track will not be selected.

[2022-08-03 09:25] icbaker commented on #10502
I can reproduce the issue - I suspect (haven't verified) that `OggExtractor.sniff()` is returning false for this file.

[2022-08-03 09:50] ybai001 commented on #10503
BTW, the ffprobe command I used is `ffprobe.exe -i gapless-sweep_part1_iis.m4a -show_packets > out.txt`

[2022-08-03 10:00] gb103 commented on #10500
Do you see any problem in the manifest which I have attached, as per me it is correct.

Different resolution in the logs comes when DAI ad content is about to play, correcting resolution of the ad chunk it's not in our control.

[2022-08-03 10:38] aleslanik2 opened #10504 "How disable predownload manifest.mpd"
Hi, we have problem with predownloading manifest.mdp.

Our situation
  * We have tens of thousands of clients. Android app with exoplayer in lastest version (2.18.1)
  * Overyone of them have playlist (ConcatenatingMediaSource) of dash audio (DashMediaSource)
  * The audio is typically spoken word about 45 minutes long
  * Server backend is Wowza and audio storage contains about millions of files

[2022-08-03 10:50] teletcl commented on #10489
VLC doesn't but e.g. KODI (both Android and Windows) or Media Player Classic Home Cinema ( https://github.com/clsid2/mpc-hc ) shows subtitles in this video sample.
![subtitles](https://user-images.githubusercontent.com/66688147/182589897-57bf5a1b-0ce8-4a10-bb60-86351ae6aa1e.jpg)

[2022-08-03 11:08] tonihei commented on #10464
That sounds like a good plan, thanks.

[2022-08-03 11:40] tonihei commented on #10476
You sent two files, one of them (`Sample-AVI-Video-File-for-Testing.avi`) is playable in the latest code state, the other one (`sample-avi-file.avi`) is not.

The file that isn't playable reports a warning:
[code]
which indicates it's using WAVE_FORMAT_ADPCM as the format tag. I think ADPCM isn't supported by the Android decoders, so there is not much we can do about it I'm afraid.

[2022-08-03 11:43] tonihei commented on #10494
Can you clarify how you trigger step 2 in your reproduction steps?

If I just set any ad tag uri and play, there won't be any timeout because everything loads successfully.

[2022-08-03 11:43] slaroquetf1 commented on #10483
Quick update, if I change the packager setup to SPEKEv1, it plays for a while (about 3 chunks it seems) then fails with the same error.

[2022-08-03 11:52] icbaker commented on #10500
It's not really possible to investigate further without access to the stream in order to reproduce the problem ourselves.
Please either post a link here or send it to dev.exoplayer@gmail.com using a subject in the format `Issue #1234` (where `#1234` should be replaced with this issue number). Please also update this issue to indicate you’ve done this.

[2022-08-03 12:01] aleslanik2 commented on #10504
I think I found a solution. ConcatenatingMediaSource has a useLazyPreparation property in the constructor, which does exactly what I need.

[2022-08-03 12:02] #10498 closed, assigned to icbaker

[2022-08-03 12:05] icbaker commented on #10491
It sounds like ExoPlayer is waiting until the audio track timestamp matches the timestamp of the video frames it has ready to render. So I think the way to shorten that time is to ensure the audio and video tracks are served more synchronized (because currently it seems that the video is served 'ahead' of the audio). I can't see how ExoPlayer could do anything differently here, without deliberatel

[2022-08-03 12:05] #10448 closed, assigned to icbaker

[2022-08-03 12:07] tonihei commented on #10503
The `elst` box describes an edit list, specifying which parts of the file should be played.

Specific edit lists that only clip a short duration from the start or end of the file are considered as gapless metadata by ExoPlayer and are applied at a later stage. See [this code](https://github.com/google/ExoPlayer/blob/ab4d37f499ba49bb3cac7938eb03ebf7133ccfe6/library/extractor/src/main/java/com/googl

[2022-08-03 12:21] sdmc-tan commented on #10491
I have a guess but not sure if it is correct.
In a udp mpeg-ts stream, the first video frame is not necessarily valid, it may be dropped because it is not an IDR frame until an IDR frame is received.
But audio can be decoded independently and will not be discarded, so there will be a time difference between audio and video. Still frames can be shortened if some audio frames can be dropped early.

[2022-08-03 13:17] icbaker commented on #10491
That theory makes sense - so you would like to drop the audio frames to match the pre-IDR video frames that are necessarily dropped, and therefore allow playback to start faster from the IDR frame.

I'm going to turn this into an enhancement to track that, I think it would likely be in the `TsExtractor` - though we don't have any plans to work on this.

[2022-08-03 13:26] slaroquetf1 commented on #10483
It seems the issue is https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/MediaItem.DrmConfiguration.Builder.html#setMultiSession(boolean)
When it s set to true it seems to work.

[2022-08-03 13:48] tonihei commented on #10473
It depends what action starts your download and whether it falls under the [exceptions](https://developer.android.com/guide/components/foreground-services#background-start-restriction-exemptions) that are allowed to start a foreground service from the background:
 - If the download is started by a user action, you should already be in a foreground service / activity and there shouldn't be an issue

[2022-08-03 13:57] ybai001 commented on #10503
Thanks for quick feedback. Yes, I see ExoPlayer handles 'elst' box well.

I think Android AOSP also handles gapless metadata, see this code: https://cs.android.com/android/platform/superproject/+/master:frameworks/av/media/libstagefright/SkipCutBuffer.cpp;drc=0766ead67694809c3cb12dc6ddb81a2eb7b475ad;l=59
As long as AOSP MPEG4Extractor finds 'elst' box, one SkipCutBuffer will be created. It will be

[2022-08-03 14:34] slaroquetf1 commented on #10483
So my stream had a different init vector for the video and audio encryption, in this case I had to manually set MultiSession to true.
Could you improve that so that Exoplayer does that automatically?

[2022-08-03 14:48] Usman-Click commented on #10476
Okay I get it,

But the (Sample-AVI-Video-File-for-Testing.avi)
Is not playing in my case.

I depended on exoplayer-dev-2 locally but I did not do anything else after that,

Is there anything else that I will have to do after depending on dev-2 locally in order to make the AVI playable ?

What am I missing something ?

[2022-08-03 14:54] sdmc-tan commented on #10491
Thank you very much
I think this change will have a better experience for UDP playback

[2022-08-03 15:04] tonihei commented on #10476
I just copied the file to a phone and played it in the demo app with the latest dev-v2 code and it worked fine.

[2022-08-03 16:46] mosjwarris commented on #10495
I dont seem to be able to get this to work syntacticly in kotlin, the types dont play nice together to match the example

[2022-08-03 17:22] Andre-JFerreira opened #10505 "closed captions not showing as available on mpeg2/h262 video"
### ExoPlayer Version

2.18.0

### Devices that reproduce the issue

Multiple android tv boxes (both ATV and AOSP)

### Devices that do not reproduce the issue

None

### Reproducible in the demo app?

Yes

### Reproduction steps

Create and entry on the media.exolist.json file for the .ts file used for testing and play it.

### Expected result

we should see the available closed captions as optio

[2022-08-03 17:35] icbaker commented on #10445
I've managed to reproduce in a test now (it seems important to wait ~5s before seeking, I was doing just 1s and it wasn't reproing - not really sure why).

I've filed [internal b/241255564] to ask the Chromecast team to look into this from their side.

[2022-08-04 06:17] PaulWoitaschek commented on #10471
To be honest I feel really lost with the integration. Either I do not understand how Media3 Session is supposed to be used or it does not fit my use case.
I'm developing an [audiobook player](https://github.com/PaulWoitaschek/Voice) and I'm basically facing multiple challenges.
First is, that to the outside I don't really want to expose the underlying media at all. Let's say I have an audio book a

[2022-08-04 09:46] Usman-Click commented on #10476
Okay

Let me update the code and see

[2022-08-04 10:51] gb103 commented on #10500
@icbaker sent an email with test liveDAI stream, it will be live for next 24 hours. Request you to test it at earliest. Thanks.

[2022-08-04 11:20] icbaker commented on #10500
Playing the stream with no VPN returns me HTTP 403 errors:
[code]

I then VPN'd to India (which I guessed based on the phone number in your email signature), and it fails with the same error.

Are there additional steps I need to take in order to access this stream? Please specify repro instructions in full.

[2022-08-04 12:47] lotaviods commented on #10067
on my case, fmtpParameters is empty but is playing in vlc

[2022-08-04 12:52] claincly commented on #10067
Again, you can try remove the assertion for `sprop-parameter-sets` and see if it plays.

[2022-08-04 13:04] gb103 commented on #10500
Can you please try with okHttpDataSource or HttpDataSource instead of Cronet ?
Steps ;
1. Play the video
2. let's be on a throttling network (if possible be it around at 1000 - 2000 KBPS throttled network)
3. At around ~1700 KBPS during ad transition video seems to be freezed

If you even run the shared url on safari, it is working fine.

[2022-08-04 13:35] icbaker commented on #10500
I get a 403 with OkHttp too:

[code]

[2022-08-04 14:14] icbaker commented on #10504
Glad you found a solution!

[2022-08-04 14:14] #10504 closed, assigned to icbaker

[2022-08-05 01:04] #10416 closed, assigned to christosts

[2022-08-05 01:04] #7664 closed, assigned to tonihei

[2022-08-05 05:36] gb103 commented on #10500
@icbaker Shared a new stream url.

[2022-08-05 09:25] gb103 commented on #10500
@icbaker  sorry to remind you again but test stream has limited validity, can you please confirm if the new stream url is playing for you ?

[2022-08-05 10:01] yuroyami commented on #10495
You can create two ExoPlayer instances on two separate threads. That would be easier.

[2022-08-05 10:16] icbaker commented on #10495
Kotlin example:

[code]

[2022-08-05 11:33] lotaviods commented on #10067
After removing the assertion, video does not play on exo player but does on vlc, i notice that after removing processH265FmtpAttribute, since has no atrr, codec fail on initCodec(codecInfo, crypto)

here is RTP DESCRIBE

[code]

[2022-08-05 12:48] xmrgarethx commented on #10285
I also have what appears to be the same issue, but via Plex running on an Amazon Fire Stick 4K Max, which also has an MTK processor.

I find it happens with older downloaded h264 content.

Plex log output:

07-31 10:14:30.436  e: [ExoPlayer][EventLogger] playerFailed [eventTime=51.65, mediaPos=626.49, window=0, period=0, errorCode=ERROR_CODE_DECODING_FAILED
  com.google.android.exoplayer2.q: Media

[2022-08-05 13:46] mosjwarris commented on #10495
thanks, seems to throw an error with `MergingMediaSource$IllegalMergeException` using my following code, perhaps to do with how i have to convert the items into media sources first?

[code]

[2022-08-05 15:32] MisterPotz opened #10506 "Support timed messages (PlayerMessage) for ads"
### ExoPlayer Version

2.18.1

### Devices that reproduce the issue

emulator api 30

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Not tested

### Reproduction steps

1. Have an `AdsLoader` implemented. Inserts ads in start of the content. Content is HLS.
2. When Player starts playing ad, in event callback register the following messages:
[code]
3.

[2022-08-05 16:33] harismexis commented on #10488
Hi, I tried more assets and found also DASH & HLS assets that don't record metadata. I am posting manifests & logs from the assets I tested.
The manifests of the assets that record metadata contain an InbandEventStream tag with a schemeIdUri which is logged in logcat with the metadata.
Are only the manifests that contain the InbandEventStream tag capable of providing metadata ?
I am not sure if th

[2022-08-06 08:04] teletcl commented on #10489
I've found that also Vimu Media Player ( https://play.google.com/store/apps/details?id=net.gtvbox.videoplayer ) shows subtitles in this sample video.
Maybe VLC it's not good enough?

[2022-08-06 18:06] LagradOst opened #10507 "SubtitleView more options for CaptionStyleCompat"
### Missing outlineWidth option
Currently I am trying to add subtitle options into my app, however I am missing the option to set the outline width as CaptionStyleCompat does not include it. It looks like SubtitlePainter sets these to `Math.round((2f * displayMetrics.densityDpi) / DisplayMetrics.DENSITY_DEFAULT);` and has no options to change it in runtime.

### Proposed solution
Simply add outlin

[2022-08-06 18:10] LagradOst commented on #10507
Possible duplicate of #9391

[2022-08-08 07:03] hanlareum opened #10508 "How to remove SimpleExoPlayer instance in Test App?"
I have a question for exoplayer remaining issue.

I found SimpleExoPlayer instance remained in App after ExoPlayer instance deleted.

Please guide to me about fix it.

1. screenshot of android studio profiler
<img width="1445" alt="스크린샷 2022-08-08 오후 3 45 03" src="https://user-images.githubusercontent.com/6751983/183357094-4c6aab68-9dae-4b37-9539-872697db3fe5.png">

2. heap dump.
[memory-2

[2022-08-08 07:43] tonihei commented on #10471
@PaulWoitaschek  Thanks for the feedback. Your app set up is interesting because it seems to have a completely different media model between the player itself and the UI.

In `MediaSession.Callback.onConnect`, you can decide which commands/information the controller is allowed to access. I'm not sure if that is what you are looking for as it sounds you'd like to completely replace the media model

[2022-08-08 09:50] tonihei commented on #10506
The position in a `PlayerMessage` is relative to the content not the ad. I'll mark it as an enhancement to support sending messages to ad break positions.

[2022-08-08 10:00] christosts commented on #10508
I don't see something obviously wrong in the code.* The player indeed passes its own reference to several components which creates some cyclic references. The DefaultTrackSelector constructed in SimpleLivePlayer.playback() should have a reference to the player too, I would have expected to see this on your screenshot too. However, once you call SimpleLivePlayer.release(), the player instance is nu

[2022-08-08 12:48] vishnuchilakala commented on #10304
Hello @rrfrias !
Were you able to find any clues from the provisioning server side?

[2022-08-08 12:54] lsgfly opened #10509 "How should I set up the cache when I don't know if it's live or not."
When play the hls , I use  CacheDataSource.Factory. Because I hope that I can use media cache when it is not live.

When the video is live, only a short segment can be played. I think it should be the reason that m3u8 is already cached.

now how should i handle it.

[2022-08-08 18:00] stevemayhew commented on #10445
@icbaker I promised to keep you in the loop, our reseller worked with SEI/AMLogic to get a version of their firmware that "fixes the issue".   There is no change required to codec settings, it simply stops frame doubling the NTSC (drop 30 FPS) content.  In my testing its only drop 30 at 1080p (1080@29.97).

Here's the feedback from our vender as well as my explanation back to them as to what is ha

[2022-08-09 05:57] hanlareum commented on #10508
I called GC of Android studio Profiler after SimpleLivePlayer.release().
But SimpleExoPlayer still remains.

* I will consider to your suggest about shared instance of ExoPlayer.

[2022-08-09 06:02] hanlareum commented on #10508
I found one more things.
Same number of PlayerBase as SimpleExoPlayer instance remains.
What is PlayerBase$PlayerBaseWrapper instance?

<img width="1445" alt="스크린샷 2022-08-09 오후 2 58 17" src="https://user-images.githubusercontent.com/6751983/183575870-6c1de834-178f-4c38-9ef3-12d87fc270e1.png">

[2022-08-09 09:12] christosts commented on #10508
PlayerBase is a component of the Android platform. ExoPlayer does not use PlayerBase component directly. AudioTrack extends PlayerBase so what is being displayed could be the AudioTrack instances. AudioTrack instances are released with some delay (in background thread) after the player is released.

Can you please share some additional information?
- What version of ExoPlayer are you using?
- How

[2022-08-09 13:59] BucherTomas opened #10510 "Ad playback stuck after media timeouts"
### ExoPlayer Version

2.15.1

### Devices that reproduce the issue

Any that we have tested.

### Devices that do not reproduce the issue

n/a

### Reproducible in the demo app?

Yes

### Reproduction steps

1. Add the following content in media.exolist.json and play it:
`[
  {
    "name": "Sample",
    "samples": [
      {
        "name": "VMAP",
        "uri": "https://storage.googleapis.com/ex

[2022-08-09 14:57] BucherTomas commented on #10510
Actually, looks like the same circumstances already mentioned in https://github.com/google/ExoPlayer/issues/10494 . Here you have at least a VMAP to test with that will trigger those 402 timeouts.

[2022-08-09 15:38] Jerinji2016 commented on #10271
Im using exoplayer to play a video in an activity,
Every time I rotate the device the playerView is also rotated, before the video could load a black background is shown.
This seems to look odd. The issue mainly seen in lower end devices like zebra and motorola.

I gone through the package and seems like an xml is setup for background for the playerView and the default color for that is black. Cou

[2022-08-09 21:49] rrfrias commented on #10462
The [encryption cipher mode](https://developer.android.com/reference/android/media/MediaCodec.CryptoInfo#mode) is specified twice, once in the license and a second time when [MediaCodec#queueSecureInputBuffer](https://developer.android.com/reference/android/media/MediaCodec#queueSecureInputBuffer(int,%20int,%20android.media.MediaCodec.CryptoInfo,%20long,%20int)) is called. Exoplayer specifies this

[2022-08-09 22:45] OxygenCobalt opened #10511 "Backing the ExoPlayer playlist with another datatype"
My app does not leverage the typical ExoPlayer media datatype, `MediaItem`, as it tends to be too restrictive for my use. Instead, I have my own datatype (`Song`) that can be transformed into a `MediaItem` for use in ExoPlayer. By extension, I have my own data structure for the queue (or "playlist") in my app that is also composed of `Song` instances.

I've been trying to leverage the ExoPlayer pl

[2022-08-09 23:21] rrfrias commented on #10304
Thanks for the csv of devices that had provisioning errors. I was not able to find a number of them. It might be that make, model registered by OEMs on some devices does not match the model name you shared.

For the devices i was able to find information for we found that many of the errors are due to invalid or all zero device information in the provisioning request. It seems like these devices s

[2022-08-10 02:11] rrfrias commented on #10124
Sorry for the delay. Looking through the bugreports that you shared it appears to be a decoder issue. Here is the one from Samsung Galaxy Z Fold2 5G SM-F916B.zip

[code]

If you share a license URL we work with Qualcomm (who supplies the SoC) to investigate. In the past issues like this have been related to a bug or issue triggered by a particular encoding configuration. Since it is possible that

[2022-08-10 02:15] rrfrias commented on #10124
Internal ref: 241996979

We would also like your permission to share the bugreports you shared with us, with Qualcomm.

[2022-08-10 06:49] kshailes94 commented on #9553
can we do anything other than increasing buffer size as increasing buffersize harms video start duration? @tonihei

[2022-08-10 06:54] hanlareum commented on #10508
Version Information is below,
1. Android version is 10.
2. ExoPlayer version is 2.16.1.

And test scenario is below,
1. [ SimpleLivePlayer.playback() -> SimpleLivePlayer.stop() ] x 10
2. SimpleLivePlayer.release()
3. Click GC button of Android Studio Profiler.
4. Then capture memory heapDump after 5~6 seconds.

[2022-08-10 09:39] Tolriq commented on #10502
@icbaker Is there some docs published (apart from the standard Javadoc) about extractors and writing our own?

Got more and more request to support DSD / DSF so I think I'll have to write a DSF extractor and might look too at this Ogg multitrack issue, but don't really know where to start about the link between extractors and track counts / selection.

[2022-08-10 09:40] tonihei commented on #9553
The maximum buffer size is completely independent from the delay until video starts as playback can start as soon as `DefaultLoadControl.minBufferForPlayback` is filled.

[2022-08-10 09:50] SaurabhOfficial opened #10512 "Blacklisting resolution layers support for Renderer Errors"
### [REQUIRED] Use case description
Describe the use case or problem you are trying to solve in detail. If there are
any standards or specifications involved, please provide the relevant details.

Having blacklisting support for renderer errors as well, in addition to IOExceptions currently, i.e for e.g if we get Output protection error during playback for 1080p layer we should continue playing th

[2022-08-10 11:00] BucherTomas opened #10513 "MediaCodecRenderer crash on Pixel 2 when querying DRM keys"
### ExoPlayer Version

2.15.1

### Devices that reproduce the issue

Pixel 2 on Android 11

### Devices that do not reproduce the issue

all tested Huawei models
all tested Samsung models
Motorola Moto X Play
Redmi Note 10 5G on Android 12 (it does on Android 11)

### Reproducible in the demo app?

Not tested

### Reproduction steps

The circumstances require additional player logic that parses us

[2022-08-10 13:16] tonihei commented on #10494
Assuming this is the same issue as #10510 and closing as duplicate.

[2022-08-10 13:16] #10494 closed, assigned to tonihei

[2022-08-10 15:33] christosts commented on #10508
I kind of copied your code and gave it a try but don't see the player instance being kept in memory. I am trying with 2.18.1. Will you be able to upgrade to the latest version and try again?

[2022-08-10 15:37] christosts commented on #10512
Will you please write a description with what exactly you are requesting?

[2022-08-10 15:46] christosts commented on #10509
I have not tested this but I don't think it is straightforward or even possible. If the content is live, it's likely that the playlist contains date information, therefore the segments are stale/expired quite soon after they are being played.

@marcbaechinger are you aware if the player can play cached live streams?

[2022-08-10 22:53] sam-murphy55 opened #10515 "StyledPlayerView alpha issue"
### ExoPlayer Version

2.18.1

### Devices that reproduce the issue

Samsung S9 (Android 10)
Samsung S10 (Android 12)

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

No

### Reproduction steps

I am trying to make a UI where a video is playing in a `StyledPlayerView` which fades out when the user scrolls down. However I noticed that the moment I chan

[2022-08-10 23:11] Leonidos commented on #7789
We want this feature )

[2022-08-10 23:31] OxygenCobalt opened #10516 "Improve support for custom float audio processors"
###  Use case description
My app is a music player with many audiophile users. These users tend to use very high-quality lossless audio that can have bit rates in the megabytes and usually output large samples like 32-bit or Float PCM. However, ExoPlayer's functionality for rendering this high quality audio `enableFloatOutput` is severely lacking for two reasons:

1. I cannot use `AudioProcessor`

[2022-08-11 00:28] akrulec commented on #9823
I'm running into the same issues. Any resolution? Thank you

[2022-08-11 07:38] #10515 closed, assigned to andrewlewis

[2022-08-11 07:42] rrfrias commented on #9968
Thanks! This is very helpful. We are looking into it.

[2022-08-11 08:24] andrewlewis commented on #10515
As this is closed maybe you solved the issue already, but if not I would try setting the `surface_type` attribute of the view to `texture_view`. Making a `SurfaceView` translucent doesn't work because they are rendered differently from most views, whereas `TextureView` has an extra level of indirection that means it works like a "normal" view.

[2022-08-11 08:44] tonihei commented on #10510
Thanks for the excellent reproduction steps!

It seems the IMA SDK gets stuck and doesn't issue the expected callbacks any more. In fact, this seems to be caused by *not* timing out after the configured media timeout. We reported the issue to the IMA SDK team and will also provide a workaround in ExoPlayer that times out in this situation to ensure playback is unstuck.

[2022-08-11 10:27] JohnGeorgiou opened #10517 "Change a custom tag of media item"
Hi,
Building a MediaItem:
MediaItem mediaItem = new MediaItem.Builder().setUri(someUri).setTag(someTag).build();
is it possible to change the tag of the mediaItem, or do I have to replace the media item with a new one with the new tag?

thank you

[2022-08-11 11:40] christosts commented on #10511
I don't think you can do that and I would go with option 2 as you described it

The `Player.Listener` offers callbacks to figure out what's happening on the playlist (such as `onTimelineChanged()` and `onMediaItemTransition()` or the aggregate `onEvents()`) so you can listen to them and map them to your custom `Song` playlist.

It there a specific state transition that you are concerned with?

[2022-08-11 11:58] tonihei commented on #10516
In theory, `AudioProcessor` supports all types of inputs and outputs as it just works on raw byte buffers. It also has a `configure` method to indicate which format it produces based on the given input format (these formats include float, 32-bit etc). There are two issues though that make it complicated to use float audio processing at the moment:
  - There is no way to configure them as `AudioPro

[2022-08-11 13:47] lucianobargmann commented on #7789
I am very frustrated to learn that Android (which has its brand in a F1 car) does not support transparent video playback.
I am having to rework all my videos into animated gifs, with HUGE loss in quality and INSANE increase in size.

Why isn't this a relevant feature for the OS?

[2022-08-11 13:52] tonihei commented on #10368
The latest Android Studio (Dolphin | 2021.3.1 Beta 4) includes CMake 3.22.1. I assume this can be marked as fixed?

[2022-08-11 13:52] #10368 closed, assigned to tonihei

[2022-08-11 14:22] OxygenCobalt commented on #10511
I did some more thought @christosts, and the main issue comes from shuffling really. My app uses it's own shuffling logic that is something like this:
- When re-shuffling, the queue is restored to it's original state (ex. Removed items are re-added), where it is either sorted or shuffled depending on if it is on or off.
- Changing the shuffling state does not change the current track. It is either

[2022-08-11 14:33] OxygenCobalt commented on #10516
Okay, that sounds good. I'll try my hand at implementing it in a PR. Still somewhat annoying that ExoPlayer must resample regardless due to the performance issues I described. I'll probably file a bug report for that issue in particular some other time.

[2022-08-11 14:44] tonihei commented on #10516
Just for clarification: resampling is only needed when the final format is not supported by the audio track. Float output for example is directly supported and doesn't require any resampling. 24-bit and 32-bit audio is resampled to float if needed.

[2022-08-11 15:19] OxygenCobalt commented on #10516
~~You say *if needed* for 24-bit/32-bit, so it's possible for that kind of audio to also be outputted without resampling?~~

Edit: Looked into this and found that it's specific to Android 12 onwards. Okay, this all makes sense now.

[2022-08-11 15:48] SaurabhOfficial commented on #10512
okay, I will try to explain again,
so for now if we face any IO exception during loading content we can override the `getRetryDelayMsFor()` method and do any custom behavior like blacklisting the source or defining a custom delay for that particular error.
but in case of any renderer error like an output protection error, we don't have any means to blacklist the adaptive layer per se (please corre

[2022-08-11 16:33] tpuserhp commented on #10368
Hi support. Thanks for the update. Yes, this issue has been resolved and
can be closed. Thanks.

On Thu., Aug. 11, 2022, 07:53 tonihei, ***@***.***> wrote:

[2022-08-12 01:56] hanlareum commented on #10508
when i use shared player, memory increment has reduced.
and I will change exoplayer to 2.18.1, then tell you about test result.

[2022-08-12 03:10] DinhLap96 opened #10518 "Source error on MiTV EA device"
I develop an IPTV application.

The application is getting Source error on MiTV EA device, other TV series, Phones are still working.

Error Description : I use 2 "ExoPlayer " the play method is the same but :
 "ExoPlayer" on Activity gives "Source error" error but still works on that Activity's Fragment.

I don't have a MiTV EA device to test specifically, here's a snooze image.
https://drive.goo

[2022-08-12 08:19] tonihei commented on #9933
This is the recommended NDK version for the current Android Studio release (Dolphin | 20221.3.1). See https://developer.android.com/studio/projects/install-ndk#default-ndk-per-agp. Using this NDK version works well without modifications as pointed out above.

The issue only reproduces for NDK versions 23.1.7779620 and above (I tested with 25.0.8775105) and can be solved by the additional flags men

[2022-08-12 09:27] christosts commented on #10511
I'm not sure why you call this evil, sounds like the MediaItems should be added to the player anyway, but maybe I'm missing information about your app. If you don't like ShuffleOrder, you may want to try `Player.moveMediaItems()` alternatively and change the positions of already queued MediaItems.

I think this can be achieved in linear time, maybe with a few iterations over the playlist structure

[2022-08-12 09:27] #10511 closed, assigned to christosts

[2022-08-12 10:21] adamheinrich-oke opened #10519 "com.google.android.exoplayer2.ExoPlaybackException: MediaCodecVideoRenderer error"
On certain devices the playback fails with MediaCodecVideoRenderer error. Error seems to relate to the fullHD rendition which is included in manifest file. So far we excluded the 1080p quality profile and playback works. Typically one can start the first playback, and when it tries to upscale, the player crashes. Following attempts to start another playback directly fail.

I attach the logs from

[2022-08-12 13:35] OxygenCobalt commented on #10511
Yeah, I think that's the best solution overall. I just assumed it would be quadratic (or close-to quadratic) since I would have to do something like:

[code]

Which means I'm iterating through a larger list for each song in a smaller list. Maybe I'm wrong though. I do know however that I could optimize away trivial operations like moves and removals without having to run this routine.

[2022-08-12 13:42] christosts commented on #10511
For the fun of it(!), I'm almost certain you don't have to call `indexOf()` in the for-loop, which would cause the quadratic complexity. You could store 2 maps that map item-to-position (or position-to-item) for before and after the shuffle (needs two iterations), and then find for each item find its previous and new position with look-ups on the maps. This obviously comes with the cost of extra s

[2022-08-12 16:51] christosts commented on #10517
MediaItem is immutable. May I ask what you're trying to achieve? There may be functionality already in place.

[2022-08-12 17:00] christosts commented on #10512
Have you looked at the [Track selection](https://exoplayer.dev/track-selection.html) documentation how to customize it. You should be able to remove a video track from being selected.

[2022-08-12 17:07] JohnGeorgiou commented on #10517
I try to feed exoplayer with a list of media items.
Each media item has already a current position, Long milliseconds,  of a previous playback.

I can use a List<Long> to hold the positions , but I m thinking to pass the position info in the mediaitem as a tag, and may be some extra info too.

So, listening to a new position event, I could save the new position to the current mediaitem's tag,  sav

[2022-08-12 17:19] dino-saurabh commented on #10512
How do we know at the initialization phase if any particular video track dosent meet output protection requirements 👀

[2022-08-12 17:23] tonihei commented on #10517
I think this request is more or less the same as https://github.com/androidx/media/issues/33 and can probably be marked as a duplicate. In both cases we need to find a way to update the `MediaItem` without interrupting playback (e.g. by adding a method to `MediaSource` along the lines of `updateMediaItem` which returns whether it was possible).

[2022-08-12 17:28] christosts commented on #10512
Apologies if I wasn't clear. Track selection parameters can change after playback begins as well. From reading

I assume you want to react to rendering errors by disabling specific adaptive layers. Once those errors occur (you can attach a `Player.Listener` to get the error) you can change the track selection parameters (`Player.setTrackSelectionParameters`), disabling the specific adaptive layer.

[2022-08-12 17:40] christosts commented on #10517
I'll close this then. @JohnGeorgiou please follow the updates on the linked issue.

[2022-08-12 17:40] #10517 closed, assigned to christosts

[2022-08-12 17:45] dino-saurabh commented on #10512
Yes,  thats what I wanted to achieve @christosts , Thank you for suggesting this approach will try it out.
Happy weekend ✌️

[2022-08-12 19:06] menscikov commented on #9933
@tonihei i've noticed that you forgot to update CMake version in the AV1 extension.
But latest CMake version is giving an error, i had to use 3.18.1 for AV1.

[2022-08-12 20:45] stevemayhew commented on #10445
Also, so it's clear, the pull request https://github.com/google/ExoPlayer/pull/10468 is not needed to fix the problem, only updated firmware from SEI/AMLogic.

[2022-08-14 01:20] grp0916 commented on #10445
------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "google/ExoPlayer"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年8月13日(星期六) 凌晨4:46
***@***.***&gt;;
***@***.***&gt;;
主题:&nbsp;Re: [google/ExoPlayer] Burs

[2022-08-15 00:16] HurinSteadfast opened #10520 "MKVs from seamless branching blu-rays cause atmos audio drop outs and/or sync loss"
### ExoPlayer Version

2.18.1

### Devices that reproduce the issue

NVIDIA Shield Pro w/ SHIELD Android TV v9.1.0(33.2.0.125)

### Devices that do not reproduce the issue

- Non-Android devices (they do not use exoplayer).
- NVIDIA Shield + Jellyfin with libVLC selected as player rather than exoplayer.

### Reproducible in the demo app?

Not tested

### Reproduction steps

- Obtain NVIDIA Shield

[2022-08-15 01:20] Kunalrsk5 opened #10521 "Exoplayer keeps on buffering and doest play those videos with name starting with special characters like $##&-75#-(($#AKIN TI (LYRICAL VIDEO) ( 1080 X 1920 ) but when i rename this video file starting with alphabet ,it starts playing"
Unfortunately we can't answer all questions. Unclear questions or questions with
insufficient information may not get attention.

Before filing a question:
-------------------------

- Ask general Android development questions on Stack Overflow
- Search existing issues, including issues that are closed
  https://github.com/google/ExoPlayer/issues?q=is%3Aissue
- Consult our developer website (https

[2022-08-15 03:29] hyoromo opened #10522 "How to DELAY video and sound"
Hi,

Is it possible to make the video and sound DELAY?
If the video and audio are out of sync, I'm thinking of asking the user to manually adjust it.

[2022-08-15 03:36] FongMi opened #10523 "How to skip 404 error if the first segment has problem"
Exo Version 2.18.1

Test URL
https://yun.66dm.net/SBDM/DigimonGhostGame01.m3u8?dpvt=92251999994611210910010412146119119119

First segment has 404 error
https://s11.mogucdn.com/mlcdn/c45406/220605_0hjh9hkd669cddh62kg70bjjh3j73_1x1.png

But next segment is no problem
https://s5.mogucdn.com/mlcdn/c45406/220605_380b255j9419ddjcdf7bd9ggickd2_1x1.png

Potplayer will by pass error and keep go next segmen

[2022-08-15 07:13] DinhLap96 opened #10524 "Video signal noise"
I use Exoplayer 2.18.1 , extension-ffmpeg-release.aar
And error: video signal noise.
Video quality is quite dark viewed on some other applications and the web does not have this error.
Hope everyone can give me pit instructions to solve.
Here is the core code:

        val renderersFactory = DefaultRenderersFactory(activity.applicationContext)
            .setExtensionRendererMode(DefaultRenderers

[2022-08-15 08:33] #10518 closed, assigned to christosts

[2022-08-15 08:33] DinhLap96 commented on #10518
đóng

[2022-08-15 10:00] tonihei commented on #9933
@menscikov Thanks for the hint, we'll fix this as well.

[2022-08-15 10:41] gb103 commented on #10285
Before the MediaCodecDecoderError, below logs also come,

2022-07-15 21:38:29.850 18908-18908/com.sonyliv E/EventLogger: audioTrackUnderrun [eventTime=439.48, mediaPos=15.91, window=0, period=0, 61504, 320, 8970]
2022-07-15 21:38:31.199 18908-18908/com.sonyliv D/EventLogger: timeline [eventTime=440.83, mediaPos=7.91, window=0, period=0, periodCount=1, windowCount=1, reason=SOURCE_UPDATE
2022-07-15

[2022-08-15 11:27] tonihei commented on #9062
The log snippet above indicates a software decoder was used (`OMX.google.h264.decoder`), which would explain the performance issues.

There are three possible explanations for this:
 - There is no hardware decoder available to play these streams. This is unlikely if MediaCodec is playing the same streams fine (which indicates it was using the hardware decoder). You could confirm by looking at logs

[2022-08-15 15:10] icbaker commented on #10488
There's too much uncertainty here. If you have a stream that you know contains metadata but ExoPlayer doesn't output it, then please provide us this stream so we can take a look. Using streams where you don't know if you even **expect** ExoPlayer to output metadata puts the whole investigation on very shaky footing.

[2022-08-15 15:27] icbaker commented on #10507
`CaptionStyleCompat` contains the same properties as [`android.view.accessibility.CaptioningManager.CaptionStyle`](https://developer.android.com/reference/android/view/accessibility/CaptioningManager.CaptionStyle.html). These are also the same properties that [an end-user can customise](https://support.google.com/accessibility/android/answer/6006554).

I'm afraid we won't be adding additional prop

[2022-08-15 15:27] #10507 closed, assigned to icbaker

[2022-08-15 15:49] icbaker commented on #10513
I'm afraid it's not really possible for us to investigate without being able to reproduce the problem.

[2022-08-15 16:16] icbaker commented on #10519
The attached Huawei log file looks like a different error:

[code]

----

Can you clarify what your question is?

[2022-08-15 16:19] icbaker commented on #10445
Thanks for closing the loop with the extra info @stevemayhew, I've passed it along (or back?) to Amlogic. I'll close this issue since the Chromecast-specific issue is tracked by the internal bug I've filed.

[2022-08-15 16:19] #10445 closed, assigned to icbaker

[2022-08-15 18:17] vanniktech commented on #9647
Closing this. I've switched to media3 and with a custom implementation of `DefaultMediaNotificationProvider` I can set everything myself quite nicely.

[2022-08-15 18:17] #9647 closed, assigned to icbaker

[2022-08-15 21:26] OxygenCobalt commented on #10511
Okay, turns out that the idea I proposed doesn't really work @christosts.

I made this implementation that sort of does what I want:
[code]

But there is one crucial flaw: There can be multiple instances of the same song in a queue. For example, `MediaItem` 3 in the player could correspond to `Song` 4 and 5, and the shuffle order has no way to find which index the player is truly at based on the r

[2022-08-16 01:04] #9020 closed, assigned to icbaker

[2022-08-16 02:52] StephenGiant opened #10525 "EnableHdrEditing catch a exception"
### ExoPlayer Version

2.18.1

### Devices that reproduce the issue

Sony Xperia5 || Android 12

### Devices that do not reproduce the issue

no

### Reproducible in the demo app?

Yes

### Reproduction steps

1、enable hdrediting
2、use gleffect
3、start transform processing
4、catch a exception

### Expected result

get transformed video file

### Actual result

Caused by: java.lang.IllegalStateExce

[2022-08-16 06:06] vishnuchilakala commented on #10304
Great! Thanks a lot @rrfrias .
If you would require any information from our side, feel free to let us know so we can try to get it.