[2021-10-28 10:13] icbaker commented on #9617
This sounds like a duplicate of https://github.com/google/ExoPlayer/issues/8696 but there isn't quite enough information in the provided logcat snippet to be sure.

Can you either provide a full `adb bugreport` or look for the following output in logcat:
[code]

If it is a duplicate of that issue then you may be able to fix the problem using `MediaItem.Builder#setDrmSessionForClearPeriods(true)`,

[2021-10-28 10:40] TracyZhangLei opened #9623 "how to prevent the autoplay after setMediaItem?"
library version is 2.15.1

when a music is played to the end, then i set another music using setMediaItem,  it plays automatically which is not expected.
setPlayWhenReady(false) not work.
how can i prevent the autoplay after setMediaItem?

[2021-10-28 11:09] preetiworkplace opened #9624 "Prevent audio player recording"
I am using exoplayer to play my audio files. These audio files are paid.  I want to prevent my audio if third-party app starts recording the app using a screen recorder. I used android:allowAudioPlaybackCapture="false , also set audio capture policy but its not working.

Is there any method provided by exoplayer to achieve this?

[2021-10-28 11:10] neeluagrawal04 commented on #9602
I am playing a non-drm enabled video via mediaItem then i am getting the above exception
Sharing url on dev.exoplayer@gmail.com

[2021-10-28 11:18] marcbaechinger commented on #9592
I think I have a fix ready for parsing the playlist with the #EXT-X-RENDITION-REPORT tags before the segment/part list in the media playlist.

I tried accessing the playlist you sent in the email, but it seems like I get a HTTP/503 currently.Yesterday, it seemed to me that I was able to curl the master and a media playlist, but then got a 503 for the media segments. Now I get a `503 Service Tempor

[2021-10-28 11:22] icbaker commented on #9581
I think the information provided above should be enough for you to try this out. If it doesn't work please come back here with specific questions.

[2021-10-28 11:28] ojw28 commented on #9624
I think `android:allowAudioPlaybackCapture="false"` should be sufficient to stop a third party app capturing audio from your app. It's unclear what you mean by "if third-party app starts recording the app using a screen recorder". Please could you clarify, and provide a concrete example of an application that's able to capture your app's audio despite having set this.

It should be noted that some

[2021-10-28 11:29] jmanriquedigio opened #9625 "Why isn't an ad companion's image being displayed?"
**Exoplayer version:** 2.13.3

**Case:** I have a set of ad companions with one of them fitting the right size of my container (300x250), however, one of those other companions width and height are both empty (width="" height=""). Currently and in spite of having a right sized one, exoplayer is not showing it. I was wondering whether this was a bug or the normal behavior of the player. Furthermore

[2021-10-28 11:31] icbaker commented on #9622
You can use the non-deprecated `OfflineLicenseHelper` constructor that takes a `DefaultDrmSessionManager` instance and pass your custom `ExoMediaDrm.Provider` to [`DefaultDrmSessionManager.Builder#setUuidAndExoMediaDrmProvider`](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/drm/DefaultDrmSessionManager.Builder.html#setUuidAndExoMediaDrmProvider(java.util.UUID,com.google.android

[2021-10-28 11:32] #9332 closed, assigned to icbaker

[2021-10-28 11:33] icbaker commented on #9558
Closing on the assumption the question has been answered - if that's not the case please reply here with more info and I'll re-open.

[2021-10-28 11:33] #9558 closed, assigned to icbaker

[2021-10-28 11:46] ojw28 commented on #9623
I tried letting a playback transition to the ended state, and then calling:
[code]
It worked as expected (i.e., it did not automatically start playing). I tested this with 2.15.1.

So I cannot reproduce the issue. Please provide more concrete reproduction steps, ideally as a small patch to our demo application, if you'd like us to investigate further.

[2021-10-28 11:51] ojw28 commented on #9625
I think this is probably a question about the IMA SDK, rather than ExoPlayer. If so, please could you ask in  https://groups.google.com/g/ima-sdk/? Thanks!

[2021-10-28 11:51] icbaker commented on #9103
The team have responded regarding [internal b/197831521]. There's no immediate plan to change `c2.android.vp8.decoder` to support odd-dimensioned videos, but they may look at this in future. Of course any future change would only affect devices that pick up whatever OS update it ends up in.

They pointed out that Android doesn't generally promise to support odd-dimensioned videos in any format. Th

[2021-10-28 11:51] #9103 closed, assigned to icbaker

[2021-10-28 11:56] jrw95 commented on #9592
@marcbaechinger I will let the team know about this. Apologies for this problem.

[2021-10-28 11:59] SaurabhOfficial commented on #9622
@icbaker just one more question, is it even possible to successfully download content along with the offline keys using `OfflineLicenseHelper` and then get similar DRM-related Issues while playing the content offline, since the device's L1 security level has been revoked?
Shouldn't the device not be allowed to download the offline keys in the first place, since its L1 security level has been revok

[2021-10-28 12:07] ojw28 opened #9626 "DefaultHttpDataSource: Support additional customization"
This issue is for tracking what I think are the two concrete requests in https://github.com/google/ExoPlayer/issues/9607:

1. Ability to set a `Proxy` when opening the `HttpURLConnection`
2. Ability to set a `SSLSocketFactory` when opening `https://` URLs.

We could either add support directly into `DefaultHttpDataSource`, or make it so that application developers can easily extend `DefaultHttpDat

[2021-10-28 12:08] preetiworkplace commented on #9624
I am playing the number of the audio file. I also set Window flag Secure to achieve this. below is my sample code
[code]
When I do screen recording using third party app like Xrecorder.  On recording black window get captured but I am able to listen audio files. I have disable the screen recording .

[2021-10-28 12:15] ojw28 commented on #9607
I filed https://github.com/google/ExoPlayer/issues/9626 to track what I think are the two concrete requests in this issue.

This sounds extremely fragile to me. The socket factory you're setting is going to impact on other requests being made by code within your application, and is also subject to race conditions if some other code is also setting some other default factory. You almost certainly s

[2021-10-28 12:21] marcbaechinger commented on #9372
Is this still an issue for you?

As mentioned in the comment above, you need to make sure that you use the same streamKeys when doing plackback that you have used for downloading. If this is the case, the player never does hit the network when playing downloaded content.

From the [DevGuide](https://exoplayer.dev/downloading-media.html#downloading-and-playing-adaptive-streams):

_When building the

[2021-10-28 12:31] baiqindotfubotv commented on #9617
@icbaker Yes I see the following error before the stacktrace:

[code]

Also using setDrmSessionForClearPeriods(true) doesn't solve the issue. The difference is that without the option the crash happens right before the first midroll. With it the crash happens right after preroll.

[2021-10-28 13:11] marcbaechinger commented on #9481
In Android 11 the notification is turned into a mini player on top of the notification. If there is another media app with a media session there are multiple such mini players.

I think this is a duplicate of #8500 and/or #9275. Can you please check there?

 I close this issue. Please re-open if you think your issue is different.

[2021-10-28 13:34] icbaker commented on #9617
This is likely because the ad has different decoder requirements to the content, so the decoder has to be re-initialized when transitioning from the pre-roll to the content, even though both are secure decoders: https://github.com/google/ExoPlayer/issues/8696#issuecomment-796943180

[2021-10-28 13:34] icbaker commented on #9617
Duplicate of #8696.

[2021-10-28 13:34] #9617 closed, assigned to icbaker

[2021-10-28 13:38] marcbaechinger commented on #9426
Sorry for my late response.

To calculate the current unix time of the current position you can do

[code]

When a user seeks in the seekbar, the result is a new position within the window. So given you are listening to

[code]

you can check for `reason` being of value `DISCONTINUITY_REASON_SEEK` and then you get the `newPosition` and you can calculate the unix time by adding it to the `window.wi

[2021-10-28 13:42] icbaker commented on #9622
@rrfrias can you please take a look at this question about the specifics of widevine offline licenses on a device with revoked L1.

[2021-10-28 13:45] ojw28 commented on #9624
Xrecorder appears to just be using the device microphone to record sound. This will capture the audio being played out of the device speaker, but it will also capture all other ambient sound in the environment as well (e.g., if you talk whilst trying to reproduce this, you'll hear your own voice in the Xrecorder captured video). Similarly, if you're using headphones, you wont hear the audio that's

[2021-10-28 13:45] #9624 closed, assigned to ojw28

[2021-10-28 13:53] marcbaechinger commented on #9516
Sorry for my late response.

I don't think there is a good way to delay updating the metadata. You may want to have some placeholder values in place that are non-null and then once you have received the icy info you can call `connector.invalidateMediaSessionMetadata()`. This will update the metadata in the media session for which `getMediaDescription(Player player, int windowIndex) ` is called aga

[2021-10-28 13:59] #9616 closed, assigned to ojw28

[2021-10-28 14:20] vender98 opened #9627 "How to use "Fast forward", "Rewind" and "Seek to" commands to control playback with Google Assistant ?"
**Exoplayer version**: 2.13.1

**Case:**
I am trying to use Google Assistant to control playback in my video app for Android TV. To make my app accessible for Google Assistant commands I use `MediaSessionCompat` and `MediaSessionConnector`. The way I configure the player looks as follows:

[code]

That way some commands like "Play", "Pause", "Stop" works flawlessly. But if try to execute commands

[2021-10-28 14:57] kishan-js opened #9628 "Change ad preloading time for midroll ads"
We are working on one feature like showing ad play countdown timer for midroll ads(like Youtube). At current, as we noticed, default ad preload time is 4s. And sometime ad is getting loaded just before cue point start time. So, in such cases we are not able to show timer. So, we require to preload ad just before 8-10 seconds of cue point time. So, that we can show count down timer once ad is loade

[2021-10-28 15:43] jrw95 commented on #9592
@marcbaechinger
I've confirmed that the test stream is now available again.

[2021-10-28 16:27] yotta-raj commented on #9581
Thanks Ian. We'll take a look into the custom drmsessionmanager with our 3rd party who are looking into the implementation.

[2021-10-28 17:52] Suleiman-Ahmad commented on #9618
Okay, but please go through https://github.com/google/ExoPlayer/issues/9593. It's been several days now.

[2021-10-28 18:17] rrfrias commented on #9622
A request to download an offline license from a revoked L1 device will fail. Let us know if you are not seeing this.

[2021-10-28 18:20] dino-saurabh commented on #9622
Sure I will get back with some log captures if possible.

[2021-10-28 21:51] marcbaechinger commented on #9627
What actions can be used through the media session is defined by the actions that are advertised in the playback state of the session. By default (like your snippet above) the `MediaSessionConnector` advertises the following actions:

[code]
If in addition a `TimlineQueueNavigator` is added the actions `ACTION_SKIP_TO_PREVIOUS` and `ACTION_SKIP_TO_NEXT` are advertises in the same way.

Apps that h

[2021-10-29 01:04] #9508 closed, assigned to claincly

[2021-10-29 05:59] Suleiman-Ahmad commented on #9593
I told you guys I'm stuck but I still don't know why you're ignoring me. Please tell me something.

[2021-10-29 06:34] dubeyabhijeet commented on #9552
Thanks! Its working.

One more help needed. Is there any open source for secure video content?

[2021-10-29 06:43] cosmo321 commented on #8435
@sixones I would've loved to see some more information about that in one of the relevant threads on the Plex forums. Proper ASS support is so long overdue I can't even.

[2021-10-29 06:44] dubeyabhijeet commented on #9552
I mean link which i can add in json to stream secure videos

[2021-10-29 07:07] chladto1 commented on #9607
@ojw28 Yes, I agree, overriding `DefaultHttpDataSource.open(DataSpec)` can be very fragile and better would be to override `DefaultHttpDataSource.openConnection(URL)` and set `HttpsURLConnection.setSSLSocketFactory(SSLSocketFactory)` but this method cannot be overridden in the current implementation.

[2021-10-29 07:48] ojw28 commented on #9593
We will look at your issue when we have time to do so. Until then, please stop spamming the issue tracker. Thanks.

[2021-10-29 08:10] ojw28 commented on #9552
The DRM systems supported across Android devices are Widevine and ClearKey. They have different characteristics, including the level of security they're able to offer. You'll need to do your own research into this. Thanks!

[2021-10-29 08:10] #9552 closed, assigned to claincly

[2021-10-29 08:22] tapow commented on #9571
@tonihei thanks for your reply. But, some movie are playing but some are doesn't. If it is the build issue then none of the movie should play. Also, I noticed some time play in debug mode but when create signed build the same movie url doesn't play.. This is something not able to find the root cause... We check progaurd and all setting but could not find any issue with that.

[2021-10-29 09:55] marcbaechinger commented on #9468
You can add custom actions to the list returned by `createCustomActions()` and then decide which to use when `getCustomActions(Player)` is called each time the state of the player changes or you manually call `invalidate`.

However, like you say, this does not help  for the case when the actions arrive late because you can not add more actions once `createCustomActions()` has been called in the co

[2021-10-29 10:36] vender98 commented on #9627
@marcbaechinger thanks for your explanation.

So answering to your questions:

I have tested a various combinations, including those that specifies a duration – "Fast forward", "Fast forward 30 seconds", "Rewind by 30 seconds", etc. Each one has the same result – "Sorry, I can not do this on this App".

I was trying to test on Nvidia Shield with Android 9.0, also on Sony Bravia 4K UR3 with Android

[2021-10-29 10:49] szaboa commented on #9608
@ojw28 We can't really provide a clear sample stream easily, however we have found a solution that we can apply on our forked version. You can see the change in the linked pull request, feel free to give us a feedback on that.

[2021-10-29 11:05] marcbaechinger commented on #9627
The only thing what comes to mind is that the media needs to be seekable to make the `MediaSessionConnector` advertise the seek actions. If it is not seekable seeking does not work, but not only via Assistant I'd think.

Two other things come to mind for further investigation:

1) Can you deploy your app and while the app is playing do

[code]

This will show the state of the media session includi

[2021-10-29 12:22] marcbaechinger commented on #9592
Thanks! I was able to play your stream.

[2021-10-29 12:22] #9592 closed, assigned to marcbaechinger

[2021-10-29 12:56] vender98 commented on #9627
1. The output of
[code]
during the playback in my app is as follows:
<details>
  <summary>Output</summary>
MEDIA SESSION SERVICE (dumpsys media_session)

7 sessions listeners.
Global priority session is null
User Records:
Record for full_user=0
  Volume key long-press listener: null
  Volume key long-press listener package:
  Media key listener: null
  Media key listener package:
  Callback: andro

[2021-10-29 12:58] ojw28 commented on #9593
You have not shared the video with `dev.exoplayer@gmail.com`. Please do so so that we can access it.

[2021-10-29 13:26] christosts commented on #9408
There's no mechanism in the player at the moment to inform the app what seeking strategy to use, or an API to inform apps of the seeking capabilities of a file.

You could proactively enable both options (index-based and constant bit-rate seeking) in the DefaultExtractorsFactory. However, for MP3 files, if both options are enabled, then index-based seeking will be applied, with the caveats describ

[2021-10-29 13:41] vender98 commented on #9627
@marcbaechinger
I found the problem.
I forgot to set the session active by
`mediaSession.isActive = true`.

As a results some commands, like "Pause", "Play", "Stop", worked correctly. And at the same time, commands like "Fast forward", "Rewind" – didn't.

Thank you for your help !

[2021-10-29 13:42] #9627 closed, assigned to marcbaechinger

[2021-10-29 14:14] ryanheise commented on #9408
Thanks, @christosts . I'm glad there is an idea for a long term solution that's perhaps more ideal, although it would be good to also have a short term, cheap workaround.

Looking on StackOverflow, there is an answer suggesting how an app could monitor the bitrate:

https://stackoverflow.com/a/32135909/13949389

But to then make use of this information, we would need to be able to lazily/dynamical

[2021-10-29 14:25] jrw95 commented on #9592
@marcbaechinger Thanks for fixing this so quickly.
If I could ask a couple questions:
1. I was hoping to see this working in the dev-v2 demo, but attempting to install that demo onto a device failed with this Android Studio error (this doesn't happen when installing the release-v2 version of the demo):
[code]
2. Is it possible to get an estimated release timeframe for this fix?

Thanks again.

[2021-10-29 15:30] christosts commented on #9510
As of 2.15.0, the concept of `isMasterTimestampSource` has been removed so that audio playlists with a different #EXT-X-DISCONTINUITY-SEQUENCE are not stuck. In your report you say that the issue was observed in 2.14.1 and 2.15.1, but it shouldn't happen in 2.15.1. I wonder if it's another bug, or 2.15.1 did not fully addressed the problem.

However, since the issue is not reproducible at the mome

[2021-10-29 15:30] #9510 closed, assigned to christosts

[2021-10-29 15:39] xixinewbie opened #9629 "ArrayIndexOutOfBoundsException at at com.google.android.exoplayer2.extractor.mp4.AtomParsers.parseVideoSampleEntry"
A error occured when i try to play a local video with 2.15.1 SimpleExoPlayer, i provided the video and the full stack info is below:

https://user-images.githubusercontent.com/15622538/139463399-6c1f628a-62d3-45cd-9aed-0d4832312240.mp4

[code]

[2021-10-29 15:41] christosts commented on #9507
I can reproduce the issue when converting the files from mp4 to ts. The ffmpeg version reported is `4.4-6+build1`. I can also verify that converting the 7.1 audio file to `mkv` works fine.

I did notice in the provided logs (and on my tests) that the audio format is not 8 channels. Instead, there are constant format switches between 6 and 4 channels. In the MP4 and MKV containers, there's one audi

[2021-10-29 16:26] icbaker commented on #9629
Looks like a duplicate of https://github.com/google/ExoPlayer/issues/9332. The provided video fails with the posted stack trace before 39639f8df0f6fe0b8acadf1fbec1b38ed6e20988 and plays successfully after it.

Out of interest, what device did you use to produce this video? I believe its HDR info (`colr` box) is invalid (details in https://github.com/google/ExoPlayer/issues/9332#issuecomment-909474

[2021-10-29 16:26] #9629 closed, assigned to icbaker

[2021-10-29 16:43] marcbaechinger commented on #9592
Looks like gradle JDK needs to be to Java 11. You can configure this in File > Settings. Then search for gradle where you can select the JDK used by gradle.

The fix will land in the next release. I think this will happen approximately within the next two weeks or so.

[2021-10-29 16:48] alitele commented on #9516
Thanks a lot , i will try this 👍

[2021-10-29 17:08] xixinewbie commented on #9629
The error occuerd on   Huawei mate20pro， its android 10.  I will make a test on all my devices.

[2021-10-29 17:14] kmrinmoy07 commented on #9481
Hi @marcbaechinger , this is not the case that you have said. I am already aware of the changes in Android 11 for music playback notification and it is not the duplicate of the mentioned issues.

In my case the notification is visible initially but later on, only in some cases under some certain condition the notification automatically gets hidden even if the user has not done anything with it and

[2021-10-29 17:39] christosts commented on #9507
@kim-vde will you be able to assist? I'm investigating whether there's an issue with the Ac3Reader or not.

As reported, this issue is about re-muxing an mp4 file containing 7.1 audio to a `ts` container with `ffmpeg` (link of the mp4 is at the issue description):
[code]
When playing the created `ts` file on a device that supports multichannel audio, I see that every second read the audio renderer

[2021-10-29 19:45] Weevild commented on #8435
@cosmo321 Indeed. It's the sole reason I switched over to Emby, because my content would always get transcoded due to the lack of support. I've been waiting on a progress-update.

[2021-10-29 20:41] marcbaechinger commented on #9481
Each time the state of the player has changed, a new notification is posted to reflect the new state. That is probably what you observe when the notification reappears.

Difficult to say with the available information. It is possibly related to the life cycle of the service in which you have the player and the notification manager. This is a guess and probably a long shot but that is what I would

[2021-10-30 06:24] Suleiman-Ahmad commented on #9593
The file wasn't public but now it is. Play it locally and you'll see the issue

[2021-10-30 12:24] sajjadshahbazi opened #9630 "Error OMX.MS.AVC.Decoder"
i when playing movie get this error in some tv devices :

[OMX.MS.AVC.Decoder] setPortMode on output to DynamicANWBuffer failed w/ err -1010

this error mostly while exoplayer release and renew then play new file

[2021-10-30 12:26] sajjadshahbazi commented on #9630
exoplayer version : 2.14.1

[2021-10-31 11:37] majdalden opened #9631 "Some videos are not working"
Why this video is not working on ExoPlayer?

https://drive.google.com/file/d/1hGHRzfKNQlu1WVVVsDeDk8hD4lEnsExn/view?usp=sharing

but this is working

https://drive.google.com/file/d/1YlAc9LJcCR9U0G-gkE33qgoxeI2VbXZd/view?usp=sharing

This problem happened on google pixel or emulator only but work on normally on Samsung, Xiaomi etc

Could there be a difference between them?

Note: I fetch vides fro

[2021-11-01 01:04] #9502 closed, assigned to krocard

[2021-11-01 09:06] hbungshin opened #9632 "HLS Adaptive Streaming logic related question."
I have a question about HLS Adaptive Bitrate Streaming logic.
For example, if the HLS Manifest (master file) is configured as follows
In a bad network environment (150~300 kbps), it doesn't seem to go down to the lowest aac audio track, is this correct?
In this case, is there a way to make it work as an audio track?

please answer about my question.
#EXTM3U
#EXT-X-VERSION:3
#EXT-X-STREAM-INF:CODEC

[2021-11-01 09:07] tonihei commented on #9580
I used the second way (with `MediaItem`) when testing the file and it didn't work. So I think the problem occurs in both cases.

[2021-11-01 09:12] MohsenNaderzadeh opened #9633 "Bug on Fast forward and seeking to the specific position of encrypted video"
Hi guys, I'm using the ExoPlayer library for playing an encrypted video by AES Algorithm and CRT mode.
I Implemented a new custom ExoPlayer DataSource for playing that. Everything is ok, but in some videos when we change the seek bar position very fast, sometimes video playing gets paused and this Exception is thrown but there is no application crash.
Note: when I close the player activity and sel

[2021-11-01 09:59] a-blekot commented on #9586
**C.VIDEO_SCALING_MODE_SCALE_TO_FIT_WITH_CROPPING** - this option does not work for Samsung Galaxy S21 Ultra

We have added **if_samsung** condition in our code =))
[code]

[2021-11-01 10:00] sojolrana opened #9634 "How to make RadioButton instead of CheckBox in change quality of video source over player"
I want to know that how can I use RadioButton instead of CheckBox when I change the quality of video in Exoplayer

[2021-11-01 10:40] claincly commented on #9614
The player drops the formats that it cannot play and plays the playable formats only. In your case, G711 will be automatically dropped and the player should start playing video only.

Please comment if that's not the case.

[2021-11-01 11:11] icbaker commented on #9597
Does the problem occur when playing the video **without** the animated overlay?

Please provide a [minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-example) that demonstrates the problem in a way that we can build locally.

This could be an Android Studio project on GitHub, or zipped up and sent to dev.exoplayer@gmail.com using a subject in the format "Issue #1234"

[2021-11-01 11:36] icbaker commented on #9620
The code snippet you've provided seems slightly confused.

You are instantiating 4 `DataSourceFactory` instances:
* `httpDataSourceFactory`
* `defaultDataSourceFactory` with `baseDataSourceFactory = httpDataSourceFactory`
* `cacheDataSourceFactory` with `upstreamDataSourceFactory = httpDataSourceFactory`
* `mediaDataSourceFactory`

You don't appear to be using `defaultDataSourceFactory` nor `media

[2021-11-01 11:43] icbaker commented on #9630
Please provide more information:

* Precisely what devices and OS versions do you see this on?
  * It sounds like you've also found some devices where this log line does **not** appear - please also list these devices and OS versions.
* What's the user-visible impact when this log line appears? (a screenrecording might help here)
* Are you able to reproduce the problem using the [ExoPlayer demo ap

[2021-11-01 11:53] jiaoya opened #9635 "2.15.1 : May I ask why there is: ArrayIndexOutOfBoundsException. How can i solve"
2021-11-01 19:34:45.158 18922-20723/com.xier.bckid E/LoadTask: Unexpected exception loading stream
      java.lang.ArrayIndexOutOfBoundsException: length=157; index=157
        at com.google.android.exoplayer2.util.ParsableByteArray.readUnsignedByte(ParsableByteArray.java:233)
        at com.google.android.exoplayer2.extractor.mp4.AtomParsers.parseVideoSampleEntry(AtomParsers.java:1203)
        at

[2021-11-01 12:08] a-blekot commented on #9586
* we are using SurfaceView

[2021-11-01 12:14] icbaker commented on #9635
Looks like a duplicate of https://github.com/google/ExoPlayer/issues/9332.

If you'd like us to confirm for certain please provide the media we can use to reproduce. Please either upload it here or send to dev.exoplayer@gmail.com using a subject in the format `Issue #1234` (where `#1234` should be replaced with this issue number.) Please also update this issue to indicate you’ve done this.

[2021-11-01 12:14] #9635 closed, assigned to icbaker

[2021-11-01 12:19] ojw28 commented on #9593
The file contains incorrect track durations. In particular, it claims the video track is 22 hours long, and that the audio tracks are each 44 hours long. You can also see this incorrect information if you load the video you've provided into `https://gpac.github.io/mp4box.js/test/filereader.html`:

![Screenshot 2021-11-01 at 12 16 57](https://user-images.githubusercontent.com/7881572/139670224-c738

[2021-11-01 12:19] #9593 closed, assigned to ojw28

[2021-11-01 13:38] icbaker commented on #9633
Given you're using a custom `DataSource` implementation, it's possible there's a bug in that. Can you try setting up a subclass of [`DataSourceContractTest`](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/testutil/DataSourceContractTest.html) to see if it spots any problems with your implementation (perhaps obvious note: if all these tests pass, it doesn't necessarily guarantee

[2021-11-01 13:53] icbaker commented on #9632
Just to confirm what you're expecting to happen: You want the player to swich from the `BANDWIDTH=768000` rendition (which contains both audio & video content) to the `BANDWIDTH=128000` rendition (which contains only audio)?

I don't think your playlist is expressing that, and I'm not sure HLS supports that directly.

The [spec](https://datatracker.ietf.org/doc/html/draft-pantos-http-live-streamin

[2021-11-01 14:00] icbaker commented on #9632
My previous comment was wrong - it looks like this is a duplicate of https://github.com/google/ExoPlayer/issues/545.

[2021-11-01 14:00] #9632 closed, assigned to icbaker

[2021-11-01 14:15] icbaker commented on #9634
Assuming you're asking about the UI built by [`TrackSelectionDialogBuilder`](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/ui/TrackSelectionDialogBuilder.html), you can switch from checkboxes to radio buttons by passing `false` to [`setAllowAdaptiveSelections`](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/ui/TrackSelectionDialogBuilder.html#setAllowAdaptive

[2021-11-01 14:15] #9634 closed, assigned to icbaker

[2021-11-01 14:28] ojw28 commented on #9408
If there's no better way to determine whether an MP3 file is CBR or VBR, other than to scan through every frame, then I think that proactively enabling both options as @christosts suggested is the best that can be done here.

The only other suggestion I can think of is that perhaps index seeking could heuristically detect "probably constant bitrate" after it's scanned some portion of the file and

[2021-11-01 14:48] ojw28 commented on #9608
I'm not sure, but that commit doesn't seem to make much sense to me. I don't understand why you'd want to set `primaryExtractorTrackType = C.TRACK_TYPE_VIDEO` for an audio only stream.

Can you provide a DRM protected stream easily, even without the corresponding DRM server information? I'm not sure, but I suspect that the tracks are determined before the player needs the DRM keys, so that might b

[2021-11-01 14:49] icbaker commented on #9631
Playing the working video in the demo app I see it only contains a video track and no audio track:
[code]

Playing the non-working file in the demo app shows it includes both audio and video tracks:
[code]

I see the following error when playing this file in version 2.15.1 of the ExoPlayer demo app on a Pixel 5:

[code]

The error indicates that the device's MP3 decoder doesn't think the MP3 conte

[2021-11-01 14:49] #9631 closed, assigned to icbaker

[2021-11-01 15:18] majdalden commented on #9631
But all the videos are without sound
The sound doesn't important too much

how to disable the audio track in ExoPlayer?

[2021-11-01 15:19] ProtoScott opened #9636 "Memory Usage Problem"
We're having a problem with a Sony Xperia phone that is causing the display to glitch out when ExoPlayer goes over 256MB of memory usage for the GPU (when playing encrypted content).

Is there a way for us to limit the GPU memory usage to 256MB or less?

- ExoPlayer version number
2.14+
- Android version
11/12
- Android device
Xperia 1 MK III

[2021-11-01 15:21] aungxinmoe opened #9637 "seekbar time not correct"
player show  video time wrong and seekbar not correct time.

[2021-11-01 15:26] kmrinmoy07 commented on #9481
Hi @marcbaechinger earlier I also thought may be it is an issue with my service lifecycle but the audio still continues playing even after the notification disappears and since notification and audio player are of the same service so I believe may be it is not due to service lifecycle.
But still as you suggested me, I believe that I must try putting log and on service's lifecycle & in notification

[2021-11-01 15:26] icbaker commented on #9631
You can do so by customising the `TrackSelectionParameters`: https://exoplayer.dev/track-selection.html

Specifically, you can find the index of the audio renderer by looping through calls to [`ExoPlayer#getRendererType`](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/ExoPlayer.html#getRendererType(int)) from 0 to [`ExoPlayer#getRendererCount`](https://exoplayer.dev/doc/referenc

[2021-11-01 15:27] icbaker commented on #9631
If you don't want sound in any of these videos it seems preferable to re-mux them and remove the invalid audio track completely.

[2021-11-01 15:36] icbaker commented on #9637
Hi! Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md). If you're unable to share [bug reports](https://developer.android.com/studio/debug/bug-report) or test content publicly, please send them to dev.exoplayer@gmail.com using a subject in the format `Issue

[2021-11-01 15:45] aungxinmoe commented on #9637
Video Duration not set correctly (exoplayer2)

player show video time wrong and seekbar not correct time forward.Example video real time is 52:01 but seekbar and time show 32:02.

ExoPlayer version number
2.15.1
Android version
9
Android device
Mi Note 3

[2021-11-01 15:47] icbaker commented on #9637
Please provide media we can use to reproduce this problem in the [ExoPlayer demo app](https://exoplayer.dev/demo-application.html). Please either upload it here or send to dev.exoplayer@gmail.com using a subject in the format `Issue #1234` (where `#1234` should be replaced with this issue number.) Please also update this issue to indicate you’ve done this.

[2021-11-01 16:06] aungxinmoe commented on #9637
i send email to dev.exoplayer@gmail.com

[2021-11-01 16:29] icbaker commented on #9637
I can reproduce the issue in the 2.15.1 demo app by directly playing the URL provided. When playback reaches 32:02 it continues past that point.

I'd like to get a local copy of the video in order to inspect it using https://gpac.github.io/mp4box.js/test/filereader.html. However when I try and download this file in Chrome it hangs at 8MB (of 517MB) and when I `curl` it the connection is closed aft

[2021-11-01 16:45] aungxinmoe commented on #9637
i replied resend link your email.

[2021-11-01 16:47] sojolrana commented on #9634
@icbaker Thanks for your response. Look at the image, which I mean
![IMG_20211101_224445](https://user-images.githubusercontent.com/48207446/139708401-5b9e605d-27fd-436c-a76f-cf214a71e7b8.jpg)

[2021-11-01 16:49] icbaker commented on #9634
The left hand screenshot looks like the UI that `TrackSelectionDialogBuilder` produces, so my answer above should apply.

[2021-11-01 16:51] icbaker commented on #9637
The new link returns an HTTP 404 error.

[2021-11-01 16:52] sojolrana commented on #9634
I want to know, how can I turn that UI with the right-hand screenshot?

[2021-11-01 17:00] aungxinmoe commented on #9637
i replied again new link.

[2021-11-01 17:13] icbaker commented on #9637
This is the same issue as https://github.com/google/ExoPlayer/issues/9593. See screenshot attached, and compare to the screenshot and analysis by @ojw28 in https://github.com/google/ExoPlayer/issues/9593#issuecomment-956186528.

The 32:02 number is coming from the media, so closing as 'bad media'.

![Screenshot 2021-11-01 at 17 10 50](https://user-images.githubusercontent.com/1279752/139711783-292

[2021-11-01 17:13] #9637 closed, assigned to icbaker

[2021-11-01 17:31] AquilesCanta commented on #9621
The ExoPlayer build system is host-agnostic. The host-dependency stems from the NDK, which needs a host to be specified. The current possible hosts are documented here: https://developer.android.com/ndk/guides/other_build_systems. I believe `darwin-x86_64` should just work. Is that not the case? Is this a concrete issue or are you anticipating the possiblity of the build not working?

[2021-11-01 17:47] menscikov commented on #9621
I don't own MacBook with M1 yet, but i think that it won't build with "darwin-x86_64", because new Apple chip is totally different from Intel.
It's "ARMv8.4-A" according to [Wikipedia](https://en.wikipedia.org/wiki/Apple_M1).

Android NDK for M1 is not available yet also.
It is possible to use Android NDK (darwin-x86_64) only with Apple emulator "Rosetta 2".

Maybe someone already had experience c

[2021-11-01 18:05] AquilesCanta commented on #9621
There's nothing for us to do here, until we know for certain it doesn't work. It's worth tracking https://github.com/android/ndk/issues/1299, too. If someone has issues building the extensions in a new mac, we can reopen this.

[2021-11-01 18:05] #9621 closed, assigned to AquilesCanta

[2021-11-01 19:10] adesentenac opened #9638 "Gradle task generateCombinedJavadoc fails"
Running `./gradlew generateCombinedJavadoc` fails with the following error:
[code]

This happens on ExoPlayer tags r2.15.1 and r2.15.0 (it was working in r2.14.2), it also fails in the dev-v2 branch.

[2021-11-01 19:26] jmach314 commented on #9232
@ojw28 It has been a couple weeks since the last update, anything new to report? Thanks.

[2021-11-01 22:52] ooyellow58 commented on #1488
AquilesCanta commented on Nov 20, 2019
As per #1488, this type of files is not yet supported. Forking TS extractor to support them should be relatively easy. Please track #1488 for support.

If it is easy, why there is no progress along the line after so many years?

[2021-11-01 23:15] ooyellow58 opened #9639 "Diff from adding the M2TsExtractor to ExoPlayer 2."
Diff from adding the M2TsExtractor to ExoPlayer 2.

[Add M2TsExtractor to ExoPlayer 2.diff.zip](https://github.com/google/ExoPlayer/files/595671/Add.M2TsExtractor.to.ExoPlayer.2.diff.zip)

_Originally posted by @Avetri in https://github.com/google/ExoPlayer/issues/1488#issuecomment-261041447_

[2021-11-01 23:17] ooyellow58 commented on #9639
How to convert this diff file into java classes?

[2021-11-02 01:04] #9521 closed, assigned to andrewlewis

[2021-11-02 01:52] Clement-Jean opened #9640 "Switching between MediaSource at runtime"
As I am developing an application that is Offline first (user can download the videos) I want to be able to do the following at runtime:

[code]

The cookies here mention the signed cookies I'm getting beforehand. The problem that I have now is that I'm building the playlist by adding `MediaSource` depending on the `MediaItem` URI. This is not optimal for two reasons:

- I might be building the pl

[2021-11-02 03:08] ryanheise commented on #9408
I want to make sure I understand this: does that mean enabling both for an MP3 file is equivalent to just enabling index-based seeking alone because in either case, index-based seeking will inevitably be applied regardless of the other option being enabled?

Or is it instead the case that if you seek beyond the tip of where the index-based seektable has so far been generated, it will then fall bac

[2021-11-02 04:01] DorisGM opened #9641 "ADTS Video can‘t play ，sometime have audio but no picture"
I use the offical demo to play a video.  No picture but have audio.  There haven't any obviously exception throw at logcat .
It play normally with AndroidPlayer and VLC.
##### The test environment:
- ExoPlayer version : 2.15.1
- Android version:  7.1
- Android device : Allwinner H6

The log at below:
[code]

[2021-11-02 04:06] DorisGM commented on #9641
By the way , I  already send the ts file to  dev.exoplayer@gmail.com. Please check it. Thanks.

[2021-11-02 04:44] Jaydipnathani commented on #9396
Please help me with how to fix this issue. @christosts @ojw28 @marcbaechinger @andrewlewis

**I think this issue is not a device-specific issue. Many devices have issues.**

[2021-11-02 07:32] kalpeshat20 commented on #9554
am using version 2.15.1

[2021-11-02 07:58] sojolrana opened #9642 "White screen after click on setting before loading the source in Exoplayer"
I have implemented Exoplayer on my Live TV app. But when I click the setting icon (which will change the video quality from the source) before loading the source URL, the screen will white and after that automatically return to the home screen. But if I wait for full loading even if video buffering, setting icons work perfectly. For my question clarification, I added an image.
![PicsArt_11-02-03 4

[2021-11-02 08:15] Suleiman-Ahmad commented on #9593
Okay, Sir. But it plays correctly in other video players and displays the correct duration.
And querying it's Mediastore.Video.Duration also returns the correct duration milliseconds.
And Sir, I have this issue this more  60% of video files I played and they all work correctly in other video players.

[2021-11-02 08:17] Suleiman-Ahmad commented on #9593
Is there anything I can do to fix this?

[2021-11-02 09:21] ojw28 commented on #9593
There are a couple of different ways in which a player can choose to calculate the duration from an MP4 file. ExoPlayer derives the duration from the `mvhd` box in the MP4 file, which appears to have an incorrect `timescale` attribute in the video provided. This means that the `duration` attribute isn't scaled to the correct value.

If another player implementation derives the duration from a diff

[2021-11-02 09:25] christosts commented on #9408
Yes, if both options are enabled, then for MP3 files index-seeking will be used entirely and the CBR option will be ignored.

Thank you for the input on seeking and audio files, that's very useful and we will take it into consideration when prioritizing items. I removed the low-priority label, but this enhancement is not scheduled yet. I'll update this issue if/when we find time to work on this.

[2021-11-02 09:47] icbaker commented on #1488
@ooyellow58 Please don't repeatedly spam issues demanding they be addressed - I'm afraid it's unlikely to achieve the result you want.

[2021-11-02 09:55] ojw28 commented on #9408
Just to clarify, this is not possible unless the MP3 file provides some kind of low-res seek table / lattice. The whole problem with MP3 files is that frames don't contain absolute timestamps. So if you start loading an MP3 in the middle, you have no way of determining the absolute timestamp you're loading from. Hence you don't know the starting timestamp of the fragment/island. The only two ways

[2021-11-02 10:04] ryanheise commented on #9408
That is why I am suggesting that you could represent these islands with relative timestamps with an assumed/approximate starting timestamp, and at the moment islands become connected, they could snap into alignment with each other, i.e. those initial approximate assumptions could be corrected. So for example:

[code]

island-1 will have the correct initial offset (i.e. zero).

If the user seeks to

[2021-11-02 10:25] ojw28 commented on #9408
Right, but the case you're describing can only happen if the player has already given the user an inaccurate seek (corresponding to the point in time when it initially started buffering `island-2`). I'm not sure there's value in implementing a complicated scheme that provides eventual accurate seeking if you seek around enough to load the whole file:

* It's arguably more confusing, because the us

[2021-11-02 10:27] dino-saurabh commented on #9622
[code]

^^ @rrfrias this is what I could find, let me know if more logs are needed. cc @vinodkputta @mayurk2

[2021-11-02 10:31] marcbaechinger commented on #9554
Thanks. What did you find when you were investigating the calls in `ForwardingPlayer` with breakpoints or log statements?

[2021-11-02 10:43] dino-saurabh commented on #9622
while playing the content without downloading, this error comes up.
[code]

but with forcing widevine level L3, on both scenarios playing without downloading and downloading and playing the content works ( it downloads the lower resolution content and successfully able to play it).

[2021-11-02 11:06] flavius-mester opened #9643 "High bitrate (7Mbps) being consistently dropped on a good internet connection (100+ Mbps) - ABR/Dash/Live"
**Summary:**

When playing the asset below, although a high bitrate video profile of 7mbps is available, the player fails to keep up to it, and drops down. Sometimes to 0.5mbps.

**Details**

The behaviour is consistent. Within the first 2 minutes, it will always drop down.

Dash Linear Clear asset url: https://cph-msl.akamaized.net/dash/live/2003285/test/manifest.mpd

It appears that the issue is

[2021-11-02 11:52] stevemayhew commented on #8952
Here's some background from [Apple Developer](https://developer.apple.com/documentation/http_live_streaming/preparing_audio_for_http_live_streaming) Notes why the transcoders and packagers do this.

Trimming should occur on SampleStream until first video frame is committed, that's the current thought.  Like the `SequencableLoader`, some object will need to coordinate the set of media streams to do

[2021-11-02 11:52] kalpeshat20 commented on #9554
logs not getting triggered in `onPlay()` method of `ForwardingPlayer`

[2021-11-02 12:22] ryanheise commented on #9408
Unless perhaps two decoders were used, one for the leftmost island to continue expanding, and a secondary decoder invoked whenever the user seeks outside the known seek table.

[2021-11-02 12:37] icbaker commented on #9639
The linked file is a patch. There's a relevant stack overflow question on applying git patches here: https://stackoverflow.com/questions/2249852/how-to-apply-a-patch-generated-with-git-format-patch

You need to apply it to the specific commit it was generated from (or one relatively close to it), otherwise you will likely see conflicts because the files that are being edited may have changed signi

[2021-11-02 12:37] #9639 closed, assigned to icbaker

[2021-11-02 12:40] icbaker commented on #9641
The email did not arrive, please check and re-send. It may have bounced back if you did not use the requested subject line (should be "Issue #9641"). Please reply on this issue when you've re-sent the file.

[2021-11-02 12:42] icbaker commented on #9642
There's no way for us to help with this issue without being able to reproduce the problem.

Please provide a [minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-example) that demonstrates the problem in a way that we can build locally.

This could be an Android Studio project on GitHub, or zipped up and sent to dev.exoplayer@gmail.com using a subject in the format "I

[2021-11-02 13:17] tonihei commented on #9638
The issue is caused by a versioning conflict on `androix:media:` between `extension-cast` and `extension-mediasession`.

If you want to build the Javadoc, you can add `api 'androidx.media:media:' + androidxMediaVersion` to the `build.gradle` file of `extension-cast`. This is only needed for the Javadoc generation, hence we don't want to submit this change.

[2021-11-02 13:17] #9638 closed, assigned to tonihei

[2021-11-02 13:50] icbaker commented on #9643
I can intermittently reproduce the stated behaviour in the demo app at 2.15.1 using the provided asset (i.e. with `DEFAULT_BANDWIDTH_FRACTION = 0.7f`).

I'm unable to reproduce the problem using the "Clear DASH -> HD (MP4, H264)" demo app stream, which consistently plays the 20Mbps variant without downswitching.

@flavius-mester Can you confirm that you only see this problem with the content link

[2021-11-02 14:17] szaboa commented on #9608
The `primaryExtractorTrackType` is set to `C.TRACK_TYPE_VIDEO` because otherwise the `muxedAudioFormat` won't be used at all, see the logic a few lines below the change in the PR (line 1371-1381).

[2021-11-02 14:21] ojw28 commented on #9232
I do have some updates on this issue:

1. The GoogleTV team and SOC vendor are now both able to reproduce the issue(s), including the stretched video issue and the kernel panic (reboot). It's unclear at this point whether they're related, but it seems likely.
1. The SOC vendor observed that the Plex app appears to be doing something unusual between the first and second playbacks. In particular, sw

[2021-11-02 14:37] hedbert1 commented on #9232
Plex has a fix for this and will be published in the Beta Version next week.
https://forums.plex.tv/t/plex-restarts-new-google-tv-chromecast/711966/265

[2021-11-02 15:03] Suleiman-Ahmad commented on #9593
Okay, I understand, Sir. But why does it's Mediastore.Video.Duration return the correct duration of video file?

is there a way to set the duration like player.setDuration() method or something similar?

NB: I also experience this issue with videos I recorded with my camera that are over an hour long.

[2021-11-02 15:06] Suleiman-Ahmad commented on #9637
Is there a way to manually set the duration ourselves?

[2021-11-02 15:17] ojw28 commented on #9593
It probably looks at a different part of the file. it's pretty much the same as what I've already written above:

We're not going to spend any additional time on this issue, or on #9637 which is basically the same thing. If you're playing pirated content that hasn't been encoded properly, that's not our problem to solve.

If you have a legitimate video recorded with a camera that has a similar pro

[2021-11-02 16:26] #9575 closed, assigned to tonihei

[2021-11-02 17:17] flavius-mester commented on #9643
I have tested with the "Clear DASH -> HD (MP4, H264)" on the 2 devices (Fire Cube and Pixel 4a) and I **do not** see the issue.

However, may I emphasis that we see the issue only on `Live/Linear` content(aka `MPD  type="dynamic"`. The one you  mentioned above is `Vod` (aka `MPD type="static"`. Also, we only see the issue if the content has a video profile of 7mbps or higher.
The reason I provided

[2021-11-02 19:49] rrfrias commented on #8691
Re-encoding might help but there might still be an underlying issue. Reassigning to @fredgc to follow up on 182495765

[2021-11-02 20:02] rrfrias commented on #9622
These seem like two separate issues. Can you send a full bugreport to dev.exoplayer@gmail.com? It might shed some light on what is happening.

I assume you are using the default security level (L1) but since it the device is revoked it ends up with higher resolution content and license policies that L3 cannot fulfill. HDCP and output protections are not supported on L3.

In the earlier case, it mi

[2021-11-02 21:34] austin226 commented on #3918
If anyone is still encountering this particular issue -- It was fixed in release 2.13.3: https://github.com/google/ExoPlayer/releases/tag/r2.13.3

[2021-11-03 01:28] stevemayhew commented on #8592
An update... I have been able to get single frames rendered pretty quickly in pause mode.   Here's example logging:

[code]

Most of the 320ms is the load time on the rather large iFrame segments.

The logs above are with code that has:
1. the fix for the duration issue (see #9575)
2. a change I'm still working on a pull request for that commits the sample iFrame only segments that end with just h

[2021-11-03 03:41] sandles commented on #7799
Hi,

 I have a similar use case for what I think this original poster was asking. Is there anyway with ExoPlayer to extract the Metadata from a UDP TS stream.

 Yes, this is referring to the data stored in the PSI part of the stream. In particular the Title Name / Now Playing info.

Thanks

[2021-11-03 04:01] DorisGM commented on #9641
please check it again.  I sent it .

[2021-11-03 04:11] Jaydipnathani opened #9644 "Decoder failed: c2.android.avc.decoder"
After using this my issue was resolved when I test in debug mode. But when I did App release, the issue started coming back to my user so the issue was not resolved.

A version of ExoPlayer being used  2.14.1

I have an issue with ...
***Device Name:-***

**Samsung**

- Galaxy J1(2016)  -  Android: 5.1.1
- Galaxy A20 - Android: 11
- Galaxy A20e - Android: 11
- Galaxy J6+ - Android: 10
- Galaxy A10

[2021-11-03 07:42] SaurabhOfficial commented on #7794
@AquilesCanta I see b/168322023 is an internal ref, is there some way to track it?

[2021-11-03 07:43] dino-saurabh commented on #7794
@AquilesCanta I see b/168322023 is an internal ref, will it be possible for us to track it?

[2021-11-03 07:46] davydovvladimir commented on #8592
Hi @stevemayhew
thank you for the update

what a change do you mean?

[2021-11-03 08:26] Tolriq commented on #9611
@ojw28 Should I open a separate issue for the missing `getMediaSourceAt` / `removeMediaSource` and `getMediaItemAt` not properly replacing it? (Depending on the case it's either a feature request or a bug report don't have enough knowledge about internals)

[2021-11-03 09:26] arlimm318 opened #9645 "When will video soft decoder be supported"
When will video soft decoder  be supported？
for example，soft decoder of H264 。
Is there a plan to support it？

[2021-11-03 09:50] #3918 closed, assigned to ojw28

[2021-11-03 10:02] icbaker commented on #9644
Duplicate of https://github.com/google/ExoPlayer/issues/9230

[2021-11-03 10:02] #9644 closed, assigned to nobody

[2021-11-03 10:06] icbaker commented on #9645
I'm not sure I understand what you mean by a 'soft decoder'. If you mean a software decoder, as opposed to a hardware one, then these are already supported in ExoPlayer, either via MediaCodec (which ExoPlayer will use by default, and will select software or hardware decoders depending on what's available on the device) or by bundling software decoder implementations into your app (more info: https

[2021-11-03 10:20] icbaker commented on #9641
Thanks for the file. It's interlaced [1]. Interlaced video is not guaranteed to be supported on Android devices.

If you expect this device to support interlaced video and it's not working, that's likely something to discuss with the device manufacturer.

[1]
[code]

[2021-11-03 10:20] #9641 closed, assigned to icbaker

[2021-11-03 10:21] ojw28 commented on #9611
I'm really struggling to understand much of this issue, which is making doing anything about it pretty hard. E.g., sentences like "This works well as the file next follow the next randomized and everything" don't make sense.

Re the questions toward the end of this thread:

There is a 1:1 correspondence between `MediaItem` and `MediaSource`, so a `removeMediaSource(int)` method would do exactly th

[2021-11-03 10:26] ojw28 commented on #9611
@marcbaechinger - Whilst I don't think it's required for this use case, I guess there is a question about whether `ExoPlayer` should define `getCurrentMediaSource()` and `getMediaSourceAt()` methods for completeness. `ExoPlayer` adds setters that take `MediaSource` instances that are equivalent to the `MediaItem` based methods defined in `Player`, but does not add corresponding getters. Is that an

[2021-11-03 10:37] icbaker commented on #9645
For video decoders bundled with your application we already support the following extensions:
* VP9: https://github.com/google/ExoPlayer/tree/release-v2/extensions/vp9
* AV1: https://github.com/google/ExoPlayer/tree/release-v2/extensions/av1

Other formats will also be supported by adding video support to our [ffmpeg extension](https://github.com/google/ExoPlayer/tree/release-v2/extensions/ffmpeg)

[2021-11-03 10:37] #9645 closed, assigned to icbaker

[2021-11-03 10:53] Tolriq commented on #9611
@ojw28
1) I'm not native English speaker so doing my best to be understood with small sentences.

The initial need was to have access to activeDataSource in onPositionDiscontinuity
https://github.com/google/ExoPlayer/issues/7525
The solution was to assign a specific Factory to each media source so here we are and why I need to be able to remove the MediaSource to get the MediaSource then be able t

[2021-11-03 10:59] stevemayhew commented on #8592
I’m still working out if that is necessary, but if so ultimately we’ll need
a mode where the track is in trickplay then add that flag based on the
Format (role).

Some origin servers (including sadly Apple’s mediafilesegmentor) add
garbage NALUs after the IDR (type 5).  These trailing P/B slice NALU can
freeze you on a frame that looks, well not as good as the reference frame
(IDR)

On Wed, Nov 3,

[2021-11-03 11:08] arlimm318 commented on #2159
The FfmpegVideoRenderer  has  be deleted  in vesion 2.15.0 .
Will you support it in the future？
I need video soft decoder of H264 .

[2021-11-03 11:15] ojw28 commented on #2159
It has never been released in a stable release because it's not finished yet. It's only ever on the `dev-v2` branch (i.e., under development).

We hope to be able to support it at some point in the future, but we do not have an estimated time. It's unlikely to be prioritized by the core team any time soon. The various updates above already document where we got to.

[2021-11-03 11:24] davydovvladimir commented on #8592
garbage NALUs after the IDR (type 5).  These trailing P/B slice NALU can
freeze you on a frame that looks, well not as good as the reference frame
(IDR)

I'm not sure that it is same issue. But I see some strange behavior in my implementation of trick mode by using seek on pause.
If I call seek very fast (with big trick mode speeds like 32x)  then after some time pictures on the screen freezes for

[2021-11-03 11:39] AquilesCanta commented on #7794
b/168322023 has been fixed for a year now. I'll assigned to @icbaker who's the DRM expert on the ExoPlayer side.

[2021-11-03 12:08] ojw28 commented on #9602
The link provided does not work for me. It shows the following error in a web browser:
[code]
Please provide the file somewhere where it's accessible without needing some kind of token (alternatively, provide complete details of what we need to do to access the content).

[2021-11-03 12:09] ojw28 commented on #9625
It looks like this issue was resolved in https://groups.google.com/g/ima-sdk/c/VWTm0PuHG9k. Closing.

[2021-11-03 12:09] #9625 closed, assigned to ojw28

[2021-11-03 12:11] #9312 closed, assigned to ojw28

[2021-11-03 12:20] ojw28 commented on #9399
If you just try and play your stream in the demo app, you should see that its logcat output is able to tell which tracks are selected. See [this page](https://exoplayer.dev/debug-logging.html#media-tracks) for more details.

You should be able to enable similar logging in your own application by registering an `EventLogger` to your player instance as described [at the top of the same page](https:/

[2021-11-03 12:25] #9089 closed, assigned to ojw28

[2021-11-03 12:26] #9040 closed, assigned to ojw28

[2021-11-03 13:35] ojw28 commented on #6355
Sorry for the delayed response. Do you know if there's any adverse effect on the user from what you're seeing here? Playback is failing with the error you've provided details about, but the user is exiting the playback anyway, so I wonder whether they'd even notice anything.

It's still not ideal, for example from a metrics perspective if these end up being logged as failed playbacks, but at this

[2021-11-03 15:24] ojw28 commented on #9611
If you're creating the `MediaSource` instances in application code, just keep them in a list in application code? Why do you need the player to give them back to you? Admittedly it would be slightly more convenient, which is where my question to @marcbaechinger above comes from, but I don't see why you'd be reliant on this.

[2021-11-03 15:35] zubcoco opened #9646 "Seek in pause in tunneling mode doesn't refresh frame"
Hello,

With the ExoPlayer demo app, version 2.15.1, we have a problem when activating tunneling mode.

Reproduction steps :
 - Add setTunnelingEnabled(true) on the DefaultTrackSelector on the ExoPlayer demo app
 - Launch ExoPlayer demo app
 - Start stream (i.e. Clear DASH - HD (MP4, H264)
 - Paus stream
 - Seek (-5/+15)

When we seek, the displayed frame isn't updated.
But when we've tested witho

[2021-11-03 16:13] vanniktech opened #9647 "Icon mismatch between player & PlayerNotificationManager"
![android_screenshot_1635955867](https://user-images.githubusercontent.com/5759366/140098848-e2b534d4-fd34-4bf9-a3df-597ee245795a.png)

The player is using for fast forward:

https://github.com/google/ExoPlayer/blob/0ba317b1337eaa789f05dd6c5241246478a3d1e5/library/ui/src/main/res/values/drawables.xml#L44

However the notification is using a different drawable:

https://github.com/google/ExoPlayer/

[2021-11-03 16:15] marcbaechinger commented on #9611
I don't see a design reason that would make this an omission. :)

The API that the `MediaSource` interface offers is actually not for being called by app code but by the player and probably solely on the playback thread. Since the actual design is that the media source is either created by the app or internally by the `MediaSourceFactory` having such a method wouldn't serve a use case I can think

[2021-11-03 16:28] rrfrias commented on #7794
168322023 was addressed in android 12. You can contact Widevine partner engineering https://www.widevine.com/contact for more information to query output protections supported by the device. This is however not available for earlier android releases. We probably need to have an internal conversation and see if there is anything we can do for earlier releases.

[2021-11-03 18:18] marcbaechinger commented on #9554
Ok. And now try `onPlayWhenReady()`? Accept my apologies if I'm asking for too much. :)   See also the comment [above](https://github.com/google/ExoPlayer/issues/9554#issuecomment-953257418).

[2021-11-03 18:56] stevemayhew commented on #8592
@davydovvladimir  What are you using to generate the i-Frame only tracks?  If you can make a small VOD example, zip and send it I can have a look.

You can use ffmpeg to show the NALU structure in the i-Frame.   Use:

`ffmpeg -i <path to file with iframe TS>  -c copy -bsf:v trace_headers -f null - `

[2021-11-03 19:39] Tolriq commented on #9611
1) MediaSource

There's many different issues but the usage of MediaSource as explained in linked old issue is tied to needs in the DataSource.

It's tied to access to the source data in all the needed places. I explained it in the linked issue here :https://github.com/google/ExoPlayer/issues/7525

The player needs more than playing urls, I need to start transcoding / stop transcoding on the serve

[2021-11-03 19:57] ojw28 commented on #9611
You've already explained why you're making your own `MediaSource` instances. There's no reason to re-state this.

I really don't understand what your remaining problem is. You don't have the `MediaSource` instance to re-add it, but you could solve this simply by keeping the `MediaSource` instances in your own `List` alongside the player. As we acknowledge, a `getMediaSourceAt(int)` method would be

[2021-11-03 20:48] ojw28 commented on #9608
Ah, I see. Could you try applying this change locally, to see whether it also resolves the issue correctly: https://github.com/google/ExoPlayer/commit/6b78164c4d53f364db31f3da233a9209d1b0a38d

Thanks!

[2021-11-03 21:44] Tolriq commented on #9611
I was answering to @marcbaechinger who said :

So I'm pointing again why I do that and asking again if there should not be another better way since it was stated it's not meant to be used like that and so conclusion would be that I should not be doing that.

I know my English is bad but still no need for aggressivity.

The remaining problem is just explained above and in first post, the add/remove

[2021-11-03 22:33] ojw28 commented on #9611
@tonihei might be able to address the `ShuffleOrder` question.

[2021-11-04 01:04] #9533 closed, assigned to andrewlewis

[2021-11-04 01:04] #9511 closed, assigned to krocard

[2021-11-04 01:04] DorisGM commented on #9641
But why android player always works？

[2021-11-04 01:07] DorisGM commented on #9641
And the device original player can play this file perfectly.

[2021-11-04 05:29] Suleiman-Ahmad commented on #9593
Okay. Thank you.

[2021-11-04 08:56] yoobi commented on #9372
Yes I've been using everything from the DevGuide and from the example of Exoplayer, it is exactly this.
I'm fetching my `DownloadRequest` then I'm creating the `mediaSource` using `DownloadHelper.createMediasource`.

Some of my users are still getting this error but it's a really small portions, so I don't really know, I've been testing it intensively recently and everything works, I don't really

[2021-11-04 10:11] tonihei commented on #9611
Not relevant to the rest of the discussion, but that is surprising actually because `stop()` should release all media-related resources.

I think the underlying cause for the problems you are facing is that you swap out the actual media underneath a `MediaSource` to support some custom shuffle logic. The problems occur because the player assumes it's still the same media as before (=same ids in th

[2021-11-04 10:53] Tolriq commented on #9611
It only works if I reset, but then I need to add again the whole playlist.

My main problem is more about the currentWindowIndex when changing from shuffled to unshuffled to shuffled.

The app displays the playlist in the order it will be played and handle it's own currentPosition to indicate the active media. This what most users want for proper reordering via drag/drop even when in shuffle mode.

[2021-11-04 13:12] kgrevehagen commented on #6459
Hey @andrewlewis,

Do you have any updates on this issue, or even tips for adding a temp solution myself?
I just reproduced it again on 2.15.1.

Thanks :)

[2021-11-04 13:57] tonihei commented on #9611
This is working as intended because the `getCurrentWindowIndex` returns the index in the original unshuffled playlist.

If you want to display the shuffled order (and the currently playing item in the shuffled order), you need to iterate the Timeline to retrieve the right order:
[code]
You can also add the index as metadata to the UI element, so when a user taps on an item, you know where to seek

[2021-11-04 16:34] Tolriq commented on #9611
There's a misunderstanding here.

I have no issue displaying or handling the sorting and handling manual clicking and all user generated actions.

The issue is about Exoplayer auto advancing to the next item. Since there's no way to modify the windowindex it will not move to the proper next item for my needs.

As explained earlier given the unsorted Playlist A B C D, and currently playing A (so in

[2021-11-04 17:12] tonihei commented on #9611
If the new wanted shuffled order is B A D C, then I'd like to have Exoplayer to play D after the end of media as it's the correct one. Instead it will play again A that is index + 1.

This is already working as you describe. If you set the shuffle order to BADC while playing item A, the player will make sure to play D next with a seamless transition.

[2021-11-04 17:21] Tolriq commented on #9611
Ok so there's some magic in the defaultshuffleorder to achieve that as I could not have this working with a custom one. It always play the position pointed at current + 1.
Some more docs on that point would be nice.

[2021-11-04 17:32] tonihei commented on #9611
It's not very magical really :) It just plays the next item in the ShuffleOrder you provided (instead of currentIndex + 1).

We have some minimal documentation here: https://exoplayer.dev/playlists.html#setting-a-custom-shuffle-order
What kind of information were you missing specifically? I guess we can extend the playlist page to cover more details about repeating and shuffling in general.

[2021-11-04 17:51] Tolriq commented on #9611
I'm building a custom shuffle order so not expanding the default one.

The shuffled and getnext first last all works.
But when enabling / disabling the shuffle order it plays the index + 1 so there's something I don't do correctly  but I can't have it play the proper one.

If the defaultone is supposed to do that I at least know it's possible and somewhere to look at.
But yes that page is not expl

[2021-11-04 18:30] andrewlewis commented on #6459
For item (1) above I still don't have any updates I'm afraid. The AudioTrack has a threshold buffer occupancy below which calling play doesn't actually start playback, and the best general workaround is to ensure that more data gets written to the audio track in this case (I don't have specific suggestions on how to achieve this though). [Internal reference: b/170106900]

[2021-11-04 21:16] moneytoo opened #9649 "Cannot select any other than 1st audio/subtitle track in `StyledPlayerView` (regression)"
I'm migrating from ExoPlayer 2.15.1 to 2.16.0. When I select any audio or subtitle track (in `StyledPlayerView`), other than the first one, there is no audio heard or subtitle visible. I can replicate in something like this:

[code]

Video used for testing: https://github.com/ietf-wg-cellar/matroska-test-files/blob/master/test_files/test5.mkv

Steps:
1. Open test5.mkv
2. Change audio track from "A

[2021-11-05 01:04] #9469 closed, assigned to ojw28

[2021-11-05 02:11] ghost commented on #9474
@icbaker  @google-oss-bot ohh sorry, i still need your help to resolve this issue, i will provide more information but now i am not free. You can close this issue now but i hope when i already available then i can immediately reopen it. Thank you so much!

[2021-11-05 08:37] zcwfeng opened #9650 "subtitle segments why not >=0"
HlsChunckSource.java

717 lines
such as:

[code]
-------------------

 if (segmentIndexInPlaylist >= 0)

mediaPlaylist.segments == 0  is erro.
 why not add check and exception

[2021-11-05 08:53] Ioan1995 commented on #9512
Hello, can I get some info, please?
 Is this a bug or there is a way to increase the player volume since I have to set the device and TV volume to max to hear?

[2021-11-05 09:03] tonihei commented on #9649
I can reproduce the issue, thanks! Worth noting that this related to the built-in audio/text selection button in `StyledPlayerView`. Track selection via the ExoPlayer demo app debug controls still works as expected.

[2021-11-05 09:15] roger54920 opened #9651 "Redmi note 8 pro 突然 无法播放视频连接，也不报错误信息"
Unfortunately we can't answer all questions. Unclear questions or questions with
insufficient information may not get attention.

Before filing a question:
-------------------------

2021.11.4 号13点时，可以正常使用，突然下一秒就无法使用了，未修改过代码

[2021-11-05 09:21] icbaker commented on #9651
Hi! Please provide complete information as requested in the question template. The template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/question.md).

Unfortunately we can't answer unclear questions or those with insufficient information.

[2021-11-05 09:23] icbaker commented on #9650
Can you please add some more detail about what you're asking, and a little more context about the general problem you're seeing (if any). Thanks!

[2021-11-05 10:09] christosts commented on #9547
Yes, this is a part of the HLS spec that ExoPlayer does not support at the moment, and we have not prioritized implementing. I am keeping this issue in the backlog, but I can't make any commitments on when we'll schedule working on this. [Internal ref: b/128767128]

In the mean time, do you need assistance how to implement this with custom components?

[2021-11-05 10:26] Tolriq commented on #9611
Ok thanks for the help I get it working when debugging with the default one.

I guess the major lack of documentation is about the timeline impacts of the shuffleorder (or actually the fact that it have no impact on it)

This + the fact that to seek to an item in the shuffled order you need to seek to the original index and not the position in the shuffled list makes it hard to grasp what's going

[2021-11-05 10:29] tonihei commented on #9611
Glad to hear it works! And thanks for the hints on improving the documentation.

[2021-11-05 10:29] #9611 closed, assigned to tonihei

[2021-11-05 11:30] ojw28 commented on #9650
Is this about what happens if the media playlist is empty (i.e. `mediaPlaylist.segments.size() == 0`)? I can cause a playback to be stuck buffering if I give ExoPlayer the following empty VOD playlist.

[code]

Inside the player, this is happening:

[code]

[2021-11-05 12:04] SiddhiBlackLotus opened #9652 "playerNotificationManager.setPlayer(null) throws error"
playerNotificationManager.setPlayer(null) java.lang.IllegalStateException. Im not running the player in main thread.

[2021-11-05 12:20] icbaker commented on #9652
If you're using ExoPlayer's UI components you must always access the player from the main thread. From our [dev guide](https://exoplayer.dev/hello-world.html#a-note-on-threading):

[2021-11-05 12:20] #9652 closed, assigned to icbaker

[2021-11-05 13:07] tonihei commented on #9649
Fixed by the commit above.

[2021-11-05 13:07] #9649 closed, assigned to tonihei

[2021-11-05 14:17] yeojoyjob opened #9653 "RTSP source error with "SETUP 400""
When I tried to play the RTSP streaming, I got a problem with ExoPlayer 2.16.0.

I set the local camera rtsp url into exoplayer with RtspMediaSource like this
[code]

the error is
[code]

And I also cloned your demo and played this stream, it also gave me the same error message.
However I found another exoplayer rtsp example in github, it played well.
that project is in https://github.com/X1opya/E

[2021-11-05 15:40] claincly commented on #9653
Please provide a log of RTSP messages.

The easiest way is to use the `RtspMediaSource.Factory` method `setDebugLoggingEnabled()`

That is, set the media source factory when building the ExoPlayer instance, like this:

[code]

[2021-11-05 15:54] yeojoyjob commented on #9653
I was wondering how to get that message... Thank you. and the message is

[code]

[2021-11-05 16:37] claincly commented on #9653
I suspect the problem is the track URI we send in SETUP:
`rtsp://192.168.1.19:554/media2/stream.sdp/trackID=2?profile=Profile201`
should be
`rtsp://192.168.1.19:554/media2/stream.sdp?profile=Profile201/trackID=2`

Could you confirm with the log from the other RTSP implementation you tried?

[2021-11-05 16:59] yeojoyjob commented on #9653
@claincly I see, you're right. I tested it with ExoPlayer 2.9.0 and checked the log

[code]
In the RTP-Info, the URL is that you said.

So what do I do? Are there some options to move "/trackID=2" after the URL's parameter?

[2021-11-05 17:22] claincly commented on #9653
The dirty fix would be changing this line
https://github.com/google/ExoPlayer/blob/7fe9ecc1c592b758e76f6b458e0dc43cce282e5f/library/rtsp/src/main/java/com/google/android/exoplayer2/source/rtsp/RtspMediaTrack.java#L229
to
`return Uri.parse(sessionUri.toString() + "/" + controlAttributeString);`

We will release a fix soon.

[2021-11-05 17:26] yeojoyjob commented on #9653
Got it. Thanks for helping me. I'll wait for your fix.

[2021-11-05 17:26] #9653 closed, assigned to claincly

[2021-11-05 18:05] claincly commented on #9653
Please make the proposed change as you see fit.

ExoPlayer will not provide a official "fix" to this issue, as the accepted URI is quite a deviation from the standard URI schema.

[2021-11-05 18:33] krocard commented on #9512
Does this occur only with this media or with all media? Are other app playback affected? Could your AndroidTV be connected to an AV receiver that is set on a low volume?

[2021-11-05 18:34] krocard commented on #9512
I checked the media and it has a normal loudness level.

[2021-11-06 10:51] buddudevelopers opened #9654 "Add Official Support for JetPack Compose"
Before filing a feature request:
-----------------------
- Search existing open issues, specifically with the label ‘enhancement’:
  https://github.com/google/ExoPlayer/labels/enhancement
- Search existing pull requests: https://github.com/google/ExoPlayer/pulls

When filing a feature request:
-----------------------
Replace the content in the sections below.

### [REQUIRED] Use case description
I

[2021-11-07 04:36] #9555 closed, assigned to claincly

[2021-11-07 06:47] tinder-sophiafrench opened #9656 "Language Key from .m3u8 file doesn't match language key in track group"
In my .m3u8 file, I have a track for subtitles in Indonesian, with language key "id".
It looks like this:
`#EXT-X-MEDIA:TYPE=SUBTITLES,GROUP-ID="subs",NAME="Indonesian",DEFAULT=NO,AUTOSELECT=YES,FORCED=NO,LANGUAGE="id",URI="main_id.m3u8"`

After it's parsed into the player's track group, the language key is "ms-ind-d"
It looks like this:
`Format(subs:Indonesian _ Indonesia, Indonesian _ Indonesia,

[2021-11-07 09:32] dhcracchiolo opened #9657 "Android 11 AAC playback is choppy"
I'm using the Just Audio package in Flutter which uses Exoplayer for the Android implementation.  I've spoken with the creator of the package and he's convinced it doesn't' have anything to do with his code but that the problem is within Exoplayer.  It doesn't matter if it's played from a local asset or from the network.  All AAC sounds terrible on every Android 11 device I have tried including re

[2021-11-07 12:57] bhjortsberg opened #9658 "Subtitles stopped working in 2.16.0"
I'm using StylePlayerView for selecting subtitles in the player.
On 2.15.1 everything worked fine. On 2.16.0 selecting subtitles seems broken. Selecting the first subtitle in the list seem to work a few times (ie. going subtitle1 -> none -> subtitle1 -> none -> subtitle1 will also not work after a few switches). Selecting any subtitle but the first has no effect.

Examples where it does not work:

[2021-11-07 13:18] stari4ek commented on #6355
Yeah. This issue just needs special handling on the app's side to be sure that user experience does not degrade (do not show any UI notifications about an error).

[2021-11-07 21:01] moneytoo commented on #9658
It's a bug in 2.16.0: #9649

[2021-11-07 21:37] ChernyshovYuriy opened #9659 "Stream quality"
Dear engineers,
While I believe the issue I experience is hardly related to ExoPlayer, I do see different behavior on VLC, and therefore decided to ask a question here.
There are couple streams I have with weird quality, it seems like sound is jammed periodically, like on old tape player.
It might be related to stream format itself (wrong bit rate, packet length, etc ...) but those streams plays w

[2021-11-08 02:04] #9542 closed, assigned to andrewlewis

[2021-11-08 04:24] guoen21 commented on #9608
I apply and test this commit locally, seems it also works for me, thanks very much!

Now we get two following muxed tracks, but the id is same, because we use one muxedAudioFormat, but from our master m3u8 it included two tracks which has no URI defined.
[code]

expected
[code]

[2021-11-08 04:42] neeluagrawal04 commented on #9602
Issue is resolve, Thanks for your help.
Hence closing this issue

[2021-11-08 05:14] guoen21 commented on #9547
Thanks very much for your reply, I will be very grateful if I can get your assistance.

I also try to implement the audio group feature based on release 2.14.2, it seems that a lot of code has been changed. These are some key points:
1. Append group info to format when parsing master m3u8 and preparing tracks format for each period.
2. Collect the track blacklist info globally. For video track, it

[2021-11-08 05:48] kalpeshat20 commented on #9554
No logs

[code]

[2021-11-08 08:22] #9658 closed, assigned to tonihei

[2021-11-08 08:58] bhjortsberg commented on #9658
Ah, missed that. Thanks for the fix!

[2021-11-08 09:28] tonihei commented on #9656
The reason why this happens in general is to allow comparison between values and ensuring everything is in the same format. ExoPlayer receives language keys from at least 3 different sources: The media itself (like the m3u8 file), user preferences that are set in the parameters (e.g. TrackSelectionParameters.preferredAudioLanguages) and also system Locale information. All 3 sources use potentially

[2021-11-08 10:27] ominfowave commented on #9542
I think you are right, the problem was with how we were adding audio tracks in video using FFMPEG, we were copying audio codecs of source video files to add new audio tracks that caused the issue somehow.

[2021-11-08 10:48] hnljp opened #9660 "getPlayerError() should be annotated @Nullable"
ExoPlayer version number : 2.16.0

https://github.com/google/ExoPlayer/blob/7fe9ecc1c592b758e76f6b458e0dc43cce282e5f/library/core/src/main/java/com/google/android/exoplayer2/ExoPlayer.java#L985

getPlayerError() should be annotated @Nullable

See Player:
https://github.com/google/ExoPlayer/blob/7fe9ecc1c592b758e76f6b458e0dc43cce282e5f/library/common/src/main/java/com/google/android/exoplayer2/Play

[2021-11-08 10:55] tonihei commented on #9660
Thanks, it should be @Nullable indeed.

[2021-11-08 10:58] mayurk2 opened #9661 "Stream is not playing with tunneling mode enabled"
Tunneled video playback is not working on my Android TV (Mi 108cm LED TV 4A PRO).
Screen remains black and sometimes audio plays in the background.

The hardware HEVC decoder (`OMX.amlogic.hevc.decoder.awesome.secure`) supports tunneling. I added some debug logs in `MediaCodecUtil.getDecoderInfosInternal()` and verified that `CodecCapabilities.FEATURE_TunneledPlayback` feature is supported.

I che

[2021-11-08 11:06] moneytoo commented on #9661
Possibly related issue about tunneling (H265 content) on Xiaomi device: #9133

[2021-11-08 11:42] ursurya commented on #9426
Thanks @marcbaechinger  for your reply. We are trying out something similar. Thanks again for your inputs.

[2021-11-08 13:46] ivostefanoff opened #9662 "Decode AC3/EAC3 to PCM"
Hello,
i have some trouble while playing streams containing AC3/EAC3 audio on Abdroid TV Box.
When the audio route from the Android settings are "Auto", the AC3 is correctly extracted from FFMPEG extension and correctly played, but no volume correction is able, because of passthrough mode. Some old TV has no AC3/EAC3 support, causing missing audio. What is the correct way for extract/transcode wit

[2021-11-08 15:03] robm92 opened #9663 "Cast Extension Artwork metadata not working"
As of the recent deprecation of CastPlayer.loaditem() , I have updated to using com.google.android.exoplayer2.MediaMetadata.

Previously, I would add artwork like this and it would appear in the system notification media item as well as the Cast Player ExpandedControlsActivity.

[code]

I am now attempting to use the functions:
`
movieMetadata.setArtworkUri()
movieMetadata.setArtworkData()
`

But

[2021-11-08 15:38] marcbaechinger commented on #9663
On a first sight, it looks like that could be implemented pretty easily at least for the case when an app is using `MediaMetadata.setArtworkUri`. In such a case the `DefaultMediaItemConverter` can just add the url by using `addImage(WebImage(metadata.artworkUri))` as described above.

We will look into this.  Thanks for reporting! Marked as enhancement.

If you want to have this right now you may

[2021-11-08 17:55] tonihei commented on #9660
Fixed by the commit above.

[2021-11-08 17:55] #9660 closed, assigned to tonihei

[2021-11-08 21:05] bianchina3 opened #9664 "RTSP Playback error: "Server did not provide timing for track""
i am trying to connect to an ip camera but exoplayer 2.16.0 throws "Server did not provide timing for track" exception.

This is the log:

[code]

[2021-11-08 21:42] tinder-sophiafrench commented on #9656
Thank you for the explanation.

[2021-11-08 21:42] #9656 closed, assigned to tonihei

[2021-11-08 22:03] moneytoo opened #9665 "Change in behavior of selection override in 2.16.0"
Follow up on #9649. (@tonihei)

I applied eb678a7d6de0658856cb77087c2247f7ec52f683 on top of r2.16.0 but I still have issues working with selection overrides. The same code which works on 2.15.1 doesn't work on 2.16.0. (Is there possibly more to this issue?)

[code]

On 2.15.1, I can use this to detect subtitle index. (Testing with the same video file as in the linked issue)

On 2.16.0, the select

[2021-11-09 01:08] VeiZhang opened #9666 "About reset subtitle when video paused and rewind or forward"
Normally, start a video and rewind or forward, subtitle selection work well.

Follow the steps
1. start a video with multi subtitles
2. select sub, better to select position 2 or 2+, the default subtitle is position 1
3. pause it and seeking(rewind or forward)
4. resume to start the video

u will see the video reset subtitle to position 1.
**So my question is how to keep its subtitle when pasued a

[2021-11-09 04:29] #9666 closed, assigned to ojw28

[2021-11-09 04:29] VeiZhang commented on #9666
Sorry.

[2021-11-09 09:04] tonihei commented on #9665
I believe this is working as intended, although I can see how it might not be obvious why.

ExoPlayer 2.16.0 introduced new track selection APIs in the `Player` interface. In particular, `TrackSelectionParameters` allows to set track overrides. The "old" way of using `DefaultTrackSelector` still works, but has a different set of (now deprecated) selection overrides, which work in a slightly differ

[2021-11-09 09:20] andrewlewis commented on #9662
I don't think the ffmpeg extension supports passthrough mode -- it only handles the input media if ffmpeg was compiled including the decoder for the format and it can output PCM to the audio sink. If you see that playback is using encoded audio passthrough, the `FfmpegAudioRenderer` is probably signaling that it doesn't support decoding the format so ExoPlayer is falling back to `MediaCodecAudioRe

[2021-11-09 09:20] #9662 closed, assigned to nobody

[2021-11-09 09:32] pratimagauns opened #9667 "Exoplayer Android SDK- Transferring media in .exo format to a peer phone application and allow the peer to play the content."
My use case is:

1. Bob with my app installed, would download a DASH Widevine DRM MP4 video from cloud using Android Exoplayer SDK.
2. We allow Bob to transfer the content to another user(Nick) using my app via WiFiDirect.
3. After transfer complete, Nick can received the Widevine license from cloud for the content and begin play from local cache.

For this, the approach I wish to follow is to tra

[2021-11-09 10:02] hufozhu opened #9668 "Compatibility issue, ExoPlayer cannot play this two audio files."
Hi, we find two audio files cannot be played on ExoPlayer, but everything goes fine on Chrome, ffplay and some other players.
Here are the urls, and issues should be easily reproduced on demo.

url1:
- https://static.storyfm.cn/media/2021/08/no-storyfm-today-2021-8-27.wav
    - Got EOFException

![image](https://user-images.githubusercontent.com/1925674/140902488-14f5ac9e-828e-46b3-b003-4fe0414cab

[2021-11-09 10:58] Ioan1995 commented on #9512
There is no AV receiver. I also tested this link https://www2.cs.uic.edu/~i101/SoundFiles/StarWars60.wav and I have the same sound level. Maybe it's something related to android? These tests are done on android 7. Can this be a factor in this context and another implementation needs to be done?

[2021-11-09 11:03] krocard commented on #9512
Does it occur only with just this file or with all media in the demo app? It could be that your media volume of your setup is low.

[2021-11-09 11:04] krocard commented on #9512
Check your volume sliders in android sound settings.

[2021-11-09 11:23] syg4806 opened #9670 "Why InitializationVector consists of an 8-byte nonce and an 8-byte counter"
AesFlushingCipher get instance with "AES/CTR/NoPadding" and initialize with IV via getInitializationVector()
But getInitializationVector's parameters are long nonce which is an 8-byte and long counter which is an 8-byte.
It means, the Initialization Vector consists of an 8-byte nonce and an 8-byte counter.
But the IV on AES/CTR/NoPadding is supposed to be a 12-byte nonce and a 4-byte counter.

[co

[2021-11-09 11:24] Jaydipnathani commented on #9644
Hi, Team

My problem was not solved so please review my issue. #9230 and #9396

[2021-11-09 11:24] Ioan1995 commented on #9512
It is the same on all files in the demo app. I also checked on an android 9 and there is a noticeable difference. I checked the volume and try to set it at the maximum possible. audioManager.setStreamVolume(AudioManager.STREAM_MUSIC,audioManager.getStreamMaxVolume(AudioManager.STREAM_MUSIC), 0)
![Screenshot 2021-11-09 at 13 23 56](https://user-images.githubusercontent.com/34036790/140915585-49ec45

[2021-11-09 14:40] vip5912 opened #9671 "DD 5.1 plays as Stereo PCM"
I checked Demo module (r2.16.0):
"HLS" / "Apple master playlist advanced (TS)" / "Audio AC3 5.1"
I had only 2ch PCM.

Android TV Sony 65XF9005, Android 9, Optical SPDIF to Reciever Sony AS5300.
Plex client (ExoPlayer) play all AC3 audio as Dolby Digital (passthrough audio to Receiver).

[2021-11-09 16:18] krocard commented on #9512
If loudness is different depending on the same ExoPlayer version with different Android version, it seems the issue is either with your Android device or its setup.

As a result I don't see how we could help you. You might want to try a factory reset, but that is out of scope of this issue tracker. Sorry we can't help you more.

I will close this issue, please reopen if you have any additionally c

[2021-11-09 16:18] #9512 closed, assigned to krocard

[2021-11-09 16:26] christosts commented on #9659
I can reproduce the "choppy" audio. I see these are shoutcast streams and contain ICY metadata headers. For some reason that I have not identified yet, the ICY metadata are not read properly and therefore the player does not configure the audio pipeline correctly.

Interestingly, this happens when using `cronet` (`CronetHttpDataSource`) to download the stream, which is the default HTTP client in t

[2021-11-09 16:30] ChernyshovYuriy commented on #9659
Thanks for the feedback!
Is there significant difference between cronet and default data source? My application is simple radio broadcast, without drm,  download and other fancy options. I might stick to default one then.

[2021-11-09 16:48] fredells opened #9672 "Newly enabled renderers for next playlist item start playing while previous playback is still ongoing"
I am using [jcodec](https://github.com/jcodec/jcodec) to create video files from images like the example attached at the bottom.

These videos are being displayed as a playlist in `SimpleExoPlayer`. These are created using `MediaItem.fromUri(uri)` and with the `DefaultDataSourceFactory`. I am currently using exoplayer version `2.12.3` but I have also tested `2.16.0` which has the same error.

A si

[2021-11-09 16:54] christosts commented on #9659
There is some documentation you can read at https://exoplayer.dev/network-stacks.html

For simple use cases, you should not see issues using the `DefaultHttpDataSource`.

[2021-11-09 18:15] christosts commented on #9668
I tried both files, remotely (over network) and locally and failed with the same errors as above.

@kim-vde can you please take a look?

[2021-11-09 19:00] fredells commented on #9672
@christosts I should add something else I discovered. The framerate itself is not the issue. I have tried creating these videos with higher framerates (30 fps) but it had the same issue

[2021-11-09 19:03] fredells commented on #9672
It is also not strictly a "jcodec" problem. I have tested creating the videos using this method instead:
https://stackoverflow.com/a/51278232

But it caused the same problem

[2021-11-09 19:07] fredells commented on #9672
In terms of error logs I am seeing this:
[code]

[2021-11-09 20:13] moneytoo opened #9673 "How to tell `MediaItem.SubtitleConfiguration`s apart in `ExoPlayer.getCurrentTracksInfo().getTrackGroupInfos()`?"
I'm using latest ExoPlayer 2.16.0. Let's say I want to save and restore user selected audio and subtitle "tracks" on app restart. If I add multiple `MediaItem.SubtitleConfiguration`s, how I can I distinguish these in `ExoPlayer.getCurrentTracksInfo().getTrackGroupInfos()`?

[code]

`MediaItem.SubtitleConfiguration` doesn't let me specify any id. Label or user facing name may not be necessarily uni

[2021-11-09 22:44] Goshin opened #9674 "How to get selected `Format` with `TracksInfo`?"
I used `Player.getCurrentTrackSelections()` and `ExoTrackSelection.getSelectedFormat()` to get some info of a playing HLS video:

[code]

Since `Player.getCurrentTrackSelections()` is now marked deprecated, I try using `Player.getCurrentTracksInfo()` instead, which is suggested in the documentation.

However, a `TracksInfo` does not provide `TrackSelection` or the selected `Format` as `getCurrentT

[2021-11-09 23:47] moneytoo opened #9675 ""Multiple renderer media clocks enabled" when setting selection override"
I'm migrating to `TrackSelectionOverrides` for "track" selection in ExoPlayer 2.16.0. I'm using it with `TrackSelectionParameters` and it seems to be working (I set the overrides when `Player.STATE_READY`).

[code]

However when overrides get set for a media file utilizing multiple audio renderers (the default one as well as ffmpeg; for example file containing AC3 & TrueHD or AC3 & MP2), I receive

[2021-11-10 00:08] moneytoo commented on #9674
You can get `Format` from `Player.getCurrentTracksInfo()`, check the code sample here: https://github.com/google/ExoPlayer/issues/9665#issuecomment-963947863

[2021-11-10 00:54] Goshin commented on #9674
@moneytoo

I see, to my understanding, that sample only shows how to get a `Format` by its index in a `TrackGroupInfo`, but I want to obtain the selected format like that provided by `ExoTrackSelection.getSelectedFormat()`.

[2021-11-10 02:04] #9562 closed, assigned to claincly

[2021-11-10 02:04] #9561 closed, assigned to claincly

[2021-11-10 03:14] lizuojing commented on #9569
hi:
   please review report_log_2021-09-14_05_47_15_251.txt. I had uploaded the bugreport, and i have no other information.
please analysis this issue.

[2021-11-10 03:38] jiajialaixi opened #9676 "Cannot play rtsp stream"
Hello, I probably can't display RTSP.  But accidental successn.

-------------------------

`

        2021-11-10 11:22:11.369 8154-8376/com.saida.brightkitchen D/RtspClient: OPTIONS rtsp://*************:554/rtp/34020000001320000089 RTSP/1.0
        User-Agent: ExoPlayerLib/2.16.0
        CSeq: 0
        2021-11-10 11:22:11.374 8154-8376/com.saida.brightkitchen D/RtspClient: RTSP/1.0 200 OK

[2021-11-10 03:43] jiajialaixi commented on #9676
player = new ExoPlayer.Builder(this)
                .build();
        DefaultTrackSelector trackSelector =new DefaultTrackSelector(this);
        player.addAnalyticsListener(new EventLogger(trackSelector));

        MediaItem mediaItem = MediaItem.fromUri(url);
        RtspMediaSource.Factory factory = new RtspMediaSource.Factory();
        factory.setDebugLoggingEnabled(true);
        RtspMediaS

[2021-11-10 07:12] AndreasVogelfrei opened #9677 "r2.16.0: How to get IcyHeaders?"
Up to version 2.15.1 I used "Player.Listener.onStaticMetadataChanged" to get the IcyHeaders (name, genre, bitrate) for audio streams.

As "Player.Listener.onStaticMetadataChanged" was removed in 2.16.0 none of the recommended replacements (like Player.getMediaMetadata, Player.Listener.onMediaMetadataChanged) seems to contain the IcyHeaders (name, genre, bitrate).

What is the recommended way with

[2021-11-10 09:43] tonihei commented on #9675
I don't think this ever worked when setting overrides for the extension renderer only. The reason is that the `DefaultTrackSelector` assigns one audio track to the default renderer, and the override just assigns the second audio track to the extension renderer in addition to the first one. To make this work, the default selection needs to be removed specifically by making an empty override for the

[2021-11-10 11:57] krocard commented on #9675
Yes this is what I had in mind when I introduced the API. It makes for a much simpler usage for the client to only have to set one override per type.

The cl adding the logic of disabling every over track of the same type is still pending as it complexify the logic significantly due to backward compatibility for legacy overrides.

I did not realize that it would cause an actual issue in multi audi

[2021-11-10 12:42] ojw28 commented on #9670
Please can you provide a citation for this? From the quick search I did, it seems to be somewhat of a convention/recommendation. It doesn't appear to be a requirement.

[2021-11-10 13:18] ojw28 commented on #9569
You haven't stated what the issue is. All I can see in the log file is some debug logging that does not appear to be indicative of a problem.

If you want us to look at something here, please reply here clearly describing what the issue is that you'd like us to analyze. In the meantime, I'll go ahead and close this issue. We will reopen it if further information is provided.

[2021-11-10 13:18] #9569 closed, assigned to claincly

[2021-11-10 13:22] ojw28 commented on #9232
Regarding the underlying platform issues:

1. A fix for the stretched video issue has been identified, and will be included in future updates to GoogleTV devices.
1. The kernel panic issue is still under investigation.

[2021-11-10 13:54] LostInAbyss commented on #9614
Thanks for answer!

[2021-11-10 14:10] claincly commented on #9614
I'm closing it for now, please feel free to re-open.

[2021-11-10 14:10] #9614 closed, assigned to claincly

[2021-11-10 14:20] #9367 closed, assigned to kim-vde

[2021-11-10 14:42] christosts commented on #9671
@krocard can you take a look?

[2021-11-10 14:44] christosts commented on #9661
@krocard can you take a look?

[2021-11-10 14:46] christosts commented on #9664
@claincly can you take a look?

[2021-11-10 14:47] christosts commented on #9676
@claincly can you please take a look?

[2021-11-10 14:51] vip5912 commented on #9671
What do you need? TV screen or receiver display picture? Some else?
Emby client (ExoPlayer) play also as Stereo.
Kodi play as DD 5.1 (passthrough).

[2021-11-10 14:59] claincly commented on #9664
You can try commenting out the lines 515-523 in `RtspMediaPeriod`.

The problem is the server response
[code]

should be
[code]

[2021-11-10 15:01] FunkyMuse opened #9679 "r.2.16.0 addTextOutput alternative"
Before I was able to add custom styled subtitles view with because my video applications implements our own UI

[code]
then it was deprecated and replaced with

[code]
Now it's totally removed, the suggestion is to use Player

![image](https://user-images.githubusercontent.com/25645122/141136730-6315179a-f71c-4b4e-8e80-1752656fc215.png)

But I'm unable to find the implementation for the `TextCompo

[2021-11-10 15:04] claincly commented on #9676
Have you entered background while RTSP setup is happening (before the playback starts)? Does it play if you don't enter background?

Every RTSP message bears a cSeq number, and it seems your server did not respond to the message with cSeq 3.

[2021-11-10 15:13] icbaker commented on #9679
From the [2.16.0 release notes](https://github.com/google/ExoPlayer/blob/r2.16.0/RELEASENOTES.md#2160-2021-11-04):

[2021-11-10 15:13] #9679 closed, assigned to icbaker

[2021-11-10 15:45] tonihei commented on #9674
`(Exo)TrackSelection.getSelectedFormat()` was never meant to be called by app code as it's not thread safe and also not aligned with the rest of the player state.

The simplest way to listen to adaptive video format changes is to listen to `Player.Listener.onVideoSizeChanged`, or alternatively to `AnalyticsListener.onDownstreamFormatChanged` (which contains more details like the actual `Format` an

[2021-11-10 15:45] #9674 closed, assigned to tonihei

[2021-11-10 15:55] krocard commented on #9671
Could you provide us with a bug report? I suspect the issue is that the passthough capabilities are not detected.

If you're unable to share [bug reports](https://developer.android.com/studio/debug/bug-report) or test content publicly, please send them to dev.exoplayer@gmail.com using a subject in the format "Issue #1234" ("#1234" is replaced with your issue number). Please also update this issue

[2021-11-10 16:35] bianchina3 commented on #9664
Thanks for the reply. your proposal patch works, but for me it's frustrating to work with patching code

[2021-11-10 16:47] Goshin commented on #9674
@tonihei Many thanks. `AnalyticsListener.onDownstreamFormatChanged`works, but seems like it does not work for HLS streams with only one track.
Then I try `AnalyticsListener.onVideoInputFormatChanged` instead and it works like a charm!

[2021-11-10 17:33] claincly commented on #9664
I understand your frustration having to patch the code, but please note that this is a error in the server.

By RTSP spec, the RTP-Info header in RTSP PLAY response should include timing info for both audio and video tracks, in your case they are identified as
- Video: `rtsp://192.168.0.110/1/trackID=0`
- Audio: `rtsp://192.168.0.110/1/trackID=1`

But the server responded with wrong identifiers, f

[2021-11-10 17:33] #9664 closed, assigned to claincly

[2021-11-10 19:07] gregni2 commented on #9565
Is there a plan to address this in the future? We work on a similar app to Maxwell's and have been discussing upgrading the exoplayer but have not for fear of this issue. Should we attempt a work around or should we just wait for a fix? Thanks.

I'd also like to push back on the designation of this as a 'device specific' bug. This is a regression from a previous build and from the description seem

[2021-11-10 20:08] vip5912 commented on #9671
I sent bug report to dev.exoplayer@gmail.com using a subject "Issue #9671"
Stock Media Player plays DD 5.1 as DD 5.1 (passthrough).

[2021-11-11 02:22] sles940208 opened #9680 "I have multiple phones that cannot run ExoPlayer"
<details>
  <summary>logs</summary>

2021-11-10 15:28:50.706 4315-6759/? D/CustomFrequencyManagerService: FrequencyrequestList.getNextMinGPURequest, index: 0
2021-11-10 15:28:50.986 4315-4328/? I/system_server: Background concurrent copying GC freed 285129(23MB) AllocSpace objects, 8(520KB) LOS objects, 27% free, 64MB/88MB, paused 307us total 413.738ms
2021-11-10 15:28:51.988 6493-6493/? W/adbd: t

[2021-11-11 06:11] jiajialaixi commented on #9676
Thank you very much. The problem with the server has been found out

[2021-11-11 06:11] #9676 closed, assigned to claincly

[2021-11-11 06:55] moneytoo commented on #9665
What would be the best way to detect user selected "Auto" audio track (in `StyledPlayerView`)? Right now I'm  detecting it by analyzing `Format` mime type of `TrackSelectionOverrides` from `ExoPlayer.getTrackSelectionParameters()`. But that doesn't seem like the best way as I do not filter it by `C.TRACK_TYPE_AUDIO`...

[2021-11-11 07:00] SashiWork opened #9681 "Download content only through Wifi"
Hi Team,
Is there a way to download the content through Wifi only.
If there is a way, please do let us know.

[2021-11-11 08:03] shelby-000 opened #9682 "How to add subtitle to exoplayer in new version"
Format textFormat = Format.createTextSampleFormat(null, MimeTypes.APPLICATION_SUBRIP,
        null, Format.NO_VALUE, Format.NO_VALUE, "en", null, Format.OFFSET_SAMPLE_RELATIVE);

`createTextSampleFormat` is throwing error says can not resolve method.

[2021-11-11 08:38] tonihei commented on #9665
I think this is the only way to make sure, yes. We have a private method `TrackSelectionOverride.getTrackType` which returns the track type, seems we could make this public.

[2021-11-11 09:25] moneytoo commented on #9682
I'm adding SRT subtitles like this:
[code]

[2021-11-11 09:58] icbaker commented on #9682
@moneytoo's suggestion looks right - there's some docs on the same topic here: https://exoplayer.dev/media-items.html#sideloading-subtitle-tracks

[2021-11-11 09:58] #9682 closed, assigned to icbaker

[2021-11-11 11:08] MiaJiaXa opened #9683 "How to reset the back/forward increments on 2.16.0?"
I need to implement **multi-speed** fast-forward/backward when the user multi-tap the forward/backward button.

The above is written at the release note for 2.16.0
we were using the `DefaultControlDispatcher(long fastForwardIncrementMs, long rewindIncrementMs)` or `playerView.setFastForwardIncrementMs(positionOffset)`/`playerView.setRewindIncrementMs(positionOffset)`.

but this class is already re

[2021-11-11 11:37] Ste-RH opened #9684 "Overriding AdaptiveTrackSelection to adjust output of canSelectFormat for selective track playback based on resolution/bitrate"
Version 2.15.0

Apologies if this has been covered somewhere else...have been trawling through issues for a while and cannot find a solution or even a hint as to how to address the problem I am facing.

Essentially I am AdaptiveTrackSelection and it's factory so I can override 'canSelectFormat'.  My aim is to limit what adaptive stream is downloaded/played on resolution and/or bitrate.  I have got

[2021-11-11 11:44] tamanna-seg opened #9685 "How to play multiple Clipped media sources of Audios with different start timestamps using Merged Media Source?"
Unfortunately we can't answer all questions. Unclear questions or questions with
insufficient information may not get attention.

Before filing a question:
-------------------------

- Ask general Android development questions on Stack Overflow
- Search existing issues, including issues that are closed
  https://github.com/google/ExoPlayer/issues?q=is%3Aissue
- Consult our developer website (https

[2021-11-11 15:54] tonihei commented on #9643
I can play the stream (on a 100mbps network) without issues on the 7Mbps track (without any modifications to ExoPlayer).

However, I noticed that your logcat has some 404 load errors just before switching down, indicating that your network may have had short problems loading the stream and because there isn't a lot of safety buffer available with live streams, the player switched down immediately.

[2021-11-11 16:29] christosts commented on #9677
The ICY headers that you'd get in `Player.Listener.onStaticMetadataChanged` (name, genre, bitrate) are available in `Format.metadata` which you can get from `Player.Listener.onTracksInfoChanged` callback (note: `Player.Listener.onTracksChanged` is deprecated). This snippet should work

[code]

Let me know if this worked on your app.

[2021-11-11 16:30] krocard commented on #9665
The only way right now is to check if any trackGroup in `ExoPlayer.getCurrentTracksInfo()` is currently overridden. This is the same as the old override.

Just looking for any overrides of a given type doesn't give the expected information because that override could be left from a previous Media. Eg. VideoA has an override, VideoB starts playing, the VideoA override is still present but ignored a

[2021-11-11 16:58] tonihei commented on #9665
Ah, yes, for playlists you'd also need to check if the track overrides are actually part of the current item.

I wonder if this is confusing because you can also select tracks by specifying a preferred language for example and for someone looking at the selected tracks, this is probably the same case (=a specific parameter preference has caused this selection). But if we include these settings in

[2021-11-11 16:59] tonihei commented on #9665
I'll close this issue for now because all immediate bugs/questions have been addressed I believe.

[2021-11-11 16:59] #9665 closed, assigned to tonihei

[2021-11-11 22:57] Anatolf opened #9686 "Get screenshot of the video stream when using SurfaceView"
Im using exoPlayer.setVideoSurface(surfaceView). How easy way to get screenshot of the video stream when using SurfaceView?
I have no way to use TextureView because my SurfaceView is ZoomSurfaceView.
How can I get Bitmap from ExoPlayer when using SurfaceView?

[2021-11-12 03:43] MiaJiaXa commented on #9492
Hello, How can we reset the `setSeekBackIncrementMs ` after the `SimpleExoPlayer.Builder.build()`? using the player object to reset this increment? I can't see the setter or other API for this in the player object. and also can't get the builder from the player object.
using 2.16.0
@kim-vde  it very appreciates if you can help me out :)

[2021-11-12 04:54] neeluagrawal04 commented on #9492
Hi @MiaJiaXa
you can simply reset the increment fast forward or backward via setting in exoplayer object while creating it like:-
val player  =  SimpleExoPlayer.Builder()
                    .setSeekBackIncrementMs(15000L)
                    .setSeekForwardIncrementMs(15000L)
                    .build()
This will works.

Thanks

[2021-11-12 06:46] MiaJiaXa commented on #9492
Thanks for the quick reaction. Sorry. Let me make the question clear.
It's my question: https://github.com/google/ExoPlayer/issues/9683
I need to double the increment somehow **after** the player is created. (after `player.Builder.build()`) when the user taps on the button on the controller while playbacking

For example, it is 15S when it is initialized, and it can increase to 30S, 60S when you c

[2021-11-12 07:00] sanojlawrence opened #9687 "[Cast] Changing / Playing audio track in default language in CastPlayer"
I am playing local videos in **CastPlayer** and the video contains multiple audio track, And i want to change audio track in cast player **is there any way i could change audio track ?** or by default i can play a particular audio track ?

I searched all around and couldn't find any documentation for changing audio track in **CastPlayer**. Even in demo app i couldn't find any.

So let me know is t

[2021-11-12 07:12] neeluagrawal04 commented on #9492
you can customise via using the  player.seekTo() method to achieve this till exoplayer does not give the set method for seekBackIncrement/seekForwardIncrement
Check if this can help you.
Thanks

[2021-11-12 07:16] YoussefHenna commented on #8647
I managed to implement a custom DataSource that works with live streaming SRT. I'll leave it here for anyone who might need it. You can also modify it a bit to work with non-live streams.

[Uses srtdroid library](https://github.com/ThibaultBee/srtdroid)

### Factory
[code]

### DataSource
[code]

### Simple usage
[code]

[2021-11-12 07:42] SaurabhOfficial commented on #9622
@rrfrias I have shared the bug-report to dev.exoplayer@gmail.com along with device widevine info capture please check.

[2021-11-12 07:57] AndreasVogelfrei commented on #9677
Thanks a lot for your reply. It is working as expected with this implementation:

        @Override
        public void onTracksInfoChanged(EventTime eventTime, TracksInfo tracksInfo) {
            for (TracksInfo.TrackGroupInfo groupInfo : tracksInfo.getTrackGroupInfos()) {
                if (groupInfo.getTrackType() == C.TRACK_TYPE_METADATA) {
                    TrackGroup group = groupInfo.ge

[2021-11-12 11:19] christosts commented on #9680
From the log file, it looks like you're attempting to play a 4K AVC video on a sasmung device that cannot decode such high resolution. It looks like it's a device-specific problem and not general ExoPlayer issue, however the information is not complete. We have an issue template describing what information would help us provide assistance, and the template can
be found [here](https://github.com/go

[2021-11-12 11:38] christosts commented on #9681
I'm assuming you're referring to downloads for viewing content offline and not general streaming. If my assumption is correct, I'll redirect you to the guide on [Downloading Media](https://exoplayer.dev/downloading-media.html) and specifically on [Setting the requirements for downloads to progress](https://exoplayer.dev/downloading-media.html#setting-the-requirements-for-downloads-to-progress) whe

[2021-11-12 11:38] #9681 closed, assigned to christosts

[2021-11-12 12:12] christosts commented on #9683
Let me confirm I understood the question, I also read your comments on #9492: In your app, when the user changes the player speed, you would re-construct the `DefaultControlDispatcher` with the updated `fastForwardIncrementMs` and  `rewindIncrementMs`, is this correct?

If my understanding is correct, you can achieve the same by using the `ForwardingPlayer`: wrap the `Player` in a `ForwardingPlaye

[2021-11-12 12:23] christosts commented on #9684
Please could you provide a minimal patch to the demo app so that we can reproduce this? Thanks!

[2021-11-12 12:29] MiaJiaXa commented on #9683
Yeah, It helped. A lot of thanks! @christosts  :)

[2021-11-12 12:29] #9683 closed, assigned to christosts

[2021-11-12 12:38] christosts commented on #9686
Have you looked at the [PixelCopy](https://developer.android.com/reference/android/view/PixelCopy) class?

[2021-11-12 12:45] christosts commented on #9687
Can you please provide a link to the stream so we test? If you're unable to publicly, please send it to dev.exoplayer@gmail.com with subject "Issue #9687" and update this issue to indicate you've done this.

[2021-11-12 16:53] yelhouti opened #9688 "Provide a way to "dynamically" enable/disable seeking"
### [REQUIRED] Provide a way to "dynamically" enable/disable seeking
The current version doesn't allow to dynamically disable seeking and edit command in general.

### Proposed solution
I can understand the need for permanent commands, but maybe the default implementation should have both permanent and modifiable commands,  when calling getAllCommands or if a command isAvailable, returns/check bot

[2021-11-12 17:52] christosts commented on #9688
If you're using the `ForwardingPlayer`, you can change its behavior dynamically, right? I'm slightly copying the example given in  #8836, and I'm subclassing `ForwardingPlayer`:

[code]

Subclassing in one way, there are multiple ways to do this.

[2021-11-12 17:54] yelhouti commented on #9688
My point is that this common behavior enough to have it implemented in the default player.

[2021-11-12 19:05] sanojlawrence commented on #9687
@christosts Here is the stream link : https://storage.googleapis.com/jlplayer/Dolittle.mkv and i use.
the `MediaItem.builder`

[code]

**FYI :** i use **StyledPlayerView** and **StyledPlayerControlView** in my player manager.
[code]

I have played the stream in `Exoplayer` i was able to change audio track with default controls.

![Screenshot_20211113-002314](https://user-images.githubusercontent.c

[2021-11-13 04:39] warren-bank opened #9689 "[feature request] add support to RtspMediaSource for using a LoadErrorHandlingPolicy"
_RtspMediaSource.Factory_ marks the method [`setLoadErrorHandlingPolicy`](https://github.com/google/ExoPlayer/blob/r2.17.1/library/rtsp/src/main/java/com/google/android/exoplayer2/source/rtsp/RtspMediaSource.java#L156) as: __TODO__ (_internal b/172331505_)

I didn't see an external/public issue to track progress on this feature; hope nobody minds my adding one.

[2021-11-13 08:18] Ste-RH commented on #9684
Sure thing! Patch made on latest pull of dev-v2.

I am using HLS->Apple 16x9 basic stream (TS) for testing.

If you filter logcat on 'STEEE' you will see when the limiting is changed first to 640x480 max, then up to 1920x1080.  The switch back up never seems to happen, it gets stuck on playing back the low resolution limited stream.

Note that if I don't add the load controller with 5000ms bufferi

[2021-11-13 13:24] ThibaultBee commented on #8647
@YoussefHenna I am trying to test your code, the player connects but it won't display the stream.
Where did you get your SRT live stream from?

[2021-11-13 13:32] YoussefHenna commented on #8647
I run srt-live-transmit from a local machine and stream to it using OBS. And following the code above, it autoplays after a couple of seconds of preparing and showing a black screen. All devices involved are on the same local network.

I tested the app [available here](https://github.com/ThibaultBee/SrtPlayer) on my local environment and it's working as expected. It's probably an issue from your S

[2021-11-13 18:21] moneytoo opened #9690 "Subtitle track selection resets after switching audio track"
@tonihei Here's another track selection issue (this one was reported to me by @DarremMolko).

I added this [test5.mkv](https://raw.githubusercontent.com/ietf-wg-cellar/matroska-test-files/master/test_files/test5.mkv) file to the json in the ExoPlayer Demo.

Steps:

1. Switch the subtitle from the default "English" to let's say "German".
2. Switch audio from "Auto" to "English, Mono".

The subtitle

[2021-11-13 20:51] Sayum24 commented on #9550
I have got the same error updating the Exoplayer librarys from **2.15.1** to **2.16.0.**
At the old version everything is working fine, now I get the error.
I'm gonna rollback to the old version for now...

[2021-11-14 23:25] Clement-Jean commented on #9640
Any idea? I'm still trying to find the solution @marcbaechinger

[2021-11-15 02:04] #9450 closed, assigned to krocard

[2021-11-15 05:58] rkarimi88 commented on #9649
Hi.
I'm using new version (2.16.0) and I still have the same problem (just for subtitles). When I switch subtitles to "None", I cannot switch it back to my subtitle anymore.
Is this problem solved? Shall I add any additional code to my app to fix it?

Thanks in advance.

[2021-11-15 08:18] tonihei commented on #9690
Thanks, that was an oversight in https://github.com/google/ExoPlayer/commit/cb60425aabe12904531c26bd24a88ed83764a20e where we replace the selections instead of adding to them.

[2021-11-15 10:00] kim-vde commented on #8467
I am closing this issue as the corresponding pull request has now been merged.

[2021-11-15 10:00] #8467 closed, assigned to kim-vde

[2021-11-15 10:49] #9568 closed, assigned to tonihei

[2021-11-15 10:55] tonihei commented on #9274
I tried playing this stream with one of the example IMA ad tags and everything works fine. For complete reproduction steps I would need the IM ad tag URI as well to be able to test under the same conditions.

[2021-11-15 10:58] tonihei commented on #9571
This could also be related to using two different versions of ExoPlayer dependencies in your gradle setup. You could display the full dependency tree with `gradlew :app:dependencies` (or similar, depending on your setup) and look for ExoPlayer dependencies with different version numbers.

[2021-11-15 10:58] #9580 closed, assigned to tonihei

[2021-11-15 11:05] #9675 closed, assigned to tonihei

[2021-11-15 11:13] tonihei commented on #9579
Although we parse the values, we currently don't save the result in the `Representation` class. Will mark as an enhancement.

[2021-11-15 12:06] #9587 closed, assigned to tonihei

[2021-11-15 12:06] #9582 closed, assigned to tonihei

[2021-11-15 12:07] #9594 closed, assigned to tonihei

[2021-11-15 13:23] tonihei commented on #9583
Could you provide more details where this problem occurs? The code snippets above look sensible on a cursory inspection, but it's not possible to say if there is any ExoPlayer problem, an app problem or some missing documentation.

[2021-11-15 13:28] tonihei commented on #9584
This is quite a lot of code to parse and we generally don't provide generic app support.

Scanning through your setup, it seems that you provide different cache directories for download and for playback and that's probably why the downloaded data can't be found:
[code]
`VideoCache.getCache` and `VideoCache.getCacheForPlay` seem to return two different directories.

[2021-11-15 13:28] #9584 closed, assigned to tonihei

[2021-11-15 13:36] tonihei commented on #9585
`DrmSessionException` (which usually wraps `MediaDrm.MediaDrmStateException` contains an `errorCode` that can distinguish between various DRM related errors. Is that what you are looking for? If not, please further clarify your question.

[2021-11-15 13:53] tonihei commented on #9586
As far as I can tell, this is probably a known issue where some devices have issues applying `VIDEO_SCALING_MODE_SCALE_TO_FIT_WITH_CROPPING` on `SurfaceViews` (internal ref: b/34159087) when the video is rendered using software decoders.

I'll close this issue as device-specific as we are not aware of any workarounds we could apply on ExoPlayer side. Feel free to also report this issue to the devi

[2021-11-15 13:53] #9586 closed, assigned to tonihei

[2021-11-15 14:01] tonihei commented on #9588
@krocard  Do you know anything about the `AudioTrack` failures caused by the setup above? In particular `getOutput() could not find output for stream 3, samplingRate 44100,format 184549376, channels 3, flags 1` sounds suspicious. I wonder if the problem is that we are still sending DTS audio although the new output device (the headphones) are no longer compatible.

[2021-11-15 14:25] christosts commented on #9677
Re-opening to improve how Icy headers are propagated to the app

[2021-11-15 14:44] #9690 closed, assigned to tonihei

[2021-11-15 14:51] tonihei commented on #9615
I'm not aware of any removed methods that no longer work, so I think whatever you are planning to do in the old code should still work the same in the new code. A general note in that regard: It's unclear what you are trying to achieve exactly and usually we don't expect apps to update `AdPlaybackState` themselves unless they have a customized `AdsLoder`.

Using `withNewAdGroup` adds a *new* ad gr

[2021-11-15 18:08] moneytoo opened #9692 "Unable to select subtitle track after disabling"
@tonihei Here's another track selection issue, which still lives in the `dev-v2` branch (as well as in `dev-v2-r2.16.1`).

I added this [test5.mkv](https://raw.githubusercontent.com/ietf-wg-cellar/matroska-test-files/master/test_files/test5.mkv) file to the json in the ExoPlayer Demo.

Steps:
1. Switch the subtitle from the default "English" to "None".
2. Try switching back to the "English" - this

[2021-11-15 18:15] whopavan commented on #7789
Hey, I was trying to use a WebM file with transparent background in my app but instead of the background being transparent it's grey, is there no Android support for it?

[2021-11-15 18:39] mirswith commented on #7789
Unfortunately no, it does not yet support it.  (tested with 2.14.0 and later release notes do not mention it).

[2021-11-15 18:57] ThibaultBee commented on #8647
Thank you for your reply but I still can get read the stream. I guess something is wrong with how I use the player. I have the feeling that Exoplayer does not understand it receive a TS file.
On ffmpeg side, I execute:
`ffmpeg -f lavfi -re -i smptebars=duration=300:size=1280x720:rate=30 -f lavfi -re -i sine=frequency=1000:duration=60:sample_rate=44100 -pix_fmt yuv420p -c:v libx264 -b:v 1000k -g 30

[2021-11-15 19:28] krocard commented on #9588
ExoPlayer currently doesn't support audio capability change. When an AV receiver is available, ExoPlayer will play directly DTS without decoding it (passthrough mode). If the AV receiver is disconnected during playback, ExoPlayer doesn't support switching from passthrough to decoding the media on the CPU to stereo.

The reason the issue doesn't appear when the ffmpeg renderer is prefered is that t

[2021-11-16 05:18] SashiWork opened #9693 "Custom DataSource.Factory with different headers"
Hi Team,

We are using a Custom DataSource.Factory for playing the encrypted HLS content where we pass a Token in headers.

But when we are sideloading the Subtitles. The subtitles are not working because of the Header Token which we added for HLS content.

Is there a way to overcome this situation?
where we can exclude the header for subtitles through Custom DataSource.Factory.

Below is the Cust

[2021-11-16 07:58] YoussefHenna commented on #8647
The only difference between your setup and mine is that I use `srt://` in both source and destination URLs. Whenever I used `udp://` in the source URL, I couldn't get the stream working on any SRT player (VLC or even the Haivision mobile app).

Try something like this `srt-live-transmit srt://:1234 srt://:9998 -v` and try it out. I'm not sure if this is an issue with srt-live-transmit or maybe I'm

[2021-11-16 08:38] Romantic-LiXuefeng opened #9694 "Force setting the audio output device"
In the application scene,  When I'm playing the movie with `ExoPlayer` on Phone, normally the sound output through the speaker.  When a headphone is plugged into the jack, the sound directly to the headphone.  I hope even if a headphone is plugged into the jack, I still need to force output through the phone speaker.  At the same time, I want to use the headphone to communicate with other guys.  I

[2021-11-16 08:44] tonihei commented on #9692
Thanks, we also discovered this yesterday. There is also another similar issue where the "Auto" button for audio doesn't work when the audio tracks have been manually disabled by app code.

[2021-11-16 08:55] tuesda opened #9695 "SQLiteDiskIOException disk I/O error (code 4874 SQLITE_IOERR_SHMSIZE)"
- Clear reproduction steps including observed and expected behavior
  - reproduction steps:
    - when device receive 'DEVICE_STORAGE_LOW' event
    - create SimpleCache object

  - expected:
    - no crash

- Output of running "adb bugreport" in the console shortly after encountering

[code]

- ExoPlayer version number: 2.14.0
- Android version: Android 9
- Android device: Meizu 16T

[2021-11-16 09:21] ziem commented on #9539
I think this is the exact copy of the StackOverflow question from the first comment: https://askandroidquestions.com/2020/10/21/how-do-you-set-the-album-art-image-for-an-androidx-mediaroutecastdialog-using-the-exoplayer-cast-library-extension/

[2021-11-16 09:35] tonihei commented on #9628
The IMA ads overlay will automatically display the remaining ad time and this has nothing to do with how early the ad information is preloaded by the player. You also shouldn't customize the ads UI per IMA SDK policy.

This is working as intended because the ad content is only chosen just before the player reaches the actual cue point.

This value is also not related to your question as far as I c

[2021-11-16 10:04] Romantic-LiXuefeng commented on #9694
[forcing-sound-output-through-speaker-in-android](https://stackoverflow.com/questions/2917184/forcing-sound-output-through-speaker-in-android) This worked to force sound output through speaker when `ExoPlayer` playing the movie if a headphone is plugged into the jack.  But at the same time, to open the audio player app, the audio's sound also output through speaker, not headphone.

[2021-11-16 10:39] ghost opened #9696 "Fatal Exception: java.lang.SecurityException"
Hi,
We are getting these crash reports on Android 11, and we don't know how to reproduce them:

[code]
I can see there is a patch for `Requirements.isInternetActivityValidated()` here: https://github.com/google/ExoPlayer/commit/140e110e4410e6226a6411a5246e08a9c2d1fd91 which looks quite similar to the one we are seeing - I'm not saying it's the same. Has this been fixed in any version of ExoPlayer

[2021-11-16 11:00] pavhofman opened #9697 "Sequence check in RtpH264Reader.processFragmentationUnitPacket skips packet number 65,535"
Hi,
IMO the check in https://github.com/google/ExoPlayer/blob/02f7aafe67b4893134a31ea55a3ba0f0535df145/library/rtsp/src/main/java/com/google/android/exoplayer2/source/rtsp/reader/RtpH264Reader.java#L262 skips and drops new packet number 65,535. The current calculation yields 0 for previousSequenceNumber = 65,534, however the next packet has number 65,535, while its successive packet has 0.

IMO th

[2021-11-16 11:10] syg4806 commented on #9670
I research this with [Using Advanced Encryption Standard (AES) Counter Mode With IPsec Encapsulating Security Payload (ESP)](https://datatracker.ietf.org/doc/html/rfc3686), and it seems a standard.
I think the better word for IV in AES/CTR is `Counter Block` according to the above doc.
[Counter Block Format](https://datatracker.ietf.org/doc/html/rfc3686#section-4) is a 4-byte nonce, 8-byte IV, and

[2021-11-16 11:36] pavhofman commented on #9697
Actually my RTP camera sends packets numbered from 1 to 65,535 which requires the check to be
int expectedSequenceNumber = (previousSequenceNumber % RtpPacket.MAX_SEQUENCE_NUMBER) + 1;

It's possible other RTP sources send numbers from 0 to 65,534 for which the existing code is correct. So I will just modify my local exoplayer source.

Thanks,

Pavel.

[2021-11-16 11:45] krocard commented on #9588
To clarify, `EXTENSION_RENDERER_MODE_ON` has nothing to do with this issue. And forcing extension renderer is a workaround for the issue. I have updated the title.

[2021-11-16 11:55] krocard commented on #9588
Capability changes used to be very rare as they only occurred when users disconnected their AV receiver. If new AV receiver don't support non PCM formats when BT is connected, this issue might become more common. It might be worth handling the issue.

[2021-11-16 12:18] vishnuchilakala commented on #8624
Any updates on this issue? I need a method that does exactly the same.
If not, can you please provide a workaround to clear downloads without an ID?
Thanks.

[2021-11-16 12:56] tamanna-seg commented on #9685
@christosts @marcbaechinger  is this can be possible or not with Exo player?

[2021-11-16 13:45] ojw28 commented on #9696
It looks the same. The issue was fixed in 2.15.1.

[2021-11-16 13:45] #9696 closed, assigned to ojw28

[2021-11-16 13:46] marcbaechinger commented on #9693
I'm not entirely sure how you are achieving what you do  from the information you provided. So I assume you are injecting your `CustomDataSourceFactory` to the `DefaultMediaSourrceFactory` which you then use for building your player. You then define the subtitles in a `MediaItem` which you pass to `player.setMediaItem(mediaItem)` or another media item based method.

If this is the case then the `D

[2021-11-16 13:50] claincly commented on #9697
It is indeed problematic, will fix.

[2021-11-16 15:15] kim-vde commented on #9507
Hi,

We do not currently support 7.1 channels for EAC3. As pointed out by @christosts, [`Ac3Util#parseAc3SyncframeInfo`](https://github.com/google/ExoPlayer/blob/r2.16.0/library/extractor/src/main/java/com/google/android/exoplayer2/audio/Ac3Util.java#L223) returns up to 6 channels.

There was a pull request to add support (#3085) but it hasn't been merged (I think due to lack of resources in the D

[2021-11-16 16:21] krocard commented on #9588
Opening this and marking as enhancement.

There are 2 use case that ExoPlayer could support:
 1. When a capability is lost and this lead to a player error, the player should recover by targeting a supported format
    - this already partially happen today, the player will try to recover but is not aware of the capability change, so it retries the same format, leading to a fatal failure.
    - this

[2021-11-16 16:25] #9692 closed, assigned to tonihei

[2021-11-16 16:33] krocard commented on #9588
Design thoughts for when we implement this (not tested):

A `Builder` will probably be added soon to `DefaultAudioSink` as part of the configurable buffer size rework. After this is done, instead of taking a `AudioCapabilities`, the builder should take a `() -> AudioCapabilities`. This would allow the `DefaultAudioSink` to update its capabilities when a change is detected.

Any capabilities decrea

[2021-11-16 18:35] krocard commented on #3438
Fade-out and fade-in could be implemented in a very similar manner to how gapless is currently implemented. Instead of trimming the beginning and end of the track a `FadeAudioProcessor` would fade it in and out.

The main issue with Cross-fade is the audio contraction and player position. For example how to crossfade 2 media with video tracks? Should the video also crossfade/fade to black? This is

[2021-11-16 20:56] moneytoo opened #9698 "Incorrect label in audio track selector overview"
@tonihei Here's another smaller issue in the `dev-v2` branch.

I added this [test5.mkv](https://raw.githubusercontent.com/ietf-wg-cellar/matroska-test-files/master/test_files/test5.mkv) file to the json in the ExoPlayer Demo.

Steps:
1. Switch the audio from the default "Auto" to "English, Mono".
2. The selection overview still shows "Auto".

<img src="https://user-images.githubusercontent.com/107

[2021-11-16 20:59] ThibaultBee commented on #8647
Hi,
I am not how I made it work, could be your `srt://``tip or the fact that I change few things in the `ffmpeg` to reduce gop size.
Anyway, I also improve the way Exoplayer read SRT data: data are read by buffer of TS_BUFFER_SIZE(188 bytes). It is not perfect but it is more efficient. You can have a look on my project.

Thank you for great example :)

[2021-11-16 21:11] YoussefHenna commented on #8647
Glad you got it working! Also like the optimization, I'll definitely add it to my project too.

I'm not sure if this is the plan or not, but you should definitely make your project public once its all done. It would be a great addition to the community.

You've done great work towards SRT support on Android already, so thanks a lot!

[2021-11-16 21:26] ThibaultBee commented on #8647
I am going to make it public but I don't like the fact that it is just a demo. It is not like it is ExoPlayer SRT support but I don't have time for a proper implementation!

You did as well!

[2021-11-16 22:49] rrfrias commented on #9622
The debug logs have only one log TAG. May be you filtered out other logs? Can you share another set of logs?

Also the concern seems to be that you were able to download content before the app detected that the security level for that device was revoked. You can either validate that the device has been revoked or try to acquire a license before downloading content.

[2021-11-16 22:57] paulocoutinhox opened #9699 "The window in Timeline Class was not found"
Hi,

I start have this problem recently:

[code]

Maybe it was removed in some ExoPlayer version.

Can anyone confirm?

[2021-11-16 23:08] paulocoutinhox commented on #9699
This commit can be related?
https://github.com/google/ExoPlayer/commit/b95fba2cb71c62f3c845a532252266a4e178126a#diff-6ce8af6d1d94ca1abe561ae76eb53a9caf7d5358fba7988c2ce7a0ff64cc84b0

[2021-11-16 23:17] giovannyvelezalt opened #9700 "How to provide a renderers list when using ExoPlayer.Builder?"
Hello team,

When we use `ExoPlayer.Builder` we currently provide a list of Renderers that is created using `DefaultRenderersFactory.createRenderers` where we provide some custom listeners.

`exoPlayer = ExoPlayer.Builder(
        exoRenderers as Array<out Renderer>,
        exoTrackSelector,
        exoMediaSourceFactory,
        exoLoadControl,
        bandwidthMeter
      )`

Now that the build

[2021-11-17 02:04] #9388 closed, assigned to christosts

[2021-11-17 06:33] isaacchiang-kkstream commented on #7887
Same question, can CacheUtil cache dash streaming? How to specified the DataSource of DASH?

[2021-11-17 07:16] pavhofman commented on #9697
Thanks a lot. I could not find any official specs for the packet numbering, just that it's 16bit and numbers should be sequential. Maybe some devices start with 0, some with 1 (my camera). It would be surprising if some ended at 65,534, IMO 65,535 is the most logical value.

[2021-11-17 09:03] moneytoo opened #9701 "DefaultTrackSelector doesn't select preferred audio track"
@tonihei Here's another issue in the `dev-v2` branch.

I added this [test5.mkv](https://raw.githubusercontent.com/ietf-wg-cellar/matroska-test-files/master/test_files/test5.mkv) file to the json in the ExoPlayer Demo. Then I added following code to `PlayerActivity`:

[code]

In 2.15.1, the track selector successfully selected the English audio track:

[code]

In `dev-v2`, it keeps selected the def

[2021-11-17 09:52] tonihei commented on #9701
I can't reproduce that. Adding the code snippet above to the demo app correctly selects the English commentary track for this media file.

Note that the `StyledPlayerView` UI doesn't reflect this override (and still shows `Auto`) because it no longer knows about the old style overrides. This is an intentional design decision to allow us to remove a dependency from the UI module to the core ExoPlay

[2021-11-17 09:52] #9701 closed, assigned to tonihei

[2021-11-17 15:37] krocard commented on #9688
Note that the code snippet in https://github.com/google/ExoPlayer/issues/9688#issuecomment-967304677 is not complete as you would want to trigger `onAvailableCommandsChanged` callbacks when the seek status changes.

Dynamic configurable command is on our roadmap, but we haven't yet implemented it because we don't think this is a common use-case.

Of course we are open to pull request shall you dec

[2021-11-17 16:30] marcbaechinger commented on #9700
I would expect that any event that is sent to one of these listeners can be listen to with an `AnalyticsListener`.

You can do something [similar like the demo app does](https://github.com/google/ExoPlayer/blob/release-v2/demos/main/src/main/java/com/google/android/exoplayer2/demo/PlayerActivity.java#L278) to add an analytics listener:

[code]

[2021-11-17 16:37] marcbaechinger commented on #9699
This deprecated method has been removed.

The JavaDoc that you linked above says

[code]

Is this an option for you?

[2021-11-17 16:37] krocard commented on #9694
[Media Routing](https://developer.android.com/guide/topics/media/media-routing) supports changing the output device, but I believe speaker and wired headphones are considered the same device, so your use-case doesn't seem supported.

They are other ways to control the audio routing but are either system APIs or too crude to support your use-case (eg: [setSpeakerphoneOn](https://developer.android.c

[2021-11-17 16:37] #9694 closed, assigned to krocard

[2021-11-17 16:48] marcbaechinger commented on #9685
You should be able to instantiate a media source to an audio file and then use a number of `ClippingMeidaSource`s to wrap them. Then use a `MerginMediaSource` to merge the clipping media sources together and call for instance `exoPlayer.setMediaSource(mergingMediaSource)`.

You would then need to select the track that you want to play with the `TrackSelector`. If you are using the `EventLogger` it

[2021-11-17 16:52] paulocoutinhox commented on #9699
Hi,

The problem is the SDK that we are using. The SDK has an old version of ExoPlayer that use the removed method.

I open a ticket on the company support.

I back to ExoPlayer version 2.14 :(

Thanks.

[2021-11-17 16:52] #9699 closed, assigned to marcbaechinger

[2021-11-17 17:44] kim-vde commented on #9668
**url1**

This file is malformed. Let me explain why. A WAV file consists of a succession of chunks, each with an ID and a size. To read the sample data, ExoPlayer looks for the chunk with ID DATA. It skips the chunks it reads until it finds the DATA chunk by skipping the number of bytes corresponding to the size field of each chunk. The file you provided contains a chunk with ID bext preceding th

[2021-11-17 18:40] giovannyvelezalt commented on #9700
Thank you @marcbaechinger, I reviewed and it will do for almost everything, so I'll ask for a last one that is missing. In the `createRenderers` method we can provide a `TextOutput` implementation which essentially is a listener for cues `TextOutput.onCues(List<Cue> cues)` how can we provide this and where?

[2021-11-17 19:06] giovannyvelezalt commented on #9700
I will answer myself here if it's useful for someone in the future.

The `Player` interface contains an `addListener(Listener listener)` method and the `Listener` interface has an `onCues(List<Cue> cues)` call.

[2021-11-17 19:06] #9700 closed, assigned to marcbaechinger

[2021-11-17 19:22] cantohe opened #9702 "AAC stream stops after 5 seconds on Samsung Android 11"
- ExoPlayer version number: 2.16.0
- Android version: 11
- Android device: Samsung Galaxy Note 10+

Test stream: https://live7digi.antenaplay.ro/radiozu/05710/seg48000-11418914.aac

Debug:
[code]

[2021-11-17 22:30] yeojoyjob opened #9703 "Is it possible to play the RTSP even though it has a video codec error?"
Hi, I hope you're doing well.

I'm working on playing RTSP streaming and ExoPlayer works well with most cameras.
However, with some conditions, it gives me the errors about video codec error.

I was trying to play 4k streaming, which has 4512x1728 resolution.

[code]

and
[code]

With the resolution 3840x1536, it plays well, but we need to provide the highest resolution. Because it connects with t

[2021-11-18 04:44] guoen21 commented on #9608
I also add comment for commit 45857b5,
line 1398, `playlistFormat = playlistFormat.withManifestFormatInfo(muxedAudioFormat);`
In here the language attribute of muxedAudioFormat may be miss, because of the playlistFormat.sampleMimeType is null.

For above audio-only case, it will output the expected result
[code]
But for normal case which has video tracks, muxed audio tracks, and additional audio t

[2021-11-18 06:38] moneytoo commented on #9701
I see that now. My bad. I put the snippet on o wrong line - where it was overridden later on. I initially noticed this issue in my ExoPlayer branch where I probably missed to cherry pick some commits with fixes.

[2021-11-18 08:10] chladto1 commented on #9615
There is no ability to set AdGroup at specific index in the new version. In 2.13.2 we can call `adPlaybackState.adGroups[i] = *`. In 2.15.1 we must call `adPlaybackState.withNewAdGroup(i, timeUs).*` that increase property `adGroupCount` and causes a crash on newly added [line 285 in AdsMediaSource](https://github.com/google/ExoPlayer/blob/2a88f0fb295ff5b56e6fbcbe7e91bdf922cbae13/library/core/src/m

[2021-11-18 08:18] tonihei commented on #9615
`AdPlaybackState` is supposed to be an immutable class and changing the existing array members was never a valid usage. You should be able to modify an existing ad with the various helper methods in `AdPlaybackState`, for example `withAdCount`, `withAdUri`, `withPlayedAd` etc. If there is something specific you need to do that isn't possible via these methods, please describe your use case in more

[2021-11-18 08:27] chladto1 commented on #9615
Use case is described in issue [8810](https://github.com/google/ExoPlayer/issues/8810) and I shared you our code. I can share you our current code that we are using in 2.15.1. Is that what would help?

[2021-11-18 08:28] hufozhu commented on #9668
@kim-vde Thanks a lot for your reply. I will subscribe #5718 waiting for the fix. And I also wonder if there is any possibility Exoplayer could provide more compatibility but less efficient config, because we are making a podcast app which we can not control the media files hosted by podcasters.

[2021-11-18 08:32] tonihei commented on #9615
Issue #8810 is about marking an ad as skipped, which can be achieved with `AdPlaybackState.withSkippedAd`.

[2021-11-18 09:37] mrj976 opened #9704 "Crash ExoPlayer.Builder in android version 5 and 6 (android api 21 and 23)"
When I upgrade exoplayer to version 2.16.0, it crashes when I run the line below the code:
`exoPlayer = ExoPlayer.Builder(this).build()`

I tested on higher Androids version like 10 and 11 (android api 29 and 30) and there is no problem, but in Android version 5 and 6 it crashes (android api 21 and 23)
Previously, in version 2.11.8, which I used, it ran without any problems in all versions of Andr

[2021-11-18 11:27] chladto1 commented on #9615
Yes, we are doing that, but to mark them available, we were call `adPlaybackState.adGroups[i] = AdPlaybackState.AdGroup()` which is not possible in the new version. Call `adPlaybackState = adPlaybackState.withNewAdGroup(i, adTimeUs)` causes crash on [line 285 in AdsMediaSource](https://github.com/google/ExoPlayer/blob/2a88f0fb295ff5b56e6fbcbe7e91bdf922cbae13/library/core/src/main/java/com/google/a

[2021-11-18 11:54] marcbaechinger commented on #9703
This is not RTSP specific I think except that in contrast to a adaptive streaming format with RTSP the is no way to adapt to a  lower quality as far as I can tell.

Like you say and see in the error message the resolution in question gives a `NO_EXCEEDS_CAPABILITIES` for the decoder on the given device that apparently is a `HiSmart 4K ATV4, Hisense, 28`. I don't think there is much you can do agai

[2021-11-18 12:02] tonihei commented on #9615
I'm not sure I understand which part is missing or not working.

 - `withNewAdGroup` adds a new group, and this is not what you want to do if I understand correctly. Instead you want to change an existing ad group.
 - Changing an existing ad group can be done by calling `AdPlaybackState.withAdCount/withPlayedAd/withSkippedAd` etc, which you are using already per your last comment.
 - > but to mark

[2021-11-18 12:38] christosts commented on #9396
I tested the files with ExoPlayer 2.16 on a Pixel 4 (with both the hardware and software decoder) and they play fine. Looking at the code snippet, I noticed two things:

1. On your code snippet, you are not overriding the Activity's `onStop()` method and you're releasing the player only when `onPause()` is called. Maybe your app is not releasing the player properly, therefore the player is keeping

[2021-11-18 12:46] chladto1 commented on #9615
URI of an ad is not available at the moment. We need to set `AdPlaybackState.AdGroup()` at index witch probably corresponds to `withNewAdGroup`. There is no any migration guide, so I am just guessing.

[2021-11-18 13:34] tonihei commented on #9615
If the URI of the ad is not yet available, then you can't mark the ad as available because it would violate state assumption we have about `AdGroup`. Assigning an empty `AdGroup` after it has previously been non-empty is also not supported because the player assumes the number of ads can only grow, not shrink.

Other modifications are allowed: You can add new ads in the group, you can set the ad d

[2021-11-18 13:55] marcbaechinger commented on #9687
`CastPlayer` currently does not support changing tracks I'm afraid. We have the issue marked as an enhancement. Sorry to not be able to give you a better answer.

[2021-11-18 14:12] chladto1 commented on #9615
URIs of all `AdGroups` are not available until they are loaded. We want to make exactly that state. `AdGroup` is available to load. We mark `AdGroup` as skipped and later we mark `AdGroup` as "ready to load".

This was available in previous versions of ExoPlayer with standard API. There was not needed reflection until version 2.15.1.

[2021-11-18 14:15] tonihei commented on #9698
Fixed by the commit above.

[2021-11-18 14:15] #9698 closed, assigned to tonihei

[2021-11-18 14:17] tonihei commented on #9677
Fixed by the commit above. The ICY headers will appear in `onMetadataChanged` as `MediaMetadata.station` and `MediaMetadata.genre`.

[2021-11-18 14:17] #9677 closed, assigned to christosts

[2021-11-18 14:54] ojw28 commented on #9432
Note: We should also remove references to "Auto" and just show which track is selected.

[2021-11-18 15:04] krocard commented on #9661
Tunneling is known to have many device specific issues and it is rarely possible to work around them. As you pointed out, there seems to be a low level error message.

Unfortunately, it is risky to use tunneling if the device has not been tested to work with the media. You could keep it as an advance option of your app.

[2021-11-18 15:16] krocard commented on #9133
Tunneling is known to have many device specific issues and it is rarely possible to work around them. As you pointed out, there seems to be a low level error message.

Unfortunately, it is risky to use tunneling if the device has not been tested to work with the media. You could keep it as an advance option of your app.

[2021-11-18 15:20] krocard commented on #9646
ExoPlayer doesn't currently support this feature for tunneling. Marking as enhancement. A feasibility study is needed first to determined if the tunneling SDK API support it.

[2021-11-18 15:26] yeojoyjob commented on #9703
Thank you

[2021-11-18 15:26] #9703 closed, assigned to marcbaechinger

[2021-11-18 16:02] christosts commented on #9704
We tested ExoPlayer 2.16.0 with a device running Android 5.1 (API level 22) and a Nexus 5 emulator on  API 23 and did not see the issue raised. The stacktrace is coming from a lambda, but there have been lamdas elsewhere in the code for a long time, so I guess it's not an issue with lambda support in the runtime of those devices.

It's a long shot, I wonder if this is somehow related to how progua

[2021-11-18 16:19] sanojlawrence commented on #9687
Thank you will be expecting this feature in upcoming update.

[2021-11-18 16:36] zubcoco commented on #9646
Ok! Thanks for replying.
While waiting for a possible fix, is there a workaround for this problem?

[2021-11-18 17:07] christosts commented on #9636
I assume that GPU memory is occupied after decoding video samples. ExoPlayer does not have direct control over how much memory the platform will use for video decoding. The player sends as many video samples for decoding as the platform (i.e. [MediaCodec](https://developer.android.com/reference/android/media/MediaCodec)) allows it to.

Here's an idea you could experiment with on the latest ExoPlay

[2021-11-18 17:22] christosts commented on #9657
I tested this on a Pixel 3a and a Pixel 3 emulator both on Android 11 with ExoPlayer 2.16, and did not hear a problem. Also compared with Pixels 3 & 4 on Android 12, but I could not spot a difference.

May I ask more details on you setup? Which specific Android 11 devices did you use? Was the emulator for a specific device?

Does this mean you tried streaming the file with the ExoPlayer demo app?

[2021-11-18 17:45] krocard commented on #9646
I discussed it further, and this is a platform limitation. Supporting this is on Android's roadmap but devices won't support it until the next Android release at the earliest.

[2021-11-18 17:46] krocard commented on #9646
I'll close this issue as this is an Android platform limitation not an ExoPlayer one.

[2021-11-18 17:46] #9646 closed, assigned to krocard

[2021-11-18 18:58] emig09 opened #9706 "Closed captions not being displayed"
I'm facing a problem using DASH for a live TV channel since I cannot see CC

Formats I see (for an specific channel) are these 3:

Format(audio_20003=145200.track_id=20003, null, audio/mp4, audio/mp4a-latm, mp4a.40.2, 145200, es, [-1, -1, -1.0], [2, 48000])
Format(audio_20004=145200.track_id=20004, null, audio/mp4, audio/mp4a-latm, mp4a.40.2, 145200, en, [-1, -1, -1.0], [2, 48000])
Format(video=37

[2021-11-18 19:52] christosts commented on #9684
I see if your patch that:
1. You use custom values on the `LoadControl`, all params are set to 5 seconds. I'm assuming you want to queue less data so that resolution switching happens soon.
2. The first time you set the resolution limit on the `VideoStreamLimiter` is 5 seconds after the player is initialized. In my tests, the player had enough time in these 5 seconds to download a lot of data at 1

[2021-11-18 23:27] mrj976 commented on #9704
I tested the demo on the device with Android 6 (API level 23) and it ran without any problems
But when I install my application on the same device, it crashes and gives an error
`com.google.android.exoplayer2.ExoPlayer $ Builder $$ ExternalSyntheticLambda0`
Can be seen in the log

I tested my application in both debug and release versions (enabled and disabled proguard) and there is a problem
I do

[2021-11-19 00:41] kvillnv opened #9707 "AndroidTV - DASH/Widevine - Unable to use 2 video decoders simultaneously on some recent devices - "MediaCodec$CryptoException: Operation not supported in this configuration""
Hi,

There is a new issue spreading on some devices since this summer:
* Sony Bravia KD-75X85J AndroidTV 10 `Build.DEVICE = BRAVIA_VH2`
* Sony Bravia XBR-65X900H AndroidTV 10 `Build.DEVICE = BRAVIA_VH1`
* Hisense 65U8G AndroidTV 10 (detected this week)

I am using the latest exoplayer version: 2.16.0
While looking for regressions in my project, I went all the way back to exoplayer 2.9.6 and still

[2021-11-19 05:08] bhavikjethava commented on #9597
When I played without animated overlay it run perfectly.
Also, I have send demo app to dev.exoplayer@gmail.com

[2021-11-19 09:14] tonihei commented on #9615
There is no "ready to load" state I think because you'd need to either reset it to UNAVAILABLE or AVAILABLE, depending on whether the ad URI has already been set.

So to clarify, you need a method to reset the final ad states (SKIPPED, ERROR, PLAYED) back to (UNAVAILABLE or AVAILABLE), allowing the player to pick up the ad again for playback the next time it plays at this position. The method woul

[2021-11-19 09:25] chladto1 commented on #9615
Yes, method like `AdPlaybackState.withResetAdGroup(int adGroupIndex)` that set everything to the same state as constructor would be great!

[2021-11-19 09:32] jarhoax commented on #3752
Any update/plans on implementing this? Thanks.

[2021-11-19 10:48] tonihei commented on #9615
It wouldn't :). The method would keep ad count, ad URIs, the ad group time and known ad durations. But if I understand the requirements correctly, this is also what you need to reset the skipped state.

[2021-11-19 11:04] chladto1 commented on #9615
If I remember correctly, there was some Exo/IMA code that requires exactly that state. Maybe empty `states` or `uris` array or `count` as `C.LENGTH_UNSET`. For that reason, we are setting `AdPlaybackState.AdGroup(adTimeUs)` at index. Other solutions causes an errors. I can send you our actual code and you can try it. Maybe you will find a better solution :)

[2021-11-19 11:13] marcbaechinger commented on #9707
Thanks for the detailed report.
@rrfrias may I ask to look into this?

[2021-11-19 11:17] icbaker commented on #9707
@kvillnv Can you try an alternative workaround and see what happens: When building your `DefaultDrmSessionManager` instance for the PiP player, can you try calling [`Builder#setUseDrmSessionsForClearContent(C.TRACK_TYPE_AUDIO, C.TRACK_TYPE_VIDEO)`](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/drm/DefaultDrmSessionManager.Builder.html#setUseDrmSessionsForClearContent(@com.googl

[2021-11-19 11:38] christosts commented on #9704
Next step of investigation: the runtime on these devices does not like the inline lambdas in ExoPlayer.Builder (not sure why and we have plenty of lambdas elsewhere in the code)

Let's try two things:
1. Can you please share with us a minimal Android Studio project where this is happening? You can either attach a project here or share a link. If you can't share anything publicly, you can send us a

[2021-11-19 11:43] tonihei commented on #9615
I tested setting all ads to SKIPPED initially (to prevent playing them although they are loaded) and then after a while I reset just their state back to AVAILABLE (keeping all other values). After this point they started playing again as expected, so I think such a method would solve the general problem of resetting ads.

Depending on your customization of the ads loader, it could be that you need

[2021-11-19 11:51] icbaker commented on #9704
@mrj976 What version of the Android Gradle Plugin are you using in your project? I think for lambda support it must be higher than 3.0.0: https://developer.android.com/studio/write/java8-support#supported_features

The ExoPlayer demo app uses 7.0.3: https://github.com/google/ExoPlayer/blob/r2.16.1/build.gradle#L20

You must also turn on Java 8 support in every `build.gradle` file in your project t

[2021-11-19 11:53] chladto1 commented on #9615
Glad to hear it, thanks.

Yes, I know. We are keeping track with the original IMA extension, but our version has a lot of modifications to "solve" save instance state, our smart seek feature, delayed responses, UI customizations, ...

[2021-11-19 12:04] marcbaechinger commented on #9706
If you are [using `EventLogger`](https://exoplayer.dev/debug-logging.html#media-tracks) it is very easy to see the tracks of a stream in the logs.

Selecting a subtitle track can be done by using `TrackSelectionParameters` like the snippet below shows:

[code]

[2021-11-19 13:40] thaleslima opened #9710 "Getting IllegalArgumentException for XiaomiTV devices"
Issue Description

On Xiaomi devices getting IllegalArgumentException for XiaomiTV devices. Here is the stacktrace

[code]

Steps to reproduce

1. Play any video(in Exoplayer demo as well) and do backpress, you will get the exception.

Device Info

- API LEVEL = 28
- DEVICE = aquaman
- MANUFACTURER = Xiaomi
- MODEL = MiTV-AESP0

Exoplayer Version

- 2.16.1

Here is the bug report.
[bugreport-aquam

[2021-11-19 14:10] ojw28 commented on #9608
This is a good observation. We'll take a look; thanks!

There is a TODO about this [here](https://github.com/google/ExoPlayer/blob/r2.16.1/library/hls/src/main/java/com/google/android/exoplayer2/source/hls/playlist/HlsPlaylistParser.java#L529). If you've implemented it, please feel free to send us a pull request. If you've implemented it in a different way then that might also be interesting, or y

[2021-11-19 14:45] merlin-zaraza commented on #9550
You have to set `setChannelNameResourceId` to make notification channel. Hey, ExoPlayer team, please move `ChannelNameResourceId` to Builder constructor - it's mandatory field.

[2021-11-19 15:04] tonihei commented on #9615
Added the method in the commit above. Closing this issue accordingly.

[2021-11-19 15:04] #9615 closed, assigned to tonihei

[2021-11-19 15:07] marcbaechinger commented on #9550
@merlin-zaraza Some apps may want to create the channel itself instead of having it created automatically. In such a case only the `channelId` needs to be set. The java doc of `setChannelNameResourceId` is saying that it needs to be set to a valid value if the channel should be automatically created.

[2021-11-19 15:09] marcbaechinger commented on #9550
I marked this as a `documentation candidate` to document the constructor argument `channelId` in more detail/. It should say that the channel needs to be already created or else `setChannelNameResourceId` needs to be called.

[2021-11-19 15:33] emig09 commented on #9706
Thanks @marcbaechinger I've added the EventLogger and, for an specific channel I have:

   MediaCodecVideoRenderer [
     Group:0, adaptive_supported=YES [
       [X] Track:0, id=video=379968.track_id=10011, mimeType=video/avc, bitrate=379968, codecs=avc1.4D401E, drm=[widevine], res=416x240, fps=29.97003, supported=YES
       [X] Track:1, id=video=579968.track_id=10010, mimeType=video/avc, bitrate

[2021-11-19 15:45] marcbaechinger commented on #9706
Yes, it seems that the stream does not contain text tracks. For ttml you would see something like

[code]

[2021-11-19 16:01] icbaker commented on #9706
If you believe this stream ought to contain subtitles can you either share a link to the stream here or send it to dev.exoplayer@gmail.com using a subject in the format `Issue #1234` (where `#1234` should be replaced with this issue number)? Please also update this issue to indicate you’ve done this.

[2021-11-19 16:31] icbaker commented on #9597
I don't have access to the link provided over email - please make it publicly accessible.

[2021-11-19 16:31] #9474 closed, assigned to icbaker

[2021-11-19 16:32] #9581 closed, assigned to icbaker

[2021-11-19 16:33] marcbaechinger commented on #9695
Seems like it crashes when opening the database for reading in case of a disk full.
Seems like that the error thrown shouldn't be a `SQLiteDiskIOException` in the first place. This would result in a playback failure which can be handled in a more graceful way.

Thanks for reporting!

[2021-11-19 17:06] christosts commented on #9672
I can verify I see the same behavior but need to investigate further.

I'm testing on a Pixel 4: The video file has 4 frames and the decoder delays outputting decoded video frames. However, the playback position is progressing. Once decoded video frames are output from the decoder, this is too late and the frames are being dropped. I tried adding a silent audio track on the video ([stackoverflow t

[2021-11-19 17:11] bhavikjethava commented on #9597
Please check

[2021-11-19 17:31] kvillnv commented on #9707
@icbaker thanks for the suggestion.
* Applying both workarounds does still cause a audio/video freeze on other devices.
* Applying only your workaround does not cause a freeze on other devices. But I don't know yet the result on the faulty devices, probably monday.

If it does not work, my plan for now is to put my workaround in a switch in the video settings of the app.

[2021-11-19 17:41] linhai326 commented on #9707
we had the same issue: as far as we know, it depends on the device hardware/firmware that how many hardware decoder instances it can support at the same time. For those devices which can support only one instance, we use software decoder from google, which is available on most if not all android devices, for PIP playback.

[2021-11-19 17:49] kvillnv commented on #9707
I noticed the 2 faulty devices I could test (BRAVIA_VH1 and BRAVIA_VH2) do not have the standard `OMX.google.h264.decoder`, they have `c2.android.avc.decoder` instead. I already tried it but I got the same result.

[2021-11-19 21:33] kvillnv commented on #9707
@icbaker I got the result: Unfortunately `Builder#setUseDrmSessionsForClearContent(C.TRACK_TYPE_AUDIO, C.TRACK_TYPE_VIDEO)` did not work on BRAVIA_VH1. We still got the same error.

[2021-11-19 21:46] serhatyuksel1 opened #9711 "Seslerim"
Before filing a feature request:
-----------------------
- Search existing open issues, specifically with the label ‘enhancement’:
  https://github.com/google/ExoPlayer/labels/enhancement
- Search existing pull requests: https://github.com/google/ExoPlayer/pulls

When filing a feature request:
-----------------------
Replace the content in the sections below.

### [REQUIRED] Use case description
D

[2021-11-19 21:48] mrj976 commented on #9704
Yes, I have Java 8 support enabled and using version 7.0.2 of Gradle

[2021-11-19 21:52] mrj976 commented on #9704
Fortunately, I understood the reason for the problem, and that is the use
`implementation group: 'com.google.guava', name: 'guava', version: '30.1-jre'`
 in Gradle
This problem is solved when I remove it
Is there a solution so I can use it without crashing?

[2021-11-20 01:51] gemiren opened #9712 "AudioTrack init failed when Bluetooth is connected"
This bug was first observed after updating from ExoPlayer ```2.11.8``` to ```2.12.0``` and still happens with latest ExoPlayer ```2.16.0```.

I haven't been able to reproduce the bug myself yet but I've received many bug reports from my users. The bug happens when Bluetooth headset is connected, start playing will fail with ```AudioTrack init failed```. Disconnecting the Bluetooth headset, then it

[2021-11-20 11:37] Ste-RH commented on #9684
Thanks for all the info, makes total sense and overriding evaluateQueueSize(...) is definitely the way to go I think in our use case.

So with that in mind I have reverted back to the default load controller buffering timings and overloaded and have written some code to control the number of chunks that are kept in the queue based upon time from current playhead.  However, this is not doing what I

[2021-11-20 15:58] newhinton commented on #9630
Not knowing if this issue is the same, but i can reproduce the errormessage.
Some videos, i assume some HDR content, results in this issue.

Using this in the demo-app should allow you to reproduce it aswell:

[code]

A 'real-world' example is opening the same videos (from their posts) in the '[Slide](https://github.com/ccrama/Slide/issues/3396)'-app for reddit (i linked an issue with a post that

[2021-11-20 16:49] devingryu opened #9713 "Subtitle sideload (with subtitlesconfiguration) is not working with HLS media"
Tested on version 2.16.0

[code]

This code doesn't work. No subtitles (except default dummy subtitle of HLS) are shown in EventLogger either. Using original method which uses `MediaItem.Subtitle` and `MergingMediaSource` works well.

It seems that sideloaded subtitle is overwritten with default dummy subtitle of HLS *.m3u8 file.

Thanks in advance.

[2021-11-21 17:19] dino-saurabh commented on #9622
@rrfrias I can see the shared logs on the email have different tags, I have shared another set of logs after reproducing the Issue 👍🏼

How can we detect if the security level for a device was revoked, is there any way other than actively maintaing a List. since in streaming we can simply fallback to security level L3 in case of playback failure with L1. but with downloads this becomes tricky since

[2021-11-22 09:14] yanghuabang05 opened #9714 "嗨，能否实现Recyclerview 视频列表同时播放的问题？这功能非常棒~"
Before filing a feature request:
-----------------------
- Search existing open issues, specifically with the label ‘enhancement’:
  https://github.com/google/ExoPlayer/labels/enhancement
- Search existing pull requests: https://github.com/google/ExoPlayer/pulls

When filing a feature request:
-----------------------
Replace the content in the sections below.

### [REQUIRED] Use case description
D

[2021-11-22 09:51] kim-vde commented on #9668
We do sometimes provide settings for less-efficient-but-more-robust behaviours in [`DefaultExtractorsFactory`](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/extractor/DefaultExtractorsFactory) (see https://exoplayer.dev/customization.html#customizing-extractor-flags). I wouldn't do that for the WAV file issue though because the file is clearly malformed, it's the first time thi

[2021-11-22 09:54] icbaker commented on #9713
The provided code snippet is a little bit confusing (it seems to use both `MediaItem.Builder#setSubtitleConfigurations` **and** `MergingMediaSource`? You shouldn't need to use both). Having said that, I think the problem is that the subtitle fields of `MediaItem` are only supported by `DefaultMediaSourceFactory` and **not** `HlsMediaSourceFactory`, so the `mediaSource` produced here won't include

[2021-11-22 10:06] tonihei commented on #9714
Please file issues with complete information as requested in the issue template.

Existing advice for how to use ExoPlayer in RecyclerView can be found in #867.

[2021-11-22 10:06] #9714 closed, assigned to tonihei

[2021-11-22 10:07] #9711 closed, assigned to tonihei

[2021-11-22 10:10] icbaker commented on #9707
FYI `OMX.google.h264.decoder` is an alias for `c2.android.avc.decoder`, so it's not surprising they're showing the same behaviour. From `adb shell dumpsys media.player` on a Pixel 5:
[code]

[2021-11-22 10:44] icbaker commented on #9704
Thanks for pin-pointing the root cause. I was able to reproduce a `NoClassDefFoundError` crash on a Nexus 5 emulator running API 23 with a small app with the following in `build.gradle` and `MainActivity`:

[code]

And I got this stack trace when launching the app:

[code]

 (it looks a bit different to yours, but I think it's the same root cause - [L440 of `ExoPlayer` at 2.16.0](https://github.co

[2021-11-22 10:44] #9704 closed, assigned to icbaker

[2021-11-22 11:31] icbaker commented on #9630
@newhinton I played the links you've provided in the 2.16.1 demo app on a Pixel 5 on Android R. The first shows no video and then playback fails, while the second plays successfully.

Logcat output from the demo app shows that the first video is encoded in a way that's incompatible with the Pixel 5's HEVC decoder (`supported=NO_EXCEEDS_CAPABILITIES`):
[code]

Devices running Android 10 are [not re

[2021-11-22 11:48] devingryu commented on #9713
Thanks, and sorry for making a confusion to you. I wasn't aware that HlsMediaSource doesn't accept sideloaded subtitles. With your solution, it works well.

I'm not sure if I can ask this here, but I was wondering if there is any way to lazy load `MediaItem` with `CompositeMediaSource`. I need to retrieve real *.m3u8 link by parsing xml file.
I think it's pretty similar with #5883, but I'm not sur

[2021-11-22 11:53] icbaker commented on #9597
Thanks for the demo application.

I ran it on a Pixel 5 (API 30) and saw a smooth-playing video behind an empty banner with a sun logo on the right hand side.

I ran it on a Chromecast with Google TV and saw the same empty banner but the video behind is playing choppily. i.e. I'm able to reproduce the problem you're seeing.

Given the overlay that causes the problem seems to be coming from the Fre

[2021-11-22 11:59] tonihei commented on #9702
The stream link above returns a HTTP 404 response code for me. We can't investigate or provide further advice if we can't reproduce the issue.

It's also unclear what the actual issue from the player perspective: There is no error in the logs above and no ExoPlayer logging. Could you describe what behavior you see and what you expect to see?

[2021-11-22 12:00] tamanna-seg commented on #9685
With Clipped media source, media source played between start and end time and when I merged multiple clipped source to Merged Media source all source are played from 0 position but I want to play sources to start also from different timestamps.

Code snippet is:

    ClippingMediaSource videoSource0 = new ClippingMediaSource(mediaSource1, 0,  2000000,true,true,false);
    ClippingMediaSource video

[2021-11-22 12:04] icbaker commented on #9713
There's a similar question that the person solved themselves using an HTTP interceptor here (`androidx.media3` is the [future home for ExoPlayer](https://android-developers.googleblog.com/2021/10/jetpack-media3.html)): https://github.com/androidx/media/issues/4

Another approach would be to use a [`ResolvingDataSource`](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/upstream/Res

[2021-11-22 12:10] icbaker commented on #9673
This seems like a reasonable request - I think it would make sense to add `SubtitleConfiguration.Builder` setter that propagates through to `Format#id`.

I'm not sure about `Format#accessibilityChannel` (the only 'text-specific' field in `Format`), since I don't think it's actually relevant for any sideload-able subtitle formats.

[2021-11-22 12:25] icbaker commented on #7794
Closing this as I don't think there's anything additional ExoPlayer can do here.

[2021-11-22 12:25] #7794 closed, assigned to icbaker

[2021-11-22 12:27] newhinton commented on #9630
@icbaker Should i create a new issue asking to support that codec so that we have a standalone issue for that, or is it 'wont-fix' anyway?

[2021-11-22 12:33] icbaker commented on #9630
ExoPlayer (an application-level library) doesn't control what codecs are supported by a device:
* https://exoplayer.dev/supported-formats.html
* https://exoplayer.dev/supported-formats.html#hdr-video-playback

So this issue tracker is not the right place to request device-level codec support.

[2021-11-22 13:33] tonihei commented on #9710
The attached bugreport doesn't contain the error, please make sure to capture the bugreport right after the problem occurred.

Besides that, the problem looks similar to the one reported in #6346. In there it was suggested that the source of the error could be an ongoing asynchronous encoding operation (see https://github.com/google/ExoPlayer/issues/6346#issuecomment-526509019). Could something li

[2021-11-22 13:38] bhavikjethava commented on #9597
Thanks for the quick replay.

I have tried to change the overlay to lottie but hard luck. I think any animated overlay isn't compatible with exoplayer, I just checked the same with vlc player and it worked like a charm. so I have sent out a mail with another example please have a look.

Thanks in advance.

[2021-11-22 13:48] thaleslima commented on #9710
Worked when set the following in `MediaCodecVideoRenderer.evaluateDeviceNeedsSetOutputSurfaceWorkaround:`

[code]

[2021-11-22 13:54] devingryu commented on #9713
Thanks! It helped me a lot. Now closing this issue.

[2021-11-22 13:54] #9713 closed, assigned to icbaker

[2021-11-22 13:57] tonihei commented on #9712
How confident are you that this problem didn't occur with 2.11.8? If this is indeed the case then something in the `DefaultAudioSink` setup or how the class is being used must have changed in 2.12.0 that broke this use case. One setting that was new in 2.12.0 and you seem to be using is `setEnableAudioTrackPlaybackParams`. Have you ever tried disabling this feature (or haven't used it while these

[2021-11-22 15:16] SashiWork commented on #9693
@marcbaechinger  thank you, the ```ResolvingDataSource.Factory```  worked for me. Cheers Mate

[2021-11-22 15:16] #9693 closed, assigned to marcbaechinger

[2021-11-22 15:35] gemiren commented on #9712
I can't say this problem never occurred with 2.11.8. I may receive one similar bug report in a week with 2.11.8. With 2.12.0, I receive around 10 related bug reports every day. I tried reverting to 2.11.8 and those affected users told me this problem went away. Obviously this bug happens a lot more frequently since 2.12.0.

I've tried disabling ```setEnableAudioTrackPlaybackParams```,  this error

[2021-11-22 16:25] tonihei commented on #9710
Thanks for testing! We'll add the device to the list.

[2021-11-22 17:56] icbaker commented on #9597
The latest email seems to contain the ExoPlayer project, I think it was forked from the dev-v2 branch at some point between 2.15.1 and 2.16.0. If you've made modifications to this it's pretty hard to find them (because I don't know what commit I should be comparing against). It's great to use the demo app to reproduce problems, but would it be possible to either share your modified version as a Gi

[2021-11-22 21:06] ojw28 commented on #9396
To clarify, the demo app releases in `onPause()` _or_ `onStop()`, depending on API level. `onPause()` happens first  as described in the [Activity documentation](https://developer.android.com/reference/android/app/Activity#activity-lifecycle). So from a resource management perspective it's fine to release in `onPause()` on all API levels, and to not override `onStop()` when doing this. Hence I don

[2021-11-22 21:26] sriram-mohan opened #9715 "Playing DRM protected DASH videos going blank"
**Issue:**
- Playing DRM dash videos we could notice that sometimes the video goes blank (while the audio still plays) especially when we open the video from PiP screen (video attached for reference), we're able to reproduce this only intermittently, though we've had a lot of customer complaints about this issue. Curious if you're aware of such issue and if you've any suggestions/help.

Exoplayer

[2021-11-22 21:46] ojw28 commented on #9670
It is _a standard_, but it appears to be a standard relating to use of AES specifically in IPsec. I don't think it's _the_ standard for how counter blocks should be generated for AES/CTR, and I'm not sure that such a standard exists. As a counter point, [NIST Recommendation - Appendix B.2](https://nvlpubs.nist.gov/nistpubs/Legacy/SP/nistspecialpublication800-38a.pdf) suggests using half the bits f

[2021-11-22 22:08] farzadno opened #9716 "MediaCodecAudioRenderer: Audio codec error (API 31)"
When play mp3 file (im tested various mp3 files, but not fixed):
This error occurred when fast seeking by user : `exoPlayer.seekTo(millis); `

[code]

Initilize exoplayer:

[code]

Logcat:

[code]

[2021-11-22 22:30] ojw28 commented on #9565
I think my comment above about the profile/level check may have been misplaced. In any case, I've ordered one of these devices so that I can more easily see exactly what's going on.

[2021-11-22 22:41] cantohe commented on #9702
Hi Tonihei,
The 5 seconds play and stop was a false positive generated by cache. Please close the issue.
Thank you,

[2021-11-22 22:41] #9702 closed, assigned to tonihei

[2021-11-22 22:53] ojw28 commented on #8952
If you're referring to the need for priming samples, then I don't think it does explain why audio segments would contain samples starting from ~1 second earlier than the advertised segment start time, as we were seeing according to https://github.com/google/ExoPlayer/issues/8952#issuecomment-891274540. As far as I'm aware, the priming duration will always be _much_ smaller than that (somewhere in

[2021-11-22 23:30] farzadno commented on #9716
This error has been fixed in version `2.16.1`
Thanks

[2021-11-22 23:30] #9716 closed, assigned to nobody

[2021-11-23 03:11] hufozhu commented on #9668
Thanks again for your works, I understand all of this and I will close this issue.

[2021-11-23 03:11] #9668 closed, assigned to christosts, kim-vde

[2021-11-23 04:02] Jaydipnathani commented on #9396
Thank you for answering.

1) I have tried with init and release Exoplayer instance by overriding onStart() and onStop() also as described in the demo, and I was getting the same issue as well.

2) I have noticed that this issue arrives when Video Ads (Interstitial ad, Native video ad, Rewarded video ad) display from Firebase AdMob. so I think AdMob does not release the proper player so that.

So,

[2021-11-23 06:31] s1068 opened #9717 "sss"

[2021-11-23 06:32] #9717 closed, assigned to nobody

[2021-11-23 06:33] ponthamaya opened #9718 "Trackselection Playback error on onResume"
- ExoPlayer 2.16.1 Demo project
- Android 10
- Android OnePlus 6T

I got the error when I minimized the app and resumed back.

Reproduce:
Change the audio track from StyledPlayerView control settings below the Playspeed. you will get the playback error when you minimize the app and resume back.

[code]

[2021-11-23 09:59] tonihei commented on #9718
Thanks for reporting, I can reproduce this problem.

[2021-11-23 10:02] zhouzhengfw opened #9719 "update version 2.16.1 video can not play"
hi after i update my version to 2.16.1 i can not play my video [https://cdn1-staging.fireworktv.com/medias/2021/11/18/1637259506-rwyenuix/transcoded/540/LUDMILLAANTIRRACISTA.mp4](url)
thank you

[2021-11-23 10:52] krocard commented on #9712
The audio format is stereo pcm, its suprizing it would fail.

Has any of your user shared a bug report with you? It contains the system logcat at the time of the error would gave us much more information about the issue as well as the dumpsys of media.audio_policy would give us the BT capabilities.
It would be best if the bug report was taken just after the playback failed to start and the device

[2021-11-23 11:01] krocard commented on #9712
The fact that it is related to Bluetooth is not overly suprizing. Bluetooth has a very complex state where a lot can go wrong. It could be for example that the Bluetooth stack errors attempting to start start playback in a particular state. We will know more when we can have the framework error logs when init fails.
What is more suprizing is that this low level error happens more or less frequentl

[2021-11-23 11:53] gemiren commented on #9712
Sent the bug report to dev.exoplayer@gmail.com. Thanks.

[2021-11-23 15:18] GambitDev opened #9720 "Is it possible to make ExoPlayer playback transitions flow backwards?"
I'm building a media app with ExoPlayer, and I want the flow of the queue to flow backwards
Meaning the first item on the list would be the last on the queue (this is a customer request)

I am working with MediaSessionConnector and have been successful in changing it's response to media action so that "next" button would play the previous track.
But when a track is over it is automatically transit

[2021-11-23 18:18] emouawad commented on #2092
Please add AVI support

[2021-11-23 22:03] #9706 closed, assigned to marcbaechinger

[2021-11-24 00:27] ProtoScott opened #9723 "[Chromecast] ExoPlayer integration with the ShakaPlayer Receiver."
Has anyone done an implementation of ExoPlayer with the Shaka Receiver rather than the Chromecast default/custom receivers?

[2021-11-24 02:04] #9596 closed, assigned to ojw28

[2021-11-24 05:05] gemiren commented on #9712
Turns out the error is caused by ```setEnableAudioTrackPlaybackParams(true)```. I enabled this option in ExoPlayer demo app then this same issue can be reproduced. This issue went away if I commented out ```setEnableAudioTrackPlaybackParams(true)```.

Here is the bug report generated after this bug happened and Bluetooth headset still connected.
[bugreport-WW_X00RD-OPM1.171019.019-2021-11-23-19-37

[2021-11-24 08:51] Saursinet opened #9724 "Rotation metadata of video is ignored on Huawei devices (Android 8)"
I have a video recorded on an IPhone in portrait mode (rotation is set in metadata as 90°).
When I play it with ExoPlayer it shows a rotated video and stretched (see screenshot). I'd say that the phone just ignores the rotation.
![device-2021-11-24-093117](https://user-images.githubusercontent.com/10145464/143202533-b0253c91-6eab-429a-afd2-edfeab2f8585.png)

The bug appears on a Huawei p20 lite (A

[2021-11-24 14:49] krocard commented on #9712
Thanks for the bug report. The error is logged just before the init failure: `E AudioFlinger: not enough memory for AudioTrack size=2097376`.

The issue is that when `setEnableAudioTrackPlaybackParams` is enabled, the audio track buffer is multiplied by 8 (`MAX_PLAYBACK_SPEED`) . The >2MB binder shared memory buffer is denied and playback fails.

This might be due to Binders max memory allocation

[2021-11-24 14:52] ojw28 commented on #9565
There are a few interesting things going on here that we should take a look at:

1. For the Bitmovin sample stream, the AVC codec string that we parse from the actual media for the 1080p variant is avc1.4D4032 (which the HW decoder claims to not support), whereas the master playlist declares that this variant uses avc1.42c00d (which the HW decoder does claim to support). This may be an issue with

[2021-11-24 15:31] fredells commented on #9672
@christosts @tonihei hey thanks for looking into this!

unfortunately we cannot (without great difficulty). I am working on a video editing tool that allows users to upload videos and images and trim them and concat them etc. in order to preview the result we play all the clips in exoplayer via a playlist

interestingly you can play multiple of these files together just fine. but when you add a re

[2021-11-24 15:51] ojw28 commented on #9565
I think (1) is just that the codec string in the master playlist is incorrect (i.e., it's a problem with the media itself).

(3) and (4) are the main things that we need to look at on the ExoPlayer side. In the meantime, I think you can get the old behavior with new releases of ExoPlayer with the workaround below, which should unblock you if you're stuck not being able to upgrade to a newer releas

[2021-11-24 16:02] vovan888 commented on #9553
Still occurs on ExoPlayer 2.16.1.

Please check the dev.exoplayer@gmail.com

[2021-11-24 16:27] thrive-diego opened #9725 "How to sync SimpleExoPlayer with MediaControllers in notification"
Hello ExoPlayer team,

Im working on trying to sync a Notification with a **SimpleExoPlayer** that resides in a _Fragment_. Previously the implementation was only for MediaItems with the type **MimeTypes.APPLICATION_M3U8** and this was the builder in the Fragment.

[code]

I created something like these:

[code]

I also created a **ViewModel** to set the data source and subscribe with my **MediaSe

[2021-11-24 16:42] icbaker commented on #9553
I'm afraid we're unable to share the information requested over email - the content needs to be publicly available to ensure it's accessible by all relevant members of the team, to enable us to investigate the issue effectively.

[2021-11-24 17:16] krocard commented on #8891
The plan is now to allow ExoPlayer users to customize the calculation of the AudioTrack buffer size. I will report the exact API went it is merged.

[2021-11-24 17:56] cabhara opened #9726 "IMA extension does not work with Java 8 from 2.16.0"
Not sure if that is intended, but my Android Studio project (based on Java 1.8) won't compile with

`implementation 'com.google.android.exoplayer:extension-ima:2.16.0'`

It works for 2.15.1 and below.

(I'm implementing the IMA player code from https://developers.google.com/interactive-media-ads/docs/sdks/android/client-side into an existing Java project)

from the error listing:
[code]

[2021-11-24 19:03] theRealRobG opened #9727 "Forced subtitle DASH support checking for wrong Role@value"
When checking for forced subtitle behaviour in the `DashManifestParser.java`, the `Role@value` being matched against is `forced_subtitle`:
https://github.com/google/ExoPlayer/blob/r2.16.1/library/dash/src/main/java/com/google/android/exoplayer2/source/dash/manifest/DashManifestParser.java#L1477
https://github.com/google/ExoPlayer/blob/r2.16.1/library/dash/src/main/java/com/google/android/exoplayer

[2021-11-24 20:31] vovan888 commented on #9553
Please check the dev.exoplayer@gmail.com, I have sent the link to the test stream.

[2021-11-25 09:00] tonihei commented on #9715
It looks like the bugreport was taken on an emulator. Can you reproduce the problem on a real device as well?

[2021-11-25 09:03] hamedborna opened #9728 "Exoplayer compile time issue"
Hi guys

First of all sorry for my bad english , actually I faced issue with ExoPlayer when I try to run project. I tried so many thing in order to fixing issue but I couldn't succeed.. here is issue log :

/Users/home/Documents/projects/karafs-redesign/app/build/generated/data_binding_base_class_source_out/stagingGooglePlayDebug/out/ir/karafsapp/karafs/android/redesign/databinding/ExoSimplePlayer

[2021-11-25 09:47] tonihei commented on #9720
You can achieve this by setting a custom shuffle order in ExoPlayer and turn shuffling on:

[code]

`CustomShuffleOrder` could be  implemented exactly as our test [`FakeShuffleOrder`](https://github.com/google/ExoPlayer/blob/release-v2/testutils/src/main/java/com/google/android/exoplayer2/testutil/FakeShuffleOrder.java) which plays everything in opposite order. If you need more fine-grained influe

[2021-11-25 09:59] icbaker commented on #9727
Thanks for pointing this out - as you've probably realised, we added support for this after it was requested in https://github.com/google/ExoPlayer/issues/8781 and we used `forced_subtitled` based on this comment from April 2018: https://github.com/Dash-Industry-Forum/DASH-IF-IOP/issues/165#issuecomment-378193268

Given you've mentioned later in that thread that Shaka have have also done the same

[2021-11-25 10:00] tonihei commented on #9723
There was some previous work in this area (see #5486), but this has been suspended and [deleted](go/gh/google/ExoPlayer/commit/7798c07f64d58a5363ff2af1a72cdcad9a8ae2de) and never published. We are more likely to continue improving the existing `CastPlayer` working with the default receiver.

[2021-11-25 10:09] GambitDev commented on #9720
@tonihei
This is a great!
Thanks!

[2021-11-25 10:26] theRealRobG commented on #9727
Yes, makes sense as a pragmatic approach.

Thanks for quick reply!

[2021-11-25 10:53] tonihei commented on #9726
I think you need to upgrade your app's `compileSdkVersion` to 31 because `androidx.core:core:1.7.0` (which ExoPlayer depends on) has a `minCompileSdk` version of 31.

[2021-11-25 10:55] tonihei commented on #9728
This sounds like a generic gradle or project setup question we can't help you with in detail. You probably need to make sure you have a dependency on ExoPlayer's UI module available at this code location and/or clean your build environment in case it has problems picking up recent changes.

[2021-11-25 10:55] #9728 closed, assigned to tonihei

[2021-11-25 10:59] tonihei commented on #9728
`PlaybackControlView` was also removed in ExoPlayer 2.12.0 because it was deprecated and replaced by `PlayerControlView`. So maybe you have recently upgraded and the class is now missing for this reason?

[2021-11-25 11:04] tonihei commented on #9719
Yes, I can confirm this file plays fine in 2.15.0 and fails to play in the latest dev version.

The error is:
[code]

@kim-vde Could you take a look?

[2021-11-25 11:14] tpiDev commented on #9726
Forcing minCompileSdk with 31 is rather not solution here especially due to known Cast framework issues on Android 12.

As a workaround you can add in build.gradle:

[code]

[2021-11-25 11:18] tonihei commented on #9724
Sounds like this device isn't applying the format's rotation correctly. I verified that ExoPlayer's parsing extracts the expected rotation degrees (=90), which is does and which is why it works on all other devices. You could report this to Huawei and ask them to fix it. But other than that, there is nothing we can do inside ExoPlayer to fix the problem.

[2021-11-25 11:18] #9724 closed, assigned to tonihei

[2021-11-25 11:22] tonihei commented on #9726
Just to clarify - setting the `compileSdkVersion` is different from the `targetSdkVersion` and is only relevant for accessing the latest methods and should have no influence on the resulting app.

[2021-11-25 12:37] denis-bezrukov opened #9729 "Wrap ParsableByteArray's ISE in ParserExceptions when the error comes from the input media"
### [REQUIRED] Use case description
We run our app on a custom device, that seems to be affected by a weird issue which rarely corrupts files on the disk. When trying to play such videos using exo it may fail with various exceptions. Before we find (and fix, if possible) a root cause of this issue in aosp or app, we trying to detect and mitigate this.
Since 2.15.0 exoplayer started throwing Parser

[2021-11-25 15:24] krocard commented on #9712
The plan is currently to limit the buffer to 1MB with a minimum of the minimum buffer size as reported by AudioTrack. In pseudocode: `max(minBufferSize, min(bufferSize, 1MB))`.

[2021-11-25 16:32] icbaker commented on #9553
Thanks for the test stream. I played it using the 2.16.1 demo app on a Pixel 3 XL running Android 9. I played it from the beginning and it's still going after 20 minutes (past the expected 18 minute stall point mentioned in the email).

I also tried on a few other devices (Nokia 6 on Android 8 and Pixel 5 on Android 11) and both played past the 18 minute stall point.

Please provide any further in

[2021-11-25 17:02] tonihei commented on #9729
The proposal sounds sensible to me.  @kim-vde - if you agree as well could you look into this?

[2021-11-25 18:32] vovan888 commented on #9553
Thank you for your help. I have found the issue does not occur if I comment the `setBufferDurationsMs()`  - so DefaultLoadControl uses the default buffer sizes:

[code]

Also I have tested that downgrading ExoPlayer does not solve the issue (at least down to 2.11.7)

Increasing buffer size to 32000 resolves the issue: `.setBufferDurationsMs(32000, 32000, 1500, 2000)`

[2021-11-25 18:49] ProtoScott commented on #9723
Okay thanks for the info, we're going to look into either update the existing CastPlayer to support a conversion to a Shaka MediaItem or look at updating the Shaka Receiver to support the ExoPlayer MediaItem.

[2021-11-25 20:29] fkaduch opened #9730 "Exoplayer cast DRM content"
In case your question is related to a piece of media:

- URI to test content : private adaptive DASH live TV streams
- For protected content:
  - DRM scheme and license server URL: Widevine commercial system
  - Authentication HTTP headers - no, using JWT appended to HTTPs query string.

Hello,

I am trying to cast DRM protected content on a DASH stream on Android TV receiver (Sony TV, or Xiaomi M

[2021-11-25 21:30] serhatyuksel1 opened #9731 "Hı fi Android 11.5"
Before filing a feature request:
-----------------------
- Search existing open issues, specifically with the label ‘enhancement’:
  https://github.com/google/ExoPlayer/labels/enhancement
- Search existing pull requests: https://github.com/google/ExoPlayer/pulls

When filing a feature request:
-----------------------
Replace the content in the sections below.

### [REQUIRED] Use case description
D

[2021-11-26 02:04] #9623 closed, assigned to ojw28

[2021-11-26 08:03] adnan94 opened #9732 "Is there any way to pre-cache only limited chunk of video let say started 2 seconds of each video, i does not want entire video to be cached"
Unfortunately we can't answer all questions. Unclear questions or questions with
insufficient information may not get attention.

Before filing a question:
-------------------------

- Ask general Android development questions on Stack Overflow
- Search existing issues, including issues that are closed
  https://github.com/google/ExoPlayer/issues?q=is%3Aissue
- Consult our developer website (https

[2021-11-26 09:57] icbaker commented on #9730
What value are you using for `widevineUuid`? It [should be `edef8ba9-79d6-4ace-a3c8-27dcd51d21ed`](https://dashif.org/identifiers/content_protection/) - this is also available in [`C.WIDEVINE_UUID`](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/C.html#WIDEVINE_UUID).

In order to investigate further we need to be able to reproduce the problem. Please provide the media and DRM i

[2021-11-26 10:08] icbaker commented on #9732
Duplicate of https://github.com/google/ExoPlayer/issues/3327

[2021-11-26 10:08] #9732 closed, assigned to icbaker

[2021-11-26 10:09] icbaker commented on #9731
None of the requested information was provided.

[2021-11-26 10:09] #9731 closed, assigned to icbaker

[2021-11-26 10:32] adnan94 opened #9733 "i need to precache only 3 to 5 seconds of every video in recyclerview currently i cache entire video"
Unfortunately we can't answer all questions. Unclear questions or questions with
insufficient information may not get attention.

Before filing a question:
-------------------------

- Ask general Android development questions on Stack Overflow
- Search existing issues, including issues that are closed
  https://github.com/google/ExoPlayer/issues?q=is%3Aissue
- Consult our developer website (https

[2021-11-26 10:40] icbaker commented on #9733
This is a duplicate of #9732 (also filed by you) which i just closed as a duplicate of #3327. There's also discussion about using ExoPlayer in a `RecyclerView` in https://github.com/google/ExoPlayer/issues/867. Please don't file duplicate issues.

[2021-11-26 10:40] #9733 closed, assigned to icbaker

[2021-11-26 10:52] kim-vde commented on #9719
Thanks for reporting the issue. This is a regression introduced by #9421. I will merge a fix.

[2021-11-26 10:52] NitinSharma639 opened #9734 "Drm protected Video lagging when played offline on 2X speed"
I am trying to play drm protected video which is downloaded. It is working fine on most of the device. It is lagging on tablet devices specifically on Samsung A7 tab(Smt-500).

When I am playing file from server the lagging very less visible but when I play offline video on 2x speed lagging is quite visible.

I am using exoplayer - 2.10.2. I am using following datasource factory.

For online:

[co

[2021-11-26 11:00] icbaker commented on #9734
I don't think there's much more we can add beyond https://github.com/google/ExoPlayer/issues/8657#issuecomment-792690825 - did you try the suggestions there?

It could be that the device in question just isn't powerful enough to do both the video decoding and DRM decryption at 2x speed.

[2021-11-26 11:01] krocard commented on #9712
This mean that outragously high bandwith playback like 32bit 96kHz 7.1 surround (3MB/s) would probably start having underrun at arround 2x (162ms for 1MB buffer). In those cases it would be preferable to have a bigger buffer.
An alternative would be to limit the buffer size only if the allocation failed the first time.

[2021-11-26 11:10] fkaduch commented on #9730
yes, I am using this widevineUUid, as I said, it works with local playback on Exoplayer with our DRM protected TV stations, just cast of this DRM protected content does not work.
The rest of data is private info, I am sending it in separate email.
thanks

[2021-11-26 11:22] adnan94 opened #9735 "Video caching but not playing after " val dataSpec = DataSpec(videoUri,0,100*1024,null) " please help me with this"
Here is my VideoPlayerManagerCode

  public static StoriesVideoPlayManager getInstance() {
        if (instance == null) {
            synchronized (StoriesVideoPlayManager.class) {
                if (instance == null) {
                    httpDataSourceFactory = new DefaultHttpDataSource.Factory()
                            .setAllowCrossProtocolRedirects(true);

                    trackSelec

[2021-11-26 11:41] NitinSharma639 commented on #9734
Yes @icbaker your previous solution improved our online video playback but still there is problem in offline playback. Please help us improve offline playback as well. We have tried a lot . Still it is not improving.

[2021-11-26 11:58] adnan94 commented on #9735
@marcbaechinger

[2021-11-26 14:57] wahdatjan commented on #9230
`app:surface_type="texture_view"`
I removed this line and it got fixed
Also i was using two instances of Exoplayer and i am releasing one first before initializing another one
THis issue was happening with DASH videos during DRM implementation

[2021-11-26 15:43] icbaker commented on #9730
Thanks for the content & DRM links. I added them to the Cast demo app's list of samples in [`DemoUtil.java`](https://github.com/google/ExoPlayer/blob/dev-v2/demos/cast/src/main/java/com/google/android/exoplayer2/castdemo/DemoUtil.java) on the `dev-v2` branch. The content played back successfully both within the app and when cast to a Chromecast with Google TV device.

If you do the same does the c

[2021-11-26 16:36] icbaker commented on #9734
Have you identified the source of the lagging? I'm surprised you're seeing a difference between offline and streamed playback, I'd expect the media decoding and DRM decryption flows to be very similar between the two - is it possible the local storage you're loading the video from is slow? This would show up as rebuffering events.

There's not much more help we can provide I'm afraid - as I said,

[2021-11-26 17:44] kim-vde commented on #9719
I just merged the fix to dev-v2. It should be part of the next minor release.

I will close this issue. Please open another one if you still encounter problems.

[2021-11-26 17:44] #9719 closed, assigned to kim-vde

[2021-11-26 19:05] #9727 closed, assigned to icbaker

[2021-11-26 20:21] kvillnv commented on #9707
FYI: I did not apply the workaround. I just improved my error message to let users know their device does not support the current configuration and suggest to disable PIP and video preview in the app settings.
It's unfortunate to have less features on high-end devices.

Do you think it has to be solved on the manufacturer side, or is there a chance for a exoplayer fix/workaround?

[2021-11-27 03:01] ponthamaya commented on #9718
Please fix it in Demo project. It would be great.

[2021-11-27 10:09] adnan94 opened #9736 "Video Precaching but not playing when internet not available"
Here is my VideoPlayerManagerCode

[code]
here is video cache service

[code]

[2021-11-27 10:10] adnan94 commented on #9736
caching done 100% logs prints but not playing when play video

[2021-11-27 10:11] adnan94 commented on #9736
val dataSpec = DataSpec(videoUri,0,100*1024,null)  when i add this line videos not playing

[2021-11-27 17:03] kmrinmoy07 commented on #9481
Hi, @marcbaechinger  I did tried to investigate the issue and was not able to find any issue until yesterday when I noticed that the notification disappeared and I noticed that at that time I had lots of other notification by other apps. Can it be that Android system dismissed it when there was plenty of notifications ? Also as I said earlier that since my audio was still playing so I find it hard

[2021-11-28 00:10] gemiren commented on #9712
Looking forward to the fix. Thanks!

[2021-11-28 10:42] re-ovo opened #9737 "Dynamically load media items from internet"
I am implementing a music player, which has a "Personalized FM" function, which requests data from the back-end API to obtain **a song** information and then play it.
I'm wondering whether ExoPlayer can dynamically load media items, and request the next MediaItem from the backend when the song ends or when the user clicks on the next song