[2020-02-21 15:11] rs146 commented on #6946
@AquilesCanta - unfortunately we cannot reproduce this anymore. Should it arise again - we can re-open this with the full adb bugreport. Thanks for having a look anyway.

[2020-02-21 15:21] rs146 commented on #6946
Please see the attached the bugreport for this issue.
[bugreport-crosshatch-PQ3A.190801.002-2020-02-21-15-16-37.zip](https://github.com/google/ExoPlayer/files/4236722/bugreport-crosshatch-PQ3A.190801.002-2020-02-21-15-16-37.zip)

[2020-02-21 16:13] portizb commented on #7004
@sindycarlo ExoPlayer supports RTMP using the RTMP extension which is based on LibRtmp over JNI. You can download the source code from [LibRtmp Client for Android](https://github.com/ant-media/LibRtmp-Client-for-Android) or [ExoPlayer with RTMP and FLV](https://github.com/ant-media/ExoPlayer-with-RTMP-and-FLV-seek).

This extension does not work with RTSP, either in live broadcast using an RTSP se

[2020-02-21 16:20] christosts commented on #7003
I have been able to play the PlayReady stream without errors with the demo app on versions 2.10.8 and 2.11.2 on a Sony Bravia Android TV.

May I ask what version of the player you are using? Is it also possible to grab a bug report from the device when the issue happens (if you don't want to post it here you can email it at dev.exoplayer@gmail.com with subject #7003).

Thanks

[2020-02-21 17:28] fgl27 opened #7006 "Live hls when paused don't fill up the buffer to DEFAULT_MAX_BUFFER_MS"
### [REQUIRED] Issue description
Hls live streams that I leave it paused for a time that is bigger than **playlist.durationUs** don't fill up DEFAULT_MAX_BUFFER_MS.

It doesn't loading new segments after the buffer size became current buffer (before pause buffer) + **playlist.durationUs** or something like that in my case the before buffet is 5 to 10s and the playlist.duration is 28 to 32s, the bu

[2020-02-21 17:29] fgl27 commented on #6991
@marcbaechinger @fmatosqg thanks for the help

I open a separated issue to see if we can improve the pause behavior.

https://github.com/google/ExoPlayer/issues/7006

[2020-02-21 17:39] phhusson commented on #7006
The Loading Control algorithm can be viewed here:
https://github.com/google/ExoPlayer/blob/90b62c67fbf29bff2406d16979539da4ec126166/library/core/src/main/java/com/google/android/exoplayer2/DefaultLoadControl.java#L384-L400

Personnally for live streaming I wrote my own LoadControl, precisely for this use-case, because you always want to continue loading, and you probably want specific behaviour ab

[2020-02-21 17:48] tonihei commented on #7006
We already have a pending change to update the target buffer size to match our time constraints (for most playbacks). This should fix the mentioned issue. You can also try to set the prioritizeTimeOverSizeThresholds config value to false for a quick workaround.

[2020-02-21 18:05] willzhan commented on #7003
Thanks a lot, christosts! Great to see the positive test on Sony Android TV. I will follow up with the rest of the info via email. Thanks again!

[2020-02-21 18:58] christosts commented on #6348
Hi, just published details of the on-going work on our [blog](https://medium.com/google-exoplayer/improved-rendering-performance-operating-mediacodec-in-asynchronous-mode-and-asynchronous-buffer-3026207850b2). Please feel free to grab the dev-v2 branch and try it out.

[2020-02-21 19:02] christosts commented on #5796
For those who may be getting updates of this issue, we have pushed an experimental feature on the dev-v2 branch for improving rendering performance. We posted details on our [blog](https://medium.com/google-exoplayer/improved-rendering-performance-operating-mediacodec-in-asynchronous-mode-and-asynchronous-buffer-3026207850b2). Please feel free to grab the dev-v2 branch and try it out.

[2020-02-21 19:27] fgl27 commented on #7006
Yes I was using the DefaultLoadControl wrong... With the help of you guys I can see that I can load more seconds they before.

I use the technique of overwriting the **setTargetBufferBytes** and works OK, I was using it but wrong before now I understood it.

infinity? what is the real value accepted here?

I know that there is a "max" possible for a int, but that value is the maximum I can use her

[2020-02-21 20:31] kingargyle commented on #5771
Similar to this request, it would be nice, to be able to not just hide or show the navigation actions, but be able to controll these during the notification manager creation.   Our use case, is that we don't want to provide a previous option, or the ability to seek, but do want to provide the option to skip, play, and pause.   Currently I have to disable the navigation all together.  Which isn't i

[2020-02-21 22:48] ojw28 commented on #5771
@kingargyle - I think you can do that by extending `PlayerNotificationManager` and overriding `getActions`.

[2020-02-22 02:07] #6911 closed, assigned to ojw28

[2020-02-22 17:36] karuppasamys commented on #6504
@tonihei  Do you have any idea what are all the info need to be provided in the listener ? Do you wants to be this as a separate listener ?. If I am clear in the requirement I can implement this.

[2020-02-22 18:24] AquilesCanta commented on #6988
Would you kindly try it and reach back? It may be fixed now.

[2020-02-22 23:16] LSDsl commented on #6983
@master255 It's not the same problem.

[2020-02-23 05:42] ajonno commented on #6891
we're implementing this now.

re:

what does this mean ? we will always (as far as im aware) get and parse out the ID3 metadata for each MP3 audio file, before it starts playing. is that what you mean ?

re:

so if i understand correctly, will we need to implement the AdsLoader interface on a new class that we must create -: in the same way that ```ImaAdsLoader``` does but taking into account that

[2020-02-23 22:59] caiiiyua commented on #6348
Hi,
Tested with the dev-v2 on 2 of the devices we have the problems, both of them had the problem on 1080p@50fps with v2.11.1.
Google Pixel One is working fine on those 2 modes:
OPERATION_MODE_ASYNCHRONOUS_DEDICATED_THREAD_ASYNCHRONOUS_QUEUEING
OPERATION_MODE_ASYNCHRONOUS_DEDICATED_THREAD_MULTI_LOCK_ASYNCHRONOUS_QUEUEING

Huawei P20 Pro is still having the problem on all of the modes.

From my ana

[2020-02-23 23:44] inat-tv opened #7007 "Unknown enum constant AnnotationTarget.ANNOTATION_CLASS"
I didn't touch anything. This error occurs when you compile the project.

![image](https://user-images.githubusercontent.com/31779629/75122541-86429f00-56af-11ea-8bc1-eb0e3bcb731e.png)

[2020-02-24 07:00] finneapps commented on #6988
Hi. All of sudden Chromecast Audio started to appear again. Not sure what the cause was.

[2020-02-24 08:29] krzysztofbalana opened #7008 "Placing IMA ADS UI container beneath Exoplayer Controls"
Hi!

I have this problem. I would like to place adUiControls (learn more link, ad counter) layer beneath exoplayer controls, to let user manipulate stream during playback (rewind/forward/play/pause etc).

All my current ui elements on exoplayer are being added by com.google.android.exoplayer2.ui.PlayerView.getOverlayFrameLayout()

example below:

[code]

More visual example
![here](https://user-im

[2020-02-24 12:04] tonihei commented on #7007
That's a known issue caused by the fact that a Kotlin annotation for Java code is defined in Kotlin instead of Java (see [here](https://youtrack.jetbrains.com/issue/KT-33141)). This should be fixed as soon as we can update our dependency version to 1.3.70.

But it's not an actual problem and you can ignore the warning for now.

[2020-02-24 16:03] kingargyle commented on #5771
Thanks, this looks like a possible solution.  The only issue is that the PlayerNotificastionManager itself doesn't make it easy to extend with the number of Static methods that are included to create the notificaton.

I'll mess around with this and see what I can get working thought.

[2020-02-24 16:07] Samrobbo commented on #7004
Short answer is no, see the comments (thank you!) by phhusson and portizb.

[2020-02-24 16:08] #7004 closed, assigned to Samrobbo

[2020-02-24 16:21] nishantkp commented on #6967
Hi @andrewlewis thanks for the clarification. So it is better to avoid fill issues for pre-roll till this is fixed.

[2020-02-24 18:44] stari4ek opened #7009 "Decoding artifacts on Sony which are not present with ExoPlayer v1"
### [REQUIRED] Issue description
There're users reporting about decoding artifacts on Sony TV which present on ExoPlayer v2, but missing from ExoPlayer v1.

Direct comparison demo v2 vs v1 using live stream and local file:
* https://drive.google.com/file/d/1toB8IsTorjGp1FXw4Z91psPyI6Armfy6/view?usp=sharing

Same kind of issues reported on older exoplayer v2 than demo used to reproduce:
* https://p

[2020-02-24 18:59] ojw28 commented on #5771
I agree it's not that easy in the general case, but for your specific case I think you can just call `super.getActions` and then just remove the ones you don't want.

[2020-02-24 22:24] inat-tv commented on #7007
Ok thanks bro

[2020-02-24 22:24] inat-tv commented on #7007
Ok thanks bro

[2020-02-24 22:53] fmatosqg commented on #7006
TL;DR I'm ok that pause is the default behaviour but I need fallback behaviour to keep playing forever no matter what error happens (well, almost all errors) - so I'd like something like an opt-in instead of having to write a lot of (hard to test) code to understand and deal with every error scenario - at least for `BehindLiveWindowException`.

The primary purpose of my app is live streaming from

[2020-02-25 04:59] fgl27 commented on #7006
@fmatosqg on the past I was getting that exception, was because the parameter `#EXT-X-TARGETDURATION` the value of it in the list was and is today bigger than individual segments size.

That was discussed here https://github.com/google/ExoPlayer/issues/6360 some improve was made but in the end I just have to overwrite target duration and for me is easier to building exo from source as I do other c

[2020-02-25 05:33] fmatosqg commented on #6991
@marcbaechinger I wrote some comments here https://github.com/google/ExoPlayer/issues/7006#issuecomment-590590051

[2020-02-25 05:35] fmatosqg commented on #7006
@fgl27 My problem seems to be very different from yours, and I wouldn't do a custom build for exoplayer since my BehindLiveException problem is solved - though at a cost, and I have a lake full of bigger fish to fry, like doze vs foreground services.

My point is that it should be very easy for a dev to handle  BehindLiveException and many other errors. Something as simple as `player.play(handleBe

[2020-02-25 05:40] dbrain opened #7011 "Keep DrmSession open when moving between secure content and clear ads using IMA extension"
### Use case description
When playing secure content with ads via the IMA extension the secure session is released. This means when the ad completes the drm session needs to be reacquired causing multiple network requests to the license URL (in case of widevine with http callback), and a spinner filled transition from ad to content for the user.

#4867 was closed recently, which solves the issue f

[2020-02-25 06:12] dbrain opened #7012 "DRM failure notifications / fallback support"
### [REQUIRED] Use case description
Our users devices have various levels of widevine support. When widevine fails, we fall back to other DRM methods (expressplay, clearkey),

As of 2.11 the way `ExoMediaDrm` is created has changed to be via a `Provider`, this has changed the way the errors are thrown and has made it awkward to implement DRM fallback (if I'm not missing something).

Essentially th

[2020-02-25 14:10] AquilesCanta commented on #7012
As you correctly point out in "Alternatives considered" you can use an `AppManagedProvider` to use exactly the same approach as before the introduction of `ExoMediaDrm.Provider`, so 2.11 shouldn't make anything awkward. You can still do things as before.

It's the way it was before 2.11. And the idea behind an `AppManagedProvider` is that the App takes care of MedaDrm resource management, as befor

[2020-02-25 14:10] #7012 closed, assigned to AquilesCanta

[2020-02-25 17:16] kingargyle commented on #5771
@ojw28 yea, I managed to get it to work, would still be nice to have setters to toggle them directly without having to override getActions.

[2020-02-25 23:14] jt64 commented on #6751
Given that these older OS versions are probably not receiving any more updates, fixes to the framework realistically aren't going to happen. The options you have would be to increase the audio buffer size as you have found, or to request the license before starting playback.

[2020-02-25 23:14] #6751 closed, assigned to rrfrias

[2020-02-25 23:22] jt64 commented on #4487
QC has provided an update that resolves this problem on Android 10 which will be available in the next quarterly platform release. If you accept this update you should find that picture-in-picture does not cause the CodecException now.

[2020-02-25 23:22] #4487 closed, assigned to fredgc

[2020-02-26 02:08] #6941 closed, assigned to kim-vde

[2020-02-26 02:09] #6923 closed, assigned to ojw28

[2020-02-26 02:16] willeamlee commented on #7003
releaseVersion = '2.11.2'
releaseVersionCode = 2011002
[DRMerror.log](https://github.com/google/ExoPlayer/files/4253094/DRMerror.log)

[2020-02-26 03:11] silvershort opened #7013 "Memory will not be released"
### [REQUIRED] Question

If you are using exoPlayer for ViewPager2 and ViewPager2 is created, onBindViewHolder gets the video URL through retrofit2.

When an Activity with ViewPager2 is Destroyed

getPlayer (). release ()
setPlayer (null)

This releases memory but does not return half the memory.

So I tested.

Immediately after the retrofit call in onBindViewHolder

getPlayer (). release ()
setPl

[2020-02-26 03:23] silvershort commented on #7013
do not use retrofit2 does not cause memory leaks.

Close the issue because it seems to be a problem with retrofit and not with exoplayer. Sorry.

[2020-02-26 03:23] #7013 closed, assigned to ojw28

[2020-02-26 09:27] haohighview opened #7014 "Distinguishing between Video and Audio-only HLS streams"
Can't find getRendererHasMedia method
https://github.com/google/ExoPlayer/issues/541

[2020-02-26 09:45] TakuSemba opened #7015 "Player gets stuck when entering mid-roll after empty pre-roll"
### [REQUIRED] Issue description

When a vast has empty pre-roll and non-empty mid-roll, ExoPlayer gets stuck right before entering the mid-roll and keeps buffering.

This suddenly started happening today which is when js version inside IMA SDK changed from 3.196.2 to 3.199.0.

I replaced 3.199.0 with 3.196.2 locally with proxy and it worked well.

https://imasdk.googleapis.com/native/core/3.199.0

[2020-02-26 10:28] Samrobbo commented on #7014
Hi, that method is no longer a part of ExoPlayer.

What is it you are trying to do?

Thanks

[2020-02-26 10:33] janhofman opened #7016 "Spontaneous Ad completion using IMA SDK extension"
Hello,

I'm trying to make an app with ExoPlayer and its Ima Extension and I've encountered an issue:

**Introduction**
ExoPlayer version: 2.11.1
I have `MainActivity` with fragment that has `com.google.android.exoplayer2.ui.PlayerView` , this activity is locked to portrait mode.
I have another activity called `VideoFullscreenActivity` which contains only `PlayerView`
If user requests fullscreen v

[2020-02-26 10:36] haohighview commented on #7014
like https://github.com/google/ExoPlayer/issues/541
Distinguishing between Video and Audio-only HLS streams
Thanks

[2020-02-26 10:48] Samrobbo commented on #7014
You can listen to the `onTracksChanged` callback, and depending on what you want to do, can check the list of available tracks or selected tracks.

[2020-02-26 11:11] tonihei commented on #6504
We haven't discussed detailed requirements yet (mostly around configuration options). The actual implementation needs to check whether to trigger the callbacks from `ExoPlayerImplInternal.updatePlaybackPositions` and whenever `playbackInfo.copyWithNewPosition` is called. If you want to contribute a PR for this, it would be helpful to provide a more detailed plan of how this may look like to avoid

[2020-02-26 11:22] AquilesCanta commented on #6988
It was a server side issue. The Cast team fixed it when we flagged it. Thanks for reporting!

[2020-02-26 11:22] #6988 closed, assigned to AquilesCanta

[2020-02-26 12:46] raunakyadav commented on #7015
Hello,
Facing the same issue since today. If the vmap does not have a preroll node, it does not play any midrolls too.
Getting the following logs :
[code]

[2020-02-26 13:19] ebr11 commented on #5096
Uh, oh.  Has this re-emerged?

[2020-02-26 13:27] nextsux commented on #7009
We're currently experiencing similar issues.
It can be reproduced **ONLY using SONY tv** with exoplayer.
exo (release-v2, 49910fe72579c4e55e14b47b0cf3d3ced9474219): https://www.youtube.com/watch?v=qxSElIqN_AQ&feature=youtu.be
mx player/VLC works fine: https://www.youtube.com/watch?v=cIQtHdGPn8s&feature=youtu.be

there is nothing interesting in lolcat: https://gist.github.com/nextsux/1758bd4c2818c5

[2020-02-26 13:53] ojw28 commented on #5096
I suspect that what you came up with still works. nVidia asked us to unlock the issue so they can comment on it, so expect an update here soon.

[2020-02-26 15:34] donato commented on #7015
Thank you for the detailed reproduction steps! I have verified the problem and will roll out a patch within the hour.

[2020-02-26 16:02] ebr11 commented on #5096
Excellent.  Thanks.

[2020-02-27 01:03] navluis commented on #6947
Thanks Andrew,
We had an internal discussion and decided to extend the signaling between audio hal and bomx decoder to better handle cases such as track changes for video tunneling. Therefore we won't be needing any custom change for tunneling when the video track is changed. I'll close this ticket.

Thanks for the help anyway,
Luis

[2020-02-27 01:05] navluis commented on #6947
Actually I don't think I can close the ticket, can I ? Please close it on your end.
Thks
Luis

[2020-02-27 05:00] TakuSemba commented on #7015
@donato
Hi, 3.199.2 is released but the issue is still happening.
Did you already release the patch version? and what version would it be?

[2020-02-27 05:04] haohighview commented on #7014
why I

[2020-02-27 05:13] #7014 closed, assigned to Samrobbo

[2020-02-27 07:26] sumitmattawynk opened #7017 "Getting NullPointerException in DefaultHlsPlaylistTracker"
### [REQUIRED] Issue description
I was trying to upgrade exoplayer from 2.8.2 to 2.11.3, and while making the change following crash is coming. and I am nowhere release the MediaSource in my app.

This is not an always issue,so it might be because of some threading in exoplayer internals.

[code]

### [REQUIRED] Reproduction steps
This is not an always issue. so we can't reproduce it.

### [REQUIR

[2020-02-27 09:01] xujunjie21 opened #7018 "Supporting viewport-independent OMAF video."
I want to use the exoplayer to implement viewport independent omaf video. The platform has completed the conversion of MPD files of the dash protocol. How can I parse, decode and splice multiple tile videos in the exoplayer.

[2020-02-27 10:37] rinav opened #7019 "How to attach media meta info while using offline package to cache and retrieve it later in another class"
### Searched documentation and issues and in `Demo app`, `DownloadTracker` and `PlayerActivity` class from the demo

### [REQUIRED] Question
How to attach extra meta info like id, artist name, artwork url, title etc while using DownloadManager from offline package to cache media files and retrieve it later with it's status?

I am able to cache the media files but not able to attach extra info with

[2020-02-27 13:05] iospoisson opened #7020 "Displaying special characters from ISO-8859-16 subtitle srt file correctly."
Any chance to get special characters from a srt subtitle file (Romanian Language  ISO-8859-16) to be displayed correctly. I do mention i load the srt subtitles from sd card

[2020-02-27 14:03] #6947 closed, assigned to andrewlewis

[2020-02-27 16:00] Samrobbo commented on #7020
This looks like a duplicate/similar issue to #3644 , which provides more information on all this.

[2020-02-27 16:00] #7020 closed, assigned to Samrobbo

[2020-02-27 16:06] kulve commented on #5096
Hi,

The earlier comment ("_The problem is that none of the surfaces behind the video can have a background color_") gives quite a good hint where to look for.

Would you mind again providing the repro steps? Which version of the ExoPlayer to use, how to install it and how to run with and without the background color set? Note that I'm not familiar with the ExoPlayer but I am familiar on how the H

[2020-02-27 17:58] ebr11 commented on #5096
Hi.  I haven't tested this specifically, but I think if you were to just add:

`android:background="#00000000"`

To the main FrameLayout [here](https://github.com/google/ExoPlayer/blob/release-v2/demos/main/src/main/res/layout/player_activity.xml) the problem should manifest.

[2020-02-27 18:08] kulve commented on #5096
Any chances I could get ready made apks with and without that change?

[2020-02-27 18:23] donato commented on #7015
Thank you for following up @TakuSemba , I had misdiagnosed the earlier problem. I'd thought the issue was with podIndex, but it looks like it was related to preloading the first video after an empty adbreak. I'm working on another hotfix, 3.199.3 which should be live shortly.

[2020-02-27 19:40] philmoss321 opened #7021 "Support tags array on HlsMediaPlaylist Segment"
### [REQUIRED] Use case description

I'm building a stitching library and I need to be able to get custom tags on each individual hls segment as I'm parsing the playlist. Currently, the tags array is only on the media playlist object, rather than on individual segments, making it difficult to parse tags for each segment. Since the HlsPlaylistParser class and the HlsMediaPlaylist class are final, I

[2020-02-27 20:39] stephensj2 opened #7022 "Resource leak in test code"
### [REQUIRED] Issue description
When testing your project with an automated verification tool, a bug was detected in your test code. In [HostActivity.java](https://github.com/google/ExoPlayer/blob/release-v2/testutils/src/main/java/com/google/android/exoplayer2/testutil/HostActivity.java) a WifiLock and WakeLock are created and acquired in onStart, then released in onStop:

[code]

Such behavior

[2020-02-27 23:21] CalebGartner opened #7024 "Out-Of-Order Buffer Presentation Times?"
### [REQUIRED] Searched documentation and issues
I've searched in the available documentation and through the issues, thought the closest thing I could find was this issue, which is only semi-related: https://github.com/google/ExoPlayer/issues/3139

### [REQUIRED] Question
Currently, when we're playing a simple TS file, it plays as expected, except that when we log the `outputBufferInfo.presentati

[2020-02-28 01:46] TakuSemba commented on #7015
Thanks, I confirmed that 3.199.3 was released and the issue was solved.

[2020-02-28 05:18] GouravSna commented on #6429
Just to check @ojw28. Can we go ahead for IMA 3.17.0 with ExoPlayer 2.11.3  ?

[2020-02-28 05:41] hoaibn-0332 opened #7025 "Preview/Play Frame by Frame"
### [REQUIRED] Searched documentation and issues
I found nothing similar question

### [REQUIRED] Question
I am using `SimpleExoPlayer` to play an mp4 video from the internal storage device. In my requirement need to play video normally and play frame by frame such as attachment when user scrolling (realtime). I tried to use method `seekTo()` but take 400-500mls for the action (not realtime)
I did

[2020-02-28 07:15] andrewlewis commented on #7025
If the goal is to make user interaction with the seek bar more responsive, please see #6794. That won't help if you need frame-accurate seeking, though (see also #2191, which is about reverse playback but the same kind of limitations apply for random access).

[2020-02-28 07:17] andrewlewis commented on #6429
@GouravSna No, the situation here has not changed.

[2020-02-28 07:18] #7015 closed, assigned to andrewlewis

[2020-02-28 08:18] hoaibn-0332 commented on #7025
Thank for replied @andrewlewis
But it's not real-time and exact frame :(
When the user scroll `SeekBar` between two-step ~ two-frame take about 15-17 milliseconds. But `ExoPlayer` seekTo not fast enough, so `Video Preview` not smooth

[2020-02-28 08:45] andrewlewis commented on #7024
Is it possible that the logging is mixing audio and video output buffer timestamps? If so, it is expected that they may not be "synchronized" as an output buffer may be processed from the perspective of the renderer without actually being presented to the user yet (e.g., it may have been written to the `AudioTrack` buffer but not played out yet.)

[2020-02-28 09:46] andrewlewis commented on #7025
If the goal is to advance forwards by one frame and render it each time the user presses a button, I think you need to have fine-grained control over the player position and prevent rendering multiple frames. That is not really easy to do at the moment, but I think it's possible by (for example) writing a custom video renderer that controls the media clock and has a method that you can call to tri

[2020-02-28 10:26] kim-vde commented on #6983
I investigated the issue and here is what I found out:

- The error is caused by a sudden drop in the presentation timestamps (pts), going from 2 705 940 000 to 302 400.
- This causes the timestamps computed for the samples to become negative. As a consequence, ExoPlayer keeps loading data without interruption, causing an OutOfMemory error.
- The packet for which the pts is dropping does not have

[2020-02-28 11:08] Samrobbo commented on #7022
Looking into this now.

[2020-02-28 12:08] Samrobbo commented on #7018
Hi,

As far as I know, ExoPlayer doesn't support this at the moment.

[2020-02-28 12:08] #7018 closed, assigned to Samrobbo

[2020-02-28 12:27] andrewlewis commented on #7018
Just to add to what Sam wrote: it's beyond the scope of this tracker to give detailed guidance on parsing/rendering for this format, but if you want to implement it yourself you will probably need to make customizations like:
- Reading and handling the OMAF metadata. This may require a custom extractor if we don't surface the metadata currently because it's not in part of the MP4 container that we

[2020-02-28 12:53] Samrobbo commented on #7022
I'm curious as to why you think acquiring in onStart and releasing in onStop is actually problematic? [The android activity lifecycle](https://developer.android.com/guide/components/activities/activity-lifecycle) indicates they are balanced.

[2020-02-28 13:01] tsaezmirada commented on #6654
[android_logs.txt](https://github.com/google/ExoPlayer/files/4267134/android_logs.txt)

Hello Exoplayer team,

I would like to re-open this jira with new logs from other affected device by this issue. As requested, attached a full report from the starting of the app up to close with all playback done and failing.

Please, keep us updated or if any other requirement is needed.

Regards,
Tania

[2020-02-28 13:37] andrewlewis commented on #6967
Yes, that's right. Thanks. I'll close this for now as there is a workaround and #6429 tracks the "proper" fix.

[2020-02-28 13:37] #6967 closed, assigned to andrewlewis

[2020-02-28 14:01] arun-ns opened #7027 "I am not able play this url."
I am not able play this url.

https://tvesyfy-vh.akamaihd.net/i/prod/video/645/191/180615_3746314_The_Tip_of_the_Zoidberg_anvver_5_,40,25,18,12,7,4,2,00.mp4.csmil/master.m3u8?__b__=1000&hdnea=st=1582897780~exp=1582905010~acl=/i/prod/video/645/191/180615_3746314_The_Tip_of_the_Zoidberg_anvver_5_*~id=3af44eeb-211b-40c4-9ab6-327ae1f28d6c~hmac=b5bc47ab4c7a999349d2442921ec4a5d858a06b80af2864e8a66993584

[2020-02-28 14:13] andrewlewis commented on #7019
Create a [`ContentMetadataMutations`](https://github.com/google/ExoPlayer/blob/r2.11.3/library/core/src/main/java/com/google/android/exoplayer2/upstream/cache/ContentMetadataMutations.java) instance, set custom key/value pairs (using `ContentMetadata.KEY_CUSTOM_PREFIX` to avoid colliding with ExoPlayer's metadata keys) then apply those mutations via [`Cache.applyContentMetadataMutations`](https://

[2020-02-28 14:20] ojw28 commented on #7019
I don't think `Cache` is the right level of API to be using for this.

I think you should be using `DownloadRequest.data`. When you create a `DownloadRequest` to download an item, you can serialize whatever custom data you want into that field, and it will be persisted along with information about the download. Whenever you query the downloads, you can retrieve the data from `Download.request.data

[2020-02-28 14:22] andrewlewis commented on #7027
Looking at the URL, this appears to be an HLS stream so please make sure you're using `HlsMediaSource`.

[2020-02-28 14:23] #7019 closed, assigned to andrewlewis

[2020-02-28 14:27] andrewlewis commented on #7027
The stream plays fine in the ExoPlayer demo app (after allowing non-HTTPS connections) using `HlsMediaSource`.

[2020-02-28 14:27] #7027 closed, assigned to andrewlewis

[2020-02-28 14:40] arun-ns commented on #7027
How to  allow non-HTTPS connections ?? Please Provide Some Code Snippets

[2020-02-28 14:57] arun-ns commented on #7027
Have you checked in Demo app. Because I am not able to play demo app also

[2020-02-28 14:59] Shmuel83 commented on #7027
In your manifest, add that
[code]

And in your /res/xml , created your file "network_security_config.xml"

Past that :

[code]

https://developer.android.com/training/articles/security-config

[2020-02-28 15:05] arun-ns commented on #7027
Its Working. Thanks a lot  @Shmuel83  @andrewlewis

[2020-02-28 15:27] andrewlewis commented on #7017
Thank you for the report. It looks like `initialPlaylistLoader` is null in release. This is unexpected because start/stop calls should be paired, because prepare/resource source calls should be paired.

Do you have any customizations to the `HlsMediaSource` or related source components in your app?

In the Firebase console can you see any other information about the crashes that might be relevant,

[2020-02-28 15:42] inat-tv opened #7028 "Android 4.x.x - E/ExoPlayerImplInternal: Source error."
Logcat:

[code]

Minimum sdk 17, target sdk 29

I created 2 players both as fragment and activity but it doesn't work on android 4 versions. No problem at 5 and above.
<a href="https://hizliresim.com/VByd6B"><img src="https://i.hizliresim.com/VByd6B.png"></a>

[2020-02-28 15:47] inat-tv commented on #7028
There are other errors too. The image is of poor quality in multiple qualities. It doesn't open on Android 4 at all.
[code]

[2020-02-28 15:50] inat-tv commented on #7028
Don't have a simple example for Exoplayer? For example, can not you make a sample through a single m3u8 link? It is very complicated. It makes a lot of effort for beginners.

[2020-02-28 15:51] inat-tv commented on #7028
We make many settings wrong. A good example though. We can learn through the example.

[2020-02-28 16:17] ojw28 commented on #7027
To blanket allow non-HTTPS in your app it's also sufficient just to do this:
[code]
which avoids you having to make the separate `network_security_config.xml` file.

[2020-02-28 17:26] andrewlewis commented on #7028
For the first error (HTTP status 400) this is likely to be a server issue. See also #4537.

Regarding the exceptions from `MediaCodec`: it looks like you are testing on the emulator, which has limited support for decoding video formats (especially before API 23). See also [supported devices](https://exoplayer.dev/supported-devices.html).

Regarding sample code, please have a look at the documentat

[2020-02-28 17:26] #7028 closed

[2020-02-28 17:38] inat-tv commented on #7028
I read this topic. But there are many channels. Not all of them have server problems. All posts have the same problem. https://github.com/google/ExoPlayer/issues/4537 There may be an exoplayer issue for Android 4. Or I may be making some settings wrong. But I couldn't figure it out.

[2020-02-28 17:38] inat-tv commented on #7028
I read this topic. But there are many channels. Not all of them have server problems. All posts have the same problem. https://github.com/google/ExoPlayer/issues/4537 There may be an exoplayer issue for Android 4. Or I may be making some settings wrong. But I couldn't figure it out.

[2020-02-28 17:44] sumitmattawynk commented on #7017
No we don't have any customization on HlsMediaSource. we are using as it is. moreover the class in which exception is coming is internal. we are using encryption and decryption in streams. so the data sources are overridden

No we don't see other information apart from it.

It is occurring only on 9 and 10.

Frequency is like 1% of users. and we are not able to reproduce this at our end

[2020-02-28 18:44] #2863 closed, assigned to ojw28

[2020-02-28 18:44] ojw28 commented on #2863
This is done in `dev-v2`. There is also a `Format.Builder` now, to make future changes to `Format` less painful.

[2020-02-28 19:28] ojw28 commented on #6991
I've marked most of the responses above as off topic, since there are two issues being discussed here. Here's the part of response from @marcbaechinger that is relevant to the original issue:

As Marc mentions, for progressive live streams it's not possible the player to request the media data from a particular position from the server. So the only way to support pause/resume for such streams is f

[2020-02-28 19:28] #6991 closed, assigned to marcbaechinger

[2020-02-28 19:32] stephensj2 commented on #7022
The path we are detecting is as follows: onCreate -> onStart -> onResume -> onPause -> kill. As shown in the android lifecycle, it is possible for the app to be killed after onPause causing onStop never to be called. Such a path would leave both of the locks acquired when the app is killed.

[2020-02-28 19:50] ojw28 commented on #7022
It's not required that an application release any locks that it's holding before it's killed. This is also impossible to implement this, because the underlying platform can kill the application at any arbitrary point in time (e.g., it's perfectly possible that `onPause` will never be called either). So I don't think your concern is valid.

[2020-02-28 20:18] stevemayhew opened #7030 "Improve robustness when adaptive playbacks encounter unexpected discontinuities"
### Issue description
ExoPlayer freezes playback in `Player.STATE_BUFFERING` forever when faced with un-marked discontinuities in the stream.

Other players (Safari/QuickTime, VisualOn, Hls.js) *recover* from this to varying degrees (Safari looses A/V sync, not desirable, but at least the evidence is more clear the problem is with the stream not the player.

I'm not suggesting ExoPlayer's design o

[2020-02-28 20:22] phhusson commented on #7030
This seems to be related to #6983

[2020-02-28 20:33] stevemayhew commented on #7030
Most likely Pierre..  We have seen origin servers where the packager runs wild and creates an extremely long segment cause the TS to run on forever and throw this exact same OOM exceptions.

Most of what we work from is transcoded live broadcast streams, where sadly this stuff is all too common.  The Origin Server’s packager should correct for these issues, but often they don’t.   The goal of the

[2020-02-28 20:36] stevemayhew commented on #6983
The `continuity_counter` is ignored in HLS TS segments (Origin server packager is supposed to break segments at continuity boundaries)?  Is this a simple TS file you are trying to play or a segment in HLS.

[2020-02-28 23:04] CalebGartner commented on #7024
Hmm, perhaps. I'll try investigating to see if we're mixing in the audio timestamps. Thanks for the suggestion!

[2020-02-29 01:55] SogoGolf opened #7031 "add a property to enable/disable the seek bar / scrubbing"
is there a property or programmatic way of disabling the seek bar so the user can't scrub through an audio track ?

if we set ```app:touch_target_height="0dp"``` it works, but that (i dont think) can't be changed at run time back to (say) 20dp when we DO need the user to scrub/use the seek bar.

please let us know asap many thanks

[2020-02-29 07:53] vengateshvengi opened #7032 "DRM license response with caching."
we are implementing widevine proxy on top of license server.That proxy server will cache the license server response based on each content-id and my question is.
Does exoplayer will play on passing the cached license response for the widevine license request?
On executing this process ,exoplayer throws an error :
       Failed to handle key response (2000)

[2020-02-29 10:23] wahdatjan opened #7033 "No virtual method addVideoListener"
[code]

[2020-02-29 17:57] oleksandr-yefremov commented on #6974
Any progress on this one?

[2020-03-01 01:39] SogoGolf commented on #7031
i see this got labelled as an ```enhancement```. im amazed this sdk feature isn't available given there is already an XML property setter for it

in the mean time is there another way / workaround to achieve this at run time ? for example what about using ```@BindingAdapter``` somehow from the Android SDK ? we're open to any kind of hack/approach for now to get this working. really appreciate your

[2020-03-01 03:30] SogoGolf commented on #7031
for the time being ive subclassed DefaultTimeBar and added a setter method for ```app:touch_target_height``` ie. ```setTouchTargetHeight```, which is working ok

[2020-03-01 10:44] LSDsl commented on #6983
a simple TS file, not HLS

[2020-03-01 14:05] vldF opened #7035 "Download the track by URI"
I used this code for create DownloadService:

    package ru.vldf.plawer.player
    import android.app.Notification
    import android.content.Context
    import com.google.android.exoplayer2.database.ExoDatabaseProvider
    import com.google.android.exoplayer2.offline.Download
    import com.google.android.exoplayer2.offline.DownloadManager
    import com.google.android.exoplayer2.offline.Downloa

[2020-03-01 22:18] ojw28 commented on #7024
I think we can say with a pretty high degree of certainty that this is the case, since once you separate them you get two sets of timestamps with constant gaps (~42ms for audio, and ~33ms for video):
[code]
[code]
If you want only the video ones you should add logging in the `MediaCodecVideoRenderer` subclass, or add an instanceof check to the condition that decides whether to log something.

[2020-03-01 22:18] #7024 closed, assigned to andrewlewis

[2020-03-01 22:36] ojw28 commented on #7030
[Internal note: Content emailed to dev.exoplayer@ for this issue refs 7029 rather than 7030]

[2020-03-01 22:53] ojw28 commented on #7030
Am I correct in saying that the types of discontinuity you're seeing do not necessarily occur at segment boundaries? It seems that way, both from the sample provided and the comment above about splitting the segment. Just double checking!

[2020-03-02 00:03] stevemayhew commented on #7030
Yes, that is correct.  The example shows not only PTS resets twice, but the sound was incorrectly spliced (audio on the Verizon ad ends early so the audio for the Cheerios ad overlaps it).  This is where Safari appears to try and 'fix things', I would guess by re-syncing media time to the video from sound, so sound lags from then on.

A better fix is to drop the remainder of the bad segment (what

[2020-03-02 03:36] hokar opened #7036 "About MPEG-DASH behavior"
I would like to ask you a question about segmentation protocol.
How dows the player decide next getting segmentation?
For example, when I have this manifest which is shown below.

[code]

I think that the next segmentation should be "★１t + ★１d(57945827 + 2069)", but actually it is "★１t + ★２d(57945827 + 2002)".
Is it expected result?

Thanks.

[2020-03-02 05:36] meenukrishnamurthy opened #7037 "Skippable ads throwing error in Mi Android Tv Box"
Issue description
Skippable ads are not getting played in Mi android TV Box.I am currently using a forked version of exoplayer.Ads with out skip are getting played.The same ad is playing in my emulator where as when i run the ad in Mi tv box it is throwing the following exception.  AdError [errorType: PLAY, errorCode: AdErrorCode [name: UNKNOWN_ERROR, number: 900], message: The provided ad type: s

[2020-03-02 09:16] andrewlewis commented on #7037
Please could you set `ImaAdsLoader.DEBUG` to true, reproduce the issue and attach a bug report (`adb bugreport`) or logging (or email it to `dev.exoplayer@gmail.com`)?

Based on your description it sounds like a device-specific issue. It would be helpful to know whether you can reproduce it on any other devices apart from the TV box.

[2020-03-02 13:54] meenukrishnamurthy commented on #7037
@andrewlewis I have mailed you the bug report.This issue is showing up only in Mi android tv box.I have checked with two other devices.Amazon firestick and android tv with version 8.0.It working in both the devices.Please check and let me know.

[2020-03-02 14:18] ojw28 commented on #7036
Sorry, but I don't understand the question. I don't understand what "★１t + ★１d(57945827 + 2069)" and "★１t + ★２d(57945827 + 2002)" mean (e.g., what is the function `d`, and what are the stars). It's also unclear which segment you consider the "current" one when you ask what the next one is.

Please could you try and reformulate the question in a simpler to understand way? Thanks!

[2020-03-02 14:23] andrewlewis commented on #7037
The email only has the stack trace, but IMA may output useful diagnostic info to logcat before the actual error occurs. Please follow the instructions from my previous comment to enable the DEBUG flag and get a full bug report.

[2020-03-02 15:44] krocard commented on #7031
Have you tried setting [Timeline.Window.isSeekable](https://github.com/google/ExoPlayer/blob/r2.11.3/library/core/src/main/java/com/google/android/exoplayer2/Timeline.java#L151) to false for the tracks you do not want to be seekable?

It should allow you to disable and enable seeking without having to modify UI touch surface. You current workaround also may be by-passable by using a keyboard/remot

[2020-03-02 16:12] krocard commented on #7033
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md). If you're unable to share bug reports or test content publicly, please send them to dev.exoplayer@gmail.com using a subject in the format "Issue #1234", where "#1234" should be replaced with your issue num

[2020-03-02 16:19] nishantkp opened #7038 "Video player gets stuck when stating a video from pre-defined (known) position on video containing multiple mid breaks."
### Issue description

Stating a video from pre-defined position on video with multiple mid-rolls will get stuck. Either it will not play content (or get stuck on content) or will get stuck on pod and doesn't resume content anymore.

Code used for stating a video from known position,

[code]

`AdsLoader.AdsLoadedListener` will fire `CONTENT_RESUME_REQUESTED` and `CONTENT_PAUSE_REQUESTED` events bu

[2020-03-02 20:53] AquilesCanta commented on #7032
I think this is a server-side question not in the scope of this issue tracker. I imagine license responses are request-specific and caching requires specific support.
- If you are using a media-serving stack, I'd contact them.
- You may be able to get some existing material / help from the [shaka packager](https://github.com/google/shaka-packager/issues) issue tracker.
- Perhaps it's also worth lo

[2020-03-02 20:53] #7032 closed, assigned to AquilesCanta

[2020-03-03 02:07] #6948 closed, assigned to tonihei

[2020-03-03 02:07] #6514 closed, assigned to christosts

[2020-03-03 10:05] imcloud opened #7039 "Is it possible to create an instance in a background thread"
I create texture view by myself

Can I create and use the exoplayer in a background thread to render video

[2020-03-03 11:51] kunalvaidya opened #7040 "Video is zoomed/cropped to top-left of actual video when exoplayer demo app is invoked in tunneling mode."
### [REQUIRED] Issue description
Video is zoomed/cropped to top-left of actual video when exoplayer demo app is invoked in tunneling mode.

when exoplayer demo app intent is executed with the "tunneling" set to TRUE then Video is zoomed to TopLeft but multichannel audio is played out properly on expected speakers of a decoder .
but when exoplayer demo app intent is executed with the "tunneling" se

[2020-03-03 12:00] kunalvaidya commented on #7040
I have tried the following to check the zoom/crop behavior
a) `app:resize_mode="fill"`
    didnt change anything
b)  `player.getVideoComponent().setVideoScalingMode(C.VIDEO_SCALING_MODE_SCALE_TO_FIT_WITH_CROPPING);` and `playerView.setResizeMode(AspectRatioFrameLayout.RESIZE_MODE_FIT);`
     didn't change anything

[2020-03-03 13:49] jakub-tausk commented on #7016
Hello Andrew,

please give advice.

Thank you

[2020-03-03 18:52] stevemayhew commented on #7030
To skip the balance of the bad segment (with the reported intra-extractor discontinuity) we would:
1. throw the exception and discard the remainder of the samples
1. mark the next chunk as requiring a new `Extractor` / `TimestampAdjuster`, this resets the A/V sync to the new PTS sequence

Looking at the [TimestampAdjusterProvider](https://github.com/google/ExoPlayer/blob/49910fe72579c4e55e14b47b0c

[2020-03-03 20:02] CBCSeanNguyen opened #7041 "AdEvent.ALL_ADS_COMPLETED called prematurely"
I've been noticing some strange behaviour associated with the IMA ExoPlayer extension, not too sure if it's intended or not.  When loading a pre-roll ad where there are multiple ads served, if I background the app while the last ad is playing (ie. 2 of 2) I get returned an AdEvent.ALL_ADS_COMPELETED.  As a result, when returning to the app, rather than continuing the ad, it finishes and proceeds t

[2020-03-03 20:14] Stonos commented on #6907
As a workaround until this is implemented (adding `MPD.Location` wasn't feasible in my case), I'm using the following OkHttp interceptor:

[code]

[2020-03-03 21:32] ojw28 commented on #7033
It seems possible you are mixing multiple different versions of ExoPlayer together. All ExoPlayer modules used by your app should have the same version. So you might also want to check whether this is the case.

[2020-03-03 21:56] ojw28 commented on #7032
@rrfrias could confirm this for sure, but I don't think that's a valid thing to do. My understanding is that:

1. Every license request generated by a device is different (even if for the same content id)
1. When a license request is generated by a device, it will only accept a license response that was generated by the license server using that exact request

If this understanding is correct, the

[2020-03-03 22:13] Stonos opened #7042 "ExoPlayer does not recover from AudioTrack invalidation in passthrough [internal b/112299307] (AudioTrack write failed: -6)"
### [REQUIRED] Issue description
I'm getting random `AudioSink$WriteException`s when playing a video with a 6 channel audio track (usually after pressing a button on the remote control).

This only seems to occur if the **HDMI Input Audio Format** setting on the TV is set to **Bitstream** instead of **PCM**.

I believe that this happens because Android is trying to play system sounds while in audi

[2020-03-03 22:31] rrfrias commented on #7032
I concur with ojw28@'s response. Caching a license at the proxy service is not a supported use-case. You might want to discuss whether there are alternate ways of achieving your goals by contacting the widevine partner engineering team (or https://www.widevine.com/contact).

[2020-03-04 05:35] nishanBende commented on #6787
@ojw28  how to enable or use this flag?
Is there some initializer where I can pass it?
Thanks

[2020-03-04 07:21] hokar commented on #7036
Sorry, this issue was misunderstood.
I'll let you know if there is anything.
Thanks.

[2020-03-04 07:21] #7036 closed, assigned to ojw28

[2020-03-04 08:24] krok55 commented on #5887
Hello,
I have a similar issue on ALL devices (not just Huawei).
Some of them report on ANR at blockUntilDelivered. Here is a typical ANR report:

"main" prio=5 tid=1 Waiting
  | group="main" sCount=1 dsCount=0 flags=1 obj=0x75794770 self=0x3073021c00
  | sysTid=23917 nice=0 cgrp=default sched=0/0 handle=0x2fed5cd548
  | state=S schedstat=( 10073527995 6894125827 42689 ) utm=789 stm=217 core=2 HZ=1

[2020-03-04 09:22] kim-vde commented on #6787
It is enabled by using `FLAG_ENABLE_INDEX_SEEKING`, which can be set on a `DefaultExtractorsFactory` using `setMp3ExtractorFlags`.

The documentation has not been updated yet as this functionality has not been released yet.

[2020-03-04 13:11] andrewlewis commented on #7016
It sounds like you are switching between `PlayerView`s when transitioning between window/full-screen. The IMA SDK mostly runs its code in a `WebView` that gets inserted on top of the player output view (assuming you are using `PlayerView` as the `AdViewProvider` when creating the `AdsMediaSource`). I wonder whether the change of player view is causing the `WebView` running the IMA SDK to get destr

[2020-03-04 13:59] izpakla opened #7043 "Player ignores LoadControl and buffering continues after pausing AAC Stream"
### Issue description
ExoPlayer instantiation and values used for DefaultLoadControl:
[code]

Buffering does not stop when setting
`exoPlayer.playWhenReady = false`

Android Studio Profiler shows the same network activity when `playWhenReady` is true.
Network activity actually stops after ~3 minutes.

Second scenario:
When network connection is disabled (stream was playing) there were around 30 to

[2020-03-04 14:15] Cubxity opened #7044 "How to determine if a format is downloaded/cached?"
When filing a question:
-----------------------
Fill out the sections below, leaving the headers but replacing the content. If
you're unable to provide certain information, please explain why in the relevant
section. We may close issues if they do not include sufficient information.

### [REQUIRED] Searched documentation and issues
I have searched for issues on the GitHub repository.

### [REQUIRE

[2020-03-04 14:54] otopba commented on #2092
Also waiting for avi support

[2020-03-04 15:41] morfeo9950 commented on #6892
Hi, im having this same issue with the demo app, im using this link ( https://1fichier.com/?jpm7ht5bm7bn17a5yqzs ) to test the demo app in the hls section, i only add my hls test stream in the media.exolist.json, it is giving me this error and in the player shows the Playback failed message, the original vid is a .mkv and i use a free software to create the .ts files, vodobox is the freeware im us

[2020-03-04 15:45] icbaker commented on #6892
@morfeo9950 Can you file a new 'question' issue and we'll take a look? Please complete the template in full, including attaching a full bug report. Thanks!

[2020-03-04 16:09] #6960 closed, assigned to kim-vde

[2020-03-04 16:10] #6964 closed, assigned to kim-vde

[2020-03-04 16:10] #6966 closed, assigned to kim-vde

[2020-03-04 16:10] #6968 closed, assigned to kim-vde

[2020-03-04 16:10] #6977 closed, assigned to kim-vde

[2020-03-04 16:11] #6976 closed, assigned to kim-vde

[2020-03-04 16:35] morfeo9950 opened #7045 "UnrecognizedInputFormatException: None of the available extractors..."
Hi, im having this issue with the demo app, im using this link ( https://1fichier.com/?jpm7ht5bm7bn17a5yqzs ) [](https://1fichier.com/?jpm7ht5bm7bn17a5yqzs)   to test the demo app in the hls section, i only add my hls test stream in the media.exolist.json, it is giving me this error and in the player shows the Playback failed message, the original vid is a .mkv and i use a free software to create

[2020-03-04 16:51] ppodgorski commented on #6524
@ojw28 We would be grateful if you could add support for `urn:mpeg:dash:utc:http-head:2014`.
We have prepared a test content: http://r.dcs.redcdn.pl/livedash/o2/atendesoftware/live/live.livx/live.mpd?indexMode&dummyfile

[2020-03-04 17:08] donato commented on #7038
Thank you @nishantkp this is verified and I'm working on a fix now.

[2020-03-04 18:50] RichardDapice commented on #6348
We fixed this by forcing L3 software decryption, maintaining a blacklist for these devices, and detecting dropped frames and forcing other devices.

[2020-03-05 05:06] meenukrishnamurthy commented on #7037
@andrewlewis I have mailed the bug report as instructed by you.Please check and revert

[2020-03-05 05:49] PaulWoitaschek opened #7046 "Opus File no longer plays"
With 2.11.3 opus files that played before don't play any longer.

The issue was originally reported here:
https://github.com/PaulWoitaschek/Voice/issues/948

The issue contains an example file.
When trying to play it, the following error happens:

[code]

[2020-03-05 06:43] nikunjteksun commented on #6761
is there any update for the same @ojw28

[2020-03-05 06:55] nikunjteksun opened #7047 "Zoom In, Zoom Out in playbacks"
zoom in, zoom out functionality required in playbacks, I found a solution for that is working fine but, it is very effective when functionality inside the original library so that developers can easily handle the codec and other things smoothly.

reference link:
https://github.com/Manuiq/ZoomableTextureView

[2020-03-05 07:54] bachhoan88 commented on #7025
Thank for support
I 've resolved it 👍
1. The first I am using `ExoPlayer` to play a video and create a `MediaCodec` to extract all frames
2. When touching on the `SeekBar` i use the `GLES` to render those frames via `GLUtils.texImage2D` and call `ExoPlayer` `playWhenReady = false`
3. When touch-up I call `ExoPlayer` to seek to the position
4. When user click play i hide the draw before :)

It's wo

[2020-03-05 07:57] hoaibn-0332 commented on #7025
Thank for support
I 've resolved it 👍

The first I am using `ExoPlayer` to play a video and create a `MediaCodec` to extract all frames
When touching on the `SeekBar` i use the `GLES` to render those frames via `GLUtils.texImage2D` and call pause the media
When touch-up I call `ExoPlayer` to seek to the position
When user click play I hide the frame draw before :)
It's working for me :)) Thanks!

[2020-03-05 08:10] icbaker commented on #7045
We need more information.

Please complete the [issue template](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/question.md) in full (copy paste it into a new comment here), including attaching a bug report taken after reproducing in the demo app, as requested in https://github.com/google/ExoPlayer/issues/6892#issuecomment-594614728.

[2020-03-05 08:38] andrea157 opened #7048 "DRM Widevine L1 HDCP - Offline"
Hi, I'm trying to implement the download of DRM-protected content on the demo app.
Downloading and playing a Widevine L3 content works correctly while for the same content but with Widevine L1 HDCP protection I can download it but when I try to play it I have the following exception:

[code]

So I wanted to know if theoretically a content with Widevine L1 HDCP is downloadable and playable offline

[2020-03-05 09:06] andrewlewis commented on #7025
Cool, glad you got it to work!

[2020-03-05 09:06] #7025 closed, assigned to andrewlewis

[2020-03-05 11:36] ventsea opened #7049 "In repeat mode, how do I know to play once"
How do I do it? thx

[2020-03-05 11:41] kim-vde commented on #6941
Could you provide the size of the FLAC file for which the Mp3Extractor was selected, to help me understand what might have happened?

[2020-03-05 12:21] luna-vulpo opened #7050 "Why adaptive track selection selects over download limit?"
I play dash live stream on edge.  The stream has below traks:
[code]
The adaptive track selection is enabled:
[code]
But on router I set limit to 5M
so adaptive select should choose track with bitrate=2000000 but I observe that it switch between
5.5M and 2M

See logs:
[code]

It is expected behavior?  It is possible to fix to max. in that case 2M

[2020-03-05 16:22] realwizzard opened #7052 "AVC decoding not working (Portuguese TV channels)"
When trying to decode live TV of portuguese channels (RTP1, RTP2, SIC, TVI...) VLC is not able to do it. Tested on Android with latest ExoPlayer 2.11.3. It is working with MXPlayer and BSplayer, but not with ExoPlayer and not with VLC. See mediadetails attached. Please contact me if I should upload an example file.
[mediadetails.txt](https://github.com/google/ExoPlayer/files/4293973/mediadetails.t

[2020-03-05 17:44] MDXDave opened #7053 "Remove progressbar/seekbar from CastPlayer notification"
### Searched documentation and issues
- https://exoplayer.dev
- Stackoverflow
- Google...

### Question
I need to remove the progress-/seekbar from the default cast notification that appears after a cast session started, because the progress is not in-sync with the actual progress showing in the receiver app.

![image](https://user-images.githubusercontent.com/6099976/76009131-ff908c00-5f10-11ea-8

[2020-03-05 18:28] giladna opened #7054 "Black frame for video and only Audio is playing - FireTv AspectRatioFrameLayout API"
### [REQUIRED] Searched documentation and issues
I have been searching in the AspectRatioFrameLayout class java doc and in the issues here :)

### [REQUIRED] Question
Hi,
In the Exo Player demo app when there is update in the onVideoSizeChanged the app will onContentAspectRatioChanged that calls contentFrame.setAspectRatio(aspectRatio)

I am trying to fix an issue that for some reason only audio i

[2020-03-05 19:02] ashwithraja commented on #7054
We are also observed the same issue and most of the time we have seen this issue when there are multiple activities in a stack.
 Setting the aspect ratio to AspectRatioFrameLayout.RESIZE_MODE_FILL makes playback to appear with stretch.

Thanks
Ashwith

[2020-03-06 01:29] stevemayhew commented on #7030
Here is the proposed solution.  The detection part of the solution handles the issue @ojw28 pointed out here: https://github.com/google/ExoPlayer/pull/7034#discussion_r386145292 as the timestamps are compared to the range of the segment itself.

Since GitHub does not support embedding images in markdown, here is a PDF:  https://drive.google.com/file/d/1dT64gp8ES7tPYX_dEErvuHhb0XfY9a8X/view?usp=sha

[2020-03-06 02:07] #6962 closed, assigned to andrewlewis

[2020-03-06 03:56] custadian commented on #7054
Hi, I am also facing this issue which is very weird. @ojw28 , if you can help on this.
-Thanks

[2020-03-06 07:45] kulve commented on #5096
I'm not familiar on how to build it so I was hoping that if you are, maybe you could easily provide those for me to test with.

[2020-03-06 09:41] davibe commented on #6907
#1536

[2020-03-06 10:09] icbaker commented on #7045
This error comes from ProgressiveMediaSource, not HlsMediaSource, so it means the demo app is incorrectly trying to play your HLS file as a progressive (i.e. non-adaptive, non-chunked) file.

This is likely because when reading the JSON file, the demo app guesses the type of the stream based on the file extension. If it doesn't see an extension, or recognise it, then it just falls back to the defa

[2020-03-06 10:12] davibe commented on #6907
If there is a 302, and "redirect stickiness" is enabled/expected but the manifest also has its own `<Location>`, who takes priority in determining the new url of the manifest ?

I assumed the http redirection takes precedence because the goal is for the CDN to avoid manifest rewrites.

I believe #1536 was the same "issue"

[2020-03-06 10:34] Cizor opened #7055 "Rendered buffer count is always 0 when tunneling is enabled"
### When tunneling is enabled, renderedOutputBufferCount is 0
renderedOutputBufferCount of decoderCounters works fine to report number of buffers rendered for video and audio tracks but when tunneling is enabled, number of buffers are not being updated and is always 0. Audio buffer counts are working in both modes.

### Reproduction steps
1. Launch Demo app
2. Check "Request multimedia tunneling"

[2020-03-06 10:35] andrewlewis commented on #7055
Will be fixed by #7051.

[2020-03-06 13:26] andrewlewis commented on #7041
Please do send the ad tag URL to dev.exoplayer@gmail.com. Thanks.

[2020-03-06 14:36] ebr11 commented on #5096
I cannot easily build it into an APK for you because you need some content to reproduce it with and that content is defined in the app (you modify a json file).

It is fairly straightforward to make that edit and build the app with Android Studio and send it straight to a device connected via ADB.

[2020-03-06 16:29] donato commented on #7038
The fix is in a canary, which is being served at 1% traffic. We hope to launch it on Monday morning EST.

[2020-03-06 16:59] kulve commented on #5096
I'm not that familiar with Android Studio either but it was indeed fairly straightforward. I'm able to run
the default "demo-ima" config on my Shield by just clicking the run button.

Suresh mentioned above that he used the following command to play any content:
`adb shell am start -a com.google.android.exoplayer.demo.action.VIEW -d file://`

Is that a valid repro command for this bug? If I need t

[2020-03-06 17:22] andrewlewis commented on #5096
Rather than "demo-ima", could you try "demo" which is the main demo app?

There are instructions for playing content [here](https://exoplayer.dev/demo-application.html#playing-your-own-content). It's probably easiest to [send an intent](https://exoplayer.dev/demo-application.html#3-firing-an-intent) rather than modifying a JSON file. Thanks.

[2020-03-06 18:02] christosts commented on #7003
Update: I managed to get a repro on a Xiaomi MiBox 3. Will post again once I have a better understanding of this.

[2020-03-06 18:22] CBCSeanNguyen commented on #7041
Hello Andrew,

I sent the ad tag URL to the email.  Subject: Issue #7041

[2020-03-06 20:10] krok55 opened #7058 "ffmpeg Extension for x86_64"
Hello,

I read all the manuals and issues regarding building the ffmpeg extension for various ABI.
I'm able to build it a get it working for armeabi-v7a, arm64-v8a, x86.
However, I can't get it working for x86_64 platforms...

Can you guide me please on how should I modify `build_ffmpeg.sh` to get this working?

Thanks

[2020-03-06 21:08] nishantkp commented on #7038
Thats great @donato.

[2020-03-07 06:06] MokshBhansali commented on #7045
i Will also face this error when i'm fetching my **VIDEO URL** from firebase storage.
this is error i'm face on my terminal :-

E/flutter ( 4274): [ERROR:flutter/lib/ui/ui_dart_state.cc(157)] Unhandled Exception: PlatformException(VideoError, Video player had error com.google.android.exoplayer2.ExoPlaybackException: com.google.android.exoplayer2.source.UnrecognizedInputFormatException: None of the

[2020-03-07 08:39] kulve commented on #5096
Thanks for the pointers.

I'm now running the "demo" app of ExoPlayer 2.10.4 on Shield 8.0.2 and I'm testing with the cropped 3840x1600 The Martian clip from the first post.

I select run in Android Studio and once the UI is up, I launch the playback with:

`adb shell am start -a com.google.android.exoplayer.demo.action.VIEW -d file:///sdcard/Movies/The_Martian.mkv
`
I do get HDR triggered correct

[2020-03-08 06:48] dirondir opened #7059 "Video with DTS-HD audio playing error"
### [REQUIRED] Issue description
I'm trying to play a movie (.mkv, DTS-HD sound) with my NVidea Shield 2017 (has DTS-HD on the board and it should works with pass-through). Have an error:
[code]
The most strange thing is that this movie played well with ExoPlayer till 2.11.x.

### [REQUIRED] Reproduction steps

[code]
than start playing as

[code]

### [REQUIRED] Link to test content
sent to dev.e

[2020-03-08 08:41] haihack opened #7060 "App crashes on recent versions FATAL EXCEPTION: ExoPlayerImplInternal:Handler"
### [REQUIRED] Issue description
The crashing happened right after I played a streaming audio. I had been reporting this issue in [earlier version 2.9.6](https://github.com/google/ExoPlayer/issues/5600) but it has still existed until now. So I decided to reproduce it in a small project.

### [REQUIRED] Link to test content
[Click here!](https://drive.google.com/open?id=1nC0zp9MfEt9veClpyPu5wSHz7dS

[2020-03-09 01:45] ojw28 commented on #7060
The issue is that `implementation 'com.github.mattias-karlsson:exoplayer-shoutcast:1.0.0'` is incompatible with the version of ExoPlayer that you're trying to use. It looks like that library hasn't been updated for ~3 years.

Note that ExoPlayer supports Shoutcast metadata directly from 2.10 (see [this blog post](https://medium.com/google-exoplayer/exoplayer-2-10-whats-new-15d344eaa8b9)). So your

[2020-03-09 01:45] #7060 closed, assigned to ojw28

[2020-03-09 01:56] ojw28 commented on #6907
A server cannot respond with both a 302 and an MPD containing a Location element. It must do one or the other. If the MPD returned by the final server (after 3xx redirection) contains a `<Location>` element, then I would expect it to be used for the next request.

[2020-03-09 10:48] xirac opened #7061 "TtmlRegion reported without origin or extent"
Following my first PR #6860, a deeper analysis has been done on the Ttml chunks that are not being displayed.

Here are 3 consecutive TTML chunks where the 2nd is not displayed.
1620467150624629.ttml is the first appearance of the subtitle:
 * It is correctly displayed by ExoPlayer
 * It is in the cue with ID "p_0001",
   * referencing region with ID "speaker_2",
   * ending at "45012:58:37.063" (

[2020-03-09 10:55] krocard commented on #7030
@ojw28, assigned to you as you seem to have already looked into it. Feel free to reassigned.

[2020-03-09 11:05] krocard commented on #7039
Yes it is possible. The only requirement is that the same thread accesses an ExoPlayer instance.

https://exoplayer.dev/getting-started.html#creating-the-player

[2020-03-09 11:06] tonihei commented on #7061
@icbaker Assigning to you as you looked into the previous PR already.

[2020-03-09 11:08] tonihei commented on #7039
Even though it's possible, we strongly recommend to use the main UI thread for all ExoPlayer interactions because none of them are blocking. I don't think creating a texture view makes any difference as all the main work is already redirected to background threads.

[2020-03-09 11:11] christosts commented on #7003
Hi,

as far as I can tell, the issue is coming from the device's PlayReady module with UHD content. The maintainer of module has been notified of this issue. You will need to contact the device manufacturer for a fix.

[2020-03-09 11:11] #7003 closed, assigned to christosts

[2020-03-09 11:19] krocard commented on #7047
Similar to #6763.

[2020-03-09 11:59] krocard commented on #7052
Please attached the media to this bug if possible, otherwise send it to  dev.exoplayer@gmail.com referencing this issue (if too big to send by email, please share it through Google Drive or shorten it).
Thanks.

[2020-03-09 12:38] xirac opened #7062 "Playback retry with tokenised DRM info"
### [REQUIRED] Searched documentation and issues
I had a look into SimpleExoPlayer.retry() method.

### [REQUIRED] Question

I'm playing Dash + Widevine streams on a CDN using ExoPlayer 2.11.1

When starting a stream playback:
1. The application is requesting an the CDN streamer final uri to the load balancer
2. The application is requesting a tokenised DRM uri to the service platform
3. The appli

[2020-03-09 12:54] realwizzard commented on #7052
https://drive.google.com/file/d/12bHJ0nF42Td25sI8B8mztiSY38Ow5J2c/view?usp=sharing

[2020-03-09 13:56] willzhan commented on #7003
Awesome investigation, chrisosts! We will follow up with the device manufacturer. Thanks a lot!

[2020-03-09 14:37] icbaker commented on #7045
@MokshBhansali

The URL you provided works fine for me in the [demo app](https://exoplayer.dev/demo-application.html#1-editing-assetsmediaexolistjson) with this JSON:

[code]

Your problem seems unlikely to have the same root cause as OP's issue (despite the error messages seeming similar), so if you need further help please file a new 'Question' issue and make sure you fill in the issue template,

[2020-03-09 16:26] krocard commented on #7049
I'm sorry but I do not understand what you are trying to achieve. Are you trying to programmatically know how many time a track in repeat mode was played?

[2020-03-09 16:32] krocard commented on #7058
I tried replacing `x86` and `i686` by `x86_64` in `build_ffmpeg.sh`:
[code]
and it seems to build fine. Please confirm that it solve your issue. I'll then update `build_ffmpeg.sh` to support `x86_64` officially.

[2020-03-09 16:44] krocard commented on #7058
I went on and merged the x86_64. Please reopen the bug if there is an issue with my change.

[2020-03-09 16:44] #7058 closed, assigned to krocard

[2020-03-09 17:45] krocard commented on #7053
I'm not sure ExoPlayer is controlling this notification. Taking a look through the Cast SDK, this is the only mention of notification I could find:
https://developers.google.com/android/reference/com/google/android/gms/cast/CastRemoteDisplayLocalService.NotificationSettings
@AquilesCanta will know more as the author of the cast extension.

[2020-03-09 18:00] krocard commented on #7042
This is an issue during a write of a passthrough AudioTrack. This could be for example because the AudioTrack was invalidated. For example: does using the Google Assistant from the remote trigger the bug (if your remote has a Google assistant button)?

As this is a low level platform error, this bug *can not be investigated further without a bug report* taken just after the write error. An additio

[2020-03-09 18:03] krocard commented on #7043
Toni, is this working as expected?

[2020-03-09 18:22] Stonos commented on #7042
Thanks for the reply.

I have already sent a bugreport to dev.exoplayer@gmail.com that was captured right after the issue occurred. Did you not receive it?

Tomorrow I will see if pressing the Google Assistant key reproduces the issue. I will also grab a bugreport after 3 minutes of normal playback.

[2020-03-09 18:41] krocard commented on #7042
Just found your email! Will take a look.

[2020-03-09 19:02] krocard commented on #7042
As suspected, there was an audio routing event just before the write failure:
[code]
This is similar to the internal issue b/119801918.

1. A system application registers/unregisters a dynamic AudioPolicy.
2. Some AudioTrack are invalidated, including the Exoplayer one.
3. Exoplayer receives a write failure.

This is what we can do about it:

1. Nothing: AudioPolicy are used for many reason, in ge

[2020-03-09 19:12] krocard commented on #7042
No need, thanks. The first one was enough. I would still be interested if you could test the Assistant as a nice way to reproduce if needed.

[2020-03-09 19:21] krocard commented on #7044
I'm guessing by format, you mean a specific Stream ? DASHS &HLS can both stream from remote and local resources.
I think you want the TrackSelector to select the best quality if the content is local. I could not find such option in DefaultTrackSelector. @tonihei Do you know if this feature is already possible without building a custom DefaultTrackSelector?

[2020-03-09 20:00] nishantkp commented on #7038
Hi @donato,

Any updates on this one?

[2020-03-09 20:04] Stonos commented on #7042
Unfortunately it's very unlikely that the STB I'm working with will ever receive an update to Android 9/10. Is there anything that could be done in order to reduce the chance of triggering this issue in the first place?

[2020-03-09 20:42] philblais opened #7065 "UnrecognizedInputFormatException while trying to stream an m3u8 video"
### [REQUIRED] Searched documentation and issues

I am trying to stream an m3u8 file and I am getting an error.
The url I am using is the following: http://storage.googleapis.com/videos.siku.org/10005/dash/master.m3u8
This streaming video does work in a browser.
I am getting the following error at runtime:

I am using the class [ExoPlayerHelper](https://stackoverflow.com/questions/59439625/how-to-

[2020-03-09 21:01] RichardDapice opened #7066 "DefaultDrmSession Aquire/Release - Reference Count"
First off thank you in advance for taking the time to respond to this question.

### Searched documentation and issues
I have searched for related answers on Stack Overflow, existing issues, ExoPlayer Javadoc and the ExoPlayer Developer Website. I also tried the "Similar to # existing issues" on GitHub which as well yielded no result.

### Question
Why is the `referenceCount` in `DefaultDrmSession

[2020-03-09 21:02] donato commented on #7038
Release is rolling out now.

This is a bugfix to behavior for AdsRenderingSettings.playAdsAfterTime and
may impact some players more than others, depending on their usage of that
setting.

Overall results looked good in our analysis.

On Mon, Mar 9, 2020 at 4:00 PM Nishant Patel <notifications@github.com>
wrote:

[2020-03-09 21:25] ojw28 commented on #7066
I think the count is typically 6, which consists of the following for audio and video separately:

1. A reference corresponding to the `SampleQueue` in the media source
1. A reference corresponding to the source side of the `MediaCodecRenderer`
1. A reference corresponding to the codec of the `MediaCodecRenderer`

It should be pretty straightforward for you to attach a debugger or add some logging

[2020-03-09 21:53] RichardDapice commented on #7066
Thank you for the quick response.

That is indeed where I traced these calls in the stack back to. I was just curious if there was a way to prevent the session from releasing without modifying the reference count manually. I am afraid doing so might have unintended consequences.

[2020-03-09 22:40] ojw28 commented on #6955
[Internal ref: b/150506720]

[2020-03-10 00:36] seventhmoon commented on #7048
No. You cannot play L1 protected content on L3 devices.

[2020-03-10 05:43] #7065 closed, assigned to ojw28

[2020-03-10 09:24] #6984 closed, assigned to christosts

[2020-03-10 09:25] icbaker commented on #7061
I agree this looks similar to #6978 but i think it's actually not the same. I think this is the same root cause as #2953 (referential styling).

In your second example you have a `region` which uses a **referential** `style="speakerStyle"` attribute. I believe this is what doesn't currently work in ExoPlayer. This commit on #2953 looks like it could be related too: https://github.com/google/ExoPla

[2020-03-10 09:25] icbaker commented on #7061
Duplicate of #2953.

[2020-03-10 09:25] #7061 closed, assigned to icbaker

[2020-03-10 09:33] andrea157 commented on #7048
Sorry I'm not explained well.

The device I'm using supports the L1 DRM.

I have the same content in two versions: one with DRM HDCP L1 and the other with DRM L3.

The online reproduction of these 2 contents works correctly on my device instead by downloading them the version with DRM L3 works correctly offline while the HDCP L1 DRM version (which works online) does not work offline; I have no err

[2020-03-10 09:51] andrewlewis commented on #7042
For the record: [Internal: b/112299307] is the corresponding internal bug for improving handling of the audio track being invalidated.

[2020-03-10 10:27] Stonos commented on #7042
Update: I tried pressing the assistant button while playing the same content and the bug did not trigger (i.e. the video continued playing normally). However, I couldn't hear the assistant talking. Once I switched to the stereo channel the assistant was audible.

[2020-03-10 10:39] andrewlewis commented on #7055
Fixed by 26d3914e43bac7491f0caa1f9ffbce1ebd6b5924.

[2020-03-10 10:39] #7055 closed, assigned to andrewlewis

[2020-03-10 13:42] ojw28 commented on #7030
Hi. I took a look at the proposal. It looks sensible! What's the current status of the pull request? Is it still being worked on?

[2020-03-10 13:46] linxin2020 opened #7067 "When play the H264 encoded video in TS package, and the sample data sent to the MediaCodec is abnormal."
### [REQUIRED] Issue description
With a private DRM project, I try to get the sample data to the MediaCodec, do some things; when I read the data sent to the MediaCodec, I found that the data did not meet the expectations.
I found that for each video sample data, there will be a byte 0x00 less in the front and a byte 0x00 more in the back.
For example, when I get sample data from  exoplayer is
**_

[2020-03-10 14:05] nishantkp commented on #7038
Hi @donato,

Still have this issue (still able to reproduce in demo app). Is it a server side release or SDK update?
Meanwhile, is there anything we can do on client side?

[2020-03-10 14:58] Cubxity commented on #7044
@krocard
- I would like to know which Format in the track group is available offline (in order to show in the quality selector)
- And yes I would like the TrackSelector to also select the best quality if content is local.

[2020-03-10 15:10] Manasovo commented on #7009
I have a similar issues. Tested on few SONY TV year 2015, 2016 and 2017. Always the same ... flickering picture like mpeg fragment when content in tv scrolling.

[2020-03-10 15:47] donato commented on #7038
Thank you for following up. This was a server-side update, I will check
again to look for other unexpected behaviors.

On Tue, Mar 10, 2020 at 10:05 AM Nishant Patel <notifications@github.com>
wrote:

[2020-03-10 15:53] Crabgore opened #7068 "Merging of Exoplayer layout"
If i use 2 or 3 fragments with Exoplayer  and RESIZE_MODE_ZOOM in one screen, they merge into one video. Its same on every type of device (phone, tablet, TV, box). From version 2.8 to 2.11.3, nothing changed.
will it ever be fixed?

[2020-03-10 16:39] andrea157 commented on #7048
Sorry, I solved this problem but now I have a new problem.

When I call `offlineLicenseHelper.renewLicense(offlineLicenseKeySetId)`

I have this error:

[code]

[2020-03-10 16:59] andrewlewis commented on #7008
I understand from a separate email thread that this relates to the DAI IMA SDK (not the IMA extension for client-side ad insertion), but please correct me if that's wrong.

If you dump the layout in Android Studio while an ad is playing, does the order of views match the order that they're being added when first initializing the UI? I wonder whether IMA's `WebView` or the player controls are getti

[2020-03-10 18:23] #6878 closed, assigned to ojw28

[2020-03-10 22:22] jt64 commented on #6654
Thank you for the new log provided. We aren't able to tell from the log which device make/model the failure happened on, can you provide that information also?

We do see the same error code returned from the trustlet indicating that communication failed during the decrypt call so can confirm it is the same problem.

02-28 20:49:52.890  3115  4056 E wv_dash : Trustlet did not send a valid return c

[2020-03-11 00:15] fallenhaivision commented on #6692
Hi,
Any guidance or hints on how to do this? I've been going through the code for a few hours and my thought is -

[2020-03-11 00:16] fallenhaivision commented on #6692
Hi,
Any guidance or hints on how to do this? I've been going through the code for the last few hours and have thought of this -

[2020-03-11 00:23] fallenhaivision commented on #6692
Hi,
Any guidance or hints on how to do this? I've been going through the code for the last few hours and have thought of this -

1. In ExoPlayerImplInternal:startRenderers get the keyframe timeUs (time in uS) from MediaCodecVideoRenderer.java somehow.
2. In MediaCodecAudioRenderer.java discard all audio older, somehow.

It's the somehow that I'm still trying to figure out as I dig through the code

[2020-03-11 03:52] TakuSemba commented on #7038
This happened to me and still have this issue on v3.202.1.

[2020-03-11 06:36] tifroz opened #7069 "Clarify Javadoc for DataSpec.httpRequestHeaders"
For troubleshooting purposes I am trying to print the request (url, headers) generated by the player. At first glance it seemed like the `TransferListener` hook was build for this very purpose, but I can't get it to show the request headers.

How can I print the header information to the logs? Can you provide some guidance?  My code and output below:

[code]

I would expect to see at least the "Us

[2020-03-11 10:56] brijeshbhatt09 opened #7070 "java.io.EOFException: unable to play partially downloaded mp4 file"
Hi, I am using Exoplayer to play mp4 file from local but when i am trying to play it throws following exception below.
I am playing same file with MediaPlayer then its working fine. I searched alot and found same issue #3351 reported before which i thought may be the case because my file size is also small so after reading the post i checkout the Exoplayer dev-v2-cea and tried to play same file bu

[2020-03-11 11:22] krocard commented on #7042
This bug will track the implementation of AudioTrack invalidation recovery.

[2020-03-11 11:53] xinboljy commented on #7049
So,How to know how many time a track in repeat mode was played? @krocard

[2020-03-11 13:03] ojw28 commented on #7069
`User-Agent` isn't included in the headers you're seeing because, rather than being added into the request `DataSpec`, it's instead added late in the `HttpDataSource` instances. I'm not sure what `X-Test` is or why you'd expect that to be present.

[2020-03-11 13:05] ojw28 commented on #7069
Note that for `User-Agent`, I think your application code will be injecting it via a `DefaultHttpDataSourceFactory` constructor. So you already know what the value is, even if you can't see it in the `TransferListener` callbacks.

[2020-03-11 13:17] #7022 closed, assigned to Samrobbo

[2020-03-11 13:32] ojw28 commented on #7000
As above, this is a DRM provisioning step, and is normal.

Are you by any chance in China? And if so, would internet restrictions explain this? @rrfrias - Do you know if there's any kind of alternative solution, if this is the case? And if there is, who's responsible for configuring that (e.g., does the device manufacturer need to do it)?

[2020-03-11 13:40] ojw28 commented on #7048
There isn't enough information here for us to help you. Please provide a full bug report as requested in the issue template, and also a more detailed description of exactly what you're doing.

[2020-03-11 14:57] krocard commented on #7046
I can not reproduce the failure on :
[code]

Both playback played without error on both my device (Pixel 3 and Nvidia shield).

[2020-03-11 15:01] krocard commented on #7046
Actually, from the log, the Opus extension seems to be used: https://github.com/google/ExoPlayer/blob/r2.11.3/extensions/opus/src/main/jni/opus_jni.cc#L82

[2020-03-11 15:08] PaulWoitaschek commented on #7046
That's opus 1.3.1.
This is the repo for opus:

[code]

The library is set to `EXTENSION_RENDERER_MODE_PREFER`.

https://github.com/PaulWoitaschek/Voice/blob/97f06a38834fc55fec39379b4a5545851527d632/app/src/main/java/de/ph1b/audiobook/playback/OnlyAudioRenderersFactory.kt#L23

[2020-03-11 15:39] krocard commented on #7046
Thanks for your opus version, I'll try again with the extension this time.

[2020-03-11 16:03] #7039 closed, assigned to krocard

[2020-03-11 16:03] krocard commented on #7039
Closing the issue as the question is answered.

[2020-03-11 16:10] donato commented on #7038
It looks like the ad break index for skipped ads was being calculated a
little differently.

For example if we had an ad at [10, 20, 30], their ad pod index would be 1,
2, 3.
When skipping ads, the old behavior would update the ad pod index, to
reflect the new ordering. For example if skipping the first two ads, then
the third ad would have an updated pod index of 1. This rewriting of the ad
pod i

[2020-03-11 16:11] krocard commented on #7035
@marcbaechinger can I assign it to you as the owner of the download component? I do no see anything obviously wrong here.

[2020-03-11 16:13] krocard commented on #7035
The notification not showing up seems

[2020-03-11 16:28] prakhyathhegde commented on #7054
Add further info to corner the issue. If we have multiple activities with one launching player activity having style setting "android:windowIsTranslucent=true", we end up seeing black screen in it.

item name="android:windowIsTranslucent">true</item>

[2020-03-11 16:36] ojw28 commented on #6907
@davibe - We made some changes when we merged this. Please check the latest `dev-v2` still behaves as you expect. Thanks!

[2020-03-11 16:36] #6907 closed, assigned to ojw28

[2020-03-11 16:37] yes-eng opened #7071 "Video and audio freezes with DASH manifest"
Similiar complain as describes in issue #1536.

The issue was repredused with SEI Robotics box, model SEI500Y with Amlogic s905x2 SOC.
Android version 9.0.0

### [REQUIRED] Issue description
With DASH we can see multiple inquiries to the CDN servers which each time choose different server while with HLS we can see single inquiry to one of the servers.
This behavior cause video and audio freezes.

[2020-03-11 17:05] tifroz commented on #7069
Thanks for being so responsive, this is sooooo helpful !!!

As you said, don't really need to know about the `X-Test` and `User-Agent` headers, I already know what they are (I just set them to the code to see if they would show up in the logs). The reason for printing out the headers is to get some information on the headers that are set by the default logic which is abstracted away.

For example,

[2020-03-11 17:20] tonihei commented on #7069
Just to add to the general listener questions - `TransferListener` is probably not the best listener to use for this case. You should be better off using `AnalyticsListener` and listening to `onLoadStarted/Canceled/Completed/Failed` to get all the details. These callbacks also contains both the request and response headers of all loads.

[2020-03-11 18:05] davibe commented on #6907
I have seen it, thank you

[2020-03-11 18:30] tifroz commented on #7069
I just tested using `AnalyticsListener`'s `onLoadStarted()` and `onLoadCompleted()` callbacks but no cigar :( In every case, the `loadEventInfo.dataSpec.httpRequestHeaders` is an empty object.

Note that `loadEventInfo.responseHeaders` is indeed populated in the `onLoadCompleted()` callback, but the request headers still won't show

Code extract below for reference:

[code]

[2020-03-11 18:46] krocard commented on #7052
It's a badly formated file. Gstreamer and VLC (desktop) can not read it. FFMPEG can decode it with many errors and then give up complaining on corrupt input.
The media is malformed, exoplayer can not support it.
Given that it seems to work a bit better with ffmpeg (it's more error tolerant), you may have some luck using the ExoPlayer ffmpeg extension instead of the platform codec (cf EXTENSION_REN

[2020-03-11 18:46] #7052 closed, assigned to krocard

[2020-03-11 18:57] stevemayhew commented on #7030
@ojw28 Yes,  I've coded the first pass at the design (link above) and am testing with our various streams and origin servers.

If you catch the exception and 'hack' the timestamp adjuster as follows:

[code]

Then the sample "Pro Bowl" video I sent plays through.  Note the stream duration does not match the playlist duration (as samples are discarded) but it plays out in perfect A/V sync!

Next bi

[2020-03-11 19:40] ashwithraja commented on #7054
This issues is observed on fireOs vesrsion 5.2.2 and its series. Not seen on firesOs 6 and above

[2020-03-11 23:28] rrfrias commented on #7000
@huochaifanfan can you reach out to Widevine contacts if you are a CWIP partner or Widevine partner engineering (https://www.widevine.com/contact). Do let them know whether or not you are in China and they can help you out. I will close this for now, but if you have trouble contacting them please feel free to reopen.

[2020-03-11 23:28] #7000 closed, assigned to rrfrias

[2020-03-12 01:06] ScienceIsNeato opened #7072 "Switching from Atmos audio to non-atmos midstream in HLS playback causes playback errors"
When the audio content of a stream transitions from Dolby Atmos (eac3-joc) to regular Dolby Digital Plus in a .m3u8 HLS stream, Exoplayer has errors in playback. The errors include:

- video playback will freeze frame while audio continues playing back normally
- sometimes video unfreezes, which is then out of sync with audio
- sometimes video does not unfreeze and will continue displaying the stu

[2020-03-12 02:00] ojw28 commented on #7069
Look at the [source code](https://github.com/google/ExoPlayer/blob/r2.11.3/library/core/src/main/java/com/google/android/exoplayer2/upstream/DefaultHttpDataSource.java#L535). There are only three: `Range`, `User-Agent` and `Accept-Encoding`.

[2020-03-12 03:20] TakuSemba commented on #7038
@donato
Hi, Thank you for the fix, but unfortunately, it still happens to me on v3.203.1.

You can reproduce it easily just setting initial position 25 * 1000 for `VMAP pre-roll single ad, mid-roll standard pods with 5 ads every 10 seconds for 1:40, post-roll single ad` on ExoPlayer demo.
You can see that ExoPlayer gets stuck whenever you try to play the ad.

It seems like it happens when an initi

[2020-03-12 07:58] lewwns opened #7073 "GvrAudioProcessor is deprecated but needed."
I'd like to implement spatial sound with ExoPlayer in my project and I found that there's an `ExoPlayer GVR extension` which provides `GvrAudioProcessor` that I can use to make it. But I've realized that it is already deprecated.
Is there any other AudioProcessor that is available to implement as `GvrAudioProcessor` which can provide the rendering of 360 spatial sound in ExoPlayer? Any substitutio

[2020-03-12 07:59] realwizzard commented on #7052
Thanks. But this is the way Portuguese NOS channels are aired. Kodi and MPC-HC can decode it without problems. I uploaded another sample which is a bit longer.
https://drive.google.com/file/d/15G4RUqziOWLrk-GC8vwABRL4jzCeqMa_/view?usp=sharing
The FFMPEG extension is only for audio right? Or is there a way to use FFMEPG as video decoder?

[2020-03-12 08:05] kbalana commented on #7008
Yes. This relates to DAI IMA SDK.

I've made some experiments with a test app from https://github.com/googleads/googleads-ima-android-dai/releases and I can confirm that there is no switching being made with layouts hierarchy.

<img width="1240" alt="Screenshot 2020-03-12 at 08 20 05" src="https://user-images.githubusercontent.com/48906839/76498951-259cbb80-643e-11ea-9525-f44f4f37bab3.png">

It se

[2020-03-12 09:35] andrewlewis commented on #7073
I'm afraid we don't have a replacement for this at the moment, though I think it should still work in the current release.

[2020-03-12 09:48] tonihei commented on #7007
This issue is fixed now, closing.

[2020-03-12 09:48] #7007 closed

[2020-03-12 09:50] tonihei commented on #6953
Closing, because I think all questions have been answered. Feel free to reopen if not.

[2020-03-12 09:50] #6953 closed, assigned to tonihei

[2020-03-12 09:51] tonihei commented on #6886
We pushed a fix so that you no longer have to seek to position-1 in the example above. I'll update the code snippet for future reference of how it should look like.

[2020-03-12 09:51] #6886 closed, assigned to tonihei

[2020-03-12 09:51] andrewlewis commented on #7008
@donato Please could you take a look at this issue relating to the DAI SDK? It seems strange that touch events are getting through to controls on top of the WebView -- is that working as expected?

[2020-03-12 09:55] andrewlewis commented on #7008
@kbalana Just to be clear, is it the case that taps on the play button (on top of the web view) are not getting through? I think it's expected that the player view itself doesn't receive events as the web view is on top of it and can intercept taps.

[2020-03-12 10:18] kbalana commented on #7008
In this particular case, tapping on play button work as expected, as this is the most frontmost layer and its visisibility is set to true (webview lays behind). Once it goes to invisible state, you wont be able to bring it back.

[2020-03-12 10:19] ojw28 commented on #7030
(1) is just plumbing, so we can sort it out at the end if we need it. I'm unsure about where best to put (2). Ideally we'll come up with a recovery mechanism that's safe enough to be enabled by default, and robust enough so that we don't need to provide app developers with the ability to customize.

[2020-03-12 10:42] andrewlewis commented on #7008
Edit: please ignore, I forgot this was server-side ad insertion not client-side (the UI components don't currently know whether an ad is playing with DAI).

Hm, I wonder if the issue is just that player controls are completely hidden during ads (rather than this being a problem with events going to the wrong view). Have you tried setting `app:hide_during_ads` on the player view in the layout so th

[2020-03-12 10:45] krocard commented on #7052
FFMPEG is for both audio and video. You can try playing your media with ffplay, the built-in player of ffmpeg to confirm if it ffmpeg will support your malformed media.
~If it does, consider using the ExoPlayer FFMPEG extension at the platform codecs are not as error tolerant as ffmpeg.~ Not possible currently, see my next message.

[2020-03-12 10:47] andrewlewis commented on #7008
If you force controls to always be visible (e.g., set `show_timeout` to 0) do they receive touch events while the ad is playing?

[2020-03-12 10:54] krocard commented on #7052
Actually the ExoPlayer FFMPEG extension currently only implements an audio renderer, so it will not work as your video stream is malformed.
I can think of 3 ways you could playing your malformed media:

1.  try using the platform software decoder (OMX.google.h264.decoder), it could be more error tolerant than the hardware one.
2.  work with #6864 to finish a ffmpeg video renderer extention, if you

[2020-03-12 10:57] ojw28 commented on #6864
Hi @haohaozaici - Have you considered contributing this as a pull request? Thanks!

[2020-03-12 11:30] tonihei commented on #7049
You can listen to `onPositionDiscontinuity` with reason `PERIOD_TRANSITION` to find out when it's repeating. And then count yourself.

[2020-03-12 11:30] oleksandr-yefremov commented on #6974
Can I get any kind of input on this issue? If you are busy with other things and won't have time to check it in the near future, then we will have to provide some feedback to our users. Something along the lines of "you are using outdated Android OS version, please upgrade to the latest".

[2020-03-12 11:38] haohaozaici commented on #6864
@ojw28
I'm very sorry for not responding to your message in time.
I fixed the problem I raised, and then completed a rough version, which only supports h264, yuv420p, VIDEO_OUTPUT_MODE_YUV mode, and many bugs have not been fixed. I really want to continue doing this, but I'm afraid I can't do it well. If possible, I will refine the code and submit a pull request.

[2020-03-12 12:00] krocard commented on #7052
After testing your new media on ExoPlayer, the following is thrown:
[code]
The Exoplayer container parsing failed, so my previous options 1 and 2 will not work. You could improve the ExoPlayer parser to better support invalid media.
But it's probably less work to transcode the media, you might even be able to regenerate the container only, without touching the streams, if they are valid.

[2020-03-12 12:24] tonihei commented on #7044
`DownloadHelper` already chooses the best supported quality by default, so no need to change any options here. Otherwise you can customize the selection by setting custom `DefaultTrackSelector.Parameters` if you like.

You can query the already downloaded data as described in https://exoplayer.dev/downloading-media.html#querying-downloads. Each `Download` contains a list of `StreamKeys` which are

[2020-03-12 12:30] tonihei commented on #7050
It's a bit unclear what this is doing exactly. It looks like your adaptive selection is cycling through the available formats very quickly (every couple of seconds). Does the selection behave normal when you don't set this limit in your router?

[2020-03-12 12:31] SnailDream commented on #5887
Hi， we have the same problem!  Does  it can be resolved?

[2020-03-12 12:37] tonihei commented on #7043
exoPlayer.playWhenReady = false

This part is definitely working as intended. If the player is paused, we still fill the buffer so that playback can resume as quickly as possible.

When network connection is disabled (stream was playing) there were around 30 to 80 (in some cases) seconds of audio available before it actually stopped.

The data of progressive streams is loaded in small chunks of 1

[2020-03-12 12:42] Cubxity commented on #7044
Also, another thing, would it be possible to download a separate subtitle file (f.ex Subrip) with a DASH/HLS download?

[2020-03-12 12:45] tonihei commented on #7044
You can download it completely separate and then merge them back together at playback time using a `MergingMediaSource`. There is an open feature request to download them together as a bundle in #5615

[2020-03-12 12:54] waqasyousafy opened #7075 "How to get the frame of video at specific position continuesly."
I have used this example for retrieving frames of video  . Is there any way to get the frames of video continuously .
https://github.com/rubensousa/PreviewSeekBar

[2020-03-12 13:00] tonihei commented on #7075
Sounds like a duplicate of #5076? Please check Andrew's answer to this question

[2020-03-12 13:00] tonihei commented on #7075
Closing for now, feel free to reopen if it's not a duplicate.

[2020-03-12 13:00] #7075 closed, assigned to nobody

[2020-03-12 13:15] waqasyousafy commented on #7075
i did not understand that example . I am beginner level developer of exoplayer . I am now working on showing the frame at seeking the seekbar . And find only one example of this as i mentioned above . But this is not correct example as a studied .

[2020-03-12 13:22] tonihei commented on #7062
It sounds as if you can cut this process short with injecting a custom `DataSource` in the `HttpMediaDrmCallback` passed to the `DefaultDrmSessionManager`.

This custom `DataSource` will be used every time a key or provisioning request is sent. So if your uris become invalid, it makes sense to just use another uri the next time a request is started. This could be an automatic retry for example tha

[2020-03-12 13:24] tonihei commented on #7068
This doesn't really describe what the problem is. Could you please fill out the issue template including reproduction steps, expected behaviour etc. so that we can understand your issue? Thanks!

[2020-03-12 13:25] mrj976 opened #7076 "Exoplayer shows the freeze last frame of the previous video when add fragment"
When i play video in first fragment and want add second fragment and play new video, shows the freeze last frame of the previous video.
This problem solved When i replace fragment but i want add fragment.
please help me.
thanks

[2020-03-12 13:29] tonihei commented on #7075
It's unfortunately not that easy. The feature you describe is called Picture-in-Picture mode and it's usually implemented by having a separate stream with keyframes only or sideloaded bitmaps that can be shown for seek points.  If it's a local video, you could also setup a second ExoPlayer with the same media that renders to the smaller surface and then call seekTo very often to immediately show t

[2020-03-12 13:30] tonihei commented on #7076
It's hard to understand what happens here without more detailed reproduction steps and explanations. Could you be more specific what the problem is and what you do exactly?

[2020-03-12 13:31] waqasyousafy commented on #7075
No brother it is not picture in picture mode . I am just talking about getting frames on seeking the seekbar and showing the frame in imageview like above example .
As that link i mentioned

[2020-03-12 13:33] tonihei commented on #7075
There are multiple things called picture-in-picture as far as I'm aware. But irrespective of the name, the other points above still apply.

[2020-03-12 13:36] tonihei commented on #7059
The code snippet above suggests that the format is not supported (NO_UNSUPPORTED_TYPE), so it's not unexpected that the renderer fails.

When you say it used to work until 2.11.x - do you see the same NO_UNSUPPORTED_TYPE message for the format or does it show something else?

[2020-03-12 13:38] Crabgore commented on #7068
You can create a LinearLayot and put two exoplayer2 Playerviews with weight 1 each. Set surface_view surface type and RESIZE_MODE_ZOOM resizeMode to each of this views and start a video in each.
Displayed only one video filling whole screen, not two.
with other resize modes or using texture_view all works correctly - displayed two videos.

sorry for my english

![Screenshot_1](https://user-images.

[2020-03-12 14:04] mrj976 commented on #7076
Thanks.
In Fragment1, play exoplayer in recyclerview like instagram with framelayout and its ok.
But when i add fragment with this code:

[code]
and play new video by exoplayer in framelayout, video show like [this image](https://i.stack.imgur.com/FZRcA.jpg).
last frame of the previous video play with new video.
two frames in one exoplayer framelayout.

when i replace fragment, solved this problem

[2020-03-12 14:04] tonihei commented on #5924
Closing because issue is fixed now.

[2020-03-12 14:04] #5924 closed, assigned to tonihei

[2020-03-12 14:05] mrj976 commented on #7076
Thanks.
In Fragment1, play exoplayer in recyclerview like instagram with framelayout and its ok.
But when i add fragment with this code:

[code]
and play new video by exoplayer in framelayout, video show like [this image](https://i.stack.imgur.com/FZRcA.jpg).
last frame of the previous video play with new video.
two frames in one exoplayer framelayout.

when i replace fragment, solved this problem

[2020-03-12 14:05] tonihei commented on #6103
Closing because the feature is supported now. `MergingMediaSource` has a new optional flag to adjust the timestamp ranges. Please give it a try!

[2020-03-12 14:05] #6103 closed, assigned to tonihei

[2020-03-12 14:20] tonihei commented on #7076
Still slightly unclear - sorry.

How many ExoPlayers do you create? One for each fragment or are you using the same player instance?

What does it mean that the last frame of previous video is playing with the new video? If you add the fragment it makes sense to me that both videos are shown.

[2020-03-12 14:31] mrj976 commented on #7076
In Fragment1 i use [this code](https://androidwave.com/exoplayer-in-recyclerview-in-android/) and list items by recyclerview and play videos in list by exoplayer. like instagram.
In Fragment2 i use One SimpleExoPlayer and add PlayerView to FrameLayout, shows the freeze last frame of the previous video played in recyclerview in Fragment1 and new video.
Like [this Image](https://i.stack.imgur.com/FZ

[2020-03-12 14:55] nishantkp commented on #7038
Hi @donato,

@TakuSemba is right. It is still happening. Thanks a bunch for quick release though.

[2020-03-12 15:13] donato commented on #7038
Thank you for the feedback!

I was testing part 2 of the fix overnight and results look promising. I'm rolling it out now, so let me know if you see any changes in behavior (I'd give it another 15 minutes to deploy completely).

[2020-03-12 15:43] nishantkp commented on #7038
Hi @donato,

Awesome, It looks good on demo app. I do not see any unexpected behaviour. If something goes wrong, i will keep you posted.

Once again, thanks a bunch! 👏

[2020-03-12 15:52] ojw28 commented on #6864
As @andrewlewis mentions above, I think it's fine for you to contribute what you have so far, maybe limited to H.264 initially. Once it's submitted it'll be easier for others to help out and contribute to the feature too.

[2020-03-12 15:55] ojw28 commented on #6974
@jt64 - Could you take a look at this?

[2020-03-12 15:56] tonihei commented on #7067
Thanks for reporting.

I far as I can tell, the current ExoPlayer behaviour is according to the [H.264 spec](https://www.itu.int/rec/T-REC-H.264-201906-I). Annex B of the linked doc lists the exact semantics and the NAL unit decoding process. Essentially, all NAL units are delineated by the four bytes 0x00'00'00'01, where the first byte 0x00 is the _trailing_zero_8bits_ element belonging to the pr

[2020-03-12 16:02] tonihei commented on #7068
That might be the same problem as reported in #6955. This issue will likely be fixed in a future Android version. As noted in #6955. it's probably not really an ExoPlayer issue because ExoPlayer just renders to any surface it is provided with and the rest is handled by the Android framework.

[2020-03-12 16:03] tonihei commented on #7068
Closing it under the assumption that this is a duplicate.

[2020-03-12 16:03] #7068 closed, assigned to tonihei

[2020-03-12 16:06] kulve commented on #5096
Any hints on how to get this reproed?

[2020-03-12 16:10] ebr11 commented on #5096
You gave the window a background color?

[2020-03-12 16:14] ojw28 commented on #6760
This doesn't seem like an ExoPlayer issue. Have you reported it to the Chromecast team? As an additional point, are you sure the media is supported, as per this page:

https://developers.google.com/cast/docs/media

Note in particular that Chromecast V1 and V2 support a lower maximum profile for H.264.

[2020-03-12 16:18] ojw28 commented on #6516
As a status update from our side: We did find an app internally that was seeing a similar issue, but we're fairly confident they were violating the one-instance-of-DownloadManager rule to be causing this.

Did you manage to validate that you really do only have one instance? I'm not sure there's anything actionable for us to do here, seeing as no-one else has reported the same problem and we don't

[2020-03-12 16:20] tonihei commented on #7070
It's not possible to play a partially manually downloaded file in a reliable way. The player will fill its buffer and it reads the file faster than it's being written, it will eventually encounter an EOFException when it tries to read bytes that aren't there yet.

If you want to download a file and already start playback during the download, you can use ExoPlayer's [download functionality](https:/

[2020-03-12 16:28] kulve commented on #5096
It seems to be 88000000 by default, i.e. set already?

[2020-03-12 16:29] kulve commented on #5096
Actually, I checked the LinearLayout but I guess the point was to add it directly to the FrameLayout? I'll test.

[2020-03-12 16:29] ojw28 commented on #6946
@jt64 - Could you take a look at this? Likely a duplicate of #6974 (please feel free to dupe one onto the other).

[2020-03-12 16:46] kulve commented on #5096
I added `android:background="#88ff0000"` directly to FrameLayout and I now I see a reddish semitransparent background. But there's still no explicit background layer from SurfaceFlinger going to HWComposer and I do get HDR enabled correctly on my TV.

[2020-03-12 16:52] tonihei commented on #7071
Could you please provide more information that would help use to answer this query?

- Does this issue only happen on the mentioned device or does it also happen on other devices?
- Can you provide us with test DASH or HLS links that would allow us to reproduce?
- Can you also clarify what the actual problem is exactly? What kind of "inquiries to the CDN" are you seeing, for what, and how often? A

[2020-03-12 16:58] tonihei commented on #7072
Assigning @krocard for investigation.

Note that we can't access a Dolby Atmos enabled device in the near future, so this may need to wait for a while.

[2020-03-12 17:02] tonihei commented on #7076
As far as I understand your problem description, it sounds like expected behaviour.
When you add a new fragment 2 with a new ExoPlayer, it will start playing the new video in there. But the existing fragment1 is still there and still shows the previous state of the video (e.g. the last frame).

If this is not what you're asking, please clarify.

[2020-03-12 17:12] stevemayhew commented on #7030
Thanks for the feedback @ojw28 I'll make the changes today.  My current thinking for (2) is to use load error reporting to allow the UI client to choose to make it fatal or not.   The sample code in the comment above should be a safe recovery,  log it and reset the timestampAdjuster, the only downside is there is no report up to the UI client that content has disappeared, so the load error report

[2020-03-12 17:16] mbfakourii opened #7077 "show seekbar instead of vertical progress in audio"
hi how show seekbar instead of vertical progress in audio

my code

[code]
in xml
[code]

in video it shows seekbar but this code with audio it shows vertical progress !
i needed seekbar in audio

My audio Is Amr File Audio
https://ahille.ir:3030/uploads/2020-03-12T10-17-33-066Z117199.amr

screen
<img src="https://dl.dropboxusercontent.com/s/s3ekodn3nml61hq/Screenshot_2020-03-12-21-43-11.png">

[2020-03-12 17:22] ebr11 commented on #5096
Okay.  I am not sure then.  We had a similar frame layout with a background color (black) and the problem still occurred for us.  Once we removed the background, it worked.

This was several versions of Exo ago though...

[2020-03-12 17:36] dirondir commented on #7059
Could you explain a little bit more? How do I need to play the file with pass-through?
Because I've been using ExoPlayer since the 2.9.0 version and the same test file was played well.

I don't know. It worked.

[2020-03-12 17:59] kulve commented on #5096
Should we close the issue then, if there's no repro case on the new code base?

[2020-03-12 18:04] ojw28 commented on #7030
I do agree that there should be an event surfaced to indicate to the client that an unexpected discontinuity was encountered, but I don't think the client should get to respond on a per-error basis whether to recover or not. We should probably just automatically recover (if the client wants to stop the player upon receiving the event, then it'll still be possible for them to do that with this setu

[2020-03-12 18:04] ebr11 commented on #5096
Yes, I think that is safe but will leave to Google.

[2020-03-12 18:05] #5096 closed, assigned to andrewlewis

[2020-03-12 18:11] #6939 closed, assigned to ojw28

[2020-03-12 18:12] ojw28 commented on #6929
I think we need more information to help with this. Perhaps you could share a minimal project that we could open in Android Studio to see exactly how you're implementing this.

[2020-03-12 18:16] stevemayhew commented on #7030
Sounds good... I'll have your comments all addressed and a checkin later today you can look at (I'm US PST).

[2020-03-12 18:28] tifroz commented on #7069
Thanks, I appreciate the guidance! This is helpful yet still provides no reliable way of figuring out what headers & what header values (values for the `Range` header?) are being sent at run time, which would be very useful when troubleshooting with a streaming server that we don't have control over.

I posted this as a question and I don't think I can re-categorized as a bug, but it's probably mo

[2020-03-12 18:31] ojw28 commented on #4303
Hi @ChristianKleineidam - Sorry for the very delayed response, but I had a bit of time to play around with this. It looks like you can make the `SurfaceView` transparent until the first frame is rendered into it, like this:

[code]

I was able to edit `VideoFragment` in your demo app to do this, and it removed the black flicker. I got this from https://stackoverflow.com/questions/5391089/how-to-ma

[2020-03-12 18:31] #4303 closed, assigned to ojw28

[2020-03-12 18:39] ojw28 commented on #7069
You know what the `User-Agent` is because you're passing it into the library yourself. The `Range` and `Accept-Encoding` values are both trivially derived from the `DataSpec`, which the listener does have access to. You can see how to derive these by looking at the source code linked above (i.e., `Range` is derived from `DataSpec.position` and `DataSpec.length`, and `Accept-Encoding` is derived fr

[2020-03-12 18:42] mbfakourii commented on #7077
fixed :)

[code]

[2020-03-12 18:44] #7077 closed, assigned to ojw28

[2020-03-12 22:35] mrj976 commented on #7076
@tonihei
Yes that's right.  But I don't want to destroy the Fragment1 or exoplayer in Fragment1. and when I add the Fragment2, the video pause in the Fragment1 in recyclerview list and play new video in Fragment2.
I want play new video in added Fragment without freezed frame.

[2020-03-12 23:59] ojw28 commented on #7066
Are you using the IMA extension? If so, this question/bug is a duplicate of https://github.com/google/ExoPlayer/issues/7011. If not, what are you using to insert ad breaks?

[2020-03-13 00:46] gregmcox opened #7078 "OfflineLicenseHelper does not have customizable DRM session."
Hello,
Currently, I have the need to customize the load error handling policy for an offline license request. Since the DefaultDrmSession is created within the helper, this is not really possible. I was wondering the rationale behind not exposing the DrmSession during the creation of OfflineLicenseHelper.

I'm in a use-case where I'm unable to modify the base ExoPlayer libraries and extending Offl

[2020-03-13 00:46] TakuSemba commented on #7038
Hi, @donato,

I also confirmed that it worked as expected!
Thanks for the fix, and thanks for the consideration of my feedback.

[2020-03-13 04:33] waqasyousafy commented on #7075
Above example do this already to load sideloaded images and the show on points . But i want to show the show current frame of video in image view or pic in pic as whatever you called. I have reference player is xplayer in googleplaystore.

[2020-03-13 04:59] haohaozaici commented on #6864
I submitted a pull request https://github.com/google/ExoPlayer/pull/7079 and will be tracking issues related to ffmpeg video renderer there. I hope everyone can help improve this feature if possible.

[2020-03-13 04:59] #6864 closed, assigned to haohaozaici

[2020-03-13 06:24] soygabimoreno commented on #5924
Thank you so much!! :rocket:

[2020-03-13 07:06] ogawa-ma opened #7080 "CryptoException occurs when playing Widevine DASH on a specific device"
### [REQUIRED] Searched documentation and issues
・ExoPlayer Javadoc.
・ExoPlayer Issues

### [REQUIRED] Question
CryptoException occurs when playing Widevine DASH on Android OS7.
Why does it happen?

[code]

Version of ExoPlayer being used: 2.10.6

Device information that occurred
Device name: HUAWEI P9 lite
Model Number: HUAWEI VNS-L22
Android version: 7.0

Device name: Android Studio emulator
Mod

[2020-03-13 08:57] andrewlewis commented on #6864
@haohaozaici Thanks!

[2020-03-13 09:10] tsaezmirada commented on #6654
Hello Exoplayer team,

Here some pics with the device hw and sw info:
![Screenshot_20200312-161626](https://user-images.githubusercontent.com/58779383/76606521-ab8a3680-6512-11ea-8909-9912a71fc71b.png)
![Screenshot_20200312-161654](https://user-images.githubusercontent.com/58779383/76606527-adec9080-6512-11ea-9f5d-e85a43ea5af3.png)
![Screenshot_20200312-161631](https://user-images.githubuserconten

[2020-03-13 09:37] tonihei commented on #7059
This should happen automatically I think.

We recently had some pull requests that added additional support for Dolby AC4 (e.g. #5303). Sounds as if some of these changes may have made a difference.

@ybai001  Do you have an idea if or how your changes may have had an influence on this case?
We currently can't access test devices, so it's hard to reproduce and debug for now.

[2020-03-13 10:09] tonihei commented on #7076
This is probably more of a generic Android issue after all I think. If you don't want to show the fragment with the last frame of the previous video, then you need to hide it somehow or replace it with something else.  I'd encourage you to ask these more generic Android question on StackOverflow or similar pages. You may also want to have a look at #867 where people shared a lot of experiences wit

[2020-03-13 10:09] #7076 closed, assigned to tonihei

[2020-03-13 10:14] tonihei commented on #7075
If you just want to show the current frame in another view, you can probably just assign a new output surface to ExoPlayer?  If your plan is to show the same video in both views, then this is just not easily possible (see #6939 for a more detailed answer).

[2020-03-13 12:33] ybai001 commented on #7059
@tonihei I have no device to test DTS-HD stream either. Here are some thoughts of mine based on the information in this page:

1.  [#5303](https://github.com/google/ExoPlayer/pull/5303) was merged since v2.10.0 in last year. We can ask submitter to test this case on v2.10.x and check whether this issue can be reproduced.

2.  From submitter's log,

    com.google.android.exoplayer2.ExoPlaybackExce

[2020-03-13 12:49] #6914 closed, assigned to Samrobbo

[2020-03-13 12:51] #6928 closed, assigned to andrewlewis

[2020-03-13 12:51] tonihei commented on #7059
Thanks @ybai001 for the detailed analysis! Sorry to loop you in because your changes are apparently unrelated after all.

We'll have a look at other potential changes that may have made a difference between 2.10 and 2.11 then.

[2020-03-13 12:55] ojw28 commented on #6885
@icbaker - Can we update and close this?

[2020-03-13 12:56] #6855 closed, assigned to marcbaechinger

[2020-03-13 13:10] tonihei commented on #7059
@dirondir  We also noticed that the apparently unsupported track should never have been selected by the track selector. Did you overwrite any `DefaultTrackSelector` settings?

[2020-03-13 13:17] tonihei commented on #7080
Could you check your ExoPlayer version again? You mentioned 2.10.6, but the stack trace clearly shows a class (SynchronousMediaCodecAdapter) that is not yet in any release, so it looks more like you are using the dev-branch?

If you can reproduce, please also provide a bugreport (ideally with adding an `EventListener` first) and the media file. You can send both to dev.exoplayer@gmail.com with sub

[2020-03-13 13:20] icbaker commented on #6885
Yep, good point. The commit above means these sorts of exceptions are now just logged and playback continues without the subtitles.

[2020-03-13 13:20] #6885 closed, assigned to icbaker

[2020-03-13 13:21] tonihei commented on #7078
There is no particular reason for that. The LoadErrorHandlingPolicy in DrmSessionManager is relatively new, so that's why this wasn't asked before.

I'll update the class to accept a customized DefaultDrmSessionManager.

[2020-03-13 13:45] ybai001 commented on #7059
You are welcome. Feel free to loop me in in future if there is any issue that is possible to be related with Dolby contribution code. I'm always happy to provide help. :)

[2020-03-13 13:58] ojw28 commented on #7059
I have access to an nVidia Shield 2017. I tried playing the video you provided in the 2.11.3 ExoPlayer demo app, and it plays fine for me in passthrough mode. The nVidia platform software was version 8.0.0(32.5.205.42), although I then updated to the latest version and saw the same results

[code]

If I manually disable passthrough mode (by modifying then code), then playback of the audio track is

[2020-03-13 14:42] dirondir commented on #7059
@ojw28 , @ybai001 , @tonihei
Thank you everyone for your help.

The reason was that I tried to select this track (because original file has 8 audio tracks). I commented the selection in code and the file started to play... @tonihei thank you for pointing to this moment.

But what to do if I have several audio tracks DTS? How to select a specific track?

if I use ffmpeg extension with the dca encod

[2020-03-13 15:41] ojw28 commented on #7059
There's nothing wrong with selecting a track. The problem is with selecting an unsupported track, which you can also do, but then you shouldn't be surprised if playback fails :). You can query whether tracks are supported before trying to select them. You can also use constraint based selection in many cases, which is generally a lot easier to use. See [DefaultTrackSelector's Javadoc](https://exop

[2020-03-13 15:42] ojw28 commented on #7059
Marking this as a question for now, because it doesn't seem to me that anything has changed. If you think there is a bug, please provide the information requested above. I.e.

[2020-03-13 16:13] andrewlewis commented on #6881
@AquilesCanta Please could you help direct this as needed? Thanks.

[2020-03-13 16:19] andrewlewis commented on #6030
Given "AdError 402: VAST media file loading reached a timeout of 8 seconds.", I think this might be a duplicate of #4140. We are in the process of upgrading to new ads manager implements that should fix this problem.

[2020-03-13 16:21] AquilesCanta commented on #6881
Asked @mjmancuso for a good candidate to look into this.

[2020-03-13 16:30] andrewlewis commented on #6409
@root-ansh Sorry for the delayed response. My understanding is that in the VMAP specification your top level ad tag can point to other ad tags which are loaded just before playback reaches the corresponding cue point.

It sounds like you may be trying to implement this on the client rather than having an ad server that provides a VMAP ad tag as described. In that case you probably need to implemen

[2020-03-13 16:38] andrewlewis commented on #7037
The relevant error is `03-05 14:52:54.864 10100 15098 15098 W SDK_LOG:ima.common.ErrorUtils: Error play dispatched: AdError 200: The provided ad type: skippablevideo is not supported.`.

Currently the official guidance is that skippable ads just aren't supported on this device, so this is working as intended.

I'm following up with the IMA SDK team on [Internal: b/147342932] to find out more about

[2020-03-13 16:53] ggabdol opened #7081 "DASH: Keep paused buffered data even if period is removed"
I'm playing dynamic DASH with multi-period. Is there a way to prevent ExoPlayer from jumping to the live edge while it's in paused state? The playback position jumps to the live-edge when MPD is updated.
Our expected behaviour is that when it's paused, the video screen remains the same even if the playback position gets out of the current period.
It seems that there are at least two places in the

[2020-03-13 17:58] ojw28 commented on #7054
Are all four of you working on the same project, or not? It sounds like a FireOS specific issue unrelated to ExoPlayer (except that you are using the two together). So you should probably report the issue to Amazon, and ask them for guidance.

The implication of not making this call is that the video may not be rendered in the correct aspect ratio (i.e., it may be stretched or squashed).

[2020-03-13 19:21] AquilesCanta commented on #6881
@anjaneesh, would you kindly take a look at this?

[2020-03-13 20:24] RichardDapice commented on #7066
No, we are not using IMA, we are using VAST DAI letting the player handle the breaks. Our content is using DASH/Widevine and our ads are unprotected/clear. Our manifest from our packager does not insert any Content Protection inside the ad periods.

[2020-03-13 20:37] gregmcox commented on #7078
@tonihei, I've created the pull request. Please let me know if it's sufficient.

[2020-03-14 00:05] casolorz opened #7084 "How to select audio track when there are multiple for the same language?"
I think I'm missing something. Right now I'm using this to set the audio language:

[code]

But what if I have stereo and surround for a given language? Passing the ID didn't work. I'm thinking maybe I need to set the maximum number of audio channels? but that seems overly complex, am I misunderstanding something?

Thanks.

[2020-03-14 05:37] ash-1202 opened #7085 "Exoplayer not working on android device"
On one of the android devices exoplayer video does not work and gives below exception

`com.google.android.exoplayer2.mediacodec.MediaCodecRenderer$DecoderInitializationException: Decoder init failed: OMX.realtek.video.decoder, Format(1, null, video/avc, -1, null, [1280, 720, -1.0], [-1, -1])`

`Caused by: android.media.MediaCodec$CodecException: Failed to initialize OMX.realtek.video.decoder, err

[2020-03-14 05:43] brijeshbhatt09 commented on #7070
Hi @tonihei ,
Thanks for your input on above issue. I came up with a finding when i am trying to play partially downloaded file its moov atom is missing which might be in the end of file but when i decompress same file to add moov atom at beigning then same file is working fine. But i stucked here because i have large number of files whose moov atom is already at the end of file. So is there any w

[2020-03-14 10:55] brAzzi64 opened #7086 "Getting gapless audio when concatenating a sequence of videos A, B, C on top of a single audio track"
Hi,

I'm trying to play a single audio track on top of a concatenation of video segments, as described originally in #6103. After the fix 0a89d0e8c3b0fa1a5e211e72ef95d35a1c69b5b3 recently linked on that issue, the approach suggested by @tonihei on Jul 1, 2019 is working really well :)

The only problem remaining is that despite making sure the "segment" duration is set to a multiple of the sample

[2020-03-14 16:48] Cubxity opened #7087 "How to lazy load media source for a playlist in ExoPlayer?"
When filing a question:
-----------------------
### [REQUIRED] Searched documentation and issues
- I have looked at questions on Stackoverflow

### [REQUIRED] Question
I would like to lazily load media sources for a playlist. When the user clicks previous/next, then I will call the API to retrieve the streaming URI for the previous/next video in the playlist.
For example:
- I play video #4
- I cli

[2020-03-15 05:02] faisalvv commented on #6783
please any updates?

[2020-03-15 08:34] tuesda opened #7088 "Is there a way to get content length in bytes of media before playing?"
### [REQUIRED] Searched documentation and issues
Google, Issues

### [REQUIRED] Question
Is there a way to get content length of media before playing?

Thanks

[2020-03-15 10:40] dirondir commented on #7059
@ojw28 is there a simple way to check that ffmpeg was compiled correctly and attached to ExoPlayer?
I tried to compile ffmpeg as it is said (to check how it works with the file) and it looks like ffmpeg doesn't work.
I compiled it with –enable-decoder=dca and didn't have errors during compilation but still have the same error with audio selection...
Thank you in advance

[2020-03-15 11:57] ojw28 commented on #7059
If you attach an `EventLogger` as described [here](https://exoplayer.dev/listening-to-player-events.html#using-eventlogger) and then capture the logging using `adb logcat EventLogger:* ExoPlayerImpl:* LibraryLoader:* *:s`, you can tell quite a lot about what's going on.

Look in particular for failure to load the native parts of the extension:
[code]
and when the player is released after playback,

[2020-03-15 12:03] ojw28 commented on #7088
Not directly from the player, but for web based media you should be able to do a regular HEAD HTTP request to get this information, if you want it.

[2020-03-15 13:35] ojw28 commented on #7081
I don't think this is what ExoPlayer does. ExoPlayer will (or should) remain in the same playback position for as long as the player is paused. The seek bar will continue to update to indicate that more media is available, but the playback position itself will (or should) not change.

If this is not what you're seeing, please fill in the issue template with some concrete reproduction steps that wo

[2020-03-15 13:39] ojw28 commented on #7084
Different ways of selecting tracks are documented fairly well in the [DefaultTrackSelector Javadoc](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/trackselection/DefaultTrackSelector.html). It's unclear which track you want to select, and why. It really depends on your use case.

[2020-03-15 13:41] ojw28 commented on #7085
We need more information to investigate this type of issue. I'll close this one for now. Please file a new one that properly fills in the [bug issue template](https://github.com/google/ExoPlayer/issues/new?assignees=&labels=bug%2C+needs+triage&template=bug.md&title=), including all the requested information, if you want us to take a look.

Please also confirm that the video you're trying to play d

[2020-03-15 13:41] #7085 closed, assigned to ojw28

[2020-03-15 13:52] ojw28 commented on #5921
I can't see anything obvious that would have changed this between 2.9.6 and 2.10.0. Are you sure you didn't change something else at the same time as upgrading?

If you want us to investigate further, I think you'd need to provide concrete reproduction steps, which would probably require providing a small demo app (as source code) that demonstrates the issue.

[2020-03-15 13:56] ojw28 commented on #7001
If you're using `TrackSelectionDialogBuilder`, then:

1. You can hide the "None" option using [setShowDisableOption(false)](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/ui/TrackSelectionDialogBuilder.html#setShowDisableOption-boolean-).
1. You can use [setTrackSelectionProvider](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/ui/TrackSelectionDialogBuilder.ht

[2020-03-15 13:56] #7001 closed, assigned to ojw28

[2020-03-15 17:05] warren-bank commented on #854
fwiw, I recently took a look throught the [r2.11.3](https://github.com/google/ExoPlayer/tree/r2.11.3) code for any hook that I could use to implement this feature.. and found a fairly simple solution that works well (under most reasonable conditions).

the new classes are [here](https://github.com/warren-bank/Android-ExoPlayer-AirPlay-Receiver/tree/v02/android-studio-project/ExoPlayer-AirPlay-Rece

[2020-03-15 17:07] orcunkobal opened #7089 "audioFocusChange(-1)"
Hi,

Sometimes I get an error like this then the player stays pause until I start it. Should I write a custom audio focus manager to handle that? Which way should I follow to resolve this issue?

**dispatching onAudioFocusChange(-1) to android.media.AudioManager@75cbcaacom.google.android.exoplayer2.AudioFocusManager$AudioFocusListener@974509b**

Thank you

[2020-03-15 17:16] ojw28 commented on #7066
Thanks for the info. If you have a working solution that increments the reference count, then I think you should be good. This is something we want to do a better job of supporting directly, but we haven't quite gotten around to it yet.

[2020-03-15 17:41] ojw28 commented on #7089
I think that probably just means that your app has lost audio focus (presumably because some other app has requested it?). It's correct that the player should be paused when this happens, until you cause it to play again.

[2020-03-15 18:03] orcunkobal commented on #7089
Yes, I understand. For example, if I open Instagram or youtube my player is pausing. If I close Instagram or youtube then my player is playing. Or If I receive a phone call the same thing happening. But this error occurs even I hadn't opened to any application. I found the onPlaybackSuppressionReasonChanged method but it does not catch my issue. It only returns two things **PLAYBACK_SUPPRESSION_RE

[2020-03-15 18:21] roundsmapp commented on #4924
Hello, @ojw28 , any news on this?

[2020-03-15 19:34] ojw28 commented on #7089
To clarify, this is not an error. It's expected that your application may lose audio focus if another app requests it, and your app should not be automatically restarting playback in this case. Something else must be requesting audio focus (either within your own app, or some other app) in order for audio focus to be lost. I wouldn't be surprised if the logcat output tells you what's requesting au

[2020-03-15 20:58] RichardDapice commented on #7066
Ok great, thank you for your quick responses in regard to this question. Our testing so far has not resulted in any issues that are readily apparent. Hopefully, this holds true in production. We just wanted to make sure there wasn't something we were missing.

We will keep our eye on release notes in the future, or if you guys have a clear plan, let us know if we can contribute.

[2020-03-15 20:58] #7066 closed, assigned to ojw28

[2020-03-15 23:00] ar-karimi opened #7090 "How to reSample a wav file to support exoPlayer?"
Is there any way to **upSample** a **wav file** with **2000Hz** to **8000Hz** sample rate to **supporting** Exo Player? Does the **SonicAudioProcessor** class have that capability? I couldn't use third-party libraries to do that. Please help me

[2020-03-15 23:01] newtestpage opened #7091 "TrackSelectionView.getDialog is deprecated . what should i use instead ?"
Hi guys
I am completely newbie with exoplayer . I want to show the list of quality of hls to user and let the user to choose one of them . I found below code but one part is deprecated in version 2.10. Could someone help me on this case please ? I also tried to find solution on demo app . but there is a lot of code and it make me confused .
[code]

TrackSelectionView.getDialog  is deprecated .Than

[2020-03-16 06:49] halilozel1903 opened #7092 "Hls is the subtitle in a video displayed on the screen automatically?"
I get a video url type hls from the service. There is a subtitle in the url. Can Exoplayer detect this directly? As in AVPlayer, is the subtitle icon placed automatically on the screen?

[code]
I do as in the example, but the subtitle logo does not appear on the player.

Can you help me?

[2020-03-16 07:46] kbalana commented on #7008
Hi!

It will work as the controls layer will be on top. I've tested it with my test app. Problem is only when player controls are switched to invisible state.

[2020-03-16 09:12] ogawa-ma commented on #7080
sorry. It was a log on the dev-v2 branch.

Also occurs in 2.10.6.
[code]

Occurs on videos with a long license expiration date (after January 19, 2038).
If the expiration date is set before January 18, 2038, it will not occur.

bugreport sent to dev.exoplayer@gmail.com.
If you need a media file for your investigation, let me know so I'll prepare it.

[2020-03-16 09:27] ghost opened #7093 "Streaming mp2 contained aac over WebSockets"
Hello all,
I have question that I am streaming data through http which contains audio format mp2 container and aac encode while running this type of audio data then exoplayer gives clean sound.But when I try to take this data through websocket then exoplayer doesnt play.Need help

[2020-03-16 09:39] ojw28 commented on #7091
Use `TrackSelectionDialogBuilder`.

[2020-03-16 09:39] #7091 closed, assigned to ojw28

[2020-03-16 10:19] tonihei commented on #7081
I think the reproduction steps above are already sufficient.

The problem occurs because the current period is no longer part of the manifest and when the player handles the manifest update, it will realize that and seek to the default position of the next available period instead.

This is in some way working as expected because there is no way playback can continue after the pause if the period

[2020-03-16 10:25] tonihei commented on #7078
Thanks for the pull request - as mentioned above I already had a pending change that fixes the problem on our dev branch, so I'll go ahead and merge this one instead. Please give it a try once ready to see if it fixes your issue.

[2020-03-16 10:31] tonihei commented on #7070
There is no way to do that given that we need to read the metadata first to know where the sample boundaries are.

As already noted above, you can use ExoPlayer's download functionality. If the end of the file with moov atom isn't downloaded yet, ExoPlayer will just load this part online and then read the rest from the already downloaded data again.

[2020-03-16 12:23] marcbaechinger commented on #7087
If you are using the `ConcatenatingMediaSource` you can choose to have the child media source lazily prepared by passing the useLazyInitialization flag accordingly to the [constructor](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/source/ConcatenatingMediaSource.html#ConcatenatingMediaSource-boolean-boolean-com.google.android.exoplayer2.source.ShuffleOrder-com.google.android.ex

[2020-03-16 12:29] Cubxity commented on #7087
Are there any examples regarding this feature?

[2020-03-16 12:50] marcbaechinger commented on #7092
To select a subtitle you need to select the text track accordingly. There is [a page around track selection in the developer guide](https://exoplayer.dev/track-selection.html) which gives you initial guidance on track selection. The [javadoc of the DefaultTrackSelector](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/trackselection/DefaultTrackSelector.html) gives some more docum

[2020-03-16 13:06] marcbaechinger commented on #7090
`SonicAudioProcessor` won't help you with this I'm afraid.

I understand you can't play 2000Hz files because playback is not supported by the framework [as mentioned here](https://source.android.com/compatibility/android-cdd#5_5_audio_playback).

I don't think there is an easy way to re-sample this on the fly. Actually doing this once on the server for all clients, would be the best option. There

[2020-03-16 13:11] marcbaechinger commented on #7093
I'm happy to help as much as I can.

What `DataSource` are you using for accessing the data over websockets? I'm not sure whether I am aware of what I would use for such a case.

And even more important: Can you please provide a bug report that you have taken just after you tried to play the mp2 file over websockets?

[2020-03-16 13:19] marcbaechinger commented on #6843
Closing due to inactivity. Please feel free to re-open if required.

[2020-03-16 13:19] #6843 closed, assigned to marcbaechinger

[2020-03-16 13:20] marcbaechinger commented on #6693
Closing due to inactivity. Please feel free to re-open if required.

[2020-03-16 13:20] #6693 closed, assigned to marcbaechinger

[2020-03-16 13:20] marcbaechinger commented on #6852
Closing due to inactivity. Please feel free to re-open if required.

[2020-03-16 13:20] #6852 closed, assigned to marcbaechinger

[2020-03-16 13:23] marcbaechinger commented on #7035
Sorry for my late response.

Can you please create a bug report right after you have tried to download a song? Then upload it here so I can investigate a bit more closely.

[2020-03-16 13:23] ghost commented on #7093
Hello Marc thanks for your response currently bytearray is coming from websocket so I am thinking to give data source as bytearray

Actually I am playing raw pcm data using AudioTrack through websocket so it is giving me clean audio quality ok so when I am receiving some encoder contained data through websocket then my AudioTrack play audio but it has 30 sec latency so the data receiving at websoc

[2020-03-16 13:26] Cubxity commented on #7087
Also, ResolvingDataSource only resolves the DataSpec lazily not the MediaSource itself.

[2020-03-16 13:45] marcbaechinger commented on #7093
Thanks for the further explanation.

It would really be helpful if you can [take a bug report](https://developer.android.com/studio/debug/bug-report) right after you tried to play with ExoPlayer. Ideally you have an EventLogger added to ExoPlayer so I can see what is going on internally.

Without some decent log output it may be very hard for me to understand what you are trying to achieve.

[2020-03-16 14:05] marcbaechinger commented on #7087
Can you explain you r use case a little bit? If resolving data source is not sufficient, I reckon that the type of the MediaSource can change between being added to the playlist and starting to play? So you don't know whether it is an adaptive stream (eg. DASH/HSL) or a progressive stream?

Like in your steps above the type of MediaSource is not known until step "The app created the media source"?

[2020-03-16 14:16] Cubxity commented on #7087
So basically I only have basic data about each media in the playlist. F.ex id, title, thumbnails, etc. I don't know anything about the type of the stream until the streaming data is loaded. I would like to load the streaming data lazily upon previous/next.

[2020-03-16 14:42] newtestpage commented on #7091
Thanks for your response . I changed the code as follow and it shows the dialog but it just contain auto and unknown. however hls has 5 different quality (second code) .

code 1 :
`private void showMenuQuality() {
        MappingTrackSelector.MappedTrackInfo mappedTrackInfo = trackSelector.getCurrentMappedTrackInfo();
        if (mappedTrackInfo != null) {
            CharSequence title = "Video";

[2020-03-16 14:55] marcbaechinger commented on #7087
In this case I don't think there is something which helps you out of the box.

You can look into creating your own `MediaSource` which acts as a facade and when `prepare()` is called, fetches the uri, detects what type of media source is required and creates it internally. If you go down that route I recommend looking into `CompositeMediaSource` which is an abstract implementation which might be h

[2020-03-16 15:06] newtestpage commented on #7091
I changed the renderindex to 0 and get answer . Thanks

[2020-03-16 15:16] Cubxity commented on #7087
Thanks for the info. Do you know what apps like YouTube, Spotify does?

[2020-03-16 15:31] marcbaechinger commented on #7087
I don't think they have such a requirement because they know beforehand what type of media source to use. They just populate a playlist with a MediaSource of a certain type and a uri.

[2020-03-16 16:02] gregmcox commented on #7078
Thanks for the fast turn around! Could you reference your commit here? I'm not seeing it on the dev-v2 branch.

[2020-03-16 16:44] Samrobbo commented on #6783
Hi

So this is not an easy or trivial thing to actually do. Apps like Facebook and Instagram have invested a lot of time and resources into achieving this. There are some ways to achieve this with DownloadManager and the related classes. More information can be found by looking at [DownloadManager documentation](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/offline/DownloadMana

[2020-03-16 18:15] casolorz commented on #7084
Thank you, that is the info I needed.

[2020-03-16 18:15] #7084 closed, assigned to ojw28

[2020-03-16 20:09] ojw28 commented on #2159
There is a prototype pull request here: https://github.com/google/ExoPlayer/pull/7079

[2020-03-17 06:23] matanmarciano opened #7094 "Can I Run ExoPlayer In Docker?"
Hello everyone,
Can I use ExoPlayer i docker?
To run it on any PC and manage it by Kubernetes?

Thank you!

[2020-03-17 07:21] ghost commented on #7093
hello marc here is my code and logs

code :

when I receive byte array in websocket then following is my code

[code]
function to create bytearray data source is
[code]

and function for playing exoplayer
[code]

And logs getting to me

[code]

[2020-03-17 07:51] stari4ek opened #7095 "AAC initialization error due MPEG-TS parsing issue"
### [REQUIRED] Issue description
I'm getting `IllegalStateException` when `OMX.google.aac.decoder` or _ffmpeg_ decoder is initializing for specific MPEG-TS.

[code]

[code]

Most probably track info is incorrectly parsed from MPEG-TS. Format looks incorrect (channels number?):
[code]

From MediaInfo:
[code]

Same stream and local file plays well in VLC and mplayer (using ffmpeg):
[code]

### [REQU

[2020-03-17 07:55] halilozel1903 commented on #7092
The text format field will come from the service. For example English and French. What kind of path can I follow when I have more than one language option? I couldn't find a similar example on GitHub.

[2020-03-17 09:56] EddieMeng opened #7096 "Exoplayer seekto not work when playing ad video"
### [REQUIRED]
I already checked all the issues related to my question here, but looks like others didn't encounter this question. In addiction, i also check the source code of exoplayer, but fail to solve my question.

### [REQUIRED] Question
It is possible to call seekTo() when play advertisement video? when develop my android tv app, i found a problem hard to resolve,  if user click home button

[2020-03-17 10:00] stari4ek opened #7097 "onRenderedFirstFrame is called after seeking in live progressive"
### [REQUIRED] Searched documentation and issues
Documentation reference:
[code]

### [REQUIRED] Question
I'm getting `onRenderedFirstFrame` after seeking in buffered live progressive. Same result with `seekTo` (to the head - `minPlayabackBufferMs`) and `seekToDefaultPosition`.

[code]

Is it expected behavior? Cause it does not match description from `onRenderedFirstFrame`. Or it's due missing im

[2020-03-17 11:43] marcbaechinger commented on #7092
Sorry, I'm not sure whether I understand the question. Please correct me if I go in the wrong direction.

For creating a `MergingMediaSource` with a media stream and two text tracks you need the mediaUri and two subtitle uris with the corresponding subtitle format info and the languages. With that you can create a `MergingMediaSource`.

If you setup the mergin media source with that you have at le

[2020-03-17 11:50] marcbaechinger commented on #7093
The `UnrecognizedInputFormatException` suggests that the data the player is receiving from the byte array data source is not recognized by any of the extractors to be a supported format.

I think you need to validate what data is read from the data source and make sure this is a valid media format.

[2020-03-17 11:55] marcbaechinger commented on #7094
ExoPlayer is running on Android using the Android media framework. The Android media framework is using media codecs which are provided by the hardware vendor. I think that could be the challenge for you.

ExoPlayer runs in the Android emulator on a PC or OSX. So it can run on a platform like PC or a mac. I think this is still not a virtualized environment you probably want.

I'm afraid that I can

[2020-03-17 12:54] GouravSna commented on #6429
Hi @andrewlewis , Please check the forked ExoPlayer dev-v2 branch. I upgraded IMA to 3.18.0 which is latest. You can see the 402 timeout error everytime when the ad plays back till 6th second.

https://github.com/GouravSna/ExoPlayer/tree/issue-6429

Please use "402|SDK_LOG|chromium" filter in logcat for specific logs.

We are on IMA 3.11.2 and it is soon to be deprecated. We checked this issue on

[2020-03-17 13:31] Cizor opened #7100 "Count droppedFrames in tunneling mode"
###  Searched documentation and issues
1. Exoplayer Issues
2. https://medium.com/google-exoplayer/tunneled-video-playback-in-exoplayer-84f084a8094d

### [REQUIRED] Question
How to count dropped frames count when tunneling mode is enabled?
For non tunneling mode I am using decoderCounters.droppedBufferCount but code in MediaCodecVideoRenderer doesn't seem to handle it for tunneling mode. Please adv

[2020-03-17 13:48] Cizor commented on #7100
I am not very sure about it but since decoding of video is not in exoplayer code, it cannot determine if a frame is late, very late or should be dropped when tunneling mode is enabled

[2020-03-17 14:48] giladna opened #7101 "How to calculate how much bytes were dowloaded from playback Buffer start event"
Hi,
Is there a way that we can calculate how much buffer was downloaded from Buffer start event till the Ready event?

so upon the bytes that were downloaded  by player and the minimum buffer for playback value we know we can predict when player will start playing by presenting this % of load to users

thanks!

[2020-03-17 17:16] marcbaechinger commented on #7096
Yes, seeking within ads is not possible. The code snippet you are pointing at shows, that any attempt to seek starts from the begin of the ad period.

I don't think that this will change in a future release of ExoPlayer.

[2020-03-17 17:35] marcbaechinger commented on #7101
I think that's very difficult to accurately calculate with the callbacks which are available. Certainly, `onLoadCompleted` comes to mind but that's not called frequent enough to give you the granularity you want.

In theory, the `EventTime` which is passed to every callback of the `AnalyticsListener` has a field  `totalBufferedDurationMs`. So you get the value of 'player.getTotalBufferedDuration()

[2020-03-17 18:20] marcbaechinger commented on #7097
I think this is working as intended. Can you elaborate why you think the documentation of `onRenderedFirstFrame()` is not matching the behaviour you see?

I'm a bit confused around the mediaPos=0.00 which shows up in your logs above from BUFFERING and then goes back to 281.77 (if you think this is relevant, can you send me the uri to the media?).

However, my understanding of `seekProcessed` is, t

[2020-03-17 19:44] ojw28 commented on #7097
I think the point is that seeking doesn't fall into either of the cases that the documentation says the event is fired for:

1. Called when a frame is rendered for the first time since setting the surface - Not true
1. and when a frame is rendered for the first time since a video track was selected - Also not true

It's worth noting that the same method in both `AnalyticsListener` and `VideoRender

[2020-03-17 19:57] stari4ek commented on #7097
Since it's the same stream, and first frame was rendered already (and notified with `onRenderedFirstFrame` ) and it's the same surface (_"since setting the surface"_) with same tracks selected (_"since a video track was selected"_). At least as exoplayer (`SimpleExoPlayer`) client I performed seek only.

It happens cause of seeking. I thought that this one is normal cause of https://github.com/goo

[2020-03-17 20:02] stari4ek commented on #7097
@ojw28 , you're correct. Documentation in `AnalyticsListener` describes it in the way it works

[2020-03-17 20:40] marcbaechinger commented on #7097
Ok, thanks for clarification. I was confused and thought it's about the sequence in which the callbacks are called.

I'll correct the the documentation in `VideoListener` to make the docs consistent.

[2020-03-17 22:05] giladna commented on #7101
hi @marcbaechinger ,

After checking the polling tip it seems that the buffer position is not something we can count on
since it will have different value in each media load instance.

so we cannot assume that when first ready event is fired the buffer position will be around 2500 ms and that the load percentage can be calculated by that information

so even if the AnalyticsListener had such event

[2020-03-18 06:29] EddieMeng commented on #7096
I got it, thanks for your help

[2020-03-18 06:29] EddieMeng commented on #7096
I got it, thanks for your help

[2020-03-18 08:41] marcbaechinger commented on #7096
Ok. thank you. I'm closing this issue. Feel free to re-open if needed.

[2020-03-18 08:41] #7096 closed, assigned to marcbaechinger

[2020-03-18 09:22] GouravSna commented on #6429
Hi @andrewlewis and @ojw28 , we are facing a lot of issues because of this ads skipping issue. Please take this up on priority.
And the problem will become worse if the current IMA 3.11.2 will get deprecated.

[2020-03-18 09:49] FlorentDambreville opened #7102 "Modules 'base' and 'player' contain entry 'res/layout/exo_playback_control_view.xml' with different content."
### [REQUIRED] Issue description
I have an app with multiple Dynamic Modules.

In order to add the download feature to my app, I need to import the `DownloadNotificationHelper` component into my "base" module. So I've added the ExoPlayer UI dependency : `com.google.android.exoplayer:exoplayer-ui:2.11.1` to my "base" module.
Since I already have this dependency in the module "player" Now I have thi

[2020-03-18 09:49] ojw28 commented on #6429
It's already a priority. We hope to have an update soon. In the meantime, repeatedly posting on this bug will not change anything other than distract us from doing actual useful work. Thanks.

[2020-03-18 11:03] ghost commented on #7093
Hello marc could you please give some details about this
  How can we debug Exoplayer  in-depth. We want to know how internally depacketization, decryption … works.
please give some feedback for above mentioned issue

Marc for validation of data read from source is we are reading aac encoder data with mp2 compression is this audio is playable in android ?

My next observation is when I run aac enc

[2020-03-18 12:14] marcbaechinger commented on #7093
When you are using the `ProgressiveMediaSource` it uses the `DefaultExtractorsFactory`. The `DefaultExtractorsFactory` creates a number of `Extractor`s [which sniff the start of a stream](https://github.com/google/ExoPlayer/blob/release-v2/library/core/src/main/java/com/google/android/exoplayer2/source/ProgressiveMediaPeriod.java#L1067)  and try to infer the type of the stream. If none of the extr

[2020-03-18 12:18] ojw28 commented on #4803
@andrewlewis @krocard - This issue seems to imply that playback fails with an `Assertion.checkState` error if the player is configured for non-1x-playback-speed and tunnelled mode is enabled.

If we don't support the combination yet, then shouldn't we either fail in a clearer way, or disable audio processing as we do when audio offload is being used? The current failure mode (if it's what this iss

[2020-03-18 14:06] nicolausYes opened #7103 "Seeking 'infinite' streams"
### [REQUIRED] Searched documentation and issues
https://exoplayer.dev/progressive.html
https://github.com/google/ExoPlayer/issues/4917

### [REQUIRED] Question
I use ExoPlayer for playing media, some of them include 'infinite' radio streams. I need to provide seek support for them, even it's not exact and not efficient.
I use ProgressiveMediaSource and provide the input data via DataSource implem

[2020-03-18 16:55] icbaker commented on #854
@warren-bank That approach (of modifying the time inside the Renderer) works in most of the common cases that you'd want this feature (where the subtitles are likely coming from a standalone SRT file), but it doesn't work in a completely general case with general offsets.

The main problems:

* If you offset backwards a long way, there's no way for the Renderer to 'rewind' its data - so you'd eith

[2020-03-18 17:22] warren-bank commented on #854
@icbaker Yep, I totally get that it isn't a perfect solution.. because for streamed captions, it wouldn't trigger any additional downloading for data that doesn't already exist in the buffer. That having been said, I'm very content with this methodology as a temporary solution.. at least until something 100% robust is included in the core library. I've only tested it lazily.. not exhaustively, but

[2020-03-18 17:44] marcbaechinger commented on #7102
I've created a project with a base module and a dynamic feature module. Both are having a dependency to the ui module of ExoPlayer.

I can run the app in the emulator and when I unpack the APK i can find the `exo_playback_control_view.xml` in the APK. So it seems that the merge was successful.

Are you using ui components in one or the other or in both modules? I currently hava a layout file in ea

[2020-03-18 17:45] warren-bank commented on #854
Dumb follow-up question..

Since text captions take up next-to-no storage.. consisting of a sequential set of tiny text files.. which combined amount to approx 100kB total per track per video; what do you think of a strategy to force the downloading of all chunks for every text track and store the entire thing in a separate buffer?

At a high level, it should behave exactly the same as though the

[2020-03-18 18:44] marcbaechinger commented on #7095
Thanks for reporting!
I can repro this. It needs some further investigation.

[2020-03-18 18:56] orcunkobal commented on #7089
I understood. This situation is very bad because I have no idea what should I do when this happened. What is your opinion?

[2020-03-18 21:21] fgl27 opened #7104 "How to create a adaptive MediaSource for "auto quality" playback without using a master HLS playlist URL?"
This is for HLS m3u8 lists only...

The reason I wanna to do this is because the "master playlist" that I have is only accessible for a limited time, as it depends on tokens that expires, with makes reuse of it complicated and slow as the process to get the token and all related links needed to be redone it time...

**Example of the problem...**
If I prepare a `MediaSource` from the Master URL tha

[2020-03-19 01:07] #6998 closed, assigned to christosts

[2020-03-19 01:07] #6996 closed, assigned to marcbaechinger

[2020-03-19 01:07] #6993 closed, assigned to marcbaechinger

[2020-03-19 01:07] #6745 closed, assigned to christosts

[2020-03-19 01:15] #7078 closed, assigned to tonihei

[2020-03-19 01:15] #7097 closed, assigned to marcbaechinger

[2020-03-19 01:15] #7069 closed, assigned to ojw28

[2020-03-19 01:16] #6761 closed, assigned to andrewlewis

[2020-03-19 03:35] wazerstar commented on #5491
Updated main topic with new file and extraction of media info from file.

[2020-03-19 06:06] silvershort opened #7105 "How to show thumbnail image when stopped"
When the thumbnail image url is prepared in advance (not extracting the thumbnail from the video), how to show thumbnail image when stopped?

Instead of using the seekTo method, I want to show the prepared image as a preview thumbnail.

[2020-03-19 06:16] tejaskanani1 commented on #6763
hey @ojw28 , Is there any update regarding the issue?

[2020-03-19 06:50] silvershort commented on #7105
#6265

It was a duplicate question... so close it

[2020-03-19 06:50] #7105 closed, assigned to ojw28

[2020-03-19 08:19] xinboljy commented on #7049
@tonihei thanks

[2020-03-19 08:43] #7049 closed, assigned to tonihei

[2020-03-19 08:57] FlorentDambreville commented on #7102
I am using `PlayerView` with a custom `exo_playback_control_view.xml` in the player module. In the base module I only use the `DownloadNotificationHelper`.
The player module depends on the base module (I have `implementation project(':app')` in the player build.gradle)

[2020-03-19 09:23] silvershort opened #7106 "How to use DashMediaSource"
I wrote the following code by referring to the code in the official document.

[code]

But the video doesn't load

Changing DashMediaSource to ProgressiveMediaSource loads the video.

[code]

Is there anything I need to add to use DashMediaSource?

[2020-03-19 09:35] marcbaechinger commented on #7106
If you want to play a Matroska video like the uri suggests, you need to use a `ProgressiveMediaSource` like in the second sample you are showing: https://storage.googleapis.com/exoplayer-test-media-1/mkv/android-screens-lavf-56.36.100-aac-avc-main-1280x720.mkv

The `DashMediaSource` is for adaptive Dash streams only. So just using the `ProgressiveMediaSource` seems fine.

[2020-03-19 09:53] nikunjteksun commented on #7047
@krocard  is there any update for zoom functionality?
is anyone working on it?

[2020-03-19 10:01] newtestpage opened #7107 "Actions button in pip mode is not showing"
Hi
I implemented pip mode for my exoplayer . Everything works fine but I have a problem with action buttons . they didn't show in pip mode . I don't know is related or not but I overwrite  the exo_playback_control_view.xml . also I   set this code on when pipButton Clicked         `            playerView.hideController();
`

I made a MediaSession like follow code in My initializePlayer() :
`MediaS

[2020-03-19 10:02] ynheng opened #7108 "crash when I switch between WIFI and 4G when playing dash video, how to resolve this?"
[code]

[2020-03-19 10:32] krocard commented on #7047
This is a low priority item given that there is a working solution  with https://github.com/Manuiq/ZoomableTextureView as you mentioned and no strong reason it should be built-in. Nobody is planned to work on it on the short or medium term.
Feel free to send us a pull request.

[2020-03-19 10:38] nikunjteksun commented on #7047
Thank you for the quick update.

[2020-03-19 10:55] piyush2dev opened #7109 "Save Offline Downloaded Content in SD Card"
We have implemented Offline DRM using Exoplayer. Currently videos .exo gets downloaded in Internal Storage.

How to store .exo files to sd card instead of Phone Memory.

Will this method return the Simple Cache of .exo files in SD card:
[code]

[2020-03-19 11:27] AquilesCanta commented on #7104
The HLS media source will only load the master playlist for preparation and never reload it again, so I don't really see the problem of expiration. Whenever you need to prepare the player, you get a valid master playlist url and prepare.

If on the other hand, you want is download the master playlist and *later* prepare the HLS media source with that (perhaps it's worth revisiting the token system

[2020-03-19 11:28] AquilesCanta commented on #7104
Please clarify if your question hasn't been answered, or close if it has. Thanks!

[2020-03-19 11:44] Cubxity opened #7110 "Is there support for casting to secondary screen? (ex. Miracast)"
### [REQUIRED] Searched documentation and issues
I have searched for this in the issues tracker.

### [REQUIRED] Question
Is there built-in support for playing the video on a secondary screen without the primary screen needing to be mirrored? I have found something similar in [MediaRouter's doc](https://developer.android.com/reference/androidx/mediarouter/media/MediaControlIntent#CATEGORY_LIVE_VID

[2020-03-19 12:06] marcbaechinger commented on #7109
I think writing to an sdcard only involves using a different path pointing to that directory on the sd card. In case you know the path to that directory you probably just need to have a `Cache` implementation which reads/writes from this location.

If you use such a `Cache` pointing to a sdcard for downloading, you can create a `CacheDataSource` with the same `Cache` for reading also:

[code]

Did

[2020-03-19 12:11] marcbaechinger commented on #7110
The ExoPlayer Cast extension works with Google cast devices.  It does play a media either locally or remotely but not both at the time.

I'm not completely sure, but I think Miracast and Google Cast are not compatible, so the answer to your question would probably be that this is not supported, I'm afraid.

[2020-03-19 12:30] marcbaechinger commented on #7107
When in PIP mode you should hide all UI of the player. The system will place a UI on top of the PIP window. When PIP mode has been started your callback `onPictureInPictureModeChanged` will be called and you can call `setUseController(/* useController= */ false)`. When pip mode is exited you can call `setUseController(/* useController= */ true)` again.

As mentioned, the system will place the UI o

[2020-03-19 12:42] marcbaechinger commented on #7103
I assume with infinite streams you are referring to progressive live streams.
I think it is still valid what is said in #4917, which means that this is not supported I'm afraid.

I don't think I can give you some sensible recommendations, as making this work in a reasonable way doesn't seem trivial or an easy thing to do.

There is another issue which is marked as enhancement which goes in a simil

[2020-03-19 12:44] Cubxity commented on #7110
So what would be the best way to cast local files using ExoPlayer?

[2020-03-19 12:59] marcbaechinger commented on #7110
ExoPlayer does not offer much help with this, I'm afraid. This is more a general Android app task than a media player task.

A cast device expects an uri from which the cast device can stream the media. So what needs to be done for casting local file is providing such a stream over a uri.

This would include starting a web server on the local device and make the cast device connect to that web ser

[2020-03-19 13:03] piyush2dev commented on #7109
Thanks @marcbaechinger
Based on your input I was able to see that i can control over cache.
`File downloadContentDirectory = new File(getDownloadDirectory(), DOWNLOAD_CONTENT_DIRECTORY);`

The thing is that I want to give user an option whether user wants to download to SD CARD OR INTERNAL MEMORY.

Do I need to create 2 DownloadManager Object here. 1 pointing to SD card and 1 pointing to Internal

[2020-03-19 13:16] AquilesCanta commented on #7104
There's also the option of using a custom HlsPlaylistTracker which instead of loading the master playlist from the network, it uses a local byte array, but I don't really see how that's feasible without forking DefaultHlsPlaylistTracker, and it seems to be an overkill to me. Injecting your custom DataSource for manifests seems to be the best approach.

[2020-03-19 13:33] piyush2dev commented on #7109
@marcbaechinger @erdemguven @willnorris
Can u please help in above query.

The thing is that I want to give user an option whether user wants to download to SD CARD OR INTERNAL MEMORY.

Do I need to create 2 DownloadManager Object here. 1 pointing to SD card and 1 pointing to Internal Memory.

Also at time of retrieval for getting SimpleCache to play content. Do I need create 2 objects for `buildR

[2020-03-19 13:54] huynhtanloc2612 opened #7112 "Cannot cast DASH video which is picked from media.exolist.json with Exo Cast Demo"
### [REQUIRED] Searched documentation and issues
https://github.com/google/ExoPlayer/issues/5962

### [REQUIRED] Question
I tried to cast some DASH videos listed in media.exolist.json in the exo demo app with exo cast demo app in my Android phone. The cast demo app worked fine with below DASH video which is default in the exo cast app (could cast video to a 4K chromecast device and the video could

[2020-03-19 14:27] ojw28 commented on #7089
The logcat output from the device should tell you exactly why this is happening. In particular, just before you see the log line where you lose focus, you should see a log line telling you who's requesting focus to take it from you. For example, this logging shows YouTube acquiring audio focus and Spotify losing it as a result:

[code]

If you want help then please provide a more complete version

[2020-03-19 15:12] orcunkobal commented on #7089
I checked out my logcat and I didn't see any messages like that. Should I write anything else to see like it? My logchat only gives me an error like this:  **D/AudioManager: dispatching onAudioFocusChange(-1) to android.media.AudioManager@43e7988com.google.android.exoplayer2.AudioFocusManager$AudioFocusListener@b7ef642**

I opened Spotify for trying the same time.  Firstly I'm playing music on my

[2020-03-19 15:13] ojw28 commented on #7089
Please provide a more complete version of the logcat output from the device, if you want us to help.

Knowing what device you're using would also be helpful (and, just in general, providing the information requested in our [issue template](https://github.com/google/ExoPlayer/issues/new?assignees=&labels=bug%2C+needs+triage&template=bug.md&title=)).

[2020-03-19 15:13] dbPhilips opened #7113 "Dynamic HDR SEI messages in h265 bitstreams do not reach media Codec when played from .ts"
### [REQUIRED] Issue description
In the 2.11.1 version and all tested previous versions, Dynamic HDR SEI messages in an h265 bitstream (such as defined in e.g.  ETSI TS 103 433)
do not all reach the MediaCodec properly when the bitstream is packed in a .ts container. This poses a problem for streams that intend to
indicate video decoder meta data through SEI such as dynamic HDR systems.

It seems

[2020-03-19 15:18] orcunkobal commented on #7089
I/ExoPlayerImpl: Init 4b1433b [ExoPlayerLib/2.11.1] [dreamlte, SM-G950F, samsung, 28]

My device is Samsung Galaxy S8

[2020-03-19 15:21] albertdaurell opened #7114 "Demo App: Allow forcing usage of the license url of the MediaItem"
### Use case description

Testing samples from [media.exolist.json](https://github.com/google/ExoPlayer/blob/release-v2/demos/main/src/main/assets/media.exolist.json) we set the `drm_license_url` but it's not forced so it's using the one from the KeyRequest by default.  `drm_license_url` is only used if the media does not contain/define any license.

A long time ago it was added from this pull [Ad

[2020-03-19 15:27] ojw28 commented on #7089
Marking as needs more info again because more complete logging is still not provided. If you're unable to provide it, we're unable to help.

[2020-03-19 15:40] marcbaechinger commented on #7114
We expect quite a few changes regarding the `Sample` class in the demo app as it will be replaced by a `MediaItem` class. So doing this for the `Sample` class would not make much sense now, but you are just in time so that we can make sure that this will be possible with the new MediaItem.

I think I agree that it would make sense to always set `forceDefaultLicenseUrl` when the licenseUri is set i

[2020-03-19 15:53] marcbaechinger commented on #7112
Seem like this is a problem of the cast device. Android and cast devices do not necessarily support the same types of streams and/or drm systems. So it is likely that some streams who work on ExoPlayer do not work on a cast device and vice versa. Chromecast also has more than one generation of devices, so I know for example that some high quality streams only run on Chromecast Ultra which is the n

[2020-03-19 16:26] fgl27 commented on #7104
the process of "get a valid master playlist url" is very time consuming, yes I already provide the player all the tools to do it but must have a better option that I look for on this issue...

The problem I have is that the process is a little exhausting, it works as I made it to works, but the process can be simpler and faster, if every time I have to change back and for from auto mode, I have to

[2020-03-19 17:04] icbaker commented on #854
A movie with a lot of dialogue can end up with quite large subtitle files, especially if they 'animate' the subtitles by making individual characters appear in subsequent cues.

Also some subtitles are image-based, and so obviously much larger.

It's another awkward "doesn't really work in the general case" I'm afraid - because we wouldn't want the default library behaviour to be something that co

[2020-03-19 17:08] ojw28 commented on #7110
I think Android's [Presentation API](https://developer.android.com/reference/android/app/Presentation) can help with this.

[2020-03-19 17:09] AquilesCanta commented on #7104
I think this is pretty much general guidance question better suited for a general Q&A site, like stack overflow. I'll try to make a quick summary.

`HlsMediaSource.Factory(DATA_SOURCE_FACTORY).createMediaSource(uri);`

Instead of passing DATA_SOURCE_FACTORY pass your own factory implementation which, for manifests, returns a custom data source which does two things:
1. If the requested URL matches

[2020-03-19 17:10] #7104 closed, assigned to AquilesCanta

[2020-03-19 17:27] marcbaechinger commented on #7109
You only need one `DownloadManager` pointing to one `Cache`. If you do playback you want to create a `CacheDataSource` to get the data from the cache, if available. This is the same cache as the `DownloadManager` uses.

This `Cache` points to a directory you can choose and you can let the user decide where that is. Be aware that it might be tricky to change that directory afterwards without loosin

[2020-03-19 18:09] calmmycode commented on #6801
For me the fix was to override exact every abstract default method in all exoplayer interfaces with blank code

[2020-03-19 18:50] warren-bank commented on #854
Point well taken..

I appreciate your well-informed feedback; I don't know the ExoPlayer internals very well.. so anything I propose is to be taken at a high level.

So far as negatively impacting default behavior, I was actually thinking of this kind of behavior as being disabled by default.. and optionally enabled through (let say..) the [`PlaybackParameters`](https://exoplayer.dev/doc/reference

[2020-03-19 18:59] newtestpage opened #7116 "I got "adsLoader.setPlayer before preparing the player. " error with implementing ima ads"
I got this error when I want to implement ima ads with video . Could you help me to solve this problem ? Thanks
`E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.example.exoplayercodelab, PID: 14703
    java.lang.IllegalStateException: Set player using adsLoader.setPlayer before preparing the player.
        at com.google.android.exoplayer2.util.Assertions.checkState(Assertions.java:95)

[2020-03-19 19:08] #7116 closed, assigned to marcbaechinger

[2020-03-19 19:10] newtestpage commented on #7116
I found solution on this post .
https://github.com/google/ExoPlayer/issues/6639

[2020-03-19 23:17] marcbaechinger commented on #7112
I tried to play that url with the cast extension and it does not work as reported. I think access to the media files referenced by the manifest of the DASH stream is restricted or CORS is not enabled on the server.

When I try to curl the audio file I get a `HTTP/1.1 403 Forbidden`. While the manifest itself can be downloaded the cast player does probably not get the access to the media files or t

[2020-03-19 23:27] GingerNinja23 commented on #6671
Hi Oliver. Thanks for your support on this, we really appreciate it. After a bit of investigation we found out that the issue occurs on Pixel phones only when we check for `isCurrentWindowSeekable()` before attempting to seek into the stream. After adding this check, we are able to reproduce this issue in the Exoplayer demo app as well. I've pushed my demo app changes to a branch [here](https://gi

[2020-03-19 23:29] GingerNinja23 commented on #6671
I've been testing this with a Pixel 2 with a repro rate of 9/10, but you should be able to repro this with any Pixel phone I think.

[2020-03-19 23:37] marcbaechinger commented on #7102
Ok, this matches the error message. :) It seems that there is an issue when merging, because `exo_playback_control_view.xml` is different in the modules. That's actually not an ExoPlayer issue, but a problem of the setup. I'll try to get some advise whether this can be avoided or if this a limitation we need to work around somehow.

For a quick solution, you can rename your custom layout file and

[2020-03-19 23:50] marcbaechinger commented on #7112
I close for now as this seems to be a CORS issue. Please reopen if you think I'm mistaken.

[2020-03-19 23:50] #7112 closed, assigned to marcbaechinger

[2020-03-20 00:21] huynhtanloc2612 commented on #7112
@marcbaechinger Thanks for looking at it. I will try to make my own test app to see a stack trace. However, I wonder why that video could still be played on exoplayer normally if its media files cannot be accessed? Thanks.

[2020-03-20 00:39] silvershort commented on #7106
Thank you!

[2020-03-20 00:39] #7106 closed, assigned to marcbaechinger

[2020-03-20 07:01] fgl27 commented on #7104
Do you guys mistreat people on purpose here?

I ask that because I don't get it I'll explain...

From a google repository I expect the answer to be NO but by the result of this issue is YES. After all issue not resolved but closed for no reason, if you don't wanna to resolve the issue on the proper way, that is to provide a answer that resolves it (the answer doesn't need to come from you) or at l

[2020-03-20 07:09] #7110 closed, assigned to marcbaechinger

[2020-03-20 09:18] marcbaechinger commented on #7113
Thanks. I assign to Santiago who is looking after the pull request also.

[2020-03-20 09:39] FlorentDambreville commented on #7102
Nice !

Thanks for the quick fix, I'll try it. :)

Also, I've tried to add the api dependency to my base module
```api 'com.google.android.exoplayer:exoplayer-ui:2.11.3'```
And I get the same error message :/

Please, let me know if you find an other way to fix this issue. And let me know if you need me to open an issue elsewhere.

[2020-03-20 09:47] ojw28 commented on #7102
Given the resources are different, I think they probably should have different names. So I think the solution suggested by @marcbaechinger is probably the correct one :).

[2020-03-20 10:00] francois-cabrol opened #7117 "Is it recommended to release the player when activity goes onPause()? onStop()?"
What is the recommendation of the ExoPlayer developers regarding releasing the player? Is it recommended to do it systematically in the activity's **onPause()**? **onStop()**? **onDestroy()**? I can see that releasing in **onPause()** seems to be the default practice in most demo apps, but I would like to understand why.

In my ExoPlayer-based app running on Android N, I would like the playback to

[2020-03-20 11:19] silvershort opened #7118 "How to improve buffering"
I am loading the video with the code below.

[code]

If you move the seekbar to the beginning while watching a video, buffering takes place.

Buffering takes at least 0.5 seconds and sometimes takes more than 1 second.

I think this is a bad experience for users.

Is there any way to improve this?
At least I want the buffering to be faster when moving to a scene I've already seen.

[2020-03-20 11:27] marcbaechinger commented on #7117
The [`PlayerActivity`](https://github.com/google/ExoPlayer/blob/release-v2/demos/main/src/main/java/com/google/android/exoplayer2/demo/PlayerActivity.java#L232) of the demo application implements it in the recommended way.

With API 24 multi window was introduced to Android. This means that two apps can be visible at the same time. This has changed things and that's why the behaviour is different

[2020-03-20 11:50] marcbaechinger commented on #7118
You may want to look into [`CacheDataSource`](https://github.com/google/ExoPlayer/blob/release-v2/library/core/src/main/java/com/google/android/exoplayer2/upstream/cache/CacheDataSource.java) do apply caching of data which has already been downloaded.

Wrap your `DefaultHttpDataSourceFactory` in a `CacheDataSourceFactory` and provide a `SimpleCache`. With this data is downloaded once only and seek

[2020-03-20 20:54] kschults commented on #5978
@ojw28 Is there a branch where one could test this out prior to the 2.12.0 release becoming available?

[2020-03-21 00:28] dryganets opened #7119 "Could we avoid default method interfaces in Java at least in internal implementations?"
I have noticed that the default methods got higher and higher adoption in the ExoPlayer library.

The problem is that not every build toolchain supports it equally well. We have some issues using BUCK for example.

While most of the issues could be work-arounded by just overriding the default implementation, some of the cases can't be fixed that easy.

Example of that is DUMMY DrmFactory which is

[2020-03-21 13:33] soumyadeep-ghosh opened #7120 "Clear Key Encryption - Renderer Error - Crypto not found"
I looked at Issue #3138 and #3201, searched the documentation, but it seems like the functions has been deprecated.

So my objective is to play a ClearKey DRM MP4 Dash File over on ExoPlayer.

And I am using the following code:

[code]

But when I am trying to play the video, the Clear Lead plays absolutely fine, but it shows the following Error after the Clear Lead :
[code]

The Keys are already

[2020-03-21 13:51] renesotolira opened #7121 "Request for android X"
Compatibility with android x dependencies

[2020-03-21 16:33] marcbaechinger commented on #7121
Please apologize me being not well educated regarding androidx. What compatibilities with androidx would you like to see and what incompatibilities did you notice?

Can you give me some more details so I can report accordingly?

[2020-03-21 17:26] ojw28 commented on #7119
Default methods aren't just about making code look nicer. They add significant additional flexibility because it becomes possible to add to an interface without breaking all implementations of that interface (you can achieve something similar with an abstract class, but that approach has the significant limitation of not allowing multiple inheritance).

* Please could you point us at a specific is

[2020-03-21 17:58] ojw28 commented on #7120
`k` and `kid` in the license response are supposed to be base64url encoded, [as per the spec](https://w3c.github.io/encrypted-media/#clear-key-license-format). If you fix your license response string to use the correct encoding, playback works correctly:
[code]
In case it's useful, I used [this website](https://base64.guru/converter/encode/hex) to encode them (and then stripped off the trailing `=

[2020-03-21 17:58] #7120 closed, assigned to ojw28

[2020-03-21 19:37] ojw28 commented on #6671
Thanks for the reproduction steps and demo app! I think this was a platform bug [Internal ref: b/141097367] that got fixed in [this commit](https://android.googlesource.com/platform//frameworks/av/+/325322ddd4e4ca7f38dfe5f137839fd9aea42c21). I tried flashing my device to internal builds either side of the commit, and confirmed that the issue was reproducible before and not after.

I will leave thi

[2020-03-22 04:26] soumyadeep-ghosh commented on #7120
Thank You @ojw28 , it worked like a charm !!

[2020-03-22 06:24] dirondir commented on #7059
@ojw28 thank you.
I found that ffmpeg was compiled wrong and didn't work correctly.
So I recompiled it and now it works well and my problem with playing DTS-HD is solved.
Thank you for support!

[2020-03-22 06:24] #7059 closed, assigned to ojw28

[2020-03-22 11:02] warren-bank opened #7122 ""SubripDecoder" class throws an Exception when an .srt file omits HOURS from its timestamps (ex: 00:00,000)"
* in [SubripDecoder](https://github.com/google/ExoPlayer/blob/r2.11.3/library/core/src/main/java/com/google/android/exoplayer2/text/subrip/SubripDecoder.java)
  * correctly: the regex [`SUBRIP_TIMECODE`](https://github.com/google/ExoPlayer/blob/r2.11.3/library/core/src/main/java/com/google/android/exoplayer2/text/subrip/SubripDecoder.java#L44) makes this field optional
  * incorrectly: the functio

[2020-03-22 12:30] seyinator opened #7123 "error: method does not override or implement a method from a supertype"
I looked everywhere and I couldn't find a solution for this error. I'm using ExoPlayer.

Android Studio highlights the 8 `@Override`s.
`AdaptiveMediaSourceEventListener`s methods are underlined red.
**onTimelineChanged** is underlined red
**onPositionDiscontinuity** is underlined red
MainActivity:
    `

    //http://mos.rusiptv.net:8080/live/@celalsonat/784512/94815.m3u8

    public class MainAct

[2020-03-22 12:40] seyinator commented on #7108
Can you show us Activity, please? Like source code.

[2020-03-22 17:04] mehdibf opened #7124 "Does mediaDrm.restoreKeys() support offline multiple session?"
I am trying to play Widevine DASH content using offline Licence. The offline Playback works well when multiple-session is turned off, but not if the backend server is able to respond with only one License at the time.

### Searched documentation and issues
According to https://github.com/google/ExoPlayer/issues/3872 and the documentation, the actual implementation of the ExoPlayer support that "On

[2020-03-22 21:05] orcunkobal commented on #7089
I'm wondering how do you get a message like this?
[code]
I can't see any message like that can you help me with that? Did you write anything to see it?

[2020-03-23 00:57] bastova opened #7125 "DASH trickmode support"
### [REQUIRED] Use case description
I can't seem to find any evidence that exoplayer supports dash trick play protocol.
I've searched for any references to "http://dashif.org/guidelines/trickmode" and couldn't find anywhere in the code. I also built the demo app and supplied it with my DASH manifest which defines trick mode adaptation sets and while scrubbing I didn't see any of the trick mode ass

[2020-03-23 04:14] reneciokaigen commented on #7121
![Captura de Pantalla 2020-03-22 a la(s) 22 13 52](https://user-images.githubusercontent.com/11642446/77280626-7906d900-6c8a-11ea-9c77-9018fec78450.png)

[2020-03-23 04:15] renesotolira commented on #7121
![Captura de Pantalla 2020-03-22 a la(s) 22 14 50](https://user-images.githubusercontent.com/11642446/77280675-9045c680-6c8a-11ea-8021-e45c1cd37cf7.png)

[2020-03-23 07:35] ynheng commented on #7108
please see ExoPlayer/demos/main/src/main/java/com/google/android/exoplayer2/demo/....
I just replace the url as my video address.

[2020-03-23 07:56] nextsux commented on #7009
Have you managed to test it @Samrobbo ?

[2020-03-23 08:47] ojw28 commented on #7009
The COVID-19 situation means that it wont be possible for us to test this for the foreseeable future, unfortunately.

[2020-03-23 08:51] ojw28 commented on #7089
It's standard logging in the platform (I'm tried using a Galaxy S8 as well, and do see this logging in logcat). As per above, please provide complete logging as captured from `adb logcat` or `adb bugreport`. If you're unable to help us to help you, then there's not much we can do to help.

[2020-03-23 08:53] 529119401 opened #7126 "how to exchange Bit rate by use a hlsmediasource?"
Before filing a question:
-----------------------
- This issue tracker is intended ExoPlayer specific questions. If you're asking
  a general Android development question, please do so on Stack Overflow.
- Search existing issues, including issues that are closed. It’s often the
  quickest way to get an answer!
  https://github.com/google/ExoPlayer/issues?q=is%3Aissue
- Consult our developer websit

[2020-03-23 08:55] Manasovo commented on #7009
What you need for doing a tests ? What can we do for you ? In this COVID-19 situation in Czech Republic we have more and more customers (schools are closed, childrens are at home, parents too) on SONY TV so we have a big motivation to help you.

[2020-03-23 08:58] ojw28 commented on #7092
I think this issue is about when subtitles are included directly in the HLS stream (i.e., `MergingMediaSource` is not required).

Yes, ExoPlayer should be able to detect these subtitles directly. Please try loading your stream into the ExoPlayer demo app and verifying that it's possible to select text tracks under the "Select tracks" button. If that works, ExoPlayer supports it (building the type

[2020-03-23 09:02] AndroidDeveloperLB opened #7127 "Bug: unable to play various videos on sample, on emulator API 21"
### [REQUIRED] Issue description
Emulator API 21 fails to play a lot of the videos, even though it's supposed to support them:
https://developer.android.com/guide/topics/media/media-formats

### [REQUIRED] Reproduction steps
Run the sample demo on emulator API 21, and try playing the various videos. I'm talking about the "demo" sample on this repository.
See here:
[2020-03-23_10-55-48.zip](https:/

[2020-03-23 09:09] ojw28 commented on #7009
If this is specific to Sony TVs, we'd need physical access to a Sony TV device, which we do not have at the moment because our office is closed.

That said, the video track of the test content fails to play on multiple other devices (Pixel, Galaxy S8). It seems relatively likely that the media is invalid in some way.

[2020-03-23 09:12] Manasovo commented on #7009
OK we can buy this Sony TV for you and deliver to your home address like a gift. It's ok for you ? Of course with our IPTV platform account :)

[2020-03-23 09:17] ojw28 commented on #7127
How did you determine that the emulator is supposed to support them? In the bug report, it looks like all of the failed playbacks indicate that the formats exceed the capabilities of the device (in this case the emulator). Look for lines such as the ones below, and in particular the "supported=NO_EXCEEDS_CAPABILITIES" next to each track:
[code]
We do have a few changes coming that aim to make it m

[2020-03-23 09:23] AndroidDeveloperLB commented on #7127
Shouldn't it support them?
https://developer.android.com/guide/topics/media/media-formats#video-codecs
The entire table is covered from Android 5.0.
Would those work on real devices? I want to be able to test even on old versions, and emulator is the only choice I have...
It's just that I noticed this issue on a real app we develop, but again only on emulator because I don't have a device nearby w

[2020-03-23 09:27] ojw28 commented on #7127
As per our [supported devices page](https://exoplayer.dev/supported-devices.html), we recommend against using the emulator unless it's running at least API level 23, due to the emulator not fully implementing the Android media stack. So no, I don't think you should be worried. This is an issue with the emulator, not with ExoPlayer, and you should not expect to see the same behavior on real devices

[2020-03-23 09:37] AndroidDeveloperLB commented on #7127
OK I hope you are right and that it works fine on devices.
You say then that only from API 23 it's expected to work fine, right?
I'm closing this now.
I suggest in the demo to show a warning in case it detects too old version on emulator.

However, I'd like to ask:
Could audio be a cause on the emulator for this issue:
https://issuetracker.google.com/issues/152108780
?
On some cases, such as phone

[2020-03-23 09:37] #7127 closed, assigned to ojw28

[2020-03-23 10:32] icbaker commented on #7122
Thanks for the report!

Do you have a reference to the SRT spec that states the hours are optional, but the other time parameters are all required?

As far as I can tell it's not really formally specified anywhere, but it does seem like a bug that we have an optional group in the regex that is then assumed to be non-null. Since it's kind of a loose format, I'll make the hours properly optional.

[2020-03-23 10:35] orcunkobal commented on #7089
I exported my logcat reports with ADB. I can see which application wants to request focus my app. I realized something, I have an another music application and it has a widget. When I add the widget to my home screen sometimes the application wants the request focus from the widget. If I don't add the widget I don't get any issue. It is possible to request the focus from the widget? Because I didn

[2020-03-23 10:59] ojw28 commented on #7127
Correct. The emulator has known issues on earlier API versions. I'm not sure about the issue you reference, but it seems quite likely to be an issue with the emulator.

[2020-03-23 11:04] ojw28 commented on #7089
Right, so this is what's requesting focus:
[code]
and this is what's losing focus as a result:
[code]
If `com.ttnet.muzik.player.Player` is your class, then you need to work out why that class is requesting audio focus when it is. If that's not intentional, you need to fix that. If this class is wrapping a `SimpleExoPlayer` that you've configured to handle audio focus automatically, then it appear

[2020-03-23 11:05] AndroidDeveloperLB commented on #7127
OK , can you please add a check about the version on emulator, on the demo?
It can warn people who try this, that notice it has issues.

As for the issue I reported on the issue tracker, I know it's an emulator issue. Just a terrible one...

[2020-03-23 11:09] orcunkobal commented on #7089
Thank you for the quick answer. But com.ttnet.muzik.player is not my class it is another application like Spotify, not my project.

[2020-03-23 11:13] ojw28 commented on #7089
Does uninstalling that application fix the issue?

[2020-03-23 11:26] orcunkobal commented on #7089
Yes if I remove the widget who has com.ttnet.muzik.player.Player. But I get messages from our users on google play. They are saying sometimes the app is stopping. That's why I'm wondering if they are having the same problem. Maybe another app not com.ttnet.muzik.player.Player. But I understand, there is nothing I can do. Maybe I ask which media apps use and try to resolve their problems.

[2020-03-23 11:54] marcbaechinger commented on #7121
Thanks! I can't find a `newSimpleInstance` method which does not have the `Context` as the first parameter. In general I'd recommend using `SimpleExoPlayer.Builder` which is less confusing and easier to use than the factory with that many newXyz factory methods.

It is still not clear to me how this relates to androidx compatibility. If you want to tell me something about it, I'd politely ask you

[2020-03-23 12:36] ojw28 commented on #7089
I don't think this would be at all specific to your app. Presumably the same widget also causes the vast majority of other music apps (e.g., Spotify) to pause when they shouldn't be pausing as well?

I also don't think this is a widespread issue, since generally applications are well behaved and don't do this kind of thing. I would suggest reporting the issue to the developer of the problematic ap

[2020-03-23 12:46] ojw28 commented on #7123
That means the methods you're overriding don't exist in the interface that you're implementing, or have different method signatures.

Note that these APIs have changed over time, so you need to be overriding the correct methods for whatever version of ExoPlayer you're depending on. For example, if you're depending on 2.11.3, you should be overriding methods with signatures as defined [here](https:

[2020-03-23 12:50] ojw28 commented on #7124
Yes, that's what happens.

It's possible, but you need to restore each key into its own session, rather than calling `restoreKeys` twice on the same session. You then need to ensure the correct session is used by each renderer during playback (e.g., the audio renderer needs to use the DRM session into which you've restored the keys needed for the audio tracks).

[2020-03-23 12:50] video-fly opened #7128 "Picture will not be available during playback."
### [REQUIRED] Issue description
Picture will not be available during playback.
The video mimeType is null. Because we can not find correct atom type  when parseStsd.

### [REQUIRED] Reproduction steps
Play the video。

### [REQUIRED] Link to test content

### [REQUIRED] A full bug report captured from the device

### [REQUIRED] Version of ExoPlayer being used
2.8.2

### [REQUIRED] Device(s) and ve

[2020-03-23 12:51] ojw28 commented on #7125
Duplicate of https://github.com/google/ExoPlayer/issues/6054

[2020-03-23 12:51] #7125 closed, assigned to ojw28

[2020-03-23 12:59] orcunkobal commented on #7089
Yes, the same situation is happening on Spotify. I don't any requests if I lost my request focus. Thank you for your help.

[2020-03-23 13:00] video-fly commented on #7128
The video is h263.
I have send an email whicn contains the wrong video.
I get the result when  ffprobe the video.
Video: h263 (H263 / 0x33363248), yuv420p
Audio: mp3 (.mp3 / 0x33706D2E), 22050 Hz, stereo, s16p, 63 kb/s (default)

[2020-03-23 13:03] #7089 closed, assigned to ojw28

[2020-03-23 13:22] mjnhmd opened #7129 "play wav file error"
play wav error
Include the following:
exo version: 2.11.3
Device OS version: 10.0. 9.0
Device Name: Xiaomi 8, huawei mate30

## error logs:
[code]
## wav file： http://ydschool-online.nosdn.127.net/tiku/f65c1f5fa51ad5fc2015b582cf98c241049fa9f7bc324287035fd66136bcb298.wav

## mycode：
player = new SimpleExoPlayer.Builder(holdingActivity)
.setTrackSelector(new DefaultTrackSelector(holdingActivity))
.s

[2020-03-23 14:16] ojw28 commented on #7129
Thanks for the report. We will provide a fix for this.

[2020-03-23 14:25] shidobecker opened #7130 "Player UI Library causes crashes making it unable to run instrumental tests consistently"
###  Issue description
When I try to run any instrumental tests in a module that contains (or a module that depends on another module that contains) the player ui library  `com.google.android.exoplayer:exoplayer-ui` I end up with this following crash:
[code]

### [REQUIRED] Reproduction steps
Just adding the playerUi dependency and try to run an instrumentation test with it results on Process Cras

[2020-03-23 14:44] ojw28 commented on #7130
I don't see anything in this issue report to suggest it's an ExoPlayer problem, as opposed to something wrong with your project configuration. If you're sure it's an ExoPlayer issue, please could you provide a small Android Studio demo project that we could use to efficiently reproduce the problem?

[2020-03-23 15:09] CalebGartner opened #7131 "Corrupted playback of 15x I-frame H264 TS content"
- Related/Similar issues https://github.com/google/ExoPlayer/issues/1393   https://github.com/google/ExoPlayer/issues/1263   https://github.com/google/ExoPlayer/pull/6270   https://github.com/google/ExoPlayer/issues/6598   https://github.com/google/ExoPlayer/issues/678 https://github.com/google/ExoPlayer/issues/488  https://github.com/google/ExoPlayer/issues/5003 https://github.com/google/ExoPlaye

[2020-03-23 15:40] ojw28 commented on #7128
We did not receive an email. Where did you send it, and what subject line did you use?

[2020-03-23 15:48] ojw28 commented on #7131
The Google Drive folder you've shared appears to be empty. Please could you drop the test content into it?

[2020-03-23 15:54] ojw28 commented on #7127
I don't think it's worth adding extra code to the demo app for this. The popularity of using emulators with older API levels is naturally decreasing over time as developers increase their apps' minimum API levels, and we're already well past the point of peak confusion. In any case, doing so wont help anyone trying to run their own app on the emulator, which is probably the more common use case th

[2020-03-23 15:59] ojw28 commented on #6155
@kschults - We're getting around to implementing a better fix for this. Would it be possible for you to send us another test stream, so we can make sure the final fix still works properly? Thanks!

[2020-03-23 16:17] AndroidDeveloperLB commented on #7127
I see. Sadly we work on this minimal API version, and we even moved to it only this year...

I wish I could show the team the statistics now, but sadly Google still didn't update the statistics, for a long time:
https://developer.android.com/about/dashboards

[2020-03-23 16:22] mjnhmd commented on #7129
btw.  setspeed  is not work for this wav file either, same device ,same code.

[2020-03-23 17:09] CalebGartner commented on #7131
That's quite odd. I just tested the link on a separate account and computer, and it seemed to work. I've uploaded it to DropBox instead and sent another link via email; please let me know if it doesn't work. Otherwise I can just email the test content bit by bit. Sorry for the trouble.

[2020-03-23 17:27] dryganets commented on #7119
For my particular case, I'd rather make a small PR to the ExoPlayer.

We are using an older version of BUCK for the developer builds, we are working on upgrade in the mean time.

I understand the value of defaults methods, just saying that there is a cost for some users of the library. I agree that everyone that uses modern toolchains like d8 should be able to deal with it.

If somebody else has t

[2020-03-23 17:38] ojw28 commented on #7119
I don't think your particular case is justification for regressing ExoPlayer's adoption of default methods. It seems likely that default methods benefit the majority of developers, and impact on a much smaller number of developers who are using outdated and/or unofficial toolchains. It's probably working as intended that the latter group may have to jump through a few extra hoops to get things fun

[2020-03-23 17:57] shidobecker commented on #7130
@ojw28 Well I think it's related, if I change the playerUI version or remove completed, all tests start working again.
As soon as I can I'll try to create another project so you guys can reproduce it

[2020-03-23 18:50] dryganets opened #7133 "This video is played incorrectly in ExoPlayer"
Video is playing correctly by all desktop players while in ExoPlayer there is a glitch in video playback.
Audio is played correctly, while video playback starts from the middle.

[sample.mp4.zip](https://github.com/google/ExoPlayer/files/4371327/sample.mp4.zip)

Tried:
- VLC
- Mplayer
- Quicktime
- Google chrome

I tried multiple devices running different Android OS and results are consistent.

I'

[2020-03-23 19:34] ojw28 opened #7134 "Support playback speed adjustment + silence skipping for ENCODING_PCM_FLOAT"
Playback speed adjustment and silence skipping (and possibly custom audio processing injected by the application) are currently disabled by `DefaultAudioSink` if the input uses `ENCODING_PCM_FLOAT`.

I think the idea of this is to avoid resampling 32-bit floating point into into 16-bit integer precision PCM. However, in cases where we actually want to do processing that changes the audio, such as

[2020-03-23 19:34] ojw28 commented on #7129
I've filed #7134 to track the playback speed issue.

[2020-03-23 20:18] newtestpage commented on #7107
Hi Thanks for your response . I tried to add mute and play button with actionRequest and I did it .play and pause button work properly | onPlayerStateChanged | . my problem is with mute button when I click on it it make the player mute but it didn't change the icon of remoteaction . i should to change playerstate  then mute icon will change . Is it possible to add volume listener on exoplayer and