[2018-12-28 13:51] SystemRestored commented on #5290
The issue is also there in exoplayer 2.9.3 user reported on AlfawiseA8

[2018-12-28 14:17] AquilesCanta commented on #5314
Please provide the missing items (sample media and full bugreport, as obtained from `adb bugreport` after reproducing the issue) and we will reopen.

[2018-12-28 14:17] #5314 closed, assigned to AquilesCanta

[2018-12-28 14:30] AquilesCanta commented on #5297
I assume there is no need to keep this open. Please let me know otherwise.

[2018-12-28 14:30] #5297 closed, assigned to AquilesCanta

[2018-12-28 14:50] AquilesCanta commented on #5316
There are a few ways to do this. As an initial approach, I would try using track selection. Note that in this case the transition would not be seamless. It is not clear to me whether this would be an issue. You can play the media in the demo app to see what the final result would look like (press the audio button at the top to change the selected audio track).

If you want to achieve a more smooth

[2018-12-28 14:54] SystemRestored commented on #5290
update: My friend using same exoplayer version and he is using his custom layout and exoplayer activity code he has no issue. I just gave the demo application code for testing without any modification and the issue persists. Seems this is due to some layout issue in demo application codes. check please

[2018-12-28 15:25] nishantkp opened #5323 "AudioTrack: Discontinuity detected and Video Freezes, audio and subtitle works fine"
Hi,

I have a really strange issue.

### Configuration I am using:
ExoPlayer + DRM content + IMA + Video Length 45-50 minutes

### ExoPlayer Version : 2.9.2

### Issue:

All works good.
Only time issue occurs is when when user is playing a content with more than two AdBreaks (let say video has a mid-roll) and presses fastForward button.
When user presses FF button, and  if it hits the AdBreak. Ad

[2018-12-28 16:14] AquilesCanta commented on #5320
We are failing to sniff the file as a fragmented mp4 file. The reason is that the meta box is big, and makes us exceed the sniffing size before we find evidence that the file is fragmented. I will update this issue once I have an update on this.

[2018-12-28 16:19] AquilesCanta commented on #5319
Is this question related to ExoPlayer? Do you think the downloader is not using all the available bandwidth? If so, can you provide something that indicates this is happening? There is not enough information here for us to help.

[2018-12-28 16:23] davidaik commented on #5320
Thank you. I was just considering moving back to MediaPlayer, but I'll be sticking around and hopefully this bug gets fixed soon.

[2018-12-28 19:36] AquilesCanta commented on #5311
I'll have a look.

[2018-12-28 19:47] AquilesCanta commented on #5311
This is done internally. @andrewlewis, any reason not to apply by default on the external demo app?

[2018-12-29 06:00] AliceZhuZhu opened #5324 "Fatal Exception: java.lang.InternalError Thread starting during runtime shutdown okhttp3.ConnectionPool.put"
Fatal Exception: java.lang.InternalError
Thread starting during runtime shutdown.

-----------------------
### Issue description
There was an error playing the video.
`private VideoView vvViewedDetail;`
..........
![image](https://user-images.githubusercontent.com/36066123/50534068-cffa2d00-0b71-11e9-8426-a84f49dd3944.png)

`implementation 'com.squareup.okhttp3:okhttp:3.10.0'
    implementation 'c

[2018-12-29 07:07] AliceZhuZhu commented on #5231
Thanks @tonihei !

[2018-12-29 11:06] ojw28 commented on #5306
I don't think the structure has changed. I think the methods in red are application specific methods that you need to implement yourself (or do something equivalent).

[2018-12-29 11:06] #5306 closed, assigned to ojw28

[2018-12-29 11:19] ojw28 commented on #5324
This doesn't really look like an ExoPlayer issue. I'd suggest you search on the OkHttp issue tracker; for example https://github.com/square/okhttp/issues/1153. There are also quite a lot of results for "Thread starting during runtime shutdown" on Google.

It seems like the application is shutting down anyway when this error occurs, so it's likely there's no user impact. If you're seeing it reporte

[2018-12-29 11:19] #5324 closed, assigned to ojw28

[2018-12-29 11:21] #5299 closed, assigned to ojw28

[2018-12-29 11:36] ojw28 commented on #5300
I don't think just controlling the view would be enough, since `PlayerView` isn't a passive UI component. Wouldn't you also need to have the view control the playback of the streaming service for this to make sense (e.g. when the user presses the play button).

Either way, `PlayerView` operates on a `Player` instance. So the only reliable way to do what you're trying to do is to implement the `Pla

[2018-12-29 11:36] #5300 closed, assigned to ojw28

[2018-12-29 11:42] ojw28 commented on #5311
It's not done because we want our demo app to encourage best practice. This is particularly true given less experienced app developers sometimes fork it and use it as the starting point for building real applications. A developer who does this is unlikely to remove a permissive network security configuration.

I don't think there's a whole lot of difference in terms of effort between what a develo

[2018-12-29 11:42] #5311 closed, assigned to andrewlewis

[2018-12-29 11:51] ojw28 commented on #5315
You probably need to enable Java 8 features by adding the following inside the `android { ... }` section of your `build.gradle` file:
[code]
The need to do this is documented in our [developer guide](https://google.github.io/ExoPlayer/guide.html).

Closing this on the assumption that the above will fix your issue, but if it doesn't please feel free to respond here and we'll take another look. Than

[2018-12-29 11:51] #5315 closed, assigned to ojw28

[2018-12-29 12:01] ojw28 commented on #5309
For (1) - Implementing `Extractor` requires that you provide a (sensible) timestamp with each sample. How you do that in your own custom `Extractor` implementation is beyond the scope of this issue tracker.

For (2) - It's right that extractors should be ordered with those likely to produce false positives being further down the list. So I think you should change the order.

For (3) - All Android

[2018-12-29 12:03] ojw28 commented on #5240
Marking as a bug for tracking the issue Toni mentions above.

[2018-12-29 12:15] ojw28 commented on #5318
ExoPlayer's caching functionality does not support this use case (i.e. providing a single file path for a piece of downloaded content). We don't even make any strong guarantees about the format of cache files, or how many files a piece of content might be fragmented across.

The only officially supported way of reading cached data back is to do so through ExoPlayer's own components, such as `Cache

[2018-12-29 12:15] #5318 closed, assigned to ojw28

[2018-12-29 12:31] ojw28 commented on #5313
We come up with a pretty weird set of tracks for this content (looking at the master playlist, I think the correct result would be if we ended up with just Group 0):
[code]

[2018-12-29 12:33] xiaoyepadzhang commented on #5321
@ojw28 can you help me?

[2018-12-29 12:38] ojw28 commented on #5308
Given there are no audible issues, I doubt there's anything actually wrong here. It's likely just unintentional log spam. I can't find "continuously zero data counter' or "send start state to pg" anywhere in AOSP Android, so it's likely it's something Huawei have added. There's nothing we can really do about it, if so. If you think the logging is coming from AOSP Android or anything under our cont

[2018-12-29 12:38] #5308 closed, assigned to ojw28

[2018-12-29 12:39] ojw28 commented on #5321
Please don't ping issues less than a day after you've filed them. If you've filed an issue we've seen it, and we'll answer it when we have a chance.

[2018-12-29 12:41] ojw28 commented on #5298
Hm, isn't this a fairly big clue about what the problem is (it doesn't look like it's ExoPlayer related):
[code]

[2018-12-29 13:11] ojw28 commented on #5298
Have you looked at the results on Google? The top two seem to be the same problem compiling FFMPEG, and at least one of them has a purported solution:

[https://www.google.com/search?q="arm-linux-androideabi-pkg-config+not+found"](https://www.google.com/search?q="arm-linux-androideabi-pkg-config+not+found")

[2018-12-29 13:16] ojw28 commented on #5003
The link should have been [this](https://github.com/google/ExoPlayer/blob/r2.9.2/library/core/src/main/java/com/google/android/exoplayer2/video/MediaCodecVideoRenderer.java#L1054). I've updated the link in Toni's post above as well.

[2018-12-29 20:10] kar10s opened #5325 "How is it sent specifics http headers to obtain the AES decryption key?"
Hi,
I'm trying to play back an HLS media playlist with Exoplayer 2.7.3. The url of the manifest (m3u8 file) is requested to one server (Akamaihd.net) but the key to decrypt the TS files is obtained from a different server (mediaset.es), that need his own headers (including cookie) different from the headers needed to obtain the m3u8 file.

m3u8 file is obtained from url:

`https://mdslivehlsb-i.ak

[2018-12-29 20:34] kar10s opened #5326 "How send specifics http headers to obtain the AES decryption key?"
Hi,
I'm trying to play back an HLS media playlist with Exoplayer 2.7.3. The url of the manifest (m3u8 file) is requested to one server (Akamaihd.net) but the key to decrypt the TS files is obtained from a different server (mediaset.es), that need his own headers (including cookie) different from the headers needed to obtain the m3u8 file.

m3u8 file is obtained from url:

`https://mdslivehlsb-i.ak

[2018-12-29 20:40] #5325 closed, assigned to nobody

[2018-12-29 22:05] AllanWang commented on #5277
I appear to be having this error as well:

[code]

However, the media player is working fine. I've migrated my project to androidx, and it has constraintlayout.

If you did an androidx migration as well, note that a lot of the xml tags don't end up being changed automatically

[2018-12-29 22:10] ojw28 commented on #5277
Looking at this again, I think you need to enable Java 8 features in your `build.gradle` file, as per our [developer guide](https://google.github.io/ExoPlayer/guide.html#adding-exoplayer-as-a-dependency). This is a requirement as of 2.9.0, so is consistent with you seeing the problem after upgrading.

[2018-12-29 22:12] ojw28 commented on #5277
Example: https://github.com/google/ExoPlayer/blob/r2.9.3/demos/main/build.gradle#L23

[2018-12-30 00:39] ojw28 commented on #5289
The main thread has a looper, so `Looper.myLooper()` wont return null. The fact that it is implies that something is calling the player from another thread. If you can reproduce the issue locally it should be pretty easy to attach a debugger to work out where the rogue call is coming from, and on which thread.

[2018-12-30 08:12] tonihei commented on #5289
The log message should also have a stack trace which shows you exactly where the call is coming from.

[2018-12-30 12:22] SystemRestored commented on #5290
I am now using simpleexoplayer view and the issue is resolved. It seems the focus color of exoplayer controls (blue) is somehow overlapping on those devices.

[2018-12-30 12:22] #5290 closed, assigned to erdemguven

[2018-12-30 12:28] SystemRestored opened #5327 "[Question] How to mute and unmute programatically in Exoplayer."
Hello I am using the latest exoplayer 2.9.3
I want to implement a mute unmute button to it. I have achieved the mute portion, but while unmuting the sound goes to full , not in its previous position. can anyone tell me how to unmute to previous postion.

To mute I am using:
`audiomanager.adjustStreamVolume(AudioManager.STREAM_MUSIC, AudioManager.ADJUST_MUTE, 0);`

to unmute from above  tried:
`mAl

[2018-12-30 21:26] 0xcaff commented on #5301
I want to implement the same behavior also. I plan to fork + add an api to `PlayerNotificationManager` which exposes the notification every time it changes.

[2018-12-31 03:30] 0xcaff commented on #5301
Related to #5117, #4988, #4989, #4482, #4269, #4256, #3559

I believe the issues on flickering notifications are coming from people using `startForeground` with a stale notification while trying to implement this behavior.

It looks like #4269 could have been a potential solution, but the PR stalled.

[2018-12-31 04:21] ParthiviPokuri commented on #5319
Exoplayer downloading chunks sequentially, so that it is taking more time to download the content. Is there any way to use multiple threads to download the content?
I think the similar feature  already requested https://github.com/google/ExoPlayer/issues/4273

[2018-12-31 05:56] ranakhizar1556 commented on #2159
@michalliu  how to use this ?

[2018-12-31 08:03] cobarx opened #5329 "DRM docs & code have different system requirements"
### Issue description
The [DRM docs](https://google.github.io/ExoPlayer/drm.html) indicate that DRM is only supported on Android 4.4 and higher , however in the [demo app](https://github.com/google/ExoPlayer/blob/release-v2/demos/main/src/main/java/com/google/android/exoplayer2/demo/PlayerActivity.java#L379) the minimum version is 4.3. Issue #1330 indicates that Widevine modular will work on Nexus

[2018-12-31 08:13] okycelt opened #5330 "MPEG-TS stream with SCTE subtitle track may fail to start"
### Issue description
When trying to play the .ts file sent via email, the player goes to prepared state but doesn't start playing anything. If we stream the .ts file by tsplay as a UDP multicast, the player won't throw any error. If we try playing the .ts file directly from the device, we get `OutOfMemoryError` after a few seconds. We've tried setting the `FLAG_ALLOW_NON_IDR_KEYFRAMES` and `FLAG_

[2018-12-31 15:29] noamtamim commented on #4078
What's the current status of this issue? The underlying issue in okhttp seems to be resolved (yet @natez0r says a variant of it still happens).
When testing with an HLS sample on http/2 it still occurs.
We're considering moving from DefaultHttpDataSource to OkHttp (we use okhttp for other network requests), and this is a blocker.

Is there another okhttp issue that tracks this?

[2019-01-01 07:25] ranakhizar1556 opened #5331 "Seeking Issue"
why 4k mkv file matroska file format is seekable in media player library but when i am trying to do this in exoplayer it is not seekable why if frame rate is not available for that video why media player is give seeking for that video and why exoplayer dont give this

[2019-01-02 02:23] michalliu commented on #2159
@ranakhizar1556
same as the vpx render, add code to your render list. Noted, the adding sequence is important, if you just want debugging you should add `LibHevcVideoRenderer` firstly.

[code]

[2019-01-02 03:32] Romantic-LiXuefeng commented on #2826
@ojw28 Did you already had the time to look into this? Is there anything I can do to support you?

[2019-01-02 07:25] f2tt opened #5332 "This time often getSessionId is 0"
When playing another song after playing the song is closed，This time often getSessionId is 0

[2019-01-02 07:53] userdimi opened #5333 "IndexOutOfBoundsException by getting Period from DashTim"
In my Bugsnag report I have a lot of events with this stacktrace:

[code]
In my application I use the exoplayer version 2.9.0 and this application is build for TV's. This issue occurs on different Amazon FireTV Sticks and on different SmartTV's models. I tried to reproduce the issue but until now it was not successful

[2019-01-02 08:30] ali-shatergholi commented on #5138
I got the same problem with this issue and that was fix by removing to layout
     - exo_playback_control_view.xml
     - exo_simple_player_view.xml

I implemented this layout to change control layout display and this issue solved by remove this layout from my project.

[2019-01-02 09:05] tonihei commented on #5332
Please provide the full information requested in the [issue template](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE) for us to have a look. Thanks!

[2019-01-02 09:05] #5332 closed, assigned to tonihei

[2019-01-02 09:41] ojw28 commented on #4078
It's unlikely to be an ExoPlayer issue. In which case this is really a question about whether OkHttp still has a problem, and if so, whether there's a corresponding tracking bug for it.

[2019-01-02 09:50] ojw28 commented on #2826
Decoder re-use is not part of the 2.9.0 release, or any release to date. It's in the `dev-v2` branch only. Also note that this is still an open issue.

[2019-01-02 09:59] tonihei commented on #5333
Sounds like a duplicate of #5240. But it's still unclear what could cause this to happen. One potential reason is using ExoPlayer from multiple threads, but there may be another reason given that we got multiple reports of the same problem.

I'll use the other issue to track this. If you happen to find a way to reproduce the issue or can provide further information about the circumstances of the e

[2019-01-02 09:59] #5333 closed, assigned to tonihei

[2019-01-02 10:22] ojw28 commented on #5330
@andrewlewis - This looks related to addition of DTS support [internal cr ref: 112774678]. There's a stream with type 0x82 (`TS_STREAM_TYPE_HDMV_DTS`) in this piece of content, but I think it's probably an SCTE subtitle track instead. As a result we don't ever get a format for the track, so end up stuck preparing. According to https://en.wikipedia.org/wiki/Program-specific_information 0x82 can be:

[2019-01-02 10:23] izderadicka commented on #5282
Any ideas anybody?  I'm stuck on what I described above. Thanks

[2019-01-02 10:42] ojw28 commented on #5314
We'd also need sample content and proper details about the device. Please fully complete the issue template whenever filing issues.

[2019-01-02 10:43] andrewlewis commented on #5305
I wonder if the shell used on your server is incompatible with the instructions. Could you try running `bash` first?

[2019-01-02 10:44] ojw28 commented on #5331
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE). Closing the issue until complete information is provided.

[2019-01-02 10:44] #5331 closed, assigned to ojw28

[2019-01-02 10:57] ojw28 commented on #5329
As you figured out, the reason for the discrepancy is that some Nexus devices got support in API level 18, but wider support was not required until API level 19.

Given there are very few such devices still in circulation (i.e. Nexus devices that have modular DRM support, and that are still running API level 18 as opposed to having received a subsequent update), it seems fine to update the demo ap

[2019-01-02 11:04] ojw28 commented on #5327
Using `AudioManager.adjustStreamVolume` doesn't sound right. Just adjust the volume directly on the player, using [`SimpleExoPlayer.setVolume`](https://google.github.io/ExoPlayer/doc/reference/com/google/android/exoplayer2/SimpleExoPlayer.html#setVolume-float-).

[2019-01-02 11:04] andrewlewis commented on #5282
Regarding using audio processing for this: #3657 is about amplifying quiet sources rather than increasing volume beyond "normal limits" so perhaps not relevant to what you're trying to do. I don't think the bit depth of the PCM audio is going to make a difference to the audio volume. If your audio is already at full volume I wonder if you can do a non-linear transformation that still boosts volume

[2019-01-02 11:13] ojw28 commented on #5317
This is working as intended currently. Subtitles are considered media. If you've provided 50 seconds of subtitles, then there's 50 seconds of media for us to play.

The normal solution to this would be to wrap the "long" source in a `ClippingMediaSource` before putting it into the `MergingMediaSource`. Unfortunately I don't think that works currently, due to the way subtitles are handled through t

[2019-01-02 11:18] ojw28 commented on #5317
More details about what this is tracking;

`ClippingMediaSource` clips media to a particular end position by not outputting any samples beyond the specified point. However some subtitle and metadata formats pack multiple sub-samples into a single sample, which can span a long period of time. For side-loaded subtitles it's common for there to be only a single subtitle at `t=0`, containing sub-sampl

[2019-01-02 11:30] ojw28 commented on #5302
Yes, I think this is probably fixed already in the `dev-v2` branch. Please give it a try and let us know if it's working there.

Note:  You should still handle the audio session ID changing in application code, since I think there are probably edge cases where this can still occur.

[2019-01-02 11:42] ojw28 commented on #5326
When you build your `HlsMediaSource`, use the `HlsMediaSource.Factory` constructor that takes a `HlsDataSourceFactory` (you're probably using the one that takes a plain `DataSource.Factory` at the moment):

https://google.github.io/ExoPlayer/doc/reference/com/google/android/exoplayer2/source/hls/HlsMediaSource.Factory.html#Factory-com.google.android.exoplayer2.source.hls.HlsDataSourceFactory-

You

[2019-01-02 11:44] ojw28 commented on #5319
Marking as a duplicate of https://github.com/google/ExoPlayer/issues/4273.

[2019-01-02 11:44] #5319 closed, assigned to AquilesCanta

[2019-01-02 11:56] ojw28 commented on #5329
Actually, I think it's better to leave it how it is. There's a difference between checking whether the `MediaDrm` API exists, and checking whether a specific content decryption module (CDM) can be accessed through it.

The API level check in the demo app is to establish whether the `MediaDrm` API exists before trying to use it. The documentation you refer to documents which CDMs you can expect to

[2019-01-02 11:56] #5329 closed, assigned to ojw28

[2019-01-02 11:59] ojw28 commented on #5310
Closing as answered.

[2019-01-02 11:59] #5310 closed, assigned to tonihei

[2019-01-02 12:05] tonihei commented on #5312
Thanks for reporting. We'll add the device to the workaround list soon.

[2019-01-02 12:07] andrewlewis commented on #5295
Can you reproduce this on any other devices when using video tunneling? It sounds like a device-specific issue that would need to be reported to and fixed by Broadcom, especially if the device has a notion of volume that isn't controlled by the Android OS.

[2019-01-02 12:12] ojw28 commented on #5323
Can you provide better reproduction steps, to allow us to see what you're seeing? In particular some sample content and an ad tag. I tried playback of content with more than two ad breaks, and it worked fine for me.

[2019-01-02 12:16] tonihei commented on #5321
ExoPlayer automatically chooses the best quality based on the current network speed estimate. If you want to force the lowest possible resolution you should set the `forceLowestBitrate` parameter of `DefaultTrackSelector`. If you want to switch to another quality later on, just change the parameters to something else.

[2019-01-02 12:27] tonihei commented on #5301
Thanks for pull request! The proposal looks sensible to me but I'm not an expert for notifications. @marcbaechinger Can you take a closer look?

[2019-01-02 12:29] tonihei commented on #5268
Closing due to inactivity. Feel free to reopen if you want to follow up.

[2019-01-02 12:29] #5268 closed, assigned to tonihei

[2019-01-02 13:00] tonihei commented on #5264
Closing as answered.

[2019-01-02 13:00] #5264 closed, assigned to tonihei

[2019-01-02 13:03] izderadicka commented on #5282
@andrewlewis - Thanks that might be it! I did not notice that I used local var instead of field. Will check.

[2019-01-02 13:48] andrewlewis commented on #5268
Just a quick note: [TeeAudioProcessor](https://github.com/google/ExoPlayer/blob/e25b7d2/library/core/src/main/java/com/google/android/exoplayer2/audio/TeeAudioProcessor.java) is an audio processor like the one Toni described above, and you may be able implement a `TeeAudioProcessor.AudioBufferSink` that does whatever visualization is needed.

[2019-01-02 14:07] izderadicka commented on #5282
@andrewlewis - this was it - thanks a million. What a stupid error, I indeed wantedit  to be field of my class, just put there val by mistake and was it. Poor `LoudnessEnhancer` got shredded. I updated the code above to correct one, if someone in future has similar question.

[2019-01-02 14:07] #5282 closed, assigned to andrewlewis

[2019-01-02 14:12] natez0r commented on #4078
@noamtamim I have not filed a new OKHttp issue for the underlying cause (I have not been able to spend any time on this recently). It definitely still occurs, but it does appear to be an OKHttp issue vs ExoPlayer. In our codebase, we have a throttling mechanism that works around the issue right now.

[2019-01-02 15:11] andrewlewis commented on #5298
Could you also try checking out FFmpeg release 4.0 like this: `git checkout release/4.0`? I don't have `arm-linux-androideabi-pkg-config` in my prebuilts for NDK 15c either, yet configuration succeeds.

[2019-01-02 16:04] Arayldan commented on #5295
We tested on other devices (Nvidia Shield, Xiaomi Mi Box, etc) but they don't support tunneling.
Do you have a list of devices with tunneling codecs ?

[2019-01-02 16:27] ojw28 commented on #5260
The logging you see might indicate an invalid transformation of the DASH manifest when the stream changes from live to on-demand. Can you provide a few snapshots of a DASH manifest toward the end of it being a live stream, and then a snapshot of the same DASH manifest after its final update.

It's somewhat hard to tell with the limited information provided. *Please* properly fill in the issue temp

[2019-01-02 16:33] erdemguven commented on #5265
I tried using ExoPlayer 2.9.2 demo app on Huawei Mate 10 pro 8.0.0 but couldn't reproduce the issue. I think it's likely that the issue is caused by application's code.

[2019-01-02 16:33] #5265 closed, assigned to erdemguven

[2019-01-02 16:43] ojw28 commented on #5185
Closing because it's unclear what the question is. Or at least, the question is not specific enough to be within the scope of this issue tracker.

[2019-01-02 16:43] #5185 closed, assigned to erdemguven

[2019-01-02 16:47] andrewlewis commented on #5316
That all sounds right to me. If you can transcode the media to put the different audio tracks in separate channels of the same track, I think using an audio processor based on [ChannelMappingAudioProcessor](https://github.com/google/ExoPlayer/blob/e87e231/library/core/src/main/java/com/google/android/exoplayer2/audio/ChannelMappingAudioProcessor.java) would give good results. You'd need to fork th

[2019-01-02 16:47] #5316 closed, assigned to AquilesCanta

[2019-01-02 17:24] andrewlewis commented on #5330
@AquilesCanta Any ideas if there's some signaling that we can use to distinguish these?

[2019-01-02 18:33] nishantkp commented on #5323
Hi @ojw28,

My apologies for not being clear,

ExoPlayer is used for TV and **FF** and **RW** action is achieved through listening to remote control events, `KeyEvent.KEYCODE_MEDIA_FAST_FORWARD` and `KeyEvent.KEYCODE_MEDIA_REWIND`

[code]

**Steps to reproduce,**
1. Use **seekTo()** for the fast-forward and rewind, like

_Fast Forward_
[code]

_Rewind_
[code]

2. Press DPAD-Fast Forward till the s

[2019-01-02 19:27] CatalystNZ commented on #867
Be sure to try using TextureView instead of Surface View. Often a black flash on the screen occurs because of the underlying surfaceview.

`<com.google.android.exoplayer2.ui.PlayerView
     android:id="@+id/player_view"
     app:surface_type="texture_view"
     android:layout_width="match_parent"
     android:layout_height="match_parent"
/>
`

[2019-01-02 19:34] guy244 commented on #5226
anything?

[2019-01-02 21:31] nishantkp commented on #5323
Hi,

sample video URL is,

[code]

and AdTag is,

[code]

[2019-01-03 07:29] okycelt commented on #5330
In theory, would it be possible to do something temporary on our end? Either signal the player manually that it should treat the 0x82 stream as SCTE subtitle or tell the player to skip the 0x82 stream completely? Thank you.

[2019-01-03 07:38] xiaoyepadzhang commented on #5321
@tonihei I means that I just want exoplayer choose the quality that I told him.
For example, I want it start play the second quality(whatever the second quality is what), and never load the first quality(Infact now exoplayer will request the first quality always) or other quality except the second quality.
My Features is about manual control the quality not auto switch, How can I carry out it ?

[2019-01-03 09:04] tonihei commented on #5321
Can you describe in more detail what you are trying to achieve? Selecting things like the "second quality" sounds arbitrary from a player point of view and only makes sense if you already know how the qualities look like before loading the playlist.

`DefaultTrackSelector` also has other options to pre-define the selection, e.g. `maxVideoHeight` or `maxVideoBitrate`. If you want to disable automat

[2019-01-03 09:29] andrewlewis commented on #5330
`TsExtractor` can take a custom `TsPayloadReaderFactory` where you implement your own behavior, like delegating to a `DefaultTsPayloadReaderFactory` except when the stream type is 0x82. When creating `ExtractorMediaSource` you can pass a custom `ExtractorsFactory` that creates the `TsExtractor` with the custom payload reader factory.

[2019-01-03 10:35] jmimohsin commented on #5220
Hi,

Checked mostly all issues and stack overflow answers but still not getting any solution which provide a simple code example and can help to run HLS url with AES-128 method like above example has

#EXT-X-KEY:METHOD=AES-128,URI="https://tv.media.jio.com/streams_live/Ten_1/Ten_1_600-1544462974000.key",IV=0x000000000000000000000167992ABC30

Just let me know a simple code which can help it. I am s

[2019-01-03 10:47] jmimohsin commented on #5220
params for key are ?jct=6xn8fjTQUCFOBO3GxeCrKQ&pxe=1548900873&st=EoMVarxgha7pTVhpmCYXcg

[2019-01-03 10:50] jmimohsin commented on #5220
main url http://smumcdnems03.cdnsrv.jio.com/jiotv.live.cdn.jio.com/Ten_1/Ten_1.m3u8?jct=6xn8fjTQUCFOBO3GxeCrKQ&pxe=1548900873&st=EoMVarxgha7pTVhpmCYXcg

agent JioTV

[2019-01-03 11:15] ojw28 commented on #5220
The link still gives me a 451 response code. If you're not going to provide working media for us to test with, we're not going to be able to help you.

[2019-01-03 11:19] jmimohsin commented on #5220
Can you please just let me know what I have to use additional for AES-128 method. I don't have other url right now. I have shared url and data already which I am getting.

[2019-01-03 11:21] imecstamas commented on #4868
Any news on this?
I'm asking because I have some trouble showing a concatenated media source in a notification, where I need to show the total length of the tracks, but I can't figure it out how to do it properly.

Thanks
Tamas

[2019-01-03 11:26] tonihei commented on #4868
Sorry, no updates so far. We keep this issue posted as soon as we implement something.

[2019-01-03 11:54] xiaoyepadzhang commented on #5321
@tonihei
I parse `Object manifest` params int `onTimelineChanged`  method, and I will get the main m3u8 list, and then get the `NAME="XXXp"` quality list(this is a agreement with out server), the list will display to the User to switch.

At first I will `setParameters(parametersBuilder)`(track == 0), And Exoplayer will play the first quality track and never auto switch(this is the result that I wa

[2019-01-03 12:04] tonihei commented on #5321
`HlsMediaSource` starts loading the first variant to figure out which formats are available. I think this may be what you are seeing. Can you try calling `setAllowChunklessPreparation(true)` on the `HlsMediaSource.Factory`? This will only read the formats from the master playlist if possible.

[2019-01-03 12:59] tonihei commented on #3314
Closing as all required new options have been added.

[2019-01-03 12:59] #3314 closed, assigned to tonihei

[2019-01-03 14:04] adapana opened #5334 "Unicode Character (Emoji) in Video URL Isssue"
I have video urls stored in db, and some url has emojis in URL.
But Exo player failed to play video which has these Unicode characters.

This video is playing in browser but exo player failed to load.

Sample URL:
https://statusvid.sgp1.digitaloceanspaces.com/video/When%20degree%20boys%20enters%20in%20the%20college%20--%20Attitude%20WhatsApp%20status%20for%20legends%20✌%20-%20YouTube.mp4

Please g

[2019-01-03 14:18] ojw28 commented on #5220
As per my previous response, you don't have to do anything additional:

[2019-01-03 14:23] tonihei commented on #5334
The provided link plays fine in our demo app. This suggest that it's an issue in your app or database rather an ExoPlayer issue. Also worth checking if it's device-specific by trying to play the video on another device.

[2019-01-03 16:25] AquilesCanta commented on #5226
Hi, we are currently putting our efforts in implementing a custom receiver app so we have full control of the delivered experience. We are working to release this as soon as we can, but we still have some more work to do. Thanks for your patience!

[2019-01-03 16:27] AquilesCanta commented on #5226
Also, please don't skip items in the issue template when reporting stuff. There is not much I can do with the provided information. The provided logcat line may not even be related to the issue, that's why we ask for a full bugreport. Plus, a sample media link is necessary for us to reproduce and investigate further.

[2019-01-03 19:53] ojw28 commented on #5334
Aren't URLs only supposed to have ASCII characters in them? Since Toni says the demo app can play the link fine, I guess something in the network stack must handle encoding the character into ASCII before the request is made.

However, if you're seeing an issue with a particular network stack or version(s) of Android, then it's possible you need to encode the character yourself before passing it t

[2019-01-03 19:53] #5334 closed, assigned to tonihei

[2019-01-03 20:03] ojw28 commented on #5257
It seems you're trying to make use of a `SimpleCache` that you've already called `release()` on. For future reference, it's pretty easy to answer this kind of thing just by [looking at the source code where the exception is thrown](https://github.com/google/ExoPlayer/blob/r2.9.3/library/core/src/main/java/com/google/android/exoplayer2/upstream/cache/SimpleCache.java#L358), to see what assertion is

[2019-01-03 20:03] #5257 closed, assigned to ojw28

[2019-01-03 21:08] ojw28 commented on #5327
Closing as answered, but feel free to follow up here if you have further questions (there's no need to file a new issue).

[2019-01-03 21:08] #5327 closed, assigned to ojw28

[2019-01-03 23:21] paf-wv commented on #4825
Happy New Year @ojw28,
A reply for the question posted on 9/17.

" You are correct, prior to API 23 this would need to be coordinated between client and server independently from MediaDrm API."

[2019-01-04 02:49] marcochin opened #5335 "Buffering issues with HTTP but more reliable buffer with HTTPS"
### Issue description
I have a user who is having trouble with video streaming. I can't reproduce the issue on my side, but it seems with http:// links it'll buffer a bit and the video will play, but once the playback catches up the buffering progress, it won't buffer anymore.

We tried switching http:// to https:// and most videos will play fine and buffer correctly, but not foolproof. Occasional

[2019-01-04 03:12] ghost0906 commented on #5309
Thanks.

[2019-01-04 03:12] #5309 closed, assigned to ojw28

[2019-01-04 09:10] shgrg1712 opened #5336 "Exoplayer- Video Playback Input speed Rate 12x , Output is 8x"
In this issue, we are making on video using ffmpeg commands .

Test data (Images and Audio) has been attached in the attachment of this issue.
[TestImages.zip](https://github.com/google/ExoPlayer/files/2726411/TestImages.zip)

Command is as follows:
ffmpeg -f image2 -framerate 1/5 -pattern_type glob -i '*.jpg' -i audio.mp3 -c:v libx264 -vf scale=480:360 -pix_fmt yuv420p -crf 30 out_30.mp4

After p

[2019-01-04 09:19] andrewlewis commented on #5336
ExoPlayer limits the maximum speedup to 8 internally when using built-in playback speed adjustment (see [SonicAudioProcessor](https://github.com/google/ExoPlayer/blob/e3eddc4/library/core/src/main/java/com/google/android/exoplayer2/audio/SonicAudioProcessor.java#L33)). See also the [javadoc for Player.setPlaybackParameters](https://google.github.io/ExoPlayer/doc/reference/com/google/android/exopla

[2019-01-04 09:19] #5336 closed, assigned to andrewlewis

[2019-01-04 09:22] qsdigor commented on #5265
We tried exo player demo app and video works. It seams it is our code, we are using exo player in simple instance. Here is how we are initialize it.

https://pastebin.com/QejF9rkA

[2019-01-04 09:28] shgrg1712 commented on #5336
Hello Andrew,
                      Thanks for your reply.

If we play the video without audio then we can reach to the speed of 24.0f . I mean we make video without audio using ffmpeg.

If we play video with audio then we can reach to the maximum speed of 8.0f which is our concern.

with your explanation, it means if a video has audio, exoplayer can reach maximum to the speed of 8.0x because of S

[2019-01-04 09:50] andrewlewis commented on #5336
Yes, that's right. In the video-only case Sonic won't be used so the limit there won't apply.

[2019-01-04 09:52] shgrg1712 commented on #5336
This is very useful information for me. Thank you Andrew :)

[2019-01-04 10:19] meenukrishnamurthy opened #5337 "Offline download for mulltiple users"
Hi, in my app i need to implement offline download for multiple users.I have used the code from your demo project.When i try to download the same video for multiple users its not happening.Can u help me out here.

[2019-01-04 11:00] ojw28 commented on #5337
ExoPlayer doesn't know anything about users, so I don't see how this falls inside the scope of this issue tracker. ExoPlayer provides caching and downloading components that you could choose to share or have separate instances of per user, but the whole concept of multiple users and how you would do that is entirely the responsibility of the application developer and application code.

[2019-01-04 11:00] #5337 closed, assigned to ojw28

[2019-01-04 12:33] hubblec4 opened #5338 "Add more Matroska features"
1. TRACKSETEX
Comes with the HaaliSplitter

2. Segment-Linking (HARD and MEDIUM)
LAVSplitter is at the moment the best Splitter for Segment-Linking.([sample](https://forum.videohelp.com/attachments/40602-1487505284/MatroskaMenu_Chapter-Segment-Linking.7z))

3. Matroska Menu
3.1 Native Matroska Menu
3.2 borrowed DVD menu system (VLC code use some DVD commands)

[2019-01-04 15:06] DionataFerraz opened #5339 "Playing mp4 video from assets"
I'm trying to use a video that is inside the assets directory, but I always take an exception
 com.google.android.exoplayer2.upstream.HttpDataSource$HttpDataSourceException: Unable to connect to assets://vid.mp4
[code]

[2019-01-04 15:08] andrewlewis commented on #5339
Does `asset://...` work?

[2019-01-04 15:18] marcbaechinger commented on #5339
Or you need to prefix your path with android_asset. So for your example it would be:

file:///android_asset/vid.mp4

[2019-01-04 15:30] DionataFerraz commented on #5339
I've tried, but throws an exception that the file was not found
    com.google.android.exoplayer2.upstream.AssetDataSource$AssetDataSourceException: java.io.FileNotFoundException:

package assets is inside the main, should it be somewhere else?

I put the package assets in the singular and also did not work, it throws the same exception above

I tried putting it in the package raw inside the res a

[2019-01-04 15:33] DionataFerraz commented on #5339
if I try with the Android VideoView I can play the video using that path
`android.resource://com.video.player.dev/raw/video`

I'm using version 2.9.3

[2019-01-04 15:37] andrewlewis commented on #5339
If it's stored as a resource rather than an asset then try `RawResourceDataSource.buildRawResourceUri(R.raw.video)`.

[2019-01-04 15:55] DionataFerraz commented on #5339
Thanks
I did it here and it worked.
[code]

Thank you very much

[2019-01-04 16:10] #5339 closed, assigned to marcbaechinger

[2019-01-04 17:44] marcbaechinger commented on #5335
I can not reproduce this behaviour either. When playing the URLs you sent with the demo app it just runs fine. It actually never catches up with the buffered data.  I tried on a very slow network as well and there the player behaves as expected. After a long buffering phase it plays a bit, then falls into buffering state again. But the app is responsive all the time.

What is the reported behaviou

[2019-01-04 20:18] ojw28 commented on #5338
As a heads up, my initial thoughts are that I don't think we're particularly likely to support this. I confess to having not spent much time thinking about it, but it seems questionable to me whether these kind of features really belong in either a container specification or in a library like ExoPlayer.

I suspect that most (probably all) streaming services implement the functionality that these k

[2019-01-04 20:35] ojw28 commented on #5278
It's very unclear what this question is about. The code above doesn't look like it's related to ExoPlayer. Please more clearly describe exactly what you're trying to do.

[2019-01-04 22:57] ojw28 commented on #4253
We have a pretty good understanding of the problem now. We think the issue is caused by an `O(N)` cost of querying file metadata (in particular the length of the file) on certain file systems (FAT32), where `N` is the total number of files in the parent directory.

Cache initialization requires querying file metadata for every file, which results in a complexity of:
[code]
When the N files are ins

[2019-01-05 05:46] adapana commented on #5334
Thank you @tonihei  and @ojw28 for quick reply.

I tried above URL in different android version, Video is not playing in v5.1(Lollipop) but playing fine in 8.0(Oreo).

[2019-01-05 08:08] axitasavani opened #5340 "Exo player not Play video and generated mediacodec bug"
Before filing an issue:

[Video_0001_1546670127944.zip](https://github.com/google/ExoPlayer/files/2729316/Video_0001_1546670127944.zip)

When reporting a bug:
-----------------------
### Issue description
-This video play in VLC and Mx player .
-But not play in Exo player

-->**Below details of uploaded video:**
Lengh of video: 00:00:09
Frame width: 1920
frame Height: 1920
total Bitrate: 714kbps
f

[2019-01-05 12:28] hubblec4 commented on #5338
Somehow I did not expect any other answer either.
I have no time at the moment to explain why Matroska features so great.
If you are really interested in that topic then let me know.
My chapterEditor creates Medium-Linking-Menus and Multi-MKVs and other cool Matroska things.

[2019-01-05 18:35] kar10s commented on #5326
Thanks you

[2019-01-06 06:47] SystemRestored opened #5341 "[QUESTION] Cast player useragent"
I want to know what is the default useragent for castplayer and is it can be changed to something else by java code? If yes, then how and where we need to change the code in demo application. I can change the ua in exoplayer but I am not familiar with castplayer.

[2019-01-06 08:56] noamtamim commented on #4078
@natez0r is there a way to prove to okhttp that this issue still occurs (and that it's caused by their library and not ExoPlayer)? As a workaround, is it possible to avoid the http/2 "upgrade", so that the connection remains http/1.1 even if the server supports http/2?
It's really easy to reproduce with ExoPlayer 2.9.3, but I can't prove that the issue is in okhttp and not in ExoPlayer's okhttp ex

[2019-01-06 17:36] AquilesCanta commented on #5341
There is no API in CastPlayer to change the user agent, and I haven't a way to do it using the Cast SDK API. Aside, I suppose the user agent depends on the cast device.

This question falls outside the scope of this issue tracker, unfortunately. It might make more sense to try your like in a general Q&A site, like stack overflow (see [this](https://stackoverflow.com/questions/49736313/set-user-age

[2019-01-06 17:36] #5341 closed, assigned to AquilesCanta

[2019-01-06 17:44] #5326 closed, assigned to ojw28

[2019-01-06 20:49] noamtamim commented on #4078
Just to be clear: right now, **it's not safe** to use ExoPlayer with OkHttp if there's a chance you'll end up talking to a http/2 server - at least not without throttling seek() calls.

[2019-01-06 21:00] ojw28 commented on #4078
If it's really easy to reproduce then file another issue on OkHttp with really easy reproduction steps. I don't think there's a plausible explanation for it being anything other than an OkHttp issue.

[2019-01-06 21:01] ojw28 commented on #4078
The internet suggests so:
https://stackoverflow.com/questions/41925501/java-okhttp3-only-use-http-1-1-or-http-2

[2019-01-06 21:05] ojw28 commented on #5334
Were you able to resolve the issue by encoding the character, as suggested above?

[2019-01-07 06:26] noamtamim commented on #4078
As I wrote, it's easy to reproduce using ExoPlayer. But that doesn't prove the bug is not in how ExoPlayer uses okhttp. For example, [they claim that if you're not reading the entire response (the part that was buffered so far)](https://github.com/square/okhttp/issues/3915#issuecomment-392279124) you're doing it wrong.

[2019-01-07 09:34] AndroidDeveloperLB commented on #5276
@ojw28 This didn't work for me. I've even tested on the Canary build of the IDE, and on a sample project that doesn't even use ExoPlayer, and it doesn't even work if the minSdk is 24 . See here:

https://youtrack.jetbrains.com/issue/KT-29138

In my case, I wanted to use this:
[code]

But I still got this error.
Please fix this issue.

[2019-01-07 09:55] andrewlewis commented on #5340
Please could you try to play the video in the demo app, then attach a full bug report captured via `adb bugreport`?

Other players may be bundling their own codecs rather than using the ones in the platform, so may be subject to different limitations. Just because a video plays in another app it doesn't (necessarily) mean it should work in ExoPlayer.

[2019-01-07 09:55] tonihei commented on #5276
I needed to set the Kotlin JVM version in the Android Studio settings to get that to work.
File -> Settings -> Other Settings -> Kotlin Compiler -> Target JVM version. The default in my Android Studio is 1.6. but should be 1.8.

[2019-01-07 10:01] axitasavani commented on #5340
I have already submit the whole bug in question and other videos are playing perfectly in exo player but when I m playing this video its may occur error. so how i can identify video is wrong or exoplayer not supported this video mediacodec.

[2019-01-07 10:07] andrewlewis commented on #5340
If you play the video in the demo app and see logging from EventLogger that includes `supported=NO_EXCEEDS_CAPABILITIES` then the video exceeds the capabilities reported by the codec.

I can't find the full bug report in the original issue report above, but that should be enough information for you to check yourself.

[2019-01-07 10:07] #5340 closed, assigned to andrewlewis

[2019-01-07 10:17] Maneesh528 commented on #4565
I am also trying to integrate HLS and IMAads but I am facing issue

[2019-01-07 10:19] AndroidDeveloperLB commented on #5276
@tonihei Then it's not enabled by default, doesn't tell to change it, and doesn't offer this fix.

Also, after changing it, it didn't help. I tried to re-build the project. Didn't help. Still got the error.
Restarting the IDE also didn't help.

On the sample project, it only seemed to be fine as it doesn't mark the error on the textual editor of the Kotlin file, but on the large one it showed it.

[2019-01-07 10:34] tonihei commented on #5276
Unfortunately, we can't help you debug your app. Given that it works fine in a small example suggests that it works in principle and something else in your larger project is misconfigured. This kind of question is better posted in StackOverflow or similar sites.

We'll update our docs to note how the configuration for Kotlin looks like.

[2019-01-07 10:36] AndroidDeveloperLB commented on #5276
@tonihei It only visually works on the ExoPlayer sample I've made (doesn't mark the line with an error). When trying to build&run, it gave an error. Please check the updated post.

So it doesn't matter if it's on the large project or the sample. On both it didn't work.

Please explain what I should do.

[2019-01-07 10:37] tonihei commented on #5276
Doesn't that say that it works on the sample project?

[2019-01-07 10:39] AndroidDeveloperLB commented on #5276
No. Look at the screenshot. It clearly shows that I can't build&run the project because of it. It just doesn't mark the line.

Only when I remove the call to "super...", it works perfectly fine, both visually and when trying to build&run.

[2019-01-07 10:42] AndroidDeveloperLB commented on #5276
Here, I've made a video for you to understand:

[2019-01-07_12-40-52.zip](https://github.com/google/ExoPlayer/files/2732407/2019-01-07_12-40-52.zip)

Please talk to the Kotlin or Android-Studio guys (or IntelliJ). It's a problem that will exist not just for ExoPlayer...

[2019-01-07 10:46] ojw28 commented on #4078
I think it was concluded in that thread (possibly in the hidden items part) that calling `response.body().close()` should be sufficient.

As above, if it's really easy to reproduce then the correct thing to do is file an issue on OkHttp with really easy reproduction steps. Even if it is an issue with ExoPlayer's usage, they are the best people to explain what we're doing wrong. Trying to prove"som

[2019-01-07 10:49] tonihei commented on #5276
It works perfectly fine for a fresh Kotlin project using ExoPlayer and the listener call as in your example in Android Studio 3.2.1. I'd suggest copying parts of your code to a new project to see at which point it goes wrong.

[2019-01-07 10:59] tonihei commented on #5276
Aside: There is no point in calling super for a default interface implementation because these are not meant to be called anyway and are only there for interface implementations which don't override the methods themselves. As soon as you provide your own implementation for a method, you shouldn't call into the default interface implementation.

[2019-01-07 11:10] adapana commented on #5334
@ojw28  yes its working with character encoding to UTF-8. Thanks for your suggestion.

[2019-01-07 11:38] AndroidDeveloperLB commented on #5276
So the IDE auto-completes the call to "super" for the wrong reason?
When you say "these are not meant to be called", does it mean they can't be called in general, or just on this specific case of ExoPlayer?
In general, is the default implementation (on Kotlin and Java) available only in case you don't override them? It won't run in case you override them?

Also, what exactly works? With, or withou

[2019-01-07 12:07] tonihei commented on #5276
That depends on how you use them. A common interpretation is to use them as a fallback if no other implementation is provided and you therefore shouldn't call them directly from a subclass (that's what we do in ExoPlayer). But of course the language allows to call them and it's unclear how the IDE should implement that correctly.

[2019-01-07 12:13] AndroidDeveloperLB commented on #5276
So the IDE is fine when it suggests it, then, just like in similar cases. In general, the default implementation should be called in some cases, which might not always be clear for people who use the interface.

But why does it show an error ? Can you please share me your sample project? I want to know what causes it, and if your sample project would produce the same issue.

Is it ok on ExoPlayer,

[2019-01-07 12:15] tonihei commented on #5276
Yes, it is. The default implementations are all empty anyway.

[2019-01-07 12:17] AndroidDeveloperLB commented on #5276
Yes I know, but technically they might still not be empty in the future. I mean to ask if it will always be this way.

[2019-01-07 12:19] tonihei commented on #5276
Yes, pretty sure. And even if not, we will never oblige an implementation to call the default super method in an interface.

[2019-01-07 12:24] AndroidDeveloperLB commented on #5276
I see. Can you please send me a sample nevertheless? One that does call "super" and yet builds&runs fine for you?

[2019-01-07 12:34] tonihei commented on #5276
That's my project. More or less the auto-generated example project with ExoPlayer dependency.
[public_exoplayer.zip](https://github.com/google/ExoPlayer/files/2732729/public_exoplayer.zip)

[2019-01-07 12:50] AndroidDeveloperLB commented on #5276
I can see you've added this, which wasn't added automatically by any of the settings screens of the IDE:
[code]

Adding it fixed the issue completely. Please tell whoever's in charge about this.

[2019-01-07 12:56] tonihei commented on #5276
That's the equivalent of the Settings option in gradle. Both worked for me.

[2019-01-07 13:00] AndroidDeveloperLB commented on #5276
I don't know. Nothing on the IDE has added it so far, and I'm using the Canary build of it. I had to add it manually.

Maybe you've created a new project and it added it for you. On the current projects, it doesn't do it. Not even on the sample project that I've sent you, which isn't that old.

[2019-01-07 13:00] Pecana commented on #2092
Yes , please add support for this kind of format :-)

[2019-01-07 13:34] AndroidDeveloperLB commented on #5276
Say, is there a way in Kotlin/Java, to mark an interface easily that all of its functions are set to be "default" with empty implementation?
Currently I think that on Java you have to add "default" for each function and "{}" , and on Kotlin you have to add only "{}". But for both you have to do it for each function.

I've requested something similar in the past, here:

https://youtrack.jetbrains.c

[2019-01-07 14:13] AndroidDeveloperLB opened #5342 "How to use the alternative to set/get of audioStreamType ?"
Currently the getter&setter of "audioStreamType" is deprecated .

It says I should use `getAudioAttributes` , `setAudioAttributes` instead.

But I don't see it is talked about here and over the Internet. How should I use those?

For now, I've tried to just copy the code of the deprecated functions instead, so instead of the getter, I use this:

`    val currentAudioStreamType = Util.getStreamTypeF

[2019-01-07 14:20] andrewlewis commented on #5342
As documented on `setAudioAttributes(AudioAttributes audioAttributes)`, you should use `setAudioAttributes(AudioAttributes, boolean)` instead, passing in whether to handle audio focus as the boolean.

[2019-01-07 14:20] #5342 closed, assigned to andrewlewis

[2019-01-07 14:22] AndroidDeveloperLB commented on #5342
What about the getter?

[2019-01-07 14:25] AndroidDeveloperLB commented on #5342
And why are all of those deprecated anyway? Seems like they work well, easier to understand, and shorter...

[2019-01-07 15:05] jy617lee opened #5343 "after player become STATE_IDLE, player.prepare() causes endless buffering"
I'm using 2.9.1v now.
After player become idle (onPlayerStateChanged of AnalyticsListener is called and playbackState equals STATE_IDLE), I call player.prepare().
But this causes endles buffering.

Is this bug or there's other proper way to re-prepare idle player?

[code]

[2019-01-07 17:17] noamtamim commented on #4078
@ojw28 All that's required to reproduce the issue is:
1. Put PlayerView in an Activity layout
2. Setup SimpleExoPlayer and call playerView.setPlayer(player)
3. Create a MediaSource hosted on an http/2 server
4. Use `OkHttpDataSourceFactory` with the default `OkHttpClient`
5. Prepare and play.

When the player loads, let it start playing. Then tap the fast-forward button quickly 5-10 times. Playbac

[2019-01-07 17:23] ojw28 commented on #4078
Ok. So turn that into a small demo project, and file an issue on OkHttp. The fact it works fine with `HTTP_1_1` is in itself strong evidence that it's an OkHttp issue, because the protocol that's selected is (presumably) supposed to be transparent to the user. Which obviously isn't the case here, because the behavior is different.

[2019-01-07 18:28] Jogan commented on #4078
I believe this issue is already being tracked in the OkHttp repo

https://github.com/square/okhttp/issues/3146

[2019-01-08 01:49] Avijit-Bose opened #5344 "Exoplayer Custom Notification"
Hello Exoplayer Team,

I am using PlayerNotificationManager in exoplayer.

Please let us all know the followings...
1. How to set custom image in Exoplayer Notification with action handler.
2. How to set subtext in Exoplayer Notification.
Will be of great help. Thank you.

[2019-01-08 02:40] ghost0906 opened #5345 "Question about sampleData and sampleMetadata?"
The exoplayer use the sampleData and sampleMetadata to get the demuxed data from extractors. What does the **offset** in **sampleMetadata** really means? As for the video in h264 format, does it means the size of the start code?

[2019-01-08 05:36] DKillWorld commented on #5302
I will check if its working in next release. Inform here once updated.

[2019-01-08 05:38] xiaoyepadzhang commented on #5321
@tonihei Thank you, I use`setAllowChunklessPreparation(true) ` solved the problem

[2019-01-08 05:48] davidaik commented on #5302
Hmm I'll try and test this soon. Just to be clear, would the fix be included in the next release?

[2019-01-08 05:55] axitasavani commented on #5340
**When i will play video in your demo application than its occur error (bug) as below:**
[code]

**what is the meaning of that bug is that any problem in video exporting ??**

[2019-01-08 07:28] ojw28 commented on #5345
It's [fairly well documented in the class reference](https://google.github.io/ExoPlayer/doc/reference/com/google/android/exoplayer2/extractor/TrackOutput.html#sampleMetadata-long-int-int-int-com.google.android.exoplayer2.extractor.TrackOutput.CryptoData-). Is it unclear, or does that answer your question?

[2019-01-08 07:38] #5312 closed, assigned to AquilesCanta

[2019-01-08 08:27] viethoa commented on #5040
@ojw28 might I know the issue is fixed? And that pretty good if you can share your plan on it. Currently, I am playing a 30seconds video and this looks not really good now.

[2019-01-08 08:51] andrewlewis commented on #5340
If you want us to investigate further, please run `adb bugreport` after seeing that error and attach the result.

[2019-01-08 09:01] ghost0906 commented on #5345
### ****

[2019-01-08 09:01] #5345 closed, assigned to ojw28

[2019-01-08 09:01] ghost0906 commented on #5345
thanks

[2019-01-08 09:03] tonihei commented on #5321
Closing as solved.

[2019-01-08 09:03] #5321 closed, assigned to tonihei

[2019-01-08 09:34] ojw28 commented on #5302
It will be included in `2.10.0` (this is probably not the next release; there are likely further `2.9.x` releases prior to that).

[2019-01-08 09:52] Maneesh528 opened #5346 "Unable to play m3u8 Video and Ads"
I am using Exoplayer 2.7.3.

I able to play the m3u8 video with
HlsMediaSource.Factory(dataSourceFactory).createMediaSource("My URL");

How can I play ads with in this? If it is not a good approach please help me with the better approach.

[2019-01-08 10:38] Divya015 opened #5347 "Fatal Exception: java.lang.NullPointerException: Attempt to invoke virtual method 'void com.google.android.exoplayer2.source.ads.AdsMediaSource$ComponentListener.release()' on a null object reference"
Fatal Exception: java.lang.NullPointerException: Attempt to invoke virtual method 'void com.google.android.exoplayer2.source.ads.AdsMediaSource$ComponentListener.release()' on a null object reference

We are using exoplayer 2.7.1 version, observed the below crash at random scenarios. Please look into it.
MediaSource Object creation :
1)Mediasource mediaSource = buildMediaSource(uris, extensions);

[2019-01-08 10:45] andrewlewis commented on #5347
Are you releasing the `AdsMediaSource` yourself? I think that could cause this error, but it sounds strange that the issue would be seen only occasionally. See also the related discussion in #4974.

[2019-01-08 11:33] enigmadevs opened #5348 "Custom cast control doesn't response when connect with Chromecast from another activity"
### Issue description
I've implemented exoplayer cast extension in my app using custom controls for local and cast player. My code is based on PlayerManager from castdemo: https://github.com/google/ExoPlayer/blob/release-v2/demos/cast/src/main/java/com/google/android/exoplayer2/castdemo/PlayerManager.java

My app allows user to connect with chromecast anywhere in the app. If user connect with Chro

[2019-01-08 11:48] ojw28 commented on #5348
This sounds like an issue with your application code. I'm not sure this is something we can help with.

[2019-01-08 13:00] enigmadevs commented on #5348
ok, i understand. I debugged all i could and i saw nothing wrong in my code but maybe i missed something.

I will continue to cast sdk 3 :_(

[2019-01-08 13:05] cho1231 opened #5349 "Playing the encrypted HLS"
Hi,
I am looking for an example of playing the encrypted HLS. (I use AWS)
I succeeded in playing the non-encrytped HLS.
But I don't know where and how to set KEY.
I have been searching an example about it for 2 days but I have failed.
I test with exoplayer:2.8.2 with Android Studio.
Please let me know how to set KEY and where to find an example about it.

Thank you in advance.

[2019-01-08 14:28] jy617lee commented on #5343
additionally,
1. I added player.release() before player.prepare()
2. initialize new player in activity and start()

but neither of them works.. anyone can help?

[2019-01-08 14:55] tonihei commented on #5343
This exact code works fine for me in our demo app.

I assume you want to restart playback after it failed? If so, you may see "constant buffering" because your media can't be played and is constantly failing.

The way I tested this is:
1. Enable airplane mode during playback
2. Wait until the player fails, changes to IDLE and re-prepares
3. Disable airplane mode again.

[2019-01-08 15:06] marcbaechinger commented on #5344
When you construct the PlayerNotificationManager you need to pass an implementation of PlayerNotificationManager.MediaDescriptionAdapter to the constructor. The implementation of the media description adapter provides an implementation of getCurrentContentTitle() and getCurrentContentText(). The strings returned by these methods are internally passed to the NotificationCompat.Builder as contentTit

[2019-01-08 15:09] jy617lee commented on #5343
thank you @tonihei !!

but I don't want to restart playback after it failed.
Player just normally plays the media at first, but after it goes to STATE_IDLE I cannot retrieve player. When I try to retrieve player after once player goes to STATE_IDLE, constant buffering comes even though media was played normally before it goes to STATE_IDLE.

[2019-01-08 15:12] tonihei commented on #5343
The player only changes to STATE_IDLE if playback failed or you explicitly call `player.stop`. One of these two events must have happened.

[2019-01-08 15:34] AquilesCanta commented on #5349
Could you clarify what you mean with how to set KEY? Do you mean the [EXT-X-KEY](https://tools.ietf.org/html/draft-pantos-http-live-streaming-23#section-4.3.2.4) tag? If EXT-X-KEY is correctly set, your stream should just work without any extra work. With the provided information there is nothing I can do to help. If you provide a stream sample and, maybe a bugreport as well (captured after playin

[2019-01-08 15:34] #5349 closed, assigned to AquilesCanta

[2019-01-08 15:38] tonihei commented on #5346
The provided information is not enough for us to help you with this issue.
Please add all the information requested in the [issue template](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE), including example media, reproduction steps, device information and bugreports.

[2019-01-08 15:49] cho1231 commented on #5349
Hi,
Thank you for replying quickly!
The KEY that I call means Encryption Key, Encryption Key MD5 and Encryption Initialization Vector.

I have only the partial source code which was only for DASH
(so I added "return new HlsMediaSource.Factory(mediaDataSourceFactory).createMediaSource(uri);" in buildMediaSource()).

        MediaSource mediaSource = buildMediaSource(uri);
        player.prepare(med

[2019-01-08 15:59] Maneesh528 commented on #5346
Thanks for your response, I am using below code to play m3u8 format url and Ads, can you please have a look and confirm me where I am going wrong

AdsMediaSource adsMediaSource = new AdsMediaSource(
                    buildMediaSource(Uri.parse(getString(R.string.media_url_m3u8))),
                    manifestDataSourceFactory,
                    imaAdsLoader,
                    playerView.getO

[2019-01-08 16:06] Maneesh528 commented on #5346
Thanks for your response, I am using below code to play m3u8 format url and
Ads, can you please have a look and confirm me where I am going wrong

AdsMediaSource adsMediaSource = new AdsMediaSource(
buildMediaSource(Uri.parse(getString(R.string.media_url_m3u8))),
manifestDataSourceFactory,
imaAdsLoader,
playerView.getOverlayFrameLayout(),
null, null
);
player.prepare(adsMediaSource);

But I am fac

[2019-01-08 16:07] Arayldan commented on #5295
We weren't able to reproduce that issue on another device with tunneling support (Amino Amigo 7X).
It seems to be device specific.

[2019-01-08 16:07] #5295 closed, assigned to andrewlewis

[2019-01-08 16:07] tonihei commented on #5346
As you may be able to see from the stack trace, you use a DashMediaSource to play the HLS m3u8 playlist. Please use a HLSMediaSource instead.

[2019-01-08 16:09] Maneesh528 commented on #5346
I have used:

MediaSource videoSource = new
HlsMediaSource.Factory(dataSourceFactory).createMediaSource(Uri.parse(getString(R.string.media_url_m3u8)));

But I not getting how to include ads in to it, Can you please help me
to solve this problem?

On Tue, Jan 8, 2019 at 9:37 PM tonihei <notifications@github.com> wrote:

[2019-01-08 16:36] tonihei commented on #5346
Whatever you did in `buildMediaSource` is not building a HlsMediaSource but a DashMediaSource.

[2019-01-08 16:40] Maneesh528 commented on #5346
What method will help me to play m3u8 and Ads ? It helps me a lot if you share the sample code

[2019-01-08 16:47] Maneesh528 commented on #5346
What method will help me to play m3u8 and Ads ? It helps me a lot if you
share the sample code.

On Tue, Jan 8, 2019 at 10:07 PM tonihei <notifications@github.com> wrote:

[2019-01-08 16:50] catbaxter opened #5350 "ConcatenatingMediaSource using useLazyPreparation lost start offset for MP4 videos"
1. Issue description

ConcatenatingMediaSource using useLazyPreparation losts start offset for MP4 videos

2. Reproduction steps

Take com.google.android.exoplayer2.demo.PlayerActivity.java.
Change the line no. 447

mediaSource =mediaSources.length == 1 ? mediaSources[0] : new ConcatenatingMediaSource(mediaSources);

to

mediaSource = new ConcatenatingMediaSource(true, true,
              new Shuf

[2019-01-08 17:15] tonihei commented on #5346
You already posted the correct code above. Create a new `AdsMediaSource` and provide a `HlsMediaSource` as first argument.

Generally, we don't have the time to debug your app code and it would be great if you can look through the developer guide and read the class docs first to find out what to do.

[2019-01-08 17:28] Maneesh528 commented on #5346
It's working great, Thanks for your help.

[2019-01-08 17:29] tonihei commented on #5350
Thanks for reporting. I can reproduce the issue and we'll take a look soon.

[2019-01-08 17:30] #5346 closed, assigned to tonihei

[2019-01-08 17:55] AquilesCanta commented on #5349
Just follow the HLS spec to provide these. There is nothing you need to do programmatically, just make your manifest HLS compliant.

Note we don't support key or initialization vector provision out of band. That would also be non-recommendable from a interoperability standpoint. If you want to do it out of band, you could try injecting a custom DataSource implementation for chunks. See [HlsDataSou

[2019-01-08 18:27] cho1231 commented on #5349
Thank you for your help.
I'll try it.

In fact, I wanted to see how it works and downloaded ExoPlayer-release-v2.zip.
But it had a gradle problem. (Do I have to edit something?)
I struggled to solve the problem, but I couldn't.
If I solve it, I'll try your advice.

Thank you very much.

[2019-01-08 19:09] sravan1213 opened #5351 "ConcatMediaSource is failing to restore when ClippingMediaSource is used."
### Reproduction steps
1 . Create a ConcatMediaSource with ClippingMediaSource.
2.  Play content using above mediaSource.
3.  Do `player.stop(false)`
4.  Restore above player instance using `player.prepare(mediaSource, false, false)`.
5. Observation media doesn't restore

Probable fix - `listenerNotificationScheduled = false;` in `releaseSourceInternal` of `ConcatenatingMediaSource`

[2019-01-08 21:41] NathanSass opened #5352 "Question: How to perform an analytics task on a poll?"
I am building an audio player service and I am looking to perform a given analytics task at a particular poll. Ex. report listening progress every 1s.

I would like to leverage some sort of Exoplayer component for this such as `AnalyticsListener` in order to do this. However, it does not provide any way to get the current `EventTime` and since it is a listener only, it is not guaranteed to be call

[2019-01-08 22:45] paf-wv commented on #4825
No further feedback closing please reopen if needed.

[2019-01-09 02:04] X-Kent opened #5353 "Question: Use cast extension while downloading the source on the phone"
Hello.
I have a question regarding exoplayer cast extension for HLS. I am currently using exoplyer 2.9.2.

Is it possible to use the extension cast so that the remote HLS is in fact downloaded by the android device running the exoplayer and then sent to the target device ?

In my situation, the target cast device will not be able to download the stream on it's own as I need to tunnel it, that tunn

[2019-01-09 02:40] Avijit-Bose commented on #5344
""When you construct the PlayerNotificationManager you need to pass an implementation of PlayerNotificationManager.MediaDescriptionAdapter to the constructor. The implementation of the media description adapter provides an implementation of getCurrentContentTitle() and getCurrentContentText(). The strings returned by these methods are internally passed to the NotificationCompat.Builder as contentT

[2019-01-09 04:33] Avijit-Bose commented on #5344
Hello,
Now I am able to get the additional image/icon in the notification as shown in the screenshot (Favorite image)
![screenshot_20190109-095235](https://user-images.githubusercontent.com/46467333/50876941-94732480-13f5-11e9-8002-daa77ff85c3a.png)

but not getting the "onCustomAction" called. My code snippet in the PlayerNotificationManager instantiation and customAction call:
------------------

[2019-01-09 06:34] Jethvasagar opened #5354 "Does Exoplayer support the RTMPS URL ? While open the RTMPS link getting RtmpClient$RtmpIOException."
Following RTMPS link I trying to open in ExoPlayer-2.7.3.

`rtmps://hostname.net/.........../Video/64174.mp4`

Gettting following Exception

` E/ExoPlayerImplInternal: Source error.
    net.butterflytv.rtmp_client.RtmpClient$RtmpIOException
        at net.butterflytv.rtmp_client.RtmpClient.open(RtmpClient.java:56)
        at com.google.android.exoplayer2.ext.rtmp.RtmpDataSource.open(RtmpDataSource

[2019-01-09 08:40] NayaneshGupte commented on #2863
@ojw28 any idea when is this planned tentatively ?

[2019-01-09 08:53] manishPatwari commented on #4835
@ojw28 Hello, Any update on this?

[2019-01-09 09:40] marcbaechinger commented on #5353
The cast extension uses the standard Cast SDK for casting to a cast device. With this the content is downloaded by the cast device rather than the Android sender app.

There are not facilities on ExoPlayer library side which would help you much to stream from your device to the cast device.

[2019-01-09 09:57] marcbaechinger commented on #5344
Ah, ok thanks! I wasn't aware of the subtext. But there is currently no way to set the subtext of the notification I'm afraid. I think it would be nice to add this for a later release. It could be used for various things like the current position in the queue or other things. I give it a think what's the best way to provide this.

For the question why your custom action is not called. I'm not sure

[2019-01-09 10:07] marcbaechinger commented on #5301
You need to do the following to make the notification dissmisible:

1. The PlayerNotificationManager must have set the ongoing flag to true
2. When playWhenReady transitions to false you need to call stopForeground(false) on your service.
3. You may want call playerNotificationManager.setStopAction(null) or playerNotificationManager.setStopAction("your-stop-action") to avoid the manager is handlin

[2019-01-09 10:15] tonihei commented on #5352
We don't provide a built-in way to do this, but you can easily create a Handler which calls a method in regular intervals to record the position:
[code]

Besides that, it would to interesting to know why you want to report the position every second?
If have two consecutive events, let's say at time=10 with position=200 and at time=20 with position=210, you already know that you played all the posi

[2019-01-09 11:23] Avijit-Bose commented on #5344
Dear Marc,

Your code snippet has worked for me. Thank you.

""I think it would be nice to add this for a later release. It could be used for various things like the current position in the queue or other things. I give it a think what's the best way to provide this.""

Ans: Definitely yes. I am on the same page with you. If you can make/suggest this change in Exoplayer 2.9.4, then it will be of g

[2019-01-09 11:47] gowthamgts commented on #5301
Thanks for the reply @marcbaechinger. I was able to achieve the play to pause flow, but unable to do the other way around.

Inorder to start the service in foreground again, I may need to pass the notification object isn't it? Constructing a notification object manually defeats the purpose of using a PlayerNotificationManager IMO. @0xcaff proposed a PR for this problem - please verify and let us k

[2019-01-09 13:27] andrewlewis commented on #5354
Looking in the librtmp sources, I think rtmps:// should be supported ([here](https://github.com/ant-media/LibRtmp-Client-for-Android/blob/e23dd39/rtmp-client/src/main/cpp/librtmp/parseurl.c#L63)). The provided error information doesn't really help figure out exactly what is going wrong unfortunately. @ojw28 may have ideas.

If I were you I'd try turning on debug-level logging for librtmp and setti

[2019-01-09 15:45] 0xcaff commented on #5301
Yes, this is exactly the purpose of the PR

[2019-01-09 15:56] tipoc123 commented on #5293
It's working with dev-v2. Thanks.

We are waiting for the next release 2.9.4.

[2019-01-09 16:14] #5344 closed, assigned to marcbaechinger

[2019-01-09 16:27] marcbaechinger commented on #5301
Thanks for the explanation @gowthamgts I see the issue.

We already have the [PlayerNotificationManager.NotificationListener](https://github.com/google/ExoPlayer/blob/b5beb32618ac99adc58b537031a6f7c3dd761b9a/library/ui/src/main/java/com/google/android/exoplayer2/ui/PlayerNotificationManager.java#L186), which passes the notification when it is initially started. Would it be sufficient if we add a m

[2019-01-09 16:49] #5293 closed, assigned to andrewlewis

[2019-01-09 17:37] gowthamgts commented on #5301
Yes, this can be a solution. I could have stored the notification object when the service starts but had no way to have an updated object whenever the information changes. This looks good for me. It would be an added bonus if that function gets called even for play/pause state changes.

On another note, is there a way to customize the UI? I prefer having the following two UI changes in my applicat

[2019-01-09 18:12] marcbaechinger commented on #5301
The added bonus is already given. :) The notification is updated when a relevant player state change happens which changes the appearance of the notification. Like when playing the pause button needs to be included and when paused the play button needs to be included. In this case the notification is already updated and will be passed to the onNotificationUpdated method. onNotificationUpdate is ca

[2019-01-09 19:26] NathanSass commented on #5352
Unfortunately there is no method on the `AnalyticsListener` where i could query the `EventTime`. Having one would solve my problem. In order to implement something similar to the code sample you provided, I would have to provide my `AnalyticsListener` with my player instance. This seems like a circular reference.

We want to report reading progress to the server every 15 seconds in order to keep t

[2019-01-10 04:46] 0xcaff commented on #5301
I think the `NotificationDispatcher` makes the most sense because otherwise `onNotificationStarted` and `onNotificationUpdated` have overlap. The library user can easily implement `onNotificationStarted` just using `onNotificationUpdated` and a boolean. I think your solution is more confusing.

[2019-01-10 04:49] 0xcaff commented on #5301
Here's what my implementation of `NotificationDispatcher` looks like.

[code]

I don't see a place where on `onNotificationStarted` makes sense. Also, this isn't really a notification listener, it handles dispatching (and displaying) notifications with `startForeground` or `NotificationManager` depending on the current state.

[2019-01-10 07:16] Akansha-Yadav opened #5356 "Drop frame in exoplayer if player buffer size becomes greater than 200ms"
I am playing tcp stream on exoplayer to show the desktop screen on player.
My requirement is to drop frame or reduce player buffer if the buffer becomes greater than some given value say 300ms to reduce the latency in showing the desktop screen on player.

I searched in the code ( MediaCodecRenderer )for input buffers but this class is storing the input buffer for decoder. I need the exact player

[2019-01-10 07:51] vinoth56060 commented on #4404
Hi

I tried to play DRM file its not playing its showing some error can you pls suggest me the way of integration.

Version of ExoPlayer being used
'com.google.android.exoplayer:exoplayer:2.7.3'

Player Integration:

DefaultBandwidthMeter bandwidthMeter = new DefaultBandwidthMeter();
                TrackSelection.Factory videoTrackSelectionFactory =
                        new AdaptiveTrackSelect

[2019-01-10 08:01] ghost0906 opened #5357 "How to extend the format of the individual media samples for exoplayer?"
My device supports the sample formats like rv40/cook,  and I built a new instance of extractor to demux the container into raw video data and audio data, but the exoplayer can not play it.
Is there any solutions I can make exoplayer to play it?

[2019-01-10 09:21] tonihei commented on #5352
Wouldn't it be enough to sync for each reported position? You'll get a new event whenever something changes. So it should be enough to listen to `onPlayerStateChanged`, `onPositionDiscontinuity` and `onTimelineChnaged` to get a full picture of all position movements.

If you want to ensure that the last position is reported even if the user leaves the app, you may want add a player.stop call befor

[2019-01-10 09:22] andrewlewis commented on #5357
It sounds like the device has a decoder that can handle these formats, accessible via `MediaCodec`. So at a high level you'll need to pass a factory for your custom `Extractor` when building your `ExtractorMediaSource`, then set the relevant decoder's supported MIME type when outputting a format from your extractor. You can register custom MIME types (see #4264). If this doesn't help please could

[2019-01-10 09:25] andrewlewis commented on #4404
@vinoth56060 Please file a separate, new issue and include all the information requested in the issue template, especially a full bug report. I'll mark this as off-topic as it doesn't seem directly related to this issue.

[2019-01-10 10:19] ghost opened #5358 "DefaultDashChunkSource create negative bufferedDurationUs"
Hello,
In my own ExoPlayer version (with some changes), i was encountered in wired issue.
DefaultDashChunkSource class were:
`long bufferedDurationUs = loadPositionUs - playbackPositionUs;`
the bufferedDurationUs is negative! How it could be? what can be the reason?

Thank you!

[2019-01-10 10:37] tonihei commented on #5358
This shouldn't happen I think. Could you provide some example values for `loadPositionUs `and `playbackPositionUs` and also the `MediaChunk.startTimeUs` and `MediaChunk.endTimeUs` values of the `MediaChunks` in the `queue` parameter? Please also try to describe the exact situation when this happens.

If any of these changes involved DefaultDashChunkSource and related classes we probably can't help

[2019-01-10 10:45] vinoth56060 opened #5359 "DRM Playback Issue (Online)"
Hi

I tried to play DRM file its not playing its showing some error can you pls suggest me the way of integration.

Version of ExoPlayer being used
'com.google.android.exoplayer:exoplayer:2.7.3'

Note: There is no device specific.

Player Integration:

         DefaultBandwidthMeter bandwidthMeter = new DefaultBandwidthMeter();
         TrackSelection.Factory videoTrackSelectionFactory =

[2019-01-10 11:11] andrewlewis commented on #5359
We also need a full bug report to investigate. You can attach the output of `adb bugreport` after reproducing the error, or email it to dev.exoplayer@gmail.com with subject 'Issue #5359'.

[2019-01-10 11:28] ghost commented on #5358
playbackPositionUs = 6123367000
loadPositionUs = 6122945000

I have  only 1 chunk in the queue:
endTimeUs = 6122945000
startTimeUs = 6122445000

[2019-01-10 12:13] loki666 opened #5360 "TimelineQueueNavigator of mediasession doesn't honour the shuffle order"
### Issue description
TimelineQueueNavigator of mediasession ext doesn't honour the shuffle order in publishFloatingQueueWindow

The it iterate over the windowsIndex sequentially, where it should aske the timeline for next windowIndex

### Reproduction steps
Play a queue and check the order of the items in the mediasession queue.
They match the order in which the ConcatenatingMediaSource was creat

[2019-01-10 12:22] vinoth56060 commented on #5359
[bugreport-2019-01-10-17-48-24.txt](https://github.com/google/ExoPlayer/files/2745221/bugreport-2019-01-10-17-48-24.txt)

Attached Bug report kindly check it.

[2019-01-10 12:48] qsdigor commented on #5265
Found issue.
When creating activity I was setting it fullscreen and exoplayer view did not load correctly sometime, maybe issue is with calculating width and height.
Calling "setFullscreen" before setContentView fixed stretching.

[2019-01-10 13:22] DionataFerraz opened #5361 "Start the video buffer only after the user has played in the video?"
Good Morning
Do have any option to start the video buffer only after the user has played in the video?

[2019-01-10 13:35] ebr11 commented on #4690
Hi.  We're experiencing a problem we believe is related to this change.  On an Android TV device (Sony xbr55x850d) with Exoplayer 2.9.1 the max audio channels is reported correctly as 2.

But, with 2.9.3 that same TV is reporting a max audio channels of 8 (incorrect).

It appears the commit referenced above assumes a default of 8 channels.

[2019-01-10 13:38] andrewlewis commented on #4690
@ebr11 Is this for PCM output or encoded audio output (passthrough)? The commit assumes that the platform should be able to downmix to stereo as needed.

[2019-01-10 13:45] andrewlewis commented on #4690
Could you also give some more details about what error you're seeing (preferably with a full bug report)? Thanks.

[2019-01-10 14:11] vinodkputta commented on #5351
@ojw28 Could you please check this issue?

[2019-01-10 14:27] tonihei commented on #5361
The player always needs to buffer data to play the video. You can customize the size of the buffer in `DefaultLoadControl` if you like.

[2019-01-10 14:52] ghost commented on #5358
You can see this values that i print at the first line of DefaultDashChunkSource.getNectChunk() method.
![image](https://user-images.githubusercontent.com/46018420/50976204-121f5900-14f8-11e9-91a8-367f21e97b63.png)

[2019-01-10 15:34] ebr11 commented on #4690
Hi.  It is with DD pass thru.

There isn't actually an error being generated by Exo here.  Rather, our app is querying for channel capability and where previously the platform returned 2 it now returns 8.  This is causing our app to make a wrong decision.

[2019-01-10 15:37] tushar09 opened #5362 "Play encrypted hls in exoplayer using encrypted keys Ask"
Hi there,

This is not an issue. Its a question about playing the aes-128 hls. I stored my video and playlist in aws and got 3 keys **(Encryption Key, Encryption Key MD5, Encryption Initialization Vector)** from there. But I can not understand how to use these keys in exoplayer. I could not make use of `Aes128DataSource` and `DrmSessionManager`. The code I am using can play non encrypted hls smoot

[2019-01-10 15:45] andrewlewis commented on #4690
What's the max channel count in the ACTION_HDMI_AUDIO_PLUG Intent?

[2019-01-10 16:01] ebr11 commented on #4690
Unfortunately, I don't have the device so can't be sure.  I'm working with the user to try and investigate.  He did have a soundbar connected to the TV but NOT powered on.  I'm asking him to disconnect that to see if that changes the behavior.  Thanks.

[2019-01-10 16:47] tonihei commented on #5358
Can you explain what changes you made to ExoPlayer? It would really be helpful if you can try and see if the same happens in our demo app.

[2019-01-10 17:22] ebr11 commented on #4690
Okay, I cannot confirm that exact value at this time but I can confirm that on this same system Exo 2.9.1 returned 2 from AudioCapabilities.getMaxChannelCount() and with 2.9.3 the same method on the same system is returning 8.

This system is reporting no support for any advanced audio - no DD no DTS so I believe the 2 number was correct and 8 seems to be erroneous...

[2019-01-10 17:33] morkovkin commented on #5307
yes it is a good implementation! but I'm interested in the data source in this place.
[code]

how i can change Aes128DataSource to for example MyAesImplementation? By analogy with AesCipherDataSource. But i don't have cryper like in AesCipher DataSource because i use custom creeper inside vmx library. Is it possible make some like Aes128DataSource and put in HlsChunkSource ? thanks!

[2019-01-10 17:42] andrewlewis commented on #4690
It sounds like you are trying to determine the DD passthrough max channel count but are using the max channel count from the default (PCM) capabilities. For passthrough mode, I think your app needs to be checking for `AudioCapabilities` with `ENCODING_AC3`, and looking at the max channel count when that encoding is present.

I think returning '2 channel PCM' as the maximum default supported audio

[2019-01-10 17:46] #5190 closed, assigned to marcbaechinger

[2019-01-10 17:55] marcbaechinger commented on #5048
Sorry for my late response. This looks about right. You need to:

1. Create a PlayerNotificationManager.CustomActionReceiver and pass it to the constructor of the manager.
2. CustomActionReceiver.createCustomActions(): needs to return all the actions you want to use. This looks fine with your code.
3. CustomActionReceiver.getCustomActions(Player) returns a list with the name of the actions for whi

[2019-01-10 17:56] HighA commented on #5190
Sorry I didn't see your answer thanks a lot for helping I'll try this out

Edit : for the record and whoever this might help the problem wasn't coming from notificationPlayerUpdate or the BitmapCallback, but Glide which acts strangely with asBitmap, I don't really understand why but I just did it a simplier way using : (BitmapDrawable)imageView.getDrawable()).getBitmap();
since the image I need to

[2019-01-10 18:34] ojw28 commented on #5307
Does what you're doing conform to the HLS specification? If not, I don't think the question falls within the scope of this issue tracker.

[2019-01-10 18:55] rs146 opened #5363 "Activity lifecycle onStop() delayed when Player goes into onPause() lifecycle"
Hello,

I have a question regarding ExoPlayer's integration with the Activity lifecycle. When I press the back button on the Player (while it's playing), the PlayerActivity calls the `onPause()`, then `onStop()` and finally `onDestroy()` as expected.
However, when I cause the PlayerActivity to go into the paused state (such as initiate a Voice search) and then allow it to go into the resumed state

[2019-01-10 18:58] ojw28 commented on #5363
I don't think this has anything to do with ExoPlayer. We don't have any control over when activity lifecycle methods are called. I think you'd be best off asking on StackOverflow, or on the Android issue tracker.

[2019-01-10 18:58] #5363 closed, assigned to ojw28

[2019-01-10 19:00] rs146 commented on #5363
Sure - thanks. I thought so - but I thought it might be worth asking anyway.

[2019-01-10 19:02] ebr11 commented on #4690
We aren't trying to determine pass-thru capability based on this but were using the default channel count as an overall "gauge" of the channel output capabilities of the device/system.

If the system only reported support for stereo, then we did internal mix-down of any multi-channel formats as an efficiency move.

We'll have to adjust to look at specific codec channel counts as you indicated.

Th

[2019-01-10 21:50] kaiv2000 opened #5364 "Cannot open flv rtmp streams"
Exoplayer cannot open some rtmp streams:
for example: rtmp://online.sokal.lviv.ua/rtplive/cam27-1-1.stream

[code]

[2019-01-10 22:12] marcbaechinger commented on #5360
Thanks for reporting!

Yes , that's not working as it should. We look into this. The order of the queue published to the media session must be the same as the internal shuffle order of the concatenating media source with which the player has been prepared.

[2019-01-10 22:21] fougere-mike commented on #5128
I suspect you may need to use a wildcard address. Try: `udp://0.0.0.0:4300`

[2019-01-10 22:42] fougere-mike opened #5365 "UDP Startup Delay"
### Issue description
Initial playback of UDP video seems to buffer excessively.

I have a server transmitting an h.264 stream via UDP to my client. When playback begins, I see the first frame of the video almost immediately. However, the player continues to buffer for 2-3 seconds after this point.

This buffering time is not affect by switching between WiFi / ethernet. My guess is that ExoPlayer

[2019-01-10 23:04] marcbaechinger commented on #5301
Many thanks @0xcaff for your inputs! You pointed out several things we need to fix/improve. We will work on this. Really appreciated.

Beside the foreground service topic, we have a couple of other issues and enhancements around the PlayerNotificationManager which we look into. I update this issue to let you both know when we have these changes on the dev-2 branch to get your feedback.

Regarding

[2019-01-10 23:44] ojw28 commented on #5320
Fixed in `dev-v2`

[2019-01-10 23:44] #5320 closed, assigned to AquilesCanta

[2019-01-11 05:04] HiteshDevganiya opened #5366 "Player Crash in 2.9.1"
I have used version 2.9.0. Its working fine without having issue. After updated to 2.9.1 getting below crash with player.

Android OS : 9.0.0
Exo player version : 2.9.1

`FATAL EXCEPTION: ExoPlayerHandlerThread
    Process: xxx.xxx.dev, PID: 16508
    java.lang.NoSuchFieldError: No field periodIndex of type I in class Lcom/google/android/exoplayer2/source/MediaSource$MediaPeriodId; or its supercla

[2019-01-11 06:06] Divya015 commented on #5347
I observed the crash in one scenario.
Scenario : We have player recommendations while playing any video, if i rigorously keep clicking on playable recommendation items observed the crash.

For each playable item click we release the player, create mediasource of new item and play.(releasing adsLoader before creating admediasource)

It is same as discussion #4974 due to prepareInternal -> resetInte

[2019-01-11 06:50] ghost commented on #5358
Solved! The bug was in server side (Video encoder). Thank you.

[2019-01-11 07:31] pals-ric opened #5367 "Exoplayer version update issue."
Hi All,
i am trying to update my exoplayer version from 2.7.3 to 2.9.3.
i changed as below
 compileOptions {
        sourceCompatibility JavaVersion.VERSION_1_8
        targetCompatibility JavaVersion.VERSION_1_8
        incremental false
    }

i am getting run time errors
so many errors like this all over d activities ....
Error:(829, 28) The method compareTo(Object) of type new JsonRequest(){}

[2019-01-11 07:54] Maneesh528 commented on #5346
This Code works great to play HLS Video and Ads

MediaSource mediaSourceWithAds =
                    new AdsMediaSource(
                            new HlsMediaSource.Factory(dataSourceFactory).createMediaSource(Uri.parse(getString(R.string.yupp_video))),
                            manifestDataSourceFactory,
                            imaAdsLoader,
                            playerView.getOve

[2019-01-11 08:16] morkovkin commented on #5307
Yes what o wanna do conform to the HLS specification. Problem in aes key. I don't have key. Vmx library send request to server and take him after this i can use decrypt method. This method look like this
[code]

I try write data source like Aes128DataSource to use this method. But after parsing I get an instance of a class which I cannot modify. I wanna write datasource like this

[code]
How i can

[2019-01-11 09:04] andrewlewis commented on #5367
It sounds like you are getting some compilation errors in your app but they look unrelated to ExoPlayer, and I don't understand the last part of your comment. Please ask on a general questions site like Stack Overflow.

[2019-01-11 09:04] #5367 closed, assigned to andrewlewis

[2019-01-11 09:27] andrewlewis commented on #5366
See d51b98dd1f6290504b4be9d86d71e70ebe217513. Looks like you need to update `ExoLoggingUtil` to take into account that API change.

[2019-01-11 09:27] #5366 closed, assigned to andrewlewis

[2019-01-11 09:32] andrewlewis commented on #5365
Please have a look at [`DefaultLoadControl`](https://github.com/google/ExoPlayer/blob/r2.9.3/library/core/src/main/java/com/google/android/exoplayer2/DefaultLoadControl.java) especially `DefaultLoadControl.Builder.setBufferDurationsMs` where you can set the duration of media that needs to be buffered before the player transitions from the buffering state to the ready state.

[2019-01-11 09:32] #5365 closed, assigned to andrewlewis

[2019-01-11 10:24] #5232 closed, assigned to marcbaechinger

[2019-01-11 10:31] #5358 closed, assigned to tonihei

[2019-01-11 11:33] MuVen opened #5368 "can we get update of current subtitle cue if captions are embeded in the mp4 ?"
can we get update of current subtitle cue if captions are embeded in the mp4 ?

If video has inbulit subtitles can we get the update of current subtitle cue ?

[2019-01-11 12:21] sswierczek opened #5369 "How to use IMA extension with Leanback extension?"
### Issue description
I am trying to use ExoPlayer with  **Leanback extension** and **IMA extension** to play ads on Android TV. When I just use `AdsMediaSource` I have issues with player controls.

How can I properly use these two or is it not supported yet?

### Reproduction steps
Controls auto hide is broken after ads
- Prepare video with `AdsMediaSource` and any content source
- Wait till ads

[2019-01-11 17:26] raunakyadav opened #5370 "Video frames are stuck for few seconds [only on versions >= 2.8.3]"
### Issue description
The video frames seem stuck for 1-2 seconds if the player is detached and attached within the same activity.

### Reproduction steps
 We have a use case where the app feed contains videos. If tapped it opens in a separate fragment but the playerView is simply detached and added to the new fragment in order to have a seamless video experience for the user.
When the player is a

[2019-01-11 17:55] ojw28 commented on #5368
It depends what track type is used for the captions. It should "just work" if it's one of the embedded track types we support, which I think are `tx3g`, `wvtt`, `stpp` and `c608`. I'd suggest trying to play the content in our demo app. If you can enable the caption there then you should see that it works fine. If the option to enable the caption isn't there then it's likely the embedded track is n

[2019-01-11 18:01] fougere-mike commented on #5365
Perfect, thanks :+1:

[2019-01-11 19:05] andrewlewis commented on #5370
I don't think we've received the bug report yet. Please send it with subject line "Issue #5370".

Based on the observed behavior, it sounds like the problematic devices are not able to use `DummySurface`, which means that we get a fresh decoder on reattaching the view  and need to decode forward from the previous keyframe, which introduces a delay. Quite a few devices were excluded in 2.8.3, but s

[2019-01-11 20:02] rnekicOD commented on #4519
I believe I'm also seeing this issue on multiple Galaxy S3's (SCH-I535 with 4.4.2).   STATE_ENDED does not occur, the playhead position resets to the beginning of the file. Oddly, I don't hear any audio at that point, although the playhead is still progressing.   I can confirm this started with ExoPlayer v2.8.0 and is still present in v2.9.3

If I setRepeatMode to Player.REPEAT_MODE_ONE or ALL, th

[2019-01-11 21:34] rnekicOD commented on #4519
Actually, our two Galaxy S3s are different models:

SCH-I535
d2vzw
Android 4.4.2  Build KOT49H.I535VRUDNE1
I/OMXCodec: Attempting to allocate OMX node 'OMX.SEC.mp3.dec'

SPH-L710
d2spr
Android 4.4.2  Build KOT49H.L710VPUDOH1
I/OMXCodec: Attempting to allocate OMX node 'OMX.SEC.mp3.dec'

[2019-01-11 22:14] ojw28 commented on #4519
Please can you provide the media file that you're seeing this with? This is unlikely to be device specific (although the repeating part might be).

[2019-01-11 22:20] PaulWoitaschek commented on #3670
I'm getting more and more bug reports with files like this. Could this be pushed in priority?

[2019-01-11 22:28] rnekicOD commented on #4519
Unfortunately, I cannot provide example files.  I'm working with large, copyrighted audiobook files. You are correct, I see the same differences in duration between v2.7.3 and v2.9.3 on a Pixel 2 where there are no playback problems.   I just checked multiple files and the two ExoPlayer versions consistently report different durations for the same files.  It doesn't seem to be file specific.

[2019-01-12 05:43] raunakyadav commented on #5370
Thanks @andrewlewis. I have mailed the bug report. Please check now. Lenovo Vibe Android 6 too has the same issue.
I will check the code you mentioned and update here.

[2019-01-12 16:34] gowthamgts commented on #5301
@marcbaechinger: When can we expect these changes to land? Do you have any ballpark estimate?

[2019-01-12 17:05] pollux- opened #5371 "Another SimpleCache instance uses the folder: Exception"
Hi
I'm using ViewPager to load Music. So In Max, I'll have three ExoPlayer initialized, which is working perfectly fine If I won't make use of the cache.

So decided to do this.

[code]
Attaching cached data source to the player like this
[code]
So endup in exception **Another SimpleCache instance uses the folder**. So I decided to make the cache singleton, that also didn't help me.

How Can I sol

[2019-01-12 22:10] ojw28 commented on #5371
The log message means what it says. If you're still seeing it, you're almost certainly still instantiating multiple instances.

[2019-01-12 22:15] ojw28 commented on #5364
The stream works fine for me using `2.9.3`. Closing based on this, and because you haven't filled in the issue template with the information we'd need to investigate further.

[2019-01-12 22:15] #5364 closed, assigned to ojw28

[2019-01-12 22:19] ojw28 commented on #5354
Probably a duplicate of #4200.

[2019-01-12 22:19] #5354 closed, assigned to andrewlewis

[2019-01-12 22:36] ojw28 commented on #3670
Maybe we should put a workaround in where we just drop video tracks that consist of a single sample, where that sample is also the last sample in the stream. @tonihei - WDYT?

[2019-01-12 22:44] ojw28 commented on #4519
I suspect the duration differences are the result of an intentional change (not sure which one, but @andrewlewis might). For the playing-twice issue, I guess we need to add SCH-I535 and SPH-L710 to the blacklist.

[2019-01-12 23:18] ojw28 commented on #4825
Thanks for confirming. Re-opening to track checking key status on API level 23 and above.

[2019-01-13 00:20] ojw28 commented on #5307
I don't really see how this does conform to the HLS specification. If you need to replace `Aes128DataSource` your best option currently is probably to use ExoPlayer as source code, so that you can edit it directly.

[2019-01-13 00:33] ojw28 commented on #5123
Closing on the assumption that the post above answered this query. Either way, given you're seeing a 403 response code, this is likely a server/license configuration issue, rather than a problem with ExoPlayer.

[2019-01-13 00:33] #5123 closed, assigned to erdemguven

[2019-01-13 00:36] #5249 closed, assigned to ojw28

[2019-01-13 04:01] Avijit-Bose opened #5372 "Exoplayer Default Player Icon Change"
Is it possible to change the default exoplayer media player icons like PLAY, PAUSE etc in NOTIFICATION. If yes, could you pls. let us all know how to achieve that.

[2019-01-13 04:44] jy617lee commented on #5343
thank you @tonihei
It was memory leak problem that makes player call STATE_IDLE!

[2019-01-13 06:45] pollux- commented on #5371
My Bad, I had made the **SimpleCache** singleton, now working !!

[code]

[2019-01-13 06:45] #5371 closed, assigned to ojw28

[2019-01-13 10:30] #5343 closed, assigned to tonihei

[2019-01-14 06:40] jy617lee opened #5373 "with HLS, onVideoInputFormatChanged is called automatically and initializes format"
I'm using exoplayer 2.9.1v, and trying to change bitrate, width, height of player.
Like demo app, I'm trying to set these parameters using `DefaultTrackSelector`.
But when to start player, `onVideoInputFormatChanged` is called and this initializes format (width, height, etc).

below is my code which set format parameters via DefaultTrackSelector.
[code]

[2019-01-14 08:17] #5298 closed, assigned to andrewlewis

[2019-01-14 08:18] #5357 closed, assigned to andrewlewis

[2019-01-14 08:19] raunakyadav commented on #5370
Moto E4 Plus ((Util.DEVICE = nicklaus_f) is present in the excluded devices list and so MediaCodecVideoRenderer.codecNeedsSetOutputSurfaceWorkaround returns true for it. Hence, the issue.
I removed it from the list and found the player switch flow working seamlessly as before. But will this mean that the other issues mentioned above this method will come back. (Although we never saw those issues i

[2019-01-14 08:25] aaironman opened #5374 "How I linstening the video is almost finished"
I don't know how linstening the video is almost finished.I want to know video is about to be played before it's finished a few seconds and Prompt the user.I don't find the listener,so I create TimerTask to calculate the position of the playing video.In the version of 2.0.0,it is no promblem,but I update the version to 2.9.2,the log shows "Player is accessed on the wrong thread. See https://google.

[2019-01-14 08:28] andrewlewis commented on #5370
@raunakyadav Thanks for the update. There is the option of overriding the method in your app to remove it from the workaround and seeing if any other issues get reported.

It may not be viable for your use case, but another option may be to rearrange the app's layout so that the player view is on top of other elements then transform it as needed to create the same effect as if it was nested in the

[2019-01-14 08:28] #5370 closed, assigned to andrewlewis

[2019-01-14 08:47] shgrg1712 commented on #5362
Hello Tushar,
                     I have same requirement. I have AES encrypted video content. I want to pass the content to exoplayer with decryption key.

Is exoplayer able to decrypt the data and play it?

DId you find any solution for this problem.

[2019-01-14 09:10] shgrg1712 opened #5375 "Play encrypted content using Exoplayer - AES encryption"
Hello Team,
                  Greetings :)

I have one question in which I need to know if we can play encrypted content using exoplayer and encryption key.

Here the major concern is to pass the encrypted data to exoplayer and also encryotion key. Exoplayer play the content directly. It should do decryption internally.

I have seen one link which has similar concern, but no reply yet so I am star

[2019-01-14 09:22] tonihei commented on #5374
As the linked warning already says, you are accessing the player on the wrong thread. I guess the Handler is running not on the same thread that was used to create the player.

As as alternative solution, you can also consider sending a message at the intended position:
[code]

[2019-01-14 09:24] andrewlewis commented on #5372
You can override the icons used by `PlayerNotificationManager` by redefining the resources in your app's resources. They notification icons are defined in the UI module [here](https://github.com/google/ExoPlayer/blob/afd11de/library/ui/src/main/res/values/drawables.xml#L9), so (for example) you could add a drawables.xml in your app that overrides one of these like:

[code]

[2019-01-14 09:24] #5372 closed, assigned to andrewlewis

[2019-01-14 09:24] tonihei commented on #5373
What you describe sounds as if everything is working as intended. Can you please elaborate a bit more what your actual problem is?

[2019-01-14 09:35] andrewlewis commented on #4519
Regarding the duration change, there was a fix for constant bitrate MP3s in 975ed6c2772cadf8238f5cf5967f1a7cc92813f4. This should make audio frame timestamps consistent when playing from the start vs with seeking and the duration calculation.

[2019-01-14 09:41] jy617lee commented on #5373
Thank you for reply, @tonihei .

For example, I set videosize with `setMaxVideoSize(360, 180)` and call player.prepare.

But when player starts, `onVideoInputFormatChanged(Format format)` is called and `format.width` is 1280 and `format.height` is 720 which is diffrent from what I set with setMaxVideoSize()

[2019-01-14 09:45] tonihei commented on #5373
Can you provide more details of your stream (either share it, or attach an `EventLogger` and paste the outputs here)? Might be that you don't have a format which is below this max video size or that the HLS formats don't contain the video size.

[2019-01-14 10:01] LittleSunZ opened #5376 "m3u8 does not play"
This m3u8 does not play, how to do?
http://open.ls.qingting.fm/live/386/24k.m3u8?deviceid=867451023307124
![default](https://user-images.githubusercontent.com/20589218/51106320-6000cd80-1826-11e9-9668-73c43d6fe930.png)

[2019-01-14 10:07] tonihei commented on #3670
@PaulWoitaschek Have you tried the workaround I proposed above? That is, fork `ExtractorMediaSource` and `ExtractorMediaPeriod`, replace the code I posted above, and then disable the video renderer? That should work for your case until we provide a proper fix.

@ojw28 I'd rather implement the proposed solution [internal ref: b/71624068] if we have the time instead of putting a workaround in code w

[2019-01-14 10:14] ojw28 commented on #3670
Agreed the proposed solution is what we should aim for long term, but we haven't found time to do that in the past 8 months. So the question is whether we can do something reasonable in a couple of hours to mitigate the issue until we get round to it.

[2019-01-14 10:17] noamtamim opened #5377 "[Q] Determine HARDWARE support of VP9 and HEVC before playback"
Is there a reliable* way to determine if HEVC and VP9 are supported **in hardware** in a given device? We need to know it **before playback starts**, because a given asset is available in H264, HEVC and VP9 -- but not in the same DASH/HLD stream. We want to select the best stream for the device, and avoid playing HEVC in software because it kills the CPU/battery.

(*) Reading #4757 and #4833, I un

[2019-01-14 11:33] andrewlewis commented on #5362
If the media segments are fully encrypted using AES-128 I think the manifest should be signaling that segments are encrypted using `#EXT-X-KEY:METHOD=AES-128` along with URI/IV attributes for the key, and ExoPlayer will take care of instantiating an `Aes128DataSource` for you. See the HLS RFC for more details on the syntax. This is not the same as DRM so I don't think `DrmSessionManager` is releva

[2019-01-14 11:44] icetronics opened #5378 "SmoothStreaming TTML fMP4 crashes player"
### Issue description
After enabling the subtitle track during encrypted playback, the player crashes.
**Setup**: SmoothStreaming with PlayReady DRM, TTML in fMP4 (not encrypted)
**Comparison**: DRM-free SmoothStr with same subtitle setup plays flawlessly.

### Link to test content
Manifest URL sent via email.
Might not be possible to play as the DRM license request requires a special header which

[2019-01-14 11:52] shgrg1712 commented on #5362
Hello Andrew,
                      I have checked this link for ecrypted media content play on exoplayer
https://github.com/moagrius/EncryptedExoPlayerDemo

It has logic to download normal mp4 file from web and then encrypt it.

Later we use same file to decrypt and play on exoplayer

But in this case, we are downloading whole content first then sending it to decrypt. But I want to decypt the con

[2019-01-14 12:01] andrewlewis commented on #5362
@shgrg1712 If you're dealing with an MP4 rather than an HLS stream then it sounds unrelated to this issue. You may find some existing issues like #4201 and #5193 helpful, but if not please file a new issue.

[2019-01-14 12:08] loki666 commented on #5360
If you hint me on this one, I can have a look and PR

[2019-01-14 12:17] andrewlewis commented on #5369
I wasn't able to get the example working as adding the IMA dependency caused errors with `LoaderManager` probably due to dejetification not working properly. Please let me know if you encountered the same problem and were able to fix it.

We probably need to update `LeanbackPlayerAdapter` to handle disabling/reenabling controls depending on whether the player is showing ads. I am a bit confused ab

[2019-01-14 12:28] shgrg1712 commented on #5362
Hello Andrew
                     I have seen #4201 and #5193 . These are helpful.But still I could not understand the whole logic. I was trying to do these things locally so I was using mp4 just to test the logic of exoplayer with encryption. But at the end, I need HLS stream only in my app.

Requirement is as follow
1. I have one HLS stream which is streaming 200 MB data.
2. I donot want to stor

[2019-01-14 13:01] ojw28 commented on #5378
This is related to confusion around how subtitles are handled in DRM protected SmoothStreaming. An attempt was made to assume they're always unprotected in https://github.com/google/ExoPlayer/issues/4838 (which is the case in the sample provided). But it looks like the solution for doing so wasn't quite complete. It's easy to fix; we'll use this issue for tracking.

[2019-01-14 13:03] sswierczek commented on #5369
I've manage to build without problems. Maybe I will add ima extension on top commit without Android X?

Without IMA extension player controls disappear after a few seconds from video start or after showing them with pressing any key. When ads are enabled they are visible forever unless user pause and play video again. Setting `setControlsOverlayAutoHideEnabled` doesn't help. Looks like controls st

[2019-01-14 13:24] tonihei commented on #5351
Thanks for reporting. We'll provide a fix soon.

[2019-01-14 15:24] andrewlewis commented on #5369
Strangely the compilation error seemed to be linked to moving the `import static` line above the rest of the imports in `PlaybackFragment` (part of AS optimizing imports). It works after moving it back.

Is this definitely true? After the playback controls hide themselves at the beginning of playback, I find that pressing a button causes them to show until playback ends, both with and without IMA.

[2019-01-14 15:49] sswierczek commented on #5369
Yes, you are right. I was wrong about the pressing buttons, sorry. Seems calling `showControlsOverlay` does the same as pressing buton and controls don't hide after timeout

Anyway i think issue with controls still persists. For me desired behaviour here should be:
- controls are hidden during ads playback and blocked
- controls are showed after ads and hide after timeout when there is no user int

[2019-01-14 16:47] kvillnv commented on #5260
Hello,
I just got back on this task today.
It was indeed a manifest issue: the solution was to set the packager to not set a endtime to my Live manifest. Thank you for the hint @ojw28
With my API this implies to use a different Uri than the one used for the On-demand. Initially I thought that using different Uris would not allow the downloader to recognize the cached content. But it actually works

[2019-01-14 16:47] #5260 closed, assigned to erdemguven

[2019-01-14 17:56] melakhvision opened #5379 "Can't play some m3u8 (hls) links"
Please Help guys !

### Issue description
I set up exoplayer to play source from url : the url come frome php code
Player doesn't play only buffering.

### Reproduction steps
HERE IS MY : ActivityStreamPlayer.java settings

package com.app.betabaobabvision.activities;

import android.content.DialogInterface;
import android.net.Uri;
import android.os.Bundle;
import android.os.Handler;
import androi

[2019-01-14 19:32] atifamin59 opened #5380 "Unable to play sound (Codec: A52 Audio) just video is playing"
Before filing an issue:
-----------------------
- Search existing issues, including issues that are closed.
- Consult our FAQs, supported devices and supported formats pages. These can be
  found at https://google.github.io/ExoPlayer/.
- Rule out issues in your own code. A good way to do this is to try and
  reproduce the issue in the ExoPlayer demo app.
- This issue tracker is intended for bugs,

[2019-01-14 21:45] HighA commented on #5301
I'm interested in this update too

[2019-01-14 21:55] cody-ted commented on #4273
@erdemguven wondering if you have this in the schedule? Our biggest current user complaint is the slow downloading speed of TED Talks (I work on the TED Android app). The performance isn't the network, but the overhead in handling all the HLS file segments. We might consider building ourselves, but would be a bit tricky - would love an update if you have one. Thanks!

[2019-01-14 23:59] ojw28 commented on #5378
Fixed in `dev-v2`. Please verify if you have a chance.

[2019-01-14 23:59] #5378 closed, assigned to ojw28

[2019-01-15 00:37] #5361 closed, assigned to tonihei

[2019-01-15 00:37] DionataFerraz commented on #5361
Thanks

[2019-01-15 01:43] Avijit-Bose commented on #5372
Thank you. A belated Merry Christmas and a very happy new year.

[2019-01-15 02:06] whyvas commented on #5128
I tried that address and I got the same result unfortunately. It's very weird, I can't seem to find any UDP examples on the internet.

[2019-01-15 02:10] whyvas commented on #5330
I can't help with your original question but I was wondering if you could tell me how you did UDP over multicast? I can't seem to figure it out. What uri do you use? How do you construct the player?

Cheers!

[2019-01-15 03:33] cylof22 opened #5381 "The PlayerView is always black after resetting the MediaSource of the attached SimpleExoPlayer"
After resetting the SimpleExoPlayer's MediaSource, the audio stream is ok, but the video stream is not visible in the PlayerView. I try the PlayerView.invalidate() to redraw the view, but it fails, and the PlayerView is always black.

[2019-01-15 03:53] cylof22 commented on #5381
The PlayerView.setKeepContentOnPlayerReset option is not for this problem.

[2019-01-15 04:03] GluTbl opened #5382 "com.google.android.exoplayer2.mediacodec.MediaCodecRenderer.drainOutputBuffer(MediaCodecRenderer.java:1287)"
Hello sometime my player streaming dash manifest face some problem.
i dont know why this issue is there.
sometime it works...sometime it dont work...

[code]

[2019-01-15 06:09] okycelt commented on #5330
@whyvas You can use `UdpDataSource.Factory` together with `ExtractorsMediaSource.Factory`. To `createMediaSource` method pass `Uri.parse("udp://@239.0.0.1:1234")`.

[2019-01-15 07:37] v1sd3v opened #5383 "Audio live stream clients falling behind when paused from notification controls and played again?"
I have an app that streams live audio from a URI. Lately, I've noticed that when a user pauses the audio from Android **notification controls** and they play again after a while, the stream is behind but what I need is for the stream to be always caught up. Inside the application, it's easier to fix because I just use `seekTo(0)`  whenever the play function is called and it works fine.

[2019-01-15 09:29] PaulWoitaschek commented on #3670
I received a mail where you asked me to send you the file again.
You automatically replied

Did you receive the link I sent you?

[2019-01-15 09:34] tonihei commented on #3670
Yes, we received the email. The automatic reply is trigger when the email subject isn't in the "Issue #1234" format. It's just "#3670" in your case. Sorry for the confusion!

[2019-01-15 09:44] shgrg1712 commented on #5362
Hello Andrew,
                      Below is piece of code I have written to play encrypted content using Exoplayer.

 SecureRandom secureRandom = new SecureRandom();
    byte[] key = new byte[16];
    byte[] iv = new byte[16];
    secureRandom.nextBytes(key);
    secureRandom.nextBytes(iv);
    mSecretKeySpec = new SecretKeySpec(key, AES_ALGORITHM);
    mIvParameterSpec = new IvParameterSpec(iv);

[2019-01-15 09:48] ojw28 commented on #5330
Please can we keep this on topic. Thanks.

[2019-01-15 09:50] andrewlewis commented on #5362
@shgrg1712 This issue is about signaling AES-128 encryption with HLS. You're asking about something different so I'm going to mark these posts as off-topic. Please could you post your replies to #5375 or a separate new issue if they are different from that one?

[2019-01-15 10:27] LoyalAbbas commented on #5059
Hi Oliver,
I am trying to play m3u8 videos in exoplayer but it also fetching same resolution file in each case.
this is my m3u8 file
#EXTM3U
#EXT-X-STREAM-INF:PROGRAM-ID=1,BANDWIDTH=452000,RESOLUTION=400x224,CODECS="avc1.42001e,mp4a.40.2"
output/hls/HLS400rendition-1547544971562.m3u8
#EXT-X-STREAM-INF:PROGRAM-ID=1,BANDWIDTH=1068000,RESOLUTION=640x360,CODECS="avc1.4d001f,mp4a.40.2"
output/hls/HLS10

[2019-01-15 10:28] marcbaechinger commented on #5383
The actions in the notification are created by the PlayerNotificationManager which delegates to a DefaultControlDispatcher which then calls appropriate method on the player instance.

So in your case for ACTION_PLAY the controlDispatcher.dispatchSetPlayWhenReady(player, true) is dispatched to player.playWhenReady(true) to continue playback.

If I understand correctly you want to have called player

[2019-01-15 10:37] marcbaechinger commented on #5301
We are working on this. I can't give you an exact time of arrival but I think it will land on the dev-2 branch next week.

[2019-01-15 11:16] andrewlewis commented on #4708
Revisiting this, I don't think this going to be feasible in the IMA model as all state relating to ad playback will be thrown away when the `WebView` gets destroyed, and I think there are no plans to change how this works. IMA has a feature called manual ad playback where the app controls whether each ad group is played, but AFAIK this can't be used in conjunction with preloading.

I'll therefore

[2019-01-15 11:16] #4708 closed, assigned to andrewlewis

[2019-01-15 11:18] aiescola opened #5384 "Player's surfaceview is rendered on top when a popup is displayed"
### Issue description

I have a screen with an instance of the player on a BaseCardView. It's rendered perfectly with a debug text on top of it. I have no elevation nor translationZ set to it.

See attached picture: https://www.dropbox.com/s/kmaw9nqxjicve61/20190115_114924.jpg?dl=0

However when a dialog or anything that should be displayed on top is opened the surfaceview goes over everything lik

[2019-01-15 11:36] whyvas commented on #5330
Okycelt, you are a king among men! Thank you.

[2019-01-15 12:44] icetronics commented on #5378
Thanks a lot for the quick action, @ojw28! I'll try to verify it this week and get back to you. Can you please forecast which version could incorporate this fix?

[2019-01-15 12:46] ojw28 commented on #5378
It'll be in 2.9.4.

[2019-01-15 12:50] andrewlewis commented on #5369
Having discussed with the Leanback team, the suggestion is to try the following on the app side:
- Intercept and drop key events while an ad is playing (when `player.isPlayingAd()` returns true).
- When an ad starts playing call `hideControlsOverlay(false)`. This is needed in `onPositionDiscontinuity` with `DISCONTINUITY_REASON_AD_INSERTION`, and I think also when you get a non-empty timeline if `

[2019-01-15 12:55] ojw28 commented on #5059
I don't understand what this means. In any case, it's off topic. Please file a new issue and properly fill out the issue template.

[2019-01-15 13:05] edumelzer opened #5385 "Support keeping selected controller view components always visible"
Hi!
I'm trying to implement a layout (portrait) having the time bar always visible at the bottom of the video, while the other player controllers would be visible only after a user click on the video (similar to youtube app).
I've found it about `setControllerShowTimeoutMs(0)`, to avoid the auto hide, but this applies to the entire controller component, not only the timebar.
Is there a good/defaul

[2019-01-15 13:10] LoyalAbbas commented on #5059
Oliver i wants to play .m3u8 video url using exoplayer in my android app. When ever i pass .m3u8 url in HlsMediaSource but this url play always same resolution file from url. i wants to change video resolution with internet speed. Please let me know how to handle this problem in my app

[2019-01-15 13:37] v1sd3v commented on #5383
I created a custom control dispatcher and it did the trick! Thank you!

[2019-01-15 13:38] v1sd3v commented on #5383
I created a custom control dispatcher and it did the trick! Thank you!

[2019-01-15 13:38] #5383 closed, assigned to marcbaechinger

[2019-01-15 13:42] andrewlewis commented on #5359
Please take the bug report just before reproducing the error so that logging just before it is included.

[2019-01-15 13:43] v1sd3v opened #5386 "Sending non-protected broadcast com.google.android.exoplayer.stop throwable exception?"
When I try to stop the audio playback from the notification control I get a Throwable exception.

Stacktrace:

[code]

[2019-01-15 13:44] AndroidDeveloperLB opened #5387 "Request: allow to set PlayerView's surface-type at runtime"
It is advised to use `app:surface_type="texture_view"` on when it's really needed. For example when the Android version is too low, or when you need to show the video being cut in one way or another :

https://google.github.io/ExoPlayer/faqs.html

https://github.com/google/ExoPlayer/issues/2837

![image](https://user-images.githubusercontent.com/5357526/51184089-ee835680-18db-11e9-875f-fe9d9d382d8

[2019-01-15 13:51] andrewlewis commented on #5356
You can reduce the amount of media that needs to be buffered for playback to start when building `DefaultLoadControl`. If the player falls too far behind the live edge can you just seek forwards?

[2019-01-15 15:04] #3860 closed, assigned to ojw28

[2019-01-15 15:18] AndroidDeveloperLB opened #5389 "Question: How to handle drag&drop?"
It seems that by using `setOnDragListener` on a view that contains PlayerView of ExoPlayer, the content of the shadow for it becomes black.

Is there a way to overcome it?

[2019-01-15 15:35] marcbaechinger commented on #5386
Thanks for reporting.

Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

I'm sending this stop intent all the time and haven't seen that issue, so I guess I need some further info to be able to reproduce this. Specifically what OS, Android version and the like. Best to

[2019-01-15 15:59] ofuwape commented on #4273
@erdemguven @ojw28 Any update on this feature?

[2019-01-15 16:23] zishanj commented on #5276
I am also facing this issue in my Android Java app even I have added `targetCompatibility JavaVersion.VERSION_1_8`

[2019-01-15 16:27] tonihei commented on #5276
See commit above for how to configure Kotlin to use Java 8 features.

Closing this issue now as the doc has been updated.

[2019-01-15 16:27] #5276 closed, assigned to ojw28, tonihei

[2019-01-15 16:30] zishanj commented on #5276
@tonihei  as I have mentioned, my issue is Java related not Kotlin.

[2019-01-15 16:31] sswierczek commented on #5369
- user can still see controls after pressing any button during the ads but at least there is no way to skip or pause them. I could hacky resolve visibility locking  make whole controls GONE but this is not ideal solution:

` view?.findViewById<View>(R.id.playback_controls_dock)?.visibility = View.GONE
`

I think to resolve this from app or player this would require having two methods like:

- `hid

[2019-01-15 16:32] zishanj commented on #5276
I have added these both lines in my Java app as mentioned in doc:

[code]

but its still throwing this error.

[2019-01-15 16:43] andrewlewis commented on #5369
Does intercepting key events in the playback fragment avoid that?

Yes. I've asked the Leanback team about adding making these capabilities available to player adapters so we can make updating the controls automatic, but until that's available it should be possible to implement this on the app side.

[2019-01-15 16:57] sswierczek commented on #5369
I've tried with overriding `onKey` in `PlaybackBannerControlGlue` and keys are locked but controls can be still showed.

With returning true in `setOnKeyInterceptListener` of `VideoSupportFragment` buttons are completely unlocked. Should I use sth else in Fragment?

[2019-01-15 19:20] marcbaechinger commented on #5387
I think you can do this as a version aware layout file, so that Android handles this for you:

https://developer.android.com/training/backward-compatible-ui/using-component

[2019-01-15 19:48] AndroidDeveloperLB commented on #5387
@marcbaechinger If you mean the solution of multiple layouts, I've already written that this is a bad solution.

[2019-01-15 20:47] whyvas commented on #5128
Ok, so I finally managed to get the stream working. My only remaining issue is that the buffering is around 2500ms, is there any way to get it to 100ms or less? Here is the current code:

 playerV = view.findViewById(R.id.exoPlayerView);
        player = ExoPlayerFactory.newSimpleInstance(this.getContext());
        UdpDataSource.Factory test = buildDataSourceFactory();
        ExtractorsFactory e

[2019-01-15 23:20] paf-wv commented on #4329
Still waiting. pinged them again.

[2019-01-15 23:24] paf-wv commented on #4487
Pinged QC again.

[2019-01-16 04:57] vinoth56060 commented on #5359
Closing this issue as DRM not playing only in samsung devices.

[2019-01-16 04:57] #5359 closed, assigned to andrewlewis

[2019-01-16 05:44] Jethvasagar commented on #5354
It's not duplicate @ojw28, above question about RTMP Stream link and my question is regarding to RTMPS Stream.

[2019-01-16 06:54] cnting commented on #5116
@JokerLi try set `playerControlView.showTimeoutMs = -1`

[2019-01-16 07:18] Akansha-Yadav commented on #5356
Thanks for the reply.
I tried with the following configuration for DefaultLoadControl:
minBufferMs= 1000
maxBufferMs= 1000
bufferForPlaybackMs= 200

But still when i check for player.getBufferedPosition() - player.getCurrentPosition() after every one second, this value keep  on increasing and reaches to 1000,2000.....so on while running on default playback speed i.e. 1f

when i make the playback s

[2019-01-16 07:59] tushar09 commented on #5362
@shgrg1712
I have found a solution. The trick you need to do is to create you own custom data sources. You need to create a class that extends `HttpDataSource.BaseFactory` and add some code from `DefaultHttpDataSourceFactory`. I know it sounds crazy, but I have solved it this way. Dont worry, I am pasting here the whole code of that custom class.

[code]

You see the method `createDataSourceIntern

[2019-01-16 08:30] andrewlewis commented on #5362
Just a side note: I think you can avoid adding `CustomDataSourcesFactory` by instead using `DefaultHttpDataSourceFactory` and calling `DefaultHttpDataSourceFactory.getDefaultRequestProperties().set(header, token)` to set the token.

[2019-01-16 08:57] ojw28 commented on #5354
Once it's established that RTMPS is expected to be supported (as per Andrew's comment above), it becomes likely to be a duplicate (as per my comment above). Not least because the stack trace is identical.

[2019-01-16 09:14] MuVen opened #5391 "is avi video files playing is supported by exoplayer ?"
is avi video files playing is supported by exoplayer ? can exo player play all the files played by VLC player ?

[2019-01-16 10:06] xiaoxixi615 opened #5392 "Exoplayer can't play some MP4 video, issue same as 5162"
We really need to see the MP4 or at least the whole moov box. You can attach it here or send it to `dev.exoplayer@gmail.com` with subject line "Issue #5162".

_Originally posted by @andrewlewis in https://github.com/google/ExoPlayer/issues/5162#issuecomment-442422734_

I got the similar issue when playing a .mkv file,  exoplayer selected the MP4Extractor, but couldn't play the file. I found that i

[2019-01-16 10:10] xiaoxixi615 commented on #5392
@andrewlewis
I have shared the video file via google drive,  as it has a large size(1.4G).
[sony.txt](https://github.com/google/ExoPlayer/files/2763602/sony.txt)

seems the stsz sample_count invalid, please have a look ,thanks
          [stsz] size=12+8
            sample_size = 0
            sample_count = 0

[2019-01-16 10:13] aaironman commented on #5374
Thanks,I have an other similar question.There is a need to watch video when the full 30 minutes will request the server,and the initial viewing time comes from server in first entry.So I create Timer to calculate the total time every second.How I solve the promble?The total time is the time of staying looking the video to plus the initial time and the initial time will be update in changing the pl

[2019-01-16 10:17] tonihei commented on #5374
Not sure I can completely follow the question. If you want to track the time a user spent watching, please listen to `onPlayerStateChanged` events and use that to calculate the time in different states.

[2019-01-16 10:42] v1sd3v commented on #5386
I think It had to do with the way I was calling `stopSelf()` in a bounded service without first unbinding that service.

[2019-01-16 10:46] MuVen opened #5393 "Subtitle issue"
I have a video (Narco) which has Spanish and English content.

The video has embedded subtitles for Spanish content. Whenever users speak Spanish English subtitles are being displayed.

Now I have synced external SRT file which displays subtitles for Spanish and English conversation. But I cant see the subtitles during English conversations. I think subtitle file which I tried to sync on top of ex

[2019-01-16 11:03] aaironman commented on #5374
@tonihei I want to calculate the time every second in playing status.

[2019-01-16 11:29] AndroidDeveloperLB opened #5394 "Question: any way to scale-crop the video not in the center?"
Background
--
We record a video of the user's face, and usually the face is located at the upper half.
Later we wish to view the video, but the aspect ratio of the `PlayerView` might be different than the one of the video.

The problem
--
The only way I've found to scale the `PlayerView` so that it won't stretch, is by using `app:resize_mode="zoom"` . But this is only for the center, meaning it ta

[2019-01-16 11:48] #5386 closed, assigned to marcbaechinger

[2019-01-16 12:10] ojw28 commented on #5387
There's no setter for the surface type because it doesn't really make sense to switch surface type during usage of `PlayerView`. It's a decision that should be made when the view is created.

Given this, having two small layout files seems like an acceptable solution to the problem. We could also provide `PlayerView` constructors that let you pass the surface type when you're instantiating a view

[2019-01-16 12:21] ojw28 commented on #5394
You currently need to do this yourself. I suspect the best way is to use `TextureView` directly, along with `TextureView.setTransform` to get the desired transformation.

[2019-01-16 12:21] #5394 closed, assigned to ojw28

[2019-01-16 12:34] AndroidDeveloperLB commented on #5394
@ojw28 I see. Can you please consider adding it? Or at least consider answering the question on StackOverflow, of how to do it?

[2019-01-16 12:39] AndroidDeveloperLB commented on #5387
It's not switching between them. It's initializing right when inflating the view.
We know which type to use, but it's just at runtime.

Having multiple layouts doesn't make sense, because if there are more attributes that work this way, not allowing to initialize at runtime, it will take 2^numberOfSuchAttributes layout files. If the attribute has more possible values, the "2" will be even higher.

[2019-01-16 13:37] ojw28 commented on #5387
There are no other `PlayerView` attributes that work this way, and I don't think it's likely we'll need to add any. I don't see any reason for us to address a hypothetical future problem, when we've no reason to believe it's going to happen. If it does happen, we can address it when it happens.

I don't understand what this means.

[2019-01-16 13:40] ojw28 commented on #5394
You can put a `TextureView` into your layout, and provide it directly to `SimpleExoPlayer` using `SimpleExoPlayer.setVideoTextureView`. `TextureView.setTransform` is then exactly an API for specifying a transformation for scaling and translating how the video is displayed within the view.

We don't have any plans to support this feature directly, I'm afraid.

[2019-01-16 13:50] AndroidDeveloperLB commented on #5394
Which transformation is suited for top-centerHorizontal-crop (like center-crop, but at the top, in the middle) ?

Can you please consider adding it? Even ImageView has more scale/crop options...

[2019-01-16 13:53] AndroidDeveloperLB commented on #5387
Just because currently there are no more attributes that need to be set right away only in XML, doesn't mean there won't be more. Same goes for thinking that ExoPlayer is the only one that has such an attribute that must be set only in layout XML file.

It's not hypothetical . It can easily happen. I can easily use the same approach and make a custom view that has such an attribute that must be se

[2019-01-16 13:56] AndroidDeveloperLB commented on #5387
I think that given that you don't see how important it it not to force initialization only in XML, the only way to truly handle it is avoid XML usage of the PlayerView, except just for these values, and always use a wrapper View (FrameLayout) that will contain the PlayerView, and will need all of the other initialization done from it.

Still, very annoying.

[2019-01-16 13:59] AndroidDeveloperLB commented on #5387
Another possible solution is to add the TextureView/SurfaceView at runtime, and assign the SimpleExoPlayer  to it. Would be much more work too.

[2019-01-16 14:13] ojw28 commented on #5394
Not unless there's significant demand for it, which we don't have evidence of currently. I suspect that for most people, by the time they get to needing something as advanced as custom cropping, they also need/want to implement their own player UI from scratch regardless, to have full control over the experience.

[2019-01-16 14:21] AndroidDeveloperLB commented on #5394
I see. Is there an available transformation for this, or do I have to make one myself?
Assuming I've never done it, how much time could it take ? I have multiple tasks and this is one of them, and I need to guess how much time it will take me, as it might have a lower priority task than the others, maybe depending on how hard it is to implement it.

[2019-01-16 14:44] ThomasCZ opened #5395 "Unused dependencies"
There are unused dependencies.

- implementation 'com.android.support:support-v4:' + supportLibraryVersion
- implementation 'com.android.support:customtabs:' + supportLibraryVersion

Please remove them and use this instead.

- implementation 'com.android.support:support-annotations:' + supportLibraryVersion

[2019-01-16 14:45] jqacn3000 opened #5396 "com.google.android.exoplayer2.upstream.Loader$UnexpectedLoaderException: Unexpected OutOfMemoryError"
My app crashes after 3 hours of playing Live in Exoplayer (v. r2.9.0)
this is the log:

2019-01-16 08:48:53.755 5318-5545/com.xxx.app E/ExoPlayerImplInternal: Source error.
    com.google.android.exoplayer2.upstream.Loader$UnexpectedLoaderException: Unexpected OutOfMemoryError: Failed to allocate a 65552 byte allocation with 2792 free bytes and 2792B until OOM, max allowed footprint 402653184, gro

[2019-01-16 14:57] ojw28 commented on #5387
I think you're inventing a problem where a problem doesn't really exist. It's unlikely that other components will need this type of unusual attribute, because the vast majority attributes are well suited to setters that can be used throughout the component's lifecycle. Sure, you _could_ implement your own custom view that has such an attribute. But do you _need_ to to achieve something? If you don

[2019-01-16 14:58] ojw28 commented on #5394
You should do some proper research into `TextureView.setTransform`, figure out what you need to do, and come up with your own estimate.

[2019-01-16 15:01] AndroidDeveloperLB commented on #5387
It is annoying because for each layout that was supposed to have just a PlayerView, now I have 3 layouts: the container, and 2 more for each of the values of `app:surface_type` . And all of this just because there isn't a function for initialization of the view.

The solution you wrote is exactly what I wrote that's annoying. 3 layouts instead of just one.

[2019-01-16 15:17] ojw28 commented on #5395
I assume this is about the IMA extension? I think both of the dependencies you refer to are pulled in indirectly anyway. See the dependency tree below, which is a snippet of the output from `./gradlew extension-ima:dependencies`. They're explicitly listed in our `build.gradle` file only to force the appropriate versions of these dependencies to be used when they are pulled in, which doesn't happen

[2019-01-16 15:33] kvillnv opened #5397 "Tunneling: prepare(mediaSource) issue - weird "play/pause behaviour""
Hello,

### Issue description
Weird simultaneous play/pause state In tunnelled mode after preparing the player.
Using the same code in non tunnelled mode works correctly.

### Reproduction steps
As always, when I want to play a media I use these classic exoplayer methods:
[code]
(works correctly in tunnelling)

And when I want to just prepare and not start playing, Instead of the previous code I u

[2019-01-16 16:14] AfanasievAnton commented on #5377
I might be wrong but it looks like:

Exoplayer will iterate through all available groups for video renderer and choose the first one with adaptive support. This group will be used for adaptive playback.

If allowMixedMimeAdaptiveness set to false - this selected group will contain only tracks with mimeType which appears more on the group itself (of course only tracks with adaptive support will cou

[2019-01-16 16:30] andrewlewis commented on #5397
It sounds like the video tunneling implementation is presenting video frames on the assumption that the audio track is in the playing state. I think it should ignore the hardware A/V sync timestamps in audio buffers until the corresponding audio played out (while the AudioTrack is in the playing state).

Can you reproduce this on any other devices that support video tunneling? If not, it's likely

[2019-01-16 16:45] tonihei commented on #5374
I'm still unsure what you are trying to achieve, but it sounds like a duplicate of #5352.

[2019-01-16 18:02] kvillnv commented on #5397
@andrewlewis
I just reproduced it on another device.
Device: AMINO Amigo7
Android: 8.0.0
Detailed Specs: https://www.aminocom.com/products/amino-vu/client-devices/amigo-7x

Also, I was able to reproduce the bug on exoplayer2.demo from the release-v2 branch, using the default sources (for example all Youtube DASH)

Here is how to reproduce it:

com.google.android.exoplayer2.demo.PlayerActivity

- E

[2019-01-16 18:48] noamtamim opened #5399 "Log DRM provisioning/network requests to AnalyticsListener"
I'm implementing `AnalyticsListener` in ExoPlayer 2.9.3 and I've noticed `DATA_TYPE_DRM` is not used in `onLoadXXX` events for DRM loads. [Looking at the code](https://github.com/google/ExoPlayer/search?q=DATA_TYPE_DRM&type=Code), the only reference to this symbol is in HLS-AES encryption keys.

I believe POST events to license servers should include this type.

[2019-01-16 19:25] ojw28 commented on #5399
I don't think key requests cause the `onLoadXXX` methods to be called. So perhaps this is a feature request to do so, rather than an issue where the correct constant isn't being used?

[2019-01-16 22:13] aaironman commented on #5374
Thank you very much!

[2019-01-16 23:02] noamtamim commented on #5399
Looking deeper into this, indeed `onLoadXXX` methods are indeed not called for key requests.

Anyway, the documentation says this value is "A data type constant for drm or encryption data", and in reality it's only used for retrieving AES keys.

The type appears in `MediaSourceEventListener.MediaLoadData.dataType`.

Bottom line -- I guess this issue can be a feature request instead.

@ojw28 Should

[2019-01-16 23:50] mkaflowski commented on #4964
I had the same problem with that and some method like getDuration() doesn't work for window number greater that 1 because out of array boundary. I have figured out that Timeline contains info about current Window, previous and the next - so 3 Windows like in the issue title. It can be 2 when it is first or last Window.
I store total Window count in variable created by me. The other problem that I

[2019-01-17 00:32] ojw28 commented on #5399
[Note: We should wait until after planned DRM refactoring before doing this]

[2019-01-17 01:38] NathanSass commented on #5352
You would think so - but it depends on network conditions. So we want to be very careful and try to do it often in case the user looses connection (we support offline as well)

I came up with a pretty good solution. But I just wanted to check with you all.

[2019-01-17 01:38] #5352 closed, assigned to tonihei

[2019-01-17 02:06] #5374 closed, assigned to tonihei

[2019-01-17 07:59] aiescola commented on #5384
No, nothing? :(

[2019-01-17 08:22] andrewlewis commented on #5356
Does the buffer continue to increase while the player is in the ready state? If so it sounds like the source is producing data faster than realtime.

[2019-01-17 10:00] ojw28 commented on #5387
You probably only need two extra layouts that you can share between multiple other layouts (if you have them). This really isn't a big problem.

[2019-01-17 10:00] #5387 closed, assigned to marcbaechinger

[2019-01-17 10:06] Maneesh528 opened #5400 "exoplayer is playing from starting position when app closed and opened"
Hello Team,

Issue flow : Play the video --> pause --> close the App (now Android life cycle is in Pause state)--> Reopen --> Video is playing from starting point.

How to handle this issue. Can any one help.

[2019-01-17 10:10] AndroidDeveloperLB commented on #5387
@ojw28 Incorrect. If I have more layouts that need a player, I will have to generate it for them as well.
2 layouts for each layout that has a player.
Why not just allow us to set the type at runtime? Or at least have a CTOR with this option? Why force us to use it only in one place, in the XML layout file?
And why close this?

[2019-01-17 10:15] ojw28 commented on #5387
I closed it because we're not planning to make any changes in response to this issue. The existing way of resolving the issue in application code takes literally a couple of minutes, and we've received zero other reports mentioning this as an issue.

Once you've defined two layout files for `PlayerView`, one with each surface type, you can re-use those with multiple other layouts.

[2019-01-17 10:21] marcbaechinger commented on #5400
You need to store the current window, the current position and possibly the state of playWhenReady each in a variable, so you can resume the player properly in onStart().

Have a look at [how the demo app is doing it](https://github.com/google/ExoPlayer/blob/release-v2/demos/main/src/main/java/com/google/android/exoplayer2/demo/PlayerActivity.java#L562). The values stored in this method are then [

[2019-01-17 10:21] #5400 closed, assigned to marcbaechinger

[2019-01-17 10:24] AndroidDeveloperLB commented on #5387
"Once you've defined two layout files for PlayerView, one with each surface type, you can re-use those with multiple other layouts.
"
Incorrect. You assume that all of the other attributes are the exact same for all layouts that have the PlayerView. That's a wrong assumption. You can't re-use those with multiple other layouts, unless the usage is identical in 100% of the cases, which is wrong to a

[2019-01-17 10:27] noamtamim commented on #5399
@ojw28 is there a roadmap to this refactoring, so we know when to expect major API breakage?

[2019-01-17 10:31] ojw28 commented on #5387
As we've already established, all other attributes can be set in code, so you can just set them to what you want after inflation.

The use case where you have many different places that need a `PlayerView`, all of which need different attribute configurations, also seems extremely fanciful. As already stated, we've received zero other reports mentioning this as an issue. What does that suggest, in

[2019-01-17 10:38] AndroidDeveloperLB opened #5401 "Request: for PlayerView, add CTOR that has the surfaceType as parameter"
Currently, if we wish to dynamically create a new PlayerView instance, it will always be of the type `SURFACE_TYPE_SURFACE_VIEW` , because there is only one CTOR that is meant to be used dynamically, which is `PlayerView(Context context)`, and it doesn't have an initialization function that can be overridden or called to handle it either.

Please add a new CTOR or initialization function for Playe

[2019-01-17 10:44] ojw28 commented on #5401
Duplicate of #5387.

As a general point, please consider your tone when contributing to this issue tracker. We've already made a decision about this and clearly explained why we don't believe this is a significant problem. The fact you disagree doesn't mean you should file another issue, wasting our time and the many people who receive email notifications from this tracker. This isn't the only exa

[2019-01-17 10:44] #5401 closed, assigned to ojw28

[2019-01-17 11:24] AndroidDeveloperLB commented on #5401
It's not a duplicate. It's a more specific request.
And there is no special tone here. I stated the facts alone.
And the issue there was closed without letting me answer, so I can't do anything about it.
I don't understand what I've done wrong here or there. I just write a feature request. If I've somehow hurt your feelings, I'm sorry.

[2019-01-17 11:25] AndroidDeveloperLB commented on #5401
Why close this request though? What is the reason of not allowing us to set which type to use via a CTOR ? Shouldn't we have a choice of creating PlayerView dynamically instead of via a layout, like we have for other views?

[2019-01-17 11:27] AndroidDeveloperLB commented on #5401
You even wrote there that you could add it, so I decided to write a more specific request:
"We could also provide PlayerView constructors that let you pass the surface type when you're instantiating a view directly in code,
"

[2019-01-17 12:58] Jethvasagar commented on #5354
Thank you for reply, If Exo-player support the RTMPS url then send me demo or sample code which one rtmps link play in Exo-player.

[2019-01-17 13:28] AndroidDeveloperLB commented on #5401
Also, just because you don't see other people request it, doesn't mean that it's not useful and some people would want it. It also isn't a measure of whether you will accept it or not.
I've written a lot on the issue tracker, about both requests and bugs. See how much popularity I got on those, and yet Google still hasn't handled them:

https://issuetracker.google.com/issues/117486314
https://issu

[2019-01-17 14:35] davidaik commented on #5320
Thanks, it works.

[2019-01-17 14:44] erdemguven commented on #5375
Duplicate of #5362

[2019-01-17 14:44] #5375 closed, assigned to erdemguven

[2019-01-17 14:45] ojw28 commented on #5395
Closing as answered.

[2019-01-17 14:45] #5395 closed, assigned to ojw28

[2019-01-17 15:19] AndroidDeveloperLB opened #5402 "Request: add nullability annotations for functions"
For example, to SimpleExoPlayer.getVideoFormat() , which could return null:

[code]

This is especially important when developing using Kotlin, as the IDE doesn't consider Java returned values as nullable by default when writing on Kotlin.

[2019-01-17 15:26] levyshachar2 opened #5403 "Exoplayer too aggressive when fetching dash segments in live streaming"
Hi , we experience an issue when trying to play live dash stream using Exoplayer v2.
Our scenario and setup is as follows:
We have a local PC running FFMPEG that captures video from a capture card , streaming it in mpegts in TCP to remote Amazon EC2 computer.
The EC2 computer receive the stream using TCP connection in FFMPEG and transmux the content from mpegts to DASH.
After that we want to copy

[2019-01-17 15:41] tonihei commented on #5402
Thanks for reporting. We'll fix that one.

Note that we added all the nullable annotations only recently and we may have missed some parts of the most used APIs.

[2019-01-17 15:44] AndroidDeveloperLB commented on #5402
Thank you.
Speaking of Kotlin, does it also make sense to make the library in Kotlin, or is it a useless thing to do?

[2019-01-17 15:49] tonihei commented on #5402
Java and Kotlin are interoperable, so there is no point in having the library in both languages.

[2019-01-17 15:54] AndroidDeveloperLB commented on #5402
That's not entirely true. They work fine with each other, but when coding via the IDE, you will notice issues between them, that the IDE doesn't help you with, as opposed to when writing only in Kotlin on both cases.

For example this case. On Kotlin you'd have to set nullability, but on Java, you don't have to, and since the IDE still can't handle nullability issues between them, it can always be

[2019-01-17 15:54] erdemguven commented on #5376
ExoPlayer demoapp can't play the stream.

[2019-01-17 16:12] ojw28 commented on #5403
This kind of issue can be quite tricky to debug, but there are multiple really weird things happening with this stream:

* Occasionally the manifest XML is just invalid, causing errors like ` org.xmlpull.v1.XmlPullParserException: Unexpected EOF (position:START_TAG <UTCTiming schemeIdUri='urn:mpeg:dash:utc:http-xsdate:2014' value='http://time.aka'>@768:84 in java.io.InputStreamReader@d0e4ec0)`. Wh

[2019-01-17 16:14] tonihei commented on #5402
Well, we do try to make sure it can be used in Kotlin and Java in the same way, that's why we are adding the annotations. We also did a few other things (e.g. moving Runnables to the last argument in each method to allow usages of the improved Kotlin syntax).

Besides that, the code is running fine in both languages and all improvements are only around ease of use and not actual functionality.

[2019-01-17 16:16] erdemguven commented on #5377
As you can see in the comments of #4833: Codec name check is a best effort test. There is no 100% reliable way to determine whether a codec is hardware supported.

[2019-01-17 16:24] moacir69 opened #5404 "HLS + CMAF + Playready/CBC support"
### Issue description
Playback of HLS CMAF test contents results on the following error:
...
2019-01-17 16:33:10.333 26942-27094/com.google.android.exoplayer2.demo E/ExoPlayerImplInternal: Internal runtime error.
    java.lang.IllegalArgumentException
        at android.media.MediaCodec.native_queueSecureInputBuffer(Native Method)
        at android.media.MediaCodec.queueSecureInputBuffer(MediaCod

[2019-01-17 16:24] erdemguven commented on #5379
I can't test the stream you shared as the server returns 403. Please share a stream we can access.

Please try to play the stream using ExoPlayer demoapp. Also try another device with a recent version of Android and let us know the result.

[2019-01-17 16:27] erdemguven commented on #5380
Please provide complete information as requested in the issue template.

[2019-01-17 16:28] melakhvision commented on #5379
That's my problem .The stream link work nice on vlc wuffy player, mx player or on firefox with hls addon

[2019-01-17 16:56] AndroidDeveloperLB commented on #5402
Of course.
I just asked if it might be better, because as much as I like Java, Kotlin helps more in those things
:)

[2019-01-17 17:27] MuVen commented on #5393
Narco video has subtitle of inbuilt TEXT_SSA textrenderer.

Im trying to add merge  SRT file, how to override existing subtitles.

      trackSelector = new DefaultTrackSelector(trackSelectionFactory);
      trackSelectorParameters = new DefaultTrackSelector.ParametersBuilder().build();
      trackSelector.setParameters(trackSelectorParameters);
      DefaultDrmSessionManager<FrameworkMediaCrypto>

[2019-01-17 19:02] noamtamim commented on #5377
I've created a feature-request in Android's issue tracker, asking for a hardware support flag on MediaCodecInfo:
https://issuetracker.google.com/issues/123015413

[2019-01-17 22:15] erdemguven commented on #5381
Please share the code you use to reset MediaSource so we can if it's correct.

[2019-01-17 22:23] erdemguven commented on #5382
Duplicate of #5173

[2019-01-17 22:23] #5382 closed, assigned to erdemguven

[2019-01-17 22:52] erdemguven commented on #5384
This issue sounds like device related, have you tried on another device?

Still it's not likely to be caused by a bug in ExoPlayer. We’ll leave this issue open for ~2 weeks in case anyone wishes to answer it here, however we recommend asking such questions on Stack Overflow.

[2019-01-17 23:30] erdemguven commented on #5389
Please add more information and make it clearer.

[2019-01-17 23:33] erdemguven commented on #5391
No, it isn't supported. Here is a list of supported formats: https://google.github.io/ExoPlayer/supported-formats.html

[2019-01-17 23:33] #5391 closed, assigned to erdemguven

[2019-01-17 23:55] erdemguven commented on #5393
Displaying multiple subtitles at the same time isn't supported by default. See #5192.

[2019-01-18 01:46] MuVen commented on #5393
I dont want to show multiple subtitles at the same time but I want to
override the existing embedded subtitles with subtitles on my device

On Fri, 18 Jan 2019, 05:25 Erdem Guven <notifications@github.com wrote:

[2019-01-18 08:09] andrewlewis commented on #5391
Adding support for AVI specifically is tracked by #2092.

[2019-01-18 08:10] AndroidDeveloperLB opened #5405 "Question: Does ExoPlayer support "Motion Photos"?"
The camera app is able to create JPEG files that contain MP4 content within, called "Motion photos". I was wondering if ExoPlayer is able to handle such files. Here's how it's done, in case anyone is wondering:

https://android.jlelse.eu/working-with-motion-photos-da0aa49b50c

[2019-01-18 09:13] andrewlewis commented on #5405
It doesn't support them with the JPEG prefix. I think if you remove that, the remainder of the file should be a valid MP4 that can be loaded by ExoPlayer.

[2019-01-18 09:13] #5405 closed, assigned to andrewlewis

[2019-01-18 09:16] andrewlewis commented on #5384
Does using `TextureView` instead of `SurfaceView` work around this? That might provide some clues to what's going on (but see also [the FAQs](https://google.github.io/ExoPlayer/faqs.html#should-i-use-surfaceview-or-textureview)).

[2019-01-18 09:29] AndroidDeveloperLB commented on #5405
By "prefix" you mean the inner content of the file?
But this isn't the same as showing the content directly, as it will create new files. One for the video and one for the image.
I already know those can be opened.
I asked if it's possible for ExoPlayer to open the video directly within such files.
As it's Google which made those files, it should be possible to use Google's library to open them di

[2019-01-18 09:39] andrewlewis commented on #5405
I mean the start of the file, which is a JPEG as discussed in the blog post.

I'm not sure what you mean by 'it will create new files'. It's probably possible to implement an ExoPlayer `DataSource` that skips the prefix of the file without creating a separate MP4 stream on disk.

In that case the answer is no. You need to do a bit of extra work to remove the JPEG prefix.

[2019-01-18 09:41] aiescola commented on #5384
Hi erdemguven. I'm afraid I can't try on another device, it's a launcher for a set-top box. Of course I don't think it's a bug, it was more of a question. Maybe it is a known behaviour and it needs some tweak I'm missing.

andrewlewis what are the performance consequences of using a TextureView? I already tried setting it on the xml and the video didn't work. Maybe it's not as straight forward to

[2019-01-18 09:53] ojw28 commented on #5384
Most likely the graphics compositor in the underlying platform is broken.

[2019-01-18 09:55] AndroidDeveloperLB commented on #5405
The post I've shown talks about how to get to the parts of the MP4 content within the file.
I don't want to modify or create any new file. I want to play the file directly. The content is already available.
Is it possible for ExoPlayer to open the part of the file that is of MP4 content? To skip the JPEG part and play directly the part of the MP4 ?

That's the question.

[2019-01-18 09:57] andrewlewis commented on #5405
It should work if you implement a `DataSource` that skips the right amount of data from the start of the file.

[2019-01-18 10:00] AndroidDeveloperLB commented on #5405
So it is possible...
Cool.
Thank you. I wonder if there are some samples I can work with. Is this really the term I should look for ("Motion Photos") ? Or does it have a more official one? Searching for it, I find GIF animations...

[2019-01-18 10:14] andrewlewis commented on #5405
The product name is "Motion Photos".

Probably worth mentioning: if there isn't a public specification/standard for this file format, I wouldn't want to rely on the format not changing in future (it's more like an implementation detail of whatever software produced the streams).

[2019-01-18 10:35] AndroidDeveloperLB commented on #5405
So it's something that's not official? But Google made it in its own products...
Does Google plan on using something else instead? What are the most popular formats for video-in-image-file?

[2019-01-18 12:51] AquilesCanta commented on #5376
Please fill the full issue template next time you report an issue.

I ran into 3 different problems and I don't know which one you are running into. That would have not been confusing if a bugreport and an issue description had been included. That being said:

1. Every now and then I run into a Socket connection timeout, which I think is solely a server-side issue. It helped me using a different d

[2019-01-18 12:51] #5376 closed, assigned to AquilesCanta

[2019-01-18 13:30] tuesda opened #5406 "Is there any way to specific video decode width/height for decoder?"
as title

[2019-01-18 13:52] andrewlewis commented on #5369
I had a quick look at suppressing key events in-app but couldn't find a clean way to do it. Please update here if you did find way!

The Leanback team has filed a externally-visible feature request for preventing showing the controls on key events: https://issuetracker.google.com/issues/122918400. If that's not going to be sufficient to get it to work perhaps you could file another issue in the sa

[2019-01-18 15:49] marcbaechinger commented on #5301
@gowthamgts @0xcaff @HighA

We pushed a change regarding the PlayerNotificationManager to the dev-2 branch.

Roughly, the PlayerNotificationManager.NotificationListener has been changed to have a better semantic and receive every notification. Besides we separated stop action (optional button) and dismiss action (always attached to notification). Hence player.stop() is only called when the stop bu

[2019-01-18 16:15] sswierczek commented on #5369
I've just managed to make a hack with view visibility to remove controls completely. **This it not the best solution but works.** Controls are hidden and there is no way to show them with pressing buttons.

[code]

Thanks for the help :) I will observe that issue.

[2019-01-18 17:09] MuVen commented on #5192
@ojw28 How can i force subtitles selected from the internal storage to be shown instead of captions displayed while aliens speak their language.

can you help me where to tweak in the code please ...

[2019-01-18 17:27] HighA commented on #5301
I'm sorry to bother you but I can't compile the dev branch correctly, guess I'm doing it wrong but I don't find explicit sources on how to do it online.

I downloaded it locally and added

[code]

In my project's gradle dependencies, and

`compile project(':exoplayer')
`
in my App's gradle dependencies. then I get a "Gradle DSL method not found: 'include()'" error on compile, guess I'm doing it wr

[2019-01-18 17:28] aiescola commented on #5384
hmmm, thanks ojw28. Why could this happen? It's not happening on the screen where the player is full screen

[2019-01-18 17:41] ojw28 commented on #5384
I think that's a question for whoever is providing the underlying platform.

[2019-01-18 17:42] ojw28 commented on #5192
@MuVen - Off topic and already tracked in #5393. Please keep using that issue for your question.

[2019-01-18 17:44] tonihei commented on #3670
Closing as fixed.

[2019-01-18 17:44] #3670 closed, assigned to tonihei

[2019-01-18 17:46] MuVen commented on #5393
@ojw28

wrt your comment

""As a bit of extra context:

The use case that we've normally seen this question come up is around forced vs optional subtitles. For example if there's a sci-fi film where an alien says something in their alien language, the corresponding subtitle should always be shown (assuming it's intended that the viewer understand what's being said). Where-as when a human says some

[2019-01-18 17:47] tonihei commented on #5350
Closing as fixed.

[2019-01-18 17:47] #5350 closed, assigned to tonihei

[2019-01-18 17:47] tonihei commented on #5351
Closing as fixed.

[2019-01-18 17:47] #5351 closed, assigned to tonihei

[2019-01-18 17:48] tonihei commented on #5402
Closing as fixed.

[2019-01-18 17:48] #5402 closed, assigned to tonihei

[2019-01-18 17:49] tonihei commented on #5289
Closing due to inactivity. Also looks like the underlying problem was explained in all detail.

[2019-01-18 17:49] #5289 closed, assigned to tonihei

[2019-01-18 17:49] tonihei commented on #5267
Closing as docs have been improved.

[2019-01-18 17:49] #5267 closed, assigned to tonihei

[2019-01-18 17:50] tonihei commented on #5094
Closing due to inactivity.

[2019-01-18 17:50] #5094 closed, assigned to tonihei

[2019-01-18 17:52] tonihei commented on #5240
Closing as no further evidence of a problem was reported and we have no actionable info to do something. Please re-open if you can provide further information that would help us to identify if and where the problem actually is.

[2019-01-18 17:52] #5240 closed, assigned to tonihei

[2019-01-18 17:53] tonihei commented on #4931
Closing the issue as we don't have any more information and can't reproduce.

[2019-01-18 17:53] #4931 closed, assigned to tonihei

[2019-01-18 17:54] tonihei commented on #4908
Closing due to inactivity and because we received no further info.

[2019-01-18 17:54] #4908 closed, assigned to tonihei

[2019-01-18 18:34] ocorso commented on #5271
There's not a way to retrieve the VAST response via IMA as IMA is designed to manage/handle all of the VAST parsing for you ;)

However, you may be able to view the network traffic (and the VAST response therein) via a web proxy like Charles:
https://medium.com/@hackupstate/using-charles-proxy-to-debug-android-ssl-traffic-e61fc38760f7

Hope this helps :)

[2019-01-18 18:49] HighA commented on #5301
I don't get where can I find the resources to know the new methods implemented ? I read the patchnotes but where can I find the details about the enhancements ?

[2019-01-18 19:36] cho1231 commented on #5362
I am a beginner of ExoPlayer.
I have been looking for this solution!

I have two questions.
Q1) I don't know what the parameters of header and token are.
Q2) And I don't know where 3 keys(Encryption Key, Encryption Key MD5, Encryption Initialization Vector) are located.  Do I have to set them in my App?

Thank you for a valuable information.

[2019-01-18 19:44] tushar09 commented on #5362
Q1) Talk to your backend developer.

Q2) When your Elastic transcoder finishes the job, you find it hovering the mouse on the lock icon. Picture link is attached:
https://i.stack.imgur.com/736z5.png

[2019-01-18 19:51] cho1231 commented on #5362
Thank you for your quick and kind response!!!

Q1) Unfortunately, I am the only developer. Please let me know the meaning of header and token.

Q2) I understand that there are 3 keys on the server and I don't need to set them in my App, right?

[2019-01-18 20:38] 0xcaff commented on #5301
https://github.com/google/ExoPlayer/issues/5301

[2019-01-18 20:46] tushar09 commented on #5362
Here is the thing: Your m3u8 file contains the accusation url. Your player will hit the url to get the decryption key. Now whoever have this key, will be able to play the video. So the accusation url is your server. Now for easy example lets say an user created profile in your app. The user have username and password. Exoplayer will hit the accuasation url with the username and password. Your serv

[2019-01-18 22:03] PaulWoitaschek commented on #3670
Thanks a lot!

[2019-01-18 22:12] HighA commented on #5301
I get an error :

abstract method "java.lang.String com.google.android.exoplayer2.ui.PlayerNotificationManager$MediaDescriptionAdapter.getCurrentSubText(com.google.android.exoplayer2.Player)

I don't know why maybe because my player plays a stream so it has no info on tracks played but it's supposed to be nullable and no error on getCurrentContentText or title so I don't know. Also I don't get thi

[2019-01-19 02:05] cho1231 commented on #5362
Thank you very very much for your wonderful explanation!!

[2019-01-19 03:04] Khang-NT opened #5407 "Wrong currentWindowIndex onPlayerError"
### Issue description & Reproduction steps
When using `ConcatenatingMediaSource` to play a playlist of media, let say I'm playing at position `i`, and position `i + 1` failed to load. Then within `onPlayerError` callback, I expect`currentWindowIndex` should return `i + 1` but actually it return `i`. Is it intended behavior?

### Version of ExoPlayer being used
`2.9.3`

[2019-01-19 14:24] AndroidDeveloperLB commented on #5389
@erdemguven When I drag the PlayerView or a container of it, it doesn't show its content on the dragged shadow. It's as if the PlayerView doesn't exist.

Check the attached project. Drag the CardView that contains the PlayerView (initiate by long pressing), and you will see only the TextView that's on top of the PlayerView.

Also attached sample video to show the issue.

[ExoPlayerTest.zip](https:

[2019-01-20 07:48] coderain1 opened #5408 "cache m3u8"
Cache the m3u8 file. The ts link in the m3u8 file is followed by a token. I want to remove the ts link after token as the key of the ts video streams cache.

[2019-01-20 07:48] AndroidDeveloperLB commented on #5402
@tonihei Thank you!

[2019-01-20 09:18] AndroidDeveloperLB opened #5409 "Request: update docs about when `player.videoFormat.width` could return `NO_VALUE`"
It only says there about `NO_VALUE` that :

But it doesn't say when it occurs.
If I open an MP4 file from a server, could it occur  ?

How could it be that it's about to show a video, but doesn't know what is the size of the video? I don't understand what are the possible scenarios for this...

Or is it just when the video wasn't decoded at all yet? But this might be what "not applicable" means, n

[2019-01-20 14:11] Vitamin9024 opened #5410 "Recheck for active AudioProcessors"
Hi, I have a custom AudioProcessor and it works well except the player doesn't pick the state change upon change. It picks it up only upon changes to one of the internal AudioProcessor (e.g. when changing playback speed).

How do I make ExoPlayer recheck for active audio processors?

[2019-01-20 19:00] grajzer commented on #5271
Thank you for your help!

[2019-01-20 19:00] #5271 closed, assigned to andrewlewis

[2019-01-21 07:56] AndroidDeveloperLB opened #5411 "Bug ( on either the emulator or ExoPlayer) : playing videos could be rotated even though it shouldn't"
On the docs it says:
http://google.github.io/ExoPlayer/doc/reference-v1/com/google/android/exoplayer/MediaCodecVideoTrackRenderer.EventListener.html#onVideoSizeChanged-int-int-int-float-

And indeed it's always 0 as I've noticed, including on the emulator.
However, if I play the video on the emulator, it could be rotated compared to real device, even if I use API 28 there.

Please check it out. Ru

[2019-01-21 08:31] AndroidDeveloperLB commented on #4762
@ojw28 What is the transform matrix that should be used for centerCrop on TextureView?

[2019-01-21 08:54] andrewlewis commented on #5405
I'm afraid I can't really answer these questions as I don't work on Google Photos. It's also off-topic for this issue tracker. Sorry not to be more helpful!

[HEIF](https://en.wikipedia.org/wiki/High_Efficiency_Image_File_Format) is probably a popular format for this.

[2019-01-21 09:07] AndroidDeveloperLB commented on #5405
HEIF became popular?
Isn't it mostly on IOS, as it costs money for the license of creating those?

I wish you guys talked to the Google Photos developers. You can achieve more by working together. Google Photos app shows video too, after all, as well as images and in between (animations) ...

[2019-01-21 09:12] AndroidDeveloperLB opened #5412 "Request: offer common Matrices for various scaling types for TextureView, either in library or in sample"
I'm talking about the matrix we can provide to : https://developer.android.com/reference/android/view/TextureView#setTransform(android.graphics.Matrix)

Examples of common transform :

1. All of those that we have for ImageView.
2. scale-crop to position. It's like center-crop, but not neccassary to the center. Could be to any point in percentage of the video.
3. Maybe others that I didn't think a

[2019-01-21 10:12] tonihei commented on #5407
That's not exactly intended behaviour and for load errors specifically we should report the loading source window index. Note that the non-fatal onLoadError callbacks already have the correct window index. However, the fatal onPlayerError always gets assigned to the currently playing window index. As we can't switch to the next window if there is a load error, you still see the previous window ind

[2019-01-21 10:17] #5348 closed, assigned to ojw28

[2019-01-21 10:32] tonihei commented on #5407
Probably wasn't clear from my previous comment:
- `player.getCurrentWindowIndex` will still return the previous window index in all cases because we can't switch to the next item we don't get any samples.
- `EventTime.windowIndex` in the `AnalyticsListener` callbacks will contain the correct association from error to window.

[2019-01-21 10:46] AquilesCanta commented on #5379
Hi @melakhvision, try a different user-agent that does not include the string "exoplayer" in it. That seems to do the trick.

[2019-01-21 10:50] AquilesCanta commented on #5330
I think using a custom TsPayloadReaderFactory is the way to go. I'd just wrap the default implementation and intercept the 0x82 stream type.

As a library-side fix, I think sniffing the PES packets is the only way to go. Unfortunately, I cannot allocate time to do this. For the time being, I have added a flag to the DefaultTsPayloadReaderFactory: FLAG_IGNORE_HDMV_DTS_STREAM, which will be availabl

[2019-01-21 11:13] marcbaechinger commented on #5301
That's odd. The method has been added to the interface as a default implementation with Java 8, so it should not affect you at all. This is supported [for all minSdks with Android](https://developer.android.com/studio/write/java8-support).

Have you turned on Java 8 as mentioned here: https://google.github.io/ExoPlayer/guide.html#turn-on-java-8-support?

If you this does not help, can you send me

[2019-01-21 11:18] itzikdev opened #5413 "Exoplayer audio streming not work after upgrate andorid 9"
Issue #1234
Exoplayer  (only audio streaming)not work on android 9 its always detected onPlayerError throw exception:
"com.google.android.exoplayer2.upstream.HttpDataSource$HttpDataSourceException: Unable to connect"
but lower android version 9 its work perfectly.

[2019-01-21 11:19] ojw28 commented on #5413
Please provide complete information as requested in the issue template. It's also unclear what "upgrade" means in this context. Are you upgrading the device, or upgrading the target API level of the application?

[2019-01-21 11:26] shgrg1712 opened #5414 "Encrypted Video Playback with Exoplayer - AES/CBC & AES/CTR"
Hello Team,
                  I am using exoplayer for encrypted video playback . Following are the details

Case 1 :-

Algorithm/mode/padding - AES/CBC/PKCS5Padding

Result :- Encryption is ok, Decryption is ok, But exoplayer unable to find MediaExtractor for the same.

Final  Result :- Video play fail

Case 2.

Algorithm/mode/padding - AES/CTR/NoPadding

Result :- Encryption is ok, Decryption is

[2019-01-21 11:37] itzikdev commented on #5413
hi ,
"upgrade" mean to Exoplayer api i used 2.9.3 last version that i see its work all android 5 - 8.1
but same code on device android 9 its no working when i want play url streaming its always detected  onPlayerError and the cause of exception error: "com.google.android.exoplayer2.upstream.HttpDataSource$HttpDataSourceException: Unable to connect" and i do not know why.

[2019-01-21 11:38] shgrg1712 commented on #5414
More Information
  Encryption key size 16
  Initialization vector size 16

[2019-01-21 11:39] ojw28 commented on #5414
You can't just change the scheme and expect everything to continue working (assuming you're editing the scheme in `AesFlushingCipher`). The scheme in that file is chosen specifically because it works well with random access (which is helpful for media - for example when seeking to the middle of the file).

If you change to a different scheme you most likely need to implement your own `DataSource`

[2019-01-21 11:41] ojw28 commented on #5413
If you properly fill in the issue template then we will help investigate your issue.

[2019-01-21 11:55] itzikdev commented on #5413
**### Issue description**
Exoplayer ( audio stream ) not playing in device android 9 but working perfectly in version 5-8.1
in device android 9 always callback onPlayerError(ExoPlaybackException error) : error : "com.google.android.exoplayer2.upstream.HttpDataSource$HttpDataSourceException: Unable to connect"

**### Link to test content**
http://glzwizzlv.bynetcdn.com/glglz_mp3

**### Version of E

[2019-01-21 11:56] shgrg1712 commented on #5414
Yes you are right. New Data soruce has been written . You can check this link for my source code

https://github.com/moagrius/EncryptedExoPlayerDemo

Only difference is in my code that encrypted file is already present on one URL and I am passing this encrypted file URL in this code

String streamUrl ; //This url points to encrypted media
 new DownloadAndEncryptFileTask(streamUrl, mEncryptedFile,

[2019-01-21 11:58] ojw28 commented on #5413
Please see [this blog post](https://android-developers.googleblog.com/2018/04/protecting-users-with-tls-by-default-in.html) about TLS being enabled by default as of Android 9. If you can't use `https://` you'll need to enable `http://` in your network security config.

[2019-01-21 11:58] #5413 closed, assigned to ojw28

[2019-01-21 12:01] ojw28 commented on #5414
If you want to use a different encryption scheme, and implement custom code to decrypt it, then that falls outside the scope of this issue tracker. The fact the player can't detect the format of the media indicates that your decryption code isn't working correctly.

[2019-01-21 12:01] #5414 closed, assigned to ojw28

[2019-01-21 12:21] meenukrishnamurthy opened #5415 "Downloading not starting as expected in Hls offline downloads"
I am downloading offline videos to be played in local.When i pause a download using stopDownloads() method,the download is stopped.When i try to resume the downloads using startDownloads() method of DownloadManager it does not start.I have also checked in the demo app it does not work there as well.Is there anything else i need to be doing other than calling this method.Please help.

[2019-01-21 12:48] elbekD opened #5416 "MP3 to PCM decoding"
Is it possible to decode mp3 file to pcm raw data using exoplayer library and play it via android.media.AudioTrack?

[2019-01-21 12:50] ojw28 commented on #5416
That's what ExoPlayer does if you just use it to play an MP3.

[2019-01-21 13:28] shgrg1712 commented on #5414
I got your point. May be code for open/read in Data source factory is not able to decrypt AES/CBC data but it is able to decrypt AES/CTR data.

I have tried other things also. But all in vain. I know this forum is for Exoplayer so Data source class questions should not be asked here. But can you help me to find the implementation of DataSource for AES/CBC data or you can share me the forum which I

[2019-01-21 13:30] ojw28 commented on #5414
I'd suggest you try on StackOverflow.

[2019-01-21 13:47] ojw28 commented on #5213
I tried inserting the code above into the demo app, and the language (i.e. whatever is being returned by `subtitleLists.get(i).getLanguage()`) is displayed fine. Are you sure `subtitleLists.get(i).getLanguage()` isn't returning `und`? Else I think you'll need to provide a small patch to the demo app that shows the issue, since it's not reproducible for us.

[2019-01-21 13:52] zishanj opened #5417 "Make UI components DataBinding friendly"
I am trying to use custom player controls and for this purpose I wish to use databinding with my viewmodel. Is it possible to set `controller_layout_id` of `PlayerControlView` programmatically so I can attach it with my viewmodel?

[2019-01-21 13:57] pawaom opened #5418 "Video pauses playback when audio is not available"
Video stops playback when audio is not available

I have a video it is 2 mins long, it has audio from start to 1 min 5 seconds, the video plays only till
1 min 5 seconds, and after that is pauses

if we move to other position using 'player.seekTo' beyond 1 min 5 seconds,it goes to that position but its still paused

but if move to other position using 'player.seekTo' below 1 min 5 seconds,it goes

[2019-01-21 14:08] ojw28 commented on #5418
It's impossible for us to help with this unless you provide proper reproduction steps (e.g. sample media, a small patch to the demo app to reproduce the problem, etc). Please properly fill out the issue template.

[2019-01-21 14:27] elbekD commented on #5416
But how I can decode it myself?

[2019-01-21 14:33] ojw28 commented on #5416
It's unclear what you're actually trying to do. ExoPlayer does exactly what your initial question asks automatically. Perhaps try and describe what you want in more detail. Thanks.

[2019-01-21 14:38] pawaom commented on #5418
here is the file

https://ufile.io/56hru

[2019-01-21 14:46] ojw28 commented on #5418
The video plays all the way through for me (using 2.9.3). Seeking past 1:05 also works fine. You may be using a very old version of ExoPlayer. In any case, we can't help further unless you properly fill out the issue template.

[2019-01-21 15:04] pawaom commented on #5418
ok thanks for the help yes I am using an old version of  exoplayer :r2.5.1, will chekc on the new exoplayer

thanks again

[2019-01-21 15:07] #5418 closed, assigned to ojw28

[2019-01-21 15:33] ojw28 commented on #5409
If you need to size something (e.g. a UI component) then you should use `VideoListener.onVideoSizeChanged`, which isn't documented as receiving `NO_VALUE`. This is what `PlayerView` does, for example. This callback gets the size on the output size of the decoder, which is the actual size of the decoded video buffers.

* Not applicable would normally mean it's not a video `Format` (e.g. resolution

[2019-01-21 15:52] jurriaan commented on #4964
I found this in the documentation of the Javascript SDK: https://developers.google.com/cast/docs/reference/caf_receiver/cast.framework.QueueManager#setQueueStatusLimit

When you have a custom receiver app you can remove the limit from the queue. This fixed seeking for me.

[2019-01-21 15:55] erdemguven commented on #5081
Closing due to inactivity.

[2019-01-21 15:55] #5081 closed, assigned to erdemguven

[2019-01-21 15:57] erdemguven commented on #5262
@egataullin2000 please respond to @ojw28's question: If there were a single exo_play_pause button, how would you attach (and trigger) the animation?

[2019-01-21 15:58] #5098 closed, assigned to erdemguven

[2019-01-21 15:59] #5279 closed, assigned to erdemguven

[2019-01-21 16:14] ojw28 commented on #3533
Fixed in `dev-v2`.

[2019-01-21 16:14] #3533 closed, assigned to AquilesCanta

[2019-01-21 16:15] #4813 closed, assigned to marcbaechinger

[2019-01-21 16:16] ojw28 commented on #3561
Fixed in `dev-v2` for API level 23 and above. There's still a little pause when key rotation occurs, however.

[2019-01-21 16:17] ojw28 commented on #3561
The pause is tracked by #4133, so closing this one.

[2019-01-21 16:17] #3561 closed, assigned to ojw28

[2019-01-21 16:50] erdemguven commented on #5287
Sorry, we can't help with this as it doesn't happen on the demo app.

[2019-01-21 17:00] ojw28 commented on #5417
I don't think this is possible. I'm somewhat unclear exactly how this works though. Is it not possible for you to set it in layout XML?

[2019-01-21 18:26] zishanj commented on #5417
with `databinding` we can use something like this:

[code]

We only need public access to layout property `controller_layout_id` so we can set it programmatically. Then we can access viewmodel methods, properties in our layout view. In above example `MyPlayerBinding` is automatically generated by DataBinding based on our `my_player` layout filename. `myPlayerControl` is id for ExoPlayer2.ui.Player

[2019-01-21 18:48] elbekD commented on #5416
All I need is just decode mp3 to pcm. For example, there is JLayer library, that can solve this problem. So the question is "can exoplayer library be used to decode mp3 to pcm and give stream of decoded data for future usage?". Thanks

[2019-01-21 19:09] ojw28 commented on #5417
I guess what I don't understand, is why do you need to be setting the controller layout programmatically? Why isn't the thing you inflate just the whole player view, which I think would avoid you having this problem? It's also unclear how the need to do this is directly related to `databinding`. It seems almost orthogonal?

[2019-01-21 19:14] zishanj commented on #5417
Without databinding I have to manually use id of views in activity to enable, disable or set listeners etc. or may be have to use another third party lib like `ButterKnife`. With `databinding` its very easy to manage the layout from viewmodel based on your specific logic especially when you use MVVM design pattern.

[2019-01-21 19:16] ojw28 commented on #5417
Yes, but why can't you inflate a whole player view using `DataBindingUtil`? That's what I don't understand.

[2019-01-21 19:18] zishanj commented on #5417
Entire `PlayerControlView` still does not give you access to its child layout which is set using `controller_layout_id` in xml. Using databinding I can only access the parent PlayerControlView not its child controller layout. For this purpose I have to set databinding separately for its child controller.

[2019-01-21 19:21] ojw28 commented on #5417
Oh right, the problem is that the controller layout is inflated internally in `PlayerControlView`, and so isn't inflated by `DataBindingUtil.inflate`. Is that correct?

[2019-01-21 19:22] zishanj commented on #5417
yes... we can't use viewmodel inside child layout and have to inflate it separately.

[2019-01-21 19:24] ojw28 commented on #5417
Got it. I don't think that's possible currently, I'm afraid. I'll mark this as an enhancement, but it will be considered low priority since we haven't seen anyone else asking for it.

[2019-01-21 19:27] ojw28 commented on #5416
The library contains all the pieces you'd need to do this, but not in a form that makes it particularly easy to wire everything up. @andrewlewis might be able to provide some rough guidance, but this isn't really a use case we're trying to support.

[2019-01-21 19:33] zishanj opened #5419 "2.9.x have compile issue with Java"
I have to step down to 2.8.4 just because 2.9.x have some compile issues with Java. The doc although mentioned about adding some compileoptions like
[code]
But these are already set in my Java based Gradle settings but still it throws error similar to #5276 . In that issue there is a suggestion for Kotlin based settings:

[code]

Does this 2.9.x is based on Kotlin and my Java app needs to be confi

[2019-01-21 19:54] prasadamsaiteja opened #5420 "How to let Exo Player buffer a local file"
Am new to Exo player, trying to play a video. I want the Exo player to buffer the video file where the video file is parallelly downloading from the internet. I know Exo player supports streaming from an HTTP source, but my requirement is to stick to a local file currently.

Exo player is throwing this Loader Exception when seeking to a position which hasn't been downloaded.

[2019-01-21 21:45] melakhvision commented on #5379
Hello @AquilesCanta  thank for your reply but can you be more precise or give a sample example

[2019-01-21 23:32] noamtamim opened #5421 "Make it easier to play clear lead without waiting for DRM keys"
In DRM-protected files, usually there's a Clear Lead -- the first few seconds are clear. It allows playback to start without having to wait for license response, improving video start time (and user experience).
For example, in the first Widevine asset in media.exolist.json (https://storage.googleapis.com/wvmedia/cenc/h264/tears/tears.mpd), the first 10 seconds are clear.

In ExoPlayer, the state

[2019-01-21 23:39] #5287 closed, assigned to erdemguven

[2019-01-21 23:43] #5294 closed, assigned to erdemguven

[2019-01-21 23:46] erdemguven commented on #5278
Closing due to inactivity.

[2019-01-21 23:46] #5278 closed, assigned to erdemguven

[2019-01-21 23:48] #5377 closed, assigned to erdemguven

[2019-01-22 03:45] xiaoxixi615 commented on #5396
I got the same problem when playing a local mkv/mp4 file,  exoplayer(v. r2.9.0)

2019-01-22 11:44:00.635 16320-22140/com.ximoxi.kiwiexoplayerdemo I/zygote: Waiting for a blocking GC Alloc
2019-01-22 11:44:00.652 16320-16331/com.ximoxi.kiwiexoplayerdemo I/zygote: Clamp target GC heap from 215MB to 192MB
2019-01-22 11:44:00.652 16320-22140/com.ximoxi.kiwiexoplayerdemo I/zygote: WaitForGcToComplete b

[2019-01-22 04:25] anhlevfx commented on #5038
Hello, I'm facing the problem too, but only with HLS live stream. With HLS VOD, get estimate bitrate from exoplayer instance working well.

[2019-01-22 04:37] alexeyr15 opened #5422 "Response code 403"
### Issue description
ExoPlayer reports InvalidResponseCodeException with response code 403 on fast switching between some live streams. I can assume that it is not exactly ExoPlayer issue but rather some specific server behaviour. So, I just wondeing is there some efficient way to work around this in ExoPlayer?

### Reproduction steps
1. Add links to live streams provided in email to media.exolis

[2019-01-22 07:42] coderain1 commented on #5408
Each ts link in the m3u8 file will be followed by the information of a token. If the ts link with token is directly used as the key of the cache, the information of the later token will change, but the ts video will not change. In this way, the local ts cache will be invalidated and the ts video will be downloaded again. Therefore, to generate custom rules for the cached key, use the ts link with

[2019-01-22 07:54] hafiz013 commented on #5417
I think this good question and make high priority since google has move forward to use data binding. Currently, adroid studio also already upgrade which are use data binding as well.

[2019-01-22 08:06] Svechnikov commented on #5003
I tried the workaround with setting the max values to 1920x1089 (which is already present in the last commit) and it didn't work on our amlogic s905 device (SDK 22) with 1920x1080 progressive video (in HLS). If I make method `codecNeedsMaxVideoSizeResetWorkaround` return false, it doesn't change anything.

However, if I make `MediaFormat.KEY_HEIGHT` equal  to 1089, strange enough, the picture gets

[2019-01-22 08:45] andrewlewis commented on #5416
You can control how decoded PCM audio is handled by replacing `DefaultAudioSink` (which writes to a platform `AudioTrack`) with your own implementation of [`AudioSink`](https://github.com/google/ExoPlayer/blob/d9462b9/library/core/src/main/java/com/google/android/exoplayer2/audio/AudioSink.java). You can inject this custom sink when constructing `MediaCodecAudioRenderer` in your `RenderersFactory`

[2019-01-22 08:45] #5416 closed, assigned to andrewlewis

[2019-01-22 08:59] elbekD commented on #5416
Thanks for suggestions!

[2019-01-22 09:13] tonihei commented on #5003
@Svechnikov Can you share a full bug report with all the logs in ExoPlayer's demo app? Preferably once with the working fix and once without. Would be good to see how they differ.

[2019-01-22 09:31] shgrg1712 commented on #5414
Hello Oliver,
                   Can you help me in Exoplayer Demo App.

I have downloaded application from https://github.com/google/ExoPlayer

I want to check the logic behind HLS encrypted play using Exoplayer. Please help me to configure the application or Let me know how to use it for this purpose if no configuration is required.

Thanks
Sheetal Garg

[2019-01-22 09:34] shgrg1712 commented on #5414
I have done cloning in Android Studio. I am running demo-ima app in the project.

[2019-01-22 09:35] swapnilgt commented on #4738
@komissarovdenis  Any updates on this? Were you able to solve this?

[2019-01-22 09:58] AquilesCanta commented on #5379
Change the first argument in the following line:

`return new DefaultHttpDataSourceFactory(Util.getUserAgent(this, "ExoPlayerDemo"), bandwidthMeter);`

For example,

`return new DefaultHttpDataSourceFactory("something", bandwidthMeter);`

[2019-01-22 10:08] ojw28 commented on #5422
The exact same thing happens requesting the streams from the command line on my desktop machine (using `wget`). It's the server that's returning the 403 (forbidden) response. You'd have to ask whoever hosts the streams to find out why.

[2019-01-22 10:08] #5422 closed, assigned to ojw28

[2019-01-22 10:12] ojw28 commented on #5421
The renderer (`MediaCodecVideoRenderer`/`MediaCodecAudioRenderer`) classes take a `playClearSamplesWithoutKeys` constructor argument that lets you enable this.

It's a bit awkward to change the value currently, since you'll probably need to provide your own `RenderersFactory`. We should perhaps make a method to turn it on on `DefaultRenderersFactory`, which would make it a lot easier. Marking as a

[2019-01-22 10:19] ojw28 commented on #5419
In pretty much all of cases where people are seeing this type of issue, it's because they've not made the changes to their gradle files correctly. Does the ExoPlayer demo app compile and run fine for you? If so, try and figure out what the difference is between that project and yours, in terms of how the gradle files are setup. If you're still stuck, I think you'll need to provide a small demo pro

[2019-01-22 10:21] ojw28 commented on #5408
I do not understand if there's a question here, or what it is. Please clarify. Thanks.

[2019-01-22 10:24] erdemguven commented on #5404
@AquilesCanta could you take a look at this.

[2019-01-22 10:28] zhangabvc opened #5423 "Can you provide a m3u8 template for playready?"
Exoplayer play failed when  this stream is choosed.
[GANTZOpr.zip](https://github.com/google/ExoPlayer/files/2782316/GANTZOpr.zip)

Can you provide a m3u8 template for playready?

[2019-01-22 10:34] Svechnikov commented on #5003
@tonihei I modified my initial comment. And here's my full bug-report.

### Issue description
On 1920x1080p video picture is not sharp, objects have pixelated edges. However, if I make MediaFormat.KEY_HEIGHT equal to 1089, strange enough, the picture gets sharper. It looks like with height equal to any value except 1089 the picture gets interpolated (with bad algorithm), which results in poor qual

[2019-01-22 10:41] erdemguven commented on #4251
Sorry for very late response. I tried the latest version of ExoPlayer and couldn't reproduce the issue. If you haven't already could you upgrade your ExoPlayer library and let us know if the issue is still producable.

[2019-01-22 10:51] zishanj commented on #5419
As I mentioned it may require Kotlin compiler settings but I just wonder why this Kotlin is not required for ver 2.8.4.

[2019-01-22 10:52] aiescola commented on #5384
Thanks ojw28, we'll investigate about it.

[2019-01-22 10:53] ojw28 commented on #5419
If you're using Kotlin in your application code then you might need to configure Java 8 for Kotlin. ExoPlayer itself doesn't contain any Kotlin code (in any version).

[2019-01-22 10:53] #5384 closed, assigned to erdemguven

[2019-01-22 10:58] tonihei commented on #5003
The first bugreport unfortunately doesn't contain the start of the video where the problem happens. And the second one only has a weird size change to 160x90 pixels?

Can you verify again that directly setting the max values doesn't help too?
`mediaFormat.setInteger(MediaFormat.KEY_MAX_WIDTH, 1920);` `mediaFormat.setInteger(MediaFormat.KEY_MAX_HEIGHT, 1089);`

[2019-01-22 11:52] Svechnikov commented on #5003
I don't know where this weird size came from, but the circle in the test video was smooth.

Did tests one more time:
[testFix.log.txt](https://github.com/google/ExoPlayer/files/2782612/testFix.log.txt) - logs with `MediaFormat.KEY_HEIGHT` set to 1089
[testInitial.log.txt](https://github.com/google/ExoPlayer/files/2782613/testInitial.log.txt) - logs without any changes
[testMaxHeight.log.txt](https

[2019-01-22 12:27] shgrg1712 opened #5424 "HLS Streaming - Input does not start with the #EXTM3U header"
Seached Issues - #4141 , #4150 ,#4066

I am using HLS encrypted Stream for exoplayer.

URL - https://mediadev.camtrack.com/dev/temp/bunny.m3u8?Expires=2072197799&Signature=PqNjmCoIRo~lSurGLVtY6FLBNGQRPVC-5JmD8Iq2BQJOopbnBlYNTlN8RBpPrdDELSK618rkIpsh18feUNpx4OjPUn6zc6IRePf20~CVnltW1IVlSf-uV3PLpK9Zjdjm82j12HEgD8m3mff5ihN4ReCzweOIxT41t~SQ95S319CvmuV-8LB4nNiZ2i~7K2MMYIzMOd~ZRrV~0VtFbSRDmb9kTu0ft~DysJb1

[2019-01-22 12:36] shgrg1712 commented on #5424
More Information

This is locally made URL so this is not georestricted URL.

[2019-01-22 12:47] shgrg1712 commented on #5424
Here I am attaching  encrypted version of file

Cipher - AES/CBC/PKCS7Padding
Key Size - 16
IV Size - 16
[encrypted.zip](https://github.com/google/ExoPlayer/files/2782787/encrypted.zip)

This is only m3u8 file. May be I need to upload .ts file also. I am new in this field . Please help If I am uploading incorrect or Incomplete media on url.

[bunny.zip](https://github.com/google/ExoPlayer/files/27

[2019-01-22 13:27] davidaik commented on #4738
I've been getting the same issue. My app plays music in a Service which is in a separate process of its own and I know that the ExoPlayer instance is accessed on the main thread of that process. I'm on 2.9.3.

[2019-01-22 13:33] tonihei commented on #4738
@davidaik @swapnilgt Please ensure that all player access is happening on the same thread and that this is the thread the player was created on. If you want to use another thread, there is also the option to specify a Looper in one of the `ExoPlayerFactory` methods.

[2019-01-22 13:34] tonihei commented on #5003
Thanks for the reports. As you noted, it looks as if this device is ignoring the MAX_WIDTH and MAX_HEIGHT parameters completely. When changing the video size itself, the codec seems to switch to a special 4K code path which doesn't have the bug. Note how the line with "omx output size changed from 1920*1088 to ..." isn't even part of the output anymore.

Although changing the video size itself see

[2019-01-22 13:51] davidaik commented on #4738
@tonihei Okay I investigated further and I found that IPC calls are not executed on the remote Service's main thread. I guess my issue is caused by concurrent modification and access of the pendingPlaybackInfoUpdates variable.

[2019-01-22 14:37] Khang-NT commented on #5407
This behavior will lead to:
* `PlayerView` display last video frame or thumbnail of item `i` while showing error message of item `i + 1`. When shuffle is enabled, it will confuse user because next item is unknown random position.
* I can't call `skip()` within `onPlayerError`. Because it actually set the window index to `i + 1` where the media item can't play. Then somehow I need to call `skip` "t

[2019-01-22 14:38] tonihei commented on #4738
You also get a logcat warning with a stack trace at the point where the access from the wrong thread is happening (from 2.9.0). So it should be easy to find the culprit code in theory.

[2019-01-22 14:44] tonihei commented on #5407
Fixing it in the way you describe would require some changes in how we progress internally through the playlist. Right now, we don't change the playing source to the next item until the next source is fully prepared. I agree that this not ideal, but it requires moving around some code in our core player. And a lot of care not to break things in the process. :)

I'll re-open as an enhancement, but

[2019-01-22 14:54] kvillnv commented on #5397
Hello @andrewlewis,
Please let me know if you need any additional information to solve this issue.
Thanks

[2019-01-22 15:09] ojw28 commented on #5424
None of the standard ways of providing encryption in HLS involve encrypting the playlist, which appears to be what you're doing here. They involve encrypting the individual media segments. So it's unclear what you're doing, and perhaps more importantly, why.

[2019-01-22 15:52] davidaik commented on #5289
I found that in a multi-process setup, the IPC calls are executed on a different thread than the main thread of the server. I have been getting the warning but I ignored it because I was completely sure that the IPC calls would execute on the Service's main thread. I was wrong.