[2020-01-17 21:34] #5030 closed, assigned to AquilesCanta

[2020-01-17 21:35] casolorz commented on #6885
You are correct on the DOCTYPE reason. My app lets the users bring their own subtitles from many places and they often fail to load. With other devices where I do this, it just fails to load the subtitle gracefully but with ExoPlayer it is preventing the video from playing.

My guess is that the best solution for me in this case is to first attempt to load the VTT file using the Webvtt parser ExoP

[2020-01-17 22:46] ojw28 commented on #6264
I can't see anything particularly wrong with the code snippet above. Given the lack of an obvious issue, I think we'd most likely require concrete reproduction steps to provide further guidance. E.g., you could create a sample project that reproduces the problem and put it on GitHub, so that we can try and reproduce the problem ourselves.

[2020-01-18 01:05] jopolot opened #6889 "Looping Mp4 video seamlessly"
I am trying to loop small videos that are 15 seconds to 1:00 min long. The player is set to repeat the video that is selected. The video itself loop works fine, but the audio drops for a split second at the beginning of the loop. For example a video of waves crashing across the beach, the video loops perfectly but the audio stops and you witness a pause in the sound then it goes back fine alone wi

[2020-01-18 03:06] mohitbhansali commented on #6168
We are facing the same issue, any solution for this?

[2020-01-18 06:43] Cubxity commented on #6870
I mean, it's basically doing what youtube-dl does, (scrapping the page and extract stuff, etc) but it handles the streaming

[2020-01-18 07:35] haohaozaici commented on #6864
Thank you for your reply and patience for viewing my code ~

It's a great honor to be able to contribute back to the core project, but before that, I hope my code runs correctly for a period of time without obvious errors or efficiency problems. I'm not an experienced developer, so it may take a long time. Anyway, I will continue to share my code and what I have done.

Back to the question, I obse

[2020-01-18 10:23] icetronics opened #6890 "CryptoException: Unknown Error with DASH+PlayReady"
### Issue description
In case of specific DRM-protected live DASH streams, after some seconds playback aborts with below Crypto exception.

[code]

### Reproduction steps
The exception only occurs on low-end FireTV models right after loading the stream.

### Link to test content
### A full bug report captured from the device
<sent via email>

### Version of ExoPlayer being used:  2.9.6
(not Amazon

[2020-01-19 03:36] ajonno opened #6891 "can we "insert" audio (eg. an ad/s) at runtime after X seconds of playback ? AdsMediaSource ?"
I've checked Stackoverflow and blogs etc but havent been able to find an answer so wanted to ask for your assistance here in terms of whether the Exoplayer API can handle this use case:

Users of our app will be listening to podcasts. We need to play ads at designated intervals during playback. These intervals, will vary by user. But for example it could be the following scenario:

"ad markers" in

[2020-01-19 04:13] ajonno commented on #5105
I was trying to understand how to use AdsMediaSource today as we are currently building a large podcast app (1M+ users from our existing user base) but no such luck :-(   Can you point me to some info/examples etc ? Many thanks

[2020-01-19 19:28] andrewlewis commented on #5105
The original [blog post about the IMA extension](https://medium.com/google-exoplayer/playing-ads-with-exoplayer-and-ima-868dfd767ea) still has some useful information and may be a starting point. The ExoPlayer demo app also integrates with the IMA extension so you could take a look at that as well. Resolving this issue by adding proper documentation to the developer guide is still work in progress

[2020-01-20 01:25] jopolot commented on #6889
I don't think this can be resolved due to the way MP4s are compressed. Upon reading as much research as possible on this, I don't think it can be accomplished with out using two players simultaneously or, editing player to start at a certain frame for every video, which would then cause an issue between the video part on the beginning frame and ending frame, for now I am going to use different for

[2020-01-20 08:49] robosoft-abhishek-v commented on #2250
@AntonAFA @ojw28 @AquilesCanta Any update on this? Still this is not supported in ExoPlayer?

[2020-01-20 08:53] vabhishek commented on #2250
@AntonAFA @ojw28 @AquilesCanta Hey Any update on this? ExoPlayer still does not support this out of the box?

[2020-01-20 08:57] #6873 closed, assigned to ojw28

[2020-01-20 10:10] FlorentDambreville commented on #6881
Thank you for your response.
If you can't be much of assitance, who would be ? The Play Services Cast Team directly ?

I am not really able to remove the use of dynamic feature. My player is a dymamic feature module in a modularized architecture.
Here are the feature module dependencies :
[code]
Where
`exo_player_version      = '2.11.1'`
`media_router_version  = '1.1.0'`
`gsm_cast_version        =

[2020-01-20 10:29] andrewlewis commented on #6889
If you are authoring the streams to play, I think it should be possible to get this to work with MP4. As a starting point you could try disabling video and checking whether the audio-only playback loops gaplessly. If it doesn't then you you might need to add gapless metadata to the audio track (an edit list).

[2020-01-20 11:18] andrewlewis commented on #6877
As described in the comment you linked to, this is a fundamental limitation of passthrough mode. The only workaround I can think of is to decode on the device (e.g., via the ffmpeg extension) and play as PCM where the volume can be modified. In the kind of use case where you'd use encoded audio passthrough I think it's common for the device to be "fixed volume" so users have to control volume on t

[2020-01-20 11:18] #6877 closed, assigned to andrewlewis

[2020-01-20 11:32] andrewlewis commented on #6890
This will probably need to be investigated by Amazon. It might be worth checking whether it's reproducible using their fork before reporting it, in case they have some workaround for a known issue.

If you want us to have a look anyway, please provide a full bug report, as requested in the issue template.

[2020-01-20 11:36] icetronics commented on #6890
Hi @andrewlewis, thanks for getting back. Have you had a chance to peek at the log I sent to the dev.exoplayer email address?

[2020-01-20 11:39] andrewlewis commented on #6890
Hm, I don't think we received them. Could you try sending the bug report again? Here are the instructions for reference:

[2020-01-20 11:48] ankur-93 opened #6892 "UnrecognizedInputFormatException: None of the available extractors (...) could read the stream."
com.google.android.exoplayer2.source.UnrecognizedInputFormatException: None of the available extractors (MatroskaExtractor, FragmentedMp4Extractor, Mp4Extractor, Mp3Extractor, AdtsExtractor, Ac3Extractor, TsExtractor, FlvExtractor, OggExtractor, PsExtractor, WavExtractor, AmrExtractor, Ac4Extractor) could read the stream.

if i have 4 videos in loop then sometimes first video is skipped and jump t

[2020-01-20 11:53] andrewlewis commented on #6880
I think using the playback thread might work, but we'd be associating a GL context with it and I'm not sure what would happen if one were to use multiple `DummySurface`s (using a separate thread makes it more self-contained).

What are the errors you're seeing with `setOutputSurface`? Could they be related to having multiple producers outputting to the surface, or reusing a surface in an invalid w

[2020-01-20 12:15] icbaker commented on #6885
Related because it's also due to corrupt subtitles, although the failures look to be in a slightly different bits of the code: https://github.com/google/ExoPlayer/issues/6640

[2020-01-20 12:29] icbaker commented on #6875
The demo app uses `MappingTrackSelector#.getCurrentMappedTrackInfo()` inside `EventListener#onTracksChanged` to get info about the selected tracks:
https://github.com/google/ExoPlayer/blob/ea342a671c610916fdcdcb3c4f5c740ff1374719/demos/main/src/main/java/com/google/android/exoplayer2/demo/PlayerActivity.java#L694

When I remove the DRM info from an entry in `media.exolist.json` [1] and then play t

[2020-01-20 12:35] icbaker commented on #6892
We need a lot more info.

Please fill in the [issue template](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md) (copy-paste it here, and fill in every section).

For this issue it sounds like we almost certainly need sample media that reproduces the problem in the demo app - either uploaded here or sent to dev.exoplayer@gmail.com with subject "Issue #6892".

[2020-01-20 13:17] icetronics commented on #6890
Sent again to given address. Please check.

[2020-01-20 13:38] ankur-93 commented on #6892
[code]
i am using Samsung tab4 and i does not reproduce in one go. it takes many iteration to reproduce. if the file is corrupt then it should not play even a single time. So there is no problem with the file. Please find below url for the videos. In my app i first download all the files then I use exoplayer to play locally.

https://we.tl/t-FVPdkLDnjm

Steps to reproduce:-
when i open my app, the

[2020-01-20 13:46] mrj976 commented on #6589
Thanks my friend
I searched in internet and use alot of ways with your sample code but dont work for me
Can you send me sample code for play a video with 4 or 6 audio files simultaneously.

Thanks

[2020-01-20 14:14] andrewlewis commented on #6890
Thanks for resending. The messages went into spam for some reason.

In the provided bug report I can't see the `CryptoException` in the logging. Please could you take the bug report just after reproducing the problem?

[2020-01-20 14:26] icbaker commented on #6892
Please copy & fill in the issue template in full.

I'm unable to reproduce in the demo app on a Pixel 3A XL. I tried playing `1.mp4` & force-quitting 100 times as follows and I didn't see any errors:

[code]

If you're able to reproduce in the demo app then please attach a bug report (as requested in the issue template).

If you're unable to reproduce in the demo app, it suggests there might be so

[2020-01-20 14:49] AquilesCanta commented on #6881
What do you think ?

I think that's possible. Mind comparing the play services versions of the involved devices?

I think the best we (ExoPlayer) can do about this is follow up with the Play Services team, but please confirm the play services versions.

[2020-01-20 16:56] FlorentDambreville commented on #6881
It seems the play services version are the same on the Pixel 3a & the Samsung S9.

Play Services version of the **Pixel 3a** :
![image](https://user-images.githubusercontent.com/5547520/72744535-0a37d180-3bae-11ea-9844-0fdafa817095.png)

Play Services version of the **Samsung S9** :
![image](https://user-images.githubusercontent.com/5547520/72744571-1c197480-3bae-11ea-920c-b848a3f3c314.png)

[2020-01-20 23:38] daveoxley commented on #6798
@ojw28 I can still make it go wrong by following the original steps using the demo app. Tested `dev-v2-r2.11.2` (ce1ec1d5dcd9620dc548acdd76f71472104dd454). It doesn't appear to happen as often any more but it still happens.

[2020-01-21 01:58] wallyho commented on #6671
Hi Do we have any new data on this ?
Thanks
Wally

[2020-01-21 04:14] jopolot commented on #6889
No streams, these are local videos, that are being looped seamlessly like a fan for white noise, or waves on the beach. It has worked in other formats, MP4 format with audio seems to be the issue, MP4 without audio loops seamlessly fine. Thanks for the help and feedback, but since I do not think the issue is related to the player, I will close.

[2020-01-21 04:14] #6889 closed, assigned to andrewlewis

[2020-01-21 05:55] Chuangwen-LIU commented on #6880
@andrewlewis Thank you for your explannation. The errors are yet to report (orginally we only report exception message which is always null). And we've replaced our surface with `DummySurface`s.

[2020-01-21 06:26] DevKishan101 opened #6893 "Does Exoplayer support SCORM extension files?"
Hi

I am looking to integrate a player that can play SCORM files to android and was wondering whether Exoplayer would support it.
If it does not it would be great if you could recommend some players that would support the same.

Thank You

[2020-01-21 06:56] waqasyousafy opened #6894 "H264 TS video not seekable in exoplayer"
I am playing the .mp4 h264 video in exoplayer with defaultExtractor. Video is not seekable. When i seek the video it goes to start everytime i want to seek it. Others MP4 videos plays fine without any issue . Help me I am beginner of exoplayer . Frame rate is 25. I am playing the video offline.

[2020-01-21 07:01] shubhamvashisht opened #6895 "Player throws exception while playing invalid last segment of a HLS file"
### [REQUIRED] Issue description
Player throws Exception while playing last segment of a hls file when the last segment is of less than 1 second duration.

### [REQUIRED] Reproduction steps
Play the below files and it should throw exception in the last segment

### [REQUIRED] Link to test content
master playlist : https://dbj64m8271a9g.cloudfront.net/60bdc7bf12206fa133e2e65099e9bec611cada30.m3u8

[2020-01-21 07:51] l1bbcsg commented on #6875
This is exactly what I was looking for, `MappedTrackInfo.getTypeSupport()` reports relevant and detailed enough info.
Thank you!

[2020-01-21 07:51] #6875 closed, assigned to icbaker

[2020-01-21 08:21] giladna opened #6896 "HLS: Text track gets stuck in LOADING state if final media segment has no content"
### [REQUIRED] Issue description

I play the following m3u8 on ExoPlayer demo app version v2.11.2
{
        "name": "Harold",
        "uri": "https://cdnapi.kaltura.com/p/243342/sp/24334200/playManifest/entryId/0_uka1msg4/flavorIds/1_vqhfu6uy,1_80sohj7p/format/applehttp/protocol/https/a.m3u8"
      },

the selected text track is "fr".

- if I let the media to play to the end ENDED event is fired.

[2020-01-21 08:34] stari4ek opened #6897 "Sony: No video for 4:3 on API 26"
### [REQUIRED] Issue description
On Sony TV device starting from API 26 (introduced with the update to it) there is no video during playback of 4:3 video while audio plays well. Other videos work well.

### [REQUIRED] Reproduction steps
This issue is reported by multiple users of "TV Input Service" app, I do not have Sony TV to reproduce it locally.

I have next environment:
* ExoPlayer as part of

[2020-01-21 11:00] mrj976 opened #6898 "Add dynamic MediaSource in Exoplayer"
I want add MediaSource in MergingMediaSource
My code:
`
MediaSource mediaSource = new MergingMediaSource(mediaSource1, mediaSource2, mediaSource3, mediaSource4);
`
This worked for me But I want add mediaSource1, mediaSource2, mediaSource3, ... mediaSourceN dynamic in main mediaSource

in ConcatenatingMediaSource i want add mediasource with addMediaSource But in MergingMediaSource i can not  use ad

[2020-01-21 11:23] Angry-Nerd commented on #6848
Sorry for late response.
Sorry I can't share the URL. It's confidential.
Yes my use case in similar.

Can it be possible that for every playlist snapshot I am getting have only 1 period and 1 window means 1 period and window for whole playlist because if I am logging getPeriodCount in onTimelineChanged, it is giving me 1 always.

Also isn't there any function which can tell which video is playing

[2020-01-21 12:25] icbaker commented on #6893
By SCORM do you mean https://en.wikipedia.org/wiki/Sharable_Content_Object_Reference_Model?

We don't support it I'm afraid, and I'm not aware of other players that do - maybe try asking on Stack Overflow or somewhere more general?

[2020-01-21 12:25] #6893 closed, assigned to icbaker

[2020-01-21 12:30] icbaker commented on #6894
We need more information to be able to help. Please fill in the [issue template](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/question.md) (copy-paste it here, and fill in every section).

Does this reproduce in the ExoPlayer demo app?

Can you provide test content that demonstrates the issue? Either upload it here or email it to dev.exoplayer@gmail.com with subject "

[2020-01-21 12:55] stari4ek commented on #6897
Checked TIF\TV App infrastructure a bit more.
`TvView` owns `SurfaceView` with `Surface` through it's holder. Surface dimensions should be updated when UI is measured or set to fixed if forced by TIS.
So it's not related to codecs. Please correct me if I'm wrong, and surface can be changed by decoder

[2020-01-21 13:26] icbaker commented on #6898
If I've understood correctly you want to add child MediaSources to a MergingMediaSource during playback? MergingMediaSource plays all its child MediaSources back concurrently, so can you elaborate on the behaviour you expect when you add one during playback - should it immediately start being played at the same point as all the existing ones?

It might help if you could give some more concrete det

[2020-01-21 13:34] icbaker commented on #6896
I can reproduce - and I note that in the demo app this also results in the play/pause button remaining as "pause" when playback has 'finished' in the 'BUFFERING without ENDED' case while it reverts to "play" in the 'ENDED' case.

Not sure exactly what's going on yet, I'll keep digging. Thanks for the report & super-clear repro instructions.

[2020-01-21 15:19] icbaker commented on #6897
The test link you provided seems to be 16x9:
https://devstreaming-cdn.apple.com/videos/streaming/examples/img_bipbop_adv_example_fmp4/master.m3u8

I used this one instead which is 4x3:
https://devstreaming-cdn.apple.com/videos/streaming/examples/bipbop_4x3/bipbop_4x3_variant.m3u8

I tested it in the ExoPlayer demo app on a Sony TV we have available at API level 24 and the video plays back fine.

I

[2020-01-21 15:26] icetronics commented on #6890
Sorry about that, now it has been corrected, I just resent it. Thank you

[2020-01-21 17:14] icbaker commented on #6895
I can repro with your provided HLS stream in the demo app.

I can also repro with just the final chunk:

[code]

How was this final chunk generated? It seems to be broken in various ways - Both ExoPlayer and VLC think it has 00:00 duration (whereas they both understand that the penultimate chunk has duration 00:05). ExoPlayer produces some audio before crashing when playing it back, while VLC does

[2020-01-21 20:20] toXel commented on #6521
Are there any updates on this?

[2020-01-21 20:31] greyski commented on #6168
Hi, I'm also seeing this in our production app right now (we sometimes have two videos playing on-screen in a `RecyclerView`) using Exoplayer version `2.10.2` and videos fail to play.
[code]

Edit: This was from a Pixel 2 running Q

[2020-01-22 06:56] mrj976 commented on #6898
Thank you
I found my answer
Use this code:

       `
        ArrayList<Uri> mediaSource_array = new ArrayList<Uri>();
        MediaSource mediaSource = null;

        mediaSource_array.add(uri1);
        mediaSource_array.add(uri2);
        mediaSource_array.add(uri3);

        MediaSource[] mediaSources = new MediaSource[mediaSource_array.size()];
        for (int i=0; i<mediaSource_array.size();

[2020-01-22 07:05] mrj976 commented on #6589
Thank you
I found my answer with your help
But i want change my mediaSources in every play dynamically.
For example:
I want in every play Exoplayer, add or remove one or more mediaSource in this code:
`
MergingMediaSource mediaSource = new MergingMediaSource(mediaSource1, mediaSource2, mediaSource3, mediaSource4);
`
I want change and play exoplayer again without exit activity and release exoplayer

[2020-01-22 07:09] stari4ek commented on #6897
I'm afraid that this one is on Sony's side and their TV App (Sony has own Tv App as opposite to reference "Live Channels"/"Live  TV" from Google).

* https://issuetracker.google.com/issues/148063802

[2020-01-22 07:22] shubhamvashisht commented on #6895
@icbaker Thank you for your response. I created the chunks using FFMPEG
part of python script used to create playlist
``` result = subprocess.Popen(['ffmpeg -y -i {} -map 0:a -codec copy -hls_time {}  -hls_allow_cache 1 -start_number 0 -master_pl_name {}.m3u8 -hls_list_size 0 -hls_base_url {} -hls_segment_filename {}-%04d.ts {}-variant.m3u8'.format(pathToDownloadedMediaFile, 6, mediaFileName, medi

[2020-01-22 09:39] sravan1213 opened #6899 "Codec requires surface workaround for MiTv's"
After updating MiTv's os to android 9 (api 28 ) we are getting [this](https://github.com/google/ExoPlayer/issues/5169) issue again.

After removing the sdk check in `codecNeedsSetOutputSurfaceWorkaround` the issue seems resolved.

[code]

Attaching bug-report for reference
[bugreport-dangal-PI-2020-01-22-15-07-12.zip](https://github.com/google/ExoPlayer/files/4096300/bugreport-dangal-PI-2020-01-22

[2020-01-22 10:04] mrj976 opened #6900 "Add or remove mediasources dynamically in Exoplayer"
I want in every play Exoplayer, add or remove dynamically one or more mediaSource in this code:

`
MergingMediaSource mediaSource = new MergingMediaSource(mediaSource1, mediaSource2, mediaSource3, mediaSource4);
`
I want change it by user and play exoplayer again without exit activity and release exoplayer.

[2020-01-22 10:05] andrewlewis commented on #6521
We'll update this issue when the media2 extension is published.

[2020-01-22 12:03] icbaker commented on #6895
I think your final segment (49) is not a valid MPEG-TS file.

When I convert it to MP3 with ffmpeg it complains that there's a header missing (segment 48 does not complain):

[code]

Additionally when viewing the last segment in a hex viewer[1], there seems to be a LAME header in the middle of the byte stream towards the end which is unexpected, as well as a significant amount of repeated data. Th

[2020-01-22 12:59] michaelknoch opened #6901 "frames were skipped when resuming video after pause"
### Issue description
I am facing an issue where ExoPlayer is somehow skipping frames on certain devices when playing a video after it has been paused. When resuming the video, exoplayer continues playback from stopped position + 200 to 500 ms (maybe it continues playback from one of the next/closest sync point). This may sound more like a nitpick to you, but our user experience highly depends on

[2020-01-22 13:03] giridharkannan opened #6902 "Possible reason for ANR"
### [REQUIRED] Issue description
ANR while releasing ExoPlayer

### [REQUIRED] Reproduction steps
Try playing a video with an audio such that, the audio contains priority or operating rate not supported by AudioMediaCodec

### [REQUIRED] Link to test content
https://drive.google.com/file/d/1Ky-a2LV2Gh66n9Wes1pEbPhGvjm7NgIS/view?usp=sharing

### [REQUIRED] A full bug report captured from the device

[2020-01-22 13:09] andrewlewis commented on #6902
Could you give some more details on how this is related to codec priority or operating rate, and where the bug is in ALooper? If you can provide that information we'll follow up with the media framework team. Thanks.

[2020-01-22 13:31] giridharkannan commented on #6902
That's again my assumption. If you have an proper audio, then the probability of you having an empty queue in ALooper while calling codec.flush will be low. The video link that I have provided should meet that criteria.

In [ ALooper.cpp ](https://android.googlesource.com/platform/frameworks/av/+/master/media/libstagefright/foundation/ALooper.cpp) please refer line number 193 and the methods ALoop

[2020-01-22 13:48] andrewlewis commented on #6902
`mLock` is held while posting and in `loop`, so I think the thread running the loop will wake up only after the entry has been added to the queue. Please take another look and let me know if I'm missing something.

[2020-01-22 13:58] andrewlewis commented on #6894
Potentially relevant: fragmented MP4 files without sidx boxes are not seekable (see the later replies on #6605 for more details).

[2020-01-22 14:44] giridharkannan commented on #6902
What you say is true. when we send flush via MediaCodec::flush it do add message to ALooper queue.
The stack trace of ExoPlayerImplInternal:Handler does confirm that part, interestingly, event after adding the message to queue, ALooper thread is still waiting in an infinite wait instead of it being interrupted.

If you could confirm the following sequence is possible, then it will confirm my assum

[2020-01-22 15:57] icbaker commented on #6900
This seems to be a duplicate of #6898, which you seemed to suggest was resolved so I closed it. I'll re-open that one, let's continue the discussion there.

[2020-01-22 15:57] #6900 closed, assigned to icbaker

[2020-01-22 15:57] icbaker commented on #6898
Please can you provide the additional context I requested above in https://github.com/google/ExoPlayer/issues/6898#issuecomment-576680811.

[2020-01-22 16:04] kapvode opened #6903 "HLS Widevine VOD playback stops with "Playback failed" at the second (and every subsequent) key rotation"
### Issue description

When I play the video, it stops at the point where it needs to load the third key. The message on the screen is "Playback failed".

The exception message on an Android 7.0 device is:

[code]

On an Android 9.0 device, the exception message is:

[code]

If I press play, the video resumes until the next key rotation, when it stops with the same error. I can keep repeating this

[2020-01-22 16:13] mohitbhansali commented on #6168
I have solved the issue by using a single instance of exoplayer at any moment.

[2020-01-22 16:23] XanderSan opened #6904 "More Exoplayer players active in the same time"
I would create an app using a ListView or a RecyclerView to play many 360 video at the same time using Exoplayer and, clicking on a video, show it fullscreen.
Is it possible? Is there some samples of this feature?

Thanks in advance

[2020-01-22 16:26] jmar777 commented on #6152
Hey, I'm preparing to implement this logic external to the player, but I wanted to make sure that this hasn't already been started in one of the dev branches?

Assuming not, would the recommended solution effectively come down to a polling handler that inspects delay / updates playback rate on an interval?

Many thanks for this amazing library!

[2020-01-22 16:43] billouboq commented on #6168
@mohitbhansali Hi, can you show me the part where you change media or when you are releasing it ?
It's not working on react-native-video and I'm searching how to correct it ...

[2020-01-22 17:09] andrewlewis commented on #6902
I don't think that sequence is possible, because [signaling and inserting](https://cs.android.com/android/platform/superproject/+/master:frameworks/av/media/libstagefright/foundation/ALooper.cpp;l=189-193) both happen while holding `mLock`, excluding `loop` from [waking up](https://cs.android.com/android/platform/superproject/+/master:frameworks/av/media/libstagefright/foundation/ALooper.cpp;l=205

[2020-01-22 17:43] icbaker commented on #6896
OK, after a lot of digging I think I have an explanation.

The final media segment of your HLS stream (`seg-10-v1-a1.ts`) doesn't actually contain any content, only TS frames.

This means when you seek to the end, ExoPlayer never gets deep enough into the extracting/decoding code to (re-)initialize the `timestampAdjuster`.

This causes the loader for the subtitle stream to block forever on `timest

[2020-01-22 17:52] icbaker commented on #6904
See discussion of using multiple players here:
https://github.com/google/ExoPlayer/issues/1286#issuecomment-190148041
https://github.com/google/ExoPlayer/issues/2855

You're likely to run into problems because your device might well only have one decoder, so decoding multiple videos simultaneously isn't really possible on these devices.

[2020-01-22 18:02] icbaker commented on #6901
Possibly relevant log line (i.e. 4 frames were dropped):
[code]

There are 53 other similar lines, always between 1 & 5 frames dropped.

I'll keep digging.

[2020-01-22 21:28] ghost opened #6905 "E/HwExtendedCodec: mime: video/avc matching compontent failed!"
I am using your DEMO example, I tried to play a stream but this error appears:

HwExtendedCodec: mime: video / avc matching component failed!

I would like to know what the solution already went round and round and nothing

[2020-01-22 21:31] ghost commented on #6905
[code]

[2020-01-22 21:36] shubhamvashisht commented on #6895
Hi @icbaker, Thank you for the detailed breakdown of the problem. You are right about the corrupted media source file (.mp3). I tried converting it to some other format and ffmpeg also had problem reading some bytes at the end of file. However VLC and Exoplayer both are able to playing the source file (mp3) just fine.

[2020-01-23 02:07] #6800 closed, assigned to tonihei

[2020-01-23 04:07] Angry-Nerd commented on #6848
@marcbaechinger Can you help me in this case?

[2020-01-23 08:39] kapvode commented on #6903
For example, these are the first few segments in the example without a clear lead, and slightly abbreviated.

`video.m3u8`
[code]

`audio.m3u8`
[code]

Playback stops at `00:20`, which is when the second audio segment ends, and we need the third key.

When I press play again, it resumes and stops at `00:30`, which is when the third audio segment ends, and we need the fourth key.

This is an exampl

[2020-01-23 09:48] akurni opened #6906 "App crashes while playing sets of videos on a loop"
### [REQUIRED] Issue description
The app is playing videos in a loop normally but sometimes there will be native crash happens intermittently... it's happened on Amlogic S912 based SBC

### [REQUIRED] Reproduction steps
it's a little bit hard reproducing this error since it happens intermittently.. but the app is playing multiple mp4 videos on a loop. once the crash happens, the app is on crash lo

[2020-01-23 10:30] jzhoubupt opened #6907 "DASH: Keep using redirected URL after 3xx response code"
### [REQUIRED] Issue description
When play a DASH Live stream with the MPD file configured as permanently re-direct(http status code 301/308) ExoPlayer still use the original MPD URI to re-fresh, which doesn't follow DASH IF IOP recommendation.

### [REQUIRED] Reproduction steps
Use the standard Exo Demo App play a DASH LIVE stream with the MPD file configured as permanently redirect to another UR

[2020-01-23 11:08] kapvode commented on #6903
I made a mistake in the reproduction steps.

To create an example without a clear lead, use `--clear_lead 0`, instead of removing the parameter completely.

[2020-01-23 11:42] tonihei commented on #6886
The suggestion above seems to work for me using code like that:
[code]

Note that seeking to `position-1` is needed because the player seems to ignore the seek to the current position even though it should change back to buffering state. Marking as bug to fix this issue.

[2020-01-23 11:57] tonihei commented on #6886
The comment above is using the new playlist APIs that will be added in 2.12. For the current release you can the equivalent with `ConcatenatingMediaSource` like that:
[code]

[2020-01-23 13:45] icbaker commented on #6903
I'm not able to repro this by following your instructions.

Can you either host the stream somewhere and send a link to the manifest, or upload the whole directory somewhere so I can ensure I'm using exactly the same media.

[2020-01-23 13:45] XanderSan commented on #6904
Ok, thanks for the response.
If possible I need an example that shows how open more than one player and test if it works on my device.

[2020-01-23 13:48] icbaker commented on #6904
This comment outlines the high-level approach you could take: https://github.com/google/ExoPlayer/issues/2855#issuecomment-303465454

This isn't something we have existing examples or documentation for because it's not likely to work on so many devices.

[2020-01-23 14:13] 17martix opened #6908 "exoplayer plays one or two songs before stopping while streaming with concatenatingMediaSource"
### [REQUIRED] Question
I'd like to know how to keep my playlist going. While streaming audio content, I've managed to play a maximum of 2 audios before the player stopping as if the playlist was finished. However, when I pressed next while audio is playing I can go through the whole playlist. I can't get where's the issue in my code. Here's my code:

[code]

where audio is the song I want to play

[2020-01-23 14:18] icbaker commented on #6905
Please fill in the [issue template](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/question.md) (copy-paste it here, and fill in every section).

It sounds like this might be device-specific, so we especially need to know:

* Exactly which media from the demo app you were trying to play.
* What you observed on the phone screen (not just the logcat) - ideally a screensho

[2020-01-23 14:25] #6895 closed, assigned to icbaker

[2020-01-23 14:42] icbaker commented on #6907
Thanks for the report, I'll let Olly take a look as he knows the most about DASH.

[2020-01-23 14:50] tonihei commented on #6907
We already have a pending internal feature request for this but didn't consider it as high-priority so far because repeated redirects still work. I'll mark this as an enhancement as well to track it publicly.

[2020-01-23 14:53] icbaker commented on #6908
Can you please provide a [minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-example)? I can't reproduce using the current code because I don't know what type `audioList` is, what `Utilities.get_uri` does, what `CacheKeyProvider` does etc.

You mentioned you're streaming the audio - does it work as you'd expect if the files are local to the device?

Does this still r

[2020-01-23 15:05] icbaker commented on #6901
I don't see anything else suspicious in the logs - can you explain how you're observing this 200-500ms skip?

The logging I can see looks like `mediaPos` remains the same at the pause & resume events. e.g.
**pause**
`01-22 13:39:29.736 10257 21907 21907 D EventLogger: isPlaying [eventTime=43.56, mediaPos=6.68, window=0, period=0, false]`

**resume**
`01-22 13:39:30.187 10257 21907 21907 D EventLog

[2020-01-23 15:32] icbaker commented on #6906
Based on the logs provided this doesn't sound like an ExoPlayer issue - it seems like something is broken either with the device or the Android build it's running. The failure you're seeing is coming from very low down in the media codec code paths.

I suggest you follow up with the board manufacturer - I don't think ExoPlayer team can be much help here I'm afraid.

[2020-01-23 15:32] #6906 closed, assigned to icbaker

[2020-01-23 15:45] ForgottenUmbrella opened #6909 "Unable to start looping playback of videos with shorter audio tracks"
### Issue description
The start of videos with significantly shorter audio tracks (e.g. 0.13 seconds of audio for a 30 second video) does not play when looping is enabled (`repeatMode` set to `REPEAT_MODE_ONE`), but seeking beyond some point enables playback of the rest of the video. When looping or the audio track are disabled, the entire video plays.
As stated in #1874, this issue is supposed to

[2020-01-23 15:45] krocard commented on #6906
This look like (jemalloc) free is calling abort (double free detected?) during AAC software decoding in the function https://cs.android.com/android/platform/superproject/+/master:frameworks/av/media/libstagefright/codecs/aacdec/SoftAAC2.cpp?q=onQueueFilled
at the offset 1668.

Unfortunately we do not have the symbol file (whoever built your android system image should have it) nor know if the file

[2020-01-23 16:08] jzhoubupt commented on #6907
Hi @tonihei ,
Thanks for your efficient feedback and confirmation.
Regards,
jzhoubupt

[2020-01-23 16:13] icbaker commented on #6909
Thanks for the report and test content, I can repro locally.

I don't think this is related to #1874 because that was about getting stuck in `BUFFERING` state whereas the logs I see suggest we're stuck in READY. The last `state` line I see is:
`2020-01-23 16:11:08.988 32519-32519/com.google.android.exoplayer2.demo D/EventLogger: state [eventTime=4.02, mediaPos=0.01, window=0, period=0, true, READY

[2020-01-23 16:17] kapvode commented on #6903
Thank you for the quick response.

This is the original video:
https://devel.uniqcast.com/test/exoplayer-6309/tears.mp4

HLS without a clear lead:
https://devel.uniqcast.com/test/exoplayer-6309/av/index.m3u8

MPD without a clear lead:
https://devel.uniqcast.com/test/exoplayer-6309/av/index.mpd

HLS with a clear lead:
https://devel.uniqcast.com/test/exoplayer-6309/av-clear-lead/index.m3u8

MPD with

[2020-01-23 16:38] icbaker commented on #6909
This looks like a duplicate of #6459

[2020-01-23 16:38] #6909 closed, assigned to andrewlewis

[2020-01-23 16:51] michaelknoch commented on #6901
thats interesting @icbaker, thanks for the insights. I can definitely constantly reproduce this with the mentioned samsung device. [You can find a screen record via adb here ](https://filebin.net/p4ilj5zinwdcc5pl/test.mp4?t=wgqscfc3)

[2020-01-23 18:43] sjurtf commented on #771
Hi, checking in here as well. Is it possible for you to squeeze this feature in some time soon?
Adding the point that there is some demand for this feature.

[2020-01-23 20:38] OmarBasem commented on #6168
@billouboq you just render on instance of react-native-video at a time. If you have a list of videos, just render the thumbnails of the other videos, and only react-native-video for the currently displayed video on screen.

[2020-01-24 04:52] waqasyousafy commented on #6894
#andrewlewis thanks for your suggestion but i am still confused between the these two concepts.one you have told me and second one is moov atom to be replaced at the begining of the videos . Please clear it to what it should be??

[2020-01-24 08:41] 17martix commented on #6908
My bad it seems my mp3 files are carrying some extra information that is causing the player to crash since they can't be read. issue #4954 explains this in detail.
I'm looking now on how to force exoplayer to ignore the error, otherwise, I will change my audio files.

[2020-01-24 08:50] billouboq commented on #6168
@ramon90 It's a little more complicated, I use only one Video Component but change the videoUrl fast sometimes, and since react-native update asynchronously, I think it can create race conditions.

I even used a a thing to delay url change with a 75ms timeout but even with it, usually around 10 to 20 (very random) video changes it crash.

Anyway I think it's more of a react-native exoplayer integr

[2020-01-24 09:11] andrewlewis commented on #6894
@waqasyousafy It would be easiest to help if you could share the media with us so we can try to determine exactly what's wrong with it (rather than speculating on what might be wrong).

It is best practice to put header data at the start of the stream so the player doesn't need to request header data from the end of the stream. For fragmented MP4 streams we need a sidx box to make them seekable (t

[2020-01-24 09:14] OmarBasem commented on #6168
I think a workaround for your situation would be is to make sure to render the next video's thumbnail before rendering the video component. For example:
`{this.state.willLoadNext ? <Image/> : <Video/>}`
And use a timeout to change will load next state.

[2020-01-24 10:40] #6908 closed, assigned to icbaker

[2020-01-24 10:50] #6904 closed, assigned to icbaker

[2020-01-24 11:13] icbaker commented on #6903
Thanks for the links, I can repro exactly how you describe.

I added some logging to the `OnKeyStatusChangeListener` and noticed the following when playing the no-clearlead version.

At the beginning of playback, during the initial load, these 6 key IDs are returned from the DRM server:

[code]

i.e. we have enough info at that point to decrypt the first 2 audio & video segments, plus a couple of

[2020-01-24 14:05] icbaker commented on #6901
Thanks for the video, I'm also now able to reproduce locally.

Andrew's going to take a deeper look at what might be happening with timestamps to cause this.

[2020-01-24 16:08] kapvode commented on #6903
The keys that you don't see in the media playlists are for SD video. The license proxy seems to be configured to return audio, SD and HD keys, even though the example only uses the HD video key.

If it helps, I have also created a Dockerfile that should allow you to reproduce the streams locally.

[code]

[code]

The URLs should now be:
[code]

[2020-01-25 06:03] MuthuKrishnanO commented on #6866
user@user:~/StudioProjects/ExoPlayer-release-v2$ FFMPEG_EXT_PATH="$(pwd)/extensions/ffmpeg/src/main/jni"
user@user:~/StudioProjects/ExoPlayer-release-v2$ NDK_PATH=/Android/Sdk/android-ndk-r20b
user@user:~/StudioProjects/ExoPlayer-release-v2$ HOST_PLATFORM="linux-x86_64"
user@user:~/StudioProjects/ExoPlayer-release-v2$ ENABLED_DECODERS=(–enable-decoder=mp3)
user@user:~/StudioProjects/ExoPlayer-rele

[2020-01-25 06:04] MuthuKrishnanO commented on #6866
exetension FFMpeg in exoplayer  with Decoders for mp3 but it show this  error
bash: ./build_ffmpeg.sh: No such file or directory

[2020-01-25 07:25] ForgottenUmbrella commented on #6909
Thanks for pointing me in the right direction, and apologies for the duplicate.
As a workaround, I'd like to programmatically disable the audio track if it is significantly short (<0.15s) by checking its duration, keeping in mind that the video duration is not the same. I see that the `Track` class has a `durationUs` field, but I do not know how to obtain an instance of the appropriate Track. The

[2020-01-25 07:29] faisalvv commented on #6783
i choose hls stream media playback. how can i use pre buffer for playing without delay.like facebook, instagram etc.. facebook and instagram not take such more seconds[2 to 4 seconds] for play.but this will take 2 to 4 second.i need play like face book and instagram. I am using  recyclerView with auto play video.using https://github.com/eneim/toro for that.

[2020-01-25 09:44] stari4ek opened #6910 "IllegalStateException for MPEG-TS when FLAG_DETECT_ACCESS_UNITS is used"
### [REQUIRED] Issue description

Playback of MPEG-TS fails with assertion when `FLAG_DETECT_ACCESS_UNITS` is used.
Video plays well in vlc/mplayer.

### [REQUIRED] Reproduction steps
Start demo app with provided asset and `FLAG_DETECT_ACCESS_UNITS` enabled.
* https://github.com/stari4ek/ExoPlayer/tree/tvirl/issues/1785

[code]

Removing `FLAG_DETECT_ACCESS_UNITS` solves the issue.
Replacing asser

[2020-01-25 09:48] giridharkannan commented on #6902
Took a while to understand. So mLock is like method level synchronization in Java
As you said, this is not happening in other devices and I don't know how to give a workaround.
Anyways, thanks for explaining.

[2020-01-25 09:48] #6902 closed, assigned to andrewlewis

[2020-01-26 07:38] Cubxity opened #6911 "How to download only the video with highest bitrate in adaptive format (DASH)"
### [REQUIRED] Searched documentation and issues
- I have looked at Exoplayer's developer documentation regarding downloading media

### [REQUIRED] Question
I would like to download a DASH stream however, it appears like it is downloading every format (qualities) of the stream. The video is 150 seconds long, the highest quality is 7941kbps.

The code I've used is:
[code]

My app is using 296MB (us

[2020-01-26 07:47] Cubxity commented on #6870
Any update on this feature? @ojw28

[2020-01-26 12:24] saleh-gholamian opened #6912 "lag in ui when call prepare"
Hi, im using exoPlayer for play music in my application.
I have recently noticed that when I call prepare, it delays the performance of the thread. This looks like a very bad bug.
I've also tried to use the exoplayer in the background thread to fix this but I get the error below, apparently there is no way to use the exoplayer in the background thread.

[code]
If the prepare method involves heavy

[2020-01-26 17:35] zishanj opened #6913 "Invoke-customs are only supported starting with Android O (--min-api 26)"
Compiling with latest version 2.11.1 in Android Studio 3.5.3 gives me this error:
`Invoke-customs are only supported starting with Android O (--min-api 26)`
I have also enabled Java 1.8 but this error still occurred. I have changed the version to 2.8.4 and it works.

[2020-01-26 19:27] ojw28 opened #6914 "Add optional automatic WifiLock handling"
This is a feature request for an option to automatically handle `WifiLock`s (similar to the option for `WakeLock` handling [added in 2.11](https://medium.com/google-exoplayer/exoplayer-2-11-whats-new-e0e0701e4b6c)).

It probably only makes sense to handle (1) neither type of lock, (2) `WakeLock` only (for local background playbacks) or (3) both `WakeLock` and `WifiLock` (for remote background play

[2020-01-26 19:43] wazerstar commented on #5491
[Adding another sample if first should expire.](https://mega.nz/file/cNAQ2ApS#bt0OhhBuxiAJ0s2_qioOxes6xO1cOIl-xE7AUX20lOY)

[2020-01-26 23:31] phharley17 commented on #6866
Double check your paths.

I completely have missed making the instructions.

[2020-01-27 05:21] waqasyousafy commented on #6894
@andrewlewis Sorry for late replying . Here is the video link i am using in playing :
https://drive.google.com/open?id=16CJJKU-p6Dwd3WBi8KaVuBJn1y8Os7qi

[2020-01-27 09:19] ojw28 commented on #6913
It seems pretty likely that you didn't do this correctly, given other answers to this question indicate that it's solved by enabling Java 8 (e.g. [this StackOverflow post](https://stackoverflow.com/questions/49891730/invoke-customs-are-only-supported-starting-with-android-0-min-api-26)). Our demo app targets `minSdkVersion = 16` and doesn't have this problem.

Are you certain that you enabled Java

[2020-01-27 09:22] zishanj commented on #6913
This is what I have in app build.gradle file:
[code]
I am using Android Studio 3.5.3 with latest `buildToolsVersion = '29.0.2'`

[2020-01-27 09:23] ojw28 commented on #6907
I think we should fix this for DASH given the explicit recommendation to replace the URL in the [DASH-IF guidelines](https://dashif.org/docs/DASH-IF-IOP-v4.3.pdf). We do already support `MPD.Location`, in case that's helpful to you in the meantime.

[2020-01-27 09:24] ojw28 commented on #6913
Where abouts? Are you sure you added it in the correct place? You'll need to share sufficient information for us to reproduce the problem (efficiently) for us to provide more guidance. A simple project that reproduces the problem is still the easiest way to do this.

[2020-01-27 09:29] marcbaechinger commented on #6848
I don't think I can help you much further then what I wrote above.

[2020-01-27 10:17] zishanj commented on #6913
@ojw28 Are you sure you have thoroughly tested the lib? Here is the complete content of my build.gradle file:

[code]

[2020-01-27 10:24] icbaker commented on #6894
Thanks for the media - although the provided file has a `.mp4` extension, it's actually an MPEG-TS file, not MP4:

[code]

I don't see exactly the behaviour you describe - when I play this file in the demo app there seek bar is completely disabled (rather than allowing seeking, but always returning to the beginning) - are you seeking programmatically without checking whether ExoPlayer thinks the m

[2020-01-27 10:24] #6894 closed, assigned to icbaker

[2020-01-27 10:36] ojw28 commented on #6913
There are thousands of applications successfully using versions of ExoPlayer more recent than the one that introduced the Java 8 requirement, that also set `minSdkVersion` lower than 26.

The part of your `build.gradle` that enables Java 8 looks fine to me, but it remains the case that this is unlikely to be an ExoPlayer issue. Is it possible you have some other module that depends on ExoPlayer as

[2020-01-27 10:39] zishanj commented on #6913
If I change the version to 2.8.4 then it compiles successfully. I have also commented out all the other dependencies in my gradle file but it throws error for 2.11.1.

[2020-01-27 10:39] #6897 closed, assigned to icbaker

[2020-01-27 10:41] jzhoubupt commented on #6907
Thanks @ojw28 . The fix is quite straight forward for this case.

[2020-01-27 10:43] ojw28 commented on #6913
It's not the case that 2.11.1 is completely broken when targeting `minSdkVersion` lower than 26, because other developers have this working, and because it also works for our own demo app.

This means that it's not trivial for us to reproduce what you're seeing. Actual reproduction steps (i.e. providing a simple sample project that reproduces the problem) are what we need to help you with this. Re

[2020-01-27 11:10] icbaker commented on #6909
Generally the way to programmatically enable/disable tracks is through a custom `TrackSelector` - either by implementing the interface from scratch or customising a `DefaultTrackSelector` instance.

Unfortunately ExoPlayer has an assumption that all the tracks in the media are the same duration, so the duration of individual tracks isn't exposed to a `TrackSelector` implementation. It's therefore

[2020-01-27 11:13] GouravSna commented on #6429
Hi @andrewlewis , Shall we upgrade it to 3.16.5 IMA latest ?

[2020-01-27 11:25] zishanj commented on #6913
I have attached the zip file [demo.zip](https://github.com/google/ExoPlayer/files/4116829/demo.zip). Here are details about the errors:

[2020-01-27 11:27] zishanj commented on #6913
This same issue happens with v2.10.x also.

[2020-01-27 11:52] andrewlewis commented on #6429
There are still no specific updates, but I understand from the IMA team that they're making progress.

[2020-01-27 11:53] geeta4 opened #6915 "Some Podcasts are not playing due to d: Error code: 262206"
Some podcasts are not playing on google podcast  and throwing error

[code]

[2020-01-27 11:54] danielgliga3ss opened #6916 "Playback freeze with tunneling enabled"
### [REQUIRED] Issue description
I am getting a video freeze from time to time while playing Widevine DASH streams with tunneling enabled, the playback does not recover and it stays like this until next playback start.

Do you have any idea what can be the cause ? Usually this happens after the video track is changed (using adaptive track selection) and in the logs I get this line:
`2020-01-27 12:

[2020-01-27 11:56] ojw28 commented on #6913
The issue is something to do with your use of retrolambda. Apparently the retrolambda plugin disables desugaring in R8/D8, as per this issue:

https://github.com/evant/gradle-retrolambda/issues/272

Note that use of retrolambda also causes problems when using other libraries, for the same reason. For example:

https://github.com/JakeWharton/RxBinding/issues/490#event-2041804513

[2020-01-27 11:56] #6913 closed, assigned to ojw28

[2020-01-27 12:47] ojw28 commented on #2250
When there is an update, it will be posted here.

[2020-01-27 12:59] waqasyousafy opened #6917 "tsdurationreader usage"

[2020-01-27 12:59] #6917 closed, assigned to ojw28

[2020-01-27 13:02] waqasyousafy commented on #6894
@icbaker thank you but i did not figure it out how to use it . I have searched a lot but not find any solution yet can you please refer me some example if you agree . I will be grateful to you .

[2020-01-27 13:14] ojw28 commented on #6915
This isn't really an ExoPlayer issue. The referenced `https` URL redirects to a `http` URL, which redirects back to an `https` URL again:

[code]

Google Podcasts is most likely failing because it's configured to disallow http entirely (meaning it can't follow the rediret), or because it's configured to disallow following https to http redirects. I'll close this issue, since it's not an ExoPlayer

[2020-01-27 13:14] #6915 closed, assigned to ojw28

[2020-01-27 13:23] icbaker commented on #6894
You will have to fork ExoPlayer and change the value yourself locally, then amend your gradle config to depend on your locally-compiled version rather than the one provided via jcenter.

This is the line you need to change:
https://github.com/google/ExoPlayer/blob/ea342a671c610916fdcdcb3c4f5c740ff1374719/library/core/src/main/java/com/google/android/exoplayer2/extractor/ts/TsDurationReader.java#L3

[2020-01-27 13:38] ojw28 commented on #6152
We haven't started work on this yet, I'm afraid.

An external solution would probably look something like that, yes. Note that you don't really need to poll the delay continuously, since you should be able to assume that for as long as the player is in the "normal" state of playing at 1x speed, the delay will remain constant. It should therefore be possible to listen to events from the player and

[2020-01-27 13:45] ojw28 commented on #6912
How have you determined that the call to `prepare` is what's causing the delay? I tried adding some timing around the `prepare` call in the demo app, and it seems to take between 2 and 3 milliseconds.

The `prepare` call doesn't involve heavy operations, and it didn't seem to cause any significant delay when I added some timing as described above.

If you're convinced the `prepare` call is the pro

[2020-01-27 13:54] ojw28 commented on #6870
This doesn't sound like a legitimate use case. You're trying to circumvent something that's explicitly designed to make it hard for you to do what you're trying to do. I.e., it's hard by design.

It's possible to handle expiring URLs in DASH and HLS using `CacheKeyFactory`, but in order to implement that interface you normally need to know the details of how the content URLs work, so that you can

[2020-01-27 13:54] #6870 closed, assigned to ojw28

[2020-01-27 14:24] ojw28 commented on #6910
Thanks for reporting this! The issue is not present in any release, but is present in `dev-v2` and `dev-v2-r2.11.2`. We'll submit a fix before 2.11.2 is released.

[2020-01-27 14:59] abellybeer opened #6918 "Player restart live dash stream after it ends"
Hello, I've been testing exoplayer to play live dash streams. So far I can play them without any problem, execept when the live event ends and manifest file changes to a different one. I managed to keep a track of manifest urls but it seems exoplayer just loads first live event and neglets to keep updating infos contained on new manifest file. I am not familiar with java but I already tried these

[2020-01-27 15:07] ojw28 commented on #6918
It's not a valid manifest transformation to replace one manifest file with another at the same URL. If they're different events they should have different URLs.

[2020-01-27 15:11] abellybeer commented on #6918
Hey @ojw28! Thanks for your answer! So the best approach for this would be having a static manifest.mpd URL that redirects to different manifest.mpd accordinly to live events?
 So when a live event ends, exoplayer will try to download static manifest.mpd that will redirect him to a dinamyc manifest.mpd

Is that how I should do?

[2020-01-27 15:22] icetronics commented on #6890
Hi @andrewlewis - did you maybe have a chance to peek at it? Thanks

[2020-01-27 15:22] tonihei commented on #6801
@zvonkokemperle @Koster35  Thanks for updating the reproduction steps.

It seems this is may actually be working as intended according to the issue you've linked, in particular this post: https://issuetracker.google.com/139821726#comment5
_"The dexing and desugaring pipeline has changed in 3.5, and by default, we assume all Maven dependencies are fully declared. In your case, "[library1, e.g. your

[2020-01-27 15:47] tonihei commented on #6883
This looks like something that could have happened in the past when you call `ExoPlayer.prepare(..., false, false)` for the situation you describe. Basically, the player's position wasn't reset and then we tried to resolve the old position in the new manifest (and failed). [This commit ](https://github.com/google/ExoPlayer/commit/28c7cb3716c2c054d47a55a927f368058a0ed2a5)looks like it may have fixe

[2020-01-27 15:47] #6883 closed, assigned to tonihei

[2020-01-27 16:01] ojw28 commented on #6918
Two separate live events are two separate pieces of media. You need to re-prepare the player with the new piece of media, which should also have a different URL. Where you get the URLs from is up to you as a service provider to resolve. Typically you'd provide a service that your application can query to obtain the live event URLs to play.

[2020-01-27 16:55] ojw28 commented on #6798
How many times do you generally have to try for it to reproduce? I haven't managed to reproduce the problem yet (using the same version you were using).

[2020-01-27 17:00] abellybeer commented on #6918
So, it will be better if I load media.exolist.json externally? Because I can put new links there everytime they update. But my question is, once I open one live event, will exoplayer know that particular stream name had his manifest.mpd changed to a different one? This is what I am struggling to solve.
I want exoplayer to know when theres a new url to load a keep streaming without stop.

[2020-01-27 17:17] ojw28 commented on #6918
`media.exolist.json` is just something our demo app uses. It's not part of the ExoPlayer library, and I wouldn't expect a real application to be using it.

I don't really understand what this means. If you have a service that's providing multiple live events, you almost certainly need a server that your app can query to obtain the playback URLs and associated metadata for each event. This logic wi

[2020-01-27 17:20] ojw28 commented on #6798
A couple of additional:

1. I know it's an annoying question (heh, sorry), but are you 100% certain you were using that build?
1. Does it make a difference whether the demo app's process is killed between the second to last and last reproduction steps? I'm wondering if you're only seeing it reproduce sometimes because it always happens in one case or the other (i.e. process is still alive vs proce

[2020-01-27 17:21] wallyho commented on #6671
Hi @ojw28 Oliver,
   Do you have an update? What else can we do? Thank!
Wally (Amazon)

[2020-01-27 17:39] abellybeer commented on #6918
Ok, I understand your point. How do I re-prepare my player for next live event without having to close stream and reopening it? Once my live event ends, it shows "Playback failed" on screen so I need to reopen stream and then it starts new live event.

[2020-01-27 17:42] ojw28 commented on #6918
If the live event is ending with a valid DASH manifest transformation then the player should transition to the ended state (rather than failing). If playback is failing then it's likely that the DASH live stream isn't ending in a compliant way.

When you want to start playing a new live event you should build a corresponding `MediaSource` and pass it to the player, just the same as the way you sta

[2020-01-27 18:02] abellybeer commented on #6918
My DASH manifest changes its baseURL parameter when theres a new live event coming. Also, when I tried watching one live event and then forcing my php to send a DASH manifest from another live event, I noticed exoplayer gets confused with start time and current time. It throws playback failed and I have to move the time bar and then it updates all the info from new DASH manifest and start playing

[2020-01-27 18:02] ojw28 commented on #6671
I tried repeatedly pausing and resuming the stream linked above in the 2.8.4 demo app on a Pixel 3 XL, and could not reproduce the issue.

* Does it reproduce in the ExoPlayer demo app on your device? In the bug report provided, it looks like you're probably using your own app to reproduce the problem. Some of the logging may also imply you're using a customized version of ExoPlayer (that's just s

[2020-01-27 18:07] ojw28 commented on #6918
I don't understand how this is compliant with the DASH specification. It's not valid just to do an arbitrary non-compliant manifest transformation and expect the player to figure out what you meant.

As per my previous responses, if it's a separate live event then it should probably be a separate manifest with a separate URL. You should "flush" the player by re-preparing it with a new `MediaSource

[2020-01-27 18:07] #6918 closed, assigned to ojw28

[2020-01-27 18:27] ojw28 commented on #6910
Actually, the issue is not present in `dev-v2-r2.11.2` either. It looks like you were using `dev-v2`. The change above should fix it there.

[2020-01-27 18:27] #6910 closed, assigned to ojw28

[2020-01-27 18:39] stari4ek commented on #6910
Yes, I was using dev-v2 on 9a9ef4397697f52f4262a60d02132814187cdd55

Thank you

[2020-01-27 19:14] pjunior94 opened #6919 "Is it possible disable Miracast?"
Is it possible to disable Miracast on Exoplayer when movie start to play?

[2020-01-27 19:17] ojw28 commented on #6919
My understanding is that Miracast is an OS level feature, and I don't think there's an API that allows an individual app to disable it. It feels like to do so would be a confusing user experience. What is it that you're actually trying to achieve by doing that?

[2020-01-27 19:50] pjunior94 commented on #6919
One of the requirements to send my product to the PlayStore is disable Miracast on Android devices this way the user can't cast the mobile screen to another device. I thought I could disable it exclusively on Exoplayer.

[2020-01-27 19:57] ojw28 commented on #6919
Whilst you can't disable Miracast, I think it should be possible for you to query whether it's enabled. You could then show a message to the user asking them to disconnect the external display rather than starting playback.

You can probably do this using [DisplayManager.getDisplays](https://developer.android.com/reference/android/hardware/display/DisplayManager.html#getDisplays(java.lang.String))

[2020-01-28 08:52] zvonkokemperle commented on #6801
@tonihei

Here is my implementation.

Library:

**build.gradle**

[code]

**MyPlayer.kt**

[code]

App:

**build.gradle**

[code]

**activity_main.xml**

[code]

**MainActivity.kt**

[code]

For dependencies I have tried both *api* and *implementation* and it crashes in both cases.

[2020-01-28 09:50] tonihei commented on #6801
I can reliably reproduce the problem with your setup. I think it still works as intended because you directly depend on the aar file and the problem goes away  once you change the dependency to `implementation project(path: ':exolibrary-debug')`

The underlying issue is that the aar file doesn't contain any dependency declaration and that's why the dexing step can't resolve the methods successfull

[2020-01-28 09:50] #6801 closed, assigned to tonihei

[2020-01-28 10:54] geeta4 commented on #6915
but it is playing https://play.hubhopper.com/79ca341bb30bd5bce43d54f7282d0ce0.mp3?s=hh-rss-feed

[2020-01-28 11:11] ojw28 commented on #6915
The Podcast team have confirmed that https to http redirects don't work, and that they'll look at fixing it [Internal ref: 148371236]. I'm not sure how the second link works, since that also contains an https to http redirect when I try using curl. It's possible that the redirect is different depending on the UserAgent, etc.

[2020-01-28 11:21] geeta4 commented on #6915
non working:
1. Meditacion Online y Mindfulness
2. Economia Falada
3. Misterios en Negro

working:
The Tollywood project

how if working is also redirecting and for cross protocol as well?

[2020-01-28 11:58] waqasyousafy commented on #6894
Thank you so much @icbaker . It solved my problem . You know its my first project in android . I am very happy to complete this . Thank you for help

[2020-01-28 12:09] ojw28 commented on #6903
Key rotation appears to be broken for HLS due to the way the `DrmInitData` is (or isn't :)) propagated.

[2020-01-28 12:15] msilva-verimatrix opened #6920 "Add a demo showing how to process video frames using GL before presenting them"
Good afternoon,
What would be the recommended way to extract video frames from ExoPlayer during the playback of a network url, edit the frames (to apply YUV filtering, effects or watermarking) and provide the updated frames to the player? Is it intercepting MediaCodec.queueInputBuffer() the way to go? The related ByteBuffer seems to aggregate raw video frames, but how to iterate through these fram

[2020-01-28 14:16] krackjack234 opened #6921 "Can we integrate an exoplayer based custom player with TVIF"
### [REQUIRED] Searched documentation and issues but could not find answer

### [REQUIRED] Can we integrate an exoplayer based custom player with TVIF for Android TV?

We want to integrate an exoplayer based custom player with TV input framework.
Our understanding is TVIF uses the exoplayer interfaces directly and we cannot customize it. Kindly confirm if this understanding is correct.

1. Is ther

[2020-01-28 15:29] phhusson commented on #6921
This question isn't related to Exoplayer.

There is no connection between TVIF and ExoPlayer, except that the examples of androidtv-sample-inputs are using ExoPlayer, and the usb tuner support is loosely based on exoplayer.

I recommend you look at:
- https://developer.android.com/training/tv/tif/tvinput
- https://developer.android.com/reference/android/media/tv/TvInputService
- https://developer.

[2020-01-28 17:57] saleh-gholamian commented on #6912
Sorry after checking out so much I realized that the problem wasn't ExoPlayer.
The problem was in the MediaCodecAudioRenderer class that I had manipulated
Thanks.

[2020-01-28 17:57] #6912 closed, assigned to ojw28

[2020-01-28 17:59] #6899 closed, assigned to ojw28

[2020-01-28 18:42] CalebGartner opened #6923 "Best way to retrieve current frame's Presentation Time Stamp from MPEG2-TS"
### [REQUIRED] Searched documentation and issues
I've looked around in both the source code and documentation, specifically for [TimestampAdjuster](https://github.com/google/ExoPlayer/blob/release-v2/library/core/src/main/java/com/google/android/exoplayer2/util/TimestampAdjuster.java) and PesReader. I know that the PTS values are extracted in [PesReader.java:219](https://github.com/google/ExoPlaye

[2020-01-28 19:11] vincentthai22 opened #6924 "HLS Buffering on Discontinuity"
**Issue description**

I have HLS streams I am trying to play using ExoPlayer. The player initializes and plays audio. Once the first discontinuity tag is hit the player buffers indefinitely and eventually recovers. Upon recovering the following discontinuity tags that are hit no longer cause buffering.

**Reproduction steps**

Load up the linked test content into instance of SimpleExoplayer as Hl

[2020-01-28 19:36] rrfrias commented on #6751
@kgrevehagen can you let us know what android builds the devices you mentioned are running? We have made some improvements in concurrency in android 10. It might also be more pronounced on devices with slower processors.

I assume you are not seeing the problem on a pixel 3. Is that running 10 or earlier?

[2020-01-28 23:13] #6921 closed, assigned to ojw28

[2020-01-28 23:14] rrfrias commented on #6751
If the problematic devices are running android O mr1 (8.1) or later, can you please include a bugreport as well.

[2020-01-29 02:07] #6840 closed, assigned to marcbaechinger

[2020-01-29 02:23] hyeonsu94 opened #6925 "Playback freeze when 'startNumber' property in 'SegmentTemplate' reset to zero. (Live Dash)"
I have a problem where playback freeze when I play a live-dash stream using exoplayer.

Playback freeze occurs when the 'startNumber' property of MPD's 'SegmentTemplate' is initialized.

The MPD during normal playback is as follows.
[before.mpd.txt](https://github.com/google/ExoPlayer/files/4121535/before.mpd.txt)

The MPD after the 'startNumber' property is initialized is as follows.
[after.mpd.t

[2020-01-29 08:13] harshmittal29 commented on #6693
@marcbaechinger So when I pause the player, ongoing is false and it calls stopForeground(false) which makes my notification removable which is expected.
When I play the player again (by clicking play button in notification), I get a callback inside onNotificationPosted with ongoing as true which calls startForeground(notificationId, notification).
It works fine on device (Pixel 3) but I see lot of

[2020-01-29 09:07] wahdatkashmiri33 opened #6926 "UI components: Customize previous / next"
In the **Exo-Player** video resumes from resumed position and i click on Previous control in Media Player then instead of directly playing previous video it seeks current video to 0 milliseconds and at that time when i click previous it goes to previous video.

   What i want is if i am in the middle of video then on clicking on previous it should directly playing previous video instead of resetti

[2020-01-29 09:59] dreich opened #6927 "App crashes when trying to play an AAC stream"
To be fast I'm starting from a question. If it'll be needed I'd provide more information for a bug report.
I'm not sure if ExoPlayer should play this AAC stream: http://stream.grad-petrov.ru:8093/aac.m3u.

It's bad that my app crashes at starting playing the stream and I can't catch it.
Version of ExoPlayer is 2.11.1.
If it's something wrong with the stream, then it's ok.

[code]

[2020-01-29 10:04] ojw28 commented on #6925
Please properly fill in the issue template; there's not enough information here for us to help.

In addition, what does it mean to "initialize" the "startNumber"? It looks to me like you've either linked the two manifests the wrong way round, or a manifest update has "gone backward", which I don't think is a valid manifest transformation.

[2020-01-29 10:16] ojw28 commented on #6927
It's not an AAC stream. It's an M3U file that contains a single link `http://stream.grad-petrov.ru:8093/aac`. You can download the file and open it in a text editor to see this. Note that Chrome will also just download the file, rather than play it.

We don't yet support parsing M3U files (it's tracked by https://github.com/google/ExoPlayer/issues/4066), so you'll need to do this yourself and give

[2020-01-29 10:16] #6927 closed, assigned to ojw28

[2020-01-29 10:18] ojw28 commented on #6923
This is not something we support. What are you actually trying to do (i.e., what's the feature for which this is needed)?

[2020-01-29 10:24] dreich commented on #6927
Thank you very much!

[2020-01-29 11:44] blueslabs opened #6928 "Failed to play AV1 with Gav1 decoder"
### [REQUIRED] Issue description
When played the included AV1 sample file, the demo app crashed with sigsegv.
The file played:
      {
        "name": "Big Buck Bunny 480p video (MP4,AV1)",
        "uri": "https://storage.googleapis.com/downloads.webmproject.org/av1/exoplayer/bbb-av1-480p.mp4"
      }

The crash stack:

[code]

### [REQUIRED] Reproduction steps
1. Follow this instruction to build

[2020-01-29 11:45] kgrevehagen commented on #6751
Information requested in comment in #6344:

- I'm reproducing it 100% on Huawei P10 Lite on Android 8.0.0 and LG G3 S (LG-D722) on Android 5.0.2, and our metrics shows that it happens on a lot of other devices as well(mostly low end), though I have not personally tested this. It is not happening on Pixel 3 on Android 10.

- I think it is much better if you are able to test this yourself and see it

[2020-01-29 12:05] ojw28 commented on #6911
I can't spot anything obviously wrong with your code. Can you reproduce it in the ExoPlayer demo app? Note that it should be pretty easy to make a minimal modification to `DownloadTracker` in the demo app to remove/skip the dialog.

If you can reproduce the problem there, could you point us to your modified clone of the demo app, so that we can take a look and reproduce it too?

[2020-01-29 12:18] tonihei commented on #6911
How did you determine that it downloaded all qualities? Your numbers suggest that it downloaded the same video twice somehow (because 296MB  = 2 x 148 MB), whereas all qualities should be around 288MB in total. Not a big difference, but just wanted to check we diagnosed the problem correctly :)

[2020-01-29 12:18] StefanosIliadis opened #6929 "Clear exo player notification when app stops from recent apps in android studio"
I am developing an app for radio streaming using exoplayer library. So, I want to clear(delete) exoplayer notification bar (with play/stop buttons) when I close the app. Now, I close the app but the notification bar still appears and doesn/t close with swipe left/right.

I try the following source code but it doesn't work.

[code]

I tried it with method cancelAll() , notificationManager.setPlayer

[2020-01-29 12:31] shobanavelmurugan opened #6930 "native_window_set_buffer_count failed: Invalid argument"
ExoPlayer-2.11.1: ExoPlayerImplInternal: Internal runtime error. java.lang.IllegalArgumentException at android.media.MediaCodec.native_setSurface:
-----------------------
Now i am using the  Exo player 2.11.1. i recorded the video for around 30-mins in landscape and previewed in landscape(The  orientationlistener moves activity from portrait to landscape for preview ) .At times in preview activity

[2020-01-29 12:32] blueslabs commented on #6928
Problem solved by using VideoDecoderGLSurfaceView instead of the default SurfaceView.

[2020-01-29 13:33] tonihei commented on #5660
There is now a public design doc for this feature at https://exoplayer.dev/design-documents.html  ([direct doc link](https://docs.google.com/document/d/1xXGvIMAYDWN4BGUNqAplNN-T7rjrW_1EAVXpyCcAqUI))

[2020-01-29 17:41] wallyho commented on #6671
Thanks Oliver, we know we made some changes to the amazon version of exoplayer but very small changes. We will do some deep digging to see if we did anything wrong. Do you have any advice upfront? Thanks!

[2020-01-30 05:10] chanbbong commented on #6865
thx

[2020-01-30 05:10] #6865 closed, assigned to tonihei

[2020-01-30 06:12] harshmittal29 commented on #6693
@marcbaechinger  can you link me to any example app for exoplayer using PlayerNotificationManager and background services.

[2020-01-30 08:15] ajay-aravind opened #6933 "How to get to know when user clicks any of the play back controls which is managerd by playerControlView?"
I want to report events to when user clicked on any of the playback controls. I am using Player Control view managed by exo player for all playback functionalities. I am not sure how to get a callback when user clicked on any playback control?

[2020-01-30 08:42] PaulWoitaschek opened #6934 "UI components: customize fast forward / rewind"
I'm developing an audibook player and I try to make use of the `MediaSessionConnector`.

Audiobooks may be split in several chapters and chapter marks so they present themselfes as a list of tracks.
From the listening perspective audiobooks are more of a single piece of media where you usually start at the beginning and listen linearly to the end.
Therefore I don't show the next/previous buttons b

[2020-01-30 09:37] LowLevelSubmarine opened #6935 "Requesting Media Source"
### [REQUIRED] Use case description
Months ago I tried to implement a MediaSource that takes two inputs: A primary queue, and a secondary list of tracks. The Media Source provides the tracks by the queue first and removes them after they have been played, and provides the tracks from the secondary list when the queue is empty.

### Proposed solution
I'd like to have a simpler option for creating c

[2020-01-30 09:56] ojw28 commented on #6928
I've forgotten whether the AV1 extension expected to work with `SurfaceView`. If it is, we may have a bug here. If it's not, is it possible to make the failure mode more obvious?

[2020-01-30 09:58] ojw28 commented on #6935
I'm a bit unclear what your use case is. Is it equivalent to having a single queue, where you want the first N items in the queue to be removed after they've been played? I'm guessing one use case would be pre-roll ads where you want them to be played only once?

[2020-01-30 10:04] LowLevelSubmarine commented on #6935
In my implementation, it should work like Spotifys system. (And prob other music apps). So that you have a base playlist that you play and a queue to which you can add the tracks that should be played before continuing with the base playlist. But the solution i proposed should work for more than my use case.

[2020-01-30 10:09] ojw28 commented on #6935
I don't think I've ever seen this system (despite using Spotify)!? That aside, I'm somewhat unsure why you can't use a regular `ConcatenatingMediaSource` for this, given that it supports adding and removing children.

[2020-01-30 10:20] LowLevelSubmarine commented on #6935
I've probably explained it bad. When you select a playlist in spotify the following tracks in the playlist will be played automatically. But if you want to play a track after the current track, you can use "add To Queue" in the tracks submenue and it will be played right after the current one.

[2020-01-30 10:34] ojw28 commented on #6935
Ah. Why can't you do this by adding and removing to a regular `ConcatenatingMediaSource`?

[2020-01-30 11:41] perracodex commented on #6930
Possible duplicate of #6874

[2020-01-30 11:52] mustafaberk1996 commented on #6879
Hello again @ojw28

In the project I want to do, the audio files must be separate from the video file.

`(So, unsurprisingly, the player doesn't know which one to select.)`
How can I define external audio files to the player?

I tried to do this as I added subtitles. it didn't work.

Do you have a method suggestion for me?

[2020-01-30 12:31] ojw28 commented on #6934
This isn't specific to `MediaSessionConnector`. The same feature request equally applies to `PlayerControlView` and `PlayerNotificationManager` too.

[2020-01-30 12:33] LowLevelSubmarine commented on #6935
The problem was, that you cant really tell where the tracks from the queue end and the tracks from the playlist start. I need to know this position to add a track right after the last one from the queue. I tried saving this position in an seperate int, but i had problems updating it.

Forget what I said. Just imagine having two concatMS in one concatMS. Lets name the first one the queue and the se

[2020-01-30 12:35] ojw28 commented on #6935
I don't understand why this is the case. Your application code is responsible for adding and removing all items from the `ConcatenatingMediaSource`. It should be fairly straightforward for you to keep track of this offset in application code as you do this.

[2020-01-30 12:38] ojw28 commented on #6879
As per my previous response, modern container formats support including a language directly inside the media itself. So you should look at doing this. Note that content generation questions are not really within the scope of this issue tracker.

Once each audio file contains its language, the approach of using `ProgressiveMediaSource` already discussed above should work.

We could also think about

[2020-01-30 12:49] ojw28 commented on #6933
Depending on what you're trying to do, you could try setting a `ControlDispatcher` via `PlayerView.setControlDispatcher`. The methods of this component are called whenever an operation is performed on the player as a result of a UI interaction. Note that if you do set a `ControlDispatcher`, then it's also responsible for actually performing the operations. Hence your implementation should probably

[2020-01-30 12:49] #6933 closed, assigned to ojw28

[2020-01-30 13:03] ojw28 commented on #6929
If you're supporting background playback then you should be using the notification for your foreground `Service`. I think that's probably sufficient to cause the notification to be removed in this case, so I suspect that you'er not currently doing this. Do you have a foreground `Service` to start with?

[2020-01-30 13:05] ojw28 commented on #6934
Note: https://github.com/google/ExoPlayer/issues/6926 is quite closely related to this request as well.

[2020-01-30 13:16] ajay-aravind commented on #6933
so, there is no way from the library to know if the play/forward/backward is clicked?

[2020-01-30 13:29] ojw28 commented on #6924
I couldn't reproduce the exact issue, but the updates this HLS stream makes to its media playlists are invalid.

In subsequent requests for the media playlist during playback, old segments are removed and new segments are added. This is expected for a live stream. However other tags in the media playlist are not being correctly updated. For example the `EXT-X-PROGRAM-DATE-TIME` tag that applies to

[2020-01-30 13:29] #6924 closed, assigned to ojw28

[2020-01-30 13:30] ojw28 commented on #6933
No; this is not something we support out of the box.

[2020-01-30 13:35] andrewlewis commented on #6928
Yes, I think it's probably a bug. I will take a look.

[2020-01-30 13:52] ojw28 commented on #6916
This sounds a bit like a device specific issue with the Technicolor STB, in which case I think you're going to have to report it to Technicolor. Does it reproduce on any other devices?

[2020-01-30 13:56] ojw28 commented on #6671
Try and reproduce the issue with the ExoPlayer demo app. That's a very fast way to determine whether you introduced the issue or whether the issue is in the ExoPlayer library itself.

[2020-01-30 14:09] tonihei commented on #6933
Not sure if you aware, but you get events for all these user interactions by adding an `EventListener` to the `Player`. This should already cover most of the required events:
[code]

The only potential problem is that the same events are triggered if you call `player.setPlayWhenReady(...)`, `player.next()` or `player.previous()` in code without UI interaction.

[2020-01-30 15:03] marcbaechinger commented on #6693
I don't think there is such a sample app.

Can you give me some more details on what these crash log are reporting?

[2020-01-30 15:08] ojw28 commented on #6934
@marcbaechinger - As discussed, it might be nice to move the next, previous, fast-forward and rewind functionality that's currently duplicated in all of our UI components into `ControlDispatcher` to address this and the issue referenced above (doing so addresses these issues because an application can provide a custom `ControlDispatcher` that implements the functionality in a different way).

[2020-01-30 15:15] marcbaechinger commented on #6929
The app probably is using a foreground service already and that's the reason why the notification can't be removed before [stopForeground](https://developer.android.com/reference/android/app/Service.html#stopForeground(boolean)) is called.

If this is true, the following would do the trick:

[code]

[2020-01-30 15:25] harika1511 opened #6936 "Pause/ Resume with Exo player download service"
Is it possible to pause/ resume a single download with exo player and track it's progress percentage? If yes, can you please let me know how this can be done

[2020-01-30 15:25] mustafaberk1996 commented on #6879
ohh! Now I looked and saw that my audio files do not have a language value.
I will try again with another audio file.

Thanks @ojw28

I will write the result.

[2020-01-30 15:28] harika1511 opened #6937 "Exo player single download pause"
Hi,
 Is it possible to pause or resume a single download with Exo player download service and track it's progress once it resumes.
If yes, can you please show an example of how to do this

[2020-01-30 15:29] #6936 closed, assigned to nobody

[2020-01-30 15:30] PaulWoitaschek commented on #6934
@ojw28 is it even possible at all to seek to sth like:
previusWindowIndex, previousWindowDuration - time? Or can I only get the duration of the current window and would need to first seek to the previous window and then set the position with the new duration?

[2020-01-30 15:45] iamradhakrishna commented on #6920
As per my basic analysis,this is possible by listening public void onFrameAvailable(SurfaceTexture surfaceTexture) method while rendering the video to surface but i am also looking for best solution.
Please suggest on this.

Best regards,
RK

[2020-01-30 15:52] ojw28 commented on #6934
Good point, it might not be possible to do it this way. Although it would be a nice change to make regardless.

[2020-01-30 15:53] ojw28 commented on #6937
Please take a look at the [documentation](https://exoplayer.dev/downloading-media.html#starting-and-stopping-downloads).

[2020-01-30 15:59] msilva-verimatrix commented on #6920
OK, thank you.
By configuring the video stream MediaCodec with a null surface in MediaCodecVideoRenderer.configureCodec(), it was possible to redirect the video frames to MediaCodecRenderer.drainOutputBuffer(), convert them to jpeg using YuvImage and then to Bitmaps using BitmapFactory. But I will also try the approach that you have suggested.
Are there plans to add support to more image formats i

[2020-01-30 16:08] harika1511 commented on #6937
But in the documentation I see a way to only pause all the downloads and not a single one..or is my understanding wrong, if so please correct me

[2020-01-30 16:10] ojw28 commented on #6937
The section describes how to set stop reasons on individual downloads...

[2020-01-30 16:12] harika1511 commented on #6937
But does setting stop reason cancel or pause the download ??and can we resume the download from the point it was stopped by clearing the stop reason

[2020-01-30 16:16] ojw28 commented on #6937
It has the same effect as pausing it. Clearing the stop reason will cause the download to resume (else there would be no point supporting the ability to clear a stop reason).

[2020-01-30 16:16] #6937 closed, assigned to ojw28

[2020-01-30 16:29] PaulWoitaschek opened #6938 "CommandReceiver not annotated properly with nullity"
MediaSessionConnector.CommandReceiver's method is not annotated with nullity annotations.
This forces kotlin implementers to specify all parameters with not null.

In MediaControllerCompat, the params and the receiver are annotated as nullable:
[code]

This makes it impossible to implement the CommandReceiver from kotlin.

[2020-01-30 16:53] andrewlewis commented on #6928
It looks like this was a behavior change in libgav1 in [this commit](https://chromium.googlesource.com/codecs/libgav1/+/e32daf8c39396218b1d78296e35133a33588661c) to do with how the buffer private data is checked/propagated. For now I am tentatively marking this as a bug in dependency (though it may turn out we need to change the wrapper code, TBD).

As a quick fix if you still want to use the Surf

[2020-01-30 16:59] ddproxy commented on #6924
This shouldn't be causing an issue per 6.3.3 of the HLS draft.

https://tools.ietf.org/html/draft-pantos-http-live-streaming-13#section-6.3.3

[2020-01-30 17:09] CalebGartner commented on #6923
I apologize; I should have been more explicit. In short, I'm trying to add the current frame's PTS value to a HTTP request header. I realize that it's an uncommon use-case.

I'm working with a setup that is streaming previously recorded TV content in MPEG2-TS format to the Exoplayer client. This means that the PTS values from the stream do not start at 0, but will usually start at hours or even da

[2020-01-30 17:14] ojw28 commented on #6924
If the date can be wrong then its existence isn't really useful. I've no idea how that statement ended up in the specification really. The statement was also removed in https://tools.ietf.org/html/draft-pantos-http-live-streaming-19.

[2020-01-30 19:36] ojw28 commented on #6903
This should be fixed in `dev-v2`.

[2020-01-30 19:36] #6903 closed, assigned to ojw28

[2020-01-30 20:04] kschults commented on #6155
@ojw28 I was able to verify that it's fixed in the dev-v2 branch. Hoping that it's able to get into a release shortly. Thanks so much for all the effort you put into it.

[2020-01-30 22:05] tch-Seb commented on #6916
The problem seems to come from android framework audio flinger.
I suggest to close this bug.

[2020-01-31 08:07] iamradhakrishna opened #6939 "How to stream single URL content into two surfaces?It should be sync in both."
Requirement:
Play same video content(one URL) into multiple or two surfaces using single Exo  player instance.
Both the surfaces should sync in video playing.
How can i achieve using exo player?Is there any limitations on this?

It is very similar to switching surfaces but here rendering into multiple surfaces the same content.
Please advice on feasibility or performance side effects.
Kindly sugge

[2020-01-31 08:11] sigusigu opened #6940 "Is there an example of adding local subtitles?"
### [REQUIRED] Searched documentation and issues

### [REQUIRED] Question
Is there an example of loading a local subtitle file stored on a device rather than a web address?
I added a subtitle file via url.
But it doesn't load subtitle files that are local to the device.
I would appreciate a hint.

### A full bug report captured from the device
I tried but not working
[code]
=======================

[2020-01-31 09:13] kentherzz commented on #6343
@marcbaechinger , dont you understand that this is not fixed? Why dont you reopen it?

[2020-01-31 11:18] andrewlewis commented on #6920
Is the idea to do some postprocessing on video frames output by the decoder before showing them to the user?

If so, this can be done by adding a `GLSurfaceView` to your layout, passing the player a `Surface` created from a `SurfaceTexture` based on a GL texture, and doing the filtering/compositing in a GL shader in your `GLSurfaceView.Renderer`, using the texture as input. I will mark this as an

[2020-01-31 11:24] msilva-verimatrix commented on #6920
Indeed, that would be the idea. And it would be great to have the demo!
Many thanks,

Moacir

[2020-01-31 11:58] andrewlewis commented on #6928
A fix has been submitted to libgav1 and will be available next time their repository is updated. Thanks for the issue report.

[2020-01-31 13:14] fredrikeneroth commented on #6348
Hi. We are facing similar problems. Is there any updates to this issue?

In our case it's 720p50fps which is causing stuttering and a lot of dropped frames on some devices. Most problematic on Google Pixel (Gen1) running Android 10, but also on a few other devices.

We found a (to us) weird thing though which I would love to get help understanding. If we keep the main thread busy by either tapping

[2020-01-31 14:35] ivan2311 opened #6941 "Mp3Extractor used for .flac instead of FlacExtractor"
I'm using Flac Extension to play .flac files via ExoPlayer. ExoPlayer has basic setup so `FlacExtractor` should be automatically used when .flac is played. To be exact, I'm using `DefaultExtractorsFactory` which supports 14 different Extractors, including `Mp3Extractor` and `FlacExtractor`.

Almost every .flac file plays ok, except one. For this one .flac file, `Mp3Extractor.sniff` returns true wh

[2020-01-31 14:43] Cubxity commented on #6911
The 720p quality should be around ~75MB
The 480p quality should be around ~37MB
The 360p quality should be around ~19MB
The 240p quality should be around ~9MB
So the rest of the quality (aka. excluding 1080p) would be around 140MB

User data (296MB) - the rest (140MB) = 156MB

[2020-01-31 14:43] ojw28 commented on #6941
Could you please share the problematic file, so we can see why `Mp3Extractor` thinks that it's an MP3 file?

[2020-01-31 15:22] christosts commented on #6348
We have been working on it. It is still in progress but let me share an update.

**Note: the following comment points to experimental code that is available on the dev-2 branch but it is still under testing/evaluation. Therefore we cannot guarantee at the moment the feature's stability or that the API will not change in a future release.**

As a first step, we are experimenting with operating Andr

[2020-01-31 15:43] ivan2311 commented on #6941
@ojw28 Unfortunately, I can't share that file currently. I'll see if I can share some sample file that has the same issue, so you could investigate Mp3Extractor.
In the meantime, can you please help me with my question? Is that safe to do?

[2020-01-31 16:23] ojw28 commented on #6941
I think it's probably safe. @kim-vde might have further thoughts. Note that there's a tracking issue for determining what the best order of extractors really is, which is https://github.com/google/ExoPlayer/issues/6410.

[2020-01-31 16:42] ddproxy commented on #6924
Too many drafts - would really like to see an example of the X-PROGRAM-DATE-TIME being used in a stream so we implement it correctly.

[2020-01-31 16:45] ojw28 commented on #6924
What's the confusion, our of interest? The spec seems fairly clear to me:

Normally it's at the top of the media playlist, as it is in your stream. But it should be the time that corresponds to the first media segment in the media playlist, so as segments are removed it should be getting larger.

[2020-01-31 17:06] dsotr opened #6942 "Deprecated method"
### [REQUIRED] Searched documentation and issues
This link states the document used is deprecated, do we have evidence that it is still safe to use?
https://developers.google.com/interactive-media-ads/docs/sdks/android/v3/api/reference/com/google/ads/interactivemedia/v3/api/BaseDisplayContainer.html#public-abstract-void-registervideocontrolsoverlay-view-videocontrolsoverlay

### [REQUIRED] Questio

[2020-01-31 17:08] christosts commented on #6348
@fredrikeneroth can share a link to the 720p50fps video to test it on a Pixel? If you cannot share it in public, will you be able to email to dev.exoplayer@gmail.com with subject "Issue #6348"?

Thanks

[2020-01-31 17:12] andrewlewis commented on #6942
The IMA extension currently depends on IMA 3.11.3, which should continue working until September per their [deprecation schedule](https://developers.google.com/interactive-media-ads/docs/sdks/android/v3/deprecation).

We'll update to the non-deprecated method once we do the upgrade for #6429. This can't be done yet because as part of bringing in the API changes in that release we are also relying

[2020-01-31 17:12] #6942 closed, assigned to andrewlewis

[2020-01-31 17:12] ojw28 commented on #6940
Please take a look at [the documentation](https://exoplayer.dev/media-sources.html#side-loading-a-subtitle-file), which provides an example.

Given the `ClassCastException` that you're seeing, I think it's likely that `manifestDataSourceFactory` in your code is an instance of `DefaultHttpDataSourceFactory`. If you need to load media from other (non-http) locations as well, you should be using a `D

[2020-01-31 17:12] ddproxy commented on #6924
So it's supposed to be updated each time we remove a segment from the playlist?

[2020-01-31 17:14] ojw28 commented on #6924
As per the quote above, it's the absolute date and/or time of the first sample of the next media segment. So if you have it at the top of the media playlist, it's the absolute date and/or time of the first sample of the first media segment in the playlist. Hence if you remove a media segment from the start of the playlist, you need to update the `EXT-X-PROGRAM-DATE-TIME` value to be correct for th

[2020-01-31 17:16] ojw28 commented on #6924
By the way, I don't know if it covers this particular case, but Apple provide a validation tool that you can use to test the correctness of your streams ([see here](https://developer.apple.com/documentation/http_live_streaming/about_apple_s_http_live_streaming_tools)).

[2020-01-31 17:35] ojw28 commented on #6939
This is quite difficult to achieve because a `MediaCodec` instance is tied to a single `Surface`. If I remember correctly, the solution is to render it to a texture, which you can then render to multiple places, but it's quite complicated to get this right.

[2020-01-31 17:39] ddproxy commented on #6924
It can and does, but examples help first, linting second, and that tool helps with functional spec - it's just not always clear what's not working properly, unfortunately.

[2020-01-31 17:53] fredrikeneroth commented on #6348
Okay, that sounds promising @christosts. Will try it out. I've sent the test content to your email. Let me know if it doesn't work or if you need any additional content.

[2020-01-31 18:00] kim-vde commented on #6941
I would be curious to have an example of a FLAC file for which the MP3 sniffing returns true. It would be interesting to understand exactly what happens to potentially prevent it.

I think it is indeed safe to put the FLAC extractor before the MP3 extractor. The only way an MP3 file could be interpreted as a FLAC file is if the first 4 bytes following the ID3 data are "fLaC" in ASCII (in hexadecim

[2020-01-31 18:08] ddproxy commented on #6924
When we have a discontinuity tag, do we need to have an additional EXT-X-PROGRAM-DATE-TIME for that segment? I'm finding conflicting information.

[2020-01-31 18:12] ojw28 commented on #6924
Assuming the stream corresponds to a contiguous period of time and the discontinuity tags are to handle a change in source (e.g. due to ad insertion) then I don't think you need an additional `EXT-X-PROGRAM-DATE-TIME` after the discontinuity tag.

[2020-01-31 18:13] #6938 closed, assigned to marcbaechinger

[2020-01-31 18:15] #6919 closed, assigned to ojw28

[2020-01-31 18:16] ojw28 commented on #6911
Please try reproducing the issue with the demo app, as suggested above. Thanks!

[2020-01-31 18:18] #6871 closed, assigned to ojw28

[2020-01-31 18:20] ddproxy commented on #6924
That's my hopes and dreams - would be pretty difficult to keep track of that ALL the time.

[2020-02-02 02:06] #6850 closed, assigned to marcbaechinger

[2020-02-02 22:57] brAzzi64 commented on #6103
Hi @tonihei, I just wanted to check back on this and see if you guys got any chance to start looking into the fix for this issue. Any update would be really appreciated!

[2020-02-03 01:23] sigusigu commented on #6940
Thank you for your advice And I succeeded

[2020-02-03 01:23] #6940 closed, assigned to ojw28

[2020-02-03 03:27] harshmittal29 commented on #6693
[com.mindvalley.mva_issue_crash_5E3771940077000134D2B787F857CA6C_DNE_0_v2.txt](https://github.com/google/ExoPlayer/files/4146119/com.mindvalley.mva_issue_crash_5E3771940077000134D2B787F857CA6C_DNE_0_v2.txt)

Attaching crash report. I really appreciate your patience and help with this @marcbaechinger  :)

[2020-02-03 09:06] fredrikeneroth commented on #6348
Update: I tried the dev-v2 branch and all of the different operation modes. Unfortunately it didn't help with the dropped frames. I also just mailed you some new up-to-date test content.

[2020-02-03 10:56] ivan2311 commented on #6941
Thanks @ojw28 and @kim-vde for the explanation. As for the .flac file for which the MP3 sniffing returns true, I'll try to share it with you ASAP. In the meantime you can close this issue and I can reopen it when I have some sample file for testing.

[2020-02-03 11:12] stari4ek opened #6943 "Invalid audio track info for TS/HLS (Parametric Stereo)"
### [REQUIRED] Issue description
ExoPlayer identifies audio track incorrectly (mono/24kHz vs stereo/48kHz):

**ExoPlayer**:
[code]
**MediaInfo**
[code]

**VLC**:
[code]

### [REQUIRED] Reproduction steps
Start demo with local TS file provided below

[code]

### [REQUIRED] Link to test content
* https://drive.google.com/open?id=1ZKyV4RovkirTNFiP58p_X77d-AiwkLSQ

### [REQUIRED] A full bug report cap

[2020-02-03 12:14] Miteshmakwana73 opened #6944 "Notification not removed on playerNotificationManager.setPlayer(null)"
I am trying to remove PlayerNotificationManager notification on activity destroy but it's not removing notification after app killed

[code]

can anyone suggest me why notification is not removed programmatically

[2020-02-03 13:38] tonihei commented on #6103
Sorry haven't started working on this yet. We'll update this issue as soon as we've got something.

[2020-02-03 14:42] AquilesCanta commented on #6944
@marcbaechinger, mind taking a look?

[2020-02-03 14:55] marcbaechinger commented on #6944
When looking at the code, calling `setPlayer(/* player= */ null)` results in calling `notificationManager.cancel(notificationId)` in case there was a) a non-null player set and b) a notification has already been started. So I'm pretty sure that works as expected.

In case you are running the player in a foreground service, and you've called `startForeground(notificationId, notification)`, the noti

[2020-02-03 15:07] marcbaechinger commented on #6693
The log says still the same

[code]

Please refer to my comment regarding `onNotificationPosted` and make sure that `startForeground(notificationId, notification)` is called in any case, when the fitrst notification is posted. If you do not call `startForeground` you get the exception above.

It seems to my that your app allows that the service starts with something causing `ongoing` being `false`

[2020-02-03 17:26] shleemars commented on #6693
삼성 갤럭시 스마트폰에서 보냈습니다.
-------- 원본 이메일 --------발신: Marc Baechinger <notifications@github.com> 날짜: 20/2/4  오전 12:07  (GMT+09:00) 받은 사람: google/ExoPlayer <ExoPlayer@noreply.github.com> 참조: Subscribed <subscribed@noreply.github.com> 제목: Re: [google/ExoPlayer] Exoplayer Player notification manager
  onNotificationPosted bug (#6693) The log says still the same
Fatal Exception: android.app.RemoteServiceEx

[2020-02-03 17:42] Miteshmakwana73 commented on #6944
I am using this code to show notification in main activity

[code]

I am not using any foreground service to show notification

[2020-02-03 17:59] marcbaechinger commented on #6944
When you are saying that you are trying to remove the notification from onDestroy with the snippet above then you are sure that onDestroy has been called? Like in you have set a break point there or a log statement telling you that `playerNotificationManager.setPlayer(null)` actually has been executed?

If this is the case I wonder what's the problem too. I just checked in a sample and calling

no

[2020-02-03 18:24] Miteshmakwana73 commented on #6944
you are right I just checked onDestroy is not called in my app. but if I press back then onDestroy is calling and notification removing successfully

so is there any other way? to perform my task

[2020-02-03 19:30] kehongnvidia commented on #6343
@alexey-rabets can you share your problematic video clip?

[2020-02-03 22:12] marcbaechinger commented on #6944
Glad it's working!

I think you should do that right before you release the player, which is either in `onPause` or in `onStop` depending on the API level. The [PlayerActivity](https://github.com/google/ExoPlayer/blob/release-v2/demos/main/src/main/java/com/google/android/exoplayer2/demo/PlayerActivity.java#L253) of the demo app shows, how initialisation and releasing of the player is properly int

[2020-02-04 03:46] alexeyr15 commented on #6343
The link to the live video stream sent by email with the subject "Issue #6343" is still available. You can use it to reproduce the issue.

[2020-02-04 06:40] Miteshmakwana73 commented on #6944
@marcbaechinger thank you for your response but I am developing  audio streaming app so notification would stay until app close

onStop doesn't help me

should I have to create background service just to destroy notification? or is there any other better option available cause I don't know much about Service

[2020-02-04 10:24] AquilesCanta commented on #6930
Hi @shobanavelmurugan, in order to help with this, we will need:
- A sample stream. -- Ideally, it should be the shortest possible video that reproduces the issue.
- A bugreport as captured by running `adb bugreport` shortly after seeing the issue.

Thanks!

[2020-02-04 11:24] marcbaechinger commented on #6343
When I try that url it gives me a 301 (moved permanently) with a redirect to an url with an ip address and a hash which then gives me a 404.

[2020-02-04 11:29] alexeyr15 commented on #6343
I have shared the interlaced video sample of 30 minutes duration to reproduce the issue:
https://yadi.sk/d/itbdzxNqcpJFAw

[2020-02-04 13:06] christosts commented on #6348
An update:

We are seeing varying performance improvements between devices. For example, for Pixel (Gen 1) we got a noticeable reduction on dropped frames (10x). But for some other devices the performance improvement is small and does not make a noticeable difference.

@fredrikeneroth what were the devices you tested with?

We expect to push the additional code improvements for high fps soon (hope

[2020-02-04 14:26] rs146 opened #6946 "No video is shown on protected DASH stream on some Android 9.0 devices"
### [REQUIRED] Issue description
No video content is displayed in the player - however we can hear audio in the DASH stream.

### [REQUIRED] Reproduction steps
Use the ExoPlayer demo app and start playback. We have to specify the manifest stream url and drm license url. We are using widevine DRM.

### [REQUIRED] Link to test content
I will send a message to dev.exoplayer@gmail.com a sample DASH ma

[2020-02-04 18:41] LowLevelSubmarine commented on #6935
U gave me trust in redoing my my queue system in a seperated class. Although I do think, a solution as i proposed would make things a lot easier. Could you close this issue for now if u don't see a chance for such a feature?

It's just that u guys have a better understanding of that whole MediaSource system and could prob. add such a feature in minutes.

[2020-02-04 20:45] ashraf-patel commented on #6504
Any updates on this?

[2020-02-04 20:45] ashraf-patel commented on #6504
Any updates on this?

[2020-02-04 22:54] jyee-brcm opened #6947 "Video freeze on video track change in tunnel mode"
### [REQUIRED] Issue description
Video freeze when changing video track in tunnel mode
The underlying issue here is in tunnel mode, when video track is changed, on the audio side we do not see a stop/start. The video decoder require this to occur in order to be put in the right state and proceed to play the new track properly. This can be solved by performing stop/start on the audio side or perfor

[2020-02-04 22:55] ojw28 commented on #6935
I think it's actually easier for an application to implement this directly using the existing `ConcatenatingMediaSource` API, than it is to write a custom `MediaSource` component. It's also more flexible and generalizes better to other variations of queuing that applications might want to implement.

[2020-02-04 22:55] #6935 closed, assigned to ojw28

[2020-02-04 23:40] ojw28 commented on #6923
How does this feature handle PTS wrap-around every ~26 hours? Wrap-around of PTS in MPEG-TS is one of the reasons why we don't expose PTS directly as the playback position, because the playback position should always be increasing. Containers like FMP4 don't have this problem because they allow for timestamps to be represented with sufficient bits such that wrap-around will never occur.

I wonder

[2020-02-05 00:21] ojw28 commented on #3601
Closing as part of a scrub of device specific issues that were filed more than 2 years ago.

[2020-02-05 00:21] #3601 closed, assigned to ojw28

[2020-02-05 00:21] ojw28 commented on #3417
Closing as part of a scrub of device specific issues that were filed more than 2 years ago.

[2020-02-05 00:21] #3417 closed, assigned to ojw28

[2020-02-05 00:21] ojw28 commented on #3265
Closing as part of a scrub of device specific issues that were filed more than 2 years ago.

[2020-02-05 00:21] #3265 closed, assigned to ojw28

[2020-02-05 00:22] ojw28 commented on #3046
Closing as part of a scrub of device specific issues that were filed more than 2 years ago.

[2020-02-05 00:22] #3046 closed, assigned to ojw28

[2020-02-05 00:22] ojw28 commented on #2924
Closing as part of a scrub of device specific issues that were filed more than 2 years ago.

[2020-02-05 00:22] #2924 closed, assigned to ojw28

[2020-02-05 00:22] ojw28 commented on #2469
Closing as part of a scrub of device specific issues that were filed more than 2 years ago.

[2020-02-05 00:22] #2469 closed, assigned to AquilesCanta

[2020-02-05 07:22] Chuangwen-LIU commented on #6880
@andrewlewis Thank you for your reply again!
- From the latest reporting, the most errors we got from `setOutputSurface` is `IllegalArgumentException`. The latests error rate is around **0.8%**. [Android dev doc](https://developer.android.com/reference/android/media/MediaCodec.html#setOutputSurface(android.view.Surface)) says that the `IllegalArgumentException` is thrown if the new surface is not

[2020-02-05 14:01] andrewlewis commented on #6880
Do you have any other information about the error? The output of logcat around the time the error was thrown, or a full bug report (`adb bugreport`) would be helpful if you can reproduce the issue. There's likely to be something more descriptive logged just before the exception.

Yeah, I think this should work. I kind of asked this before, but just to check are you certain you are synchronously de

[2020-02-05 17:45] alexeyr15 commented on #6343
@kehongnvidia It seems, enabling "Optimize video playback for timestamp drift" option in Developer options fixes this issue. Maybe, is it worth to enable it by default in the next firmware update?

[2020-02-05 20:03] ojw28 commented on #6343
Reassigning to @kehongnvidia since this sounds like a device specific issue with Nvidia Shield.

[2020-02-05 21:55] juechemparathy opened #6948 "CEA608 Closed Caption repeating twice"
CEA608 Closed Caption characters are repeating twice.
@tonihei - Not sure if this is a side effect of changes made with  #6133.
I will send the test video information to dev.exoplayer@gmail.com

[2020-02-06 02:07] #6876 closed, assigned to andrewlewis

[2020-02-06 07:43] xirac opened #6950 "How to enhance rendering of Bitmap TTML subtitles ?"
### [REQUIRED] Searched documentation and issues
Searched in Exoplayer documentation, current and past issues #4657 and look had a look into SubtitleView.java

### [REQUIRED] Question
I have lot of Dash streams with TTML tracks where subtitles are Bitmap, not text.

The subtitles are displayed as expected but the Bitmap rendering could be enhanced:
![image](https://user-images.githubusercontent.co

[2020-02-06 13:00] fredrikeneroth commented on #6348
@christosts, no unfortunately we didn't have enough low/mid-end devices to test with. But we do however see some dropped frames on Samsung Galaxy S10 devices as well. Not nearly as bad as for the Pixel, but still kind of bad at times.

[2020-02-06 13:50] AquilesCanta commented on #6946
Please provide a full bugreport as required in the issue template. A bugreport is obtained by running adb bugreport shortly after reproducing the issue. Thanks.

[2020-02-06 13:51] AquilesCanta commented on #6947
@andrewlewis, would you kindly take a look / retriage?

[2020-02-06 13:53] AquilesCanta commented on #6948
@tonihei, is it possible that #6133 is related? Feel free to reassign to me if not.

[2020-02-06 14:16] tonihei commented on #6948
The provided test stream doesn't work for me and just returns a 404.

In addition it would be helpful to get some more information:
- Which ExoPlayer version are you using? Especially, does it already include the fixes for #6133?
- Which captions do you expect to see and which captions are shown by ExoPlayer?
- And at which time in the stream do I fine the problematic captions?

[2020-02-06 14:22] icbaker commented on #6950
What do you mean by 'enhanced'? It looks like maybe the subtitles in your media are just low resolution and you're seeing the resultant pixelation.

There's no easy hook like you've described to mutate the cues just before they get displayed. I'm not sure whether it's something that would be generally useful, so I think we'd be hesitant to add it for this use-case specifically.

**A possible solut

[2020-02-06 15:06] Proxwian opened #6951 "ExoPlayer NPE on playing DRM content"
Getting stacktrace below when trying to play DRM video on Android TV api ver 28

Version of ExoPlayer being used: 2.11.1

Stacktrace:
[code]

Seems like some parameter excepted as not-null in Kotlin is null, but i can't see which exactly

[2020-02-06 16:05] marcbaechinger commented on #6832
Closing due to inactivity.

[2020-02-06 16:07] marcbaechinger commented on #6844
Closing due to inactivity. Please reopen if you think it needs to be reopened.

[2020-02-06 16:07] #6844 closed, assigned to marcbaechinger

[2020-02-06 16:09] marcbaechinger commented on #6841
Closing this issue. Please reopen if you think it is related to ExoPlayer playing the 360 file not correctly.

[2020-02-06 16:09] #6841 closed, assigned to marcbaechinger

[2020-02-06 16:09] marcbaechinger commented on #6842
Closing this issue due to inactivity.

[2020-02-06 16:09] #6842 closed, assigned to marcbaechinger

[2020-02-06 16:10] marcbaechinger commented on #6835
Closing this issue due to inactivity. Please reopen if required.

[2020-02-06 16:10] #6835 closed, assigned to marcbaechinger

[2020-02-06 16:40] marcbaechinger commented on #6690
Sorry, I missed that totally. Please accept my apologies.

For the 30 seconds of buffered content you can use the `DefaultLoadControl` as you suggest.

For caching you could use a `CacheDataSource`. But with HLS there is the difficulty that there may be various adaptive stream defined in the HLS manifest. So you need to restrict playback to a single quality to make sure the player only uses that q

[2020-02-06 16:41] marcbaechinger commented on #6690
Sorry again for letting this issue slip through.

I close now. Feel free to reopen in case you haven't solved your problem yet and you think we can help some further.

[2020-02-06 16:41] #6690 closed, assigned to marcbaechinger

[2020-02-06 17:23] #6832 closed, assigned to marcbaechinger

[2020-02-06 18:08] AquilesCanta commented on #6951
Can you provide repro steps for this in the demo app?

[2020-02-06 19:51] marcbaechinger commented on #6944
For the current case of playing within an activity, you should remove the notification at the moment, when you release the player.

In case that the app is put into background you need to release the player in `onPause/onStop` just like the demo app is doing it.

As a general advice I'd recommend doing a [foreground service](https://developer.android.com/guide/components/services#Foreground) for a

[2020-02-06 20:26] JoeyPapeYoui commented on #6951
I encountered this issue as well today after upgrading from 2.9.6 to 2.11.1. It looks like this is the check that's causing an issue.
https://github.com/google/ExoPlayer/blob/76962d50f1d80941d6768e4e765fa4ff010705e7/library/core/src/main/java/com/google/android/exoplayer2/drm/DefaultDrmSessionManager.java#L563
exoMediaDrm is initialized and uninitialized here
https://github.com/google/ExoPlayer/bl

[2020-02-06 21:41] kentherzz commented on #6343
This option does not exist on Nvidia Shield 2019 Tube Version. Only on the Pro version?
What does it do exactly?

[2020-02-06 21:44] kehongnvidia commented on #6343
@kentherzz the option is available with 2019 Tube version as well.  Enable developer option and it's under "Media".

BTW we were able to reproduce the issue and is under debugging right now.

[2020-02-06 21:46] kentherzz commented on #6343
@kehongnvidia has this option always been there? I had the Tube version for 2 weeks ago and it was not there. The 2019 Pro version has it and this is the device I have now. The issue happens on both version of 2019 Shield. Will try to toggle this option, can Nvidia confirm that it helps on the problem?

[2020-02-06 21:50] kehongnvidia commented on #6343
based on comment from alexey above, it fixed the issue.  We have not tried with the option enabled though.  I'll update once we have root caused the issue.   This issue is observed on both old (2015/2017) and new (2019) shield TVs.

[2020-02-06 21:54] kentherzz commented on #6343
@kehongnvidia all right, thanks Nvidia! I was seriously just about to return the Shield and go for Apple TV. Will do some tests myself:-) I have a ticket on this 200104-000793. It was set to the dev team but I have not heard anything for weeks.

[2020-02-07 04:40] Miteshmakwana73 commented on #6944
okay, I created a foreground service successfully. I followed this session [Building feature-rich media apps with ExoPlayer (Google I/O '18)](https://www.youtube.com/watch?v=svdq1BWl4r8) but I don't get how do I update my MainActivity player UI on song change and update seek bar?
how do I pass Songlist to service?

[2020-02-07 10:04] marcbaechinger commented on #6944
You can pass the player to the activity from the service. You can use a `ResultReceiver` when you start the service by intent. Or you can simply have a static `player` field on the service.

Once you have the player you can add listeners like before. Make sure to unregister all listeners when the activity is destroyed or goes to background.

[2020-02-07 10:13] Miteshmakwana73 commented on #6944
thanks, @marcbaechinger I'll try and let you know

[2020-02-07 10:13] #6944 closed, assigned to marcbaechinger

[2020-02-07 10:33] AquilesCanta commented on #6951
You can fix this without waiting for an update by migrating off APIs that inject DRM Session Manager into the renderers. In your case, I suspect you are using a DefaultRenderersFactory that takes a DrmSessionManager as parameter. You should inject that DrmSessionManager into the MediaSources instead. Please let me know if that works for you.

[2020-02-07 14:31] yoobi opened #6952 "AdsMediaSource wrong argument"
Issue description

I'm trying to implement adsLoader in my project. I can't create an `AdsMediaSource` because the 4th argument is an `AdsLoader.AdViewProvider`. I've seen someone with the same issue [#6492 ](https://github.com/google/ExoPlayer/issues/6492#issuecomment-556133415) but the issue was closed to other contributors. My player implements `AdsLoader.AdViewProvider` as it is your library I

[2020-02-07 14:55] yoobi commented on #6952
Nevermind, Fixed it.

[code]

Taking a break is always good.

[2020-02-07 14:55] #6952 closed, assigned to nobody

[2020-02-07 15:13] skogl opened #6953 "Seamless playing with ConcatenatingMediaSource"
### [REQUIRED] Searched documentation and issues
#4510 - Noticalbe gaps between h264 video file playback
#3526 - Gap between videos when playing fragmented mp4 files in ConcatenatingMediaSource

### [REQUIRED] Question
Using ConcatenatingMediasource, is it possible to get seamless/gapless playback using multiple mpegts files?
If I use the mp4 files from here: [sample_videos.zip](https://github.com

[2020-02-07 17:38] marcovietovega commented on #6367
Any progress?

[2020-02-08 02:07] #6264 closed, assigned to ojw28

[2020-02-08 22:50] master255 opened #6954 "AudioSessionId=0 always. The problem with getting an audio session."
I have problem on the 2.11.1 release right now.
Sometimes, when switching different files, with different codecs, with codec cache enabled, onAudioSessionId events do not work at all! At this time mMediaPlayer.getAudioSessionId() produces 0.
Most often it happens when you switch from 4k movie to mp3 track.
Music is playing, but no audio session and no onAudioSessionId events.
Fix it, please.
What

[2020-02-08 23:35] master255 commented on #6954
mMediaPlayer.setForegroundMode(false);
Temporarily helped. Can we make the audio session work properly with the codec cache enabled?

[2020-02-09 02:08] SnowMonkey624 opened #6955 "ExoPlayer renders video outside of borders of DialogFragment when inside scrolled RecyclerView"
Issue description:
With ExoPlayer being used in a RecyclerView that itself is within a DialogFragment, if a video is scrolled to the end of the RecyclerView to a point where it should disappear from the DialogFragment's view, it continues to appear in the transparent margins at the edge of the DialogFragment.

Reproduction steps:
Have a ViewHolder with a standard PlayerView, create an adapter to u

[2020-02-09 06:16] krok55 commented on #6294
Hello,
I have a similar issue on ALL devices (not just Huawei).
Some of them report on ANR at `blockUntilDelivered`. Here is a typical ANR report:

[code]

I investigated a little bit and I think that the cause is a possible deadlock in the following scenario:
I have 3 threads:
1. The ExoPlayer thread (the one that I used to create ExoPlayer and send control messages)
2. Other Async thread for doi

[2020-02-09 09:17] master255 commented on #6954
I don't know if it's right anymore.
That's what the player start function looks like to me:
[code]
Why is my code not formatted I don't know. It's Githab bug.
Google saves a lot of money on programmers.

[2020-02-09 12:00] master255 opened #6956 "PsExtractor - Private streams shouldn't be assumed to be AC3"
I'll use Exoplayer 2.11.1 and it:
[code]
But the event is not triggered when the next track is called:
mMediaPlayer.prepare(progressiveSource.createMediaSource("http://master255.org/res/%d0%9a%d0%bb%d0%b8%d0%bf%d1%8b/B/Billy%20Mack/Billy%20Mack%20-%20Christmas%20Is%20All%20Around.mpg"));
Track: http://master255.org/res/%d0%9a%d0%bb%d0%b8%d0%bf%d1%8b/B/Billy%20Mack/Billy%20Mack%20-%20Christmas%20Is

[2020-02-09 12:11] Mary-a67 commented on #6852
Anybody has idea about this issue? @marcbaechinger

[2020-02-09 12:17] ojw28 commented on #6955
This isn't really an ExoPlayer bug. ExoPlayer renders into whatever `Surface` is provided to it. How that `Surface` is then composited with other UI components is up to the underlying platform and graphics pipeline.

* Please could you file an issue on the [Android Issue Tracker](https://source.android.com/setup/contribute/report-bugs), with reproduction steps and linking to your test project (tha

[2020-02-10 06:22] silvershort opened #6957 "How to customize the progressbar when buffering"
How do I customize the progress bar when buffering?

How to simply change the color and size,
And I want to know how to use custom progress bar.

[code]

The xml code of the current playerview.

[2020-02-10 07:08] xirac commented on #6950
The subtitles are low resolution in some source I get, you're right.
Thanks for pointing to this possible solution, I'll give a try.

[2020-02-10 07:29] mustafaberk1996 commented on #6879
I tried, unfortunately I couldn't succeed again

Do you have any other suggestions for this issue?

[2020-02-10 09:32] XanderSan opened #6958 "Play 360 video in a recycler view"
Hi.
I realised a test app to see if it's possible to load 360 videos in a recycler view using exoplayer.
In my test app every time that I scroll on an item o the recycler view the 360 video is loaded but I have two problems:

1) 360 video don't move if I move the device
2) If I use the finger to move the 360 video around the movement is not fluid (I think because a conflict with the recycler view

[2020-02-10 11:13] ojw28 commented on #6879
What do you mean by couldn't succeed? Are you using a container format that supports specifying the language, and have you specified the language within it?

[2020-02-10 11:25] VivekBhalodiya opened #6959 "Calculating total playback time of a media."
**Scenario**:
I want to calculate the total playback time for a media until the user switches to a different media by going to the next or previous media.

**Problem**:
I have covered all the possible scenarios except one, when the user switches to the next track/media after playing the media for a while, I'm not able to get the **playbackEndTime**.
Where **playbackEndTime** is the last known posi

[2020-02-10 11:33] AquilesCanta commented on #6956
It's possible the device doesn't offer support to decode the content. Look for something like this in the logcat.

[code]

If you can find it, that means the device does not support the stream's compression formats. In order to play the audio, you can use the ffmpeg extension. I can't provide further assistance regarding the video, unfortunately. Please see #2069 for more info.

If you don't think

[2020-02-10 12:17] yoobi opened #6960 "Integrate and customize IMA SDK for Android"
### [REQUIRED] Searched documentation and issues
I've looked on stackoverflow, medium, and your the ads page which is in development [link](https://exoplayer.dev/ad-insertion.html)

### [REQUIRED] Question
I'm trying to integrate (which are in VAST protocol) and customize an ad to fit my needs which are modifying the "learn more" textbox with another text, add another link in the center of the scr

[2020-02-10 12:17] squti opened #6961 "Always keep showing next and previous button in notification"
How could I keep showing the next and previous button on the ExoPlayer notification when there is just one MediaSource?

[2020-02-10 14:18] kim-vde commented on #6954
What is the type of mMediaPlayer? Did it work with a previous version of ExoPlayer? Could you please provide steps to reproduce the issue, together with the test contents, as described [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md)?

[2020-02-10 14:45] kim-vde commented on #6957
Have you tried adding some attributes from `DefaultTimeBar` to the `PlayerView` (see [`DefaultTimeBar` Javadoc](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/ui/DefaultTimeBar.html) and [`PlayerView` Javadoc](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/ui/PlayerView.html))?

Example:
[code]

Concerning the use of a custom time bar, see the [`PlayerControlV

[2020-02-10 15:15] kim-vde commented on #6959
What implementation of `AnalyticsListener` are you using? Please provide the code if it is a custom one.

[2020-02-10 15:26] AquilesCanta commented on #6953
For seamless gapless transitions to work, the container needs to include special metadata which Transport Stream does not support (MP4 does). There are also other crucial factors, like format changes across streams.

**How are you concatenating the TS files?**

If you are concatenating the files manually by appending the bytes, then you should provide the sample media for us to take a look (both s

[2020-02-10 15:30] mustafaberk1996 commented on #6879
`What do you mean by couldn't succeed?`
so i couldn't change the sound.

First of all, I couldn't find an audio file that contains language information.
and my existing audio files do not contain language information.

How can I do this for audio files without language information?

[code]

[2020-02-10 16:17] marcbaechinger commented on #6961
You could override `PlayerNotificationManager.getActions(Player player)` and return the list of actions you want to put into the notification at a given player state. Please read the Java doc of that method which gives some more details.

If the user taps the 'previous' or 'next' button in the notification, the call is delegated to `controlDispatcher.dispatchPrevious(Player player)` or `controlDis

[2020-02-10 16:55] andrewlewis commented on #6958
For (1), calls to `PlayerView.onPause/onResume` are missing. These are needed to attach/detach the orientation listener.

For (2), I think what's missing are calls to [`requestDisallowInterceptTouchEvent`](https://developer.android.com/reference/android/view/ViewParent.html#requestDisallowInterceptTouchEvent(boolean)), passing `(true)` in `onTouch` for a listener on the `PlayerView`, and a matchin

[2020-02-10 17:03] kim-vde commented on #6960
I am afraid I cannot help you because don't think this is possible (see https://github.com/google/ExoPlayer/issues/6313#issuecomment-522515193 and https://developers.google.com/interactive-media-ads/docs/sdks/android/faq#13).

[2020-02-10 18:38] zishanj commented on #5417
@ojw28 Any update on this issue? its 2020 now. :)

[2020-02-10 19:59] Hassan-Fa opened #6962 "[Flutter/video_player] AudioFlinger could not create track, status: -12"
### Issue description
i'm using video_player package in flutter which uses ExoPlayer
and each time you want to do seekTo any moment before the current position(moment) video gets loaded again from local file (obviously in this case the video is loaded from a local file)

everything works fine but sometimes after like 15 20 times doing seekTo() , the video won't load again, and the widget is invisi

[2020-02-10 21:16] AquilesCanta commented on #6943
After looking a bit, it would seem that it's not trivial to fix this. The stream is using parametric stereo, which means we need to parse more of the ADTS content in order to find the configuration that overrides the initial channel_configuration field. I'll mark this as low priority for now, you are welcome to send a pull request our way.

If you are sending this stream via HLS, please consider j

[2020-02-10 21:45] harini113 commented on #6951
Hi, I have the same issue. Is there fix available for this? If this has been addressed in 2.11.2, where can I find the .aar files?

[2020-02-10 22:24] master255 commented on #6954
Thank you for the answer. This bug is available if you call stop after a track with mMediaPlayer.setForegroundMode(true);
It took me a long time to figure out what was going on, but then I found an instruction in the depths of the code explaining that I don't need to call a stop in this case.
Now it works correctly.

[2020-02-10 22:24] #6954 closed, assigned to kim-vde

[2020-02-10 22:31] master255 commented on #6956
@AquilesCanta
My device: Samsung Galaxy S8+
Whole LogCat on start this track:
[code]

[2020-02-11 00:54] silvershort commented on #6957
I have looked at that document.
But it doesn't seem to be what I want.
In the center of the video when buffering
https://4.bp.blogspot.com/-tqB3UP6KYaM/VItDu0F9kdI/AAAAAAAAATs/QB0X4AqWWY0/s1600/spinningwheel.gif
I want to know how to change circleprogressbar like a link.

[2020-02-11 03:19] pawaom opened #6963 "support for fileDescriptor as per the new google android standards in Android Q since MediaStore.Audio.Media.DATA is deprecated"
I have a fairly simple Question

How to pass uri to mediaSource in Android Q  since MediaStore.Audio.Media.DATA is deprecated

Earlier  (Below Api 29 /  Android 10/ Q) This is what i was using

` mediaSource = new ProgressiveMediaSource.
                    Factory(dataSourceFactory).createMediaSource(Uri.parse(SongsForQueue.get(i)._path));`

Where `SongsForQueue.get(i)._path` was the path of the

[2020-02-11 04:55] ducnmisbk opened #6964 "How to set initialize angle when start to play 360 video"
### Question
I want to set starting angle at exactly the center of source video frame when start playing 360 video. I already looked for methods in the doc reference (https://exoplayer.dev/doc/reference/) but got no luck.
So my question is how can I set the starting angle at center?

### A full bug report captured from the device
For example:
I used Xiaomi 8 lite for testing (https://www.gsmarena.

[2020-02-11 05:46] waqasyousafy opened #6965 "finding the sessionId while playing the playlist"
Before filing a question:
-----------------------
- This issue tracker is intended ExoPlayer specific questions. If you're asking
  a general Android development question, please do so on Stack Overflow.
- Search existing issues, including issues that are closed. It’s often the
  quickest way to get an answer!
  https://github.com/google/ExoPlayer/issues?q=is%3Aissue
- Consult our developer websit

[2020-02-11 07:21] acrolink commented on #5935
Any update?

[2020-02-11 07:28] kehongnvidia commented on #6343
We've been able to reproduce and root cause this to an overflow which mixes up time calculation and causes the stutters. We've come up with a fix and tested the fix. The fix will be included in upcoming releases of both 2015/2017 and 2019 SHIELDs.

[2020-02-11 08:48] VivekBhalodiya commented on #6959
[code]

[2020-02-11 09:47] tonihei commented on #6959
In case you are using ExoPlayer 2.11, you can use add `PlaybackStatsListener` to retrieve `PlaybackStats` for each playlist item that has a method called `getTotalPlayTimeMs()`. Sounds as if you are trying to calculate this value.

[2020-02-11 09:53] andrewlewis commented on #6962
The cause seems to be "02-10 22:46:58.227  1174  6088 E AudioFlinger: not enough memory for AudioTrack size=65600".

Can you reproduce this on a real device? If not, it may be an emulator bug. If yes, please provide a bug report taken from the device. Thanks.

[2020-02-11 09:59] ojw28 commented on #6343
Thanks! Closing this, since it's not an ExoPlayer issue.

[2020-02-11 09:59] #6343 closed, assigned to kehongnvidia

[2020-02-11 10:17] shobanavelmurugan commented on #6930
@AquilesCanta I use HLS streaming from my api it looks pretty good even shorter length, but problem i face is with previewing the video from Internal storage(Recording using Camera2-Api -(1920x1080 resolution)).

[2020-02-11 10:25] yoobi commented on #6960
Okay thank you, that's what I though. I guess the only way to do what I want is to create a custom ad player

[2020-02-11 10:39] AquilesCanta commented on #5935
Hi all, I think for us to help with this we will need a bugreport and sample media to reproduce it ourselves. Ideally, we should able to reproduce the issue in the demo app using VOD content. It's practically impossible for us to debug a standalone stack trace originated at the framework side. Hope this helps the issue get more attention.

[2020-02-11 10:45] shanu-jha opened #6966 "How to enable GyroSensors for Exoplayer 360 videos"
I am developing a custom player based on Exoplayer for playing VR videos. I was able to create a Simplified version using SimpleExoPlayer however, even though I move my device, the VR player doesn't rotate as it should.

I then went to try out the Exoplayer demo and it completely worked. However, I was unable to modify the code to fit my needs, so I had to start from scratch.

As I mentioned, I wa

[2020-02-11 10:53] marcbaechinger commented on #6852
As a first try I'd use the `PlayerView` and customize its layout file. You can provide your own `exo_player_view.xml` and add your own elements within that.

In case you want to continue with your approach, it seems that you need to calculate the dimensions yourself and set it programmatically.

[2020-02-11 10:55] AquilesCanta commented on #6930
I don't understand how HLS is involved.

Please provide the items [requested above](https://github.com/google/ExoPlayer/issues/6930#issuecomment-581840670).

[2020-02-11 10:57] marcbaechinger commented on #6965
Can you please fill the issue according to the issue template? You can just copy the headings from above and fill it in a new comment to avoid creating a new issue. Many thanks!

https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/question.md

[2020-02-11 11:05] VivekBhalodiya commented on #6959
God bless `PlaybackStatsListener`
`getTotalPlayTimeMs()` This is what exactly I've been looking for.
Thank you @tonihei  and @kim-vde  for your support. Really appreciate your time.

[2020-02-11 11:05] #6959 closed, assigned to kim-vde

[2020-02-11 11:12] kim-vde commented on #6957
You can customize the progress bar by overriding the component with id `exo_buffering`, as explained in the [`PlayerView` Javadoc](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/ui/PlayerView.html).

[2020-02-11 11:32] ajonno commented on #6891
Hi @andrewlewis, is there an eta on some docs for this?

[2020-02-11 11:51] shobanavelmurugan commented on #6930
I have Two scenario in my requirement:
**Scenario-1:** Upload recording video to my server, then i will show preview from server url, here implemented by HLS streaming. This case **EXO-player** working fine for both short and long duration videos.
**Scenario-2:** Before Uploading I recorded video, I show preview using EXO-player by .mp4 format.
In this case I record one by one from requested video

[2020-02-11 12:11] andrewlewis commented on #6891
Sorry for the delay.

There is indeed an API for this. Please have a look at https://github.com/google/ExoPlayer/issues/4176#issuecomment-384240744.

You can avoid needing to manage multiple players and track the playback position if you can make the `AdsMediaSource` option work. The main thing needed for that is a custom `AdsLoader` that receives the ID3 metadata and outputs `AdPlaybackState` upd

[2020-02-11 12:50] andrewlewis commented on #6947
Please could you provide some more details about what behavior you are expecting to see from the application/ExoPlayer in this case? I don't think we are doing anything different in the lifecycle of the video codec or `AudioTrack` for the tunneling case compared to non-tunneled playback, but please correct me if I'm wrong.

Fundamentally, it seems like the implementation of tunneling on the device

[2020-02-11 12:56] master255 commented on #6956
@AquilesCanta , And open the bug! It is, and it is not fixed.

[2020-02-11 13:08] skogl commented on #6953
I'm manually appending the bytes.

[files.zip](https://github.com/google/ExoPlayer/files/4185779/files.zip)

[2020-02-11 14:18] victorraft commented on #6429
ok @andrewlewis, thanks for the update.
Please keep us posted with any updates you might have, because my employers are constantly asking me about this issue.

[2020-02-11 14:31] kim-vde commented on #6963
This issue looks like a general question about Android development. We’ll leave this issue open for ~2 weeks in case anyone wishes to answer it here, however we recommend asking such questions on Stack Overflow.

I had a quick look and found [this](https://developer.android.com/reference/android/provider/MediaStore.Audio.Media.html#getContentUri(java.lang.String)) link, which might be useful.

[2020-02-11 14:38] AquilesCanta commented on #6956
I need a whole bugreport.

[2020-02-11 14:46] kim-vde commented on #6964
I cannot reproduce on my test device (Pixel 2 XL).

What version of ExoPlayer are you using? Is this the demo app without any modification?

[2020-02-11 14:51] AquilesCanta commented on #6953
@tonihei will be able to provide more insight on ConcatenatingMediaSource, surely.

[2020-02-11 15:29] tonihei commented on #6953
The two files play "gapless" for me. That is, the audio is perfectly continuous and no decoder changes happen between playing both parts.

There seems to be an issue with the timestamps in ts files themselves. The video samples in all 3 files starts with an offset of 1.902 seconds, meaning the first frame is always frozen for almost 2 seconds. For the concatenated file, this only happens at the be

[2020-02-11 16:00] skogl commented on #6953
When you say they play "gapless". You mean you create a ConcatenatingMediaSource, add "part1.ts" and "part2.ts" to it and when you play it it's as gapless as when you play "concatenated.ts"?

When I add the both files to a ConcatenatingMediaSource I get a small delay (~0.5s) between the two parts.

[2020-02-11 16:02] kim-vde commented on #6966
Did you set the `surface_type` attribute of the PlayerView to `spherical_view`? Did you call [PlayerView.onResume()](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/ui/PlayerView.html#onResume--) and [PlayerView.onPause()](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/ui/PlayerView.html#onPause--)  at the correct time?

[2020-02-11 16:14] pawaom commented on #6963
few others are having the same problem

https://stackoverflow.com/questions/59036747/what-is-the-correct-way-to-play-songs-on-exoplayer-with-android-10-q-and-targe

can exoplayer add support for `fileDescriptor ` as per the new google android standards

[2020-02-11 16:16] tonihei commented on #6953
Which ExoPlayer version are you using?

[2020-02-11 16:29] skogl commented on #6953
2.11.0

[2020-02-11 16:50] master255 commented on #6956
@AquilesCanta it's a whole bugreport. Adb doesn't return anything else.

[2020-02-11 17:28] AquilesCanta commented on #6956
What adb command are you running?

[2020-02-11 17:31] master255 commented on #6956
@AquilesCanta
init:
`public void initPlayer() {
        if (mMediaPlayer == null) {
            TrackSelection.Factory trackSelectionFactory = new AdaptiveTrackSelection.Factory();
            renderersFactory = new DefaultRenderersFactory(ctx).setExtensionRendererMode(DefaultRenderersFactory.EXTENSION_RENDERER_MODE_ON);
            DefaultLoadControl defaultLoadControl = new DefaultLoadControl.Bu

[2020-02-11 17:32] AquilesCanta commented on #6956
Deleted comment as off-topic. I don't need the code, I need the adb command you are running, please.

[2020-02-11 17:35] master255 commented on #6956
@AquilesCanta  command for what?
I'm using a logcat in the android studio.
I don't use logcat commands.

[2020-02-11 19:04] nishantkp opened #6967 "IMA AdsLoader throwing an error with error code 1009 on pre-roll (with valid response on VAST inspector)"
### Issue description
Video doesn't load pre-roll. In VAST inspector I can still see the valid response, but when player tries to play the video, it does not play pre-roll and prints out log saying,

[code]

**P.S.** This one seems similar to issue #4779. But this one is for pre-roll instead of post-roll.

### Reproduction steps
Just play any video with provided adTag on demo app

### Link to test

[2020-02-11 19:25] master255 commented on #6956
@AquilesCanta
Maybe I got you wrong. Or did you misunderstand me?
Let's take it in order.
ExoPlayer doesn't support the [file ](http://master255.org/res/%d0%9a%d0%bb%d0%b8%d0%bf%d1%8b/B/Billy%20Mack/Billy%20Mack%20-%20Christmas%20Is%20All%20Around.mpg)codec.
However, it must produce an error on this line:
[code]

But the error does not appear.
What does logcat have to do with it? If there was some

[2020-02-11 19:28] master255 commented on #6956
And there is no code formatting in GitHub comments.

[2020-02-11 19:32] AquilesCanta commented on #6956
Please provide a bugreport by running `adb bugreport` shortly after playing the stream.

[2020-02-11 19:44] master255 commented on #6956
@AquilesCanta
[bugreport-2020-02-11-22-40-48.zip](https://github.com/google/ExoPlayer/files/4187941/bugreport-2020-02-11-22-40-48.zip)

[2020-02-11 20:10] master255 commented on #6956
@AquilesCanta what next?

[2020-02-11 20:27] AquilesCanta commented on #6956
Please capture the bug report after playing the content in the demo app.

[2020-02-11 20:52] master255 commented on #6956
@AquilesCanta Google has no money to buy a Galaxy S8+ for its programmers?
Okay. I have such errors in my demo application:
[code]
[bugreport-2020-02-11-23-48-10.zip](https://github.com/google/ExoPlayer/files/4188255/bugreport-2020-02-11-23-48-10.zip)

[2020-02-11 22:14] ojw28 commented on #6951
@harini113 - A way to fix this is described in the post directly above your question. A fix will also be included in 2.11.2 (it's not available yet; it will be available later this week).

[2020-02-11 22:14] #6951 closed, assigned to AquilesCanta

[2020-02-12 00:22] pawaom commented on #6963
any update guys will this be included in Exoplayer , the android mediaplayer supports `filedescriptor`

https://developer.android.com/reference/android/media/MediaPlayer#setDataSource(java.io.FileDescriptor,%2520long,%2520long) ,

 can similar thing be included in Exoplayer

there are android specific issues as well????

https://issuetracker.google.com/issues/147619577

https://stackoverflow.com/q

[2020-02-12 01:49] silvershort commented on #6957
I'm very sorry, but can you explain how to override the layout?
I create exo_player_view.xml layout in res / layout * directory

https://github.com/m6s/video-android-2/blob/master/app/src/main/res/layout/exo_player_view.xml

After copying and pasting the above link source,
I created a View with the ID exo_buffering

android.view.InflateException: Binary XML file line # 8: Binary XML file line # 8:

[2020-02-12 02:07] #6892 closed, assigned to icbaker

[2020-02-12 02:07] wjj1928 opened #6968 "How to find exoplayer version from apk binary"
How to find which exoplayer version is used in apk binary?

I wish to find the exoplayer version used in apk binary (e.g. Google Files app) since some old version app behavior is different from newest one. Since app call exoplayer, so I wish to find the exact exoplayer version  to analysis if issue come from exoplayer version or not!

[2020-02-12 02:22] kyungtae-K commented on #6777
Do you have any progress on this?

[2020-02-12 04:36] waqasyousafy commented on #6965
I solved the issue . Thank You marc

[2020-02-12 04:36] #6965 closed, assigned to nobody

[2020-02-12 06:54] shanu-jha commented on #6966
Thank you very much @kim-vde ! It worked when I put those methods in place

[2020-02-12 09:08] mustafaberk1996 commented on #6879
### I tried this and change sound of the video !

[code]

_when click for change the sound_

[code]

### Would you suggest me to use it?

### can a feature like this be added ?
this:

[code]
or
[code]

[2020-02-12 10:46] waqasyousafy opened #6969 "Discontinuity detected and video freeze"
### [REQUIRED] Issue description
I am playing the video discontinuity detected and video freeze for once and then play. I am using

### [REQUIRED] Reproduction steps
Simple playing the local video .

### [REQUIRED] Link to test content
I am playing the local video
https://drive.google.com/file/d/13cPGZghCKIAeRYbTlRbMW2GGPaMrEVqH/view?usp=sharing
### [REQUIRED] A full bug report captured from the d

[2020-02-12 10:49] andrewlewis commented on #6963
We looked at providing a file descriptor data source a while ago, but if I remember correctly some issues came up with handling the lifecycle of the file descriptor and seeking the file descriptor was non-trivial.

@nic0lette is an expert on the recent storage changes and can hopefully advise on the best way to proceed (which may indeed be to provide a `FileDescriptorDataSource`). Thanks.

[2020-02-12 10:49] waqasyousafy opened #6970 "Discontinuity detected on every video i play"
### [REQUIRED] Issue description
I am playing the video discontinuity detected and video freeze for once and then play. I am playing local videos. I am beginner of exo-player.

### [REQUIRED] Reproduction steps
Simple playing the local video .

### [REQUIRED] Link to test content
I am playing the local video
https://drive.google.com/file/d/13cPGZghCKIAeRYbTlRbMW2GGPaMrEVqH/view?usp=sharing
### [RE

[2020-02-12 10:59] pawaom commented on #6963
thanks, @andrewlewis

`seeking the file descriptor was non-trivial` , while further research came across this,

https://www.youtube.com/watch?v=oIn0MZQJpp0&feature=youtu.be&t=961

can this be useful , hopefully @nic0lette , can provide some solution

[2020-02-12 11:12] kim-vde commented on #6957
The `ProgressBar` needs to be defined in the new layout file. For example, if you want a large red progress bar, your `exo_player_view.xml` would be something like:

[code]

[2020-02-12 11:13] andrewlewis commented on #6967
There are two prerolls and one of them is empty, and I think what's going on is that we skip the entire preroll ad group as a result of seeing the empty ad, similar to #5006. Assuming it's the same issue, this should be fixed once we can upgrade to the new preloading API (#6429), and that upgrade is blocked waiting for a backend rollout the IMA team is working on at the moment (we still don't have

[2020-02-12 11:29] waqasyousafy commented on #6894
Hi @icbaker  I am getting an issue with mpeg-ts video . Discontinuity detected many times .
I have searched a lot on stack overflow and GitHub . There is only one discussion that the media is not correct . But other players play the video fine .Exo palyer freeze at once when discontinuity detected . Is there any solution for this problem. I will be very grateful to you .

[2020-02-12 11:30] waqasyousafy commented on #6894
The image of discontinuity is here and media is also here
Video:
https://drive.google.com/file/d/13cPGZghCKIAeRYbTlRbMW2GGPaMrEVqH/view?usp=sharing
Image :
https://drive.google.com/file/d/1Y9Ykz1PXCn9qK2mu0UCJwiSgbj4yxXsN/view

[2020-02-12 11:43] AquilesCanta commented on #6956
Seems to me the provided stack trace is unrelated to the original report, since you are using the ffmpeg extension in the demo app, which you are not using in your own app.

I'll have a look when I have the time. Thanks for the report.

[2020-02-12 11:54] kim-vde commented on #6968
I am afraid this is not something we support. You can raise your issue to the Google Files team (for example by using the "Help and feedback" option in the Files app). If you have troubles playing a particular file, you can also try to play it with different versions of the [ExoPlayer demo app](https://exoplayer.dev/demo-application.html), to see if it is linked to the ExoPlayer version.

[2020-02-12 12:04] kim-vde commented on #6969
Duplicate of #6970.

[2020-02-12 12:04] #6969 closed, assigned to kim-vde

[2020-02-12 12:07] kim-vde commented on #6970
I don't think the issue is caused by ExoPlayer because I also observe discontinuities when playing the file with VLC or FFMPEG. I suspect the video itself contains discontinuities. Can you try playing another file and see if you observe the same issue?

[2020-02-12 12:09] icbaker commented on #6894
This sounds like a new problem. Please file a new issue, and make sure you fill in all the sections of the template (including a bugreport text file):
https://github.com/google/ExoPlayer/issues/new/choose

[2020-02-12 12:14] icbaker commented on #6894
Ah, just spotted you already filed #6970. Let's keep the discontinuity discussion over there.

[2020-02-12 12:23] tonihei commented on #6953
I tried the same again with a ConcatenatingMediaSource on 2.11.0 without any modifications and the audio is still gapless and the video still has the same wrong time offset as described above.

[2020-02-12 12:27] waqasyousafy commented on #6970
I have tried many videos these are the same type of videos i hop mpeg-ts format . Discontinuity problem occurring . other player plays it fine . I have tested on the mxplayer  , video is stucking but not mostly freeze for a second . My video freeze for one second and then play

[2020-02-12 13:32] icbaker commented on #6970
The attached video does not play correctly in VLC for me - it jumps between several different aspect ratios at the beginning, then it seems to repeat the same content but with audio & video jank/discontinuities. When I look at the logging, it complains about discontinuities:

[code]

Different video players will handle malformed media in different ways - that's expected - in all cases I'd call thi

[2020-02-12 13:33] #6970 closed, assigned to icbaker

[2020-02-12 14:23] #6961 closed, assigned to marcbaechinger

[2020-02-12 14:29] master255 commented on #6956
Dear @AquilesCanta , of course i'm use ffmpeg in my project. I understand the error occurs in a place where it is not foreseen. Fix it, please.

[2020-02-12 15:41] icbaker commented on #6581
Related: https://github.com/google/ExoPlayer/pull/4178

[2020-02-12 15:48] MAKFneish commented on #6944
Just move the `super.onDestroy()` to the end of the `onDestroy()` function:

[code]

[2020-02-12 16:16] danybony commented on #6581
@icbaker I updated https://github.com/google/ExoPlayer/pull/4178 with the current changes of dev-v2.
Unfortunately I cannot comment on the PR anymore, to unblock the CLA check

[2020-02-12 16:21] icbaker commented on #6581
Ah, sorry! I assumed re-opening a locked & closed issue would make it unlocked & open but it seemed to make it locked & open. I just unlocked it as well - can you comment on it now?

[2020-02-12 16:28] laurafuente commented on #5693
We could reproduce a similar freeze behaviour for the Amlogic 905X2 chipset with a live channel. In our case the video got freezed for several minutes and after that the exoplayer demo died.
We could reproduce this error using exoplayer demo app 2.10.4 and exoplayer demo app 2.11.1.
What we had observed was that there was a class SampleQueue tha was increasing its memory all the time and that it a

[2020-02-12 16:28] CristianMG commented on #6475
Hi

I have the same problem, I can't reproduce this problem always, when I set "playbackParams" with reproduction speed fast the audio stream cuts and sounds like a whale. Is like a mix of slow speed and grave pitch.

In my log I can see this
Discontinuity detected [expected 656985396, got 656706757]

Maybe there is any strange in the audio stream?

I have the 2.9.0 version

This is a problem beca

[2020-02-12 16:58] wjj1928 commented on #6968
Google Files just a example, if exoplayer has some code to print version number, it would be very helpful for issue track! Where can I download demo.apk for old versions?

[2020-02-12 17:40] ojw28 commented on #6879
As stated multiple times above, modern container formats support including a language directly inside the media itself. The correct solution is to do this and use `MergingMediaSource` in the normal way.

There is quite a lot of information available online about setting the language for different container formats. For example [this post](https://superuser.com/questions/1054260/how-can-i-change-th

[2020-02-12 17:49] nic0lette commented on #6963
Hi @pawaom !

Since you're using MediaStore, I would recommend switching from using `MediaStore.Audio.Media.DATA` to using the column `MediaStore.Audio.Media._ID`.

With that, you can then build a `content://` URI using code like this:

[code]

After that, you should be able to use this URI directly:

[code]

The advice to use a document provider for accessing files is actually intended for non-me

[2020-02-12 17:56] Ninjouz commented on #6343
@kehongnvidia where are you releasing this ?

[2020-02-12 18:02] kehongnvidia commented on #6343
@Ninjouz  soon.  We do not have ETA yet.

For 2015/2017 Shield TV, you need to sign up hotfix release

https://www.nvidia.com/en-us/geforce/forums/shield-tv/9/340245/20152017-shield-experience-upgrade-802-hotfix-imag/

Please sign up here if you'd like to get the HotFix images for 8.0.2+:
https://docs.google.com/forms/d/e/1FAIpQLSca8NzAjFyhT00HvUH7KN2Ae2zbTnNqqNVLb0qqBdaXa7uUBw/viewform?usp=pp_url

[2020-02-12 20:53] skogl commented on #6953
Ok, I have the same results. I just wanted it confirmed that you cannot play any two splitted mpeg-ts files gapless using ConcatenatingMediaSource without using some kind of special keyframe handling.

Since exoplayer support gapless playing of adaptive streams, even with bitrate changes, I was hoping that ConcatenatingMediaSource was using the same mechanism. Obviously hls streaming uses some oth

[2020-02-13 00:38] pawaom commented on #6963
@nic0lette , thanks for the help this solution is certainly useful,

Since you are an Expert on this subject, please, could you please help us in another FFMPEG based Library( I am not the developer of that project its an opensource project but the developers are having a problem there as well) which requires, `file descriptor` and the whole debate of not being able to use `/proc/self/fd/66`  in A

[2020-02-13 01:11] silvershort commented on #6957
It works perfectly well. Thank you for your kind explanation.

[2020-02-13 01:11] #6957 closed, assigned to kim-vde

[2020-02-13 02:54] ducnmisbk commented on #6964
I used the latest one in this repository without any modification.
I can't reproduce in samsung S9. But always happened when testing in Xiaomi devices (one of popular mobile brands in asia)
Do you think this issuse related to sensor of specific device?

[2020-02-13 05:35] waqasyousafy commented on #6970
Thanks @icbaker  but my problem is still there . I am stand at that place still now . I am searching for solution to handle this Thanks to both of you.

[2020-02-13 06:08] SogoGolf opened #6972 "how can we monitor for when an audio track has just completed in a ConcatenatingMediaSource ?"
Kind of struggling with this one. What we need to listen for / monitor - is when an audio track, that is in a ConcatenatingMediaSource (eg a list of 5 audio tracks), has just finished playing ? Is there an event for this, or a "combo" of events that we can monitor to know when this occurs ?

[2020-02-13 07:59] XanderSan commented on #6958
Ok, thanks! I'll try to apply these 2 suggestions

[2020-02-13 08:10] mustafaberk1996 commented on #6879
### thank you so much @ojw28

### I got what I wanted.

First of all, I added language information to my audio files with [this program](https://mkvtoolnix.tr.uptodown.com/windows).
and then I edited the code like this;

        Uri uri_sound_en = Uri.parse("http://********/lm_sound_en.mka");
        Uri uri_sound_tr = Uri.parse("http://********/lm_sound_tr.mka");
        soundSourceTR = new Progr

[2020-02-13 08:11] #6879 closed, assigned to ojw28

[2020-02-13 10:12] ojw28 commented on #6879
Glad you got it working!

[2020-02-13 13:48] kim-vde commented on #6972
Did you try using [`Player.EventListener#onTrackChanged`](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/Player.EventListener.html#onTracksChanged-com.google.android.exoplayer2.source.TrackGroupArray-com.google.android.exoplayer2.trackselection.TrackSelectionArray-)? It seems to be what you are looking for.  For more info, see our [listeners documentation page](https://exoplayer

[2020-02-13 13:51] rameshvoltella commented on #5887
ANY FIX FOR THIS ISSUE AM ALSO GETTING ON MY MOTO DEVICE

[2020-02-13 14:20] kim-vde commented on #6972
Duplicate of #4707

[2020-02-13 14:20] #6972 closed, assigned to kim-vde

[2020-02-13 15:58] jzhoubupt opened #6973 "Which segment to start download for DASH Live stream"
### [REQUIRED] Question
For a DASH Live stream which segment does ExoPlayer decide to download and process? From source code i'd like to know which classes implement the logic as well.

For HLS Live stream the client behavior is defined in HLS draft however i can't find the similar guide for DASH. From different player implement ion (Exo,Shaka,Dash.js) the behavior are not quite the same.
Thanks a

[2020-02-13 16:48] oleksandr-yefremov opened #6974 "Pixel 3 Android 9 Widevine DASH - no video (only audio)"
[REQUIRED] Issue description
On Pixel 3 Android 9 Widevine DASH stream plays audio but no video (black frame).

[REQUIRED] Reproduction steps
Start ExoPlayer demo app. Add manifest stream url and drm license url from test website sent to dev.exoplayer@gmail.com.

[REQUIRED] Link to test content
Will send a message to dev.exoplayer@gmail.com with a link to test website, where manifest and license u

[2020-02-13 16:57] master255 opened #6975 "Not stable audio session, at first start."
The first start of the player gives the audio session ID, but once in 5-15 times it does not work. The ID comes through the onAudioSessionId(int id) event {}. Track in flac format.
ID comes correctly, but music is not transmitted through it.
At the same time mMediaPlayer.getAudioSessionId() returns the same, not working ID.
The player plays music correctly but does not pass it to audiosessionId.

[2020-02-13 18:18] ojw28 commented on #6920
There is now a demo app you can take a look at. Clone the project, open in Android Studio, and look at the `demo-gl` demo module.

[2020-02-13 18:18] #6920 closed, assigned to andrewlewis

[2020-02-13 18:26] harini113 opened #6976 "Compiling the Exoplayer code to generate .aar file throws an error"
### [REQUIRED] Searched documentation and issues
https://exoplayer.dev/design-documents.html

### [REQUIRED] Question
When including  custom .aar file for Core, DASH, HLS and Smoothstreaming the apk throws the files
java.lang.NoClassDefFoundError: Failed resolution of: Lorg/jacoco/agent/rt/internal_8ff85ea/Offline;

I have compiled the .aar files using the version 2.11.2 and latest version of Andr

[2020-02-13 18:31] ojw28 commented on #6787
This is supported in the `dev-v2` branch via a new `Mp3Extractor.FLAG_ENABLE_INDEX_SEEKING` flag. This will be included in `2.13.0`.

[2020-02-13 18:31] #6787 closed, assigned to kim-vde

[2020-02-13 20:09] navluis commented on #6947
Hi Andrew,
When switching a video track during tunneling things get a bit tricky. As you know, audio and video are tightly coupled during tunneling, given that audio is usually driving the playback clock for a/v synchronization.
In our tunneling implementation, after a flush call or at the start of playback, the omx video decoder always waits for the audio hal to signal the value of the first audi

[2020-02-13 21:44] master255 commented on #6976
I just compiled the HLS library and I have no error. You can try this: implementation 'com.google.android.exoplayer:exoplayer-core:2.11.2'

[2020-02-13 21:48] harini113 commented on #6976
I am compiling my apk via android.mk so I have included the custom .aar files via the following in the android.mk

LOCAL_STATIC_JAVA_LIBRARIES += library-core-debug
LOCAL_PREBUILT_STATIC_JAVA_LIBRARIES += library-core-debug:../../libs/library-core-debug.aar

[2020-02-13 22:18] master255 commented on #6976
@harini113 Maybe this file?
[library-core-release.zip](https://github.com/google/ExoPlayer/files/4201554/library-core-release.zip)

[2020-02-13 22:20] harini113 commented on #6976
I have the the aar files generated and shared in Exoplayer binary tray. I want to know how I could generate my custom .aar file which can be included with my exoplayer apk which will be generated via android.mk which would not throw the error.

[2020-02-13 22:59] harini113 commented on #6976
I think I got it. By generating the release module rather than debug module for core library I think the issue is fixed. Testing it out currently

[2020-02-13 23:35] tl-robertmanley commented on #6823
Also getting this here with a secondary (PiP) video stream.  Can this be reopened?

[2020-02-14 02:07] #6898 closed, assigned to icbaker

[2020-02-14 09:20] andrewlewis commented on #6947
Hi Luis, thanks for the information!

If we can find a way to avoid creating a new `AudioTrack` for a video track change that would be
strongly preferable. The main reason is that audio playback will likely be audibly interrupted on the track change, which impacts the user experience. Also, we already have a fair amount of conditional code for integrating video tunneling into the library, which ad

[2020-02-14 09:26] msilva-verimatrix commented on #6920
That is great!
Many thanks,

Moacir

[2020-02-14 09:55] master255 commented on #6976
@harini113 Okay. Close the bug.
Google should start paying my salary))).

[2020-02-14 10:05] andrewlewis commented on #6864
@haohaozaici, please feel free to send a pull request even if the code has remaining issues or needs further testing. We'd be grateful for the contribution and can fix up any issues on our side when we merge the pull request. Thanks!

[2020-02-14 11:12] kim-vde commented on #6964
You should report the problem to the device manufacturer. Please come back to us if you can reproduce the issue on other devices as well. Thanks.

[2020-02-14 11:18] kim-vde commented on #6973
I think the information you are looking for is in [`DashMediaSource.Factory.html#setLivePresentationDelayMs`](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/source/dash/DashMediaSource.Factory.html#setLivePresentationDelayMs-long-boolean-).

If not, please provide more details about what kind of logic you are looking for.

[2020-02-14 11:33] kim-vde commented on #6975
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md). If you're unable to share bug reports or test content publicly, please send them to dev.exoplayer@gmail.com using a subject in the format "Issue #1234", where "#1234" should be replaced with your issue num

[2020-02-14 11:54] master255 commented on #6975
@kim-vde
[REQUIRED] Issue description
The first start of the player gives the audio session ID, but once in 5-15 times it does not work. The ID comes through the onAudioSessionId(int id) event {}. Track in flac format.
ID comes correctly, but music is not transmitted through it.
At the same time mMediaPlayer.getAudioSessionId() returns the same, not working ID.
The player plays music correctly but

[2020-02-14 13:01] rameshvoltella commented on #5887
@ojw28 how  **codecNeedsSetOutputSurfaceWorkaround** is working?will it fix the anr issue if i specify the device?? also should i need to download the sourse of exo player and edit **MediaCodecVideoRenderer.java** and make as a module in my project to make it working ? As said in #6294 it now not occasional its common, please look in to this issue.if you want the anr log i can give add

[2020-02-14 14:22] karen-1996 opened #6977 "MergingMediaSource with delay"
Hi
I have MergingMediaSource with audio and video sources and want to add delay to the audio file, like to play audio after 2 seconds from the video.
My audio and video sources are ProgressiveMediaSource and I can't find a solution for this.

I look forward to your reply.

[2020-02-14 15:07] kim-vde commented on #6975
Could you please send a minimal piece of code that I could use to reproduce? Also, what is the type of mMediaPlayer?

[2020-02-14 15:38] kim-vde commented on #6975
I tried to reproduce the issue but I couldn't. Here is the sample code that I used:

[code]

[2020-02-14 16:16] icbaker opened #6978 "Support TTML extent & origin on <p> & <div> tags"
### Use case description
TTML2 allows origin and extent to be declared on `<p>` and `<div>` tags:
https://www.w3.org/TR/2018/REC-ttml2-20181108/#style-attribute-extent-special-usage

Currently `TtmlDecoder` only parses extent & origin from region tags (TTML 1 only allowed this):
https://github.com/google/ExoPlayer/blob/fd24df3b262dca1bc0b429421ba334fa127af3cf/library/core/src/main/java/com/google/

[2020-02-14 16:24] nigelmegitt commented on #6978
Worth noting that usage of this feature (TTML2's [`#region-implied-animation`](https://www.w3.org/TR/2018/REC-ttml2-20181108/#feature-region-implied-animation) feature) is not permitted in either the IMSC or EBU-TT-D profiles, when considering prioritisation of this vs other features that have a bigger impact for the user such as [`#linePadding`](https://www.w3.org/TR/ttml-imsc1.1/#feature-linePad

[2020-02-14 16:59] kim-vde commented on #6977
If possible, the easiest way is to update the audio stream directly.

If not, you can concatenate the audio with a `SilenceMediaSource`, but then you will not be able to merge the resulting media source with the video, as they don't have the same number of periods anymore. You will therefore need to use 2 different players (one for audio, one for video) and to implement the synchronisation by your

[2020-02-14 18:26] master255 commented on #6975
@kim-vde , I just checked. This problem only happens with Visualizer.
And if you turn on the equalizer with Visualizer, the problem goes away.
Bug only happens when the EQ is off and Visualizer is on.

I use SimpleExoPlayer. I tried to change all the settings and the bug is reproduced anyway.

[2020-02-14 19:06] master255 commented on #6975
@kim-vde I just tried to add Visualizer to the Demo application and got the following errors:
[code]

[2020-02-14 19:24] master255 commented on #6975
@kim-vde This error is due to the fact that I did not add the permission to record the sound. Now I'm testing...

[2020-02-14 19:37] master255 commented on #6975
@kim-vde It's hard to reproduce. I found the truth! An audio session doesn't work if it's generated when the application has no audio focus. Only in Visualizer.

[2020-02-15 02:07] #6905 closed, assigned to icbaker

[2020-02-15 04:13] xufuji456 opened #6979 "different mimeType between FlacExtractor and LibflacAudioRenderer"
Hello, I don't figure out that the mimeType is "audio/raw" in FlacExtractor of FLAC extension. However, the specific mimeType is "audio/flac" in LibflacAudioRenderer. As s result, LibflacAudioRenderer couldn't work for FlacExtractor.

[2020-02-15 11:30] master255 commented on #6975
@kim-vde No. I get an audio focus, but the session still doesn't work. Testing. Don't close the bug.

[2020-02-15 12:30] master255 commented on #6975
@kim-vde Perfect! I found the bug! And I was able to finish the demo application so it could reproduce it, too.
The app's in the attachment.
Bug calls the line: player.seekTo(2147);
When I need to restore the audio position, it happens. And one time out of 5-20 player launches.
http://master255.org/res/%d0%9c%d1%83%d0%b7%d1%8b%d0%ba%d0%b0/0-9/3rd%20Force/3rd%20Force%20-%20Here%20Comes%20The%20Nigh

[2020-02-15 14:49] master255 commented on #6975
And I've already won the bug with that logic:
boolean haveStartPosition = startWindow != C.INDEX_UNSET;
    if (haveStartPosition) {
      player.seekTo(startWindow, startPosition);
    }
    player.prepare(mediaSource, !haveStartPosition, false);

If you don't think it's a bug, you can close it.
But there's a problem with the audio session. It just doesn't interfere with the processes right now.

[2020-02-15 15:34] inat-tv opened #6980 "ImaAdsLoader Error"
Ima Ads Loader keeps getting errors. Rebuild Project finally got this error.

<a href="https://hizliresim.com/0rVJZV"><img src="https://i.hizliresim.com/0rVJZV.png"></a>

[2020-02-15 20:08] icetronics commented on #6890
@andrewlewis or @ojw28 - could you please give me any pointers what could be wrong? Thanks in advance

[2020-02-16 01:08] DarkAnakin opened #6981 "smoothstreaming failed with 2.11.2"
### [REQUIRED] Issue description
smoothstreaming videos failed to play with the version 2.11.2

### [REQUIRED] Reproduction steps
play Super speed demo
[code]

[2020-02-16 02:15] sruditsky opened #6982 "Failure to play content with 8-byte IV after playing content with 16-byte IV"
### Issue description
Playing 8-byte IV content after 16-byte IV content on a single instance of ExoPlayer results in a garbled video.

### Reproduction steps
Let's assuming we have 2 DASH content items: one with 16-byte IV and the second with 8-byte IV.
Create an instance of ExoPlayerImpl and play both items in order on a single ExoPlayerImpl instance.
I.e.
a) prepare the 16-byte IV item
b) play

[2020-02-16 08:01] LSDsl opened #6983 "Improve handling of discontinuities for TS streams"
Exoplayer 2.11.2 (and any prev. version too)

[code]

[2020-02-16 09:52] ojw28 commented on #6980
It looks like you're trying to use ExoPlayer's IMA extension together with a version of the IMA SDK that's newer than the one we support. We currently support 3.11.3, which is what we pull in via gradle if you don't do anything special yourself:

https://github.com/google/ExoPlayer/blob/r2.11.2/extensions/ima/build.gradle#L35

Upgrading ExoPlayer to use a newer version of the IMA SDK is tracked by

[2020-02-16 09:52] #6980 closed

[2020-02-16 13:03] ojw28 commented on #6823
@tl-robertmanley - It's unclear whether the issue you're seeing is actually exactly the same, so I'd suggest filing a new issue. Please fill in the issue template properly when doing so, else we'll not have sufficient information to investigate (which is why this issue got closed).

[2020-02-16 13:06] ojw28 commented on #6890
I think @andrewlewis was right above - You'll need to ask Amazon to take a look at this. In particular, you should probably ask them what this means and why it could happen:
[code]

[2020-02-17 07:56] karen-1996 commented on #6977
I try to concatenate 2 media sources but played only first, here is what I try
val concatenatingMediaSource =
            ConcatenatingMediaSource(
                ClippingMediaSource(videoSource, 0, 40000000),
                ClippingMediaSource(videoSource, 4000000, 15000000)
            )

After this, my video played from 0 to 4 seconds and ended

[2020-02-17 08:41] Chuangwen-LIU commented on #6880
@andrewlewis Thank you for replying!

- From the production data, the error type is the only thing we could get. There is no error message.
- And we haven't been able to reproduce the issue yet after hundreds of trying on multiple devices.

It looks we can't root cause it for now.

Actually we are not reusing the surface texture. Here is our detailed process:
1. Firstly we create a codec and confi

[2020-02-17 09:16] XanderSan commented on #6958
Hi.
I resolved first of two items using your suggestions.
Now I have other question.
I modified my app to play 3 360 videos concurrently in my recycler view (more than 3 video on my device don't work).
Now I need any idea to put the selected video in full screen without reload the video in another player.
Do you have any suggestion?
The java classes for this last recycler view are VideoPlayerViewH

[2020-02-17 09:51] marcbaechinger commented on #6754
Closing due to inactivity. Please reopen if required.

[2020-02-17 09:51] #6754 closed, assigned to marcbaechinger

[2020-02-17 09:51] marcbaechinger commented on #6848
Closing due to inactivity. Please reopen if required.

[2020-02-17 09:51] #6848 closed, assigned to marcbaechinger

[2020-02-17 10:29] kim-vde commented on #6979
The `FlacExtractor` from the FLAC extension is not intended to be used with the `LibflacAudioRenderer` because the frames are decoded directly in the extractor and PCM data is therefore outputted. You have 2 possibilities:
- use the `FlacExtractor` from the FLAC extension and render with `MediaCodecAudioRenderer`, or
- use the (newly-released) `FlacExtractor` from the core library and render with

[2020-02-17 10:58] andrewlewis commented on #6958
For normal playbacks, the main options I'm aware of for transitioning between windowed/full screen are:
1. Resizing the current player output view to fill the screen (this requires arranging your layout so the view is on top and can be made to fill the screen).
1. Resetting the player's surface to switch it to a different output view that is full-screen. From API 23 on devices where `MediaCodec.se

[2020-02-17 11:00] kim-vde commented on #6977
`ConcatenatingMediaSource` creates playlist items. By default, the 2 `ClippingMediaSource`s should be played one after the other, as playlist items. You can play the videos as if it was a single media by setting [`setShowMultiWindowTimeBar`](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/ui/PlayerView.html#setShowMultiWindowTimeBar-boolean-).

[2020-02-17 12:24] karen-1996 commented on #6977
Great, this problem solved. Now I try something like this
[code]
Here the video starts and there is no sound, everything looks good. After 2 seconds audio starts playing, and it was playing from 2 seconds, not from 0 seconds.
Why ???

[2020-02-17 12:32] tonihei commented on #6977
That's a known bug, see #6103.

[2020-02-17 12:46] christosts commented on #6983
Can you please provide a link to the test content so that we can test? The ticket description mentions a the stream has an error, can you please provide more info about that? Also, what device (model and Android OS version) you are using?

(We have an issue template [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md) that covers what is usually needed to start

[2020-02-17 14:00] QiAnXinCodeSafe opened #6984 "Unreleased Resource: Streams"
https://github.com/google/ExoPlayer/blob/fd24df3b262dca1bc0b429421ba334fa127af3cf/library/core/src/main/java/com/google/android/exoplayer2/audio/TeeAudioProcessor.java#L163

The program can potentially fail to release a system resource.

[2020-02-17 14:28] xufuji456 commented on #6979
@kim-vde Thank you very much. I got it.

[2020-02-17 14:28] #6979 closed, assigned to kim-vde

[2020-02-17 15:37] HzwSunshine opened #6985 "How to use both OkHttpDataSourceFactory and CacheDataSourceFactory?"
I want to use OkHttp to load data and also want to cache data，How to use both OkHttpDataSourceFactory and CacheDataSourceFactory?

[2020-02-17 16:29] LSDsl commented on #6983
Amlogic p281, Android 7, Sent link to video to mail

[2020-02-17 17:48] icbaker commented on #6581
Should be working in `dev-v2`.

[2020-02-17 17:48] #6581 closed, assigned to icbaker

[2020-02-17 20:38] ojw28 commented on #6982
Thanks for the clear issue report. This has always been broken (!), so I guess your use case isn't a particularly common one :). It should be fixed by the change above; please let us know if you still see any issues.

[2020-02-17 20:38] #6982 closed, assigned to ojw28

[2020-02-17 20:45] ojw28 commented on #6981
Thanks for the report. SmoothStreaming isn't as widely used as the other streaming standards we support (i.e., DASH and HLS), and we need to put some better testing in place for it.

We will create a 2.11.3 release shortly that includes the fix. We've also added `DefaultSsChunkSouce` to the nullness tests that we run internally, which would have caught this, and will be working on putting some bet

[2020-02-17 20:45] #6981 closed, assigned to ojw28

[2020-02-17 21:29] StefanosIliadis commented on #6929
Hello,

I have created a new Service like:

[code]
I declared it in AndroidManifest.xml too.

So, when I close app from taskmanager it continues to display notification bar (and I can't close it with swipe left/right).
Any syggestion please?

[2020-02-17 23:36] wazerstar commented on #5491
@AquilesCanta or @marcbaechinger any news ?

[2020-02-18 02:01] #6985 closed, assigned to nobody

[2020-02-18 02:04] HzwSunshine commented on #6985
Excuse me, I have resolved

[2020-02-18 04:22] pawaom opened #6986 "When can we expect better battery consumption support in Exoplayer For Android Q and above"
When can we expect better battery consumption support in Exoplayer For Android Q and above

It was mentioned in this post

https://exoplayer.dev/battery-consumption.html

hope its done soon

[2020-02-18 06:14] tuxxon opened #6987 "I got [com.google.android.exoplayer2.ParserException: Invalid NAL length]"
### [REQUIRED] Issue description
When playing  https://www.youtube.com/watch?v=JN4RMvH72Uo with ExoPlayer
I got [com.google.android.exoplayer2.ParserException: Invalid NAL length]
the details error message I got is
[code]

###[REQUIRED] Reproducing errors.
I think if you use `NewPipe` app which is using Exoplayer, then you can reproduce this error.

### [REQUIRED] Version of ExoPlayer being used
v

[2020-02-18 08:27] andrewlewis commented on #6880
Thanks for the information. I think there is a way forward where you keep the same `SurfaceTexture` surface attached to the decoder for its lifetime and copy from there to the output surface using OpenGL, to avoid calling `setOutputSurface`. I will close this for now as I don't think we can do much else to help, but if you can get any more information about the errors please feel free to file a ne

[2020-02-18 08:27] #6880 closed, assigned to andrewlewis

[2020-02-18 08:46] finneapps opened #6988 "Chromecast Audio not detectable after upgrading from 2.10.8 to 2.11.2"
### [REQUIRED] Issue description
Chromecast Audio and normal Chromecast has been working fine when using 2.10.8. But after I upgraded to use 2.11.2, it is only the Chromecast on my TV that is detectable. Chromecast Audio is gone. I also tried 2.11.0 and that version is also not able to detect Chromecast Audio.
I create ExoPlayer and CastPlayer like this:
[code]
in 2.11.2 newSimpleInstance is depre

[2020-02-18 09:51] krocard commented on #6986
I'm currently working on it full time. This requires to rework the renderer data path and scheduling of Exoplayer so it is far from trivial. Very soon a detailed design doc will be published and some preliminary patches have already been merged (eg: ebce903aaf543b5056022dc71ed5e3cce866fdbc).

[2020-02-18 09:51] #6986 closed, assigned to krocard

[2020-02-18 10:39] AquilesCanta commented on #5491
Sorry @wazerstar, we are low on bandwidth right now and I doubt we will be planning for this in the short term. I think it's worth considering sending a pull request to support this.

Mention to @icbaker, in case you are interested in looking at TV subtitles.

[2020-02-18 10:49] icbaker commented on #5491
I don't have any plans to implement this - I agree it's something we'd accept a high quality pull request for.

[2020-02-18 10:57] mzgreen commented on #6234
Hey what is the status of this issue? Are there any plans to implement it in near future?

[2020-02-18 15:45] kim-vde commented on #6975
What happens is that the visualiser is configured while the audio track is being released and rebuilt. Sometimes, the audio track does not exist anymore when the visualiser accesses it, which causes the bug.

To fix this, you have 2 possibilities:
- You can pass a generated audio session id by using something like `audioSink.setAudioSessionId(C.generateAudioSessionIdV21(context))`. To do that, you

[2020-02-18 16:33] kim-vde commented on #6983
Could you please resend a link to the content? It is outdated.

[2020-02-18 17:06] kim-vde commented on #6968
You can checkout the release tags and build the apk locally.

[2020-02-18 18:15] ilpelatodijavascript opened #6991 "Pause progressive stream"
Hello, I'm pausing a Progressive Media Source like this:
[code]
and it works as it should untill the stream buffers and instead of playing from the right position it jumps back to the live feed.
Is there any way to fix this?

[2020-02-18 20:25] navluis commented on #6947
Hi Andrew,

Yes, we were trying to avoid that as we preferred the communication between the audio hal and omx decoder to stay simple. So far, we've managed to keep it one-way, only signaling from audio to video decoder but I guess we'll have to look into extending this model.
Anyway, I understand your point of trying to keep the tunnel/non-tunnel logic consistent and the potential audio artifact t

[2020-02-18 21:00] fgl27 commented on #6991
how much time you paused for? maybe it helps also the media link that causes the issue (if you can share the link if not there is a way to private send links but is not for me, only if the project maintainers ask they let you know how to)...

there is a **maxBufferMs** with the default values is [DEFAULT_MAX_BUFFER_MS](https://exoplayer.dev/doc/reference/constant-values.html#com.google.android.exo

[2020-02-19 04:14] jopolot opened #6992 "Video Looping inside of Leanback UI"
I have an issue I trying to see if someone knows what maybe going wrong.  I have an app similar to the Video Looper by Braids Brain. Except I am using the Android Leanback UI. The Video Looper app seems to run without issue video after video, but my app will start to have audio issues then start jumping frames, then eventually will close Android Box will just go back to home screen.

It will norma

[2020-02-19 05:27] waqasyousafy commented on #6970
Hi icbaker can i get extra help from you ???. If you agree.

[2020-02-19 05:35] sakhasri opened #6993 "Can we download Multiple(URI's) Videos with One Service running with One Notification."
[No information provided]

[2020-02-19 08:18] giladna opened #6995 "2.11.3 (2020-02-19)- is released but no tag available in github for that for now."
Before filing a question:
-----------------------
- This issue tracker is intended ExoPlayer specific questions. If you're asking
  a general Android development question, please do so on Stack Overflow.
- Search existing issues, including issues that are closed. It’s often the
  quickest way to get an answer!
  https://github.com/google/ExoPlayer/issues?q=is%3Aissue
- Consult our developer websit

[2020-02-19 08:44] hans-de-clercq commented on #4078
I had a similar issue in my app. When I tapped my skip button quickly 5-10 times, playback got stuck with a SocketTimeoutException.

Updating exoplayer to 2.11.2 did not solve this issue for me. Disabling http/2 with `.protocols(listOf(Protocol.HTTP_1_1))` did the trick though.

So I'm not sure this issue is fixed now.
@noamtamim, did you manage to verify this?

[2020-02-19 08:52] noamtamim commented on #4078
Sadly, I didn't get the chance to do it. For now we have disabled http/2.

[2020-02-19 08:54] shobanavelmurugan commented on #6930
Anyone  have tested those scenarios.can you  please update what are other information required from my end.

[2020-02-19 08:54] shobanavelmurugan commented on #6930
but no solutions posted yet

[2020-02-19 09:25] ojw28 commented on #6995
Tag added; thanks.

[2020-02-19 09:25] #6995 closed, assigned to ojw28

[2020-02-19 09:29] ojw28 commented on #4078
I suggest you (once again) report this to the OkHttp project along with reproduction steps. There's not much we can do about it on the ExoPlayer side, unfortunately. You could alternatively use a network stack that doesn't have this issue (e.g., Cronet).

[2020-02-19 09:57] icbaker commented on #6970
I'm afraid we don't have the bandwidth to help with general media-related questions.

Your media is malformed - you need to look elsewhere (e.g. Stack Overflow) for info on either how to fix your existing media or fix whatever system is generating it to do so without discontinuities.

[2020-02-19 10:30] christosts commented on #6984
Hi,

I'm not sure I follow the question. The file is closed in the [reset()](https://github.com/google/ExoPlayer/blob/fd24df3b262dca1bc0b429421ba334fa127af3cf/library/core/src/main/java/com/google/android/exoplayer2/audio/TeeAudioProcessor.java#L225) method.

Have you come upon a situation where the file is not closed?

[2020-02-19 11:07] MauroVa opened #6996 "Black screen flashing when playing on recycler view"
### [REQUIRED] Issue description
Hello, I'm trying to implement a video player in a recycler view, I have a list of videos you can scroll, the video showed on screen is set on play while the others off screen are set on pause. I'm doing this setting player.playWhenReady on true or false.
The problem I'm facing is whenever a video starts playing there's a short black screen flashing before it actua

[2020-02-19 11:25] noamtamim commented on #4078
I can confirm that the issue still occurs in the test app attached to https://github.com/google/ExoPlayer/issues/4078#issuecomment-532838695. I've updated it to use ExoPlayer 2.11.3 and a new stream.
[Http2Test-Issue4078-Exo2.11.3.zip](https://github.com/google/ExoPlayer/files/4224759/Http2Test-Issue4078-Exo2.11.3.zip)

It seems to be harder to reproduce now (you have to play with the seek bar mor

[2020-02-19 12:25] christosts commented on #6987
The [YouTube Android Player API](https://developers.google.com/youtube/android/player/) is the official way to play YouTube videos on Android. It's not possible to obtain direct links to YouTube videos for playback by ExoPlayer.

[2020-02-19 12:25] #6987 closed, assigned to christosts

[2020-02-19 12:31] jzhoubupt commented on #6973
Hi @kim-vde ,
Thanks for pointing that. This is the area i was looking for.
I was guessing there is logic in Exo to calculate the start position for live case but a API to set this value is reasonable as well.
Regards,
jzhoubupt

[2020-02-19 12:31] #6973 closed, assigned to kim-vde

[2020-02-19 12:31] jzhoubupt commented on #6973
Get my answer and close the ticket.
Thanks again for your support.

[2020-02-19 12:50] rinav opened #6997 "Upgrade sample to handle new release of exo-player 2.11.3"
### Searched documentation and issues
Tried building UAMP with exo-player 2.11.3 but wont build because of one interface change

### Question
When Upgrading exo-player to 2.11.3, `UampPlaybackPreparer` needs to override methods from `MediaSessionConnector.PlaybackPreparer` which are changed a bit. Most of the methods have a new parameter `boolean playWhenReady`
How can we make use of this new info

[2020-02-19 12:56] #6997 closed, assigned to ojw28

[2020-02-19 12:57] rinav commented on #6997
Sorry Posted in wrong repo

[2020-02-19 13:37] saadbzu opened #6998 "Stop player at specific position in recyclerview"
I want to stop the exo player at a specific position in recyclerview. Current the exo player have this function:

`videoPlayer.stop();`
But i want to stop player at specfic position something like :

`videoPlayer.stopAt(2);`

[2020-02-19 17:42] marcbaechinger commented on #6991
I think the two cases are different. The initial issue seems to be about a non-seekable `ProgressiveMediaSource` which actually is a live stream. The second is about an actual HLS live stream for which the manifest is reloaded frequently and the live window changes (I'd expect a `BehindLiveWindowException` after a while).

I'll look into the initial case. @fgl27 Can you please open another issue i

[2020-02-19 17:47] marcbaechinger commented on #6993
This is not supported I'm afraid. Each URL creates a separate `DownloadRequest` which can be downloaded, cancelled, deleted on its own and creates its own notification.

[2020-02-19 18:16] marcbaechinger commented on #6996
It takes some time from the moment you prepare the player until it renders the first frame. I think that's the black flickering you are seeing.

You can try to prepare the player as early as possible, like when the `ViewHolder` is attached to the `RecyclerView` and the player view is still off screen (`RecyclerView.OnChildAttachStateChangeListener`). If you already doing this and it does not help,

[2020-02-19 18:23] marcbaechinger commented on #6993
You only need a single `DownloadService` for multiple downloads. So downloading multiple streams with a single service is the normal case. You can look into the demo app which uses a single service only.

Further the download service only creates a single notification for the stream which is currently downloaded.

The `DemoDownloadService` of the demo app creates one notification for each download

[2020-02-19 18:34] ojw28 commented on #6992
I don't think this has anything to do with your use of the Leanback UI. It sounds like the device just has an underlying problem at the platform level.

We've seen a lot of issues with what I'd describe as "low end" Android TV devices. You'll most likely need to report the issue to the device manufacturer.

[2020-02-19 19:11] jopolot commented on #6992
Yes, I understand your comment and what you mean, but The Video Looper App, by Brads Brain works well on the same Android Device, so I don't think the device is the problem. I will however see if I can track down the error code in hopes that it will reveal the issue whether device related or not.

[2020-02-19 20:23] master255 commented on #6983
@LSDsl Maybe it's a double? https://github.com/google/ExoPlayer/issues/6647
You need to correct the settings. Close the bug, if that's the truth.

[2020-02-19 20:43] noamtamim commented on #4078
@ojw28 I couldn't reproduce it with OkHttp alone. As I mentioned above, it's much harder to reproduce it now. So the question is, how to recover?

These are the final logcat lines when it happens:

[code]

The `InterruptedIOException` exceptions are actually ok, because they are caused by seek/cancel. However, after so many cancellations (this specific run had 140 of them), you get a new error - `

[2020-02-19 22:24] ebmalone1234 commented on #5978
We still have a lot of interest in this issue.  Is anyone actively working it?

[2020-02-19 23:21] fmatosqg commented on #6991
@fgl27 @marcbaechinger I can confirm that while pausing my HLS live stream it's a big hassle to get back on track.

I wish many things in exoplayer were simple:

- I need to listen to all errors, crawl through it and check if its type is BehindLiveWindowException
- once that happens I have to propagate it as a new state so some other class that listens to all state changes will check if the new st

[2020-02-19 23:35] ojw28 commented on #4078
I think (1) is a question for the OkHttp team, and (2) is a question for the app developer.

Ultimately, we're providing an extension that allows you to use the OkHttp network stack. No one has ever diagnosed an issue with our integration. If the underlying network stack doesn't work properly, it's the responsibility of the maintainers of that network stack to resolve that. We also provide an exte

[2020-02-20 05:31] rameshvoltella commented on #5887
@ojw28 not caring about this issue?or you guys are working on it?

[2020-02-20 05:57] noamtamim commented on #4078
@ojw28 I agree with you on 2.

By 1, I'm asking if you think any recovery (or **quick failure**, allowing the app to recover faster) code can be added to OkHttpDataSource. Kaltura's backend and CDN support http/2 and it's a shame we cannot utilize it on Android, which accounts for most of the plays.

[2020-02-20 06:19] meenukrishnamurthy commented on #3750
@andrewlewis Any update on this feature.We also need this.I would be great if you guys take it as priority task

[2020-02-20 07:29] huochaifanfan opened #7000 "Widevine: Why is there a request to "www.googleapis.com"?"
[code]

[2020-02-20 08:34] kirannecg opened #7001 "How can I change the audio track name"
I have a question, I need to change the audio track name, by default its showing English but I need to change from English to some other name & also remove none from the video track

[2020-02-20 09:30] tonihei commented on #5978
The merging part is already done and released from 2.11.0 onwards (see commit above). The parallelization is also implemented but not submitted yet due to pending reviews and it will likely be in the next major release.

[2020-02-20 10:18] ojw28 commented on #5978
Correction: The merging part was not actually included in 2.11.0 (or any tagged release to date). It will probably land together with the parallelization improvement in 2.12.0.

[2020-02-20 10:41] ojw28 commented on #4078
From the stack trace above, it looks like the issue is surfaced to `OkHttpDataSource` as a regular `SocketTimeoutException`. So I doubt it's possible to disambiguate this problem from other socket timeouts. I also doubt it's possible to do anything (sensible) that allows for recovery in a time shorter than it takes for the initial `SocketTimeoutException` to be surfaced. Does that already take too

[2020-02-20 11:36] christosts commented on #6998
In `videoPlayer.stopAt(2)`, is parameter `2` the playback position? If yes, then this is similar to the request of #5660.

[2020-02-20 11:42] christosts commented on #7000
The device communicates with a Provisioning Service to obtain device-unique credentials. This is part of the [MediaDrm API](https://developer.android.com/reference/android/media/MediaDrm) spec.

Searching for similar issues,  #6370 and #5129 may provide useful information depending on your use case.

[2020-02-20 11:57] marcbaechinger commented on #6991
@fmatosqg What would be your suggestion the player should do to handle the situation of falling behind the live window?

The current solution does play out as much as it can and then signals that it run into an exceptional state from which it is not clear how to recover. You are right that in throwing, the player leaves it to the app how to deal with this situation. Silently restarting at the defa

[2020-02-20 14:36] marcbaechinger commented on #6234
There are no plans to implement this in the near future I'm afraid.

[2020-02-20 15:27] nishantkp opened #7002 "Video gets stuck on mid-roll second Ad-break and puts ImaSdk in weird state causing video freeze like effect"
### Issue description

Video get stuck on 2nd ad-break on 1st mid-roll. It player second ad just fine and then it is stuck on Ad.
Prints warning saying,

[code]
After that when you press play/pause and play it will throw following error and disables all ads on that video.
[code]

This was fine till 2 days ago. It suddenly broke our platforms. Not sure what causing this behaviour.

### Reproduction

[2020-02-20 16:06] andrewlewis commented on #7002
Thank you for reporting this. We are looking into it now.

It's likely that the regression can be fixed by a server-side change. Assuming that's correct, I will update here when we have verified the fix and know when it will roll out.

[2020-02-20 16:23] nishantkp commented on #7002
Thanks a bunch @andrewlewis . It would be great if you address this issue as early as possible.

[2020-02-20 17:48] willzhan opened #7003 "HEVC DASH + PlayReady in ExoPlayer: android.media.MediaCodec$CryptoException"
### [REQUIRED] Issue description
APK used: https://drive.google.com/file/d/1MTAi7y80Njjqz_gH5zo5SQa7shAYYxB8/view?usp=sharing
APK based on: https://github.com/google/ExoPlayer
Live HEVC DASH + CENC (PlayReady/Widevine) stream URL: •	https://hkms-aaea.streaming.media.azure.net/7f000d39-7421-470f-9ba6-9cb855addc82/manifest.ism/manifest(format=mpd-time-csf,encryption=cenc,filter=uhd)

Player throws e

[2020-02-20 17:50] christosts commented on #6745
Hi,

when you say `I want to play cache before the download is complete`, can I ask exactly what is your app trying to do? For example, is your app trying to download a file using the `DownloadService` and wish to play the file while it is being downloaded?

[2020-02-20 18:23] ojw28 commented on #6992
I don't think that comparing your app to another is a good way of working out whether the issue is device related. You have no way of knowing how that other app is implemented, and there are all kinds of potential differences in the detail of exactly how different apps might make use of the underlying platform.

[2020-02-20 20:19] noamtamim commented on #4078
The initial `SocketTimeoutException` fires relatively quickly - a few seconds I think. But as you can see below, ExoPlayer only gives up and reports an exception the app can handle after more than 30 sec.

I'll try to experiment with the client.

AFAIK my options are (a) HttpURLConnection - does not support http/2 (b) OkHttp and (c) Cronet.

I'm sure that since Cronet is Chrome's native http stack

[2020-02-20 20:37] ojw28 commented on #4078
Cronet is bundled inside Google Play Services these days, which means you no longer have to bundle the native stack directly in your apk. You can probably just rip out the `'org.chromium.net:cronet-embedded:76.3809.111'` dependency and drop in `'com.google.android.gms:play-services-cronet:17.0.0'` instead, which I think is the difference between ~8MB and ~40K.

I'm actually not sure why we haven't

[2020-02-20 20:40] noamtamim commented on #4078
This is great news, I will sure give it a go.

[2020-02-20 20:46] jopolot commented on #6992
Thanks for the feedback, I will continue to look at platform differences and issues, I did play it on my Fire TV, saw visual improvements, but didn't pick up certain Thumbnails on the app. Exoplayer itself is running fine, I have three different devices Fire TV 6.0, X96s, X96mini, will continue testing, trying to figure out best way to have program run properly, but since the program runs on diffe

[2020-02-20 20:46] #6992 closed, assigned to ojw28

[2020-02-20 21:19] andrewlewis commented on #7002
A possible fix for this is rolling out at the moment.

[2020-02-21 02:07] #6925 closed, assigned to ojw28

[2020-02-21 08:06] andrewlewis commented on #7002
Verified this is now working for me. Please reply here or open a new issue if something still seems broken. Thanks and sorry for the inconvenience.

[2020-02-21 08:30] andrewlewis commented on #6947
Hi Luis, here is the reply from the video framework team: "For a new video decoder, I assume it would get KEY_AUDIO_SESSION_ID from the app side, which triggers configureVideoTunnel API to their HAL with the audio track hardware sync ID. I believe this should be enough signalling from framework to HAL for setting up the tunnel."

[2020-02-21 12:01] sindycarlo opened #7004 "Does Exoplayer support RTSP protocol videocamera streaming?"

[2020-02-21 12:16] phhusson commented on #7004
Typing "rtsp" in the search field of issues clearly shows this is answered
in #55 and the answer is no.
Typing "rtsp" in the pull request field shows there is an implementation
available in https://github.com/google/ExoPlayer/pull/3854

[2020-02-21 12:35] portizb commented on #7004
@sindycarlo I am the author of the implementation available in the PR  #3854.
For now, the current branch is not merged with the latest changes on ExoPlayer/dev-v2.

From my own repository, you can get the most updated version and merged from dev-v2.

git clone -b dev-v2-rtsp https://github.com/portizb/ExoPlayer.git

[2020-02-21 13:30] sindycarlo commented on #7004
i have imported "implementation 'com.google.android.exoplayer:extension-rtmp:2.8.4'". i tested protocol rtsp for a live streaming video, and it's working. but doesn't work with rtsp live streaming webcam. i don't know why.

[2020-02-21 14:09] ArturTimoxin commented on #6168
Have the same issue. Device: Lenovo A6020a40

[2020-02-21 14:36] nishantkp commented on #7002
Hi @andrewlewis,

It seems all good now. We will keep monitoring if something goes wrong.

Thanks a bunch for this quick fix. 🎉 👏