[2021-02-25 14:03] moradi-morteza opened #8635 "How to download HLS samples whilst playing it?"
Required some sample project regarding hls download in same time that playing it,
Information in
https://exoplayer.dev/downloading-media.html
Is not clear!

[2021-02-25 14:33] christosts commented on #8593
The label is for internal tracking. I put this label because, at the moment, the issue seems to be related to Android's software decoder and not ExoPlayer. But I do not have more on this yet.

[2021-02-25 17:14] motokazmin commented on #8602
He @christosts .
I'm trying to understand why player goes into a stupor. Two illustrate my things I will use pictures from docs. Below is my memory dump when stupor is happened:
![Снимок экрана (64)](https://user-images.githubusercontent.com/29951880/109188184-b5e52500-77a3-11eb-9116-3233ab1cf8e6.png)
It seems for me that we continue to load peaces of data from internet but at same time don't  sto

[2021-02-25 17:56] Samrobbo commented on #8622
I've confirmed that this is reproducible on a Pixel 3a running Android 10, on the unchanged demo app.

[2021-02-25 17:59] Samrobbo commented on #8625
@tonihei, You've worked on DefaultBandwidthMeter, can you have a look into this?

[2021-02-25 18:11] Samrobbo commented on #8633
This looks like an app specific issue. Unfortunately we can't give 1:1 support for solving app specific
issues. We'll leave this issue open for ~2 weeks in case anyone wishes to answer it here. If you think
this is a problem with ExoPlayer, please narrow down your issue to describe the ExoPlayer behaviour
that doesn't match your expectations.

I would recommend posting your own question on StackOv

[2021-02-25 19:40] krocard commented on #8594
I found what is happening but I have no root caused it yet.

Normally (for example on Pixel) during a track transition here is what happens:

 1. Extractor reaches the end of the 1st track. Last MP3 packet is at Presentation Time **τ**
 2. Renderer is notified that the current stream will end at τ.
 3. Renderer pulls from the MP3 buffer queue the last buffer of the 1st track (It has the Presentati

[2021-02-25 20:02] krocard commented on #8594
<details>
 <summary>Log of the Emulator at the track transition (gap is heard)</summary>

[code]

</details>

<details>
 <summary>Log of the Pixel 3 (gapless)</summary>

[code]

</details>

[internal: patch adding logging at cl/359504935]

[2021-02-25 20:26] krocard commented on #8594
@tonihei what is your opinion on this presentation time mismatch and extra codec buffer?
It could also be due to incorrect presentation time calculation in the codec. Similar to why `c2Mp3TimestampTracker` was introduced.

[2021-02-25 20:32] krocard commented on #8594
I just tried forcing `c2Mp3TimestampTracker` for `OMX.google.mp3.decoder`, and it solved the issue (no gap).
Nevertheless this doesn't seem to be a scalable solution given that the implementation seems to be specific to a given codec. Samsung phone might be a different codec, thus with a different timing offset.

@Samrobbo do you think generalizing `c2Mp3TimestampTracker` is possible?

[2021-02-25 21:56] ojw28 commented on #8628
The problem is that `changeMaxBytes` might acquire the `SimpleCache` mutex. It calls `evictCache`, which then calls `cache.removeSpan`, which acquires it. So synchronizing all public methods on the evictor ends up creating a code path that acquires the evictor mutex and then the `SimpleCache` mutex, where-as calls that go through the cache would acquire them in the opposite order.

[2021-02-25 23:31] ojw28 opened #8636 "Provide an easy way to set MPEG-D DRC codec parameters"
Android supports setting various MPEG-D DRC codec parameters to adjust the listening experience. These can be passed in the `MediaFormat` used to configure the codec, and updated dynamically via `MediaCodec.setParameters`. The available parameters are listed [here](https://developer.android.com/reference/android/media/MediaFormat#KEY_AAC_DRC_ALBUM_MODE).

It's currently quite awkward to set these

[2021-02-26 04:18] inat-tv commented on #8610
I gave sample code. How can I add this on exoplayer?
Shaka Player

[code]

[2021-02-26 06:19] pvishnyakov opened #8637 "Create TrackSelectionDialogBuilder and TrackSelectionView based on track type instead of renderer index"
Hi.
Current implementation of TrackSelectionDialogBuilder and TrackSelectionView requires the exact Renderer index to be specified.
It would be great to have an option to create the selection dialog/view based on track type like C.TRACK_TYPE_AUDIO and be able to select from all audio tracks provided by all renderers on the fly.

Why it’s needed:
If there are 2 audio renderers available at the same

[2021-02-26 07:02] ajoypoweract opened #8638 "Negative Pitch value for Exoplayer Xamarin forms"
I used exoplayer into my xamarin forms cross platform app. Regarding the pitch, I want range between -4 to + 4 semitones.
How to apply pitch value (-4). I know negative pitch is not supported on Exoplayer. But my requirement is , I can change pitch frequently -4 to +4. How it posssible.

[2021-02-26 08:09] soldierinwhite opened #8639 "EvaluateMediaItemTransition throwing unhandled exception during player initialization"
We are receiving crash reports in around .5% of users, but the behaviour seems to be unpredictable and we have only been able to reproduce the issue once during player initialization.

Here is the crash report:

[code]

It seems like the playbackInfoUpdateListener is initialized without any input from the client app, and the `postionDiscontinuityReason` does not seem like the client app has any co

[2021-02-26 08:34] MichaelRocks opened #8640 "NPE in ExoPlayerImplInternal.shouldUseRequestedContentPosition()"
**ExoPlayer version:** 2.12.3
**Android version:** 6.0
**Android device:** ZTE Blade V7 Lite (V0720)

We receive crash reports with the following stacktrace in production:
[code]

All these crashes are from the same device model but from different users. Unfortunately we're not able to reproduce this crash in a test environment, so I cannot provide any additional information.

[2021-02-26 08:54] krocard commented on #8617
As Sam said, the effect is applied in the platform's audio engine, just before being sent to the speaker. As a result the audio is not easily accessible. This is similar to why the audio capture in ExoPlayer doesn't have any volume attenuation or equalization.
There are 3 solutions to capture the audio after the effect is applied.
 1) Do not use a platform effect. Instead port the AOSP effect to E

[2021-02-26 08:58] krocard commented on #8617
3) Capture the audio without the effect from Exoplayer and reapply the effect internally using third party audio effect library. This is probably the simplest solution but will not guarantee that the same audio is heard and recorded due to the difference in effect implementation.

[2021-02-26 09:13] tonihei commented on #8625
This line is only called once in a static context, so it can't fill any limit up to 1000 as far as I can see. Do you have any signs that this particular receiver is registered more than once?

[2021-02-26 09:22] aroraprateek202112 opened #8641 "NPE in IcyHeaders class"
I am trying to play multiple audio files in loop. Previously with ExtractorMediaSource it is working fine, but after upgrade the exoplayer version and change the ExtractorMediaSource with ProgressiveMediaSource, this NPE is observed.

I have created ProgressiveMediaSource for each audio file, and then created the ConcatenationMediaSource by passing array of ProgressiveMediaSource. And for playing

[2021-02-26 09:38] icbaker commented on #8641
What DataSource implementation is being used here?

Looks like that NPE is occurring because `DataSource#getResponseHeaders()` is returning null (which is not permitted).

[2021-02-26 09:48] tonihei commented on #8628
Aha! So that's where the potential deadlock may come from. I see the problem now.

The only other proposal I have would be to improve the class structure / locking structure to avoid this issue.
  - For example by not having code that re-enters `Cache` from `CacheEvictor` (e.g. by returning `CacheSpans` to evict from `onStartFile` and similar).
  - Another option would be to set a lock object on C

[2021-02-26 10:06] andrewlewis commented on #8638
The pitch parameter in ExoPlayer's `PlaybackParameters` is a multiplicative factor (not a number of semitones). I think the factor multiplies the frequency, but I could be wrong so you may want to experiment or read the source for the implementation in [`Sonic.java`](https://github.com/google/ExoPlayer/blob/0e4d316/library/core/src/main/java/com/google/android/exoplayer2/audio/Sonic.java). I'd gue

[2021-02-26 10:12] andrewlewis commented on #8637
@krocard please could you take a look?

[2021-02-26 10:22] christosts commented on #8593
I got an update. The decoder team replied that

[code]

If you have control of the encoding process, maybe try re-encoding the content with different params? I'm afraid I won't be able to assist more as is outside my expertise. Also, this is not an ExoPlayer specific issue, so I'll close this issue.

[2021-02-26 10:22] #8593 closed, assigned to christosts

[2021-02-26 10:26] aroraprateek202112 commented on #8641
We have to play encrypted audio files. For that we have use EncryptedDataSource. Please find the file attached.

[EncryptedFileDataSource.txt](https://github.com/google/ExoPlayer/files/6048979/EncryptedFileDataSource.txt)

.

[2021-02-26 10:27] krocard commented on #8638
Note that the 2^(N/12) formula is exact only for equal temperance. Though I doubt the difference is audible.
+1 <=> set pitch to 2^1/12 ~ 1.059
-1 <=> set pitch to 2^-1/2 ~ 0.944

Doubling on @andrewlewis's warning: Sonic was design for relatively high speed adjustment of voice. For such small pitch change of music, the result might not be good enough.

[2021-02-26 10:29] icbaker commented on #8641
I suspect this is your problem:

[code]

If you remove that completely the default implementation from DataSource returns an empty map and should resolve your NPE.

[2021-02-26 10:29] #8641 closed, assigned to icbaker

[2021-02-26 11:10] aroraprateek202112 commented on #8641
Thanks @IanDBird, Now it's working.

[2021-02-26 13:02] fridapinto-debug opened #8642 "Chromecast receiver with custom header"
Hello I have created the chromecast receiver correctly and I can cast dash , mp4 and hls videos correctly. I also implemented drm license request using licenserequesthandler.

I want to know how can I add custom headers to manifestrequest and segment request? I want to check specific headers for media to be streamed like custom User-Agent, adding extra header.

so far I have done:

[code]

but sti

[2021-02-26 13:04] ojw28 commented on #8628
Yeah, it would be nice if `CacheEvictor` didn't call back into the cache. I'm not sure we can mandate that though. It would be avoidable for `LeastRecentlyUsedCacheEvictor`, if we returned the cache spans to evict from all of the `onX` methods as you suggest. We could change those methods to not have the `cache` argument either, which would reduce the possibility of custom evictor implementations

[2021-02-26 13:46] ojw28 commented on #8542
[Setting needs more info tag]

[2021-02-26 14:24] tonihei commented on #8628
You can enforce it easily by annotating the methods with `@GuardedBy("getLock()")` where `getLock()` is the new method returning the lock that needs to be used for access.

[2021-02-26 15:34] MichealReed commented on #8625
The issue is with repetitive calls to something in the DASH/streaming feature. If you continually attempt to restart the media in an environment where timeouts are prevalent this will eventually cause a crash as I cannot find anywhere this is formally being unregistered outside of the app being restarted.

[2021-02-26 16:37] tonihei commented on #8625
That doesn't really explain how this can happen. The registration happens once statically, so even if you restart many playbacks in your app, there will never be more than one instance registered.
If you think there is a bug, please provide us with reproduction steps that show the problem.

[2021-02-26 17:00] MichealReed commented on #8625
Although I am using exoplayer as a part of a flutter plugin, reproduction there should be the same. Start a dash stream (like https://cmafref.akamaized.net/cmaf/live-ull/2006350/akambr/out.mpd), have a loop in the background that monitors buffer status and stops/reloads the stream when nothing new is being added to the buffer. Stopping on connection lost, attempting to reload the source, then atte

[2021-02-26 17:05] tonihei commented on #8625
Given we never received such a report before, it may as well come from the flutter plugin. To investigate this, it would be best if you could try to reproduce in the ExoPlayer demo app.

Could you also provide the actual method calls or callbacks for this? Otherwise it's unclear whether trying this out will result the same behavior you are seeing.

[2021-02-26 17:08] MichealReed commented on #8625
Per here -- https://stackoverflow.com/questions/10876015/broadcast-receiver-register-in-manifest-vs-activity am I incorrect to think that even if it is statically registered it should still be unregistered? It seems that once a call is made to register the broadcast receiver it stays intact for the lifecycle of the object or the application and further calls to register will create an additional r

[2021-02-26 17:27] MichealReed commented on #8625
Another possible layer here is that I am using Cronet. OKHttp may be far to slow to ever reproduce this with common usage.

[2021-02-26 18:01] christosts commented on #8602
I replicated your setup as much as possible but I did not see the memory issues you mentioned.

To clarify things, your attached zip file contains an Android build of udpxy and some code on the ExoPlayer demo app that starts the udpxy executable. That said, the part that requests lost packets  from your initial description is missing.  That means that any packet loss will not be recovered and the

[2021-02-26 18:06] christosts commented on #8602
If the player is given data from udpxy, it will store them in the sample queues and renderers will attempt to at least decode them. Since in the setup udpxy is fed with incomplete information (lost packets are not recovered), it's unclear to me what the output of udpxy is. Unfortunately, I do not have the capacity to inspect the stream that udpxy produces. Are you certain that all the memory is oc

[2021-02-26 18:12] nishantkp commented on #8456
We are also facing this issue with the production app. Do you have an ETA for this one?

[2021-02-26 20:37] motokazmin commented on #8602
hi @christosts .
Try make the same experiments with packet loss 70% and stream bitrate 10-15Mbts...

[2021-02-27 03:40] kingfisherphuoc opened #8643 "got CodecException when playing mp4 file"
- ExoPlayer version number: 2.12.1
- Android version: 9.0
- Android device: Android TV Box X96Max_Plus2

It was good with `MediaPlayer`. However, I wanted some more advantages features of ExoPlayer, I switched to ExoPlayer. After playing a list of items for awhile, I got this exception:

[code]
What's the issue? Is there any workaround for it?

[2021-02-27 09:22] tdc-w opened #8644 "Synchronize video and audio positions when seekTo"
I use two video players and one audio player to play HlsMediaSource.
I'm trying to switch to video player2 while playing video player1, and synchronize the video and audio positions.
AudioPlayer is always playing.

- videoPlayer1（SimpleExoPlayer）
  - playing video file（playWhenReady=true）
- videoPlayer2（SimpleExoPlayer）
  - prepare video file（playWhenReady=false, STATE_READY）
- audioPlayer（SimpleE

[2021-02-28 11:51] halaei opened #8645 "Concurrent download and cache"
### Use case description
I think currently ExoPlayer doesn't handle concurrent downloading and caching in an efficient way.

There are important differences between downloading a file and caching it while it is being played:
- In download, the file needs to be fetched from the network as fast as possible and be stored permanently in storage. No eviction should be done on the downloaded files unles

[2021-02-28 14:47] moneytoo opened #8646 "TimeBar is missing scrubber after return from PiP (StyledPlayerView)"
When I enter and leave Picture-in-Picture mode, the `TimeBar` in `StyledPlayerView` is missing its scrubber (thumb). When I hide and show the controller by tapping the screen, only partial scrubber is displayed.

Steps to reproduce:

1. Open a video file from a file manager in [Demo app](https://github.com/moneytoo/ExoPlayerDemo/tree/pip)
2. Pres system "Home" button to enter PiP
3. Tap the PiP wi

[2021-02-28 20:09] kaweesi opened #8647 "Secure Reliable Transport (SRT) support"
### Use case description
As a programmer/user, i want to be able to stream an SRT url

### Proposed solution
Add [SRT](https://en.wikipedia.org/wiki/Secure_Reliable_Transport) support to exoplayer

### Alternatives considered
Using a separate SRT player

[2021-02-28 20:29] kaweesi opened #8648 "Overlaying graphics"
### Use case description
As a programmer i would wish to overlay/float on-top of the playing video graphics such as a logo, lower thirds, tickers etc.

[2021-02-28 21:29] ojw28 commented on #8648
You can already do this, simply by placing views over the player in the same way that you'd do for any other type of view in Android. If you wish to customize ExoPlayer's built in UI components, refer to [this documentation](https://exoplayer.dev/ui-components.html#customization).

[2021-02-28 21:29] #8648 closed, assigned to ojw28

[2021-02-28 22:20] luisuarez09 opened #8649 "Color error when playing Dash Videos"
In some smart phone devices, during low resolution video playback below 480p, the video is displayed with color errors. I am using Dash

- Samsung S5. Versión Android: 6.0
- Samsung J2 Pro. Android 7.1.1
- Version ExoPlayer: 2.13.2

![WhatsApp Image 2021-02-28 at 6 19 04 PM](https://user-images.githubusercontent.com/6549169/109435587-8a577a00-79f1-11eb-8c9f-0a0d554cdfb0.jpeg)
![WhatsApp Image 2021

[2021-03-01 01:34] gobin-i opened #8650 "HLS Audio Stream - Momentary Drop in Audio"
Hi,

I would like to seek your advise regarding the issue where we found there was momentarily drop in HLS audio whenever the "player!!.currentPosition" is a negative value. However, my Android developer highlighted that the issue was due to the inconsistent "EXTINF" value in the M3U8 file and ExoPlayer required the "EXTINF" value to be consistent across all audio chunks(Reference: https://exoplay

[2021-03-01 02:04] #8518 closed, assigned to marcbaechinger

[2021-03-01 08:40] ojw28 commented on #8543
I think the best thing for you to do would be to fork `ActionFileUpgradeUtil` and `ActionFile` into your own codebase. Modify `ActionFile` to be aware of your additional type (e.g., `DOWNLOAD_TYPE_HLS_MULTI = "multihls"`) and treat it in the same way as the regular `DOWNLOAD_TYPE_HLS` type is handled. Then, use your forked `ActionFileUpgradeUtil` to do the upgrade, and the right thing should just

[2021-03-01 08:40] ojw28 commented on #8597
A note regarding the customization described in #8543: ExoPlayer 2.12.0 added direct support for downloading segments in parallel, by passing an executor to the `DownloadManager`. See [this documentation](https://exoplayer.dev/downloading-media.html#creating-a-downloadmanager). Newer versions of the ExoPlayer demo app use `Executors.newFixedThreadPool(/* nThreads= */ 6)` to allow up to six paralle

[2021-03-01 09:57] motokazmin commented on #8602
Hi @christosts
Please confirm how you can reproduce the bug before any other activity - I will be able to plan my future work.

[2021-03-01 10:15] tonihei commented on #8625
I'm afraid we can't really act on a high-level suspicion that *something* in ExoPlayer (or a related library in your app) *somewhere* registers too many receivers. We'd really need a concrete sign (e.g. evidence of repeated registration) that something is wrong in a particular place (e.g. a concrete class) to investigate further. Alternatively, if you want us to investigate ourselves, please provi

[2021-03-01 10:33] ojw28 commented on #8594
@Samrobbo @andrewlewis - Assuming the answer to Kevin's question is no, which I think it probably is, we might want to rethink the changes that made `C2Mp3TimestampTracker` necessary in the first place.

Is its primary purpose to avoid the need to pass end-of-stream through the decoder as a way of signalling the point at which the format changes? If so, we may want to consider reverting back to th

[2021-03-01 10:59] AquilesCanta commented on #8642
If I understand the question correctly: You want to set the user agent from javascript in your receiver app, then this falls outside of the scope of the ExoPlayer issue tracker. You might want to try your luck asking in the [Cast's issue tracker](https://github.com/googlecast/CastReceiver/issues). I am not sure whether this is supported by chrome in general, maybe @marcbaechinger will know. Marc,

[2021-03-01 11:16] Samrobbo commented on #8594
Generalising the `c2Mp3TimestampTracker` is troublesome, because the logic for determining the timestamp is designed to directly match how c2 codec calculates timestamps. Using a different decoder means we can not be certain that the exact same timestamp is calculated.

If I'm remembering correctly, the timestamp tracker was used because the codec outputted timestamps that did not match up to inpu

[2021-03-01 12:41] natario1 commented on #8626
Also as far as I can see, it's hosted on jcenter only @ojw28 just in case you want to reevaluate priority here

[2021-03-01 13:00] ojw28 commented on #8626
RTMP support was added by an external contributor, and I think, realistically, we'd be looking for another external contribution here. The core ExoPlayer team are unlikely going to be able to spend a significant amount of time on this, because use of RTMP is very low as a fraction of what ExoPlayer is used for.

If this is important to you, then perhaps you could take a look, either at migrating t

[2021-03-01 13:00] kgrevehagen opened #8651 "LoadErrorHandlingPolicy for DownloadManager"
### [REQUIRED] Use case description
I don't want to retry 4xx errors for the download requests, but 5xx errors I would like to retry with exponential backoff, just as it is already done inside `DownloadManager`.

### Proposed solution
Inject a `LoadErrorHandlingPolicy` to `DownloadManager`, similarly to how `minRetryCount` is added.

### Alternatives considered
- Set `minRetryCount` to 0 and handl

[2021-03-01 13:18] andrewlewis commented on #8629
I don't think we've got any direct experience with this, but I checked with the Compose team and their guidance is to wrap in an `AndroidView` as you suggest. They just published a guide to interoperability here: https://developer.android.com/jetpack/compose/interop

[2021-03-01 13:18] #8629 closed, assigned to andrewlewis

[2021-03-01 13:26] okycelt commented on #8629
@andrewlewis, thanks for the confirmation. I think it might help a lot of folks in the future to have some ExoPlayer Compose sample that would showcase best practices of interaction between ExoPlayer and composables :)

[2021-03-01 14:08] natario1 commented on #8626
We're using the client directly (not exoplayer-rtmp) and for publishing only, I pinged you guys just because I know you are using it too.

I also thought that you might consider rebranding it as something like exoplayer-rtmp-client, in which case we'd switch over. Anyway, I'll keep following this thread in case something happens - thanks!

[2021-03-01 14:41] adoudech commented on #3438
Does Exoplayer support the cross-fade feature in the latest versions? Thank you

[2021-03-01 14:53] andrewsafwatsamuel opened #8652 "Major crash occur mainly on android 11 devices"
I have crash RemoteServiceException with error message Context.startForegroundService() did not then call Service.startForeground() this crash occurs at a player service that uses MediaBrowserServiceCompat this player streams soundtracks and shows player notification with controls. I confirmed that I am calling Service.startForeground() once after Context.startForegroundService() before the requir

[2021-03-01 14:56] andrewlewis commented on #3438
This is still not supported I'm afraid. If/when we get round to it this issue should get updated.

[2021-03-01 15:53] Samrobbo commented on #8635
Please can you give us more information about what you are looking for?

[2021-03-01 16:20] MichealReed commented on #8625
I pointed you to exactly where in the code there is a registration and not a matching unregistration. My app in this case literally only has an audio player, there is nothing else in my codebase it could be outside of exoplayer. All other receiver registrations seem to clean up after themselves except this one. Blame it on usage or whatever, but it really seems like you're just trying to push this

[2021-03-01 17:53] tonihei commented on #8625
As already mentioned above, the registration you linked is only executed once during the lifetime of the app, because it's assigned to a static variable. So I don't see how you could ever get more than one registration from this line. You should be able to verify this by adding a log line right after the registration and checking in your app whether you can see the log line more than once.

[2021-03-01 20:12] moneytoo commented on #8611
When I use `setFixedSize()`, it gets rid of the (occasional) flickering when switching to (or interacting with) PiP for me (OnePlus 7 running Android 10).

Made up values like this break aspect ratio in `AspectRatioFrameLayout.RESIZE_MODE_ZOOM`. (It works fine with the actual video size in `setFixedSize()`.)

[2021-03-01 21:51] sidferreira commented on #8543
@ojw28 I did that fork, I tried both keeping the type as `multihls` and  changing to `hls`, with no good results as mentioned in #8597

[2021-03-01 21:56] sidferreira commented on #8597
@ojw28 Indeed it was a poor choice of words. So, at that moment I had the cache configured, action file upgraded, everything "ok" but it seems that it was just ignoring things. In my last test, a chunk of the video loaded properly but the remaining didn't. AFAIR I did test the download to be sure it was working completely, but as it is 2 weeks ago I'll do another round of tests.

According to item

[2021-03-02 02:04] #8521 closed, assigned to icbaker

[2021-03-02 02:04] #8503 closed, assigned to icbaker

[2021-03-02 02:27] EliasDevSE commented on #8542
I've sent an email about this subject.

[2021-03-02 03:01] KazukiSugiyama107 opened #8655 "I get a MediaDrmStateException."
### Searched documentation and issues
・ExoPlayer Javadoc.
・ExoPlayer Issues

### Question
The same error as the following issue is occurring during streaming playback.
https://github.com/google/ExoPlayer/issues/8175

The application in error is requesting a license from the license server.
No license has been confirmed at the time of this streaming playback.
From that, I think the license applicat

[2021-03-02 04:12] sidferreira commented on #8597
@ojw28 I did some tests, including trying to bypass the "multiple download" thing but I still have issues playing the download.

The code to create the media source is:
[code]

Tried both HLS and Progressive and none of them seems to load anything.
I used `FileDataSource` as upstream just to avoid it load from the web if it fails.

I wonder how to debug that to find out if the problem is:
a) the c

[2021-03-02 07:59] halaei commented on #8619
It seems we shouldn't do this, because at the very least it leads to storage leak by lost SQLite tables prefixed with uid. However, I see many people has done that. Take a look at your closed issues for instance:
https://github.com/google/ExoPlayer/issues?q=is%3Aissue+context.getCacheDir+is%3Aclosed
Also look at this popular React Native module:
https://github.com/react-native-kit/react-native-tra

[2021-03-02 08:20] krocard commented on #8643
Unfortunately, the posted exception carried very little information regarding the codec state.
I'm afraid we cannot understand the issue without more context in the form of a bug report.
If you're unable to share [bug reports](https://developer.android.com/studio/debug/bug-report) publicly on this issue, please send them to dev.exoplayer@gmail.com using a subject in the format
"Issue #1234" ("#123

[2021-03-02 08:56] PeOS-China opened #8656 "Why does the 2.13.2 version always report this exception：Player is accessed on the wrong thread ?"
Exception: [3865] Player is accessed on the wrong thread. See https://exoplayer.dev/issues/player-accessed-on-wrong-thread
I run this code on the main thread， the program reports an exception (Player is accessed on the wrong thread) ：

        player = SimpleExoPlayer.Builder(requireContext()).setLooper(Looper.getMainLooper()).build()

        val dataSourceFactory = DefaultDataSourceFactory(requi

[2021-03-02 09:07] NitinSharma639 opened #8657 "Drm enable videos get stuck on 1080p and 2x"
Hello Exoplayer Team

I am developing an application where I am using drm enable videos. The problem is when we play video 2x speed and change the resolution to 1080 p the video get stuck. We are using exoplayer:2.10.8.

We can reproduce the bug many times on some devices. Is there any solution to this bug or any workaround to check if the device support some resolution or not.

There is one more

[2021-03-02 09:25] krocard commented on #8644
ExoPlayer does not out of the box (see next comment) support synchronisation between two ExoPlayer Instances.
Your use case should only use one player, playing audio+video. A [`MergingMediaSource`](https://github.com/google/ExoPlayer/blob/r2.13.2/library/core/src/main/java/com/google/android/exoplayer2/source/MergingMediaSource.java) can be used to merge audio, video1 and video2.

You will then be

[2021-03-02 09:34] fpitters commented on #8447
@andrewlewis do you know if this was included into 3.22.2?

I can't see anything on the changelog (https://developers.google.com/interactive-media-ads/docs/sdks/android/client-side/history)

[2021-03-02 10:07] tonihei commented on #8644
If I understand the requirements correctly the transition doesn't even need to be seamless. So if you know all sources in advance, @krocard's suggestion is probably the best way:
 - Create a `MergingMediaSource` with audio and both video sources.
 - Wait until all the tracks are known (`EventListener.onTracksChanged`)
 - Override the video track as/when required:`DefaultTrackSelector.ParametersBui

[2021-03-02 10:28] krocard commented on #8649
Unfortunately, we cannot help you with the provided information and screenshots.

We need a bug report to understand the setup (for example which decoder is used) and the media played.

If you're unable to share [bug reports](https://developer.android.com/studio/debug/bug-report) or
test content publicly, please send them to dev.exoplayer@gmail.com using a subject in the format
"Issue #1234" ("#12

[2021-03-02 10:31] krocard commented on #8650
@christosts do you know the requirements surrounding EXTINF consistency in 2.12 vs 2.13?

[2021-03-02 10:33] andrewlewis commented on #8623
From what I can tell, `AdsLoader.requestAds` does nothing when the device is offline (unless the IMA SDK JavaScript is cached from a previous usage), so playback gets stuck waiting for the `AdsManager` to load. Filed [internal: b/181587742] to ask the IMA SDK team to take a look.

As a workaround you could check for network connectivity before starting playback.

[2021-03-02 10:35] andrewlewis commented on #8603
Filed [internal: b/181593381] to ask the IMA SDK team to take a look at what's going on. Here's a log snippet showing the issues:

[code]

[2021-03-02 10:38] #8638 closed, assigned to andrewlewis

[2021-03-02 11:31] tonihei commented on #8656
The exception has a stack trace that tells you exactly where the access on a background thread happened. Please check this to find the relevant code.

[2021-03-02 11:53] ojw28 commented on #8619
I would think this is pretty much negligible, in the grand scheme of things. It doesn't seem like a reason to not use the cache directory. It's actually fairly difficult to do something that's optimal for all cases here. If we were to co-locate the database/index inside the cache, then it would be much slower to modify it in some cases (e.g., when the cache directory is located on certain types of

[2021-03-02 12:48] tdc-w commented on #8644
@krocard
Thanks.
At first, I used one ExoPlayer to generate MergingMediaSource1(video1, audio) and MergingMediaSource2(video2, audio), and set these in ConcatenatingMediasource and tried it.
In this case, I used seekTo(windowIndex, position), but I couldn't achieve seamless switching due to buffering.
Are you thinking without using ConcatenatingMediasource?

I haven't tried a custom TrackSelection

[2021-03-02 12:50] tdc-w commented on #8644
@tonihei
Thank you for advices.
I didn't know how to use TrackSelector, so I'd like to try it.
I will also check PlayerMessage.

I actually tried using multiple players, I thought that this method  is not correct, so first I will try again to see if seamless switching can be achieved by using MergingMediaSource.

If it is still difficult to achieve, I would like to try the following.

All other pl

[2021-03-02 13:13] gsavvid opened #8663 "Missing for ImaAdsLoader.Builder.buildForAdsResponse"
I've just updated from version `2.10.2` to `2.13.2` and I noticed that `ImaAdsLoader.Builder.buildForAdsResponse` doesn't exist anymore.

What's the equivalent to achieve the same result in version `2.13.2` (ie side-load a VMAP file instead of passing an ad tag uri)?

[2021-03-02 13:27] andrewlewis commented on #8663
It's still possible to pass a literal ads response by building a data URI. Please see the [documentation here](https://github.com/google/ExoPlayer/blob/d0dd33e/extensions/ima/src/main/java/com/google/android/exoplayer2/ext/ima/ImaAdsLoader.java#L72-L79).

[2021-03-02 13:27] #8663 closed, assigned to andrewlewis

[2021-03-02 14:04] halaei commented on #8619
Can storing uid in a sqlite table help? Maybe by dedicating a table that maps directories to uids? This way uid will never be deleted.

[2021-03-02 14:29] ojw28 commented on #8619
No. Storing the UID in an internal SQLite table doesn't achieve what the UID is there to do. The point of the UID is to uniquely identify the actual cache directory and its contents. For example, if the cache directory is on external storage and the user swaps the SD card, then we want the UID to change (note that the directory path is unchanged when this happens). Furthermore, if the original SD

[2021-03-02 14:53] sravan1213 commented on #8456
@icbaker do we have any eta on this.

Apologies for bugging. Thanks in advance.

[2021-03-02 15:39] GouravSna opened #8664 "Low Latency Issue in Exo version 2.13.2"
**Issue:**
In Playlist combination of Live and VOD content; low latency playback rate is not getting unset even though I am not setting it for VOD Asset.

----------------
Please check my fork: https://github.com/GouravSna/ExoPlayer-1/tree/LowLatencyTest
Video for the issue: https://drive.google.com/file/d/1iulCk_tDtdnYRA64AdfUjdVJV9qENhaa/view?usp=sharing

**Reproduction Steps:**
1. I have kept o

[2021-03-02 16:09] nishantkp commented on #8213
This will be very much appreciated.
Support for DAI, way to go...

[2021-03-02 16:50] krocard commented on #8655
@jt64 could you please look if this is the same error you were mentioning in https://github.com/google/ExoPlayer/issues/8175#issuecomment-729276800?

Additionally consider copying the relevant error log line here or in original issue https://github.com/google/ExoPlayer/issues/8175 for search discoverability and triage.

Thanks.

[2021-03-02 16:55] krocard commented on #8657
@AquilesCanta, do you have experience with time accelerated playback of drm media? I'm guessing that the drop frame is expected, but the freezing could not be.

@NitinSharma639 Could you please share a full bug report generated after the issue occurs? I'm afraid the error log you attach will not be enough to properly diagnostic the issue. Test content would also be great for us to try to reproduce

[2021-03-02 17:05] ojw28 commented on #8597
It remains unclear from both of the responses above what the answer to this question is.

You should be able to tell whether it's (b) or something else just through answering the question above. Which should be possible to do with a bit of manual testing.

[2021-03-02 17:13] ojw28 commented on #8625
To answer this explicitly: There's no need for us to unregister. It's by design that the code you link to registers a receiver once and keeps it registered until the application process is killed. Doing this should not cause the problem you're seeing.

It seems you have (a) an error indicating that something in your app registers 1000 receivers, and (b) a line of code in ExoPlayer that demonstrabl

[2021-03-02 17:27] krocard commented on #8644
I forgot to say that if you know in advance how long video1 should play before switching to video2, things are much simpler.

You could use 2 Cliping MediaSource to clip the end of video1 after Xms and clip the beginning of video2 of the same Xms.
Concatenate those 2 clipped videos with ConcatenatingMediaSource and then merge the concatenate videos with the audio with MergingMediaSource.

The swit

[2021-03-02 18:20] sidferreira commented on #8597
@ojw28 we're not downloading contents as we're changing our download process. We're just trying to play old content. I'll try to add the download feature real quick just to find out the answers to A/B. Note that the downloads are working as expected on the older version.

[2021-03-02 20:47] krocard commented on #8594
@andrewlewis pointed me to the fact that Codec 2 is now alias to OMX: https://cs.android.com/search?q=alias.*OMX.google.*.decoder
Thus it does not seem that the name of the codec is a reliable way to determine it's implementation.
Additionally, from the title of [one of those changes](https://cs.android.com/android/_/android/platform/frameworks/av/+/882d2388062726f11c32ec712fad608dfd939a09), it se

[2021-03-02 22:16] Segotia-Dev opened #8665 "Optimising audio latency for Head-Tracked video App"
Hello Exoplayers!

I am writing a video App that applies audio effect that changes in real time with the viewers head movements.   I have a sensor attached to the viewer's headphone generating data and I have subclassed the AudioProcessor class to create a "MyAudioProcessor" class and I add that to the audio processing chain (alongside the SonicProcessor) class.

The Exoplayer architecture makes a

[2021-03-03 01:18] gobin-i commented on #8650
Hi @krocard & @christosts , to add on the RFC spec stated that the #EXTINF can be in decimal floating point: https://tools.ietf.org/html/rfc8216

Wondering, why the "player.currentPosition, which should be the player's position  in milliseconds returns negative value?

[2021-03-03 02:09] tdc-w commented on #8644
Regarding MediaSource, video deals with videos from different viewpoint.
For example, front-viewpoint video(video1) and back-viewpoint video(video2).
Switching this viewpoint is done by user operation (buttons, etc.).
For example, a usecase where at first watching a front-viewpoint video(video1) and then switch viewpoints after 10 seconds to switch to a back-viewpoint video(video2).
These two vide

[2021-03-03 05:28] NitinSharma639 commented on #8657
Hello Exoplayer Team

I have shared with you the test content. Please check.

[2021-03-03 05:56] fridapinto-debug commented on #8642
@AquilesCanta  you are right I just wanted to have a custom header on the requested media.

[2021-03-03 09:33] tonihei commented on #8644
If you know the switch point in advance, then `ClippingMediaSource` can work seamlessly. Note that this requires to set the `enableInitialDiscontinuity` parameter in the constructor of `ClippingMediaSource` to `false` and to ensure that the clip starts exactly at a keyframe. Otherwise the player needs to buffer briefly to decode samples.
Related: There is also #3163 that tracks the option to dynam

[2021-03-03 09:44] halaei opened #8666 "How to know which MediaSource caused ExoPlaybackException (on preloading the next track)?"
To handle `ExoPlaybackException` we must implement `EventListener.onPlayerError()`. If for example, we encounter a 403 HTTP error because the track's URL is expired,  we can catch it inside this function and take appropriate actions:
- See which track caused 403 exception.
- Check our application API to see if we have access to a new URL for the track.
- Replace the corresponding MediaSource with

[2021-03-03 10:06] krocard commented on #8665
Unfortunately ExoPlayer is not optimized for low latency audio. Depending on your latency targets and algorithm constraints, different solutions can be used.

## 1 Remove audioTrack buffer latency impact by applying the effect after it
If your custom effect can be expressed using [Android audio effect framework](https://developer.android.com/reference/android/media/audiofx/AudioEffect), either bec

[2021-03-03 11:13] ZeroOneZeroR opened #8667 "How to change playback frame rate?"
Suppose my video frame rate is 30 fps. But i want to play it at 5 fps. How can i achieve this?

[2021-03-03 11:24] icbaker commented on #8456
I have a fix for this in review - when it's submitted it will appear linked to this issue.

[2021-03-03 11:52] dendrocyte opened #8668 "must use surfaceView to play widevine sample via exoplayer?"
I am new to integrate Drm sample to exoplayer.
I search from stackOverFlow about this error msg. But mentioned solution from stackOverFlow is to use surfaceView for playing Widevine test sample via exoplayer.

Error msg:
[code]
How to fix this error? does it lack the video codec?

even I play widevine sample via exoplayer + surfaceView, it is only able to play once. there is the related error msg

[2021-03-03 12:24] marcbaechinger commented on #8666
I think with the approach you are currently using, `player.getCurrentWindowIndex()` will return the window index that belongs to the media source that causes the exception (for my explanation I assume that you are not using `ConcatenatingMediaSource` but the top-level playlist API with a 1:1 relationship between media sources and windows). So in case of the playback error it is clear that the sour

[2021-03-03 13:07] krocard commented on #8667
@ZeroOneZeroR you have not filled the issue template. It seems you have only written the title of the issue.
Please provide more information regarding your question.

If your question is about playback speed, please take a look at `ExoPlayer.setPlaybackParameters`.

[2021-03-03 13:36] marcbaechinger commented on #8664
Thanks for reporting. I can repro that the internal playback speed is not reset when the user seeks to the next item after a live item. We will look into this.

The playback speed that is reported with `player.getPlaybackParameters()` is the public speed only. If the speed is temporarily changed for adjusting the speed due to reach the target live offset chosen with the live configuration, this is

[2021-03-03 13:37] tonihei commented on #8666
Just to add to that:
One further alternative if you want to handle the case early is to listen to `AnalyticsListener.onLoadError` which has an `EventTime` parameter that tells you exactly which item the error is for.

[2021-03-03 13:45] krocard commented on #8668
@AquilesCanta can you take a look? I think bare Surface are not suitable for DRM and a SurfaceView is needed.

[2021-03-03 14:53] gsavvid opened #8669 "[Cast] Convert MediaItem.playbackProperties.subtitles to MediaTracks"
Previously, I would set the metadata like this:

[code]

Where `MediaMetadata` in the above example is `com.google.android.gms.cast.MediaMetadata`. Now that `CastPlayer.loadItem()` is deprecated, I want to replace it with `Player.setMediaItem()` but I can't find how to pass the same metadata to a `MediaItem`. I know that it accepts `com.google.android.exoplayer2.MediaMetadata` but this currently o

[2021-03-03 15:09] halaei commented on #8666
Thanks for your help.
So I can assume `onPlayerError()` is only called for the current track and they are delayed in case of preloading. Meanwhile I take a look at `LoadErrorhandlingPolicy` and `AnalyticsListener.onLoadError()` to see if I can handle the errors during the preload sooner, so that I can prevent lags.
I hope I get it right.

[2021-03-03 15:09] #8666 closed, assigned to marcbaechinger

[2021-03-03 16:24] krocard commented on #8669
Looking into the cast player extension, the non deprecated method `setMediaItem` converts the `MediaItem` to `MediaInfo` internally with with: https://github.com/google/ExoPlayer/blob/b1000940eaec9e1202d9abf341a48a58b728053f/extensions/cast/src/main/java/com/google/android/exoplayer2/ext/cast/DefaultMediaItemConverter.java#L59-L70

This seems to imply that all other metadata than the title are dro

[2021-03-03 17:21] icbaker commented on #8657
If this issue only reproduces occasionally then (as requested above by @krocard) please provide a bug report taken using `adb bugreport` after a reproduction (not just logcat snippets).

The example project provided over email seems to be incomplete, I'm unable to run gradle sync:
[code]

Fixing the unresolved substitutions to hard-code to 'latest' versions:
[code]

I get a new error:
[code]

Plea

[2021-03-03 17:38] Samrobbo commented on #8669
The new metadata fields will cover a large selection of things yes. The initial change will be fairly minimal, but it will be quick and easy to expand it, and fields like those listed are common ones that will no doubt be implemented early on.

[2021-03-03 17:45] icbaker commented on #8668
This error is from the Android framework, not ExoPlayer. The causes likely depend on the Widevine licence policy and device being used. We may be able to help if you can provide the info necessary to reproduce it.

Please either provide instructions for us to reproduce the problem with the [demo app](https://exoplayer.dev/demo-application.html) or provide a [minimal reproducible example](https://s

[2021-03-03 19:39] ZeroOneZeroR commented on #8667
Suppose my video frame rate is 30 fps. But i want to play it at 5 fps. It is not speed. It is frame rate. How can i achieve this?

[2021-03-03 19:44] ZeroOneZeroR opened #8671 "How to seek video exact and fast?"
Is it possible to seek video exact and very fast with seekbar progress? If directly it is not possible, do you have any idea or workaround to achieve this?

[2021-03-03 20:21] davidohne opened #8672 "UnrecognizedInputFormatException"
I'm using a media player which uses Exoplayer to watch live tv with a m3u file (example sent to you by mail).

The playlist can be opened in VLC and Perfect Player but when I try to use it with exoplayer FireTv 4k stick logs say this:

[code]

Device: Amazon Fire TV 4k Stick
Content: Sent to you by mail

[2021-03-03 20:23] moneytoo commented on #8293
Now I also understand that while my "hack" works as I want to for majority of media (with text subtitles), it doesn't play nice with PGS subtitles (as sample from #3008) - they are stretched according to its View.

[2021-03-03 20:23] #8293 closed, assigned to icbaker

[2021-03-03 22:11] Segotia-Dev commented on #8665
Thank you for this prompt and really useful answer.

**The use case**
It's pretty much your standard User using Exoplayer to watch video content using a headset, with our external head-tracker IMU/sensor attached to the headset.  When she turns her head we capture that IMU data and use it to modify parameters of our DSP process.

**Problem Statement**
When the User turns her head, she will indeed

[2021-03-04 01:03] NathanSass opened #8674 "Encrypted Playback Cache causing downloaded content to fail"
Issue:
-------------------------
When I implemented a cache for playback it broke playing downloads. Downloads still appear to complete but when I try to play them, playback fails. When I remove the encryption components, it functions as expected.

How can I resolve this to play downloaded encrypted content?

Thank you! I would be so grateful for any help.

Searched Documentation and Existing issu

[2021-03-04 01:34] tdc-w commented on #8644
My goal is perfect seamless switching.
The current approach is to have two players.
Since processing such as scale change is required (must use setTransform), two textureViews are defined in the layout file.
Each player sets each textureView.
I change the visibility of textureView when switching players.

A similar behavior can be achieved by adding two video renderers to the player and adding a c

[2021-03-04 04:06] KazukiSugiyama107 commented on #8655
Thank you for your reply.

The application with the error is the same as #8175 and the source code is the same.
error is `Failed to get key request: General DRM error` with the same content.

Below is the log that occurred at the time of the error.

[code]

[2021-03-04 07:05] krocard commented on #8674
@icbaker can you take a look at this drm offload playback issue?
Note that this has been discussed multiple time recently: #7347 and #7202.

[2021-03-04 07:17] krocard commented on #8671
There are 2 reasons for delays when seeking:
 1) the media does not support exact seeking in O(1). This can be mitigated by searching in the stream the seek position, but is slow in O(n). This can mitigated by using a media that support exact seeking.
 2) the seek destination is in between key frame, thus the frames in between must be decoded then discarded. There is no way to avoid the delay but

[2021-03-04 07:54] krocard commented on #8672
From the exception, ExoPlayer choose to use a `ProgressiveMediaSource` for the media instead of the correct `HlsMediaSource`. This is because, from https://exoplayer.dev/hls.html:

Either rename your file to the standard extension `m3u8` or explicitly pass to ExoPlayer that the MimeType is `APPLICATION_M3U8`.

[2021-03-04 07:54] #8672 closed, assigned to krocard

[2021-03-04 08:10] krocard commented on #8667
I'm not sure to understand. Do you want to play the video 6 time slower (30fps/6 = 5fps), then use `ExoPlayer.setPlaybackParameters` and pass a speed of 1/6=1.6667.

If you want to artificially drop 5/6 of the video frames, then I'm afraid ExoPlayer does not support such use case and we would like to understand better why you would want to do that.

[2021-03-04 08:19] krocard commented on #8665
Thanks for your answer. Given your requirements, I would recommend trying solution 2 first.
I think you should try to copy DefaultAudioSink, make the modification suggested and inject the customized class by subclassing `DefaultRenderersFactory` to override `buildAudioSink`.
If this hack validates that the latency is good enough and no underrun is observed, we can discuss about adding a new `perfo

[2021-03-04 08:20] NitinSharma639 commented on #8657
@icbaker Hi

We are able to regenerate this bug. Please check I have send you the code. We are able to generate this bug on following device.

Samsung Galaxy Tab A (8.0",2019)
Model: SMT295
Android version : 10
One UI Coreversion: 2.1

Thanks

[2021-03-04 09:09] icbaker commented on #8672
The file provided looks like it might be an [m3u playlist](https://en.wikipedia.org/wiki/M3U), not an HLS playlist (m3u8). These are not supported by ExoPlayer: https://github.com/google/ExoPlayer/issues/4066 If this is the case then setting the MIME type as suggested by @krocard won't work (you'll just get a different exception from `HlsMediaSource`).

[2021-03-04 09:10] icbaker commented on #8657
The Drive link provided over email is access restricted - please make it accessible.

[2021-03-04 09:15] icbaker commented on #8674
The provided source code example is using AES encryption, not DRM (i.e. MediaDrm).

This looks more like a caching/downloading question - assigning to @marcbaechinger.

(@NathanSass providing a fork to repro the problem is **really** helpful, thanks for that! But fyi you don't need to file a PR in order for us to view the diff, we can do it directly from this URL: https://github.com/NathanSass/Exo

[2021-03-04 09:24] ZeroOneZeroR commented on #8671
I have understood the reasons. But I have seen many video editing apps can seek exact with seek bar progress very fast. How do they do that? Could you please give any idea?

[2021-03-04 09:29] ZeroOneZeroR commented on #8667
Yeah I want to drop frames. I want to let the users of my app to encode a video with lower frame rate. But before encoding, I want to show that on preview.

[2021-03-04 09:36] krocard commented on #8671
Without looking at those apps, there is no way to be sure. I can think of many ways to accelerate seeking:
 - download the content before playing it
 - do not exact frame accurate seeking but seeking to the closest key frame, for most media users will not see the difference
 - build a seek table for fast exact seeking on media not supporting it
 - (re) encode the media to have frequent keyframes

[2021-03-04 09:55] tonihei commented on #8644
The things discussed above independent of the view/surface you use.

[2021-03-04 10:10] motokazmin commented on #8602
Hi @christosts .
I'd like to subscribe my suggestion how to fix this by. This solution has some side effects - I hope yoou will correct me to make fix more accuracy.
I have added observers on AudioUnderrun and DroppedVideoFrames and reinitialize player when one of the these events is happened:
[code]

I see that this fix impoves user expireence and works stable. But has the following limitations:

[2021-03-04 10:24] krocard commented on #8667
The easiest way would be for you to subclass `MediaCodecVideoRenderer`, overriding `processOutputBuffer`. Call the super method with isDecodeOnlyBuffer set to true 5/6 (or whatever other ratio) of the time. Make sure to forward buffers that are already decodeOnlyBuffer.
Pseudo Code:
[code]
You can inject you custom `DropMediaCodecVideoRenderer` by overriding `DefaultRenderersFactory.buildVideoRend

[2021-03-04 10:34] krocard commented on #8665
After making the suggested changes, if the latency is still too high, please take a bug report during playback. Make sure that playback continues until the bug report is fully generated (a few minutes).
I'll take a look at the audio track configuration in audioflinger.

If you're unable to share [bug reports](https://developer.android.com/studio/debug/bug-report) publicly, please send them to dev.

[2021-03-04 10:51] krocard commented on #8665
I would like to highlight that you external head-tracker IMU/sensor and it's communication channel (BLE?) also have a latency that might need to be reduced to reach that target.

[2021-03-04 11:46] ZeroOneZeroR commented on #8667
Thanks. I will try this way.

[2021-03-04 11:57] ZeroOneZeroR commented on #8671
I want to seek like the app InShot. Videos are local, not from server. I don't need to seek if the media is not seekable. Reencoding is not allowed for me.

[2021-03-04 12:54] krocard commented on #8671
Looking at some Youtube video about InSot, it seems to me that InShot when importing the video extract a low resolution image of every ~200ms. They can then "seek" by replacing the preview by whatever image is at this timestamp.
It doesn't seem like they seek in the actual video.

[2021-03-04 12:58] krocard commented on #8671
You might be able to do something similar by transcoding the video to a very low framerate (to save disk space and have a faster import) of only keyframes. ExoPlayer should then be able to seek virtually instantaneously in the content. make sure to not actually play the video but keeping it paused.
If the user presses play, switch to the original content at that position.

[2021-03-04 12:59] krocard commented on #8667
Let us know how it went. Closing as the question has been answered.

[2021-03-04 12:59] #8667 closed, assigned to krocard

[2021-03-04 13:08] krocard commented on #8652
@andrewsafwatsamuel Could you please join a bug report to allow us to see the errors around the ANR ?

If you're unable to share [bug reports](https://developer.android.com/studio/debug/bug-report) or test content publicly, please send them to dev.exoplayer@gmail.com using a subject in the format "Issue #1234" ("#1234" is replaced with your issue number). Please also update this issue to indicate

[2021-03-04 13:32] ZeroOneZeroR commented on #8671
Thank you for the suggestions. I will try this.

[2021-03-04 13:56] tdc-w commented on #8644
@tonihei
Thanks for explanation.

I don't understand this.
Does decoding samples means calling player.setMediaSource() and player.prepare()?
Does it mean that seekingTo does not cause buffering if decoding is complete?

Also, I would like to confirm the above methods.
When implementing with pre-decoding by the first method, use two ExoPlayers, and when implementing with TrackSelector by the second

[2021-03-04 14:14] krocard commented on #8669
Thanks Sam. @gsavvid, until the new Metadata field are added, please continue to use the deprecated `player.loadItem`. I'm afraid your use-case was missed when we deprecated `loadItem`.

[2021-03-04 14:59] andrewlewis commented on #8353
I had thought that our migration to maven-publish would fix this but actually it appears `<type>aar</type>` is still missing from the dependency declarations. There is a workaround mentioned in https://github.com/gradle/gradle/issues/3170#issuecomment-544248344.

[2021-03-04 15:13] rajinikanth0602 opened #8675 "Resume after Behind-Live-Window-Exception issues"
**Crashes on versions 2.13.+**

**Steps to Reproduce** :

1) Use HLS live stream URI as a data source. (Ex : https://cph-msl.akamaized.net/hls/live/2000341/test/master.m3u8)
2) Attach a PlaybackStatsListener to the exoplayer.
3) Reproducing `BehindLiveWindowException` will crash the app.  (Pause the live stream for more than twice the live window duration and then resume the video to reproduce `Be

[2021-03-04 16:11] tonihei commented on #8675
I can't reproduce with just playing this stream, adding a `PlaybackStatsListener` and causing a `BehindLiveWindowException`.

One thing I noted is that the code in the stack trace isn't triggered when an exception is thrown, but only later when something else happens (e.g. `player.release()`, `player.setMediaItems`, `player.stop(true)` or similar). Could you let us know what your app is doing once

[2021-03-04 16:19] tonihei commented on #8644
Seeking can never be completely seamless because the player always needs to decode the new samples first. This happens in the renderers on a much lower level than `setMediaSource` or `prepare`.

Sounds right. Note we are happy to give hints on how to approach complex implementations, but we can't really provide detailed app support especially when it goes beyond our usually supported features. So

[2021-03-04 16:45] rajinikanth0602 commented on #8675
@tonihei we re-initialize the player when we get `BehindLiveWindowException`, `player?.prepare()` and `player?.setMediaSource` gets called in this process, it is working properly on <2.13.0.

**Code**

[code]

To reproduce the issue easily, change the minBuffer and maxBuffer to 5000, pause the video for long time and resume the video.

[2021-03-04 16:56] nishantkp opened #8676 "Ad-Playback Error on multi-period dash (Non-DRM) results in Playback failure"
I have a multiperiod dash with preroll which I am trying to play.

ExoPlayer errors out with  `com.google.android.exoplayer2.ExoPlaybackException: Source error`

These are error logs,
[code]

If you need test content and ad-tag let me know.
I will email that.

#### ExoPlayer version
2.13.1
#### Device
Any device
#### OS version
Any OS

[2021-03-04 17:10] tonihei commented on #8675
Thanks for the reproduction steps. I can see the error as well now.

The reason for this is that you are registering the same listener to multiple players in parallel. When you call `reInitPlayer()`, you create a second `Player` (while the first one is still active) and register the same global listener to the second player as well. I think you should not create a second player and instead just ca

[2021-03-04 17:41] rajinikanth0602 commented on #8675
@tonihei https://exoplayer.dev/live-streaming.html#behindlivewindowexception this solution is not working for me, please check the player events below, it just seeks to the `live position` and tries to load the buffer forever.

**Version** : 2.13.2

**Url** : https://cph-msl.akamaized.net/hls/live/2000341/test/master.m3u8

**Code :**

[code]

**Logs**

[code]

**Working if we release the old playe

[2021-03-04 18:07] andrewlewis commented on #8676
I'm afraid client-side ad insertion in multi-period content is not currently supported.

[2021-03-04 18:07] andrewlewis commented on #8676
Duplicate of #3693

[2021-03-04 18:07] #8676 closed, assigned to andrewlewis

[2021-03-04 21:31] badrazizi commented on #8586
Sorry for taking too long, here the test result

I could not reproduce it without changing anything

the error happened while using mobile data and not with ADSL

changed useragent in https://github.com/google/ExoPlayer/blob/4364b9150f236813a2070fc79d3bcb76e11969ac/demos/main/src/main/java/com/google/android/exoplayer2/demo/DemoUtil.java#L62-L68 to
[code]

and changed https://github.com/google/Exo

[2021-03-05 00:54] tdc-w commented on #8644
Thanks for reply.
I'm grateful for all the advice I received.
I don't know if it can be implemented well, but I'll try it.

[2021-03-05 01:10] a4x4kiwi commented on #5491
As linked by @lars18th above, There is a Java project that extracts the subtitles. Is anyone keen to transition this into Exo?

The tool is the DVB Inspector: http://www.digitalekabeltelevisie.nl/dvb_inspector/
Download from this site. the Github does not contain the main jar file.

[2021-03-05 01:20] wazerstar commented on #5491
wait so theres  HOPE now :)?

[2021-03-05 05:50] NitinSharma639 commented on #8657
Sent the permissions

[2021-03-05 08:00] lars18th commented on #5491
Hi @wazerstar ,

The idea is this: Use the DVB Inspector source code (with the help and permission from the author @EricBerendsen) to generate an encapsulated Java class that can implement the required support in the Exo-CC from @a4x4kiwi . And then provide a PR for the mainstream version.

and @a4x4kiwi ,

You can download the JAR from the releases section: https://github.com/EricBerendsen/dvbins

[2021-03-05 10:39] icbaker commented on #8657
I ran the provided app and changed the speed to 2x then the resolution to '1080 X 1920'. I didn't observe the video getting stuck. This was on a Pixel 3a XL.

If this is device specific then please specify the devices you observed the problem on **and** provide bugreports taken with `adb bugreport` after reproducing the problem (preferably with an EventLogger attached and wired up with a TrackSele

[2021-03-05 10:52] NitinSharma639 commented on #8657
Hi @icbaker

We will provide the example and minimal code with exoplayer. We were able to reproduce this bug with explayer as well. This bug is happening on MI devices and Samsung Devices. Can you please check the use case defined on MI or Samsung devices with the app provided in the meantime. If you are able to reproduce may be you will give us some solution.

Thanks

[2021-03-05 11:22] marcbaechinger commented on #8669
I don't think that  use cases were missed, but as a library we can not know how an app want to pass arbitrary metadata. An app can add this behaviour though.

With `new MediaItem.Builder().setTag(customObject)` and app can set an arbitrary object as the tag. This could be a data object that includes metadata as strings or bitmaps or whatever is needed for your use case.

The `CastPlayer` then has

[2021-03-05 11:30] Segotia-Dev commented on #8665
Thanks again Kevin for your thorough treatment of this issue.  We understand that the Head-tracker & BLE components themselves also contribute to the overall head-turn->DSP->heard-in-headphone latency.  We have been advised that this latency is in the order of single-digit ms.
We will follow your suggestions carefully and let you know how that pans out.
Thanks

[2021-03-05 11:41] arlimm318 opened #8678 "How to deal with PTS jump"
When I'm playing UDP multicast, after a while the video is still.
Later I found out that there has a PTS jump in the video.
But ，the MediaPlayer can play smoothly，Even with the PTS jump, the video does not pause.
In a production environment, it is possible for UDP multicast to have PTS hopping，And Video sources are hard to fix completely.
I think ExoPlayer should be compatible with it, just like M

[2021-03-05 13:21] marcbaechinger commented on #8652
Agreed we need more information to look into what is going wrong here.

Can you shed some light on this statement:

This sounds like you are sending service intents to the service from within callback of the player, as I would expect that the player is running inside the service. Can you confirm that the ExoPlayer instance I running inside the service?

[2021-03-05 14:07] icbaker commented on #8657
I don't currently have access to Samsung or MI devices. I can take a look at bug reports if you can provide them.

[2021-03-05 16:15] christosts commented on #8542
Hi @Eliasdevlb. Thank you for sharing the content. I played it directly on a few devices (local playback) to see how each device's decoder would perform. I did not see any issue. From the data we've collected so far, it looks like this is an issue with the specific device and content and not something related to ExoPlayer.

You could try some of the experimental optimizations I mentioned in this [

[2021-03-05 16:15] #8542 closed, assigned to christosts

[2021-03-05 17:43] christosts commented on #8602
I could not reproduce. I used 70% packet loss and I streamed with vlc the [60fps 1080p video file](https://github.com/google/ExoPlayer/blob/r2.13.2/demos/main/src/main/assets/media.exolist.json#L195) in the demo app, which is encoded at ~10Mbits. I need to stress that the environment setup is quite irregular: the UDP stream is broken due to the packet loss and I can't tell how udpxy is re-construc

[2021-03-05 18:49] christosts commented on #8586
I'm afraid I wasn't able to reproduce using mobile data too. At this point, the data points we have are:
- the issue appears with mobile data only and not with wifi/ADSL
- the issue appears with a custom load control, that compared to the default one, buffers more data
- in your code snippet you modified the demo app to use the DefaultHttpDataSource (instead of cronet) with a custom agent.

Unfort

[2021-03-05 18:54] natario1 opened #8679 "Apple LL HLS occasionally hangs"
I'm trying to play an Apple LL HLS stream with 2.13.2 and having several issues. This is one of them which might be actionable, as at least I have a stack trace. It happens occasionally, both when joining the stream or during playback, likely when refreshing the playlist. Note that this is only logged, it does not generate a player exception and the app does not crash.

[code]

On top of this, I'm

[2021-03-05 20:05] marcbaechinger commented on #8679
Yeah, best would be if we can test with a sample stream. If you can't share test content publicly, please send the uri to dev.exoplayer@gmail.com using a subject in the format "Issue #8679". Please also update this issue to indicate you’ve done this.

The error message of the stack trace says the playlist has an empty list of segments. So it would be helpful to see the playlist to evaluate whether

[2021-03-05 20:26] sajjadshahbazi opened #8680 "how to listen current time ?"
I was listening to the current time through the generateEventTime's fun of AnalyticsPlayerCollector (version: 2.12.0).
I updated the exoPlayer version (2.13.2) but the generateEventTime's fun of AnalyticsPlayerCollector is final and can't override that.

how to listen to the current time of the video in the new version  (2.13.2)?

[2021-03-06 11:14] ojw28 commented on #8680
I don't think the way you were doing it previously was a good approach.

You can query the playback position simply by calling `Player.getCurrentPosition()`. If you want to query the playback position periodically, then you should call it periodically from your own code. You may also want to trigger an update from `Player.EventListener.onPositionDiscontinuity` (you can register a listener using `P

[2021-03-06 11:14] #8680 closed, assigned to ojw28

[2021-03-06 14:53] sajjadshahbazi commented on #8680
I have many different events in different positions and need to listen to the position.

[2021-03-06 17:15] krottv opened #8681 "Cache that uses only one file"
I am developing a video editor app. We have functionality to present remote audio library.

When user plays tracks they get cached. Ok, exoPlayer does a good job here.

Then we have an option to take the track and use it later as audio for video rendering. For adding audio to a video first the audio should be local (I use MediaExtractor).

Unfortunately, exoPlayer cache works by creating many file

[2021-03-06 17:48] sajjadshahbazi commented on #8680
you told me AnalyticsPlayerCollector.generateEventTime is not a good approach.
do calling Player.getCurrentPosition() every 1 second  once is good approach?

Player.EventListener.onPositionDiscontinuity is called just when ExoPlayer wants to ready and or when seeking a new position.

I want to listen to the changes in position.

please guide me

[2021-03-07 04:48] badrazizi commented on #8586
will test that and report back soon

[2021-03-07 13:29] AndreasVogelfrei opened #8682 "No ICY metadata with some URIs"
Environment
--------------
- ExoPlayer version number: 2.13.1
- Android version: 11
- Android device: Xiaomi Mi A2
- URI used: https://stream.radiobrocken.de/live/mp3-128/

Problem description
--------------------
Don't getting any call to AnalyticsListener
- onStaticMetadataChanged()
- onMetadata()
when using above URI

Before updating my app to ExoPlayer version 2.13.1 I used ExoPlayer version 2

[2021-03-07 13:53] makp9k commented on #8212
Same here, any updates? I can not find a way to alter the CastPlayer behavior in any way since it is not extendable, we can not override timeline implementation or something like this. So for now I also stuck with this kind of workaround, which I don't really like. Thanks!

[2021-03-07 17:10] qvk opened #8683 "MediaDrmCallback methods throwing MediaDrmCallbackException in ExoPlayer 2.12.0+"
### Use case description
`MediaDrmCallback` methods throw `MediaDrmCallbackException` in ExoPlayer 2.12.0+ since [this commit](https://github.com/google/ExoPlayer/commit/025a2c2b6240b7391ec8965c33ea066ed8b9563d#diff-0e43a325667d07e99c8aed34c9f786f98cf656818034c5d6fc90f4b3fe955f25).

Prior to ExoPlayer 2.12.0, we had a custom implementation of `MediaDrmCallback` interface which throws our own custo

[2021-03-07 19:36] ojw28 commented on #8682
If I play the stream provided in the [demo app](https://exoplayer.dev/demo-application.html), the logging indicates ICY metadata is being delivered correctly:

[code]

I also manually verified that the static metadata is correctly delivered to `Player.EventListener.onStaticMetadataChanged` (register the listener with `player.addListener`), and that the dynamic metadata is correctly delivered to `M

[2021-03-07 20:29] pvishnyakov commented on #8560
Thanks for the fix, it works on FullHD streams but the issue still appears on some 4K streams. If I force LivePlaybackSpeedControl Min/Max playback speed to 1f - playback is smooth. If use default (do not specify) - playback stutters periodically.
I have sent the sample stream link to dev.exoplayer@gmail.com, please check.

[2021-03-08 02:04] #8558 closed, assigned to ojw28

[2021-03-08 06:06] AndreasVogelfrei commented on #8682
Thanks a lot for your reply. I will continue debugging this issue based on your suggestions and provide more info soon. Please do not close this topic yet. Thanks.

[2021-03-08 06:17] GouravSna commented on #8664
Hi @marcbaechinger , Can you please tell me the ETA of this fix ?

[2021-03-08 06:50] AndreasVogelfrei commented on #8682
I did setup a complete new Android Studio project as a proof. Here are the details:

[code]

Positive test:
When calling this with
   - exoPlayerPlayThisUrl("https://edge04.streamonkey.net/dpd-driversradio");

I get the expected metadata.

[code]
Negative test:
When instead using the other URL
   - exoPlayerPlayThisUrl("https://stream.radiobrocken.de/live/mp3-128/");

I get this Logcat with no met

[2021-03-08 06:53] NitinSharma639 commented on #8657
@icbaker

I have sent bugreport please check.

[2021-03-08 08:52] ojw28 commented on #8682
I am still unable to reproduce this. ICY metadata works fine for me, for the "negative" case you've provided. Please could you try the [demo app](https://exoplayer.dev/demo-application.html)?

If you'd like us to investigate further, I think you'll have to provide a complete Android Studio project to make sure we can easily reproduce exactly what you're seeing. Please put one on GitHub if you'd li

[2021-03-08 09:49] ckdrb7017 opened #8684 "so weird bug(raw source error)"
I want to load a raw file getting uri by file name from server.
When I get the file name and raw id, it's same to hardcoded string file name.
But the filename from server is not working.
the both raw ids are same 2131689473
For example,

fun getLocalAlarmEffectUri(context: Context, fileName: String): Uri {
    val rawFileId = context.resources.getIdentifier(fileName, "raw", context.packageName)

[2021-03-08 10:17] AndreasVogelfrei commented on #8682
Here is the complete Android Studio project on GitHub
https://github.com/AndreasVogelfrei/ExoPlayerTestAppNoIcy

[2021-03-08 10:42] gsavvid commented on #8669
It's true that you can't know how an app wants to pass arbitrary metadata but I'd expect that the metadata used by the `Styled Media Receiver` app would be supported.

Nevertheless, I ended up using the solution with the custom `MediaItemConverter` mentioned above by @marcbaechinger for another reason: the `DefaultMediaItemConverter` ignores the subtitles defined in the `MediaItem` so I wrote an i

[2021-03-08 11:07] AquilesCanta commented on #8683
You can still throw runtime exceptions. They just won't get retried. I would think that retrial only makes sense for IO Exceptions. So I think we need to understand better your usecase to provide a response.

(1) Yes. I wouldn't use null, but rather empty parameters.

For (2), there's not much context so I will make some assumptions. MediaDrmCallback is intended to perform a key request, so KeysEx

[2021-03-08 11:20] tonihei commented on #8675
Thanks for testing. This is indeed a separate issue independent of the one in `PlaybackStatsListener`.  The player attempts to seek to twice the default position far into the future and you need to wait until the actual time caught up before playback continues.

[2021-03-08 11:20] GrilloLuca opened #8685 "ImaSdk extension shows orange border when ad is played on TV"
Hi, i've found an issue in androidTV.
i can simulate the issue in a google chromecast.
When an ad is played, with ImaSdk extension, Exoplayer shows an orange border all over the TV screen.

Steps to reproduce the issue

1. launch the demo app on google chromecast
2. open "IMA Sample ad tags" menu
3. open "Single inline linear"
4. you can show the border around the sample ad. Also, clicking the dow

[2021-03-08 11:26] icbaker commented on #8657
Thanks for the BR - as you say it looks like the codec can't handle the rate of data you're throwing at it.

ExoPlayer does check the frame size & rate, but we don't consider playback speed at this point (`format.frameRate` is the source material frame rate, not the rate at which it will be displayed after speed adjustment):
https://github.com/google/ExoPlayer/blob/r2.10.8/library/core/src/main/ja

[2021-03-08 11:29] antoniovillanova commented on #8685
Can confirm it's happening also on NVIDIA SHIELD.

[2021-03-08 11:57] marcbaechinger commented on #8669
Thanks @gsavvid! Marking as an enhancement for now.

I agree we could probably support the styled media receiver (context: https://developers.google.com/cast/docs/styled_receiver) better than we currently do. I think it uses [MediaMetadata](https://developers.google.com/android/reference/com/google/android/gms/cast/MediaMetadata) to get the data to display. We provide what we have like `mediaItem.

[2021-03-08 11:59] marcbaechinger commented on #8669
@gsavvid beside my general comment above

Do you mean the title or the subtitle? We only have a title currently which we support here:

https://github.com/google/ExoPlayer/blob/release-v2/extensions/cast/src/main/java/com/google/android/exoplayer2/ext/cast/DefaultMediaItemConverter.java#L61

What d o you refer to when mentioning the subtitle?

[2021-03-08 12:14] marcbaechinger commented on #8212
I marked this issue as enhancement. We should convert `MediaQueueItem`s that are coming in from cast to `MediaItem`s, and then update the `CastTimteline` appropriately. The conversion should be done by the `MediaItemConverter` that can be customized by apps by injecting it's own version into `CastPlayer`. `DefaultMediaItemConverter` should make this process work so that eg. the uri is shared with

[2021-03-08 12:18] andrewlewis commented on #8685
I think this is the visual indicator of where the UI focus is, so it's probably working as intended.

If you don't want to focus the ad overlay UI you could try passing false to `ImaAdsLoader.Builder.setFocusSkipButtonWhenAvailable`.

[2021-03-08 12:20] andrewlewis commented on #8685
See also #8565 if you want to be able to focus the skip button after turning off the automatic focus behavior.

[2021-03-08 12:20] gsavvid commented on #8669
Oh yes, sorry I should have been more specific regarding the subtitles. I was referring to the subtitle tracks. These are not added by default to the `MediaQueueItem`. Here's my implementation that adds the subtitle tracks:

[code]

[2021-03-08 12:27] marcbaechinger commented on #8669
Ha! After starring at the metadata keys for a while I got confused by [MediaMetadata#KEY_SUBTITLE](https://developers.google.com/android/reference/com/google/android/gms/cast/MediaMetadata#KEY_SUBTITLE) that the Styled Cast receiver probably is using. Didn't think about timed text subtitles :)

@gsavvid! I think subtitles should be the first thing we add to the `DefaultMediaItemConverter`. We need

[2021-03-08 13:16] krocard commented on #8665
Thanks, I'll gladly hear about your findings.

As the question has been answered, I'll mark the issue as closed. Feel free to reopen if you need a clarification on my answers. Please open a new issue (referencing this one) if you have a related but different question/problem.

[2021-03-08 13:16] #8665 closed, assigned to krocard

[2021-03-08 13:35] sajjadshahbazi opened #8686 "in tv how to change the count of chunks for fast forward and backward when the focus is on the DefaultTimeBar?"
in tv how to change the count of chunks for fast forward and backward when the focus is on the DefaultTimeBar?
now is 20 chunks.
in tv when the focus is on the DefaultTimeBar want the film to change with the arrow right and left D-pad, now have 20 steps, that went to the end of the film, but I want to change the count of these steps.

[2021-03-08 14:16] kingfisherphuoc commented on #8643
@krocard I am afraid that I cannot share the code. Let me explain it again.
I tried to play a playlist of videos from sdcard. After playing for a period of time, I got this issue. Here's how I do it:

[code]
I am using a single exoplayer instance, `TextTureView` and those flags:

[code]

Do you have any idea how to fix it?

[2021-03-08 14:48] newtestpage opened #8687 "problem to open hls stream"
Hi .
I have a problem with a hls stream . Its play properly on another player but I got error with exoplayer .
I tested it with sample app also .

here is link
"http://sportportal1.akamaized.net/hls/live/702646/itvlive/ITV1PORTAL2/master.m3u8"

and here is error I got .
`E/ExoPlayerImplInternal: Playback error
      com.google.android.exoplayer2.ExoPlaybackException: Source error
        at com.go

[2021-03-08 14:54] christosts commented on #8650
I'm not aware of any change around `#EXTINF` between versions 2.12.0 and 2.13.0. At least, I cannot see a change documented in the [release notes](https://github.com/google/ExoPlayer/blob/release-v2/RELEASENOTES.md).

The player does handle floating points for the segment durations. The *recommendation* in https://exoplayer.dev/hls.html (and in the [related blog post](https://medium.com/google-exo

[2021-03-08 15:19] krocard commented on #8645
@marcbaechinger  can you take a look? Thanks.

[2021-03-08 15:20] krocard commented on #8681
@marcbaechinger Is there an easy way to recover the cache media without playing it to be consumed by a third-party audio library?

[2021-03-08 15:23] krocard commented on #8678
@AquilesCanta is PTS jump (timestamp discontinuity?) supported in ExoPlayer's MPEG-TS?

@arlimm318 Would it be possible to link to the problematic content? A bug report would be useful too.
If you're unable to share [bug reports](https://developer.android.com/studio/debug/bug-report) or test content publicly, please send them to dev.exoplayer@gmail.com using a subject in the format "Issue #1234" (

[2021-03-08 15:39] #8686 closed, assigned to ojw28

[2021-03-08 15:40] sajjadshahbazi commented on #8686
I resolved this

[2021-03-08 15:52] ChenGuanshu opened #8688 "Question about seamless audio playback within Merging & Clipping MediaSource"
Hi,
My use case is to playback a few video segments with extra audio source (mp3 probably). Currently I am using the MediaSource like Concatenating(Merge(video1, audio(0,1)), Merge(video2, audio(1,2)), ...) or Merge(Concatenating(video1, video2, ...), Concatenating(audio(0,1), audio(1,2))). Both work but just with some audio glitch during segment transition.

I check some similar question like htt

[2021-03-08 16:20] qvk commented on #8683
Regarding (2), yes we are doing something like that in one of our use cases involving cached keys, where we don't want to retry on key expiry.

For non-cached keys use case (where the license request has to be done every time a playback is requested), our license proxy server bundles additional business specific data along with the license response (license_response_blob + custom_data). From the r

[2021-03-08 16:37] krocard commented on #8643
A [bug report](https://developer.android.com/studio/debug/bug-report) does not contain the code of your application. It is a zip file containing the divers logs of the device as well as as the service states.

Alternatively reproducing using our [demo application](https://exoplayer.dev/demo-application.html) and sharing a bug report would be of great help.

Please see our [issue template](https://

[2021-03-08 16:54] marcbaechinger commented on #8681
If the file is completely in the cache, I think it should be possible to create a `CacheDataSource` with the cache and then use the API of `DataSource` to read from it. The `CacheDataSource` finds everything in the cache and returns the byte until the end of the input is reached. I haven't tried but this is what the player does as well I think.

[2021-03-08 17:23] marcbaechinger commented on #8645
Like you say, with the very same `Cache` instance that is reading from the same cache directory this is difficult. I assume you are talking about progressive media only, because with adaptive media it gets even more difficult.

With two separate caches, one used for offline and one for on-the-fly caching this may be possible, but then bytes would be downloaded twice in case playback starts before

[2021-03-08 17:38] halaei commented on #8645
I am using a single instance of cache at the moment both for player and for download tasks. It seems that it is working except that it download files twice if they are both played and downloaded at the same time. Here is the main part of our current download task:
[code]

[2021-03-08 17:43] marcbaechinger commented on #8681
A user just added some code that reads from a CachedDataSource. In that case the stream is not yet completely downloaded but for the use case here, when we are sure that everything is downloaded already, this should work the same without accessing the upstream data source.

Please see #8645

[2021-03-08 17:48] marcbaechinger commented on #8645
Ah, so you are not using `DownloadService` with `DownloadManager` and a `CachedDataSource`.  :) I thought you are using the download components (https://exoplayer.dev/downloading-media.html) with the same `Cache` instance as the `CacheDataSource` for playback.

Using the download components would help you doing that in the background, continuing with downloads in a service or resuming these when t

[2021-03-08 19:08] halaei commented on #8645
I have checked ExoPlayer download service, but I didn't used it. Our app needs to be able to let users have access to the files outside app. ExoPlayer download service is for playback only if I am not mistaking.
If I was using the download service, I guess I should use two cache instances as you said, each on a different directory, one being for streaming with LRU, and the other one for user downl

[2021-03-08 19:33] plitaev opened #8689 "Wrong path to .ts file in HLS Live Stream (Solved!)"
Hi there!

Today, I ran into a technical problem-Exoplayer could not open HLS stream from webcam because player create a wrong URI in GET query to .ts file after m3u8 loading.

I give to a player m3u8 link with token and filename like http://MY_IP_ADDRESS:20200/streaming?token=SoXAreIBouxi0EkifWe9crkncUWzQgFz&filename=playlist.m3u8

And next player needs a .ts file from URI like http://MY_IP_ADDRE

[2021-03-08 21:26] AndreasVogelfrei commented on #8682
I just simplified the example even more on GitHub. Still I can not get the ICY metadata with the provided project.

[2021-03-08 23:14] Saravana-Gunaseelan opened #8690 "Exoplayer playback failed issue"
Our testers found a video file that was getting stuck when seeking to a particular position in the video.

I tested it against the demo application recommended in the template (  http://exoplayer.dev/demo-application.html).
I modified the `media.exolist.json` to just my test file

[code]

The issue occurs when seeking to 0:30 in the video. Seeking anywhere else works correctly. The issue was also

[2021-03-08 23:30] ojw28 commented on #8682
It appears that the server is disabling ICY metadata based on the `User-Agent` of the request. It shouldn't really be doing this this, since we're requesting ICY metadata by setting the `Icy-MetaData` request header. This explicitly tells the server that we want it.

If you're able to, you should report this to the stream provider. You can also work around the issue by setting the `User-Agent` to

[2021-03-08 23:30] #8682 closed, assigned to ojw28

[2021-03-08 23:34] ojw28 commented on #8682
Note that the reason this worked on 2.9.6 and no longer works on 2.13.1 isn't anything directly related to ICY. It's that we changed the default `User-Agent` that ExoPlayer requests use in 2.13.0. The corresponding line in the release notes is:

[2021-03-09 02:49] arlimm318 commented on #8678
yes，timestamp discontinuity.
The video file is too large，It's hard to upload.

[2021-03-09 03:08] arlimm318 commented on #8678
this video  has imestamp discontinuity，In about 17 seconds.
https://1drv.ms/u/s!AmEXoF8AZryCcViX8bLsda3SxKA?e=vz6WC2

[2021-03-09 03:28] KazukiSugiyama107 opened #8691 "MediaDrmStateException occurs during download and streaming playback."
This exception occurs on Pixel devices, but only on certain devices, not all devices.

### Searched documentation and issues
・ExoPlayer Javadoc.
・ExoPlayer Issues

### Question
An exception occurs during streaming and download playback.
This exception occurs on Pixel devices, but only on certain devices, not all devices.
The source code is the same as # 8175.
When I checked the error log, I asked

[2021-03-09 03:58] plitaev commented on #8689
![1](https://user-images.githubusercontent.com/31280583/110416418-47b73100-80c6-11eb-9053-d0db51dd9b95.jpg)
![2](https://user-images.githubusercontent.com/31280583/110416432-4e45a880-80c6-11eb-8c01-79b8b64432c7.jpg)

[2021-03-09 07:02] kaweesi commented on #8647
@ojw28 are you working on this?

[2021-03-09 07:37] zhichuanhuang opened #8692 "About Exo name question"
Why is it called Exo and what is the meaning of Exo?

[2021-03-09 08:02] makp9k commented on #8212
If `CastPlayer` will properly call `toMediaItem`, then it would be totally sufficient for my needs. I was just looking for a way to hook into `MediaItem`s conversion process until this issue is resolved and realised there is not much we can do about the CastPlayer in general. Thank you!

[2021-03-09 08:27] NitinSharma639 commented on #8657
Hi @icbaker

Can you please provide us some sample code or some codelab or any kind of example so we can integrate it in production environment.

Thanks

[2021-03-09 08:59] icbaker commented on #8657
There's an example of providing a custom `RenderersFactory` here: https://exoplayer.dev/shrinking.html#specify-which-renderers-your-app-needs

[2021-03-09 09:30] AndreasVogelfrei commented on #8682
Thank you for analyzing this issue. The suggested workaround to provide an user agent string does work in my project.

[2021-03-09 09:42] gobin-i commented on #8650
Hi @christosts , foremost thank you for your feedback and appreciated it. The negative value for the method "player.currentPosition" is returned even though the user is not pausing the player and we also didn't see the player status fall into "Buffering" or an exception.

I tried with the demo app version 2.13, and found no issue, however we suspected that the sudden drop or fast-forward of audio

[2021-03-09 09:46] krottv commented on #8645
@halaei
Where do you get length and key for CacheDataSource? I am also in search of the solution for my cache problems

[2021-03-09 10:13] hyl0376 commented on #8603
Thanks for your kind support.
I wonder how it's going. Is there any update?

[2021-03-09 11:20] tonihei commented on #8560
Reopening to address the problem described above.

Could you also let us know which device you are using? It might be related to the device using too much CPU during playback for speed adjustment.

Could you also try to turn this off to see if it makes a difference?

[2021-03-09 11:33] krocard commented on #8678
I am able to reproduce the issue on my Pixel 3 by pushing it on the /sdcard and playing it from the demo app. After a few seconds, Media codec throws and playback fails. Playback can be resumed by pressing play again.

I suspect this is due to bad media, but I have no proof. It plays without issue on VLC for mac.
<details>
<summary>
mediainfo aaa_181.mpg
</summary>

[code]

</details>

<details>
<

[2021-03-09 12:09] krocard commented on #8678
The MPEG-TS h265 video seems to confuse the c2.qti.hevc.decoder which seems to disconnect from the surface. Not exactly what happens the codec logs don't show a meaningful error.
I'm not sure what to do next. I'm suspecting the media to be corrupted, but have no proof.

@ojw28 should this be considered bad media or considered a codec bug?

[2021-03-09 13:05] ChenglongMa commented on #4066
The issue here is that the regex used in `HlsPlaylistParser` does not support `#EXTINF:-1`. So I copied the source code of `HlsPlaylistParser` and changed its regex pattern from `:([\d\.]+)\b` to `:(-?[\d\.]+)\b` (simply add `-?` after `:(`;

## More trivially, my changelog:

### Line [166] (may also [168]):
[code]

### Line [742]:
[code]
add a new line to make sure `segmentDurationUs` is greater

[2021-03-09 13:06] halaei commented on #8645
@krottv
length is the size of file I know in advance. It may be  possible to use infinity instead or maybe not set it. key is some string that uniquely identifies the file. Maybe if you don't set it, the url will be used as key, which is good as long as urls don't change for unique files.

[2021-03-09 14:01] marcbaechinger commented on #8645
Just wanted to confirm that the key is what you set in `MediaItem.Builder.setCustomCacheKey(String key)` or if not set it is the uri used for the media item.

[2021-03-09 14:08] tonihei commented on #3326
Closing this issue now as obsolete.

As explained in the post above, there isn't really any value in comparing with v1 anymore. The start time in the scenario above is heavily influenced by the cache usage and likely the number of classes loaded for the initial cold start also influences the actual start up time. There is certainly value in reducing start-up time as far as possible, but we also ha

[2021-03-09 14:08] #3326 closed, assigned to tonihei

[2021-03-09 14:23] krocard commented on #8678
To check if the software decoder could handle the media better, I tried to play it on the Android Emulator. Unfortunately, the media doesn't even start to play (NO_EXCEEDS_CAPABILITIES].

<details>
<summary>
Error on playback start
</summary>

[code]

</details>

The software codec does not have the resources to decode the format. Maybe because it is 3840x2160.

[2021-03-09 14:24] tonihei commented on #7006
I'm not sure whether this issue is still tracking anything useful.

 - `DefaultLoadControl` sets the maximum allowed buffer size in bytes so that almost all streams should be able to fill the buffer up to the maximum buffer duration in ms. The default of `prioritizeTimeOverSizeThresholds` is also set to false (see commit above).
 - The buffer durations, max buffer size in bytes and which value to

[2021-03-09 14:24] #7006 closed, assigned to tonihei

[2021-03-09 14:25] ojw28 commented on #8647
As of now, we do not have a concrete plan for working on this.

[2021-03-09 14:29] tonihei commented on #7850
Once #4868 is done, this proposal is more about showing period boundaries of a multi-period item in the UI. Changing title accordingly.

[2021-03-09 14:29] kaweesi commented on #8647
If i wanted to work on this, could i be paired with someone to ease my work with pointers!

[2021-03-09 14:32] tonihei commented on #7903
The emulator issue above was fixed and should be available in some upcoming version of it.

[2021-03-09 14:32] #7903 closed, assigned to tonihei

[2021-03-09 14:32] priscila225 opened #8693 "Crash happening on 2.13.0: ArrayIndexOutOfBoundsException in maybeUpdateAdMediaSources"
I want to report a crash using exoplayer v2.13.0 and googleIMA 3.22.0. It's a TV app in which we have a DAI video and other VOD videos with prerolls/midrolls. Not sure if it's crashing on live video (DAI) or VOD.
Since we updated Exoplayer to 2.13.0 this crash started happening:
[code]
I believe this might be a crash in the Exo SDK itself since we're not seeing any reference to our code in the sta

[2021-03-09 14:33] ojw28 commented on #8647
The core engineering team does not have resources to invest in this area in the short term. This includes the kind of arrangement you describe, since in practice such arrangements require significant time investment, and any time invested is time not invested in some other, higher priority work items.

If there's significant interest in this feature, you may find someone else external to the core

[2021-03-09 14:35] tonihei commented on #8366
Sorry for delay in checking for the email, but I'm still unable to find it.

[2021-03-09 14:35] tonihei commented on #8600
Closing because the question was answered.

[2021-03-09 14:35] #8600 closed, assigned to tonihei

[2021-03-09 14:36] tonihei commented on #8604
Closing because the question was answered.

[2021-03-09 14:36] #8604 closed, assigned to tonihei

[2021-03-09 14:37] tonihei commented on #8620
Converting to an enhancement to track a potential future implementation.

[2021-03-09 14:41] tonihei commented on #8693
Andrew, could you take a look?

[2021-03-09 14:46] tonihei commented on #8689
It would be helpful if you cold provide an example playlist with the path where you hosted it and the expected path of the segments. It's likely the playlist is not configured correctly.

Aside: Please provide the file contents and any other information as text in the reply instead of posting a screenshot photo.

[2021-03-09 14:49] krocard commented on #8678
I tried playing the video using `MediaPlayer`, with the "Files by Google" app and it also can't play it.

<details>
<summary>
logcat of media player failure
</summary>

[code]

As a result I'm marking this as bad media. The H265 HW decoder fails to decode the media with both MediaPlayer and ExoPlayer.

</details>

[2021-03-09 14:54] tonihei commented on #8687
The provided stream is working fine for me in the ExoPlayer demo app. Please check again and if you see consistent problems that just occur with ExoPlayer, it would be great if you can describe reproduction steps in as much detail as possible.

[2021-03-09 15:40] tonihei commented on #8684
What's the value of `url` you pass to the first method? It would also be helpful if you could describe other properties of your setup, for example: what are the names and ids of the available resources?

The error stack trace indicates that ExoPlayer is trying to read a file that is either not a media file or has an unsupported format.

[2021-03-09 15:44] tonihei commented on #8690
Could you also provide the video causing the problem? If you don't want to post it publicly you can also send it via email to dev.exoplayer@gmail.com with "Issue #8690" in the subject.

[2021-03-09 15:46] Saravana-Gunaseelan commented on #8690
I have attached the video link in the above ticket. Attaching it here too:
https://drive.google.com/file/d/1sbirYDNNcn6bpCGhSLCCvxmyUHt_K0DO/view?usp=sharing

[2021-03-09 16:00] tonihei commented on #8690
Sorry, I must have missed that!

[2021-03-09 16:05] kingfisherphuoc commented on #8643
@krocard I cannot share my bug reports, so I sent them to your email. Please take a look at it.

This is my updated log:
[code]

[2021-03-09 16:48] sajjadshahbazi opened #8694 "what ratio between the skipoffset and Duration?"
I'm using ImaAdsLoader with version 2.12.0.
when skipoffset is equal to 1 Second and Duration is 7 Second can't skip the ad and I must watch all ad. but when that skipoffset is equal to 4 Second and Duration is 10 Second, can skip the ad.
what ratio between the skipoffset and Duration?

[2021-03-09 16:51] andrewlewis commented on #8694
I think this behavior is controlled purely by the IMA SDK so please ask on their [support forum](https://groups.google.com/g/ima-sdk). Feel free to reply here and reopen if this is actually about some IMA extension-specific behavior.

[2021-03-09 16:51] #8694 closed, assigned to andrewlewis

[2021-03-09 17:20] tonihei commented on #8690
I think this may be working as intended. Your file only has 4 keyframes at samples 0, 250, 500 and 750, which are about 130MB of data apart from each other. So if you seek to just before a keyframe the player needs to load data from the previous keyframe and eventually reaches its default memory limit of 131 MB without having enough media available for playback yet. This is what the exception is d

[2021-03-09 17:20] #8690 closed, assigned to tonihei

[2021-03-09 17:28] tonihei commented on #8691
@jt64 Could you take a look at the bugreport to see if there is something wrong with the device? Based on the description this issue seems to be device-specific.

[2021-03-09 17:34] Saravana-Gunaseelan commented on #8690
Makes sense. Thanks for the explanation @tonihei !

[2021-03-09 17:36] krocard commented on #8643
[code]
in the kernel buffer log:
` <3>[164646.576991@0] ion_codec_mm_allocate failed out size 1433600,alloced -1728512`

This suggests that the codec allocation failed due to ION memory allocation failure.
This is usually caused by having too many codec allocated at the same time.

Could it be that your code is allocating a new player for each items and not calling `release()` on them? If so, you

[2021-03-09 17:52] kim-vde commented on #8678
I checked the file you sent in [this comment](https://github.com/google/ExoPlayer/issues/8678#issuecomment-793310163). The problem is that ExoPlayer sends negative timestamps to the decoder after around 18 seconds. This is due to a discontinuity in the pts values (from 3569115535 to 1368074847).

We have plans to improve the handing of discontinuities (see #6983), but I am afraid this is not curre

[2021-03-09 18:15] aSLmolly opened #8695 "General Drm error while attempt to play DASH + Widevine"
I am experiencing the following issue when trying to play content with Dash and Widevine.
The exception it is raised in this line of code:

[code]

[code]

 The license seems to be acquired correctly but for some reason the MediaDrm is failing to process it.

Already visited and investigated all similar issues.

More information dropped to dev.exoplayer@gmail.com.

[2021-03-09 18:27] icbaker commented on #8695
@rrfrias Can you take a look? It looks like the Widevine CDM didn't like the provided response:

[code]

[2021-03-09 18:58] kingfisherphuoc commented on #8643
@krocard I used a single exoplayer instance in my activity. I released the player on `onDestroy` of activity. It will happen more frequently if I restart the activity (by closing and reopening it).
-  is there any case that the release function takes some time to be finished? can we have any method to check or release all created exoplayer?
I am using some native c library in my app, could it be t

[2021-03-09 19:01] andrewlewis commented on #8447
Sorry for the delay. The fix for the stack trace with `getUserRequestContext` is in 2.22 ("Fixes the error message when AdsLoader would receive an error without a valid session ID.").

Looking at the internal issue, I don't think the second crash has been diagnosed yet. I also added a note there about the crash reported in https://groups.google.com/g/ima-sdk/c/BvHHkeXvhL4, which appears to have a

[2021-03-09 19:15] AquilesCanta commented on #8683
Anything that does not need to be retried, like described in

can be thrown as it is. The [won't be retried](https://github.com/google/ExoPlayer/blob/4364b9150f236813a2070fc79d3bcb76e11969ac/library/core/src/main/java/com/google/android/exoplayer2/drm/DefaultDrmSession.java#L613).

I'm assuming the following:

Might want to be retried. In this case, you should  wrap them in in a MediaDrmCallbackEx

[2021-03-09 21:27] itsjamie opened #8696 "Failure on some Android 11 devices when switching from secure decoder to a different decoder"
### Reproduction Steps

Set SimpleExoPlayer to play a MediaItem configured to play using Widevine, with M3U8 mimetype.
Email coming with replacements for `<snip>` values.

**Exoplayer version:** 2.13.2
**Android Version:** 11

### Devices
- Samsung S20 FE 5G (Qualcomm and Exynos chipsets both repro)
- Samsung Notes - (tablet)
- Samsung Galaxy Note - (phone)
- Samsung Galaxy Note Ultra OS

Basic Re

[2021-03-09 21:58] itsjamie commented on #8696
Email with test content has been sent.

[2021-03-09 23:46] jt64 commented on #8691
From the bugreport we see it is hitting a __ubsan_handle_sub_overflow_minimal_abort in qualcomm code. We have seen this issue on other devices as well and have previously raised it with Qualcomm. We will open an internal bug and follow up with Sony.

[code]

[2021-03-10 00:06] jt64 commented on #8655
From the bugreport we see these errors: [included for reference and tracking]

  cdm_engine_generate_key_request_time_us: mean=7942 count=1 {error_code:323 323}
  oemcrypto_prep_and_sign_license_request_time_us[1]: mean=2521 count=1 {oemcrypto_result:10085 10085}

We have seen this error very intermittently on some Pixel devices. We have an open bug with Qualcomm to resolve it.

The workaround des

[2021-03-10 00:08] jt64 commented on #8655
When the workaround is available, if you find it doesn't help please reopen this bug and assign it back to us.

[2021-03-10 00:08] #8655 closed, assigned to jt64

[2021-03-10 00:32] rrfrias commented on #8039
Sorry for the delay. I missed this earlier.

@tpiDev, can you reproduce the issue, capture and send a bugreport to dev.exoplayer@gmail.com. I do not have enough information to tell whether this is the same issue as mentioned earlier. Qualcomm has not had an update for this issue. Will try to get their attention.

Yes this is unfortunate. Reprovisioning will cause existing offline licensing to beco

[2021-03-10 00:32] jt64 commented on #8037
Thank you for the bugreport and apologies for the delayed response.

The bugreport indicates this error is coming from Samsung's DRM module:
10-14 14:55:15.035 E/wv_dash ( 5875): Trustlet did not send a valid return code: 24576
10-14 14:55:15.035 E/wv_dash ( 5875): process drm decrypt CENC failed. 6000
10-14 14:55:15.035 E/wv_dash ( 5875): process drm decrypt CENC failed [d]
10-14 14:55:15.035 E/W

[2021-03-10 02:41] arlimm318 opened #8697 "How to use audio AC3 pass-through mode？"
How to get MediaCodec to not decode AC3, but to play through to support TV.
My device is Android 4.4.

[2021-03-10 05:33] pvishnyakov commented on #8560
I use NVidia Shield Pro 2019, lack of CPU power shouldn’t be a problem.
If I turn off the screen refresh adjustment - with or without forced LivePlaybackSpeedControl setting - all channels become jerky because my device sets system screen refresh rate to 60 Hz while the most of streams have 25 fps. No tunneling codecs available in the system, screen refresh adjustment is the only way to get smooth

[2021-03-10 06:06] qvk commented on #8683
Thanks for the clarifications. I'll work on acquiring more relevant parameters in our implementation required for MediaDrmCallbackException parameters, so it can be used to wrap our exceptions. I'll also tweak our code to make appropriate use of the custom load error handling policy.

Yes, I think I have everything to go forward with this. Thanks!

[2021-03-10 06:06] #8683 closed, assigned to AquilesCanta

[2021-03-10 08:21] QinLei1 opened #8698 "引入“LibRtmp-Client-for-Android”库，播放rtmp直播流，页面闪退也没有日志，当前exoplayer版本为：2.11.7"
![image](https://user-images.githubusercontent.com/24694778/110598311-934c0680-81bc-11eb-9a91-b45a5dbdd32b.png)

[2021-03-10 08:33] krocard commented on #8643
Digging a bit more in the bug report the `media.resource_manager service` shows that your application created and destroyed media codecs 10 times during the last 2 seconds.
I believe that each of those codec creation fails and for some reason ExoPlayer retries to create the codec.
This ExoPlayer retry is not intended, ExoPlayer should fail on error and not retry to create the codec.

<details>
<su

[2021-03-10 08:50] kingfisherphuoc commented on #8643
@krocard
I was trying to reuse the `exoPlayer` instance if it's error:

[code]

Perhaps I should create a new `exoplayer` instance instead of reusing the error one, right?

[2021-03-10 09:09] andrewlewis commented on #8697
HDMI audio passthrough support was added in Android 5.0 (API 21) so I'm afraid this isn't supported. See the minimum API version listed for [`ENCODING_AC3`](https://developer.android.com/reference/android/media/AudioFormat#ENCODING_AC3).

[2021-03-10 09:09] #8697 closed, assigned to andrewlewis

[2021-03-10 09:16] icbaker commented on #8696
To be honest this doesn't sound like an ExoPlayer issue - it seems more likely related to the device's implementation of secure/insecure video decoders.

This setting was introduced for exactly this use-case - of clear ads in encrypted content leading to decoder switches, which resulted in a black screen being shown for a short time on some devices during the switch between ads & content (this als

[2021-03-10 09:37] krocard commented on #8643
You can try that. Additionally, are you forcing the player to resume playback after an error? For example with player.play or player. setPlayWhenReady.

Another way to solve the issue might be to switch to a SurfaceView instead of a TextureView. This should allow to offload more resources to the GPU. It should require less ION memory.

I don't think we can help you further without a minimal reprod

[2021-03-10 10:18] ojw28 commented on #8427
I don't have any details regarding their schedule, but Xiaomi have a fix for the issue that they plan on releasing to users in an upcoming software update. Closing as fixed on this basis.

We will also make sure that we have good coverage for this in our device certification suite going forward (@icbaker - I think it's on your radar already anyway, but just FYI this is a good reason for updating G

[2021-03-10 10:18] #8427 closed, assigned to ojw28

[2021-03-10 10:32] dendrocyte commented on #8668
I report the issue#8668 via mail and provide a minimal reproducible example to my github.
sorry for the late reply.

[2021-03-10 11:03] andrewlewis commented on #8447
For crash 2, please could you provide an updated stack trace from a client using IMA SDK version 2.22? Thanks for the help tracking this down.

[2021-03-10 11:24] icbaker commented on #8668
I can't find this email. Can you double check you sent it to "dev.exoplayer@gmail.com" with the subject "Issue #8668"?

----

I'm unable to reproduce the error seen in this case:

To try and repro this I:
* Cloned https://github.com/dendrocyte/WidevineTest at https://github.com/dendrocyte/WidevineTest/commit/51fc41a62c888900b940063214ce8e349abad83b
* Ran the app on a Pixel 3a XL
* The video starte

[2021-03-10 12:08] fpitters commented on #8447
Thank you for keeping track of this.

This is a report from Firebase using 3.22.2 with latest Exo 2.13.2.

[code]

[2021-03-10 12:23] tdc-w commented on #8644
I created the AudioRendererWithoutClock, MultiTrackRenderersFactory, and MultiTrackSelector described in #6589.
I got an exception when I tried to run with audio only.
[code]

exception
[code]
I'm investigating what's wrong.

[2021-03-10 12:28] christosts commented on #8560
I tested the stream mentioned in the issue description on a Sony Android TV (2020 model). The content is at 50fps and the TV screen refresh rate is at 60Hz. When playback speed is at 1.03x (1.03x chosen because it is the live speed controller's default max), I can see periodic frame drops. I haven't figured out the root cause yet and still investigating.

[tracking progress]
I've been testing on a

[2021-03-10 12:35] tdc-w commented on #8644
It was played if I specified multiple audio files.
Next, I will proceed with verification to process multiple video files

[2021-03-10 13:23] christosts commented on #8650
The method `seekTo()` should not be triggered automatically from the player unless your application is triggering a `player.seekTo()`. Is your application triggering a `seekTo()`?

- You mentioned that you tried the demo app with 2.13 and found no issue. Did you try the demo app with 2.12?
- The logs that you attached in the issue description have negative values. What version of the ExoPlayer was

[2021-03-10 14:05] itsjamie commented on #8696
@icbaker while it does present as a device-specific issue, isn't this highlighting a race condition in Exoplayer's access of system resources that happens to work now with the majority of vendors, but due to some misalignment in the code below, is on the flip side of the condition for Samsung?

I posit this because of the fact that adding the logging breakpoint in Android Studio resolves the issue

[2021-03-10 14:07] ojw28 commented on #8692
It was named ExoPlayer due to some (very tangential) similarities between ExoPlayer and some aspects of Exokernel architecture. I wouldn't read anything into this though. At this point it's just a name :).

[2021-03-10 14:07] #8692 closed, assigned to ojw28

[2021-03-10 14:15] dendrocyte commented on #8668
The demo app and your advise help me a lot!
I fix the bug in my app after comparing from demo app:
'even I play widevine sample via exoplayer + surfaceView, it is only able to play once'
-> does not re-build drmSessionManager
'native window cannot handle protected buffers: the consumer should either be a hardware composer or support hardware protection'
-> does not stopPlayback when remove the sur

[2021-03-10 14:15] tonihei opened #8699 "Support Common Media Client Data (CMCD)"
CMCD is a new standard that allows player clients to report some state to the CDN to allow the CDN to improve delivery performance (see https://cdn.cta.tech/cta/media/media/resources/standards/pdfs/cta-5004-final.pdf).

Implementing this with ExoPlayer is currently difficult as the necessary information needs to be available on the playback thread at the point where the request is generated. This

[2021-03-10 14:42] cadalt commented on #8693
we are seeing this crash pretty frequently since upgrading to 2.13.0 as well! so fixing it would be much appreciated!

[2021-03-10 14:54] icbaker commented on #8696
I understand how fixing it by setting a breakpoint points towards a race condition somewhere. I agree that indicates a timing-related issue, probably caused by the interaction of multiple threads.

I'm not sure how that could be in ExoPlayer though, because our control flow ensures that we release a decoder before acquiring the next one, and we do these operations from the same thread.

It seems p

[2021-03-10 14:54] icbaker commented on #8668
Glad you got it sorted! :)

[2021-03-10 14:54] #8668 closed, assigned to icbaker

[2021-03-10 15:13] ojw28 commented on #8646
This should be fixed by the commit referenced above. The fix will be included in 2.13.3 (if there is one) or 2.14.0 (if not). Thanks for the report!

[2021-03-10 15:13] #8646 closed, assigned to ojw28

[2021-03-10 15:17] ojw28 commented on #8611
I doubt there is much we can do for these devices, if the workaround doesn't work.

I will leave this open for us to consider whether we want to enable a `setFixedSize` workaround by default, taking into account the comment above about it not working correctly unless real dimensions are used when in `RESIZE_MODE_ZOOM`.

[2021-03-10 15:18] ojw28 commented on #8597
Marking as `needs more info`. As of now it sounds like this is probably an issue with your upgrade procedure from a non-standard previous implementation.

[2021-03-10 15:20] #8463 closed, assigned to ojw28

[2021-03-10 16:08] tonihei commented on #8688
Thanks for providing all the options already - very well thought through!

Using mp3 might be an issue in itself for this use case, because the clipping relies on accurate timestamps (in particular if we want to merge it back together). Unfortunately, mp3 isn't well suited for accurate seeking or clipping, so you would be better off using a container format that has exact sample index data like MP

[2021-03-10 16:09] nishantkp commented on #8037
Hi @jt64,

Thank you so much for picking this up. No Devices are not rooted/unlocked.

[2021-03-10 16:14] kaweesi commented on #8648
BTW, is it possible to use a videoView or anything else to load a video under controls?

[2021-03-10 17:54] wilaw commented on #8699
Request around opt-in API structure and API methods:

1. Have CMCD be default off, to protect privacy and information leakage.
2. Be able to activate it easily through single API call. This activation would turn on all available keys.
3. Be able to apply a separate filter list to explicitly enable certain keys. Only keys whitelisted by the filter would be sent.
4. Have an API method to enable sett

[2021-03-10 18:18] tonihei commented on #8698
Please provide complete reproduction steps as explained in the issue template. Thanks.

[2021-03-10 18:21] cadalt commented on #8693
this crash is still happening on 2.13.2

[2021-03-10 18:22] priscila225 commented on #8693
^ Yes I can confirm this is occurring on the Exo latest version 2.13.2 version with ima 3.22.2 latest version too

[2021-03-10 18:40] christosts commented on #8560
I was not able to detect -so far- a clear indication of why this happens on the TV I'm testing with. However, this device has frame drops for any playback speed higher than 1x, not only the content provided in this issue. Playing H264 content at 24fps and increasing the speed at any value higher than 1x seems to introduce "chopiness".

@pvishnyakov Can you please play some content with the demo ap

[2021-03-10 19:44] victorraft commented on #8693
@andrewlewis do you think maybe this can be happening because the if statement in line 315-318 is missing an array size check before accessing `adPlaybackState.adGroups[adGroupIndex]`?

[2021-03-10 20:15] axalam9 opened #8700 "URGENT: ExoPlayer freezing after ad break"
We are currently facing an issue on all Android platforms utilizing ExoPlayer. As soon as the video goes into a midroll, the ad break plays fine but coming out of the ad break back into content, the player freezes with no error whatsoever. This has been replicated with both production and test ads.

The steps to reproduction are the following:
1. Download sample app from here: https://drive.google

[2021-03-10 20:47] ojw28 commented on #8700
Let's use [Internal ref: b/181999437] for this. Closing the public issue.

[2021-03-10 20:47] #8700 closed, assigned to ojw28

[2021-03-11 00:00] newtestpage opened #8701 "BuildConfig.USE_DECODER_EXTENSIONS not found"
Hi
when I tried to use DemoUtil class on my app I faced problem with BuildConfig.USE_DECODER_EXTENSION  and I got this error 👍 Cannot resolve symbol 'USE_DECODER_EXTENSIONS'

could you help me to solve this problem ?

[2021-03-11 05:22] tdc-w commented on #8644
@tonihei
By implementing VideoRenderers like AudioRenderers, it seems that multiple VideoRenderers could be added.
I don't understand how to switch renderer, can I do it with PlayerMessage?

Currently, it seems that video1 and video2 are playing, but only video1 is visible.
I want to make video2 visible at any time.

[2021-03-11 05:47] tdc-w commented on #8644
I understand that it may be possible to achieve it by using setSelectionOverride.
I'm also checking #2343.

[2021-03-11 07:20] okycelt commented on #8031
We also seem to be having this issue, also intermittently and also in similar situations as @a4x4kiwi. I'm sending two logcats via email which were captured in a production environment with ExoPlayer's `EventLogger` attached.

_lipsync_issue_at_start.log_
- The user turned on the device
- After boot, the device automatically started playing a channel (13:51:35.536)
- The user pressed back (13:51:3

[2021-03-11 08:17] #8695 closed, assigned to rrfrias

[2021-03-11 08:26] andrewlewis commented on #8693
I'm planning to look into this today. Yes, there may is probably a size check missing, but I want to find the code path that's causing the size to be out of synch just to make sure this isn't a symptom of another bug.

[2021-03-11 09:02] andrewlewis commented on #8603
I'll plan to provide an update here when there is progress on the internal bug.

[2021-03-11 10:35] yoobi commented on #8452
Yeah that could be a solution thanks, i'll try to implement something like that

[2021-03-11 10:42] elrufoelrufo opened #8702 "UAMP with exoplayer doesn't close notification on Samsung S10+"
Hello,

I'm testing the last release of UAMP music player, the notification is not deleted when you kill app in Samsung S10+.

I have tested the same in Pixel 3a and everything seems to work properly. When you clear the app, the notification is cleared too.

Why in some devices notificationManager.setPlayer(null) is working and in other devices is not working?

How you can be sure the notification

[2021-03-11 13:14] fpitters commented on #8696
We are seeing the same (or quite close) on One Plus 8T (11). On our case `setDrmSessionForClearTypes` doesn't seem to help.

Combining a widevine stream with some of the IMA tags:
[code]

We get on both cases the same SurfaceUtils, MediaCodec error.
When using `drm_session_for_clear_content` it fails right after the preroll, and when not using the flag it failst when starting the first midroll.

I

[2021-03-11 14:28] andrewlewis commented on #8693
For anyone seeing this crash, is there a code path in your app where `ImaAdsLoader.release()` is called before `Player.release()`? I am working on the assumption that the problem is caused by the way `ImaAdsLoader` updates the ad playback state to have 0 ads when it's released, but if the error is reproducible in an app that doesn't do that then the assumption isn't correct.

[2021-03-11 14:34] victorraft commented on #8693
@andrewlewis Yes, our code has this function:

[code]

And according to some logs we got this function was the last one that was executed before the crash stacktrace, so I think you migh be onto something here!

Do you think inverting the order of these calls might help? We're looking for a solution that doesn't involve waiting for the next Exo release, so if you could suggest some workaround that

[2021-03-11 14:40] andrewlewis commented on #8693
Yes! When the ads loader is released, it removes all cue points from the `AdPlaybackState` and that causes a crash because `AdsMediaSource` tries to access information about cue points that have disappeared. (There could be another cause but I haven't found it yet.)

[2021-03-11 14:45] cadalt commented on #8693
for the record, this must be something new caused by 2.13.0 though, right?
just clarifying because this code where ImaAdsLoader.release() is called before Player.release() has been there for a long time

[2021-03-11 14:47] andrewlewis commented on #8693
Yes. This probably stopped working in 69dad31b67157ac87679bc6ae24846323f1c18fa, which went into 2.13.0.

[2021-03-11 14:49] andrewlewis commented on #8693
To clarify, I'm planning to fix the bug anyway (at which either ordering should work again), but if you need a quick fix without waiting for an ExoPlayer release or patch then swapping the order of the calls should do it.

[2021-03-11 14:50] cadalt commented on #8693
got it! thank you @andrewlewis !!!

[2021-03-11 15:23] victorraft commented on #8693
@andrewlewis there is another place that we call `releaseAdsLoader` and I just wanted to run it by you and see if this case could also cause issues.
We call `releaseAdsLoader` when we're going to start a new video and the new one has a different preroll tag than the previous one:
[code]

releasePlayer() is not called in this case, but I just want to be on the safe side.

[2021-03-11 15:34] pvishnyakov commented on #8560
I have tried all HLS streams in demo app with speed up to 2x (when possible, Apple master streams cannot change speed), playback is smooth, if we can talk about smoothness with the content like this.
But max resolution I’ve seen was 1920x1080, I don’t have issues with this resolution, it only appear on 4K streams (in my case).

4K 60fps DASH was pretty smooth with speeds up to 1.5x (2x is ugly).

[2021-03-11 16:52] hot1sp opened #8703 "Slow zapping - Exoplayer 2.12.1"
Hi We experiencing a delay between 5 to 10 seconds on normal Live channel zapping, Analysis of the call to stream URL shows that actual call to get DASH manifest occurring between 5 to 10 seconds after setting stream URL and starting the prepare functionality on the player, calling to drm is after getting the manifest file . We had tried it also on the Exoplayer 2.13.1 version and result is the sa

[2021-03-11 17:37] fred0426 opened #8704 "CC708 subtitle display issue with multiple windows in different priority"
I play a stream with CC708 subtitle on Exoplayer 2.13.1.  The CC708 subtitle can NOT be displayed correctly with multiple windows that have different window priorities.  Please see the below picture.
![CC708 issue](https://user-images.githubusercontent.com/80472661/110820760-4f720380-8287-11eb-96f3-fc3b9dfd5289.png)

I found one line code is incorrect in Cea708Decoder class:
[code]
should be chang

[2021-03-11 17:54] icbaker commented on #8696
Thanks for the report @fpitters - especially calling out that `drm_session_for_clear_content` doesn't resolve the issue.

In the logcat of your bug report it seems the secure decoder is used for the pre-roll (expected) then released at the end of the pre-roll (unexpected) and it's the subsequent reacquire/reconfigure to play the content that throws the error you're seeing:

[code]

I tried reprodu

[2021-03-11 18:19] icbaker commented on #8696
Ah I think I've found the cause of the 'spurious' codec re-initialization when switching from pre-roll to content.

The pre-roll resolution and `inputSize` is smaller than the content. Which means we need to re-initialize the codec, and it's triggered by this logic here (we enter both ifs):
https://github.com/google/ExoPlayer/blob/4364b9150f236813a2070fc79d3bcb76e11969ac/library/core/src/main/java

[2021-03-11 20:32] ojw28 commented on #8680
It really depends on what you want to do. If you want to update a UI component every second, then yes, this is a good approach. If you want to trigger actions at very specific positions in the playback, then it's not a good approach because 1 second accuracy wont be sufficient for this. In that case, you can use the approach described in [this documentation](https://exoplayer.dev/listening-to-play

[2021-03-11 20:47] rrfrias commented on #8691
@KazukiSugiyama107 , you shared a bugreport using the Pixel 3a. Can you share one using Sony Xperia. We would like to confirm both devices are experiencing the same failure.

Are you seeing this on some Xperia models? Or do devices of the same model behave differently? If you can let us know the make/model of devices that have and have not experienced the problem, that would be helpful. Informatio

[2021-03-11 21:22] ramabyg opened #8705 "Playback failure with Dolby Vision Encrypted content: "Operation not supported in this configuration""
**Issue:**
When Dolby Vision encrypted content is played, in certain scenearios, "playaback failed" message is displayed.
This issue is observed only on few specific devices
ex: Google Chromecast TV, TiVo 4K stick
adb log show as below when error happens

**Steps to reproduce the issue:**

- - Google Chromecast TV and connect to Dolby Vision supported TV
- - Use latest Exoplayer demo application f

[2021-03-11 21:59] itsjamie commented on #8696
Yeah, for us, we no longer saw the codec reinitialization, because our resolutions matched, and the format profile was within the bandwidth max size limitations. Even though there was a profile switch between the clear and secure content.

So, to that point though, this is one of those gotcha's I was wondering about and will pass along to the ad operations folks. Very important for these devices t

[2021-03-11 22:39] Will5 commented on #5246
Will all versions be migrated, or only the most recent?

[2021-03-11 22:56] rrfrias commented on #8037
Thanks for that information. We are following up with Samsung. If it is possible to share an app+test stream, can you please send instructions to dev.exoplayer@gmail.com

Internal ref: 182506753

[2021-03-12 00:40] darrinps opened #8706 "Views from exo_playback_control_view not working as before with new version of Exoplayer"
Please refer to https://github.com/google/ExoPlayer/issues/8588

This is identical to that one which was closed.

Before, the issue was several parts of the exoplayer library were being depended on.

This time, only the core library is brought and the problem is showing up again.

In short, you cannot grab a a view using findViewById  in the Activity holding Exoplayer as you used to be able to do.

[2021-03-12 00:49] darrinps commented on #8706
Also note that, as before, I tried:

`val editButton = binding.playerView.findViewById<Button>(R.id.editButton)`

That didn't work either.

How can I grab the buttons defined in exo_playback_control_view? Has the way this is to be done changed?

[2021-03-12 00:58] darrinps commented on #8706
Also note that I updated to 2.13.1 but the problem remains.

`    implementation 'com.google.android.exoplayer:exoplayer:2.13.1'
`

[2021-03-12 01:04] darrinps commented on #8706
Could this somehow be conflicting with YoutubePlayer?

I introduced YoutubePlayer into the app about the same time I noticed this problem. Could it be that it is using old versions of ExoPlayer which might cause this same issue to manifest itself?

[2021-03-12 02:16] darrinps commented on #8706
I may have a way to get this to work.

I added the controller layout explicitly like this:

`    <com.google.android.exoplayer2.ui.PlayerView
            android:id="@+id/playerView"
            android:layout_width="match_parent"
            android:layout_height="match_parent"
            android:keepScreenOn="true"
            app:controller_layout_id="@layout/exo_playback_control_view"

[2021-03-12 03:27] arlimm318 commented on #8678
I've tried this ([#6983](https://github.com/google/ExoPlayer/issues/6983)).
It does solve the problem,but,The video picture is not continuous where pts jump.
Is there a better way?

[2021-03-12 05:51] bugsCreator commented on #6589
i just added  C.TRACK_TYPE_VIDEO

TrackSelector trackSelector1 = new TrackSelector() {
                  @Override
             public TrackSelectorResult selectTracks(RendererCapabilities[] rendererCapabilities,
                                                    TrackGroupArray trackGroups, MediaSource.MediaPeriodId periodId, Timeline timeline)
                    throws ExoPlaybackException {

[2021-03-12 07:07] AndyYoung1004 opened #8707 "exoplayer 2.13.2 can"
We can only process bug reports that are actionable. Unclear bug reports or
reports with insufficient information may not get attention.

Before filing a bug:
-------------------------

- Search existing issues, including issues that are closed:
  https://github.com/google/ExoPlayer/issues?q=is%3Aissue
- Consult our developer website: https://exoplayer.dev/
- Check the supported formats: https://e

[2021-03-12 07:16] AndyYoung1004 opened #8708 "exoplayer version 2.13.2 got only audio without picture when play stream Silent_Movie_200_AC4_H264_DVB_25fps.ts"
when I use ExoPlayer demo app to playback Silent_Movie_200_AC4_H264_DVB_25fps.ts
only audio is played,screen is black,and it is 100% reproduceable on all Android version.
I tried P,Q,R and got the same result,please help to check this issue

- ExoPlayer version number : 2.13.2
- Android version : P Q R
- Android device : oppo Findx2/reno3 pro/reno4 pro/reno5 pro,all oppo phones

[Silent_Movie_200_

[2021-03-12 07:48] krottv opened #8709 "2.13.2 Source error on m4a files in release mode"
ExoPlayer version 2.13.2 (on 2.12.3 everything is fine)
Android - any version

In release mode I have minify enabled = true. And mp4, m4a files cannot be played - Source error.
Link for test - https://audio-ssl.itunes.apple.com/itunes-assets/AudioPreview124/v4/ab/15/31/ab1531f7-be5a-4be1-a007-113e6f87f235/mzaf_16276103177644625463.plus.aac.p.m4a

If I make apk in debug mode then everything works f

[2021-03-12 09:32] hsicen commented on #8612
Sorry so long to back you，I get stacktrace with product environment and it from our user,no more infomation about it.

[2021-03-12 09:40] andrewlewis commented on #8693
@victorraft If the player is prepared with an `AdsMediaSource` already at the moment when this function runs then yes, I would expect it to hit the same issue. The problem is that `AdsMediaSource` doesn't accept the update to the ad playback state called by the `AdsLoader.release()` if any ad groups previously loaded, and the way to work around that is to make sure there is no `AdsMediaSource` at

[2021-03-12 10:00] icbaker commented on #8705
The logcat snippet doesn't include enough information to diagnose this issue.

Can you take a full bug report (`$ adb bugreport`)? It will include additional logging from before the stack trace you've snipped, as well as lots of useful info about the state of the device at the time of the problem.

If you're unable to share [bug reports](https://developer.android.com/studio/debug/bug-report) or te

[2021-03-12 10:24] icbaker commented on #8704
Thanks for reporting this, I agree this is wrong, section 8.4.2 of the CEA-708B spec says (emphasis mine):

I'll send a fix.

[2021-03-12 10:45] icbaker commented on #8704
Interestingly this also reveals an implicit assumption that the order of `Cue` objects passed to `TextOutput.onCues` indicates the order they should be drawn on the screen.

That should probably be more clearly documented on the `TextOutput` interface.

[2021-03-12 10:59] icbaker commented on #4133
This is now implemented on the dev-v2 branch - it will be included in the next major release.

I'd appreciate it if people could try it out and report any issues they observe.

[2021-03-12 10:59] #4133 closed, assigned to icbaker

[2021-03-12 10:59] #8456 closed, assigned to icbaker

[2021-03-12 10:59] icbaker commented on #5317
This is now resolved on the dev-v2 branch by the commit linked above. It should be included in the next minor release.

[2021-03-12 10:59] #5317 closed, assigned to icbaker

[2021-03-12 11:15] strangesource opened #8710 "MetadataRenderer sometimes does not render metadata with timestamps aligned with DASH period end in multi period streams"
When playing a multi period dash stream where the first period has an `EventStream` associated that contains an event that is aligned with the period's duration and the next period does not have an `EventStream` similar to this:

[code]

The event with the id `4` is sometime not surfaced. It is not 100% reliably reproducible with all device, but it does not seem to be device dependent but rather a

[2021-03-12 11:43] andrewlewis commented on #5246
@Will5 We'll probably be able to migrate all versions but I can't confirm for definite yet.

There is an in progress discussion about mirroring old versions, but if that doesn't pan out we have a backup plan that will allow copying artifacts at least back to ExoPlayer 2.11.5, which is the earliest version where the IMA extension dependency is available in GMaven. (And if we can get older IMA SDK v

[2021-03-12 12:01] icbaker commented on #8710
Thanks for the report - can you please provide a manifest we can use to reproduce the issue?

Please either upload it here or send to dev.exoplayer@gmail.com using a subject in the format "Issue #1234" (where "#1234" should be replaced with this issue number.) Please also update this issue to indicate you’ve done this.

[2021-03-12 13:15] strangesource commented on #8710
I have send you an e-mail containing a manifest I used to reproduce the mentioned issue.

[2021-03-12 13:46] icbaker commented on #8710
Thanks for the manifest - I can reproduce that the message with `id=4` isn't logged with an `EventLogger`, while 0 - 3 are.

I'll dig deeper into what's going on here.

[2021-03-12 14:15] tonihei commented on #8701
This value is auto-generated by our gradle config. See https://github.com/google/ExoPlayer/blob/4364b9150f236813a2070fc79d3bcb76e11969ac/demos/main/build.gradle#L58

So if you copied `DemoUtil` to your project, you need a similar setup or just set the value to whatever you prefer.

[2021-03-12 14:17] tonihei commented on #8706
@ojw28 Could you take a look? You worked on #8588 originally, so I assume you have the most context.

[2021-03-12 14:18] tonihei commented on #8707
Closing, because there is no information at all in the issue.

[2021-03-12 14:18] #8707 closed, assigned to tonihei

[2021-03-12 14:30] tonihei commented on #8709
I can't reproduce this in the ExoPlayer demo app even when enabling R8 full mode.

Code shrinking issues depend a lot on which methods are used exactly by your app, so it would be helpful if you could upload a small example project that reproduces the issue.

Alternatively, it would also be helpful to see the `mapping.txt` file for your release build as it allows to resolve `e.j.a.c.z1.f` back to

[2021-03-12 14:53] tonihei commented on #8702
If this is an UAMP issue, you should probably file it in their issue tracker: https://github.com/android/uamp/issues

[2021-03-12 15:00] tonihei commented on #8708
Kim, could you take a look why the video samples are not shown? In works in other players like VLC, so there is definitely video data in the file, and ExoPlayer's event logger also detects it as AVC and claims it is supported.

[2021-03-12 15:16] tonihei commented on #8703
I can't see anything very unusual in the provided logs. The first video load takes about 6 seconds, the subsequent ones are all much faster. But all videos are seemingly immediately released once they become ready:

[code]

It's hard to tell whether there is something wrong with your integration, with ExoPlayer, the device, or whether everything is actually working as intended. Could you provide m

[2021-03-12 15:18] ChenGuanshu commented on #8688
Thanks @tonihei , your feedback is really helpful and I learn a lot from it!!

I think we would adopt the option of 2 players instances. Before that I spent a few days in learning the Mp3Extractor/MediaSource/AudiorRenderer and try to understand the root cause of the glitch. Here's what I observed
1. The extractor can't perform accurate seek even for CBR format. For a 44.1K mp3, an audio frame cou

[2021-03-12 15:19] ramabyg commented on #8705
hi, thank you for looking into this issue.
Attached is bugreport generated with `$ adb bugreport` just after playback failure.
[bugreport-sabrina_prod_stable-QTS2.200918.033-2021-03-12-07-09-52.zip](https://github.com/google/ExoPlayer/files/6130979/bugreport-sabrina_prod_stable-QTS2.200918.033-2021-03-12-07-09-52.zip)

[2021-03-12 15:30] tonihei commented on #8688
The frame drop logic can be quite complicated to follow without knowing all the details. It could be related to how seeks are handled (e.g. needing to decode from the previous keyframe), it could be related to a delay in the video renderer (e.g. if it needs to be flushed) or it could be a media issue where frame timestamps are not the ones we expect. If you have good reproduction steps with exampl

[2021-03-12 16:02] icbaker commented on #8705
Thanks for the BR, there's **a lot** of lines like this coming from the DRM module which are apparently errors but seem like they might actually be fine (the length varies on each line):

[code]

And then right before the Java playback error stack trace there's some other errors from the DRM/Widevine components that look like the probable cause:

[code]

@jt64 can you take a look from a Widevine p

[2021-03-12 16:32] ojw28 commented on #8706
I think you're in a much better position than we are to test this theory, since you can simply try before and after the change in your app where you did this.

As per the previous issue, if you're still able to reproduce this, please provide a minimal reproducible example, as source code, that demonstrates the problem.

[2021-03-12 16:34] #8702 closed, assigned to tonihei

[2021-03-12 16:36] icbaker commented on #8535
Closing due to inactivity.

[2021-03-12 16:36] #8535 closed, assigned to icbaker

[2021-03-12 16:36] icbaker commented on #8553
Closing due to inactivity.

[2021-03-12 16:36] #8553 closed, assigned to icbaker

[2021-03-12 16:42] darrinps commented on #8706
I can try to create a demo of sorts, but before I go to that extent, is it recommended to normally do what I ended up doing as a work around from the start?

In other words, should we, not just can we, explicitly mark the layout like this?

app:controller_layout_id="@layout/exo_playback_control_view"

That doesn't seem overly intrusive to ask of a developer and as long as it doesn't hurt anything,

[2021-03-12 16:52] ojw28 commented on #8706
Ah. I think your problem is actually that your layout file isn't being used at all, but perhaps this is not obvious because your application is crashing before you get to the point where you can see what the UI looks like :).

If your layout file is currently called `exo_playback_control_view.xml`, I think you need to rename it to `exo_player_control_view.xml`, and then things should work without

[2021-03-12 17:13] kim-vde commented on #8678
When a discontinuity occurs, it's hard to know by how much exactly to offset the samples following the discontinuity. In #6983, we make the first sample after a discontinuity start at the last adjusted sample timestamp (among all PIDs).

Something that might help is to make the first sample after a discontinuity start at the last sample timestamp of the same PID. You can do that by adding
[code]
i

[2021-03-12 17:34] kim-vde commented on #8708
The problem is that the stream does not contain any access unit delimiters. You should set FLAG_DETECT_ACCESS_UNITS, as indicated [here](https://exoplayer.dev/troubleshooting.html#why-do-some-mpeg-ts-files-fail-to-play).

[2021-03-12 17:41] mik0git commented on #8639
Grüezi @marcbaechinger / Hi everyone

We are seeing the same issue poisoning our Google play console stats since end of January.
Android version : 7-11
Android device split : Widespread of Vendors like top devices from Huawei and Samsung , no particular SoC affected.
We are using the Bitmovin player SDK. What about you @soldierinwhite ?

java.lang.IllegalStateException:
  at com.google.android.exo

[2021-03-12 18:14] marcbaechinger commented on #8639
Thanks for confirming you are seeing the same issue. I assume you don't have more information than the stack trace as you are seeing this on Play only? Would be great to be able to repro this.

The stack trace tells that the current windowUid has changed without being caused by an position discontinuity or a timeline change. As the assertion on line 1008/1006 tells, It's a bit unclear how this can

[2021-03-12 18:34] darrinps commented on #8706
That did it!!!!!

Thanks so much!

The tutorials I looked at were calling it by the old name. Hopefully this will help other people out!

[2021-03-12 18:34] #8706 closed, assigned to ojw28

[2021-03-12 18:49] souissihaythem commented on #8639
I got the same issue:

java.lang.IllegalStateException:
  at com.google.android.exoplayer2.ExoPlayerImpl.evaluateMediaItemTransitionReason (ExoPlayerImpl.java:1008)
  at com.google.android.exoplayer2.ExoPlayerImpl.updatePlaybackInfo (ExoPlayerImpl.java:944)
  at com.google.android.exoplayer2.ExoPlayerImpl.handlePlaybackInfo (ExoPlayerImpl.java:922)
  at com.google.android.exoplayer2.ExoPlayerImpl.

[2021-03-12 19:03] marcbaechinger commented on #8639
Any way to reproduce the problem is highly appreciated. So if you know when this happens like when preparing the player with media sources the first time, when stop/release is called or similar.

Are you using multiple threads in your application? Did you ever see a warning [`Player is accessed on the wrong thread`](https://exoplayer.dev/troubleshooting.html#what-do-player-is-accessed-on-the-wrong

[2021-03-12 23:53] ronak2121 commented on #8595
FYI I've learned much more about the upcoming SGAI specification from DASH-IF:

There's really two parts:

1. XLinks used to resolve ads for VOD usecases. And using xlink:actuate="onRequest" to delay ad resolution up to the latest point you can.
2. Patch Manifests for the live use case.

We are really looking for support for the first usecase here, and I saw this: https://github.com/google/ExoPlay

[2021-03-13 05:35] AndyYoung1004 commented on #8708
thank kim & tonihei,it works now

[2021-03-13 05:35] #8708 closed, assigned to kim-vde

[2021-03-13 20:33] hot1sp commented on #8703
Thank you for quickly responding.
We are making a live streaming app with the help of the ExoPlayer.
We are releasing the player after every zap and re-create it again.
The regular behavior is about 1-1.5 sec loading between zapping and sometimes we got 6 sec delay as you notice in the log,
It's happen in different channels also on channels that has been already loaded quickly.
this is our impleme

[2021-03-14 06:07] ckdrb7017 commented on #8684
the value of the url is "speech_start", same value but different result. there is no mistake I checked several times.

[2021-03-14 07:04] FrozenFreeFall opened #8711 "极米内推"
极米科技有限公司招聘各种技术岗位，后台，应用，系统，还有硬件等等.
想投简历的小伙伴发给我，我直接内推，欢迎各位加入极米这个大家庭；
以下面的格式，发到我的邮箱(hailong.qiu@xgimi.com)
姓名，手机，邮箱
推荐理由
简历

[详细的职位列表](https://github.com/FrozenFreeFall/Android-tv-widget/issues/12#issue-831077127)

[2021-03-14 08:12] AndreasVogelfrei opened #8712 "2.13.2 no call to AnalyticsListener.onAudioSessionIdChanged"
- ExoPlayer version number: 2.13.2 (using demo project)
- Android version: 11
- Android device: Xiaomi Mi A2

Using your demo project.
Playing: Misc -> Google Play (MP3)

Expected behavior:
 - AnalyticsListener.onAudioSessionIdChanged should be called when playing audio stream

Current behavior:
 - No call to AnalyticsListener.onAudioSessionIdChanged

Occurance rate:
 - 100%

Current workaround:

[2021-03-14 12:05] ojw28 commented on #8712
This is a deliberate change in behavior, as outlined in the 2.13.0 release notes:

In short, unless you change the session ID yourself, it will not change. You can query it immediately after building the player using `getAudioSessionId`.

[2021-03-14 12:05] #8712 closed, assigned to ojw28

[2021-03-14 12:17] gb103 opened #8713 "ANR due to IMA extension's call for AudioManager function specifically on Oppo device in Android 11"
We use IMA extension for audio, video and interstatial ads in our audio streaming app, facing an ANR specifically on Oppo A93 device with OS Android 11

**Steps :**
No clear reporduction steps, but it seems when IMA try to show some Ads into its webView then in shouldOverrideUrlLoading method of webView, it tries to call getStreamVolume function from android framework, which is causing this ANR.

[2021-03-14 15:04] pfyuan opened #8714 "srt subtitles are not supported"
hi
I encountered a problem that the subtitles of the srt link used to display subtitles are not displayed. srt is an http request.
  E.g： http://145.239.255.77/gtsubtitle/127%20Hours/English.srt

Code：
  Format textFormat = new Format.Builder()
                .setSampleMimeType(MimeTypes.APPLICATION_SUBRIP)
                .setSelectionFlags(C.SELECTION_FLAG_FORCED)
                .setLanguage("

[2021-03-14 19:14] ojw28 commented on #8586
Marking `needs more info`.

[2021-03-15 01:22] ramabyg commented on #8705
Hi,
We wanted to present another observation, it might help to analyze further this bug.
While trying to resolve a problem "Buffer too small" issue on Amazon Toshiba Fire TV, we observed that
"getCodecMaxInputSize" method in MediaCodecVideoRenderer.java gives "Format.NO_VALUE" for mime type VIDEO_DOLBY_VISION. So we added case to resolve "Buffer too small" issue as below
[code]

In above code when

[2021-03-15 02:13] KazukiSugiyama107 commented on #8691
Thank you for answering!

I'm sorry, but the device information was entered incorrectly.
This event occurred on Pixcel3a.

The only terminal that can be confirmed is Pixel, and the frequency of occurrence is 10 out of 10.
There are some terminals that occur and some that do not occur even with the same Pixel terminal.

[2021-03-15 06:02] donchummar opened #8715 "Issue when switching two surfaceview in sony bravia TV"
In my sample app i have feature to swap one full screen player and small PIP player above full screen player , when clicking on swap button i need to swap content each other. Each player is sitting in different fragment. When switching i am changing the constraint with animation ` TransitionManager.beginDelayedTransition(layout)`  . i am changing the `elevation` of fragment container to bring smal

[2021-03-15 08:43] arlimm318 opened #8716 "com.google.android.exoplayer2.ParserException: Loading finished before preparation is complete."
I encountered an exception while playing a TS segment.  But  VLC plays normally.
Why does the EXOPlayer exception occur?The ts  doesn't look wrong.

[cctv13.zip](https://github.com/google/ExoPlayer/files/6139909/cctv13.zip)

playerFailed [eventTime=0.85, mediaPos=0.00, window=0, period=0
      com.google.android.exoplayer2.ExoPlaybackException: Source error
        at com.google.android.exoplayer2

[2021-03-15 08:52] andrewsafwatsamuel commented on #8652
Reason: Context.startForegroundService() did not then call Service.startForeground(): ServiceRecord{b1f9fe0 u0 }
    Load: 0.02 / 0.03 / 0.06
    CPU usage from 0ms to 7830ms later (2021-03-15 10:50:58.515 to 2021-03-15 10:51:06.346) with 99% awake:
      56% 747/surfaceflinger: 41% user + 14% kernel / faults: 239 minor 3 major
      49% 11166/com.innovolve.iqraaly: 42% user + 7.4% kernel / faults

[2021-03-15 08:55] andrewsafwatsamuel commented on #8652
yes I am running the player from inside the service

[2021-03-15 08:56] andrewsafwatsamuel commented on #8652
[code]

[2021-03-15 10:46] andrewlewis commented on #8447
A fix has been submitted for this. I'll look out for the next IMA SDK update and hopefully we can get that into the next minor release.

[2021-03-15 11:07] tonihei commented on #8703
It still seems likely everything is working as intended. Whenever you start a new stream, there are a number of preperation steps before actual playback starts:
- Loading manifest. This adds at least one network round trip time.
- Loading DRM keys. Again, this requires one network round trip.
- Buffering sufficient media. This requires to buffer and extract at least X seconds worth of media for pl

[2021-03-15 11:20] tonihei commented on #8684
It's very unlikely that it is exactly the same value and still having a different effect. There is some auto-resolution of resource ids going on when building the code, so I assume it's something related to that. It might also be related to Proguard/R8 removing your resource if it thinks it 's not needed. So please make to test in debug mode without code shrinkage.

If the issue is indeed more abo

[2021-03-15 11:55] AquilesCanta commented on #8715
Thanks for the thorough description, and the repro steps.

 Everything seems to point at this being an issue with the sony device you are testing on.

The following steps I would suggest are:
- As a workaround for sony tv devices, is it acceptable for you to use Texture view?
- Report to the device manufacturer. I think we can help with this if you provide us with two videos captured on the device

[2021-03-15 12:02] AquilesCanta commented on #8715
Assigning @ojw28 for input on device-specific issues.

[2021-03-15 12:10] AquilesCanta commented on #8713
@andrewlewis, this seems like something we should either redirect to IMA, or the device manufacturer, but I'm not sure. Can you take a look?

[2021-03-15 12:13] AquilesCanta commented on #8714
Please share a full logcat, as requested in the issue template.

[2021-03-15 13:06] tdc-w commented on #8644
@tonihei
I have a question about how to use PlayerMessage.

mediaSource
[code]

player setup
[code]

I specified videoRenderer from renderers and called createMessage.
In this case, video2 will be displayed.
[code]

In this case, video1 will be displayed.
[code]

From the above behavior, I thought that it would be possible to switch videos by changing the renderer specification, but in this case n

[2021-03-15 13:48] adoudech commented on #8594
Thanks for the feedback. Will this issue be fixed on a future release of ExoPlayer? If so, how far down the line will that be?

BR,
Amir

[2021-03-15 13:50] AquilesCanta commented on #8716
The stream declares a track on PID 0x81 which is not present in the file:

[code]

There are no packets with PID 259. As a workaround you could implement a [TsPayloadReaderFactory](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/extractor/ts/TsPayloadReader.html) which is a thin wrapper around the [DefaultTsPayloadReaderFactory](https://exoplayer.dev/doc/reference/com/google/andr

[2021-03-15 14:14] FatmaZehraSolak opened #8717 "Now kWhatShutdownCompleted event : 8532"

[2021-03-15 14:32] tonihei commented on #8644
You probably need to set the actual surface with `setPayload` in the message. Not passing in the surface as payload means the video renderer detects that you want to clear the surface, that's why nothing is displayed. Please also have a look at the code of SimpleExoPlayer where this is done for the existing convenience methods:
https://github.com/google/ExoPlayer/blob/4364b9150f236813a2070fc79d3bc

[2021-03-15 14:42] priscila225 commented on #8447
Nice @andrewlewis because I'm seeing this a lot on the latest crashlytics reports which are bad for the company I work for

[2021-03-15 14:51] fgl27 commented on #8715
This is a related issue of https://github.com/google/ExoPlayer/issues/7999

Setting `setZOrderMediaOverlay` to false for the big view is recommended.

I didn't tested on that device, but I don't have any reports that it malfunctions on this app https://play.google.com/store/apps/details?id=com.fgl27.twitch and there is a lot of sony bravia devices using it.

Test it and let us know, the app uses l

[2021-03-15 15:17] szymonsc opened #8718 "IllegalArgumentException when switching the target PlayerView on Xiaomi MIBOX3 devices. Works when codecNeedsSetOutputSurfaceWorkaround set to true"
Issue description
-------------------------
When switching the target PlayerView the player stops playing with an IllegalArgumentException (similar to #4468/#6899/#8014/#8030).

**We applied the output surface workaround for this device and confirmed the issue has gone.
Please include a new device model for the output surface workaround.**

[code]

Reproduction steps
-------------------------
- Cr

[2021-03-15 15:26] kpandroid commented on #8557
@christosts just checked the example https://user-images.githubusercontent.com/56880093/107639207-db851100-6c70-11eb-8136-8ab86debf609.mp4 and new ExoPlayer 2.13.2.
See the attached logcat please:
[logcat.txt](https://github.com/google/ExoPlayer/files/6142483/logcat.txt)

most interesting lines are:

2021-03-15 16:19:40.544 26707-27062/com.google.android.exoplayer2.demo D/CCodecConfig: config fail

[2021-03-15 15:51] pfyuan opened #8719 "srt subtitles are not supported"
hi
I encountered a problem that the subtitles of the srt link used to display subtitles are not displayed. srt is an http request.
E.g： http://145.239.255.77/gtsubtitle/127%20Hours/English.srt

Code：
[code]
EventLogger is shown in the log below,(log)

[code]

Log display supports but does not display subtitles

[2021-03-15 15:52] pfyuan commented on #8714
2021-03-15 23:47:04.089 14183-14183/com.dhv3.kgq W/AudioManager: Use of stream types is deprecated for operations other than volume control
2021-03-15 23:47:04.089 14183-14183/com.dhv3.kgq W/AudioManager: See the documentation of requestAudioFocus() for what to use instead with android.media.AudioAttributes to qualify your playback use case
2021-03-15 23:47:04.173 14183-14183/com.dhv3.kgq I/Choreo

[2021-03-15 15:53] pfyuan commented on #8714
@AquilesCanta
Complete log

[2021-03-15 16:24] andrewsafwatsamuel commented on #8652
I tried to reproduce that issue and removed the call to service.stopForeground() the crash didn't occur and the player notification did not respond just frozen on pause icon and did not pause the player

[2021-03-15 16:44] kpandroid commented on #8557
Here it the bugreport for moved the remote mp4 test https://user-images.githubusercontent.com/56880093/107639207-db851100-6c70-11eb-8136-8ab86debf609.mp4 to "asset:///test.mp4

[bugreport-sabrina_prod_stable-QTS2.200918.033-2021-03-15-17-39-44.zip](https://github.com/google/ExoPlayer/files/6143054/bugreport-sabrina_prod_stable-QTS2.200918.033-2021-03-15-17-39-44.zip)

[2021-03-15 19:04] tanhan commented on #8604
Thanks 👍

[2021-03-15 19:21] #8704 closed, assigned to icbaker

[2021-03-15 19:22] #8372 closed, assigned to ojw28

[2021-03-15 20:59] dturner opened #8721 "Following the instructions for "Hello world!" results in multidex error"
If you follow the [Hello world! instructions](https://exoplayer.dev/hello-world.html) to add ExoPlayer to a new empty project in Android Studio you will receive the following error:

```Cannot fit requested classes in a single dex file (# methods: 72119 > 65536)```

It appears that adding ExoPlayer pushes the APK over the dex method limit.

Steps to reproduce
- Create a new "empty activity" projec

[2021-03-15 22:57] donchummar commented on #8715
we are moving all the contents to drm protected asset with multiview so we eventually have to move to surfaceview

attached video of how it behaves

this video is recored with adb but for some reason  this video not showing the issue as actually visible in tv
https://user-images.githubusercontent.com/6000288/111228043-ad13a080-8637-11eb-9849-7971e5f57022.mp4

so i have recorded video with my mobil

[2021-03-15 23:45] fgl27 commented on #8715
Sorry I didn't look at yours code, just the info from first post.

Very unfortunately and unexpected result, yes the HW codec seems to be the issue, didn't expect it on Android 9 maybe they are using very old codec libraries that they have ported from an old Android version, as I only see this type of issue on Android 7 and bellow that maybe the case.

Unfortunately no device seems to be properly

[2021-03-16 00:15] donchummar commented on #8715
Thanks for the update
Another thing i found is which ever surface is rendered second is showing above other even if we set `setZOrderMediaOverlay ` to false

Even i have seen noticeable frame-drops with `textureview` , so that can not be fix
So how do i go about this to next level, do you report this to sony from your side or do i need to contact them. ?

[2021-03-16 01:04] #8497 closed, assigned to ojw28

[2021-03-16 01:06] tdc-w commented on #8644
Thank you for advice.
I don't understand the processing around the payload, so I will try it by checking the SimpleExoPlayer code.

[2021-03-16 01:28] rrfrias commented on #8037
@nishantkp , we would like your permission to share the bugreport with Samsung. Can you please let us know?

I assume these devices are not connected to an external display. Also an app+test stream will be helpful, if possible.

[2021-03-16 01:36] fgl27 commented on #8715
I'm just a user of ExoPlayer trying to help as this is something that affect one of my projects, once the developers responsible for  ExoPlayer have all the info and is determined that the manufacturer of the device need to take a look they will inform and reply back to you on what can be done.

Two sample of that here https://github.com/google/ExoPlayer/issues/8427 and https://github.com/google/E

[2021-03-16 02:44] ryanheise opened #8722 "Low latency AudioProcessor"
I'm trying to build an audio processor to adjust the left/right stereo volumes independently in real time. Currently I've observed a 500ms lag from the time I move the volume slider to the time it takes effect. This is the same lag observed when adjusting speed/pitch via sonic.

When trying to lower ExoPlayer's `targetBufferBytes` size, the audio processors will not work unless there is at least 5

[2021-03-16 04:30] GhostFlying opened #8723 "Player.getCurrentPosition() returns much larger than expected"
The version:

[code]

The way to reproduce:

1. use the repo https://github.com/jbochi/hls-loop to serve or use http://hls-loop.appspot.com/variant.m3u8 as source
2. playback like this
[code]

3. then print mPlayer.getCurrentPosition every seconds, then u can see the cur position  do not start from 0
![image](https://user-images.githubusercontent.com/4019569/111254674-844bd500-8650-11eb-91be-da02d

[2021-03-16 05:48] GhostFlying commented on #8723
After dig into the source code, I found that the currentPosition minus the window.defaultPositionMs seems the value with the same meaning of MediaPlayer.

But it seems misleading? Or it should be well-documented.

[2021-03-16 08:47] GhostFlying commented on #8723
After more experiments, both MediaPlayer and Exo tried to catch up the newest part of the hls playlist, but the MediaPlayer make sure the currentPosition is start from 0 but Exo's currentPosition seems the actually position in current window.

[2021-03-16 09:01] ckdrb7017 commented on #8684
Thanks for your help. The cause was Proguard/R8. I'll be careful for asking issue.

[2021-03-16 09:14] #8684 closed, assigned to tonihei

[2021-03-16 11:17] AquilesCanta commented on #8717
Hi! Please provide complete information as requested in the issue template. The issue template can
be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md).
If you're unable to share [bug reports](https://developer.android.com/studio/debug/bug-report) or
test content publicly, please send them to dev.exoplayer@gmail.com using a subject in the format
"Issue

[2021-03-16 11:20] AquilesCanta commented on #8718
Can you please provide a bugreport shortly after reproducing the issue, as required by the issue template. You can capture a bugreport by running `adb bugreport`. [Internal ref: cl/363152330].

[2021-03-16 13:41] josraigreen opened #8724 "How can I seek to the end of VOD content?"
I'm implementing an app which plays VOD content, and one of requirement is to seek to the end of content for skipping advertisement based on user configuration.

This can be done very easily using **seek** API on exoplayer on the exoplayer version 2.9.4 which I'm currently using on my app.
However, I'm working on upgrading exoplayer version to 2.12.3, and I encountered issue on this version.

I co

[2021-03-16 14:07] #8717 closed, assigned to AquilesCanta

[2021-03-16 14:33] ChenGuanshu commented on #8688
Sure thing. My reproduction is based on an old version used in our App. I will try with a latest release and see if it's still an issue. Will let you know when I get a free cycle for this. Thank you!

[2021-03-16 15:50] hot1sp commented on #8703
Thanks for the detailed information.
We are familiar with some of the points that you mention.
We will try some new techniques and update what's worked for us.

[2021-03-16 15:53] hantrungkien commented on #8723
@GhostFlying I'm also confused at same case. After Exo throw BLWE then I call seekToDefaultPosition() and prepare() again but like the below image. I'm not really understood.

![photo_2021-03-13_17-25-03](https://user-images.githubusercontent.com/20286370/111338705-b8071900-86a9-11eb-8aa1-cd9e78b16609.jpg)

[2021-03-16 16:29] hantrungkien commented on #8675
@tonihei I'm also facing this issue. After Exo throws the BLWE then I call seekToDefaultPosition() and prepare() again but like the below image, currentDuration needs decrease to 0 to be able to continue resume live. So I have workarounded by setMediaSource() and call prepare() again but with this way the screen is blinking black. I expect resumable Exo with smooth way, is it possible?

![photo_20

[2021-03-16 16:37] krocard commented on #8594
ExoPlayer currently relies on on the timestamp matching on both side of the decoder. Removing this assumption is a pretty significant change. The current fix is to compensate for the only known codec having such discrepancy:

https://github.com/google/ExoPlayer/blob/b1000940eaec9e1202d9abf341a48a58b728053f/library/core/src/main/java/com/google/android/exoplayer2/mediacodec/MediaCodecRenderer.java#

[2021-03-16 17:37] manjusha221 opened #8725 "using `Surface` mode with `ImageReader` returns dequeueBuffer: BufferQueue has been abandoned"
Hi Team,
I want to get frames from video while playing, As mentioned in issue
https://github.com/google/ExoPlayer/issues/7167

I tried with imagereader.getsurface() set to  player.setVideoSurface(mReaderSurface), video is not rendering and I see the error

" E/BufferQueueProducer: [ImageReader-1x1f23m1-8731-1] queueBuffer: BufferQueue(0x7f774a0b00) has been abandoned"

Can you please look into it,

[2021-03-16 17:53] AquilesCanta commented on #8723
When the playlist does not specify the start position, the player will start from as close as possible to the live edge, while still following the [spec](https://tools.ietf.org/html/draft-pantos-http-live-streaming-23#section-6.3.3).

getCurrentPosition returns the position in the sliding window. You can make ExoPlayer start from 0 if you want by using an [EXT-X-START](https://tools.ietf.org/html/

[2021-03-16 22:26] Bradleycorn opened #8726 "Clicking on player covers all other content on screen"
**Issue**
If you have a `StyledPlayerView` with  `height=wrap_content` that is shown "inline" with other views, the Player takes over the entire screen whenever the controls are displayed, and does not honor the `wrap_content` height.  See below for a link to a github repo that contains a demo app that can be used to reproduce the issue

**URI to test content for reproduction**
Video URL: "https:/

[2021-03-17 01:04] rrfrias commented on #8691
Thanks for that information. This failure is happening within the Trusted Execution Environment. We are following up with Qualcomm.

[2021-03-17 01:48] AndyYoung1004 opened #8727 "request support wav format using offload method to render audio"
as far as I know, the latest exo version supports audio offload output, however,
only mp3 and aac are supported currently, can we support wav ? Android MediaPlayer
now currently supports wav format using offload

[2021-03-17 03:11] GhostFlying commented on #8723
I have understood the behavior and so the same interface getCurrentPosition means different behavior with MediaPlayer in this situation, right?

[2021-03-17 04:21] huozhezhazha opened #8728 "The call to defaultAudioLink.flush causes OutOfMemory"
If we release more than one ExoPlayer, it will cause the DefaultAudioLink.flush () to be called and create many threads, sometimes causing OutOfMemory，Can you use a thread pool instead?

**The source code is as follows**

      new Thread("ExoPlayer:AudioTrackReleaseThread") {
        @Override
        public void run() {
          try {
            toRelease.flush();
            toRelease.release

[2021-03-17 05:24] miniesahni1 opened #8729 "Drop frame during rendering"
I am using ExoPlayer for playback in our application. I am facing an issue when rendering pipeline takes more time while applying effects which leads to frame drop.
If the frame is rendering the "onFrameAvailable" method is not called for the second frame.
I need a suggestion here, what is an ideal way to handle dropped frame in case rendering is taking more time than expected during playback.

[2021-03-17 08:22] pvishnyakov commented on #8560
I have compared 2 apps with one difference - SurfaceView vs. PlayerView.

The issue described above appears in **SurfaceView** option with HLS 4K stream and TV screen refresh rate adjusted to match the video frame rate. If TV refresh rate is not matching video frame rate, playback is not smooth for FMP4 and HLS streams of all resolutions.

In the app with **PlayerView**, MP4 streams are playing sm

[2021-03-17 08:38] huseyinunified commented on #8593
Hi @christosts

We have some inconsistent outputs from our tests. Could you please answer the questions below which will be very useful to continue investigating?

- Multiple sample entries are allowed so why is this a problem for Exoplayer? Also, why is it only occur with older devices? (We both tested that Pixel 3A works just fine.)

- We don't see any error before the app goes back to the main

[2021-03-17 09:00] AbdoulMDiscovery commented on #8695
@aSLmolly were you able to solve this issue? I am currently facing the same issue.

[2021-03-17 09:27] Lewiy opened #8730 "Bottom controls is invisible on video but clickable"
In our project we use videos from camera mp4 format and also convert audio with picture in the same format mp4.
Example of converted audio - https://cdn1.cander-dev.com/media/videos/2021/03/16/12afed58-65e5-477d-9c74-7b7a3152271e.mp4
All players work correct with this video but ExoPlayer hide controls. It is invisible but clicable.
Normal videos from camera work fine. See screenshots
This is bug o

[2021-03-17 11:26] andrewlewis commented on #8729
Does the information in #7439 help?

[2021-03-17 11:56] AquilesCanta commented on #8719
Please don't file duplicate issues. Duplicate of #8714.

[2021-03-17 11:56] #8719 closed, assigned to AquilesCanta

[2021-03-17 12:03] AquilesCanta commented on #8714
I've just tried this in the demo app and works without any special modifications.
- Because it's HTTP, you'll need to enable [cleartext traffic](https://exoplayer.dev/troubleshooting.html#fixing-cleartext-http-traffic-not-permitted-errors).
- Are you using the default track selector or a custom track selector?
- Please try replacing the SELECTION_FLAG_FORCED with SELECTION_FLAG_DEFAULT.
- If the a

[2021-03-17 12:05] AquilesCanta commented on #8722
@krocard mind taking a look at  this?

[2021-03-17 12:18] AquilesCanta commented on #8724
Hi @tonihei, mind taking a look at this as part of [Internal ref: cl/300133655]?

[2021-03-17 12:34] AquilesCanta commented on #8723
Yes. MediaPlayer doesn't support seeking in a live window as far as I am aware, so the playback position is only telling you how long playback has been going on (as far as I'm aware). ExoPlayer's getCurrentPosition is documented as:

Which is in line with what the seeking functionality does (seeking in the window).

[2021-03-17 12:34] #8723 closed, assigned to AquilesCanta

[2021-03-17 13:09] coffee3689 opened #8731 "Can't play video without audio for DASH"
this is the demo:

[code]

[2021-03-17 13:37] AquilesCanta commented on #8730
Impossible to know with the given info. Please clarify:
- What ExoPlayer version are you using?
  - Note: If it's not the latest version, please try the latest version.
- Can you reproduce the issue in the ExoPlayer demo app?
  - If you cannot reproduce in the ExoPlayer demo app, can you build a [minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-example) for us to r

[2021-03-17 13:48] tonihei commented on #8724
If media is played in a playlist, the position at `mediaStartTimeUs + mediaDurationUs` already corresponds to position `0` in the next item in a playlist. So the last possible timestamp in the current media item is `mediaStartTimeUs + mediaDurationUs - 1`.

Practically speaking, this `-1` shouldn't make a difference at all because there shouldn't be any samples in the media with a timestamps `>= d

[2021-03-17 14:07] anishpsla opened #8732 "Jagged playback on real devices"
I am developing a streaming application using Exoplayer (Xamarin Android). The playback quality is excellent in emulator. But in real devices like Android STB and Mobiles, the quality is not good. The picture is not sharp. Edges look like saw tooth. I am stuck with the problem. Please help.

[2021-03-17 17:16] krocard commented on #8722
The easiest way to achieve low latency audio manipulation is to have the platform audio server apply them, not doing it in ExoPlayer.

If you are just trying to adjust the gain of stereo audio,[`AudioTrack.setStereoVolume`](https://developer.android.com/reference/android/media/AudioTrack#setStereoVolume(float,%20float)) might work. Note however that this method is deprecated and only work for two

[2021-03-17 17:21] lavara123 opened #8733 "jpg image in some chunk of HLS and ExoPlayer's HLS extractor can't play that jpg which triggers error?"
When reporting a bug:
-------------------------
server returning jpg image in some chunk of HLS and ExoPlayer's HLS extractor can't play that jpg which triggers error.

- Test URL:
  - https://v3.xmurowchickrro.tk/m8/DzylYycuoJShoTSlYxWuqTyxLF5CozAyYyIjo24hDF5HnJ1yYxyhYyEbMF5KMKA0YwR5AwthZGN4ZUNhEUIuoNd0zxrT11pz93L2ucL2glpz8hqTfs0xi3vr1

**Error:**
<img width="1659" alt="111504684-33b7a300-8748-11

[2021-03-17 17:35] krocard commented on #8722
If the default speed pitch latency is an issue, you can enable [`DefaultRenderersFactory.setEnableAudioTrackPlaybackParams`](https://github.com/google/ExoPlayer/blob/b1000940eaec9e1202d9abf341a48a58b728053f/library/core/src/main/java/com/google/android/exoplayer2/DefaultRenderersFactory.java#L266-L284) to thave the platform audio server make the speed/pitch adjustments. It should get rid of virtua

[2021-03-17 17:37] krocard commented on #8722
What do you mean by "not work"? Does the audio track fails to be created or are you hearing underruns?

[2021-03-17 18:25] AlienAsRoger commented on #8447
@fpitters looks like IMA SDK team has release a fix for the NPE crash https://developers.google.com/interactive-media-ads/docs/sdks/android/client-side/history
We will try to see if it's fixes our issue in production which is identical to your report.

[2021-03-17 20:04] mik0git commented on #8639
Thanks @marcbaechinger, we don't have duplication scenario yet, WIP. We will investigate your suggestions about Multiple Theads and will report back by end of the week.

[2021-03-17 20:42] krocard commented on #8594
Looking into the emulator codec config, it is clear that the `c2` decoders are alias to `OMX`.

The config is the same for all Emulated Pixel 3 XL API 29 & 30 and real Pixel 3 XL API 29 and 30:
[code]

Nevertheless on API 29 on the emulator, when querying `MediaCodecInfo` the canonical name of `OMX.google.mp3.decode` is returned not `c2.android.mp3.decoder` as expected. As a result it is not recog

[2021-03-18 01:50] ryanheise commented on #8722
This is the error I got:

[code]

Looking through the source, I see this in `DefaultLoadControl`:

[code]

which I guess partially answers the question of where that limit is coming from.

Then in `ExoPlayerImplInternal` there is this:

[code]

From what I've read, it may not be supported anymore on some devices, so I can't use it.

This isn't necessarily my issue, I mentioned it only since it see

[2021-03-18 07:43] pfyuan commented on #8714
Okay, thank you very much, it has been solved under your guidance @AquilesCanta

[2021-03-18 08:13] nguyenthanhduy91 opened #8734 "Can't play audio for HLS"
I have link audio https://storage.googleapis.com/as-piepme/1465/livestream/1465.fef238cdc9d9eb0b958d4eb23080e28b/index.m3u8 but I can't play above link, I have tested in Exoplayer demo and it return "source error". Could all you help me?

[2021-03-18 10:06] jcblancomartinez commented on #6168
@OmarBasem Can you please change the title of the issue to "[ExoPlayer] Error loading more than one video in some devices"?

Thanks.

[2021-03-18 10:22] AquilesCanta commented on #8731
What's the issue specifically here? Please fill all sections [in the issue template](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md).

[2021-03-18 10:31] AquilesCanta commented on #8732
There's nothing actionable for us with the given information. This doesn't seem related to ExoPlayer. I would advise that you contact the manufacturers of the devices presenting the issues. It would also be a good idea to try your media on the ExoPlayer demo app to check whether you observe the same issues. If you are able to gather evidence pointing at this being an ExoPlayer issue, please fill t

[2021-03-18 10:31] #8732 closed, assigned to AquilesCanta

[2021-03-18 10:38] rrfrias commented on #8695
@AbdoulMDiscovery you can send a bugreport to dev.exoplayer@gmail.com to have us investigate. It might be better to create a separate issue.

[2021-03-18 11:03] AquilesCanta commented on #8714
Awesome

[2021-03-18 11:03] #8714 closed, assigned to AquilesCanta

[2021-03-18 11:04] AquilesCanta commented on #8714
It would be great if you could leave a comment describing what fixed your issue exactly, for future readers.

[2021-03-18 11:34] AquilesCanta commented on #8733
Thanks for reporting. A fix will be available soon. Next time please make sure you fill the entire issue template that appears when you are going to post the issue.

[2021-03-18 11:47] AquilesCanta commented on #8727
Hey @krocard, mind taking a look?

[2021-03-18 12:12] #8730 closed, assigned to AquilesCanta

[2021-03-18 12:28] AquilesCanta commented on #8725
I don't think there's evidence enough to assume the pasted line has anything to do with the issue you are observing.

Please provide complete information as requested in the issue template. The issue template can
be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md).
If you're unable to share [bug reports](https://developer.android.com/studio/debug/bug-

[2021-03-18 13:28] krocard commented on #8722
The platform audio framework also uses the Sonic library (the C++ version). You should get the same audio as using ExoPlayer.

I think you are confusing 2 different buffers in the playback pipeline. Here is a greatly simplified model of the audio playback data pipeline:

`
network stack -[Network buffer]-> Extractor -[SampleQueue]-> decoder -[PreProcessorBuffer]-> AudioProcessors -[PostProcessorBu

[2021-03-18 14:01] krocard commented on #8727
The central part of Audio offload is that the audio played is compressed. The hardware is responsible for decompressing it. This allows much bigger buffer between the processor and the DSP, which mean less wakups and less work, which mean less power usage. Read my offload design document for more detail: https://docs.google.com/document/d/1r6wi6OtJUaI1QU8QLrLJTZieQBFTN1fyBK4U_PoPp3g

WAV is a cont

[2021-03-18 14:01] #8727 closed, assigned to krocard

[2021-03-19 00:19] AlienAsRoger commented on #8447
That update did not resolve the issue, we are still seeing this crash:
[code]

[2021-03-19 01:04] #8601 closed, assigned to christosts

[2021-03-19 03:43] whatisor opened #8735 "OMX-VDEC-1080P is reported while playing 4K video"
Logcat log info which contains TAG OMX-VDEC-1080P while playing 4K video.

Sample:
"2021-03-19 11:06:26.303 838-6455/? E/OMX-VDEC-1080P: [Vidc_PNP]video playback fps:22"

Why is it always 1080P decoder TAG?
Is there something wrong with the configuration?

[2021-03-19 06:17] priyanshu2405 opened #8736 "Start 360* video from device center position (90*)"
I'm developing an app which has an requirement that whenever a 360d video starts in exoplayer it should start from
center position irrespective of device position.
After integrating exoplayer, I'm able to run 360d videos with motion movement but every time video starts from
random positions means it is dependent on device position.
As mentioned above I want to play video from center and for that I

[2021-03-19 06:35] manjusha221 commented on #8725
Hi @AquilesCanta ,
Im attaching the surface of imagereader to exoplayer surface as follows

[code]

when I tried to play the video, Im getting following error.

[code]

[2021-03-19 07:01] yoobi commented on #8452
Thanks @kgrevehagen I've managed to create the change without reloading the application

[2021-03-19 07:43] gb103 commented on #8713
@andrewlewis any update ?

[2021-03-19 09:23] GyanendroKh opened #8737 "Seeking problem in AES encrypted HLS video."
m3u8 file: [https://files-eu-d3.nextstream.org/stream/0001/1e884422fe4ee523f3f83d559d6a85ca4d4d1282376386c2470d6840c7e26352/uwu.m3u8](https://files-eu-d3.nextstream.org/stream/0001/1e884422fe4ee523f3f83d559d6a85ca4d4d1282376386c2470d6840c7e26352/uwu.m3u8)

The file should be requested with `Referer: https://kwik.cx/` header.

I can play the video with no problem at all. But when seeking to a locat

[2021-03-19 10:12] AquilesCanta commented on #8736
@andrewlewis, can you help here?

[2021-03-19 10:32] #8656 closed, assigned to tonihei

[2021-03-19 10:35] AquilesCanta commented on #8725
The size of the image reader (1,1) looks suspicious for starters.

However, debugging this is not something we have bandwidth for. If you have any evidence pointing at this being an ExoPlayer issue, or you are able to narrow down what the issue in your app is, we may be able to help. It may also make sense to post your question in a general Q&A site like StackOverflow.

[2021-03-19 10:35] #8725 closed, assigned to AquilesCanta

[2021-03-19 10:38] AquilesCanta commented on #8737
@christosts, mind taking a look?

[2021-03-19 11:24] PoghosyanRoman opened #8738 "Interlaced hls with bt470bg in video"
Hello, i try to play some interlaced hls lives  with exoplayer, them have different codecs. Both h264/acc but some have  yuv420p(tv, bt470bg, top first) some is  yuv420p(tv, , top first).
The streams who have  yuv420p(tv, top first) playing normal , streams  yuv420p(tv,bt470bg, top first) stuck on buffering.
is it normal ?

[2021-03-19 12:11] andrewlewis commented on #8447
@AlienAsRoger This crash looks like it has a different cause to the others based on the stack trace. Did you see an increase in this recently, or was it present on older versions too? The cause appears to be that [BitmapFactory.decodeStream](https://developer.android.com/reference/android/graphics/BitmapFactory#decodeStream(java.io.InputStream)) is returning `null` for the companion ad URL.

[2021-03-19 12:24] andrewlewis commented on #8735
I'm pretty sure this logging is there for legacy reasons and is expected regardless of the input resolution. It doesn't imply there is anything wrong with the configuration and you can ignore it.

[2021-03-19 12:24] #8735 closed, assigned to andrewlewis

[2021-03-19 14:05] wangear commented on #8734
As I analyzed, AdtsExtractor must play. But it didn't play. Because the method of "AdtsExtractor.sniff" return false.

[2021-03-19 15:26] christosts commented on #8593
The problem is not with  ExoPlayer but with the software decoder which could not decode the specific content provided to us. This situation should not happen on a device because _in most cases_ the player will pick up the device's hardware decoder and not the software decoder.

There is no error because the decoder or the platform do not raise any error to the player. The player does not have a me

[2021-03-19 16:42] anthonylawson commented on #8639
We were seeing this very crash in our apps and we did find a few locations where the ExoPlayer was being accessed on the wrong thread. Fixing those issues resolved this crash from occurring.

[2021-03-19 17:15] andrewlewis commented on #8736
I don't think this is supported out of the box. Your best bet is probably to fork the spherical code and implement the behavior you need (for example, by modifying `OrientationListener` to undo the initial rotation, so it outputs relative orientation).

I'll mark this as a low priority enhancement. I'm afraid it's unlikely we will get round to adding this functionality any time soon.

[2021-03-19 17:24] nishantkp commented on #8037
Hi, @rrfrias Yes, you can share bug reports with Samsung. Meanwhile, I will work on getting the test app + stream.

Devices are not connected to an external display.

[2021-03-19 17:28] andrewlewis commented on #8713
I have reported this to Oppo [internal: b/183210694] so they can investigate if there's a bug in `OppoBaseAudioManager`. Do you have any other information about the affected build number or even better a full bug report taken just after hitting the error?

[2021-03-19 17:34] christosts commented on #8557
Thank you @kpandroid. If it's not too much trouble, can you repeat the same and play locally the 4K dolby vision video?
http://sylvan.apple.com/Aerials/2x/Videos/DB_D008_C010_4K_HDR_HEVC.mov

If it still crashes, can you upload a bug-report too

[2021-03-19 18:00] christosts commented on #8560
We cannot reproduce locally, maybe you can do some debugging steps on your side
1. The adjusted speed is set [here](https://github.com/google/ExoPlayer/blob/r2.13.2/library/core/src/main/java/com/google/android/exoplayer2/ExoPlayerImplInternal.java#L885). You can hardcode `adjustedSpeed ` for example to `1.03` (add a log line inside the if-block below to verify the speed is updated)
2. In [this me

[2021-03-19 18:45] AquilesCanta commented on #8734
The issue here is identical to #4918. The issue includes instructions on how to work around this issue.

[2021-03-19 18:45] #8734 closed, assigned to AquilesCanta

[2021-03-19 18:47] AquilesCanta commented on #8726
@ojw28, can you take a look at this or re-triage?

[2021-03-19 18:57] AquilesCanta commented on #8728
@andrewlewis, I was about to send a CL to allow the user inject an Executor to which the release task is passed (and the default implementation just creates a new thread), but perhaps I'm missing something obvious here (like a better solution).

[2021-03-19 19:10] AquilesCanta commented on #8738
No, and interlacing (and all video compression details) is almost surely completely unrelated to buffering. If you want us to assist with this, please provide the information required in the [issue template](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md).

[2021-03-19 19:11] nishantkp commented on #8037
@rrfrias I have sent an email for app + test content.

ExoPlayer version used is 2.13.2 (build is from release-v2 branch).

[2021-03-19 21:14] andrewlewis commented on #8728
@huozhezhazha How many players are being released at the same time when you see this error? Is the device already in a low memory situation? It would be useful if you could give details about how to reproduce the error. I wonder if there's a way you can reuse players to avoid the condition that triggers this error arising in the first place.

Is the idea that the app would inject a single-threaded

[2021-03-19 21:28] appstronautstudios opened #8739 "How to resolve intermittent IndexOutOfBoundsException?"
## Crash details

In rare instances our app will crash due to an **IndexOutOfBoundsException**. We have never been able to reproduce this locally and from the Android crash report it is very rare to affect a user more than once and only affects a small portion of our userbase. If affects users on a wide range of supported versions (**crashes found on SDK 26-30**). The stacktrace is as follows:

[c

[2021-03-19 22:59] dummy-amit opened #8740 "Very slow seeking compared to android's native media player."
I am trying to seek locally available video using Exo Player, to my surprise seeking is extremely slow.
I understand how MP4 works and how seeking is slow because of dependency of frames decoding on key frames, but exact same file when played using media player can be seeked very smoothly (almost at frame level)

Attaching comparison video for reference.

1st video shows seeking of exo player
http

[2021-03-19 23:01] dummy-amit commented on #8740
https://user-images.githubusercontent.com/49638809/111850011-11cf4380-8935-11eb-8f1b-797faa02f740.mp4

Attaching video used for showing demo of seeking if it helps.

[2021-03-19 23:16] vfutia opened #8741 "DRM screen capture blocking not working on Android 7.0"
Our team has setup DRM protection for videos and playback in ExoPlayer.  Everything works as expected in our tests with the exception of Android 7.0 (and possibly below but can't verify).  We observe that while DRM playback and license key download works as expected, users are able to capture the screen both through the default OS screen capture as well as through third party video capture apps.

[2021-03-19 23:17] adamkoch commented on #8473
I am also seeing similar error in a production Flutter app that uses the [`video_player`](https://pub.dev/packages/video_player) package (the `chewie` flutter package uses `video_player` as well).

I see a number of crashes in Crashlytics, almost always Samsung devices like Samsung A11.

Unfortunately Flutter itself (or Crashlytics in Flutter) doesn't seem to capture much additional info, it sends

[2021-03-20 05:54] plitaev commented on #8689
I solved the problem using the dataSpec.withUri method in ResolvingDataSource.Factory

Build is here: https://github.com/plitaev/ExoPlayerHlsWithCustomTsPath

In PlayerActivity: https://github.com/plitaev/ExoPlayerHlsWithCustomTsPath/blob/master/app/src/main/java/plita/me/exoplayerhlswithcustomtspath/PlayerActivity.java

[2021-03-20 11:38] PoghosyanRoman commented on #8738
player init by :

Player is last 2.13.2
Android 9
stb based on amlogic  s905w

[code]

at this time the stream  have parametrs
Input #0, mpegts, from 'http://10.100.100.9:8888/ngw.ts':
  Duration: N/A, start: 90621.328378, bitrate: N/A
  Program 19116
    Metadata:
      service_name    :
      service_provider:
    Stream #0:0[0xdd](rus): Audio: aac (LC) ([15][0][0][0] / 0x000F), 48000 Hz, stereo

[2021-03-20 13:00] saurabhchalke opened #8742 "Custom UI Texts/Animation Overlay on the PlayerView"
I have a use case wherein I am trying to overlay text/animation views based on the current timestamp of the video frame on the screen.
As per the docs, I have come across the PlayerControlView, I wanted to know if I can include my custom UI views in there?
Also, is this the most efficient way to accomplish my use case (as opposed to having a StackView, listening to the current timestamp and updati

[2021-03-20 15:57] nihk opened #8743 "Clear PlayerView/PlayerViewController references from ExoPlayerImpl"
### [REQUIRED] Use case description
I want to be able to use a class to persist a Player instance across configuration changes. The androidx ViewModel is a good candidate to do that. Unfortunately, Player subclasses like ExoPlayerImpl hold strong references to PlayerView/PlayerViewController via the latter classes non-static, inner ComponentListener classes that get added to the Player during Play

[2021-03-20 18:46] nihk commented on #8743
Never mind, the issue appeared to be in the client code. PlayerView.setPlayer(null) does unsubscribe its listeners, I was just calling that method too late.

[2021-03-20 18:46] #8743 closed, assigned to andrewlewis

[2021-03-21 08:18] mik0git commented on #8639
Thanks for your feedback @anthonylawson , very helpful.

[2021-03-21 13:33] ujjwalagrawal17 commented on #8449
Hi,

Multiple users in our production app were facing the same issue.

**Crash Logs:**

[code]

Link to relevant stackoverflow answer: https://stackoverflow.com/a/58693882/5627216

**Relevant Code:**

[code]

[2021-03-21 13:34] ujjwalagrawal17 commented on #8449
@lcf87 can you reopen this issue ?

[2021-03-21 17:08] icbaker commented on #8741
Does the license you're using require Widevine L1 or also allow L3?

Does this reproduce with the Widevine samples in the [demo app](https://exoplayer.dev/demo-application.html) (e.g. [`Widevine GTS policy tests > HW secure all (L1)`](https://github.com/google/ExoPlayer/blob/r2.12.1/demos/main/src/main/assets/media.exolist.json#L55)? If so, can you please provide a bug report taken after screen-ca

[2021-03-22 01:04] #8605 closed, assigned to christosts

[2021-03-22 02:31] KazukiSugiyama107 commented on #8691
I'm sorry, the reply was delayed.
Thank you for the survey.

In conclusion, is it okay to recognize that this issue is the same as #8655?

[2021-03-22 03:43] saurabh-wynk commented on #8037
We have also started facing a similar issue on Samsung Note 20 Ultra.

CryptoException --> MediaCodecVideoRenderer error, index=0, format=Format(p0va0br250000, null, null, video/avc, avc1.42c015, 250000, null, [426, 240, 25.0], [-1, -1]), format_supported=YES

[2021-03-22 04:13] gb103 commented on #8713
It seems not be device specific now, got the same ANR in other devices as well,

<details>
<summary>Traces</summary>

[code]
</details>

[2021-03-22 07:27] BucherTomas commented on #8373
@rrfrias Is there any progress in your ideas how to solve this situation in the future? Thank you.

[2021-03-22 07:42] ag2s20150909 commented on #5246
https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter/

[2021-03-22 07:46] ag2s20150909 opened #8745 "exoplayer-ui-2.12.1.aar contains references to both AndroidX and old support library."
WARNING: [Processor] Library 'C:\Users\XXX\.gradle\caches\modules-2\files-2.1\com.google.android.exoplayer\exoplayer-ui\2.12.1\6b33e4f62e15ece19b04fbb9747434267b45e02f\exoplayer-ui-2.12.1.aar' contains references to both AndroidX and old support library. This seems like the library is partially migrated. Jetifier will try to rewrite the library anyway.
 Example of androidX reference: 'androidx/cor

[2021-03-22 08:15] rrfrias commented on #8373
We have made some progress but we do not have an update at this time. If the user does not have offline licenses, reprovisioning might help. There is [no API for that yet](https://github.com/google/ExoPlayer/issues/8039). Will update when we something actionable.

[2021-03-22 08:24] rrfrias commented on #8037
@nishantkp Thanks! I have shared the app, test content and logcat with Samsung. Will let you know what they find.

@saurabh-wynk Can you send a bugreport or logcat to dev.exoplayer@gmail.com and let us know if we have your permission to share it with Samsung?

[2021-03-22 08:28] rrfrias commented on #8691
@KazukiSugiyama107 #8655 is a separate issue. We are trying to get Qualcomm's attention to look at this issue.

[2021-03-22 08:47] andrewlewis commented on #8745
Duplicate of #8580

[2021-03-22 08:47] #8745 closed, assigned to andrewlewis

[2021-03-22 08:54] andrewlewis commented on #8713
@gb103 Are you able to get a full bug report after seeing the ANR? If you only see this via crash reporting, is there any other trace information available, or statistics about the affected device(s)/builds or Android versions? I think the provided traces don't include the other side of the binder call so we can't see what is stuck.

[2021-03-22 09:01] andrewlewis commented on #8713
Also, if this is from crash reporting, could you give us an idea of how prevalent the issue is (like percentage of sessions affected)? Thanks.

[2021-03-22 09:12] anishpsla commented on #8732
Thankyou for the quick reply. I solve the issue by adding relatively low quality output ffmpeg encoding command to the existing command for creation of HLS from UDP multicast stream.

`-c:v libx264 -preset ultrafast -profile:v high -crf 20  -c:a aac`

Now picture in sharp and have good viewing experience. The source and result streams are still x264.

[2021-03-22 10:16] andrewlewis commented on #8742
Rather than `PlayerControlView` you probably want the containing `PlayerView`. There is an overlay frame layout provided for convenience, which you can get via `StyledPlayerView.getOverlayFrameLayout` or `PlayerView.getOverlayFrameLayout`.

I'm afraid I can't help regarding `StackView` -- a general-purpose question/answer site is a better place to ask about that.

In terms of how to accomplish thi

[2021-03-22 10:16] #8742 closed, assigned to andrewlewis

[2021-03-22 10:23] AquilesCanta commented on #8738
The provided uri http://10.100.100.9:8888/ngw/index.m3u8 is not accessible to me. It's a [reserved IP](https://en.wikipedia.org/wiki/Reserved_IP_addresses). Please provide a link to the content which is publicly available.

EDIT: Also,  `TsExtractor.TS_STREAM_TYPE_AAC_ADTS`  is not a valid value to pass to `setTsExtractorMode()`.

[2021-03-22 10:32] PoghosyanRoman commented on #8738
try this : http://91.205.196.11:8888/ngw/index.m3u8
i open it tempoary

[2021-03-22 10:38] andrewlewis commented on #8739
Given the issue is very rare I guess it won't be practical for us to try and reproduce the error. Looking at the code, is it possible that representations are being removed from the DASH manifest? I think that would generally require switching to a new period.

@ojw28 Please could you take a look?

[2021-03-22 10:40] PoghosyanRoman commented on #8738
EDIT: Also, TsExtractor.TS_STREAM_TYPE_AAC_ADTS is not a valid value to pass to setTsExtractorMode().
added as try. whithout it not playing too

[2021-03-22 11:20] AquilesCanta commented on #8738
I'm able to access `http://91.205.196.11:8888/ngw/index.m3u8`. However, neither a segment as a standalone file, or the HLS version of the media have "stuck in buffering" issues. Both versions succeed in starting playback. Can you:
- Provide a static file (i.e. something that's not changing like a live stream) that reproduces the issue directly? (Note: You provided a link to a live stream, which me

[2021-03-22 11:50] pvishnyakov commented on #8560
I’ve made it using Demo app and the streams that have this issue.
Stream frame rate = 25 fps;
TV screen refresh rate = 50 fps;
Adjusted speed = 1.03 (hardcoded);

Ouput is generated with this code (called from the method you’ve recommended above)
[code]

Presentation time advance is 40000 microseconds - correspond to 25 fps, ok;
Release time advance is 40000000 nanoseconds - **does not correspond

[2021-03-22 12:52] marcbaechinger commented on #8652
The information provided gives not much evidence on something going wrong on the player side. Can you narrow down your question a bit on why you think it's a problem on ExoPlayer side?

It looks like that your app is not calling start/stopForeground correctly. Can you review the code that is calling these methods? If you want us to give you some feedback you should provide some more info about whe

[2021-03-22 12:54] #8664 closed, assigned to marcbaechinger

[2021-03-22 13:08] andrewlewis commented on #8740
There are some suggestions in #6794, in particular avoiding having the UI issue a seek when there is one already 'pending' and pausing the player when scrubbing.

[2021-03-22 13:08] andrewlewis commented on #8740
Please could you try those suggestions and let us know if it makes a difference?

[2021-03-22 13:46] PoghosyanRoman commented on #8738
how init the player then it play normal ? i show a part of code on my side , and it not play this live

[2021-03-22 15:32] saurabh-wynk commented on #8037
@rrfrias This error has been reported by the prod user and we have captured this log from our analytics pipeline, so currently we don't have the entire stack trace. Once it gets reproduced internally, or we have any detailed logs, I will share that with you.

[2021-03-22 15:58] AquilesCanta commented on #8738
I don't understand the question. Are you passing DefaultTsPayloadReaderFactory.FLAG_ALLOW_NON_IDR_KEYFRAMES to your `DefaultHlsExtractorFactory`?

The flag you need to set should be passed to this [DefaultHlsExtractorFactory constructor](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/source/hls/DefaultHlsExtractorFactory.html#%3Cinit%3E(int,boolean)). You need to pass the create

[2021-03-22 18:40] josraigreen commented on #8724
Sorry for very late response.

I have custom scheduler to check the current playhead position every 250 mili-seconds.
Main task for this schedular is to skip advert session. Problem happens with processing post roll.
In general, post roll starts from 15 ~ 30 seconds from the real end of the content.

When I seek to the end, seeking request looks taking time (a few seconds).
During this time,

Last

[2021-03-22 19:33] NathanSass opened #8746 "MostRecentlyUsedCacheEvictor?"
Hello,

I am currently using the `LeastRecentlyUsedCacheEvictor` for our playback cache. Exoplayer currently does not provide an MRU cache as an alternative. I am wondering if an MRU cache would be most appropriate for audio playback applications. I would think we would want to prioritize caching content the user has not heard yet. Skipping back 10 - 30 seconds is a common use case, I think this w

[2021-03-22 19:42] stari4ek commented on #8679
I am getting it also after updating to r2.13.2 (from v2.12.3)

[code]

All logs I checked in Crashlytics which has this exception are the same and does not have any other oddities except shorter window. Obfuscated callstrack in the log is the same as above:
[code]

it looks like it tries to use chunk index based on old (larger) window.

[2021-03-22 20:01] vfutia commented on #8741
We are only using Widevine L3

Installing the app on our 7.0 device consistently results in crash on startup.

[code]