[2016-07-06 22:30] PooriaFarhad opened #1655 "Enabling bitrate selective feature"
Hello,

Is there any way to add bitrate selective feature for playing HLS video?
Users should be able to change the quality of the video but I didn't find any related information in the documentations.

Thanks

[2016-07-07 05:51] Bhavin20290 commented on #420
Hello
I am play mp4 video using exoplayer ExtractorRendererBuilder. that works fine.
But, when i am play video offline using okhttp , its not work.
i am stuck for that part for last week.
please any one help me out?
any sample or else?

Thanks :)

[2016-07-07 05:53] eneim commented on #420
Hm, why do you need okhttp to play it **offline**?

[2016-07-07 05:54] Bhavin20290 commented on #420
any other option?

[2016-07-07 05:56] Bhavin20290 commented on #420
i play video from server like live streaming .
So, first timw video play online and after that buffer store in cache file
and video play offline from cache

So, for this any other option?

[2016-07-07 06:04] kinsleykajiva commented on #420
@Bhavin20290  hey how are you able to play or stream okhttp ...can you share your source code project please because i have been trying to do that especially with mp4 file streams.

[2016-07-07 06:23] Bhavin20290 commented on #420
Ya ofcourse i have shared my code
But the problem is cache didn't work

[2016-07-07 06:26] Bhavin20290 commented on #420
@eneim Can u give me solution?

[2016-07-07 06:27] eneim commented on #420
@Bhavin20290 not really, I just want to know why you play offline file by an http client. Turns out you use 'same Renderer' for your file.

[2016-07-07 06:45] Bhavin20290 commented on #420
Ya i understand your question, that is my mistake.
I have want to solution for this that how i pay video from cache file using exoplayer  ExtractorRendererBuilder?

[2016-07-07 07:19] madhurkapadia opened #1656 "State problem with multiple player instances"
I have two exoplayer instance in which one i'm playing content and particular adpoints i'm playing advertise but when i am trying multiple MID ads exo player doesn't play the ad videos, it goes to PREPARING STATE and doesnt reach BUFFERING or END STATE, it happens after playing 2 ads repeatedly on 3rd AD and it gives below error:

[code]

[2016-07-07 07:25] andrewlewis commented on #1656
The stack trace is likely unrelated (see #426).

More information is needed to diagnose this. Can you reproduce the failure to complete preparation when playing the same media in the demo app? Please attach a bug report or send it to dev.exoplayer@gmail.com.

[2016-07-07 08:58] Bhavin20290 commented on #420
@eneim
Sorry for bothering mate , But i was stuck for last week and project was delay.
i have liberate once again , i have created exoplayer to play 160MB mp4 video and play streaming. now client requirement was video streaming one time after that video store from cache file and play from it. that was offline.

So my problem was play video that's fine , but didn't create cache for that and don't p

[2016-07-07 11:04] dobrusev commented on #1341
Hello guys,

I had to enforce the L3 Security Level for  [Lenovo Yoga Tab 3 8.0 ](http://www.gsmarena.com/lenovo_yoga_tab_3_8_0-7642.php) as well.
As a result I can play video content but the playback is not smooth, playback is stuttery. In logs I can see that there are dropped frames. Might this be the issue for the stuttery playback and why there are frames dropped in first place during playback

[2016-07-07 11:48] ojw28 commented on #1646
Yes, this should be addressed in V2.

[2016-07-07 11:52] ojw28 commented on #1652
What actual device is this, and who's it made by? I can't seem to find any conclusive answer by searching for "xo4".

[2016-07-07 11:53] ojw28 commented on #1630
This is not supported currently.

[2016-07-07 11:53] #1630 closed, assigned to nobody

[2016-07-07 11:55] ojw28 commented on #1600
Closing since we do not officially support ICY. As per @cyberjaime45 above, there exist pretty trivial solutions to make it work if you wish to do so.

[2016-07-07 11:55] #1600 closed, assigned to nobody

[2016-07-07 11:58] ojw28 commented on #1622
There's no obvious reason why this wouldn't work, but I don't think I've ever seen a SmoothStream/Widevine sample to know exactly what the manifest and chunks should look like.

@wvpaf - Do we have any sample streams?

[2016-07-07 12:13] narayanaraoR opened #1657 "Switching streams takes time for short videos (10s) even on good quality network"
Hi,

I have developed an app that records and plays short videos (10 secs max).
But what I have noticed is even for very good network speeds (50mbps) it takes atleast 12 secs before switching to a better quality stream (see the log below) which doesn't work for me as my videos are only 10s long. Even the demo player bahaves in the same manner, switching only after 12s. The minDurationForQualityInc

[2016-07-07 19:57] LukeLinXu opened #1658 "mp4 with EIA-608, close caption not showing.."
I used the demo to play it, also change the text render in ExtractorSampleSource.java to Eia608TrackRenderer, but still not luck.

The Text button not showing means, exoplayer identify it as 0 track.

I have uploaded on my website.
http://www.lalalala.ca/Android_Rock.mp4

By the way, I used MediaInfo to confirm it has EIA-608 cc, and iOS device can show it well.

Thanks,
Luke

[2016-07-07 20:22] Bhavin20290 commented on #420
Hello
I import exoplayer okhttp_http_datasource project and caching video.
But, i didn't create any cache file.
i get D/CacheMonitorInterceptor: response cache: null

Please Help me out

[2016-07-07 21:07] zsmatyas commented on #1658
Your content is:
Format                                   : MPEG-4
Format profile                        : Base Media
Codec ID                                 : isom
Overall bit rate mode                    : Variable
Format                                   : AVC
Format/Info                              : Advanced Video Codec
Format profile                           : Baseline@L3.0

On the **2.x

[2016-07-08 03:24] sanmall opened #1659 "When applying an MP4 edit list, preroll and skip samples from a keyframe to the start of an edit"
video recorded from ios can not play in front of a few seconds, but the audio is ok.

[2016-07-08 03:25] sanmall commented on #1659
eg：http://biubiustorage.oss-cn-shenzhen.aliyuncs.com/a7/dc/a7dc023ba53fccb5ded0be16f936266cbca10ac15e202aaa8eee30b1b8e0d048.mp4

[2016-07-08 03:28] sanmall commented on #1659
@ojw28

[2016-07-08 08:31] powerqian commented on #377
Hi @andrewlewis , I'm wondering why not adding HTC One S, which is the original issue reporter's device here https://github.com/google/ExoPlayer/issues/377#issuecomment-90798548, to the device checking list?

The Util.DEVICE is `villec2` on the device. Without adding it, ExoPlayer fails to play the MP3.

[2016-07-08 09:43] AquilesCanta commented on #1658
What @zsmatyas says is correct. We can use this issue to track Mp4 + CEA subtitles support. The clcp handler type is also a concern, but I am sure we can add it to the list of supported handlers as an alternative to "subt". However, it will most definitely be added to version 2.

[2016-07-08 09:46] sooth-sayer opened #1660 "Unable to playback hls stream"
Hi,

I use exoplayer to play hls live stream
(http://rt-sth-rd-htlive-lb.cdn.ngenix.net/hls/CH_R03_OTT_STH_RD_1TV/variant.m3u8).
But the playback state never switches from buffering to ready.
To reproduce the problem I use exoplayer demo app. (r1.5.9)

I tried to playback this on next device models:
- Asus ZenFone2 (5.0)
- Sony Xperia Z (5.1.1)
- Nexus 5X (6.0.1)

ffplay plays this stream without

[2016-07-08 11:33] ojw28 commented on #1652
We need more information to know that the workaround you've provided is the correct one. Please provide the fingerprint as mentioned by @andrewlewis above, and also a link to the device in question.

[2016-07-08 12:05] ojw28 commented on #377
We'll get that one added to the list, thanks!

[2016-07-08 12:55] Bhavin20290 commented on #420
#42footPaul
Hello Mate,
I show your question mate, i have same problem
I streaming video and meanwhile video store in cache
using exoplayer okhtto_htttp_docs  not sloved this

If u got your answer , than please share with me.
I am stuck on that part

[2016-07-08 14:05] nahojkap opened #1661 "Support fragmented MP4 + CENC with HLS"
Hi,

What are the plans to support fragmented MP4 (to allow content sharing between for example DASH and HLS) as per [1] ?  Sample link at [2]

Thanks,

Johan

[1] https://bitmovin.com/hls-news-wwdc-2016/
[2] https://tungsten.aaplimg.com/VOD/bipbop_adv_fmp4_example/v1/prog_index.m3u8

[2016-07-08 14:16] nahojkap opened #1662 "Plans to support CENC encryption with HLS"
Hi,

What are the plans to support CENC encryption with HLS as per [1]?

Thanks,

Johan

[1] https://bitmovin.com/hls-news-wwdc-2016/

[2016-07-08 14:33] ojw28 commented on #1662
Rolling into #1661, since the two will probably be handled together.

[2016-07-08 14:33] #1662 closed, assigned to nobody

[2016-07-08 14:40] ojw28 commented on #1661
This is on our radar and we'll use this issue to track the feature. We don't have a concrete plan at the moment, but we'd like to provide support. We're not yet decided on exactly what level of support we'll provide (e.g. we may opt to support only demuxed media chunks, as we do for DASH and SmoothStreaming).

We'd also hope that the majority of streaming providers will be able to serve DASH manif

[2016-07-08 14:44] nahojkap commented on #1661
Ok, thanks for the quick response.

Johan

[2016-07-08 15:00] LukeLinXu commented on #1658
@zsmatyas @AquilesCanta Thanks guys.

[2016-07-09 18:29] dolar2006 opened #1664 "autostart"
how to prevent autostart? (disable)

[2016-07-09 21:01] giladna commented on #548
Happens on Galaxy S4 and Galaxy Tab3 too

[2016-07-11 03:28] biezhihua opened #1665 "How to provide a local Key to HLS for decrypting"
Hi:

My is developer from china.
I have searched a list of questions, but did not find what I want.

How to provide a local Key to HLS for decrypting.

I found HlsChunkSourcel class newEncryptionKeyChunk method provides for decrypting the block, which by default is downloaded from the network key.

I want to use ByteArrayDataSource to provide a local Key, but I found newEncryptionKeyChunk is a pri

[2016-07-11 03:31] biezhihua commented on #1665
My English is very bad, please forgive me

[2016-07-11 06:10] SagarRaiyani opened #1666 "cookies issue in android"
Hello,

I have use the exoPlayer for akamai video play and i have getting one issue. I have play video in player  but the player is not play video and after some times (Ex 40 to 50 sec) i retry button pressed the player is working good. so Please give me solution for this issue.

<--------------error log------------>
com.google.android.exoplayer.upstream.HttpDataSource$InvalidResponseCodeException

[2016-07-11 07:11] giladna opened #1667 "dev-2.X.X-experimental DemoApp save last position is broken"
Hi,

in PlayerActivity.java

--> The call to player.setSourceProvider(sourceProvider);
      will cancel the seek operation of: player.seekTo(playerPosition);

[code]

you can see this happens if you lock the phone while playing and it will start from the position 0 instead of last position onResume

[2016-07-11 09:00] AquilesCanta commented on #1664
You mean something like setting playWhenReady as false?

[2016-07-11 11:26] andrewlewis commented on #1666
The server is returning HTTP status code 403 (Forbidden). Please check the server is configured correctly. Does the stream play in other players?

[2016-07-11 11:29] ojw28 commented on #1666
https://github.com/google/ExoPlayer/issues/625 may also be relevant.

[2016-07-11 12:04] MostafaDavodi commented on #1447
i have the sample problem when i want to stream .ogg file .
latest version of your repository is 1.5.9 , what version i should use to play a ogg file ?
my sample code :

        exoPlayer = ExoPlayer.Factory.newInstance(1);

//        String url = "http://nuo9.48349.com:808/playlist/dXBSb2fkLndpA2ltZWRpYs5vcmcvd2lrAXBlZGlhL2NvbW1vbnMvdHJhbnNjb2RlZC9iL2JiL1Rlc3RFb2dnX21wM180OGticHMUd2f2L1Rlc3RFb2dn

[2016-07-11 13:21] giladna commented on #1667
I just wonder which operation from the init process the call to player.setSourceProvider(sourceProvider);
may break too.

[2016-07-11 13:42] marcinOz opened #1669 "sound hickup when changing to other stream on Samsung S7 EDGE"
As in title sound hickup/deformation when changing to other stream or changing video quality on Samsung S7 EDGE. Visible in demo app eg. "Widevine Dash Policy Tests (GTS)"

Logs:
[logs.txt](https://github.com/google/ExoPlayer/files/357183/logs.txt)

[2016-07-11 16:49] Kisty opened #1670 "How to generate a thumbnail?"
ExoPlayer: 1.5.9

Am trying to make a video thumbnail from Android framewoork's ThumbnailUtils.createVideoThumbnail() but it doesn't support mp4v-es2 format. Am using ExoPlayer to show the video so is there an API to generate one? If not how would I go about doing it? I'd like to show multiple clips and I did notice the multiple ExoPlayer instances limitation (4 currently). Could I use one ExoPlay

[2016-07-11 19:15] aravinds03 commented on #1635
Yes, the code is modified. It is fixed in the code and also I upgraded the lib to 1.5.9

[2016-07-11 19:17] ChernyshovYuriy commented on #1494
Dear colleagues,
What is version number for this fix?
I use version 1.5.9 and side load WebVTT text tracks. It works well with simple *.vtt file with appropriate text format inside.
However, it doesn't with *.m3u8 based text track file.
Format of the *.m3u8 file is:

[code]

Format of the *.vtt file is:

[code]

ExoPlayer fails to parse such text with:

[code]

I am building SampleSource implement

[2016-07-11 19:22] tentkotta commented on #1635
Yes, the code is modified. I reverted the code changes and  upgraded the lib to 1.5.9 to resolve this issue.

[2016-07-11 19:22] #1635 closed, assigned to nobody

[2016-07-11 19:38] natez0r commented on #676
@ojw28 any idea when we can expect to be able to use `FormatEvaluator` for HLS? Is there a timetable for V2?

[2016-07-11 20:10] ChernyshovYuriy commented on #1494
Forget to mention, content has MPEG DASH format.
In general, is there acceptable to have m3u8 text source for a MPEG DASH stream?

[2016-07-12 05:41] vishnuchd opened #1671 "unable to maintain aspect ratio"
hello  i am using ExoPlayer in my app ,but i unable to maintain aspect ratio of video  , My xml code is

![device-2016-07-12-110911](https://cloud.githubusercontent.com/assets/9019494/16756208/401f7a16-4821-11e6-8daa-9038473a8a0d.png)
<?xml version="1.0" encoding="utf-8"?>
<FrameLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"

[2016-07-12 06:00] vishnuchd commented on #1671
i got the solution by using this ,thanks
    @Override
    public void onVideoSizeChanged(int width, int height, int unappliedRotationDegrees,
                                   float pixelWidthAspectRatio) {
        mVideoFrame.setAspectRatio(height==0 ? 1:(width*pixelWidthAspectRatio)/height);

[code]

[2016-07-12 06:00] #1671 closed, assigned to nobody

[2016-07-12 07:09] andrewlewis commented on #1670
For capturing the current frame, see #418.

You can reuse the player by calling stop, seekTo and prepare, passing renderers reading the new source. Note that there are some caveats to using more than one platform video decoder at a time; see #1286.

[2016-07-12 07:09] #1670 closed, assigned to nobody

[2016-07-12 07:28] KelvinJin opened #1672 "Anyway to access the underlying AudioTrack object that the MediaCodecAudioTrackRenderer uses?"
I have a use case where I need to register periodic callbacks along with the playback. I know that you can achieve this by using `setPlaybackPositionUpdateListener` on the AudioTrack object. So I wonder whether this is possible when I use `MediaCodecAudioTrackRenderer`. (I did look at the code and realised that the audioTrack property is private...)

[2016-07-12 08:26] AlaeddineOuerteni commented on #1370
Hello @ojw28,
I'm getting the same error when I try to play a DRM content not yet full downloaded but it's ready to be played (Some chunks have already been downloaded).

[2016-07-12 08:28] ElioTohm opened #1673 "MediaCodecAudioTrackRenderer doesn't support AC3 audio codec"
using ExtractorRendererBuilder class as an example any media with audio codec AC3 will throw the STATE_ENDED

[2016-07-12 08:44] AquilesCanta commented on #1494
@ChernyshovYuriy The issue with your approach is that you are trying to parse a m3u8 with a WebvttParser, therefore the error "Expected WEBVTT. Got #EXT3MU". This is unrelated to this thread. It is not a good idea to use a closed issue either, as it could easiliy get ignored. If you still don't manage to solve this, please open a new issue providing all the information requested in the issue templ

[2016-07-12 08:47] andrewlewis commented on #1673
If the device has a decoder for AC-3 MediaCodecAudioTrackRenderer will use it, but few devices support this.

MediaCodecAudioTrackRenderer also supports passthrough of AC-3 audio if the device is running Android Lollipop (or later) and is connected to a receiver via HDMI. See also #722.

[2016-07-12 08:48] #1673 closed, assigned to andrewlewis

[2016-07-13 02:19] powerqian commented on #377
Hi @ojw28 thanks for the quick follow up. May I ask when will the next version which includes this fix be released?

[2016-07-13 02:49] ChernyshovYuriy commented on #1494
Hi,
Thanks for response.
Yes, I realized that this is purely server side issue.

[2016-07-13 07:40] jiafei1986 commented on #1028
@Matthew-C , actually it is a tricky way i did, i open a player when a download a video to get key, but i wrap the player activity as a progressbar,  then i will close the activity once get the drm token,
it looks a  normal progress bar to user.
in the StreamingDrmSessionManager , there is a EventListener

`
 public interface EventListener {

   /**
- Invoked after method provideKeyResponse() to s

[2016-07-13 07:40] teokw90 opened #1674 "Streaming not smoothly (DRM-Widewine)"
I am using exo player (version 1.5.4) for my application. But I found that streaming not smoothly when i try to stream certain content with DRM (widewine) in the following device model:
- Samsung Galaxy Tab S2 8.0
- Sony Xperia XA

May I know any solution when we facing similar issue?

[2016-07-13 09:06] trolik commented on #1660
Same bug for me

[2016-07-13 09:38] ojw28 commented on #1674
There was a Sony specific performance issue for Sony devices running Android 5.1.1, so if your Xperia is running that version of Android this could be the problem. As far as I'm aware, they fixed it in more recent OS updates. See https://github.com/google/ExoPlayer/issues/816 for details.

I'm not sure about the Tab. You haven't provided sufficient information, as is requested in the issue templat

[2016-07-13 10:59] AquilesCanta commented on #1658
This feature will be available soon, in the next v2 release.

[2016-07-13 11:54] peyoh opened #1675 "Some manifests crashed the player"
Hello,
some live profile MPD files  throws IndexOutOfBoundsException in the player.
They are generated from shaka packager ( edash packager) project
https://github.com/google/shaka-packager.
I've sent links to the dev email.
I'm new in the player's code and I'm still unable to track this issue.

[2016-07-13 13:26] peyoh commented on #1675
Hello,
I've opened a question in shacka packager [#122](https://github.com/google/shaka-packager/issues/122), because I see something strange in the manifest files.

[2016-07-13 13:50] ojw28 commented on #1675
I think the manifest is most likely valid according to the DASH spec. The segments aren't aligned, but the `AdaptationSet` doesn't indicate that they are aligned (i.e. `segmentAlignment=true` is not set on the `AdaptationSet`).

ExoPlayer requires segment alignment, which is why you're seeing the failure. I believe DASH-IF IOP also has this same requirement, which in turn implies shaka-packager sh

[2016-07-13 17:42] sharkhuang commented on #1632
@ojw28  what is the time-frame for 2.x release?

[2016-07-13 17:56] ojw28 commented on #1632
When it's ready. Note however that there's already a [dev branch](https://github.com/google/ExoPlayer/tree/dev-2.X.X-experimental) that you can play around with, and it already features some [Playlist samples](https://github.com/google/ExoPlayer/blob/dev-2.X.X-experimental/demo/src/main/assets/sample_media.exolist.json#L335) that demonstrate seamlessly transitioning from one piece of media to anot

[2016-07-13 20:30] sharkhuang commented on #1632
Thanks a lot. Works well.

[2016-07-14 13:50] peyoh commented on #1675
Hi,
I' think this is a duplicate issue of [#1049](https://github.com/google/ExoPlayer/issues/1049)

[2016-07-14 14:27] #1675 closed, assigned to nobody

[2016-07-14 16:11] alphaDroid89 opened #1676 "How can i remove notification bar display."
Hi, How can i show/Hide notification panel display of a the
![device-2016-07-14-222914](https://cloud.githubusercontent.com/assets/1718991/16848282/ad90127a-4a12-11e6-8677-088c701eed79.png)
 player.

[2016-07-14 16:38] AquilesCanta commented on #1676
I'd suggest trying a general programming Q&A. We avoid answering these kind of queries in the issue tracker.

[2016-07-14 16:38] #1676 closed, assigned to nobody

[2016-07-14 16:40] AquilesCanta commented on #1676
Courtesy of @andrewlewis:
https://developer.android.com/training/system-ui/status.html

[2016-07-14 17:02] alphaDroid89 commented on #1676
@AquilesCanta : sorry, can you please refer my update. I don't need to show while playing video/audio.

[2016-07-14 17:10] AquilesCanta commented on #1676
I am sorry but I don't quite understand what I have to see in the provided screenshot. Even with more information, as I said before, it is not the purpose of this issue tracker to debug apps from users. Unfortunately, unless you have a bug to report or a feature request, we cannot help you as this is not exoplayer specific.

[2016-07-15 08:37] GoranNSW opened #1677 "MPEG TS trackCount doesn't read all tracks"
Hi,

I'm using DemoPlayer for playing MPEG TS stream but I'm unable to find a way to search for all available tracks. TrackCount always returns one track for video, and one for audio although there are more audio tracks or subtitle tracks. Also, DVB subtitle tracks are not recognized at all.

Is there a way to use TsExtractor class to list all tracks by their PID's and display their description?

[2016-07-15 09:24] AquilesCanta commented on #1677
I will look into this, could you also provide a link or a file to reproduce the issue? If you'd rather not make it public, please send it to dev.exoplayer@gmail.com

[2016-07-15 10:09] pvllnspk commented on #799
Faced the same problem on my Nexus 5 while showing an ad video, seems like the problem with losing focus

[2016-07-15 10:21] GoranNSW commented on #1677
I can't post files here so I sent you an email with samples.
Thank you in advance.

[2016-07-15 15:06] ojw28 commented on #1672
Please see: https://github.com/google/ExoPlayer/issues/280

[2016-07-15 15:06] #1672 closed, assigned to nobody

[2016-07-15 15:13] ojw28 commented on #1664
Playback is started only if `setPlayWhenReady(true)` is called on the player (which happens [here](https://github.com/google/ExoPlayer/blob/master/demo/src/main/java/com/google/android/exoplayer/demo/PlayerActivity.java#L371) in the ExoPlayer demo app). If you don't this behavior, simply don't make that call.

[2016-07-15 15:13] #1664 closed, assigned to nobody

[2016-07-15 15:14] ojw28 commented on #1665
This is not something we support, so you'll have to take ExoPlayer as source and modify it to your needs if you want to do this.

[2016-07-15 15:14] #1665 closed, assigned to nobody

[2016-07-15 15:16] ojw28 commented on #1660
The link provided gives me a 403 (forbidden) http response. Is it still active? If it is, is it geo-restricted somehow in a way that means we can't access it from the UK? Can you provide a working link that we can reproduce the issue with? Thanks!

[2016-07-15 16:19] andrewlewis commented on #1654
The stream seems to have one IDR frame at the start, so when playing it starting an some offset (rather than the beginning) we never see an IDR frame, and no frames are output as a result. I don't think we have a simple way to add support for this stream, and it seems like a fairly niche use case.

To make this sort of stream play in ExoPlayer, you can either (1) add IDR frames to the stream (thei

[2016-07-15 16:19] #1654 closed, assigned to nobody

[2016-07-15 17:00] duanyao commented on #1654
I had tried option (2), but it seems android MediaCodec can't decode such h.264 data (at least not on my devices). Finally I also added ffmpeg's h.264 decoder to ffmpeg-extension and successfully made such stream playable in ExoPlayer. It seems partially-refreshed frames at the start are already dropt by ffmpeg's decoder. Would you like to take a PR?

[2016-07-15 17:09] andrewlewis commented on #1654
I think MediaCodec will handle this stream fine if you could find a way to queue an IDR frame before the predicted frames. You could try queuing a hard-coded blank IDR frame at the correct resolution before the sample data. You would still need to drop partially-refreshed frames.

What pull request did you have in mind? I think we wouldn't want to make non-trivial changes to support this because i

[2016-07-15 17:35] duanyao commented on #1654
The change to H264Reader.java is trivial, just enable `allowNonIdrKeyframes` and set `BUFFER_FLAG_KEY_FRAME` for all samples, see below.
Most of the work is adding the ffmpeg decoder and a VideoTrackRenderer. Anyway this is an extension, users don't have to include it.

[code]

[2016-07-16 05:08] mingchen opened #1678 "[dev-2.X.X-experimental] seekTo only seek in the last file if there are multiple files in playlist."
**Version:**
branch dev-2.X.X-experimental commit dbb43567a33a6cb3cb511a76c21d26f8d72ee8fe

**Android OS:**
Nexus 5 Android 6.0

**Description:**
I have multiple video files in a playlist and play it well, however when I call seekTo(0), I expected this should be play from the very beginning of first file, however it only seek to the very beginning of the last file.

[2016-07-16 13:50] andrewlewis commented on #1678
You can specify the period (playlist item) to seek to if you use [seekTo(int periodIndex, long positionMs)](https://github.com/google/ExoPlayer/blob/dev-2.X.X-experimental/library/src/main/java/com/google/android/exoplayer2/ExoPlayer.java#L293). For example, to seek back to the start of the first period you can call seekTo(0, 0). The other variant of seekTo seeks relative to the start of the curre

[2016-07-16 13:51] #1678 closed, assigned to nobody

[2016-07-17 07:43] mohammed-najeeb commented on #1615
Does exoplayer run adaptive bitrate for smil file

[2016-07-18 04:05] mingchen commented on #1678
Thank you. Good to know there is a new API.

[2016-07-18 07:11] Samyak81 opened #1679 "Override forward and rewind button of Tv remote"
How can I override forward and rewind button of tv remote. as i can not override tv remote controls.

[2016-07-18 07:12] Samyak81 opened #1680 "Implement Custom video Control"
Can you please give me example of how can i use custom videocontrol UI

[2016-07-18 07:57] andrewlewis commented on #1679
The KeyCompatibleMediaController in [PlayerActivity.java](https://github.com/google/ExoPlayer/blob/master/demo/src/main/java/com/google/android/exoplayer/demo/PlayerActivity.java#L728) should handle fast forward and rewind. Hopefully you can use that as a starting point.

[2016-07-18 07:57] #1679 closed, assigned to nobody

[2016-07-18 08:07] andrewlewis commented on #1680
This question does not really relate to ExoPlayer, so it's outside the scope of this issue tracker. I suggest asking on a more general forum like Stack Overflow or similar.

[2016-07-18 08:07] #1680 closed, assigned to nobody

[2016-07-18 09:27] andrewlewis commented on #1659
This file contains an edit list that skips the first video frame, which is a keyframe. Due to a limitation in how we handle edit lists (see [this comment](https://github.com/google/ExoPlayer/blob/a4b4c49446ce4938fe7c6721bb155554a37bd95f/library/src/main/java/com/google/android/exoplayer/extractor/mp4/AtomParsers.java#L261)) we don't send the frame to the decoder, which means samples are dropped up

[2016-07-18 19:28] rossthedevigner commented on #1375
@gbadoual Did you ever solve this issue? I _think_ I'm running into the same thing.

[2016-07-18 22:59] hetoan2 commented on #1603
@AquilesCanta I am trying to use the ExtractorSampleSource, but am unable to do so because the extractor is not reading the input correctly. I have looked into the issue further.

When using the comprehensive list of extractors the program becomes stuck on the Webm extractor. I have reduced the list of extractors to just TsExtractor, since I know this to be the format.

What appears to be happenin

[2016-07-18 23:11] hetoan2 commented on #1603
I should also mention that I attempted to simply force the PIDs in order to get the PmtReader to consume the other packets. I was unable to enter the section where the streamType was interpreted by the switch statement. I am unsure why this could be happening, since the list of streamTypes already encountered should be empty, and nothing else should be exiting the while loop.

[2016-07-18 23:11] hetoan2 commented on #1654
@duanyao I am interested in your solution to this problem, since I believe the problem I am having has to do with the use of intra-refresh on the stream I am trying to parse. If I could see your full solution and attempt my stream this might help me diagnose my problem further.

[2016-07-19 02:40] DaxiaK opened #1681 "The stss entry_count = 0 cause the ArrayIndexOutOfBoundsException"
Hi ,
I have a plain mp4 can't be played in exoplayer , but it play in other player (even in Android gallery).
After I verified , its data is right but its atom of stss type seem having some error and the wrong stss will cause the ArrayIndexOutOfBoundsException.

If I make the stss is null , then the video can be played .
`ParsableByteArray stss =null;`

Is possible for fix it ? Thank you!

**Updat

[2016-07-19 09:19] mromer commented on #1624
Hi @wvpaf ,
Some help on this subject? I have been reading something about a cert_serial_number that we are already sending in the license request. Can this be used to identify the device?

[2016-07-19 09:26] AquilesCanta commented on #1375
Closing as this is quite an old issue and the required information was not provided. I can tell you that version 2 improves track selection. Try it out and open a new issue (with the required information in the issue template) if you still find complications.

[2016-07-19 09:26] #1375 closed

[2016-07-19 09:36] AquilesCanta commented on #1603
If what you said is right (about the pat referencing pid 256, and the pmt for that program having pid 257), then you are not going to be able to play it with Exoplayer's TS extractor (as you said, this is not spec compliant). It is not something we are going to add a workaround for, either. If there are no extra discrepancies, you could try replacing the pid for every 257 pid pmt to 256.

[2016-07-19 11:21] duanyao commented on #1654
@hetoan2 You could try #1682 :)

[2016-07-19 11:25] duanyao commented on #1654
@andrewlewis I implemented your suggestion with #1682 , it does work for me. However I haven't figured out how to drop partially-refreshed frames yet.

[2016-07-19 12:57] eshkoliGilad opened #1683 "IllegalStateException when playing specific HLS"
Testing it on ExoPlayer 1.5.9 version on Sony Xperia Z4 using Android M.

I'm trying to play this url: "http://31.154.18.73:55525/shls/LIVE%24NVR/5.m3u8?start=LIVE&end=END&device=HLS" which does seem to work natively on Android and also works with hls.js demo site in android browser.

But I'm keep getting this error (Stack trace):

"07-19 15:51:45.101 8778-8778/com.xxx.app D/LivePlayer: preparePla

[2016-07-19 14:38] daynesh opened #1684 "Playback position accuracy for HLS gets worse over time"
Calling the ExoPlayer's `getCurrentPosition()` method later on in an HLS stream results in inaccurate playback position times. That is, a scene that should show at 2591000ms (43:11) actually appears at around 2584000ms (43:04).

This is a significant problem for clients that use SSDAI streams where we expect an Ad to be shown at 43:11 and thereby render Ad-specific overlay controls at that time bu

[2016-07-19 15:16] bartsidee opened #1685 "UHD display detection not working correctly on Sony AndroidTV utilizing Android 6.0"
We noticed that 4k content did not switch correctly to 4k resolutions utilising Sony AndroidTV models that have the new Android 6.0 firmware, the max was FullHD. This was working correctly on Sony AndroidTV utilising Android 5.0/5.1 firmware.

After investigation with Sony the issue is caused by the getViewportSize method. Exoplayer is using a sony specific device check for SDK version 22:
https:/

[2016-07-19 15:24] ojw28 commented on #1685
I don't really understand this statement. The whole point of those APIs is for them to report the actual display mode, which can have a different resolution to the UI (which is returned by getWidth/getHeight).

[2016-07-19 15:54] ojw28 commented on #1685
Following up internally to work out if (a) the API is broken as I think it is, (b) whether it's Google or OEM code that's responsible if so, and (c) when we can expect it to be fixed. Once we have some clarity here, we'll extend the workaround if appropriate to API levels up to the one in which we expect a fix to land.

We believe a similar issue may also affect nVidia SHIELD, so we're taking a lo

[2016-07-19 21:13] wvpaf commented on #1622
Hi @tomaskukol ,

there is no path for MSS and WV. MSS is proprietary and will not inter-operate with WV.

[2016-07-19 21:14] #1622 closed, assigned to wvpaf

[2016-07-19 21:19] wvpaf commented on #1468
no new update from the OEMs.

[2016-07-19 21:59] hetoan2 commented on #1603
Upon further examination, I was able to determine that the pid 256 was pointing to the PMT, then the PMT pointed to pid 257 for the PES. The problem was that no pesPayloadReader was detected because the table reported H.263 (0x10) as the stream type, which is not a type supported in the stream switch case statement.

Am I wrong in assuming that the H.264 decoder should be able to parse the H.263 s

[2016-07-19 22:16] wvpaf commented on #1624
@mromer,
To answer your original questions.
Exoplayer does not add anything to the license request that is done in the CDM.
However, there is a certificate serial number in the license request at the proxy level, that can be used to identify the device.

For the 2 requests using privacyMode, you can set privacyMode by MediaDrm.setPropertyString("privacyMode","enable"), the CDM will then generate t

[2016-07-19 22:22] wvpaf commented on #1457
@Mark86NL  as for documentation if you are part of the CWIP program there are documents there that will describe the security levels.

However to reiterate if L3, least secure, playback is chosen then HDCP cannot be initiated.

[2016-07-19 22:31] wvpaf commented on #1341
@dobrusev yes when using L3, software only decrypt, that will put a large load on the device and you may experience dropped frames and stuttering especially at higher quality streams.

[2016-07-20 06:16] sooth-sayer commented on #1660
@ojw28, thanks for reply. Can you try another one link (http://ec2-54-201-241-103.us-west-2.compute.amazonaws.com/variant.m3u8) ?

[2016-07-20 06:31] m-scheepers commented on #1457
@wvpaf thanks for this feedback. Our company is part of CWIP program.
- what document describes the possible parameters per security level, such as HDCP settings?
- would it be possible to request Modular DRM Vendors Extension documentation as suggested in https://support.google.com/widevine/answer/6072714?hl=en

[2016-07-20 09:24] AquilesCanta commented on #1603
Unfortunately we don't have a H.263 reader and I don't think the 264 one would work. But of course you can try it out with some small hardcoding. We could write one but it is not a priority right now considering the upcoming v2 release (feel free to contribute with one if you think it is similar to the h264 one).

I updated the title to avoid misleading people. I will use this issue to track H263

[2016-07-20 09:29] dreich opened #1686 "ExoPlayer demo application question"
Please explain how background audio mode works in ExoPlayer demo video player:
When background is off and I get out of activity, video stream is stoped downloading.
Where background is on and I get out of activity, video and audio both are being downloaded in background?

[2016-07-20 09:35] ojw28 commented on #1686
We're removing background support from the demo app in v2 because it's not a fully fledged solution (to do that you'd need to move the player to an Android [Service](https://developer.android.com/guide/components/services.html), which is quite a lot of work).

In the v1 demo app, if the video and audio are demuxed (as is the case for DASH and SmoothStreaming) then the player stops downloading the

[2016-07-20 09:55] hotchemi commented on #949
Are there any plan to provide off-line sample?

[2016-07-20 10:04] Amritpal33 commented on #949
I was able to make it work by writing my own DrmSessionManager that store
keys in media drm and later restore it.

Also you can use Extractor renderer builder with this SessionManager to
play your video/audio.

On Jul 20, 2016 3:25 PM, "Shintaro Katafuchi" notifications@github.com
wrote:

[2016-07-20 10:07] eshkoliGilad commented on #1683
It looks as if it is related to rendererMediaClock is not null but I can't find who is assigning it and I don't know what it is or what it is related to.

I would be more than happy to be clarified about that issue.

[2016-07-20 10:15] ojw28 commented on #1660
The stream doesn't play because it doesn't contain any IDR frames. As per Apple's [technical note](https://developer.apple.com/library/ios/technotes/tn2224/_index.html), streams should have at least one IDR frame in each TS segment.

If you want to manually force ExoPlayer to play this stream, you can do so by ORing `TsExtractor.WORKAROUND_ALLOW_NON_IDR_KEYFRAMES` into `workaroundFlags`, computed

[2016-07-20 10:15] #1660 closed, assigned to nobody

[2016-07-20 10:25] ojw28 commented on #1683
This error doesn't occur if I add the stream to the ExoPlayer demo app, so it's likely something you've done in your integration. Are you injecting two audio renderers or custom renderers of some kind into the player?

Please provide reproduction steps if you're able to cause the failure inside the ExoPlayer demo app. Else we'll have to close this as an issue with your integration. Thanks!

[2016-07-20 10:36] eshkoliGilad commented on #1683
Hi, @ojw28 .
Thanks for the quick response.

It looks as you were right.

I use this [gist](https://gist.github.com/jmgirven/4e0ba2c7d584c8695549) in order to try and FF a video. Removing this was the soultion. But any idea why I can't use this with the current gist ?

[2016-07-20 10:43] dreich commented on #1686
Thank you, friend!

I forgot to mention that I meant HLS.

[2016-07-20 10:45] ojw28 commented on #1683
A `MediaClock` is a component that drives the playback position. In regular ExoPlayer use, `MediaCodecAudioTrackRenderer` is the `MediaClock` and drives the playback position. Other `TrackRenderer`s ensure that they render in sync with the `MediaClock`. In the case that there's no audio, `ExoPlayerImplInternal` has a component that can act as the `MediaClock` instead.

In your case you have two ac

[2016-07-20 10:45] #1683 closed, assigned to nobody

[2016-07-20 10:48] ojw28 commented on #1684
We have not received any other reports of this issue, which suggests that it doesn't happen in all cases. If you play the first HLS sample in the demo app you can observe that it displays the elapsed time in the video, and that it remains in sync with the progress bar throughout playback up to 30 minutes.

You'll need to provide some concrete reproduction steps that we can use if we're to investig

[2016-07-20 10:49] #1667 closed, assigned to ojw28

[2016-07-20 10:52] ojw28 commented on #1686
In HLS audio is typically muxed with the video, in which case there's no alternative but to download both with in the background. HLS does also support demuxed streams though, in which case the player would only download the audio. We recommend DASH for this use case, since supported streams are always demuxed.

[2016-07-20 10:53] #1658 closed, assigned to AquilesCanta

[2016-07-20 11:02] dreich commented on #1686
Thanks.

[2016-07-20 11:08] sooth-sayer commented on #1660
@ojw28 Thanks for the explanation!

[2016-07-20 12:39] bwidtmann commented on #1640
note that this content is unencrypted for the first 10 seconds!

[2016-07-20 14:09] huzaifa0024 commented on #1436
http://mjmobil.azurewebsites.net/Pages/Play/Media/858_1_3117.m3u8
EOF exception when i try to play this track.
Can anyone please tell me whats causing it.

[2016-07-20 15:06] zaky295 opened #1687 "How Save State of ExoPlayer"
I Integrated Exoplayer and it's runs well, but when i integrated with my app then it's state is not save and when device is roted video is play from start so how to save player state.

[2016-07-20 21:48] chateaudif opened #1688 "Support tunneling in ExoPlayer"
Hi there.
Is there any plans on adding tunneling support to ExoPlayer? Several Android devices (especially for Android TV) contain video decoders with tunneling support but it doesn't look like ExoPlayer attempts to take advantage of them yet. Some 4K streams are almost impossible to play properly without video tunneling.

thks,
L

[2016-07-21 07:46] andrewlewis commented on #1688
We looked into this a while back but found little performance difference between tunneling and normal playback on devices we tested. I think the primary claimed benefits at the time were around improved audio/video synchronization and allowing OEMs to customize decoding and rendering. We also found some device-specific bugs with stability and seeking, though these are likely fixed now.

Could you

[2016-07-21 08:35] yumi0629 opened #1689 "How to change the style of MediaController?"
How to change the style of MediaController?
How to write a custom controller with my own style?

[2016-07-21 08:59] andrewlewis commented on #1436
The media segment URIs have a last path segment of ".aspx". This isn't recognized so we default to treating them as MPEG TSs rather than MP3s, which means their contents are parsed incorrectly.

The easiest fix for now is to make the media segments end ".mp3". At some point we may determine which extractor to use based on the contents of the segments (like how ExtractorSampleSource's sniffs the co

[2016-07-21 09:07] Sky35 opened #1690 "Player is dropping frame when playing Highest profiles (DASH+widevine) on Samsung S6"
Hello,
when using the player on Samsung S6 and activating widevine encryption, we are seeing that the player is not able to decode all the frames and it is like it is dropping some of them. What it is strange is the fact that it is only when encryption is activated, one the higher video profiles (1.6Mbps or higher) and also only for Samsung S6 Android device
Player version used: 1.5.7 and 1.5.9

[2016-07-21 09:08] ojw28 commented on #1689
This question does not relate directly to ExoPlayer, since we don't implement player UI at this point in time. Please ask your question somewhere like StackOverflow instead.

[2016-07-21 09:08] #1689 closed, assigned to nobody

[2016-07-21 16:20] AquilesCanta commented on #1681
A fix will be available for both exoplayer versions in the next push.

[2016-07-22 01:01] bosbefok commented on #949
+1 for an offline DRM sample.

[2016-07-22 11:47] duanyao commented on #686
I encountered the same problem when streaming MPEG-TS over HTTP on an instable WIFI. I solve this problem by implement variable playback speed ( #1691 ), and speed up playback when there is too much data buffered. E.g.

[code]

Now I can achieve 0.6~0.8s latency constantly.

I think this approach should also work for MPEG-TS over UDP.

[2016-07-23 05:40] sharkhuang opened #1693 "Crash when fast forward video"
2.2 develop branch.
User case: play several videos consecutive as playlist. customize media player to control moving forward or backward, which means customize seekto() function to find position cross the videos.  Crash happens when call seekTo(int sourceIndex, long positionMs) .

[code]

[2016-07-23 09:21] saurabhkpatel commented on #1686
@ojw28 I am implementing background playback with a help of service, I already moved a player to the service, and when I press back I can hear only audio that's totally fine. But when I come to my video player activity then I am using "setBackgrounded(false)", which enables videoTrack back with help of this line in setBackgrounded function, "setSelectedTrack(TYPE_VIDEO, videoTrackToRestore);" Here

[2016-07-23 16:23] metalurgus opened #1694 "mp4 video with audio stream type mp3 is played without sound"
the video info, retrived using `ffprobe`:

[code]

Here is the video info of the file with AAC sound stream, which works OK:

[code]

Here is the [link to my question](http://stackoverflow.com/questions/38543780/exoplayer-no-sound-on-video-with-mp3-sound-stream) on StackOverflow

[2016-07-23 18:56] saurabhkpatel commented on #1454
@frakc : i have the same issue, how did you solve this? Can you please help me?

[2016-07-23 22:38] saurabhkpatel commented on #1686
@ojw28 I figured out issue, issue was about to set visibility of shutterView.

I am having one more problem in the same approach,

Problem : When I am returning to my video player activity I am setting surfaceView and setBackgrounded(false), but I can see video Frame got stuck for 2-3 seconds and then it starts continuously to play.

What could be the problem? Is there any order to set surfaceView

[2016-07-24 01:04] btc commented on #472
My preferred solution is:

[code]

[2016-07-24 23:14] ojw28 commented on #1694
We'd be happy to take a look at this if you provide a test stream for us to reproduce the issue with. Please provide one if you wish for us to do so (either here or by email to dev.exoplayer@gmail.com)

[2016-07-24 23:15] ojw28 commented on #1693
Please provide more information describing exactly how to reproduce this issue. Also, what specific version of the code are able to reproduce this with?

[2016-07-25 06:02] sharkhuang commented on #1693
@ojw28  update the description

[2016-07-25 07:55] hotchemi commented on #949
@Amritpal33 Thx for your info! Can you give us a sample code? And one more question, what vide format do you use?

[2016-07-25 11:42] rini-m opened #1695 "ArrayIndexOutOfBoundsException on playback of a HLS stream"
[code]

Exoplayer version used- r1.5.8.
Playback starts, buffer for few seconds and then app crashes with this error. This is 100% reproducible in all available devices, trying to play same content.

[2016-07-25 12:18] Sky35 commented on #1690
By making more test, I have observed that if we change the manner how the stream is encoding, the issue went gone: when frames are encoded through 1 slice instead of 4, the player is able to decode it correctly.
Is it a restriction for the player?

[2016-07-25 12:53] andrewlewis commented on #1690
Playback of streams that use more than one slice per frame should work I think. Could you provide a test stream so we can reproduce the issue (either here or by email to dev.exoplayer@gmail.com)? Thanks!

[2016-07-25 13:05] Sky35 commented on #1690
Thank you for your feedback.

I have got an example where there is 2 or 4 Slices per Frame (depending of the resolution):

http://189.28.24.25/sdash/eng_test_15/manifest_03.mpd

For the protected content, you may need the LA URL: https://widevine-proxy.appspot.com/proxy

Thanks
Arnaud

From: Andrew Lewis [mailto:notifications@github.com]
Sent: Monday, July 25, 2016 2:53 PM
To: google/ExoPlayer
Cc:

[2016-07-25 13:15] bluemix commented on #695
the same here, on an Android set-top box (STB),
certain videos freeze on the same time

[2016-07-25 13:46] VesnaRistevska opened #1696 "NullPointerException when playing HLS source in r1.3.3"
I keep getting the following NullPointer exception with HLS stream. I'm using version r1.3.3

/ExoPlayerImplInternal: Internal runtime error. java.lang.NullPointerException: Attempt to invoke interface          method 'void com.google.android.exoplayer.ExoPlayer$ExoPlayerComponent.handleMessage(int,    java.lang.Object)' on a null object reference at com.google.android.exoplayer.ExoPlayerImplInter

[2016-07-25 13:46] ojw28 commented on #1696
1.3.3 is very old. Please try a more recent version and file a new issue if you're still having problems.

[2016-07-25 13:46] #1696 closed, assigned to nobody

[2016-07-25 13:54] VesnaRistevska opened #1697 "NullPointerException when playing HLS source in r1.5.9"
I keep getting the following NullPointer exception with HLS stream. I'm using version r1.5.9

/ExoPlayerImplInternal: Internal runtime error. java.lang.NullPointerException: Attempt to invoke interface method 'void com.google.android.exoplayer.ExoPlayer$ExoPlayerComponent.handleMessage(int, java.lang.Object)' on a null object reference at com.google.android.exoplayer.ExoPlayerImplInternal.sendMess

[2016-07-25 13:57] ojw28 commented on #1697
This seems likely to be an error in your integration code. Specifically, you're likely passing null as `target` to `ExoPlayer.sendMessage` or `ExoPlayer.blockingSendMessage`. You'll need to debug your code to find out why this is happening, and fix it. I assume the issue does not reproduce in the ExoPlayer demo app.

[2016-07-25 14:12] VesnaRistevska commented on #1697
When I'm using this HLS stream  I'm getting NullPointerException. This URL
is making redirect 403

https://ott.streann.com/loadbalancer/services/public/channels/57029575e4b033599e714e1c/playlist.m3u8

On Mon, Jul 25, 2016 at 3:57 PM, ojw28 <notifications@github.com> wrote:

--
Vesna Ristevska
Faculty of Technical Science Bitola
e-mail:vristevska851@gmail.com
Mobile phone: 075 618 127

[2016-07-25 15:11] VesnaRistevska commented on #1697
I tried with my URL  in your demo app but it doesn't working

[2016-07-25 15:49] ojw28 commented on #1697
Please copy the error that you see when using the demo app. I'm pretty sure you wont see the one pasted above. If possible, please provide a full bug report as requested in the issue template.

[2016-07-25 16:19] AquilesCanta commented on #1695
As stated in the ISSUE_TEMPLATE, please provide a link to the media that causes the error. Otherwise it is practically impossible for us to know the cause. You can send it to dev.exoplayer@gmail.com, if you would rather not post it here. Don't forget to include the issue number.

[2016-07-25 16:22] Amritpal33 commented on #949
This file will help you to fetch keys and store it in mediaDrm which in turn returns keySetId.

[code]

Here is the same Offline DRMSessionManager implementation that restore keys using keySetId which you have store somewhere in your db.

Once you get the keys

package com.google.android.exoplayer.demo.offline;

###

[code]

[2016-07-25 21:11] Joboodi commented on #954
@wilsonssss What were you leaking and how did you fix it?

[2016-07-26 00:07] saurabhkpatel opened #1698 "setBackgrounded(true) not working as expected in HLS video. (Video and audio downloading mismatch, while coming back to activity )"
@ojw28 Need your comments or suggestions, on below issue.

I am trying to run background audio playback when a user leaves video player activity. I wrote service for that and I am handling ExoPlayer in service, Background play is working fine when I leave application at that time I am setting **"setBackgrounded(true)"** . When I am returning back to an application and open video player activity, h

[2016-07-26 07:28] bwidtmann commented on #1341
The Sony Z3 compact Android 5.1 also shows the same issue. The device manufacturer has been informed and they fixed it in Android 6.x.

[2016-07-26 08:20] VesnaRistevska commented on #1697
When I put my URL (that I sent you before) in Samples.java HLS I get this
bug in logcat and the video is not showing.

​

On Mon, Jul 25, 2016 at 5:49 PM, ojw28 notifications@github.com wrote:

##

Vesna Ristevska
Faculty of Technical Science Bitola
e-mail:vristevska851@gmail.com
Mobile phone: 075 618 127

[2016-07-26 08:44] VesnaRistevska commented on #1697
Hi,
we think that we found the problem. The link which we are using is the link
to the loadbalancer and it is with SSL enabled (HTTPS ). The loadbalancer
is redirecting the player to the original streams. The original streams are
WITHOUT HTTPS, so the initial link for the player is with https, but after
the redirection, the player is receiving playlists with http only and the
player cannot play th

[2016-07-26 08:52] andrewlewis commented on #1697
See #1190. Redirection from HTTPS to HTTP will only work if you enable cross-protocol redirects. See also [DefaultUriDataSource](https://github.com/google/ExoPlayer/blob/master/library/src/main/java/com/google/android/exoplayer/upstream/DefaultUriDataSource.java#L93).

[2016-07-26 08:52] #1697 closed, assigned to nobody

[2016-07-26 09:02] ojw28 commented on #1687
You can do what the demo app does and handle the rotation yourself, which avoids Activity recreation and hence the need to save and restore state. This is achieved [here](https://github.com/google/ExoPlayer/blob/r1.5.9/demo/src/main/AndroidManifest.xml#L44).

Else, you'll have to use the normal save/restore functionality provided by Activity to do this. ExoPlayer provides sufficient methods for yo

[2016-07-26 09:02] #1687 closed, assigned to nobody

[2016-07-26 09:03] #1681 closed, assigned to AquilesCanta

[2016-07-26 09:04] ojw28 commented on #1685
We will be updating the Sony specific check to apply up to (and including) API level 24. We expect that getPhysicalWidth/Height will work correctly from API level 25 onward. We will also be adding a similarly specific check for nVidia SHIELD devices.

[2016-07-26 13:29] eshkoliGilad opened #1699 "HLS Stream never starts buffering, stuck on preparing"
Hi, guys.

I'm trying to stream an HLS video from this url:

"http://31.154.18.73:55525/shls/LIVE%24NVR/5.m3u8?start=LIVE&end=END&device=HLS"

As it seems working, I've been able to play it on native Android Player from Chrome and also in hls.js demo site.

But when I try to use this in the ExoPlayer demo app it seems to stuck in preparing mode and never start to buffer -

[code]

I'm using ExoPla

[2016-07-26 18:44] brystel opened #1700 "Multiple software decoder based instances - Android 5.1(API22)"
Hi,

I am reffering to #1357

I got the same issue with initialize **OMX.google.h264.decoder** when I try to use multiple instances.

I have tested it on six real devices and it seems that ExoPlayer won't initialize software decoder only on devices with Android 5.1 (API 22).

With android 4.4 and 6.0 software decoder work well.

Please note that I have successfully run 3 and more software decoder

[2016-07-26 19:34] natez0r commented on #1276
@ojw28 is there any guidance on when v2 may be available? Trying to decide if we should do something in the meantime.

[2016-07-26 21:36] wvpaf commented on #1341
@bwidtmann   thanks for the update.

As there is nothing we can do in the player/stack I will close this but please to reopen and add to it if other devices are found to be problematic.

[2016-07-26 21:36] #1341 closed

[2016-07-26 21:38] wvpaf commented on #1624
@mromer  do you have your answers?  I am assuming so, and will close this case.
Please do reopen if further clarifications are needed.

[2016-07-26 21:38] #1624 closed, assigned to wvpaf

[2016-07-26 21:48] wvpaf commented on #1404
@pykler &/or @polmabri , any update?  This case is starting to age. Any update would be helpful. Thanks,

[2016-07-26 21:53] wvpaf commented on #1178
@casajavi , any updates? almost 3 months without a ADB Bugreport.  Will monitor for a couple more weeks then will close.

[2016-07-26 21:54] wvpaf commented on #1048
@PetrSklenicka,  any updates?
almost 3 months without a ADB Bugreport. Will monitor for a couple more weeks then will close.

[2016-07-26 22:03] shahony opened #1701 "upgrade sm g530h"
Please search the existing issues before filing a new one, including issues that
are closed. When filing a new issue please include all of the following, unless
you're certain that they're not useful for the particular issue being reported.
- A description of the issue.
- Steps describing how the issue can be reproduced, ideally in the ExoPlayer
  demo app.
- A link to content that reproduces the

[2016-07-27 07:40] #1701 closed, assigned to nobody

[2016-07-27 08:22] andrewlewis commented on #1700
Unfortunately there's not much we can do about errors like this. It's likely caused by running out of resources or a platform bug (or both).

Bundling your own software decoder will help reduce the dependency on the platform so you should see more consistent behavior on different Android versions. It sounds like you have found that FFmpeg works fine.

Please be warned that software video decoders

[2016-07-27 08:22] #1700 closed, assigned to nobody

[2016-07-27 11:39] mromer commented on #1624
Thanks @wvpaf for your help. We will use the certificate serial number as commented above.

[2016-07-27 12:34] eshkoliGilad commented on #1699
Thanks again, but this is irrelevant for now.

The problem was in the HLS stream itself.

[2016-07-27 14:15] casajavi commented on #1178
@wvpaf @tajoumal It seems like some of our assets where encoded incorrectly, it had something to do with a conversion from the original format to Dash affecting the way the aspect ratio was being calculated..... I dont really have the full details on this.

Anyway once the assets were re-encoded it started working fine and it made sense to us because only certain assets would cause this particular

[2016-07-27 14:15] #1178 closed

[2016-07-27 21:24] pgrov commented on #1457
@Mark86NL as your company is part of the CWIP program, you should reference the following documents related to your questions which are currently available on the CWIP portal.
- Android Vendor Extensions document
- Proxy Integration Document which includes an HDCP Output Matrix in the appendix

[2016-07-28 08:52] dobrusev opened #1702 "ExoPlayer sendinging message to a Handler on a dead thread"
Hello,
I use ExoPlayer with Cordova and when I'm switching between videos I see in logs that I'm trying to send something to a dead thread. Any ideas why this is happening? My app is based on the ExoPlayer test app.

Thanks in advance!

`
test D/VideoPlugin.Notificator: {"type":"GET_CURRENT_POSITION","value":26447}

test D/ViewRootImpl: ViewPostImeInputStage processPointer 0
test D/ViewRootImpl: V

[2016-07-28 08:55] andrewlewis commented on #1702
See #426.

[2016-07-28 08:55] #1702 closed, assigned to nobody

[2016-07-28 09:27] peyoh commented on #1450
Hello,
this timeline causes the error.

[code]

[2016-07-28 11:43] ojw28 commented on #1276
The answer depends on what level of risk you're comfortable with, and what it means for it to be available :). It's already available in experimental form [here](https://github.com/google/ExoPlayer/tree/dev-2.X.X-experimental). We have some major changes coming next week, so I'd definitely hold off until then. Once those are pushed, probably toward the end of next week, we'll remove "experimental"

[2016-07-28 15:11] natez0r commented on #1276
great, thanks for the detailed update @ojw28. Much appreciated.

[2016-07-28 16:13] ofuwape opened #1703 "ExoPlayer continues to play a HLS embedded WebVtt when the Video has already ended (The webvtt's duration is longer than the duration of the video)"
## Build Info:

-compile 'com.google.android.exoplayer:exoplayer:r1.5.9'
## Sample Url:

## The Issue:

When a HLS's embedded webvtt's duration is longer than the video's duration, the video stops at its end duration but Exoplayer continues to play the webvtt file.
This issue occurs only when the webvtt file is embedded in the HLS .m3u8 link but **does not occur** when the the webvtt file is added

[2016-07-28 16:56] Keopss commented on #954
I have this problem too with .mp4 videos load from URL:

[code]

I don´t know how to fix it. Cause sometimes the video works and some time gives this error.....

[2016-07-28 19:14] ojw28 commented on #1703
I think this is working as intended. You're providing the player with various different streams of media of different lengths, and it's playing them until they end, which is what it's supposed to do. If it's not intentional that there's a minute of captions extending past the end of the video, then the content shouldn't include them.

[2016-07-28 19:14] #1703 closed, assigned to nobody

[2016-07-28 19:49] #1699 closed, assigned to nobody

[2016-07-28 19:51] ojw28 commented on #1685
Changes have been pushed to `dev-v1` and `dev-v2` to fix this.

[2016-07-28 19:51] #1685 closed, assigned to ojw28

[2016-07-28 19:52] ojw28 commented on #1694
Are you able to provide test content, or shall we close this? Thanks!

[2016-07-28 20:40] metalurgus commented on #1694
Sorry for the delay, I wull provide a sample video com w morning my time (in 10 hours aprox)

[2016-07-29 14:14] bene25 commented on #87
+1

[2016-07-30 05:34] yhd4711499 opened #1704 "CacheDataSource"
found duplicate: [https://github.com/google/ExoPlayer/issues/420](https://github.com/google/ExoPlayer/issues/420)

[2016-07-30 05:52] #1704 closed, assigned to nobody

[2016-07-30 06:13] yhd4711499 opened #1705 "Segments from different video cached into same cache file"
**A description of the issue**
I use this code in demo app to enable caching for DASH video:

[code]

I did some researching and found that the `DashManifestParser.contentId` is not set to any value and remains `null` when it's used for setting `DataSpec.key`, which makes it possible for segments from different video cached into same cache file.

**Steps to reproduce**
1. Enable cache
2. Play some

[2016-07-30 07:13] Keopss commented on #954
@willnorris @Joboodi @ojw28 Any solution? can you do releasing the player inside the same activity?

Thank you!

[2016-07-30 09:41] yhd4711499 commented on #420
Hello

Here is my approach: [https://github.com/yhd4711499/ExoPlayer/commit/fda3e6f1a52b2e4bace591e967a0b58656e96f31](https://github.com/yhd4711499/ExoPlayer/commit/fda3e6f1a52b2e4bace591e967a0b58656e96f31)

It uses a `ContentLengthCache` to store Content-Length fetched by actual `DataSource` of a given uri.

[2016-07-31 20:22] dckristiono opened #1706 "Add or remove playlist items (MediaSources)"
I use exoplayer dev-v2, I need function to add or remove playlist items (media sources) without release player or initialize player.
Can you make this function?

thanks!

[2016-08-01 00:38] mingchen opened #1707 "Video rotated 90 degrees in a playlist"
**Code version:**
dev-v2 commit 846f8e1d

**Device:**
Nexus 5 / Android 6.0

**Descrtiption:**
In ExoPlayer 2 play list, I have a phone recorded vertical screen video, when play in the middle of playlist, it will be rotate 90 degrees and stretched which is not expected. If it is the first of list, it plays normal.

**Reproduce issue:**
I have a [demo video](https://dl.dropboxusercontent.com/u/6565

[2016-08-01 08:01] ojw28 commented on #1707
Thanks for reporting this! It's most likely a device/platform issue rather than an issue in ExoPlayer, but we should be able to work around the problem fairly easily.

Did you test this on any other devices at all? If so, could you let us know whether behavior was as expected, or whether this issue was the same across all devices. Thanks!

[2016-08-01 08:04] ojw28 commented on #1706
It's pretty easy to implement the first request yourself (create a class a bit like `ConcatenatingMediaSource`, but with the ability to add/remove). We should be providing a standard component for this. Let's use this issue to track.

Please file a separate enhancement request for the other request; the two aren't related.

[2016-08-01 08:32] hezhisu opened #1708 "How to change playback rate of video track with the latest exoplayer in android 4.x"
Please search the existing issues before filing a new one, including issues that
are closed. When filing a new issue please include all of the following, unless
you're certain that they're not useful for the particular issue being reported.
- A description of the issue.
- Steps describing how the issue can be reproduced, ideally in the ExoPlayer
  demo app.
- A link to content that reproduces the

[2016-08-01 08:35] hezhisu commented on #1708
I use the sonic to change playback rate of audio track, but I have no idea about the video, is there someone can help me?

[2016-08-01 08:38] hezhisu commented on #26
@skonb do you have some idea of changing the plackback rate of video track with the latest exoplayer

[2016-08-01 09:30] AquilesCanta commented on #1708
Hi, please search existing issues as there are quite a few that refer to this. For instance, [#26](https://github.com/google/ExoPlayer/issues/26) and [#1216](https://github.com/google/ExoPlayer/issues/1216), which also contains some references, I think. Otherwise, you might want to try some programming Q&A, like stack overflow.

[2016-08-01 09:30] #1708 closed, assigned to nobody

[2016-08-01 17:30] dckristiono commented on #1706
do you finish to make this function?

[2016-08-01 19:43] GoranNSW commented on #179
@ojw28 DVB standard is widespread in Europe and Asia. I agree that it is not the best solution for displaying subtitles, but standard is in use by majority of TV broadcasters.
Take a look into this document http://www.etsi.org/deliver/etsi_en/300700_300799/300743/01.03.01_60/en_300743v010301p.pdf where DVB subtitles are described in great detail.

[2016-08-01 19:50] krok55 commented on #1074
Hello,

I'm also getting this exception on one of my HLS playbacks.
After applying the patch from @kientux the problem resolved.

Any chance for a temporary built-in solution until the root cause for this problem will be found?

Thanks

[2016-08-01 19:50] mingchen commented on #1707
I also tested on Moto XT 1527 / Android 5.1, Sony Xperia S LT26i / Android 4.1.2 and HTC One Max / Android 5.0.1, it have the same issue.
What is the workaround ?

[2016-08-01 20:03] tresvecesseis commented on #179
I already submitted a patch adding dvb subtitle support, as we use it
internally we plan to submit it again for the v2 branch, we only considered
our use case but there are other examples of graphic subtitles, like the
DVD and Blu-ray ones, so maybe a discussion about a generic architecture
for graphic subs is needed.

El 1 ago. 2016 9:44 p. m., "GoranNSW" notifications@github.com escribió:

[2016-08-01 20:20] GoranNSW commented on #179
Did you take into account the mpeg-ts stream?

[2016-08-01 22:10] tresvecesseis commented on #179
Yep, our service is based on multicast rtp mp2t streams

From: GoranNSW notifications@github.com
Reply-To: google/ExoPlayer reply@reply.github.com
Date: Monday 1 August 2016 at 22:20
To: google/ExoPlayer ExoPlayer@noreply.github.com
Cc: "tresvecesseis@gmail.com" tresvecesseis@gmail.com, Comment comment@noreply.github.com
Subject: Re: [google/ExoPlayer] Implement bitmap subtitle support (#179)

Did

[2016-08-01 22:39] GoranNSW commented on #179
Thank you for the info. Looking forward to try it.

[2016-08-02 01:00] kientux commented on #1074
@krok55 The root cause was found. As you see in the conversation above, this is problem from content provider, not client. So ExoPlayer might never try to handle this exception.

[2016-08-02 10:50] ludovicroland opened #1710 "Subtitles style is not rendered correctly"
**A description of the issue :**  Subtitles style is not always rendered correctly.

Here the code for the default style and the render :

[code]

![subtitles1](https://cloud.githubusercontent.com/assets/3648438/17325230/ce6cc29e-58aa-11e6-86c0-cff386a55988.jpg)

And here a custom style with the render :

[code]

I still have the black blakcground even if it specifies `Color.TRANSPARENT` and the f

[2016-08-02 10:56] ojw28 commented on #1710
Most likely the subtitles include their own embedded styling information, which is applied in preference to the locally configured style by default. If you want to disable application of embedded styling information you can call `subtitlesLayout.setApplyEmbeddedStyles(false)`. Please give this a try and let us know if it helps! Thanks.

[2016-08-02 11:21] brystel opened #1711 "Mpeg-Dash stream start offset"
Hi,

Is there (r1.5.9) possibility to change start offset in dash live stream?
Video which is shown is behind ~40s of current time.

Thank you

[2016-08-02 11:36] peyoh commented on #1653
Hello,
we've changed transcoder backend and packetizer to Nimble, but with no effect.
On dev.exoplayer@gmail.com I've send example URL. Maybe somebody can help.
With dash.js, bitmovin and shaka-player this issue doesn't exists, btw.

[2016-08-02 11:53] ludovicroland commented on #1710
Hi @ojw28,

Thx you so much for your help ! It works !

[2016-08-02 11:53] #1710 closed, assigned to nobody

[2016-08-02 13:54] stelma commented on #1711
I think that should be the live edge latency. I guess it should still be in the DashRendererBuilder as final static member.

[2016-08-02 15:28] cstew opened #1712 "Subtitle Erroneous Characters"
In certain situations, ExoPlayer is showing erroneous characters around subtitles. I think this is related to the font tag embedded within subtitles on the video.

We have a video from a vendor where the font tag with a size attribute is used and we are seeing an additional character at the front of the subtitle. I've stripped down the subtitles from that video and reproduced with the font color a

[2016-08-02 15:44] ojw28 commented on #1712
This works fine on a test device I have, so it seems like it's probably Android version dependent. As per the issue template, please provide details about the devices and Android builds on which the issue reproduces (and preferably a full bug report).

[2016-08-02 15:48] ojw28 commented on #1694
Closing due to lack of sample.

[2016-08-02 15:48] #1694 closed, assigned to nobody

[2016-08-02 15:49] #1674 closed, assigned to nobody

[2016-08-02 15:49] ojw28 commented on #1674
Closing due to lack of information requested in the issue template.

[2016-08-02 15:49] ojw28 commented on #1684
We'll close this soon if no further information is provided. Thanks.

[2016-08-02 15:50] ojw28 commented on #1652
We'll close this soon unless further information is provided. Thanks.

[2016-08-02 15:51] ojw28 commented on #1645
Closing due to lack of information.

[2016-08-02 15:51] #1645 closed, assigned to nobody

[2016-08-02 15:53] ojw28 commented on #1621
@wvpaf - Could you take a look at this? Thanks!

[2016-08-02 15:56] ojw28 commented on #1004
This doesn't sound like an ExoPlayer issue, since we don't do anything special for headphone vs speaker output. It's up to the platform to send the audio to the correct output. We've also not received a single other report of this issue. Closing for now.

[2016-08-02 15:56] #1004 closed

[2016-08-02 16:18] daynesh commented on #1684
Sorry...I've been working on some other issues and haven't had the opportunity to get back to this.

We encode our videos through another process and use a third party to stitch the ads at specific times that they identify for us.  The reason why we can't really use the HLS sample in the demo app for testing this issue is because it has no Ads stitched in which would indicate the playback time whe

[2016-08-02 16:40] cstew commented on #1712
Thank you for your help and the quick response! Here is some additional information:

I am on commit: `f4edea81a3141d16bdac9d48687f92928c49784d` just off of master. ExoPlayer 1.5.9.

I reproduced by pasting the dropbox video link from above into the ExoPlayer demo app using `TYPE_OTHER` as the video type.

I have not yet come across a device that renders these subtitles correctly. I have reproduce

[2016-08-02 17:54] saurabhkpatel commented on #1698
@ojw28  Is there any update on this issue, I posted 1 week before. If you require more information about this then please let me know i can provide you more details.

[2016-08-02 18:19] AquilesCanta commented on #1711
Yes, sorry I hadn't seen this. As @stelma says, there is a parameter for this in the DashChunkSource constructor. You could try changing the value you are using. You should try posting this kind of questions in a general Q&A site, as the issue tracker is preferably reserved for bug reporting and feature requests.

[2016-08-02 18:19] #1711 closed, assigned to nobody

[2016-08-02 18:42] neowinston opened #1713 "Simple HLS audio player"
I'm new to Android and ExoPlayer development, coming from iOS.

I just need to play HLS audio, and have tried the demo app and it works fine, but I still need a more simple example, without video, to get started.

Could anyone please point me out to a simple HLS live radio stream sample code?

Thank you very much!

[2016-08-02 18:43] ojw28 commented on #1713
Please ask general questions on StackOverflow. This issue tracker is for issues and feature requests. Thanks!

[2016-08-02 18:43] #1713 closed, assigned to nobody

[2016-08-02 20:08] neowinston commented on #1713
Thanks!

On Tue, Aug 2, 2016 at 2:44 PM, ojw28 notifications@github.com wrote:

[2016-08-02 20:27] wvpaf commented on #1560
@kunalbhatia  Any update?

[2016-08-02 20:31] wvpaf commented on #1457
Closing as the path to documentation was provided above.
Please reopen if the main question was not addressed.

[2016-08-02 20:31] #1457 closed

[2016-08-02 20:51] kunalbhatia commented on #1560
Hi @wvpaf, unfortunately I'm unable to get a dash URL without spaces, the content team is taking too much time in responding. I don't have rights to do so, otherwise this wouldn't have taking this much time.

[2016-08-02 22:13] wvpaf commented on #1311
Hi @evorotilova  any full logs?  If not we will consider the case closed in  7 days.

[2016-08-02 22:13] #1048 closed

[2016-08-02 22:19] wvpaf commented on #1621
Hi there,
We took a look and will need to reach out to the OEM/SoC as the log looks like :
error @ 12:27:48.097 results in error 500 from the PR server.
....
06-22 12:27:48.094   492 16120 D DRMAgentDelegate: Silent acquisition initiated
06-22 12:27:48.097   492 16120 E drmagent-jni: [nativeGetMetaData] getProperty failed
06-22 12:27:48.097   492 16120 E drmagent-jni: [nativeGetMetadata] Error occ

[2016-08-03 07:40] eudson commented on #658
I used the demo app to guide me, but times to times this error appears in the console. I'm using exoplayer 2 dev experimental

[2016-08-03 08:53] moacir69 commented on #1621
Hi there,
This is happening due to the failure in the generation of the license acquisition challenge with Android Media DRM Framework API. It either crashes or generates an empty one:

...
06-22 12:27:48.198 492 16122 D AbstractDRMLicenseAcquisitionHandler: FaultString: The length of the challenge is 0
...

Therefore, this is not a license server issue, but instead a client issue.
Thank you,

Moa

[2016-08-03 09:05] andrewlewis commented on #658
@eudson Please file a new issue with full steps to reproduce via the demo app, including a link to the media you're trying to play. Thanks.

[2016-08-03 18:51] watemotion opened #1714 "Failed to query codec OMX.qcom.audio.decoder.mp3 (audio/mpeg)"
I'm working with ExoPlayer and it works fine with all devices i have tested, except for a LG-E975.
On a LG-E975 I'm getting the following exception when i do play a streaming url, and I can't play the stream:

Device: LG-E975
Android version: 4.1.2
ExoPlayer version: 1.5.9
okHttp version: 3.4.1

[code]

Here is how i do play an url:

[code]

[2016-08-04 03:55] azabujuban opened #1715 "[DASH] IndexOutOfBoundsException when ExoPlayer#seekTo to a future timestamp"
I have a DASH audio-only stream produced by ffmpeg. The MPD file is as follows:

[code]

In total, only two segments are available for the total length of 10 seconds. This is working fine for quite long periods. However, when i use the `ExoPlayer#seekTo` method to seek `beyond` what's currently available sometimes there is a crash. It correctly waits until the timestamp is available and plays it,

[2016-08-04 07:37] azabujuban opened #1716 "[DASH] Crash when receiving empty SegmentTimeline"
When the player receives the following MPD it crashes:

[code]

The exception is:

[code]

I originally thought that the crash was related to something else and opened another issue (#1715), but after some investigation it turned out that the crash is not related.

[2016-08-04 07:38] azabujuban commented on #1715
Created a different issue - #1716
Closing this

[2016-08-04 07:38] #1715 closed, assigned to nobody

[2016-08-04 11:07] andrewlewis commented on #1714
@watemotion Thanks for reporting this. I don't have a test device on Jelly Bean, so please could you try out the following workaround? Add `|| Util.DEVICE.startsWith("gee")` to the condition [here](https://github.com/google/ExoPlayer/blob/r1.5.9/library/src/main/java/com/google/android/exoplayer/MediaCodecUtil.java#L226) and let me know if that solves the issue, or if you see some other error. Tha

[2016-08-04 12:11] norazhou opened #1717 "Exoplayer dev-v2 playback live stream shift 5 mins behind"
I have a live dash stream, and tried with Exoplayer dev-v2. However, when playback it will shift 5 mins behind current time. For example, it start to playback live stream at 20:00 when it is actually 20:05 right now. Tested that Exoplayer dev-v1 and Shaka player can playback with current time. Is there any idea?

[2016-08-04 12:54] GoranNSW commented on #1677
I have been searching for days to find how to list all tracks and still can't figure out how to do it. Is there any way to find all tracks that are available in MPEG TS stream?

[2016-08-04 13:23] AquilesCanta commented on #1677
Yes, I am sorry about this delay. I am currently working on our HLS implementation. As soon as I finish this work, I hope next week, I will get to this.

[2016-08-04 13:45] GoranNSW commented on #1677
It was not my intention to put pressure on you, I was just hoping that the solution is less complicated and that I could help.

[2016-08-04 16:09] mojjia opened #1718 "is supporting hevc in android 4.4.4 ?"
ExoPlayer : 1.5.9
Android : 4.4.4, API 19
Device : set top box (broadcom chip)

I have tried to play hevc content.
in Android 5.1, ExoPlayer can play hevc content but can't play same content in Android 4.4.4.
Even Android MediaPlayer can play hevc content in Android 4.4.4.
What is the official android version that supporting to hevc in ExoPlayer ?

[2016-08-04 16:54] mingchen opened #1719 "seekTo(index, position) throw IllegalStateException: Multiple renderer media clocks enabled."
**Code version:**
dev-v2 commit 846f8e1

**Device:**
Nexus 5 / Android 6.0

Descrtiption:
For play list, when call `seekTo(index, position)` to skip to the begining of a video, for example, `seekTo(2, 0)`.  Player throw following exception

[code]

**Reproduce:**

After playing, just call `seek(index, 0)` can easily reproduce this issue.

[2016-08-04 16:59] saurabhkpatel commented on #394
@knighthedspi I am facing the same issue, above solution resolved your issue?
are you creating new ExoPlayer object when moving to next video from videoPlayList?

[2016-08-04 20:38] watemotion commented on #1714
@andrewlewis Your workaround solved the problem, now I can listen the stream. Thank you for replying so quickly.

[2016-08-04 22:48] Joseph82 opened #1720 "Playing encrypted video, using custom DataSource"
I created a custom DataSource that is basically copied from ContentDataSource, but the InputStream is obtained in this way (inside the open() method):

[code]

When I try to play the file I obtain this error:

[code]

The video is MPEG-4 and is encoded with AES/ECB/PKCS5Padding.

More details about my implementation can be found here: http://stackoverflow.com/questions/38729220/reproducing-encrypt

[2016-08-05 03:42] biezhihua opened #1721 "Exception : boolean java.lang.String.equals(java.lang.Object)"
My is developer from china.
I have searched a list of questions, but did not find what I want.

SDK_INT : 21
DEVICE:hnCHE-H  hwALE-H
codecName: OMX.k3.video.decoder.avc

At first, I use the process, we encountered the following issues:

[code]

Then I followed the MediaCodecUtil file getDecoderInfosInternal() method.I print a more detailed exception log，It appeared the following exception:

Except

[2016-08-05 08:29] andrewlewis commented on #1714
Great. This issue should be updated when we push the fix.

[2016-08-05 08:29] #1714 closed, assigned to andrewlewis

[2016-08-05 08:36] andrewlewis commented on #1721
Please could you provide the following information?
- Version of ExoPlayer (commit number)
- Full stack traces from the exceptions, including any cause
- The output of `adb shell getprop ro.build.fingerprint`

Thanks.

[2016-08-05 08:58] andrewlewis commented on #1718
The [Android Compatibility Definition documents](https://source.android.com/compatibility/cdd.html) specify for each Android version what formats devices must be able to decode.

Support for decoding H.265/HEVC streams has been required since Android 5.0 Lollipop.

Note that OEMs can support whatever formats they want above the minimum requirements of the CDD. So, for example, there may be devices

[2016-08-05 08:58] #1718 closed, assigned to nobody

[2016-08-05 09:16] ened commented on #55
Dear @ojw28, may I ask for your advise on the following: I'm trying to integrate live555 with Exoplayer2 & would like to get the architecture sorted out. Here's the rough structure:
1. Exo determines an rtsp:// URL belongs to a RtspDataSource & creates it. (via DefaultDataSource)
2. RtspDataSource opens the URL using live555 and waits for the subsessions (audio,video,text) to be negotiated and cre

[2016-08-05 09:54] henrihallik opened #1722 ".m3u8 subtitle"
Please search the existing issues before filing a new one, including issues that
are closed. When filing a new issue please include all of the following, unless
you're certain that they're not useful for the particular issue being reported.
- A description of the issue.
- Steps describing how the issue can be reproduced, ideally in the ExoPlayer
  demo app.
- A link to content that reproduces the

[2016-08-05 10:01] andrewlewis commented on #1718
@AquilesCanta suggested that this might be an issue with capabilities reporting. You could try stepping through the code in [MediaCodecUtil](https://github.com/google/ExoPlayer/blob/r1.5.9/library/src/main/java/com/google/android/exoplayer/MediaCodecUtil.java#L154) to see if there is decoder for MIME type video/hevc present on this device, and, if so, why it does not have the required capabilities

[2016-08-05 10:11] AquilesCanta commented on #1722
There is not enough information in the title for us to know what the issue is. You should also replace the issue template with the information it requires. Please, open a new issue.

[2016-08-05 10:11] #1722 closed, assigned to nobody

[2016-08-05 10:16] henrihallik commented on #1722
Hi, i read about exoplayer supporting .srt subtitles and found code about how to enable it from here http://emby.media/community/index.php?/topic/3688-hls-streaming-video-supports-subtitles/. But as i was looking more into the topic i found that .m3u8 can have subtitle metadata in it:
for example if you open the https://devimages.apple.com.edgekey.net/streaming/examples/bipbop_16x9/bipbop_16x9_var

[2016-08-05 10:17] henrihallik opened #1723 ".m3u8 subtitles support"
Hi, i read about exoplayer supporting .srt subtitles and found code about how to enable it from here http://emby.media/community/index.php?/topic/3688-hls-streaming-video-supports-subtitles/. But as i was looking more into the topic i found that .m3u8 can have subtitle metadata in it:
for example if you open the https://devimages.apple.com.edgekey.net/streaming/examples/bipbop_16x9/bipbop_16x9_var

[2016-08-05 10:21] AquilesCanta commented on #1722
Yes, this is already supported in exoplayer. You can chose any of the subtitles declared in the master playlist. This same HLS sample is available in the DemoApp, so you can have a look there.

[2016-08-05 10:24] henrihallik commented on #1722
Hi, thanks for quick reply. Was about to ask where i get the demo app, but
found it already. https://google.github.io/ExoPlayer/guide.html Thanks!

On Fri, Aug 5, 2016 at 1:21 PM, Santiago Seifert notifications@github.com
wrote:

[2016-08-05 16:19] ranithsachin commented on #820
Hi @Mariovc....what is the change on Wowza side u did to make this video work...help would be much appreciated

[2016-08-06 05:54] ojw28 commented on #1717
It's a known issue with V2 that live playbacks are currently starting from the wrong place. We'll fix this shortly.

[2016-08-06 05:56] ojw28 commented on #1720
The error is indicative of incorrect media data being fed into the extractor, which implies your custom DataSource isn't implemented correctly. Closing since this is not an issue with ExoPlayer itself.

[2016-08-06 05:56] #1720 closed, assigned to nobody

[2016-08-06 05:57] ojw28 commented on #1723
Yes.

[2016-08-06 05:57] #1723 closed, assigned to nobody

[2016-08-08 05:43] manishmips opened #1725 "Exoplayer is not working on Micromax MT500 android 4.1.2 ,API 16"
here is logcat of player

[code]

[2016-08-08 08:44] Mark86NL commented on #1468
What information would help you to identify and resolve this issue (f.i. manifests, etc.)? We are also experiencing this issue on a subset of devices  (f.i. Samsung SM-G361F (5.1.1); Samsung Galaxy S4 (5.0.1)).

What's special on our set-up is that we provide live streams from multiple streaming sources, using the same DRM set-up. Within one set-up this is working on all devices. On the alternativ

[2016-08-08 09:06] ojw28 commented on #1705
The application is ultimately responsible for providing the `contentId`, but you'd be correct to observe that there's no way to do this currently in V2. We'll enable this again (and possibly use the hash of the Uri as a default if the app doesn't specify one explicitly).

[2016-08-08 09:43] ojw28 commented on #1712
The sample provided works fine on a Nexus 5X I have running MTC19T (same build as in the bug report attached above). Are you certain it reproduces on that device/build combination?

[2016-08-08 09:50] ojw28 commented on #1725
Please can you upgrade the version of ExoPlayer that you're using to `1.5.9`. Does the issue still reproduce once you do that? If so, please provide the logcat output again, since we started logging something more useful in `1.5.9` for this type of failure. Please also provide a full bug report as requested in the issue template.

[2016-08-08 10:58] ShikhaAndroid opened #1726 "Exoplayer not showing video, only audio is playing"
ExoPlayer is not showing the video. I can listen the audio but video is not playing. I am using the Exoplayer in the Recyclerview.I only can see the black screen and listen to audio.I am not able to track the problem. I am playing the HLS video in the ExoPlayer.

[code]

[2016-08-08 12:01] CallBackMe opened #1727 "Can this ExoPlayer support Variable speed ?"
I want to use the player at 2.0 speed plays music ！But I couldn't find a way to set this ！

[2016-08-08 12:24] ojw28 commented on #1727
Please see #26

[2016-08-08 12:24] #1727 closed, assigned to nobody

[2016-08-08 12:36] ojw28 commented on #1726
The issue template requests quite a bit of information that is not provided here. As such, there is nothing we can do to efficiently help with your issue. Please file a new issue including the requested information if you want us to take a look. Thanks.

[2016-08-08 12:36] #1726 closed, assigned to nobody

[2016-08-08 12:54] zaky295 opened #1728 "How To Change Default Seek Time In Exoplayer"
Hi
I Integrated ExoPlayer and it runs well but i want to change its default seek time.when i click on forward button on ExoPlayer it seek to 15 sec forward and when press on previous button than i seek to -5 sec back but i want to change this default time.
i want when i click on forward button it seek to 60sec forward from current position and when i click on previous button than it seek to -15 se

[2016-08-08 13:01] cjveldkamp opened #1729 "Frame drop on Samsung Galaxy S7 when playing widevine encrypted content"
We are currently implementing the Exoplayer for our new Android App and are using Widevine Modular streams that are already used by other platforms.

On all android devices we have tested playback is OK, except the Samsung Galaxy S7 (tested with android 6.0.1). On this device we see a lot of frame drops during playback. It is also noticeable in the demo player, where you see the dob (droppedOutput

[2016-08-08 13:33] #1707 closed, assigned to nobody

[2016-08-08 13:36] ojw28 commented on #1721
Please also provide a full bug report using release `1.5.9` of ExoPlayer, shortly after reproducing the issue.

[2016-08-08 13:38] ojw28 commented on #1656
Closing due to lack of information.

[2016-08-08 13:38] #1656 closed, assigned to nobody

[2016-08-08 13:41] ojw28 commented on #1684
Please file a new issue when you're able to provide a sample stream for us to look at. It seems equally likely to me that the source content, once ads have been stitched, is inaccurate (e.g. because the sum of the segment durations in the HLS media playlist drifts over time, which would be a violation of the HLS spec). Other players not experiencing this issue is not necessarily indicative of an E

[2016-08-08 13:41] #1684 closed, assigned to nobody

[2016-08-08 13:42] #1652 closed, assigned to nobody

[2016-08-08 13:44] ojw28 commented on #1646
Fixed in `dev-v2`, which is the V2 development branch.

[2016-08-08 13:44] #1646 closed, assigned to nobody

[2016-08-08 13:45] ojw28 commented on #836
Fixed in `dev-v2`, which is the V2 development branch.

[2016-08-08 13:45] #836 closed

[2016-08-08 13:45] ojw28 commented on #426
Fixed in `dev-v2`, which is the V2 development branch.

[2016-08-08 13:45] #426 closed

[2016-08-08 13:45] #777 closed

[2016-08-08 13:46] #1041 closed

[2016-08-08 13:46] #1121 closed

[2016-08-08 13:46] #1447 closed

[2016-08-08 13:46] #592 closed

[2016-08-08 17:26] AquilesCanta commented on #1728
You should take a look at the Player Activity of the DemoApp. It is implemented there.

[2016-08-08 17:45] AquilesCanta commented on #1728
I replied erroneously before(deleted now). As @ojw28 pointed out, it is likely you will have to implement your own MediaController to that end, as those values are hardcoded and the listeners made private. I would suggest you try getting some help in a general Q&A site, as the issue tracker is for bugs and feature requests.

[2016-08-08 17:45] #1728 closed, assigned to nobody

[2016-08-08 19:02] cncb-gh commented on #1522
Any word if NVidia will be providing a fix soon?

[2016-08-08 22:25] cstew commented on #1712
Yes, I am certain that the issue shows up on that device for me.

To test, I added this as a sample to `Samples.java`:

[code]

Am I using the wrong type?

If it helps, I can also send you an apk that I've built on my machine.

[2016-08-08 23:57] ojw28 commented on #1712
Oh right, I can reproduce this now. I was assuming you were sideloading the `.srt` subtitle file (playback works correctly if you do this), but you're actually embedding the subtitle in the `.mp4` file.

There's a pretty big piece of information missing here. How are you doing the embedding? You must be using some kind of tool or utility to do that. Are you sure that the tool works correctly in th

[2016-08-09 00:24] cstew commented on #1712
You're right that the colors aren't correct in Quicktime. They do work fine in VLC and I believe they work in iOS's media player. The subtitle text does show up correctly in each of these (which is the important part for me).

I'm using Handbrake to encode the subtitles.

The issue for me is that I have a vendor that is supplying video files with embedded subtitles. These subtitles have a `<font s

[2016-08-09 07:14] MaksTuev opened #1730 "Sometimes UnrecognizedInputFormatException throws"
I use ExoPlayer  in real application and some users sometimes gets UnrecognizedInputFormatException when play mp3 file from internet or device memory. This bug elusive and I reproduce it once, after that player back to normal. Bug does not depend on android version and device.

Stacktrace:
com.google.android.exoplayer.ExoPlaybackException: com.google.android.exoplayer.extractor.ExtractorSampleSour

[2016-08-09 08:22] andrewlewis commented on #1730
You mention seeing this error when playing an MP3 file "from internet or device memory" -- just to check, have you definitely seen this with local streams? What stream were you playing the one time you managed to reproduce the error? If you see it again, please take a full bug report with `adb bugreport`. Thanks.

[2016-08-09 09:35] ojw28 commented on #1712
It should be possible for you to write a short program that strips out the HTML tags, which you could then run on the srt file before you give it to Handbrake. That's probably the easiest way you could fix this.

[2016-08-09 14:24] cstew commented on #1712
The video creation and hosting is fully outside of my control. It is good to know that an external `.srt` file will render correctly. I may have to go that route.

It is important to note that the vendor that is supplying the video to me is not using Handbrake to embed the subtitles into the video (they are using some other video encoding software).

I've been doing some more digging this morning

[2016-08-09 14:46] cstew commented on #1712
I forgot to note in that last comment, the latest video does show the correct subtitles in Quicktime and VLC on my computer.

[2016-08-09 16:51] boulaycote opened #1731 "4K content plays using android MediaPlayer, but fails with ExoPlayer"
Simply put, I can start a 4K (mp4 h264) video 3840x2160 downscaled to 1080 (the big buck bunny one) from the sdcard using the Android SDK MediaPlayer, but cannot when using ExoPlayer. There aren't any errors but all the frames after the first few ones get dropped.
- Android 4.4.2 on a SoftWinner tablet (build mars_a31s-eng 4.4.2 KOT49H 20150326 test-keys).
- ExoPlayer 1.5.9

Here is the code I use

[2016-08-09 17:37] boulaycote commented on #1731
Further investigation reveals the device may be too slow? As I removed the 30ms late barriers in `MediaCodecVideoTrackRenderer`, the video started to play at a horrible framerate. However, I'm surprised the SDK MediaPlayer even works.

[2016-08-09 17:47] peddisri opened #1732 "Question on MP3 Playback."
MP3Extractor.java has a logic to check for 4 consecutive MP3 frames to sniff the content and detect it as MP3. This is also done in synchronize API.  Is there any specific reason for this?

[2016-08-09 19:13] ojw28 commented on #1712
The issue here is that we're treating tx3g samples as though they're just text, where-as they actually consist of:
- 2 byte length N
- N bytes of text
- Optional additional boxes defining, for example, styling information.

We'll push a change shortly that parses just the N bytes of text, which will fix your issues (but wont color the subtitle as specified by the font tags). At some point in the f

[2016-08-09 19:17] cstew commented on #1712
That's excellent. Thanks again for your help!

If there's anything I can do to provide more info or assist, let me know.

[2016-08-09 20:29] wvpaf commented on #1729
Hi @cjveldkamp,
It seems that S7 has had issues keeping up for smooth playback and encryption would impact playback as well.  Have you been able to test a track encoded at a lower bitrate?
Also an ADB bugreport would be helpful.
thaks.

[2016-08-09 20:34] wvpaf commented on #1690
An ADB Bugreport might be helpful as well.

[2016-08-09 20:37] #1311 closed

[2016-08-10 07:22] andrewlewis commented on #1522
We expect the fix will be included in the next system update.

[2016-08-10 07:22] #1522 closed

[2016-08-10 07:28] andrewlewis commented on #1732
The logic is intended to (approximately) match the behavior of the platform extractor (see [MP3Extractor.cpp](https://android.googlesource.com/platform/frameworks/av/+/master/media/libstagefright/MP3Extractor.cpp)). I think the search is intended to avoid false positives -- it is very unlikely that frames would be found at the correct offsets in random data. Do you think it should work in a differ

[2016-08-10 09:07] tuananhdtu opened #1733 "How to rotate video 90 to portrait mode"
Hi.

I record my video with Media Recorder and Camera with portrait mode.
With Media Recorder, i write: mMediaRecorder.setOrientationHint(270);
With camera:   mCamera.setDisplayOrientation(90);
# The output file will see result from bottom to top

|           |
|           |
# |     ^    |

And , i use exoplayer to play mp4 file from mMediaRecorder.
# the output file will see result from left to r

[2016-08-10 11:12] yangwuan55 commented on #1216
@eshkoliGilad Are you sure the [https://gist.github.com/jmgirven/4e0ba2c7d584c8695549](First effort) can work?
I use the VariableSpeedMediaCodecAudioTrackRenderer to replace the MediaCodecVideoTrackRenderer,but it can't work,or it's my wrong?Hope to get your help.
Thanks!

[2016-08-10 17:05] #1712 closed, assigned to nobody

[2016-08-10 19:24] ojw28 commented on #1653
The link provided is either dead or geo-restricted, so we're unable to test. I'm pretty sure this is fixed in ExoPlayer V2 though. Try with the latest code from `dev-v2` branch (note: V2 is not yet completely stable, but you should be able to validate this).

[2016-08-10 19:24] #1653 closed, assigned to nobody

[2016-08-10 19:25] ojw28 commented on #1644
@AquilesCanta - Is this fixed in V2? I don't think we need to backport to V1, but we should make sure things are working correctly in V2.

[2016-08-10 19:26] ojw28 commented on #1507
Closing due to lack of required information.

[2016-08-10 19:26] #1507 closed

[2016-08-10 20:18] asapehrsson opened #1734 "Exoplayer dev-v2 - can’t sideload WebVTT subtitles"
I’m trying to sideload WebVTT subtitles, but I don’t manage to get it working:

[code]

and

[code]

I have made a small patch in SingleSampleMediaSource.java (sampleData wasn’t initialised) but it didn’t solve my problem.
The video plays nice.

Please advice

Thanks in advance

[2016-08-10 20:58] ojw28 commented on #1734
Concatenation (at least by our definition) means play one and then the other. For playing two things at once, you need to be using MergingMediaSource. Please give that a try!

[2016-08-10 21:49] djdawson3 commented on #1446
Hi,

I'm not sure if this is the correct place to put this, but I've scoured the issues for this project and this seems relevant. Anyways, I've had a similar problem as OP: Sometimes videos aboslutely refuse to play and they get stuck buffering forever.

I looked at the videos that were having this problem and I noticed that they were all very unoptimized and had a very high bitrate (15mb/s). When

[2016-08-10 23:27] mikeswanson opened #1735 "Deterministic MPEG-DASH Representation Switch"
I've implemented a custom FormatEvaluator that correctly determines which format/representation  should be selected. However, I'd like it to be called more frequently than it is, and ideally, I'd like to signal a format change deterministically (i.e. you can call me, but I'd also like to call you). When a format change is signaled, I'd like it to switch as quickly as possible. By this I mean that-

[2016-08-11 01:56] peddisri commented on #1560
@kunalbhatia  Firstly, you need to modify the WidevineTestMediaDrmCallback.java such that you override the url with your License acquisition URL  here https://github.com/google/ExoPlayer/blob/release-v1/demo/src/main/java/com/google/android/exoplayer/demo/WidevineTestMediaDrmCallback.java#L57

Can you please update this issue with a new URL (without spaces ) as requested by Google engineers here.?

[2016-08-11 07:11] andrewlewis commented on #1693
This should be fixed in `dev-v2`. There is still a known issue relating seeking and reuse of MediaPeriods which will likely be fixed in the next push. Thanks.

[2016-08-11 07:11] #1693 closed, assigned to andrewlewis

[2016-08-11 07:11] andrewlewis commented on #1719
This should be fixed in `dev-v2`. There is still a known issue relating seeking and reuse of MediaPeriods which will likely be fixed in the next push. Thanks.

[2016-08-11 07:11] #1719 closed, assigned to nobody

[2016-08-11 08:02] peyoh commented on #1653
Hello,
the issue is still there.
Sorry about the link. I've provided new one at the dev email.

[2016-08-11 08:05] lcksk commented on #700
@uplusplus  Hi, do you have a test demo  for UDP(mpeg2ts live streaming..) ?

[2016-08-11 08:18] cjveldkamp commented on #1729
Hi @wvpaf,

I have attached a bugreport file.
[bugreport.txt](https://github.com/google/ExoPlayer/files/412763/bugreport.txt)

The lowest bitrate we use for our service is 2 mbit SD (768 x 576). We use this encode for a lot of platforms, but the S7 is the only one with problems. I guess that a 2mbit encode should not be a big problem for the S7, should it?

Any suggestions based on the new informa

[2016-08-11 09:10] asapehrsson commented on #1734
Thanks for the quick response, and for pointing out MergingMediaSource. Now it works fine!

Working code:

[code]

Patch to lib to avoid NullPointerException:

[code]

[2016-08-11 09:10] #1734 closed, assigned to nobody

[2016-08-11 09:17] lcksk commented on #90
@ojw28 Do you have a demo for mpeg2ts over UDP (test case for UdpDataSource)?

[2016-08-11 09:30] ojw28 commented on #1653
I was able to reproduce in V1, but not in V2. I'm pretty sure the issue is fixed. Were you testing using the very latest `dev-v2` branch when you were able to reproduce the issue?

[2016-08-11 09:31] AquilesCanta commented on #1644
Yes, this will be fixed in V2 once the new Hls patch gets pushed.

[2016-08-11 09:32] ojw28 commented on #1074
Note - There are fixes in `1.5.10` and `2.x.x` releases of ExoPlayer that help a second root cause of BehindLiveWindowException in HLS playbacks.

[2016-08-11 09:47] lcksk opened #1736 "about udpdatasource demo"
Sorry, I'm a newbie for ExoPlayer,I need a demo to test  UDP over mpeg2TS (h264+aac,8M bitrate).
I don't  know how to use udpdatasource, any one could  provide me a simple demo similar to demo-ext ? thinks.
Any executable source code or suggestion are  appreciated.

[2016-08-11 10:10] peyoh commented on #1653
Sorry about..
I had this one: dev-2.X.X-experimental
With dev-2 is ok.
Thank you.

[2016-08-11 11:40] ghost opened #1738 "Record http Stream From ExoPlayer."

[2016-08-11 11:40] #1738 closed, assigned to nobody

[2016-08-11 11:42] Anshumansharma12 opened #1739 "Record http stream"
Hello i want to record http stream.
As am able to stream it into Exoplayer, i also want to record this stream into my phone local storage so please help me.

Thanks
Anshuman

[2016-08-11 15:42] DancinDirk opened #1740 "Migration from MultiTrackChunkSource? (1.3.3 -> 1.5.9)"
Hello Everyone,

We've been using the ExoPlayer for over a year for an HLS Audio App but recently we have been having some issues with the playback pausing for no apparent reason. One thing we were looking at was updating to the latest version but then we noticed that MultiTrackChunkSource is gone. We've searched for migration instructions but have so far come up empty. Is there a clear upgrade pa

[2016-08-11 16:39] AquilesCanta commented on #1695
Closing due to lack of requested information.

[2016-08-11 16:42] peddisri commented on #1732
Well, we have a requirement of playing a file that has 3 MP3 frames. So, it fails because of this check. In my opinion, a check for one or two frames is sufficient.

[2016-08-12 09:08] arnoutvandervorst opened #1741 "USB optical passthrough on Nvidia Shield TV"
When using Plex for Android TV on the Nvidia Shield TV system, media which contains DTS or DD audio streams are always transcoded by the Plex Media Server. The reason for this is that the player thinks the device doesn't support DTS or DD. The Plex developers point to ExoPlayer not recognising or handling the USB dongle passthrough which has been enabled on the Shield recently through a firmware u

[2016-08-12 09:21] AquilesCanta commented on #1740
It shouldn't be too complicated moving to 1.5.9(or 1.5.10) if you the DemoApp as guide, I think. The interfaces haven't changed that much. Version 2 would be a different story. What is the complication specifically? HlsRendererBuilder contains most of the details related to HLS.

[2016-08-12 09:50] ojw28 commented on #1733
There is quite a lot of discussion around this issue in https://github.com/google/ExoPlayer/issues/91. Please give that thread a read.

[2016-08-12 09:50] #1733 closed, assigned to nobody

[2016-08-12 12:51] andrewlewis commented on #1739
If this is for caching, please search the existing issues for more information.

Otherwise, this doesn't really relate to ExoPlayer, so it's outside the scope of this issue tracker. I suggest asking on a more general forum like Stack Overflow or similar.

[2016-08-12 12:51] #1739 closed, assigned to nobody

[2016-08-12 17:20] mingchen opened #1742 "assert failed on BaseRenderer.replaceStream"
**ExoPlayer version:**
dev-v2 f6fdcee9

**Device:**
Nexus 5

**OS:**
Android 6

**Description:**
When I use playlist to play a list of videos, sometime exoplayer's `onPlayerError()` get called, the type is TYPE_UNEXPECTED. before the `onPlayerError()`, exoplayer have following exception log:

[code]

[2016-08-13 14:15] rajeshgoswami2025 commented on #1464
m3u8 link --https://res.cloudinary.com/db4xehbhz/video/upload/sp_hd/v1470669815/What_is_diabetes_-_Diabetes_UK_x2y8ys.m3u8

*_getting crash when playing video on genymotion marshmallow emulator  *_
when i am playing above url it is running smooth in marshmallow (one plus one device )
com.google.android.exoplayer.ExoPlaybackException: java.lang.IndexOutOfBoundsException: Invalid index 0, size is 0

[2016-08-14 00:08] ghost opened #1743 "Exoplayer never reaches STATE_READY"
[code]

[2016-08-14 18:49] tlenclos commented on #466
Any progress of any kind of this ? @Ood-Tsen @ericcbm

[2016-08-14 21:52] #1743 closed, assigned to nobody

[2016-08-16 07:22] cjveldkamp commented on #1729
@wvpaf I was wondering if you had the time too look into my comments?

With kind regards,

Christiaan

[2016-08-16 07:27] ShikhaAndroid opened #1745 "How to make exoplayer fullscreen in the recyclerview"
I want to make exoplayer fullscreen on orientation change. any idea how to do so.

[2016-08-16 09:05] Mariovc commented on #820
@ranithsachin This problem happened on Wowza 4.4.0.1 and if you update to the latest version this will be solved.

**On 4.4.0.1 (old version):**
We have run an analysis on Wowza packetizer and we have found that all frames (I,P and B) are tagged as SYNC frames (sample_flags). In our opinion only I frames have to be tagged on that way.

[2016-08-16 10:59] ranithsachin commented on #820
@Mariovc Thank you...

[2016-08-16 12:46] gte619n opened #1746 "Restrict All Background Data"
Hello,

I have developed a music application that uses ExoPlayer for HLS streaming (in a service). Up until around ~June it was going great. We had great reviews and our customers were subscribing at good rates. All of a sudden, cancellations doubled, people left nasty comments and we had reports of the player "suddenly stopping."

After a TON of troubleshooting, updating ExoPlayer, working on som

[2016-08-16 12:49] ojw28 commented on #1746
On what information are you basing your assertion that this is enabled by default on some Samsung phones? Can you point to a source?

[2016-08-16 12:51] gte619n commented on #1746
When I started getting desperate, I went and bought an S7. That's when I could reproduce the issue; however, I had to wait for the buffer to run out to see the behavior. Probably why it only affects a subset of power users, as the buffer is very large (~40 minutes).

[2016-08-16 12:57] ojw28 commented on #1746
So you're saying it's defaulting to true across a significant number of devices, but also there are no discussions about the subject on the internet? That doesn't feel like it's particularly plausible to me. Nor would I expect a sudden burst of complaints if this were the root cause.

That aside, I think as long as you're a foreground service you probably aren't subject to background data restrict

[2016-08-16 13:21] Duna opened #1747 "Live backward seeking possibility not working"
When playing live programs the player has no possibility to seek back into the past.
I modified the code in HlsChunkSource.java -> getChunkSource

[code]

I am not able to create pull request, but if someone that is developing this player can merge this fix

[2016-08-16 13:51] gte619n commented on #1746
I agree that this all sounds preposterous. To clarify, the service is started by an activity using context.startService( serviceIntent ). The service then begins playing with a startForeground call and the notification is put in the status bar. I can see the notification at all times.

I have attached a [stacktrace](https://github.com/google/ExoPlayer/files/420378/Connection.Error.Stacktrace.zip)

[2016-08-16 14:10] ojw28 commented on #1746
I don't think you have sufficient evidence to blame the background data restriction. I could be wrong about all of the following, but I think you'd need to confirm that I am before you could justify the claim:
- I don't think foreground services count as "background" for data restriction purposes.
- There is no evidence this setting is enabled by default on a significant number of devices. Lack of

[2016-08-16 20:26] JaseElder opened #1748 "Blank SurfaceView occasionally"
Hi,

Building an interactive storybook type app, with a full screen video on each "page". The pages are fragments that each contain a SurfaceView and are replaced using a FragmentManager replace() transaction.
All videos display and play correctly, but not all the time. On occasion, when paging through, a video will appear blank, as though it's not loaded into the SurfaceView. Paging out, and then

[2016-08-16 21:09] wvpaf commented on #1729
Hi @cjveldkamp,
From the log the device seems to close down the h/w TEE driver :
08-11 09:33:04.136  3138  3583 I TeeDriverClient: driver client closed [hardware/samsung_slsi/exynos8890/mobicore/ClientLib/src/driver_client.cpp:113]

We will need to dig deeper.

[2016-08-16 21:10] wvpaf commented on #1690
@Sky35, any updates?

[2016-08-16 21:16] gte619n commented on #1746
Went back and did some more testing. I have the buffer sized to about ~3 minutes of playback time. I have tested using a T-Mobile Galaxy S6 and a Nexus 5. I have implemented a wireshark proxy on my development machine and have the application pointing at the proxy, so I can monitor the traffic. The devices are connected over wifi.

The following happens on both devices:
- Disable Background Data R

[2016-08-16 21:28] gte619n commented on #1746
One other odd sort of traffic pattern I'm seeing is that the application does not reach out for new chunks in a continuous fashion; rather, it seems to be filling the buffer, waiting to exhaust the buffer, then reaching out to refill the buffer when the buffer is nearly exhausted. This pattern is consistent when the network is available, regardless of application state. I would expect the applicat

[2016-08-16 21:55] ojw28 commented on #1746
Interesting. I did find these posts suggesting similar issues:

http://forums.androidcentral.com/samsung-galaxy-s7/655691-music-streaming-stops-pauses-galaxy-s7.html
https://community.spotify.com/t5/Android/Stops-playing-on-Samsung-Galaxy-S7-Edge/td-p/1311156

It surprises me that a foreground service counts as being in the background for data restriction purposes, but your results suggest this is

[2016-08-16 21:59] ojw28 commented on #291
Seeking in the live window will work in 2.x for both DASH and SmoothStreaming. The functionality will be present in the demo app also. We'll be merging changes to the 2.x branch this week with this functionality.

[2016-08-16 22:00] ojw28 commented on #1747
This is tracked by https://github.com/google/ExoPlayer/issues/87. We'll be working on this in 2.x.

[2016-08-16 22:00] #1747 closed, assigned to nobody

[2016-08-16 22:04] ojw28 commented on #1736
Closing since this is neither an issue nor a feature request. Unfortunately we don't have time to answer questions of this type on the issue tracker, sorry.

[2016-08-16 22:04] #1736 closed, assigned to nobody

[2016-08-16 22:12] ojw28 commented on #1740
As per the answer above, it should be fairly straightforward if you look at the difference between the demo app going from the version you're upgrading from to the current version.

[2016-08-16 22:12] #1740 closed, assigned to nobody

[2016-08-16 22:12] ojw28 commented on #1730
Closing due to lack of information.

[2016-08-16 22:12] #1730 closed, assigned to andrewlewis

[2016-08-16 22:13] ojw28 commented on #1721
@biezhihua - Please provide the requested information, or we'll close this issue. Thanks.

[2016-08-16 22:14] ojw28 commented on #1725
@manishmips28 - Please provide the requested information, or we'll close this issue. Thanks.

[2016-08-16 22:17] ojw28 commented on #1686
@saurabhkpatel - Please file a separate issue, including all of the information requested in the issue template. Closing this one.

[2016-08-16 22:17] #1686 closed, assigned to nobody

[2016-08-17 06:24] ranithsachin commented on #1333
Wowza 4.5.0 has this issue solved, but this issue is present in Wowza 4.4.1.

[2016-08-17 09:05] niclasam commented on #291
@ojw28 great news. do you have an expected timeline when release-v2 will be available?

[2016-08-17 10:13] AquilesCanta commented on #1333
@byronclark , @ranithsachin : If you really want to figure out what is going on with 4.4.1, I'd suggest you get a copy of the manifest and mp4 segments that generate the error and provide us with a link (feel free to share this info by emailing dev.exoplayer@gmail.com). We need to be deterministically able to reproduce the issue. With no more information, everything points to the media generation.

[2016-08-17 11:02] Kinoman512 opened #1750 "Exoplayer not playing audio AC3 codec"
when I start  the video plays but no audio. is exoplayer support ac3 codec?

[2016-08-17 11:17] AquilesCanta commented on #1750
I am not sure what the case is here. @andrewlewis is the voice of knowledge here but what you are trying to play is a ts that includes an ac3 encoded audio stream? Or does the playlist refer to .ac3 segments?

As a side note, unless you are using extensions, codec support depends solely on the platform on which you are playing. You can find some information about this here:

https://developer.andr

[2016-08-17 11:33] Kinoman512 commented on #1750
i have mkv video with inner audio on my sd card. i thinck my device does support codec. But how to play audio? can i add codec library? How to determine which codec is not supported programmatically?

Audio
      Format : AC-3
      Format/Info : Audio Coding 3
      Mode extension : CM (complete main)
      Format settings, Endianness : Big
      Codec ID : A_AC3
      Duration : 50 min
      Bit

[2016-08-17 11:56] AquilesCanta commented on #1750
Unfortunately, this is not Exoplayer specific and you will have to look somewhere else. I can point you to

https://developer.android.com/reference/android/media/MediaCodecList.html

and

https://github.com/google/ExoPlayer/blob/r1.5.10/library/src/main/java/com/google/android/exoplayer/MediaCodecUtil.java

[2016-08-17 11:56] #1750 closed, assigned to nobody

[2016-08-17 12:21] andrewlewis commented on #1750
Regarding adding codecs to the library: some of the [extensions](https://github.com/google/ExoPlayer/tree/release-v1/extensions) provide TrackRenderers that bundle their own software decoders, so they don't rely on platform codecs. The ExoPlayer v2 development branch has [an extension that wraps the FFmpeg library](https://github.com/google/ExoPlayer/tree/dev-v2/extensions/ffmpeg). It is possible

[2016-08-17 14:47] Kinoman512 commented on #1750
i dont know how to use this extension. Give me please example of using exentension.

[2016-08-17 15:06] cjveldkamp commented on #1729
Hi @wvpaf,

Any advice how to dig deeper from our side? Do you need more information or other logs?

with kind regards,

Christiaan

[2016-08-17 19:10] inantop commented on #1074
Note that Apple's documentation on using HTTP live streaming has 3 segments in it https://developer.apple.com/library/ios/documentation/NetworkingInternet/Conceptual/StreamingMediaGuide/UsingHTTPLiveStreaming/UsingHTTPLiveStreaming.html

I hardly think this is a content problem

[2016-08-18 01:16] ghost opened #1751 "How to change the pitch of the audio"
Hello,

I want to ask that is the ExoPlayer have the Pitch Shift function or not? I mean the function, which can change the pitch of the audio while playing the video but does not change the playback rate.

If was yes, how can I use it?

Thank you.

(Sorry for my bad English)

[2016-08-18 09:26] peteshort commented on #432
Hi @Ood-Tsen / @mjsibbald / everyone,

We are looking for a developer to create a VR video player for Gear VR which can handle 3GB videos (paid job). If you have the skills to do this, please contact me ASAP at admin@breakingfourth.com for the details.

Cheers,
Pete

[2016-08-18 11:30] staroflead opened #1752 "MP4 plays with sound but no images"
Following steps from https://google.github.io/ExoPlayer/guide.html
I placed this in build.gradle
`compile 'com.google.android.exoplayer:exoplayer:r1.5.10'`

Here is the xml of the activity :

[code]

This is activity function

[code]

I can hear the sound of the video but I cant see the video controller as well as the video itself.
The video I want to stream is a simple MP4 - it can be play native

[2016-08-18 15:20] ojw28 commented on #1752
This stream plays fine for me. It's quite high quality (1080p), so it's possible the device you're testing on isn't capable of playing it. Please provide complete information (e.g. a full bug report) as is clearly requested in the issue template.

[2016-08-18 16:22] ojw28 commented on #1074
- Is this still actually an issue in `1.5.10`? As per my comment above, we pushed some fixes as part of that release.
- I wouldn't class a non-productionized sample command as evidence of best practice. Note that they're actually overriding the default value (=5) of their own tool with a smaller value (=3) in that sample command, without giving any justification. I can't see any good reason for do

[2016-08-18 16:26] AquilesCanta commented on #1751
For devices running API 23 or later, you can send a message to the MediaCodecAudioTrackRenderer setting the playback parameters, where you include the pitch.

You can have a look at:

https://github.com/google/ExoPlayer/blob/r1.5.10/demo/src/main/java/com/google/android/exoplayer/demo/player/DemoPlayer.java

To see how messages are sent. Note that this will not work in older versions of android.

[2016-08-18 16:26] #1751 closed, assigned to nobody

[2016-08-18 19:39] Hitexroid commented on #587
@JoelSjogren

hi , thank you very much but this line of code :

`TrackRenderer renderer = new TextTrackRenderer(textSampleSource, this, getMainLooper());`

 returns this Error :

[2016-08-18 19:47] JoelSjogren commented on #587
Did you perhaps not implement TextRenderer in your activity like I did? The second argument needs to be a TextRenderer.

[2016-08-18 20:06] Hitexroid commented on #587
oh sorry i had forgotten that !

i write this code in the end of `onCreate`  of  `PlayerActivity`

`    File file = new File("storage/emulated/0/01.srt");

[code]

But not showing anything ...

[2016-08-18 20:15] JoelSjogren commented on #587
My best guess is that file loading fails silently. Maybe a '/' is missing before "storage".

[2016-08-18 20:24] Hitexroid commented on #587
i inserted '/'   `File file = new File("/storage/emulated/0/01.srt");`
but did not changed
not showing anything

i loged file.exists
thats True

sorry for my English

[2016-08-18 20:28] JoelSjogren commented on #587
Then I don't know.

[2016-08-18 20:32] Hitexroid commented on #587
oh nooooo :(
i really need to show subtitle on movie
please help me

[2016-08-19 01:04] ghost commented on #1751
Thank you. Let me check it.

[2016-08-19 02:29] staroflead commented on #1752
I have discovered that I haven't implement style to shutter and subtitle, so they covered the SurfaceView, thus result in this case. Wish the tutorial could have shown the layout structure and styles.
Thanks for swift response.

[2016-08-19 02:29] #1752 closed, assigned to nobody

[2016-08-19 02:32] MegaThomas opened #1753 "Which part shall I modify if I want to display 2 stream simultaneously?"
I'm trying to play 2 streams side-by-side. I've tried to add more `videoRenderer` (like 2 videoRenderers, 1 audioRenderers & textRenderer) in the `DemoPlayer`, but I found `ExoPlayerImpl` has `selectedTrackIndices` which limit the number of active video tracks.

I suppose I can't use 2 players since I want to efficiently sync them. Which part of the video rendering pipeline should I change besides

[2016-08-19 07:47] nezen opened #1754 "How to get volume?"
I know I can set volume by `player.sendMessage(audioRenderer, MediaCodecAudioTrackRenderer.MSG_SET_VOLUME, volume);`

But as far as I know AudioTrack do not provide a method for getting its current volume, I want to make sure if there is any workaround.

Of course one of the option is something like this:

`private float mVolume;`

`public void setVolume(final float volume){`
    `this.mVolume = v

[2016-08-19 08:06] yangwuan55 commented on #26
@all Please see [here](https://github.com/yangwuan55/ExoPlayer/tree/playbackSpeed) ,I have a implementation of variable speed for exoplayer,support the preversion of 23.

[2016-08-19 08:12] dobrusev opened #1755 "The timestamp corresponds to a time before the track was most recently resumed"
Hello team,

I'm using https://github.com/amzn/exoplayer-amazon-port which enables me to play Smooth Streaming with Playready (for some reason I can't play SS+Playready in the demo app that you have here).
I use it to play video content in amazon FireTV Stick but I see error:
`W/AudioTrack: The timestamp corresponds to a time before the track was most recently resumed: 113500000, 17341289112` ever

[2016-08-19 08:12] yangwuan55 commented on #1727
@all Please see [here](https://github.com/yangwuan55/ExoPlayer/tree/playbackSpeed) ,I have a implementation of variable speed for exoplayer,support the preversion of 23.

[2016-08-19 08:14] yangwuan55 commented on #1539
@all Please see [here](https://github.com/yangwuan55/ExoPlayer/tree/playbackSpeed) ,I have a implementation of variable speed for exoplayer,support the preversion of 23.

[2016-08-19 08:14] yangwuan55 commented on #1216
@all Please see [here](https://github.com/yangwuan55/ExoPlayer/tree/playbackSpeed) ,I have a implementation of variable speed for exoplayer,support the preversion of 23.

[2016-08-19 08:21] Hitexroid opened #1756 "how to show subtitle ?"
Hi , please help me to subtitle on ExoPlayer

i saw this Issue but not worked .

[https://github.com/google/ExoPlayer/issues/587](url)

[2016-08-19 08:23] Hitexroid commented on #1649
this is my question too !!!

[2016-08-19 09:42] AquilesCanta commented on #1756
If you are using version 1, have a look at the DemoPlayer class of the DemoApp. If you are using version 2, have a look at the PlayerActivity and go from there. Unfortunately, this issue tracker is reserved for bugs and feature requests, I'd suggest you try another Q&A such as StackOverflow for generic programming questions.

[2016-08-19 09:42] #1756 closed, assigned to nobody

[2016-08-19 09:47] ojw28 commented on #1754
The initial volume is always 1.0, and the volume is thereafter only changed if you change it. So you should always know in application code what the volume is.

For V2, we can pretty easily add a `getVolume` method to `SimpleExoPlayer` so that you don't have to keep track of it yourself.

[2016-08-19 09:49] Hitexroid commented on #1756
i have the latest version ! but not showing subtitle

 i asked question from StackOverflow yesterday and an user gave me link of ExoPlayer

[2016-08-19 09:49] ojw28 commented on #1755
We're unable to provide support for Amazon's fork. Some FireOS devices have specific issues around audio timestamps / tracking of playback position. I believe their fork is intended to work around some of those issues, but this is something you'd have to follow up with them directly on (i.e. file an issue on their fork's issue tracker, not here).

[2016-08-19 09:49] #1755 closed, assigned to nobody

[2016-08-19 10:40] #1754 closed, assigned to nobody

[2016-08-19 12:28] dobrusev commented on #1755
Hi,

Thanks for the fast reply.
I forgot to mention that I can see the same behavior with the latest ExoPlayer r1.5.10, that's why I raised the ticket here.

Can you tell me what's the reason for that error, please?

[2016-08-19 14:43] ojw28 commented on #1755
The underlying problem is an issue with FireOS / FireOS devices, hence the need for you to contact Amazon directly. Note that FireOS is not Android; it's a heavily modified fork of Android. It seems they've failed to retain proper compatibility with Android in parts of the media stack on some of their devices; hence this kind of issue.

[2016-08-19 15:00] rmprosser commented on #26
@yangwuan55 What do you mean by preversion of 23? Does your implementation work for API 16 and up?

[2016-08-21 00:43] ssaroha opened #1757 "Does exoplayer support fast start in HLS without waiting to download the full ts segment"
For fast video playback start, does exoplayer support streaming option to start playback as soon as there is X seconds buffer which is enough to show the first few frames, instead of waiting for the full ts segment (which is usually 10 seconds long) to download.

I looked into the code https://github.com/ssaroha/ExoPlayer/blob/release-v1/library/src/main/java/com/google/android/exoplayer/hls/TsChu

[2016-08-21 06:23] abhiguru opened #1758 "Internal track renderer error."
Issue : Exoplayer crashes periodically

Steps to Reproduce : play http://video.vcu.tv/86213_3b146e92bf8ca6a7c516df9024643a68/86213.mpd and occasionally the crash can be seen

The version of ExoPlayer being used : 1.5.5

Android version : 5.1 Multiple ARM devices

Full Bug Report : http://stagecms.vcu.tv/bc/temp/ytplayercrash.txt

Log messages from the crash :

[code]

[2016-08-22 02:06] cbfiddle opened #1759 "ContentDataSource fails to retain AssetFileDescriptor - file randomly closed by GC"
`ContentDataSource` calls `openAssetFileDescriptor` but fails to retain the returned `AssetFileDescriptor`. The doc for this method says that the caller is responsible for closing the asset file descriptor. The effect is that the `AssetFileDescriptor` is GCed at some random time at which point the underlying file descriptor is invalidated, causing an `IOException` if it is still in use at that tim

[2016-08-22 02:35] yangwuan55 commented on #26
@0xABC it can work on > api 17 .

[2016-08-22 06:51] kunalbhatia commented on #1560
@wvpaf, @peddisri, @pgrov

Following is the url, without spaces. You can test this link on [shaka player](https://shaka-player-demo.appspot.com/demo/), it works fine, also when i tested on exoplayer, it shows total minutes, but video doesn't play.

it shows this error: com.google.android.exoplayer.ExoPlaybackException: java.io.FileNotFoundException: https://proxy.uat.widevine.com/proxy?video_id=Te

[2016-08-22 09:07] AquilesCanta commented on #1757
No, right now this is not possible. I cannot think of an easy way of achieving this either. The chunk loading model does not fit well in this schema, I think, so it would require quite a few changes. If this is case, unfortunately, It will not get prioritized. I'll discuss this with my colleagues and reach back.

[2016-08-22 09:21] ojw28 commented on #26
Not "properly" though. It simply isn't as good of a solution as the solution provided for >= 23 in the core library, and would likely be of unacceptable quality for use by the majority of apps. Please don't advertise your solution as being a complete one (until the point at which audio plays smoothly and is pitch corrected).

[2016-08-22 09:23] ojw28 commented on #1759
Thanks for reporting this!

[2016-08-22 09:32] AquilesCanta commented on #1757
I wrote a comment before which is now deleted. If you read it, forget about it. As @ojw28 correctly points out, we start the preparation of the HlsMediaPeriod as soon as we have loaded samples from the Chunk, and this happens as we get the data downloaded. My bad. In other words, there is no need to have the whole chunk downloaded to start playback.

[2016-08-22 09:32] #1757 closed, assigned to nobody

[2016-08-22 09:58] gvidda commented on #1303
Any progress on this? I just got this issue on Nexus Player with 1.5.10 (it seems to be in the start of the media, seeking a few minutes and there's no problem). Our media is DASH with widevine.

[2016-08-22 10:11] AquilesCanta commented on #1677
This will be supported in the next push, both versions. Sorry for the delay.

NOTE that we still don't support multiple CC services, but I plan to add this relatively soon. Thanks for the samples.

[2016-08-22 10:23] GoranNSW commented on #1677
Thank you very much, that's great news!

If you need some more samples I will do my best to find them.

[2016-08-22 10:36] AquilesCanta commented on #1677
I will probably reach out when I start working on multiple CC services support. Thanks!

[2016-08-22 12:32] jonhan commented on #949
@Amritpal33 awesome! Thanks for the code samples, this really helped me get going with offline DRM.
As mentioned above, I would also like an official code sample/implementation in the Exoplayer project to achieve this.

[2016-08-22 15:14] andrewlewis commented on #1758
It looks like the H.265/HEVC codec is failing to initialize. There are a few possible causes, including: running out of device resources (due to an app not releasing the codec), a device-specific bug with the codec or an issue with the input media.

To investigate further, please could you try to reproduce this in the ExoPlayer demo app? Do other H.265/HEVC videos play reliably on this device? On

[2016-08-22 15:30] NinoDLC opened #1760 "Exoplayer demo-ext crashing (no more support on this lib ?)"
Build the demo-ext on a G3 (for example). Click any Google Glass link. After buffering, it crashes.

[code]

Also, tremendous amount of link (over the internet) are broken because you no longer use a `master` branch. For exemple, follow any link in this guide : https://google.github.io/ExoPlayer/guide.html

Finally, your https://github.com/google/ExoPlayer/blob/release-v1/CONTRIBUTING.md is pointi

[2016-08-22 17:00] kinhdang opened #1761 "Exoplayer do not play video in some device."
Hello ExoPlayer !

We using Exo to playback DAS Streaming, Almost device working perfectly. But some setopbox, after playback streaming play about 1 to 5 minute, video stop althrough audio working perfectly.
We attach log file in here. Any knows this issue, Please help ?

Thanks.
[boxchina.txt](https://github.com/google/ExoPlayer/files/430699/boxchina.txt)

[2016-08-22 23:30] mhajhassan opened #1762 "Color offset and stripe on some videos"
I have TV box with Android 4.4.4, ExoPlayer 1.5.2 and I have problem with Stream from m3u file.
The stream has over 900 channel and all is working good just some channels with high resolution got green stripe.
Color offset and stripe height is depended on video resolution.

![whatsapp image 2016-08-23 at 01 24 17](https://cloud.githubusercontent.com/assets/20266380/17875244/002b3712-68d1-11e6-8ee0

[2016-08-22 23:39] makvasic commented on #1464
Hi,

I'm having the same problem as @Marcin666 but for me it's working normally on pre lollipop devices only.

Working:
- TESLA Tablet 785 (4.2.2)
- S3 (4.4.2)

Not working:
- S4 (5.1)
- LG G3 (6.0),

which means that problem is not in low resolution screen in this case.

This is the [stream](http://148.251.85.99:1935/edutv/edutelevizija/playlist.m3u8) in question and MxPlayer plays it without any

[2016-08-23 00:36] ethanjyx opened #1763 "Question about design of MediaPresentationDescriptionParser"
Hello, I just have a question about the design of MediaPresentationDescriptionParser. When reading the code, I found the function buildFormat [here](https://github.com/google/ExoPlayer/blame/706c6908ec57005044f4b4a9f5b80266cad9eda3/library/src/main/java/com/google/android/exoplayer/dash/mpd/MediaPresentationDescriptionParser.java#L409). It appears the only thing it is doing is to do a `new Format`

[2016-08-23 04:59] workspace opened #1764 "Frame drop on Samsung Galaxy S7 when playing widevine encrypted content"
Hi. I encountered a problem when I try to apply Android M's new feature, PlaybackParams.
I put button to set PlaybackParams in latest v2 demo app. You can see my code in [this branch](https://github.com/tntcrowd/ExoPlayer/tree/dev-v2-playback-speed).
![image](https://cloud.githubusercontent.com/assets/7759511/17880014/548f4586-6931-11e6-85bb-a8593a3f164e.png)
(This image is captured from Nexus 5)

[2016-08-23 06:01] wanghc0 opened #1765 "Two white borders on the screen"
- I'm trying to use ExoPlayer in my App to play videos, but I encountered an UI Issue.
  Here are them:
  ![white_borders](https://cloud.githubusercontent.com/assets/17804057/17879740/f58d2daa-6926-11e6-81be-2bea0c3a6df9.png)

As you see, there are two white borders on the upside and downside of the screen. I have tested the same video file in the Demo App, it works fine. So, I am confused where i

[2016-08-23 09:42] AquilesCanta commented on #1464
@rajeshgoswami2025 @makvasic , when you need to report a potential bug, please open a new issue. If you think the information in another issue is useful, just provide a link to it. Otherwise it is possible that it will get overlooked. Keep this in mind.
On top of this:
@rajeshgoswami2025 : Unfortunately I cannot reproduce the issue in a device. Did you manage to achieve this? Emulators are not usu

[2016-08-23 10:10] makvasic commented on #1464
Thank you for the fast response.
I didn't open a new issue because I saw that @ojw28 is still in participant list but thanks for clarification, was wondering what was right way to go.

OK, the good thing is it's not API level dependent.
I tested other streams from @rajeshgoswami2025 and @Marcin666 and they all works without problems even on emulator (Nexus 6 API 23).

Thanks once again, cheers.

[2016-08-23 10:38] wanghc0 commented on #1765
Problem fixed.
I just applied  the AndroidManifest.xml in the ExoPlayer Demo Project, and then the problem was fixed! So happy!

[2016-08-23 10:38] #1765 closed, assigned to nobody

[2016-08-23 11:24] andrewlewis commented on #1762
To investigate further we need more information (as requested in the issue template). In particular, we need a link to a problematic stream, steps to reproduce the issue in the ExoPlayer demo app and, since this appears to be device-specific, information about the device and build on which you saw it. Does the stream play correctly in the platform's built-in media player?

[2016-08-23 12:57] ojw28 commented on #1763
Yes, it was written that way to allow extension (for provider specific extensions to the DASH manifest)..

[2016-08-23 12:57] #1763 closed, assigned to nobody

[2016-08-23 13:46] ssenanayake opened #1766 "Some HLS videos don't play - Stuck in Preparing State"
Sample Video: http://ios-streaming.cnet.com/mpx/hls/2016/08/19/747447363521/Baby_Monitor_Capsule_892578_800/Baby_Monitor_Capsule_892578_800.m3u8

Exoplayer version is 1.5.10. It remains in Preparing State. Video plays well on Safari, VLC.

[2016-08-23 15:04] Avetri opened #1767 "Don't You bother that ExoPlayer instantiates huge part of the extractors during 'sniffing'?"
Don't You bother that ExoPlayer instantiates huge part of the extractors during 'sniffing'?

sniff() isn't a static method. So the player creates an instance of extractor to sniff.
And than creates another one to play.

That instantiation is being repeated many time in the shot period before start playing. It causes high load on VM, CPU and memory in slow system with limited recources.

[2016-08-23 15:09] Avetri commented on #1767
UPD: All the extractors:

<pre>
for (int i = 0; i < extractors.length; i++) {
        try {
          extractors[i] = DEFAULT_EXTRACTOR_CLASSES.get(i).newInstance();
...
</pre>

[2016-08-23 15:13] ojw28 commented on #1767
I wouldn't classify 11 as "many". Do you have any concrete numbers on what the overhead actually is? I really wouldn't expect it to be significant; there's nothing fundamentally expensive about the extractor classes from an instantiation point of view.

As an aside, note that you can pass just the extractors that you want to use to the constructor, if you know what type of media you're playing in

[2016-08-23 15:40] Avetri commented on #1767
Ok, I understand. Thanks.
But I still think that static sniff() would be more preferable.

[2016-08-23 16:13] ojw28 commented on #1767
Without numbers there's nothing to justify that claim. I suspect the instantiation overhead is negligible (certainly compared to something like inflating a view hierarchy or instantiating a decoder, both of which I'd expect to be at least an order of magnitude more expensive).

Note also that it's non-trivial to simply make the sniff implementations static. Some of the sniff implementations requir

[2016-08-23 16:13] #1767 closed, assigned to nobody

[2016-08-23 17:31] roixa opened #1768 "seekTo() buffering data while an audio stream."
I tried to use simple implementation of exoplayer.

`exoPlayer=ExoPlayer.Factory.newInstance(RENDERER_COUNT,minBufferMs,minRebufferMs);

 DefaultUriDataSource dataSource = new DefaultUriDataSource(getApplicationContext(),
                Util.getUserAgent(getApplicationContext(), StreamService.class.getSimpleName()));

Allocator allocator = new DefaultAllocator(BUFFER_SEGMENT_SIZE);

extractorSamp

[2016-08-23 18:21] ojw28 commented on #1768
You're playing an unseekable live stream (i.e. seeking is not possible). Hence this is working as intended.

[2016-08-23 18:21] #1768 closed, assigned to nobody

[2016-08-23 18:31] ojw28 commented on #1766
This sample works fine for me in 1.5.10 using the demo app. Closing because we cannot reproduce, and because most of the requested information in the issue template was not provided.

[2016-08-23 18:31] #1766 closed, assigned to nobody

[2016-08-23 18:39] ojw28 commented on #1760
- I've fixed the three broken links (CONTRIBUTING.md will remain broken on the dev branches for now, but we'll push fixes for those too in due course).
- As for your issue, did you build the extensions correctly? You need to build them all as per their instructions. For example the VP9 instructions [here](https://github.com/google/ExoPlayer/tree/release-v1/extensions/vp9).

[2016-08-23 18:41] ojw28 commented on #1746
Closing as answered; although if you have further insights we'd be interested to learn of them!

[2016-08-23 18:41] #1746 closed, assigned to nobody

[2016-08-23 18:49] gte619n commented on #1746
Will do. Our team is working on it this week.

[2016-08-23 19:19] asadw1 commented on #1759
Is there any way you can see a stacktrace of the execution? This can help find where the GC is happening.

[2016-08-23 19:22] ojw28 commented on #1759
I'm not sure it's relevant when the GC happens. The point is that the DataSource implementations shouldn't be affected by it. We have a fix internally, and will push to GitHub soon.

[2016-08-23 19:24] asadw1 commented on #1759
Noted. Thanks!

[2016-08-23 19:42] ojw28 commented on #758
This is fixed in 2.x.

[2016-08-23 19:42] #758 closed

[2016-08-23 19:50] ojw28 commented on #699
I believe this if fixed in 1.5.10 and in 2.x.

[2016-08-23 19:50] #699 closed

[2016-08-23 19:51] #1388 closed

[2016-08-23 19:52] ojw28 commented on #1438
Closing due to lack of a sample that reproduces the issue.

[2016-08-23 19:52] #1438 closed

[2016-08-23 19:55] ojw28 commented on #865
Tracked by #490

[2016-08-23 19:55] #865 closed

[2016-08-23 19:56] #656 closed

[2016-08-23 19:58] ojw28 commented on #1628
I doubt this has anything to do with ExoPlayer. It seems more likely to be something related to the attachment of the debugger, which is outside of our control.

[2016-08-23 19:58] #1628 closed, assigned to nobody

[2016-08-23 20:03] ojw28 commented on #695
@b95505017 - We handle variable frame-rates, provided the peak/average rates aren't too high for the device. There is no way to downgrade the frame-rate. There isn't really a good way to "downgrade" the frame-rate. Specifically, it's not possible to decode every other frame (or similar) because decoding one frame typically requires decoding the previous one, because video is encoded to make use of

[2016-08-23 20:03] #695 closed

[2016-08-23 20:07] ojw28 commented on #1555
minimumUpdatePeriod in the manifest is set to 42 years, which indicates to the player that it doesn't need to refresh it. The way the manifest is setup, that's probably correct. SegmentTemplate is used, which means the player doesn't need to update the manifest to work out the location of segments as they come available. The UTCTiming element allows the player to synchronize its clock (approximate

[2016-08-23 20:07] #1555 closed

[2016-08-23 20:10] ojw28 commented on #1558
This is not something we support.

[2016-08-23 20:10] #1558 closed

[2016-08-23 20:12] ojw28 commented on #347
Please could someone attach a full bug report (captured with "adb bugreport") to this issue, captured shortly after encountering the issue using ExoPlayer's demo app v1.5.10 or later? Output from "adb logcat" is not sufficient. Thanks!

[2016-08-23 20:12] b95505017 commented on #699
@ojw28 Is this issue fixed in this commit?
https://github.com/google/ExoPlayer/commit/f1c16565d26a37848b10a3131124961e110deae3

[2016-08-23 20:13] ojw28 commented on #699
Yes, that's correct.

[2016-08-23 20:15] ojw28 commented on #1610
I think this is because the server you're hitting is using ICY rather than HTTP. There are various related issues [here](https://github.com/google/ExoPlayer/issues?utf8=%E2%9C%93&q=is%3Aissue%20ICY%20). Thanks for sharing!

[2016-08-23 20:15] #1610 closed, assigned to nobody

[2016-08-23 20:18] ojw28 commented on #1206
Closing this. Note that in 2.x this becomes far more straightforward. Rather than the buffering configuration being set in separate places for DASH/HLS/SmoothStreaming/Other, it's now managed by a single LoadControl injected when creating the ExoPlayer instance.

[2016-08-23 20:18] #1206 closed

[2016-08-23 20:19] ojw28 commented on #1027
Please file a new issue including _all_ of the information requested in the issue template if this is still a problem in v1.5.10 or later. Thanks!

[2016-08-23 20:19] #1027 closed

[2016-08-23 20:24] ojw28 commented on #90
Closing due to staleness. We do not have a demo for mpeg2ts over UDP. Our handling of UDP is very much a "best effort", as opposed to being a primary use case that we support.

[2016-08-23 20:24] #90 closed

[2016-08-23 20:25] #1570 closed

[2016-08-23 20:26] b95505017 commented on #695
@ojw28 I've notice that on Nexus 7, YouTube will try to skip 1080p60. Wondering how to achieve this.

[2016-08-23 20:30] ojw28 commented on #695
I believe they skip to keyframes as per my comment above, using a custom modification that they've made to ExoPlayer. Note that mileage of such an approach is quite dependent on how frequent keyframes are in the source media, which is outside of the control of the player. If you own both the serving and consuming sides, as in the YouTube case, then it's a little different. Note also that it's real

[2016-08-23 20:34] ojw28 commented on #1732
The fewer frames we check, the more likely we are to hit a false positive. I don't think we want to reduce the number of frames that we look for, but we should allow a match having seen fewer frames specifically in the case that end-of-stream is encountered during sniffing.

Is there any chance you could attach the file you're trying to play, or send it to `dev.exoplayer@gmail.com`? Please update

[2016-08-23 20:39] ojw28 commented on #612
Closing as stale. Please file a new issue containing all of the information requested in the issue template if this is still a problem on a more current Android build for Nexus Player. We have @wvpaf from Widevine helping out on this issue tracker, who will be able to take a look if a new issue is filed. Thanks!

[2016-08-23 20:39] #612 closed

[2016-08-23 21:05] mhajhassan commented on #1762
I have updated the information.

[2016-08-24 00:13] giangttpham opened #1769 "How to turn off video renderering?"
I want to test the a feature of the ExoPlayer on an emulator, we need the regular data flow such as feed the input buffer and process the output buffer, but we don't actually need to see playback because it's really slow in the emulator's environment. Is there anyway I can turn off the video rendering part? I don't want to disable the track, I just don't want to show it. I started by setting the s

[2016-08-24 07:01] davidarchi opened #1770 "Can not play m3u8 with android APIv 18"
Hi.
I have tried to streamming m3u8 with the link

"link"

by adding code in Sample.java:

`public static final Sample[] HLS = new Sample[] {
    new Sample("Apple master playlist",
        ""link", Util.TYPE_HLS),`

but this video cannot play with **Android APIv 18.**
It shown log like below:
`08-23 22:49:05.483 1603-1603/com.google.android.exoplayer.demo I/ExoPlayerImpl: Init 1.5.6
08-23 22:49:0

[2016-08-24 07:16] londhenamdev commented on #1695
Hello AquilesCanta,
I have the same issue as above.  I am trying to play this media (http://origin.tcmsdemo.com/94BF6635-FEF4-4702-8800-C3830A353949.m3u8) using exoplayer in android. It plays for 2 seconds and then app is crasing with same error as above.

[2016-08-24 07:21] visakhvj opened #1771 "Could not play HLS Streams in some emulators"
Hi,
I was trying to play HLS streams in some of the Android emulators like Leapdroid and bluestack.
But its not playing and got the following error log.

[code]

[2016-08-24 08:25] ojw28 commented on #1771
I don't think the log snippet you post is relevant (which is one of the reasons why our issue template explicitly requests a full bug report, not just a snippet).

That aside, this is likely an issue with the emulators rather than with ExoPlayer, so you should file issues on them rather than here. The official Android emulator does work well with ExoPlayer for recent API levels, I believe.

[2016-08-24 08:25] #1771 closed, assigned to nobody

[2016-08-24 08:32] ojw28 commented on #1769
Which emulator are you using? I was under the impression ExoPlayer performs pretty well on the official emulator running a recent API level.

If part of the player slow when running on an emulator then I'd guess it's the actual video decode. In which case you're looking for a way to replace the video decoder with something that discards the input buffers and produces dummy output buffers (cheaply)

[2016-08-24 08:32] ojw28 commented on #1770
Please provide a full bug report, as is explicitly requested in the issue template.

[2016-08-24 08:48] davidarchi commented on #1770
[log.txt](https://github.com/google/ExoPlayer/files/434327/log.txt)

Hi, I added log when reproduce this issue.
Thanks

[2016-08-24 08:51] ojw28 commented on #1770
Please attach the output of "adb bugreport" rather than "adb logcat". Is this running on an emulator or a physical device?

[2016-08-24 09:04] visakhvj commented on #1771
This is the full log of that exception. The issue is exist with the exo player demo app, when we run the APK of Bluestack or Leapdroid.

[code]

[2016-08-24 09:05] davidarchi commented on #1770
[bugreport.txt](https://github.com/google/ExoPlayer/files/434366/bugreport.txt)
I attached again.
I tested it with emulator.
Thanks

[2016-08-24 09:07] ojw28 commented on #1771
The relevant bit is:

[code]

which suggests your app and/or the emulator doesn't have network connectivity (or else is broken in a way that causes ExoPlayer to experience a lack of network connectivity). This is an issue with your setup or the emulator, not with ExoPlayer.

[2016-08-24 09:09] ojw28 commented on #1770
The emulator didn't do a good job of supporting video playback until pretty recent API levels. From your original post, it sounds as though it works properly once you get up to API level 20, although support probably becomes more robust the further you go beyond 20.

This is an issue with the emulator rather than with ExoPlayer. I don't think there are any plans to fix it for the older API levels,

[2016-08-24 09:09] #1770 closed, assigned to nobody

[2016-08-24 09:10] makvasic opened #1772 "HLS IllegalStateException only on some devices"
Hi,

I am getting this error only on Samsung Galaxy S4 (5.1) among devices that I test on (TESLA Tablet 785 (4.2.2), S3 (4.4.2), LG G3 (6.0)).
If relevant, error is present on Nexus 4 (API 16) and Nexus 5X (API 22) emulators, for Nexus 6 (API 23) and Nexus 10 (API 23) emulators work fine.

[code]

This issue is similar to #1383 which was discussed on #1385.

This is the [stream](http://148.251.85.

[2016-08-24 09:16] davidarchi commented on #1770
Thanks Ojw :D

[2016-08-24 09:22] visakhvj commented on #1771
But network connectivity is there with the emulator, and all other APIs are working fine. Only the problem occurred to EXO player.

[2016-08-24 09:38] ojw28 commented on #1771
If you look at the DefaultHttpDataSource implementation, you'll see that all it does is call through to the platform network API (HttpURLConnection). In this case the platform network API is saying that it cannot connect, and DefaultHttpDataSource is then propagating that error up. So it's not even like it's something in the ExoPlayer layer that's failing.

[2016-08-24 14:01] cbfiddle opened #1774 "Incorrect parsing of UTF-16 in ID3 frames"
The end of string detection (introduced for issue 324) looks for a pair of zero bytes. It should look for a pair of zero bytes starting at an even index, otherwise it will incorrectly parse a string whose last character encoding ends with a 0 byte.

Suggested change to `Id3Parser.indexOfEos`:

[code]

[2016-08-24 15:20] giangttpham commented on #1769
Thanks for the quick response. That's what we had in mind, I was just wondering there's already a way to do that I don't know about.

[2016-08-24 18:14] tao1 commented on #686
@tresvecesseis I am very interested by your RtpExtractor. Do you intend to submit it in near future ?

[2016-08-24 20:06] tresvecesseis commented on #686
We have finished our second version of the RtpExtractor but we are not completely happy with the design. Our RtpExtractor is very complex because it integrates a multi flow rtp muxer to have features like Unicast-Based Rapid Acquisition of Multicast RTP flows (the Alcatel Lucent proprietary version) and RTP retry for lost packet retransmission (based on RFC 4585 RTCP NACK FB messages). Our current

[2016-08-24 22:06] giangttpham commented on #1769
@ojw28  Just for some clarification, isn't the function releaseOutputBuffer() in MediaCodec is the one that's doing the rendering to surface and what's I'm supposed to modify?

[2016-08-24 22:31] ojw28 commented on #1769
releaseOutputBuffer renders an already decoded video frame to the surface, and returns the output buffer holding it so that the MediaCodec can re-use it. I don't think you can remove just that call, if that's what you mean. A MediaCodec instance has a fixed number of input and output buffers (see the first diagram [here](https://developer.android.com/reference/android/media/MediaCodec.html)). If y

[2016-08-24 23:43] peddisri commented on #1560
In WidevineMediaDrmCallback.java file  executeKeyRequest function, modify the executePost as follows

Map<String,String> headers = new HashMap<>(1);
headers.put("Content-Type", "application/octet-stream");
return Util.executePost(url, request.getData(), headers);

With this the content works. Somehow, the Expressplay server mandates the content-type HTTP header.

[2016-08-25 08:07] tao1 commented on #686
@tresvecesseis Oh yes please. I just need basic rtp extractor for MP2T.

[2016-08-25 08:19] tresvecesseis commented on #686
Dev-v1 or Dev-v2 version?

From: Laurent Sauvage notifications@github.com
Reply-To: google/ExoPlayer reply@reply.github.com
Date: Thursday 25 August 2016 at 10:08
To: google/ExoPlayer ExoPlayer@noreply.github.com
Cc: "tresvecesseis@gmail.com" tresvecesseis@gmail.com, Mention mention@noreply.github.com
Subject: Re: [google/ExoPlayer] Latency/lag while network streaming H264 via UDP... (#686)

@tres

[2016-08-25 08:46] tao1 commented on #686
V1 please

Le 25 août 2016 10:19 AM, "tresvecesseis" notifications@github.com a
écrit :

[2016-08-25 09:04] niceteg commented on #342
Greetings!
Look what I've found on the web, this  is something new I guess, you'll be  excited. More info here <http://prykirolu.granitefoundation.org/lnvilho>

See you around, teg

[2016-08-25 09:05] niceteg commented on #342
Greetings,

I've just found  some new methods to  solve the  problem  you're facing, read more here <http://sluzustishe.synchronizedswimmersnewyork.com/lndfrhs>

See you around, teg

[2016-08-25 09:14] yangwuan55 commented on #26
@ojw28  I think it's not the point.We just need this function.

[2016-08-25 09:26] arnoutvandervorst commented on #1741
Seems we have to wait for Android N to support this:
https://developer.android.com/reference/android/media/AudioFormat.html#ENCODING_IEC61937

SPMC has already implemented this and strangely enough it works on my current Nvidia Shield TV with 3.2 firmware.

[2016-08-25 10:51] kmdv181 commented on #26
Agreed with @ojw28. I've seen some quality solution of the feature, and it is a little bit more complicated in audio rendering part. At least, the patch provided does not take in attention the case when AudioTrack object is also a time source. Timestamp estimation and sanity check code should be updated there too. And that is not mentioning the pitch shift.

[2016-08-25 11:18] woniu0936 opened #1775 "java.lang.IllegalStateException: Handler (com.google.android.exoplayer.upstream.Loader$LoadTask) {3eb3ac2b} sending message to a Handler on a dead thread"
W/MessageQueue: Handler (com.google.android.exoplayer.upstream.Loader$LoadTask) {3eb3ac2b} sending message to a Handler on a dead thread
                                                                 java.lang.IllegalStateException: Handler (com.google.android.exoplayer.upstream.Loader$LoadTask) {3eb3ac2b} sending message to a Handler on a dead thread

[2016-08-25 11:20] woniu0936 commented on #1775
when i leave videoPlayerActivity，there always show the warn in log

[2016-08-25 11:31] ojw28 commented on #1775
Please see https://github.com/google/ExoPlayer/issues/426. The key points being:
- The warning is harmless and can be safely ignored.
- The warning will go away in V2.

[2016-08-25 11:31] #1775 closed, assigned to nobody

[2016-08-25 11:31] ojw28 commented on #1774
Thanks for reporting this; we'll push a fix to V1 and V2 shortly.

[2016-08-25 14:12] slamdance commented on #1741
We know the Shield supports USB/SPDIF audio and both Kodi and SPMC devs have figured out how to successfully implement it, so hopefully something can be done for ExoPlayer to implement it as well.  I doubt we will see Android N on the Shield before the end of the year.

[2016-08-25 15:49] grosalex opened #1777 "Change resolution faster with hls"
Hi,

Is there a way to switch hls resolution depending on network faster?
It takes something like 10s to get to my higher resolution when I'm having a real good connection I'd like it take only something likes 2s.

Any idea?

Regards,

[2016-08-25 15:59] AquilesCanta commented on #1695
@londhenamdev What version are you using? Is it possible that you are using an old one? I cannot reproduce it and I am inclined to think the issue is the lack of alignment of the segments (which is not a problem in version 1.5.10, I think). Please, try updating exoplayer and if the problem persists, open a new bug, providing all the information required in the issue template.

[2016-08-25 15:59] #1695 closed, assigned to AquilesCanta

[2016-08-25 16:36] AquilesCanta commented on #1772
Well... I can see three causes for this:
1. In older devices, the main profile might be unsupported. [This(#683)](https://github.com/google/ExoPlayer/issues/683) and [this(media format support)](https://developer.android.com/guide/appendix/media-formats.html) might be helpful.
2. The playlist is live. Does the issue reproduce instantly? If not, the encoding might be somehow sporadically changing s

[2016-08-25 17:52] dhaag23 commented on #1746
I'm not sure if this bug fix applies, since it doze related and this doesn't quite seem like doze, but Google has fixed a bug around keeping foreground services alive: https://code.google.com/p/android/issues/detail?id=193802

[2016-08-26 04:45] keerthikorrapati opened #1779 "I noticed a special case as shown in the below snippet:"
Please search the existing issues before filing a new one, including issues that
are closed. When filing a new issue please include all of the following, unless
you're certain that they're not useful for the particular issue being reported.
- A description of the issue.
- Steps describing how the issue can be reproduced, ideally in the ExoPlayer
  demo app.
- A link to content that reproduces the

[2016-08-26 04:45] keerthikorrapati opened #1780 "does the edge case of returning play back state as PREPARING instead of IDLE still hold true in DemoPlayer"
I noticed this edge case while getting play back state in DemoPlayer:
    int playerState = player.getPlaybackState();
    if (rendererBuildingState == RENDERER_BUILDING_STATE_BUILT && playerState == STATE_IDLE
{
      // This is an edge case where the renderers are built, but are still being passed to the
      // player's playback thread.
      return STATE_PREPARING;
}
Does this edge case still

[2016-08-26 05:05] #1779 closed, assigned to nobody

[2016-08-26 07:42] Avetri commented on #1777
I have an idea.

I think You should change length of chunks.

[2016-08-26 08:08] makvasic commented on #1772
OK thanks.
It's definitely main profile because issue does reproduce instantly on both emulators and real device.

Just a thought about toast, isn't it better to throw meaningful exception so we can handle it ourselves?

Keep up good work, cheers.

[2016-08-26 08:08] grosalex commented on #1777
Hi, thanks for your answear but how can I do that?

Regards,

[2016-08-26 08:20] Avetri commented on #1777
You can do that if You have some relation to that HLS's source.
We saw the same issue on different players in a few operator networks when admins make wrong (too long chunks, 10 second and more) configuration of chunks cutter.

[2016-08-26 08:25] grosalex commented on #1777
yes but we don't have this issu with iOs playing the same video :/

[2016-08-26 08:29] tresvecesseis commented on #686
not time to try but should work, since our last work in the v1 branch there was some changes in buffers class so if you could have problems:

`diff --git a/library/src/main/java/com/google/android/exoplayer/extractor/ExtractorSampleSource.java b/library/src/main/java/com/google/android/exoplayer/extractor/ExtractorSampleSource.java
index 78ca511..b95efdb 100644
--- a/library/src/main/java/com/goog

[2016-08-26 08:32] tresvecesseis commented on #686
No time to try but should work, there were some changes in the buffer clases about buffer reuse that could cause problems:

[code]

[2016-08-26 08:37] Avetri commented on #1777
:) It's a natural situation if we look at who is creator of HLS.
They support all the versions of standard. And have know-how to avoid problematic places like switching to another quality before chunk end.

Could You attach URL or sample of that HLS's playlists?

And somebody from the player's authors should look at this issue too.

[2016-08-26 08:43] Avetri commented on #1777
We had many issues on our hardware players with HLS. But iOs has none of them, as like as VLC (pure SW player).

[2016-08-26 08:53] grosalex commented on #1777
Ok so I think I'm going to deal with chunck length as you said.

Thanks for your time and your answears :)

[2016-08-26 09:28] AquilesCanta commented on #1772
Yes, the toast happens in the Demo app. No exception is thrown, though. You can have a look at the TrackSelector hierarchy to learn more about track support.

[2016-08-26 09:43] AquilesCanta commented on #1777
Have you tried V2? I am not sure, but since there have been many loading policy changes, you might note improvement. Give it a try and let me know how it goes.

[2016-08-26 09:48] AquilesCanta commented on #1777
Our HLS implementation is now undergoing some major design changes that should come into effect before long. So please have some patience if you encounter strange behaviors(specially regarding live content). The bug fixes have priority, so that should be solved shortly. Looking forward to your reply.

[2016-08-26 09:57] tresvecesseis commented on #179
@GoranNSW I just issued a pull request #1781 adding support for DVB subtitles, I hope you will find it useful

[2016-08-26 11:22] ojw28 commented on #1780
The case has gone away in ExoPlayer V2. It still applies as far as I'm aware in V1.

[2016-08-26 11:22] #1780 closed, assigned to nobody

[2016-08-26 11:40] gabriel-araujjo commented on #1777
Transport Streams have time synchronization in packet headers. A solution
to fast switch may be use this field.

Em 26 de ago de 2016 06:49, "Santiago Seifert" notifications@github.com
escreveu:

[2016-08-26 13:17] Geppetto76 opened #1782 "BehindLiveWindowException in HlsChunkSource -->getNextChunk"
Hi,
If I use ExoPlayer dev-v2, when I use the HLS streaming link
http://viacomitalytest-lh.akamaihd.net/i/sbshdlive_1@195657/master.m3u8

I get this error:

[code]

however with release-v1, streaming works well.

How can I fix the problem?
Thanks.

[2016-08-26 13:51] ojw28 commented on #1782
HLS is known broken in V2 currently. We'll be pushing fixes shortly.

[2016-08-26 15:12] ttencate commented on #1584
For those who found this issue through a search engine: if I'm not mistaken, that "more permanent fix in 2.x" is now on GitHub in the dev_v2 branch: https://github.com/google/ExoPlayer/commit/90b70818243bdd1a7758e50f08fcf445c6095d91

[2016-08-27 10:46] tao1 commented on #686
@tresvecesseis **Many thanks !** But I am afraid you're right regarding changes in buffers. Indeed sniff() fails even if extractRtpHeader() returns 14.
I'll try to patch your code. What did changed in buffers reuse ?

[2016-08-27 11:52] tresvecesseis commented on #686
Sorry, not in my development machine, We needed to modify the ByteArrayDataSource class, I´m not sure but i think that this part of the code has changed but it´s been more tan a year since we last touched this, try this patch:

diff --git a/library/src/main/java/com/google/android/exoplayer/upstream/ByteArrayDataSource.java b/library/src/main/java/com/google/android/exoplayer/upstream/ByteArrayDat

[2016-08-28 13:03] abhiguru commented on #1758
Actually, codec/player/device has been working okay for last 6 to 8 months on the device using the same version of Exoplayer this is a random crash that happened only once a month maybe ? it is not just HEVC codec even the AVC codec used by the Android YT player stops playing video once this crash occurs...

When it happens again I will try to get another bug report... reboot fixes the issue, I wi

[2016-08-28 16:07] BackPackerDz commented on #91
I have the same issue, please any solution ?

[2016-08-28 21:21] tao1 commented on #686
@tresvecesseis Your last patch makes it work using my version of TsOverRtpExtractor adapted for my 4K source :) Rtp headers length is 12 in my case.
Thank you so much !

[2016-08-28 21:48] tresvecesseis commented on #686
You´re welcome. In any case the code it´s a hack for a subset of the RTP packets (just to test our streams) and some assumptions could break the Exoplayer library as you had seen, we are cleaning our full RTP patch and we plan to submit it for the v2 branch, once this has been done we could backport it to the v1 branch (if times permits) so be careful with this code, it could break in many ways.

[2016-08-29 12:45] SLepUbIn opened #1783 "SegmentBase ClassCastException when parsing DASH .mpd file"
Hi,

I got the following stacktrace when trying to parse a .mpd file:

[code]

The playlist file is the following one :
http://www-itec.uni-klu.ac.at/ftp/datasets/mmsys12/BigBuckBunny/MPDs/BigBuckBunnyNonSeg_4s_isoffmain_DIS_23009_1_v_2_1c2_2011_08_30.mpd
Seems like the first SegmentBase is causing a SingleSegmentBase to be instantiated and the subsequent SegmentList urls need to cast the SingleSe

[2016-08-29 13:48] Duna opened #1784 "HlsSampleSource alternative audios"
HlsSampleSource alternative audios have the same language as the primary muxed audio even in the manifest it is different one
Issue comes from HlsSampleSource.java line 568 at buildTracks(HlsExtractorWrapper extractor)

The correct code is:

[code]

[2016-08-29 18:53] ojw28 commented on #1783
I think the mpd file is invalid. It contains SegmentBase and SegmentList elements at the same depth in the manifest, but according to the DASH spec (ISO 23009-1):

So this is a violation of the DASH spec:

[code]

A spec compliant manifest would only have the `SegmentList` element, probably like this:

[code]

[2016-08-29 19:43] hadifar opened #1785 "Emulator with lower API devices: Decoder failed and throws exception"
The following exception happen when I run [this](http://www.sample-videos.com/video/mp4/480/big_buck_bunny_480p_10mb.mp4) URL in emulator with **Nexus 10** and **API 17**. ( not happen in Android 5.0)

Also one thing to mention: In demo app if I turned off video (with Video button in PlayerActivity) the sound play.

The video information based on MediaInfo:

Video: AVC, 1280*720 (16:9), 25.000 FPS

[2016-08-30 02:23] wlc520123 opened #1786 "my own widevine video source could not playback using exoplayer demo"
Issue:

I made a widevine protection video file(mp4) use shaka-packager (https://github.com/google/shaka-packager),
 and build my own server to put the video and mpd on it.
When I add my own code in demo of exoplayer and play my video, playback failed.
The status of player changes ether from preparing to idle or from preparing to end,
while when I play videos in demo, I find that the status change

[2016-08-30 07:53] ojw28 commented on #1786
- When using DRM, you need to make sure the player is configured to use the correct license server. You'll most likely need to modify `WidevineTestMediaDrmCallback` to make it hit `https://license.uat.widevine.com/cenc/getcontentkey/widevine_test`, since that's not its default. In ExoPlayer V2 this can be configured where you add the sample to the demo app.
- We'd need a full bugreport captured fr

[2016-08-30 07:55] ojw28 commented on #1785
The emulator does not properly support media applications unless running a system image with API level 23 or greater. This is a shortcoming of the emulator, not an ExoPlayer issue. Where possible, we recommend testing media applications on physical devices rather than emulators.

[2016-08-30 07:55] #1785 closed, assigned to nobody

[2016-08-30 07:55] SLepUbIn commented on #1783
Ok, thank you very much, for your feedback

[2016-08-30 08:00] #1783 closed, assigned to nobody

[2016-08-30 08:13] tresvecesseis commented on #726
@ojw28 I've sent another pull request #1781 for the v2 branch, to support DVB subtitles, it´s much less invasive that the old one (only minimal adjustments in two files of the core library)  and I think it's a valuable addition for the European/Asian IPTV developers.

[2016-08-30 08:17] SLepUbIn opened #1787 "[Dash] Support negative @r in SegmentTimeline"
Hi,
when trying to parse this .mpd playlist from DashIf test vectors :
http://dash.edgesuite.net/dash264/TestCases/2c/qualcomm/1/MultiResMPEG2.mpd

the negative @r in `<SegmentTimeline><S d="24576" r="-1" />`
gives me an empty list of representation
method `getFirstSegmentNum()` returns 1
but trying to access a representation causes `java.lang.IndexOutOfBoundsException: Index: 0, Size: 0`
The spec

[2016-08-30 09:20] ojw28 commented on #1787
This is something we'd need to add support for. Marking as an enhancement.  It should be noted that this kind of manifest is pretty obscure. I'm fairly sure they could just omit the `SegmentTimeline` completely and inline the segment duration into the `SegmentTemplate` element, like:

[code]

As an aside, I notice you've filed a few bugs about obscure DASH manifests. What's the actual use case you

[2016-08-30 09:35] SLepUbIn commented on #1787
Hi,
and thanks for the feedback again ! It's very much appreciated.
Actually I'm only beginning to interest in the MpegDash specs.
And as you said above, the spec is very broad.
So I was trying some playlists found on the two websites I have referred to in the 2 issues I opened.
And I just happened to find some corner-cases that needed some explanations.
So everything is ok on my side, I think you

[2016-08-30 09:37] ojw28 commented on #1787
No worries, and thanks. Please do continue to report edge cases as you find them. It's useful to know of cases we don't support even if we decide that we don't want to support them. For this one, we will aim to support the case, but it's low priority since I'm not aware of any providers who are generating this style of manifest in production.

[2016-08-30 11:36] AquilesCanta commented on #1784
This will be fixed in version 1 as well in the next push.

[2016-08-30 20:55] stari4ek commented on #1332
I'd like to confirm that https://github.com/google/ExoPlayer/commit/adc7ecec098386fb75e217eea0484888a19d2484 (applied to dev-v1) fixes the issue.
Checked with 2 different streams from different providers - looks good.

Thank You

[2016-08-30 22:10] jefftinker commented on #1764
@ojw28 if you have received the logcat and videos related to this issue?  If so, can you attach them here?

[2016-08-30 22:19] jefftinker commented on #1729
Hi Christian, The information you have provided is sufficient for now. This is not the only issue we've seen with the S7, we are continuing to investigate internally.

[2016-08-30 22:24] jefftinker commented on #1621
Moacir, yes that looks right, the 500 error is a result of the invalid challenge provided to the server.

Looking at the log segment you posted in the original report, it looks like the challenge buffer you are providing may be too small:

06-22 10:54:31.847 4919-4919/? D/PRClient﹕ getKeyRequest:: playready_licacq_generate_challenge(1st) returned 0X8007007a BUFFERTOOSMALL, iLicenseQuerySizeLocal =

[2016-08-30 22:33] jefftinker commented on #1560
Your update seems to confirm that your expressplay server requires the application/octet-stream content type so the issue can be closed. Is that correct or are there any further questions?

[2016-08-30 22:47] ojw28 commented on #1560
It's possible the server simply requires the Content-Type header to be set to something (but doesn't really care what) for POST requests. We've seen the same requirement for sending POST requests on the client side when using the Cronet network stack. For this reason, we've actually just made a change in ExoPlayer V2 that sets Content-Type to application/octet-stream by default for Widevine provis

[2016-08-30 23:00] ojw28 commented on #1764
Logs shared internally. @KiminRyu, it would be helpful if you could provide a full bugreport (captured with "adb bugreport") shortly after encountering the issue, rather than just logcat output. Thanks!

[2016-08-30 23:36] GoranNSW commented on #179
Thank you for your work and for letting me know. This is going to be more than useful, it is one of the main functions I need in my project. Thank you once again!

[2016-08-30 23:56] workspace commented on #1764
@ojw28 I will try it! @jefftinker Are you interested in solving this issue? If you leave an email address, I will send you same mail with attachments. Thank you.

[2016-08-31 02:17] wlc520123 commented on #1786
from preparing to end:
08-31 10:15:02.092 16172-16172/com.example.jieyingli.exoplayerdemo I/ExoPlayerImpl: Init 1.5.10
08-31 10:15:02.094 16172-16172/com.example.jieyingli.exoplayerdemo D/EventLogger: start [0]
08-31 10:15:02.095 16172-16172/com.example.jieyingli.exoplayerdemo D/EventLogger: state [0.00, false, P]
08-31 10:15:02.096 16172-16172/com.example.jieyingli.exoplayerdemo D/EventLogger: st

[2016-08-31 02:19] wlc520123 commented on #1786
twice more:
08-31 10:18:03.683 16172-16400/com.example.jieyingli.exoplayerdemo I/gralloc.sp9860g: gralloc_unregister_buffer w:1440, h:308, f:0x1, usage:0x80000b00, ion_hnd: 0x9, cpu vir: 0x5fe36000, handle:0x60bb92c0
08-31 10:18:03.684 16172-16400/com.example.jieyingli.exoplayerdemo I/gralloc.sp9860g: gralloc_unregister_buffer w:1440, h:308, f:0x1, usage:0x80000b00, ion_hnd: 0x7, cpu vir: 0x602f60

[2016-08-31 07:07] tresvecesseis commented on #179
Let me know if it works for you, we have only tested in our streams and while we are pretty sure that the subs decoding are implemented correctly (at least for the one area case) the signaling in the PMT of the TS packet could be problematic, we are not sure if there are more ways to signal the DVB subtitles, in the past we have had problems with the AC3 audio streams being signaled differently de

[2016-08-31 07:28] wlc520123 commented on #1786
I tried the original video huoguo.mp4 using exoplayer, and it playback well.

Then I tried the video huoguoen.mp4, there has an error:
code add in sample LOCAL:

new Sample("huoguoen/mp4", "3031323334353640","widevine_test","http://192.168.1.253:8080/huoguoen.mp4", Util.TYPE_OTHER),
error log:

[code]

It indicates that the huoguoen.mp4 is a video protected with drm.

[2016-08-31 09:31] YGStar opened #1788 "Internal track renderer error."
ExoPlayer Demo version : 1.5.10

exoplayer demo app occured exception my mpd files.
i attach screen capture in debug mode when error occured.

![dash_error](https://cloud.githubusercontent.com/assets/18640101/18123496/19be2f16-6fa9-11e6-8d10-6b21f7596636.jpg)

[code]

[2016-08-31 09:45] AquilesCanta commented on #1788
Make sure you provide all information required in the issue template.

Please provide a link for us to reproduce the issue. Unfortunately, this is not enough. You can send them to dev.exoplayer@gmail.com if you don't want to post them here.

[2016-08-31 10:47] ojw28 commented on #1786
As stated previously, we need a full bug report taken shortly after reproducing the issue. Log snippets are not sufficient. A bug report is the full output of `adb bugreport`. See [here](http://stackoverflow.com/questions/26789107/how-to-write-an-android-bug-report-to-a-file-via-adb) if you need more information.

[2016-08-31 10:50] ojw28 commented on #1786
Having said that, in this case the error is pretty clear:

[code]

You need to be instantiating and injecting a `DrmSessionManager` instance into the renderers when you build the player. You can take a look at how it's done in `DashRendererBuilder` as a guide. You'll need to modify `ExtractorRendererBuilder` to do something similar, if you're trying to play a DRM protected mp4 using the demo app.

[2016-08-31 11:10] ojw28 commented on #1788
The failure suggests your mp4 files are malformed. They appear to contain atoms/boxes that define their size incorrectly. As above, we'd need access to the content to tell you exactly what's wrong.

[2016-08-31 11:11] AquilesCanta commented on #1772
Well... The checks for AVC codecs have now been added to version 2. Please give it a try(once it gets pushed) and let me know if there are any issues.

[2016-08-31 14:28] ojw28 commented on #1143
This is fixed in the `dev-v2` branch by https://github.com/google/ExoPlayer/commit/cf363f9e97a3fab647e1b9806a0f36c9717f7637.

Regarding the comment above, the issues are a little different. The sample in this issue puts the PSSH data in the MOOF but does (as far as I could tell) the keys do not rotate. For #1298 we'd need to support key rotation. Most of the plumbing for key rotation is in V2, but

[2016-08-31 14:28] #1143 closed

[2016-08-31 14:30] ojw28 commented on #557
The `dev-v2` branch now provides full multi-period DASH support.

[2016-08-31 14:30] #557 closed

[2016-08-31 14:30] ojw28 commented on #1717
This is fixed in latest `dev-v2`.

[2016-08-31 14:30] #1717 closed, assigned to nobody

[2016-08-31 14:32] ojw28 commented on #1300
This is fixed in `dev-v2`. Specifically, you can call `ExoPlayer.getCurrentTimeline` to get a `Timeline` that describes the media being played. `ExoPlayer.getCurrentWindowIndex` will tell you which window of the timeline is currently being played. You can query the timeline for details about the window, including whether it's seekable (`Window.isSeekable`).

[2016-08-31 14:32] #1300 closed

[2016-08-31 14:34] ojw28 commented on #291
Seeking in the live window is fully supported in `dev-v2` at this point, for both DASH and SmoothStreaming. The functionality is present in the demo app also.

[2016-08-31 14:34] #291 closed

[2016-08-31 14:35] ojw28 commented on #583
Fixed in `dev-v2`.

[2016-08-31 14:35] #583 closed

[2016-08-31 14:35] ojw28 commented on #1742
I suspect this is fixed in the latest `dev-v2`. Please let us know if you still see the problem. Thanks!

[2016-08-31 14:35] #1742 closed, assigned to nobody

[2016-08-31 14:37] #1632 closed, assigned to nobody

[2016-08-31 18:04] peddisri commented on #291
What about HLS?

[2016-08-31 18:11] ojw28 commented on #291
Seeking in the live window for HLS is tracked by #87. See also [this post](https://medium.com/google-exoplayer/test-8b62d50362ef#.75atfayul), in particular the last paragraph that explains why features land first for DASH, and later for HLS.

[2016-08-31 18:17] xenDev opened #1789 "Support EXT-X-DISCONTINUITY without EXT-X-DISCONTINUITY-SEQUENCE (for live HLS with version<6)"
Video playback freezes with this sample stream.
http://52.203.119.217:8180/cdn/linear/espn-new/index.m3u8

The exact error I see is "com.google.android.exoplayer.demo E/AudioTrack: Discontinuity detected [expected 24035133, got 9012800]" coinciding with the freeze.

We are simply looping through five segments with a #EXT-X-DISCONTINUITY tag. It's unclear to me if EXT-X-DISCONTINUITY-SEQUENCE is a

[2016-08-31 18:39] ojw28 commented on #1789
The HLS specification is very clear that you must include EXT-X-DISCONTINUITY-SEQUENCE in this case. Specifically:

And:

And:

The fact that EXT-X-DISCONTINUITY-SEQUENCE is pitched in the HLS spec as being useful to the client where there are multiple variants/renditions doesn't mean you can ignore MUST clauses in the specification in the single variant case. Adding EXT-X-DISCONTINUITY-SEQUENCE t

[2016-08-31 18:42] pedronveloso opened #1790 "Handle Raw Audio data [Question]"
I've looked at the documentation and I haven't found a way to handle the raw (decoded) audio. I see that there's a AudioTrack class, should that be used? And how?

My use case is that I want to do my own visualizer, don't want to rely on the OS-provided one because that one is leading to crashes on some devices, specially on Android M. With `MediaCodecAudioTrackRenderer` I have access to `processO

[2016-08-31 18:55] mhd-sln opened #1791 "HLS stream stucks at the DISCONTINUITY Tag"
Hi,

Stream stucks at the DISCONTINUITY Tag. If you view the below manifest file then the stream gets buffered until the 'wonder-woman' video and then at the end it gets stuck there.

[code]

[2016-08-31 19:11] xenDev commented on #1789
Thanks for the details but do you know why iOS devices have no issue playing the same stream.  Does Exoplayer expect the HLS stream to be a certain version compliant while the iOS players are able to support older rev?  I don't know which draft introduced EXT-X-DISCONTINUITY-SEQUENCE.

[2016-08-31 19:22] ojw28 commented on #1789
EXT-X-DISCONTINUITY was added to the spec quite a long time before EXT-X-DISCONTINUITY-SEQUENCE. It's likely that the iOS player doesn't rely on EXT-X-DISCONTINUITY-SEQUENCE as much as ExoPlayer does as a result. It's unclear to me whether or not the spec was under-specified (to the extent that the player had to "guess what to do" in some cases) prior to the addition of EXT-X-DISCONTINUITY-SEQUENC

[2016-08-31 19:23] hancockks commented on #1789
The manifest in question uses EXT-X-VERSION:3.  According to the EXT-X-VERSION:
3.4.17.  EXT-X-VERSION

   The EXT-X-VERSION tag indicates the compatibility version of the
   Playlist file.  The Playlist file, its associated media, and its
   server MUST comply with all provisions of the most-recent version of
   this document describing the protocol version indicated by the tag
   value.

The mos

[2016-08-31 19:30] ojw28 commented on #1789
Yep. So I think you can consider ExoPlayer as not supporting live streams prior to version 6 in the specific case that they include EXT-X-DISCONTINUITY tags. As per above, it seems reasonable that live stream providers shouldn't be using a spec that's 3 years old.

ExoPlayer will successfully play on-demand streams and live streams that do not include EXT-X-DISCONTINUITY tags that are prior to ver

[2016-08-31 19:33] hancockks commented on #1789
It does seem reasonable to proactively fail unsupported formats and/or versions.

[2016-08-31 20:44] endlessmind opened #1792 "Device does not provide a decoder - on everything (Android 5.1.1)"
Okey, so I was going to use the ExoPlayer for a simple app to play local mp4-file.
I've used it before to play live HLS-streams without any problem, but I couldn't get it to work this time.

I'm using the latest library and installed the latest demo on my device.
But all the demos just gives me "Device does not provice a decoder for _mime type_".
But if I go into my app that has the live HLS-strea

[2016-08-31 20:57] ojw28 commented on #1792
Can you provide a specific example of a sample video that causes this error (whether it's already listed in the demo app or not)? If you've added it to the demo app yourself, please specify how. Please also let us know specifically which version of ExoPlayer you're using ("latest" is ambiguous).

For what it's worth, the MediaFormat in the log above isn't what I'd expect to see for a regular MP4 f

[2016-08-31 21:05] ojw28 commented on #1791
You'll need to provide a working and non-geo-restricted link for us to debug this, either here or by emailing `dev.exoplayer@gmail.com` (if you email it, please update this issue to say that you've done so so that we know to look for it).

Please also provide a full bug report (i.e. the full output of `adb bugreport`) captured shortly after the stream gets stuck. This is clearly requested in the i

[2016-08-31 21:06] endlessmind commented on #1792
I just added a new sample-item to the Misc-list with the uri to a local file.
I get the same error on the default videos in the demo app.

This is the line that I added

[code]

With "the latest" I mean the latest release, I downloaded it a few hours ago.
Version 1.5.10

I've tried rebooting my device. Checked in AIDA64 to see if the decoders somehow is gone, but they where all there. I'm totally

[2016-08-31 21:16] endlessmind commented on #1792
[A short video demo](https://youtu.be/XY5ewrBNgkE)
In the second app (the one that I mentioned earlier) I open a live HLS-stream from twitch.tv.
And as you can see, it works perfectly.

[2016-08-31 21:20] ojw28 commented on #1790
The buffers passed to `processOutputBuffer` hold decoded audio. This will usually be 16 bit PCM, but in certain cases can be 8/24/32 bit PCM instead. You can look at `MediaCodecAudioTrackRenderer.pcmEncoding` to determine which case you're seeing.

As an additional note: The semantics of `processOutputBuffer` are somewhat unclear in ExoPlayer V1, which might be causing some confusion. In ExoPlayer

[2016-08-31 21:23] ojw28 commented on #1792
Thanks. Please can you attach a full bug report (i.e. the complete output of `adb bugreport`) captured shortly after experiencing the error.

[2016-08-31 21:24] ojw28 commented on #1792
Also, is your app (the one that works) using an earlier version of ExoPlayer? Do you know which, if so.

[2016-08-31 21:28] #1774 closed, assigned to nobody

[2016-08-31 21:28] #1759 closed, assigned to ojw28

[2016-08-31 21:32] endlessmind commented on #1792
[buggy_exo.txt](https://github.com/google/ExoPlayer/files/448289/buggy_exo.txt)
Here you go.

Yes, the working app uses Version 1.5.0 of ExoPlayer.

[2016-08-31 21:36] ojw28 commented on #1285
This issue is fixed properly in the `dev-v2` branch.

[2016-08-31 21:36] #1285 closed

[2016-08-31 21:49] ojw28 commented on #1792
I think our caching of decoder information has led to a lack of useful information in that bug report! Please try disabling caching by modifying [this line](https://github.com/google/ExoPlayer/blob/r1.5.10/library/src/main/java/com/google/android/exoplayer/MediaCodecUtil.java#L121) from:

[code]

to

[code]

Once you've build and installed the demo app updated to include this change, please take a

[2016-08-31 21:53] ojw28 commented on #1792
Hm, actually, it's not entirely clear that it will show the root cause after you do that. You might want to attach a debugger and work out why `getDecoderInfosInternal` in `MediaCodecUtil` is returning an empty list when called with `key.mimeType` set to `video/avc` (which I think it is doing)?

[2016-08-31 22:01] endlessmind commented on #1792
Okey,I'll do so. But it's must be on more cases than just with video/avc as it happens with all the other demos as well.

But I'll try to debug `getDecoderInfosInternal`
I've attached the new bugreport if you want to take a look at it anyway.

[buggy_exo_2.txt](https://github.com/google/ExoPlayer/files/448341/buggy_exo_2.txt)

[2016-08-31 22:05] ojw28 commented on #383
The demo app has been significantly reduced in size in ExoPlayer V2. For V1 we had:

[code]

in V2 we have:

[code]

If you ignore the files that are essentially just scaffolding (i.e. not interesting), the lines of code goes from 2246 to 910.

[2016-08-31 22:05] #383 closed

[2016-08-31 22:06] ojw28 commented on #1590
The demo app has been significantly reduced in size in ExoPlayer V2. For V1 we had:

[code]

in V2 we have:

[code]

If you ignore the files that are essentially just scaffolding (i.e. not interesting), the lines of code goes from 2246 to 910.

[2016-08-31 22:06] #1590 closed

[2016-08-31 22:09] ojw28 commented on #946
ExoPlayer V2 has a `seekToDefaultPosition()`, which will seek to the live edge for live streams. `seekTo(0)` is freed up for legitimate seeks to `t=0`. Note that we still don't support seeking in the live window for HLS (we do for DASH and SmoothStreaming), but this should land sometime fairly soon now for V2.

[2016-08-31 22:09] #946 closed

[2016-08-31 22:12] ojw28 commented on #1270
This is supported in `dev-v2`. You'll need to build a `MediaSource` for each song that you want to play, then build a `ConcatenatingMediaSource` that wraps the 10 individual `MediaSource` instances. If you then provide the `ConcatenatingMediaSource` to the player, it'll play the tracks seamlessly, maintaining a consistent buffering policy across the transitions.

[2016-08-31 22:12] #1270 closed

[2016-08-31 22:14] ojw28 commented on #1416
This is fixed for both DASH and SmoothStreaming in `dev-v2`. I'm not sure about HLS; it would likely depend on how sensibly the chunks are encoded, but closing this issue because the sample provided was a DASH stream.

[2016-08-31 22:14] #1416 closed

[2016-08-31 22:18] endlessmind commented on #1792
Okey, so it tried to play a local mp4 and this is what I found.
So when it's looking for `video/avc` if returns 2 decoders:
`OMX.qcom.video.decoder.avc` and `OMX.google.h264.decoder`

Then it tries to find `audio/mp4a-latm` and it returns:
`OMX.google.aac.decoder`

Lastly, it tries to find `video/mp4`, but it returns no decoder for it, and that's when it gives the error.

I'm not sure what the las

[2016-08-31 22:26] ojw28 commented on #1792
It's probably easiest to try with the first test video in the demo app, since then we can reproduce and see exactly what you're seeing. The logs indicate the failure occurs trying to find the `video/avc` decoder. Note `video/avc` in:

[code]

Is it definitely returning a list containing two items for `video/avc`? If so, I don't understand why the failure occurs. Follow the stack up to `MediaCodecT

[2016-08-31 22:28] pedronveloso commented on #1790
@ojw28 That answers my question, thank you! Got it working :)

The `pcmEncoding` its hidden, which made me re-implement the method that calculates it when extending `MediaCodecAudioTrackRenderer`. Not critical, but it would be useful to be able to read such property from an subclass.

[2016-08-31 22:28] #1790 closed, assigned to nobody

[2016-08-31 22:38] endlessmind commented on #1792
Okey, now I feel stupid.
While trying to google the error earlier, I must have nicked some key and commented out a line
in the `maybeInitCodec`.
While recompiling the library, I blindly click "Yes" on "Do you want to save changed in MediaCodecTrackRenderer.Java"

Well, it all works now, thanks for pointing me back to my oblivious mistake unknowingly :P
Sorry for taking up your time with such a sil

[2016-08-31 22:39] ojw28 commented on #1792
:)

[2016-08-31 22:39] #1792 closed, assigned to nobody

[2016-09-01 01:25] tresvecesseis opened #1793 "EIA608 subtitles enabled unconditionally by TsExtractor"
The TsExtractor adds a subtitle track unconditionally when it enables an H264 video track, to be able to see another type of subtitles (as in pull request #1781) I had to promote my subtitles modifying the DefaultTrackSelector.java even if there are not any EIA608 subtitles in the stream.

[code]

With the support of multiple tracks of the same type this is not longer an issue (you could select ot

[2016-09-01 05:17] YGStar commented on #1788
[test.txt](https://github.com/google/ExoPlayer/files/448866/test.txt)

thanks to reply.
i met another exception.
"com.google.android.exoplayer.upstream.Loader$UnexpectedLoaderException: Unexpected IllegalStateException: null"

but with dash.js in browser, played as well.

test mpd file attached.

[2016-09-01 08:39] wlc520123 commented on #1786
Sorry, I didn't understanding the requirment.

I add my video and mpd file in exoplayer demo,
in sample.java, added:

[code]

in SampleChooserActivity.java added:

[code]

log has none error message:

[code]

the bugreport after run exoplayer is in the attachement.
[123.txt](https://github.com/google/ExoPlayer/files/449130/123.txt)

[2016-09-01 09:07] makvasic commented on #1772
Nice,
 I just tested with latest version of demo-v2 (_commit 50527c0a7df296a78d0f6da096622d98cca03926_) and here're my findings:
For S3 and TESLA stream working normally and for others (S4, LG G3 and emulator Nexus 6 API 23) there is only audio with toast message.
![screenshot_1472715938_scaled](https://cloud.githubusercontent.com/assets/9867964/18161856/0bf639a6-7034-11e6-8280-a48a337afef1.png)
H

[2016-09-01 09:10] guillaumemarc opened #1794 "lot of drop frames want i read local movie in widevine level 3"
hi,
I use smartphone without level  1 so i use level 3 on hd content i disable the security on exoplayer do not read hd contain without level 1
it work and i can read the movie but i have lot of drop frame

[code]

sometime the video freeze during 2 second
do you have a idea to solve this issue

 i use exoplayer 1.5.6

[2016-09-01 09:43] makvasic commented on #1772
OK, actually behavior is the same as in #1464. Back then when I tested with v2 it was the same.
Again hard-coding video width value to 720 we come back to this issue.
So, it seems that 50527c0a7df296a78d0f6da096622d98cca03926 didn't bring any changes regarding #1464 :confused:

[2016-09-01 09:59] AquilesCanta commented on #1772
No, no. They are two different issues. #1464 declares an incorrect resolution(being the manifest resolution not supported), but the video is actually fine to play. This issue(#1772), on the other hand, refers to codecs that are not supported on the running device. There is no workaround for this, unfortunately, besides providing your own software decoder. Note that this is not a simple task.

In t

[2016-09-01 10:13] makvasic commented on #1772
Sorry on misunderstanding on #1464.
But as I said

which means #1772 is still present...
So, it seems that 50527c0a7df296a78d0f6da096622d98cca03926 didn't bring any changes regarding #1772 :)

[code]

[2016-09-01 10:32] AquilesCanta commented on #1772
I thought you had said:

When does the toast appear and when does the exception you pasted occur?

[2016-09-01 10:44] makvasic commented on #1772
Toast is for #1464 when manifest declares wrong resolution and we can forget about that.

Error is the same as stated in the first comment:

We are talking about latest demo-v2. Sorry for the confusion.
In short 50527c0a7df296a78d0f6da096622d98cca03926 did not fix this issue (#1772).

[2016-09-02 07:23] orbatm opened #1795 "How can i encapsulation Exoplayer to a View"
I try to encapsulation PlayerActivity to a View，but it is not fluent，can you help me ??

[2016-09-02 09:21] orbatm commented on #1795
i find my problem,...i had put 2 ExoView in my layout ,and it will be unfluent...but why.?!.only one of them is playing..

[2016-09-02 10:23] j-garin opened #1796 "[Q] MPEG-DASH from a secure storage"
Hi.

I want to use ExoPlayer to play files from a secure storage. I can get the file from the server using a GET request to a certain static endpoint with file path/name and auth token specified in the header. I am using ExoPlayer 1.5.3 with DashRendererBuilder and OkHttpDataSource from Demo app.
The mpd file loads just fine, but then ExoPlayer attempts to load mp4 files by adding <BaseURL> to the

[2016-09-02 10:25] ojw28 commented on #1796
I'm not sure what default behavior you're trying to override. If you're saying that ExoPlayer is requesting the chunks from the wrong URLs then should fix the manifest or the location of the chunks so that they're not wrong?

[2016-09-02 10:26] ojw28 commented on #1795
Closing because question is vague and does not provide sufficient information for us to be able to help.

[2016-09-02 10:26] #1795 closed, assigned to nobody

[2016-09-02 10:35] j-garin commented on #1796
I have to request all chunks from the same URL, but with different header every time (put the chunk file path into header).

[2016-09-02 10:49] norazhou commented on #1717
Can you provide the code diff? As I find that the latest dev-v2 does not support subtitles, e.g HLS + WEBVTT. However, the older version support this.

[2016-09-02 10:53] ojw28 commented on #1796
Can you put it in the query part of the URL, rather than a header? If so you could probably do that within the boundaries of the DASH spec. If not, you'll have to modify ExoPlayer at the source level to get what you want. There are a whole bunch of places you could do this. It shouldn't be particularly hard to figure out, but it's not something we support or provide an explicit convenient hook to

[2016-09-02 10:54] ojw28 commented on #1717
What does HLS with WebVTT have to do with this issue, which is about the position of playback in DASH Live streams?

[2016-09-02 10:55] norazhou commented on #1717
No..there is no relationship with this issue...I just hope WEVTT feature could work...Maybe I should open another issue about WEBVTT?

[2016-09-02 10:58] norazhou commented on #1717
Anyway, can you provide the code diff about the position of playback in live streams?

[2016-09-02 11:04] ojw28 commented on #1717
Please file separate issues for unrelated problems. Please also include all of the information requested in the issue template when you do so; thanks.

There are a whole sequence of changes that fed into fixing this, some tangentially, so it's not really a case of there being a single change. Hence there is no simple diff that "fixed this". I can point you to the code that determines the default p

[2016-09-02 11:16] norazhou commented on #1717
Thank you very much~
Also for a related issue, is this feature for right position of playback in DASH Live streams also apply to HLS and smooth streaming?

[2016-09-02 11:19] ojw28 commented on #1717
SmoothStreaming: Yes. HLS: Eventually but not yet. We prioritize DASH, as stated [here](https://medium.com/google-exoplayer/test-8b62d50362ef). A feature often lands for SmoothStreaming at the same time as for DASH because the two are quite similar (and share quite a lot of code). A feature lands later for HLS because the HLS spec is a mess.

[2016-09-02 11:49] norazhou commented on #1717
Thanks~can you inform me here when the right position for HLS live stream is fixed?

[2016-09-02 15:25] ojw28 commented on #490
Seamless looping is supported in `dev-v2`. See the change description above for information about how to do this.

We'll also be publishing a blog post next week about MediaSource composition, which will include a small section on looping media. I'd suggest subscribing to [the blog](https://medium.com/google-exoplayer) so you're notified when this happens!

[2016-09-02 15:25] #490 closed

[2016-09-03 01:17] jeprojects commented on #1796
Can you modify/rewrite the URL within exoplayer? For example with okhttp?

Example base URL in mpd:

Http://file.com?header=headervalue

Then okhttp could use the information from that URL to create the headers to something like:

Headers
Header: headervalue

Request URL
Http://file.com

[2016-09-04 10:10] geolyth commented on #466
So it is not possible to obtain MetaData for shoutcast stream?

[2016-09-04 10:43] qqli007 commented on #420
@ceetah ,how to disregard 206 partial responses?

[2016-09-05 03:33] qqli007 commented on #420
caching seems to work on dev-v2, used like this:

[code]

It works for playing an mp4 file from network even though it is unbounded request.

[2016-09-05 05:21] wlc520123 opened #1798 "how to make more sample videos to test widevine?"
Exo player demo includes some samples to test widevine, e.g.WIDEVINE DASH POLICY TESTS(GTS), WIDEVIND DASH.
How can I make  more videos to add to the exoplayer for  widevine testing? e.g.
-1. How can I make videos that playback using widevine plugin?  What key or server url should I use?
-2. Which test points should be taken care?

[2016-09-05 09:50] ojw28 commented on #1798
This question seems to be starting from a strange point (i.e. thinking there should be additional Widevine test vectors, without knowing what they should be), so it's unclear what the motivation is here really. Widevine created the current test vectors themselves, and so without information suggesting otherwise, I think it should be assumed that they cover the core use cases properly.