[2020-09-23 15:25] nirazv opened #7976 "What do I need to pass into ExoPlayer.Builder to create a player?"
ExoPlayerFactory method is deprecated in 2.12.0 instead of this they introduced [ExoPlayer.Builder](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/ExoPlayer.Builder.html)

ExoPlayer.Builder class takes few parameters

Context context, Renderer... renderers

I am confused what Renderers is what is the use of it? and How to create an instance of it?

[2020-09-23 15:25] tosam144 opened #7977 "The ongoing parameter of onNotificationPosted does not indicate to put the service in foreground"
**EDIT:**

I suspect that `onNotificationPosted` is not posted because the phone app's notification during the call is in place and thus, Exoplayer cannot post its notfication. Thus, `onNotificationPosted` is not called. Could that be the reason? If yes, where else would be an appropriate place to make a call to `startForeground` and `stopForeground` if not in `onNotificationPosted`?

**** EDIT EN

[2020-09-23 15:29] tosam144 commented on #7976
You can use:

`SimpleExoPlayer player = new SimpleExoPlayer.Builder(this).build();`

In a singelton, this would be something like:

[code]

[2020-09-23 15:31] nirazv commented on #7976
I tried this approach but what if i had to remove PlayerView and reattach the same instance to new PlayerView with everything fresh/reset except instance?

[2020-09-23 15:32] Samrobbo commented on #7973
If I'm understanding your question correctly, you want to display a video with the aspect ratio of 4:3 on a screen that is 16:9 aspect ratio.

If that's correct, the [demo app](https://github.com/google/ExoPlayer/tree/release-v2/demos/main) currently does this, so you may want to replicate that behaviour.

[2020-09-23 15:32] #7973 closed, assigned to Samrobbo

[2020-09-23 15:36] nirazv commented on #7976
and What is the different between SimpleExoPlayer.Builder vs ExoPlayer.Builder method?

[2020-09-23 15:58] Samrobbo commented on #7976
### ExoPlayer vs SimpleExoPlayer
SimpleExoPlayer has a large number of enhancements and automations to make getting started easier. It also has a number of improvements that are very valuable for media app development. Unless you are an advanced developer with very specific and large customisations, we recommend using SimpleExoPlayer.

### Builder
`SimpleExoPlayer.Builder`is the way to create a `S

[2020-09-23 16:01] Samrobbo commented on #7976
I will keep open in case i've not fully answered your question.

[2020-09-23 16:05] nirazv commented on #7976
What if I want to use ExoPlayer multiple times such as Youtube does in their app, its much faster right?. but if I create multiple instance of SimpleExoplayer (ex- more than 2 times it became slower and laggy)? it there any way I can use it exoplayer with faster way by changing just data source url?

[2020-09-23 16:09] nirazv commented on #7976
I am still not understood what renderer is? or how it helps exoplayer?

And how to initialize it as following:
ExoPlayer player = new ExoPlayer.Builder(context, Renderers???? how to pass here??)

[2020-09-23 16:55] Samrobbo commented on #7974
Please edit the template to actually answer the headings.

[2020-09-23 16:55] ahmetberkinc commented on #7962
No i don't have an image named exo_subtitle. These are my custom_controller.xml codes.

<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:layout_width="match_parent"
    android:layout_height="wrap_content"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    android:

[2020-09-23 18:00] AquilesCanta commented on #7976
Hi @nirazv, I suggest you share with us the code you were using to instantiate ExoPlayer before 2.12, and we will provide you with the equivalent 2.12 code. Does that work for you?

[2020-09-23 18:20] nirazv commented on #7976
`renderers = ???? // how to intitialize`
`player = new ExoPlayer.Builder(context, renderers)`
                `.setMediaSourceFactory(new DefaultMediaSourceFactory(cacheDataSourceFactory))`
                `.build();`

[2020-09-23 20:10] marcbaechinger commented on #7977
Interesting case. I agree we should not crash.

Is `onNotificationPosted` not called at all, or is it called with `ongoing == false`?

I'm asking because I'd expect that the phone call should not make a difference regarding preparing the player.  It probably does not allow to set `playWhenReady` to true, but it should prepare normally and enter `STATE_BUFFERING` and 'STATE_READY'. But when `playWh

[2020-09-23 20:22] marcbaechinger commented on #7972
Please check the [section about the `PlayerControlView`](https://exoplayer.dev/ui-components.html#player-control-views) in the developer guide. It tells how you can find the view in your activity.

We can not support general Android UI development in this issue tracker I'm afraid. If you think it is related to the player view specifically, please provide complete information as requested in the is

[2020-09-23 21:38] ojw28 commented on #7911
There's nothing in the specification that says you shouldn't define it for VOD streams. I think it becomes purely informational in that case, at least if you assume that the value is in the past, which I think will be true for your case.

I wouldn't have thought it's best practice to always include it. For something like a VOD movie it's probably not meaningful. For a VOD snapshot of some content

[2020-09-23 22:07] marcbaechinger commented on #7964
Thanks for flagging this. I see the same behavior. We are setting a pending intent to [NotificationCompat.Builder.setDeleteIntent](https://developer.android.com/reference/androidx/core/app/NotificationCompat.Builder#setDeleteIntent(android.app.PendingIntent)) of the builder, which results in a broadcast of that intent with action `com.google.android.exoplayer.dismiss`. With API 30 we don't receive

[2020-09-23 23:52] rishun-fsi commented on #7886
I could not reproduce this issue on BRAVIA 4K 2015 Android 7.0 (build: SVP4KDTV15_JP-user 7.0 NRD91N.S35 5.435 release-keys).
Currently, I have not any other devices to check the issue. Could you give me some of your opinions about I sent you a bug report before?

[2020-09-24 03:48] nirazv commented on #867
Can someone please help me to use ExoPlayer with ViewPager2 using RecyclerViewAdAPTER?

[2020-09-24 06:35] strangesource opened #7978 "Is there a way to download metadata (duration) for all MediaItems in a playlist?"
### Searched documentation and issues
StackOverflow, Issues, Documentation, Blog

### Question
When loading/playing a playlist using the new playlist api introduced in 2.12.0, only data for the first item is loaded up until a few seconds before the transition to the next item happens. `Window.durationMs` from the second item stays `C.TIME_UNSET` until this point.

While this is perfectly fine for

[2020-09-24 08:04] xiaochedexinyang1 opened #7979 "How To Synchronizing Playing Multiple Audio 2.12.0"
I wanted to use exoplayer to play three music at the same time, but I found that it was not played at the same time. There was some time lag between them. What can I do so that there is no time difference 。I use the [#4261](https://github.com/google/ExoPlayer/issues/4261)but it not solve。

This is the code I use
[code]
Thanks in advance!

[2020-09-24 08:33] tosam144 commented on #7977
Yes, `onNotificationPosted` never gets called. That's the problem. I have created a minimal Android project with which you can easily reproduce this behavior:

[EPTest.zip](https://github.com/google/ExoPlayer/files/5274566/EPTest.zip)

The steps are:

1) Launch the app on the test device.
2) Initiate a phone call to the test device.
3) Set a breakpoint in `onNotificationPosted`.
4) Press the "Butt

[2020-09-24 09:57] Samrobbo commented on #7974
You duplicated in new issue #7979.

[2020-09-24 09:57] #7974 closed, assigned to Samrobbo

[2020-09-24 10:47] vickyexpert opened #7980 "Why is ExoPlayer not switching to different bitrate in auto mode for HLS videos?"
Hello All,
             I have HLS videos with pre-signed URL of s3 bucket. I have created different different bitrates videos with one master .M3U8 file which can select the appropriate bitrate m3u8 file.

But I have checked that it is not switching from 720p to 1080p or 576p. I have 3 bitrates like

[code]

But it is taking only Video_2D_720p_1000k.m3u8, not switching to another even internet sp

[2020-09-24 11:15] xiaochedexinyang1 commented on #7951
the #4261[](https://github.com/google/ExoPlayer/issues/4261) may you want

[2020-09-24 12:10] Ste-RH opened #7981 "Atom.TYPE_st3d - Add support for 'Stereoscopic Right-Left' (integer value 4)"
### [REQUIRED] Use case description
I think there maybe a missing element when interrogating the 'Atom.TYPE_st3d'  in 'AtomParser.java'

The st3d description [https://github.com/google/spatial-media/blob/master/docs/spherical-video-v2-rfc.md#stereoscopic-3d-video-box-st3d](https://github.com/google/spatial-media/blob/master/docs/spherical-video-v2-rfc.md#stereoscopic-3d-video-box-st3d) described '

[2020-09-24 12:16] Prateek-Kapoor commented on #7971
Hello, I request you to please have a look at this issue, we kind of a stuck on this from quite a time.
Thanks

[2020-09-24 12:22] blonsky95 opened #7982 "Why is video playback speed delayed when changing and not instant?"
Hi there,

I only post this question here because I have had no luck in Stack Overflow and I've read everything I've been able to found in Exoplayer docs.

I'm using the Exoplayer PlaybackParameters in my app to change the speed of the video playback. However the speed change is only carried out a considerable amount of frames later (I guess it waits for closest sync point?).

I am aware that when

[2020-09-24 12:32] strangesource commented on #7978
I just found this:
`SimpleExoPlayer.setUseLazyPreparation(false)` but unfortunately it does not work for progressive sources. Is that a known limitation? 🤔

[2020-09-24 12:34] marcbaechinger commented on #7978
Yes, it's the intended default behaviour to prepare lazily. You can change this by setting

[code]

in this case all media items are prepared as soon as you add them to the playlist. As soon as an media source that is created for an item has preparation completed, a `onTimelineChanged` event is sent to your app with `TIMELINE_CHANGE_REASON_SOURCE_UPDATE`. There is no guarantee in what order these

[2020-09-24 12:36] marcbaechinger commented on #7978
:) We just cross posted. That should work though. That's not a known limitation. That would be a bug if not working. I'll look into that :)

[2020-09-24 12:38] marcbaechinger commented on #7977
Thanks for confirming! I look into that. Can you send me a bug report right after you did that with your app? I can test with the demo app.

[2020-09-24 12:45] Stonos opened #7983 "CastPlayer.getDuration() returns -1000 for live streams"
### [REQUIRED] Issue description
`CastPlayer.getDuration()` always seems to return `-1000` when casting a live stream. This duration eventually becomes  the `TimeBar`'s duration, which causes the scrubber to disappear, leaving you unable to timeshift the live stream.

I have tried setting the `StreamType` to `MediaInfo.STREAM_TYPE_LIVE`, but it didn't help.

A possible workaround seems to be:
[cod

[2020-09-24 12:50] tonihei commented on #7969
Glad you found the `canSelectFormat` method useful :)

Just to provide some background: The player buffers media up to maximum configured value in `DefaultLoadControl` (which is 50 seconds by default). If you update your selection by changing the logic in `canSelectFormat`, it only applies to newly loaded media chunks. So for the user, the new decision won't be visible until all the previously loa

[2020-09-24 12:53] changxiangzhong commented on #7969
@tonihei Thank you!

This the the change I've made.
![image](https://user-images.githubusercontent.com/5352145/94186707-4f33a680-fea7-11ea-9454-41157caf0c46.png)

We found an interesting property `minDurationToRetainAfterDiscardMs`, It's comments is as following. We suspect it's the safe margin to keep the ABR smooth, i.e. avoid getting rebuffers.
[code]

With this solution, we are getting more AN

[2020-09-24 13:31] strangesource commented on #7978
Thanks for the fast answer!!! Much appreciated. I will have another look into the Issue I am having with the progressive source.

[2020-09-24 13:34] marcbaechinger commented on #7978
I created a playlist with 4 items. With the default configuration the first two items are prepared initially (the media is quite short that's why the second item is prepared as well). But then it waits until playback advances to prepare the third and fourth item.

The third item is prepared after about 69 seconds:
[code]

When setting `useLazyPreparation` to false, all media sources are prepared i

[2020-09-24 13:42] Samrobbo commented on #7967
A patch will be available shortly that corrects this issue.

[2020-09-24 13:49] strangesource commented on #7978
I was able to reproduce my observed behaviour in the plain ExoPlayer with the these two `MediaSource` items:

[code]
And ` setUseLazyPreparation(false)`.

Duration is only available shortly before switching to the next source.

Here is the log you requested, hope that helps. 🙂
[log.txt](https://github.com/google/ExoPlayer/files/5276490/log.txt)

[2020-09-24 13:55] Samrobbo commented on #7981
Hi

Thanks for your request. You are correct that there is a missing element, however as this is a fairly niche area it's unlikely that we will have the time to work on it in the near future.

We would be happy to accept a high quality pull request that adds this functionality. For reference, aside from changes to `AtomParsers`, changes may need to be made to the `MatroskaExtractor` and the `Proje

[2020-09-24 13:56] adamstyrc opened #7984 "Failed to initialize decoder: c2.android.mpeg4.decoder"
### [REQUIRED] Issue description
On **Pixel 3** and probably 3a (**Android 10**) some mp4 videos cannot be played because of failed decoder initialization. On other android os or devices, they work. They also work on iOS and desktop. Link to video:
[https://cdn.vidcamera.io/videos/78/22/55/88/5f5b902f7fc0061dc0b5e4e6/78225588-e2ca-4fa7-9a39-aa5b0a1bd09c.mp4](https://cdn.vidcamera.io/videos/78/22/5

[2020-09-24 14:58] marcbaechinger commented on #7978
Seems like my media was too short and my sample was misleading. Sorry about this. You are right. For progressive media sources, the first real media period needs to be prepared. This does not happen at the preparation time of the source. Only adaptive media have the duration available immediately at source preparation.

I'm sorry for any inconvenience caused. We have issue #4727 which covers this

[2020-09-24 16:28] tosam144 commented on #7977
Attached is the bug report with:
1) Incoming phone call active
2) Start streaming using `startForegroundService`

[bugreport-2020-09-24-18-23-04.zip](https://github.com/google/ExoPlayer/files/5277652/bugreport-2020-09-24-18-23-04.zip)

Thanks for looking into it. Hope it can be soon as we a re right before our app release :-)

[2020-09-24 16:57] Samrobbo commented on #7982
Hi, could you try calling [setEnableAudioTrackPlaybackParams(true)](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/DefaultRenderersFactory.html#setEnableAudioTrackPlaybackParams-boolean-) on your `DefaultRenderersFactory` and see if that makes a difference.

If you don't already have `DefaultRenderersFactory`, initialize and pass it into the constructor of the builder when creat

[2020-09-24 17:08] Samrobbo commented on #7976
Given your code snippet, you could instead use this:

[code]

`SimpleExoPlayer` is a subclass of `ExoPlayer`, so has all the functionality of `ExoPlayer` plus more!

Alternatively, if you wish to avoid the SimpleExoPlayer, you can create a [`DefaultRenderersFactory`](exoplayer.dev/doc/reference/com/google/android/exoplayer2/DefaultRenderersFactory.html) and call [`createRenderers`](https://exoplay

[2020-09-24 17:25] ridanasif commented on #7951
Thank you but can you show a simple example? Because I need to do both syncing the videos with audio and setting speed of each video clips.

[2020-09-24 17:33] ridanasif commented on #7951
Yes I tried the former method that you have suggested but it seems that the time taken to transcode the video is a bit long. Yes I do transcode and encode the video from the server if the user is to upload the video to the server, that is.  But this is just a preview of the video that they have taken.  Transcoding takes long,  And I have to do it for each of the video clips, which I don't think is

[2020-09-24 18:36] marcbaechinger commented on #7977
It's very odd. As I expected, ExoPlayer prepares normally. It takes more than ten seconds from when the player is ready to when the service is shut down. The first notification should be posted when going to state BUFFERING. I look into this some closer. Thanks!

[code]

[2020-09-24 19:15] tosam144 commented on #7977
According to [Android docs](https://developer.android.com/about/versions/oreo/android-8.0-changes.html), `startForeground` must be called within 5 seconds before an exception is thrown:

Not sure if that is the reason for the 10 seconds delay you were talking about.

As I said, I suspect that the phone app's notification during active calls does not allow Exoplayer to post its notification for som

[2020-09-24 19:16] marcbaechinger commented on #7977
I can reproduce the behaviour of the app crashing with the `onNotificationPosted` callback like you have it. However, I can fix that with the following code:

[code]

This means that the callback is called with `ongoing=false` which is a consequence of ExoPlayer not being able to grab the audio focus while a phone call. When I change the code as above it works for me.

[2020-09-24 19:22] marcbaechinger commented on #7977
Our messages just crossed :)

Yes, sure that's the reason for the delay. I was wondering whether the phone call makes this delay shorter and ExoPlayer does not have time to place the notification. But with that delay it should work as expected. My testing with the code abuve shows actually that my guess seems to be true.

The notification is posted with notificationId 1 as expected. This makes the

[2020-09-24 19:29] tosam144 commented on #7977
Yeah, I saw our messages crossing :-)

Sure I can add the code to `onNotificationPosted` but the problem is, it does not get called, so it doesn't matter what I put in. I am testing with the small testing app I have attached in my previous comment.

[2020-09-24 19:42] tosam144 commented on #7977
OK, I have to revise my comment. You're right, with your code in place the app does not crash anymore. Here is the new bug report:

[bugreport-2020-09-24-21-38-33.zip](https://github.com/google/ExoPlayer/files/5278736/bugreport-2020-09-24-21-38-33.zip)

[2020-09-24 19:44] marcbaechinger commented on #7977
Perfect! That should help for your release! :) I already have a fix in place to make sure that ongoing is always true for the first notification. That should remove the problem even without that flag. Thanks for reporting and helping diagnosing!

[2020-09-24 19:46] tosam144 commented on #7977
Great, good news. I am just surprised that for example an active call with skype won't cause this behavior, just the phone app?!

When are you going to release the fix?

[2020-09-24 19:50] marcbaechinger commented on #7977
I think it will land on dev-2 pretty soon I think. Latest early next week or so. This issue will be updated with the commit number. I'm not sure when this will land in the release branch though.

Sorry in advance if it won't be soon enough for your release. But if you place the flag as above there will be no harm even if you don't remove it once you update.  :)

[2020-09-24 19:52] marcbaechinger commented on #7977
This does the trick in `PlayerNotificationManager`. No guarantee that this is what lands in the source tree though. But if you want to compile it yourself, that should work.
[code]

[2020-09-24 19:52] tosam144 commented on #7977
Ok great, if your fix does the same thing, I won't wait. Thank you so much for your prompt and excellent help, @marcbaechinger !

[2020-09-24 19:54] tosam144 commented on #7977
No thanks. :-D

[2020-09-24 20:13] marcbaechinger commented on #7977
Marked as bug as we say the following in the JavaDoc of the `onNotificationPosted` callback: `For a service, the {@code ongoing} flag can be used as an indicator as to whether it should be in the foreground.`

[2020-09-24 20:41] marcbaechinger commented on #7951
Agreed that for a preview the sync approach seems helpful. But I can't really provide you with support for such an advanced and specific topic I'm afraid. #4261 seems like a good start like @xiaochedexinyang1 (thanks!) suggested. I'll leave this issue open for while in case someone else wants to give some advice.

[2020-09-24 20:43] bhjortsberg opened #7985 "ParserException for DASH Subtitles (WebVTT in MP4 container)"
### [REQUIRED] Issue description

This stream worked fine in 2.11.8
https://storage.googleapis.com/shaka-demo-assets/angel-one/dash.mpd

On ExoPlayer 2.12.0 I get this:
[code]

### [REQUIRED] Reproduction steps

Stream https://storage.googleapis.com/shaka-demo-assets/angel-one/dash.mpd
and select any of the subtitle tracks.

### [REQUIRED] Link to test content

https://storage.googleapis.com/shaka

[2020-09-24 23:38] marcbaechinger commented on #7985
The dash stream defines text tracks in `application/mp4` and the stack trace suggests that the `WebvttParserUtil` reads a binary file while expecting a text file. ExoPlayer supports separate [text tracks for text mime types](https://exoplayer.dev/supported-formats.html#standalone-subtitle-formats) as documented in the developer guide.

[2020-09-25 01:55] xiaochedexinyang1 commented on #7951
you can use MediaCodecAudioRenderer like #4261 is MultiMediaCodecAudioRenderer to get AudioSink and to change track speed .it have setPlaybackParameters and setVolume

[2020-09-25 02:50] nirazv commented on #7976
What if i wants to Reuse renderer?
[Reusing renderer] How to Reuse PlayerView instance for multiple Videos?

[2020-09-25 03:37] greatktv commented on #7967
https://github.com/google/ExoPlayer/commit/b293cf2a76b6181fd8c4261c74d5a705f24eb739
Is this the patch for same issue?

[2020-09-25 05:12] strangesource commented on #7978
Thanks @marcbaechinger, this helped me out a lot. The workaround propposed in the issue might work for us as well. 👍

[2020-09-25 05:12] #7978 closed, assigned to marcbaechinger

[2020-09-25 07:57] xiaochedexinyang1 commented on #7979
Can anyone answer my question? thanks

[2020-09-25 09:20] Samrobbo commented on #7976
If you want to reuse the `Renderer[]`, just keep a reference to it when you pass it into the `ExoPlayer.Builder`.

[2020-09-25 10:35] Samrobbo commented on #7970
Hi, without an example piece of media, it will be hard for us to diagnose the problem.

 If you're unable to share test content publicly, please send them to dev.exoplayer@gmail.com using a subject in the format "Issue #1234", where "#1234" should be replaced with your issue number. Please also update this issue to indicate you’ve done this.

[2020-09-25 10:47] CipherGit opened #7986 "Unable to play DRM or Encrypted Content on Asus Nexus 7"
### [REQUIRED] Issue description
We have reports that some of our users are unable to play any encrypted content on this device.
We managed to get a test device and installed the Exoplayer demo app. So far, we've seen similar playback errors.

Everytime we tried playing DRM content, we receive this error:

`Caused by: com.google.android.exoplayer2.drm.DrmSession$DrmSessionException: com.google.and

[2020-09-25 11:47] ojw28 commented on #7976
To clarify, if you want to do this, just:

1. Call `playerView.setPlayer(null)` to remove the player from the old view.
1. Call `player.stop()` to reset the player.
1. Call `playerView.setPlayer(player)` to attach the player to the new view.

You really don't need to be messing around with renderers at all.

[2020-09-25 11:57] marcbaechinger commented on #7985
Seems like I'm wrong and this worked before 2.12. Thanks @icbaker for letting me know. :)

[2020-09-25 11:59] icbaker commented on #7985
Yep - i can repro that the stream you provided works on 2.11.8 and plays on 2.12 but without functioning subtitles (and with stack traces in logcat similar to the ones you posted).

I'll dig further in and work out what's changed here to cause the regression - thanks for the report!

[2020-09-25 13:20] tosam144 opened #7987 "Is there a demo for streaming foreground service?"
In the official demo app of Exoplayer I cannot find any code on how to implement a streaming foreground service. I do see the `DemoDownloadService` but I am missing an audio streaming demo, that is, something like

`class DemoStreamingService extends Service {...}`

which is bound to some PlayerActivtiy and started via `Util.startForegroundService`. Where can I find a demo for that? Thanks!

[2020-09-25 13:34] blonsky95 commented on #7982
Hi Sam thanks for helping me out,

I just did that and I've been playing around with it for a bit, and it does make it work much quicker, however it doesnt make a smooth transition from the old speed to the new one, and its a bit more clunky:

e.g. if I go speed 1.0 to speed 0.3 in one step, the frames freeze for a second and then start playing at 0.3, and everytime you seek a point in the video (

[2020-09-25 14:00] Samrobbo commented on #7982
@andrewlewis You worked on the speed adjustment stuff, do you know why that might be happening?

[2020-09-25 14:38] Artman12 commented on #7970
I've sent a google drive uri pointing to MKV video file to dev.exoplayer@gmail.com

[2020-09-25 15:42] #7949 closed, assigned to kim-vde

[2020-09-25 15:43] #7858 closed, assigned to kim-vde

[2020-09-25 15:43] #7865 closed, assigned to kim-vde

[2020-09-25 15:43] #7871 closed, assigned to kim-vde

[2020-09-25 15:44] #7883 closed, assigned to kim-vde

[2020-09-25 16:05] andrewlewis commented on #7956
Thanks for reporting this. The pending content position wasn't cleared when there was a fetch error (for an empty ad group), so we wouldn't send an updated player position to the IMA SDK after that, preventing loading later ad groups. There is a possible fix in review and this issue will be updated once it's available on the development branch.

[2020-09-25 16:18] AquilesCanta commented on #7986
We've been able to reproduce the issue on our side, so I suspect this is not specific to your device. Nexus7 is no longer supported so perhaps this is related to the Widevine license server not liking the the issued license request. @rrfrias do you know anything about what could be causing an HTTP 400 for Nexus7 specifically?

[2020-09-25 16:18] andrewlewis commented on #7961
Would it meet your needs if there were a setter for that MIME types to include for `C.TYPE_OTHER` content types on `ImaAdsLoader.Builder`? The DASH/HLS types would continue to work in the same way.

Yes.

Not all getters/setters make sense though as the IMA extension places extra restrictions (`setEnablePreloading` comes to mind -- the extension relies on this being enabled). I think the important

[2020-09-25 16:24] veljkomih commented on #7984
From this log there is a problem with parameters passed to MediaCodec. Some mandatory fields are probably missing for Video decoding. Here is the list of all necessary parameters (those that don't have optional next to, are mandatory) https://developer.android.com/reference/android/media/MediaFormat. I've checked in the AOSP code, these params are the only mandatory in a place where your app threw

[2020-09-25 16:27] marcbaechinger commented on #7987
We don't have such a sample that would give you good insights in doing a production ready audio service with ExoPlayer. There is not much specific to ExoPlayer actually. For creating a foreground service with Android there is general documentation here:

https://developer.android.com/guide/components/foreground-services
https://developer.android.com/guide/components/services

If you have questions

[2020-09-25 16:33] andrewlewis commented on #7944
On the latest version I can't reproduce the problem (the ad tag has two empty ads with cue points "0" and "-1" (postroll) but both are located correctly).

Could you give some more details about what information you need from `VideoAdPlayerCallback`? The same information should be available via player listeners, so there may be an alternative way to implement what you're trying to do.

[2020-09-25 16:37] adamstyrc commented on #7984
The video was encoded with [Flutter FFmpeg](https://pub.dev/packages/flutter_ffmpeg) on that Pixel 3, to my dismay 😄

@veljkomih So do I understand you right, that adding some decoding mandatory fields would seal the deal? Or no matter what I do, trying to launch it with Pixel 3 Android native codecs will result with a failure?

[2020-09-25 16:41] andrewlewis commented on #7984
I think it's likely that this video is too high resolution for the decoder (720 * 1280):

[code]

On the device I'm testing on this software MPEG 4 decoder only advertises support up to 352 * 288 pixels. Is it an option to change the video format to something more widely supported like H.264/AVC?

Side note: encoding portrait videos like this as landscape videos with rotation metadata may also hel

[2020-09-25 16:41] veljkomih commented on #7984
Yes, I think by adding those fields will definitely fix your exception.
Will it play though, I'm not sure 100% sure.

[2020-09-25 16:49] andrewlewis commented on #7683
I'm not sure the jumping is to I-frames (the jumps seemed to be more frequent). The next thing I'd try is probably to tweak/scale the presentation times of frames sent to the video decoder to make them match real-time when using speed adjustment (and correcting them on the output side), going on the theory that the decoder is trying to do frame rate conversion and the non-realtime rate of video fr

[2020-09-25 16:51] ojw28 commented on #7709
Pull request was merged. Thanks!

[2020-09-25 16:51] #7709 closed, assigned to ojw28

[2020-09-25 16:54] adamstyrc commented on #7984
Ok, I will play with the resolution :)

Unfortunately using H.264 - which ffmpeg has inside when using another package - requires a GPL license which is not viable for me at the moment or pay for every video which is even worse :(

Thanks! :)

[2020-09-25 16:55] andrewlewis commented on #7878
This isn't expected (I don't think anything relevant changed in Android 11), but I don't see the behavior you're describing. In the demo app if I breakpoint in `onConfigure` for one of the audio processors it's hit only once when starting playback. For now I'll close this but if you can provide steps to see this behavior in the demo app I'll take a look. Thanks.

[2020-09-25 16:55] #7878 closed, assigned to andrewlewis

[2020-09-25 17:02] andrewlewis commented on #7984
Can you use Android platform APIs to encode the video (`MediaCodec`), instead of bundling a software encoder?

Alternatively, encoding to a format like VP9 may be an option if you're happy with software video decoding on devices that don't have a hardware decoder for it.

[2020-09-25 18:06] stevemayhew commented on #7877
One thing we could do is somehow mark the playlist as having "multi-audio-codec variants" during playlist parsing, maybe issue a warning about chunk less prepare not supporting this then disable any request for chunk less prepare (or suggest people use multiple "copies" of the variants with one audio codec per-copy.

As for fixing `TrackOutput` to correctly create multiple audio tracks for traditi

[2020-09-25 18:19] punitagoel2403 opened #7989 "Slow loading"
The exoplayer is loading the video from server. The video file is 5 MB max, but loading is slow. Can the team please test if the speed issue is with server or I am doing anything wrong with the implementation. The implementation is very basic though.

I can provide the url to the video, and the video separately as well. But not publicly. Please guide and help me.

[2020-09-25 18:35] blonsky95 commented on #7982
I know it's not the best description, but the set up is fairly simple. I'm initialising with just:
`val defaultRenderersFactory = DefaultRenderersFactory(this).setEnableAudioTrackPlaybackParams(true)`
`exoPlayer = SimpleExoPlayer.Builder(this, defaultRenderersFactory).build()`

and then setting the playback params (speed 0.2 for example) with:
`        exoPlayer.setPlaybackParameters(PlaybackParam

[2020-09-25 18:39] ojw28 commented on #7989
At the point you're filing an issue here, you should be pretty confident that it's an ExoPlayer issue. This doesn't seem to be the case currently. Note that there are multiple other ways that you can test whether the speed issue is with your server, for example by trying to play the same file with something other than ExoPlayer. If loading is also slow in that case, then it's likely to be an issue

[2020-09-25 19:07] #7943 closed, assigned to tonihei

[2020-09-25 21:00] tosam144 commented on #7987
OK, thanks for the Info!

[2020-09-25 21:00] #7987 closed, assigned to marcbaechinger

[2020-09-25 21:17] ragotiteb commented on #7945
Thanks for looking into it and for digging into the code of MediaDRM . Do you know if there are any plans to support CBCS under Clearkey in the future?

[2020-09-26 02:39] eservicetv opened #7990 "error on some devices work on others if it tells you error when playing is drm widevine content"
I was recently using the dash widevine playback but I see that more I am modifying and less it works for those who test it I would like to know which files should not be touched so that this does not happen

[2020-09-26 04:49] jdshaoheyi opened #7991 "video frame details exoplayer decoded not smooth"
first picture is decoded by exoplayer, second one is play with VLC. they all play same http soure http://someurl/test.ts or hls source like http://someurl/i.m3u8.
this problem also have on phone OnePlus7Pro, tv box...，but i found this problem is not present on device box HUAWEI HiTV-M1..
one example file can found here:
[https://www.filehosting.org/file/details/896099/test.ts](url)

![cc-1](https:

[2020-09-26 04:55] rrfrias commented on #7945
Confirming that ClearKey does not support CBCS now. We are discussing adding support in a future release.

[2020-09-26 06:46] rrfrias commented on #7986
@CipherGit, if your company is a Google/Widevine partner, you should contact https://www.widevine.com/contact for more information. Consider falling back to level 3 security for Nexus 7 if your use case supports it.

[2020-09-26 06:54] rrfrias commented on #7849
Closing this since the device is running an old release and chances for an update to address this issue are unlikely. Working around this by modifying the encoding seems the only path forward. If there are any remaining questions, please reopen.

[2020-09-26 06:54] #7849 closed, assigned to TaruiTakashi

[2020-09-26 07:05] rrfrias commented on #7720
Closing as we do not have sufficient information to make progress. We are working to improve error reporting through exceptions in future releases. If you get a bugreport or a logcat, please reopen.

[2020-09-26 07:05] #7720 closed, assigned to ogawa-ma

[2020-09-26 13:26] theboubougne opened #7992 "Failure to play some ogg files after updating to 2.12"
The following OGG file plays properly with earlier version of EXOPlayer (v2.11.x), but now it fails with the following error when using v2.12

File: https://files.iis.aksw.org/s/QH3bzmeHRcL4XzE/download
Another file: https://media.april.org/audio/radio-cause-commune/libre-a-vous/emissions/20200915/libre-a-vous-20200915.ogg

Android version and device don't change anything here (tested on Android 9

[2020-09-26 14:32] punitagoel2403 commented on #7989
It is different at different times. Sometimes it takes 4-5 sec, 8-9 sec other times, and some times just 1-2 sec to start. ( For 1.29 MB video), no caching done, I am testing for first time played video.
I tested with Exoplayer demo app too, it's the same, time varies.
Also, I cannot test with anything other than exoplayer, since we switched to exoplayer only to speed up the loading, which was slo

[2020-09-26 15:51] ccparram opened #7993 "ExoPlayer dependencies make com.google.common not available"
### [REQUIRED] Issue description
After adding ExoPlayer dependencies `com.google.common` is not longer available.

![image](https://user-images.githubusercontent.com/2968424/94344382-79d74980-ffe4-11ea-877a-13f1a25821fb.png)

If you remove ExoPlayer dependencies the package is avaiable.

### [REQUIRED] Reproduction steps
Add CameraX dependencies
Add ExoPlayer dependencies

### [REQUIRED] Link to t

[2020-09-26 16:27] ashutoshgngwr opened #7994 "Gapless playback broken in ExoPlayer >= 2.12.0"
When reporting a bug:
-----------------------

### [REQUIRED] Issue description

After upgrading to ExoPlayer 2.12.0, the sounds (MP3) that used to play gapless, now have a noticeable gap in them.

I am not sure if this is a bug or an intended change. I went through the release notes and didn't find any changes that should cause this behaviour.

### [REQUIRED] Reproduction steps
I (or rather the D

[2020-09-26 19:37] sunyaer66 commented on #7196
I have a similar case that subtitle urls are not accessible, and I did as https://github.com/google/ExoPlayer/issues/7635#issuecomment-660592669 suggested mSingleSampleMediaSource.Factory.setTreatLoadErrorsAsEndOfStream(true)

The video now can continue to play, but the video_play/pause button is out of pace with the player. While player is in playing state, the control view shows up with video_pl

[2020-09-26 19:57] y20k commented on #7942
I measured the difference between the old way of `prepare()`ing a player to the new way, by writing two timestamps into Logcat. The first, when the player gets prepared, the second when playback starts (`playWhenReady = true`).

1. Preparing the old way with a `MediaSource` (OnePlus 5)
[preparing player](https://github.com/y20k/escapepod/blob/a443c1f7e94dd2a66a691ec38ba16e662156da72/app/src/main/j

[2020-09-27 01:04] #7826 closed, assigned to ojw28

[2020-09-27 01:04] #7816 closed, assigned to ojw28

[2020-09-27 06:30] alexandru811 opened #7995 "Dinamically refresh data source request property on token expired"
We are using auth token to authorize access to the audio resources consumed by Exoplayer. Currently if the token expires, the request fails and exo player stops.

Is there a way in which a data source ( or more specific its request headers) can be updated after being initially loaded? What mechanism can be used to perform the refresh and then update the existing media source with the new values so

[2020-09-27 09:11] fgl27 opened #7996 "Change two players between two views problem on device MIBOX4 aka MIBOX S"
### Issue description
I have a Picture Picture mode on my player, one full screen player one small over the full.

I allow to change with is the full or small on one click...

On the MIBOX4 when using  `PlayerView.setPlayer(SimpleExoPlayer);` to change the players between the two views there is a Exo error. I notice that the error will almost always occur to the player that is in the view that is

[2020-09-27 11:18] Rexee opened #7997 "Documentation need to be updated on how to compile Exoplayer 2.12.0 apps with androidx.work library dependency"
### [REQUIRED] Issue description
If you use androidx.work and ExoPlayer with version 2.12.0 you need to add additional undocumented settings to gradle file described in issue: https://github.com/google/ExoPlayer/issues/7905#issuecomment-692637059
If Exoplayer 2.12.0 cannot work with androidx.work library without these changes, then it should be officially documented because androidx.work is really

[2020-09-27 18:24] fgl27 opened #7998 "NVIDIA SHIELD flicker green screen, when changeing two players between two views when playing Rec._709 color profile"
### Issue description

This issue is similar to my other https://github.com/google/ExoPlayer/issues/7996

I have a Picture Picture mode on my player, one full screen player one small over the full.

I allow to change with is the full or small on one click...

On the NVIDIA SHIELD I have a issue, that if I use  `PlayerView.setPlayer(SimpleExoPlayer);` to change the players between the two views the

[2020-09-27 18:44] fgl27 opened #7999 "Android 7 and bellow problem displaying a player over another using surfaceView"
### Issue description

On my app I display a player in front of another, on Android 7 or bellow when using `surfaceView` the player that is in front can't be seen, using `textureView` no problem see video bellow....

https://www.youtube.com/watch?v=tIcyWjiVhLg&feature=youtu.be

On that video the player first start using `textureView` all the player are visible, even when front of it other, after I

[2020-09-27 21:21] idish opened #8000 "Play a "key-frame only" video in reverse"
I've already took a look in the issues section regarding playing a video in reversed order, and understand that it is not quite supported by exoplayer natively, as shown here: https://github.com/google/ExoPlayer/issues/5084

My use case is a bit more specific, and can be more "played" with ;)

Say I have a fully key-framed video, so that decoding it in reversed order shouldn't be an issue, as ther

[2020-09-28 01:37] CipherGit commented on #7986
@rrfrias Thank you for the reply! We thought of falling back to L3 however, we tried the "SW secure crypto (L3)" from the demo which also did not work. Do we need to configure something else? Thanks again!

[2020-09-28 04:07] #7991 closed, assigned to nobody

[2020-09-28 04:07] jdshaoheyi commented on #7991
...

[2020-09-28 09:56] AquilesCanta commented on #7945
Closing this issue because there are no actionable items for the ExoPlayer team here. We have to wait until a new Android release adds support for cbcs in clearkey. [Internal ref: b/169464128].

[2020-09-28 09:56] #7945 closed, assigned to AquilesCanta

[2020-09-28 10:05] Turbozanik opened #8001 "Is there a way I can disable sound ducking?"
Question:
Is there a way I can disable sound ducking?

Use case:
I have a video played by ExoPlayer in my app, and I have a dialog with a sound also played with ExoPlayer and if the dialog is shown during the video,  the video sound is lowered, and our customer want's to keep the video sound level the same.

[2020-09-28 10:07] andrewlewis commented on #7982
Thanks for reporting this. The problem seems to be caused by the logic for interpolating between positions when using `getPlaybackHeadPosition` vs `AudioTimestamp` not taking into account the `AudioTrack` playback params. There is a fix in review and this issue will be updated when it's on the development branch.

[2020-09-28 10:10] AquilesCanta commented on #7989
This seems to suggest the problem you are observing is indeed a server side issue.

There are many ways you can test this:
- Use an external tool for measuring the time it takes for you to download the file. Like curl. There's [plenty of info](https://stackoverflow.com/questions/18215389/how-do-i-measure-request-and-response-times-at-once-using-curl) on how to do this.
- Add some log lines in your

[2020-09-28 10:10] #7989 closed, assigned to ojw28

[2020-09-28 10:42] ArcherEmiya05 opened #8002 "Non Play Services device"
Will ExoPlayer libraries including ExoPlayer IMA SDK will work without needing a Play Services in a device such as Amazon tablets?

Thank you

[2020-09-28 10:46] icbaker commented on #7993
Thanks for the example project, I can repro your problem.

I believe this is related to Guava publishing `ListenableFuture` in both `com.google.guava:listenablefuture:1.0` and `com.google.guava:guava:XX.X-android`. This risks causing clashes (different bytecode for the same class name), so they created `com.google.guava:listenablefuture:9999.0-empty-to-avoid-conflict-with-guava` which `com.google.

[2020-09-28 10:52] marcbaechinger commented on #7977
Closing as the fix above landed in dev2. Please reopen if there are any other questions/issues.

[2020-09-28 10:52] #7977 closed, assigned to marcbaechinger

[2020-09-28 10:55] krocard commented on #7994
I have _unsuccessfully_ tried to reproduce the issue on my Pixel 3 XL running Android 10:
## With Noice
[code]
I could not hear any gap when "Moderate rain" loops around.

### Noice code
I looked at https://github.com/ashutoshgngwr/noice/blob/809f131480bd4ef483988aedbfda5aa100183066/app/src/main/java/com/github/ashutoshgngwr/noice/sound/player/strategy/LocalPlaybackStrategy.kt#L41
which seems to b

[2020-09-28 11:01] krocard commented on #8002
@andrewlewis, do you know if the IMA SDK depends on play services?

[2020-09-28 11:06] ashutoshgngwr commented on #7994
@krocard I'll get on this ASAP.

[2020-09-28 11:17] krocard commented on #8001
I think what is going on, is that that the dialogue is taking the audio focus as TRANSIENT, leading to the ExoPlayer instance losing the audio focus as AUDIOFOCUS_LOSS_TRANSIENT_CAN_DUCK.

Note that your dialog sound should not be very long, and the ducking should thus be quite short. If it is not the case, the video is duck longer, the issue comes from the dialog sound. Maybe it has a long silenc

[2020-09-28 11:17] ashutoshgngwr commented on #7994
@krocard I am able to reproduce this on my device with the given sound sample on the demo application.

**Edit**: https://github.com/ashutoshgngwr/noice/commit/89ad85a3210338d4c1a23fedcabefdb232f96677 is a revert commit that downgrades ExoPlayer back to 2.11.8 from 2.12.0 which explains why you were having trouble reproducing the issue. Sorry for the incomplete information.

PS, you can reproduce

[2020-09-28 11:18] #8001 closed, assigned to krocard

[2020-09-28 11:18] krocard commented on #8001
Please reopen if your issue is not solved.

[2020-09-28 11:18] Manvendra-Jadon commented on #7944
<img width="537" alt="Screenshot 2020-09-28 at 4 46 13 PM" src="https://user-images.githubusercontent.com/70095620/94425857-3d554a80-01aa-11eb-926a-00cd89bad15c.png">

@andrewlewis If you see screenshot, when i am upgrading from 2.11.5 to 2.12.0, i am not able to add this callback showing in red. Because of this i am unable to check anything on latest version.

Also, stack-trace mentioned in the b

[2020-09-28 11:26] krocard commented on #8000
I think you will need to hack in the container parser to force it to return the frame in reverse. You might need to have to hack in the downloader too to download chunks in reverse (except if you are OK with having the file fully downloaded before playing).

@kim-vde can you think of a hack to achieve this?

[2020-09-28 11:35] icbaker commented on #7985
Looks like this is related to https://github.com/google/ExoPlayer/commit/74a9d8f680995f2096c59fde6cd1ef6e85bb4d55.

Specifically removing this:
[code]

And instead delegating to `MimeTypes.getMediaMimeType` which translates 'wvtt' to 'text/vtt':
https://github.com/google/ExoPlayer/blob/8a0d52be4b5402af0987fc7d009bc49977c72b67/library/common/src/main/java/com/google/android/exoplayer2/util/MimeType

[2020-09-28 11:53] andrewlewis commented on #7944
What events to do you handle in your `VideoAdPlayerCallback`? I am wondering if you can replace those with listening to events on the player to avoid needing to add a callback. See also #6249.

[2020-09-28 12:01] andrewlewis commented on #8002
The ExoPlayer IMA extension will support any device where the Android IMA SDK works. That includes at least Fire TV (see https://developers.google.com/interactive-media-ads/docs/sdks/other).

I'm not sure about other cases so I suggest asking on the IMA SDK forum: https://groups.google.com/g/ima-sdk/. It would be nice if you could reply here once you get an answer, for the benefit of other people

[2020-09-28 12:16] ArcherEmiya05 commented on #8002
Thanks, I already ask a new case but similar topic.

Our team is wondering if it will work fully and fine on devices like Huawei that has no Play Services for us to measure our app's compatibility and its scalability as these libraries are included and part of the main functionality in our product.

[2020-09-28 12:34] Manvendra-Jadon commented on #7944
@andrewlewis We handle onPlay(), onEnded(), onError(). Is there no way to add this callback on latest version? As this is lot of effort on my end to change this and will surely break few things.

Also, what about this:
Stack-trace mentioned in the bug: #7322
is the same i get when video force closes before playing mid-roll.

[2020-09-28 12:38] Taranlayal10 opened #8003 "data/mediadrm/IDM1013/L1/cert.bin does not exist"
### [REQUIRED] Searched documentation and issues
I searched through the existing issues but I could not find any issue similar to this.

### [REQUIRED] Question
I have a DASH Widevine L3 Content that is working on all devices but there is one particular device Nexus Tab | OS 7.1.1 that is having Security Level L1 and HDCP disconnected.  I am getting the error as L1 decoder is not present even thou

[2020-09-28 12:41] idish commented on #8000
@krocard Exoplayer should load a local h264 file, so the downloading part isn't needed.

[2020-09-28 12:44] andrewlewis commented on #8002
For reference here is [the thread](https://groups.google.com/g/ima-sdk/c/u2cSTqia8kA/m/JGJJs4lRBQAJ).

[2020-09-28 13:50] krocard commented on #7990
I'm sorry, but I do not understand your issue. Can you please list the steps to reproduce your issue, what you expect and what is happening. Thanks.

[2020-09-28 14:18] AquilesCanta commented on #7995
For this specific usecase, I think your best shot is using a custom wrapper data source:
1. Implement a [DataSource](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/upstream/DataSource.html) (Say AuthenticatingDataSource) which wrapps the current DataSource implementation that you are using.
2. Inject AuthenticatingDataSource using the DataSource factory that corresponds to your

[2020-09-28 14:27] blonsky95 commented on #7982
Thanks for fixing it!
So just to be clear, this will fix the clunkiness when `setEnableAudioTrackPlaybacksParams(true) `, not the delay when setting playback speed right?

And how can I know when the fix is pulled into development branch?

And lastly, I'm adding the exoplayer dependency through gradle, is there a release version number for the development branch?

[2020-09-28 14:30] Ste-RH commented on #7811
I can verify this set the output sample rate correctly.  Though I think I have misunderstood the purpose of the Sonic class' output sample rate.  I am looking to get up or down audio samples.  I am now not convinced this is what is going on under the hood.  If this is the case, I am not sure I need to actually set the output sample rate to my desired rate...?

As I believe my assumptions were inco

[2020-09-28 14:38] AquilesCanta commented on #8003
Please provide the bugreport, as requested in the issue template. Aside, have you tried on any other device with the same model? I wonder if this issue could be specific to the physical device you are using (as opposed to an issue with the device model).

[2020-09-28 14:51] andrewlewis commented on #7811
Does Unity require the audio you send it to be a particular sample rate? If so I think using Sonic is reasonable. Having said that I'm not sure what you mean by getting 'up or down audio samples'.

You might alternatively consider implementing your own `AudioSink` to avoid `AudioTrack` being used at all (silencing the audio samples seems like a bit of a hack). This will require writing/maintaining

[2020-09-28 15:16] Ste-RH commented on #7811
Yeah, The developer can set their desired output sample rate in their Unity project.  That said, it appears Android (or at least on all Android devices I have seen) overrides this to 48KHz.

Bit of a typo.  I am looking to upsample or downsample the source buffers that arrive. such that pitch and time are preserved.  So if 2046 samples arrive @ 8KHz, resampling would deliver 12276 samples for the

[2020-09-28 15:41] icbaker commented on #7910
Closing due to inactivity

[2020-09-28 15:41] #7910 closed, assigned to icbaker

[2020-09-28 16:22] kim-vde commented on #7970
I cannot reproduce because:
- I cannot play the file remotely with the link you provided. I need a link that points directly to the file instead of a Google drive link.
- The file is too large to be played locally.

The Matroska extractor tends indeed to request a lot of individual bytes to compute the length of variable-length integers.

What you can try to do is:
- Try to play your file with our

[2020-09-28 16:23] sunhb commented on #7995
My app is a audio play service based on UAMP. I have a similar requirement.

1. When I set up a playlist, I only had some missing metadata sometimes.
For example, its media url address is not available.
2. When playing to this media, I need the player to stop playing and notify the front end of the need to do some operations such as buy a license or login required to continue.

3. The user then co

[2020-09-28 16:24] #7885 closed, assigned to kim-vde

[2020-09-28 16:25] kim-vde commented on #7892
I will close this issue as there hasn't been any activity for 14 days. Feel free to open a new issue if you still have problems.

[2020-09-28 16:25] #7892 closed, assigned to kim-vde

[2020-09-28 16:45] icbaker commented on #7992
Thanks for the report and the file links, I can reproduce the problem in the demo app using https://media.april.org/audio/radio-cause-commune/libre-a-vous/emissions/20200915/libre-a-vous-20200915.ogg on 2.12.0 and it works on 2.11.8.

I'll take a deeper look to understand what's going on here.

[2020-09-28 16:46] kim-vde commented on #7942
I tried to reproduce on my test phone and there is indeed a difference.

The time difference is of ~200 ms for the old way and of ~1.5 seconds for the new one. I'll have a closer look to see what's the reason.

[2020-09-28 16:58] AquilesCanta commented on #7995
@sunhb, this seems unrelated to the original issue. Please file a fresh issue. Also, I'm not sure I understand the problem, so I would also:
- Remove unnecessary context.
- Expand a bit more in terms of what you are doing and what you are expecting ExoPlayer to do.

[2020-09-28 17:27] mac-dobrzynski-vizio commented on #7512
I'm sharing here what I've found so far on this issue. I'm not trying to propose any workaround/fix just yet.

Apple's Fmp4 IFrame-only stream is simply a sequence of moof->mdat->moof->mdat->... atoms, where each pair (moof->mdat) contains entire GOP (similar to many regular video stream). Frames other than reference ones are also in there, however, the Apple's stream generator ranges them out in

[2020-09-28 18:13] harini113 opened #8004 "Timeframe for Exoplayer Migration to Kotlin"
### [REQUIRED] Searched documentation and issues
https://developer.android.com/kotlin/faq

### [REQUIRED] Question
Are Exoplayer libraries migrating to kotlin. Will you continue to support Java. If java is being deprecated, is there a timeline?

[2020-09-28 19:10] akari opened #8005 "Failed to play problem TS chunk and getting Unexpected IllegalStateException: null"
### Issue description
While playing a problem TS chunk player gets error and stop playing.
With this chunk it always happens near mediaPos=7.30.
It doesn't matter if the chunk is part of the HLS stream or is played separately.
FFPlay and VLC can play through this chunk (with short-term picture breaking).
[code]

### Reproduction steps
This bug can be reproduced in the demo app with this media.exol

[2020-09-28 21:04] changxiangzhong commented on #7969
@tonihei I've done a bit more experiment with this solution. In the `AdaptiveTrackSelecton::evaluateQueueSize()`, we tried also with **dump everything/return 0**. But still it takes up to  12 second(worst case) between triggering the event and seeing the image quality drop. We are using tunneling BTW.

TBH, I'm not quite convinced with deploy this patch to real customer. Could you please evaluate

[2020-09-29 01:38] cockroach904 opened #8006 "I can't play video in second time"
Hi sir~
I have a question,
I play the video for the first time,it play success,
when video in end and replay it , the video can't play.

but I try my code in 2.6.1, it can work.
Thi is my vido url = "https://apptest.greattree.com.tw/upload_file/mdm_20200204142044.mp4"

[2020-09-29 03:30] sunhb opened #8007 "Need an event listener for child media source in playlist."
### [REQUIRED] Searched documentation and issues
I searched related issues, Documents and stackOverFlow, but did not find any information related to my problem.
I even made the wrong off-topic in other issues(#7995 ), so sorry

### [REQUIRED] Question
I need an event listener which can Triggered when the current media playback is complete and ready to play the next media in a playlist. To do some

[2020-09-29 05:13] Taranlayal10 commented on #8003
Thanks for your prompt response, I have sent the bug report on the email. Unfortunately we do not have the other same device model.

[2020-09-29 06:00] jdshaoheyi opened #8008 "audio late reached after 14 seconds than video when tunneling video playback enabled"
### Issue description
sound of video is occur after video frame displayed 14 seconds when i opened tunneling video playback, and video also discontinuity, stuck. after first 14 seconds every thing is ok.
this problem is not happened after tunneling video playback disabled.

### Reproduction steps
play rtp source with bit rate 8Mbit/s, resolution 1920*1080i.

### Link to test content
little sorry i

[2020-09-29 07:01] Artman12 commented on #7970
Thank you for your response.

Too bad you can't download and play that file locally. Reading ~600000 bytes one by one looks suspiciously odd. But it may be a file problem. I cannot provide you with another file, because all files which reproduce such behavior have big size.

My case is that I transfer the file using my own native library over network via my own protocol in chunks of 1MB. My buffer

[2020-09-29 07:01] #7970 closed, assigned to kim-vde

[2020-09-29 07:19] gokulkalagara opened #8009 "In Protected Dash Content, audio and video sync is missing in playback speed at 2"
### [REQUIRED] Issue description
In Protected Dash Content, audio and video sync is missing in playback speed at 2.0f
in event logger i find this error
audioTrackUnderrun   [eventTime=29.05, mediaPos=27.39, window=0, period=0, 61568, 320, 112]
audioTrackUnderrun   [eventTime=29.05, mediaPos=27.39, window=0, period=0, 61568, 320, 1]]

### [REQUIRED] Link to test content
I will share a sample APK to

[2020-09-29 07:33] punitagoel2403 commented on #7989
okay..thank you..

[2020-09-29 07:59] tonihei commented on #7969
Even if you specify 0, the player can't discard media chunks the decoders already read from. With tunnelling in particular, it may be that you are reading multiple seconds ahead.

That's up to you what you'd like to deploy. The change in itself it probably working as expected, but whenever you discard data it means the user needs to reload this data in a new quality. This always increases the risk

[2020-09-29 08:49] changxiangzhong commented on #7969
@tonihei Thanks again for your advice. We are developing stuff on STB boxes, so
- Don't care about the bandwidth that much
- Risk of re-buffering is acceptable from my point of view. **Video rendering thread** is taking way much resources. We need to find a way to reduce the CPU usage to react on user interactions.

BTW, some interesting figures to share with you - on our platform(derived from ban

[2020-09-29 08:49] robertosancsanz opened #8010 "DASH Player Requirements"
### [REQUIRED] Searched documentation and issues
I've checked the documentation about the [supported formats](https://exoplayer.dev/supported-formats.html) and [Dash](https://exoplayer.dev/dash.html) and the section about [customization](https://exoplayer.dev/customization.html)

### [REQUIRED] Question
Hi!

I'm Roberto from Telefonica.

We use Exoplayer inside our service MovistarPlay app in seve

[2020-09-29 08:59] christosts commented on #7808
Hi,

This is just to let you know that the feature is back at the dev-v2 branch, see commit [397fe8f](https://github.com/google/ExoPlayer/commit/397fe8f305a01c5921267fd31f9a900205eba3d5). So, although this method is not present at v2.12, it will be available on a next ExoPlayer release and you will be able to keep using it if you upgrade to the next release (when that time comes).

Please note tha

[2020-09-29 09:01] andrewlewis commented on #8004
Please see the discussion on #6826. We aren't planning to switch to Kotlin in the short term, but we do want to make sure the ExoPlayer API surface is designed in a way that works well for Kotlin users.

[2020-09-29 09:07] georgi-neykov-hub opened #8011 "Thread deadlock when using the media2 extension"
### [REQUIRED] Issue description
I am experiencing thread deadlocks on the project I am working on. It uses the new media2 extension and the latest Exoplayer library artifact versions (2.12.0). The issue occurs when a non-default `Executor` is being set as a callback executor to a `MediaLibraryService.MediaLibrarySession.Builder`. The created `MediaLibrarySession` is connected to a `SessionPlayerC

[2020-09-29 09:07] Samrobbo commented on #7967
851ca20 is the patch i meant. Reply on this issue if there is still a problem.

[2020-09-29 09:07] #7967 closed, assigned to Samrobbo

[2020-09-29 09:10] Samrobbo commented on #7962
A patch will be available soon that fixes this issue, it appears to be down to a requirement in the `StyledPlayerControlView` that the layout has an image view with an `exo_subtitle` id. This requirement is being changed.

[2020-09-29 09:12] changxiangzhong commented on #7808
@christosts Thanks for the input, I'll keep an eye on the implementation. I think this feature can be very useful because on our platform (derived from Banff) `MediaCodecVideoRender::feedInputBuffer()` takes 12ms with SS+Playready **in average**. **In burst cases** it could take up to 300 ms, which starves the audio handling completely (`AudioTrack::buffer` is 250ms by default). That's why I was t

[2020-09-29 09:20] Samrobbo commented on #7979
The answer provided here https://github.com/google/ExoPlayer/issues/4261#issuecomment-389818937 gives a few possible approaches, with the comments afterwards giving more information and context. From what I can tell you are not trying either of these.

[2020-09-29 09:23] Samrobbo commented on #7980
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md). If you're unable to share bug reports or test content publicly, please send them to dev.exoplayer@gmail.com using a subject in the format "Issue #1234", where "#1234" should be replaced with your issue num

[2020-09-29 09:30] idish commented on #3163
+1 for this feature

[2020-09-29 09:33] idish commented on #3163
+1 to this feature request.

[2020-09-29 09:54] kim-vde commented on #7942
I tried to reproduce your issue on our [demo app](https://github.com/google/ExoPlayer/tree/release-v2/demos/main) because I cannot add time logs in ExoPlayer code from your app. Here is what I discovered:
- The player takes indeed some time to be prepared on my device for the file you provided (~ 1.5 seconds).
- It takes much less time for other MP3 files (~200 ms).
- It is the case for versions 2

[2020-09-29 10:09] kim-vde commented on #8000
I don't think there is a simple way to do that.

You could implement a custom [Extractor](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/extractor/Extractor.html) and add it to a custom [ExtractorsFactory](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/extractor/ExtractorsFactory.html) that you would pass to the player [builder](https://exoplayer.dev/doc/refer

[2020-09-29 10:17] brunocaiado commented on #7854
I'm sorry about the delayed response.

@ojw28 The purpose is just a product issue. Maybe there is more people needing this feature like I needed, and then I just asked to see what you guys think about it. Just because, maybe it was a good ideia do include on ExoPlayer for other people easily use it.

In the meanwhile I did an implementation based on https://github.com/rubensousa/PreviewSeekBar, wh

[2020-09-29 10:22] idish commented on #8000
Container format is mp4, and there's no audio, only video.

[2020-09-29 10:35] kim-vde commented on #8000
You will need to locate the frames in reverse order by parsing the stbl box (I am assuming your input file is not fragmented) and changing the frame timestamps.

[2020-09-29 11:48] y20k commented on #7942
I will take a look and see, if I can pinpoint the problem a bit more precisely.

Just to make sure that there is not misunderstanding. My app only plays back local mp3 files. There should be no problem with server latency.

[2020-09-29 12:04] Tolriq commented on #7937
@tonihei So tested the playlist API it works great but I can't find the drm parameter to SimpleExoPlayer Builder.

If I use following code the DEX increase by 115K so even more than previously probably because of using the player playlist api.
[code]

Do you have more idea / insight or should I open a new issue?

Edit: Actually not setting setMediaSourceFactory to SimpleExoPlayer and using addMedi

[2020-09-29 12:43] tonihei commented on #7937
That's interesting. Can you file a new issue with that (just copying what you said here)? We should check where the size increase is coming from and whether it's coming from the DRM config.

[2020-09-29 12:48] Tolriq opened #8012 "Allow DRM classes to be removed during APK shrinking"
This is a followup to https://github.com/google/ExoPlayer/issues/7937

After migrating to 2.12 and using R8 in full mode there's a big dex size regression due to DRM handling. (Approx 115K)

Paste from previous issue:

If I use following code the DEX increase by 115K so even more than previously probably because of using the player playlist api.
[code]

Not setting setMediaSourceFactory to SimpleE

[2020-09-29 12:49] Tolriq commented on #7937
@tonihei #8012 tell me there if you need more info.

[2020-09-29 12:54] Tolriq commented on #8012
Adding dex comparison with only change being removing setMediaSourceFactory from SimplExoPlayer and using player.addMediaSource with source linked above.

1) With setMediaSourceFactory
![image](https://user-images.githubusercontent.com/932609/94560847-79001b00-0263-11eb-947b-b2a5debaddb8.png)

2) With direct MediaSource creation
![image](https://user-images.githubusercontent.com/932609/94560898-8f

[2020-09-29 12:56] tonihei commented on #7937
Thanks! That should be enough for now. Need to have a look first to see what's happening

[2020-09-29 14:13] marcbaechinger commented on #8007
If I understand correctly you are saying that mediaSource 1 is playing and media source 2, that is the next media source in the playlist, is currently not complete in a sense that trying to prepare it would fail because the user needs to add something to make this possible.

If this is the case for all media sources in the playlist it sounds easiest to me to just don't add the source yet? Then you

[2020-09-29 14:30] sunhb commented on #8007
As you said, if all data sources are this situation, it will be easier to deal with. But this is the case with only a few data sources in real business.

[2020-09-29 14:35] sunhb commented on #8007
I need to ensure that the playlist is complete. The loop mode of the playlist, the function of random playback, and the advance preparation of the data source. These rely on adding all media sources to the playlist.

[2020-09-29 14:41] marcbaechinger commented on #8007
Have you looked at [`ResolvingDataSource`](https://github.com/google/ExoPlayer/blob/83477497c19959f4b33c3af57cc1e646fcc3848a/library/core/src/main/java/com/google/android/exoplayer2/upstream/ResolvingDataSource.java)?

[2020-09-29 15:05] sunhb commented on #8007
Thanks for your reply :)
As far as I know, `resolveReportedUri` in `ResolvingDataSource` is a method that does not allow blocking.
But what I need is the player to pause and wait for the user to do something.

[2020-09-29 15:18] kim-vde commented on #7942
Ah yes, right. I used URL https://traffic.libsyn.com/atpfm/atp397.mp3 for testing (which is in https://atp.fm/rss). If I play it locally, the preparation time drops to ~300 ms in the demo app.

You should try to reproduce your issue in the demo app so that we can investigate more thoroughly.

[2020-09-29 15:20] ChernyshovYuriy commented on #7946
Thanks Marc!
Any suggestion how to use it in case of media is represented by bytes array. Can't get uri or path to it, just a pure bytes array.
Thanks in advance.

[2020-09-29 15:25] vinodkputta opened #8014 "MiTV requires a output surface workaround"
## [REQUIRED] Issue description
This is similar to issue https://github.com/google/ExoPlayer/issues/6899. We are getting same issue on other MiTV models,
dangal
dangalUHD
dangalFHD
magnolia
machuca
pacificrim

Please include these device models for output surface workaround.

### [REQUIRED] Reproduction steps
Open watch page and press back. You will get the error.

### [REQUIRED] A full bug report

[2020-09-29 19:18] fgl27 commented on #7996
After reading this https://github.com/google/ExoPlayer/issues/5169, I tryed to enable `deviceNeedsSetOutputSurfaceWorkaround`, I decide to do like this https://github.com/fgl27/ExoPlayer/commit/573ae9adcfa183b57f1611d544962f525cc1d9a9 just for a qiuck test as the app content is only avc.

I don't see any setback and the issue has stopped, no more **Playback error** when changing the view, but ther

[2020-09-29 19:23] kmrinmoy07 opened #8015 "Audio doesn't regain focus after receiving Messenger call"
### [REQUIRED] Issue description
I am using exoplayer to play audio files from my server. Everything works fine and I was able to handle audio focus correctly while other application starts playing sound. But accidentally yesterday I discovered that in case of Facebook's Messenger, after disconnecting an incoming call in Messenger, the audio doesn't play back automatically nor play back by hitting

[2020-09-29 19:54] hinditutorpoint opened #8016 "Video not showing"
Hi sir
Recently I played some video working fine but on video not display only audio play
Video ![20200930_012143.jpg](https://user-images.githubusercontent.com/42866845/94608684-5d286380-02bb-11eb-8089-2f2b2f43af47.jpg)

[2020-09-29 21:27] stevemayhew commented on #7512
@AquilesCanta Basically the issue is Apple is referencing parts of the base MP4 file in both the playlist and the i-frame playlist.

The playlist segments contain an entire MDAT (the full GOP), the i-Frame only playlist truncates the MDAT after the first sample (the IDR).

Basically, Apple's Fmp4 IFrame-only stream, just like their TS streams, are produced by byte-ranging out part of the main stre

[2020-09-29 21:46] marcbaechinger commented on #8007
When there is a playlist, ExoPlayer is going to automatically prepare the next media source. This happens a certain duration before the next  media source would need to start playback. The duration depends on the configuration of the [`DefaultLoadControl`](https://github.com/google/ExoPlayer/blob/83477497c19959f4b33c3af57cc1e646fcc3848a/library/core/src/main/java/com/google/android/exoplayer2/Defa

[2020-09-29 22:58] baconz opened #8017 "Crash in `TextRenderer` when rendering stream with single subtitle"
### [REQUIRED] Issue description
We get an NPE in 2.12.0 when the `TextRenderer` tries to render a stream with a single subtitle:

[code]
I think this was introduced with the null checks added here: https://github.com/google/ExoPlayer/commit/0efec5f6c12a5d583f24c122fbcbc1b1eebbabc3#diff-2a869b1d2a8dabec5def4e6e02d2bd18

It is possible to call `getNextEventTime()` on the first `render()` if `nextSu

[2020-09-29 23:28] marcbaechinger commented on #8016
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md). If you're unable to share bug reports or test content publicly, please send them to dev.exoplayer@gmail.com using a subject in the format "Issue #1234", where "#1234" should be replaced with your issue num

[2020-09-29 23:52] marcbaechinger commented on #8010
I can not really give you a sufficient answer for your question I'm afraid. I also can not give you any commitments whether we support a feature or how completely/correctly we support something compared to the specs.

If you have a DASH stream that you want to play which has a given feature you can test this with ExoPlayer in the [demo app](https://exoplayer.dev/demo-application.html). If this doe

[2020-09-30 00:03] rrfrias commented on #7986
I assume you are playing back content labelled "SW secure crypto (L3)" in the demo app. If so, that refers to the content policy. It will still use the default device security level. For Nexus 7 is L(evel) 1 security. To playback using L(evel) 3 security, search ExoPlayer code for "forceWidevineL3" for an example. If you need more details about Widevine properties and are a Widevine licensee pleas

[2020-09-30 00:08] #7986 closed, assigned to AquilesCanta, rrfrias

[2020-09-30 01:04] #7838 closed, assigned to christosts

[2020-09-30 01:04] #7835 closed, assigned to christosts

[2020-09-30 01:04] #7834 closed, assigned to christosts

[2020-09-30 01:04] #7823 closed, assigned to christosts

[2020-09-30 06:26] gowthamkrishnabj opened #8018 "Ads on SurfaceView"
Hi,

Is there any possibility to display ads on SurfaceView, with SKIP options and duration?

Thanks,
Gowtham.

[2020-09-30 06:43] ahmetberkinc commented on #7962
Thanks, I'm looking forward to the new update.

[2020-09-30 06:58] xiaochedexinyang1 commented on #7979
I tried, they can play at the same time, but there is a difference of tens of milliseconds between them. Is there any way to reduce it

[2020-09-30 07:36] Abrar-ul-haq-Abro opened #8019 "How to detect when playback transitions to another media item"
**This is how i add media items**
[code]

**My On playback state change Method**

     @Override
        public void onPlaybackStateChanged(@Player.State int state){
            if (state == PlaybackStateCompat.STATE_SKIPPING_TO_NEXT) {
                   //do something
            }
            if (state == PlaybackStateCompat.STATE_SKIPPING_TO_PREVIOUS) {
               //do something
        }

[2020-09-30 08:20] wangxuan217 opened #8020 "How to use exoplayer play a local AES file"
How to use exoplayer play a local AES file

[2020-09-30 08:34] ArcherEmiya05 commented on #8002
According to the thread the IMA SDK has dependency on Play Services but should work even without it. So can we conclude that all ExoPlayer dependency will work with or without Play Services installed except for its IMA SDK which seems to be situational since it is possible that some 3rd party builds of Android made by manufacturers could lead to some bugs that affects the IMA SDK?

[2020-09-30 09:51] AquilesCanta commented on #7512
Hi @mdobrzyn71 and @stevemayhew, I think I got that far. However, I remember trying to catch and ignore `EOFException`s coming from `Fmp4Extractor.read()`, by treating them as normal end of input. However, the resulting behavior didn't change, so I assumed there was something else involved.

Please feel free to try it yourselves: In `HlsMediaChunk.feedDataToExtractor` you can try catching any exce

[2020-09-30 09:58] Samrobbo commented on #7979
Which approach are you trying?

[2020-09-30 10:08] andrewlewis commented on #8002
ExoPlayer's core playback functionality doesn't rely on Play Services.

By "all ExoPlayer dependency" are you including extension modules? If yes, the other ones that depend on Play Services are the Cast extension and (possibly) the Cronet extension, depending on how it's used (it can bundle the network stack or rely on the one in Play Services).

[2020-09-30 10:08] #8002 closed, assigned to andrewlewis

[2020-09-30 10:12] andrewlewis commented on #8018
If you are using the IMA extension, the ad UI (including skip button and count down text) will be rendered in a WebView on top of the SurfaceView with video output. There isn't an option to render this UI to the SurfaceView I'm afraid. The ad media is rendered to the SurfaceView in the same way as the content media.

[2020-09-30 10:12] #8018 closed, assigned to andrewlewis

[2020-09-30 10:16] ArcherEmiya05 commented on #8002
Thanks for pointing out those extensions that has dependency, currently the extension that we just used is IMA SDK together with full library of ExoPlayer. So there should be at least no problem if an Android device happens to have no Play Services.

`com.google.android.exoplayer:exoplayer:2.11.1`
`com.google.android.exoplayer:extension-ima:2.11.1`

[2020-09-30 10:33] andrewlewis commented on #7811
It sounds like Sonic is resampling the audio to the required sample rate but that the quality is not good enough for your use case? That sounds quite possible to me especially if the audio has music (Sonic is really intended for processing speech). If possible you could look into preprocessing the media to the required sample rate, seeing if Unity can be configured to resample for you, or integrat

[2020-09-30 10:33] #7811 closed, assigned to andrewlewis

[2020-09-30 11:04] marcbaechinger commented on #8019
Can you please have a look in the Developer Guide which has [a section about listening to the playback state](https://exoplayer.dev/listening-to-player-events.html#player-state-changes)?

It looks like you mix up the states of ExoPlayer and `MediaSessionCompat`.

When you are using a callback or another method like `onPlaybackStateChanged` you can always consult the JavaDoc of that method. It prov

[2020-09-30 11:11] andrewlewis commented on #7982
Correct. We looked at options to address the delay a while ago but couldn't find a clean/general/easy to implement approach (there is no API we can use to process the audio just before the mixer, so we have to do it upstream of the audio track buffer, which introduces latency).

See commit referenced just above. If you could try this out and let us know there are any problems that would be great.

[2020-09-30 11:33] icbaker commented on #7992
I've worked out this is a regression I introduced in https://github.com/google/ExoPlayer/commit/ce2e6e2fd625db787b1f400614adcd7458144bbd

In `OggPacket` where I switched to using `reset()`, I should have preserved `limit` (instead of allowing it to be set to `data.length`), because `limit` is used later in the same function to decide where in the array to copy data to. By letting `limit` be set to

[2020-09-30 12:19] y20k commented on #7942
I tried to reproduce the issue in the ExoPlayer Demo app ([respective commit in fork](https://github.com/y20k/ExoPlayer/commit/67e5ad0b5bca493ea79ef4e5a934d0b17f085ff7)). In the demo app playback of a local podcast mp3 file is fast. **No issues here.**

Now I need to find out what my app is doing differently. What I did so far: I overwrote a lot of methods in my AnalyticsListener to see, if I that

[2020-09-30 12:20] ghost opened #8021 "Portrait video in full screen"
Hello there

I want to show portrait video in full screen. `Exoplayer` will show it in full screen one time if video was not end. When `onPlayerStateChanged` called with `Player.STATE_ENDED` after that if I display it in full screen then `Exoplayer` did not resize video even player size is resized by me every time.

Lets say video is playing and I make it full screen and video is showing in full s

[2020-09-30 12:54] krocard commented on #7999
@andrewlewis, @ojw28 then you seem to have the most experience with dealing with surfaceView vs textureView on old devices. Do you have an idea if a workaround exist for overlaying surfaceView on old Android devices?

[2020-09-30 14:33] tonihei commented on #8012
I can't reproduce this problem really. For reference, I tried the following:

1. Create new Project in Android Studio with empty Activity.
2. Depend on `implementation 'com.google.android.exoplayer:exoplayer-core:2.12.0'`
3. Enable R8 for all builds
[code]
4. Add some ExoPlayer code (see different variants below).
5. Generate APK, load mappings and observe ExoPlayer class sizes.

---

I tested fiv

[2020-09-30 14:46] sunhb commented on #8007
LoadControl cannot prevent data Source prepare, so it cannot prevent throwing exception.

I need to pause the play immediately when onMediaMetadataChanged, and stop loading the DataSource don't throwing an exception.

[2020-09-30 14:55] nareshsvn opened #8022 "Exoplayer streaming issue in android 11"
In our project, we are using exo-player for playing the streamed audio tracks. Our app is audiobook reader. App downloads encrypted audio book from server. After decryption, the content is available on the local server from where we fetch each track and play that in exo player. Up until now the app was working fine.
After migration app to android 11, When we try to play audio in exo-player we are

[2020-09-30 15:19] Taranlayal10 commented on #8003
Hi @AquilesCanta

Hope you have received the bug report. Any updates on this?

[2020-09-30 15:30] Tolriq commented on #8012
None of your example do strip the drm package so all the cases are similar and all worse than what it should.

Try to compare with 1.11.8 Drm package will be 2k max. And you'll have the reference value wanted.

Edit: if you can share your template I can make some test tomorrow else can't so much until next week.

[2020-09-30 15:42] AquilesCanta commented on #8003
Was this bugreport captured after playing the content in the ExoPlayer demo app? Can you clarifiy which ExoPlayer version it's using? I cannot find a playback exception or some of the usually present demo app log lines.

[2020-09-30 15:46] icbaker commented on #8017
I'm not able to reproduce this crash.

I tried with the following WebVTT file:
[code]

And played it in the demo app at 2.12.0 using this JSON snippet:
[code]

The video played fine and displayed the subtitle as expected on the screen. I didn't see any suspicious stack traces in logcat.

Are you able to reproduce the behaviour you see in the ExoPlayer demo app?

Can you provide more info about you

[2020-09-30 16:18] krocard commented on #8006
I can reproduce the bug on tip of tree:
[code]
Seek in the video => no issue
Seek towards the end, let the video finish and then click on the `|<` button to seek back to the beginning

The issue is that the screen is green with a few color region that change color while seeking. The audio is not affected.

[Screenshot of the glitch.](https://user-images.githubusercontent.com/6862950/94712148-f8175

[2020-09-30 16:22] krocard commented on #8006
I'll try on 2.11.8 to see if this is a regression.

[2020-09-30 16:28] marcbaechinger commented on #8007
Yes, you need to pause yourself in the message which is executed at the playback position you define. This will prevent prepare if you properly define the position which is something like `(currentWindow.durationMs - maxBufferMs - sanityMs)`? You need to know how you configured  the `DefaultLoadControl` to know `maxBufferedMs`.

[2020-09-30 16:39] krocard commented on #8006
The logcat does not shows any error or suspicious log. This looks to me like the codec is not properly re-initialized when seeking back to 0.
4min 33s is the typing point, if seeking back to 0 before it, no issues occur. If seeking back to 0 after 4:33, the screen is read until 4:33 is reached where the glitch disappears and the video is back to normal.

It's like 2 video were stitched and only go

[2020-09-30 16:41] sunhb commented on #8007
If I understand correctly, You mean when I execute this  message , currentWindow is not play completed right?

[2020-09-30 16:44] sunhb commented on #8007
The position is very close to **currentWindow.duration**? So it's looks like paused at end of previous media ?

[2020-09-30 16:46] krocard commented on #8006
The Media is encoded in AVC in an MPEG-4 container:
<details>
<summary>
$ mediainfo ~/Music/mdm_20200204142044.mp4
</summary>
General
Complete name                            : /Users/krocard/Music/mdm_20200204142044.mp4
Format                                   : MPEG-4
Format profile                           : Base Media
Codec ID                                 : isom (isom)
File size

[2020-09-30 20:42] y20k commented on #7942
For the sake of completeness and on the chance that you find anything here: I added the same AnalyticsListener I mentioned earlier to a fork of the Exoplayer Demo app (see [PlayerActivity.java](https://github.com/y20k/ExoPlayer/blob/51141f8d45656928e9eda4106615364968b16d72/demos/main/src/main/java/com/google/android/exoplayer2/demo/PlayerActivity.java#L578)). This fork is basically unchanged, exce

[2020-09-30 21:42] marcbaechinger commented on #8007
Lets say, that you configure the `DefaultLoadControl` to have a buffer duration of 50sec. If now playback arrives at the position `(duration - 50 seconds)` , ExoPlayer needs to prepare the next media source to be able to start buffering ahead. So the moment in time when ExoPlayer wants to prepare your media source is about 50 seconds before the next window starts. That's the moment your data sourc

[2020-09-30 21:57] fgl27 commented on #7996
After using `deviceNeedsSetOutputSurfaceWorkaround` for some time I say it doesn't worth it.

As the behavior of the app is worst because now instead of the player throw a error and restart (I have a internal function that will just re-initialize the player after error) it will freeze and the freeze is a random time value some times up to 5 seconds, sometimes there is audio but the video is freeze

[2020-10-01 00:43] skreenr opened #8023 "Geting Multiple instances of ClippingMediaSource to work"
### [REQUIRED] Searched documentation and issues
https://exoplayer.dev, StackOverflow, Google

### [REQUIRED] Question
My app, a background service, needs to be able to play a number of short video clips w/o delay when event listeners fire.
Instead if playing back from individual files, I decided to concatenate clips in one mmother-clip and set individual ClippingMediaSource's to use in the app wi

[2020-10-01 04:18] Abrar-ul-haq-Abro commented on #8019
**Thanks marcbaechinger for correcting me**
**I believe you suggested me to do it like this**

 private class PlayerEventListener implements Player.EventListener {
        @Override
        public void onMediaItemTransition(@Nullable MediaItem mediaItem, @Player.MediaItemTransitionReason int reason) {
                   //do something
        }
}

**right....?**
   **but still I can't get the righ

[2020-10-01 04:54] Yugalbuddy commented on #8021
In this reference, Since the video playing mode can be set by providing the proper command and to merge with your in built screen rotate mode

[2020-10-01 05:25] ghost commented on #8021
Thank you for your response.

I have observe issue and I have notice one thing is that. If initially I start player in full screen then video plays always in ratio of full screen mode. if I resize it and exit from full screen then player size is resize but video plays in ratio of full screen.

Please guide me to solve the problem.

[2020-10-01 05:38] baconz commented on #8017
Indeed I can't repro with the VTT example you posted. I suspect it is because the VTT input buffer does not set `BUFFER_FLAG_END_OF_STREAM` on the first pass.

I am able to reproduce reliably with the CEA-608 subtitles in the example below. Here, the very first time the decoder grabs captions, the input buffer has `BUFFER_FLAG_END_OF_STREAM` set, and thus it triggers the NPE code path.

[code]

[2020-10-01 06:18] Prateek-Kapoor commented on #7971
Hi Samrobbo,
Any update on this?

[2020-10-01 06:21] ghost commented on #8021
I got solution for my problem
Thank you for your response.

[2020-10-01 06:37] #8021 closed, assigned to ojw28

[2020-10-01 07:36] krocard commented on #8006
Given that VLC has the same issue than ExoPlayer, the issue most certainly comes from your media being non conformant.
Please fix your MPEG video. I suspect two or more MPEG video were stitched together into one incorrectly.
Please reopen the issue if you believe this is incorrect.

[2020-10-01 07:36] #8006 closed, assigned to krocard

[2020-10-01 08:48] tonihei commented on #8012
Yes, I can see that DRM dependencies increased from 2.11.8 to 2.12.0, but it looks as if the maximum possible increase is less than 20 KB and probably not worth optimizing? It seems it's also impossible to remove now because we simplified our DRM support and need to be able to create some DRM classes based on the data in the MediaItems. That's why the code is referencing DRM classes even if you do

[2020-10-01 08:57] loki666 opened #8024 "BasePlayer::setMediaItems resetPosition is not used"
https://github.com/google/ExoPlayer/blob/8a0d52be4b5402af0987fc7d009bc49977c72b67/library/core/src/main/java/com/google/android/exoplayer2/BasePlayer.java#L48

[2020-10-01 09:00] icbaker commented on #8017
Thanks, I can repro with that media.

(side note, I had to tweak the URL slightly, think it should be `https://static-us-east-2-fastly-a.www.philo.com/storage/dev/seth/exo_cc_npe/manifest.mpd` - I've edited your comment to help anyone else trying to repro)

[2020-10-01 09:03] Tolriq commented on #8012
The 115k increase was due to error with the factory testing the method, but DRM can be removed via the proposed way and the size gained is 70-80K so it spreads outside of just the DRM package and it start to be important values.
The main different is that I use only audio renderers too.

[code]

I'll make a repro next week but DRM can be removed by directly creating the mediasources and using them

[2020-10-01 09:05] andrewlewis commented on #7999
In case you haven't tried them already, here are a couple of suggestions:
1. Based on [this Stack Overflow answer](https://stackoverflow.com/questions/27600961/surfaceview-hides-other-components-on-screen), try setting the z-order using the `SurfaceView`'s `setZOrderOnTop` or `setZOrderMediaOverlay` methods. [This Stack Overflow answer](https://stackoverflow.com/questions/22569271/z-order-issue-wi

[2020-10-01 09:05] #7999 closed, assigned to andrewlewis

[2020-10-01 09:12] krocard commented on #7996
I'm afraid if the deviceNeedsSetOutputSurfaceWorkaround does not work well, it might be your only solution.
Though the error is similar to #6346, but I'm not aware if a codec is recreated on surface change.
@andrewlewis might know more.

[2020-10-01 09:28] krocard commented on #7996
A workaround would be to swap both surfaces size and positions instead of swapping the player surface. That would also allow you to apply an animation when swapping if wanted.
See also https://github.com/google/ExoPlayer/issues/6958#issuecomment-586936724

Would that solve your issue?

[2020-10-01 09:29] tonihei commented on #8012
Example 3, 4 and 5 above are also only using an audio renderer. Aside, if you are including the `FfmpegAudioRenderer`, you also need the native code for that which easily exceeds all of the ExoPlayer Java classes (>500KB in my case). So if you are worried about APK size, I would consider dropping this extension.

I still don't see how you can actually remove the DRM classes because they are kept a

[2020-10-01 09:35] icbaker commented on #8017
I've sent a fix for this - thanks for reporting

[2020-10-01 09:42] fgl27 commented on #7996
No, changing the surface size also causes the issue, the issue will happen on the view that goes from full to small, more often than the other way around.

I'm using `playerView.setLayoutParams(layout)`. I don't think there is any other way, there is?

If this can be addressed in a way that is satisfied, can we at least ask Xiaomi to take a look as was done here https://github.com/google/ExoPlayer

[2020-10-01 09:47] Tolriq commented on #8012
Well with 1.12 I reach the following status with my workaround. I'll do repro next week can't before sorry. (And as the change is more than 20K DRM Package probably references many things that can then be stripped too)

About ffmepg I do use a small-size version and yes native do take place but don't have side effects impact. (Not extracted on 6+, not recompiled, no odex, not even downloaded again

[2020-10-01 09:49] fgl27 commented on #7999
Thank you I'll revise all of that, if I find a solution I post here a update with it.

[2020-10-01 09:50] krocard commented on #7998
If I understand correctly, the issue has been seen occuring after a surface change (especially if the color profile is Rec._709) but also on player resolution change.

Implementing the workaround suggested in https://github.com/google/ExoPlayer/issues/7996#issuecomment-702011122 should get rid `PlayerView.setPlayer(SimpleExoPlayer)`. It should solve this issue too.

@andrewlewis have you ever seen

[2020-10-01 10:01] krocard commented on #8024
@marcbaechinger is this on purpose? simpleExoPlayer overrides the method but only calls ExoPlayerImpl which use the `BasePlayer` implementation ignoring the parameter. So `resetPosition` seems to always be ignored for both `setMediaItem` methods with a `resetPosition` parameter when calling on `SimpleExoPlayer` or `ExoPlayerImpl`.

[2020-10-01 10:08] fgl27 commented on #7998
Please see https://github.com/google/ExoPlayer/issues/7996#issuecomment-702018776, same test I did there changing the size using `setLayoutParams` was done here and the issue also happens.

Regarding the "especially if the color profile is Rec._709' no only if.

In vlc the streams that don't cause this issue don't display any info on the color used I assume is just basic avc format (don't know the

[2020-10-01 10:20] sunhb commented on #8007
This is not in line with my usage scenario. This will happen when the current media has not been played. (and true，some media item maybe very shot) At that time, I cannot pause the player, nor can I show the user any information about the next media.

[2020-10-01 10:24] andrewlewis commented on #7998
I don't recall seeing this before. It looks like a device-specific issue that Nvidia would need to investigate. @sureshcnvidia may be able to help.

The repeated logging about `E HWComposer: getLayerReleaseFence failed for display -1: Invalid display` looks suspicious too.

If you have two players each outputting to a `SurfaceView`, lock them to the highest bitrate to prevent adaptation and then h

[2020-10-01 11:13] Taranlayal10 commented on #8003
Hello @AquilesCanta

Bug report was from my application. I have again sent the bug report after reproducing this issue on Sample Exo Player. Please check.

[2020-10-01 11:14] fgl27 commented on #7998
If I use just `setLayoutParams` to the two `playerViews` changing the layout of one with the other, then after `parent.bringChildToFront(playerView_nowSmall);`...

After a few tries the player that has Rec._709 will have the issue, same as using `setPlayer`

[2020-10-01 11:25] krocard commented on #7996
So View.setLayoutParams causes the surface to change. I don't know if there is a better way to change the layout of the surface.

@andrewlewis could you look at this similar issue as #7996? Do you think there is a way to change the surface size without causing a `MediaCodec.setOutputSurface` ?

[2020-10-01 11:27] krocard commented on #8005
@kim-vde the issue seems to be an assertion in the H264Reader extractor, could you take a look? Thanks.

[2020-10-01 11:33] andrewlewis commented on #7996
I'm surprised changing layout params is causing the surface to change, as I think there are apps where the position/size of a `SurfaceView` showing decoder output is smoothly animated and I don't think that could happen if `setOutputSurface` was being called repeatedly on the codec (the codec doesn't re-render its last frame when its output surface is changed). Could you double-check the surface r

[2020-10-01 11:53] marcbaechinger commented on #8019
I don't really know what you are trying to achieve I'm afraid. Can you please explain in a little bit more detail what you want to do?

[2020-10-01 12:03] marcbaechinger commented on #8024
Yes, that doesn't look right. Thanks for reporting. I look into this.

Edit: As a workaround you can do

[code]

instead of

[code]

[2020-10-01 12:03] blonsky95 commented on #7982
Unfortunately I'm still having issues, I checked I was in the right branch with the updated file and that's fine, I can see the changes you did in my local files so not sure if it addressed my problem directly, however this time I used a sample video so you can see, I played it with the 2 modes, AudioTrackPlaybackParams set to true (no delay but clunky) and to false (delay but no clunky)

Btw, jus

[2020-10-01 12:19] vishal-prepladder opened #8026 "PlaybackParameters not working in few android devices"
PlaybackParameters are not working properly in *REALME 6, POCO, LENOVO* devices.While speed is set to higher than normal than video got stuck and not playing properly by the player. We are using **WIDEVINE DRM** for playing videos.However when widevine is removed video plays smoothly.

 **Please help us if something we can change with encoding paramaters**

                     //PlayerView myVide

[2020-10-01 12:38] andrewlewis commented on #8026
Is it possible that all frames are being dropped because video decoding can't keep up with the player speed? See also #4851.

[2020-10-01 12:42] andrewlewis commented on #7982
Regarding video 1, there isn't much we can do here I'm afraid.

Regarding video 2, please could you try disabling audio entirely and seeing if you see the same behavior? I think it may be caused by frame release timing not taking into account the playback speed in which case it would be reproducible without audio being enabled.

[2020-10-01 13:19] PawelDedio opened #8027 "Multiple fast clicks on notification play/pause button break notification"
### [REQUIRED] Issue description
In my application we received bug report about buggy play/pause button. If you click very fast multiple times on play/pause button on notification after some time notification doesn't respond. I found another app which use ExoPlayer `PlayerNotificationManager` and the problem also exists there.

### [REQUIRED] Reproduction steps

- Clone this open source repository

[2020-10-01 13:34] krocard commented on #8008
Tunneling playback is known to have many device specific issues. I'm afraid we can not help you resolve this issue as we do not have access to that TV, and even if we did, there is very little that an app can do to workaround tunneling issues.

Given how old the TV is, the manufacturer won't fix the issue.
I would suggest not enabling tunneling for that TV.

[2020-10-01 13:34] #8008 closed, assigned to krocard

[2020-10-01 13:36] krocard commented on #8009
Your content might not be decrypted fast enough to play it at 2x. @AquilesCanta do you have experience with fast playback of DRM content?

[2020-10-01 13:43] blonsky95 commented on #7982
Yeah regarding video 1, sorry, I meant to use it as a reference of what I'm comparing it to, I understand the problem with the delay and the available APIs, no worries.

How can I disable audio entirely?

[2020-10-01 13:44] krocard commented on #8011
Thank you for the analysis of the issue. @jaewan-github can you take a look at this main thread deadlock situation?

[2020-10-01 13:57] krocard commented on #8014
Thank for the list, we will add them in the list shortly.

[2020-10-01 14:09] marcbaechinger commented on #8027
That's a duplicate of #6657

You can find this behaviour with any audio app I think. No matter whether the `PlayerNotificationManager` is used or not.
We already reduced the number of updates to a minimum with [this commit](https://github.com/google/ExoPlayer/commit/bab8975438a609f2a0c3140333d91e4d54a6e771).

Please refer to #6657  for more details and join the conversation there I you want.
I'm c

[2020-10-01 14:09] #8027 closed, assigned to marcbaechinger

[2020-10-01 14:12] krocard commented on #8015
This seems to be an audio focus problem. I'll try to reproduce.

[2020-10-01 14:17] andrewlewis commented on #7982
I'd just override `DefaultRenderersFactory.buildAudioRenderers` to make it do nothing, or if you know the index of the audio renderer (you can read it off `EventLogger` output for example) you can call `setRendererDisabled` on the track selector parameters builder.

[2020-10-01 14:22] krocard commented on #7996
Unrelated, but I'm surprise that `deviceNeedsSetOutputSurfaceWorkaround` is slower than restarting the player after the error. In both case the MediaCodec is destroyed and recreated. Maybe the video codec can not catch up with the audio :/

[2020-10-01 15:27] marcbaechinger commented on #8007
You can try to put a placeholder media source in the timeline at the position where the media source is which needs additional information. Probably a `SilenceMediaSource` is a good fit. Then listen for a media item transition for that window. If the player transitions to that window, you pause the player, present the UI to the user. Then you replace the `SilenceMediaSource` with the one that just

[2020-10-01 16:11] loki666 commented on #8024
tried that, not working either.
my work around was to call seekTo after setMediaItems

[2020-10-01 16:12] loki666 commented on #8024
thanks, I'm calling seekTo after setMediaItems as a workaround now

[2020-10-01 16:21] marcbaechinger commented on #8024
Cool! Fix is on it's way, btw.

Just to be a bit more precise to my comment above. A general solution would need something like this:

[code]

[2020-10-01 16:37] krocard commented on #8014
To confirm, all those devices were on Android 9? The patch is realy to merge as soon as you will confirm this [internal: cl/334806730].

[2020-10-01 19:07] blonsky95 commented on #7982
It worked!

Did just that, subclassed DefaultRendererFactory and overrode buildAudioRenderers to do nothing, and no, there's no audio, but it definitely works great, 0 clunkiness.

So what can be done to get audio back without messing that up? Is it possible?

[2020-10-01 19:31] dzabdelhak opened #8028 "Switch between MP4 Streams on the fly"
hi
I am Using Exoplayer2 as my video player
I have multiple .mp4 links for the same video but different  Qualities
I added a spinner to the player view to choose quality and therefore switch the media source to the other URL
its working fine but i want to know if I can make the switch process smoother by pre-buffering some  space after the current position on all qualities
here's what I am using r

[2020-10-01 19:51] marcbaechinger commented on #7946
Sorry Yuriy! I didn't see your comment because it's closed Aside: You can reopen an issue if you think it makes sense (it makes sense in this case:). If an issue is closed it's not really visible anymore.

You can pass your own implementation of `MediaSourceFactory` to [one of the static methods](https://github.com/google/ExoPlayer/blob/83477497c19959f4b33c3af57cc1e646fcc3848a/library/core/src/mai

[2020-10-01 19:55] ChernyshovYuriy commented on #7946
Hey Marc,
Thanks a lot for advice. I will take a look. Meanwhile, I used MediaMetadataRetriever and it works as I need. I provided my own imp of MediaDataSource which reads bytes as needed.

[2020-10-01 20:02] marcbaechinger commented on #7946
Ha! Great! You don't even need me! :D

[2020-10-01 22:42] stevemayhew commented on #1993
@andrewlewis we are working a number of issues with our customers around audio routing, not an easy problem.

The universe of Android STB's we support includes everything from the simple (Xiaomi MI, with Bluetooth, Optical micro SPIDF, headphone, HDMI) to boxes that even include composite video connectors.

Pass-thru is particularly tricky, we have experienced vendor and android platform code that

[2020-10-02 01:04] #7728 closed, assigned to andrewlewis

[2020-10-02 05:20] boylenssen commented on #7954
I can confirm this issue. I upgraded to 2.12.0 last week and got crashes from the field.
Created an Android 6.0 emulator and could reproduce it. No proguard needed

[2020-10-02 06:08] a4x4kiwi opened #8031 "Audio / Video goes out of sync after several hours / days - Multicast source"
### Issue description
After from 1 about hour to sometimes a day, the audio and video goes out of sync during playing.
This occurs in our app, and the Exo Demo.
The channels are free to air DVB-T
We are using Multicast sources.
Changing 'channel' / Source corrects the problem until it occurs again.
The issue is not evident on Android / windows VLC

### Reproduction steps
Watch a DVB-T multicast so

[2020-10-02 06:16] fgl27 commented on #7996
Yes I can, thanks for the help, there was some confusion on my side... Sorry.

I re-tested everything I hope this is not too confusing, if it's let me know I'll try explaining better.

If I use `playerView.setPlayer(player);` to a player that is already working, I get the error from my first post.

If I just change the `layout` and fix the `z order`, the error will not happens...

Why I was confus

[2020-10-02 06:32] fgl27 commented on #7998
After better understanding the issue https://github.com/google/ExoPlayer/issues/7996 I discover that what was causing the `flicker green screen` when just changing the layout was the way I was fixing the z order like this

[code]
By not doing that, using the bellow the problem will not happen.

[code]

SurfaceView_Small is the SurfaceView of the small player that must stay on top, the SurfaceView_

[2020-10-02 09:11] krocard commented on #7996
Side note: I think I have figure out why this happens. Because of deviceNeedsSetOutputSurfaceWorkaround, the video codec is destroy and recreated on setOutputSurface, but the audio keeps playing. Thus the new codec has to decode faster than real time from the last keyframe to catch up the audio until playback reaches the next keyframe.

[2020-10-02 09:22] krocard commented on #7996
Unfortunately, I don't know much about moving views. Why can't you move the z order of the player view to put it under the UI view? Similar to what you did for the two player view.

[2020-10-02 09:34] krocard commented on #8020
Please provide us with the file you want to play. Additionally, please make your example code minimal as we can not review that much code.
Finally, the stacktrace point to an null URI in the data source, please check that no data source with an empty URI is passed.

[2020-10-02 09:58] krocard commented on #8020
@marcbaechinger You might want to take a look as this might be an instance where we are missing a null check on an input value of a media source and endup asserting deep in the stack in a different thread which makes unclear for the developer what is wrong in their code.

[2020-10-02 10:17] fgl27 commented on #7996
I need to further check to see if it's possible.

In order to have this mess I made working was easier to contain background  players, UI, top player, on separated frame layouts...

I need to see if is possible to have it all in the same container and keep the expected z order on all supported android versions in all situations.

Probably is possible will work on it.

Thanks.

[2020-10-02 10:24] AquilesCanta commented on #8009
Hi @gokulkalagara, everything seems to suggest this is the device not being able to keep up, and not an ExoPlayer issue.
- Please try playing the content using a lower playback speed, like 1.1, and let us know if you still run into issues. Ideally, try and find the playback speed threshold at which you run into playback issues.
- Please also try an older ExoPlayer version (like 2.10 and 2.11) to s

[2020-10-02 10:39] rahulgiradkar00 opened #8032 "Exoplayer Video not playing"
I am building a home page like Tick tok using exoplyer
Getting following error in exoplayer lib.

`ExoPlayerImplInternal: Playback error
      com.google.android.exoplayer2.ExoPlaybackException: MediaCodecVideoRenderer error, index=0, format=Format(1, null, null, video/avc, null, -1, null, [400, 500, 29.99912], [-1, -1]), format_supported=YES
        at com.google.android.exoplayer2.ExoPlayerImplI

[2020-10-02 10:40] krocard commented on #8022
From the stack trace, it seems like the TCP connection was successfully established, the request send, but the server did not answer.
This seems like this is an issue with the server but without more information like an analysis from the [network profiler](https://developer.android.com/studio/profile/network-profiler) or a way to reproduce, I'm afraid we can not help you further.

[2020-10-02 10:48] marcbaechinger commented on #8020
I'm not sure we are missing a null check here because this uses custom data sources we do not control.

The `StatsDataSource` expects the wrapped data source to return a non-null Uri from `getUri()` after `open()` has been called on that data source. That seems to be correct according to what we say in the java doc.

The code in `StatsDataSource` is

[code]

The java doc of the `DataSource` interf

[2020-10-02 10:54] marcbaechinger commented on #8020
Probably `Aes128DataSource.open()` does not call `open` on the upstream data source?

[2020-10-02 11:02] IanDBird opened #8033 "ConcatenatingMediaSource stops sending timeline updates"
## 📱 Environment
- **Device**: NVIDIA SHIELD
- **ExoPlayer Version**: r2.12.0

## Details

We have our own implementation of a MediaSource that is responsible for playing Live content. We therefore frequently provide updates to the timeline as its duration changes over time. This custom MediaSource is used within a `ConcatenatingMediaSource`.

We found that after a number of timeline updates, our

[2020-10-02 11:09] marcbaechinger commented on #8033
Thanks for reporting! Have you used your media source below 2.12 without seeing that issue?

[2020-10-02 11:15] IanDBird commented on #8033
We have, but in previous implementations we didn't rely on this timeline update in order to determine duration/etc. As part of updating to r2.12.0 we are trying to remove some of our own bespoke code to leverage what's there as much as possible. So it's unclear as to whether this is a recent regression or something that has been around for a while.

At the moment, I have applied my patch locally t

[2020-10-02 11:29] marcbaechinger commented on #8033
Hmm, I'm wondering why it appears that any of these messages are handled by the main thread. In general and when looking into the `ConcatenatingMediaSource` I would expect this should be the playback thread. It seems like `MSG_UPDATE_TIMELINE` or `MSG_ON_COMPLETION` is expected to be handled by the playback thread when looking into `getPlaybackThreadHandlerOnPlaybackThread()` and `Concatenatingmed

[2020-10-02 13:22] tibor-leo-safar-accedo opened #8034 "How to seek backward inside a stream where DRM key rotation is in place."
### [REQUIRED] Searched documentation and issues
Have digging all across the internet for such issue but not much related discussions discovered so far.

### [REQUIRED] Question
Hi,
The scenario of the issue is the following. We are using ExoPlayer version 2.10.8
It is given a Live DASH stream with DRM key rotation, there is a new DRM key in every 5 minute.
We do use the OfflineLicenseHelper class

[2020-10-02 14:19] marcbaechinger commented on #8023
I think I do not understand what you are trying to achieve with clipping, when there are no gaps or other sources in between the clips. It's basically the same as a single source with no clipping.

If you call `prepare()` each time in between, it always will discard all the data that is already buffered and start over. I think that's not what you want to achieve.

To make sure there is no misunder

[2020-10-02 17:01] nishantkp opened #8035 "HLS video playback throws "Unexpected runtime error" after video complete : "E/ExoPlayerImplInternal: Playback error""
### [REQUIRED] Issue description
When I play HLS stream and scrub it to the end or let it play through very end, ExoPlayer throws an error. Strange thing is it completes the whole video and then throws an error.

### [REQUIRED] Reproduction steps
Able to reproduce in demo app

### [REQUIRED] Link to test content
Can you share an email address where I can send test content?

### [REQUIRED] A full b

[2020-10-02 17:39] #7946 closed, assigned to marcbaechinger

[2020-10-02 17:41] chihung93 opened #8036 "[Exoplayer - audio auto focus]"
Hello everyone, I have problem with Audio focus on Exoplayer 2.9.2
=> My expectation :
When my app is playing video -> pause Spotify
When my app is pause/stop/destroy video -> resume Spotify
But I have no idea about this, only stop spotify not pause when my app is playing video
Thanks

https://medium.com/google-exoplayer/easy-audio-focus-with-exoplayer-a2dcbbe4640e

[code]

[2020-10-02 19:09] marcbaechinger commented on #7964
With API 30 Android creates a larger media player in a carousel for apps with media notifications and a media session token attached to it. As a consequence of this change, swiping away a media notification no longer fires a pending intent. Hence the `onNotificationCancelled` callback is no longer called on API 30, when the user swipes away a notification with a media session token.

For API level

[2020-10-02 20:49] nishantkp opened #8037 "Dash + DRM live/vod stream fails to load on some devices : MediaCodecVideoRenderer error"
### [REQUIRED] Searched documentation and issues
Random media coded playback error

### [REQUIRED] Question
I have few DRM live streams. On some devices it works, on other it started giving following error(everything was fine before until 2-3 days ago). Not sure what it means. It is only appearing on physical devices, emulators are just fine.

Is it something to do with streams?
Can you help me fi

[2020-10-02 22:40] littledot opened #8038 "Media item downloaded repeatedly when repeat mode is Player.REPEAT_MODE_ONE"
### [REQUIRED] Issue description
In 2.12.0, ExoPlayer will repeatedly download MediaItem until released, wasting user bandwidth.

https://i.imgur.com/nZDROLY.png
All these requests happened within 10 seconds of playing.

### [REQUIRED] Reproduction steps
Simply prepare a SimpleExoPlayer like so and check the network logs using your favorite MITM inspector.

    exoPlayer.setMediaItem(MediaItem.fro

[2020-10-02 23:07] baconz opened #8039 "Can/should we have an API for re-provisioning DRM certificates?"
### [REQUIRED] Searched documentation and issues
Indeed, I did.

### [REQUIRED] Question
tl;dr what, if any, are the ill effects of "over-provisioning" DRM certificates? As an extreme example, if we were to provision each time the player started up, would we have any problems besides unnecessary resource usage and added latency?

We see a relatively constant low-level trickle of `MediaDrmStateExce

[2020-10-02 23:08] marcbaechinger commented on #8038
I think that works as intended. This behaviour was the same before version 2.12.

But you can customize your player by using a `CacheDataSource` as [documented in the developer guide](https://exoplayer.dev/customization.html#caching-data-loaded-from-the-network). For the use case of small videos like your sample stream `https://i.imgur.com/dgNL2jK.mp4` a small sized [`SimpleCache`](https://exoplay

[2020-10-03 00:17] littledot commented on #8038
Are you sure you didn't misunderstand the issue?

The new API has already downloaded the media, and is rendering it in a PlayerView. But for some reason, it decides to download the exact same file again & again & again non-stop.

I only took a screencap of 10 seconds and it downloaded the file 25 times. I could leave the player looping for 5 minutes, and it will download the file 750 times.

None

[2020-10-03 02:37] tpuserhp commented on #7856
Hi support. Just an update. I've managed to work around the screen flickering issue -  streaming a link  on my OnePlus One device using ExoPlayer 2.11.8. I  customized  the MediaCodecSelector to force only the working video hardware decoder to be selected for my OnePlus one device. Now ithe link is streaming normaly like before when my app was using ExoPlayer 2.10.8. It was a good learning experie

[2020-10-03 07:28] fgl27 commented on #7996
I did some testing, on this device isn't possible to reuse the player by moving the view...

I have this

PlayerView_background --- UI --- PlayerView_onTop

The `PlayerView_onTop` is a small preview player that allows the user to choose something to play next without closing `PlayerView_background`

If after all the player have load a video I move the `PlayerView_onTop` to the place of `PlayerView

[2020-10-03 10:49] marcbaechinger commented on #8038
Not sure, but pretty sure? :)

The Developer Guide says I should [use a CacheDataSource for temporarily cache data](https://exoplayer.dev/customization.html#caching-data-loaded-from-the-network).

In the code snippet you are preparing the player with a media item with a duration of 1 second while repeat mode ONE is selected. I assume we are having a [default buffer configuration](https://exoplayer

[2020-10-03 19:23] master255 commented on #8038
@littledot The best practice now is to cache content. The whole file. This significantly reduces the network load in most scenarios.

[2020-10-03 23:02] skreenr commented on #8023
Looking at your code snippet, a question:  _How do you stop Exoplayer at a specific time? _and_ then re-start_
My idea was to play short clips of predetermined positions out of a "mother" clip, which is  <10M file size
The thinking was it may provide a more responsive = instantaneous UX as compared to just opening/preparing individual clips.
Perhaps I am wrong, would love to hear about better way

[2020-10-04 02:47] littledot commented on #8038
Thanks for working on caching, I appreciate the 2.12.0 changes that makes setting up a cache for SimpleExoPlayer much easier. But I'm talking about no-cache players, and I think you might be confusing Progressive vs Adaptive streams. :)

Behavior <2.12.0, with no cache configured:
Progressive streaming, using `.prepare(MedisSource)` -> only downloads once
DASH, HLS using `.prepare(MediaSource)` ->

[2020-10-04 13:44] marcbaechinger commented on #8023
Can you please open another issue with the fps problem and test this with the demo app of ExoPlayer instead with another app? You can start your sample uri by [adding it to the json in source code](https://exoplayer.dev/demo-application.html#1-editing-assetsmediaexolistjson) or [by firing an intent](https://exoplayer.dev/demo-application.html#3-firing-an-intent). After you've run the video in the

[2020-10-04 13:53] fumundecheeze commented on #8023
Thank you can you tell me how to set up SAS open source the easiest way..

On Sun, Oct 4, 2020, 9:45 AM Marc Baechinger <notifications@github.com>
wrote:

[2020-10-04 14:06] marcbaechinger commented on #8038
Ok, thanks for clarification and helping me understand. I appreciate your patience.

I understand now that the issue says that

[code]

yields a totally different networking behaviour of the player than if you do the deprecated way which is

[code]

I added back the bug label, so we investigate.

When you test and you do instead use the other, non deprecated, API based on media sources like so

[c

[2020-10-04 14:17] marcbaechinger commented on #8038
I reviewed the JavaDoc of the deprecated `prepare(MediaSource)` method, it says that `setMediaSource(MediaSource)` should be used, which appears to me to be correct. Because if someone does some specific setup of a media source, like using a custom data source or something else which can be configured when using the factory directly, that media source still needs to be passed directly, because the

[2020-10-04 14:27] marcbaechinger commented on #8023
@fumundecheeze This is the ExoPlayer issue tracker. If you think this is the right issue tracker for your question, please open a new issue and ask your question. Else someone from SAS can probably help you in the most efficient way.

[2020-10-04 17:16] bobguy1234 opened #8040 "Is it possible to change the size of exo_playback_control_view controller at runtime programmatically?"
![exoplayer](https://user-images.githubusercontent.com/44153219/95022236-c2b58080-062a-11eb-9ea4-4907a8b8cfad.png)

Right now I am using the ```PlayerView```

[code]

At runtime I have a button, and I want to change the size of controller view on that button click. Exoplayer automatically uses the view ```exo_playback_control_view.xml``` (I don't need to use ```findviewbyid``` so I am unsure how I

[2020-10-04 19:53] littledot commented on #8038
Thank you for pointing out the mistake I made about the docs; I mixed up `.setMediaSource()` & `.setMediaItem()` together due to how similar they look.

I tested `.setMediaSource() & .addMediaSource()` with Progressive media and it only downloads the media once. Here's my setup:

    val exoPlayer = SimpleExoPlayer.Builder(context).build().also { playerView.player = it }
    val dsf = OkHttpDataSo

[2020-10-04 21:13] marcbaechinger commented on #8038
Cool! I'm glad it's working! :)

It seems that `okHttpClient` does the caching (TIL). It probably caches files in a behaviour similar to a web browser (honouring cache-control, max-age headers and the like). The `DefaultMediaSourceFactory` that is in charge for doing the media item to media source conversion uses the `DefaultDataSourceFactory` that makes HTTP requests with a plain http connection

[2020-10-04 22:21] #8038 closed, assigned to marcbaechinger

[2020-10-05 03:03] skreenr commented on #8023
@marcbaechinger  - **Which of the Demo apps** you want me to try? There are a bunch of them in the Zip of Exoplayer project.
I opened each and looked inside, none had an actual Video file in them. Perhaps they are for streaming use cases, which won't be my case.

What I did was just grabbed this Alynx walpaper project, which builds fine and uses video file, replaced their video with mine of 30fps

[2020-10-05 04:11] Taranlayal10 commented on #8003
Appreciate your response on this.

[2020-10-05 06:12] #8040 closed, assigned to ojw28

[2020-10-05 07:28] Prateek-Kapoor commented on #7971
Hi Samrobbo,
Any update on this?

[2020-10-05 07:42] fgl27 opened #8041 "NVIDIA SHIELD Decoder init failed: OMX.Nvidia.h264.decode after moving a player to another view"
### Issue description

After moving a player to a different view using `playerView.setPlayer(player);` and stopping the app (pressing home)
After resume when trying to reuse the original `playerView` get a error `Decoder init failed: OMX.Nvidia.h264.decode`

### Reproduction steps

1. Load a player to a `playerView_1`, move the player `playerView_2` (that before this had no player on it) using `pl

[2020-10-05 10:20] andrewlewis commented on #7996
If I understand correctly, moving the preview player (that was previously on top) to fill the background is working fine, but the new preview player (which used to be in the background) is not behaving correctly after the transition, and this problem only affects certain devices.

I think if I were you I'd add a mode where you release and create a new preview player and surface each time a preview

[2020-10-05 10:20] #7996 closed, assigned to andrewlewis

[2020-10-05 10:28] fgl27 commented on #7996
Are you going to inform Xiaomi?

As was done here https://github.com/google/ExoPlayer/issues/7411#issuecomment-639009466

This is a device problem that must be addressed by the maker yes, but if they aren't informed how they will fix it? I don't have any contact.

[2020-10-05 10:59] andrewlewis commented on #7996
They will almost certainly want minimal steps/code to reproduce the problem, in addition to a description of what is going on. If you could make a test project (possibly based on the ExoPlayer demo app) and share a link to the code we can file a bug with them.

[2020-10-05 11:03] play-miyamoto opened #8042 "Cannot play on devices with security level L1"
I can't play L1 videos on devices with L1 security level. Can you give me some hints on how to find out?

Confirmation environment

Device Name : ADT-3
Android OS : 11
Package : com.google.android.exoplayer2.demo
Branch : release-v2、dev-v2

[2020-10-05 11:41] vinodkputta commented on #8014
@krocard except **pacificrim** model all are on Android 9.

[2020-10-05 11:43] andrewlewis commented on #8039
This makes it sound like a problem with the app rather than an issue affecting how the device is provisioned, and it seems like it would be good to try to diagnose that as far as possible first. Would you be able to share a bug report taken just after reproducing the failure to play DRM content with `dev.exoplayer@gmail.com`?

@rrfrias, please could you comment on this? Thanks.

[2020-10-05 11:58] marcbaechinger commented on #8023
Yes, we should compare the same thing. What I'm saying (guessing to be fair) is that the jitter may be caused by GL tranformations or the code of the app which we probably can not review very closely. ExoPlayer uses the same hw decoder like media player in case an app does not force software encoding with ExoPlayer explicitly. Please open another issue for the GL question so we can keep things sep

[2020-10-05 12:30] fgl27 commented on #7996
OK I'll share it tomorrow or later this week.

Thank you.

[2020-10-05 13:01] #8004 closed, assigned to andrewlewis

[2020-10-05 13:01] #7984 closed, assigned to andrewlewis

[2020-10-05 13:02] #7956 closed, assigned to andrewlewis

[2020-10-05 13:02] #7815 closed, assigned to andrewlewis

[2020-10-05 13:04] andrewlewis commented on #7745
Closing on the assumption that this was an app issue.

[2020-10-05 13:04] #7745 closed, assigned to andrewlewis

[2020-10-05 13:07] andrewlewis commented on #7666
It's been a while but I think all questions were answered. In case something here was unresolved please reply or open a new issue. Thanks.

[2020-10-05 13:07] #7666 closed, assigned to andrewlewis

[2020-10-05 13:09] andrewlewis commented on #7428
The IMA extension now supports audio-only ads. See acc8453628b250318f39b03e15a9f2dee3bcb0cc and #7689.

[2020-10-05 13:09] #7428 closed, assigned to andrewlewis

[2020-10-05 14:56] kim-vde commented on #8005
One of the packets in the TS file has its length field equal to 1, which is not possible as it would mean that the total packet size is smaller than the packet header size. More precisely, the `payloadSize` is negative on [this line](https://github.com/google/ExoPlayer/blob/release-v2/library/extractor/src/main/java/com/google/android/exoplayer2/extractor/ts/PesReader.java#L213) for this packet be

[2020-10-05 15:04] AskMeCode commented on #7815
@andrewlewis hi dear can you please guide me to make this custom AudioProcessor i don't got it from the URL you give me . if you have some time for me please .

[2020-10-05 15:08] christosts commented on #7347
We have included an example how to download DRM protected content on the demo app in v2.12, you can start by inspecting this snippet of code in [DownloadTracker.java](https://github.com/google/ExoPlayer/blob/r2.12.0/demos/main/src/main/java/com/google/android/exoplayer2/demo/DownloadTracker.java#L199-L231)

[2020-10-05 15:24] andrewlewis commented on #7815
I'm afraid we don't have time to give step by step guidance on niche use cases like this. I suggest starting by copying `ChannelMappingAudioProcessor` and making edits along the lines of what's suggested in https://github.com/google/ExoPlayer/issues/2659#issuecomment-378284797. Then you will need to customize the renderers factory to include your custom audio processor.

[2020-10-05 15:28] cbadhrinath opened #8043 "Cookie management fails on few devices and works after factory reset."
We are using Exoplayer for our app with Akamai as a VOD resource provider.
Our player implementation works really well with the cookies provided by Akamai.
However, there were few devices which got reported for some playback failures.
On testing with an affected device, we noticed that it wasn't propagating the cookies as expected.
We followed all the advices provided by the following threads:
htt

[2020-10-05 16:23] tonihei opened #8044 "MediaItem.Subtitle is missing some text-related fields."
### [REQUIRED] Issue description
2.12 changed the setup of `SingleSampleMediaSource` to always use a `MediaItem.Subtitle` instead of a `Format` object to define the properties of the single sample track. This removed the possibility to set any `Format` values that are not part of the `MediaItem.Subtitle` config.

The following values are potentially text-related but can't be set anymore:
 - `Forma

[2020-10-05 16:31] kim-vde commented on #7861
I will close this issue. Feel free to open a new issue if you discover that the problem comes from ExoPlayer.

[2020-10-05 16:31] #7861 closed, assigned to kim-vde

[2020-10-05 16:31] #7941 closed, assigned to kim-vde

[2020-10-05 16:44] marcbaechinger commented on #8044
Yup, thanks for reporting. We will provide a fix asap and update this issue. :)

[2020-10-05 19:37] #7969 closed, assigned to tonihei

[2020-10-06 00:49] skreenr commented on #8023
Getting this **ERROR: _plugin with id 'com.android.application' not found_** when I try building the Main Demo**
Any advise?

[2020-10-06 01:05] #7713 closed, assigned to ojw28

[2020-10-06 06:12] skreenr opened #8045 "Video FPS performance comparison Exoplayer vs MediaPlayer"
### [REQUIRED] Searched documentation and issues
This seem like not exactly a new issue, as I am finding this thread https://github.com/google/ExoPlayer/issues/5003
Not sure how  the cases are, hence I am sharing observations and a concern below:

### [REQUIRED] Question
I am observing that the video playback FPS appear to be lower compared to what I was getting using MediaPlayer for same video co

[2020-10-06 06:17] georgi-neykov-hub opened #8046 "Add methods for replacing playlist items in Player"
### [REQUIRED] Use case description
In Exoplayer v2.12.0 the new playlist/MediaItem API is missing methods for replacing an existing item(s) at a given position.
The feature is needed if someone needs to refresh the metadata/clipping data/duration/... of an item already in the playlist. In my case I am using a diffing library to update the playlist via a change script which results in add/remove/c

[2020-10-06 07:47] georgi-neykov-hub opened #8047 "Invalid assertions in `SessionPlayerConnector`"
### [REQUIRED] Issue description
I am using the new media2 extension for Exoplayer (v2.12.0) and I am trying to use the new playlist APIs in a `Player` connected via a `SessionPlayerConnector` to a `MediaLibrarySession`. The `SessionPlayer` APIs from AndroidX prohibit calling `SessionPlayer.setMediaItem` with a `null` `MediaItem` argument and calling `SessionPlayer.setPlaylist()` with a `null` or

[2020-10-06 09:51] Tolriq commented on #8012
@tonihei so did some more tests with R8 full mode (```android.enableR8.fullMode=true```)
And AGP 4.1.0 RC3

Code that looks like my current prod

[code]
Gives ->
![image](https://user-images.githubusercontent.com/932609/95185643-40af8e00-07c9-11eb-8edf-3ca7a5900c1d.png)

Proper code I'd want to end with
[code]

Gives ->
![image](https://user-images.githubusercontent.com/932609/95185693-52913100-07

[2020-10-06 10:49] marcbaechinger commented on #8046
Yes, that's a very reasonable request. Thanks for filing!

[2020-10-06 10:52] tonihei commented on #8046
Out of interest, why is getting multiple playlist change notifications a problem for your case? I think we discussed `replaceItem` at some point and concluded you can always use `remove+add` to achieve the same goal. Note that this is different from `moveMediaItem` that provides additional functionality to ensure even the currently playing item can move without interrupting playback.

[2020-10-06 12:00] marcbaechinger commented on #8023
I just tried and that works fine for me. I cloned the project from GitHub with

[code]

Then I imported the project with Android Studio and run the demo app which deployed in the emulator.

How do you build and do you have some more log output?

[2020-10-06 12:05] marcbaechinger commented on #8023
When I google the error message above it brings me to a [StackOverFlow article](https://stackoverflow.com/questions/24795079/error1-0-plugin-with-id-com-android-application-not-found).

You probably need to update the gradle version.

What do you get when you run the following from the root of the ExoPlayer project?

[code]

[2020-10-06 13:43] #8005 closed, assigned to kim-vde

[2020-10-06 15:52] tonihei commented on #8028
If you'd like to adapt between different qualities of the same video, you should package your media in segments and publish a DASH manifest, HLS playlist or SmoothStreaming manifest with your available qualities. See https://exoplayer.dev/supported-formats.html#adaptive-streaming for supported adaptive streaming formats.

If you really want to prebuffer some media with MP4s only, then you probably

[2020-10-06 16:58] tonihei commented on #8032
Please provide the full information requested in the issue template including bugreport, device name, ExoPlayer version, media file etc.

[2020-10-06 17:06] tonihei commented on #4352
We now enabled a change that times out the release call so that it's less likely that the app runs into ANRs. Instead the player will report an error through `onPlayerError`.

The underlying platform issue for this ANR is solved from Android 11, and this workaround is probably all we can do for the existing Android versions.

[2020-10-06 17:06] #4352 closed, assigned to ojw28

[2020-10-06 17:08] tonihei commented on #5887
We now enabled a change that times out when detaching or replacing surfaces with `SimpleExoPlayer` so that it's less likely that the app runs into ANRs. Instead the player will stop and report an error through onPlayerError.

The underlying platform issue for this ANR is hopefully solved from Android 11, and this workaround is probably all we can do for the existing Android versions.

[2020-10-06 17:08] #5887 closed, assigned to andrewlewis

[2020-10-06 17:14] tonihei commented on #8031
Thanks for providing all the information.

Unfortunately, the bugreport contains nothing unusual.

Is this a gradual change (i.e. getting worse over time) or a sudden change (a jump when audio and video get out of sync)?
And is only happening on the mentioned Bravia device or does it happen on all devices including phones?

I was trying to reproduce but none of the example streams seem to be acces

[2020-10-06 17:16] #8017 closed, assigned to icbaker

[2020-10-06 17:17] tonihei commented on #8035
This is most likely a duplicate of #8017 and should be fixed on the dev branch.

[2020-10-06 17:17] #8035 closed, assigned to tonihei

[2020-10-06 17:21] tonihei commented on #8037
Could you please capture a full bugreport from the device and upload it here or send to `dev.exoplayer@gmail.com` with `Issue #8037` in the subject line?

Assigning to @jt64 for further investigation. Is there a known set of issues that would result in this error?

[2020-10-06 17:26] tonihei commented on #8047
@sim0629  Could you take a look?

[2020-10-06 18:39] georgi-neykov-hub commented on #8046
With the new media2 extension each player timeline change notification triggers notifications for media session's playlist changes which involve posting on a `Handler`, submitting (and allocating) `Runnable` s to an Executor and so on. Adding and using the requested methods during calls to `SessionPlayerConnector.replacePlaylistItem ()` or direcly calling `Player.replaceItem()` on an instance hook

[2020-10-06 18:43] georgi-neykov-hub commented on #8046
@tonihei , how can the `MediaItem` for the currently playing item be updated? With the current properties it's basically the title of the item?
Would the playback be interrupted if the currently played item's `MediaItem` is replaced with a new one with the same `mediaId`, but with possible differences in other fields?

[2020-10-06 20:31] mac-dobrzynski-vizio commented on #7512
Hi @AquilesCanta , @stevemayhew

I've implemented a temporary patch that allows Apple's IFrame-only stream to be played : [p-fix-apple-iframe-bug](https://github.com/TiVo/ExoPlayer/tree/p-fix-apple-iframe-bug)

Although quick & working, this patch has some severe performance cons:

1. it destroys the `FragmentedMp4Extractor` object every time new I-Frame segment is being loaded.
2. media initializ

[2020-10-06 21:06] stevemayhew opened #8048 "Ordering of AnalyticsListener causes assert in PlaybackStatsListener"
### Issue description
The `PlaybackStatsListener` should work correctly no matter what order it is added to the `SimpleExoPlayer.addAnalyticsListener()` in relation to other `AnalyticsListener` objects.

### Reproduction steps
Sorry I don't have an easy example to share, but here is a code sample that will reproduce the issue:

1. Create a playlist with an error (404 on a segment for example)
2. A

[2020-10-06 22:25] rrfrias commented on #8039
Re-provisioning will cause any offline licenses to be become unplayable. It is probably not a good idea to re-provision each time the player starts up. It might be worthwhile to re-provision in cases when playback failed.

Each app has its own DRM certificate installed when the it provisions. It is possible that there was an issue with the certificate. In that flow however a NotProvisionedExceptio

[2020-10-06 22:59] dzabdelhak commented on #8028
thank you

[2020-10-06 22:59] #8028 closed, assigned to tonihei

[2020-10-06 23:19] a4x4kiwi commented on #8031
Hi, Thanks for your attention on this.

It can take from an hour to overnight to occur, and tends to happen progressively. Not all TVs have the problem all at once. Some will be OK for more hours or even days. The majority of the TVs are all the same model.
The time for it to occur varys between TVs, all TVs are on the same channel for our tests. The are about 70 devices (TV and NVIDIA Shields) on

[2020-10-06 23:40] skreenr commented on #8023
I dwnload'ed Zip of the project instead of cloning.  Usually this works fine

The advise is good in that SoF article, and I copied Build.gradle file from another project that builds and placed into Main package. Now it syncs however not a APK but as a module, because I guess the file structure is wrong (missing app folder for one)
Here is snapshot

Let me know if it's an easy fix

[2020-10-07 01:00] Aminebel1987 opened #8049 "Mi box Android 9.0 probleme audio hd"
Hi I installed android 9 on mi box 3, But after reboot, TrueHD and DTS HD they disappeared on kodi

[2020-10-07 07:15] krocard commented on #8014
Which Android version is `pacificrim` on ?

[2020-10-07 08:08] abolfazlghanbari23 opened #8050 "How to play a wav file while we are filling out that file"
Hi
I receive several integers from a smart gadget using android Bluetooth. Then I convert these numbers to a wave file. I want to play these numbers in realTime. This means that the wave file is constantly being filled. How do I do this with exoPlayer?

[2020-10-07 08:08] abolfazlghanbari23 opened #8051 "How to play a wav file while we are filling out that file"
Hi
I receive several integers from a smart gadget using android Bluetooth. Then I convert these numbers to a wave file. I want to play these numbers in realTime. This means that the wave file is constantly being filled. How do I do this with exoPlayer?

[2020-10-07 08:18] andrewlewis commented on #8039
Thanks for the information!

@baconz Please could you provide a bug report?

[2020-10-07 09:06] marcbaechinger commented on #8046
Replacing the media item would mean replacing the underlying `MediaSource` and this would interrupt the currently playing media when replaced and prepare the new media source that's created for the new media item internally.

Do I understand correctly that you actually would rather want to only update the `MetaData` part (currently only holding the title) or the `MediaItem.PlaybackProperties.tag`?

[2020-10-07 09:07] giladna commented on #8044
@marcbaechinger

this is my temp fix for this

https://github.com/google/ExoPlayer/compare/release-v2...giladna:2.12.0.1

[2020-10-07 09:19] DavidMihola commented on #7911
@ojw28: Thank you very much for your reply!

At the moment, our streaming providers are still a bit reluctant to change their configuration to "match ExoPlayer's implementation" so I have posted my question also to the DASH-IF Github project...

[2020-10-07 09:24] kvmoondra opened #8052 "does ExoPlayer internally perform below-mentioned adjustment as per users internet speed or is there access or settings provided in the library for the same so that we can do so?"
We are using [Chewie Player for flutter](https://pub.dev/packages/chewie) android app, it uses a [video player plugin](https://pub.dev/packages/video_player) for flutter internally and this video player plugin uses ExoPlayer internally to play videos on android devices.

We are using AWS media convert service which gives video output in HLS format. This helps us to show videos in lower resolution

[2020-10-07 09:30] marcbaechinger commented on #8023
There shouldn't be a need to copy another gradle file into the project. I downloaded the project ZIP file from [https://github.com/google/ExoPlayer/archive/release-v2.zip](https://github.com/google/ExoPlayer/archive/release-v2.zip). Then start Android Studio and import the project with `New - Import project` and select the root folder of the ZIP file that has been extracted to for instance `/home/

[2020-10-07 09:54] marcbaechinger commented on #7971
If this works on some devices while not on other low-level devices this indicates that it is a device specific problem. Seems like you did everything right. I'm not aware of further configs which would help in such cases.

Below API 24 you need to use a `TextureView` when animating like the documentation says. Animating a `SurfaceView` with protected content (L1) is always difficult because the pr

[2020-10-07 12:03] Prateek-Kapoor commented on #7971
Thanks, marchaechger for the information.

But as you mentioned that - **If this works on some devices while not on other low-level devices this indicates that it is a device- specific problem.**

But I never mention that it doesn't happen in higher-end devices. I said that **the flickers amount varies from device to device, video flickers more in low-end devices(LG-H860), and less in good configu

[2020-10-07 12:43] marcbaechinger commented on #7971
I don't know what I can do to help you some further from ExoPlayer side I'm afraid. If you see it is working better with a `TextureView` then using it seems to make sense. I leave this issue open in case someone else has some ideas how to improve this behaviour.

[2020-10-07 12:57] ghost opened #8053 "Allow toggling the read-only property of CacheDataSource"
### Issue description
Flinging a `RecyclerView` with multiple `PlayerView`'s playing on screen (~6 at once) makes the scrolling stutter considerably when using `CacheDataSource`. No problem happens when using `DefaultDataSource`.
I am pooling my `Player` instances and reusing them when possible.
I'm using the `ExoDatabaseProvider` for the `SimpleCache` instance passed to the `CacheDataSource`.
Als

[2020-10-07 13:07] SandraViJu commented on #7610
I have a same error when try to playing offline video, the error reported by firebase is these:

<img width="1127" alt="Captura de pantalla 2020-10-07 a las 15 00 02" src="https://user-images.githubusercontent.com/70659518/95334047-e2101000-08ad-11eb-8c9e-bd223b920214.png">

Some devices with this error:
Samsung Galaxy Tab A Android 10
Samsung Galaxy A7(2018) Android 10
Samsung Galaxy S9 Android 1

[2020-10-07 14:12] grosalex commented on #7964
Hey Marc, thanks for your answer.
Like you said I was using it to terminate my service.

[2020-10-07 15:07] AnassHmida opened #8054 "Implementing a DashManifestParser"
Hello, I'm asking if you guys can show me a way to implement a way to retrieve a licenseURL using dash manifest from azure,
I saw issue  #3393 but unfortunately, it doesn't tell how to retrieve the license URL.
can anyone help me pls ??

[2020-10-07 16:21] tonihei commented on #8048
Thanks! I'm able to reproduce that.

In theory, all `Player.EventListener` callbacks should always arrive in the order in which they are called even if they are called from the callbacks themselves. We even have an internal notification queue to resolve this notification recursion.

The problem is that `PlaybackStatsListener` is listening to `onSeekStarted` which is called from `SimpleExoPlayer` a

[2020-10-07 16:52] tonihei commented on #8031
I actually meant the media links in `media.exolist.json` you provided. None of the UDP streams in there even start to play on my device due to network errors that sound as if they are restricted to your organization or similar.

Do you think you can provide us the stream in a way that would allow us to reproduce the problem? We would probably need to add some internal logging once we can reproduce

[2020-10-07 16:53] baconz commented on #8039
@andrewlewis unfortunately we didn't capture one from the p4 when it was in its bad state. Apparently we have an old Nvidia tablet that is behaving the same way. I *think* we'll be able to get our hands on it today.

[2020-10-07 17:43] tonihei commented on #8012
Thanks, I now managed to reproduce this difference. My mistake was to use the debug build with shrinking enabled, but it seems using the release build enables even more shrinking despite setting the same options...

Anyway, I think my statement from above is still true and I'll leave this issue as it is for now:

[2020-10-07 18:01] Tolriq commented on #8012
While I agree it's really not high priority as there's a workaround, on my production app the diff is nearly 20% increase and even in that small repro 10%.
So I'll keep on disagreeing on the small size. Those percentage are not small in the big scheme of things. And IMO should be considered as regression and taken in account on very popular libraries like this one.
If all libraries start to increa

[2020-10-07 19:17] #8009 closed, assigned to AquilesCanta

[2020-10-07 20:29] krocard commented on #7994
@ashutoshgngwr I have tested https://github.com/ashutoshgngwr/noice/commit/8ebdfafbf9cc78ae66439a8413424b18005a2997 and can confirm that there are no gap on my device (Pixel 3).

If you can reproduce with our demo app on your device, then this is definitely a device specific issue.

The only thing I can think off that could break gapless in some devices are the changes made to MediaCodec format ch

[2020-10-07 23:17] a4x4kiwi commented on #8031
As the issue would appear to be multicast related, it of course it is not possible to deliver live content across the internet.
I have recorded a 20 minute TS file using VLC. It is in the above mega share.
vlc-record-2020-10-08-09h41m07s-udp___239.7.0.24_1234-.ts

You can play out this TS file using VLC or similar on your local LAN. Unfortunately, it will glitch when looped.

Another option is to

[2020-10-08 01:05] #7626 closed, assigned to andrewlewis

[2020-10-08 02:31] ashutoshgngwr commented on #7994
@krocard PS I can also reproduce this on an Android 9 Google APIs emulator image.

[2020-10-08 02:48] ghost commented on #8012
The size increase is a major issue to be honest. I have a player app and I advertise it as a very small player. On my upgrading to 2.12.0 the size was increased by around 300KB on my app which is < 3MB at the moment. I did not change any part of the code. I just applied the changes required for the upgrade. I really hope you give this a priority for us unfortunate souls who are forced to support o

[2020-10-08 02:50] sim0629 commented on #8047
I'll be on leave from tomorrow. Sungsoo, could you take a look?

[2020-10-08 03:36] skreenr commented on #8023
I have done that and it appears it's looking for Gradlever 4.0.0 while mine is 3.6.3
How do I change the version? couldn't find a way to change it myself
Have to add that Google demos tend to be tricky to build; I have never actually managed to build any and when I need to learn something I typically would find some tutorial and code on Github that "just builds" rather than givingsome extra work

[2020-10-08 04:05] Dreamxiaoxuan commented on #8020
so how to use Aes128DataSource.open() ,I think my question is
[code]

[2020-10-08 05:03] itboy87 commented on #7853
Hi @AquilesCanta, any update?

[2020-10-08 05:13] nagendrasaavn commented on #7882
I solved this issue by Re-Prepare exoplayer in PlaybackPreparer onPrepare(). Thanks

[2020-10-08 06:15] Tolriq commented on #8012
Read the updated docs for shrinking first as there's mandatory change to keep size lower.
For the rest there's everything in this issue, you need to adapt to your app and needs so there's no one simple solution.

[2020-10-08 07:20] Taranlayal10 commented on #8003
Any updates? This is blocking our release. Please help understanding this issue as this might come in other devices

[2020-10-08 07:24] krocard commented on #8023
You probably need to update Android Studio.

If you can't build the demo with Android Studio, you can try directly with gradle:
Assuming you have the android SDK installed at `~/Android/Sdk` and you are using a linux/mac terminal.
[code]

[2020-10-08 10:47] krocard commented on #8036
First, if if what your app is playing is long duration (eg music), you should keep the current behaviour. Spotify and playbacks in general are only expected to resume after the playback of a notification or a short priority sound in general.

Now if your app is indeed playing a short sound, for Spotify or any other playback (eg Youtube) to resume after your app has stopped playback, [Audio focus t

[2020-10-08 10:47] #8036 closed, assigned to krocard

[2020-10-08 10:50] krocard commented on #4448
Audio track retry has been implemented in ExoPlayer ~v2.12.0~ and will be release in v2.13*. ExoPlayer will now attempt to recreate a track after it fails to be created for 100ms.
Please reopen if your issue is not fixed.

* EDIT: see https://github.com/google/ExoPlayer/issues/4448#issuecomment-707061435

[2020-10-08 10:50] #4448 closed, assigned to krocard

[2020-10-08 10:52] chihung93 commented on #8036
I have used Facebook app, they can play a long video and Pause Spotify, Video pause or stop => Spotify is automatically playing it again.

so How to implement like that with Exoplayer?

[2020-10-08 11:00] krocard commented on #6575
ExoPlayer 2.12.0 now supports (change https://github.com/google/ExoPlayer/commit/501f464217cc5274bd86569556ceff7409876bf3) using the platform speed adjustment engine (for API 23+) which should be of better quality.
To enable using the platform speed adjustment engine instead of the bundled Sonic engine, call `DefaultRenderersFactory#setEnableAudioTrackPlaybackParams(true)` when constructing the pl

[2020-10-08 11:14] krocard commented on #4803
Created b/170376195 to track this issue.

ExoPlayer 2.12.0 now supports (change 501f464) using the platform speed adjustment engine (for API 23+) which might or might not work with tunneling (I do not have a tunneling setup to test).

To enable using the platform speed adjustment engine instead of the bundled Sonic engine, call `DefaultRenderersFactory#setEnableAudioTrackPlaybackParams(true)` when

[2020-10-08 11:16] krocard commented on #7042
Audio track retry has been implemented in ExoPlayer ~v2.12.0~ and will be release in v2.13*. ExoPlayer will now attempt to recreate a track after it fails to be created for 100ms.
Please reopen if your issue is not fixed.

EDIT: The retry did not make it in 2.12.0, see https://github.com/google/ExoPlayer/issues/7042#issuecomment-707062931

[2020-10-08 11:16] #7042 closed, assigned to krocard

[2020-10-08 11:42] marcbaechinger commented on #8020
The `Aes128DataSource` you pasted above is your own code I think. The class is package protected in the hls package, so it is primarily intended for being used by that package. It's not an official API in that sense.

I think you need to open the `upstream` data source to make it return the uri instead of `null` when `getUri` is called. I suggest to look in the [most recent version of that file](h

[2020-10-08 13:10] krocard commented on #8036
Please refer to the linked documentation:
 [Audio focus transient](https://developer.android.com/reference/android/media/AudioFocusRequest)

Youtube for example does not request transient. I expect Facebook to only request transient for short videos while scrolling through your feed.

Please refer to the last paragraph of my last message https://github.com/google/ExoPlayer/issues/8036#issuecomment

[2020-10-08 13:22] krocard commented on #8036
Actually after checking the code more thoroughly, audio focus transient is not supported at all by SimpleExoPlayer(1), and there is no way to subclass AudioFocusManager.

So you will have to implement audio focus management in your app.
(1) https://github.com/google/ExoPlayer/blob/r2.12.0/library/core/src/main/java/com/google/android/exoplayer2/AudioFocusManager.java#L146

@Samrobbo maybe Audio fo

[2020-10-08 13:37] Samrobbo commented on #8036
You can see #7399 for an explanation into this more, and we currently have #7317 to track the addition of more audio focus modes.

[2020-10-08 13:48] stevemayhew commented on #8048
Yes, that sounds exactly correct.  Pretty much every
EventQueue design carries the assumption that reentrance is prevented.

Thanks, glad it was possible to reproduce

On Wed, Oct 7, 2020 at 9:21 AM tonihei <notifications@github.com> wrote:

[2020-10-08 13:48] krocard commented on #7994
\+ @lcf87 For visibility as he has done some gapless test recently.

[2020-10-08 13:55] AdisAlagic opened #8056 "Custom style for each cue"
I need a custom typeface and color for upper cue. That's a problem for me and I can't find any fix for that.

Thanks for your time in advance.

[2020-10-08 14:03] krocard commented on #7994
I have been able to reproduce the issue on Android 8 emulator using the step https://github.com/google/ExoPlayer/issues/7994#issuecomment-699934135-permalink:~:text=With%20our%20demo%20application section "With our demo application"

[2020-10-08 14:26] krocard commented on #7994
The issue is that `flush` is called twice (by `applyAudioProcessorPlaybackParametersAndSkipSilence`), first at
https://github.com/google/ExoPlayer/blob/r2.12.0/library/core/src/main/java/com/google/android/exoplayer2/audio/DefaultAudioSink.java#L799 (not expected)
and then again at
https://github.com/google/ExoPlayer/blob/r2.12.0/library/core/src/main/java/com/google/android/exoplayer2/audio/Defau

[2020-10-08 15:50] tonihei commented on #8054
#3393 is already fully implemented and should just work out of the box. If you are have a specific problem related to that, please fill out the issue template completely.

[2020-10-08 16:00] AnassHmida commented on #8054
It's strange , i need to learn more about the behavior , i mean , when implementing it in my player , i added my manifest url , set the DRM type ,  added a random string in the licenseServer and add a token and my data plays normally with no problems , does that mean when there is an error in the licenseServer , the player tries to resolve a licenseServer from the manifest ??

[2020-10-08 16:06] tonihei commented on #8056
There may be multiple options to achieve this:
- Use a subtitle format that lets you define the style in the source. This is the ideal option as the subtitle data will then show up in the same way in other players or platforms as well and no player customizations are needed.
- Intercept the `Cue`s before forwarding them to `SubtitleView`. You can add your own `TextOutput` listener to the player an

[2020-10-08 16:13] tonihei commented on #8054
I can't really help you with that without knowing specific details and having access to example media etc.
If you media plays fine without license then it's probably not encrypted and doesn't need a license to play?

[2020-10-08 16:24] AnassHmida commented on #8054
My example is encrypted and token restricted :
you can try it out here :

https://ampdemo.azureedge.net/?url=https%3A%2F%2Fswannmediaservice-euwe.streaming.media.azure.net%2F95aae6ef-55a4-411d-9706-73890f5d2ba5%2FL%27Homme%20qui%20courait%20apre%CC%80s%20le%20Te.ism%2Fmanifest(format%3Dmpd-time-csf%2Cencryption%3Dcenc)&widevine=true&widevinetoken=Bearer%3DeyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc

[2020-10-08 16:57] ominfowave opened #8057 "Exoplayer 2.12, dose not load local subtitle file."
Exoplayer version: 2.12.0
Android version: 9

Even after going through many questions on Stackoverflow and other threads we could not find any solution for the subtitle issue in Exoplayer.

Following is the code snippet we are using to load video and subtitle from local storage.

    public void setVideo(String absolutePath, String vtt){
        player = new SimpleExoPlayer.Builder(this).build();

[2020-10-08 17:38] tonihei commented on #8050
Duplicate of #8051

[2020-10-08 17:38] #8050 closed, assigned to tonihei

[2020-10-08 17:40] tonihei commented on #8051
Sounds as if you need to write your own `DataSource` that can handle your input. Without knowing further details it's hard to give any more details or understand whether there is a better way to solve your problem.

[2020-10-08 18:43] RichardDapice commented on #8039
Also having the same issue since 11. I will try to get some logs and things together. Previously we have seen this time to time on some cheaper devices. Since Android R we are seeing this much more frequently on devices like Pixel 3, 3a, 4, and 4a as well as some flagship Samsung devices. Since we are seeing this issue only through analytics I have yet to be able to reproduce it. However, we see t

[2020-10-08 21:39] hinditutorpoint opened #8058 "AudioTrack$StreamEventCallback NoClassDefFoundError"
hi sir
i found an error please resolve this also have two more question first
**File Url: http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4**
i we this use this url work fine but this DefaultAudioSinkError alway
i m also same copy demo app
**found error**
[code]

[2020-10-08 22:48] AquilesCanta commented on #7853
The media is malformed. The first segment contains correct PSI information: PAT declares a PMT on PID 4095. With that initialisation information, playback continues throughout the media correctly. When seeking, the extractor needs to parse initialisation information again, but all segments after the first spuriously declare the PMT at PID 3583, which doesn't exist in the stream. I've also noticed

[2020-10-08 22:48] #7853 closed, assigned to AquilesCanta

[2020-10-08 23:17] marcbaechinger commented on #7964
Thanks for letting know. That's fine. Keep it as it is.  :)

[2020-10-08 23:17] #7964 closed, assigned to marcbaechinger

[2020-10-09 01:04] #7793 closed, assigned to AquilesCanta

[2020-10-09 01:25] wangxuan217 commented on #8020
ok  I try to do this ,thanks @marcbaechinger

[2020-10-09 01:30] fgl27 commented on #7999
The function I endup using is the bellow only use for `PlayerView` using `SurfaceView`

[code]

[2020-10-09 01:47] Dreamxiaoxuan commented on #8020
hi this my logcat ,i try to use upstream ,but this erro is first time appeared
[code]
@marcbaechinger @krocard

[2020-10-09 04:21] #7957 closed, assigned to AquilesCanta

[2020-10-09 05:41] Dreamxiaoxuan commented on #8020
@krocard  I code a simple example now，I'll upload it later.

[2020-10-09 06:29] Dreamxiaoxuan commented on #8020
hi all this my example : [https://github.com/Dreamxiaoxuan/Exoplayer-demo](url)
@marcbaechinger @krocard

[2020-10-09 08:35] litaogithub opened #8059 "Can the encrypted video of HLS and the key downloaded from the player be modified and then written back to the player"
As the title

[2020-10-09 09:16] krocard commented on #4803
Actually, tunneling with ExoPlayer's time stretching engine* might be possible to implement by tweaking the video input buffer presentation time to force the video frames to render at the right time.

\* without using the platform speed adjustment engine which can not be customized

This issue will track this change as low priority. Until this is implemented, I recommend to try to use the system a

[2020-10-09 09:22] krocard commented on #6575
@andrewlewis pointed out to me that the platform AOSP time stretching engine is the same as ExoPlayer's one: Sonic (though ported to C++).
So it is unlikely that the platform engine is better than ExoPlayer one.

[2020-10-09 09:45] georgi-neykov-hub commented on #8046
Well, not explicitly, but I am also interested how this can be achieved with the current API.

The reason for the request is to be able run any player playlist updates though a diffing library and apply a list of minimal changes so that bigger playlists can be updated in a efficient manner. The obvious choice is `DiffUtil` in the `androidx.recyclerview` library, which uses E. Myers' algorithm and

[2020-10-09 11:41] marcbaechinger commented on #8057
Thanks for your report! Can you provide me with a bug report, please? I think there should be something in the logs in cases when this fails. Your code looks good as far as I can tell.

Also important would be what the value of `vtt` is. Can you send me this as well please? So I can test and evaluate what's going wrong.

If you're unable to share bug reports or test content publicly, please send t

[2020-10-09 11:48] marcbaechinger commented on #8046
Ok, thanks for clarification. If you are going to replace items in the queue in that sense 'blindly' by just running the recorded changes of another object graph, you can probably not know in advance whether this will remove or replace the playing media item which would led to a interruption of playback. This will be the case with a replaceMediaItems(...) method as well, when the range of replaced

[2020-10-09 11:52] marcbaechinger commented on #8020
We can not give you direct 1:1 support for your projects I'm afraid. Please narrow down your issue to specific questions and open separate issues for these. We are happy to answer these, but can not debug or support you in experimental projects.

[2020-10-09 12:08] idragonpro commented on #7948
Hi,

We need someone to talk on call

Can you plz share Exoplayer's contact details?

Thanks
Ashwini

On Thu, 8 Oct 2020 at 06:35, Google Open Source Bot <
notifications@github.com> wrote:

[2020-10-09 12:37] marcbaechinger commented on #7948
Thanks for your patience!

This is an open source project hosted on GitHub. The contact details you are having are correct in the sense that you can explain us your problem here by filing an issue according to the issue template (see below). Without information about what your problem is, we can not really help you some further I'm afraid. Please note, that we can not give you 1:1 support for help

[2020-10-09 13:42] AquilesCanta commented on #8034
Yes. ExoPlayer should do that for you without any special handling. The only thing you should make sure is that you are using [multiSession](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/drm/DefaultDrmSessionManager.Builder.html#setMultiSession-boolean-).

I have tested this with internal test streams and it works well.

I think the only way we can assist here is that you provi

[2020-10-09 13:55] tonihei commented on #8042
Please provide all the information requested in the issue template, including example media and bugreports.

[2020-10-09 14:06] tonihei commented on #8031
Yes, sorry. I didn't think this through :)

@kim-vde Could you take a look at the TS file to check if there is anything that could cause the audio and video timestamps to diverge?

[2020-10-09 14:11] roundsmapp commented on #4924
@ojw28 , any news on this issue? Could you please provide the list as I mentioned above? Tks

[2020-10-09 15:14] AquilesCanta commented on #8003
This looks like a duplicate of #7986. The device and observed behavior (HTTP 400) are the same. Unfortunately there's not much we can do on the ExoPlayer side. From #7986:

Regarding

We haven't seen this issue in other devices. I did some research on whether widevine has made any announcements about withdrawing support for Nexus 7, but I haven't found any material. I will post below if I learn an

[2020-10-09 15:14] #8003 closed, assigned to AquilesCanta

[2020-10-09 15:37] tonihei commented on #8041
Can you try to use `PlayerView.switchTargetView` instead of the manual view management? Not sure it helps, but it at least ensures the order is correct.

[2020-10-09 15:41] RichardDapice commented on #8039
Trying to get more info for now here is a stacktrace.

[code]

[2020-10-09 15:43] tonihei commented on #8058
`NoClassDefFoundError` is usually a sign of build setup problem. Please also see [this answer](https://github.com/google/ExoPlayer/issues/7954#issuecomment-696116131) to a similar question.

[2020-10-09 15:50] tonihei commented on #8043
Cookie management is mostly independent from ExoPlayer and I think we can't debug that (even if it were a problem in the Android Cookie Manager). Please also see #7431 for some further explanations.

A potential alternative is to use `OkHttpDataSource` that allows to handle cookie management more directly (see linked StackOverflow post from #7431).

[2020-10-09 15:56] tonihei commented on #8049
Please provide all the information requested in the issue template.

[2020-10-09 16:01] tonihei commented on #8052
ExoPlayer is automatically adjusting the video quality by default and is also pre-buffering media without any special settings needed.

If this isn't happening when using the Chewie player, you should probably report the problem to them.

[2020-10-09 16:06] tonihei commented on #8053
This likely happens because the different players are competing to access the cache. Given this is an actual file, only one player can write to the file at any one time. It may work if you configure the `CacheDataSource` to be read-only for all players except one (use `CachedataSource.Factory.setCacheWriteDataSinkFactory(null)`). Or use different caches so that they players don't compete with each

[2020-10-09 16:13] tonihei commented on #8059
I don't really understand the question. Could you explain in a bit more detail?

[2020-10-09 16:25] hinditutorpoint commented on #8058
i also enable java 8

[2020-10-09 16:26] hinditutorpoint commented on #8058
solve firebase issue but audio sink and ima ads error exits

[2020-10-09 16:29] tonihei commented on #8054
The stream on this page (https://swannmediaservice-euwe.streaming.media.azure.net/95aae6ef-55a4-411d-9706-73890f5d2ba5/L'Homme%20qui%20courait%20apre%CC%80s%20le%20Te.ism/manifest(format=mpd-time-csf,encryption=cenc)) is not playable in the ExoPlayer demo app. Is that what you were expecting given you added a random string as license? Please clarify your problem in more detail if you'd like us to

[2020-10-09 16:34] tonihei commented on #8058
I'm sorry, but don't really understand what you are asking. If you'd like to report an issue, please fill out the issue template completely and explain your problem in more detail. Thanks!

[2020-10-09 16:36] hinditutorpoint commented on #8058
sir i we play video get audio sink error
 Failed resolution of:
[code]

[2020-10-09 16:41] hinditutorpoint commented on #8058
package com.etc.etutorerp;

import android.content.Context;
import android.content.Intent;
import android.content.pm.ActivityInfo;
import android.content.pm.PackageManager;
import android.net.Uri;
import android.os.Build;
import android.os.Bundle;
import android.util.Log;
import android.util.Pair;
import android.view.KeyEvent;
import android.view.View;
import android.view.ViewGroup;
import android

[2020-10-09 16:44] hinditutorpoint commented on #8058
Intent player = new Intent(HomePostView.this, Live.class);
                                player.setAction("com.etc.etutorerp.action.VIEW");
                                player.putExtra(IntentUtil.PREFER_EXTENSION_DECODERS_EXTRA, false);
                                //player.putExtra(IntentUtil.AD_TAG_URI_EXTRA,"https://pubads.g.doubleclick.net/gampad/ads?sz=640x480&iu=/124319096/external/s

[2020-10-09 16:44] hinditutorpoint commented on #8058
get above error

[2020-10-09 16:58] tonihei commented on #8045
I can't see a difference on my device between ExoPlayer and MediaPlayer. I also had a look at the bugreport but couldn't find anything suspicious.

Could you verify whether this problem is related to the mentioned device only or if it happens on other devices too?

Also, can you try to use the ExoPlayer demo app instead of the `GLWallpaperService` and see if it's still reproducible? It might be re

[2020-10-09 17:05] tonihei commented on #8058
Which Android version is your device running on?

[2020-10-09 17:08] AquilesCanta commented on #8003
I have just confirmed: Widevine has revoked licensing for some devices, including Nexus 7. There's nothing we can do to help with this, unfortunately. [Internal ref: b/167219582].

[2020-10-09 17:08] AquilesCanta commented on #7986
Additional context for reference: Widevine has revoked licensing for some devices, including Nexus 7. [Internal ref: b/167219582].

[2020-10-09 17:16] hinditutorpoint commented on #8058
Samsung Galexy J5 Prime
Oreo

[2020-10-09 17:19] hinditutorpoint commented on #8058
ver 8.0.0

[2020-10-09 17:36] tonihei commented on #7607
Thanks for providing stream access. I can play the stream again and tested on a OnePlus 7 with ExoPlayer 2.11.4. I seeked quickly to various positions, but could never reproduce the issue as visible in your video.

Is there anything else I could try? Any specific stream positions / seek sequences? And how often do you have to seek to see the issue?

[2020-10-09 19:29] ojw28 commented on #8010
As Marc says, it's generally more efficient for you to try playing some test streams to see if anything doesn't work, rather than going down the path of trying to establish compatibility via a box ticking exercise. To expand on why, note that it's very unlikely that any player fully implements all of the listed requirements, even if they claim to do so. In practice many of the them have a large nu

[2020-10-09 19:29] #8010 closed, assigned to marcbaechinger

[2020-10-09 19:40] ojw28 commented on #7954
@boylenssen - If that's the case then please provide detailed reproduction steps. For example, a small sample project that reproduces the issue, along with steps necessary to get to the point where the emulator crashes when using it.

Note that we have been unable to reproduce the issue internally. We don't see the issue occurring for Google owned apps, which obviously have fairly wide usage. Ther

[2020-10-09 19:46] ojw28 commented on #7854
I'm going to close this, since it seems rather specific to your particular requirements, and you've also managed to implement it yourself. I don't think there's a strong argument for adding this feature directly into the library.

It is of course possible (and likely) that at least someone else requires similar functionality, but it's infeasible for us to support all possible UI features that more

[2020-10-09 19:46] #7854 closed, assigned to ojw28

[2020-10-09 20:19] ojw28 commented on #4924
We have access to a fairly wide range of popular devices, although due to the current working-from-home situation getting hold of them is significantly more difficult than usual. We do have Galaxy S8, S10, S20 and various Nexus and Pixel devices to hand that we can conveniently test with.

[2020-10-09 22:00] baconz commented on #8039
For a variety of pandemic and scheduling reasons I wasn't able to get the tablet yesterday. I'm hoping to be able to grab it over the weekend. I will try to get a proper bug report early next week.

I realize it is not super useful, but this is what we see in the logs just before the error on the Pixel:

[code]

@RichardDapice I'm not sure if you're on 2.12.0 yet, but we added code to our `ExoMedi

[2020-10-09 22:50] greyski opened #8060 "Is there a callback in AnalyticsListener that tells us when release() has been called on the ExoPlayer?"
### [REQUIRED] Searched documentation and issues
Checked the javadocs and dev blog on this. Also browsed StackOverflow and found no concrete answer. Also looked at the AnalyticsListener source and the code behind `ExoPlayer.release()`

### [REQUIRED] Question
Is there a callback propagated to an `AnalyticsListener` attached to an ExoPlayer that informs the listener of the player's release? (ie is

[2020-10-10 00:18] fgl27 commented on #8041
Zero difference

[2020-10-10 00:54] Dreamxiaoxuan commented on #8020
ok thanks @marcbaechinger ,my question is

        at com.google.android.exoplayer2.source.ProgressiveMediaPeriod$ExtractorHolder.selectExtractor(ProgressiveMediaPeriod.java:1067)
        at com.google.android.exoplayer2.source.ProgressiveMediaPeriod$ExtractingLoadable.load(ProgressiveMediaPeriod.java:951)
        at com.google.android.exoplayer2.upstream.Loader$LoadTask.run(Loader.java:394)

[2020-10-10 01:03] Dreamxiaoxuan commented on #8020
### Aes128DataSource.java
[code]
### MyDataSource.java
[code]

### MyDataSourceFactory.java

[code]

### MainActivity.java

[code]

### test.ld6
[](url)

[2020-10-10 01:04] objectiveCarlo commented on #8003
hello how to find this list  of devices online? thanks/

[2020-10-10 01:36] wangxuan217 commented on #8020
### Aes128DataSource.java

[code]

### MyDataSource.java

[code]

### MyDataSourceFactory.java

[code]

### MainActivity.java

[code]

### The file to be decrypted **test.ld6**

[test.ld6.zip](https://github.com/google/ExoPlayer/files/5358234/test.ld6.zip)

### The Erro log

[code]

@krocard @marcbaechinger

[2020-10-10 02:07] litaogithub commented on #8059
We have a requirement that HLS encrypted videos be re-encrypted to improve security, which means that the ExoPlayer download encryptionKey needs to be modified. Will it affect the workflow behind the ExoPlayer? Does ExoPlayer support such changes? thank you

[2020-10-10 02:09] litaogithub commented on #8059
We have a requirement that HLS encrypted videos be re-encrypted to improve security, which means that the ExoPlayer download encryptionKey needs to be modified. Will it affect the workflow behind the ExoPlayer? Does ExoPlayer support such changes? thank you

在 2020年10月10日 00:13，tonihei<notifications@github.com> 写道：

I don't really understand the question. Could you explain in a bit more detail?
—

[2020-10-10 03:42] skreenr commented on #8045
I had an international tester with Xiaomi Redmi tell me Exo version playback is somewhat slow
Asked him to send a bug report
How exactly to check for dropped frames in code?

What matters is how you test the playback: we need to play it fullscreen in a background service
Here is the code I used: https://github.com/AlynxZhou/alynx-live-wallpaper/blob/master/app/src/main/java/xyz/alynx/livewallpaper

[2020-10-10 03:54] skreenr commented on #8023
There should be way to change Gradle level in project config, just How?
Using Demos to make people upgrade is not proper way, leave it to marketing, Thanks

[2020-10-10 09:31] abolfazlghanbari23 commented on #8051
My android application connects to a digital stethoscope(via Bluetooth low energy) and draws a diagram of the heart sound.
we receive integer numbers and convert these integers to a wave file.
At the moment we can only play the heart sound after the heart sound recording is finished, but we want the heart sound to be played in the app at the same time as the heart sound recording.

[2020-10-10 10:01] karamgharam opened #8061 "change cache and file directory"
hi I have an app that has 4 profile for one account , so I want when changing profile change cash and folder directory without restart app

[2020-10-10 13:30] icbaker commented on #8057
Assuming your .srt file is in [SubRip](https://en.wikipedia.org/wiki/SubRip#File_format) format and not [WebVTT](https://www.w3.org/TR/webvtt1/), you need to pass [`MimeTypes.APPLICATION_SUBRIP`](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/util/MimeTypes.html#APPLICATION_SUBRIP) to the `MediaItem.Subtitle` constructor, not `MimeTypes.TEXT_VTT`. WebVTT files usually use the .v

[2020-10-10 14:44] hinditutorpoint commented on #8058
Please sir how can I fix this issue

[2020-10-10 17:21] marcbaechinger commented on #8061
You need to create all media sources that are using a `CacheDataSource` again, with a new `SimpleCache` pointing to the new cached directory which is dedicated to a single user.

I think easiest would be to release the player and create a new one when the user profile is changed. This does not need a restart of the app, but you need to make sure  that all sources with a cache data source are creat

[2020-10-10 17:23] #8023 closed, assigned to marcbaechinger

[2020-10-10 17:24] marcbaechinger commented on #8023
I'm closing this now. You can ask why if you don't know already.

[2020-10-10 23:47] rrfrias commented on #8039
Thanks for trying to get us a bugreport. The error code in the exception is generic** so a bugreport will be helpful in figuring out the root cause.

** we are looking to correct this in a future release.

[2020-10-11 02:32] rial1106 commented on #7997
I had to add a the guava dependancy since listenablefuture wasn't found. It took a lot of work to find the soloution

`implementation 'com.google.guava:guava:29.0-android'`

[2020-10-11 13:17] andreyburmistrov opened #8062 "Parallel loading HLS video chunks"
Hi, I want to parallelize download video ts segments in hls because low network speed. I use `HlsDownloader` and pass to constructor my executor object. At first step I download all segments from my m3u8 playlist. When my video play from cache, I want to parallelize download new ts segments, but m3u8 updates every EXT-X-TARGETDURATION seconds and update only one URL to ts segment. Maybe I should d

[2020-10-11 14:08] gelin commented on #8058
Got the same issue, the `Didn't find class "android.media.AudioTrack$StreamEventCallback"` when running ExoPlayer 2.12.0 on Android TV emulator with Android 8 (SDK 26) installed. The `compileSdkVersion` and `targetSdkVersion` are set to 29, while `minSdkVersion` is 21.
the `StreamEventCallback` was added in API 29. Probably, `AudioSink` doesn't correctly checks the runtime SDK version.
ExoPlayer 2

[2020-10-11 17:24] hinditutorpoint commented on #8058
r u find any suggestion please

[2020-10-11 18:11] rrfrias commented on #8003
@objectiveCarlo, if your company is a Google/Widevine partner, you should contact https://www.widevine.com/contact for more information.

[2020-10-11 18:49] ojw28 commented on #7882
@marcbaechinger - I think this is to do with what `MediaSessionConnector` (and other components such as `PlayerControlView`) do when the play button is pressed with the player in an error state. Currently, they use the `PlaybackPreparer` if one is set, and else they do nothing. For example:

https://github.com/google/ExoPlayer/blob/74c493f51e1b0a86ce31aa8290d304696ae1a57d/library/ui/src/main/java/

[2020-10-11 18:53] ojw28 commented on #8049
You should report this issue to the developers of Kodi, not here. Thanks!

[2020-10-11 18:53] #8049 closed, assigned to tonihei

[2020-10-11 20:23] #7944 closed, assigned to andrewlewis

[2020-10-11 20:59] ojw28 commented on #8015
I think this is probably a bug in Messenger where they don't release transient audio focus. A similar issue was reported for Duo previously, in https://github.com/google/ExoPlayer/issues/7182.

There was also a bug in ExoPlayer where we'd not be aggressive enough at trying to take audio focus back in this case, which is why you observe that pressing the play button does not allow audio to resume,

[2020-10-11 20:59] #8015 closed, assigned to krocard

[2020-10-11 21:06] ojw28 commented on #8048
As a more general point, I would argue that `AnalyticsListener` implementations are not really expected to modify the player. The name of the interface very much suggests that implementations are for analytics logging, rather than for doing something like triggering a player retry. `Player.EventListener` seems much more suitable for doing that, and if you were to use it then I don't think you'd ha

[2020-10-12 01:04] #7884 closed, assigned to marcbaechinger

[2020-10-12 01:04] #7839 closed, assigned to marcbaechinger

[2020-10-12 03:03] manojitballav commented on #8014
@krocard  Pacificrim is on AOSP 6.0

[2020-10-12 04:20] sontn-fabbi opened #8064 "how to make custom PlayerControlView in the exoplayer screen like youtube"
I have two screen like youtube by using Motionlayout:
1. Full mode player
2. Mini mode

I'm using exo with DefaultTimeBar, I know this time bar will show/hide belong to controller player.
But can you support method to make DefaultTimeBar always showing, both in two mode of the above screen.
If no way, I have to create my Timebar and by manual update progress matching with player media, can I do it

[2020-10-12 04:21] anarchy1996 opened #8065 "jax"
Before filing a bug:
-----------------------
- Search existing issues, including issues that are closed:
  https://github.com/google/ExoPlayer/issues?q=is%3Aissue
- Consult our developer website, which can be found at https://exoplayer.dev/.
  It provides detailed information about supported formats and devices.
- Learn how to create useful log output by using the EventLogger:
  https://exoplayer.

[2020-10-12 05:01] a4x4kiwi commented on #8031
@kim-vde Please let me know should you need any further information. We may also be able to allow access to our live multicast if it is helpful, please let me know.

We have found that the A/V sync issue appears on both terrestrial DVB-T and internally generated signage channels. This means that terrestrial TV signal corruption is not the issue.

[2020-10-12 06:37] wangxuan217 opened #8066 "Play MergingMediaSource media,When i select track with a erro"
### These My Code

[code]

[code]

[code]

### when use teskTrack method is erro with log

[code]

### My exoplayer version is 2.12.0,but when i use 2.10.5 code is no erro and it works. it can change track.

### Here's is my 2.10.5 code

[code]

[code]

[code]
@krocard  @marcbaechinger

### The Version 2.11.8 is right, too

[2020-10-12 07:20] karamgharam commented on #8061
thanks but my case is with download when change profile I want to change the cache directory for download, not for the player
when change  can't download anything because the download failed, the app must restart to can download anything

[2020-10-12 07:40] tibor-leo-safar-accedo commented on #8034
Hi Santiago!

Thank you very much for your response.

I think a quite important thing was not considered in your response, what was listed between the lines, we try to use the OfflineLicenseHelper class to acquire licenses, store them, then reuse them in case it is needed.
This way of implementation can lift some pressure from the DRM server regarding the number of hits.

In our case we would need

[2020-10-12 08:42] tonihei commented on #8058
@gelin  I have no issue playing video in the ExoPlayer demo app with the Android TV emulator on SDK 26, nor do I have problems on an actual phone on SDK 23. Could you make sure to try a clean build and report detailed reproduction steps if the problem persists?

[2020-10-12 09:15] Samrobbo commented on #7979
@andrewlewis Can you advise on this?

[2020-10-12 10:37] icbaker commented on #7921
Closing this as it's not really an ExoPlayer issue.

[2020-10-12 10:37] #7921 closed, assigned to icbaker

[2020-10-12 10:43] kuailedeadai commented on #4448
Hello, which one refers to the submission record for solving this problem?

[2020-10-12 11:20] chladto1 opened #8067 "Unable to play Ads at 35 minutes and 47 seconds and above"
### Issue description
Problem is in _ImaAdsLoader_ at line 1541. When play an Ad at 35 minutes and 47 seconds and above, value _adPodTimeUs_ is always 2147483647 (int max).

### Reproduction steps
Play an Ad at 40 or 50 minutes.

### Link to test content
Sorry, I do not have any public video content longer that 36 minutes. VMAP is below.

[code]

### A full bug report captured from the device
[cod

[2020-10-12 11:22] hinditutorpoint commented on #8058
yes sir i am also clean and rebuild project again got same problem.
Video playing perfect but log display audio sink issue and when pass the ads url in IntentUtil got another error mention above.

[2020-10-12 11:26] krocard commented on #4448
If by "submission record" you mean the commit that implements the retry, there it is: https://github.com/google/ExoPlayer/commit/7dfdde9246b28ad977ebe712e485033ee688652d.

Nevertheless, the commit is **not** part of v2.12 as I though and have previously witten. It was merged after the branch cut.
Thus it will be part of the next release 2.13.0 that should be published at the beginning of next year

[2020-10-12 11:29] krocard commented on #7042
The commit that implements the retry is: 7dfdde9.

Nevertheless, the commit is not part of v2.12 as I have previously written. It was merged after the branch cut.
Thus it will be part of the next release 2.13.0 that should be published at the beginning of next year.

Sorry for the confusion. You can test the fix by either checkout the commit or our development branch `dev-v2`.

[2020-10-12 12:02] marcbaechinger commented on #8060
There is no listener called to notify after release I'm afraid.

Calling release will make the player [not send playback updates anymore](https://github.com/google/ExoPlayer/blob/release-v2/library/core/src/main/java/com/google/android/exoplayer2/ExoPlayerImplInternal.java#L530), so you can't expect any listener to be called after release.

Because of this, `player.release` is a blocking call. So

[2020-10-12 12:12] marcbaechinger commented on #8067
Thanks for reporting. We look into this.

[2020-10-12 12:33] marcbaechinger commented on #8065
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/bug.md). If you're unable to share bug reports or test content publicly, please send them to dev.exoplayer@gmail.com using a subject in the format "Issue #1234", where "#1234" should be replaced with your issue num

[2020-10-12 13:04] kuailedeadai commented on #4448
Thank you for your answer, I will try to solve it according to your ideas

[2020-10-12 13:13] marcbaechinger commented on #8061
With the information you provide I can not really understand how you are approaching things. Can you please let me no a bit more of what you are doing?

From what you say I assume you are using a `DownloadService` for downloading. The download service has an abstract method `getDownloadManager` it is called in the services `onCreate` method and returns a `DownloadManager` your app has to provide.

[2020-10-12 13:53] tonihei commented on #8041
Thanks for checking. I'll assign to @andrewlewis for further investigation.

One more question: What are you doing with the player and the surface when the app goes into background and resumes (step 2)? For example - do you release the player? Do you remove the surface? etc.

[2020-10-12 15:07] tonihei commented on #8045
You can add an `AnalyticsListener` and listen to `onDroppedVideoFrames`.

Here is the code I used: https://github.com/AlynxZhou/alynx-live-wallpaper/blob/master/app/src/main/java/xyz/alynx/livewallpaper/GLWallpaperService.java
just replaced the original video

This is rendering to some kind of customized GLSurfaceView using ExoPlayer. How do you compare the performance with MediaPlayer? Is it usin

[2020-10-12 15:19] gelin commented on #8058
@tonihei, @hinditutorpoint points the issue. The video (and audio) in the demo app works correctly on SDK 26 emulator. But this error message about the absence of the `android.media.AudioTrack$StreamEventCallback` class (with a very long stack trace) appears in the logs (on each playback start). This log message doesn't affect the functionality.

I was confused by the HEVC (hvc1) codec, which look

[2020-10-12 15:24] tonihei commented on #8058
@krocard  Can you have a look to see where this is coming from?

[2020-10-12 15:38] hinditutorpoint commented on #8058
@gelin but sir i check my real android Oreo phone 8.0 not emulator and when this project run on my old android which is kitkat
crash application.

[2020-10-12 17:28] stevemayhew commented on #8048
Thanks @ojw28, excellent point.  We have been implementing `AnalyticsListener` for our error recovery logic (recover from issues like `BehindLiveWindowException`) but semantically `EventListener` does make more sense.  All we need to complete recovery is the timeline event for the prepare completion (in some cases it would be good to know position is moving forward, but we can use timed checks for

[2020-10-12 17:51] tonihei commented on #8048
This is implied by the name and may not have been the original intention, but I wouldn't argue it's not expected. Especially in cases where apps want to combine multiple types of listeners together and/or are interested in the `EventTime` values, using `AnalyticsListener` is the obvious choice.

By this argument, I'd be in favour of solving the original problem instead of documenting it's not supp

[2020-10-12 18:16] stevemayhew commented on #8048
I do think people read documentation, especially to get the general flavor of things that you can't get without a pretty deep inspection of the code (like when to use what listeners).

@tonihei Looks like fixing it is pretty simple (especially if it's just the seek, which is the original issue) then definitely you should do it.

[2020-10-12 19:21] ojw28 commented on #8061
I don't think this works, because `DownloadService` statically caches `DownloadManager` instances. As a result, `getDownloadManager` will not be called again even if the service is recreated.

I think the use case being described is probably just not supported, as things stand currently.

[2020-10-12 20:29] marcbaechinger commented on #8064
The ExoPlayer components are standard views, so that should be possible. I'm not quite sure how scaling behaves, but I would guess the controls are evenly placed when the width gets larger. You probably want to hide some buttons when the view gets really small. It's worth to try out I would say.

For the problem with the `DefaultTimeBar`:

You are right that the timbar and the other control button

[2020-10-12 21:06] marcbaechinger commented on #8062
I understand that you are using `HlsDownloader` to download all the segments contained in a m3u8 playlist. Then later the playlist on the server is updated and a new segment is added at the end of the playlist like for a live stream.

When looking into the source code of `HlsDownloader`, I think you can try to just use the `HlsDownloader` again to download the same playlist a second time. If you u

[2020-10-13 00:13] fgl27 commented on #8041
On stop all none null players get released, on resume they get restarted, no view is added/removed on that process.

[2020-10-13 01:05] #7899 closed, assigned to marcbaechinger

[2020-10-13 01:08] MRDHR opened #8069 "When playing http video, the picture freezes in the first 2 seconds."
### [REQUIRED] Issue description
Hello, when I play the http video, the picture freezes in the first 2 seconds. During the freezing process, the sound plays normally.
This problem did not occur when I tried to use other player sdk, such as ijkplayer and vlc.

### [REQUIRED] Reproduction steps
[code]
### [REQUIRED] Link to test content

### [REQUIRED] Version of ExoPlayer being used
2.12.0

### [RE

[2020-10-13 01:18] wangxuan217 commented on #8020
hi all I fix android system media, @krocard @marcbaechinger   thanks

[2020-10-13 01:18] #8020 closed, assigned to marcbaechinger

[2020-10-13 02:38] wangxuan217 commented on #8032
you use MediaItem class?

[2020-10-13 04:41] fgl27 commented on #7996
I made an app based on the demo app for testing as requested

Here is the apk (is zipped so extract so you can install)

[mibox_demo-noDecoderExtensions-debug.zip](https://github.com/google/ExoPlayer/files/5368956/mibox_demo-noDecoderExtensions-debug.zip)

Here is the source

[ExoPlayer-dev-v2_mi_test.zip](https://github.com/google/ExoPlayer/files/5368957/ExoPlayer-dev-v2_mi_test.zip)

Here is the

[2020-10-13 04:47] fgl27 commented on #7998
I made an app based on the demo app for testing this issue

Here is the apk

https://drive.google.com/file/d/1iEoN_ZxEyPvsbai5Tz9JFnEJ73RRibXM/view?usp=sharing

The source repo

https://github.com/fgl27/ExoPlayer/commits/dev-v2_nvidia_test

The source zip

https://drive.google.com/file/d/1rgXtNX39WUxh3xtxT6p4r8k6NMOBVhDN/view?usp=sharing

The change

https://github.com/fgl27/ExoPlayer/commit/67847

[2020-10-13 05:15] skreenr commented on #8045
I have a different codebase using MediaPlayer. It works well except when it doesn't – there been reports of video not showing at all, on some big-screen handsets by China makers, and logs show some issues w NuPlayer and not much to work with. Hence the interest in potentially replacing it w Exoplayer,
Plus being able to Crop big videos for small screens will be major benefit too

I wasn't actually

[2020-10-13 06:03] Manvendra-Jadon opened #8070 "Unable to add Custom IMA Ad Cue points"
I found this already logged issue: https://github.com/google/ExoPlayer/issues/4232
But this was logged in 2018. I want to know, if it is possible to add the same now.

for e.g. custom cue points like <cuepoints>00:05:22.00,00:10:20.00,00:14:50.00<cuepoints/>

Doing and managing it manually on our end would be a big issue and buggy.

Google IMA SDK for iOS provides this way of adding cue points. Ca

[2020-10-13 08:36] tonihei commented on #8045
In this case it's hard for us to say whether there is anything wrong with ExoPlayer or if it's down to the different way of integrations in your app. If you can find a way to compare them directly with the same surface etc. and you still see a difference, then please let us know. I'll mark this issue with "need more info" again and the bot will auto-close it in a couple of weeks if you haven't fou

[2020-10-13 08:49] andrewlewis commented on #8070
This hasn't changed: we still rely on the cue points provided by the IMA SDK via the `AdsManager` for VMAP, and for VAST we assume a single preroll. As your example includes multiple cue points I assume we are talking about a VMAP ad tag here.

Please could you point me to the API for this? If there's an API in the IMA SDK for Android I think we can start using it from the extension. If it's only

[2020-10-13 09:07] #7992 closed, assigned to icbaker

[2020-10-13 09:15] kim-vde commented on #7942
Actually the media item does not seem to be local. If you check it on your app, you will see that it has URI "https://traffic.libsyn.com/atpfm/atp399.mp3".

Is the media preparation also slow if you use this URI in the demo app?

[2020-10-13 09:21] tonihei commented on #8059
If you want to modify the data before it's read (including the kind of re-encryption you mention), you probably need to provide your own `DataSource` that reads and modifies the data. Have a look at other `DataSource` implementations to see how forwarding works.

[2020-10-13 09:28] sontn-fabbi commented on #8064
@marcbaechinger
thank for supporting.
I found the way to custom layout for the PlayerControlView by passing controller_layout_id in xml file.
but other question: Can I use two PlayerControlView  for one PlayerView? Imaging like One for mini, one for full mode

[2020-10-13 09:46] tonihei commented on #8051
As said above, you probably need a custom `DataSource` to handle this. The normal `FileDataSource` will stop reading at the file size the file had when it was first opened. I think you have multiple options to approach this:
 1. Don't write the data to a file and instead directly put it in some kind of buffer your custom `DataSource` can read from.
 2. Write the `DataSource` so that it uses a `Fil

[2020-10-13 09:50] ojw28 commented on #8047
@SungsooLim - We should try and get this fixed for a minor release. It's a bit unclear what `SessionPlayer.PlayerCallback. onCurrentMediaItemChanged` should be called with when the playlist becomes empty. Should it be sent an empty `MediaItem`?

[2020-10-13 09:55] wangxuan217 commented on #8066
@icbaker hi  can you look this question.

[2020-10-13 09:59] marcbaechinger commented on #8066
The log lines tell that the player is stuck with an almost empty buffer, but the load control decided not to load. The `DefaultLoadControl` reports this already just before the exception occurs.

I was able to run the such a merged source with http:// and a file:///android_asset/video.mp4 with the `DefaultDataSourceFactory`. I didn't got this to work with such an absolute path into `/storage/`. Ca

[2020-10-13 10:02] wangxuan217 commented on #8066
ok I try to do this, and give you a reply. @marcbaechinger

[2020-10-13 10:22] wangxuan217 commented on #8066
hi @marcbaechinger I try to use asset way, but the erro is same.

[code]

[code]
The http way,I still need some time to build the environment.I guess the result is the same.The video is play normally.when
i try to change track, the erro occurred. and the version 2.11.8 is have not this erro,the play is right

[2020-10-13 11:24] ojw28 commented on #8011
I see the deadlock in the thread dump (I only looked at the first one, but it was sufficient by itself). I'm not really sure how to resolve it, or whether the combination of threads you're using is just fundamentally not going to work. It doesn't look like something that's easy to fix, in any case!

Is there a reason you _need_ to do this, or can you just use the default one for the time being?

[2020-10-13 11:46] marcbaechinger commented on #8061
Ok, thanks. I've hidden my comment from above to try to minimize the confusion I created.

[2020-10-13 11:50] marcbaechinger commented on #8066
That's great, thanks!

Can you make the media available to me so I can test whether it's a problem with that specific media only? When I try the http approach with [media from the demo samples it works fine](https://github.com/google/ExoPlayer/blob/release-v2/demos/main/src/main/assets/media.exolist.json#L353). If it works with that media we probably need to look into this with the exact same medi

[2020-10-13 11:51] ilker-aktuna opened #8071 "Running Exoplayer in a service connected to a PlayerView on UI for AnalyticsListener and VideoListener features"
Checked Stackoverflow and GitHub issues but could not address my issue directly

I am building an app to analyze live TV video streams and report when a drop, loaderror or other issue is detected.
So the app will run on a low profile Android phone (current test phone: Samsung J7 , 1GB  RAM , Android 7.1 OS)
The phone will run Exoplayer in a service and open a different HLS stream every N seconds (

[2020-10-13 11:51] ojw28 commented on #8012
@tonihei - Am I right in thinking that all of the regressions in shrinking effectiveness are related to the internal use of `DefaultMediaSourceFactory`? If so, then isn't the simplest way for application developers to avoid this to have them do one of the following:

1. Inject a dummy `MediaSourceFactory` that doesn't do anything, and only ever use the `MediaSource` based playlist API.
1. Inject a