[2017-03-01 09:24] rafaeladel commented on #2467
Thank you @moagrius  for your time and effort. I'll take a look at `libeasy`. I'll also try the approach you specified.

But for what it's worth, I was able to identify the point at which it takes a lot of time seeking to the middle or the end of the video/audio file, It's in `forceSkip` method inside your `EncryptedFileDataSource` class, It loops and reads bytes up to the selected one, meaning it

[2017-03-01 09:51] yangchaojiang opened #2519 "Play less than 1 minutes live HlsMediaSource error"
/ExoPlayerImplInternal: Source error.
                                                                                     com.google.android.exoplayer2.source.BehindLiveWindowException
                                                                                         at com.google.android.exoplayer2.source.hls.HlsChunkSource.getNextChunk(HlsChunkSource.java:232)

[2017-03-01 10:03] AquilesCanta commented on #2519
Please, see #1782.

[2017-03-01 10:03] #2519 closed, assigned to nobody

[2017-03-01 11:33] royhenengel commented on #2395
As mentioned here, in my case I would like to set the timeout to be visible until the display is pressed again to hide them.
setControllerShowTimeoutMs doesn't set the timeout at all, and the value remains default.

[2017-03-01 14:31] moagrius commented on #2467
@rafaeladel ha yeah i had that same thought and left myself a reminder in the middle of the night.  i also think we might need to round to block size...  and yeah the base implementation of `CipherInputStream` does decrypt from 0 when skip is called, AFAICT; maybe since we have a streaming mode we don't need to do that...  i'll try to find some time to mess with this further...  thanks for followi

[2017-03-01 15:47] AquilesCanta commented on #2428
For what it's worth, it is somewhat harder to reproduce in V2, and if we were to introduce any modification, it would be in that version.

I am sorry to hear that some streams used to work and no longer do. We are usually flexible about this, if the fix is simple and relatively sensible. But in this case, I can see no simple way to patch Exoplayer. Even less using assumptions that make sense in a

[2017-03-01 17:36] moagrius commented on #2467
@rafaeladel try this update and let me know what you get.  for the skip, we're using the native `skip` for the upstream stream, then forcing the cipher to update but without reading.  it needs to update to exactly the same point.

i tried it with a 700MB, 85 minute video, and am getting less than a second delay all the way to the end.  let me know what results you get.

it could probably use some

[2017-03-01 18:40] moagrius commented on #2467
just tried on older samsung tablet, not as bad but still slow...  going to try the iv offset thing...

[2017-03-01 20:32] bbincybbaby commented on #2467
@moagrius can you please share your contact ? mailid or something

[2017-03-01 21:10] moagrius commented on #2467
sorry for the spamming this thread - i finally ended up using the cipher skip shortcut i mentioned earlier, which is super slick IMO but i can't get my head around the biginteger/iv stuff...  the pertinent changes are based entirely off work by stackoverflow user [Maarten Bodewes](http://stackoverflow.com/users/589259/maarten-bodewes) and i not only take no credit but freely admit i can't follow t

[2017-03-01 21:17] moagrius commented on #2467
@bbincybbaby you can just use this thread :) what's up?

[2017-03-01 23:00] rafaeladel commented on #2467
@moagrius  That's great ! using `mCipher.update()` apparently is a lot faster than `read()` , since we're not actually reading as far as I know. The seeking time has decreased a lot.
As for the last code snippet you put, I don't really follow how it works either, I'll try to track it slowly and see what it does.

Thank you so much for your time and effort. That helped a lot addressing a lot of iss

[2017-03-01 23:05] wvpaf commented on #2485
@nitro52 & @ojw28, studio requirements differ too much to generalize.

However, the app should be able to tell if the device is rooted and invalidate the keys that have been delivered. Root detection does not automatically stop playback as mentioned earlier, typically playback continues but with a reduced video quality.
to determine if rooted see : http://stackoverflow.com/questions/3424195/determ

[2017-03-01 23:28] ojw28 commented on #2485
Closing as answered.

[2017-03-01 23:28] #2485 closed, assigned to nobody

[2017-03-01 23:30] ojw28 commented on #2518
I don't think this information is exposed currently, but it should be fairly easy to expose it. It would necessarily be asynchronous though (e.g. a callback method invoked each time tunneling is enabled or disabled). Marking as an enhancement to consider exposing this information.

In the meantime, if you're just curious as to whether it's being enabled, you can add a log line [here](https://githu

[2017-03-02 00:01] brAzzi64 commented on #2428
I understand, the explanation makes sense. We want to work on getting our video up-to-spec.

For some context, these links are being served by Edgecast. We found that when served through Akamai we don't see this issue at all, so there might be something about the way Edgecast generates the playlist/chunking that's making it fail.

Now, it would help us debug the issue on our side if you were able

[2017-03-02 04:18] rburnham52 commented on #2485
@ojw28 @wvpaf  Thanks for your help guys. If we can find a separate reliable root check then we might be able to handle this ourselves

[2017-03-02 07:04] deepikaopenxcell opened #2520 "ExoPlayer android onVideoSizeChanged not called not called"
*** PLEASE DO NOT IGNORE THIS ISSUE TEMPLATE ***

Please search the existing issues before filing a new one, including issues that
are closed. When filing a new issue please include ALL of the following, unless
you're certain that they're not useful for the particular issue being reported.

- A description of the issue.
- Steps describing how the issue can be reproduced, ideally in the ExoPlayer

[2017-03-02 07:59] itsAmud opened #2521 "ExoPlayer remains in buffering state infinitely after sometime (100 % reproducible )"
- ExoPlayer remains in buffering state infinitely after sometime for some videos even if the video     buffered percentage is 100% and video buffer position is equal to max duration of video. Same video  was working fine with Exoplayer release-1.
- Tried to play video url with ExoPlayer sample application.
  Demo video url : https://img0.ropose.com/video/yrIBmLa/Be46_1487445358869_5b477613_a260.we

[2017-03-02 10:12] ojw28 commented on #2520
Closing (insufficient information provided).

[2017-03-02 10:12] #2520 closed, assigned to nobody

[2017-03-02 10:22] matclayton commented on #420
@erdemguven Any idea when this is likely to land? We need this functionality so might end up building it in the mean time, but it would be fantastic to not have to!

[2017-03-02 10:28] Link184 opened #2522 "Sync Video and Audio in LoopingMediaSource"
After a while the loop stops without any message or exception (sometimes not start at all). Tried with different video(mp4) and audio(mp3) sources but no success.
Here is the video and audio sources

mp3 audio source:
https://drive.google.com/file/d/0B-vWoZW-6yrZdnVmM1U2UmxhWkE/view?usp=sharing
mp4 video source
https://drive.google.com/file/d/0B-vWoZW-6yrZOUFzVVJLQW9VSXc/view?usp=sharing

Here is

[2017-03-02 10:34] Ranjith121 commented on #91
Same issue. Is any update on pre-L rotation?

[2017-03-02 10:35] erdemguven commented on #420
@matclayton if you mean the DASH downloader, basic functionality should be in github in 2 weeks time.

[2017-03-02 10:44] AquilesCanta commented on #2428
I'll do my best:

The violated spec is not HLS itself, but the Transport Stream spec (ISO/IEC 13818-1).

[code]

So this is what the first chunks look like:

[code]

This is okay, there is one PAT, one PMT and the PMT declares, as you can see, an audio and a video elementary stream. This was the output of `dvbsnoop -tssubdecode -s ts -if 456826_00_03_MM30_Exercise_1650.mp4Frag1Num0.ts 256`.

Now i

[2017-03-02 11:03] AquilesCanta commented on #2521
Both videos work well on both V1 and V2 (latest versions). Please make sure you are using an updated version. If that solves your problem, please close the issue. When you say:

you mean the issue or the media? I didn't have any inconveniences with nexus 5x.

[2017-03-02 11:23] lucas34 opened #2523 "No sound when playing an MP4 file"
Hi,

I have an MP4 file:
Input #0, mov,mp4,m4a,3gp,3g2,mj2, from 'audio.mp4':
  Metadata:
    major_brand     : M4A
    minor_version   : 512
    compatible_brands: isomiso2iso6
    encoder         : Lavf57.21.101
  Duration: 00:00:10.43, start: 0.000000, bitrate: 63 kb/s
    Stream #0:0(und): Audio: aac (LC) (mp4a / 0x6134706D), 16000 Hz, mono, fltp, 62 kb/s (default)
    Metadata:
      handler_

[2017-03-02 11:31] itsAmud commented on #2521
I have tried playing this video in sample app by pulling branch : release-v2
Please note : Video length is approx 10s. Video plays fine in starting but went in infinite buffering state after 6s.

[2017-03-02 11:51] AquilesCanta commented on #1470
I'll be closing for now. Please open a new issue if you run into any issues with 608/708 issues.

[2017-03-02 11:51] #1470 closed

[2017-03-02 11:58] rakshith-ravi commented on #91
Considering I didn't see a fix, I moved to media player....The default solution for video playback. Would like to see a fix though

[2017-03-02 12:53] andrewlewis commented on #2523
The file is identified as a fragmented MP4 file due to the presence of the `mvex` box in the `moov` box, but strangely it contains no `moof` fragments. At first glance it looks like it may technically be allowed to include an `mvex` box in unfragmented files but it seems unnecessary (and we don't support it at the moment). The file plays fine if I force using the non-fragmented `Mp4Extractor`. How

[2017-03-02 13:43] Ranjith121 commented on #91
ya am to moved to media player. thanks

[2017-03-02 16:45] casajavi opened #2524 "OMX amlogic avc decoder error when playing HD content"
Hello,

I have recently encountered a Widevine secured playback issue with the AMLogic MXQpro set top box running Android 6.0.0 and other similar set top boxes.

When the playback reaches 1080p or above quality on a Widevine secured asset it will throw this error:

[code]

This was tested using the Exoplayer 2.0 Demo (version r2.2.0) and using one of my assets as well as the WV: Secure HD (MP4,H26

[2017-03-02 19:11] sivarajendranaidu commented on #2089
Does ExoPlayer support DASH CBCS on devices running API level 24 (i.e. Nougat) [nexus players ]?
Please provide your inputs

[2017-03-02 23:48] noamtamim commented on #2089
@sivarajendranaidu it doesn't yet (but this ticket tracks it). As you can see in @ojw28's comment, this is a low priority task -- specifically because it only applies to level 24 and up (1.2% of the market).

[2017-03-03 00:35] linhai326 commented on #1303
Co-ask and wait for clarification.

[2017-03-03 04:23] Slim1991 commented on #2467
@moagrius I'm very admire your work. Can you give me your example project?

[2017-03-03 08:34] gvader commented on #1276
Maybe not best place, but didn't want to open separated issue for this. I am using Exo 2.2.0, and want to get list of available video variants from Playlist. The data is available within HlsMasterPlaylist class, but I am unable to get it without modifying the code.

I am using SimpleExoPlayer with DefaultBandwithMeter and HlsMediaSource for adaptive playback.

[2017-03-03 09:30] appear88 commented on #2523
I have the samle problem

[2017-03-03 09:31] appear88 commented on #2523
my mp4 file produce from phone recorded

[2017-03-03 10:25] AquilesCanta commented on #1276
Please, do open a new issue. But please be clearer about what you need. For example, why ExoPlayer.getCurrentTrackGroups() does not provide the information you need.

[2017-03-03 13:53] JGecys opened #2525 "Exoplayer 2.2.0 Application crashes when playing HLS playlist."
When playing HLS playlist (index.m3u8) that has a list of mono.m3u8 streams with different bitrates, application crashes with this error:

`/ACodec.cpp:1016 CHECK(def.nBufferSize >= size) failed.`

HLS playlist format:
#EXTM3U
#EXT-X-STREAM-INF:BANDWIDTH=1328000
/mono1.m3u8
#EXT-X-STREAM-INF:BANDWIDTH=1828000
/mono2.m3u8
#EXT-X-STREAM-INF:BANDWIDTH=2628000
/mono3.m3u8

I've found similar issue (#8

[2017-03-03 14:02] HungamaSurat commented on #1975
Hi exoplayer team,

Is there any update on this bug? Issue is still there with latest v2.2.0 sdk.

[2017-03-03 15:51] moagrius commented on #2467
@rafaeladel great, glad it was helpful.  fwiw i'd definitely suggest using that last snippet - it's virtually instantaneous, no delay at all even with 800MB, 90 minute encrypted video seeking to any position.

@Slim1991 i'll try to to put a demo up in the next week or so

[2017-03-03 20:53] ojw28 commented on #2525
Please provide sample content so we can reproduce the issue, together with a full bug report captured with `adb bugreport`, as is clearly requested in the issue template.

[2017-03-04 03:07] Slim1991 commented on #2467
@moagrius I'm planning to play AES-128 encrypted HLS, you will save so much time for me. Just by ExoPlayer's Document can't help me but you can. You are so good!

[2017-03-04 03:30] qiuxinyidian opened #2526 "Sometime would pop up play error durng playing video"
description：
     [Youtube] Sometime would pop up play error durng playing Youtube video

     Top Activity:(1)com.android.systemui.recents.RecentsActivity
     (2)com.google.android.apps.photos.home.HomeActivity
     (3)com.google.android.apps.youtube.app.WatchWhileActivity

03-02 21:13:15.895 20414 29478 E Surface : getSlotFromBufferLocked: unknown buffer: 0x7f72033720
03-02 21:13:15.895 20414 2

[2017-03-04 03:34] moagrius commented on #2467
@Slim1991 i _think_ there's already functionality built into ExoPlayer for streaming HLS video (note my comments about how things are much easier with a server); what we're doing is around playback of locally encrypted files, or remote encrypted files that aren't being served via HLS

[2017-03-04 03:35] Charles-ljc opened #2527 "Support amr format file"
When I play an AMR NB format file recorded by android.media.MediaRecorder, I got an error "UnrecognizedInputFormatException: None of the available extractors could read the stream".
Is this format not supported?

[2017-03-04 03:39] Slim1991 commented on #2467
@moagrius Yeah. I know. I'm still working on that. Normal HLS is easy to play with ExoPlayer but encrypted HLS is harder, no example found and no document found. Your work just give me some suggestions to do that.

[2017-03-04 03:43] moagrius commented on #2467
yeah you should be able to use the same techniques shown here - just replace the FileInputStream with whatever Stream you're getting from your networking layer

[2017-03-04 03:58] Slim1991 commented on #2467
That's right!
Integrating the decryption and knowing how to do that are important to me.
I hope I receive your project soon to do that. Thanks

[2017-03-04 12:19] ojw28 commented on #2526
YouTube issues should be reported to YouTube (via the built in send feedback feature).

[2017-03-04 12:19] #2526 closed, assigned to nobody

[2017-03-04 13:42] ghost opened #2528 "VideoCapabilities: Unsupported profile 2 for video/mp4v-es"
Before playing out this error then only it plays, sometimes just a black screen

On TV box android 5.1.

Please tell me what could be the problem?

[2017-03-05 03:32] WeiChungChang commented on #26
@robin2046
About your case when playing video only movie system will crash.
I have found the root cause and made a patch.

02-22 15:08:05.833 31708 31747 E ExoPlayerImplInternal: Internal runtime error.
02-22 15:08:05.833 31708 31747 E ExoPlayerImplInternal: java.lang.NullPointerException: Attempt to invoke interface method 'long com.google.android.exoplayer2.util.MediaClock.getPositionUs()' on a

[2017-03-05 13:07] itsAmud commented on #2521
@AquilesCanta : please let me know whether you were able to reproduce the issue.
Thanks.

[2017-03-05 13:32] thesiamak opened #2529 "How to change ControlView layout dynamically"
I'm going to have an mp3 player with 2 states:
1- Minimized:few controls allowed here and also it's parent view height is limited .
![screenshot_1488720455](https://cloud.githubusercontent.com/assets/11936521/23587613/83e9818e-01c5-11e7-9dab-12b0faf2a614.png)

2- Fullscreen view: all controls and options allowed and can be displayed(Like exoplayers default layout).
![screenshot_1488281187](https:/

[2017-03-05 16:43] peak3d opened #2530 "Is is possible to give non overlapping KID's for widevine dash streams?"
Hi,

for widewine / chrome (not android) its impossible to decrypt data with different session-id's but same KID's.

The widevine request for both Video and Audio returns the same set of KID's:
fist: 30303030303030303030303030303030
last: 30303030303030303030303030303037

Would it be possible to give Video / Audio a set of non overlappink KID's?

For example:
Audio:
fist: 3030303030303030303030303

[2017-03-06 09:52] khacpv commented on #2529
@draxdave
I think it does not related to Exoplayer,
Is Minimized state showing on notification bar? If so, you need to create some RemoteView by your self. Handle click event on the view by BroadcastReceiver and start your activity to go to fullscreen mode.

[2017-03-06 09:59] khacpv commented on #2479
My workaround is set alpha to 0 or 1 instead of set GONE/VISIBLE.

[2017-03-06 10:09] andrewlewis commented on #2466
All representations in the stream linked in the first bullet item are in H.264/AVC High profile (the codecs attribute starts `avc1.64`), which exceeds the minimum requirements for video decoder support on Android API 16 builds. So it is not safe to assume that all devices can decode it (though many will be able to in practice). Please see [Supported formats](https://google.github.io/ExoPlayer/supp

[2017-03-06 10:09] #2466 closed, assigned to nobody

[2017-03-06 10:47] ojw28 commented on #2529
Agreed this is a general Android UI question and hence is unrelated to ExoPlayer.

[2017-03-06 10:47] #2529 closed, assigned to nobody

[2017-03-06 10:48] ojw28 commented on #2528
Closing because issue ignores the issue template and does not provide the information required for us to investigate the issue.

[2017-03-06 10:48] #2528 closed, assigned to nobody

[2017-03-06 11:22] thesiamak commented on #2529
@khacpv
I clearly understand what you mean and it's been implemented before and it's working . The Minimized state will be displayed in whole app till user clicks on minimized ExoplayerView(Now it must enlarge whole player to FullscreenView) .**The only problem is to switch between layouts while playing.**

@ ojw28
It's not a general UI question my friend, because as i said before the implementati

[2017-03-06 11:50] shaikansaar opened #2531 "Disable Forward playback and Seek forward"
Hi,

I just incorporated ExoPlayer v2.2.0 in my App and really love it. However, i have a requirement which i could not find in documentation. Forgive me if i am posting a stupid question as i am new to Android.

How can i disable the forward playback  and seek forward for a video (mp4) played on (http)?\
Also, i need to disable the player  Forward  button >>.

Any help will be appreciated.

Thank

[2017-03-06 14:05] AquilesCanta commented on #2521
I have just tried and not been able to reproduce the issue on release-v2. Please be concrete about:

It does not reproduce on 5X, Galaxy S6 or Android One.

[2017-03-06 16:37] graphcon opened #2532 ""Sometimes" problems with playing stream"
Hello,

we are currently trying to _stream a radio station_ that sends 64k aac+. We implemented a service that runs Exoplayer to continue streaming when app is set to background or screen turns off.

Sometimes, that stream doesn't start playing. When we _stop_ the stream and _restart_ it again, audio starts without problem.
I tried to reproduce that problem in Exoplayer demo app, but I wasn't able

[2017-03-06 16:50] botondbutuza opened #2533 "Question about onRenderedFirstFrame"
Hey guys!

More of a question than a bug. I have a player and a hidden surface. I want to show the surface the second the player is actually rendering onto it continuously.

I looked at EventListener's onPlaybackStateChanged(), and I get a callback when the player is ready, but it being ready and it rendering are two different things - it needs a keyframe to start rendering, which might be 200 mil

[2017-03-06 17:52] octopuscard opened #2534 "ExoPlayer cannot handle video/audio track switching on the fly in TS files."
We play our video content in TS files using ExoPlayer.  Every so often we insert commercial ad content (also in TS files) into the stream.  When the track order of our video content and commercial ad content have the same track order, there is no transition problem at all.  However, if the track order is different, we encountered many different problems such as stalling or skipping content.  For e

[2017-03-06 21:17] brAzzi64 commented on #2428
That was extremely helpful Aquiles.

I ran dvbsnoop against the second chunk and could verify the issue, report to our CDN, and the identified the problem.

Thanks again!

[2017-03-07 02:00] WeiChungChang commented on #26
@robin2046

02-22 15:08:05.833 31708 31747 E ExoPlayerImplInternal: Internal runtime error.
02-22 15:08:05.833 31708 31747 E ExoPlayerImplInternal: java.lang.NullPointerException: Attempt to invoke interface method 'long com.google.android.exoplayer2.util.MediaClock.getPositionUs()' on a null object reference...

You could fix this issue by the patch below if you are at https://github.com/yangwuan

[2017-03-07 05:02] MinhMark123123 opened #2535 "issue with seeking function of video file (.ISMV file)"
Hi!
I'm having an issue with .ismv file (video) playing. I downloaded it to my device and tried to play it locally. It played well but the function 'seeking' didn't work .
I am using ExoPlayer version : r2.2.0 and My test deivce is samdung s6 Android 6.0.

[2017-03-07 08:42] masmil1988 commented on #342
Is this an issue? Or there is some way to change this behaviour?

[2017-03-07 10:11] ojw28 commented on #2535
This issue does not include sufficient information for us to help. Please include all of the information clearly requested in the issue template when filing future issues. Thanks.

[2017-03-07 10:11] #2535 closed, assigned to nobody

[2017-03-07 10:18] ojw28 commented on #2532
You should definitely try updating to 2.2.0 as a first step. The 2.0 release was a pretty huge revision to the library, and was inevitably a little immature as a result. Many issues have been ironed out in the subsequent smaller releases. If you're doing background playbakc then you should also ensure you're holding a wakelock and wifilock as detailed in https://github.com/google/ExoPlayer/issues/

[2017-03-07 10:19] ojw28 commented on #2533
onRenderedFirstFrame is what you need. What exactly is a "hidden surface", and how are you hiding it and making it visible?

[2017-03-07 10:52] matclayton commented on #420
Yes I did, fantastic!

[2017-03-07 10:54] AquilesCanta commented on #2534
Please, before going on, read the issue template.

I will need clarification about what the issue is:

1. Which Exoplayer version are you using?
2. Try to provide the exact steps to reproduce the issue. **We depend on this to help you**. Assuming you are using version 2, are you creating a new media source per TS file? Are you using dinamically altering the files without changing the MediaSource?

[2017-03-07 11:10] graphcon commented on #2532
Thank you, I will try with updating to r2.2.0 and open a new issue if that didn't help.

Or do you prefer re-opening this issue?

[2017-03-07 12:08] MinhMark123123 commented on #2535
Hi!
Thank you.
Here is a link of the video file i downloaded:
`http://dto.tevolution.tv/dto-test/download.ism/download.ismv`

Here is a snippet code i initialize player :

[code]

I played the video file downloaded but when i touched to the seekbar  the view controller of media will be auto hide. I couldn't seek the video . Even if i tried to seek the video by `seekTo()` player will auto replay ag

[2017-03-07 13:46] ojw28 commented on #2535
The media is a fragmented mp4 file without a sidx box. For fragmented mp4 to be seekable in ExoPlayer, it needs to include a sidx box. We do not support seeking in media that does not include an appropriate index to allow seeks to be performed in an efficient way.

[2017-03-07 13:48] ojw28 commented on #2532
Please just update this one. Thanks!

[2017-03-07 13:48] #2532 closed, assigned to nobody

[2017-03-07 14:08] RMTT commented on #1389
Hello,I also get the problem,and do you solved it?

[2017-03-07 14:31] ojw28 opened #2536 "Test"
# Test
a
## Test
b
### Test
c

[2017-03-07 14:31] #2536 closed, assigned to nobody

[2017-03-07 17:54] rileymacdonald opened #2537 "Expose HLS master playlist as part of the object returned via ExoPlayer.getCurrentManifest"
I'm upgrading from ExoPlayer r1.5.9 to r2.2.0. How can I receive a reference to the `HlsMasterPlaylist` when loading HLS content? I'm assuming this is the only way to get a reference to the variants; Previously when using ExoPlayer r1.x, the `onSingleManifest()` callback returned an `HlsPlaylist` which could be cast to a `HlsMasterPlaylist` in order to get a reference the variants (which now appea

[2017-03-08 02:27] lucas34 commented on #2523
Hi,

It's an app running on NWJS that communicate with FFMPEG. We were using fragmented mp4, because the output is written to buffer.

Using the MP4Extractor solved the issue. So I created a custom MP4Extractor and modified the sniff function to accept the fragmented MP4 as well.

Thanks for the quick reply.

[2017-03-08 02:27] #2523 closed, assigned to andrewlewis

[2017-03-08 09:33] botondbutuza commented on #2533
It's actually a TextureView, not a surface, and I'm setting its visibility from VISIBLE to INVISIBLE.

I basically have two TextureViews playing two videos, and I only want to show the second TextureView once the second video is rendering onto it. If I show it when I get the onRenderedFirstFrame() callback, there's still a tiny delay between it being shown and the video rendering continuously.

I

[2017-03-08 10:48] nashxena commented on #2200
Any thing on this? I have a similar problem. Thanks for any suggestions/clues here.

[2017-03-08 10:54] devm2024 commented on #2467
@moagrius
I have tried your code, it works for fine for small files, 15MB, but I am getting EOF exception for large files 25MBs. Not sure what to do, probbaly I am doing something wrong.
Here is my initialization of Exoplayer:

`File file=FileBackend.getEncryptedVideoFile(video_name);
        Uri uri= Uri.fromFile(file);

        dataSourceFactory= new MyDataSourcefactory(activity, Util.getUserAge

[2017-03-08 11:59] Ladis1 opened #2539 "ExoPlaybackException, playing stops (stuck), on S4, Codec reported err 0x80001009"
Playback stops, gets stuck, on Samsung Gal. S4 (GT-I9505, Android ver. 5.0.1)
- url:
http://cdnapi.kaltura.com/p/1758922/sp/175892200/playManifest/entryId/0_kkp5q1yt/format/applehttp/tags/mbr/protocol/http/f/a.m3u8

- exoplayer:r2.2.0
- exception attached:
[ExoPlaybackException.txt](https://github.com/google/ExoPlayer/files/827478/ExoPlaybackException.txt)

03-08 12:48:12.716 21209-3753/com.twenty

[2017-03-08 12:09] alfonsoramosa opened #2540 "Question about Smooth Streaming and TTML subtitles"
Exoplayer 2.2.0
Device: Nexus player
Android 7.1.1

Hi,

I'm having an issue when playing Smooth Streaming with TTML subtitles.

Examining the mp4 header of the subtitles chunks, it seems that the field with the length of the sample (an xml with the subtitles) is wrong (the value is slightly lower than it should be), then, the xml parsing is failing with an XmlPullParserException and the player is

[2017-03-08 12:51] fasteque opened #2541 "Video shows green stripes on Android TV"
### Issue description
Some videos present green stripe (bottom-horizontal for landscape, left-vertical for portrait).

### Reproduction steps
Using the ExoPlayer demo app, just add a new entry with the video URL and play it (to reproduce it I've added it in the Misc section).
Green stripe is immediately noticeable.

### Link to test content
Test content provided by email.

### Version of ExoPlayer

[2017-03-08 14:02] ojw28 commented on #2539
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

If you’re able to provide complete information as requested in the issue template,

[2017-03-08 14:10] ojw28 commented on #2537
We should probably expose this via `ExoPlayer.EventListener.onTimelineChanged`. Currently we're exposing the media playlist only. Although what information do you actually need to pull out of the `HlsMasterPlaylist`? It's fairly likely the information you need is exposed somewhere else, just not in `HlsMasterPlaylist` form.

[2017-03-08 14:38] rileymacdonald commented on #2537
I'm looking to pull the variant/rendition count for reporting reasons. If this information is available somewhere else I won't need the `HlsMasterPlaylist`.

[2017-03-08 14:50] ojw28 commented on #2540
I think so, yes. Note that it's possible for data in the `trun` box to override the size depending on the atom flags (see `FragmentedMp4Extractor.parseTrun`), but this feature is not typically used for TTML segments in SmoothStreaming.

I'm unsure what that is. We have SmoothStreaming content including TTML subtitles that has been provided to us by streaming providers previously, all of which appe

[2017-03-08 14:56] ojw28 commented on #2537
You could try using `EventListener.onTracksChanged`. The `trackGroups` variable will hold information about the tracks we've determined are present in the media. It becomes a little complicated because the representation of tracks here splits out muxed streams, but if you're dealing with reasonably simple cases it should be possible to derive the numbers you're looking for from the groups.

Else y

[2017-03-08 15:09] ojw28 commented on #2533
To help with debugging, I'd suggest you try posting a delayed message/runnable in `onRenderedFirstFrame`, that makes the `TextureView` visible 500ms later than if you were to make it visible immediately at that point.

Is there still an issue when the `TextureView` eventually is made visible? ExoPlayer will definitely have released multiple frames to the `Surface` by that point, so if you're still

[2017-03-08 15:36] Ladis1 commented on #2539
### Issue description
Exo player is playing but after certain time (1 minute and 7 seconds) it stops, the picture is still, playing gets stuck.

### Reproduction steps
Play given asset in the demo app. Play from start, wait 1 minute (playing back), then error occurs.

### Link to test content
 {
        "name": "ExoPlaybackException in 1min7secs",
        "uri": "http://cdnapi.kaltura.com/p/175892

[2017-03-08 16:03] moagrius commented on #2467
@devm2024 hm, i've tried with lots of very large videos (600MB+) and have not seen that.

are you using the most recent snippet for your stream reader?  the one from https://github.com/google/ExoPlayer/issues/2467#issuecomment-283471153

also this technique only works for AES/CTR/NoPadding - is that your algorithm?

are you making sure to send the same key _and_ iv spec to the cipher to decrypt as

[2017-03-08 16:06] devm2024 commented on #2467
Hi @moagrius :
Yes I have tried both recent snippet and the previous one. My cipher is this

`Cipher cipher = Cipher.getInstance("AES/CTR/NoPadding", "BC");`
keys are same. I am able to play smaller videos, getting EOF in larger ones.
Can you please provide a demo project. It would be really helpful.
Thanks.

[2017-03-08 16:09] Slim1991 commented on #2467
@devm2024 your init vector should has 16 bytes. "BC" is not enough

[2017-03-08 16:19] devm2024 commented on #2467
@Slim1991
I am not sure but "BC" is the provider name.
My keys are in this form:
`SecretKeySpec keySpec = new SecretKeySpec("16-char key".getBytes(), "AES");
 IvParameterSpec ivSpec = new IvParameterSpec("16-char-key".getBytes());`

Let me know if I am wrong and suggest the replacement of "BC".

[2017-03-08 16:57] moagrius commented on #2467
"BC" is "Bouncy Castle" and is the provider not the IV.  I didn't use it but IIUC it shouldn't matter.

The only other thing I can think to suggest is to create new Cipher instances for each operation (don't re-use).

I'll try to get a demo up this weekend, it definitely won't happen today or tomorrow though (work and school).  When I do put it up, it definitely won't have large videos included, y

[2017-03-08 17:16] botondbutuza commented on #2533
Okay, so here are my findings:

- with a delay of 500ms, the video is rendering correctly
- I can reduce this to 400ms, and the video is still mostly correct
- anything below 400ms and there's a noticeable delay between

Our streams have a keyframe every 0.52 seconds, and Exo waits for the first keyframe before rendering, right? Is that being taken into account when `onRenderedFirstFrame` is sent?

[2017-03-08 17:20] ojw28 commented on #2533
`onRenderedFirstFrame` is triggered at the point where a buffer has been output from the decoder and released to the surface. So yes, it should be taken into account.

[2017-03-08 17:33] botondbutuza commented on #2533
There's a consistent 200-300ms delay between `setPlayWhenReady` and `onRenderedFirstFrame`, which is pretty much what I expected. Any ideas?

[2017-03-09 00:32] octopuscard commented on #2534
1. We're using ExoPlayer version 1.5.7
2.  Please see (3) below.
3. For track order, I mean the PID order.  For example:
   (a) In one TS file, I have the following:
    Stream #0:0[0x6e]: Video: h264 (High) ([27][0][0][0] / 0x001B), yuv420p, 1920x1080 [SAR 1:1 DAR 16:9], 29.97 fps, 29.97 tbr, 90k tbn, 59.94 tbc
    Stream #0:1[0x6f]: Audio: aac (LC) ([15][0][0][0] / 0x000F), 48000 Hz, stereo, flt

[2017-03-09 06:29] rustyshelf opened #2542 "Redmi Note 3: DecoderInitializationException playing any MP3"
### Issue description
We just released a new version of our app that uses ExoPlayer. It fixed a tonne of issues we've had over the years with Android MediaPlayer and other related libraries, so firstly: thanks!

The only issue we've encountered so far is that two specific devices seem unable to playback any MP3 files. The devices in question are:

On those devices attempting to play an MP3 results

[2017-03-09 06:39] devm2024 commented on #2467
Hi @moagrius tried with creating new cipher instances, didn't worked. I suppose there is something wrong in the way I initialize exoplayer. If would be really helpful if you just provide me the code snippet of your exoplayer initialization.

[2017-03-09 10:48] AquilesCanta commented on #2534
What does this mean?

What does this mean?

Stalling as in buffering? preparing? ready but frozen video? Skipping content is skipping frames or the whole file? This could happen if the first frame is not a key frame in the second file, for example. If the second file plays, at all, then the issue is not related to PIDs.

Please, try updating to the player to the latest v1 version. Also, there has

[2017-03-09 13:46] AquilesCanta commented on #2539
Does this always happen at the same time? I wonder if the device is trying to adapt to a variant that exceeds its decoding capabilities. If this was the case, the  failure should happen at a somewhat random position. You can test this by playing the media in the demo app and selecting the higher resolution variants. If doing this triggers the exception throw, then that's the issue.

To fix it, you

[2017-03-09 14:36] rileymacdonald commented on #2537
Thanks! I was able to loop over the `TracksGroupArray` from `onTracksChanged()` and fetch the desired video `formats` to determine the variant count and details about the renditions I required.

[2017-03-09 15:02] Witype opened #2544 "How to make webm in exoplayer like chrome support transparent"
When I playback the webm in chrome like this:
![image](https://cloud.githubusercontent.com/assets/6899329/23755725/479365a6-051c-11e7-8f05-e4ec2160ba94.png)
but int the exoplayer is not support transparent :the background is black
![image](https://cloud.githubusercontent.com/assets/6899329/23755811/8b208a60-051c-11e7-95e4-db1186532ef9.png)

How can I do this?
thanks!!!

[2017-03-09 15:28] andrewlewis commented on #2544
Duplicate of #2509.

[2017-03-09 15:28] #2544 closed, assigned to nobody

[2017-03-09 15:44] kasra-arab opened #2545 "Create MediaSource from InputStream *without* creating files and using Uri"

[2017-03-09 17:05] #2545 closed, assigned to nobody

[2017-03-09 17:18] ojw28 commented on #2533
Not really. Sorry! Does this happen on all devices? Is it possible for you to provide a minimal change to the ExoPlayer demo app that allows us to easily reproduce the issue?

[2017-03-09 20:46] jazimm opened #2546 "Question regarding displaying subtitles from using HLS format Video"
### Issue description
Not able to display subtitles in vvt file using HLS stream on 2+. Not able to see an example in the demo app and not sure if additional code is necessary outside of implementing HlsMediaSource as shown in demo.

### Reproduction steps
Currently testing with https://bitdash-a.akamaihd.net/content/sintel/hls/playlist.m3u8 on demo app. Video plays but captions not displayed. Nee

[2017-03-09 22:05] octopuscard commented on #2534
We're not able to upgrade to V2 yet.  I will try to explain it again below.

Here I gave an example of using 2 TS files
1. TS-1 : with video in track 1 and audio in track 2
2. TS-2 : with audio in track 1 and video in track 1

After ExoPlayer plays TS-1 and transition to TS-2, ExoPlayer fails to play TS-2. If TS-2 has video and audio in the same order as TS-1, there is no problem in playing TS-2.

[2017-03-09 22:23] ojw28 commented on #2542
Can you provide some more information about the two devices individually? The Redmi Note 3 didn't ever ship with Android 4.4.2, as far as I can tell. I'm not sure how you got hold of the stack trace, but normally there would be a build fingerprint or some more detailed device information if you're getting it back via an analytics service / feedback mechanism.

Also, is the stack trace exactly the

[2017-03-09 22:30] ojw28 commented on #2525
Closing due to lack of required information.

[2017-03-09 22:30] #2525 closed, assigned to nobody

[2017-03-09 22:57] rustyshelf commented on #2542
Sure happy to.

Here are some sample details of users who emailed us from a Redmi Note 3:

And for the Wiko Getaway

And here are the exceptions broken down specifically to a device:

First Redmi Note 3:
[code]

And from the Wiko Getaway:
[code]

That second one is clearly different (my apologies for not adding that to the issue originally) and rather than complaining about the decoder it seems to

[2017-03-09 23:35] rustyshelf commented on #2542
Actually on investigating this issue further I think that second one might be our fault for not allocating enough inputBuffer. So this issue is only related to the Redmi Note 3 getting a DecoderInitializationException. Apologies for the confusion.

[2017-03-10 00:21] ojw28 commented on #2542
Thanks for the information! We should be able to get hold of a Redmi Note 3 to see if blacklisting the problematic decoder fixes the problem.

p.s. I saw which app this is for in the stack trace. It's great; happy to see you adopting ExoPlayer!

[2017-03-10 00:40] rustyshelf commented on #2542
@ojw28 not as happy as we are! We used to have 3 different players in our app using various technologies, ExoPlayer has been a huge win for us and it's allowed us to move to one single player for everything. Version 6.2 onwards ships with ExoPlayer and so far the response has been great. Fixed a lot of outstanding bugs we had.

Finally: hats off to you and the team for being so responsive.

[2017-03-10 01:14] Witype commented on #2509
@vigneshvg Is there anyway to do this,

in exoplayer
![8b208a60-051c-11e7-95e4-db1186532ef9](https://cloud.githubusercontent.com/assets/6899329/23777784/dbfd8168-0571-11e7-91db-62535597ee20.png)

in chrome
![479365a6-051c-11e7-8f05-e4ec2160ba94](https://cloud.githubusercontent.com/assets/6899329/23777785/dbfdb962-0571-11e7-9e62-85fc9a0fc2b2.png)

[2017-03-10 01:44] moagrius commented on #2467
in my actual project the player initialization is very complicated and tied into a lot of other pieces of the production app, so i can't paste it simply.  that said, when i was experimenting i just used the demo project, and then another project with the "simple setup".  i don't think the initialization is the problem if you get playback but slow seek.  like i said, i can probably put up a project

[2017-03-10 09:02] slezadav commented on #2521
Very similar issue happening to me on huawei p8-lite , with r2.2.0 of the exoplayer

[2017-03-10 09:09] slezadav commented on #2042
You can use
`TrackSelection.Factory videoTrackSelectionFactory = new AdaptiveVideoTrackSelection.Factory Factory(BandwidthMeter bandwidthMeter, int maxInitialBitrate,
        int minDurationForQualityIncreaseMs, int maxDurationForQualityDecreaseMs,
        int minDurationToRetainAfterDiscardMs, float bandwidthFraction)`
and set the maxInitialBitrate value

[2017-03-10 10:13] AquilesCanta commented on #2534
Before I start looking into this, please provide the media you are playing to dev.exoplayer@gmail.com.

[2017-03-10 11:09] AquilesCanta commented on #2546
On version 2.2, https://bitdash-a.akamaihd.net/content/sintel/hls/playlist.m3u8 plays well, including subtitles. For the DemoApp, english subtitles should be enabled by default (you can make sure through the Text button at the top of the screen). Note that the first subtitles in the stream appear at 2:15, so you should seek if you don't want to wait 2 minutes.

[2017-03-10 13:13] alfonsoramosa commented on #2540
Thank you ojw28,

This issue is limited to a single content provider. It seems that they are filling tfhb.default_sample_size with the number of characters, not with the number of bytes of the sample xml.

Anyway, these SS subtitles are working fine in other 10 different players and platforms, so I guess these other players are extracting the sample from the chunk in a different way.
As I told bef

[2017-03-10 13:34] jeffreyrajanofficial opened #2549 "How to set mp3 player default thumbnail image?"
Is there any way to set default metadata thumbnail image for mp3 type file. I am using exoplayer current version(r2.2.0).

[2017-03-10 13:45] ojw28 commented on #2540
Oh right, I've figured out what the 4 bytes you refer to are. That's just the size of the `mdat` box. Every box starts with its length (4 bytes) followed by its type (4 bytes), as defined by the `Box` class in 14496-12.

It's not correct to use the size of the `mdat` box as the size of the sample, as you suggest other players may be doing. An `mdat` box normally contains multiple samples, so if yo

[2017-03-10 13:45] #2540 closed, assigned to nobody

[2017-03-10 13:48] ojw28 commented on #2549
Does [`SimpleExoPlayerView.setDefaultArtwork`](https://google.github.io/ExoPlayer/doc/reference/com/google/android/exoplayer2/ui/SimpleExoPlayerView.html#setDefaultArtwork-android.graphics.Bitmap-) do what you want? Your question is quite vague.

[2017-03-10 13:56] jeffreyrajanofficial commented on #2549
@ojw28 This is exactly what i am looking for, sorry about the unclear description.

[2017-03-10 14:34] ojw28 commented on #2542
Apparently there are two Redmi Note 3 variants:

1. Mediatek based: http://www.gsmarena.com/xiaomi_redmi_note_3_(mediatek)-7769.php
1. Qualcomm based: http://www.gsmarena.com/xiaomi_redmi_note_3-7863.php

I've got hold of a Qualcomm one and playback is fine there, so the issue must be specific to the Mediatek variant (which makes sense given it's a Mediatek decoder that's failing).

[2017-03-10 14:43] ojw28 commented on #2542
It's likely that the issue can be fixed by adding the following to `MediaCodecUtil.isCodecUsableDecoder`:
[code]
How hard would it be for you to get a modified version of your app to one of the affected users, so they can confirm that it does fix the issue? We'd be happy to merge the change if it's confirmed successful.

[2017-03-10 14:46] ojw28 commented on #2549
Great; glad that helped!

[2017-03-10 14:46] #2549 closed, assigned to nobody

[2017-03-10 21:09] octopuscard commented on #2534
Media files have been sent.

[2017-03-11 06:52] rustyshelf commented on #2542
@ojw28 it should be feasible for us to confirm that works. Will get in touch with some people having that issue and add them to our beta. From there we can put that in a beta build and see if the issue goes away.

[2017-03-11 16:56] mcd2000 opened #2550 "Mi Box Android TV pass-through issues"
Mi Box does not pass-through correctly anything except Dolby Digital sound.
I've tried Dolby Digital Plus, DTS and DTS-HD MA samples. All of them play fine with Demo app on Nvidia Shield Android TV.
On the Mi Box there are video/audio sync issues. Video and time counter goes forward very fast to the end of the file while playing sound just fine.
I understand that this issue is device-specific as o

[2017-03-12 13:30] davinctor opened #2551 "Fails compile VP9 extension with new ndk-bundle v14"
Make all steps following by [this](https://github.com/google/ExoPlayer/tree/release-v2/extensions/vp9). But when try to compile, get this:
[code]
Before this I add this line to **Application.mk**
[code]
If I comment this line, I got:
[code]
I understand that vp9 required **jpeg** library, but I'm not good with ndk build systems and resolving c/c++ dependencies and [README](https://github.com/googl

[2017-03-12 13:54] ojw28 commented on #2524
Just to confirm, the claim here is that the same assets play correctly on the affected devices using ExoPlayer V1 (and that ExoPlayer V1 does switch up into the affected resolutions)? That sounds strange. I think our usage of the decoders and MediaDrm are essentially the same going from V1 to V2.

Are your assets H264 or HEVC? You mention HEVC assets in the demo app, but you also mention the H264

[2017-03-12 13:57] ojw28 commented on #2176
This functionality should be working now in `dev-v2`. Please give it a try.

There's still one technical issue where events might go missing when seeking short distances and/or toggling the event tracks on and off, so the issue is kept open to track fixing that. It's unlikely to be much of an issue in practice, however.

[2017-03-12 13:57] ojw28 commented on #2362
This functionality should be working now in `dev-v2`. Please give it a try.

There's still one technical issue where events might go missing when seeking short distances and/or toggling the cea-608 tracks on and off, so the issue is kept open to track fixing that. It's unlikely to be much of an issue in practice, however.

[2017-03-12 14:13] ojw28 commented on #2542
Great. Let us know the outcome and we'll go from there.

[2017-03-12 22:59] kiall opened #2552 "FfmpegAudioRenderer fails to correctly handle channel layout changes in MPEG-TS streams"
Possibly related to / a regression of https://github.com/google/ExoPlayer/issues/2111

### Issue description

When FfmpegAudioRenderer is used for decoding an AC3 audio track, and that track's channel layout changes abruptly (as is common on MPEG-TS streams during commercial breaks etc), audio and video begins to stutter.

It's possible this isn't AC3 specific, but I don't have any other samples a

[2017-03-12 23:26] kiall commented on #2552
It's also worth noting that if the audio is allowed to passthrough to the TV attached to the shield for decoding (and downmixing to 2 channel), the sample plays back fine.

[2017-03-13 05:30] Natarajan92 commented on #2362
Ok! I will give a try and let you know . Thanks

[2017-03-13 08:22] Ladis1 commented on #2539
It does happen at the same time.
You can seek beyond the error point and play the content, you can rewind before it and play.. up to the point and the error.

[2017-03-13 08:51] Satsrag commented on #91
int viewWidth = textureView.getWidth();
            int viewHeight = textureView.getHeight();
            Scale bestScale = getBestScale(new Size(width, height), new Size(viewWidth, viewHeight));
            float pivotX = viewWidth / 2f;
            float pivotY = viewHeight / 2f;
            Matrix transform = new Matrix();
            transform.postScale(bestScale.isW ? 1 : bestScale.scale, bes

[2017-03-13 09:51] ojw28 commented on #2551
@vigneshvg - Could you take a look? Thanks.

[2017-03-13 09:52] ojw28 commented on #2546
Appears to work correctly.

[2017-03-13 09:52] #2546 closed, assigned to AquilesCanta

[2017-03-13 09:53] ojw28 commented on #2550
Please attach a bug report as specified in the issue template. There's more than one variant of Mi Box. We need to know exactly which one and exactly what build of Android it's running (which is the kind of information that a bug report includes).

[2017-03-13 09:55] ojw28 commented on #2530
@wvpaf - I'm not sure I understand this question. Do you?

[2017-03-13 10:04] Angels-group commented on #2550
I join the problem.
MiBOX MINI (Android 4.4) does not work correctly with ExoPlayer.
When using ExoPlayer (the last stable release), there is a dissynchronization of audio and video (video/audio sync issues).

When using native MediaPlayer, there is no problem.

[2017-03-13 10:08] andrewlewis commented on #2413
I can't reproduce this issue (the stream plays fine in the ExoPlayer demo app on a Nexus 6P).

Please provide the output of `adb bugreport` so we can find out what device/build is being used.

[2017-03-13 10:16] AquilesCanta commented on #2534
You have quoted a snippet from the HLS code. Are these files part of an HLS stream? If yes, I will need a link to the manifest. If not, please provide the code you use to transition from one file to the other.

[2017-03-13 12:16] mcd2000 commented on #2550
Sorry, I've updated the ticket.
I must say, there is current only one Mi Box Android TV (certified by Google). So, I did not think, that the lack of this info could be an issue...
I can provide adb bugreport a little later.

[2017-03-13 12:18] mcd2000 commented on #2550
@Angels-group Are sure that your issue is related with this one? I currently mention pass-through of multichannel audio only.

[2017-03-13 12:28] ojw28 commented on #2550
@mcd2000 - We ask for the information in the issue template for a reason. There are, for example four different builds of Android 6.0.1 for the device you're using. The information you've provided is not sufficient for us to determine which build you're using. Please provide a full bug report as requested.

[2017-03-13 15:30] peak3d commented on #2530
@ojw28 we can close this issue, In the meantime I solved my issues / questions using other test media.
Thanks nevertheless for this great work (exo-player)

[2017-03-13 15:30] #2530 closed, assigned to wvpaf

[2017-03-13 15:33] mcd2000 commented on #2550
adb bugreport attached.

[2017-03-13 15:36] ojw28 commented on #2527
Please can you attach a sample stream to this issue, or email one to `dev.exoplayer@gmail.com` (and update this issue to indicate that you've done so)? Thanks!

[2017-03-13 15:40] ojw28 commented on #2316
Closing this as fixed. The MP4/M4A change looks like it could be quite difficult. I propose we file a separate enhancement request for that as and when someone actually wants it, as was also proposed by @rustyshelf further up this issue.

[2017-03-13 15:40] #2316 closed, assigned to nobody

[2017-03-13 15:45] #2254 closed, assigned to nobody

[2017-03-13 15:57] AquilesCanta commented on #2002
We have recently added an `HlsDataSourceFactory` interface. By implementing one, you can provide a custom `DataSource` for media chunks, playlists and keys. In your case @xbezdeka, it might make sense to take advantage of this to avoid matching the Uri yourself. Let me know if you run into any issues.

[2017-03-13 15:57] #2002 closed, assigned to AquilesCanta

[2017-03-13 16:04] #2516 closed, assigned to nobody

[2017-03-13 17:37] roccozanni opened #2553 "Reduce memory footprint by disabling ID3 parser"
Hi,
while I was investigating OOM issues within a podcast player app, I noticed that most of the generated stack traces comes from ExoPlayer. I know that in this case a stack trace only show the location in the code that failed to allocate the memory, and it doesn't necessarily mean that place in the code is the source of the issue, but then I found this:

[code]

and I found strange that ExoPlaye

[2017-03-13 17:44] ojw28 commented on #2553
I think one way of turning this off in the current release is to extend `SimpleExoPlayer` and override `buildMetadataRenderers` to do nothing. We should add an option to `DefaultTrackSelector` to turn off enabling of the metadata track, as a simpler way of doing this.

[2017-03-13 17:45] ojw28 commented on #2553
Note: Putting a 13MB image at the start of an MP3 file is a pretty bad thing to do (a player will need to download and throw away that 13MB even if it doesn't want it, which will significantly increase startup latency). If you know the content creator, it would be a good idea to suggest they fix this issue.

[2017-03-13 21:11] ChernyshovYuriy opened #2554 "java.util.NoSuchElementException"
While investigating issue with live playback, I found that ExoPlayer v 2.2.0 fails with next exception:

[code]

It is DASH / Widevine protected content.
Unfortunately, I can not provide manifest url to test. It could be consequence of the malformed manifest as well. However, when I looked into the ExoPlayer code, I decided to rise a ticket because even though ExoPlayer should not fail at the spec

[2017-03-14 02:11] shirensong commented on #2413
@andrewlewis, It is OK with a phone device.  And this issue happened with a TV Box and I failed to execute the adb bugreport cmd (Failed to get bugreportz version, which is only available on devices running Android 7.0 or later.). What kind of log do you want, is the original log I attached not enough to find what happened?

[2017-03-14 02:26] shirensong commented on #2413
@andrewlewis I just found there are lot of log "loading" and "dropFrames":

03-14 10:24:40.917 15046-11050/com.google.android.exoplayer2.demo D/ACodec: --- In allocateOutputMetadataBuffers:1441 send back buffer count : 9 totalAllocBufferCount:9 ----
03-14 10:24:40.931 15046-11050/com.google.android.exoplayer2.demo D/ACodec: In allocateOutputMetadataBuffers:1451 notifyBufferAllocDone index :0x7fff0

[2017-03-14 03:39] moagrius commented on #2467
Here's the most simple example I could come up with: https://github.com/moagrius/EncryptedExoPlayerDemo

It's got a download and encrypt function built in, or you can supply your own but you'll need to modify the keys and iv (which are generated using `SecureRandom` right now).  If you want to use the download and encrypt, you'll need to supply the URL of a remote clean (NOT encrypted) mp4 file.

[2017-03-14 08:53] roccozanni commented on #2553
Thanks for your reply @ojw28. I tried your workaround and unfortunately it doesn't work, because `Mp3Extractor.peekId3Data` is still  being executed, and here:

https://github.com/google/ExoPlayer/blob/release-v2/library/src/main/java/com/google/android/exoplayer2/extractor/mp3/Mp3Extractor.java#L284

you'll see that a new byte[] is allocated to hold the content of the ID3 frame. Then this is deco

[2017-03-14 09:02] roccozanni commented on #2553
A possible solution would be adding a configuration that will be checked here:

https://github.com/google/ExoPlayer/blob/release-v2/library/src/main/java/com/google/android/exoplayer2/extractor/mp3/Mp3Extractor.java#L283

and will cause the metadata frames to be discarded, like it happens now when the metadata are already parsed. What do you think @ojw28 ?

[2017-03-14 11:53] Ladis1 commented on #2539
I tested all variants separately and the player has no problems.
If I select/check the last two of the variants (id: 4, id:5) together then the player gets stuck every time, in the same position (1 min 7 secs).
Please test this behavior. It is easily reproducible.

[2017-03-14 12:30] AquilesCanta commented on #2539
I am going to test this with an S4 GT-I9505 today.

[2017-03-14 12:34] ChernyshovYuriy commented on #2554
Small update.
We found that there was stale manifest provided, could be a reason, because playback was triggered in "frozen" state, like infinite pause.
Anywhere, I think it was a good stress test :-)
Don't know if you have any idea how to protect failed code from NoSuchElementException.

[2017-03-14 13:38] michaelstrigy opened #2555 "Connection re-use for DASH/HLS/SmoothStreaming"
Hi,

I am trying to find the reasons for some latency in videos over dash that we are playing.
I can see on runtime that httpdatasource is always closing and opening connections, although the implementation uses okhttp.
when checking with wireshark i actually see many 'fin ack' and 'syn - ack - syn' along the playback time.
anyway to avoid this? i would like to use 1 connection which i thought okh

[2017-03-14 13:44] alfonsoramosa commented on #2540
Ok, I agree. That's a content problem and the content provider should fix it.
And it's a good practice not to play something if there is an error in the stream, for example in this contents subtitles.
But perhaps the player should at least play audio and video. It should be enough not displaying subtitles to show that there is a problem with the subtitles.

[2017-03-14 13:52] michaelstrigy commented on #2555
Correction: ok http wasn't used, demo used defaultHttpDatasource i replaced it with OkHttpDatasource but still multiple syns..

[2017-03-14 13:57] ojw28 commented on #2555
Even DefaultHttpDataSource uses OkHttp under the hood on most recent versions of Android (because OkHttp is used in the platform as the default network stack). If I remember correctly the underlying network stack will try and hold connections open so they can be re-used for some period of time. Most likely the server you're requesting chunks from is closing the connections, in which case I think a

[2017-03-14 14:01] michaelstrigy commented on #2555
thats the thing, when capturing network data, the fin is localy sent to the server and not sent by the server, meaning its initiated by exoplayer http module.

[2017-03-14 14:07] ojw28 commented on #2555
I'm not an expert on TCP, but I think both sides need to send FIN when the connection terminates. Are you sure the client isn't sending FIN+ACK because it received a FIN from the server?

[2017-03-14 14:14] michaelstrigy commented on #2555
it does seem we are sending fin ack to close a connection, the server then replies with a fin ack as well.
I agree this is strange especially since the http version is 1.1 which should be persistent with 1 connection.. seems very strange, i will try to investigate further, if anyone has information, please share, thanks!

[2017-03-14 14:28] ChernyshovYuriy commented on #2554
Btw, is the a way to detect stale manifest and throw appropriate exception?

[2017-03-14 14:45] rafaeladel commented on #2467
@moagrius  Thanks for the repo.
PS: you may want to change the package name from `com.test.exoplayer2` to something else other than `test` because it confused me at the beginning.

[2017-03-14 15:08] AquilesCanta commented on #2539
I am not able to reproduce the issue on S4 GT-I9505 running 4.2.2. I have tried several times, following your instructions, with and without random adaptation.

It does not make much sense to me that it reproduces when adaptation is on only, and at a specific moment, considering adaptation should happen pseudo-randomly.

Regarding the error code, I have seen mentions of Qualcomm bugs in stack over

[2017-03-14 17:32] arso8 commented on #2239
Here is one more strange file https://www.dropbox.com/s/6sxf1evitta9zed/05e67b82888bff.mp3?dl=0
`exoplayer 2.2.0`

[code]

[2017-03-14 17:51] AquilesCanta commented on #1975
I am working on this. Sorry for the delay on the answer.

 I don't have permission to access the link provided above. Is it possible for you to fix that? You can always send private links to dev.exoplayer@gmail.com.

[2017-03-14 18:17] vigneshvg commented on #2339
It looks like something changed between versions 1.6.0 and 1.6.1 of libvpx. A quick fix for this would be to change the instructions to explicitly check-out v1.6.0 (we should do this anyway because the instructions as it is checks out tip-of-tree master and the generate_configs script could easily break).

I will update the instructions to do that.

[2017-03-14 18:26] vigneshvg commented on #2509
The platform decoder does not support alpha channel.

It is theoretically possible to build an app that uses a bundled VPx decoder to decode the YUV and Alpha channels separately and render them in a surface that supports alpha blending. Although, as of now, it is beyond the scope of ExoPlayer (and the VP9 extension).

If there's enough interest (or use-cases), it could be added into the VP9 exten

[2017-03-14 18:28] vigneshvg commented on #2551
It looks like libyuv changed recently and is now dependent on libjpeg. For what we need we should be able to revert to an older version of libyuv.

I'll update the instructions accordingly.

[2017-03-14 20:24] ojw28 commented on #2553
Oh right, yes, the ID3 data isn't delivered in a metadata track in this case. It's in audio track's `Format` object. We could probably add a `FLAG_DISABLE_ID3_PARSING` to `Mp3Extractor` that you can set if you don't want it.

I think we'd still want to parse at least the gapless metadata, since that's used by the player internally. So in the case of the flag being set we'd probably need to propaga

[2017-03-14 20:53] ojw28 commented on #2553
The memory allocations are as follows:

1. `DefaultExtractorInput` has an internal peekBuffer. The way this resizes means it currently allocates ~26MB for the problematic file. It's pretty trivial to get this down to ~13MB by making the logic that resizes the peekBuffer more sane. We should also consider having `DefaultExtractorInput` trim its peek buffer after advancing past a large amount of pee

[2017-03-14 20:56] davinctor commented on #2551
@vigneshvg Please update current issue thread with a link to instructions when they will be done. Thanks.

[2017-03-14 21:29] #2509 closed, assigned to vigneshvg

[2017-03-14 21:34] vigneshvg commented on #2551
Yep, working on a fix. Will push it shortly. Thanks!

[2017-03-14 21:57] wvpaf commented on #2009
Closing

[2017-03-14 21:57] #2009 closed, assigned to wvpaf

[2017-03-14 22:06] wvpaf commented on #2334
This has been assigned for followup with the device manufacture. No updates as of 2/20/17.

[2017-03-14 22:13] wvpaf commented on #1303
MediaDrm.provideKeyResponse is synchronous and keys will be available before the call returns for all API levels where WV is present.
If decrypt is called before provideKeyResponse returns this will result in CryptoException.

Hope this helps.

[2017-03-14 22:14] #1303 closed

[2017-03-14 22:22] wvpaf commented on #2436
venkataramanab@ I think your issue is content related so not the same root cause.

ckarthickit@ the issue you are reported is with the SoC we will need to forward this data to Intel.

[2017-03-15 04:14] wanghc0 opened #2556 "Failed to play"
Description:
I gave MediaSource a false url, like "http://cdn-media.jingzong.org/mp4/001.mp4 " , then, ExoPlayer returned an error : Source error.  After receiving this Error Msg, I released player,  and changed the url as "http://hls.ciguang.tv/hdtv/video.m3u8", which is a nice hls video source. Then, restart player.  But, it failed to play.

When I replace "http://hls.ciguang.tv/hdtv/video.m3u8"

[2017-03-15 04:18] Witype opened #2557 "VP9 extension: Build fail No such file or directory: ../../libvpx"
PATH
make=E:\Android\android-ndk-r13b_x64\prebuilt\windows-x86_64\bin
the LibVpx & LibYuv has been clone into jni directory
RUN
[code]
OK
[code]
OK
[code]
OK

cd ${VP9_EXT_PATH}/jni && \
./generate_libvpx_android_configs.sh "${NDK_PATH}"
[code]

I use git mingW64,show
[code]

how can i fix it,thanks

[2017-03-15 04:20] rustyshelf commented on #2542
We made that change but now the user is reporting:

Eg: no more exception initializing that dodgy codec, but something else is still not playing the file correctly it seems. Is that something you guys have seen before? If not we can investigate more but I figured it might be worth asking in case you go "Yeah that would definitely be xxxx".

[2017-03-15 07:46] gajendrakumartwinwal opened #2558 "pixelated screen appears while activity onresume is called after on pause"
I have used Exoplayer in SurfaceView. I am facing serious issue while exoplayer surfaceview removed and added to another viewgroup it shows pixelated screen for 2-3 seconds same is appearing while player is playing and i press the home button and when i come back to same activity it shows pixelated screen for 2-3 seconds.
PFA screenshot of the surfaceview as well.
![before](https://cloud.githubuse

[2017-03-15 07:49] gajendrakumartwinwal commented on #2479
Getting same issue while removing the exoplayer surfaceview and and adding it to another viewgroup:(

[2017-03-15 09:19] ojw28 commented on #2542
The reason blacklisting a decoder in the suggested way often works is that most devices also ship Google's software decoders as well. In this case blacklisting the problematic decoder results in the Google one being used instead. Unfortunately those symptoms would tend to indicate that this device only has the single MP3 decoder, in which case blacklisting isn't an option.

I doubt we'll be able t

[2017-03-15 09:56] ojw28 commented on #2556
It's quite unclear what this issue is describing, but this sounds wrong:

As per the documentation for [release](http://google.github.io/ExoPlayer/doc/reference/com/google/android/exoplayer2/ExoPlayer.html#release--), the player must not be used after calling it. If you want to re-use the player instance you should just call `prepare` again with the new source. Call `release` only when you're comp

[2017-03-15 09:56] #2556 closed, assigned to nobody

[2017-03-15 09:59] qqli007 commented on #888
@ojw28 ,I have the detailed log,please check it.

It is old lib,but I didnt find why it is.Should I update the lib?

-----

03-14 22:33:31.482  3719  3719 I ExoPlayerImpl: Init 1.5.2
03-14 22:33:31.492  3719  3719 D NativeMediaController:  setAnchorView
03-14 22:33:31.492  3719  3805 W Adreno-EGLSUB: <DequeueBuffer:736>: dequeue native buffer fail: Unknown error 2147483646, buffer=0x0, handle=0x0

[2017-03-15 10:51] mcart666 commented on #2476
Hi,

Possibly I have the same issue. Playback of live HLS stream freezes, player enters "BUFFERING" state, no useful information provided by logcat. ExoPlayer for some reason just stops downloading the subsequent media segments, but still tries to get m3u8 playlists.

Device: Xiaomi Mibox
ExoPlayer v2.2.0

I can provide the stream that gives 100% reproduction rate (also on demo application), but p

[2017-03-15 11:06] softlion opened #2559 "Mp3Extractor.readSample crash with ArrayIndexOutOfBoundsException with broken mp3 streams"
### Issue description
Using ExoPlayerFactory with a MediaCodecAudioRenderer having the default MediaCodecSelector, and the DefaultTrackSelector, and an ExtractorMediaSource
Reading an mp3 live stream using a custom data source.

The data from the datasource may have discontinuities.
When a discontinuity happens, exoplayer crashes.

### Reproduction steps
Describe how the issue can be reproduced, i

[2017-03-15 11:17] AquilesCanta commented on #2476
I am closing this issue due to lack of required info.

 @mcart666, please open a new issue including all information required in the issue template.

[2017-03-15 11:17] #2476 closed, assigned to nobody

[2017-03-15 11:20] kiall commented on #2552
FYI - I'll be travelling, and away from any Android TV dev stuff starting Friday for 2 weeks - any responses   needed will be slow, apologies.

Let me know if you need anything and I'll do my best!

[2017-03-15 12:22] ojw28 commented on #2559
I'm quite confused by this issue. I don't think the player does crash, since the exception is immediately caught and handled? What is the exact behavior you're seeing, and what is the behavior you expect?

[2017-03-15 12:45] shoyu666 opened #2560 "duration and position(need help)"
dear author:
     i use  com.google.android.exoplayer:exoplayer:r2.2.0 play mp4 url source
  but meet a proplem

[code]

   i use PlaybackControlView only  with out SimpleExoPlayerView
   we only care about audio in mp4

   we want play mp4 A ,when A end , auto play mp4 B
   but  position  always  <duration and STATE_ENDED never rev (onPlayerStateChanged)

[code]
[code]
[code]

[2017-03-15 13:53] ojw28 commented on #2559
Closing as working as intended. There's no evidence here that there's actually a crash (only that an exception was logged prior to being handled). It's not valid to insert arbitrary discontinuities into an mp3 stream, and this is not something we support or intend to support. Correct behavior is that the player will fail (without crashing the process), which I think is what already happens.

[2017-03-15 13:53] #2559 closed, assigned to nobody

[2017-03-15 13:56] ojw28 commented on #2560
It's unclear what the problem being described is. Please provide clear reproduction steps (ideally using the demo app or a minimal modification of it).

[2017-03-15 13:58] softlion commented on #2559
Well the player does fail and loose its buffer.

iOS native player does support discontinuities, as this happens frequently in live streams with poor network conditions.

readFromPeekBuffer should not try to copy an array with a negative length ...

[2017-03-15 14:03] ojw28 commented on #2559
If poor network conditions cause a break in connectivity and a discontinuity is introduced as a result, then that's a valid case that we already handle correctly. It's different to the stream just containing arbitrary discontinuities, because we're aware that it's happened.

I'm not sure the negative length comment is particularly relevant. Sure, we could add a large number of checks everywhere th

[2017-03-15 14:04] softlion commented on #2559
Ok

[2017-03-15 16:08] Ambroos commented on #2416
@AquilesCanta Hi Santiago, sorry for bothering you again. Any news?

[2017-03-15 16:08] ojw28 commented on #2553
The first of the changes above adjusts the `DefaultExtractorInput` peekBuffer resize logic to reduce the peak memory requirement by ~13MB and in-playback requirement by ~26MB for the problematic sample. The second change adds a flag to `Mp3Extractor` that you can set to disable metadata parsing if you don't need it. That'll reduce both the peak and in-playback requirement by a further ~13MB.

We c

[2017-03-15 16:48] dpkirchner opened #2561 "ffmpeg extensions, Apache licensing"
### Issue description
I noticed in the release notes that the version 2 library includes some "ffmpeg extension" code. Can you explicitly confirm that this new code is Apache licensed? I saw that the headers in the files suggest it is but that could have been a copy/paste thing.

I'm not asking for legal advice, I don't think, just whether or not the extension includes non-Apache code (specificall

[2017-03-15 16:51] andrewlewis commented on #2416
@Ambroos I'm afraid we haven't heard anything back from Qualcomm yet but will ask them for an update.

Knowing that this issue occurs after some adaptations is not enough to implement a targeted workaround -- we really need to find out what characteristics of this adaptation are causing the problem. One option is to try making incremental modifications to the parameter sets in the content/ads and

[2017-03-15 17:07] ojw28 commented on #2561
- The ffmpeg extension is not part of the core library. Unless you're explicitly building and using the extension as per the instructions [here](https://github.com/google/ExoPlayer/tree/release-v2/extensions/ffmpeg), its existence isn't relevant to you.
- The ExoPlayer ffmpeg extension can be thought of as a bridge onto ffmpeg, and is licensed under the Apache License (Version 2.0). However for it

[2017-03-15 17:07] #2561 closed, assigned to nobody

[2017-03-15 17:12] vigneshvg commented on #2557
I am not familiar with mingW64. I have no knowledge as to how to debug this, but my first guess is, it fails at "D:/Program". Is there any chance that you have a space in your directory name e.g. "Program Files" or some such? If so, can you please try it in a directory without spaces?

[2017-03-15 17:15] Ambroos commented on #2416
@andrewlewis Thanks, I'll try to find some time to see if I can trigger the issue with a specific parameter change!

What we have noticed is that the NexPlayer demo does not have issues with the test stream on the same devices. I'm not sure if it's helpful since it's a closed-source thing, but at least we know that it is possible to play the streams without issues on Qualcomm Android devices.

[2017-03-15 17:21] AquilesCanta commented on #2416
Would you mind providing a logcat output using while using nexplayer? That will allow us to determine whether a decoder is being instantiated.

[2017-03-15 17:38] mcart666 opened #2562 "ExoPlayer 2.2.0 stops downloading media segments of HLS stream"
### Issue description
Playback of live HLS streams freezes because the player doesn't download subsequent media segments specified by HLS playlist. In this case player enters BUFFERING state that never ends. Only restart of player helps. By "live HLS" I mean streams where m3u8 playlists are periodically updated.

When I observe calling onLoadStarted/onLoadCompleted methods (inherited from Adaptive

[2017-03-15 17:44] ojw28 commented on #2557
Closing on the assumption this is an issue with the development environment. I think we'd recommend using Linux of macOS, if possible.

[2017-03-15 17:44] #2557 closed, assigned to vigneshvg

[2017-03-15 17:46] ojw28 commented on #2242
My understanding is that Xiaomi will be fixing this in an upcoming platform update. I don't have an ETA.

[2017-03-15 19:06] #2551 closed, assigned to vigneshvg

[2017-03-15 19:06] #2339 closed, assigned to vigneshvg

[2017-03-15 19:07] ojw28 commented on #2452
Closing due to inactivity.

[2017-03-15 19:07] #2452 closed, assigned to nobody

[2017-03-15 19:10] ojw28 commented on #677
We've made one minor improvement in `dev-v2`, which is to enable fast switching on API level 23 and above in the case of switching directly from one surface to another (i.e. not with a gap where there's no surface in between). Of course this is far away from being a complete solution, but it might be useful to some people. The relevant change is here: https://github.com/google/ExoPlayer/commit/a96

[2017-03-15 20:18] AquilesCanta commented on #2537
For the record. We are changing the API in the next push:

`onTimelineChanged` and `getCurrentManifest` will now return an `HlsManifest`, which holds a reference to the master playlist and the current window snapshot.

[2017-03-15 22:32] smmhub opened #2563 "format.frameRate = -1"
Hi ,
Yes I found similar questions but I think (after reading them ) my problem is different .

When the video is local ,
player.setVideoDebugListener(new VideoRendererEventListener  () {
			@Override
			public void onVideoInputFormatChanged(Format format) {

Here format.frameRate = -1

but from youtube dash , it seems to be working properly .

My device is android 5.1 huawei honor 6
what should I

[2017-03-15 23:07] rustyshelf commented on #2542
Seems perfectly reasonable and thanks for the extra info. Feel free to close out this bug with a wont-fix if that's a thing on GitHub :)

[2017-03-15 23:12] rafaeladel commented on #2467
@moagrius  Have you tried using your `EncryptedFileDataSource.java` to download an audio stream and decode it on the fly ? I tried to modify the method `setupInputStream()` as in this [gist](https://gist.github.com/rafaeladel/87872bea8f619fe08e6eda0247ce0899).
I tried it and It always gives me this known error:

[2017-03-16 01:02] Witype commented on #2557
yes , I use ubuntu 16.6 with command
libvpx(switch tag to v1.6.0) & libyuv has been clone into "/home/witype/Android/ExoPlayer/extensions/vp9/src/main/jni"
[code]

show message:
[code]

[2017-03-16 01:24] shoyu666 commented on #2560
thank for reply
i use demo find same problem
[code]
[code]

[code]

[code]
[code]

[2017-03-16 01:34] shoyu666 commented on #2560
i find
mp4 1 play end  and mp4 2 will play auto  ( i use demo with out modify)
mp4 1 play end  but mp4 2 will  not play auto  ( i use demo with modify)

[2017-03-16 05:05] kartdroid commented on #2436
@wvpaf  thanks ! let us know once u hear back from Intel

[2017-03-16 05:05] kartdroid commented on #2436
sorry closed by mistake

[2017-03-16 07:24] ImdStar-Pranesh commented on #420
After doing some workarround on caching the Video/Audio content using exoplayer,i feel like the answer given here http://stackoverflow.com/questions/28700391/using-cache-in-exoplayer is the proper way to implement the caching for unbounded range requests instead of using the inbuilt Exocache.

Can any one provide me some links on how to configure the okhttp & caching the request.

[2017-03-16 07:32] hoseinmirian commented on #1712
how can we read one by one text of the subtitles?

[2017-03-16 08:07] hoseinmirian commented on #1712
please send me the answer in my gmail : hosein.mirian@gmail.com

[2017-03-16 08:35] roccozanni commented on #2553
@ojw28 thanks for the effort you're putting into this, I'm impressed to see something moving on so fast. Looking forward to try the new release!

Rocco

[2017-03-16 09:41] andrewlewis commented on #2560
These MP4s have video streams but there is no surface to render to, as unlike the demo app you're not using a `SimpleExoPlayerView`. If you have control over what files you're playing, I think the best fix is to remove the video streams so that the source MP4s only have audio. Alternative options include disabling the video renderer (e.g. `trackSelector.setRendererDisabled(0, true)`), or subclassi

[2017-03-16 09:41] #2560 closed, assigned to nobody

[2017-03-16 09:45] AquilesCanta commented on #2563
See the javadoc for frameRate:

`The frame rate in frames per second, or {@link #NO_VALUE} if unknown or not applicable.`

And `NO_VALUE == -1`. This means the frameRate was not provided by the media. Hope this helps. I don't know whether there is a way to figure out the frameRate.

[2017-03-16 10:32] AquilesCanta commented on #2563
You could have a look at how the DemoApp builds it's debug view, where it shows the amount of renderedBuffers, see `SimpleExoplayer.getVideoDecoderCounters()`. With this, you might come up with an approximation to the frame rate. Keep in mind that the frame rate could be variable.

No need to say that if you provide the frame rate through the container, this won't be an issue. I'd suggest followin

[2017-03-16 10:32] #2563 closed, assigned to nobody

[2017-03-16 11:42] ojw28 commented on #1848
HLS playbacks using ExoPlayer are no longer constrained to start with the track given by `InitializationTrackSelection` (this is true at least for the `dev-v2` branch and for all future releases (i.e. 2.3.0 onward). Playback will start using whatever track is selected by the `TrackSelection`, in line with behaviour for DASH and SmoothStreaming.

[2017-03-16 11:42] #1848 closed, assigned to nobody

[2017-03-16 11:48] ojw28 commented on #1980
It's unclear exactly what this is requesting, but it's not possible to configure the amount of parallelism used by ExoPlayer during buffering (and we have no current plans to add this feature).

[2017-03-16 11:48] #1980 closed, assigned to nobody

[2017-03-16 11:55] ojw28 commented on #2261
If this is still a problem, please file a new issue including all of the information requested in the issue template (e.g. a full bug report, detailed reproduction steps that show AC3 not working, etc).

[2017-03-16 11:55] #2261 closed, assigned to nobody

[2017-03-16 12:01] ojw28 commented on #1623
@AquilesCanta - This reproduces on latest V2. Unsure why.

[2017-03-16 12:06] ojw28 commented on #1626
If there are multiple de-muxed audio tracks, it doesn't make sense for the player to buffer all of them just in case the user changes their selection. Hence when the selection is changed there's a short delay whilst the newly selected stream is buffered. This is working as intended.

[2017-03-16 12:06] #1626 closed, assigned to nobody

[2017-03-16 12:11] ojw28 commented on #1606
This is a feature request to avoid immediate retry for live streams in ExtractorMediaPeriod. It would be better to wait until the player can make no further progress before triggering the retry.

[2017-03-16 12:15] ojw28 commented on #2406
Using TextureView is fundamentally less efficient than using SurfaceView, so if you're pushing against the limitations of the device you should expect a slightly choppier experience. The rotation issue using SurfaceView is already tracked in the issue you reference.

[2017-03-16 12:15] #2406 closed, assigned to nobody

[2017-03-16 12:19] ojw28 commented on #2554
It's quite difficult in general to detect stale manifest cases. It's also quite unclear to me how this particularly stack trace results from there being one.

The above aside, the player does not crash in this case. It fails gracefully, which is working as intended given the manifest was incorrect. I don't think we're inclined to spend any effort on throwing a more accurate exception for this case

[2017-03-16 12:19] #2554 closed, assigned to nobody

[2017-03-16 12:22] ojw28 commented on #2027
Please file a new issue containing complete information as requested in the issue template if this is still a problem for you.

[2017-03-16 12:22] #2027 closed, assigned to nobody

[2017-03-16 12:22] ojw28 commented on #2405
Closing due to inactivity.

[2017-03-16 12:22] #2405 closed, assigned to nobody

[2017-03-16 12:25] ojw28 commented on #1731
Agreed the device is likely too slow for 4K content.

[2017-03-16 12:25] #1731 closed, assigned to nobody

[2017-03-16 12:30] ojw28 commented on #2188
You should make sure you've acquired WiFi and wake locks to ensure playback whilst in the background (see https://github.com/google/ExoPlayer/issues/930). You'll also need to make sure you're running in a [foreground service](https://developer.android.com/guide/components/services.html#Foreground).

[2017-03-16 12:30] #2188 closed, assigned to nobody

[2017-03-16 12:31] ojw28 commented on #2455
Duplicate of #867.

[2017-03-16 12:31] #2455 closed, assigned to nobody

[2017-03-16 13:27] HungamaSurat commented on #1975
I have mailed working streaming link as you mentioned. Please update us once you check it.

[2017-03-16 14:06] Ambroos commented on #2416
This is the unfiltered logcat output during playback of the faulty m3u8 example with NexPlayer:
https://gist.github.com/Ambroos/7ad735790461b41c4a29fd11a431b745

Playback starts around 14:57:50, the ad break starts around 14:58:30 and ends around 14:59:10.

[2017-03-16 16:03] AquilesCanta commented on #2562
This is a duplicate of #2233. Have a look there. The short answer is that every chunk declares a higher duration than it actually contains (actual duration ~10.6, declared duration 11). This gets accumulated after some time, which means that ExoPlayer think it has buffered more than the loaded chunks actually contain.

 We might do something about this in the near future, but the best solution is

[2017-03-16 16:03] #2562 closed, assigned to AquilesCanta

[2017-03-16 16:23] #1924 closed, assigned to nobody

[2017-03-16 16:38] jvdave23 opened #2565 "Support CEA-608 embedded in H262 in MPEG-TS"
### Issue description
I have a few sample ts files that have CEA 608 closed captioning available in them. I know this because when I play it using VLC player for Android, it is able to successfully display the captions. However, VLC player has frame rate issues when rendering the captions which is why I'd like to use Exoplayer. I've hosted the files on a server, and then tried using the demo app t

[2017-03-16 16:41] octopuscard commented on #2534
I'm still waiting for more details of duplicating this bug and will update here once I get more info.

[2017-03-16 16:41] ojw28 commented on #2362
Marking as fixed. We'll track the remaining minor issue separately.

[2017-03-16 16:41] #2362 closed, assigned to nobody

[2017-03-16 16:41] ojw28 commented on #2176
Marking as fixed. We'll track the remaining minor issue separately.

[2017-03-16 16:41] #2176 closed, assigned to nobody

[2017-03-16 17:14] jvdave23 commented on #2565
Some more info about the sample files:

You may run into issues playing the video. It is MPEG2 video and MPEG1-L2 audio. There is one additional device we are using which is provided by our client. It has a custom Android OS on it, and some codecs that might not be available on all Android devices.

[2017-03-16 17:47] AquilesCanta commented on #2565
Please try the latest dev version. Since 2.1 we have added support for multiple CC channels in a Transport Stream. Note that Exoplayer automatically detects CC services only if they are signaled by the caption_service_descriptor. The provided TS files didn't include it. In this case, you need to specify yourself the channels you expect: I think VLC proactively offers all of them, even if they don'

[2017-03-16 18:13] AquilesCanta commented on #341
We added support for #EXT-X-MEDIA:TYPE="CLOSED-CAPTIONS" in 896550883f6d183e3ef46351eb3e494df8eaefba.

[2017-03-16 18:13] #341 closed

[2017-03-16 18:59] #2537 closed, assigned to AquilesCanta

[2017-03-16 21:18] jvdave23 commented on #2565
I've looked at the class DefaultTsPayloadReaderFactory in the dev-v2
branch and I can see the new parameter closedCaptionFormats. I've tried
to customize the closedCaptionFormats list but I cannot get ExoPlayer
to display the close caption.

One thing I noticed, closedCaptionFormats is only used in method
buildSeiReader() which is only used if the video is H264. The file
CNN.ts does not use H264,

[2017-03-17 01:28] moagrius commented on #2467
I have not tried that - I've only been working with local files.  That error probably just means it's not decrypting properly.

1.  Are you sure you're using the same Cipher on both the encrypt and decrypt?  The key _and_ the IV need to be the same byte array, not sure about the Provider.
2.  Try supplying a Cipher factor, and getting a new Cipher for each `open`.

What happens if you download the

[2017-03-17 02:33] Witype opened #2566 "Please help me convert RGB_565 to ARGB_8888,"
I use extension-vp9 module ,the method renderRgbFrame convert .webm file to RGB_565 Frame,it not support alpha channel,I want make the black background to transparent,such as ARGB_8888,ARGB4444，anybody can help me solve this question,will be thanks for any help!
[code]
![image](https://cloud.githubusercontent.com/assets/6899329/24026537/c67fffba-0afc-11e7-93c8-b2aef985886a.png)

[2017-03-17 10:32] AquilesCanta commented on #2565
I will use this issue to track CEA support in H262. A commit reference will appear here once it's done.

[2017-03-17 12:57] Null45 opened #2567 "HLS Adaptive track not change quality on Android TV although callback onVideoFormatEnabled called"
# Issue Description
Using exoplayer v1 (r1.5.14) with android tv. On both android TV devices () adaptive track doesn't change video image quality. The same app with the same stream's on my Nexus 5x working as intended. Used demo-app like exoplayer configuration.

# Reproduction steps
Run HLS Stream url: https://bitdash-a.akamaihd.net/content/MI201109210084_1/m3u8s/f08e80da-bf1d-4e3d-8899-f0f6155f6

[2017-03-17 13:29] #2513 closed, assigned to nobody

[2017-03-17 13:30] rafaeladel commented on #2467
@moagrius I tried downloading the file to a temp file and playing it .. It works perfectly.
I don't know what the problem is, but I think the `StreamingCipherInputStream` is not downloading the file at all when you call `read()` or something.

[2017-03-17 13:41] ojw28 commented on #2541
You'll need to report this issue to the device manufacturer. I don't think it's an ExoPlayer issue. It's almost certainly an issue with the AVC decoder on this device, or something in the graphics pipeline.

[2017-03-17 14:36] kneep opened #2568 "Display last frame when seeking to end of stream"
Seeking to last ms of a video makes the player switch to STATE_ENDED but the frame before the seeking  is performed is still on the screen. Is there any way to make the player display the last frame if we seek to the last ms or just black out the screen? Thank you.

[2017-03-17 15:40] ojw28 commented on #2568
You can easily make the display go black when the player transitions to the ended state by having a black View above the surface that you make visible when you see the transition.

Showing the last frame in this case is surprisingly non-trivial to do without incurring any additional cost (e.g. latency through the rendering pipeline), so we've kind of ignored the problem up until now. It doesn't se

[2017-03-17 15:53] AquilesCanta commented on #1623
@dreich, I have observed that sometimes (I didn't manage to reproduce at first, that´s why I say sometimes), the keyframes in the TS contain invalid PTS values in contrast with (values that map around two and a half hours later) non-key frames. I was able to notice this with other transport stream inspectors and have double checked the PES syntax to corroborate ExoPlayer is not doing something wro

[2017-03-17 15:53] #1623 closed, assigned to AquilesCanta

[2017-03-17 16:24] moagrius commented on #2467
hm nothing's obviously out of order...  maybe get rid of the `BufferedInputStream` and wrap the connection directly in the `StreamingCipherInputStreamReader`...  also strange because everything i tried previously over a server (granted, mine were local) worked really well; it was much harder to get the direct data source to work with fast seek than it was when using a local server...

i might have

[2017-03-18 00:08] shalin186 opened #2571 "ExoPlayer Can't Play a particular HLS Transport Stream"
I am not able to play a particular hls transport stream using exoplayer, while most of my other streams work just fine.
I am sending out stream details in the email.

I have tried it on Galaxy S6 and S7 with android 6.0.1.

Would appreciate any help regarding this.

[2017-03-18 00:10] AhmedvHashem commented on #55
@tresvecesseis can you share the rtsp datasource code?

[2017-03-18 00:17] FabianTerhorst commented on #55
@AhmedHashemNTS i think its this one: https://github.com/tresvecesseis/ExoPlayer/tree/dev-v2-dvbsubs . but its not supporting the latest exoplayer version

[2017-03-18 00:35] AhmedvHashem commented on #55
@FabianTerhorst I took a quick look and i couldnt find any RTSP related code. i will build it and give it another shot. Thanks a lot(Y)

[2017-03-18 00:37] FabianTerhorst commented on #55
Could also be the Dev branch.

[2017-03-18 00:45] AhmedvHashem commented on #55
No Dev is v1

[2017-03-18 01:21] kneep commented on #2568
That makes sense. I was trying to make sure I didn't miss any methods in ExoPlayer that could do this job. I can do this in the App level as a temp solution. Thank you.

[2017-03-18 08:47] tresvecesseis commented on #55
@AhmedHashemNTS , sorry but we are porting all our code base to v2, our current v1 implementation is specific to our service and not useful to anyone, our v2 implementation is standards compliant albeit only for TS streams for UDP (it will be trivial to add RTP support). But before we submit this code I must finish the remaining problems with the DVB subtitles pull request.

[2017-03-18 09:05] yahim91 commented on #2521
Hi,
I also encounter this issue when playing a video recorded with camera2 and using LoopingMediaSource. The video is played from the external storage. The player stays in STATE_BUFFERING and does not reach the end of the video. Also the loop does not work. I modified the demo app to use my video and I also encountered the bug.
The video url is https://drive.google.com/file/d/0B2BhYxjwNC7ecFVuSUN5

[2017-03-18 10:45] maruiz81 opened #2572 "Error playing a HLS video, wrong stream?"
Hi everybody, I am using the Exoplayer version 2.2.0 to play HLS video. Please note that I have two stream providers, one of them is ok but another provider some times is ok some times not. The error that I have in Exoplayer is this.

[code]

I think probably this is the same error that this [issue 2234](https://github.com/google/ExoPlayer/issues/2234) that was closed like bad stream. My problem h

[2017-03-18 13:47] RMTT opened #2573 "OOM when addListener"
I have a player:
[code]

and then have a listener class:
[code]

when I use :
[code]

and the log is:
[code]

but when I do this:`// this.mPlayer.addListener(componentListener);`
then it works well

and I don't konw why it can cause oom.
and I don't know how to solve it

[2017-03-19 08:16] Charles-ljc commented on #2527
A sample was emailed to that address.

[2017-03-19 13:24] #2573 closed, assigned to nobody

[2017-03-19 18:32] Stalker11 opened #2574 "ExoPlayer and Android TV"
Hi, I am trying to start playing HLS stream in Android TV, but video not playing. Method on PlayerError return IllegaStateException. But this video normal playing on phones and tablets. Why Android TV does not play? How I can fix this broken?

[2017-03-19 22:30] ghost opened #2575 "Playback without Surface causes dropped frames and delay in video playback when a Surface is added"
### Issue description
When removing the surface from the SimpleExoPlayer and after some time re-adding it a lot of "droppedFrames" messages are triggered. This cause quite some delay before the video playback is continued (while sound is normally playing)

This is cause by a wrong translation of timestamps:
When the MediaCodecRenderer doesn't have a codec it calls `skipToKeyframeBefore` with `posi

[2017-03-19 23:14] ojw28 commented on #2574
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

If you’re able to provide complete information as requested in the issue template,

[2017-03-19 23:14] #2574 closed, assigned to nobody

[2017-03-19 23:18] ojw28 commented on #2575
Thanks for reporting this. It looks like we should subtract `streamOffsetUs` in `BaseRenderer.skipToKeyframeBefore`, so that it becomes:
[code]
If you could confirm whether that fixes the issue, that would be great. Thanks!

[2017-03-19 23:25] ghost commented on #2575
hmm not that easy to do that as `stramOffsetUs` is private. But it should fix it as my current quick workaround is to extend the MediaCodecVideoRenderer and override skipToKeyframeBefore with (Kotlin code:)
[code]

where `RENDERER_TIMESTAMP_OFFSET_US` is the default value of `streamOffsetUs` (60000000)

[2017-03-20 01:38] shoyu666 commented on #2560
@andrewlewis
thanks for you reply
subclassing SimpleExoPlayer and overriding buildVideoRenderers to do nothing
it work for me
                          thanks

[2017-03-20 02:28] pagoss opened #2576 "ExoPlayer 2.2.0 & 2.3.0: Unrecoverable Load Error loading DASH"
*** ISSUES THAT IGNORE THIS TEMPLATE WILL BE CLOSED WITHOUT INVESTIGATION ***

Before filing an issue:
-----------------------
- Search existing issues, including issues that are closed.
- Consult our FAQs, supported devices and supported formats pages. These can be
  found at https://google.github.io/ExoPlayer/.
- Rule out issues in your own code. A good way to do this is to try and
  reproduce t

[2017-03-20 03:25] pagoss commented on #2576
[bugreport-NYC-2017-03-20-03-16-04.zip](https://github.com/google/ExoPlayer/files/853877/bugreport-NYC-2017-03-20-03-16-04.zip)

Please check the above bug report if it is valid

[2017-03-20 07:18] ghost commented on #2575
Another issue that I encountered in this szenario is that the video never end as long as no surface is set on the video renderer. This is because the `isEnded` of the video track renderer checks if the output is done, but as we have no surface, we have no codec and therefore the output is never rendered. Right now I have overwritten isEnded and check if I have a surface/ codec.

I have not tested

[2017-03-20 07:36] liauli opened #2577 ""Repeat" toggle function (Repeat All/Repeat One) on playlist"
I have list of videos played using ExoPlayer and I want to add Repeat button. I am using ConcatenatingMediaSource so far and I don't know how to handle if the user changed the toggle to "Repeat One" or changing it back to "Repeat All"
Thanks

[2017-03-20 09:44] ojw28 commented on #2576
See https://github.com/google/ExoPlayer/issues/2294.

[2017-03-20 09:44] #2576 closed, assigned to nobody

[2017-03-20 10:21] AquilesCanta commented on #2577
You can try using a `LoopingMediaSource` on top of the `ConcatenatingMediaSource` to achieve repetition. Depending on whether it's repeat all or one, you use or don't use the `ConcatenatingMediaSource`.

[2017-03-20 10:52] AquilesCanta commented on #2572
The issue here might be that there is a change in the number of tracks included in the transport streams. To analyze ts files `mediainfo` and `dvbsnoop` are useful. With these you can check the number and type of tracks included in the underlying ts files. Using a debugger and adding breakpoints to ExoPlayer is also a good way, but might take longer to do efficiently.

If you need to concatenate d

[2017-03-20 10:52] #2572 closed, assigned to AquilesCanta

[2017-03-20 10:54] AquilesCanta commented on #2521
@yahim91 The file plays well for me in the DemoApp using my Nexus5x running 7.1.1. @yahim91  and @slezadav , please file a new issue including all the information requested in the issue template if your issues persist.

I am closing this issue due to inactivity in the scope of the original report.

[2017-03-20 10:54] #2521 closed, assigned to nobody

[2017-03-20 11:05] venkimurthy07 opened #2578 "AudioTrack.write() called with invalid size (5204) value 03-20 16:34:19.342 14287-13920/E/ExoPlayerImplInternal: Internal track renderer error. com.google.android.exoplayer.ExoPlaybackException: com.google.android.exoplayer.audio.AudioTrack$WriteException: AudioTrack write failed: -2"
*** ISSUES THAT IGNORE THIS TEMPLATE WILL BE CLOSED WITHOUT INVESTIGATION ***

Before filing an issue:
-----------------------
- Search existing issues, including issues that are closed.
- Consult our FAQs, supported devices and supported formats pages. These can be
  found at https://google.github.io/ExoPlayer/.
- Rule out issues in your own code. A good way to do this is to try and
  reproduce t

[2017-03-20 11:11] AquilesCanta commented on #2578
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

If you’re able to provide complete information as requested in the issue template,

[2017-03-20 11:11] #2578 closed, assigned to nobody

[2017-03-20 11:33] senthilxperio opened #2579 "How to Encrypt and Decrypt Widevine DRM Video stream in Android Exoplayer"
*** ISSUES THAT IGNORE THIS TEMPLATE WILL BE CLOSED WITHOUT INVESTIGATION ***

Before filing an issue:
-----------------------
- Search existing issues, including issues that are closed.
- Consult our FAQs, supported devices and supported formats pages. These can be
  found at https://google.github.io/ExoPlayer/.
- Rule out issues in your own code. A good way to do this is to try and
  reproduce t

[2017-03-20 12:40] pagoss commented on #2576
Thanks for quick response and reference

[2017-03-20 13:36] ojw28 commented on #2575
Yes, we're aware that's a problem. Feel free to file a separate issue for tracking purposes.

We're currently trying to figure out exactly how this kind of case should behave. Note that you can disable the renderer (rather than just not having a Surface attached to it) as one way to avoid this problem, although you may find that enabling it again is not seamless. We may change it to be seamless in

[2017-03-20 13:49] cauchywei opened #2580 "Why ExoPlayer2 don't use MediaExtractor?"
When I try to learn ExoPlayer2 source code, I found that it do not using MediaExtractor + MediaCodec as usual rather than implement Mp4Extractor itself. There any problem with MediaExtractor ?

[2017-03-20 13:54] ojw28 commented on #2580
There are a few reasons:

- MediaExtractor uses a threading model that's not well suited to ExoPlayer.
- It also doesn't provide as much control over buffering as we'd like.
- Implementation of the extractors under MediaExtractor varies between versions of Android.
- Extractors under MediaExtractor lack some functionality that we're able to support in ExoPlayer extractors.

Implementing our own ex

[2017-03-20 13:54] #2580 closed, assigned to nobody

[2017-03-20 14:43] cauchywei commented on #2580
@ojw28 Thank your for your reply in time.

[2017-03-20 15:16] maruiz81 commented on #2572
I have permission to share a .ts that failed for me. I only have this .ts in this attempt so I think Exoplayer crashed with this ArrayIndexOutOfBoundsException while was decoding this .ts. I analysed this with Media Info but I can't find something wrong, maybe you can find something. Many thanks.
[170320_ZAFA_1020_DmrBcV_350_hdsNum10160.ts.zip](https://github.com/google/ExoPlayer/files/855440/1703

[2017-03-20 15:43] AquilesCanta commented on #2572
The provided .ts contains two PMTs, and the first one only declares audio. This would make ExoPlayer fail only when there is a discontinuity tag for this segment or when adaptation happens when playing a chunk with similar characteristics, I think. Removing the first PMT from the stream should make it work.

[2017-03-20 16:31] richardissuperman commented on #2579
you need to setup the StreamingDrmSessionManager object and pass it to the MediaCodecRenderer, inside StreamingDrmSessionManager you need to setup a HttpMediaDrmCallback which define your license url as well as other headers.

[2017-03-20 16:34] ojw28 commented on #2579
How to prepare/encrypt content (on the server-side) is out of scope of this issue tracker. ExoPlayer is only responsible for client side playback. The ExoPlayer demo app demonstrates playback of Widevine protected content, so that and @richardissuperman 's response above should serve as a good starting point.

[2017-03-20 16:34] #2579 closed, assigned to nobody

[2017-03-20 20:07] naceto opened #2581 "ExoPlayer Demo app stuck at buffering when playing MPEG-4 network stream"
### Issue description
Trying to play a HD MPEG-4 network stream with the demo app, player is stuck at buffering state. When I downloaded part of the stream and added the file to the assets folder of the demo app, there is only audio playing.

### Reproduction steps
By adding the linked file to the demo app's assets folder and adding it to media.exolist.json.

### Link to test content
Test steam:
h

[2017-03-20 20:48] ghost opened #2582 "MediaCodecVideoRenderer without Surface never ends"
### Issue description
When instantiating a MediaCodecVideoRenderer and never call `setSurface` (or set it to `null`) the render will never return `true` for `isEnded`. This will cause the player to play the video forever (after the audio track finishes the player will switch to the stand alone clock and keeps playing)

### Reproduction steps
Create MediaCodecVideoRenderer and a MediaCodecAudioRend

[2017-03-20 20:49] ghost commented on #2575
I created #2582 just to keep track of it :)

[2017-03-21 03:38] liauli commented on #2577
Thank you for your response.
As far as I know, once we set the MediaSource, we couldn't change it in the middle of playback ?
I was thinking about checking the Repeat toggle before starting the next video so I can decide should the player repeat the last video or go to next video from the list, but I still couldn't find how to do that.

[2017-03-21 04:38] starstar3306 commented on #2467
thx moagrius..

it is really good source.

but i still need your help.

you use AES CTR but my AES method is AES CBC

i cant seek movie.

can you help me?

please. have a good day

[2017-03-21 07:22] senthilxperio commented on #2579
We are using Test Exoplayer Github code. We edited in media.exolist.json file.
"name": "URL Test 3",
        "uri": "https://s3.amazonaws.com/sprngpod/drm/513698_a1dbea8ad80f047a45a4b805d8b8cbb8/mpds/513698.mpd",
        "drm_scheme": "widevine",
        "drm_license_url": "https://license.uat.widevine.com/cenc/getlicense/​xperiolabs/proxy?video_id=746573745f69645f463946504330908&provider=xperiola

[2017-03-21 07:24] senthilxperio commented on #2579
We are using Test Exoplayer Github code. We edited in media.exolist.json file.
"name": "URL Test 3",
"uri": "https://s3.amazonaws.com/sprngpod/drm/513698_a1dbea8ad80f047a45a4b805d8b8cbb8/mpds/513698.mpd",
"drm_scheme": "widevine",
"drm_license_url": "https://license.uat.widevine.com/cenc/getlicense/​xperiolabs/proxy?video_id=746573745f69645f463946504330908&provider=xperiolabs"
"

Video is not play

[2017-03-21 08:44] uyjulius opened #2583 "Samsung Galaxy S7, S7 Edge (Nougat) Playback issue on r1.5.6"
### Issue description
We are seeing a pattern of our users who are reporting that DASH playback has stopped working as soon as they updated their Galaxy S7 and S7 Edge to Nougat. They are seeing no video but are hearing sound. This does not happen in Marshmallow. Were there any similar reports?

### Reproduction steps
Simply play an mpd video on an S7 or S7 Edge running Nougat.

### Link to test c

[2017-03-21 09:07] richardissuperman commented on #2579
that means you loaded the dash manifest(which is normal) , but cant decode or decrypt the data, if the content has been encrypted you have to check the StreamingDrmSessionManager.java, try debug the methods for requesting key and also the callback from MediaDrm.
Noted that you cant just post the drm license url , make sure you/exoplayer include the drmInit Data.

[2017-03-21 09:53] richardissuperman opened #2584 "MediaDrm.EVENT_KEY_EXPIRED event happens for Widevine DRM content"
**Issue description**

We keep receiving MediaDrm.EVENT_KEY_EXPIRED event in StreamingSessionManager.java, line 451,  after onKeyResponse() called, which stops the codec from decoding.

Is there any pattern and reason why this event will be fired from MediaDrm object?

Thanks

[2017-03-21 09:58] ojw28 commented on #2579
You should also test your content using [Shaka Player](https://shaka-player-demo.appspot.com/demo/). Select "custom asset" from the bottom of the asset drop down. If you content doesn't play there either, then something is wrong with your content or license server. This is beyond the scope of this issue tracker. If you have content that plays successfully in Shaka Player but not in ExoPlayer, plea

[2017-03-21 10:01] ojw28 commented on #2584
It means what it says (the keys have expired). What license and renewal durations are your licenses configured to use?

[2017-03-21 10:03] Null45 commented on #2567
any updates? idk how to fix this

[2017-03-21 10:04] ojw28 commented on #2583
We've not heard any reports of this. It's pretty unlikely this is happening with Google/YouTube services, else I suspect we'd have heard about it.  It's unlikely to be anything at the level of the DASH manifest or the container either, since that's all handled by ExoPlayer code. That leaves the device decoders. Is there something special/unusual about the codecs / resolutions / content of your str

[2017-03-21 10:10] ojw28 commented on #2577
I'm sure there are ways to implement this along the lines of what you suggest, but to do it really seamlessly (and simply) we'd probably need to add some direct support. Marking as an enhancement.

[2017-03-21 10:53] AquilesCanta commented on #2567
I haven't managed to reproduce in SONY BRAVIA 2015 or SONY BRAVIA 4K. Adaptation works well there.

But please have a look at #1411 and #953.

[2017-03-21 10:54] #2567 closed, assigned to AquilesCanta

[2017-03-21 11:37] mcaquet opened #2585 "ExoPlayerImplInternal: Renderer error when creating more than 15 files"
Hello

I am using the ExoPlayer 2 to play a local audio files. My app builds several instances of SimpleExoPlayer, some of them are not working and I see the following exceptions:

[code]
I don't get these exceptions when I load 15 audio files or less. Is there a limit on the number of SimpleExoPlayer instances that can be made ?

[2017-03-21 11:58] andrewlewis commented on #2585
I think the limitation here is that you can only create a limited number of audio tracks at once (hence the code in our audio track wrapper that makes sure we've released one underlying `android.media.AudioTrack` instance before creating another). Each `SimpleExoPlayer` will use its own audio track.

[2017-03-21 13:21] maruiz81 commented on #2572
Hi again

Some more information about the problem.

The provider is always the same.
The player, when it fails with ArrayIndexOutOfBounds, it will be when it processes the first ts file (as far as we could see).
There is one case below (example 1 and example 2), which is the same live stream and the player failed the first time we tried to connect but succeeded the next we tried to connect (and we

[2017-03-21 14:03] mcaquet commented on #2585
Thanks, but why is there such limitation ? Shouldn't it be the app developer responsibility, making sure that the app doesn't run out of memory ?

[2017-03-21 14:09] suresh-s opened #2586 "OutOfMemoryError - ExoPlayer 2.2"
We are using Exoplayer 2.2 version in our Android project.  In Development environment, we are not getting OutOfMemoryError.  But in Production, We are getting OutOfMemoryError. In Development, can't able to reproduce.  Leak Canary doesn't show any issue. Could you help us to fix this issue?

java.lang.OutOfMemoryError: Failed to allocate a 792016 byte allocation with 566325 free bytes and 553KB u

[2017-03-21 14:21] AquilesCanta commented on #2586
It is virtually impossible for us to diagnose the issue with this amount of information. We will need to reproduce ourselves. From the stack trace, I assume you are feeding a transport stream. Try figuring out what are the characteristics of the stream that produce the leak, that differ from a regular TS which, according to what you said, does not reproduce the issue.

[2017-03-21 14:28] ojw28 commented on #2586
Note also that the memory leak could be anywhere in your application. In the OOM shown ExoPlayer is asking for an allocation of less than 1MB, which isn't by itself unreasonable. Something in your app is consuming a lot of memory, which is why the allocation fails, but there's no evidence it's ExoPlayer that's doing this. It could equally be anything else in your application code.

[2017-03-21 14:29] suresh-s commented on #2586
There is no difference in Transport Stream in both Development TS file and Production TS file.  Exception is as follows

java.lang.OutOfMemoryError: Failed to allocate a 792016 byte allocation with 566325 free bytes and 553KB until OOM
at com.google.android.exoplayer2.extractor.DefaultTrackOutput$InfoQueue.a()(null:881)
at com.google.android.exoplayer2.extractor.DefaultTrackOutput.a()(null:540)
at

[2017-03-21 14:31] ojw28 commented on #2586
Closing for now, since there's nothing actionable here and no evidence ExoPlayer is the root cause. If it were ExoPlayer, I'd expect other users of the library to be reporting the same thing. I'm not sure we've received any other reports, which kind of points toward something specific to your application code (or streams).

[2017-03-21 14:31] #2586 closed, assigned to nobody

[2017-03-21 14:38] AquilesCanta commented on #2586
As @ojw28 said above, the stack trace only shows what triggers the exception.

I'd suggest emulating the circumstances under which the error was reported. After a few hours, a memory dump should show a suspiciously high amount of a specific type of object allocated. That will give you a significant hint pointing towards the root cause.

[2017-03-21 14:43] AquilesCanta commented on #2572
As mentioned before, please try reproducing the issue after removing the PMT that only declares audio. If you manage to reproduce the issue in that case, comment again below, including all the information requested in the issue template.

[2017-03-21 18:59] shalin186 commented on #2571
Forgot to mention that the same stream plays without any issues using android native player.
Here I am attaching the output logs.
One of the errors I see from the log is:
**E/EXYNOS_H264_DEC: Failed to set buffer process type(not supported)**
[error_logs_3.txt](https://github.com/google/ExoPlayer/files/859356/error_logs_3.txt)

[2017-03-22 01:24] uyjulius commented on #2583
Hi,

I talked to our media team and they said that there is nothing unique that we put in our streams. We're following the regular standards. It could be decoder related since this did not happen pre nougat on S7 and S7 edge. We'll update again as soon as we get a Nougat update on our S7. By then we'll be able to fill in more details.

Not sure if this is incidental too but the reports come from S

[2017-03-22 01:57] ian-wevr opened #2587 "Pixel H265 video: Device freezes and reboots on seek"
### Issue description
In Exoplayer demo app, device freezes and then reboots after seeking in either direction during playback of a video-only mp4 containing a single h.265 stream (see test content section). Happens regardless of if playback is paused or unpaused.

### Reproduction steps
Added entry to demo app's media.exolist.json file:

[code]

Launch demo, select the test entry. Video playback

[2017-03-22 04:18] Witype opened #2588 "convert_from.h->I420ToBGRA,it support alpha channel but color has problem"
I use release-v1 extension vp9 with .webm(ffmpeg libvpx9),the code decode the frame to RGB565 default,
[code]

when i change the code libyuv::I420ToRGB565 to libyuv::I420ToBGRA and change RGB_565 to ARGB_8888 ,then change bytebuffer size , it support alpha channel ,but the color and video size has problem,

[code]

[code]
![image](https://cloud.githubusercontent.com/assets/6899329/24181639/2cc8414

[2017-03-22 06:28] iamnitesh opened #2589 "can not play .ts format video using exoplayer"
[code]

[2017-03-22 08:17] ojw28 commented on #2589
Looks like an authentication problem unrelated to ExoPlayer. Please see "401 Unauthorized" [here](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes).

[2017-03-22 08:17] #2589 closed, assigned to nobody

[2017-03-22 10:43] AquilesCanta commented on #1975
Received, thanks. Support for audio only adaptation should be available soon.

[2017-03-22 10:49] evorotilova opened #2591 "Detecting the DRM support before player initializing"
Hello,

Searched for similar tickets but haven't found one.
Is it possible to detect that a device doesn't support DRM playing before player initialization or playing a video? If it is do you have some plans about it? Or how can we do it by ourselves?

Thanks!

[2017-03-22 11:25] Witype commented on #2588
😂😂😂anybody can help me，it important for me，

[2017-03-22 12:43] ojw28 commented on #2583
Do you know if YouTube is working correctly on these devices? I've not heard anything to suggest otherwise. Wikipedia suggests that China and US variants use a Qualcomm SoC vs an Exynos SoC for other markets, which could be relevant. It could also be that the roll-out of Nougat hasn't reached any non-US devices yet.

[2017-03-22 15:47] MichalStranik opened #2592 "Can not catch all ExoPlayer errors leading to app crash"
Hello,

I described problem [here](http://stackoverflow.com/questions/42948036/how-to-catch-all-errors-for-exoplayer).

Problem is that application crash on some (not all, some of them I can catch) random errors mainly with DRM, but I am not able to catch them with set listener. Even after I set listener, app still sometime crash, if there is bigger error.

Last crash I could observe, was this:
Ca

[2017-03-22 16:04] ojw28 commented on #2592
Yes, there are a few cases where we don't correctly handle and propagate internal errors (which we don't expect to occur, but we should make sure to never cause process death).

[2017-03-22 16:33] chris-schu commented on #949
@ojw28
Do you think the "new DrmSessionManager" (described above) will be compliant to Hollywood studio requirements?
@ChernyshovYuriy
What is your recommendation to keep media data offline, especially if it comes to Hollywood studio content?

[2017-03-22 16:38] ChernyshovYuriy commented on #949
What does "Hollywood studio" means?
Regarding our question - you need store manifest and all media data (chunks with video/audio) locally, then you need to use local server to be implemented which will feed you back all these data upon ExoPlayer request.
This is very complicated task and I am under NDA to discuss details, but this is doable.

[2017-03-22 16:42] ojw28 commented on #949
@chris-schu - The DRM implementation (and enforcement of the license policy) is part of the platform, not part of ExoPlayer. DrmSessionManager just sits on top of the relevant platform APIs. So your question is really whether the underlying platform support is sufficient.

If you're using Widevine, L1 is _typically_ sufficient for HD and L3 is _typically_ sufficient for SD for most studios. Whethe

[2017-03-22 17:36] ojw28 commented on #2587
This is a device specific issue. My understanding is that Qualcomm are investigating.
[Internal bug ref: 36511618].

[2017-03-22 17:48] b95505017 commented on #2353
So after v2.3.0 released, is `InitializationTrackSelection` in `HlsChunkSource` still need?

[2017-03-22 17:48] ojw28 commented on #2353
This is now fixed. Yes, it's still needed internally.

[2017-03-22 17:48] #2353 closed, assigned to AquilesCanta

[2017-03-22 17:56] b95505017 commented on #2353
I'm confused a little bit, how does the `InitializationTrackSelection` interact with the track selection from outside after v2.3.0?
If we want player always start from the format in the middle of the bandwidth in playlist. (e.g. 240p, 360p, 720p, always start from 360p) Use track selection from outside is enough or we still have to modify InitializationTrackSelection?

[2017-03-22 18:00] ojw28 commented on #2353
Outside is sufficient to get the format you want. Internally we may request a fraction of a segment from some other format, determined by `InitializationTrackSelection`, but any media loaded as a result wont be played out.

[2017-03-22 18:03] ian-wevr commented on #2587
@ojw28 Thanks for the info!

Is there another issue tracker or site where I should/can continue to be involved or track the status of the underlying issue?

[2017-03-22 18:10] ojw28 commented on #2587
No; we'll update this issue when possible.

[2017-03-22 18:22] ojw28 commented on #1355
This is the same as https://github.com/google/ExoPlayer/issues/548. We'll add Note 2 to also receive the workaround.

[2017-03-22 18:58] ojw28 commented on #2585
The limited resource isn't in your app (or process). Hopefully it's fairly intuitive that audio playback requires allocation of some resources in the platform itself, and that such resources are finite. This is why there's a limit on the number of AudioTrack instances that an application can create.

If you need to play a large number of audio streams at once you probably need to be mixing them to

[2017-03-22 18:58] #2585 closed, assigned to nobody

[2017-03-22 19:10] AquilesCanta commented on #2571
Please see #1263.

With the FLAG_DETECT_ACCESS_UNITS, It will play well on Galaxy S6, at least. I didn't manage to play the sample on Sony Bravia 4k. But that is a different issue.

[2017-03-22 19:10] #2571 closed, assigned to AquilesCanta

[2017-03-22 19:23] ojw28 commented on #2139
Done in `dev-v2`

[2017-03-22 19:23] #2139 closed, assigned to ojw28

[2017-03-22 19:34] #2575 closed, assigned to nobody

[2017-03-22 20:12] ojw28 commented on #2493
Closing due to inactivity.

[2017-03-22 20:12] #2493 closed, assigned to AquilesCanta

[2017-03-22 20:13] ojw28 commented on #2200
To achieve this you'd probably need to be mixing the audio prior to feeding it into a single AudioTrack instance. This is not a use case we currently support, sorry!

[2017-03-22 20:13] #2200 closed, assigned to nobody

[2017-03-22 20:18] #1355 closed

[2017-03-23 01:28] uyjulius commented on #2583
Hi ojw28,

Thanks for looking into this! Will check with our users. They typically take time to respond. I'll update this thread as soon as we get any information from them.

On the sidenote, does YouTube have some form of fallback mechanism to a regular MP4 stream if the phones can't support DASH? We had issues with low end devices unable to play DASH streams yet MP4 works just fine. We think it'

[2017-03-23 02:15] richardissuperman commented on #2591
different DRM has a unique UUID schema, you do something like what exoplayer does, use the uuid to init a MediaDrm object, if its not supported exceptions will be thrown
[code]

[2017-03-23 03:20] bakaoh commented on #2588
did you try libyuv:I420ToARGB instead of I420ToBGRA?

[2017-03-23 03:29] Witype commented on #2588
yes,I has been try,it is not support alpha channel,the background is black and picture color also has problem,only  I420To***A this way support alpha channel.
thanks

[2017-03-23 03:56] WeiChungChang opened #2593 "Potential race condition when getCurrentPosition()"
Dear all:

I wonder **_there is a potential race condition issue when getCurrentPosition()._**

It is, the API **_getCurrentPosition()_** is run on main thread (thread id = 1).
You could check it within **_ExoPlayerImpl.java_**
where the variable **_playbackInfo_**.positionUs is read there.

However, the same variable  **_playbackInfo_**.positionUs is updated (written) at **_updatePlaybackPosition

[2017-03-23 05:06] #2593 closed, assigned to nobody

[2017-03-23 05:09] WeiChungChang commented on #2593
I make the mistake by missing the keyword 'volatile' as public volatile long positionUs

Close it here, sorry.;

[2017-03-23 06:31] chandrasekhararao commented on #876
Dear All,

I am trying to do offline DRM videos playing in android.
I have configured in gradle like: compile 'com.google.android.exoplayer:exoplayer:r2.0.3'
I have tried with new version but some unknown exception are coming.
Can you please give full sample code for the above version?
How to gather keys and how to store and retrieve those keys using StreamingDrmSessionManager...? Please explain.

[2017-03-23 06:42] seventhmoon commented on #876
I think how to store the key for offline is already mentioned in Android DRM Framework.
You do 95% the same as streaming playback. Just one more step on telling the OS to store the key.

[2017-03-23 07:18] chandrasekhararao commented on #876
Thank you @seventhmoon .
Can please share sample code for that...i am new to this android.

[2017-03-23 09:21] richardissuperman commented on #2584
Hi @ojw28 i just confirmed with our content provider, they set the license key expiration to 7 sec.... sorry for the spammer you can just close this issue .thanks

[2017-03-23 09:21] #2584 closed, assigned to nobody

[2017-03-23 09:48] Merseyside opened #2594 "Volume problem"
Hello! In my player i want start playback with 0% volume. I set it before setPlayOnReady() but when it starts play for a moment volume is 100%. What should i do to make silence on the start of playback?

`player.prepare(streamSource);
 setVolume(0f);
 player.setPlayWhenReady(true);

private void setVolume(float volume){
        PrintString.printLog("Volume", volume + "");
        if (exist()) play

[2017-03-23 10:00] ojw28 commented on #2594
This sounds like an issue with your code rather than with ExoPlayer. There's insufficient context for anyone to be able to help (e.g. what is "exists()").

If you believe ExoPlayer doesn't correctly apply a volume set on it prior to playback, please fill out the issue template properly and supply all of the required information, including a bug report and clear reproduction steps.

[2017-03-23 10:00] #2594 closed, assigned to nobody

[2017-03-23 10:04] andrewlewis commented on #2594
If you file a new issue please provide steps to reproduce in the demo app. I tried adding `player.setVolume(0f)` immediately after creating the player in [PlayerActivity.java](https://github.com/google/ExoPlayer/blob/b98de97/demo/src/main/java/com/google/android/exoplayer2/demo/PlayerActivity.java#L262) and audio is silent from the start as expected.

[2017-03-23 12:25] ojw28 commented on #2583
They definitely have the ability to deliver regular MP4 streams, but as far as I know they don't have a dynamic fallback that will transparently fall back from DASH to regular MP4 on a given device. I think it's more of a back-end configuration thing where certain devices can be blacklisted for DASH streams. So if YouTube DASH playbacks are failing on S7, I'd expect users to notice.

[2017-03-23 13:14] mseroczynski commented on #26
@andrewlewis Hello once again! Is it now at least confirmed that it's doable? If so, have you guys already started working on this issue (by working I mean writing code) or is it more like Q2/Q3 now :)?

[2017-03-23 13:56] AquilesCanta commented on #2581
See #1894 and similar issues (there are plenty). It works if you enable FLAG_ALLOW_NON_IDR_KEYFRAMES.

[2017-03-23 13:56] #2581 closed, assigned to AquilesCanta

[2017-03-23 14:02] khabedi opened #2595 "Cea708Decoder : use good value for first range of c2 command"
Hello,

We noticed a slight issue in Cea708 decoding , probably a typo/copy paste issue.
In Cea708Decoder.java :

[code]
First check/skip should be with 0x07  instead of 0x0F.

As it is described in C2 Table contains no commands as of CEA-708 revision A:
if a command is seen in these code sets a decoder must skip an appropriate number of the following bytes.
0x00-0x07 +0 bytes
0x08-0x0f  +1 byte
0

[2017-03-23 14:02] ChernyshovYuriy opened #2596 "NullPointerException for subtitles of DASH content"
There is NullPointerException when select subtitles of the DASH content.
URL to test (clear DASH):
[code]
Steps:
- run ExoPlayer test application with provided URL
- once video started, select any subtitle track and press OK
- observe NullPointerException

Stacktrace:
[code]
My notes:
Simple null pointer check solves problem.
Current in market code:
[code]
changes applied in order to avoid NullPoi

[2017-03-23 14:25] senthilxperio commented on #2579
Hi Richard,

We have downloaded Sample Exo-Player from git-hub
[https://github.com/google/ExoPlayer]

As mentioned in your previous mail we have checked StreamingDrmSessionManager.jav, MediaDrm, httpMediaDrmCallback. In all these methods the below URL, provider getting passed correctly. But video is not playing, only length is getting displayed.

media.exolist.json in the asset folder we have made

[2017-03-23 14:35] casajavi commented on #2524
Sorry for the very late reply....

So I verified on the ExoPlayer V1, the player does not ever switch up to the affected resolutions thats why I never saw the issue on that player.

Sorry for the confusion about the assets, let me clarify.
First I tested an asset from our end and that asset is H264, afterwards I tested with these Exoplayer v2 demo asset: **WV: Secure HD (MP4,H264) / WV: Secure UHD

[2017-03-23 14:38] khabedi commented on #1626
This behaviour is less visible with ExoPlayer 2 and is more acceptable.

Thanks for your help
Regards

[2017-03-23 17:04] jboisjo opened #2597 "HLS change videoquality faster...."
Hi,

It takes about 10 seconds on my m3u8 files to change the quality and read the other resolution inside. Is it possible to make it faster or can i start directly with the highest quality at the beginning? I have few streams and i dont want my people to wait 10 seconds everytime they watch different streams...

I have 10-15seconds segments in the m3u8 playlists and why does it have to wait for t

[2017-03-23 18:08] #2596 closed, assigned to nobody

[2017-03-23 18:08] #2595 closed, assigned to nobody

[2017-03-23 18:26] ojw28 commented on #2566
Duplicate of https://github.com/google/ExoPlayer/issues/2588.

[2017-03-23 18:26] #2566 closed, assigned to nobody

[2017-03-23 19:02] jboisjo commented on #2597
Also, i built a basic example but it seems that it takes only the lowest quality in the m3u8 playlist.

    private String hlsVideoUri = "stream.m3u8";
    private static final String TAG = "MainActivity";
    private SimpleExoPlayerView simpleExoPlayerView;
    private SimpleExoPlayer player;

    @Override
    protected void onCreate(Bundle savedInstanceState) {
        super.onCreate(savedInsta

[2017-03-23 19:07] #2424 closed, assigned to AquilesCanta

[2017-03-23 19:10] jonfhancock opened #2599 "Adaptive bitrate / throttling question"
in Version 2.3.0, DefaultBandwithMeter reports its estimated bitrate in bps.

But AdaptiveTrackSelection's determineIdealSelectedIndex method is comparing that to kbps values in the format.bitrate field.

As a result, it always chooses the highest bitrate format because it doesn't realize that internet speed has slowed to a crawl.

[2017-03-23 19:16] ojw28 commented on #2599
Format.bitrate is also in bps?

[2017-03-23 19:18] jonfhancock commented on #2599
I should have provided some sample values to begin with. I'll get those now.

[2017-03-23 19:33] ojw28 commented on #26
Note: This work is still in progress. Further changes will be landing soon.

[2017-03-23 19:45] jonfhancock commented on #2599
I'm at a bit of a loss for what is actually happening here.

I've introduced throttling that makes every network request take 30 seconds longer than it should. Which means that even if it were to switch down, it would still take a long time to transfer data.

Even still, the bitrate estimate is far greater than the bitrates of any format.

I tried just dividing the bitrate estimate by 1000 immedia

[2017-03-23 20:08] ojw28 commented on #2599
Most likely you've implemented throttling in a way that doesn't have any effect on the bitrate estimate (or, worse, has the opposite effect to what you want). SlidingPercentile has been left pretty much unchanged for years; it's unlikely there's anything wrong with it.

[2017-03-23 20:27] benwilber opened #2600 "Attempting to change tracks in multi-angle adaptive HLS playlist"
I am trying to change the selected video track in a multi-angle adaptive HLS playlist as described in [Listing 13 here](https://developer.apple.com/library/content/technotes/tn2288/_index.html#//apple_ref/doc/uid/DTS40012238-CH1-ALTERNATE_MEDIA) "Variant playlist with 3 different camera angles and different bit rates."

I have created a test stream with 3 different "angles" each having 3 adaptive

[2017-03-23 21:48] jonfhancock commented on #2599
The problem seems to be somewhere in OkHttpDataSourceFactory.

![screenshot 2017-03-23 14 49 14](https://cloud.githubusercontent.com/assets/561521/24271837/f1076e6e-0fd7-11e7-9fdf-9cfd046fb159.png)

That doesn't change even if I throttle my connection down to Edge speeds.

Whereas with DefaultHttpDataSourceFactory, I get expected results. Throttling down resulted in a drop from ~10mbps to ~1mbps.

[2017-03-23 21:55] jonfhancock commented on #2599
The amount of time spent loading seems particularly suspicious.

25 ms for 1269kb vs the more realistic 800ms.

[2017-03-23 22:10] ojw28 commented on #2599
As per my previous response, I suspect you've implemented throttling in a way that doesn't have the intended effect on the bitrate estimate. It's unclear how you're actually doing the throttling (e.g. server vs. client side). If you've done it client side in an unrealistic way, that may well confuse the bitrate estimate. For example if you've done something that will sleep the loading thread for 3

[2017-03-23 22:12] jonfhancock commented on #2599
I'll try to reproduce in the demo app.

The logs above were captured while using charles proxy to throttle so that the threads aren't an issue.

As far as the in-app approach to throttling, I have an interceptor on the OkHttpClient that sleeps the thread prior to proceeding the chain.  So it's preventing OkHttp from downloading data.  Though. looking at the internals of OkHttpDataSource now, I thi

[2017-03-23 22:28] MichalStranik commented on #2592
Ok, but what next? Can I do something? Or is there any time frame when this will be fixed?

[2017-03-23 22:38] ojw28 commented on #2592
I'm actually quite confused by your post of stack overflow. There's no evidence there that the stack trace you've posted there actually caused your app to crash. It looks like it would have been caught and propagated to onPlayerError as expected. Please can you provide a proper bug report, or at least complete logcat showing the app crashing. If your app is actually crashing then I think you'd exp

[2017-03-24 06:04] senthilxperio opened #2601 "How to Encrypt and Decrypt Widevine DRM Video stream in Android Exoplayer"
Hi All,

We have downloaded Sample Exo-Player from git-hub
[https://github.com/google/ExoPlayer]

As mentioned in your previous mail we have checked StreamingDrmSessionManager.jav, MediaDrm, httpMediaDrmCallback. In all these methods the below URL, provider getting passed correctly. But video is not playing, only length is getting displayed.

media.exolist.json in the asset folder we have made the

[2017-03-24 06:24] Witype commented on #2509
@vigneshvg
I change the code libyuv::I420ToRGB565 to   libyuv::I420ToBGRA it has alpha channel ,but the color Incorrect,can you help me please ,thanks very much!
![device-2017-03-24-141829](https://cloud.githubusercontent.com/assets/6899329/24282909/56c889a2-109d-11e7-87a9-eb5d382492a8.png)

origin picture

![40001](https://cloud.githubusercontent.com/assets/6899329/24282935/8443511e-109d-11e7-9c0

[2017-03-24 07:26] MichalStranik commented on #2592
Ok, I added there full error message.

[2017-03-24 08:19] lioun1729 commented on #2210
@masiha68
This example is only for one dash stream
So, you must modify this code if you want to use the other format

[2017-03-24 08:49] mcse541 opened #2602 "ExoPlayer fails to play from starting of Hls stream when trying to play second time"
When trying to play hls streams in my application initially playback happens but when trying to play the same video next time , the frame starts at a random position and start playing, After 5-10 seconds of playback the player is in buffering state and does not play any more.

But this issue is not observed in ExoPlayer demo app with same stream. I tried with the same PlayerActivity which is used

[2017-03-24 08:50] mcse541 commented on #2602
[Log when back pressed from PlayerActivity.txt](https://github.com/google/ExoPlayer/files/867298/Log.when.back.pressed.from.PlayerActivity.txt)
[exoplayer logs for the same stream.txt](https://github.com/google/ExoPlayer/files/867297/exoplayer.logs.for.the.same.stream.txt)

[2017-03-24 09:55] ojw28 commented on #2592
Your app is crashing due to your own code:

[code]

Our Javadoc indicates that `getSourceException` throws `IllegalStateException` if `type != TYPE_SOURCE`, so you need to check the type before you make that call.

[2017-03-24 09:55] #2592 closed, assigned to nobody

[2017-03-24 09:57] ojw28 commented on #2601
Same as https://github.com/google/ExoPlayer/issues/2579.

[2017-03-24 09:57] #2601 closed, assigned to nobody

[2017-03-24 09:58] ojw28 commented on #2579
Please don't file identical issues. As per my response above:

[2017-03-24 10:03] MichalStranik commented on #2592
I see, so when I handle error by this, it should be ok, right?

           @Override
            public void onPlayerError(ExoPlaybackException error) {
                switch (error.type) {
                    case ExoPlaybackException.TYPE_SOURCE:
                        Log.e(TAG, "TYPE_SOURCE: " + error.getSourceException().getMessage());
                        break;

                    cas

[2017-03-24 10:17] ojw28 commented on #2592
Yes. Although if you don't care what type the cause is, you can just do this:
[code]

[2017-03-24 10:19] ojw28 commented on #2592
Although if you don't care what type the cause is, you can just do this:
[code]

[2017-03-24 11:05] MichalStranik commented on #2592
Thank you.

[2017-03-24 14:54] ojw28 commented on #2599
Closing for now. I think this is probably something wrong with your local setup and/or modifications.

[2017-03-24 14:54] #2599 closed, assigned to nobody

[2017-03-24 16:17] jrocharodrigues opened #2603 "No video, only audio when playing DASH + Widevine secure content on ZTE e8q"
### Issue description
When trying to play Secure DASH + Widevine Content only the audio plays fine but there is no video (surface stays black).
Looking at the track list i see all the tracks for video and audio are available and supported.
On other devices the content plays well, so i guess it's device specific issue.

### Reproduction steps
I can reproduce the issue on this device when playing an

[2017-03-24 16:21] joaoserra commented on #55
@tresvecesseis FCC? Fast Channel Change? Can you disclose what FCC are you using with Exoplayer? Your own implementation or some commercial one? (i.e. ALU, Ericsson, Cisco VQE, Edgeware, etc) Is the FCC impl. self-contained in Exoplayer/Java? FCC clients usually require native user-space libs and even kernel drivers in some implementations, so i'm a bit curious.

[2017-03-24 17:19] botondbutuza commented on #2533
@ojw28 Quick q: once the player is in `STATE_READY`, and `onRenderedFirstFrame` is called, content should render continuously, right? There's no additional check or something I have to wait for?

Because there is a delay with my HLS media, and I cannot find the cause of it.

[2017-03-24 19:45] Zyphuris55 opened #2604 "Softcrash on invalid ID3 validation"
### Issue description
ExoPlayer 2.x isn't supporting corrupt ID3 tags while the rest of the audio is still playable.

### Reproduction steps
1) In the demo app, add a new media source linking to "http://stream.audiobooks.com/STREAM/SABLIB9784075.mp3?AudTTL=1490460462&AudSig=578c4100af873ae93e2dd69ec36ccf3a&rs=68&ri=2000000&ib=13&fs=1544000"
2) (attempted) playing the audio
3) ExoPlayer refuses to

[2017-03-24 20:16] tresvecesseis commented on #55
@joaoserra , We had implemented the ALU one but most of the code is reusable, the differences are in the signalling of the acquisition phase and in some vendor specific RTP extension headers, It´s fully implemented in Java and made by us, some problems in the Android Java Api forced us to implement some socket management parts with the NDK because the needed Java implementation were only available

[2017-03-24 20:35] tresvecesseis commented on #55
@joaoserra , our implementation is a not completed (but is fully functional), was done reverse engineering our service. There are some RTCP vendor specific parameters that are unknown and the RTP extension headers were also undocumented until recently so we had to implement the acquisition and synchronisation phase with the standard RTP header and inspection of the contained MP2T transport stream,

[2017-03-25 05:08] gemiren commented on #2553
How can I use this new FLAG_DISABLE_ID3_METADATA flag in the code? Any example code? Thanks.

[2017-03-25 10:28] ashishvirani opened #2605 "how to set playback speed on audio and video in android"
i have creating gif maker application on android and i put video speed on video but video speed view is not working and you can save video speed then speed is save on video so, please help me to display only video speed view.

[2017-03-26 08:40] alexbirkett opened #2607 "HLS/H264 stream crashes in libstagefright on Galaxy Nexus"
### Issue description
HLS stream crashes on Samsung Galaxy Nexus running Android 4.2.2 with following backtrace

[code]

### Reproduction steps
* Build demo app with the HLS Media `https://github.com/alexbirkett/ExoPlayer/tree/hls_bug_galaxy_nexus`
* Open demo app on Galaxy Nexus running Android 4.2.2
* Scroll to the bottom of list of media
* Tap "NRK"
* Tap "Dagsrevyen"

Expected results
* Conten

[2017-03-26 08:42] alexbirkett commented on #2607
[bugreport.txt](https://github.com/google/ExoPlayer/files/870637/bugreport.txt)

[2017-03-26 08:45] alexbirkett commented on #2607
The content will play if MediaFormat.KEY_MAX_INPUT_SIZE is set to 0:
https://github.com/alexbirkett/ExoPlayer/commit/2da6b8015ad3821faceb756e0da62d5a8868056d

[2017-03-26 10:04] richardissuperman commented on #2579
can you debug the onKeyResponse() method , see if the key response is valid?

[2017-03-26 11:44] mzj opened #2608 "Using seek bar in demo app multiple times makes playback longer than duration of an audio file (mp3)"
### Issue description
When playing longer mp3 files in demo player, after using seek bar multiple times, playback continues (with normal sound) even after the timestamp gets bigger than duration. Best reproduced on longer, local files.

### Reproduction steps
Download the mp3 file from the following url [https://serialpodcast.org/season-one/3/leakin-park](https://serialpodcast.org/season-one/3/lea

[2017-03-26 16:58] youneslalami opened #2609 "dispatchKeyEvent not working"
I have webview video app that run an other activity with exoplayer when the url is a stream, until here its ok but in the exoplayer activiter i cant get dispatchKeyEvent work and when i clicke on the  back key i should clicke twice and more to go back and  for mp4 and hls it show me the stream on a page web

[2017-03-26 22:08] begetan commented on #2413
I'm trying to use ExoPlayer2 for 4K videos and has the same error. I've reproduced the same issue on two devices:

1. Set Top Box Android 6.0  can play the video on system player, but Exoplayer is going to crash.
2. Android Studio 2.3 Emulator Nexus 5,API 22.  It's not able to play the video by system player and is going to crash the same way.

Below is the ADB Log Cat from emulator:

03-26 23:50:

[2017-03-26 22:15] begetan commented on #2413
Here is my test code which is working for any video except 4K samples.

You can get sample file here: [http://railnet.ru/plot/4k.mp4](url)

`
public class ExoPlayerActivity extends Activity {

    private static final String TAG="ExoPlayerActivity";

    private SimpleExoPlayer player;
    private SimpleExoPlayerView simpleExoPlayerView;
    private Handler mainHandler;

    private int playIndex

[2017-03-26 23:13] aletorrado opened #2610 "Live set max allowed latency"
Hi, I have a HLS live streaming for a radio station, which should always be close to the live edge, even after a stall (for example, because of internet disconnections or any connectivity issue). I'm looking for something similar to the `liveMaxLatencyDurationCount` option of `hls.js`. Is this available with ExoPlayer?

Thanks

[2017-03-27 01:12] rustyshelf commented on #2582
We have this same issue, I thought I'd comment because for us this happens when the user leaves our app, we remove the video from the surface it was playing on but we still keep playing in the background. Is there a recommended way to handle switching from rendering the video to just playing the audio seamlessly @ojw28?

[2017-03-27 04:57] rustyshelf commented on #2604
We have this same issue playing some downloaded files. Sample mp3 attached. It feels like ID3 parse errors for most fields shouldn't stop playback?
[sample.zip](https://github.com/google/ExoPlayer/files/871508/sample.zip)

[2017-03-27 05:42] akashGitAgni commented on #1010
For 2.x , Buffer size can be modified using LoadControl
  `  DefaultLoadControl loadControl = new DefaultLoadControl(allocator, 30000, 45000, 1500,
                DEFAULT_BUFFER_FOR_PLAYBACK_AFTER_REBUFFER_MS);`

[2017-03-27 08:49] ghost commented on #2582
@ojw28 mentioned one workaround in the issue referenced above (#2575), which is that you can enable or disable the renderer

We implemented a solution where we extend the `MediaCodecVideoRenderer` and overwrite `handleMessage` to check for `C.MSG_SET_SURFACE`. When that messages is received we updated an internal `enabled` state which we use in `isEnded`

[code]

That solution is rather hacky and

[2017-03-27 08:54] ojw28 commented on #2582
If you have demuxed audio and video then disabling the renderer is actually the right thing to do. We'll stop requesting the video stream in that case, so there will be a big bandwidth saving. We'll seamlessly rejoin the stream when the renderer is enabled again.

If your audio and video are demuxed then you can do the above, but the rejoin wont be seamless. The right thing for seamless is to deta

[2017-03-27 09:00] ojw28 commented on #2605
It's extremely unclear what the issue is that you're describing, and we will be unable to assist without a clearer description, sorry. You may find this issue relevant: https://github.com/google/ExoPlayer/issues/26

[2017-03-27 09:00] #2605 closed, assigned to nobody

[2017-03-27 09:00] ojw28 commented on #2609
It's extremely unclear what the issue is that you're describing, and we will be unable to assist without a clearer description, sorry.

[2017-03-27 09:00] #2609 closed, assigned to nobody

[2017-03-27 09:04] ojw28 commented on #2533
We always render the first frame as soon as possible. For HLS it's possible that a segment doesn't have a key-frame near the start. It the chunk spans time [5-10], the user seeks to t=6 and the first key-frame in the chunk is at t=9, then we'll request the [5-10] chunk and find that the first frame we can actually display is the key-frame at t=9. Hence we'll display this frame, then not render any

[2017-03-27 09:09] ojw28 commented on #2553
When creating an `ExtractorMediaSource`, pass something other than `DefaultExtractorsFactory`. For example if you know your app only has to play mp3 streams, you can instead pass:

[code]

[2017-03-27 09:22] ojw28 commented on #2602
Please provide clear reproduction steps in the demo app if you want us to look at this, including what test media we should use.

[2017-03-27 09:29] ojw28 commented on #2603
Thanks for the report! Unfortunately the bug report didn't capture the whole playback session. Could you do an additional test run where you start `adb logcat > log.txt` with the device attached, then reproduce the issue, then kill logcat. This will generate a logcat file that's guaranteed to capture the whole playback session. Thanks!

[Aside: Logcat output isn't a substitute for a full bugreport

[2017-03-27 09:39] AquilesCanta commented on #2610
Not supported. But it should be fairly easy to implement. An approach I can imagine is, on each `onTimelineChanged`, compare the current playback position with `liveEdge - liveMaxLatencyDurationCount`. If less, seek to, say, `liveEdge - liveMaxLatencyDurationCount / 2`. This is just an idea, though. Having small latency might incur into many seeks, so you should evaluate what is most appropriate f

[2017-03-27 09:39] #2610 closed, assigned to AquilesCanta

[2017-03-27 10:03] ojw28 commented on #2604
I think we're already at the point where most ID3 parse errors don't stop playback. I'm hesitant to put a big try/catch block around the whole thing; we're pretty close. Seems there are still a few edge cases we're failing on, however.

We'll get the two raised here fixed. After those fixes go in, please let us know if you're still encountering failures. We can then decide whether the continue pla

[2017-03-27 10:30] jrocharodrigues commented on #2603
Hi,
Thanks for the answer.
Just captured the logcat as you asked.
[log.zip](https://github.com/google/ExoPlayer/files/872165/log.zip)
If you need anything else just ask.

BRs

[2017-03-27 10:38] youneslalami opened #2611 "Probeleme when i press key back"
Hi,

I have tow probeleme when i click to back to preview activity i should click twice the first one just restart stream the sconde finish activity
The sconde probleme for mp4 and hls stream when i click back key i should click twice and the sconde clicke show a stream on webview html5video Please i need help thanks.

[2017-03-27 11:34] andrewlewis commented on #2514
@otefhg Thanks for reporting this. I'll submit a fix for parsing the audio specific config soon. It appears that we don't currently have any code that would pass an escaped AOT to `buildAacAudioSpecificConfig`, as we only use it for creating CSD when it's absent (in ADTS and SmoothStreaming manifests). Could you clarify how/where the fix for that method will be used?

[2017-03-27 11:35] botondbutuza commented on #2533
Ah okay, so that explains why audio plays with no delay whatsoever, but the video doesn't. Is there a way for me to get a callback or find out when video playback reached the keyframe and is continuing together with audio?

I want to display the surface when the video is actually playing, and neither `onRenderedFirstFrame` nor `onPlayerStateChanged` actually offers this information.

I really appr

[2017-03-27 12:47] youneslalami commented on #2609
the probleme in my exoplayer app when i click on the back key to return to the main activity i should click twice on return key and for mp4,m3u8 URL when i clicke on back key it play the stream on web page

[2017-03-27 12:48] ojw28 commented on #2611
Same as #2609.

[2017-03-27 12:48] #2611 closed, assigned to nobody

[2017-03-27 12:50] ojw28 commented on #2609
This is really not a clear description of the issue. ExoPlayer has nothing to do with the webview. Neither does ExoPlayer do anything special with the back key; handling is typically up to the application, which points toward this being an issue in your application code.

[2017-03-27 12:50] youneslalami opened #2613 "Proleme with back key event"
the probleme in my exoplayer app when i click on the back key to return to the main activity i should click twice on return key and for mp4,m3u8 URL when i clicke on back key it play the stream on web page

[2017-03-27 12:51] #2613 closed, assigned to nobody

[2017-03-27 12:52] ojw28 commented on #2613
Same as #2609.

[2017-03-27 13:04] youneslalami opened #2614 "what should i do to have help"
every time i ask question you close it #2609 what should i do and when i try to give more detail you close it

[2017-03-27 13:07] ojw28 commented on #2614
Please stop repeatedly filing new issues. Please respond to #2609 only. You have not provided anything approaching a clear description of the issue, so we are unable to help. Also, it sounds like your issue is in your application code, as opposed to being an issue with ExoPlayer.

[2017-03-27 13:07] #2614 closed, assigned to nobody

[2017-03-27 13:09] youneslalami commented on #2609
My probleme is when i click to back key to finish(); i soulde clicke twice

[2017-03-27 13:11] AquilesCanta commented on #2609
+1 I have the same issue

[2017-03-27 13:12] youneslalami commented on #2609
This is my code i soulde click two time the first just restart the stream and the sconde close activity
[code]

[2017-03-27 13:16] andrewlewis commented on #2608
If you're seeing the position increase a few seconds past the duration, it's probably due to the fact that headers in variable bitrate MP3s only provide enough information to see approximately in general: when seeking to a given position we have to interpolate between approximate byte offsets based on the table of contents, which can introduce some error in the timestamps of samples read after see

[2017-03-27 13:16] #2608 closed, assigned to andrewlewis

[2017-03-27 13:27] youneslalami opened #2615 "Whay you close issues #2609"
plaese i dont know why you do it with me try to see my problem i do nothing i click on back key the stream
stop and play without closing activity its not my code i use your simple code

[2017-03-27 13:32] piotrmadry commented on #26
@ojw28 Is it possible to provide some release date for this future ? (Video speed control)

[2017-03-27 13:46] andrewlewis commented on #2446
Please could you provide detailed steps to reproduce the issue in the demo app, including links to the streams you are playing? Thanks.

[2017-03-27 13:47] PaulWoitaschek commented on #26
@piotrmadry its Q1 (friday)

[2017-03-27 14:04] andrewlewis commented on #2413
@begetan The emulator doesn't support this video size (`D/MediaCodecInfo: NoSupport [size.support, 3840x2160] [OMX.google.h264.decoder, video/avc]`). Note that the [Android CDD](https://source.android.com/compatibility/7.1/android-7.1-cdd.html) doesn't require devices to support 4k video decoding for H.264/AVC.

If the videos play using `MediaPlayer` but not using ExoPlayer we should investigate f

[2017-03-27 14:14] #2615 closed, assigned to nobody

[2017-03-27 14:18] ojw28 commented on #2615
Please stop repeatedly filing new issues. If you provide a clear description of the issue in #2609 then we'll reopen it.

[2017-03-27 14:42] youneslalami commented on #2609
This is my code i shoulde click two time the first just restart the stream and the sconde close activity

@Override
    public boolean dispatchKeyEvent(KeyEvent event) {
        // Show the controls on any key event.
        playback.show();

if(event.getAction()==KeyEvent.KEYCODE_BACK){
            player.stop();

        player.release();
finish();

        }

 return super.dispatchKeyEvent(even

[2017-03-27 15:28] y20k commented on #466
The [patch](https://github.com/Ood-Tsen/ExoPlayer/commit/8ccc99bc5c6428760efd9f1780dd90be9386339e) @Ood-Tsen provided works with AAC and it also works great with MP3 streams (-> my use case). The patch is based on ExoPlayer v1 though. I tried to adapt the code to work with ExoPlayer v2, but I was not able to get it working.

Anyway. I would really like to see an official support for Shoutcast. The

[2017-03-27 16:17] teshiburu commented on #2583
I've been having an issue that I imagine is being caused by this bug, I use plex and am unable to direct play media using their version of exo, on an s7 edge IF the media is in the 10 bit color space, i can supply logs if they will help or even media samples but so far ive only seen the issue on x264 10bit files

http://forums.plex.tv/discussion/comment/1401724

[2017-03-27 16:19] ojw28 commented on #2583
I don't think that's related. 10 bit color scheme definitely falls into the "special case" category. 10 bit color depth is unsupported on Android except for some HDR Android TV devices with tunneled mode enabled.

[2017-03-27 16:27] zishanj commented on #1878
Isn't this `getPlayWhenReady` indicate the `autoplay` feature? `isPlaying` is expected to return `true` if the player is currently playing otherwise it will return false.

[2017-03-27 18:15] mzj commented on #2608
Thank you for the reply.

I've got it on a video. In this case it went 6 seconds over duration. The maxium I've managed to get is around 15 seconds of mismatch.

**[Youtube link](https://www.youtube.com/watch?v=TCdVh7u8K4Y)**

It is probably the interpolating error, but it doesn't hurt to check.

[2017-03-27 18:55] gemiren commented on #2553
Thanks very much for the sample code!

[2017-03-27 21:43] ojw28 commented on #26
The work should be complete (or nearly complete) in `dev-v2` by that point, but it may take a week or two extra before we cut a release that includes it.

[2017-03-28 04:37] chandrasekhararao commented on #949
Dear All,

I am using exoplayer com.google.android.exoplayer:exoplayer:r2.0.3 in android to play videos.
DRM protect videos .mpd are playing fine with online.
I am able download video protected files(.mpd).
But not able to play .mpd files with offline.
Please suggest or give sample code for exoplayer offline drm for android code.

[2017-03-28 04:45] chandrasekhararao commented on #1028
Dear All,
How to get and store keys for offline DRM videos while playing it using Exoplayer in android.
Please suggest and provide sample codes.

[2017-03-28 06:37] zishanj opened #2616 "Detect if LIVE content have video or not"
I am working on a project in which I am using same url to deliver both LIVE audio and audio/video content and format is in m3u8. Is there any possibility to detect whether the stream contains video content or not, so I can show layout accordingly?

I am using `HlsMediaSource` class.

[2017-03-28 06:49] noamtamim commented on #949
@chandrasekhararao Offline DRM support was added in ExoPlayer **v2.2.0**. You need to upgrade.

In the meantime, v2.3.0 was released, so you better jump directly to it.

[2017-03-28 07:23] ehsan89 opened #2617 "VAST support"
Hi guys,

I'm trying to integrate VAST 3.0 ads into ExoPlayer. I want pre-roll ads which are provided by a server. I didn't find any solution for VAST integration with ExoPlayer. Is there any solution or any plan for future development?

Thank you all

[2017-03-28 08:11] sough commented on #708
hello, i have link on mp4 file with same error, but this link lives only 24 hour, if you are interested, i can provide one

[2017-03-28 10:49] ojw28 commented on #2616
You can probably use `ExoPlayer.isCurrentWindowDynamic` for this. Please give it a try!

[2017-03-28 10:52] ojw28 commented on #2616
Sorry, ignore the response above. I thought you were asking how to determine if the stream is live or not.

The ExoPlayer demo app lists the audio and video tracks (they're also logged by EventLogger). Take a look at what the demo app code does to achieve this, and it should be apparent how you can query the tracks and discover what's available.

[2017-03-28 10:59] andrewlewis commented on #2617
We plan to launch an extension wrapping the [Interactive Media Ads SDK](https://developers.google.com/interactive-media-ads/docs/sdks/android/) soon, which will make it possible to play VAST and VMAP ad tags. It's still work in progress but I will make sure this issue is updated once it's submitted to `dev-v2`.

[2017-03-28 11:35] duanyao commented on #2610
You can also adjust playback speed instead of seek to catch up small latency.

[2017-03-28 14:12] SteUK opened #2618 "DefaultTrackSelector should avoid enabling multiple renderers implementing MediaClock by default"
Version: ExoPlayer release v2
Device: Samsung s7
Android: 6

Hi,

In the project I am working on, we are having to use a custom audio renderer (via an extension) from a 3rd party dev house.  I need to use a mixture of their audio format, and a standard 2 channel mp4a aac stream.

All wrapped up into DASH, I get a video renderer and the two audio renderers back in the 'tracks changed' listing.  I a

[2017-03-28 14:18] ojw28 commented on #2618
This is a side effect of having both audio renderers enabled at once (i.e. the problem described below). You can only have one renderer that implements MediaClock enabled at a time, since these renderers drive timing for the playback (and two things trying to do this simultaneously doesn't make sense :)). The fix for this is just to fix the issue below.

This is a track selection problem. It sound

[2017-03-28 14:31] SteUK commented on #2618
Ideally... I would like the first audio renderers track to playback as default.  Then when I change audio stream (via setSelectionOverride), could be between renderers, only one audio set is ever playing.

Is my problem that I need to be disabling one of the renderers up front...and enabling/disabling between them as needed when switching audio stream?

Here is the output from onTracksChanged curr

[2017-03-28 14:42] ojw28 commented on #2618
We should probably make `DefaultTrackSelector` so that it doesn't enable two renderers implementing `MediaClock` by default, since that's not a sensible thing to do. In which case behaviour would be that the first one for which a selection can be made will be enabled. Perhaps we only want to enable one renderer of each type by default. We'll use this issue to track coming up with a sensible defaul

[2017-03-28 15:37] ghost commented on #2155
Hi.
Google play music supports wma.
https://support.google.com/googleplay/answer/1100462

I challenged fmmpeg to play wma but it was useless.
I hope to be able to play wma in Exoplayer.
Thank you.

[2017-03-28 16:44] zishanj commented on #2616
Thanks, I will give it a try and update here.

[2017-03-28 16:50] youneslalami opened #2619 "Can't play link with param"
Hi,

i can't play link if i add some param like token in the url example of link
http://ip-of-servor:80/ch1/video.m3u8?token=1234567

[2017-03-28 16:51] SteUK commented on #2618
Roger that!  Your suggestion to override selectTracks works a treat.  I had to couple in disabling of 'none desired' renderers when changing audio stream  (trackSelector.setRendererDisabled( iRenderer, true );)

Here is the class for anyone looking to do the same:

public class MultiAudio_DefaultTrackSelector extends DefaultTrackSelector
{
    public MultiAudio_DefaultTrackSelector( TrackSelection

[2017-03-28 18:34] AquilesCanta commented on #2619
Please fill the issue template. You can find several sample urls with parameters in the demo app.

[2017-03-28 18:34] #2619 closed, assigned to nobody

[2017-03-28 19:01] rileymacdonald opened #2620 "[Question] Listening for Eia608/Cea608 Closed Captions using TextRenderer"
I'm upgrading from ExoPlayer `r.1.5.9` to `r2.2.0`. Previously in ExoPlayer `r1.5.9` I listened for `CEA-608` / `EIA-608` captions using `Eia608TrackRenderer`:
[code]
I've been unable to determine how to listen for these captions using ExoPlayer2. Here's the ExoPlayer2 instance I'm using:
[code]
The `renderers` (above) are `new MediaCodecVideoRenderer(appContext, MediaCodecSelector.DEFAULT)`, `new

[2017-03-28 20:23] youneslalami opened #2621 "How can play video with dts and ac3"
Hi,

How can i play video with AC3 and DTS AUDIO i traied but i get video without song please need help

Thanks.

[2017-03-28 21:05] AquilesCanta commented on #2621
Please, see #2619.

[2017-03-28 21:05] #2621 closed, assigned to nobody

[2017-03-28 21:53] wvpaf commented on #2334
Sadly no new updates from OEM, there are issues with reproducing the issue on their side.

[2017-03-28 22:15] wvpaf commented on #2436
Hi,
The OEMs, Asus and Intel investigated and agree this is an issue, however the chip is aged enough they are not planning any updates to this device platform.

[2017-03-28 22:15] #2436 closed, assigned to wvpaf

[2017-03-28 22:20] ojw28 commented on #2620
You probably just need to ensure the track is selected. A caption track will only be selected by default if the media indicates that this should be the case. Else you have to select it yourself. Note that in the Apple stream you reference one of the caption tracks is marked `DEFAULT=YES`, which is why that one is enabled by default.

If you take a look at the ExoPlayer demo app, you should see tha

[2017-03-29 02:02] brosvaby opened #2622 "When I manipulated the device's time into the past, Offline Playback continues despite LicenseDuration expiration."
### Issue description
the bottom line is that when I manipulated the device time into the past, mediadrm have not detected a change in device time. Playback continues despite expiration.

I succeeded in offline license acquisition and content playback using widevine drm.
We set the license period to 300 sec and confirmed LicenseDurationRemaining to 300 sec. In normal cases, a period expiration eve

[2017-03-29 06:00] zishanj commented on #2616
I have checked the demo code and found that I have to use the `onTracksChanged` listener and check for the value of `MappingTrackSelector.MappedTrackInfo.RENDERER_SUPPORT_PLAYABLE_TRACKS`in `mappedTrackInfo.getTrackTypeRendererSupport(C.TRACK_TYPE_VIDEO)`. It works! :)

[2017-03-29 06:00] #2616 closed, assigned to nobody

[2017-03-29 06:09] zishanj opened #2623 "Detect when LIVE event is ended"
I am using `HlsMediaSource` class to render Live events. At the backend I am using Flash Media Live Encoder. Initially when the user click the play button and event is not started, the Flash Media Live Encoder would remove the url due to which ExoPlayer will get 404 message which I can trace easily in `onPlayerError` listener.

The problem is, once the event is started and later it get ended, is t

[2017-03-29 07:37] manishvwynk commented on #2224
I have take the fix for it but still facing the issue .

[2017-03-29 08:30] slezadav opened #2624 "HLS selects variant with resolution higher than that of the screen"
### Issue description
Hls playback changes variant to RESOLUTION=1920x1080 even if the device screen has smaller resolution. Method player.getVideoFormat().getFrameworkMediaFormatV16().getInteger("height") returns 1080. Only specific devices : When the playback changes from 720p to 1080p device gets completely stuck and needs a restart.

### Reproduction steps
1) device with low enough screen reso

[2017-03-29 08:53] uyjulius commented on #2583
Hi ojw28,

Some of our users got back to us saying that YouTube plays just fine on their end. We also received a fresh report from S7 Active (SM-G891A) reporting the same behavior, right after updating to Android 7.0.

We contacted Samsung on this issue. Will keep you in the loop if anything comes up. The same might occur on the new S8 devices.

[2017-03-29 09:19] AquilesCanta commented on #2623
Have you tried `ExoPlayer.EventListener.onPlayerStateChanged()`. You can look at the demo app for a usage example.

[2017-03-29 09:19] #2623 closed, assigned to nobody

[2017-03-29 09:36] ram992 opened #2625 "ExoPlayer integration into FireTV and Android TV app"
Hello Ojw, Sorry for raising this as an Issue but this was one of the cases.

The ExoPlayer and the supporting DemoApp are very excellent in making mobile and Tab integrations,
from an Average Android Developer view.

But is there any source where I can get pointed for doing the same for Android TV.

I have tried the existing AndroidTV leanback project from github but it is using 1.5.8 version of

[2017-03-29 09:40] ojw28 commented on #2625
I don't really understand the question. The ExoPlayer demo app should work fine on Android TV as well, so I'm not sure what the difference is vs mobile and tablet. FireTV is a bit different, depending on the version of FireOS. See [here](https://google.github.io/ExoPlayer/supported-devices.html).

[2017-03-29 10:02] ojw28 commented on #2624
We do filter out variants that devices claim they're unable to support. If a device is getting stuck it's likely reporting its capabilities to us incorrectly.

To the more general point, I don't think it's incorrect for us to adapt to a resolution higher than that of the display. ExoPlayer doesn't know how you're rendering the video. Some examples where it's more complicated than that:

- If you'r

[2017-03-29 11:11] zishanj commented on #2623
Yes, its `STATE_ENDED` only triggered when pre-recorded source is played, for Live content its never triggered.

[2017-03-29 12:25] ojw28 commented on #2623
Perhaps the server is not correctly adding the #EXT-X-ENDLIST tag to the media playlists when the stream ends. In this case the server is technically indicating that it could still add segments, and the player will therefore wait in the buffering state.

[2017-03-29 12:35] slezadav commented on #2624
Thank you, setting the params according to your response helped a lot, now it works as I want it to.

[2017-03-29 12:45] zishanj commented on #2623
Thanks, this explains it well.

[2017-03-29 12:55] AquilesCanta commented on #2623
This should be easy to check. `onTimelineChanged` passes a copy of `HlsManifest`, from which you can access the media playlist, which has the property `hasEndTag`. Please update this issue if ExoPlayer is not behaving as expected.

[2017-03-29 13:14] martijnvm commented on #2568
Related to this issue.. I am not seeking to a specific position but I am just letting the video play and complete itself. After completion, the view is empty. Can you push me in the right direction on how I keep the last frame on screen?

[2017-03-29 13:22] ojw28 commented on #2568
I don't think that's what happens. The last frame of the video should remain visible. Are you sure the last frame in the video isn't black (or whatever "empty" means in this case)?

[2017-03-29 13:24] bene25 opened #2626 "How I can get audio tracks and subtitles?"
Hello.
I am using now ExoPLayer r2.3.1 version.
We have m3u8 file format such as:

#EXTM3U
#EXT-X-STREAM-INF:BANDWIDTH=490000,RESOLUTION=640x360
http://XXX.XXX.XX.XXX:31213/MEDIA/76336503.....583609776254/161/4161/
#EXT-X-STREAM-INF:BANDWIDTH=1500000,RESOLUTION=720x576
http://XXX.XXX.XX.XXX:31213/MEDIA/76336503.....583609776254/161/3161/
#EXT-X-STREAM-INF:BANDWIDTH=2500000,RESOLUTION=1280x720
http

[2017-03-29 13:30] AquilesCanta commented on #2626
See #2014. This is not supported (except for CC). If you want to provide multiple audio track choices, the smartest choice is to demux them and declare them through EXT-X-MEDIA:TYPE="AUDIO".

For closed captions you do not require any changes in the TS chunks, but you should add the corresponding EXT-X-MEDIA:TYPE="CLOSED-CAPTIONS" in the master playlist.

[2017-03-29 13:30] #2626 closed, assigned to nobody

[2017-03-29 13:36] martijnvm commented on #2568
My Activity has a transparent window so basically when my video completes, I can see the content in the Activity behind it. That's my 'empty state' which I was referring too.

This is my piece of code:
`videoView = new EMVideoView(getContext().getApplicationContext());`
`videoView.setPreviewImage(previewBitmap);`
`videoView.setVideoURI(getVideoUrl());`
`videoView.setOnPreparedListener(this :: star

[2017-03-29 13:42] kneep commented on #2587
I saw a similar issue on Pixel XL when MX Player was playing an hevc 10-bit video. The media scanner even did not parse the video so it did not show in the media database. When I found the video in a file explorer and played it with MX Player and sought back and forth, the handset stuck for a while and rebooted.  I tried the same thing on a ZTE Axon 7 which is also built on msm8996, the media scan

[2017-03-29 13:42] ojw28 commented on #2568
Hm. Not sure about that. I don't think we have much control over this kind of thing at the ExoPlayer level; we simply release buffers to the surface (and that's about it). I don't know what EMVideoView does internally. You should probably report the issue to the author of that class. In any case, I don't think this discussion is relevant to this issue.

[2017-03-29 14:45] bene25 commented on #2626
In previous version of player I did in HlsMediaChunk class:

 extractor = new TsExtractor(timestampAdjuster,
-            new DefaultTsPayloadReaderFactory(esReaderFactoryFlags), true);
+            new DefaultTsPayloadReaderFactory(esReaderFactoryFlags), false);

And after that I could get audiotracks. How can I do this in a new version?

[2017-03-29 14:56] AquilesCanta commented on #2626
Equivalent to that would be
[code]
But keep in mind this is not its intended use, and we will most likely not provide support for any consequential issues.

[2017-03-29 16:24] zishanj commented on #2623
I am using Wowza media server and unfortunately they have not implemented this tag yet. All they do is, remove the stream when Live event ended. We can only detect for 404 response code, perhaps through timer, which is not a good idea. :(

[2017-03-29 16:57] zishanj commented on #2623
In my older app, in which I was using ExoPlayer 1.5.15, it used to trigger `STATE_IDLE` after few seconds when it does not receive any more stream data. In this version 2, it returns only `STATE_BUFFERING` even if there is no more stream data for longer period of time.

Is there any setting for idle state in duration of seconds in this version 2 library?

[2017-03-29 17:09] ojw28 commented on #2623
No. You should ask Wowza to implement the HLS spec properly.

[2017-03-29 17:15] zishanj commented on #2623
Wowza have not given any timeline yet for its implementation yet but they have added it in their to-do list since March last month and there is no update yet.

I have been using `STATE_IDLE` as an alternate solution in older 1.5.15 ver. I used to check for response code 404 in this state and display the notification. But this state is not triggering in this version 2 even for longer period of no s

[2017-03-29 18:30] ojw28 commented on #2582
There are actually a bunch of things slightly wrong with surface attach/detach whilst the renderer is enabled. We'll use this issue to track these problems in general.

[2017-03-29 18:34] escamoteur commented on #867
I'm facing almost the same challenge.

So I would like to know if it is feasable to use multiple SurfaceViews in a ListView and just switch the Player between them or is it better to reuse the same surface when I need it?

Thanks
Thomas

[2017-03-29 20:07] #2624 closed, assigned to nobody

[2017-03-29 20:07] #2625 closed, assigned to nobody

[2017-03-29 20:12] #2542 closed, assigned to nobody

[2017-03-30 04:52] zishanj opened #2627 "Handling default playback controls listener"
Is there any way to handle default playback controls listener so we can override it with some additional feature?

[2017-03-30 05:30] sapanda opened #2628 "Question: How to switch Audio Tracks in an HLS stream?"
We currently use ExoPlayer 1.5.7, but are considering a switch to ExoPlayer 2.2. So this question applies equally to both.

We have several different audio tracks in a stream - segregated by language and a couple other factors. What's the best way to switch between tracks? Can this be done on the fly or would the entire content need to be re-prepared?

In ExoPlayer 2, we noticed that `DefaultTrack

[2017-03-30 06:09] ghost opened #2629 "com.google.android.exoplayer2.MediaFormat"
i'm importing this bit it dosen't support what to do i'm using     compile 'com.google.android.exoplayer:exoplayer:r2.3.1'

[2017-03-30 06:15] mossc opened #2630 "How to play an UDP URI in demo module?"
**Step:**
1. Add an UDP URI in media.exolist.json
[code]

2. Modify library/src/main/java/com/google/android/exoplayer2/upstream/DefaultDataSource.java
according to the reply from @Avetri of issue #2029
[code]

3. Test the demo module on Android phone.

**Result:**
Video won't be played and keep showing
`playWhenReady:true playbackState:buffering window:0`
![sss](https://cloud.githubusercontent.co

[2017-03-30 06:47] zishanj opened #2631 "Default player controller works once only in Fullscreen mode"
I have tried to implement custom fullscreen mode in which the video is played in fullscreen. Initially, I have set the player `setUseController` to `false` in compact mode. But when the user switches to fullscreen mode I have set this property to `true`. Here is the screenshot of player in fullscreen mode with overlay player controls:
![screenshot_20170330-112540](https://cloud.githubusercontent.c

[2017-03-30 07:12] ram992 commented on #2625
Well to give a bit more details,  the demo app is working fine, the thing that I don't get is
the LeanBack androidTV app uses a different Structure than the exoplayer Demo app,

Like it has a separate class for ExtractorRendererBuilder (why ? when exoplayer is supplying it and what is the equivalent for it in v2.0) and How can I write a separate class for Dash Support if I  follow the same archite

[2017-03-30 07:50] sanandrea opened #2632 "Unexpected ID3 file Identifier, on HLS stream"
Hi,
I have a crash on an HLS stream found and the crash log is on this [gist](https://gist.github.com/sanandrea/5244862008a21da740dd80a7c9c01942) .

The same stream on the iOS AVPlayer does not have problems. I cannot post the link to the stream because credentials are needed to access the CDN of the stream. I have captured the chunk I thought has the wrong ID3 metadata. I have attached the chunk

[2017-03-30 08:19] andrewlewis commented on #2629
The MediaFormat class was renamed to [Format](https://github.com/google/ExoPlayer/blob/r2.3.1/library/src/main/java/com/google/android/exoplayer2/Format.java) in version 2. If that's not what you're asking about please clarify the question.

[2017-03-30 08:19] #2629 closed, assigned to nobody

[2017-03-30 09:13] Avetri commented on #2630
Hello.

At least threre is no reason for @ before IP address.

Second, but not a source of the issue: 239 (as 224 and some others) group isn't suitable for an own multicast stream.

[2017-03-30 09:20] Avetri commented on #2630
@mossc
Please attach a full logcat of the player and some sample part of the stream.

[2017-03-30 09:35] AquilesCanta commented on #2628
As long as you are providing the alternative audio tracks demuxed (see #2014), you can either use a track selection override (have a look at the demo app for this) or set the according selection parameters to the default track selector:

`selector.setParameters(selector.getParameters().withPreferredAudioLanguage("eng");`

It can be done at any point. The demo app is a good example of this.

Unless

[2017-03-30 09:35] #2628 closed, assigned to nobody

[2017-03-30 09:46] y20k commented on #466
UPDATE: Shoutcast extraction seems to work for me in a v2 based app. I had to create a [`CustomDefaultHttpDataSourceFactory`](https://github.com/y20k/transistor/blob/15ade2116141bdabbd91bcdf3b52854bdadd6923/app/src/main/java/org/y20k/transistor/helpers/CustomDefaultHttpDataSourceFactory.java) based on the official [`DefaultHttpDataSourceFactory`](https://github.com/google/ExoPlayer/blob/release-v2

[2017-03-30 09:46] mossc commented on #2630
@Avetri
Thanks for your reply.

About the @ before IP address, I had tested both URIs in VLC player Android version.
udp://@239.255.42.128:5004  ==> Play
udp://239.255.42.128:5004 ==> Won't play

And I had the same URI structure as issue #2029 ,

I think the UDP source is fine.

Or... I still miss something?

I will attach full log later.

[2017-03-30 09:47] Stalker11 opened #2633 "ExoPlayer playing mp2 formats"
Hi, I try to play HLS stream:

[code]

But if player start plaiyng I have a message in logs:

[code]

Video start playing but sound not. I have tried searching this issue and have not found a whole lot of details regarding these unsupported types. I am using exoplayer version r2.1.1. How I can fix this broken? Thanks.

[2017-03-30 09:50] ojw28 commented on #2625
I don't know about the leanback app. I suggest you ignore it and use the most recent ExoPlayer demo app.

[2017-03-30 09:57] ojw28 commented on #2632
It looks like you're using ExoPlayer V1. You should move to ExoPlayer V2 for more robust ID3 handling.

[2017-03-30 09:58] ojw28 commented on #2627
It's unclear what this question means. Also, there's a limit to the amount of per-app customization guidance we can provide. Please ask such questions on StackOverflow. This tracker is more for actual bugs/issues.

[2017-03-30 09:58] #2627 closed, assigned to nobody

[2017-03-30 09:59] ojw28 commented on #2631
Please see https://github.com/google/ExoPlayer/issues/2627. This sounds like an error in your application code. There's no enough information for us to help.

[2017-03-30 09:59] #2631 closed, assigned to nobody

[2017-03-30 10:04] mossc commented on #2630
@Avetri
The full log for both URI:

udp://@239.255.42.128:5004
[full_log_with_a.txt](https://github.com/google/ExoPlayer/files/881760/full_log_with_a.txt)

udp://239.255.42.128:5004
[full_log_without_a.txt](https://github.com/google/ExoPlayer/files/881763/full_log_without_a.txt)

Also attach the successfully playback log of VLC player
udp://@239.255.42.128:5004
[vlc_with_a.txt](https://github.com/

[2017-03-30 10:16] sanandrea commented on #2632
@ojw28 Thanks for your reply. I have also tried on the V2 ExoPlayer (some months before at commit 0cacd388fdff22408b54e2b7de2021c5b11f2742 => Merge: dbebaa87 75eb047e of 05/01/2017) but I encountered the same problem. I think I have tried before the release V2.2.0. I'm gonna make a new check today and let you know.

[2017-03-30 10:42] zishanj commented on #2627
Actually I am using `SimpleExoPlayerView` which shows default controls. I want to handle the click events of those controls play, pause, forward etc. so I can override it to extend its functionality.

[2017-03-30 12:45] Teviz opened #2634 "FLV ParserException"
Hi
I'm using v2.2 in my project, and I found that there are several FLV videos fails with ParserException as below.

                                                            at com.google.android.exoplayer2.extractor.flv.ScriptTagPayloadReader.parsePayload(ScriptTagPayloadReader.java:84)
                                                            at com.google.android.exoplayer2.extractor.flv.T

[2017-03-30 12:48] ojw28 commented on #2634
This issue is being closed because it does not adhere to our issue template, and/or because it omits information requested in the issue template that is required for us to investigate the problem efficiently. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/ISSUE_TEMPLATE).

If you’re able to provide complete information as requested in the issue template,

[2017-03-30 12:55] ojw28 commented on #2632
Cool. Note there are a couple of remaining fixes in flight, which are tracked by https://github.com/google/ExoPlayer/issues/2604. I think your case is different though, and hopefully already fixed. If not, please respond to that issue. Note we wont be able to assist without sample content (provided privately if necessary via dev.exoplayer@gmail.com).

[2017-03-30 13:03] AquilesCanta commented on #2633
Seems to me the device does not provide decoding support for mpeg-2 audio. You can try the ffmpeg extension to decode it through software. Have a look at the [supported formats page](https://google.github.io/ExoPlayer/supported-formats.html) for more information.

[2017-03-30 13:03] #2633 closed, assigned to nobody

[2017-03-30 13:08] bene25 commented on #2626
class DefaultTsPayloadReaderFactory expects List<Format> closedCaptionFormats, and if I send null instead list player wont play video at all. If I send empty List<Format> player doesn't see tracks.

[2017-03-30 13:22] mkaflowski opened #2635 ""Skip silence" feature"
Is there any chance to implement "skip silence" feature to Exoplayer or how can force player to do it? Some Podcast apps have it implemented.

[2017-03-30 15:35] Teviz commented on #2634
ok, sorry for that.
### Issue description
When prepare some FLV videos, the player fails with ParserException.
I found the direct reason is that the metadata tag of FLV video is AMF_TYPE_OBJECT but not AMF_TYPE_ECMA_ARRAY.For more is out of my knowledge.

### Reproduction steps
Using ExoPlayer demo app and replace the video url as I sent.

### Link to test content
In the mail I sent.

### Version

[2017-03-30 17:05] ojw28 commented on #2634
Thanks. We'll push a fix for this shortly. The fix is just to swap:
[code]
for:
[code]

[2017-03-30 17:11] needz commented on #2565
Is there any chance to add DVB subtitle support somehow (through decoder or what not), since they are currently detected as CEA-608 and with supported=YES flag, but not visible on display?

Also, it's hard to detect, whether they will show up or not, since the same type of subtitles show fine if they are included in MKV as built-in subtitles.

I can share the stream sample TS if you need it. Thank

[2017-03-30 17:19] gemiren commented on #2635
This will be an awesome feature.

[2017-03-30 18:24] AquilesCanta commented on #2565
608 and DVB don't have much in common, and cannot be mistaken for one another by our extractor. For DVB support track #1781. Regarding 608 detection, it's because we expose 608 channel one by default. Considering it has DVB subtitles, the stream probably does not include 608 CC, as they are used in the ATSC standard.

[2017-03-30 18:25] AquilesCanta commented on #2623
I am looking into exoplayer not transitioning into IDLE state after not being able to refresh the live window.

[2017-03-30 19:17] rileymacdonald commented on #2620
Thanks! You're correct, I used a `MappingTrackSelector.SelectionOverride` along with `DefaultTrackSelector.setSelectionOverride()` to force selecting the desired text track. The `TextRenderer.Output` is now working as expected. **This issue can be closed.**

Although this issue can be closed I had to implement a small workaround due to a `NoSuchMethodException` in `SubtitleDecoderFactory` that I f

[2017-03-30 22:20] ethanjyx opened #2636 "Question - how does the vp9 extension help?"
Did you run any benchmark on how it performs?
Does it only affect software decoding capabilities or does it affect hardware decoding capabilities as well?
Will be helpful for us to have a better understanding of the benefit of using this extension.

Thanks

[2017-03-30 23:14] ojw28 commented on #2636
That's a complicated question to answer in practice. You're probably interested in performance relative to the VP9 decoder that the platform provides, but the platform decoder varies by device and there's nothing like a (working) platform API for querying how performant a platform decoder is. Performance of both the platform decoder and the one in the extension may be affected differently by thing

[2017-03-30 23:45] ojw28 commented on #2620
The `NoSuchMethodException` issue occurs when proguard removes the constructor being invoked. It should have been fixed by https://github.com/google/ExoPlayer/commit/1eede5d5bb9c0271592b05dbd0db320214d09b18, but that fix was present in 2.2.0. Is that definitely the version you're using? If so, does your application's proguard configuration somehow override the default one that we're specifying for

[2017-03-30 23:45] #2620 closed, assigned to nobody

[2017-03-31 01:14] brosvaby commented on #2622
Is anything updated?
For the above reasons, I think that we can't control period of expiration offline.
Do I misunderstand offline scenarios?
For example, is it necessary to control in the app area for device time manipulation?

[2017-03-31 04:00] Teviz commented on #2634
ok. Thanks.
So at present, ExoPlayer only read 'duration' property from 'onMetaData' in FLV videos.
But there are some other properties in 'onMetaData' which may help us such as 'filesize', 'width' and 'height'.
Do you have any plan to support to parse these properties and open to us?

[2017-03-31 04:41] ram992 commented on #2625
Sure thanks Ojw, but there is one more question, can you suggest a fix,
 the problem is that, while running the demo app in Intex Mobile (Intex Aqua 4G) the video surface is not visible, but audio plays fine.
This not happening in other devices.

[2017-03-31 06:21] blipinsk commented on #1842
I had 2 projects that I wanted to migrate from ExoPlayer 1 to ExoPlayer 2 and really did not want to add ExoPlayer 1 as a jar (don't know why really :shipit: ...).

That's why I created [external packagings for all 1.x.x versions](https://github.com/blipinsk/ExoPlayer1).

No code of my own, just ExoPlayer 1 repackaged under different `groupId` and `artifactId`, so you can include both ExoPlayer 1

[2017-03-31 07:37] slezadav opened #2637 "Fatal Exception: java.lang.NoSuchFieldError: zzaCl, at com.google.android.exoplayer2.audio.AudioTrack.processBuffers"
### Issue description
Crash reported from Crashlytics, potentially device specific.

### Reproduction steps
Not known

### Link to test content
Do not know exactly, which media was being played during crash

### Version of ExoPlayer being used
r2.3.1

### Device(s) and version(s) of Android being used
alps HM NOTE 1W , Android 4.2.2
http://specdevice.com/showspec.php?id=6c40-e0e8-82e0-db4272cb4183

[2017-03-31 07:46] andrewlewis commented on #2637
If you have a proguard map, please could you provide the deobfuscated field name? Thanks.

[2017-03-31 08:48] slezadav commented on #2637
Unfortunately I dont have access to the original mapping, but assuming the proguard is deterministic I built again from the same commit and probably not much help:

com.google.android.gms.internal.zzaav$zzb -> com.google.android.gms.internal.zzaav$zzb:
    com.google.android.gms.internal.zzaav zzaCl -> zzaCl

[2017-03-31 08:51] Avetri commented on #2630
I am not sure. Please attach a sample.
What is your source of multicast? It is sad if it is the VLC. Use tsplay.

Successfull VLC's playback says almost nothing. It is old native player that can open many kinds of bad content.

Unfortunatelly the logcat's logs are helpless. I saw no helpfull info. Output of the player is almost absent.

[2017-03-31 09:14] mossc commented on #2630
@Avetri

My multicast source is a HDMI over IP **Transmitter**.
![devices](https://cloud.githubusercontent.com/assets/13825672/24544224/0c19bafa-1635-11e7-9073-24d44e16f7f1.jpg)

Testing environment:
HDMI -> **Transmitter** -> LAN -> **Receiver -> HDMI**

I would like to implement a android video player to replace that **Receiver -> HDMI**.

[2017-03-31 09:22] andrewlewis commented on #2637
This stack trace looks wrong to me: though AudioTrack:779 looks correct for the call to processBuffers, it doesn't make sense for AudioTrack:816 to be do a field access which could cause this. I don't have that specific device available but I wasn't able to reproduce the error on another API 17 device. Is it possible that the map used to get this stack trace in Crashlytics is outdated?

(The ExoPl

[2017-03-31 09:41] ojw28 commented on #2625
We'd need a new issue that fills out the whole issue template to look at that.

[2017-03-31 10:00] Ambroos commented on #2416
We a new set of devices with issues on these kinds of streams that don't use Qualcomm SoCs:

*Huawei P8 Lite (ALE-L21)*
When reaching the discontinuity, the video freezes on the first frame of the discontinuity while audio keeps playing. When the 'main' stream resumes after a discontinuity, video starts playing again.

*Huawei Ascend P7*
When reaching the discontinuity, the video freezes (not sure

[2017-03-31 10:25] Avetri commented on #2630
@mossc

So You have to make dumps of the Transmitter's stream in this case. No fact that there is MPEG TS in the stream as I expected.
I had (as DVB Engineer) a similar situation with security IP cams. Their developers don't like to completely follow MPEG TS standarts even when their streams look like it.

[2017-03-31 12:46] mossc commented on #2630
@Avetri

OK, I will try to dump the Transmitter's stream.

Mean while, do you have any suggestion to build another transmitter?
May be another application like VLC?

I just want to try to use ExoPlayer play a multicast stream.

Thanks for your help!

[2017-03-31 14:20] rileymacdonald commented on #2620
Thanks! My application was responsible for removing this method. When building ExoPlayer I'm producing both `aar` and `jar` artifacts. Gradle was consuming the `jar` by default which doesn't appear to include proguard information. I specified `aar` using `@aar` on the ExoPlayer `compile` dependency and the methods were no longer removed by my application proguard configuration.

[2017-03-31 15:51] Teviz opened #2638 "Expose file size in Format for regular on-demand media files"
In demo application, PlayerActivity shows how to get format object and use its properties such as bitrate, trackId, resolution and so on.But there is no way to get file size.
In most situation, we may play mp4 file.I can calculate the value of  timescale / duration to get the file size in MP4Extractor#processMoovAtom method, but I don't think its a good idea.

So is there any solution to get file

[2017-03-31 18:10] ojw28 commented on #2638
I'm not sire I agree that it's the player's responsibility to tell you the size of a file. Can't you just query it directly (if it's a local file) or make a HEAD request (if streaming over the network)? What is it that you actually want it for?

[2017-03-31 18:18] yookore opened #2639 "How do I get the index of the current track being played using ExoPlayer"
I am working on an Android project that involves the use of Google's ExoPlayer. I have a list of video sources which I build a playlist from using the following code:

for (int i = 0; i < vidList.length(); i++) {
    MediaSource source = new ExtractorMediaSource(Uri.parse(vidList.getJSONObject(i).getString("url")),
                                buildDataSourceFactory(bandwidthMeter), extractorsF

[2017-03-31 22:16] ojw28 commented on #26
Playback rate and pitch adjustments are seamless again as of https://github.com/google/ExoPlayer/commit/f7fff0d5835b42f6d6db7e46c7b1e546f84f545a. The feature is now at the level of our previous (API 23+ only) support, only now across all API levels. Expect a release in the next week or two as mentioned above.

Subsequent changes will follow that propagate the playback rate to some other components

[2017-04-01 02:47] Teviz commented on #2638
Maybe I compare the method to get file size with ExoPlayer#getDuration() method is extreme, what I wish is to have a way to get it.
Because file size and duration is from the same source, such as metadata of videos, so I think they may be on the same level.
Query twice is ok, but it seems to be a little bit redundant. File size is a part of the media or track, so when I play the media, file size i

[2017-04-01 15:19] rejeayun123 opened #2640 "LuNa"
*** ISSUES THAT IGNORE THIS TEMPLATE WILL BE CLOSED WITHOUT INVESTIGATION ***

Before filing an issue:
-----------------------
- Search existing issues, including issues that are closed.
- Consult our FAQs, supported devices and supported formats pages. These can be
  found at https://google.github.io/ExoPlayer/.
- Rule out issues in your own code. A good way to do this is to try and
  reproduce t

[2017-04-01 16:12] #2640 closed, assigned to nobody

[2017-04-02 04:58] slezadav commented on #2637
Fatal Exception: java.lang.NoSuchFieldError: Base_Widget_AppCompat_ActionBar_TabBar
       at com.google.android.exoplayer2.audio.AudioTrack.processBuffers(SourceFile:816)
       at com.google.android.exoplayer2.audio.AudioTrack.handleBuffer(SourceFile:779)
       at com.google.android.exoplayer2.audio.MediaCodecAudioRenderer.processOutputBuffer(SourceFile:366)
       at com.google.android.exoplay

[2017-04-02 14:29] Merseyside opened #2641 "Track extension and bitrate"
I write player and trying to get file extension, bitrate and sample rate. My question is why bitrate always returns -1 and how to get file extension?
P.S. sample rate returns as expected.

@Override
            public void onAudioInputFormatChanged(Format format) {
                StringBuilder builder = new StringBuilder();
                builder.append(format.codecs);
                builder.ap

[2017-04-02 14:48] begetan commented on #2413
I did some investigation about the issue.

1. Emulator doesn't support .mkv container no mater about resolution

2. Emulator doesn't support  any video with resolution higher than 1920 x 1080

3. When I did exactly the same configuration for ExoPlayer with SurfaceView I have succesfuly played  all tested videos with all codecs up to 3840x2160 including mp4 3840x2160 AVC part 10.

[2017-04-02 16:37] saket opened #2642 "Support for limiting/disabling buffering"
Hello folks, I tried searching a lot, but couldn't find anything that let's me control the buffering. I was wondering if it's possible to either limit buffering or disable it as soon as the first frame has been grabbed to display a preview. This would be helpful for our users that are on slower data connection.

### Version of ExoPlayer being used
r2.3.1

### Device(s) and version(s) of Android be

[2017-04-02 18:53] ojw28 commented on #2642
If you're trying to implement a preview, wouldn't it be a lot more efficient to extract the thumbnail on the server-side and just deliver it as an image to the client? It feels pretty heavy to be instantiating a video decoder and buffering the head of a video stream if that's the use case.

[2017-04-02 18:56] ojw28 commented on #2641
- Given you have to tell ExoPlayer the URL (or file) that you want us to play, surely you know what the file extension is already (because you've given it to us)?
- We only report bitrate if it's defined by the media. This is typically true in DASH, HLS and SmoothStreaming where bitrates are specified at the manifest level. It's typically not true for other media, in which case we set the value to

[2017-04-03 07:43] saket commented on #2642
I'm building a client for user submitted videos that are mostly hosted on imgur, gfycat, streamable, etc. so that won't be possible. But as you, I guess adding support for just getting the first frame would be heavy and not something that you'd want to do.

I also realized yesterday that Exoplayer does indeed not buffer the entire video. So my question is void.

[2017-04-03 07:43] #2642 closed, assigned to nobody

[2017-04-03 07:58] saket commented on #1399
It's really common in iOS to have fast scrubbing support in media players and it's slightly sad to learn that exoplayer does not support this. May I ask what is the limiting factor here. Is it Android as the platform?

[2017-04-03 08:28] andrewlewis commented on #1399
@Saketme Could you clarify whether you're looking for support for the optimization @ojw28 mentioned earlier in this thread, or something different?

The time it takes to scrub to a frame partly depends on the performance of the video decoder, which varies between different Android devices. I can't think of any reason Android would be inherently slower or faster than another platform in general.

[2017-04-03 08:43] ojw28 commented on #2638
One thing to consider is that in many cases the file size of a track is undefined (or not possible to determine in a reasonable way). For example in HLS and SmoothStreaming each track is fragmented into many separate files. The same applies to DASH except in certain on-demand profiles. For live playbacks the file size is always undefined. The only case where file size does make sense is playback o

[2017-04-03 09:20] AquilesCanta commented on #2638
Have you considered injecting a DataSource that provides what you need? You could intercept the header information yourself in that case. I haven't tried but subclassing DefaultHttpDataSource might work for you.

[2017-04-03 10:38] valdeir2000 commented on #2639
Managed to solve?
I also have the same doubt.

[2017-04-03 11:07] saket commented on #1399
So I was comparing scrubbing this [video](https://streamable.com/n0qky) on my Pixel using ExoPlayer and on an iPad using [Narwhal](http://getnarwhal.com/). I don't know what stack is Narwhal using, but scrubbing is fairly smooth and seeking is instantaneous for buffered parts of the video including rewind, but ExoPlayer was taking half a second for the same task.

I was also using [this library](h

[2017-04-03 11:58] Shyri commented on #2009
Finally... Today Samsung released a new update that includes upgrade to Android 7 and a fix to this issue. So at the end all was related to Samsung's firmware...

[2017-04-03 11:59] andrewlewis commented on #2637
We don't use the support library and some line numbers in the stack trace don't make sense (e.g. ExoPlayerImplInternal:2466 doesn't exist) so I think there's something going wrong with how this is being proguarded/deobfuscated, or a problem with the JVM on that device.

I'll close this for now as I don't think there's anything actionable here, but please reopen if you can find a way to reproduce t