[2022-05-18 14:51] #10170 closed, assigned to icbaker

[2022-05-18 14:55] nicolas400-bd opened #10272 "NPE in DashManifestParser:ParseAudioChannelConfiguration caused by old MPD file"
### ExoPlayer Version

2.17.0

### Devices that reproduce the issue

Tablet Inspire 5

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

No

### Reproduction steps

Our Movies App uses a local storage server to provide MPD files to the users.

### Expected result

The movie plays

### Actual result

The NPE crashed the App

### Media

Small portion of M

[2022-05-18 15:25] fgl27 commented on #10170
Thanks all for the help!

[2022-05-18 15:28] icbaker commented on #10272
The DASH spec is pretty clear in ISO 23009-1 section 5.8.1 and 5.8.2 that every descriptor element (of which `AudioChannelConfiguration` is one) requires a `@schemeIdUri` attribute.

ExoPlayer doesn't generally aim to support invalid media - you should fix the media to comply with the spec.

[2022-05-18 15:28] #10272 closed, assigned to icbaker

[2022-05-18 16:21] andrewlewis commented on #5246
Jcenter will be a read-only repository indefinitely according to [this post](https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter/), so the old releases will remain available.

[2022-05-18 16:21] #5246 closed, assigned to andrewlewis

[2022-05-18 18:49] Bhupesh71 opened #10273 "IMA default skip button in Picture-in-Picture mode"
Unfortunately we can't answer all questions. Unclear questions or questions with
insufficient information may not get attention.

Before filing a question:
-------------------------

- Ask general Android development questions on Stack Overflow
- Search existing issues, including issues that are closed
  https://github.com/google/ExoPlayer/issues?q=is%3Aissue
- Consult our developer website (https

[2022-05-18 18:56] Bhupesh71 commented on #10273
I installed my video app on the mobile device and I am using Exoplayer IMA extension and  playing IMA skippable ad. When I put the app into PIP mode and try to press skip ad button the ad skipping is not working. Looks like button is not accepting touch events. Is this a problem with IMA extension or if this is problem in general on how IMA is working in PIP mode?

[2022-05-18 19:24] wkarl commented on #9945
That looks like a good approach, thank you for the suggestion!

[2022-05-18 20:12] usopphammer opened #10274 "Video freeze when seekTo is called after midroll ads"
Our QA team observes the same bug - https://github.com/google/ExoPlayer/issues/7161
When we call Player.seekTo() method a video freezes and the player doesn't react to any media event. It's very hard to reproduce, on my devices it happens 1 time out of 1000.

We use the latest 2.17 version of the Player. There are no deprecated classes in our code. Timeouts are set by default.
It happens for any a

[2022-05-19 05:56] jayantht30 commented on #10269
Not tried on demo app yet

[2022-05-19 08:48] icbaker commented on #10274
Can you provide a little more information about your setup? Specifically:

* Is the content between the ads protected with DRM?
    * If so, how do you configure the DRM playback? A sample code snippet of instantiating a `MediaItem` or `MediaSource` would be helpful here, as well as any direct `DrmSessionManager` configuration e.g. via `DefaultDrmSessionManager.Builder`.
* Precisely how are you tr

[2022-05-19 13:35] yuzhidi opened #10275 "why ExoPlayer not use Kotlin"
why ExoPlayer not use Kotlin? mostly code is JAVA.
is there any consideration? as performance, cpu loading, memory usage, easy integrating as so on

[2022-05-19 19:17] besarmemishi commented on #10275
Why should they use Kotlin?

[2022-05-19 19:20] besarmemishi opened #10276 "Output container bitrate values from `MetadataRetriever` (for parity with `android.media.MediaMetadataRetriever`)"
## Question
I wonder why for some audio/video files (https sources) the bitrate returns -1, while the Android MetadataRetriever returns correct bitrate.

### Example
[code]

### Version
` com.google.android.exoplayer:exoplayer:2.17.1`

[2022-05-20 02:37] yuzhidi commented on #10275
less code than JAVA
JAVA is boring

[2022-05-20 03:24] drayan85 opened #10277 "Concerns on `SimpleExoPlayer(SimpleExoPlayer.Builder)` deprecation"
**Before upgrading ExoPlayer 2.16.1**

We had a custom implementation by inheriting `SimpleExoPlayer(SimpleExoPlayer.Builder)` in order to override some of the `Player.java` interface methods which are implemented in `SimpleExoPlayer.java` to add some customizations on top of the default implementation.

Example:
[code]

**Now we are upgrading to ExoPlayer 2.16.1**

Since `SimpleExoPlayer.java` is

[2022-05-20 05:54] Mohammadfazel03 opened #10278 "sync subtitle"
i have subtitle and video but not sync. how to implement timing subtitle like faster or slower time subtitle ?

how to fixed that?

in the issue #6061 its have not correctly response

[2022-05-20 06:11] pozhilanbabu opened #10279 "test"

[2022-05-20 06:14] #10279 closed, assigned to nobody

[2022-05-20 06:16] aquila03 opened #10280 "How to decrypt AES-CBC Video/MPEG-TS stream in Android"
I'm trying to play AES-CBC encrypted mpeg-ts stream in exoplayer android, but exoplayer unable to find MediaExtractor
Any help on this is appreciated and I am quite a newcomer to coding in general so excuse me in advance.

iv: 627CBD824E93CDC9DA754BAC72DB2205
key: 6CC47461F65084AB5C5F90EDA1C2F9F0

sample stream:-
[https://drive.google.com/file/d/1QxkXQZWPaxAEeCqKeYS1g9MzIWBkIedG/view?usp=sharing](

[2022-05-20 07:00] imranbuet63 opened #10281 "Rebuffering Events over 250Mbps Wi-Fi Link"
Hi,

I am playing low latency live Dash video hosted at a server that is just one hop away from the phone (pixel 5, Exoplayer 2.16.1). The Wifi router has 250Mbps + BW available and has no congestion or network interruptions. The live version of the MPD is attached. We observed for the same MPD, Exoplayer playback experiences at least one rebuffer event during the playback. Out of 10 runs, this oc

[2022-05-20 08:42] icbaker commented on #10275
There's a couple of reasons we don't currently have any Kotlin in the library:

* **History:** ExoPlayer was started when Kotlin was a much less mature language than it is now - so at the time the natural choice was Java.
* **Library size:** Apps that depend on Kotlin see APK size increase by at least 40kB (after all minification). This is obviously not an issue for any apps that are already pulli

[2022-05-20 08:42] #10275 closed, assigned to icbaker

[2022-05-20 08:53] icbaker commented on #10273
I can reproduce this by adding the below to the demo app and then playing the `IMA sample ad tags > Single skippable inline` sample. Based on the suggestions in https://developer.android.com/guide/topics/ui/picture-in-picture.

In `AndroidManifest.xml`:
[code]

In `PlayerActivity.java`:
[code]

The skip button is visible in the PiP video but the touch event seems to be captured by the PiP UI.

[2022-05-20 09:33] icbaker commented on #10276
`-1` is [`Format.NO_VALUE`](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/Format.html#NO_VALUE) - so this suggests that ExoPlayer's `MetadataRetriever` didn't read a bitrate value from the provided media.

Have you read the caveats on [`Format.averageBitrate`](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/Format.html#averageBitrate) and [`Format.peakBitrate`

[2022-05-20 09:38] icbaker commented on #10276
I'm marking this as an enhancement to output these values from `MetadataRetriever`. Just to set expectations: we currently have no plans to work on this.

[2022-05-20 09:49] marcbaechinger commented on #10273
What would be the suggested fix for this?

AFAIK it is the intended behaviour that no playback user interactions are allowed in PIP mode.

https://developer.android.com/guide/topics/ui/picture-in-picture#gestures Says that there are only these actions expected in PIP mode:

* Single-tap the window to display a full-screen toggle, a close button, a settings button, and custom actions provided by yo

[2022-05-20 09:54] icbaker commented on #10277
We've removed the ability to subclass the `ExoPlayer` implementation because we believe you should be able to achieve all the customisations you need via the [decorator pattern](https://en.wikipedia.org/wiki/Decorator_pattern) instead. This is much easier to reason about, both for app developers and library maintainers, and helps to avoid some of the spaghetti code that can result from lots of cod

[2022-05-20 09:56] icbaker commented on #10278
https://github.com/google/ExoPlayer/issues/6061#issuecomment-503516228 is still correct. This is a duplicate of #854.

[2022-05-20 09:56] #10278 closed, assigned to icbaker

[2022-05-20 10:18] Bhupesh71 commented on #10273
I see the official docs from ExoPlayer explicitly call out that they do not encourage customisation of any such view

[2022-05-20 10:20] Bhupesh71 commented on #10273
yes @icbaker, I too tried adding pip to demo app, but no luck.

[2022-05-20 10:26] icbaker commented on #10280
ExoPlayer does not support directly playing encrypted MPEG-TS files out of the box (there is support for similar functionality as part of playing HLS streams, but it's not intended to be used for playing standalone `.ts` files).

The error you're seeing is likely because ExoPlayer can't recognise the file as a TS stream, because it's encrypted. You will need to customise the player in order to sup

[2022-05-20 10:33] icbaker commented on #10281
Based on the information provided, it seems reasonably likely that the rebuffers you're seeing are due to the data not being available from the server when the player requests it (the link speed is obviously only one factor, if the server can't provide the requested data fast enough then it doesn't really matter how fast the link is, you're still going to see a rebuffer).

See the discussion in ht

[2022-05-20 11:42] eloev commented on #10021
Have the same trouble, find only one solution - downgrade exoplayer to previous version in my project. In version exo 2.13.3 all work perfectly

[2022-05-20 11:43] besarmemishi commented on #10276
Yes, I meant  `[android.media.MediaMetadataRetriever](https://developer.android.com/reference/android/media/MediaMetadataRetriever)``

I am using Exo MetadataRetriever as it is extremly faster comparing to MediaMetadataRetriever.

When I receive `-1` which happens for most of `.mp3` files, also the [Format.averageBitrate](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/Format.htm

[2022-05-20 11:44] alexhorsa commented on #10021
Seems to work with surface type texture_view on exo player version 2.8.4

[2022-05-20 13:20] icbaker commented on #10257
@tonihei do you have a suggestion for updating the player's track selection to block the 'current' adaptively selected track in response to an error without needing to hunt through all the tracks for the track that 'matches' the `Format` from the renderer exception?

[2022-05-20 14:29] javaboboApp opened #10282 "About number of decoded frame rate"
Hi all,
I would like to know if we can calculate the number of decoded frames when using Exoplayer.

Thanks.

[2022-05-20 14:54] jruesga commented on #10124
Hi Marc, were you able to test the asset with the new license. Do you have any additional insight about the issue? Thanks in advance.

[2022-05-20 15:43] christosts commented on #9794
I finally managed to get my hands on a nVidia Shield Pro and reproduced the issue. I observed washed-out colors on a couple of TVs.

The TVs that I reproduced on have HDR10 support but the platform API [Display.getHdrCapabilities()](https://source.android.com/devices/tech/display/hdr) returned no HDR support at all. Interestingly, a Chromecast device connected on the same HDMI port can detect HDR

[2022-05-20 15:57] ojw28 commented on #10271
Please could you clarify what you're asking for. What do you want to be able to configure, and what do you expect the behavior to be on the affected device after you apply this configuration?

[2022-05-20 17:03] imranbuet63 commented on #10281
Thanks for the reply. We also suspected that. We thought data not being available from the server when the player requests it would always result in 404 media load errors. But for this case, we don't see such 404 errors. Would you explain how the player would adapt to avoid 404 errors? if possible please guide us to the piece of code that would help us to debug further.

[2022-05-20 17:17] nandovelazquez commented on #10268
Thanks for the quick response!

The methods `play()` and `pause()` work. It might be helpful if that behavior is somewhere in the documentation for future references.

Thanks again.

[2022-05-20 18:34] greypins opened #10283 "What's the reasoning behind most default implementations being attributed as `final`?"
Hello!

My team's looking into overriding a couple methods in a majority of the provided classes (such as `OkHttpDownloader` or `DefaultPlaybackSessionManager`) and were curious about the reasoning behind making these implementations `final` as it prevents us from both extending and overriding methods for minor tweaks.

Currently we can either fork the class implementation or the entire repo and e

[2022-05-20 18:39] EugenioLopez1 opened #10284 "Include "the SDK-generated session ID for the current ads session, as initiated by a stream request." within onAdsManagerLoaded's AdsManagerLoadedEvent object."
### [REQUIRED] Use case description
Currently, I do not see a reliable way to map a adsLoader.requestStream(stream) execution, to its respective response.

This issue becomes apparent in the following scenario:
- User selects content, initiating a stream request.
- Before onAdsManagerLoaded is triggered(in my testing this has taken all the way up to 7 seconds but usually takes around 750ms to 2000

[2022-05-21 06:36] gb103 opened #10285 "Caused by com.google.android.exoplayer2.video.MediaCodecVideoDecoderException Decoder failed: OMX.MTK.VIDEO.DECODER.AVC"
### ExoPlayer Version

2.15.1

### Devices that reproduce the issue

1. OPPO Reno2 Z
2. Xiaomi Mi A3
3. Asus ZenFone Max Pro M2 (ZB631KL) (WW) / Max Pro M2 (ZB630KL) (IN)
4. Infinix SMART 4 Plus

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Not tested

### Reproduction steps

1. Play a video, either start in the video or somewhere in the middle of

[2022-05-21 14:51] ingsaurabh opened #10286 "NullPointerException in TrackSelectionParameters$Builder"
### ExoPlayer Version

2.17.1

### Devices that reproduce the issue

Samsung
Motorola
Hisense

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

No

### Reproduction steps

Unable to reproduce reported in Crashalytics

### Expected result

Shouldn't crash

### Actual result

[code]

**VideoFragment @192**

`if (savedInstanceState != null) {

[2022-05-23 03:08] drayan85 commented on #10277
Thanks, @icbaker for your detailed response

[2022-05-23 03:08] #10277 closed, assigned to icbaker

[2022-05-23 07:30] icbaker commented on #10281
This really depends on your server implementation, and how it behaves when data is requested that isn't ready yet. It could just block the request until the data is ready, instead of returning a failed status - and this seems like a very reasonable behaviour for a live streaming server, where it's likely (as in this case) that a player will request data that isn't ready yet, and immediately failin

[2022-05-23 08:09] nitin0331 commented on #10285
any updated on this ?? I m also facing the same issue.

[2022-05-23 11:55] christosts commented on #10282
I'm assuming you're talking for video frames.

You need to get a reference to the [`DecoderCounters`](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/decoder/DecoderCounters.html) which contains this information. Please read through the class' javadoc to see which fields you need your app. `queuedInputBufferCount` holds the number of frames sent to the decoder and `renderedOutput

[2022-05-23 11:55] #10282 closed, assigned to christosts

[2022-05-23 12:07] icbaker commented on #10021
The fact that this issue only occurs on Android 12 and 'recent' versions of ExoPlayer suggests it might be related to ExoPlayer's use of [aynchronous interaction with `MediaCodec`](https://developer.android.com/reference/android/media/MediaCodec#asynchronous-processing-using-buffers).

ExoPlayer 2.16.0+ enables this mode by default on API >= 31 (Android 12) (as mentioned in the [2.16.0 release not

[2022-05-23 12:58] tonihei commented on #10281
Some further comments:
 - When you are using a `SegmentTimeline`, ExoPlayer assumes all listed segments are available for loading (=don't result in a 404 or similar) without checking any of the timing values.
 This isn't technically correct, because according to the DASH spec, we should check the end time of the segment and the `availabilityTimeOffset` property to understand when the segment becom

[2022-05-23 13:00] GouravSna commented on #10256
Hi @icbaker , I have shared the playable media over the email. Please take a look. Please use India VPN for the playback.

-Thanks

[2022-05-23 13:58] christosts commented on #10283
It's matter of design principles and, to my knowledge, for Java it's best described in [Effective Java](https://www.oreilly.com/library/view/effective-java/9780134686097/), chapters 18 & 19. Please refer to this book for a thorough explanation and reasoning.

Briefly, we try to make all our classes final unless we have good reasons that an app using the player will benefit by subclassing a specifi

[2022-05-23 13:58] #10283 closed, assigned to christosts

[2022-05-23 14:43] icbaker commented on #10256
The `MPD` file provided over email has no `<EventStream>` tags (as referred to in the title of this issue), it only has `<InbandEventStream>`. Is that expected?

I also am unable to play it without error - after a short time of playback proceeding (without video visible) playback always fails with an exception like below. I'm VPN'd to India, without that I see 403 errors immediately when attemptin

[2022-05-23 17:35] christosts commented on #10201
Can you please help us understand the issue better? Are you saying that:
- ExoPlayer should be playing Dolby Vision profile4 profile8 with HEVC
- ExoPlayer should fallback Dolby Vision profile9 with HEVC decoder too?
- ExoPlayer no longer uses the Dolby Vision decoder in the Lenovo device and instead is picking up the HEVC decoder? And you believe that's because of the change you mentioned ("Fix d

[2022-05-23 18:37] smhoz commented on #10285
any updated on this ?? I m also facing the same issue.

[2022-05-23 18:37] smhoz commented on #10285
any updated on this ? I'm also facing the same issue.

[2022-05-24 01:04] #10217 closed, assigned to icbaker

[2022-05-24 01:04] #9707 closed, assigned to kvillnv

[2022-05-24 08:51] zhangjiamenggogogo opened #10287 "When will it adapt to android 13"
Unfortunately we can't answer all questions. Unclear questions or questions with
insufficient information may not get attention.

Before filing a question:
-------------------------

- Ask general Android development questions on Stack Overflow
- Search existing issues, including issues that are closed
  https://github.com/google/ExoPlayer/issues?q=is%3Aissue
- Consult our developer website (https

[2022-05-24 10:01] christosts commented on #10287
Is there a specific Android 13 feature/change that you're interested in or is there something that breaks your app when using Android 13? Can you please share more specific information?

[2022-05-24 10:49] marcbaechinger commented on #10268
We added a section about 'ForwardingPlayer' to the developer guide that will be published with the next release.

[2022-05-24 10:49] #10268 closed, assigned to marcbaechinger

[2022-05-24 13:49] odkrys commented on #10267
@icbaker [icbaker](https://github.com/icbaker)
Hello.
I was just using the device as it works anyway.
However, starting today, I'm having trouble playing 4k 60fps SDR youtube videos on my device.

I posted a related thread(with video) on the Lenovo forum, but I honestly doubt if the issue can be patched by the manufacturer.
https://forums.lenovo.com/t5/Lenovo-Android-based-Tablets-and-Phablets/P11

[2022-05-24 17:57] ashutoshgngwr opened #10288 "Does HLS and DASH not support gapless transition between two media items/sources?"
Hi there!

I am trying to achieve a gapless transition between multiple HLS/DASH audio-only media items. I am queuing two media items to the playlist. When ExoPlayer transitions from one media item to another, there's a little glitch in the playback. I am not sure if this is by design, limitation or a bug.

I have set up a [minimal demo project](https://github.com/ashutoshgngwr/exoplayer-demo) wit

[2022-05-24 19:05] pankaj-giter commented on #8699
From Disney Streaming, we are interested to see this support in Exo Player given the performance and other benefits we will see.

Any updates on the timeline for supporting CMCD will be great.

[2022-05-24 20:12] sdaub commented on #8699
Starz has also been looking into CMCD for our apps.  Having support in ExoPlayer would give us a much stronger business case for taking it up internally.

It would be great to see this added to an upcoming release.

[2022-05-24 21:46] nicoweil commented on #8699
At AWS we see more and more customers asking us to support CMCD at the CDN level, as this is a key enabler for content steering (aka multi-CDN switching) and QoE improvements in general. We cannot do that without the cooperation of the player ecosystem, and that's where ExoPlayer footprint becomes decisive. Thanks in advance for adding CMCD support to a future release!

[2022-05-25 01:55] zhangjiamenggogogo commented on #10287
One is that For apps targeting Android 13 or higher, in each broadcast receiver of the app, explicitly indicate whether other apps can send broadcasts to it,as shown in the following code snippet

context.registerReceiver(sharedBroadcastReceiver, intentFilter,
    RECEIVER_EXPORTED);
context.registerReceiver(privateBroadcastReceiver, intentFilter,
    RECEIVER_NOT_EXPORTED);

i find code in AudioC

[2022-05-25 03:04] opgj123 opened #10289 "An error occurred while trying the switchTargetView method multiple times."
An error occurs when the switchTargetView method is called 20-40 times in a situation where there are 2 or multiple playerviews.
I want SwitchTargetView method executes without error no matter how many times I try.
The error log is attached.

[code]

[2022-05-25 03:30] fisherinnovation commented on #8699
Vimeo has been activly working with CMCD data in our web playback systems and would love to see support in our mobile application video players as well. +1 to this request!

[2022-05-25 06:53] ingsaurabh commented on #10286
I have updated the original post with more logs and info

[2022-05-25 08:36] icbaker commented on #10189
Closing due to inactivity.

[2022-05-25 08:36] #10189 closed, assigned to icbaker

[2022-05-25 08:38] icbaker commented on #10070
Closing because I don't think there's any questions remaining that are clearly-stated enough to be meaningfully answered.

[2022-05-25 08:38] #10070 closed, assigned to icbaker

[2022-05-25 08:40] icbaker commented on #10171
Closing because we don't want to firmly guarantee that your current approach will always work. If it works for now, that's great. In general though, as I said above, the underlying issue seems to be that your tests aren't quite observing the UI in the same way a real user would - and fixing that should make this question obsolete.

[2022-05-25 08:40] #10171 closed, assigned to icbaker

[2022-05-25 08:43] tonihei commented on #8699
This is still on our agenda and thanks for reiterating your interest. We'll post updates here once we have the implementation ready.

[2022-05-25 08:47] icbaker commented on #10080
Given that the issue no longer reproduces on the problematic channel, it seems reasonable to assume this issue is due to a problem with the media. As such, I'm going to close this as 'bad media, not reproducible' as I don't think there's a clear indication of a bug in the library.

[2022-05-25 08:47] #10080 closed, assigned to icbaker

[2022-05-25 09:30] acbegen commented on #8699
I would like to make comments with my two different hats:
1) First with my academic hat, we published two papers already showing the benefits of CMCD (and CMSD) in two different ACM conferences. There is also a paper published in the IEEE Communications Magazine. These are getting pretty good traction as many researchers in the field believe that CMCD/CMSD will bring us much anticipated capabiliti

[2022-05-25 09:41] christosts commented on #10286
Thank you for adding a longer stack trace. The NPE seems to thrown because the `DefaultTrackSelector` is trying to read the parameters from a `null` bundle.

[code]

In the code snippet you shared, can you add a check if `savedInstanceState.getBundle(KEY_TRACK_SELECTOR_PARAMETERS)` returns `null`? In that case, you should not try to create parameters from a bundle. It could be an issue of the acti

[2022-05-25 10:01] SharyRajpoot opened #10290 "Unable to build extension for ExoPlayer"
I am trying to build an ExoPlayer extension for FFmpeg and trying to add support for more audio formats but failed and can't make it work.
Below mentioned screenshots show how much I have done so far but...
Let me know what I am missing.

[CMD 1](https://i.stack.imgur.com/NX9VK.png)
[CMD2](https://i.stack.imgur.com/aMTff.png)

I got these after the above completion...
[Generated Folders](https://i

[2022-05-25 10:06] SharyRajpoot commented on #10290
Also i tried to run this command so i can build a native lib. but this also faild as i got no Android.mk or Appication.mk file..in ExoPlayer jni folder after ffmpeg build.

NDK vr21
FFmpeg v4.2

`${NDK_PATH}/ndk-build APP_ABI="armeabi-v7a arm64-v8a x86 x86_64" -j4 NDK_LOG=1`

**LOG:**
[code]

[2022-05-25 12:13] tonihei commented on #10273
Thanks for reporting! The ad overlay and its functionality are handled by the IMA SDK and they can't be customized. I reported this issue internally to IMA (internal ref: b/233870780) to understand how this case should be handled.

[2022-05-25 13:08] sridhard commented on #10141
@rrfrias Sorry for the late reply.

Yes we are still getting this issue. This is happening for multiple users. We have purchased ASUS Zenphone and we can easily reproduce in ASUS Zenphone.

We are using only security level L3. Also this is happening in some high end mobiles like OnePlus also.

As you said it is difficult to push patches.

If application is able to get the error, then we can handle

[2022-05-25 13:20] tonihei commented on #10219
Thanks for the reporting and the accurate reproduction steps. I can reproduce the issue and forwarded it to the relevant internal team (internal ref: b/233875661).

[2022-05-25 13:53] javaboboApp commented on #10191
@marcbaechinger I got a quick question if it cannot return a list of CDN in the same manifest. How do you recommend me customize Exoplayer in a way that I can set a list of CDNS ? before player start.. Problem here is that we are missing blacklisting logic if player is getting a list of CDN in different links..

I thinking in customize DASH-MANIFEST parser and set base url there..

[2022-05-25 15:22] christosts commented on #10021
I'm waiting to get access to a Samsung S10+ to try and repro. In the meantime, please follow the suggestion from @icbaker and disable asynchronous interactions with MediaCodec via `DefaultRenderersFactory#forceDisableMediaCodecAsynchronousQueueing`.

[2022-05-25 16:37] mayursfox commented on #8699
From FOX, we are interesting in seeing CMCD support in ExoPlayer as we believe this will be a key feature for monitoring QoE and for steering QoE improvements. We're actively engaged on enabling CMCD across other platforms in our ecosystem, would love to get an update on when ExoPlayer would offer support.

[2022-05-25 17:24] ingsaurabh commented on #10286
Thanks for response, I am currently using the suggested solution. I was concerned why it was happening following is code for saved Instance and rest of the code. I assume that its safe to move to production  with suggested solution

One more thing that activity lifecycle was at is and working fine, this appear to start after upgrading from 2.15.1 to 2.17.1

[code]

[2022-05-25 17:40] beka-discovery commented on #8699
Warner Bros Discovery.

We are looking for integrating CMCD into our playback platforms. We are very pleased that Shaka Player, Dash.js, and Roku players already have rolled out CMCD support.

Currently, I’m not aware of any good way of narrowing down Rebuffering cases without correlating Playback session to CDN logs/state.
CMCD support on ExoPlayer is highly appreciated. Since ExoPlayert is the m

[2022-05-25 17:43] dsparacio commented on #8699
From Paramount Streaming's perspective, we are also very interested in seeing CMCD implemented for Exo.

We have full support for this across all web. Our team at Paramount has implemented  the CMCD spec in HLS.js and Google Shaka Player.  There is also an implementation in Dash.js.  So, the most popular open source projects for web have it this feature in prod today. It would be nice to have cros

[2022-05-25 17:58] haudiobe commented on #8699
Broad support for CMCD is important. If Exoplayer adds CMCD; it will stay important - we are supportive of this feature.

[2022-05-25 21:08] pavelperc commented on #5993
`downloadManagerHelpers` is a HashMap with the class name as a key:
https://github.com/google/ExoPlayer/blob/7fe9ecc1c592b758e76f6b458e0dc43cce282e5f/library/core/src/main/java/com/google/android/exoplayer2/offline/DownloadService.java#L176

So I implemented two DownloadService classes - for sd card and for internal storage. Works perfectly.

[2022-05-26 00:33] ptsekov opened #10291 "prepare() followed by seekTo(0) for HLS event playlist causes playback to start at live edge"
### ExoPlayer Version

2.15.1

### Devices that reproduce the issue

Amlogic S905X4 Android TV device running Android 10
Amlogic S905X Android TV device (Mecool KM8) running Android 8

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Yes

### Reproduction steps

1) prepare() the player with HLS event playlist and position 0
2) optionally call seekTo(0)

[2022-05-26 00:42] ptsekov commented on #10291
We've recently moved from ExoPlayer 2.7.0 to ExoPlayer 2.15.1. It came to our attention that in certain cases the media would start playing at live edge where it used to play from the start of the live playlist before we upgraded to ExoPlayer 2.15.1. Basically what the code does is call prepare() with MediaSource (deprecated) followed by seekTo(0). I've also tested with the suggested replacement -

[2022-05-26 01:18] ptsekov commented on #10291
Just tested with a slightly modified version of the ExoPlayer demo from release-v2 branch in Android TV emulator running Android 9. The problem exists. I changed the demo to add a single media item to the player and pass position 0 to setMediaItem() .

[2022-05-26 06:15] sowmiya1697 opened #10292 "Android TV ads focus issue"
### ExoPlayer Version

Older (unsupported)

### Devices that reproduce the issue

Android TV and Firestick Tv

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Not tested

### Reproduction steps

1.Use simple exoplayer with hls url for playing videos
2. Insert client side ads url which are skippable, in the media source
3. Use pre roll ads
4. When we p

[2022-05-26 08:11] xeinebiu opened #10293 "[Question] Retrieving current Audio Focus from AudioFocusManager"
### Problem

While setting the `Audio Attributes` to the player

[code]

I am not able to find any way how to listen for the `handle focuss` flag change event.

### Question

Is there any property or listener to allow me to receive the flag used in the Exo player for handling audio focus?

### Other
[code]

[2022-05-26 10:19] krackjack234 opened #10294 "How to detect if external device is HDCP enabled before switching playback to the connected device"
Question
-------------------------

We want to know if exoplayer can detect an externally connected cable/device as HDCP enabled and then either switch to HD video or disable rendering if not supported.

We have seen below code to detect HDCP

[code]

We want to know the following

1. How will the player detect if an external device is HDCP enabled when a user switches playback from one device to

[2022-05-26 12:44] christosts commented on #10287
We intend to update the `registerReceiver()` APIs once the Android 13 SDK is finalized and we can update the compile SDK version.

I'm not sure we will update the storage permission, which is basically needed in demo app only and at the moment has its target API is set to 29 .

[internal ref b/197817693]

[2022-05-26 12:44] yuroyami opened #10295 "SSA-in-MKV doesn't support simultaneous subtitles"
### ExoPlayer Version

2.17.1

### Devices that reproduce the issue

- All devices I used. It's not device-relevant.
- Devices I used: OnePlus 8T, OnePlus 10 Pro, Xiaomi Mi11 Ultra, Asus ROG Phone 4, Red Magic 6, Xiaomi Redmi Note 8 Pro, Samsung Galaxy S21

- All of the aforementioned devices run Android 10 to 12.

### Devices that do not reproduce the issue

_No response_

### Reproducible in the

[2022-05-26 13:51] icbaker commented on #10295
For SRT (subrip), this is a duplicate of https://github.com/google/ExoPlayer/issues/4794.

For SSA/ASS, this should be supported since https://github.com/google/ExoPlayer/issues/6320 and there are tests that check this (and are passing). Can you please provide an SSA file that reproduces the issue on 2.17.1?

[2022-05-26 16:25] Tolriq commented on #10244
Bump on this one still occurs and no idea what I can do about it.

[2022-05-26 16:31] mayurk2 opened #10296 "Is default max bitrate for E-AC-3 too high?"
We were trying to play an E-AC-3 DASH stream but playback was not starting.
On adding multiple logs, we found that audio is not starting and due to that the video was also stuck.

It was a multi period DASH stream with first period of ~2.9s (Very short).
When we try to play longer period DASH stream, it was working fine. But we noticed that the playback was starting after feeding ~8 seconds of aud

[2022-05-26 16:55] christosts commented on #10286
Thank you for clarifying that. You need to update `onSaveInstanceState()` how to store the parameters, this is from 2.17.1:
https://github.com/google/ExoPlayer/blob/8129675b065bc98330ec775fb7a538c139793070/demos/main/src/main/java/com/google/android/exoplayer2/demo/PlayerActivity.java#L217

[2022-05-26 16:55] #10286 closed, assigned to christosts

[2022-05-26 18:16] ingsaurabh commented on #10286
So the issue is all about the key  change from `KEY_TRACK_SELECTOR_PARAMETERS ` to `KEY_TRACK_SELECTION_PARAMETERS ` as rest of the code is same, kindly confirm on this.

[2022-05-26 18:29] christosts commented on #10286
If I read your code snippets correctly, the issue is that you save the parameters as parcelable calling `outState.putParcelable(...)` and then you read the parameters as bundle calling `savedInstanceState.getBundle()` which returns null.

[2022-05-26 20:16] killmyrene opened #10297 "Resolving DrmSession ResourceBusyException exception"
Our new relic reporting have reported a huge number of occurrences with the ResourceBusyException. I looked at the documentation of it and it implies that its thrown due to concurrent drm sessions. So it probably makes sense to restart the player and/or the drm session manager right? Problem is we have already done it and it still throws that exception.

<img width="783" alt="Screen Shot 2022-05-2

[2022-05-26 21:50] hshapley opened #10298 "Selected speed option is not identified by TalkBack"
### ExoPlayer Version

2.17.1

### Devices that reproduce the issue

All devices tested so far: Pixel 2 XL (Android 11), Pixel 4 (Android 12), OnePlus Nord CE 2 Lite

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Not tested

### Reproduction steps

1. Enable TalkBack on the device
2. Open a video in ExoPlayer
3. Open the controls and select Settings

[2022-05-27 03:05] DinhLap96 opened #10299 "MPEGTS, Video played but no sound. Can someone correct me the code."
Video link : http://cdn.socolacdn.online:8080/VTV1/mpegts  (with audio, video)

After adding "FLAG_DETECT_ACCESS_UNITS", the video can play images but no sound, following the instructions from https://exoplayer.dev/troubleshooting.html#why-do-some-mpeg-ts-files-fail-to-play
#r2.17.1

Can someone tell me how to play the sound again.

                val dataSourceFactory: DataSource.Factory = Defau

[2022-05-27 05:23] SharyRajpoot opened #10300 "ExoPlayer FFmpeg extension error"
### ExoPlayer Version

2.16.1

### Devices that reproduce the issue

None

### Devices that do not reproduce the issue

None

### Reproducible in the demo app?

Not tested

### Reproduction steps

None

### Expected result

ExoPlayer is not able to play some audio formats although the video is working fine without audio.
So I tried to build an ExoPlayer extension with FFmpeg. After building and pu

[2022-05-27 05:45] SharyRajpoot commented on #10290
Build successful...no further action needed...

[2022-05-27 05:45] #10290 closed, assigned to christosts

[2022-05-27 05:45] ashutoshgngwr commented on #10288
I tried progressive media with AAC codec in a MP4 (M4A) container. There's a noticeable glitch during the media item transition. I am guessing it is a codec limitation and not necessarily an ExoPlayer issue.

[2022-05-27 05:48] SharyRajpoot commented on #10300
Got the issue...
It was something like I am using ExoPlayer 2.16.1 and its extension from the latest version build ...
So now when I have updated ExoPlayer to the latest version 2.17.1, the app runs successfully without any error and FFmpeg is also working perfectly...

[2022-05-27 05:48] #10300 closed, assigned to nobody

[2022-05-27 06:59] yuzhidi commented on #10275
thank you very munch !!!

[2022-05-27 08:52] KazukiSugiyama107 opened #10301 "An error may occur during streaming playback"
It doesn't happen every time, but when I play the streaming on a particular device, I get an error.
In some cases, you can play the same video file on the same device.
I think each device spec is related, but do you know when this error occurs?

- device: F-41A
- OS: Android 11

**Log**
[code]

[2022-05-27 08:53] zhangjiamenggogogo commented on #10287
you said that Util.java is used to in demo app？ Not for the developers？

[2022-05-27 09:13] christosts commented on #10287
You can use the Util class if you want. My comment was that, the use of READ_EXTERNAL_STORAGE in Util is needed in the demo app and we do not plan to update the demo app's target API soon, hence we might not update Util to use the Android 13 permissions immediately.

[2022-05-27 11:41] BucherTomas commented on #10162
Thank you, we are implementing something utilizing your suggestion.

It might take a couple of weeks before the app version is distributed to end users and we get some data for you, so please do not autoclose the ticket in the meantime.

[2022-05-27 12:38] christosts commented on #10291
I  can't tell exactly when the behavior changed since 2.7.0, but the current behavior is aligned with the HLS spec, to start at 3 target-durations back from the live edge( [Section 6.3.3](https://datatracker.ietf.org/doc/html/draft-pantos-hls-rfc8216bis-10#section-6.3.3) of the spec). You can use [EXT-X-START](https://datatracker.ietf.org/doc/html/draft-pantos-hls-rfc8216bis-10#section-4.4.2.2) in

[2022-05-27 12:38] #10291 closed, assigned to christosts

[2022-05-27 13:13] ptsekov commented on #10291
@christosts, thank you very much for providing the pointers - its much appreciated. I tried to look for similar issues but could not get the right terms to find those issues.

[2022-05-27 13:18] sonyliv commented on #10285
any update on this ?

[2022-05-27 13:32] christosts commented on #10293
The player does not propagate audio focus change events to the app, there's no listener/callback available. If the app needs/wants to listen to such events, the app needs to register its own `AudioManager.OnAudioFocusChangeListener`.

That said, can you please share a use-case why would you need to handle those events explicitly even when you ask the player to handle audio focus?

[2022-05-27 13:46] xeinebiu commented on #10293
To be consistent while programming, I always send commands to `ExoPlayer` such as `shuffle | repeat | speed ...` and only save the configuration into the database when `ExoPlayer` through the `Player.Listener` emits the events.
So, I assumed because even though I know what commands and flags I send to the player, the player still informs me about changes through Listeners and the same would be the

[2022-05-27 14:54] christosts commented on #10294
I believe the platform's [MediaDrm#getConnectedHdcpLevel()](https://developer.android.com/reference/android/media/MediaDrm#getConnectedHdcpLevel()) is what you need (also discussed in #8923).

I think that covers your question and I will close this issue, but feel free to re-open if I missed something.

[edit/update]

I don't think the player handles HDCP levels itself and let's the app handle thi

[2022-05-27 14:54] #10294 closed, assigned to christosts

[2022-05-27 14:54] marcbaechinger commented on #10124
Hmmm, I'm not able to reproduce this. I'm having a Pixel 5 and flushed with several OS versions like T and Android 12 as reported above. The movie is running since a couple of minutes on

[code]

It looks though that another codec is used with the Pixel 5/Android12 combination:

[code]

@rrfrias Can you take a look at this and let us know if this is a known issues and whether you have some hints f

[2022-05-27 15:05] christosts commented on #10296
The value of `E_AC3_MAX_RATE_BYTES_PER_SECOND` seems correct as per spec. If playback got stuck, that might be due to something else. Does the issue occur with the latest version of ExoPlayer (2.17.1 at the moment of writing this)? If yes, would you be able to share a link to the content so I can take a look?

If you're unable to share test content publicly, please send them to dev.exoplayer@gmail

[2022-05-27 15:08] marcbaechinger commented on #10244
Yeah, not sure where this is coming from I'm afraid. We had a similar complaint in #8639 where it was resolved by reviewing the app and [not calling the player from different threads](https://github.com/google/ExoPlayer/issues/8639#issuecomment-802965254). From your post I see you say you are doing this already?

That's actually everything I can say with the information available as I'm also not a

[2022-05-27 15:26] Tolriq commented on #10244
Yes every calls are on the mainthread ensured via couroutines.

The only case I don't enforce is inside the listener callbacks but the player is initialized with
[code]
So from my understanding the mainLooper will be used for the listener callbacks no? Or I should ensure that the listener is applied  on the wanted thread?

The percentage is very small but that app is new and just starts so it's ha

[2022-05-27 15:37] christosts commented on #10301
The error log says

The `NO_UNSUPPORTED_DRM` says  that most likely the device does not have the DRM capabilities to play this content.

In the general case, we need a bug-report obtained from the device obtained right after the error happens and a link to the content to test ourselves to provide more assistance. Please consider sharing those. Note however, this seems to be a device-specific issue

[2022-05-27 15:51] christosts commented on #10299
`mediainfo` says the audio encoding is "MPEG Audio Version 1 Layer 2", which I believe is not guaranteed to be supported by the Android platform.  Consider testing the specific content with the [ExoPlayer demo app](https://exoplayer.dev/demo-application.html) and inspecting the log output. Look out for logs produced by the `EventLogger`. You will be able to verify whether the audio format is suppo

[2022-05-27 16:27] christosts commented on #10298
I can see this also occurs on the demo app. @icbaker will you able to take a look whether there is something in the UI elements that need to change?

[2022-05-27 16:30] marcbaechinger commented on #10126
I tested this with several Cast devices and I never got it working to show two different images. I also can not repro that no background image is displayed. It actually always behaves the same which is it used the first image that I add as a `WebImage` and uses this as the thumbnail as well as the background image:

![0](https://user-images.githubusercontent.com/584321/170740035-49549b13-bec6-462c

[2022-05-27 23:31] anup1245 opened #10302 "Subtitles not displayed in CastPlayer"
Hi I was trying use cast player to cast video, but subtitles are not shown. I saw the code, and could not find a way to populate subtitles.
I tried to use Custom MediaItemConverter but it did not help

[code]
I see in the CastPlayer, the video is loaded using
[code]
That does not set any active track ids for subtitles. If we use
[code]
that sets `setActiveTrackIds`

Also using `StyledPlayerView` f

[2022-05-28 05:19] ahmadbajwa8282 opened #10303 "Android - OutOfMemoryError"
### ExoPlayer Version

2.17.1

### Devices that reproduce the issue

Redmi 9C Android 10
Redmi 6 Android 9

### Devices that do not reproduce the issue

POCO X3
Samsung A32

### Reproducible in the demo app?

No

### Reproduction steps

not Reproduced.

### Expected result

The video should be playing.

### Actual result

Fatal Exception: java.lang.OutOfMemoryError: pthread_create (1040KB stack) f

[2022-05-28 07:34] DinhLap96 commented on #10299
Thank you for your input on the "ffmpeg module". Add "ffmpeg","AV1", the sound is already there. But the running image is still not perfect, has noise, blue screen.

[2022-05-28 08:00] #10299 closed, assigned to christosts

[2022-05-28 22:29] domier commented on #10227
I spent some time today trying to get relevant logs from Jellyfin, but can't seem to get anything quite as direct as Plex.  Interestingly, when playback works in vibvlc the audio is decoded as aac, while for exoplayer it comes through as ac3.  The related logs are below:

Exoplayer:
`/videos/1d7c72d2-7c33-85a4-6f2e-79da850b09ae/stream.mkv

{"Protocol":0,"Id":"1d7c72d27c3385a46f2e79da850b09ae","Pat

[2022-05-29 21:41] suraneau commented on #3752
Hello @ojw28, hello community,

thank you for providing the information on how to contribute via design proposal.

We would like to share this proposal regarding ["Add support for thumbnail/preview images from AdaptationSets in DASH"](https://docs.google.com/document/d/17ZyjUDUNX5D8YZx4-DidcnsHk0SXVR1ZSZxnSSOrnJU/edit?usp=sharing) with you and the community (Google Docs document).
Our proposed imp

[2022-05-30 01:04] #10233 closed, assigned to marcbaechinger

[2022-05-30 01:04] #10221 closed, assigned to marcbaechinger

[2022-05-30 08:24] TomasSestak commented on #6168
Did anyone find solution?

[2022-05-30 10:10] marcbaechinger commented on #10126
I tested with the devices below with a `single image, MediaMetadata.MEDIA_TYPE_MUSIC_TRACK`:

* Sony Bravia
* Chromecast Ultra
* Chromecast Google TV
* Android TV Nvidia Shield
* Nest Hub

The result was the same on all TV screen devices like Sony Bravia, Chromecast Ultra. Chromecast Google TV and Nvidia Shield. In all cases the background image was displayed by only adding a single image while ad

[2022-05-30 10:32] marcbaechinger commented on #10302
This is currently not supported with `CastPlayer`. Accordingly `CastPayer` does not advertise this feature and the `StyledPlayerView` correctly does not offer setting text tracks.

Thanks for reporting. I'm closing as a duplicate of #8669.

[2022-05-30 10:32] #10302 closed, assigned to marcbaechinger

[2022-05-30 10:48] marcbaechinger commented on #10303
We need more info for this to be actionable. As this is an `OutOfMemory` I would suggest you try to reproduce this in the demo app and then create a bug report just after the issue happened in the demo app. Then you can send the bug report to [dev.exoplayer@gmail.com](mailto:dev.exoplayer@gmail.com) together with the URI to the media that produced that error.

This way you make the issue actionabl

[2022-05-30 11:14] icbaker commented on #10297
It's not clear what your question is, and there isn't really enough information here to provide detailed support.

If you're playing a playlist containing two consecutive DRM-protected items (with different keys) then ExoPlayer needs at least two DRM sessions, to ensure we can decrypt frames for the first item while feeding samples for the second item into the decoder. If your device only has a si

[2022-05-30 11:14] icbaker commented on #10265
Closing due to inactivity.

[2022-05-30 11:14] #10265 closed, assigned to icbaker

[2022-05-30 11:15] icbaker commented on #10247
Closing because I think the question was answered.

[2022-05-30 11:15] #10247 closed, assigned to icbaker

[2022-05-30 11:15] icbaker commented on #10280
Closing due to inactivity.

[2022-05-30 11:15] #10280 closed, assigned to icbaker

[2022-05-30 11:56] ingsaurabh commented on #10286
Even after fixing that, frequency on crash is reduced but its still happening

[2022-05-30 12:00] giovannyvelezalt opened #10304 "ExoPlaybackException out of the blue"
### ExoPlayer Version

2.16.1

### Devices that reproduce the issue

Lots of different brands and models that we couldn't see pattern to put here.

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

No

### Reproduction steps

We have been observing a frequent MediaCodecVideoRendererError since 2.16.1 in different devices, so we haven't been able to see

[2022-05-30 13:17] denis-solomko-deltatre commented on #10274
@icbaker
1. Yes we use DRM

**DRM creation**
[code]

**MediaSource creation**
[code]

**AdsMediaSource creation**
[code]

our AdsMediaSourceFactory
[code]

2. we trigger `seekTo` in a button click listener

[2022-05-30 13:37] chris-sloan commented on #10225
Thanks for the response.

I worked out that there were some keys being retained from the previous playback session, and so the download was only actually downloading the subtitles text content as a result. Because it happened almost immediately, it looked like the download was failing prematurely but in fact was completing correctly.

By ensuring those keys weren't retained following the completio

[2022-05-30 13:37] #10225 closed, assigned to tonihei

[2022-05-30 14:13] icbaker commented on #10174
Closing due to inactivity.

[2022-05-30 14:13] #10174 closed, assigned to icbaker

[2022-05-30 14:14] icbaker commented on #9998
Closing because the media is likely invalid.

[2022-05-30 14:14] #9998 closed, assigned to icbaker

[2022-05-30 15:02] icbaker commented on #10274
Are you able to try [depending on ExoPlayer locally](https://github.com/google/ExoPlayer#locally)? If so please try applying [this patch](https://github.com/google/ExoPlayer/files/8799290/0001-Ensure-DRAIN_ACTION_FLUSH_AND_UPDATE_DRM_SESSION-is-.patch.txt) on top of r2.17.1 and see if it fixes the issue.

We think there's a theoretical problem with the way we handle seeking after a format switch (

[2022-05-30 15:04] yoobi commented on #5993
@pavelperc do you have a small poc of this ?

[2022-05-30 15:18] brozikcz commented on #5993
I have a PoC with a custom `DownloaderFactory` and `SimpleCache`:

[code]
The `CustomSimpleCache` is used in the player as well.

[2022-05-30 15:31] matamegger opened #10305 "HlsMediaPlaylist.hasProgramDateTime is false when program date time is at epoch 0"
I noticed that `HlsMediaPlaylist.hasProgramDateTime` is set to `false` for some streams that actually have a `#EXT-X-PROGRAM-DATE-TIME` tag.
To be more specific, the property is set `false` if the date time is set to epoch 0 (i.e. `#EXT-X-PROGRAM-DATE-TIME:1970-01-01T00:00:00.000Z`). As an effect the `Window.windowStartTimeMs` will be set to "unset".

Before filing a bug report I want to check wit

[2022-05-30 15:56] giovannyvelezalt commented on #10304
Although we know that HTTP 400 errors are on the license server side we want to know from you the most common causes and also know the causes for the devices don't auto-recover when running into a provisioning error and what can we do to recover from such state.

[2022-05-30 16:40] killmyrene commented on #10297
So far I corrected the lifecycle of our DRMSessionManager in a way that i removed the extra prepare call, so that the DRM session gets released accordingly upon release. Would like to verify if this can be a good fix.

Im worried about this possibility that different apps would affect the possibility of this exception. Would it be ok to get clarification if other backgrounded apps would have the D

[2022-05-30 19:20] icbaker commented on #10297
I'm afraid I don't really understand what you're asking - but to be clear: DRM sessions can be obtained and used by any app, and there's legitimate reasons why an app would need to use one while not the foreground activity, for example playing DRM-protected music in a service. This is exactly the same as other global & constrained resources on the device, like hardware-accelerated codecs. If anoth

[2022-05-31 09:16] yoobi opened #10306 "ANR getCodec on Android 11 & 12"
### ExoPlayer Version

2.17.1

### Devices that reproduce the issue

69% Android 11
31% Android 12

### Devices that do not reproduce the issue

From Android 5.0 to Android 10

### Reproducible in the demo app?

No

### Reproduction steps

I couldn't reproduce the issue with my app nor the demo app

### Expected result

Shouldn't block main thread

### Actual result

[code]

[code]

### Media

My

[2022-05-31 13:59] tonihei commented on #10257
I think generally we aim to use the same `Format` everywhere so that `formatBeingRendered.equals(formatFromTracksInfo)` is always true.

However, there are some technical issues with that when using HLS because either video and audio are muxed together, or the full information isn't know when publishing the `TracksInfo`.  But in the rendering pipeline, the samples for audio and video are split up

[2022-05-31 14:12] ggabdol commented on #10257
Thanks for the confirmation. @tonihei Yes, we are using only HLS stream at the moment. I will assume `id` is effectively `@NonNull` and use it for the comparison of formats.

[2022-05-31 14:12] #10257 closed, assigned to tonihei

[2022-05-31 15:12] seanmccarthy1992 commented on #8699
+1 from Paramount's perspective, our goal is to offer a standardized data set for operations teams to troubleshoot playback issues. A subset of our players now have the rich CMCD data set which makes debugging last-mile and CDN issues more timely and enables us to get to root cause faster. It would be great if this data was provided across our native player platform stack as well.

[2022-05-31 16:04] tonihei commented on #10284
I'm not sure if we are the right recipient for this request? We only call `adsLoader.requestStream` within our newly added IMA-DAI extension and I don't see how these callbacks are ambiguous given they are encapsulated without our class.

Did you mean to file a feature request for IMA directly? If not, please clarify how you interact with our player and/or the IMA extension, thanks!

[2022-05-31 16:18] tonihei commented on #10292
I'm not entirely sure how the reproduction steps work - do you trigger the OK button on your remote only once or multiple time? It looks like the first press on OK does not skip the ad and instead refocusses on the entire video.

In any case, I believe this problem is outside of what we can control or fix. It's either an issue in your app UI or a problem in the overlay UI provided by IMA (which sh

[2022-05-31 17:09] pavelperc commented on #5993
@yoobi Made a sample for you:
https://github.com/pavelperc/ExoPlayerSdCardSample

[2022-05-31 17:09] tonihei commented on #10273
The IMA team says that PiP mode is not supported on Android for IMA ad playbacks and they recommend not using PiP during ad playback for now. If you feel that's a feature you'd like to have support for, it may be best to contact them directly  (or share the business reason for having this feature here so that I can forward it to them).

[2022-05-31 19:36] tagerjump opened #10307 "BandWidthMeter over estimates on slow network, causing adaptive streaming not working for audio-only playback"
### ExoPlayer Version

2.15.1

### Devices that reproduce the issue

Pixel 3a physical device
Pixel 4 emulator

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Yes

### Reproduction steps

- In demo app PlayerActivity, add some logs like
[code]
- throttle the network to lower than 150 kbps
    - For emulator: adb emu network speed gprs
    - For physi

[2022-05-31 22:22] rrfrias commented on #10304
Are you using the Widevine provisioning service or some other provisioning service? Can you check if the provisioning service URL is valid and if there are no network issues with the device when this error occurs?

Is there anything that stands out. Are you seeing this more often on some devices or OS's or even at a particular time (We can check for outages)? Are you able to reproduce it with your

[2022-05-31 22:25] rrfrias commented on #10162
Thanks @BucherTomas . Will wait and  keep it open till you have more information.

[2022-06-01 06:19] yoobi commented on #5993
Thank you ! appreciate a lot

[2022-06-01 08:10] louiewh opened #10308 "How DownloadService listen to download speed and percent progress per second"
Unfortunately we can't answer all questions. Unclear questions or questions with
insufficient information may not get attention.

Before filing a question:
-------------------------

- Ask general Android development questions on Stack Overflow
- Search existing issues, including issues that are closed
  https://github.com/google/ExoPlayer/issues?q=is%3Aissue
- Consult our developer website (https

[2022-06-01 08:59] rrfrias commented on #10141
Can we get another logcat/bugreport since you are able to reproduce? I took another look at the bugreport you sent. That device was running L1. The  "OEMCrypto_DecryptCENC Legacy 8996/660 Path" logs appear 10 seconds after license has been loaded, rather than immediately. I expect you would then see frame freeze rather than green screen/mactoblocking.

We are not seeing errors from the decrypt/dec

[2022-06-01 09:11] rrfrias commented on #10125
Sorry for the delay. We do have some services within mainland China but there is no test license URI available. I assume our partners in mainland China have found a way to access proxy.uat.widevine.com . Let us know if you have any furthur questions.

[2022-06-01 10:46] javaboboApp opened #10309 "Allow to add multiple base URLs manually."
### Use case description
Following new question : https://github.com/google/ExoPlayer/issues/10191 , I am wondering if it would not be a good idea to allow Exoplayer to set multiple **base url** manually. Some services do not return the variants in one single manifest file, we could have those for example in different CDNS.
In this cases actually we need to initialize the player each time plus so

[2022-06-01 10:58] christosts commented on #10306
This is an error reported from the platform, propagated through the player. There's not much the player can do to actually solve this. If the platform raises this error, it's likely in a bad state and the player won't be able to function.

May I ask: are the two stack traces reported at the same time (is the app initiating playback and download at the same time) or where they collected from differ

[2022-06-01 10:59] Stonos opened #10310 "OkHttp extension ships with a ProGuard rule that breaks newer versions of OkHttp"
### ExoPlayer Version

2.17.1

### Devices that reproduce the issue

All

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Not tested

### Reproduction steps

1. Add the following to your `build.gradle` file:
[code]
2. Add the following code somewhere:
[code]
3. Compile a release version of the app with `minifyEnabled true`

### Expected result

`getEf

[2022-06-01 11:16] yoobi commented on #10306
Oh my bad if it's in the platform I'll report on the issuetracker.

1. The stacks are reported at the same time. My user can view a video and download it at the same time
2. I'm seeing this issue only on Android 11+
3. I can't tell you if this error exist in the previous exoPlayer as I'm getting it only recently and I've been on 1.17.1 for a while

[2022-06-01 11:16] marcbaechinger commented on #10309
If you think that the `DashManifestParser` way is what you want to do, you can create your own subclass of it as it is not final and also most methods can be overridden. You can then inject your parser into the `DashMediaSource.Factory.setManifestParser()`.

I personally would be cautious with this approach.

The base URLs in a DASH manifest are interpreted as part of a hierarchy of base URLs. Thi

[2022-06-01 11:31] icbaker commented on #10269
Closing due to inactivity.

[2022-06-01 11:31] #10269 closed, assigned to icbaker

[2022-06-01 12:04] marcbaechinger commented on #10308
Please provide complete information as requested in the issue template. The issue template can be found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/question.md).

[2022-06-01 12:44] christosts commented on #10306
Based on the two stack traces
- [fist stack trace] the player's internal thread (not the app main thread) is blocked on `MediaCodecUtil.getDecoderInfos()`, specifically trying to create a `MediaCodecList`. `MediaCodecList` this is a platform component and is needed in order to get information about available platform decoders.
- [second stack trace] the DownloadHelper running on the app thread als

[2022-06-01 13:13] yoobi commented on #10306
To understand correctly, the second stack trace is causing an ANR because `MediaCodecUtil.getDecoderInfos()` is blocking it, so it has nothing to do with my own code ?

Below a screen of the multiple model getting the ANR
<img width="142" alt="Screenshot 2022-06-01 at 14 51 19" src="https://user-images.githubusercontent.com/17434735/171408600-f01b3693-206c-4dbb-a58f-b1eddd980395.png">

[2022-06-01 13:29] Bhupesh71 commented on #10304
@rrfrias provisioning calls are being made to an google api

```https://www.googleapis.com/certificateprovisioning/v1/devicecertificates/create?key=AIzaSyB-5OLKTx2iU5mko18DfdwK5611JIjbUhE&signedRequest=CskGEgRiBpC9GgQIABIAKpgGCgx3aWRldmluZS5jb20SEFFDT-KkTHY7zCyCai1u-aca4AOp2rMvCafKJb8piqSjKvXIxnsfQQJfXFVozoQQ-DbTqD3ze-EB8y8N4myeK...```

ExoPlayer tries it's best to get the device provisioned by ma

[2022-06-01 13:35] javaboboApp commented on #10309
Thanks for the answer @marcbaechinger . It looks like what I suggested is not the best approach for a generic case. But in my situation I guess I will need to ensure about how we get this **baseUrl** within our manifest.

I could read the manifest file and I saw that we always get:

<BaseUrl>/2</BaseUrl>

So assuming that manifest will have only 1 base URL (and if we confirm about this). It could

[2022-06-01 13:52] Faiz786-Hp-rgb opened #10311 "MPEG-DASH MPD file not playable on ExoPlayer"
Hi everyone, I have developed a 360-degree video player for android to play tile-based adaptive DASH MPD files using ExoPlayer on our android application. I am facing a problem in playing the video that I have tiled using the Kvazaar encoder and repackaged it using the MP4Box. When I stream the MPD file on the application, the media controller shows that the file is being played but the screen is

[2022-06-01 14:05] marcbaechinger commented on #10310
Thanks for reporting.

I can repro this behaviour with the steps from above. I can also confirm that removing the mentioned line from the proguard rules solves the problem. It seems to work with `4.9.0` as well when I remove this line.

I'm not sure why we had this line actually. We followed the advice on the okhttp README at that time when it has been added.

Will check with okhttp folks.

[2022-06-01 14:19] marcbaechinger commented on #10310
This page suggests we can just remove our proguard config at least for gradle: https://square.github.io/okhttp/features/r8_proguard/

[2022-06-01 14:27] Stonos commented on #10310
Thanks for taking a look!

I think that it should be safe to delete the `proguard-rules.txt` file from the extension, since nowadays OkHttp is bundled with [its own rules](https://github.com/square/okhttp/blob/master/docs/features/r8_proguard.md) which should get picked up by R8.

I believe that this is because at the time OkHttp didn't have embedded rules. The extension's rules were added on [201

[2022-06-01 17:41] yschimke commented on #10310
Yep - please remove any lines related to OkHttp from your file.

Basically since 3.11.0 our advice has been to rely on the embedded rules. So we stripped out all the other rules, and have taken advantage of that when moving files around.

[2022-06-01 17:55] ChenLauter opened #10312 "Download never start on emulator"
When I try to start a download with DownloadService.sendAddDownload(), I can received the callback on onDownloadChanged(), the download.state isDownload.STATE_QUEUED.But it never changed the state to STATE_DOWNLOADING or STATE_FAILED, it just  did nothing.The device is an android emulator, Pixel 5 API 30.How can I go next with it?

By the way, the download program can work on physical devices ....

[2022-06-01 18:57] casolorz opened #10313 "How can I set DataSpec.FLAG_ALLOW_GZIP for a fragment of an m3u8 video?"
I'm having an issue with a video server that always sends a `gzip` response even if `identity` was passed for `Accept-Encoding`.

I got it to work for the m3u8 manifest by manually setting the header to accept `gzip` but when ExoPlayer requests the fragment, it still sends `identity`.

I looked at the ExoPlayer code and on `OkHttpDataSource` there is this piece of code:

    if (!dataSpec.isFlagSe

[2022-06-02 07:44] rrfrias commented on #10304
Thanks for that information. If a provisioning failure occurs, are users able to successfully provision after one or more retries? A rough idea of the frequency for each of the number of retries before success will be helpful.

Also can you share a few provisioning URLs that failed with dev.exoplayer@gmail.com . I took a look at the bugreports they shared but the provisioning URL was not present.

[2022-06-02 10:17] KazukiSugiyama107 commented on #10301
Thank you for answering.
We plan to update the installed ExoPlayer in the near future, so if you still get the same error after the update, we'll ask you another question.
This issue will be closed.

[2022-06-02 10:17] #10301 closed, assigned to christosts

[2022-06-02 10:25] Bhupesh71 opened #10314 "CryptoException: Operation not supported - unable to play DRM protected contents on HUAWEI device"
### ExoPlayer Version

2.16.1

### Devices that reproduce the issue

On HUAWEI Nova 9
![Screenshot_20220602_192144_com android settings](https://user-images.githubusercontent.com/78247191/171647830-e5a89ca2-7481-444c-93a1-8030ea9d976f.jpg)

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Yes

### Reproduction steps

Playing any WIDEVINE protected cont

[2022-06-02 10:32] Bhupesh71 commented on #10314
In addition to the above info, device supports Widevine L1 security level, I am attaching DRM info and device specific info below.
![Screenshot_20220602_192202_com androidfung drminfo](https://user-images.githubusercontent.com/78247191/171648014-032b79ea-3345-4d6e-aa4e-756ab6a91ed0.jpg)
![Screenshot_20220602_192210_com androidfung drminfo](https://user-images.githubusercontent.com/78247191/1716480

[2022-06-02 16:24] Bhupesh71 commented on #10304
@rrfrias we don't have track for requests to provisioning URL's so can't be able to provide the URL's  that failed now. We see 5 to 10 customers everyday facing this issue without getting recovered there after. So it's not possible to provide info regarding frequency for each number of retries before getting success from provisioning call as they are still not able to recover from this issue.

[2022-06-03 10:44] nikolmamai opened #10315 "Android TV - 360 Videos - Explore video"
While at mobile devices I could explore 360 videos either with touch or gyroscope, I am not able to do the same at android tv boxes. Youtube handles this case of exploring video with arrow buttons of D-PAD. I wonder if there is an ExoPlayer implementation of doing this or if they have made their own implementation.

Thank you in advance!

[2022-06-03 17:28] jvl711 opened #10316 "Unexpected exception loading stream HEVC HDR10+"
### ExoPlayer Version

2.17.1

### Devices that reproduce the issue

Onn Android TV box
Pixel 3 XL
FIreTV 4k Stick

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

No

### Reproduction steps

Playing the file

### Expected result

Media playsback

### Actual result

I am making an assumption that the issue might be the HDR10+.  I have played back almo

[2022-06-04 13:56] MGoodaarzii opened #10317 "exo player wont start playing HLS on some Devices"
### ExoPlayer Version

2.17.0

### Devices that reproduce the issue

Android Box tesco TAB-100
Android TV Hisense A4 Series and some other android boxes.

### Devices that do not reproduce the issue

android TV emulator runs all HLS just fine.

### Reproducible in the demo app?

Yes

### Reproduction steps

replace the HLS  link in media.exolist.json
and run demo app and player wont start playing

[2022-06-04 19:57] zen-tek commented on #8699
Datazoom has been leveraging CMCD and related mechanisms for quite some time to link player QoE + CDN cache log  data for coordinate analysis. We're also leveraging it for experimentation with distributed request tracing across the streaming content delivery pipeline. This overlaps with our efforts within the Streaming Video Alliance. In general, we see CMCD as valuable observability tool that eve

[2022-06-06 05:20] ahmadbajwa8282 commented on #10303
Sorry for that. I did not forward any email related to this issue. This issue is only ouccers in production and I Don't know on which video it is producing OOM.

[2022-06-06 11:11] yoobi opened #10318 "StyledPlayerView: Support skipping of minimal progress bar step as controls timeout and disappear"
When filing a question:
-------------------------

I've noticed recently that the `<DefaultTimeBar />` and `<View id="@+id/exo_progress_placeholder" />` have a different show_timeout compared to the rest of the `exo_styled_player_control_view.xml` layout.
Is there a specific reason ? How can we show/hide everything all together.

When filing a question:
-------------------------

Simply use your o

[2022-06-06 11:29] tonihei commented on #3752
Thanks for putting together this proposal! Looks like you are addressing multiple missing parts that are needed to allow thumbnail previews / trick play. It's probably worth focusing on one specific part of the problem first to ease the design discussion and increase the chances we can merge the changes.

Note that there is a considerable overlap with #474, which tracks trick play / thumbnails for

[2022-06-06 12:17] tonihei commented on #10307
There are some known issues with our current bandwidth meter (see [analysis from 2019](https://docs.google.com/document/d/1e3jVkZ6nxNWgCqTNibqV8uJcKo8d597XVl3nJkY7P8c/edit#heading=h.2zer3ifwclzq)) and this may be the visible effect of some of them.

Depending on the throttling technique you used, the environment may also not be very realistic. Many throttling tools just ensure that the transfer of

[2022-06-06 12:37] tonihei commented on #8699
Just repeating what I already mentioned above: We are aware that there is a wide interest in this feature and we also understand why it is important to many of you. It's definitely on our agenda and we'll update this issue with commits and comments once we have them.

If you have a concrete implementation idea, we are also open to accept PRs. The request parameters can be extended in either `Defau

[2022-06-06 13:40] ojw28 commented on #10318
Are you referring to the way the progress bar collapses down to a thin line, and the fact there is then an additional delay before the progress bar disappears entirely? If so, that's the way our UX designers designed it to work, and it doesn't appear like it's possible to customize the behavior.

I will mark this as a low priority enhancement request, but note that our out-of-the-box UI components

[2022-06-06 13:51] ojw28 commented on #10313
I'm not really sure what you mean by this. If the server is already sending a `gzip` response even if it wasn't requested, why does having ExoPlayer request a `gzip` response change anything? I also think ExoPlayer should already be allowing m3u8 manifests to be gzipped, by default. This happens [here](https://github.com/google/ExoPlayer/blob/r2.17.1/library/hls/src/main/java/com/google/android/ex

[2022-06-06 13:52] yoobi commented on #10318
Yes this is what I'm referring to. I've been using the same custom layout since 2 years, it was working as intended but it seems to have changed recently while upgrading version.

Are you saying I shouldn't use `exo_styled_player_control_view.xml` to customize the UI the way I need it ?

[2022-06-06 13:55] ojw28 commented on #10315
Currently, you have to implement this yourself. Thanks!

[2022-06-06 13:55] #10315 closed, assigned to ojw28

[2022-06-06 14:16] #10284 closed, assigned to tonihei

[2022-06-06 14:17] EugenioLopez1 commented on #10284
@tonihei You're correct, I'll raise this with IMA. Thank you.

[2022-06-06 14:48] casolorz commented on #10313
Let me see if I can explain the issue better.

First let's ignore the manifest, that part seems to work fine, the issue is the segment request.

OkHttp on [BridgeInterceptor.kt](https://github.com/square/okhttp/blob/5c62ed796d05682c969b2636d3419b5bc214eb11/okhttp/src/jvmMain/kotlin/okhttp3/internal/http/BridgeInterceptor.kt#L70) sets a `transparentGzip` flag only if `Accept-Encoding` is `null` and

[2022-06-06 15:03] ojw28 commented on #10312
I tried reproducing this using our [demo app](https://exoplayer.dev/demo-application.html), and downloading worked fine for me (also using a Pixel 5 API 30 emulator). Does it reproduce for you with the demo app? If so, please provide more detailed and concrete reproduction steps. Thanks!

[2022-06-06 15:14] ojw28 commented on #10311
We do not support HEVC tile tracks I'm afraid.

[2022-06-06 15:25] ojw28 commented on #10316
Either something is wrong with the SPS NAL units in the media itself, or something is wrong with the way ExoPlayer is parsing them. If you could provide a piece of sample media, that would be by far the most efficient way for us to investigate. Assuming you'll be emailing it, please also update this bug once you've done so. Thanks!

[2022-06-06 16:31] jvl711 commented on #10316
@ojw28 I sent a 30 second clip to the email box.  The clip does throw the same error.  Let me know if you need any other info.

Thanks,
Josh

[2022-06-06 17:34] ojw28 commented on #10316
I'm not sure so it's a bit of a guess at this point, but this might have something to do with `previousNumDeltaPocs` not being updated in [this `if` branch](https://github.com/google/ExoPlayer/blob/r2.17.1/library/extractor/src/main/java/com/google/android/exoplayer2/util/NalUnitUtil.java#L779). I think it should be updated to `previousNumDeltaPocs = numNegativePics + numPositivePics` in this bran

[2022-06-06 17:36] ojw28 commented on #10316
@MarcusWichelmann - It looks like you may have contributed this code? I don't suppose you'd be able to take a look at this?

[2022-06-06 21:31] tbeyou opened #10319 "Low latency player start up"
Hi Explayer team,

I am trying to create a low latency player for live streaming with a custom `DataSource` with a `ProgressiveMediaSource`.
The stream is an audio and video MPEG-TS (so it uses `TSExtractor`).

Exoplayer already reads the stream.

Unfortunately,  I notice that Exoplayer reads the first frame, *random delay (0 to 1s)*, then it plays the stream. As I want my live stream to be low la

[2022-06-07 08:19] pineapplevine opened #10320 "ExoPlayer crashes when converted to aar."
Hello.

Some modules of ExoPlayer are combined into one aar and used in the app.
Since ExoPlayer r2.16.1, the app crashes when playing videos.
We speculate that the crash was due to a bug in R8.
What do you know from the following information?

The source code has been changed a little in order to convert it to aar.

The reproduction procedure is as follows
1. run "make_aar.sh" to create aar
2. mo

[2022-06-07 09:17] javaboboApp commented on #10309
@marcbaechinger Thanks again for the answer. If I decide to use **XSLT transformation** in which class in your opinion I should refactor. (In order to feed the player with a new XML file) ?.

[2022-06-07 10:47] vishnuchilakala commented on #9256
Any updates on this issue @andrewlewis ?

[2022-06-07 10:54] andrewlewis commented on #9256
I've asked for an update on the internal issue.

[2022-06-07 13:09] bulkinav opened #10321 "java.net.MalformedURLException: no protocol"
### ExoPlayer Version

2.16.1

### Devices that reproduce the issue

All devices

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Not tested

### Reproduction steps

When trying to play MPEG-DASH broadcast stream with filling the UTCTiming tag (without protocol), the follow exception appears:

` com.google.android.exoplayer2.upstream.HttpDataSource$Ht

[2022-06-07 13:44] ojw28 commented on #10321
Looking at the dash specification (ISO 23009-1 2019), the `@value` attribute of a `UTCTiming` element with scheme `urn:mpeg:dash:utc:http-xsdate:2014` is defined pretty unambiguously to follow:
[code]
where
[code]
which indicates that the `http:` prefix is required.

So your statement that it's considered normal to omit `http:` seems to be in direct contradiction to the specification. Please could

[2022-06-07 13:53] ojw28 commented on #10321
As an aside, I suspect that it will affect playback if the device's clock is incorrect. In particular, if the device's clock is fast then you may find that the player tries to request segments that aren't available yet. If the player can't understand the `UTCTiming` element then it's not going to be able to correct for this.

[2022-06-07 14:00] kuznetcoff777 commented on #10321
Player can fetch mpd with http or https. If user will take mpd via https and there is http link inside, then i suppose will be warnings in web console, that there is insecure requests among other secure requests. Thats why schema should be conisdered, if player takes https mpd then goes to https time source, if http mpd, then http time source.

It is very strange that only http in dash specificati

[2022-06-07 14:31] ojw28 commented on #10321
* I agree this is strange. ExoPlayer is also fine with `https:` (and indeed _any_ scheme that we know how to request).
* I still disagree with the original claim that completely omitting the scheme is considered normal though.

[2022-06-07 14:46] ojw28 commented on #10313
Yes.

Understood; thanks for the clarification!

If you accept gzip as an encoding for segments, isn't that potentially going to degrade performance when streaming from some  server(s) other than the one for which you're trying to fix this problem? Are you planning to apply your modification only for the specific server that you know to be problematic? It's a bit unclear what your proposed solutio

[2022-06-07 15:02] vishnuchilakala commented on #10312
Check if you are adding the requirement https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/scheduler/Requirements.html#DEVICE_STORAGE_NOT_LOW and if you are, removing it might fix this.

@ojw28  I have also encountered the same i.e. when the player think that the device storage is "low" and the requirement `DEVICE_STORAGE_NOT_LOW` is applicable, the download will forever stay in Que

[2022-06-07 17:11] casolorz commented on #10313
The first solution I tried is to always add `Accept-Encoding` as `gzip`, I haven't seen any performance degradation. Are you saying it will degrade performance because there isn't much of a point on gzipping an already compressed video segment?

My next attempt at fixing this might be to just add an interceptor that always does transparent unzipping if it detects the `Content-Encoding: gzip` heade

[2022-06-07 17:40] ojw28 commented on #10313
Yes. Gzipping media segments probably also has some negative impact on startup latency, because I think the client will need to download more of the first segment up-front before it can start playback. I'm not certain about this though!

On the plus side, a well configured server will likely avoid gzipping a media segment even if the client says that it will accept it, because the server should kn

[2022-06-07 21:56] ojw28 commented on #10320
This seems outside the scope of this issue tracking, since you're doing something custom (and not recommended) to cause the problem. It could be an R8 problem. It could also be that the way you're generating the single aar is not correctly picking up and merging all of the proguard rules defined by the individual modules.

[2022-06-08 06:21] Waldmann375 opened #10323 "A->B loop repeat mode"
Before filing a feature request:
-----------------------
### [REQUIRED] Use case description
I want my player to be able to play only some defined portion of a song in a loop. I mean, if a song has duration of 60 seconds, and the AB mode is toggled, I set point A to 10 seconds andpoint B to 40 seconds, and player plays only this portion of 30 seconds in a loop.

### Proposed solution
just some ass

[2022-06-08 06:22] kuznetcoff777 commented on #10321
But if to follow specification, then it is violation and exception should also be thrown that there must be only http.

Then why not to do processing of omitted scheme (//) as commonly used (for example in web environment)?

[2022-06-08 10:52] christosts commented on #10204
The upcoming 2.18 release will have a fix for this. The issue will be updated with a link to the commit once the dev branch is updated. The submitted fix covers not only DTS but other surround formats for which the player does audio passthrough playback and were affected by HLS chunkless preparation.

Thank you for bringing this issue to our attention and sharing test content. I will close this is

[2022-06-08 10:52] #10204 closed, assigned to christosts

[2022-06-08 12:57] tonihei commented on #10323
If I understand the request correctly, you'd like to continuously loop a section of the media between point A and B. Currently, you solve this with a `MediaController` implementation by observing the state and seeking when necessary.

The better solution for this is to set up the `MediaItem` you are requesting for playback with the correct parameters:
[code]
and then instruct the player to loop th

[2022-06-08 13:22] ojw28 commented on #10321
We consider the important part of implementing the specification to be that we correctly handle specification compliant content. We're less concerned about explicitly failing for everything that doesn't exactly adhere to the specification. Doing the latter requires adding so many additional checks into the code that it's not a good use of time or computational resources. If you go as far as trying

[2022-06-08 13:51] Bhupesh71 commented on #10314
Hi team, any update on this?

[2022-06-08 16:55] casolorz commented on #10313
It all makes a lot more sense now, thank you for the extra info. I'll either add gzip only for that server or implement further transparent unzipping.

[2022-06-08 16:55] #10313 closed, assigned to ojw28

[2022-06-08 17:10] rrfrias commented on #10314
@Bhupesh71, can you share a bugreport with [dev.exoplayer@gmail.com](mailto:dev.exoplayer@gmail.com)?

[2022-06-08 19:37] tagerjump commented on #10307
Could you verify this using your throttling technique? For me, I can repro this with both Throttly and adb command.

[2022-06-09 00:36] pineapplevine commented on #10320
Thank you for answering.
We understand that it does not seem to be an ExoPlayer problem.
This issue will be closed.

[2022-06-09 00:36] #10320 closed, assigned to ojw28

[2022-06-09 07:07] Bhupesh71 commented on #10314
@rrfrias sent bugreport to dev.exoplayer@gmail.com

[2022-06-09 09:44] tonihei commented on #10319
This looks like working as intended because, by default, the player waits until it has 2.5 seconds of buffered media before starting playback. The first frame is still shown as soon as it's decoded.

You can try to reduce the value (even down to 0), in `DefaultLoadControl`:
[code]

Note that this buffer is meant to reduce the chance of rebuffers immediately after starting playback. So reducing `bu

[2022-06-09 09:53] Vinz1911 opened #10324 "Play h264 stream from tcp from robomaster s1"
Hello,

i have the following problem, i currently develop my own control app for the DJI Robomaster S1. Now I want to catch the video stream from the Robot and display it in my app. From the DJI Docs I know that I get a raw h264 encoded stream from the robot which needs to be decoded to display, the stream is a tcp based connection. I didn't found a good solution, now I tried it with the Exoplayer

[2022-06-09 12:11] tonihei commented on #10307
Yes, we were also able to see similar issues (see the linked analysis doc above), in particular for small transfers. I just wanted to warn you that throttling is not necessarily a good replacement for an actually slow network as it may behave differently.

[2022-06-09 12:26] tonihei commented on #9945
Closing the issue, because the question was answered.

[2022-06-09 12:26] #9945 closed, assigned to tonihei

[2022-06-09 12:31] tonihei commented on #10104
If you got an ANR when generating the audio session id, I assume your system was somehow blocked doing other tasks at the time and never managed to generate the id. I agree this shouldn't happen, but I also don't think we can do something about it inside the player library because requesting an audio session id shouldn't take any time at all and the methods on system services are usually meant to

[2022-06-09 12:31] #10104 closed, assigned to tonihei

[2022-06-09 12:44] tonihei commented on #10057
Sorry for the delay in addressing this.

What do you think about using a shared single threaded `ExecutorThread` to release all the audio tracks? This was already suggested in #8728 as a potential solution. If we think this makes sense, we could even handle this inside `DefaultAudioSink` via a shared static `ExecutorThread` that can be kept alive as long as there are active audio sinks.

In #8728,

[2022-06-09 12:46] tonihei commented on #10220
Closing due to inactivity and because the original question can be addressed by the proposal above.

[2022-06-09 12:46] #10220 closed, assigned to tonihei

[2022-06-09 12:46] tonihei commented on #10248
This is fixed by the commit above.

[2022-06-09 12:46] #10248 closed, assigned to tonihei

[2022-06-09 12:47] tonihei commented on #10255
This is fixed by the commit above.

[2022-06-09 12:47] #10255 closed, assigned to tonihei

[2022-06-09 12:47] tonihei commented on #10258
Closing because the question was answered.

[2022-06-09 12:47] #10258 closed, assigned to tonihei

[2022-06-09 12:47] #10273 closed, assigned to tonihei

[2022-06-09 12:48] tonihei commented on #10281
Closing this issue because I assume the question was addressed with the answer above.

[2022-06-09 12:48] #10281 closed, assigned to tonihei

[2022-06-09 12:48] #10292 closed, assigned to tonihei

[2022-06-09 12:50] tonihei commented on #10307
I'll close the issue because it's not a specific bug we can address directly, but rather a generic improvement in bandwidth measuring we are already working on.

[2022-06-09 12:50] #10307 closed, assigned to tonihei

[2022-06-09 12:53] Xlcghs commented on #10032
Hi,
The stream was sent privately to dev.exoplayer@gmail.com to reproduce the problem.
FYI, To access this stream can you give me your public IP of the test machine to allow it.

Best regards,

[2022-06-09 13:10] tonihei commented on #10032
We can't really provide an IP address for accessing streams. Would it be possible to make this stream more accessible from any machine?

And please also let us know which device exactly you are using for testing, because this is likely a device-specific issue.

[2022-06-09 14:59] ThibautRf opened #10325 "Inclusion of Info tag with TOC in a CBR MP3 file makes seeking less precise"
Hello, I am part of the development team for the player library use to manage media in Radio France applications

We actually use ExoPlayer 2.16.1

As we didn't know if it's a bug or not, we decide to post it here first

Some applications users have reported problem on certain podcast (mp3) and after researching on the subject, we have identified
 media, where we can reproduce the problem

Reprodu

[2022-06-09 18:10] ojw28 commented on #10325
Looking at the first file, it seems the problem is caused by the `Info` header at the start of the file. It's a bit hard to find definitive documentation, but there's a description of it [here](https://www.codeproject.com/Articles/8295/MPEG-Audio-Frame-Header) in Section 2.3.1 (which describes the `Xing` header, but it's basically the same thing).

The `Info` header in this particular file include

[2022-06-09 18:38] SaurabhOfficial commented on #10255
Thank you !

[2022-06-09 19:28] AleSoHe opened #10326 "MISB/KLV Metadata Support over Transport Stream"
I've been searching in both the documentation and the source code for metadata support.

I need to get KLV metadata that comes within a MPEG-TS stream over either UDP or RTSP.

Is retrieving this metadata possible with ExoPlayer?

[2022-06-09 20:03] tbeyou commented on #10319
Thanks for your great answer.

I already did that (I set all setBufferDurationMs parameters to 0 - not sure it is appropriate though). It reduces latency to ~1s. Unfortunately it is not low enough for my usage.

As it is already playing smoothly, I don't think rebuffering happens here.

I am trying to reach a latency far under 1s aka ultra low latency. Unfortunately, DASH and LL-HLS can't guaranty

[2022-06-09 21:18] baiqindotfubotv opened #10327 "How to add custom request headers to ads tag request with ima extension"
I am using the ima extension for client side ad insertion support:
[code]
The network request sent to "www.adstag.com" by the ima extension has the following request headers:
[code]

We need to replace the request headers in the ads tag request. However I don't any apis to do that. Is this possible through ima extension sdk?

[2022-06-09 22:41] juramire commented on #8473
Works!

[2022-06-10 01:04] #10015 closed, assigned to tonihei

[2022-06-10 01:04] #9501 closed, assigned to tonihei

[2022-06-10 01:04] #7665 closed, assigned to marcbaechinger

[2022-06-10 07:19] halizton commented on #10057
Yeah, a single threaded `ExecutorThread` approach sounds good! Thanks for addressing.

[2022-06-10 07:43] ThibautRf commented on #10325
Hello,
Thank you for the super clear answer and pointing out "MPEG Audio Frame Header".
If you have answer for the other question, i am a taker!
Best regards!

[2022-06-10 09:05] christosts commented on #9794
Update: we will change the codec selection to pick the Dolby Vision decoder only when the TV display capabilities indicate Dolby Vision support, otherwise fall back to the HEVC decoder (HDR10). We have not planned this so I cannot share when this will be implemented. In the meantime, the player does offer API hooks for an app to override the codec selection logic and apply the fallback, as I descr

[2022-06-10 09:20] christosts commented on #10293
When playback is stopped due to loss of audio focus, [`Player.Listener.onPlaybackSuppressionReasonChanged`](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/Player.Listener.html#onPlaybackSuppressionReasonChanged(@com.google.android.exoplayer2.Player.PlaybackSuppressionReasonint)) will be called with reason `Player.PLAYBACK_SUPPRESSION_REASON_TRANSIENT_AUDIO_FOCUS_LOSS`.

The even

[2022-06-10 09:20] dev-platong opened #10328 "Significant frame drop is occurred by HLS stream in multiple devices using playback speed at higher 1.0"
### ExoPlayer Version

2.17.1

### Devices that reproduce the issue

* fire tv stick 4K(AFTMM) running Fire OS 6.2.8.1
* SONY BRAVIA(KJ-43X8500H) running Android9

### Devices that do not reproduce the issue

* Pexel3 running Android 12

### Reproducible in the demo app?

Yes

### Reproduction steps

Reproduction at demo but Some changes is required so I create a branch at https://github.com/dev-p

[2022-06-10 09:29] dev-platong commented on #10328
I sent bug report to dev.exoplayer@gmail.com.

[2022-06-10 09:50] dev-platong commented on #10328
Info:

If you play video by BRAVIA, frame drops are also reproduced by mp4 and dash.

If you play video by Fire TV stick 4K, frame drops is reproduced by hls only.

[2022-06-10 10:06] ojw28 commented on #10325
Correct

Correct that this indicates a server-side issue. The HLS media playlist has somehow jumped backward in time, which is not allowed. A typical cause of this might be the server having to restart HLS streaming from scratch for some reason (e.g., because the process responsible for doing it crashed). But it could also be caused by other bugs in the server-side HLS implementation too.

[2022-06-10 10:13] ojw28 commented on #10328
Were you playing at 2x speed with Shaka? If not, it's unclear whether this is relevant, unless you also see frame drops with ExoPlayer at 1x speed.

Over to @christosts who might have more input on the broader issue.

[2022-06-10 10:15] ojw28 commented on #10326
This is not something we support, sorry!

[2022-06-10 10:15] #10326 closed, assigned to ojw28

[2022-06-10 10:21] vishnuchilakala commented on #10285
I guess this is similar to #9256 ?

[2022-06-10 10:42] dev-platong commented on #10328
Sorry you are right! I've tested this problem at normal speed by shaka. Excuse me.

But I tested hls video by using [hls.js ](https://hls-js.netlify.app/demo/) at double speed, it works fine. So there have been still an issue.

[2022-06-10 10:47] dev-platong commented on #10328
More info:

I found [this post](https://www.reddit.com/r/bravia/comments/pjbypf/2x_speed_on_youtube/).

Maybe hardware restriction causes bravia's playback problem. Because mp4 and dash stream also have a drop frame symptoms.

But fire stick's problem maybe caused by HLS parser implementation. Because it works fine by mp4 and dash stream.

[2022-06-10 11:31] ojw28 commented on #10324
Sounds like an interesting project! Unfortunately, I'm not sure it's something we're going to be able to provide much support for; given it's unclear what type of stream you're dealing with.

I wonder whether [this project](https://github.com/DJI-Mobile-SDK-Tutorials/Android-VideoStreamDecodingSample) would be a better one to look at, and/or be a better place to ask for some help seeing as they're

[2022-06-10 11:32] ojw28 commented on #10324
It also looks like there's an official DJI SDK (which the project linked above depends on):

https://github.com/dji-sdk/Mobile-SDK-Android

[2022-06-10 11:59] tonihei commented on #10328
This is a known issue that some TVs don't handle playback speeds != 1.0 very well. In particular, we know it's an issue for Sony Bravia and Amazon Fire TV sticks. (e.g. #7683, #8560 or #9773). Previous analyses showed that the problem seems to depend on the how the codec is configured and what media is being played. For example, it seems to be more prevalent for 50fps content. In any case, the pro

[2022-06-10 12:28] utonautes opened #10329 "Crash in OfflineLicenseHelper"
### ExoPlayer Version

2.17.1

### Devices that reproduce the issue

Any. devices.

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Yes

### Reproduction steps

1. In _Widevine DASH (MP4, H264)_ -> _HD (cenc)_ in `media.exolist.json`, modify the `drm_license_uri` to `https://proxy.uat.widevine.com/1234567890proxy?video_id=2015_tears&provider=widevine_

[2022-06-10 13:02] Tolriq commented on #10244
So even with adding the listener on the proper thread the issue still occurs.

Can you please at least add a proper message to the exception for debug purpose?

[2022-06-10 13:25] dev-platong commented on #10328
Oh I missed these issues. Thanks you for your quick response!
I will try https://github.com/google/ExoPlayer/issues/7683#issuecomment-699036483.

[2022-06-10 13:25] #10328 closed, assigned to tonihei

[2022-06-10 13:52] ThibautRf commented on #10325
All my thanks for the super quick reaction and clear answers again!

[2022-06-10 14:20] Bhupesh71 commented on #10304
Hi Team, Any suggestions on next course of actions for this issue?

[2022-06-10 14:48] ssenanayake opened #10330 "Live Stream playback failure on PTS rollover"
### ExoPlayer Version

2.16.1

### Devices that reproduce the issue

Android Devices and FireOS Devices

### Devices that do not reproduce the issue

Other platforms like Apple, Roku does not exhibit this issue

### Reproducible in the demo app?

Yes

### Reproduction steps

1) Play the non-DRM Live content
2) Let it play for around 12 hrs so that a PTS rollover occurs.

In the Live stream HLS man

[2022-06-10 15:17] icbaker commented on #10330
This looks like it's in the same bit of the world as https://github.com/google/ExoPlayer/issues/7462.

Can you confirm that the stream includes a `.vtt` file with an `X-TIMESTAMP-MAP` with a negative `MPEGTS` value, i.e. something like:
[code]

My (possibly incorrect) interpretation of the HLS spec discussing the wrapping of 33-bit PES timestamps is that it treats the PES timestamp as an unsigned

[2022-06-10 15:38] ssenanayake commented on #10330
Yes, the MPEGTS value is negative as in

WEBVTT
X-TIMESTAMP-MAP=LOCAL:00:00:00.000,MPEGTS:-5202976

I have emailed the adb Bugreport along with the Google DAI ID for the stream for testing.

Here's the master manifest as of right now....

[code]

and

#EXT-X-MEDIA:TYPE=SUBTITLES,GROUP-ID="subs",NAME="English",DEFAULT=YES,AUTOSELECT=YES,LANGUAGE="eng",URI="https://dai.google.com/linear/hls/pa/event

[2022-06-10 17:32] marcbaechinger commented on #10327
That's currently not possible in a declarative way I'm afraid. The `MediaItem` only has a field for the ad tag URI only and headers can't be declared.

You can use the `setMediaSource(adsMediaSource)` approach to set an `AdsMediaSource` instead of a `MediaItem`. The `AdsMediaSource` has a constructor that takes a `DataSpec` to define how to load the ad tag. So if you instantiate the `AdsMediaSourc

[2022-06-10 18:50] baiqindotfubotv commented on #10327
@marcbaechinger I think these requests are made by this sdk to request VAST ad data:
`com.google.ads.interactivemedia.v3:interactivemedia`
The ads tag url needs some company domain request headers to serve customized VAST data. For example, user-agent, device-type, device-location etc. These headers are also used for analytics purposes.

[2022-06-12 08:16] Waldmann375 opened #10331 "More control over state listeneres"
### Use case description
I can never know if any listeners `Player.Listener` are already connected to a `MediaController`, or how many there are already.

### Proposed solution
All we have now is `addListener()` and `removeListener()`. But I would like also to have:
 - `clearListeners()` - remove all listeners, so I know for sure there are none
 - `listeners` property, holding a list of listener o

[2022-06-13 01:04] #7072 closed, assigned to tonihei

[2022-06-13 07:16] sureshsivalingam01 opened #10332 "how to add custom play and pause icon for exo_play_pause button id"
I'm using StyledExoPlayer and custom controls .
Play Pause button icon relies on style of the button.  But I want to add custom play pause icon for exo_play_pause btn.How to do it?

<ImageButton
            android:id="@id/exo_play_pause"
            style="@style/ExoStyledControls.Button.Center.PlayPause"
            android:layout_width="wrap_content"
            android:layout_height="wrap_cont

[2022-06-13 08:28] ojw28 commented on #10325
No worries. Do you want us to keep this issue open to consider:

There's no guarantee that we'd decide to do anything. I'm just wondering whether you'd like us to look at this further, or whether you're planning a fix on your side anyway. Thanks!

[2022-06-13 08:28] #10324 closed, assigned to ojw28

[2022-06-13 08:30] ojw28 commented on #10318
We are moving away from officially supporting XML based layout customization, because it didn't work particularly well, and because it was very difficult to keep working across releases.

If you have custom UI requirements you're probably better off creating your own components (optionally by forking the ones that ExoPlayer provides out-of-the-box as a convenient starting point).

[2022-06-13 08:33] ojw28 commented on #10312
Ah. That's a bit confusing, although if the emulator is indicating low storage then that would be working as intended from ExoPlayer's perspective.

[2022-06-13 08:33] #10311 closed, assigned to ojw28

[2022-06-13 09:29] SaurabhOfficial commented on #9968
@rrfrias do you still need some info? the number of errors has dropped though from the point when I reported the issue, but we still keep getting a few events every day, certainly not the old state of things.

[2022-06-13 09:56] marcbaechinger commented on #10327
Thanks for the context - makes sense. How would you add these headers if you'd use the ad SDK directly without the ExoPlayer extension?

[2022-06-13 11:09] ahmadbajwa8282 opened #10333 "Player is accessed on the wrong thread."
### ExoPlayer Version

2.17.1

### Devices that reproduce the issue

Vivo V2027 Android 12 (SDK 31)
Vivo V2130 Android 12 (SDK 31)
Vivo V2132 Android 12 (SDK 31)
Vivo X80 Android 12 (SDK 31)
Vivo V2146 Android 11 (SDK 30)

### Devices that do not reproduce the issue

POCO X3 Android 12 (SDK 31)
Samsung A32 Android 11 (SDK 30)
Infinix Note 7 Android 10  (SDK 29)
Sony Xperia ZX3 Android 10  (SDK 29)

[2022-06-13 14:18] firsthubgit opened #10334 "Large audio files in wav format are not supported, Unsupported WAV format type: 3"
### ExoPlayer Version

2.16.1

### Devices that reproduce the issue

HuaWei P30 pro
Harmony OS2.0

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Yes

### Reproduction steps

download the file  and play it

https://drive.google.com/file/d/1SsuZVVhPGcN8cqxZtnwGkFj6y4tC0iW_/view?usp=sharing

### Expected result

can play it

### Actual result
[code]

#

[2022-06-13 14:25] firsthubgit commented on #10334
https://drive.google.com/file/d/1SsuZVVhPGcN8cqxZtnwGkFj6y4tC0iW_/view?usp=sharing
the song is very beautiful

[2022-06-13 14:45] icbaker commented on #10330
We added support for negative `MPEGTS` values in the `X-TIMESTAMP-MAP` header in https://github.com/google/ExoPlayer/pull/7098. In the comment thread of that PR @ojw28 and @matamegger tentatively concluded that only positive values are really allowed under the spec (since MPEG-2 PES timestamps are unsigned) but they also agreed that handling negative timestamps wouldn't make handling positive time

[2022-06-13 17:59] baiqindotfubotv commented on #10327
There doesn't seem to be a method doing that in the `AdRequest `class that ima extension is using. But I never used it directly so I am not sure if I missed anything.

[2022-06-14 01:04] #10263 closed, assigned to icbaker

[2022-06-14 01:04] #10251 closed, assigned to tonihei

[2022-06-14 06:34] dino-saurabh opened #10335 "Unsupported Operation Exception on API level 29 and 30 devices."
Describe your question in detail.
-------------------------
We are facing some issues while AudioTrack creation only on API levels 29 and 30, It throws UnsupportedOperationException while AudioTrack creation, Initially we suspected it to be an issue with offloaded playback but turning it off also did not help with this error.
this is the stack trace of this exception.
[code]
it seems the exception

[2022-06-14 06:57] JuliaJakubcova opened #10336 "Multiple audio source synchronisation"
I need to play multiple audio tracks simultaneously and in sync. I found older issues with similar requests:
https://github.com/google/ExoPlayer/issues/2855
https://github.com/google/ExoPlayer/issues/4261
and many stack overflow questions about this (like this one https://stackoverflow.com/questions/41128276/android-exoplayer-2-play-multiple-sounds-audio-simultaneously-mergingmedia), so I'm sure m

[2022-06-14 10:43] bgolob opened #10337 "ExoPlayer is not returning DVB subtitles"
I'm using ExoPlayer 2.16.1 and I'm trying to play an HLS stream with DVB subtitles. Till now I could retrieve these subtitles using this =
`player.currentTracksInfo.trackGroupInfos.filter { it.trackType == C.TRACK_TYPE_TEXT }.`
But since ExoPlayer 2.17.1 this line of code returns an empty list for the same stream. Was there any change that affects DVB subtitles?

[2022-06-14 11:18] parunagiri opened #10338 "DefaultDrmSession: DRM session error, java.lang.IllegalArgumentException: Failed to restore keys"
### ExoPlayer Version

2.14.2

### Devices that reproduce the issue

* Nokia G20 running Android 11
* Realme 5 Pro running Android 10

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

No

### Reproduction steps

1. Play a video
2. Download the video
3. Add two or more videos in download queue
4. Verify whether all downloaded
5. Try to play the download

[2022-06-14 14:16] baconz opened #10339 "Short rebuffering events on period transitions when audio/video do not align"
### ExoPlayer Version

2.17.1

### Devices that reproduce the issue

All devices, analysis was performed on an AndroidTV API 29 emulator.

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Yes

### Reproduction steps

1. Play the attached manifest using the demo app on any version 2.11.0 or later
2. Wait for the period transition at 0.66s
3. Observe tha

[2022-06-14 14:33] JessHolle commented on #5428
Any progress here???

[2022-06-14 16:08] antoniofpnmartins opened #10340 "Support for delayed focus gain"
### Use case description
When a media app requests audio focus, it might not be able to get it right away because the focus is "locked" by another app (_e.g._, when a music streaming app requests audio focus during a phone call). Such use cases can be handled within Android through the use of delayed focus gain (see https://developer.android.com/guide/topics/media-apps/audio-focus#delayed-focus-ga

[2022-06-14 16:57] marcbaechinger commented on #10333
This is something you need to fix in your app I think.

Can you check out [this section from the Developer Guide](https://exoplayer.dev/hello-world.html#a-note-on-threading) that explains the issue you need to solve.

[2022-06-14 17:38] marcbaechinger commented on #10332
The ID of the drawables used by the UI compoanents are defined [here](https://github.com/google/ExoPlayer/blob/release-v2/library/ui/src/main/res/values/drawables.xml#L41). You can define your own drawables in your app that override the same ID to customize the icons.

Please also check [this section in the developer guide](https://github.com/google/ExoPlayer/blob/release-v2/library/ui/src/main/re

[2022-06-14 18:27] stevemayhew commented on #6284
@ojw28  and @tonihei  we are seeing this issue with 4k content, widevine at 60fps on their puck and dongle style devices.  These are AmLogic SoC.  It is over temp that is triggering the CPU throttling after which we see frame drops.

Our solution restricts the highest frame rate and/or resolution using existing constraint based track selection.   Note, we are using the latest async render mode whi

[2022-06-14 18:29] stevemayhew commented on #6284
P.S.  are their CTS tests that cover correct implementation of Android Q thermal API's?

[2022-06-15 02:24] ssenanayake commented on #10330
@icbaker For the VTT captions during live we use a custom solution. But that uses each TS chunk and a Google Service to extract the captions and create the VTT on the fly for Live content. That custom solution is what is created the negative MPEGTS value.

We are exploring alternatives/fixes.

[2022-06-15 04:18] ahmadbajwa8282 commented on #10333
https://exoplayer.dev/hello-world.html#a-note-on-threading This site can’t be reached

[2022-06-15 06:47] firsthubgit commented on #3751
how to support ape with ffmpeg?  please help me

[2022-06-15 07:04] chladto1 opened #10341 "DRM - onKeyStatusChange is not called"
### ExoPlayer Version

2.15.1

### Devices that reproduce the issue

Any device that supports DRM L1

### Devices that do not reproduce the issue

This behavior is expected for any device that does not support DRM L1. For example Android emulator.

### Reproducible in the demo app?

Yes

### Reproduction steps

Method `onKeyStatusChange` is not called for DASH manifest that contains clear and DRM

[2022-06-15 07:34] Roc-egg commented on #10100
Have you solved it

[2022-06-15 07:59] tonihei commented on #10319
Despite instructing the player to start immediately, there will still be some delay in parsing the file, extracting data, setting up a decoder, etc. I don't usually expect this to take a full second though. It could also be related to your TS stream itself. have you tried one of the flags suggested in https://exoplayer.dev/troubleshooting.html#why-do-some-mpeg-ts-files-fail-to-play?

They are defi

[2022-06-15 08:47] marcbaechinger commented on #10333
Works for me. Please try again.

[2022-06-15 10:45] okycelt opened #10342 "Live DASH starts playing minutes behind live edge"
### ExoPlayer Version

2.17.1

### Devices that reproduce the issue

* Pixel 3a (Android 12)
* Pixel 4a emulator (Android 12)
* Changhong GIU6770 (Android 9)
...

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Yes

### Reproduction steps

We've recently migrated from 2.11.8 to 2.17.1 and we've been seeing strange inaccuracies in connection with live

[2022-06-15 10:58] icbaker commented on #10274
I'm closing this because I hope it's fixed with the commit linked above, which will be included in the next release.

[2022-06-15 10:58] #10274 closed, assigned to icbaker

[2022-06-15 10:58] MattAshland commented on #3751
Hi there,

APE is supported by FFMpeg.

Here are a couple links:

https://askubuntu.com/questions/376684/how-to-use-ffmpeg-to-convert-ape-to-mp3

https://github.com/FFmpeg/FFmpeg/blob/master/libavformat/ape.c

Cheers,
Matt

[2022-06-15 11:14] icbaker commented on #10330
If your custom code is generating the `X-TIMESTAMP-MAP` header, then can you try changing it to always write positive `MPEGTS` values? Either by parsing the original binary 33-bit MPEG timestamp representation in an unsigned way (so the number is never negative in your system), or if you don't control the parsing you can transform a signed, negative representation of a 33-bit number to the bit-equ

[2022-06-15 11:36] icbaker commented on #10338
We didn't receive this email - please check to ensure it didn't bounce back, and when you re-send it make sure you use the subject `Issue #10338`, and please update this issue to indicate you've re-sent it.

[2022-06-15 11:46] denis-solomko-deltatre commented on #10274
@icbaker I sent a build for our qa team, but unfortunately, they haven't checked it yet as they have a lot of other work to do. They will be able to test it only next week. Please don't close the ticket now, I will write an update later.

[2022-06-15 12:16] icbaker commented on #10341
The repro steps you've provided don't allow the player to select any DRM-protected tracks when playing this URL: `https://1798253129.ssl.cdn.cra.cz/POC/dref-hddrm-sdclear.ism/.mpd?python_pipeline_config=multikey`

This is because the resolution limit you've set is lower than the lowest-resolution DRM-protected track.

This results in the player only selecting clear tracks, as you can see in the lo

[2022-06-15 14:39] icbaker commented on #10329
Thanks for reporting - I think this is a result of `OfflineLicenseHelper` constructing a `Looper` internally and passing that as the `playbackLooper` to `DefaultDrmSessionManager#setPlayer`. `DefaultDrmSessionManager` then expects every subsequent interaction to happen on this thread. `OfflineLicenseHelper` breaks this expectation when it directly calls `DefaultDrmSessionManager#getError` from wha

[2022-06-15 14:47] firsthubgit commented on #3751
How to make exoplayer support ape?  my music player use the exoplayer to play music~~~

[2022-06-15 14:50] MattAshland commented on #3751
That's what I'm asking for here.  The APE format has been around for over 20 years and compresses better than any alternative.  The APE SDK builds fine on Android.  I just need someone to connect the dots.

[2022-06-15 18:20] chladto1 commented on #10341
But `https://1798253129.ssl.cdn.cra.cz/POC/fullkey-cenc-dref.ism/.mpd?python_pipeline_config=multikey` contains two DRM tracks with different requirements. When you try it, you will get keys for both, even when second track has higher resolution than the limit is. I expected the same behavior in both cases.

I need to know whether DRM tracks meets requirements to play the content on the device whi

[2022-06-15 19:04] athithamarnathcbs commented on #10330
1. 33-bit MPEG timestamp representation is not an unsigned integer and this timestamp representation is dictated by the encoder's PCR.

2. adding `2^33` to the webVTT for s segment that has negative PTS values after the rollover will thereby stop the captions playback.

Just like PTS rollover handled in the stream decoder, this adding `2^33` logic needs to be handled in the webVTT parser in the st

[2022-06-15 23:23] Royal201709 opened #10343 "Vimeo video support."
SimpleExoPlayer doesn't support playing vimeo videos using Jetpack Compose ?

[2022-06-16 05:32] ahmadbajwa8282 commented on #10333
This doc says "ExoPlayer instances must be accessed from a single application thread." But I wanted to use Exoplayer within the wallpaper service. Can you help me out with how I can use it without having this exception "Player is accessed on the wrong thread"?

[2022-06-16 08:25] marcbaechinger commented on #10333
Like you quote: All methods need to be called on that same thread on which you have created the player.  So if you create the player in your `initExoMediaPlayer ` then you need to make sure to call all methods on that thread that is creating the service.

You need to make sure that the player is not accessed from another thread. If this happens you need to create a [`Handler`](https://developer.an

[2022-06-16 09:05] AlexSkvor opened #10344 "Black Screen Player.STATE_ENDED"
### ExoPlayer Version

2.17.1

### Devices that reproduce the issue

Any device

### Devices that do not reproduce the issue

Not found

### Reproducible in the demo app?

Not tested

### Reproduction steps

1. Play video till the end
2. When video is at STATE_ENDED press Home or Recent Apps system button
3. Return to the app

### Expected result

When return to the app the last frame is shown
Jus

[2022-06-16 09:43] Lunkers opened #10345 "Incorrect profile/level info reported in MediaCodecInfo"
### ExoPlayer Version

Older (unsupported)

### Devices that reproduce the issue

Pixel 1 running Android 10, running 2.12.3

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Not tested

### Reproduction steps

Attempt to play the manifest linked below in exoplayer.

### Expected result

The media plays successfully, i.e chooses the AVC variant

### Ac

[2022-06-16 09:44] ahmadbajwa8282 commented on #10333
Can you explain with code exmaple?

[2022-06-16 11:40] ItamarStern1 opened #10346 "Audio quality is very low"
### ExoPlayer Version

2.14.2

### Devices that reproduce the issue

Pixel 2 android 13 (android studio emulator)

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Not tested

### Reproduction steps

---

### Expected result

The audio sounds good and clear.

### Actual result

I have the problem just in android 13, the audio quality is very low.

###

[2022-06-16 14:04] icbaker commented on #10341
I see 6 video tracks in this stream, all of which contain widevine info, and 4 of which meet the resolution restriction in the repro steps and are therefore selected for playback by the player:
[code]

When playing the stream with the resoltuion restriction provided, and the 4 playable tracks described above, I see a single callback `onKeyStatusChanged` with the following `KeyStatus` values in the

[2022-06-16 14:26] mis-kcn opened #10348 "Playback error: UnrecognizedInputFormatException"
### ExoPlayer Version

2.17.1

### Devices that reproduce the issue

- Android TV emulator running Android 9
- Custom STB Box

### Devices that do not reproduce the issue

None

### Reproducible in the demo app?

Not tested

### Reproduction steps

1. Play the attached media file

### Expected result

The media plays successfully

### Actual result

Playback crashes with this following stack trace

[2022-06-16 14:29] mis-kcn commented on #10348
I've sent the M3U8 URL and adb bugreport produced by zip file at dev.exoplayer@gmail.com

[2022-06-16 15:37] denis-solomko-deltatre commented on #10274
@icbaker I've received info from ous QAs. The bug is not reproducible with this approach. Thanks!

[2022-06-16 15:41] denis-solomko-deltatre commented on #10274
@icbaker Could you tell me when the next release will be?

[2022-06-16 16:43] mis-kcn commented on #10348
Closing as the problem is not with the exoplayer, but with the url link.

[2022-06-16 16:43] #10348 closed, assigned to nobody

[2022-06-16 18:20] eloev commented on #10021
I tried solution by @icbaker on Samsung S10(with Exynos, Android 12, which had problems), and it solve this. Thank's a lot

[2022-06-17 02:43] VeiZhang opened #10350 "disable audio track or volume"
I want to ask whether there is a way to enable or disable audio track, make it like subtitle disable and enable.
Because some video volume can't be control, so I want to have the switch.

[2022-06-17 06:40] VeiZhang commented on #10350
Additionally, some video played in Android TV device, but ExoPlayer can't set its volume, its volume controlled by TV, so how can I control its volume?

[2022-06-17 10:09] Ste-RH opened #10351 "AES URI and key overriding"
I have a question around AES.  Regarding an HLS manifest, the key server URI defined, and the key that is returned/used from that keyserver...

Is it possible to interject and override either/both the URI and the returned key?  If not, would there be a route via custom overriding classes to achieve overriding? Something like #6338 maybe, and then use a modified copy of Aes128DataSource to achieve

[2022-06-17 12:03] tonihei commented on #10288
They may have all the same source, but the output is definitely different. The relevant difference is that the mp3 files define gapless metadata that allows us to play them gapless, whereas the other two streams have no gapless metadata resulting in an audible transition between the tracks.

[2022-06-17 12:03] #10288 closed, assigned to tonihei

[2022-06-17 12:12] tonihei commented on #6284
As @ojw28 pointed out in the comment above, we should probably implement "down-switching based on user visible performance degradation" first before using this signal. Using number of (recent) frame drops as a signal allows to switch down based on the actual playback degradation. So a stream that plays just fine on an overheated device despite throttling can continue to do so, whereas a stream tha

[2022-06-17 12:41] tonihei commented on #10339
I can't reproduce this on an actual device, just the emulator. At the transition point of the periods, the renderer needs to release and re-initialize the video codec because the maximum input size changed. The actual device handles this fast enough to not cause any buffering, but the emulator is too slow and needs to enter the `BUFFERING` state until the decoder is ready again. This all seems to

[2022-06-17 12:41] #10339 closed, assigned to tonihei

[2022-06-17 13:23] tonihei commented on #10319
Closing this as the initial question was answered and we can't provide more detailed customization advice than already given above.

[2022-06-17 13:23] #10319 closed, assigned to tonihei

[2022-06-17 13:26] tonihei commented on #10323
I assume the question was answered and I can close this issue.

[2022-06-17 13:26] #10323 closed, assigned to tonihei

[2022-06-17 13:30] tonihei commented on #10331
Could you clarify why you need this exactly and what kind of use case you are trying to solve?

In our current model, the lifecycle management of the listener should be the responsibility of the code who added the listener to the player. If you could just remove other listeners without their knowledge, you may easily break other code that relies on the listener being attached to the player.

[2022-06-17 13:31] stevemayhew commented on #6284
Excellent, this is pretty much what we have done externally with the
standard override track selection API.  On the device we are seeing this
happen it is the ***@***.*** FPS that causes the stress, my hypothesis is that
this is because frame rate increases are what affect the CPU and it
contributes the most to over temp

We’ll keep you in the loop how it goes in production and watch for and test

[2022-06-17 13:40] tonihei commented on #10335
It's hard to say without knowing further details what went wrong exactly, but some part of the media configuration or the system state prevents the `AudioTrack` from being created. It could be that you are trying to play an audio format in a passthrough or offload mode that isn't supported on this device for example. To understand the problem in more detail, we would need example media, the device

[2022-06-17 13:57] SaurabhOfficial commented on #10335
we are also trying to get the bug report from any user who is facing this issue, we will share if we get some reports over the mail. The highest errors were on Sony Bravia VH2, and VH1.
meanwhile, I was going through the implementation checking for attributes that are additional for API level 29 and which show some transient behavior since it's not 100% reproducible some users of similar devices a

[2022-06-17 14:04] tonihei commented on #10335
Sounds unrelated, but it's really not possible to say what can cause this without more information from these devices (ideally a bugreport that is likely to give some indication).

This definitely indicates a device-specific problem.

[2022-06-17 14:10] tonihei commented on #10336
I think #4261 has the most thorough analysis of the problems and potential solutions to this question. Unfortunately, there isn't an easy way to do this at the moment, but I'll keep this open to track it as an enhancement.

@andrewlewis Assigning to you, as you might be the one working on this in the future. Feel free to duplicate to another issue if there is already a better tracking enhancement

[2022-06-17 15:03] tonihei commented on #10334
This file uses 64-bit float PCM data, which isn't supported by the Android platform. You can only play WAV files with integer PCM data in various bit configurations or 32-bit float PCM data.

[2022-06-17 15:03] #10334 closed, assigned to nobody

[2022-06-17 15:05] tonihei commented on #10337
Can you provide sample media here or to dev.exoplayer@gmail.com (with "Issue #10337" in the subject) so that we can reproduce? Without additional information we can say if this is working as intended or if it's a bug.

[2022-06-17 15:13] tonihei commented on #10344
I think you need to release the player when going into background so that resources can properly be reclaimed by the system. When you come back to foreground, you can then restart playback with a new player instance. The black screen is likely an artifact of this as the system was automatically reclaiming some data. Only when you come back to the app quickly, the decoded frames are still there.

P

[2022-06-17 15:13] #10344 closed, assigned to tonihei

[2022-06-17 15:14] tonihei commented on #10346
Please provide example media and any reproduction steps that allow use to reproduce the issue.

[2022-06-17 15:17] tonihei commented on #10350
You can change the volume of your stream by calling `Player.setVolume()`. Alternatively, you can also try to use `Player.setDeviceVolume()` or `decreaseDeviceVolume()`/`setDeviceMuted` to overwrite the device volume (for all streams).

[2022-06-17 15:25] tonihei commented on #10351
I'm not entirely sure which part you want to override, but there may be multiple options depending on the exact desired outcome:
 - Provide a custom `HlsPlaylistParserFactory` to `HlsMediaSource.Factory`. This can wrap the default implementation and modify any `HlsPlaylist` values before returning the playlist to the player.
 - You can modify the network requests being made just-in-time by using a

[2022-06-17 15:28] tonihei commented on #10343
I'm not sure what you are asking exactly. If you have a direct media URL, it should be playable with ExoPlayer. But I doubt you can just play any existing Vimeo video as these likely don't offer access to the underlying video URL.

There is also no support for Jetpack Compose at the moment. Improving this is tracked by #9654.

[2022-06-17 16:18] ojw28 commented on #10316
I have a candidate fix for this. We will merge it next week.

[2022-06-17 16:39] tonihei commented on #10342
The manifest contains a `UTCTiming` element with `"urn:mpeg:dash:utc:http-head:2014"`, which isn't supported by ExoPlayer at the moment. So the player falls back to the device clock as the time source.

Not sure if related, but the specified time source also produces a 404 when I try to access it manually.

When using a phone with a properly synced clock, I still see the apparent 1-2min offset. Ho

[2022-06-17 18:06] Royal201709 commented on #10343
I meant I have a Vimeo video url and want to play that in ExoPlayer. It's possible? Because I tried multiple times but could not achieve it.

[2022-06-17 20:42] mis-kcn opened #10352 "Cannot read HLS subtitles when using chunkless preparation"
### ExoPlayer Version

2.17.1

### Devices that reproduce the issue

Android TV emulator running Android 9

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Yes

### Reproduction steps

1. Add the M3U8 link that I'll send over the email in one of the samples in media.exolist.json
2. Watch the stream
3. No captions detected

### Expected result

There s

[2022-06-18 05:02] firsthubgit commented on #10334
what should i do to use the ffmpeg to support the 64-bit float PCM data

[2022-06-19 03:34] tpuserhp opened #10354 "When will the FFmpeg extension need to rebuild and its aar be regenerated?"
Unfortunately we can't answer all questions. Unclear questions or questions with
insufficient information may not get attention.

Before filing a question:
-------------------------

- Ask general Android development questions on Stack Overflow
- Search existing issues, including issues that are closed
  https://github.com/google/ExoPlayer/issues?q=is%3Aissue
- Consult our developer website (https

[2022-06-19 06:02] ItamarStern1 commented on #10346
I opened your sample app from https://github.com/google/ExoPlayer.
I ran the "demo" app on android studio.
In the list I clicked on Playlists -> Audio -> Video -> Audio.
On a device with api 32 - this works fine.
On a device with api 33 - this sounds bad.
Thank you

[2022-06-19 07:44] thor2002ro opened #10355 "Decoder failed: OMX.amlogic.mpeg2.decoder.awesome2"
### ExoPlayer Version

2.17.1

### Devices that reproduce the issue

Xiaomi Mi TV Stick 4k running Android TV 11

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Not tested

### Reproduction steps

trying to play Live Channels TV from network server with TVheadend using PVR Live app , basically it just streams using a m3u list
there are 2 types of cha

[2022-06-19 15:53] ponthamaya commented on #10310
@marcbaechinger any update on this?

[2022-06-19 18:24] david2tm commented on #8435
Hi,
I'm not sure if it's a right place to write this -- but I want to try some coding related to SSA/ASS.
The list of stuff these subtitles can do is extensive. So I started looking at the code (mind it is the first time I'll try coding for Android), but I got env set-up already -- with example of subtitles which are not working as they should (looking at VLC rendering) and I want to make them wor

[2022-06-20 01:04] #10271 closed, assigned to ojw28

[2022-06-20 02:43] louiewh opened #10356 "AudioSink By Override by myself instead DefaultAudioSink"
I override the DefaultAudioSink.

this  is my AudioSink
AudioOutput is a abstract  class
and  the AudioOutput of AudioCompatSink  param is using AudioTrack。
But  there are some issure.
1.  video can't play
2. audio play some time , then stop

[code]

**This is my AudioOutput code**

[code]

[2022-06-20 02:50] louiewh commented on #10356
The log uses DefaultAudioSink

2022-06-20 10:53:05.528 29397-29397/com.example.karaoke D/KaraokeAudioSink: setListener:com.google.android.exoplayer2.audio.MediaCodecAudioRenderer$AudioSinkListener@5996b8e
2022-06-20 10:53:05.536 29397-29427/com.example.karaoke D/KaraokeAudioSink: setAudioSessionId:681
2022-06-20 10:53:05.608 29397-29397/com.example.karaoke D/KaraokeEventLogger: surfaceSize [eventT

[2022-06-20 02:51] louiewh commented on #10356
The log uses AudioCompatSink
I find mediaPos and getCurrentPositionUs is exception

2022-06-20 10:55:00.715 29542-29542/com.example.karaoke D/KaraokeAudioSink: setListener:com.google.android.exoplayer2.audio.MediaCodecAudioRenderer$AudioSinkListener@a38bd42
2022-06-20 10:55:00.724 29542-29573/com.example.karaoke D/KaraokeAudioSink: setAudioSessionId:697
2022-06-20 10:55:00.795 29542-29542/com.exam

[2022-06-20 02:53] Usman-Click opened #10357 "BUG WITH EXOPLAYER DURATION"
HI,
I started experiencing this problem last month after i downloaded a sample movie from this site (https://www.thenetnaija.net/videos/movies),

the video format is MP4 but the length is showing something like (82:45:24) hours while the actual length of the movie is (1:56:01) hour and it happen to all the videos from that website,

But the remaining videos that i downloaded from other sites are p

[2022-06-20 06:52] BucherTomas commented on #10162
Still working on this...

[2022-06-20 07:59] icbaker commented on #10274
3 days ago :)

https://github.com/google/ExoPlayer/releases/tag/r2.18.0

[2022-06-20 08:13] okycelt commented on #10342
Providing a `UTCTiming` element with a shifted value seems to have worked around the issue. Correcting the segment definitions would probably be the right way to go, but it seems that the "shift" is caused by a source issue which we are not in control of.

It's not necessary for us. We've moved to a different scheme.

@tonihei, thank you

[2022-06-20 08:13] #10342 closed, assigned to tonihei

[2022-06-20 08:13] #10193 closed, assigned to marcbaechinger

[2022-06-20 08:31] tonihei commented on #10343
For general format support questions, please see https://exoplayer.dev/supported-formats.html. Otherwise, please provide more details (like the video URL) if you want us to investigate further.

[2022-06-20 09:17] antoniofpnmartins commented on #10340
Hey @tonihei,

Thanks for taking a look at this issue.
I was working on a PR containing a kind of "minimal" implementation of this feature: basically, I thought about using a boolean flag that could be propagated from the ExoPlayer builders all the way to the AudioFocusManager. Does that sound like a reasonable approach to you or did you have something more elaborate in mind?

I already have the c

[2022-06-20 09:44] icbaker commented on #10352
I'm unable to reproduce the behaviour described. I played the link provided and I saw the following tracks in logcat (i.e. one text track):

[code]

This matches the manifest file, which declares a single `#EXT-X-MEDIA` with `TYPE=CLOSED-CAPTIONS`.

This single text track is selected automatically by the player, because it has `DEFAULT=YES,AUTOSELECT=YES`. I see captions appear on the screen.

[2022-06-20 09:46] icbaker commented on #10354
You should rebuild the extension every time you upgrade ExoPlayer. It may happen to work without rebuilding, because nothing changed on the boundary between the library and the extension - but we can't guarantee that, so the safest option is to always rebuild. Not rebuilding could result in some very surprising and hard to debug behaviour.

[2022-06-20 09:46] #10354 closed, assigned to icbaker

[2022-06-20 09:51] icbaker commented on #10356
I'm afraid we don't have resources to answer questions of the form "I've implemented interface X, it doesn't work, what have I done wrong?".

If you want to implement a relatively complicated and low-level interface like `AudioSink` then I'm afraid it's really up to you to do most of the debugging on any problems you encounter.

We **are** able to assist with very specific questions about implemen

[2022-06-20 09:55] how8570 opened #10358 "Set DefaultTimeBar focusable="false" in .xml not working"
### [REQUIRED] Use case description
I was dev a TV app
When I using dpad, DefaultTimeBar take my focus and take out the onKeyDown events.
I just want display a simple progress bar there.

### Proposed solution

I read the DefaultTimeBar.java, saw that constructor `setFocusable(true);` on line 369
I think that is the couse?

### Alternatives considered
I have a solution is when Activity onCreate, f

[2022-06-20 09:55] icbaker commented on #10357
It's likely that the video file contains an incorrect duration in its metadata (as discussed in https://github.com/google/ExoPlayer/issues/9593).

Without access to the video file it's impossible to say for sure. I recommend you analyse it with https://gpac.github.io/mp4box.js/test/filereader.html as shown in https://github.com/google/ExoPlayer/issues/9593#issuecomment-956186528. That will probabl

[2022-06-20 10:06] icbaker commented on #10355
The underlying error in the bug report looks like it's coming from the framework `MediaCodec` (the stack trace from ExoPlayer about failing to disable the codec is just a secondary symptom):

[code]

Marking as device-specific.

[2022-06-20 10:51] inerognes opened #10359 "Hide player controls & menu items when the relevant player command is not available"
[](url)I've just upgraded from `PlayerView` to `StyledPlayerView` in my app (since PlayerView is marked as deprecated), and I see there is a new settings/gear icon now available with the options to change speed and audio.  I was wondering if it's possible to hide this new settings in any way?

I am able to hide it by setting use_controller to false, but then everything else (like play, pause, prog

[2022-06-20 12:19] Usman-Click commented on #10357
Okay,
As you said I analyzed it with https://gpac.github.io/mp4box.js/test/filereader.html
And found out that the problem is the same as https://github.com/google/ExoPlayer/issues/9593

Here is the screenshot of the analyzing

![Screenshot_20220620-131355_Samsung Internet](https://user-images.githubusercontent.com/47116342/174600156-a2355cc6-f2a6-4c88-9995-564a8161ea53.jpg)

[2022-06-20 12:20] Usman-Click commented on #10357
All I want to know now is:
Is there a way to manually set the duration ourselves?

[2022-06-20 12:28] icbaker commented on #10357
Not easily, no. I think the answer is the same as https://github.com/google/ExoPlayer/issues/9593#issuecomment-957801456: ExoPlayer aims to play correctly encoded/prepared content correctly. I'm afraid we don't go out of our way to support poorly encoded/prepared content.

[2022-06-20 12:28] #10357 closed, assigned to icbaker

[2022-06-20 12:32] Usman-Click commented on #10357
Thanks

[2022-06-20 13:14] Usman-Click opened #10360 "AVI FORMATS ARE NOT PLAYING"
HI,
When i play a video (AVI format) exoplayer says cannot play this video

What am I missing ?

[2022-06-20 13:26] totallyunknown commented on #8699
Has anyone looked into https://github.com/realeyes-media/cta-wave-cmcd-lib? They said that's a reference implementation for CMCD on Exoplayer.

[2022-06-20 13:59] mis-kcn commented on #10352
I am using `460d2219be34c489084be3ccd4a8c7716f4f1fff` commit, I believe this is 2.17.1 release.

I cannot replicate the same with my end, here's how I ran the application and the logcat I got. @icbaker

[code]

[code]

[2022-06-20 14:00] icbaker commented on #10360
Duplicate of https://github.com/google/ExoPlayer/issues/2092.

Initial AVI support is available on the `dev-v2` branch, which you can access by depending on ExoPlayer locally: https://github.com/google/ExoPlayer#locally

It will also be included in 2.19.0.

[2022-06-20 14:00] #10360 closed, assigned to icbaker

[2022-06-20 14:09] tonihei commented on #8699
This implementation looks as if it might not achieve its purpose very well at the moment as the necessary player state information is obtained with a delay to when it's used to fill the request parameters. For example, a buffer starvation or startup after seek would not show up in the relevant next request, but only one request later. This isn't really something they could have easily solved thoug

[2022-06-20 14:23] Usman-Click commented on #10360
Really appreciate
Thanks 😊

[2022-06-20 14:29] Usman-Click commented on #10360
When will you release 2.19.0.

[2022-06-20 14:44] tonihei commented on #10340
Thanks for the feature request. This looks like something that could (or should) be handled by the player and `AudioFocusManager` definitely sounds like the right place to add the implementation.

There are multiple options for how the player behavior can reflect a delayed focus. For comparison, we already have two ways in which we can lose focus:
 - *Permananent* audio focus loss: player changes

[2022-06-20 15:54] icbaker commented on #10358
Would you be able to clarify a few things:

1. Are you using `DefaultTimeBar` directly in your XML, or via `StyledPlayerView`/`StyledPlayerControlView`?

2. How do you expect touch input to interact with the progress bar when you set `focusable="false"` in the XML?

On (2): I did some testing and it seems that if we propagate `focusable=false` then the d-pad skips over the time bar, but you can st

[2022-06-21 01:04] #10256 closed, assigned to icbaker

[2022-06-21 01:04] #10201 closed, assigned to christosts

[2022-06-21 01:22] jeonghyun-genesislab commented on #10021
Now after quite some time the workaround I have was very simple.

First of all @icbaker from DefaultRenderersFactory#forceDisableMediaCodecAsynchronousQueueing

I will take note too. Thank you.

I thought so.

look at the error message
dequeueBuffer failed: NO_INIT(-19).

I thought it had something to do with the buffer

When loading the video, I had a vague thought that it would be okay to procee

[2022-06-21 01:59] how8570 commented on #10358
I put androidx.media3.ui.PlayerView (it same as StyledPlayerView?) in my XML and custom it with controller_layout_id="my_controller_layout", and put the DefaultTimeBar in my_controller_layout.xml.
I guess it the 1st case you mention.

My whole implementation its a full screen video player.
And take the d-pad left/right to seek 5 sec with onKeyDown() on Activity.

When get the focus on scrubber, pr

[2022-06-21 02:55] VeiZhang opened #10361 ""Playback stuck buffering and not loading" error"
- Search existing issues, including issues that are closed
https://github.com/google/ExoPlayer/issues/9859

When filing a question:
-------------------------

Describe your question in detail.

In case your question refers to a problem you are seeing in your app:

- Output of running `$ adb bugreport` in the console
[code]

Devices that reproduce the issue
* 905x3 Android 9.1

ExoPlayer Version
*

[2022-06-21 02:55] VeiZhang commented on #10350
@tonihei Thanks, I will try it.

[2022-06-21 03:38] 1mean opened #10362 "a question when both device and player volume is 0"
ExoPlayer volume contains device volume and player volume
[code]
Normally, these two values are the same, And when I change the volume of the device, the volume of the player also changes
When i need to turn off the volume on the player, looks like this
[code]
When I want to turn on the sound of the player, like this
[code]
Set the volume of the device to the player, If the volume of the device is

[2022-06-21 04:22] TacoTheDank opened #10363 "[Docs] Deprecated symbols are switched in 2.18.0 release notes"
As seen here: https://github.com/google/ExoPlayer/releases#:~:text=Remove%20Player.Listener.onTracksChanged.%20Use%20Player.Listener.onTracksInfoChanged%20instead

It currently says ``Remove Player.Listener.onTracksChanged. Use Player.Listener.onTracksInfoChanged instead.``

It SHOULD say ``Remove Player.Listener.onTracksInfoChanged. Use Player.Listener.onTracksChanged instead.``

I believe that [

[2022-06-21 07:29] vishnuchilakala commented on #9256
@andrewlewis Can you please provide any updates? We are getting quite a lot of these errors (with the same stack trace) in production for a while now and any fix / workaround would help us a lot. Thanks!

[2022-06-21 07:40] coooltype opened #10364 "No audio output when CMAF & Multi-Key & Segmented mp4 are packaged."
Same question as [#10136](https://github.com/google/ExoPlayer/issues/10136).

1. No audio when I package Widevine content as [multi-key + Segmented mp4] and play it in Android Exoplayer (2.16.1). But if I package it as [multi-key + Single mp4] it outputs audio.
Why is there no audio output for content packaged as [multi-key + segmented mp4] in Exoplayer? Is there a way to output audio with this co

[2022-06-21 07:55] icbaker commented on #10358
Ah yes, it's the same (it was [renamed in the media3 git repo](https://github.com/androidx/media/commit/bfce8f54562d2f858a19e034df267995e19fa06a)). Sorry for the confusion - I assumed that you're using the `com.google.android.exoplayer2` classes because you've filed this issue in the ExoPlayer GitHub project. In future you should file any issues about using `androidx.media3` on the [AndroidX Media

[2022-06-21 08:11] icbaker commented on #10352
The original version of this issue stated you were using version 2.15.1 of the library so that's what I tested with, and was unable to reproduce the problem.

18 hours ago (i.e. after my initial comment) you updated the top comment to say 2.17.1.

Testing again with 2.17.1 I see the same behaviour you report.

HLS chunkless preparation was enabled by default in the 2.17.0 release. Disabling this r

[2022-06-21 08:16] how8570 commented on #10358
`TimeBar#setKeyTimeIncrement(long)` work good to me, thanks for the help.

But I thinking a `setProgressBarEnabled(boolean)` kind method probably still needed?
I still need grab the keyEvent to show some animation stuff, toast some message or do somethings like that.
In my previous solution is set DefaultTimeBar focusable to `View.NOT_FOCUSABLE`, than handle those myself.

If you guys thinks that

[2022-06-21 09:17] louiewh commented on #10356
Thanks replay
I resolve this problem by
at handBuffer
`      if(startMediaTimeUsNeedsInit){
            startMediaTimeUs = max(0, presentationTimeUs);
            if(startMediaTimeUs > 0) {
                startMediaTimeUsNeedsInit = false;
            }
        }`

at getCurrentPositionUs
`        if(mAudioOutput != null){
            try {
                long pos = (0xFFFFFFFFL & mAudioOutput.g

[2022-06-21 09:20] louiewh commented on #10356
AudioSlink  Api   may simple， such as  DataSource ?

[2022-06-21 09:30] ChenLauter opened #10365 "Playback failed"
### ExoPlayer Version

2.17.1

### Devices that reproduce the issue

Redmi 8A running Android 9
OPPO A57t running Android 6.0.1
OPPO R11s running Android 8.0.1

### Devices that do not reproduce the issue

Honor 8X running Android 8.1.0
Xiaomi MIX 2S running Android 10
vivo Y83A running Android 8.1.0

### Reproducible in the demo app?

Yes

### Reproduction steps

Running the demo application:
[co

[2022-06-21 09:56] icbaker commented on #10364
I tried playing the provided stream in the 2.16.1 demo app and I observe that playback never advances beyond `0:00`. I see the following lines in logcat that might be relevant:

An exception:
[code]

Lots of lines like this (`2` is `C.TRACK_TYPE_VIDEO`):
[code]

The track selection output shows the 3 webvtt tracks have been detected. However it also shows the audio track has been identified as a v

[2022-06-21 13:00] icbaker commented on #10359
This is currently not possible.

We're a little wary of adding a toggle for every possible configuration preference to `StyledPlayerView`, because it can get pretty unwieldy and hard to reason about how they might all interact with each other.

However, I think there are some changes we can make here that might result in the same outcome of hiding the settings cog in some cases:
1. Update `StyledP

[2022-06-21 13:03] icbaker commented on #10361
This issue looks like it's related to the media being played.  In particular the root cause is these lines I think:

[code]

Please provide media we can use to reproduce the issue.

[2022-06-21 13:19] icbaker commented on #10362
This statement surprises me. Not least because `Player.getVolume()` returns a float that's [documented](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/Player.html#getVolume()) to be between `0.0` and `1.0` inclusive, while `Player.getDeviceVolume()` returns an `int`, so it seems unlikely that they're always the same.

I did some testing locally and without calling `player.setVol

[2022-06-21 13:47] inerognes commented on #10359
Thanks for the detailed reply @icbaker!

These suggestion would enhance the user experience for sure. But I am not sure if it would solve my particular use case:

In our app, the users can upload and edit a video before posting it. We use `PlayerView` to show the preview of the video today. With `StyledPlayerView`, the user might change the speed in the viewer, and then expect the changes to be re

[2022-06-21 14:01] icbaker commented on #10359
For that use-case, assuming (1) from my suggestion above is implemented, I think you can just configure the `Player` you pass to the UI to not allow speed changes, e.g. using `ForwardingPlayer`:

[code]

And that would result in the speed control being hidden from the UI.

[2022-06-21 14:34] inerognes commented on #10359
@icbaker Aha I see! Then this change is more than welcome from my side :)

[2022-06-21 14:52] #9432 closed, assigned to ojw28

[2022-06-21 15:18] icbaker commented on #10365
When I play the provided video I see that playback never advances past `0:00`. When I manually seek into the video using the UI progress bar, then playback fails due to a `MediaCodec` error:
[code]

I tried remuxing the video into a matroska container without transcoding it using `ffmpeg`, and the behaviour was the same (so I don't think it's related to ExoPlayer's extractors).

Assigning to @chri

[2022-06-21 15:28] #10362 closed, assigned to icbaker

[2022-06-21 15:31] 1mean commented on #10362
Thank you very much for your reply，Thanks!!!  I need to fix my code

[2022-06-21 15:34] icbaker commented on #10363
Hmmm, interesting.

Both those release notes were added in https://github.com/google/ExoPlayer/commit/25e58f5f2a6c15138daef4103ab2aff711e662ff (Feb 2022) and it matches the content of the commit (i.e. `Player.Listener.onTracksChanged` is removed, `onTracksInfoChanged` is preserved).

However we then made a follow-up commit (https://github.com/google/ExoPlayer/commit/0ad508b14f232a2d9551cdead61c3e7

[2022-06-21 16:14] TacoTheDank commented on #10363
I see, so it was slightly different from what I thought.

Thank you! I greatly appreciate it :)

[2022-06-22 00:18] rcombs opened #10366 "HevcConfig.parse misreads reserved bit"
### ExoPlayer Version

2.18.0

### Devices that reproduce the issue

N/A

### Devices that do not reproduce the issue

N/A

### Reproducible in the demo app?

Not tested

### Reproduction steps

Attempt to play an MP4 or MKV file with an HEVC stream having bit 6 set to 1 in the first byte of a NAL array in an `HEVCDecoderConfigurationRecord`.

### Expected result

HevcConfig.parse() should read th

[2022-06-22 01:07] rcombs opened #10367 "HevcConfig.parse fails when first SPS contains the 0x000003 escape sequence"
### ExoPlayer Version

2.18.0

### Devices that reproduce the issue

N/A

### Devices that do not reproduce the issue

N/A

### Reproducible in the demo app?

Not tested

### Reproduction steps

Attempt to play an MP4 or MKV file with an HEVC stream where the configuration record's first SPS NAL contains an 0x000003 escape sequence

### Expected result

The configuration is parsed and the media pl

[2022-06-22 01:12] VeiZhang commented on #10361
@icbaker Ok, thanks. I will send media stream to the email <dev.exoplayer@gmail.com>.

[2022-06-22 01:20] rcombs commented on #10367
Please note this also appears to apply to `AvcConfig.parse`: https://github.com/google/ExoPlayer/blob/7fe9ecc1c592b758e76f6b458e0dc43cce282e5f/library/extractor/src/main/java/com/google/android/exoplayer2/video/AvcConfig.java#L63

Same thing, just with `parseSpsNalUnit` and `parseSpsNalUnitPayload`. Note there that `parseSpsNalUnit` is also called from `H264Reader`, and I _think_ the data passed t

[2022-06-22 05:25] coooltype commented on #10364
Thanks for the detailed explanation on problem 1.
However, 2 problems remain.
Request you to check.

2. In Exoplayer, segmented-VTT subtitles are not displayed.
Exactly, only the first segmented subtitles are displayed, not later.
How can I get segmented-VTT subtitles to be displayed?

[code]

[2022-06-22 05:30] tpuserhp opened #10368 "Higer version of CMake required when generating aar for ffmpeg extension."
In my other issue #10354 it was suggested that I should  rebuild the extension every time I upgrade ExoPlayer.  I am using Exoplayer 2.18.0. When I tried to  rebuild the ffmpeg extension, I got error message that CMake  '3.21.0' or higher was not found. I only have CMake version 3.10.2 installed. CMake 3.18.1 is the highest version I can find under the CMake section of SD Tools. I manually downloa

[2022-06-22 05:36] baconz commented on #10339
I'm able to repro on a number of physical devices as well -- I repro'ed just now on a FireTV AFTSS, a TVision HUB, and GoogleTV. The only device I have access to right now that doesn't repro is the Bravia XBR-65X950H, which is interesting because the decoder on that device acts very strangely in other respects as well...

It makes sense that re-initializing the codec takes time, and that it could

[2022-06-22 08:52] tonihei commented on #10339
ExoPlayer tries to reuse codecs if at all possible to avoid any disruption to playback. The first time you cross this period transition point, the maximum possible video size changes and the codec needs to be reconfigured to support the larger resolution. But when you seek back, we can keep the codec with the higher configured max values without recreating it.

It's more a question of configuring

[2022-06-22 09:00] luckygoyal-bitmovin opened #10369 "Video freezes and audio continues to play on ABR switch, reproducible on Skyworth Android(10) STB, Amlogic S905X2"
### ExoPlayer Version

2.16.1

### Devices that reproduce the issue

Skyworth Digital Android STB running Android 10 and using Amlogic S905X2 chipset

### Devices that do not reproduce the issue

Issue did not occur on tested Android Mobile devices(Samsung S21, OnePlus AC 2003) etc.

### Reproducible in the demo app?

Yes

### Reproduction steps

- Play Widevine protected + HEVC + AAC live DASH me

[2022-06-22 10:20] Ioan1995 opened #10370 "Ads/Ima Yellow border displayed while playing ads."
Hello, I'm trying to remove that yellow border while the focus is inside the webview not on the skip button. I added a safe margin on android tv because the skip button is not fully displayed in some situations. Is there a way to hide/remove/change the color of that yellow border? I already tried this :
`.setFocusSkipButtonWhenAvailable(false)` and `switch (adEvent.getType()) { case SKIPPABLE_STAT

[2022-06-22 14:22] Slecornu commented on #9776
Hey @marcbaechinger ,

I'm also experiencing this bug on Android 11, and I'm a bit worried considering the `DownloadManager` is required for downloading content but I'm unable to initialise it. I would have thought the inability to download on Android 11 would be fixed sooner, but perhaps I'm missing something!

Will the `DownloadManager` initialiser be fixed for Android 11?
Is there anything I ca

[2022-06-22 15:07] sky-filipeuva commented on #10124
@rrfrias The last license we provided has expired, can you please provide a heads-up whenever you take this issue so that we can in turn generate a new license for this content ?

[2022-06-22 15:36] luckygoyal-bitmovin commented on #10369
Hi Exoplayer team, I have sent the bugreport and stream information over email. The issue is also reproducible on latest Exoplayer release-v2 branch. The issue is also reproducible with clear stream decoded using non-secure decoder `OMX.amlogic.hevc.decoder.awesome2` instead of `OMX.amlogic.hevc.decoder.awesome2.secure` which is used for encrypted content.

I understand it may not be possible to r

[2022-06-22 16:37] christosts commented on #10365
When inspecting the video with `mediainfo`, the video appears to be interlaced. I don't think Android officially supports interlaced H264 and playing this video is up to the device decoders. I suggest using videos with progressive scan type.

See also #3468.

[2022-06-22 16:37] #10365 closed, assigned to christosts

[2022-06-22 16:59] christosts commented on #10355
This looks like a device-specific issue with the device decoder. I suggest you reach out to the device vendor.

You can try to run the stream on another device, using the [ExoPlayer demo app](https://exoplayer.dev/demo-application.html), to verify whether the stream works on other devices. If the stream crashes on other devices, please update this issue, and email us with a stream link so that we

[2022-06-22 16:59] #10355 closed, assigned to christosts

[2022-06-22 17:28] wiktorwar opened #10371 "onPlayerError event not called on some devices for malformed DASH"
### ExoPlayer Version

2.17.1

### Devices that reproduce the issue
- Pixel 4a - Android 12
- Pixel XL - Android 11 (Audio plays, video fails to play, no `onPlayerError`)
- Samsung A51 - Android 10 (hangs on buffering state, no error )
- Redmi note 6 pro (12)
### Devices that do not reproduce the issue
* Pixel 3 - Android 12 (video/audio fails to play, error is passed through `onPlayerError`)

###

[2022-06-22 17:42] christosts commented on #10352
There's something that's confusing HLS chunkless preparation but I'm not sure yet which of the two (or both) it is:
- on the playlist, CODECS does not contain the video codec
- the video (video/mpeg2) is not supported by the device but the captions are muxed with the video track

I recommend to disable chunkless preparation on your app for this stream. I'll mark this as a bug but with low-priority

[2022-06-23 06:45] hakobt opened #10372 "MediaExtractor"
Hi, thanks for great library
I am trying to develop a video editor application, and i am using Android's native MediaExtractor. By digging through ExoPlayer's version history i noticed that MediaExtractor was removed in favor of your custom-built extractors. I was wondering if there is anything wrong with Android's MediaExtractor, if only local files will be played?

[2022-06-23 09:27] MGoodaarzii commented on #10317
hi ,
after couple days debugging on our app we figure it out , and it was device issue with Codec and we did change codec and every thing work out perfect .
I'm closing this issue :))

[2022-06-23 09:27] #10317 closed, assigned to ojw28

[2022-06-23 10:24] sharmadev2506 commented on #10370
It's the same for me. The yellow border comes every time on the mid-roll ads. I have also added setFocusSkipButtonWhenAvailable(false). But it only works for pre-roll ads and not for mid-roll.

[2022-06-23 11:25] ybonjour opened #10373 "Currently Playing media URI with 2.18.0"
Hello,

I am trying to get the media URI of the currently playing media Item.
I used to store this in the `mediaUri` field of the MediaItem metadata and then retrieve it through:

[code]
This used to work without a problem.

But since version 2.18 this is not possible anymore as the mediaUri field has been moved to requestMetadata. So I adapted my code as follows:
[code]
However the `mediaUri` fie

[2022-06-23 13:35] christosts commented on #10305
The only part I found in the spec was in [Section 6.2.1](https://datatracker.ietf.org/doc/html/draft-pantos-hls-rfc8216bis-11#section-6.2.1) (General Server Responsibilities)

I don't have exact context how this piece of code was implemented, but I suspect the code makes the assumption that EXT-X-PROGRAM-DATE-TIME would not be the epoch based on the above guide from the spec.

May I ask how come y

[2022-06-23 13:38] christosts commented on #10306
Apologies for the delayed reply.

That's my reading of the stack traces. I'd reach out to either the device vendors of the Android issue tracker.

[2022-06-23 13:38] #10306 closed, assigned to christosts

[2022-06-23 13:40] lemontmoon opened #10374 "Is there way to disable .m3u8 hls video track completely to save bandwidth and listen only audio track ?"
Hi,

I am looking for solution , how to disable VIDEO TRACK completely,, simply set it to null to disable video track data downloading.

I just need to listen only audio to save bandwidth when I am on my bike ride. I was trying to setrendererdisabled but bandwidth doesnt change, its same as with rendererenabled.

Is there any solution for that for m3u8 hls playback ?

Thanks !!! :)

[2022-06-23 15:06] christosts commented on #10285
@gb103, these issues are indicating errors from the Android platform and are usually related to the media file the app is trying to play. Often, this results being either malformed media, a platform bug or a device-specific problem. To help you, please share the content that produces these issues and bug reports  to [dev.exoplayer@gmail.com](mailto:dev.exoplayer@gmail.com) with subject "Issue #108

[2022-06-23 17:32] icbaker commented on #10368
Looks similar/related to https://github.com/google/ExoPlayer/issues/9933

[2022-06-23 17:34] icbaker commented on #10373
Have you tried using [`mediaItem.localConfiguration.uri`](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/MediaItem.LocalConfiguration.html#uri)?

That's the field the player reads to actually load the media.

[2022-06-23 17:48] icbaker commented on #10374
This is a duplicate of https://github.com/google/ExoPlayer/issues/9282 (it's specific to HLS, if you disable the video track in a DASH stream the player won't download video segments).

[2022-06-23 17:48] #10374 closed, assigned to icbaker

[2022-06-23 17:51] lemontmoon commented on #10374
disable videotrack, do you mean setrenderer disabled ? or do i need set
null track somehow ? thx

On Thu, Jun 23, 2022, 7:48 PM Ian Baker ***@***.***> wrote:

[2022-06-23 17:53] ybonjour commented on #10373
Thanks. `mediaItem.localConfiguration.uri` works for me.

[2022-06-23 17:53] #10373 closed, assigned to icbaker

[2022-06-23 18:00] icbaker commented on #10371
If the framework `MediaCodec` doesn't report an error (which seems to be the case based on the bugreport provided), then ExoPlayer doesn't really know anything has gone wrong - and therefore there's no way to alert the app via `onPlayerError`.

If `MediaCodec` reports an error to us (and we can't retry/workaround it) I believe this will always be reported to an app via `onPlayerError`.

The fact t

[2022-06-23 18:00] #10371 closed, assigned to icbaker

[2022-06-23 18:09] icbaker commented on #10374
You can disable all video tracks by calling [`TrackSelectionParameters.Builder#setTrackTypeDisabled(C.TRACK_TYPE_VIDEO, true)`](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/trackselection/TrackSelectionParameters.Builder.html#setTrackTypeDisabled(@com.google.android.exoplayer2.C.TrackTypeint,boolean)).

Disabling the video renderer using [`DefaultTrackSelector.Parameters.Build

[2022-06-23 18:31] lemontmoon commented on #10374
thanks,, its clear for me now,, we have been disabling hls tracks
previously using flussonic by adding trackselection parameter to url,,
maybe they are coverting this from dash source

On Thu, Jun 23, 2022, 8:09 PM Ian Baker ***@***.***> wrote:

[2022-06-23 20:58] teccheck opened #10375 "Custom extractor gets a lot of read calls"
Hi there,

for the past few days I've been writing a custom extractor for an obscure container format that is used by the Gear360 live stream. It is based on the RIFF format so I used the AVI extractor as a reference. Now I have the problem that the video is quite choppy. I tried to find out why and discovered that for every frame, my extractor gets about **6000** `read` calls. These mainly read v

[2022-06-24 00:49] tpuserhp commented on #10368
Thanks for the update. Does it mean a fix will be available?

[2022-06-24 01:10] #10350 closed, assigned to tonihei

[2022-06-24 09:27] Jason239 opened #10376 "Is SAMPLE-AES not supported at all?"
https://exoplayer.dev/supported-formats.html#sample-formats

The above page says that the SAMPLE-AES method is not supported, but looking at the other issues such as [this](https://github.com/google/ExoPlayer/issues/8372) or [this](https://github.com/shaka-project/shaka-packager/issues/659#issuecomment-536789814), I am not sure if it is not supported.

I have some clear-key encrypted contents and

[2022-06-24 12:47] yoobi commented on #10306
No worries. Thank you for your time.

[2022-06-24 13:34] lemontmoon commented on #10368
Hi all, do anyone sucessfully compiled extension-ffmpeg-release.aar for 2.18.0 and got it working ? if yes,, can anyone share it for all architectures with all codecs ON ? thx,.

[2022-06-24 13:37] lemontmoon commented on #10354
hi,, could you please share extension-ffmpeg-release.aar working for 2.17.0 and 2.18.0 ? We are doing big hop from Exo 2.15.1 where it was working nice. But today we have some trouble to build it again.

[2022-06-24 14:21] javaboboApp opened #10377 "Unexpected IndexOutOfBoundsException during playback"
### ExoPlayer Version

2.15.1

### Devices that reproduce the issue

Android 10
Set-top box

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

No

### Reproduction steps

1. Play linear content
2. Got "Source error" IndexOutOfBoundsException during parsing manifest:
    in DefaultDashChunkSource: updateManifest()

### Expected result

Not exception is t

[2022-06-24 14:21] SrivastavaAditya opened #10378 "Exoplayer itemView sometimes overlaps with other itemViews of the RecyclerView while scrolling."
I am using Exoplayer within a hybrid Recyclerview i.e it supports various other viewholders/itemViews. When I scroll to a video item enabled by exoplayer then push the app to background and then pull it again to foreground and scroll out and the recyclerview, the video viewholder behaves abnormally and glitchy:- sometimes it overlaps (partially) with other viewholder and shows a considerable amoun

[2022-06-24 16:13] Xlcghs opened #10379 "Refresh manifest while the player is paused"
Hello,

Following a test on a dynamic manifest with the Exo 2.17.1 version, in the case of a pause we noticed that the Player continues to ask for the manifest at each "minimumUpdatePeriod" seconds even though it is in a pause state.
Is this normal? Is there a configuration to prevent the Player to ask for a manifest in this case?

BR,

[2022-06-25 15:21] marcbaechinger commented on #10379
This is an [expected behaviour for a manifest of type `dynamic` with the `minimumUpdatePeriod` attribute set](https://github.com/google/ExoPlayer/blob/release-v2/library/dash/src/main/java/com/google/android/exoplayer2/source/dash/DashMediaSource.java#L861). In such a `dynamic` case the manifest signals that it may change. The player keeps loading to update its state such as the timeline and the c

[2022-06-25 19:41] yuroyami commented on #10333
@ahmadbajwa8282 ExoPlayer devs aren't there to help you learn coding. They already provide you with such an extensible amazing media player that ExoPlayer is. You need to learn what threads are and how to use them.

[Processes and Threads - Developer Google](https://developer.android.com/guide/components/processes-and-threads)

For example, if you initialize ExoPlayer (in other words 'build it') o

[2022-06-27 00:42] VeiZhang commented on #10361
@icbaker Hello, do u receive the media stream?

[2022-06-27 01:04] #10296 closed, assigned to christosts

[2022-06-27 05:15] droider91 opened #10380 "java.lang.NoSuchMethodError: No virtual method setParameters"
I am implementing exo player in my app's one module in an another module I have implemented brightcove player(As brightcove uses exoplayer internally).
I am getting this error from exo player
[code]

I added the multidex library also. and this is my proguard of main app

[code]

[2022-06-27 06:26] Tolriq opened #10381 "MP4 Parser issue after update to 2.18.0"
### ExoPlayer Version

2.18.0

### Devices that reproduce the issue

All

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Not tested

### Reproduction steps

Play the media that I'll send by mail after;

### Expected result

IT plays on 2.17.1 and previous versions

### Actual result

Parser error:

[code]

### Media

Will send by mail

### Bug Report

[2022-06-27 06:52] sahujaunpuri opened #10382 "how to play audio from google drive?"
how to play audio(MP3) from google drive?

[2022-06-27 08:55] yuzhidi opened #10383 "how to understand AdaptationCheckpoint by reading unit test AdaptiveTrackSelectionTest#updateSelectedTrack_withAdaptationCheckpoints_usesOnlyAllocatedBandwidth"
Hi,
    I try to understand AdaptationCheckpoint by reading unit test. [AdaptiveTrackSelectionTest#updateSelectedTrack_withAdaptationCheckpoints_usesOnlyAllocatedBandwidth](https://github.com/google/ExoPlayer/blob/f1b37bc547e7194354fe31e240afa8a8fb0b5c6c/library/core/src/test/java/com/google/android/exoplayer2/trackselection/AdaptiveTrackSelectionTest.java#L477)

It seems if there is multi-tracks,

[2022-06-27 09:08] icbaker commented on #10377
The manifest provided over email cannot be used to reproduce the problem, because it contains relative URLs and is not hosted.

Please provide a link to the hosted manifest we can use to play the stream and reproduce the problem.

[2022-06-27 09:11] luckygoyal-bitmovin commented on #10369
Hi Exo team, any feedback on this ticket please?

[2022-06-27 09:12] icbaker commented on #10375
The [javadoc for `Extractor.read`](https://exoplayer.dev/doc/reference/com/google/android/exoplayer2/extractor/Extractor.html#read(com.google.android.exoplayer2.extractor.ExtractorInput,com.google.android.exoplayer2.extractor.PositionHolder)) says:

It's therefore expected for an `Extractor` to receive a lot of small `read()` calls. You should change your implementation to be performant in this sc

[2022-06-27 09:12] #10375 closed, assigned to icbaker

[2022-06-27 09:14] icbaker commented on #10378
This sounds very likely to be a problem with the way you've integrated the player into your UI, rather than an inherent problem with the library. I'm afraid we don't have the resources to deeply investigate questions like this.

We'll leave this issue open for ~2 weeks in case anyone wishes to answer it here, however we recommend asking such questions on [Stack Overflow](https://stackoverflow.com/

[2022-06-27 09:16] icbaker commented on #10267
Closing this issue, because the question about how ExoPlayer decides what's playable or not has been answered, and the remaining questions (about the behaviour of the YouTube app) are off-topic for this issue tracker.

[2022-06-27 09:16] #10267 closed, assigned to icbaker

[2022-06-27 09:16] icbaker commented on #10297
Closing due to inactivity.

[2022-06-27 09:16] #10297 closed, assigned to icbaker

[2022-06-27 09:28] icbaker commented on #10330
In ISO 13818-12007 Table 2-6 the `program_clock_reference_base` is described as 33-bits with mnemonic `uimsbf`.

In section 2.2.6 of the same document, the `uimsbf` mnemonic is defined as:

----

I'm closing this issue because I don't believe it makes sense for ExoPlayer to change any logic here - the problem will be solved if your subtitle encoding system consistently treats mpeg timestamps as un

[2022-06-27 09:28] #10330 closed, assigned to icbaker

[2022-06-27 09:30] tonihei commented on #10370
I cannot reproduce the problem I'm afraid.

My steps:
 - Start an Android TV API 30 emulator.
 - Play "Ima sample ad tags > VMAP midroll ad pod at 5s with 10 skippable ads"
 - Observe focus border on skip button

When doing this without any code modification, I see the yellow focus border. But when I call `setFocusSkipButtonWhenAvailable(false)`, the skip button is no longer focussed automatically

[2022-06-27 10:24] ec-siddhant opened #10384 "Missing CodecPrivate for codec A_OPUS"
I am getting this error on playing a .webm video

**Missing CodecPrivate for codec A_OPUS**

What does It mean, and can it be solved, there are no references on Intenet for this log, please help.

here is the whole log I am getting:

[code]

[2022-06-27 10:25] Ste-RH commented on #10351
Thanks @tonihei.  Think I will be looking at a custom HLS playlist parser as this was also suggested in #6181.  Will let you/everyone know how I get on.

[2022-06-27 11:44] javaboboApp commented on #10377
@icbaker  I have sent you more information via email. Thanks for your help.

[2022-06-27 12:12] Ste-RH commented on #10351
Hmm, nope.  That is only at best gonna let me change the URL of the keyserver.  Custom DataSource it is I think.

[2022-06-27 12:55] javaboboApp commented on #10377
@icbaker I  have sent you more information via email. Thanks for your help.

[2022-06-27 15:29] icbaker commented on #10376
ExoPlayer does not support `EXT-X-KEY` tags with `METHOD=SAMPLE-AES` and `KEYFORMAT="identity"`. That's what is being referred to at https://exoplayer.dev/supported-formats.html#sample-formats.

The `EXT-X-KEY` tag is also used for streams protected by other forms of sample-level encryption e.g. widevine DRM, and these are supported by ExoPlayer. That's what's being investigated and referred to in

[2022-06-27 15:31] icbaker commented on #10341
Closing because I think the question has been answered.

[2022-06-27 15:31] #10341 closed, assigned to icbaker

[2022-06-27 16:25] icbaker commented on #10377
It looks like the number of `<Representation>` nodes in your video `<AdaptationSet>` might be changing over time. I think this would explain the stack trace. The email you originally sent shows 10 `<Representation` nodes with the following IDs:
1. `video_112kbps`
1. `video_288kbps`
1. `video_480kbps`
1. `video_840kbps`
1. `video_1500kbps`
1. `video_2300kbps`
1. `video_3000kbps`
1. `video_4400kbps`

[2022-06-27 16:49] icbaker commented on #10361
I played the provided video file in the 2.18.0 demo app and it played without error. I played the first 1 minute (the logs provided in the original comment suggest that playback never begins).

I also played it in the 2.17.1 demo app, and it also played without error for the first 1 minute.

I do see the same logs in logcat, but in my case they didn't seem to cause playback issues:

[code]

Assign

[2022-06-27 19:32] ArcherEmiya05 opened #10385 "Some UI control with controller_layout_id no longer working"
Since `com.google.android.exoplayer2.ui.PlayerView` was deprecated and has been replaced with `com.google.android.exoplayer2.ui.StyledPlayerView` after migrating from version `2.16.0` to `2.18.0`, `controller_layout_id` seems no longer working. Id resource of ExoPlayer such as `exo_play` and `exo_pause` no longer work while `exo_rew`, `exo_ffwd`, `exo_position`, `exo_progress`, and `exo_duration`

[2022-06-27 19:57] ArcherEmiya05 commented on #10385
Closing this issue, it seems `exo_play` and `exo_pause` has been replaced by `exo_play_pause`

[2022-06-27 19:57] #10385 closed, assigned to nobody

[2022-06-27 20:08] ArcherEmiya05 commented on #10318
Good day, we are having trouble where progress bar collapses down in a couple of seconds while playing but a custom controller below it collapse/hide more late, thus ended up with overlapping control and progress. Is there a way to synchronize them? Thanks
![Screenshot_2022-06-28-04-05-21](https://user-images.githubusercontent.com/38008900/176026666-05e9b9cc-8d54-4de2-996c-a49beb8603fd.png)

[2022-06-27 20:10] ArcherEmiya05 commented on #10187
Change your custom layout with this

[code]

[2022-06-28 01:04] #10126 closed, assigned to marcbaechinger

[2022-06-28 01:37] Jason239 commented on #10376
Okay, I got it.
It's not supported for clear-key way.
Thanks :)

[2022-06-28 01:37] #10376 closed, assigned to icbaker

[2022-06-28 03:40] 337240552 opened #10387 "Support dav1d decoder"
Can we provide support for dav1d decoder? dav1d has better performance than libgav1.

Test data:[Test AV1 Video 1280 * 720P](http://1500000711.vod2.myqcloud.com/18160fb8vodtranshk1500000711/062791b6387702302578852428/v.f1416867.mp4)
Device: Samsung S7, CPU exynos5 Android 8.0

With libgav1 decoder, so many stutters and janks.
<img width="1130" alt="image" src="https://user-images.githubusercontent

[2022-06-28 05:50] SurajBahadur commented on #5417
It's been 2022 and by the end of the year, the synthetic binding will vanish from an android ecosystem. Please fix this asap.

[2022-06-28 07:48] lpv-1902 opened #10388 "Why does this stream work and then suddenly stop?"
URL: http://khkbh.dk:8080/hls/livestream/index.m3u8

It suddenly stops then throws out a

[LoadTask] Unexpected exception loading stream
[LoadTask]   java.lang.IllegalStateException: interceptor okhttp3.OkHttpClient$Builder_InterceptorImpl@585de23 returned a response with no body

[2022-06-28 13:39] Ste-RH commented on #10351
Ok, bit lost now @tonihei.  Looking into how Aes128DataSource is used...

In HlsMediaChunk, the method buildDataSource returns a new instance of a Aes128DataSource if there is an encryption key passed in.  So it does this mean no matter what custom DataSource/Factory I create/use, a Aes128DataSource will always be used for a video encrypted as Aes 128?

If so, there is no way at this level I can i

[2022-06-28 14:33] rohitjoins commented on #10382
Make sure the url you provide for this audio, points to a media file and not a webpage.

Please provide complete information as requested in the question template. The template can be
found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/question.md).

Unfortunately we can't answer unclear questions or those with insufficient information.

[2022-06-28 14:33] #10382 closed, assigned to rohitjoins

[2022-06-28 14:58] rohitjoins commented on #10388
I was able to play this stream on the Exoplayer demo app and it doesn't suddenly stops.

Please provide complete information as requested in the question template. The template can be
found [here](https://github.com/google/ExoPlayer/blob/release-v2/.github/ISSUE_TEMPLATE/question.md).

Unfortunately we can't answer unclear questions or those with insufficient information.

[2022-06-28 14:58] #10388 closed, assigned to rohitjoins

[2022-06-28 16:58] Sray69 commented on #8396
I was wondering if there is any update on this issue? I can confirm that this is still an issue with the new Fire TV Stick 4K Max and ExoPlayer 2.17.1.

There was mention above of a possible workaround. Using ffmpeg? Re-encoding/Re-mapping channels? ExoPlayer plays AV1 files better than any other player on the Fire Stick. I really hope it gets worked out.

[2022-06-29 07:25] GouravSna opened #10389 "Latency in the live media as compare to Shaka Player"
Hi,

I am checking a live content and can clearly see that in Shaka Player [demo app](https://shaka-player-demo.appspot.com/demo/#audiolang=en-GB;textlang=en-GB;uilang=en-GB;panel=HOME;build=uncompiled), player is around 5 seconds before the live edge but in ExoPlayer it is around 30 seconds. There is no `suggestedPresentationDelay` in the media.

And if i configure the LowLatency with target offs

[2022-06-29 08:51] tonihei commented on #8396
There is no progress on the underlying platform bug I'm afraid.

The workaround mentioned above is to use a `ChannelMappingAudioProcessor` (that can be injected into the `DefaultAudioSink` returned from `DefaultRenderersFactory.buildAudioSink`). This processor can reorder channels as required. However, you'd need to know exactly when the problem will occur in advance to be able to add the processo

[2022-06-29 10:27] Waldmann375 commented on #4592
Do it please, I really need this feature.

[2022-06-29 10:28] AquilesCanta commented on #4592
We cannot provide any timelines, but we are making progress and hope to publish something during the end of August.

[2022-06-29 15:44] icbaker commented on #10372
https://exoplayer.dev/pros-and-cons.html sums up the general trade-offs of using ExoPlayer vs Android's framework-level media components. Most of these are relevant to this question. It basically boils down to ExoPlayer giving an app more control over exactly what functionality is shipped, at the cost of APK size - because `MediaExtractor` behaviour might vary per API level (or per device) if ther

[2022-06-29 15:44] #10372 closed, assigned to icbaker

[2022-06-29 16:10] ehsan9295 opened #10390 "DecoderInitializationExceptions"
**Issue description:**
We are using ExoPlayer in our live TV app. After updating ExoPlayer from version **2.11.3**  to **2.18.0** (also tried with **2.17.1**, **2.16.1** , and **2.15.1** ), we get _DecoderInitializationExceptions_ from time to time in our app in two scenarios. This causes that  the streams not being played as desired. It looks like you are playing them in slow motion with frame dr

[2022-06-29 16:12] samfundev opened #10391 "Allow app to update StyledPlayerView fullscreen state 'out of band'"
### Use case description
When using StyledPlayerControlView's fullscreen button, it should be able to follow the orientation of the device. If the user rotates into landscape, the button should exit fullscreen. Not try to enter fullscreen again.

### Proposed solution
StyledPlayerControlView should watch for orientation changes and trigger fullscreen updates if the device enters landscape.

### Al

[2022-06-29 16:12] raghav2945 opened #10392 "[Crash] NullPointerException - com.google.android.exoplayer2.util.Util.isTv(Util.java:2232)"
### ExoPlayer Version

2.15.1

### Devices that reproduce the issue

Multiple devices:

1. Samsung
2. Motorola
3. TECNO MOBILE

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Not tested

### Reproduction steps

Unknow. As this issue is not locally replicated. Issue has been reported over firebase and the count is high.

### Expected result

No crash

[2022-06-30 00:54] akrulec opened #10393 "Using DefaultLoadErrorHandlingPolicy with cached DataSource"
I have create a simple cache `DataSource.Factory` for caching audio and video tracks.  It looks like the following:

[code]

However, I have noticed that this offers not retry if the device is not online when the video was requested. So I tried searching around and I found that I could potentially attach a `LoadErrorHandlingPolicy` to the `MediaSource`, so when I call `setMediaSource` on `ExoPlaye

[2022-06-30 01:00] XiaocXC commented on #10378
try to use TextureView instead of SurfaceView

[2022-06-30 01:04] #10141 closed, assigned to rrfrias

[2022-06-30 01:04] #10125 closed, assigned to rrfrias

[2022-06-30 03:14] Sray69 commented on #8396
Thanks for the response. I ended up finding a player that actually works.

[2022-06-30 03:45] DinhLap96 opened #10394 "Use MediaSessionCompat with Exoplayer"
I am developing app for androidTV.

My application used MediaSessionCompat , and showed a "Now Playing notification [card] tag" as in the picture
https://drive.google.com/drive/folders/1EGxy3rV6bZFdQomnQ5SwoLbABsZ5iFau?usp=sharing

But still rejected by Google Play. Please help me fix this.

My Code:

    private fun createMediaSession() {
            mSession = MediaSessionCompat(applicationConte

[2022-06-30 05:28] Tolriq commented on #10381
Did you get the file?

[2022-06-30 06:31] Tupsi commented on #8396
My problem occured in the software emby. After convincing the guys finally with this that there is actually a problem in the ExePlayer code (which they use underneath) they just switched to software decode and let them handle it (guess with ffmpeg) and now everything is fine. Hope you guys get it fixed someday, I have my fingers crossed! After all, it was a nightmare convincing the guys that I am

[2022-06-30 09:59] rohitjoins commented on #10381
Cannot access the file as it needs access to Google drive.

[2022-06-30 09:59] Warkey1991 commented on #10390
We are using ExoPlayer in Viewpager2. have the same problem

[2022-06-30 10:09] Tolriq commented on #10381
@rohitjoins I think I've fixed the perms to allow anyone. Else I'll put the file elsewhere.

[2022-06-30 11:10] marcbaechinger commented on #10394
We can't help you regarding Play Store rejections I'm afraid.

I leave this issue open for a while, so if someone else knows in detail how the Now Playing card needs to be done, they can probably help you with this.

[2022-06-30 12:54] rossbeazley opened #10395 "Add Download Manager release and recreate support to DownloadService"
### [REQUIRED] Use case description
Within the life of one application process we would like to release DownloadManager in order to significantly reconfigure the Download Managers databases etc to support user logout / login. It looks like by design the expectation is to only support one instance of Download Manager per application process https://github.com/google/ExoPlayer/blob/r2.18.0/library/c

[2022-06-30 13:07] suraneau commented on #3752
Thank you @tonihei for the feedback you provided to our design proposal ["Add support for thumbnail/preview images from AdaptationSets in DASH"](https://docs.google.com/document/d/17ZyjUDUNX5D8YZx4-DidcnsHk0SXVR1ZSZxnSSOrnJU/edit?usp=sharing).

We are very pleased with the efforts and work done so far on the integration of trick play for HLS. Especially the references to tickets and PRs have given

[2022-06-30 13:08] tonihei commented on #10377
It isn't valid for a DASH manifest to remove or add `Representation` nodes within the same `Period`. See https://dashif-documents.azurewebsites.net/DASH-IF-IOP/master/DASH-IF-IOP.html#timing-mpd-updates (in particular the point about adaptation sets in a period must not change and representations in adaptation sets must not change).

If you want to handle changes in the available representations,

[2022-06-30 13:08] #10377 closed, assigned to tonihei

[2022-06-30 13:26] tonihei commented on #10351
Yes, the `Aes128DataSource` is used automatically for full segment encryption.

I'm still not entirely sure what you are trying to customize :)  If I understand correctly you want
 1. Change the URL of the key server.
     - This can be done by either wrapping the `HlsPlaylistParserFactory` or by using a `ResolvingDataSource` that amends the URI if required.
 2. Change the actual key returned from

[2022-06-30 13:58] marcbaechinger commented on #10395
Thanks Ross for the feature request!

I'm not sure when we have a chance to look into this. If you want to do a pull request in the meantime. please do! :) If possible this PR should be done in the new repo against the `main` branch: https://github.com/androidx/media/tree/main

[2022-06-30 14:42] rossbeazley commented on #10395
ah yes, sorry, do you want me to move the issue to that repo instead?

[2022-06-30 14:52] rohitjoins commented on #10381
Was able to access the file and reproduce the issue on the demo app version 2.18.0. We're looking into this.

[2022-06-30 14:55] suraneau commented on #3752
@tonihei , i would like to get in touch with you regarding CLA. How can i contact you?

[2022-06-30 15:24] marcbaechinger commented on #10395
Nah, fine to have the issue here. If you do a pull request, handling it is much easier for us when you use the other repo as we internally use the new module/package structure.

[2022-06-30 15:54] Sray69 commented on #8396
Thanks for that info. I don't have much confidence it will get fixed any time soon. Which is odd to me because I would think it affects a lot of people. There are a lot of players/apps that are built off of ExoPlayer. And some big ones like Emby, Plex, Jellyfin, etc. I know Opus has not been a common codec for 5.1 content but it seems to be becoming one of the most popular for its quality and size

[2022-06-30 20:42] raghav2945 commented on #10392
This error is not always reported by Util. Other classes that report the same details include WakeLockManager, AudioFocusManager, AudioBecomingNoisyManager, and so on. However, the one below is common in all.

[2022-07-01 10:11] rohitjoins commented on #10384
Hi! Please provide complete information as requested in the issue template. The issue template can
be found [here](https://github.com/google/ExoPlayer/issues/new?assignees=&labels=bug%2Cneeds+triage&template=bug.yml).
If you're unable to share [bug reports](https://developer.android.com/studio/debug/bug-report) or
test content publicly, please send them to dev.exoplayer@gmail.com using a subject i

[2022-07-01 10:21] tonihei commented on #10380
Whenever `NoSuchMethodError` or similar problems come up, it's usually one of two things:
 1. A build problem where the build system uses incompatible intermediate files to building the apk. You can try to fix this (or exclude it as the reason) by fully cleaning your project in Android Studio ("Build -> Clean project") and also running "File -> Invalidate Caches".
 2. An unintended version upgrade

[2022-07-01 11:08] tonihei commented on #10361
I can easily reproduce the problem on a Pixel 5.

The reason playback is stuck is that:
 - The file declares two video tracks (one using HEVC, one using AVC).
 - ExoPlayer selects the AVC track on my test device (because the HEVC one isn't supported by the device's decoders)
 - When reading the file in sequential order, only samples for the HEVC track are read and not a single AVC sample. I even t

[2022-07-01 12:34] tonihei commented on #10383
You already provided the correct intention behind `AdaptationCheckpoints` : allow multiple track groups to adapt to the bitrate at the same time. Because they need to share the available *total bandwidth*, each track group only has an *allocated bandwidth* to use. The sum of all *allocated bandwidths* should generally be the *total bandwidth*.

`AdaptiveTrackSelection.Factory` calculates the mappi

[2022-07-01 13:44] tonihei commented on #10346
Thanks for reporting. It seems this is a known issue with the API 33 emulator system image (internal reference b/234520350) and will be fixed by the next emulator release.

[2022-07-01 13:45] #10346 closed, assigned to tonihei

[2022-07-01 14:02] amiantoch opened #10396 "Intercepting DAI stream URL using the ExoPlayer IMA extension"
Hi,

we are currently trying out the ExoPlayer IMA extension for IMA server side inserted ad streams in our android app, by using `ImaServerSideAdInsertionMediaSource`. We encountered the following problem and would like to ask you how to best handle it.

We have been using the trick to have a placeholder @TOKEN@ configured in ad manager and replace it in our client with the proper auth token. The

[2022-07-01 14:11] rohitjoins commented on #10389
You can reduce latency by using a custom load control as explained [here](https://stackoverflow.com/questions/69748951/how-to-get-low-latency-in-exoplayer-rtsp-live-streaming-on-android).

[2022-07-01 15:44] onikaii opened #10397 "StyledPlayerView Overload resolution ambiguity. All these functions match."
Hi, I have this problems

When I try to use setControllerVisibilityListener  in StyledPlayerView, this error appears

Overload resolution ambiguity. All these functions match.
public open fun setControllerVisibilityListener(listener: StyledPlayerControlView.VisibilityListener?): Unit defined in com.google.android.exoplayer2.ui.StyledPlayerView
public open fun setControllerVisibilityListener(listen

[2022-07-01 15:45] tonihei commented on #10389
Assuming you mean live latency, this is likely related to how your manifest is configured and which values the players read and use. In addition, the actual live latency may depend on any clock synchronization issues (if a `UTCTiming` element is present) and also on the actual buffering speed in case the player determines it can't get any closer to avoid rebuffers.

I'm probably able to give you a

[2022-07-01 16:41] GouravSna commented on #10389
Hi @tonihei ,

I have sent the media again. It is tokenized URL hence it was unauthorized. Please use India or Israel VPN for the test.

-Thanks

[2022-07-02 08:26] akshansh01 opened #10398 "StandaloneDatabaseProvider is deleting other DBs in application files."
Hi, I'm following this guide to have offline download in our application.
https://exoplayer.dev/downloading-media.html#creating-a-downloadmanager

In my application, I have some native code, which uses sqlite plugin to load / create databases in application folder under specific directory. Let's say `DB1`.

Now when I integrated downloadManager, and started the service, it's deleting all `DB1 db`

[2022-07-02 11:11] LeifDong opened #10399 "How to play automatically after executing seekTo"
Hi there
My Application used MediaSessionCompat and MediaSessionConnector like the UAMP. the exoPlayer will response and seekTo next song when I send a skipToNext action. But only when it is playing, it will be automatically played after the skipToNext action. It just update metadata and don't automatcially play when it's not playing. I try to add "player.playWhenReady = true" in the TimelineQueue

[2022-07-02 12:18] LeifDong commented on #10399
I found that the playerError affects playback.So I change my code to this:
[code]
It's worked. I wonder if this is the right way. Hope to get your help, thanks.

[2022-07-02 14:43] moneytoo commented on #9933
CMake 3.22.1 is still not in stable so I had to install it from canary (`--channel=3 "cmake;3.22.1"` when using `sdkmanager`).

However just as the OP, I'm unable to build the ffmpeg extension with Cmake 3.22.1 and NDK 23.2.8568313.

[code]

[2022-07-03 11:06] coveroid opened #10400 "How to normalise output audio streams?"
Hello, First of all thanks for the great player you made.

I'm facing a problem, i play different streams (MP3,HLS, Dash etc ...) with the exoplayer , but none all of them have the same output volume result. I would like to found a way to normalize the output volume.

I tried         myAudioSink.setVolume(1F); but seems like the streams with low internal volume , cannot reach the maximum speaker v

[2022-07-03 12:46] moneytoo opened #10401 "Forced subtitle track may not be displayed and selectable by the user"
### ExoPlayer Version

2.18.0

### Devices that reproduce the issue

* Samsung Galaxy S21 FE running Android 12

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

Yes

### Reproduction steps

1. Open the attached video file in the demo app

### Expected result

The mkv file contains a single subtitle track with [forced flag](https://www.matroska.org/tec

[2022-07-04 02:47] InfinityLoop1308 opened #10402 "Can not stream an encrypted hls video"
### ExoPlayer Version

2.17.1

### Devices that reproduce the issue

NA

### Devices that do not reproduce the issue

NA

### Reproducible in the demo app?

Not tested

### Reproduction steps

I can not provide the url since it will expire in a few minutes, but I can provide the final `.ts` file [tmp](https://file.io/zWxD1PwcCsWU).
When I debug it, it seems the `HlsMediaChunk.java:495` will execut

[2022-07-04 06:20] akshansh01 commented on #10398
For others: When I moved my DBs used by native code in application 'databases' folder, it was not getting deleted. Earlier it was just sitting in application file dir.

So, if you need to have multiple sqlite databases, keep in `context.getDatabasePath()`, by making a new file/folder there.

I'm not sure why sqlite is deleting dbs when not in 'database' folder. And this issue came only with 'Downl

[2022-07-04 11:02] jagdish-dev opened #10403 "How to import Exo player libray or aar file to Android AOSP"
This Android Open Source Project (AOSP) repository offers the information and source code needed to create custom variants of the Android OS, port devices, and accessories for the Android platform.

The ExoPlayer library is located in the external folder of the Android AOSP framework.
**Here, while integrating the existing ExoPlayer to any class it produces the resources import errors.**
**package

[2022-07-04 13:16] DonnyRozendal commented on #9654
Any updates on this? Quite some time has passed, and the performance on Compose is not ideal I would say. Seeing some black screens when rendering the View and it looks glitchy at times.

[2022-07-04 13:51] marcbaechinger commented on #10403
ExoPlayer as the library here in this repository providing classes in the packages `com.google.android.exoplayer2.*` is kind of legacy already in favour of Media3 that you can find here in a new module and package structure: https://github.com/androidx/media

Both are external libraries with Media3 being part of the AndroidX/Jetpack libraries. The source code is hosted on GitHub in this repo and t

[2022-07-04 14:05] marcbaechinger commented on #10399
It does not look right to me to set `playWhenReady` to true when a user skips to the next item. A user probably wants to skip trough the playlist when it is paused, and then start playback when they found the item they want to play.

For the `PlaybackError` you can listen to the `Player.Listener.onPlaybackError` to get notified when a playback error occurs. In this case you can correct the problem

[2022-07-04 19:55] domier commented on #10227
This issue seems to have been resolved by the 2.18 release.  Could have been something else, but either way it's gone!  Closing.

[2022-07-04 19:55] #10227 closed, assigned to tonihei

[2022-07-04 23:00] blvckcoded commented on #8280
Any update on this? I am getting this issue with a playlist of ~100 media items

[2022-07-04 23:13] blvckcoded opened #10404 "App crashes from `java.lang.IllegalArgumentException` on `CastPlayer.setMediaItems()` when passing large playlist"
### ExoPlayer Version

2.18.0

### Devices that reproduce the issue

* Pixel 5 running Android 12

### Devices that do not reproduce the issue

_No response_

### Reproducible in the demo app?

No

### Reproduction steps

1. Create a "playlist" of around 100-150 media items
2. Attempt to play playlist of media items with ExoPlayer and notice you will have no issues
3. Now switch to CastPlayer and

[2022-07-05 00:09] dkirky commented on #10390
I am encountering the same issue on my Nvidia Shield while viewing the CTV app.

[2022-07-05 06:07] jagdish-dev commented on #10403
Hello Marc,
Thank you for the feedback.

We have used com.google.android.exoplayer2.* in the Android Application and it is working perfectly fine to play the video.
We have a requirement to integrate ExoPlayer in Android System AOSP. White adding this library to **Android. bp** file, it is unable to access in class. We have used the below-mentioned statements in Android. bp.

java_import {
name: "

[2022-07-05 06:20] ybai001 opened #10405 "How to call setConstrainAudioChannelCountToDeviceCapabilities(false) in demo app?"
In latest code (dev branch), variable constrainAudioChannelCountToDeviceCapabilities is set to TRUE in defaultTrackSelector.

I'd like to change it to FALSE in my demo app. The first idea is in PlayerActivity::initializePlayer() method, adding one line as below:
` player = playerBuilder.build();`
`trackSelectionParameters`
`    .buildUpon()`
`    .setConstrainAudioChannelCountToDeviceCapabilities(

[2022-07-05 09:45] ojw28 commented on #2092
@AquilesCanta has been looking at adding AVI support, and can probably provide an update here.

[2022-07-05 09:49] ojw28 commented on #3040
There's little evidence that this is still a problem, given modern devices and a continued shift toward mire efficient container formats (i.e., FMP4). Closing as obsolete.

[2022-07-05 09:49] #3040 closed, assigned to ojw28

[2022-07-05 09:53] #10239 closed, assigned to ojw28

[2022-07-05 09:57] AquilesCanta commented on #2092
Initial support is ready and will be released soon. But as explained in https://github.com/google/ExoPlayer/pull/9915, support is incomplete and we'll need support from the community to report (and ideally send PRs for) any issues you encounter.

For those, please file fresh issues.

EDIT: AVI support exists in the dev branch.

[2022-07-05 09:57] #2092 closed, assigned to AquilesCanta

[2022-07-05 10:00] ojw28 commented on #7565
I believe we've cleaned up the vast majority of non-inclusive language, and have also incorporated a check into our code pre-submit to make sure we don't introduce any more. In the few cases where non-inclusive language remains, it's most likely because it would have been very disruptive to correct it.

[2022-07-05 10:00] #7565 closed, assigned to ojw28

[2022-07-05 10:09] marcbaechinger commented on #10404
Duplicate of #8280

[2022-07-05 10:09] #10404 closed, assigned to marcbaechinger

[2022-07-05 10:13] marcbaechinger commented on #10403
You should talk to AOSP people about this I think. I don't think we are able to contribute here I'm afraid.

[2022-07-05 10:35] ojw28 commented on #6763
I don't think we have any plans to add support for this directly in the library. You would have to implement it in your own UI components.

[2022-07-05 10:35] #6763 closed, assigned to ojw28

[2022-07-05 10:42] #10379 closed, assigned to marcbaechinger

[2022-07-05 12:07] tonihei commented on #8595
From the player's perspective, this is mainly the same as #1574, which tracks support for xlinks and publishing the correct ad metadata in the player. So I'd just duplicate to the other issue. If you think this isn't correct and this is tracking something else, please let us know.

[2022-07-05 12:07] #8595 closed, assigned to tonihei

[2022-07-05 12:50] tonihei commented on #819
ExoPlayer already uses the `minBufferTime` when figuring hour how far away from the live edge it should be playing. This is to ensure we always leave at least one GOP in the buffer (as specified by `minBufferTime`) so the decoder never runs out of buffers.

This issue is talking about the initial start up of the stream though, which I believe is irrelevant as ExoPlayer waits until it has all the n